
    
  



@{ViewBag.Title = "Find a taxi or minicab";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/book-a-taxi";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Find a taxi or minicab</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Find a taxi or minicab</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains some of the ways that you can find a taxi or minicab. 
        
      </div>
    
    
      Minicabs can only be booked in advance.
Private hire vehicles (minicabs) must be booked in advance through a licensed private hire operator. Use our <a href="http://tfl.gov.uk/forms/12389.aspx">search form</a>  to find a local minicab service.
<p> </p>
<p>London's famous taxis (black cabs) can be booked in advance, hailed on the street, or picked up from designated taxi ranks.</p>
      
           
      

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Taxi company</strong></td>
			<td style="width:258px"><strong>Contact details</strong></td>
			<td style="width:230px"><strong>Areas served</strong></td>
		</tr>
		<tr>
			<td>One-Number Taxi</td>
			<td style="width:258px">0871 871 8710</td>
			<td style="width:230px">All London</td>
		</tr>
		<tr>
			<td>
			<p><a href="http://www.comcab-london.co.uk">Computer Cab</a></p>
			</td>
			<td style="width:258px">
			<p>020 7908 0207<br />
			Credit/debit card bookings: 020 7432 1432<br />
			Cash bookings: 020 7908 0207<br />
			<a href="http://www.comcab-london.co.uk/bookings">Comcab bookings</a></p>
			</td>
			<td style="width:230px">All London</td>
		</tr>
		<tr>
			<td><a href="https://www.dialacab.co.uk/">Dial-A-Cab</a></td>
			<td style="width:258px">020 7253 5000</td>
			<td style="width:230px">All London</td>
		</tr>
		<tr>
			<td><a href="http://www.radiotaxis.co.uk/book-taxi/">Radio Taxis</a></td>
			<td style="width:258px">020 7272 0272</td>
			<td style="width:230px">All London</td>
		</tr>
		<tr>
			<td><a href="http://www.sw4.swlondontaxiranks.com">Clapham Common taxi rank (SW4)</a></td>
			<td style="width:258px">0800 118 2494<br />
			<a href="http://Office&#64;sw4.swlondontaxiranks.com ">Office&#64;sw4.swlondontaxiranks.com</a></td>
			<td style="width:230px">Clapham Common and surrounding areas.</td>
		</tr>
		<tr>
			<td>Southside Centre taxi rank (SW18)</td>
			<td style="width:258px">
			<p>0800 211 8087<br />
			<a href="mailto:wandsworthtaxirank&#64;gmail.com">wandsworthtaxirank&#64;gmail.com</a></p>
			</td>
			<td style="width:230px">Wandsworth Southside Centre and surrounding areas</td>
		</tr>
		<tr>
			<td>Sutton taxi rank (SM2)</td>
			<td style="width:258px">0800 118 2192<br />
			<a href="mailto:suttontaxirank&#64;gmail.com">suttontaxirank&#64;gmail.com</a></td>
			<td style="width:230px">Sutton and surrounding areas.</td>
		</tr>
		<tr>
			<td>Taxi Call Wimbledon</td>
			<td style="width:258px">020 8099 7711</td>
			<td style="width:230px">Immediate hiring: Wimbledon and surrounding areas</td>
		</tr>
		<tr>
			<td style="vertical-align:top">Centre Court Wimbledon Taxi Rank</td>
			<td style="vertical-align:top; width:258px">
			<p>0800 211 8914<br />
			<a href="mailto:wimbledoncentrecourttaxirank&#64;gmail.com">wimbledoncentrecourttaxirank&#64;gmail.com</a></p>
			</td>
			<td style="vertical-align:top; width:230px">
			<p>Wimbledon and surrounding areas</p>
			</td>
		</tr>
	</tbody>
</table></div>
<p><strong></strong></p>
<p><strong>Terms and conditions </strong></p>
<p>There is a charge when booking by phone, and other terms and conditions may vary, so please check when booking.</p>
<p>If you would like to comment or complain about taxi services in London please <a href="/help-and-contact/taxi-and-private-hire-comments">contact us online</a>. </p>
<p>&nbsp;</p>
<br />
<p>&nbsp;</p>

 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Share your taxi with someone else in the queue";}
        
            
        


 