
    
  


<!-- rhroot -->
@{ViewBag.Title = "Taxis & minicabs";}
@{ViewBag.Keywords = "Minicab ,Minicabs ,Private Hire ,Taxi,Taxi & Private Hire ,Taxis,Taxis & Minicabs ,TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Taxis & minicabs</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Taxis & minicabs</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/taxi-partner.png" alt="Taxis & minicabs logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser taxi">
  
  <a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey?intcmp=35121"  data-img="/cdn/static/cms/images/promos/taxi-minicabs-image.jpg" data-img-breakpoint="" data-img-alt="Taxi & minicabs landing page">
    <img src="/cdn/static/cms/images/promos/taxi-minicabs-image_rdax_600x300.jpg" alt="Taxi & minicabs landing page" />
    <div class="text-link sit-top">
      <h2>Black taxis & private hire</h2>
      <p>Information about the safe, quick and hassle-free way to get around</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/modes/taxis-and-minicabs/taxi-fares?intcmp=4223" >
        <img src="/cdn/static/cms/images/promos/taxi-landing-10_rdax_400x200.jpg" alt="taxi-minicab-landing image" />
        
        <div class="text-link">
             <h2>Black taxi fares</h2>
            <p>How and what to pay for your taxi journey</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/index?intcmp=52" >
        <img src="/cdn/static/cms/images/promos/taxi-accessibility_rdax_400x200.jpg" alt="Black taxi accessibilty image" />
        
        <div class="text-link">
             <h2>Black taxis & accessibility</h2>
            <p>Find out more about one of the most accessible ways to travel</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/modes/taxis-and-minicabs/book-a-taxi?intcmp=4226" >
        <img src="/cdn/static/cms/images/promos/taxis3pic_rdax_400x200.jpg" alt="taxisimage2" />
        
        <div class="text-link">
             <h2>Find a taxi or a minicab</h2>
            <p>Find out how to book a taxi or minicab near you</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/safer-travel?intcmp=21377" >
        <img src="/cdn/static/cms/images/promos/cabwise-landinghero2_rdax_400x200.jpg" alt="Be Cabwise" />
        
        <div class="text-link">
             <h2>Safer travel</h2>
            <p>Stay safe - always book your minicab</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 09:00-17:00 Monday to Friday<br />
(excl. Bank Holidays).</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 4000
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-taxi-and-private-hire">Fill in a form</a>.</p>
        </div>
        
        
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/taxis-and-minicabs/taxicard-and-capital-call" class="plain-button">Taxicard</a>
<a href="/campaign/tube-improvements/what-we-are-doing/night-tube" class="plain-button">The Night Tube</a>
<a href="/corporate/about-tfl/what-we-do" class="plain-button">Our role</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Licence checker</span>
    <div class="fact-box-content">
        Find out whether a private hire (minicab) driver, vehicle or operator is licensed
        <div class="vertical-button-container">
        
        <a href="/info-for/taxis-and-private-hire/licensing/licence-checker"  class="plain-button">Check now</a> 
        </div>
    </div>
</div>
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Information about taxis and minicabs in London. ";}
        
            
        


 