
    
  



@{ViewBag.Title = "Taxicard";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/taxicard-and-capital-call";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxicard</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxicard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you have mobility impairments and have trouble using public transport, you may be able to get subsidised taxi and minicab travel in London.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/man-using-taxi-ramp-290.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/man-using-taxi-ramp-290-700x438.jpg" alt="Man using wheelchair ramp to access taxi" />
        
        </a>
        
        
    </div>   
 </div>
 <div>

<p>You can use Taxicard wherever you live in London.</p>

<p>You may be eligible for Taxicard if you:</p>

<ul>
	<li>Receive the higher rate mobility component of the Disability Living Allowance or the higher rate Attendance Allowance</li>
	<li>Are registered blind</li>
	<li>Receive the War Pension Mobility Component</li>
</ul>

<p>If none of these apply to you, you may still be eligible if your GP endorses your application. You may have to have a mobility assessment.</p>

<p>For more information, costs and how to apply, visit the <a href="https://www.londoncouncils.gov.uk/services/taxicard/apply-taxicard-your-borough">Taxicard website</a>&nbsp;or call 020 7934 9791.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londoncouncils.gov.uk/services/taxicard/yourborough/" class="plain-button">London Taxicard</a>
<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Subsidised taxi and minicab travel in London for people who cannot use public transport";}
        
            
        


 