
    
  



@{ViewBag.Title = "Taxi fares";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/taxi-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi fares</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi fares</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Taxi fares vary depending on when you travel. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<h2>Typical fares and journey times</h2>

<p>This table shows typical fares and journey times based on distance for&nbsp;<a href="/modes/taxis-and-minicabs/taxi-fares/tariffs">the different tariffs.</a> Fares and journey times may be higher if there are delays or heavy traffic.</p>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Distance</strong></td>
			<td><strong>Approx<br />
			journey time</strong></td>
			<td><strong>Monday to Friday<br />
			05:00 - 20:00<br />
			(Tariff 1)&nbsp;</strong></td>
			<td><strong>Monday to Friday<br />
			20:00 - 22:00<br />
			Saturday and Sunday<br />
			05:00 - 22:00<br />
			(Tariff 2)</strong></td>
			<td><strong>Every night<br />
			22:00 - 05:00<br />
			Public holidays<br />
			(Tariff 3)</strong></td>
		</tr>
		<tr>
			<td>1 mile</td>
			<td>6 - 13 mins</td>
			<td>&pound;6.20 - &pound;9.60</td>
			<td>&pound;6.20 - &pound;9.60</td>
			<td>&pound;7 - &pound;9.60</td>
		</tr>
		<tr>
			<td>2 miles</td>
			<td>10 - 20 mins</td>
			<td>&pound;9.40 - &pound;15</td>
			<td>&pound;9.80 - &pound;15</td>
			<td>&pound;10.60 - &pound;15</td>
		</tr>
		<tr>
			<td>4 miles</td>
			<td>16 - 30 mins</td>
			<td>&pound;16 - &pound;24</td>
			<td>&pound;18 - &pound;24</td>
			<td>&pound;18 - &pound;28</td>
		</tr>
		<tr>
			<td>6 miles</td>
			<td>28 - 40 mins</td>
			<td>&pound;25 - &pound;31</td>
			<td>&pound;31 - &pound;34</td>
			<td>&pound;31 - &pound;34</td>
		</tr>
		<tr>
			<td>Between Heathrow and<br />
			Central London</td>
			<td>30 - 60 mins</td>
			<td>&pound;49 - &pound;92</td>
			<td>&pound;49 - &pound;92</td>
			<td>&pound;49 - &pound;92</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>There is a minimum fare of &pound;3.20 at all times.</p>

<p>The passenger will be expected to pay the full fare displayed on the meter at the end of the journey unless the driver and passenger agree on the final fare to be charged before the start of the journey.</p>

<p>Once a taxi journey reaches approximately six miles, the rate at which the taxi fare increases changes. During Tariff 1 and 2, the rate increases and during Tariff 3, the rate decreases.</p>

<p>Fares for destinations outside Greater London may be negotiated between the passenger and driver before the journey. If no fare is agreed before the start of the journey then the maximum fare will be that shown on the meter at the end of the journey.</p>

<h2>What you can expect from the driver</h2>

<p>Unless they have a good reason not to, drivers must:</p>

<ul>
	<li>Accept any hiring up to 12 miles or up to one hour duration, if the destination is in Greater London</li>
	<li>Accept any hiring up to 20 miles if starting at Heathrow Airport</li>
</ul>

 <div>

<h2>Extra charges</h2>
<p>Extra charges must be added on the meter at the start of the journey. There are no extra charges for luggage, additional passengers or carrying of assistance dogs. </p>
<h3>Telephone and online bookings</h3>
<p>There is an extra charge of up to &pound;2 if the taxi is booked by phone or online. When booking a taxi, other charges may also apply and terms and conditions may vary so please check when you book.</p>
<h3>Heathrow Airport</h3>
<p>There is an extra charge of &pound;2.80 for journeys that start from Heathrow Airport taxi ranks.</p>
<h3>Christmas and New Year</h3>
<p>There is an extra charge of &pound;4 for journeys made between 20:00 on 24 December and 06:00 on 27 December and between 20:00 on 31 December and 06:00 on 2 January.</p>
<h3>Bank cards</h3>
<p>There is no extra charge when paying by credit or debit card. <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/accepting-card-payments">All taxis must have a working fixed card payment device in the passenger compartment and accept payment by contactless card.</a></p>
<h3>Soiling</h3>
<p>The driver may charge the passenger up to &pound;60 for soiling if it requires the taxi to be taken out of service for cleaning.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-private-hire-information.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire information </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<p>The information on this page is effective from Saturday&nbsp;11 January 2020.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares/tariffs">Tariffs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Table showing  typical fares and journey times based on distance for three types of tariff. ";}
        
            
        


 