


@{ViewBag.Title = "Art on the Underground unveils artwork by Heather Phillipson";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Art on the Underground unveils artwork by Heather Phillipson</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Art on the Underground unveils artwork by Heather Phillipson</h1>
        <div class="content-page-press-release">
        07 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Part of Art on the Underground's 2018 programme of women artists as part of the Mayor of London's #BehindEveryGreatCity campaign
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new work by Phillipson is the most expansive work ever created for this site and demonstrates our ambition"</div>
        <div class="quote-footer">
            <div class="quotee-name">Eleanor Pinfield</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>80m artwork will fill the disused platform at Gloucester Road Underground station for the next 12 months</li>
    <li>Images can be found here: <a href="http://www.flickr.com/photos/tflpress/albums/72157694574900842">https://www.flickr.com/photos/tflpress/albums/72157694574900842</a></li>
</ul>
<p>Art on the Underground has today unveiled my name is lettie eggsyrub, a new commission by British artist, Heather Phillipson, on the disused platform at Gloucester Road Underground station.  The artwork is Art on the Underground's most ambitious project to date, and will be on display at the platform for the next 12 months.</p>
<p>The artwork is a focal point  of Art on the Underground's year-long programme of women artists, which forms part of the Mayor of London's #BehindEveryGreatCity campaign  &#45; a major new campaign to draw attention to the progress that has been made by women over the past 100 years and champion the achievements and contributions that women make to London.</p>
<p>Heather Phillipson works in video, sculpture, online media, music, drawing, poetry and installation.</p>
<p>Relationships between human and non-human animals are a recurring theme in her work and for this commission she will focus on the egg as an object of reproduction, subject to human interference.</p>
<p><em>my name is lettie eggsyrub</em> features various large-scale fibreglass sculptures including two 4-metre-high 3D eggs, a huge automated whisk, twelve 65&quot; video screens and 16 printed panels alongside oversized suspended images. Phillipson's surreal, comic, and at times uncomfortable aesthetics will extend over the entire length of the 80m platform.</p>
<p>In addition to this installation, Phillipson has created a sequence of images and slogans on vinyl panels that will run the length of the escalator panels at Notting Hill Gate and Bethnal Green Underground stations.</p>
<p><strong>Heather Phillipson, said:</strong>  &quot;my name is lettie eggsyrub enlarges the egg as a nucleus of conflict. I wanted Gloucester Road station to become a parallel 'scape' &#45; a subterranean disturbance, in which hyper-real, creaturely simulations and analogue counterparts dwarf passengers. Using the bold, simplified visual techniques of early computer gaming graphics, both stylistically and as an organising principle, the passing platform becomes a sequence of overlapping vulnerabilities and escape tactics, in which so-called human and avian &#45; winner/loser &#45; roles might reverse.&quot;</p>
<p><strong>The Mayor of London, Sadiq Khan, said:</strong> &quot;Heather Phillipson is a bold voice in contemporary British art, and her work at Gloucester Road station is an ambitious project that makes the most of this disused platform space. This artwork is part of a year-long programme focusing on women artists, commissioned by Art on the Underground, to mark 100 years since the first women secured the right to vote. It champions contemporary women artists in the biggest public art gallery in the world and I encourage everyone to look out for artworks at Southwark and Brixton station too.&quot;</p>
<p><strong>Eleanor Pinfield, Head of Art on the Underground, said:</strong> &quot;The disused platform at Gloucester Road is a unique location within the London Underground and one that Art on the Underground has been using since the programme's inception. This new work by Phillipson is the most expansive work ever created for this site and demonstrates our ambition. Heather has created a phenomenal work with large scale sculpture and video that will be seen and enjoyed by millions. Art on the Underground's 2018 programme is bringing a broad range of women artists' voices to London, questioning dominant power structures of the city. Through her new work, Phillipson more than rises to that challenge, questioning our everyday reality and the very basis of our existence &#45; the egg and its myriad social meanings.&quot;</p>
<p><strong>Mark Wild, London Underground Managing Director, said:</strong> &quot;This is a truly exceptional installation and I'm thrilled that an artwork of this magnitude is on display on the Tube and can add a creative highlight for everyone who uses it every day.&quot;</p>
<p>2018 is the 100 year anniversary of the 1918 Representation of the People Act, which gave some women the right to vote. To mark this occasion, Art on the Underground has commissioned a year-long programme exclusively of women artists. This will include major commissions from Heather Phillipson at Gloucester Road station and Linder at Southwark station, the first in a new programme of works at Brixton station by Nigerian-born artist Njideka Akunyili Crosby, and Tube Map covers by Romanian nonagenarian artist Geta Brătescu, French artist Marie Jacotey, and British artist Jade Monserrat. The programme is part of #BehindEveryGreatCity &#45; a major new campaign by the Mayor of London to draw attention to the progress that has been made by women over the past 100 years and champion the achievements and contributions that women make to London. Art on the Underground's 2018 programme is supported by <a href="http://www.THEOUTNET.COM">THEOUTNET.COM</a></p>
<p>For more information please visit <a href="http://www.art.tfl.gov.uk">art.tfl.gov.uk</a></p>
<p> </p>
<hr />
<p><strong><span style="text-decoration: underline;">Notes to editors</span></strong></p>
<p><strong>Learning Guides</strong></p>
<p>Building on the success of past Learning Guides, Art on the Underground will be producing the 'Heather Phillipson, Gloucester Road Learning Resource, Key Stages 3 &#45; 5'.</p>
<p><strong>Events</strong></p>
<p>Heather Phillipson will take part in a public event linked to this commission, on 19 June 2018, hosted by the Royal College of Art.</p>
<p><strong>About Art on the Underground</strong></p>
<p>Art on the Underground invites artists to create projects for London's Underground that are seen by millions of people each day, changing the way people experience their city. Incorporating a range of artistic media from painting, installation, sculpture, digital and performance, to prints and custom Tube map covers, the programme produces critically acclaimed projects that are accessible to all, and which draw together London's diverse communities. Since its inception, Art on the Underground has presented commissions by UK-based and international artists including Jeremy Deller, Yayoi Kusama, Mark Wallinger, and Tania Bruguera, allowing the programme to remain at the forefront of contemporary debate on how art can shape public space. Art on the Underground is funded by Transport for London.</p>
<p><strong>About Heather Phillipson</strong></p>
<p>Heather Phillipson works across video, sculpture, online media, music, drawing poetry and installation. Her forthcoming projects include the Fourth Plinth, Trafalgar Square, in 2020, a new commission for the Sharjah Biennial 2019, and a new online commission for Museum of Contemporary Art Chicago and a major solo show at BALTIC Centre for Contemporary Art, both in 2018. Recent solo projects include: Screens Series, New Museum, New York; Whitechapel Gallery, London; Frieze Projects New York; 32nd S&atilde;o Paolo Biennale, Brazil; Schirn Kunsthalle Frankfurt, the 14th Istanbul Biennial and Performa New York. Phillipson is also an award-winning poet and has published four volumes of poetry. She was named a Next Generation Poet in 2014, received Poetry magazine's Friends of Literature prize in 2016, and writes a regular column for ArtReview magazine. She received the Film London Jarman Award in 2016 and the European Film Award Selection from the International Film Festival Rotterdam in 2018.</p>
<p><strong>About underrepresentation in the arts</strong></p>
<p>An updated 2017 study conducted by the Freelands Foundation 'Are female artists still under represented in the arts?' states that of the UK's most popular public artworks created since 2000, just 13 per cent were by women and recently listed post-war public art sculptures just 17 per cent were by women. This gender imbalance is not just prevalent in the public arts but across the arts from commercial galleries to major public institutions.</p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Art on the Underground unveils artwork by Heather Phillipson -->

 
 
        
        
            @{ViewBag.Description = "Art on the Underground unveils artwork by Heather Phillipson";}
        
        


 