


@{ViewBag.Title = "Contactless journeys now available to view on the go via free TfL app";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contactless journeys now available to view on the go via free TfL app</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contactless journeys now available to view on the go via free TfL app</h1>
        <div class="content-page-press-release">
        15 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers using contactless payment cards can now view their journey history and check payments on the go
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're delighted that so many Londoners have already downloaded our app to make it easier to check journey history and top-up on the go"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Chief Technology Officer at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers using contactless payment cards in London can now view their journey history on the go following the latest update to the free TfL Oyster and contactless app.</p>
<p>Half of all Tube and rail 'pay as you go' journeys in London are now regularly made using contactless payment cards or mobile devices.</p>
<p>More than 17 million 'pay as you go' journeys a week are now regularly made across public transport services, providing value, flexibility and convenience.</p>
<p>The success of contactless in London is leading to more world cities introducing the technology as a convenient method of paying for travel.</p>
<h2>Value and flexibility</h2>
<p>TfL has updated the free TfL app, available to download from the Google Play Store and Apple App Store, to enable customers to view their journey and payment history and see if they have any 'incomplete' journeys.</p>
<p>Customers can use their smartphone to quickly add 'pay as you go' credit or season tickets to their Oyster card. Since it launched in September 2017, more than 800,000 downloads have already been made.</p>
<p>Customers can add their contactless payment card to an online account at <a href="https://contactless.tfl.gov.uk/">contactless.tfl.gov.uk</a>. They can personalise cards or devices by clicking on the pencil icon to make them easier to identify and hide any that are no longer used.</p>
<p>Any card that is personalised will automatically appear with that name within the TfL app.</p>
<p>New features also include:</p>
<ul>
    <li>Updated maps to show TfL Rail services between Paddington and Heathrow;</li>
    <li>Design changes to improve the customer experience</li>
</ul>
<p>Shashi Verma, Chief Technology Officer at Transport for London, said: 'We're delighted that so many Londoners have already downloaded our app to make it easier to check journey history and top-up on the go.</p>
<p>'This latest update follows feedback from customers and is part of our work to make travelling in London simple and convenient for everyone.'</p>
<h2>Simple and convenient</h2>
<p>Chief Executive of London Chamber of Commerce and Industry, Colin Stanbridge said: 'We support any improvements to make London's public transport network easier, cheaper and more attractive to use and in doing so benefitting commuters, tourists and the economy as a whole.</p>
<p>'Using contactless cards to travel has made great strides in this area and this update to the TfL app would appear to take these changes a stage further.'</p>
<p>TfL is now working to introduce further improvements to make all the functions of the app available to customers using concessionary cards such as Zip and Student photocards.  Future changes will also make it easier to request refunds.</p>
<p>For more information about the TfL app &#45; please visit <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a></p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>To download the TfL app onto your mobile:</li>
</ul>
<p>For Apple products &#45; <a href="https://itunes.apple.com/gb/app/tfl-oyster/id1179420088">https://itunes.apple.com/gb/app/tfl-oyster/id1179420088</a></p>
<p>For Android products &#45; <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless">https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless</a></p>
<ul>
    <li>Contactless payment was launched on buses in London in December 2012 and across Tube and rail services in London in September 2014. More than 1.7 billion journeys have been made across the capital, showing how Londoners and visitors have taken to using contactless payments as part of their daily life - <a href="https://tfl.gov.uk/cdn/static/cms/documents/contactless-top-line-figure.pdf">https://tfl.gov.uk/cdn/static/cms/documents/contactless-top-line-figure.pdf</a></li>
    <li>TfL's approach is seen by many as the catalyst for contactless being adopted more generally by consumers in the UK. The software that powers the contactless service was built in-house by TfL, which is what has led to licence sales, bringing in revenue to reinvest in improving transport</li>
    <li>The TfL Oyster and contactless app enables customers to use their smartphone to quickly add 'pay as you go' credit or season tickets to their Oyster card. This credit can then be used for a journey 30 minutes after being topped up by simply touching the Oyster card on the yellow card reader on any London bus or at any Tube or rail station, tram stop or River Bus pier as part of a journey</li>
    <li>Any customers with a first-generation Oyster card, which were predominantly issued prior to 2010, will need to upgrade to one which has a 'D' in the bottom left hand corner on the back of the card - <a href="https://tfl.gov.uk/fares-and-payments/oyster/using-oyster/first-generation-oyster-cards?cid=first-generation-oyster">www.tfl.gov.uk/first-generation-oyster</a>. TfL is currently contacting regular Oyster card users with a first-generation card through Oyster online to encourage them to upgrade their card</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Contactless journeys now available to view on the go via free TfL app -->

 
 
        
        
            @{ViewBag.Description = "Contactless journeys now available to view on the go via free TfL app";}
        
        


 