


@{ViewBag.Title = "Employee recognised for her work to increase diversity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Employee recognised for her work to increase diversity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Employee recognised for her work to increase diversity</h1>
        <div class="content-page-press-release">
        08 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Victoria Harrison-Cook has been recognised as a Member of the British Empire (MBE) in the Queen's Birthday Honours for services to diversity in Public Relations (PR).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Congratulations to Victoria for this amazing achievement. Her leadership of this unique internship and her efforts to create a more diverse work environment for everyone regardless of their background, gender or ethnicity are an inspiration to us all"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Victoria, who works as Head of Media in Transport for London's (TfL) Press Office, has been a champion for diversity, driving forward the careers of aspiring press officers from diverse communities and supporting them, so that they can take advantage of opportunities that may otherwise have been inaccessible.</p>
<p>Victoria has led TfL's Press Office internship scheme for people from Black, Asian and Minority Ethnic (BAME) communities for eleven years, which was set up to help address the underrepresentation of people from BAME communities in PR. The PR industry is well documented for its lack of diversity, with the PRCA finding in its 2018 PR Census that 89 per cent of the industry is White and 86 per cent British. TfL's internship, targeting underrepresented ethnic communities, is still one of the only schemes of its kind in the country.</p>
<p>The internship was renamed the Stuart Ross BAME internship, after TfL's Director of News Stuart Ross, who passed away after a battle with cancer in 2016. With Victoria, Stuart had been the inspiration behind the programme.</p>
<p>Every year, two 11 month internships are offered to people from BAME backgrounds, who are undergraduates, graduates or have a year's relevant experience. The scheme provides an opportunity to learn and develop the skills necessary to secure a job in the PR industry. It includes a bursary, paid at the London Living wage, along with free travel, which means that individuals from all economic backgrounds are able to apply.</p>
<p>Victoria, who lives in Sutton, has helped 28 young people through the programme, offering them professional and personal guidance, creating the next generation of PR professionals. As a result of her support, these individuals have gone on to have careers in PR, with six alumni having successfully applied for roles in the TfL Press Office during the lifetime of the scheme. Others who have done the internship have gone onto work at the Metropolitan police, the NHS, Marks and Spencer and the Arts Council.</p>
<p>As a result of Victoria's drive and encouragement, the face of TfL's Press Office has been transformed. In 2007, only eight per cent of the team came from BAME communities, whereas now it is almost a third. TfL's press office has also been recognised by the industry &#45; it received the accolade of 'Best Internship' by the PRCA in 2015 and was named the 'Best Place to Work' by PR Week in 2016. These awards would not have been possible without Victoria's strong leadership.</p>
<p>Val Shawcross, Deputy Mayor for Transport, said: </p>
<p>'I'm delighted that Victoria's dedication to nurturing the next generation of young Londoners has been recognised. Her hard work on the award-winning TfL internship scheme has actively encouraged and supported talent from minority backgrounds to pursue their chosen career paths - which is vital to ensuring that TfL, and employers across London, more accurately reflect and represent the rich diversity of our city.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'Congratulations to Victoria for this amazing achievement. Her leadership of this unique internship and her efforts to create a more diverse work environment for everyone regardless of their background, gender or ethnicity are an inspiration to us all.'</p>
<p>Victoria Harrison-Cook, Head of Media at TfL, said: </p>
<p>'I'm overwhelmed to have been recognised in the Birthday Honours. I passionately believe that everybody, regardless of their background or ethnicity, should have the opportunity to fulfil their true potential and explore a career path that might not have typically been recommended to them.</p>
<p>'It was also something that our colleague and friend, Stuart Ross, in whose memory the scheme is named, was very passionate about. The scheme would not have been successful without him, which makes receiving this award even more of an honour as I feel it also recognises the difference he made.'</p>
<p>Natalie Igweze, who did the Stuart Ross BAME Internship during the 2012 Olympic Games and is now UK Head of Marketing at management consultancy, Capco said: </p>
<p>'This award is so incredibly well deserved. Victoria has always been a diversity champion and continues to inspire me with her tireless efforts at improving all aspects of diversity in this sector.</p>
<p>'I began my career alongside Victoria and her support has been unwavering ever since. True workplace diversity is the goal for so many organisations today and this just shows that with the right leadership, it can be done and done well.'</p>
<hr />
Notes to Editors: <br />
<ul>
    <li>Victoria Harrison-Cook has worked at TfL for eleven years.</li>
    <li>For more information about the Stuart Ross BAME PR Internship, please visit <a href="https://tfl.gov.uk/stuart-ross-bame-internship">https://tfl.gov.uk/stuart-ross-bame-internship</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Employee recognised for her work to increase diversity -->

 
 
        
        
            @{ViewBag.Description = "Victoria Harrison-Cook recognised in Birthday Honours for her work to increase diversity in Public Relations";}
        
        


 