


@{ViewBag.Title = "First new state-of-the-art London Overground train unveiled";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First new state-of-the-art London Overground train unveiled</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First new state-of-the-art London Overground train unveiled</h1>
        <div class="content-page-press-release">
        20 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new trains will carry almost 700 people per train and feature a high capacity walk- through layout, Wi-Fi and USB charging points and a brand new seat moquette
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new state-of-the-art British built London Overground trains will be an exciting addition to London's transport network and help boost capacity on some of the most busy and popular lines."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">TfL's Director of Rail and Sponsored Services</div>
        </div>
</div>

 <div class="on-this-page">
<p>The first new, state-of-the-art, British built and designed London Overground train was today (20 June) unveiled by Transport for London (TfL). Hosting a range of new features, the first of the new trains will be in passenger service by November.</p>
<p>The new features of the 'Class 710' trains include the latest intelligent lighting and temperature control for more comfortable journeys, as well as Wi-Fi, USB charging points and digital information screens giving customers higher quality real time travel information while on board.</p>
<p>In total, a fleet of 54 new air-conditioned trains will transform journeys for thousands of London Overground customers and come into service initially on the Gospel Oak to Barking route. The number of people using the Gospel Oak to Barking service has grown exponentially since it became integrated into the TfL network and the new electric trains will have four-cars, doubling the capacity of the current diesel stock to almost 700 customers per train, relieving congestion on this popular line between north and east London.</p>
<p>The trains are being built at Bombardier Transport's UK site in Derby where 120 local engineering staff have worked on the design and testing of the trains. A further 170 staff have been working on manufacturing the trains, with 50 per cent of these recruited specifically to fulfil this contract. Twenty apprentices have worked on the production of the trains.  Around 50 per cent of the supply chain was with UK suppliers and worth &pound;56m, indirectly supporting further jobs across the country.</p>
<p>Operated by Arriva Rail London (ARL), on behalf of TfL, the new trains will debut a new colour scheme and unique seat moquette. The trains are constructed from strong but lightweight material, making them much more energy efficient to operate, and feature walk-through carriages for greater capacity and improved accessibility with more wheelchair spaces.</p>
<p>Final approval of the work carried out by Network Rail to electrify the Gospel Oak to Barking route was completed last week, which signals the next phase of this project. The new trains will now be tested on this new infrastructure over the summer to prove they meet TfL's stringent safety and reliability requirements.</p>
<p>A cutting edge simulator has been created with a precise representation of the driver's cab and life-like graphics of the London Overground route to enable drivers to experience driving the new, higher tech, trains through all conditions, including severe weather and trespassers on the track. Drivers will undergo thorough training and familiarisation over the summer before the first train enters passenger service.</p>
<p><strong>Jonathan Fox, TfL's Director of Rail and Sponsored Services, said:</strong> &quot;Our new state-of-the-art British built London Overground trains will be an exciting addition to London's transport network and help boost capacity on some of the most busy and popular lines. We are very keen to see them introduced into service as soon as possible so our patient customers can benefit from the fully air-conditioned, walk-through trains with handy USB charging points and real-time passenger information screens. Over the summer, the new trains will undergo final rigorous testing and drivers will complete extensive training. We are now planning for the first trains to enter passenger service on the Gospel Oak to Barking route by November.</p>
<p><strong>Andy Derbyshire, Head of UK, Bombardier Transportation said:</strong> &quot;This is a fantastic project to be involved in, and we are looking forward to our state-of-the-art British-designed and -built trains helping transform journeys between Gospel Oak and Barking, between Watford and Euston, and on West Anglia routes from Liverpool Street.&quot;</p>
<p><strong>Will Rogers, Managing Director Arriva Rail London, said</strong>: &quot;The London Overground is vitally important to the thousands of people who use it every day. This is why we are focused on continuously improving the travelling experience for our customers and working environment for our people. Our team has been working hard to prepare for the introduction of these new trains and we are really excited about the benefits they will bring in the long-term.&quot;</p>
<p>The first eight new trains will be introduced on the newly electrified Gospel Oak to Barking by November replacing the existing diesel trains operating on this line, doubling capacity on the route and helping to improve London's air-quality.  They will then  be brought onto the Watford to Euston route  and  on services out of Liverpool Street to Cheshunt, Chingford and Enfield Town replacing the current fleet, some which are over 35 years old that TfL inherited when it took over the suburban routes from Abellio Greater Anglia in 2015. The new trains will also be used on the extension to Barking Riverside when it is completed in 2021.</p>
<p>This fleet of brand new train's forms part of the Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys</p>
<ul>
    <li>Network Rail completed the electrification works to the Gospel Oak to Barking route which forms part of their London Railway Upgrade Plan</li>
    <li>The Barking Riverside extension will add 4km to the London Overground Gospel Oak to Barking route, and take it from Barking to a new station at Barking Riverside. Construction is expected to begin in 2018, with train services starting during 2021.</li>
    <li>Arriva Rail London is the train operating company responsible for running the London Overground network under a Concession Agreement with Transport for London (TfL). The seven and half year concession commenced on 13 November 2016.</li>
    <li>Working in partnership with TfL, Arriva Rail London will deliver further improvements for London Overground customers through more frequent services, new trains and improved interchanges as well as developing stations and lines to meet increasing passenger demand and to support new homes and jobs.</li>
    <li>Arriva Rail London is part of the Arriva group, one of the leading providers of passenger transport in Europe. Arriva employs more than 60,000 people and delivers over 2 billion passenger journeys across 14 European countries each year</li>
    <li>In November 2017 London Overground celebrated its 10th anniversary. Since TfL took over suburban rail routes from Silverlink in 2007, passenger numbers on the routes have increased six fold and the network has become one of the most popular and reliable railways anywhere in the country.</li>
    <li>London Overground operates 24-hour services on Friday and Saturday nights between Highbury &amp; Islington and New Cross Gate. The Night Overground complements the five existing Night Tube lines connecting with the Jubilee line at Canada Water and the Victoria line at Highbury &amp; Islington</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-First new state-of-the-art London Overground train unveiled -->

 
 
        
        
            @{ViewBag.Description = "First new state-of-the-art London Overground train unveiled";}
        
        


 