


@{ViewBag.Title = "GLA - Sadiq with call to ban new petrol and diesel vehicles";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Sadiq with call to ban new petrol and diesel vehicles</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Sadiq with call to ban new petrol and diesel vehicles</h1>
        <div class="content-page-press-release">
        18 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London and cross-party leaders, together representing around 20m people from across England and Wales, will call on government to end pure diesel and petrol sales from 2030
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Banning the sale of new petrol and diesel vehicles by 2030, providing support to deliver Clean Air Zones in cities and introducing a national vehicle renewal scheme will dramatically improve our air quality and our health"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/call-to-ban-new-petrol-and-diesel-vehicles">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Sadiq and UK100 bring together regional leaders and Michael Gove in national summit to tackle poor air quality</li>
    <li>Leaders also set to call for a national vehicle renewal scheme, more support to deliver Clean Air Zones and a Clean Air Act to tackle scourge of air pollution</li>
</ul>
<p>The Mayor of London, Sadiq Khan, will this week unite city leaders from England and Wales to call on the government to ban the sale of new pure diesel and petrol cars and vans by 2030.</p>
<p>The cross-party leaders, representing around 20m people from towns and cities in England and Wales, will urge the government to bring forward current plans to phase out the vehicles from 2040 to 2030 to tackle the nation's growing air quality health crisis.</p>
<p>Currently poor air quality is estimated to contribute to more than 40,000 premature deaths across the country each year, with emissions from cars and vans estimated to cost &pound;6bn annually to the NHS and society.</p>
<p>But research has shown that the phasing out of petrol and diesel vehicles would lead to a 30 per cent reduction in pollution in 2030, improving health, and potentially boosting the country's economy by billions by making the UK a global leader in low-emission technology.</p>
<p>The call for action will be discussed on Wednesday at a national air quality summit organised by the Mayor of London, UK100 and IPPR. The summit will see city leaders, Members of Parliament and the Environment Secretary Michael Gove discuss plans to improve the country's air quality.</p>
<p>Together, the city leaders will reiterate their commitment to working together to reduce emissions and tackle pollution for the good of the country. In addition to taking strong action in their own areas, this will include calling for the earlier phasing out of diesel and petrol vehicles, an enhanced Clean Air Fund from government and manufacturers that will support Clean Air Zones, a targeted national vehicle renewal scheme to replace older polluting vehicles, and a Clean Air Act that sets strict air quality limits.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Air pollution is not an isolated problem, it's a national health crisis. Our country's filthy air is shortening lives, damaging lungs, and severely impacting on the NHS. That's why we're bringing together city leaders from across England and Wales to put this at the top of the agenda. We have to take bold action, but while we're all doing what we can, we need government support to do even more. Banning the sale of new petrol and diesel vehicles by 2030, providing support to deliver Clean Air Zones in cities and introducing a national vehicle renewal scheme will dramatically improve our air quality and our health. Michael Gove has made a good start as Environment Secretary but we need the government to match our ambition and help us urgently drive forward these improvements. We simply cannot afford to delay.'</p>
<p>The leaders &#45; including Mayors and city leaders covering Bradford, Bristol, Cardiff, Greater Manchester, Leeds, Leicester, Liverpool, London, Newcastle, Oxford, Sheffield, Southampton and the West Midlands &#45; will say that they want to play their part in an ambitious national plan for clean air that prioritises action to reduce road transport emissions, provides new powers to tackle other sources of pollution and creates a framework to support partnerships between local, regional and national Government and its agencies, including Highways England and businesses.</p>
<p>This includes:</p>
<ul>
    <li>A modern Clean Air Act that establishes strong air quality limits standards linked to World Health Organisation recommended guidelines, enforced by a new independent statutory body, with new powers and resources to ensure strong national and local action.</li>
    <li>A targeted national vehicle renewal scheme to replace older polluting vehicles that supports drivers and businesses to change to low-emission vehicles and other sustainable forms of transport, taking special care that those on low incomes and also small businesses are helped to make the shift.</li>
    <li>An enhanced Clean Air Fund open to all towns and cities in England funded by UK Government and motor-vehicle manufacturers. This would provide investment for cleaner buses, taxis and alternatives to car travel walking, cycling and public transport. The cities make this call at the same time as German prosecutors secure a Euro 1 billion fine from Volkswagen.</li>
    <li>As the Government prepares to publish its Road to Zero transport strategy, a call on ministers to commit to phase out sales of new pure diesel and petrol cars and vans by 2030. This would encourage car manufacturers and other businesses to innovate, helping ensure the UK is a world leader in low emission technology. To ensure the roll out of the vital electric vehicle infrastructure needed to support this, cities should have the power to install charge points at petrol stations and private car parks that are publicly accessible.</li>
</ul>
<p>Andy Burnham, Mayor of Greater Manchester, said: </p>
<p>'We have all been too complacent about the public health crisis of people breathing in illegal, polluted air. It is damaging health and shortening lives, particularly in our poorest communities. Greater Manchester is ready to break out of that and show the ambition needed to clean up our air. But we can't do it alone. We need to see the same level of ambition from the Government in the form of substantial, up-front investment. With my fellow Mayors, I am calling on the Government to fund a fair diesel scrappage scheme and end the sale of new pure diesel and petrol cars and vans ten years earlier than planned by 2030. We also need to see major investment in the public transport infrastructure of Northern England if people here are to have an alternative to the car. It is only radical action on this scale that will tackle this problem and save lives.'</p>
<p>Andy Street, Mayor of the West Midlands, said: </p>
<p>'City leaders of all political stripes are coming together to discuss air quality because this is a public health crisis that needs urgent action. We need to shift away from diesel as a matter of urgency and I will be an ally for decision-makers especially those in national government who seek to find a way to support ordinary people getting newer cleaner cars to replace their dirty old ones. This is also an industrial opportunity - not least for the West Midlands - where we have built cars trucks and taxis for generations. We need to move to making cleaner vehicles now. It is an essential part of the national industrial strategy.'</p>
<p>Steve Rotheram, Metro Mayor for Liverpool City Region, said: </p>
<p>'Air pollution is no respecter of boundaries so it is vital that we have concerted action at a national level to effectively tackle an issue which has such an impact on our people's health and quality of life.  In some parts of our city region, men can expect to die seven years earlier than the national average. At the same time it is vital that government gives us the tools to tackle specific issues in our local areas.'</p>
<p>Polly Billington, Director of UK100, said: </p>
<p>'All of our local leaders and Mayors from the smallest towns to the biggest cities have a common determination to tackle dirty air and protect millions of children and adults from the debilitating effects of this public health crisis. Together they have agreed these asks of Ministers because local action on clean air cannot do enough; it must be a shared responsibility with national government. Our 89-strong network of leaders from local councils, regions and authorities represents areas with industrial, manufacturing and service industries. This common wish to move away from dirty diesel and enable British industry to lead the way in low emission vehicles is vital for businesses, residents, workers and tourists. The need is urgent as too many already suffer from the hugely negative consequences of air pollution.'</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<p>Many of the cities and towns represented at the summit are members of the 89-strong UK100 network, made up of local and regional authorities, who together advocate and develop co-ordinated and joined-up action to ensure dirty air can be tackled more effectively. UK100 is a highly ambitious network of local government leaders. It seeks to devise and implement plans for clean air and the transition to clean energy that are ambitious, cost effective and take the public and business with them. <a href="http://www.uk100.org">www.uk100.org</a></p>
<p>Research published by the WWF (World Wide Fund for Nature), found that bringing forward the move to phase out sales of new petrol and diesel cars and van‎s from 2040 to 2030 would result in a 30 per cent reduction in pollution in 2030 <a href="https://www.wwf.org.uk/updates/phasing-out-diesel-and-petrol-cars-2030-could-help-add-ps3bn-uk-economy-and-create-14000">https://www.wwf.org.uk/updates/phasing-out-diesel-and-petrol-cars-2030-could-help-add-ps3bn-uk-economy-and-create-14000</a></p>
<p>Research by the University of Oxford and University of Bath concluded that poor air quality contributes to more than 40,000 premature deaths each year, with emissions from cars and vans estimated to cost &pound;6bn annually to the NHS and society. <a href="https://www.cleanairday.org.uk/Handlers/Download.ashx?IDMF=7eb71636-7d06-49cf-bb3e-76f105e2c631">https://www.cleanairday.org.uk/Handlers/Download.ashx?IDMF=7eb71636-7d06-49cf-bb3e-76f105e2c631</a></p>
<p>The health damage from emissions from diesel vehicles, which produce far more nitrogen dioxide and particulate matter, is about five times higher than petrol vehicles and 20 times greater than for electric vehicles. The valuation of health effects associated with diesel vehicles are at least five times greater than those associated with petrol vehicles, and around 20 times greater than battery electric vehicles.</p>
<p>Earlier this month, the Mayor of London, Sadiq Khan, confirmed that the capital's Ultra-Low Emission Zone (ULEZ) will be expanded up to the North and South Circular boundary in 2021. Strict emission standards will also apply to buses, coaches and lorries across the whole of London from 26 October 2020. Both schemes will lead to emission reductions across London and more than 100,000 residents no longer living in areas exceeding legal air quality limits in 2021.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-GLA - Sadiq with call to ban new petrol and diesel vehicles -->

 
 
        
        
            @{ViewBag.Description = "Sadiq with call to ban new petrol and diesel vehicles";}
        
        


 