


@{ViewBag.Title = "GLA - Land Trust to build affordable homes on TfL sites";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Land Trust to build affordable homes on TfL sites</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Land Trust to build affordable homes on TfL sites</h1>
        <div class="content-page-press-release">
        18 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Community Land Trust to build on TfL sites as part of Mayor's drive to boost small and community-led homebuilders
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Making small plots of public land available for housing development is a key part of addressing London's housing shortage, and the fantastic response to the pilot of my 'Small Sites, Small Builders' programme has shown that these small sites can be an important way to get new genuinely affordable homes built"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/mayors-boosts-small-and-community-led-homebuilders">london.gov.uk</a><br />
<ul>
    <li>Flagship community-led housing projects will deliver 100 per cent genuinely affordable homes on two sites</li>
    <li>Sadiq to extend his 'Small Sites, Small Builders' programme with &pound;3.8 million over the next year</li>
</ul>
<p>London Community Land Trust has been chosen to deliver flagship community-led housing on two sites brought forward by Transport for London as part of the Mayor of London's work to boost small builders in the capital, and to increase the supply of new, genuinely affordable homes.</p>
<p>Today the Trust &#45; the first urban community land trust, formed as a result of campaigning by community organising group Citizens UK &#45; was confirmed as the successful bidder for building on sites at Cable Street (Tower Hamlets) and Christchurch Road (Lambeth). They will deliver around 70 new homes, 100 per cent genuinely affordable.</p>
<p>Homes will be priced according to average local incomes and based on the principle that residents shouldn't have to pay more than one third of their income on their mortgage &#45; meaning that they will typically be sold at between a third and half of market value.</p>
<p>The sites were brought forward through the Mayor's pilot of this 'Small Sites, Small Builders' initiative, which he will now be extended with &pound;3.8 million of funding next year, and further funding over the next four years as more successful bidders are announced. TfL will continue to bring forward and advertise small sites on a rolling basis, with Boroughs and other public landholders encouraged to take part.</p>
<p>London's homebuilding sector is dominated by a small number of large developers that build the vast majority of homes across the capital. The number of small builders (those that deliver fewer than 100 homes) has halved over the last 10 years, and Sadiq wants to make small plots of publicly owned land more accessible to London's small and medium-sized builders, including community-led housing groups, through a simple bidding process with standardised legal contracts.</p>
<p>Ten small TfL sites located across seven different boroughs were launched in February as part of the pilot, many of which are 'left over' land. The number of homes proposed at each site range from two to 90.</p>
<p>There was significant interest in the pilot, with 134 bids received from 80 organisations ranging from developers and community-led housing organisations to registered providers and architect-developers. Many of the bids proposed more units than TfL had previously thought feasible, with 166 homes currently proposed across all ten sites, of which 64 per cent overall will be genuinely affordable.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Tackling the housing crisis is complex and will take time, and we must use every tool at our disposal.</p>
<p>'Making small plots of public land available for housing development is a key part of addressing London's housing shortage, and the fantastic response to the pilot of my 'Small Sites, Small Builders' programme has shown that these small sites can be an important way to get new genuinely affordable homes built.</p>
<p>'I am also proud to support community-led housing, and I am pleased that London Community Land Trust will be building 100 per cent affordable housing on their sites in Tower Hamlets and Lambeth, which will make a huge difference to those communities.</p>
<p>'Not only will this programme help to provide the new, genuinely affordable homes that Londoners so desperately need, but it will also reinvigorate our small and medium-sized homebuilders after years of over-reliance on large developers.'</p>
<p>The Cable Street and Christchurch Road sites were restricted to bids from Community Land Trusts (CLTs) building 100 per cent affordable housing. Homes are kept permanently affordable through a resale price covenant which requires all residents to sell the home to the next household at a price according to local earnings.</p>
<p>In addition to the two CLT sites, contractor and developer Kuropatwa Limited has been named as the successful bidder for Beechwood Avenue, a site in Barnet which will deliver a proposed 60 homes at 50 per cent affordable, and developer Broadhaven Estates won a Colliers Wood site for a proposed five homes.</p>
<p>Co-Director of London Community Land Trust, Calum Green, said: </p>
<p>'London should be a city for all. To do that, we must build more homes that Londoners can afford. Community Land Trusts are a way for Londoners to play our part in delivering the genuinely and permanently affordable homes that our city desperately needs.</p>
<p>'These two sites, announced by the Mayor today, will mean over two hundred people will no longer be forced to leave London and can stay in the neighbourhood they call home.'</p>
<p>Teacher, local resident to the Cable Street site in Shadwell and local community leader with Citizens UK, Sheikha Selina Anam, said: </p>
<p>'I have been involved with this campaign for two years. We have in this team, amazing people from all walks of life, but we all have the same goal of better homes and lives for the people of Shadwell.</p>
<p>'Home is the safe ground for people to grow and achieve their potential. I'm hopeful that we as a community, with [local church] St George-in-the-East leading the way, can continue to achieve housing justice for this area.'</p>
<p>The Mayor's small sites programme will contribute to affordable housing delivery on public land in London. These 10 TfL sites contribute towards the Mayor's target for 50 per cent affordable housing across the portfolio of developments on public land.</p>
<p>Since becoming Mayor, Sadiq has worked with his transport agency to accelerate the release of its available land for housing development. Last year, TfL signed contracts to develop more than 3,800 homes to market, half of which will be affordable. This year, TfL is on track to bring forward land for at least 3,000 new homes.</p>
<p>Director of Commercial Development at TfL, Graeme Craig, said: </p>
<p>'We have a key role to play in unlocking our land to support the Mayor's ambitions to create thousands of new homes for Londoners that are genuinely affordable. It's great to see so much interest in our sites from small and medium sized builders and community led organisations.</p>
<p>'We are looking forward to working with all the successful partners to build the homes that London desperately needs while also generating revenue to reinvest in the transport network. These are the first of a number of small sites that we'll be bringing to market through the GLA's programme and we hope to announce further sites in the coming months.'</p>
<p>Tower Hamlets' Deputy Mayor for Regeneration and Air Quality, Cllr Rachel Blake, said: </p>
<p>'We were delighted that Tower Hamlets was chosen as one of the pilots for the 'Small Sites, Small Builders' programme by the Mayor of London, and welcome the announcement that London Community Land Trust has been named the successful bidder for the site at Cable Street.</p>
<p>'This is an innovative way of delivering homes by working with small and medium sized builders, to offer hope to Londoners who are priced out of London's broken housing market. We look forward to working with London Community Land Trust and welcoming the building of permanently affordable homes in the Borough'.</p>
<p>Assistant Head at Sydenham Girls Secondary School, Trustee at London Community Land Trust and member of Lewisham Citizens, Janet Emmanuel, said: </p>
<p>'London Citizens has been campaigning for Community Land Trusts for the last decade, so we are thrilled to learn about the Mayor's decision and to see this initiative take off.</p>
<p>'What makes community-led housing &#45; and Community Land Trusts in particular - so special is that they keep communities together, ensuring that families with strong ties to the local community are not priced out, but can instead afford to buy and live in genuinely affordable homes.</p>
<p>'As active members of civil society, we look forward to continue working with the Mayor's office to make Community Land Trusts an option available to more and more people in the capital.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors</p>
<ul>
    <li>The exact number of homes set to be delivered is subject to change as contracts and plans develop.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-GLA - Land Trust to build affordable homes on TfL sites -->

 
 
        
        
            @{ViewBag.Description = " Mayors boosts small and community-led homebuilders";}
        
        


 