


@{ViewBag.Title = "GLA - Expanded Ultra-Low Emission Zone to clean-up toxic air";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Expanded Ultra-Low Emission Zone to clean-up toxic air</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Expanded Ultra-Low Emission Zone to clean-up toxic air</h1>
        <div class="content-page-press-release">
        08 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sadiq Khan confirms expansion of ULEZ up to North and South circular roads from 25 October 2021
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"An expanded Ultra-Low Emission Zone, in conjunction with the Central London ULEZ, will really help transform the air that millions of Londoners breathe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/ultra-low-emission-zone-to-expand">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Strict emission standards will also apply to buses, coaches and lorries across the whole of London from 26 October 2020</li>
    <li>Both schemes will lead to emission reductions across London and more than 100,000 residents no longer living in areas exceeding legal air quality limits in 2021</li>
    <li>ULEZ to begin in central London from 8th April 2019</li>
    <li>Mayor launches major new study into toxic engine emissions and children's lung function</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today confirmed that the capital's Ultra-Low Emission Zone (ULEZ) will be expanded up to the North and South Circular boundary in 2021.</p>
<p>The new ULEZ will cover an area 18 times larger than the Central London Ultra Low Emission Zone and will affect large numbers of polluting vehicles that don't comply with strict emission standards. It is estimated that 100,000 cars, 35,000 vans and 3,000 lorries might be affected by the expanded zone and tighter standards every day.</p>
<p>These bold measures will deliver a major improvement to Londoners health by reducing the toxic air quality that is currently responsible for thousands of premature deaths and other serious conditions. Research demonstrates these effects disproportionately impact the poorest Londoners.</p>
<p>Recent studies by the University of Oxford have shown the health damage from cars and vans costs &pound;6 billion annually to the NHS and society, with the bill from London vehicles totalling &pound;650 million a year.</p>
<p>Expanding the ULEZ beyond central London and strict standards for heavy vehicles across London will result in more than 100,000 Londoners no longer living in areas exceeding legal air quality limits in 2021, a reduction of nearly 80 per cent compared to without expansion. All areas of London are expected to see reductions in pollution, including on the North and South Circular Roads and only 4 per cent of roads in Outer London are expected to exceed legal limits in 2021.</p>
<p>The expanded zone will be managed in the same way as the central London ULEZ, which is being delivered in April 2019, 17 months earlier than planned and will operate on top of the congestion charge, 24 hours a day, seven days a week, 365 days a year.</p>
<p>Drivers within the expanded zone using non-compliant vehicles will pay a daily ULEZ charge of &pound;12.50, 24 hours a day, 365 days a year. These include:</p>
<ul>
    <li>motorbikes that do not meet Euro 3 standards</li>
    <li>petrol cars and vans that do not meet Euro 4 standards (roughly the equivalent to not being more than fifteen years old for cars in 2021)</li>
    <li>diesel cars and vans that do not meet Euro 6 standards (roughly the equivalent to not being more than six years old for cars in 2021)</li>
</ul>
<p>Across London diesel buses, coaches and lorries will need to meet the Euro 6 standard.</p>
<p>Following an extensive consultation, the Mayor will also tighten the standards for the most polluting heavy vehicles including buses, coaches and lorries across the whole of London from October 2020, using the same boundary as the existing Low Emission Zone.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Tackling London's lethal air and safeguarding the health of Londoners requires bold action. Air pollution is a national health crisis and I refuse to stand back as thousands of Londoners breathe in air so filthy that it shortens our life expectancy, harms our lungs and worsens chronic illness.</p>
<p>'I promised hard-hitting measures to tackle our shameful air pollution and today City Hall is confirming the next stage of our plans to expand the Ultra-Low Emission Zone up to the north and south circular roads.</p>
<p>'We're doing everything in our power to tackle this issue and are starting to see improvements in air quality with the wide-ranging action we've taken already on tackling the most polluting cars, and cleaning up our bus and taxi fleet. An expanded Ultra-Low Emission Zone, in conjunction with the Central London ULEZ, will really help transform the air that millions of Londoners breathe.</p>
<p>'Some motorists will need help switching to greener transport options, which is why City Hall are urging Ministers to deliver a diesel scrappage scheme to get the dirtiest cars off our roads and offer drivers a fair deal, especially the many diesel drivers who brought vehicles thinking they were more environmentally friendly after Government advice.'</p>
<p>The Deputy Mayor of Environment &amp; Energy, Shirley Rodrigues, said: </p>
<p>'Today's announcement is a pivotal moment for every Londoner who struggles to breathe clean air.  The health impact from our filthy air is shocking, especially on young children, and I look forward to seeing the results of the major new medical study looking at the impacts of ULEZ and cutting toxic emissions on children's lung development.  Our changes are already starting to improve the air across our city. In 2021, this will cut the number of schools in areas with illegal levels of air pollution by more than two thirds.'</p>
<p>The public consultation on expanding the ULEZ standards was the largest ever recorded by TfL and showed staunch support for the Mayor's proposals, with 56 per cent supporting or strongly supporting the expansion of the ULEZ boundary from central London and 74 per cent backing the new London-wide emissions standards for heavy vehicles.</p>
<p>The Mayor listened carefully to feedback through the consultation and has decided to give disabled tax class vehicles and specially adapted private hire vehicles until October 2025 to replace their vehicles. This gives these vehicles an extra 6.5 years from the start of the central London ULEZ or 4 years from the start of the expanded ULEZ to comply. Similarly, charities have been given a longer period of time to replace existing minibuses. They will have a two-year sunset until October 2023.</p>
<p>Sadiq has already strengthened the ULEZ standards to include a particulate matter standard after recent health data revealed that every part of London exceeds recommended World Health Organisation air quality guidelines for PM2.5.</p>
<p>Lilli Matson, TfL's Director of Transport Strategy, said: </p>
<p>'London's toxic air is a public health crisis, and expanding the Ultra-Low Emission Zone is a crucial measure. We estimate that expanding the ULEZ will reduce road transport NOx emissions by a further 28 per cent across London, so this expansion is a huge step towards protecting the health of all Londoners.'</p>
<p>The Mayor is working with TfL to ensure London's public transport lead the way in low emissions. TfL is no longer procuring double-deck pure-diesel buses and instead only procuring hybrid, electric or hydrogen buses, with all buses meeting the new standards across London by 2020. TfL will only allow new taxis in London that are zero-emission capable and newly manufactured private hire vehicles will need to follow suit from 2020.</p>
<p>Today the Mayor also announced he is supporting a major new study into the health benefits of reducing toxic air pollution on more than 3,000 primary school children in polluted areas of London and Luton. Research has found that some children in London are breathing in air so damaging it is affecting the development of their lungs.</p>
<p>The study will test how policies like the Ultra-Low Emission Zone can improve the growth of children's lungs and reduce chest symptoms, comparing London children whose schools are placed within the ULEZ zone with children in Luton whose schools are in traffic-restricted zones.</p>
<p>All the children will have their lung health monitored over a four-year period in the study led by Queen Mary University of London. Researchers from the CHILL study (Children's Health in London &amp; Luton), funded by the National Institute for Health Research, are currently recruiting schools to take part in this new initiative.</p>
<p>Hugo Martin, Hermes Director of Legal and Public Affairs: </p>
<p>'Hermes is fully committed to meeting the standards in the expanded ULEZ and is investing in cleaner, electric vehicles to support this. We are pleased to be one of the leading lights in the logistics industry helping London on its path to a zero emissions future.'</p>
<p>Drew Kodjak, Executive Director of the International Council on Clean Transportation, said: </p>
<p>'Based on our assessment of real-world emissions, Euro 4 and 5 diesel cars are some of the highest polluting vehicles in London's fleet while Euro 6 vehicles have shown improvement. We expect Mayor Khan's new Ultra-Low Emission Zone to have a significant impact on reducing air pollution.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>1. From 8th April 2019 the following will all pay a daily ULEZ charge of &pound;12.50 to drive in central London, 24 hours a day, 365 days a year, on top of the congestion charge (when and where applicable):</p>
<ul>
    <li>motorbikes that do not meet Euro 3 standards</li>
    <li>petrol cars and vans that do not meet Euro 4 standards</li>
    <li>diesel cars and vans that do not meet Euro 6 standards</li>
</ul>
<p>Following the Mayor's decision to expand this area, the charge will apply in inner London from October 2021.</p>
<p>Disabled tax class vehicles and specially adapted private hire vehicles will have until October 2025 to comply. Charities will have a two-year sunset for minibuses until October 2023.</p>
<p>The oldest and most polluting heavy vehicles that do not meet the Euro VI emission standards will be required to pay up to &pound;300 from 26 October 2020 to drive in the London-wide Low Emission Zone. Any heavy vehicles that are either Euro IV or Euro V standard will be deterred with a &pound;100 charge.</p>
<p>All TfL buses will meet the standards by 2020.</p>
<p>2. The consultation on expanding the ULEZ standards ran from 30 November 2017 to 28 February 2018. The Euro 4 standard became mandatory for new cars in 2005 and the Euro 6 standard became mandatory in 2015. Vehicles older than these dates may still meet emissions standards, which customers can check using TfL's compliance checker. The ULEZ boundary of the North and South Circular was decided to ensure a consistent, clear and navigable boundary that provides an adequate diversion route for drivers and does not force anyone into the zone</p>
<p>3. Details on the University of Oxford study: <a href="http://www.cleanairday.org.uk/Handlers/Download.ashx?IDMF=7eb71636-7d06-49cf-bb3e-76f105e2c631">www.cleanairday.org.uk/Handlers/Download.ashx?IDMF=7eb71636-7d06-49cf-bb3e-76f105e2c631</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-GLA - Expanded Ultra-Low Emission Zone to clean-up toxic air -->

 
 
        
        
            @{ViewBag.Description = "Mayor: Ultra-Low Emission Zone will expand up to North & South Circular to clean-up toxic air";}
        
        


 