


@{ViewBag.Title = "Jamie Cullum launches #Platform88 piano";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Jamie Cullum launches #Platform88 piano</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Jamie Cullum launches #Platform88 piano</h1>
        <div class="content-page-press-release">
        26 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Double Grammy and Golden Globe award winner, jazz artist and Radio 2 DJ plays at King's Cross St Pancras Tube station today
        
    </div>



 <div class="on-this-page">
<ul>
    <li>Three #Platform88 pianos will travel from station to station as part of the two-year programme and will then be given to charity</li>
</ul>
<p>Jamie Cullum and his band surprised King's Cross St Pancras Tube customers with a performance on the latest #Platform88 piano today.</p>
<p>The double Grammy and Golden Globe winner and Radio 2 DJ delivered a superb performance delighting customers as they travelled through King's Cross St Pancras Tube station.</p>
<p>#Platform88 project, a partnership between Yamaha and Transport for London (TfL), aims to bring music to stations for customers to enjoy. During the next two years, the three pianos will 'commute' around the TfL network offering aspiring musicians the opportunity to perform and entertain their fellow passengers.</p>
<p>Jamie Cullum said: &quot;I'm a massive fan of things that surprise people in public spaces, especially pianos.  If you play, want to play or maybe haven't played for a while, just stop and have a go and entertain people. #Platform88 is a great opportunity to make magic with music in an everyday space, who knows who might be passing by.&quot;</p>
<p>London Underground's Managing Director, Mark Wild, said: &quot;We know that music enhances our customers' journeys, with busking and classical music featuring in many of our stations. The #Platform88 pianos have been a great addition to the network and I'm delighted that the latest piano is now available for our customers to use and showcase their musical talents.&quot;</p>
<p>Yamaha's Charles Bozon said: &quot;Yamaha is all about enriching people through music making, we are thrilled that these three pianos are providing entertainment and inspiration to thousands. We've had amazing feedback from people who have played, had a go for the first time, or just paused and listened.</p>
<p>&quot;This third piano, at one of the world's busiest stations will allow even more people to connect with music.&quot;</p>
<p>Currently residing at Tottenham Court Road Tube station, the first #Platform88 piano was launched in November by multi-instrumentalist, composer and producer Tokio Myers. A second piano was launched in April by touring musician, broadcaster, composer and big band leader Jools Holland at Canary Wharf Tube station. Both instruments are now enjoyed by thousands of travellers every day.</p>
<p>At the end of the programme all three pianos will be donated to charity. Jamie's signed piano will go to The Railway Children, a charity which works to&nbsp;get children off the streets.</p>
<hr />
<br />
Notes to Editors:<br />
<br />
Photos of the event may be found here - <a href="https://www.flickr.com/photos/tflpress/albums/72157692614289730">https://www.flickr.com/photos/tflpress/albums/72157692614289730</a><br />
<br />
<ul>
    <li><a href="http://www.facebook.com/YamahaPianosOfficial/">www.facebook.com/YamahaPianosOfficial/</a></li>
    <li><a href="https://twitter.com/YamahaUK">https://twitter.com/YamahaUK</a></li>
    <li><a href="https://www.instagram.com/yamahamusiceurope/">https://www.instagram.com/yamahamusiceurope/</a></li>
</ul>
<br />

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Jamie Cullum launches #Platform88 piano -->

 
 
        
        
            @{ViewBag.Description = "Jamie Cullum launches #Platform88 piano at King’s Cross St Pancras Tube station";}
        
        


 