


@{ViewBag.Title = "New Set of Poems on the Underground Celebrates Caribbean Voices";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Set of Poems on the Underground Celebrates Caribbean Voices</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Set of Poems on the Underground Celebrates Caribbean Voices</h1>
        <div class="content-page-press-release">
        21 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new collection of Poems on the Underground features the works of a range of Caribbean poets
        
    </div>



 <div class="on-this-page">
<p>A new set of poems that celebrates Caribbean poetry will appear on London Underground from July. It focuses on a range of themes, including the complex realities of life in the Caribbean and in Britain as well as the dream of living in a new world of hope and prosperity.</p>
<p>The collection features 'I Am Becoming a Mother' by Jamaica's current Poet Laureate, Lorna Goodison, who was born in Kingston in 1947 and splits her time between Jamaica and Canada. It also includes the work of other recognised poets, including James Berry, Andrew Salkey, Jean Binta Breeze, Kwame Dawes and Grace Nichols.</p>
<p>The poems are appearing across the Tube network as London celebrates the 70th anniversary of Windrush this year, which commemorates the pioneering generation that started to come to Britain from the Caribbean from 22 June 1948 on the SS Empire Windrush ship.</p>
<p>The history of London Transport, Transport for London's (TfL) predecessor, is intertwined with many of those who consider themselves to be part of the Windrush generation. The shortage of housing after the Second World War meant that more than 200 migrants were housed for around four weeks in the Clapham South Subterranean shelter, a labyrinth of deep-level passages, below Clapham South Tube station. London Transport employed a number of people from the Caribbean from 1956 onwards to fill staff shortages, opening a recruitment office in Barbados in 1956 and subsequent offices in Jamaica and Trinidad in 1966. Many of these people worked for London Transport for a number of years, playing a vital role in keeping London moving.</p>
<p><strong>Staynton Brown, Director of Diversity and Inclusion at TfL, said:</strong> `These poems are a fantastic way of celebrating a variety of Caribbean voices and experiences. I hope customers will enjoy them as they travel across our network and take advantage of the opportunity to reflect on the valuable contribution those from the West Indies have had on London's culture and economy.'</p>
<p><strong>Judith Chernaik, writer, editor and founder of Poems on the Underground, said:</strong> `We are delighted to be celebrating a wide range of distinguished Caribbean poets, with their special understanding of sharply contrasting worlds of experience. These are poems which speak directly to the heart, and we know Londoners will be touched and inspired by reading them on the Tube.'</p>
<p>Poems on the Underground, founded in 1986, aims to bring poetry to a mass audience. It helps to make journeys more stimulating by showcasing a diverse range of poetry, including classical, contemporary and international poets in Tube train carriages across London. The poems are selected by writer Judith Chernaik and poets Imtiaz Dharker and George Szirtes.</p>
<p>The programme has inspired similar displays on public transport in cities worldwide, from New York and Paris to Moscow and Shanghai. Poems on the Underground is supported by Transport for London, Arts Council England and the British Council</p>
<p>The poems featured are:<br />o A dream of leavin by James Berry<br />o History and Away by Andrew Salkey<br />o Epilogue by Grace Nichols<br />o Dreamer by Jean Binta Breeze<br />o Dew by Kwame Dawes<br />o I Am Becoming My Mother by Lorna Goodison</p>
<p>For more information about the history of TfL and immigration, please visit: <a href="https://tfl.gov.uk/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">https://tfl.gov.uk/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections</a></p>
<p>London Transport Museum is offering people the opportunity to visit Clapham South, which is a deep-level shelter with over a mile of underground passages, so they can discover how pioneering Caribbean migrants lived on arrival to the UK 70 years ago. More information about the tours and tickets can be found here: <a href="http://www.ltmuseum.co.uk/hidden-london">www.ltmuseum.co.uk/hidden-london</a></p>
<p>Posters, designed by Tom Davidson, are available from the Poetry Society and London Transport Museum.</p>
<p>On Saturday 30 June, City Hall will also be hosting a free event to bring to life the story of the Windrush arrival in London. The varied programme includes talks, music, workshops and film screenings, in honour of the Windrush generation and those who've since followed. For more information, visit <a href="https://www.london.gov.uk/events/2018-06-30/arrival-celebrating-windrush">https://www.london.gov.uk/events/2018-06-30/arrival-celebrating-windrush</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-New Set of Poems on the Underground Celebrates Caribbean Voices -->

 
 
        
        
            @{ViewBag.Description = "New Set of Poems on the Underground Celebrates Caribbean Voices";}
        
        


 