


@{ViewBag.Title = "Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames</h1>
        <div class="content-page-press-release">
        12 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Opened on 12 June 1908, the tunnel carries more than 30,000 vehicles a day, as well as cyclists and pedestrians, compared to 2,600 vehicles in 1908
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Rotherhithe Tunnel is a vital part of London's transport network and is used by more than 12 million vehicles a year, despite the fact it was originally built for horses and carts. The restriction on vans and wider vehicles in the tunnel is important for its modern day use, as it reduces the risk of collisions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">TfL's Director of Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<p>Today, TfL marks the 110th anniversary of one of London's most important river crossings. Formally opened in 1908 by the Prince of Wales, George, who later became King George V, the Rotherhithe Tunnel now sees more than 30,000 vehicles passing through it each day.</p>
<p>Designed and built by Sir Maurice Fitzmaurice, the tunnel was constructed between 1904 and 1908 and was the largest boring project in the world at the time.</p>
<p>The overall look and feel of the tunnel has largely remained the same, with a number of features that are Grade II heritage listed, including the entrance arches, tunnel portals and river side ventilation buildings.</p>
<h2>Grade II heritage listed</h2>
<p>The tunnel links Limehouse on the north of the river to Rotherhithe on the south. Built originally for horse-drawn carriages and pedestrians, the tunnel now carries far more traffic than it was designed for, which requires careful day to day management by TfL to ensure safety.</p>
<p>This is why, in 2012, TfL banned vehicles more than two metres wide from the tunnel and updated the signage prohibiting hazardous goods.</p>
<p>Glynn Barton, TfL's Director of Network Management, said: 'The Rotherhithe Tunnel is a vital part of London's transport network and is used by more than 12 million vehicles a year, despite the fact it was originally built for horses and carts.</p>
<p>'The restriction on vans and wider vehicles in the tunnel is important for its modern day use, as it reduces the risk of collisions.'</p>
<h2>Vital part of London</h2>
<p>As part of its regular monitoring of its network, TfL has identified that up to 6,500 vehicles wider than the restrictions could be illegally entering the tunnel every day, despite the clear signage on all approaches highlighting the restrictions.</p>
<p>TfL is increasing activity to tackle vehicles that ignore the restrictions, with drivers risking a fine of &pound;50 or prosecution.</p>
<p>Drivers prohibited from using the Rotherhithe Tunnel should use Tower Bridge or the Blackwall Tunnel - both of which are outside of the Congestion Charge.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The construction of the tunnel was a huge success with 800 workers completing it in four years - a year and a half ahead of schedule.  The original construction cost &pound;2 million</li>
    <li>Two vast Tunnelling Shields were used to dig through the hard London clay under the river.  These were movable barriers within which men would work moving forward, inch by inch, day by day, and leaving behind complete sections of the tunnel</li>
    <li>Around 25,000 tonnes of cast iron, 20,000 tonnes of cement and half a million white glazed bricks were used in what was an extensive construction operation that also involved the displacement of nearly 3,000 Londoners from both sides of the river</li>
    <li>The tunnel is 4,860 feet long, of which 1,500 feet are under the river and has a 27 foot diameter</li>
    <li>To ensure safety, there are 12 CCTV cameras throughout the tunnel and approaches, which are monitored by TfL 24 hours a day, seven days a week</li>
    <li>In most old tunnels, there are rumours of ghosts and Rotherhithe is no different. Tunnel staff recall a wheel barrow in the sub tunnel 'moving' overnight in between maintenance closures, with one even claiming to have photographs of the 'ghost'</li>
    <li>For more information about driving in London, please visit <a href="https://tfl.gov.uk/traffic/status">tfl.gov.uk/traffic/status</a></li>
    <li>Images of Rotherhithe Tunnel are available to download for free from TfL's Flickr page - <a href="https://www.flickr.com/gp/tflpress/y7w481">https://www.flickr.com/gp/tflpress/y7w481</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames -->

 
 
        
        
            @{ViewBag.Description = "Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames";}
        
        


 