


@{ViewBag.Title = "TfL confirms trams in Croydon will go 'cashless'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL confirms trams in Croydon will go ‘cashless’</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms trams in Croydon will go ‘cashless’</h1>
        <div class="content-page-press-release">
        04 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        18 year old ticket machines across Tram network to be removed on 16 July 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The vast majority of tram customers already use pay as you go with Oyster or contactless to travel, which is both cheaper than paper tickets and allows customers to use the Mayor's Hopper fare to make unlimited bus or tram journeys within an hour for &pound;1.50"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">General Manager of London Trams</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Less than 66 paper single tickets a day sold across entire Tram network, with many now travelling using Oyster or contactless</li>
    <li>More validators to be installed at selected stops along with wider awareness campaign across Tram network</li>
</ul>
<p>TfL has today confirmed that trams in London will go 'cashless' on 16 July 2018, following public and stakeholder engagement about the plans last year.</p>
<p>More than 800 people from across the communities served by the tram network commented on TfL's plans to remove existing ticket machines. These machines only sell a small number of the more expensive paper tickets every week and do not allow customers to top up their Oyster cards. The plans follow the successful introduction of cashless buses across London in July 2014 and all comments or suggestions received as part of the public engagement were considered and where appropriate taken on board as part of this wider decision.</p>
<p>The ticket machines were installed when the tram system opened in 2000 and now have such low usage that it is no longer cost effective to maintain them or have them replaced. Due to the convenience and value for money of pay as you go using Oyster and contactless payment, only 0.3% of single tram journeys - fewer than 250 single tickets per day - were made using a ticket bought from a tram ticket machine last year. Since the plans were first announced last year, this number has now fallen further to just 66 single tickets a day. This low number now means providing and maintaining ticket machines at every stop is not covered by ticket sales and TfL believes that this cost could therefore be better spent on initiatives to improve the tram network for customers.</p>
<p>A paper ticket bought from a ticket machine costs &pound;2.60 whereas the equivalent pay as you go single fare with Oyster or contactless just is &pound;1.50. The Mayor's Hopper fare means pay as you go customers get unlimited tram and bus journeys for &pound;1.50 within one hour of touching in on the first tram or bus journey. Any customers who still buy paper tickets will need to switch to Oyster or contactless payment. Topping up an Oyster cards is quick and easy at any Oyster Ticket Stop, online at oyster.tfl.gov.uk or via the TfL app or at a station ticket machine.</p>
<p>TfL has now begun the formal process to allow for the machines to be removed. A comprehensive marketing campaign will be launched across the Tram network in the coming weeks to ensure customers are aware of the changes before they are introduced in July. Following comments made during the public engagement, TfL will also be making a number of improvements to tram stops across the network in the coming months, including:</p>
<ul>
    <li>More signage at tram stops to advise passengers on ways to pay, including how to download the TfL app and where to find their nearest Oyster Ticket Stop</li>
    <li>Travel Ambassadors located at selected tram stops across the network when the changes are introduced to help ensure passengers are aware of the changes and the alternative ways of paying</li>
    <li>Additional validators installed at selected tram stops across the network to make it more convenient and quicker for passengers to touch in</li>
    <li>New customer information displays at selected tram stops to help customers plan their journey and see where the tram interchanges with London Underground, London Overground and other National Rail services</li>
</ul>
<p><strong>Mark Davis, General Manager of London Trams, said:</strong> &quot;The vast majority of tram customers already use pay as you go with Oyster or contactless to travel, which is both cheaper than paper tickets and allows customers to use the Mayor's Hopper fare to make unlimited bus or tram journeys within an hour for &pound;1.50. As very few ticket sales are made using ticket machines, we will be removing the existing cash ticket machines and encouraging customers to switch to pay as you go, Travelcards or Bus &amp; Tram Passes, all of which can quickly be bought from their local Oyster Ticket Stop, online or via the TfL app.&quot;</p>
<p>For more information about the changes please visit <a href="http://www.tfl.gov.uk/cashless-trams">www.tfl.gov.uk/cashless-trams</a></p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The report on the public and stakeholder engagement is available to download from the TfL website &#45; <a href="https://consultations.tfl.gov.uk/rail/cashless-trams/results/report.pdf">https://consultations.tfl.gov.uk/rail/cashless-trams/results/report.pdf</a></li>
    <li>As part of the process, TfL has written to the Mayor to amend the relevant Penalty Fares order for the Tram network.  The Secretary of State will also be formally requested to change the Tramlink Byelaws to remove the redundant reference to ticket facilities at tram stops</li>
    <li>Paper tickets will still be able to be purchased from East Croydon Network Rail machines and from the London Tram shop on George Street, Croydon</li>
    <li>The free TfL app, which is available to download from both the Google Play Store and Apple App Store, currently enables customers to use their smartphone to quickly add pay as you go credit or Travelcards to their Oyster card. This credit can then be used for a journey 30 minutes after you have topped up by simply touching the Oyster card on the yellow card reader on any London bus or at any Tube or rail station, tram stop or River Bus pier as part of a journey - <a href="https://tfl.gov.uk/fares-and-payments/ways-to-pay/tfl-oyster-app">https://tfl.gov.uk/fares-and-payments/ways-to-pay/tfl-oyster-app</a></li>
    <li>Since the Oyster card was introduced in July 2003, the number of journeys being made on the Tram network every year has grown from 20 million to around 29 million in 2016/17.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-TfL confirms trams in Croydon will go ‘cashless’ -->

 
 
        
        
            @{ViewBag.Description = "TfL confirms trams in Croydon will go ‘cashless’";}
        
        


 