


@{ViewBag.Title = "Virgin Media fined &pound;3,000 for non-compliant street work practices";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Virgin Media fined £3,000 for non-compliant street work practices</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Virgin Media fined £3,000 for non-compliant street work practices</h1>
        <div class="content-page-press-release">
        21 June 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Virgin Media failed to pay fixed penalty notices on time, leaving TfL no choice but to proceed to the Magistrate's Court
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has successfully prosecuted Virgin Media for five streetworks related offences committed on the Transport for London Road Network. The works took place in Wandsworth High Street, Stonecote Hill and Wickham Road between October and December 2017.</p>
<p>TfL must be notified of works being carried out on its road network, which includes London's busiest 'red route' roads, so that disruption can be minimised and safety maintained. Virgin Media failed to provide details of the exact location, dimensions and other engineering information used in the work, breaching Street Works Regulations and causing a significant impact on the road network.</p>
<p>Failure to inform TfL when work is completed causes issues, as TfL is unable to accurately coordinate the road network, which can lead to increased levels of disruption. If full details are not registered, this can cause problems with inspecting the affected area for safety and engineering defects.</p>
<p>TfL issued Virgin Media with fixed penalty notices, which Virgin Media failed to pay within the statutory time periods. This left TfL no choice but to prosecute them. On 20 June, Virgin Media pleaded guilty to all five offences and were fined &pound;3,000 and ordered to contribute &pound;3,494 towards the legal costs incurred by TfL.</p>
<p><strong>In sentencing, the Court remarked that;</strong> 'these offences appear to occur quite regularly according to the records presented to me, which showed a total of 66 fixed penalty notices have been incurred in the last year alone. That to me is a pattern of carelessness towards your compliance obligations and not acceptable. Had the fixed penalty notice of only &pound;120 been paid in each case, the Court's time would not have been unduly taken dealing with these cases'</p>
<p><strong>Glynn Barton, TfL's Director of Network Management, said</strong>: `We work hard to keep London moving and, as part of that, we need the cooperation of utility companies. We have prosecuted Virgin Media 16 times for street works offences since 2010 and they still continue to breach the rules. We are working with Virgin Media and other utility companies to assist them with notification compliance and to ensure that roadworks are carried out properly, with minimal disruption to road users.'</p>
<p><strong>Notes to editors</strong><br />
•	Since 2010, Virgin Media has been fined a total of &pound;20,000 for various street works offences<br />
•	Details surrounding Virgin Media's previous prosecutions can be found here:<br />
•	<a href="https://tfl.gov.uk/info-for/media/press-releases/2014/june/virgin-media-and-unsafe-mcnicholas-fined-for-unsafe-working-practices">https://tfl.gov.uk/info-for/media/press-releases/2014/june/virgin-media-and-unsafe-mcnicholas-fined-for-unsafe-working-practices</a> <br />
•	<a href="https://tfl.gov.uk/info-for/media/press-releases/2014/may/virgin-media-fined-for-unsafe-working-practices-causing-danger-to-london-s-road-users">https://tfl.gov.uk/info-for/media/press-releases/2014/may/virgin-media-fined-for-unsafe-working-practices-causing-danger-to-london-s-road-users</a><br />
•	Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting reportit.tfl.gov.uk. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken<br />
•	For more information about the wider work TfL is carrying out to keep London moving, please visit <a href="http://www.tfl.gov.uk/roads">www.tfl.gov.uk/roads</a><br />
•	The table below sets out the number of times TfL has successfully prosecuted utility companies since 2010:</p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top; white-space: nowrap;">Company</td>
            <td style="text-align: left; vertical-align: top;">
            <p>Number of Offences Prosecuted</p>
            </td>
            <td>
            <p>%  of Total Prosecutions </p>
            </td>
            <td>Total Amount fined </td>
        </tr>
        <tr>
            <td> BT Openreach</td>
            <td> 47</td>
            <td> 36.43%</td>
            <td> &pound;157,270</td>
        </tr>
        <tr>
            <td> Virgin Media</td>
            <td> 16</td>
            <td> 12.40%</td>
            <td> &pound;20,000</td>
        </tr>
        <tr>
            <td> Thames Water</td>
            <td> 13</td>
            <td> 10.08%</td>
            <td> &pound;16,900</td>
        </tr>
        <tr>
            <td> Infocus</td>
            <td> 11</td>
            <td> 8.53%</td>
            <td> &pound;1,100</td>
        </tr>
        <tr>
            <td> Fulcrum</td>
            <td> 9</td>
            <td> 6.98%</td>
            <td> &pound;7,050</td>
        </tr>
        <tr>
            <td> UK Power Networks</td>
            <td> 9</td>
            <td> 6.98%</td>
            <td> &pound;37,000</td>
        </tr>
        <tr>
            <td> Vodafone</td>
            <td> 9</td>
            <td> 6.98%</td>
            <td> &pound;9,390</td>
        </tr>
        <tr>
            <td> National Grid Gas</td>
            <td> 5</td>
            <td> 3.88%</td>
            <td> &pound;11,000</td>
        </tr>
        <tr>
            <td> Cable &amp; Wireless</td>
            <td> 3</td>
            <td> 2.33%</td>
            <td> &pound;3,000</td>
        </tr>
        <tr>
            <td> Cadent Gas</td>
            <td> 2</td>
            <td> 1.55%</td>
            <td> &pound;10,000</td>
        </tr>
        <tr>
            <td> Abovenet</td>
            <td> 2</td>
            <td> 1.55%</td>
            <td> &pound;500</td>
        </tr>
        <tr>
            <td> McNicholas (on behalf of Virgin Media)</td>
            <td> 1</td>
            <td> 0.78%</td>
            <td> &pound;1,665</td>
        </tr>
        <tr>
            <td> O2</td>
            <td> 1</td>
            <td> 0.78%</td>
            <td> &pound;240</td>
        </tr>
        <tr>
            <td> Southern Electric</td>
            <td> 1</td>
            <td> 0.78%</td>
            <td> &pound;200</td>
        </tr>
        <tr>
            <td> TOTAL</td>
            <td> 129</td>
            <td> 100%</td>
            <td> &pound;275,315</td>
        </tr>
    </tbody>
</table></div>
<p ><br />
</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-June-Virgin Media fined £3,000 for non-compliant street work practices -->

 
 
        
        
            @{ViewBag.Description = "Virgin Media fined £3,000 for non-compliant street work practices";}
        
        


 