
    
  



@{ViewBag.Title = "Pay as you go caps";}
@{ViewBag.Keywords = "TfL,Caps, capping, fares, fare caps, daily caps, weekly caps, cap prices, how caps work, automatic cap refunds";}
@{ViewBag.Url = "/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
                 <li><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pay as you go caps</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay as you go caps</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Make as many pay as you go journeys as you like using contactless (card or device) or an Oyster card in one day and we'll cap your fare so you don't pay more.
        
      </div>
    
    <div class="on-this-page">
      <h2>What is a cap?</h2>

<p>A cap limits how much you pay for all your journeys in one day or week.</p>

<p>You can make as many journeys as you like and when all your fares add up to a certain amount, we won't charge you more (your fare is automatically capped). Always <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in and out</a>.</p>

<p>There are <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">different caps</a> for the times of day you travel (peak and off-peak) and the transport you use:</p>

<ul>
	<li>Cap for bus, Tube, tram, DLR, London Overground, TfL Rail and National Rail journeys in London</li>
	<li>Cap for bus and tram journeys</li>
</ul>

<h3>Contactless caps</h3>

<p>If you use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device), you get a daily and weekly cap.</p>

<p>You can travel as much as you like in one day and week across all our transport services.</p>

<p>Journeys on TfL Rail to or from Reading or Iver aren't included in caps.</p>

<h3>Oyster card caps</h3>

<p>If you use an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a>, you get a daily cap and can&nbsp;travel as much as you like in one day across all our transport services.</p>

<p>You also get a weekly cap for bus and tram journeys only, so you can travel as much as you like in one week.</p>

<p>Oyster cards aren't accepted on TfL Rail between between Reading and Iver.</p>

<h2>Cap prices</h2>
      
           
      <div class="news-teaser ">
  
  <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices?intcmp=54720"  data-img="/cdn/static/cms/images/promos/pay-as-you-go-caps.jpg" data-img-breakpoint="medium" data-img-alt="" "">
    <img src="/cdn/static/cms/images/promos/pay-as-you-go-caps_rdax_600x300.jpg" alt="" "" />
    <div class="text-link sit-top">
      <h2>Caps and Travelcard prices</h2>
      <p>Compare caps and Travelcard prices for your travel</p>
    </div>
  </a>
</div>

 <div>

<p>If you make several rail journeys, or a mixture of rail, bus and tram journeys in one day, daily capping is better value than buying a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcard</a>&nbsp;in Zones 1-9.</p>

<p>There are peak and off-peak daily caps depending on when you start your journey.</p>

<h2>How a cap works</h2>

<p>We work out when you've reached a cap because we log every journey you make and keep track of:</p>

<ul>
	<li>Zones you've travelled through</li>
	<li>The time you touch in on each journey</li>
	<li>All fares you pay</li>
</ul>

<p>You must <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a>&nbsp;at start and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a>&nbsp;at the end&nbsp;of every journey, using the same contactless card, device or Oyster card. If you don't you may be charged a maximum fare.</p>

<p>If you use contactless, always use the same card or device. If you don't, we can't cap your fares. For example, if you pay with a mobile device on Monday and a contactless card on Tuesday, these fares won't count towards a weekly cap.</p>

<h3>Daily cap</h3>

<p>A daily cap is calculated over 24 hours for pay as you go journeys that start at 04:30 and end on 04:29 the next day.</p>

<h3>Weekly cap</h3>

<p>A weekly cap is calculated for journeys using contactless (card or device) or an Oyster card (bus and tram journeys only), that start on Monday and end on a Sunday.</p>

<p>If you don't travel on these days, for example if your travel starts on Thursday and ends on Wednesday the next week, it may be better value to buy a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">7 Day Travelcard</a>.</p>

<p>To get the weekly cap, use the same contactless card or device,&nbsp;or Oyster card&nbsp;from Monday to Sunday.</p>

<h3>Off-peak caps at different times</h3>

<p>If you travel from a station listed below on a weekday, between the touch in time and 09:30, you're charged a peak <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fare. However, your journey will count towards an off-peak cap.</p>
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Station</strong></td>
			<td><strong>Touch in from</strong></td>
		</tr>
		<tr>
			<td>Chesham</td>
			<td>09:10</td>
		</tr>
		<tr>
			<td>Amersham</td>
			<td>09:10</td>
		</tr>
		<tr>
			<td>Chalfont &amp; Latimer</td>
			<td>09:20</td>
		</tr>
		<tr>
			<td>Bushy</td>
			<td>09:20</td>
		</tr>
		<tr>
			<td>Carpenders Park</td>
			<td>09:20</td>
		</tr>
		<tr>
			<td>Watford High Street</td>
			<td>09:10</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Automatic refunds</h2>

<p>If you've been charged more than the cap for one day of travel in Zones 1-6, we'll automatically refund the difference.</p>

<p>We check caps at the end of each week, so you'll receive your refund from the Friday of the following week on your Oyster card when you next touch in.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Make as many pay as you go journeys are you like using contactless or an Oyster card and we'll cap your fare";}
        
            
        


 