


@{ViewBag.Title = "Blackwall Tunnel northbound to remain closed until Wednesday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel northbound to remain closed until Wednesday</h1>
        <div class="content-page-press-release">
        30 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Engineers working 24 hours a day to repair damage.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are advising people to use alternative river crossings and allow extra time for their journey
                            
                        </p>
                    </div>
                
            
            
            <p>The Blackwall Tunnel northbound will remain closed until Wednesday at the earliest after a vehicle fire in the tunnel damaged the road surface, lighting and CCTV systems.</p>
<p>The fire, involving a people carrier, happened at around 17.45 on Sunday 29 November 100 metres from the tunnel exit.&nbsp;</p>
<p>Emergency services attended and the fire was quickly extinguished.</p>

<h2>Repair damage</h2>
<p>Transport for London engineers have been working in the tunnel throughout the night and will we working 24 hours a day to repair the damage as quickly as possible.</p>
<p>We understand two people were taken to hospital one due to smoke inhalation and one with an ankle injury.</p>
<p>Garrett Emmerson, Chief Operating Officer, London Streets said: 'We are working flat out to repair the damage caused by the fire as quickly as possible.&nbsp;</p>
<p>'I would like to thank the emergency services and our staff who did a fantastic job dealing with the fire and evacuating the tunnel so quickly.</p>
<p>'The closure of the northbound tunnel will cause traffic problems in the area.&nbsp;</p>

<h2>Alternative crossings</h2>
<p>'We are advising people to use alternative river crossings and allow extra time for their journey. </p>
<p>'We would also urge people to consider using the Tube or the DLR while the tunnel is closed.'</p>
<p>The southbound tunnel was closed for several hours on Sunday evening to allow access for emergency service vehicles. </p>
<p>DLR services are available from Greenwich and Cutty Sark stations south of the Thames and Blackwall DLR station north of the Thames.&nbsp;</p>
<p>Jubilee line services operate from North Greenwich station with connections to the DLR from Canning Town.</p>
<p>Some bus routes are on diversion and London Underground will be accepting tickets from customers travelling in the area.</p>
<p>&nbsp;</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>Motorists needing to cross the Thames are advised to use the Dartford river crossing, Rotherhithe Tunnel, Woolwich Ferry or Tower Bridge</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Blackwall Tunnel northbound will remain closed until Wednesday at the earliest after a vehicle fire in the tunnel damaged the road surface, lighting and CCTV systems.The fire, involving a people carrier, happened at around 17.45 on Sunday 29 November";}
        
        


 