


@{ViewBag.Title = "Brixton Hill gyratory to be removed this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brixton Hill gyratory to be removed this weekend</h1>
        <div class="content-page-press-release">
        09 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road layout will return to two-way traffic at 06.00 on Sunday 15 November.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The removal of the gyratory system will bring huge benefits to Brixton, helping to improve traffic flow as well as making it easier and safer for pedestrians
                            
                        </p>
                    </div>
                
            
            
            <p>The latest project to smooth traffic flow in the Capital will go live next weekend, when the gyratory system in Brixton town centre will be removed to convert Brixton Hill from a one-way to a two-way traffic system. </p>
<p>Now people using Brixton Hill will be able to drive in both directions on Brixton Hill for the first time in decades.</p>
<h2>Town Centre improvement</h2>
<p>The Brixton Hill gyratory is being removed as part of the Mayor and Transport for London's (TfL) Brixton Town Centre improvement work, which has already seen pavements in the town centre widened, the installation of a signalised pedestrian crossing and improvements to bus lanes in the area. </p>
<p>The final phase of improvement works, which will be completed during 2010, will see the creation of a new public space at the top of Brixton Road. </p>
<p>The new square, which joins Tate Gardens and Windrush together, has been designed to fit in with the historic character of the area and will include new trees, a water feature and a sculptural granite seat.</p>
<p>New signs, road markings and temporary road barriers are currently being placed around Brixton Hill to highlight the new road layout and help ensure a smooth transition to the new traffic system, and police will be on site on the morning of 15 November to help manage traffic along Brixton Hill and St Matthews Road during the switch. </p>
<p>TfL will continue to monitor traffic flows following the switchover.</p>
<h2>Smooth traffic flow</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor has vowed to make London's streets more attractive and life easier for road users. </p>
<p>'Brixton gyratory was an unpleasant relic of the past and going back to two-way is simple common sense. It should greatly smooth the flow of traffic through the area as well as improving public space.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The removal of the gyratory system will bring huge benefits to the local community around Brixton, helping to improve traffic flow through the area as well as making it easier and safer for pedestrians to cross the road.</p>
<p>'The Brixton Town Centre Improvement scheme is now entering its final stages and I ask residents to bear with us while the finishing touches are being made to the area.' </p>
<h2>More pleasant and attractive</h2>
<p>Cllr Sally Prentice, Lambeth Council's cabinet member for Environment, said: 'This is a major step forward in improving Brixton and making the area safer, more pleasant and more attractive.&nbsp;</p>
<p>'The wider improvements to the new 'Windrush Square' that are due next year will create a fantastic new public space, and with high-profile public arts and creative lighting schemes, the improvements will really help to regenerate the area and improve the quality of life for local people.'<br>&nbsp;<br>Brixton Hill is the second gyratory system to be removed by the Mayor and TfL this year - the gyratory at Aldgate East was removed in March 2009. </p>
<p>TfL is currently consulting on changes to the Tottenham Hale gyratory scheme, which if approved will begin in 2013, and work on reverting the Kender Triangle in New Cross back to two way traffic will begin early in&nbsp;2010.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Although the traffic on Brixton Hill will become two-way, traffic along Effra Road and St Matthews Road will remain one-way </li>
<li>For further information regarding these traffic changes and the Brixton Town Centre improvement project, visit <a href="http://www.tfl.gov.uk/windrushsquare">www.tfl.gov.uk/windrushsquare</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest project to smooth traffic flow in the Capital will go live next weekend, when the gyratory system in Brixton town centre will be removed to convert Brixton Hill from a one-way to a two-way traffic system. Now people using Brixton Hill will be";}
        
        


 