


@{ViewBag.Title = "Coca-Cola to sponsor London Underground's licensed busking scheme during the festive season";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Coca-Cola to sponsor London Underground's licensed busking scheme during the festive season</h1>
        <div class="content-page-press-release">
        11 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU), with the help of advertising agency CBS Outdoor, has clinched a deal with the most famous drinks brand in the world.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Buskers on the Underground make customers' journeys more interesting and colourful"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Ball</div>
            <div class="quotee-job-title">Director of Strategy and Service Development for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Buskers on the Underground make customers' journeys more interesting and colourful
                            
                        </p>
                    </div>
                
            
            
            <p>From Monday 30 November buskers will be entertaining&nbsp;passengers on new Coca-Cola branded busking pitches across the Tube network. </p>
<p>Around 240 active buskers help brighten passengers' journeys by performing at 21 central Tube stations.&nbsp;</p>
<p>The licensed busking scheme currently includes 33 busking pitches, which are like mini-stages for musicians, however no busker will be required to sing or play on the Tube. </p>
<h2>Talented performers</h2>
<p>John Ball, Director of Strategy and Service Development for LU said: 'It's fantastic that Coca-Cola has jumped on this opportunity to sponsor our hugely successful licensed busking scheme. </p>

<p>'They clearly recognised the number of talented performers that we have on the Tube.</p>
<p>'Around three and a half million people use the Tube everyday and pitch branding on our busking pitches is a great way to communicate with them.&nbsp;</p>
<p>'Buskers on the Underground make customers' journeys more interesting and colourful.'</p>
<p>Donna Price, Group Account Director, Sponsorship &amp; Experiential Music for CBS, said: 'This is a great way of enhancing the emotional connection between a brand and the consumer. </p>
<h2>Serenade Christmas shoppers</h2>
<p>'Coca-Cola is steeped in the festive tradition and busking is a great way of bringing happiness to the travelling public.'</p>
<p>Cathryn Sleight, Marketing Director for Coca-Cola Great Britain, said: 'Coca-Cola has a rich history in festive advertising and we are looking forward to sponsoring the successful TfL licensed busking scheme, supporting buskers as they serenade commuters and shoppers alike on the London Underground during this busy period in the run up to Christmas.'</p>
<p>Sponsoring our licensed busking scheme can provide the sponsor with a range of PR and Marketing opportunities.&nbsp;</p>
<p>Previous sponsorship partnerships have included the O2, Carling, Capital 95.8&nbsp;and thelondonpaper.&nbsp;</p>
<p>London Underground's buskers are chosen on talent and many have played at high profile events such as Glastonbury and concerts at the Albert Hall. </p>
<p>Many musicians have found that busking provides them with great exposure to new audiences. <br><br>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>Three and a half to four million passenger journeys are made every weekday on the Tube - that's as many as on the entire national rail network </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> </li>
<li>CBS Outdoor is the leading transport advertising company in the UK, managing advertising sales on the UK's buses, trams, London Underground, DLR, and national rail. The company operates in Europe, China&nbsp;and The Americas and is part of media and entertainment giant CBS Corporation </li>
<li>The licensed Underground busking scheme was launched in 2003 by London Underground. Before this busking was illegal and completely unregulated. Thanks to London Underground the scheme is now a licensed scheme and is popular with passengers <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Monday 30 November buskers will be entertaining&nbsp;passengers on new Coca-Cola branded busking pitches across the Tube network. Around 240 active buskers help brighten passengers' journeys by performing at 21 central Tube stations.&nbsp;The";}
        
        


 