


@{ViewBag.Title = "DLR toasts 10 years of the Lewisham extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR toasts 10 years of the Lewisham extension</h1>
        <div class="content-page-press-release">
        23 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London (TfL), is today celebrating the tenth anniversary of its Lewisham extension.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The line has proved an enormous success, as demonstrated by its ever-growing passenger numbers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">TfL Managing Director of London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The line has proved an enormous success, as demonstrated by its ever-growing passenger numbers.
                            
                        </p>
                    </div>
                
            
            
            <p>The &pound;200m line officially opened on 22 November 1999 and has carried around 80 million passengers during its first decade.</p>
<p>Over 10 million passengers per year now use the extension, while just under 5 million used it during its first 12 months. </p>
<p>The 4.2km line comprises stations at Lewisham, Elverson Road, Deptford Bridge, Greenwich, Cutty Sark for Maritime Greenwich, Island Gardens and Mudchute.</p>
<p>Ian Brown, TfL Managing Director of London Rail, was DLR Chief Executive in 1999. </p>
<p>He said: 'It is a great pleasure to see the Lewisham extension complete its first decade of service. </p>
<p>'The line has proved an enormous success, as demonstrated by its ever-growing passenger numbers.</p>
<p>'In many ways the Lewisham extension typifies all that is good about DLR: it is reliable, popular, links areas that previously suffered from poor public transport and has proved a major catalyst for local regeneration.'</p>
<p>The line was designed, financed and built by City, Greenwich Lewisham (CGL) Rail, which now maintains the route as part of a 24.5 year 'concession' agreement.</p>
<p>Clive Dennis, Chief Executive, said: 'I appreciate very much Ian's warm words.&nbsp;</p>
<p>'It has been a privilege to have been associated with the Docklands Light Railway for 10 years and I am particularly grateful to all our staff who have made such a contribution over the years. </p>
<p>'The role that the DLR has played in the development of this part of our Capital city and the quality of the service it provides is rightly a source of much pride for all involved.'</p>
<p><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>The extension comprises twin bore tunnels underneath the Thames, an 830m viaduct, five overground stations and two underground stations. 1.65km of the line is underground </li>
<li>The most popular station on the line is Lewisham, with an average of almost 15,000 passengers per weekday </li>
<li>DLR trains have travelled more than 6.5 million km on the line since it first opened, equivalent to travelling around the earth over 160 times</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;200m line officially opened on 22 November 1999 and has carried around 80 million passengers during its first decade.Over 10 million passengers per year now use the extension, while just under 5 million used it during its first 12 months. The";}
        
        


 