


@{ViewBag.Title = "HRH The Duke of York opens state of the art transport control centre";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>HRH The Duke of York opens state of the art transport control centre</h1>
        <div class="content-page-press-release">
        09 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        HRH The Duke of York opens state-of-the-art transport control centre.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The men and women working in the new centre are unsung heroes who keep our roads moving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The men and women working in the new centre are unsung heroes who keep our roads moving
                            
                        </p>
                    </div>
                
            
            
            <p>Three key transport control centres, which play a vital role in keeping the Capital moving, have been relocated to one high-tech hub.&nbsp;</p>
<p>HRH The Duke of York formally opened the facility during a visit on Monday 9 November. </p>
<p>The new Surface Transport and Traffic Operations Centre (STTOC) is now home to London Buses Command and Control Centre (CentreComm), London Streets Traffic Control Centre (LSTCC) and the Metropolitan Police Traffic Operation Control Centre (MetroComm).&nbsp;</p>
<p>The co-location of these three control centres will enable them to work more closely together in their monitoring, controlling and policing of the Capital's surface transport networks. </p>
<p>Behind the scenes at STTOC teams of experts work 24/7 to monitor, control and police London's roads and buses.&nbsp;</p>
<p>Without the work of these teams the Capital could grind to a halt. </p>
<p>London has one of the most complex and unique road transport networks in the world and the team work hard to oversee and ensure it runs smoothly.&nbsp;</p>
<p>There are approximately 1,000 unplanned incidents per month which includes traffic accidents and emergency roadworks as well as around 750 major events per year in London such as Notting Hill Carnival and the London Marathon which all require special planning, diversions and road closures which need to be communicated to motorists and other road users. </p>
<p>David Brown, Managing Director Surface Transport, said: 'These control centres are vital to keep London moving.&nbsp;</p>
<p>'The work of the teams, which goes on 24 hours a day, seven days a week, goes unnoticed but without them the Capital's roads would grind to a halt. </p>
<p>'By bringing them together the teams can work more closely and enable us to react even more quickly to events, meaning shorter delays for all road users.'</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The men and women working in the new centre are unsung heroes who keep our roads moving.&nbsp;</p>
<p>'Bringing the three control centres under one roof is a terrific boost to the Mayor's efforts to improve the flow of traffic in the Capital.&nbsp;</p>
<p>'The new centre puts us in a good position to move forward with managing major events, including the Olympics.'<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>6,000 traffic cameras are monitored at LSTCC to keep the roads running smoothly </li>
<li>Staff at CentreComm take around 1,300 calls every day from London's 23,000 bus drivers<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three key transport control centres, which play a vital role in keeping the Capital moving, have been relocated to one high-tech hub.&nbsp;HRH The Duke of York formally opened the facility during a visit on Monday 9 November. The new Surface Transport and";}
        
        


 