


@{ViewBag.Title = "King's Cross St. Pancras Tube station doubles in size as state-of-the-art ticket hall opens";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>King's Cross St. Pancras Tube station doubles in size as state-of-the-art ticket hall opens</h1>
        <div class="content-page-press-release">
        27 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Northern ticket hall cuts congestion and improves accessibility.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is more than just a new ticket hall - it is a bright, spacious, futuristic addition to the London transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is more than just a new ticket hall - it is a bright, spacious, futuristic addition to the London transport network
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Boris Johnson, and Minister for London, Tessa Jowell, today officially opened the brand new, state-of-the-art Northern ticket hall at King's Cross St. Pancras Underground station, which will provide a big increase in capacity, cutting congestion and improving accessibility.</p>
<p>The new ticket hall, funded by the Department for Transport (DfT) and delivered as part of Transport for London's (TfL) Investment Programme, is the station's third ticket hall and will open to the public Sunday 29 November, delivering an early legacy benefit at one of the key London 2012 gateway stations. </p>
<h2>More new entrances</h2>
<p>It is great news for the 300,000 passengers that use the station each day, as it doubles station capacity thereby reducing congestion and slashing waiting times by providing more ticket office windows and ticket machines.</p>
<p>Step-free access will be available to five of the six lines that serve the station, with step-free access to the Northern line available from mid 2010.</p>
<p>The 2,000 square metre ticket hall consists of:</p>
<ul>
<li>Ten new escalators </li>
<li>Six new step-free access lifts (Northern line step-free access available from mid-2010) </li>
<li>New ticket office windows and ticket machines </li>
<li>Around 300 metres of new tunnels linking the ticket hall with the Northern, Piccadilly and Victoria line platforms. These will provide new entrances to the deep level platforms, leading to reduced congestion at the station</li></ul>
<p>The new ticket hall is the latest big improvement delivered as part of TfL's multi-billion Investment Programme, which over the past year has seen new trains running on the Victoria line and London Overground network, further extension of the Docklands Light Railway (DLR) and the start of Crossrail construction.</p>
<p>Transport Secretary Andrew Adonis said: 'King's Cross St. Pancras is a national and international gateway for millions of Londoners and visitors every year. </p>
<p>'Through the Government's &pound;800m investment it is now an Underground station to be proud of - ensuring a quick and pleasant travelling experience.</p>
<p>'This project demonstrates our firm commitment to delivering a sustainable and efficient transport system fit for the 21st century.'&nbsp; </p>
<h2>Slashing queuing times</h2>
<p>Mayor of London, Boris Johnson, said: 'This is more than just a new ticket hall - it is a bright, spacious, futuristic addition to the London transport network, which will benefit hundreds of thousands of passengers each day and make their journeys easier. </p>
<p>'The capacity of the Tube station will now be doubled, easing congestion, slashing queuing times, and improving quality of life for the multitude using the station. </p>
<p>'London Underground has done a grand job in making this new ticket hall a reality. </p>
<p>'In short, it is the standard by which all new station developments should be judged.'</p>
<p>Minister for London, Tessa Jowell, said: 'For anyone who needs to use King's Cross on a daily basis, life is about to get a lot easier. </p>
<h2>Future passenger numbers</h2>
<p>'As well as speeding up ticket purchases and Oyster top-ups, the new ticket hall will put an end to closures due to overcrowding, and make travelling easier for people who need step-free access.</p>
<p>'King's Cross already sees more passengers a year than Heathrow and by the time the Olympics take place in 2012, more than 100,000 people will be passing through the station at peak times every day. </p>
<p>'This &pound;800m expansion is essential to effectively managing future passenger numbers.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: This new ticket hall is the latest in a series of important improvements for customers delivered by the TfL Investment Programme.</p>
<p>'King's Cross St. Pancras station is one of the oldest and busiest stations on the Tube network and the redevelopment of the station is vital to deal with the hundreds of thousands of people who use the station every day without peak time closures. </p>
<p>'There are 11 lines on the Tube network, six of which serve King's Cross St. Pancras station and all six lines will have been upgraded by 2016.' </p>
<h2>30 per cent capacity increase</h2>
<p>The Tube carries more than a billion passengers every year and is undergoing one of the biggest investment programmes in its 146-year history, with new track, trains and signalling. </p>
<p>When complete it will deliver a 30 per cent increase in capacity across the network.</p>
<p>The opening of the Northern ticket hall coincides with the publication of TfL's Interchange Best Practice Guidelines, which seek to improve the quality of planning, design, and operation of public transport interchanges. </p>
<p>The Northern ticket hall exemplifies the principles outlined in the document, and is designed to improve the passenger experience when changing between trains and other modes of transport. </p>
<p><a href="http://www.tfl.gov.uk/interchange">Take a look at TfL's Interchange Best Practice Guidelines</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Photographs from the station opening are available to media </li>
<li>Various images of the construction and how the station looked prior to redevelopment works starting are available on request </li>
<li>Approximate total size of station (ticket hall areas)<br>o&nbsp;&nbsp;&nbsp; 2000 (before redevelopment work):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2,000 sq/metres<br>o&nbsp;&nbsp;&nbsp; 2006 (opening of Phase 1):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4,000 sq/metres<br>o&nbsp;&nbsp;&nbsp; 2009 (opening of new ticket hall):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8,000 sq/metres </li>
<li>Construction has been underway on the re-development of King's Cross St. Pancras Underground station since 2000 </li>
<li>King's Cross St. Pancras is one of the Underground's oldest and busiest stations. During the morning peak 73,000 people pass through King's Cross and this number is forecast to rise to 105,000 during the 2012 Olympics as the station will be a vital transport hub for visitors during the Games </li>
<li>The station acts as a major interchange with two National Rail stations - St. Pancras and King's Cross and gets heavily congested. In 1996, when the Channel Tunnel Rail Link Act was passed, it was recognised that the station would need to be redeveloped to cater for the large increase in passengers expected from this new high speed rail line </li>
<li>Passengers using the new high speed domestic services to St. Pancras International, which commence on 13 December 2009, will be able to access the Northern ticket hall through a new subway link </li>
<li>The estimated construction costs for Phase 1 of the work (Western ticket hall, renewal of Tube ticket hall) and Phase 2 (Northern ticket hall) are &pound;371m and &pound;395m respectively. Taking account of other ancilliary costs, the total estimated direct costs for the combined Phase 1 and 2 of the King's Cross St Pancras redevelopment project is &pound;810m </li>
<li>These costs were funded by the DfT with a &euro;20m contribution from EU Trans-European Network funding </li>
<li>Works on the new ticket hall were completed by the following contractors: 
<ul type="circle">
<li>Project Management: Atkins/Balfour Beatty Management </li>
<li>Principal contractor: Balfour Beatty Civil Engineering Ltd </li>
<li>Tunnelling: Morgan Bemo JV </li>
<li>Designer: Arup </li>
<li>Architect: Allies and Morrison</li></ul></li>
<li>The opening of the new ticket hall also marks the first permanent artwork to be installed on the LU since the 1980s. Full Circle by Knut Henrik Henriksen and has been specially created for the station.&nbsp;For more information about Art on the Underground's latest installation Full Circle, please call Theresa Simon &amp; Partners on 020 7734 4800 </li>
<li>TfL is in&nbsp;the middle of a huge investment programme on the Tube network which when complete will deliver an increase in capacity of 30 per cent </li>
<li>More than half of the 11 Tube lines serve King's Cross St. Pancras: 
<ul type="circle">
<li>The Circle and Hammersmith &amp; City line upgrades will take place in three stages: a new route, spacious new air-conditioned trains, and a new signalling system and will deliver 53 new air-conditioned trains and an increase in capacity of 65 per cent and will be completed by 2016 </li>
<li>The Metropolitan line upgrade will deliver 58 new air-conditioned trains and will deliver 27 per cent increase in capacity and will be completed in 2016 </li>
<li>The Northern line is the busiest line on the network and when complete the upgrade will deliver a 20 per cent increase in capacity and a journey time reduction of around 18 per cent, the upgrade will be complete in 2012 </li>
<li>The Piccadilly line will get new trains, new signalling and a new control centre, when complete the upgrade will deliver 24 per cent increase in capacity and journey times will be cut by around 19 per cent </li>
<li>The Victoria line upgrade includes 47 new trains, the first of which entered passenger service in July, and new signalling which will deliver 21 per cent increase in capacity and journey times will be cut by around 16 per cent</li></ul></li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson, and Minister for London, Tessa Jowell, today officially opened the brand new, state-of-the-art Northern ticket hall at King's Cross St. Pancras Underground station, which will provide a big increase in capacity, cutting";}
        
        


 