


@{ViewBag.Title = "Know what you're getting into";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Know what you're getting into</h1>
        <div class="content-page-press-release">
        25 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New hard-hitting campaign warns Londoners about the dangers of unbooked minicabs.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Never approach minicab drivers. If any minicab driver comes up to you, they're acting illegally so don't get in
                            
                        </p>
                    </div>
                
            
            
            <p>A new hard-hitting campaign warning Londoners about the dangers of using unbooked minicabs is being launched Friday 27 November by the Mayor, Transport for London, the Metropolitan Police Service (MPS) and the City of London Police (CoLP).</p>
<p>Timed to coincide with the start of the Christmas party season it features a powerful TV and cinema advert to get across the message that getting into any minicab without booking is illegal, potentially dangerous and can pose the serious risk of sexual assault. </p>
<h2>Safer travel at night</h2>
<p>The campaign is part of the Mayor's Safer Travel at Night initiative. </p>
<p>Since it was launched six years ago the number of women willing to take illegal cabs has dropped by almost 80 per cent, while the number of cab related sexual offences has almost halved.&nbsp; </p>
<p>However a small but significant number of younger women continue to use illegal cabs despite the dangers they pose. </p>
<p>The Mayor of London, Boris Johnson, said: 'London is one of the safest big cities in the world but it is hugely important that everyone takes this message on board - minicabs that haven't been booked are illegal and a threat to your personal safety. </p>
<h2>Text Cabwise</h2>
<p>'Don't take the risk and don't let your friends do it either. Save the Cabwise text number, 60835, in your phone and use it.'</p>
<p>Jenny Fawson, Director of Personal Safety for Suzy Lamplugh Trust said:&nbsp;'Suzy Lamplugh Trust has long campaigned to warn people of the dangers of using illegal cabs.&nbsp;</p>
<p>'These are illegal, uninsured and potentially very dangerous. </p>
<p>'Many people who have used unbooked minicabs have been victims of crimes such as theft, assault and rape. </p>
<p>'Suzy Lamplugh Trust supports the Mayor and TfL in urging late night travellers to make personal safety their top priority this Christmas party season.' </p>
<h2>Risk of attack</h2>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said:&nbsp; 'Revellers should be aware that only black cabs can be stopped and picked up off the street without being booked.&nbsp; </p>
<p>'Illegal cabs put people, particularly women, at risk of sexual attack and by booking your minicab you'll ensure a record of your trip is kept and in the event of any problems the driver will be traced.<br>&nbsp;<br>'Remember - never approach minicab drivers and if any minicab driver comes up to you, they're acting illegally so don't get in.'</p>
<p>Chief Superintendent Joe Royle, MPS Safer Transport Command said:&nbsp; 'We are determined that people get home safely after a night out in the Capital, which is why the Safer Transport Command is clamping down on illegal cabs. </p>
<h2>Reduce crime</h2>
<p>'Minicab drivers that approach Londoners anywhere in the Capital touting for business pose a real danger to late night travellers.&nbsp;</p>
<p>'Our Cab Enforcement Unit's dedicated anti-touting initiatives will help reduce crime in the run up to Christmas.'</p>
<p>It is illegal for any minicab, even if they hold a TfL licence, to tout for business on the street or to carry out a journey that has not been booked through a licensed operator.</p>
<p>Booking guarantees that your trip will be with a licensed driver in a licensed vehicle. It also means that a record of your journey, your driver and vehicle will be kept so in the event of any problems the driver can be traced. Only licensed taxis (black cabs) can be hailed in the street or picked up at a rank without a booking. </p>
<p>The Safer Travel at Night initiative is a partnership between Transport for London (TfL), the Metropolitan Police Service (MPS) and the City of London Police (CoLP). </p>
<h2>Boost awareness</h2>
<p>It aims to make people travelling at night, in particular women, aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely.</p>
<p>Since it launched in 2002 cab-related sexual offences have fallen from an average of 15 to eight offences each month and the number of women using illegal cabs has also fallen from 19 per cent in 2003 to four per cent in 2009.&nbsp; </p>
<p>In addition to this year's hard-hitting TV and cinema advert, the Safer Travel at Night initiative over the Christmas period will be supported by:</p>
<ul>
<li>Increased night-time operations by the Met Police Cab Enforcement Unit, part of the TfL funded Safer Transport Command (STC), in touting hotspots, targeting illegal cab drivers on the streets.&nbsp; The unit has made around 5,500 arrests for touting and cab-related offences since 2003.&nbsp;The City of London Police will also be stepping up enforcement activity against illegal cabs in the City </li>
<li>32 TfL funded Safer Transport Teams, covering every borough in the Capital will support these operations to deter illegal cab activity and get people home safely during the festive period. TfL will also continue to work with the boroughs to provide late-night marshalled taxi ranks in areas that are particularly busy at night.&nbsp;These include Bromley, Beckenham, Kingston and Romford in outer London and Cranbourn Street (near Leicester Square Tube station) and Liverpool Street in central London </li>
<li>TfL and police representatives will distribute Safer Travel at Night information in areas known to be illegal cab hotspots </li>
<li>An online and print advertising campaign warning women of the dangers of illegal cabs.&nbsp; The ads will promote the Cabwise service - by texting 'CAB' to 60835&nbsp;TfL will text back two minicab numbers and one taxi (black cab) number of cab firms in the area you are in</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p><strong></strong>
<ul>
<li>The Public Carriage Office, part of Transport for London, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Licensed drivers must be at least 21 years old, have a criminal record and a driving convictions check before being licensed. There is no upper age limit, provided they meet the other licensing requirements </li>
<li>The Metropolitan Police Service cab-related sexual offences figures for 2008/9 showed that since 2002, cab-related sexual offences have fallen from an average of 15 to eight offences each month </li>
<li>In addition, in 08/09 there were a total of 93 cab-related sexual offences compared to 120 in 07/08 - a decrease of 22.5 per cent </li>
<li>Crime figures were accurate at time of publication. Under the Metropolitan Police Services' new system the figures are 'live' for two years and are subject to change as data is refreshed. This change does not affect the way that crimes are counted and classified </li>
<li>Research conducted for transport for London by Synovate found that the number of women using illegal cabs has also fallen from 19 per cent in 2003 to four per cent in 2009. 702 interviews were conducted in January 2009 </li>
<li>The Safer Travel at Night partnership between the Mayor of London, Transport for London (TfL), Metropolitan Police Service (MPS) and the City of London Police works with organisations across the Capital to help make London safer at night.&nbsp;They do this by offering and raising awareness of safer travel options </li>
<li>The marketing campaign is informed by extensive campaign evaluation and creative testing research. A number of creative options were developed by the marketing agency which were shown to and discussed with a number of focus groups of women between 18 and 34 (target group). The chosen concept was identified as the most effective concept for communicating the message in terms of visual impact, shock, call to action and message understanding. Discussions with the focus groups highlighted that the shocking image had the potential to prompt a re-evaluation of behaviour </li>
<li>The TV advert has been approved by Clearcast, the company responsible for the pre-transmission examination and clearance of television advertisements, to run on TV after the watershed - 21:00 </li>
<li>The Safer Travel at Night project was awarded the fourteenth annual international Goldstein Award for Excellence in Problem Orientated Policing in 2006. The Mayor has taken a tough line on touting and any licensed private hire driver convicted of touting will now lose their private hire driver's licence. The Mayor has also doubled the number of dedicated cab enforcement officers in the Capital to 68 </li>
<li>The Suzy Lamplugh Trust, a registered charity, works to raise awareness of the importance of personal safety in order to help people to avoid violence and aggression and live safer, more confident lives </li>
<li>The Trust works alongside government, the police, the educational establishment, public bodies and the business sector to encourage safety wherever people may be at risk - in the home, at work, in public and in schools and colleges, on public transport and when travelling at home or abroad<br></li>
<li>Essential late night travel information in London:<br>-&nbsp; The Tube<br>Last Tubes leave central London at around 00:30 Monday to Saturday nights (Excludes Waterloo &amp; City and Circle lines).<br>-&nbsp; Night buses<br>There are now more night buses available than ever with 114 routes (Information relevant for 2am on Saturday morning - correct as at October 2009) running through the night and all are fitted with CCTV cameras. For help finding your night bus home call the 24-hour London Travel Information line on 020 7222 1234.<br>- Taxis and licensed private hire vehicles (including minicabs)<br>There are around 25,000 licensed taxi drivers and more than 50,000 licensed private hire drivers in London<br>- Marshalled taxi ranks and private hire schemes<br>Late night marshalled taxi ranks or private hire schemes have been established in areas of London which are particularly busy late at night. Marshalled taxi ranks are situated at Cranbourn Street (near Leicester Square Tube station), Bromley, Beckenham, Kingston, Liverpool Street and Romford and there are late night marshalled private hire schemes operating in Kingston<br>- Cabwise<br>A text service which provides two minicab numbers and one taxi (black cab) number of cab firms in the area you are in by texting 'CAB' to 60835.&nbsp; Texts are charged at 35p per enquiry plus standard text message rate.&nbsp;Roaming rates apply to overseas networks.&nbsp;Customers on the 3 network need to enter different information. See <a href="tfl.gov.uk/cabwise">cabwise </a>for further details<br>- Findaride<br>Passengers can visit tfl.gov.uk/findaride to search for licensed minicab operators in any part of London and book a licensed minicab for later on in the evening<br>- TfL's Travel Information Centre<br>TfL's 24-hour travel information call centre can provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 020 7222 1234.<br>- Traveltools<br>For information about Cabwise, Findaride, Journey Planner and all travel information visit <a href="tfl.gov.uk/traveltools">Traveltools</a>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new hard-hitting campaign warning Londoners about the dangers of using unbooked minicabs is being launched Friday 27 November by the Mayor, Transport for London, the Metropolitan Police Service (MPS) and the City of London Police (CoLP).Timed to";}
        
        


 