


@{ViewBag.Title = "London Overground helps Christmas bargain hunters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground helps Christmas bargain hunters</h1>
        <div class="content-page-press-release">
        16 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To help Londoners find those Christmas shopping bargains, Transport for London's (TfL's) London Overground is operating extra Saturday services on the Clapham Junction to Willesden Junction part of its network during the festive season.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners, particularly this year, will want to be able to look for as many bargains as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners, particularly this year, will want to be able to look for as many bargains as possible
                            
                        </p>
                    </div>
                
            
            
            <p>The Managing Director of TfL London Rail, Ian Brown, said: 'The build up to Christmas is a busy time for everyone and Londoners, particularly this year, will want to be able to look for as many bargains as possible.</p>
<p>'London Overground is putting on these extra services on the Clapham to Willesden route so that shoppers have the maximum number of travel options available.'</p>
<p>There will be an extra London Overground train every hour (ie three instead of two) on Saturday 28 November, 5 December, 12 December and 19 December between 11:00 and 19:00.</p>

<p>These services will be in addition to the one train per hour operated by train operator, Southern.</p>
<p>On those dates, a normal service will also operate on the Stratford to Willesden Junction section of the London Overground. </p>

<p>Previously, engineering works have caused weekend suspensions on this route.</p>
<p>
<hr>

<p>
<ul>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and will be joined by the extended East London line when it opens in 2010</li>
<li>TfL is investing &pound;1.4bn in London Overground, which will upgrade the network infrastructure for a more reliable and efficient service, deliver new trains and connect the extended East London line to the Richmond to Stratford line at Highbury and Islington in 2011</li>
<li>Oyster pay as you go ticketing is accepted at all London Overground stations which have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion</li>
<li>London Overground will deliver frequent metro-style services, longer operating hours and improved service frequencies on all lines so that Londoners can simply 'turn up and go'</li>
<li>Every day, 63,000 people use the London Overground network bringing a total of 23 million journeys every year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Managing Director of TfL London Rail, Ian Brown, said: 'The build up to Christmas is a busy time for everyone and Londoners, particularly this year, will want to be able to look for as many bargains as possible.'London Overground is putting on these";}
        
        


 