


@{ViewBag.Title = "London Transport veterans to march in annual Remembrance Sunday parade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Transport veterans to march in annual Remembrance Sunday parade</h1>
        <div class="content-page-press-release">
        04 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Transport veterans to march in annual Remembrance Sunday parade.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are incredibly proud that we are the only civilian group awarded the honour of laying a wreath at the Cenotaph"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Lawrence</div>
            <div class="quotee-job-title">former Territorial Army driver and retired London Underground Emergency Planning Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are incredibly proud that we are the only civilian group awarded the honour of laying a wreath at the Cenotaph
                            
                        </p>
                    </div>
                
            
            
            <p>Bob Lawrence, a former Territorial Army driver and retired London Underground Emergency Planning Manager, will lead the London Transport Old Comrades as they march past the Cenotaph on Remembrance Sunday this year.</p>
<p>Ron Howard, a veteran of the Royal Air Force will lay the wreath at the Cenotaph. </p>
<p>The London Transport Old Comrades Association, which is celebrating its 86th anniversary this year, is the only civilian group allowed to lay a wreath at the Cenotaph as well as march alongside the armed forces in the annual Remembrance Sunday parade. </p>
<h2>Honour transport workers</h2>
<p>The Old Comrades march in honour of transport workers who died serving their country in the First and Second World Wars.</p>
<p>Bob Lawrence served for three years in the Territorial Army from 1974 to 1977 with the Army's Royal Corp Transport as a driver with 215 Squadron, Grays, Essex. </p>
<p>Bob joined London Underground in 1974 as a train guard before undertaking other roles including Tube driver and Duty Train Manager. </p>
<p>He retired nearly 33 years later in 2007 as an Emergency Planning Manager. </p>
<p>Bob was heavily involved in London Underground's response to the London bombings in July 2005 and assisted with planning the recovery of the service. </p>
<h2>Priviliged civilian group </h2>
<p>Bob Lawrence said: 'It is a great privilege to be leading the London Transport Old Comrades on Remembrance Sunday this year. </p>
<p>'We are incredibly proud that we are the only civilian group awarded the honour of laying a wreath at the Cenotaph as well as march along with the armed forces.'</p>
<p>Ron Howard joined London Transport in 1974 and spent the next thirty years as a bus driver operating routes in north west London before retiring in 2004.</p>
<p>Ron joined the Royal Air Force in 1957 and left in 1969 after 12 years service both in the UK and overseas in Cyprus and Aden. </p>
<p>During his time with the RAF he was in the vehicle maintenance unit and latterly the VIP unit. </p>
<p>Ron said: 'Remembrance Sunday is always a poignant occasion as it provides an opportunity to reflect on the contribution of those who have served their country in conflicts around the world as well as those who are currently serving.'</p>
<p>Many of London's transport workers join directly from a career in the armed forces and continue their association through active involvement with the reserve forces which in recent years has included deployments in Afghanistan and Iraq with the Territorial Army. </p>
<h2>Free travel for veterans</h2>
<p>Since 2 November last year, war veterans can now travel free of charge on public transport in the Capital as a result of the Mayor's concessionary travel scheme.</p>
<p>All war veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme including war widows and widowers and eligible dependents are eligible for passes.</p>
<p>More than 3500 Veterans Concessionary Travel Scheme passes have been issued which allows free travel on bus, Tube, tram, Docklands Light Railway, London Overground and river services in the capital. </p>
<p>The Train Operating Companies have also backed the Mayor's scheme and agreed that eligible war veterans will be able to travel for free on their services within Greater London.</p>
<p>This scheme is of particular benefit to veterans under 60 and those who live outside London who are not eligible for a Freedom Pass. </p>
<p>Further information can be found at <a title="Veteran scheme" href="/tickets/faresandtickets/8734.aspx">tfl.gov.uk/veterans</a>.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors:</strong><strong></strong>
<ul>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915 </li>
<li>The London Transport Old Comrades Association was formed in 1923 </li>
<li>1500 transport workers died in World War I and 3000 lost their lives in World War II </li>
<li>Bob Lawrence aged 58 and lives in Southend and Ron Howard aged 70 lives in Stanmore, north London</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bob Lawrence, a former Territorial Army driver and retired London Underground Emergency Planning Manager, will lead the London Transport Old Comrades as they march past the Cenotaph on Remembrance Sunday this year.Ron Howard, a veteran of the Royal Air";}
        
        


 