


@{ViewBag.Title = "Mayor announces Oysterisation of Thames Clippers river services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces Oysterisation of Thames Clippers river services</h1>
        <div class="content-page-press-release">
        23 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oysterisation of the river will encourage more people to enjoy what must be one of the most reliable and relaxing commutes in the country."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oysterisation of the river will encourage more people to enjoy what must be one of the most reliable and relaxing commutes in the country.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, today announced that from today Oyster pay as you go can be used on Thames Clippers river services.</p>
<p>Oyster pay as you go goes live today on Thames Clippers river services and pay as you go passengers will also receive a 10 per cent&nbsp;discount.&nbsp;</p>
<h2>Move seamlessly</h2>
<p>The move means that passengers can now move seamlessly from their local Tube, DLR or bus service to Thames Clipper river services using Oyster.</p>
<p>The Mayor of London, Boris Johnson, said: 'Travelling on the Thames is one of the great pleasures of London and I believe Oysterisation of the river will encourage more people to enjoy what must be one of the most reliable and relaxing commutes in the country. </p>
<p>'Our aim is for the Thames to become an integral part of London's transport network, which is why we're also working to provide clearer signage to the piers and services that are available, in order to make using the river much easier for Londoners and visitors to the Capital.' </p>
<h2>Enhance river travel</h2>
<p>Today's announcement follows the signing of the Mayor's River Concordat in April this year, which committed to closer working between London's pier owners, boat operators, borough councils and Transport for London to improve ticketing, piers and passenger information and enhance river travel in the Capital.</p>
<p>Sean Collins, Managing Director, Thames Clippers, said: 'The launch of Oyster pay as you go on our services fulfils the Mayor's promise to begin making river travel more accessible to both the leisure and the commuter market.&nbsp;</p>
<p>'I look forward to the continuing support under the Mayor's concordat to fully integrate Thames Clippers into the TfL network.&nbsp; </p>
<p>'Last year we carried 2.7 million passengers, a near 400 per cent&nbsp;increase in passenger numbers over a&nbsp;two-year period as a result of our investment in&nbsp;six new fast ferries.' </p>
<h2>Eligible for discount</h2>
<p>Passengers with a Travelcard loaded onto their Oyster card are eligible for the existing discount of a third off their ticket price, which can then be paid for using pay as you go credit.&nbsp; </p>
<p>To use Oyster pay as you go on Thames Clippers, passengers getting aboard the vessel need only touch their Oyster card on the ticket inspector's hand held reader, confirm which discount applies and then the fare will be taken from their pay as you go balance.&nbsp; <br><br><br><strong>
<hr>
Notes to editors</strong> 
<ul>
<li>The River Concordat 'By the River' is the Mayor's plan for enhancing river transport in the Capital and is chaired by his transport advisor, Kulveer Ranger. More than 30 organisations have signed up to the river concordat including every borough that fronts the river, boat operators, pier operators, Transport for London, the port of London Authority, LDA and London First. </li>
<li>Season tickets on Oyster are accepted on bus, Tube, tram, DLR, London Overground and National Rail services. Oyster pay as you go is accepted on bus, Tube, tram, DLR, London Overground and on some National Rail services </li>
<li>More than 7m Oyster cards are regularly used in London and Oyster accounted for more than 3bn passenger journeys last year </li>
<li>Passengers can register their Oyster card so that the money is protected if the card is lost or stolen </li>
<li>Oyster is also available:&nbsp;<br>-&nbsp;&nbsp;Online at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a><br>-&nbsp;&nbsp;Over the phone at 0845 330 9876&nbsp;<br>-&nbsp;&nbsp;At one of almost 4,000 Oyster Ticket Stops across London<br>-&nbsp;&nbsp;At Tube and London Overground station ticket machines and ticket offices<br>-&nbsp;&nbsp;From some ticket machines at National Rail stations (not South West Trains)<br>-&nbsp;&nbsp;At six London Travel Information Centres, open&nbsp;seven days a week at Liverpool Street Tube station,&nbsp;Piccadilly Circus Tube station,&nbsp;Euston Mainline station, Victoria Mainline station, Heathrow Terminals 1,2,3 Tube station, Also from the Camden Town Hall Travel Information Centre - opposite King's Cross station (Mon-Fri only)</li></ul>
<p><br><strong>About Thames Clippers</strong></p><strong></strong>
<ul>
<li>Thames Clippers is the leading commuter passenger boat service on the River Thames running a 20 minute frequency between key London piers including The O2, Greenwich, Canary Wharf, Tower, London Bridge, Embankment and Waterloo as well as several residential piers. In April 2009, a direct shuttle service between London Bridge and Canary Wharf was launched to provide a 10 minute frequency service for London's commuters in peak hours </li>
<li>Co-founded in 1999 by Sean Collins (Managing Director) and Alan Woods (former Chairman), the company started with one boat servicing Greenland to Savoy Pier carrying 80 passengers a day </li>
<li>Ten years on numbers have significantly risen to nearly three million a year </li>
<li>In 2006 AEG, owners and operators of The O2, acquired the majority stake in the company and since then the fleet has substantially grown with the purchase of 6 new 220-seaters catamarans in 2008, bringing the fleet total to 13. NatWest become brand sponsor of the majority of the fleet in September 2008. The O2 Express, a direct service between Waterloo and The O2, also runs on arena event nights </li>
<li>A single journey on Thames Clippers costs &pound;5.30.&nbsp;With Oyster pay as you go the fare will be &pound;4.77 or if you have a Travelcard on your Oyster the price will be reduced to &pound;3.55 </li>
<li>Further details of Thames Clippers services can be found at: <a href="http://www.thamesclippers.com/">http://www.thamesclippers.com/</a><br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, today announced that from today Oyster pay as you go can be used on Thames Clippers river services.Oyster pay as you go goes live today on Thames Clippers river services and pay as you go passengers will also receive a";}
        
        


 