


@{ViewBag.Title = "Next set of bendy buses to leave London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Next set of bendy buses to leave London</h1>
        <div class="content-page-press-release">
        13 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The demise of the bendy bus in London is gathering pace with bendy buses being withdrawn from route 38 this Saturday (14 November).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoner's voted to boot out bendy buses and their numbers in the Capital are ever decreasing"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoner's voted to boot out bendy buses and their numbers in the Capital are ever decreasing
                            
                        </p>
                    </div>
                
            
            
            <p>Double-decker buses will take over on the route, which operates between Victoria Station and Clapton Pond.&nbsp;&nbsp; </p>
<p>Passengers will see a change to the route 38 services run on weekdays as every bus will now run between Victoria and Hackney Central with alternate buses carrying on to Clapton Pond.&nbsp; </p>
<p>Between Victoria and Hackney Central on weekdays, buses will run approximately every two to four minutes in the daytime and every five to six minutes in the evenings. </p>
<p>On Saturdays, buses will run every three to four minutes during the day and every six minutes in the evening. </p>
<h2>Increased frequencies</h2>
<p>On Sundays, buses will run every five minutes during the day and every six minutes in the evenings.&nbsp; </p>
<p>At peak times on weekdays, passengers will see up to seven extra buses an hour. </p>
<p>Frequencies on the night bus service N38, from Victoria to Walthamstow Central, will also be increased to run every 12 minutes.&nbsp; </p>
<p>Route N38 will continue to operate with double-deck buses. </p>
<h2>Double-deck buses</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'Londoner's voted to boot out bendy buses and their numbers in the Capital are ever decreasing.&nbsp; </p>
<p>'We're pleased to be introducing double-deck buses on this route and Transport for London will ensure that they run at a frequency that caters for the number of passengers using them.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The removal of bendy buses began on route 507, which converted to 12metre single-decks on 25 July.&nbsp;Route 521 was converted to 12metre single-decks on 1 September.&nbsp;Route 38 is the third route to convert; routes 18 and 149 will convert by the end of 2010.&nbsp;The remaining routes - 12, 25, 29, 73, 207, 436 and 453 - will convert by the end of 2011 </li>
<li>Route 38 is operated by Arriva </li>
<li>Route 38 will operate every 5-7 minutes on weekdays between Hackney Central and Clapton Pond </li>
<li>Passengers will board via the front door and alight at the centre door, in common with all other double-deck routes </li>
<li>The service frequency was carefully planned to ensure that sufficient capacity is available to passengers </li>
<li>Weekend and evening services on route 38 will operate between Victoria and Clapton Pond&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Double-decker buses will take over on the route, which operates between Victoria Station and Clapton Pond.&nbsp;&nbsp; Passengers will see a change to the route 38 services run on weekdays as every bus will now run between Victoria and Hackney Central";}
        
        


 