


@{ViewBag.Title = "One ticket for London as Oysterisation of rail and river confirmed ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One ticket for London as Oysterisation of rail and river confirmed </h1>
        <div class="content-page-press-release">
        23 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am delighted to be able to announce that the Oysterisation of all London's commuter rail services is to become a reality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am delighted to be able to announce that the Oysterisation of all London's commuter rail services is to become a reality
                            
                        </p>
                    </div>
                
            
            
            <p>Oyster pay as you go will be accepted on National Rail services from 2 January 2010.</p>
<p>Mayor announces Oyster pay as you go will be&nbsp;accepted on Thames Clipper commuter services from today.</p>
<p>The Mayor of London, Boris Johnson, Transport Secretary, Andrew Adonis, and the Train Operating Companies serving the Capital, today confirmed that the hundreds of thousands of passengers who travel on National Rail services within Greater London will be able to use Oyster pay as you go from 2 January 2010. </p>
<p>The extension of the ticketing system will cover all commuter rail routes within Greater London, and will particularly benefit commuters living across south and northeast London, where Oyster pay as you go is not currently accepted on the vast majority of rail services. </p>
<p>The Mayor has also confirmed that Oyster pay as you go will be accepted on all Thames Clippers river services from today, making river travel more convenient for thousands more Londoners and helping to boost usage of London's underused thoroughfare.</p>
<h2>New map for all stations</h2>
<p>The rail agreement will see Oyster pay as you go accepted on all Greater London services operated by Chiltern, National Express East Anglia, London Midland, First Great Western, First Capital Connect, Southern, Southeastern and South West Trains.&nbsp; </p>
<p>Oyster pay as you go will also be accepted on c2c services in Greater London as well as at Grays, Chafford Hundred, Purfleet and Ockendon stations in Essex. </p>
<p>A new map that reveals the incredible reach of Oyster around the Capital from January has also been produced.&nbsp; </p>
<p>The map will become a feature of stations all over London in the build up to full Oysterisation.</p>
<p>The Mayor of London, Boris Johnson, said: 'I am delighted to be able to announce that the Oysterisation of all London's commuter rail services is to become a reality.&nbsp; </p>
<p>'This combined with the news about Thames Clippers services means Oyster will be all over the Capital. </p>
<p>'It truly will be the only ticket Londoners need to get around town. </p>
<h2>Only ticket Londoners need</h2>
<p>'Our hard work, determination and investment was not in vain. </p>
<p>'It has ended the crackers situation of Londoners not being able to use Oyster on every commuter route in the Capital. </p>
<p>'And our glorious new map that reveals the unbelievable reach of Oyster truly hammers home that this is a landmark day for Londoners.'</p>
<p>Transport Secretary, Andrew Adonis, said: 'Oyster pay as you go will transform travel in London as for the first time passengers will be able to travel seamlessly across the network and switch between underground and all overground rail services.</p>
<p>'If we are to encourage more people onto public transport we must make it as easy and convenient to use as possible.&nbsp; </p>
<p>'That is exactly what Oyster has done in London and why extending pay as you go to rail services is so important.</p>
<h2>New job opportunities</h2>
<p>'Oyster on rail will open up a range of new journey opportunities for Londoners and will mean that rail passengers travelling into and across the Capital from other parts of the country will only need one type of ticket.&nbsp; </p>
<p>'But we mustn't stop there - I want to see smart ticketing on all modes of public transport in England as quickly as possible.'</p>
<p>Chairman of the Association of Train Operating Companies, Tom Smith, said: 'Using Oyster pay as you go will make travel easier and simpler for hundreds of thousands of rail passengers making their way around the Capital every day.&nbsp; </p>
<p>'This means that passengers in London will be able to use Oyster pay as you go at all 350 National Rail stations in London from 2 January.</p>
<p>'Train companies and Transport for London (TfL)&nbsp;have been working hard, with the help of the Department for Transport, to make all the arrangements needed for Oyster pay as you go to be used on rail in London.&nbsp; </p>
<h2>Delivering ease and convenience</h2>
<p>'This major project will improve customers' experience of using the rail network and we expect the number of people taking advantage of it to increase dramatically.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'London can now boast a truly integrated ticketing system that delivers ease and convenience for passengers.&nbsp; </p>
<p>'This is excellent news, particularly for people living south of the river.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>'We have invested &pound;40m to install or upgrade equipment at every train station in London to deliver Oyster on National Rail.&nbsp; </p>
<p>'We have worked tirelessly with the Association of Train Operating Companies, the operators and the Department for Transport and are delighted to have delivered this for the benefit of Londoners.'</p>
<h2>Integrated ticketing system</h2>
<p>The Train Operating Companies will set Oyster pay as you go fares on the National Rail network.&nbsp; </p>
<p>These will be zonally based, but will be different from fares on TfL services.&nbsp; </p>
<p>TfL fares will apply on the Tube, Docklands Light Railway (DLR), London Overground and National Rail services that currently accept Oyster pay as you go.&nbsp; </p>
<p>An additional combined TfL/National Rail fare will be introduced for journeys that incorporate both TfL and National Rail services.&nbsp; </p>
<p>The Mayor also announced today that passengers can pay for their travel on Thames Clippers river services with Oyster pay as you go, in the process receiving a 10 per cent discount.&nbsp; </p>
<p>Passengers with a Travelcard loaded onto their Oyster card are eligible for the existing discount of a third off their ticket price, which can then be paid for using pay as you go credit which can be loaded onto the same Oyster card.</p>
<p>
<p>
<hr>

<p>
<p>
<p><strong>Notes to editors:</strong></p>
<p>The announcement of the extension of Oyster availability was made at Balham station where a limited trial of Oyster pay as you go is providing an important opportunity for live testing of the system. </p>
<p>Passengers are able to use Oyster pay as you go on Southern Services between Balham and London Victoria, which benefits passengers who use Balham, Wandsworth Common, Clapham Junction and Battersea Park stations.&nbsp; </p>
<h2>River </h2>
<p><strong>About Thames Clippers:</strong> Thames Clippers is the leading commuter passenger boat service on the River Thames running a 20-minute frequency between key London piers including The O2, Greenwich, Canary Wharf, Tower, London Bridge, Embankment and Waterloo as well as several residential piers. </p>
<p>In April 2009, a direct shuttle service between London Bridge and Canary Wharf was launched to provide a 10-minute frequency service for London's commuters in peak hours.</p>
<p>A single journey on Thames Clippers costs &pound;5.30.&nbsp; </p>
<p>With Oyster pay as you go the fare will be &pound;4.77 or, if you have a Travelcard on your Oyster card,&nbsp;the price will be reduced to &pound;3.55. </p>
<p>Further details of Thames Clippers services can be found <a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.thamesclippers.com/" jquery1258977345214="6" jquery1258979485182="8">here</a></p>
<h2>Rail </h2>
<p>Anytime day cash fares on trains in Greater London will, from 2 January 2010, be frozen at current prices. </p>
<p>In the overwhelming majority of cases, Oyster pay as you go offers the cheapest single rail fare applicable to that particular route. </p>
<p>The only exceptions are holders of certain National Railcards (Network, Family and Goldcard) for whom cheaper paper tickets for travel on National Rail may be available. </p>
<p>Passengers are advised to check the best fare before travelling with the relevant train operator.</p>
<p><a href="/assets/downloads/sample-oyster-fares.pdf">Take a look at some sample fares (PDF 65KB)</a></p>
<blockquote></blockquote>
<p>The agreement between TfL and the Train Operating Companies was reached through the Association of Train Operating Companies (ATOC).&nbsp; </p>
<p>Contracts have now been signed between TfL and all Train Operating Companies for Oyster pay as you go to be accepted.</p>
<p>The agreement will enable passengers to use Oyster pay as you go on all National Rail services within Greater London (zones 1-6) from 2 January 2010.&nbsp;&nbsp; </p>
<p>The expansion of Oyster on National Rail will double the number of stations where Oyster pay as you go is accepted and lead to a significant increase in people who can use pay as you go.</p>
<p>Passengers with Travelcard products on their Oyster cards have been able to use them on National Rail services since 2003.</p>
<p>Oyster pay as you go is currently accepted across TfL's London Overground network, at all London stations served by Chiltern, c2c and First Great Western; by National Express East Anglia Hackney area services, on Southern between Clapham Junction and Watford Junction and Balham and London Victoria; and on London Midland services between Watford and Euston.&nbsp; </p>
<p>It is also valid on First Capital Connect services between Elephant &amp; Castle / London Bridge and West Hampstead.</p>
<p>Oyster pay as you go will not be accepted for National Rail journeys that start or finish outside the zones where Oyster pay as you go is accepted.</p>
<p>Oyster pay as you go will not be accepted on Heathrow Express, on Heathrow Connect services between Hayes &amp; Harlington and Heathrow Terminals, or on Southeastern High Speed services between Stratford and St Pancras International.</p>
<p>More than&nbsp;seven million Oyster cards are regularly used in London and Oyster accounted for more than&nbsp;three billion passenger journeys last year.</p>
<p>More than 80 per cent&nbsp;of all Tube and bus payments in London are now by Oyster.&nbsp; </p>
<p>In the six years since the introduction of the Oyster card, the proportion of cash payments on the Tube and buses has fallen to just three per cent. </p>
<p>When passengers use Oyster they must touch in and out on the yellow card readers on the Tube, DLR, London Overground and on National Rail services where applicable.&nbsp; </p>
<p>On buses and trams they need just touch in at the start of their journey. </p>
<p>From 2 January 2010, the Oyster system will automatically calculate the correct fare for your journey, within a fifth of a second, from up to&nbsp;five million permutations.</p>
<p>Passengers are recommended to register their Oyster card so that the money is protected if the card is lost or stolen.</p>
<p>This can be done online at <a href="http://www.tfl.gov.uk./oyster">tfl.gov.uk/oyster</a> </p>
<p>Many more passengers can pass through a Tube station gateline using an Oyster card compared to those using printed tickets - 40 a minute compared to 25 a minute. </p>
<p>Oyster is also available:</p>
<ul>
<li>Online at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a> </li>
<li>Over the phone on 0845 330 9876 </li>
<li>At one of almost 4,000 Oyster Ticket Stops across London </li>
<li>At Tube and London Overground station ticket machines and ticket offices </li>
<li>From some ticket machines at National Rail stations </li>
<li>At six London Travel Information Centres, open&nbsp;seven days a week, at: 
<ul>
<li>Liverpool Street Tube station </li>
<li>Piccadilly Circus Tube station </li>
<li>Euston Mainline station </li>
<li>Victoria Mainline station </li>
<li>Heathrow Terminals 1,2,3 Tube station </li>
<li>Also from the Camden Town Hall Travel Information Centre - opposite King's Cross station (Monday-Friday only)</li></ul></li></ul>
<p><a href="/assets/downloads/oyster-rail-services-map.pdf">Oyster rail services map (241KB)</a></p>
<p><a class="new-window filetype-pdf" title=" (Opens in new window)" href="/assets/downloads/oyster-briefing-document-common-questions.pdf" jquery1258979485182="7">Download the full media briefing (134 KB)</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Oyster pay as you go will be accepted on National Rail services from 2 January 2010.Mayor announces Oyster pay as you go will be&nbsp;accepted on Thames Clipper commuter services from today.The Mayor of London, Boris Johnson, Transport Secretary, Andrew";}
        
        


 