


@{ViewBag.Title = "Operation SafeBus cracks down on antisocial behaviour during Bonfire Night ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operation SafeBus cracks down on antisocial behaviour during Bonfire Night </h1>
        <div class="content-page-press-release">
        03 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Metropolitan Police Service (MPS) Safer Transport Command together with  Transport for London (TfL) are carrying out targeted patrols across the Capital to tackle a seasonal peak in antisocial behaviour and crime on buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Operations like Safebus are key in the fight to tackle specific areas of concern"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Operations like Safebus are key in the fight to tackle specific areas of concern 
                            
                        </p>
                    </div>
                
            
            
            <p>Safebus is a four-week intensive operation during the autumn period, which traditionally sees a peak in antisocial behaviour and an increase of around 20 per cent in bus-related crime, particularly around Halloween and Bonfire Night. </p> <p>The operation has seen a high-visibility police presence on a number of bus routes and transport hubs across the Capital to deter this behaviour and reassure passengers, which will continue until 15 November.</p> <p>During the operation police officers and Police Community Support Officers will:</p> <ul> <li>Engage with young people  </li><li>Provide high visibility patrols on transport routes and conduct after school patrols at schools and key areas  </li><li>Conduct reassurance visits to schools and hold crime prevention&nbsp; discussions  </li><li>Work with schools to ensure students' oyster cards are registered and that mobile phones are property marked  </li><li>Reassure the travelling public  </li><li>Identify and deal with suspects of bus related crime  </li><li>Reduce youth violence</li></ul> <p>Although knife crime on the transport network is low, Safebus is also focusing on preventing knife crime in the wider community, using search arches and weapons sweeps to reassure transport users and further ensure the safety of the millions of people travelling around our network every day.</p> <p>During his election campaign, Mayor of London Boris Johnson made a commitment to tackle crime on the transport network. </p> <p>Ongoing operations such as Safebus are a key part of that commitment. </p> <h2>Send out a message</h2> <p>Boris Johnson, Mayor of London, said: 'Like most people I enjoy this time of year and all the festivities, but antisocial and criminal behaviour on our transport network is not acceptable.</p> <p>'When I became Mayor I pledged to make buses, trains and stations safer, and in the last year - in no small part thanks to the work of uniformed officers on our transport - crime on buses has fallen by 18 per cent across London.&nbsp; </p> <p>'But there is still more to be done. Operations like Safebus are key in the fight to tackle specific areas of concern and enable us to send out a message that antisocial or dangerous behaviour will be dealt with.' </p> <h2>Instils confidence</h2> <p>Commander Mark Gore, Safer Transport Command, said: 'The MPS and its policing partners will not tolerate crime and antisocial behaviour on buses, at bus stops or anywhere else on the transport network. </p> <p>'Operation Safebus is about setting a standard of good behaviour on the buses, and ensuring a pleasant travelling environment for young people and adults, by tackling the small minority of young people who cause crime and disorder.</p> <p>'We want the travelling public to feel safe and secure when using the transport network, and our visible policing presence instils confidence, drives down crime and the fear of crime, and makes a positive impact to peoples' journeys. </p> <h2>Reassuring passengers</h2> <p>Steve Burton, Director of Transport for London's Community Safety and Enforcement Policing Directorate, said: 'Halloween and Bonfire Night should be fun nights out in the Capital, but a small minority can sometimes ruin them with their unacceptable behaviour on and around the transport network.</p> <p>'While crime on the bus network is low, we want to do everything we can to help Londoners enjoy themselves and travel safely during these autumnal nights.&nbsp;</p> <p>'This is why we are supporting Operation Safebus, being run by the MPS Safer Transport Command with the aim of reassuring passengers, deterring criminal activity and tackling antisocial behaviour head-on.'</p> <p> <hr>  <p> <p><strong>Notes to editor:</strong></p> <ul> <li>Operation Safebus commenced on the 19 October and runs until 15 November 2009 across the MPS's 32 boroughs  </li><li>Statistics show that bus-related crime is traditionally around 20 per cent higher in October and November compared to the quieter months of August and September - the level of crime then falls again in December  </li><li>In October and November 2008 there were 125 extra robberies on and around the bus network compared to August and September  </li><li>MPS Safer Transport Command (STC), primarily funded by TfL at a cost of around &pound;95m a year, (formerly known as TOCU - Transport Operational Command Unit) fights crime on buses, tackles illegal taxi touts, and assists with the control of traffic congestion  </li><li>Overall there are almost 2,000 Police Officers and PCSOs dedicated to the bus network in London - more than ever before  </li><li>There are 32 Safer Transport Teams (STTs) covering every borough in the Capital.&nbsp;The teams are funded by TfL and patrol on and around the bus network.&nbsp;The teams comprise of:  <ul> <li>Eleven Inner London teams[1] - One inspector, three sergeants, six police officers and 21 PCSOs  </li><li>Twenty-one Outer London teams[2] - One inspector, three sergeants, six police officers and 18 PCSOs</li></ul> <li>The teams also incorporate the 32 hub teams [3] patrolling geographically defined areas identified to benefit from additional police resources provided by the Mayor in May 2008. Each of these teams is composed of one sergeant, one police constable and seven PCSOs. The locations were recognised following joint analysis of crime, antisocial behaviour and other intelligence undertaken by the MPS and TfL  </li><li>The STTs act as a visible deterrent to help reduce crime and antisocial behaviour on and around buses.&nbsp;They also enhance and work closely with existing Safer Neighbourhood Teams, Safer School Officers, British Transport Police and local transport staff to ensure Londoners can move around the Capital even more safely and confidently  </li><li>Twelve pan-London Safer Transport Support Groups led by three inspectors and comprising of eight police constables and one sergeant each.&nbsp;They support local STTs, undertake major operations on the transport system, and respond to the changing deployment needs across the Capital  </li><li>Other specialist crime teams include BusTag which targets bus vandalism using CCTV and the joint London Buses/MPS STC Workplace Violence Unit  </li><li>Road Response and Red Route Enforcement Teams - more than 300 officers to tackle congestion on Transport for London's Road Network (TLRN).&nbsp;They deal with the emerging traffic issues and road collisions by rapidly responding and clearing obstructions as well as dealing with parking offences on the TLRN  </li><li>Crimes committed on or around the bus network in 2008/09 have been reduced by 18 per cent and there are now just 12 crimes per million passenger journeys  </li><li>The statistics also show that the most significant reductions have been in:  <ul type="circle"> <li>Criminal damage (down 36 per cent)  </li><li>Robberies (down 35 per cent)</li></ul> <li>London buses carry 6.4 million passengers a day on 700 routes across the Capital.&nbsp;TfL has installed on all 8,500 buses and there are now around 60,000 cameras on the fleet</li></li></li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Safebus is a four-week intensive operation during the autumn period, which traditionally sees a peak in antisocial behaviour and an increase of around 20 per cent in bus-related crime, particularly around Halloween and Bonfire Night.The operation has seen";}
        
        


 