


@{ViewBag.Title = "TfL's Christmas Toy Story";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Christmas Toy Story</h1>
        <div class="content-page-press-release">
        19 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lost Property Office finds Christmas cheer for hundreds of children.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The donation of the toys from TfL brings joy not only to the many children who receive them but also to the parents who are able to give them."</div>
        <div class="quote-footer">
            <div class="quotee-name">Captain Kevin Stanbury</div>
            <div class="quotee-job-title">The Salvation Army Deptford Community Centre</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The donation of the toys from TfL brings joy not only to the many children who receive them but also to the parents who are able to give them.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL's) Lost Property Office donated hundreds of brand new toys to The Salvation Army yesterday to give to disadvantaged children in south London over the Christmas period.&nbsp; </p>
<p>The toys will appeal to children of all ages and range from board games to cuddly toys.&nbsp;</p>
<h2>Christmas cheer</h2>
<p>The Salvation Army, based in Deptford in&nbsp;south London, will work with the local council to distribute the toys to families in need. </p>
<p>Julie Haley, TfL's Lost Property Office Manager, said: 'This is a wonderful opportunity for us to donate these lovely toys to The Salvation Army to give to children who are not expecting any Christmas presents this year.&nbsp; </p>
<p>'We understand during this current economic down-turn things can be tough for some families and we hope these new toys will help provide some Christmas cheer.' </p>
<h2>Ease financial burden</h2>
<p>Captain Kevin Stanbury of The Salvation Army's Deptford Community Centre, said: 'Christmas can be a stressful time for many families because of the financial burden. </p>
<p>'The donation of the toys from TfL brings joy not only to the many children who receive them but also to the parents who are able to give them. </p>
<p>'We cannot stress enough the difference this makes to so many people's lives.' </p>
<h2>Thousands of lost items</h2>
<p>The Lost Property Office handles almost 200,000 items a year left behind on buses, London Underground, London Overground, DLR, licensed taxis or in the Victoria Coach Station. </p>
<p>Last year the most commonly forgotten objects were books (36,852), bags (28,550) and items of clothing (27,174). </p>
<p>The Lost Property Office has just celebrated its 75th anniversary this year. </p>
<p>Over the last seven and a half decades, the LPO has seen more than its fair share of unusual items - a stuffed puffer fish, samurai sword, human skulls, breast implants and a lawnmower are just a few of the stranger items handed in.</p>
<p>
<hr>
<strong>Notes to editors</strong> &nbsp; &nbsp; &nbsp; 
<ul>
<li>All the toys donated to The Salvation Army are found on TfL's transport network. The LPO only donates unclaimed toys which are more than three months old and are still in their original packaging </li>
<li>Images are available on request </li>
<li>If a name and address, email address or telephone number is found in the property, the potential owner is contacted and told that the Lost Property Office may have their item of property </li>
<li>Property normally takes a minimum of two working days to arrive at the Lost Property Office </li>
<li>After two days, people can enquire about lost property in several ways:<br>-&nbsp;By calling 0845 330 9882 between 08.30 and 16.00, Monday to Friday (except Bank Holidays)<br>-&nbsp;By filling in the <a href="/tfl/contact/lostproperty/default.asp">online enquiry form </a><br>-&nbsp;By faxing 020 7918 1028<br>-&nbsp;In person or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ </li>
<li>Property not claimed after three months is either donated to charity (The Salvation Army or the British Red Cross) or sold at auction, with all revenue generated contributing towards the cost of running the Lost Property Office </li>
<li>The Salvation Army is a worldwide Christian church and registered charity, working in 118 countries, and is one of the largest and most diverse providers of social welfare in the world. The Salvation Army Registered Charity Nos 214779, 215174, in Scotland SC009359, SC037691, and in Ireland CHY6399. For more information visit the website <a href="http://www.salvationarmy.org.uk/">http://www.salvationarmy.org.uk/</a><br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL's) Lost Property Office donated hundreds of brand new toys to The Salvation Army yesterday to give to disadvantaged children in south London over the Christmas period.&nbsp; The toys will appeal to children of all ages and";}
        
        


 