


@{ViewBag.Title = "Traffic lights used to enforce speed limit and cut road injuries";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic lights used to enforce speed limit and cut road injuries</h1>
        <div class="content-page-press-release">
        12 November 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Speed limit trial aims to reduce road casualties in Camden Town. New traffic light timings will help enforce speed limit during trial.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This trial will contribute to the work the Mayor is taking to smooth the flow of traffic in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This trial will contribute to the work the Mayor is taking to smooth the flow of traffic in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is introducing new traffic light timings on Camden High Street, which will give a green light to vehicles sticking to the speed limit and a red light to those speeding.&nbsp; </p>
<p>The new system of timings will be introduced on Camden High Street, in support of a trial to reduce the speed limit to 20 mph.&nbsp;</p>
<p>The speed limit is being reduced from 30mph to help cut the number of people killed or seriously injured on the busy road. </p>
<h2>Reduce collisions</h2>
<p>The 18-month speed limit trial, which will operate along the red route section of Camden High Street, is set to begin in late December 2009 and will be the first of its kind on the TfL road network. </p>
<p>It is being introduced because Camden High Street has almost double the number of road collisions of other 'A' roads in the borough.&nbsp;</p>
<p>In the last three years there have been 11 people seriously injured on the road, which carries a large number of vehicles, but which is also heavily used by pedestrians.</p>
<p>The 20mph trial will be enforced by road signs, road markings and the new traffic light timings. Three sets of existing traffic lights will be phased so that vehicles which stick to the 20mph speed limit should pass through all traffic lights along the road on green. </p>
<h2>Smooth traffic flow</h2>
<p>However, if the vehicles travel along the road above the speed limit, then the vehicles will be caught in the red light phase, slowing the vehicles down. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'This trial will contribute to the work the Mayor is taking to smooth the flow of traffic in the Capital and key to this is working closely with the Boroughs to find solutions to local issues. </p>
<p>'Traffic lights are being rephased throughout the whole of the Capital to improve their efficiency; but linking their timings to try and reduce the amount of accidents in Camden is an innovative idea that we hope will be a success.' </p>
<h2>A simple solution</h2>
<p>David Brown, Managing Director of Surface Transport, TfL said: 'TfL have worked closely with LB Camden to agree this new system of traffic light timings which is a really simple solution to help us decrease injuries by reducing traffic speeds.&nbsp;</p>
<p>'Camden High Street has an accident rate double that of the average 'A' road in the borough.&nbsp;</p>
<p>'It is vital we take steps to reduce these needless injuries on a road which is heavily used by both vehicles and pedestrians.&nbsp;It will also help to contribute to the Mayor's aim of smoothing traffic flow.'</p>
<p>TfL will monitor Camden High Street throughout the 18-month trial to assess the impact of the 20mph speed limit on reducing collisions along the road. </p>
<p>The results will inform the decision about whether the speed limit should remain at 20mph permanently.</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p>
<ul>
<li>The trial will run along Camden High Street between the junctions by Mornington Crescent and Camden Town Underground station </li>
<li>Between June 2006 and June 2009, there were 63 collisions along Camden High Street. This equates to an accident rate of 23.8 collisions a year per km, which is almost double the average level of collisions on other 'A' roads in the London Borough of Camden (12.71 collisions per year per kilometre) </li>
<li>Studies by TfL show that 20mph zones reduce injury collisions by around 42 per cent. (20mph zones and Road Safety in London, April 2009)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is introducing new traffic light timings on Camden High Street, which will give a green light to vehicles sticking to the speed limit and a red light to those speeding.&nbsp; The new system of timings will be introduced on";}
        
        


 