


@{ViewBag.Title = "A205/A316 Chalker's Corner junction improvement";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A205/A316 Chalker's Corner junction improvement</h1>
        <div class="content-page-press-release">
        21 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of our continued work to improve conditions on London's roads Transport for London (TfL) will be carrying out improvement works to the A205/A316 Chalker's Corner junction starting from 2 August.
        
    </div>



 <div class="on-this-page">
<p>The improvement works, which will finish by 16 October, will ease congestion, reduce accidents and help pedestrians and cyclists cross safely at this junction.</p>
<p>TfL's Director of Road Network Operations Keith Ollier says of the works;</p>
<blockquote>&quot;These necessary improvement works to Chalker's Corner will see the junction made a far safer place for cyclists and pedestrians trying to cross there, and the new signalling will ease congestion for traffic.&quot; </blockquote>
<p> The works will include:</p>
<ul>
<li>four new pedestrian crossings, and improvements to the existing ones, to help pedestrians cross the busy junction 
</li><li>new cycle crossing and cycle facilities 
</li><li>realign kerb lines throughout the junction 
</li><li>improved street lighting 
</li><li>new signals around the junction. </li></ul>
<p><strong>Traffic management:</strong></p>
<p>TfL will keep disruptions to a minimum but during off-peak hours there will be lane restrictions when works are taking place. Phased closures of the A205 Clifford Avenue, A3003 Lower Richmond Road and the A305 Mortlake Road are needed for up to three weekends for each road. However, only one of these roads will be closed at any one time and diversion routes will be clearly signed.</p>
<p>The existing 40 mph speed limit over Chiswick Bridge will be reduced to 30 mph to protect the workforce.</p>
<p>TfL apologises for any disruption these essential works to improve the safety of the junction may cause, and will be making every effort to keep any disruptions to a minimum.</p>
            <ul>
<li>Transport for London reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic. 
</li><li>Transport for London is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities. </li></ul>
<p>Press Office<br>Telephone: 020 7941 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The improvement works, which will finish by 16 October, will ease congestion, reduce accidents and help pedestrians and cyclists cross safely at this junction.TfL's Director of Road Network Operations Keith Ollier says of the works;&quot;These necessary";}
        
        


 