


@{ViewBag.Title = "Around the Capital in 24 hours?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Around the Capital in 24 hours?</h1>
        <div class="content-page-press-release">
        08 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This weekend a group of Londoners will attempt to walk the entire 78-mile circuit of the Capital Ring walking route - in 24 hours!
        
    </div>



 <div class="on-this-page">
<p>The route, which encircles inner London within a radius of 10 miles of Charing Cross, was identified in the Mayor's Transport Strategy to promote walking in the Capital . The route is often referred to as 'the walkers' north and south circular'. It threads together parks and open spaces, mostly following pleasant residential roads in between, and encompasses 16 London Boroughs.</p>
<p>Speaking ahead of the challenge Peter Hendy, Managing Director of Surface Transport at Transport for London, said, </p>
<blockquote>
<p>&quot;London has so much to offer walkers of all ages and ability, although only a handful would be able to complete such a challenge. </p>
<p>&quot;The Strategic Walks Project provides high quality walking experiences making London a more attractive place to live, work or visit. By encouraging and promoting walking in the Capital we improve the health of London and Londoners.&quot;</p></blockquote>
<p>Colin Saunders, Capital Ring Project Manager, who will be among the support crew, added, </p>
<blockquote>
<p>&quot;I have struggled through a fair number of long distance walks in my time, up to 50 miles, but I have nothing but admiration for these guys, who seem to treat anything up to 100 miles like a stroll in the park.&quot;</p></blockquote>
<p>The event, designed to promote the Capital Ring to Londoners, is supported by Transport for London through its Strategic Walks Project and has been organised by the London branch of the Long Distance Walkers Association. Setting out from the Waterfront Leisure Centre in Woolwich at 2pm on Saturday 10 July, the walkers aim to return to the same location on the Sunday afternoon. The route will take the walkers through Crystal Palace Park, Richmond and Highgate Wood. To complete the circuit in 24 hours walkers will march on through the night. </p>
<p>Several top walkers from Europe have also been invited to join the group.</p>
            <ol>
<li>
<p>The opportunities for Leisure walking in London are vast with a large number of high quality walking routes in around the City.</p>
</li><li>
<p>Six exemplar routes were identified in the Mayor's Transport Strategy for completion and promotion. These are the London Outer Orbital Path (LOOP) &lt;routes-2-3.shtml&gt;, the Capital Ring &lt;routes-2-1.shtml&gt;, the Thames Path National Trail &lt;routes-2-6.shtml&gt;, the Jubilee Walkway &lt;routes-2-5.shtml&gt;, the South East London Green Chain &lt;routes-2-2.shtml&gt; and the Lee Valley Walk &lt;routes-2-4.shtml&gt;. The project will also help implement a number of other policies and proposals within the strategy.</p>
</li><li>The Strategic Routes project will:<br>
<ul>
<li>Make a significant contribution to making London one of the most walking friendly cities in the world. 
</li><li>Promote walking in London and encourage more people to walk. 
</li><li>Improve conditions for pedestrians along the 500km of route in the GLA area, bringing the six routes up to a standard where they are Connected, Conspicuous, Comfortable, Convenient and Convivial. 
</li><li>Provide high quality walking experiences making London a more attractive place to live, work or visit. 
</li><li>Provide a strategic framework for the development of more local networks of walking improvement schemes, set exemplar standards for the design, management and promotion of quality walking environments and link the different authorities across the capital providing opportunities for people to walk north, south, east and west. </li></ul>
<li>The Capital Ring, one of the Mayor of London's key routes, is a surprisingly green route that encircles London within a radius of 11-16km (7-10ml) of Charing Cross. If the London Loop is sometimes known as the 'walkers' M25', then the Capital Ring is their North and South Circular Roads. For 117km (73ml) it threads together parks and open spaces, mostly following pleasant residential roads in between. The route is an initiative of the London Walking Forum, which co-ordinates work among the boroughs to provide uniform signage and leaflets. 
</li><li>The official start and finish of the circuit is on the south side of the Woolwich Foot Tunnel, but of course you can join and leave at any point. Much of it is shared with other major routes, including the Thames Path Southeast Extension, Green Chain Walk, Thames Path National Trail, Grand Union Canal Walk, Brent River Park Walk, Dollis Valley Greenwalk, Parkland Walk, Lea Valley Walk and The Greenway. </li></li></ol>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route, which encircles inner London within a radius of 10 miles of Charing Cross, was identified in the Mayor's Transport Strategy to promote walking in the Capital . The route is often referred to as 'the walkers' north and south circular'. It";}
        
        


 