


@{ViewBag.Title = "A-Z by Lars Arrhenius";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A-Z by Lars Arrhenius</h1>
        <div class="content-page-press-release">
        19 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art is presenting a unique opportunity to see the widely acclaimed A-Z by Lars Arrhenius, in a larger-than-life format at Gloucester Road station.
        
    </div>



 <div class="on-this-page">
<p>Against the background of the classic A-Z style London street guide, Swedish artist, Lars Arrhenius has created an intricate web of narratives comprising 18 characters in scenarios that evolve through more than 250 illustrations. These stories traverse and intersect across the map horizontally, vertically and diagonally in a formation reminiscent of the Underground network. From the tragic to the romantic, the absurd to the cynical, these stories encapsulate the complexity of the city in a fresh visual language. </p>
<p>As part of the ongoing Platform for Art programme Lars Arrhenius has reworked A-Z to appear as ten giant billboards at Gloucester Road station. In this new manifestation, up to 3 million people will see this fascinating work during its presentation in the station. </p>
<p>Arrhenius originally made A-Z as a large-scale limited edition artwork. This was shown at PEER in 2002 who also produced it as a book that borrowed its design from the London street guide. Like the original, Arrhenius' book adopts a non-linear grid reference format. The effect of this for the reader - like when planning or negotiating a journey - is that the fragmented nature of the city becomes emphasised. </p>
<p>This exhibition will make a real impact on all who see it as they reconsider that strange feeling of complexity that using the traditional A-Z London street guide can evoke.</p>
            <p>Platform for Art is the public art programme for London Underground. </p>
<p>For more information on Platform for Art <br>Tel: 020 7918 3891<br>Email: <a href="mailto:plat4art&#64;tube.tfl.gov.uk" lid="plat4art&#64;tube.tfl.gov.uk">plat4art&#64;tube.tfl.gov.uk</a> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Against the background of the classic A-Z style London street guide, Swedish artist, Lars Arrhenius has created an intricate web of narratives comprising 18 characters in scenarios that evolve through more than 250 illustrations. These stories traverse";}
        
        


 