


@{ViewBag.Title = "Businesses, fleets and patients to benefit from c-charge improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses, fleets and patients to benefit from c-charge improvements</h1>
        <div class="content-page-press-release">
        23 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced changes to the congestion charging scheme that will benefit businesses, commercial fleet operators, and patients, expand payment options, and crack down on fraudulent residential discount claims.
        
    </div>



 <div class="on-this-page">
<p>In addition, TfL will increase the value of the Penalty Charge Notices (PCN), from &pound;40 to &pound;50 (if paid within 14 days) to bring congestion charging in line with other traffic offences such as parking and bus lane enforcement. </p>
<p>Patients will benefit from the changes with the removal of the minimum income requirement for the NHS reimbursement scheme. As of 23 August 2004, all patients that meet the necessary medical eligibility criteria will no longer need to meet the minimum income level to receive a reimbursement. </p>
<p>From the end of the year, businesses who use or run fleets of commercial vehicles will benefit from a reduction in the threshold for the automated payment scheme (see Notes to Editors for explanation of fleet schemes). The threshold will be reduced from 25 to 10 vehicles, and allow fleet users to register their vehicles, receive invoices for their movements in the zone, and therefore eliminating the risk of receiving a PCN. This will be of significant benefit to commercial and business fleet users, many of whom had made representations to TfL calling for this change. The threshold reduction will be expanded to include vehicles on the notification scheme in May 2005.</p>
<p>Following quality improvements to the payment and enforcement system and a reduction in the number of contested PCNs, the decision was made to increase the penalty charge and will be a further deterrent to the small percentage of drivers who try to avoid the charge. The change will become operational as of Monday 26 July 2004. </p>
<p>In addition to the above, the following changes will be introduced on Monday 26 July:</p>
<p>Payment opportunities for congestion charge customers will be expanded by accepting American Express and Diners Club. This would widen payment services and ensure consistency with other TfL services. <br>The eligibility criteria for the residents' 90% discount will require vehicles to be registered at the keepers address within the congestion charge zone. This would bring residents' vehicle registrations into line with a number of central London resident parking schemes.</p>
<p>Malcolm Murray-Clark, Director of the Congestion Charge, said</p>
<p>&quot;These changes, coupled with the introduction of an extensive package of system, staffing and processing improvements over the last ten months, will ensure that the fair but firm operation of the congestion charging scheme in central London continues to bring benefits to all businesses, workers and residents.</p>
<p>&quot;Raising the value of the PCNs will bring congestion charging in line with other traffic offences and increase the deterrence factor to those who do not pay the charge.&quot;</p>
            <p>The full range of penalty charges are as follows: </p>
<p>Reduced rate PCN (within 14 days) - &pound;50 (&pound;40)<br>Full Rate PCN (within 28 days) - &pound;100 (&pound;80)<br>Increased rate PCN (after 28 days) - &pound;150 (&pound;120)<br>Court Charge - &pound;155 (&pound;125)<br>Clamping Fee - &pound;65 (&pound;45)<br>Vehicle Removal Fee - &pound;150 (&pound;125)<br>Storage Charge (24hrs) - &pound;25 (&pound;15). </p>
<p><strong>Explanation of fleet schemes</strong></p>
<p>Fleet operators can pay the congestion charge in the same way as other drivers. However, to reduce the level of administration and increase flexibility for fleet operators, two fleet schemes are available. Both involve a registration procedure in which the fleet operator needs to register fleet vehicles in advance. </p>
<p>Both schemes allow vehicles which are properly registered to avoid incurring penalty charges or liability for the &pound;5 surcharge for payments between 10.00pm and midnight. </p>
<p>Automated Scheme </p>
<p>This is open to light vans and light goods vehicles and heavy goods vehicles, based on body type, but NOT cars. </p>
<p>Under this scheme, the registrations plates of the fleet vehicles which have been registered are captured by the network of cameras and the appropriate charges calculated automatically. </p>
<p>A pre-payment for the forthcoming month is drawn by direct debit from the users fleet account. </p>
<p>This amount will take into account any differences between the predicted and actual charges for the previous month and anticipated charges for the next month. </p>
<p>Under this scheme users pay &pound;5.50 per day per vehicle in the congestion charging zone during charging hours. </p>
<p>This 50p surcharge is to offset the administration required to administer the automated scheme and to offset the congestion charges of vehicles not captured by the camera network. </p>
<p><br>Notification Scheme</p>
<p>This is open to all vehicle types, but is primarily aimed at fleets of cars. <br>Under this scheme you provide a list, at the end of each monthly account period, of which registered vehicles have been in the charging zone on each day that month. </p>
<p>TfL will then check this list against the vehicle registration number captured by the network of cameras. </p>
<p>Any charges for additional registered vehicles captured by the cameras will be charged to the user's fleet account and a pre-payment for the forthcoming month will be drawn by direct debit. </p>
<p>This will take into account any differences between the predicted and actual charges for the previous month and the users' anticipated charges for the next month, based on the previous month's actual usage </p>
<p>Persistent, significant differences between notified and actual charges could lead to the fleet being removed from the scheme. Under this scheme, users pay the standard &pound;5 congestion charge per day per vehicle moving within the charging zone during charging hours. <br></p>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In addition, TfL will increase the value of the Penalty Charge Notices (PCN), from &pound;40 to &pound;50 (if paid within 14 days) to bring congestion charging in line with other traffic offences such as parking and bus lane enforcement. Patients will";}
        
        


 