


@{ViewBag.Title = "Correction to West London Tram consultation brochure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Correction to West London Tram consultation brochure</h1>
        <div class="content-page-press-release">
        13 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Please note the following amendments to the West London Tram public consultation brochure. Amended versions will be made available on the website as soon as possible.
        
    </div>



 <div class="on-this-page">
<p>The correct text should read as follows:<br>Page 17, Paragraph headed 'The proposals', should read:<br>TfL is therefore proposing to close Acton High Street to through traffic between the junction with Steyne Road and Market Place. The current view is that eastbound through traffic would be signposted up Steyne Road to the A40, while westbound through traffic would be signposted down Askew Road in the direction of the A4/M4. Local eastbound traffic would be signposted down Horn Lane to either Market Place or Churchfield Road, while local westbound traffic would be signposted down Acton Lane, Bollo Bridge Road, Bollo Lane and back to Uxbridge Road via Gunnersbury Lane. However, these are preliminary views and further work is necessary to understand the possible impact of such traffic moves. </p>
<p>There is no proposal to remove the current traffic restrictions on Avenue Road.</p>
<p>A correction will be placed on the website as soon as possible and residents and businesses on Avenue Road and Church Road will be sent a letter explaining the correction. </p>
<p>The WLT roadshow will visit Acton again on 6th and 7th September, where corrected materials will also be available. </p>
<p><strong>For further information, please contact TfL press office on 020 7941 4141</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The correct text should read as follows:Page 17, Paragraph headed 'The proposals', should read:TfL is therefore proposing to close Acton High Street to through traffic between the junction with Steyne Road and Market Place. The current view is that";}
        
        


 