


@{ViewBag.Title = "Cyclist numbers soar to record high";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyclist numbers soar to record high</h1>
        <div class="content-page-press-release">
        22 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This summer, the number of cyclists in London has soared to its highest level since Transport for London (TfL) was created, a new TfL report will show. Despite the poor weather, the bicycle boom has continued its upward trend, with a year on year increase of 23% between the May/June of 2003 and 2004.
        
    </div>



 <div class="on-this-page">
<p>This increase, to be announced at a TfL Business Management Review meeting, shows an increase on the roads managed by Transport for London, the Transport for London Road Network (TLRN). However, the increase is also reflected on the roads managed by boroughs throughout London, showing a comparable 19% increase for the same period.</p>
<p>This increase is largely due to the improved road conditions due to increased investment in cycling measures promoted by the Cycle Centre of Excellence (CCE). The CCE has provided the following:</p>
<li>Improvements to cycling infrastructure - over 100km links, junctions and access 
</li><li>nearly 3000 additional cycle parking spaces, on street, at stations and at schools 
</li><li>free cycle maps showing quiet routes and bike shops 
</li><li>free cyclist training across London 
<p><br>Rose Ades, the Head of the Cycling Centre of Excellence, commented<br>&quot;These results show the benefits of TfL's new focus on cycling, and the programme of measures that have been introduced by the London boroughs and many other organisations. I am delighted that more and more Londoners are discovering the joys, and advantages, of city cycling. </p>
<p>&quot;The reduction in traffic thanks to the congestion charge makes central London a more amenable and safer place to cycle. Cycling as an alternative mode of transport helps improve the health of London and Londoners.&quot;</p></li>
            <p><br></p>
<p>TfL has monitored cycling at 30 selected locations on the TLRN since March 2000 and since February 2003 at 35 locations on the BPRN.</p>
<p>TfL's London Cycling Action Plan aims to achieve an 80% increase in cycling levels by 2010 and a 200% increase by 2020 compared to cycling levels in 2000. The targets set are based on analysis of the impact of positive cycle planning in other European cities.</p>
<p>London's cyclists reflect the broad profile of Londoners as a whole. Though among adults the gender split is heavily weighted towards men (around 70/30) TfL research shows that the split is more equal for London's new cyclists.</p>
<p>Figures provided in the Congestion Charging Second Annual Report show that the number of cycle-related accidents within the congestion charging zone had fallen between 2001 and 2003.</p>
<p>In addition, figures provided to the TfL Board on 23 June stated that the number of cycle related deaths or serious injuries on the TLRN (Transport for London Road Network) have also fallen in the past year, despite the 23% increase. </p>
<p>Some cycling facts:</p>
<p>Regular cycling improves strength, stamina and posture.<br>On an average journey of four miles in Central London, cycling is the fastest mode of transport.<br>You can park your bike almost anywhere.<br>It takes eight bicycles to occupy the space taken by just one car.<br>People in cars are exposed to four times more air pollution than pedestrians or cyclists. <br>The more people cycle, the more aware drivers become and the safer the roads are for cyclists. <br>And more people cycling means fewer cars on the road, making it safer for cyclists. <br>Six out of ten men and seven out of ten women are not physically active enough to benefit their health. <br>Cycling increases calorie consumption and raises the metabolic rate, which can help to lose weight.<br></p>
<p><strong>For media enquiries contact </strong></p>
<p><strong>Press Office<br>Windsor House<br>42-50 Victoria Street<br>London SW1H 0TL<br><br>Phone 020 7941 4141<br>Fax 020 7941 4560<br><a href="http://www.tfl.gov.uk/tfl/" lid="http://www.tfl.gov.uk">http://www.tfl.gov.uk/tfl/</a> </strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This increase, to be announced at a TfL Business Management Review meeting, shows an increase on the roads managed by Transport for London, the Transport for London Road Network (TLRN). However, the increase is also reflected on the roads managed by";}
        
        


 