


@{ViewBag.Title = "Freight expectations: TfL's plan to boost rail freight in London.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Freight expectations: TfL's plan to boost rail freight in London.</h1>
        <div class="content-page-press-release">
        06 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has revealed plans to increase freight capacity on the Capital's rail network through carefully planned, prioritised and affordable route upgrades.
        
    </div>



 <div class="on-this-page">
<p>The plans would see upgrades on a route by route basis, a new major rail freight terminal and the safeguarding of other freight terminals. These plans would then be underscored by powers delegated to TfL to fund the network. </p>
<p>Unveiling the proposals as a sensible way forward for freight on London's rail network, Ian Brown, Managing Director of TfL London Rail said:</p>
<blockquote>
<p>"While the national picture for freight growth on the railways has had its successes, the story has not been the same for London. The capital already suffers from insufficient terminal capacity to handle the existing demand for freight, never mind future growth. Unfortunately, grants to support freight projects have been suspended by the SRA and planning applications for key infrastructure projects, such as the London International Freight Exchange near Heathrow, have been turned down. <br>If Government gives TfL a greater say in planning and specifying London's railways, we will create an integrated plan for passenger and freight services. For freight this would mean developing a specific routing strategy non-London for traffic so it can bypass the city and an integrated network of terminals and routes for traffic destined for London.</p></blockquote>
<p>Jonathan Fox, TfL's spokesman on London Rail, added: </p>
<blockquote>
<p>"The rail system as a whole has benefited massively from Government investment in recent years, but the sad fact is that very little of that money - only &pound;148 million out of the billions invested each year - comes to London. On the freight side of the business, that investment has dwindled to almost nothing, with Freight Facilities Grants suspended since 2002. </p>
<p>"If we don't expand and upgrade London's railways in order to carry the extra freight volumes that our expanding economy is creating, then it will simply transfer to the region's already overcrowded road system with all the environmental damage, noise and inconvenience that will cause.</p></blockquote>
<p>For more information see the <a href="/businessandpartners/freight/1324.aspx" lid="Rail Initiatives page">Rail Initiatives page</a></p>
            <p>1. A strong UK economy has meant deep sea freight traffic has been growing at an annual rate of between five and eight per cent and some forecasts suggest that container traffic will double in the next 20 years and put further pressure on the rail and road network. At Felixstowe demand is particularly acute with rail traffic alone increasing by 50 per cent in the last five years.</p>
<p>2. The Port of London has also seen sustained growth in recent years with Purfleet and Tilbury featuring strongly. The potential development at Shellhaven raises the possibility of a similar magnitude of freight on the railways as is currently generated at Felixstowe, which London's network simply cannot carry without significant infrastructure upgrades. </p>
<p>For further information please contact:</p>
<p>Brian Abbott - Head of Communications, London Rail: Tel 020 7941 7681<br>Jonathan Fox: Tel 020 7941 7680</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The plans would see upgrades on a route by route basis, a new major rail freight terminal and the safeguarding of other freight terminals. These plans would then be underscored by powers delegated to TfL to fund the network. Unveiling the proposals as a";}
        
        


 