


@{ViewBag.Title = "How to have your say in twelve different languages";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>How to have your say in twelve different languages</h1>
        <div class="content-page-press-release">
        14 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is saying &quot;give your views&quot; in twelve languages to encourage people from all backgrounds to take part in the West London Tram (WLT) public consultation.
        
    </div>



 <div class="on-this-page">
<p>TfL's Head of Public Affairs, Bill Hamilton said:</p>
<blockquote>
<p>&quot; We want as many people as possible to take part in the WLT public consultation. The brochure and questionnaire are available in the GLA ten core languages and Somali. A phone line has also been set up for people who speak these 12 languages and interpreters will be present at the Southall exhibition and London Mela.&quot;</p>
<p>&quot; We also have Jairaj Singh, who is fluent in Punjabi and Hindi, working for the WLT consultation team. Jairaj has been instrumental in getting the message across by visiting businesses, mosques and temples in the area and talking directly with locals in their first language.&quot;</p></blockquote>
<p>The WLT public consultation runs until the 8 October 2004. People can give their views either on-line, at one of the public roadshows or by filling out the questionnaire sent to over 410,000 residences along the proposed route.</p>
<p>For further information, please contact TfL press office on 020 7941 4141.</p>
            <ol>
<li>
<p>Consultation materials and a phone line have been produced in the GLA's 10 priority languages: Arabic, Chinese, Gujarati, Punjabi, Urdu, Bengali, Greek, Hindi, Turkish and Vietnamese. A phone line has also been set up for people who speak these languages. </p>
</li><li>
<p>On request, TfL will consider translating documents into languages not listed above. </p>
</li><li>
<p>Also, posters have been produced in 3 core languages and newspaper advertisements are running in Punjabi and Chinese. </p>
</li><li>
<p>All consultation materials are available in Braille and on audio tape. </p>
</li><li>
<p>The Mayor and TfL will decide whether or not to go ahead with the West London Tram project after the public consultation results and ongoing engineering work has been reviewed. </p>
</li><li>
<p>The West London Tram is a proposal for a 20km tramway that would run from Uxbridge to Shepherds Bush, serving town centres of Uxbridge, Southall, Hanwell, West Ealing, Ealing, Acton and Shepherds Bush. The WLT would serve around 40 stops on the route, enabling passengers to travel from Uxbridge to Shepherds Bush in about an hour. </p>
</li><li>
<p>A recent independent poll commissioned for Transport for London showed 56 per cent of local people supported the tram. Full results of this poll are available on request.</p></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL's Head of Public Affairs, Bill Hamilton said:&quot; We want as many people as possible to take part in the WLT public consultation. The brochure and questionnaire are available in the GLA ten core languages and Somali. A phone line has also been set";}
        
        


 