


@{ViewBag.Title = "Jubilee line raises land value by estimated &pound;2.8billion at Canary Wharf and Southwark Tube stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jubilee line raises land value by estimated &pound;2.8billion at Canary Wharf and Southwark Tube stations</h1>
        <div class="content-page-press-release">
        08 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A report published today by Transport for London (TfL) suggests that the uplift in land values attributed to the Jubilee Line Extension is in the region of &pound;2.8billion in the proximity of Canary Wharf and Southwark Underground stations.
        
    </div>



 <div class="on-this-page">
<p>The pilot study, conducted by globally integrated real estate services and money management firm Jones Lang LaSalle*, found that there has been a positive impact on local property market values.</p>
<p>The conclusions of the report, 'Land &amp; Property Value Study - Assessing the Change in Land &amp; Property Values Attributable to the Jubilee Line Extension' are that the estimated uplift in land values is in a wide range, but in the order of:</p>
<ul>
<li>&pound;2billion around Canary Wharf Underground station; 
</li><li>&pound;800million around Southwark Underground station. </li></ul>
<p>Jones Lang LaSalle were commissioned by TfL to undertake a pilot study and assess the impact of the Jubilee Line Extension (JLE) on land values at two stations, Southwark and Canary Wharf.</p>
<p>The methodology agreed at the outset with TfL involved using property market evidence to assess value, applying this value appropriately to the property stock in the defined study areas, and then estimating the effect of the JLE by comparison with controls not materially affected by it.</p>
            <p>
<ol type="1">
<li>*Jones Lang LaSalle is a globally integrated real estate services and money management firm, operating across more than 100 markets around the globe. The company provides comprehensive integrated expertise, including management, transaction, advisory and real estate money management services, to investors and occupiers locally, regionally and globally. Jones Lang LaSalle is an industry leader in property and corporate facility management services, with a portfolio of approximately 725 million square feet (67 million square meters) under management worldwide. LaSalle Investment Management, the company's real estate money management business, is one of the world's largest and most diverse real estate money management firms, with approximately $23 billion of assets under management. For more information, visit <a href="http://www.joneslanglasalle.com/">http://www.joneslanglasalle.com/</a> </li>
<li>In deciding the extent of the study areas, it was assumed for the purposes of this study that the majority of any value uplift would occur within a 500m radius of each station for commercial uses and 750m for residential uses. The areas used are loosely based on these dimensions. </li>
<li>The pilot study examined value uplift from 1992 to 2002. It should be noted that the results of the pilot study are sensitive to the start and end dates chosen, and any different period adopted would give differing results. </li>
<li>Jones Lang LaSalle adopted controls based on indices covering large parts of London in an attempt to isolate the effect of the JLE. This approach has the defect of potentially underestimating the impact of the JLE because they include, in some cases, the area affected by the JLE. </li>
<li>The estimated land value uplift is sensitive to assumptions made in Jones Lang LaSalle's analysis. These assumptions relate to both property stock and value, because of the nature of the data available, and the need for interpretation in the application of this data. For these reasons the exercise is one of estimate and judgement, not calculation, hence the wide range of figures reported. </li>
<li>ATIS REAL Weatheralls were also commissioned to estimate the uplift in land value as a result of the JLE using a different methodology and data sets to those used by Jones Lang LaSalle. The consultants are expected to finalise their work in summer 2004. </li>
<li>Download&nbsp;the <a href="/assets/downloads/JLE-Final-Report-May-2005.pdf">full report&nbsp;(PDF 9.8MB)</a> and <a href="/assets/downloads/jle-main-report.pdf">main report (PDF 422KB)</a></li></ol>
<p>For media enquiries contact the TfL press office on 020 7941 4141/4881.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The pilot study, conducted by globally integrated real estate services and money management firm Jones Lang LaSalle*, found that there has been a positive impact on local property market values.The conclusions of the report, 'Land &amp; Property Value";}
        
        


 