


@{ViewBag.Title = "London's taxis in pole position";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's taxis in pole position</h1>
        <div class="content-page-press-release">
        08 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London taxi ranks will be easier to identify thanks to new taxi poles revealed by Transport for London today.
        
    </div>



 <div class="on-this-page">
<p>The poles are in line with the Mayor of London's Safer Travel at Night initiative, offering a recognised place where people can catch a taxi in the company of other travellers. </p>
<p>Recognisable by the taxi roundel at the top, the poles offer the first on street communication between the Public Carriage Office (PCO) and taxi passengers. Notices including information of taxi tariffs and various taxi fares to key destinations will be updated when necessary. <br><br>The PCO's, Head of Business Services, Len Simkins said:</p>
<blockquote>
<p>&quot;For the first time taxis ranks will be clearly marked and carry useful information about London's famous black taxis. Tourists, clubbers and people working late can now wait together in a safer, well-lit spot for a taxi.&quot; </p></blockquote>
<p>The Suzy Lamplugh Trust, Director of Fundraising, Ralph Coates said:</p>
<blockquote>
<p>&quot;The Suzy Lamplugh Trust welcomes any initiative which will improve the personal safety of the general public. So many people get into dangerous, unlicensed minicabs because they are tired and scared after wandering the streets looking for a black cab.</p></blockquote>
<p>If you are close to one of the new Taxi poles, there is no longer any need for that. They offer a safe place to stand with others whilst waiting for a black cab to come to you&quot;.</p>
<p>Computer Cab plc, Business Development Manager, Malcolm Paice said: </p>
<blockquote>
<p>&quot;Promoting the availability of safe and reliable licensed taxis is a key factor in the Safer Travel at Night campaign and making the ranks more user friendly is a great step forward in bringing taxis into the consciousness of the travelling public.&quot;</p></blockquote>
            <ol>
<li>
<p>Taxi poles are in operation 24 hours a day, days a week</p>
</li><li>
<p>The poles will state the taxi tariff and provide likely prices from the pole site to key locations around London.</p>
</li><li>There are 9 taxi poles installed at the following locations: 
<ul>
<li>Cromwell Gardens, outside the V&amp;A Museum, Kensington &amp; Chelsea 
</li><li>Sloane Square, Kensington &amp; Chelsea 
</li><li>Brixton Oval/ Rushcroft Road, outside the Ritzy, Lambeth 
</li><li>Clapham Common, The Pavement, Lambeth - rank is included in the Suburban Pilot Scheme 
</li><li>Balham Underground Station, Balham Station Road, Wandsworth - rank is included in the Suburban Pilot Scheme 
</li><li>Tooting Broadway Underground station, Mitcham Road, Wandsworth - rank is included in the Suburban Pilot Scheme 
</li><li>Cavendish square, outside John Lewis, Westminster 
</li><li>Lower Regent Street/Piccadilly Circus, Westminster 
</li><li>Hammersmith Broadway, Hammersmith, Fulham </li></ul></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The poles are in line with the Mayor of London's Safer Travel at Night initiative, offering a recognised place where people can catch a taxi in the company of other travellers. Recognisable by the taxi roundel at the top, the poles offer the first on";}
        
        


 