


@{ViewBag.Title = "Mayor issues guidance on local implementation of London Transport Strategy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor issues guidance on local implementation of London Transport Strategy</h1>
        <div class="content-page-press-release">
        29 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today welcomed the Department for Transport's award of greater powers to specify and upgrade London's rail services within, and potentially beyond, the Greater London Authority boundary.
        
    </div>



 <div class="on-this-page">
<p>The delivery of transport improvements in London is set to become better integrated as the Mayor issues Local Implementation Plan (LIP) guidance to boroughs this week. </p>
<p>Ken Livingstone said:<br>&quot;My Transport Strategy recognises the key role boroughs have to play in delivering the transport improvements London needs. This guidance will assist boroughs with preparing their LIPs. It re-states key priorities for local transport and sets out statutory targets for implementation of the Transport Strategy. </p>
<p>&quot;I am committed to working closely with boroughs and I would like to thank the boroughs and stakeholders who took part in TfL's consultation. Where practicable, suggestions have been taken on board.&quot; </p>
<p>Director of TfL Borough Partnerships, Ben Plowden said, <br>&quot;LIPs guidance is the result of a two month consultation by TfL, on behalf of the Mayor, with London boroughs and other stakeholders. TfL will continue to work closely with boroughs to prepare their LIPs and will be providing co-ordination support, plus financial support to each borough for 04/05 to help fund the development of borough LIPs.&quot; </p>
<p>LIPs will reflect the Mayor's Transport Strategy's requirements for local transport improvements. Priorities for LIPs include: </p>
<li>Improving road safety 
</li><li>Improving bus reliability 
</li><li>Relieving traffic congestion 
</li><li>Improving parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a state of good repair 
<p>The Mayor has taken into consideration suggestions made by boroughs during the consultation and resulting changes include:</p>
</li><li>Reducing the detailed requirements for the content of LIPs and clarifying aspects of the Mayor's Transport Strategy boroughs are required to implement 
</li><li>The provision of some financial and co-ordination support 
</li><li>More time for boroughs to prepare their production timetable and conduct consultation 
</li><li>Reducing the period for which boroughs need to provide information about specific programmes or projects 
</li><li>Separating out issues relating to the Traffic Management Bill from those relating to Transport Strategy requirements on management of 'A' Roads and Busy Bus Routes 
</li><li>Revision to the targets and performance indicators consulted on as part of the consultation on the draft LIP guidance 
<p>Boroughs' first LIPs are expected to be in place during the second half of 2005.<br></p></li>
            <ol>
<li>The GLA Act 1999 requires London boroughs to prepare LIPs showing how they propose to implement the Mayor's Transport Strategy. </li>
<li>The Mayor issued draft LIPs guidance for consultation in March and April 2004 and confirmed his intention to issue final guidance following the election in June. </li>
<li>Consultation with boroughs and other key stakeholder on draft guidance and performance indicators and targets was managed by TfL's Consultation Unit, on behalf of the Mayor. </li>
<li>All key LIP documents including the final guidance, links and a comprehensive FAQ are available. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The delivery of transport improvements in London is set to become better integrated as the Mayor issues Local Implementation Plan (LIP) guidance to boroughs this week. Ken Livingstone said:&quot;My Transport Strategy recognises the key role boroughs have";}
        
        


 