


@{ViewBag.Title = "Operation Londinium at Kings Cross";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operation Londinium at Kings Cross</h1>
        <div class="content-page-press-release">
        14 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two hundred police officers will target King's Cross station and the streets around it as part of a transport focussed crackdown on anti-social behaviour, crime and disorder.
        
    </div>



 <div class="on-this-page">
<p>The officers from the British Transport Police (BTP), the MPS Transport Operational Command Unit (TOCU) and Camden Borough officers will patrol the local area around Kings Cross and the platforms and trains of the mainline rail services as well as the six Tube lines which pass through the station.</p>
<p>Specialist squads on foot and bicycle, in uniform and plain clothes, will also focus on bus routes and stops, as well as illegal minicab touts who have been frequenting the area to prey on unsuspecting travellers unfamiliar with the capital city.</p>
<p>As part of the operation officers will be looking to combat the recent phenomenon of thieves targeting trains leaving for northern England and Scotland. They board just before the trains depart, take coats and bags and get off just before the carriage doors are locked. Many passengers do not discover the loss until hours later.</p>
<p>Superintendent Bob Pacey of the BTP, said: 'This is the second phase of Operation Londinium which is a series of operations at identified hotspots at transport interchanges like this one. There are more to come.'</p>
<p>DCI Stephen Clarke from TOCU, said: 'Tackling this sort of low-level crime is a priority supporting the safer city strategy with the advantage of a wider objective of Londinium is to make officers from different branches of different forces completely familiar with each other's roles and responsibilities.<br></p>
            <p>The Transport Operational Command Unit (TOCU) was created in 2002. It is operated by the Metropolitan Police and funded by Transport for London. It has 905 officers, Traffic Police Support Officers, Traffic Wardens and Police Staff. TOCU officers patrol buses along 27 major corridors and are also responsible for keeping bus lanes congestion-free. </p>
<p>The L Area of the British Transport Police has 575 Officers dedicated to policing the Underground.</p>
<p>Londinium at Kings Cross will also be using the services of a specialist Metropolitan Police mobile phone unit with a facility to instantly check whether a phone or simcard inside has been stolen. </p>
<p>The new BTP mobile custody unit will be used. It enables suspects to be processed on the spot within a few hours and thus their arresting officers are able to be back on patrol in a short time.</p>
<p>Anti-social behaviour and low-level disorder are being targeted by Londonium because they create a climate of fear. If left unchecked, they can also escalate to more serious criminal activity.<br>Mayor of London Ken Livingstone has made it a priority to ensure that every passenger has a right to a safe journey free from crime and the fear of crime.<br></p>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The officers from the British Transport Police (BTP), the MPS Transport Operational Command Unit (TOCU) and Camden Borough officers will patrol the local area around Kings Cross and the platforms and trains of the mainline rail services as well as the six";}
        
        


 