


@{ViewBag.Title = "Taxi poles in South London launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taxi poles in South London launched</h1>
        <div class="content-page-press-release">
        06 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Director of the Public Carriage Office Ed Thompson, a local cabbie with taxi and bar staff from The Frog and Forget-me-Knot are launching the first official 'taxi stops' in South London.
        
    </div>



 <div class="on-this-page">
<p><strong>Time/ Date:</strong> Friday 9th July 11am<br><strong>Venue:</strong> Taxi pole on The Pavement, Clapham Common.<br><strong>Photo call: </strong><br>You are invited to send a reporter/ photographer/ film crew to the launch of Public Carriage Office South London's taxi poles. </p>
<p>If you want to attend please call TfL Press Officer Lisa Rooney 020 7941 4443/ 07764 429503 for more details.</p>
            <ol>
<li>Taxi poles benefit visitors and Londoners by offering a clear marked place, for the first time, to wait for a taxi on the street. 
</li><li>The poles will state the taxi tariff and provide likely prices from the pole site to key locations around London. </li></ol>
<li>
<ol>
</ol></li><li>There are 8 taxi poles installed at the following locations: </li>
<li>Cromwell Gardens, outside the V&amp;A Museum, Kensington &amp; Chelsea </li>
<ul>
<li>Sloane Square, Kensington &amp; Chelsea 
</li><li>Broxton Oval/ Rushcroft Road, outside the Ritzy, Lambeth 
</li><li>Clapham Common, The Pavement, Lambeth - rank is included in the Suburban Pilot Scheme 
</li><li>Balham Underground Station, Balham Station Road, Lambeth - rank is included in the Suburban Pilot Scheme 
</li><li>Tooting Broadway Underground station, Mitcham Road, Wandsworth - rank is included in the Suburban Pilot Scheme 
</li><li>Cavendish square, outside John Lewis, Westminster 
</li><li>Lower Regent Street/Piccadilly Circus, Westminster </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Time/ Date: Friday 9th July 11amVenue: Taxi pole on The Pavement, Clapham Common.Photo call: You are invited to send a reporter/ photographer/ film crew to the launch of Public Carriage Office South London's taxi poles. If you want to attend please call";}
        
        


 