


@{ViewBag.Title = "TfL Statement on Funding Agreement with Government";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Statement on Funding Agreement with Government</h1>
        <div class="content-page-press-release">
        20 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The funding package agreed with the Government today will enable TfL to invest almost &pound;3billion into its capital programme over the next five years - delivering more improvements to the Capital's public transport.
        
    </div>



 <div class="on-this-page">
<p>Bob Kiley, London's Transport Commissioner said:<br>"This groundbreaking agreement means that London, for the first time, has the opportunity to make long-term decisions on planning major capital projects without the fear that funding will be withdrawn in future years."</p>
<p>Jay Walder, TfL's Managing Director of Finance and Planning added:<br>"Real progress has been made in putting London's transport funding on a stable footing. We have consistently argued that London needs the sort of longer-term funding certainty enjoyed by other world cities and today's agreement provides this for the first time.</p>
<p>"It will give us the flexibility that other cities already have in financing their transport investment including, for the first time, the ability to raise bonds to finance that investment through Prudential Borrowing. This funding settlement also allows TfL to make a start on catching up on the backlog of works that have built up through decades of under investment - and bring to an end the historic stop-start funding of London's transport.</p>
<p>"The agreement ensures that the high priority transport improvements needed to support London's growth will be delivered. Crucially, it enables us to take forward those projects which support London's bid to host the Olympics in 2012. The Olympic projects we will now take forward include extending the East London Line (to Dalston Junction, West Croydon and Crystal Palace), expanding the DLR and new transit projects in East London and Greenwich."</p>
<p>"We will be talking and consulting with all our stakeholders including passengers, business groups and local leaders to formulate our capital programme and Business Plan consistent with the Government's announcement today."</p>
<p><a href="/assets/downloads/ELLmapA3.pdf" fn="ELLmapA3.pdf" lid="Click here to view the map of the proposed East London Line route.">Click here to view the map of the proposed East London Line route.</a></p>
<p><strong>For further information, please contact TfL press office on 020 7941 4141.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bob Kiley, London's Transport Commissioner said:'This groundbreaking agreement means that London, for the first time, has the opportunity to make long-term decisions on planning major capital projects without the fear that funding will be withdrawn in";}
        
        


 