


@{ViewBag.Title = "TfL London Rail and South West Trains announce major investment at 53 stations.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL London Rail and South West Trains announce major investment at 53 stations.</h1>
        <div class="content-page-press-release">
        08 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers travelling in the Greater London Authority area will benefit from a &pound;3.4 million investment as part of a joint funding initiative between South West Trains and London Rail, part of Transport for London.
        
    </div>



 <div class="on-this-page">
<p>Improvements will be carried out at 53 stations and include CCTV coverage, enhanced lighting and upgrading of help points.</p>
<p>TfL London Rail managing director Ian Brown said: </p>
<p>"We are delighted to announce this joint investment initiative with South West Trains. TfL is already in the business of improving conditions for Londoners who travel by bus, tube and taxi. We are now being given an increasing role in developing and improving the capital's rail network. Over the past few months, through our funding, real improvements to train services and passenger facilities have been realised. These latest initiatives will go a long way to helping further reduce anti-social behaviour and will hopefully encourage more passengers to travel by train. This year more than &pound;10 million will be invested by TfL in upgrading London's railways."</p>
<p>In line with the Mayor's transport strategy, the investment will see:</p>
<ul>
    <li>Implementation of CCTV coverage linked to South West Trains' Customer Communication and Security Centre (CCSC) and digitally monitored across all 53 stations.
    </li>
    <li>Lighting improvements at 29 stations covering the two Overground Network pilot routes (Waterloo to Twickenham via Richmond and Waterloo to Teddington via Kingston) and the Hounslow loop.
    </li>
    <li>Help points will be upgraded and will include induction loops, at all stations within the GLA area covered by South West Trains.
    </li>
    <li>A trial subway cladding with graffiti resistant and low maintenance surfaces is taking place at Earlsfield station.
    </li>
    <li>Secure Station accreditation at a further 10 stations within the South West Trains' franchise. </li>
</ul>
<p>With 1,452 cameras across 134 stations, South West Trains keeps an eye on the network from two Customer Communications and Security Centres based in Wimbledon and Feltham. Since the start of the year a total of 559 tapes have been taken by the police in relation to incidents which have occurred at stations.</p>
<p>Managing Director Andrew Haines said: </p>
<p>"We are delighted with the partnership we have forged between ourselves and TfL. The safety and security of our passengers and staff will always remain our number one priority and we are happy that we can work together with TfL to give our passengers a safer, cleaner journey experience." </p>
<p>Work to the stations is due for completion by December 2004.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Improvements will be carried out at 53 stations and include CCTV coverage, enhanced lighting and upgrading of help points.TfL London Rail managing director Ian Brown said: &quot;We are delighted to announce this joint investment initiative with South West";}
        
        


 