


@{ViewBag.Title = "TfL London Rail and Southern announce major investment in station security";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL London Rail and Southern announce major investment in station security</h1>
        <div class="content-page-press-release">
        20 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers travelling across the south of the capital received a major boost today (20th July) after London Rail, part of Transport for London (TfL), announced a major joint funding initiative worth over &pound;2.6 million with train operating company, Southern, which will see improved passenger safety and security at 29 stations.
        
    </div>



 <div class="on-this-page">
<p>In line with the Mayor's Transport strategy, this latest investment initiative will see:</p>
<ul>
<li>Installation of CCTV coverage linked to a Central Control Centre and digitally monitored across 29 Overground Network stations in the GLA area covered by Southern 
</li><li>Installation of help points with induction loops - that help deaf people who use a hearing aid or loop listener to hear sounds more clearly by cutting out background noise - at the same 29 stations within the GLA area covered by Southern </li></ul>
<p>These improvements are evidence of TfL London Rail's commitment to an Overground Network (ON). Developed in response to passenger feedback, the ON aims to encourage passengers to make more of London's off-peak trains and promote consistent standards for service frequency, passenger information and station security.<br>TfL London Rail managing director Ian Brown said: &quot;We are delighted to announce this joint investment initiative alongside Southern. TfL is already in the business of improving conditions for Londoners who travel by bus, tube and taxi. We are now being given an increasing role in developing and improving the capital's rail network. Over the past few months, through our funding, real improvements to train services and passenger facilities have been realised. These latest initiatives will go a long way to helping further reduce anti-social behaviour and will hopefully encourage more passengers to travel by train. This year more than &pound;10 million will be invested by TfL in upgrading London's railways. We look forward to working closely with Southern in the future to continue our programme of improvements and we hope to extend these to a further eight stations on the Southern network later this financial year.&quot;</p>
<p>Southern managing director, Charles Horton, said: &quot;This investment provides us with a great opportunity to build on our security measures and deliver a safer environment for Southern passengers travelling in the South London Metro area. The partnership with TfL points the way forward for a more integrated approach to rail services in the capital, which can only provide even greater benefits for train passengers in London.&quot;</p>
<p>This announcement follows hard on the heels of the Government's White Paper &quot; The Future of the Railways&quot; in which the Government announced that the Mayor and TfL London Rail are to be given increased powers to specify rail services and to upgrade London's rail network.<br></p>
            1. Stations included within the joint funding initiative are:
<div class="table-container"><table width="334" border="0">
<tbody>
<tr>
<td width="165">Balham</td>
<td width="117">Selhurst</td></tr>
<tr>
<td>Battersea Park </td>
<td>South Bermondsey</td></tr>
<tr>
<td>Carshalton</td>
<td>Streatham</td></tr>
<tr>
<td>Carshalton Beeches</td>
<td>Streatham Common</td></tr>
<tr>
<td>Clapham High Street</td>
<td>Streatham Hill</td></tr>
<tr>
<td>Crystal Palace</td>
<td>Sutton</td></tr>
<tr>
<td>East Croydon </td>
<td>Thornton Heath</td></tr>
<tr>
<td>East Dulwich</td>
<td>Tulse Hill</td></tr>
<tr>
<td>Gipsy Hill</td>
<td>Waddon</td></tr>
<tr>
<td>Hackbridge</td>
<td>Wallington</td></tr>
<tr>
<td>Mitcham Junction</td>
<td>Wandsworth Common</td></tr>
<tr>
<td>Norbury</td>
<td>Wandsworth Road</td></tr>
<tr>
<td>North Dulwich</td>
<td>West Croydon</td></tr>
<tr>
<td>Peckham Rye</td>
<td>West Norwood</td></tr>
<tr>
<td>Queens Road, Peckham</td>
<td> </td></tr></tbody></table></div><br>
<p>2. For further information on Southern Trains and for press imagery in digital formats please contact the Southern Trains Press Office on 020 8 929 8673</p>
<p>3. For further information regarding TfL London Rail, please contact Brian Abbott, Head of Communications on 020 7941 7681<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In line with the Mayor's Transport strategy, this latest investment initiative will see:Installation of CCTV coverage linked to a Central Control Centre and digitally monitored across 29 Overground Network stations in the GLA area covered by Southern";}
        
        


 