


@{ViewBag.Title = "TfL launch c-charge customer care kit";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launch c-charge customer care kit</h1>
        <div class="content-page-press-release">
        16 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is embarking on an exercise to help businesses increase the awareness of their more infrequent customers of how the congestion charge works.
        
    </div>



 <div class="on-this-page">
<p>TfL is writing to 20,000 businesses in and around the zone to offer them free customer care kits that will include wallet size pop-out information leaflets and a cd-rom starter kit including animated online banner ads, artwork and logos. </p>
<p>Businesses will be able issue the information leaflets from their stores and with promotional materials, and use the cd-rom for their on-line content. </p>
<p>Malcolm Murray-Clark, Director of the Congestion Charge, said, </p>
<p>&quot;Most visitors to London would agree that reduced congestion in central London makes the capital a more attractive place. However, some businesses are concerned that infrequent customers who drive may be unclear as to how the congestion charge actually works. </p>
<p>&quot;TfL is committed to working with businesses to ensure that the congestion charge works for all Londoners- residents, businesses, workers and visitors.</p>
<p>&quot;By issuing these leaflets in-store and with their promotional material, businesses in central London can help inform their customers and prevent those that chose to drive on weekdays between 7am and 6.30pm from receiving a penalty for not paying the charge.&quot;<br></p>
            <p>20,000 businesses in and around the capital will receive a letter offering the free customer care kit. Should a company not receive a letter, they should call 0800 169 1163 to receive their free customer care starter kit. <br></p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is writing to 20,000 businesses in and around the zone to offer them free customer care kits that will include wallet size pop-out information leaflets and a cd-rom starter kit including animated online banner ads, artwork and logos. Businesses will";}
        
        


 