


@{ViewBag.Title = "Traffic information for The Michelob ULTRA London Triathlon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic information for The Michelob ULTRA London Triathlon</h1>
        <div class="content-page-press-release">
        26 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Michelob ULTRA London Triathlon will take place over the weekend of 31 July to 1 August. With over 8,000 participants, the event will be centred around the London Docklands and the ExCel exhibition centre with competitors racing along the Embankment to Big Ben on the Sunday.
        
    </div>



 <div class="on-this-page">
<p>Some central London roads will be closed to traffic for safety reasons and will remain closed until crowds have dispersed. People are advised not to drive into central London or the Docklands unless absolutely necessary and to allow extra time for their journeys and to allow extra time for their journeys.</p>
<h2>Saturday 31st July</h2>
<p>To accommodate the London Triathlon the following roads will be closed from 07.00 Saturday until 18.00 Sunday. </p>
<p>Lower Lea crossing is closed eastbound but will allow a single lane of traffic westbound<br />
Royal Albert Way dual carriageway is closed in both directions between Gallions roundabout and Connaught Bridge</p>
<h3>The following routes will be affected by delays while the cycle race passes:</h3>
<p>8, 11, 15, 21, 25, 26, 35, 40, 42, 43, 47, 48, 67, 76, 78, 100, 133, 141, 149, 172, 188, 242, 253, 300, 343, 344, 381, D3, RV1.<br />
</p>
<h3>The following bus routes will be diverted:</h3>
<p>300 (0600 Saturday 31 July until 2100 Sunday 1 August)</p>
<p>Southbound - towards Beckton - From A13 Prince Regent overbridge, to Tollgate Road ahead then follow usual route.</p>
<p>Northbound - towards Canning Town - From Tollgate Road at Stansfeld Road onto Tollgate Road, turning right onto Prince Regent Lane and then following the usual route.</p>
<p>344 Southbound - towards Elephant &amp; Castle - From London Bridge at Monument buses will then be diverted via London Bridge, Borough High Street, Newington Causeway and then follow the usual route.</p>
<p>Northbound - towards Liverpool Street Bus Station - From Newington Causeway at Southwark Bridge Road buses will be diverted via Newington Causeway, Borough High Street, London Bridge and follow the usual route.</p>
<h2>Sunday 1st August</h2>
<p>The British 10k Road Race is being held and up to 20,000 runners are expected to leave Piccadilly at 09.30 and to follow a 10k route that passes locations associated with the late Diana, Princess of Wales. </p>
<p>The route of the race is from Piccadilly then via St James's Street, Pall Mall, Cockspur Street, Northumberland Avenue, Victoria Embankment, Blackfriars Underpass, Upper Thames Street, Castle Baynard Street, Puddle Dock, Queen Victoria Street, White Lion Hill, Upper Thames Street, Blackfriars Underpass and Victoria Embankment, Westminster Bridge, Bridge Street, returning into Victoria Embankment for Horse Guards Avenue and Whitehall to finish.</p>
<h3>The following roads will be closed between the following periods:</h3>
<p>Piccadilly and Cockspur Street From 0700 and until about 1200 </p>
<p>Parliament Street and Whitehall From 0700 and until about 1200 </p>
<p>Westminster Bridge From 0700 and until about 1300 </p>
<p>Victoria Embankment From 0700 and until about 1700 <br />
Embankment will open eastbound only from 13.00</p>
<p>Southwark Bridge From 12.00 and until about 17.00</p>
<p>Tower Bridge From 12.00 and until about 17.00</p>
<p>Upper and Lower Thames Street w/b Traffic can travel via London Wall A1211 and Holborn Viaduct A40</p>
<p>The Highway between Tower Bridge and Limehouse Link is only open eastbound and all traffic will be diverted onto the A13.</p>
<p>Areas adjoining the Highway's westbound carriageway will have crossing points controlled by the Metropolitan Police at Glamis Road and Vaughn Road.</p>
<p>Limehouse Link and East India Dock Tunnels until 18.00.</p>
<p>Lower Lea crossing is closed eastbound but will allow a single lane of traffic westbound.</p>
<h3><b>Buses will be curtailed or diverted as follows:</b></h3>
<p>3, 77A Buses will be curtailed to Millbank from the south from 0700 until Whitehall is fully reopened to traffic at about 1200. </p>
<p>6, 13, 23 Buses will be curtailed to Piccadilly Circus from the north from 0700 and until the Trafalgar Square area is fully reopened to traffic at about 1100. <br />
<br />
8 Buses will be curtailed to Berkeley Square from the east from 0700 and until the Piccadilly area is fully reopened to traffic at about 1030. </p>
<p>9 Buses will be curtailed to Hyde Park Corner from the west from 0700 and until the Piccadilly area is fully reopened to traffic at about 1100. </p>
<p>11 From 0715 and until Whitehall is reopened to traffic, buses will be diverted as follows:</p>
<p>Westbound - towards Victoria - From Aldwych, diverted via Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge and Millbank to Parliament Square then follow usual route.</p>
<p>Eastbound - towards the Liverpool Street - From Parliament Square, then diverted via Millbank, Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road and Waterloo Bridge to the Aldwych then follow usual route. </p>
<p>12, 159 From 0700 until Westminster Bridge is reopened to traffic, buses will be diverted as follows:</p>
<p>Northbound - towards Oxford Circus - From Westminster Bridge Road, then diverted via Addington Street, York Road, Waterloo Bridge, Aldwych western arm, Kingsway, High Holborn, New Oxford Street, Oxford Street to Oxford Circus then follow usual route.</p>
<p>Southbound - towards Lambeth North - From Regent Street at Piccadilly, then diverted via Shaftsbury Avenue, Charing Cross Road, Duncannon Street, Strand, Aldwych, Lancaster Place, Waterloo Bridge and York Road to Addington Street then follow usual route.</p>
<p>14 Buses will be curtailed to Hyde Park Corner from the west from 0700 until the Piccadilly area is fully reopened to traffic at about 1100. </p>
<p>From 0700 until Trafalgar Square is reopened to traffic, buses will be diverted as follows;</p>
<p>Westbound - towards Paddington - From Aldwych then diverted via Aldwych western arm, Kingsway, High Holborn, New Oxford Street, Oxford Street to Oxford Circus then follow usual route.</p>
<p>Eastbound - towards Aldgate - From Regent Street at Piccadilly then diverted via Shaftsbury Avenue, Charing Cross Road, Duncannon Street to the Strand then follow usual route.<br />
<br />
From 0700 and until Piccadilly is reopened to traffic, will be diverted as follows:</p>
<p>Westbound - towards Battersea - From New Oxford Street at Centre Point will then be diverted via ahead Oxford Street to Oxford Circus, Oxford Street, Marble Arch and Park Lane to Hyde Park Corner then follow usual route.</p>
<p>Eastbound - towards Finsbury Park - From Hyde Park Corner at Piccadilly, then diverted via Park Lane, Marble Arch, Oxford Street, Oxford Circus Oxford Street to New Oxford Street then follow usual route.</p>
<p>22 Buses will be curtailed to Hyde Park Corner from the west from 0700 until the Piccadilly area is fully reopened to traffic at about 1100. </p>
<p>From 0700 until Whitehall is reopened to traffic, will be diverted as follows:</p>
<p>Southbound - towards Pimlico - From Charing Cross Road, then diverted via Duncannon Street, Strand, Aldwych, Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge and Millbank to Parliament Square and follow usual route.</p>
<p>Northbound - towards Hampstead - From Parliament Square, then diverted via Millbank, Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge Aldwych western arm, Kingsway, New Oxford Street to Centre Point then follow usual route.</p>
<p>29 Buses will be curtailed to Tottenham Court Road from the north from 0700 until the Trafalgar Square area is fully reopened to traffic at about 1200. </p>
<p>From 0700 and until Piccadilly is reopened to traffic, buses will be diverted as follows:</p>
<p>Westbound - towards Victoria - From New Oxford Street at Centre Point then diverted via Oxford Street to Oxford Circus, Oxford Street, Marble Arch and Park Lane to Hyde Park Corner then follow usual route.</p>
<p>Eastbound - towards Angel - From Hyde Park Corner at Piccadilly, then diverted via Park Lane, Marble Arch, Oxford Street, Oxford Circus Oxford Street to New Oxford Street then follow usual route.</p>
<p>53 Buses will be curtailed to County Hall from the south from 0700 until the Whitehall area is fully reopened to traffic at about 1300. </p>
<p>From 0700 until Whitehall is fully reopened to traffic, buses will be diverted as follows:</p>
<p>Northbound - towards Camden Town - From Parliament Square, then diverted via Millbank, Lambeth Bridge, Addington Street, York Road, Waterloo Bridge, Aldwych western arm, Kingsway, New Oxford Street, Tottenham Court Road to Hampstead Road then follow usual route.</p>
<p>Southbound - towards Vauxhall - From Trafalgar Square, then diverted via Strand bus lane, Strand, Aldwych, Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge, Horseferry Road, Marsham Street then follow usual route.</p>
<p>91 Buses will be curtailed to Aldwych from the north from 0700 hours until the Trafalgar Square area is fully reopened to traffic at about 1200 hours.</p>
<p ><br />
From 0700 and until Trafalgar Square are reopened to traffic, buses will be diverted as follows;</p>
<p>Westbound - towards Oxford Circus - From Waterloo Bridge at Aldwych buses will then be diverted via Aldwych western arm, Kingsway, High Holborn, New Oxford Street, Oxford Street to Oxford Circus then follow usual route.</p>
<p>Eastbound - towards Aldgate - From Regent Street at Piccadilly then diverted via Shaftsbury Avenue, Charing Cross Road, Duncannon Street to Strand then follow usual route.</p>
<p>From 0700 and until Westminster Bridge is fully reopened, buses will be diverted as follows:</p>
<p>Eastbound - towards Waterloo - From Parliament Square, then diverted via Millbank, Lambeth Bridge and Lambeth Palace Road to Addington Street then follow usual route.</p>
<p>Westbound - towards Victoria - From Westminster Bridge Road, then diverted via Lambeth Palace Road, Lambeth Bridge and Millbank to Parliament Square then follow usual route.</p>
<p>211 From 0700 until Westminster Bridge is fully reopened, buses will be diverted as follows:</p>
<p>Eastbound - towards Waterloo - From Parliament Square, then diverted via then diverted Via Millbank, Lambeth Bridge and Lambeth Palace Road to Addington Street then follow usual route.</p>
<p>Westbound - towards Victoria - From York Road and Addington Street, then diverted via Lambeth Palace Road, Lambeth Bridge and Millbank to Parliament Square then follow usual route.</p>
<p>453 From 0700 until Westminster Bridge is reopened to traffic, buses will be diverted as follows:</p>
<p>Northbound - towards Oxford Circus - From Westminster Bridge Road, then diverted via Addington Street, York Road, Waterloo Bridge, Aldwych western arm, Kingsway, High Holborn, New Oxford Street, Tottenham Court Road, Marylebone Road then follow usual route.</p>
<p>Southbound - towards Lambeth North - From Regent Street at Piccadilly, then diverted via Shaftsbury Avenue, Charing Cross Road, Duncannon Street, Strand, Aldwych, Lancaster Place, Waterloo Bridge and York Road to Addington Street then follow usual route.</p>
<p>For full travel information call 020 7222 1234</p>
<p>The Michelob ULTRA Triathlon will take place at ExCel, Royal Victoria Dock, on 31 July and 1 August</p>
<p>For further information please go to www.thelondontriathlon.com </p>
<p>For further information on The British 10k Run please go to <a href="http://www.thebritish10klondon.co.uk/" el="http://www.thebritish10klondon.co.uk" lid="http://www.thebritish10klondon.co.uk">www.thebritish10klondon.co.uk</a> </p>
<p>Contacts for the Michelob ULTRA London Triathlon: Nick Garcia on 020 7559 2807 or Julie Sims on 020 559 2808</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some central London roads will be closed to traffic for safety reasons and will remain closed until crowds have dispersed. People are advised not to drive into central London or the Docklands unless absolutely necessary and to allow extra time for their";}
        
        


 