


@{ViewBag.Title = "Underground signs 10-year lifelong learning deal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Underground signs 10-year lifelong learning deal</h1>
        <div class="content-page-press-release">
        19 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has signed a ten year training partnership agreement with City &amp; Guilds, Barnet College and Four Counties Training on Friday.
        
    </div>



 <div class="on-this-page">
<p>The partnership will explore the best way of promoting and delivering National Vocational Qualifications (NVQs) and other skills initiatives to the Underground's frontline operational staff. It will also seek to address areas of skill shortage. </p>
<p>This builds upon the ground breaking London Underground NVQ programme, which has seen thousands of staff gain nationally recognised qualifications in one of the UK's largest skills development programmes. Over 2,000 more staff will go through the programme this year. </p>
<p>Before signing the agreement Chris Humphries CBE, Director-General of City &amp; Guilds made a special visit to the Underground's Power Control Room to meet electrical control room staff who had recently qualified in Level 3 NVQ in Electrical Control Room Operations. NVQs are used by London Underground as an assessment process to assure on-going competence and career development of employees. </p>
<p>Andrew Jefford, Power Control Room Operator, London Underground, explained &quot;I have been working within the organisation for over 30 years and NVQs are an excellent way in which to formally recognise the experience and achievements I have gained over the years. NVQs are very good career development incentives for both entry level and long serving staff. They prove that we really do deliver high levels of professionalism to our customers.&quot; </p>
<p>Iain Smith, Head of Engineering and Technical Skills, London Underground explains, &quot;Historically, the rail industry has failed to understand how to use the suite of available nationally recognised qualifications. Successive Government ministers have criticised this and have questioned the value of in-house qualifications. What we have done here - is show that with the right organisations - working together we can deliver NVQs and the related business benefits in a cost effective and manageable way.&quot; </p>
<p>At a commemorative meeting at London Underground's HQ, all members of the partnership signed a ten year agreement, last Friday 16th July, with Mike Brown, Chief Operating Officer, London Underground, who explained, &quot;The City &amp; Guilds accredited qualification provides operational staff with nationally recognised industry standard training. It also recognises their expert knowledge and performance in both technical and operational issues. London Underground has invested many resources in providing accessible training opportunities and career development prospects for all employees throughout the organisation. </p>
<p>Achieving and obtaining NVQ qualifications also demonstrates that our employees are committed to their own development and career progression. We are the biggest train operating company in the industry and highly committed to our customers. An NVQ in Customer Service is already planned. &quot; </p>
<p>Chris Brandreth, Commercial Director of Four Counties Training said, &quot;Signing this partnership opens a new chapter in our decade long relationship with London Underground. London Underground staff are committed to meeting the highest customer service standards and today's agreement demonstrates how NVQ staff training is instrumental to achieving significant progress. As one of the partners, we have been instrumental in designing the system from the start.&quot; </p>
<p>This event comes on the back of the recent launch of the third rail Centre of Vocational Excellence (CoVE), commissioned by London Underground and endorsed by the Department for Education and Skills. The CoVE is led by Four Counties Training, with Barnet College, north London, as a major member. The CoVE will be looking to develop the skills of all staff in order to deliver the skills and competence agenda for London Underground. It also has a remit to share good practice with other rail companies. </p>
<p>Marilyn Hawkins, Principal of Barnet College said, &quot;Working with rail companies is part of the college's strategic plan to deliver highly specialised sector specific skills. Today's announcement demonstrates the college's strategic ability to work with large public sector employers to assist them to deliver modern training and upskill their workforce.&quot; </p>
<p>London Underground has recently introduced a training commitment to ensure that all new customer service recruits work towards and gain an NVQ in Passenger Services. There will be over 1,000 new recruits starting work on the programme this year. London Underground will also be rolling out a modern apprenticeship in rail operations for staff. </p>
            <ol>
<li>The partnership comprises on London Underground, City &amp; Guilds Institute (qualification awarder), Four Counties Training (NVQ provider) and Barnet College (access to government funding and quality assurance of training provision plus educational partner) 
</li><li>Future partnership initiatives will include college placements, modern apprenticeships and training programmes to address industry skills shortages. 
</li><li>To date over 7200 LU staff have signed up for the NVQ level 2 or 3 in passenger services. Over 4500 have completed the qualification. 
</li><li>The CoVE is funded by the Learning Skills Council / Sector Skills Council which releases government funding for lifelong adult learning with the aim to address skills shortages and provide learning opportunities for adults. </li></ol>
<p>Parool Patel<br>Press Officer<br>Email: <a href="mailto:paroolpatel&#64;tfl.org.uk" lid="paroolpatel&#64;tfl.org.uk">paroolpatel&#64;tfl.org.uk</a><br>Direct line: 020 7941 4910</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The partnership will explore the best way of promoting and delivering National Vocational Qualifications (NVQs) and other skills initiatives to the Underground's frontline operational staff. It will also seek to address areas of skill shortage. This";}
        
        


 