


@{ViewBag.Title = "West London Tram visits Acton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>West London Tram visits Acton</h1>
        <div class="content-page-press-release">
        08 July 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Locals will be able to meet and talk to project managers for the proposed West London Tram at a public roadshow at St Mary's Church, Acton Town Square on Friday 9 and Saturday 10 July.
        
    </div>



 <div class="on-this-page">
<p>The roadshow will give more information on the details of the West London Tram proposal and specialists will be on hand to answer questions. </p>
<p>TfL's Head of Public Affairs, Bill Hamilton said:</p>
<blockquote>
<p>&quot;We are providing a wide range of ways for people to have their say on the proposed West London Tram. People can give us their views, either on-line, at one of the public roadshows or by filling out the questionnaire sent to over 400,000 residences along the proposed route. People have three months to give their views until 8 October &quot;</p></blockquote>
            <ol>
<li>TfL's roadshow on the West London Tram public consultation will be at St Mary's Church, Acton Town Square at these dates and times: 
<ul>
<li>Friday 9 July 12noon - 8pm </li>
<li>Saturday 10 July 11am - 5pm </li></ul></li>
<li>Other roadshows will be taking place throughout the consultation period (29 June - 8 October 2004). Dates, times and locations are available at: http://www.tfl.gov.uk/westlondontram</li>
<li>All consultation materials and a phone line are being produced in the GLA's 10 priority languages, Braille and on audio tape. A phone line has also been set up for people who speak these 10 languages. </li>
<li>The Mayor and TfL will decide whether or not to go ahead with the WLT project after the public consultation results and ongoing engineering work has been reviewed. </li>
<li>The West London Tram project is a proposal for a 20km tramway that would run from Uxbridge to Shepherds Bush, serving town centres of Uxbridge, Southall, Hanwell, West Ealing, Ealing, Acton and Shepherds Bush. The WLT would serve around 40 stops on the route, enabling passengers to travel from Uxbridge to Shepherds Bush in about an hour. </li></ol>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The roadshow will give more information on the details of the West London Tram proposal and specialists will be on hand to answer questions. TfL's Head of Public Affairs, Bill Hamilton said:&quot;We are providing a wide range of ways for people to have";}
        
        


 