


@{ViewBag.Title = "Bus routes diverted due to Thames Water works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus routes diverted due to Thames Water works</h1>
        <div class="content-page-press-release">
        19 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 5 January 2008, Thames Water will be introducing a Flood Alleviation Scheme at Westbourne Grove, Kensington.
        
    </div>



 <div class="on-this-page">
<p>
<p>Works are scheduled to take seven months and bus routes 7, 23, 27, 36 and 70 will be on diversion throughout this period. </p>
<p>As part of Thames Water's Flood Alleviation Scheme, engineers will build a new 1.5metre diameter sewer underneath Westbourne Grove and Bishop's Bridge Road. </p>

<p>Westbourne Grove will be closed during the planned works.</p>
<p>A new bus stop will be installed on Bishop's Bridge Road (before Inverness Terrace) and will remain there for the duration of the closure. </p>

<p>Buses on routes 7, 23, 27, 36, N7 and N36 will serve this stop, starting at 7 a.m. on Sunday 6 January.</p>
<p>Full details of the diversions will be available on the <a href="http://www.tfl.gov.uk">TfL website. </a></p>

<p>Posters advising passengers of the diversions and stopping arrangements will be placed at bus stops along Pembridge Road, Pembridge Villas, Porchester Road and Westbourne Grove.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong></p>
<ul>
<li>Routes 7/N7 and 23 towards Ladbroke Grove - will be diverted from Bishop's Bridge Road via Inverness Terrace, Inverness Place, Queensway, Moscow Road, Hereford Road, Dawson Place and Chepstow Place</li>
<li>Routes 7/N7 and 23 towards Paddington - will be diverted via Hereford Road, Princes Square, Garway Road, Princes Square / Porchester Gardens, Queensway and Porchester Road to Bishop's Bridge Road</li>
<li>Route 27 towards Notting Hill Gate - will be diverted via Inverness Terrace and Bayswater Road</li>
<li>Route 27 towards Paddington - will be diverted via Bayswater Road, Queensway and Porchester Road to Bishops Bridge Road.&nbsp; Pembridge Road and Pembridge Villas will not be served.&nbsp;Passengers on Pembridge Road / Villas can catch routes 28, 31 and 328 to connect with a diverted route (7, 23, 70) at the stop (1261) on Westbourne Grove and change on route 27 at Bishop's Bridge Road</li>
<li>Route 36/N36 towards Royal Oak - will be diverted via Inverness Terrace, Inverness Place, Queensway and Porchester Road.&nbsp;Journeys towards Paddington are not affected</li>
<li>Route 70 towards Ladbroke Grove - will be diverted via Moscow Road, Hereford Road, Dawson Place and Chepstow Place</li>
<li>Route 70 towards Kensington - will be diverted via Hereford Road, Princes Square, Garway Road and Princes Square / Porchester Gardens</li>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With over 8000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Works are scheduled to take seven months and bus routes 7, 23, 27, 36 and 70 will be on diversion throughout this period. As part of Thames Water's Flood Alleviation Scheme, engineers will build a new 1.5metre diameter sewer underneath Westbourne Grove";}
        
        


 