


@{ViewBag.Title = "Direct Enquiries wins award for groundbreaking Underground information service ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Direct Enquiries wins award for groundbreaking Underground information service </h1>
        <div class="content-page-press-release">
        20 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The success of a London Underground (LU) service to assess and map 'accessible' routes between station entrances and platforms has been recognised by the Visit London Bronze Award for 'Best Visitor Information Initiative'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Directenquiries.com provides a valuable service for all kinds of Underground users"</div>
        <div class="quote-footer">
            <div class="quotee-name">Wayne Trevor</div>
            <div class="quotee-job-title">LU's Accessibility and Inclusion Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Directenquiries.com provides a valuable service for all kinds of Underground users
                            
                        </p>
                    </div>
                
            
            
            <p>LU commissioned Direct Enquiries to provide a ground-breaking, interactive service that enables disabled and deaf people, parents with buggies and people travelling with heavy luggage to find accessible routes within the Underground network. 
<p>
<p>The <a href="http://www.directenquiries.com/">Directenquiries.com </a>website enables visitors to personalise their route according to their individual needs.&nbsp; </p>
<p>As well as route maps, the website details the number of steps, lifts, escalators, walking distances, ramps and platform to train gap width, so that people can decide their best possible route before travelling. </p>
<h2>Commitment to accessibility</h2>
<p>Passengers can also use the website to find details of the facilities available at each station, including car parking, toilets, and services for visually impaired people, induction loops and other access facilities.&nbsp; </p>
<p>As facilities may change over time, the&nbsp;website provides a free access update to registered users. </p>
<p>This sends them an alert if access facilities change at their chosen stations.</p>
<p>Ken Livingstone, Mayor of London, said: "This award recognises Transport for London's commitment to making the Underground accessible for every Londoner and visitor to our city." </p>
<h2>Relaxed journeys</h2>
<p>Wayne Trevor, LU's Accessibility and Inclusion Manager, said: "Directenquiries.com provides a valuable service for all kinds of Underground users. </p>
<p>"Wheelchair users, older people, travellers with heavy luggage and parents with buggies, as well as those passengers with visual and hearing impairments can plan their journey in advance. </p>
<p>"This will help ensure they enjoy an easier and more relaxed Underground journey, confident in the knowledge that they are following the most accessible route."</p>
<p>Grant Kennedy, Chief Executive, Direct Enquiries, commented: "It is an honour to receive the Visit London Award for the London Underground Portal.</p>
<p>"It's recognition for the value the service provides the Capital."</p>
<p>The Direct Enquiries service is available at <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a>, and can be accessed by wi-fi or 3G phones. <br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>London Underground is investing more than ever before to make the Tube as accessible as possible as quickly as possible for all customers </li>
<li>By 2010, 25 per cent of Tube stations will have step-free access, and this will increase to one third of stations by 2013. Where necessary, works will be prioritised to ensure that as many stations as possible serving Olympic venues have step-free access for the 2012 Games </li>
<li>Significant progress has been made during the last year.&nbsp;Currently 48 stations have step-free access. Feasibility studies to improve accessibility have been completed at 90 stations allowing LU to understand the extent of the engineering works that need to take place </li>
<li>This online interactive service complements 'Getting Around London: Your Guide to Accessibility' launched in March, which gives information about accessibility on all forms of public transport across London </li>
<li>The guide is available at Tube stations, bus stations and Travel Information Centres, or via the 24-hour Travel Information Helpline 020 7222 1234.&nbsp;It can also be downloaded in PDF form from <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>. Audio, large print and Braille versions of the guide are also available </li>
<li>Directenquiries.com was developed as the Nationwide Disabled Access Register in 2002 in partnership with RADAR (Royal Association for Disability and Rehabilitation) and The Employers' Forum on Disability.&nbsp;During the past 18 months, the information available has grown to include access for parents with pushchairs as well as the general public.&nbsp;This allowed directenquiries.com to rebrand as The Nationwide Access Register in January 2006 </li>
<li>This website provides a full directory service for UK companies detailing the access and facilities available at those sites registered with directenquiries.com.&nbsp; The register currently includes disabled access information on leading high street names such as Argos, Asda, Boots, Costa Coffee, Gap, John Lewis, LloydsTSB, PC World, Pizza Express, Sainsbury's and Waterstone's<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU commissioned Direct Enquiries to provide a ground-breaking, interactive service that enables disabled and deaf people, parents with buggies and people travelling with heavy luggage to find accessible routes within the Underground network. The";}
        
        


 