


@{ViewBag.Title = "Fares Freezes mean Happy New Year for London's passengers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fares Freezes mean Happy New Year for London's passengers </h1>
        <div class="content-page-press-release">
        31 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The New Year will see a single fares freeze on buses, the Tube, Docklands Light Railway (DLR) and trams.
        
    </div>



 <div class="on-this-page">
<p>
<p>The new fares package, announced in October this year, will mean from 2 January a single journey in central London will be held at &pound;1.50, using Oyster pay as you go, and &pound;4 when using cash. </p>
<p>Following the recent 10 per cent reduction, an Oyster single bus journey will remain at 90p, with the cash fare &pound;2.</p>
<p>Once retail price inflation at around four per cent is taken into account, single bus fares on Oyster will be around 14 per cent lower and Tube Oyster single fares around four per cent lower, than in January 2007.</p>
<p>The cost of One Day Travelcards and Travelcard Season Tickets will rise in line with inflation as these fares also apply on National Rail, and the agreement of the Train Operating Companies would be necessary for any lower fares.</p>
<p>Mayor of London, Ken Livingstone said: "Single bus, Tube, tram and DLR fares will be frozen from 2nd January, as we look to share the city's economic success with our passengers.</p>
<p>"Record passenger numbers and careful control of operating costs have boosted transport revenues. </p>
<p>"Following the recent 10 per cent reduction in bus Oyster single fares in September and by freezing cash fares for 2008 I am now ensuring that the benefits will be felt by millions more Londoners.</p>
<p>"The 2008 fares package also builds on free&nbsp; travel schemes for older and disabled people, for children and young people, and the half price travel schemes for Londoners on Income Support."</p>
<hr>

            <p>
<p><strong>Notes to editors</strong></p>
<p>On 2 January, a new discount daily off-peak price cap is being introduced for holders of Young Persons, HM Forces, Disabled Persons or Senior National Railcards. It means that customers receive a 34&nbsp;per cent&nbsp;saving on Oyster daily price caps when using the Tube, DLR and London Overground.</p>
<p><strong>Fares in detail</strong></p>
<ul>
<li>Single bus fares are frozen </li>
<li>This follows the 10 per cent bus and tram Oyster single fare cuts introduced in September, and will mean a single bus journey remains at 90p </li>
<li>The 7 Day Bus Pass was reduced from &pound;14 to &pound;13 in September and it too will be frozen for the coming year </li>
<li>The One Day Bus Pass is frozen at &pound;3.50 </li>
<li>Only a little more than two per cent of bus journeys are now paid in cash </li>
<li>Single Tube fares are also frozen, with the price of a single journey in central London being held at &pound;1.50 when using Oyster, and &pound;4 when paying by cash. A little over three per cent of Tube fares are now paid in cash </li>
<li>The cost of One Day Travelcards and Travelcard Season Tickets will rise in line with inflation as these fares also apply on National Rail, and the agreement of the Train Operating Companies would be necessary for any lower fares</li></ul>
<p><strong>On the buses and trams</strong></p>
<ul>
<li>The Oyster single fare remains at 90p&nbsp;with the Oyster daily price cap frozen, which means Oyster users will never pay more than&nbsp; &pound;3 regardless of how many trips they make in a day </li>
<li>The bus and tram cash single fare is frozen at &pound;2 </li>
<li>The One Day Bus Pass is frozen at &pound;3.50 and the 7 Day Bus Pass is frozen at &pound;13 </li>
<li>The bus Saver price remains at &pound;6 for six trips </li>
<li>In the last year, cash use on buses has dropped from 5.3 per cent of all journeys to 2.3 per cent </li>
<li>With the reductions in Oyster single fares and 7 Day Bus Passes in September, there is a real fare reduction of around seven per cent compared to January 2007</li></ul>
<p><strong>On the Tube and DLR</strong></p>
<ul>
<li>All Oyster single fares are frozen across London and the Oyster daily price cap for adults remains 50p below the One Day Travelcard price </li>
<li>The central area cash single fare is frozen at &pound;4. Only 3.4 per cent of Tube fares are now paid in cash </li>
<li>Travelcards will rise by around RPI giving an overall real fares decrease of around one per cent </li>
<li>Cash use on the Tube has dropped from 5.7 per cent a year ago to 3.4 per cent <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new fares package, announced in October this year, will mean from 2 January a single journey in central London will be held at &pound;1.50, using Oyster pay as you go, and &pound;4 when using cash. Following the recent 10 per cent reduction, an Oyster";}
        
        


 