


@{ViewBag.Title = "Licensed minicabs given red route exemption";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Licensed minicabs given red route exemption</h1>
        <div class="content-page-press-release">
        13 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of thousands of Londoners will benefit from a safer and more convenient minicab service as the Capital's 40,000 plus licensed private hire vehicles are to be eligible to stop on red routes to pick up and set down passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Being able to stop on red routes will particularly help vulnerable passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">Taxi and Private Hire Director at the Public Carriage Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Being able to stop on red routes will particularly help vulnerable passengers
                            
                        </p>
                    </div>
                
            
            
            <p>The red routes are only five per cent of the Capital's road network but they carry up to 35 per cent of London's traffic. <br>&nbsp;<br>From 17 December licensed drivers who display a new 'Private Hire' roundel sign on the outside of their vehicle will be allowed to pick up and set down pre-booked passengers, but not park and wait, on red routes.<br>&nbsp;<br>The new sign, which will remind Londoners that licensed minicabs must be pre-booked, is likely to be adopted by the majority of private hire vehicles operating in the Capital. <br>&nbsp;<br>Ed Thompson, Taxi and Private Hire Director at the Public Carriage Office, said: "The Capital's private hire trade provides an invaluable service to Londoners.<br>
<p>
<h2>Visible to all </h2>
<p>"Being able to stop on red routes will particularly help vulnerable passengers, such as elderly and disabled people and anyone living on or near a red route by giving them a safer and more convenient option when booking a private hire vehicle. 
<p>"Now that they are fully licensed by Transport for London they will be granted this exemption, subject to them displaying the new signs."<br>
<p>Patrick Troy, Head of Traffic Enforcement said: "This is good news for both the private hire trade and the people who use them, but we have to keep these roads as clear as possible and other road users should be warned that the red route controls will continue to be properly enforced.<br>&nbsp;<br>"Only licensed vehicles displaying the correct signs at both the front and rear of their vehicles, which should be visible to all road users as well as our enforcement officers, will be allowed to set down and pick up passengers on the red routes."</p>
<h2>Pre-booked </h2>
<p>Minicabs must be pre-booked and are not available for hire by flagging down on the street. </p>
<p>Any minicab touting for hire on the streets of London is acting illegally and is liable to prosecution as well as having its licence revoked.&nbsp; </p>
<p>Passengers who take a minicab in this way put themselves at risk as details of their journey and driver will not be properly recorded.</p>
<p>
<hr>
<br>
<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The exemptions are strictly for the setting down and picking up of passengers, and do not extend to waiting </li>
<li>Up to now, only London licensed taxis and vehicles carrying Blue Badge holders have had the exemption allowing passengers to board or alight on Red Routes.&nbsp;Now that London's private hire services are licensed by Transport for London (TfL), they will be granted the exemption subject to them displaying the additional signage </li>
<li>Private Hire provides a valuable service: There are&nbsp;more than&nbsp;2,000 licensed private hire operators (minicab firms, chauffeur companies and others) operating&nbsp;more than&nbsp;40,000 licensed private hire vehicles and drivers, compared with 21,000 licensed taxis (black cabs) </li>
<li>The exemption is for vehicles displaying external signage, and will be enforced.&nbsp;It is not mandatory that PHVs have the new identifiers but they must do so to benefit from the exemption. They must also show the mandatory TfL licensing identifiers, that is the yellow discs in both front and rear windscreens </li>
<li>Any licensed PHV dropping off or picking up passengers without these identifiers will be contravening traffic regulations and risks receiving a Penalty Charge Notice in the same way as other vehicles.&nbsp; There is no change in respect of any other vehicles </li>
<li>The TLRN comprises 580km of London's busiest roads, many of them red routes. These roads make up around&nbsp;five per cent&nbsp;of the total London road network, but carry around 35&nbsp;per cent&nbsp;of the Capital's traffic </li>
<li>Licensed minicabs are also allowed to stop to pick up and set down passengers (but not to wait) in most bus lanes </li>
<li>Minicabs must be pre-booked </li>
<li>The TfL funded Transport Operational Command Unit in the MPS, has a dedicated London-wide Cab Enforcement Unit responsible for enforcing the law relating to taxis and private hire vehicles in London.&nbsp;The Cab Unit has 34 officers who focus their efforts towards anti-touting activities at key hot spots in and around London and developing enforcement expertise and tactics to ensure maximum impact </li>
<li>The Cab Enforcement Unit has been highly effective in targeting illegal cab drivers who tout, as well as clamping down on unsafe vehicles and other taxi and private hire offences across London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The red routes are only five per cent of the Capital's road network but they carry up to 35 per cent of London's traffic. &nbsp;From 17 December licensed drivers who display a new 'Private Hire' roundel sign on the outside of their vehicle will be allowed";}
        
        


 