


@{ViewBag.Title = "Liverpool Street Station closed for works over Christmas ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Liverpool Street Station closed for works over Christmas </h1>
        <div class="content-page-press-release">
        06 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and rail industry partners today reminded passengers that Liverpool Street station will be closed for 10 days over Christmas because of vital work to replace a dilapidated railway bridge.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will ensure that disruption is kept to a minimum"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Dixon</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will ensure that disruption is kept to a minimum
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The work is being carried out as part of a &pound;1.4bn investment that will see huge improvements to London's rail network including the rebuilding and extension of the East London line as part of the new London Overground network.</p>
<p>The station will be closed from 23 December 2007 and will re-open at 4am on 2 January 2008, in time for people to get back to work after the Christmas break. </p>
<p>Closing the station at this time will affect fewer people than at any other time in the year, with passenger numbers typically between 40 and 80 per cent down compared to normal days. </p>
<p>A wide range of alternative travel arrangements will be available over the period to enable passengers to complete their journeys, and compensation packages will be offered to local residents affected by the work. </p>
<h2>Revitalise</h2>
<p>The extended East London line will open in 2010, in a hugely improved and extended form, running from Dalston in the north to West Croydon in the south. </p>
<p>It will be linked to a revitalised North London Railway, and served by brand new high-frequency trains connecting 20 of the capital's 33 boroughs. </p>
<p>Julie Dixon, Head of Stakeholder Engagement, Transport for London, said: "This work is vital to the completion of the East London Line that, as part of London Overground, will radically improve the Capital's transport network.&nbsp; </p>
<p>"We recognise that it will impact on passengers and local residents over these 10 days, but we will ensure that disruption is kept to a minimum. </p>
<div class="pullquote right">
<p>We are keen to deliver the maximum benefit for passengers during the closure 
<div class="cite">Patrick Hallgate, Network Rail Anglia Route Director</div>
<p></div>
<p>"We are offering various alternative routes and are letting everyone know in good time.</p>
<p>"Residents affected by the work are being fully informed and consulted, and those affected will be offered temporary accommodation, double-glazing to protect them from noise and dust, and other forms of compensation."</p>
<p>Patrick Hallgate, Network Rail Anglia Route Director, said: "We are working closely with Transport for London to minimise disruption and give the travelling public the information they need to plan their journeys this Christmas.</p>
<p>"We are keen to deliver the maximum benefit for passengers during the closure and so Network Rail is also carrying out &pound;7m of other improvements including renewing overhead lines and replacing track, which will mean better train services in and out of Liverpool Street Station in the future."</p>
<p>At the same time as these improvements, Network Rail will carry out a programme of upgrade work, including the renewal of overhead lines and track, which will mean better train services in and out of Liverpool Street Station in the future. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The bridge, known as GE19, is 120 years old and has been out of use for decades. This means that unlike many other great Victorian engineering structures it is no longer safe to use. It is also in the wrong position for the new East London Line tracks </li>
<li>Demolition of the current bridge means removing some 12,000 tonnes of brickwork. The new bridge is the length of three Wimbledon Centre Courts. It will be put into place in Spring 2008 </li>
<li>When Christmas Eve falls on a Monday, train operators carry 40 per cent less passengers because many people have already left London during the weekend. During working days in the Christmas/New Year period passenger numbers are down 80 per cent on a normal working day. The timing of this work will also mean that people returning to work on January 2 after the holiday break, would not be disrupted </li>
<li>Demolition of the bridge by Network Rail will cost &pound;2m. Network Rail is also carrying out a further &pound;7m of upgrade work </li>
<li>Alternative routes 
<ul type="circle">
<li>Train operator 'One' will be putting alternative travel arrangements in place and is notifying passengers by leaflets being distributed at stations and information on its website </li>
<li>West Anglia and Stansted Express will start/terminate at Tottenham Hale, Seven Sisters and Walthamstow Central stations to allow interchange with the London Underground. Some trains will terminate at Hackney Central with passengers being passed onto Transport for London buses to Liverpool Street station </li>
<li>Metro Services will terminate at Stratford with London Underground connections to London, which will include an enhanced service on the Central Line. A shuttle train service will operate to Brentwood, with a bus operating between Brentwood and Shenfield </li>
<li>Southend Services will run as a train shuttle between Southend and Billericay with connecting buses to c2c services to Fenchurch Street </li>
<li>Mainline services will operate to Ingatestone where buses will run to and from Liverpool Street, with the exception of 27th and 28th December where a limited service to Stratford will operate</li></ul></li>
<li>London Underground alternative routes: 
<ul type="circle">
<li>Victoria line to Tottenham Hale to meet Stansted Express services. The Victoria line will easily handle the increase in passenger numbers during this period. </li>
<li>As a precaution, Central line services will be increased from 24 trains per hour to 30 trains per hour during the closure </li>
<li>Jubilee line services to Stratford will run as usual - the line easily has the capacity to handle the extra passengers </li>
<li>There will be no engineering closures on these lines during the closure<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is being carried out as part of a &pound;1.4bn investment that will see huge improvements to London's rail network including the rebuilding and extension of the East London line as part of the new London Overground network.The station will be";}
        
        


 