


@{ViewBag.Title = "New Docklands Light Railway station opens at Langdon Park ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Docklands Light Railway station opens at Langdon Park </h1>
        <div class="content-page-press-release">
        10 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new station on the Docklands Light Railway (DLR) was opened today at Langdon Park, Tower Hamlets, providing better access to London's public transport network for thousands of residents.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new Docklands Light Railway station will benefit thousands of families in East London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new Docklands Light Railway station will benefit thousands of families in East London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Situated between All Saints and Devons Road stations on the DLR route to Stratford, the &pound;7.5m station has been funded by the Department for Communities and Local Government, Leaside Regeneration and the London Borough of Tower Hamlets in recognition of the significant benefits and opportuntities it will create.</p>
<p>Ken Livingstone, Mayor of London, joined young people from the nearby Langdon Park school, and presented them with free Oyster cards for their families.&nbsp;&nbsp;</p>
<p>Ken Livingstone said: "This new Docklands Light Railway station will benefit thousands of families in East London, and will play a key role in supporting the regeneration of the surrounding area. </p>
<p>"It will be vital in giving local residents quick and easy access to the London transport network, and will connect them to all that the capital has to offer."</p>
<h2>Catalyst for regeneration </h2>

<p>Chief Executive of Leaside Regeneration, Paul Brickell, said: "This station was the dream of local residents and I am delighted that it's become a reality today."</p>
<p>Cllr Ohid Ahmed from London Borough of Tower Hamlets, said: "The council has been campaigning for this station for the past 10 years,&nbsp;so I am especially proud today to see it up and running.&nbsp;</p>
<p>"This station&nbsp;will improve access to public transport for local people&nbsp;who live and work in this part of the borough and act as a catalyst for regeneration in the area."</p>
<p>The station, which has been built on what was one of the longest gaps on the DLR network, is located at the heart of the Teviot and Lansbury estates, adjacent to Langdon Park itself and close to Langdon Park school. </p>
<h2>Second platform </h2>

<p>The station includes CCTV, passenger information displays, Help points, Oyster card validators and step-free access to platforms.</p>
<p>Transport for London has also opened the second platform of its new Stratford station. </p>
<p>This will offer passengers&nbsp;greater capacity&nbsp;by allowing&nbsp;DLR trains to run to and from Stratford alongside each other.</p>
<p>The previous&nbsp;DLR single platform, which was part of the railway's original 1987 route, has been permanently closed.</p>
<p>
<hr>

            <p><strong>Notes to editors <br></strong>
<ul>
<li>Walking times to a DLR station will be reduced by up to 11 minutes for Langdon Park residents, significantly improving access to essential services. For example, 65 per cent of users will be able to reach a hospital within 30 minutes, compared to 11 per cent now </li>
<li>Passengers using the station will be able to make quick and easy journeys to a wide range of destinations, including Canary Wharf in just five minutes and Stratford in seven minutes </li>
<li>Images of DLR Langdon Park station are available on request </li>
<li>The funding contributions are &pound;5.7m from the Department for Communities and Local Government / Department for Transport, &pound;1.78m from Leaside Regeneration and &pound;0.05m from London Borough of Tower Hamlets, with support from Transport for London </li>
<li>The Department for Communities and Local Government / Department for Transport funding is via the Communities Infrastructure Fund (CIF), which is allocated to projects that help bring forward housing delivery and assist with the regeneration of local areas </li>
<li>DLR is hosting station open days on 8, 9, 10, 11 and 12 December to provide information to residents, including advice on using Oyster cards </li>
<li>The station open days times are as follows: Saturday 8 December,&nbsp;10.00-13.00; Sunday 9 December,12.00-15.00; Monday 10 December:, 11.00-14.00; Tuesday 11 December,&nbsp;12.00-15.00; Wednesday 12 December,16.00-19.00 </li>
<li>The DLR, and in particular Stratford Regional Station, will provide an important service for spectators travelling to the Olympic Park during the summer of 2012 </li>
<li>Further information on DLR&nbsp;is available <a href="http://www.tfl.gov.uk/dlr">online </a><br>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Situated between All Saints and Devons Road stations on the DLR route to Stratford, the &pound;7.5m station has been funded by the Department for Communities and Local Government, Leaside Regeneration and the London Borough of Tower Hamlets in recognition";}
        
        


 