


@{ViewBag.Title = "Operators must act now to prepare for London's Low Emission Zone ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operators must act now to prepare for London's Low Emission Zone </h1>
        <div class="content-page-press-release">
        10 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This is the last opportunity for owners and operators of lorries to act"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Head of the London Low Emission Zone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is the last opportunity for owners and operators of lorries to act 
                            
                        </p>
                    </div>
                
            
            
            <p>Owners of lorries that weigh more than 12 tonnes, drive&nbsp;within&nbsp;London and are currently non-compliant with the requirements of London's Low Emission Zone are being urged to take action now to ensure they are ready for when the scheme comes into force at 00:01am on 4 February 2008. 
<p>The scheme extends to lorries over 3.5 tonnes, buses and coaches from 7 July 2008. 
<p>Vehicles first registered as new on or after 1 October 2001 are assumed to meet the Euro III standards for particulate matter emissions and need to take no further action. 
<p>Some Euro I and II engines listed on&nbsp;Transport for London's&nbsp;(TfL's) Eligible Engines list can be certified as meeting the required standards. 
<p>
<h2>Made compliant </h2>

<p>Vehicles that do not meet the emissions standards can&nbsp;be&nbsp;made&nbsp;compliant by&nbsp;the&nbsp;fitting&nbsp;of pollution abatement equipment. </p>
<p>An operator could also re-engine the vehicle or convert it to an approved alternative fuel, such as compressed natural gas. </p>
<p>All vehicles with Eligible Engines or fitted with approved modifications will require a Vehicle and Operator Services Agency&nbsp;(VOSA)&nbsp;test to prove they comply with the scheme before being driven within the zone.</p>
<p>For operators who want to fit pollution abatement devices to their vehicles there are now eight approved suppliers listed on&nbsp;TfL's website, who have a wide range of devices to ensure that vehicles of all ages, weights and types can meet the requirements of the Low Emission Zone.</p>
<h2>Last opportunity </h2>

<p>Because it can take between&nbsp;four and 12 weeks to order and fit pollution abatement devices, owners of vehicles that need this work are being urged to take action now to make their vehicles compliant in time to meet the Low Emission Zone's requirements. </p>
<p>Nick Fairholme, Head of the London Low Emission Zone, said: "This is the last opportunity for owners and operators of lorries to act if they need abatement equipment to meet the requirements of the Low Emission Zone. </p>
<p>"There are now eight approved suppliers that can offer nearly 2,500 engine-filter combinations but lead times for the work mean that operators need to act now or risk not being ready for 4 February."</p>
<p>The Low Emission Zone will cover nearly all of Greater London for 24 hours a day, seven days a week. </p>
<h2>Cut harmful emissions </h2>

<p>Lorries over 12 tonnes that drive through the zone from 4 February and do not meet the required Euro III emissions standard for particulate matter must pay a daily charge of &pound;200 to use the vehicle in the zone. </p>
<p>If this is not paid owners will face a penalty charge of &pound;1,000.</p>
<p>The Low Emission Zone aims to cut harmful emissions from the most polluting lorries, coaches and buses and improve air quality across the capital. </p>
<p>As a result the aim is to improve the health and quality of life of those that live in, work in or visit London.&nbsp;</p>
<h2>Worst air pollution in the UK </h2>

<p>London currently suffers the worst air pollution in the UK and some of the poorest in Europe. </p>
<p>Poor air quality worsens asthma and also causes the premature death of over 1,000 people each year. </p>
<p>A recent survey of Londoners, carried out by Ipsos Mori, found that 72 per cent of Londoners are worried about pollution from traffic exhaust fumes.</p>
<p>More details about the Low Emission Zone scheme and how to comply with the emissions standards can be found on TfL's <a href="http://www.tfl.gov.uk/lezlondon">website</a> </p>
<p>
<hr>

<p>
            <p><strong>Notes to editors </strong><br>
<ul>
<li>A Low Emission Zone information campaign has been running since June 2007, using a combination of posters, broadcast and print media as well as roadshows where information leaflets are being distributed. In addition, owners of non-compliant vehicles who have been identified as travelling within Greater London have been directly mailed </li>
<li>TfL's vehicle compliance checker is available <a href="http://www.tfl.gov.uk/lezlondon">online</a>. By entering the vehicle's make and registration number, operators can check if and when the vehicle is affected. Further information on the Low Emission Zone is also available by calling 0845 607 0009 or +44 20 7310 8998 for callers outside the UK </li>
<li>Vehicles affected by the London Low Emission Zone include not only goods vehicles, but also buses, coaches, motor caravans, motorised horseboxes and other specialist vehicles </li>
<li>The Low Emission Zone will be introduced in a number of stages, as follows: <br><strong>Heavier lorries </strong><br>From 4 February 2008, diesel-engined lorries over 12 tonnes will need to meet the Euro III standard for particulate matter. This includes heavy diesel-engined vehicles exceeding 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.<br><strong>Buses, coaches and lighter lorries </strong><br>From 7 July 2008 the Euro III for particulate matter emissions standards will be extended to all diesel-engined vehicles between 3.5 and 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles. The emissions standard will also apply to buses and coaches, defined as: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, exceeding 5 tonnes Gross Vehicle Weight.<br>From October 2010 the Euro III for particulate matter standard will be extended to diesel-engined vehicles between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight and motor caravans between 2.5 tonnes and 3.5 tonnes Gross Vehicle Weight. In addition, minibuses, defined as: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, below 5 tonnes Gross Vehicle Weight, will be affected.<br><strong>Euro IV </strong><br>From January 2012 all diesel-engined lorries, buses and coaches will be required to meet an emissions standard of Euro IV for particulate matter in order to drive within the Low Emission Zone at no charge. </li>
<li>TfL's list of approved abatement devices details equipment suppliers and the engines for which their systems are approved. Accreditation of these suppliers and abatement devices is undertaken for TfL by an independent Certification Body comprising the Energy Saving Trust (EST) and the Vehicle Certification Agency (VCA). Suppliers must demonstrate that their products meet rigorous performance requirements and that they are able to service the market and provide the required service and warranty support. </li>
<li>A list of approved particulate matter abatement devices is available on the&nbsp;<a href="http://www.tfl.gov.uk/lezlondon ">TfL website</a> </li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Owners of lorries that weigh more than 12 tonnes, drive&nbsp;within&nbsp;London and are currently non-compliant with the requirements of London's Low Emission Zone are being urged to take action now to ensure they are ready for when the scheme comes into";}
        
        


 