


@{ViewBag.Title = "Oyster hottest ticket in town for free music downloads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster hottest ticket in town for free music downloads</h1>
        <div class="content-page-press-release">
        04 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Oyster hottest ticket in town for free music downloads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is another fantastic way for Londoners to benefit from using Oyster"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Fares and Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is another fantastic way for Londoners to benefit from using Oyster
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Londoners can now get even more from Oyster as Transport for London (TfL) has teamed up with iTunes (<a href="http://www.apple.com/uk/itunes/">www.apple.com/uk/itunes/</a>) to reward new users who sign up to the Oyster Auto top-up facility with five free downloads of their favourite music.</p>
<p>For a limited time only customers who set up an Auto top-up account will be given a one-off opportunity to download up to five free songs from over&nbsp;six million tracks available in the iTunes Store.<br>&nbsp;<br>Auto top-up gives customers the freedom to manage their pay as you go travel on their Oyster cards from the comfort of home or work. </p>
<p>By setting up an Auto top-up account, Oyster cards are automatically topped-up whenever the balance falls below &pound;5. </p>
<h2>Enjoy your favourite music</h2>
<p>Once set up you never have to think about running out of credit again.&nbsp; <br>&nbsp;<br>By visiting <a href="http://www.tfl.gov.uk/itunes">www.tfl.gov.uk/itunes</a> customers will receive further information about Oyster Auto top-up and how to redeem the offer. <br>&nbsp;<br>Shashi Verma, Transport for London's Director of Fares and Ticketing, said: "This is another fantastic way for Londoners to benefit from using Oyster. </p>
<p>"With increasingly busy lives, we understand the importance of people's time.</p>
<p>"Auto top-up is the smart way to manage your Oyster card, while iTunes is recognised as the smart way to manage your entertainment. </p>
<p>"Once again we are meeting challenges set by our customers and by the digital age."<br>&nbsp;<br>This offer is open for a limited time so log on, sign up in minutes, and spend your time enjoying your favourite music rather than topping up your Oyster.<br>&nbsp;<br>Further information and details of how to take advantage of this offer are available at <a href="http://www.tfl.gov.uk/itunes">www.tfl.gov.uk/itunes</a><br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>The Oyster/iTunes offer ends on 29 February 2008 </li>
<li>This is open to all adult Oyster card holders who are not registered online. The offer is not applicable to users of concessionary Oyster cards </li>
<li>The free download offer can only be used once </li>
<li>Five free songs from the iTunes catalogue will be offered to Oyster customers who set up Auto top-up during the promotional period </li>
<li>To qualify for the download offer users must have an online account.&nbsp; Register in minutes at <a href="http://www.tfl.gov.uk/itunes">www.tfl.gov.uk/itunes</a>. Auto top-up users can choose their top-up amount to be either &pound;20 or &pound;40. This amount will be added automatically when it is touched on any card reader as part of a normal journey whenever the balance falls below &pound;5 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners can now get even more from Oyster as Transport for London (TfL) has teamed up with iTunes (www.apple.com/uk/itunes/) to reward new users who sign up to the Oyster Auto top-up facility with five free downloads of their favourite music.For a";}
        
        


 