


@{ViewBag.Title = "Oyster pay as you go on three more mainline routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster pay as you go on three more mainline routes</h1>
        <div class="content-page-press-release">
        27 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Chiltern, c2c, and Hackney area services of 'one' to accept Oyster from 2 January
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This takes us one step nearer being able to offer one ticket for all public transport services across Greater London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This takes us one step nearer being able to offer one ticket for all public transport services across Greater London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From 2 January commuters and visitors will be able to enjoy the greater convenience and speed of the Oyster card at London stations served by Chiltern, c2c and Hackney area services of 'one'. </p>
<p>Transport for London (TfL) is investing &pound;40m so all London's Train Operating Companies accept Oyster. </p>
<p>Thousands more passengers will be able to use pay as you go in addition to Travelcard and enjoy the benefits making Oyster so popular, with 17m issued since the card was introduced in 2003.&nbsp; </p>
<p>Last month Oyster pay as you go was extended to TfL's new London Overground services, London Midland services between Watford Junction and Euston and Southern services between Watford Junction and Clapham Junction and all stations in between.</p>
<p>Mayor Ken Livingstone said: "It is great news for passengers that these train operators have now taken up my offer of a &pound;40 million investment to ensure they can accept Oyster pay as you go. </p>
<h2>Hugely popular </h2>
<p>"This takes us one step nearer being able to offer one ticket for all public transport services across Greater London. </p>
<p>"Oyster cards have been a hugely popular and successful, speeding up journeys and eliminating queues. </p>
<p>"Today only three per cent of passengers use cash on the Tube and buses.</p>
<p>"I hope that the remaining train operators who have not already come on board now finally sign-up and give their passengers the same improved service that they clearly want."</p>
<h2>Easier and quicker </h2>
<p>Shashi Verma, Transport for London, Director of Fares and Ticketing, said: "With Oyster fully available across these services thousands of passengers can enjoy easier and quicker journeys.</p>
<p>"We have worked hard to get the Train Operators to sign up, offering them the funding to install the system so that national rail passengers in London can take advantage of Oyster."</p>
<p>Andrew Chivers, Managing Director for 'one' railway said : "We're pleased to be able to make travel simpler for passengers travelling on our West Anglia routes between London Liverpool Street and Seven Sisters, Tottenham Hale and Walthamstow, with the extension of Oyster pay as you go validity onto our rail services within this area. </p>
<p>"By working with Transport for London we are making rail travel more convenient for many more customers and we are working on plans to widen the availability of Oyster pay as you go even further."</p>
<h2>Leading role</h2>
<p>Adrian Shooter, Chairman of Chiltern Railways, said: "Chiltern Railways are delighted to be one of the first train operating companies to offer passengers the chance to use Oyster pay as you go cards at all of our London stations. </p>
<p>"We are committed to offering our passengers choice and flexibility in their ticket options and we look forward to welcoming pay as you go users on board our trains."</p>
<p>Mark Hopwood, Managing Director for c2c said: "We are pleased to be playing a leading role in bringing the Oyster pay as you go facility out of the London area and onto the national rail network. </p>
<p>"Our customers at Dagenham Dock and Rainham will now benefit from the convenience of Oyster; and we hope to roll the facility out to additional c2c stations in the future as part of our commitment to making travel simpler."</p>
<p>
<hr>

            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Oyster pay as you will be extended and accepted at the following National Rail stations in Greater London from 2 January 2008:</li></ul>
<ul type="square">
<li>c2c - Dagenham Dock, Rainham </li>
<li>Chiltern - Northolt Park, Sudbury and Harrow Hill, Sudbury Hill Harrow, Wembley Stadium, West Ruislip </li>
<li>'one'&nbsp;- Bethnal Green, Cambridge Heath, Clapton, Hackney Downs, London Fields, Rectory Road, St James St, Stamford Hill, Stoke Newington </li>
<li>First Great Western - Between Greenford and Ealing Broadway but not at any intermediately stations</li></ul>
<ul>
<li>About Oyster:</li></ul>
<ul type="square">
<li>Around 78 per cent&nbsp;of all Tube and bus payments in London are now by Oyster card </li>
<li>In the three years since the introduction of Oyster card, the proportion of cash payments on the Tube and buses has fallen to just three per cent </li>
<li>As an example, with Oyster pay as you go you can load &pound;10 onto your Oyster card and when you touch in and out at the yellow card readers on the Tube, Docklands Light Railway (DLR)&nbsp;and London Overground or touch in on the bus or tram the reader automatically deducts the correct fare </li>
<li>Oyster is available to buy or be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops across the capital. Eighty-five percent of all Londoners live within 400 metres of an Oyster Ticket Stop </li>
<li>Oyster is also available <a href="http://www.tfl.gov.uk/oyster">online</a>, over the phone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website </li>
<li>A returnable &pound;3 deposit is payable if you are only loading cash on your Oyster card to pay as you go but the money saved by switching to Oyster can cover this in just one day's travel </li>
<li>Passengers can also register the card so that the money is protected if the card is lost or stolen. Less ticket touts mean more secure stations </li>
<li>Passengers can store up to three different Travelcards or Bus Pass season tickets and cash to pay as they go on the same Oyster card at the same time. Oyster cards are also used to provide free travel for Londoners aged over 60 or with an eligible disability through the Freedom Pass scheme and, on the buses and trams, under 18s in full-time education can also get Oyster photocards for free travel </li>
<li>When passengers use the Oyster card to touch in and out on the yellow card readers on the Tube, DLR, London Overground and touch in on buses and trams the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations </li>
<li>Almost three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card as can using printed tickets - 40 a minute compared to 15 a minute </li>
<li>Auto Top-up can be set up on line to ensure that passengers never run out of cash to pay as they go. When your balance drops below &pound;5, it will automatically be topped up with either &pound;20 or &pound;40 the next time you touch in on any yellow card reader on Tube, bus, tram, London Overground or DLR</li></ul>
<ul>
<li>More information on Oyster is available&nbsp;<a href="http://www.tfl.gov.uk/oyster">online&nbsp;<br></a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 2 January commuters and visitors will be able to enjoy the greater convenience and speed of the Oyster card at London stations served by Chiltern, c2c and Hackney area services of 'one'. Transport for London (TfL) is investing &pound;40m so all";}
        
        


 