


@{ViewBag.Title = "Shepherd's Bush (Central line) station to close for major improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Shepherd's Bush (Central line) station to close for major improvements</h1>
        <div class="content-page-press-release">
        14 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced that Shepherd's Bush (Central line) station will close for eight months from 2 February 2008 to accelerate transport improvements ahead of the Westfield development opening in late 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We always try wherever possible to avoid closing Tube stations because of the inconvenience"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU's Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We always try wherever possible to avoid closing Tube stations because of the inconvenience 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This will result in the ticket hall being demolished and rebuilt, as well as the installation of new escalators and modernisation of the station.</p>
<p>Westfield and LU&nbsp;have agreed a station closure so that escalator works can be accelerated and completed before the retail development opens. </p>
<p>The escalators at Shepherd's Bush (Central line) station are nearing the end of their working life, and were scheduled for replacement in the next few years - after the shopping centre has opened and traffic through the station has significantly increased.&nbsp;</p>
<p>It requires a station closure to replace them, due to the design of the station.</p>
<p>Richard Parry, LU's Director of Strategy and Service Development, said: "We always try wherever possible to avoid closing Tube stations because of the inconvenience to passengers.&nbsp; </p>
<h2>Benefits</h2>
<p>"But we have reluctantly agreed to close this station for eight months because it means the works can be accelerated and the escalator works undertaken at the same time, which in turn will result in benefits to passengers being delivered faster with less overall disruption.</p>
<p>"Major transport benefits will be delivered as part of the Westfield development and will enable the majority of visitors to the new centre to travel by public transport.&nbsp;</p>
<p>"This will see the construction of world-class Tube stations at Wood Lane on the Hammersmith &amp; City line and a vastly improved Shepherd's Bush station on the Central line."</p>
<p>Detailed travel advice for passengers will be issued in early 2008 prior to the closure taking effect. </p>
<h2>Modernisation</h2>
<p>During the closure, the station modernisation scheme - which provides a new digital CCTV system and passenger Help and information points - will be accelerated, and much of the work will be completed before the station reopens.</p>
<p>Major improvements will be delivered to the transport network as part of the Westfield development - Westfield is funding &pound;170m of transport improvements including the rebuilding of Shepherd's Bush (Central line) station, and the new Wood Lane station on the Hammersmith &amp; City line, which will open when the Westfield development opens in late 2008. </p>
<p>The existing Shepherd's Bush (Hammersmith &amp; City) station will be renamed Shepherd's Bush Market at the same time. </p>
<p>This will eliminate confusion with the nearby Shepherd's Bush (Central line) station.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube </li>
<li>Shepherd's Bush (Central line) station will close on 2 February 2008 and is scheduled to reopen in October 2008 </li>
<li>Transport improvements which have already been delivered as part of the new retail development include new sidings for the Central line and replacement of part of an existing viaduct on the Hammersmith &amp; City line </li>
<li>Shepherd's Bush (Central line) station is used by around 12 million passengers each year<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will result in the ticket hall being demolished and rebuilt, as well as the installation of new escalators and modernisation of the station.Westfield and LU&nbsp;have agreed a station closure so that escalator works can be accelerated and completed";}
        
        


 