


@{ViewBag.Title = "TfL consults on White City bus service proposals";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on White City bus service proposals</h1>
        <div class="content-page-press-release">
        03 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Residents, bus users and local groups in White City are being invited to have their say on a number of possible bus route extensions to serve the new White City development.
        
    </div>



 <div class="on-this-page">
<p>
<p>The&nbsp;Shepherd's Bush and White City area&nbsp;will benefit from significant investment in public transport.&nbsp; </p>
<p>A new bus station, and new London Overground&nbsp;and Underground stations are being built,&nbsp;with a new interchange next to Shepherd's Bush Central line station.&nbsp; <br>&nbsp;<br>London Buses proposes to extend eight bus routes and reroute two others in the local area to serve the new White City bus station, which is currently under construction on the east side of Wood Lane near the Hammersmith &amp; City line.&nbsp; <br>&nbsp;<br>Local residents, bus users and&nbsp;local groups&nbsp;have until 25 January 2008 to respond to the consultation by visiting the <a href="http://www.tfl.gov.uk/busrouteconsultation">TfL website</a>; using the reply card&nbsp;in&nbsp;the leaflet&nbsp;delivered to local households; by calling London Buses Customer Services on 0845 300 7000; or by emailing <a href="mailto:customerservices.buses&#64;tfl.gov.uk">customerservices.buses&#64;tfl.gov.uk</a></p>
<p>
<hr>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>London Buses&nbsp;is consulting on proposed changes to routes 31, 49, 95, 148, 207, 237, 260, 272, 607 and C1</li>
<li>Sixty&nbsp;per cent of visitors to the new Westfield development are expected to use public transport</li>
<li>There are two new routes proposed for Shepherd's Bush, there will be a separate consultation on these in early 2008</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The&nbsp;Shepherd's Bush and White City area&nbsp;will benefit from significant investment in public transport.&nbsp; A new bus station, and new London Overground&nbsp;and Underground stations are being built,&nbsp;with a new interchange next to";}
        
        


 