


@{ViewBag.Title = "Transport for London staff energy pledge saves more than half a million kilograms of CO2";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London staff energy pledge saves more than half a million kilograms of CO2</h1>
        <div class="content-page-press-release">
        10 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        During the last six months, a staff pledge to help cut energy use at Transport for London (TfL) has seen electricity use in its head offices fall by nine per cent compared to the previous year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These small changes can make a difference"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These small changes can make a difference
                            
                        </p>
                    </div>
                
            
            
            <p>That's a saving of 523,000 kilograms of CO2 - equivalent to driving a car around the earth 63 times.</p>
<p>The TfL Energy Pledge asked staff to make one simple change to their working lives to help reduce the amount of energy TfL uses. </p>
<p>Staff were invited to pick from a list of personal pledges, which included turning off computers and monitors every night, unplugging mobile phone chargers and printers, or only printing what is needed. </p>
<p>Launched on World Environment Day (5 June), more than 2,100 members of staff signed up to the pledge. </p>
<h2>Environmental champions</h2>
<p>Staff who signed up received a mug (made of recycled plastic) to remind them and their colleagues of their pledge, and an internal communications campaign has kept them up to date on the progress on energy savings over last six months.</p>
<p>Linked to this campaign, 150 members of TfL head office staff have signed up as Environmental Champions, acting as the focal point for other staff who want to reduce the environmental impact of their work. </p>
<p>There are already many environmental champions in TfL who have achieved great results, including purchasing recycled plastic office mugs and drinking glasses (rather than using disposable ones), motivating colleagues to turn off their computers at the end of the day and encouraging recycling at central collection points</p>
<p>Mayor of London Ken Livingstone said: "The London Climate Change Action Plan, which I launched in February this year, sets out London's target to reduce emissions by 60 per cent by 2025. </p>
<h2>Greener transport</h2>
<p>"This is a tough target, but the reality is that Londoners don't have to reduce their quality of life to tackle climate change - we do all have to change the way we live at work and in the home. </p>
<p>"Initiatives such as this one carried out by Transport for London staff are evidence of how these small changes can make a difference. </p>
<p>"Congratulations to all involved and I would encourage them to keep up the good work and continue to lead by example."</p>
<p>Helen Woolston, Environment and Climate Change Coordinator at TfL, said: "TfL is already working hard to help meet the Mayor of London's target of a 60 per cent reduction in energy use in the Capital by 2025. </p>
<h2>Success</h2>
<p>"We're investing in greener transport such as hybrid buses, a more energy efficient Underground, and the promotion of walking and cycling. </p>
<p>"The success of our Energy Pledge programme demonstrates that individuals can also make a significant contribution to cutting CO2 emissions, simply by making small changes to everyday behaviour."</p>
<p><br>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Staff case studies available on request </li>
<li>Approximately 21,000 people work at TfL, meaning that 10 per cent of TfL's entire workforce made an energy pledge during the past six months. Approximately 20 per cent of all head office based staff signed up to the Energy Pledge campaign </li>
<li>The Energy Pledge compliments the work already being done by London Underground's Station Energy Champions programme, which has been running since 2001. Energy Champions at LU stations have reduced energy consumption by 14 per cent, by encouraging colleagues to turn off unnecessary lighting and escalators during engineering hours </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "That's a saving of 523,000 kilograms of CO2 - equivalent to driving a car around the earth 63 times.The TfL Energy Pledge asked staff to make one simple change to their working lives to help reduce the amount of energy TfL uses. Staff were invited to pick";}
        
        


 