


@{ViewBag.Title = "Transport for London achieves &pound;100m savings on office space ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London achieves &pound;100m savings on office space </h1>
        <div class="content-page-press-release">
        05 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today announced efficiency savings on office accommodation of up to &pound;100m over the next 25 years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These deals are part of prudent planning for the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These deals are part of prudent planning for the future
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The savings are made possible by three high profile deals that will supply half of&nbsp; TfL's office accommodation requirements at extremely competitive rates. </p>
<p>Last week, TfL was announced as the anchor tenant of a significant regenerative development in Greenwich Peninsula.</p>
<p>The 20-year lease of 135,000 sq ft, with the option of a further 60,000 sq ft, provides top quality office accommodation at an excellent location and real value for money. </p>
<p>Last year, TfL announced that it would be leasing 400,000 sq ft of office space, approximately half at Palestra in Southwark and half at the Shard in London Bridge. </p>
<h2>Lower rates</h2>
<p>TfL has taken advantage of a tenant's market and secured a rate of &pound;35 sq ft pa at Palestra and &pound;38.50 sq ft pa at the Shard. </p>
<p>These rates are lower than current market levels for comparable office accommodation and will represent significant savings when we move into the developments in 2008 and 2012 respectively.</p>
<p>The new office accommodation will also play a major role in working towards targets for reducing carbon emissions from buildings in the Mayor's Climate Action Plan. </p>
<p>All three buildings feature localised decentralised energy schemes and energy and water efficiency measures with performance far beyond that required in the Building Regulations. </p>
<h2>Sustainability</h2>
<p>In the case of the Shard of Glass and Greenwich Peninsula, TfL worked with the commercial developers to push a tough sustainability agenda.</p>
<p>TfL was created in 2000 from 15 separate companies based in 50 buildings across central London. </p>
<p>TfL's property strategy aims to draw together accommodation into several large hubs that will improve efficiency and reduce costs.</p>
<p>TfL will move into Palestra in 2008, Greenwich Peninsula in 2009 and the Shard in 2012.&nbsp; </p>
<h2>Value for money</h2>
<p>Peter Hendy, Commissioner, Transport for London, said: "We have obtained top quality office accommodation in well connected locations and achieved excellent value for money. </p>
<p>"These deals are part of prudent planning for the future and are an important contribution to our wider sustainability agenda."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The savings are made possible by three high profile deals that will supply half of&nbsp; TfL's office accommodation requirements at extremely competitive rates. Last week, TfL was announced as the anchor tenant of a significant regenerative development in";}
        
        


 