


@{ViewBag.Title = "Transport for London's cycling tips for winter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's cycling tips for winter</h1>
        <div class="content-page-press-release">
        28 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Transport for London provides its top tips on taking to two wheels during the winter months.</p>
<h2>It's about seeing as well as being seen:</h2>
<p><strong>See where you're going</strong><br>You leave work in the dark in winter so it's important to have good lights on your bike; white at the front and red at the rear. A wide range of lights are available in bike shops so you can see where you're going.<br><strong>Be seen</strong><br>Cyclists need to make sure they are seen in the dark or in bad weather conditions. Wearing reflectors and high visibility clothing helps everyone to see you coming - including pedestrians!<br><strong>Look cool</strong><br>Cycle glasses help keep vision clear by avoiding bits and bugs getting into your eyes.&nbsp; They also help when cycling with low sunsets and can also look cool.</p>
<h2>It's not what you wear but how you wear it:</h2>
<p><strong>Don't get wet</strong><br>Investing in a good lightweight waterproof with breathable fibres is always worthwhile.&nbsp; It will keep you warm and dry from rain, sleet or snow.<br><strong>Keep your grip<br></strong>There's a wide range of gloves available, including ones made of breathable waterproof materials, padded palms, and non-slip brake and gear change fingers, so there's no excuse for chapped, dry hands!<br><strong>Cover your head</strong><br>The fact that you can lose up to 75 per cent of your body heat through your head alone may be a myth, but if you wear a thin ski hat or balaclava under your helmet you'll be sure to you keep your head and ears warm.</p>
<h2>It's better to be safe than sorry:</h2>
<p><strong>Pamper your bike</strong><br>Treat your bike to a thorough service at least twice a year and regularly check the tyres and brakes. Replace them if they're worn out.&nbsp; <br><strong>Be prepared<br></strong>Don't forget to carry a spare inner tube, pump and tyre levers just in case you have a puncture, and make sure you know how to use them! <br><strong>Smooth operator</strong><br>Regularly clean and oil your bike chain - it will make your bike run more smoothly. </p>
<p>For further information on maintaining your bike, how to find your closest bicycle shop, cycling safely, cycle training, riding to work or anything to do with cycling in London, visit <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London provides its top tips on taking to two wheels during the winter months.It's about seeing as well as being seen:See where you're goingYou leave work in the dark in winter so it's important to have good lights on your bike; white at the";}
        
        


 