


@{ViewBag.Title = "Transport for London wins Independent Living Award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London wins Independent Living Award</h1>
        <div class="content-page-press-release">
        14 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A national disabled rights organisation, Breakthrough UK, has presented Transport for London (TfL) with an Independent Living Award for its work to make transport accessible for all Londoners.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are impressed by the leadership and commitment Transport for London has shown
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Independent Living Awards, presented at the City of Manchester stadium, praised organisations that have shown good practice in making areas of everyday life such as transport, housing, information and employment more accessible to disabled people. </p>
<p>TfL&nbsp;was recognised for its commitment to providing accessible public transport in London, especially the introduction of low-floor, wheelchair accessible buses across the entire London fleet at the start of 2006. </p>
<p>This was a full ten years ahead of the legal requirements to have done so.&nbsp; </p>
<p>Ken Livingstone, the Mayor of London, said: "We are making a great effort to make London's transport system accessible to every Londoner. </p>
<p>"We have made great progress in making all of our buses and licensed taxis accessible. </p>
<h2>Investing</h2>
<p>"Now we are addressing the far more expensive and longer term job of opening up the Underground. </p>
<p>"I want to pay tribute to the work of disabled groups in campaigning for accessibility.</p>
<p>"Their work benefits millions of others - people with buggies, parents with young children, people with shopping, older people and all of the others who benefit from a safer and more accessible transport system."</p>
<p>Mike Weston, the Operations Director of London Buses, said: "We are delighted our efforts have been recognised with this award. </p>
<h2>Excellence</h2>
<p>"Transport for London has invested a great deal of money in improving accessibility on and around the transport network in London. </p>
<p>"We have the biggest wheelchair accessible bus network in the world, all 8,000 buses in our fleet are modern, low-fleet and wheelchair accessible."</p>
<p>Sir Richard Leese, Leader of Manchester City Council, who presented the Independent Living Award, said: "We are impressed by the leadership and commitment Transport for London has shown in making public transport accessible to disabled people."</p>
<p>Sir Bert Massie CBE of the Equality and Human Rights Commission said: "These awards recognise excellence in the policies and practices of organisations who not only talk of disabled people's rights, but who also put their words into action." </p>
<h2>Step-free access</h2>
<p>TfL's work to improve facilities for disabled people is continuing.</p>
<p>A system of audio and visual next stop announcements is being installed on buses in phases across the Capital and work is taking place to improve accessibility at all bus stops. </p>
<p>There are also plans for 25 per cent of London Underground (LU) stations to have step-free access by 2012. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The award was presented at the first Independent Living Awards marking 10 years of innovation and achievement for Breakthrough UK </li>
<li>The awards are sponsored by the Disability Rights Commission, The Office for Disability Issues and Manchester City Council </li>
<li>Breakthrough UK has worked for ten years to support disabled people into training and employment, to enable other organisations to become more inclusive and to influence decision makers across the country </li>
<li>iBus will make London's bus services better than ever for the 6.3 million passengers who use them every weekday. On-board 'next stop' visual displays and audio announcements will make bus travel much easier for everyone, including visually or hearing impaired passengers, or those with learning disabilities </li>
<li>London's bus drivers receive more training than anywhere else in the UK.&nbsp;Every driver has to pass a specially developed BTEC qualification within their first year of service </li>
<li>LU is investing more than ever before to make the Tube as accessible as possible as quickly as possible for all customers </li>
<li>All 252 LU-owned stations are due to be refurbished and modernised by 2011 and accessibility features will be added to each station </li>
<li>Dial-a-Ride is a multi-occupancy door-to-door service for disabled people who cannot use buses, trains and the Tube, and is available in all London boroughs </li>
<li>The Mayor of London recently announced that from 1 January 2008, Dial-a-Ride journeys will be free for all its members</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Independent Living Awards, presented at the City of Manchester stadium, praised organisations that have shown good practice in making areas of everyday life such as transport, housing, information and employment more accessible to disabled people.";}
        
        


 