


@{ViewBag.Title = "Travel information for the festive period ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel information for the festive period </h1>
        <div class="content-page-press-release">
        14 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the Mayor of London secure free travel for New Year's Eve revellers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If you're going home or going out on New Year's Eve, public transport is the best way to get about"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If you're going home or going out on New Year's Eve, public transport is the best way to get about
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>TfL has announced full details of public transport arrangements for the festive period.&nbsp; </p>
<p>On New Year's Eve London Underground, Docklands Light Railway and Croydon Tramlink services will run all night in addition to normal 24-hour bus routes.</p>
<p>The Mayor of London has also decided that travel will be free between 23.45 on New Year's Eve and 04.30 on New Year's Day. </p>
<p>There will be some changes to normal services so Londoners and visitors to the Capital are being advised to 'check before you travel'.&nbsp; </p>
<h2>Parties</h2>
<p>In addition to free TfL services, the Mayor is funding free travel on National Rail services between 1am and 5am in&nbsp;a number of&nbsp;areas where&nbsp;there are fewer Tube connections.</p>
<p>Mayor of London, Ken Livingstone, said: "London is one of the greatest places in the world to spend New Year's Eve, with parties going on throughout the city.</p>
<p>"Those arriving in central London early enough will be able to see our award-winning midnight fireworks display at the British Airways London Eye, which is also visible from other parts of the Capital and will be screened live on BBC One.</p>
<p>"Once again this year it will be easy for everyone to bring in the New Year with free public transport services through the night. </p>
<h2>Fireworks</h2>
<p>"This means those celebrating can enjoy themselves responsibly and then travel home safely."</p>
<p>People working or going out in central London are advised that&nbsp;there will be major road closures in the vicinity of the&nbsp;fireworks display along the Thames&nbsp;and that these will be&nbsp;put in place earlier than last year - from 6pm.</p>
<p>The Mayor added: "If you're going home or going out on New Year's Eve, public transport is the best way to get about.&nbsp; </p>
<p>"I advise people not to drive in due to the central London road closures and plan your journey in advance because there will be some improvement works taking place across the festive period at Victoria station and across town at Liverpool Street station." </p>
<h2>Essential work</h2>
<p>To prepare for the Victoria Station upgrade, which will increase the size of the station by around 50 per cent, work needs to be carried out to remove asbestos from above escalators in the Victoria line ticket hall. </p>
<p>This essential work will be carried out between Saturday 22 December to Sunday 6 January 2008, a period when the station has fewer passengers. </p>
<p>Victoria line trains will not stop at the station during this period and passengers will be able to make their journeys using London buses.</p>
<p>Liverpool Street station will be closed for 10 days over Christmas because of vital work to replace a railway bridge.&nbsp; </p>
<h2>Rebuilding</h2>
<p>The work is being carried out as part of a &pound;1.4bn investment that will see the huge improvements to London's rail network including the rebuilding and extension of the East London line as part of the new London Overground network. </p>
<p>The station will be closed from 23 December 2007 and will re-open at 4am on 2 January 2008, in time for people to get back to work after the Christmas break.&nbsp;&nbsp; </p>
<p>Passengers travelling to London will be able to access the London Underground by getting off at Stratford.</p>
<p>The Congestion Charge will be suspended from Tuesday 25 December to Tuesday 1 January inclusive.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has announced full details of public transport arrangements for the festive period.&nbsp; On New Year's Eve London Underground, Docklands Light Railway and Croydon Tramlink services will run all night in addition to normal 24-hour bus routes.The Mayor";}
        
        


 