


@{ViewBag.Title = "Tube breaks record for passenger numbers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube breaks record for passenger numbers</h1>
        <div class="content-page-press-release">
        27 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London revealed today that Friday 7 December 2007 was the busiest day on the Tube ever.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every day the London Underground carries more passengers than the entire national rail network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every day the London Underground carries more passengers than the entire national rail network
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The London Underground network carried well over four million passengers (estimated at 4.17 million passengers).&nbsp; </p>
<p>This exceeds the total on 8 December 2006 when Tube journeys achieved around four million journeys for the first time.&nbsp; </p>
<p>Saturday 1 December also broke a new record for weekend travel on the Tube.&nbsp; </p>
<p>Almost three million passengers used the Tube - most of them on their way to do their Christmas shopping.&nbsp; </p>
<p>On average the number of people travelling on the Tube is increasing by around seven per cent per year, with the forecast for the year close to 1.1 billion journeys.</p>
<p>These new records prove that London's economy remains strong and that the Tube is vital to its success. </p>
<h2>Renovating</h2>
<p>This also underlines the importance of the Tube's Upgrade Programme to provide the extra capacity needed to support London's growth in the future. </p>
<p>Mayor Ken Livingstone said: "The fact that the Tube is now carrying more passengers than ever before illustrates its crucial role in London's prosperity and the importance of sustaining investment to expand and renew the system. </p>
<p>"Renovating existing lines and building the giant new Crossrail line will underpins London's economy for decades to come. </p>
<p>"The significance of that is shown by one simple fact - every day the London Underground carries more passengers than the entire national rail network.</p>
<h2>Oldest Underground system</h2>
<p>"I want to take this opportunity to thank all of the staff who every day work hard to get the best out of the oldest Underground system in the world."</p>
<p>Richard Parry, Director of Strategy and Service Development for London Underground said: "We are now moving more people around the city than ever before.&nbsp; </p>
<p>"The New Year will bring new challenges and we will continue improving stations, trains and track as part of our &pound;10bn investment programme.&nbsp; </p>
<p>"This work must continue if we are to support London's growth.</p>
<h2>Overall increase </h2>
<p>"As our upgrade programme intensifies next year, we may need to partly close some lines and some stations from time to time.&nbsp; </p>
<p>"We are asking passengers to bear with us and to 'check before you travel' for any improvement works especially at weekends and over the festive period."</p>
<p>The rise in passengers travelling on a Saturday on the Tube is consistent with an overall increase in Tube travel in general.&nbsp; </p>
<p>Weekday travel is higher than weekend travel as the bulk of passengers are commuters.&nbsp; </p>
<p>Saturday 1 December 2007 saw an increase of around five and a half per cent when compared with Saturday 2 December last year.</p>
<p>
<hr>

            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The rise in passenger numbers across the Underground network takes into account the impact of the car free day on Saturday 1 December 2007.&nbsp; However, a number of other stations not within the West End VIP day zone experienced an increase in passengers </li>
<li>On average three million passenger journeys are made per day, rising to 3.4 million on weekdays.&nbsp; The Tube carried around four million passengers in one day for the first time in December 2006 </li>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>In 2006/2007 the Tube carried 1014 million passengers, in 2005/06 971 million passengers and in 2004/5 976 million passengers </li>
<li>In 2005/06, the busiest stations on the Tube network were&nbsp; (1) King's Cross St. Pancras - 71.50 million; (2) Victoria - 67.82 million; (3) Waterloo - 67.40 million; (4) Oxford Circus - 63.06 million; (5) Liverpool Street - 50.67 million, (6) London Bridge - 44.97 million; (7) Bank &amp; Monument - 34.30 million; (8) Paddington - 34.29 million; (9) Canary Wharf - 34.21 million (10) Piccadilly Circus - 33.76 million; (11) Tottenham Court Road - 30.80 million; (12) Bond Street - 29.57 million; (13) Leicester Square - 29.54 million; (14) Holborn - 25.07 million and (15) Green Park - 24.89 million </li>
<li>In 2003/04, the busiest stations on the Tube network were (1) King's Cross St. Pancras - 69.76 million; (2) Victoria - 66.24 million; (3) Waterloo - 64.52 million; (4) Oxford Circus - 58.75 million; (5) Liverpool Street - 48.00 million; (6) London Bridge - 40.10 million; (7) Piccadilly Circus - 34 million; (8) Bank &amp; Monument - 32.97 million; (9) Paddington - 32.45 million; (10) Leicester Square - 31.23 million; (11) Tottenham Court Road - 29.49 million; (12) Bond Street - 27.60 million; (13) Canary Wharf - 24.23 million; (14) South Kensington - 24.12 million and (15) Hammersmith (District and Piccadilly) - 24.06 million</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Underground network carried well over four million passengers (estimated at 4.17 million passengers).&nbsp; This exceeds the total on 8 December 2006 when Tube journeys achieved around four million journeys for the first time.&nbsp; Saturday 1";}
        
        


 