


@{ViewBag.Title = "Victoria Station Upgrade works mean Victoria line trains will not stop at Victoria Station over Christmas and the New Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Station Upgrade works mean Victoria line trains will not stop at Victoria Station over Christmas and the New Year</h1>
        <div class="content-page-press-release">
        10 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To prepare for the Victoria Station Upgrade, which will increase the size of the station by around 50 per cent, work needs to be carried out to remove asbestos from above escalators in the Victoria line ticket hall.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are offering replacement bus services, and are letting everyone know in good time"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Doyle</div>
            <div class="quotee-job-title">Victoria line Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are offering replacement bus services, and are letting everyone know in good time
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This essential work will be carried out between Saturday 22 December 2007 and Sunday 6 January 2008, when the station has fewer passengers. </p>
<p>Victoria line trains will not stop at the station during this period. </p>
<p>The asbestos has not been disturbed, and in this state is safe and is not a health risk to customers or staff. </p>
<p>The works to remove it will be conducted by a team of specialists, but due to the location of the works, Victoria line trains will not be stopping at the station.</p>
<p>London Underground (LU) regularly monitors for asbestos fibres and the removal works will also involve a rigorous regime of independent monitoring.&nbsp; </p>
<p>While work is being carried out to the Victoria line ticket office, ticket issuing facilities are not available from the Victoria line ticket hall.&nbsp;</p>
<h2>New lifts</h2>
<p>The existing ticketing facilities in the District and Circle line ticket hall are still available and a temporary ticket office, offering the full range of Underground tickets is on the forecourt of the National Rail station and will be there for about a year.</p>
<p>Customers will still be able to use the District and Circle line services to and from Victoria Underground station, and Victoria National Rail station services are not affected by this work. </p>
<p>A rail replacement shuttle bus service will run between Victoria and Pimlico stations so that passengers can get on the Victoria line to travel north or south.&nbsp; </p>
<p>The Victoria Station Upgrade will include a new ticket hall, seven new lifts and nine new escalators to ease congestion and provide step-free access from street level to Victoria line platforms and interchange with Circle and District line platforms. </p>
<h2>New escalators</h2>
<p>John Doyle, Victoria line Manager, said: "In order for the upgrade of Victoria station to progress smoothly, we need to undertake essential work to remove asbestos from above several escalators.</p>
<p>"Unfortunately, this work can only be carried out when access to the Victoria line at the station is closed. </p>
<p>"Closing&nbsp; part of the station has therefore been scheduled for over the Christmas and New Year period, when fewer passengers will be affected. </p>
<p>"We are offering replacement bus services, and are letting everyone know in good time. </p>
<h2>Step-free access</h2>
<p>"This work has been carefully planned and is conducted by specialists under strictly controlled conditions to ensure there is no safety risk to our staff and customers."</p>
<p>This work is part of Transport for London's &pound;10bn Investment Programme to improve and extend the Capital's transport network. </p>
<p>The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; </p>
<p>
<hr>
<br><strong>&nbsp;<br>Notes to editors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
<blockquote>
<li>LU advises passengers to check before travelling via the following options: 
<ul type="circle">
<li><a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> </li>
<li>The London Travel Info 24hrs telephone helpline: 020 7222 1234 </li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164 </li>
<li>Information on posters, leaflets and Good Service boards at Tube stations<br></li></ul></li></blockquote>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This essential work will be carried out between Saturday 22 December 2007 and Sunday 6 January 2008, when the station has fewer passengers. Victoria line trains will not stop at the station during this period. The asbestos has not been disturbed, and in";}
        
        


 