


@{ViewBag.Title = "Walk off the seasonal overindulgences";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walk off the seasonal overindulgences</h1>
        <div class="content-page-press-release">
        21 December 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Overeating and drinking is as much a feature of the festive period as presents, trees and parties.</p>
<p>To help people recover and to fight off the unwanted pounds, Transport for London's (TfL's) website links to a selection of recommended walking routes with maps, directions and distances.</p>
<p><strong>Jubilee Walkway</strong></p>
<p>The Jubilee Walkway is around 23km long and nearly every household name in London's tourist circuit is included.</p>
<p>The route can easily be followed with directional discs set on pavements and although it can be walked in a day, many chose to divide it into two or three walks.</p>
<p>This route is spectacular at night when the Capital's sights are lit up.</p>
<p>Leicester Square to the Tower of London, via the South Bank, is an ideal section of the walk to clear a hungover head.</p>
<p>It is also great to get the Christmassy feel, especially on a dark December afternoon.</p>
<p><strong>Thames Path</strong></p>
<p>The Thames Path is considered one of London's top walking gems.</p>
<p>It covers a fascinating 107km and follows both bank sides of the river.&nbsp; </p>
<p>The route goes beyond the Greater London boundary, all the way to the Cotswold Hills.</p>
<p>It can easily be split into different walks as there are good public transport connections throughout.&nbsp; </p>
<p>An ideal Christmas Day walk, in preparation for a large lunch, is section one of the Thames Path; from Hampton Court Palace all the way to trendy Chelsea Harbour.</p>
<p>The Royal Palaces, Henrietta Howard's love-nest at Marble Hill House or the Duke of Northumberland's Syon Park, are worth a visit to get you into a carol singing mood.</p>
<p><strong>Capital Ring</strong></p>
<p>The Capital Ring is a 125km walk through parks and open spaces - ideal to burn off the calories after eating too much.</p>
<p>Section 11 of the walk, from Hendon to Highgate, is a pleasant Boxing Day stroll to help digest the Christmas lunch from the day before.&nbsp;</p>
<p>This surprisingly green route runs along a former railway line among trees and shrubs.</p>
<p>It continues onto the New River; an artificial watercourse that has brought fresh water to London since the 17th Century and ends at Abney Park Cemetery, which is now an eerie nature reserve complete with leaning tombstones.</p>
<p><br>The Jubilee Walk, Capital Ring and Thames Path are three of the Mayor of London's six strategic walks, supported by TfL.</p>
<p>The other three include Lea Valley Walk, the London Loop and Green Chain.</p>
<p>For further details and maps of the walks, please visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a> </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Journey Planner (<a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>) now automatically provides a walking option for any journey that is under 30 minutes walk in length</li>
<li>The Mayor and TfL's vision is to make London one of the most walking-friendly cities in the world by 2015</li>
<li>During the next three years, &pound;126 million will be invested in improving conditions for pedestrians in London. TfL will invest this money in both local borough schemes and on London's major roads, for infrastructure improvements such as new pedestrian crossings, lowered kerbs and improved signage, and on local walking maps, promotion and education</li>
<li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the system</li>
<li>Visitors to the Bond Street area are now able to find their way around with ease, thanks to a new system of pedestrian information called Legible London.&nbsp;The scheme is designed to provide better information for people who want to explore the Capital on foot. The Bond Street trial, which is the prototype for a future London-wide pedestrian information system, consists of 19 on-street signs displaying all the information pedestrians could require when walking in the area. There will also be improved mapping in bus shelters and new information displays in Bond Street Tube station, pointing walkers in the direction of the area's main attractions<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Overeating and drinking is as much a feature of the festive period as presents, trees and parties.To help people recover and to fight off the unwanted pounds, Transport for London's (TfL's) website links to a selection of recommended walking routes with";}
        
        


 