


@{ViewBag.Title = "Bus diversions as access roads to Queen Elizabeth Hospital are improved";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions as access roads to Queen Elizabeth Hospital are improved</h1>
        <div class="content-page-press-release">
        13 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses serving the Queen Elizabeth Hospital in Woolwich will be diverted for 12 weeks beginning 20 October 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have made every effort to ensure that buses continue to serve the hospital where possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tony Akers</div>
            <div class="quotee-job-title">TfL Regional Operations Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have made every effort to ensure that buses continue to serve the hospital where possible
                            
                        </p>
                    </div>
                
            
            
            <p>This is due to road improvement works on Stadium Road and Baker Road.</p>
<p>The roadworks will be staggered, taking place first on Stadium Road then on Baker Road, to allow routes 244, 291 and 469 to continue serving the hospital.&nbsp; </p>
<p>These routes will be diverted via Academy Road when necessary.</p>
<p>Routes 161, 178, 386 and 486 will not serve the hospital during this period, but will be diverted via Academy Road.</p>
<p>Passengers that would normally travel to the hospital using these routes are advised to use routes 244, 291 or 469 instead.&nbsp; </p>
<p>The diverted routes will serve all of the bus stops along the diversion, making it easier for passengers to change buses.</p>
<p>Tony Akers, TfL Regional Operations Manager, said: 'We have made every effort to ensure that buses continue to serve the hospital where possible, to minimise disruption to passengers.&nbsp; </p>
<p>'The works are necessary and will bring benefits for passengers, making Stadium Road and Baker Road more suitable for bus use.'</p>
<p>Passengers can obtain further information on the diversions by contacting London Buses Customer Services on 0845 300 7000.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>&nbsp;The works will be divided into two stages:</li>
<ul type="circle">
<li>During stage one, Stadium Road will be closed. Route 244 will serve the hospital as normal, routes 291 and 469 will serve the hospital via Academy Road and Baker Road</li>
<li>During stage two, Baker Road will be closed.&nbsp; Routes 291 and 469 will serve the hospital as normal, route 244 will serve the hospital via Academy Road and Stadium Road</li></ul>
<li>Routes 161, 178, 386 and 486 will not serve the hospital at all during the works and passengers will need to change to routes 244, 291 or 469 to access the hospital</li>
<li>The works are scheduled to be completed in January 2009</li>
<li>London Buses Customer Services can be contacted by:</li>
<ul type="circle">
<li>telephone on 0845 300 7000</li>
<li>email on <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a></li>
<li>post (London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ)</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is due to road improvement works on Stadium Road and Baker Road.The roadworks will be staggered, taking place first on Stadium Road then on Baker Road, to allow routes 244, 291 and 469 to continue serving the hospital.&nbsp; These routes will be";}
        
        


 