


@{ViewBag.Title = "Children's Magical Taxi Tour sets off from London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Children's Magical Taxi Tour sets off from London</h1>
        <div class="content-page-press-release">
        15 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Friday 17 October 2008 a convoy of more than 100 licensed London taxis will take 200 sick and terminally ill children on a three-day trip of a lifetime to Disneyland Paris.
        
    </div>



 <div class="on-this-page">
<p>The fifteenth Children's Magical Taxi Tour is an annual event organised by the Worshipful Company of Hackney Carriage Drivers.</p>
<p>On the morning of the big day, taxi drivers will collect the children and their carers from their home or hospital and take them to Canary Wharf in time for a big breakfast send-off.</p>
<p>The Lord Mayor of the City of London, Alderman David Lewis, will cut a red ribbon in East Winter Gardens to mark the start of the trip.</p>
<p>The convoy of iconic London taxis will set off at about 8:30.</p>
<p>The Mayor of London, Boris Johnson, said: 'Yet again I find myself as proud as punch of the Capital's cabbies.</p>
<p>'Sending this armada of cabs and their precious cargo all the way to Paris and the Magic Kingdom is a staggering gesture of kindness.</p>
<h2>Convoy of cabs</h2>
<p>'Their story cannot fail to warm the hearts of everyone that hears it.'</p>
<p>The Master of The Worshipful Company of Hackney Carriage Drivers, Andrew Overton, said: 'Throughout the year there have been fund raising events to help finance the trip.</p>
<p>'Every driver has raised around &pound;1,000 in sponsorship to cover the cost of hotels, fuel, food, and admission charges. </p>
<p>'Every aspect of the trip is organised by unpaid volunteers.</p>
<p>'The taxi drivers are also giving up their time and use of their vehicles so that the children will be able to experience a once in a lifetime opportunity.'</p>
<p>Transport for London's Public Carriage Office (PCO) has agreed to provide facilities for the taxis to be inspected on the day before they set off (16 October) to ensure they are mechanically ready for the long drive.</p>
<h2>First time abroard</h2>
<p>All the vehicles will be liveried with advertising and sponsors' details. </p>
<p>The PCO's Director of Taxi and Private Hire, Ed Thompson, said: 'We are delighted to support this great event which will hopefully bring a lot of joy to over 200 ill children.</p>
<p>'We have sponsored two taxis with PCO staff driving the children, their families and carers all the way to Paris.</p>
<p>'For some of these children it will have been their first time in a cab and their first time to go abroad.'</p>
<p>The convoy, which is expected to reach three miles long, will include Metropolitan Police escorts, London Ambulance NHS Trust vehicles and AA breakdown trucks.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The PCO is responsible for regulating London's taxi and private hire services 
<li>To date, 1,500 taxis have taken almost 3,000 children to Disneyland </li>
<li>Some of the drivers have been coming every year since 1994, that's 9,000 unpaid miles of driving </li>
<li>For more information about the Magical Taxi Tour please see <a class="external-site" title=" (Opens in new window)" href="http://www.magicaltaxitour.com/" jquery1224067831137="6">http://www.magicaltaxitour.com/</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The fifteenth Children's Magical Taxi Tour is an annual event organised by the Worshipful Company of Hackney Carriage Drivers.On the morning of the big day, taxi drivers will collect the children and their carers from their home or hospital and take them";}
        
        


 