


@{ViewBag.Title = "Delay to Dagenham Dock inquiry";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Delay to Dagenham Dock inquiry</h1>
        <div class="content-page-press-release">
        08 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Docklands Light Railway (DLR) has asked the Department for Transport (DfT) to delay the start of the Public Inquiry into the proposed extension of its network to Dagenham Dock.
        
    </div>



 <div class="on-this-page">
<p>DLR has asked for the delay - and the DfT has agreed - because it needs time to clarify the situation with the Government in relation to funding for the extension.</p>
<p>The Director of the DLR, Jonathan Fox, said: 'This means a slight delay to proceedings but it will leave us in a better position to clarify the funding of the project.'</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Under the Transport and Works Act 1992, public inquiries are held into major public transport projects. The inquiries are held by the DfT
<li>The Inquiry into the proposed Dagenham Dock Extension was due to start on 4 November 2008 and DLR applied to the DfT for this delay on Tuesday 7 October</li>
<li>As part of its evidence to the Inquiry, the DLR must put forward its funding proposals to build the extension and its evidence must be as accurate as possible</li>
<li>The proposed Dagenham Dock Extension route runs from Gallions Reach on the DLR Canning Town to Beckton route. It is approximately 6km long and entails building five new stations</li>
<li>It is estimated the extension will cost approx &pound;497m at current prices. Feasibility and development costs so far are approximately &pound;5m<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "DLR has asked for the delay - and the DfT has agreed - because it needs time to clarify the situation with the Government in relation to funding for the extension.The Director of the DLR, Jonathan Fox, said: 'This means a slight delay to proceedings but";}
        
        


 