


@{ViewBag.Title = "Mayor fulfils pledge to let motorcycles in bus lanes ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor fulfils pledge to let motorcycles in bus lanes </h1>
        <div class="content-page-press-release">
        26 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners know that I am determined to make it easier for them to get from A to B in our great city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners know that I am determined to make it easier for them to get from A to B in our great city
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has delivered another key pledge of his election manifesto by announcing that motorcycles will be allowed to use the majority of bus lanes on the Capital's red routes from 5 January next year.</p>
<p>Motorcyclists will be able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months. </p>
<p>A trial of the changes using experimental traffic orders is the quickest way of implementing this type of measure and if the Mayor sees the positive effects he expects then the move will be made permanent. </p>
<h2>Bus lanes</h2>
<p>The Mayor of London, Boris Johnson, said: 'Londoners know that I am determined to make it easier for them to get from A to B in our great city. </p>
<p>'And I have long been staggered that while motorcyclists can use bus lanes in many other cities and some of our boroughs they were not allowed to use the Transport for London&nbsp;red routes that crisscross the Capital. </p>
<p>'One of the ways we can ease congestion is by encouraging more people to get on their bike, whether pedal or powered, and I believe they should be able to share our bus lanes successfully and safely. </p>
<p>'At the end of the trial period I will listen carefully to the views of all our road users and then make a decision about whether this should be a permanent arrangement.' </p>
<h2>Safety</h2>
<p>The change will only apply to Transport for London (TfL) bus lanes that operate with the flow of traffic, and motorcyclists are advised to familiarise themselves with the bus lanes open to them as well as checking the signs before entering any bus lanes. </p>
<p>There is more information about the bus lanes affected and how to make representations about the scheme at <a href="http://www.tfl.gov.uk/motorcyclesinbuslanes">www.tfl.gov.uk/motorcyclesinbuslanes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>David Brown, Transport for London's Managing Director of Surface Transport, said: 'The success of this trial will be gauged by measures including the safety of road users. </p>
<p>'We will take formal representations about the trial during its first six months of operation and carefully monitor any impacts this change has on other road users over the year and a half trial.'</p>
<p>Any unauthorised entry to a bus lane could result in a Penalty Charge Notice of &pound;120 from TfL or other local authority. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>In the context of this scheme, motorcycles refer to motorcycles, mopeds, scooters and tricycles (motorcycles with three wheels). Motorcycles with sidecars will not be allowed in the affected red route bus lanes </li>
<li>Red routes are the roads in London that are owned and maintained by TfL. Five per cent of the roads in London are red routes, but they carry about a third (approximately 33 per cent) of the city's traffic. These are the key routes or major arterial roads in London </li>
<li>Red routes are easily identified because they have red instead of yellow lines (yellow lines are used on borough roads). Red routes are also known as the Transport for London Road Network (TLRN) </li>
<li>The red routes are owned and maintained by TfL. The other 95 per cent of the roads in London are owned and maintained by the 33 boroughs, each of which decides about the rules on their roads and carries out the respective traffic enforcement </li>
<li>TfL will implement an experimental traffic order on the TLRN. This traffic order allows traffic control schemes to be implemented temporarily. Schemes are implemented by the local traffic authority (TfL in this case) and must remain in place for a minimum of six months and a maximum of 18 months. They are effective under Section 9 of the Road Traffic Regulation Act 1984 </li>
<li>The majority of bus lanes on roads operated by the London boroughs will remain inaccessible to motorcycles</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has delivered another key pledge of his election manifesto by announcing that motorcycles will be allowed to use the majority of bus lanes on the Capital's red routes from 5 January next year.Motorcyclists will be able";}
        
        


 