


@{ViewBag.Title = "MBE for Tube Station Manager";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>MBE for Tube Station Manager</h1>
        <div class="content-page-press-release">
        16 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Embankment Group Station Manager to receive MBE today for services to public transport.
        
    </div>



 <div class="on-this-page">
<p>David Hirst, Group Station Manager for the Tube's Embankment station group will today receive his MBE from HM The Queen in recognition of the 40 years service he has given to public transport in the Capital.</p>
<p>David began his career with London Underground (LU)&nbsp;in 1967 working as a station assistant before becoming a Tube driver and is now responsible for the operation of Blackfriars, Embankment, Mansion House, St. James's Park and Temple stations. </p>
<p>One of the key responsibilities for David and his team on the Embankment Group each year is managing the crowds who use the Tube to access New Year's Eve celebrations in central London.</p>
<h2>Years of service</h2>
<p>David enjoys New Year's Eve so much that last year he achieved the personal accolade of working on the Tube every New Year's Eve since 1987.</p>
<p>Throughout his career with LU, David has been a strong advocate for equal rights and last year was recognised by LU with an employee platinum award for his contribution to equality and inclusion in the workplace.</p>
<p>Commenting on his MBE, David said: 'I've thoroughly enjoyed my career with London Underground and every day brings new challenges.</p>
<p>'The Embankment group of stations includes some of the busiest Tube stations in central London and it is a great privilege to receive this honour on behalf of the whole team who work extremely hard every day to provide the best possible service to our passengers.</p>
<h2>Meeting the Queen</h2>
<p>'The thought of going to Buckingham Palace to receive the MBE from The Queen is a bit daunting but one that myself and my partner of over 32 years are really looking forward to.'</p>
<p>In addition to his hard work in transport, David has worked tirelessly with community and voluntary groups over the past 40 years including setting up the first gay helpline in Wimbledon and a Tenants and Residents Association in Lambeth.</p>
<p>He has also been actively involved with the Albert Kennedy Trust charity which supports young gay people who have become homeless because of their sexuality.</p>
<p>David and his partner have fostered a number of young gay people through their involvement with the Albert Kennedy Trust.</p>
<h2>Mayrol congratulations</h2>
<p>Mayor of London, Boris Johnson, said: 'David's achievements both inside and outside of work should be highly commended, and I would like to personally congratulate him on receiving his MBE. His award demonstrates the extraordinarily high calibre of people who dedicate their working lives to keeping London's transport system working.'</p>
<p>LU Managing Director Tim O'Toole said: 'This award is very well deserved and is recognition of David's many years of hard work, commitment and service to all our customers but also for his contribution towards equality in the workplace.</p>
<p>'On behalf of London Underground I would like to extend my congratulations to David and wish him an enjoyable day at the Palace.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>David Hirst (60) lives in Lambeth, south London 
<li>At the beginning of 2008, Britain's leading gay equalities organisation, Stonewall, rated Transport for London sixth in the Top 100 employers for lesbian, gay and bisexual staff in the country in their 2008 Workplace Equality Index </li>
<li>The annual Stonewall Workplace Equality Index is the definitive national benchmark of Britain's top employers of lesbian, gay and bisexual staff. It ranks the Top 100 employers according to criteria including implementation of effective equality policies and how lesbian and gay staff, customers and service users are engaged with<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "David Hirst, Group Station Manager for the Tube's Embankment station group will today receive his MBE from HM The Queen in recognition of the 40 years service he has given to public transport in the Capital.David began his career with London Underground";}
        
        


 