


@{ViewBag.Title = "Motorists advised to avoid A4 Cromwell Road eastbound due to gas mains renewal works by National Grid";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Motorists advised to avoid A4 Cromwell Road eastbound due to gas mains renewal works by National Grid</h1>
        <div class="content-page-press-release">
        17 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising motorists to avoid the A4 Cromwell Road eastbound, from 19.00pm on Monday 20 October until Wednesday 29 October, due to National Grid undertaking gas main replacement works.
        
    </div>



 <div class="on-this-page">
<p>The works will require the closure of Cromwell Road eastbound between Earls Court Road and Collingham Road.</p>
<p>Eastbound traffic, excluding Heavy Goods Vehicles (HGVs) will be diverted via Earls Court Road, Old Brompton Road, Bolton Gardens, Collingham Gardens and Collingham Road.</p>
<p>HGVs will be diverted via Earls Court Road, Old Brompton Road and Thurloe Place.</p>
<p>The westbound carriageway will remain open as normal.</p>
<p>Advance information signs have been placed in the area and drivers are advised to find alternative routes to avoid using the A4 Cromwell Road eastbound wherever possible.</p>
<p>This is the final stage of National Grid's gas main replacement works on the Cromwell Road, earlier stages having been undertaken in conjunction with emergency repairs to a burst water main, reducing the duration of the originally planned works and associated road closure by&nbsp;eight weeks.</p>
<p>Other utility companies will be taking advantage of the closure to undertake works to their services, as will TfL to resurface this stretch of road, minimising the need for future closures and the potential for further disruption to road users.</p>
<p>For more information about how the road works may affect your travel, call the TfL travel line on 020 7222 1234 or&nbsp;see our&nbsp;<a title="Traffic Alerts" href="http://trafficalerts.tfl.gov.uk/">Traffic news</a>.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works will require the closure of Cromwell Road eastbound between Earls Court Road and Collingham Road.Eastbound traffic, excluding Heavy Goods Vehicles (HGVs) will be diverted via Earls Court Road, Old Brompton Road, Bolton Gardens, Collingham";}
        
        


 