


@{ViewBag.Title = "New work of art for Tube map cover by Pae White";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New work of art for Tube map cover by Pae White</h1>
        <div class="content-page-press-release">
        27 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube customers can now pick up the latest Pocket Tube map cover from stations. The new artwork '...fragment of a Magic Carpet, circa 1213' is now on the front of millions of Pocket Tube maps.
        
    </div>



 <div class="on-this-page">
<p>Artist Pae White's new design was commissioned by Art on the Underground, London Underground's award-winning art programme.</p> <p>White will also make the next work for the flagship exhibition space at Gloucester Road station.</p> <p>'...fragment of a Magic Carpet, circa 1213' takes the form of a section of a Persian rug, woven from the colours of the Tube map.</p> <p>White is the first artist to both design a Tube map cover and to make work for Gloucester Road.</p> <h2>Art to fit in your pocket</h2> <p>Her Tube map cover design uses the flying carpet motif as a suggestion of magical transport.</p> <p>White says: 'The work plays on the idea of networks, storytelling and mythology, weaving the colours of the different Underground lines from Harry Beck's iconic Tube map together as a rug.</p> <p>'Tapestry is considered to be one of the highest forms of art in the Middle East and by taking this form, the work is a small tribute to cultural integration.&nbsp; </p> <p>'I felt that presenting it as a fragment acts as proof of the 'real thing', even though the carpet itself is mythological.</p> <h2>Joining a world-class portfolio</h2> <p>'I'm interested in the relationship between an antique, imaginary object and the digital representation of it.'</p> <p>White's work is the latest in a long series of commissions by Art on the Underground for the Pocket Tube Map cover.</p> <p>These have included works by some of the most exciting artists making work today, including Jeremy Deller, David Shrigley, Cornelia Parker and Gary Hume.</p> <p>Each artist responds to the challenge of incorporating the familiar colours and lines of the iconic Underground map into the work.</p> <p><strong> <hr> Notes to editors:  <ul> <li></li></ul></strong>The Pocket Tube Map covers form the basis of a permanent collection of unique works by world class artists and, as such, are becoming collectors' items as the portfolio grows. Available from stations across the network, the map has one of the largest print runs for any organisation in Europe, with over 5 million printed per design and almost 15 million per year  <li>Pae White is based in LA, and has exhibited extensively in the UK and internationally, most recently as part of the first Folkstone Triennale. She is represented by Greengrassi in London, China Art Objects Galleries in LA and Francesca Kaufmann in Milan.&nbsp; White has also made a work for the Art on the Underground exhibition 100 Years, 100 Artists, 100 Works of Art in celebration of one hundred years of the Tube logo - the Roundel.&nbsp; A unique print of this work will be for sale, along with works from 99 other artists, as part of an online auction from 19 until 29 October.&nbsp;Visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> for more details  </li><li>Pae White will also make the next art work to transform the disused platform space at Gloucester Road.&nbsp;More information about the work will be available in December 2008  </li><li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe  </li><li>Art on the Underground recently won the award for Best Corporate Art Programme at the 2008 Art and Work Awards. It was recognised for the high calibre of the artists it has worked with since 2000 and its vision and ambition in the breadth and scope of the programme  </li><li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a>  </li><li>London Underground is undertaking a major programme of renewal as part of Transport for London's &pound;39bn Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a>  </li><li>An image of Pae White's new artwork '...fragment of a Magic Carpet, circa 1213' is available on request</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Artist Pae White's new design was commissioned by Art on the Underground, London Underground's award-winning art programme. White will also make the next work for the flagship exhibition space at Gloucester Road station. '...fragment of a Magic Carpet,";}
        
        


 