


@{ViewBag.Title = "New Wood Lane Underground station opens  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Wood Lane Underground station opens  </h1>
        <div class="content-page-press-release">
        14 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        West London has a brand new station as Wood Lane station has opened on the Hammersmith & City line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm certain that west Londoners and visitors alike are going to be impressed by the new facilities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm certain that west Londoners and visitors alike are going to be impressed by the new facilities
                            
                        </p>
                    </div>
                
            
            
            <p>Wood Lane in White City will provide a new link for the local community and will be one of the stations providing access to the new Westfield London retail and leisure centre, just 200 metres away. </p> <p>It is part of the &pound;200m transport upgrade which is financed by the developer Westfield in partnership with Transport for London (TfL). <br>&nbsp;<br>The new step-free access station means local residents and businesses will have easy connections to Hammersmith, King's Cross St. Pancras International, the City and east London. <br>&nbsp;<br>The station combines old and new with old viaduct arches incorporated into the modern stainless steel and glass structure to create a striking and spacious ticket hall. </p> <h2>Better connections</h2> <p>The station was designed by Ian Ritchie Architects, who also designed Bermondsey Tube station. <br>&nbsp;<br>Boris Johnson, Mayor of London, said: 'This new station is part of a huge package that will radically improve the transport links for people in West London, who have been calling for better connections for many years.&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>'I'm certain that west Londoners and visitors alike are going to be impressed by the new facilities, and will find that the new station - the first to be built on an existing line for over 70 years - will become an invaluable addition to the network.'<br>&nbsp;<br>The landmark station boasts innovations such as an intelligent zonal public address system and energy efficient lighting that reacts to where people are on the platform or particular parts of the station. </p> <h2>World-class transport</h2> <p>The system makes announcements louder at busy times, while the lights go into energy-saving mode when no-one is around.&nbsp; <br>&nbsp;<br>Richard Parry, London Underground's Strategy and Service Development Director, said: 'The opening of another world-class transport link in the borough makes it one of the best connected in London, which is great news for local people and businesses.&nbsp;<br>&nbsp;<br>'This is a stunning new station it is spacious enough to cope with large capacity crowds especially with football matches at Queens Park Rangers Football Club and the large numbers of people expected to use the new shopping centre.'<br></p> <p> <hr> <br><strong>Notes to editors </strong> <p> <ul> <li>London Underground (LU) is undertaking a major programme of renewal as part of TfL's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and DLR passengers to <a href="http://www.tfl.gov.uk/livetravelnews" lid="check before they travel" lpos="">check before&nbsp;they travel </a>at weekends, allowing extra journey time where necessary  </li><li>Wood Lane is the first new station to be built on an existing line (not on a new line or extension) for more than 70 years. (The last one was Elm Park Tube station on the District line in 1935)  </li><li>It brings the number of stations on the Hammersmith &amp; City line to 29  </li><li>Nearly 46 million people travel each year on the Hammersmith &amp; City line with 149,405 travelling on weekdays  </li><li>It is predicted that as many as 6,665 people will use the new Wood Lane station between noon and 3pm on Saturdays, once the nearby Westfield London shopping centre opens</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wood Lane in White City will provide a new link for the local community and will be one of the stations providing access to the new Westfield London retail and leisure centre, just 200 metres away.It is part of the &pound;200m transport upgrade which is";}
        
        


 