


@{ViewBag.Title = "Operators accredited for helping to shape the future of freight in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operators accredited for helping to shape the future of freight in London</h1>
        <div class="content-page-press-release">
        09 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first members of TfL's Freight Operator Recognition Scheme (FORS) recognised with bronze status.
        
    </div>



 <div class="on-this-page">
<p>London's leading freight operators gathered together on Tuesday 7 October to celebrate being the first recipients of bronze accreditation in TfL Freight Operator Recognition Scheme.</p>
<p>The Freight Operator Recognition Scheme, or FORS, is a unique membership scheme set up to establish industry benchmarks and acknowledge operational efficiency within the freight industry.</p>
<p>Through encouraging and recognising the good working practices of individual operators, the scheme aims to improve all areas of freight distribution in London, including safety, and to reduce CO2 emissions, congestion, collisions and operator costs.</p>
<p>Twenty-three&nbsp;freight operators, working in and around London, received the bronze accreditation and 17 of them collected their certificates from David Brown, TfL's Managing Director of Surface Transport.</p>
<h2>Dedication to improvement</h2>
<p>They were all recognised for demonstrating excellence and dedication to improving their business operations, leading the way for other operators to become involved and help shape the future of freight in London.</p>
<p>Membership of FORS is tier-based and as operators demonstrate further improvements, their accreditation will be upgraded to silver and gold status.&nbsp; </p>
<p>On awarding the accreditation, David Brown, Managing Director of Surface Transport at TfL, said: 'It's fantastic to be able to recognise the outstanding achievements of this first group of FORS bronze members.</p>
<h2>Raising industry standards</h2>
<p>'The scheme is really moving on now and is not only helping to raise industry standards for freight in London, but is highlighting the great work that these operators are doing to improve their own business operations.'<br>&nbsp;<br>There are currently around 60 operators registered to FORS, 23 of which are now bronze members.</p>
<p>The remainder are in the process of being assessed and accredited.</p>
<p>More than 70 people were at the event, held at the London Chamber of Commerce, including FORS operators, suppliers, partners and representatives from&nbsp;TfL and the Greater London Authority.</p>
<p><strong>
<hr>
Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The Freight Operators Recognition Scheme (FORS) is one of the four elements of the London Freight Plan, which was published in January 2008 and is available at <a href="http://www.tfl.gov.uk/freight">tfl.gov.uk/freight </a>
<li>The FORS partners include: Department for Environment, Food and Rural Affairs; Freight Transport Association; Health and Safety Executive; Metropolitan Police Service Commercial Vehicle Education Unit; Road Haulage Association, Skills for Logistics and Chartered Institute of Logistics and Transport (UK) </li>
<li>The 17 operators who received their bronze accreditation last night were: 
<ul>
<li>Bedfords </li>
<li>Bywaters </li>
<li>Carlsberg UK </li>
<li>Castle Cement </li>
<li>CitySprint </li>
<li>DHL Express </li>
<li>Iron Mountain </li>
<li>John Lewis </li>
<li>London Borough of Bromley </li>
<li>Martek </li>
<li>Moja Couriers </li>
<li>PHS Datashred </li>
<li>Pickfords </li>
<li>Sunlight Textile Services </li>
<li>Trad Scaffolding </li>
<li>Tradeteam </li>
<li>Tubelines</li></ul></li>
<li>Photos of the event are available on request<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London's leading freight operators gathered together on Tuesday 7 October to celebrate being the first recipients of bronze accreditation in TfL Freight Operator Recognition Scheme.The Freight Operator Recognition Scheme, or FORS, is a unique membership";}
        
        


 