


@{ViewBag.Title = "Oxford Street bus diversions to facilitate Crossrail preparatory works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oxford Street bus diversions to facilitate Crossrail preparatory works</h1>
        <div class="content-page-press-release">
        09 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works will be taking place in Bond Street, Paddington and Tottenham Court Road areas from October 2008 to January 2009.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL)&nbsp;is advising that further enabling works for Crossrail will be commencing in the Bond Street, Paddington and Tottenham Court Road areas from 13 October 2008 until early 2009 and, dependent on location, these may have some impact on traffic flow and London bus services.</p> <p>Small trenches, approximately 1.5 metres deep and one metre wide need to be dug at various sites over the next three months to enable Crossrail to identify whether below ground services - pipes, cables and so on - match with information provided by utility companies and other service providers. </p> <p>This is essential to enable Crossrail's main construction works to proceed safely from 2010 with sufficient knowledge of the existing conditions. </p> <p>Work will take around one week at each individual site with the road surface reinstated when an investigation is complete. </p> <h2>Diversions</h2> <p>The first areas where work will be undertaken will be the Bond Street and Tottenham Court Road areas. </p> <p>The majority of these works will be undertaken overnight on weekdays starting at 20:00 to minimise traffic disruption and bus diversions will not be required.</p> <p>However, from 20:00 on Friday 17 October to 06:00 on Monday 20 October, the west bound carriageway will be closed between Tottenham Court Road and Oxford Circus which will necessitate bus diversions. </p> <p>Westbound services on the following routes will be affected during the works: 7, 8, 10, 25, 55, 73, 98, 134, 176, 242, 390, N7, N8, N10, N55, N73, N98 and N207.</p> <p>Routes travelling eastbound towards Piccadilly Circus and Trafalgar Square will not be diverted. </p> <h2>Essential works</h2> <p>The diversions may add an extra ten minutes to journey times and buses along each of these routes may be subject to delays. </p> <p>Passengers are advised to allow extra time for their journeys. </p> <p>Westminster City Council will also take the opportunity to carry out essential works in this area at the same time, thereby minimising disruption to Londoners through a coordinated working approach. </p> <p>At other sites where trenches are required to be dug over the next three months, work will predominantly take place between 07:30 to 18:00. </p> <h2>Traffic management</h2> <p>Local lane closures with the appropriate supporting traffic management arrangements will be implemented where required to allow these works to safely proceed. </p> <p>Crossrail will be a brand new, fast and reliable railway from Maidenhead and Heathrow in the west to Shenfield and Abbey Wood in the east, travelling through central London with a number of stations including Bond Street, Paddington and Tottenham Court Road.&nbsp; </p> <p>When Crossrail opens in 2017 it will increase public transport network capacity in London by 10 per cent, cutting journey times and relieve congestion on rail and Tube lines, and will support regeneration and jobs in many areas of London. </p> <p> <hr>  <p> <p><br><strong>Notes to editors: </strong></p> <ul> <li>Buses will be serving all bus stops on the diversion routes  </li><li>Further information on the works to be undertaken by Crossrail can be obtained from the Crossrail Press Office, Tel. 020 3023 9510<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;is advising that further enabling works for Crossrail will be commencing in the Bond Street, Paddington and Tottenham Court Road areas from 13 October 2008 until early 2009 and, dependent on location, these may have some";}
        
        


 