


@{ViewBag.Title = "Planned bus strikes on Friday 10 October 2008";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Planned bus strikes on Friday 10 October 2008</h1>
        <div class="content-page-press-release">
        09 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First, Metroline and Metrobus bus drivers may hold a 24-hour strike beginning at 03:00 on Friday 10 October 2008.
        
    </div>



 <div class="on-this-page">
<p>Talks have been taking place between the three bus operators and the trade union, Unite, over the 2008 pay settlement.</p> <p>This strike action could potentially affect 204 bus routes, or up to 30 per cent of the Capital's bus network.</p> <p>Transport for London (TfL) is working to keep passenger disruption to a minimum, and we would ask that passengers check their route and listen to media travel updates before they travel on Friday.&nbsp;</p> <p>Where possible, we would advise passengers to use alternative means of transport.&nbsp; </p> <p>Passenger information will be provided by TfL through a number of channels, namely:</p> <ul> <li>Countdown - a message will be displayed on Countdown signs at affected bus stops from Thursday afternoon (9 October), to give passengers advance warning of the strike, and will be displayed all day on Friday  </li><li>Publicity - London Buses has been posting signs at bus stops, shelters and stations from yesterday (Wednesday 8 October)  </li><li>Travel information - customers can contact our travel information team by phone on 020 7222 1234 for up-to-date information and advice on alternative means of transport.&nbsp;As lines are likely to be busy, we advise customers with internet access to check&nbsp; our Live travel news and visit Journey Planner  </li><li>Additional staff will be out on the network during the strikes, concentrating on the busiest stations and stops, to offer advice and guidance to passengers.&nbsp;Where possible, staff will be driving along bus routes with no service to offer advice to passengers </li></ul> <p>If this strike action goes ahead, we know Londoners will face a frustrating day on Friday.&nbsp;</p> <p>Those bus drivers and other public transport workers that have come to work will be doing their very best to keep London moving.&nbsp;</p> <p>We would ask for passengers' patience in what may be a difficult journey.</p> <p> <hr>  <p> <p><strong>Notes to editors</strong></p> <ul> <li>First operates 92 bus routes in London which may be affected by Friday's strike action, from the following garages: Alperton, Dagenham, Greenford, Hayes, Lea Interchange, Northumberland Park, Uxbridge, Westbourne Park and Willesden Junction  </li><li>The routes are as follows:  <ul type="circle"> <li>East London: 58, 67, 91, 150, 165, 179, 191, 193, 212, 215, 231, 236, 252, 259, 299, 308, 309, 323, 339, 341, 357, 365, 370, 385, 389, 399, 476, 488, 498, 616, 646, 649, 650, 652, 656, 679, 686, 692, 699, D6, D7, D8, RV1, W6, W10, W11 and W12  </li><li>Night route: N91  </li><li>West London: 9 (Heritage route only), 10, 18, 23, 28, 31, 79, 83, 92, 95, 105, 187, 207, 223, 224, 226, 245, 282, 295, 328, 331, 414, 427, 487, 607, A10, E1, E3, E5, E7, E9, E10, PR2, U1, U2, U3, U4, U5 and U10  </li><li>Night routes: N10, N18, N28, N31 and N207</li></ul> <li>Metroline operates 77 bus routes in London which may be affected by Friday's strike action, from the following garages:&nbsp; Brentford, Cricklewood, Edgware, Harrow Weald, Holloway, King's Cross, North Wembley, Perivale (West), Perivale (East), Potters Bar and Willesden  </li><li>The routes are as follows:  <ul type="circle"> <li>North London: 4, 17, 32, 43, 46, 52, 82, 84, 98, 107, 113, 117, 134, 139, 140, 182, 186, 189, 190, 204, 206, 209, 210, &nbsp;214, 217, 232, 237, 240, 251, 260, 263, 266, 271, 274, 302, 316, 332, 383, 384, 390, 603, 605, 609, 626, 632, 635, 640, 643, C2, E2, E8 and H12<br>Night routes: N5, N16, N20, N52 and N98  </li><li>West London: 6, 7, 16, 70, 90, 143, 205, 210, 234, 297, 326, 460, 611, C11, E6, W5, W7, W8 and W9  </li><li>Night route: N7 </li></ul> <li>Metrobus operates 36 bus routes in London which may be affected by Friday's strike action, from the following garages: Croydon and Orpington  <ul type="circle"> <li>The routes are as follows:  </li><li>South London: B14, R1, R2, R3, R4, R5, R6, R7, R8, R9, R11, T32, T33, X26, 64, 119, 127, 130, 138, 146, 161, 181,&nbsp;261, 284, 293, 320, 336, 352, 353,&nbsp;358, 359, 367, 405, 464, 612 and 654<br></li></ul></li></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Talks have been taking place between the three bus operators and the trade union, Unite, over the 2008 pay settlement. This strike action could potentially affect 204 bus routes, or up to 30 per cent of the Capital's bus network. Transport for London";}
        
        


 