


@{ViewBag.Title = "Putting the brakes on the school run";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Putting the brakes on the school run</h1>
        <div class="content-page-press-release">
        01 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        There are 3.3 million fewer school run car journeys now being made in the Capital every year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cutting the number of cars doing the school run helps to cut local pollution and congestion"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Rowe</div>
            <div class="quotee-job-title">TfL's Smarter Travel Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cutting the number of cars doing the school run helps to cut local pollution and congestion
                            
                        </p>
                    </div>
                
            
            
            <p>As Walk to School month gets underway in the Capital today, new figures released by Transport for London (TfL) show that travel plans are helping to turn the tide against the school run, with more children using public transport, cycling or walking to school than they did just three years ago.<br>&nbsp;<br>Since 2005, schools in London with travel plans have seen car journeys fall by 6.4 per cent - equivalent to 3.3 million annual car journeys, or nearly 12 million fewer car kilometres a year. </p>
<p>When all of London's schools have travel plans in place next year, it is estimated that there will be 6 million fewer car journeys made on London's roads. </p>
<h2>Cut congestion</h2>
<p>That's the equivalent of 21 million fewer car kilometres or a saving of 3,803 tonnes of CO2 emissions every year.&nbsp;<br>&nbsp;<br>Mayor of London Boris Johnson, said: 'We have all experienced&nbsp;the&nbsp;congestion, safety, and pollution problems associated with the school run, so it should be applauded that there is now increasingly successful work going on - with TfL working in partnership with schools and local communities - to tackle the issue.&nbsp;</p>
<p>'More than 70 per cent of London's schools now have travel plans, bearing down on unnecessary car journeys and getting people switched on to more environment-friendly ways of travel. </p>
<p>'We expect them all to have a travel plan in place during 2009 - a year earlier than the rest of the country.' </p>
<h2>Improve congestion </h2>
<p>David Rowe, Head of Core Programmes, TfL's Smarter Travel Unit, said: 'Cutting the number of cars doing the school run helps to cut local pollution and congestion as well as working more exercise into many children's routines.&nbsp; </p>
<p>'Travel plans encourage schools to choose solutions that are best for them - whether that's a walking campaign such as Walk on Wednesday or a car sharing programme , applying to TfL for new cycle parking facilities or working with us and the local council to make road safety improvements to improve conditions for young cyclists and pedestrians.'<br>&nbsp;<br>The School Travel Plan Programme Annual Report for 2007/08 was published today by TfL.</p>
<h2>Case study</h2>
<p>Kenmont Primary School in the London Borough of Hammersmith and Fulham was selected as TfL's 2008 School of the Year because the hard work and enthusiasm of staff and pupils has resulted in a 34 per cent decrease in car journeys to the school since 2005. Filming and interview opportunities are available on Wednesday 1 October. For more details contact the TfL press office.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>CO2 emission figures calculated using data taken from August 2007 report 'Unfit for Purpose: How Car Use Fuels Climate Change and Obesity' by the Institute for European Environmental Policy </li>
<li>Seventy-one per cent of all schools in the Capital now have a school travel plan. All schools will have a travel plan in place by the end of 2009. Four London boroughs - City of London, Haringey, Sutton and Waltham Forest - have approved travel plans in 100 per cent of their schools </li>
<li>Results from 1,200 schools with approved travel plans have shown an average reduction in car journeys of 6.4 per cent </li>
<li>Around a third of all journeys made between 08:00 and 09:00 on a school day are education related. 35 per cent of school pupils in London travel to school by car<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As Walk to School month gets underway in the Capital today, new figures released by Transport for London (TfL) show that travel plans are helping to turn the tide against the school run, with more children using public transport, cycling or walking to";}
        
        


 