


@{ViewBag.Title = "TfL penalty fare to rise to &pound;50 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL penalty fare to rise to &pound;50 </h1>
        <div class="content-page-press-release">
        10 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New &pound;50 penalty introduced to act as a greater deterrent
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is only fair that those who travel on the Tube or bus pay their way"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is only fair that those who travel on the Tube or bus pay their way
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL)&nbsp;is increasing the penalty fare for non payment on its services* to &pound;50 from 11 January 2009. </p>
<p>Under new plans announced today (Friday 10 October) TfL will also introduce an early payment incentive which will reduce the &pound;50 penalty fare to &pound;25 if it is paid within 21 days. </p>
<p>This is an increase from the current level of &pound;20 on the Buses, Tubes, Docklands Light Railway (DLR)&nbsp;and London Overground.&nbsp; </p>
<p>Fare evasion costs Londoners &pound;70m a year, and the Mayor is determined to tackle this.&nbsp;&nbsp;</p>
<h2>Renewing the network</h2>
<p>The rise will increase the deterrent effect of the penalty fare which is part of TfL's ongoing drive to combat fare evasion.&nbsp; </p>
<p>Mayor of London, Boris Johnson, said: 'Fare evasion costs Londoners &pound;70m a year, which is money that belongs to all Londoners that should be invested in making the transport network better.&nbsp; </p>
<p>'We are investing record amounts in renewing the network, and it is only fair that those who travel on the Tube or bus pay their way.&nbsp; </p>
<p>'These changes to penalty fares will provide a greater deterrent to those who would otherwise try to short-change Londoners.' </p>
<h2>Penalty fare</h2>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing, said: 'While the level of fare evasion on the network is low, it continues to cost Londoners millions of pounds every year.</p>
<p>'We therefore need to make the penalty fare more effective and the early payment reduction will encourage prompt payment.</p>
<p>'We know that our honest, fare paying passengers feel angry when they see others not paying for their journey and this should reassure them that we are tackling this issue head on.</p>
<p>'However, the simple way to avoid this penalty is to ensure you pay the correct fare for your journey in the first place.'</p>
<p>TfL is legally required to give at least three months notice of the penalty fare increase and legal notices to this effect will appear today&nbsp;(Friday 10 October 2008).&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>* TfL, under The Transport for London Act 2008, has been granted powers to increase the penalty fare level to &pound;50 and also to introduce an early payment regime. The Act does not relate to the Tram penalty fare which is currently &pound;30. In order to bring that into line with the new penalty fare by January 2009, a limited consultation is planned to take place later this month </li>
<li>Under the new provisions, penalty fares will increase from &pound;20 to &pound;50, however, this will be reduced to &pound;25 if payment is received within 21 days </li>
<li>These changes will come into effect on the 11 January 2009 </li>
<li>Rates of fare evasion include ticket irregularities where no assumption of intent is made </li>
<li>Currently the penalty fare is &pound;20 and there is no early payment reduction available </li>
<li>Across all modes (Buses, DLR, London Overground, Tram and Tube) in 2007 TfL issued approximately 110,000 penalty fares </li>
<li>The level of fare evasion on each mode is as follows: on the Trams fare evasion is 3.6 per cent while on London Overground the rate stands at 3 per cent. On Buses the fare evasion rate is 2.8 per cent. On the Tube the fare evasion level is 2 per cent. The DLR has the lowest level of fare evasion at 1.7 per cent </li>
<li>Fare evasion is falling. On the Tube the rate of fare evasion has halved, from 4 per cent in 2003 to 2 per cent in 2007. On the Buses our latest figures show that fare evasion has now fallen to 2.8 per cent from 3.9 per cent in 2007. On London Overground, fare evasion is 3 per cent a reduction of up to 80 per cent from the rate recorded by Silverlink - TfL's predecessor - whose rate was between 10-15 per cent. The DLR rate has fallen from 3.1 per cent in 2005 to 1.7 in 2007 </li>
<li>A person suspected of deliberate fare evasion risks prosecution which can result in a criminal record and a fine of up to &pound;1,000 </li>
<li>Fare evasion on the transport network is a crime which costs Londoners&nbsp;approximately&nbsp;&pound;70m&nbsp;a year, money which could and should be used to further improve&nbsp;public transport </li>
<li>In addition to the penalty fare, other tools that TfL uses to detect and deter fare evaders include the deployment of more than 500 revenue officers throughout the transport network on a daily basis </li>
<li>TfL also last year launched a hard-hitting fare evasion advertising campaign to highlight the risks associated with travelling without having paid the correct fare and have introduced signs across the network to remind people to always ensure that they pay the correct fare for their journey at the start of their journey<br>&nbsp;</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;is increasing the penalty fare for non payment on its services* to &pound;50 from 11 January 2009. Under new plans announced today (Friday 10 October) TfL will also introduce an early payment incentive which will reduce the";}
        
        


 