


@{ViewBag.Title = "Together for London.org";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Together for London.org</h1>
        <div class="content-page-press-release">
        24 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new social networking site has launched for Londoners who want to make the city a better place.
        
    </div>



 <div class="on-this-page">
<p>Community groups across the Capital today gave their backing to a new social networking site aimed at encouraging debate around how to make the city better place.</p> <p>'Together for London' is an open forum for Londoners to share their ideas of how to make London a better place, starting with behaviour on public transport.</p> <p>Transport Commissioner Peter Hendy was joined by representatives from Age Concern London and London Youth to pledge their support for the launch of the next phase of Transport for London's campaign to encourage all Londoners to consider others when using public transport.</p> <p>'Together for London' features:</p> <ul> <li>Live discussion pages where Londoners can join or begin a their own debate  </li><li>Create their own campaigns around their own pledges - 'I'll keep my feet off the seats' or 'not shout in to my mobile on the bus'  </li><li>See where discussions are taking place across the Capital  </li><li>Vote and have their say on particular issues  </li><li>Shop on-line to buy T-shirts with your own campaign pledge</li></ul> <h2>Make a pledge</h2> <p>Peter Hendy, Transport Commissioner said: 'We've all got ideas of how to make London a better place.</p> <p>'The new Together for London website starts with a pledge to be more considerate when we travel together on public transport.</p> <p>'People from all walks of life meet everyday on public transport and what's acceptable behaviour to some may irritate or make others feel uncomfortable. </p> <p>'This campaign is not about crime, but about inconsiderate behaviour which fuels the disproportionate fear of crime on and around public transport in London.</p> <h2>Take responsibility</h2> <p>'Crime is low and getting lower year on year on both the buses and the Tube but we know there is more to do.</p> <p>'The Mayor has this year announced an extra 440 uniformed officers for the bus network which will mean there are more police on the buses than at any time in the past 25 years.</p> <p>'If we take responsibility for our actions, a little thought from each of us will mean a big difference for everyone.</p> <p>'The website is a forum for Londoners to get talking and debate.</p> <p>'So click online, voice your opinion and help make London a more liveable place'. </p> <h2>Hear opinions</h2> <p>Esther Thompson, Head of Training London Youth said: 'Transport is important for young Londoners as it enables them to access youth clubs in our network and beyond, where they can meet in a safe place as well as using it to travel to school or college. <br>&nbsp;<br>'In our recent research we've found that public transport is valued by young people and feel it's important that young&nbsp;people are not labelled as being&nbsp;inconsiderate travellers because everyone has the responsibility to be courteous to their fellow passengers.</p> <p>'London Youth&nbsp;wholeheartedly supports&nbsp;Together for London.</p> <p>'The social networking site is a forum which allows young people to make their voices heard on issues relating to considerate behavior on public transport.</p> <p>'We think it highlights to all Londoners that they can do something positive to improve the travel experience for everyone in London.'</p> <h2>Improve your travel experience</h2> <p>Samantha Mauger, Chief Executive of Age Concern London, said: 'Inconsiderate behavior is not a crime but it can increase the fear of crime, particularly among older people.</p> <p>'With the many opportunities the internet offers many older people are getting connected.</p> <p>'The launch of Transport for London's social networking site 'Together for London' will give passengers of all ages one way of voicing their experiences of how inconsiderate behaviour has affected their journeys in London without fear of consequences.</p> <p>'We hope this will enable people to realise how their behaviour can affect others and help to improve everyone's travel experience in London.'</p> <p>To visit the site go to <a class="external-site" title=" (Opens in new window)" href="http://www.togetherforlondon.org" jquery1224853892497="6">www.togetherforlondon.org</a></p> <p> <hr> <strong>Notes for editors:</strong>  <p> <ul> <li>Transport for London's 'Considerate Travel' campaign was launched in January 2008  </li><li>London Youth (LY) is a vibrant network of more than 400 youth clubs serving 75,000 young people a year. LY works in communities &nbsp;across the Capital - and at two education centres in rural Buckinghamshire and Sussex. The organisation aims to help young people&nbsp;be the best they can be  </li><li>Age Concern London (ACL) is the regional body of Age Concern in London. ACL works with borough Age Concerns (who are its&nbsp;members) to promote the interests of older people and campaign on strategic issues of ageing and demographic change in the&nbsp;Capital, and works to support the organisational development of Age Concerns and partners. At borough level and more locally, Age&nbsp;Concerns provide services for older people and work in partnership with colleagues in all sectors to promote issues important to&nbsp;older people  </li><li>The Together for London website is fully moderated to ensure no unsuitable or offensive material appears online  </li><li>A widespread pan London poster campaign featuring 'the Londoners' are on display on the transport network in support of the&nbsp;campaign. The posters which can be seen across the Capital will to continue raising awareness of considerate behaviour on public&nbsp;transport and promote behaviour change</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Community groups across the Capital today gave their backing to a new social networking site aimed at encouraging debate around how to make the city better place. 'Together for London' is an open forum for Londoners to share their ideas of how to make";}
        
        


 