


@{ViewBag.Title = "Travel to Olympic and Paralympic Heroes Parade ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel to Olympic and Paralympic Heroes Parade </h1>
        <div class="content-page-press-release">
        09 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The best way to see the teams is to travel by public transport.
        
    </div>



 <div class="on-this-page">
<p>On Thursday 16 October, tens of thousands of people are expected to line the streets of London between Mansion House and Trafalgar Square to congratulate Britain's Olympic and Paralympic heroes and celebrate their remarkable success at this year's Beijing Olympic and Paralympic Games with a record haul of nearly 150 medals.</p> <p>Transport for London is advising that the best way to see the teams will be to travel by public transport.</p> <p>The route of the Beijing Athletes' Parade is in close proximity to several Tube stations and is also accessible by London Buses and river bus at Embankment and Blackfriars Piers.</p> <p>Some bus diversions and roads closures will be in place for a short time in Central London to allow the parade to pass through, but there will be a number of public transport options available on the day to ensure that spectators can get to and from the parade as easily as possible.</p> <p>Police will begin to close roads around the parade route (Mansion House, Cannon Street, St Paul's Churchyard, Fleet Street, The Strand, Duncannon Street and Trafalgar Square) from 10:30, with roads reopening on a rolling basis once the parade has passed.</p> <p>It is scheduled that the route will be fully re-opened by 15:00.</p> <h2>London Underground</h2> <p>A number of Underground stations are within walking distance of the parade route.</p> <p>These include St Paul's on the Central line and Mansion House, Blackfriars, Temple and Embankment on the District and Circle lines.</p> <p>Spectators can also view the parade by travelling to Charing Cross on the Northern and Bakerloo lines and Leicester Square and Covent Garden on the Piccadilly line.</p> <h2>London Buses</h2> <p>Due to road closures along the route of the parade the below bus routes will be affected by diversions.</p> <p>Bus services will return to their scheduled routes once the parade has passed and affected roads reopened.</p> <p>Bus routes affected are: 1, 3, 4, 6, 8, 9, 9H, 11, 12, 13, 15, 15H, 17, 21, 23, 24, 25, 26, 29, 43, 45, 53, 59, 63, 68, 76, 87, 88, 91, 100, 139, 159, 168, 171, 172, 176, 188, 242, 243, 341, 388, 453, 521.</p> <h2>River Services</h2> <p>For spectators who have never travelled on rivers services then the parade could be just the opportunity to travel by boat for the first time.</p> <p>Spectators can board a river bus to Embankment and Blackfriars Piers to get to the parade.</p> <p>Timetables are available at Tube stations, TfL piers or online at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </p> <h2>Cycling and Walking</h2> <p>Don't forget that cycling and walking are great ways to get around London.</p> <p>Plan your journey to the parade by bike or by foot by visiting&nbsp;<a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a></p> <p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The parade will begin at the Mansion House at 11:00, with the first float due to enter Trafalgar Square at 12:30. The event is expected to finish at 13:30. Further information about the Beijing Athletes' Parade can be found at&nbsp;<a href="http://www.london.gov.uk/mayor/olympics/parade">www.london.gov.uk/mayor/olympics/parade</a>  </li><li>Team GB's Olympic athletes won 47 medals, including 19 gold, 13 silver and 15 bronzes coming fourth in the medals table. The Paralympic&nbsp;team did even better, second only to China, with 102 medals - 42 gold, 29 silver and 31 bronzes, amassing an amazing 149 medals in total between them</li></ul> <ul> <li>For 24hr information on public transport in London, please call 020 7222 1234  </li><li>TfL's Realtime pages, that display live travel information on London's public transport network are here&nbsp;<a href="http://www.tfl.gov.uk/realtime">tfl.gov.uk/realtime</a>  </li><li>To plan your journey on the web <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>  </li><li>Travel alerts via SMS and email can be set up at <a href="http://www.tfl.gov.uk/alerts">tfl.gov.uk/alerts</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Thursday 16 October, tens of thousands of people are expected to line the streets of London between Mansion House and Trafalgar Square to congratulate Britain's Olympic and Paralympic heroes and celebrate their remarkable success at this year's Beijing";}
        
        


 