


@{ViewBag.Title = "TX4 taxi licences to be re-instated";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TX4 taxi licences to be re-instated</h1>
        <div class="content-page-press-release">
        06 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Suspension of cab licences will be lifted when remedial works are completed and cabs are certified by London Taxis International.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This has been a really tough time for drivers, and I'm glad that we now have a solution"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">Director of Taxi & Private Hire at the PCO</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This has been a really tough time for drivers, and I'm glad that we now have a solution
                            
                        </p>
                    </div>
                
            
            
            <p>The Public Carriage Office (PCO) today confirmed that the suspension of TX4 taxi licences will be lifted when remedial works are completed by London Taxis International (LTI).&nbsp; </p>
<p>The cab licences of all TX4s with a 56 registration or a Vehicle Identification Number (VIN) between 200001 and 201000 were suspended following a number of fires involving early production models of the taxi.&nbsp;</p>
<p>LTI have developed a programme of remedial works which they consider, when complete, will minimise the risk of under bonnet fires.</p>
<p>The licence suspension will be lifted as soon as individual vehicles have been certified by LTI as having undergone the necessary modifications.&nbsp; </p>
<p>LTI will be contacting all TX4 owners to arrange an appointment for them to bring in their vehicle for remedial works.</p>
<p>They will be working 24 hours a day to process all vehicles as quickly as possible.</p>
<h2>Finding solutions</h2>
<p>Vehicles will be processed in ascending VIN order, with those cabs in the range 200001 to 201500 (which includes all TX4s with a 56 registration) being treated as a priority.</p>
<p>Eventually all TX4s will undergo these remedial works.</p>
<p>Ed Thompson, Director of Taxi &amp; Private Hire at the PCO, said: 'This has been a really tough time for drivers, and I'm glad that we now have a solution.</p>
<p>'LTI have assured me they will be working around the clock to get as many cabs back on the roads as quickly as possible.</p>
<p>'Taxis in London have an excellent safety record.</p>
<p>'We're satisfied that the work LTI will be carrying out will minimise any risks to drivers, passengers and other road users.'</p>
<p>The PCO brought in an independent fire safety expert who has confirmed the remedial works proposed by LTI will significantly reduce the risk of under bonnet fires, making these vehicles acceptable for use in passenger service.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>All vehicles have a VIN, often referred to as a chassis number.&nbsp;TX4s with a 56 registration or a VIN between 200001 and 201000 were the very early production models of the TX4 
<li>LTI will be carrying out the following works: 
<ul>
<li>Replacing the exhaust gas recirculation pipe </li>
<li>Installing a heat shield over the exhaust gas recirculation pipe </li>
<li>Replacing the bulkhead noise vibration and harshness pad with one of a new design and material </li>
<li>Thoroughly inspecting all pipe runs and wiring for evidence of unusual wear, replacing where necessary </li>
<li>Fitting a fire suppression system to rebuild driver and passenger confidence</li></ul></li>
<li>LTI will be contacting all TX4 owners directly. If drivers have any questions they can call the LTI call centre on 0121 322 0710 or 0121 322 0709 </li>
<li>Owners must ensure the LTI certification remains with the vehicle when it goes back into service. It must be presented to PCO officers during on-street compliance inspections or to SGS during an annual or mid-year inspection </li>
<li>A PCO Notice was issued on Friday 3 October 2008 to all affected TX4 owners, setting out details of the recall<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Public Carriage Office (PCO) today confirmed that the suspension of TX4 taxi licences will be lifted when remedial works are completed by London Taxis International (LTI).&nbsp; The cab licences of all TX4s with a 56 registration or a Vehicle";}
        
        


 