


@{ViewBag.Title = "Victoria line online question time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria line online question time</h1>
        <div class="content-page-press-release">
        17 October 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU)&nbsp;passengers will be able to take part in an online question time about the Victoria line, which is undergoing a complete upgrade as part of the Transport for London (TfL)&nbsp;Investment Programme.
        
    </div>



 <div class="on-this-page">
<p>Victoria line General Manager, John Doyle will be answering questions with other managers in his team, between 17:00 and 19:00 on the evening of Thursday, 23 October at <a href="http://www.tfl.gov.uk/questiontime">tfl.gov.uk/questiontime</a>&nbsp; </p> <p>John Doyle said:&nbsp;'This is a great opportunity for passengers to learn about all the hard work that is going on behind the scenes.</p> <p>'The Victoria line opened 40 years ago and now carries 165 million passengers a year.</p> <p>'By 2025 it is estimated that passenger numbers will rise to more than 210 million per year.</p> <p>'Upgrading the Victoria line - to replace 40-year-old trains and signalling - is one of London Underground's largest investment projects, part of the Transport for London Investment Programme, which is putting billions of pounds into improving and expanding London's transport network.</p> <p>'The early evening closures are necessary to allow more time for the upgrade works, to meet the extra passenger demand and provide faster, more reliable journeys.'</p> <p>The Victoria line's Performance Managers for Stations Dean Horler and for Trains, Chris Taggart and the Upgrades Delivery Manager Graham White will also be giving answers at the online question time about the Victoria line.</p> <p> <hr> <strong>Notes to editors:</strong> <p> <ul> <li>LU is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a><br></li></ul> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Victoria line General Manager, John Doyle will be answering questions with other managers in his team, between 17:00 and 19:00 on the evening of Thursday, 23 October at tfl.gov.uk/questiontime&nbsp;John Doyle said:&nbsp;'This is a great opportunity for";}
        
        


 