


@{ViewBag.Title = "Department for Transport offers financial support for Thames Gateway Bridge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004/28696">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Department for Transport offers financial support for Thames Gateway Bridge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Department for Transport offers financial support for Thames Gateway Bridge</h1>
        <div class="content-page-press-release">
        09 January 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new bridge proposed by the Mayor of London Ken Livingstone and his transport body, Transport for London (TfL), was today offered financial backing by the Department for Transport.
        
    </div>



 <div class="on-this-page">
<p>The Thames Gateway Bridge would link Beckton with Thamesmead at Gallions Reach and provide a much-needed local link to help create jobs and housing in the area.</p>
<p>The &pound;450 million development and construction cost of the bridge would be met jointly through TfL, a toll on cars and commercial vehicles using the bridge and also by up to &pound;200 million of Government PFI credits. The bridge would be constructed and operated by a private sector company in partnership with TfL, using a PFI structure.</p>
<p>The bridge is expected to help create both jobs and housing on either side of the river and TfL estimates that it could put an extra 600,000 jobs within 45 minutes of Thamesmead by car and public transport. It would help create around 25,000 new jobs in the region.</p>
<p>London Transport Minister Tony McNulty said:</p>
<blockquote>
<div align="left">"Effective regeneration goes hand in hand with effective transport links. This bridge would be a catalyst for an area with enormous potential. It would not only provide a huge much needed boost to the local economy, but stand as an impressive landmark representing a positive future for the Thames Gateway region."</div></blockquote>
<div align="left">
<p>The bridge is a major part of Mayor of London Ken Livingstone and TfL's plans to improve transport and accessibility to and from East London.</p>
<p>Mayor Ken Livingstone said:</p></div>
<blockquote>
<div align="left">"This announcement today is the culmination of several years' work and reflects the commitment of central and London government to delivering better services to the people of London.</div>
<div align="left">"The Thames Gateway Bridge would provide a vital transport link for East London and would help to regenerate an area that is greatly in need of better housing and employment. East Londoners have consistently given overwhelming support for the bridge and I am delighted that the Government has offered its backing to this essential project."</div></blockquote>
<div align="left">
<p>Minister for London Keith Hill said:</p></div>
<blockquote>
<div align="left">"This is great news for the Thames Gateway. It could open up links between two communities and creates potential new growth and employment opportunities. This is about providing homes, jobs and services, and demonstrates our commitment to creating sustainable communities in the Thames Gateway."</div></blockquote>
<div align="left">
<p>A TfL consultation found that 85 per cent of East Londoners who responded want the bridge to be built. From 13 May to 12 August, TfL distributed leaflets or brochures to almost half a million homes and businesses.</p>
<p>The bridge is designed to have two lanes in either direction for cars and <br>commercial vehicles. It would also have separate lanes for public transport, pedestrians and cyclists.</p></div>
            <ol>
<li>
<div align="left">The Thames Gateway Bridge is being promoted by Transport for London</div>
</li><li>
<div align="left">As with all such projects the case for and against the bridge can be examined thoroughly in a public inquiry before the decision whether to authorise it is taken. This provides the fullest opportunity for all stakeholders and the public to make their views known. The decision will be taken on the merits of the case at the appropriate time.</div>
</li><li>
<div align="left">The offer of PFI credits remains conditional on the finalisation of an acceptable business and environmental case, a satisfactory financial structure and the granting of all construction and tolling powers.</div>
</li><li>
<div align="left">It is proposed that the bridge would be between 50 and 70 metres high so it does not interfere with flight paths into nearby London City Airport, nor too low, so ships can pass underneath.</div>
</li><li>
<div align="left">For further information please contact the Department for Transport press office on 020 7944 4604 or the Transport for London press office on 020 7941 4882 or the Mayor of London's press office on 020 7983 4714.</div></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2004-January-Department for Transport offers financial support for Thames Gateway Bridge -->

 
 
        
        
            @{ViewBag.Description = "The Thames Gateway Bridge would link Beckton with Thamesmead at Gallions Reach and provide a much-needed local link to help create jobs and housing in the area.The &pound;450 million development and construction cost of the bridge would be met jointly";}
        
        


 