


@{ViewBag.Title = "Roger McGough awards London's best disabled poets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004/28696">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Roger McGough awards London's best disabled poets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Roger McGough awards London's best disabled poets</h1>
        <div class="content-page-press-release">
        20 January 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Acclaimed poet Roger McGough announced the winners of Transport for London's (TfL) Disabled? Poet? competition, supported by Carlton Television, today at a special awards ceremony at Sadler's Wells Theatre.
        
    </div>



 <div class="on-this-page">
<p>Last year, TfL invited disabled London poets to share their experiences of travel through poetry to mark the European Year of Disabled People. The theme of the competition was Journey and 150 entries were received. The winners, by category, are:</p>
<p>Child winner (under 17 years):<br>Amanda Sargeant, West Molesey, Surrey with The Journey</p>
<p>Adult winners (over 17 years): <br>First adult winner: Evelyn McNally, Hampstead with Green Light<br>Second adult winner: Anna Losinski, Dulwich with Down in Warsaw</p>
<div>Pip Hesketh, Head of Equality and Inclusion at TfL said:</div>
<blockquote>
<div>
<p>"Congratulations to everyone who entered! I read your poems with pleasure and encourage all of you to keep writing. Transport for London is taking a positive approach to making more of London's public transport accessible for all and this competition encourages Londoners to share their experiences of travel. It also demonstrates TfL's ongoing efforts to engage with disabled people."</p></div></blockquote>
<div>
<p>Roger McGough said:</p></div>
<blockquote>
<div>"I'm delighted to be associated with TfL's Disabled? Poet? competition as part of the European Year of Disabled People. Poetry is for all people regardless of age, gender and ability, and TfL has created an excellent opportunity for disabled Londoners to showcase their talent. Congratulations to all entrants!"</div></blockquote>
            <ul>
<li>
<div align="left">The competition ran from 7 September to 21 November 2003 and was an initiative of Transport for London as part of European Year of Disabled People</div>
</li><li>
<div align="left">Carlton Television are the key media partner for TfL's Disabled? Poet? competition and will be covering the competition in the popular City Survival Guide programmes from 26th to 29th January</div>
</li><li>
<div align="left">The prizes are:<br>A fifteen volume collection of poetry from Waterstone's<br>A weekend break at a Hilton Hotel<br>Lunch for four at Planet Hollywood<br>Tea for two at the Ritz Hotel<br>A pair of cinema tickets for VUE (Warner Village) Cinemas<br>A Lonely Planet guide of the winners' choice</div>
</li><li>
<div align="left">This press release is available in large print and alternative formats on request.</div>
</li><li>
<div align="left">Images from the award ceremony are also available from the TL Press Office</div></li></ul>
<div align="left">
<p>For further information please contact Amanda Brooks at TfL Press Office on 020 7941 4882 or <a href="mailto:amandabrooks&#64;tfl.gov.uk" target="_blank" lid="amandabrooks&#64;tfl.gov.uk">amandabrooks&#64;tfl.gov.uk</a></p></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2004-January-Roger McGough awards London's best disabled poets -->

 
 
        
        
            @{ViewBag.Description = "Last year, TfL invited disabled London poets to share their experiences of travel through poetry to mark the European Year of Disabled People. The theme of the competition was Journey and 150 entries were received. The winners, by category, are:Child";}
        
        


 