


@{ViewBag.Title = " Contract awarded to replace oldest DLR trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Contract awarded to replace oldest DLR trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Contract awarded to replace oldest DLR trains</h1>
        <div class="content-page-press-release">
        12 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New trains will help to support new jobs and homes across east and south east London
        
    </div>



 <div class="on-this-page">
<p>Customers using the Docklands Light Railway (DLR) will benefit from more frequent and reliable journeys from 2023, after Transport for London (TfL) today announced it has awarded a contract to replace the oldest trains currently serving the railway.</p>

<p>TfL has awarded the contract to design and manufacture the trains to Construcciones y Auxiliar de Ferrocarriles, S.A (CAF). The order will replace the oldest rolling stock on the DLR which are nearly thirty years old and have come to the end of their design life. These are in vital need of replacement to ensure a reliable service is maintained for customers.</p>

<p>With over 400,000 journeys made each weekday, the DLR is currently the busiest light railway in the UK. &nbsp;The new trains will provide more frequent direct services to the growing employment centre and cultural hub at Stratford, allowing people from across south east London to reach new jobs in east London without the need to travel through Zone 1. It also serves Canary Wharf, a vitally important centre for the financial and professional service industries.</p>

<p>The DLR operates across six Opportunity Areas in London, which have the potential to provide more than 124,000 homes and 200,000 jobs. There are around 45,000 of these homes already under construction, or with planning permission, within walking distance of the DLR.&nbsp; The additional capacity the trains will deliver is essential to support further growth beyond that already permitted, particularly in parts of the Royal Docks and the Isle of Dogs where the DLR is the main transport option.</p>

<p><strong>Jon Fox, TfL's Director of Rail and Sponsored Services, said</strong>: &quot;Replacing the oldest trains on the DLR and introducing a new modern fleet will ensure the railway continues to support the current and future growth in the Docklands area.&nbsp; With walk-through carriages, real time travel information, air conditioning and mobile device charging points, the new trains will provide customers with a more comfortable and reliable service, replacing rolling stock that are nearly 30 years old and coming to the end of their operational life.&quot;</p>

<p>The new fleet of walk through trains are expected to start entering passenger service from 2023 providing a number of customer improvements, including the latest audio and visual real-time travel information, air conditioning and mobile device charging points. They will provide better facilities for those with mobility impairments, with three multi-use areas in addition to three dedicated wheelchair spaces. These multi-use areas can also be used to accommodate pushchairs, bicycles or luggage.</p>

<p>The modernisation of the DLR is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place to live, work and visit as well as supporting new jobs and homes. The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80 per cent of journeys made by public transport, cycling or walking by 2041</p>

<p>The DLR is entirely step free and currently has 45 stations and 38km of track.</p>

<p>Six opportunity areas are Royal Docks &amp; Beckton Riverside, Woolwich, Isle of Dogs &amp; South Poplar, Olympic Legacy, Deptford Creek &amp; Greenwich Riverside and New Cross Lewisham and Catford.</p>

<p>The 43 trains in the initial contact include 33 to replace the oldest rolling stock on the DLR network and an additional 10 to boost capacity.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June- Contract awarded to replace oldest DLR trains -->

 
 
        
        
            @{ViewBag.Description = "Contract awarded to replace oldest DLR trains";}
        
        


 