


@{ViewBag.Title = "Bank station upgrade construction reaches half-way stage";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bank station upgrade construction reaches half-way stage</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bank station upgrade construction reaches half-way stage</h1>
        <div class="content-page-press-release">
        01 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Project will increase capacity at vital station by 40%
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The upgrade of Bank Tube station is a crucial project that will make journeys through a vital interchange much easier and more comfortable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">TfL's Director of Major Projects</div>
        </div>
</div>

 <div class="on-this-page">
<p>The modernisation of Bank Tube station has reached a landmark stage, with over half of the construction work now complete.</p>

<p>Most of the construction works have been completed in isolation from the existing station to keep disruption to customers to a minimum.</p>

<p>The station complex including both Bank and Monument is one of the busiest on the network, with over 120 million customers passing through it each year.</p>

<p>When the project is complete in 2022, there will be a new tunnel for the southbound Northern line, allowing the existing platform to be converted into a new customer concourse in order to reduce overcrowding.</p>

<p>The new tunnel has been excavated under an incredibly complex part of London, with 31 listed buildings bordering the project.</p>

<p>Over 200,000 tonnes of material has already been excavated &#45; equivalent to around 16,000 New Routemaster buses.</p>

<h2>Quicker and more comfortable</h2>

<p>TfL is constructing a new station entrance on Cannon Street which will provide two new lifts in order to introduce step-free access from the street to the Northern line and improve step-free access to the DLR.</p>

<p>The addition of 12 new escalators and two moving walkways will also make customer journeys quicker and more comfortable.</p>

<p>The new tunnel has been excavated, with waterproofing and concrete lining now underway.</p>

<p>The escalator barrel from the new entrance on Cannon Street to the Northern line platforms is complete and another that will form a new escalator to the Central line is nearing completion.</p>

<p>As well as the progress being made underground, the new station on Cannon Street is beginning to take shape.</p>

<p>The structure for the new station will be complete this summer, allowing interior wall construction and station fit out to start in the autumn.</p>

<p>The cross passages to the new Northern line tunnel are also well underway, with a new 'secret door' already visible to customers using the existing southbound platform.</p>

<p>The new tunnel will be connected to the existing Northern line in 2021.</p>

<h2>Significant positive impact</h2>

<p>Stuart Harvey, TfL's Director of Major Projects, said: 'The upgrade of Bank Tube station is a crucial project that will make journeys through a vital interchange much easier and more comfortable.</p>

<p>'These pictures show the extent of the great work being done by TfL staff and contractors as we continue to make good progress on delivering these improvements for Londoners.'</p>

<p>Demand at Bank has risen by around a quarter in recent years. Around 120,000 customers use the station every weekday morning, of which over 50,000 are changing to another line.</p>

<p>A new entrance to the Waterloo &amp; City line on Walbrook opened in December 2018, helping to relieve congestion for customers using that line and providing quicker access from the City.</p>

<p>The added capacity will make a significant positive impact to hundreds of thousands of people each day.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Bank station upgrade construction reaches half-way stage -->

 
 
        
        
            @{ViewBag.Description = "Bank station upgrade construction reaches half-way stage";}
        
        


 