


@{ViewBag.Title = "Engineering train travels full length of the Northern Line Extension for the first time";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Engineering train travels full length of the Northern Line Extension for the first time</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Engineering train travels full length of the Northern Line Extension for the first time</h1>
        <div class="content-page-press-release">
        14 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tunnel construction complete, enabling first train to travel the entire length of the new Northern Line Extension
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that the Northern Line Extension has reached such an important milestone, with a train running through the entire length of the tunnel, passing through new state-of-the-art stations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Northern Line Extension has passed a major milestone after an engineering train successfully travelled the entire length of the new tunnels from Kennington to Battersea, for the first time. To mark the occasion, TfL has today released footage of this first trip.</p>

<p>The train entered the new 3.2km tunnels at Kennington station, travelling through the newly-constructed step-plate junction that connects the existing Northern line tunnels to the extension.</p>

<p>It then continued to the new Nine Elms Tube station before terminating at the extension's second new station at Battersea.&nbsp; The train carried 750 metres of power cable into the extension which was installed by 15 engineers.</p>

<p>The first train to be driven along the full length of the Northern Line Extension marks the completion of the tunnels and track.</p>

<p>Work to extend the line now focuses on the fit-out of the new stations, installing the power supply, and extending the signalling used on the Northern line to the extension.</p>

<h2>Important milestone</h2>

<p>The extension - which is expected to be completed in autumn 2021, with a target of September &#45; is the first major Tube line extension since the Jubilee line in the late 1990s.</p>

<p>The opening timetable continues to align with the wider regeneration of the Vauxhall Nine Elms Battersea area and ensures that new Northern line services will operate when demand for the line is there.</p>

<p>Deputy Mayor for Transport, Heidi Alexander, said:&nbsp;'I'm delighted that the Northern Line Extension has reached such an important milestone, with a train running through the entire length of the tunnel, passing through new state-of-the-art stations.</p>

<p>'The track and tunnels are now complete, and I want to thank the men and women whose expertise is delivering this world-class project.</p>

<p>'The Northern Line extension is the first major Tube extension since the late 1990s, and will support thousands of new jobs and homes in the capital.'</p>

<p>Stuart Harvey, TfL's Director of Major Projects, said: 'Running a train through the new section of railway tunnel is an exciting moment and demonstrates the hard work of hundreds of men and women who are working around the clock to build the first new Tube extension in two decades.</p>

<p>'The Northern Line Extension will support jobs, homes and growth in one of the most exciting new destinations in London, help keep pace with the capital's rising population, and is creating jobs through the supply chain across the UK.'</p>

<h2>Vital route</h2>

<p>Cllr Ravi Govindia, Wandsworth Council Leader and co-chair of the Nine Elms Vauxhall Partnership said: 'We welcome the announcement of a clear timeline for the Northern Line Extension to Battersea and Nine Elms.</p>

<p>'The new Tube stations will provide a vital route into the heart of the Vauxhall Nine Elms and Battersea opportunity area, unlocking the growth potential of this riverfront district and connecting it directly with the rest of central London.</p>

<p>'This extension is part of an extensive package of infrastructure work being delivered, including a new riverboat pier and road improvements to Nine Elms Lane and the wider neighbourhood, all funded by &pound;1.5bn investment going into the area.</p>

<p>'When the extension opens in 2021 it will benefit thousands of people already living and working in this thriving area which is set to see 20,000 new homes and over 25,000 jobs by 2030.'</p>

<p>The extension will bring Battersea and surrounding areas to within 15 minutes of the West End and City. In addition, construction of the extension is boosting the UK economy and supporting around 1,000 jobs, including 50 apprenticeships.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>Video footage of the engineering train travelling the full length of the Northern Line Extension for the first time can be viewed here: <a href="https://www.youtube.com/watch?v=7FASW1GxjYU">https://www.youtube.com/watch?v=7FASW1GxjYU</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Engineering train travels full length of the Northern Line Extension for the first time -->

 
 
        
        
            @{ViewBag.Description = "Engineering train travels full length of the Northern Line Extension for the first time";}
        
        


 