


@{ViewBag.Title = "Kids take action on speeding drivers as part of Child Safety Week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Kids take action on speeding drivers as part of Child Safety Week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Kids take action on speeding drivers as part of Child Safety Week</h1>
        <div class="content-page-press-release">
        07 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Junior Roadwatch scheme gives children the opportunity to educate drivers caught speeding outside their schools
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want Londoners all across our city to feel safe walking and cycling as part of their everyday routine, and Junior Roadwatch helps raise awareness of the dangers of speeding, making our streets more welcoming places to spend time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL, the Metropolitan Police and Kingston Council have given children the opportunity to educate drivers about the dangers of speeding, as part of a new road danger reduction education scheme, Junior Roadwatch.</p>

<p>Pupils from Our Lady Immaculate Primary School in Surbiton joined police officers from the Metropolitan Police Service's (MPS's) Roads and Transport Policing Command which is jointly funded by TfL and the MPS, yesterday to tackle speeding in their area.</p>

<p>As part of this innovative new London scheme, primary school children are given the opportunity to take part in speed awareness sessions with the police near their school.</p>

<p>Drivers caught speeding are pulled over by police officers and given the option of receiving an enforcement option &#45; either a fixed penalty fine and points on their licence or attending a speed awareness course &#45; and being reported for speeding or, if drivers are deemed suitable, speaking to the children.</p>

<p>If they take this option, the driver will receive an educational message from the children and the council staff member.</p>

<h2>'Are you aware of the consequences of speeding?'</h2>

<p>The primary school pupils ask questions such as 'Why do you think the speed limit is 20mph on this road?' and 'Are you aware of the consequences of speeding?' &#45; encouraging&nbsp;the driver to reconsider the speed they were driving at.</p>

<p>Deputy Mayor for Transport, Heidi Alexander, said: 'It is essential that our busy local neighbourhoods are safe places to get around. Over a thousand children in London have been injured in collisions travelling to school over the last three years, and reducing excessive speeding is vital to keeping young people safe.</p>

<p>'We want Londoners all across our city to feel safe walking and cycling as part of their everyday routine, and Junior Roadwatch helps raise awareness of the dangers of speeding, making our streets more welcoming places to spend time.'</p>

<p>Between 2015 and 2017, 1,381 children were injured in collisions while travelling to school in London. This number is unacceptable and TfL, the police and London boroughs are working hard to reduce road danger across the capital.</p>

<p>London borough councils play an important and central role in the delivery of Junior Roadwatch by working in partnership with the police to identify and engage with local schools where speeding is a concern.</p>

<p>Junior Roadwatch sites are chosen by the police and borough officers, and selected due to community concerns around speeding or data on injuries and collisions.</p>

<p>Stuart Reid, Interim Director of Vision Zero, said: 'It is shocking that so many children are injured in collisions while simply travelling to school. Lower, safer speeds are absolutely vital in saving lives and reducing injuries on the roads.</p>

<p>'Children travelling to school deserve to be safe and we are hoping to improve this through Junior Roadwatch. By working with schools, we're hoping that drivers will consider the impact of their speeds as well as ensuring that children understand just how important road safety is.'</p>

<p>Charlotte and Matthew, both in year 6 at Our Lady Immaculate Primary School, said: 'As part of Junior Roadwatch we test the speeds of cars and question the drivers who are going too fast. In an hour and a half yesterday we caught 32 people speeding outside our school.</p>

<p>'That's not good enough and we are shocked the number is so high. We want to be able to walk to school safely and not worry about speeders so adults should slow down.'</p>

<h2>Engaging with motorists</h2>

<p>Inspector Tony Mannakee, from the MPS's Roads and Transport Policing Command, said: 'Junior Roadwatch is about involving school children in a road safety scheme that directly affects them &#45; dangerous driving in the vicinity of their schools.</p>

<p>'Excessive speed unfortunately remains a common cause of serious and fatal collisions across London. We hope that pupils engaging with motorists caught driving dangerously outside their schools will make them consider the implications of excessive speeds and encourage safer driving behaviour.'</p>

<p>The initiative, part of TfL and the Metropolitan Police's joint commitment to reduce road danger, is being showcased as part of Child Safety Week. This is the Child Accident Prevention Trust's annual safety campaign, raising awareness of serious childhood accidents and simple ways to keep children safe.</p>

<p>Collisions are a leading cause of serious injury, disability or death of children in the UK. In 2017, 48 children died in road collisions in the UK and over 15,700 children were injured.</p>

<p>The Child Accident Prevention Trust (CAPT) is a national charity working to reduce the numbers of children killed, disabled or seriously injured in preventable incidents.</p>

<p>Katrina Phillips, Chief Executive of the Child Accident Prevention Trust, said: 'As drivers, we don't always appreciate the impact of our speed for children's safety. But driving at 20mph can be a life-saver for children on their school journeys.</p>

<p>'We're really pleased to support this Junior RoadWatch scheme as part of Child Safety Week, giving children a say in how we can help keep them safe.'</p>

<h2>Life-saver for children</h2>

<p>Kingston Council Leader, Liz Green, said: 'We know that residents are concerned about speeding, especially around schools. This initiative is a great example of our commitment to improving road safety and raising awareness of the dangers of speeding.</p>

<p>'Thanks to our partners the police, schools and TfL for their continued support and helping keep all residents, especially our children, safe.'</p>

<p>This week, TfL launched a consultation on proposals to lower the speed limit on their roads in central London. The move would see 20mph limits introduced on 8.9km of roads in locations including Millbank, Albert Embankment, Victoria Embankment and Borough High Street.</p>

<p>This, alongside the 20mph limits already set on the vast majority of borough roads, would mean that most of the roads in central London would become 20mph.</p>

<p>Junior Roadwatch is part of the Mayor, TfL and Metropolitan Police's commitment to Vision Zero, which aims to eliminate death and serious injury from London's streets and transport network.</p>

<p>As part of Vision Zero, the Met is stepping up its on-street and safety camera enforcement against drivers who are speeding and putting others at risk.</p>

<p>This scheme builds on the ongoing success of Community Roadwatch, which gives local residents the opportunity to work with their local Police Safer Transport Team and monitor speeding vehicles in their area.</p>

<p>Warning letters are then sent to drivers caught speeding to emphasise the dangers of excessive speed. Since Community Roadwatch launched across all 33 London boroughs in August 2015, nearly 39,000 speeding drivers have been caught.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Junior Roadwatch was trialled in Hackney and Kingston in 2017. A total of 85 drivers were caught speeding in Kingston over 90 minute periods in six days, with 82 of these drivers stating it was either effective or very effective. 95% of drivers said they would tell people about their experience</li>
	<li>Any drivers found travelling significantly over the speed limit are automatically reported for speeding and will not be given the educational option</li>
	<li>The safety of children is the priority. Speeders are asked to pull in by the officer, who carries out a PNC (Police National Computer) check on the driver. Only drivers who pass this check and are deemed suitable will speak to the children, otherwise they will be reported for speeding automatically</li>
	<li>Junior Roadwatch is one way that TfL is working with children around road safety. This sits alongside STARS, TfL's accreditation scheme for London schools and nurseries, which aims to inspire young Londoners to travel to school sustainably, actively, responsibly and safely by championing walking, scooting and cycling. STARS is active in over 1,400 schools across London and supports Vision Zero by providing more than 20 different activities that schools can participate in to encourage safe road behaviours</li>
	<li>Local residents can&nbsp;take part in Community Roadwatch, or suggest a residential area where there are community concerns around speeding, by contacting <a href="mailto:CommunityRoadwatch&#64;met.police.uk">CommunityRoadwatch&#64;met.police.uk </a>and stating the borough they live in. The enquiry will be forwarded to the local MPS Safer Transport Team, who will be in touch with further details</li>
	<li>Child Accident Prevention Trust (CAPT) provides free downloadable resources, which act as a catalyst for thousands of local safety activities and events, which reach children and families UK-wide. See <a href="http://www.childsafetyweek.org.uk/">www.childsafetyweek.org.uk</a></li>
	<li>In 2019, Child Safety Week runs from 3 to 9 June with the theme Family life today: where's the risk? &#45; including the risk of digital distraction for adult drivers and child pedestrians</li>
	<li>CAPT provides free downloadable resources, produced with the support of the Department for Transport, which act as a catalyst for thousands of local safety activities and events UK-wide. See <a href="http://www.childsafetyweek.org.uk/">www.childsafetyweek.org.uk</a></li>
	<li>TfL's 20mph consultation can be found here: <a href="https://consultations.tfl.gov.uk/streets/20">https://consultations.tfl.gov.uk/streets/20</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Kids take action on speeding drivers as part of Child Safety Week -->

 
 
        
        
            @{ViewBag.Description = "Kids take action on speeding drivers as part of Child Safety Week";}
        
        


 