


@{ViewBag.Title = "Londoners asked for views on plans for lower speed limits";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners asked for views on plans for lower speed limits</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners asked for views on plans for lower speed limits</h1>
        <div class="content-page-press-release">
        05 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL proposes to make all of its roads within the Congestion Charge Zone 20mph next year as part of the Mayor's Vision Zero commitment to eliminate death and serious injury on London's roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Each year more than 4,000 people are killed or seriously injured on London's streets. The evidence is clear &#45; lowering speeds on the most dangerous roads saves lives"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Speed is a factor in around 37 per cent of collisions where a person dies or is seriously injured across London</li>
	<li>A person hit at 30mph is five times more likely to die than someone hit at 20mph</li>
</ul>

<p>Transport for London (TfL) has today launched a consultation on plans to introduce lower speed limits on all TfL roads in the Congestion Charge Zone (CCZ) by May next year. The move is a key part of the Mayor's Vision Zero ambition to eliminate death and serious injury from London's transport network and would see 20mph limits introduced on 8.9km of main roads including Millbank, Albert Embankment, Victoria Embankment and Borough High Street.</p>

<p>A 20mph limit will also be introduced at Aldgate Gyratory, which is on the boundary of the CCZ, rather than within it. Combined with the 20mph limits already set on the vast majority of borough roads, this would mean that most of the roads in central London would become 20mph.</p>

<p>Lower speeds for central London are vital to protect people walking, cycling and riding motorcycles. The faster a vehicle is going, the more likely a collision will occur and the higher the chance of death or more severe injuries occurring. Cutting speeds from 30mph to 20mph is expected to significantly reduce the likelihood of death and serious injury. If someone walking is hit by a vehicle at 20mph, they are five times less likely to be killed than if they were hit at 30mph.</p>

<p>As well as new 20mph signs and road markings along routes, TfL plans to raise the height of pedestrian crossings in seven high-risk locations, including near the busy Embankment and Tower Hill Tube stations and in areas with a high number of pedestrians, such as outside the Tate Britain. The measures, designed to discourage speeding, have been chosen for locations where high numbers of collisions resulting in death or serious injury have previously occurred. Speed cameras on all of TfL's roads within the CCZ will be amended to 20mph, and mobile speed cameras will also be used to make sure drivers comply with the new limit.</p>

<p>Following the initial implementation, monitoring will be undertaken to determine whether further measures to reduce speeds further are required.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'Each year more than 4,000 people are killed or seriously injured on London's streets. The evidence is clear &#45; lowering speeds on the most dangerous roads saves lives. The proposed 20mph speed limit on TfL roads within the Congestion Charge Zone and at Aldgate Gyratory will protect people walking and cycling and other road users in the busiest part of the capital.'</p>

<p>In July 2018, the Mayor and TfL launched a bold Vision Zero Action Plan to end the toll of deaths and serious injuries on London's streets.</p>

<p>The Plan includes a new joint approach to roads policing with the Metropolitan Police, focused on high-risk offenders, as well as highly visible patrols and intelligence-led activity to target known problem areas. This is alongside the transformation of dangerous junctions, as well as a new Bus Safety Standard and the Direct Vision Standard, which will remove the most dangerous lorries from London's roads.</p>

<p>Stuart Reid, Interim Director of Vision Zero at TfL, said:</p>

<p>'Lower speeds save lives. That's why we plan to reduce speed limits in central London, where hundreds of thousands of people are walking and cycling each day. Many of London's boroughs are already leading the way on safer speed limits and introducing 20mph in central London will deliver consistently safer roads regardless of which road authority is responsible for them. The bold actions outlined in the Mayor's Vision Zero Plan will set London on the path to eliminating death and serious injuries on our transport network by 2041.'</p>

<p>Over the next five years, TfL is proposing to introduce lower speed limits on its road network in many of London's other town centres and high-risk locations, to reduce road danger and save lives. Overall, TfL aims to introduce new lower speed limits across 150km of its road network, as well as supporting ambitious local speed reduction programmes led by London boroughs on local roads.</p>

<p>Jeremy Leach, London Campaign Co-ordinator for 20's Plenty for Us, said:</p>

<p>'We are delighted to see TfL introducing 20mph limits on all the roads it manages in central London. With 20mph limits now firmly established across the capital and the impact on casualties of getting maximum speeds down to 20mph well known, every effort must be made to ensure drivers comply with the new lower limits.</p>

<p>'The combination TfL proposes of 20mph limits coupled to changes in road design and new traffic calming, greater police and camera enforcement plus the opportunities that speed limiting technology now offers is starting to deliver safer streets in London especially for all those who are walking and cycling.'</p>

<p>Joshua Harris, Director of Campaigns at Brake, the road safety charity, said:</p>

<p>'Whether you are walking, cycling, or driving, it is everyone's right to be free to get around in a safe and healthy way but this can only be achieved if the vehicles on our roads are travelling at safe speeds. 20mph limits give drivers more time to stop to avoid a crash and also make our streets more welcoming places to be, encouraging people to choose to walk or cycle rather than get in a car. The Vision Zero commitment to eliminate death and serious injury from our roads is a moral imperative and we call on all local and national governments to follow TfL's lead.'</p>

<p>Stephen Edwards, Director of Policy &amp; Communications at Living Streets said:</p>

<p>'It's vital that people realise the facts around 20mph. If a pedestrian is struck by a vehicle at 20mph they have a 97% chance of survival. This reduces with every mile driven faster. As a supporter of Vision Zero, Living Streets champions a change in legislation to set 20mph as the default speed limit in built-up areas. Lower speeds are an essential part of liveable neighbourhoods. The consultation and implementation plan TfL have devised are a great step forward for London.'</p>

<p>TfL and the police are working with local communities to tackle speeding in residential areas. Community Roadwatch allows community members to detect speeds in their local area and warning letters are then sent to speeding drivers.</p>

<p>Since Community Roadwatch launched across all 33 London boroughs in August 2015, more than 80,000 speeding drivers have been caught. Fewer than two per cent of people who received letters were caught speeding again.</p>

<p>In addition to reducing the likelihood and severity of collisions, lowering speeds makes London's streets more attractive for walking and cycling, and less polluted.</p>

<hr />
<p>Notes to editors:</p>

<p>The consultation is open until 10 July and can be completed here: <a href="[ioID]#https://consultations.tfl.gov.uk/streets/20/ ">https://consultations.tfl.gov.uk/streets/20/&nbsp;</a></p>

<p>Further information on Vision Zero for London, including the Action Plan, can be found here: <a href="[ioID]#tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></p>

<p>More information on safe speeds is available here: <a href="[ioID]#https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-speeds">https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-speeds</a></p>

<p>TfL is planning to make 20mph the new general speed limit on TfL roads within central London by spring 2020, prioritising the part of the capital with a high volume of vulnerable road users including pedestrians, cyclists and motorcyclists. This is TfL roads within the Congestion Charge Zone, as follows:</p>

<ul>
	<li>Albert Embankment</li>
	<li>Lambeth Palace Road, Lambeth Bridge</li>
	<li>Millbank</li>
	<li>Victoria Embankment</li>
	<li>Upper Thames Street, Lower Thames Street, Tower Hill</li>
	<li>Borough High Street, Great Dover Street</li>
	<li>Blackfriars Road</li>
	<li>Part of Druid Street (between Tower Bridge Road and Crucifix Lane), Crucifix Lane, part of Bermondsey Street (between Crucifix Lane and Tooley Street), part of Tooley Street (between Bermondsey Street and Tower Bridge Road)</li>
</ul>

<p>A 20mph limit will also be introduced at Aldgate Gyratory, including Leman Street, Prescot Street, Mansell Street, Minories and Goodman's Yard, which is on the boundary of the CCZ rather than within it.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Londoners asked for views on plans for lower speed limits -->

 
 
        
        
            @{ViewBag.Description = "Londoners asked for views on plans for lower speed limits in central London";}
        
        


 