


@{ViewBag.Title = "TfL celebrates diversity with new roundels for Pride";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL celebrates diversity with new roundels for Pride</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL celebrates diversity with new roundels for Pride</h1>
        <div class="content-page-press-release">
        25 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Bi Pride roundel unveiled in Tube stations across London for first time
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Pride roundels, celebrating LGBT+ Londoners of all races, backgrounds, sexual orientations and gender identities, will show visitors from across the world that everyone is welcome here and London is truly open to all"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Rainbow Pride roundel updated to represent BAME LGBT+ community</li>
	<li>Free social media giveaway of Pride roundel T-shirts, totes, caps and pin badges</li>
</ul>

<p>The Mayor of London and Transport for London (TfL) celebrate Pride this year with a trio of inclusive roundels ahead of Pride in London on Saturday 6 July. For the first time ever, the Bi Pride roundel can be seen across the transport network alongside the now iconic colours of the rainbow and Trans Pride flags to celebrate the LGBT+ community.</p>

<p>To reflect the diversity of sexualities and gender identities, the ever-popular rainbow roundel returns with additional black and brown stripes to mark the representation of the BAME LGBT+ community. The new Bi Pride roundel uses the pink and purple colours of the Bisexual Pride flag, and the light blue and pink stripes of the Trans Pride flag represent the transgender community.&nbsp; All three roundels will carry the hashtag #EveryStoryMatters.</p>

<p>TfL will also participate in UK Black Pride on 7 July in Haggertson Park. The LGBT+ and BAME staff network groups will be on hand to discuss hate crime reporting, and reassure community groups, customers and staff that if they experience hostility, they should report it to the police who will investigate.</p>

<p>This year, tote bags, pin badges, baseball caps and t-shirts displaying the Pride roundel will also be available to win on TfL's social media channels. Follow &#64;TfL on Twitter and &#64;TransportforLondon on Instagram for more information. For anyone who misses out on the giveaway, the merchandise will also be available to buy at the London Transport Museum.</p>

<p>Tube station posters will feature photographs of TfL staff and partners, encouraging people to be proud of who they are and showing their support for the LGBT+ community.</p>

<p>This year's initiative builds on TfL's strong legacy in supporting Pride, following the introduction of diversity traffic signals and range of rainbow-wrapped vehicles on the transport network.</p>

<p>Last year saw the launch of an LGBT+ Allies group at TfL for members of staff who would like to learn more about LGBT+ issues and support the LGBT+ community. This group has increased awareness and provided employees with a forum to ask questions and share advice, providing a more inclusive environment for staff and customers.</p>

<p><strong>Sadiq Khan, The Mayor of London, said: </strong></p>

<p>'London is a place where you can be who you want to be and love who you want to love. The Pride roundels, celebrating LGBT+ Londoners of all races, backgrounds, sexual orientations and gender identities, will show visitors from across the world that everyone is welcome here and London is truly open to all. I know this year's Pride will be another bold and vibrant celebration of London's LGBT+ community which plays such an important role in shaping the culture of our city.'</p>

<p><strong>Staynton Brown, Director of Diversity, Inclusion &amp; Talent at TfL said: </strong></p>

<p>'TfL has always been a strong supporter of Pride in London, the LGBT+ community, and everyone who lives in our vibrant and diverse city. We welcome all communities and London is open for all to enjoy &#45; whether you're here to work, study or just enjoy London.'</p>

<p><strong>Oli Gant, HR Director at Arriva Rail London, said: </strong></p>

<p>'We're proud to stand alongside Transport for London to celebrate and support the LGBT+ community in our workforce and in the diverse neighbourhoods that we connect across the City. We will be flying the Pride flag at Haggerston, Camden Road and West Croydon with specially designed roundels and posters; ensuring that everyone taking a journey on the London Overground will receive a warm welcome from our teams, at every station, on every train.'</p>

<p><strong>Nick Antjoule, Head of Hate Crime Services at Galop, said: </strong></p>

<p>'Coming together to celebrate London's diversity and to speak up against hate has never been more important. We commend TfL for their continued solidarity with LGBT+ communities at Pride and their goal of challenging homophobia, and transphobia on public transport.'</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>The trio of Pride roundels can be found at the following stations, with partners, Arriva Rail London and KeolisAmey Docklands supporting the installations:</li>
</ul>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Tottenham Court Road Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Southwark Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Camden Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Highbury &amp; Islington Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Bounds Green Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Westminster Underground Station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Haggerston Overground station<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Canary Wharf DLR<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Romford station (TfL Rail)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; East Croydon station (Tram)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Embankment Pier (River service)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o&nbsp;&nbsp; Vauxhall bus station</p>

<ul>
	<li>Most of the info about it is on the front page of their website here: <a href="[ioID]#https://www.ukblackpride.org.uk/">https://www.ukblackpride.org.uk/</a></li>
	<li>TfL and the capital's police are determined to stamp out hate crime in the capital, through working closely with the police to tackle hate crime and support offenders being caught and brought to justice. Find out more about hate crime reporting here: <a href="[ioID]#https://tfl.gov.uk/travel-information/safety/report-a-crime-or-incident">https://tfl.gov.uk/travel-information/safety/report-a-crime-or-incident</a></li>
	<li>Pride merchandise is available for purchase at the London Transport Museum shop or via the online link here: <a href="[ioID]#https://www.ltmuseumshop.co.uk/">https://www.ltmuseumshop.co.uk/</a></li>
	<li>Profits from the sale of merchandise will be used to fund the museum's charitable activities including LGBT-themed activities and events.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-TfL celebrates diversity with new roundels for Pride -->

 
 
        
        
            @{ViewBag.Description = "Transport for London celebrates diversity with new roundels for Pride";}
        
        


 