
    
  



@{ViewBag.Title = "A brief history of the Underground ";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/a-brief-history-of-the-underground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">A brief history of the Underground </span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A brief history of the Underground </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        From its creation to the present day, London Underground's 150-year history has been an eventful one. 
        
      </div>
    
    
      <h2>London Underground milestones</h2>
<br />
<p><strong>1843</strong></p>
<p>Constructed by Sir Marc Brunel and his son Isambard, the Thames Tunnel opens</p>
<p><strong>1863</strong></p>
<p>On 10 January, The Metropolitan Railway opens the world's first underground railway, between Paddington (then called Bishop's Road) and Farringdon Street</p>
<p><strong>1868</strong></p>
<p>The first section of the Metropolitan District Railway, from
South Kensington to Westminster (now part of the District and Circle
lines), opens</p>
<p><strong>1869</strong></p>
<p>The first steam trains travel through the Brunels' Thames Tunnel</p>
<p><strong>1880</strong></p>
<p>Running from the Tower of London to Bermondsey, the first Tube tunnel opens</p>
<p><strong>1884</strong></p>
<p>The Circle line is completed</p>
<p><strong>1890 </strong></p>
<p>On 18 December, The City and South London Railway opens the world's first
deep-level electric railway. It runs from King William Street in
the City of London, under the River Thames, to Stockwell</p>
<p><strong>1900</strong></p>
<p>The Prince of Wales opens the Central London Railway from Shepherd's Bush to
Bank (the 'Twopenny Tube'). This is&nbsp;now part of the Central line</p>
<p><strong>1902</strong></p>
<p>The Underground Electric Railway Company of London (known as the Underground Group) is formed. By the start of WWI, mergers had brought all lines - except the Metropolitan line</p>
<p><strong>1905</strong></p>
<p>District and Circle lines become electrified</p>
<p><strong>1906</strong></p>
<p>Baker Street &amp; Waterloo Railway (now part of the Bakerloo line)
opens and runs from Baker Street to Kennington Road (now Lambeth North). Great
Northern, Piccadilly &amp; Brompton Railway (now part of the Piccadilly
line) opens between Hammersmith and Finsbury Park</p>
<p><strong>1907</strong></p>
<p>Charing Cross, Euston &amp; Hampstead Railway (now part of the
Northern line) opens and runs from Charing Cross to Golders Green and Highgate
(now Archway). Albert Stanley (later Lord Ashfield) is appointed General Manager of the Underground Electric Railway Company of London
Limited</p>
<p><strong>1908</strong></p>
<p>The name 'Underground' makes its first appearance in stations, and the first electric ticket-issuing machine is introduced. This year also sees the first appearance of the famous roundel symbol </p>
<p><strong>1911</strong></p>
<p>London's first escalators are installed at Earl's Court station</p>
<p><strong>1929</strong></p>
<p>The last manually-operated doors on Tube trains are replaced by air-operated doors</p>
<p><strong>1933</strong></p>
<ul>
    <li>The Underground Group and the Metropolitan Railway become part of
    the London Passenger Transport Board, taking control of all the
    Capital's railway, bus, tram, trolleybus and coach services</li>
    <li>Harry Beck presents the first diagram of the Underground map </li>
</ul>
<p>
<strong>1940</strong></p>
<p>Between September 1940 and May 1945, most Tube station platforms are used
as air raid shelters. Some, like the Piccadilly line, Holborn - Aldwych branch,
are closed to store British Museum treasures</p>
<p><strong>1948</strong></p>
<p>The London Passenger Transport Board was nationalised and now becomes the London Transport Executive</p>
<p><strong>1952</strong></p>
<p>The first aluminium train enters service on the District line</p>
<p><strong>1961</strong></p>
<p>Sees the end of the steam and electric locomotive haulage of London Transport passenger trains</p>
<p><strong>1963</strong></p>
<p>The London Transport Executive becomes the London Transport Board, reporting directly to the Minister of Transport</p>
<p><strong>1969</strong></p>
<p>The Queen opens the Victoria line</p>
<p><strong>1970</strong></p>
<p>The London Transport Executive takes over the Underground and the Greater London area bus network, reporting to Greater London Council</p>
<p><strong>1971</strong></p>
<ul>
    <li>The last steam shunting and freight locomotive is withdrawn from service</li>
    <li>The Victoria line extends to Brixton</li>
</ul>
<p><strong>1975</strong></p>
<p>A fatal accident on the Northern line at Moorgate kills 43 people. New safety measures were introduced</p>
<p><strong>1977</strong></p>
<p>The Queen opens Heathrow Central station (Terminals 1 2 3) on the Piccadilly line</p>
<p><strong>1979</strong></p>
<p>The Prince of Wales opens the Jubilee line</p>
<p><strong>1980</strong></p>
<p>A museum about the birthplace
of modern urban transportation, called Brunel Engine House, opens to the public </p>
<p><strong>1983</strong></p>
<p>Dot matrix train destination indicators introduced on platforms.</p>
<p><strong>1984</strong></p>
<p>The Hammersmith &amp; City and the Circle lines convert to one-person operation</p>
<p><strong>1986</strong></p>
<p>The Piccadilly line is extended to serve Heathrow Terminal 4</p>
<p><strong>1987</strong></p>
<p>A tragic fire at King's Cross station kills 31 people</p>
<p><strong>1989</strong></p>
<p>New safety and fire regulations are introduced following the Fennell Report into the King's Cross fire</p>
<p><strong>1992 </strong></p>
<p>The London Underground Customer Charter is launched</p>
<p><strong>1993</strong></p>
<ul>
    <li>Reconstruction work on Angel station ended</li>
    <li>Work started on the extended Jubilee line from Green Park to Stratford</li>
</ul>
<p><strong>1994 </strong></p>
<ul>
    <li>Penalty fares are introduced</li>
    <li>London Underground takes over the Waterloo &amp; City line and responsibility for the stations on the Wimbledon branch of the District line from Putney Bridge to Wimbledon Park</li>
    <li>Aldwych station, and the Central line branch from Epping to Ongar closes</li>
</ul>
<p><strong>1999</strong></p>
<ul>
    <li>London Underground is restructured in preparation for Public Private Partnership</li>
    <li>The extended Jubilee line opens, offering through services from Stanmore to Stratford</li>
</ul>
<p><strong>2003</strong></p>
<ul>
    <li>The Oyster card is introduced</li>
    <li>Busking is legalised </li>
</ul>
<p><strong>2005</strong></p>
<p>52 people are killed in bomb attacks on three Tube trains and a bus on 7 July</p>
<p><strong>2007</strong></p>
<ul>
    <li>The Tube carries&nbsp;one billion passengers in a year for the first time</li>
    <li>14 former Silverlink stations transfer to London Underground (LU)</li>
    <li>The East London line closes for rebuilding and extension as part of new London Overground network</li>
</ul>
<p><strong>2008</strong></p>
<ul>
    <li>Piccadilly line extension to Heathrow Terminal 5 opens</li>
    <li>Metronet transfers to TfL control</li>
</ul>
<p><strong>2009</strong></p>
<ul>
    <li>
    The Circle line changes shape</li>
    <li> LU is named Best Metro Europe</li>
</ul>
<p><strong>2010</strong></p>
<ul>
    <li>The Queen visits Aldgate station</li>
    <li>LU achieves Carbon Trust Standard</li>
    <li>The first air-conditioned, walk-through Underground train runs on the Metropolitan line</li>
    <li>Through services replace the Chesham shuttle</li>
</ul>
<p><strong>2011</strong></p>
<ul>
    <li>A full fleet of brand new Victoria Line trains become operational;</li>
    <li>Green Park becomes step-free to provide easier access to the Victoria, Piccadilly and Jubilee lines in time for the Olympics</li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/disused-underground-stations">Disused underground stations  </a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/a-brief-history-of-the-underground">A brief history of the Underground </a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="plain-button">TfL Corporate Archives</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The roots of the London Underground go back to the opening of the Thames Tunnel in 1843";}
        
            
        


 