
    
  



@{ViewBag.Title = "Disused underground stations  ";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/disused-underground-stations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Disused underground stations  </span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Disused underground stations  </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about London's disused Underground stations.  
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>There are 270 functioning stations across our network, but at least 40 Overground and Underground stations still in existence are no longer used for travel. </p>
<p>Closed for a variety of reasons, from low passenger numbers to re-routing, these stations have had interesting histories. Some offered a vital refuge throughout the wars.</p>
<p>During World War Two, many stations were used as public shelters and underground offices for London Underground and government staff. Down Street station was transformed into an underground facility with phone lines, and even hosted a meeting of the War Cabinet. Another, Brompton Road, was sold to the War Office in 1938 and is still used by the Ministry of Defence today.</p>
<p>Stations have also played a part in Britain's cultural life. Aldwych station, for example, was used to house the National Gallery's collection during WWI and British Museum artefacts (including the Elgin Marbles), during WWII. </p>
<p>In more recent years, Aldwych has doubled up as a filming location for productions as diverse as The Prodigy's 'Firestarter' music video, and zombie movie, '28 Weeks Later.'</p>
</div>
 

        <p>The following stations give some idea about disused stations and when they closed down. A complete list of stations, and additional research material, is available in our <a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">Corporate Archives</a> section.</p>
    

        <div> </div>
        <div class="table-container"><table>
            <thead>
                <tr>
                    <th rowspan="1" colspan="1"><strong>Name</strong></th>
                    <th rowspan="1" colspan="1"><strong>Line</strong></th>
                    <th rowspan="1" colspan="1"><strong>Closed</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>King William Street</td>
                    <td>City &amp; South London Railway</td>
                    <td>1900</td>
                </tr>
                <tr>
                    <td>City Road</td>
                    <td>City &amp; South London Railway</td>
                    <td>1922</td>
                </tr>
                <tr>
                    <td>Down Street</td>
                    <td>Great Northern Piccadilly and Brompton Railway</td>
                    <td>1932</td>
                </tr>
                <tr>
                    <td>Brompton Road</td>
                    <td>Great Northern Piccadilly and Brompton Railway</td>
                    <td>1934</td>
                </tr>
                <tr>
                    <td>Swiss Cottage</td>
                    <td>Metropolitan and St John's Wood Railway</td>
                    <td>1940</td>
                </tr>
                <tr>
                    <td>Wood Lane</td>
                    <td>Hammersmith and City</td>
                    <td>1959</td>
                </tr>
                <tr>
                    <td>Mark Lane and Tower Hill</td>
                    <td>Circle</td>
                    <td>1967</td>
                </tr>
                <tr>
                    <td>Blake Hall</td>
                    <td>Epping-Ongar and Central</td>
                    <td>1981</td>
                </tr>
                <tr>
                    <td>Aldwych</td>
                    <td>Great Northern Piccadilly and Brompton Railway</td>
                    <td>1994</td>
                </tr>
                <tr>
                    <td>Charing Cross</td>
                    <td>Jubilee</td>
                    <td>1999</td>
                </tr>
            </tbody>
        </table></div>
    


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/disused-underground-stations">Disused underground stations  </a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/a-brief-history-of-the-underground">A brief history of the Underground </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "They're not used for travel, but history is alive in London Underground's disused stations";}
        
            
        


 