


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/new-years-honour-for-retired-managing-director-of-london-rail">New Year's Honour for retired Managing Director of London Rail<br />31 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/how-barclays-cycle-hire-is-making-london-better-off">How Barclays Cycle Hire is making London better off<br />31 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/make-sure-you-get-home-safely-this-new-year">Make sure you get home safely this New Year<br />30 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/reminder-that-new-fares-for-all-tfl-services-will-come-into-effect-from-sunday-2-january-2011">Reminder that new fares for all TfL services will come into effect from Sunday 2 January 2011<br />30 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/london-safety-camera-partnership-website-wins-international-road-safety-award">London Safety Camera Partnership website wins international road safety award<br />29 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/disruption-likely--but-service-operating-on-all-scheduled-lines-despite-strike--service-update">Disruption likely - but service operating on all scheduled lines despite strike - Service update<br />26 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/disruption-likely--but-service-operating-on-all-scheduled-lines-despite-strike">Disruption likely - but service operating on all scheduled lines despite strike<br />26 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/tfl-to-carry-out-resurfacing-works-on-king-william-street-during-christmas-period">TfL to carry out resurfacing works on King William Street during Christmas period<br />23 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/london-underground-sets-out-services-it-intends-to-run-despite-strike-called-by-aslef-leadership">London Underground sets out services it intends to run despite strike called by ASLEF leadership<br />23 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/aslef-boxing-day-strike-threat-beyond-belief-says-lu-managing-director">ASLEF Boxing Day strike threat 'beyond belief', says LU Managing Director<br />22 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-westminster">Mayor's funding boost for local transport improvements in Westminster<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-wandsworth">Mayor's funding boost for local transport improvements in Wandsworth<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-waltham-forest">Mayor's funding boost for local transport improvements in Waltham Forest<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/major-new-scheme-proposed-to-ease-congestion-at-bank-station">Major new scheme proposed to ease congestion at Bank station <br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-tower-hamlets">Mayor's funding boost for local transport improvements in Tower Hamlets<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-sutton">Mayor's funding boost for local transport improvements in Sutton<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-southwark">Mayor's funding boost for local transport improvements in Southwark<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/increasing-numbers-of-londoners-swapping-their-car-for-public-transport">Increasing numbers of Londoners swapping their car for public transport<br />20 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/keeping-london-moving-through-the-cold-weather">Keeping London moving through the cold weather<br />17 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/transport-engineering-works-on-christmas-day">Transport engineering works on Christmas Day<br />17 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/london-underground-sets-out-services-it-intends-to-run-despite-bakerloo-line-strike-action">London Underground sets out services it intends to run despite Bakerloo line strike action <br />17 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayor-announces-andpound146m-for-local-transport-improvements-across-london">Mayor announces &pound;146m for local transport improvements across London<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-ealing">Mayor's funding boost for local transport improvements in Ealing<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-havering">Mayor's funding boost for local transport improvements in Havering<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-lambeth">Mayor's funding boost for local transport improvements in Lambeth<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-harrow">Mayor's funding boost for local transport improvements in Harrow<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-barking-and-dagenham">Mayor's funding boost for local transport improvements in Barking and Dagenham<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-hammersmith-and-fulham">Mayor's funding boost for local transport improvements in Hammersmith & Fulham<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-hounslow">Mayor's funding boost for local transport improvements in Hounslow<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-lewisham">Mayor's funding boost for local transport improvements in Lewisham<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-hackney">Mayor's funding boost for local transport improvements in Hackney<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-bromley">Mayor's funding boost for local transport improvements in Bromley<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-merton">Mayor's funding boost for local transport improvements in Merton<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/aslef-leadership-urged-to-drop-disgraceful-boxing-day-tripletime-pay-claim">Aslef leadership urged to drop 'disgraceful' Boxing Day triple-time pay claim<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-enfield">Mayor's funding boost for local transport improvements in Enfield<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-the-royal-borough-of-richmond-upon-thames">Mayor's funding boost for local transport improvements in the Royal Borough of Richmond upon Thames<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-haringey">Mayor's funding boost for local transport improvements in Haringey<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-newham">Mayor's funding boost for local transport improvements in Newham<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-the-city-of-london">Mayor's funding boost for local transport improvements in the City of London<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-greenwich">Mayor's funding boost for local transport improvements in Greenwich<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-hillingdon">Mayor's funding boost for local transport improvements in Hillingdon<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-islington">Mayor's funding boost for local transport improvements in Islington<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/tfl-publishes-annual-festive-travel-guide-and-confirms-free-travel-for-new-year-revellers">TfL publishes annual Festive Travel Guide and confirms free travel for New Year revellers<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-the-royal-borough-of-kingston-upon-thames">Mayor's funding boost for local transport improvements in the Royal Borough of Kingston Upon Thames<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-bexley">Mayor's funding boost for local transport improvements in Bexley<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-croydon">Mayor's funding boost for local transport improvements in Croydon<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-camden">Mayor's funding boost for local transport improvements in Camden<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-the-royal-borough-of-kensington-and-chelsea">Mayor's funding boost for local transport improvements in the Royal Borough of Kensington & Chelsea <br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-brent">Mayor's funding boost for local transport improvements in Brent<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-redbridge">Mayor's funding boost for local transport improvements in Redbridge<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-funding-boost-for-local-transport-improvements-in-barnet">Mayor's funding boost for local transport improvements in Barnet<br />16 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/londons-biggest-barclays-cycle-hire-docking-station-is-now-open">London's biggest Barclays Cycle Hire docking station is now open<br />14 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/tfl-builds-new-road-to-keep-traffic-moving-during-tube-station-construction">TfL builds new road to keep traffic moving during Tube station construction<br />14 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/developers-and-passengers-to-benefit-from-free-live-tube-information-in-special-tfl-online-area">Developers and passengers to benefit from free live Tube information in special TfL online area<br />14 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/final-work-dates-announced-for-london-overgrounds-multimillion-pound-upgrade">Final work dates announced for London Overground's multi-million pound upgrade<br />14 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/fourweek-closure-for-improvement-works-on-most-delayed-part-of-circle-and-district-lines-during-summer-2011">Four-week closure for improvement works on most delayed part of Circle and District lines during summer 2011<br />13 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayor-of-london-unveils-hydrogen-bus-fleet-for-the-capital">Mayor of London unveils hydrogen bus fleet for the Capital<br />10 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/london-underground-awards-track-renewal-contract">London Underground awards track renewal contract<br />10 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/changes-to-the-road-network-and-bus-stops-in-the-victoria-area">Changes to the road network and bus stops in the Victoria area<br />09 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/tfl-tube-and-rail-services-rack-up-record-ridership-figures">TfL Tube and rail services rack up record ridership figures<br />08 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/chesham-trains-to-run-direct-into-central-london">Chesham trains to run direct into central London <br />07 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/iconic-tube-signs-arrive-at-orchard-hill-college-and-carshalton-college">Iconic Tube signs arrive at Orchard Hill College and Carshalton College<br />07 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/rose-design-with-art-on-the-underground-steals-show-at-design-week-awards">Rose Design with Art on the Underground steals show at Design Week awards<br />06 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/rose-design-with-art-on-the-underground-steals-show-at-design-week-awards">Rose Design with Art on the Underground steals show at Design Week awards<br />06 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/mayors-flagship-barclays-cycle-hire-is-now-open-to-anyone-anytime">Mayor's flagship Barclays Cycle Hire is now open to anyone, anytime<br />03 Dec 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/december/london-underground-condemns-latest-outrageous-rmt-strike-threat">London Underground condemns latest outrageous RMT strike threat <br /></a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 