


@{ViewBag.Title = "November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">November</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>November</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tfls-lost-property-office-brings-christmas-joy-to-hundreds-of-children">TfL's Lost Property Office brings Christmas joy to hundreds of children<br />30 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/threecar-trains-increase-capacity-on-dlr-stratford-to-lewisham-route">Three-car trains increase capacity on DLR Stratford to Lewisham route<br />30 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tube-carries-half-usual-number-of-passengers-despite-strike--1730-update">Tube carries half usual number of passengers despite strike - 17:30 update<br />29 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tfl-condemns-unions-refusal-to-continue-constructive-talks">TfL condemns unions' refusal to continue constructive talks <br />26 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/lu-sets-out-tube-services-it-intends-to-run-despite-strike">LU sets out Tube services it intends to run despite strike<br />26 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/if-your-minicabs-not-booked-its-just-a-strangers-car--new-campaign-warns-londoners-of-unbooked-minicab-danger">If your minicab's not booked, it's just a stranger's car - new campaign warns Londoners of unbooked minicab danger<br />26 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/transport-bosses-vow-to-help-londoners-beat-strike-again">Transport bosses vow to help Londoners beat strike again<br />26 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/transport-bosses-vow-to-help-londoners-beat-strike-again">Transport bosses vow to help Londoners beat strike again<br />26 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/london-gears-up-for-cold-weather">London gears up for cold weather<br />25 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tfl-completes-kender-street-triangle-improvement-works">TfL completes Kender Street Triangle improvement works<br />24 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tfl-commissioner-blasts-thames-water-traffic-chaos">TfL Commissioner blasts Thames Water traffic chaos <br />24 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/mayors-flagship-barclays-cycle-hire-to-go-live-for-casual-users-on-3-december-2010">Mayor's flagship Barclays Cycle Hire to go live for casual users on 3 December 2010<br />24 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/preregister-now-for-congestion-charge-auto-pay-accounts">Pre-register now for Congestion Charge Auto Pay accounts<br />23 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/london-river-services-unveils-autumnwinter-river-guides">London River Services unveils autumn/winter River Guides<br />22 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/east-london-transit-scoops-prize-at-uk-bus-awards">East London Transit scoops prize at UK Bus Awards<br />19 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/barclays-cycle-hire-wins-london-cycling-campaign-best-cycle-facility-award">Barclays Cycle Hire wins London Cycling Campaign Best Cycle Facility award <br />19 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tfl-secures-first-shortterm-borrowing-under-its-newly-established-andpound2bn-commercial-paper-programme">TfL secures first short-term borrowing under its newly established &pound;2bn Commercial Paper Programme<br />18 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/major-facelift-of-london-bridge-bus-station-begins">Major facelift of London Bridge bus station begins<br />16 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/finsbury-park-bus-station-closure--monday-22-november-until-friday-10-december">Finsbury Park bus station closure - Monday 22 November until Friday 10 December<br />15 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/uk-first-as-innovative-trial-to-reduce-londons-air-pollution-gets-under-way">UK first as innovative trial to reduce London's air pollution gets under way<br />12 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/route-18-is-fifth-in-london-to-banish-bendy-buses">Route 18 is fifth in London to banish bendy buses<br />12 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/national-grid-to-carry-out-urgent-works-in-knightsbridge">National Grid to carry out urgent works in Knightsbridge <br />12 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/emergency-repair-works-start-on-a406-woodford-viaduct">Emergency repair works start on A406 Woodford Viaduct <br />12 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/thames-water-to-carry-out-emergency-works-on-a5-edgware-road-this-weekend">Thames Water to carry out emergency works on A5 Edgware Road this weekend<br />12 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/mayor-hops-on-his-new-bus-for-london">Mayor hops on his new bus for London<br />11 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/pupils-design-and-build-tube-station">Pupils design and build Tube station<br />10 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/mayors-flagship-barclays-cycle-hire-scheme-heads-east-in-time-for-the-2012-games">Mayor's flagship Barclays Cycle Hire scheme heads east in time for the 2012 Games<br />10 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/victoria-station-upgrade-wins-most-outstanding-project-award">Victoria Station Upgrade wins 'most outstanding project' award<br />10 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/mayors-electric-vehicle-charging-network-source-london-to-go-live-in-spring-2011">Mayor's electric vehicle charging network, Source London, to go live in spring 2011<br />06 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/london-overground-manager-and-passenger-meetings-will-set-out-alternative-travel-for-closures">London Overground manager and passenger meetings will set out alternative travel for closures <br />04 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/eu-funding-helps-secure-three-more-hydrogen-buses-for-london">EU funding helps secure three more hydrogen buses for London<br />04 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/lu-sets-out-tube-services-it-intends-to-run-despite-strike">LU sets out Tube services it intends to run despite strike <br />03 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/tube-getting-londoners-home-despite-strike-1730-update">Tube getting Londoners home despite strike: 17:30 update<br />03 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/improved-ticket-office-at-victoria-tube-station">Improved ticket office at Victoria Tube station<br />02 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/work-starts-today-on-londons-biggest-cycle-hire-docking-station">Work starts today on London's biggest cycle hire docking station <br />01 Nov 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/november/transport-for-london-pledges-to-keep-london-moving-despite-strike">Transport for London pledges to keep London moving despite strike<br />01 Nov 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 