


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/london-underground-and-bt-to-trial-wifi-at-charing-cross-tube-station">London Underground and BT to trial Wi-Fi at Charing Cross Tube station<br />29 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/footballs-rising-stars-lend-their-support-to-teen-road-safety-campaign">Football's rising stars lend their support to teen road safety campaign <br />28 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/celebrities-donate-their-time-to-support-road-safety-this-autumn">Celebrities donate their time to support road safety this autumn <br />25 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/cyclists-urged-to-take-extra-care-around-lorries-at-junctions">Cyclists urged to take extra care around lorries at junctions <br />25 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/sections-of-the-a2-to-be-closed-overnight-for-two-weeks">Sections of the A2 to be closed overnight for two weeks<br />21 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/mayor-confirms-2011-fares-at-level-signalled-last-year-and-protects-all-free-and-concessionary-travel">Mayor confirms 2011 fares at level signalled last year and protects all free and concessionary travel<br />20 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/mayor-secures-vital-london-transport-investment-and-protects-frontline-services">Mayor secures vital London transport investment and protects frontline services<br />20 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/mayor-confirms-removal-of-congestion-charge-western-extension-zone-by-christmas-and-introduction-of-cc-auto-pay-in-new-year">Mayor confirms removal of Congestion Charge Western Extension Zone by Christmas and introduction of CC Auto Pay in New Year<br />20 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/london-underground-md-apologises-to-passengers">London Underground MD apologises to passengers <br />19 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/new-bus-route-324-provides-links-between-stanmore-and-brent-cross">New bus route 324 provides links between Stanmore and Brent Cross<br />19 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/glory-for-film-maker-who-follows-cycle-path-to-true-love">Glory for film maker who follows cycle path to true love <br />18 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/fare-evaders-foiled-as-route-149-goes-double-deck">Fare evaders foiled as route 149 goes double deck <br />18 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/heritage-award-for-maida-vale-tube-station">Heritage award for Maida Vale Tube station<br />15 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/londons-transport-upgrade-creates-400-jobs-in-the-midlands">London's transport upgrade creates 400 jobs in the Midlands<br />15 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/young-gifted-poets-arrive-on-tube">Young gifted poets arrive on Tube<br />12 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/london-underground-ready-for-constructive-acas-talks-with-rmt-and-tssa-leaderships">London Underground ready for constructive ACAS talks with RMT and TSSA leaderships<br />12 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/blackwall-tunnel-closed-to-southbound-traffic-this-weekend">Blackwall Tunnel closed to southbound traffic this weekend<br />11 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/mayors-flagship-cycle-scheme-hits-one-million-journeys">Mayor's flagship cycle scheme hits one million journeys <br />08 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/london-underground-to-review-nonoperational-staff-roles-to-further-reduce-costs-and-improve-efficiency">London Underground to review non-operational staff roles to further reduce costs and improve efficiency<br />07 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/services-return-to-normal-on-london-underground">Services return to normal on London Underground <br />05 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/mayor-and-tfl-urge-londons-drivers-to-look-out-for-motorcyclists-in-bus-lanes">Mayor and TfL urge London's drivers to look out for motorcyclists in bus lanes<br />05 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/ian-brown-longstanding-managing-director-of-london-rail-set-to-retire">Ian Brown, longstanding Managing Director of London Rail, set to retire<br />05 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/unions-fail-to-bring-london-to-a-halt">Unions fail to bring London to a halt<br />04 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/up-to-40-per-cent-of-tube-services-operated-today-as-unions-failed-to-bring-london-to-a-halt">Up to 40 per cent of Tube services operated today as unions failed to bring London to a halt<br />04 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/better-tube-services-running-and-more-of-the-network-served-than-during-the-last-strike">Better Tube services running and more of the network served than during the last strike<br />04 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/strike-will-not-stop-london-from-moving-vows-transport-for-london">Strike will not stop London from moving, vows Transport for London<br />01 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/london-underground-chief-urges-rmt-and-tssa-leaderships-to-call-off-pointless-strike">London Underground chief urges RMT and TSSA leaderships to call off 'pointless' strike<br />01 Oct 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/october/initial-works-start-on-two-more-continuous-direct-cycle-routes-for-londoners">Initial works start on two more continuous, direct cycle routes for Londoners <br />01 Oct 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 