


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/london-overground-delivers-to-satisfied-customers">London Overground delivers to satisfied customers<br />29 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/more-officers-take-to-two-wheels-as-specialist-police-cycling-squad-expands">More officers take to two wheels as specialist police cycling squad expands<br />29 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/elephant-and-castles-southern-roundabout-to-be-removed-next-weekend">Elephant & Castle's southern roundabout to be removed next weekend <br />28 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/works-begin-to-build-new-maintenance-facility-at-neasden-depot">Works begin to build new maintenance facility at Neasden Depot<br />28 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/magical-taxi-tour-from-london-to-disneyland-paris">Magical Taxi Tour from London to Disneyland Paris <br />27 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/kings-cross-st-pancras-tube-station-is-stepfree-with-10-new-lifts">King's Cross St. Pancras Tube station is step-free with 10 new lifts<br />27 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/talks-at-acas-off-as-rmt-and-tssa-leaderships-reject-london-undergrounds-guarantees-on-jobs-and-safety">Talks at ACAS off as RMT and TSSA leaderships reject London Underground's guarantees on jobs and safety<br />24 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/tfl-warns-new-students-and-other-londoners-of-the-dangers-of-taking-unbooked-minicabs">TfL warns new students and other Londoners of the dangers of taking unbooked minicabs<br />23 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/london-underground-urges-unions-to-resume-acas-talks">London Underground urges unions to resume ACAS talks<br />23 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/celebrate-londons-walking-weekend-with-more-than-50-free-autumn-ambles-to-choose-from">Celebrate London's walking weekend with more than 50 free Autumn Ambles to choose from<br />21 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/larger-vans-and-minibuses-required-to-meet-low-emission-zone-standards-from-january-2012">Larger vans and minibuses required to meet Low Emission Zone standards from January 2012 <br />20 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/as-starting-cannon-fires-london-river-services-gets-ready-for-the-great-river-race">As starting cannon fires London River Services gets ready for The Great River Race<br />20 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/final-leg-of-london-overgrounds-multimillion-pound-upgrade-to-be-completed">Final leg of London Overground's multi-million pound upgrade to be completed<br />17 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/north-acton-tube-station-scoops-fruit-and-veg-award-while-high-barnet-blooms-in-light-of-best-overall-garden-prize">North Acton Tube station scoops fruit and veg award while High Barnet blooms in light of Best Overall Garden prize <br />17 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/barclays-cycle-hire-collaborates-with-designer-jeanpierre-braganza-for-london-fashion-week">Barclays Cycle Hire collaborates with designer Jean-Pierre Braganza for London Fashion Week<br />16 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/fourcar-trains-complete-london-overgrounds-electric-train-fleet">Four-car trains complete London Overground's electric train fleet<br />15 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/consultation-commences-to-reshape-tube-lines-for-the-future">Consultation commences to re-shape Tube Lines for the future<br />15 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/final-stage-of-worldclass-tour-of-britain-cycle-race-to-take-place-in-london-this-weekend">Final stage of world-class Tour of Britain cycle race to take place in London this weekend<br />15 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/travel-advice-during-the-popes-visit-to-london-1718-september">Travel advice during the Pope's visit to London: 17-18 September<br />10 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/mayor-hails-half-a-million-journeys-on-barclays-cycle-hire-scheme">Mayor hails half a million journeys on Barclays Cycle Hire scheme<br />09 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/is-your-zip-oyster-photocard-or-free-bus-and-tram-travel-about-to-expire">Is your Zip Oyster photocard or free bus and tram travel about to expire?<br />09 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/tfl-thanks-customers-and-staff-as-tube-services-return-to-normal">TfL thanks customers and staff as Tube services return to normal<br />08 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/tfl-advice-to-londoners-during-rmttssa-tube-strike-1700-update">TfL advice to Londoners during RMT/TSSA Tube strike: 17:00 update<br />07 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/london-underground-calls-on-rmt-and-tssa-leadership-to-call-off-strike-and-return-to-talks">London Underground calls on RMT and TSSA leadership to call off strike and return to talks<br />06 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/a-new-platform-signals-all-change-at-stratford-ahead-of-2012">A new platform signals all change at Stratford ahead of 2012 <br />03 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/plans-released-to-keep-london-moving-during-threatened-rmt-and-tssa-strike">Plans released to keep London moving during threatened RMT and TSSA strike<br />03 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/kender-street-triangle-to-switch-to-twoway-traffic-this-weekend">Kender Street Triangle to switch to two-way traffic this weekend <br />03 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/london-underground-statement-on-talks-at-acas">London Underground statement on talks at ACAS <br />02 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/its-all-hands-on-deck-as-londons-river-services-get-ready-for-the-thames-festival">It's all hands on deck as London's river services get ready for the Thames Festival<br />02 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/350000-journeys-made-on-mayors-flagship-cycle-scheme-in-its-first-month">350,000 journeys made on Mayor's flagship cycle scheme in its first month<br />02 Sep 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/september/london-underground-welcomes-rmt-and-tssa-leaderships-attendance-at-acas-talks">London Underground welcomes RMT and TSSA leaderships attendance at ACAS talks<br />02 Sep 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 