


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/are-your-children-fully-prepared-to-go-back-to-school">Are your children fully prepared to go back to school? <br />31 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-welcomes-rmt-and-tssa-leaderships-agreement-to-acas-talks">London Underground welcomes RMT and TSSA leaderships' agreement to ACAS talks<br />31 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/blackwall-tunnel-northbound-refurbishment-to-be-completed-six-months-early">Blackwall Tunnel northbound refurbishment to be completed six months early<br />27 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/hundreds-of-unclaimed-bikes-pile-up-in-the-capitals-police-stations">Hundreds of unclaimed bikes pile up in the Capital's police stations <br />26 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/mayors-flagship-barclays-cycle-hire-scheme-hits-250000-journeys">Mayor's flagship Barclays Cycle Hire scheme hits 250,000 journeys <br />25 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-urges-union-leaders-to-call-off-strike-action">London Underground urges union leaders to call off strike action<br />25 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-urges-union-leaders-to-reconsider-strike-threat">London Underground urges union leaders to reconsider strike threat<br />24 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/major-changes-to-routes-15-n15-159-and-n159">Major changes to routes 15, N15, 159 and N159<br />24 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/wellknown-londoners-join-mayors-cycling-revolution">Well-known Londoners join Mayor's Cycling Revolution <br />20 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/new-links-on-route-320">New links on route 320<br />19 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/lu-urges-tssa-leadership-to-rethink-strike-action-as-new-figures-show-extent-of-ticket-office-sales-decline">LU urges TSSA leadership to rethink strike action as new figures show extent of ticket office sales decline<br />18 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/young-people-reminded-to-make-the-most-of-their-holidays-by-signing-up-to-zip">Young people reminded to make the most of their holidays by signing up to Zip<br />17 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/andpound30m-saved-as-new-oyster-contract-begins">&pound;30m saved as new Oyster contract begins<br />17 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-tramlink-investment-continues-with-upgrade-works">London Tramlink investment continues with upgrade works<br />17 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/from-tomatoes-in-tottenham-hale-to-potatoes-at-putney-bridge-tube-staff-compete-to-win-title-for-best-fruit-and-veg">From tomatoes in Tottenham Hale to potatoes at Putney Bridge, Tube staff compete to win title for best fruit and veg<br />17 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/services-resume-on-hammersmith-and-city-and-circle-lines-after-successful-threeweek-upgrade-closure">Services resume on Hammersmith & City and Circle lines after successful three-week upgrade closure<br />16 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-launches-investigation-into-incident-involving-engineering-train-on-northern-line">London Underground launches investigation into incident involving engineering train on Northern line<br />13 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/mayors-flagship-barclays-cycle-hire-scheme-hits-100000-journeys">Mayor's flagship Barclays Cycle Hire scheme hits 100,000 journeys<br />12 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-urges-rmt-leadership-to-end-threat-of-industrial-action">London Underground urges RMT leadership to end threat of industrial action<br />11 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/film-competition-celebrates-londons-cycling-revolution">Film competition celebrates London's Cycling Revolution<br />10 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/london-underground-sets-out-next-phase-of-jubilee-line-upgrade-as-annual-ppp-report-is-published">London Underground sets out next phase of Jubilee line upgrade, as annual PPP report is published<br />10 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/the-best-way-to-get-to-notting-hill-carnival-sunday-29--monday-30-august-2010">The best way to get to Notting Hill Carnival: Sunday 29 - Monday 30 August 2010<br />09 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/andpound300m-contract-awarded-for-redevelopment-of-bond-street-tube-station">&pound;300m contract awarded for redevelopment of Bond Street Tube station<br />04 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/northern-line-upgrade-weekend-closures-cancelled-in-august">Northern line upgrade weekend closures cancelled in August<br />03 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/first-ever-airconditioned-tube-train-is-now-in-passenger-service">First ever air-conditioned Tube train is now in passenger service<br />02 Aug 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/august/over-21000-members-and-14000-journeys-as-mayors-flagship-barclays-cycle-hire-scheme-gets-off-to-great-start">Over 21,000 members and 14,000 journeys as Mayor's flagship Barclays Cycle Hire scheme gets off to great start<br />02 Aug 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 