


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayors-flagship-cycling-scheme--barclays-cycle-hire--opens-for-business">Mayor's flagship cycling scheme - Barclays Cycle Hire - opens for business<br />30 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/bicycles-in-place-for-mayors-flagship-barclays-cycle-hire-scheme">Bicycles in place for Mayor's flagship Barclays Cycle Hire scheme<br />29 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/with-over-9000-people-already-signed-up-for-mayors-barclays-cycle-hire-scheme-pioneers-are-urged-to-activate-their-keys">With over 9,000 people already signed up for Mayor's Barclays Cycle Hire scheme, pioneers are urged to activate their keys <br />28 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/street-stencils-support-teens-road-safety-campaign">Street stencils support teens road safety campaign<br />27 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/cycle-safety-video-launched-for-mayors-flagship-cycling-scheme">Cycle safety video launched for Mayor's flagship cycling scheme<br />26 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayor-calls-on-londoners-to-join-cycling-revolution-as-over-3500-sign-up-for-barclays-cycle-hire">Mayor calls on Londoners to join cycling revolution as over 3,500 sign up for Barclays Cycle Hire<br />25 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/application-fee-to-be-introduced-for-new-zip-oyster-photocard-applications-from-1-september">Application fee to be introduced for new Zip Oyster photocard applications from 1 September <br />23 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayor-calls-for-pioneers-to-sign-up-for-flagship-cycle-hire-scheme">Mayor calls for pioneers to sign up for flagship cycle hire scheme <br />23 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/more-than-1700-people-already-cycle-hire-members">More than 1,700 people already Cycle Hire members<br />23 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/new-motorcycles-in-bus-lanes-trial-begins-this-weekend">New Motorcycles in Bus Lanes trial begins this weekend<br />23 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/customers-are-reminded-that-the-hammersmith-and-city-and-circle-lines-between-hammersmith-and-edgware-road-are-set-for-threeweek-upgrade-closure">Customers are reminded that the Hammersmith & City and Circle lines between Hammersmith and Edgware Road are set for three-week upgrade closure <br />21 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/tfl-and-network-rail-to-suspend-engineering-works-in-summer-2012">TfL and Network Rail to suspend engineering works in summer 2012<br />20 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/london-underground-urges-aslef-leadership-to-call-off-unnecessary-strike-action">London Underground urges ASLEF leadership to call off unnecessary strike action<br />20 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/cycle-hire-membership-to-open-on-friday-23-july">Cycle Hire membership to open on Friday 23 July<br />19 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayor-launches-londons-first-two-barclays-cycle-superhighway-routes">Mayor launches London's first two Barclays Cycle Superhighway routes <br />19 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/london-buses-wins-low-carbon-champions-award-for-green-buses">London Buses wins Low Carbon Champions Award for green buses<br />16 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/london-underground-responds-to-rmt-leadership-ballot-over-staffing-proposals">London Underground responds to RMT leadership ballot over staffing proposals<br />16 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/blackwall-tunnel-closed-to-southbound-traffic-this-weekend">Blackwall Tunnel closed to southbound traffic this weekend<br />15 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/one-million-extra-journeys-with-oyster-pay-as-you-go-on-national-rail">One million extra journeys with Oyster pay as you go on National Rail<br />15 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayor-continues-to-paint-london-green-with-eco-bus-garage">Mayor continues to paint London green with eco bus garage<br />14 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/new-dlr-timetable-delivers-11-per-cent-capacity-increase">New DLR timetable delivers 11 per cent capacity increase <br />13 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/bike-convoys-lead-the-way-as-london-gears-up-for-mayors-barclays-cycle-superhighways">Bike convoys lead the way as London gears up for Mayor's Barclays Cycle Superhighways <br />13 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/final-preparations-for-mayors-flagship-cycle-scheme">Final preparations for Mayor's flagship cycle scheme <br />09 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/new-tube-seating-fabric-captures-the-spirit-of-london">New Tube seating fabric captures the spirit of London <br />09 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/londons-business-needs-an-upgraded-tube-and-crossrail-says-mayor">London's business needs an upgraded Tube and Crossrail, says Mayor<br />08 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/further-improvements-to-dialaride-services-in-kingston">Further improvements to Dial-a-Ride services in Kingston<br />07 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/full-district-and-hammersmith-and-city-line-services-restored">Full District and Hammersmith & City line services restored<br />07 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/mayor-and-tfl-announce-major-initiatives-to-improve-cycle-safety-around-lorries">Mayor and TfL announce major initiatives to improve cycle safety around lorries <br />06 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/blackwall-tunnel-closed-to-southbound-traffic-for-the-next-two-weekends">Blackwall Tunnel closed to southbound traffic for the next two weekends<br />06 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/plans-unveiled-for-a-new-thames-crossing-with-londons-first-cable-car-system">Plans unveiled for a new Thames crossing with London`s first cable car system<br />04 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/disruption-to-district-and-hammersmith-and-city-line-services">Disruption to District and Hammersmith & City line services<br />04 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/tfl-annual-report--transport-improvements-delivered-salary-freeze-continues-and-performance-awards-declined">TfL Annual report - Transport improvements delivered, salary freeze continues and performance awards declined<br />02 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/warm-welcome-for-tennis-fans-as-60th-tube-station-goes-stepfree">Warm welcome for tennis fans as 60th Tube station goes step-free <br />02 Jul 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/july/londoners-to-face-fewer-delays-at-traffic-signals">Londoners to face fewer delays at traffic signals <br />01 Jul 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 