


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/bus-crime-at-its-lowest-level-for-six-years">Bus crime at its lowest level for six years <br />30 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/mayor-urges-app-developers-to-get-smart-for-barclays-cycle-hire">Mayor urges app developers to get smart for Barclays Cycle Hire<br />30 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/northern-line-to-operate-as-normal-during-evening-this-summer">Northern line to operate as normal during evening this summer<br />29 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/public-get-rare-glimpse-of-aldwych-station-as-exhibition-showcases-tube-network-of-the-future">Public get rare glimpse of Aldwych station as exhibition showcases Tube network of the future <br />28 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/new-era-for-the-tube-as-transport-for-london-completes-acquisition-of-tube-lines">New era for the Tube as Transport for London completes acquisition of Tube Lines <br />27 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/beat-the-heat-2010">Beat the heat 2010<br />26 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/mayor-welcomes-new-electric-vehicles-joining-transport-for-london-fleet">Mayor welcomes new electric vehicles joining Transport for London fleet <br />25 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/police-crackdown-on-rogue-drivers-and-cyclists">Police crackdown on rogue drivers and cyclists<br />24 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/rotherhithe-tunnel-to-be-made-southbound-only-during-forthcoming-blackwall-tunnel-weekend-closures">Rotherhithe Tunnel to be made southbound only during forthcoming Blackwall Tunnel weekend closures<br />24 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/hammersmith-and-city-and-circle-lines-between-hammersmith-and-edgware-road-set-for-three-week-upgrade-closure">Hammersmith & City and Circle lines between Hammersmith and Edgware Road set for three week upgrade closure <br />24 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/london-underground-services-during-rmt-strike-action-at-tube-lines">London Underground services during RMT strike action at Tube Lines<br />24 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/tfl-travel-advice-to-passengers-regarding-threatened-rmt-strike-action-at-tube-lines">TfL travel advice to passengers regarding threatened RMT strike action at Tube Lines<br />22 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/tfl-says-look-out-for-your-mates-as-teen-road-casualties-fall">TfL says 'Look out for your mates' as teen road casualties fall<br />22 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/londons-streets-first-in-england-to-trial-pedestrian-countdown-technology">London's streets first in England to trial Pedestrian Countdown technology<br />21 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/thousands-of-lives-saved-on-the-roads">Thousands of lives saved on the roads<br />18 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/raising-the-flag-for-the-river">Raising the flag for the river<br />17 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/mayor-and-tfl-to-introduce-new-motorcycles-in-bus-lanes-trial">Mayor and TfL to introduce new Motorcycles in Bus Lanes trial<br />16 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/first-docking-station-for-mayors-flagship-cycling-scheme-installed-on-the-capitals-streets">First docking station for Mayor's flagship cycling scheme installed on the Capital's streets <br />16 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/tfl-makes-data-freely-available-for-smart-development">TfL makes data freely available for smart development <br />15 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/tfl-concludes-multimillion-pound-negotiation-as-london-bridge-quarter-buys-out-shard-lease-agreement">TfL concludes multi-million pound negotiation as London Bridge Quarter buys out Shard lease agreement<br />14 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/victoria-tube-station-to-be-transformed">Victoria Tube station to be transformed<br />10 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/ten-tube-stations-for-1010">Ten Tube stations for 10:10<br />10 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/mayor-and-tfl-act-to-limit-northern-line-disruption">Mayor and TfL act to limit Northern line disruption <br />09 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/transport-for-london-urges-rmt-leadership-to-call-off-threatened-tube-lines-strike-action">Transport for London urges RMT leadership to call off threatened Tube Lines strike action<br />09 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/transport-for-london-appoints-new-tube-lines-chief-executive-officer">Transport for London appoints new Tube Lines Chief Executive Officer<br />07 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/let-the-music-and-poetry-transport-you">Let the music and poetry transport you<br />07 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/police-cycle-squad-targets-traders-peddling-dodgy-bikes">Police cycle squad targets traders peddling dodgy bikes<br />07 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/passengers-handed-in-200000-items-found-across-tfl-network-to-lost-property-office">Passengers handed in 200,000 items found across TfL network to Lost Property Office <br />04 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/elephant-and-castle-southern-roundabout-to-be-removed-by-october">Elephant and Castle southern roundabout to be removed by October<br />02 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/blackwall-tunnel-closed-to-southbound-traffic-this-weekend">Blackwall Tunnel closed to southbound traffic this weekend <br />02 Jun 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/june/london-overgrounds-gospel-oak-to-stratford-route-reopens-after-upgrade">London Overground's Gospel Oak to Stratford route re-opens after upgrade<br />01 Jun 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 