


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/energybusting-led-traffic-signal-installation-begins-this-august">Energy-busting LED traffic signal installation begins this August <br />28 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/life-between-the-lines">Life between the lines<br />28 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/barclays-saddle-up-to-sponsor-london-cycle-hire-scheme">Barclays saddle up to sponsor London Cycle Hire scheme<br />28 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/crime-falls-again-on-the-tube-as-investment-in-security-continues">Crime falls again on the Tube as investment in security continues<br />25 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/penton-street-counter-service-closure-reminder">Penton Street counter service closure reminder<br />25 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/final-stage-of-consultation-to-remove-western-extension-from-congestion-charging-gets-under-way">Final stage of consultation to remove Western Extension from Congestion Charging gets under way<br />24 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/londoners-challenged-to-get-cycling-this-june">Londoners challenged to get cycling this June<br />24 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/london-underground-responds-to-ppp-arbiters-direction-of-tube-lines-financing-impossibility">London Underground responds to PPP Arbiter's direction of Tube Lines 'Financing Impossibility'<br />21 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/east-london-transit-is-flushed-with-success">East London Transit is flushed with success<br />21 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/ten-thousand-free-tickets-mark-first-full-service-on-london-overgrounds-east-london-route">Ten thousand free tickets mark first full service on London Overground's East London route<br />18 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/kruger-becomes-latest-artist-to-design-cover-of-the-iconic-tube-map">Kruger becomes latest artist to design cover of the iconic Tube map<br />18 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/start-of-consultation-to-introduce-larger-vans-and-minibuses-into-low-emission-zone-in-2012">Start of consultation to introduce larger vans and minibuses into Low Emission Zone in 2012<br />17 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/mayor-unveils-iconic-final-design-for-londons-new-bus">Mayor unveils iconic final design for London's new bus <br />17 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/greener-era-for-londons-buses-moves-a-step-closer">Greener era for London's buses moves a step closer<br />14 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/london-overground-runs-weekend-service-on-new-east-london-route">London Overground runs weekend service on new East London route<br />13 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/blackwall-tunnel-to-close-to-southbound-traffic-for-five-weekends-this-year-as-vital-safety-upgrade-continues">Blackwall Tunnel to close to southbound traffic for five weekends this year, as vital safety upgrade continues<br />13 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/spectacular-digital-moving-image-installation-arrives-at-canary-wharf-tube-station">Spectacular digital moving image installation arrives at Canary Wharf Tube station<br />12 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/temporary-changes-to-bus-route-128">Temporary changes to bus route 128<br />10 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/one-thing-leads-to-another--everything-is-connected">One thing leads to another - Everything is connected<br />10 May 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/may/transport-for-london-to-acquire-the-shares-of-tube-lines">Transport for London to acquire the shares of Tube Lines<br />07 May 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 