


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/london-undergrounds-got-talent">London Underground's got talent<br />29 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/north-greenwich-station-taxi-rank-to-be-marshalled-on-arena-event-nights-at-the-o2">North Greenwich station taxi rank to be marshalled on arena event nights at The O2<br />29 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/closure-of-northbound-a406-gunnersbury-avenue-to-facilitate-urgent-utility-works">Closure of northbound A406 Gunnersbury Avenue to facilitate urgent utility works<br />28 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/new-era-of-rail-travel-as-london-overgrounds-east-london-route-opens-to-the-public">New era of rail travel as London Overground's east London route opens to the public<br />27 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/taximeter-updates-required-by-9-may">Taximeter updates required by 9 May<br />21 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/worldclass-tour-of-britain-cycle-race-to-return-to-london-this-september">World-class Tour of Britain cycle race to return to London this September<br />20 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/public-invited-to-find-out-more-about-the-blackwall-tunnel-refurbishment-programme">Public invited to find out more about the Blackwall Tunnel refurbishment programme<br />20 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/london-underground-achieves-carbon-trust-standard">London Underground achieves Carbon Trust Standard<br />16 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/keep-on-running-on-marathon-sunday-with-transport-for-london">Keep on running on Marathon Sunday with Transport for London<br />15 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/exit-and-interchange-only-at-oxford-circus-on-weekday-mornings">Exit and interchange only at Oxford Circus on weekday mornings <br />15 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/increased-capacity-to-improve-school-journeys-on-route-463">Increased capacity to improve school journeys on route 463<br />13 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/tfl-secures-ownership-and-control-of-oyster-brand-and-ticketing-system">TfL secures ownership and control of Oyster brand and ticketing system<br />12 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/changes-to-bus-stops-at-herne-hill">Changes to bus stops at Herne Hill <br />12 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/mayor-and-tfl-demand-that-tube-lines-plans-be-put-to-private-finance-test">Mayor and TfL demand that Tube Lines' plans be put to private finance test<br />09 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/london-underground-awards-power-upgrade-contract-for-subsurface-railway">London Underground awards power upgrade contract for Sub-Surface Railway<br />09 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/changes-to-taxi-and-private-hire-vehicle-testing-and-licensing-fees">Changes to Taxi and Private Hire vehicle testing and licensing fees<br />07 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/penton-street-counter-service-closure">Penton Street counter service closure<br />07 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/new-sunday-service-on-route-607">New Sunday service on route 607<br />01 Apr 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/april/impact-on-tfl-services-during-threatened-rmt-and-tssa-industrial-action-at-network-rail">Impact on TfL services during threatened RMT and TSSA industrial action at Network Rail<br />01 Apr 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 