


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/londons-cycle-hire-scheme-to-go-live-on-30-july">London's Cycle Hire scheme to go live on 30 July<br />31 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/london-underground-calls-on-rmt-leadership-to-halt-unjustified-and-kneejerk-strike-threat">London Underground calls on RMT leadership to halt 'unjustified and kneejerk' strike threat<br />30 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/taxi-fares-to-increase-by-23-per-cent-on-10-april">Taxi fares to increase by 2.3 per cent on 10 April<br />29 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/london-river-services-unveils-springsummer-timetable">London River Services unveils spring/summer timetable<br />29 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/more-red-buses-going-green">More red buses going green<br />29 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/transport-select-committee-confirms-tube-ppp-is-flawed-and-has-failed-to-prove-value-for-money">Transport Select Committee confirms Tube PPP is 'flawed' and has 'failed to prove' value for money<br />26 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/mayor-confirms-appointments-to-new-independent-investment-programme-advisory-group-to-advise-on-tfl-projects">Mayor confirms appointments to new independent Investment Programme Advisory Group to advise on TfL projects<br />25 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/widespread-support-for-plans-to-remove-tottenham-hale-gyratory">Widespread support for plans to remove Tottenham Hale gyratory<br />25 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/tfl-board-approves-andpound92bn-201011-budget-to-deliver-radical-improvements-to-passenger-services">TfL Board approves &pound;9.2bn 2010/11 budget to deliver radical improvements to passenger services<br />24 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/transport-for-london-casts-a-light-on-scooter-safety">Transport for London casts a light on scooter safety<br />23 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/bus-staff-recognised-at-london-bus-awards-2010">Bus staff recognised at London Bus Awards 2010<br />23 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/transport-for-london-asks-teenagers-to-be-careful-as-the-capital-approaches-the-light-at-the-end-of-the-winter-tunnel">Transport for London asks teenagers to be careful as the Capital approaches the light at the end of the winter tunnel<br />22 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/londons-electric-vehicle-revolution-takes-major-step-forward">London's electric vehicle revolution takes major step forward<br />19 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/tfls-travel-information-centres-celebrate-70th-year-with-opening-of-new-centre-at-kings-cross-st-pancras">TfL's Travel Information Centres celebrate 70th year with opening of new centre at King's Cross St. Pancras<br />18 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/mayor-approves-andpound115m-funding-for-major-schemes-to-transform-the-face-of-london-by-2012">Mayor approves &pound;11.5m funding for major schemes to transform the face of London by 2012 <br />17 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/work-on-a406-bounds-green-improvement-scheme-to-begin-next-month">Work on A406 Bounds Green improvement scheme to begin next month<br />15 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/temporary-bus-route-changes-during-sutton-high-street-closure">Temporary bus route changes during Sutton High Street closure<br />15 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/woolwich-town-centre-boosted-after-andpound6m-worth-of-improvements">Woolwich Town Centre boosted after &pound;6m worth of improvements<br />12 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/new-marshalled-taxi-rank-in-haymarket">New marshalled taxi rank in Haymarket<br />11 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/london-underground-outlines-vision-for-a-safe-efficient-and-transformed-tube">London Underground outlines vision for a safe, efficient and transformed Tube<br />11 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/contract-for-redevelopment-of-victoria-tube-station">Contract for redevelopment of Victoria Tube station<br />11 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/launch-of-2010-coach-parking-in-london-map">Launch of 2010 Coach Parking in London Map<br />11 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/mayor-and-tfl-arbiters-directions-show-ppp-is-not-delivering-for-londoners-and-taxpayers">Mayor and TfL: Arbiter's directions show PPP is 'not delivering for Londoners and taxpayers'<br />10 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/transport-for-london-to-award-morning-free-newspaper-contract-to-metro">Transport for London to award morning free newspaper contract to Metro<br />05 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/hainault-tube-station-is-now-stepfree-with-three-new-lifts">Hainault Tube station is now step-free with three new lifts<br />03 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/tfl-introduces-new-facility-to-help-reduce-the-number-of-defaced-zip-photocards-in-circulation">TfL introduces new facility to help reduce the number of defaced Zip photocards in circulation<br />02 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/bold-new-think-campaign-to-cut-motorcyclist-deaths">Bold new THINK! campaign to cut motorcyclist deaths <br />01 Mar 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/march/reduction-in-vehicle-testing-fees-for-first-time-passes">Reduction in vehicle testing fees for first time passes<br />01 Mar 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 