


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2010">2010</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/fifty-per-cent-capacity-boost-as-dlr-rolls-out-threecarriage-trains">Fifty per cent capacity boost as DLR rolls out three-carriage trains<br />23 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/all-aboard-east-london-transit-as-new-bus-service-launches">All aboard East London Transit as new bus service launches <br />22 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/bus-route-324-provides-new-links-between-stanmore-and-brent-cross">Bus route 324 provides new links between Stanmore and Brent Cross<br />22 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/uks-biggest-hydrogen-fuel-cell-to-generate-greener-energy-for-tfl-and-lda">UK's biggest hydrogen fuel cell to generate greener energy for TfL and LDA<br />19 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/london-bus-information-just-got-better">London Bus information just got better<br />16 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/initial-work-starts-on-londons-first-two-cycle-superhighways">Initial work starts on London's first two Cycle Superhighways<br />16 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/new-sgs-private-hire-inspection-centre-to-open-in-belvedere">New SGS private hire inspection centre to open in Belvedere<br />16 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/london-overground-to-close-from-gospel-oak-to-stratford-as-part-of-andpound326m-upgrade-to-deliver-longer-more-frequent-trains">London Overground to close from Gospel Oak to Stratford as part of &pound;326m upgrade to deliver longer, more frequent trains<br />15 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/nightmare-turns-into-a-happy-journey-">Nightmare turns into a happy journey home<br />12 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/travel-art-and-portraiture-expand-the-mind-for-young-people-from-brent">Travel, art and portraiture expand the mind for young people from Brent  <br />11 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/preliminary-work-on-the-elephant-and-castle-southern-roundabout-begins">Preliminary work on the Elephant & Castle southern roundabout begins<br />10 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/passengers-advised-to-avoid-changing-trains-at-bank-station-from-march">Passengers advised to avoid changing trains at Bank station from March<br />10 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/london-buses-seeks-your-views-on-proposed-changes-to-route-s3-in-cheam-park-farm">London Buses seeks your views on proposed changes to route S3 in Cheam Park Farm<br />08 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/kender-street-triangle-improvement-scheme-to-begin-this-month">Kender Street Triangle improvement scheme to begin this month<br />04 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/london-underground-condemns-planned-rmt-strike-action">London Underground condemns planned RMT strike action<br />04 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/londons-motorcyclists-urged-to-get-bikesafe-as-tfl-boosts-training-across-the-capital">London's motorcyclists urged to get 'BikeSafe' as TfL boosts training across the Capital<br />04 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/taxi-fares-to-increase-by-23-per-cent-to-meet-higher-running-costs">Taxi fares to increase by 2.3 per cent to meet higher running costs<br />03 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/pioneering-green-travel-programme-delivers-75-per-cent-increase-in-cycling">Pioneering green travel programme delivers 75 per cent increase in cycling <br />03 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/new-pegasus-crossing-provides-direct-link-between-two-of-londons-bestloved-green-spaces">New 'Pegasus' crossing provides direct link between two of London's best-loved green spaces<br />03 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/changes-to-bus-services-in-woolwich">Changes to bus services in Woolwich <br />02 Feb 2010</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2010/february/bounds-green-station-awarded-listed-status">Bounds Green Station awarded listed status<br />02 Feb 2010</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20112">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20380">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20528">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20644">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20772">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/20880">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21020">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21148">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21232">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21312">March</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21428">February</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2010/21516">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 