
    
  



@{ViewBag.Title = "Audit of accounts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/transparency/audit-of-accounts---notice-of-public-rights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/transparency/index">Transparency</a></li>
                
            
            
                <li><span class="last-breadcrumb">Audit of accounts</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Audit of accounts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Notice of public rights
        
      </div>
    
    <div class="on-this-page">
      <h3>Audit of Accounts year ended 31 March 2019<br />
Notice of Public Rights<br />
The Accounts and Audit Regulations 2015<br />
Local Audit and Accountability Act 2014</h3>

<p><br />
NOTICE IS HEREBY GIVEN that pursuant to Section 26 and 27 of the Local Audit and Accountability Act 2014, and regulations 14 &amp; 15 of the Accounts and Audit Regulations 2015:</p>

<p>The unaudited statement of accounts of Transport for London for the year ended 31 March 2019 will be published on TfL's website at <a href="/corporate/publications-and-reports/annual-report">https://tfl.gov.uk/corporate/publications-and-reports/annual-report</a> on 31 May 2019. These are subject to external audit by Karl Havers, Partner, Ernst &amp; Young LLP. Members of the public and local government electors have certain rights in the audit process.</p>

<p>From 3 June to 12 July 2019, between 9.30am and 4.30pm on weekdays, any person interested may inspect the accounting records of Transport for London for the year ended 31 March 2019 and all books, deeds, contracts, bills, vouchers, receipts and other documents relating to those records, and may make copies of all or any part of those records or documents except as provided for in Section 26(4) to 26(6) of the Local Audit and Accountability Act 2014 in relation to commercially confidential and personal information.</p>

<p>The accounts and other documents will be available for inspection at Palestra by prior arrangement. Please telephone 020 3054 8940 to make arrangements to inspect the accounts and documents. The accounts will also be available on TfL's website: <a href="/corporate/publications-and-reports/annual-report">https://tfl.gov.uk/corporate/publications-and-reports/annual-report</a>.</p>

<p>During this period, a local government elector for any area to which the accounts relate, or their representative, may question the auditor about the accounts, or make an objection to the accounts as set out in sections 26 and 27 of the Local Audit and Accountability Act 2014. Any objection, and the grounds on which it is made, must be sent to the auditor in writing, with a copy to the Statutory Chief Finance Officer at the address given below. Any objection must state the grounds on which the objection is being made and particulars of:</p>

<p>i.&nbsp;Any item of account which is alleged to be contrary to law under section 28 of the Local Audit and Accountability Act 2014; and<br />
ii.&nbsp;Any matter in respect of which it is proposed that the auditor could make a public interest report under section 24 of, and paragraph 1 of Schedule 7 to, the Local Audit and Accountability Act 2014.</p>

<p>Questions and objections should be addressed in writing to the auditor, Karl Havers, Ernst &amp; Young LLP, 1 More London Place, London, SE1 2AF, and copied to Sarah Bradley, Statutory Chief Finance Officer, Transport for London, Palestra, 197 Blackfriars Road, London SE1 8NJ.</p>

<p>A guide to your rights can be found at <a href="https://www.nao.org.uk/code-audit-practice/wp-content/uploads/sites/29/2015/03/Council-accounts-a-guide-to-your-rights.pdf">https://www.nao.org.uk/code-audit-practice/council-accounts-a-guide-to-your-rights/</a>.</p>

<p>Date: 8 May 2019</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notice-of-public-rights-2018-19.pdf">
    <div class="document-download-text">
        <p>Notice of public rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 794KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Audit of accounts TfL";}
        
            
        


 