
    
  


<!-- rhroot -->
@{ViewBag.Title = "Transparency";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/transparency/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Transparency</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transparency</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are committed to improving transparency for our customers and stakeholders and we are making more information available than ever before. Our Transparency Strategy (below) sets out how we aim to be an open and accountable organisation.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>TfL Transparency Strategy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-transparency-strategy.pdf">
    <div class="document-download-text">
        <p>TfL Transparency Strategy 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 250KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bus-information-sign_rdax_400x250.jpg" alt="Bus information sign" />
        
        
        
    </div>
    <p>With responsibility for billions of road and public transport journeys every year and an annual budget of around &pound;11bn, we have a duty to spend that money as efficiently as possible and account for every penny.</p>

<p>We publish a huge amount of data on a range of subjects including contracts, expenditure, how reliable our services are, customer satisfaction, journey data, and our financial performance. This data helps people understand how we run London's transport network, and how we spend the money raised through fares and taxes.<br />
<br />
The Strategy explains our commitment to transparency, which starts with a presumption that all our information should be made publicly available (and, in the case of data, provided in machine readable form), unless there are legitimate reasons why not &#45; for example, disproportionate cost, personal data or information which would harm our ability to maximise value for money for customers and tax payers.<br />
<br />
Read our <a href="https://consultations.tfl.gov.uk/ ">report on the consultation that informed our approach to Transparency</a>.</p>

<p>Openness and transparency is helping to transform the way we operate. It strengthens our relationships with customers and stakeholders, and raises awareness of how we work with local communities and businesses to improve our services.<br />
<br />
This information enables innovation in the way our customers travel, with our open data feeds leading to the development of hundreds of smartphone apps to help people get around the Capital. Transparency also helps us drive efficiency across the business.</p>
 </div>
 <div>

<p>Being open and accountable</p>

<ul>
	<li>Enables our customers and stakeholders to hold TfL to account</li>
	<li>Contributes to better decision making</li>
	<li>Delivers better value for money</li>
	<li>Engages businesses, non-profit organisations, academics and others to make transport in London better</li>
</ul>

<p>We publish information in line with the <a href="https://www.gov.uk/government/publications/local-government-transparency-code-2015">Local Government Transparency Code</a> issued by the Department for Communities and Local Government in February 2015</p>

<h2>Publications schedule</h2>

<p>We publish a <a href="/corporate/publications-and-reports/publication-schedule">schedule of publications</a>, including publication dates for Board papers, performance reports, financial reports and contracts&nbsp;</p>

<h2>About TfL</h2>

<p>Find out about us and <a href="/corporate/about-tfl/how-we-work">how the organisation is run</a> including&nbsp;<a href="/corporate/about-tfl/how-we-work/how-we-are-governed">governance</a> information on meetings of the <a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board</a>, its <a href="/corporate/publications-and-reports/index">Committees and Panels</a>, <a href="/corporate/publications-and-reports/standing-orders">TfL's Standing Orders</a>, our <a href="/corporate/publications-and-reports/annual-report">Annual Reports</a>, <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">legislative framework</a> and company structure.</p>

<p>Crossrail Limited is&nbsp;a wholly owned subsidiary of TfL See <a href="/corporate/publications-and-reports/crossrail-board-minutes">minutes of the Board of Crossrail Limited</a>.</p>

<h3>Organisation</h3>

<p>See how our business is structured in our <a href="/corporate/publications-and-reports/organisation-chart">organisation chart</a>.</p>

<h3>Board members and Chief Officers</h3>

<p>Find out more about our <a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board members</a> and <a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a> including short biographies, their declared interests and information on any expenses paid and gifts and hospitality received.</p>

<h3>Senior staff information</h3>

<p>Information on the remuneration of senior staff is published in <a href="/corporate/publications-and-reports/annual-report">TfL's Annual Report</a>.&nbsp; We also publish <a href="/corporate/publications-and-reports/senior-staff">job titles and responsibilities of senior staff</a>.</p>

<p>Information on our&nbsp;pay multiple (the ratio between the highest paid taxable earnings and the median earnings figure) for 2017/18 and 2016/17 is published in our <a href="/corporate/publications-and-reports/annual-report">Annual Reports</a>.</p>

<p>The pay multiple&nbsp;for TfL in previous financial years is as follows:</p>

<ul>
	<li>2014/15 9.62 (note the pay multiple for 2014/15 is not comparable to previous financial years as the basis on which the multiple was calculated changed (to meet the requirements of the Local Government Transparency Code 2015). Part-time staff and those who joined or left service during the year are not included in the calculation)</li>
	<li>2013/14 - 7.51</li>
	<li>2012/13 - 7.79</li>
	<li>2011/12 - 8.14</li>
</ul>

<p>The pay multiple and median for total taxable earnings by Crossrail employees in 2017/18 are:</p>

<ul>
	<li>Pay median&nbsp;- &pound;55,133.05</li>
	<li>Pay multiple&nbsp;- 11.38</li>
</ul>

<p>See details of offers to TfL staff of tickets to <a href="/corporate/publications-and-reports/2012-games-gifts-and-hospitality">London 2012 Games events and related hospitality</a>.</p>

<h2>Gender and ethnicity pay gap reporting</h2>

<p>The aim of the <a href="/corporate/publications-and-reports/equality-and-inclusion-publications">Gender and ethnicity pay gap reports</a> is to be open and transparent about our overall pay gap figures&nbsp;in line with&nbsp;mandatory government regulations.</p>

<h2>Contracts, tenders and expenditure</h2>

<p>In line with the February 2015 Transparency Code we publish details of tenders and contracts with a value over &pound;5,000.</p>

<p>We publish all contracts with a value above the relevant OJEU threshold, entered into as a result of an Invitation to Tender and issued after 1 September 2013.</p>

<p>Older contracts are published on request and any contract announced in a press release will&nbsp;be published.</p>

<p>We&nbsp;publish details of expenditure of more than &pound;250&nbsp;(including all expenditure on corporate procurement cards), allowing even greater scrutiny of how money is spent. The threshold was lowered from &pound;500 in August 2013.</p>

<ul>
	<li>We publish some&nbsp;<a href="/corporate/publications-and-reports/contracts">contracts on our website</a>&nbsp;&nbsp;&nbsp;</li>
	<li>You can find&nbsp;other contracts&nbsp;on the <a href="https://www.gov.uk/contracts-finder">current Contract finders website</a>, and the <a href="https://data.gov.uk/data/contracts-finder-archive/">previous Contracts finder site</a></li>
	<li><a href="/corporate/publications-and-reports/contracts-greater-than-5000">Contracts of &pound;5,000 and over and Greater London Authority contracts</a></li>
	<li><a href="/corporate/publications-and-reports/contracts-released-under-foi">Contracts released in response to FOI requests</a>&nbsp;(pre-January 2017)</li>
	<li><a href="/corporate/publications-and-reports/contract-opportunities">Contract opportunities</a> and you can register on our <a href="https://eprocurement.tfl.gov.uk/epps/home.do">eTendering site</a></li>
	<li><a href="/corporate/publications-and-reports/invitations-to-tender">Invitations to tender</a></li>
	<li><a href="/corporate/publications-and-reports/expenditure-over-250">Expenditure of &pound;250 or more</a>&nbsp;and <a href="/corporate/publications-and-reports/purchase-orders-over-5-000">purchase orders over &pound;5,000</a></li>
</ul>

<h3>Earls Court Village development</h3>

<p>Capital &amp; Counties Properties PLC and TfL have established a joint venture, Earls Court Partnership Limited, which will enable the development of Earls Court 1 and 2 in line with the Earls Court Masterplan. See the <a href="/corporate/publications-and-reports/earls-court-village-development">Earls Court transaction documents</a>. A report into the feasibility of moving the activities at Lillie Bridge Depot has been completed. See the <a href="/corporate/publications-and-reports/earls-court-village-development">Lillie Bridge Depot Feasibility report</a>.</p>

<h2>How we use personal information</h2>

<p>See our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies pages</a> to find out how we use personal information and protect your data.</p>

<h2>Property asset register</h2>

<p>Please see the <a href="https://par.tfl.gov.uk/propertymap/">Property Asset Register</a> for mapping information about TfL's land ownership.</p>

<h2>Funding to London Boroughs</h2>

<p>We allocate money to the London boroughs to spend on projects which support the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> through a <a href="/corporate/publications-and-reports/local-implementation-plans">Local Implementation Plan</a>.</p>

<h2><a name="finance-operations-performance"></a>Finance, operations and performance</h2>

<p>We publish a report every quarter with updates on how well our services are operating and how we are performing financially. See reports on our <a href="/corporate/publications-and-reports/quarterly-progress-reports">finances and the performance of our services</a>.</p>

<p>We also publish operational and performance data that we are regularly asked about, including:</p>

<ul>
	<li><a href="/corporate/publications-and-reports/crossrail-project-updates">Crossrail Limited</a>&nbsp;</li>
	<li><a href="/corporate/publications-and-reports/congestion-charge">Congestion Charge</a></li>
	<li><a href="/corporate/publications-and-reports/low-emission-zone">Low Emission Zone</a></li>
	<li><a href="/corporate/publications-and-reports/cycle-hire-performance">Santander Cycles</a></li>
	<li><a href="/corporate/publications-and-reports/red-routes">Red routes</a></li>
	<li><a href="/corporate/publications-and-reports/lift-availability">Lift availability</a></li>
	<li><a href="/help-and-contact/lost-property">Lost Property Office</a></li>
</ul>

<h3>Ticketing reports</h3>

<ul>
	<li><a href="/corporate/publications-and-reports/oyster-card">Oyster</a></li>
	<li><a href="/corporate/publications-and-reports/contactless-payment">Contactless</a></li>
	<li><a href="/corporate/publications-and-reports/refunds">Service delay refunds</a></li>
</ul>

<h3>Safety</h3>

<ul>
	<li><a href="/corporate/publications-and-reports/bus-safety-data">Bus safety data</a></li>
	<li><a href="/corporate/publications-and-reports/road-safety">Road safety</a></li>
	<li><a href="/corporate/publications-and-reports/safety-and-security">Roads policing</a></li>
</ul>

<h3>Taxi and private hire</h3>

<ul>
	<li><a href="/info-for/taxis-and-private-hire/licensing">Licensing information</a></li>
	<li><a href="/corporate/publications-and-reports/taxi-and-private-hire">Publications and reports</a></li>
	<li><a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">Journey-related sexual offences data</a></li>
</ul>

<ul>
</ul>

<h3>Internal audits</h3>

<p>We carry out regular audits of our activities and, where issues are found, actions are agreed to address them. See reports submitted to <a href="/corporate/publications-and-reports/audit-and-assurance-committee">the Assurance and Audit Committee</a>..</p>
</div>
 
<div>



<h2>TfL tax strategy</h2>


This paper sets out the tax strategy of TfL and its subsidiary companies in accordance with Schedule 19 of the Finance Act 2016.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-tax-strategy-2019.pdf">
    <div class="document-download-text">
        <p>Transport for London tax strategy.</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>

<h2>Fraud, bribery and corruption prevention</h2>

<p>We employ five counter fraud specialists, all of whom are professionally accredited. They work to prevent, detect and investigate fraud, bribery and corruption, and to improve awareness of fraud, bribery and corruption across the organisation.</p>

<p>In 2017 we spent a total of &pound;300,000 (including salary costs) on fraud awareness, prevention, investigation and prosecution. We investigated 20 cases of suspected fraud, bribery or corruption.</p>

<p>TfL does not have powers under the Prevention of Social Housing Fraud (Power to Require Information) (England) Regulations 2014, or similar.</p>

<p>We&nbsp;report on fraud, bribery and corruption work each quarter to the <a href="/corporate/publications-and-reports/audit-and-assurance-committee">Audit and Assurance committee</a></p>

<p>Additionally, we devote substantial resources to the prevention and detection of <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">fare evasion on our network</a>.</p>

<h2>Freedom of Information requests</h2>

<p>The Freedom of Information Act 2000 provides a right to request access to all types of recorded information held by public authorities like Transport for London and its subsidiary companies (including Crossrail Limited).</p>

<p><a href="/corporate/transparency/freedom-of-information">Visit the Freedom of Information hub</a>&nbsp;to make a new request, look at previous requests or appeal a response. All our replies to FOI requests received since January 2017 are published on this hub.</p>
</div>
 <div>

<h2>Consultations</h2>

<p>Read about <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">what we consult on</a>. Find our current consultations on <a href="https://consultations.tfl.gov.uk/">the Consultation hub</a>.</p>

<h2>Planned works</h2>

<p>Information about planned lift and escalator works and the planned works calendar can be found in <a href="/status-updates/index">Status updates</a>.</p>

<h2>Working Timetables</h2>

<p>We publish <a href="/corporate/publications-and-reports/working-timetables">working timetables</a> which are the rail industry version of public timetables. They show all movements on the Tube network including empty trains and train movements in and out of depots. They include identification codes for each train, times at locations other than stations (eg junctions).</p>
</div>
 
<div>



<h2>Modern slavery statement</h2>


<p><a id="Modern slavery" name="Modern slavery"></a>In keeping with Section 54, Part 6 of the Modern Slavery Act 2015, read our statement about the steps we have taken to address the risks of slavery and human trafficking taking place in any of our supply chains.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/modern-slavery-statement.pdf">
    <div class="document-download-text">
        <p>Modern slavery statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Complaints reports</h2>
<p>Data on the complaints received about our services is included in the quarterly <a href="/corporate/publications-and-reports/customer-service-op-performance">Customer Performance Report</a> to the Customer Service and Operational Performance Panel.</p>
<h2>Terms &amp; conditions</h2>
<p>You are encouraged to use and re-use the information made available through this page, freely and flexibly, with only a few conditions. These are set out in the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence</a> for public sector information.</p>
<p>Please note that the Open Government Licence conditions do not apply to the information also made available to <a href="/info-for/open-data-users/index">open data users</a>. This information is subject to the <a href="/corporate/terms-and-conditions/transport-data-service">Transport data service terms &amp; conditions</a> and <a href="/info-for/open-data-users/our-open-data">Syndication Developer Guidelines</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/transparency/index" class="heading">
                    <h2 id="sub-menu-heading">Transparency<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights">Audit of accounts</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a> or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>FOI Case Management Team<br />
Information Governance<br />
Transport for London<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/?Category=Transparency%20data" class="plain-button">See all our transparency data</a>
<a href="/corporate/about-tfl/index" class="plain-button">About TfL</a>
<a href="/corporate/about-tfl/how-we-work/how-we-are-governed" class="plain-button">How we are governed</a>
<a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="plain-button">TfL corporate archives</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.whatdotheyknow.com/body/tfl" class="plain-button">What Do They Know</a>
<a href="http://www.crossrail.co.uk/about-us/freedom-information/transparency" class="plain-button">Crossrail</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Transparency and Freedom of Information";}
        
            
        


 