


@{ViewBag.Title = "First phase of Mayor's Clean Air Fund programme has a positive effect ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First phase of Mayor's Clean Air Fund programme has a positive effect </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First phase of Mayor's Clean Air Fund programme has a positive effect </h1>
        <div class="content-page-press-release">
        22 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A range of measures to improve air quality in the capital have proved successful according to a new report by Transport for London (TfL).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is encouraging to see that London is taking ambitious steps to improve air quality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Norman Baker</div>
            <div class="quotee-job-title">Parliamentary Under Secretary of State for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is encouraging to see that London is taking ambitious steps to improve air quality
                            
                        </p>
                    </div>
                
            
            
            <p>A conference held at City Hall today (22 January) heard that the Mayor's Cleaner Air Fund programme had met its objectives and has successfully improved air quality at a number of hotspots across the capital. </p>
<p>The Government provided &pound;5m for the first phase of the programme, which uses targeted short term measures to reduce local particulate matter (PM10) emissions and concentrations in the capital. </p>

<h4>Funded projects</h4>
<p>Over the last two years an array of projects have been funded and delivered by the Cleaner Air Fund. They include: </p>
<ul>
<li>The fitting of Diesel Particulate Filters (DPF) on 120 buses on routes 10, 148, 205, 49 and 7 (due to completed by the end of March 2013). Results so far have shown that DPFs can deliver a reduction of up to 77 per cent of PM10 exhaust emissions at source. When complete it is estimated that the reduction in emissions from the selected routes will be 580kg which would represent a five per cent reduction in the annual PM10 emissions from all buses operating in central London </li>
<li>A 'No Engine Idling' campaign to educate and raise awareness with drivers. The report has shown a 25 per cent increase in driver awareness since the campaign was launched. A survey was carried out in a number of air quality hotspots before the campaign in December 2011 and then again post campaign, in November 2012; Heavy Goods Vehicles saw a 16 per cent reduction in engine idling, cars saw a 13 per cent reduction, taxis saw a 12 per cent and coaches saw an 11 per cent reduction </li>
<li>The deployment of five taxi marshals at ten mainline stations to improve management of taxi ranks and encourage drivers to switch off their engines whilst stationary. This resulted in a nine per cent observed reduction in engine idling at the marshalled taxi ranks. A smarter driver training programme was also included and delivered training for professional drivers about all aspects of driving styles and practices (including engine idling). Taxi and Private Hire Vehicle drivers who took part in the training achieved average fuel savings of 25 per cent and 12 per cent respectively, also reducing their emissions </li>
<li>Two 'green walls' have been installed, one at Edgware Road Tube station on Marylebone Road and the other at The Mermaid building on Upper Thames Street. Other green infrastructure included 50 planted towers on Thames Street and 600 new street trees and shrubs along the Transport for London Road Network, particularly along identified PM10 hotspots. Research undertaken by Imperial College London confirmed that the green infrastructure tested was successful in trapping around 500g of PM10 in three months </li>
<li>The trial Cleaning and Applications of Dust Suppressants (CADS) was expanded as part of the CAF programme to six road corridors as well as six industrial waste sites and two construction sites. There was some evidence of a beneficial effect of dust suppressants from the trial.&nbsp; A study by King's College London showed that one roadside site Upper Thames Street saw a reduction of 16 per cent in PM10 concentrations after treatment.&nbsp; Three of the industrial sites saw drops in local concentrations after application, including one where there were reductions of between 31 per cent and 59 per cent after treatment </li>
<li>A programme of engagement with over businesses and stakeholders in target areas with a focus on transport measures. The evidence from that work has suggested that many businesses are not clear about the impact of their activities on local air quality, but that through engagement work, positive changes were secured in terms of increased use of bikes and walking by staff. </li></ul>
<p>The Clean Air Fund programme is just one of the ways in which TfL has been working to improve air quality in London. </p>
<p>The Mayor has also implemented an ambitious long term package of measures to improve air quality in London by tightening the Lower Emission Zone standards for heavy vehicles, introducing tough age limits for taxis and private hire vehicles leading to the retiring of the older diesel taxis, increasing the capital's green infrastructure and increasing the number of hybrids in fleet to 1,600 by 2016. </p>

<h4>Target measures</h4>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The Clean Air Fund programme has delivered improvements, and it provides us with extensive research which we will be sharing with other public bodies and interested stakeholders. </p>
<p>'The majority of London already meets its EU limit values for annual mean PM10 concentrations, but the programme allowed us to target measures at sites that were at risk of exceeding daily limits as part of our commitment to reducing pollution levels across the capital.'</p>
<p>Norman Baker, Parliamentary Under Secretary of State for Transport, said: 'It is encouraging to see that London is taking ambitious steps to improve air quality. Londoners have benefited from the &pound;5 million DfT grant for measures to reduce emissions on the most polluted streets. </p>
<p>'The challenge is to build on the success of the programme to ensure that best practice is spread across the country. </p>
<p>'Of course, one of the best measures to tackle poor air quality is to move as quickly as possible to full roll out of low emission vehicles.'</p>

<h4>Green benefits</h4>
<p>Information gathered from the green infrastructure research will be shared with interested parties to further the understanding of the benefits of green infrastructure, and TfL will also continue to work with the Environment Agency, boroughs and site operators to promote the use of dust suppressants at industrial waste, construction and demolition sites in London. </p>
<p>TfL and the GLA will continue to deliver and support business engagement to promote use of public transport, walking and cycling, helping to improve local air quality. </p>
<p>The Mayor will also announce further measures to improve air quality, which will take forward the work of the Cleaner Air Fund, in weeks to come. </p>
<p>The Clean Air Fund report is available at: <a href="http://tfl.gov.uk/corporate/projectsandschemes/21103.aspx">tfl.gov.uk/corporate/projectsandschemes/21103.aspx</a> </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The fitting of DPFs will be completed in March 2013 </li>
<li>The Mayor's Air Quality Strategy (MAQS) was published and highlighted that although the majority of London already meets the European Union limit value for annual mean Particulate Matter (PM10) concentrations, there were a small number of sites that were at risk of exceeding daily mean limit values </li>
<li>The 200m2 green wall at Edgware Road Tube station trapped 500g of PM10 in a three month period <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-First phase of Mayor's Clean Air Fund programme has a positive effect  -->

 
 
        
        
            @{ViewBag.Description = "A conference held at City Hall today (22 January) heard that the Mayor's Cleaner Air Fund programme had met its objectives and has successfully improved air quality at a number of hotspots across the capital. The Government provided &pound;5m for the";}
        
        


 