


@{ViewBag.Title = "London Overground tops passenger satisfaction table";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground tops passenger satisfaction table</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground tops passenger satisfaction table</h1>
        <div class="content-page-press-release">
        29 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground has the highest passenger satisfaction of any franchise or concession in the UK, according to a new survey by the independent passenger watchdog Passenger Focus.
        
    </div>



 <div class="on-this-page">
<p>The orbital network shares its 'most satisfied customers' accolade with c2c in the results, which cover Autumn 2012. London Overground's 93 per cent is well above the 85 per cent average score for satisfaction in the London and South East region.</p>
<p>Transport for London's (TfL) Chief Operating Officer for Rail, Howard Smith, said: 'We are always striving to improve services for our customers and it's great to see that reflected in these survey results, made possible by the hard work put in by all those involved in delivering the service. </p>
<p>'We are not complacent, which is why we are planning to introduce five-car trains during the next two years to continue to meet the increasing demand for rail services in the Capital.</p>
<p>'These results mirror London Overground's consistent scores in the top bracket of Network Rail's tables for punctuality and reliability.</p>
<p>'Following the completion of its "orbital" network, London Overground is setting the benchmark for rail operators in London and we're determined to continue to deliver safe, frequent and reliable journeys for our customers.'</p>
<p>The Managing Director of London Overground Rail Operations Ltd (LOROL) which manages London Overground on behalf of TfL, Peter Austin, said: 'To see London Overground passenger satisfaction ratings improve yet again is very welcome and is credit to the hard work of our team across the network. </p>
<p>'As a modern, reliable and busy metro-style railway which carries more than 400,000 passengers every day, 93 per cent is a great achievement.</p>
<p>'We are always looking for ways to improve our passengers' experience and so these results reflect our determination in providing London Overground passengers with the punctual customer-focused service they want.'</p>
<p>Eighty-eight per cent of London Overground passengers - compared to an 83 per cent average for the region - were satisfied with the punctuality and reliability of their trains and 87 per cent were happy with their station facilities compared to a regional average of 79 per cent.</p>
<p>Of the 958 London Overground passengers asked about the value for money of their ticket, 57 per cent said they were happy with it compared to 43 per cent of other passengers in the region.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>Four of London Overground's scores showed particular improvement on the previous spring 2012 Survey. They were:</p>
<ul>
<li>Overall satisfaction with the station (up&nbsp;six per cent to 87)</li>
<li>Satisfaction with the station facilities and services (up 10 percent to 45)</li>
<li>Satisfaction with the overall station environment (up&nbsp;six per cent to 77)</li>
<li>Satisfaction on value for money on ticket price ( up&nbsp;eight per cent to 57)</li>
<li>Nationally the percentage of passengers satisfied with their rail journey overall was 85 per cent. This is significantly improved compared to Autumn 2011 (when 84 per cent&nbsp;of passengers were satisfied). Eightly-three per cent of passengers were satisfied overall with their journey in spring 2012</li></ul>
<p>London Overground's transformation from a once neglected railway to a national top performer will help TfL's case with the Department for Transport: the Mayor and TfL are asking that control over other rail franchises within London's boundaries be devolved to TfL, including the Southeastern and West Anglia franchises up for renewal in 2014.</p>
<p>See the results from Passenger Focus at <a href="http://www.passengerfocus.org.uk">www.passengerfocus.org.uk</a>&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-London Overground tops passenger satisfaction table -->

 
 
        
        
            @{ViewBag.Description = "The orbital network shares its 'most satisfied customers' accolade with c2c in the results, which cover Autumn 2012. London Overground's 93 per cent is well above the 85 per cent average score for satisfaction in the London and South East region.Transport";}
        
        


 