


@{ViewBag.Title = "Londoners encouraged to submit views on proposed changes to Congestion Charging scheme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners encouraged to submit views on proposed changes to Congestion Charging scheme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners encouraged to submit views on proposed changes to Congestion Charging scheme</h1>
        <div class="content-page-press-release">
        25 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is encouraging Londoners to have their say on proposed changes to the Congestion Charging scheme before the public consultation closes on Friday 8 February.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We do listen to our customers and have made significant changes to the scheme in recent years"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">TfL's Director for Congestion Charging</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We do listen to our customers and have made significant changes to the scheme in recent years
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Proposal to make scheme greener with new Ultra Low Emission Discount, delivering improved air quality benefits </li>
<li>Adjustments to payment methods also proposed </li>
<li>Public consultation closes on Friday 8 February</li></ul>
<p>Those who wish to express their views should visit <a href="https://consultations.tfl.gov.uk/roads/congestioncharging">tfl.gov.uk/ccyourviews</a></p>
<h4>New exemptions</h4>
<p>The proposed changes include the introduction of a new Ultra Low Emission Discount (ULED), an increase in the penalty charge and the removal of the under-used retail (shop) payment channel. </p>
<p>The introduction of the proposed Ultra Low Emission Discount (ULED) would take place in July 2013 and provide a single 100 per cent discount from the Congestion Charge for electric and ultra low emission cars and vans.&nbsp; </p>
<p>To qualify for the discount vehicles will have to be either pure electric or be cars and vans that emit 75g/km or less of CO2 and meet the Euro 5 emission standard for air quality.</p>
<p>The ULED would replace the current Greener Vehicle Discount (GVD) and the electric vehicle discount, and would ensure that only ultra low emission vehicles would be provided with a 100 per cent discount of the Congestion Charge. </p>
<p>While the ULED is technology neutral, no currently available diesel car would meet the criteria for the discount and this is unlikely to change for the foreseeable future.&nbsp; </p>
<h4>Cutting diesel pollution</h4>
<p>Therefore, the proposed ULED will help tackle the increasing dieselisation of London's car fleet.&nbsp; </p>
<p>Over the past decade diesel car sales have increased from around 10 per cent to 50 per cent, partly as a result of low carbon vehicle incentives.&nbsp; </p>
<p>A Euro 4 diesel car emits about 22 times as much particulate matter as the equivalent petrol car.</p>
<p>Nick Fairholme, TfL's Director for Congestion Charging, said: 'We are pleased with the number of responses we have received to the consultation so far but I want to encourage as many people as possible to submit their views on these proposed changes.&nbsp;</p>
<p>'We do listen to our customers and have made significant changes to the scheme in recent years, including the removal of the Western Extension and the introduction of Congestion Charging (CC) Auto Pay, as a result of listening to these views.'</p>
<h4>Charge increase </h4>
<p>TfL is also seeking views on proposals to increase the penalty charge for the Congestion Charge from &pound;120 to &pound;130.&nbsp;</p>
<p>This would be only the third increase in the penalty charge since the Congestion Charge was introduced in 2003 and would bring the penalty charge in line with other moving traffic, bus lane and parking penalty charges within London.</p>
<p>Following the introduction of CC Auto Pay, an automated system for paying the Congestion Charge, less than one in ten payments of the charge is now made in shops or petrol stations.&nbsp; </p>
<p>As a result of that trend, and to reduce the costs of operating the scheme, the consultation is also proposing the removal of the retail payment option.&nbsp; </p>
<p>Drivers will still be able to pay the Congestion Charge using a wide range of other means including online, by phone, by text message or by CC Auto Pay.<br>&nbsp;<br>More information on the consultation, including the supporting documents, is available from TfL's website at: <a href="http://www.tfl.gov.uk/ccyourviews">tfl.gov.uk/ccyourviews</a>.&nbsp;Visit the website to give your views on the proposals or call 0844 544 9780 for an information leaflet.</p>
<p>The consultation closes on Friday 8 February 2013. TfL will then prepare a report for the Mayor setting out the comments received during the consultation. The Mayor will then make a decision on whether or not to go ahead with the proposals with or without modifications.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>The scheme continues to be effective in reducing traffic congestion </li>
<li>The scheme generates net revenues which are reinvested in transport in London </li>
<li>The scheme has also helped reduce emissions of carbon dioxide (CO2) and harmful pollutants (PM10 and NOx) from vehicles travelling within the zone, and encouraged people travelling in the area to use public transport, to walk or cycle </li>
<li>The criteria for the proposed new Ultra Low Emission Discount are:<br>o&nbsp;Any type of pure electric vehicle; or<br>o&nbsp;Ultra low emission cars with CO2 emissions of 75g/km or less that meet Euro 5; or<br>o&nbsp;Ultra low emission vans with CO2 emissions of 75g/km or less that meet Euro 5 </li>
<li>Plug-in hybrid cars must additionally have a minimum range of 10 miles in 'electric' mode and have a maximum speed of at least 60 mph. TfL will publish a list of eligible vehiclesPlug-in hybrid vans must additionally have a minimum range of 10 miles in 'electric' mode and a maximum speed of at least 50 mph. TfL will publish a list of eligible vehicles </li>
<li>Pure electric cars, commercial vehicles and quadricycles and plug-in hybrid electric cars that are currently eligible for the Electric Vehicle Discount would all qualify for the proposed new Ultra Low Emission Discount </li>
<li>A pure electric vehicle uses an electric motor for propulsion, powered by energy stored in a battery. No petrol or diesel is used </li>
<li>A plug-in hybrid electric vehicle uses a rechargeable battery pack that can be charged from an external source in addition to a conventional petrol or diesel engine </li>
<li>The Euro 5 standard would be met by any car registered as new with the Driver and Vehicle Licensing Agency (DVLA) on or after 1 January 2011 and any van registered as new on or after 1 January 2012. This is a European Union standard that limits the levels of air pollutant emissions for new vehicles sold in Europe, with which all vehicles manufacturers must comply </li>
<li>Cars currently qualify for the Greener Vehicle Discount if they emit 100g/km of CO2 or less and meet the Euro 5 standard for air quality </li>
<li>The Ultra Low Emission Discount continues to offer a technology neutral approach and, unlike the Greener Vehicle Discount, both cars and vans that meet the emissions criteria would be eligible for the discount. Including vans in the discount ensures that the discount encourages the uptake of ultra low emission commercial vehicles </li>
<li>Ultra Low Emission Discount would be introduced on 1 July 2013 </li>
<li>The Greener Vehicle Discount and Electric Vehicle Discount would be closed to new registrations on 28 June 2013 </li>
<li>Cars currently registered for the Greener Vehicle Discount would not meet the criteria for the Ultra Low Emission Discount. However, owners of vehicles already registered for the Greener Vehicle Discount would continue to receive the 100% discount for their car for a further two years, until 26 June 2015, and would not need to take any action to ensure this. If a vehicle owner sells the vehicle during this period, the new owner would not be eligible for the Greener Vehicle Discount </li>
<li>Owners of vehicles currently registered for the Greener Vehicle Discount would have to pay the full daily Congestion Charge from 29 June 2015, unless the vehicle registered for the Greener Vehicle Discount is eligible for and registered for another discount </li>
<li>Vehicles registered for the current Electric Vehicle Discount would automatically qualify for the new Ultra Low Emission Discount. Drivers of these vehicles would not need to take any action as TfL will automatically transfer the vehicle to the new discount type. Drivers would be required to pay the annual renewal fee of &pound;10 when their discount becomes due for renewal, in keeping with other types of discounts </li>
<li>CC Auto Pay is an automated payment system which automatically records the number of days a vehicle travels within the charging zone each month and bills the account holder's payment card accordingly. Drivers registered for CC Auto Pay avoid fines and pay a reduced daily charge of &pound;9. An annual &pound;10 registration charge per vehicle applies to register for CC Auto Pay </li>
<li>The introduction of the ULED would complement the comprehensive set of measures the Mayor has introduced to tackle air pollution.&nbsp; Over the past four years the Mayor has: tightened the standard of the Low Emission Zone, further reducing the emissions of 150,000 vehicles; introduced the first age limits to retire the oldest and most polluting taxis; and delivered a package of innovative local measures through his Clean Air Fund.&nbsp; In addition the Mayor has built Europe's largest fleet of hybrid buses and developed the new bus for London, the cleanest and greenest of its type.&nbsp; There are currently eight prototype new buses in service with funding agreed for a fleet of 600. They emit under half the CO2 and NOx of a traditional diesel vehicle. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-Londoners encouraged to submit views on proposed changes to Congestion Charging scheme -->

 
 
        
        
            @{ViewBag.Description = "Proposal to make scheme greener with new Ultra Low Emission Discount, delivering improved air quality benefits Adjustments to payment methods also proposed Public consultation closes on Friday 8 FebruaryThose who wish to express their views should visit";}
        
        


 