


@{ViewBag.Title = "London's transport network gets ready for cold weather";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's transport network gets ready for cold weather</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's transport network gets ready for cold weather</h1>
        <div class="content-page-press-release">
        13 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the capital braces itself for more cold weather this winter, Transport for London (TfL) and London Councils - the body representing all 32 of London's boroughs and the City of London - will again be joining forces to keep London moving.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Working closely with all London boroughs, we've ensured that there is a fully co-ordinated response covering all parts of the roads and the TfL transport network
                            
                        </p>
                    </div>
                
            
            
            <p>The organisations have co-ordinated plans, developed alongside emergency services and Network Rail, designed to keep the transport system and a network of key routes open throughout severe weather. </p>
<p>This includes roads and footways around bus garages and stations, hospitals, railway stations and police, fire and ambulance stations across London.</p>
<h2>Fleet of Road Gritters</h2>
<p>More than 89,000 tonnes of salt have been stockpiled by TfL and London boroughs to ensure that all road users, including pedestrians and cyclists, can continue to get around the capital. </p>
<p>A fleet of road gritters will be deployed to keep roads clear and arrangements are in place to enable boroughs to share salt stores with each other should they require them. </p>
<p>The pan-London Strategic Salt Reserve of 27,000 tonnes, which has not been called into use during the past two winters, is also available should supplies become low.</p>
<p>TfL and London borough staff will be working around the clock on the Tube, bus, rail and road networks to minimise disruption during freezing conditions. </p>
<p>De-icing trains are in operation, keeping tracks as clear as possible, platforms are being gritted to keep them safe for customers and points - the mechanical parts that operate junctions on the network - are being checked. </p>
<p>Network Rail, whose network is used by some Tube services on the District and Bakerloo lines, and who manage all of the infrastructure on which London Overground services operate, are also working closely with TfL to ready the network. </p>
<h2>Check Before You Travel</h2>
<p>Londoners and visitors to the city are urged to "check before you travel", particularly during the cold weather period, and to allow extra journey time where necessary. </p>
<p>TfL has a range of travel tools available to help passengers plan ahead, get travel information on the move and work out the best way home at <a title="Travel Tools" href="http://www.tfl.gov.uk/traveltools">Travel Tools</a>.</p>
<p>Passengers can check before travelling by visiting&nbsp;<a title="Live Travel News" href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Live Travel News&nbsp;</a>or follow &#64;tfltravelalerts, &#64;tfltrafficnews and &#64;tflbusalerts on Twitter. </p>
<p>Information will also be available via posters, leaflets and "service information" boards at Tube stations or by calling the London Travel Info 24hrs telephone helpline on 0843 222 1234.</p>
<p>Richard Jones, LU's Head of Network Operations, said: ''This year, we have once again made every preparation possible and have well-rehearsed procedures in place should harsh weather conditions hit London. </p>
<p>Our staff are working around the clock to make sure that the risk of disruption during freezing conditions is minimised - gritting the roads, de-icing the rails and gritting the platforms. </p>
<p>''Working closely with all London boroughs, we've ensured that there is a fully co-ordinated response covering all parts of the roads and the TfL transport network, and a 27,000 tonne salt reserve for TfL and the boroughs to fall back on should supplies run low.''</p>
<p>Nick Lester, Corporate Director of Services at London Councils, said:</p>
<p>''London boroughs are working to ensure that the capital is able to keep moving as smoothly as possible during any bout of severe weather this winter. </p>
<p>Throughout the year, boroughs and their partners have been working on their plans to ensure that main roads and footpaths across London are kept open.''</p>
<p>Londoners can also report road defects such as potholes or damaged traffic signals at <a href="https://reportit.tfl.gov.uk">https://reportit.tfl.gov.uk</a> or call TfL on 0845 305 1234, who can redirect enquiries to the relevant local authority if necessary.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-London's transport network gets ready for cold weather -->

 
 
        
        
            @{ViewBag.Description = "The organisations have co-ordinated plans, developed alongside emergency services and Network Rail, designed to keep the transport system and a network of key routes open throughout severe weather. This includes roads and footways around bus garages and";}
        
        


 