


@{ViewBag.Title = "London Underground outlines plan to cut Tube delays even further";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground outlines plan to cut Tube delays even further</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground outlines plan to cut Tube delays even further</h1>
        <div class="content-page-press-release">
        29 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New programme will enable London Underground to meet the Mayor's commitment of reducing delays by 30 per cent by end of 2015. Radical new approach taken to deliver even greater reliability for passengers.
        
    </div>



 <div class="on-this-page">
<p>First wave of improvements have already cut incident response times by half and helped achieve record reliability.</p>
<p>
<hr>
</p>
<p>London Underground (LU) has today outlined far-reaching plans to meet the Mayor's commitment of reducing delays by a further 30 per cent by the end of 2015.</p>
<p>The ambitious strategy, which will be presented to the TfL Board on 6 February, will see LU examining every aspect of how the Tube is operated and maintained to further embed reliability and to radically reduce delays to passengers.</p>
<p>The move follows the creation of an LU reliability task force in 2011, which oversaw the introduction of a range of initiatives to predict and prevent failures, respond more quickly to problems and roll out better equipment. </p>
<p>As a result Tube performance reached its best ever levels in 2011/12, and the period covering the London 2012 Games saw reliability at the highest level in LU's history. </p>
<p>Since 2007/08 delays across the network have been reduced by more than 40 per cent</p>
<p>Latest figures from the end of 2012 show that LU passengers have continued to see improving performance on the Tube. </p>
<p>The figures, covering periods 7 and 8 of 2012/13 (16 September to 13 October, and 14 October to 10 November), show that delays during the two periods - as measured by the number of customer hours lost to disruption&nbsp; and were some of the best on record.&nbsp; </p>
<p>The results were achieved while carrying increasing numbers of customers and running more train services. </p>
<p>The Mayor and TfL are determined to go further, putting improving passengers' journeys at the heart of LU's work - by the end of 2015 reducing the number of customer hours lost to disruption by a further 30 per cent compared to 2011 levels.</p>
<p>On a line-by-line basis, the additional reduction in delays will be achieved by grouping LU's 11 lines into three levels to get the most from their current and planned condition.</p>
<ul>
<li>Newly upgraded lines, such as the Victoria, Jubilee and DLR, will see emphasis on getting the maximum performance from the new trains, track and signalling introduced on those lines</li>
<li>Transition lines - the Northern, District, Circle, Hammersmith &amp; City and Metropolitan lines - which are undergoing upgrades, will be focused on to ensure service levels are protected and enhanced while improvement work is going on, and will benefit from the lessons learnt from the upgrades of the Jubilee and Victoria lines</li>
<li>The lines which remain to be upgraded (the Bakerloo, Piccadilly and Central lines) will be looked at to ensure that service levels are maintained and ageing assets such as trains and signals are managed in a targeted and intelligent way to prevent service dips, while work to develop the ambitious and integrated programme of upgrades for those lines continues</li></ul>
<p>LU will also be taking a systematic approach to managing trains, signalling and track. </p>
<p>Work on training and development will continue in order to maintain the record performance by LU staff over the Olympic period. </p>
<p>LU will be engaging with and listening to passengers to explore new ways of working together to ensure the Tube is as reliable as possible. </p>
<p>New reliability initiatives will include:</p>
<ul>
<li>A package of improvement works to both the Central and Piccadilly line fleets. For the Central line, the programme will tackle major sources of unreliability stemming from power, electrical and train coupling components, with the potential to reduce fleet-related delays by 14 per cent a year. The Piccadilly line will benefit from improvements to power systems, a braking system upgrade and communications system overhaul</li>
<li>Installation of remote signal condition monitoring equipment on the machines that drive sets of track points and points heaters, giving an early warning of potential failures. The new equipment is now being developed with installation due to begin in 2013</li>
<li>Exploring the feasibility of using wi-fi head-mounted cameras for technical staff, so that live video can be beamed to relevant experts to support faster fault diagnosis and repair on signalling and train faults</li>
<li>The continuation of a comprehensive &pound;200m track replacement programme, which will underpin the performance of both trains and signalling. Works will be ramped up on the Jubilee, Northern and Piccadilly lines, with 50km of track to be replaced by 2015, providing a 50 per cent improvement in track performance. Rail grinding, which improves ride over worn track, will be almost doubled to reduce speed restrictions across the network</li>
<li>The rollout of the Automatic Track Monitoring System (ATMS) over the coming months, enabling continuous and accurate monitoring of rail condition, and better predictive maintenance, using in-service trains</li>
<li>Further work to encourage passengers to help reduce delays, including highlighting how discarded litter and door-holding can lead to delays for themselves and others, use of passenger emergency alarms, and dealing with people falling ill on trains, the largest passenger-related factor causing delays. LU will be looking to improve the effectiveness of response of staff trained in first aid, and will work with major London hospitals to explain the balance of risks between ill customers and those travelling on the rest of the network, such as those on crowded trains in tunnels</li>
<li>Further development of LU's Station Assistant Train Services role which, during peaks, helps to keep busy trains moving. An initial trial is planned for ten central London stations including Oxford Circus, London Bridge and Victoria</li>
<li>Exploring the potential for new way-finding signage such as seen during the Games, with work at King's Cross St. Pancras, Stratford, Paddington and London Bridge</li>
<li>Developing a Travel Demand Management (TDM) programme building on the success of the Get Ahead of the Games campaign to help passengers avoid hotspots during times of peak demand</li>
<li>Working with frontline staff to build on the fantastic Games-time performance and deliver even greater operational excellence, by exploring new ways of working supported by technology to reduce disruptions to passengers. New systems to support deployment of staff at local and network levels will also be developed</li></ul>
<p>Mayor of London, Boris Johnson, said: 'For the millions of Londoners, visitors, and businesses who rely on our Underground system every day, it is imperative for us to employ every feasible technique to run the best Tube operation possible. </p>
<p>'As we saw during the Olympics, a smooth and efficient transport system can make or break the success of our city, and we are building on the lessons we learnt during that triumphant period to cut delays. </p>
<p>'The Tube is vital to London's prosperity and an increase in reliability of 30 per cent will surely aid the capital's future growth.'</p>
<p>Mike Brown, Managing Director of London Underground, said: 'By building on the foundations of the reliability programme we instigated in 2011, my team and I are ready to meet the Mayor's commitment of reducing delays by a further 30 per cent by the end of 2015. </p>
<p>'Journeys are already more reliable across the Tube network, as they need to be if London is to continue to function as the engine-room of the UK economy.</p>
<p>'We've already made fantastic inroads into improving reliability, at the same time as carrying record numbers of passengers, upgrading vast swathes of the network and keeping some of the oldest trains and signalling in Europe going until they too can be replaced. </p>
<p>'But we've got to see continued investment alongside our will to think differently so that we hit the new heights of performance necessary to keep London working.'</p>
<p>LU's reliability programme will look to deliver best in class reliability on newly upgraded lines. </p>
<p>On the Victoria line, for example, work has been undertaken to equip the new train fleet to enable maintenance staff to remotely monitor the trains' systems using the Wi-Fi network being rolled out on the Tube. </p>
<p>This will enable technicians to carry out a health check on any Victoria line train in service to see if any systems are in need of attention, allowing staff to take real-time decisions on whether to take a train out of service to prevent delays from occurring. </p>
<p>On the Jubilee line, feasibility work is under way to look at extending the automated signalling into depots to manage train movements more effectively, and remote condition monitoring of trains to stop failure before they happen. </p>
<p>The foundations of the programme were set up under the LU reliability task force. </p>
<p>That was established in 2011 and contributed to LU's current record performance with a range of measures, including:</p>
<ul>
<li>A trial of the Tube's Emergency Response Unit vehicles responding to incidents under blue-light conditions. This has halved average response times in central London from around six minutes per mile travelled, to three minutes, and has been made a permanent arrangement</li>
<li>A cross-the-board review of response to incidents on the network which has seen LU working even closer with emergency services colleagues</li>
<li>A 50 per cent reduction in delays related to fleet failures on the new rolling stock on the Victoria and Metropolitan lines</li>
<li>Fitting of covers to Passenger Emergency Alarms on trains on the Jubilee, Northern, Piccadilly and Victoria lines, helping to prevent accidental and malicious activation</li>
<li>Investment of &pound;1m to train 20 BTP officers in providing advanced medical support quickly where customers are taken ill on the network, enabling services to resume quickly and prevent trains queuing behind incident trains. LU has now confirmed that the trial will be continued</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>See the <a href="http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx ">performance figures</a> for periods 7 and 8.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-London Underground outlines plan to cut Tube delays even further -->

 
 
        
        
            @{ViewBag.Description = "First wave of improvements have already cut incident response times by half and helped achieve record reliability.London Underground (LU) has today outlined far-reaching plans to meet the Mayor's commitment of reducing delays by a further 30 per cent by";}
        
        


 