


@{ViewBag.Title = "Passengers to benefit from &pound;45m Upgrade of Vauxhall Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passengers to benefit from &pound;45m Upgrade of Vauxhall Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passengers to benefit from &pound;45m Upgrade of Vauxhall Tube station</h1>
        <div class="content-page-press-release">
        07 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Vauxhall Tube station will be transformed over the next few years, with a &pound;45 million upgrade that is part of a major investment designed to support the growth and regeneration of the surrounding area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The works, along with other TfL investment in improving the local transport network, will help support the regeneration of the area.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Upgrade is part of the work to support the transformation of the Battersea Nine Elms area </li>
<li>Station to become step-free in latest push for a more accessible transport network </li>
<li>Road improvements such as a protected off-carriageway route to help cyclists </li></ul>
<p>Transport for London (TfL) is working to support a huge increase in jobs, businesses and homes in the Vauxhall, Nine Elms and Battersea areas. </p>
<p>This includes projects to extend the Northern line, transform the gyratory, make major improvements for walking and cycling, enhance bus services and upgrade the Tube station.</p>
<h4>Enhanced connections</h4>
<h4>&nbsp;</h4>
<p>TfL plans to invest in the area through major improvements to cycling infrastructure&nbsp;- including a protected off-carriageway route to help cyclists cut across Vauxhall gyratory&nbsp;-&nbsp;as part of the building of Barclays Cycle Super Highway Route 5.&nbsp; </p>
<p>TfL is also looking at a variety of future options for&nbsp; the roads and gyratory to improve connectivity with the river, reduce the dominance of traffic and make the area more pleasant for pedestrians. </p>
<p>The upgrade at Vauxhall Tube station is an essential first phase of this strategy, will provide a major increase in capacity and improve accessibility by making the station step-free, whilst keeping it open to passengers. </p>
<p>London Underground has now issued a tender for the major improvements. Work will start in 2014 and be completed in 2015. </p>
<h4>Vauxhall station improvements</h4>
<h4>&nbsp;</h4>
<p>The number of passengers using Vauxhall Underground station is set to increase by 40 per cent over the next few years.&nbsp; </p>
<p>In order to create extra space, the ticket hall will be reconfigured to allow an improvement and expansion of the ticket gates, reducing congestion within the station. </p>
<p>The station, its subways and stairways will be completely refurbished and a lift will be installed between the ticket hall and platforms. </p>
<p>This, combined with the existing lift from the bus station to the Tube ticket hall, will deliver step-free access to the Victoria line trains. </p>
<p>Network Rail is also now completing the national rail station's upgrade, which includes more lifts to improve accessibility, thus creating a fully accessible interchange between rail bus and Tube.</p>
<h4>Regeneration opportunities </h4>
<h4>&nbsp;</h4>
<p>The works to improve Vauxhall station are part of Transport for London's focus on investing in transport projects across London that will support economic growth including up to 25,000 jobs and 16,000 homes in Vauxhall, Nine Elms and Battersea areas. </p>
<p>Vauxhall is designated as one of London's Opportunity Areas, and is set to benefit from huge investment over the coming years - with major developments planned for the Nine Elms area. </p>
<p>The Government has agreed a loan of up to &pound;1bn that will allow London Underground to fund an extension of the Northern line to the Battersea Power Station site, which will be key to kick-starting regeneration in the area. </p>
<p>It will be a boost for developers preparing to invest and for local people who will benefit from the new Tube link. </p>
<p>The Northern line extension is subject to planning approval from the Secretary of State and once a funding package is in place then the construction of the extension could begin in 2015.&nbsp; </p>
<p>An application for a Transport and Works Act Order, which is required for infrastructure of this scale, is due to be finalised in spring 2013. </p>
<h4>Investing in local transport </h4>
<h4>&nbsp;</h4>
<p>David Waboso, Capital Programmes Director, London Underground, said: 'Vauxhall is a very busy Tube station, with about 21 million people using it annually, and is set to get busier. </p>
<p>'This upgrade will make the station step-free, will give passengers more space and will make journeys through the station quicker and more pleasant. </p>
<p>'The works, along with other TfL investment in improving the local transport network, will help support the regeneration of the area.'</p>
<p>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure, which is vital to cope with a growing population and to support the economic development and growth of the capital and the UK.</p>
<p>This work will continue to improve performance and deliver reliable Tube services for Londoners - with faster and more frequent journeys, fewer delays and, ultimately, 30 per cent more service across the network. </p>
<p>
<hr>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-Passengers to benefit from &pound;45m Upgrade of Vauxhall Tube station -->

 
 
        
        
            @{ViewBag.Description = "Upgrade is part of the work to support the transformation of the Battersea Nine Elms area Station to become step-free in latest push for a more accessible transport network Road improvements such as a protected off-carriageway route to help cyclists";}
        
        


 