


@{ViewBag.Title = "Prince of Wales and Duchess of Cornwall take a ride on the Tube as it celebrates 150 years of serving London and the UK";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Prince of Wales and Duchess of Cornwall take a ride on the Tube as it celebrates 150 years of serving London and the UK</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Prince of Wales and Duchess of Cornwall take a ride on the Tube as it celebrates 150 years of serving London and the UK</h1>
        <div class="content-page-press-release">
        30 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Prince of Wales and The Duchess of Cornwall today joined passengers to travel by Tube as part of a visit to mark the 150th anniversary of London Underground and celebrate the important role that engineering and infrastructure plays in the UK.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It was an honour to have The Prince and The Duchess visit us today and help us mark the 150th anniversary of London Underground and the enduring importance that the network has to London and to the UK economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground & London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It was an honour to have The Prince and The Duchess visit us today and help us mark the 150th anniversary of London Underground and the enduring importance that the network has to London and to the UK economy
                            
                        </p>
                    </div>
                
            
            
            <p>Visit celebrates the importance of engineering and transport infrastructure projects in London. </p>
<ul>
<li>Important projects including the construction of Crossrail and restoration of Network Rail's King's Cross station also visited </li>
<li>Their Royal Highnesses meet apprentices and young people engaged in building for the future</li></ul>
<p>Their Royal Highnesses visited Farringdon station, which was part of the original underground network built in 1863, and can be seen as the "birthplace of the Tube", before taking in some of the other important infrastructure projects in the capital.&nbsp; </p>
<p>Farringdon is currently being transformed in preparation for the arrival of Crossrail - the new east-west rail link - in 2018.&nbsp; </p>
<p>New ticket halls, lifts and other facilities have already been added, and now work is underway to prepare for the arrival of the Crossrail tunnels being dug from Royal Oak in the west and Limmo Peninsula near Canning Town in the east, with new shafts sunk to enable two new ticket halls to be constructed for Crossrail at Farringdon and Barbican. Farringdon station will become a major hub - one of the busiest rail stations in Britain. </p>
<p>It will be the only station to be served by London Underground, Crossrail and Thameslink services and will enable passengers to travel in any direction around London and beyond.</p>
<p>Their Royal highnesses were given a brief overview of the history of London Underground and then visited the Crossrail site. </p>
<p>They met some of the apprentices and other young people engaged in building Crossrail and in upgrading and running the Tube network, before meeting London Underground staff and taking a ride with them between Farringdon and King's Cross St. Pancras, part of the original 1863 route. </p>
<p>The journey enabled them to try out one of London Underground's new S-Stock trains, which are being introduced to 40 per cent of the Tube network. </p>
<p>The spacious, walk-through, air-conditioned trains are built at the Bombardier facility in Derby, which The Prince of Wales also recently visited.</p>
<p>At Network Rail's King's Cross station, The Prince and The Duchess were welcomed onto the construction site of London's newest open space, King's Cross Square, due to open in autumn 2013. </p>
<p>They saw the final pieces of the much unloved green canopy being torn down to reveal for the first time in over 150 years the magnificent Grade I listed Victorian station fa&ccedil;ade - a structure designed by Lewis Cubitt, the brother of Thomas Cubitt who is an ancestor of The Duchess of Cornwall. </p>
<p>After a walk down the newly restored train shed, they visited the spacious new western concourse. </p>
<p>Opened in March 2012, it is the largest single-span structure in Europe and features iconic design by John McAslan. </p>
<p>They also visited one of the most popular parts of the station made famous by Harry Potter, Platform 9 &frac34;, and took a look into the Parcel Yard public house, the largest pub on the railway network.&nbsp;&nbsp; </p>
<p>Mike Brown, Managing Director of London Underground &amp; London Rail, said: 'It was an honour to have The Prince and The Duchess visit us today and help us mark the 150th anniversary of London Underground and the enduring importance that the network has to London and to the UK economy.</p>
<p>'As we mark the anniversary we are also building for the future - transforming stations and replacing trains, signals and track. Our passengers are already seeing the benefits, with more frequent and reliable services on the Jubilee and Victoria lines among many other improvements. </p>
<p>'This year will see even more - with Their Royal Highnesses today having experienced one of the new air-conditioned trains, which will soon serve 40 per cent of the Tube network. </p>
<p>'It is this sustained investment that will enable us to create a network able to support London's growing population and maintain our city's vital role for the next 150 years.'</p>
<p>Terry Morgan, Crossrail Chairman said: '150 years on from the birth of the Tube and London is experiencing the biggest transformation to its transport network in 50 years with the construction of Crossrail. Crossrail will increase London's rail capacity by 10 per cent, deliver new journey opportunities and bring an extra 1.5 million people within 45 minutes commute of the capital. </p>
<p>'Thousands of jobs have been created to deliver Crossrail with thousands more employed across the UK in regional based suppliers. Crossrail will move London forward for the next 150 years or more.'</p>
<p>Today's visit highlighted the importance of apprenticeships and training in engineering for young people. </p>
<p>TfL is an employer committed to developing and maintaining the skills and talents of its workforce and addressing the skills shortage within the transport industry for now and the future. </p>
<p>Within the last two financial years, 135 graduate roles have been created in TfL, with 86 graduates enrolling in September 2012. More than 400 apprenticeships are being created by Crossrail. </p>
<p>Many are being trained at the new Tunnelling and Underground Construction Academy in east London where up to 3,500 people will receive training in the skills required to work below ground.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>London Underground is celebrating its 150th anniversary this year with an extensive series of events, cultural creations and activities. These highlight the vital role that the Tube continues to play in London life and the UK economy, the importance of future investment and how the Tube will continue to evolve as it has over its first 150 years. For more information visit <a href="http://www.tfl.gov.uk/tube150">tfl.gov.uk/tube150</a> 
<li>The Prince and Duchess were hosted by Sir Peter Hendy, Commissioner of Transport for London, Mike Brown, Managing Director, London Underground and London Rail, Sir Edward Lister, the Mayor of London's Chief of Staff and Deputy Mayor for Policy &amp; Planning and Howard Collins, Chief Operating Officer, London Underground </li>
<li>At Crossrail's Farringdon site, Their Royal Highnesses were hosted by Crossrail Chairman Terry Morgan and CEO Andrew Wolstenholme. The Crossrail route will pass through 37 stations and run 118 km (73 miles) from Maidenhead and Heathrow in the west, through new twin-bore 21 km (13 miles) tunnels below central London to Shenfield and Abbey Wood in the east </li>
<li>Services are due to commence through central London in 2018. Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London. For more information visit <a href="http://www.crossrail.co.uk">www.crossrail.co.uk</a> </li>
<li>The Prince of Wales has made several previous visits to London Underground sites, including: 
<ul type="square">
<li>In July 1968 The Prince of Wales accompanied The Duke of Edinburgh on a visit to the Victoria Line construction site (the Brixton extension of the Victoria Line) </li>
<li>In April 1979 The Prince of Wales opened the first stage of the Jubilee Line at Green Park Station </li>
<li>In February 2012 The Prince of Wales took a new metropolitan line train on a test run while visiting Bombardier's Derbyshire factory to support British manufacturing. </li></ul></li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-Prince of Wales and Duchess of Cornwall take a ride on the Tube as it celebrates 150 years of serving London and the UK -->

 
 
        
        
            @{ViewBag.Description = "Visit celebrates the importance of engineering and transport infrastructure projects in London. Important projects including the construction of Crossrail and restoration of Network Rail's King's Cross station also visited Their Royal Highnesses meet";}
        
        


 