


@{ViewBag.Title = "TfL encourages Londoners to respond to the river crossings consultation before it closes ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL encourages Londoners to respond to the river crossings consultation before it closes </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL encourages Londoners to respond to the river crossings consultation before it closes </h1>
        <div class="content-page-press-release">
        18 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is reminding Londoners to share their views on options for river crossings in south and south east London before the current consultation closes on Friday 1 February.
        
    </div>



 <div class="on-this-page">
<p>Those who wish to express their views are encouraged to visit <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a></p>
<ul>
<li>New tunnel and vehicle ferry to boost regeneration and ease congestion </li>
<li>Public encouraged to share views at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> by 1 February 2013&nbsp; </li></ul>
<p>Following an initial consultation in February 2012 TfL further developed the proposals for new vehicle river crossings. </p>
<p>Options include the Silvertown Tunnel - a new road tunnel running underneath the River Thames to connect the Royal Docks with the Greenwich Peninsula and the Gallions Reach Ferry - a vehicle ferry connecting Thamesmead and Beckton.</p>
<p>The Silvertown Tunnel would relieve pressure on the Blackwall Tunnel and would not have height restrictions - helping to alleviate Blackwall Tunnel closures caused by over-height vehicles trying to enter. </p>
<p>The proposed vehicle ferry would provide a river crossing linking Beckton directly with Thamesmead at Gallions Reach. </p>
<p>It could replace the Woolwich Ferry, offering a better frequency of service and increased capacity.</p>
<p>The Mayor of London, Boris Johnson, said: 'Improving the river crossings in the south and south east part of the Thames has the potential to provide huge support for jobs and growth in east and south London. </p>
<p>'I would encourage as many people as possible to take part in this consultation and help shape this vital work.'</p>
<p>TfL Managing Director of Planning, Michele Dix, said: 'The public response to the second phase of the river crossings consultation is vital as it will help to inform our decisions and it will have an impact on how we proceed. </p>
<p>'We've already had a number of responses but want to encourage as many people as possible to share their views before the consultation closes on 1 February. </p>
<p>'London's population is set to grow by 1.2m people in the next 20 years, TfL recognise the importance that will be placed on transporting goods and services and that is why this additional road infrastructure is so important.'</p>
<p>The consultation closes on Friday 1 February 2013 and the public are encouraged to share their views at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </p>
<p>The consultation website has more detailed information about the background and development of the river crossings package, and a printed information leaflet can be requested by calling 0843 222 1234. </p>
<p>
<hr>

<p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>More information on TfL's river crossings package, and an online feedback form to give your views, are available at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </li>
<li>During the consultation TfL has held several Road Shows to encourage people to share their views and get more information. The last Road Show will be held at Barking Learning Centre on 19 January from 10am to 4pm </li>
<li>Since the consultation began further documents have been added to the website. The first is a report on the results of the previous February 2012 river crossings consultation, the second is a summary of evidence concerning the need for intervention to improve the highway infrastructure in the area, and the third document outlines how TfL selected the options being consulted on. Anyone who has already responded to the consultation can still add further comments if they would like to </li>
<li>Some respondents to the last river crossings consultation suggested alternative options for river crossings. One was improving the Woolwich Ferry rather than replacing it. Although this option would be cheaper and quicker than a new ferry it would not resolve the traffic congestion at the ferry terminals, which currently impacts heavily on the local area. It would also require the Woolwich Ferry to close while the new replacement infrastructure was constructed. Another option suggested was a bridge or tunnel at Gallions Reach rather than a ferry. If a ferry was constructed it would still be possible to implement a bridge or tunnel later or an alternative approach might be to construct a bridge or tunnel rather than a ferry.&nbsp; However a bridge or tunnel would be more expensive and would take four years longer to deliver and&nbsp; a significant amount of money would have to be spent on maintaining the ageing Woolwich Ferry in the meantime </li>
<li>There are six times as many road crossings to the west of Tower Bridge compared to the east. This imbalance has disadvantaged firms which regularly need to travel in east London </li>
<li>TfL received nearly 4,000 responses to the initial consultation in February 2012, and over 90 per cent of those who responded agreed there is a need for more river crossings in east and south east London. TfL used the responses to develop the proposals further and opened a second phase of the consultation in October 2012 the public and stakeholders are encouraged to provide further comments as soon as possible as the consultation will close on 1 February 2013<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-TfL encourages Londoners to respond to the river crossings consultation before it closes  -->

 
 
        
        
            @{ViewBag.Description = "Those who wish to express their views are encouraged to visit tfl.gov.uk/rivercrossingsNew tunnel and vehicle ferry to boost regeneration and ease congestion Public encouraged to share views at tfl.gov.uk/rivercrossings by 1 February 2013&nbsp; Following";}
        
        


 