


@{ViewBag.Title = "TfL appoints design consultants as major road structure improvement portfolio takes shape";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL appoints design consultants as major road structure improvement portfolio takes shape</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints design consultants as major road structure improvement portfolio takes shape</h1>
        <div class="content-page-press-release">
        11 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has appointed engineering consultancies Ramboll and Parsons Brinckerhoff to begin design work on TfL's Structures and Tunnels Investment Portfolio.
        
    </div>



 <div class="on-this-page">
<p>The partnership between the two consultancy firms will see them developing designs for reconstruction and refurbishment work on a number of TfL structures and tunnels during the next few years. </p>
<p>This innovative work will help to ensure that London's roads remain fully operational to traffic for many years to come.</p>

<h4>Wider investment</h4>
<p>This work is part of TfL's wider &pound;3.8bn investment into the capital's road network in the next ten years and forms one of the six key strands of investment that will deliver vital maintenance and implement the recommendations of the Mayor's Roads Task Force.<br>&nbsp;<br>The portfolio, which will cost around &pound;200 million to deliver, has been split into three work packages and will mean improvements to the following structures:</p>
<ul>
<li>Work Package 1 consists of the Upper Holloway Railway Bridge and Highbury Corner Bridge on the A1, the A127 Ardleigh Green Railway Bridge and the A406 Power Road Railway Bridge </li>
<li>Work Package 2 consists of the A406 Fore Street Tunnel, Chiswick Bridge on the A316 and the reconstruction of the woodlands retaining wall on the A406 near Golders Green </li>
<li>Work Package 3 consists of the second phase of improvement works on the Hammersmith Flyover, following the successful restrengthening works during Spring 2012</li></ul>
<p>The construction works are currently being procured under an Early Contractor Involvement (ECI) Framework contract, the contractors will be key to the success of the design process.&nbsp; </p>
<p>Through early involvement, their detailed understanding of construction can be applied, enabling TfL to reduce the risks sometimes associated with this complex work. </p>
<p>This will help drive greater value for money and more innovative thinking during the construction phase of the projects.</p>

<h4>Best value </h4>
<p>Dana Skelley, Director of Roads said: 'TfL has a strong history of ensuring that its road network remains safe, reliable and well cared for. </p>
<p>'Early contractor involvement enables us to achieve best value for money by getting the wisdom of construction experts at the beginning of project development, helping to remove risks which are sometimes not considered early enough in traditional delivery models. </p>
<p>'By using this method, we can ensure we complete these important works efficiently and successfully, with minimum disruption to London's road users.'</p>

<h4>Collaboration </h4>
<p>Project Director for Ramboll Parsons Brinckerhoff Ian Bolton said: 'It's a great compliment to be appointed to such an important portfolio of works and we're looking forward to the challenges involved.&nbsp; </p>
<p>'We are proud that our tenacity, creativity and strong emphasis on collaboration have enabled us to win out over stiff competition, and we can bring to TfL the tremendous technical and professional synergies our two companies are able to offer.'<br>&nbsp;<br>TfL will be working with Ramboll and Parsons Brinckerhoff on these projects until they are completed in 2016, and will be appointing principal contractors for these schemes in March 2013.</p>

<p>
<hr>
<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-TfL appoints design consultants as major road structure improvement portfolio takes shape -->

 
 
        
        
            @{ViewBag.Description = "The partnership between the two consultancy firms will see them developing designs for reconstruction and refurbishment work on a number of TfL structures and tunnels during the next few years. This innovative work will help to ensure that London's roads";}
        
        


 