


@{ViewBag.Title = "The Royal Mint issues special London Underground coins into circulation to celebrate 150th anniversary of Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Royal Mint issues special London Underground coins into circulation to celebrate 150th anniversary of Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Royal Mint issues special London Underground coins into circulation to celebrate 150th anniversary of Tube</h1>
        <div class="content-page-press-release">
        24 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From this week, millions of Londoners, commuters and tourists who travel on the London Underground network should look out for two &pound;2 coins that have been produced to celebrate the Tube's 150th anniversary.
        
    </div>



 <div class="on-this-page">
<p>In celebration of the 150th anniversary of the world's first underground railway, the Royal Mint has announced that its two &pound;2 coins to mark the milestone will make their way into circulation at selected Tube stations this week.&nbsp; </p>
<p>Travellers are being urged to keep a close eye on their change just in case they should be one of the lucky few to get their hands on one of the designer coins.</p>
<p>A limited number of the &pound;2 coins will be issued from selected London Underground stations. </p>
<p>Larger quantities of the coins will be issued into general circulation later this year.</p>
<p>Chief Executive and Deputy Master of The Royal Mint, Adam Lawrence, said: 'London Underground, like the Royal Mint, has become a much-loved national treasure, so it is apt that we are celebrating the 150th anniversary of this great British icon by featuring London Underground on our &pound;2 coins for 2013.'</p>
<p>There are two different designs of the London Underground coins, each created by internationally acclaimed designers.</p>
<p>The &pound;2 'train' coin, designed by Edward Barber and Jay Osgerby who designed the world-famous London 2012 Olympic Torch, depicts the front of the familiar Tube train emerging from a tunnel and carries an unusual patterned edge inspired by Harry Beck's iconic Tube map. </p>
<p>The &pound;2 'roundel' coin, created by designer Edwina Ellis, bears the London Underground logo which first appeared on Underground station platforms in 1908 - in 1920 Edward Johnston added the official Underground typeface to the bar. </p>
<p>The coin features the edge inscription 'mind the gap', a well-loved cautionary phrase that for many years has been synonymous with London Tube travel for visitors to the Capital. </p>
<p>Mike Brown, the Managing Director of London Underground, said: 'Tube passengers should look out for the coins when they top-up their Oyster cards at stations. </p>
<p>'London Underground has always played a vital role in the economic growth of the Capital and the UK and these attractive coins are a wonderful celebration of its success over the last 150 years.'</p>
<p>Tens of thousands of coin collectors flocked to the Royal Mint's Facebook page to share stories of their London 2012 50p collections last year and the Royal Mint is urging those lucky enough to find a London Underground &pound;2 coin in their change to do the same. </p>
<p>If you're one of the first to find one, let the world know on the Royal Mint's <a href="http://facebook.com/theroyalmint ">Facebook page </a>or on Twitter using <a href="http://twitter.com/royalmintuk">#Tubecoin</a>.</p>
<p>The commemorative versions of the London Underground &pound;2 coins can be purchased from the <a href="http://www.royalmint.com">Royal Mint website</a>.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to modernise its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity</li>
<li>The Royal Mint has a history dating back more than 1,000 years. By the late thirteenth century the organisation was based in the Tower of London, and remained there for more than 500 years. By 1812 the Royal Mint had moved out of the Tower to premises on London's Tower Hill. In 1967 the building of a new Royal Mint began on its current site in Llantrisant, South Wales</li>
<li>There were estimated to be 28.7 billion UK coins in circulation at 31 March 2012, with a total face value of &pound;3.8 billion - all manufactured by the Royal Mint</li>
<li>1.2 billion UK coins were issued during 2011/12</li>
<li>The Royal Mint's Llantrisant site was recently chosen to host the Prime Minister David Cameron's first government cabinet meeting in Wales</li>
<li>The Royal Mint has been making military medals since it was commissioned to make medals for soldiers who fought in the battle of Waterloo in 1815. 2012 has been of particular significance for the Royal Mint's medal-making team, with the manufacture of all 4,700 Victory Medals for the London 2012 Olympic and Paralympic Games</li>
<li>On 1 January 2010 the assets of the Royal Mint Trading Fund were vested into a private company, called the Royal Mint Limited. HM Treasury remains 100 per cent&nbsp;owner of the shares of the company. All assets of an historical nature have been vested into a separate company, The Royal Mint Museum, to preserve, protect and enhance them for future generations to come. With the exception of the assets separated into the Museum, all other assets and liabilities, including those of a contingent nature, were transferred into the new company effective 1 January 2010</li>
<li>Transport for London would like to thank Cubic, Siemens and CBS Outdoor for sponsoring the 150th anniversary of London Underground</li>
<li>Images available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-The Royal Mint issues special London Underground coins into circulation to celebrate 150th anniversary of Tube -->

 
 
        
        
            @{ViewBag.Description = "In celebration of the 150th anniversary of the world's first underground railway, the Royal Mint has announced that its two &pound;2 coins to mark the milestone will make their way into circulation at selected Tube stations this week.&nbsp; Travellers are";}
        
        


 