


@{ViewBag.Title = "Vauxhall One Way system reopens following last week's helicopter crash ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16962">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vauxhall One Way system reopens following last week's helicopter crash </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vauxhall One Way system reopens following last week's helicopter crash </h1>
        <div class="content-page-press-release">
        21 January 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Vauxhall one way system has now reopened following last week's helicopter crash.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Bus station now open</li>
<li>Diversions and 'Congestion Charge Free Routes' now removed and full Congestion Charge area reinstated </li>
<li>Nine Elms Lane remains closed between Battersea Park Road and the Vauxhall one way system in both directions</li>
<li>Gyratory to be closed&nbsp;from 1-3 February to allow work to be completed<br></li></ul>
<p>Transport for London (TfL), its contractors, and the emergency services have worked throughout the weekend in sever weather conditions to reinstate the roads as quickly as possible.</p>
<p>Vauxhall bus station has now fully reopened and all normal routes are serving their usual bus stops. </p>
<p>The main diversion routes around the gyratory, put in place following the crash have now been removed.</p>
<p>Two closures remain in place as follows:</p>
<ul>
<li>The Lambeth section of Wandsworth Road has reopened westbound but the eastbound section remains closed and will be opened as soon as possible</li>
<li>Nine Elms Lane will remain closed for the next two weeks between Battersea Park Road and the Vauxhall one way system in both directions, whilst work takes place to remove sections of the damaged crane</li></ul>
<p>The closure will be lifted once the de-rig of the crane takes place over the weekend of 2/3 February.</p>
<p>This final works will require the closure of the gyratory from Friday 1 February and diversions will be temporarily reinstated. </p>
<p>Drivers will be informed through a range of channels, including via the TfL website, Twitter feeds and on-street signs.</p>
<p>Now that the main diversions have been removed, the temporary 'Congestion Charge Free Routes' have now been removed and the normal full Congestion Charge area has been reinstated.</p>
<p>St. George's Wharf pier has now reopened, and Is being served by the Thames Clippers Bankside to St George's Wharf (Vauxhall) service.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: 'Our staff and contractors have worked around the clock to minimise disruption to people travelling through the Vauxhall area following the terrible incident last week. </p>
<p>'The roads have been quickly reinstated and the bus station fully reopened. </p>
<p>'I would like to thank road users and local people for having borne with us whilst the works were carried out, and would remind them of the forthcoming closure between 1 and 3 February, which will see the last vital work completed.'</p>
<p>Up to the minute travel information is available on the TfL website or by following &#64;tfltravelalerts, &#64;tfltrafficnews and &#64;tflbusalerts on Twitter.'</p>
<p>
<hr>
</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-January-Vauxhall One Way system reopens following last week's helicopter crash  -->

 
 
        
        
            @{ViewBag.Description = "Bus station now openDiversions and 'Congestion Charge Free Routes' now removed and full Congestion Charge area reinstated Nine Elms Lane remains closed between Battersea Park Road and the Vauxhall one way system in both directionsGyratory to be";}
        
        


 