


@{ViewBag.Title = "Artists going underground with pop culture exhibition at Piccadilly Circus station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Artists going underground with pop culture exhibition at Piccadilly Circus station</h1>
        <div class="content-page-press-release">
        19 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A ceramic bust of Jennifer Lopez, an other-worldly floating starfish and a digital display of iconic album covers are just some of the exciting new artworks to go on show in Piccadilly Circus Underground station from Thursday 25 June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's fascinating to see these very different takes on mass media culture from a range of contemporary artists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sally Shaw</div>
            <div class="quotee-job-title">Curator for Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's fascinating to see these very different takes on mass media culture from a range of contemporary artists
                            
                        </p>
                    </div>
                
            
            
            <p>This group show called Pop Will Eat Itself is the first of its kind to be commissioned by Art on the Underground and sees artists Rachal Bradley, Jack Newling, Sam Plagerson, Roland Ross and Richard C Thomas taking over the disused shop display cases in the iconic London station.</p>
<p>Taking its name from the 1980s indie band who, in turn, took their name from an infamous article in the New Musical Express by David Quantick, the exhibition investigates the idea that art, music and popular culture constantly recycle ideas and concepts to create new works, songs and products.&nbsp; </p>
<h2>Bold graphic prints</h2>
<p>These works question the effect that a constant stream of visual imagery has on us, given further emphasis by Piccadilly Circus's famous advertising boards above ground, whose messages flash day and night.</p>
<p>The digital, sculptural and printed works produced specifically for, or tailored to, the unique exhibition space - some empty retail units in the station hall - include explorations of brands, symbols and our relationships with mass media imagery.&nbsp; </p>
<p>Jack Newling creates a series of bold graphic prints that play on Underground imagery; Roland Ross's scrolling digital display pairs contemporary and vintage album covers; Rachal Bradley's glowing, billboard sized photograph of a male chest explores the tension between printed, photographic media and objectified subject matter; Sam Plagerson's delicate ceramic bust of Jennifer Lopez references the gloss of magazine images and their relationship to the reality they portray; Richard C Thomas transforms an entire shop unit into a strange, dark underworld visible through a peephole - we see his eerie digital animation of a starfish that seems to consume itself, only to re-appear in perpetual movement. </p>
<h2>Image manipulation</h2>
<p>Sally Shaw, curator for Art on the Underground, said: 'Piccadilly Circus, possibly the world's most celebrated advertising site, is the perfect place to reflect on the impact that image manipulation, marketing and branding have on our visual world.&nbsp;</p>
<p>'It's fascinating to see these very different takes on mass media culture from a range of contemporary artists.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This group show called Pop Will Eat Itself is the first of its kind to be commissioned by Art on the Underground and sees artists Rachal Bradley, Jack Newling, Sam Plagerson, Roland Ross and Richard C Thomas taking over the disused shop display cases in";}
        
        


 