


@{ViewBag.Title = "Bus route 490 to serve Pools on the Park in Richmond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus route 490 to serve Pools on the Park in Richmond</h1>
        <div class="content-page-press-release">
        23 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 27 June 2009 changes will be introduced to local bus routes 490 and H37.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Improved links mean people living along the route can now get to Pools on the Park easily, giving them an extra incentive to keep fit
                            
                        </p>
                    </div>
                
            
            
            <p>Route 490 runs between Heathrow Terminal 5 and Manor Circus, Richmond. </p>
<p>It will be diverted at Richmond Circus via Twickenham Road to terminate at Pools on the Park, providing brand new links for bus users to the leisure centre. </p>
<p>At the same time route H37, which runs between Hounslow and Richmond Station, will be extended to terminate at Manor Circus. </p>
<h2>Best possible service</h2>
<p>John Barry, Head of Network Development for London Buses, said: 'We've introduced these changes in response to public requests, and as part of our ongoing review of the bus network as we seek to ensure it provides the best possible service for passengers.'</p>
<p>Councillor David Trigg, Richmond Council's Cabinet Member for Traffic, Transport and Parking, said: 'We have worked closely with Transport for London on these bus service changes and I am delighted that Pools on the Park leisure centre will now be accessible by public transport. </p>
<h2>Accessible facilities</h2>
<p>'The improved links mean people living along the route through Richmond upon Thames and further afield can now get to Pools on the Park easily, giving them an extra incentive to keep fit and make use of the great swimming facilities the Council provides.'</p>
<p>Transport for London and Richmond Council were highly commended at this year's Thames Valley Engineering Excellence Awards for their work to improve transport links to Pools on the Park. Judges in the small project category were particularly impressed by the attention to detail and extensive communication with stakeholders. </p>
<p><strong>
<hr>
Notes to editors</strong></p><strong></strong>
<ul>
<li>Bus frequencies on both routes will remain unchanged </li>
<li>Route H37 is operated by Transdev and route 490 is operated by Travel London </li>
<li>Pools on the Park is a large health and fitness centre. The centre offers swimming pools, gym facilities, children's activities, classes and beauty treatments </li>
<li>The awards, organised by the Thames Valley branch of the Institution of Civil Engineers, were held on Friday 5 June 2009. They recognise excellence in civil engineering projects across the South East</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 490 runs between Heathrow Terminal 5 and Manor Circus, Richmond. It will be diverted at Richmond Circus via Twickenham Road to terminate at Pools on the Park, providing brand new links for bus users to the leisure centre. At the same time route H37,";}
        
        


 