


@{ViewBag.Title = "Change to night bus services for south west London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Change to night bus services for south west London </h1>
        <div class="content-page-press-release">
        29 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 4 July 2009, London Buses will be introducing changes to night bus services on routes 65 and 213.
        
    </div>



 <div class="on-this-page">
<p>The night service on route 65 will be extended to Chessington World of Adventures along the same route used by daytime route 71. </p> <p>This will provide passengers with a direct night bus service between Kingston and Chessington for the first time.</p> <p>Buses on the night service will operate between Ealing Broadway and Chessington every 30 minutes from approximately 00:40 to 04:40. </p> <p>Day services on route 65 will remain unchanged, operating between Ealing Broadway and Kingston. </p> <p>Passengers wishing to travel between Kingston and Chessington during the day can use route 71. </p> <h2>Route review</h2> <p>The night service on route N213 is also being changed from Saturday. </p> <p>The current night bus service on route N213, operating between approximately 01:00 and 04:30, between Sutton and West Croydon bus station will no longer operate. </p> <p>This follows a review of the route which found that this section of the route was very lightly used. </p> <p>The 213 will continue to provide a night service between Kingston and Sutton. </p> <p>The route will operate 24 hours a day, seven days a week between Fairfield bus station, Kingston and Bushey Road, Sutton. </p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Buses on route 65 will operate every 30 minutes between 00:40 and 04:40  </li><li>Route 65 is operated by Transdev  </li><li>Route 213 and N213 is operated by London General  </li><li>There will be no changes to the existing route 71<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The night service on route 65 will be extended to Chessington World of Adventures along the same route used by daytime route 71.This will provide passengers with a direct night bus service between Kingston and Chessington for the first time. Buses on the";}
        
        


 