


@{ViewBag.Title = "Changes to route U7 improve bus links for Hayes residents";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to route U7 improve bus links for Hayes residents</h1>
        <div class="content-page-press-release">
        29 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 4 July 2009, route U7 will change to improve bus links for residents of Hayes.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The changes to route U7 will provide a direct link from Charville Lane to Hayes Sainsbury's and better links between Hayes and Uxbridge
                            
                        </p>
                    </div>
                
            
            
            <p>Buses on route U7 will no longer terminate in Charville Lane.&nbsp; </p>
<p>Instead, buses from Uxbridge will serve Charville Lane via Hewens Road, Mellow Lane West and Pole Hill Road then continue via Lansbury Drive and Uxbridge Road to terminate at Hayes Sainsbury's supermarket.</p>
<p>The changes to route U7 will provide a direct link between Charville Lane and Hayes Sainsbury's and quicker links from Charville Lane to Hillingdon Hospital and Uxbridge.</p>
<p>The route will serve Hewens Road and Pole Hill Road, which are not currently served by buses. </p>
<h2>Public requests</h2>
<p>Earlier and later journeys will be introduced with the first bus leaving Uxbridge Station at approximately 05:30 and the last bus departing at approximately 00:30.</p>
<p>Bus frequencies will remain at a bus every 30 minutes, Monday to Saturday daytimes, and every 60 minutes in the evenings and on Sundays.</p>
<p>John Barry, Head of Network Development, London Buses, said: 'The changes to route U7 will provide a direct link from Charville Lane to Hayes Sainsbury's and better links between Hayes and Uxbridge.&nbsp; </p>
<p>'We're introducing these changes in response to public requests and as part of our ongoing review of the bus network, as we seek to ensure it provides the best possible service for the communities it serves.'</p>
<p>
<hr>

<p>
<p><strong>&nbsp;Notes to editors:</strong></p>
<ul>
<li>Route U7 currently runs from Uxbridge Station to Charville Lane Estate. From 4 July 2009 it will be rerouted via Hewens Road, Mellow Lane West and Pole Hill Road to terminate at Hayes Sainsbury's </li>
<li>A map of the new route is attached </li>
<li>Bus services from Hayes Sainsbury's will commence at approximately 05:15 and run until approximately 23:50 to provide better connections to trains at Uxbridge Station </li>
<li>Route U7, operated by Travel London, will continue to use single deck buses</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Buses on route U7 will no longer terminate in Charville Lane.&nbsp; Instead, buses from Uxbridge will serve Charville Lane via Hewens Road, Mellow Lane West and Pole Hill Road then continue via Lansbury Drive and Uxbridge Road to terminate at Hayes";}
        
        


 