


@{ViewBag.Title = "Comic book artwork takes over passageways at Charing Cross and Embankment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Comic book artwork takes over passageways at Charing Cross and Embankment</h1>
        <div class="content-page-press-release">
        15 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Superheroes will appear in Charing Cross and Embankment stations from 16 June when new artwork inspired by comic book tales of heroic quests is installed.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With Fairbridge, I wanted to create a possibility for realising potential ideas and potential selves
                            
                        </p>
                    </div>
                
            
            
            <p>Artist David Blandy has worked with staff and disadvantaged young people from charity Fairbridge to create alternative superhero personas for the latest commission by Art on the Underground called Underground Heroes. </p>
<p>Drawing on their own interests and aspirations, the young people's characters were brought to life through colourful make-up and imaginative, transformative costumes and then photographed for a series of portraits.</p>
<p>These artworks will be displayed at the entrance to Charing Cross Underground station and will help brighten customers' journeys.&nbsp;</p>
<p>The young people also devised their own heroic adventures with David Blandy and female manga illustrator Inko for a trail of comic strips along the foot tunnel at Embankment station. </p>
<h2>Young people</h2>
<p>The artworks aimed to take the young people on a personal journey which echo the physical ones taken by three-and-a-half to four million customers on the London Underground each day. </p>
<p>David Blandy said: 'I find that the things I'm interested in, such as hip hop music, comics and computer games, are often shared with the young people I work with. </p>
<p>'Thinking about where your identity is formed, your teenage years are crucial as this is when you're first really confronted by popular culture. </p>
<p>'By working with young people going through that stage in their own lives it turns an abstract idea into a realised entity, such as becoming a comic book hero.&nbsp; </p>
<h2>Quest for self-discovery</h2>
<p>'With Fairbridge, I wanted to create a possibility for realising potential ideas and potential selves.'<br>&nbsp;<br>Louise Coysh, Curator, Art on the Underground, said: 'Throughout David's work the idea of pilgrimage or quest for self-discovery is made visible through the act of creating fictional characters.&nbsp; </p>
<p>'One of this project's aims was to give that potential to the young people to explore the question: who am I and who can I be? </p>
<p>'It has been great fun to go with them on that journey, continuing Art on the Underground's commitment to working with young people from local communities as well as commissioning ambitious new work from artists.' </p>
<h2>Banana Fairy</h2>
<p>Billie, 17, said: 'My character is called the Banana Fairy. </p>
<p>'I'm a monkey fairy that wants to help people get out of trouble - that's important to me. </p>
<p>'I wasn't attending school when I first came to Fairbridge about a year ago but now I've done my City and Guilds English and Maths certificates and I'm looking into other courses at college. </p>
<p>'I can't wait to see all of us up on the Underground in our characters.'</p>
<p>Andrew Purvis, Fairbridge Chief Executive, said: 'At Fairbridge we believe that all young people should have opportunities to discover their talents and develop aspirations for the future. </p>
<p>'It will be a very special moment when the young people unveil their work on the Underground - and indeed a unique opportunity for thousands of commuters to view and celebrate the achievements of the disadvantaged young people Fairbridge is supporting to make positive changes in their lives.'</p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>David Blandy was born in London (1976), where he lives and works. Blandy studied at Chelsea School of Art and Design and the Slade School of Fine Art, London and has since exhibited internationally, including solo shows in London, Bristol and Beijing. His new work 'Crossroads' is currently on tour and opens at 176 Gallery, London on 9 June 20092 </li>
<li>An event to launch Underground Heroes will be held at St Martin-in-the-Fields, Gallery in the Crypt, Trafalgar Square, London WC2N 4JJ on 16 June, 17.30 to 19:30. RSVP email <a href="mailto:art&#64;tube.tfl.gov.uk">art&#64;tube.tfl.gov.uk</a> or call 020 7027 8694 </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three-and-a-half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe.&nbsp;For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>Personal journeys and new beginnings are central to Fairbridge who support young people aged 13-25 who are outside of education, training or employment. Young people are referred by more than 1,400 different organisations including youth justice, drug rehabilitation, homeless hostels and the education service. By combining one-to-one support with challenging activities, young people develop the skills, confidence and motivation necessary to change their lives. For more information please visit: <a href="http://www.fairbridge.org.uk/">http://www.fairbridge.org.uk/</a> </li>
<li>Other people who contributed to the project included: photographer Tom Wichelow, costume designer Jenny Hayton and make-up artists Amita Rallin and Antigoni Livieratou </li>
<li>Images of the artworks are available at <a href="http://www.theresasimon.com/press">www.theresasimon.com/press</a> - just log in with your name and email address, click next, and choose the link from the project menu </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Artist David Blandy has worked with staff and disadvantaged young people from charity Fairbridge to create alternative superhero personas for the latest commission by Art on the Underground called Underground Heroes. Drawing on their own interests and";}
        
        


 