


@{ViewBag.Title = "Contractor appointed and work set to begin on Gants Hill town centre next month";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contractor appointed and work set to begin on Gants Hill town centre next month</h1>
        <div class="content-page-press-release">
        26 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's improvement scheme will revitalise the centre of Gants Hill and provide a more pleasant environment for pedestrians, cyclists and road users.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This work will help to bring Gants Hill town centre to life, with areas for local pedestrians and cyclists to enjoy the improved environment
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has awarded London-based construction company FM Conway Limited the contract to carry out the Gants Hill town centre improvement scheme, which has been developed in consultation with Redbridge Council.</p> <p>The TfL scheme will see the environment around Gants Hill roundabout rejuvenated, with new signalised pedestrian crossings, pedestrian walkway/cycleway, wide footway areas outside local businesses, seating and cycle parking, and&nbsp;more trees and grassed areas. </p> <h2>Opportunities and benefits</h2> <p>The scheme complements Redbridge's Area Action Plan which aims to revitalise the centre of Gants Hill through new housing and business opportunities within the town centre and an improved local environment. </p> <p>Work will begin on Monday 20 July and signs will&nbsp;let road users and the local community know how the phases of work are progressing.</p> <p>The scheme has been designed to have as little impact as possible on local road users during construction however motorists are advised to check <a title="TfL Travel News" href="http://www.tfl.gov.uk/travelnews">TfL Travel News</a>&nbsp;before they travel and to consider alternative routes if possible. </p> <p>Local buses will be on diversion for the first nine weeks and may be subject to delays until works are complete in summer 2010.&nbsp; </p> <h2>Keeping you informed</h2> <p>Any disruption or diversions will be communicated through roadside message signs and local radio broadcasts and further information can be found on the <a title="TfL Gants Hill improvement scheme" href="http://www.tfl.gov.uk/gantshill">TfL website</a>.</p> <p>Dana Skelley, Director of Road Network Management, TfL, said: 'This work will really help to bring Gants Hill town centre to life, with areas for local pedestrians and cyclists to pause and enjoy the improved environment, and better access to all sides of the busy roundabout. </p> <p>'We ask motorists and other road users to bear with us while we carry out these works, which have been planned in conjunction with the local Council, and we will do our best to ensure that any disruption is kept to minimum.'</p> <p> <hr> <br><strong>Notes to editors:</strong> <p> <ul> <li>Work on the Gants Hill town centre improvement scheme is expected to take 10-12 months, and will be complete in summer 2010. Further details and a map of the scheme is available at <a href="http://www.tfl.gov.uk/gantshill">www.tfl.gov.uk/gantshill</a>  </li><li>The scheme complements Redbridge Council's Area Action Plan, further information is available at <a class="external-site" title=" (Opens in new window)" href="http://www.redbridge.gov.uk/" jquery1248346910939="6">http://www.redbridge.gov.uk/</a>  </li><li>The Gants Hill Improvement Project is costing &pound;7.16m with TfL funding approximately &pound;5.4m of this. Communities and Local Government (CLG) has contributed funding through its Growth Area Fund programme, from which Redbridge Council was able to secure a total of &pound;1.6 million for the project  </li><li><a class="external-site" title="FM Conway Ltd (Opens in new window)" href="http://www.fmconway.co.uk/" jquery1248346910939="7">FM Conway Limited</a> is a multi-disciplined construction contractor in the field of civil engineering, surfacing and highway maintenance  </li><li>Journey time could increase by up to 30 minutes. Passengers are advised to allow extra time to complete their journeys  </li><li>After the first nine weeks of work local bus routes will be subject to delays  </li><li>Information on bus diversions is available on the TfL website and at affected bus stops  </li><li>A bus shuttle service will operate during the diversions between Barkingside and Gants Hill via the High Street and Cranbrook Road and will run seven days a week. The shuttle will maintain links to these destinations normally provided by routes 128, 150 and 167  </li><li>From Barkingside High Street at Fullwell Cross roundabout the first shuttle service will be at 05:15 and the last service will be at 00:45. From Cranbrook Road at Gants Hill the first shuttle service will be at 05:20 and the last service will be at 00:50. The shuttle will run approximately every 15-20 minutes seven days a week </li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has awarded London-based construction company FM Conway Limited the contract to carry out the Gants Hill town centre improvement scheme, which has been developed in consultation with Redbridge Council. The TfL scheme will see";}
        
        


 