


@{ViewBag.Title = "Current services on London Underground during RMT strike action - service update at 12:30";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Current services on London Underground during RMT strike action - service update at 12:30</h1>
        <div class="content-page-press-release">
        10 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Services operating on nearly all lines.
        
    </div>



 <div class="on-this-page">
<p>Transport Commissioner, Peter Hendy, said: 'Services are now running on nearly all London Underground lines, with good service on the Northern line and a decent service across the Jubilee line. </p>
<p>'Clearly, support for the RMT leadership's actions is far from the level they were expecting.</p>
<p>'Londoners and I will fully appreciate all the efforts being made by those Tube and transport staff who are working today to keep London moving.</p>
<p>'The picture will change constantly throughout the day and those travelling should check before they travel via the TfL website <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a>&nbsp; to see how Tube services are running, or take advantage of the many alternative travel options being provided by the Mayor and TfL.'</p>
<p>Services update on services as at 12:30: </p>
<p><strong>Tube</strong> - The RMT leadership have called a strike from 18:59 on Tuesday, 9 June to 18:58 Thursday, 11 June, normal services to resume on morning of Friday, 12 June.</p>
<p>However, services are currently operating on nine out of eleven Underground lines. </p>
<p>These are:</p>
<ul>
<li>Northern line - good service </li>
<li>Jubilee line - minor delays </li>
<li>Victoria line - shuttle service between Victoria and Seven Sisters </li>
<li>District line - shuttle service from Wimbledon to Mansion House, and Ealing Broadway to High St Kensington </li>
<li>Metropolitan line - shuttle service between Wembley Park and Baker Street </li>
<li>Piccadilly line - shuttle service between Arnos Grove and Cockfosters, and Acton Town to Hammersmith </li>
<li>Bakerloo line - operating reduced Queen's Park to Elephant &amp; Castle </li>
<li>&nbsp;Central line - shuttle service between Liverpool Street&nbsp;and Epping, and Liverpool Street and Hainault. Also shuttle between White City and Ruislip/White City and Ealing Broadway </li>
<li>Hammersmith &amp; City Line - shuttle between Baker Street and Hammersmith</li></ul>
<p><strong>Buses</strong> - The bus network is performing well under the circumstances - we have around 100 extra buses out on the network, which has around 700 routes. </p>
<p>Staff are helping passengers outside rail termini and interchanges.&nbsp;</p>
<p>We are advising passengers to leave extra time to complete their journeys.&nbsp;</p>
<p>
<p><strong>National Rail</strong> - Oyster pay as you go will be accepted on all National Rail journeys within Greater London on Wednesday and Thursday, just show your Oyster card at station gate lines. </p>
<p><strong>Taxis</strong> - During the morning peak of 08:00-10:30, taxi drivers will be operating a marshalled, fixed-fare shared-taxi service for central London destinations at six major London rail termini: Waterloo, Liverpool St, London Bridge, Marylebone, Paddington and Euston.</p>
<p><strong>DLR and London Overground</strong> - Services will be operating as normal. </p>
<p><strong>Roads and the Congestion Charge</strong> - To help keep traffic flowing the Congestion Charge will remain in operation through-out the strike and TfL will be suspending road works on major London roads wherever possible. <br>Londoners and commuters are encouraged to consider alternatives to the car. </p>
<p><strong>Cycling</strong> - Additional options for cyclists will include morning commuter led cycle rides, temporary parking facilities and thousands of cycle maps will be distributed across London. </p>
<p><strong>Led commuter rides</strong> - The London Cycle Campaign will be leading five escorted rides into Central London with TfL volunteers at start points to provide maps, refreshments and guidance, further details available at <a href="http://www.biketube.org.uk/">http://www.biketube.org.uk/</a>.&nbsp; </p>
<p>All rides will set off from 07:45 from the bolded locations:</p>
<ul>
<li><strong>Finsbury Park main gate</strong> - Arsenal - Liverpool Road (Islington) - Angel - Moorgate - Mansion House - London Bridge - City Hall </li>
<li><strong>Mile End Green Bridge</strong> - Stepney Green - Cable Street - Tower Hill - Bank </li>
<li><strong>Ravenscourt Park</strong> - Hammersmith - High Street Kensington - Hyde Park - Charing Cross - Trafalgar Square </li>
<li><strong>Brixton Road</strong> (KFC) - Oval - Elephant and Castle - Blackfriars </li>
<li><strong>Swiss Cottage</strong> - Hampstead - Belsize Park - Chalk Farm - Mornington Crescent - Euston - Gower Street - Tavistock Place - Gray's Inn Road - Clerkenwell - Farringdon - Moorgate </li></ul>
<p><strong>Cycle Parking</strong> - In addition to the major cycle park at Finsbury Park and existing racks at major London stations across the city, another 1,000 cycle parking spaces will be provided at London Bridge cycle park and temporary cycle parking facilities at the locations and times below. </p>
<p>Many London businesses will also be opening up their foyers and parking facilities for their staff.</p>
<ul>
<li>Trafalgar Square: 150 spaces (06:00-21:00 on Wednesday and Thursday)&nbsp; </li>
<li>Potters Field, accessed via Weavers Lane: 100 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday) </li>
<li>Waterloo bus garage, accessed only via Cornwall Road off The Cut, approach via Sandell Street: 150 spaces (08:00-17:30 on Wednesday and Thursday - closing strictly at 17:30) </li>
<li>London Bridge cycle park: 350 spaces (07:30-21:30 on Tuesday, Wednesday and Thursday)&nbsp; </li>
<li>The Mall, between Marlborough Road and George IV statue/Queen Mother memorial - 250 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday)</li></ul>
<p><strong>Walking</strong> - If you are considering making or completing your journeys by foot, check <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> for information or, in central London on strike days, pick up a free local vicinity walking map from staff at major rail stations, bus stations and key Tube stations. </p>
<p><strong>River</strong> - Existing services will be boosted from a capacity of 1,500 to 8,000 an hour and including an additional free shuttle service from London Bridge to Tower Bridge:</p>
<ul>
<li>Greenwich - Canary Wharf - Central London: normal Clippers service with enhancements </li>
<li>Putney - Central London: normal Thames Executive Charter service with four boats instead of two </li>
<li>London Eye - Westminster - Tower Bridge: free peak shuttle every 10 minutes between 07:00-10:00 and 15:00-20:00 on both main strike days</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport Commissioner, Peter Hendy, said: 'Services are now running on nearly all London Underground lines, with good service on the Northern line and a decent service across the Jubilee line. 'Clearly, support for the RMT leadership's actions is far";}
        
        


 