


@{ViewBag.Title = "Female Tube driver honoured with an MBE ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Female Tube driver honoured with an MBE </h1>
        <div class="content-page-press-release">
        18 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hanne Bingle, a Tube driver on the Victoria line has been honoured with an Honorary MBE for services to equality and public transport.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I was completely gobsmacked and surprised when I found out I was to receive an Honorary MBE"</div>
        <div class="quote-footer">
            <div class="quotee-name">Hanne Bingle</div>
            <div class="quotee-job-title">Tube driver</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I was completely gobsmacked and surprised when I found out I was to receive an Honorary MBE
                            
                        </p>
                    </div>
                
            
            
            <p>Hanne has for many years promoted equal rights for women working in the transport industry and has helped to improve working conditions and practices towards female staff in a traditionally male dominated industry. </p>
<p>Mrs Bingle has been tireless in supporting Transport fo London (TfL) in pushing forward equality for women and also works in her free time to promote equality issues through the international networking group, Women's Transportation Seminar (WTS). </p>
<p>Hanne is an active member of TfL's staff network group for women and gives frequent talks to colleagues in London Underground (LU) and at conferences to share her experiences. </p>
<h2>Contribution</h2>
<p>Hanne first began her career at LU 11 years ago as a Customer Services Assistant working at Piccadilly Circus station before she trained to become a Tube driver. </p>
<p>Hanne's husband is also a Tube driver on the Victoria line.</p>
<p>Hanne Bingle said:&nbsp;'It is a great privilege to receive this prestigious award.&nbsp;I was completely gobsmacked and surprised when I found out I was to receive an Honorary MBE.</p>
<p>'This is absolutely fantastic news which clearly highlights the importance and contribution that women can make to the transport industry.' </p>
<h2>Fantastic achievement</h2>

<p>The Mayor of London, Boris Johnson, said: 'Hanne is clearly an outstanding individual and a huge asset both for Transport for London and the Capital.</p>
<p>'Her vigorous pursuit of equality both in her workplace and across the whole of her industry makes Hanne a most worthy recipient of the MBE.'</p>
<p>Richard Parry, Interim Managing Director, London Underground said: 'On behalf of London Underground, I congratulate Hanne on her fantastic achievement.&nbsp; </p>
<p>'We are all absolutely delighted that she has been recognised with this award. </p>
<h2>Role model</h2>
<p>'Hanne has been tireless in pushing forward equality for women in the workplace and so this award is a fitting tribute to her dedicated service as a train operator and her personal contribution to promoting equal opportunities within Transport for London.</p>
<p>'She is an excellent role model and ambassador whose commitment and determination to encourage other women to seek a career within the transport industry is second to none.'</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Hanne Bingle, 50, lives in Walthamstow and will receive a Honorary MBE as she is a Danish National</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hanne has for many years promoted equal rights for women working in the transport industry and has helped to improve working conditions and practices towards female staff in a traditionally male dominated industry. Mrs Bingle has been tireless in";}
        
        


 