


@{ViewBag.Title = "First Train Operating Company outside London to sell Visitor Oyster cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First Train Operating Company outside London to sell Visitor Oyster cards</h1>
        <div class="content-page-press-release">
        29 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New deal enables Wrexham & Shropshire passengers to buy Oyster cards before they arrive in London and enjoy benefits of more convenient travel.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new initiative will make for a much smoother, hassle-free trip to the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Hamilton</div>
            <div class="quotee-job-title">Managing Director of Wrexham & Shropshire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new initiative will make for a much smoother, hassle-free trip to the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>From 1 July 2009, passengers travelling on Wrexham &amp; Shropshire services to London Marylebone will be able to purchase Visitor Oyster cards on-board before they arrive in the Capital. </p>
<p>This new deal between Transport for London (TfL) and Wrexham &amp; Shropshire will enable passengers to transfer seamlessly onto public transport services immediately upon arrival in central London. </p>
<h2>Invaluable service</h2>
<p>Giles Bailey, Head of Group Marketing Strategy for TfL, said: 'An Oyster card is the easiest and most convenient way to travel on public transport in London.&nbsp; </p>
<p>'Sales of Visitor Oyster cards have doubled over the last year and this deal is a big step forward in allowing people from outside the Capital to have easier access to Oyster.</p>
<p>'We hope that other Train Operating Companies outside London will soon join Wrexham &amp; Shropshire in providing this invaluable service for passengers.'</p>
<p>Andy Hamilton, Managing Director of Wrexham &amp; Shropshire, said: 'We're pleased to be working alongside TfL to offer our passengers another really useful service.</p>
<p>'Earlier this year we became the first UK train operator to abolish peak time travel, so we're delighted to now be the first rail company outside London to offer our passengers the opportunity to buy Visitor Oyster cards on-board our trains. </p>
<h2>Hassle-free travel</h2>
<p>'Many of our passengers go on to use another form of public transport when they arrive into London Marylebone, so this new initiative will make for a much smoother, hassle-free trip to the Capital.'</p>
<p>The Visitor Oyster card retailed by Wrexham and Shropshire costs &pound;12, which includes &pound;10 pay as you go credit pre-loaded onto the card.&nbsp; </p>
<p>Passengers can easily top-up their credit at Tube stations, Travel Information Centres and thousands of Oyster Ticket Stops in shops across the Capital. </p>
<p>Passengers will be able to use their Oyster cards as soon as they arrive at London Marylebone by changing onto London Underground or London Bus services. </p>
<p>&nbsp;</p>
<p>
<hr>
<strong>Notes to editors </strong>
<p>
<ul>
<li>A number of commercial partners currently retail Visitor Oyster cards: Visit Britain, Visit London, National Express coach services, Gatwick Express, Stansted Express, Oxford Tube coach services, Eurostar and Superbreak.&nbsp; Visitor Oyster cards are also available at a number of overseas travel agents. For information on fares ad tickets <a title="Fares and Tickets" href="http://www.tfl.gov.uk/tickets/faresandtickets/visitortickets/5184.aspx">click here</a>&nbsp;&nbsp; </li>
<li>There are more than 6m Oyster cards in regular use in London and last year more than 3bn journeys were made with Oyster </li>
<li>More than 80 per cent&nbsp;of all Tube and bus payments in London are now made by Oyster. In the five years since the introduction of Oyster, the proportion of cash payments on the Tube and buses has fallen to just three per cent&nbsp; </li>
<li>When passengers use the Oyster pay as you go card to touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and on National Rail services where applicable the system automatically works out the right fare for the journey within a fifth of a second </li>
<li>Almost three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card compared to those using printed tickets - 40&nbsp;per minute compared to 15&nbsp;per minute </li>
<li>Oyster is available online, over the phone (0845 330 9876) or at Travel Information Centres across London. You can find your nearest Oyster outlet through the <a title="Oyster card information" href="http://www.tfl.gov.uk/oyster">TfL website</a> </li></ul>
<p><strong>Wrexham &amp; Shropshire</strong></p>
<ul>
<li>Since launching services in April 2008, Wrexham &amp; Shropshire has pioneered a number of innovative travel options to make rail travel even easier - offering Visitor Oyster cards on-board is the latest </li>
<li>In April 2009, the company became the first train operator to abolish peak-time travel, allowing passengers to travel direct to London Marylebone for the same great price any time, any day </li>
<li>Passengers travelling with Wrexham &amp; Shropshire can 'buy-on-board' at no extra cost or choose to have their tickets delivered to their mobile phone by text message. They can even print their tickets out at home instead of waiting for them to be delivered </li>
<li>For further information on Wrexham &amp; Shropshire, including timetables, 2 for 1 offers on attractions in London and details of great value fares, <a title="Wrexham and Shropshire" href="http://www.wrexhamandshropshire.co.uk/">click here </a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 1 July 2009, passengers travelling on Wrexham &amp; Shropshire services to London Marylebone will be able to purchase Visitor Oyster cards on-board before they arrive in the Capital. This new deal between Transport for London (TfL) and Wrexham &amp;";}
        
        


 