


@{ViewBag.Title = "Good service on all London Underground lines following RMT leadership's strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Good service on all London Underground lines following RMT leadership's strike action</h1>
        <div class="content-page-press-release">
        12 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) this morning confirmed that all lines on the Tube network are operating and running a good service, following the end of 48-hour strike action called by the RMT leadership at 18:58 yesterday.
        
    </div>



 <div class="on-this-page">
<p>Despite strike action, LU was able to run services on the majority of lines throughout the dispute including near normal services on the Jubilee and Northern lines.&nbsp; </p>
<p>This, along with the additional transport measures that were implemented, ensured that Londoners were able to get to and from work and 58,000 football fans were able to get to and from Wembley for England's World Cup qualifier on Wednesday evening.</p>
<p>Richard Parry, Interim Managing Director of London Underground, said: 'I'm pleased to report that there is a good service on all Tube lines this morning. </p>
<p>'I would also like to take this opportunity to thank Londoners for their patience during the dispute and to thank those London Underground and transport staff who worked tirelessly to keep the transport network moving.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite strike action, LU was able to run services on the majority of lines throughout the dispute including near normal services on the Jubilee and Northern lines.&nbsp; This, along with the additional transport measures that were implemented, ensured";}
        
        


 