


@{ViewBag.Title = "London Underground welcomes RMT 'change of heart'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground welcomes RMT 'change of heart'</h1>
        <div class="content-page-press-release">
        04 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        RMT leadership signals readiness to return to pay talks.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) today welcomed the RMT leadership's readiness to return to pay negotiations, following their leadership's call for strike action next week.&nbsp; </p>
<p>Negotiations with all trade unions are scheduled to take place tomorrow.</p>
<p>LU remains committed to finding a fair resolution that means that our employees are not forced by the RMT leadership into a damaging and unnecessary strike that would cause such severe disruption to London.</p>
<p>A Transport for London spokesperson said: 'We welcome the RMT's change of heart and readiness to return to the negotiating table.&nbsp; </p>
<p>'We've always made clear that we're ready to meet with the RMT any time, anywhere. </p>
<p>'We are already fixing up a meeting with the RMT and all our other unions, who are not in dispute with us and with whom we have been continuing to negotiate.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) today welcomed the RMT leadership's readiness to return to pay negotiations, following their leadership's call for strike action next week.&nbsp; Negotiations with all trade unions are scheduled to take place tomorrow.LU remains";}
        
        


 