


@{ViewBag.Title = "London Underground and TfL services during RMT strike action - update at 12:15";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground and TfL services during RMT strike action - update at 12:15</h1>
        <div class="content-page-press-release">
        11 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advice to passengers for travel in London on Thursday - check before you travel.
        
    </div>



 <div class="on-this-page">
<p><strong></strong><strong>For the latest updates see </strong><strong><a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Live travel news</a></strong> </p>
<h2>London Underground and TfL services during RMT strike action - update at 12:15</h2>
<p>Services are running on nearly all London Underground lines this afternoon, including a full service on the Northern and Jubilee lines. </p>
<p>Service levels have been better than those achieved on Wednesday, with more than 160 trains running across the network. </p>
<p>London Underground aims to build on these services as the day progresses.</p>
<p>Richard Parry, Interim Managing Director of London Underground, said: 'I want to join Londoners in thanking our hard-working Tube and transport staff who came to work yesterday and kept London moving, and got many thousands of football fans to and from last night's England match at Wembley.</p>
<p>'We're running services on nearly all of our lines, and services are better than yesterday. I hope that we will be able to add to that throughout the day. </p>
<p>'Those travelling in London should continue to check before they travel, and we will keep doing everything possible to get you to where you need to be.'<br></p>
<h2>Services update as at 12:15</h2>
<h3>Tube</h3>
<p>The RMT leadership have called a strike from 18:59 on Tuesday 9 June to 18:58 Thursday 11 June, with normal services resuming on the morning of Friday 12 June. However, services are currently operating on more than half of Underground lines. These are: </p>
<ul>
<li>Northern line - full service </li>
<li>Jubilee line - full service </li>
<li>Victoria line - shuttle service between Victoria and Seven Sisters </li>
<li>District line - shuttle service between Wimbledon and Tower Hill and between Ealing Broadway&nbsp;and High Street Kensington </li>
<li>Metropolitan line - services between Baker Street and Amersham </li>
<li>Piccadilly line - shuttle service between Arnos Grove and Cockfosters; shuttle service between Hownslow Central and Hammersmith </li>
<li>Central line - shuttle services between Liverpool Street and Epping and between Liverpool Street and Hainault as well as White City to Ealing and West Ruislip </li>
<li>Bakerloo line - shuttle service between Elephant &amp; Castle and Queen's Park</li>
<li>Hammersmith &amp; City line - shuttle service between Baker Street and Hammersmith </li></ul>
<h3>Buses </h3>
<p>The bus network is currently performing very well, with delays of around 20 minutes due to heavy traffic and the number of passengers using bus services. </p>
<p>We have around 100 extra buses out on the network, which has around 700 routes. </p>

<p>Staff are helping passengers outside rail termini and interchanges.&nbsp; </p>
<p>We are advising passengers to leave extra time to complete their journeys.</p>
<h3>National Rail </h3>
<p>Oyster pay as you go will be accepted on all National Rail journeys within Greater London on Wednesday and Thursday, just show your Oyster card at station gate lines. </p>
<h3>Docklands Light Railway, London Overground and Tramlink</h3>
<p>Services are operating as normal. </p>
<h3>Roads and the Congestion Charge </h3>
<p>To help keep traffic flowing, the Congestion Charge will remain in operation&nbsp;and TfL will be suspending road works on major London roads wherever possible. Londoners and commuters are encouraged to consider alternatives to the car. </p>
<h3>Cycling </h3>
<p>Additional options for cyclists today will include temporary parking facilities and thousands of cycle maps&nbsp; distributed across London. </p>
<h3>Cycle parking </h3>
<p>In addition to the major cycle park at <a href="/roadusers/cycling/11947.aspx">Finsbury Park </a>and existing racks at major London stations across the city, another 1,000 cycle parking spaces will be provided at London Bridge cycle park and temporary cycle parking facilities at the locations and times below. </p>
<p>Many London businesses will also be opening up their foyers and parking facilities for their staff.</p>
<ul>
<li>Trafalgar Square: 150 spaces (06:00-21:00 on Thursday) </li>
<li>Potters Field, accessed via Weavers Lane: 100 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday) </li>
<li>Waterloo bus garage, accessed only via Cornwall Road off The Cut, approach via Sandell Street: 150 spaces (08:00-17:30 on Thursday&nbsp;- closing strictly at 17:30) </li>
<li><a href="/roadusers/cycling/11947.aspx">London Bridge cycle park</a>: 350 spaces </li>
<li>The Mall, between Marlborough Road and George IV statue/Queen Mother memorial - 250 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday)</li></ul>
<h3>Walking </h3>
<p>If you are considering making or completing your journey by foot, check <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> for information or, in central London on strike days, pick up a free local vicinity walking map from staff at major rail stations, bus stations and key Tube stations. </p>
<h3>River </h3>
<p>Existing services will be boosted today from a capacity of 1,500 to 8,000 an hour and including an additional free shuttle service from London Bridge to Tower Bridge:</p>
<ul>
<li>Thames Clippers - as well as the normal commuter services (between Embankment and Woolwich) Thames Clippers will be providing additional shuttle services between London Bridge and Canary Wharf and between Greenland Pier (Rope St Deptford) and Canary Wharf during the peak morning commute. As usual travel card holders will receive 1/3 off the ticket price </li>
<li>City Cruises - will be operating a free peak shuttle every 10 minutes between 15:00-20:00 on Thursday between Westminster - London Eye -Tower Bridge<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the latest updates see Live travel news London Underground and TfL services during RMT strike action - update at 12:15Services are running on nearly all London Underground lines this afternoon, including a full service on the Northern and Jubilee";}
        
        


 