


@{ViewBag.Title = "London Underground offers new pay deal and calls on RMT leadership to end strike threat";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground offers new pay deal and calls on RMT leadership to end strike threat</h1>
        <div class="content-page-press-release">
        05 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<blockquote></blockquote>
<ul>
<li><strong>Revised pay offer made to all unions </strong></li>
<li><strong>London Underground (LU) welcomes constructive talks</strong></li></ul>
<p>LU today met all trade unions for negotiations towards a new, multi-year pay and conditions agreement.&nbsp; </p>
<p>LU made a revised four-year offer of 1.5 per cent&nbsp;this year and RPI +0.5 per cent in future years, a very fair offer in tough economic times.&nbsp;</p>
<p>There would be no reduction in working hours or any other changes in terms and conditions. </p>
<h2>Unnecessary strike</h2>
<p>The offer also involves a commitment by all parties to set up a Forum to discuss working arrangements required for the 2012 Games.&nbsp;This is LU's recommended offer.</p>
<p>However, following representations from the ASLEF, TSSA and Unite unions, LU also agreed to table a two-year offer of one per cent this year and RPI +0.5 per cent next year.</p>
<p>LU has urged all unions to seriously consider the offers and to put both offers to their memberships.&nbsp;LU also called on the RMT leadership to end their unnecessary strike threat to Tube services next week.</p>
<p>LU Interim Managing Director Richard Parry said: 'This is a very fair offer which we urge all of the unions to seriously consider and put to their memberships.</p>
<h2>Work together</h2>
<p>'While we recommend the four-year offer, both provide an above inflation pay increase and stability for our staff in a tough economic climate.</p>
<p>'There is now no reason whatsoever for the RMT leadership to continue to call for strike action next week.</p>
<p>'They should call it off immediately and join all other unions in continuing with constructive talks to conclude this agreement.</p>
<p>'We also propose that all parties now jointly work together to discuss 2012 working arrangements for our staff.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Revised pay offer made to all unions London Underground (LU) welcomes constructive talksLU today met all trade unions for negotiations towards a new, multi-year pay and conditions agreement.&nbsp; LU made a revised four-year offer of 1.5 per";}
        
        


 