


@{ViewBag.Title = "London Underground unveils more languages at ticket machines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground unveils more languages at ticket machines</h1>
        <div class="content-page-press-release">
        01 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To make life easier for London's diverse communities, overseas tourists and business travellers, London Underground (LU) has upgraded all touch screen ticket machines with 17 languages at all Tube stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Boosting the number of languages on our ticket machines is just another step in making life easier for those who live in, or travel through, the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Transport Director to the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Boosting the number of languages on our ticket machines is just another step in making life easier for those who live in, or travel through, the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>Some ticket machines already had six languages available: English, French, German, Italian, Japanese and Spanish. </p>
<p>Now, as part of Transport for London's (TfL's) Investment Programme, all touch screen machines in every station will also have Arabic, Bengali, Chinese, Greek, Gujarati, Hindi, Polish, Punjabi, Tamil, Turkish and Urdu. </p>
<p>LU is now one of the world's leaders in providing a large range of language translations.<br>&nbsp;<br>Kulveer Ranger, Transport Director to the Mayor of London, said: 'More than three hundred languages are spoken in London, and even more by those who visit the city each year.&nbsp; </p>
<p>'Boosting the number of languages on our ticket machines is just another step in making life easier for those who live in, or travel through, the Capital. </p>
<h2>A positive experience</h2>
<p>'It will give many people added confidence, and will help maintain London as a city that supports its cultural diversity, and recognises the value of ensuring tourists and visitors have a positive experience in our city.'<br>&nbsp;<br>Wayne Trevor, LU's Accessibility and Inclusion Manager, said: 'Although many of our staff speak foreign languages, we have increased language translations on our ticket machines to make it easier and quicker for tourists and those from London's diverse communities whose first language isn't English to travel on the Tube.</p>
<h2>Travel with confidence</h2>
<p>'By increasing the number of language translations, more customers will be able to travel with confidence by using our ticket machines.'<br>&nbsp;<br>Jane Collis, Director of Regional Language Network (RLN) London, said: 'We know from our work with London Underground that it's important for information to be available in a wide range of languages for international visitors - and for many London residents too. </p>
<p>'After all, we want to welcome people to the wonderful global city we live and work in.&nbsp; </p>
<p>'As we look ahead to the 2012 Games, RLN London is delighted to see LU taking the initiative to make sure that it is easy for people to use and understand their network.'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br><strong>Notes to editors:</strong></p>
<ul>
<li>LU is undertaking a major programme of renewal as part of TfL's Investment Programme </li>
<li>TfL's range of <a href="http://www.tfl.gov.uk/tfl/traveltools">Travel Tools </a>help passengers plan journeys, get travel information on the move and work out the safest way home</li>
<li>For free mobile and email alerts to keep them up to date on all Transport for London services they can sign-up <a href="http://www.tfl.gov.uk/tfl/livetravelnews/mobileservices/default.asp">here </a></li>
<li>Apart from the TfL <a href="http://www.tfl.gov.uk/tubeworks">website</a>, passengers can check before travelling via the following options: 
<ul type="circle">
<li>The London Travel Info 24hrs telephone helpline: 020 7222 1234 </li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some ticket machines already had six languages available: English, French, German, Italian, Japanese and Spanish. Now, as part of Transport for London's (TfL's) Investment Programme, all touch screen machines in every station will also have Arabic,";}
        
        


 