


@{ViewBag.Title = "London Buses announces changes to bus routes 8, N8 and C2 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses announces changes to bus routes 8, N8 and C2 </h1>
        <div class="content-page-press-release">
        23 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 27 June 2009, bus route C2 will be extended to serve Victoria and routes 8 and N8 will terminate at Oxford Circus.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These changes will help to provide a more reliable service 
                            
                        </p>
                    </div>
                
            
            
            <p>The extension to route C2, which will run 24-hours-a-day between Parliament Hill Fields and Victoria, creates new direct links between Camden Town, Berkeley Square and Green Park.</p>
<p>At the same time route 8, which runs between Bow and Victoria, and route N8 which runs between Hainault and Victoria, will terminate at Oxford Circus and no longer serve Victoria. </p>

<p>Passengers wishing to continue their journeys from Oxford Circus will be able to use routes C2 or 73.</p>
<p>These changes will help improve reliability on route 8 and follow a detailed review of bus services in the area. </p>

<p>They will also contribute to a reduction in the number of buses using Oxford Street.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'We keep the bus network under regular review. </p>

<p>'These changes will help to provide a more reliable service on route 8, and will provide new links between Camden Town, Berkeley Square and Green Park on route C2.'</p>
<p>To allow buses on route C2 to pick up passengers at Victoria bus station, route 52 will be adjusted to terminate at nearby Terminus Place, and pick up passengers in Wilton Road.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Frequencies will remain unchanged</li>
<li>Davies Street and New Bond Street (north of Conduit Street) will no longer be served by buses. However these streets are within a short walking distance of bus routes on Oxford Street or route C2 at Berkeley Square</li>
<li>TfL is reducing the number of buses using Oxford Street by 10 per cent in 2009. There will no longer be buses turning on and off Oxford Street to and from New Bond Street/Davies Street<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extension to route C2, which will run 24-hours-a-day between Parliament Hill Fields and Victoria, creates new direct links between Camden Town, Berkeley Square and Green Park.At the same time route 8, which runs between Bow and Victoria, and route N8";}
        
        


 