


@{ViewBag.Title = "Mayor's traffic signal review targets major junctions in the next year ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's traffic signal review targets major junctions in the next year </h1>
        <div class="content-page-press-release">
        04 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the Mayor of London's commitment to smoothing traffic flow, Transport for London (TfL) is set to review traffic signal timings at several major intersections in the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our timing review programme is aimed at making life a little bit easier for everyone who uses a particular junction"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">Director of Traffic Operations</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our timing review programme is aimed at making life a little bit easier for everyone who uses a particular junction
                            
                        </p>
                    </div>
                
            
            
            <p>These&nbsp;include Trafalgar Square, Hyde Park Corner and Marble Arch, and the Hangar Lane gyratory.</p>
<p>The work will include the introduction of intelligent technology at around&nbsp;one hundred more sites over the next twelve months that will allow traffic lights to monitor traffic levels and adjust their own timings accordingly.</p>
<p>The review of traffic signal timings across the Capital to help junctions perform more efficiently was a part of the Mayor's election manifesto. </p>
<h2>Signal timing review</h2>
<p>As a result, TfL has increased its programme of signal timing reviews to 1,000 a year and in 2009/10 will focus on the following key routes and junctions:</p>
<ul>
<li>Kingston Town Centre</li>
<li>Vauxhall Cross</li>
<li>Savoy Circus and Gypsy Corner on the A40</li>
<li>A30 south west access to Heathrow</li>
<li>A1000 Barnet</li>
<li>South London tram network</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'When campaigning to be Mayor my ears were regularly chewed to the bone by voters who were angry about the snail's pace at which traffic moves through some of our streets. </p>
<p>'No Londoner can have avoided the frustration of signals that appear to have been set with no relation to their surroundings, which is why these reviews are so important and can make such a difference to the Londoners that are affected by them. </p>
<h2>Getting traffic moving</h2>
<p>'Over the next twelve months, TfL will be looking at the signals at some of London's key junctions and my team hopes this work will make a significant contribution to our goal of getting Londoners moving again.'</p>
<p>Since the election of the Mayor, timing reviews have already made considerable improvements. </p>
<p>A recent review of Euston Road, one of the busiest thoroughfares in London, involved 26 traffic signal sites. </p>
<p>The traffic lights here are now 'intelligent' and use sensors buried in the road to change timings according to current traffic demand.</p>
<h2>Adjusting to demand</h2>
<p>The road has been subject to dramatic changes of the use of land in recent years, with the developments at Kings Cross and St Pancras stations. </p>
<p>TfL engineers updated the signal timings to reflect these changes and a recent analysis indicated a four per cent average reduction in journey times in the area, when comparing March 2009 with March 2008.</p>
<p>Alan Bristow, Director of Traffic Operations, said: 'Traffic smoothing is about more than traffic lights and road humps, but our timing review programme is aimed at making life a little bit easier for everyone who uses a particular junction, be they pedestrians, cyclists or motorists.</p>
<p>'Timings at traffic lights need to be adjusted periodically to reflect changes in traffic levels and land use, such as when a new supermarket or school is built.&nbsp; </p>
<h2>Intelligent technology</h2>
<p>'At the same time we try to reduce some of the unnecessary stop-starting between junctions to help traffic flow more smoothly.'<br>&nbsp; <br>TfL is working on a range of measures to smooth traffic flow in London including: </p>
<ul>
<li>Reviewing traffic signal timings, without prejudicing the needs of pedestrians and vulnerable road users</li>
<li>Allowing motorcycles in the majority of TfL-controlled bus lanes from 5 January 2009 on a trial basis for 18 months</li>
<li>Working with utility companies to reduce the impact of the works they do to repair and replace ageing infrastructure across&nbsp;the Capital through measures such as introducing a permit scheme, investigating the use of plating, maximising off peak working, and limiting the amount of excavation for essential works</li>
<li>The London Traffic Control Centre, the six Met Transport Operational Command Unit Roads Response Teams, Red Route Teams and other officers all work together to respond to and reduce the duration of unplanned congestion in real time, ensure London's roads remain clear of obstructions and keep traffic moving</li></ul>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The reasons for a signal review can include: issues raised by local communities, significant change in land use (eg a new supermarket), high levels of congestion observed by the London Traffic Control Centre and feedback from London Buses if a bus route is regularly being delayed
<li>The current schedule of sites is subject to change through regular meetings with local boroughs, which may highlight the need to prioritise different locations</li>
<li>There are currently 1062 sites allocated for review in 2009/10, which includes some contingency sites</li>
<li>SCOOT technology (intelligent traffic signals that adapt timings according to live traffic conditions using sensors buried in the road) is an effective method of traffic signal operation. Current investment to expand the coverage of SCOOT technology in London will have a positive impact on smoothing traffic flow. TfL will be installing SCOOT at 100 traffic signal sites in 2009/10</li>
<li>The signal timing review on Euston Road involved 18 junctions and 8 pedestrian crossings between Melton St / Gordon St and Caledonian Road / Northdown St<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These&nbsp;include Trafalgar Square, Hyde Park Corner and Marble Arch, and the Hangar Lane gyratory.The work will include the introduction of intelligent technology at around&nbsp;one hundred more sites over the next twelve months that will allow traffic";}
        
        


 