


@{ViewBag.Title = "Mayor tests London's first air-conditioned Tube train";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor tests London's first air-conditioned Tube train</h1>
        <div class="content-page-press-release">
        23 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With summer on its way and excellent weather being forecast Tube passengers will already have noticed their journeys getting warmer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"For thousands of clammy Tube passengers some relief is finally in sight"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For thousands of clammy Tube passengers some relief is finally in sight 
                            
                        </p>
                    </div>
                
            
            
            <p>However for thousands of Londoners some relief is on the horizon as from next summer Metropolitan line passengers will become the first in the Capital to be able to use air- conditioned Tube trains. </p>
<p>This week the Mayor visited a test track to see the first of the new trains in action for himself.</p>
<p>The first new train is due to enter service on the Metropolitan line next summer but new trains will also eventually be rolled out on the Circle, District and Hammersmith &amp; City lines. </p>
<p>The Mayor of London, Boris Johnson, said: 'For thousands of clammy Tube passengers some relief is finally in sight as we have now begun testing the first of 191 super cool and spacious new trains. </p>
<h2>Major step forward</h2>
<p>'The first new train will begin running in the Capital by next summer and having taken it for a test run myself I can vouch that passengers are going to be terrifically impressed.</p>
<p>'These trains are fully walkthrough, boast improved information and security features, are designed to make life easier for disabled passengers and the air conditioning systems will keep passengers comfortable whatever the weather.'</p>
<p>The Tube is the oldest metro system in the world and the vast majority of the network was built long before air conditioning systems were developed for train use.</p>
<p>Air-conditioned trains are a major step forward. However much of the Tube is made up of deep and narrow tunnels built with insufficient space for air conditioning and finding cooling solutions is one of the many challenges being addressed by the Underground's Cooling the Tube project team. </p>
<h2>Double air-flow capacity</h2>
<p>The Mayor added: 'Cooling the deeper Underground lines remains a considerable challenge. </p>
<p>'A crack team of engineers at Transport for London (TfL) is focused on doing just that and is concentrating on the Victoria line in particular where we are doubling the capacity of the fans at all of the main ventilation shafts serving the line and adding cooling systems to four major stations.'</p>
<p>The first phase of the ventilation shaft upgrade (that will double air-flow capacity) will be completed this year, and preparation for the next phase of work has begun.</p>
<p>In addition, this summer will see the return of the industrial-sized blue fans that help increase ventilation at 36 locations on the Tube network.</p>
<p>London Underground (LU)&nbsp;is also upgrading and re-conditioning the existing station ventilation fan network.</p>
<h2><a name="stay-cool"></a>Stay cool</h2>
<p>In 2003, only 38 fans were in operation, whereas today 83 fans are working. Later this year works will start at Old Street, Angel and Notting Hill Gate to bring more fans back into operation. </p>
<p>LU will, as in previous summers, be providing hot weather advice to passengers.</p>
<p>Posters and announcements at stations will provide tips to passengers on how to try and stay cool. 'Stay Cool' posters will be displayed at all stations bearing the following advice: </p>
<ul>
<li>Carry water with you </li>
<li>Don't board a train if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff and </li>
<li>Avoid pulling the passenger alarm between stations</li></ul>
<p>Bus passengers are also being helped to beat the heat. All new double-decker buses are now fitted with air-cooling systems and all double-decker buses in the Capital's fleet have been fitted with extra opening windows. </p>
<p>There are now 2,041 double-decker buses with air cooling or forced air ventilation systems. </p>
<p>In addition, all new buses must have heat reflective white painted roof panels, panel insulation and tinted glass.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>New trains (SSR upgrade) - New trains equipped with air cooling will be delivered for the sub-surface network from 2010 onwards. Metropolitan line from 2010, Circle and Hammersmith &amp; City lines from 2011 and District line from 2013 </li>
<li>Ground water cooling trial - The trial, which started at Victoria station in summer 2006, has been successful and has improved temperatures in the mid platform area. The groundwater trial provided an environmentally friendly cooling solution for the&nbsp;Victoria line platforms at Victoria station and uses groundwater which is already pumped out of the station. Across the Tube network, LU pumps out 30 million litres of water each day </li>
<li>Borehole cooling at Green Park - LU has drilled successful trial wells, to source naturally cool water from the aquifer deep below the park. The water will be distributed to air handling units in the station, to bring cooling benefits </li>
<li>Ventilation shafts - LU is upgrading ventilation shafts, which will improve airflow- increasing air distribution capacity to allow air to escape more easily. By 2011, 13 ventilation fans along the Victoria line will be upgraded. Work on the first four will be completed this year </li>
<li>Out of service fans - LU is upgrading and re-conditioning the existing station ventilation fan network. A total of 83 ventilation fans have now been restored.&nbsp;Summer fans installed in summer 2008 will once again be used. A total of 36 fans are installed within tickets and concourse areas to increase air circulation at a number of stations. It was initially trialled at a number of stations including Seven Sisters and Chancery Lane in 2007 </li>
<li>Impulse fans - High speed ceiling mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North stations will be used again following their successful use at these stations last year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "However for thousands of Londoners some relief is on the horizon as from next summer Metropolitan line passengers will become the first in the Capital to be able to use air- conditioned Tube trains. This week the Mayor visited a test track to see the";}
        
        


 