


@{ViewBag.Title = "Mayor's Transport Director joins cast of internet drama to urge teenagers 'Look out for your mates'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's Transport Director joins cast of internet drama to urge teenagers 'Look out for your mates'</h1>
        <div class="content-page-press-release">
        03 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Part of TfL's latest teen road safety campaign to reduce number of teenagers killed or seriously injured on London roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Working with Bebo on their popular drama is a brilliant new way of getting some serious messages across"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's Director of Transport Policy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Working with Bebo on their popular drama is a brilliant new way of getting some serious messages across
                            
                        </p>
                    </div>
                
            
            
            <p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, met up with the cast of online drama 'Sofia's Diary' at a Pimlico school today to promote the latest initiative in Transport for London's (TfL) teen road safety campaign.</p> <p>TfL has teamed up with Bebo and the producers of the show, which is viewed on average around 900,000* times per week using the popular social network. </p> <p>The new season of Sofia's Diary features a road safety storyline where viewers will see the star re-evaluate her attitude to road safety when it directly affects someone close to her.</p> <h2>Improving safety</h2> <p>The Mayor's Director of Transport Policy and three members of the cast of hit teenage drama 'Sofia's Diary' took part in a discussion with a group of teenagers from Grey Coat School about young people's attitude to road safety. </p> <p>Young teenagers are seen as a vulnerable road user group. </p> <p>This is associated with their growing independence and the need for them to travel to school on their own before they have developed the skills to recognise the risks there are on the roads.</p> <p>TfL's road safety unit organised the session as part of its ongoing work to reduce the number of young people killed or seriously injured (KSI) on the Capital's roads. </p> <p>The Sofia's Diary storyline will add further momentum to TfL's latest stark teen road safety campaign, 'Think! Look out for your mates'.</p> <h2>Online media</h2> <p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'Young people are huge consumers of online media and working with Bebo on their popular drama is a brilliant new way of getting some serious messages across. </p> <p>'We want the road safety storyline to get teenagers in the Capital thinking about how a collision might affect their own lives and learning how to use the roads safely.'</p> <p>Teen road casualty figures for 2008 show an encouraging reduction in the number of teenagers KSIs on the Capital's roads. </p> <p>The number of teenage (13-to-19-year-olds) KSIs fell a further seven per cent in 2008 compared to 2007 and are now 46 per cent down on the numbers in 2000. </p> <p>Overall there were 367 casualties in 2008 compared to 393 in 2007 and 675 in 2000.</p> <h2>Vunerable road users</h2> <p>Chris Lines, Head of the TfL London Road Safety Unit, said 'London has seen a further reduction in the number of teenage casualties, but the message still needs to be loud and clear - every day a teenager is killed or seriously injured on London Roads.</p> <p>'There are many contributing factors to any collision and Transport for London takes tackling them very seriously. </p> <p>'We are working closely with the London boroughs and spending &pound;45m this year on further safety measures.'</p> <p>For more information go to <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></p> <p>To watch Sofia's Diary go to <a class="external-site" title=" (Opens in new window)" href="http://www.bebo.com/sofiasdiary" jquery1244038876542="6">www.bebo.com/sofiasdiary</a></p> <p> <hr> <strong>Notes to editors:</strong>  <p> <ul> <li>In March 2000, the Government announced a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's roads - safer for everyone'  </li><li>By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are:  <ul> <li>A&nbsp;40 per cent reduction in the number of KSIs  </li><li>A 50 per cent reduction in the number of children KSIs  </li><li>A&nbsp;10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres</li></ul> <li>London has already exceeded the 2010 targets set by the Government for children KSIs (50 per cent reduction) and the total number of KSIs (40 per cent reduction) three years early. London has achieved this and also met a more stringent target, a 60 per cent reduction in the number of children (15-years-old and younger) KSIs  </li><li>* Internal data showing average weekly views across series one and two as of 26 September 2008<br></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Kulveer Ranger, the Mayor of London's Director of Transport Policy, met up with the cast of online drama 'Sofia's Diary' at a Pimlico school today to promote the latest initiative in Transport for London's (TfL) teen road safety campaign. TfL has teamed";}
        
        


 