


@{ViewBag.Title = "Richmond Circus to undergo transformation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Richmond Circus to undergo transformation</h1>
        <div class="content-page-press-release">
        23 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvements to the roundabout and surrounding area will benefit pedestrians, cyclists and motorists.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The improvement works will make a difference to traffic flows in the area and there will also be better facilities for pedestrians and cyclists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Road Network Management at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The improvement works will make a difference to traffic flows in the area and there will also be better facilities for pedestrians and cyclists
                            
                        </p>
                    </div>
                
            
            
            <p>On 6 July, Transport for London (TfL) will begin a five-month improvement project to enhance the A316 Richmond Circus roundabout as part of TfL's Investment Programme.&nbsp; </p>
<p>On completion, journey times will be reduced and accessibility for cyclists and pedestrians will be improved.</p>
<p>There will be a site office open next week so that members of the public can have the opportunity to meet the construction team and view the junction improvement plans.&nbsp; </p>
<p>The site office is situated in Old Deer Car Park and will be open to the public on:</p>
<ul>
<li>Wednesday 1 July: 12:00 to 18:00&nbsp; </li>
<li>Thursday 2 July: 13:00 to 19:30&nbsp; </li>
<li>Friday 3 July: 9:00 to 13:00</li></ul>
<h2>The scheme will include:</h2>
<ul>
<li>A new traffic lane on the A307 exit road to Kew Road towards Richmond town centre </li>
<li>The addition of more than 100 metres of segregated cycle lane linking two existing London Cycle Network routes </li>
<li>Upgrading all pedestrian crossings to shared-use crossings for cyclists and pedestrians </li>
<li>Improvements to the urban environment with new trees planted in the central island and the borders of the roundabout&nbsp; </li>
<li>Footway and carriageway resurfacing </li>
<li>Repairs and improvements to the drainage network throughout the junction</li></ul>
<p>While the improvement works are taking place, every effort will be made to keep disruption to a minimum.&nbsp; </p>
<p>The majority of the work will be undertaken under off-peak lane restrictions, but occasional overnight closures to some arms of the roundabout will be necessary for resurfacing work. </p>
<p>Suitable diversion routes will be advertised during the overnight closures.&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>TfL has coordinated with National Grid to ensure that essential gas pipe replacement works are completed in conjunction with this road improvement scheme, thereby reducing future disruption in the area. </p>
<h2>Better facilities</h2>
<p>Dana Skelley, Director of Road Network Management at TfL, said: 'Richmond Circus is a vital link to the A316 and it is being upgraded to meet the needs of today's road users. </p>
<p>'The improvement works will make a difference to traffic flows in the area and there will also be better facilities for pedestrians and cyclists. </p>
<p>'In addition the planting of new trees and the clearing of pavements will enhance the environment. </p>
<p>'I apologise to motorists for the possible delays here over the coming months, but I am sure the transformation we will see by the end of the year will be appreciated.'</p>
<p>The roundabout experiences high volumes of traffic and forms part of an important link to central London, the M25 and to Richmond town centre.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>This project is part of TfL's &pound;10bn Investment Programme, which funds work that improves London's transport system and the urban environment </li>
<li>TfL manages the red routes: a network of 580km of London's roads, which carry 35 per cent of the city's traffic </li>
<li>The contractor carrying out the work is Ringway<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On 6 July, Transport for London (TfL) will begin a five-month improvement project to enhance the A316 Richmond Circus roundabout as part of TfL's Investment Programme.&nbsp; On completion, journey times will be reduced and accessibility for cyclists and";}
        
        


 