


@{ViewBag.Title = "TfL thanks London's Junior Road Safety Officers as the Capital's streets are safer than ever ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL thanks London's Junior Road Safety Officers as the Capital's streets are safer than ever </h1>
        <div class="content-page-press-release">
        25 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's roads see 67 per cent fewer child road casualties since 1994-98.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We would like to thank our Junior Road Safety Officers for the vital part they play in educating their friends how to safely negotiate London's roads
                            
                        </p>
                    </div>
                
            
            
            <p>Six hundred Junior Road Safety Officers (JRSOs) from primary schools across London will attend a special three-day event at London's Transport Museum as a reward for their hard work over the past year.</p>
<p>Their efforts have helped to reduce the number of children killed or seriously injured (KSI) on London's roads by 67 per cent compared to the 1994-98 average.</p>
<p>The Street Safe Live day is full of fun, interactive activities at the Transport Museum in Covent Garden&nbsp;taking place&nbsp;24-26 June. </p>
<p>The event also includes workshops and a performance of the Street Safe Quiz - an audience participation quiz with a road safety theme. </p>
<h2>Junior leaders</h2>
<p>This is the fourth year that TfL has organized Street Safe Live, aimed at celebrating the success of the Junior Road Safety scheme which recruits Year Five and Six pupils to take the lead in promoting road safety issues in their classrooms. </p>
<p>It is vital that these students are aware of the dangers of the road as they prepare for secondary school when many of them will be travelling to and from school on their own. </p>
<p>Janet Kirrage, TfL's London Road Safety Education Manager, said: 'As London's roads are getting safer, we would like to thank our Junior Road Safety Officers for the vital part they play in educating their friends about how to safely negotiate London's roads.</p>
<p>'Young teenagers aged between 11 and 14 are still the most likely age group to be involved in an accident and we are working relentlessly to change this.</p>
<p>'It is very important that we educate youngsters about road safety and I want to thank these young Officers for taking up such an important role in their schools. I believe this annual event will continue to motivate school children to be part of this significant project.' </p>
<h2>Interactive activities</h2>
<p>At Street Safe Live the children will walk through a time gallery were historical chracters will discuss the road safety implications of their jobs. Characters will include&nbsp;a road sweeper from the 1880s, a bus cleaner from 1916 and a Tube guard from 1978. The JRSOs will talk to the characters and use their road safety knowledge to advise them how to stay safe.</p>
<p>The JRSOs will also play a giant game of 'skids and ladders', which will lead them up the ladders when they answer questions correctly and down the skids if they answer incorrectly.&nbsp;The exhibit will remain in the Museum&nbsp;for the summer holidays. </p>
<p>The Street Safe quiz will pit one half of the audience against the other to test their road safety knowledge. Hosts 'Rhoda' and 'Street' will be on hand to award points and make sure everyone knows how to stay safe. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Photo opportunities are available all day on Thursday 24 and Friday 25 June at the Transport Museum with participants in horse and&nbsp;carriage, tram, Routemaster buses, etc. To book please contact the TfL Press Office on&nbsp;<a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a> </li>
<li>High resolution photos of the event can be made available on request </li>
<li>The Junior Road Safety Scheme is just one of a range of educational resources that TfL provides for children and young people, including:<br>Children's Traffic Club - ages 3-4<br>A-Z of Traffic Tales - ages 5-7<br>Safety and Citizenship - ages 10-11<br>Theatre in Education - ages 11-12<br>Look After Your Mates, teen marketing campaigns - ages 11-14 </li>
<li>More information about the Junior Road Safety Officer scheme, including the resources available to the JRSOs, can be found at <a href="http://www.tfl.gov.uk/tfl/jrso">www.tfl.gov.uk/tfl/jrso</a> </li>
<li>The Government announced in March 2000 a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. The casualty reduction targets are to be achieved by 2010 including a 50 per cent reduction in child KSI </li>
<li>A&nbsp;Road Safety Plan for London was produced by TfL in 2006, which supported the national targets and set further targets for reducing the numbers of children killed or seriously injured by 2010 against the same baseline and the target is to reduce the child KSI by 60 per cent&nbsp; </li>
<li>TfL is achieving these targets ahead of time. The latest figures show all child KSI is 67 per cent below the 1994-98 average, after a six per cent decrease (331 to 310)&nbsp; in 2008, 67 per cent lower overall (935 to 310). For more details please visit our <a title="Media newscentre archive" href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/11793.aspx">newscentre</a> <br>For more information about the Transport Museum and Street Safety shows please vistit the <a title="London Transport Museum whats on" href="http://www.ltmuseum.co.uk/whatson/115.aspx ">London Transport Museum </a>website <br><br><strong></strong></li></ul>
<p><strong>
<hr>
Top five ways to keep your kids safe: </strong>
<ul>
<li>MP3 / MP4 players are great for listening to the latest songs, but they&nbsp;prevent you from hearing traffic. When crossing roads remove headphones, turn it off or at least press pause </li>
<li>Although days are brighter for longer in summer the same rules apply. Just because the sun is out it doesn't mean the driver has seen you. The glare from the sun can temporarily block you out from&nbsp;drivers' vision </li>
<li>Walking around with your hood up may be hip, but when it comes to crossing the road you lose much of your peripheral vision (the bit you can see out of the corner of your eyes when you look straight ahead). When it comes to crossing the road, give it your full attention and take your hood down. It's only until you get to the other side! </li>
<li>Look out for your friends. If you are out and about and you see a friend about to do something potentially dangerous, for example crossing the road when on the phone, speak up.&nbsp;Friends watch out for each other </li>
<li>If you decide to&nbsp;travel by bike remember to wear the right gear. Dark colours may look cool but that won't always make you visible to drivers and other road users. Be bright, be seen!<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Six hundred Junior Road Safety Officers (JRSOs) from primary schools across London will attend a special three-day event at London's Transport Museum as a reward for their hard work over the past year.Their efforts have helped to reduce the number of";}
        
        


 