


@{ViewBag.Title = "TfL sets high standards in new rail franchise";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets high standards in new rail franchise</h1>
        <div class="content-page-press-release">
        16 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers in south London can look forward to a huge improvement in their stations thanks to the adoption of Transport for London's (TfL) London Overground standards in a new rail franchise.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am delighted the Government has agreed to work with Transport for London
                            
                        </p>
                    </div>
                
            
            
            <p>The new South Central franchise awarded to Southern Railways Ltd, a subsidiary of Govia Ltd - the current franchise operator - by the Department for Transport (DfT) insists on more stations being staffed and some staffed for longer hours.</p>
<p>It demands Oyster acceptance within Zones 1 to 6, cleaner stations, more cycling facilities and a minimum of four trains per hour where possible.&nbsp; </p>
<p>It will also tackle overcrowding with longer trains and platforms - all of which were suggested by TfL.</p>
<h2>Staffed stations</h2>
<p>The Mayor of London, Boris Johnson, said: 'I am delighted the Government has agreed to work with Transport for London to ensure that stations and services on these routes meet the list of improvements we recommended, not least of which being the Oysterisation that will make journeys so much easier for passengers.&nbsp; </p>
<p>'The Government's desire to follow our lead by insisting the new contractor run more trains and ensures stations are staffed for longer will please everyone that uses these lines.'</p>
<p>Besides these and other recommendations, TfL has also agreed to invest &pound;4m to help the train operator meet its staffing, cleaning and cycle parking obligations.</p>
<p>Managing Director of TfL London Rail, Ian Brown, said: 'We have been working closely with the DfT on the specification for the new franchise and are delighted that it will provide such considerable improvements for rail passengers in South London, Surrey and Sussex.&nbsp; </p>
<p>'The acceptance of Oyster pay as you go and the increase in frequency of services on suburban routes&nbsp;- and longer trains at peak times along with later trains to provide better links with the Tube network - will all contribute to achieving a more integrated transport network for south Londoners.</p>
<h2>Higher standards</h2>
<p>'On top of this TfL is investing &pound;4m for additional improvements to the franchise which will generate the equivalent of around &pound;10m in customer benefits.&nbsp;&nbsp; </p>
<p>'This money will pay for a programme of cleaning and repairs to stations within the London area, as well as additional staff and more cycle parking.</p>
<p>'Many of these improvements have already been introduced on the London Overground network since TfL took it over in November 2007.'</p>
<p>TfL will also have a part to play in the management of the franchise with the train operator allowing it to monitor performance, standards and customer satisfaction. </p>
<p>The operator will also be required to contribute to improving areas around its stations.</p>
<p>Southern will begin running its new franchise on 20 September 2009.</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL recommendations are:
<ul>
<li>Longer trains and platforms to meet projected demand to 2014</li>
<li>A minimum of 4 trains per hour (tph) on each route where the infrastructure allows</li>
<li>First and last trains to align with Tube operating hours</li>
<li>Oyster acceptance and retailing at stations within Zones 1-6 (subject to industry-wide agreements)</li>
<li>Staffing for at least 16 hours at each of 14 stations being gated by TfL</li>
<li>The transfer of stations, which will become part of the East London Line Extension (Phase 1), to TfL from the start of the franchise</li></ul>
<li>TfL has also agreed to invest &pound;4m to help provide the following:</li>
<ul>
<li>More staff - to ensure all stations within the London area are staffed (where accommodation is available and there is a service frequency of at least 4tph)</li>
<li>Station deep clean and refresh (ie clean, repaint and repair )&nbsp;to bring suburban stations up to TfL's London Overground standard</li>
<li>Additional cycle parking at stations in the London area</li></ul>
<li>The stations being refurbished as part of the new contract, are: Battersea Park, Purley, Wallington, South Croydon, Streatham Hill, Streatham Common, Streatham, West Norwood, Peckham Rye, Gipsy Hill, Thornton Heath, Norbury, Tulse Hill and&nbsp;Carshalton</li>
<li>The introduction of these standards on TfL's London Overground network has led to Oyster ticketing available across the network, ticket vending machines at all stations, trains running earlier and later, more trains running on time, a drop of 10 per cent in people travelling without tickets and cleaner and refurbished stations</li>
<li>The seven-year South Central franchise was held by Southern. The new franchise is also for five years and ten months with a possible extension of up to two years<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new South Central franchise awarded to Southern Railways Ltd, a subsidiary of Govia Ltd - the current franchise operator - by the Department for Transport (DfT) insists on more stations being staffed and some staffed for longer hours.It demands Oyster";}
        
        


 