


@{ViewBag.Title = "TfL moves to improve traffic CCTV and smooth traffic flow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL moves to improve traffic CCTV and smooth traffic flow</h1>
        <div class="content-page-press-release">
        02 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New maintenance contract will see fewer system faults and more efficient monitoring of the Capital's busy roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"CCTV systems are vital for us to keep London's traffic flowing smoothly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Daniel Ruiz</div>
            <div class="quotee-job-title">Head of Real Time Operations</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            CCTV systems are vital for us to keep London's traffic flowing smoothly
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is raising the bar in the reliability of its traffic monitoring CCTV systems, which include over 1500 cameras that monitor and manage incidents and events 24-hours a day on London's busy roads.</p> <p>Last week, a new way of working was agreed between TfL and CCTV maintenance contractor, Tyco Fire and Security (UK) Ltd, which will place greater emphasis on the working performance of the camera systems used to keep London's roads free from congestion and incidents and flowing more smoothly. </p> <p>From 1 July 2009, Tyco will be responsible for ensuring that 98.5 per cent of all system equipment, including CCTV cameras, operator screens and network connections, are all in working order all of the time, or the contractor won't be paid. </p> <h2>Avoid system breakdowns</h2> <p>This new style of working is a more effective way for TfL to get the best out of its traffic monitoring operations, and will encourage the contractor to give their absolute best all of the time, ensuring maintenance of the system is performed regularly and efficiently to avoid any system breakdowns.</p> <p>The target has been set high at 98.5 per cent which reflects how important it is to have these vital systems working efficiently all of the time. </p> <p>Previously, CCTV maintenance contractors were paid based on activities performed, not on how the equipment was operating on a day-to-day basis.</p> <p>Daniel Ruiz, Head of Real Time Operations, TfL, said: ''CCTV systems are vital for us to keep London's traffic flowing smoothly. </p> <p>'Our reliance on them means that we need to have the systems working properly all of the time. </p> <p>'Even a little system glitch, like the loss of visibility from one traffic camera, can have an impact on how effective we can be in responding to an incident. </p> <h2>Manage traffic flows</h2> <p>'By ensuring we have the vast majority of systems working all of the time, we are able to work better to manage traffic flows across London.</p> <p>'We have set the bar high for Tyco to meet, but we are confident they will be able to meet ours, and London's demands.'</p> <p>This new way of working will help TfL deliver the Mayor's key priority of helping traffic to flow more smoothly on London's busy roads. </p> <p><strong>Notes to editors:</strong></p> <ul> <li>Steve Waldron, of Tyco Fire and Security (UK) Ltd, said: 'We are very pleased to have secured this business with TfL. Tyco has been instrumental in creating these systems and we are very happy to maintain our stewardship of this critical London resource'  </li><li>The new contract with Tyco Fire and Security (UK) Ltd begins on 1 July 2009 and could be extended up to five years. It is potentially worth &pound;6.5m  </li><li>The output of TfL's traffic monitoring CCTV cameras would be most familiar to the public from camera links on TfL's website - <a href="http://www.tfl.gov.uk/trafficnews" lid="http://www.tfl.gov.uk/trafficnews" lpos="" el="http://www.tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> - and through 'JamCam' updates on London news broadcasts  </li><li>TfL is working with the Mayor on a range of measures to ease traffic flow in London, including:<br> <ul type="circle"> <li>Re-phasing traffic signals to get traffic flowing more smoothly, without affecting the safety of pedestrians and vulnerable road users. Benefit is being derived from improvements to the coordination of adjacent signals which reduces the amount of stopping and starting between traffic signal junctions  </li><li>Motorcycles are being allowed in the majority of TfL-controlled bus lanes. Motorcyclists are able to share red route bus lanes with buses, cyclists and licensed black taxis on an 18 month trial basis (began January 2009)  </li><li>Work is underway with Thames Water focused on reducing the impact of the works they need to do to repair and replace the miles of Victorian water mains in the Capital. TfL is now working closely with them on the use of steel plating to cover excavations when work is not in progress and a joint project team has been formed to work on its implementation  </li><li>TfL is progressing plans for a Cycle Hire scheme. From May 2010 people will be able to pick up and drop off hire bikes at 400 locations across London's Zone&nbsp;1 travel area  </li><li>TfL is reviewing all major schemes that could reduce the capacity of the road network, with a view to minimizing the impact on traffic flow<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is raising the bar in the reliability of its traffic monitoring CCTV systems, which include over 1500 cameras that monitor and manage incidents and events 24-hours a day on London's busy roads. Last week, a new way of working";}
        
        


 