


@{ViewBag.Title = "TfL advice on plans to keep London moving during the RMT Tube strike - 06:45 update ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice on plans to keep London moving during the RMT Tube strike - 06:45 update </h1>
        <div class="content-page-press-release">
        10 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Due to the strike action called by the RMT leadership on the Tube this week, Transport for London (TfL) advises Londoners and commuters to plan ahead and check before they travel at tfl.gov.uk and by checking London media bulletins.
        
    </div>



 <div class="on-this-page">
<li>RMT strike from 18:59 on Tuesday, 9 June to 18:58 Thursday, 11 June, normal services to resume on morning of Friday, 12 June  </li><li>A good service on the Northern Line, some reduced shuttle services running on sections of the District, Jubilee, Victoria, Metropolitan and Piccadilly lines and all other lines suspended  </li><li>Good service running across the bus network, DLR, London Overground and Tramlink  </li><li><a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> - check before travelling, stagger journeys and consider alternative travel options including walking and cycling  </li><li>TfL plans include extra buses, Oyster pay as you go on National Rail services in Greater London, taxi sharing at major rail stations, led commuter cycle routes and free River shuttle services</li> <p>&nbsp;</p> <p>Due to the strike action called by the RMT leadership on the Tube this week, Transport for London (TfL) advises Londoners and commuters to plan ahead and check before they travel at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> and by checking London media bulletins. </p> <p>Transport Commissioner Peter Hendy, said:'Despite us making progress on all issues, the RMT leadership has decided to strike rather than continue to talk beyond their own self-imposed deadline. </p> <p>'The RMT leadership says we were close to a deal.&nbsp; </p> <p>'If that is the case, then they should call off the strike, return to talks at ACAS today and resolve this issue without any more disruption to Londoners.&nbsp; </p> <p>'We remain ready for talks at any time.'</p> <p>'We regret the disruption the strike will cause to passengers as the impact on Tube services is likely to be significant. </p> <p>'However the Mayor and TfL have prepared plans to keep London moving and thousands of TfL staff will be on hand across the city help our passengers. </p> <p>'A massive effort is being made including boosting bus and river services, providing escorted commuter cycle rides and more central London cycle parking and distributing thousands of walking maps at central London rail and Tube stations. </p> <p>'Oyster Pay As You Go will also be accepted all National Rail services within Greater London and there will be marshalled taxi sharing facilities at six major rail stations.</p> <p>'We urge everyone travelling in and around London during the strike to check before you travel and to consider the wide range of alternative travel options by going on-line to tfl.gov.uk as well as staggering your normal journeys where possible.'</p> <p>Over the two main days of the strike, TfL staff will be on hand across the bus network and at Tube stations to offer travel advice and will be distributing walking maps in central London.&nbsp; </p> <p>Those bus drivers and other public transport workers who are on duty will be doing their very best to keep London moving and passengers' patience is asked for over what may be difficult journeys.</p> <p>Services update on services as at 06:45:</p> <p>Tube - The RMT leadership have called a strike from 18:59 on Tuesday, 9 June to 18:58 Thursday, 11 June, normal services to resume on morning of Friday, 12 June</p> <p>The following services are running this morning:</p> <ul> <li>Northern line - good service  </li><li>District line - reduced shuttle service between Wimbledon to High St Kensington  </li><li>Jubilee line&nbsp;- reduced shuttle service between Stanmore and Neasden, and Waterloo to Stratford  </li><li>Metropolitian line&nbsp;- reduced shuttle service between Harrow-on-the-Hill and Baker Street  </li><li>Piccadilly line - reduced shuttle service Arnos Grove and Cockfosters  </li><li>Victoria line - reduced shuttle service from Seven Sisters to Victoria  </li><li>All other lines suspended</li></ul> <p><strong>Buses</strong> - London buses operate around 700 routes with services being boosted by up to 100 extra buses on key routes on strike days. </p> <p><strong>National Rail</strong> - Oyster pay as you go will be accepted on all National Rail journeys within Greater London on Wednesday and Thursday, just show your Oyster card at station gate lines. </p> <p><strong>Taxis</strong> - During the morning peak of 08:00-10:30, taxi drivers will be operating a marshalled, fixed-fare shared taxi service for central London destinations at six major London rail termini: Waterloo, Liverpool St, London Bridge, Marylebone, Paddington and Euston.</p> <p><strong>DLR and London Overground</strong> - Services will be operating as normal. </p> <p><strong>Roads and the Congestion Charge</strong> - To help keep traffic flowing the Congestion Charge will remain in operation through-out the strike and TfL will be suspending road works on major London roads wherever possible. <br>Londoners and commuters are encouraged to consider alternatives to the car. </p> <p><strong>Cycling</strong> - Additional options for cyclists will include morning commuter led cycle rides, temporary parking facilities and thousands of cycle maps will be distributed across London. </p> <p><strong>Led commuter rides</strong> - The London Cycle Campaign will be leading five escorted rides into Central London with TfL volunteers at start points to provide maps, refreshments and guidance, further details available at <a class="external-site" title=" (Opens in new window)" href="http://www.biketube.org.uk/" jquery1245145499287="6">http://www.biketube.org.uk/</a>.&nbsp; </p> <p>All rides will set off from 07:45 from the bolded locations:</p> <ul> <li>Finsbury Park main gate - Arsenal - Liverpool Road (Islington) - Angel - Moorgate - Mansion House - London Bridge - City Hall  </li><li>Mile End Green Bridge - Stepney Green - Cable Street - Tower Hill - Bank  </li><li>Ravenscourt Park - Hammersmith - High Street Kensington - Hyde Park - Charing Cross - Trafalgar Square  </li><li>Brixton Road (KFC) - Oval - Elephant and Castle - Blackfriars  </li><li>Swiss Cottage - Hampstead - Belsize Park - Chalk Farm - Mornington Crescent - Euston - Gower Street - Tavistock Place - Gray's Inn Road - Clerkenwell - Farringdon - Moorgate </li></ul> <p><strong>Cycle Parking</strong> - In addition to the major cycle park at Finsbury Park and existing racks at major London stations across the city, another 1000 cycle parking spaces will be provided at London Bridge cycle park and temporary cycle parking facilities at the locations and times below. </p> <p>Many London businesses will also be opening up their foyers and parking facilities for their staff.</p> <ul> <li>Trafalgar Square: 150 spaces (06:00-21:00 on Wednesday and Thursday)&nbsp;  </li><li>Potters Field, accessed via Weavers Lane: 100 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday)  </li><li>Waterloo Bus Garage, accessed only via Cornwall Road off The Cut, approach via Sandell Street: 150 spaces (08:00-17:30 on Wednesday and Thursday - closing strictly at 17:30)  </li><li>London Bridge Cycle Park: 350 spaces (07:30-21:30 on Tuesday, Wednesday and Thursday)&nbsp;  </li><li>The Mall, between Marlborough Road and George IV statue/ Queen Mother memorial - 250 spaces (open access from Tuesday evening, with racks removed at 21:00 on Thursday)</li></ul> <p><strong>Walking</strong> - If you are considering making or completing your journeys by foot, check tfl.gov.uk for information or, in central London on strike days, pick up a free local vicinity walking map from staff at major rail stations, bus stations and key tube stations. </p> <p><strong>River</strong> - Existing services will be boosted from a capacity of 1,500 to 8,000 an hour and including an additional free shuttle service from London Bridge to Tower Bridge:</p> <ul> <li>Greenwich - Canary Wharf - Central London: normal Clippers service with enhancements  </li><li>Putney - Central London: normal Thames Executive Charter service with four boats instead of two  </li><li>London Eye - Westminster - Tower Bridge: free peak shuttle every 10 minutes between 07:00-10:00 and 15:00-20:00 on both main strike days</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "RMT strike from 18:59 on Tuesday, 9 June to 18:58 Thursday, 11 June, normal services to resume on morning of Friday, 12 JuneA good service on the Northern Line, some reduced shuttle services running on sections of the District, Jubilee, Victoria,";}
        
        


 