


@{ViewBag.Title = "TfL thanks transport staff for Wembley support";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL thanks transport staff for Wembley support</h1>
        <div class="content-page-press-release">
        11 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li><strong>Fiftly eight thousand fans travel to and from Wembley to see 6-0 England win </strong></li>
<li><strong>Special Tube services and extra buses support fans despite RMT strike</strong></li></ul>
<p>Transport for London (TfL) today thanked transport staff for their support of the England football team and fans, after almost 58,000 supporters travelled safely to and from Wembley Stadium last night to see England beat Andorra 6-0. </p>
<p>Despite the RMT leadership's Tube strike, London Underground (LU) ran services on the Jubilee line and Metropolitan line serving Wembley Park and, after the game, provided special Bakerloo line shuttle services from Wembley Central. </p>
<p>Over 100 extra local buses were also laid on after the game, to help fans get home.&nbsp; Our London Traffic Control Centre kept the traffic moving and delays to a minimum.&nbsp; Transport staff worked closely with the Football Association, Metropolitan and British Transport Police and Brent Council to ensure fans travelled safely.</p>
<p>Transport Commissioner Peter Hendy said:</p>
<p>"This was a great result for England. I am delighted that we were able to help so many fans get to and from the game safely.&nbsp; Despite the RMT strike, we provided Tube services on three lines and laid on many extra bus services after the game.&nbsp; I also want to thank fans for their patience and for acting on advice to allow extra time for their journeys and making special efforts themselves."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Fiftly eight thousand fans travel to and from Wembley to see 6-0 England win Special Tube services and extra buses support fans despite RMT strikeTransport for London (TfL) today thanked transport staff for their support of the England football team and";}
        
        


 