


@{ViewBag.Title = "TfL Annual Report and Statement of Accounts 2008/9";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Annual Report and Statement of Accounts 2008/9</h1>
        <div class="content-page-press-release">
        24 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and Commissioner confirm TfL senior salaries frozen.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL must demonstrate that it is delivering value for fare and taxpayers' money. Supported by a much more professional TfL Board, I will be relentless in ensuring that this is the case in the years ahead"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL must demonstrate that it is delivering value for fare and taxpayers' money. Supported by a much more professional TfL Board, I will be relentless in ensuring that this is the case in the years ahead
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Experienced managers vital to deliver 27m daily journeys and massive investment on time and on budget </li>
<li>Increase in numbers paid over &pound;50k and &pound;100k largely due to Metronet and Crossrail transfer to TfL</li></ul>
<p>Transport for London's (TfL) draft Annual Report and Statement of Accounts for the year ended 31 March 2009 will be put to the TfL Board on Wednesday, 24 June.&nbsp;</p>
<p>The Report demonstrates how, last year (2008/9), TfL invested &pound;8.6bn to upgrade and improve London's transport network. </p>
<h2>Senior salary freeze</h2>
<p>As in previous years, it also sets out the number of senior employees earning over &pound;50k.&nbsp;</p>
<p>TfL also confirmed today the decision by the Mayor and Transport Commissioner to freeze TfL senior salaries.</p>
<p>Despite a big increase in weekend closures as the network is rebuilt and improved, a record 1.1bn passengers were carried on the Tube last year, as the percentage of planned services run increased and delays were reduced.&nbsp;</p>
<p>Staff across TfL and LU also worked to rescue the collapsed Metronet, preserving the line upgrades so vital to London's future development and growth and saving around &pound;2.5bn of fare and taxpayers' money.</p>
<p>London Buses saw passenger numbers rise again to over 2.2bn.&nbsp;On the Docklands Light Railway, over 66m passengers were carried as 96 per cent&nbsp;of services operated.&nbsp;</p>
<h2>London Overground</h2>
<p>Work also continued, on time and on budget, to upgrade the London Overground network, including the extension of the East London line, ahead of the 2012 Games.</p>
<p>TfL plans further massive investment and improvements this year (2009/10) with an increased Budget of &pound;9.2bn.</p>
<p>However, in responding to the tough economic climate and pressures on TfL's finances, the Mayor and Transport Commissioner have decided to freeze the base salaries of TfL's directors and senior management this year.&nbsp;A pay freeze is not being asked of the vast majority of TfL employees.</p>
<p>As well as a freeze on all senior management salaries, the total amount of performance-related bonuses will also be lower this year.&nbsp;</p>
<p>A review of performance-related bonuses to be paid in future years is also being undertaken and a new performance structure will be introduced, focusing on delivery against the Mayor's longer-term transport objectives and demonstrating clear value for money. </p>
<h2>Metronet and Crossrail</h2>
<p>TfL's Accounts for 2008/9 show that the number of employees who earned more than &pound;50k last year increased from 1,954 to 4,204, very largely as a result of two major organisations - Metronet and Crossrail - becoming part of TfL.&nbsp;An analysis of this increase shows that:</p>
<ul>
<li>Nearly three quarters of the increase in those earning over &pound;50k is a direct consequence of employees transferring to TfL with Metronet and Crossrail </li>
<li>For those earning over &pound;100k, nearly two thirds of the increase is a direct consequence of employees transferring to TfL with Metronet and Crossrail </li>
<li>In total, the number of employees who earned over &pound;100k at TfL is, at 231, 0.8 per cent&nbsp;of the total 28,000 workforce</li></ul>
<p>The increase in the number of staff earning more than &pound;50k at TfL, excluding the former Metronet and Crossrail organisations, is due to last year's pay increase of 4.1 per cent, the last year of a three-year deal agreed in 2006 with the previous Mayor.&nbsp;</p>
<p>It is also the result of one-off awards made to a number of staff for their work on rescuing Metronet, which has saved London's fare and taxpayers &pound;2.5bn. </p>
<h2>Reduced bonus levels</h2>
<p>Mayor of London, Boris Johnson said: 'In these tough economic times, it is right to freeze the salaries of TfL's senior management and reduce bonus levels.&nbsp;</p>
<p>'It is also right that TfL has the calibre of people needed to deliver a huge work programme, including upgrading the Tube and building Crossrail, while at the same time improving day-to-day services for customers.&nbsp;</p>
<p>'As the collapse of Metronet demonstrated so vividly, any failure to do so would ultimately cost London's fare and taxpayers dearly.</p>
<p>'TfL must also demonstrate that it is delivering value for fare and taxpayers' money.&nbsp;Supported by a much more professional TfL Board, I will be relentless in ensuring that this is the case in the years ahead.'</p>
<p>Transport Commissioner, Peter Hendy said: 'TfL has delivered improved services for our customers over the last year, but there is so much more to be done.&nbsp;</p>
<p>'With a budget this year alone of &pound;9.2bn, we have an enormous amount of work to do which must be delivered on time and at or below budget.&nbsp;</p>
<p>'We also continue to seek efficiencies across the organisation.&nbsp; It is vital we have an experienced and capable management team to deliver that.'</p>
<p><strong>TfL employees earning over &pound;50k (inc. salary and performance awards) in 2008/9:</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2007/8</td>
<td>&nbsp;2008/9</td></tr>
<tr>
<td>&nbsp;TfL</td>
<td>&nbsp;1,954</td>
<td>&nbsp;2,565</td></tr>
<tr>
<td>&nbsp;Metronet*</td>
<td>&nbsp;-</td>
<td>&nbsp;1,583</td></tr>
<tr>
<td>&nbsp;Crossrail</td>
<td>&nbsp;30</td>
<td>&nbsp;56</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;1,984</td>
<td>&nbsp;4,204</td></tr></tbody></table></div>*Metronet figures for 2007/8 not available</p>
<ul>
<li>The total number of TfL Group employees who earned over &pound;50k in 2008/9 increased from 1,954 to 4,204 on the previous year </li>
<li>The vast majority of this increase, nearly three quarters (73 per cent) is as a direct result of the Metronet and Crossrail organisations transferring to become part of TfL </li>
<li>Of the total employees who earn over &pound;50k, the majority (53 per cent) are in the first &pound;10k band, between &pound;50-&pound;59,999</li></ul>
<p><strong>TfL employees earning over &pound;100k (inc. salary and performance awards) in 2008/9:</strong><br>&nbsp; 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2007/8</td>
<td>&nbsp;2008/9</td></tr>
<tr>
<td>&nbsp;TfL</td>
<td>&nbsp;123</td>
<td>&nbsp;163</td></tr>
<tr>
<td>&nbsp;Metronet*</td>
<td>&nbsp;-</td>
<td>&nbsp;60</td></tr>
<tr>
<td>&nbsp;Crossrail</td>
<td>&nbsp;6</td>
<td>&nbsp;8</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;129</td>
<td>&nbsp;231</td></tr></tbody></table></div></p>
<p>*Metronet figures for 2007/8 not available</p>
<ul>
<li>The total number of TfL employees who earned over &pound;100k in 2008/9 increased from 123 to 231 </li>
<li>The vast majority of this increase, nearly two thirds (63 per cent), is as a direct result of the Metronet and Crossrail organisations transferring to become part of TfL<br></li></ul>
<p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<p><strong></strong>
<ul>
<li>The Statement of Accounts show that Transport Commissioner Peter Hendy earned a salary in 2008/9 of &pound;348,444 plus a performance-related bonus of &pound;146,440 in respect of performance for the previous year 2007/8<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Experienced managers vital to deliver 27m daily journeys and massive investment on time and on budget Increase in numbers paid over &pound;50k and &pound;100k largely due to Metronet and Crossrail transfer to TfLTransport for London's (TfL) draft Annual";}
        
        


 