


@{ViewBag.Title = "TfL advice on travelling to World Cup qualifying game at Wembley this evening";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice on travelling to World Cup qualifying game at Wembley this evening</h1>
        <div class="content-page-press-release">
        10 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is doing everything possible to help get fans to the England v Andorra World Cup qualifying game at Wembley stadium this evening.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are doing all we can to keep trains running
                            
                        </p>
                    </div>
                
            
            
            <p>However, those travelling to the match should check before they travel, plan their journey and allow much more time for their journey, both to and from the venue.</p>
<p>A TfL spokesperson said: 'We are doing all we can to keep trains running on the Jubilee and Metropolitan Tube lines through Wembley Park station, but services will be reduced.&nbsp; </p>
<p>'London Overground trains will be running a limited service which will serve the nearby Wembley Central Station. </p>
<p>'Journeys today will be difficult, so if supporters can travel to Wembley without relying on public transport as their sole means of travel, they should consider that option, including walking for at least part of the journey.</p>
<h2>Check before you travel</h2>
<p>'Londoners and fans travelling to the game should check before they travel on the TfL website - <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a>&nbsp;- and also the <a href="http://www.thefa.com/">Football Association website</a>&nbsp; </p>
<p>Fans should note the following points:</p>
<ul>
<li>The turnstiles will now open earlier at 17:45 to ease the disruption and the game will kick off at 20:15 as planned </li>
<li>The match will not be held behind 'closed doors' and every ticket purchased for it remains valid. Refunds will be made available to ticketholders who decide not to attend this game. For more information on tickets, please check the <a href="http://www.thefa.com/">Football Association website </a></li>
<li>Supporters should travel as early as possible and have alternative routes planned in case of disruption </li>
<li>Check our live travel news and Journey Planner on <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> for the latest information </li>
<li>When planning journeys to Wembley, <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner </a>can direct you to your entry gate. All you need to do is type 'Wembley' as your destination then select 'point of interest' from the drop down box, press enter, then scroll down and select your gate from the list. This will then show the best travel option and walking route </li>
<li>There will also be serious road congestion before and after the match. We understand that there will be no additional parking facilities at or around the stadium area. Drivers are advised to avoid the area if at all possible from late afternoon </li>
<li>Bus services are likely to be delayed due to road congestion. Check Journey Planner for local bus services<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "However, those travelling to the match should check before they travel, plan their journey and allow much more time for their journey, both to and from the venue.A TfL spokesperson said: 'We are doing all we can to keep trains running on the Jubilee and";}
        
        


 