


@{ViewBag.Title = "Transport for London welcomes key findings of National Audit Office report on failure of Metronet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London welcomes key findings of National Audit Office report on failure of Metronet</h1>
        <div class="content-page-press-release">
        05 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li><strong>Metronet collapse caused by its poor leadership and governance </strong></li>
<li><strong>Inadequate information hampered effective oversight of contracts </strong></li>
<li><strong>Transport for London (TfL) managed Metronet performance effectively in administration </strong></li>
<li><strong>Estimated &pound;2.5bn saved by TfL, now and in the future</strong></li></ul>
<p>TfL today welcomed the key findings of the National Audit Office's (NAO) report on the failure of Metronet, the Infrastructure company (Infraco) set up to upgrade and maintain two-thirds of the Tube network under the Government's Public Private Partnership (PPP). </p>
<h2>Lack of leadership</h2>
<p>The NAO study found that a lack of leadership and poor governance were the key factors resulting in the massive overspending by Metronet which ultimately saw the company fail and enter into administration in July 2007. </p>
<p>The report also found that London Underground's (LU's) ability to identify risks and effectively manage the contracts was repeatedly 'hampered by the poor quality of information available from Metronet'. </p>
<p>The report states: 'Metronet did not provide good quality performance and cost information in the way LU envisaged and LU did not have a breakdown of Metronet's high level budget on station refurbishment work'. </p>
<p>This meant that LU never had the confidence that programmes and costs were being properly managed and, by design of the PPP contracts, was deprived of the contractual levers to drive improved performance when necessary. </p>
<h2>Massive overspend</h2>
<p>Once in administration, however, Metronet was managed effectively by LU, according to the report.</p>
<p>Since Metronet entered Administration and was subsequently transferred to TfL, work has continued to ensure the protection of the line upgrades which will deliver the big increases in capacity and reliability which London so badly needs, as well as key stations and accessibility works. </p>
<p>Performance has improved, with a 42 per cent increase in track reliability and service disruption reduced overall by 13 per cent.</p>
<p>TfL has also renegotiated a number of Metronet's contracts on trains, track and signalling which did not offer the best value for money, improved procurement, delivered operational efficiencies and revised the programme of upgrade work, saving farepayers and taxpayers an estimated &pound;2.5bn now and in the future.</p>
<h2>Management failure</h2>
<p>Richard Parry, Interim Managing Director of LU, said: 'We are pleased that the NAO's report confirms our long-held view that Metronet's collapse was as a result of the failure of its management team and shareholders to properly plan, manage and execute the maintenance and renewal work that was their responsibility. </p>
<p>'This led to costs spiralling out of control and, ultimately, Metronet going bust.</p>
<p>'We repeatedly called on Metronet to improve its performance, and were the first to call on Metronet to seek an Extraordinary Review of its costs, which revealed the full extent of its failure.&nbsp; </p>
<p>'Since Metronet's collapse we have overseen the renegotiation of key contracts and taken measures that together will save Londoners and taxpayers an estimated &pound;2.5bn, now and in the future.</p>
<h2>Renegotiating contracts</h2>
<p>'Improved information on costs must be a feature of the long-term solution for the Metronet businesses - and our work to date is based firmly upon this principle. </p>
<p>'However, any solution will be ineffective unless accompanied by the necessary contract rights and remedies which are absent from the current PPP structure with Metronet and Tube Lines.'</p>
<p>The report notes that the PPP Arbiter was the external party with greatest access to Metronet's performance data, and that LU did not have access to the same level of information.&nbsp; </p>
<p>The NAO estimates that the direct loss to the taxpayer of Metronet's failure is between &pound;170m and &pound;410m.&nbsp; </p>
<p>However, this does not take into account work left undone&nbsp;by Metronet which still needs to be completed by LU in the future.</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<ul>
<li>LU entered into two PPPs with Metronet in April 2003. These contracts were intended to cover the maintenance and renewal of LU trains stations, track and signalling on all lines except the Jubilee, Northern and Piccadilly (which were covered by a contract with Tube Lines signed in December 2002) </li>
<li>Under the PPP, LU retained responsibility for operations and all engineering and safety standards </li>
<li>On 18 July 2007, Metronet went into PPP administration when it became unable to meet its spending obligations. Administrators were appointed by the courts on petition of the Mayor </li>
<li>In May 2008, Metronet's assets and liabilities were transferred to two new wholly owned subsidiaries of TfL. Metronet employees subsequently transferred to LU in December 2008</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Metronet collapse caused by its poor leadership and governance Inadequate information hampered effective oversight of contracts Transport for London (TfL) managed Metronet performance effectively in administration Estimated &pound;2.5bn saved by TfL, now";}
        
        


 