


@{ViewBag.Title = "Transport Commissioner condemns 'outrageous' RMT Tube strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner condemns 'outrageous' RMT Tube strike</h1>
        <div class="content-page-press-release">
        08 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - RMT leadership to go ahead with strike action planned from 18:59 Tuesday despite improved pay offer and further reassurances on jobs - Decision to strike a 'slap in the face' to hardworking Londoners
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Again, we urge the RMT leadership to get back to the negotiating table"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Again, we urge the RMT leadership to get back to the negotiating table
                            
                        </p>
                    </div>
                
            
            
            <p>Transport Commissioner Peter Hendy today condemned as 'outrageous' the RMT leadership's decision to continue to call for strike action despite London Underground (LU) offering a two-year, above inflation pay deal and providing further assurances that we are taking all possible steps to avoid compulsory redundancies.</p>
<p>Furthermore, and right at the end of today's talks, the RMT also insisted upon the reinstatement of two members of staff dismissed for serious disciplinary offences, introducing a completely new and inappropriate issue to the talks.&nbsp;&nbsp; The 48 hour strike is due to begin at 18:59 on Tuesday. </p>
<h2>Deep recession</h2>
<p>Transport Commissioner Peter Hendy said: 'We utterly condemn the RMT leadership's outrageous decision to continue to call for strike action, despite us providing assurances that we are doing everything possible to avoid compulsory redundancies and putting forward an improved two-year, above inflation pay offer. </p>
<p>'However, the RMT's leadership has shown yet again that, no matter how fair an offer is made, they would rather strike than talk.&nbsp; </p>
<p>'Their attitude is a slap in the face to all hardworking Londoners and businesses struggling through a deep recession.&nbsp; </p>
<p>'It will also disappoint the vast majority of Tube staff who do not want to take strike action, lose two days pay and disrupt London.&nbsp; </p>
<h2>Resolve the issues</h2>
<p>'Again, we urge the RMT leadership to get back to the negotiating table.'</p>
<p>LU has tonight contacted the conciliation service ACAS, asking it to contact the RMT and arrange further talks in a bid to avert strike action and resolve the issues.</p>
<p>On pay, after listening to requests from Tube staff and the ASLEF, RMT, TSSA and Unite unions, LU has made a two-year, above inflation offer.&nbsp; </p>
<p>The offer is made at a time of negative RPI when many Londoners are either losing their jobs or suffering a cut in pay.&nbsp; </p>
<h2>Further assurances</h2>
<p>LU has also committed to working jointly with all parties to discuss 2012 working arrangements for our staff.</p>
<p>On jobs, LU has made it completely clear, time and again, to the RMT leadership that no frontline jobs on trains, stations and maintenance will be lost as part of the integration of Metronet staff within LU.&nbsp; </p>
<p>Today, further assurances were given, to make clear that we seek to avoid compulsory redundancies as part of dealing with the collapse of Metronet, and to continue to abide by all existing agreements regarding redundancies.&nbsp; </p>
<p>Only duplicated back-office jobs are being reduced primarily through not filling vacancies, voluntary redundancy and reducing the use of contractors, as we cannot continue to ask taxpayers and fare payers to fund two people doing the same job. </p>
<h2>Existing agreements</h2>
<p>LU Interim Managing Director, Richard Parry, said: 'We have dealt with the collapse of Metronet by bringing it back under London Underground control, something for which the RMT have been campaigning for years.&nbsp; </p>
<p>'As a result, we are having to end the duplication of a number of back-office roles, which is being dealt with by an Organisational Change Process (OCP).&nbsp; No frontline, operational staff working on trains, stations and maintenance are part of this process.</p>
<p>'We have again, today, reiterated to the RMT that for those staff covered by the OCP, we seek to avoid any compulsory redundancies and continue to abide by all existing agreements regarding redundancies.&nbsp;</p>
<p>'The reductions in the number of posts will be met through not filling vacancies, reducing the employment of contractors and offering voluntary redundancy to those who want it. </p>
<h2>Threat of strike action</h2>
<p>'We cannot ask taxpayers and farepayers to fund two people doing the same job.</p>
<p>'Finally. we will not deal with individual disciplinary cases through the threat of strike action.'<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>On Friday, 5 June, LU made an improved pay offer to all trade unions of either a four-year or two-year pay deal </li>
<li>The four-year offer would see a pay increase of 1.5 per cent this year, with RPI +0.5 per cent in future years </li>
<li>The two-year offer would see a pay increase of 1 per cent this year and RPI +0/5 per cent next year </li>
<li>As part of both offers, we have committed to working jointly with all parties to discuss 2012 working arrangements for our staff</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport Commissioner Peter Hendy today condemned as 'outrageous' the RMT leadership's decision to continue to call for strike action despite London Underground (LU) offering a two-year, above inflation pay deal and providing further assurances that we";}
        
        


 