


@{ViewBag.Title = "Tube travellers get free book of poems as part of the Story of London festival";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube travellers get free book of poems as part of the Story of London festival</h1>
        <div class="content-page-press-release">
        16 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new 32-page booklet of poems about or inspired by London has been published to coincide with the Story of London festival, which has been launched by London Mayor Boris Johnson.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The English language - a remarkable confluence of Romance and Teutonic - is rich in poetic possibilities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The English language - a remarkable confluence of Romance and Teutonic - is rich in poetic possibilities
                            
                        </p>
                    </div>
                
            
            
            <p>The new collection 'London Poems on the Underground' is free and includes the poems currently on display in Tube carriages, alongside other work that has previously been presented under the London Underground scheme. </p>
<p>Funded by a special grant from Arts Council England and the National Lottery, the booklet can be picked up from central London Tube stations and is also available at public libraries.</p>
<p>Boris Johnson, Mayor of London, said: 'The English language - a remarkable confluence of Romance and Teutonic - is rich in poetic possibilities. </p>
<h2>Fascinating story</h2>
<p>'At the same time, London has been a constant source of inspiration, as well as home, to poets throughout the centuries. </p>
<p>'I hope readers will enjoy reading these poems by courtiers, cricketers, lovers and the travellers, all of whom are part of London's fascinating story.'</p>
<p>The verses featured in the most recent series of poems on Tube trains include: Jerusalem by William Blake, which offers a vision of Islington, Primrose Hill, St. Pancras and Kentish Town and Composed upon Westminster Bridge by William Wordsworth which tells of the city seen at dawn. </p>
<p>Like a beacon by Grace Nichols is about a homesick Guyanese immigrant, After the Lunch by Wendy Cope talks about love on Waterloo Bridge and Rhymes of the Road by Thomas Moore celebrates the city as it stays in the mind forever. </p>
<h2>London-inspired poetry</h2>
<p>London Poems on the Underground features a cover drawing of St Botolph Bishopsgate by David Gentleman, commissioned by Poems on the Underground, as well as an introduction by Boris Johnson on London-inspired poetry.</p>
<p>Judith Chernaik, editor of the new booklet, said: 'We hope that our readers enjoy the poems we've chosen to celebrate London and that they will make a real difference to their Tube journeys.'</p>
<p>London Poems on the Underground is a being produced as part of the month-long Story of London festival, which is organised by the Mayor of London in partnership with organisations across the Capital and features more than 400 events throughout the city. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>100,000 copies of the booklet entitled London Poems on the Underground have been printed with 63,000 available at 63 central London stations </li>
<li>'A Celebration of London in Poetry and Music' in association with <a class="external-site" title=" (Opens in new window)" href="http://www.barbican.org.uk/" jquery1245145002771="6">Barbican</a> library at St Giles Cripplegate Church, Fore Street London EC2, Wednesday 24 June, 7.30pm, features poetry by Blake and Betjeman, and music by Gibbons, Haydn and Jim Parker, played by the Apollo Chamber Orchestra. There will also be poetry readings&nbsp; </li>
<li>The <a href="http://www.london.gov.uk/storyoflondon">Story of London</a> is organised by the Mayor of London in partnership with a host of organisations across the Capital. The month-long festival is designed to offer new experiences and insights into the Capital, historically, culturally and socially. The festival aims to inform, entertain, educate and inspire, with more than 400 events and activities in every borough, covering history and heritage, art and architecture, design and fashion, music, theatre and film </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai </li>
<li>The best selling anthologies 'Poems on the Underground' and 'New Poems on the Underground', as well as 'New Books on the Underground 2006' are available from most bookshops and London's Transport Museum gift shop </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's (TfL's) multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">travel news</a> is available online </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new collection 'London Poems on the Underground' is free and includes the poems currently on display in Tube carriages, alongside other work that has previously been presented under the London Underground scheme. Funded by a special grant from Arts";}
        
        


 