


@{ViewBag.Title = "Young London football stars are tackling road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Young London football stars are tackling road safety</h1>
        <div class="content-page-press-release">
        19 June 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Stars of the future come out in force to remind their peers 'Look out for your mates'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Young footballers are idolised by thousands of teenagers and it is fantastic that they are taking part in this important campaign"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Director of Transport Policy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Young footballers are idolised by thousands of teenagers and it is fantastic that they are taking part in this important campaign
                            
                        </p>
                    </div>
                
            
            
            <p>Twenty young football stars from five top London Clubs lent their support to Transport for London's (TfL's)&nbsp;latest road safety campaign to reduce the number of young teenagers killed or seriously injured (KSI) on London roads.</p> <p>Players from Chelsea, Fulham, Queens Park Rangers, Tottenham Hotspur and AFC Wimbledon Academies posed with their teammates to remind teenagers 'Look out for your mates'. </p> <p>The strapline aims to put road safety in the forefront of teenagers' minds. </p> <p>For most young people friendship is one of the most important things in their lives.&nbsp;&nbsp; </p> <h2>The message</h2> <p>A total of 367 young people (aged between 13 and 19) were killed or seriously injured in the Capital in 2008.</p> <p>Young teenagers are more likely to be involved as a pedestrian in a road collision than any other age group. </p> <p>Boys and young people from deprived background are particularly vulnerable.</p> <p>Football Academies are vital to the lifeblood of the sport and are established across the country. </p> <p>The London clubs are well aware of the influence that football has on young boys. </p> <p>As part of TfL's ongoing road safety campaign posters feature young people lying on the road as a result of a road collision are already visible across the Capital to ensure the message reaches as many young people as possible.</p> <p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'Young footballers are idolised by thousands of teenagers and it is fantastic that they are taking part in this important campaign. </p> <h2>Save lives</h2> <p>'Their involvement is a great way of ensuring more young people will take the time to consider how they can use roads more safely and will help to save lives.'</p> <p>Chris Lines, Head of TfL Road Safety Unit said: 'Every day a teenager is killed or seriously injured on London roads. </p> <p>'While this number is steadily falling, one injury is still one too many.</p> <p>'We value the support of young people who play an important role today. </p> <h2>Successful team</h2> <p>'Their support is an alternative way of communicating our message to teenagers in their own environment.<br>&nbsp;<br>'This campaign is designed to get teenagers talking about road safety in schools. </p> <p>'This year TfL is spending &pound;57m on further safety measures on the Capital's roads.'</p> <p>Simon Taylor, Chelsea FC Head of Corporate Social Responsibility, said: 'Looking after your mates is key to being a successful team on and off the pitch. </p> <h2>Reduce accidents</h2> <p>'We would urge young people across London to look after themselves and their friends especially when crossing the road. </p> <p>'As a club, Chelsea are fully behind this scheme.'</p> <p>John McDermott, Tottenham Hotspur Academy Manager, said: 'At the Tottenham Hotspur Academy we install a team mentality in our players. </p> <p>'Each player has a responsibility to look after themselves and each other, both on and off the pitch.' </p> <h2>Strong scheme</h2> <p>Ian Taylor, Press/PR Manager of Queens Park Rangers Football Club, said: 'Road safety is of paramount importance. </p> <p>'It is vitally important that we - as a society - reduce the number of accidents, fatal or otherwise, that occur on our roads.'</p> <p>Club Captain Martin Rowlands added: 'This is a really strong scheme and we are 100 per cent behind it.'<br>&nbsp;<br>The teen road safety initiative is part of a long-term TfL road safety campaign that continues to work to reduce the number of young road users who are killed or are seriously injured in the Capital.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Twenty young football stars from five top London Clubs lent their support to Transport for London's (TfL's)&nbsp;latest road safety campaign to reduce the number of young teenagers killed or seriously injured (KSI) on London roads. Players from Chelsea,";}
        
        


 