
    
  



@{ViewBag.Title = "Bus operators";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/bus-operators/index";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Bus operators</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Bus operators</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser bus">
  
  <a href="/corporate/publications-and-reports/buses-performance-data?intcmp=3089"  data-img="/cdn/static/cms/images/promos/x001-00098-bus-woman-buggy.jpg" data-img-breakpoint="" data-img-alt="Woman boarding a bus with a buggy">
    <img src="/cdn/static/cms/images/promos/x001-00098-bus-woman-buggy_rdax_600x300.jpg" alt="Woman boarding a bus with a buggy" />
    <div class="text-link sit-top">
      <h2>Performance</h2>
      <p>Set targets and benchmarks using network statistics</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser bus">

    <a href="/info-for/suppliers-and-contractors/london-buses-tenders?intcmp=3393" >
        
        
        <div class="text-link">
             <h2>London Buses tenders</h2>
            <p>Find out about the contracting and tendering process and view all tender results</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/info-for/suppliers-and-contractors/london-service-permits?intcmp=3396" >
        
        
        <div class="text-link">
             <h2>London Service Permits</h2>
            <p>A London Service Permit is required to run bus, coach or tours services outside of the TfL network</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses&intcmp=18122" >
        
        
        <div class="text-link">
             <h2>Publications & reports</h2>
            <p>Operator league tables and regular reports on bus performance, crime and safety</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/corporate/about-tfl/what-we-do?intcmp=2582" >
        
        
        <div class="text-link">
             <h2>About TfL - Buses</h2>
            <p>We manage one of the largest bus fleet networks in the world</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/suppliers-and-contractors/index" class="plain-button">Suppliers &amp; contractors</a>
<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses" class="plain-button">History of London buses</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Information for bus operators including tenders and service permits.";}
        
            
        


 