


@{ViewBag.Title = "3-in-1 Card brings Oyster convenience to Barclaycard customers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>3-in-1 Card brings Oyster convenience to Barclaycard customers </h1>
        <div class="content-page-press-release">
        10 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London, in partnership with TranSys and Barclaycard, have today announced the launch of Barclaycard OnePulse.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Like the Oyster card itself, the key to the success of this initiative is its simplicity
</p>
</div>
<p>
</p>
<p> This unique 3-in-1 card combines Oyster with credit card and cashless payment facilities.</p>
<p>The Barclaycard OnePulse card allows passengers to take advantage of all the benefits that Oyster offers: cheap, quick and convenient travel on the buses, Tube, DLR and trams.  </p>
<p>The OnePulse card also allows customers to pick up a coffee and newspaper on the way to work and pay for it using the OneTouch contactless payment system. </p>
<p>This "wave and pay"(TM) technology can be used for buying everyday items, costing less than &pound;10, by simply touching the card on a special reader at thousands of outlets across the capital.  The OnePulse card also offers a credit card function. <br /> <br />The Oyster in a OnePulse card works just like a regular Oyster card and can be topped up like a  pay-as-you-go card or can have up to three Travelcards or Bus Pass season tickets loaded onto it.         <br /> <br />Barclaycard OnePulse is the first time that Oyster technology has been licensed to a third party. This follows successful trials of the card earlier in 2007. </p>
<h2>Convenient</h2>
<p>Shashi Verma, Director of Fares and Ticketing, TfL, commented: "Since its launch in 2003, the Oyster card has proven to be a huge success with over 10 million cards now in circulation.</p>
<p>"This innovative partnership with Barclaycard is another way that Oyster technology can make life more convenient for Londoners, providing them with not only cheaper, easier and more convenient travel but also the ability to make low cost transactions on everyday items."<br /> <br />Sue Doyle, Marketing Director, TranSys, said: "Like the Oyster card itself, the key to the success of this initiative is its simplicity. </p>
<p>"We developed an idea together with Barclaycard which could be dovetailed seamlessly with Oyster's existing functionality to deliver additional value for Barclaycard customers, adding to the Oyster service which has become part of London life for millions of people.  </p>
<h2>Technology partnerships</h2>
<p>"This is the first of what we hope will be many such successful technology partnerships, bringing Oyster to an even broader audience in the future."<br /> <br />Barclaycard OnePulse cardholders will be able to use the cashless functionality at thousands of retailers as the technology rolls out in the capital over the coming months.  </p>
<p>Retailers already signed up to the new technology include Books Etc, Chop'd, Coffee Republic, EAT, Krispy Kreme, Threshers and YO! Sushi.<br /> <br /></p>
<p>
</p>
<p><strong>Notes to editors:</strong><br /> <br /> <strong>The three functionalities of the card are:</strong></p>
<ul>
    <li>Oyster - cardholders will enjoy the benefits of Oyster, meaning cheaper, easier and more convenient travel on the London Transport  network, using Oyster exactly as they do today, by pre-loading pay as you go and/or a Travelcard or Bus Pass. The Oyster functionality is entirely separate from the credit card account, but sits on the same card </li>
    <li>Cashless - New Visa "wave and pay" (TM) technology for speedy purchases under &pound;10 without the need to use Chip and PIN. These transactions are listed on the cardholders credit card statement </li>
    <li>Credit - Standard Chip and PIN credit card facility for larger transactions (over &pound;10)</li>
</ul>
<p><strong>About Oyster</strong></p>
<ul>
    <li>More than 10 million Oyster cards have been issued and 38 million journeys are made each week using Oyster. Around 80 per cent of all Underground and bus payments in London are now by Oyster card</li>
    <li>Since the introduction of Oyster card, the proportion of cash payments on London's Underground and buses has fallen to just three per cent</li>
    <li>As an example, with Oyster pay as you go you can place &pound;10 on the Oyster function of your Barclaycard OnePulse and when you touch in and out at the yellow readers with your card on the Tube, DLR, tram or bus the reader automatically deducts the correct fare</li>
    <li>Oyster is available and can be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops agents across the Capital. Eighty-five per cent of all Londoners live within 400 metres of an Oyster Ticket Stop. This will soon expand to around 4,000 Oyster Ticket Stops</li>
    <li>Passengers can store up to three different Travelcard or Bus Pass season tickets and pay as you go on the same Oyster card at the same time</li>
    <li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations</li>
    <li>Almost three times as many passengers can pass an Underground payment gate using Oyster as can using printed tickets - 40 a minute compared to 15 a minute<br /> </li>
</ul>
<p><strong>About TranSys</strong></p>
<ul>
    <li>The TranSys consortium, whose principal partners are EDS and Cubic, is responsible for developing, installing, managing and maintaining London's automated fare collection system, which includes the contactless smartcard Oyster, on behalf of TfL</li>
</ul>
<p><strong>About Barclaycard</strong></p>
<ul>
    <li>Barclaycard is a multi-brand credit card and consumer loans business which also processes card payments for retailers and merchants and issues credit and charge cards to corporate customers and the UK Government. It is one of Europe's leading credit card businesses and has an increasing presence in the United States</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;This unique 3-in-1 card combines Oyster with credit card and cashless payment facilities.The Barclaycard OnePulse card allows passengers to take advantage of all the benefits that Oyster offers:&nbsp;cheap, quick and convenient travel on the buses,";}
        
        


 