


@{ViewBag.Title = "Archway station exhibition";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Archway station exhibition</h1>
        <div class="content-page-press-release">
        07 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Modernising Archway station and making it step free will bring real benefits to all our passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Marcia Williams</div>
            <div class="quotee-job-title">Northern line Stations' Performance Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Modernising Archway station and making it step free will bring real benefits to all our passengers
                            
                        </p>
                    </div>
                
            
            
            <p>An exhibition about plans to make Archway Tube Station step-free by installing new lifts alongside existing stairs and escalators is being held by London Underground at Archway Methodist Church in Archway Close between Wednesday 26 September and Saturday 29 September.</p>

<p>The exhibition will be open each day between 08:00 and 19:30 except on Saturday when it will be open between 10:00 and 17:00.</p>

<p>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's &pound;10 billion Investment Programme. </p>
<p>This modernisation work, which will make Archway station easier and pleasanter to use, is part of LU's plan for making the Tube more accessible to all its customers.</p>
<p>During construction it is planned to keep the station open and the train services running normally as much as possible. </p>
<h2>Transport hub</h2>
<p>Marcia Williams, Northern line Stations' Performance Manager said: "Archway station is an important transport hub, used by over 125,000 passengers every week. </p>
<p>"Making this busy Northern line station more accessible for people who find it difficult or impossible to use stairs or escalators is particularly challenging at this station, because of the constraints of putting in lifts on a very small site with little room to manoeuvre.&nbsp; </p>
<p>"In addition the deep level platforms are located under roads making direct access impossible.</p>
<p>"In order to do this it is planned to install a 16-passenger lift to take passengers from the ticket hall to an intermediate level and a second 16- passenger lift to take passengers from the intermediate level to the platform level. Then a tunnel will be constructed to link the two lifts at the intermediate level.&nbsp; </p>
<h2>See our plans </h2>
<p>"This exhibition is an opportunity for the public to come along and see our plans to modernise the station with all the difficulties that constrain us.&nbsp; </p>
<p>"As well as new lifts there will be better lighting, additional CCTV, Help Points with induction loops for the hard of hearing, as well as new audio and visual customer information systems so that everyone will be able to know when the next trains will be in the stations and where they are going.&nbsp;<br>&nbsp;<br>"Modernising Archway station and making it step free will bring real benefits to all our passengers, but particularly those with restricted or reduced mobility, or those with pushchairs, luggage or heavy shopping as well as older people."</p>
<p>The tunnel linking the two lifts will be constructed underground and, to do this, we need to submit an application for a Transport and Works Act Order in autumn 2007. </p>
<p>If this is granted we will start construction works in autumn 2009 and aim to complete the project by 2012.</p>
<hr>

<p>&nbsp;</p>
<p>&nbsp;</p>
            <strong>Notes to editors</strong> 
<ul>
<li>TfL is investing &pound;10 billion to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An exhibition about plans to make Archway Tube Station step-free by installing new lifts alongside existing stairs and escalators is being held by London Underground at Archway Methodist Church in Archway Close between Wednesday 26 September and Saturday";}
        
        


 