


@{ViewBag.Title = "Blackwall Tunnel overnight maintenance change to improve safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel overnight maintenance change to improve safety</h1>
        <div class="content-page-press-release">
        19 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The weekly overnight maintenance closure of Blackwall tunnel is set to move from Tuesday night to Sunday morning, on a trial basis, from Sunday 23 September.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Maintenance of the tunnel is vital to keep it open at the busiest times 
                            
                        </p>
                    </div>
                
            
            
            <p>The change of time is being made to improve safety and minimise disruption for motorists. 
<p>There are also a number of advantages for users of the Tunnel. 
<p>The closure will take place at a time when the Tunnel is at its quietest. 
<p>Traffic disruption for late weekday travellers will also be avoided, including local events at the O2&nbsp;Dome and ExCeL. </p>
<p>And risks associated with operating a contra-flow (two-way traffic) in the southbound tunnel will be removed.</p>
<p>After six Sunday night closures the trial change of timing will be reviewed.</p>
<h2>Completed safely</h2>
<p>Transport for London (TfL) will pay particular attention to whether the closure allows sufficient time for the necessary routine maintenance to be completed safely, and to the overall impact on traffic.</p>
<p>TfL has previously closed the northbound Blackwall Tunnel every Tuesday night from 9pm till 5am the next morning.</p>
<p>During this closure, contra-flow was implemented in the southbound Blackwall Tunnel.</p>
<p>Traffic for the Sunday night closure will be managed as follows: </p>
<ul>
<li>Northbound traffic will be allowed to continue its journey through the southbound tunnel </li>
<li>Southbound traffic will be diverted via Central London and Dartford Crossings </li>
<li>The 108 bus service that uses Blackwall Tunnel will not be diverted, but southbound buses will be escorted through the tunnel&nbsp;&nbsp;while northbound traffic is held at a red signal </li>
<li>The Rotherhithe Tunnel will remain open during the Sunday closure times</li></ul>
<h2>Essential programme</h2>
<p>Peter Brown, Chief Operating Officer, Streets,&nbsp;TfL &nbsp;said: "This essential programme of maintenance is being moved to take place on Sunday nights when the tunnel is least busy. </p>
<p>"This should mean the smallest possible number of motorists are affected.</p>
<p>"Maintenance of the tunnel is vital to keep it open at the busiest times and we will regularly examine the way it is carried out to ensure we provide the safest possible environment for the public."</p>
<p>Motorists will be informed of the closures through advanced warning signs at key locations, via <a href="http://www.tfl.gov.uk/">TfL's website </a>and through&nbsp;TfL's and the Highways Agency's new <a href="http://www.trafficradio.org.uk/">'Traffic Radio'</a> service.</p>

<p>
<hr>
<br></p>
            <p><strong>Notes to editors</strong><br>
<ul>
<li>The weekly maintenance closure of the northbound Blackwall Tunnel will be changing from Tuesday nights to Sunday mornings between 1am and 8am</li>
<li>The trial arrangements will commence in the early hours of 23 September 2007 and will then operate on 30 September, 7 October, 14 October and 4 November. A sixth closure will also be necessary but will not take place on the 11 November due to Remembrance Day arrangements in Central London on that morning. Transport for London is in further discussions with the Highways Agency and other key partners about when this sixth closure can take place</li>
<li>The closures will not take place on the weekends of 20/21 and 27/28 October, to allow for a planned closure of the QEII Bridge at Dartford</li>
<li>Transport for London is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>Transport for London is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The change of time is being made to improve safety and minimise disruption for motorists. There are also a number of advantages for users of the Tunnel. The closure will take place at a time when the Tunnel is at its quietest. Traffic disruption for late";}
        
        


 