


@{ViewBag.Title = "Check before you purchase with Congestion Charging Penalty Checker";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Check before you purchase with Congestion Charging Penalty Checker</h1>
        <div class="content-page-press-release">
        17 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new online 'Penalty Checker' service that will allow people to verify if the vehicle they are purchasing has any outstanding penalty charges for the Central London Congestion Charge has been launched by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>
<p>This free service, which was brought about following feedback from customers, has been introduced to help those customers who are considering purchasing a new vehicle and are looking for assurance the vehicle they are buying has no outstanding penalties.</p>
<p>In order to use the online service, potential car buyers will need to provide their name, address and the vehicle registration mark (VRM), as well as confirmation that authorisation has been obtained from the registered keeper. </p>
<p>The requests should then be sent to <a href="mailto:OutstandingCCPenaltyCharges&#64;TfL.gov.uk">OutstandingCCPenaltyCharges&#64;TfL.gov.uk</a> </p>
<p>The email response will then be sent within 10 working days confirming the period a check has been carried out for, whether there are outstanding Penalty Charges and basic advice as to what action can be taken if there are.</p>
<p>John Mason, Head of Enforcement, Congestion Charging, TfL, said: "It is only fair that the motorist who incurred or is liable for a penalty issued by us for not complying with the congestion charge scheme is the person who pays for it. </p>
<p>"We are providing this service in order to assist anyone buying a used car to find out quickly and conveniently that no outstanding congestion charging penalties exist and provide clear advice and guidance to them if there are."</p>
<p>For more information, visit the <a href="http://www.cclondon.com/Penalties-Enforcement.shtml">Congestion Charging</a> web page&nbsp;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This free service, which was brought about following feedback from customers, has been introduced to help those customers who are considering purchasing a new vehicle and are looking for assurance the vehicle they are buying has no outstanding";}
        
        


 