


@{ViewBag.Title = "Courts uphold taxi emissions strategy in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Courts uphold taxi emissions strategy in London</h1>
        <div class="content-page-press-release">
        28 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Royal Courts of Justice today rejected calls by the London Cab Drivers' Club for a Judicial Review of the Public Carriage Office's implementation of a taxi emissions strategy.
        
    </div>



 <div class="on-this-page">
<p>
<p>His Honour Judge Mole, having considered all of the available evidence in detail, ruled that the request from the London Cab Drivers' Club for a Judicial Review was 'doomed to failure'.&nbsp; </p>
<p>He awarded full costs to the Public Carriage Office, and commented that their implementation of the emissions strategy was entirely reasonable.</p>
<p>Ken Livingstone, Mayor of London, said: 'This is a great victory in the effort to clean up London's environment by tackling pollution.&nbsp; </p>
<p>'The London Cab Drivers' Club are a small, unrepresentative group of taxi drivers who have long been opposed to my strategy to improve London's air quality.</p>
<p>'Making London's taxi fleet cleaner and greener can only be good news for everyone who lives in, works in or visits London - not least cab drivers themselves, who are among those most exposed to pollution from road vehicles.'</p>
<p><br>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Public Carriage Office (PCO) is part of Transport for London (TfL) </li>
<li>In May 2007, Mr Justice Wyn Williams refused the London Cab Drivers' Club's (LCDC's) request for a Judicial Review of the PCO's implementation of the taxi emissions strategy.&nbsp;He ruled that TfL had filed 'compelling grounds for resisting this claim" and said that "the summary grounds demonstrate clearly that each substantive point of challenge is very unlikely to succeed'.&nbsp; The LCDC then requested an oral hearing, which took place at 10am today, Friday 28 September </li>
<li>The Mayor has asked the PCO to implement an emissions strategy to ensure all taxis meet Euro III standards by June 2008 </li>
<li>The PCO has approved several different emission reducing technologies which may be fitted to taxis to reduce emissions of particulate matter (PM10) and oxides of nitrogen (NOx).&nbsp;Systems are subject to rigorous tests over six months by the Energy Saving Trust (EST), an independent, government-approved body, prior to being approved for use in taxis.&nbsp;The EST carries out those tests in accordance with legislative requirements </li>
<li>It costs around &pound;2,500 to fit a cab with this technology.&nbsp; Since April 2005, a 20p environmental surcharge has been added to the minimum fare to help owners meet the cost of fitting this technology to their vehicles</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "His Honour Judge Mole, having considered all of the available evidence in detail, ruled that the request from the London Cab Drivers' Club for a Judicial Review was 'doomed to failure'.&nbsp; He awarded full costs to the Public Carriage Office, and";}
        
        


 