


@{ViewBag.Title = "Cross River Tram consultation results published";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cross River Tram consultation results published</h1>
        <div class="content-page-press-release">
        11 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today published the results of a public consultation on route options for the proposed Cross River Tram.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Cross River Tram would provide an important public transport link"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Cross River Tram would provide an important public transport link 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The consultation sought the views of local residents and businesses on various options for the proposed 16.5km route.</p>

<p>Independent researchers IPSOS MORI carried out the consultation and over 5,000 people and organisations responded to give their views.&nbsp; </p>

<p>The results show strong support for the tram. Positive responses were received from all the borough councils that the tram would pass through: Camden, Westminster, Lambeth and Southwark.</p>
<p>A decision on the preferred route will follow a technical review and assessment of whether funding will be available.</p>
<p>The review and further feasibility work will look at potential passenger numbers, improvements in journey times, a review of depot and staged implementation options, traffic and environmental impacts and the views on route options expressed by the public and stakeholders. </p>
<h2>Reliable link</h2>
<p>Ken Livingstone, Mayor of London said: "The Cross River Tram would provide an important public transport link to provide a fast and reliable transport link from rapidly developing residential areas such as Elephant &amp; Castle and King's Cross, to around one million jobs in central London."</p>
<p>Luke Albanese, Project Director for Cross River Tram said: "This report will help us to develop our proposals.</p>
<p>"A decision on a recommended preferred route will follow a technical assessment of all the different options."</p>
<p>&nbsp;</p>
            <p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>The proposed Cross River Tram will be a high quality public transport link, running on-street between Euston and Waterloo, with branches to Camden Town and King's Cross in the north, and Brixton and Peckham in the south </li>
<li>The public consultation into route options for Cross River Tram ran from November 2006 to February 2007.&nbsp; The report on the consultation, undertaken by IPSOS MORI, is available on Transport for London's website at: <a href="http://www.tfl.gov.uk/crt">www.tfl.gov.uk/crt</a> </li>
<li>The report presents the results of the public consultation on route options for the Cross River Tram. Cross River Tram is a large scheme, with a long route that covers four boroughs so the route was divided into five sections to facilitate ease of comment during the public consultation.</li></ul>
<ul type="square">
<li>Section 1:&nbsp; Euston - Waterloo:&nbsp;&nbsp;&nbsp; one route alignment </li>
<li>Section 2:&nbsp; Euston - King's Cross:&nbsp;&nbsp; two route options </li>
<li>Section 3:&nbsp; Euston - Camden Town:&nbsp; two route options </li>
<li>Section 4:&nbsp; Waterloo - Oval/Brixton:&nbsp;<br>Waterloo - Oval:&nbsp;&nbsp; two route options&nbsp;<br>Oval - Brixton:&nbsp;&nbsp; two route options<br>Brixton town centre:&nbsp;&nbsp; two route options </li>
<li>Section 5:&nbsp; Waterloo - Peckham:<br>Waterloo - Peckham:&nbsp; two route options<br>Peckham town centre:&nbsp; two route options<br>Peckham town centre terminus: two route options </li></ul>
<p>Consultation Results</p>
<ul>
<li>Section 1:&nbsp; Euston to Waterloo (no route choice)<br>&nbsp; 77 per cent of respondents gave positive views and <br>&nbsp; 11 per cent voiced negative opinions about this route choice<br>&nbsp; 12 per cent of respondents expressed spontaneous support for a tram on this route<br>&nbsp; three per cent of respondents were of the view that the Cross River Tram is not necessary </li>
<li>Section 2:&nbsp; Euston to King's Cross<br>&nbsp; Route 1 - via Mornington Crescent and Crowndale Road<br>&nbsp; Route 2 - via Somerstown<br>&nbsp; 55 per cent support option 2<br>&nbsp; 35 per cent&nbsp;prefer route option 1<br>&nbsp;&nbsp;nine per cent have no preference at all and one per cent gave both routes as equal preference </li>
<li>Section 3:&nbsp; Euston to Camden Town<br>&nbsp; Option 1 - both northbound and southbound trams running along Camden High Street <br>&nbsp; Option 2 - northbound trams running along Camden High Street, southbound trams running along Bayham Street<br>&nbsp; 65 per cent prefer option 1<br>&nbsp; 25 per cent prefer route option 2 <br>&nbsp; 10 per cent had no preference </li>
<li>Section 4:&nbsp; Waterloo to Oval/Brixton<br>&nbsp; Waterloo - Oval <br>&nbsp; Option 1 - via Waterloo Road, Elephant &amp; Castle and Kennington Park Road <br>&nbsp; Option 2 - via Kennington Road<br>&nbsp; 52 per cent prefer route option 1<br>&nbsp; 36 per cent prefer option 2<br>&nbsp; 11 per cent expressed no preference and&nbsp;one per cent gave both routes equal first choice</li>
<li>Oval - Brixton<br>&nbsp; Option 1 - via Clapham Road and Stockwell Road<br>&nbsp; Option 2 - via Brixton Road<br>&nbsp; 47 per cent prefer route option 2 <br>&nbsp; 34 per cent prefer option 1 <br>&nbsp; 18 per cent have no route preference and 1% gave both options as equal first choice</li>
<li>Brixton town centre<br>&nbsp; Option 1 - via Brixton Road and Effra Road, looping around St Michael's Church onto Brixton Hill <br>&nbsp; Option 2 - via Canterbury Crescent to terminate in Pope's Road<br>&nbsp; 53 per cent preferred option 1.<br>&nbsp; 27 per cent of respondents have no preference on the route chosen<br>&nbsp; 19 per cent of respondents support option 2</li>
<li>Section 5:&nbsp; Waterloo to Peckham<br>&nbsp; Waterloo - Peckham<br>&nbsp; Option 1 - via Burgess Park and Chandler Way<br>&nbsp; Option 2 - via Wells Way and Southampton Way<br>&nbsp; 51 per cent 1,265 prefer route option 1 <br>&nbsp; 37 per cent of respondents prefer route option&nbsp;2<br>&nbsp; 11 per cent have no preference on this section of the route</li>
<li>Peckham town centre<br>&nbsp; Option 1 - via Peckham Square<br>&nbsp; Option 2 - via Peckham Hill Street<br>&nbsp; 51 per cent prefer route option 2&nbsp;<br>&nbsp; 26 per cent prefer the choice of route option 1&nbsp;<br>&nbsp; 22 per cent respondents have no preference</li>
<li>Peckham town centre terminus<br>&nbsp; Option 1 - via Clayton Road and terminating opposite Peckham Rye rail station <br>&nbsp; Option 2 - via Cerise Road and terminating close to the cinema<br>&nbsp; 44 per cent of respondents prefer route option 2<br>&nbsp; 32 per cent prefer option 1&nbsp;<br>&nbsp; 23 per cent have no preference</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The consultation sought the views of local residents and businesses on various options for the proposed 16.5km route.Independent researchers IPSOS MORI carried out the consultation and over 5,000 people and organisations responded to give their";}
        
        


 