


@{ViewBag.Title = "Effective enforcement by Transport for London keeps the Capital's roads moving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Effective enforcement by Transport for London keeps the Capital's roads moving</h1>
        <div class="content-page-press-release">
        19 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Transport for London (TfL) report has revealed that drivers in London are getting better at sticking to the rules. Better driving in the Capital has seen the observance of parking and traffic regulations improve by up to 35 per cent.
        
    </div>



 <div class="on-this-page">
<p>
<p>TfL has published its second annual report on the impact of parking and traffic enforcement on the Capital's Red Route network. </p>
<p>The network, which is managed by TfL, covers five per cent of London's roads but carries a third of the Capital's traffic.</p>
<p>Illegal parking, the blocking of yellow box junctions and making banned turns on the Red Route Network have all reduced over the past year.</p>
<p>Figures in the report show illegal parking has fallen by 35 per cent&nbsp;on some sections of the Red Route since January 2006.</p>
<p>Patrick Troy, Head of Traffic Enforcement at TfL, said: "This is good news for motorists in London. </p>
<p>"Tackling motorists that block yellow box junctions and make illegal turns is making our roads safer for all road users, including pedestrians and cyclists.</p>
<p>"We can see from these results that our success in enforcing London's bus lanes is now being seen elsewhere on TfL's Red Route network."</p>
<p>According to the report, the number of motorists breaking the rules at yellow box junctions fell by 35 per cent.</p>
<p>And the number of motorists making banned turns reduced by 32 per cent&nbsp;in the seven months following the start of enforcement in September 2006. </p>
<p>Bus lane enforcement also continues to improve with a 38 per cent reduction in the number of Penalty Charge Notices issued year on year.<br></p>
            <p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>In 2006, there were 14.3 parking contraventions; 13.6 moving vehicle contraventions and 8.8 bus lane contraventions per hour, where CCTV enforcement was monitored. In March 2007, this has reduced to 11.6, 11.7 and 6.1 contraventions per hour respectively </li>
<li>The number of observed contraventions per mile of Red Route also went down to the lowest numbers on record from 0.74 to 0.57 between March 2006 and March 2007 </li>
<li>TfL has increased the effectiveness of its enforcement by ensuring that all signs and lines comply with legal requirements after street disruptions, such as road works. In 2004/05 around 84 per cent of the Red Route network was enforceable; this was increased to 96 per cent by March 2007 </li>
<li>In 2006/07 on-street patrols accumulated around 450,400 hours and issued around 210,700 PCNs. Monitoring of enforcement is carried out using the TfL camera network, including bus mounted cameras, on-street surveys and public perception research </li>
<li>Tf'L's camera&nbsp;enforcement operations use a network of more than 350 CCTV cameras, which are monitored 24 hours a day </li>
<li>Enforcement of bus lanes with cameras began in 1997, introduced by the Traffic Director for London, predating the establishment of TfL in 2000. TfL then began camera enforcement of moving vehicle offences (yellow box junctions, banned turns, etc) in June 2004. In&nbsp;November 2004, TfL began enforcing with on-street parking attendants to enforce the Red Route (parking and stopping)&nbsp;using MPS Traffic Wardens and Transport Police Community Support Officers. Camera enforcement of Red Route parking and stopping came in February 2005 </li>
<li>Since decriminalisation of the Transport for London Road Network (TLRN), the Metropolitan Police Service has been enforcing traffic regulations under a special service agreement with TfL using Traffic Wardens and Traffic Police Community Support Officers </li>
<li>The TLRN covers 580km of roads in London - about 5 per cent of the total; but it carries a third of the Capital's traffic </li>
<li>Contraventions on the Red Route, however brief, can cause congestion very quickly due to the volume of traffic and TfL is determined to keep this to a minimum in order to Keep London Moving </li>
<li>The blocking of yellow box junctions seriously impacts traffic flow across these junctions and is a common form of frustration to other drivers </li>
<li>A pilot study, undertaken when TfL was granted the powers to enforce traffic offences in June 2004, found that traffic flow was increased at 73 per cent of sites that were enforced and monitored. The number of accident casualties at the sites also went down by 19.4 per cent during the course of the pilot </li>
<li>Similarly, the enforcement of bus lanes has been very successful with the number of contraventions from bus mounted cameras between July 2000 and July 2005 per hour of viewed footage reduced from 12 to 0.1. Between the end of 2004 and the end of 2005, bus speeds in bus lanes increased by 5 per cent - and buses now travel 12.6 per% faster in bus lanes than between bus lanes </li>
<li>To see the full report go to <a href="/corporate/projectsandschemes/7500.aspx">Projects and Schemes</a> section</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has published its second annual report on the impact of parking and traffic enforcement on the Capital's Red Route network. The network, which is managed by TfL, covers five per cent of London's roads but carries a third of the Capital's";}
        
        


 