


@{ViewBag.Title = "Extra staff to provide help during Metronet strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extra staff to provide help during Metronet strike</h1>
        <div class="content-page-press-release">
        04 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) works to keep London moving on the first full day of Metronet strike action
        
    </div>



 <div class="on-this-page">
<p>
<p>TfL is laying on extra staff to provide passengers with travel advice, maps and information to help them complete their journeys today while nine of twelve London Underground (LU) lines are suspended due to strike action by RMT members at Metronet.</p>
<p>Measures in place over the course of the day include:</p>
<ul>
<li>Extra staff at Tube stations </li>
<li>LU staff handing out local walking maps outside closed stations </li>
<li>London Buses staff out on the street giving passengers information on the best routes to get to their destination </li>
<li>Police and Community Support Officers helping to manage queues at stops to ensure that people can get on to buses </li>
<li>The Transport Operational Command Unit, the Metropolitan Police unit funded by TfL, working to keep bus lanes clear to help the reliable flow of buses </li></ul>
<p>A TfL spokesman said: "We are putting extra staff out over the course of the next three days in order to help passengers get to their destinations as quickly and safely as possible.</p>
<p>"The best way to relieve some of the stress during times of serious disruption like this is to make sure passengers have information, maps and advice on how they can complete their journeys.</p>
<p>"We urge passengers to leave extra time for their journeys today and to consider using other modes of transport including walking and cycling.&nbsp; Information on this is available in <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner </a>on the TfL website."</p>

<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li><a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is laying on extra staff to provide passengers with travel advice, maps and information to help them complete their journeys today while nine of twelve London Underground (LU) lines are suspended due to strike action by RMT members at";}
        
        


 