


@{ViewBag.Title = "Hydrogen Bus Alliance calls for industry support";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hydrogen Bus Alliance calls for industry support</h1>
        <div class="content-page-press-release">
        25 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Hydrogen Bus Alliance, currently chaired by Transport for London (TfL), is calling upon suppliers in the hydrogen and bus manufacturing industries to join forces with it.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Hydrogen Bus Alliance has already proved incredibly valuable, allowing the partners to share information on the performance of hydrogen buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Guy St Jacques</div>
            <div class="quotee-job-title">Canadian Deputy High Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Hydrogen Bus Alliance has already proved incredibly valuable, allowing the partners to share information on the performance of hydrogen buses
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Working in partnership with the industry, it aims to support the continued and rapid development and commercialisation of hydrogen technology in the public transport sector. </p>
<p>The Alliance comprises representatives from the public transport authorities of international cities and regions that have demonstrated a clear commitment to hydrogen technology.&nbsp;</p>
<p>Many of the partners have already taken part in successful trials of hydrogen buses.&nbsp; </p>
<p>They have all made a commitment to buy at least five new hydrogen buses to begin operating between 2008 and 2012.&nbsp; </p>
<p>The Alliance aims to ensure that hydrogen buses can compete with their diesel counterparts in terms of cost and performance by 2015.&nbsp;</p>
<p>Before the partners can make a major, long-term commitment to hydrogen technology, a number of technical and commercial requirements must be met.&nbsp;</p>
<h2>Continued development&nbsp;</h2>
<p>To that end, the Alliance launched its 'Industry Dialogue' last night at the Canadian High Commission.&nbsp; </p>
<p>Suppliers and key industry experts are invited to provide a formal and confidential input into the Alliance's planning process for bus procurement between 2010 and 2015.</p>
<p>The Canadian Deputy High Commissioner Guy St Jacques said: "The Hydrogen Bus Alliance has already proved incredibly valuable, allowing the partners to share information on the performance of hydrogen buses, and plans for purchasing more such vehicles.&nbsp; </p>
<p>"It now looks to the manufacturers and suppliers to help build on that success and ensure the continued development of hydrogen technology." </p>
<h2>Aspirations</h2>
<p>Peter Hendy, Commissioner for TfL, added: "The Hydrogen Bus Alliance is proof positive that there is a market for hydrogen technology in the public transport sector.</p>
<p>"And, what's more, that there is the political will to support the development of that technology.&nbsp; </p>
<p>"However, we need to work with suppliers to ensure that our aspirations are realistic.</p>
<p>"As part of the Mayor's plans to tackle climate change, TfL is in the process of buying ten hydrogen buses, and while we are prepared to pay a premium for these early models, we need reassurances that costs can and will come down in the very near future.&nbsp; </p>
<p>"Those assurances will allow us to plan for a rapid expansion of hydrogen buses in the fleets of our contractors." </p>
<p>Anyone wishing to participate in the Dialogue can find full details on the following website: <a href="http://www.hydrogenbusalliance.org/">http://www.hydrogenbusalliance.org/</a> <br></p>
            <p>
<p><strong>Notes to editors<p>
<ul>
<li></li></ul></strong>The Hydrogen Bus Alliance was originally formed in October 2006, when a number of international cities and regions first signed a Memorandum of Understanding that they would work together to develop and procure hydrogen fuel cell buses and make the technology commercially viable.&nbsp;The current Chair of the Alliance is London Buses, a subsidiary of&nbsp; TfL
<li>The Alliance comprises the public transport authorities in the following cities and regions:</li>
<ul type="circle">
<li>Amsterdam (GVB)</li>
<li>Barcelona (TNB)</li>
<li>Berlin (BVG)</li>
<li>British Columbia (BC Transit)</li>
<li>Cologne (Regionalverkehr K&ouml;ln)</li>
<li>Hamburg (Hamburger Hochbahn)</li>
<li>London (Transport for London)</li>
<li>South Tyrol</li>
<li>Western Australia (Public Transport Authority of Western Australia)</li></ul>
<li>These cities and regions represent leading adopters of new bus technologies on their respective continents and plan to act as leaders in the move to cleaner fuels for urban public transit.&nbsp;At present, the alliance represents a cumulative fleet of over 12,000 buses and an average yearly purchase of over 1,200 city buses each year.&nbsp;A number of other cities and regions are keen to join the Alliance and we expect the size of the combined fleet to grow accordingly</li>
<li>Specific benefits to the industry of participating in the Dialogue: </li>
<ul type="circle">
<li>Shaping the city and regional plans on hydrogen vehicles, and refuelling to 2015 and beyond - through input into the strategic&nbsp;plan for 2010-2015, to ensure plans are consistent with those of the hydrogen bus and refuelling industries</li>
<li>Creating a market for hydrogen buses and refuelling infrastructure - by aiding the cities and regions in developing joint plans towards a continuous market for hydrogen buses, their associated components and refuelling infrastructure.&nbsp;Supplier input here provides the confidence necessary for politicians and budget makers to commit to firm plans for future hydrogen bus deployment</li>
<li>Learning (both commercial and technical) - through participation in the process and sharing market and technical information with the Alliance</li>
<li>Standardising specifications - the Alliance wish to work towards as common a set of specifications as is feasible, to assist with cost reduction and volume manufacture</li>
<li>Developing future opportunities for hydrogen bus sales - the cities and regions involved in the Alliance are committed to expanding the scope of the Alliance (and hence the hydrogen bus market) by assisting new cities and transport authorities in developing their own plans for hydrogen bus technology</li></ul>
<li>The Alliance aims to have communicated with key industry figures by the end of January 2008, with a draft action plan&nbsp;prepared by spring 2008. There will then be a consultation with the industry on the draft proposal, with a final approved action&nbsp;plan expected to be complete, and shared with the industry, by summer 2008</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Working in partnership with the industry, it aims to support the continued and rapid development and commercialisation of hydrogen technology in the public transport sector. The Alliance comprises representatives from the public transport authorities of";}
        
        


 