


@{ViewBag.Title = "London Underground celebrates Poetry for the people with verses from William Blake";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground celebrates Poetry for the people with verses from William Blake</h1>
        <div class="content-page-press-release">
        17 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Poet, printmaker, illustrator and visionary, British artist William Blake's work is celebrated in the upcoming series of Poems on the Underground launching on Tube trains on 24 September, as this year marks the 250th anniversary of his birth in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Blake is regarded as one of the greatest contributors to English literature and his creative legacy lives on"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Platform for Art</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Blake is regarded as one of the greatest contributors to English literature and his creative legacy lives on
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Though he was better known for his work as an engraver, Blake's poems have inspired countless readers such as poets W.H. Auden and Louis MacNeice, also featured in this series. </p>
<p>All three poets believed passionately in poetry for the people, a spirit followed by Poems on the Underground which aims to bring poetry to millions of passengers travelling on the Underground network every day.</p>
<p>Tamsin Dillon, Head of Platform for Art which supports Poems on the Underground said: "Blake is regarded as one of the greatest contributors to English literature and his creative legacy lives on. </p>
<h2>World-renowned artists</h2>
<p>"The upcoming series of Poems on the Underground showcases his talent and creativity as well as the influence he had upon other illustrious world-renowned artists."</p>
<p>Blake's work is represented in this series of Poems on the Underground by the poem "Ah! Sun-flower". </p>
<p>Addressed to the common sunflower, the poem is really about the great themes of love and death, sexual desire and repression.</p>
<p>Both Auden and MacNeice were born in 1907. </p>
<h2>Centenaries </h2>
<p>Their centenaries are marked in this series of Poems on the Underground with the last stanza of Auden's popular cabaret song "Tell Me The Truth About Love" alongside the musical setting by Benjamin Britten and "Snow" by MacNeice, a Blakean hymn to the senses of sight, hearing, taste and touch.</p>
<p>This series also features:</p>
<ul>
<li>"Rain Travel" by W.S. Merwin, another love poem </li>
<li>"Heirloom" by Anne Hartigan; and a tribute to one of London's most neglected boroughs </li>
<li>"In the Heart of Hackney" by Sebastian Barker</li></ul>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>The centenaries of Auden and MacNeice will be celebrated with poetry readings, music and live performances on 25 September at 19:30, St Giles Cripplegate. Two films: Night Mail and The Way To The Sea will also be screened. For more information and tickets please contact the Barbican Box Office 0845 120 7500</li>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Platform For Art), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground have inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow and St Petersburg and most recently Shanghai</li>
<li>The best selling anthologies "Poems on the Underground"; "New Books on the Underground 2006" and Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and London's Transport Museum's gift shop</li>
<li>The posters, designed by Tom Davidson, are available from London's Transport Museum</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Though he was better known for his work as an engraver, Blake's poems have inspired countless readers such as poets W.H. Auden and Louis MacNeice, also featured in this series. All three poets believed passionately in poetry for the people, a spirit";}
        
        


 