


@{ViewBag.Title = "London Underground bringing services back to normal after strike suspended";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground bringing services back to normal after strike suspended</h1>
        <div class="content-page-press-release">
        05 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We are now working to restore all services and ask passengers to bear with us just a little longer while we build up services throughout today"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are now working to restore all services and ask passengers to bear with us just a little longer while we build up services throughout today
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>London Underground (LU)&nbsp;is working flat out today to restore Tube services to normal operation after the RMT union suspended its strike action at Metronet following clarification of jobs and pensions issues.</p>
<p>The RMT withdrew from industrial action on Tuesday night, but as the suspension came so late in the evening it will take some time for&nbsp;LU to restore a full service.</p>
<p>LU&nbsp;is now pressing ahead with the maintenance and safety checks required across the whole network in order to bring trains back into service on all lines. </p>
<p>In order to restore service, LU needs to be sure that tracks, signals, points and trains have passed all safety checks and do not require further maintenance to guarantee passenger safety. </p>
<p>Tim O'Toole, Managing Director of LU, said: "The RMT strike action against Metronet meant that Metronet could not undertake all necessary maintenance and safety work on the Tube. </p>
<h2>Keep London moving</h2>

<p>"We are now working to restore all services and ask passengers to bear with us just a little longer while we build up services throughout today.</p>
<p>"I would also like to thank all London Underground staff for the work that they have done over the past few days to keep services running on lines where possible, and for all the advice and information provided to passengers at stations. </p>
<p>"I would also like to thank the rest of TfL for their work in keeping London moving."</p>
<p>London's Transport Commissioner, Peter Hendy also paid tribute to London's transport workers, particularly bus, tram and Docklands Light Railway staff, who worked to keep London moving through the RMT Metronet strike action.</p>
<h2>Unsung heroes</h2>

<p>Peter Hendy said: "The unsung heroes of the last few days have undoubtedly been London's bus, tram and DLR workers.&nbsp;</p>
<p>"Their professionalism and resilience has been outstanding. </p>
<p>"Without them, we would simply not have been able to keep the Capital moving</p>
<p>"Bus drivers carried extraordinary numbers of passengers.&nbsp;</p>
<h2>Invaluable advice </h2>

<p>"Many staff were also on hand at bus stations and rail interchanges and, together with Tube staff at stations, provided invaluable advice on alternative transport or local walking routes.&nbsp;&nbsp; </p>
<p>"I am sure Londoners and commuters will join with me in thanking them all for their efforts."</p>
<p>A summary of current service on London Underground follows:</p>
<blockquote>
<li>Bakerloo line&nbsp;- services restored with minor delays </li>
<li>Central line&nbsp;- services restored with severe delays </li>
<li>Circle line&nbsp;- suspended </li>
<li>District line&nbsp;- suspended&nbsp;&nbsp;&nbsp; </li>
<li>East London line&nbsp;- suspended&nbsp; </li>
<li>Hammersmith &amp; City line&nbsp;- suspended&nbsp;&nbsp;&nbsp; </li>
<li>Jubilee line&nbsp;- good service&nbsp;&nbsp;&nbsp; </li>
<li>Metropolitan line&nbsp;- suspended </li>
<li>Northern line&nbsp;- good service &nbsp;&nbsp; </li>
<li>Piccadilly line&nbsp;- minor delays on the Uxbridge branch </li>
<li>Victoria line&nbsp;- services restored with minor delays </li>
<li>Waterloo &amp; City line&nbsp;- services restored with minor delays&nbsp; </li></blockquote>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU)&nbsp;is working flat out today to restore Tube services to normal operation after the RMT union suspended its strike action at Metronet following clarification of jobs and pensions issues.The RMT withdrew from industrial action on";}
        
        


 