


@{ViewBag.Title = "London bus fares cut to 90p today";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London bus fares cut to 90p today</h1>
        <div class="content-page-press-release">
        30 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The 90p bus fare makes London bus fares among the cheapest in Britain"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The 90p bus fare makes London bus fares among the cheapest in Britain
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Mayor of London, Ken Livingstone announced that from today Londoners will benefit from a cut in bus fares, from &pound;1 to 90p, and a reduction in the price of a weekly bus pass from &pound;14 to &pound;13.</p>
<p>The Mayor of London, Ken Livingstone, said: 'Today's fare cut represents a real benefit for one and a half million bus users in the capital. </p>
<p>'London's economic success has boosted Transport for London's income and so we are able to help ordinary Londoners benefit from that success by cutting bus fares. </p>
<p>'The 90p bus fare makes London bus fares among the cheapest in Britain.</p>
<p>'We have also defended free travel for older and disabled people, introduced free bus travel for young people under 18 in full-time education and half price bus fares for Londoners on income support. </p>
<h2>Best bus service</h2>
<p>'These policies benefit the least well off. But London's success means that today we can give cheaper fares to all Londoners.'</p>
<p>Peter Hendy, Transport Commissioner, said: 'I am delighted that from today everyone who lives in, works and visits London can take advantage of even cheaper bus travel.</p>
<p>'Transport for London is providing the best bus service for forty years. </p>
<p>'This was borne out last year when almost&nbsp;two billion people travelled on London buses, the highest number since the 1960s.'</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Around 1.6 million Londoners will benefit from the lower fares - 1.3 million from the reduction in pay as you go from &pound;1 to 90p and 300,000 from the reduction in the weekly bus pass from &pound;14 to &pound;13</li>
<li>90p bus and tram fares are funded by the existing Transport for London business plan. The cost of the fares reductions are estimated to be just under &pound;20m in the current financial year, up to the beginning of April 2008, and approximately &pound;36m in a full financial year</li>
<li>The cost of the fares reduction will be fully funded by revenues from the record numbers of bus and Tube passengers now travelling, while Transport for London has ensured there has been no equivalent increase in operating costs<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Ken Livingstone announced that from today Londoners will benefit from a cut in bus fares, from &pound;1 to 90p, and a reduction in the price of a weekly bus pass from &pound;14 to &pound;13.The Mayor of London, Ken Livingstone, said:";}
        
        


 