


@{ViewBag.Title = "London Underground Service Update - Metronet Strike Tuesday,  4 September  - 1300hrs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground Service Update - Metronet Strike Tuesday,  4 September  - 1300hrs</h1>
        <div class="content-page-press-release">
        04 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>As a result of the RMT strike action at Metronet, there is no service on two thirds of the London Underground network this afternoon. </p>
<p>There is currently no service on the Central, Bakerloo, Victoria, Waterloo &amp; City, Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</p>
<p>The RMT strike action commenced at&nbsp;18:00 on Monday, 3 September and is due to run for 72hrs until&nbsp;18:00 on Thursday, 6 September.&nbsp; </p>
<p>Should the strike run its full course, it will mean no service on the lines listed above on Tuesday 4, Wednesday 5 and Thursday 6 September.</p>
<p>Jubilee, Northern and Piccadilly line services, which are maintained by Tube Lines, should continue to operate, although they are likely to be very busy in consequence. </p>
<p>The latest service updates on these lines can be found at the end of this release.</p>
<p>Docklands Light Railway and London Buses will continue to operate as normal.&nbsp; </p>
<p>Passengers are urged to be patient and to respect the efforts of all transport staff in London as they work to deliver transport services.</p>
<p>Transport for London (TfL)&nbsp;also advise that walking should be considered as an alternative for short journeys.&nbsp; </p>
<p>For advice on how to make journeys using other modes of transport, including walking and cycling, passengers are advised to log onto <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a>&nbsp;&nbsp;</p>
<p>Passengers can check before travelling via the following options:</p>
<ul>
<li>The TfL website:www.tfl.gov.uk</li>
<li>The London Travel Info 24hrs telephone helpline: 020 7222 1234</li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164</li>
<li>Information on posters at stations and information boards at Tube stations.</li></ul>
<p>A summary of current service on London Underground follows:</p>
<ul>
<li>Bakerloo line&nbsp;- no service</li>
<li>Central line&nbsp; - no service&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li>Circle line&nbsp;- no service</li>
<li>District line&nbsp;- no service&nbsp;&nbsp;&nbsp; </li>
<li>East London line&nbsp;- no service&nbsp;&nbsp;&nbsp; </li>
<li>Hammersmith &amp; City line&nbsp;- no service</li>
<li>Jubilee line&nbsp;- normal service</li>
<li>Metropolitan line&nbsp;- no service&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li>Northern line&nbsp;- normal service&nbsp;</li>
<li>Piccadilly line&nbsp;- part suspended between Rayners Lane and Uxbridge due to RMT Metronet strike action&nbsp;&nbsp;&nbsp; </li>
<li>Victoria line&nbsp;- no service&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li>Waterloo &amp; City line - no service&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As a result of the RMT strike action at Metronet, there is no service on two thirds of the London Underground network this afternoon. There is currently no service on the Central, Bakerloo, Victoria, Waterloo &amp; City, Circle, District, Hammersmith";}
        
        


 