


@{ViewBag.Title = "London Underground Service Update - Metronet Strike Suspended Wednesday, September 5 - 1045hrs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground Service Update - Metronet Strike Suspended Wednesday, September 5 - 1045hrs</h1>
        <div class="content-page-press-release">
        05 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Seven out of twelve Tube lines are now running services with work ongoing to restore services on the remaining five lines.</p>
<p>A Transport for London (TfL) spokesperson said: "We are pleased the RMT has suspended its strike action at Metronet, following the clarification of all jobs and pensions issues.</p>
<p>"We will now work to provide the best possible Tube service on Wednesday. </p>
<p>"However, as the strike was suspended so late last night, it will take time for us to restore a full service on all Underground lines today.&nbsp; </p>
<p>"Passengers should check before they travel to see how Tube services are running. </p>
<p>"Our staff will be available to provide travel advice and assistance on Wednesday."</p>
<p>The latest service update on all lines can be found at the end of this press release.</p>
<p>Passengers can check before travelling via the following options:<br></p>
<ul>
<li>The TfL <a href="http://www.tfl.gov.uk">website</a></li>
<li>The London Travel Info 24hrs telephone helpline: 020 7222 1234</li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164</li>
<li>Information on posters at stations and information boards at Tube stations</li></ul>
<p>A summary of current service on London Underground follows:</p>
<ul>
<li>Bakerloo line&nbsp;- services restored with minor delays</li>
<li>Central line&nbsp;- services restored with minor delays&nbsp;&nbsp;&nbsp; </li>
<li>Circle line&nbsp;- suspended</li>
<li>District line&nbsp;- suspended&nbsp;&nbsp;&nbsp; </li>
<li>East London line&nbsp;- suspended&nbsp;&nbsp;&nbsp; </li>
<li>Hammersmith &amp; City line&nbsp;-suspended&nbsp;&nbsp;&nbsp; </li>
<li>Jubilee line - minor delays&nbsp;&nbsp;&nbsp; </li>
<li>Metropolitan line&nbsp;- suspended</li>
<li>Northern line - good service</li>
<li>Piccadilly line&nbsp;- good service&nbsp;&nbsp;&nbsp; </li>
<li>Victoria line&nbsp;- good service&nbsp;&nbsp;&nbsp; </li>
<li>Waterloo &amp; City line&nbsp;- good service&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Seven out of twelve Tube lines are now running services with work ongoing to restore services on the remaining five lines.A Transport for London (TfL) spokesperson said: 'We are pleased the RMT has suspended its strike action at Metronet, following the";}
        
        


 