


@{ViewBag.Title = "London Buses wins GreenFleet award for hybrid bus";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses wins GreenFleet award for hybrid bus</h1>
        <div class="content-page-press-release">
        11 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses has won the Public Sector Innovation category in the GreenFleet Awards for introducing hybrid buses in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This award recognises our ongoing commitment to a cleaner, greener public transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This award recognises our ongoing commitment to a cleaner, greener public transport network 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>London Buses introduced six single-deck hybrid buses into the fleet in March 2006 and a double deck hybrid bus was launched by the Mayor of London in March 2007.&nbsp; </p>

<p>This was the first double-deck hybrid bus to enter public service in the world.&nbsp; </p>
<p>The buses are easily identified with their distinctive leafy design. </p>
<p>The GreenFleet Awards recognise organisations in the transport industry for their environmental best practice efforts and innovations.&nbsp; </p>
<p>The winners were announced at an event at the East Wintergarden, Docklands on Thursday 6 September.&nbsp; </p>
<p>Ken Livingstone said: "This award recognises our ongoing commitment to a cleaner, greener public transport network in order to improve air quality and tackle climate change. We hope that every new bus entering the fleet will be a hybrid by 2012."&nbsp; </p>
<h2>Tackling climate change</h2>
<p>Mike Weston, Operations Director for London Buses, said: "It is great to be recognised for this project.</p>
<p>"Increasing the number of hybrid buses in the fleet is just one of the projects we are working on to reduce emissions and help tackle climate change."</p>
<p>Colin Boyton, GreenFleet Events Manager, said: "This award recognises the significant steps London Buses has made towards reducing carbon emissions from the Capital's bus fleet - no other EU public transport authority has announced such an ambitious hybrid bus programme."<br></p>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>The 8,000 strong London Buses fleet is the cleanest in the UK, with around 60% of the fleet achieving Euro III emission standards, and the remainder meeting Euro II standards.&nbsp;All Euro II and Euro III buses have been fitted with particulate traps, and buses meeting Euro IV standards are now being introduced</li>
<li>The current hybrid buses are powered by a small diesel engine and electric power, thereby cutting emissions by up to 40 per cent per bus.&nbsp;The technology works through a battery pack providing power to the wheels via an electric motor.&nbsp;The battery pack is kept at optimum power by a diesel Euro IV engine, keeping the battery charged.&nbsp;When the vehicle brakes, energy which would normally be wasted is also recycled and used to charge the battery. Thanks to continuous charging of the battery, the vehicle can meet the existing range of a conventional diesel bus<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Buses introduced six single-deck hybrid buses into the fleet in March 2006 and a double deck hybrid bus was launched by the Mayor of London in March 2007.&nbsp; This was the first double-deck hybrid bus to enter public service in the world.&nbsp;";}
        
        


 