


@{ViewBag.Title = "New theatre roadshow to teach young children about road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New theatre roadshow to teach young children about road safety</h1>
        <div class="content-page-press-release">
        26 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new scheme to teach young children about road safety was launched today by Transport for London (TfL).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is important to teach young children the road safety habits that will last them a lifetime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of London Road Safety Unit at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is important to teach young children the road safety habits that will last them a lifetime
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A theatre roadshow set up and funded by TfL will visit 4,000 nurseries and early year establishments across the Capital.</p>
<p>The roadshows are part of TfL's Children's Traffic Club, which helps parents teach their three and four year olds about how to keep safe when out walking, playing, and travelling in cars and buses.&nbsp;</p>
<p>The club is free to all three year olds in the Capital and is supported by a series of six books with stories and activities.</p>
<p>Each performance is a fun-packed, interactive session involving characters from the books, such as Handy Hold, who reminds children to holds hand when outside, and Rhonda Red who reminds children to always stop when pedestrian lights are on red.&nbsp; </p>
<p>The number of children killed or seriously injured in London has fallen by 58 per cent compared with the mid to late nineties.</p>
<h2>Basic messages</h2>
<p>Chris Lines, Head of London Road Safety Unit at&nbsp;TfL said: "It is important to teach young children the road safety habits that will last them a lifetime. </p>
<p>"The theatre roadshows are a great way of getting three and four year olds involved in road safety and helping to reinforce the basic messages such as holding hands and stopping at the kerb."</p>
<p>Jenny Jones, the Mayor's Green Transport advisor, said: "This training is a vivid way to teach safe road manners to children, but also reinforces road safety awareness for parents as well. </p>
<p>"If we are to make all of London's roads safe for all Londoners, then everyone has to do their bit, whether in a car, lorry, on a bike or on foot, adult or child. </p>
<p>"We have to aim to end road fatalities in our Capital."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>For further information on the Children's Traffic Club please visit&nbsp;the <a href="http://www.trafficclub.co.uk/">website&nbsp;</a>&nbsp; </li>
<li>Children's Traffic Clubs began in Scandinavia in 1969. In the first 10 years, Norway reported a 20 per cent lower casualty rate amongst club members and Denmark and Sweden had a 77 percent reduction in casualty rates for 4 to 6 year olds </li>
<li>Other Transport for London Road Safety schemes for children include the Junior Road Safety Officer (JRSO) initiative, which began in September 2005 and involves schools appointing Year five-six pupils (aged between nine and 11) - usually two or three - to take the lead on promoting road safety issues in their school communities in interesting ways throughout the school year.&nbsp; For further information please visit the <a href="http://www.tfl.gov.uk/juniorroadsafety">Junior Road Safety page</a> </li>
<li>For further information about Transport for London visit the <a href="http://www.tfl.gov.uk/">website </a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A theatre roadshow set up and funded by TfL will visit 4,000 nurseries and early year establishments across the Capital.The roadshows are part of TfL's Children's Traffic Club, which helps parents teach their three and four year olds about how to keep";}
        
        


 