


@{ViewBag.Title = "Production of London Overground trains begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Production of London Overground trains begins</h1>
        <div class="content-page-press-release">
        24 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) board members have witnessed the first London Overground trains rolling off the production line at Bombardier's factory in Derby.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The trains are designed to carry high numbers of passengers while also improving comfort, safety and reliability"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">TfL London Rail Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The trains are designed to carry high numbers of passengers while also improving comfort, safety and reliability
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>TfL London Rail Managing Director Ian Brown led the 10-strong party from London to the manufacturer's Litchurch Lane workshops to see the assembly of the first Electrostar 378 carriage body shell. </p>
<p>He said: "I am delighted to mark the start of production of the new trains which will transform passenger journeys on the London Overground network.&nbsp;&nbsp; </p>
<p>"The trains are designed to carry high numbers of passengers while also improving comfort, safety and reliability."</p>
<p>The group were able to inspect carriage roofs, body sides and underframes and were walked through the production process by Bombardier Chairman and Chief Country Representative UK, Colin S Walton. </p>
<h2>Extra carriages</h2>
<p>A total of 44 new units with 36 extra carriages have been ordered by TfL in a &pound;259m contract.</p>
<p>The first new trains will see service in 2009. </p>
<p>TfL is to take over the concession for the North London Railway - currently held by Silverlink - on 11 November&nbsp;when the first London Overground services start operating. </p>
<p>The existing rolling stock will be deep cleaned and repaired for use until the new carriages are ready to be commissioned.<br></p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Members of the TfL party were: Tony West - TfL Board; Patrick O'Keeffe - TfL Board; Paul Moore - TfL Board; Christopher Garnett - TfL Board; Mary Hardy - TfL Director of Internal Audit; Ian Brown - Managing Director, TfL London Rail; Peter Richards - Director of Infrastructure, TfL London Rail Howard Smith - Chief Operating Officer, Phil Clarke - Rolling Stock Project Manager, TfL London Rail, Innes Ferguson - Group Design Manager</li>
<li>For images contact TfL Press Officer Allan Ramsay<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL London Rail Managing Director Ian Brown led the 10-strong party from London to the manufacturer's Litchurch Lane workshops to see the assembly of the first Electrostar 378 carriage body shell. He said: 'I am delighted to mark the start of production";}
        
        


 