


@{ViewBag.Title = "Reminder for 16+ free Oyster travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder for 16+ free Oyster travel</h1>
        <div class="content-page-press-release">
        18 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TRANSPORT for London is reminding young people with a 16-17 Oyster photocard that their free bus and tram travel needs to be renewed every year.
        
    </div>



 <div class="on-this-page">
<p>
<p>The current free travel concession will expire on September 30, for the majority of 16 to 18-year-olds, and those who are starting a new year of study need to re-apply at the Post Office to continue to get free bus and tram travel.</p>
<p>Anyone aged 16 to 18 and no longer in full-time education can continue to use their 16-17 Oyster photocard to travel at half the adult rate, or to buy half-rate Travelcard season tickets until the expiry date on the back on the card.</p>
<p>For more information about Oyster, go to tfl.gov.uk/fares</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The current free travel concession will expire on September 30, for the majority of 16 to 18-year-olds, and those who are starting a new year of study need to re-apply at the Post Office to continue to get free bus and tram travel.Anyone aged 16 to 18 and";}
        
        


 