


@{ViewBag.Title = "Roads to close as Hovis London Freewheel rolls through the Capital ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Roads to close as Hovis London Freewheel rolls through the Capital </h1>
        <div class="content-page-press-release">
        17 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With less a week to go, final preparations are under way for London's biggest bike ride.
        
    </div>



 <div class="on-this-page">
<p>
<p>The Hovis London Freewheel is gearing up for tens of thousands of cyclists to take part in what is set to be the biggest mass participation bike ride the Capital has ever seen. </p>
<p>The route in central London will be on 14km of closed roads to allow the riders to cycle without other traffic.</p>
<p>The Hovis London Freewheel is part of the Mayor of London and Transport for London's commitment to encourage cycling in the Capital.</p>
<p>The number of cyclists on London's major roads has grown by a massive 83 per cent over the past seven years, but the Mayor wants to increase this even further. </p>
<h2>Road closures</h2>
<p>With 38,000 people now registered to take part in the Hovis London Freewheel, the event has now reached planned capacity. </p>
<p>There has been a limit on the numbers of registrations in order for the event to run safely and smoothly.</p>
<p>A number of roads will be closed in the Royal Parks, the City of Westminster, the City of London and the London Borough of Southwark. </p>
<p>The majority of roads will be closed from 09.00 until 18.00 on Sunday 23 September. </p>
<h2>Travel information</h2>
<p>St. James's Park roads will be shut between 06.00 and 00.00 on Sunday. </p>
<p>The affected roads will be closed to Freewheel riders from 16.00.</p>
<p>Some bus routes will be on diversion from 09.00 to 18.00.&nbsp;</p>
<p>For details of diversions and for further travel information, please visit <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or call 020 7222 1234.</p>
<p>For more information about the Hovis London Freewheel, please visit the website at <a href="http://www.londonfreewheel.com/">http://www.londonfreewheel.com/</a> <br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>Roads in the Royal Parks -&nbsp;closed from 06.00 to midnight Sunday 23 September:&nbsp; Birdcage Walk, Constitution Hill, Marlborough Road, Spur Road, Horse Guards Road, The Mall</li>
<li>Roads in the City of Westminster - closed from 09.00 to 18.00 Sunday 23 September:&nbsp; Storey's Gate, Great George Street, Little George Street, Broad Sanctuary, The Sanctuary, Little Sanctuary, Parliament Square, Bridge Street, Westminster Bridge, Parliament Street, Whitehall, King Charles Street, Derby Gate, Downing Street, Richmond Terrace, Horseguards Avenue, Whitehall Place, Whitehall Court, Great Scotland Yard, Scotland Place, Horseguards Avenue, St Margaret Street, Old Palace Yard, Abingdon Street, Millbank between Abingdon Street and Horseferry Road, Victoria Street between Broad Sanctuary and Bressenden Place, Buckingham Gate, Buckingham Palace Road between Lower Grosvenor Place and Buckingham Gate, Northumberland Avenue, Victoria Embankment, Savoy Street, Savoy Place, Temple Place, Surrey Street, Arundel Street, Maltravers Street, Milford Lane</li>
<li>Roads in the City of London - closed&nbsp;from 09.00 to 18.00 Sunday 23 September:&nbsp; Victoria Embankment, Middle Temple Lane between Crown Office Row and Victoria Embankment, Temple Avenue, Blackfriars Underpass, Westbound slip road from Blackfriars Bridge onto Victoria Embankment, Upper Thames Street, Puddle Dock, White Lion Hill, Castle Baynard Street, Booth Lane, Lambeth Hill, Trig Lane, Broken Wharf, Gardners Lane, High Timber Street, Stew Lane, Queenhithe, Kennet Wharf Lane, Vintners Court, Queen Street Place, Southwark Bridge, Cousin Lane, Allhallows Lane, Angel Passage, Swan Lane, Water Lane, Arthur Street, Fish Street Hill , Monument Street between King William Street and Fish Street Hill, Lower Thames Street, King William Street between Cannon Street and London Bridge, London Bridge</li>
<li>Roads in the London Borough of Southwark - closedfrom 09.00 - 18.00 Sunday 23 September:&nbsp; Southwark Bridge, Southwark Bridge Road between Sumner Street&nbsp; and Southwark Bridge</li>
<li>The following bus routes will be on diversion: 3, 11, 12, 15H, 17, 24, 29, 35, 40, 43, 47, 48, 53, 87, 88, 91, 133, 141, 149, 159, 211, 343, 344, 381, 453, RV1</li>
<li>There will be six entry points onto the route, located at Clapham Common, Ravenscourt Park, Gladstone Park, Finsbury Park, Victoria Park and Peckham Rye</li>
<li>The circular route for the Freewheel will begin at:&nbsp; Birdcage Walk, Buckingham Gate, The Mall, Horse Guards Road, Great George Street, Parliament Street, Whitehall, Horse Guards Avenue, Victoria Embankment, Arthur Street, Monument Street, King William Street, Fish Street Hill, Victoria Embankment, Horse Guards Avenue, Whitehall, Parliament Square, Great George Street and finishing back at Birdcage Walk<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Hovis London Freewheel is gearing up for tens of thousands of cyclists to take part in what is set to be the biggest mass participation bike ride the Capital has ever seen. The route in central London will be on 14km of closed roads to allow the";}
        
        


 