


@{ViewBag.Title = "Services resume on Hammersmith & City, Circle and District lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Services resume on Hammersmith & City, Circle and District lines</h1>
        <div class="content-page-press-release">
        27 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is this evening restoring services following today's disruption.
        
    </div>



 <div class="on-this-page">
<p>
<p>Services on the Hammersmith &amp; City, Circle and on the District Line between Edgware Road and High St. Kensington had been suspended from Wednesday evening following safety concerns raised by local trade union representatives. <br>&nbsp;<br>At a meeting today, London Underground reassured the trades unions about their concerns over safety.</p>

<p>A TfL spokesperson said: "Transport for London has always stated there are no underlying safety issues and we are glad that we have been able to clarify this for the unions.</p>

<p>"Service on the affected lines has just resumed but customers are advised that they will experience delays on these lines this evening while London Underground builds up a full service.</p>

<p>"We expect to have a full service operating on all lines on Friday morning."</p>

<p>For advice on how to make journeys using other modes of transport, including walking and cycling, passengers are advised to log onto www.tfl.gov.uk/journeyplanner or call the 24hour travel information line on 020 7222 1234.<br></p>

<p>&nbsp;</p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Services on the Hammersmith &amp; City, Circle and on the District Line between Edgware Road and High St. Kensington had been suspended from Wednesday evening following safety concerns raised by local trade union representatives. &nbsp;At a meeting today,";}
        
        


 