


@{ViewBag.Title = "TfL online penalty checker launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL online penalty checker launched</h1>
        <div class="content-page-press-release">
        18 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A NEW online 'penalty checker' service has been launched by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>The free service will allow people who are considering buying a&nbsp; new vehicle to check if it has any penalty charges outstanding for the central London Congestion Charge.</p>
<p>To use the online service, potential car buyers will need to provide their name, address and the vehicle registration, as well as confirmation that authorisation has been obtained from the registered keeper.</p>
<p>Requests should be sent to <a href="mailto:OutstandingCCPenaltyCharges&#64;TfL.gov.uk">OutstandingCCPenaltyCharges&#64;TfL.gov.uk</a> and an email response will be sent within 10 working days confirming whether there are any outstanding penalty charges. </p>
<p>Basic advice as to what action can be taken if there are is also provided.</p>
<p>John Mason, TfL's head of enforcement in Congestion Charging, said: 'It is only fair that the motorist who incurred, or is liable, for a penalty issued by us for not complying with the Congestion Charge scheme is the person who pays for it.</p>
<p>'We are providing this service in order to assist anyone buying a used car to find out quickly and conveniently that no outstanding Congestion Charging penalties exist, and provide clear advice and guidance to them if there are.'</p>
<p>For more information, visit <a href="http://www.cclondon.com/">http://www.cclondon.com/</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The free service will allow people who are considering buying a&nbsp; new vehicle to check if it has any penalty charges outstanding for the central London Congestion Charge.To use the online service, potential car buyers will need to provide their name,";}
        
        


 