


@{ViewBag.Title = "TfL obtains its first ASBO against graffiti menace ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL obtains its first ASBO against graffiti menace </h1>
        <div class="content-page-press-release">
        21 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This ASBO demonstrates the role that TfL can play in resolving crime and disorder problems in our community"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jeroen Weimar</div>
            <div class="quotee-job-title">Director of the Transport Policing and Enforcement Directive</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This ASBO demonstrates the role that TfL can play in resolving crime and disorder problems in our community
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has won its first Anti-Social Behaviour Order (ASBO) against a persistent graffiti vandal. </p>
<p>He is now banned from the top deck of any public transport bus in England and Wales.&nbsp; </p>
<p>Billy Murrell, a 17-year-old from Plumstead in South East London, has a history of convictions for criminal damage on public transport.</p>
<p>These include vandalising a Tube carriage in Brixton station and convictions for damaging buses and other public property using marker pens. </p>
<p>The ASBO against Mr Murrell prevents him from travelling on the top deck of any public transport bus within England and Wales. </p>
<p>It also bans him from carrying any permanent marker pens or any glass cutting equipment on London Underground, railway property or any other transport provider's property. </p>
<h2>Resolving crime</h2>
<p>Jeroen Weimar, Director of the Transport Policing and Enforcement Directive (TPED), said: "Murrell's vandalism has affected many other bus and train users. </p>
<p>"This ASBO demonstrates the role that TfL can play in resolving crime and disorder problems in our community.</p>
<p>"TfL will only use its powers in relation to ASBOs when it is necessary to do so, but this shows that we are prepared to take action to protect public transport for our passengers."</p>
<p>The ASBO is valid for three years and any breach of its terms could be punishable by imprisonment of up to five years once Mr Murrell turns 18.</p>
<p>Borough police, including Bexleys new Safer Transport Team, which patrols the borough's buses and is funded by TfL, are being made aware of this ASBO, and have distributed a picture of Mr Murrell.</p>
<h2>Safer transport</h2>
<p>Bexley Police's Partnership Manager, Chief Inspector Chris Hafford, said: "The Bexley Safer Transport Team have had a massive impact since they were introduced.&nbsp; </p>
<p>"They have targeted a number of bus routes where anti-social behaviour has been identified, detecting and preventing offences and reassuring passengers."</p>
<p>TfL with the Metropolitan Police Service's Transport Operational Command Unit, set up Operation BusTag almost three years ago. </p>
<p>It has targeted criminal damage to London buses using CCTV evidence, which has seen the arrest rate for this type of offence triple and now has conviction rates of over 90per cent.</p>
<p>
<hr>
</p>
            <p>
<p><strong>Editors notes:</strong></p>
<ul type="circle">
<li>A picture of Billy Murrell, issued by Bexley Police is available upon request from Leslee Williams at the Metropolitan Police. She can be contacted on 020 8284 9154 or 07884 043 776 or <a href="mailto:leslee.williams&#64;met.police.uk">leslee.williams&#64;met.police.uk</a>&nbsp;</li>
<li>The Anti Social Behaviour Order was issued at Greenwich Magistrates Court on September 12 2007.</li>
<li>Under the ASBO, the Defendant is prohibited from:</li>
<ul type="square">
<li>Entering any depot, siding or other part of London Underground property or railway property or any transport providers property which is not expressly open to the public whether on payment or otherwise throughout England and Wales</li>
<li>Carrying the following articles, in any area specified in (1) or in any public place, namely any form of unset paint in any form of container, any form of permanent marker pen, any form of shoe dye or permanent ink in any form of container, any form of paint stripper in any form of container, any form of grinding stone, glass cutting equipment, glass etching solution or paste, throughout England and Wales</li>
<li>Aiding, abetting, counselling or encourage any person who was attempting or committing any form of unlawful damage towards any property not belonging to or under the direct authorised control of the defendant throughout England and Wales</li>
<li>Travelling on the top deck of the any public transport bus within England and Wales</li></ul>
<li>If without reasonable excuse the defendant does anything which he is prohibited from doing by this Order, he shall be liable to a detention and training order, which has a maximum term of 24 months - 12 months of which is custodial and 12 months in the community</li>
<li>Upon turning 18 he will be liable to imprisonment up to five years</li>
<li>TfL was granted the power to apply for ASBOs in its own right by the Home Secretary in September 2006</li>
<li>The ASBO was obtained by TfL's Transport Policing and Enforcement Directorate. TPED is responsible for Transport Policing, Bus Enforcement and Traffic Enforcement</li>
<li>TPED manages TfL`s relationship with the Metropolitan Police Service`s Transport Operational Command Unit (TOCU) which was set up in 2002 to fight crime on buses, tackle illegal taxi touts and assist with the control of traffic congestion, there are now more than 1,200 uniformed officers in the unit. It is funded by Transport for London at a cost of &pound;70 million a year</li>
<li>&nbsp;This year TfL has also funded the deployment of Safer Transport Teams made up of 18 Police Community Support Officers (PCSOs), two Sergeants and a PC to 21 outer London boroughs.&nbsp; These teams will tackle local priorities and provide visibility and reassurance to passengers. Bexley Safer Transport Team was launched on March 20th 2007</li>
<li>All 8,000 London buses are now fitted with CCTV and there are now up to 60,000 cameras on the fleet of 8,000 vehicles</li>
<li>&nbsp;Operation BusTag is a Closed Circuit Television (CCTV) Investigation Unit set up in November 2004 by the Transport Operational Command Unit to:&nbsp;</li>
<ul type="square">
<li>Tackle criminal damage being committed on London's buse</li>
<li>Identify and bring to justice those who have committed criminal damage on London's buse</li>
<li>Liaise with bus companies and other authorities to tackle criminal damage and anti-social behaviour</li></ul>
<li>Since it started in November 2004 Operation BusTag has achieved over 1,900 arrests for criminal damage throughout London &nbsp;during the past two years</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has won its first Anti-Social Behaviour Order (ASBO) against a persistent graffiti vandal. He is now banned from the top deck of any public transport bus in England and Wales.&nbsp; Billy Murrell, a 17-year-old from Plumstead in";}
        
        


 