


@{ViewBag.Title = "Transport for London publishes Rail Freight Strategy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London publishes Rail Freight Strategy</h1>
        <div class="content-page-press-release">
        06 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published its Rail Freight Strategy which proposes measures to remove between 110 and 176 million lorry miles from UK roads each year - significantly reducing harmful gas emissions and road accidents.
        
    </div>



 <div class="on-this-page">
<p>
<p>The document sets out TfL's proposals for the next ten years in support of the Mayor's priorities on greenhouse gases, congestion and road accidents. </p>
<p>It allows for rail freight traffic to increase alongside growing passenger demand. </p>
<p>It also recognises that a balance between the two competing services is necessary and will be best achieved through using the existing infrastructure as efficiently as possible. </p>
<p>Ian Brown, MD London Rail said:&nbsp; </p>
<p>"TfL is delighted to issue its London Rail Freight Strategy, which sets out our view of how the rail freight network and facilities should develop in London to 2016. </p>
<p>"The rail strategy is part of a multi modal plan for addressing the freight objectives in the London Plan and the Mayors Transport Strategy. </p>
<p>"It was developed in liaison with rail industry partners, and provides the basis of TfL's recommendations for investment in rail freight. "</p>
<p>The strategy also contains toolkits to help Borough officers with planning procedures for potential rail freight sites.</p>
<p>A full copy of the strategy and the toolkits is available <a href="/businessandpartners/freight/1324.aspx">online&nbsp;</a>&nbsp; </p>
<p>
<hr>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>Per tonne carried, rail freight produces almost 90 per cent fewer emissions than Heavy Goods Vehicles</li>
<li>In London in 2005, there were 1040 casualties associated with goods vehicles. There were none in the rail freight industry</li>
<li>The London Rail Freight Strategy supports the Mayor's London Plan, and later this year will be followed by a multi-modal strategy from the TfL Freight Unit</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The document sets out TfL's proposals for the next ten years in support of the Mayor's priorities on greenhouse gases, congestion and road accidents. It allows for rail freight traffic to increase alongside growing passenger demand. It also recognises";}
        
        


 