


@{ViewBag.Title = "Transport for London calls on unions to call off Metronet strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London calls on unions to call off Metronet strike</h1>
        <div class="content-page-press-release">
        03 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We are still prepared to meet any reasonable requests and remain ready to meet with the unions throughout today"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">London Underground Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>
<p>Passengers warned of severe disruption to Tube network if strike goes ahead and urged to seek alternative routes from Monday evening</p></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            We are still prepared to meet any reasonable requests and remain ready to meet with the unions throughout today
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) today called on the RMT, TSSA and Unite trade unions to call off strike action planned to start this evening at Metronet, after the unions were given all the assurances they sought over the suspension of staff transfers and employee reductions and that no employee would lose any pension benefits, now or in future.</p>
<p>Two thirds of the London Underground (LU) network will not run if planned industrial action by members of the RMT, TSSA and Unite employed by Metronet goes ahead, LU said today.</p>
<p>The strike action is set to commence at 18:00, Monday 3 September for 72hrs until 18:00 on Thursday 6 September.&nbsp; </p>
<p>It will mean no service on the Central, Bakerloo, Victoria, Waterloo &amp; City, District, Circle, Hammersmith &amp; City, Metropolitan and East London line on Tuesday 4, Wednesday 5 and Thursday 6 September.</p>
<p>This evening, to ensure the safe operation of the network, it will be necessary to get trains back to depots before strike action commences.&nbsp; </p>
<h2>Written assurances </h2>
<p>Tube passengers are therefore urged to complete their journeys by&nbsp;17:00 today, or seek alternative routes, as services on the affected lines will be winding down prior to the commencement of the strike action.</p>
<p>LU Chief Operating Officer, Mike Brown said: "The Mayor, as well as the Administrator and management of Metronet, have given the trades unions clear written assurances that meet all of their concerns, namely that there will be no job cuts or transfers as a result of the collapse of Metronet and no loss of pensions now or at any time in the future.</p>
<p>"We are still prepared to meet any reasonable requests and remain ready to meet with the unions throughout today.&nbsp; </p>
<p>"It is clearly unreasonable to proceed with a strike when all of the trades unions' concerns have been met, and without the RMT informing us what they seek to achieve.</p>
<h2>Massive disruption </h2>
<p>"If the unions press ahead with this strike action at Metronet, it will mean massive disruption for millions of Londoners, with two thirds of the tube network affected.</p>
<p>"We would urge customers to consider if their journey is absolutely necessary.&nbsp; </p>
<p>"If it is, we would advise they seek alternative routes of travel and to leave as much time as possible for their journeys around the capital.</p>
<p>"We would also like to ask customers for their patience during this time, as transport staff around the Capital will be making every effort to ensure they can get around."</p>
<h2>Be patient</h2>
<p>Jubilee, Northern and Piccadilly line services, which are maintained by Tube Lines, should continue to operate, although they are likely to be very busy in consequence.</p>
<p>Docklands Light Railway and London Buses will continue to operate as normal.&nbsp; </p>
<p>Passengers are urged to be patient and to respect the efforts of all transport staff in London as they work to deliver transport services.</p>
<p>TfL also advised that walking should be considered as an alternative for short journeys.&nbsp; </p>
<p>For advice on how to make journeys using other modes of transport, including walking and cycling, passengers are advised to log onto <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or call the 24hour travel information line on 020 7222 1234.<br>
<hr>
            <p><strong>Notes to editors</strong><br>
<ul>
<li>The congestion charge will operate normal hours during the period of the strike</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers warned of severe disruption to Tube network if strike goes ahead and urged to seek alternative routes from Monday eveningTransport for London (TfL) today called on the RMT, TSSA and Unite trade unions to call off strike action planned to start";}
        
        


 