


@{ViewBag.Title = "Twenty-four hour service for 128 bus route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Twenty-four hour service for 128 bus route</h1>
        <div class="content-page-press-release">
        28 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p><br>The 128 bus route, which runs between Romford Station and Claybury Broadway, will run 24 hours a day from Saturday 6 October. </p>
<p>The route will provide a half hourly service throughout the night, seven days a week.</p>
<p>It will improve night time links from Romford Station to Goodmayes, Ilford and Claybury Broadway. </p>
<p>John Barry, Head of Network Development for London Buses, said: 'The new 24-hour service on route 128 is another accessible transport connection for late-night travellers in the Capital.</p>
<p>'London's night bus network has expanded dramatically in recent years with passenger numbers more than doubling since 2000.</p>
<p>'Almost half the users are people travelling to or from work.'</p>
<p>The change comes following a review of the existing service.</p>
<p>
<hr>
</p>
<p>Notes to Editors:<br></p>
<ul>
<li>All London's buses have in-vehicle CCTV, and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With&nbsp;more than&nbsp;8,000 buses on approximately 700 routes, the London bus network has seen usage increase by 45 per cent since 1999/2000</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 128 bus route, which runs between Romford Station and Claybury Broadway, will run 24 hours a day from Saturday 6 October. The route will provide a half hourly service throughout the night, seven days a week.It will improve night time links from";}
        
        


 