


@{ViewBag.Title = "Two million fewer car journeys and carbon emissions cut by 1,150 tonnes as school run tackled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two million fewer car journeys and carbon emissions cut by 1,150 tonnes as school run tackled</h1>
        <div class="content-page-press-release">
        10 September 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New figures show significant progress on tackling the school run, but half of cars on the road during morning rush hour are still for trips to school.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By 2009 all schools in London should have a plan in place"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By 2009 all schools in London should have a plan in place 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>New figures released today by Transport for London (TfL) show school travel plans are having an impact on reducing the number of car journeys to and from school.&nbsp; </p>

<p>Schools with a travel plan in London have reduced the number of car journeys by an average 7 per cent, or 1,200 fewer journeys a year.&nbsp;</p>
<p>This means that across London the scheme is having a significant impact with some two million fewer car journeys made during the last year. </p>
<p>School Travel Plans encourage schools to seek practical solutions to reduce the number of cars dropping children off at school.&nbsp; </p>
<p>TfL helps schools with support, advice and practical help, for example funding for cycle parking, road safety improvements, and setting up car sharing schemes.&nbsp; </p>
<h2>Reducing congestion</h2>
<p>Help is also available to set up 'walking bus' scheme - where school children, accompanied by teachers or parents, walk to school together along a designated route collecting fellow pupils as they go.</p>
<p>Half of London's schools now have a travel plan, with the rest due to have one in place by 2009.&nbsp;</p>
<p>When all of London's schools have a travel plan it is estimated a further 4.5 million car journeys a year will be saved, reducing CO2 emissions, congestion and improving Londoners' health.</p>
<p>The Mayor of London, Ken Livingstone, said:&nbsp; "The investment that we are making in providing families with alternatives to driving children to school is now paying off, cutting out the unnecessary school run journeys that can contribute to safety, pollution, congestion, and health problems. <strong><p>
<h2>National target</h2></strong>
<p>"In the past year school travel plans have helped reduce carbon emissions by 1,150 tonnes, along with reducing congestion and improving health by encouraging children and parents to walk and cycle.&nbsp;</p>
<p>"By 2009 all schools in London should have a plan in place and we will see even better results in tackling the school run."</p>
<p>The results of the School Travel Plans were published by TfL in the first annual School Travel Plan Programme Report.&nbsp; </p>
<p>The Mayor of London has set the target of all schools in the Capital to have a school travel by 2009. The national target is 2010.&nbsp; </p><strong>
<h2>Case study</h2></strong>:
<p>New City Primary School in Newham has a fantastic track record in cutting car journeys to and from school.&nbsp; One hundred per cent of trips to and from school by teachers and pupils are by public transport, cycling, walking or car shares.</p>
<p>Filming and interview opportunities are available on Monday 10 September.&nbsp; For more details please contact TfL Press Office.<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>More than 1,600 schools (53 per cent of all schools) in the Capital now have a school travel plan. All schools will have a travel plan by 2009</li>
<li>Results from the first 300 schools to set up a travel plan have shown an average reduction in car journeys of 6.9 per cent</li>
<li>Thirty-five&nbsp;per cent of school pupils in London travel to school by car</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures released today by Transport for London (TfL) show school travel plans are having an impact on reducing the number of car journeys to and from school.&nbsp; Schools with a travel plan in London have reduced the number of car journeys by an";}
        
        


 