


@{ViewBag.Title = "&pound;75m fund to take step-free access to next level";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£75m fund to take step-free access to next level</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£75m fund to take step-free access to next level</h1>
        <div class="content-page-press-release">
        02 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Innovative plans to use joint funding for more lifts
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Tube was built at a time when accessibility was not top of the priority list and that's something we've long been battling to rectify. Great progress has been made in making an ever-growing number of stations step free, and while the picture is far from perfect, this injection of cash is another step in the right direction. As we have also made clear in our pledge to make Crossrail step-free, this is all part of our wider efforts to ensure that London has a transport network that is open and accessible for all"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Part of plans to make TfL network even more accessible</li>
            <li>Funding confirmed as TfL hosts Accessibility Show at Excel London</li>
        </ul>
        <p>Mayor Boris Johnson and London Underground (LU) today confirmed plans for a &pound;75m fund to speed up the rate at which the network is made accessible for disabled Londoners and visitors to the capital.</p>
        <p>The fund has been put aside to enable the installation of new lifts at around a dozen more stations over the next ten years. The new stations are in addition to the 28 LU and London Rail stations which Transport for London (TfL) had previously committed to making step-free by 2024, and the 30 Crossrail stations in London that will all be step-free.</p>
        <p>The funding, which was announced at a special TfL Accessibility Show at Excel London, will be used to match contributions from local councils and property developers for improvements to step-free access at a number of priority locations, unlocking large numbers of new accessible journeys.&nbsp;</p>
        <p>The number of rail and underground platforms that are step-free from street to platform has risen from 57 in 1998 to 195 in 2014. The new funding, alongside the accessible Crossrail stations, will take accessibility to the next level. Some of the stations that could be made step-free with third party contributions and the LU fund include Mill Hill East, Newbury Park, Osterley, West Brompton and White City. Others sites will be confirmed as soon as commercial negotiations allow.</p>
        <p>The Mayor of London, Boris Johnson, said:&nbsp; </p>
        <p>'The Tube was built at a time when accessibility was not top of the priority list and that's something we've long been battling to rectify. Great progress has been made in making an ever-growing number of stations step free, and while the picture is far from perfect, this injection of cash is another step in the right direction. As we have also made clear in our pledge to make Crossrail step-free, this is all part of our wider efforts to ensure that London has a transport network that is open and accessible for all.'</p>
        <p> Mike Brown MVO, the Managing Director of London Underground said, </p>
        <p>'We have made great strides in making our network more accessible - installing new lifts, rebuilding stations, and introducing boarding ramps to make life easier for our customers. But we recognise that there is still a considerable way to go. Through the creation of this &pound;75 million fund we are using innovative ways to find the means of going further faster. We are confident that the cooperation we're already seeing from third parties will continue to grow, so that together we can build a transport network more accessible for London residents and visitors alike.&nbsp;</p>
        <p>'Importantly, this is just the latest in a whole series of improvements we're making, including improvements to frontline staff training that will mean all station staff receive accessibility training by a person with a disability.'</p>
         
         
        <hr />
         
         
         
         
        <p>Notes to Editors:</p>
        <ul>
            <li>London Underground and London Overground are already committed to making at least 28 more Tube and Rail stations step-free over the next ten years, as well as dozens of National Rail stations and Crossrail stations in the heart of the city. We expect the number of journeys made by step-free routes each year will almost treble, from 77 million at present (2014) to 227 million in 2023.</li>
            <li>&pound;250 million is being invested in step-free projects at a number of key London stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park.</li>
            <li>75 per cent of all London bus stops have been fully accessible since April this year and TfL are on track to reach 95 per cent by the end of 2016, bringing even greater ease of use to a bus network that is already the most accessible in the country; </li>
            <li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss.</li>
            <li>The remaining five per cent of pedestrian crossings yet to be brought up to accessibility standards will be upgraded with tactile paving, rotating cones or audible alerts. 39 sites will be upgraded by March, with 100 per cent to be accessible by 2016.</li>
            <li>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.&nbsp; By 2016, a third of Tube platforms will have level access by one of these means, up from 15 per cent last year. </li>
            <li>ore step-free projects are being progressed with third party developers and additional stations are being made partially step-free.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-£75m fund to take step-free access to next level -->

 
 
        
        
            @{ViewBag.Description = "£75m fund to take step-free access to next level";}
        
        


 