


@{ViewBag.Title = "Celebrities lend their voices for London Poppy Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Celebrities lend their voices for London Poppy Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Celebrities lend their voices for London Poppy Day</h1>
        <div class="content-page-press-release">
        28 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        21 famous voices to be heard by millions of commuters across the transport network on London Poppy Day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This time of year is always poignant as the nation remembers those who made such profound sacrifices, and this year is particularly important as we mark the centenary of the start of the Great War."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">Commissioner of Transport for London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Transport
        for London (TfL) has teamed up with a host of recognisable celebrity voices,
        Football Clubs and performers to encourage Londoners to give generously in
        support of The Royal British Legion's London Poppy Day on 30 October 2014.
        &nbsp;</p>
        <p>
        Twenty-one
        famous voices including Barbara Windsor, Brian Blessed, Joanna Lumley and
        Stephen Fry will be heard at over 70 London Underground stations, on all 8,500
        London buses and 11 Network Rail main line stations. &nbsp;London Poppy Day is
        part of the national Poppy Appeal, which aims to raise as much money as
        possible in a single day to support the whole Armed Forces family.
        &nbsp;
        </p>
        <p>To
        mark the centenary of the First World War, TfL has created a special poppy
        design with the line from the famous First World War poem by John McCrae,
        'In
        Flanders fields the poppies blow'. </p>
        <p>Poppies will be displayed on all Tube and Docklands Light
        Railway trains, the Emirates Air Line cabins and Trams. Two Tube trains, one on
        the Metropolitan line and one on the Circle line, a London
        Overground train and ten London buses will also be completely wrapped in the
        design. Two special 3D poppy bus shelters carrying the design will be located
        outside the Royal Albert Hall and South Kensington Tube station and the design
        will also be featured on 2,000 limited edition Tube maps.
        &nbsp;
        Customers
        travelling on the transport network will also notice that some London
        Underground stations and Network Rail stations have been decorated in special
        poppy livery. There
        will also be special performances across the transport network on London Poppy
        Day, including tricks by magician Troy and a special live performance by X
        Factor stars, Rough Copy. &nbsp;Buskers, bands and choirs will also be
        performing across the transport network to raise funds for London Poppy Day.</p>
        <p>TfL
        will be providing free travel to all London Poppy Day volunteers on 30 October.
        &nbsp;
        </p>
         
        <p>London's
        Transport Commissioner, Sir Peter Hendy CBE, said: `It's a great honour for us
        to be supporting London Poppy Day again. This time of year is always poignant
        as the nation remembers those who made such profound sacrifices, and this year
        is particularly important as we mark the centenary of the start of the Great
        War.
        &nbsp; `People
        living and working in London will see our specially wrapped trains and buses
        displaying the poppy design, in honour of the 4,500 transport workers who gave
        their lives in both World Wars and other conflicts. </p>
        <p>This could not have
        been done without the support of our sponsors and celebrities&nbsp;and I would
        like to thank them for helping us mark London Poppy Day and raise awareness of
        a great cause.'
        </p>
        <p>
        </p>
        <h2>Battle Bus</h2>
        <p>Visitors will have a rare chance to see
        London Transport Museum's recently restored 'Battle Bus', in Covent Garden
        Piazza on London Poppy Day. The world's only operational B-type bus, which was
        used to transport troops during the First World War, will be in front of the
        Museum's entrance from 10am to 6pm on Thursday 30 October. London Transport
        Museum is also holding a poppy-making drop-in session for children and adults
        at the Museum between 1pm and 4pm. The hand-made poppies with black Tube
        roundels at the centre will be joined together to make a wreath which will be
        displayed at the Museum on the day. </p>
        <p>This activity will be repeated on
        Remembrance Sunday.
        &nbsp;
        </p>
        <p>The
        train companies will be providing free travel to all volunteer collectors
        coming to London by train, from 29 to 31 October, to
        support the London Poppy Day fundraising event.
        &nbsp;</p>
        <p>
        Mark
        Carne, chief executive of Network Rail said: `Each of our managed stations in
        the capital is doing something special to mark London Poppy Day as well as
        hosting volunteer collectors.Visitors to London Victoria station will see a
        military band as well as a free exhibition, created by the Rail Delivery Group,
        which brings together Network Rail and Britain's train and freight operators,
        telling the story of the vital role Britain's railway and its workers played in
        World War One. Network Rail has a long and proud tradition of supporting the
        work of the British Legion and our armed forces and is proud to do so again
        this year.`</p>
        <p>Charles Byrne, Director of Fundraising at The Royal British Legion, said: `Our
        transport partners play a vital role in the success of London Poppy Day and we
        are very grateful for their ongoing support. On Thursday, Londoners will see
        stations and streets flooded with uniformed personnel collecting across the
        transport network all the way from Heathrow across to the Docklands supported
        by activities throughout the day. This will be the ninth annual London Poppy
        Day and we're asking Londoners to dig deep and help make it the most successful
        one yet.`&nbsp;
        </p>
        <p>On
        London Poppy Day, there will be 2,500 volunteers collecting at 50 Tube and main
        line stations.
        &nbsp;
        This
        year also marks the 91st year of the London Transport Old Comrades
        Association who will continue the tradition of marching alongside the Armed
        Forces and laying a wreath at the Cenotaph in the Annual Remembrance Sunday
        parade on 9 November.&nbsp;London's bus staff were given the right to march by
        King George V who granted this honour to the staff of the London General
        Omnibus Company in 1920, in recognition of the services rendered by the men who
        drove buses to the front line in France and Belgium from 1914 - 1918.
        &nbsp;
        </p>
        <p>Since
        November 2008, war veterans have been able to travel on the Tube, DLR,
        Overground, London buses and Trams for free with a Veterans Oyster photocard as
        part of the Mayor's voluntary concessionary travel scheme. &nbsp;More than 6,800 Veteran
        Oyster photocards have been issued. &nbsp;This
        scheme is particularly beneficial to veterans who live in London and are not
        yet eligible for a 60+ London Oyster photocard or Freedom Pass.
        &nbsp;
        </p>
        <p>TfL
        secured sponsorship from a number of its suppliers to display poppies across
        its transport network: Balfour Beatty Rail, Thales, Laing O'Rourke, Cleshar,
        Bombardier, Technoframe, Stuart Signs, KBH on Train Media Ltd, First Tram
        Operations, Serco Docklands, Mace Macro, Stagecoach, Abellio, Arriva, Go-Ahead,
        Metroline, Tower Transit, London United, Costain and Clear Channel.
        &nbsp;
        </p>
        <p>Ends
        Notes to Editors:
        TfL
        Images are available of all the wrapped vehicles and
        celebrities recording the announcements are available at: <a href="https://www.flickr.com/photos/tflpress/sets/72157649002821512/ ">https://www.flickr.com/photos/tflpress/sets/72157649002821512/</a>
        &nbsp;
        </p>
        <p>The
        celebrities who have lent their support to the Royal British Legion's
        campaign are:
        </p>
        <p>
        </p>
    

     


<div class="table-container">
    
         
        <div class="table-container"><table style="width: 582px; height: 850px;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: left; vertical-align: top;">Arsenal Football Club (Arsene Wenger and Mikel Arteta)<br />
                    </td>
                    <td>Arsenal, Holloway Road, Finsbury Park=</td>
                </tr>
                <tr>
                    <td>Brian Blessed&nbsp; <br />
                    </td>
                    <td>Waterloo,&nbsp; Cannon Street, St James's Park,
                    Theydon Bois, Liverpool Street</td>
                </tr>
                <tr>
                    <td>Barbara Windsor</td>
                    <td>Great Portland Street,&nbsp; Baker Street,
                    Leytonstone, Aldgate, Paddington, Northwick Park, Blackfriars</td>
                </tr>
                <tr>
                    <td>Michael Portillo
                    </td>
                    <td>Pimlico,&nbsp; South Kensington, Sloane Sq</td>
                </tr>
                <tr>
                    <td>Trevor Nelson</td>
                    <td>Barbican,&nbsp; Oval, Green Park,&nbsp; Old Street,
                    Rayners Lane</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;">Sir Terry Wogan</td>
                    <td>Charing Cross, Ealing Broadway, Embankment,
                    Hammersmith (Hammersmith &amp; City and Circle line) Goldhawk Road, Latimer
                    Road, Ladbroke Grove, Westbourne Park, Royal Oak, Paddington (Suburban)</td>
                </tr>
                <tr>
                    <td>Baroness Tanni
                    Grey-Thompson</td>
                    <td>London Bridge,&nbsp; Angel, Islington</td>
                </tr>
                <tr>
                    <td>Emma Freud</td>
                    <td>Notting Hill Gate,&nbsp; Marylebone, Shepherd's Bush,
                    Knightsbridge
                    </td>
                </tr>
                <tr>
                    <td>Joanna Lumley</td>
                    <td>Stockwell,&nbsp; Canary Wharf, Tower Hill, Bank, Hyde
                    Park Corner, Bond Street, North Greenwich</td>
                </tr>
                <tr>
                    <td>Stephen Fry</td>
                    <td>Westminster, Victoria, Covent Garden, Southwark,
                    Hammersmith (District &amp; Piccadilly line)</td>
                </tr>
                <tr>
                    <td>Peter Dickson ( Voice of X
                    factor)
                    </td>
                    <td>Oxford Circus, Piccadilly Circus, Leicester Square,
                    South Kenton
                    </td>
                </tr>
                <tr>
                    <td>Tottenham Hotspur FC
                    (Andros Townsend and Ben Davies)</td>
                    <td>Seven Sisters,&nbsp; Tottenham Hale, Tottenham Court
                    Road</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;">Queens Park Rangers (Joey
                    Barton and Rob Green)
                    </td>
                    <td>White City, Wood Lane, Shepherd's Bush Market
                    </td>
                </tr>
                <tr>
                    <td>Marcus Bentley ( Voice of
                    Big Brother)</td>
                    <td>Euston, Monument, Temple
                    </td>
                </tr>
                <tr>
                    <td>Fulham FC (
                    Scott Parker and Dan Burn)</td>
                    <td>Putney Bridge, Parson's Green
                    </td>
                </tr>
                <tr>
                    <td>Chelsea FC (John Terry)</td>
                    <td style="text-align: left; vertical-align: top;">Fulham Broadway, Earl's Court, West Brompton</td>
                </tr>
                <tr>
                    <td>&nbsp;West Ham United FC</td>
                    <td style="text-align: left; vertical-align: top;">Upton Park, West Ham
                    </td>
                </tr>
            </tbody>
        </table></div>
        &nbsp;
         
    
</div>

        <p>London
        Poppy Day fundraisers carrying and presenting their volunteer numbers will be
        permitted to travel for free on LU, Bus, DLR, Tramlink and LOROL throughout the
        day until close of traffic.</p>
        <p>All
        war veterans in receipt of a pension under the War Pensions Scheme or the Armed
        Forces Compensation Scheme including war widows and widowers and eligible
        dependents are eligible to apply for a Veterans Oyster photocard. They are not
        eligible for the photocard if they already have a 60+ London Oyster photocard
        or a Freedom Pass.
        &middot;&nbsp;&nbsp;&nbsp; </p>
        <p>Further
        information can be found at http://www.tfl.gov.uk/veterans&nbsp;&nbsp;&nbsp;
        &nbsp;</p>
        <p>
        About the Legion:</p>
        <ul>
            <li>London
            Poppy Day is part of The Royal British Legion's Poppy Appeal.</li>
            <li>The
            funds raised on 30 October will go towards the Poppy Appeal fundraising target
            of &pound;40 million.</li>
            <li>London
            Poppy Day, the capital's largest street fundraising day, is a chance for
            Londoners to stand shoulder to shoulder with those who serve.</li>
            <li>The Royal British
            Legion's work is encapsulated in its motto: Live On &#45; to the memory of the
            fallen and the future of the living. The Legion is the nation's biggest Armed
            Forces charity providing care and support to all members of the British Armed
            Forces past and present and their families. It is the national custodian of
            Remembrance and safeguards the Military Covenant between the nation and its
            Armed Forces. It is well known for the annual Poppy Appeal, and its emblem the
            red poppy. www.britishlegion.org.uk
            &nbsp;
            </li>
        </ul>
        <p>Network
        Rail</p>
        <ul>
            <li>Free
            train travel will be given to Poppy Day collectors who will be required to wear
            military uniform or have individually numbered Poppy Day or military
            identification. Those wearing military uniform or carrying a military
            identification card will continue to qualify for free London Poppy Day travel.</li>
            <li>Free
            train travel has been arranged to cover the day before and the day after London
            Poppy Day to ensure collectors are able to fully participate in the 12 hour
            event</li>
        </ul>
    

 
        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Celebrities lend their voices for London Poppy Day -->

 
 
        
        
            @{ViewBag.Description = "21 famous voices to be heard by millions of commuters across the transport network on London Poppy Day";}
        
        


 