


@{ViewBag.Title = "Consultation on Wandsworth Town Centre improvements";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Consultation on Wandsworth Town Centre improvements</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Consultation on Wandsworth Town Centre improvements</h1>
        <div class="content-page-press-release">
        27 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>A
        major revamp of Wandsworth town centre, to benefit all road users and encourage
        investment in the area, is being consulted on by Transport for London (TfL).
        &nbsp;
        </p>
        <p>The
        plans involve re-routing the A3 and A205 South Circular to the north of the
        town centre along Armoury Way. This would free the main shopping area of the
        current high levels of congestion and take traffic away from the busy town
        centre.
        &nbsp;
        </p>
        <p>The
        changes would provide a significant reduction in traffic at the busiest times
        on Wandsworth High Street, between Fairfield Street and Putney Bridge Road,
        providing more space for pedestrians and cyclists, while still providing for
        buses servicing the area. &nbsp;
        &nbsp;
        </p>
        <p>Removing
        congestion in the busy town centre would provide a number of benefits:</p>
        <ul>
            <li>A reduction in the number of cars passing
            through the heart of the town centre, resulting in space for buses, cyclists
            and servicing / local access traffic only; </li>
            <li>Improvements to pedestrian space and
            crossings;</li>
            <li>Better placing of bus stops in the town
            centre</li>
            <li>A more cycle-friendly environment.
            &nbsp;
            </li>
        </ul>
        <p>
        Wandsworth Town
        is a designated regeneration zone close to the south bank of the Thames. The
        area is benefiting from more than a &pound;1billion on new investment - the vast
        majority from the private sector.&nbsp;The removal for the gyratory system
        would support this investment, helping to create new retail, leisure,
        residential, employment and educational opportunities and act as a magnet for
        further investment to the area.
        &nbsp;
        </p>
        <p>The
        consultation, which will run until 5
        December, will help to shape further designs of the new highway layout
        throughout the area. An additional detailed consultation will be carried out
        next year when more detailed plans are available. If
        the overall scheme is approved, construction could begin as early as 2017 and
        delivered during 2019 as one of a number of major gyratories that TfL and the
        boroughs are looking at removing over the next ten years.
        &nbsp;
        </p>
        <p>The Mayor of London, Boris Johnson, said: &quot;This car-clogged
        one-way system has made the area particularly hostile to pedestrians and
        cyclists. These major improvements will see the junction completely transformed
        and turned into a much more civilised place for everyone, encouraging more
        people to use the local high street and driving wider regeneration of the
        area.&quot; &nbsp;
        &nbsp;
        </p>
        <p>Leon
        Daniels, Managing Director of Surface Transport at TfL, said: &quot;As part of our
        continuing work to improve London's roads for everyone, we have been working
        with Wandsworth Council to develop this long-standing ambition to return the
        Wandsworth Gyratory to two way traffic. These changes, which will reflect the
        findings of the Mayors Roads Task Force, will improve facilities for all road
        users by simplifying the road network through the area and diverting through
        traffic away from Wandsworth High Street. It will help to create far better
        facilities for pedestrians and cyclists, as well as new open spaces benefiting
        shoppers and local residents.&quot;
        &nbsp;
        </p>
        <p>
        Cllr
        Ravi Govindia, Leader of Wandsworth Council, said: &quot;Redesigning the one way
        system and removing the traffic that's had such a negative effect on the town
        centre's fortunes has been a key aim of the council for many many years and
        so&nbsp;I'm delighted that these ambitions&nbsp;are&nbsp;now&nbsp;gathering pace.
        This consultation seeks the public's views about the general principle of
        making these changes. We are not yet in a position to say what the detailed
        designs will be but these will&nbsp;be produced&nbsp;for the next round of
        consultation&nbsp;if this&nbsp;process moves forward. At the moment&nbsp;it is
        important&nbsp;that TfL&nbsp;gauges the views of local residents and
        businesses&nbsp;to&nbsp;see if they&nbsp;support this&nbsp;strategic
        objective."
        &nbsp;
        </p>
        <p>The proposed changes to Wandsworth Gyratory form part of the wider work being
        carrying out across London to deliver the recommendations of the Mayor's Roads
        Task Force (RTF) &#45; set up to tackle the challenges facing London's streets.
        This independent body, made up of road user groups, major businesses and key
        stakeholders, brings together a wide range of interests and expertise, united
        in the belief that the capital needs a long-term strategy for roads and a
        commitment to major investment in street management and urban design.
        &nbsp;
        Further
        information and details of how to respond to the consultation are available here: <a href="http://www.tfl.gov.uk/wandsworth-town-centre">www.tfl.gov.uk/wandsworth-town-centre</a></p>
        <p><a href="http://www.tfl.gov.uk/wandsworth-town-centre"></a></p>
         
        <hr />
         
        <ul>
            <li>The
            eastern section of Armoury Way, between Ram Street and Fairfield Street, will
            experience an increase in traffic at the busiest times. The proposals include
            designs for road and junction improvements to manage this change in traffic
            levels.</li>
            <li>A
            wider traffic management plan for central and inner London is currently being
            developed to help reduce the traffic impacts of this scheme and others. This
            will include investing in advanced traffic signal technology to better manage
            traffic depending on differing conditions at any given time. Updated
            information will also be provided to satellite navigation companies so that
            devices can incorporate the changed routes through the area. Further traffic
            modelling will be carried out during 2015 and provided as part of the next
            stage of consultation.
            </li>
            <li>Drop
            in sessions are being held at Southside shopping centre in Wandsworth town
            centre on Saturday 15 November: 10am &#45; 5pm and Wednesday 19 November: 4pm &#45;
            8pm.</li>
            <li>London's
            roads account for 80 per cent of all journeys and 90 per cent of all goods
            moved in the capital. As the engine of the British economy, London's population
            s set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to
            absorbing the population of both Birmingham and Leeds</li>
            <li>This
            is a continual challenge in a city with a road network that developed
            organically and was never designed for so much traffic. To meet the challenge,
            the Mayor and TfL are investing more than &pound;4 billion in improving London's
            roads, streets and urban realm for all road users, residents and businesses
            during the next decade.</li>
            <li>To
            help deliver this wider programme of work, TfL has already begun to expand its
            innovative SCOOT technology, which can change traffic signal timings based on
            traffic levels second by second, from half of all signals to three quarters of
            all signals. Hundreds of staff are already working 24/7 to monitor the network.
            </li>
        </ul>
         
        <p><a href="http://www.tfl.gov.uk/wandsworth-town-centre"></a>
        </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Consultation on Wandsworth Town Centre improvements -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 