


@{ViewBag.Title = "Design for the 'New Tube for London' revealed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Design for the 'New Tube for London' revealed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Design for the 'New Tube for London' revealed</h1>
        <div class="content-page-press-release">
        09 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        250 new walk-through trains will change the face of travel on the Underground
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The New Tube marks a significant step forward in giving Londoners and visitors the accessible and modern transport service that they expect and deserve"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The Mayor and
        London Underground (LU) today revealed stunning new designs for the 'New Tube
        for London' - the next generation of Underground trains, which will come in to
        service from the mid-2020s.
        &nbsp;
        </p>
        <p>The New Tube
        will be introduced first on the Piccadilly line, followed by the Bakerloo,
        Central and Waterloo &amp; City lines. Its innovative design will also allow
        for air-cooling for the first time on deep-level sections of the Tube.
        &nbsp;
        </p>
        <p>The train - designs for which are part of a new public exhibition
        at King's Cross St Pancras Underground station - also features improved
        accessibility, with step free access from the platform as well as walk-through
        carriages and wider doors.
        The introduction
        of new trains and a better Tube service will help the Underground keep pace
        with London's rapidly rising population and support the city's economy. </p>
        <p>The
        building of the 250 new trains, which will feature attractive internal styling
        that echoes the Underground's heritage, will also help to support new jobs and
        growth elsewhere in the UK.
        &nbsp;
        </p>
        <p>Transport for
        London's (TfL) team has been working with transport design specialists
        PriestmanGoode to ensure that there was a balance between the design and
        function of a train that will serve London for decades to come, and respect the
        world-renowned and instantly recognisable design heritage of London
        Underground.</p>
        <p>The Mayor of
        London, Boris Johnson, said: `These innovative, eye-catching and sleek new
        trains will be vital for the continued modernisation of London Underground.
        From Greenford to Gants Hill, from Alperton to Arnos Grove, they will ferry
        millions of people across our city, more comfortably, reliably and stylishly
        than ever before. The New Tube marks a significant step forward in giving Londoners and visitors the
        accessible and modern transport service that they expect and deserve.These
        beautiful, air-cooled machines represent the best of British design and
        innovation. They will help to keep London and its economy moving in the right
        direction.`
        &nbsp;
        </p>
         
        <p>Mike Brown MVO,
        Managing Director of London Underground said: `The New Tube for
        London will change the face of travel on the Underground. The faster, more
        frequent and more reliable services it will enable will help us keep pace with
        London's growing population. The design respects the past but also looks to the
        future with the very latest technology; including walk-through carriages and
        wider doors to enable people to get on and off quickly and air-cooling for the
        first time on the deep level lines.
        &nbsp; `Londoners are already seeing huge improvements on the Tube
        network, with faster and more frequent journeys on the Jubilee and Victoria
        lines, the modernisation of the Northern line nearing completion this year, and
        new walk-through, air-cooled trains on the Circle, Hammersmith &amp;
        City,&nbsp; Metropolitan and part of the District lines. The New Tube will take
        the improvements to the next level.`
        </p>
        <p>The trains will serve London for more than 40 years and will be designed and
        built to be capable of fully automatic operation. </p>
        <p>When the new trains first
        enter service they will have an operator on board. Along with modernised signal
        systems operating alongside them, the trains will enable faster, more frequent
        and reliable services with fewer delays, as well as providing greater capacity
        on all four lines:
        </p>
        <ul>
            <li>The
            Central line by 25 per cent (the equivalent of up to 12,000 customers per
            hour);</li>
            <li>The
            Bakerloo line by 25 per cent (the equivalent of up to 8,000 customers per
            hour);</li>
            <li>The
            Waterloo &amp; City line by 50 per cent (the equivalent of up to 9,000
            customers per hour);and,</li>
            <li>The Piccadilly line by 60 per cent (the equivalent of
            up to 19,000 customers per hour).
            </li>
        </ul>
        <p>Paul Priestman,
        Designer and Co-founding Director of PriestmanGoode, said: `London's Tube
        is one of the most iconic trains around the world. We are proud to have
        designed something that is part of the very fabric of London life, celebrating
        all that's great about London's environment; cutting edge technology, rich
        history and diversity.&nbsp; The New Tube for London will take the city into
        the future by enriching the everyday journey of its passengers.`
        &nbsp;
        </p>
        <p>The New Tube for
        London exhibition is at King's Cross St Pancras Underground station, Northern
        ticket hall, from Thursday 9 October until Sunday 16 November. </p>
        <p>The exhibition
        features images of the New Tube design, including a fly-through film, giving
        Londoners a glimpse into the future.
        &nbsp;</p>
        <p>
        A formal Invitation to
        tender is expected to be issued in early 2015 and a contract to build the new
        trains to be awarded in 2016. The first train is expected to come into service
        on the Piccadilly line in 2022. </p>
         
         
        <hr />
        <p>
        Earlier
        this year London Underground placed a notice in the Official Journal of the
        European Union (OJEU) seeking expressions of interest to build the new trains,
        we have now shortlisted those bidders, who are as follows:
        </p>
        <ul>
            <li>Alstom
            </li>
            <li>Siemens
            </li>
            <li>Hitachi
            </li>
            <li>CAF
            </li>
            <li>Bombardier&nbsp;&nbsp;
            </li>
        </ul>
        <p>The
        OJEU notice quoted a range of between &pound;1.0 billion and &pound;2.5 billion for 250 new
        trains.</p>
        <p>The
        New Tube for London programme will see approximately:</p>
        <ul>
            <li>100
            trains for the Piccadilly line;</li>
            <li>100
            trains for the Central line</li>
            <li>40
            trains for the Bakerloo line</li>
            <li>10
            trains for the Waterloo &amp; City line.</li>
        </ul>
        <ul>
            <li>
            Images
            of the New Tube for London including a fly-through film are available on
            request.</li>
            <li>
            For
            more details about the New Train for London please go to&nbsp; <a href="http://www.tfl.gov.uk/newtube">www.tfl.gov.uk/newtube</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li>
            For
            more details about PriestmanGoode please go to <a href="http://www.priestmangoode.com">www.priestmangoode.com</a>
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Design for the 'New Tube for London' revealed -->

 
 
        
        
            @{ViewBag.Description = "250 new walk-through trains will change the face of travel on the Underground";}
        
        


 