


@{ViewBag.Title = "Dial-a-Ride's star performers recognised";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Dial-a-Ride’s star performers recognised</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Dial-a-Ride’s star performers recognised</h1>
        <div class="content-page-press-release">
        20 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The dedication and professionalism of Dial-a-Ride's drivers, call centre staff and support teams was celebrated at an awards ceremony held by Transport for London (TfL) in London's Living Room, City Hall<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Dial-a-Ride is more than just a mode of transport to its customers. It is a vital link between older and disabled Londoners and the outside world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Blake</div>
            <div class="quotee-job-title">TfL Director of Service Operations</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Among the award recipients was a Dial-a-Ride driver who saved his colleague's life by performing CPR when he suffered a heart attack, and an employee who had to relocate a number of buses from a depot and got them all back before the morning shift.</p>
        <p>Awards for the Dial-a-Ride staff, who provide TfL's multi-occupancy, door-to-door service for disabled people who cannot use public transport, were presented on Friday 17 October.</p>
        <p>Nearly 1.4 million trips were delivered in 2013/14 by Dial-a-Ride. The service has approximately 50,000 members and fulfilled 91 per cent of all requests that it received in the last financial year.&nbsp; &nbsp;</p>
        <p>Peter Blake, TfL Director of Service Operations, said: </p>
        <p>'Dial-a-Ride is more than just a mode of transport to its customers. It is a vital link between older and disabled Londoners and the outside world. That is reflected in the very high customer satisfaction scores that the Dial-a-Ride service receives &#45; 94 out of 100 was recently recorded by an independent survey.'&nbsp; </p>
        <p>Dial-a-Ride awards were presented to:</p>
        <p><strong>Judges' Award for actions above and beyond the call of duty</strong></p>
        <p>Joint winners: Damien Jenkins, Imran Aziz and Angela Brett</p>
        <p><em><strong>Damien Jenkins based at Dial-a-Ride Orpington Depot</strong></em></p>
        <p>Damien Jenkins, a driver at the Dial-a-Ride Orpington Depot, saved the life of his colleague Peter Bennett, the Duty Manager who suffered a heart attack while on duty.&nbsp; Peter was alone in the office when he suffered his heart attack and Damien was the first person on the scene. </p>
        <p>Making excellent use of his Dial-a-Ride driver training, which includes emergency first aid, Damien gave CPR to Peter and through this action, not only saved his life, but saved Peter from what would have almost certainly have been brain damage due to oxygen starvation. </p>
        <p>Peter left hospital around three weeks after the incident and is now recovering at home, with no signs of any brain damage whatsoever. This makes him one of only around two per cent of people to have experienced a similar medical emergency with such an outcome &#45; thanks to the actions of Damien.</p>
        <p><strong><em>Imran Aziz based at Dial-a-Ride Palmers Green Depot</em></strong></p>
        <p>Imran demonstrated a positive attitude toward his responsibilities as the Depot Duty Manager, and led a team of drivers to re-locate a number of buses around the local&nbsp;&nbsp; area after activities by neighbouring tenants prevented use of parking facilities at the Dial-a-Ride depot overnight. He ensured that each vehicle was safely secured and that the location of each bus was recorded. Before he left the depot, he made arrangements to have all vehicles collected and delivered back to the depot in time for start of the morning service. This took a considerable amount of time and required Imran to work well beyond his finishing time, finishing late and returning before the start of duties the next day.</p>
        <p><strong><em>Angela Brett based at Dial-a-Ride Management Control Centre in Southwark</em></strong></p>
        <p>Angela showed dedication and leadership in an emergency. She rose to the challenge of co-ordinating support when Dial-a-Ride Duty Manager Peter Bennett suffered a heart attack while on duty at the Dial-a-Ride Orpington Depot. Despite it being her day off, Angela managed the situation by driving to Palmers Green Depot. From there, she coordinated and assisted Orpington depot staff and liaised with John Daley, the Dial-a-Ride Operations Manager. She worked diligently to ensure that the service wasn't compromised and remained at the depot throughout the period of the emergency offering support and keeping the Operations Manager informed of the changing circumstances. </p>
        <p><strong>Driver Attendant of the year</strong></p>
        <p><em><strong>Ozzie Mirzanli based at Dial-a-Ride Croydon sub-base</strong></em></p>
        <p>Ozzie received praise from people at all levels of Dial-a-Ride for his willingness to put in extra time and effort when needed to help out his colleagues. He is always happy to work additional hours when required to ensure that all customers are picked up on time and taken to their destination in a safe manner. With his ever smart appearance, his courtesy and professionalism, Ozzie is a great advert for the Dial-a-Ride service.</p>
        <p><strong>Reservationist of the Year</strong></p>
        <p><strong><em>Silvia Fiocco based at Dial-a-Ride Mandela Way, Southwark </em></strong></p>
        <p>Silvia is a great example to her fellow reservationists as she is always polite and professional with customers and colleagues alike. She takes great care to be accurate in taking booking details from her customers and is always willing to go the extra mile to help them book the journeys that they want to make. </p>
        <p><strong>Engineer of the Year </strong></p>
        <p><em><strong>Joint winners: Callum Chisholm and Jamal Martin based at Dial-a-Ride Mandela Way, Southwark</strong></em></p>
        <p>Both Callum and Jamal joined Dial-a-Ride Engineering on an apprentice scheme and have impressed all their fellow engineers with the way they have developed during their training.&nbsp; Both Callum and Jamal passed their Level 3 NVQ with flying colours, both achieving one of the Top 20 pass marks in the country. They are now studying for their NVQ Level 4 awards. </p>
        <p><strong>Service Support Person of the Year</strong></p>
        <p><strong><em>Joint winners: Lisa Woodberry and Princess Mills based at Dial-a-Ride Mandela Way, Southwark</em></strong></p>
        <p>The judges could not decide between these two great service support staff and decided to award the prize to both Lisa and Princess for their different, but equally impressive, contributions over the year. </p>
        <p>Lisa helped with the transfer of the Dial-a-Ride Newham team, of which she was a member, from its local scheduling office into the London wide scheduling team based in Southwark.&nbsp; Lisa took personal responsibility to ensure that everything went smoothly for both her fellow team members and for their customers in Newham, including providing all the training that her colleagues required on the booking system they now use. </p>
        <p>Princess has helped keep the Passenger Services department running smoothly above and beyond her expected duties, providing support for new members of staff joining the team, as well as existing colleagues.&nbsp; Her main role is as a Passenger Services Administrator with special responsibility for the administration of the Travel Mentoring Service. She also produces the regular Dial-a-Ride staff newsletter and assists on the production of customer leaflets and other publicity materials that help promote the service. &nbsp;&nbsp;</p>
        <p><strong>Duty Manager of the Year </strong></p>
        <p><em><strong>Sandie Charlton based at Dial-a-Ride North Wembley Depot</strong></em></p>
        <p>Sandie is known for her helpful attitude and willingness to lend her considerable knowledge to addressing any problems for customers or for her Service Delivery colleagues to ensure that the service runs as smoothly as possible. She always alerts her colleagues to potential problems in good time so that they can be addressed in a timely fashion and also assists in delivering operational training to drivers at Head Office when required. </p>
        <p><strong>Management Control Centre Supervisor of the Year</strong></p>
        <p><em>Ibrar Akram based at Dial-a-Ride Mandela Way, Southwark</em></p>
        <p>All those who work with him would agree that Ibrar is both hard-working and reliable.&nbsp; His positive attitude towards his work and colleagues makes him popular across many departments of Dial-a-Ride. His calm manner and encouraging words mean that he teaches those around him, through example, about how to get the best out of their teams.</p>
        <p><strong>Team of the Year</strong></p>
        <p><strong><em>Service Delivery Team based at Dial-a-Ride Mandela Way</em></strong></p>
        <p>The Dial-a-Ride Service Delivery Team had some major challenges to deal with during the year, and they all rose to the challenge, keeping the Dial-a-Ride service on the road and ensuring that customers can make their journeys despite problems that can occur every day. This award recognises the effective collaboration and teamwork that has made a significant contribution to improving the service.</p>
        <p><strong>Improving Safety Award</strong></p>
        <p><strong><em>Reinhold Wichmann, based at Dial-a-Ride Wimbledon Depot</em></strong></p>
        <p>The Dial-a-Ride Improving Safety Award recognises someone who has contributed over and above their role to improving the safety standards in Dial-a-Ride. Reinhold ensured that health and safety culture is embedded at his depot. Particular issues he has tackled over the year include traffic management issues that his depot experienced due to multi-tenancy sites. </p>
        <p><strong>Depot of the Year</strong></p>
        <p><em>Woodford Depot</em></p>
        <p>Each depot was judged according to criteria focusing on five key areas: customer service, staff performance, and operational, financial and environmental efficiency.The Woodford Team including the Regional Manager, Duty Managers, Panel Duty Managers and Admin Staff and Drivers have, without exception, risen to the challenges they have faced locally during the year. They have pulled together and delivered high standards in performance and customer service and should be proud of what they have achieved over the last 12 months.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images from the Dial-a-Ride awards are available from the TfL press office on request.</li>
            <li>Dial-a-Ride provides a multi-occupancy door-to-door service for people with a permanent or long term disability who cannot use public transport for the journeys they wish to make.&nbsp; People must register to use the service and can then book trips for leisure and social purposes such as shopping, visiting friends and family, or going to the theatre. </li>
            <li>In addition, Dial-a-Ride also offers a Travel Mentoring Service for disabled people who want to use mainstream public transport.&nbsp; The service provides a mentor to help them gain knowledge and confidence on the transport system and become an independent traveller.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Dial-a-Ride’s star performers recognised -->

 
 
        
        
            @{ViewBag.Description = "Dial-a-Ride’s star performers recognised";}
        
        


 