


@{ViewBag.Title = "First World War poems on the Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First World War poems on the Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First World War poems on the Underground</h1>
        <div class="content-page-press-release">
        20 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In the latest selection of poems launched on the London Underground (LU), Poems on the Underground is commemorating the centenary of the First World War. The poems concentrate on the themes of brotherhood and reconciliation, in addition to the ways in which featured poet Guillaume Apollinaire says, 'we said goodbye to a whole epoch'. <BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope readers will be moved by these poets writing at first hand about their experience of the war, and in different ways expressing comradeship, love of country, despair and even hope"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <p>From today over 3,000 poems will be visible on Tube trains, London Overground trains for the first time, and at special station sites. Londoners and visitors to London will have the opportunity whilst travelling to read the works of six British, Italian, Austrian and French poets: Edward Thomas, Ivor Gurney, Siegfried Sassoon, Giuseppe Ungaretti, Georg Trakl and Guillaume Apollinaire.</p>
        <p>Travellers can also acquire one of the 90,000 copies of the free booklet, War Poems on the Underground, 1914-1918. Transport for London (TfL) is producing the booklet and it will be distributed in Tube stations. The poems within it have all been featured on the Tube. They address the different feelings, including anger at the political and military establishment, which arose as a result of the First World War.</p>
        <p>Judith Chernaik, writer, editor and founder of Poems on the Underground, said:</p>
        <p>'We hope readers will be moved by these poets writing at first hand about their experience of the war, and in different ways expressing comradeship, love of country, despair and even hope.'</p>
        <p>The First World War had a profound impact on London and its transport system. Nearly half of the Underground's staff were recruited to serve and by the end of the war, more than one thousand employees had been killed. Memorials to them are at several stations across our network.</p>
        <p>Poems on the Underground, founded in 1986, aims to bring poetry to a mass audience.It helps to make journeys more stimulating and even inspiring by showcasing a diverse range of poetry, including classical, contemporary and international poets in Tube train carriages across London.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Copies of the War Poems on the Underground, 1914-1918 are available from the Press Office on request.</li>
            <li>Poems on the Underground: A New Edition (Penguin 2012) will be published in paperback in March 2015.</li>
            <li>This latest set of Poems on the Underground is supported by Arts Council England, the British Council as well as TfL.</li>
            <li>There is an also an event, 'The Pity of War', with guest reader Bruce Kent and the Apollo Chamber Players on Thursday 13th November, 6.45-8.15pm at Europe House, 32 Smith Square, SW1P 3EU. Admission is free, but booking is advised. Please contact <a href="mailto:agnieszka.piela&#64;ext.ec.europa.eu">agnieszka.piela&#64;ext.ec.europa.eu</a> if you are interested in attending.</li>
            <li>List of the stations distributing leaflets:Aldgate, Aldgate East, Angel, Baker Street, Bank/Monument, Barbican, Blackfriars, Bond Street, Borough, Canary Wharf, Cannon Street, Chancery Lane, Charing Cross, Earls Court, Edgware Road H&amp;C, Elephant &amp; Castle, Embankment, Euston, Euston Square, Gloucester Road, Goodge Street, Great Portland Street, Green Park, High Street Kensington, Holborn, Hyde Park Corner, Kings Cross, Knightsbridge, Leicester Square, Liverpool Street, London Bridge, Mansion House, Marylebone, Moorgate, Notting Hill Gate, Old Street, Oxford Circus, Paddington&nbsp; Main, Piccadilly Circus, Pimlico, Russell Square, South Kensington, St Pauls, Tottenham Court Road, Tower Hill, Vauxhall, Victoria, Waterloo, Westminster</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-First World War poems on the Underground -->

 
 
        
        
            @{ViewBag.Description = "First World War poems on the Underground";}
        
        


 