


@{ViewBag.Title = "Historic RT buses return to London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Historic RT buses return to London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Historic RT buses return to London</h1>
        <div class="content-page-press-release">
        28 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>In celebration of
        London's Year of the Bus, Transport for London (TfL) and the London Bus
        Museum,&nbsp;are operating 20 historic RT buses on route 11 on Sunday 2
        November between 10am and 5pm. London's iconic red
        buses
        have provided a vital daily service to millions of people since the first bus
        service was introduced in 1829. &nbsp;</p>
        <p>The RT bus, which first ran in London 75
        years ago,&nbsp;is the father&nbsp;of the famous Routemaster. &nbsp;After the
        war, London Transport built up the largest bus fleet in the world and by the
        mid-1950s virtually every bus operating in London was an RT.
        &nbsp;
        </p>
        <p>Leon Daniels, TfL's
        Managing Director of Surface Transport, said: &quot;Over the years bus designs have
        changed but the role of buses in keeping London moving remains just as vital to
        London today. &nbsp;This event is a celebration of the RT's valuable
        contribution to the capital and gives people the chance to travel back in time
        and glide round our great city in a piece of automotive history.&quot;
        &nbsp;
        </p>
        <p>
        Peter Osborn, London Bus Museum, said:
        &quot;It is important to keep our transport heritage alive and working &#45; all these
        buses are at least 60 years old and a real tribute to British
        engineering.&nbsp; When we are out and about, the delight on the faces of
        passengers and passers-by confirms that these buses hold a special place in the
        hearts of Londoners.&quot;
        &nbsp;
        </p>
        <p>The fleet of&nbsp;20&nbsp;RT buses&nbsp;will run
        alongside the normal service of their modern day
        contemporaries,&nbsp;the&nbsp;New Routemaster, which
        operate&nbsp;on&nbsp;route&nbsp;11. &nbsp;Buses will run from Liverpool Street
        Station via Trafalgar Square and the Houses of Parliament to Chelsea, with some
        buses continuing to Hammersmith. &nbsp;
        &nbsp;
        </p>
        <p>All&nbsp;the RT buses
        are at least&nbsp;60 years old and restored to the highest standard. Each will
        be operated by a traditional driver and conductor team and commemorative
        tickets will be issued. &nbsp;All heritage buses will be free, except the
        original 1939 prototype RT1 that will charge a fare of &pound;5. &nbsp;</p>
        <p>The RT1 is a
        75-year old bus that has been restored to the distinctive livery it was
        launched to the press in, during the summer of 1939, as 'London's new RT bus'.
        &nbsp;
        </p>
        <p>Events and activities
        are being held throughout 2014 to celebrate TfL's Year of the Bus, in
        partnership with the London Transport Museum and the capital's bus operators &#45;
        specifically the role that London buses, bus drivers and the staff who support
        them play in keeping the capital moving.&nbsp; The Year of the Bus also marks a
        number of important anniversaries including 60 years since the creation of the original
        and iconic Routemaster, 75 years since the launch of its predecessor the
        RT-type bus, and 100 years since hundreds of London buses were sent to the
        Western Front to play a crucial role during the First World War.
        &nbsp;
        </p>
        <p>During the Year of the
        Bus, TfL has worked on a number of high profile collaborations including with
        the world-famous Fender&nbsp;guitar manufacturer whose Stratocaster guitar
        celebrated its 60th&nbsp;anniversary this year; with LEGO
        to install an operational bus stop and shelter on Regent Street made entirely
        out of LEGO and a special Routemaster Google Doodle on the Google.co.uk
        homepage.&nbsp; The Year of the Bus has also seen the first ever series of live
        music performances on board a New Routemaster bus as part of Oxjam, and 'bus
        stop top' exhibitions along the Strand from renowned photographers Juergen
        Teller and David LaChapelle</p>
         
         
         
         
        <hr />
        <p>
        London
        Bus Museum at Brooklands near Weybridge holds the world's largest
        collection of historic London buses, most in full working order.</p>
        <p>The
        Museum is open every day except at Christmas, more details at&nbsp; www.LondonBusMuseum.com.A
        time table for the&nbsp;special heritage service on route 11 can be found
        at: <a href="http://www.londonbusmuseum.com/wp-content/uploads/2014/10/Route-11-021114-timetable.pdf">http://www.londonbusmuseum.com/wp-content/uploads/2014/10/Route-11-021114-timetable.pdf</a>
        </p>
        <p>When
        it was introduced the RT-Type set new standards for the bus industry as a
        whole and confirmed London's place at the forefront of modern bus
        design.&nbsp; </p>
        <p>With advanced, streamlined styling, bright interior,
        comfortable seating, smooth new diesel engine, modern air brakes and a pre
        selector gearbox it really led the way -with more than 7,000 operating on
        the capital's streets between 1939 and 1979.&nbsp;The father of the later
        Routemaster, it laid the foundation for bus travel in the capital.Route
        11 is&nbsp;one of&nbsp;London's most famous bus routes, passing the Bank
        of England, St Paul's Cathedral, Fleet Street, Strand, Trafalgar Square,
        Whitehall, the Houses of Parliament, Westminster Abbey, Victoria, Sloane
        Square and Chelsea's Kings Road.</p>
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Historic RT buses return to London -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 