


@{ViewBag.Title = "New Routemaster buses on Route 453";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Routemaster buses on Route 453</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Routemaster buses on Route 453</h1>
        <div class="content-page-press-release">
        02 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route becomes the ninth in the capital to convert and the first to operate entirely with Euro VI New Routemaster buses &#45; delivering even further emission reductions
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>New data shows that New Routemasters are almost 50 per cent more fuel efficient than predecessors</li>
        </ul>
        <p>Transport for London (TfL) has today announced that the next bus route to be served entirely by New Routemaster buses will be the 453.</p>
        <p>From 18 October there will be phased conversion of the route, which is operated by London General, and runs 24-hours a day between Deptford Broadway and Marylebone station, via Baker Street, Oxford Circus, Trafalgar Square (Charing Cross), Westminster, Lambeth North, Elephant &amp; Castle and New Cross Gate. The route will be running entirely with New Routemaster buses by mid November.</p>
        <p>During peaks hours, 35 of these state of the art buses will be in passenger service to carry the 28,000 people who travel on the route each week day. </p>
        <p>Figures also released today show that the average fuel consumption of the New Routemasters in service is almost 50 per cent better than the buses that operated on the routes before them.</p>
        <p>Fuel economy on the following routes has been measured and results have shown a significant increase in their average miles per gallon (MPG) compared with the vehicles previously used:</p>
        <ul>
            <li>Route 11 &#45; from 4.7 MPG to 7.4 MPG (57 per cent increase);</li>
            <li>Routes 24 and 390 (combined<sup><sub>1</sub></sup>) &#45; from 5.4 MPG to 7.4 MPG (37 per cent increase);</li>
            <li>Route 9 &#45; from 3.9 MPG to 6.2 MPG (59 per cent increase);</li>
            <li>Route 148 &#45; from 5 MPG to 6.9 MPG (38 per cent increase);</li>
            <li>Route 10 &#45; from 4.4 MPG to 6.5 MPG (48 per cent increase).</li>
        </ul>
        <p>Route 453 will operate with the rear platform closed when the bus is moving, with large numbers of passengers able to quickly board and alight using all three sets of doors and two staircases at bus stops. Every London bus route is different and as these buses are rolled out across the capital TfL will consider the best possible operating arrangements on a route by route basis. As the Mayor has previously made clear, there will not be a requirement to have a conductor on every bus at all times<sup>2</sup>. New Routemasters already operate without a conductor on routes 8 and 148.</p>
        <p>To date, eight bus routes in London are being served by around 260 New Routemasters, and with the conversion of route 453 we will be halfway to delivering 600 of these new buses on London's streets by 2016, reducing CO2 emissions in the capital by around 20,600 tonnes a year. </p>
        <p>The introduction of New Routemaster buses is part of a comprehensive programme to reduce emissions from London's bus fleet which includes 1,700 hybrids on the street by 2016, accelerating the introduction of ultra low emission Euro VI buses and retrofitting older buses to reduce their NOx emissions by up to 88 per cent.</p>
        <p>ENDS</p>
         
        <sup>1 </sup>The routes are operated by the same company and the vehicles would operate on both routes.
        <p><sup>2</sup> Mayor's Question Time, 17 October 2012 &#45; http://mqt.london.gov.uk/mqt/public/question.do?id=42938 </p>
         
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>For route 11, the New Routemaster (NRM) fuel consumption and mileage data is taken from the period March 3-30, 2014. For routes 24 and 390, it is taken from the period February 24 to March 31, 2014. For routes 9 and 148, it is taken from March 3-31. For route 10, NRM data has been provided for the period May 11 to June 16, 2014.</li>
            <li>Pre-conversion data for route 11 covered the period from August 1-31, 2013, for route 24 from March 1-31 2013, for route 390 from November 1-30, 2013, for route 9 from September 29 to October 25, 2013, for route 148 from February 1-28, 2014, and for route 10 from March 26 to April 25, 2014.</li>
            <li>In tests, a New Routemaster prototype bus with a Euro V engine was found to emit a quarter of the NOx (Oxides of Nitrogen) and harmful 'PM' particles of a fleet average hybrid bus and 20 per cent less CO2. </li>
            <li>Go Ahead London comprises London Central, London General, Blue Triangle, Docklands Buses and Metrobus. It runs a fleet of over 2200 buses, representing over 24 per cent of the London bus market, and accounts for approximately 433 million bus journeys annually on over 190 day and night routes.</li>
            <li>New Routemaster buses are manufactured by the family-owned Wrightbus company in Northern Ireland. The order for 600 vehicles resulted in the opening of a new chassis plant in Antrim and the safeguarding of 220 jobs, including 18 apprenticeships and the creation of 50 new jobs.</li>
            <li>As well as the manufacture of the chassis and superstructure in Northern Ireland, a number of components for the bus are made by companies from around the UK; including engines from Darlington, seats from Telford, seat moquette from Huddersfield, wheelchair ramps from Hoddesdon (Hertfordshire), destination blinds from Middleton near Manchester and flooring from Liskeard (Cornwall). All of these companies have received a boost as a result of the New Routemaster project. &nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-New Routemaster buses on Route 453 -->

 
 
        
        
            @{ViewBag.Description = "New Routemaster buses on Route 453";}
        
        


 