


@{ViewBag.Title = "Silvertown Tunnel plans gather pace";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Silvertown Tunnel plans gather pace</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Silvertown Tunnel plans gather pace</h1>
        <div class="content-page-press-release">
        14 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Public consultation starts 15 Oct on detailed plans for the Silvertown tunnel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new crossings will be essential not just for east London, but for the capital as a whole and its continued success as the motor of the UK economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The Mayor of London has
        today reaffirmed his commitment for a series of vital new river crossings to be
        delivered in east London.&nbsp;
        </p>
        <p>With the capital's population forecast to grow to 10m people by 2030, and with
        much of this growth due to take place in east London, demand for crossing the
        river will increase. </p>
        <p>Unless new river crossings are provided in east London,
        the overall growth of this part of London will be affected and its economic
        potential will not be fully realised.
        The Silvertown tunnel is a key part of the plans and is now progressing to the
        next stage with a consultation that starts tomorrow, 15 October, on detailed
        proposals. </p>
        <p>By delivering a new road link beneath the Thames, Silvertown tunnel
        would connect the Greenwich Peninsula with the Royal Docks &#45; two of the Mayor's
        key Opportunity Areas for thousands of new homes and jobs.&nbsp;
        T</p>
        <p>his consultation represents an important step forward for the Silvertown
        plans, with an application to Government for approval to build the tunnel
        planned for December 2015. In recognition of its significance for the future
        development of London, this project has been designated a Nationally
        Significant Infrastructure Project (NSIP) by Government. If approved,
        construction could start in 2017 and take four years to complete at an
        estimated cost of around &pound;750m.
        &nbsp;
        </p>
        <p>Silvertown tunnel will:</p>
        <ul>
            <li>Provide a vital new road crossing across the
            Thames</li>
            <li>Reduce queuing at the Blackwall Tunnel</li>
            <li>Support the creation of new jobs and homes
            across east London; and</li>
            <li>Create the opportunity for new public
            transport connections connecting both sides of the river.
            &nbsp;
            </li>
        </ul>
        <p>The
        Mayor and TfL are also planning for new road crossings to the east of
        Silvertown, which have been the subject of a recent consultation. Initial
        findings from this consultation suggest strong public support to develop plans
        for crossings at both Gallions Reach and Belvedere.&nbsp;
        </p>
        <p>The Mayor of London, Boris Johnson, said: `The Silvertown Tunnel would provide
        a vital new link beneath the Thames from two of our city's great opportunity
        areas for new homes and jobs - Greenwich Peninsula and the Royal Docks. It has
        quite rightly been classified by the Government as a project of national
        significance and today we're a step closer in making our vision a reality.
        Unless new river crossings are provided, the huge growth potential of east
        London will not be realised, which is why I have asked TfL to also take forward
        further work on two new river crossings to the east of the Silvertown tunnel at
        Gallions Reach and Belvedere. These new crossings will be essential not just
        for east London, but for the capital as a whole and its continued success as
        the motor of the UK economy.' </p>
        <p>Mich&egrave;le Dix, TfL's Managing Director of Planning, said: `The recent
        public consultations have been very important, helping us to identify the best
        solution for new river crossings. It is clear that public support for more
        river crossings is high. These detailed plans for the Silvertown Tunnel are the
        next step in delivering a series of crossings that will keep London moving. The
        consultation is an opportunity to find out more about the design of the tunnel,
        how it will be used and the benefits and impacts of this new crossing.`&nbsp;
        </p>
        <p>As part of the plans, proposals for a user charge at the Silvertown and
        Blackwall Tunnels have been developed as an essential element to manage demand
        for the two crossings and to provide a source of revenue to help pay for
        construction and operation of the new tunnel at Silvertown.&nbsp; This would
        not be introduced until the new tunnel was open to motorists. It is anticipated
        that the charges could be similar to those currently levied at the Dartford
        crossings.
        </p>
        <p>The public consultation on the Silvertown Tunnel will run from 15 October until
        19 December 2014. Further information about the consultation and the
        questionnaire can be found at www.tfl.gov.uk/silvertown-tunnel.&nbsp;
        A report on the findings of the Silvertown Tunnel consultation will be
        presented to the Mayor of London in spring 2015 and made publicly available on
        the consultation website.&nbsp; </p>
        <p>A further consultation is planned for early
        summer 2015 ahead of the submission of an application for a Development Consent
        Order by the end of 2015.&nbsp;
        In
        parallel with the Silvertown Tunnel, TfL is now progressing further
        work&nbsp;on options for new river crossings at Gallions Reach and
        Belvedere.&nbsp;These new crossings would transform the connectivity of outer
        east London, open up major sites for development and help to support the
        delivery of jobs and homes across a wide area.&nbsp;
        &nbsp;The new crossings would have the potential to provide new public
        transport connections as well.&nbsp; Further work will also consider the
        opportunities for funding these new crossings including the use of user
        charges.&nbsp; It is anticipated a further consultation on these crossing
        options would commence before the end of 2015.&nbsp;
        </p>
        <p>Subject to securing funding and the necessary
        approvals, both crossings could be completed and open by 2025. </p>
         
        <hr />
        Notes to Editors:
        &nbsp;
         
        <ul>
            <li>Images are available on the TfL
            Press Flickr page: <a href="https://www.flickr.com/photos/tflpress/sets/72157648729573625/">https://www.flickr.com/photos/tflpress/sets/72157648729573625/</a></li>
            <li>A fly-through video for the
            Silvertown Tunnel is available at <a href="http://youtu.be/o4vIZ6cpF5">http://youtu.be/o4vIZ6cpF5</a>8</li>
            <li>Further information on the
            Silvertown Tunnel&nbsp; consultation can be found at <a href="http://www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a></li>
            <li>More
            information about the options and how they have been developed is available
            online at: <a href="http://www.tfl.gov.uk/new-river-crossings">www.tfl.gov.uk/new-river-crossings</a> </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Silvertown Tunnel plans gather pace -->

 
 
        
        
            @{ViewBag.Description = "Public consultation starts 15 Oct on detailed plans for the Silvertown tunnel";}
        
        


 