


@{ViewBag.Title = "Step free access for all London Crossrail stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step free access for all London Crossrail stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step free access for all London Crossrail stations</h1>
        <div class="content-page-press-release">
        01 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and Transport for London announce step free access for all London Crossrail stations 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With Crossrail we have an opportunity to embed accessibility at the heart of the city's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Director of London Underground and London Rail</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The Mayor of London and Transport for London (TfL) have today
        confirmed funding to install step free access at Seven Kings, Maryland, Manor
        Park and Hanwell stations ahead of Crossrail fully opening in 2019 &#45; meaning
        all Crossrail stations within London will be step free.
        &nbsp;
        </p>
        <p>Crossrail will dramatically improve accessibility provision along
        the route and bring step free access to the heart of the West End. Step free
        access was already committed for 33 of the 40 stations on the route. </p>
        <p>The new
        funding will mean 37 are step free, including every Crossrail station in
        London. All stations will be staffed whenever trains are running, providing for
        customers the 'turn-up and-go' assistance service already in operation across
        the London Underground and London Overground networks.
        &nbsp;
        </p>
        <p>Detailed design and planning work will now get underway, with the
        cost of improvements to the four stations expected to be around &pound;19m - provided
        though efficiencies and some reallocation of the operating budget. TfL will
        continue to work with the DfT to secure funding for step free access at the
        remaining three Crossrail stations; Taplow, Langley and Iver.
        &nbsp;
        </p>
        <p>Mayor
        of London, Boris Johnson, said: `I have always made it clear that we must aim
        to make Crossrail fully step free and it is great news that we can confirm
        funding from TfL's budget for all the stations within London. It is fantastic
        that the DfT have also pledged their commitment to fund the remaining three
        stations outside London, and I look forward to working with the Secretary of
        State to deliver a world class railway that is accessible for all.`
        &nbsp;
        </p>
        <p>Mike Brown MVO,
        Managing Director of London Underground and London Rail, said: `Providing an
        accessible transport network is a top priority for us and we have already made
        significant improvements &#45; installing new lifts, rebuilding stations, and
        introducing boarding ramps to make life easier for our customers. With Crossrail
        we have an opportunity to embed accessibility at the heart of the city's
        transport network. That's why we are funding improvements that will mean that
        all Crossrail stations in London are step free. This will transform how
        disabled people can travel in and across the city, and we will now continue to
        work with the Department for Transport to ensure that all the other stations on the route are
        accessible.`
        </p>
        <p>Transport Secretary Patrick McLoughlin
        said: `Crossrail is an important part of our long-term economic plan. It
        will revolutionise London's transport network for millions of passengers and
        create jobs and opportunities across the country.
        &nbsp;
        </p>
        <p>`Our aim is for Crossrail to become the most accessible railway
        in Europe. I am delighted TfL can make a further four stations step-free and
        have asked my Department to work with TfL to find the necessary funding for the
        final three stations.&nbsp; I am determined to work with the Mayor to ensure
        this happens.`</p>
        <p>Ruth Owen, OBE, Chief Executive of Whizz-Kidz says: `We are
        delighted with the news that all Crossrail stations in London will be
        accessible to all. As a wheelchair user myself, I experience the frustrations
        of not having the same access to travel or train facilities as non-disabled
        passengers.
        &nbsp;
        </p>
        <p>`For young disabled people to fulfil their potential, being able
        to travel safely and independently is absolutely paramount. Whether it's
        travelling to socialise with friends, access health services, education or
        employment, it's important to recognise that accessible transport can enable
        young disabled people to enjoy the same opportunities as their peers, and to
        make a real contribution to society.
        &nbsp;
        </p>
        <p>`We believe it's really important that the whole Crossrail route
        is accessible and call for the remaining funding to be found to complete the
        job.`</p>
        <h2>Accessibility</h2>
        <p>The new
        Crossrail train fleet will be built to the latest standards of accessibility.
        </p>
        <p>Crossrail trains will have dedicated, clearly distinguished priority seats and
        space for wheelchairs. Each carriage will provide both visual and audio
        information about the train's journey.
        &nbsp;
        </p>
        <p>Crossrail will
        be fully operational by the end of 2019. The line will boost London's
        rail-based capacity by 10 per cent, connecting Reading and Heathrow in the west
        and Shenfield and Abbey Wood in the east. It will provide faster journey times,
        with up to 24 trains per hour each carrying up to 1,500 passengers&nbsp;in the
        central section between Paddington and Whitechapel during the peak.
        &nbsp;
        </p>
        <p>TfL is carrying out a huge programme of investment to make
        London's transport network more accessible, including making 28 more London
        Underground and London Overground stations step-free over the next ten years
        and making 95 per cent of all London bus stops fully accessible by 2016. </p>
        <p>A &pound;250
        million investment in step-free projects is being made at stations including
        Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury
        Park, and further improvements include permanent raised platform sections,
        low-floor trains and boarding ramps making getting around the network much
        easier. </p>
         
         
        <hr />
         
        <ul>
            <li>It is anticipated that over 200 million people will travel on
            Crossrail every year</li>
            <li>Crossrail will serve 40 stations, linking Reading and Heathrow in
            the west, to Shenfield and Abbey Wood in the east, with 21km of new twin-bore
            tunnels under central London</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Step free access for all London Crossrail stations -->

 
 
        
        
            @{ViewBag.Description = "Mayor and Transport for London announce step free access for all London Crossrail stations ";}
        
        


 