


@{ViewBag.Title = "TfL creates over 200 new graduate trainee roles";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL creates over 200 new graduate trainee roles</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL creates over 200 new graduate trainee roles</h1>
        <div class="content-page-press-release">
        08 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Record number of graduates sought for 2015 across 21 disciplines appealing to candidates from a wide range of backgrounds
        
    </div>



 <div class="on-this-page">

        <p>Transport
        for London (TfL) has today announced that it has created over 200 new graduate
        trainee roles for 2015 as it continues its investment in the next generation of transport professionals.
        &nbsp;
        </p>
        <p>With its population set to rise from 8.4m today to 10m by 2030, it
        is vital that London has a transport network capable of keeping the city
        working and growing and making life in the capital better. A team of dedicated
        and highly qualified staff is essential to delivering that.
        &nbsp;
        In September 2014, TfL welcomed 130 new graduates who are
        contributing to some of the biggest projects in the world which are vital to
        the future of the city and the national economy. </p>
        <p>As part of a wholesale
        modernisation of the road and public transport networks, their work includes:</p>
        <ul>
            <li>Upgrading some of the country's
            busiest and strategically important stations</li>
            <li>Expanding transport capacity to
            keep the city working and growing</li>
            <li>Increasing the safety and
            security of&nbsp;TfL's customers, including through radical improvement to
            facilities for cyclists in London</li>
            <li>Communicating effectively with
            its customers and road users to help them make the most of everything London
            has to offer and </li>
            <li>Making TfL's network accessible
            to all.
            &nbsp;
            </li>
        </ul>
        <p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `London is the economic engine of the UK and our transport system is at the
        heart of it. With around 30 million journeys undertaken every day, what we do
        is central to supporting jobs and growth across the UK.&nbsp; We hire the very best staff to deliver for our customers and
        users on this massive scale.As part of that, we are recruiting a record 200
        graduate trainees with a whole range of backgrounds to start in September 2015. With real responsibility given to them from day one, they will ensure that
        London keeps working and growing to the benefit of the whole country.'
        &nbsp;
        </p>
        <p>The
        graduate trainees will support the growth of the transport network by working
        in roles such as engineering, project management, transport planning,
        commercial, information management, finance and marketing roles.
        &nbsp;
        </p>
        <p>In
        September 2014, 30 per cent of TfL's new graduates were women. Given the broad
        range of roles that TfL offers, it will also use the next recruitment round to
        encourage more women to consider a future in the transport industry. In
        addition to the graduate schemes, TfL also offers apprenticeships, is a sponsor
        of the Royal Greenwich University Technical College and offers volunteering
        opportunities to TfL staff&nbsp; through the Science, Technology,
        Engineering and Maths Ambassador Scheme where they go into schools to speak to
        school children about the different opportunities available at TfL.
        &nbsp;
        </p>
        <p>As
        well as placements across the organisation, all TfL graduate trainees also
        spend time in frontline roles across TfL's network to get a first-hand
        experience of providing Tube, bus, rail and other services to customers.
        &nbsp;
        </p>
        <p>Since
        2007, TfL has consistently appeared in the Graduate Times 100 list for best
        companies to work for, as voted by graduates.&nbsp;TfL
        was the highest climber in this year's list, moving 36 places up, as well as being voted Employer of Choice in the
        Transport &amp; Logistics Award category.
        &nbsp;
        </p>
        <p>TfL
        Marketing Graduate trainee, Shelley Hepburn, said: `I have been on the scheme
        for just over a year now and have had the opportunity to work on a number of
        different projects, including the consultation of Crossrail 2, the promotion of
        the Visitor Oyster card and the launch of contactless
        payments on the London transport network.
        &nbsp;
        </p>
        <p>'Moving
        across different departments has given me the chance to work on a diverse set
        of projects and see the business from a different angle. TfL's graduate scheme
        is great because you get to see your work helping millions of people across
        London every day. Anyone looking for a challenge and an opportunity to do work
        that changes London should definitely apply.'
        &nbsp;
        </p>
        <p>Crossrail
        Ltd has also taken on 13 new graduate trainees this September. The trainees
        will be working on Europe's largest construction project which will transform
        the rail network in London and the South East when it opens in 2018. The
        graduate trainees will work alongside the project management team, contractors
        and designers delivering the Crossrail project.
        &nbsp;
        Crossrail
        Ltd has opened applications for 2015 graduate trainee roles. Successful
        applicants recruited from degree courses in a range of engineering and
        commercial disciplines will join a two-year programme.
        &nbsp;
        </p>
        <p>Dawn Barker, Head of Human Resources at Crossrail said: `Our
        programme gives graduates a fantastic start to their career and provides them
        with the opportunity to work alongside some of the UK's best and most
        experienced professionals in their field. Our graduate trainees won't just help
        with the delivery of Crossrail, we hope that their talent and skills will go on
        to benefit future infrastructure projects in London and around the country.`</p>
        <p>TfL
        and Crossrail Ltd are committed to developing and maintaining the skills and
        talent of their workforce through training, graduate schemes and apprenticeships.
        The two organisations currently employ over 28,000 employees directly and
        support nearly 60,000 jobs outside London with 26,500 of those jobs supported
        in London through their supply chains.
        &nbsp;
        Many
        of these roles are in highly skilled disciplines and TfL and Crossrail Ltd have
        a vital role to play in making sure these skills are maintained and developed
        into the future.
        &nbsp;
        In
        the last four financial years, 449 graduate roles have been created by TfL and
        Crossrail Ltd.</p>
        <hr />
        Notes to Editors:
         
        <ul>
            <li>Pictures of TfL graduates are available on
            request</li>
            <li>Graduates can apply for the 2015 TfL roles
            here <a href="http://www.tfl.gov.uk/graduates">www.tfl.gov.uk/graduates</a></li>
        </ul>
        <p>TfL's graduate schemes include:
        </p>
        <ul>
            <li>
            Business
            analyst</li>
            <li>Civil
            engineering</li>
            <li>Commercial&nbsp;</li>
            <li>Customer
            experience, marketing and communications&nbsp; </li>
            <li>Electrical
            engineering</li>
            <li>Electronic
            engineering</li>
            <li>Finance</li>
            <li>Information
            management</li>
            <li>Management
            (operational and general management)</li>
            <li>Mechanical
            engineering</li>
            <li>Project
            management</li>
            <li>Quantity
            surveying</li>
            <li>Road
            network performance management</li>
            <li>Software
            engineering</li>
            <li>Traffic
            control systems engineering</li>
            <li>Transport
            planning</li>
            <li>Architects</li>
            <li>Environmental
            Engineers</li>
            <li>Commercial Property Practice Surveyors</li>
            <li>Operational
            Management (Surface)</li>
            <li>General
            Management (Surface)</li>
        </ul>
        <ul>
            <li>The estimated job figures for TfL and
            Crossrail Ltd have been provided by Economic Development Consultancy,
            Regeneris.</li>
            <li>The
            Crossrail Ltd graduate scheme is now open to applications at www.crossrail.co.uk/graduates. Successful
            applicants will start in September 2015. </li>
        </ul>
         
         
         
         
         
         
         
         
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-TfL creates over 200 new graduate trainee roles -->

 
 
        
        
            @{ViewBag.Description = "Record number of graduates sought for 2015 across 21 disciplines appealing to candidates from a wide range of backgrounds";}
        
        


 