


@{ViewBag.Title = "TfL's FORS wins international road safety award";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL's FORS wins international road safety award</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL's FORS wins international road safety award</h1>
        <div class="content-page-press-release">
        14 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London fleet quality scheme wins Prince Michael International Road Safety Award
        
    </div>



 <div class="on-this-page">

        <p>Transport for London (TfL)'s
        Fleet Operator Recognition Scheme (FORS) has been awarded a Prince Michael
        International Road Safety Award for its continuing work to improve fleet and
        freight safety across the UK.
        &nbsp;
        </p>
        <p>The Royal Awards, which are presented annually, recognise
        achievements in road safety and are awarded to the most outstanding examples of
        innovation across the world. </p>
        <p>The FORS initiative was awarded the annual Fleet
        Award, sponsored by the Institute of Advanced Motorists, after judges agreed it
        was an outstanding model of its kind, carefully planned and monitored and well
        overdue for recognition.
        &nbsp;
        </p>
        <p>
        Launched in 2008, FORS is a unique industry led accreditation scheme
        which helps operators improve operational performance and safety, measure and
        monitor performance as well as ensure and demonstrate compliance and best
        practice. </p>
        <p>More than 2,200 accredited companies,
        operating over 180,000 vehicles, are now part of the scheme, a third of which
        are in the construction and aggregates industry, leading
        the way to improve the safety of vulnerable road users.
        &nbsp;
        </p>
        <p>The three levels of
        accreditation - Bronze, Silver and Gold - allow fleet operators to raise
        standards within their organisation through education and incentives. As well
        as passing an on-site audit, operators can also chart the progress they are
        making to increase efficiency and monitor the safety of their drivers and
        vehicles.
        &nbsp;
        Analysis
        of collision data shows that, between 2012 and 2013, FORS operators
        reduced&nbsp;injury collisions by 41 per cent and&nbsp;reduced total collisions
        by 25 per cent.&nbsp; </p>
        <p>They also achieved greater levels of legal compliance,
        fundamental to underpinning safe transport operations.</p>
        <p>Despite
        originally being a &quot;London&quot; scheme, around two thirds of FORS accredited
        operators are now based outside&nbsp;the M25. The FORS standard is widely regarded as 'the' national road safety
        and efficiency benchmark for commercial fleet operators.
        </p>
        <p> Many major developers, including Mace, British Land and
        Crossrail, now require fleet operators to be part of FORS to provide a
        demonstration of a commitment to sustainable fleet activities, such as a FORS
        accreditation.
        &nbsp;
        </p>
        <h2>Expansion</h2>
        <p>Building on this, TfL is
        working with the industry to bring an external partner onboard to help expand
        FORS more widely, ensuring it continued success both across London and more
        widely across the UK. The scheme will be officially rolled out across the UK in
        January 2015 and an announcement on the successful partner will be announced
        later this year.
        &nbsp;
        </p>
        <p>
        Announcing the award, Adrian
        Walsh, Director of The Prince Michael Awards, said: `One in three serious
        crashes involve a driver who is at work. FORS is a world-class example of how
        safety can be improved through engagement and leadership and here in London we
        now have a proven programme which is ready to be rolled out across the country
        and indeed internationally.`</p>
        <p>Leon Daniels, Managing
        Director for Surface Transport at TfL, said: `FORS has helped transform how
        fleet and freight vehicles operate in London, encouraging greater compliance,
        better training, lower emissions and improved road safety. We are delighted to
        be awarded this international award, which shows the determination and drive we
        are putting into making London's roads better for all.`
        &nbsp;
        </p>
        <p>For more information about
        the work TfL is carrying out to make freight journeys cleaner, safer and less
        disruptive, please visit <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a>
        and <a href="http://www.fors-online.org.uk">www.fors-online.org.uk</a>.</p>
         
        <hr />
         
         
         
        <p>Since 1987, the Prince Michael
        International Road Safety Awards have given public recognition to
        those who have improved road safety throughout Britain. Now, the Prince Michael
        International Road Safety Awards recognise outstanding achievement and
        innovation worldwide. All road users are invited to nominate initiatives
        that make roads safer. </p>
        <p>Award winners are invited to meet HRH Prince
        Michael of Kent at a Gala Presentation, held annually in December.The awards are organised and managed by RoadSafeFORS
        operators achieve increased levels of legal compliance, fundamental to
        underpinning safe transport operations. </p>
        <p>FORS operators are:</p>
        <ul>
            <li>76 per cent less likely to be involved in
            Licence/insurance offences </li>
            <li>64 per cent less likely to be involved in Most Serious
            Infringements (MSI) offences </li>
            <li>50 per cent less likely to be involved in Drivers
            hours offences </li>
        </ul>
        Through
        the FORS initiative, large numbers of managers, drivers and other
        personnel have benefitted from bespoke training programmes
        <ul>
            <li>More than 5,000 cycle safety toolkits, designed to
            improve the safety of cyclists around commercial vehicles have been distributed
            </li>
            <li>More than 2,500 fleet managers trained</li>
            <li>More than 2,000 drivers have studied the e-learning
            work related and road safety cycle safety modules
            </li>
        </ul>
        In order to achieve Bronze FORS accreditation, freight operators need to undergo a formal audit of their fleet to demonstrate
        legal compliance, commitment to health and safety, managing work-related
        road risk, reducing environmental impact and improving efficiency.<br />
        <p>In order to progress to Silver and Gold FORS level,
        fleet operators will need to develop and complete a plan incorporating a
        number of factors, including fuel efficiency, improving blind spots on
        vehicles and reducing CO2 and particulate emission levels, all
        of which are assessed through active monitoring against a 12 month
        baseline. </p>
         
        By tailoring these plans to the fleet operators needs,
        rather than setting a fixed target, operators can work with TfL to develop
        meaningful, realistic targets that directly help their fleet improve.<br />
        <p>
        Operators will also need to undergo a formal assessment
        of their fleet once a year, to ensure they are still operating to a
        minimum of FORS Bronze standard.</p>
         
        <p>As of 11 October 2014, TfL FORS accreditation figures
        were as follows:
        </p>
        <ul>
        </ul>
         
         
         
         
        <div class="table-container"><table width="327" height="103">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;Operators</td>
                    <td>&nbsp;Vehicles</td>
                </tr>
                <tr>
                    <td>Bronze <br />
                    </td>
                    <td>&nbsp;2089</td>
                    <td>&nbsp;149817</td>
                </tr>
                <tr>
                    <td>Silver</td>
                    <td>&nbsp;154</td>
                    <td>&nbsp;19112</td>
                </tr>
                <tr>
                    <td>Gold</td>
                    <td>&nbsp;30</td>
                    <td>&nbsp;13295</td>
                </tr>
            </tbody>
        </table></div>
         
        <p>One of TfL's top priorities is to reduce the number of
        people killed or seriously injured on London's roads, with a target of a
        40 per cent reduction by 2020. </p>
        <p>Recently, the Mayor and TfL published six
        commitments which, working with a range of partners, are guiding
        initiatives to deliver this. </p>
        <p>In particular, action is being taken to
        prioritise the safety of the most vulnerable road users:&nbsp;
        pedestrians, cyclists and motorcyclists.</p>
        <p>Launched in 2013 as an industry response to a TfL
        commissioned report, the Construction Logistics and Cyclist Safety (CLOCS)
        programme has brought together developers, construction companies, operators,
        vehicle manufacturers and regulatory bodies to ensure a road safety culture is
        embedded across the construction industry.
        Significant achievements have already been made through
        CLOCS.&nbsp; </p>
        <p>Including over 20 construction clients requiring FORS
        accreditation as part of their contracts to help reduce collisions between
        trucks and all vulnerable road users such as cyclists, pedestrians and motorcyclists
        - The Standard for construction logistics: Managing work related road risk
        is fully aligned to the FORS Silver accreditation Further information
        about CLOCS is available at: <a href="http://www.clocs.org.uk.">www.clocs.org.uk</a></p>
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-TfL's FORS wins international road safety award -->

 
 
        
        
            @{ViewBag.Description = "London fleet quality scheme wins Prince Michael International Road Safety Award";}
        
        


 