


@{ViewBag.Title = "The Mayor and TfL consult on Ultra Low Emission Zone";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Mayor and TfL consult on Ultra Low Emission Zone</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Mayor and TfL consult on Ultra Low Emission Zone</h1>
        <div class="content-page-press-release">
        27 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Ultra Low Emission Zone (ULEZ) would significantly reduce the number of people living in areas of poor air quality in London
        
    </div>



 <div class="on-this-page">

        <p>The
        Mayor and Transport for London (TfL) today launched a public consultation on
        proposals to introduce the world's first Ultra Low Emission Zone (ULEZ) in the
        capital on 7 September 2020, to significantly improve air quality and in turn
        the health of Londoners.
        &nbsp;
        </p>
        <p>The
        ULEZ consultation, which runs from today until Friday 9 January 2015, is
        available online at www.tfl.gov.uk/ultra-low-emission-zone
        &nbsp;
        </p>
        <p>The
        groundbreaking proposals would require all vehicles travelling within the
        Congestion Charge zone to meet new emission standards and would be in operation
        24 hours a day, seven days a week.&nbsp; Many vehicles would already meet these
        standards in 2020, however by introducing this requirement next year the Mayor
        and TfL aim to accelerate the take up of low emission vehicles and stimulate
        the low emission vehicle market.&nbsp; The ULEZ will also ensure London's air
        quality improves more quickly, making the capital a more pleasant place to live
        and work, and encourage the use of more sustainable forms of transport.
        &nbsp;
        The
        ULEZ is projected to halve emissions of nitrogen oxide (NOx) and
        particulate matter (PM10) from vehicle exhausts.&nbsp; </p>
        <p>This means
        more than 80% of central London is expected to meet the nitrogen
        dioxide (NO2) annual legal limits in 2020.&nbsp; The ULEZ would also
        lead to a significant reduction in the number of people living in areas of poor
        air quality (where levels of NO2 exceed legal limits) &#45; by 74% in central London, 51% in inner London and 43% in outer
        London.&nbsp;
        &nbsp;
        NO2
        is a gas which in high concentrations can cause breathing problems and increase
        asthma symptoms, with research suggesting that children and young people are
        most adversely affected as high concentrations of the gas restrict lung
        growth.&nbsp; </p>
        <p>The number of care homes, hospitals and schools exposed to high
        levels of NO2 would be halved across London.&nbsp; These positive
        effects will be especially beneficial to the young, older people and those who
        have respiratory problems as well as residents of high pollution areas.&nbsp;
        &nbsp;
        </p>
        <p>The
        introduction of a ULEZ will not, as some critics suggest, lead to a reduction
        in air quality or increased congestion outside of the zone.&nbsp; The majority
        of traffic entering the ULEZ will be from outside the zone &#45; so the benefits of
        cleaner, greener vehicles in the form of reduced emissions will be delivered
        right across London so benefitting Londoners' health.&nbsp;
        &nbsp;
        </p>
        <p>Boris
        Johnson, Mayor of London, said: `Introducing the world's first Ultra Low
        Emission Zone is an essential measure to improve London's air quality and
        reduce NO2 . Safeguarding Londoners' health and well-being is a top
        priority for my administration. I understand that people need adequate time to
        switch to greener vehicles and help is at hand for those who will be hardest
        hit, but let's be clear, we need to make these important changes ASAP to
        continue to improve Londoners' quality of life and give everyone who lives in
        or visits the city the cleanest possible air to breathe.` </p>
         
         
         
        <p>The
        ULEZ proposals would require vehicles travelling in central London to meet the
        following emissions standards, or pay a daily charge:
        &nbsp;
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <ul>
            <li>Cars
            and small vans &#45; Euro
            6 for diesel engines (registered from 1 September 2015 so 5 years old or
            less in 2020) and Euro 4 for petrol engines (registered from 1 January
            2006 so 14 years old or less in 2020). Non-compliant vehicles could still
            drive in the zone but they would be required to pay a daily charge of &pound;12.50</li>
            <li>Large
            vans and minibuses &#45; Euro
            6 for diesel engines (registered from 1 September 2016 so 4 years old or
            less in 2020) and Euro 4 for petrol engines (registered from 1 January
            2007 so 13 years old or less in 2020). Non-compliant vehicles would be required
            to pay a daily charge of &pound;12.50</li>
            <li>Heavy
            goods vehicles, buses and coaches &#45; Euro VI (registered from 1
            January 2014 so 6 years old or less in 2020). &nbsp;Non- compliant vehicles
            would be required to pay a daily charge of &pound;100;
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>Motorcycles
            and similar vehicles &#45; Euro 3
            (registered from 1 July 2007 so 13 years old or less in 2020).&nbsp;
            Non-compliant vehicles would be required to pay a daily charge of &pound;12.50.
            &nbsp; </li>
        </ul>
        <p>As
        part of the ULEZ proposal, TfL is working to reduce emissions from its buses
        alongside taxis and private hire vehicles and to increase the number of zero
        emission capable vehicles.&nbsp; </p>
        <p>This will create demonstrator fleets in
        London, boost industry sales and lead the transition towards this technology.
        &nbsp;
        By
        2020, all double deck TfL buses operating in central London will be
        hybrid and all single deck buses will be zero emission (at point of use).&nbsp;
        This will require substantial investment by TfL and will mean nearly all double
        deck buses operating in inner London will be hybrid and many in outer London
        too.
        &nbsp;
        </p>
        <p>From
        2018, it is proposed there will be a new requirement for all taxis and new
        private hire vehicles presented for licensing in the capital for the first
        time to be zero emission capable. &nbsp;Private hire vehicles would also be
        subject to the ULEZ standards in central London just like other cars and vans
        (and therefore liable for the charge if they don't meet the emissions standards).
        &nbsp;
        </p>
        <p>Taxis
        will be the second largest contributor to NOx and the largest
        contributor to PM10 emissions from road transport in central London
        in 2020. The ULEZ proposes to reduce the London-wide age limit for non zero
        emission capable taxis from 15 years to 10
        years.&nbsp; </p>
        <p>This would substantially reduce emissions from these vehicles
        across London (by 45% for NOx and 71%&nbsp; for PM10)
        and help accelerate the take up of new zero emission capable taxis.
        &nbsp;
        In
        considering the impact of the reduced taxi age limit, the Mayor and TfL are
        proposing a specific fund to assist taxi drivers to replace their vehicles.&nbsp;&nbsp;In
        addition, TfL has been in regular dialogue with the Office for Low Emission
        Vehicles to ensure their new &pound;500m funding allocation specifically supports
        taxi and PHV drivers to purchase zero emission capable vehicles, as well as
        supporting a fund for on-street rapid charging infrastructure.
        &nbsp;
        In
        developing the ULEZ proposal, and in line with the Mayor's aspirations, TfL
        also considered a 'zero emission capable' ULEZ standard for all other vehicles.
        However it was concluded that it would not be feasible or affordable to set
        this requirement for all vehicles for 2020. Nevertheless it is expected that
        such a standard would be appropriate at a later date (eg 2025) and we are
        seeking views on this in principle.
        &nbsp;
        </p>
        <p>Mich&egrave;le
        Dix, Managing Director of Planning at TfL, said: &quot;Improving London's air
        quality is of paramount importance as it affects the health and well-being of
        every Londoner.&nbsp; That's why we are doing everything in our power to
        address emissions from road transport, with the introduction of an Ultra Low
        Emission Zone at the core of our work to improve the capital's air.&nbsp; We
        would urge everyone who lives, works or travels in London to give us their
        views on the ULEZ proposal.&quot;
        &nbsp;
        After
        the consultation closes, TfL will analyse the results of the consultation and
        make a recommendation to the Mayor.&nbsp;The Mayor will then make a decision on
        whether to confirm the scheme order, with or without modifications.&nbsp; As
        the licensing authority for London's taxi and private hire vehicles, TfL will
        decide whether to make changes to the licensing requirement for these vehicles.
        &nbsp;
        Subject
        to confirmation of the ULEZ Scheme Order by the Mayor in spring 2015, this
        would effectively provide a five year notice period prior to the ULEZ coming
        into operation in 2020 and eight years notice for residents of the zone. </p>
         
         
        <hr />
         
        <ul>
            <li>The
            World Health Organisation (WHO) has identified a number of pollutants as a
            major public health concern.&nbsp; The two pollutants of principal concern in
            London are particulate matter (PM10) and nitrogen dioxide (NO2).
            London is now compliant with PM limit values owing to the Low Emission Zone,
            taxi and private hire vehicle age limits, bus retrofit schemes and the natural
            turnover of vehicles. However, London is not forecast to meet the legal limits
            for NO2 until after 2030 &#45; alongside Birmingham and Leeds - unless
            targeted action is taken.</li>
            <li>Since
            the Mayor was elected, the number of people living in areas exceeding NO2
            limits has halved but there is a clear need to take further action. The Greater
            London Authority (GLA) and TfL estimate that a reduction in road transport
            emissions of around 70 per cent is needed for central London to meet EU legal
            limits for NO2 in 2020, with the ULEZ delivering around two-thirds
            of this. In addition to road transport, buildings and construction activity
            contribute significantly to London's air pollution. Further reductions from
            these sources would also help bring compliance forward.
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>The
            ULEZ proposals are projected to achieve a reduction in nitrogen oxide (NOx)
            emissions from road transport in central London of up to 51% broken
            down as: TfL buses (74%), taxis (45%), HGVs (48%),
            non-TfL buses and coaches (50%), cars (42%), vans (38%)
            and motorcycles (15%). It would also achieve a 64% reduction in
            PM10 and a 15%t reduction in CO2 from road
            transport in central London.</li>
            <li>NO2
            is a gas, which at high enough concentrations can cause inflammation of the
            airways and long-term exposure can affect lung function and respiratory
            systems. It can also increase asthma symptoms. NOx is primarily made
            up of two pollutants, nitric oxide (NO) and NO2 and refers to total
            vehicle emissions (both those directly emitted and those formed by chemical
            reactions). Vehicle emissions standards refer to total NOx emissions
            but EU air quality limit values refer to ambient concentrations and are set for
            NO2 as this is the harmful component of the emissions.</li>
            <li>The
            ULEZ standards would be enforced using Automatic Number Plate Recognition
            (ANPR) cameras which are already used for the Congestion Charge. If the daily
            charge has not been paid then a Penalty Charge Notice (PCN) would be issued. It
            is proposed that for cars, vans and motorcycles this would be set at &pound;130
            (reduced to &pound;65 if paid within 14 days) and for HGVs, coaches and buses it
            would be set at &pound;1,000 (reduced to &pound;500 if paid within 14 days) &#45; so in line
            with the Congestion Charge and Low Emission Zone respectively. </li>
            <li>It
            is proposed that residents of the ULEZ will be granted a three year sunset
            period (until 6 September 2023) before any daily charge applies. This is to
            acknowledge that they are unable to avoid the zone and so may require more time
            (up to eight years) to change their vehicle to meet the ULEZ standards.</li>
        </ul>
        <p>The
        proposals for a ULEZ are one of a raft of measures introduced by the Mayor and
        TfL to improve air quality in the capital, including:</p>
        <ul>
            <li>TfL&nbsp;published
            its Transport Emissions Road Map on 10 September 2014. It looks at how to
            reduce emissions from transport in London and&nbsp;reports on what TfL has
            already done and what it may do in the future. It provides a range of possible
            new measures that the Mayor, TfL, London boroughs, the Government, EU and other
            parties should consider to help meet the challenge of reducing air pollutants
            and CO2 emissions in London;</li>
            <li>Tightening
            the Low Emission Zone standards for HGVs, buses and coaches and introducing new
            standards for large vans and minibuses &#45; around 150,000 vehicles needed to take
            action to meet these standards when they came into effect in January 2012;</li>
            <li>Reducing
            emissions by retrofitting more than 1,000 of the oldest buses with special
            equipment to reduce their NOx emissions by up to 88% &#45; with plans to
            increase this number to 1,800;</li>
            <li>Retiring
            the remaining 900 oldest Euro III buses in TfL's fleet and replacing them with
            super-clean Euro VI buses at a cost of &pound;18m;</li>
            <li>
            Accelerating
            the roll out of hybrid buses, with 1,700 to be on the road by 2016, including
            600 of the iconic New Routemaster buses &#45; equivalent to around 20%&nbsp; of
            TfL's bus fleet;</li>
            <li>Retiring
            around 6,000 of the oldest, most polluting taxis by introducing London's first
            taxi age limits:</li>
            <li>Introducing
            new measures to reduce emissions and clean up construction sites, including
            plans for tough new emissions standards for construction equipment in 2015 and
            2020;</li>
            <li>Investing
            almost &pound;1 billion to improve cycling infrastructure and encourage less
            polluting forms of&nbsp;transport. </li>
            <li>In February, research by the Medical
            Research Council suggested the health benefits gained from using the city's
            Cycle Hire scheme outweigh the potential negative impacts from injuries and
            exposure to air pollution;</li>
            <li>Using
            the planning system to require all new development to be &quot;air quality neutral&quot;;</li>
            <li>Retrofitting
            hundreds of thousands of homes and public buildings with energy efficiency
            measures which reduce their emissions, with 400,000 already complete.
            &nbsp; </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-The Mayor and TfL consult on Ultra Low Emission Zone -->

 
 
        
        
            @{ViewBag.Description = "The Ultra Low Emission Zone (ULEZ) would significantly reduce the number of people living in areas of poor air quality in London";}
        
        


 