


@{ViewBag.Title = "Theatre Director celebrated with new Tube exhibition";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Theatre Director celebrated with new Tube exhibition</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Theatre Director celebrated with new Tube exhibition</h1>
        <div class="content-page-press-release">
        02 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Art on the Underground celebrates legacy of pioneering theatre director at Stratford Underground station
        
    </div>



 <div class="on-this-page">

        <p>To celebrate the centenary of the birth of radical
        theatre director Joan Littlewood, artist Mel Brimfield with songwriter and
        composer Gwyneth Herbert will create a site-specific artwork for Stratford
        Underground station, commissioned by Art on the Underground in partnership with
        Theatre Royal Stratford East (TRSE), launching 4 October 2014.
        &nbsp;
        </p>
        <p>
        Art on the Underground will launch their new commission with a
        special one off performance at Stratford Underground station on Saturday 4 October 2014 between 1pm-4pm.&nbsp; </p>
        <p>Mel Brimfield and Gwyneth Herbert will lead this live
        performance alongside Upbeat Choir and East London Brass in Art on the
        Underground's most ambitious live event to date.
        Alongside her
        work in theatre, Littlewood developed plans for a Fun Palace - an
        ever-changing, impermanent space where people could gather, discuss, and
        realise creative ideas. For the centenary of her birth, Art on the Underground
        has commissioned Mel Brimfield and Gwyneth Herbert to respond to the myriad
        aspects of Littlewood's legacy. </p>
        <p>Launching with the performance, the artwork
        unfolds in the station over time, presenting interventions, artworks and a film
        over the coming months.
        &nbsp;
        </p>
        <p>Eleanor Pinfield, Head of
        Art on the Underground, said: `I am delighted that Art on the Underground has
        worked with Mel and Gwyneth on such an ambitious project. Mel's artistic
        approach, encompassing a wide range of media and diverse collaborative
        partners, is an exciting challenge; the performance on 4 October will be the
        biggest live commission by Art on the Underground to date. The Palace that
        Joan Built is a joyful response to the legacy of Joan Littlewood and the
        local character and history of Stratford. This celebratory work will delight
        passengers as they travel through the station.`&nbsp;</p>
         
        <hr />
         
         
         
        <p>Joan Littlewood has a history and relationship with the local area that this project
        will be spotlighting. She established the Theatre Royal Stratford East as a
        permanent home for her company 'Theatre Workshop' and took her performances out
        on the streets, and in doing so, sowed the seeds for early community arts and
        collaborative practice. Littlewood is best known for productions such as 'A
        Taste of Honey' (1958) and 'O What a Lovely War' (1963).&nbsp;&nbsp;&nbsp;
        &nbsp;
        </p>
        <p>About the Performers on the 4th
        of October:
        &nbsp;
        </p>
        <ul>
            <li>Twelve members of Upbeat Choir
            will perform on the day along with 26 members of East London Brass. Led by Paul
            Higgs, these two locally based music groups will accompany Gwyneth Herbert and
            her band as they perform the soundtrack from Brimfield's forthcoming film,
            launching February 2015.
            &nbsp;
            </li>
        </ul>
        <p>About
        the artist and collaborators:
        &nbsp;</p>
        <ul>
            <li>
            Mel
            Brimfield: Collaborative
            projects are at the centre of Brimfield's practice.&nbsp; The ongoing creative
            partnerships Brimfield has developed with a diverse array of talented, highly
            respected performers enable a distinctive approach to the production of her
            work, and the modes of its presentation in both visual art and theatre
            contexts.&nbsp; Taking a skewed and tangled romp through the already vexed
            historiography of performance art, Brimfield has produced work ranging from
            photographs, short films, and musical theatre productions to interdisciplinary
            cabarets and performance festivals spanning several days that simultaneously
            reveal and invent a rich history of collaboration between artists, dancers,
            theatre makers, political activists and comedians.
            <a href="http://www.cerihand.co.uk/artists/5/mel-brimfield/ ">http://www.cerihand.co.uk/artists/5/mel-brimfield/</a>
            &nbsp;
            </li>
        </ul>
        <ul>
            <li>Dickie
            Beau is
            an alternative cabaret artist and theatre maker, whose practice combines
            traditions of clowning, vaudeville, physical theatre and mime.&nbsp; Extending
            the conventional drag technique of lip-synching, he adopts a variety of vocal
            masks to deliver technically dazzling performative analyses of cultural
            history.&nbsp; His 'scripts' comprise collaged fragments of appropriated spoken
            word recordings interspersed with film, with subjects including Francis Bacon,
            Marilyn Monroe and Orson Welles.&nbsp; Melancholy, hilarious and
            psychologically astute, his embodiment of obscure archival material is
            uncannily revelatory. &nbsp;He performs in a diverse array of venues,
            including art galleries, nightclubs, theatres, schools, cabaret bars, museums,
            and at arts and film festivals.&nbsp; He has worked extensively with
            performance collective Duckie on a range of socially-engaged performance
            projects, as well as leading public engagement arts projects of his own, most
            notably for the Southbank Centre. Dickie also leads workshops and seminars
            emerging from his practice and has completed workshops for the Live Art
            Development Agency and Fierce Festival, the University of Manchester and Merchant
            Taylors School, Hertfordshire.
            <a href="http://www.dickiebeau.com   ">http://www.dickiebeau.com</a>
            &nbsp;
            </li>
        </ul>
        <ul>
            <li>John
            Hegley is
            a well-known and much-loved poet, comedian and songwriter with a performance
            career spanning 35 years. He performs one man shows at theatres and comedy
            venues around the country throughout the year, and festival highlights include
            sell-out Edinburgh Fringe and Book Festival runs, Glastonbury, Latitude,
            Shambala, Hay and the Southbank's Poetry Parnassus. He has published 20 books
            via Methuen, Serpents Tail, Bloodaxe and Donut Press and is committed to
            undertaking education workshops as a central part of his varied practice for
            numerous schools, mental health authorities and the British Council.&nbsp; He
            is a regular feature on BBC Radio 4.
            <a href="http://www.johnhegley.co.uk">http://www.johnhegley.co.uk</a>
            &nbsp;
            </li>
        </ul>
        <ul>
            <li>
            Gwyneth
            Herbert is
            an extraordinary vocalist and songwriter who has appeared frequently as a
            performer in Brimfield's live and film work. She was originally signed by
            Universal Classics and Jazz, but after her first album left to independently
            release her second, and was subsequently signed to Blue Note.&nbsp; She has
            since released a further three albums.&nbsp; Herbert has co-written a musical
            with playwright Diane Samuels, &nbsp;work-shopped at the National
            Theatre with a cast including Paul Kaye and Sophie Thompson, undertaken
            a residency at Snape Maltings, and recorded the favourite songs of Oscar Wilde,
            Thomas Hardy and Queen Victoria for David Owen Norris's BBC Radio 4 iPod
            series. Herbert has played sold-out performances of her own songs at venues up
            and down the country throughout, (including Ronnie Scott's, Queen Elizabeth
            Hall, Purcell Rooms, 100 Club, Shepherd's Bush Empire and Leicester Square
            Hippodrome).&nbsp; She was composer in residence at two schools in Hampshire as
            part of the Cultural Olympiad. In 2013 Herbert wrote and performed 'The Sea
            Cabaret' at the Wilton Music Hall.&nbsp;
            <a href="http://www.gwynethherbert.com/who">http://www.gwynethherbert.com/who</a>
            </li>
        </ul>
        <p>Gwyneth
        Herbert's band:
        </p>
        <ul>
            <li>Al Cherry - guitar
            Dave Manington - double bass
            </li>
            <li>Dave Price - percussion and fiddle
            </li>
            <li>Ned Cartwright - piano</li>
            <li>
            Ian Shaw &#45; vocalist</li>
            <li>Paul Higgs &#45; trumpet and piano&nbsp;
            Paul
            Higgs is
            a long-term collaborator, and has been the musical director, composer, arranger
            and multi-instrumentalist for all of Brimfield's large-scale live performance
            and film works in the last four years at the Whitechapel Gallery for the
            Government Art Collection, Camden Arts Centre, Yorkshire Sculpture Park,
            Performance Matters (Trashing Performance), Ceri Hand Gallery and Lancaster
            Institute for the Contemporary Arts.&nbsp; He has worked extensively as a
            composer and musical director on dozens of productions for the National Theatre
            and Royal Shakespeare Company, and is the composer and arranger of numerous
            scores for TV, film and radio.
            <a href="http://www.phiggs.co.uk">http://www.phiggs.co.uk</a>
            &nbsp; </li>
        </ul>
        <ul>
            <li>Art
            on the Underground
            &nbsp;
            Art
            on the Underground (AOTU), the official art programme for Transport for London
            (TfL), provides a world-class programme of contemporary art that enriches the
            Tube environment and customers&sup1; journey experience; and continues the
            longstanding tradition that excellent art and design is at the core of London
            Underground's identity and services. The programme operates through a number of
            different strands and includes temporary and permanent commissions displayed on
            large scale single station sites such as Gloucester Road and other stations
            throughout the network; a series of commissions for the front cover of the
            Pocket Tube map; a film programme at Canary Wharf Underground station; and a
            programme of line-based commissions, which revolve around a particular theme
            and line. The line based series has so far included the Piccadilly line (Thin
            Cities), the Jubilee line (One Thing Leads to Another Everything is Connected)
            and the Central line (Central Line Series).
            &nbsp; </li>
            <li>For
            London Underground's 150th Anniversary in 2013, Art on the Underground
            commissioned Turner Prize winning artist Mark Wallinger to create Labyrinth,
            a permanent artwork for each of the 270 stations on the network, as well as 15
            for 150 &#45; fifteen new tube posters designed by Pablo Bronstein, Melissa
            Gordon, Runa Islam, Idris Khan, Sarah Lucas, Goshka Macuga, Robert Orchardson,
            Martha Rosler, Nedko Solakov, Frances Stark, Corin Sworn, Wolfgang Tilmans,
            Gillian Wearing, Lawrence Weiner and Haegue Yang. </li>
            <li>2014
            has seen the launch of Art on the Underground's first project on the river,
            with a commission by Clare Woods for TfL's London River Services, as well as
            the 20th in the pocket Tube map cover series: The Hole of London
            2014, by Rachel Whiteread.
            <a href="http://art.tfl.gov.uk/">http://art.tfl.gov.uk/</a> </li>
        </ul>
        <p>
        </p>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Theatre Director celebrated with new Tube exhibition -->

 
 
        
        
            @{ViewBag.Description = "Art on the Underground celebrates legacy of pioneering theatre director at Stratford Underground station";}
        
        


 