


@{ViewBag.Title = "Tube delays down compared to same period last year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tube delays down compared to same period last year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tube delays down compared to same period last year</h1>
        <div class="content-page-press-release">
        13 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Latest performance figures
        from Transport for London (TfL) show delays on the London Underground (LU) have
        fallen compared to the same period last year.</p>
        <p>Figures published by LU for
        Periods 3 and 4 (25 May to 19 July) for the current year show that delays on
        the Tube fell by 8% and 20% respectively, compared to the same
        periods for last year.&nbsp; </p>
        <p>This is a continuation of year-on-year decreases
        in delays on the Tube and demonstrates that LU remains on track to meet the
        Mayor's commitment to reduce delays by a further 30% by 2015.
        &nbsp;
        The figures follow 2013/14's
        record performance, when LU carried 1.265bn passengers. Passenger numbers are now
        up by a third over the last ten years. This continuing trend of long-term
        improvement on the Tube follows the success of the London Underground
        Reliability Programme, introduced in 2011.
        &nbsp;
        </p>
        <p>Phil Hufton, LU's Chief
        Operating Officer, said: &quot;Demand for Tube services has never been greater which
        is why our drive to improve reliability is vital. Customers have already
        benefited from the upgrades of Jubilee and Victoria lines and work is well
        underway to modernise the Northern, Circle, District, Hammersmith &amp; City
        and Metropolitan lines.
        &nbsp; </p>
        <p>`It is all part of a
        continuing programme to modernise the Tube with major improvements to stations,
        trains, track and signalling, which will provide more capacity for the growth
        of London.`
        </p>
        <p>LU is carrying out a huge
        programme of modernisation, with major stations, trains, track and signalling
        being updated or replaced to provide more capacity for a growing city.
        &nbsp;</p>
        <p>The line upgrades are at the core of LU's investment programme, which
        will deliver more than 30% increase in capacity. &nbsp;The upgrade
        programme is being delivered over the coming years, with work to modernise the
        Northern line nearly complete, and the Circle, District, </p>
        <p>Hammersmith &amp; City
        and Metropolitan lines well underway.
        &nbsp;
        Redevelopment work to
        increase capacity at key stations and make them step-free is underway at a
        number of stations including Victoria, Tottenham Court Road and Bond
        Street.&nbsp; </p>
        <p>More than half of LU's 270 stations have now been modernised or
        refurbished to make them brighter and easier to use, with improvements such as
        tactile strips, better CCTV and help points, electronic information displays in
        ticket halls and on platforms and improved seating and lighting.
        </p>
         
        <hr />
        &nbsp;
        &nbsp;
         
        <ul>
            <li>The performance figures for Periods 3 and 4 can be found at:&nbsp;<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/underground-services-performance">http://www.tfl.gov.uk/corporate/publications-and-reports/underground-services-performance</a> </li>
            <li>Delays
            on the Tube have
            been reduced by 40 per cent between 2007 and 2011. LU is on track to meet its
            commitment of a further 30 per cent reduction in delays by 2015.&nbsp;
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Tube delays down compared to same period last year -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 