


@{ViewBag.Title = "Willesden Jct works to give 25% boost for Overground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Willesden Jct works to give 25% boost for Overground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Willesden Jct works to give 25% boost for Overground</h1>
        <div class="content-page-press-release">
        23 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platforms and tracks upgraded for five-car trains over five day period
        
    </div>



 <div class="on-this-page">

        <p>Customers are reminded that next week work will begin at Willesden Junction station
        which will help to deliver a 25% capacity increase on the London Overground network.
        </p>
        <p>It will mean a partial suspension of the Bakerloo line and some London
        Overground services connecting to Wille<a href="Default.aspx#" class="reTool reTool_selected" title="Align Left (CTRL+E)" unselectable="on"><span class="JustifyLeft" unselectable="on"></span></a>sden Junction for a five day period.
        &nbsp;
        </p>
        <p>The
        platform extension work is part of Transport for London's (TfL) continuous
        programme of investment and delivery of passenger benefits to London Overground
        and will enable its trains to be lengthened to five carriages. The extension
        works will take place at Willesden Junction between 29 October and 2 November.
        &nbsp;
        </p>
        <p>TfL's
        Director of London Overground, Mike Stubbs,
        said: `I apologise for the inconvenience caused but these works are essential
        for the high-performing London Overground service to continue to grow to meet
        increasing demand. Before we can deliver to passengers a fifth carriage and the
        benefits of extra space and a more comfortable commute, we need to extend not
        only the platform at Willesden Junction low level station but also carry out
        some track work there.
        &nbsp;
        </p>
        <p>`To
        help reduce disruption, we have scheduled the work for the mid-term break which
        always sees reduced numbers of passengers.`</p>
        <p>Because
        the works involve Willesden Junction's Platform 2, Bakerloo Tube line services
        which use the low level part of the station are also affected.
        &nbsp;
        </p>
        <p>The
        works are part of a &pound;320m, 25% capacity increase programme across the
        London Overground network. To accommodate the longer trains, station platforms
        across the network are being extended, train depots upgraded and expanded, new
        train stabling facilities built and alterations made to the signalling system.
        </p>
        <p>London
        Overground achieved one of the UK's highest scores for passenger satisfaction
        (91% compared to a national average of 82%) in the results of a
        survey published earlier this year by independent transport watchdog, Passenger
        Focus. The railway also regularly scores in the top three places in Network
        Rail's monthly performance and punctuality tables. In the most recent period 14
        September to 11 October, 95.7% of London Overground trains reached
        their terminating station within five minutes of their scheduled arrival time.
        This compares with the national average for the period of 90.1%.</p>
         
         
        <p>
        </p>
        <hr />
        Between
        29 October and 2 November, there will be no service on the:
         
        <ul>
            <li>Bakerloo line between Queen's Park&nbsp;and Harrow &amp;
            Wealdstone (on the 29th from 21:30)</li>
            <li>London Overground between Queen's Park and Harrow &amp;
            Wealdstone (on the 29th from 21:30) and between Queen's Park and
            Wembley Central (from 30 Oct &#45; 2 Nov)</li>
        </ul>
         
         
         
         
        <p>Passengers
        are encouraged to use alternative routes. London Midland services between
        Euston and Watford will be accepting valid London Underground and Overground
        tickets. A replacement bus service will also operate. Visit <a href="http://tfl.gov.uk/londonoverground">tfl.gov.uk/londonoverground</a>
        for more details or follow <a href="http://&#64;LDNOverground">&#64;LDNOverground</a> / <a href="http://&#64;bakerlooline">&#64;bakerlooline</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>London
        Overground trains will operate between Queen's Park and Euston (to the south of
        the closed section) and between Harrow &amp; Wealdstone and Watford Junction on
        the 29th and between Wembley Central and Watford Junction from the
        30th &#45; 2nd (to the north)</p>
        <p>Bakerloo
        line trains will run between Queen's Park and Elephant &amp; Castle</p>
        <p>A
        replacement bus service will operate on the following route during the week:</p>
        <ul>
            <li>Queen's
            Park &#45; Kensal Green &#45; Willesden Junction &#45; North Acton (for the Central line) &#45;
            Harlesden &#45; Stonebridge Park &#45; Wembley Central</li>
        </ul>
        <p>On
        Wednesday 29 October (from 21:30), this service will be extended from Wembley
        Central as follows:</p>
        <ul>
            <li>North
            Wembley &#45; Preston Road (for the Metropolitan line and South Kenton) &#45; Kenton &#45;
            Harrow &amp; Wealdstone, as London Overground trains will only run between
            Harrow &amp; Wealdstone and Watford junction after 21:30.</li>
        </ul>
        <p>On
        Thursday 30 and Friday 31 October, additional rail replacement buses will run
        every 15 minutes (peak hours only) in both directions to connect with the
        Jubilee line:</p>
        <ul>
            <li>Carpenders
            Park &#45; Stanmore (non-stop)</li>
            <li>Hatch
            End &#45; Headstone Lane - Stanmore</li>
        </ul>
        <p>On
        30/31 October, valid rail tickets will be accepted on Jubilee line services
        between West Hampstead and Stanmore. Alternatively, customers can use London
        Midland services between Euston and Harrow &amp; Wealdstone/Watford Junction.</p>
        <p>The
        first longer trains will be introduced on the Highbury &amp; Islington to New
        Cross/Crystal Palace/West Croydon/Clapham Junction routes later this year,
        followed by the Richmond/Clapham Junction to Stratford&nbsp;line by the end of
        2015.</p>
        <p>For
        more information on the capacity improvement works visit <a href="http://tfl.gov.uk/londonoverground">www.tfl.gov.uk/overgroundcapacity</a>
        .</p>
         
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Willesden Jct works to give 25% boost for Overground -->

 
 
        
        
            @{ViewBag.Description = "Platforms and tracks upgraded for five-car trains over five day period";}
        
        


 