


@{ViewBag.Title = "Year of the Bus Sculpture Trails unveiled";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Year of the Bus Sculpture Trails unveiled</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Year of the Bus Sculpture Trails unveiled</h1>
        <div class="content-page-press-release">
        17 October 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        28 New Routemaster bus sculptures, painted and adorned by well-known and aspiring artists, unveiled in Trafalgar Square
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These bus sculptures are a stunning addition to the capital's streetscape.  Whether you are wandering along the Thames, re-exploring Queen Elizabeth Olympic Park or out and about in the West End &#45; you can admire these beautifully and individually designed artworks"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>41 sculptures will be displayed &#45; on walking trails &#45; at prominent locations across the capital from 20 October for a minimum of 7 weeks</li>
            <li>By December there will be 60 sculptures with the unveiling of a Croydon trail</li>
            <li>The sculptures will be auctioned early next year with the proceeds shared between Kids Company, Transaid and London Transport Museum&nbsp;&nbsp; </li>
        </ul>
        <p>Twenty-eight New Routemaster bus sculptures, painted and adorned by well-known and aspiring artists were this morning unveiled against the iconic backdrop of Trafalgar Square.&nbsp; The sculptures form a collection of up to 60 bus sculptures, commissioned by Transport for London (TfL), which will be placed across London on four walking trails as part of the Year of the Bus.&nbsp; The first three trails will be installed for the public to enjoy from Monday 20 October with a fourth following before Christmas.</p>
        <p>The walking trails &#45; the first three of which are &quot;Around Westminster&quot;, &quot;Around the River&quot; and &quot;Around Queen Elizabeth Olympic Park&quot; &#45; are being delivered with creative events company Wild in Art.&nbsp; The fourth sculpture trail will be in Croydon.</p>
        <p>The Bus Sculpture Trail project is part of TfL's celebrations to mark the Year of the Bus and aims to promote walking, to highlight the vital role the bus plays in the capital and to raise money for charity. &nbsp;</p>
        <p>The sculptures, which are 2.5m long, 1m high and 0.5m wide have been sponsored by various organisations and will remain on public display for a minimum of seven weeks.&nbsp; They will then be brought together in a final display at the end of the project before being auctioned early next year, to raise invaluable funds for three charities: Kids Company, Transaid and London Transport Museum.&nbsp;&nbsp; &nbsp;</p>
        <p>Leon Daniels, TfL's Managing Director for Surface Transport, said: </p>
        <p>'These bus sculptures are a stunning addition to the capital's streetscape.&nbsp; Whether you are wandering along the Thames, re-exploring Queen Elizabeth Olympic Park or out and about in the West End &#45; you can admire these beautifully and individually designed artworks.&nbsp; The best way to see them is on foot and we have arranged them in accessible trails that everyone can enjoy.&nbsp; What is fantastic is that these sculptures also allow us to promote British artists, the bus industry, encourage walking and raise money for three admirable charities.'&nbsp; </p>
        <p>Charlie Langhorne, Director of Wild in Art, said: 'Our events are designed to bring the enjoyment of public art to thousands of people while offering new ways to explore the city.&nbsp; The buses are a fantastic spectacle and showcase a wonderful wealth of artistic talent.&nbsp; We hope everyone will enjoy exploring the trails'. </p>
        <p>Events and activities are being held throughout 2014 to celebrate TfL's Year of the Bus, in partnership with London Transport Museum and the capital's bus operators &#45; specifically the role that London buses, bus drivers and the staff who support them play in keeping the capital moving.&nbsp; The Year of the Bus also marks a number of important anniversaries including 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</p>
        <p>During the Year of the Bus TfL has worked on a number of high profile collaborations including with the world-famous Fender guitar manufacturer whose Stratocaster guitar celebrated its 60th anniversary this year; with LEGO to install an operational bus stop and shelter on Regent Street made entirely out of LEGO and a special Routemaster Google Doodle on the Google.co.uk homepage.&nbsp; The Year of the Bus has also seen the first ever series of live music performances on board a New Routemaster bus as part of Oxjam, and 'bus stop top' exhibitions along the Strand from renowned photographers Juergen Teller and David LaChapelle.</p>
        <p>There's still time for businesses wanting to be part of the Year of the Bus Sculpture Trail to sponsor one of the Croydon trail sculptures.&nbsp; Interested organisations should email yearofthebus&#64;tfl.gov.uk to find out more.</p>
        <p>The Year of the Bus is supported by and delivered in partnership with Exterion Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.&nbsp; Cubic Transportation System Ltd have sponsored 10 of the sculptures.</p>
        <p>ENDS</p>
        <p>Notes to Editors</p>
        <ol>
            <li>Photos of New Routemaster bus sculptures in Trafalgar Square and of sculptures that have already been painted and adorned &#45; and will be part of the Year of the Bus sculpture trail &#45; are available on Flickr at: <a href="https://www.flickr.com/photos/tflpress/sets/72157648389362150/">https://www.flickr.com/photos/tflpress/sets/72157648389362150/</a></li>
            <li>London buses carry 6.5m passengers a day and, alongside the Tube &#45; which carries around 4m each day &#45; provide the backbone of London's transport network.&nbsp; It's one of the largest bus networks anywhere in the world, with a 8,600-strong bus fleet, operating across around 700 routes serving 19,500 bus stops.&nbsp; Despite its size, the bus network remains flexible and able to adapt to the challenges of operating in a constantly changing streetscape.&nbsp;&nbsp;</li>
            <li>Wild in Art is one of the leading creative producers of spectacular, mass-appeal public art events which engage residents and tourists alike, through the creation of citywide trails of uniquely painted sculptures.&nbsp; From Gromit sculptures in Bristol to crashes of rhinos in S&atilde;o Paulo and parades of elephants in Melbourne, Wild in Art events have animated cities and enthralled people the world over, raising over &pound;5m for charity partners along the way.&nbsp; Wild in Art also provide unique art education resources which engage and inspire young people and enhance learning across the curriculum.&nbsp; Wild in Art 2014 events include: Wild Dolphins in Aberdeen; Ready Steady Gallop in Hamilton (South Lanarkshire); Books about Town in London and Christchurch Stands Tall in Christchurch (New Zealand). For more information visit <a href="http://www.wildinart.co.uk">www.wildinart.co.uk</a></li>
            <li>Kids Company was founded by Camila Batmanghelidjh in 1996.&nbsp; They provide practical, emotional and educational support to inner-city children, young people and vulnerable families.&nbsp; Their services reach 36,000 young people across London and Bristol, including the most deprived and at risk whose parents are unable to care for them due to their own practical and emotional challenges.</li>
            <li>Transaid is an international development charity.&nbsp; They identify, champion, implement and share local transport solutions to improve access to basic services and economic opportunity for people in Africa and in developing countries.&nbsp; Transaid was founded by Save the Children and The Chartered Institute of Logistics and Transport and their Patron is HRH The Princess Royal.</li>
            <li>London Transport Museum in Covent Garden highlights the vital role transport has played in the life of the capital.&nbsp; They also work with more than 150,000 children each year delivering essential travel safety education to keep our children safe, and they run programmes to help young people into employment.</li>
            <li>For more information about Year of the Bus events, visit <a href="http://www.tfl.gov.uk/yearofthebus">www.tfl.gov.uk/yearofthebus</a> and <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a>&nbsp;</li>
        </ol>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-October-Year of the Bus Sculpture Trails unveiled -->

 
 
        
        
            @{ViewBag.Description = "Year of the Bus Sculpture Trails unveiled";}
        
        


 