


@{ViewBag.Title = "Advice to DLR passengers in event of 48hr strike on 3-4 Nov";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to DLR passengers in event of 48hr strike on 3-4 Nov</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to DLR passengers in event of 48hr strike on 3-4 Nov</h1>
        <div class="content-page-press-release">
        30 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">
<p>Transport for London (TfL) has today advised DLR customers to check the TfL website for the latest information about planned strike action by the RMT union, which would affect services on Tuesday 3 and Wednesday 4 November.</p>
<p>The strike has been called by the RMT leadership who are in a dispute with KeolisAmey Docklands, who operate the DLR on behalf of TfL.</p>
<p>It is scheduled to take place between 03:59 am on Tuesday 3 November and 03:58am on Thursday 5 November and it is unlikely that any DLR services will operate during these times if the strike goes ahead. All other TfL services which connect to the DLR network will be operating as usual.  The start of services may be affected on the morning of Thursday 5 November, as services get up and running. Customers are advised to check the TfL website for service updates.</p>
<p>Enhanced bus services will operate on key routes along the DLR network and there will also be a limited replacement bus services at key locations to connect DLR customers to the Tube network.</p>
<p>The Jubilee, Central, District and Hammersmith &amp; City lines in East London and London Overground between Highbury and Surrey Quays are expected to be much busier than usual due to the DLR strike. Stations that interchange with the DLR - Canning Town, Bank, Stratford, Canary Wharf and Canada Water stations - will be exceptionally busy.</p>
<p>Rory O'Neill, TfL's Director of DLR, said: `If the strike goes ahead, KeolisAmey Docklands say that it is unlikely that any DLR services will run.  TfL bus, Tube and rail services will be operating as normal, extra buses will run on key routes and staff will be available to help. Customers are advised to use our website to plan ahead.</p>
<p>&quot;As other TfL services, particularly in east London are likely to be busier than normal, we ask customers who are able to consider avoiding the busiest times if they can. We would urge the RMT not to subject customers to disruption and to continue discussions with KeolisAmey Docklands to settle the dispute.'</p>
<p>TfL staff will be on hand to provide travel information and advice and customers can keep up-to-date on the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on the TfL website at www.tfl.gov.uk</li>
    <li>Travel alerts will be provided through Twitter on &#64;TfL, &#64;TfLTravelAlerts and &#64;LondonDLR</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins.</li>
</ul>
<hr />
<p>If the strike goes ahead customers are asked to remember:
</p>
<p>•	Pay as you go with an Oyster or contactless payment card can be made on all TfL services<br />
•	Pay as you go is accepted for almost all National Rail journeys within Greater London;<br />
•	Travelcards are also valid for travel on National Rail within the zones purchased;</p>
<p>Customers are advised that the following will apply:</p>
<ul>
    <li>Single/return printed tickets valid on DLR services issued on the day are bought at the customer's risk and will not be reimbursed</li>
    <li>These single/return printed tickets will be accepted on bus services (reasonable routes only) to allow people to complete their journeys</li>
    <li>They will not be valid on other Tube or rail services. Customers switching to other services must buy a ticket for the journey they intend to make</li>
    <li>Travelcard season tickets will be accepted on alternative services within their zone validity, as normal. Customers travelling outside their zones will be charged a pay as you go fare. This will not be refunded</li>
    <li>Day Travelcards bought in advance may be refunded if surrendered before the day of validity - otherwise no refunds will be given</li>
    <li>PAYG users will be charged the appropriate fare for the journey for the service(s) used, whether that's bus, Tube, London Overground, TfL Rail, National Rail or river bus servicesValid travel tickets will be accepted on the Emirates Air Line. Emirates Air Line services will be extended, running between 0600-2100 on Tuesday 3rd and between 0600-2200 on Wednesday 4th</li>
</ul>
<p>Please remember that service delay refunds are suspended during strike action.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Advice to DLR passengers in event of 48hr strike on 3-4 Nov -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 