


@{ViewBag.Title = "Enforcement Partnership to make London's streets safer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Enforcement Partnership to make London’s streets safer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Enforcement Partnership to make London’s streets safer</h1>
        <div class="content-page-press-release">
        13 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New London Freight Enforcement Partnership to tackle unsafe HGVs
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're determined to clear London's streets of unsafe HGVs, so I'm delighted that we have launched the London Freight Enforcement Partnership. The lessons learned from our successful Industrial HGV Task Force have been adopted by the new partnership, which will make our streets even safer for all road users and help build a fairer industry for all freight operators"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Expertise from TfL, the DVSA, and London's policing agencies brought together</li>
    <li>Joint intelligence-led targeting of rogue freight operators to make London's streets even safer</li>
    <li>Industrial HGV Task Force celebrates two successful years of enforcement</li>
</ul>
<p>London's streets are set to be safer for all road users, following the formation of a new London Freight Enforcement Partnership.</p>
<p>The partnership will build on the work of Transport for London (TfL) and partner agencies in recent years, including the Industrial HGV Task Force and Commercial Vehicle Units. It will further tackle unsafe HGVs, and take any non-compliant and unsafe commercial vehicles, drivers and operators off London's streets.</p>
<p>It was launched today by London's Transport Commissioner, Mike Brown MVO and Chairman of Network Rail and Chair of the London Freight Enforcement Partnership, Sir Peter Hendy CBE, alongside representatives from London's police forces, the Driver and Vehicle Standards Agency (DVSA) and the freight industry.</p>
<p>The partnership, between TfL, the DVSA, the Metropolitan Police Service and the City of London Police, will enhance the agencies' enforcement work through better co-ordination of intelligence at both a strategic and tactical level.</p>
<p>The London Freight Enforcement Partnership will include more than 90 DVSA and police officers and a team of analysts, sharing intelligence and carrying out joint enforcement operations. Together they will have a range of expertise and powers to comprehensively address infringements, particularly by those who persistently do not comply with the law. This will also help the agencies work with the commercial vehicle industry to put serially non-compliant companies in London out of business.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'We're determined to clear London's streets of unsafe HGVs, so I'm delighted that we have launched the London Freight Enforcement Partnership. The lessons learned from our successful Industrial HGV Task Force have been adopted by the new partnership, which will make our streets even safer for all road users and help build a fairer industry for all freight operators.'</p>
<p>Sir Peter Hendy, CBE, Chairman of Network Rail and Chair of the London Freight Enforcement Partnership, said: </p>
<p>'Working in a partnership, with shared expertise and intelligence, will help deliver even greater enforcement against rogue and unsafe freight operators who continue to not comply with the law and with the regulations. I am pleased to be chairing the London Freight Enforcement Partnership, which will act tirelessly to make London's streets safer for all, particularly cyclists and pedestrians.'</p>
<p>The London and South East Traffic Commissioner, Nick Denton, said: </p>
<p>'As the industry regulator for HGV operators, I have seen the value of the Industrial HGV Task Force first hand in the many licence holders who have been brought to my attention due to their failure to meet basic vehicle and driver safety standards.</p>
<p>'I therefore welcome the formation of this new enforcement partnership, which aims to build on the work of the Task Force, and shares two of the key objectives of the traffic commissioners &#45; to reduce the burden on compliant operators and deal with those who pose the greatest risk to road safety.'</p>
<p>Transport Minister, Lord Ahmad, said: </p>
<p>'The London Freight Enforcement Partnership builds on the success of the Industrial HGV Task Force. By working together, officers from different agencies will use their experience and knowledge to deter and detect illegal activity by freight operators and drivers.</p>
<p>'The Government is committed to improving road safety and innovative initiatives such as this help to keep the Capital's roads safe.'</p>
<p>This month also marks the second anniversary of the Industrial HGV Task Force (IHTF), which has had great success in targeting the most dangerous commercial vehicles. The Task Force, jointly funded by TfL and the Department for Transport, acts as a deterrent against non-compliant companies that attempt to undercut those operating legitimately.</p>
<p>Since October 2013, more than 6,030 vehicles have been targeted and stopped, 87 vehicles seized, 4,500 prosecutions progressed through the Criminal Justice System and 2,134 fixed penalty notices issued for offences including:</p>
<ul>
    <li>Lack of insurance</li>
    <li>Driving without the correct licence</li>
    <li>Unsafe tyres</li>
    <li>Vehicle not equipped with cycle safeguards</li>
    <li>Not accurately recording driver hours</li>
</ul>
<p>The London Freight Enforcement Partnership will also make the most of powers at their disposal. This will include better use of automatic number plate recognition (ANPR) technology for targeting vehicles and feeding reports about identified operator and driver non-compliance to the Traffic Commissioner.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editor:</p>
<ul>
    <li>The Industrial HGV Task Force is a joint partnership between TfL, DVSA, the Metropolitan Police Service (MPS) and City of London Police (CoLP) to drive a reduction in the minority of non-compliant vehicles, drivers and operators using London's roads through intelligence-led enforcement action. The dedicated team run regular on-street enforcement operations to help build up an intelligence picture on the most dangerous commercial vehicles and operators.</li>
    <li>On 22 June TfL announced a newly funded Commercial Vehicle Unit, run by the City of London Police, to crack-down on dangerous vehicles in the City. In its first month of operation they stopped 136 vehicles and enforced against 95 dangerous vehicles. The new team complements the already established Metropolitan Police Service (MPS) Commercial Vehicle Unit and the Industrial HGV Task Force, working across London enforcing against dangerous commercial and construction vehicles and their drivers.</li>
    <li>The Safer Lorry Scheme began on 01 September 2015 and ensures that lorries more than 3.5 tonnes are fitted with blindspot mirrors and sideguards to protect cyclists and pedestrians. The scheme operates across the whole of London &#45; except for motorways &#45; and is enforced by, among others, the London Freight Enforcement Partnership.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Enforcement Partnership to make London’s streets safer -->

 
 
        
        
            @{ViewBag.Description = "New London Freight Enforcement Partnership to tackle unsafe HGVs and make London’s streets safer ";}
        
        


 