


@{ViewBag.Title = "Famous voices to take over the transport network this London Poppy Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Famous voices to take over the transport network this London Poppy Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Famous voices to take over the transport network this London Poppy Day</h1>
        <div class="content-page-press-release">
        28 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Acting legend, Brian Blessed has hopped back on London's transport network to join a host of other famous voices and football stars to encourage commuters to donate to The Royal British Legion's Poppy Appeal on 29 October 2015. Other celebrities include Danny Dyer, Jo Brand, Trevor Nelson, Ian Lavender, Arsene Wenger, John Terry and Harry Kane.</p>
<p>The famous voices will be heard across the Tube network, at London's biggest and busiest railway stations and also on London's Trams. The poppy message will also be displayed across 2,500 roadside countdown systems at bus stops. London Poppy Day is part of the national Poppy Appeal that aims to raise as much money as possible in a single day to support the whole Armed Forces community.
</p>
<p>In what has now become an annual tradition, two Circle line Tube trains will be wrapped in the poppy livery, as well as nine London buses. All London Underground, London Overground and DLR trains will also have poppies on the front and back of every train.</p>
<p>King's Cross, Canary Wharf, Tottenham Court Road, Liverpool Street, Westminster and Waterloo Tube stations will also be dressed in the poppy design in support of the appeal. Poplar station on the DLR will also be partially branded in the famous poppies.</p>
<p>A giant poppy will greet visitors to King's Cross railway station and Waterloo railway station will host a poppy installation. Military bands will entertain commuters and station visitors at selected locations.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `We are proud to support The Royal British Legion's annual London Poppy Day appeal in honour of the 4,500 transport workers, and all others from across the country, who have given their lives in both World Wars and other conflicts.</p>
<p>`Our transport network has once again been covered in the eye-catching poppy livery and customers travelling around the Capital will be entertained by famous voices making some special announcements.</p>
<p>Phil Hufton, Network Rail's managing director of network operations, said: `Network Rail has long supported the work of the Royal British Legion and our armed forces and proudly welcomes volunteer collectors and military personnel into our stations. On behalf of the RBL, we would like to thank our passengers and stations' visitors for their generous contributions to this important cause.</p>
<p>`Visitors to London Victoria station can also visit the rail industry's WWI exhibition, which commemorates the vital contribution made by thousands of railway workers, both men and women and the sacrifices that were made.'</p>
<p>Charles Byrne, Director of Fundraising for The Royal British Legion, said: `London Poppy Day wouldn't be what it is without the people behind it. What started with 10 people in 2006 has undoubtedly grown in size but it's still the thousands of individuals behind it that make it what it is today. From the uniformed collectors stationed across the city to the volunteers and musicians, we're grateful to Londoners for getting in the spirit of the day and showing their support to the Armed Forces community.'</p>
<p>TfL will be providing free travel to all volunteer collectors on 29 October. The train companies will also be providing free travel to all volunteer collectors coming to London by train between 28 to 30 October, to support the London Poppy Day fundraising event.</p>
<p>On London Poppy Day, there will be around 2,500 uniformed personnel, veterans and volunteers collecting at around 50 Tube and main line stations. This year also marks the 92nd year of the London Transport Old Comrades Association, who will continue the tradition of marching alongside the Armed Forces and laying a wreath at the Cenotaph in the Annual Remembrance Sunday parade on 8 November.</p>
<p>London's bus staff were given the right to march by King George V who granted this honour to the staff of the London General Omnibus Company in 1920, in recognition of the services rendered by the men who drove buses to the front line in France and Belgium from 1914-1918.</p>
<p>Since November 2008, war veterans have been able to travel on the Tube, DLR, Overground, TfL, National Rail services within London, London buses and Trams for free with a Veterans Oyster Photocard as part of the Mayor's voluntary concessionary travel scheme. Over 7,500 veterans currently benefit from the Veteran Oyster photocards.  This scheme is particularly beneficial to veterans who live in London and are not yet eligible for a 60+ London Oyster Photocard or Freedom Pass.</p>
<p>TfL secured sponsorship from a number of its suppliers to display poppies across its transport network. The sponsors are: Carillion, Cleshar, Thales, Interserve, Amey, Bombardier, MJ Quinn, Mace, TOL, First Group, Costain Laing O'Rourke Joint Venture , Stagecoach, Abellio, Arriva, Go-Ahead, Metroline and London United .</p>
<p>Ends<br />
Notes to Editors<br />
Images of all the wrapped vehicles and celebrity recordings are available at &#45; <a href="https://www.flickr.com/photos/tflpress/albums/72157660024560529">https://www.flickr.com/photos/tflpress/albums/72157660024560529</a><br />
•	The celebrities whose voices will be heard across the transport network in support of The Royal British Legion's campaign are:</p>
<div class="table-container"><table align="left" style="width: 761px; height: 1585px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top;">Celebrities and footballers</td>
            <td><br />
            </td>
        </tr>
        <tr>
            <td>Brian Blessed<br />
            </td>
            <td>Hyde Park Corner, Green Park, Vauxhall, Embankment,Blackfriars, Angel, Kilburn, Rayners Lane</td>
        </tr>
        <tr>
            <td>
            <p>&nbsp;Marcus Bentley (Voice of Big Brother)</p>
            </td>
            <td>Euston, Aldgate, Moorgate</td>
        </tr>
        <tr>
            <td>&nbsp;Danny Dyer</td>
            <td>Charing Cross, Shepherds Bush, Piccadilly Circus, Stratford, West Ham, Canning Town, Waterloo, Tramlink</td>
        </tr>
        <tr>
            <td>&nbsp;Jo Brand</td>
            <td>&nbsp;Brixton, Borough, Paddington, Old Street, Canning Town, Stratford</td>
        </tr>
        <tr>
            <td>&nbsp;Peter Dickson</td>
            <td>&nbsp;Oxford Circus, Ealing Broadway, Stockwell, Temple</td>
        </tr>
        <tr>
            <td>&nbsp;Stephen Fry</td>
            <td>
            <p>London Bridge, Canary Wharf, Leytonstone, Oval, Leicester Square</p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;Sir Derek Jacobi</td>
            <td>&nbsp;Chalk Farm, Knightsbridge, Theydon Bois, Tottenham Hale</td>
        </tr>
        <tr>
            <td>&nbsp;Ian Lavender</td>
            <td>&nbsp;Liverpool Street</td>
        </tr>
        <tr>
            <td>&nbsp;Trevor Nelson</td>
            <td>&nbsp;Barbican, St James's Park, Victoria, Clapham North, Cannon Street, Tower Hill, Bond Street</td>
        </tr>
        <tr>
            <td>&nbsp;Barbara Windsor</td>
            <td>&nbsp;Westminster, Great Portland Street, Baker Street, Bank/ Monument, Covent Garden, Westminster, Oval</td>
        </tr>
        <tr>
            <td>&nbsp;Arsene Wenger (Arsenal FC)</td>
            <td>Arsenal, Finsbury Park, Highbury &amp; Islington, Holloway Road, Caledonian Road, Tottenham Hale</td>
        </tr>
        <tr>
            <td>&nbsp;John Terry (Chelsea FC)</td>
            <td>Fulham Broadway, West Brompton, Earls Court</td>
        </tr>
        <tr>
            <td>&nbsp;Charlie Austin (QPR)</td>
            <td>Wood Lane, White City, Latimer Road, Ladbroke Grove</td>
        </tr>
        <tr>
            <td>&nbsp;Chris Ramsey (QPR)</td>
            <td>Wood Lane, White City, Latimer Road, Ladbroke Grove</td>
        </tr>
        <tr>
            <td>&nbsp;Jamie O'Hara (Fulham FC)</td>
            <td>Putney Bridge, Hammersmith, Parson's Green</td>
        </tr>
        <tr>
            <td>&nbsp;Ben Pringle (Fulham FC)</td>
            <td>Putney Bridge, Hammersmith, Parson's Green</td>
        </tr>
        <tr>
            <td>&nbsp;Harry Kane (Tottenham Hotspur)</td>
            <td>Tottenham Court Road, White Hart Lane, Seven Sisters, Tottenham Hale</td>
        </tr>
        <tr>
            <td>&nbsp;Ryan Mason (Tottenham Hotspur)</td>
            <td>Tottenham Court Road, White Hart Lane, Seven Sisters, Tottenham Hale</td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: top;">&nbsp;Mark Noble (West Ham)</td>
            <td style="text-align: left; vertical-align: top;">West Ham, Upton Park, East Ham, Plaistow</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Famous voices to take over the transport network this London Poppy Day -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 