


@{ViewBag.Title = "First section of North-South Cycle Superhighway opens ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First section of North-South Cycle Superhighway opens </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First section of North-South Cycle Superhighway opens </h1>
        <div class="content-page-press-release">
        20 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two-way 800m section north from Elephant & Castle to Blackfriars Road via St George's Road has opened
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is another key moment in the evolution of cycling in our great city. We promised world-class facilities and that's exactly what's being delivered on the ground
‎"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Latest milestone in the creation of safer cycle superhighway networks</li>
    <li>Traffic already returning to similar levels seen before the work began ‎</li>
</ul>
<p>The first section of a safe, segregated cycle route that will ultimately run from Elephant &amp; Castle to Kings Cross has opened &#45; six months after the Mayor helped dig out the first piece of tarmac.</p>
<p>Transport for London (TfL) has completed the two-way 800m section, from Elephant &amp; Castle to the Peabody estate on Blackfriars Road, and engineers continue to work at pace to complete the new route. The new North-South section will intersect with the new Quietway 1 from Waterloo to Greenwich at Webber Street, as well as the existing Cycle Superhighway 7 at Princess Street.<br />
‎<br />
It's the latest milestone in the creation of the Mayor and TfL's cycle networks, and as new routes are completed and other major improvements are finished, the traffic impact across London will start to reduce.</p>
<p>Already, congestion levels along St George's Road have greatly eased since work finished. At certain times, especially outside the peak hours, traffic is reducing back to similar levels seen before the work began, but with the added benefits of better cycle facilities and pedestrian crossings.<br />
‎<br />
Mayor of London, Boris Johnson MP, said: </p>
<p>'This is another key moment in the evolution of cycling in our great city. We promised world-class facilities and that's exactly what's being delivered on the ground. We appreciate there's disruption going on as this network of routes takes shape alongside other major development work in London, but TfL is pulling out all the stops to minimise delays. The opening of this section of superhighway is an important part of our mission to get more Londoners cycling safely, offering a fantastic new segregated route for thousands of people making a trip from north to south.'<br />
‎<br />
In the new year, cyclists will be able to travel from Elephant and Castle to Blackfriars Bridge along the new North-South route, with Blackfriars Road transformed from a car-dominated street into a new urban boulevard with almost 20,000 square feet of new space for pedestrians and a two-way segregated cycle track.<br />
‎<br />
The link across Blackfriars Bridge will open to cyclists by spring 2016, connecting it with the East-West Cycle Superhighway and Farringdon. The North-South route will be co-branded Cycle Superhighway 6, bringing it into the wider Cycle Superhighway network.<br />
‎<br />
Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'It's incredible that in just six months we have managed to transform these roads into a truly continental cycling landscape. A cyclist travels along the North-South corridor every two seconds in the peak, and the new protected route will provide a direct, safer journey for thousands of new and experienced cyclists. We will continue building these routes, both here and more widely across London, thanking local residents and businesses for their patience as we do so.'<br />
‎<br />
The East-West and North-South routes were consulted on in autumn 2014, receiving over 21,000 responses. More than 84 per cent of people backed the plans and hundreds of businesses joined a campaign to show their support. Independent opinion polling also showed overwhelming public backing for the new routes.<br />
‎<br />
In addition to the North-South route, since March 2015, work has been progressing with the East-West route from Tower Hill to Westbourne Terrace. Two other segregated superhighways are also under construction: the upgrade of Cycle Superhighway 2 from Aldgate to Bow and the new Cycle Superhighway 5 from Oval to Pimlico, which will open next month. All these routes will be built by summer 2016 alongside other transformative junction improvements at Elephant &amp; Castle, Stockwell and Oval.</p>
<p>Councillor Darren Merrill, Cabinet Member for public realm and environment at Southwark Council, said: </p>
<p>'The new North-South Cycle Superhighway complements the council's existing plans to improve cycling facilities in the borough. We're determined to see cycling levels increase amongst people of all backgrounds, abilities and ages. The Superhighway works especially well with our plans for a new Quieter route, the Southwark Spine, which offers a direct and easy to navigate route from the Elephant and Castle to Dulwich in the south of the borough. We look forward to rolling this out once we've consulted fully with residents.'<br />
‎<br />
Ian Mehrtens, Chief Operating Officer at London South Bank University, said: </p>
<p>'Cycling is an important form of transport for many students and staff at London South Bank University. The North-South Cycle Superhighway is a welcomed step towards even safer cycling to and from our campus, and provides a more pleasant cycling and walking environment. We look forward to more sections opening, so visitors to the campus can travel in comfort right across the city.'</p>
<p>During these works, drivers are strongly advised to plan alternative routes to avoid delays, particularly during peak travel times. TfL is working hard to minimise disruption, with roadside message signs alerting drivers to any closures and live travel information provided at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> and on Twitter at &#64;tfltrafficnews and &#64;tflbusalerts.<br />
‎</p>
<hr />
<p >‎<br />
Notes to Editors:<br />
‎<br />
•	In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital: <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision</a>.</p>
<p>•	Throughout the delivery of the Cycle Superhighways and other transformative schemes under the Road Modernisation Plan, TfL's skilled traffic engineers have been developing traffic management plans to ensure that the impacts on all road users are kept to a minimum. Sophisticated traffic signal technology, which allows better management of traffic depending on differing conditions at any given time, is used to ensure that key routes and junctions are controlled in real-time to help keep traffic moving.</p>
<p>•	The initial design work for the North-South Cycle Superhighway was carried out by TfL's in-house design and modelling team. The detailed design and construction works are being carried out by CVU, a member of the London Highway Alliance (LoHAC), under supervision by TfL.</p>
<p>•	TfL has written to local residents and businesses and details of the sections of work taking place and delivery timeline can be found on the TfL website here: <a href="http://www.tfl.gov.uk/northsouth">www.tfl.gov.uk/northsouth</a>.</p>
<p>•	Recent analysis by TfL shows that nearly two thirds of potentially cyclable trips are currently made by car and four in ten potentially cyclable trips are made for shopping and leisure purposes. By delivering these cycling improvements across the whole of London, it is hoped that more people can be encouraged to take to two wheels, helping to reduce congestion while still supporting local businesses.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-First section of North-South Cycle Superhighway opens  -->

 
 
        
        
            @{ViewBag.Description = "First section of Mayor's North-South Cycle Superhighway opens ";}
        
        


 