


@{ViewBag.Title = "Mayor and TfL finalise ULEZ requirements for taxi and minicab trades";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL finalise ULEZ requirements for taxi and minicab trades</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL finalise ULEZ requirements for taxi and minicab trades</h1>
        <div class="content-page-press-release">
        26 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        World's first Ultra Low Emission Zone will significantly reduce the number of people living in areas with poor air quality
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Ultra Low Emission Zone is the most ambitious measure of its kind in the world and we need everyone on board for it to be a success"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><strong>Some information in this press release has changed &#45; the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a> page has the most up to date information&nbsp;</strong></p>
<p>The Mayor and TfL have today confirmed to the taxi and private hire trades how they will play their part in improving London's air quality when the world's first Ultra Low Emission Zone (ULEZ) is introduced in the Capital in 2020.</p>
<p>From 1 January 2018, all taxis licensed for the first time must be zero emission capable, while new diesel taxis will not be allowed in London.</p>
<p>For private hire vehicles, there are several milestones which will ensure that all vehicles granted a private hire licence for the first time after 1 January 2023 will be zero emission capable, regardless of age:</p>
<ul>
    <li>In advance of the ULEZ requirements, and to clean up the private hire fleet, all private hire vehicles licensed for the first time between 1 January 2018 and 31 December 2019 must feature a Euro 6 petrol or diesel engine, or a Euro 4 petrol-hybrid engine</li>
    <li>From 1 January 2020 all new private hire vehicles &#45; defined as those under 18 months old &#45; licensed for the first time will have to be zero emission capable</li>
    <li>Older private hire vehicles &#45; those over 18 months old &#45; will need to feature a Euro 6 engine when licensed for the first time between 1 January 2020 and 31 December 2022. They will also need to be zero emission capable from 2023</li>
</ul>
<h2>&pound;65m of funding </h2>
<p>This follows a second consultation with the taxi and private hire trades, stakeholders and the public on proposed licensing changes ahead of the ULEZ.</p>
<p>The Mayor and TfL have secured &pound;65m of funding to help taxi drivers achieve a target of 9,000 zero emission capable taxis by 2020.</p>
<p>Up to &pound;5,000 will be available to taxi drivers who want to decommission their vehicle once it reaches 10 years of age, with the exact amount depending on the age of the vehicle.</p>
<p>As well as this, a &pound;5,000 plug-in car grant is available through the Office for Low Emission Vehicles (OLEV), to which a &pound;3,000 'top-up' grant can be added. The same OLEV plug-in grant is also available for private hire drivers.</p>
<h2>Effective and sustainable</h2>
<p>The 15-year age limit for taxis will remain in place, but the decommissioning scheme will encourage cabbies to remove the oldest, most polluting vehicles from the fleet and upgrade to new zero emission capable taxis.</p>
<p>The scheme is intended to tackle the problem of air quality in London in an effective and sustainable way, while also taking into account the challenges currently facing the trade.</p>
<p>The Mayor of London, Boris Johnson MP, said: 'The taxi and minicab trades have a crucial role to play in helping to improve London's air quality. This is why we have made them a central part of our Ultra Low Emission Zone plans.</p>
<p>'We understand this will take time and that is why we are giving financial assistance to help clean up these vehicle fleets. The Ultra Low Emission Zone is the most ambitious measure of its kind in the world and we need everyone on board for it to be a success.'</p>
<h2>Improving air quality</h2>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'It is clear that we need to take significant action to address the problem of poor air quality in London and that transport will need to play a central role.</p>
<p>'The Ultra Low Emission Zone, which will be introduced in 2020, will be an effective way of improving air quality across the city as a whole.  But we are not waiting until then to make major improvements.</p>
<p>'The measures we are setting out will encourage owners of taxis and minicabs to take action now, and sets a course towards cleaner taxi and private hire trades and a cleaner London.'</p>
<p>In March, following a positive consultation process, the Mayor of London, Boris Johnson, confirmed that the world's first Ultra Low Emission Zone will be launched in central London on 7 September 2020, significantly improving air quality and helping to protect the health of Londoners.</p>
<p>TfL is committed to ensuring all 300 single-decker buses operating in the Ultra Low Emission Zone are zero emission at point of use (e.g. electric or hydrogen-powered) by 2020.  Additionally, all 3,100 double-deck buses operating in central London will be hybrid, including 800 of the Mayor's New Routemasters.</p>
<h2>Deliver air quality benefits </h2>
<p>TfL is also proposing the retrofitting of 400 Euro 5 buses that operate outside the Ultra Low Emission Zone to bring them up to Euro 6 emission standards.  These 3,800 buses will deliver air quality benefits well ahead of 2020 across the whole of London.</p>
<p>With these new requirements in place, alongside additional funding for Low Emission Neighbourhoods in central London and support for other double decker bus operators, the overall package is projected to nearly halve emissions of oxides of nitrogen (NOx) from vehicle exhausts in central London.</p>
<p>This means more than 80% of central London is expected to meet the nitrogen dioxide (NO2) annual legal limits in 2020.</p>
<p>The Ultra Low Emission Zone will also significantly reduce the number of people living in areas of poor air quality (where levels of NO2 exceed legal limits) by 72% in central London and 54% across London.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors</strong>:</p>
<ul>
    <li>TfL is the licensing authority for taxis and private hire vehicles (PHVs) in London</li>
    <li>The Ultra Low Emission Zone emission standards will be in operation 24 hours a day, seven days a week within the Congestion Charging zone. Drivers who do not comply will have to pay a daily charge</li>
    <li>Any PHV meeting the criteria set out in categories 1, 2 or 3 of the OLEV plug-in car grant eligibility criteria will be regarded by TfL as zero emission capable (ZEC).   A ZEC PHV must be Euro 6 (minimum) and either:</li>
</ul>
<ol>
    <li>emit ≤50g/km CO2 exhaust emissions (at tailpipe) and be capable of being operated with zero exhaust emissions for a minimum range of 10 miles, or;</li>
    <li>emit ≤75g/km CO2 exhaust emissions (at tailpipe) and be capable of zero emission operation for a minimum range of 20 miles.</li>
</ol>
<ul>
    <li>A ZEC taxi is considered to be a pure electric or hybrid vehicle that is Euro 6 (minimum) and capable of running in zero emission (at tailpipe) mode for all or part of the time (maximum 50g/km CO2 and minimum zero-emission range of 30 miles). If the taxi has an internal combustion engine as part of a hybrid system, then it must be a petrol engine</li>
    <li>All new cars and taxis sold from 1 September 2015 will meet Euro 6, with some sold up to a year earlier also meeting the standard. TfL's website has more information: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone?cid=ultra-low-emission-zone">www.tfl.gov.uk/ultra-low-emission-zone</a></li>
    <li>A formal policy review of the taxi fleet will be undertaken by TfL in early 2020 to gauge progress on both the voluntary decommissioning scheme to remove 10 years-old-plus vehicles and the uptake of the new ZEC taxis.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Mayor and TfL finalise ULEZ requirements for taxi and minicab trades -->

 
 
        
        
            @{ViewBag.Description = "World’s first Ultra Low Emission Zone will significantly reduce the number of people living in areas with poor air quality";}
        
        


 