


@{ViewBag.Title = "Santander Cycles app gets new interactive map to help customers find closest docking stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles app gets new interactive map to help customers find closest docking stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles app gets new interactive map to help customers find closest docking stations</h1>
        <div class="content-page-press-release">
        09 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        App already downloaded 120,000 times in less than six months with one in every 12 hires now made through the app
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are always updating and adding features, which we hope will encourage more people to take to two wheels and explore London by bike"</div>
        <div class="quote-footer">
            <div class="quotee-name">James Mead</div>
            <div class="quotee-job-title">General Manager of Santander Cycles</div>
        </div>
</div>

 <div class="on-this-page">
<p>The popular Santander Cycles app has been updated to make it even easier for customers to use.</p>
<p>Following the upgrade, users of the app can now scroll across the docking station map, helping them easily and accurately plot routes across London and find docking stations close by.</p>
<p>The new updates were implemented based on comments from users through the app stores and social media channels.</p>
<p>Cyclists can view their nearest docking station and availability of bikes, as well as hire a bike by getting a 'release code' straight to their phone. This means anyone can now hire a Santander Cycle without having to use the on-street docking station.</p>
<h2>Proven popular</h2>
<p>The free app, commissioned by TfL, Santander and Serco and developed by Corethree, has proven popular since it was launched in May with more than 120,000 downloads.</p>
<p>James Mead, General Manager of Santander Cycles, said: 'Around 2,500 bikes a day are now hired using the app, which is a fantastic step forward for the scheme - it's great to see so many people using it.</p>
<p>'We are always updating and adding features, which we hope will encourage more people to take to two wheels and explore London by bike.'</p>
<h2>Fun, rewarding and easy</h2>
<p>Keith Moor, Chief Marketing Officer or Santander UK, said: 'Santander's vision when signing up to sponsor London's Cycle Hire scheme was to make the experience fun, rewarding and easy.</p>
<p>'We've worked hard, and will continue to do so, to make the Santander Cycle Scheme one which other schemes look to for inspiration.</p>
<p>'The Santander Cycles App is a great innovation that helps users find cycles, locate free docking stations, plan routes and, of course, hire a Santander Cycle.'</p>
<h2>Strength-to-strength</h2>
<p>Ashley Murdoch, CEO of Corethree said: 'Developing the Cycle Hire application with Serco, TfL &amp; Santander has been a very rewarding project for Corethree.</p>
<p>'We have been delighted by the impressive download numbers of the app.  It's interesting to see how people are using the bikes too, using our powerful data collection and reporting system.</p>
<p>'We look forward to watching the user numbers grow and working closely as a team to add further features over time.'</p>
<p>London's Cycle Hire scheme has grown from strength-to-strength since launching in July 2010, with now almost double the number of bikes (6,000 to 11,500).</p>
<p>Nearly 45 million journeys have been made in the five years of the scheme, with a record 73,000 hires made in one day, and more than seven and a half million hired during 2015 already.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>Direct links to download the app are:</li>
</ul>
<ol>
    <li>Google Play (Android) https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB</li>
    <li>Apple Appstore (iOS) https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8</li>
</ol>
<ul>
    <li>Six fun facts about the usage of the new app include:</li>
</ul>
<ol>
    <li>The app has now been downloaded more than 120,000 times with a new download taking place on average every 100 seconds</li>
    <li>Of the 120,000 downloads, around 75% have an eye for Apple products, where as 25% are more Android fans</li>
    <li>Using the app, more than 170,000 bikes have been hired - the equivalent of around 40 per hour since the app launched</li>
    <li>The longest journey taken has been 15km &#45; about the length from Balham to Tottenham Court Road</li>
    <li>It seems Londoners and tourists love Waterloo with the docking station at Waterloo Station having the most use</li>
    <li>The most regular journey after hiring through the app is Waterloo Station 3 to Newgate Street, St Pauls.</li>
</ol>
<ul>
    <li>For more information, or to become a member of Santander Cycles, visit tfl.gov.uk/santandercycles</li>
    <li>The new app was developed on behalf of Santander Cycles by Corethree. Corethree is a fast growing mobile technology business, relentlessly evolving to solve problems and create new opportunities through mobile.  It integrates disparate data points to create simple, easy to use solutions to maximise revenues and improve customer service.  Core Engine is the beating heart of the business; a robust tool box that creates scalable, innovative mobile solutions.  www.corethree.net</li>
    <li>The scheme has more than 750 docking stations, now covering over 100km of central and inner London. More than 90 Underground stations and a number of major rail stations, such as Clapham Junction, Liverpool Street, Paddington and Putney are now all within a short walk of a docking station, making the scheme and easy and fun way to get around the Capital for commuting or leisure.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Santander Cycles app gets new interactive map to help customers find closest docking stations -->

 
 
        
        
            @{ViewBag.Description = "App already downloaded 120,000 times in less than six months with one in every 12 hires now made through the app";}
        
        


 