


@{ViewBag.Title = "TfL gives pedal power to community groups across London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL gives pedal power to community groups across London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL gives pedal power to community groups across London </h1>
        <div class="content-page-press-release">
        29 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        31 groups awarded up to &pound;10,000 to fund cycling projects over a three year period
        
    </div>

<div class="on-this-page">
<p>Transport for London (TfL) has awarded 31 community groups and not-for-profit organisations with grants of up to &pound;10,000 to help encourage more people to cycle, as part of Cycling Grants London (CGL).</p>
<p>CGL is a new programme funded by TfL and managed by the environmental regeneration charity, Groundwork, to offer funding to community groups for cycling projects. Community groups from across London will use the funding to promote pedal power through initiatives such as cycle training, bike maintenance and guided rides.</p>
<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: `We are determined not to leave anyone behind in the cycling revolution sweeping our city. This is why we are committed to supporting community groups to get more people cycling, more safely, more often.'</p>
<p>Lindy Kelly, Executive Director of Groundwork London, said: `We've had a fantastic response to the first funding round of the new Cycling Grants London programme, with over 80 community groups submitting applications for cycling projects across the Capital. We're thrilled that together with TfL we've been able to award 31 with grants this year and will be working with those who weren't successful this time, to support them in applying again in 2016.'</p>
<p>Some of the projects that have received up to &pound;10,000 over three years are:</p>
<ul>
    <li>Wheels for Wellbeing, Lambeth - &pound;10,000 to provide led rides for adults who are less likely to cycle</li>
    <li>Beethoven Bikers, Westminster/Lambeth- &pound;9,600 to deliver cycle training, bike  mechanic sessions and a bike hire service to local residents on low incomes</li>
    <li>Limehouse Women's Cycling Project - &pound;9,995 to train women from the Bengali  community to help increase their confidence to cycle</li>
    <li>Born to Ride, Lewisham - &pound;9,786 to teach bike maintenance to young adults on bikes, which will be donated to a charity and allow participants to refurbish their own bikes as well as organise cycle trips on quiet routes</li>
    <li>Brothers on Bikes, Redbridge/Newham - &pound;4,908 to encourage Muslims and other minority groups to cycle for leisure, physical exercise and as an alternative to driving and using public transport</li>
    <li>Somerville Safer Cycling Families, Lewisham - &pound;10,000 to provide cycle training and bike maintenance for families to increase their confidence on the road</li>
    <li>Somerford Grovers Community Bike Project, Haringey - &pound;3,000 to offer led family bike rides, 12 bike maintenance and repair sessions for low income families and increase the number of bikes available to loan</li>
    <li>ReSpoke - Gascoigne Cycle Centre, Barking &amp; Dagenham - &pound;2,924 for cycle repair and maintenance training for the local community</li>
    <li>Build a Bike course, Westminster - &pound;3,000 to deliver a three day bike repair course for homeless people to help attendees gain knowledge of bicycle maintenance. Course participants can keep the bikes they work on</li>
    <li>Core Cycling, Hackney - &pound;3,000 to promote cycling as an alternative to driving or using public transport and as a healthy activity, with sessions delivered in supported educational environments. Project also includes short trips to the road track in the Lea Valley Velopark</li>
    <li>Women and Gender Variant Night/Events, Hackney - &pound;3,000 to conduct free evening bike maintenance sessions and group bike rides in and out of London</li>
</ul>
<p>More than 5,000 new recruits to cycling from across the Capital will benefit from the London Cycling Grants in the first year (2015/16). TfL is investing almost &pound;1 billion in a programme of improvements to transform cycling in London as part of the Mayor's Cycling Vision. This includes new Cycle Superhighways, Quietways, Mini Hollands, the easy-to-use Santander Cycles and free or subsidised cycle training in all London boroughs. TfL also offers organisations without cycling facilities up to &pound;10,000 worth of cycling products and services to help encourage employees to cycle to work.</p>
<p>More information on Cycling Grants London is available at <a href="http://cyclinggrants.london">cyclinggrants.london</a> and for further information on TfL's other cycling initiatives visit <a href="http://tfl.gov.uk/cycling">tfl.gov.uk/cycling</a></p>
<hr />
<ol>
    <li>Projects are expected to help build the confidence of infrequent or new cyclists from all backgrounds and increase the uptake of cycling by those under-represented in cycling at present, such as women, children and young people, who may be limited by income, equipment, health, ability, skills or information.</li>
    <li>The grants were previously known as 'Community Cycling Funds for London' (CCfL) and were administered by the London Cycling Campaign (LCC).</li>
    <li>TfL has funded over 300 community based cycling activities since 2003.</li>
    <li>Workplaces in London with five or more employees are entitled to free support and services including cycle parking, cycle safety checks, safety seminars and cycle skills sessions to encourage cycling to work. Visit <a href="http://tfl.gov.uk/cyclingworkplaces">tfl.gov.uk/cyclingworkplaces</a> to find out more and register for the scheme.</li>
    <li>Groundwork London is a social and environmental regeneration charity. For almost 20 years they have been at the forefront of environmental and social regeneration in London; changing places and lives for the better, in some of the capital's most disadvantaged neighbourhoods. For more information visit <a href="http://www.groundwork.org.uk/london">www.groundwork.org.uk/london</a></li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-TfL gives pedal power to community groups across London  -->

 
 
        
        
            @{ViewBag.Description = "31 groups awarded up to £10,000 to fund cycling projects over a three year period";}
        
        


 