


@{ViewBag.Title = "TfL releases land for 10,000 homes across the Capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL releases land for 10,000 homes across the Capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL releases land for 10,000 homes across the Capital</h1>
        <div class="content-page-press-release">
        20 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL land released for the development of thousands of new homes over the next decade, with 67 per cent in Zones 1 and 2
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL's plans will build on the great efforts we've already made at City Hall to ensure brownfield land that has laid empty for years is put to productive use in providing much-needed housing for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Over 300 acres of TfL land will also support vital new offices and retail units, helping to create jobs</li>
    <li>Developments are part of TfL's plans to raise &pound;3.4bn in commercial revenue, to support homes, jobs and growth across London</li>
    <li>New programme complements TfL's Growth Fund that is creating thousands of homes and jobs</li>
</ul>
<p>Transport for London (TfL) is to release more than 300 acres of land to help create more than 10,000 new homes across London.</p>
<p>The TfL land will be developed over the next decade to provide vital new homes, offices and retail units to support London's rapidly growing population and the Capital's contribution to the economy of the country. Sixty-seven per cent of this phase of development is in travel Zones 1 and 2.</p>
<p>London's population is set to grow from a record 8.6m today to around 10m by 2030. TfL's ambitious plans aim to generate &pound;3.4bn in non-fares commercial revenue by 2023 to reinvest in London's transport, supporting jobs and economic growth. TfL will be working with planning officers in local councils to maximise the amount of affordable and social housing that is delivered.</p>
<p>The new land-release programme is in addition to the work of TfL's &pound;360m growth fund, which is creating more than 50,000 homes and 30,000 jobs by supporting 14 transport projects across London that are directly unlocking development.</p>
<p>The Mayor of London has pledged to have an exit strategy for all City Hall owned land by the end of his term in 2016, with 99 per cent now freed up for development to help deliver thousands of much needed new homes. The London Land Commission, driven by the Mayor, will also map all land owned by public authorities in London for the first time, to identify further opportunities for housebuilding.</p>
<p>The Mayor of London, Boris Johnson said: </p>
<p>'TfL's plans will build on the great efforts we've already made at City Hall to ensure brownfield land that has laid empty for years is put to productive use in providing much-needed housing for Londoners. It's important that all key agencies work together to accelerate the rate of housebuilding across the Capital and redevelop land and assets wherever possible to deliver more homes.'</p>
<p>TfL is one of the largest landowners in the Capital, with assets ranging from Zone 1 locations such as London Bridge and Oxford Circus to sites in Zone 6 areas, such as Northwood. In total, TfL owns around 5,700 acres. While much of that land remains part of the operational transport network and is not simple to develop, TfL is determined to work with all partners &#45; the Mayor, London's boroughs and the commercial property development sector &#45; to bring forward all that it can in innovate and creative ways, to respond to London's needs in terms of infrastructure, housing and commercial and retail property.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
<p>'We're determined to use our assets to help create more homes and jobs for Londoners. As the custodians of some of the best assets in the Capital, it is right that we explore every opportunity to maximise the use of our land. This next phase of development will see us working with our partners to turn those plans into reality. All revenue raised from the developments will be reinvested into the transport network, helping us to bear down on fares and continue to support London's economic growth and booming population.'</p>
<p>TfL's unique range and scale of property in its portfolio include:</p>
<ul>
    <li>Listed buildings that offer the opportunity for residential conversions such as the historic 55 Broadway, which is being developed into new homes including affordable housing.</li>
    <li>Major regeneration schemes in urban centres such as Northwood.</li>
    <li>Brownfield developments in inner and outer London such as Hanworth Road in Hounslow.</li>
    <li>Mixed use and residential developments over stations and depots at locations such as Southwark Tube station and Parson's Green Depot.</li>
</ul>
<p>Francis Salway, Chairman of TfL's Property Advisory Group, said: </p>
<p>'Transport for London has a substantial long term programme to deliver development opportunities around transport nodes. It is absolutely the right thing for it as a public organisation to utilise its assets to deliver the vital homes, offices and retail that will not only create jobs, but deliver revenue for it to reinvest in its network. This is an exciting time and I'm delighted to be working with them to deliver for Londoners.'</p>
<p>Baroness Jo Valentine, Chief Executive of London First, said: </p>
<p>'This is good news, which will raise funds to improve London's transport infrastructure, while also helping deal with the shortage of housing and office space in central London.'</p>
<p>Some of the 300 acres will be developed as part of property development partnerships that TfL announced in February this year. TfL is currently evaluating the bids of the potential partners, with the final partner announced in the coming months.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>A video explaining why TfL is taking this new approach is available at <a href="https://www.youtube.com/watch?v=S8tGcubHBMo&amp;feature=youtu.be">https://www.youtube.com/watch?v=S8tGcubHBMo&amp;feature=youtu.be</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-TfL releases land for 10,000 homes across the Capital -->

 
 
        
        
            @{ViewBag.Description = "TfL to release land for over 10,000 homes across the Capital";}
        
        


 