


@{ViewBag.Title = "Unions walk out of talks risking Night Tube delivery ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Unions walk out of talks risking Night Tube delivery </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Unions walk out of talks risking Night Tube delivery </h1>
        <div class="content-page-press-release">
        14 October 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>ASLEF, RMT, TSSA and Unite union leaders have jeopardised the start of the Night Tube and delayed implementation of a fair and sustainable pay offer to London Underground (LU) staff by walking out of talks at ACAS today.</p>
<p>LU will now seek the views of staff across the organisation on the 2015 pay offer, the implementation of the Night Tube and its operation.</p>
<p>LU and the trade unions were very close to an agreement, but very late in the day the union leadership demanded the implementation of a four day week for train drivers. LU had already guaranteed to look at this on a trial basis at two locations. It would be financially reckless of LU to guarantee its full implementation now, without having first tested it and examined the full implications.</p>
<p>Steve Griffiths, Chief Operating Officer, London Underground, said: `We've made significant progress over the last few months.  Our offer has been reworked considerably from where we were when the trade unions balloted their members for strike action, which is why we now feel we must seek the views of our staff, as the unions haven't.
</p>
<p>`Not only are the unions at risk of depriving millions of customers of their Night Tube service, they are depriving employees of a very fair pay offer and longer term opportunities to improve work life balance even further.'</p>
<p>The Mayor and LU have repeatedly made clear that the introduction of the Night Tube would not be 'at any cost' to London's fare and tax payers.</p>
<p>The Night Tube would mean 24-hour services at weekends on five lines, transforming night time journeys for millions of people.</p>
<p>Journey times would be cut by an average of 20 minutes, with some cut by more than an hour, and London's night-time economy would be opened up to a host of new opportunities, with the Night Tube supporting around 2,000 permanent jobs and boosting the economy by &pound;360m.</p>
<p>It would also bring much greater convenience to those who start work early in the morning or late at night. The service would be fully integrated with the existing Night Bus network and additional taxi ranks will also be available to help people with their onward journeys.<br />
ENDS</p>
<p>Notes to Editors</p>
<p>1.	The Night Tube would mean Londoners and visitors to the Capital can travel on the following lines throughout the night on Fridays and Saturdays:</p>
<ul>
    <li>
    Central line: trains will run between Ealing Broadway and Hainault and Loughton</li>
    <li>Jubilee line: trains will run on the entire line</li>
    <li>
    Northern line: trains will run on the entire line except on the Mill Hill East and Bank branches</li>
    <li>
    Piccadilly line: trains will run between Cockfosters and Heathrow Terminal 5</li>
    <li>
    Victoria line: trains will run on the entire line.</li>
</ul>
2.	LU has made cast iron guarantees on Night Tube to ensure a fair work-life balance for all its staff. These include:<br />
<ul>
    <li>No one will work any more hours than they do today</li>
    <li>Drivers will have the same number of weekends off as now and, in future, staff will be able to choose whether they work Night Tube shifts at all</li>
    <li>Everybody remains entitled to two days off in seven</li>
    <li>Annual leave entitlements are unchanged</li>
    <li>LU has recruited over 500 extra staff &#45; train operators, station, service control, engineering and maintenance staff for Night Tube services.</li>
</ul>
<p>3.	The affordable and sustainable pay agreement comprises:</p>
<ul>
    <li>An average two per cent salary increase this year and inflation protected rises in 2016 and 2017</li>
    <li>&pound;500 bonus for all staff on Night Tube lines</li>
    <li>&pound;200 extra per Night Tube shift for drivers and then freedom to decide whether or not to work Night Tube shifts at all</li>
    <li>&pound;500 bonus for the successful completion of the modernisation of LU stations by February 2016</li>
</ul>
<p>4.	LU has also guaranteed to work with the unions over the next 12 months to deliver:</p>
<ul>
    <li>More choice for staff to support work-life balance</li>
    <li>Trial 36 hour, 4 day week roster at two train depots within 6 months</li>
    <li>A range of part time contracts where these do not already exist</li>
    <li>Protecting quality time off e.g. weekends</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-October-Unions walk out of talks risking Night Tube delivery  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 