
    
  



@{ViewBag.Title = "Leisure routes";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/leisure-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">Leisure routes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Leisure routes</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="https://londonblog.tfl.gov.uk/2019/11/05/santander-cycles-sightseeing/?intcmp=60723"  data-img="/cdn/static/cms/images/promos/queens-gallery.jpg" data-img-breakpoint="medium" data-img-alt="illustration of a man and woman using Santander Cycles in front of the Queens Gallery">
    <img src="/cdn/static/cms/images/promos/queens-gallery_rdax_600x300.jpg" alt="illustration of a man and woman using Santander Cycles in front of the Queens Gallery" />
    <div class="text-link sit-top">
      <h2>Cycle the sights</h2>
      <p>See famous London attractions on our sightseeing route</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>Use your own cycle or hire a Santander Cycle to explore our leisure routes all over London.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2017/05/31/london-cycling-routes-dulwich-park-family-ride/?intcmp=60725" >
        <img src="/cdn/static/cms/images/promos/dulwich-park_rdax_400x200.jpg" alt="Lake in Dulwich Park surrounded by trees with a hut in the middle" />
        
        <div class="text-link">
             <h2>Scenic route in Dulwich Park</h2>
            <p>Trade the busy city for a peaceful ride through the park</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london?intcmp=2335" >
        <img src="/cdn/static/cms/images/promos/neals-yard-quirky-london-cycling_rdax_400x200.jpg" alt="Buildings with brightly coloured windows in Neals Yard" />
        
        <div class="text-link">
             <h2>Quirky London</h2>
            <p>Away from the tourist hotspots - discover the quirky side of the city</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets?intcmp=2332" >
        <img src="/cdn/static/cms/images/promos/portobello-road-sign-leisure-cycling_rdax_400x200.jpg" alt="Portobello Road sign on a wall" />
        
        <div class="text-link">
             <h2>Saturday markets</h2>
            <p>Explore the city and stop off at Borough and Portobello Road market</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens?intcmp=2338" >
        <img src="/cdn/static/cms/images/promos/gardens-leisure-cycling-route_rdax_400x200.jpg" alt="A japanese garden with a lake, statue and trees surrounding the lake" />
        
        <div class="text-link">
             <h2>London's secret gardens</h2>
            <p>See a greener London in secret gardens, parks and squares</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights?intcmp=16487" >
        
        
        <div class="text-link">
             <h2>Sporting sights</h2>
            <p>Discover some of London's most famous sporting sights</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/independent-shops-and-markets?intcmp=2329" >
        
        
        <div class="text-link">
             <h2>Independent shops and markets</h2>
            <p>Escape the busy high streets and visit independent shops and markets</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders?intcmp=52144" >
        
        
        <div class="text-link">
             <h2>London by cycle, boat and cable car</h2>
            <p>Make the most of an Explore London ticket with cycle routes along the Thames</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2019/01/24/cycling-routes/?intcmp=60733" >
        
        
        <div class="text-link">
             <h2>Routes on our cycle network</h2>
            <p>See cycle routes from Greenwich all the way to Lancaster Gate</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Discover London's hidden gems with our cycle leisure routes";}
        
            
        


 