


@{ViewBag.Title = "Cabwise number 60835 not in operation from 1am until 6am on Sunday 18 November";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cabwise number 60835 not in operation from 1am until 6am on Sunday 18 November</h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) CABWISE number 60835 will not be available from 1am until 6am on Sunday 18 November due to planned maintenance work by Cable and Wireless.
        
    </div>



 <div class="on-this-page">
<p>
<p>Anyone who requires a number for a local licensed minicab during this time should call TfL's 24-hour travel information centre on 020 7222 1234 for local licensed minicab details. </p>
<p>People wanting to pre-book a licensed minicab for their journey home can also visit tfl.gov.uk/findaride to search for licensed minicab operators in any part of London.<br>&nbsp;<br>The CABWISE number will resume normal service from 6am on Sunday 18 November. <br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>To use TfL's text service CABWISE: just text HOME to 60835 to get one taxi number and two local, licensed minicab numbers sent directly to your mobile phone. Texts are charged at 35p per enquiry plus standard network charges. The service is not currently available on 3 and Virgin networks</li>
<li>There are marshalled taxi rank schemes in operation in Romford, Cranbourn Street, Bromley, the City of London and Kingston</li>
<li>Passengers must approach the marshal at the rank if they wish to get a taxi </li>
<li>Marshals do not link up individual passengers or groups unknown to each other who are travelling in the same direction </li>
<li>Drivers are free to return to the marshalled rank as many times as they wish during the night <br>&nbsp;</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Anyone who requires a number for a local licensed minicab during this time should call TfL's 24-hour travel information centre on 020 7222 1234 for local licensed minicab details. People wanting to pre-book a licensed minicab for their journey home can";}
        
        


 