


@{ViewBag.Title = "Crime cut by 11 per cent on London's buses, youth crime down by 19 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime cut by 11 per cent on London's buses, youth crime down by 19 per cent</h1>
        <div class="content-page-press-release">
        20 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crime on London's buses is 11 per cent lower than a year ago, according to the latest statistics compiled by Transport for London (TfL) and the Metropolitan Police Service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The results are showing a clear and sustained downward trend in crime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jeroen Weimar</div>
            <div class="quotee-job-title">Director of Transport Policing and Enforcement at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The results are showing a clear and sustained downward trend in crime
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The latest figures for the first six months of 2007/08&nbsp;show a significant fall in criminal damage, robbery and theft offences on the Capital's buses.&nbsp;</p>
<p>This follows a three per cent year-on-year reduction in crime on London's buses in 2006/7,&nbsp;despite rapidly increasing&nbsp;passenger numbers.</p>
<p>Analysis&nbsp;by&nbsp;London's transport authority&nbsp;also shows that the number of criminal incidents believed to involve one or more people aged 16 or under was 19 per cent lower in the first half of&nbsp;2007/08, compared with the same period in 2006/07.<br>&nbsp;<br>The reduction in crime - now just 15 crimes per million passenger journeys - has been assisted by visible policing by officers from the Metropolitan Police Transport Operation Command Unit, which is funded by TfL. <br>&nbsp;&nbsp;<br>In addition 21 Safer Transport Teams were deployed in outer London boroughs this year. </p>
<h2>Policing presence</h2>
<p>The introduction of Safer Transport Teams has provided visibility and reassurance to passengers on thousands of London's buses.&nbsp; </p>
<p>The teams&nbsp;have been welcomed by local communities as a valuable policing presence and, following their success, The Mayor and TfL, in partnership with the Metropolitan Police Service, will be providing&nbsp;funding of &pound;10.7m for&nbsp;their continued operation for a third year.<br>&nbsp;<br>Mayor of London, Ken Livingstone said: "These figures show clearly the significant effect that our introduction of Safer Transport Teams is now having on bearing down on the small number of people who commit crime on the bus network.&nbsp;</p>
<p>"London's buses are a low crime environment and with investment in extra police, comprehensive CCTV on buses and improved intelligence our passengers are better protected than ever before. </p>
<h2>Proven success</h2>
<p>"The teams have been a proven success, and we will be continuing to fund them for a further year, making the transport network even safer."</p>
<p>The latest figures for the first six months of 2007/08 show a significant fall in criminal damage, robbery and theft offences on the Capital's buses.&nbsp;</p>
<p>&nbsp;Jeroen Weimar, Director of Transport Policing and Enforcement at TfL, said: "We have deployed targeted policing on and around London's bus network for five years now, and the results are showing a clear and sustained downward trend in crime."</p>
<p>&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Crime Figures Summary:</p>
<ul>
<li>A table showing crime figures for the first six months of 2006 and 2007 accompanies this press release, but key figures and success are listed below: </li>
<li>Total Crimes Apr-Sept 2006 - 18,715 </li>
<li>Total Crimes Apr-Sept 2007 - 16,664&nbsp;&nbsp; 
<ul type="circle">
<li>Key successes between 1st half of 2007/8 compared with 2006/07 </li>
<li>Robbery down by 28.3&nbsp; per cent&nbsp; (From 2,946 to 2,113 offences) </li>
<li>Criminal damage down by 22.2&nbsp; per cent&nbsp; ( From 3,774 to 2,935 offences) </li>
<li>Theft and handling down by 9 per cent (From 7,175 to 6,529 offences)</li></ul></li>
<li>Transport Operational Command Unit Summary: 
<ul type="circle">
<li>The Metropolitan Police Transport Operational Command Unit was set up in 2002 to fight crime on buses, tackle illegal taxi touts; and assist with the control of traffic congestion </li>
<li>There are now more than 1,200 uniformed officers in the unit, which is funded by TfL, at a cost of around &pound;70m a year</li></ul></li>
<li>Safer Transport Teams Summary: 
<ul type="circle">
<li>Deployment of the 421 uniformed officers (including 378 Police Community Support Officers (PSCOS)) </li>
<li>Each team consists of 18 PCSOs, at least two Sergeants and 1 Police Constable </li>
<li>The new teams are attached to Metropolitan Police Service Borough Operational Command Units with the Metropolitan Police Service&nbsp; providing day-to-day supervision and management </li>
<li>The first wave of PCSOs were deployed to the Southeast region in March 2007 - Bexley, Bromley, Croydon and Greenwich </li>
<li>The second wave was deployed to the Northeast region in April 2007 - Barking and Dagenham, Enfield, Haringey, Havering, Newham, Redbridge, Waltham Forest </li>
<li>The third wave was deployed to the Southwest region in June 2007 - Hounslow, Kingston-upon-Thames, Merton, Richmond-upon-Thames and Sutton </li>
<li>The final deployment was to the Northwest region in July 2007&nbsp; Barnet, Brent, Harrow, Hillingdon and Ealing </li>
<li>The teams are borough based and enhance the Safer Neighbourhoods Teams who are ward based </li>
<li>The new PCSOs are part-funded by the Home Office as part of the National Reassurance Programme. TfL has provided &pound;9.6m part funding for the Safer Transport Teams for 2007/08 and 2008/09 </li>
<li>The Home Office's part funding for the initiative has not been made available for 2009/10. The initiative will be funded jointly by TfL and the MPS in its third year and will continue to provide an additional 441 officers on the transport network </li></ul></li>
<li>Further TfL bus security improvements information: 
<ul type="circle">
<li>By the end of 2005, TfL fitted all of London's 8,000 buses with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet </li>
<li>London's buses carry 6.3m passengers a day on 700 routes across the Capital, and are a low crime environment - only 15 crimes for every million passenger journeys&nbsp;<br>&nbsp;</li></ul></li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Burglary</td>
<td>&nbsp;Criminal Damage</td>
<td>&nbsp;Drugs</td>
<td>&nbsp;Fraud or forgery</td>
<td>&nbsp;Other Notofiable Offences</td>
<td>&nbsp;Robbery</td>
<td>&nbsp;Sexual Offences</td>
<td>Theft and Handling&nbsp;</td>
<td>&nbsp;Violence against the person</td></tr>
<tr>
<td>&nbsp;Apr-06</td>
<td>&nbsp;10</td>
<td>673&nbsp;</td>
<td>39&nbsp;</td>
<td>&nbsp;27</td>
<td>27&nbsp;</td>
<td>764&nbsp;</td>
<td>33&nbsp;</td>
<td>1315&nbsp;</td>
<td>690&nbsp;</td></tr>
<tr>
<td>&nbsp;May -06</td>
<td>&nbsp;11</td>
<td>&nbsp;637</td>
<td>&nbsp;28</td>
<td>&nbsp;32</td>
<td>&nbsp;35</td>
<td>&nbsp;550</td>
<td>&nbsp;46</td>
<td>&nbsp;1350</td>
<td>&nbsp;742</td></tr>
<tr>
<td>&nbsp;Jun-06</td>
<td>&nbsp;10</td>
<td>&nbsp;712</td>
<td>&nbsp;33</td>
<td>&nbsp;30</td>
<td>&nbsp;33</td>
<td>&nbsp;417</td>
<td>&nbsp;41</td>
<td>&nbsp;1130</td>
<td>&nbsp;668</td></tr>
<tr>
<td>&nbsp;Jul-06</td>
<td>&nbsp;13</td>
<td>&nbsp;612</td>
<td>&nbsp;29</td>
<td>&nbsp;19</td>
<td>&nbsp;23</td>
<td>&nbsp;395</td>
<td>&nbsp;51</td>
<td>&nbsp;1168</td>
<td>&nbsp;634</td></tr>
<tr>
<td>&nbsp;Aug-06</td>
<td>&nbsp;5</td>
<td>&nbsp;503</td>
<td>&nbsp;23</td>
<td>&nbsp;22</td>
<td>&nbsp;18</td>
<td>&nbsp;368</td>
<td>&nbsp;29</td>
<td>&nbsp;1095</td>
<td>&nbsp;580</td></tr>
<tr>
<td>&nbsp;Sep-06</td>
<td>&nbsp;5</td>
<td>&nbsp;637</td>
<td>&nbsp;29</td>
<td>&nbsp;22</td>
<td>&nbsp;25</td>
<td>&nbsp;452</td>
<td>&nbsp;43</td>
<td>&nbsp;1117</td>
<td>&nbsp;715</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;54</td>
<td>&nbsp;3774</td>
<td>&nbsp;181</td>
<td>&nbsp;152</td>
<td>&nbsp;161</td>
<td>&nbsp;2946</td>
<td>&nbsp;243</td>
<td>&nbsp;7175</td>
<td>&nbsp;4029</td></tr>
<tr>
<td>&nbsp;% of Total</td>
<td>&nbsp;0</td>
<td>&nbsp;20</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td>
<td>&nbsp;16</td>
<td>&nbsp;1</td>
<td>&nbsp;38</td>
<td>&nbsp;22</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Apr-07</td>
<td>&nbsp;15</td>
<td>&nbsp;604</td>
<td>&nbsp;50</td>
<td>&nbsp;31</td>
<td>&nbsp;15</td>
<td>&nbsp;373</td>
<td>&nbsp;52</td>
<td>&nbsp;1144</td>
<td>&nbsp;682</td></tr>
<tr>
<td>&nbsp;May-07</td>
<td>&nbsp;7</td>
<td>&nbsp;538</td>
<td>&nbsp;59</td>
<td>&nbsp;28</td>
<td>&nbsp;27</td>
<td>&nbsp;421</td>
<td>&nbsp;41</td>
<td>&nbsp;1161</td>
<td>&nbsp;710</td></tr>
<tr>
<td>&nbsp;Jun-07</td>
<td>&nbsp;10</td>
<td>&nbsp;486</td>
<td>&nbsp;49</td>
<td>&nbsp;48</td>
<td>&nbsp;21</td>
<td>&nbsp;412</td>
<td>&nbsp;48</td>
<td>&nbsp;1110</td>
<td>&nbsp;763</td></tr>
<tr>
<td>&nbsp;Jul-07</td>
<td>&nbsp;10</td>
<td>&nbsp;468</td>
<td>&nbsp;48</td>
<td>&nbsp;30</td>
<td>&nbsp;21</td>
<td>&nbsp;365</td>
<td>&nbsp;32</td>
<td>&nbsp;1124</td>
<td>&nbsp;691</td></tr>
<tr>
<td>&nbsp;Aug-07</td>
<td>&nbsp;8</td>
<td>&nbsp;416</td>
<td>&nbsp;48</td>
<td>&nbsp;33</td>
<td>&nbsp;15</td>
<td>&nbsp;240</td>
<td>&nbsp;33</td>
<td>&nbsp;1002</td>
<td>&nbsp;668</td></tr>
<tr>
<td>&nbsp;Sep-07</td>
<td>&nbsp;12</td>
<td>&nbsp;423</td>
<td>&nbsp;47</td>
<td>&nbsp;32</td>
<td>&nbsp;15</td>
<td>&nbsp;302</td>
<td>&nbsp;35</td>
<td>&nbsp;988</td>
<td>&nbsp;653</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;62</td>
<td>&nbsp;2935</td>
<td>&nbsp;301</td>
<td>&nbsp;202</td>
<td>&nbsp;114</td>
<td>&nbsp;2113</td>
<td>&nbsp;241</td>
<td>&nbsp;6529</td>
<td>&nbsp;4167</td></tr>
<tr>
<td>&nbsp;% of Total</td>
<td>&nbsp;0</td>
<td>&nbsp;18</td>
<td>&nbsp;2</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td>
<td>&nbsp;13</td>
<td>&nbsp;1</td>
<td>&nbsp;39</td>
<td>&nbsp;25</td></tr></tbody></table></div></p>
            <p>
<p>&nbsp;</p>
<ul type="circle">
<li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest figures for the first six months of 2007/08&nbsp;show a significant fall in criminal damage, robbery and theft offences on the Capital's buses.&nbsp;This follows a three per cent year-on-year reduction in crime on London's buses in";}
        
        


 