


@{ViewBag.Title = "Extra public transport for Diwali celebrations at the Shri Swaminarayan Mandir, Neasden";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extra public transport for Diwali celebrations at the Shri Swaminarayan Mandir, Neasden</h1>
        <div class="content-page-press-release">
        02 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will provide extra buses to take people to the Shri Swaminarayan Mandir for Diwali celebrations.
        
    </div>



 <div class="on-this-page">
<p> <p>The Mandir is the largest Hindu temple outside India. </p> <p>This year the festival takes place on Friday 9 and Saturday 10 November.</p> <p>A free shuttle bus will link Neasden Station on the Jubilee Line to the temple. </p> <p>It will run between 15:00 and midnight on Friday 9 November and between 10:00 and 22:00 on Saturday 10 November. </p> <p>Route PR2 links the temple with Wembley Park, Stonebridge Park and Park Royal. </p> <p>It will run every 15 minutes - double the normal service - on both the Friday and the Saturday. </p> <p>Before 10:00, there will be a bus every 30 minutes.</p> <p>Route 206 links the temple with St. Raphael's Estate, Harlesden and Kilburn. </p> <p>It will run its normal service - every 15 minutes in the daytime and every 30 minutes in the evening.</p> <p>John Barry, Head of Network Development for London Buses, said:&nbsp; "These extra buses will help people travelling to the celebrations and encourage the use of public transport."</p> <p> <hr>  <p>
            <p><strong>Notes to editors<br></strong>
<ul>
<li>Travel London will provide the Neasden Station shuttle bus on behalf of TfL</li>
<li>It will run every 8-10 minutes from 15:00 to midnight on the Friday</li>
<li>On the Saturday it will run every 15 minutes from 10:00 until 16:00 and then every 10 minutes until 22:00</li>
<li>Routes 206 and PR2 accept all normal TfL tickets and passes</li>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With&nbsp;more than&nbsp;8000 buses on approximately 700 routes, the London bus network has seen usage increase by 45 per cent since 1999/2000</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mandir is the largest Hindu temple outside India.This year the festival takes place on Friday 9 and Saturday 10 November. A free shuttle bus will link Neasden Station on the Jubilee Line to the temple.It will run between 15:00 and midnight on Friday 9";}
        
        


 