


@{ViewBag.Title = "First woman to lead out London Transport veterans on Remembrance Sunday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First woman to lead out London Transport veterans on Remembrance Sunday</h1>
        <div class="content-page-press-release">
        08 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Jacky Emberton, a London Buses Network Duty Manager will be the first woman to lead the London Transport Old Comrades as they march past the Cenotaph on Remembrance Sunday this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Leading the contingent is like a dream come true"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jacky Emberton</div>
            <div class="quotee-job-title">London Buses Network Duty Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Leading the contingent is like a dream come true
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Brian Thompson, a retired bus driving instructor, will lay the wreath at the Cenotaph.</p>
<p>The London Transport Old Comrades is the only civilian group allowed to lay a wreath at the Cenotaph on Remembrance Sunday. </p>
<p>They march in honour of transport workers who died serving their country in the First and Second World Wars.</p>
<p>Jacky Emberton currently works to keep the network running smoothly in the London Bus operations centre, Centrecomm, as a Duty Manager.&nbsp; </p>
<p>At the start of her career she was as a driver in the Women's Royal Army Corps (WRAC) between 1973 and 1978, serving in the UK and Germany.&nbsp;</p>
<h2>Great deal of pride </h2>

<p>Joining the bus industry in 1978 as a bus driver in Salisbury, she returned to military service in 1986 with the Territorial Army as a logistics movement operator.&nbsp; </p>
<p>During that period she experienced an 18 month tour of Bosnia, as well as exercises in Oman, the United States and various countries across Europe.</p>
<p>Jacky Emberton said: "I used to watch the Remembrance Sunday parade when I was a little girl and always felt such a great deal of pride that we took the time every year to honour those men and women who paid the ultimate price for our freedom.</p>
<p>"Leading the contingent is like a dream come true."</p>
<h2>Highly honoured</h2>

<p>Brian Thompson began his military career in 1951 with the RAF, serving for 12 and a half &nbsp;years in various postings in the UK before going to Aden.&nbsp; </p>
<p>He served for a further 30 years in the Royal Marines Reserve and is still on the Reserve Officers list.&nbsp; </p>
<p>Brian joined London Buses in 1988 as a driver for Red Arrows and later worked on route 11, which regularly passes the Cenotaph, before finally retiring as a bus instructor in 2000 on his 65th birthday.</p>
<p>Brian Thompson said:&nbsp; "I am highly honoured to lay the wreath for Transport for London, especially having served in London General which shares the name of the General Omnibus Company, which went to the front in the Great War.</p>
<p>"Although not in action, I lost my grandson in June of this year when he was only 19 years old.&nbsp; </p>
<p>"I feel a great deal of sympathy for those who lost young loved ones over the years in military service."</p>
<p>
<hr>

            <strong>Notes for editors</strong><br>
<ul>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915 </li>
<li>1500 transport workers died in World War I and 3000 lost their lives in World War II </li>
<li>Images of Jacky Emberton and Brian Thompson are available on request </li>
<li>Anyone who would like to interview Jacky Emberton or Brian Thompson should contact the TfL press office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Brian Thompson, a retired bus driving instructor, will lay the wreath at the Cenotaph.The London Transport Old Comrades is the only civilian group allowed to lay a wreath at the Cenotaph on Remembrance Sunday. They march in honour of transport workers who";}
        
        


 