


@{ViewBag.Title = "Have your say on plans to improve Highbury Corner roundabout and the surrounding open space";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on plans to improve Highbury Corner roundabout and the surrounding open space</h1>
        <div class="content-page-press-release">
        12 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Islington Council have launched a public consultation today (Monday 12 November) on plans which could turn Highbury Corner into a more attractive public area with better transport connections.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is an ambitious project to transform Highbury Corner and to create a landmark public space"</div>
        <div class="quote-footer">
            <div class="quotee-name">James Kempton</div>
            <div class="quotee-job-title">Council Leader for Islington Council</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is an ambitious project to transform Highbury Corner and to create a landmark public space 
                            
                        </p>
                    </div>
                
            
            
            <p>Local residents are being urged to give their views on three options which could transform the area which is outside Highbury &amp; Islington station. 
<p>A&nbsp;public exhibition&nbsp;on the proposals for Highbury Corner will be held at Highbury Baptist Church, 40a Baalbec Road, on Thursday 6, Friday 7 and Saturday 8 December. 
<p>TfL staff and representatives from Islington Council will be there to answer questions in person. 
<p>The public consultation will then last for eight weeks closing on Monday 7 January 2008. 
<p>Improvements to this busy roundabout and&nbsp;surrounding area&nbsp;would make changing between transport services quicker and safer for passengers. 
<p>The number of people passing through this hub is expected to rise, especially with increased numbers travelling to and from Arsenal's higher capacity home ground. 
<h2>Pleasant environment</h2>The creation of a new station forecourt together with a high quality public space would result in a more pleasant&nbsp;environment for local people and visitors. 
<p>TfL has done work with Islington Council and has drawn up three options. 
<p>Views are invited on these. 
<p>John McNulty, Interchange Programme Director for TfL, said:&nbsp;"We are keen to hear what people think about these possible plans which could transform this busy transport hub into a safer, greener and more attractive communal area. 
<h2>Ambitious project</h2>
<p>"The local community's views are important to us and together with other technical criteria will help us decide which option to choose."<br>&nbsp;<br>James Kempton, Council Leader for Islington Council, said:&nbsp;"Highbury Corner is a great example of the sort of post war transport planning which we now recognise as being wrong. 
<p>"It's noisy, unpleasant and the pavements are cramped. 
<p>"This is an ambitious project to transform Highbury Corner and to create a landmark public space beside one of the busiest transport interchanges in Islington." 
<p>The upgrade for Highbury Corner would complement improvements - both Tube and overground rail - planned inside Highbury &amp; Islington station.<br>&nbsp;<br>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is working closely with Islington Council&nbsp;and has drawn up three possible design options for Highbury Corner which they would like people to comment on.&nbsp;To create more space for pedestrians&nbsp;and&nbsp;make better use of the green area at the centre of the&nbsp;gyratory two of these options would involve closing one of the sides of the roundabout.&nbsp;TfL recognises that significant improvements to Highbury Corner could lead to changes in traffic flow so an option which does not require closing one side of the roundabout has been developed. The proposals are subject to planning permission and funding</li>
<li>The proposed options are:</li>
<ul type="circle">
<li>Option A: western side closure<br>The western side of the roundabout would be closed to private vehicles but open to buses, taxis, cyclists and pedestrians to create a shared area of public space next to the station</li>
<li>Option B: northern side closure<br>The northern side of the roundabout would be closed to private vehicles but open to buses, taxis, cyclists and pedestrians to create a shared area of public space outside the shops</li>
<li>Option C: minor improvements<br>This option would retain current traffic arrangements while also creating a well-designed public area</li></ul>
<li>The&nbsp;public exhibitions on the proposals for Highbury Corner are being held Highbury Baptist Church 40a Baalbec Road, London, N5 1QL on: </li>
<ul type="circle">
<li>Thursday 6 December (12:00 - 19:30)</li>
<li>Friday 7 December (12:00 - 19:30)<br>Saturday 8 December (10:00 - 16:00)<br>A copy of the consultation brochure can be found at: <a href="http://www.tfl.gov.uk/highburyandislington">www.tfl.gov.uk/highburyandislington</a></li></ul>
<li>The project partners are Transport for London, GLA, Design for London, Islington Council</li>
<li>These plans are part of a coordinated programme of works being undertaken by TfL which also include: </li>
<ul type="circle">
<li>An upgrade to the Underground station to provide step-free access to the platforms and increased capacity in the ticket hall</li>
<li>Improvements to the North London Railway (formerly Silverlink) platforms and creation of a new platform for the extended East London Line as part of the new London Overground network</li></ul></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local residents are being urged to give their views on three options which could transform the area which is outside Highbury &amp; Islington station. A&nbsp;public exhibition&nbsp;on the proposals for Highbury Corner will be held at Highbury Baptist";}
        
        


 