


@{ViewBag.Title = "Mayor announces &pound;4.5m for transport improvements in Brent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.5m for transport improvements in Brent</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.5m of funding for Brent to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;4.5m investment will go towards directly improving transport for people in Brent"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;4.5m investment will go towards directly improving transport for people in Brent
                            
                        </p>
                    </div>
                
            
            
            <p>The &pound;4.5m funding includes &pound;463,000 for more cycle lanes and better facilities for cyclists in Brent as part of the London Cycle Network+, &pound;485,000 to resurface Shoot Up Hill (A5), &pound;475,000 for 20mph zones in Brent, &pound;162,000 for road safety improvements including more visible pedestrian crossings along Harrow Road and &pound;130,000 for cycle training for local residents.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;4.5m investment in local transport schemes will make the daily journeys of people in Brent, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to the extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy, said: "This &pound;4.5m investment will go towards directly improving transport for people in Brent.</p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Brent for 2008/09 include:</p>
<ul>
<li>&pound;463,000 for the London Cycle Network+ </li>
<li>&pound;475,000 for 20mph zones to improve safety in local streets </li>
<li>&pound;162,000 for road safety improvements along Harrow Road between Bridgewater Road and Napier Road. The scheme will involve making it easier for drivers to turn right at Chaplin Road and also making pedestrian crossings more visible with coloured surfaces </li>
<li>&pound;485,000 to resurface the carriageway on the A5 Shoot Up Hill.&nbsp; This scheme is part of a longer-term project to improve the environment for road users </li>
<li>&pound;130,000 to be spent on cycle training for local residents </li>
<li>&pound;18,500 to further develop school travel plans and associated initiatives. This includes resources for schools that have a new school travel plan approved such as a local seminar for schools to showcase their travel plans and activities and to learn from each other, theatre in education programmes in schools on sustainable travel and promotional material </li>
<li>In addition to the &pound;4.5m, Brent, as leader of the North Orbital Rail Partnership, will be coordinating &pound;666,000 of improvements to station access that complement the Mayor's new London Overground rail services.&nbsp;Potential station schemes in this partnership include Acton Central, Brondesbury, Crouch Hill, Upper Holloway and South Kenton and Stonebridge Park. Works would be carried out according to need but could include tactile paving and dropped kerbs at crossings and improved access at bus stops</li></ul>
<p>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London (TfL) awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="circle">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair </li></ul></li>
<li>Below is an allocation&nbsp;breakdown of Local Implementation funding for Brent for 2008/09:</li></ul>
<p>Principal road renewals&nbsp;- &pound;910,000<br>Local safety schemes&nbsp;- &pound;791,000<br>20mph zones&nbsp;- &pound;475,000<br>Education, training and publicity&nbsp;- &pound;5,000<br>Walking&nbsp;- &pound;165,000<br>Cycling&nbsp;- &pound;250,000<br>London Cycle Network+&nbsp;- &pound;463,000<br>Bus stop accessibility&nbsp;- &pound;140,000<br>Bus priority&nbsp;- &pound;680,000<br>Town Centres&nbsp;- &pound;20,000<br>Streets for People&nbsp;- &pound;400,000<br>School Travel Plans&nbsp;- &pound;81,000<br>Travel awareness&nbsp;- &pound;25,000<br>Environment&nbsp;- &pound;90,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;- &pound;4,535,000</strong></p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. It&nbsp;will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;4.5m funding includes &pound;463,000 for more cycle lanes and better facilities for cyclists in Brent as part of the London Cycle Network+, &pound;485,000 to resurface Shoot Up Hill (A5), &pound;475,000 for 20mph zones in Brent, &pound;162,000";}
        
        


 