


@{ViewBag.Title = "Mayor announces &pound;3.6m for transport improvements in Greenwich";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.6m for transport improvements in Greenwich</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.6m of funding for Greenwich to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.6m investment will go towards directly improving transport for people in Greenwich"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.6m investment will go towards directly improving transport for people in Greenwich
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.6m funding includes &pound;500,000 to improve bus services and journey times through Woolwich Town Centre, &pound;500,000 for more cycle lanes and better facilities for cyclists in Greenwich as part of the London Cycle Network+, &pound;250,000 for 20mph zones and &pound;288,000 to reconstruct the carriageway on the Lewisham Road (A2211).</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said:<br>"This new &pound;3.6m investment in local transport schemes will make the daily journeys of people in Greenwich, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."</p>
<p><strong>Improving local transport</strong></p>

<p>London's Transport Commissioner, Peter Hendy said:&nbsp; <br>"This &pound;3.6m investment will go towards directly improving transport for people in Greenwich. Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.</p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Greenwich for 2008/09 include:</p>
<ul>
<li>&pound;500,000 for the London Cycle Network + in Greenwich </li>
<li>&pound;500,000 for measures to improve bus services and journey times through Woolwich Town Centre. Buses that currently travel in one direction along Thomas Street and Woolwich New Road will be able to travel in both directions. This is connected to the Mayor's 100 Public Spaces programme with the General Gordon's Square development </li>
<li>&pound;288,000 to reconstruct the carriageway on the A2211 Lewisham Road.&nbsp;This project is part of a larger scheme to resurface the whole of the A2211 between Blackheath Road and Morden Hill </li>
<li>&pound;250,000 for 20mph zones in Greenwich to improve safety in local streets </li>
<li>&pound;100,000 to support the borough's design and development work for a town centre scheme by General Gordon Square in Woolwich, which will complement the ongoing regeneration of the area&nbsp; </li></ul>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp; While&nbsp;TfL awards funding for individual schemes, project delivery is the responsibility of the borough.</li></ul>
<ul>
<li>Priorities for the Local Implementation Plans include: 
<ul type="circle">
<li>Improving road safetyImproving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is a table with an allocation&nbsp;breakdown of Local Implementation Plan funding for Greenwich:</li></ul>
<p>Principal road renewals&nbsp;- &pound;639,000<br>Local safety schemes&nbsp;- &pound;470,000<br>20mph zones&nbsp;- &pound;250,000<br>Education, training and publicity&nbsp;- &pound;28,000<br>Walking&nbsp;- &pound;110,000<br>Cycling&nbsp;- &pound;145,000<br>London Cycle Network+&nbsp;- &pound;500,000<br>Bus stop accessibility&nbsp;- &pound;150,000<br>Bus priority&nbsp;- &pound;825,000<br>Town Centres&nbsp;- &pound;100,000<br>School Travel Plans&nbsp;- &pound;251,000<br>Travel awareness&nbsp;- &pound;25,000<br>Freight&nbsp;- &pound;15,000<br>Environment&nbsp;- &pound;70,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;&pound;3,618,000</strong></p>
<ul>
<li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools.</li></ul>
<ul>
<li>London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.6m funding includes &pound;500,000 to improve bus services and journey times through Woolwich Town Centre, &pound;500,000 for more cycle lanes and better facilities for cyclists in Greenwich as part of the London Cycle Network+,";}
        
        


 