


@{ViewBag.Title = "Mayor announces &pound;3.7m for transport improvements in Lewisham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.7m for transport improvements in Lewisham</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.7m of funding for Lewisham to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.7m investment will go towards directly improving transport for people in Lewisham"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.7m investment will go towards directly improving transport for people in Lewisham
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.7m funding includes &pound;578,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists including cycle lanes in Brockley Rise and Whitburn Road, &pound;215,000 for School Travel Plans and &pound;80,000 for cycle training for local residents.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.7m investment in local transport schemes will make the daily journeys of people in Lewisham, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy said: "This &pound;3.7m investment will go towards directly improving transport for people in Lewisham.&nbsp; </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Lewisham for 2008/09 include: </p>
<ul>
<li>&pound;578,000 for the London Cycle Network+ </li>
<li>&pound;215,000 for School Travel Plans </li>
<li>&pound;150,000 for a scheme on Sydenham Road, from the junction with Newlands Park East to Bell Green. Measures include traffic management, traffic islands, surfacing and junction improvements </li>
<li>&pound;80,000 for cycle training for local residents. In addition &pound;40,000 will be spent on cycle lanes in locations such as Brockley Rise and Whitburn Road while &pound;20,000 will be spent on on-street cycle parking across the borough providing cycle parking at community areas such as shopping parades and leisure facilities </li>
<li>&pound;40,000 to promote campaigns that encourage greener travel, including: 'Bike Week', 'In town without my car day', 'National Liftshare Day' and 'Walking Works' - to promote walking to work </li>
<li>&pound;15,000 to support schools reviewing their School Travel Plans, such as materials and resources to ensure work continues to decrease the number of cars arriving at schools 
<hr>
</li></ul>
            <strong>Notes for editors: </strong>
<p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is a&nbsp;breakdown of 2008/09&nbsp;Local Implementation Plan funding for Lewisham:<br>Principal road renewals&nbsp;- &pound;344,000<br>Local safety schemes&nbsp;- &pound;658,000<br>20mph zones&nbsp;- &pound;180,000<br>Education, training and publicity&nbsp;- &pound;53,000<br>Walking&nbsp;- &pound;165,000<br>Cycling - &pound;209,000<br>London Cycle Network+ - &pound;578,000<br>Bus stop accessibility&nbsp;- &pound;100,000<br>Bus priority - &pound;440,000<br>Town Centres&nbsp;- &pound;430,000<br>Streets for People&nbsp;- &pound;80,000<br>School Travel Plans - &pound;215,000<br>Work travel plans&nbsp;- &pound;25,000<br>Travel awareness&nbsp;- &pound;40,000<br>Freight&nbsp;- &pound;20,000<br>Regeneration area schemes&nbsp;- &pound;50,000<br>Environment&nbsp;- &pound;30,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;&pound;3,657,000</strong> </li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's&nbsp;major investments 
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br>&nbsp;</p></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.7m funding includes &pound;578,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists including cycle lanes in Brockley Rise and Whitburn Road, &pound;215,000 for School Travel Plans and &pound;80,000 for";}
        
        


 