


@{ViewBag.Title = "Mayor announces &pound;3.4m for transport improvements in Redbridge ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.4m for transport improvements in Redbridge </h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.4m of funding for Redbridge to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.4m investment will go towards directly improving transport for people in Redbridge"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.4m investment will go towards directly improving transport for people in Redbridge
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.4m funding includes &pound;467,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Redbridge, &pound;321,000 for School Travel Plans, &pound;294,000 for road and pavement resurfacing on the A113 Chigwell and &pound;190,000 to make Wanstead safer through more lighting and improvements to pavements.</p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.4m investment in local transport schemes will make the daily journeys of people in Redbridge, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy said: "This &pound;3.4m investment will go towards directly improving transport for people in Redbridge. </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Redbridge for 2008/09 include:</p>
<ul>
<li>&pound;884,000 for public space improvements to complement the East London Transit that will run from Ilford to Dagenham Dock via Barking Town Centre. Enhanced street landscaping will include new paving, tree planting and lighting </li>
<li>&pound;467,000 for the London Cycle Network+ </li>
<li>&pound;321,000 for School Travel Plans </li>
<li>&pound;294,000 for carriageway and footway resurfacing the A113 Chigwell Road to improve the environment for road users and pedestrians, improving safety and comfort and minimising future unplanned works </li>
<li>&pound;190,000 to enhance the pedestrian links to public transport in Wanstead, through better security and safety with lighting and improvements to make the pavements more accessible, linking the underground, bus stops and car park with the High Street shopping destination</li>
<li>&pound;41,000 to implement new school travel plan engineering work at Cloke Tikva School. </li></ul>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes for editors</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is an allocation&nbsp;breakdown of Local Implementation Plan funding for Redbridge LIP Programme 2008/09<br>Principal road renewals&nbsp;- &pound;629,000<br>Local safety schemes&nbsp;- &pound;356,000<br>20mph zones&nbsp;- &pound;200,000<br>Education, training and publicity&nbsp;- &pound;7,000<br>Walking&nbsp;- &pound;190,000<br>Cycling&nbsp;- &pound;22,000<br>London Cycle Network+&nbsp;- &pound;467,000<br>Bus stop accessibility&nbsp;- &pound;57,000<br>Bus priority&nbsp;- &pound;66,000<br>Town Centres&nbsp;- &pound;884,000<br>School Travel Plans&nbsp;- &pound;321,000<br>Work travel plans&nbsp;- &pound;10,000<br>Travel awareness&nbsp;- &pound;25,000<br>Environment&nbsp;- &pound;30,000<br>Controlled parking zones&nbsp;- &pound;10,000<br>Local area accessibility&nbsp;- &pound;40,000<br>Parallel initiatives&nbsp;- &pound;60,000<br><strong>Total&nbsp;&pound;3,374,000</strong></li></ul>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp;The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.4m funding includes &pound;467,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Redbridge, &pound;321,000 for School Travel Plans, &pound;294,000 for road and pavement resurfacing on the A113";}
        
        


 