


@{ViewBag.Title = "Mayor announces &pound;2.8m for transport improvements in Kensington and Chelsea";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;2.8m for transport improvements in Kensington and Chelsea</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;2.8m of funding for Kensington and Chelsea to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;2.8m investment will go towards directly improving transport for people in Kensington and Chelsea"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;2.8m investment will go towards directly improving transport for people in Kensington and Chelsea
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;2.8m funding includes &pound;1.7m for major safety and environmental improvements to Exhibition Road and Thurloe Street with wider pavements and safer crossings, &pound;108,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Kensington and Chelsea.&nbsp; </p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;2.8m investment in local transport schemes will make the daily journeys of people in Kensington and Chelsea, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."</p>
<h2>Improving local transport</h2>

<p>London's Transport Commissioner, Peter Hendy said: "This &pound;2.8m investment will go towards directly improving transport for people in Kensington and Chelsea.&nbsp; </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Kensington and Chelsea for 2008/09 include:</p>
<ul>
<li>&pound;1.7m to match Kensington and Chelsea's investment for traffic management changes in Exhibition Road and Thurloe Street. This 'Streets for People' project will cut down the number of vehicles travelling down these roads allowing the construction of wider pavements and safer crossings. Improvements to this public space will result in a larger, more pleasant and safer pedestrian area which will not only benefit local people but also the many visitors to the area </li>
<li>&pound;108,000 for London Cycle Network+ </li>
<li>&pound;50,000 to implement practical and cost effective engineering measures identified in the school travel plans as well as for resources required by the schools </li>
<li>&pound;30,000 for a programme of practical pedestrian skills for pupils aged six and seven. This will encourage walking by providing children with the skills they need to walk safely 
<hr>
<br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While&nbsp;TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is a breakdown of the 2008/09&nbsp;Local Implementation Plan funding for Kensington and Chelsea:<br>Principal road renewals&nbsp; - &pound;92,000<br>Bridge strengthening&nbsp; - &pound;120,000<br>Local safety schemes&nbsp; - &pound;165,000<br>Education, training and publicity - &pound;36,000<br>Walking&nbsp; - &pound;100,000<br>Cycling&nbsp; - &pound;110,000<br>London Cycle Network+&nbsp; - &pound;108,000<br>Bus stop accessibility&nbsp;- &pound;25,000<br>Bus priority - &pound;15,000<br>Streets for People&nbsp; - &pound;1,749,000<br>School Travel Plans - &pound;85,000<br>Work travel plans&nbsp;- &pound;25,000<br>Environment&nbsp;- &pound;20,000<br>Controlled parking zones&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;110,000<br><strong>Total&nbsp;- &pound;2,780,000</strong> </li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;2.8m funding includes &pound;1.7m for major safety and environmental improvements to Exhibition Road and Thurloe Street with wider pavements and safer crossings, &pound;108,000 for the London Cycle Network+ for more cycle lanes and better";}
        
        


 