


@{ViewBag.Title = "Mayor announces &pound;3.6m for transport improvements in Havering";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.6m for transport improvements in Havering</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.6m of funding for Havering to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.6m investment will go towards directly improving transport for people in Havering"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.6m investment will go towards directly improving transport for people in Havering
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.6m funding includes &pound;840,000 for local safety schemes, &pound;445,000 for more cycle lanes and better facilities for cyclists in Havering as part of the London Cycle Network+, and &pound;200,000 to improve bus services including two new bus lanes in Upminster Town Centre.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: 'This new &pound;3.6m investment in local transport schemes will make the daily journeys of people in Havering, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>'Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school.' </p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy, said:&nbsp;'This &pound;3.6m investment will go towards directly improving transport for people in Havering.</p>
<p>'Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>'The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.</p>
<p>'This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport.'</p>
<p>Projects funded in Havering for 2008/09 include:<br></p>
<ul>
<li>&pound;840,000 for road safety schemes to reduce collisions </li>
<li>&pound;445,000 for the London Cycle Network+ </li>
<li>&pound;200,000 for measures to improve bus services and journey times, including two new bus lanes in Upminster Town Centre and a review of waiting and loading restrictions </li>
<li>&pound;168,000 to resurface the sections of the A118. This is one of two road improvement schemes in Havering to receive funding this year </li>
<li>&pound;70,000 to develop road safety improvements to Brentwood Road.&nbsp; This will include the installation of pedestrian islands and traffic islands, upgrading existing pedestrian facilities, anti-skid surfacing and red surfacing and changes to road markings to improve safety for all road users </li>
<li>&pound;40,000 for a new Zebra crossing to coincide with the School Crossing Patrol on South End Road outside the entrance to RJ Mitchell Primary school</li></ul>
<p>
<hr>

<p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include:<br>
<ul type="circle">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is a&nbsp;list with a breakdown of Local Implementation Plan funding for Havering:</li></ul>
<p>Principal road renewals&nbsp;- &pound;391,000<br>Bridge strengthening&nbsp;- &pound;50,000<br>Local safety schemes&nbsp;- &pound;840,000<br>20mph zones&nbsp;- &pound;200,000<br>Education, training and publicity&nbsp;- &pound;52,000<br>Walking&nbsp;- &pound;135,000<br>Cycling&nbsp;- &pound;130,000<br>London Cycle Network+&nbsp;- &pound;445,000<br>Bus stop accessibility&nbsp;- &pound;150,000<br>Bus priority&nbsp;- &pound;603,000<br>Station access&nbsp;- &pound;150,000<br>School Travel Plans&nbsp;- &pound;257,000<br>Work travel plans&nbsp;- &pound;8,000<br>Travel awareness&nbsp;- &pound;11,000<br>Regeneration area schemes&nbsp;- &pound;120,000<br>Environment&nbsp;- &pound;30,000<br>Controlled parking zones&nbsp;- &pound;25,000<br>Local area accessibility&nbsp;- &pound;40,000<br>Total&nbsp;- &pound;3,637,000</p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by Transport for London. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.6m funding includes &pound;840,000 for local safety schemes, &pound;445,000 for more cycle lanes and better facilities for cyclists in Havering as part of the London Cycle Network+, and &pound;200,000 to improve bus services including two new";}
        
        


 