


@{ViewBag.Title = "Mayor announces &pound;5m for transport improvements in Newham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;5m for transport improvements in Newham</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;5m of funding for Newham to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;5m investment will go towards directly improving transport for people in Newham"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;5m investment will go towards directly improving transport for people in Newham
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;5m funding includes &pound;578,000 for School Travel Plans, &pound;300,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Newham and &pound;334,000 to resurface the A112 Prince Regent Lane and fit new street benches. </p>
<p>It also includes &pound;150,000 to improve pedestrian crossings in Stratford Broadway and &pound;175,000 to make Mitchell Walk, Mid Beckton, safer and more accessible with better lighting and signage.</p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London&nbsp;(TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: "This new &pound;5m investment in local transport schemes will the daily journeys of people in Newham, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."&nbsp;</p>
<h2>Local transport improvements </h2>
<p>London's Transport Commissioner, Peter Hendy, said:&nbsp;"This &pound;5m investment will go towards directly improving transport for people in Newham.</p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp;</p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Newham for 2008/09 include:</p>
<ul>
<li>&pound;578,000 for School Travel Plans </li>
<li>&pound;300,000 for London Cycle Network+ </li>
<li>&pound;334,000 to resurface the road and improve pathways, including new street benches in various locations along the A112 Prince Regent Lane </li>
<li>&pound;150,000 to improve pedestrian crossings and reduce pedestrian collisions in Stratford Broadway, in the area surrounding Stratford Shopping Centre and Stratford Station </li>
<li>&pound;10,000 to make improvements to lighting and safety for Altmore Infant school and to match fund a capital grant for cycle storage, highlighted in their school travel plan </li>
<li>&pound;175,000 to improve Mitchell Walk serving the Mid-Beckton residential area, which is currently underused.&nbsp;Work has already begun on improving the Northumberland Road / Hadleigh Walk section and it is expected that the remainder of the walk will be improved in stages in time for the 2012 Olympics.&nbsp;Work will include: ramped access, a suitable walking and cycling surface, gates designed to prevent car and motorcycle access, enhanced lighting levels, seating at suitable locations and appropriate signage. It is hoped that this will lead to step-free access along the entire route and encourage more walking and cycling</li></ul>
<p>
<hr>

<p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally. While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul>
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is an allocation breakdown of Local Implementation Plan funding for Newham for 2008/09:<br><br>Principal road renewals&nbsp;- &pound;866,000<br>Local safety schemes&nbsp;- &pound;590,000<br>20mph zones&nbsp;- &pound;300,000<br>Education, training and publicity&nbsp;- &pound;70,000<br>Walking -&nbsp;&pound;325,000<br>Cycling&nbsp;- &pound;156,000<br>London Cycle Network+&nbsp;- &pound;300,000<br>Bus stop accessibility&nbsp;- &pound;200,000<br>Bus priority&nbsp;- &pound;1,377,000<br>Streets for People&nbsp;- &pound;100,000<br>School Travel Plans&nbsp;- &pound;578,000<br>Freight&nbsp;- &pound;20,000<br>Controlled parking zones&nbsp;- &pound;40,000<br>Local area accessibility&nbsp;- &pound;70,000<br><strong>Total -&nbsp;&pound;4,992,000</strong> </li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL and&nbsp;will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;5m funding includes &pound;578,000 for School Travel Plans, &pound;300,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Newham and &pound;334,000 to resurface the A112 Prince Regent Lane and fit new";}
        
        


 