


@{ViewBag.Title = "Mayor announces &pound;4.3m for transport improvements in Harrow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.3m for transport improvements in Harrow</h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.3m of funding for Harrow to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;4.3m investment will go towards directly improving transport for people in Harrow"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;4.3m investment will go towards directly improving transport for people in Harrow
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;4.3m funding includes &pound;665,000 for more cycle lanes and better facilities for cyclists in Harrow as part of the London Cycle Network+, &pound;1m to widen the rail bridge at Petts Hill Bridge, &pound;360,000 for three schemes to set up 20 mph zones around schools and &pound;222,000 to reconstruct the footpath along the A409 from Uxbridge Road to Harrow Weald Park.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: 'This new &pound;4.3m investment in local transport schemes will make the daily journeys of people in Harrow, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>'Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school.' </p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy, said:&nbsp;'This &pound;4.3m investment will go towards directly improving transport for people in Harrow.</p>

<p>'Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>'The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.</p>
<p>This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport.'</p>
<p>Projects funded in Harrow for 2008/09 will include:<br></p>
<ul>
<li>&pound;665,000 for the London Cycle Network+ </li>
<li>&pound;1m to provide a widened rail bridge at Petts Hill Bridge, improving the junction and making it safer. Network Rail and the London Boroughs of Ealing and Harrow are also contributing to this project </li>
<li>&pound;360,000 for three schemes to set up 20 mph zones around schools to improve safety, especially for school children. This investment will also contribute to a general Review of Safety around schools, to be completed by 2008 </li>
<li>&pound;222,000 to reconstruct the footpath alongside the A409 from Uxbridge Road to Harrow Weald Park </li>
<li>&pound;50,000 to support the borough's design and development work for a town centre scheme in Station Road near Harrow-on-the-Hill station, to complement bus access improvements in the area.&nbsp;The aim is to improve public transport in the town centre. Measures being considered include buses travelling in both directions in Station Road and improvements for pedestrians such as more direct crossings, better street lighting and landscaping in the area&nbsp; <br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London awards funding for individual schemes, project delivery is the responsibility of the borough. </li>
<li>Priorities for the Local Implementation Plans include:<br>
<ul type="circle">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is a&nbsp;list with a breakdown of Local Implementation Plan funding for Harrow:</li></ul>
<p>Principal road renewals&nbsp;- &pound;560,000<br>Local safety schemes&nbsp;- &pound;225,000<br>20mph zones&nbsp;- &pound;360,000<br>Education, training and publicity&nbsp;- &pound;38,000<br>Walking&nbsp;- &pound;150,000<br>Cycling&nbsp;- &pound;70,000<br>London Cycle Network+&nbsp;- &pound;665,000<br>Bus stop accessibility&nbsp;- &pound;106,000<br>Bus priority&nbsp;- &pound;1,502,000<br>Town Centres&nbsp;- &pound;50,000<br>Station access&nbsp;- &pound;250,000<br>School Travel Plans&nbsp;- &pound;122,000<br>Travel awareness&nbsp;- &pound;40,000<br>Environment&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;100,000<br>Total&nbsp;- &pound;4,258,000</p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools</li>
<li>London Cycle Network+ is funded by Transport for London. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;4.3m funding includes &pound;665,000 for more cycle lanes and better facilities for cyclists in Harrow as part of the London Cycle Network+, &pound;1m to widen the rail bridge at Petts Hill Bridge, &pound;360,000 for three schemes to set up 20";}
        
        


 