


@{ViewBag.Title = "Mayor announces &pound;3.5m for transport improvements in Merton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.5m for transport improvements in Merton</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.5m of funding for Merton to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.5m investment will go towards directly improving transport for people in Merton"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.5m investment will go towards directly improving transport for people in Merton
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.5m funding includes &pound;613,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Merton, &pound;280,000 for new 20mph zones, &pound;255,000 for measures to improve bus services and journey times and &pound;192,000 for School Travel Plans.</p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.5m investment in local transport schemes will make the daily journeys of people in Merton, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."&nbsp; </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp;"This &pound;3.5m investment will go towards directly improving transport for people in Merton. Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Merton for 2008/09 include: </p>
<ul>
<li>&pound;613,000 for the London Cycle Network+</li>
<li>&pound;280,000 for 20mph zones to improve safety on local streets</li>
<li>&pound;498,000 to improve road safety in Merton, including the Wimbledon Hill Road junction with Alexandra Road and the Haydons Road junction with South Park Road</li>
<li>&pound;255,000 for measures to improve bus services and journey times, including a new contra-flow bus lane at Cricket Green, two new signal junctions on two parts of the Green and two new crossings for cycles and pedestrians to make it safer to cross the road</li>
<li>&pound;15,000 for a programme to refresh driving skills of elderly drivers</li>
<li>&pound;17,000 for Kerbskills training - an ongoing initiative that provides practical roadside training for five to seven-year-olds in Merton to improve their road awareness 
<hr>
</li></ul>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough</li>
<li>Priorities for the Local Implementation Plans include: </li>
<ul type="square">
<li>Improving road safety</li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability</li>
<li>Improving the working of parking and loading arrangements</li>
<li>Improving accessibility for all on the transport network</li>
<li>Encouraging walking and cycling</li>
<li>Bringing transport infrastructure into a good state of repair<br></li></ul>
<li>Below is a&nbsp;breakdown of 2008/09Local Implementation Plan funding for Merton:</li></ul>
<p>Principal road renewals -&nbsp;&pound;584,000<br>Local safety schemes - &pound;498,000<br>20mph zones - &pound;280,000<br>Education, training and publicity - &pound;73,000<br>Walking - &pound;37,000<br>Cycling - &pound;68,000<br>London Cycle Network+ - &pound;613,000<br>Bus stop accessibility - &pound;200,000<br>Bus priority - &pound;775,000<br>School Travel Plans -&nbsp;&pound;192,000<br>Travel awareness - &pound;20,000<br>Local area accessibility - &pound;40,000<br>Parallel initiatives - &pound;90,000<br><strong>Total &pound;3,470,000</strong></p>
<p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools</li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of oTfL's major investments&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.5m funding includes &pound;613,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Merton, &pound;280,000 for new 20mph zones, &pound;255,000 for measures to improve bus services and journey times and";}
        
        


 