


@{ViewBag.Title = "Mayor announces &pound;5.4m for transport improvements in Southwark ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;5.4m for transport improvements in Southwark </h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;5.4m of funding for Southwark to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;5.4m investment will go towards directly improving transport for people in Southwark"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;5.4m investment will go towards directly improving transport for people in Southwark
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;5.4m funding includes &pound;800,000 for new 20 mph zones in Borough &amp; Bankside and Camberwell East, &pound;800,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Southwark and &pound;470,000 to resurface the road and footway on the A215 Denmark Hill between Champion Park and Sunray Avenue. </p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;5.4m investment in local transport schemes will make the daily journeys of people in Southwark, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."</p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp; "This &pound;5.4m investment will go towards directly improving transport for people in Southwark. </p>

<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Southwark for 2008/09 include:&pound;800,000 for the London Cycle Network+</p>
<ul>
<li>&pound;800,000 to introduce 20 mph zones in areas including Borough &amp; Bankside and Camberwell East to improve safety </li>
<li>&pound;685,000 support road safety schemes, including Newington Causeway junction with Gaunt Street and Peckham Park Road </li>
<li>&pound;470,000 for road and footway resurfacing on the A215 Denmark Hill between Champion Park and Sunray Avenue </li>
<li>&pound;325,000 for School Travel Plans </li>
<li>&pound;40,000 for the Charter School to make improvements to signs and crossings and the provision of a safe cycle route to Greendale</li></ul>
<p>
<hr>

<p>
            <p>
<p><strong>Notes for editors</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is a list with a breakdown of Local Implementation Plan funding for Southwark:<br>LIP Programme 2008/09&nbsp;<br>Principal road renewals&nbsp;- &pound;615,000<br>Bridge strengthening&nbsp;- &pound;170,000<br>Local safety schemes&nbsp;- &pound;685,000<br>20mph zones&nbsp;- &pound;800,000<br>Education, training and publicity&nbsp;- &pound;40,000<br>Walking&nbsp;- &pound;130,000<br>Cycling&nbsp;- &pound;260,000<br>London Cycle Network+&nbsp;- &pound;800,000<br>Bus stop accessibility&nbsp;- &pound;229,000<br>Bus priority&nbsp;- &pound;475,000<br>Streets for People&nbsp;- &pound;700,000<br>School Travel Plans&nbsp;- &pound;325,000<br>Work travel plans&nbsp;- &pound;30,000<br>Travel awareness&nbsp;- &pound;35,000<br>Environment&nbsp;- &pound;40,000<br>Controlled parking zones&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;&pound;5,394,000</strong></li></ul>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp;The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools</li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;5.4m funding includes &pound;800,000 for new 20 mph zones in Borough &amp; Bankside and Camberwell East, &pound;800,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Southwark and &pound;470,000 to";}
        
        


 