


@{ViewBag.Title = "Mayor announces &pound;161m for local transport improvements in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;161m for local transport improvements in London</h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;161m funding for local transport improvements in London over the next year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;161m investment will go towards directly improving transport for Londoners."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;161m investment will go towards directly improving transport for Londoners. 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The funding package will provide London Boroughs with the funds to maintain the capital's roads, improve bus services, improve road safety (&pound;20.9m), introduce more 20 mph zones around schools and on residential streets (&pound;8m) improve pedestrian safety and walking facilities, extend London's Cycle Network+ (&pound;19.7m) and introduce more Travel Plans (&pound;10.5m) across London's 33 local authorities. </p>
<p>The funding is part of a five-year &pound;792m programme for local transport schemes included in the Transport for London's (TfL's) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: "This new &pound;161m investment in local transport schemes will make the daily journeys of people in inner and outer London, safer, greener and more accessible, whether they are travelling on public transport, by car, on foot or by bicycle. </p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy, said: "This &pound;161m investment will go towards directly improving transport for Londoners. </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Local projects which are being funded include: </p>
<ul>
<li>&pound;1m to improve Coulsdon Town Centre. Measures being considered for the Town Centre include the widening of footpaths, better street lighting, tree planting and more direct crossings for pedestrians </li>
<li>&pound;1m to complement borough investment in Dagenham Heathway to improve accessibility, safety and security and enhance conditions for pedestrians, cyclists and bus users using the shopping areas. The central crossing will be widened to cope with the flow of people coming out of Dagenham Heathway Tube station at peak times </li>
<li>&pound;1.7m to match Kensington and Chelsea's investment for traffic management changes in Exhibition Road and Thurloe Street. This will reduce the number of vehicles travelling down these roads allowing the construction of wider pavements and safer crossings. Improvements will result in a larger, more pleasant and safer pedestrian area </li>
<li>&pound;742,000 towards cycle training across south-east London, including more than &pound;100,000 in each borough for Bromley, Croydon, Lambeth, Lewisham and Southwark residents<br></li></ul>
            <p>
<p><strong>Notes for editors: </strong></p>
<ul>
<li>Each borough has produced a Local Implementation Plan (LIP) to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, LIP and individual project delivery is the responsibility of each borough </li>
<li>Priorities for the LIPs include: improving road safety, improving bus journey times and reliability, relieving traffic congestion and improving journey time reliability, improving the working of parking and loading arrangements, improving accessibility for all on the transport network, encouraging walking and cycling and bringing transport infrastructure into a good state of repair </li>
<li>Total allocation by programme area:&nbsp;&nbsp;<br>Area&nbsp;funding&nbsp;&nbsp;&nbsp; <br>Principal road renewal&nbsp;-&nbsp;&pound;18,730,000&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Bridge strengthening&nbsp;-&nbsp;&pound;7,880,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Local safety schemes&nbsp;- &pound;20,896,000 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>20 mph zones&nbsp;- &pound;8,055,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Education, training and publicity&nbsp;- &pound;1,102,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Walking&nbsp;- &pound;9,200,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Cycling&nbsp;-&nbsp;&pound; 4,682,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>London Cycle Network+ (LCN+)&nbsp;- &pound;19,700,000&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Bus stop accessibility&nbsp;- &pound;3,772,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Bus priority&nbsp;- &pound;20,543,000&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Town centres&nbsp;- &pound;7,947,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Streets for People&nbsp;- &pound;5,039,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Station access&nbsp;- &pound;5,165,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>School Travel Plans&nbsp;- &pound;9,178,000 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Work Travel Plans&nbsp;- &pound;1,296,000&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Travel awareness&nbsp;- &pound;886,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Freight&nbsp;- &pound;590,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Regeneration&nbsp;-&pound;1,465,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Environment&nbsp;-&nbsp;&pound;1,926,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Controlled Parking&nbsp;-&nbsp;&pound;510,000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>Accessibility&nbsp;- &pound;1,925,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Parallel Initiatives -&nbsp;&pound;690,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br><strong>TOTAL&nbsp;- &pound;160,935</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li></ul>
<ul>
<li>Total allocation for all boroughs: <br>LIP Programme 2008/09&nbsp;Allocation&nbsp;&nbsp;&nbsp; <br>Barking and Dagenham&nbsp;- &pound;3,257,000&nbsp;&nbsp;&nbsp; <br>Barnet&nbsp;- &pound;3,503,000&nbsp;&nbsp;&nbsp; <br>Bexley&nbsp;- &pound;2,605,000&nbsp;&nbsp;&nbsp; <br>Brent&nbsp;- &pound;4,535,000&nbsp;&nbsp;&nbsp; <br>Bromley -&nbsp;&pound;4,991,000&nbsp;&nbsp;&nbsp; <br>Camden -&nbsp;&pound;5,984,000&nbsp;&nbsp;&nbsp; <br>City of London -&nbsp;&pound;3,733,000&nbsp;&nbsp;&nbsp; <br>Croydon - &pound;6,349,000&nbsp;&nbsp;&nbsp; <br>Ealing -&nbsp;&pound;4,853,000&nbsp;&nbsp;&nbsp; <br>Enfield&nbsp;- &pound;2,395,000&nbsp;&nbsp;&nbsp; <br>Greenwich&nbsp;- &pound;3,618,000&nbsp;&nbsp;&nbsp; <br>Hackney -&nbsp;&pound;3,996,000&nbsp;&nbsp;&nbsp; <br>Hammersmith and Fulham&nbsp;- &pound;5,144,000&nbsp;&nbsp;&nbsp; <br>Haringey -&pound;5,360,000&nbsp;&nbsp;&nbsp; <br>Harrow&nbsp;- &pound;4,258,000&nbsp;&nbsp;&nbsp; <br>Havering&nbsp;- &pound;3,637,000&nbsp;&nbsp;&nbsp; <br>Hillingdon&nbsp;- &pound;3,736,000&nbsp;&nbsp;&nbsp; <br>Hounslow -&nbsp;&pound;4,270,000&nbsp;&nbsp;&nbsp; <br>Islington -&nbsp;&pound;4,185,000&nbsp;&nbsp;&nbsp; <br>Kensington and Chelsea&nbsp;- &pound;2,780,000&nbsp;&nbsp;&nbsp; <br>Kingston -&nbsp;&pound;4,750,000&nbsp;&nbsp;&nbsp; <br>Lambeth&nbsp;- &pound;4,922,000&nbsp;&nbsp;&nbsp; <br>Lewisham -&nbsp;&pound;3,657,000&nbsp;&nbsp;&nbsp; <br>Merton&nbsp;- &pound;3,470,000&nbsp;&nbsp;&nbsp; <br>Newham - &pound;4,992,000&nbsp;&nbsp;&nbsp; <br>Redbridge&nbsp;- &pound;3,374,000&nbsp;&nbsp;&nbsp; <br>Richmond -&nbsp;&pound;6,116,000&nbsp;&nbsp;&nbsp; <br>Southwark&nbsp;- &pound;5,394,000&nbsp;&nbsp;&nbsp; <br>Sutton&nbsp;- &pound;4,340,000&nbsp;&nbsp;&nbsp; <br>Tower Hamlets&nbsp;- &pound;3,089,000&nbsp;&nbsp;&nbsp; <br>Waltham Forest&nbsp;- &pound;3,995,000&nbsp;&nbsp;&nbsp; <br>Wandsworth -&nbsp;&pound;3,043,000&nbsp;&nbsp;&nbsp; <br>Westminster&nbsp;&pound;3,694,000&nbsp;&nbsp;&nbsp; <br>Sub total -&nbsp;&pound;138,022,000&nbsp;&nbsp;&nbsp; <br>Funds allocated to boroughs through partnerships -&nbsp;&pound;10,777,000&nbsp;&nbsp;&nbsp; <br>Studies, surveys, reserve funding -&nbsp;&pound;3,036,000&nbsp;&nbsp;&nbsp; <br>Signal modernisation and system renewal&nbsp;- &pound;9,100,000&nbsp;&nbsp;&nbsp; <br><strong>Total&nbsp;- &pound;160,935,000&nbsp; </strong></li></ul>
<ul>
<li>A&nbsp;School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital.&nbsp;It's due to be finished by 2010 and is one of TfL's major investments</li>
<li>TfL also provides further funding for boroughs to help train and retain transport personnel, to complement major TfL projects, for example Congestion Charging and the western extension, and to deliver TfL projects on borough roads, such as some enhanced bus priority schemes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding package will provide London Boroughs with the funds to maintain the capital's roads, improve bus services, improve road safety (&pound;20.9m), introduce more 20 mph zones around schools and on residential streets (&pound;8m) improve pedestrian";}
        
        


 