


@{ViewBag.Title = "Mayor announces &pound;4.8m for transport improvements in Kingston";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.8m for transport improvements in Kingston</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.8m of funding for Kingston to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;4.8m investment will go towards directly improving transport for people in Kingston"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;4.8m investment will go towards directly improving transport for people in Kingston 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;4.8m funding includes &pound;585,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Kingston, &pound;513,000 for School Travel Plans and &pound;520,000 to make Tolworth Broadway safer and more accessible with more crossings for pedestrians, better footpaths, new street lighting, signs and cycle lanes.</p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;4.8 million investment in local transport schemes will make the daily journeys of people in Kingston, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp;"This &pound;4.8m investment will go towards directly improving transport for people in Kingston. </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Kingston for 2008/09 include:</p>
<ul>
<li>&pound;520,000 to support the completion of design development work in Tolworth Broadway. This will contribute towards works in the town centre to improve accessibility, create a more a pleasant public space and increase safety and security.&nbsp; Measures being designed include the removal of central barriers and more direct crossings for pedestrians, better footpaths, with new street lighting and signs. The addition of cycle lanes and bus priority measures to improve access to public transport also form part of the designs</li>
<li>&pound;585,000 for the London Cycle Network+</li>
<li>&pound;513,000 for School Travel Plans</li>
<li>&pound;110,000 to replace the subway at Tolworth Broadway with a pelican crossing with signals to improve the safety for pedestrians crossing the busy A240. The subway is considered a security hazard by pedestrians and discourages shopping on the Broadway. Its replacement will form part of a new layout for Tolworth Broadway, which will make the Broadway more attractive</li>
<li>&pound;100,000 to resurface the A306 Fairfield North to improve safety and comfort for road users</li>
<li>&pound;50,000 to promote campaigns that encourage greener travel, including: 'Bike Week', 'In town without my car day', 'National Liftshare Day' and 'Walking Works' - to promote walking to work 
<hr>
<br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp; While&nbsp;TfL awards funding for individual schemes, project delivery is the responsibility of the borough</li>
<li>Priorities for the Local Implementation Plans include:</li>
<ul type="square">
<li>Improving road safety</li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability</li>
<li>Improving the working of parking and loading arrangements</li>
<li>Improving accessibility for all on the transport network</li>
<li>Encouraging walking and cycling</li>
<li>Bringing transport infrastructure into a good state of repair</li></ul>
<li>Below is a breakdown of 2008/09 Local Implementation Plan funding for Kingston:<br>Principal road renewals&nbsp;- &pound;185,000<br>Bridge strengthening&nbsp; - &pound;618,000<br>Local safety schemes&nbsp;- &pound;490,000<br>20mph zones - &pound;75,000<br>Education, training and publicity&nbsp;- &pound;66,000<br>Walking&nbsp;- &pound;338,000<br>Cycling&nbsp;- &pound;190,000<br>London Cycle Network+&nbsp;- &pound;585,000<br>Bus stop accessibility&nbsp;- &pound;70,000<br>Bus priority&nbsp;- &pound;645,000<br>Town Centres&nbsp;- &pound;520,000<br>Streets for People&nbsp;- &pound;300,000<br>School Travel Plans&nbsp;- &pound;513,000<br>Work travel plans - &pound;16,000<br>Travel awareness&nbsp;- &pound;50,000<br>Freight&nbsp;- &pound;50,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;&pound;4,750,000</strong></li></ul>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools</li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's&nbsp;major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;4.8m funding includes &pound;585,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Kingston, &pound;513,000 for School Travel Plans and &pound;520,000 to make Tolworth Broadway safer and more";}
        
        


 