


@{ViewBag.Title = "Mayor announces &pound;4.9m for transport improvements in Lambeth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.9m for transport improvements in Lambeth</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.9m of funding for Lambeth to spend on local transport improvements to make the borough safer, greener and more accessible
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;4.9m investment will go towards directly improving transport for people in Lambeth"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;4.9m investment will go towards directly improving transport for people in Lambeth  
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;4.9m funding includes &pound;1m for ten road safety schemes in Lambeth, &pound;858,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Lambeth and &pound;338,000 for School Travel Plans.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;4.9 million investment in local transport schemes will make the daily journeys of people in Lambeth, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."</p>
<h2>Local transport improvements </h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp;"This &pound;4.9m investment will go towards directly improving transport for people in Lambeth.&nbsp; </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Lambeth for 2008/09 include: </p>
<ul>
<li>&pound;1,013,000 to support ten road safety schemes. These include feasibility studies to look at the problem of collisions and improve pedestrian facilities at Norwood Road and accident reducing measures at Coldharbour Lane</li>
<li>&pound;858,000 for the London Cycle Network+</li>
<li>&pound;338,000 for School Travel Plans</li>
<li>&pound;576,000 to resurface the whole length of the A240 Tulse Hill carriageway. Resurfacing this busy stretch of road will improve comfort and safety for road users and minimise the need for unplanned works in the future</li>
<li>&pound;188,000 for cycle training for local residents. Training will be for adults and children including: Bike Ability- a course up to at least level two in 63 schools, one to one Cycle Confidence Training for 500 individuals and Family Riding Courses</li>
<li>&pound;125,000 for a programme of refurbishment of tunnels in Lambeth. Several problems make tunnels unattractive, namely graffiti, damage, dirt, poor drainage, lighting and pigeon fouling. Refurbishment works will reduce these problems through cleaning, painting, repairing and improving lighting, and introducing anti-graffiti and anti-pigeon treatment, plus general site specific environmental improvements
<hr>
<br></li></ul>
            <p>
<p><strong>Note for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is a breakdown of 2008/09 Local Implementation Plan funding for Lambeth: 
<p>Principal road renewals&nbsp;- &pound;576,000<br>Local safety schemes&nbsp;- &pound;1,013,000<br>20mph zones&nbsp;- &pound;420,000<br>Education, training and publicity&nbsp;- &pound;50,000<br>Walking&nbsp;- &pound;125,000<br>Cycling&nbsp;- &pound;293,000<br>London Cycle Network+ - &pound;858,000<br>Bus stop accessibility&nbsp;- &pound;50,000<br>Bus priority&nbsp;- &pound;255,000<br>Town Centres&nbsp;- &pound;100,000<br>Streets for People&nbsp;- &pound;450,000 <br>School Travel Plans - &pound;338,000<br>Work travel plans&nbsp;- &pound;265,000<br>Travel awareness&nbsp;- &pound;40,000 <br>Environment&nbsp;- &pound;30,000<br>Controlled parking zones&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;40,000 <br><strong>Total&nbsp;&pound;4,922,000 </strong></p></li></ul>
<p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around school </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;4.9m funding includes &pound;1m for ten road safety schemes in Lambeth, &pound;858,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Lambeth and &pound;338,000 for School Travel Plans.The funding is";}
        
        


 