


@{ViewBag.Title = "Mayor announces Europe's largest fleet of hydrogen buses for London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces Europe's largest fleet of hydrogen buses for London </h1>
        <div class="content-page-press-release">
        13 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor and Transport for London are committed to tackling climate change through cutting London's contribution to CO2 and other emissions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Operations Director for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
The Mayor and Transport for London are committed to tackling climate change through cutting London's contribution to CO2 and other emissions
</p>
</div>
<p>
</p>
<p>The Mayor of London, Ken Livingstone, today announced that ten new hydrogen-powered buses will join London's bus fleet by 2010. </p>
<p>When operational on London's streets, the hydrogen fuel cell-powered vehicles will produce no pollution or carbon dioxide, a major contributor to global warming, and will help improve the capital's air quality. </p>
<p>Transport for London (TfL) has signed a contract with ISE - an American company with a record of delivering hydrogen buses - for five hydrogen fuel cell buses and five hydrogen internal combustion engine buses.</p>
<p>This is one of the world's first commercial contracts for hydrogen buses. The vehicles will be operated by First on behalf of TfL. </p>
<p>In February 2006, the Mayor announced the London Hydrogen Transport programme, which aims to introduce 70 new hydrogen vehicles into London - ten of these vehicles will be buses. </p>
<p>Transport is responsible for 22 per cent of London's emissions, and the Mayor's Climate Change Action plan sets a target for annual reductions. </p>
<h2>Improving air quality</h2>
<p>Hydrogen vehicles are clean and efficient, and it is expected that the ten hydrogen hybrid buses will produce substantially fewer emissions of CO2 and other harmful air pollutants than a conventional diesel bus. </p>
<p>Ken Livingstone said: "Hydrogen is a fuel of the future as it improves air quality and does not produce the harmful emissions which are causing catastrophic climate change. These ten new hydrogen vehicles will be clean and efficient, providing a smoother, quieter ride for passengers. </p>
<p>"London is now the first city in Europe to commit to a hydrogen bus fleet of this size, which will match traditional diesel buses in terms of performance. </p>
<p>"This represents a huge step forward from the previous hydrogen trials in the capital and is an important step towards my target of having five per cent of all public sector fleet vehicles powered by hydrogen by 2015." </p>
<h2>Reducing emissions</h2>
<p>The contract signed with ISE is for &pound;9.65m.</p>
<p>This covers not only the initial cost of the vehicles themselves but also the specialist maintenance and replacement parts over a five year period after delivery.  </p>
<p>The Department for Business Enterprise &amp; Regulatory Reform has provided a grant of &pound;2.6 million towards TfL's hydrogen bus programme. </p>
<p>Malcolm Wicks, Minister of State for Energy, said: "This is a very exciting development and a serious step towards the long-term aim of reducing emissions from road transport.  </p>
<h2>Fuel cell projects</h2>
<p>"The Government has backed the Mayor's scheme with &pound;2.6m as part of a wider package of support for UK hydrogen and fuel cell projects.  </p>
<p>"This again underlines our commitment to do what we can to tackle climate change."</p>
<p>Mike Weston, Operations Director for London Buses, said: "The Mayor and Transport for London are committed to tackling climate change through cutting London's contribution to CO2 and other emissions.  </p>
<p>"Hydrogen technology is still being developed and we are paying a premium for these early models.</p>
<p>"However, we firmly believe this is a worthwhile investment in developing clean, green technology, and we expect costs to reduce over time."</p>
<p>
</p>
<p><strong>Notes to editors: </strong></p>
<ul>
    <li>These new hydrogen buses will incorporate hybrid technology to ensure they make the most efficient use of hydrogen. It also allows hydrogen buses to match their diesel counterparts in terms of range and operating hours</li>
    <li>Hydrogen fuel cell buses produce no exhaust emissions other than water vapour. Emissions from the buses with hydrogen internal combustion engines will also be much lower than from conventional diesel buses; exact figures will be confirmed after delivery</li>
    <li>ISE is an American company which has been delivering hydrogen buses since 2004. ISE will be working with a number of sub-contractors, including The Wright Group, a bus manufacturer based in Northern Ireland, and Ballard, a fuel cell manufacturer based in Canada</li>
    <li>The 'well to wheel' CO2 emissions for both types of bus will be calculated after delivery, when the volume of hydrogen required to power the buses in operation has been confirmed.  'Well to wheel' emissions levels take into consideration the production or extraction processes used in procuring the fuel, as well as the emissions produced by vehicles in operation. The reductions in carbon dioxide emissions, compared to a diesel bus are expected to be: 50 per cent reduction for the fuel cell buses and 20 per cent reduction for the internal combustion engine buses</li>
    <li>The procurement process to secure a hydrogen refuelling supplier is well underway and TfL expects to have chosen a supplier on board early in 2008</li>
    <li>This project compliments the activities of the Hydrogen Bus Alliance, which TfL was integral in setting up. The Alliance comprises representatives from the public transport authorities of international cities and regions that have demonstrated a clear commitment to hydrogen technology. Each member of the Alliance has made a commitment to buy at least five new hydrogen buses to begin operating between 2008 and 2012. For more details: <a href="http://www.hydrogenbusalliance.org">www.hydrogenbusalliance.org</a> </li>
    <li>TfL previously took part in CUTE (Cleaner Urban Transport for Europe) - a European Union project designed to test hydrogen technology in different cities in Europe. A number of participants (including London) also took part in the one year extension of the trial, known as Hy:FLEET CUTE. The trial saw three hydrogen-powered fuel cell buses running on the RV1 route in London for three years. The aim of the project was to demonstrate the feasibility of an innovative, high energy efficient, clean urban public transport system; and educate people about hydrogen fuel</li>
    <li>CUTE trial: <a href="http://www.fuel-cell-bus-club.com">www.fuel-cell-bus-club.com</a> </li>
    <li>HyFLEET:CUTE extension: <a href="http://www.global-hydrogen-bus-platform.com">www.global-hydrogen-bus-platform.com</a> </li>
    <li>These ten new hydrogen buses are part of the Mayor's plan to have up to 70 hydrogen vehicles in operation in London by 2010, as set out in the London Hydrogen Partnership's Transport Action Plan.</li>
</ul>
<p> </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today announced that ten new hydrogen-powered buses will join London's bus fleet by 2010. When operational on London's streets, the hydrogen fuel cell-powered vehicles will produce no pollution or carbon dioxide, a";}
        
        


 