


@{ViewBag.Title = "Mayor announces &pound;5.4m investment for transport improvements in Haringey";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;5.4m investment for transport improvements in Haringey</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;5.4m of funding for Haringey to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;5.4m investment will go towards directly improving transport for people in Haringey"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;5.4m investment will go towards directly improving transport for people in Haringey
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;5.4m funding includes &pound;1m to make Tottenham High Road (A1010) safer for pedestrians, cyclists and bus users, &pound;802,000 for more cycle lanes and better facilities for cyclists as part of the London Cycle Network+,&nbsp;and &pound;208,000 to make bus stops fully accessible, including removing obstructions and raising kerbs. </p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: "This new &pound;5.4m investment in local transport schemes will make the daily journeys of people in Haringey, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."&nbsp; </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy, said: "This &pound;5.4m investment will go towards directly improving transport for people in Haringey.</p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.</p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Haringey for 2008/09 include:</p>
<ul>
<li>&pound;1m will contribute towards works in Tottenham High Road (A1010) and some neighbouring roads to improve facilities for pedestrians, cyclists and bus users resulting in better accessibility, a more pleasant public realm and increased safety and security </li>
<li>&pound;995,000 to strengthen Buckingham Road Bridge. Buckingham Road is situated on top of a busy railway line, in the Alexandra Palace Station area. Funds will be used in order to further assess the bridge and strengthen the structure to provide a safer and more comfortable road for its users </li>
<li>&pound;208,000 to make bus stops fully accessible, such as replacing footways, removing obstructions and raising kerbs </li>
<li>&pound;18,000 for Moselle School to match costs for Independent Travel Training for children with learning difficulties so that they are able to confidently and safely take alternative modes of transport, as identified in the school's travel plan and annual review</li></ul>
<p>
<hr>

<p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally. While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="circle">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is an allocation breakdown of Local Implementation Plan funding for Haringey for 2008/09:<br></li></ul>
<p>Principal road renewals&nbsp;- &pound;400,000<br>Bridge strengthening&nbsp;- &pound;995,000<br>Local safety schemes&nbsp;- &pound;545,000<br>20mph zones&nbsp;- &pound;180,000<br>Education, training and publicity&nbsp;- &pound;23,000<br>Walking&nbsp;- &pound;135,000<br>Cycling&nbsp;- &pound;130,000<br>London Cycle Network+ - &pound;802,000<br>Bus stop accessibility&nbsp;- &pound;208,000<br>Bus priority&nbsp;- &pound;205,000<br>Town centres&nbsp;- &pound;1,000,000<br>School Travel Plans -&pound;612,000<br>Travel awareness&nbsp;- &pound;30,000<br>Environment&nbsp;- &pound;55,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;- &pound;5,360,000</strong></p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp;The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL and will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;5.4m funding includes &pound;1m to make Tottenham High Road (A1010) safer for pedestrians, cyclists and bus users, &pound;802,000 for more cycle lanes and better facilities for cyclists as part of the London Cycle Network+,&nbsp;and";}
        
        


 