


@{ViewBag.Title = "Mayor announces &pound;3.7m for transport improvements in Westminster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.7m for transport improvements in Westminster</h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.7m of funding for Westminster to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.7m investment will go towards directly improving transport for people in Westminster"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.7m investment will go towards directly improving transport for people in Westminster
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.7m funding includes &pound;885,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Westminster, &pound;375,000 for improvements at junction of the Strand and Aldwych to improve bus services and journey times and &pound;15,000 for schools to encourage primary-school age children to walk to school.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.7m investment in local transport schemes will make the daily journeys of people in Westminster, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."</p>
<h2>Improving local transport</h2>

<p>London's Transport Commissioner, Peter Hendy said: "This &pound;3.7m investment will go towards directly improving transport for people in Westminster. </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle. </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Westminster for 2008/09 include:</p>
<ul>
<li>&pound;885,000 for the London Cycle Network+, including new cycle lanes, contra-flows, signals and improved crossings etc </li>
<li>&pound;692,000 for road safety schemes to reduce collisions </li>
<li>&pound;225,000 over two years for measures to improve bus services and journey times, including improvements to the junction of the Strand and the Aldwych Gyratory, which will involve the introduction of a contra-flow bus lane, pedestrian facilities and signal improvements </li>
<li>&pound;150,000 for improvements to the pedestrian environment surrounding St Martin's-In-The-Field church as part of the World Squares for All projects. This will include providing an additional pavement, creating a new public and social space, improving street lighting and reducing street furniture, such as railings </li>
<li>&pound;15,000 for resources to be distributed to up to 20 schools to run 'Walk on Wednesday' walking challenges. This consists of postcards for pupils to record how they are travelling to school during the month, badges that are awarded to those pupils that walk at least once a week during the month. Resources also include calendars for the classrooms and wall charts to record how everyone is doing </li>
<li>In addition to the &pound;3.7m funding, &pound;500,000 is being contributed towards a major refurbishment project in Leicester Square</li></ul>
<p>
<hr>

            <p>
<p><strong>Notes for editors</strong></p>
<ul>
<li>Local Implementation Plans&nbsp; - each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London awards funding for individual schemes, project delivery is the responsibility of the borough</li></ul>
<ul>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li></ul>
<ul>
<li>Below is a&nbsp;list with a breakdown of Local Implementation Plan funding for Westminster:<br>LIP Programme 2008/09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Principal road renewals - &pound;670,000<br>Bridge strengthening - &nbsp;&pound;95,000<br>Local safety schemes&nbsp; - &pound;692,000<br>Education, training and publicity - &nbsp;&pound;25,000<br>Walking&nbsp; - &pound;350,000<br>Cycling&nbsp;- &pound;100,000<br>London Cycle Network+&nbsp;- &pound;885,000<br>Bus stop accessibility&nbsp;- &pound;70,000<br>Bus priority&nbsp;- &pound;420,000<br>Town Centres - &nbsp;&pound;50,000<br>School Travel Plans - &nbsp;&pound;129,000<br>Travel awareness&nbsp;- &pound;23,000<br>Environment&nbsp;- &pound;95,000<br>Local area accessibility - &nbsp;&pound;90,000<br><strong>Total:&nbsp;&pound;3,694,000</strong></li></ul>
<ul>
<li>A&nbsp;School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools</li></ul>
<ul>
<li>The London Cycle Network+ is funded by Transport for London. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.7m funding includes &pound;885,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Westminster, &pound;375,000 for improvements at junction of the Strand and Aldwych to improve bus services and journey";}
        
        


 