


@{ViewBag.Title = "Mayor announces &pound;6m for transport improvements in Camden";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;6m for transport improvements in Camden</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;6m of funding for Camden to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;6m investment will go towards directly improving transport for people in Camden"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;6m investment will go towards directly improving transport for people in Camden
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;6million funding includes &pound;682,000 for more cycle lanes and better facilities for cyclists in Camden as part of the London Cycle Network+, &pound;585,000 to resurface the carriageway of Eversholt Street (A420) and &pound;440,000 for town centre improvements in Kentish Town, including tree planting, new lighting, repaved footpaths and new pedestrian crossings.</p>
<p>The funding is part of the record-breaking five-year &pound;792 million programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone, said: "This new &pound;6m investment in local transport schemes will make the daily journeys of people in Camden, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy, said:&nbsp;"This &pound;6m investment will go towards directly improving transport for people in Camden.</p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Camden for 2008/09 include:</p>
<ul>
<li>&pound;682,000 for the London Cycle Network+ </li>
<li>&pound;108,000 allocated for 20 mph zones in Camden to improve safety on local streets </li>
<li>&pound;585,000 to resurface the carriageway and reconstruct the footway on the A420 Eversholt Street.&nbsp;These improvements to the environment and conditions will benefit road users and pedestrians </li>
<li>&pound;43,000 to promote campaigns that encourage greener travel, including: 'Bike Week', 'In town without my car day', 'National Liftshare Day' and 'Walking Works' - to promote walking to work </li>
<li>&pound;30,000 to be spent on an anti-drug driver campaign targeting young people </li>
<li>&pound;200,000 to upgrade the area in Agar Place to accommodate pedestrians and cyclists and improve comfort, directness and safety for cycle users </li>
<li>&pound;440,000 for town centre improvements in Kentish Town. Works include new public spaces at Rochester Road, Farrier Street and Healy Street. Tree planting and new lighting together with the repaving of the footpaths to improve the streetscape will form part of these improvements. A feature of the scheme will be the restoration of the canopy area by Kentish Town station to enhance its use as a public space<br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough</li>
<li>Priorities for the Local Implementation Plans include:</li>
<ul type="circle">
<li>Improving road safety</li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability</li>
<li>Improving the working of parking and loading arrangements</li>
<li>Improving accessibility for all on the transport network</li>
<li>Encouraging walking and cycling</li>
<li>Bringing transport infrastructure into a good state of repair</li></ul>
<li>Below is an allocation breakdown of Local Implementation funding for Camden for 2008/09:<br></li></ul>
<p>Principal road renewals&nbsp;- &pound;585,000<br>Local safety schemes&nbsp;- &pound;750,000<br>20mph zones&nbsp;- &pound;108,000<br>Education, training and publicity&nbsp;- &pound;70,000<br>Walking&nbsp;- &pound;288,000<br>Cycling&nbsp;- &pound;144,000<br>London Cycle Network+ - &pound;1,517,000<br>Bus stop accessibility&nbsp;- &pound;100,000<br>Bus priority&nbsp;- &pound;659,000<br>Town Centres&nbsp;- &pound;828,000<br>Streets for People&nbsp;- &pound;70,000<br>School Travel Plans - &pound;137,000<br>Work travel plans&nbsp;- &pound;185,000<br>Travel awareness&nbsp;- &pound;43,000<br>Freight&nbsp;- &pound;15,000<br>Regeneration area schemes&nbsp;- &pound;100,000<br>Environment&nbsp;- &pound;110,000<br>Local area accessibility&nbsp;- &pound;75,000<br>Parallel initiatives&nbsp;- &pound;200,000<br><strong>Total&nbsp;- &pound;5,984,000</strong></p>

<p>&nbsp;</p>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp;The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools.</li>
<li>The London Cycle Network+ is funded by TfL.&nbsp;It will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;6million funding includes &pound;682,000 for more cycle lanes and better facilities for cyclists in Camden as part of the London Cycle Network+, &pound;585,000 to resurface the carriageway of Eversholt Street (A420) and &pound;440,000 for town";}
        
        


 