


@{ViewBag.Title = "Mayor announces &pound;3.1m for transport improvements in Tower Hamlets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.1m for transport improvements in Tower Hamlets</h1>
        <div class="content-page-press-release">
        15 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.1m of funding for Tower Hamlets to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.1m investment will go towards directly improving transport for people in Tower Hamlets"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.1m investment will go towards directly improving transport for people in Tower Hamlets
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;3.1m funding includes &pound;595,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Tower Hamlets, &pound;355,000 for School Travel Plans, &pound;250,000 for safety improvements to the Hackney Road junction with Cambridge Heath Road to reduce accidents, &pound;250,000 for better lighting on Devons Road and &pound;75,000 for improved signs, road marking, guard rails and bollards around Alice Model Nursery. </p>
<p>The funding is part of the record-breaking five year &pound;792m programme for local transport schemes included in the Transport for London (TfL)&nbsp;&pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.1m investment in local transport schemes will make the daily journeys of people in Tower Hamlets, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1,600 school travel plans have been approved which encourage and enable more children and their parents to walk to school." </p>
<h2>Improving local transport </h2>

<p>London's Transport Commissioner, Peter Hendy said:&nbsp; "This &pound;3.1m investment will go towards directly improving transport for people in Tower Hamlets. </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp;</p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Tower Hamlets for 2008/09 include:</p>
<ul>
<li>&pound;595,000 for the London Cycle Network+ </li>
<li>&pound;355,000 for School Travel Plans </li>
<li>&pound;250,000 for improvements to the Hackney Road junction with Cambridge Heath Road to reduce accidents </li>
<li>&pound;250,000 for measures to prevent night-time accidents on Devons Road between Campbell Road and Gale Street. The clarity of the road layout will be improved and there will be better lighting to benefit all road users </li>
<li>&pound;75,000 for Alice Model Nursery School whose school travel plan has identified the need for improved signs and road markings as well as pedestrian guardrails, bollards and other footway improvements for walkers </li>
<li>&pound;30,000 for a study and design to provide cycle crossing of Cambridge Heath Road </li></ul>
<p>
<hr>

            <p>
<p><strong>Notes for editors</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is a&nbsp;list with a breakdown of Local Implementation Plan funding for Tower Hamlets:<br>LIP Programme 2008/09&nbsp;<br>Principal road renewals&nbsp;- &pound;264,000<br>Local safety schemes&nbsp;- &pound;740,000<br>20mph zones&nbsp;- &pound;133,000<br>Education, training and publicity&nbsp;- &pound;62,000<br>Walking&nbsp;- &pound;200,000<br>Cycling&nbsp;- &pound;115,000<br>London Cycle Network+&nbsp;- &pound;595,000<br>Bus stop accessibility&nbsp;- &pound;90,000<br>Bus priority&nbsp;- &pound;340,000<br>School Travel Plans&nbsp;- &pound;355,000<br>Work travel plans&nbsp;- &pound;15,000<br>Travel awareness&nbsp;- &pound;40,000<br>Environment&nbsp;- &pound;20,000<br>Controlled parking zones&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;50,000<br>Parallel initiatives&nbsp;- &pound;50,000<br><strong>Total&nbsp;&pound;3,089,000 </strong></li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp;The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.1m funding includes &pound;595,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Tower Hamlets, &pound;355,000 for School Travel Plans, &pound;250,000 for safety improvements to the Hackney Road";}
        
        


 