


@{ViewBag.Title = "Mayor announces &pound;4.2m for transport improvements in Islington";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.2m for transport improvements in Islington</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.2m of funding for Islington to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;4.2m investment will go towards directly improving transport for people in Islington"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;4.2m investment will go towards directly improving transport for people in Islington 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The &pound;4.2m funding includes &pound;910,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Islington, &pound;824,000 for 20mph zones in Islington including Highbury East Ward and &pound;374,000 to resurface the road and pavement on Finsbury Square (A501).</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;4.2 million investment in local transport schemes will make the daily journeys of people in Islington, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment in local transport schemes, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."&nbsp; </p>

<h2>Improving local transport</h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp;"This &pound;4.2m investment will go towards directly improving transport for people in Islington. </p>
<p>"Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; </p>
<p>"This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in Islington for 2008/09 include:</p>
<ul>
<li>&pound;910,000 for the London Cycle Network+ </li>
<li>&pound;374,000 to resurface the carriageway and reconstruct the footway on the A501 Finsbury Square. This scheme will improve a very busy road as well as create a better footway for pedestrians </li>
<li>&pound;824,000 for 20mph zones including &pound;250,000 for a 20 mph zone in Highbury East Ward, including speed bumps and improvements to pedestrian crossings. This aims to reduce accidents involving speeding vehicles </li>
<li>&pound;150,000 for a road safety scheme to reduce collisions on Highgate Hill from Tollhouse Way to Hornsey Lane. Measures include upgrading pedestrian facilities, bus accessibility and improvements to the right turn lane into Macdonald Road </li>
<li>&pound;40,000 to be distributed to local schools to promote sustainable travel initiatives that have been specifically identified in their school travel plans 
<hr>
<br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp;While&nbsp;TfL awards funding for individual schemes, project delivery is the responsibility of the borough </li>
<li>Priorities for the Local Implementation Plans include: 
<ul type="square">
<li>Improving road safety </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Encouraging walking and cycling </li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></li>
<li>Below is a breakdown of 2008/09 Local Implementation Plan funding for Islington:<br>Principal road renewals&nbsp;- &pound;374,000<br>Local safety schemes&nbsp;- &pound;480,000<br>20mph zones&nbsp;- &pound;824,000<br>Walking&nbsp;- &pound;150,000<br>Cycling - &pound;135,000<br>London Cycle Network+&nbsp;- &pound;910,000<br>Bus stop accessibility&nbsp;- &pound;184,000<br>Bus priority&nbsp;- &pound;280,000<br>Streets for People&nbsp;- &pound;25,000<br>School Travel Plans&nbsp;- &pound;113,000<br>Work travel plans&nbsp;- &pound;10,000<br>Travel awareness - &pound;50,000<br>Freight&nbsp;- &pound;50,000<br>Regeneration area schemes&nbsp;- &pound;250,000<br>Environment&nbsp;- &pound;160,000<br>Local area accessibility&nbsp;- &pound;40,000<br>Parallel initiatives - &pound;150,000<br><strong>Total&nbsp;&pound;4,185,000</strong></li></ul>
<ul>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools </li>
<li>The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of TfL's major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;4.2m funding includes &pound;910,000 for the London Cycle Network+ for more cycle lanes and better facilities for cyclists in Islington, &pound;824,000 for 20mph zones in Islington including Highbury East Ward and &pound;374,000 to resurface";}
        
        


 