


@{ViewBag.Title = "Mayor announces &pound;3.7m for transport improvements in the City of London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.7m for transport improvements in the City of London</h1>
        <div class="content-page-press-release">
        16 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.7m of funding for the City of London to spend on local transport improvements to make the borough safer, greener and more accessible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This &pound;3.7m investment will go towards directly improving transport for people in City of London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This &pound;3.7m investment will go towards directly improving transport for people in City of London
                            
                        </p>
                    </div>
                
            
            
            <p>The &pound;3.7m funding includes &pound;795,000 for more cycle lanes and better facilities for cyclists in the City of London as part of the London Cycle Network+, &pound;1,050,000 funding for leading on measures across London to make walking safer and more accessible and &pound;300,000 for improvements to Carter Lane to improve the environment and make it more accessible for pedestrians.</p>
<p>The funding is part of the record-breaking five-year &pound;792m programme for local transport schemes included in the Transport for London (TfL) &pound;10bn Investment Programme.</p>
<p>Mayor of London, Ken Livingstone said: "This new &pound;3.7m investment in local transport schemes will make the daily journeys of people in the City of London, safer, greener and more accessible, whether they are travelling by public transport, by car, on foot or by bike.</p>
<p>"Thanks to extra investment, cycling has increased by 83 per cent since 2000 and more than 1600 school travel plans have been approved which encourage and enable more children and their parents to walk to school."&nbsp; </p>
<h2>Local transport improvements</h2>
<p>London's Transport Commissioner, Peter Hendy said:&nbsp;"This &pound;3.7m investment will go towards directly improving transport for people in City of London. Local people feel strongly about transport in their area and this funding will make a real difference to their experience each day.&nbsp;&nbsp; </p>
<p>"The investment will fund both large and small projects that will improve bus journeys and access to public transport, reduce congestion, improve the environment and promote a healthier lifestyle.&nbsp; This funding is an important part of our wider programme of spending in the boroughs to make improvements to local transport."</p>
<p>Projects funded in City of London for 2008/09 include:</p>
<ul>
<li>&pound;795,000 for the London Cycle Network+ in the City of London including two-way cycling on Cannon Street</li>
<li>&pound;1,050,000 funding for leading on measures across London to make walking safer and more accessible</li>
<li>&pound;45,000 to implement measures identified in the City of London School Travel Plan</li>
<li>&pound;20,000 to promote campaigns that encourage greener travel, including: 'Bike Week', 'In town without my car day', 'National Liftshare Day' and 'Walking Works' - to promote walking to work</li>
<li>&pound;300,000 towards works for Carter Lane, which is a 'Streets for People' scheme.&nbsp;This will help make the streets in the area more accessible for pedestrians and create an attractive and vibrant outdoor space for local people and tourists to enjoy<br></li></ul>
            <p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>Each year the borough prepares a Local Implementation Plan to demonstrate how they propose to implement the Mayor's Transport Strategy locally.&nbsp; While TfL awards funding for individual schemes, project delivery is the responsibility of the borough.</li></ul>
<ul>
<li>Priorities for the Local Implementation Plans include:</li></ul>
<ul>
<li>Improving road safety</li>
<ul type="circle">
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability</li>
<li>Improving the working of parking and loading arrangements</li>
<li>Improving accessibility for all on the transport network</li>
<li>Encouraging walking and cycling</li>
<li>Bringing transport infrastructure into a good state of repair</li></ul></ul>
<ul>
<li>Below&nbsp;is an allocation breakdown of Local Implementation funding for City for 2008 - 09:</li></ul>
<p>Principal road renewals&nbsp;- &pound;149,000<br>Local safety schemes&nbsp;- &pound;140,000<br>Walking&nbsp;- &pound;1,050,000<br>Cycling&nbsp;- &pound;100,000<br>London Cycle Network+&nbsp;- &pound;795,000<br>Bus priority&nbsp;- &pound;1,091,000<br>Streets for People&nbsp;- &pound;300,000<br>School Travel Plans&nbsp;- &pound;48,000<br>Travel awareness&nbsp;- &pound;20,000<br>Local area accessibility&nbsp;- &pound;40,000<br><strong>Total&nbsp;&pound;3,733,000</strong></p>
<ul>
<li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run.&nbsp; The aim of a school travel plan is to reduce single occupancy car journeys to school, reduce congestion and increase safety around schools.</li></ul>
<ul>
<li>London Cycle Network+ -The London Cycle Network+ is funded by TfL. The London Cycle Network+ will provide 900km of safer, faster cycle routes through the Capital. It's due to be finished by 2010 and is one of our major investments.&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;3.7m funding includes &pound;795,000 for more cycle lanes and better facilities for cyclists in the City of London as part of the London Cycle Network+, &pound;1,050,000 funding for leading on measures across London to make walking safer and";}
        
        


 