


@{ViewBag.Title = "More hybrid buses help make cleaner, greener bus fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More hybrid buses help make cleaner, greener bus fleet</h1>
        <div class="content-page-press-release">
        07 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Another six environmentally friendly hybrid buses are being added to Transport for London's (TfL's) bus fleet.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our aim is that by 2012 every new bus entering the fleet will be a hybrid"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our aim is that by 2012 every new bus entering the fleet will be a hybrid
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The six new single deck hybrid buses will add to the six single deck and one double deck hybrid buses already operating on London's bus network. </p>
<p>The new hybrid buses, built by The Wright Group, are cleaner, quieter and use less fuel than a standard diesel bus, which means they emit considerably less carbon dioxide.&nbsp;&nbsp; </p>
<p>Five of the new hybrids will operate on route 129 and the other will join six hybrid buses already operating on route 360. </p>
<p>The buses will enter service on Monday 19 November 2007. A leafy motif on the vehicles will help passengers recognise the environmentally-friendly status of the buses.</p>
<p>These vehicles are being introduced as part of an ongoing programme by TfL to test innovative technology and reduce emissions from its bus fleet, which is already the cleanest in the UK*.&nbsp; </p>
<p>This is in line with the Mayor of London's Climate Change action plan and other environmental strategies.&nbsp;&nbsp;</p>
<h2>Helping the environment</h2>
<p>Ken Livingstone, Mayor of London, said: "These cleaner, greener hybrid buses are at the forefront of environmentally-friendly technology and will help cut pollutant emissions in London. </p>
<p>"This contributes to our drive to tackle climate change and improve the city's air, as well as offering passengers a smoother, quieter journey. </p>
<p>"Our aim is that by 2012 every new bus entering the fleet will be a hybrid."</p>
<p>Mike Weston, Operations Director for London Buses, said: "London Buses is committed to minimising its impact on the environment. Increasing the number of hybrid buses in the fleet is just one of the projects we are working on to reduce emissions and help tackle climate change."</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>In September, London Buses won the Public Sector Innovation category in the GreenFleet Awards for introducing hybrid buses in London</li>
<li>Route 129 is run by Travel London, and travels from North Greenwich station to Greenwich Cutty Sark</li>
<li>Route 360 is run by London Central, and travels from Elephant &amp; Castle to Kensington (Queen's Gate) via Black Prince Road, Albert Embankment, Vauxhall, Pimlico, Chelsea Bridge Road, Sloane Square, Brompton Cross and South Kensington</li>
<li>The hybrid bus works as follows: a 336 volt battery pack provides power to the wheels via a 120Kw electric motor.&nbsp;The battery pack is kept at optimum power by a 2.2 litre diesel Euro IV engine. In other words, an engine which would normally be found in a light commercial van keeps the battery charged.&nbsp;When the vehicle brakes, energy which would normally be wasted is also recycled and used to charge the battery.&nbsp;With a smaller diesel engine in conjunction with the battery pack the vehicle can achieve improved fuel consumption and reduced CO2</li>
<li>The route 360 bus will use a Lithium Ion battery pack with roof mounted engine cooling and a 2.2 litre Ford engine. The buses on the route 129 will use the gel lead acid batteries</li>
<li>*The 8,000 strong London Buses fleet is the cleanest in the UK. Thirty-six per cent of the fleet meet Euro II standards and are fitted with particulate filters, 61 per cent meet Euro III and are fitted with particulate filters. Three per cent eet the latest Euro standard of Euro IV</li>
<li>This is the first of a number of hybrid systems to be evaluated by London Buses, representing TfL's continued commitment to ensuring its operators' fleets achieve the highest standards in environmental performance</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The six new single deck hybrid buses will add to the six single deck and one double deck hybrid buses already operating on London's bus network. The new hybrid buses, built by The Wright Group, are cleaner, quieter and use less fuel than a standard diesel";}
        
        


 