


@{ViewBag.Title = "New subway and ticket office opens at Walthamstow Central station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New subway and ticket office opens at Walthamstow Central station </h1>
        <div class="content-page-press-release">
        22 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improved safety and accessibility part of massive investment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These improvements will greatly improve the safety and convenience of Walthamstow Central Station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These improvements will greatly improve the safety and convenience of Walthamstow Central Station 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Passengers using Walthamstow Central station are set for faster, safer and easier journeys with a programme of improvements now complete and ready for use. </p>

<p>Underground, bus and National Rail users will benefit from the improvements, which are part of Transport for London's (TfL's)&nbsp;&pound;10bn investment in London's transport infrastructure. </p>
<p>The improvements at Walthamstow include:</p>
<ul>
<li>New easy access subway linking tube, rail and bus terminals</li>
<li>Enlarged ticket office, with extra ticket issuing facilities</li>
<li>Enhanced passenger safety including new CCTV and Help points</li>
<li>Improved access for passengers with disabilities, including new ticket gates</li></ul>

<p>Walthamstow Central is a major transport interchange, with more than 30 per cent of Underground users transferring to and from bus services at the station. </p>

<p>Before the improvements were undertaken, access to the tube was through the busy National Rail station ticketing area. </p>

<p>These works will make greatly improve the experience for the 13 million passengers who use the station each year.</p>
<p>The Mayor of London, Ken Livingstone, said: "These improvements will greatly improve the safety and convenience of Walthamstow Central Station as a key transport interchange. </p>

<p>"They are part of our ongoing effort to improve public transport in London."</p>
<p>John Doyle, London Underground's Victoria line Manager, said: "We want to ensure customers can use this interchange quickly and safely to as part of their journey. </p>

<p>"The raft of improvements we have undertaken will be a huge benefit to customers, as it will save valuable time on journeys, and help ensure their safety.</p>
<p>"Further improvements are planned on the station, including step free access to the ticket hall being installed next year."<br></p>
<p>
<hr>
<br><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube</li>
<li>The station has also had an electronic water exclusion system installed, which will protect the concrete structure from water damage. This is the first time this technology has been used in the UK</li>
<li>Pictures of official opening of the subway are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers using Walthamstow Central station are set for faster, safer and easier journeys with a programme of improvements now complete and ready for use. Underground, bus and National Rail users will benefit from the improvements, which are part of";}
        
        


 