


@{ViewBag.Title = "Oyster in mobile phone ticketing trial";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster in mobile phone ticketing trial</h1>
        <div class="content-page-press-release">
        28 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and TranSys, the consortium that delivers the Oyster smartcard, have joined forces with O2 to trial a mobile handset that will incorporate Oyster technology.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster cards have revolutionised travel in London and laid the foundation for contactless technology in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Fares and Ticketing at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster cards have revolutionised travel in London and laid the foundation for contactless technology in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Five hundred customers with trial '02 wallet' phones will be able to use their mobile handset to pay for travel across London.</p>
<p>Oyster has been a huge success since its launch in 2003 making Londoner's journeys cheaper, easier and quicker. </p>
<p>More than&nbsp;10 million cards have been issued and just three per cent of payments on London's underground and buses are now made using cash. </p>
<p>The 'O2 wallet' trial will now determine how customers feel about having Oyster technology embedded in their phone. </p>
<p>It will also shape if, and how, it can be used on the transport network. </p>
<p>This will help&nbsp;TfL and TranSys decide whether it would be worthwhile developing the trial further to offer more passengers an alternative to the regular Oyster card.</p>
<h2>Large scale pilot </h2>

<p>Five hundred customers, all of whom are regular Oyster users, will begin the six month trial today. </p>
<p>It is the UK's first large scale pilot of 'Near Field Communications' technology on mobile phones. </p>
<p>This means that customers on the trial will also be able to use the phones for cashless payments, smart posters and ticketing management. </p>
<p>The other partner organisations involved in the trial include Barclaycard, Visa Europe, Nokia and AEG.P</p>

<h2>Different services</h2>

<p>Each trialist will be given a Nokia 6131 handset installed with the O2 Wallet.</p>
<p>They will be able to test a wide range of different services in London, such as making purchases in retail outlets and travelling on London's public transport system. </p>
<p>Every participant will be asked to provide feedback on the services featured in the O2 Wallet by evaluating its ease of use, security and overall usefulness.</p>
<p>Shashi Verma, Director of Fares and Ticketing at TfL, said: "Oyster cards have revolutionised travel in London and laid the foundation for contactless technology in the Capital. </p>
<h2>New technology </h2>

<p>"With more than 10 million Oyster cards issued since their launch four years ago Londoners are now used to and comfortable with this type of payment method. </p>
<p>"We are always keen to look at new technology that may be used to keep Oyster at the cutting edge of ticketing systems and provide customers with cheaper, easier and more convenient travel."</p>
<p>Sue Doyle, Marketing Director for TranSys, said: "Oyster is all about making travel easier and more convenient in London. </p>
<p>"It has become part of London life for millions of people who love to use Oyster because of the value and benefits the system delivers.&nbsp; </p>
<p>"This trial is a valuable opportunity for us to listen to customers and find out more about how they would like to use Oyster in the future."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>About TranSys </li></ul>
<ul type="square">
<li>The TranSys consortium, whose principal partners are EDS and Cubic, is responsible for developing, installing, managing and maintaining London's automated fare collection system, which includes the contactless smartcard Oyster, on behalf of TfL</li></ul>
<ul>
<li>About Oyster</li></ul>
<ul type="square">
<li>More than 10 million Oyster cards have been issued and 38 million journeys are made each week using Oyster. Around 80 per cent&nbsp;of all Underground and bus payments in London are now by Oyster card </li>
<li>&nbsp;Since the introduction of Oyster card, the proportion of cash payments on London's Underground and buses has fallen to just three percent </li>
<li>Oyster is available and can be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops agents across the capital. Eighty-five percent of all Londoners live within 400 metres of an Oyster Ticket Stop. This will soon expand to around 4,000 Oyster Ticket Stops </li>
<li>Passengers can store up to three different Travelcard or Bus Pass season tickets and pay as you go on the same Oyster card at the same time </li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations </li>
<li>Almost three times as many passengers can pass an Underground payment gate using Oyster as can using printed tickets - 40 a minute compared to 15 a minute</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Five hundred customers with trial '02 wallet' phones will be able to use their mobile handset to pay for travel across London.Oyster has been a huge success since its launch in 2003 making Londoner's journeys cheaper, easier and quicker. More than&nbsp;10";}
        
        


 