


@{ViewBag.Title = "Residents asked what they think of improvements along Waterfront Transit route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Residents asked what they think of improvements along Waterfront Transit route</h1>
        <div class="content-page-press-release">
        26 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the London boroughs of Bexley and Greenwich are encouraging local residents to have their say on improvements proposed along the future route of the Greenwich Waterfront Transit.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is set to make a real difference to local people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Hardy</div>
            <div class="quotee-job-title">TfL's Head of Project Initiation</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is set to make a real difference to local people
                            
                        </p>
                    </div>
                
            
            
            <p>The Greenwich Waterfront Transit, which will be operated by environmentally friendly buses, is being funded by TfL. 
<p>
<p>The initial route will be from North Greenwich to Abbey Wood, via Woolwich Town Centre and Thamesmead. </p>
<p>It is one of a package of measures to regenerate and support projected growth in the Thames Gateway. </p>
<p>It will also give access to National Rail services and the Docklands Light Railway, due to open in Woolwich in 2009, as well as other bus services. </p>
<h2>Regeneration</h2>
<p>Suggested improvements along the route include new paving and lighting, bus stop locations and environmental improvements such as tree planting and greening. </p>
<p>A public consultation is asking local residents, businesses and stakeholders for their opinions of the suggestions, which should be in place when the scheme launches in 2011. </p>
<p>The consultation will end on 11 January 2008.&nbsp; </p>
<p>A number of public events will take place where the plans will be on display and Transport for London staff will be available to answer questions.</p>
<p>They will be on:</p>
<ul>
<li>Monday 26 November at Morrison Supermarket, Thamesmead, from 10am to 7pm </li>
<li>Tuesday 27 November at North Greenwich Station, from 12pm to 7pm </li>
<li>Saturday 1 December at Woolwich Town Centre from 10am to 4pm</li></ul>
<p>Nigel Hardy, TfL's Head of Project Initiation, said: "The Greenwich Waterfront Transit will improve access to employment, education, healthcare and leisure services for the local community. </p>
<p>"It is set to make a real difference to local people and we want to hear their views on the improvements we can make to the along the route, to ensure that local communities get the most possible from the scheme."</p>
<p>Cllr Pete Brooks, Greenwich Borough Council Cabinet Member for Regeneration, said:&nbsp;"Greenwich Waterfront Transit is another example of the important role transport links are playing in regenerating the area. </p>
<p>"We are seeing a great deal of extra investment across the borough, creating more businesses, homes and jobs.</p>
<p>"With the prospect of the Waterfront Transit, Docklands Light Railway (DLR) and hopefully the Crossrail station at Woolwich, we can expect to see even more investment changing the face of Woolwich beyond recognition."</p>
<p>The transit service, which is included in the Olympic Transport Strategy, will use environmentally friendly buses. </p>
<p>They will be separated from other traffic and operate on bus-only sections along some of the route. </p>
<p>The new service will also include well-lit waiting areas for comfort and security and 'real-time' passenger information to provide passengers with up to the minute travel information.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Greenwich Waterfront Transit phase1 is fully funded under the TfL Investment Programme </li>
<li>More than 24,000 leaflets are being sent to local businesses and people living near the route asking them for their opinions </li>
<li>Greenwich Waterfront Transit phase1 will run between Abbey Wood and North Greenwich via Thamesmead and Woolwich.&nbsp;The scheme aims to help improve the environment, support the economic activity of local centres, encourage sustainable development and aid regeneration </li>
<li>Full details of the proposals can be found at <a href="http://www.tfl.gov.uk/gwt">www.tfl.gov.uk/gwt</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Greenwich Waterfront Transit, which will be operated by environmentally friendly buses, is being funded by TfL. The initial route will be from North Greenwich to Abbey Wood, via Woolwich Town Centre and Thamesmead. It is one of a package of measures";}
        
        


 