


@{ViewBag.Title = "Safety boost as London Underground takes full control of 14 Silverlink stations ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safety boost as London Underground takes full control of 14 Silverlink stations </h1>
        <div class="content-page-press-release">
        22 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        MP Dawn Butler will be visiting three former Silverlink Metro stations at Kensal Green, Stonebridge Park, and Wembley Central, on Friday (23 November 2007).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Customers will see immediate improvements"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers will see immediate improvements
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>These stations are set for huge improvements after their recent transfer to London Underground&nbsp;(LU) control.</p>
<p>The move, which took place on 11 November, means that these previously neglected stations, now served by both LU and London Overground trains, have passed to the public sector, along with staff previously employed by Silverlink Metro.&nbsp; </p>
<p>This will bring investment and safety improvements for passengers and staff alike. </p>
<h2>Improved safety</h2>
<p>All stations will be staffed at all times while trains are running, stations will be deep cleaned and have improved lighting, along with CCTV and Help points in the slightly longer term as stations are refurbished.</p>
<p>The stations which have come under London Underground control are: </p>
<ul>
<li>Queen's Park to Harrow &amp; Wealdstone on the Bakerloo line, excluding Willesden Junction </li>
<li>Kew Gardens and Gunnersbury on the District line </li>
<li>Silverlink platforms at Blackhorse Road, Highbury &amp; Islington and West Brompton stations</li></ul>
<p>Ken Livingstone, Mayor of London, said:&nbsp;"The transfer of these stations to London Underground allows us to invest in better staffing and security for passengers, bringing these stations that have suffered from years of underinvestment up to the standards that passengers deserve. </p>
<p>"Public sector control of these stations will mean real improvements - including putting staff back into stations where the public want to see them, giving passengers a more visible and reassuring presence at all times that trains are operating."</p>
<p>Tim O'Toole,&nbsp;LU Managing Director, said: "This is a great opportunity for London Underground that I'm sure will be welcomed by passengers. </p>
<h2>Progressing plans</h2>
<p>"The transfer reflects the fact that London Underground is already the operator of the majority of train services from these stations.&nbsp; </p>
<p>"Customers will see immediate improvements, as the stations are cleaned and properly lit. </p>
<p>"We are now progressing plans to invest in and improve all these stations, which have suffered from a lack of investment and are perceived by passengers to be unwelcoming.&nbsp; </p>
<p>"We have already improved safety and security, with staff at stations as long as they are open." </p>
<h2>Working together</h2>
<p>Dawn Butler, MP for Brent South, said: "I'd like to thank everyone who backed the campaign for Transport for London to take control of the stations that run through our Borough.</p>
<p>"Thousands of residents joined together to secure massive improvements to our stations' security. </p>
<p>"Through working together, this shows that we can get things done. </p>
<p>"Now that we have stations staffed throughout the hours of operation they'll be much safer places to be.&nbsp; </p>
<h2>Investment</h2>
<p>"Public control will mean once again these stations are run for the benefit of all and not private profit."</p>
<p>Station structures and infrastructure will however remain the responsibility of Network Rail who will continue to retain ownership of the stations. </p>
<p>Staff who were employed by Silverlink Metro at these stations transferred to LU under Transfer of Undertakings (Protection of Employment) regulations.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network with more than half being spent on the Tube</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These stations are set for huge improvements after their recent transfer to London Underground&nbsp;(LU) control.The move, which took place on 11 November, means that these previously neglected stations, now served by both LU and London Overground trains,";}
        
        


 