


@{ViewBag.Title = "Silverlink lines under new management as Mayor launches London Overground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Silverlink lines under new management as Mayor launches London Overground</h1>
        <div class="content-page-press-release">
        12 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A key part of the Capital's rail network is now under new management, and will be transformed over the coming years under Transport for London (TfL) plans.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I welcome the opportunity to show rail passengers what can be done when their interests are put first"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">MD London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I welcome the opportunity to show rail passengers what can be done when their interests are put first
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Launching the new London Overground service, Mayor of London Ken Livingstone outlined the widespread improvements that will be delivered for passengers on the routes formerly operated by Silverlink Metro. </p>

<p>These will include over &pound;1.4bn of investment, more staff, Oyster ticketing and refurbished and new stations improving safety for passengers.</p>
<p>London Overground passengers will benefit immediately through Oyster&nbsp;pay as you go&nbsp;ticketing and staff at every station at all times when services are operating.&nbsp; </p>

<p>Station improvements and new trains will follow, delivered as part of TfL's Investment Programme, with all stations cleaned and repaired by spring 2008 and refurbished with more Help points, CCTV, better lighting and customer information systems by the end of 2010. </p>
<p>A fleet of 44 new electric air-conditioned trains will be introduced on the network from late 2008. These will bring improved accessibility and capacity, and the latest security features.</p>
<p>London Overground services will also operate on the extended East London railway when it opens in 2010, following TfL's &pound;1bn extension of the East London line.</p>
<h2>Raising standards</h2>
<p>The Mayor said: 'London Overground, giving Transport for London control of key parts of the overground rail services in the Capital, is the start of a radical revitalisation of London's rail services, which have suffered from decades of neglect and under-investment.</p>
<p>'Our aim is very simple, to raise standards to levels similar to the rest of the public transport system in London, with Oyster ticketing and stations staffed at all times while trains are running. </p>

<p>'Over the next few years, huge investment will bring more secure stations, new trains and a more frequent and reliable service.</p>
<p>'The new rail system will create 400 jobs over the next three years and with its connection to the East London line, radically improve public transport provision in some of the poorest boroughs in London.'</p>
<p>Transport Commissioner Peter Hendy said:&nbsp; 'We're going to demonstrate a new way to run a railway, through tightly managed contracts to meet Transport for London's standards of quality, safety, staffing, frequency and ticketing. </p>
<h2>Olympic role</h2>
<p>'When complete, with the renewal and extension of the East London line due in 2010, the London Overground network will also play a key role in our transport for the London 2012 Olympics.'</p>
<p>TfL's Managing Director of London Rail, Ian Brown, whose team will manage the contract, said:&nbsp; 'I welcome the opportunity to show rail passengers what can be done when their interests are put first and I am proud to be part of the team which will make it happen.</p>
<p>'However, it will take time for our investment to deliver all of the improvements. </p>

<p>'This railway is suffering from decades of under-investment and bringing it up to Transport for London's high standards will take a lot of hard work from us as well as a little patience from passengers while we make up for that neglect.'</p>
            <p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>The London Overground network consists of the North London (Richmond to Stratford), West London (Willesden Junction to Clapham Junction via Kensington Olympia), Gospel Oak to Barking, and Euston to Watford DC lines, and will be joined by the extended East London line when it opens in 2010 </li>
<li>The East London Line will close on 22 December 2007 for upgrade and conversion so it can be used by London Overground services. It is due to reopen in June 2010 and will link with the North London line at Highbury &amp; Islington in 2011 </li>
<li>TfL has ordered 44 new Electrostar 378 trains at a cost of &pound;223m. Twenty-four three-car trains will be introduced on London Overground from late 2008, with the exception of the Gospel Oak to Barking line, where eight new two-carriage diesel trains will enter service in 2009 </li>
<li>There will be 20 new four-car trains in operation on the extended East London line when it opens in 2010 </li>
<li>London Overground Rail Operations Ltd (LOROL) is a joint venture of MTR and LaingRail, who will operate trains and stations under the new London Overground concession. MTR runs the Hong Kong Metro and Laing operates Chiltern Railways </li>
<li>The TfL London Overground concession contract is different from the DfT franchises because: <br>- TfL will take 90 per cent of the revenue from the concession for reinvestment in London's transport network, leaving 10 per cent for LOROL as part of an incentive to run the railway to the highest standards<br>- Monitoring and enforcement of the operator's performance will be tighter due to new technology allowing constant inspection<br>- There is a wide range of specific performance indicators with immediate and strict financial deductions on the concession payments if they fail to deliver <br>- The contract is flexible in allowing for adjustments to the financial arrangements after improvements in performance are brought about by new trains and track work. </li>
<li>There are 50 stations and 60 route miles on the North London Railway.&nbsp; Every day, 63,000 people use the line, bringing a total of 23 million journeys every year </li>
<li>Contracts under the London Rail Concession will incorporate TfL's Equality and Inclusion requirements, helping to ensure that all of London's communities benefit from TfL investment </li>
<li>London Overground will provide an important service for spectators travelling to the Olympic Park at Stratford during the summer of 2012 </li>
<li>Press images are available from the <a href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/">TfL image library</a> or by ringing the TfL Press Office<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Launching the new London Overground service, Mayor of London Ken Livingstone outlined the widespread improvements that will be delivered for passengers on the routes formerly operated by Silverlink Metro. These will include over &pound;1.4bn of";}
        
        


 