


@{ViewBag.Title = "TfL wants to hear your views on local bus services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL wants to hear your views on local bus services</h1>
        <div class="content-page-press-release">
        20 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is currently looking to improve bus services in Tower Hamlets, Newham and Hackney.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very keen to hear passengers' views on our proposals for local bus services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">TfL's Head of Stakeholder Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very keen to hear passengers' views on our proposals for local bus services
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Bus users are invited to offer their views on proposed changes to the S2 and 276 routes, as well as a proposed new bus route.</p>
<p>The new route 425 would run between Stratford and Clapton, providing additional links between Stratford, Bow, Mile End and Clapton.</p>
<p>Buses would run every 12 minutes throughout the day.</p>
<p>The S2, from Stratford bus station to Nightingale Road in Clapton, would be re-numbered as route 488 and restructured to operate between Bromley-by-Bow and Clapton. </p>
<p>The 276, from Newham Hospital to Stoke Newington Common, would be re-routed to provide a more direct link between Old Ford and Stratford. </p>
<h2>Service&nbsp;changes</h2>
<p>Peter Bradley, Head of Stakeholder Engagement, said: "London's bus network is constantly under review to ensure we continue to meet passenger needs. </p>
<p>"We are very keen to hear passengers' views on our proposals for local bus services."</p>
<p>Pick up a leaflet from local libraries, Idea Stores and hospitals and send in your comments. </p>
<p>Further information about <a href="http://www.tfl.gov.uk/busrouteconsultation">the proposals </a>is available online or through London Buses Customer Services. </p>
<p>The deadline for the consultation is 11 January 2008.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users </li>
<li>With over 8,000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000 </li>
<li>Routes 276 and 488 will be served by the existing low floor, easy-access single deck buses </li>
<li>Route 425 will have brand new low floor, easy-access double deck buses </li>
<li>Leaflets will be available at: 
<ul type="circle">
<li>Tower Hamlets: Bow Idea Store, Chrisp Street Idea Store and Bethnal Green Library </li>
<li>Newham: Canning Town Library, East Ham Library, Plaistow Library, Stratford Library and Newham General Hospital </li>
<li>Hackney: Clapton Library, Homerton Library, Homerton Hospital</li></ul></li>
<li>London Buses Customer Services contact details: 
<ul type="circle">
<li>0845 300 7000 </li>
<li><a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus users are invited to offer their views on proposed changes to the S2 and 276 routes, as well as a proposed new bus route.The new route 425 would run between Stratford and Clapton, providing additional links between Stratford, Bow, Mile End and";}
        
        


 