


@{ViewBag.Title = "Tour de France delivers London legacy as cycling rates rise by further 10 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour de France delivers London legacy as cycling rates rise by further 10 per cent</h1>
        <div class="content-page-press-release">
        28 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and Transport for London (TfL)confirm negotiations are underway to bring the Tour back to London ahead of 2012
        
    </div>



 <div class="on-this-page">
<p>
<p>This summer's Tour de France, which was brought to the Capital by the Mayor of London and TfL, exceeded all expectations and gave cycling and tourism a huge boost according to a <a href="/businessandpartners/publications/1421.aspx">new report</a>.</p>
<p>The Tour de France's legacy to the Capital was a 10.5 per cent increase in the number of people cycling on London's major roads in the six months from April to September compared with the same period last year - with an estimated 48,000 more cycle journeys everyday.&nbsp; </p>
<p>In a survey 50 per cent of spectators said they would cycle more as a result of the Tour's visit to London.</p>
<p>Tourism also received a huge boost with two million people lining the Capital's streets to see the weekend's events.</p>
<p>An additional one million people watched the riders race through Kent.&nbsp;</p>
<p>An estimated &pound;88m was spent by spectators, teams and race organisers in London and the South East during the Tour de France weekend.</p>
<p>The Tour de France also gave London and cycling a huge media profile.&nbsp; </p>
<p>London was heralded as a great venue for world-class events in media around the world.&nbsp; </p>
<p>The Grand D&eacute;part generated an estimated value of &pound;35m in media coverage for London and cycling.</p>
<p>It was also confirmed today that negotiations have begun with the Amaury Sport Organisation, owners of the Tour de France, to bring the Tour de France back to London ahead of the London Olympic and Paralympic Games in 2012.</p>
<p>The Mayor of London, Ken Livingstone, said: "Bringing the Tour de France to London has been hugely successful, boosting cycling and showing Londoners' huge interest in watching and participating in sport that is growing as we approach the 2012 Games.</p>
<p>"As well as demonstrating that great sporting events can inspire people to take up physical activity, the success of the Tour de France also shows the economic benefits that these types of event can bring to London.</p>
<p>"The Tour has generated well over &pound;100m in spending and publicity, which will in turn attract more visitors and encourage the organisers of future sporting events to choose London.</p>
<p>"Transport for London has already opened negotiations to bring this great race back to London - I hope before 2012."</p>
<p>The new figures are contained in a report published today by TfL, which reviews the success of the Tour de France against the Mayor and TfL's objectives.</p>
<p>Peter Hendy, London's Transport Commissioner, said:&nbsp;"The Grand D&eacute;part was an amazing weekend, the Tour organisers, media, riders and spectators said it was the greatest start the Tour had ever had.</p>
<p>"The public transport network dealt with an unprecedented number of events with the Wimbledon Tennis Finals, Live Earth, concerts at the O2 Centre and Twickenham and of course the Tour de France.&nbsp; </p>
<p>"The Tube carried one million more people on Saturday 7 July than a comparable weekend last year, with the most passengers the network has ever carried on a Saturday.</p>
<p>"We are working to bring the Tour back to London as soon as possible."</p>
<p>Visit London Chief Executive, James Bidwell, said: "The Tour de France weekend in London demonstrated why our Capital is the number one city destination in the world.</p>
<p>"Not only did we showcase our world-class capability in hosting such major events, but also our willingness to welcome people, cultures and traditions from across the planet. </p>
<p>"The sheer excitement of the Grand D&eacute;part created an atmosphere which will never be forgotten by the millions of Londoners and tourists who shared a truly unique experience. </p>
<p>"We very much look forward to welcoming the Tour again in the very near future."</p>
<p>London Development Agency Chief Executive Manny Lewis said: "The Grand D&eacute;part was a great sporting event and a great advert for London.&nbsp; </p>
<p>"I am delighted that our support helped the Tour come to London and provided such a stunning spectacle for so many people to enjoy.</p>
<p>"The Grand D&eacute;part elevated London's global profile&nbsp;and&nbsp;proved -&nbsp;on the journey towards 2012 - that London has the enthusiasm, skills and infrastructure&nbsp;to deliver world class events."</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tour de France started in the UK for the first time during the weekend of 6, 7 and 8 July </li>
<li>An <a href="/businessandpartners/publications/1421.aspx">executive summary of the report</a> is available to media on request </li>
<li>The Tour de France is owned by the Amaury Sport Organisation (ASO) </li>
<li>London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth.&nbsp;Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as the World City </li>
<li>The South East England Development Agency (SEEDA) is the Government funded Agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Its aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling communities while safeguarding our natural resources and cherishing a cultural heritage </li>
<li>The London Grand D&eacute;part of the Tour de France has been supported by <a href="http://www.uksport.gov.uk/">UK Sport's </a>National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. More than 120 sporting events have been staged in the UK through the Programme since 1997 </li>
<li><a href="http://www.britishcycling.org.uk/">British Cycling</a> is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team; servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a> </li>
<li>Visit London is the official visitor organisation for London. Our role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London </li>
<li>Canterbury is a world-class destination, with a perfect blend of historic features and modern facilities. To visitors the city is simply inspirational, while the rest of the Canterbury district offers fabulous coast and countryside, ensuring that modern-day pilgrims are bound to be spoilt for choice </li>
<li><a href="http://www.kent.gov.uk/">Kent County Council</a> is rated as a four star authority and is responsible for providing a wide range of services for Kent's 1.3 million residents. Services provided include roads, schools, social services, libraries, adult education centres, trading standards and planning which affect the daily lives of people living, visiting or working in Kent. Kent is one of the largest counties in England and is widely known as the Garden of England for its stunning countryside.&nbsp; </li>
<li>Medway is one of the biggest and most significant urban areas in the south-east outside London, made up of the towns of Strood, Rochester, Chatham, Gillingham and Rainham, and rural outlying areas. Medway Council works in partnership with private, public and voluntary sectors to serve the people of Medway. The council is responsible for an established and successful programme of events, reflecting the area's rich and diverse history. Medway is an integral part of the Thames Gateway and is striving to become the city of learning, culture, tourism and high technology for the gateway </li>
<li><a href="http://www.sportengland.org/">Sport England</a> is a non-departmental public body and Lottery distributor which exists to sustain and increase participation in community sport. Through the Tour de France, Sport England is encouraging people to be inspired and get involved in cycling in their local communities. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This summer's Tour de France, which was brought to the Capital by the Mayor of London and TfL, exceeded all expectations and gave cycling and tourism a huge boost according to a new report.The Tour de France's legacy to the Capital was a 10.5 per cent";}
        
        


 