


@{ViewBag.Title = "Transport for London's London Rail Managing Director Ian Brown appointed to the Railway Heritage Committee";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's London Rail Managing Director Ian Brown appointed to the Railway Heritage Committee</h1>
        <div class="content-page-press-release">
        22 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Secretary of State for Transport has appointed Ian Brown, the Managing Director of London Rail at Transport for London (TfL) to the Railway Heritage Committee.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Committee continues to ensure that our important railway legacy is not lost 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Committee is sponsored by the Department for Transport to identify those railway records and railway artefacts of future value to the nation, of general interest of the public and for research and scholarship, to ensure that they ultimately reside in good condition in appropriate locations.&nbsp;&nbsp;</p>
<p>Ian&nbsp;Brown is one of six public appointments announced&nbsp;this week&nbsp;to serve on the Railway Heritage Committee. </p>
<p>Transport Minister Tom Harris said: "The Railway Heritage Committee continues to ensure that our important railway legacy is not lost to the nation. </p>
<p>"The members' range of experience and knowledge will enable them to be strong champions of our rail heritage and help drive forward the work and profile of the Committee."</p>
<h2>Railway experience </h2>
<p>Ian Brown said: "I am very conscious of the massive change currently taking place as the railway&nbsp;industry adapts to future demands, particularly in the capital city.&nbsp;&nbsp;</p>
<p>"I am delighted to be appointed to serve on the Railway Heritage Committee, where I can use my railway experience&nbsp;and knowledge&nbsp;of railway&nbsp;developments&nbsp;to support the proper conservation of this rich heritage."</p>
<p>Ian Brown is&nbsp;TfL's&nbsp;Managing Director for London Rail with responsibility for TfL's railway project programme, including the East London Line extensions, the Docklands Light Railway and the recently launched London Overground.&nbsp;</p>
<p>
<hr>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Prior to joining TfL, Ian Brown BSc FCILT, had a wide range of experience in the rail industry; he was Managing Director of Railfreight Distribution for eight years where he introduced Channel Tunnel rail freight services</li>
<li>He was previously a member of the Chairman's Policy Unit at the British Railway's Board.&nbsp;Other BR positions included InterCity Manager, West Coast Main Line, and Chief Passenger Manager at London Midland Region</li>
<li>Ian was President of the Railway Study Association for the academic year 2005/6</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Committee is sponsored by the Department for Transport to identify those railway records and railway artefacts of future value to the nation, of general interest of the public and for research and scholarship, to ensure that they ultimately reside in";}
        
        


 