


@{ViewBag.Title = "Transport bulletin 14.00 - fire in Stratford, East London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport bulletin 14.00 - fire in Stratford, East London</h1>
        <div class="content-page-press-release">
        12 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Shortly after midday today, London Fire Brigade was called to a fire on Waterden Road, E15.
        
    </div>



 <div class="on-this-page">
<p>
<p>A Transport for London (TfL) spokesperson said: "We understand that the fire did not originate in a bus garage on Waterden Road in Stratford, East London."</p>
<p>The fire has affected&nbsp;TfL services as follows:</p>
<h2>London Buses</h2>
<p>There are three bus garages in the area - First's Hackney depot and two East London Buses depots -Waterden Road depot and Stratford depot.</p>
<p>The fire is next to Stratford depot which has been evacuated. The following bus routes could be subject to delays as a result:</p>
<p>East London Buses: 25, 26 30 86 106 241 257 276 678 (school bus) D3 N26 N106</p>
<p>First: 58, 212, 236, 308, 309, 323, 339, D6, D7, D8, RV1, S2, W11, W12</p>
<h2>London Underground </h2>
<p>There is no current impact on Tube services. </p>
<h2>London Overground </h2>
<p>From Sunday 11 November 2007, Silverlink Metro services transferred to TfL control and are now being operated as London Overground.</p>
<p>London Overground is running a full service in all directions, with the exception of Hackney Wick, where trains are not stopping.</p>
<h2>Docklands Light Railway (DLR)</h2>
<p>There is no current impact on DLR services.</p>
<h2>Streets</h2>
<p>There is no current impact on the road network.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Transport for London (TfL) spokesperson said: 'We understand that the fire did not originate in a bus garage on Waterden Road in Stratford, East London.'The fire has affected&nbsp;TfL services as follows:London BusesThere are three bus garages in the";}
        
        


 