


@{ViewBag.Title = "Transport for London receives Royal seal of approval";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London receives Royal seal of approval</h1>
        <div class="content-page-press-release">
        21 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Groundbreaking children's road safety work wins Royal award
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This award recognises the dedication that the TfL Road Safety Unit has shown in bearing down on the number of lives needlessly lost to road accidents in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This award recognises the dedication that the TfL Road Safety Unit has shown in bearing down on the number of lives needlessly lost to road accidents in London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The successful work of Transport for London's (TfL's) London Road Safety Unit was recognised last Friday (16 November) with a Prince Michael International Road Safety Award.</p>
<p>The Prince Michael International Road Safety Award recognises outstanding contributions to improving road safety and TfL was given the accolade for its consistently successful programme.&nbsp; </p>
<p>The work has helped deliver a 58 per cent reduction in the number of children killed or seriously injured on London's roads compared to the mid to late 1990s.</p>
<p>Campaigns such as Children's Traffic Club, Junior Road Safety Officer programmes and the teen 'Don't die before you've lived' advertisements have all helped to raise the profile of road safety in the Capital among younger age groups. </p>
<p>These educational campaigns, co-ordinated with initiatives such as placing speed cameras at key spots across London, have meant that progress has been excellent against the National target of reducing casualties by 40 per cent by 2010. </p>
<h2>Stringent targets</h2>

<p>In London, this target was achieved in 2006 when there was 41 per cent reduction in the number of people killed or seriously injured compared to the mid to late 1990s. </p>
<p>The Mayor of London has now set even more stringent targets to reduce road casualties by 50 per cent by 2010, which&nbsp;TfL &nbsp;is on course to achieve.</p>
<p>Ken Livingstone, Mayor of London, said: "This award recognises the dedication that the TfL Road Safety Unit has shown in bearing down on the number of lives needlessly lost to road accidents in London. </p>
<p>"The progress - reducing the numbers killed and injured by 58 per cent compared to the mid to late nineties - has been excellent, but we are determined to reduce this number further.&nbsp; </p>
<h2>Extra focus </h2>
<p>"The Road Safety Unit will be instrumental in making sure that this happens, and will have received a boost by this recognition."</p>

<p>Chris Lines, Head of TfL's London Road Safety Unit, said: "We are proud of the progress made, but there are still over 200 people killed every year on London's roads and these tragedies could be avoided. </p>
<p>"We need to continue to build on what we've already achieved, with extra focus on making cycling, walking and motorcycling safer, and continue to reduce casualties beyond 2010.'"</p>
<p>The award was presented to Nick Morris, TfL's Director of Road Network Planning and Chris Lines by John Plowman, a director of the Prince Michael International Road Safety Awards.</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Photographs of TfL's London Road Safety Unit receiving the Prince Michael International Road Safety Award are available on request </li>
<li>In 2007/08,&nbsp;TfL is investing a record &pound;46.9m in road safety in London, up from &pound;18m in 2000 </li>
<li>Following the excellent casualty reductions achieved in London, in 2005 the Mayor announced new lower targets, to be achieved by 2010: 
<ul type="square">
<li>A 50 per cent reduction in the number of people killed or seriously injured </li>
<li>A 50 per cent reduction in the number of cyclists and pedestrians killed or seriously injured </li>
<li>A 60 per cent reduction in the number of children killed or seriously injured </li>
<li>A 25 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometers</li></ul></li>
<li>At sites where London Safety Camera Partnership speed cameras have been placed there has been an average 53 per cent reduction in the number of people killed or seriously injured </li>
<li>The Prince Michael International Road Safety Awards are organised by RoadSafe whose mission is to reduce road deaths and injuries through building partnerships between the motor industry and related companies, traffic engineers, the police and road safety professionals, promoting the safe design and use of vehicles and roads and encouraging education and innovation </li>
<li>More information is available <a href="http://www.roadsafe.com/">online </a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The successful work of Transport for London's (TfL's) London Road Safety Unit was recognised last Friday (16 November) with a Prince Michael International Road Safety Award.The Prince Michael International Road Safety Award recognises outstanding";}
        
        


 