


@{ViewBag.Title = "Walking London made easy with state-of-the-art sign system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walking London made easy with state-of-the-art sign system</h1>
        <div class="content-page-press-release">
        27 November 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        West End shoppers get an early Christmas present.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is a fantastic place to explore on foot"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is a fantastic place to explore on foot
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Visitors to the Bond Street area will be able to find their way around with ease from today (27 November), thanks to a new system of pedestrian information called Legible London.</p>
<p>Legible London is designed to provide better information for people who want to explore the Capital on foot. </p>
<p>The Bond Street trial, which is the prototype for a future London-wide pedestrian information system, consists of 19 on-street signs displaying all the information pedestrians could require when walking in the area. </p>
<p>There will also be improved mapping in bus shelters and new information displays in Bond Street Tube station, pointing walkers in the direction of the area's main attractions.<br>In addition, unnecessary signage will be removed to leave the streets easily navigable by one recognisable set of information. </p>
<h2>Exciting sights</h2>
<p>Transport for London (TfL) will work with boroughs, developers and local communities to develop Legible London. </p>
<p>They hope to have it in place in central and east London before the Olympics in 2012 and in urban centres in Greater London by 2015.</p>
<p>The Bond Street area has been chosen to test the prototype because of a commitment by the Mayor of London, TfL, Westminster City Council and New West End Company to improve conditions and signage for pedestrians in the area. </p>
<p>The new system of signs will aim to transform people's experience of visiting an area that is rich in hidden shopping and alfresco dining gems such as St Christopher's Place. </p>
<h2>Off the beaten track</h2>
<p>The Mayor of London, Ken Livingstone, said: "Legible London is an important part of the work that is taking place to improve conditions for pedestrians in the Capital. </p>
<p>"London is a fantastic place to explore on foot, but if you don't know an area very well, it can be difficult to find your way around. </p>
<p>"The Bond Street trial delivers on the pledge I made last year to improve signage in the West End before this year's Christmas shopping season."</p>
<p>Sir Simon Milton, leader of Westminster City Council, said: "The West End is a great place to explore on foot, with fresh and exciting sights around every corner. </p>
<h2>Healthier Londoners</h2>
<p>"Along with TfL and the private sector we're advancing ambitious plans to renew the West End ahead of 2012 which will encourage visitors to be even more adventurous and venture off the beaten track.&nbsp;&nbsp; </p>
<p>"Oxford Street is unequivocally the nation's high street, but there's an eclectic mix of restaurants, shops and entertainment - from Carnaby Street cool to Savile Row style - just a short stroll away. </p>
<p>"This prototype is just the beginning, and we're looking forward to its rollout across the rest of the West End and Westminster."</p>
<p>Ian Henderson, Chairman of New West End Company, said: "Navigating the West End, the world's top shopping destination, has been somewhat of a challenge for the 200 million shoppers who come into the West End every year. </p>
<h2>Less people driving</h2>
<p>"With our new wayfinding signage, shoppers will be able to quickly familiarise themselves with the lay of the land and conquer the retail landscape, which is home to over 600 shops&nbsp;spread over&nbsp;three miles."&nbsp;</p>
<p>Jenny Jones, the Mayor's green transport adviser, said: "A London that walks is a London that works. </p>
<p>"It means healthier Londoners and less pollution.</p>
<p>"Apart from it being great personal exercise, it also means less people driving cars or crowding onto public transport."</p>
<p>
<hr>

<p>
<p><strong>Note to editors</strong></p>
<ul>
<li>A free public exhibition on the new wayfinding system is being held at 10 Heddon Street (close to Regent Street, W1B 4BY). The &nbsp;exhibition will be open from Wednesday 28 November to Saturday 1 December between the hours of 10.00 - 16.00. Visitors to the &nbsp;exhibition will be asked to share their views as part of a public consultation on Legible London that will run until February 2008 </li>
<li>Members of the public will also be able to take part in the consultation by completing a questionnaire on the <a href="http://www.legiblelondon.info/">Legible London</a> website </li>
<li>The information system being used by the Legible London prototype was designed by Applied Information Group, a London-based design company that undertook a TfL-funded wayfinding study of central London in 2005 </li>
<li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to&nbsp;manage the demands this increase would otherwise place on the transport system </li>
<li><a href="http://journeyplanner.tfl.gov.uk/">Journey Planner</a> now automatically provides a walking option for any journey under 30 minutes walk in length&nbsp; </li>
<li>House of Fraser, Oxford Street, supported the Legible London prototype by wrapping a Legible London sign as a giant Christmas &nbsp;present for the photo call event on Tuesday 27 November </li>
<li><a href="http://www.newwestend.com/">New West End </a>Company is responsible for enhancing and promoting retail in London's West End.&nbsp;It is funded by the retailers and &nbsp;property owners of Bond Street, Oxford Street and Regent Street and the Mayor's Office to ensure that London's West End continues &nbsp;to be renowned as the world's top shopping destination. Media Enquiries: Jace Tyrrell, New West End Company, Tel: 07791 123 513&nbsp;&nbsp;&nbsp;&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Visitors to the Bond Street area will be able to find their way around with ease from today (27 November), thanks to a new system of pedestrian information called Legible London.Legible London is designed to provide better information for people who want";}
        
        


 