


@{ViewBag.Title = "&pound;100m refurbishment of Hammersmith Flyover completed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£100m refurbishment of Hammersmith Flyover completed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£100m refurbishment of Hammersmith Flyover completed</h1>
        <div class="content-page-press-release">
        04 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Major work to strengthen the Hammersmith Flyover in west London is now complete, Transport for London (TfL) has announced.</p>
<p>The refurbishment, which has seen engineers working day and night over the past two years, means that the sixties flyover has now been fully restored and strengthened. The flyover is now safe to use for decades to come and will require less regular maintenance work, meaning less congestion and traffic delays in the future.</p>
<p>Since October 2013, vital restoration work has been carried out by TfL, its Principal Contractor Costain and main sub-contractors including Freyssinet and SSL, to strengthen 11 of the flyover's 16 spans after an initial five were strengthened in 2012. This work &#45; part of TfL's wider &pound;4bn Road Modernisation Plan &#45; has been primarily carried out overnight to reduce disruption to road users and residents.</p>
<p>The work has included:</p>
<ul>
    <li>New tensioning cables &#45; totalling 6.5km in length &#45; installed and fully tensioned, restoring strength within the structure</li>
    <li>The entire flyover re-waterproofed and resurfaced with new drainage installed within the structure</li>
    <li>More than 150 tonnes of steel beams and bars installed inside the flyover to hold the new tensioning system and reinforce the concrete</li>
    <li>Two five-tonne expansion joints within the carriageway were replaced, allowing the structure to flex as traffic moves across it</li>
    <li>All 34 bearings supporting the flyover have been replaced, allowing it to adapt to weather conditions and expand in the summer and shrink in the winter by up to 180mm.</li>
</ul>
<p>TfL is now working to clear the work site around the flyover, with all local roads returning to normal by late autumn.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: `We are committed to ensuring that London's road network is safe, reliable and well cared for. The work carried out on the Hammersmith Flyover in the last two years has been vital to ensure that the structure, a key London road artery, remains safe for many years to come.</p>
<p>`The engineering prowess of the team at Hammersmith has meant that the flyover has been kept open to traffic for more than 90 per cent of the duration of the work, and I would like to thank all local residents and road users for having borne with us whilst the work was carried out.'</p>
<p>Edmund King, AA president said: `TfL engineers working night and day on the Hammersmith flyover has now paid off. When the flyover was found to be unsafe just before the Olympics it was a nightmare. Since then we have had a refurbishment scheme that has been highly innovative and which has always sought to reduce the impact of the inevitable repair works on traffic on this vital strategic route.</p>
<p>`Several years on and we are almost there and we pay credit to the TFL, contractors, engineers and the communications teams who tried to prioritise the needs of road users and local residents.  We also acknowledge the patience of local people and drivers who have had put up with inevitable occasional disruption. The lessons learnt from this unpredicted failure of a major artery should hopefully mean an event on this scale will not be repeated in the capital.'</p>
<p>The Hammersmith Flyover refurbishment is part of TfL's &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of projects to transform and modernise key junctions, bridges, flyovers and tunnels.</p>
<p>TfL is continuing to work closely with Hammersmith and Fulham council to make Hammersmith gyratory safer and more accessible for cyclists, as part of their wider borough cycling improvement strategy. Plans are also underway to install a new Santander Cycles docking station underneath the flyover, providing space for more than 50 bikes. Subject to planning permission, the docking station could be in place by early 2016.</p>
<p>For more information about the Hammersmith Flyover work, please visit www.tfl.gov.uk/hammersmithflyover</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>TfL manages and maintains twelve tunnels, as well as more than 1,800 structures on the TfL Road Network, including bridges, flyovers, footbridges, retaining walls, subways and culverts.</li>
    <li>TfL has worked with key partners, including local boroughs, to ensure that the project has been planned and undertaken with the minimum of disruption to road users and residents. The works have also been coordinated around other planned events in the local area, including concerts, London Underground upgrade works and the construction of the East-West Cycle Superhighway in central London, which began in April.</li>
    <li>TfL continues to support the London Borough of Hammersmith and Fulham as it works up more detailed proposals for its ambitious plans to create a new road tunnel underneath Hammersmith. Any plan to replace the flyover would need to be funded through the wider redevelopment of the area.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-£100m refurbishment of Hammersmith Flyover completed -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 