


@{ViewBag.Title = "Get ready for the finish of the Aviva Tour of Britain on Sunday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Get ready for the finish of the Aviva Tour of Britain on Sunday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Get ready for the finish of the Aviva Tour of Britain on Sunday</h1>
        <div class="content-page-press-release">
        11 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Aviva Tour of Britain, the UK's largest free-to-spectate sporting event, returns to London this Sunday, 13 September. The final stage, presented by Transport for London (TfL), is the third year in a row that the cycling race has finished in the Capital.</p>
<p>The world class cyclists will be riding a different route this year, starting and finishing on Regent Street St James's after 14 laps around Regent Street, Piccadilly Circus, Trafalgar Square, Strand, Aldwych and Whitehall. Riders include 2012 Tour de France winner and UCI hour record holder, Sir Bradley Wiggins, the 2011 road race world champion Mark Cavendish and reigning Aviva Tour of Britain champion Dylan van Baarle. This year's new route will offer a range of places for people to watch the race for free with iconic central London sights setting a dramatic backdrop to the final stage.</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `We're delighted that Londoners will be able to witness elite cycling on their roads again as the Tour of Britain returns to the Capital and I urge them not to miss this opportunity. Wiggo and Cav are world names and it is only fitting that they will thrash it out in a world-class cycling city. There will need to be road closures in central London to facilitate this elite event, and drivers are advised to avoid these areas to ensure their journeys are not affected.'</p>
<p>On Sunday, road closures will be in place in Whitehall, Westminster and central London. Road closures will be in place around the race route to ensure the safety of competitors and spectators. Some buses in and around the route area will be on diversion or will terminate earlier than usual, customers can follow the &#64;tflbusalerts Twitter feed for up to date information. Tube, rail, walking and cycling will be the best ways to get around, although stations close to the event are expected to be busier than normal. A small number of Santander Cycles docking stations near the event route will be suspended from 20:00 on Saturday until 08:00 on Monday. Go to tfl.gov.uk/tourofbritain for more information.</p>
<p>Mick Bennett, Race Director of the Aviva Tour of Britain, said: `This year's final stage in London is a spectacular route showcasing some of the Capital's most famous landmarks, which we will be racing past for the first time. The route is very spectator friendly, with a mixture of slow and fast corners so fans can look forward to getting up close to the world's top riders in action during the 14-laps.'</p>
<p>Advance warning signs are in place on the race route to advise road users of the closures, and TfL will be providing up to date information through the &#64;tfltrafficnews Twitter feed and on the TfL website to help drivers plan their journey - <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a>.</p>
<p>Spectators will be able to learn more about cycling in London at the Mayor's Vision for Cycling stands at Regent Street and Trafalgar Square on the day. Staff will be on hand to provide advice on bike security, cycle training, route planning and new cycling infrastructure and prizes, including a Brompton Bike, will be up for grabs. For more information on cycling in London go to <a href="http://tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>.</p>
<p>The Aviva Tour of Britain comes almost exactly one year on from the start of a successful partnership between TfL and British Cycling aimed at getting more people involved in cycling. Since 14 September 2014, more than 6,000 people have taken to two wheels in the Let's Ride campaign including Sky Ride Local and Breeze &#45; a 70 per cent increase since the start of the partnership. British Cycling's re-launched Ride Social helps cyclists across the Capital connect, ride together and discover more of London by bike simply by logging onto <a href="http://ridesocial.co.uk">ridesocial.co.uk</a>.</p>
<p>ENDS<br />
Notes to Editors:</p>
<ul>
    <li>A map of the Aviva Tour of Britain final stage route in London can be found at <a href="http://tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a>.</li>
    <li>This summer's cycling events are likely to inspire thousands more Londoners to take to two wheels, building on the Mayor's ambition for cycling to be an integral part of the transport network. As part the Mayor of London's Vision for Cycling, work is already underway to deliver an almost &pound;1billion programme of improvements &#45; consisting of enhanced Cycle Superhighways, 'Quietways' offering a more relaxed cycling journey on quieter backstreets, and turning Enfield, Kingston-upon-Thames and Waltham Forest into mini-Hollands -  making them as cycle friendly as their Dutch counterparts. For more information on the Mayor's Vision for Cycling visit <a href="http://tfl.gov.uk/cyclingvision">tfl.gov.uk/cyclingvision</a>.</li>
    <li>The Tour of Britain, the UK's biggest professional cycle race and the country's largest annual free-to-spectate sporting event, was re-launched in 2004 and is sponsored by Aviva.</li>
    <li>The Mayor is committed to ensuring London retains its status as the world capital of sport, and has set up the Major Events Oversight Board. The board is chaired by Sir Edward Lister, and comprises TfL, the emergency services and other key partner agencies. It provides strategic direction and advice to the Mayor on the approach to bidding, staging and evaluating major events in London. The board ensures that all major road events continue to be carefully considered and tightly managed to ensure everyone gets full benefit from the event without undue impact on Londoners and London's transport. The boards also looks at ways to ensure the major events programme is effectively communicated with Londoners, visitors, businesses and stakeholders to allow sufficient notice and forward planning for everyone.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Get ready for the finish of the Aviva Tour of Britain on Sunday -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 