


@{ViewBag.Title = "Holland Park customers to benefit from new lifts and station improvements";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Holland Park customers to benefit from new lifts and station improvements</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Holland Park customers to benefit from new lifts and station improvements</h1>
        <div class="content-page-press-release">
        03 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London Underground (LU) is advising customers who use Holland Park Tube station that vital work to replace the station's two lifts will begin in January next year, with other work to modernise the station being carried out at the same time.</p>
<p>The current lifts are nearly 30 years old and need to be replaced to ensure they work reliably &#45; the existing lifts fail regularly causing travel disruption to customers. The nature of the work means that while this essential upgrade is carried out the station will be closed. It will re-open again in August 2016.
</p>
<p>LU explored in detail the option of replacing the lifts one at a time and keeping the station open. However, this was neither the safest nor least disruptive option for customers. If only one ageing lift was in operation, the larger volume of customers using it would put it under greater stress, increasing the likelihood of it failing and customers and staff becoming trapped. This would in turn lead to a significant increase in unplanned station closures. Additionally, the total time to complete the work on both lifts would increase from 30 to 64 weeks if the lifts were replaced one at a time while keeping the station open.</p>
<p>The adjacent spiral stairs cannot be used as the sole means of access between the ticket hall and platforms as there are 110 steps (the equivalent of a five storey building) and they are too narrow for a two-way flow of customers.</p>
<p>While Holland Park Tube station is closed, LU will take the opportunity to carry out other modernisation work within the station including:</p>
<ul>
    <li>Improving the ticket hall by making better use of existing space, giving a brighter, more spacious feel</li>
    <li>Increasing security by providing Passenger Help Points on both platforms and increasing CCTV coverage in key areas of the station</li>
    <li>Installing energy efficient lighting</li>
    <li>Improving accessibility by installing features such as dual-level handrails, hearing induction loops and tactile surfacing</li>
    <li>Upgrading the finishes on the platforms and passageways</li>
</ul>
<p>David Waboso, London Underground's Capital Programmes Director, said: `We're sorry for the disruption that this essential lift replacement work will cause our customers but, when the works are complete, everyone will benefit from new, more reliable lifts. We will also be carrying out other improvement work within the station while it's closed, making it brighter, more spacious and easier to use.</p>
<p>'Customer safety is our number one priority and, in order to replace the lifts in the safest way and with the least amount of disruption, we need to close the station. This decision has not been taken lightly and we will work hard to complete this vital modernisation as quickly as possible, keeping customers and local businesses informed as the work progresses.'</p>
<p>Lift replacement in Tube stations is a lengthy process due primarily to the restricted working space and the complexity of working under ground in cramped lift shafts. Because of this, replacing lifts at a station like Holland Park &#45; with a single lift shaft that continues deep underground &#45; takes some months.</p>
<p>During the period when the station is closed, customers are advised to use nearby Notting Hill Gate or Shepherd's Bush Tube stations.</p>
<p>From Holland Park Tube station, Notting Hill Gate Tube station is a seven-minute walk or nine-minute bus journey served by London bus routes 31, 94 and 148. Shepherd's Bush Tube station is a 13-minute walk or 10-minute bus journey served by London bus routes 31, 94, 148 and 228. Customers paying a bus fare to access these stations will receive an automated refund added to their Oyster or contactless payment card.</p>
<p>ENDS</p>
<p>Notes to Editors</p>
<ul>
    <li>Working on one lift at a time in a deep lift shaft like that at Holland Park Tube station would mean there would be no transfer available between lift units in the case of lift failure, prolonging the time it would take emergency services to rescue customers or tend to someone requiring immediate medical attention.</li>
    <li>LU is undertaking a major programme of renewal which is essential to provide for London's growing transport needs now and into the future.</li>
    <li>Information including a video on how we replace lifts on our network can be found here: <a href="http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562">http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Holland Park customers to benefit from new lifts and station improvements -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 