


@{ViewBag.Title = "Improving communication with taxi and private hire trades";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Improving communication with taxi and private hire trades</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Improving communication with taxi and private hire trades</h1>
        <div class="content-page-press-release">
        07 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New magazine 'OnRoute' is latest in a series of steps TfL is taking to improve communication with taxi and private hire trades
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As part of our regular meetings with representatives of both trades, we have agreed that we can and should do more to improve communication between licensees and ourselves."</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Chapman</div>
            <div class="quotee-job-title">General Manager of Taxi and Private Hire, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Licensees encouraged to sign up to weekly email and bi-monthly magazine by providing their email address and licence number to tph.enquires&#64;tfl.gov.uk, and to follow &#64;TfLTPH on twitter</li>
    <li>The magazine will be available from&nbsp; the <a href="https://tfl.gov.uk/modes/taxis-and-minicabs/">TfL Taxis &amp; Minicabs website</a></li>
</ul>
<p>Transport for London (TfL) will launch a new online magazine, 'OnRoute', specifically for taxi and private hire licensees this week. As discussed with the trade, the publication will be issued every two months, and will contain useful and topical information on a wide range of subjects. </p>
<p>The magazine, which will have a readers' panel of drivers, will be asking the trade for suggestions on what issues they would like to see covered and will include articles written by licensees themselves.</p>
<p>'OnRoute' is the latest step TfL has taken to improve the way it communicates with, and listens to, taxi and private hire licensees. In June, TfL launched a new weekly email, which provides useful information on roadworks and events happening on London's roads to help drivers plan ahead, as well as important licensing information, such as links to taxi and private hire notices, and consultations of interest to the trades. More than 80 per cent of drivers surveyed said they found the email to be useful or very useful.</p>
<p>In July, TfL re-launched the &#64;TfLTPH twitter account as a responsive feed, in order to answer questions and allow drivers to report illegal activity or compliance concerns. Questions are currently answered on the feed between 9am and 5pm, Monday to Friday, and there are plans to extend its hours of operation later in the year. The number of Twitter followers has grown by approximately 20 per cent since it re-launched on 20 July.</p>
<p>Helen Chapman, TfL's General Manager of Taxi and Private Hire, said: </p>
<p>'As part of our regular meetings with representatives of both trades, we have agreed that we can and should do more to improve communication between licensees and ourselves.</p>
<p>'We are committed to improving communication with members of both trades in order to listen to drivers, to improve awareness of the vital role they play in keeping London working and growing, and to better explain what TfL, as the licensing authority and regulator, is doing to support the Capital's taxi and private hire workers.</p>
<p>'The introduction of 'OnRoute', together with the weekly update emails and the re-launch of our Twitter channel, are vital steps in our work to improve how we communicate and engage with drivers and operators.'</p>
<p>These steps come after the successful launch of the counter service, another way for TfL to communicate directly with drivers and help solve any problems they are experiencing with licensing applications. The service, which was launched in early June following consultation with trade bodies, has been well-received by members of both trades. Changes to the licensing system, including the introduction of the first online application service, will also help to make applications quicker and easier to complete.</p>
<p>The improvements to communication and licensing are the latest in a number of measures introduced by the Mayor and TfL to ensure a safer, easier and greener future for taxi drivers and their passengers. These include: funding programmes for Zero Emission Capable taxis, doubling of the number of officers on the TfL Compliance Team to 82, seeking powers to limit the number of private hire vehicles, carrying out a wide-ranging review of private hire regulations, including tighter English language and topographical skills testing, consulting on the mandating of card payments in taxis, and committing to increase the number of taxi ranks in London by 20 per cent by 2020.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Improving communication with taxi and private hire trades -->

 
 
        
        
            @{ViewBag.Description = "TfL ‘OnRoute’ to improving communication with taxi and private hire trades";}
        
        


 