


@{ViewBag.Title = "Major Victoria station breakthrough unites 300 metres of new tunnels";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major Victoria station breakthrough unites 300 metres of new tunnels</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major Victoria station breakthrough unites 300 metres of new tunnels</h1>
        <div class="content-page-press-release">
        14 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A major milestone at Victoria Tube station has now been reached as part of its &pound;700m upgrade, with a final tunnelling breakthrough. The 300 metres of new tunnels will link the brand new North ticket hall with the existing South ticket hall, which is being doubled in size to make journeys less crowded for the growing number of customers using the station.</p>
<p>London Underground (LU) engineers tunnelled through the final metre connecting the north and south tunnel schemes on Monday afternoon, completing the key section of this complex three-year tunnelling project. The work was completed behind-the-scenes with no disruption to Tube customers, despite the fact that in certain places it was carried out less than 30cm away from operational Victoria line platforms.</p>
<p>Victoria station is one of the busiest in London and is used by over 80 million customers each year &#45; more than Heathrow Airport. A radical &pound;700m transformation, set for completion in 2018, will increase the size of the station by 110% and will bring step-free access to Victoria for the first time in its 147-year history.</p>
<p>Along with nine new escalators, new lifts and step-free access to all platforms, a new underground North ticket hall is being constructed at the junction of Bressenden Place and Victoria Street, and is set to open in late 2016. The new North ticket hall will significantly cut journey times for passengers who exit towards Victoria Street.</p>
<p>Mayor of London, Boris Johnson, MP, said: `This awesome feat of engineering is central to Victoria station's remarkable renaissance. Without many of us even noticing, London Underground engineers have completed a mammoth task, uniting 300 metres of new tunnels right beneath our feet. Essential upgrade projects like this will help to ensure that the Tube keeps pace with the phenomenal demand for its services from Londoners and visitors to our city.'</p>
<p>David Waboso, London Underground's Capital Programmes Director, said: `This unique and tricky phase of the tunnelling project has stumped people for decades. Now, thanks to the hard work and dedication of LU and our supply chain with some of the best engineers in the business, it has been successfully completed, all while keeping this busy and essential station open to the public.</p>
<p>'Establishing a link between the enlarged South ticket hall and the brand new North ticket hall is a significant milestone for this historic station. Over 80 million customers already pass through Victoria Tube station each year, and once complete this vital modernisation work will enable us to keep pace with London's growing population. The outcome of this project, which remains on schedule and within budget, will cut journey times and dramatically increase capacity, ensuring that Victoria is fit for the future.'</p>
<p>The upgrade of Victoria Tube station is one of a number of major projects being made possible through a loan from The European Investment Bank (EIB). The EIB has agreed to provide a 35-year loan of &pound;1bn that will support the upgrades at Victoria and Bank Tube stations, as well as the track renewal programme.</p>
<p>Jonathan Taylor, Vice President of the European Investment Bank, said: `The European Investment Bank is committed to supporting investment to improve sustainable urban transport across Europe and around the world. Continued investment in London's transport network is essential to address the changing and increasing transport needs in Europe's largest and fastest growing city. The EIB is pleased to have supported billions of pounds of investment that has transformed transport in London in recent years, such as the DLR and London Overground, and to have backed other exciting schemes such as Crossrail and the Northern line extension. The milestone witnessed at Victoria today is another key step in the ongoing transformation of transport across London.'</p>
<p>The new tunnels at Victoria have been constructed in challenging ground conditions, through fast-moving gravels and sands less than 30cm away from the Victoria line and within 60cm of the District and Circle lines. Safe tunnelling through the site &#45; which is densely populated and borders two Grade II listed operational theatres &#45; has necessitated innovations in construction engineering. Three thousand cubic metres of ground were excavated by hand in order to stabilise the ground and protect nearby assets.</p>
<p>To find out more about the Victoria Station Upgrade, visit the TfL website at <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/victoria">https://tfl.gov.uk/travel-information/improvements-and-projects/victoria</a>.</p>
<p>Notes to Editors</p>
<ul>
    <li>As part of TfL's multi-billion pound investment programme to improve and expand the transport network, the Victoria Station Upgrade project team and main contractor Taylor Woodrow Construction / BAM Nuttall JV are reconfiguring Victoria Tube station. Work to improve Victoria will result in fewer delays, less congestion, step-free access and quicker journeys in and out of the station. The new North ticket hall, currently under construction beneath Bressenden place, will open in 2016. The South ticket hall is being doubled in size and will open in 2018.</li>
    <li>Over 400 new jobs and 20 apprenticeships have been created to support the Victoria Station Upgrade project.</li>
    <li>The upgrade of Victoria Tube station is part of London Underground's &pound;10bn programme of modernisation, with major stations, trains, track and signalling being modernised or replaced to provide more capacity for a growing city.</li>
    <li>The &pound;1bn loan facility from the European Investment Bank is being used to support the upgrades at Victoria and Bank Tube stations, as well as the track renewal programme.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Major Victoria station breakthrough unites 300 metres of new tunnels -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 