


@{ViewBag.Title = "Plan ahead and beat the rugby crowds ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead and beat the rugby crowds </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead and beat the rugby crowds </h1>
        <div class="content-page-press-release">
        23 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Stratford becomes the centre of Rugby World Cup 2015 with two midweek matches at The Stadium, Queen Elizabeth Olympic Park
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners are advised to plan ahead so they can continue to get around easily and ensure they are making the most of this great tournament"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Griffiths</div>
            <div class="quotee-job-title">Chief Operating Officer, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Londoners advised to plan ahead as the Central and Jubilee lines towards east London are expected to be increasingly busy from 16:00 tonight (Wednesday 23) and tomorrow (Thursday 24)</li>
    <li>Fans heading to the matches are advised to travel early and avoid the commuter rush</li>
    <li>Live travel information is available through the &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;TfLTravelAlerts Twitter feeds throughout the Tournament</li>
</ul>
<p>With the Cherry Blossoms upsetting the Boks on Saturday, Rugby World Cup 2015 has already provided some real shocks. However, customers using the Capital's transport network can avoid their own surprises by heeding Transport for London's (TfL's) travel advice and planning ahead as tens of thousands of rugby fans descend on east London.</p>
<p>Tonight (Wednesday 23 September) France play Romania, while tomorrow (Thursday 24 September) New Zealand face Namibia - both at The Stadium, Queen Elizabeth Olympic Park. Tube and rail services to and from Stratford are expected to be busy from 17:00 until 19:30 and from 21:40 until midnight on both days. London is hosting a number of other events this week including One Direction at The O2 Arena on Thursday, so TfL is advising customers to plan ahead, allow more time and if possible re-time or seek alternative routes for their journeys. Rugby fans are advised to get to Stratford early and use less crowded alternatives as the station is served by numerous rail lines.</p>
<p>While most transport services across London will be unaffected and operating as normal, public transport and roads serving the stadiums will be much busier before and after the matches. Customers and road users not attending the matches are advised to, where possible, avoid these venues when games are taking place and plan their journeys at <a href="http://tfl.gov.uk/rugby-travel">tfl.gov.uk/rugby-travel</a>.</p>
<p>Steve Griffiths, Chief Operating Officer of London Underground, said: </p>
<p>'The six weeks of world class rugby action is now well underway, but the nature of Rugby World Cup 2015 means that busy periods will change as the tournament unfolds. This working week, the focus is squarely on Stratford. Londoners are advised to plan ahead so they can continue to get around easily and ensure they are making the most of this great tournament.'</p>
<p>This weekend there will also be matches at Twickenham (20:00 Saturday 26 September) and Wembley (16:45 Sunday 27 September). Public transport and roads around Twickenham and Wembley will be much busier up to three hours before and two hours after the matches.</p>
<p>By the time of the final on Saturday 31 October there will have been 17 matches across three London venues - The Stadium, Queen Elizabeth Olympic Park in Stratford, Wembley Stadium and Twickenham Stadium, the home of English Rugby.</p>
<p>More than one million spectators are expected in London over the six-week Tournament with large numbers of people enjoying the rugby atmosphere at bars, pubs and Fanzones across the Capital. On match days, the Fanzone at Queen Elizabeth Olympic Park is only for ticket holders. Spectators are encouraged to use the bespoke Rugby World Cup 2015 journey planner and travel information at <a href="http://rugbyworldcup.com/journeyplanner">rugbyworldcup.com/journeyplanner</a> and the detailed venue travel guides available at <a href="http://rugbyworldcup.com/travel">rugbyworldcup.com/travel</a>. In addition spectators can use the Rugby World Cup 2015 app to plan routes to match venues and Fanzone, and get live updates via &#64;RWC2015Travel. TfL Travel Ambassadors and magenta signage will also be in place across the network directing fans to rugby venues.</p>
<p>TfL, the boroughs and the tournament organisers, England Rugby 2015, have engaged extensively with residents, commuters and businesses in the venue areas to ensure they are aware of the tournament and any impact it may have on them.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:<br />
The Rugby World Cup is the third largest sporting event in the world.<br />
•	The Fanzones will be located in the following locations:<br />
•	Richmond &#45; Old Deer Park;<br />
•	Brent &#45; Wembley Park (access is limited to ticket holders only);<br />
•	Newham &#45; The Stadium, Queen Elizabeth Olympic Park (on match days access is limited to ticket holders only);<br />
•	Trafalgar Square will be open from the Semi Final through to the Final.<br />
•	TfL, the Rugby World Cup organisers, local boroughs and other transport partners are working closely to minimise disruption.<br />
•	Local boroughs and the Rugby World Cup organisers have also committed to working with TfL to ensure that local residents and businesses, emergency services and urgent care professionals as well as regular customers and road users are clearly informed of any plans and available alternative routes.<br />
•	Stratford is served by a numerous rail lines, for a less crowded route to Stratford from central London key stations spectators this week are advised to:<br />
•	From Baker Street use the Circle, Hammersmith &amp; City, Metropolitan to Liverpool Street and change for TfL Rail services to Stratford;<br />
•	From Blackfriars use District line to West Ham and change for the DLR to Stratford;<br />
•	From Charing Cross take the Northern line to Waterloo and change for the Jubilee line to Stratford;<br />
•	From Euston walk to Euston Square use the Circle, Hammersmith &amp; City, Metropolitan to Liverpool Street and change for TfL Rail services to Stratford;<br />
•	From King's Cross St Pancras either take Southeaster High Speed or the Circle, Hammersmith &amp; City, Metropolitan to Liverpool Street and change for TfL Rail services to Stratford;<br />
•	From Liverpool Street use TfL Rail Services to Stratford;<br />
•	From London Bridge take the Jubilee line to Stratford;<br />
•	From Marylebone walk to Baker Street and use the Circle, Hammersmith &amp; City, Metropolitan to Liverpool Street and change for TfL Rail services to Stratford;<br />
•	From Victoria take the District line and change at Westminster for the Jubilee line to Stratford;<br />
•	From Waterloo take the Jubilee line to Stratford</p>
<p>•	London Overground services also serve Stratford directly.  Avoid Highbury &amp; Islington interchange on 23 September due to football match at White Hart Lane.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Plan ahead and beat the rugby crowds  -->

 
 
        
        
            @{ViewBag.Description = "Don’t get ‘Les Bleus’, plan ahead and beat the rugby crowds ";}
        
        


 