


@{ViewBag.Title = "Rugby's Webb Ellis Cup takes a ride on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Rugby’s Webb Ellis Cup takes a ride on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Rugby’s Webb Ellis Cup takes a ride on the Tube</h1>
        <div class="content-page-press-release">
        15 September 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rugby World Cup 2003 winner Will Greenwood and the famous Webb Ellis Cup made an appearance on the Jubilee line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is really getting into the Rugby World Cup spirit now, and the Capital will be a fantastic place to be over the six week tournament. Clearly, on match days, parts of the transport network will be busier than normal. That's why we're advising Londoners to plan ahead so they can get around easily whether or not they are watching the tournament"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Griffiths</div>
            <div class="quotee-job-title">Chief Operating Officer, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Rugby World Cup 2015 begins this Friday with the Opening Ceremony ahead of England playing Fiji at Twickenham</li>
    <li>Public Transport and roads serving venues will be busier than usual on match days so TfL is advising Londoners to plan ahead</li>
</ul>
<p>With only days until the kick-off of Rugby World Cup 2015, rugby legend and Rugby World Cup 2003 winner Will Greenwood and the famous Webb Ellis Cup made a trip on the Tube, surprising commuters along the way. The Trophy has travelled across the UK and Ireland over the past 94 days as part of the 100-day Rugby World Cup Trophy Tour. The Trophy joined commuters to remind them that transport services between central London and the venues will be busier than usual before and after matches.</p>
<p>Steve Griffiths, Chief Operating Officer of London Underground, said: </p>
<p>'London is really getting into the Rugby World Cup spirit now, and the Capital will be a fantastic place to be over the six week tournament. Clearly, on match days, parts of the transport network will be busier than normal. That's why we're advising Londoners to plan ahead so they can get around easily whether or not they are watching the tournament.'</p>
<p>Between Friday 18 September and Saturday 31 October, there will be 17 matches across three London venues - The Stadium, Queen Elizabeth Olympic Park in Stratford, Wembley Stadium and Twickenham Stadium, the home of English Rugby.</p>
<p>This Friday, 18 September, services to and from the Twickenham area, particularly from Waterloo, will be much busier than usual as the tournament kicks off with the Opening Ceremony and first match between England and Fiji. Tube and rail users in the south west of London are advised to plan their journeys ahead and avoid traveling during the busiest times.</p>
<p>Twickenham Stadium will operate differently from usual during the Tournament, including a full closure of part of the A316 Great Chertsey Road from three hours before matches, with the road expected to be re-opened as soon as safe to do so. Road users are advised to plan alternative routes and avoid travelling in the area during matches.</p>
<p>One million spectators are expected in London over the six-week Tournament with large numbers of people enjoying the rugby atmosphere at bars, pubs and Fanzones across the Capital. Spectators are encouraged to use the bespoke Rugby World Cup 2015 journey planner and travel information at <a href="http://www.rugbyworldcup.com/journeyplanner">rugbyworldcup.com/journeyplanner</a> and on the Rugby World Cup 2015 app to plan routes to match venues and Fanzones.</p>
<p>While most transport services across London will be unaffected by the Tournament and will be operating as normal, public transport and roads serving the stadiums will be much busier before and after the matches. Customers and road users not attending the matches are advised to, where possible, avoid these venues when games are taking place and plan their journeys at <a href="http://TfL.gov.uk/rugby-travel">TfL.gov.uk/rugby-travel</a>.</p>
<p>England's Rugby World Cup 2003 winner Will Greenwood said: &quot;It was fantastic to take the Webb Ellis Cup on the London Underground. London's commuters were really surprised to see this stunning Trophy and, I hope, excited to realise Rugby World Cup 2015 is just around the corner. Bring a little bit of the Tournament magic to the Tube is a great way to celebrate day 96 of the 100-day Rugby World Cup Trophy Tour as it reaches the end of its journey.&quot;</p>
<p>TfL, the boroughs and the tournament organisers, England Rugby 2015, have engaged extensively with residents, commuters and businesses in the venue areas to ensure they are aware of the tournament and any impact it may have on them.</p>
<p>In another initiative to build excitement for Rugby World Cup 2015, TfL and ITV today launched a partnership to deliver live rugby news and updates at London Underground and DLR station platforms and entrances throughout the tournament. The deal also provides revenue to TfL that will be reinvested in improving the transport network.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Rugby World Cup is the third largest sporting event in the world.</li>
    <li>The Fanzones will be located in the following locations:</li>
    <li>&nbsp;Richmond &#45; Old Deer Park;</li>
    <li>Brent &#45; Wembley Park (for Wembley match ticket holders only);</li>
    <li>Newham &#45; Queen Elizabeth Olympic Park;</li>
    <li>Trafalgar Square will be open from the Semi Final through to the Final.</li>
    <li>TfL, the Rugby World Cup organisers, local boroughs and other transport partners are working closely to minimise disruption with extra transport services for spectators including shuttle coaches and park-and-ride shuttle services. Spectators and regular customers will benefit from enhanced District line of up to 50 per cent and  significantly enhanced South West Trains services on match days.</li>
    <li>The A316 will close two hours before events and reopen as soon as safe to do so. This is expected to be around two hours after the end of the event, however drivers are advised to avoid the area for up to three hours after as traffic congestion will take time to disperse</li>
    <li>Local boroughs and the Rugby World Cup organisers have also committed to working with TfL to ensure that local residents and businesses, emergency services and urgent care professionals as well as regular customers and road users are clearly informed of any plans and available alternative routes.</li>
    <li>Images of the Webb Ellis Cup and Will Greenwood on the Tube are available on request of the TfL Press Office</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-September-Rugby’s Webb Ellis Cup takes a ride on the Tube -->

 
 
        
        
            @{ViewBag.Description = "Rugby’s Webb Ellis Cup takes a ride on the Tube";}
        
        


 