
    
  


<!-- rhroot -->
@{ViewBag.Title = "Contactless and Oyster account";}
@{ViewBag.Keywords = "TfL,Contactless account, oyster account, contactless and oyster account, pay as you go account";}
@{ViewBag.Url = "/fares/contactless-and-oyster-account";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contactless and Oyster account</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contactless and Oyster account</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        It's quick and easy to manage your travel with a contactless and Oyster account.
        
      </div>
    
    <div class="on-this-page">
      <h2>Why get an account?</h2>

<ul>
	<li>Top up your pay as you go credit and get notifications when it gets low</li>
	<li>View your contactless and Oyster journey history</li>
	<li>Check your estimated cost for today's travel</li>
	<li>See if you have incomplete journeys</li>
	<li>Buy adult rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Passes</a> valid between seven days and 12 months</li>
	<li>Get notifications for when your ticket expires</li>
	<li>Apply for refunds</li>
	<li>Pay unpaid fares</li>
	<li>Manage multiple season tickets and cards</li>
	<li>Use our free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></li>
</ul>

<h2>Create an account</h2>

<ul>
	<li><a href="https://account.tfl.gov.uk/Register">Create a contactless and Oyster account</a></li>
</ul>

<h2>Already have an account?</h2>

<ul>
	<li><a href="https://contactless.tfl.gov.uk">Sign in to your contactless and Oyster account</a></li>
</ul>

<h2>How we use your data</h2>

<p>When you create a contactless and Oyster account and add your contactless or Oyster card, TfL, its subsidiaries and service providers use your personal data for:</p>

<ul>
	<li>Customer service and administration</li>
	<li>Provision of travel related information</li>
	<li>Seeing how customers use our products</li>
	<li>Fraud prevention</li>
</ul>

<p>If you use your contactless or Oyster card on National Rail services, you're also authorising TfL to share your personal data with relevant Train Operating Companies (TOCs).</p>

<p>In certain circumstances, TfL and relevant TOCs may also share your personal data with the police and other law enforcement agencies for the prevention and detection of crime.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/oyster" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/oyster" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app" class="plain-button">TfL Oyster and contactless app</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "It's quick and easy to manage your travel with a contactless and Oyster account";}
        
            
        


 