
    
  


<!-- rhroot -->
@{ViewBag.Title = "Find fares";}
@{ViewBag.Keywords = "TfL,fares, tube fares, dlr fares, london overground fares, tfl rail fares, national rail fares";}
@{ViewBag.Url = "/fares/find-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Find fares</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Find fares</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Check&nbsp;the cost of your travel</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder?intcmp=54716" >
        <img src="/cdn/static/cms/images/promos/single-fare-finder-fares_rdax_400x200.jpg" alt="" "" />
        
        <div class="text-link">
             <h2>Single fare finder</h2>
            <p>Find the cost of a single journey between two stations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser ">
  
  <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices?intcmp=54720"  data-img="/cdn/static/cms/images/promos/pay-as-you-go-caps.jpg" data-img-breakpoint="medium" data-img-alt="" "">
    <img src="/cdn/static/cms/images/promos/pay-as-you-go-caps_rdax_600x300.jpg" alt="" "" />
    <div class="text-link sit-top">
      <h2>Caps and Travelcard prices</h2>
      <p>Compare caps and Travelcard prices for your travel</p>
    </div>
  </a>
</div>

 <div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares?intcmp=54713" >
        
        
        <div class="text-link">
             <h2>Tube and rail fares</h2>
            <p>Prices for pay as you go, caps and Travelcards when you travel on Tube and rail</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/river-fares?intcmp=54711" >
        
        
        <div class="text-link">
             <h2>River fares</h2>
            <p>Prices for pay as you go and tickets when you travel on River services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/bus-and-tram-fares?intcmp=54718" >
        
        
        <div class="text-link">
             <h2>Bus and tram fares</h2>
            <p>Prices for pay as you go, Travelcards and Bus & Tram Passes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/emirates-air-line-fares?intcmp=54719" >
        
        
        <div class="text-link">
             <h2>Emirates Air Line fares</h2>
            <p>Prices for pay as you go and Boarding Passes on the Emirates Air Line</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/new-fares?intcmp=34454" >
        
        
        <div class="text-link">
             <h2>Fares from 2 January 2020</h2>
            <p>Many fares are frozen in 2020 but some will change in January</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps?intcmp=55569" >
        
        
        <div class="text-link">
             <h2>Pay as you go caps</h2>
            <p>Make as many pay as you go journeys as you like in one day and we'll cap your fare</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/national-rail-fares-beyond-zone-9?intcmp=54712" >
        
        
        <div class="text-link">
             <h2>Fares beyond Zone 9</h2>
            <p>Prices of pay as you go caps and Travelcards on National Rail beyond Zone 9</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them?intcmp=55566" >
        
        
        <div class="text-link">
             <h2>Penalty fares and how to pay them</h2>
            <p>We may charge a penalty fare if you don't touch in and out or have a valid ticket</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/taxis-and-minicabs/taxi-fares" class="plain-button">Taxi fares</a>
<a href="/modes/cycling/santander-cycles/what-you-pay" class="plain-button">Santander Cycle fares</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Find fares for Tube, DLR, London Overground, TfL Rail and most National Rail services";}
        
            
        


 