
    
  


<!-- rhroot -->
@{ViewBag.Title = "Free and discounted travel";}
@{ViewBag.Keywords = "TfL,Zip Oyster, concessions, free travel, discounted travel, 18+ Student, 16+, 11-15, 5-10, under 5, 60+, apprentice,";}
@{ViewBag.Url = "/fares/free-and-discounted-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Free and discounted travel</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Free and discounted travel</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>You&nbsp;may be eligible for free&nbsp;and discounted travel on our transport services</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/fares/find-fares?intcmp=54646" >
        
        
        <div class="text-link">
             <h2>Children under 5 travel free</h2>
            <p>Children under 5 travel free with a fare paying adult - check your fare</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard?intcmp=55572" >
        
        
        <div class="text-link">
             <h2>5-10 Zip Oyster photocard</h2>
            <p>All children aged between 5-10 travel for free on our transport services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard?intcmp=55575" >
        
        
        <div class="text-link">
             <h2>11-15 Zip Oyster photocard</h2>
            <p>Free travel on buses and trams, and discounts on our transport services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard?intcmp=55578" >
        
        
        <div class="text-link">
             <h2>16+ Zip Oyster photocard</h2>
            <p>Free and discounted travel on all our transport services if you're 16 or over</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s?intcmp=54733" >
        
        
        <div class="text-link">
             <h2>Rules of travel for under 18s</h2>
            <p>How to travel safely across our transport services if you're under 18</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/travel-for-schools?intcmp=54736" >
        
        
        <div class="text-link">
             <h2>Travel for schools</h2>
            <p>Free off-peak travel when you register for our School Party Travel Scheme</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard?intcmp=54727" >
        
        
        <div class="text-link">
             <h2>18+ Student Oyster photocard</h2>
            <p>Discounted travel if you're 18 or over and studying or on a work placement in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard?intcmp=54726" >
        
        
        <div class="text-link">
             <h2>Apprentice Oyster photocard</h2>
            <p>Discounted travel if you're 18 or over and in the first year of an apprenticeship</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard?intcmp=54724" >
        
        
        <div class="text-link">
             <h2>60+ London Oyster photocard</h2>
            <p>Free travel if you're 60 or over and living in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/freedom-pass?intcmp=54725" >
        
        
        <div class="text-link">
             <h2>Freedom Pass</h2>
            <p>Free and discounted travel if you're 66 or have a disability and live in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/veterans-oyster-photocard?intcmp=54722" >
        
        
        <div class="text-link">
             <h2>Veterans Oyster photocard</h2>
            <p>Free and discounted travel for eligible veterans on our transport services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/national-railcard-discount?intcmp=54723" >
        
        
        <div class="text-link">
             <h2>National Railcard Discount</h2>
            <p>Discounted travel on our transport services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/annual-gold-card-discount?intcmp=54728" >
        
        
        <div class="text-link">
             <h2>Annual Gold Card discounts</h2>
            <p>Discounts off your travel when you buy an Annual Travelcard</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/bus-and-tram-discount?intcmp=54729" >
        
        
        <div class="text-link">
             <h2>Bus & Tram Discount</h2>
            <p>Discounted travel on our buses and trams</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount?intcmp=54730" >
        
        
        <div class="text-link">
             <h2>Jobcentre Plus Travel Discount</h2>
            <p>Discounted travel if you're unemployed and looking for work in London</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "You may be eligible for free and discounted travel with concessions or Zip Oyster cards";}
        
            
        


 