
    
  


<!-- rhroot -->
@{ViewBag.Title = "How to pay and where to buy tickets and Oyster";}
@{ViewBag.Keywords = "TfL,Oyster, contactless, pay as you go, Travelcards, Bus & Tram Pass, tickets, Visitor Oyster, single tickets, return tickets";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">How to pay and where to buy tickets and Oyster</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>How to pay and where to buy tickets and Oyster</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me?intcmp=54710"  data-img="/cdn/static/cms/images/promos/best-ticket-for-me-left.jpg" data-img-breakpoint="medium" data-img-alt="Directional post with different ticket types">
    <img src="/cdn/static/cms/images/promos/best-ticket-for-me-left_rdax_600x300.jpg" alt="Directional post with different ticket types" />
    <div class="text-link sit-top">
      <h2>What's the best ticket for me?</h2>
      <p>We'll help you choose the best way to pay for your travel</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go?intcmp=55539" >
        <img src="/cdn/static/cms/images/promos/contactless-fares_rdax_400x200.jpg" alt="red contactless bank card over yellow card reader" />
        
        <div class="text-link">
             <h2>Contactless</h2>
            <p>Use contactless (card or device) to pay as you go on all our transport services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app?intcmp=54705"  data-img="/cdn/static/cms/images/promos/contactless-oyster-app_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="sofa with oyster and contactless icon on it">
        
        
        <div class="text-link">
             <h3>TfL Oyster and contactless app</h3>
            <p>Top up anytime, anywhere and manage your cards on the go</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out?intcmp=54751" >
        <img src="/cdn/static/cms/images/promos/yellow-reader-small_rdax_400x200.jpg" alt="Yellow card reader" />
        
        <div class="text-link">
             <h2>Touching in and out</h2>
            <p>Always touch in at the start of your journey and touch out at the end</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster?intcmp=54759" >
        
        
        <div class="text-link">
             <h2>Buying tickets and Oyster</h2>
            <p>You can buy tickets and Oyster cards online and from places across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times?intcmp=54754" >
        
        
        <div class="text-link">
             <h2>Keep within maximum journey times</h2>
            <p>Find the maximum journey time for your travel so you pay the right fare</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets?intcmp=54708" >
        
        
        <div class="text-link">
             <h2>Single and return tickets</h2>
            <p>Buy paper tickets for Tube and rail journeys from ticket machines</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go?intcmp=55536" >
        <img src="/cdn/static/cms/images/promos/oyster-fares_rdax_400x200.jpg" alt="oyster card over a yellow card reader" />
        
        <div class="text-link">
             <h2>Oyster card</h2>
            <p>Top up your Oyster card or add Travelcards and Bus & Tram Passes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go?intcmp=54707" >
        <img src="/cdn/static/cms/images/promos/pay-as-you-go_rdax_400x200.jpg" alt="" "" />
        
        <div class="text-link">
             <h2>Pay as you go</h2>
            <p>You could save money by using pay as you go</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains?intcmp=54753" >
        <img src="/cdn/static/cms/images/promos/pink-reader-small_rdax_400x200.jpg" alt="Pink coloured card reader" />
        
        <div class="text-link">
             <h2>Touch a pink card reader</h2>
            <p>Pink card readers charge the right fare by telling us you didn't go through Zone 1</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash?intcmp=54752" >
        
        
        <div class="text-link">
             <h2>Card clash</h2>
            <p>Keep your contactless and Oyster cards separate when touching yellow card readers</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets?intcmp=54706" >
        
        
        <div class="text-link">
             <h2>Travelcards and group tickets</h2>
            <p>You can travel as much as you like at any time with a Travelcard</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass?intcmp=54709" >
        
        
        <div class="text-link">
             <h2>Bus & Tram Pass</h2>
            <p>You can get unlimited travel on buses and trams across London</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Free and discounted travel</a>
<a href="/travel-information/visiting-london/visitor-oyster-card" class="plain-button">Visitor Oyster cards</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Overview of the different ways you can pay to travel in London";}
        
            
        


 