
    
  



@{ViewBag.Title = "Fares";}
@{ViewBag.Keywords = "TfL,Fares, London, travel, tfl, price of travel";}
@{ViewBag.Url = "/fares/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/fares-section-image.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/fares-section-image.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Fares</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Fares</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order">How much it costs and how to pay to travel around London</h2>
                </div>
                <p>Find out what's the best ticket for you and how to use contactless and Oyster cards, view fares, check if you can get a refund or replacement and see if you're eligible for free and discounted travel.</p>
            </div>
            
            <div class="aside">
                
                <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go?intcmp=55539" >
        <img src="/cdn/static/cms/images/promos/contactless-fares_rdax_400x200.jpg" alt="red contactless bank card over yellow card reader" />
        
        <div class="text-link">
             <h3>Contactless pay as you go</h3>
            <p>Use a contactless card or device to travel on our transport</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go?intcmp=55536"  data-img="/cdn/static/cms/images/promos/oyster-fares_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="oyster card over a yellow card reader">
        
        
        <div class="text-link">
             <h3>Oyster pay as you go</h3>
            <p>Use an Oyster card to pay as you go to travel on our transport</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app?intcmp=54705"  data-img="/cdn/static/cms/images/promos/contactless-oyster-app_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="sofa with oyster and contactless icon on it">
        
        
        <div class="text-link">
             <h3>TfL Oyster and contactless app</h3>
            <p>Top up anytime, anywhere and manage your cards on the go</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder?intcmp=54716" >
        <img src="/cdn/static/cms/images/promos/single-fare-finder-fares_rdax_400x200.jpg" alt="" "" />
        
        <div class="text-link">
             <h3>Single fare finder</h3>
            <p>Check the cost of a single journey between two stations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares?intcmp=54646" >
        
        
        <div class="text-link">
             <h3>Find fares</h3>
            <p>Check the cost of your journey before you travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/refunds-and-replacements?intcmp=54643" >
        
        
        <div class="text-link">
             <h3>Refunds and replacements</h3>
            <p>How to get a refund, or replace your Oyster card or season ticket</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster?intcmp=54645" >
        
        
        <div class="text-link">
             <h3>How to pay and where to buy</h3>
            <p>There are different ways to pay for your travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/free-and-discounted-travel?intcmp=54647" >
        
        
        <div class="text-link">
             <h3>Free and discounted travel</h3>
            <p>You may be eligible for free travel or discounts off your fares</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/contactless-and-oyster-account?intcmp=54644" >
        
        
        <div class="text-link">
             <h3>Contactless and Oyster account</h3>
            <p>Get an account to manage your travel quickly and easily</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage" class="plain-button">Conditions of Carriage</a>
    </div>
</div>
 <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open from 08:00 to 20:00, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/TfL">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-oyster">Contact us about Oyster</a><br />
<a href="/help-and-contact/contact-us-about-contactless">Contact us about contactless</a></p>

<p>&nbsp;</p>

<p>Or send a letter to:</p>

<p>&nbsp;</p>

<p>TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>
        </div>
        
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Information about fares for all TfL services";}
        
            
        


 