
    
  



@{ViewBag.Title = "Prosecutions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/prosecutions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Prosecutions</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Prosecutions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out about prosecutions, court proceedings and how to get help with your case.
        
      </div>
    
    <div class="on-this-page">
      <p><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Fare evasion</a> is a criminal offence and you may be prosecuted. If convicted, you will:</p>

<ul>
	<li>Get a criminal record</li>
	<li>Pay a fine of up to &pound;1,000</li>
	<li>Pay compensation for fares avoided</li>
	<li>Pay a victim surcharge</li>
	<li>Pay prosecution costs</li>
</ul>
      
           
      <div>

<h2>Court proceedings</h2>

<p>If you're prosecuted, you'll receive a notice in the post that your case will be heard in Court.</p>

<p>You should reply to the Court with your plea, financial situation and any mitigation. If you don't reply, your case will be heard without you and this could mean you have to pay a higher fine.</p>

<h2>Help with your case</h2>

<ul>
	<li><a href="https://www.gov.uk/find-a-legal-adviser">Find a legal advisor</a></li>
	<li><a href="https://www.citizensadvice.org.uk/">Citizens Advice</a></li>
	<li><a href="https://www.gov.uk/single-justice-procedure-notices">Single justice procedure notices</a></li>
</ul>

<h3>Get your case reopened</h3>

<p>If you've been prosecuted and weren't aware of the proceedings against you, you can make a statutory declaration to get your case reopened in the magistrates' court.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-to-get-your-case-reopened.pdf">
    <div class="document-download-text">
        <p>How to get your case reopened</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about prosecutions, court proceedings and how to get help with your case.";}
        
            
        


 