
    
  



@{ViewBag.Title = "Refunds and replacements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Refunds and replacements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Refunds and replacements</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    
<div class="module-grid clearfix">
<div>

<h2>Charged unexpected amount</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/didnt-touch-in-or-out">Didn't touch in or out</a></li>
    <li><a href="/fares/refunds-and-replacements/wrong-card-charged">Wrong card charged</a></li>
    <li><a href="/fares/refunds-and-replacements/touched-in-and-out-at-same-station">Touched in and out at same station</a></li>
    <li><a href="/fares/refunds-and-replacements/travelled-outside-zones-covered-by-travelcard">Travelled outside zones covered by Travelcard</a></li>
    <li><a href="/fares/refunds-and-replacements/exceeded-maximum-journey-time">Exceeded maximum journey time</a></li>
    <li><a href="/fares/refunds-and-replacements/charged-for-travelling-in-zone-1">Charged for travelling in Zone 1</a></li>
</ul>
</div>
 <div>

<h2>No longer needed</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/oyster-pay-as-you-go-credit-no-longer-needed">Pay as you go Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/visitor-oyster-credit-no-longer-needed">Visitor Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/season-ticket-on-oyster-no-longer-needed">Season ticket on Oyster</a></li>
    <li><a href="/fares/refunds-and-replacements/paper-season-ticket-no-longer-needed">Season ticket on paper</a></li>
    <li><a href="/fares/refunds-and-replacements/unused-one-day-single-or-return-paper-ticket">One Day, single or return paper ticket</a>
    </li>
</ul>
</div>
 <div>

<h2>Lost, stolen, damaged or faulty cards</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/lost-oyster-card">Lost Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/stolen-oyster-card">Stolen Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/faulty-oyster-card">Faulty Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
    <li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
</ul>
<p> </p>
</div>
 <div>

<h2>Other lost, stolen or faulty cards or tickets</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-faulty-freedom-pass">Freedom Pass</a></li>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-bus-and-tram-discount-photocard">Bus &amp; Tram Discount Photocard</a></li>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-jobcentre-plus-discount-photocard">Jobcentre Plus Discount Photocard</a></li>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-paper-ticket">Paper ticket</a> </li>
</ul>
</div>
 <div>

<h2>Replace your photo</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
</ul>
</div>
 <div>

<h2>Change Travelcard zones</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/reduce-or-add-zones-on-your-travelcard">Add or reduce zones</a></li>
</ul>
</div>
 <div>

<h2>Forgot</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/forgot-your-season-ticket">Season ticket</a></li>
    <li><a href="/fares/refunds-and-replacements/forgot-your-oyster-photocard">Oyster photocard</a></li>
</ul>
</div>
 <div>

<h2>Delays</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/tube-and-dlr-delays">Tube and DLR</a> </li>
    <li><a href="/fares/refunds-and-replacements/overground-and-tfl-rail-delays">Overground and TfL Rail</a></li>
    <li><a href="/fares/refunds-and-replacements/emirates-air-line-delays">Emirates Air Line</a></li>
    <li><a href="/fares/refunds-and-replacements/bus-and-tram-delays">Bus and tram</a></li>
</ul>
</div>
 <div>

<h2>Overlapping tickets</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/overlapping-travelcard-or-bus-and-tram-pass">Overlapping Travelcard or Bus &amp; Tram Pass</a></li>
</ul>
</div>
 <div>

<h2>Illness or death</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/oyster-or-ticket-not-needed-due-to-illness">Season ticket not needed due to illness</a></li>
    <li><a href="/fares/refunds-and-replacements/refund-on-behalf-of-someone-who-has-died">Refunds on behalf of someone who has died</a></li>
</ul>
</div>
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "How to claim a refund, or replace your Oyster card or season ticket.";}
        
            
        


 