
    
  



@{ViewBag.Title = "Card clash";}
@{ViewBag.Keywords = "TfL,Card clash, yellow card reader clash";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Card clash</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Card clash</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Keep your contactless and Oyster cards away from each other when touching a yellow card reader to pay the right fare.
        
      </div>
    
    <div class="on-this-page">
      <h2>What is card clash?</h2>

<p>Card clash happens when you accidently touch more than one card on a yellow card reader at the same time.</p>

<p>Make sure you keep your contactless and Oyster cards separate and not in the same purse, wallet or phone case when touching in or out.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/card-clash.jpg" alt="Oyster and contactless cards in the same wallet over a yellow card reader showing a clash" />
        
        
        
    </div>   
 </div>
 <div>

<p>If you don't, the yellow card reader may:</p>

<ul>
	<li>Not read any card and the ticket gate won't open</li>
	<li>Not take payment for your journey (at a freestanding yellow card reader) so you could be charged a&nbsp; <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">penalty fare</a></li>
	<li>Read one card when you touch in and another card when you touch out, charging two maximum fares for your journey</li>
	<li>Take payment from the wrong card</li>
</ul>
</div>
 <div>

<h2>Pay the right fare&nbsp;</h2>

<p>You'll pay the right fare if you touch in and out with the same card.</p>

<p>Always use the same device, contactless or Oyster card to touch in and out. For example, if you touch in with an iPhone and touch out with an Apple Watch or contactless card, you'll be charged for two incomplete journeys.</p>

<h2>Check for card clash</h2>

<p>Check your journey history on your <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> to see if you've paid your fare with the right card.</p>

<h2>Apply for a refund</h2>

<p>If you've been charged a maximum fare on two different cards for the same journey, you can <a href="/fares/refunds-and-replacements/wrong-card-charged">apply for a refund</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Keep within maximum journey times</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Touch a pink card reader when changing trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Card clash</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Keep your contqactless and Oyster cards separate when touching on a yellow card reader to pay the right fare";}
        
            
        


 