
    
  



@{ViewBag.Title = "Contactless and mobile pay as you go";}
@{ViewBag.Keywords = "TfL,contactless, mobile, device, contactless pay as you go, mobile pay as you go, contactless card";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contactless and mobile pay as you go</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contactless and mobile pay as you go</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Use a contactless card or mobile device for adult rate pay as you go travel on all our transport services.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/contactless-icon_rdax_400x250.jpg" alt="Black and white icon for contactless showing 4 curved lines starting small and getting bigger" />
        
        
        
    </div>
    <h2>Contactless cards&nbsp;</h2>

<p>If your bank card shows the contactless payment symbol, you can use it to pay as you go straight away. You'll pay an adult rate fare.</p>

<p>Many contactless cards issued outside the UK can be used to pay as you go for travel (overseas transaction fees may apply):</p>
 </div>
 <div>

<ul>
	<li>American Express (AMEX)</li>
	<li>MasterCard and Maestro (some cards issued in the USA, Canada and the Netherlands aren't accepted)</li>
	<li>Visa and V PAY (some cards issued outside the UK aren't accepted)</li>
</ul>

<p>If you have a prepaid card, it may be accepted on our transport services. Check with your card issuer if you're not sure if your card is contactless or if it's rejected.</p>

<h2>Mobile payments&nbsp;</h2>

<p>Using a mobile payment to pay as you go is the same as using a contactless card.</p>

<p>You can make mobile payments with devices such as phones, watches, key fobs, stickers or wristbands.&nbsp;</p>

<p>You can use different mobile payments to travel on our transport services:</p>

<ul>
	<li><a href="http://www.apple.com/uk/apple-pay/transport/">Apple Pay</a></li>
	<li><a href="https://www.barclaycard.co.uk/personal/customer/contactless-mobile">Barclaycard Contactless Mobile</a></li>
	<li><a href="https://www.barclays.co.uk/ways-to-bank/mobile-banking-services/contactless-mobile/">bPay</a></li>
	<li><a href="https://www.fitbit.com/uk/fitbit-pay">Fitbit Pay</a></li>
	<li><a href="https://explore.garmin.com/en-GB/garmin-pay/">Garmin Pay</a></li>
	<li><a href="https://pay.google.com/about/">Google Pay</a></li>
	<li><a href="http://www.samsung.com/uk/samsung-pay/">Samsung Pay</a></li>
</ul>

<p>If you use a mobile payment associated with a non-UK bank card, your card may not work or you may be charged overseas transaction fees. Check with your card issuer.</p>
</div>
 <div>

<h2>How to use</h2>

<p><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touch in</a> at the start of your journey and&nbsp;<a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end&nbsp;on yellow card readers using contactless (card or device). Only touch in on buses and trams.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/contactless-card.jpg" alt="Contactless card over a yellow card reader" />
        
        
        
    </div>   
 </div>
 <div>

<p>You can pay for someone else's travel with your contactless card or device if they're travelling with you. You need to pay for your own travel with a different card or device.</p>

<p>If you have a joint bank account, you can usually both use your contactless cards to travel as each card will be charged separately.</p>

<p>Find out <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go/why-doesnt-my-contactless-card-work">why your contactless card might not work</a>.</p>

<h2>Pay the right fare</h2>

<ul>
	<li><strong>Always use the same device or contactless card to <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in and out</a></strong> to pay the right fare for your journey. If you don't, we won't be able to cap your fares.&nbsp;For example, don't touch in with an iPhone and touch out with an Apple Watch or contactless card.</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/contactless-same-device.jpg" alt="A contactless card over a yellow card reader, followed by a device over a reader and a cross showing a clash. Contactless card followed by the same card showing the correct process." />
        
        
        
    </div>   
 </div>
 <div>

<ul>
	<li><strong>Make sure you have enough battery</strong> otherwise you'll pay the maximum fare or might get a penalty fare</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/device-battery.jpg" alt="A mobile device showing a full green battery." />
        
        
        
    </div>   
 </div>
 <div>

<ul>
	<li><strong>Watch out for <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">card clash</a></strong>&nbsp;by keeping your contactless and Oyster cards away from your&nbsp;device when touching in and out so you pay for your travel with the right card or device</li>
</ul>

<h2>How much does it cost?</h2>

<p>You can check your fare on our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>.</p>

<p>Travel as much as you like in one day or week (Monday to Sunday) and we'll <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">cap your fares</a> so you don't pay more.</p>

<p>You might see your payment on your bank statement as:</p>

<ul>
	<li>Travel charges</li>
	<li>Travel refunds</li>
	<li>Unpaid fares</li>
	<li>tfl.gov.uk/cp</li>
</ul>

<h2>Create an account</h2>

<p>Create a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> to:</p>

<ul>
	<li>Check your payment and journey history</li>
	<li>Get email alerts if there's an issue with your contactless card which might stop you from travelling</li>
	<li>Apply for refunds</li>
	<li>Pay unpaid fares</li>
</ul>

<p>If you're adding contactless cards for a joint bank account to your contactless and Oyster account, you need to either:&nbsp;</p>

<ul>
	<li>Sign up for one account if the cards have the same long card number and expiry date&nbsp;</li>
	<li>Sign up for separate accounts for each card if they have different long card numbers and/or expiry dates</li>
</ul>

<h3>Download the app</h3>

<p>Once you've created an account, download our free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a>&nbsp;to manage your contactless and Oyster cards on the go.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go/why-doesnt-my-contactless-card-work">My contactless card doesn't work</a></li>
	<li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go/why-doesnt-my-contactless-card-work">Why doesn't my contactless card work?</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Keep within maximum journey times</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Touch a pink card reader when changing trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Card clash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Use a contactless bank card or mobile device to pay as you go on all our transport services";}
        
            
        


 