
    
  



@{ViewBag.Title = "Keep within maximum journey times";}
@{ViewBag.Keywords = "TfL,maximum fares, maximum journey time";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Keep within maximum journey times</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Keep within maximum journey times</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Keep within the maximum journey time when you travel so you don't pay more for your journey.
        
      </div>
    
    <div class="on-this-page">
      <h2>Your journey time</h2>

<p>We set maximum times for all <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a> journeys on the Tube, DLR, London Overground, TfL Rail&nbsp;and National Rail services.</p>

<p>If you spend longer than the maximum journey time, you could be charged two maximum fares. A single maximum fare is:</p>

<ul>
	<li>up to &pound;8.40 in Zones 1-9</li>
	<li>up to &pound;25 if travelling to Heathrow on Heathrow Express</li>
	<li>up to &pound;27.70 beyond Zone 9</li>
</ul>

<h2>Pay the right fare</h2>

<p>To pay the right fare, always <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a>&nbsp;at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch&nbsp;out</a> at the end&nbsp;on yellow card readers.</p>

<h2>Maximum times</h2>

<p>Every journey has its own maximum journey time, whatever route you take. This depends on the number of zones you cross, the day of the week and the time you're travelling.</p>
      
           
      

<h3><strong>Travelling within Zones 1-4</strong></h3>

<div class="table-container"><table>
	<thead>
		<tr>
			<th scope="col"><strong>Zones</strong></th>
			<th scope="col"><strong>Monday to Friday 04:30 - 19:00</strong></th>
			<th scope="col"><strong>Monday to Friday, after 19:00 &amp; all day Saturday</strong></th>
			<th scope="col"><strong>Sunday</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>In Zone 1, 2 and 2-3</td>
			<td>1 hour 30 minutes</td>
			<td>1 hour 40 minutes</td>
			<td>1 hour 50 minutes</td>
		</tr>
		<tr>
			<td>In Zones 1-2</td>
			<td>1 hour 40 minutes</td>
			<td>1 hour 50 minutes</td>
			<td>2 hours</td>
		</tr>
		<tr>
			<td>In Zones 1-3</td>
			<td>1 hour 50 minutes</td>
			<td>2 hours 5 minutes</td>
			<td>2 hours 15 minutes</td>
		</tr>
		<tr>
			<td>In Zones 1-4 (for journeys across up to five zones within Zones 1-4)</td>
			<td>1 hour 50 minutes</td>
			<td>2 hours 5 minutes</td>
			<td>2 hours 15 minutes</td>
		</tr>
	</tbody>
</table></div>


 

<h3><strong>Travelling across all zones</strong></h3>

<div class="table-container"><table>
	<thead>
		<tr>
			<th scope="col"><strong>Zones</strong></th>
			<th scope="col"><strong>Monday to Friday 04:30 - 19:00</strong></th>
			<th scope="col"><strong>Monday to Friday, after 19:00 Friday and all day Saturday </strong></th>
			<th scope="col"><strong>Sunday</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1 zone</td>
			<td>1 hour 10 minutes</td>
			<td>1 hour 20 minutes</td>
			<td>1 hour 25 minutes</td>
		</tr>
		<tr>
			<td>Across 2 zones</td>
			<td>1 hour 20 minutes</td>
			<td>1 hour 30 minutes</td>
			<td>1 hour 40 minutes</td>
		</tr>
		<tr>
			<td>Across 3 zones</td>
			<td>1 hour 30 minutes</td>
			<td>1 hour 40 minutes</td>
			<td>1 hour 50 minutes</td>
		</tr>
		<tr>
			<td>Across 4 zones</td>
			<td>1 hour 40 minutes</td>
			<td>1 hour 50 minutes</td>
			<td>2 hours</td>
		</tr>
		<tr>
			<td>Across 5 zones</td>
			<td>1 hour 50 minutes</td>
			<td>2 hours 5 minutes</td>
			<td>2 hours 15 minutes</td>
		</tr>
		<tr>
			<td>Across 6 zones</td>
			<td>2 hours</td>
			<td>2 hours 15 minutes</td>
			<td>2 hours 25 minutes</td>
		</tr>
		<tr>
			<td>Across 7 zones</td>
			<td>2 hours 10 minutes</td>
			<td>2 hours 25 minutes</td>
			<td>2 hours 40 minutes</td>
		</tr>
		<tr>
			<td>Across 8 zones</td>
			<td>2 hours 20 minutes</td>
			<td>2 hours 35 minutes</td>
			<td>2 hours 50 minutes</td>
		</tr>
		<tr>
			<td>Across 9 zones</td>
			<td>2 hours 30 minutes</td>
			<td>2 hours 45 minutes</td>
			<td>3 hours</td>
		</tr>
		<tr>
			<td>Across 10 zones</td>
			<td>2 hours 40 minutes</td>
			<td>3 hours</td>
			<td>3 hours 15 minutes</td>
		</tr>
		<tr>
			<td>Across 11 zones</td>
			<td>2 hours 50 minutes</td>
			<td>3 hours 10 minutes</td>
			<td>3 hours 25 minutes</td>
		</tr>
		<tr>
			<td>Across 12 zones</td>
			<td>3 hours</td>
			<td>3 hours 20 minutes</td>
			<td>3 hours 40 minutes</td>
		</tr>
		<tr>
			<td>Across 13 zones</td>
			<td>3 hours 10 minutes</td>
			<td>3 hours 30 minutes</td>
			<td>3 hours 50 minutes</td>
		</tr>
		<tr>
			<td>Across 14 zones</td>
			<td>3 hours 20 minutes</td>
			<td>3 hours 40 minutes</td>
			<td>4 hours</td>
		</tr>
		<tr>
			<td>Across 15 zones</td>
			<td>3 hours 30 minutes</td>
			<td>3 hours 55 minutes</td>
			<td>4 hours 15 minutes</td>
		</tr>
		<tr>
			<td>Across 16 zones</td>
			<td>3 hours 40 minutes</td>
			<td>4 hours 5 minutes</td>
			<td>4 hours 25 minutes</td>
		</tr>
		<tr>
			<td>Across 17 zones</td>
			<td>3 hours 50 minutes</td>
			<td>4 hours 15 minutes</td>
			<td>4 hours 40 minutes</td>
		</tr>
		<tr>
			<td>Across 18 zones</td>
			<td>4 hours</td>
			<td>4 hours 25 minutes</td>
			<td>4 hours 50 minutes</td>
		</tr>
		<tr>
			<td>Across 19 zones</td>
			<td>4 hours 10 minutes</td>
			<td>4 hours 35 minutes</td>
			<td>5 hours</td>
		</tr>
		<tr>
			<td>Across 20 zones</td>
			<td>4 hours 20 minutes</td>
			<td>4 hours 50 minutes</td>
			<td>5 hours 15 minutes</td>
		</tr>
	</tbody>
</table></div>
<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/exceeded-maximum-journey-time">Exceeded maximum journey time</a></li>
</ul>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Keep within maximum journey times when you travel so you don't pay more for your journey";}
        
            
        


 