
    
  



@{ViewBag.Title = "Oyster pay as you go";}
@{ViewBag.Keywords = "TfL,Oyster card, oyster photocard, pay as you go";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Oyster pay as you go</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Oyster pay as you go</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Everyone can pay as you go using an Oyster card to travel on our transport services.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Oyster cards</h2>

<p>An Oyster card is a smart card that you add money to, so you can <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>.</p>

<p>You can pay as you go to travel on bus, Tube, tram, DLR, London Overground, most TfL Rail, Emirates Air Line and Thames Clippers River Bus services.</p>

<p>You can also travel on most National Rail services in London and some <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">outside London</a>.</p>

<p>You can also add:</p>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a></li>
	<li><a href="/fares/free-and-discounted-travel">Discounts</a></li>
</ul>

<p>Oyster cards aren't accepted at TfL Rail stations between Reading and Iver.</p>

<h2>How to use</h2>

<p><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touch your Oyster card in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers to pay the right fare. Only touch in on buses and trams.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/oyster-card-reader.jpg" alt="Oyster card over a yellow card reader" />
        
        
        
    </div>   
 </div>
 <div>

<p>If you only have pay as you go credit on your Oyster card, you can lend it to someone else. Two people can't use the same contactless or Oyster card for a journey.</p>

<p>If you have a Travelcard, Bus &amp; Tram Pass or discount added to your Oyster card, you can't lend it to someone else.</p>

<h2>Where to buy</h2>

<p>Find out <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">where to buy an Oyster card</a>.</p>

<h2>Create an account</h2>

<p>Create a <a href="http://contactless.tfl.gov.uk/">contactless and Oyster account</a> and add your Oyster card, to:</p>

<ul>
	<li>Check your pay as you go credit and top up</li>
	<li>Check your payment and journey history</li>
	<li>Register your card to apply for refunds or replacements</li>
	<li>Report your card if it's lost or stolen so no one else can use it</li>
	<li>Pay unpaid fares</li>
</ul>

<h2>Download the app</h2>

<p>Our free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a> lets you manage your Oyster card on the go.</p>

<h2>Register your Oyster card</h2>

<p>You need to register your Oyster card if you want to apply for refunds or replacements, or if you've added credit or a discount to it.</p>

<p>If you don't register your card and you lose it, your pay as you go credit, Travelcard or Bus &amp; Tram Pass won't be refunded.</p>

<p>To register your card, create a <a href="https://contactless.tfl.gov.uk/">contactless and Oyster account</a>.&nbsp;</p>

<p><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster cards</a> can't be registered.</p>

<p>If you're transferring your credit or discount to a new Oyster card, make at least one journey with it first, wait 24 hours, and then sign in to your contactless and Oyster account. You need to use the password you gave when you added the discount to your old card.</p>

<h2>Pay as you go fares</h2>

<p>You can check your fare on our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>.</p>

<p>Travel as much as you like in one day and we'll <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">cap your fare</a> so you don't pay more.</p>

<h2>Auto top-up</h2>

<p>Using <a href="https://oyster.tfl.gov.uk/oyster/link/sso/0002.do">Auto top-up</a> means you'll never run out of pay as you go credit. When your balance goes below &pound;20, we'll automatically top up your Oyster card with either &pound;20 or &pound;40 from your bank account.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Keep within maximum journey times</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Touch a pink card reader when changing trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Card clash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Everyone can use an Oyster card to pay as you go on our transport services";}
        
            
        


 