
    
  



@{ViewBag.Title = "Touching in and out";}
@{ViewBag.Keywords = "TfL,Touch in, touch out, tap";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Touching in and out</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Touching in and out</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Always touch in at the start of your journey and touch out at the end on a yellow card reader to pay the right fare.
        
      </div>
    
    <div class="on-this-page">
      <h2>Completing your journey</h2>

<p>Where you touch in and out tells us where you've travelled from and to, so we can charge you the right fare for your completed journey.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/touching-in-and-out.jpg" alt="Contactless card over a yellow card reader at the start and end" />
        
        
        
    </div>   
 </div>
 <div>

<p>This is for all Tube, DLR, London Overground, TfL Rail, National Rail, River Bus and Emirates Air Line journeys.</p>

<p>Only touch in on buses and trams.</p>

<h3>Automatic completion of journeys</h3>

<p>When there are major sporting or entertainment events, we may open gates at stations to help with congestion.</p>

<p>On these occasions you might not be able to touch out, so we'll try to complete your journey for you so you're not charged the maximum fare.</p>

<p>If you're due a refund when we automatically complete a journey, it'll be loaded on to your Oyster card when you next touch in on a yellow card reader. If you used contactless (card or device) we'll refund your bank account.</p>

<h2>Charges if you don't touch in and out</h2>

<p>If you don't touch in and out, we can't tell where you've travelled from or to, so your journey will be incomplete.</p>

<p>As we can't work out the right fare for your journey, we'll charge you the maximum fare:</p>
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Area </strong></td>
			<td><strong>Peak</strong></td>
			<td><strong>Off-peak</strong></td>
		</tr>
		<tr>
			<td>All stations in Zones 1-9 (except Heathrow Express)</td>
			<td>Up to &pound;8.40</td>
			<td>Up to &pound;5.70</td>
		</tr>
		<tr>
			<td>Broxbourne, Rye House, St Margarets, Ware and Hertford East</td>
			<td>&pound;8.80</td>
			<td>&pound;6.50</td>
		</tr>
		<tr>
			<td>Chafford Hundred, Grays, Ockenden and Purfleet</td>
			<td>&pound;8.60</td>
			<td>&pound;7.60</td>
		</tr>
		<tr>
			<td>Dartford and Swanley</td>
			<td>&pound;8.40</td>
			<td>&pound;5.70</td>
		</tr>
		<tr>
			<td>Epsom</td>
			<td>&pound;9.10</td>
			<td>&pound;6.70</td>
		</tr>
		<tr>
			<td>Shenfield</td>
			<td>&pound;9.90</td>
			<td>&pound;7.40</td>
		</tr>
		<tr>
			<td>Watford Junction</td>
			<td>&pound;9.80</td>
			<td>&pound;6.60</td>
		</tr>
		<tr>
			<td>Merstham</td>
			<td>&pound;12.40</td>
			<td>&pound;8.50</td>
		</tr>
		<tr>
			<td>Cuffley</td>
			<td>&pound;10.00</td>
			<td>&pound;7.60</td>
		</tr>
		<tr>
			<td>Bayford and Hertford North</td>
			<td>&pound;10.90</td>
			<td>&pound;8.50</td>
		</tr>
		<tr>
			<td>Redhill, Earlswood</td>
			<td>&pound;13.70</td>
			<td>&pound;8.90</td>
		</tr>
		<tr>
			<td>Salfords, Horley</td>
			<td>&pound;13.90</td>
			<td>&pound;8.90</td>
		</tr>
		<tr>
			<td>Gatwick Airport</td>
			<td>&pound;17.90</td>
			<td>&pound;10.90</td>
		</tr>
		<tr>
			<td>Heathrow Express (from Paddington to Heathrow)</td>
			<td>&pound;25</td>
			<td>&pound;22</td>
		</tr>
		<tr>
			<td>St Pancras International (East Midlands platforms)</td>
			<td>&pound;13.50</td>
			<td>&pound;9.90</td>
		</tr>
		<tr>
			<td>London Victoria (Gatwick Express platforms)</td>
			<td>&pound;19.80</td>
			<td>&pound;19.80</td>
		</tr>
		<tr>
			<td>Brookmans Park and Welham Green</td>
			<td>&pound;10.10</td>
			<td>&pound;7.40</td>
		</tr>
		<tr>
			<td>Welwyn Garden City</td>
			<td>&pound;11.80</td>
			<td>&pound;9.10</td>
		</tr>
		<tr>
			<td>Luton Airport Parkway</td>
			<td>&pound;15.90</td>
			<td>&pound;12.30</td>
		</tr>
		<tr>
			<td>Reading</td>
			<td>&pound;27.70</td>
			<td>&pound;13.00</td>
		</tr>
	</tbody>
</table></div>


 <div>

<p>Maximum fares don't count towards capping.</p>

<p>If you don't touch in, you may be charged a <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">penalty fare</a>.</p>

<h2>Apply for a refund</h2>

<p>If you were charged a maximum fare because you couldn't touch in or out for reasons beyond your control, you can <a href="/fares/refunds-and-replacements/didnt-touch-in-or-out">apply for a refund</a>.</p>

<h2>How to touch in and out</h2>

<h3>Buses and trams</h3>

<p>Touch your contactless card,&nbsp;device, or Oyster card on the yellow card reader at the start of your journey.</p>

<p>Don't touch out at the end of your journey</p>

<h3>Tram journeys to and from Wimbledon</h3>

<p>If you're travelling to Wimbledon, touch in on the tram yellow card reader on the&nbsp;platform at the start of your journey. When leaving Wimbledon station, touch out on the gates.</p>

<p>If you've arrived at Wimbledon station by train or Tube and you're changing to make a tram journey, you must first touch out on a National Rail or Tube yellow card reader and then touch in on a tram yellow card reader on platform 10.</p>

<p>If you're travelling from Wimbledon, touch in on the gates when you enter Wimbledon station and again on the tram yellow card reader on&nbsp;platform 10&nbsp;before getting on.</p>

<h3>Tram journeys to and from Elmers End and Mitcham Junction</h3>

<p>If you've arrived at Elmers End or Mitcham Junction station by train and you're changing to make a tram journey, you must first touch out on a National Rail yellow card reader and then touch in on a tram yellow card reader before getting on.</p>

<p>If you're travelling from Elmers End or Mitcham Junction, touch in on the tram yellow card reader before getting on.</p>

<h3>Tube, DLR, London Overground, TfL Rail, National Rail, River Bus and Emirates Air Line</h3>

<p>Touch in on a yellow card reader at the start of your journey and touch out at the end.</p>

<p>To pay the right fare:</p>

<ul>
	<li>Always use the same device or contactless card to touch in and out. For example, don't touch in with an iPhone and touch out with an Apple Watch or contactless card</li>
	<li>Always touch out even if the gates are open. If there are no gates, use a freestanding yellow card reader next to entrances, exits or on platforms</li>
</ul>

<h3>Touch pink card readers when changing trains</h3>

<p>Touch a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">pink card reader</a> when changing trains to pay the right fare when you don't go through Zone 1.</p>

<h2>Same station exits</h2>

<p>If you touch contactless (card or device) or an Oyster card on a yellow card reader when you enter a station, and then touch out to exit it within a short period of time, you'll be charged a same station exit:</p>

<ul>
	<li><strong>Between 0 - 2 minutes</strong>: a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">maximum fare</a>. If you re-enter the same or a different station within 45 minutes, you'll be refunded. This doesn't apply if&nbsp;you&nbsp;take a bus or tram before re-entering a station</li>
	<li><strong>Between 2 - 30 minutes</strong>: minimum pay as you go fare from that station</li>
	<li><strong>More than 30 minutes</strong>: we'll assume two separate journeys have been made and both will be incomplete. You'll be charged two maximum fares</li>
</ul>

<p>We apply these charges to discourage <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">fare evasion</a>.</p>

<p>You may be able to get a <a href="/fares/refunds-and-replacements/touched-in-and-out-at-same-station">refund if you touched in and out at the same station</a>.</p>

<h2>Check your journey or get a refund</h2>

<p>See if you've made an incomplete journey or apply for a refund on your <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Keep within maximum journey times</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Touch a pink card reader when changing trains</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Card clash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Always touch in and touch out on yellow card readers to pay the right fare";}
        
            
        


 