

<p>The Greater London Authority, TfL and its subsidiaries will use the personal information you provide to enable TfL to reply to your request and any subsequent internal review, complaint or appeal about its handling in accordance with the Freedom of Information Act 2000 and our information access policy. On some occasions, we may need to share your information with associated organisations, including the Information Commissioner's Office, the Information Rights Tribunal, and other legal representatives for these purposes. We will retain a record of your request for up to four years after it, or any review or appeal, is complete - for the purposes of managing any subsequent correspondence and establishing and defending legal rights.</p>
<p>We will publish anonymised versions of requests and responses on the <a href="/">TfL website</a>. We will not publish your name and we will send the response to you before it is published on our website. Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation.</p>
<p>To find out more about how TfL handles personal data, see our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>


 