@model TfL.Web.ViewModels.FormBuilder.SubmissionResultViewModel
<div class="@Model.CssClass form-builder-submission">
<div><span class='formBuilder-foi formBuilder-foi-tick'>We have sent you an email confirming that we have received your request.</span>
</div>
<div><span class='formBuilder-foi formBuilder-foi-email'>We will confirm via email if it is a valid Freedom of Information request within 48 hours.</span>
</div>
<div><span class='formBuilder-foi formBuilder-foi-calendar'>We will send you an email with the response to your request within 20 working days (excluding public holidays).</span>
</div>
<div class='clearfix'>
<br />
</div>
    <div class='grey-box'>
    <h2>Interested in a specific topic while waiting?</h2>
    <p><a href='/corporate/transparency/freedom-of-information/'>Search all existing requests</a></p>
    <p><a href='/corporate/publications-and-reports/'>See Publications and Reports</a></p>
    </div>
</div>