


@{ViewBag.Title = "3.4 per cent taxi fare increase for 2009 to meet higher black cab running costs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>3.4 per cent taxi fare increase for 2009 to meet higher black cab running costs</h1>
        <div class="content-page-press-release">
        10 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced an average taxi passenger fare increase of 3.4 per cent for the next financial year, which will help drivers maintain their earnings and cover increased operating costs.
        
    </div>



 <div class="on-this-page">
<p>The new fares will come into effect on Saturday 4 April 2009.</p>
<h2>How are fares calculated?</h2>

<p>Fares are calculated by TfL using a long established, retrospective cost index based on national average earnings and taxi operating costs.</p>
<p>Operating costs have gone up by 3.7 per cent this year, with an increase of 4.1 per cent in the cost of diesel fuel. </p>
<p>The TfL Board approved the new taxi fares on Tuesday 10 February, following consultation by the Public Carriage Office with the taxi trade and others, including London TravelWatch.</p>

<h2>Why the increase?</h2>
<p>Ed Thompson, Taxi and Private Hire Director at TfL's Public Carriage Office, said: 'These new fares take into account the increased costs over the year of running a black cab.</p>
<p>'The increase reflects changes in national average earnings and encourages taxi drivers to provide a top quality service in London.'</p>
<p>The Board has also authorised a 40p metered extra to be charged only if fuel prices hit 147.1p per litre between 4 April 2009 and 1 January 2010.</p>
<p>The additional charge, if it is introduced, will be added to the meter by the driver at the start of each trip.</p>
<p>The average price of diesel was listed as 100.7p per litre as of 30 January 2009. </p>

<p>This follows a similar arrangement that was approved in July 2008 to help drivers meet costs if the price of fuel rose beyond a certain level.</p>
<p>This level was not reached in 2008/09 so the additional charge was not applied.</p>

<h2>Higher licence fees</h2>
<p>The Board also noted an increase in the annual taxi licence fee, from &pound;160 to &pound;164, with effect from 1 April 2009.</p>
<p>From the same date, the private hire vehicle licence fee will increase from &pound;109 to &pound;114 from 1 April 2009.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Public Carriage Office, part of Transport for London, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are worked out according to one of three tariffs. These are as follows: 
<blockquote>
</blockquote></li><li>Tariff 1: Monday to Friday, between 06.00 and 20.00 </li>
<li>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00 </li>
<li>Tariff 3: Nightly between 22.00p and 06.00 and on public holidays</li>
<li>Taxi fares are higher in the evenings and late at night to encourage more drivers to work at these times, improving the safe travel options available to support London's late-night economy </li>
<li>Average fares for 2008/09 and 2009/10:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Current average</strong></td>
<td>&nbsp;<strong>New average increase* (&pound;) </strong></td>
<td>&nbsp;<strong>Increase* (&pound;) </strong></td>
<td>&nbsp;<strong>Increase* (%)</strong></td></tr>
<tr>
<td>&nbsp;Tariff 1</td>
<td>&nbsp;&pound;9.82</td>
<td>&nbsp;&pound;10.16 </td>
<td>&nbsp;&pound;0.33 </td>
<td>
<p>&nbsp;3.4%</p></td></tr>
<tr>
<td>&nbsp;Tariff 2</td>
<td>&nbsp;&pound;11.39</td>
<td>&nbsp;&pound;11.78 </td>
<td>&nbsp;&pound;0.38 </td>
<td>&nbsp;3.4%</td></tr>
<tr>
<td>&nbsp;Tariff 3</td>
<td>&nbsp;&pound;13.37 </td>
<td>&nbsp;&pound;13.83 </td>
<td>&nbsp;&pound;0.46 </td>
<td>&nbsp;3.4%</td></tr>
<tr>
<td>&nbsp;All week</td>
<td>&nbsp;&pound;10.86 </td>
<td>&nbsp;&pound;11.22 </td>
<td>&nbsp;&pound;0.37 </td>
<td>&nbsp;3.4%</td></tr></tbody></table></div></p>
<ul type="circle">
<li>The Retail Price Index inflation level was 3.0 per cent and the Consumer Price Index inflation level was 4.1 per cent when the fares proposal was finalised </li>
<li>The 3.4 per cent increase is in line with the increase in the cost index in use since 1981.&nbsp;The index, agreed with the taxi trade, combines changes in operating costs with national earnings to produce a change in average fares </li>
<li>Fuel prices are measured by the <a title="Arval index" href="http://online.arval.co.uk/index.cfm?fuseaction=cms.page_show_1&id=11209">Arval index</a>.&nbsp;The average price of diesel was listed as 100.7p per litre as of 30 January 2009</li></ul>
<p>* Apparent discrepancies are due to rounding effects.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new fares will come into effect on Saturday 4 April 2009.How are fares calculated?Fares are calculated by TfL using a long established, retrospective cost index based on national average earnings and taxi operating costs.Operating costs have gone up";}
        
        


 