


@{ViewBag.Title = "A New Bus for London designs showcased at London Transport Museum";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A New Bus for London designs showcased at London Transport Museum</h1>
        <div class="content-page-press-release">
        13 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The 27 prize winning designs in the A New Bus for London competition will be on display in a free exhibition at London Transport Museum from Saturday 14 February 2009.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A terrific amount of hard work went into each design"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A terrific amount of hard work went into each design
                            
                        </p>
                    </div>
                
            
            
            <p>Joining the prize winning designs, including those from joint first prize winners Aston Martin/Foster + Partners and bus design firm Capoco Design Ltd, will be up to 50 further designs which didn't win prizes in the competition.&nbsp; </p>
<p>Some of these were truly weird and wonderful as designers let their imaginations run wild - one notable entry was the 'Bath Bus', which combines classic Routemaster styling with a spa on the top deck.</p>
<p>Mayor of London Boris Johnson said: 'I highly recommend that Londoners and visitors to the Capital take time to visit this incredible exhibition of ingenuity. </p>
<h2>See the winning designs</h2>
<p>'Whether winning or wacky a terrific amount of hard work went into each design; and I believe no one visiting the display will fail to be impressed at the creative thinking shown by every entrant.'</p>
<p>David Brown, Managing Director of London Buses, said: 'We had an overwhelming response to the New Bus for London competition, and the standard of entries was extremely high.&nbsp; </p>
<p>'With this free exhibition, everyone will have the opportunity to see the winning designs and to enjoy some of the entertaining and creative ideas that were put forward for London's new bus.'</p>
<p>The competition to design a new bus for the Capital, inspired by the iconic Routemaster, attracted 700 entries from professionals and non-professionals of all ages from five continents.&nbsp; </p>
<h2>What happens next</h2>
<p>The winning designs are being passed to bus manufacturers, who will combine them with their expertise in bus design to develop proposals for the final design of the new bus.</p>
<p>The exhibition forms part of 'Magic Bus' season, a series of events to celebrate London's iconic red buses at London Transport Museum.&nbsp; </p>
<p>The New Bus for London exhibition will be in the Museum's Cubic Foyer, open every weekend from Saturday 14 February until Sunday 29 March.&nbsp; </p>
<p>Admission is free.&nbsp; </p>
<p>Full details of the 'Magic Bus' season are available on the Museum's website: <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
<p>
<hr>
<strong>Notes to editors: 
<ul>
<li></li></ul></strong>The New Bus for London exhibition will be open on Friday evenings from 18:30 to 21:00 (last entry 20:15) and Saturday and Sunday from 10:00 to 18:00 (last entry 17:15) 
<li>Images of prize winning entries and a selection of those on display in the exhibition are available from the Transport for London Press Office </li>
<li>As part of the Magic Bus season, the London Transport Museum will host a 'design showcase', where several of the competition winners will come together to discuss their entries and take part in a Q&amp;A session.&nbsp;Among those taking part are Foster + Partners, Aston Martin and Capoco Design Ltd. The showcase will take place on 18 March, at 18:30.&nbsp;Admission is &pound;5</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Joining the prize winning designs, including those from joint first prize winners Aston Martin/Foster + Partners and bus design firm Capoco Design Ltd, will be up to 50 further designs which didn't win prizes in the competition.&nbsp; Some of these were";}
        
        


 