


@{ViewBag.Title = "Almost one in 10 young London drivers think it is OK to drive after using cannabis";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Almost one in 10 young London drivers think it is OK to drive after using cannabis</h1>
        <div class="content-page-press-release">
        11 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Research reveals 'reality gap' as TfL's Young Driver campaign targets speeding, drug driving and driving without insurance.
        
    </div>



 <div class="on-this-page">
<p>'Lose your license and you're just a kid again' is the message of the latest Transport for London (TfL) campaign aimed at young drivers who speed, drive without insurance or drive under the influence of drugs.</p>
<p>In 2007, young drivers (17 to 25 year olds) were involved in 555 collisions in London that resulted in a death or serious injury.</p>
<p>The highest numbers of these young driver collisions occurred in the boroughs of Bromley (34), Greenwich (33) and Havering (28).</p>
<h2>Drug driving penalties</h2>
<p>Released in support of the campaign, new TfL research 1 shows that nine per cent of young drivers feel that it is OK to drive under the influence of drugs such as cannabis.</p>
<p>Although not widely known, the penalties for drug driving are exactly the same as for drink driving.</p>
<p>Offenders face six months in prison, a &pound;5,000 fine and the loss of their licence for at least 12 months.</p>
<p>However, while the penalties are identical, the research suggests that drug driving has yet to become as socially unacceptable as drink driving.</p>
<h2>Not worth the risk</h2>
<p>Chris Lines, Head of the London Road Safety Unit at TfL, said: 'It seems that some young drivers wrongly believe that using drugs will have no effect on their ability to drive.</p>
<p>'This couldn't be further from the truth.</p>
<p>'Drivers throughout the Capital should be aware that the Police are now trained to test for drug impairment and that the penalties are just as serious as those for drink driving.</p>
<p>'A conviction for drug driving will have a huge impact on a young person's life.</p>
<p>'It's not just the jail sentence, driving ban, &pound;5,000 fine and massive hike in car insurance.</p>
<p>'A criminal record may prevent people from getting a visa to work overseas, working with children or even visiting America.</p>
<p>'Think of the consequences, it's just not worth the risk.'</p>
<h2>Young driver statistics</h2>
<p>The latest research follows an earlier, separate study 2 which found that 63 per cent of those that admitted to driving after taking drugs also said that they had carried passengers.</p>
<p>Over half of this sample admitted that their driving had been impaired, while one in 10 believed that taking drugs, usually cannabis, had actually improved their driving.</p>
<p>The Young Drivers road safety campaign is a joint initiative between TfL's Road Safety Unit and the London Safety Camera Partnership.</p>
<p>Young drivers account for just eight per cent of all drivers in London, but are involved in 18 per cent of all collisions.</p>
<p>In the UK, one in five drivers is involved in a collision in their first year of driving.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Research conducted by Synovate on behalf of TfL. 416 interviews were carried out face to face with drivers and non-drivers aged 17-35 in London between 11 November and 7 December 2008</li>
<li>Research was carried in 2007 by Dynamic (survey run via drugdrivinglondon.com) and by Kiss 100 (via their website totalkiss.com). In total, there were 989 respondents. Research was in the form of anonymous self-completion surveys and was funded by Local Authority Road Safety Officers Association (LARSOA) and TfL. Statistics have not been adjusted to give figures representative of all Londoners. 47.9 per cent of the responses came from 17 to 25 year olds</li>
<li>The London Safety Camera Partnership (LSCP) consists of the following organisations: TfL, Metropolitan Police Service, City of London Police, Her Majesty's Courts Service and London Councils. It exists to achieve three goals:</li></ul>
<blockquote>
<li>Reduce death and serious injury caused by speeding and red light running in London</li>
<li>Raise awareness about the dangers and consequences of speeding and red light running</li>
<li>Meet the Government and the Mayor's 2010 targets for casualty reduction</li></blockquote>
<p>To achieve these aims the Partnership operates a combination of fixed speed, mobile speed and red light camera sites across London.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Lose your license and you're just a kid again' is the message of the latest Transport for London (TfL) campaign aimed at young drivers who speed, drive without insurance or drive under the influence of drugs.In 2007, young drivers (17 to 25 year olds)";}
        
        


 