


@{ViewBag.Title = "Blackheath Hill and Shooters Hill sections of the A2 to undergo eight week improvement scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackheath Hill and Shooters Hill sections of the A2 to undergo eight week improvement scheme</h1>
        <div class="content-page-press-release">
        06 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Safety improvement project will benefit motorists, cyclists and pedestrians and minimise the need for future maintenance closures.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've worked hard to ensure that the reconstruction of the carriageway respects the special landscape of Blackheath"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Road Network Management at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've worked hard to ensure that the reconstruction of the carriageway respects the special landscape of Blackheath
                            
                        </p>
                    </div>
                
            
            
            <p>On 15 February, Transport for London (TfL) will begin work on the Blackheath Hill and Shooters Hill sections of the A2, making it a safer and more durable carriageway.&nbsp; <br>&nbsp;<br>Safety improvements to the carriageway, which runs between Lewisham Road and Charlton Way, will include:</p>
<ul>
<li>Full reconstruction of the carriageway </li>
<li>Improved drainage system </li>
<li>Installation of new street lighting </li>
<li>Improved facilities for pedestrians and cyclists</li></ul>
<p>TfL is working closely with the London Boroughs of Greenwich and Lewisham to ensure that disruption is kept to a minimum, and will keep motorists informed of closures and diversions through roadside message boards and local radio broadcasts. </p>
<h2>Traffic diversions</h2>
<p>During the road works eastbound traffic will be diverted via the A20. </p>
<p>The westbound carriageway will remain open for the duration of the works.</p>
<p>This stretch of the A2 runs through Blackheath, an area that attracts many cyclists and pedestrians.&nbsp; </p>
<p>To help make their journeys safer and more enjoyable, a new segregated footway/cycleway will be installed to help keep eastbound cyclists away from other road traffic.&nbsp; </p>
<p>A new cycle lane will also be created on the westbound side of the carriageway. </p>
<p>While the safety improvement works are being carried out, eastbound buses on two routes, the route 53 towards Plumstead and the route 386 towards Woolwich will be affected.&nbsp; </p>
<h2>Planning your journey</h2>
<p>Route 53 will be diverted via Lewisham Road, Royal Parade and Charlton Way, and route 386 will be diverted via Lewisham Road.&nbsp; </p>
<p>Buses travelling westbound will operate as normal.&nbsp; </p>
<p>Passengers are advised to leave extra time to complete their journeys.</p>
<p>Dana Skelley, Director of Road Network Management at TfL, said: 'This particular stretch of the A2 runs through an area that is very popular with walkers and cyclists.&nbsp; </p>
<p>'By consulting with English heritage, we've worked hard to ensure that the reconstruction of the carriageway respects the special landscape of Blackheath, while still meeting the demands of one of London's busiest roads.&nbsp; </p>
<p>'We are also working closely with the London Boroughs of Greenwich and Lewisham to ensure that disruption is kept to a minimum.'</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The stretch of the A2 to undergo full reconstruction is approximately 1.1km in length and runs between Lewisham Road on Blackheath Hill and Charlton Way on Shooters Hill Road 
<li>The segregated footway/cycleway will be located between Hyde Vale and Charlton Road. The westbound cycle lane will be between the junctions of Goffers Road and Watt Tyler Road </li>
<li>During road works, eastbound traffic will be diverted via A20. Eastbound buses on routes 53 and 386 will be subject to diversions </li>
<li>English Heritage, the Earl of Dartmouth, the Blackheath Society, the Blackheath Joint Working Party and the Greenwich Society have all advised TfL on the project </li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which is five per cent of the Capital's roads but carries approximately 33 per cent of its traffic </li>
<li>Eastbound buses on route 53 travelling towards Plumstead will divert from Blackheath Road via Lewisham Road, Lewisham Hill, Wat Tyler Road, Hare and Billet Road, Tranquil Vale, Royal Parade, Montpelier Row, Prince Charles Road and Charlton Way. It will not be serving bus stops on Blackheath Hill, Shooters Hill Road and Charlton Way. Instead, the route will serve all stops on Lewisham Road, Royal Parade and Prince Charles Road </li>
<li>Eastbound buses on route 386 travelling towards Woolwich will divert from Greenwich South Street via Lewisham Road, Lewisham Hill, Wat Tyler Road, Hare and Billet Road and Tranquil Vale. It will not call at bus stops on Blackheath Road, Shooters Hill Road and Prince Charles Road. Instead, the route will serve three bus stops along the diversion route on Lewisham Road<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On 15 February, Transport for London (TfL) will begin work on the Blackheath Hill and Shooters Hill sections of the A2, making it a safer and more durable carriageway.&nbsp; &nbsp;Safety improvements to the carriageway, which runs between Lewisham Road";}
        
        


 