


@{ViewBag.Title = "Chesham to get all day direct Tube services to central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chesham to get all day direct Tube services to central London</h1>
        <div class="content-page-press-release">
        11 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground publish the results of the Chesham and Amersham consultation.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We were very encouraged by the large volume of responses received and would like to thank all those who took part"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We were very encouraged by the large volume of responses received and would like to thank all those who took part
                            
                        </p>
                    </div>
                
            
            
            <p>LU&nbsp;announced today that Tube users will get direct services all day from Chesham and central London, following a consultation last year.</p>
<p>It is planned for the new through-services to start in 2011 after new trains are delivered on the Metropolitan line.</p>
<p>Currently passengers travelling to and from Chesham during off peak periods have to change at Chalfont &amp; Latimer.</p>
<h2>Consultation responses</h2>
<p>Passengers and local stakeholders in both Amersham and Chesham were asked for their views on proposals to alter off-peak Metropolitan line services to introduce two trains per hour running direct from Chesham into central London and the majority were in favour.</p>
<p>Richard Parry, Director of Strategy and Service Development, said: 'London Underground received more than 800 responses to the consultation regarding proposed changes to Amersham and Chesham services.</p>
<p>'We were very encouraged by the large volume of responses received and would like to thank all those customers who took part. </p>
<p>'After considering all of the responses we plan to introduce direct services between Chesham and central London which will run throughout the day.</p>
<p>'The introduction of all day direct services will make using the Metropolitan line more convenient for off peak passengers.'</p>
<h2>Changes to services</h2>
<p>The changes, which would not affect the current peak-time services, are as follows:</p>
<ul type="circle">
<li>Two trains per hour running direct between Chesham and central London throughout the day. Customers would no longer need to change at Chalfont &amp; Latimer</li>
<li>Two Metropolitan line trains per hour between Amersham and central London, instead of the present four. The two trains per hour service provided by Chiltern Trains (one train per hour on Sundays) would be unaffected, so the total number of trains from Amersham to central London would fall from six to four per hour (and from five trains to three per hour on Sundays)</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul type="circle">
<li>A full report on issues raised during the consultation will be available on the Transport for London website</li>
<li>56 per cent of respondents expressed a view broadly in favour of the proposals</li>
<li>28 per cent expressed a view broadly against</li>
<li>The new air-conditioned, walk-through trains will start serving the Metropolitan line from 2010</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU&nbsp;announced today that Tube users will get direct services all day from Chesham and central London, following a consultation last year.It is planned for the new through-services to start in 2011 after new trains are delivered on the Metropolitan";}
        
        


 