


@{ViewBag.Title = "Crackdown on illegal cabs in central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crackdown on illegal cabs in central London</h1>
        <div class="content-page-press-release">
        23 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Metropolitan Police Service (MPS) and Transport for London (TfL) continue to tackle illegal cabs and touting
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We are working together to keep London moving safely and committed to driving down crime and the fear of crime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chief Superintendent Joe Royle</div>
            <div class="quotee-job-title">Transport Operational Command Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We are working together to keep London moving safely and committed to driving down crime and the fear of crime
                            
                        </p>
                    </div>
                
            
            
            <p>Twenty-five arrests were made over the weekend following Operation Helvellyn, part of a drive to tackle taxi touts in central London. </p>
<p>The Metropolitan Police Service (MPS) and the Cab Enforcement Unit, part of the Transport for London (TfL) funded Transport Operational Command Unit (TOCU), targeted illegal cabs during a high-visibility operation overnight on Friday 20 and Saturday 21 February 2009. </p>
<p>Uniformed Police Officers and Police Community Support Officers patrolled hotspots to tackle touting and other cab-related issues. </p>
<h2>Safety and security</h2>
<p>They also offered advice to members of the public warning them that any minicab journey that is not booked through a licensed minicab operator is illegal, uninsured and unsafe. Bar and club managers whose venues attract high numbers of illegal cabs were also advised on the danger these cabs pose to their customers. </p>
<p>Mayor of London Boris Johnson said: 'The safety and security of people travelling around London is a top priority, and during the election I promised to crack down on the illegal touts that put the lives of Londoners and visitors in danger.&nbsp;</p>
<p>'I want everyone to be able to enjoy a good night out without being preyed upon by these illegal touts as not only can they be dangerous individuals, but their cars can also be uninsured death-traps. </p>
<p>'We are doing all we can to stop them, and partygoers can make themselves safer by using our fantastic Cabwise text service, which quickly provides the numbers for safe licensed taxi and minicab companies in the area.' </p>
<h2>Driving down crime</h2>
<p>Chief Superintendent Joe Royle, Transport Operational Command Unit (TOCU), said:&nbsp;'We are working together to keep London moving safely and committed to driving down crime and the fear of crime even further. </p>
<p>'Illegal cabs and touting undermine the legitimate cab trade and pose a serious threat to the travelling public.</p>
<p>'The Transport Operational Command Unit regularly targets policing activity on illegal cabs, and carries out major operations targeting offenders who pose as cab drivers. </p>
<p>'The safety of the public is paramount and I would advise everyone not to get into any vehicle that they have not booked and always book a cab through a reputable Public Carriage Office (PCO)&nbsp;licensed operator.' </p>
<h2>Not worth the risk</h2>
<p>Steve Burton, TfL's Director of Community Safety Enforcement and Policing, said: 'We are determined to crack down on touting, which can be a cover for more serious crimes like robbery or sexual assault.&nbsp;</p>
<p>'No one should ever take a minicab without a booking - they are illegal, unsafe and uninsured, and it is just not worth the risk.</p>
<p>'To get home safely, take a black cab or book a minicab through a licensed operator.'</p>
<p>Mayor Boris Johnson has taken a tough line on touting, and any licensed driver convicted of touting will now lose their PCO driver's licence. </p>
<h2>Roadside safety checks</h2>
<p>He also announced last year that the number of dedicated cab enforcement officers in the Capital would be doubled to 68. </p>
<p>The Cab Enforcement Unit has made more than 4,500 arrests for touting and other cab-related offences and dealt with another 2,000 offences by way of summons since 2003.</p>
<p>This weekend's operation also involved TfL's PCO, checking on the activities of licensed drivers and operators, and the Vehicle &amp; Operator Services Agency (VOSA) which carried out roadside safety checks of licensed taxis and private hire vehicles in the Strand and in Haymarket.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Metropolitan Police Service Transport Operational Command Unit (funded by TfL) was set up in 2002 to fight crime on buses, enforce the laws relating to taxis and minicabs,&nbsp;and assist with the control of traffic congestion. There are now more than 1,000 uniformed officers in the unit </li>
<li>The TOCU Cab Unit has made over 300 arrests since August 2008. Almost 50 licensed minicab drivers have had their Private Hire Vehicle driver's licence revoked following the introduction of the 'one strike and you're out policy' for licensed minicab drivers convicted of touting </li>
<li>Safer Travel at Night is a partnership between the Mayor of London, TfL and the MPS, who are working together with organisations across the Capital to help make London safer at night by offering, and raising awareness of, more safe travel options - key to this has been the licensing of the private hire industry </li>
<li>Late night travel options and information in London: 
<ul type="circle">
<li><strong>London Underground</strong>: the last Tubes leave central London at around 00:30 from Monday to Saturday </li>
<li><strong>London Buses</strong>: there are more than 100 night bus routes across London.&nbsp;Since 2005 every London bus has had CCTV installed and there are now around 60,000 cameras on the fleet of 8,000 vehicles </li>
<li><strong>Taxis and licensed private hire vehicles (including minicabs)</strong>: London has nearly 25,000 licensed taxi drivers and over 50,000 licensed private hire drivers large numbers of whom work at night </li>
<li><strong>Marshalled taxi ranks and private hire schemes:</strong> late night marshalled taxi ranks or private hire schemes have been established in areas of London which are particularly busy late at night.&nbsp;Marshalled taxi ranks are situated in Cranbourn Street (near Leicester Square Tube), Bromley, Beckenham, Kingston, Liverpool Street and Romford and there are late night marshalled private hire schemes operating in Kingston </li>
<li><strong>Cabwise:</strong> a text service which can provide the numbers of two licensed, 24-hour minicab operators and a taxi operator wherever you are in London. For more information on Cabwise including safer travel choices in London, visit: tfl.gov.uk/cabwise </li>
<li>Texting HOME to 60835 costs 35p plus standard network charges </li>
<li>Customers on the 3 network can access the service by texting their location (street name and partial post code, eg Victoria Street SW1) to 07797 800 000 </li>
<li><strong>Findaride:</strong> passengers can visit tfl.gov.uk/findaride to search for licensed minicab operators in any part of London and book a licensed minicab for later on in the evening </li>
<li><strong>TfL's Travel Information Centre:</strong> TfL's 24-hour travel information call centre can provide information and phone numbers for taxi and private hire services in London - call 020 7222 1234 </li>
<li><strong>Traveltools:</strong> visit tfl.gov.uk/traveltools for information on Findaride, Cabwise, Journey Planner and travel information in London</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Twenty-five arrests were made over the weekend following Operation Helvellyn, part of a drive to tackle taxi touts in central London. The Metropolitan Police Service (MPS) and the Cab Enforcement Unit, part of the Transport for London (TfL) funded";}
        
        


 