


@{ViewBag.Title = "Final section of Capital's orbital railway gets the go-ahead";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final section of Capital's orbital railway gets the go-ahead</h1>
        <div class="content-page-press-release">
        12 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is tremendous news. We can finally get cracking on a vital section of track that will orbitise our Overground rail services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is tremendous news. We can finally get cracking on a vital section of track that will orbitise our Overground rail services
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, and Transport Secretary, Geoff Hoon, have today reached agreement on funding for phase two of the East London line, which will complete the London Overground network and create an orbital railway around the Capital.</p>
<p>This means phase two of the East London line will be constructed before the 2012 Games at a cost of &pound;75m. </p>
<p>The scheme will link Surrey Quays on the East London line extension to Clapham Junction, providing direct links to the City and Docklands. </p>
<h2>Real achievement</h2>
<p>Boris Johnson, the Mayor of London, said: 'This is tremendous news. We can finally get cracking on a vital section of track that will orbitise our Overground rail services. </p>
<p>'I promised Londoners that when funds were made available we would build the improvements they need. And it will be a real achievement when our Overground services are fully oysterised. </p>
<p>'I am delighted that a long hard slog of negotiations between ourselves and the Department of Transport (DfT)&nbsp;has borne fruit that will result in a superb new service for thousands of Londoners.'</p>
<p>Transport Secretary Geoff Hoon said: 'I am pleased to announce an additional &pound;64m for TfL which will allow them to press ahead with the further extension of the East London line to Clapham Junction and deliver a number of other transport improvements in London. </p>
<h2>Significant benefits</h2>
<p>'The East London line extension will deliver a key rail link south of the river and improve local transport for Londoners by providing more choice and better access to other parts of the capital.'</p>
<p>Phase two of the East London line will help reduce congestion on radial routes and at central London interchange stations and, along with improvements planned to be delivered in the new South Central franchise, will deliver significant benefits to most stations on the route.&nbsp; </p>
<p>For example, staff at all stations while trains are running, improved safety and security and more frequent services to other parts of London's rail network. </p>
<p>Phase two will also reduce any disruption caused by the Thameslink works at London Bridge by providing passengers with alternative routes to the City and Docklands. </p>
<h2>High standards</h2>
<p>Transport Commissioner Peter Hendy said: 'The extension to Clapham Junction will provide significantly improved access to the City and Docklands and will allow us to extend the high standards provided on our existing London Overground network - staff at all stations, Oyster pay as you go, frequent services - to south Londoners.'</p>
<p>Transport for London's Rail Directorate, London Rail, have worked to secure phase two for years. Managing Director Ian Brown said he was delighted. 'This agreement on funding means we can complete the missing link in our London Overground orbital network - a rail equivalent of the M25.'</p>
<p>The DfT is providing &pound;64m for the East London line extension phase two and other transport improvements. The Mayor and TfL will be contributing &pound;15m towards the cost of the scheme.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The DfT is currently re-franchising the Southern services.&nbsp;The agreement between the Mayor and the DfT includes the transfer to TfL of the South London line services, which will be incorporated into the London Overground network when the phase two extension opens </li>
<li>Phase two will run through the boroughs of Southwark, Lambeth, Wandsworth and Lewisham between Surrey Quays and Clapham Junction stations </li>
<li>It will provide four trains an hour in each direction between Dalston Junction and Clapham Junction calling at all stations en route </li>
<li>TfL will take over the operation of Wandsworth Rd and Clapham High Street stations as part of the funding package with DfT </li>
<li>The project will help reduce congestion on radial routes and at central London interchange stations. It will also reduce the disruption caused by the Thameslink works at London Bridge by providing alternative routes to the City and Docklands. DfT will fund the enhanced track access charges that will accrue from this addition, if approved </li>
<li>Provision for a new station at Surrey Canal Road has been included in the scheme.&nbsp;Construction of the station will be developed as part of the regeneration scheme for the area and will be dependent on a further value for money assessment that TfL is currently carrying out </li>
<li>As long as the above steps are confirmed the project aims to be completed by May 2012 </li>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and will be joined by the extended East London line when it opens in 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, and Transport Secretary, Geoff Hoon, have today reached agreement on funding for phase two of the East London line, which will complete the London Overground network and create an orbital railway around the Capital.This";}
        
        


 