


@{ViewBag.Title = "London's new bus moves a step closer as TfL invites manufacturers to express an interest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's new bus moves a step closer as TfL invites manufacturers to express an interest</h1>
        <div class="content-page-press-release">
        16 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A notice has been published in the Official Journal of the European Union (OJEU) inviting bus manufacturers to express an interest in developing and building a new bus for London, based on the iconic Routemaster.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We were overwhelmed by the creativity and ingenuity shown in the entries"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Director of Transport Policy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We were overwhelmed by the creativity and ingenuity shown in the entries
                            
                        </p>
                    </div>
                
            
            
            <p>Manufacturers will be expected to take the innovative ideas and designs put forward in the New Bus for London competition and consider these in combination with their own expertise in designing and building buses to come up with a final design.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, announced the winners of the New Bus for London competition at the end of last year, with joint first prize in the 'whole bus' design category going to Capoco Design Ltd and a collaborative entry from Aston Martin and Foster + Partners.</p>
<p>The final design will have to meet all London Buses' requirements for vehicles in public service in London, including high standards of accessibility, safety, and emissions abatement.</p>
<h2>A final design</h2>
<p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'The New Bus for London competition was about imagination and design, and we were overwhelmed by the creativity and ingenuity shown in the entries. </p>
<p>'The extent of background research, styling, and innovation have provided a fantastic foundation that I'm sure bus manufacturers will be eager to take through to production, delivering us a new bus fit for 21st century London.'</p>
<p>David Brown, Managing Director of Surface Transport, said; 'A number of great ideas were harvested from the New Bus for London competition.</p>
<p>'We are now taking those ideas to the bus manufacturers for them to come up with a final design for our new bus, and we're well on track to see the first of these on the road in 2011.'</p>
<h2>On the road</h2>
<p>Interested suppliers must be capable of providing design services, manufacturing the double deck buses and providing in-service support when they are operating on the streets of London.&nbsp; </p>
<p>It is anticipated contracts will be awarded at the end of this year with on street trials of the first of the new buses on the streets of London in 2011. </p>
<p>Interested parties need to complete a pre-qualification questionnaire by mid March.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Further information on the procurement process, including the OJEU notice and the pre-qualification questionnaire or PQQ, can be found at tfl.bravosolution.com under 'tender opportunity'<br>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Manufacturers will be expected to take the innovative ideas and designs put forward in the New Bus for London competition and consider these in combination with their own expertise in designing and building buses to come up with a final design.&nbsp; The";}
        
        


 