


@{ViewBag.Title = "London Overground to run eight trains an hour following &pound;326m upgrade ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground to run eight trains an hour following &pound;326m upgrade </h1>
        <div class="content-page-press-release">
        04 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commuter benefits and fast links for London 2012 Olympic and Paralympic Games
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Overground will play a major role in getting people to and from the Olympic Park in 2012"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Overground will play a major role in getting people to and from the Olympic Park in 2012
                            
                        </p>
                    </div>
                
            
            
            <p>Work will begin this weekend (7 February) on a &pound;326m upgrade of Transport for London's (TfL) Overground network. </p> <p>When complete, passengers will see longer trains, more frequent services and benefit from reliable connections to the main London 2012 Olympic and Paralympic Games Park in Stratford.</p> <p>The Mayor of London, Boris Johnson, said: 'We are committed to maintaining the momentum of improvements to the infrastructure that will keep our great city one of the world's leading capitals; and this project is a top priority as London Overground will play a major role in getting people to and from the Olympic Park in 2012. </p> <h2>Frequent services</h2> <p>'The engineers are all set to fly out of the starting blocks and crack on with improvements that will allow us to operate even longer trains, carry even greater numbers of Londoners and run even more frequent services.'</p> <p>London Overground will run up to eight trains an hour during peak times on parts of the network when the upgrade is complete, double the current number and with a more reliable timetable for those trains. </p> <p>New and longer platforms at some stations will also allow more carriages per train, which will increase capacity and reduce overcrowding. </p> <p>Work has been fast-tracked to ensure completion before 2012 and is being carried out by Network Rail as part of plans to improve rail services in and around the Capital.</p> <p>As part of the upgrade Network Rail engineers will: </p> <ul> <li>Upgrade more than 200 signals  </li><li>Renew 7km of track and 69 sets of points  </li><li>Lengthen 30 platforms  </li><li>Improve seven more stations</li></ul> <p>TfL's programme of station improvements: upgraded CCTV; PA; lighting and passenger information screens; new signs; general refurbishment and new lifts at some locations, will continue in tandem with the line upgrades in order to minimise disruption to passengers. </p> <p>Some services will need to be suspended while work takes place over the next 18 months. </p> <p>TfL will provide rail replacement bus services while this happens to keep passengers connected to the public transport network.</p> <p>TfL London Rail's Managing Director Ian Brown said: 'When TfL took over this neglected network 13 months ago, we promised to bring it up to TfL's standards and deliver a step change in travel experience for our passengers. </p> <p>'With a total of &pound;1.4bn being invested in London Overground, we are now delivering on that promise. </p> <h2>Long-term gain</h2> <p>'A fleet of 32 new trains will enter service from 2009 with more capacity, air conditioning and real-time information. That, along with these infrastructure improvements, will really make a difference to passengers. </p> <p>'We ask that passengers bear with us during these temporary inconveniences for a long-term gain.'</p> <p>Patrick Hallgate, Route Director, Network Rail, said: 'The investment being made in the North London line over the next 18 months is an integral part of Network Rail's plans to improve London services and build a bigger and better railway. </p> <p>'As well as providing vital additional capacity for the Olympic Games, the project will also help meet growing demand on the line, which is expected to rise by a quarter in the next seven years.' </p> <h2>Upgrade </h2> <p>Hugh Sumner, Olympic Delivery Authority Transport Director, said: 'The London Overground will play a key role in taking spectators from across London to Stratford for the Games.&nbsp;</p> <p>'We expect 70 per cent of spectators to get to the Olympic Park by rail, and these important upgrade works on the London Overground will leave behind a solid legacy of better connections and more frequent trains.'</p> <p> <hr>  <p> <p><br><strong>Notes to editors:</strong></p> <ul> <li>The London Overground network consists of the following lines:&nbsp;&nbsp;  <ul type="circle"> <li>The Stratford to Richmond line  </li><li>The Gospel Oak to Barking line  </li><li>The Willesden Junction to Clapham Junction line  </li><li>The local London Euston-Watford Junction line </li></ul> <li>The &pound;326m work package is funded as follows: 76 per cent of this amount is provided by TfL (with the Olympic Delivery Authority input of&nbsp;33 per cent), Network Rail is funding 23 per cent and the Department for Transport, one per cent  </li><li>Network Rail will shortly announce the successful bidders who will carry out the works&nbsp;  </li><li>Network Rail is responsible for carrying out the upgrade work. TfL will provide rail replacement bus services through their operator, London Overground Rail Operations Limited. Information will be available to passengers from staff, posters and leaflets at stations  </li><li>Throughout the works programme, passengers are advised to check before they travel on the TfL website and with the London Overground Customer Services Team  </li><li>The planned London Overground service disruptions starting in 2009 are as follows:  <ul type="circle"> <li>No full service on the Gospel Oak to Barking line at weekends from 7 February until 25 October 2009:  <ul type="circle"> <li>Full line closure for 11 full weekends and five Sundays  </li><li>Closure between South Tottenham and Barking for 20 Saturdays  </li><li>No service on the line from Richmond to Stratford on Sundays from 19 April to 21 December 2009</li></ul> <li>No service between Gospel Oak and Stratford for 16 continuous weeks, from 25 December 2009 until 12 April 2010  <ul type="circle"> <li>No train service between Gospel Oak and Willesden Junction, 25 December 2009 and 2 January 2010</li></ul> </li><li>No service between Queens Park and Wembley Central on Sunday 13, 20, 27 September 2009;&nbsp;every day between 25 December 2009 and 1 January, 2010</li></li></ul> <li>Platforms will be extended under the upgrade programme at the following stations: Kentish Town West; Camden Road; Dalston Kingsland; Homerton; Crouch Hill; Leyton-Midland Road; South Acton; Acton Central; Willesden Junction High Level; Kensal Rise; Brondesbury Park; Brondesbury; West Hampstead; Finchley Road and Frognall; Hampstead Heath; Caledonian Road; Canonbury; Highbury &amp; Islington</li></li></li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work will begin this weekend (7 February) on a &pound;326m upgrade of Transport for London's (TfL) Overground network.When complete, passengers will see longer trains, more frequent services and benefit from reliable connections to the main London 2012";}
        
        


 