


@{ViewBag.Title = "London speed limit map available to download";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London speed limit map available to download</h1>
        <div class="content-page-press-release">
        19 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launches the first digital map of the Capital's road speed limits to help drivers keep their driving within the law.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is about helping motorists make their own, informed decisions about the way they drive"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of TfL's London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is about helping motorists make their own, informed decisions about the way they drive
                            
                        </p>
                    </div>
                
            
            
            <p>The digital map, which is available for free download on the TfL website, can be integrated onto satellite Navigation (sat-nav) devices and is aimed at reducing collisions on London's roads.</p>
<p>This map, once integrated into any sat-nav or Global Positioning System (GPS), will be able to display the current, accurate speed limit to a driver and alert them if they exceed the legal speed limit. </p>
<p>GPS device manufacturers are being encouraged to take full advantage of this resource which will help to improve road safety in the Capital.</p>
<p>It is estimated that if everyone used the digital speed map, the number of road collisions could be reduced by 10 per cent.</p>

<h2>Safer driving</h2>
<p>Chris Lines, Head of TfL's London Road Safety Unit, said, 'This technology will mean drivers know the correct speed limit at all times, which will help them to drive more safely. </p>
<p>'This is about helping motorists make their own, informed decisions about the way they drive.</p>
<p>'Some of the sat-nav devices currently on the market can already adopt this new map and we hope other manufacturers will make the necessary adaptations to help make London's roads safer for everyone.'</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>To download the map, please visit <a href="http://www.tfl.gov.uk/isa">tfl.gov.uk/isa</a> </li>
<li>London's roads are the safest they have been since the 1980s and they are now much safer for children, there has been a 16 per cent fall in the number of children killed or seriously injured in&nbsp;2007 compared to 2006 </li>
<li>In 2008/09, TfL&nbsp;will invest &pound;45m in road safety in London, up from &pound;18m in 2000 </li>
<li>In 2007, there was a 38 per cent reduction in the total number of casualties on London's roads, compared to the mid to late 1990s (fatal, serious and slight injuries) </li>
<li>In 2007, there was a 43 per cent reduction in the number of people killed or seriously injured on London's roads, compared to the mid to late 1990s </li>
<li>In 2007, there was a 65 per cent reduction in the number of children killed or seriously injured on London's roads compared to the mid to late 1990s </li>
<li>In 2007, there was a 40 percent reduction in the number of pedestrians killed or seriously injured on London's roads compared to the mid to late 1990s </li>
<li>Ten per cent reductions in road collision: this is based on a study jointly conducted by University of Leeds and Motor Industry Research Association (MIRA). For more details please go to <a href="http://www.tfl.gov.uk/assets/downloads/Intelligent-Speed-Adaptation-Literature-Review-and-Scoping-Study-Jan-2006.pdf">tfl.gov.uk/assets/downloads/Intelligent-Speed-Adaptation-Literature-Review-and-Scoping-Study-Jan-2006.pdf</a> (page 32-33)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The digital map, which is available for free download on the TfL website, can be integrated onto satellite Navigation (sat-nav) devices and is aimed at reducing collisions on London's roads.This map, once integrated into any sat-nav or Global Positioning";}
        
        


 