


@{ViewBag.Title = "Mayor announces proposed suspension of LEZ for vehicles affected from October 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces proposed suspension of LEZ for vehicles affected from October 2010</h1>
        <div class="content-page-press-release">
        03 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has announced his intention to suspend the third phase of the Low Emission Zone (LEZ), which was due to affect vans and minibuses from October 2010.
        
    </div>



 <div class="on-this-page">
<p>The proposed changes to the scheme will be subject to public consultation and will need to be confirmed by the Mayor once he has reviewed the outcome of the consultation.</p>
<p>Details of the proposed changes and the associated consultation will be published on Transport for London's (TfL's) website in due course and operators will have the opportunity to respond to the proposals at this stage.&nbsp; </p>
<p>TfL&nbsp;is advising operators of vehicles affected by the third phase of the LEZ that they should not take any action until the outcome of the consultation is confirmed.&nbsp;</p>
<p>The first two phases of the scheme -&nbsp;affecting lorries, buses and coaches - are unaffected by the proposals and remain in operation.&nbsp; </p>
<p>Read more about the proposed suspension on the <a title="Greater London Authority" href="http://www.london.gov.uk/view_press_release.jsp?releaseid=20757">Greater London Authority</a> website.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposed changes to the scheme will be subject to public consultation and will need to be confirmed by the Mayor once he has reviewed the outcome of the consultation.Details of the proposed changes and the associated consultation will be published on";}
        
        


 