


@{ViewBag.Title = "Now You See Me; Now You Don't - coming to a school near you";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Now You See Me; Now You Don't - coming to a school near you</h1>
        <div class="content-page-press-release">
        24 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) Road Safety theatre tours the Capital's schools.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Theatre is a great way to engage young people with vital issues"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jo Carter</div>
            <div class="quotee-job-title">Artistic Director of Immediate Theatre</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Theatre is a great way to engage young people with vital issues
                            
                        </p>
                    </div>
                
            
            
            <p>TfL today launches its 2009 Road Safety theatre production which will tour 17 London boroughs over the next four months to make young people more aware about road safety.</p>
<p>Set up and funded by TfL, a&nbsp; production team from Immediate Theatre will visit 170 London primary schools and put on a play with the children.</p>
<p>The production is designed for Year Six pupils, it focuses on road safety issues surrounding the children's upcoming journeys to secondary school. </p>
<p>It emphasises to the youngsters that they have a responsibility over their own and other people's safety. </p>
<h2>Become detectives</h2>
<p>'Now You See Me; Now You Don't' is an interactive performance. It tells the story of Aaron, an 11-year-old boy who is knocked down by a car when coming home from school. </p>
<p>The students are then asked to become detectives to find out how the incident happened. </p>
<p>Chris Lines, Head of the TfL London Road Safety Unit, said: 'London has made great progress in converting our education and engineering measures into real numbers, with 65 per cent fewer children killed or seriously injured on our roads now than in the mid to late 1990s.</p>
<p>'Theatre in Education is just one of many tools TfL uses to reach people and the touring theatre has proved to be both effective and popular among the school children.' </p>
<h2>Phenomenal success</h2>
<p>Jo Carter, Artistic Director, Immediate Theatre, said: 'Now You See Me; Now You Don't has been a phenomenal success and we're really looking forward to touring it again this year. </p>
<p>'It's the biggest tour so far, visiting 17 London boroughs, but we relish the challenge. </p>
<p>'Theatre is a great way to engage young people with vital issues, helping them to lead happy, healthy and positive lives.'</p>
<p>In 2008, 84 per cent of pupils who saw the production said that they would behave differently on the roads in the future; and 86 per cent said that the play would help them use the roads with more confidence.</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>'Now You See Me; Now You Don't' is an interactive show developed with and for young people by Transport for London and Immediate Theatre </li>
<li>In 2008/09, Transport for London is investing &pound;45m in road safety in London, up from &pound;18m in 2000 </li>
<li>London's roads are the safest they have been since the 1980s and they are now much safer for children, there has been a 16 per cent fall in the number of children killed or seriously injured. - 2007 compared to 2006 </li>
<li>In 2007, there was a 40 per cent reduction in the number of pedestrians killed or seriously injured on London's roads compared to the mid to late 1990s</li></ul>
<ul>
<li>Comments from previous productions include: </li>
<li>'Excellent - all the children had grasped this important message' Year 6 teacher </li>
<li>'I'll think about Aaron when I cross the road.' Year 6 pupil </li>
<li>'I would behave differentlyit is safer to think about what you're doing.'&nbsp; Year 6 pupil </li>
<li>Making your own decisions is a good thing to do.' Year&nbsp;6 pupil </li>
<li>'I will look left and right even though the green man is on.' Year 6 Pupil </li>
<li>'it's made me think more about how dangerous a road is.' Year 6 Pupil </li>
<li>'What I saw today teached me a lesson that when you get hit by a car you won't just severely hurt yourself you could take the risk of death.' Year 6 Pupil</li></ul>
<ul>
<li>Tour schedule<br>(w/c - week commencing)<br>W/c 23 Feb - Hillingdon<br>W/c 2 March - Islington<br>W/c 9 March - Newham<br>W/c 16 March - Camden<br>W/c 23 March - Enfield<br>W/c 30 March - Bromley<br>W/c 6 April - Easter Holiday<br>W/c 20 April - Brent<br>W/c 27 April - Richmond<br>W/c 4 May - Lambeth<br>W/c 11 May - SATS<br>W/c 18 May - Ealing<br>W/c 25 May - Half-term Holiday<br>W/c 1 June - Waltham Forest<br>W/c 8 June - Lewisham<br>W/c 15 June - Redbridge<br>W/c 22 June - Tower Hamlets<br>W/c 29 June - Barking and Dagenham<br>W/c 6 July - Barnet<br>W/c 13 July - Greenwich<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today launches its 2009 Road Safety theatre production which will tour 17 London boroughs over the next four months to make young people more aware about road safety.Set up and funded by TfL, a&nbsp; production team from Immediate Theatre will visit";}
        
        


 