


@{ViewBag.Title = "Operation Ridgeway makes over 1,000 arrests on the Capital's buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operation Ridgeway makes over 1,000 arrests on the Capital's buses</h1>
        <div class="content-page-press-release">
        18 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        It has been revealed that more than 1,000 arrests were made as the result of an operation that used high visibility patrols to combat antisocial behaviour and pickpocketing on London's buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The additional high-visibility patrols carried out provided reassurance to the public during the autumn and Christmas period"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chief Superintendent Joe Royle</div>
            <div class="quotee-job-title">Transport Operational Command Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The additional high-visibility patrols carried out provided reassurance to the public during the autumn and Christmas period
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, said: 'This sort of operation has two clear goals. Firstly it makes it exceedingly plain to the pickpockets and badly behaved that they will not be tolerated on our buses. </p>
<p>'And secondly these patrols provide an important reassurance for the millions of law abiding passengers who should not have to suffer from the mindless behaviour of the few.'</p>
<p>The first phase of Operation Ridgeway carried out by the Metropolitan Police Service's (MPS's) Transport Operational Command Unit (TOCU) and funded by Transport for London (TfL), combated antisocial behaviour during the Halloween and Bonfire Night period.&nbsp; </p>
<h2>High-visibility patrols</h2>
<p>Up to 200 officers were involved and around 500 arrests were made. </p>
<p>The second phase of the operation took place in the run up to Christmas and resulted in more than 600 arrests.</p>
<p>During both phases of the operation extra high-visibility patrols were carried out on and around the Capital's bus network.&nbsp; </p>
<p>This provided reassurance to the public and helped reduce the traditional rise in anti-social behaviour during Halloween and Bonfire Night, while tackling opportunist pickpockets in the run up to Christmas. </p>
<h2>Reassurance teams</h2>
<p>In addition TfL staff, with support from police officers, ran a series of random fare checks on buses, which also helps deter criminal and antisocial behaviour on and around the network.</p>
<p>TOCU Reassurance Teams also distributed anti-theft chains to bus passengers. </p>
<p>These chains are attached to a purse or handbag so that pickpockets cannot snatch them without alerting the owner. </p>
<p>The initiative has received positive feedback from members of the public, especially older passengers who described them as a 'fantastic idea - especially in the Christmas shopping season'. </p>
<h2>Excellent arrest figures</h2>
<p>Chief Superintendent Joe Royle, Transport Operational Command Unit, said: 'The Transport Operational Command Unit continues to work together with Transport for London to help keep London moving safely on a daily basis.</p>
<p>'Operation Ridgeway One and Two proved to be extremely successful, as demonstrated by feedback received from members of the public who were positive about the policing presence, and by the excellent arrest figures.</p>
<p>'The additional high-visibility patrols carried out provided reassurance to the public during the autumn and Christmas period, when crime peaks can traditionally occur.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'Halloween, Bonfire Night and Christmas are fun times for most of us but a small minority who indulge in antisocial behaviour and crime on and around the Capital's buses can ruin it for everyone else.' </p>
<p>'That is why we support the TOCU teams in Operation Ridgeway which has been really successful in tackling crime and antisocial behaviour in the run up to Christmas.'</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Operation Ridgeway One ran between 20 October and 16 November 2008, across London </li>
<li>Operation Ridgeway Two ran from 24 November to 24 December 2008, in the London Boroughs of Camden, Westminster, Lewisham, Haringey, Hackney and on the route 149 bus </li>
<li><strong>Transport Operational Command Unit</strong>:&nbsp;The Metropolitan Police Service Transport Operational Command Unit was set up in 2002 to fight crime on buses, tackle illegal taxi touts, and assist with the control of traffic congestion. There are now more than 1,000 uniformed officers in the unit, which is funded by TfL at a cost of &pound;68 million a year </li>
<li><strong>Transport Operational Command Unit Reassurance Teams:&nbsp;</strong>These teams of up to 50 police and Community Support officers will patrol buses within the 11 inner London boroughs of: Camden, Hackney, Hammersmith and Fulham, Islington, Kensington &amp; Chelsea, Lambeth, Lewisham, Southwark, Tower Hamlets, Wandsworth, and City of Westminster </li>
<li>They are supported by Transport Operational Command Unit pan-London Task Teams who can respond to the changing deployment needs across London and other specialist investigations teams including Operation BusTag, which targets bus vandalism using Closed Circuit Television and the new joint TOCU/TfL bus Workplace Violence Unit </li>
<li>Additional information concerning policing bus crime: </li>
<ul type="circle">
<li>An additional 440 MPS police and community support officers were deployed in 2007 in London's 21 outer boroughs in Safer Transport Teams. These extra officers are funded jointly by TfL and the Home Office </li>
<li>A further 440 MPS uniformed officers have been announced by Mayor Boris Johnson in May 2008, and will be rolled out to patrol transport hubs across London over the next six months </li>
<li>The reduction in crime on buses - now just 15 crimes per million passenger journeys - has been assisted by visible policing by officers from the TOCU </li>
<li>Buses remain a low crime environment and anecdotally are now cleaner and tidier with fewer occurrences of scratching on the windows </li>
<li>Year end 2007/08 figures show that: </li>
<ul type="square">
<li>Robbery has gone down 31 per cent and bus vandalism has gone down by 24 per cent in 2007/08 </li>
<li>Bus-related crime has gone down by around 14 per cent in 2007/08 </li>
<li>London Buses carry 6.4m passengers a day on 700 routes across the Capital. By the end of 2005, TfL fitted all of London's 8,000 buses with fully recording CCTV, and there are now as many as 60,000 cameras fitted on the fleet&nbsp;</li></ul></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, said: 'This sort of operation has two clear goals. Firstly it makes it exceedingly plain to the pickpockets and badly behaved that they will not be tolerated on our buses. 'And secondly these patrols provide an";}
        
        


 