


@{ViewBag.Title = "Passengers reminded that Blackfriars Underground station to close for redevelopment ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers reminded that Blackfriars Underground station to close for redevelopment </h1>
        <div class="content-page-press-release">
        24 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers are advised to use nearby Temple and Mansion House stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Blackfriars will see a brand new station serving London Underground and National Rail that will be a vital part of the much needed Thameslink Programme"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Mitchell</div>
            <div class="quotee-job-title">Thameslink Programme Director at Network Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Blackfriars will see a brand new station serving London Underground and National Rail that will be a vital part of the much needed Thameslink Programme
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) and Network Rail today reminded customers that Blackfriars Underground station will close from Monday 2 March 2009 until late 2011, as Network Rail begin to build an entirely new station complex serving both London Underground and National Rail services.</p>
<p>Network Rail will redevelop the Blackfriars station complex as part of the Thameslink Programme complex with works which include lengthening the National Rail platforms to accommodate new and longer trains, a new entrance to the complex on the south bank of the river Thames and the redevelopment of the Tube station. </p>
<p>To accommodate these works Blackfriars Underground station will need to close until late 2011.</p>
<p>Once complete, the benefits will include: </p>
<ul>
<li>Step free access for both interchange and street level </li>
<li>An enlarged Tube ticket hall </li>
<li>Refurbished platforms </li>
<li>Improved access to platforms</li></ul>
<p>National Rail services will continue to serve Blackfriars station. </p>
<p>Customers can use either Temple or Mansion House stations, which are within a 12-minute walk from Blackfriars and valid Underground tickets, will be accepted on local bus routes.&nbsp;</p>
<p>Customers can also&nbsp;use London River Services, piers are a short walk away from London Bridge, Tower Hill, Embankment, Westminster and Blackfriars stations.&nbsp;</p>
<p>Howard Collins, London Underground's Chief Operating Officer, said:&nbsp;'We're reminding customers that due to Network Rail Thameslink works Blackfriars Underground station will be closed from the 2 March until late 2011.</p>
<p>'The Tube station needs to close as much of the foundation work for the mainline station rebuilding work is at Underground station level. </p>
<p>'The works will also include the refurbishment of the Tube station. </p>
<h2>Increased capacity</h2>
<p>'Customers will get a new upgraded station with step-free access, increased capacity and better interchange facilities between the Tube and National Rail services.</p>
<p>'During this time, District and Circle line services will not stop at the station and customers are advised to use nearby Temple and Mansion House stations.'</p>
<p>Andy Mitchell, Thameslink Programme Director at Network Rail, said: 'Blackfriars will see a brand new station serving London Underground and National Rail that will be a vital part of the much needed Thameslink Programme. </p>
<p>'When complete passengers will benefit not only from better station access and facilities but also from more frequent National Rail services serving more destinations and, from 2012 onwards, with longer trains too. </p>
<h2>Reduce overcrowding</h2>
<p>'There will be some disruption while we build the new station but the end result will see through London services tripled and with longer trains too.'</p>
<p>Elaine Holt, Managing Director of First Capital Connect which operates Blackfriars National Rail station and the Thameslink route trains that serve it, said: 'Our customers will get a new station spanning the Thames that's capable of taking new 50 per cent longer 12-carriage trains. </p>
<p>'The new station is a vital part of the programme to reduce overcrowding on our Thameslink route. </p>
<p>'However, please remember that although the Tube station is closing, the National Rail station above stays open.'</p>
<p>
<hr>
<br><strong>Note to editors: </strong>
<ul>
<li>The improvements Network Rail and the Department for Transport plan to make at Blackfriars will improve interchange facilities between the Tube and National Rail </li>
<li>During the closure, customers are advised to travel to nearby Mansion House and Temple stations - which are within 12-minutes walk of the Blackfriars area </li>
<li>Valid Underground tickets will also be accepted on local bus routes in the area. Local bus route 388 between Hackney Wick and Mansion House has now been extended to Temple and Embankment stations and valid Tube tickets will be accepted on this route between Blackfriars and Temple </li>
<li>Customers can also travel to and from Blackfriars on London River Services. The piers are a short walk from London Bridge, Tower Hill, Embankment, Westminster and Blackfriars stations. Services are around every 20 minutes and operate during the morning and evening peak. Oyster and paper travelcard holders are entitled to a third off the regular fares. For further details please call Transport for London's Travel Information on 020 7222 1234 </li>
<li>Customers travelling between District and Circle line stations and Thameslink stations can use 
<ul type="circle">
<li>King's Cross St Pancras station on the Circle line, especially for those who are travelling to/from Luton Airport </li>
<li>Victoria station for customers travelling to/from Gatwick Airport </li>
<li>London Bridge or Elephant &amp; Castle stations for Thameslink destinations south of the river</li></ul></li>
<li>Thameslink upgrade programme will include: 
<ul type="circle">
<li>Three times more trains between Blackfriars and St Pancras International going from&nbsp;eight to 24 trains per hour </li>
<li>A&nbsp;new Blackfriars station serving both LU and National Rail services with, and for the first time in more than a 100 years, an entrance on the south side of the River Thames </li>
<li>Fifty per cent longer trains</li></ul></li>
<li>Around 44,000 passengers use Blackfriars station every day </li>
<li>Blackfriars Underground station opened in 1870 and is one of the oldest stations on the network </li>
<li>For London Underground queries, please call the TfL press office on 0845 604 4141. Thameslink upgrade queries please the Network Rail press office on 020 7557 8292/3<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) and Network Rail today reminded customers that Blackfriars Underground station will close from Monday 2 March 2009 until late 2011, as Network Rail begin to build an entirely new station complex serving both London Underground and";}
        
        


 