


@{ViewBag.Title = "Popular art exhibition at Stratford Tube station is extended - and looking for collectors";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Popular art exhibition at Stratford Tube station is extended - and looking for collectors</h1>
        <div class="content-page-press-release">
        24 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Stratford Hoard, the eye-catching artwork which has been a popular feature at Stratford Tube station since July 2008, will now be on display until Summer 2009.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The response to Alan's work at Stratford has been fantastic"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sally Shaw</div>
            <div class="quotee-job-title">Curator for Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The response to Alan's work at Stratford has been fantastic
                            
                        </p>
                    </div>
                
            
            
            <p>Commissioned by Art on the Underground, the artwork comprises a display of the personal collections of people who live and work in Stratford and artist Alan Kane is looking for local collectors once more, hoping to find some hidden gems for the final display at the station, opening on 1 May 2009. </p>
<p>The most recent exhibition has just been installed and has a musical theme, revealing the private collections of local residents such as Simon Murphy's electric guitars and Pete Nash's Beatles memorabilia.</p>
<p>Each collection is presented in museum-quality cases and on large-scale visuals that put the lives of those who use Stratford Station at the heart of people's journeys each day. </p>
<h2>Two more displays</h2>
<p>This work from Alan Kane is part of the first in an ongoing series of contemporary projects from Art on the Underground, which has commissioned projects for the station. </p>
<p>Originally due to close in March, the work has been so popular that Art on the Underground decided to extend it for two more displays (including this most recent installation).</p>
<p>Sally Shaw, Curator for Art on the Underground, says: 'The response to Alan's work at Stratford has been fantastic, and we are very pleased to be extending the exhibition to display even more interesting collections from people in the local community.&nbsp; </p>
<p>'From the beginning, Art on the Underground was certain that the artwork produced for this station should involve the individuals and groups who live in, work in and visit Stratford, and I think we have achieved something that has been enjoyed by everyone.'</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Details of each collection appearing in the hoard will also be displayed on the Art on the Underground website where visitors can contact us about their own collections to potentially be included as well as to leave a comment about the project </li>
<li>Alan Kane is perhaps best known for his collaborative work 'Folk Art Archive' with artist Jeremy Deller where they collected and documented the overlooked features of British folk culture. Kane questions what constitutes an artwork and the role that the artist plays in its production, thus, the process behind making art becomes as important as the finished presentation </li>
<li>This project has been supported with funds from the Calouste Gulbenkian Foundation </li>
<li>The commissions are the beginning of a new era of artworks for the station and highlight a new phase for the general Art on the Underground programme.&nbsp;Reflecting the station as a hub at the centre of a changing landscape, the artworks for Stratford will be social in nature. Many will involve the local community directly in their development and production, each producing a different portrait of Stratford during this period of development and change </li>
<li><a href="http://www.tfl.gov.uk/art ">Art on the Underground</a> is London Underground's art programme, producing high calibre artworks in unexpected places on the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks</li>
<li>Stratford station will play a significant part in the transportation of millions of spectators expected to attend the London 2012 Olympic Games and Paralympic Games.&nbsp; The station will be a key transport hub where DLR, Central line, Jubilee line and National Rail services will deliver spectators attending events at the Olympic Park </li>
<li>The Jubilee line is being upgraded and will be completed at the end of 2009. Capacity has already been increased by 17 per cent with the addition of the seventh car in 2006.&nbsp;Signalling improvements will also mean more people can be carried</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commissioned by Art on the Underground, the artwork comprises a display of the personal collections of people who live and work in Stratford and artist Alan Kane is looking for local collectors once more, hoping to find some hidden gems for the final";}
        
        


 