


@{ViewBag.Title = "Surge in cycling as Sutton travels smarter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Surge in cycling as Sutton travels smarter</h1>
        <div class="content-page-press-release">
        17 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycling in Sutton has shot up by 50 per cent in one year following the introduction of the Smarter Travel Sutton scheme in the borough.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope that the experience of Sutton will help to encourage more people to get cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope that the experience of Sutton will help to encourage more people to get cycling 
                            
                        </p>
                    </div>
                
            
            
            <p>Smarter Travel Sutton is a three-year, &pound;5m project, funded by Transport for London (TfL) and delivered in partnership with the London Borough of Sutton, local businesses and the local community.&nbsp;</p>
<p>It aims to encourage people in the borough to travel in more sustainable ways: on public transport, foot or bike.&nbsp; </p>
<p>The progress report for the second year of the scheme has been published by TfL.</p>
<p>Highlights from the report show that the project has achieved:</p>
<ul>
<li>A 50 per cent increase in cycling in the borough in the second year of the project </li>
<li>A 17 per cent fall in reported cycle theft in the borough since the start of the programme, thanks to the introduction of around 200 new secure cycle parking spaces across Sutton; proactive targeting of cycle theft hotspots by the police; and more than 400 free bike security marking kits handed out under the Smarter Travel scheme </li>
<li>A 7.2 per cent increase in the number of people travelling by bus in Sutton in year two; the number of people using buses has gone up by 13 per cent since the start of the programme </li>
<li>Every school in Sutton is now actively participating in the Smarter Travel initiative and has an approved travel plan.&nbsp;Sutton is the first London borough to achieve this feat, two years ahead of government targets, and as a result, fewer parents are driving their children to school </li>
<li>Every major Sutton employer is also participating in the scheme, involving more than 13,000 employees </li></ul>
<p>The Mayor of London, Boris Johnson, said: 'The fact that this initiative has led so many people in Sutton to take to two wheels is great news for the environment and for the wellbeing of people in the borough.</p>
<p>'At the moment cycling represents just one per cent of journeys in London, so I hope that the experience of Sutton will help to encourage more people to get cycling - thereby reducing pollution and helping to tackle congestion.'</p>
<p>As the programme moves into its third year, Sutton Council is pressing ahead with plans for major transport improvements in areas including Hackbridge and Wallington that will make sustainable travel, including walking, cycling and public transport, even more attractive. </p>
<h2>Easiest options</h2>

<p>Ben Plowden, Director of Smarter Travel at Transport for London, said: 'We want to change people's attitudes towards transport.&nbsp; </p>
<p>'By travelling by public transport, cycling or walking, residents in Sutton are not just choosing the greenest option - they're also choosing the quickest, cheapest and easiest option.<br>&nbsp;<br>'Schools and work places across the borough are putting travel plans into action, and Sutton residents are taking to cycling in droves.&nbsp; </p>
<p>'The reduction in the incidence of cycle theft despite the 50 per cent increase in cycling in the borough in the second year of the scheme alone, shows just how effective the smarter travel programme has been.' </p>
<h2>Alternatives</h2>
<p>Cllr Colin Hall, Deputy Leader of Sutton Council, said: 'Smarter Travel Sutton is about showing people alternatives to the car and giving them incentives, instead of penalties, to change the way they travel.&nbsp; </p>
<p>'It's all carrot and no stick.&nbsp;By working with our residents, schools and businesses we are seeing real change in the way people travel in Sutton and major health benefits too.</p>
<p>'Here in Sutton we are promoting One Planet Living, in which people's lifestyles are within their fair share of the earth's resources.&nbsp; </p>
<p>'Encouraging more people on to bikes or public transport is a key part of making this happen by cutting congestion on our roads and truly tacking climate change.'</p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The London Borough of Sutton was selected to partner TfL for this scheme after a successful bid submitted in 2006.&nbsp; The programme is now entering its third and final year and will finish in 2009 </li>
<li>A copy of the Smarter Travel Sutton year two results, covering the period September 2007 to September 2008, is available on <a href="http://www.smartertravelsutton.org.uk/">http://www.smartertravelsutton.org.uk/</a> </li>
<li>Across London, schools that have implemented school travel plans have seen an average six per cent reduction in the share of journeys to school made by car </li>
<li>Work places that have implemented work place travel plans have recorded an average 13 per cent reduction in the share of commuter journeys by car and a 17 per cent increase in public transport use.&nbsp;If all the organisations involved in the work place travel plan programme achieved a similar level of reduced car trips this would mean by 2010/11: 
<ul type="circle">
<li>There are&nbsp;8.8m fewer commuter car trips each year on London's roads </li>
<li>There are 86m fewer car kms travelled each year </li>
<li>There are 14,623 tonnes of CO2 saved per annum</li></ul></li>
<li>One Planet Living is a global initiative based on ten principles and common international targets and guidance. It was developed by sustainability experts BioRegional and the WWF. In December 2008 BioRegional named Sutton the UK's first One Planet Borough, the first in the country to have developed an ambitious and achievable plan to live within its fair share of the Earth's resources</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Smarter Travel Sutton is a three-year, &pound;5m project, funded by Transport for London (TfL) and delivered in partnership with the London Borough of Sutton, local businesses and the local community.&nbsp;It aims to encourage people in the borough to";}
        
        


 