


@{ViewBag.Title = "TfL travel advisory - winter weather conditions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL travel advisory - winter weather conditions</h1>
        <div class="content-page-press-release">
        03 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A good service is currently operating across the vast majority of the Tube and bus networks this morning. London Overground and DLR are operating a normal service and the major London road network is moving freely.</p>
<p>Transport for London staff have been working through the night to ensure that as many services as possible are operating this morning, and have also been out gritting London's major roads and working with local authority teams in an effort to keep traffic moving. However, with continued low temperatures drivers are advised to exercise caution, particularly on local roads. </p>
<p>
<p>&nbsp;TfL advises passengers to check before travelling via the following options:</p>
<p>
<ul>
<li>The <a href="http://www.tfl.gov.uk/">TfL website</a> </li>
<li>The London Travel Information 24-hour telephone helpline: 020 7222 1234 </li>
<li>BBC Ceefax page 436 or ITV Teletext page 164 </li>
<li>Information on posters, leaflets and service boards at Tube stations </li>
<li>Local media news and travel bulletins. <br></li></ul>
<p><strong>London Buses </strong><br>There is a good level of service on the vast majority of bus routes. A small number of routes are currently suspended linked to the volume of gritting taking place on local roads, and there may be reduced services on some other routes. </p>
<p>We continue to work with London boroughs asking them to focus their gritting resources on problem areas, and we expect the situation to improve as the day goes on. </p>
<p>
<p>
<p>
<p><strong>London Underground </strong><br>A good service is currently operating on the vast majority of the network. <br></p>
<p>For the latest status please check <a href="http://www.tfl.gov.uk/livetravelnews">Live travel news</a>.</p>
<p><strong>DLR and London Overground </strong><br>DLR and London Overground are operating a good service. </p>
<p>
<p><strong>TfL Road Network </strong><br>Following overnight gritting, the vast majority of major London roads are moving freely this morning, however drivers are advised to continue to exercise caution particularly on some local roads. </p>
<p><strong>Congestion Charging<br></strong>The Congestion Charge is operating as normal today. </p>
<p>
<p><strong>Tramlink <br></strong>A limited service is in operation between Wimbledon and Wandel Park with services running a 15 minute frequency, departing at 10, 25, 40 and 55 minutes past the hour. The rest of the network remains suspended. </p>
<p><strong>Ferry services<br></strong>There is currently a one-boat service on the Woolwich ferry. Thames Clippers is operating a normal service. City Cruises is operating one service between Westminster and Tower Hill;&nbsp;it will not be operating any other services today. </p>
<p><strong>Dial-a-Ride</strong><br>There are no Dial-a-Ride services at present. While main roads are clear, back streets and pavements remain slippery and it is too risky to bring elderly or disabled passengers out to vehicles. All passengers with bookings will be informed. The situation is being reviewed every two hours. <br><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A good service is currently operating across the vast majority of the Tube and bus networks this morning. London Overground and DLR are operating a normal service and the major London road network is moving freely.Transport for London staff have been";}
        
        


 