


@{ViewBag.Title = "Tim O'Toole to step down from London Underground ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tim O'Toole to step down from London Underground </h1>
        <div class="content-page-press-release">
        25 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tim O'Toole CBE, Managing Director of London Underground since 2003, is stepping down to return to the United States.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"LU employees have achieved record operating results and all-time high levels of customer satisfaction"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            LU employees have achieved record operating results and all-time high levels of customer satisfaction
                            
                        </p>
                    </div>
                
            
            
            <p>Mr O'Toole has maintained his home in the US throughout his time at Transport for London.&nbsp; </p>
<p>He said: 'I am sad to leave London Underground (LU) but after six years in London it is time to go home.&nbsp; </p>
<h2>Record results</h2>
<p>'LU's customers and employees can look forward to the continuing transformation of the Tube with the delivery of major projects between now and the London 2012 games.&nbsp; </p>
<p>'I am particularly proud that LU employees have achieved record operating results and all-time high levels of customer satisfaction in this past year.&nbsp; </p>
<p>'I shall always be grateful for the privilege of being part of such a great institution.'</p>
<p>Mayor of London Boris Johnson said: 'I fully understand Tim's desire to return home after six years serving London.&nbsp; </p>
<h2>Leaving a legacy</h2>
<p>'During that time he has led from the front and made huge progress in delivering an improved Tube after decades of under investment.&nbsp; </p>
<p>'Tim has been a magnificent public servant and we will build on the fantastic legacy he leaves in the years ahead.&nbsp; </p>
<p>'I wish him and his family all the very best.'</p>
<p>Peter Hendy, London's Commissioner of Transport, said: 'Tim has led LU to its highest levels of performance while carrying record numbers of passengers - all at a time of great change as billions are invested to improve the Tube.&nbsp; </p><strong>
<h2>Investing in the Tube</h2>
<p></strong>'His leadership was exemplified by getting London moving again so quickly after the terrorist attacks of July 2005.&nbsp; <p>
<p>'We will greatly miss him as a colleague and I will miss him as a friend.'</p>
<p>Tim will step down from LU at the end of April.&nbsp; </p>
<p>The role will be advertised shortly.</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Tim O'Toole joined TfL in 2003. Prior to this, he was president and chief executive of Consolidated Rail Corporation, one of America's most successful rail networks. During his 18 years with the company he worked in several senior roles, including general counsel, treasurer and chief financial officer. He was also part of the negotiating team for the company's $10bn merger with Norfolk Southern and CSX in 1998.&nbsp; He was awarded the CBE in recognition of London Underground's response to the July 7 terrorist attacks in 2005<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr O'Toole has maintained his home in the US throughout his time at Transport for London.&nbsp; He said: 'I am sad to leave London Underground (LU) but after six years in London it is time to go home.&nbsp; Record results'LU's customers and employees can";}
        
        


 