


@{ViewBag.Title = "Aslef leadership urged to abandon threatened strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Aslef leadership urged to abandon threatened strike action</h1>
        <div class="content-page-press-release">
        14 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has today called on Aslef's leadership to abandon its threat of strike action over an outrageous pay claim which goes against the working arrangements agreement which all unions are signed up to.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Underground has a long-standing agreement with all of its trade unions which cover staff working arrangements on bank holidays, and Boxing Day is included in that agreement"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Underground has a long-standing agreement with all of its trade unions which cover staff working arrangements on bank holidays, and Boxing Day is included in that agreement
                            
                        </p>
                    </div>
                
            
            
            <p>The union's leadership has said it will call its members out on strike unless they are paid triple time and given a day off in lieu for those staff working on Boxing Day - a day which all Tube staff already earn a premium for, is included in LU's operational staff annual salary.</p>
<p>Along with all Tube unions, the Aslef leadership signed up to the 1992 Agreement for Operational Staff and Operational Managers, which saw staff getting higher salaries and increased annual leave on the understanding that this would involve working on some public holidays. </p>
<p>The agreement, which specifies that overtime is only paid for unrostered work or for work attracting a higher salary, is once again being ignored by Aslef's leaders. </p>
<p>The union's leadership made their claims for extra pay last year, since when LU has engaged in detailed discussions on the issue. </p>
<p>In addition, LU has reviewed the level of service for Boxing Day to match more closely customer demand and as a result has reduced the number of train staff required to work on Boxing Day to pre-2010 levels, so that now only a quarter of the Tube's 3,500 drivers are needed to run the service.&nbsp;</p>
<p>The Aslef leadership has called the strike action despite the fact that only around 42 per cent of those balloted voted in favour of strike action.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'It is disgraceful for the Aslef leadership to threaten strike action while we are engaged in continuing discussions on this issue. The threat of strike action will not achieve anything and I urge Aslef to join us in our commitment to resolve this matter through discussions.</p>
<p>'LU has a long-standing agreement with all of its trade unions which cover staff working arrangements on bank holidays, and Boxing Day is included in that agreement. However, we have shown good faith in reviewing Boxing Day services so that staffing requirements are lower than when Aslef raised this matter last year, and Aslef should do the same.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The union's leadership has said it will call its members out on strike unless they are paid triple time and given a day off in lieu for those staff working on Boxing Day - a day which all Tube staff already earn a premium for, is included in LU's";}
        
        


 