


@{ViewBag.Title = "Bumper Christmas for Barclays Cycle Hire ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bumper Christmas for Barclays Cycle Hire </h1>
        <div class="content-page-press-release">
        28 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor's flagship Barclays Cycle Hire scheme proved to be one of the best ways of getting around the capital on Christmas Day.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Pedal power would have been the perfect way to burn off a couple of mince pies on Christmas Day and the thousands of journeys that were made on our wonderful blue bikes are yet another example of the enthusiasm Londoners have shown for the Mayor's scheme"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's Director of Environment</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Pedal power would have been the perfect way to burn off a couple of mince pies on Christmas Day and the thousands of journeys that were made on our wonderful blue bikes are yet another example of the enthusiasm Londoners have shown for the Mayor's scheme
                            
                        </p>
                    </div>
                
            
            
            <p>Almost 18,000 journeys were made between the 400 docking stations located around the central London zone on Christmas Day, which was more than a 300 per cent rise on the previous year. </p>
<p>More than 145,000 people are now Barclays Cycle Hire members and next year the scheme will become even more widely accessible as it expands east with the launch of Phase 2 in the spring. </p>
<p>The expanded Barclays Cycle Hire area will feature around 8,000 hire bikes available from 14,400 docking points and will cover 65km&sup2; of the capital - from Westfield White City in the west to Bethnal Green, Canary Wharf, Mile End, Poplar and Bow in the east&nbsp;- taking in all of the Borough of Tower Hamlets as well as north Shoreditch in the London Borough of Hackney.</p>
<p>Kulveer Ranger, the Mayor of London's Director of Environment, said: 'Pedal power would have been the perfect way to burn off a couple of mince pies on Christmas Day and the thousands of journeys that were made on our wonderful blue bikes are yet another example of the enthusiasm Londoners have shown for the Mayor's scheme. </p>
<p>'With a massive expansion of the scheme to the east of the city in 2012 we will be making it even easier for thousands more Londoners to take to two wheels.'</p>
<p>
<hr>
<strong>Notes to editors: </strong></p>
<ul>
<li>The expanded cycle hire area will cover an additional 20km&sup2; in east London and will have 2,700 docking points in it. Another 1,500 docking points will be added to the existing cycle hire area in central London, in addition to approximately 600 new docking points in a small westward expansion to the Westfield White City shopping centre.&nbsp; In all, the expansion will provide around 4,800 new docking points and 2,300 more cycles by 2012</li>
<li>Examples of journeys that could be carried out within 30 minutes from docking stations in the expanded Barclays Cycle Hire area, taken from TfL's cycling Journey Planner, include: Regent's Park to Bethnal Green (29 minutes), Victoria Park to Shoreditch (12 minutes) and Canary Wharf to Liverpool Street (26 minutes) </li>
<li>The creation of an easy-to-use cycle hire system was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London&nbsp;</li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their daily &pound;1, weekly &pound;5 or annual &pound;45 access fees</li>
<li>A membership key is &pound;3 with costs at &pound;1 for 24-hour membership, &pound;5 for seven days and &pound;45 for an annual pass. The first 30 minutes of any journey is free. Find out how to become a member of Barclays Cycle Hire and advice on how to use the scheme online</li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme</li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital</li>
<li>Barclays Cycle Hire currently operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Almost 18,000 journeys were made between the 400 docking stations located around the central London zone on Christmas Day, which was more than a 300 per cent rise on the previous year. More than 145,000 people are now Barclays Cycle Hire members and next";}
        
        


 