


@{ViewBag.Title = "Bus services during the London 2012 Games ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus services during the London 2012 Games </h1>
        <div class="content-page-press-release">
        21 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increased capacity on many services
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is working hard to ensure that London's comprehensive bus network continues to supply an effective service throughout.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Some routes will need to be diverted temporarily </li>
<li>Plans under discussion with stakeholders</li></ul>
<p>Transport for London (TfL) has published proposals for temporary changes to bus routes during the London 2012 Olympic and Paralympic Games.&nbsp; </p>
<p>Around 85 of London's 700 bus routes will be changed in some way during the 2012 Games.&nbsp; </p>
<p>The changes have been designed to keep disruption for the travelling public to an absolute minimum and detailed information will be available to help passengers plan their journeys.</p>
<p>An initial list of the proposed enhancements and changes to bus services is now available at <a href="/gettingaround/london2012/21820.aspx">Bus travel 2012 London Games</a>. </p>
<p>TfL is discussing the proposals with London's borough councils and London TravelWatch and has written to community groups across the Capital to make them aware of what is proposed.&nbsp;</p>
<h2>Boost capacity</h2>
<p>The changes will be finalised by April 2012 and publicised well in advance.&nbsp; </p>
<p>The frequency of some services will be increased to cope with the expected increases in demand and some single deck buses will be temporarily replaced with double-deckers to boost capacity.&nbsp; </p>
<p>Other services will need to be diverted or use different terminals, particularly around Games venues, as a result of temporary road changes that are needed to help the Games run smoothly. </p>
<p>Some bus stops will also need to be moved or temporarily suspended.&nbsp; </p>
<p>All changes will be kept in place for as short a time as possible to minimise disruption to passengers. </p>
<h2>Cultural event</h2>
<p>John Barry, Head of Network Development for London Buses, TfL, said: 'Hosting the 2012 Games is a huge logistical challenge but TfL is working hard to ensure that London's comprehensive bus network continues to supply an effective service throughout.&nbsp; </p>
<p>'Events will be taking place right across London, and central London will be particularly busy as it effectively becomes a major sporting and cultural venue.&nbsp; Our aim is to help the Games run smoothly and to keep London moving.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Information on bus services during the 2012 Games can be found at <a href="http://www.tfl.gov.uk/gettingaround/london2012/21820.aspx">tfl.gov.uk/gettingaround</a> </li>
<li>Additional changes will also be needed for times when roads are closed for events such as the marathons and cycle road races and these will also be notified next year </li>
<li>The proposals are based on detailed forecasts of demand for transport during the Games </li>
<li>In some places routes may need to be diverted onto roads not usually served by buses; route tests will be carried out to ensure the suitability of the roads concerned </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links to increase capacity and improve services in the capital in the run up to the Games. This is already providing an early legacy of better transport options, particularly for people living in east London, which will benefit millions of people and support economic development for generations to come </li>
<li>Some of the bus diversions relate to the Olympic Route Network (ORN). The ORN will come into operation a couple of days before the Olympic Games and will be removed as soon as possible once the Olympics are over. It will not be in operation again until a couple of days ahead of the Paralympic Games, and will be removed as soon as possible after the Paralympics have finished. General traffic can, with the exception of Birdcage Walk, Constitution Hill and The Mall, use the entire 109 mile ORN (which makes up just one per cent of the London's road network). Only one third of the ORN will have Games Lanes, which are only implemented where more than one lane is available, and which are open to the Games family - the media (who make up the largest element of the Games family), athletes, officials, Games workers, sponsors and IOC members. The ORN is necessary in order to get all athletes, officials and the media to their Games events on time, and has been a feature of all Host Cities contracts with the IOC since the Atlanta Games in 1996 </li>
<li>London buses carry approximately 6.5 million passengers a day on 7,500 buses along 700 routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some routes will need to be diverted temporarily Plans under discussion with stakeholdersTransport for London (TfL) has published proposals for temporary changes to bus routes during the London 2012 Olympic and Paralympic Games.&nbsp; Around 85 of";}
        
        


 