


@{ViewBag.Title = "District line timetable improvements from this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>District line timetable improvements from this weekend</h1>
        <div class="content-page-press-release">
        05 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Additional peak trains for the 200,000 Wimbledon branch passengers each day will bring fewer delays and extra capacity.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will provide more room for more than 4,000 passengers on the Wimbledon branch, the busiest branch on the line, during the morning peak and an enhanced evening service."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will provide more room for more than 4,000 passengers on the Wimbledon branch, the busiest branch on the line, during the morning peak and an enhanced evening service.
                            
                        </p>
                    </div>
                
            
            
            <p>A new timetable comes into effect on the District Line this Sunday which will increase frequency, reliability and capacity.</p>
<p>The changes will include five additional trains on the busy Wimbledon branch providing space for 4,000 extra passengers during the morning peak, more trains during the evening service with six trains per hour until 23:30hrs and an additional train on the Ealing Broadway branch to get an extra 800 customers home during the evening peak. </p>
<p>The changes were the subject of a major consultation exercise earlier this year, in which nearly 18,000 customers, local business and stakeholders took part, almost 80 per cent of whom were in favour.</p>
<h2>Smoother travel through Earl's Court</h2>
<p>The timetable has been designed to improve service for the 200,000 passengers who travel on the Wimbledon branch of the District line each day.</p>
<p>In particular, the removal of the poorly used weekday Olympia service will deal with bottlenecks in the Earl's Court area which currently hold up more than 20 percent of District line trains entering Earl's Court behind an Olympia train.</p>
<p>This wait in the tunnel, at one of the one of the most complex junctions on the Tube network, will be reduced, directly speeding up journeys for the 150,000 customers who are affected by delays at the station. <br>&nbsp;<br>Mayor of London, Boris Johnson, said: "Hundreds of thousands of passengers will benefit from this practical and pragmatic change to markedly improve the most congested part of the tube network."</p>
<h2>Olympia services</h2>
<p>Howard Collins, LU's Chief Operating Officer, said: "The introduction of the new timetable in December will reduce delays across the whole line and, in particular, benefit the 150,000 passengers who are affected by delays at Earl's Court each day by reducing congestion in the area.</p>
<p>"It will also provide more room for more than 4,000 passengers on the Wimbledon branch, the busiest branch on the line, during the morning peak and an enhanced evening service.</p>
<p>"The Olympia service will continue to operate during the weekend and we will also operate a special weekday service during the busiest events at Olympia."</p>
<p>Passengers using Kensington (Olympia) already benefit from improved London Overground services, with four trains serving the station every hour carrying 600 passengers per train, and interchange to the Tube available at both West Brompton (District line) and Shepherd's Bush (Central line) stations.</p>
<p>Southern services will also continue to serve the station.</p>
<p>During the week customers can use nearby Barons Court or West Kensington stations, both of which are close to the Olympia Exhibition Centre, and regular accessible bus services to High Street Kensington, and step-free stations Hammersmith, Fulham Broadway and Green Park.</p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>As part of London Underground's Upgrade Plan, the District line will be completely upgraded with new air-conditioned trains being introduced on the line from 2013 and a new signalling system to be introduced by 2018. Overall, the upgrade will deliver 24 percent more capacity to the line. </li>
<li>The District line is one of the busiest lines on the Tube network used by over 700,000 people each day. </li>
<li>The Wimbledon branch is one of the busiest branch on the District line and carries nearly 30 per cent of customers. </li>
<li>London Overground (LO) and Southern Trains combined provide seven trains per hour in the peak and five in the off-peak. Both Southern and LO services interchange with LU at Shepherd's Bush and West Brompton. </li>
<li>Six other Tube stations are within easy reach and in most cases are served by buses - with five bus routes running to High Street Kensington (numbers 9, 10, 27, 28) and four serving Hammersmith (numbers 9, 10 and 27). </li>
<li>In total eight bus routes serve the Kensington (Olympia) area: numbers 9, 10, 27, 28, C1, 49, 391.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new timetable comes into effect on the District Line this Sunday which will increase frequency, reliability and capacity.The changes will include five additional trains on the busy Wimbledon branch providing space for 4,000 extra passengers during the";}
        
        


 