


@{ViewBag.Title = "Edgware Road signal improvements delivered early, paving way for longer, accessible, air-con trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Edgware Road signal improvements delivered early, paving way for longer, accessible, air-con trains</h1>
        <div class="content-page-press-release">
        30 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Signalling improvements at Edgeware Road station, part of the Tube Upgrade Plan, finished a day early and under budget.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our team worked extremely hard to deliver this project which has been completed on time and under-budget and I would like to thank our customers for their patience."</div>
        <div class="quote-footer">
            <div class="quotee-name">Rob Stewart</div>
            <div class="quotee-job-title">Programme Director at London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our team worked extremely hard to deliver this project which has been completed on time and under-budget and I would like to thank our customers for their patience.
                            
                        </p>
                    </div>
                
            
            
            <p>Upgrade work&nbsp;near one of the busiest junctions on the Tube network will reduce disruption to passengers&nbsp;in the Christmas and New Year period and pave the way for new longer, accessible and air-con 'S-Stock' trains on the Circle, District and Hammersmith &amp; City lines.</p>
<p>The improved signalling system will hugely increase capacity and improve the reliability of the service on those lines as ageing, archaic systems are replaced with new automatic technology.</p>
<p>The new trains, already operating on the Metropolitan line, will begin running on the Circle and Hammersmith &amp; City lines in 2012.</p>
<p>Edgware Road station is located very close to the Underground's Praed St junction - the busiest junction on the Tube network.</p>
<h2>New trains ahead</h2>
<p>The upgrade of signalling at the junction was essential to ensure the new Tube trains could run on the Hammersmith and City, Circle and District lines.</p>
<p>The original signalling, much of which dates back to the 1920s, has now been modified to accommodate the new trains, which are 23 metres longer than the existing Circle line trains.</p>
<p>Work has been on-going incrementally for the last year with a significant amount of installation work taking place in engineering hours and during a four week closure of the Circle and District lines from Edgware Road to High Street Kensington earlier this year.</p>
<p>This has included relocating signals as well as installing a brand-new equipment room which was built off-site and craned in overnight.</p>
<p>Rob Stewart, Programme Director at London Underground, said: 'This is great news for our passengers who will reap the benefits of greater capacity and reliability once our new, longer, air-conditioned and more accessible trains are able to run on these lines.</p>
<p>'Our team worked extremely hard to deliver this project which has been completed on time and under-budget and I would like to thank our customers for their patience.'</p>
<p>A video around the closure has been created and can be found at:<br><a href="http://www.tfl.gov.uk/corporate/projectsandschemes/18089.aspx">www.tfl.gov.uk/corporate/projectsandschemes/18089.aspx</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Upgrade work&nbsp;near one of the busiest junctions on the Tube network will reduce disruption to passengers&nbsp;in the Christmas and New Year period and pave the way for new longer, accessible and air-con 'S-Stock' trains on the Circle, District and";}
        
        


 