


@{ViewBag.Title = "Emirates Air Line lands on iconic Tube map as first tower completed ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Emirates Air Line lands on iconic Tube map as first tower completed </h1>
        <div class="content-page-press-release">
        19 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first of three steel towers which will enable the Emirates Air Line, the UK's first urban cable car, to fly passengers across the Thames was completed today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Investment in infrastructure such as Emirates Air Line is essential for London's economic recovery, generating jobs and showing to the world that this city is looking to the future with vision and confidence"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Investment in infrastructure such as Emirates Air Line is essential for London's economic recovery, generating jobs and showing to the world that this city is looking to the future with vision and confidence
                            
                        </p>
                    </div>
                
            
            
            <p>Stretching across the river Thames at a breath-taking height, the Emirates Air Line will give passengers stunning aerial views as they travel between the two terminals at Emirates Greenwich Peninsula and Emirates Royal Docks.</p>
<p>Located near the Emirates Royal Docks terminal, the North Intermediate Tower is the first of three soon-to-be iconic towers that has been fully erected. </p>
<p>Standing at over 200 ft tall and weighing 270 tonnes the tower is the smallest of the three main towers. </p>
<p>Over the coming months Londoners will see the two further white structures rise up to the skies with construction of all the towers scheduled to be completed by late spring 2012.</p>
<p>Each tower will be made up of approximately 6,500 steel pieces that measure between 30 - 50mm with each steel block weighing approximately 30 tonnes on average. </p>
<p>A complex helix like structure which has been specially designed for the inside of the tower by award-winning architects Wilkinson Eyre, will provide the towers with the strength and stability needed to whisk up to 2,500 passengers per hour in each direction.</p>
<p>The completion of the first tower comes as the Emirates Air Line achieved another first - appearing on the internationally renowned London Underground Tube map.</p>
<p>It is the first time in the Tube map's 78 year history that a commercial brand has been able to put their name to a transport link and station as a result of a partnership with TfL.&nbsp;</p>
<p>The Emirates Air Line can now be seen as a major new transport project that is 'Under Construction'. </p>
<p>The map also highlights how the new scheme will integrate into the wider transport network by providing an additional step free access interchange between the Jubilee line and the DLR - two key lines in east London.</p>
<p>The Tube map is considered a design classic with a format copied by virtually every major urban rail system in the world.</p>
<p>The inclusion of the Emirates Air Line is a major milestone for international airline Emirates who have sponsored the scheme. </p>
<p>The new addition marks the fulfilment of one of the agreed naming rights granted to Emirates as part of the 10 year &pound;36m sponsorship deal it struck with the Mayor and Transport for London (TfL).</p>
<p>Mayor of London, Boris Johnson, said: 'The Emirates Air Line is a vital part of the regeneration of East London, providing a much needed river crossing in this part of the capital. Investment in infrastructure such as this is essential for London's economic recovery, generating jobs and showing to the world that this city is looking to the future with vision and confidence. It is also showing off the ingenuity of the UK firms that are crafting these magnificent towers.</p>
<p>'I am thrilled with the rapid progress of the Emirates Air Line and its inclusion on the iconic Tube map will whet the appetites of those, including me, who cannot wait until the day they can board this new transport link next year.'</p>
<p>The first tower was built within days of its steel pieces being delivered to site. </p>
<p>Every piece is being crafted in the UK by Bolton based steel manufacturer Watson Steel, providing a real boost to UK plc. </p>
<p>Over half of the two hundred employees at the factory are dedicated to this project and will continue to be until the last piece is manufactured in spring 2012.</p>
<p>Innovation has been at the heart of the design and construction of the Emirates Air Line with the latest methods and technologies used to create this unique addition to London's transport network. </p>
<p>Watson Steel planners took the design for each of the towers and using cutting-edge 3D modelling created the measurements for each piece. </p>
<p>This intricate modelling saw designs for each part drawn to within a millimetre to ensure every piece fit together like a jigsaw. </p>
<p>Watson Steel is the only factory in the UK using this technology taken from advancements on its other previous projects which include the Emirates Stadium and the Arcelor Mittal tower.</p>
<p>Danny Price, TfL Emirates Air Line Operations Manager, said: 'The completion of the first tower for the Emirates Air Line is a major milestone in the project and helps everyone to visualise how unique and exciting London's new travel experience will be. I look forward to seeing the other graceful towers rise up over the next few months. </p>
<p>'It's a great source of pride that this crucial job is being carried out in the UK, providing a brilliant example of the best of British manufacturing.'</p>
<p>The Emirates Air Line will provide a new river crossing for east London, a key objective for the Mayor to help unlock further the economic potential of this part of the Capital. </p>
<p>The scheme supports the Mayor's vision to transform this area into a bustling metropolitan quarter with new businesses, homes and job opportunities.</p>
<p>It will also draw tourists from across the globe adding to the ongoing regeneration of east London.</p>
<p>The new transport initiative will also directly link the O2 - Europe's biggest entertainment venue - and the ExCeL - Europe's biggest conferencing venue.</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Images of the Tube map and completed tower are attached</li>
<li>With the capacity to carry up to 2,500 passengers per hour in each direction across the river the Emirates Air Line will provide additional resilience to the transport network in this part of London and capacity for alternative for local journeys. The number of people travelling on the link will be equivalent to the hourly number of people travelling through the Blackwall Tunnel by car</li>
<li>The ten year sponsorship deal secured by the Mayor and TfL will see Emirates provide significant private sector investment to this new transport scheme totalling &pound;36m. As title sponsor, Emirates has a range of naming and branding rights, including the right to name the scheme, its stations and the creation of a joint logo</li>
<li>An animated flythrough simulating the experience of using the Emirates Air Line is available to media to use, click here to view. CGI stills from this video are also available. Please contact the TfL Press Office for footage and/or stills</li>
<li>Emirates currently operates eight flights a day from London to Dubai with five daily services from Heathrow and three daily from London Gatwick. The airline also operates flights from Birmingham (twice daily), Manchester (three times daily), Newcastle and Glasgow (both daily). It is estimated that annually the airline contributes over $400m to UK tourism</li>
<li>Mace is the principal contractor building the cable car and will operate it for three years. Mace leads a consortium of experts, including the cable car specialists, Dopplemayr, and Watson Steel, URS Scott Wilson, Buro Happold and Aedas. The cable car has been designed to the highest standards by Wilkinson Eyre</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Stretching across the river Thames at a breath-taking height, the Emirates Air Line will give passengers stunning aerial views as they travel between the two terminals at Emirates Greenwich Peninsula and Emirates Royal Docks.Located near the Emirates";}
        
        


 