


@{ViewBag.Title = "Hammersmith flyover to remain closed next week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith flyover to remain closed next week</h1>
        <div class="content-page-press-release">
        30 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Day and night working continues on and inside flyover, as experts examine structure of 900m bridge. Transport for London (TfL) is working to open flyover to traffic as soon as possible. Motorists are advised to avoid area and take alternative routes.
        
    </div>



 <div class="on-this-page">
<p>Following seven days of intensive monitoring and examination of structural defects of the A4 Hammersmith flyover by TfL engineers, contractors, and structural engineering experts, TfL has been forced to conclude that the flyover will remain closed to traffic until further tests have been completed during the next week.</p>
<p>The flyover was closed on 23 December due to concerns about a serious structural defect, and work has been going on since then to carry out detailed investigations to assess the flyover, establish what remedial action needs to be taken and when the flyover can safely be reopened to traffic.&nbsp; </p>
<p>The damage to the ageing 1960's structure has been caused by water ingress, including salt water due to grit laid during the winter months, which has corroded and weakened the cables which help support the flyover.&nbsp; </p>
<p>The extent of this damage is what is currently being urgently assessed by TfL and other experts.</p>
<p>Engineers on-site continue to build a full picture of the condition of the complex and ageing bridge structure, with much of the work taking place inside the structure itself and so not visible to the travelling public.&nbsp; </p>
<p>TfL is exploring all options to reopen the flyover to traffic as soon as possible and ensure disruption is kept to a minimum, but must await the outcome of further work to test the extent of the problems found in the structure, which is expected to be completed next week.</p>
<p>TfL is also actively working on the design of a solution to strengthen and extend the life of the flyover over the longer-term, by introducing additional cables into the structure.&nbsp; </p>
<p>This solution will be implemented well ahead of the 2012 Games.</p>
<p>Local traffic diversions are already in place, along with Variable Messaging Signs - including on Highways Agency roads - advising drivers to avoid the area. </p>
<p>Traffic signal plans are in place to reduce disruption and ease traffic flow and plans are in place to divert traffic from the M4 to other routes if necessary.&nbsp; </p>
<p>TfL is also working closely with the relevant local authorities to ensure local businesses and organisations are aware and disruption can be minimised.&nbsp;</p>
<p>However, until TfL can ensure the flyover is safe to be reopened to traffic, the advice to motorists continues to be avoid the area if at all possible, or if you have to drive allow more time for your journey.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'Our team continues to work night and day alongside the world's leading structural engineers to fully understand the extent of the flyover's structural problems.&nbsp; </p>
<p>'I have been inside the flyover and seen for myself the unique issues we face.</p>
<p>'Safety must be our top priority and we have not taken the decision to close the flyover lightly.&nbsp; </p>
<p>'However, we are working flat-out to determine what measures we must put in place to safely reopen the flyover as soon as possible.&nbsp; </p>
<p>'Also, to ensure we can strengthen the structure and extend its life over the longer-term.</p>
<p>'In the meantime, drivers are strongly advised to avoid the area if they can or allow more time for their journeys.&nbsp; </p>
<p>'I apologise for the disruption, but assure Londoners we are doing all we can to reopen the flyover and to minimise the disruption the closure is causing.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Over the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1962 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place. Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp; Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure
<li>TfL will provide a further update on Monday, 2 January, ahead of the first working day of 2012 on Tuesday, 3 January</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following seven days of intensive monitoring and examination of structural defects of the A4 Hammersmith flyover by TfL engineers, contractors, and structural engineering experts, TfL has been forced to conclude that the flyover will remain closed to";}
        
        


 