


@{ViewBag.Title = "Interim operator for Putney to Blackfriars River Bus service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Interim operator for Putney to Blackfriars River Bus service</h1>
        <div class="content-page-press-release">
        22 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that they have been able to appoint a new operator to run the Putney to Blackfriars River Bus service in the New Year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Negotiations continue to finalise arrangements with an operator for the longer term"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Griffiths</div>
            <div class="quotee-job-title">Head of London River Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Negotiations continue to finalise arrangements with an operator for the longer term 
                            
                        </p>
                    </div>
                
            
            
            <p>Hundreds of Londoners use the service every day and many had expressed great concern that the service might end with the final Thames River Taxi service on 23 December. </p>
<p>However Transport for London (TfL) has now confirmed that Complete Pleasure Boats have been awarded a six-month contract to operate the River Bus service from 3 January 2012.</p>
<p>During that period TfL will finalise arrangements with an operator to take over the service on a longer term basis.</p>
<p>Andy Griffiths, Head of London River Services, said: 'I am delighted that we are able to confirm Complete Pleasure Boats as the interim operator of this popular service and that we will be able to ensure uninterrupted services for our passengers in January. </p>
<p>'Negotiations continue to finalise arrangements with an operator for the longer term and we expect to award a longer-term contract in early 2012.'</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> </li>
<li>Further information on services offered by London River Services is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </li>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services and passengers can get a 10 per cent discount on adult fares </li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys </li>
<li>Putney to Blackfriars timetable from 3 January 2012 <br><br><br><br>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Eastbound mornings</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Putney</td>
<td>&nbsp;07:30</td>
<td>&nbsp;08:00</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;07:40</td>
<td>&nbsp;08:10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Chelsea Harbour</td>
<td>&nbsp;07:50</td>
<td>&nbsp;08:20</td>
<td>&nbsp;09:00</td></tr>
<tr>
<td>&nbsp;Cadogan</td>
<td>&nbsp;07:55</td>
<td>&nbsp;08:25</td>
<td>&nbsp;09:05</td></tr>
<tr>
<td>&nbsp;Embankment</td>
<td>&nbsp;08:15</td>
<td>&nbsp;08:45</td>
<td>&nbsp;09:25</td></tr>
<tr>
<td>&nbsp;Blackfriars</td>
<td>&nbsp;08:25</td>
<td>&nbsp;08:55</td>
<td>&nbsp;09:35</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Westbound mornings</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Blackfriars</td>
<td>&nbsp;08:25</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Chelsea Harbour</td>
<td>&nbsp;09:00</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Westbound evenings</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Blackfriars</td>
<td>&nbsp;17:10</td>
<td>&nbsp;18:25</td>
<td>&nbsp;19:10</td></tr>
<tr>
<td>&nbsp;Embankment</td>
<td>&nbsp;17:20</td>
<td>&nbsp;18:35</td>
<td>&nbsp;19:20</td></tr>
<tr>
<td>&nbsp;Cadogan</td>
<td>&nbsp;17:40</td>
<td>&nbsp;18:55</td>
<td>&nbsp;19:40</td></tr>
<tr>
<td>&nbsp;Chelsea Harbour</td>
<td>&nbsp;17:45</td>
<td>&nbsp;19:00</td>
<td>&nbsp;19:45</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;17:55</td>
<td>&nbsp;19:10</td>
<td>&nbsp;19:55</td></tr>
<tr>
<td>&nbsp;Putney</td>
<td>&nbsp;18:05</td>
<td>&nbsp;19:20</td>
<td>&nbsp;20:05</td></tr></tbody></table></div></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hundreds of Londoners use the service every day and many had expressed great concern that the service might end with the final Thames River Taxi service on 23 December. However Transport for London (TfL) has now confirmed that Complete Pleasure Boats have";}
        
        


 