


@{ViewBag.Title = "Lewis Hamilton toasts free travel on London transport to welcome in the New Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lewis Hamilton toasts free travel on London transport to welcome in the New Year</h1>
        <div class="content-page-press-release">
        02 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lewis Hamilton gets a lesson in Tube driving as he launched Diageo's sponsorship of free travel on London's Tubes, buses, trams and some trains this New Year's Eve
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has a tremendous amount to offer over the festive period, and this fantastic deal will allow party goers to welcome the New Year in the world's most fantastic city, and still get home cheaply and safely, late into the night."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London has a tremendous amount to offer over the festive period, and this fantastic deal will allow party goers to welcome the New Year in the world's most fantastic city, and still get home cheaply and safely, late into the night.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London and Transport for London (TfL) announce partnership with Diageo to support free New Year's Eve travel for next three years.</p>

<p>
<hr>
</p>

<p>In a bid to encourage party goers to get home safely this festive season, Vodafone McLaren Mercedes driver Lewis Hamilton today launched Diageo's Responsible Drinking campaign and sponsorship of free travel on London's Tubes, buses, trams&nbsp;and some trains this New Year's Eve.</p>

<p>This season the advertising campaign will feature across the TfL network including on Tubes, buses and at Tube stations promoting responsible drinking. </p>

<p>In addition, Tube travellers at selected central London stations will receive top tips and free bottles of water on some of the busiest party nights of the year as part of Diageo's ongoing commitment to a safer night out.&nbsp; </p>

<p>A number of celebrations will be taking place across the Capital including the spectacular fireworks display on the Southbank organised by the Mayor of London. </p>

<p>Londoners will benefit from free travel on service from 23:45 on New Year's Eve until 04:30 on New Year's Day. </p>

<p>Tube, Docklands Light Railway (DLR)&nbsp;and tram services will run all night on New Year's Eve, as well as night buses and 24-hour bus routes as usual. </p>

<p>Free travel will also apply to London Overground trains running after 23:45 until last train times.</p>

<h2>Drink responsibly</h2>
<p>Speaking at the launch, Vodafone McLaren Mercedes driver Lewis Hamilton said, 'While we all want to have a good time this party season, a good time will be a better one if you can remember it and get home safely. </p>

<p>'Diageo sponsoring free travel is going to make it a little easier for us all get home this New Year's Eve and this campaign will remind us to drink responsibly for a great night out.'</p>

<p>'Through my work with Diageo on Johnnie Walker for the Join the Pact campaign I have been part of many responsible drinking initiatives and I hope today serves as a timely reminder to people in London to have fun but be responsible.'</p>

<p>Boris Johnson, the Mayor of London, said, 'London has a tremendous amount to offer over the festive period, and this fantastic deal will allow party goers to welcome the New Year in the world's most fantastic city, and still get home cheaply and safely, late into the night.'</p>

<p>Andrew Cowan, Country Director for Diageo GB, commented: 'Responsible drinking is at the heart of everything we do and is never more important during the festive season.&nbsp; </p>

<p>'Getting home safely is often the final stage of a great night out but it is just one part which is why we are using our sponsorship of free travel this New Year to remind people to drink responsibly.'</p>

<p>Mike Brown, Managing Director of London Underground, said: 'It is important during the festive period that people should plan their journeys in advance, using our online Journey planner or our 24-hour London Travel Information phone line.</p>

<p>'Tens of thousands of people stand to benefit from the sponsorship deal thanks to the Mayor and Diageo.&nbsp; </p>

<p>'With so many people choosing to enter the New Year in the Capital, it is important that we are able to provide services that will be running throughout the night to get them home safely .'</p>

<h2>Free travel</h2>

<p>TfL has been providing free travel for party goers on New Year's Eve since it was created in 2001. </p>

<p>Diageo has signed a three-year deal with TfL to sponsor free travel on New Year's Eve in the Capital. </p>

<p>The inaugural campaign includes responsible drinking promotion from 9 December until the New Year. </p>

<p>In addition, free bottles of water featuring responsible drinking tips will be given away at selected central London Tube stations during the busiest party nights of the year. </p>

<p>The campaign is part of Diageo's responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking, targeted interventions and initiatives focused on those who misuse alcohol, and providing support for initiatives to boost safety in the night-time economy.</p>

<p>Detailed travel information for the festive period will be available next week to passengers across the TfL network.</p>

<p>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>For more information about the Mayor of London's New Year's Eve fireworks display on the Southbank, go to <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a></li></ul>
<p><strong>Diageo </strong><br>Diageo is the world's leading premium drinks business with an outstanding collection of beverage alcohol brands across spirits, beer and wine. </p>
<p>These brands include Johnnie Walker, Crown Royal, J&amp;B, Windsor, Buchanan's and Bushmills whiskies, Smirnoff, C&icirc;roc and Ketel One vodkas, Baileys, Captain Morgan, Jose Cuervo, Tanqueray and Guinness. </p>
<p>Diageo is a global company, with its products sold in more than 180 countries around the world. </p>
<p>The company is listed on both the New York Stock Exchange and the London Stock Exchange. </p>
<p>For more information about Diageo, its people, brands, and performance, visit <a href="http://www.Diageo.com">www.Diageo.com</a>. </p>
<p>Visit <a href="http://www.drinkaware.co.uk">www.drinkaware.co.uk</a>&nbsp;and Diageo's own global resource <a href="http://www.DRINKiQ.com">www.DRINKiQ.com</a>&nbsp;for information and guidance on responsible drinking. </p>
<p>In Great Britain, Diageo is a member of The Portman Group and supports The Drinkaware Trust.</p>
<p>Celebrating life, every day, everywhere.</p>
<p><strong>Transport for London <br></strong>The Mayor of London and TfL banned the consumption of alcohol on the public transport network across London in June 2008. </p>
<p>This has been well supported by Londoners and has made making travelling on public transport safer and a more pleasant experience for passengers.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London and Transport for London (TfL) announce partnership with Diageo to support free New Year's Eve travel for next three years.In a bid to encourage party goers to get home safely this festive season, Vodafone McLaren Mercedes driver Lewis";}
        
        


 