


@{ViewBag.Title = "London Underground welcomes suspension of ASLEF strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground welcomes suspension of ASLEF strike action</h1>
        <div class="content-page-press-release">
        30 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Following constructive talks between London Underground (LU) management and the leadership of ASLEF today, the union has informed LU that it has suspended all further action regarding the dispute over Boxing Day working.</p>
<p>Further strike action by ASLEF had been called on 16 January and on 3 and 13 February.</p>
<p>Further talks have been scheduled to commence next week as both parties seek to resolve the issue.</p>
<p>London Underground Chief Operating Officer, Howard Collins said: 'I welcome the constructive approach taken by the leadership of ASLEF at our discussions today.</p>
<p>'I look forward to further constructive talks next week, as we work to resolve this issue.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following constructive talks between London Underground (LU) management and the leadership of ASLEF today, the union has informed LU that it has suspended all further action regarding the dispute over Boxing Day working.Further strike action by ASLEF had";}
        
        


 