


@{ViewBag.Title = "London Underground issues legal challenge to Aslef leadership's Boxing Day strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground issues legal challenge to Aslef leadership's Boxing Day strike</h1>
        <div class="content-page-press-release">
        19 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has commenced legal action challenging the validity of the strike called by the Aslef union's leadership over its claims for additional Boxing Day pay.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Underground is a public service that should be playing its part in helping Londoners and the Capital have a happy and prosperous Christmas, and we will take every possible step to ensure that happens."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Underground is a public service that should be playing its part in helping Londoners and the Capital have a happy and prosperous Christmas, and we will take every possible step to ensure that happens.
                            
                        </p>
                    </div>
                
            
            
            <p>The union's leadership has confirmed that it will call its members out for four strike days unless they are paid triple time and given an extra day off for working on Boxing Day, despite the staff concerned already earning a premium in their annual salary for working on public holidays.</p>
<p>Since 2010, when the Aslef leadership first made their extra claims, LU has held discussions on the issue and reviewed the level of service required for Boxing Day to closely match customer demand.</p>
<p>As a result, LU has reduced the number of train staff required to work on Boxing Day to pre-2010 levels. </p>
<h2>Challenge</h2>
<p>But despite only a quarter of LU's 3,500 drivers being scheduled to work on 26 December, the Aslef leadership has balloted all 2,200 of its members for strike action, with just 42 per cent voting in favour.</p>
<p>LU has therefore commenced legal proceedings to challenge the validity of the ballot, and a hearing at the High Court is expected later this week.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'This threat of strike action is disgraceful, and Londoners will share our disbelief at these outrageous claims by Aslef's leadership for even more money to work on a day for which their members are already being paid. </p>
<h2>Long-standing agreement</h2>
<p>'LU has a long-standing agreement with all of its trade unions which covers working arrangements on public holidays, and Boxing Day is included in that. </p>
<p>'The Underground is a public service that should be playing its part in helping Londoners and the Capital have a happy and prosperous Christmas, and we will take every possible step to ensure that happens.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The union's leadership has confirmed that it will call its members out for four strike days unless they are paid triple time and given an extra day off for working on Boxing Day, despite the staff concerned already earning a premium in their annual salary";}
        
        


 