


@{ViewBag.Title = "Major crackdown on dangerous pedicabs in central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major crackdown on dangerous pedicabs in central London</h1>
        <div class="content-page-press-release">
        20 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor launches major joint campaign to keep the travelling public safe. Police crackdown on dangerous behaviour and unsafe pedicabs.
        
    </div>



 <div class="on-this-page">
<p>A new get-tough approach to pedicabs in central London has been set out by the Mayor of London. </p>
<p>This includes a public awareness campaign in the new year to inform the public of the potential risks of travelling in pedicabs and a programme of increased police enforcement to tackle dangerous pedicab riders who obstruct highways and ride recklessly.&nbsp; </p>
<p>The announcement follows a new and highly successful enforcement initiative during the autumn, which formed part of a joint safety crackdown organised by Transport for London (TfL), the Metropolitan Police and Westminster Council.</p>
<p>Pedicabs are not licensed or regulated and can cause serious disruption to road users in central London. </p>
<p>They are often unroadworthy and uninsured, riders often disobey road rules, putting the public at risk and there is no requirement for their riders to have been checked by the Criminal Records Bureau. </p>

<p>The Metropolitan Police have used their powers under existing legislation to carry out a number of new enforcement operations to deal with dangerous or obstructive pedicabs and their riders. </p>

<h2>Formal warnings</h2>
<p>The night time operations, which ran in the West End throughout October, November and December, involved officers taking actions against pedicab riders who were endangering themselves or others with their behaviour, including obstructing the footway, riding in an inconsiderate or reckless manner, cycling on the footway, causing congestion and who were riding pedicabs which are unsafe, dangerous or unroadworthy.</p>

<p>As well as 35 arrests, 35 pedicabs have been impounded, a further 198 pedicab riders were issued with a formal warning and 19 riders were issued with a fixed penalty notice for offences. </p>
<p>Officers from the West End and Chinatown Safer Neighbourhood Team and the TfL-funded MPS Safer Transport Command took part in the operation. </p>
<p>A series of further enforcement operations will be carried out across central London in the new year, further bearing down on those who pose a risk to Londoners and visitors to the city. </p>

<p>The Mayor of London, Boris Johnson, said: 'Unregulated rickshaw riders who block the streets and ride recklessly through the West End in unroadworthy vehicles pose a real danger both to passengers and to other road users. </p>
<p>'We are sending out a clear message that this will not be tolerated and we are taking firm action to ensure we keep Londoners and visitors safe.'</p>
<h2>Rules of the road</h2>

<p>Councillor Lee Rowley, Cabinet Member for Transport at Westminster council, said: 'Just a few pedicabs blocking the road or travelling carelessly can have a huge effect on traffic congestion in the busiest part of London. </p>
<p>'We want the industry to improve its standards and have been working in recent months with pedicab operators to do just that. </p>
<p>'We look forward to finding a lasting solution which will improve the heart of our city.'</p>
<p>Siwan Hayward, Deputy Director, Community Safety, Enforcement and Policing at TfL said: 'Transport for London is working with the Metropolitan Police Service and other partners to step up the level of enforcement activity against those pedicab riders who cause chaos in central London by not abiding by the rules of the road.</p>
<p>'Officers from the Safer Transport Command have been working with local Westminster teams to crack down on these unlawful riders who cause congestion on the roads by disrupting bus services and other traffic.'</p>
<p>Sargent Christian Ardron, leading the operation on behalf of West End and Chinatown Safer Neighbourhoods Team, said: 'We work with many pedicab operators who operate safely within the West End, this operation is all about tackling those riders who are flouting the rules and as a result are a danger to themselves, their passengers and other road users.</p>
<p>'In the run up to Christmas the West End becomes increasingly busy and these operations have helped us remove problem pedicabs from the area, leaving it as safe as possible for the rest of the community and the other riders in the run up to the festive period.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new get-tough approach to pedicabs in central London has been set out by the Mayor of London. This includes a public awareness campaign in the new year to inform the public of the potential risks of travelling in pedicabs and a programme of increased";}
        
        


 