


@{ViewBag.Title = "Major facelift of London Bridge bus station continues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major facelift of London Bridge bus station continues</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transformed bus station due to be completed by May 2012.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Part of a complete rejuvenation of London Bridge station and the surrounding area</li></ul>
<p>A new-look London Bridge bus station will be dramatically rotated 45 degrees during the next stage of work that begins on 16 December. </p>
<p>Among the wider benefits of The Shard and London Bridge Quarter development, London Bridge Station is currently undergoing an unprecedented redevelopment which will upgrade the entire complex.&nbsp; </p>
<h2>Easier movement</h2>
<p>The station will have a new glass roof, enhanced retail and ticketing areas and improved accessibility and traffic flow, and integral to those plans is a total redesign of London Bridge bus station.</p>
<p>The new bus station is set to fully open in May 2012 and will allow passengers easier movement from train to London bus and vice versa. </p>
<p>Benefits of the revamped bus station will include:</p>
<ul>
<li>Increased space for buses and taxis </li>
<li>A better road layout to reduce congestion </li>
<li>Upgraded waiting facilities to improve the passenger experience </li>
<li>A new escalator into the Underground station to improve passenger interchange </li>
<li>Improved signage to provide clearer pedestrian information for the bus station and surrounding streets </li>
<li>Improvements to the station will make the area more open, attractive and welcoming to passengers</li></ul>
<p>Transport for London (TfL) is working hard to minimise disruption during these works and the majority of bus routes continuing to serve the bus station as usual, three routes will have temporary pick up and drop off points.&nbsp; </p>
<p>Route 43 and 141 will pick up at bus stop M and set down on stop Y on London Bridge.&nbsp; </p>
<p>These arrangements are expected to continue until May 2012. </p>
<p>Route 17 will also use these temporary pick up and drop off points although this will only be in place until the end of January 2012 at which point it will return to the bus station. </p>
<h2>Minimum disruption</h2>
<p>Changes will also be made to access to Guy's Hospital and St. Thomas Street with the pedestrian footbridge being permanently removed at the end of December.&nbsp; </p>
<p>Temporary access will be signposted through the station until a new escalator and lift replacing the bridge is installed linking the station with St. Thomas Street once more in May 2012.</p>
<p>The new bus station was part of the planning agreement for the development of The Shard and The Place at London Bridge Quarter, and will give the whole area a fresh modern look.&nbsp; </p>
<p>The costs are being met by the developer, Sellar.</p>
<p>TfL is working closely with Network Rail, Southwark Council and Sellar, to ensure that all works are carried out without compromising passenger accessibility or safety and that disruption to services is kept to a minimum; keeping the bus station open for the majority of the time.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Artists impressions of the area are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Part of a complete rejuvenation of London Bridge station and the surrounding areaA new-look London Bridge bus station will be dramatically rotated 45 degrees during the next stage of work that begins on 16 December. Among the wider benefits of The Shard";}
        
        


 