


@{ViewBag.Title = "Major engineering works planned to take advantage of Christmas Day closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major engineering works planned to take advantage of Christmas Day closure</h1>
        <div class="content-page-press-release">
        20 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This year, the annual Christmas Day closure of the Tube, DLR, London Overground, Tramlink and London Buses is being used by Transport for London to get ahead with major engineering works to upgrade the system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every piece of work that can be carried out during this closure means another potential closure avoided further down the line, helping us to provide a better service in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every piece of work that can be carried out during this closure means another potential closure avoided further down the line, helping us to provide a better service in London
                            
                        </p>
                    </div>
                
            
            
            <p>Train depots and bus garages will be staffed when passenger services are closed and work to improve the network will continue throughout the festive period.</p>
<p>On Christmas Day, London Underground (LU) engineers will work around the clock at stations, depots, on trains and on the tracks to take advantage of the annual closure. </p>
<p>As no services are running on Christmas Day, it is the perfect time for Transport for London (TfL)&nbsp;to test new signalling on the Circle, Hammersmith &amp; City and Metropolitan lines, as well as install new signalling on the District and Northern line. </p>
<p>Routine maintenance works will also be taken across the network, with maintenance trains moving regularly to transport engineers and materials to various locations across the network.</p>
<p>Isabel Dedring, the Deputy Mayor for Transport, said: 'Every piece of work that can be carried out during this closure means another potential closure avoided further down the line, helping us to provide a better service in London.</p>
<p>'So, when most Londoners are enjoying a public holiday with their family, TfL's engineers will be hard at work delivering our vital upgrades without disruption to services.'</p>
<p>Mike Brown, Managing Director of London Underground said: 'London Underground always looks to minimise closures and disruption to passenger services. Christmas Day is a great way to continue improvement works whilst not affecting passenger journeys. </p>
<p>'Our staff will be working around the clock to install new rails, upgrade signalling and deliver a more frequent and reliable Tube service for London.'</p>
<p>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>On 25 December there will be no services on the Tube, London Buses, DLR, London Overground and Tramlink networks, no services from Victoria Coach Station, and no Riverboat services</li>
<li>Passengers are advised to check before they travel to help them plan their journey. This can be done by checking posters and leaflets at stations, listening out for public address announcements, going to the TfL website, <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>, calling TfL's 24-hour travel information telephone helpline: 020 7222 1234</li>
<li>LU is undertaking a major programme of renewal. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Train depots and bus garages will be staffed when passenger services are closed and work to improve the network will continue throughout the festive period.On Christmas Day, London Underground (LU) engineers will work around the clock at stations, depots,";}
        
        


 