


@{ViewBag.Title = "Make sure you get home safely this New Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Make sure you get home safely this New Year</h1>
        <div class="content-page-press-release">
        29 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) urges Londoners to plan their journey before venturing out to welcome in the New Year and ensure a safe journey home.
        
    </div>



 <div class="on-this-page">
<p>TfL wants every Londoner to enjoy the New Year, and that includes getting home safely after a good night out. </p>
<p>There are numerous ways of travelling home after the New Year celebrations, including Tube, Tram and Docklands Light Railway (DLR)&nbsp;services running throughout the night, 24-hour and night bus services running across the Capital as well as licensed minicabs and black cabs.</p>
<p>Londoners will benefit from free travel sponsored by Diageo GB on service from 23:45 on New Year's Eve until 04:30 on New Year's Day. </p>
<p>Tube, DLR and tram services will run all night on New Year's Eve, as well as night buses and 24-hour bus routes as usual. </p>
<p>Free travel will also apply to London Overground trains running after 23:45 until last train times.</p>
<p>Isabel Dedring, Deputy Mayor for Transport, said: 'London is a fantastic city in which to welcome in the New Year and to have a party. </p>
<p>'In order to make sure nothing spoils your celebrations, I urge you to plan your journey home before you go out whether you are using public transport, taxi or booking a licensed minicab. </p>
<p>'And however you plan to bring it in, from everyone in City Hall, I wish you a very happy New Year!'</p>
<p>Here are a few tips when travelling around the Capital during the New Year period so all you have to worry about is having a good time:</p>
<p><strong>Be organised</strong></p>
<p>Plan your journey in advance and know where you are going and which stop you need. </p>
<p>You can plan ahead at <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </p>
<p><strong>Be shrewd&nbsp; </strong></p>
<p>Always try to wait for your bus or train in a well lit place and avoid using shortcuts and badly lit areas. </p>
<p>Keep an eye out on your surroundings and make sure you walk purposefully and confidently to your destination.&nbsp;</p>
<p><strong>Be verbal</strong></p>
<p>There are around 2,500 TfL-funded police officers and police community support officers dedicated to patrolling on London's transport network and thousands of members of staff who can help answer any questions or concerns you may have about your safety and security, so do approach them. </p>
<p>Alternatively and for non-urgent matters, you can call the Metropolitan Police Service on 101 or the British Transport Police on 0800 40 50 40.</p>
<p>You can also speak to the thousands of front-line transport staff on duty.</p>
<p><strong>Use Cabwise or&nbsp;Findaride</strong></p>
<p>With London's licensed minicabs and black cabs in the Capital, you're never too far from a safe way home. </p>
<p>Don't be tempted to get in just any car. </p>
<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking in an office being made first. </p>
<p>Only black cabs can be picked up in the street. Remember any minicab driver that approaches you on the street anywhere is acting illegally - do not get in.</p>
<p>If you decide to take a licensed minicab home after the New Year celebrations, you can use the Cabwise service. </p>
<p>Texting 'CAB' to 60835* will give you two minicab numbers and one taxi (black cab) number for cab firms in the area you are in. </p>
<p>Save this number on your phone and use it whenever you need a cab.<br>&nbsp; <br>Alternatively use Findaride, a new tool on your mobile telephone to find and book licensed minicabs. </p>
<p>Go to <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> from your Smartphone and enter any location - GPS-enabled phones also give the option to search from where you are. </p>
<p>A list of minicab operators will be presented displaying their phone numbers/email address. </p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'Unbooked minicabs are dangerous and continue to pose a serious risk to the travelling public. </p>
<p>'We urge people not to use them. TfL, the Metropolitan Police Service Safer Command and the City of London Police are cracking down on touting and other cab-related illegal offences. </p>
<p>'All minicab journeys must be booked through a licensed minicab operator. </p>
<p>'Only taxis (black cabs) can pick passengers up on the street or at a rank without a booking being made first.'</p>
<p>If you are using a minicab:</p>
<ul>
<li>Book it - Book a licensed minicab over the phone or in a minicab office</li>
<li>Check it - Make sure the driver can confirm your booking</li>
<li>Sit in the back - Always sit in the back seat</li></ul>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally</li>
<li>Always book so there is a record of your journey</li>
<li>Only black cabs can pick passengers up on the street</li>
<li>Book it, check it and always sit in the back</li>
<li>Always carry a mobile phone with you in case of emergencies</li>
<li>To get three local cab numbers text 'CAB' to 60835</li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>* Users of 3 and overseas networks must enter different information. </p>
<p>See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for details and charges.</p>
<p><br>The Mayor and TfL take a tough line on touting and any TfL licensed private hire driver convicted or cautioned for touting lose their private hire driver's licence for a minimum of one year. </p>
<p>More than 800 licensed private hire drivers have had their licences revoked since August 2008. </p>
<p>Contact points for customers:</p>
<ul>
<li><strong>TfL's Travel Information Centre</strong> - TfL's 24-hour travel information call centre can provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 0843 222 1234 (calls from a BT landline cost no more than 5p per minute.&nbsp;Charges from other landline providers and mobiles may vary).</li>
<li><strong>The Tube </strong>- Tube, Tram and DLR services will be running throughout New Year, and will be free to all passengers from 23:45 on 31 December - 04:30 on&nbsp;1 January. London Overground services will be free to passengers from 23:45 on 31 December until normal last train times</li>
<li><strong>Night buses </strong>- Bus and night bus services will be free to passengers from 23:45 on 31 Dec - 04:30 on 1 January. There are now more night buses available than ever with 117 routes running through the night and all are fitted with CCTV cameras</li>
<li><strong>Cycle hire scheme</strong> - A small number of cycle hire docking stations will not be available to customers from the evening of New Year's Eve and part of New Year's Day. For more information visit <a href="http://www.tfl.gov.uk/gettingaround">tfl.gov.uk/gettingaround</a></li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL funds more than 2,500 uniformed officers from the Metropolitan Police Service, British transport Police and City of London Police to patrol the transport system. They work to reduce crime and anti-social behaviour and make people feel safer and more secure when travelling in London
<li>The Safer Travel at Night (STaN) initiative between TfL, the Metropolitan Police Service and the City of London Police was launched in 2002/3. STaN aims to reduce the number of cab-related sexual offences by raising awareness of the dangers of using unbooked 'minicabs' and targeted police and enforcement activity to identify, disrupt and deter illegal cab activity</li>
<li>Police are now using powers to crush vehicles seized from persistent offenders as part of an increase in enforcement activity against touting and other illegal cab activity during the festive season. The first unlicensed vehicle crushed and destroyed was on 6 December 2011. TfL has produced a film warning potential touts of the consequences of flaunting the rules. The film is available to view or embed from the TfL YouTube channel - <a href="http://www.youtube.com/transportforlondon">www.youtube.com/transportforlondon</a></li>
<li>Cab enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour and other illegal cab activity. TfL and the police use a broad range of tactics to deal with touting issues across London including but not limited to covert tactics to detect and apprehend touts, high visibility enforcement and compliance activities, Automatic numberplate recognition, financial investigation and confiscation of assets from touts, education and problem-solving activities</li>
<li>The driver of the crushed car was arrested by the Cab Enforcement Unit and convicted at court in May for fraud, purporting to be a licensed private hire driver. He had failed to return a suspended London PHV licence and had four previous convictions for touting between 2005 and 2008. The Cab Enforcement Unit asked that the Court issue a deprivation order for the defendant's vehicle under section 143 of the powers of criminal courts sentencing act 2000 because the vehicle had been used to commit criminal offences. He was also fined &pound;100, disqualified from driving for nine months and ordered to carry out 200 hours of community service</li>
<li>Section 143 PCC(S)A governs the powers of the courts to deprive an offender of property, used, or intended to be used to commit or facilitate the commission of any offence (not necessarily the offence of which the offender has been convicted); facilitation includes taking steps to dispose of the property or avoid conviction. The court must have regard to the value of the property and the likely financial and other effects of the making of the order on the offender (section 143 (5)</li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at <a href="http://www.tfl.gov.uk/contactcabs">tfl.gov.uk/contactcabs</a>, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a></li>
<li>Help and support is available for victims of sexual assault from The Havens.&nbsp;Details can be found at <a href="http://www.thehavens.co.uk">www.thehavens.co.uk</a></li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a>&nbsp; and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL wants every Londoner to enjoy the New Year, and that includes getting home safely after a good night out. There are numerous ways of travelling home after the New Year celebrations, including Tube, Tram and Docklands Light Railway (DLR)&nbsp;services";}
        
        


 