


@{ViewBag.Title = "Mayor announces trial to cut harmful pollution at industrial and construction sites across London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces trial to cut harmful pollution at industrial and construction sites across London </h1>
        <div class="content-page-press-release">
        23 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Locations in five London boroughs are set to benefit from innovative 'dust suppressant' technology applied on roads around construction and industrial sites as part of the Mayor's plans to deliver cleaner air for London.
        
    </div>



 <div class="on-this-page">
<p>As a result of high volumes of road traffic in some areas near to the busiest roads and by industrial sites have higher levels of PM10, a harmful pollutant. </p>
<p>The Mayor is working with a range of organisations to target these problem areas with extra measures to reduce pollution levels. </p>
<p>This includes dust suppressant technology which acts like a glue, literally sticking the PM10 to the ground to prevent dust particles becoming airborne. </p>
<p>Roads are also deep cleaned as part of the process.</p>
<p>Now in a new partnership initiative, 15 locations in five boroughs sites under the regulation of the Environment Agency, are now set to benefit from the dust suppressant technology having received funds and equipment from the Mayor and Transport for London. </p>
<p>The first trial is now underway in Lewisham on the Mercury Way industrial site and on Horn Lane in Ealing. </p>
<p>Trials at additional locations in Brent (Neasden Lane), Bexley (Manor Road) and Sutton (Beddington Lane) will start in early 2012. </p>
<p>The new locations have been selected following discussions with the Environment Agency and local boroughs following analysis of monitoring data in the local area. </p>
<p>All the areas feature industrial operations such as waste transfer sites. </p>
<p>This activity is an extension of the successful application of this solution on roads in central London, including Marylebone Road and the Victoria Embankment which showed a reduction in PM10 of up to 14 per cent. </p>
<p>These findings were independently monitored and this will continue at the new sites. </p>
<p>The Mayor Boris Johnson, said: 'At the dawn of 2012, Londoners are set to benefit from an unprecedented package of short and long measures to deliver cleaner air. This includes us lending out Transport for London's successful dust suppressant technology to organisations and boroughs that have identified places which have high levels of commercial and industrial activity. </p>
<p>'Further to this, we are working to permanently reduce transport emissions from vans, lorries, taxis, buses and cars to ensure a cleaner city and a higher quality of life for Londoners.'</p>
<p>Councillor Susan Wise, Cabinet Member for Customer Services at Lewisham Council, said: 'The dust on Mercury Way is produced mostly by the small industrial units in the area whose businesses includes skip hire and scrap dealing. This money from Transport for London has helped towards the cost of street cleaning works, road resurfacing and applying the dust suppressant solution. </p>
<p>'We are also working with operators to help them improve work practices to reduce pollution. Dust has been a real problem in the area and although it's early days, indications are that these measures together are having a beneficial effect.'</p>
<h2>New partnership</h2>
<p>The work is being delivered in partnership with the Environment Agency and the London boroughs both of which, along with the Mayor, have legal responsibilities for air quality levels.</p>
<p>The Environment Agency is already stepping up the pressure to make sure site operators reduce the levels of dust and pollution arising from industrial sites. </p>
<p>This new partnership with the Mayor and Transport for London complements existing work to reduce pollution from sites in line with site operators' statutory duty to complying with the conditions of their Environmental Permit.</p>
<p>Chris Lowe from the Environment Agency, said: 'We welcome this innovative approach to tackling particulate pollution at sites we regulate. We take the issue of particulate pollution extremely seriously and are working with site operators to explore all the different avenues we could take to reduce the amount of particulates created.'</p>
<p>The dust suppressant is a solution made up of Calcium Magnesium Acetate that sticks the PM10 particulate matter to the carriageway and prevents it re-circulating in the air. </p>
<p>It is a biodegradable saline solution that will be sprayed in very small amounts. </p>
<p>As part of the application the carriageway is swept and jetwashed by a machine similar to a road dust sweeper and then the solution is applied by a modified winter gritting machine that has a very fine sprinkler-like system attached to it. </p>
<p>It will be applied several times a week as deemed necessary in the early hours. </p>
<p>
<hr>
<strong>Notes to Editors: </strong>
<p>
<ul>
<li>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund, financed at the Mayor's request by the Department for Transport - has reduced the threat of hefty fines </li>
<li>This work is part of package of measures funded at the Mayor's request by the Department for Transport (DfT) to allow TfL to trial and deliver a package targeted local measures to reduce PM10. Progress on the Clean Air Fund is going well some highlights being: 
<ul>
<li>A team of five taxi marshals are visiting taxi ranks in pollution hot spots across the Capital to reduce engine idling time for taxis and minicabs whist promoting eco-driving courses </li>
<li>TfL will be engaging more widely in the New Year with all London drivers to raise awareness and educate them about the importance of turning off their engines when parked, loading or waiting </li>
<li>500 new trees and other planting is underway alongside some of London's busiest road.This includes the recent unveiling of a trial green wall at Edgware Rd tube stations which features a total of 15 plant varieties crafted into a multi-coloured and patterned design </li>
<li>The installation of diesel particulate filters to buses on selected routes running through central London </li>
<li>A programme of engagement with 300 businesses in pollution hotspots to promote sustainable travel and reduce their air quality impact </li>
<li>In addition, action is being taken to deliver a permanent legacy of cleaner air right across the capital. This includes the first ever age limit for black cabs, tighter standards for the Low Emission Zone, cleaner buses, including the New Bus for London and an expanded bike hire scheme </li>
<li>Dust suppressants is non-toxic, presents no significant risk of corrosion, and is harmless to plants and water supplies </li>
<li>TfL's application of dust suppressants and targeted cleaning is being delivered in partnership with Ringway Jacobs and Enterprise Mouchel, TfL's Highway Maintenance and Works contractors </li>
<li>URS and King's College are evaluating the air quality benefits of these dust suppressant measures at industrial sites, which will allow the results to feed into best practice in London and across the UK </li>
<li>Environmental permits are required under the Environmental Permitting Regulations 2007 if a site keeps, treats or disposes of waste. These permits have conditions that are designed to protect the environment and human health. They are regularly inspected by Environment Agency Officers to ensure they comply with the conditions</li></ul></li>
<li>The Environment Agency has varied the conditions at these industrial sites in the Environmental Permits to include the following measures: 
<ul>
<li>Changing waste types to wastes that produce less dust </li>
<li>Reducing waste quantities to reduce the potential for dust to be produced </li>
<li>Building and/or extending existing buildings to contain dust particles </li>
<li>Improving on site dust suppression systems </li>
<li>Screening sites to prevent wind picking up dust particles </li>
<li>Installing high performance wheel wash systems </li>
<li>On site monitoring of dust particulates to ensure levels stay below air quality objective levels </li>
<li>Regular 'deep cleaning' of the sites</li></ul></li>
<li>In addition, officers from the Environment Agency visit these sites on a weekly basis and focus inspections on any parts of the sites that have the potential to produce particulates. The London boroughs taking part in the trials are also taking steps to reduce particulates from vehicle emissions wherever possible and closely monitoring the performance of sites that fall under their regulation as well (e.g concrete manufacturing sites)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As a result of high volumes of road traffic in some areas near to the busiest roads and by industrial sites have higher levels of PM10, a harmful pollutant. The Mayor is working with a range of organisations to target these problem areas with extra";}
        
        


 