


@{ViewBag.Title = "Mayor announces more than &pound;2.7m for local transport improvements in Hammersmith & Fulham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces more than &pound;2.7m for local transport improvements in Hammersmith & Fulham</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced more than &pound;2.7m for transport improvements in Hammersmith & Fulham.
        
    </div>



 <div class="on-this-page">
<p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;2.7m funding package in 2012/13 will finance a range of transport projects in Hammersmith &amp; Fulham, including:</p>
<ul>
<li>&pound;180,000 to develop the Shepherds Bush Town Centre (west) Major Scheme which will improve the streetscape, reduce collisions, provide cyclist and pedestrian facilities and better connections to Goldhawk Road and Shepherds Bush Market</li>
<li>&pound;575,000 to continue the project on Fulham Palace Road to smooth traffic through this busy congested route, improve road safety and increase accessibility for all road users</li>
<li>&pound;160,000 to introduce a range of activities targeted at children to improve road safety skills and active travel; school travel plans and grants for associated facilities</li>
<li>&pound;55,000 for cycle training for adults and children to facilitate cycling skills and build confidence to become regular and safe cyclists. The programme will be jointly operated by the Royal Borough of Kensington &amp; Chelsea and the London Borough of Hammersmith &amp; Fulham</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.&nbsp; </p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large- and small-scale transport projects every year.&nbsp; </p>
<p>Last year in Hammersmith &amp; Fulham it financed 170 cycle parking spaces, cycle training for 292 children and 143 adults, the removal of 475 metres of guardrail, 24 schools to participate in walking events and 19 in cycling events,&nbsp;four new on-street car club bays and 125 new street trees.</p>
<p>Notable larger projects already undertaken in Hammersmith &amp; Fulham using LIP support include the &pound;115,000 Riverwalk project which has created improvements for pedestrians and cyclists with better access from Upper Mall to Bishops Park/Putney Bridge.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.&nbsp; </p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>&nbsp;Total allocation by programme area:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme</strong></td>
<td><strong>&nbsp;Allocation across London&nbsp;(&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;460</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;1,1988</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;180</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;2,728</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 