


@{ViewBag.Title = "Mayor announces over &pound;147m for transport improvements across London's boroughs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;147m for transport improvements across London's boroughs</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;147m investment for transport schemes across London's boroughs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The money is being distributed to support schemes to make roads safer, smooth traffic flow, rejuvenate town centres and improve facilities for cycling and walking.</p>
<p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process for the boroughs to spend on projects that support the Mayor's Transport Strategy.</p>
<p>A &pound;147m funding package in 2012/13 will finance a range of transport projects locally, including:</p>
<ul>
<li>&pound;1m for the Wood Green Major Scheme in Haringey, which will make urban realm improvements to the town centre, focusing on pedestrian and cycling accessibility, tackling traffic congestion, road safety, bus service reliability and parking and loading issues </li>
<li>&pound;966,000 for the Yiewsley and West Drayton Town Centre Major Scheme in Hillingdon, which will improve the shopping environment and the urban realm, reduce traffic congestion and improve bus flow and open up pedestrian and cycle routes </li>
<li>Over &pound;1m for public realm improvements to Cranbourn Street in the West End, to complete the well-known pedestrian link from Leicester Square to Covent Garden </li>
<li>&pound;320,000 for public realm improvements around Mitcham Town Centre in Merton to revive Mitcham's historic Fair Green to encourage walking and cycling, ease congestion, increase safety, improve access and de-clutter the area </li>
<li>&pound;2.3m towards a major revamp of Sydenham High Street in Lewisham. Works will include widened footways, improved foot and cycle paths, synchronised crossing at all signal junctions and new crossings.</li></ul>
<p>Mayor of London, Boris Johnson said, 'London is undergoing a neo-Victorian level of investment in its transport network.</p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The Local Implementation Plan funds hundreds of large and small-scale transport projects every year.</p>
<p>Last year it financed the removal of 7,000 metres of guardrail, cycle training for more than 40,000 children and 8,000 adults, around 6,000 new cycle parking spaces and 7,800 new street trees.</p>
<p>Notable projects completed this year include:</p>
<ul>
<li>South Woodford Key Walking Route in Redbridge which received &pound;1.9m funding to make the area more pedestrian friendly.&nbsp; This has helped reduce crime by 50 per cent </li>
<li>Greenford Town Centre project which received &pound;1.5m for improvements to the urban realm and better pedestrian and cycling facilities </li>
<li>The regeneration of Purley Town Centre which received over &pound;1.8m, including better access to the rail station and new footways, lighting, crossings and cycle parking </li>
<li>Major improvements to Venn Street, Clapham which received &pound;465,000, as part of the Mayor of London's Great Outdoors programme.&nbsp;This has created new shared space, making it possible for the popular market to be held weekly and allows local restaurants and cafes to use the pavement area </li>
<li>Over &pound;1.3m improvement to East Ham Town Centre with better lighting, widened pavements and CCTV cameras for improved safety ahead of the London 2012 Games</li></ul>
<p>London's Transport Commissioner, Peter Hendy said, 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the capital.</p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year</li></ul>
<p><strong>Total allocation by programme area</strong></p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<th>&nbsp;Programme</th>
<th>&nbsp;Allocation across London (&pound;million)</th>
</tr><tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;20.3</td></tr>
<tr>
<td>&nbsp;Bridge strengthening</td>
<td>&nbsp;&nbsp; 5.3</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;28.0</td></tr>
<tr>
<td>&nbsp;Signals modernisation</td>
<td>&nbsp;&nbsp; 9.8</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;&nbsp; 3.3</td></tr>
<tr>
<td>&nbsp;Borough Officer training</td>
<td>&nbsp;&nbsp; 0.3</td></tr>
<tr>
<td>&nbsp;Partnerships</td>
<td>&nbsp;&nbsp; 0.87</td></tr>
<tr>
<td>&nbsp;Corridors, neighbours and supporting measures</td>
<td>&nbsp;79.93</td></tr>
<tr>
<th>&nbsp;TOTAL</th>
<th>&nbsp;147.8</th></tr></tbody></table></div>
<p><strong>Funding allocations for 2012/13</strong></p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="80%" border="1">
<tbody>
<tr>
<th>&nbsp;Borough</th>
<th>&nbsp;Corridors, neighbourhoods and supporting measures</th>
<th>&nbsp;Principal road maintenance(1)</th>
<th>&nbsp;Major schemes(2)</th>
<th>&nbsp;Local transport funding</th>
<th>&nbsp;Total</th></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;&pound;'000</td>
<td>&nbsp;&pound;'000</td>
<td>&nbsp;&pound;'000</td>
<td>&nbsp;&pound;'000</td>
<td>&nbsp;&pound;'000</td></tr>
<tr>
<td>&nbsp;Barking and Dagenham</td>
<td>&nbsp;1,670</td>
<td>&nbsp;493</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;2,263</td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>&nbsp;3,729</td>
<td>&nbsp;945</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;4,774</td></tr>
<tr>
<td>&nbsp;Bexley</td>
<td>&nbsp;1,990</td>
<td>&nbsp;981</td>
<td>&nbsp;2,500</td>
<td>&nbsp;100</td>
<td>&nbsp;5,571</td></tr>
<tr>
<td>&nbsp;Brent</td>
<td>&nbsp;2,600</td>
<td>&nbsp;793</td>
<td>&nbsp;500</td>
<td>&nbsp;100</td>
<td>&nbsp;3,993</td></tr>
<tr>
<td>&nbsp;Bromley</td>
<td>&nbsp;2,828</td>
<td>&nbsp;869</td>
<td>&nbsp;1,500</td>
<td>&nbsp;100</td>
<td>&nbsp;5,297</td></tr>
<tr>
<td>&nbsp;Camden</td>
<td>&nbsp;2,419</td>
<td>&nbsp;413</td>
<td>&nbsp;500</td>
<td>&nbsp;100</td>
<td>&nbsp;3,432</td></tr>
<tr>
<td>&nbsp;City of London</td>
<td>&nbsp;832</td>
<td>&nbsp;144</td>
<td>&nbsp;539</td>
<td>&nbsp;100</td>
<td>&nbsp;1,615</td></tr>
<tr>
<td>&nbsp;Croydon</td>
<td>&nbsp;3,163</td>
<td>&nbsp;862</td>
<td>&nbsp;1,700</td>
<td>&nbsp;100</td>
<td>&nbsp;5,825</td></tr>
<tr>
<td>&nbsp;Ealing</td>
<td>&nbsp;3,278</td>
<td>&nbsp;724</td>
<td>&nbsp;650</td>
<td>&nbsp;100</td>
<td>&nbsp;4,752</td></tr>
<tr>
<td>&nbsp;Enfield</td>
<td>&nbsp;3,119</td>
<td>&nbsp;1,030</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;4,249</td></tr>
<tr>
<td>&nbsp;Greenwhich</td>
<td>&nbsp;2,627</td>
<td>&nbsp;766</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;3,493</td></tr>
<tr>
<td>&nbsp;Hackney</td>
<td>&nbsp;2,247</td>
<td>&nbsp;270</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;2,617</td></tr>
<tr>
<td>&nbsp;Hammersmith and&nbsp;Fulham</td>
<td>&nbsp;1,988</td>
<td>&nbsp;460</td>
<td>&nbsp;180</td>
<td>&nbsp;100</td>
<td>&nbsp;2,728</td></tr>
<tr>
<td>&nbsp;Harngey</td>
<td>&nbsp;2,167</td>
<td>&nbsp;525</td>
<td>&nbsp;1,000</td>
<td>&nbsp;100</td>
<td>&nbsp;3,792</td></tr>
<tr>
<td>&nbsp;Harrow</td>
<td>&nbsp;1,678</td>
<td>&nbsp;685</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;2,463</td></tr>
<tr>
<td>&nbsp;Havering</td>
<td>&nbsp;2,483</td>
<td>&nbsp;495</td>
<td>&nbsp;1,705</td>
<td>&nbsp;100</td>
<td>&nbsp;4,783</td></tr>
<tr>
<td>&nbsp;Hillingdon</td>
<td>&nbsp;2,832</td>
<td>&nbsp;789</td>
<td>&nbsp;966</td>
<td>&nbsp;100</td>
<td>&nbsp;4,687</td></tr>
<tr>
<td>&nbsp;Hounslow</td>
<td>&nbsp;2,721</td>
<td>&nbsp;556</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;3,377</td></tr>
<tr>
<td>&nbsp;Islington</td>
<td>&nbsp;2,009</td>
<td>&nbsp;320</td>
<td>&nbsp;250</td>
<td>&nbsp;100</td>
<td>&nbsp;2,679</td></tr>
<tr>
<td>&nbsp;Kensington and Chelsea</td>
<td>&nbsp;1,955</td>
<td>&nbsp;250</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;2,305</td></tr>
<tr>
<td>&nbsp;Kingston</td>
<td>&nbsp;1,544</td>
<td>&nbsp;450</td>
<td>&nbsp;2,010</td>
<td>&nbsp;100</td>
<td>&nbsp;4,104</td></tr>
<tr>
<td>&nbsp;Lambeth</td>
<td>&nbsp;2,940</td>
<td>&nbsp;425</td>
<td>&nbsp;1,600</td>
<td>&nbsp;100</td>
<td>&nbsp;5,065</td></tr>
<tr>
<td>&nbsp;Lewisham</td>
<td>&nbsp;2,699</td>
<td>&nbsp;320</td>
<td>&nbsp;2,300</td>
<td>&nbsp;100</td>
<td>&nbsp;5,419</td></tr>
<tr>
<td>&nbsp;Merton</td>
<td>&nbsp;1,775</td>
<td>&nbsp;490</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;2,365</td></tr>
<tr>
<td>&nbsp;Newham</td>
<td>&nbsp;2,318</td>
<td>&nbsp;786</td>
<td>&nbsp;2,000</td>
<td>&nbsp;100</td>
<td>&nbsp;5,204</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>&nbsp;2,463</td>
<td>&nbsp;549</td>
<td>&nbsp;2,000</td>
<td>&nbsp;100</td>
<td>&nbsp;5,112</td></tr>
<tr>
<td>&nbsp;Richmond</td>
<td>&nbsp;1,941</td>
<td>&nbsp;838</td>
<td>&nbsp;1,000</td>
<td>&nbsp;100</td>
<td>&nbsp;3,879</td></tr>
<tr>
<td>&nbsp;Southwark</td>
<td>&nbsp;2,875</td>
<td>&nbsp;471</td>
<td>&nbsp;650</td>
<td>&nbsp;100</td>
<td>&nbsp;4,096</td></tr>
<tr>
<td>&nbsp;Sutton</td>
<td>&nbsp;1,547</td>
<td>&nbsp;214</td>
<td>&nbsp;</td>
<td>&nbsp;100</td>
<td>&nbsp;1,861</td></tr>
<tr>
<td>&nbsp;Tower Hamlets</td>
<td>&nbsp;2,515</td>
<td>&nbsp;69</td>
<td>&nbsp;250</td>
<td>&nbsp;100</td>
<td>&nbsp;2,934</td></tr>
<tr>
<td>&nbsp;Waltham Forest</td>
<td>&nbsp;2,235</td>
<td>&nbsp;645</td>
<td>&nbsp;1,461</td>
<td>&nbsp;100</td>
<td>&nbsp;4,441</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;2,841</td>
<td>&nbsp;309</td>
<td>&nbsp;1,457</td>
<td>&nbsp;100</td>
<td>&nbsp;4,707</td></tr>
<tr>
<td>&nbsp;Westminster</td>
<td>&nbsp;3,903</td>
<td>&nbsp;809</td>
<td>&nbsp;1,150</td>
<td>&nbsp;100</td>
<td>&nbsp;5,962</td></tr>
<tr>
<th>&nbsp;TOTAL</th>
<th>&nbsp;79,930</th>
<th>&nbsp;18,745</th>
<th>&nbsp;27,868</th>
<th>&nbsp;3,300</th>
<th>&nbsp;129,843</th></tr></tbody></table></div>
<p>1. &pound;1,560k Principal Road Maintenance funding has been allocated for the pan London annual condition surveys.<br>2. &pound;132k of Major Schemes funding has been allocated for design support and reviews.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The money is being distributed to support schemes to make roads safer, smooth traffic flow, rejuvenate town centres and improve facilities for cycling and walking.The funding has been allocated by Transport for London (TfL) through the Local";}
        
        


 