


@{ViewBag.Title = "Mayor announces more than &pound;4.2m for local transport improvements in Enfield";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces more than &pound;4.2m for local transport improvements in Enfield</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced more than &pound;4.2m for transport improvements in Enfield.
        
    </div>



 <div class="on-this-page">
<p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;4.2m funding package in 2012/13 will finance a range of transport projects in Enfield, including:</p>
<ul>
<li>&pound;200,000 to design and implement improvement works at Ponders End, particularly focusing on the urban realm and facilitating pedestrian and cyclist crossing the A10. The proposal includes greater accessibility&nbsp;to&nbsp;nearby rail stations and improvements to road safety</li>
<li>&pound;100,000 for an ongoing programme to deliver bus stop improvements borough-wide</li>
<li>&pound;100,000 for the provision of a nationally accredited cycle training course for both adults and children</li>
<li>&pound;220,000 for the Brimsdown Greenway to make walking and cycling provision that connects local parks and green areas including the Enfield Playing Fields</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.&nbsp; </p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large- and small-scale transport projects every year.&nbsp; </p>
<p>Last year in Enfield it financed 68 on-street cycle parking spaces, cycle training for 1,329 children and 57 adults, the removal of 300 metres of guardrail, 183 road safety education and training events, for 111 schools to participate in walking events and 840 new street trees.</p>

<p>Notable larger projects already undertaken in Enfield this year include improved safety for pedestrians and cyclists on Harbet Road/Towpath Road and the promotion of new walking routes for the London 2012 Games, which received &pound;212,000 LIP funding. </p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.&nbsp; </p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>&nbsp;Total allocation by programme area:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme</strong></td>
<td><strong>&nbsp;Allocation across London&nbsp;(&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;1,030</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;3,119</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;4,249</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 