


@{ViewBag.Title = "Mayor hails successful bid to make more London Overground stations step free ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails successful bid to make more London Overground stations step free </h1>
        <div class="content-page-press-release">
        08 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers with restricted mobility, parents with buggies, the elderly and travellers with heavy luggage are all set to benefit from easier access to London Overground stations thanks to funding to make the stations step free.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have fought tremendously hard for this funding and I am delighted that lifts will now be possible at Hampstead Heath Crystal Palace, West Hampstead, Kensal Rise, South Tottenham and Blackhorse Road stations for passengers who need them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have fought tremendously hard for this funding and I am delighted that lifts will now be possible at Hampstead Heath Crystal Palace, West Hampstead, Kensal Rise, South Tottenham and Blackhorse Road stations for passengers who need them
                            
                        </p>
                    </div>
                
            
            
            <p>London Overground has successfully secured over &pound;5 million towards the cost of lifts at six London Overground stations from the Department for Transport's Access for All scheme, which aims to improve step-free access on the nation's railways. </p>
<p>Crystal Palace station, which currently only has stair access, will see a new lift as part of the wider work to upgrade the station.</p>
<p>The major refurbishment of the station including improved accessibility, passenger information and the reopening of the Victorian booking hall is expected to begin in spring 2012, with work hoped to be complete by mid 2013.</p>
<p>A detailed design has already been undertaken for the station and a contractor is due to be appointed to deliver the upgrade work.</p>
<p>It is expected that the new lifts will be installed at the other five stations in 2014 bringing the total number of accessible stations on the network to 42 stations. </p>
<p>Thanks to previous funding from the Access for All scheme, lifts are currently being installed at Camden Road, Gospel Oak, Hackney Central and Wembley Central stations, which will all have step-free access in time for the London 2012 Games. </p>
<p>The Mayor of London, Boris Johnson, said: 'We have fought tremendously hard for this funding and I am delighted that lifts will now be possible at Hampstead Heath Crystal Palace, West Hampstead, Kensal Rise, South Tottenham and Blackhorse Road stations for passengers who need them. </p>
<p>'Accessibility is a top priority and I am determined to continue to campaign for access funding across the entire network.'</p>
<p>Mike Brown, Managing Director at LU, said: 'These lifts will make a huge difference to our passengers and will make it easier for them to access our services. We will continue to look in to other means of funding accessibility improvements on the Overground network. </p>

<p>'Meanwhile, lifts are already being installed at a number of stations in time for the London 2012 Games.'&nbsp;
<hr>
<strong>Notes to editors:</strong> </p>
<p>
<ul>
<li>Applications were made by Transport for London (TfL)&nbsp;in May 2011 for funding for the following stations: Crystal Palace, Hampstead Heath, West Hampstead, Kensal Rise, Blackhorse Road and South Tottenham </li>
<li>TfL also welcomes funding for accessibility improvements at Stratford,&nbsp; Crayford, Edmonton Green, Paddington, Battersea Park, Carshalton, Norbury, Riddlesdown, West Norwood, Bexleyheath, Queens Road Peckham, Hackbridge and Richmond stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Overground has successfully secured over &pound;5 million towards the cost of lifts at six London Overground stations from the Department for Transport's Access for All scheme, which aims to improve step-free access on the nation's railways.";}
        
        


 