


@{ViewBag.Title = "Mayor announces over &pound;3.9m for local transport improvements in Brent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;3.9m for local transport improvements in Brent</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;3.9m for transport improvements in Brent.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;3.9m funding package in 2012/13 will finance a range of transport projects in Brent, including: </p>
<ul>
<li>&pound;500,000 towards the first phase of works on Harlesden Town Centre, which will transform the area by reducing congestion and improve the urban realm. The scheme is currently being designed in partnership with the resident-led Harlesden Town Team </li>
<li>&pound;275,000 towards a programme of works near to local schools to improve accessibility for pedestrians and cyclists and safety </li>
<li>&pound;310,000 for road safety improvements at various locations including: High Road, Willesden - Brenthurst Road - Cobbold Road, Dudden Hill Lane - Burnley Road - Chapter Road&nbsp; Preston Road - Elmstead Avenue, to bring about a reduction in casualties </li>
<li>&pound;100,000 towards measures on Chamberlayne Road (Kensal Rise) to improve road safety, increase accessibility and make better provision for cyclists </li></ul>
<p>Mayor of London, Boris Johnson, said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.&nbsp;</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large and small scale transport projects every year.&nbsp; </p>
<p>Last year in Brent it financed cycle training for 410 children and 103 adults; the removal of 180 metres of guardrail, 16 improved pedestrian crossings, for 37 schools to participate in walking events and for two new off-street electric vehicle charging points.</p>
<p>Notable larger projects already underway in Brent using LIP support include improvements to the Willesden Green town centre corridor which used &pound;282,000 LIP funding to improve pedestrian routes with measures to simplify the streetscape and upgrade crossings as well as smooth traffic flow, reduce collisions and support greener forms of travel.</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Year-on-year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the capital.&nbsp; </p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>Total allocation by programme area:<br></li></ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme</strong></td>
<td>&nbsp;<strong>Allocation across London (&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;793</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;500</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;2,600</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td><strong>&nbsp;3,993</strong></td></tr></tbody></table></div>
<p>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 