


@{ViewBag.Title = "Mayor and DfT announce &pound;10 million to cut pollution from Capital's bus fleet ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and DfT announce &pound;10 million to cut pollution from Capital's bus fleet </h1>
        <div class="content-page-press-release">
        08 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Up to 1,000 buses will be fitted with innovative equipment to reduce pollution as part of the Mayor's plans to deliver cleaner air for London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a significant step forward in our plans to deliver cleaner air in London. Road pollution is a health risk to Londoners and I am implementing a range of innovative measures to tackle a legacy of poor air quality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a significant step forward in our plans to deliver cleaner air in London. Road pollution is a health risk to Londoners and I am implementing a range of innovative measures to tackle a legacy of poor air quality
                            
                        </p>
                    </div>
                
            
            
            <p>This will be Europe's largest initiative of its kind and follows a commitment of &pound;5million from the Department for Transport and an equal sum from Transport for London (TfL).&nbsp;</p>
<p>London's bus fleet is already the cleanest in the UK but buses are still a major source of NOx - a harmful pollutant - especially in inner London. </p>
<p>The new equipment will cut NOx emissions from buses by around 400 tonnes - around 10 per cent of all bus NOx emissions - making a substantial contribution to delivering the Mayor's air quality ambitions. </p>
<p>TfL will target the funding at bus routes where concentrations of NOx are highest, with the first conversions expected by summer 2012. </p>
<p>The move will build on the year-long trial of the new equipment currently underway on a small fleet of buses. </p>
<p>It is hoped that the London initiative will also help promote UK jobs in manufacturing and supplying clean vehicle technology.<br>&nbsp;<br>This is one way the Mayor is delivering cleaner air for London. </p>
<p>Other measures include targeted initiatives at pollution hotspots, tighter Low Emission Zone standards in early 2012 and cleaner taxis.</p>
<p>In addition, the Mayor's New Bus for London uses the latest generation of green technology, making it 40 per cent cleaner than a standard diesel vehicle. <br>&nbsp;<br>Mayor of London&nbsp;Boris Johnson said: 'This is a significant step forward in our plans to deliver cleaner air in London. Road pollution is a health risk to Londoners and I am implementing a range of innovative measures to tackle a legacy of poor air quality. </p>
<p>'I warmly welcome the Government's generous support for our ambitious plans to make London's bus fleet cleaner and greener to improve quality of life.'<br>&nbsp;<br>Transport Minister Norman Baker said: 'The Department for Transport is concerned about air pollution levels in London and offered &pound;5m to TfL to help clean up polluting buses, subject to match funding being agreed. </p>
<p>'I am delighted that the Mayor has done so. This is in addition to a 3rd round for the Green Bus Fund worth &pound;20m for buses across England.'</p>

<h2>Meeting standards</h2>
The Mayor's air quality strategy proposes that, subject to funding, all London buses should meet Euro IV (categories of vehicle approved by Europe to meet cleaner pollution levels) standards for NOx by 2015. 
<p>Currently, all 8,500 London buses already meet the Euro IV standard for PM (particulate matter) and are compliant with the next stage of Low Emission Zone requirements being introduced next year. </p>
<p>This new equipment will be fitted to older Euro III buses to bring them to Euro IV NOx standards.</p>
<p>The funding announced today follows lobbying by the Mayor to the Government to support this policy and will help in working towards the NO2 limit value.</p>
<p>TfL estimates that by 2015, 7,500 buses will be Euro IV NOx compliant (through replacing older buses with newer, cleaner models or through retrofitting). Additional funding is now being sought for the replacement or retrofitting of an estimated remaining 1,000 Euro III buses which would need to meet this standard by 2015.<br>&nbsp;<br>TfL has taken considerable steps in the last 10 years to reduce the environmental impact of its bus fleet.</p>
<p>As a result, emissions of PM10 from the fleet have dropped from over 200 tonnes in 1997 to 14 tonnes in 2010. </p>
<p>This announcement moves the fleet towards its goal of delivering similar reductions for NOx. <br>&nbsp;<br>Mike Weston, London Buses Operations Director, said: 'London continues to look for ways to improve the emissions and environmental performance of the bus fleet and this funding will ensure that we continue to have the cleanest bus fleet in the UK.'<br>&nbsp;<br>The buses will be retrofitted with 'selective catalytic reduction' equipment. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>NOx is primarily made up of two pollutants, nitric oxide (NO) and nitrogen dioxide (NO2). Stringent EU targets are in place for NO2 </li>
<li>TfL operates five hydrogen buses, on the route RV1 between Covent Garden and Tower Gateway. They emit only water vapour </li>
<li>TfL will have more than 300 hybrid buses in its fleet by 2012<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will be Europe's largest initiative of its kind and follows a commitment of &pound;5million from the Department for Transport and an equal sum from Transport for London (TfL).&nbsp;London's bus fleet is already the cleanest in the UK but buses are";}
        
        


 