


@{ViewBag.Title = "Mayor announces over &pound;5.5m for local transport improvements in Bexley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;5.5m for local transport improvements in Bexley</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor announces over &pound;5.5m for local transport improvements in Bexley.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.  
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;5.5m funding package in 2012/13 will finance a range of transport projects in Bexley, including: </p>
<ul>
<li>&pound;600,000 for continued improvements to the Welling Corridor, including a better junction design at Welling Corner, enhanced pedestrian facilities and public realm improvements within Welling Town Centre </li>
<li>&pound;190,000 for regeneration in and around Crayford. Works will include junction improvements at Bourne Road and London Road, enhancing the public realm around local shops, nearby schools and local attractions as well as measures to smooth traffic flow and improve footways to encourage walking </li>
<li>&pound;50,000 to complete public realm and other treatments on the High Street and Main Road in Sidcup Town Area</li></ul>
<p>Mayor of London, Boris Johnson, said: 'London is undergoing a neo-Victorian level of investment in its transport network.</p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.&nbsp; </p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large and small scale transport projects every year.&nbsp; </p>
<p>Last year in Bexley it financed 30 on-street cycle parking spaces, cycle training for 806 children and 48 adults, removal of 280 metres of guardrail, 170 road safety education and training events, enabled 117 schools to participate in walking events and 22 in cycling events and for 389 new street trees.</p>
<p>Notable larger projects undertaken in Bexley this year include completion of access improvements at Albany Park Station which received &pound;337,000 over the last two years to improve footpaths, new lighting, install CCTV cameras, enhance pedestrian signage as well as&nbsp; introduce one way working to facilitate safer setting down and picking up of passengers and improved deliveries. </p>
<h2>Vision for transport</h2>
<p>London's Transport Commissioner, Peter Hendy, said: 'Year-on-year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.&nbsp; </p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>Total allocation by programme area:<br></li></ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme</strong></td>
<td>&nbsp;<strong>Allocation across London (&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;981</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;2,500</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;1,990</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td><strong>&nbsp;5,571</strong></td></tr></tbody></table></div>
<p>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 