


@{ViewBag.Title = "Mayor heralds the arrival of the new bus for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor heralds the arrival of the new bus for London</h1>
        <div class="content-page-press-release">
        16 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Prototype seen for first time in the Capital. Seven more buses to follow early next year and enter service on 20 February, 2012. Buses to serve the busy route 38 between Victoria and Hackney. New bus will be the most environmentally friendly of its kind.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This bus has been designed from the wheels up with the complex needs of Londoners in mind"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This bus has been designed from the wheels up with the complex needs of Londoners in mind
                            
                        </p>
                    </div>
                
            
            
            <p>The first bus designed specifically for London in more than 50 years arrived in the Capital today.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, committed to build the bus in his election manifesto and he was one of the first to jump on board today when the bus was driven from City Hall to Trafalgar Square to be unveiled in front of Christmas shoppers, tourists and Londoners.</p>
<p>In just under two years the new bus has gone from the drawing board to a fully functioning prototype.&nbsp; </p>
<p>Today the Mayor announced that the first prototype buses will be operated by Arriva and will enter passenger service on 20 February next year on one of the Capital's busiest routes, the 38, which runs from Victoria station to Hackney. </p>
<p>The new bus has been designed, engineered and built by Wrightbus in Northern Ireland with aesthetic design by the London-based Heatherwick Studio.&nbsp; </p>
<p>It incorporates the most innovative and cutting-edge hybrid technology and will be the most environmentally friendly bus of its kind when it enters passenger service.</p>
<p>A team of 25 engineers and a 40-strong production team at Wrightbus have worked on the first prototypes.&nbsp; </p>
<p>But the manufacture of the bus has stimulated industries across the UK and, in a difficult economic climate, the Mayor is confident that when the bus goes into full production it will create many more jobs around the country. </p>
<h2>Cutting-edge technology</h2>
<p>The Mayor of London, Boris Johnson, said: 'Christmas has arrived early in the form of this revolutionary new bus whose gleaming coat of red paint and sinuous curves will brighten the day of all who see it humming along our great city's streets.&nbsp; </p>
<p>'It is the latest, greatest masterpiece of British engineering and design, and I am certain it will become a much-loved and iconic vehicle akin to the legendary Routemaster from which it draws so much inspiration.'</p>
<p>The new bus received the thumbs up today when it hosted its first event - as a London radio station broadcasted its breakfast show live from the bus - before it was driven through the streets of the Capital to be unveiled at Trafalgar Square.&nbsp; </p>
<p>Children from Kew Riverside Primary School, that won a prize in the original design competition, were also at Trafalgar Square to see the bus arrive.</p>
<p>Transport for London Commissioner Peter Hendy said: 'It is a phenomenal achievement to get a bus of this calibre from the drawing board to the streets of London in just two years and my congratulations goes to all who have worked tirelessly to make this happen.&nbsp; </p>
<p>'This bus has been designed from the wheels up with the complex needs of Londoners in mind; it truly is a 21st century bus.&nbsp; </p>
<p>'It's stylish and comfortable, and will ensure a smooth ride for all on board as well as an eye catching spectacle for those who will see it glide through the streets of London.'</p>
<h2>Passenger trials</h2>
<p>Over the next few weeks the bus will undergo testing for certification purposes and will be put through its paces by the Arriva staff who will be responsible for driving and crewing them when they enter service early next year.&nbsp; </p>
<p>In total&nbsp;eight prototype buses will enter passenger service in the first half of next year.&nbsp; </p>
<p>The prototype buses will be trialled in passenger service and the performance and passenger feedback will be evaluated.&nbsp; </p>
<p>If the trial is deemed successful there could be hundreds of these buses operating across London in the coming years.&nbsp;&nbsp; </p>
<p>This new bus will be the most environmentally friendly bus of its kind when it enters passenger service.&nbsp; </p>
<p>In tests at Millbrook Proving Ground, the engineering test vehicle emitted only 640 grams per kilometre (g/km) of carbon dioxide and 3.96 g/km of oxides of nitrogen (NOx) - less than half of the carbon dioxide emitted by a current diesel bus (1295g/km) and under half of the NOx emitted by a current diesel bus (9.3g/km).&nbsp; </p>
<p>In testing, fuel economy was also better than twice that of a standard diesel bus at 11.6mpg </p>
<p>Wrightbus was awarded the contract for engineering design and to build the New Bus for London in January 2010.&nbsp; </p>
<p>London-based designers Heatherwick Studio provided the exterior and interior design and the result is a vehicle that not only has an iconic look but every aspect of its design has at its heart the complex needs of London's bus passengers.&nbsp; </p>
<h2>Designed for London</h2>
<p>Critical design features include three entrances and two staircases to deliver speedy boarding, a new seat and moquette design, innovative use of new materials and an open platform at the rear, in common with the iconic Routemaster.&nbsp; </p>
<p>The rear platform will be open when there is a conductor on board allowing passengers to hop on and off at bus stops.&nbsp; </p>
<p>The three sets of doors will ensure easy access on and off the bus and quick access up to the upper deck via the two staircases. </p>
<p>Thomas Heatherwick, of Heatherwick Studio, said: 'It has been 50 years since a bus was last designed and commissioned specifically for London.&nbsp; </p>
<p>This has been a once-in-a-lifetime opportunity for a team to look again at the opportunities for a new open-platform bus.&nbsp; </p>
<p>It has been an honour to be asked by London's transport authority to take an integrated approach and design everything that you see and experience from the outside down to the tiniest details of the interior.'</p>
<p>Bob Scowen, Managing Director for Arriva London said: 'Everyone involved with the running of route 38 is looking forward to testing the new bus and putting it through its paces.'</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>Founded in 1946, and still a family owned and managed company, the Wright Group has pioneered low-floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features
<li>Heatherwick Studio exists to make extraordinary projects happen.&nbsp;Established by Thomas Heatherwick in 1994, it is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking.&nbsp;Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation</li>
<li>Arriva is one of the largest providers of passenger transport in Europe, employing some 47,500 people and delivering more than 1.5 billion passenger journeys every year. They provide transport services including buses, trains, commuter coaches and waterbuses, and operate in 12 European countries: Czech Republic, Denmark, Hungary, Italy, Malta, the Netherlands, Poland, Portugal, Slovakia, Spain, Sweden and the UK</li>
<li>The full route 38 runs between Victoria Station and Clapton Pond although many buses are scheduled only to operate as far as Hackney Central</li>
<li>Images from the event will be available on request from the TfL Press Office</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first bus designed specifically for London in more than 50 years arrived in the Capital today.&nbsp; The Mayor of London, Boris Johnson, committed to build the bus in his election manifesto and he was one of the first to jump on board today when the";}
        
        


 