


@{ViewBag.Title = "Mayor announces over &pound;5.2m for local transport improvements in Bromley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;5.2m for local transport improvements in Bromley</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;5.2m for transport improvements in Bromley.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;5.2m funding package in 2012/13 will finance a range of transport projects in Bromley, including: </p>
<ul>
<li>&pound;1.5m for improvements to Bromley North Village in Bromley town centre to help revitalise local shopping streets </li>
<li>&pound;100,000 towards the completion of repair works on Chislehurst Bridge </li>
<li>&pound;355,000 to provide cycle training to cyclists of all ages, improve cycle parking and maintain cycle routes as well as create off-road cycle links to promote leisure cycling and support the Mayor's Cycle Revolution </li>
<li>&pound;180,000 for a range of measures to encourage more people to walk to support the Mayor of London's 'Making Walking Count' agenda, including improvements to walking routes in the borough</li></ul>
<p>Mayor of London, Boris Johnson, said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large and small scale transport projects every year.</p>
<p>Last year in Bromley it financed 118 new on-street cycle parking spaces, cycle training for 3,108 children and 184 adults, seven new accessible bus stops, nine 20mph zones, for 80 schools to participate in walking events and 11 in cycling events and 497 new street trees. </p>
<h2>Working in partnership</h2>
<p>Notable larger projects already undertaken in Bromley include the Orpington Town Centre, makeover which received &pound;1.2m LIP funding towards the &pound;2.2m project as part of the Mayor of London's Great Outdoors programme to help transform the area into a safer and more attractive place to visit and to shop. </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.</p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp;</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>Total allocation by programme area:</li></ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme</strong></td>
<td>&nbsp;<strong>Allocation across London (&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;869</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;1,500</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;2,828</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td><strong>&nbsp;5,297</strong></td></tr></tbody></table></div>
<p>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 