


@{ViewBag.Title = "Mayor announces over &pound;4.4m for local transport improvements in Waltham Forest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;4.4m for local transport improvements in Waltham Forest</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;4.4m for transport improvements in Waltham Forest.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking.</p>
<p>The &pound;4.4m funding package in 2012/13 will finance a range of transport projects in Waltham Forest, including:</p>
<ul>
<li>&pound;1,421,000 over two years for Leytonstone Town Centre and Station Area.&nbsp;This Major Scheme will make improvements to the public realm, with emphasis of improving the locations with high pedestrian numbers. The scheme has started on site and will remove street clutter and widened footways, improving crossing facilities, incorporating more cycle stands and better lighting, safety and security </li>
<li>&pound;500,000 to complete the &pound;2m transformation of High Road, Leytonstone from the Thatched House junction to Leytonstone town centre. Implementation has started and will provide public realm improvements, upgrading of pedestrian and cycling facilities, street lighting and connections to nearby destinations </li>
<li>&pound;230,000 to deliver road safety, pedestrian and cycling and environmental improvements in the area around Whipps Cross Road </li>
<li>&pound;450,000 to develop a package of measures to address road safety concerns and reduce the number of collisions in the Hoe Street area </li>
<li>&pound;690,000 for further public realm improvements to Wood Street, including better infrastructure for pedestrians and cyclists, Legible London signage, decluttering the area and tree planting.</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.</p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The Local Implementation Plan funds hundreds of large and small scale transport projects every year.</p>
<p>Last year in Waltham Forest it financed 20 new cycle parking stands, cycle training for 765 children and 129 adults, the removal of 224 metres of guardrail, 1,500 children and 100 adults to participate in road safety training/education, two 20mph zones, 32 schools to participate in walking events and 30 new street trees.</p>
<h2>Working in partnership</h2>
<p>Notable larger projects already undertaken in Waltham Forest this year include the &pound;1.5m High Road, Leytonstone project - which leads to the areas around the Olympic Park.</p>
<p>The project includes improvements for pedestrians, cyclists and public transport users, additional street trees and urban realm improvements.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the capital.</p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. <br>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough. </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year. </li>
<li>Total allocation by programme area:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<th>&nbsp;Programme</th>
<th>&nbsp;Allocation Across London (&pound;million)</th></tr>
<tr>
<td>Principal Road Maintenance</td>
<td>&nbsp;645</td></tr>
<tr>
<td>Local Transport Funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>Corridors, Neighbourhoods and Supporting Measures</td>
<td>&nbsp;1,235</td></tr>
<tr>
<td>Major Schemes</td>
<td>&nbsp;1,461</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;4,441</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 