


@{ViewBag.Title = "Mayor announces more than &pound;3.7m for local transport improvements in Haringey";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces more than &pound;3.7m for local transport improvements in Haringey</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced more than &pound;3.7m for transport improvements in Haringey.
        
    </div>



 <div class="on-this-page">
<p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;3.7m funding package in 2012/13 will finance a range of transport projects in Haringey, including:</p>
<ul>
<li>&pound;1m for the Wood Green Major Scheme, which will make urban realm improvements to the town centre, focusing on pedestrian and cycling accessibility, tackling traffic congestion, road safety, bus service reliability and parking and loading issues</li>
<li>&pound;586,000 for improvements to Green Lanes, focusing on the urban realm, public transport and traffic management. The proposals will also include St Ann's neighbourhood and address road safety concerns, as well as cycling and pedestrian access with the aim of supporting the town centre and encouraging sustainable travel</li>
<li>&pound;147,000 for a Biking Borough Cycle Hub, to continue a three year programme of measures to encourage cycling, focused around Wood Green/Turnpike Lane, including a major cycle hub in Wood Green town centre. This project will compliment the major scheme in the area</li>
<li>&pound;578,000 for a Smarter Travel Programme to encourage greater levels of active travel for entertainment, shopping and leisure trips. This will promote cycling, particularly in the south west of the borough and will also aim to reduce road danger to pedestrians targeted at 11 and 12-year-olds and their parents in the east of the borough.</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.&nbsp; </p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The LIP funds hundreds of large- and small-scale transport projects every year.&nbsp; </p>
<p>Last year in Haringey it financed 34 cycle parking spaces, cycle training for 516 children and 153 adults, the removal of 50 metres of guardrail, 12 new accessible bus stops, 53 schools to participate in walking events, two new on-street electric vehicle charging points and 393 new street trees.</p>

<p>Notable larger projects already undertaken in Haringey using LIP support include road safety measures on the Wood Green High Road which utilised &pound;561,000 to make improvements including a new diagonal crossing and cyclist provisions at Wood Green station.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.&nbsp; </p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>&nbsp;Total allocation by programme area:</li></ul>
<blockquote>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme</strong></td>
<td><strong>&nbsp;Allocation across London&nbsp;(&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;525</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;2,167</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;1,000</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;3,792</td></tr></tbody></table></div></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 