


@{ViewBag.Title = "Mayor announces over &pound;4.7m for local transport improvements in Wandsworth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;4.7m for local transport improvements in Wandsworth</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;4.7m for transport improvements in Wandsworth.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking.</p>
<p>The &pound;4.7m funding package in 2012/13 will finance a range of transport projects in Wandsworth, including:</p>
<ul>
<li>&pound;1.4m towards an on-going scheme to improve Clapham Junction town centre and tackle traffic congestion. Works include improving the road layout, renewing pavements and road surfaces, decluttering footways, planting new trees and upgrading lighting, wayfinding and street furniture </li>
<li>&pound;280,000 for public realm improvements and to create new pedestrian areas </li>
<li>&pound;210,000 to promote cycling through improved cycle parking, cycle training courses, completing cycle route links&nbsp; and a programme of promotional events </li>
<li>&pound;350,000 to improve the look and feel of streets around local shops and provide better pedestrian access to shopping parades.</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.</p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The Local Implementation Plan funds hundreds of large and small scale transport projects every year.</p>
<p>Last year in Wandsworth it financed 81 cycle parking spaces, cycle training for 977 children and 312 adults, the removal of 190 metres of guardrail, road safety training for 9,1967 children, seven new accessible bus stops, 37 schools to participate in walking events and ten in walking events and 200 new street trees.</p><strong>
<h2>Working in partnership</h2>
<p></strong>Notable larger projects undertaken in Wandsworth this year include the recommissioned Brighton Yard entrance to Clapham Junction station as part of the Mayor of London's Great Outdoors programme which had been disused for more than 50 years.<p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the capital.</p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. <br></p>
<p>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough. </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year. </li>
<li>Total allocation by programme area:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<th>&nbsp;Programme</th>
<th>&nbsp;Allocation Across London (&pound;million)</th></tr>
<tr>
<td>Local Transport Funding</td>
<td>&nbsp;309</td></tr>
<tr>
<td>Principal Road Maintenance&nbsp;</td>
<td>&nbsp;100</td></tr>
<tr>
<td>Corridors, Neighbourhoods and Supporting Measures</td>
<td>&nbsp;2,841<br></td></tr>
<tr>
<td>Major Schemes</td>
<td>&nbsp;1,457<br></td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;<strong>4,707</strong></td></tr></tbody></table></div></p>
<p><strong>About Mayor of London's Great Outdoors</strong></p>
<p>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'.</p>
<p>Together they set out the Mayor of London's vision for improving public spaces in London.</p>
<p>This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the capital.</p>
<p>They are accompanied by an implementation plan that will see &pound;355 million invested in over 80 public realm improvement projects between 2009 and 2012 Games, funding for which comes from Transport for London, The London Development Agency and London's boroughs as well as other sources.</p>
<p>The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways.</p>
<p>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and Transport for London.</p>
<p>For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 