


@{ViewBag.Title = "Mayor announces over &pound;2.3m for local transport improvements in Merton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;2.3m for local transport improvements in Merton</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;2.3m for transport improvements in Merton.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking. </p>
<p>The &pound;2.3m funding package in 2012/13 will finance a range of transport projects in Merton, including: </p>
<ul>
<li>&pound;320,000 for improvements around Mitcham Town Centre to revive Mitcham's historic Fair Green by introducing public realm improvements to promote walking and cycling, ease congestion, increase safety, improve access and de-clutter the area </li>
<li>&pound;320,000 for traffic and public realm improvements in Wimbledon Town Centre to be delivered ahead of the 2012 Games as part of the Mayor's Great Outdoors programme </li>
<li>&pound;220,000 for a number of improvements for cyclists, including new cycle lanes, cycle parking and cycle training. These measures are in line with Merton's objective to encourage more people to cycle and are being delivered alongside the council's Biking Borough initiatives </li>
<li>&pound;30,000 to support funding for electric vehicle infrastructure to promote sustainable ways of travel</li></ul>
<p>Mayor of London, Boris Johnson, said: 'London is undergoing a neo-Victorian level of investment in its transport network.&nbsp; </p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The&nbsp;LIP funds hundreds of large and small scale transport projects every year.</p>
<p>Last year in Merton it financed 175 cycle parking spaces, cycle training for 2,983 children and 164 adults, the removal of 702 metres of guardrail, three 20 mph zones, 16 new accessible bus stops, 17 schools to participate in walking events and 12 in cycling events and 148 new street trees.</p>
<h2>Working in partnership</h2>
<p>Notable larger projects undertaken in Merton this year include 'Destination Wimbledon', a 2012 Games-related scheme and part of the Mayor of London's Great Outdoors programme delivering a high quality public realm gateway into Wimbledon town centre.</p>
<p>The project received over &pound;1.8m LIP Major Scheme funding for a package of traffic and public realm improvements that includes better pedestrian links to the town centre such as a diagonal crossing at the junction of Alexandra Road and St George&acute;s Road.</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the Capital.</p>
<p>'This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14.</p>
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year </li>
<li>Total allocation by programme area:</li></ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme</strong></td>
<td>&nbsp;<strong>Allocation across London (&pound;m)</strong></td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>490</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>100</td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>1,775</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td><strong>2,365</strong></td></tr></tbody></table></div>
<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 