


@{ViewBag.Title = "Mayor announces over &pound;2.9m for local transport improvements in Tower Hamlets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces over &pound;2.9m for local transport improvements in Tower Hamlets</h1>
        <div class="content-page-press-release">
        15 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has today announced over &pound;2.9m for transport improvements in Tower Hamlets.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.
                            
                        </p>
                    </div>
                
            
            
            <p>The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow, rejuvenating town centres and better facilities for cycling and walking.</p>
<p>The &pound;2.9m funding package in 2012/13 will finance a range of transport projects in Tower Hamlets, including:</p>
<ul>
<li>&pound;250,000 to improve Bethnal Green Road streetscene. Work will focus on measures to reduce accidents and enhance the physical environment by removing unnecessary street furniture, improving signage and cycle parking, widening footways and making them secure. Work will also include measures to smooth the flow of traffic to improve bus journey times as well as creating green spaces </li>
<li>&pound;300,000 to improve the junctions of Vallance Road with Whitechapel Road, working with TfL, to improve safety and complement developments in the area </li>
<li>&pound;500,000 to continue works to transform St. Paul's Way and complement the major redevelopment of that area which is now taking place. Improvements include better lighting, de-cluttering, guardrail removal, tree planting and widening footpaths as well as reduced carriageway width.&nbsp; Road surfaces will also be levelled to pavement level at side roads to make it easier for people using wheelchairs or those with buggies as well as to encourage lower vehicle speeds. Other works will include making bus stops and pedestrian crossings more accessible, and the creation of shared space which will improve access to local shops.</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is undergoing a neo-Victorian level of investment in its transport network.</p>
<p>'Every London borough is receiving money that will directly benefit communities, making London an even better place to live and work.</p>
<p>'We've also cut bureaucracy to make it easier for the boroughs to decide how they want to spend their funding.'</p>
<p>The Local Implementation Plan funds hundreds of large and small scale transport projects every year.</p>
<p>Last year in Tower Hamlets it financed 51 cycle parking spaces, cycle training for 2,525 children and 605 adults, the removal of 522 metres of guardrail, 141 education and training interventions, 10 new accessible bus stops, enabled 30 schools to participate in walking events and 45 schools in cycling events and 550 new street trees.</p>
<h2>Working in partnership</h2>
<p>Notable larger projects undertaken in Tower Hamlets this year include St. Paul's Way, which received &pound;750,000 of LIP funding and will be completed by Spring 2012.</p>
<p>Improvements are being made to encourage lower vehicle speeds, particularly in the vicinity of the schools.</p>
<p>Other works will make bus stops and pedestrian crossings more accessible, and the creation of shared space which will improve access to local shops as part of a major transformational neighbourhood project.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'Year on year the boroughs continue to deliver innovative projects that support the Mayor's vision for transport in the capital.</p>
<p>This investment will build on the excellent work that has already been achieved and complement the huge programme of work we at TfL are undertaking to make his vision a reality through working in partnership with the boroughs.'</p>
<p>The funding was previously forecast to reduce year on year to reflect the reduced general grant TfL receives from the Department for Transport.</p>
<p>However, because of the importance of the boroughs in delivering the priorities of Mayor's Transport Strategy, the funding has been kept at a consistent level to 2013/14. </p>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough. </li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;5.3m), which will be allocated to the bridges in most need of work will be announced in the New Year. </li>
<li>Total allocation by programme area:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<th>&nbsp;Programme</th>
<th>&nbsp;Allocation Across London (&pound;million)</th></tr>
<tr>
<td>Principal Road Maintenance</td>
<td>&nbsp;69</td></tr>
<tr>
<td>Local Transport Funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>Corridors, Neighbourhoods and Supporting Measures</td>
<td>&nbsp;2,515</td></tr>
<tr>
<td>Major Schemes</td>
<td>&nbsp;250</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;<strong>2,934</strong></td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding has been allocated by Transport for London (TfL) through the Local Implementation Plan (LIP) process and is awarded to the borough to spend on projects that support the Mayor's Transport Strategy, including safer roads, smoothing traffic flow,";}
        
        


 