


@{ViewBag.Title = "Motorcycles to be allowed permanent access to bus lanes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Motorcycles to be allowed permanent access to bus lanes</h1>
        <div class="content-page-press-release">
        21 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that following two extensive trials, motorcycles will be able to drive in bus lanes on a permanent basis on the majority of the Capital's Red Routes from 23 January, 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The two trials have shown reduced journey times and environmental benefits with no significant safety issues thrown up for motorcyclists and other vulnerable road users"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">TfL's Director of Better Routes and Places</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The two trials have shown reduced journey times and environmental benefits with no significant safety issues thrown up for motorcyclists and other vulnerable road users
                            
                        </p>
                    </div>
                
            
            
            <p>The changes will help to deliver a key strand of the Mayor's Transport Strategy. </p>
<p>TfL will now make a permanent traffic regulation order to reflect the decision.</p>
<p>Analysis from two 18 month trials has shown that allowing motorcyclists to use bus lanes is popular, with an estimated 50,000 journeys a day now being made by motorcyclists in the Transport for London Road Network (TLRN) bus lanes.&nbsp;</p>
<p>This has helped contribute to achieving key Mayoral priorities to smooth traffic, cut CO2 across London and to improve journey time reliability for motorcyclists on the network. </p>
<p>The second London-wide trial, scheduled to end on 23 January 2012, builds on an initial trial that took place between January 2009 and June 2010. </p>
<p>The first trial produced a large level of detail about the behaviour of motorcyclists in bus lanes. </p>
<p>This information was used to shape the second trial, which included increased enforcement against motorcyclists speeding and a road safety marketing campaign designed to address issues identified in the first trial.</p>
<p>An independent review of the second trial analysed a wide range of data to help understand the impact of the measures introduced following the first trial and collision rates (calculated by comparing the volume of journeys against the number of collisions).&nbsp;</p>
<h2>Key findings</h2>
<p>The review also analysed the longer-term impact by assessing changes in collision rates between the second trial and the period before motorcyclists were allowed into bus lanes.&nbsp; </p>
<p>The key findings of the review include the fact that: </p>
<ul>
<li>Collision rates in bus lanes in the second trial decreased by 5.8 per cent for motorcyclists and by 8.5 per cent for cyclists when compared with the first trial </li>
<li>There was no significant change in the collision rates for pedestrians in bus lanes between the two trials </li>
<li>When comparing the second trial with the period before motorcyclists were permitted access to bus lanes, there was a significant (11.6 per cent) decline in overall cycling collision rates in bus lanes and no significant change in collision rates in bus lanes affecting motorcyclists or pedestrians</li></ul>
<p>As part of the second trial, TfL increased enforcement of bus lanes on the TLRN through daily patrols by the Metropolitan Police Motorcycle Tasking Team. </p>
<p>Between August 2010 and December 2011, the team spent almost 1,400 hours carrying out additional enforcement specifically at locations with a high collision history involving motorcycles.</p>
<p>In line with this increased enforcement, the average speed for motorcyclists in bus lanes reduced by 6.5 per cent during the trial, with the proportion of motorcyclists exceeding the speed limit decreasing by one fifth (51 per cent in September 2010 down to 41 per cent in September 2011).</p>
<p>&nbsp;Enforcement and road safety educational activity aimed at encouraging responsible and safe motorcycling in bus lanes will continue in future.</p>
<p>Ben Plowden, TfL's Director of Better Routes and Places, said: 'The results of our latest trial show that the Mayor's policy of providing access to bus lanes along some of the busiest roads in London has delivered strong benefits for motorcyclists and in terms of improving the efficiency of the road network.&nbsp;</p>
<p>'The two trials have shown reduced journey times and environmental benefits with no significant safety issues thrown up for motorcyclists and other vulnerable road users.'&nbsp; </p>
<p>'The additional enforcement measures we introduced have also helped reduce average speeds for riders in bus lanes, delivering benefits for all road users in London.&nbsp;This is an important measure which has proved popular with motorcyclists across the Capital.'</p>
<p>Steve Kenward, CEO of the Motor Cycle Industry Association (MCI) said: 'Industry strongly welcomes TfL's decision. Allowing motorcycles to use bus lanes sends a clear message to road users that motorcycling helps to reduce commuter journey times, traffic congestion and CO2. </p>
<p>'Like cyclists, motorcycle users face vulnerabilities which bus lane use helps to mitigate and we support TfL's recognition of motorcycling as part of the Mayor's strategy to smooth traffic flow and reduce CO2.'<br>&nbsp;<br>For further details about the TfL trial into motorcycles in bus lanes, please visit <a href="http://www.tfl.gov.uk/motorcyclesinbuslanes">tfl.gov.uk/motorcyclesinbuslanes</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>TfL's Motorcycles in Bus Lanes trial was referred to in proposal (30) in the Mayor's Transport Strategy: 
<ul>
<li>The Mayor, through TfL, and working with the London boroughs and other stakeholders, will introduce measures to smooth traffic flow to manage congestion (delay, reliability and network resilience) for all people and freight movements on the road network, and maximise the efficiency of the network. These measures will include: b) allowing motorcycles and scooters to use the TLRN bus lanes subject to a trial period and evaluating its impact.'</li></ul></li>
<li>TfL's previous trial into allowing motorcycles into bus lanes on the TLRN concluded in June 2010 and found that more than half (51 per cent) of motorcyclists switched from riding on the outside of the road to the bus lanes. Another study by TfL indicated that journeys made by motorcycles using bus lanes were, on average, more than 10 per cent quicker than those not using bus lanes and 36 per cent quicker than cars </li>
<li>The trial was supported by the overwhelming majority of motorcyclists (93 per cent) who viewed using the bus lane as a benefit. The trial was also supported by other road users, including 51 per cent of cyclists, and car/van drivers </li>
<li>The <a href="http://www.tfl.gov.uk/assets/downloads/MIBL-report-2010.pdf ">full independent report into the first trial&nbsp;</a>&nbsp;and the <a href="http://www.tfl.gov.uk/assets/downloads/motorcycles-in-bus-lanes-report.pdf">independent report into the second</a> </li>
<li>As part of the review into signage, the DfT recently introduced official signage to illustrate motorcycles in bus lanes </li>
<li>A number of towns and cities across England, including Birmingham, Reading, Bristol, Bath, as well as the Boroughs of Westminster and Kingston upon Thames in London, already allow motorcycles to use bus lanes on a permanent basis </li>
<li>As well as issuing verbal warnings to road users who exceeded the speed limit at these locations, the Motorcycle Tasking team also issued around 334 fixed penalty notices for a variety of offences, including speeding, and seized 81 motorbikes that were not insured or were in a dangerous condition </li>
<li>TfL will make permanent the Experimental Traffic Order in January 2012, which will come into effect by 23 January&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes will help to deliver a key strand of the Mayor's Transport Strategy. TfL will now make a permanent traffic regulation order to reflect the decision.Analysis from two 18 month trials has shown that allowing motorcyclists to use bus lanes is";}
        
        


 