


@{ViewBag.Title = "Out-of-hours deliveries during London 2012 Games are viable, trials show ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Out-of-hours deliveries during London 2012 Games are viable, trials show </h1>
        <div class="content-page-press-release">
        01 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today released the results of a series of trials of out-of-hours deliveries conducted with a number of London boroughs, and a range of businesses including supermarkets, pubs and hotels in advance of the London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our trials have demonstrated that out-of-hours deliveries are also a viable option that businesses may want to consider"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our trials have demonstrated that out-of-hours deliveries are also a viable option that businesses may want to consider
                            
                        </p>
                    </div>
                
            
            
            <p>The businesses are based in areas where the Games will have the biggest impact, and during the trials they all followed TfL's new draft Code of Practice and asked their suppliers to do the same.</p>
<p>The draft code, which is available at <a href="http://www.tfl.gov.uk/2012outofhoursdeliveries">tfl.gov.uk/2012outofhoursdeliveries</a> and was developed in partnership with the Freight Transport Association (FTA) and Noise Abatement Society (NAS), sets out practical tips on how both drivers and those receiving the goods can work together to make deliveries as quietly as possible.</p>
<p>TfL is making the draft code available now, but is asking the freight industry, other interested parties, and the London boroughs that have not already taken part in the trials to share their feedback on it.</p>
<p>A final version of the Code of Practice will be published early in the New Year.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'The London 2012 Games will offer a wealth of great business opportunities, but companies based in - or delivering to - affected areas need to start making plans now if they are to benefit.&nbsp; </p>
<p>'Busier roads at peak times and restrictions on parts of London's road network during the Games mean that their deliveries could be delayed or disrupted if they don't plan ahead. </p>
<p>'Many companies are already coming up with creative solutions, from stocking up on non-perishable goods to consolidating their deliveries with neighbouring businesses.&nbsp;</p>
<p>'Our trials have demonstrated that out-of-hours deliveries are also a viable option that businesses may want to consider. </p>
<p>'We would strongly urge those businesses and freight operators following this approach to adhere to the draft Code of Practice to help ensure that out-of-hours deliveries are carried out with minimum disruption to local residents.'</p>

<h2>No complaints</h2>
<p>During 10 weeks worth of out-of-hours deliveries, all the participating businesses reported that revising their delivery times worked well with no complaints from residents about noise.&nbsp; </p>
<p>The trial at the Marks and Spencer Simply Food store on Earl's Court Road, conducted in close liaison with the Royal Borough of Kensington and Chelsea, found that:</p>
<ul>
<li>On-site auditing by borough noise team officers was successful in monitoring driver and store staff behaviour, and checking that the draft Code of Practice was being followed </li>
<li>Changes made during the first week of the trial, for example fitting protective coverings to the metal chains on roll cages, ensured that noise levels were kept to a minimum </li>
<li>Despite the store being deemed a sensitive site, no complaints from residents were received during three weeks of deliveries made at 4:30</li></ul>
<p>Dave Hordern, Marks and Spencer Logistics Manager, said: 'This has been a very important trial for M&amp;S, as it provided the opportunity to have a 'dry run' of what we'll need to do, both at this store and elsewhere, during the Games period. </p>
<p>'Most importantly, it proved that the Code of Practice works and it is possible to deliver through the night in sensitive areas as long as we demonstrate best practice and use common sense. We intend to roll out the Code of Practice for night-time deliveries across London.'</p>
<p>Natalie Chapman, FTA's Head of Policy for London, said: 'TfL's trials reinforce earlier trials undertaken across England by FTA, the NAS and others and prove that if done properly residents' rights to a good night's sleep needn't be taken away. </p>
<p>'Given the immense challenge faced by commercial vehicle operators during the Games period, off-peak deliveries are going to be unavoidable so we would urge operators to adopt this best practice guidance to help them and the companies that rely on them make this Olympic-sized challenge - of keeping up with heightened demand in a severely restricted environment - an Olympic-sized success.'</p>
<p>Lisa Lavia, Managing Director of the Noise Abatement Society, said 'TfL's out-of-hours delivery trials will help continue to establish the viability of quiet deliveries and the conditions under which they are feasible. Protecting the rights of local residents is of paramount importance. </p>
<p>'Given the significant health and environmental gains to be made, it is critical to establish feasible and sustainable quiet out-of-hours delivery practices. Doing so will also lessen day-time disturbance and enable quieter deliveries to become accepted as the norm.</p>
<p>'Introducing quiet delivery practices now, under strict guidelines and independent monitoring, ensures that the public will be protected throughout.'</p>
<p>The London boroughs involved in the first round of trials were the Royal Borough of Kensington and Chelsea, Southwark, Redbridge and Westminster City Council. A further five trials will be completed early in the New Year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's draft Code of Practice is available at <a href="http://www.tfl.gov.uk/2012outofhoursdeliveries">tfl.gov.uk/2012outofhoursdeliveries</a> alongside five published case studies from the trials: M&amp;S Simply Food, Earl's Court Road (Royal Borough of Kensington and Chelsea); The Dorchester, Park Lane (Westminster City Council); The Co-Operative, Wanstead High Street (Redbridge); The Fountain Restaurant, Fortnum and Mason, Piccadilly (Westminster City Council); The Swan, Shakespeares's Globe, Bankside (Southwark). Each business altered their delivery schedules for the trials, choosing delivery times between 10pm and 6am. A further five out-of-hours deliver trials will be completed early in the New Year </li>
<li>TfL is asking the freight industry, other interested parties, and the London boroughs that have not already taken part in the trials to share their feedback on the draft Code of Practice by emailing <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a>. The draft Code of Practice provides generic best practice advice in minimising noise from delivery and servicing activity, but every business will have different requirements which will need to be taken in to account before specific noise reduction measures are put in place. A final version of the Code of Practice will be published early in the New Year </li>
<li>TfL is doing all we can to work with businesses and our 2012 partners to minimise the impact of the London 2012 Games on the capital's road network. Maps showing the impact on the network, and the likely increase in journey times from locations across the capital, are now available at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a> </li>
<li>Deliveries and collections make up 17 per cent of all traffic in London, rising to 25 per cent in central London, with 281,000 freight journeys made in the capital between Monday and Friday each week</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The businesses are based in areas where the Games will have the biggest impact, and during the trials they all followed TfL's new draft Code of Practice and asked their suppliers to do the same.The draft code, which is available at";}
        
        


 