


@{ViewBag.Title = "Partygoers reminded of free travel this New Year's Eve sponsored by Diageo";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Partygoers reminded of free travel this New Year's Eve sponsored by Diageo</h1>
        <div class="content-page-press-release">
        29 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People planning their New Year's Eve celebrations are being reminded that travel in London is free this New Year's Eve.
        
    </div>



 <div class="on-this-page">
<p>Free travel, from 23:45 on 31 December, is being sponsored by Diageo GB as part of their responsible drinking campaign for this festive season which includes an advertising campaign across the Tube network.</p>
<p>Diageo GB is sponsoring free travel in London on New Year's Eve for this and the next two years as part of their wider responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking and providing support for initiatives to boost safety in the night-time economy.</p>
<p>A number of celebrations will be taking place across the Capital on Saturday night including a spectacular fireworks display on the Southbank organised by the Mayor of London. </p>
<p>From 23:45 on New Year's Eve, Londoners will benefit from free travel on services until 04:30 on New Year's Day. </p>
<p>Tube, Docklands Light Railway and tram services will run all night on New Year's Eve, as well as night buses and 24-hour bus routes as usual. </p>
<p>Free travel will also apply to London Overground trains running after 23:45 until last train times.</p>
<p>Boris Johnson, the Mayor of London, said: 'London has a tremendous amount to offer over the festive period, and this fantastic deal will allow partygoers to welcome the New Year in the world's most fantastic city, and still get home cheaply and safely, late into the night.'</p>
<p>Andrew Cowan, Country Director for Diageo GB, said: 'With millions of people expected to head to the Capital to celebrate this New Year's Eve we want to make it that bit easier for people to get home safely. </p>
<p>'On the biggest party night of the year we want to remind everyone that the best nights are those that can be remembered and we encourage partygoers to drink responsibly while celebrating on Saturday.'</p>
<p>Mike Brown, Managing Director of London Underground, said: 'New Year's Eve is a celebratory night and we want to encourage people to plan their journeys in advance and to enjoy their night responsibly. </p>
<p>'The sponsorship with Diageo means that everyone can enjoy the night and get home safely with free transport.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>TfL's Festive Travel Guide is available online at <a href="http://www.tfl.gov.uk/festivetravel">tfl.gov.uk/festivetravel</a></p>
<p><strong>Diageo</strong></p>
<p>Diageo is the world's leading premium drinks business with an outstanding collection of beverage alcohol brands across spirits, beer and wine. </p>
<p>These brands include Johnnie Walker, Crown Royal, J&amp;B, Windsor, Buchanan's and Bushmills whiskies, Smirnoff, C&icirc;roc and Ketel One vodkas, Baileys, Captain Morgan, Jose Cuervo, Tanqueray and Guinness. </p>
<p>Diageo is a global company, with its products sold in more than 180 countries around the world. </p>
<p>The company is listed on both the New York Stock Exchange (DEO) and the London Stock Exchange (DGE). </p>
<p>For more information about Diageo, its people, brands, and performance, visit&nbsp;<a href="http://www.diageo.com">www.diageo.com</a>. </p>
<p>Visit <a href="http://www.drinkaware.co.uk">www.drinkaware.co.uk</a> and Diageo's own global resource <a href="http://www.DRINKiQ.comfor">www.DRINKiQ.comfor</a> information and guidance on responsible drinking. </p>
<p>In Great Britain, Diageo is a member of The Portman Group and supports The Drinkaware Trust.</p>
<p>Celebrating life, every day, everywhere.</p>
<p><strong>Transport for London</strong></p>
<p>The Mayor of London and TfL banned the consumption of alcohol on the public transport network across London in June 2008. </p>
<p>This has been well supported by Londoners and has made travelling on public transport safer and a more pleasant experience for passengers.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Free travel, from 23:45 on 31 December, is being sponsored by Diageo GB as part of their responsible drinking campaign for this festive season which includes an advertising campaign across the Tube network.Diageo GB is sponsoring free travel in London on";}
        
        


 