


@{ViewBag.Title = "Positive Tube reliability trend continues as passenger numbers keep rising";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Positive Tube reliability trend continues as passenger numbers keep rising</h1>
        <div class="content-page-press-release">
        12 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) outlines programme of work under way to further improve performance.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Jubilee line reliability improving hugely, with the best period of performance in over a year</li></ul>
<p>Figures published today by Transport for London (TfL) show that reliability on the Tube is continuing to improve even while the network carries increasing numbers of passengers. </p>
<p>The figures for the four-week period from 18 September to 15 October, published by TfL, show that delays caused by problems with signals and points have fallen by 18 per cent, while lost customer hours have been reduced by 212,000 on the previous four-week period. </p>
<h2>Record passenger numbers</h2>
<p>The upgraded Jubilee line continues to improve, with this period's lost customer hours the lowest for over a year.</p>
<p>Since the Tube became part of TfL in 2003/04 lost customer hours have been reduced by more than 40 per cent.</p>
<p>LU operated 96.5 per cent of scheduled services in the four-week period, with the year so far standing at 97 per cent, up from 93 per cent since 2003/04. </p>
<p>During the period 91.9 million people used the Tube, the highest ever number in a standard four-week period, with more than four million people using the Underground on Friday 14 October. </p>
<p>The period also saw the introduction of a new timetable on the Victoria line providing faster services on some sections of the line and an increase in the number of off-peak trains from 21 to 23 on Mondays to Fridays.&nbsp;</p>
<h2>Comprehensive reliability&nbsp;</h2>
<p>By the end of the period 19 of the new air-conditioned s-stock trains serving the Metropolitan line had been delivered to LU.</p>
<p>Publication of the figures comes as LU responds to the London Assembly's report on the Tube, 'The State of the Underground', setting out the huge amount of work being carried out to improve reliability further on the Tube even as the network undergoes a massive programme of renewal. </p>
<p>LU has in place a comprehensive reliability improvement programme, putting reliability at the heart of everything it does.&nbsp; </p>
<p>This programme focuses on three key areas: </p>
<ul>
<li>Response and recovery to any incidents that occur </li>
<li>Predicting and preventing failures </li>
<li>Improving how LU upgrades existing assets and purchases new assets</li></ul>
<p>Mike Brown, LU's Managing Director, said: 'We welcomed the London Assembly's report and have set out the huge range of measures under way to improve performance on the Tube. </p>
<p>'Recent and long-term figures have shown that we have already made good progress since the start of the upgrade programme in 2003.&nbsp; </p>
<p>'Since then, LU's reliability has improved significantly, with track failures at their lowest levels for eight years, having reduced by 57 per cent. </p>
<h2>Sustainable improvement</h2>
<p>'Delays have fallen by almost half since then, and the upgraded Jubilee line continues to improve - with the best period of performance since the greater frequency of service was introduced in the summer. </p>
<p>'The recent launch of our reliability programme draws together all of our plans to deliver a wider and more sustainable improvement in reliability for our customers. </p>
<p>'Of course, one of the key driver of improved reliability and increased capacity is our Tube Upgrade Plan. </p>
<p>'This is rebuilding the network, delivering 30 per cent more capacity through the introduction of new modern trains, signalling and track, and rebuilding some of our busiest stations.'</p>
<p>The Tube reliability programme has involved the introduction of a series of 'Command Centres' set up for every line on the network in order to deliver improvements in performance.&nbsp; </p>
<p>It also involves working with and learning from the operators of other metro systems, as well as a range of blue-chip companies outside of the rail industry, to understand how they deliver increasingly reliable performance, both in terms of day-to-day operations and investing for the long term. </p>
<h2>Blue light conditions</h2>
<p>LU is rolling out a range of predict and prevent techniques in order to predict when maintenance should be performed to prevent unexpected equipment failure.&nbsp; </p>
<p>This includes advanced signal monitoring technology that helps indicate potential failure, and Automated Track Monitoring Systems, which automatically identify any track related defects and allow maintenance activities to be planned to minimise disruption to passengers.&nbsp; </p>
<p>LU is also increasing its incident response capabilities, and developing plans to co-locate engineering and operations staff into a consolidated command and control centre - speeding recovery from incidents. </p>
<p>It is also working closely with the British Transport Police (BTP) in order to establish a system where the BTP will be helping to get LU's Emergency Response Unit swiftly to where incidents are taking place under blue light conditions.</p>
<p>Communication with customers around disruptions is also being improved, with engagement work with staff ongoing to keep customers informed, new radios in place for better communication between staff, and upgraded electronic status update boards being rolled out across the network giving more detail on services.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Take a look at the latest <a href="/corporate/modesoftransport/londonunderground/1592.aspx">Tube performance figures </a></li>
<li>Find out about <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item07-071211-Board-Rail-Underground-Reliability-Improvement-Programme.pdf">London Underground's Reliability Improvement Programme<br></a>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Jubilee line reliability improving hugely, with the best period of performance in over a yearFigures published today by Transport for London (TfL) show that reliability on the Tube is continuing to improve even while the network carries increasing numbers";}
        
        


 