


@{ViewBag.Title = "Real time digital bus information proves a hit with Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Real time digital bus information proves a hit with Londoners</h1>
        <div class="content-page-press-release">
        01 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New up-to-the-minute bus arrival information has already been accessed by millions of Londoners since being made available via the internet, on smartphones or text messages last month.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our early figures are enormously encouraging and show passengers are genuinely benefiting from being able to predict exactly when their bus will arrive. This simple idea is making bus users journeys even more reliable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Director of Digital London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our early figures are enormously encouraging and show passengers are genuinely benefiting from being able to predict exactly when their bus will arrive. This simple idea is making bus users journeys even more reliable
                            
                        </p>
                    </div>
                
            
            
            <p>Every day almost three quarters of a million free searches are made using the web or a smartphone and over 10,000 requests are sent for the bus arrival time's information via text messages. </p>
<p>The high demand suggests the service has already become an essential travel tool for bus passengers and will be invaluable next year when we expect the capital's iconic red buses to carry an influx of visitors here for the 2012 Games.</p>
<p>With bus travel at a 50 year high in the capital the new service compliments London's extensive bus network, which carries almost 2.3 billion passengers a year on over 7,500 buses across 700 routes. </p>
<p>Now, with real time bus information available for all 19,500 bus stops across London, passengers are finding the need to wait unnecessarily for a bus a thing of the past. </p>

<h2>Digital revolution</h2>
<p>This new system is all part of the Mayor of London's aim to use digital technology to deliver more effective public services in the capital, and an opportunity to build on London's position as a global centre for digital innovation.</p>
<p>The Mayor's Director of Digital London, Kulveer Ranger, said: 'This brilliant new service has revolutionised bus travel for thousands of Londoners, and is a fantastic example of how digital innovation can contribute to more effective public services. </p>
<p>'Our early figures are enormously encouraging and show passengers are genuinely benefiting from being able to predict exactly when their bus will arrive. This simple idea is making bus users journeys even more reliable.'</p>
<p>Access to the real time bus service information can be made via the TfL website, from a fixed computer or web enabled smartphone and involves three simple steps. </p>
<ul>
<li>Go to the TfL buses webpage for live bus information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></li>
<li>Enter a bus route, postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website)&nbsp;</li>
<li>View live bus arrival times, including bus destinations, for all services due in the next 30 minutes</li></ul>

<p>Passengers without a smartphone or access to the internet can simply text the bus stop code to 87287 for detailed bus information at a small charge*.</p>
<p>New and improved Countdown signs are also being installed that will replace all the existing 2,000 signs at bus stops. </p>
<p>Plus 500 new signs are being installed at other key bus stops. </p>
<p>All of the new signs have improved visibility for visually impaired passengers and will display more travel information than the old signs.</p>
<p>Simon Reed, Head of Technical Services Group London Buses, said: 'Work is also well under way to make our prediction data freely available for software developers early next year. </p>
<p>'That will enable developers to design their own smartphone applications, which will make it even easier for Londoners to find out exactly where their bus is.'<br></p>
<p>
<hr>
<strong>Notes to Editors: </strong>
<p>
<ul>
<li>*The SMS service costs 12p plus the network operator's standard SMS charge. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Every day almost three quarters of a million free searches are made using the web or a smartphone and over 10,000 requests are sent for the bus arrival time's information via text messages. The high demand suggests the service has already become an";}
        
        


 