


@{ViewBag.Title = "Reminder that new fares for TfL services will come into effect from Monday 2 January 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder that new fares for TfL services will come into effect from Monday 2 January 2012</h1>
        <div class="content-page-press-release">
        29 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Overall Transport for London (TfL) fares to rise by 5.6 per cent, lower than anticipated thanks to additional &pound;136m Government funding. Level of fares is the minimum needed to ensure transport upgrades and frontline services are protected in full.
        
    </div>



 <div class="on-this-page">
<p>TfL today reminded Londoners that from Monday 2 January 2012 new fares for all TfL services will come into effect.</p>
<p>Fares will rise by 5.6 per cent on average, just above inflation, which is lower than was expected after the Mayor of London, Boris Johnson, secured &pound;136m from the Government to help the Capital's commuters.</p>
<p>This fares package will ensure that the unprecedented investment in London's transport network will continue, totalling &pound;12bn over the Mayor's four-year term. </p>
<p>The current investment programme includes upgrades to the Tube, now carrying a record 1.1 billion passengers a year and delivery of Crossrail. </p>
<p>Investment is also essential for the maintenance of London's frequent, extensive, reliable and accessible bus network, which&nbsp;now carries almost 2.3 billion passengers a year - more than any other time since records began in the 1960s. </p>
<p>Further extensive improvements have also been made on the Docklands Light Railway and London Overground, both of which are also experiencing record ridership. Investment is vital for the transport network to continue to develop and improve and to meet future demand, which is set to grow yet further.</p>
<p>Isabel Dedring, Deputy Mayor for Transport, said: 'Every penny in income from fares is vital to keep services running reliably and to make improvements that will benefit Londoners at a time of record ridership on the Tube and on our buses. </p>
<p>'The Mayor has secured an unprecedented &pound;12bn investment in our transport network, which is backed by a fares package that keeps Transport for London's finances on an even keel with lower than had been anticipated fares thanks to the &pound;136m he secured from the Government.'</p>
<p>As with any fares packages, some fares will go up by slightly more than 5.6 per cent, and some slightly less.&nbsp; </p>
<p>The single Oyster pay as you go bus fare will rise by just&nbsp;five pence, or only 3.8 per cent.&nbsp; </p>
<p>The Weekly Bus Pass will rise by one pound, or 5.6 per cent.&nbsp; </p>
<p>Average Tube fares will rise by&nbsp;six per cent.&nbsp; </p>
<p>Some Tube fares in Outer London will be frozen at 2011 levels, while others - Oyster pay as you go peak zones 2-5, 3-6 and 2-6 - will rise by only four4 per cent, less than inflation.</p>
<p>Increases to all Travelcards and Oyster pay as you go caps have also been kept down to lowest possible level, lower than first planned. </p>
<p>The Day Peak Zone 1-4 Travelcard and cap initially planned to rise by eight per cent will now rise by&nbsp;six per cent and the 7 Day Zone 1-2 Travelcard has been held down from an&nbsp;eight per cent increase to only 5.8 per cent.</p>
<p>All free and concessionary travel for older people, students, veterans and disabled Londoners remains protected in full, which means that 40 per cent of bus passengers will continue to travel free or at a substantial concessionary rate.&nbsp; </p>
<p>The average bus fare per journey, including concessions, will be around 60p, compared to an average typical bus fare of around &pound;1 in other UK cities. </p>
<p>Full details of all TfL fares for 2012 are available here: <a href="http://www.tfl.gov.uk/fares.">www.tfl.gov.uk/fares.</a></p>
<p>Over the last year alone, investment in London's transport network has delivered:</p>
<ul>
<li>The completion of the Jubilee line upgrade, delivering faster, more frequent and reliable journeys </li>
<li>A fleet of new trains on the Victoria line, delivering smoother, faster journeys for passengers </li>
<li>Further air-conditioned trains on the Metropolitan line, running into central London for the first time </li>
<li>The completion of the DLR three-carriage upgrade, delivering a 50 per cent increase in capacity across the network </li>
<li>The completion of the DLR Stratford International extension, with four new stations, delivering the final transport improvements required ahead of the 2012 Games </li>
<li>The extension of the East London line to Highbury &amp; Islington as the London Overground network became the most reliable railway in the UK </li>
<li>New fully accessible lifts and the upgrade of Green Park Tube station, making this key interchange station for the London 2012 Games step-free</li></ul>
<p>Over the next year, sustained investment will see:</p>
<ul>
<li>The completion of the London Overground rail network, delivering London's first orbital railway and linking 20 of London's 33 boroughs </li>
<li>The completion of the Victoria line upgrade, further increasing capacity and cutting journey times on the line </li>
<li>The extension of the Barclays Cycle Hire eastwards, almost doubling the size of the scheme </li>
<li>The first of the Mayor's New Bus for London on the Capital's streets </li>
<li>The opening of the Emirates Air Line, the first urban cable car system of its kind in the UK, which will provide a much-needed additional river crossing in east London </li>
<li>The start of the introduction of new air-conditioned trains across the Circle and Hammersmith &amp; City lines </li>
<li>Work to improve the Metropolitan, Circle, Hammersmith &amp; City lines </li>
<li>Work continuing on the new signalling upgrade for the Northern line which will provide 20 per cent more capacity </li>
<li>The new Crossrail stations at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street and Whitechapel continue to progress with intensity and the first of up to 3,500 people will be trained to work below ground at the Tunnelling and Underground Construction Academy in east London </li>
<li>The delivery of six new trams on Croydon Tramlink, which will be longer to provide more capacity, air-conditioned and feature lower floors for improved accessibility</li></ul><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>TfL's fares are based on the RPI figure for the previous July. In 2011, the July RPI figure was&nbsp;five per cent 
<li>The average TfL fare paid per bus trip is calculated by comparing all ticket types - including Oyster pay as you go, single cash fares, bus pass season tickets and Travelcards, plus free and concessionary travel - with total bus passenger numbers </li>
<li>The UK average bus fares have been calculated using DfT statistics </li>
<li>Bus &amp; Tram, TfL Tube/Rail cash, Oyster pay as you go and Travelcard fares tables below 
<ul></ul></li>
<p><strong>Bus and tram fares 2012</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>2011 (&pound;)</strong></td>
<td><strong>&nbsp;2012 (&pound;)</strong></td>
<td><strong>&nbsp;Increase (per cent)</strong></td></tr>
<tr>
<td>&nbsp;<strong>Pay as you go - single</strong></td>
<td>&nbsp;1.30</td>
<td>&nbsp;1.35</td>
<td>&nbsp;3.8</td></tr>
<tr>
<td>&nbsp;<strong>Pay as you go - one day cap</strong></td>
<td>&nbsp;4.00</td>
<td>&nbsp;4.20</td>
<td>&nbsp;5.0</td></tr>
<tr>
<td>&nbsp;<strong>Cash - single</strong></td>
<td>&nbsp;2.20</td>
<td>&nbsp;2.30</td>
<td>&nbsp;4.5</td></tr>
<tr>
<td>&nbsp;<strong>7 Day Bus and Tram Pass</strong></td>
<td>&nbsp;17.80</td>
<td>&nbsp;18.80</td>
<td>&nbsp;5.6</td></tr></tbody></table></div></p>
<p><strong>Adult pay as you go fares on TfL rail services </strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;Peak 2011</strong></td>
<td><strong>&nbsp;Off-Peak 2011</strong></td>
<td><strong>&nbsp;Peak 2012</strong></td>
<td><strong>&nbsp;Off-Peak 2012&nbsp;</strong></td>
<td><strong>&nbsp;Peak increase (per cent)</strong></td>
<td><strong>&nbsp;Off-Peak increase (per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Zones including:</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td></tr>
<tr>
<td><strong>&nbsp;1</strong></td>
<td>&nbsp;1.90</td>
<td>&nbsp;1.90</td>
<td>&nbsp;2.00</td>
<td>&nbsp;2.00</td>
<td>&nbsp;5.3</td>
<td>&nbsp;5.3</td></tr>
<tr>
<td>&nbsp;<strong>2</strong></td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.90</td>
<td>&nbsp;2.70</td>
<td>&nbsp;2.00</td>
<td>&nbsp;8</td>
<td>&nbsp;5.3</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;2.90</td>
<td>&nbsp;2.50</td>
<td>&nbsp;3.10</td>
<td>&nbsp;2.60</td>
<td>&nbsp;6.9</td>
<td>&nbsp;4.0</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;3.40</td>
<td>&nbsp;2.50</td>
<td>&nbsp;3.60</td>
<td>&nbsp;2.60</td>
<td>&nbsp;5.9</td>
<td>&nbsp;4.0</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;4.10</td>
<td>&nbsp;2.70</td>
<td>&nbsp;4.40</td>
<td>&nbsp;2.90</td>
<td>&nbsp;7.3</td>
<td>&nbsp;7.4</td></tr>
<tr>
<td>&nbsp;<strong>6</strong></td>
<td>&nbsp;4.50</td>
<td>&nbsp;2.70</td>
<td>&nbsp;4.80</td>
<td>&nbsp;2.90</td>
<td>&nbsp;6.7</td>
<td>&nbsp;7.4</td></tr>
<tr>
<td><strong>&nbsp;Zones excluding:</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>1</strong></td>
<td>&nbsp;1.40</td>
<td>&nbsp;1.30</td>
<td>&nbsp;1.50</td>
<td>&nbsp;1.40</td>
<td>&nbsp;7.1</td>
<td>&nbsp;7.7</td></tr>
<tr>
<td>&nbsp;<strong>2</strong></td>
<td>&nbsp;1.40</td>
<td>&nbsp;1.30</td>
<td>&nbsp;1.50</td>
<td>&nbsp;1.40</td>
<td>&nbsp;7.1</td>
<td>&nbsp;7.7</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.40</td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.40</td>
<td>&nbsp;-</td>
<td>&nbsp;-</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.40</td>
<td>&nbsp;2.60</td>
<td>&nbsp;1.40</td>
<td>&nbsp;4</td>
<td>&nbsp;-</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.40</td>
<td>&nbsp;2.60</td>
<td>&nbsp;1.40</td>
<td>&nbsp;4</td>
<td>&nbsp;-</td></tr></tbody></table></div></p>
<p><strong>One Day Travelcards and caps</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>2011 (&pound;)</strong></td>
<td><strong>&nbsp;2012 (&pound;)</strong></td>
<td><strong>&nbsp;Increase (per cent)</strong></td></tr>
<tr>
<td>&nbsp;<strong>Anytime</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>&nbsp;1-2</strong></td>
<td>&nbsp;8</td>
<td>&nbsp;8.40</td>
<td>&nbsp;5</td></tr>
<tr>
<td><strong>&nbsp;1-4</strong></td>
<td>&nbsp;10</td>
<td>&nbsp;10.60</td>
<td>&nbsp;6</td></tr>
<tr>
<td><strong>&nbsp;1-6</strong></td>
<td>&nbsp;15</td>
<td>&nbsp;15.80</td>
<td>5.3</td></tr>
<tr>
<td>&nbsp;<strong>Off-Peak</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>&nbsp;1-2</strong></td>
<td>&nbsp;6.60</td>
<td>&nbsp;7</td>
<td>&nbsp;6.1</td></tr>
<tr>
<td><strong>&nbsp;1-4</strong></td>
<td>&nbsp;7.30</td>
<td>&nbsp;7.70</td>
<td>&nbsp;5.5</td></tr>
<tr>
<td><strong>&nbsp;1-6</strong></td>
<td>&nbsp;8</td>
<td>&nbsp;8.50</td>
<td>&nbsp;6.2</td></tr></tbody></table></div></p>
<p><strong>Travelcard seasons - 7 Day ticket prices</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;2011 (&pound;)</strong></td>
<td><strong>&nbsp;2012 (&pound;)</strong></td>
<td><strong>&nbsp;Increase (per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Including Zone 1:</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>2</strong></td>
<td>&nbsp;27.60</td>
<td>&nbsp;29.20</td>
<td>&nbsp;5.8</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;32.20</td>
<td>&nbsp;34.20</td>
<td>&nbsp;6.2</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;39.40</td>
<td>&nbsp;41.80</td>
<td>&nbsp;6.1</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;47.00</td>
<td>&nbsp;49.80</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;<strong>6</strong></td>
<td>&nbsp;50.40</td>
<td>&nbsp;53.40</td>
<td>&nbsp;6</td></tr>
<tr>
<td><strong>&nbsp;Excluding Zone 1:</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>2</strong></td>
<td>&nbsp;20.80</td>
<td>&nbsp;22.00</td>
<td>&nbsp;5.8</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;22.80</td>
<td>&nbsp;24.20</td>
<td>&nbsp;6.1</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;27.40</td>
<td>&nbsp;29.00</td>
<td>&nbsp;5.8</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;34.40</td>
<td>&nbsp;36.40</td>
<td>&nbsp;5.8</td></tr></tbody></table></div></p>
<p>Adult Monthly Travelcard season prices are 3.84 times the 7-Day price (rounded up to 10p multiples).</p>
<p>Adult Annual Travelcard season prices are 40 times the 7-Day price.</p>
<p><strong>Adult cash fares on TfL rail services<br></strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;2011 (&pound;)</strong></td>
<td><strong>&nbsp;2012 (&pound;)</strong></td>
<td><strong>&nbsp;Increase (per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Including Zone 1:</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td></tr>
<tr>
<td><strong>&nbsp;1</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td><strong>&nbsp;2</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;5</td>
<td>&nbsp;5.30</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;5</td>
<td>&nbsp;5.30</td>
<td>&nbsp;6</td></tr>
<tr>
<td><strong>&nbsp;6</strong></td>
<td>&nbsp;5</td>
<td>&nbsp;5.30</td>
<td>&nbsp;6</td></tr>
<tr>
<td><strong>&nbsp;Excluding Zone 1:</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>1</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td>&nbsp;<strong>2</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td>&nbsp;<strong>3</strong></td>
<td>&nbsp;4</td>
<td>&nbsp;4.30</td>
<td>&nbsp;7.5</td></tr>
<tr>
<td>&nbsp;<strong>4</strong></td>
<td>&nbsp;5</td>
<td>&nbsp;5.30</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;<strong>5</strong></td>
<td>&nbsp;5</td>
<td>&nbsp;5.30</td>
<td>&nbsp;6</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today reminded Londoners that from Monday 2 January 2012 new fares for all TfL services will come into effect.Fares will rise by 5.6 per cent on average, just above inflation, which is lower than was expected after the Mayor of London, Boris Johnson,";}
        
        


 