


@{ViewBag.Title = "TfL ramps up safety efforts on London Tramlink";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL ramps up safety efforts on London Tramlink</h1>
        <div class="content-page-press-release">
        21 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New road markings, improved visibility, enforcement by Tramlink officers and a publicity campaign are among measures being undertaken by Transport for London (TfL) to make London Tramlink's trams safer for passengers and other road users.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our tram system is very safe and drivers are trained to a high standard, but one accident is one too many and we will continue to work with everyone involved to reduce the potential for them to happen"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Chief Operating Officer for TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our tram system is very safe and drivers are trained to a high standard, but one accident is one too many and we will continue to work with everyone involved to reduce the potential for them to happen
                            
                        </p>
                    </div>
                
            
            
            <p>A public information campaign has been introduced which uses brightly-coloured images of bunches of flowers painted on the ground at 15 spots in Croydon town centre where the tram tracks share the same road space with cars and walkers. </p>
<p>The campaign message along with the flowers is featured on posters throughout the tram network with the words 'Don't be remembered like this - watch out for trams'. </p>
<p>Other measures that are taking place to improve safety on the network include:</p>
<ul>
<li>A team of six Tramlink neighbourhood officers working on the network to reassure passengers and prevent anti social behaviour</li>
<li>Transparent panels, and vegetation maintenance work to improve sightlines for drivers to ensure they can see pedestrians and that pedestrians can see approaching trams</li>
<li>Road markings repainted to show the 'swept path' of the trams more boldly </li></ul>
<p>London Tramlink's service has increased however the number of incidents involving trams has remained relatively constant. </p>
<h2>A safer network</h2>
<p>Every incident is closely monitored and TfL's team is constantly working to make the network even safer. </p>
<p>Every foot crossing on the network has been re-assessed but TfL is also working closely with the London Borough of Croydon to find ways to make tram/pedestrian crossings even safer and with safety authorities to update the regulations on tram crossings and identify best practice.</p>
<p>Howard Smith, Chief Operating Officer for TfL London Rail which manages London Tramlink, said:&nbsp;'Our tram system is very safe and drivers are trained to a high standard, but one accident is one too many and we will continue to work with everyone involved to reduce the potential for them to happen.'</p>
<p>'Many drivers and pedestrians need to be more aware of the trams and the fact that they cannot manoeuvre and react like other vehicles on the road. In a busy urban environment there are many distractions and pedestrians using mobile phones and MP3 players while crossing the road can potentially place themselves at risk.'</p>
<p>'Especially during the festive season when daylight hours are shorter and the streets are packed with Christmas shoppers and those celebrating the occasion we would ask all to watch out for trams.'</p>
<p>
<hr>
<strong>Notes to Editors:</strong></p>
<ul>
<li>In the last 18 months there have been 46 incidents involving trams, the great majority of them relatively minor such as wing mirrors being knocked off illegally parked cars. Major medical treatment was required in only two incidents and there was one fatality</li>
<li>The paint used in the flower images on the tram way is biodegradable and will wash away or otherwise be removed in approximately 1 month</li>
<li>London Tramlink has 24 trams running at the moment, increasing to 30 by summer 2012 on 28 kms of track and expects to carry nearly 28 million passengers by the end of the 2011 financial year</li>
<li>Images of the flowers may be seen at <a href="http://www.flickr.com/croydonflowers">www.flickr.com/croydonflowers</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A public information campaign has been introduced which uses brightly-coloured images of bunches of flowers painted on the ground at 15 spots in Croydon town centre where the tram tracks share the same road space with cars and walkers. The campaign";}
        
        


 