


@{ViewBag.Title = "TfL signs the pledge to stop stigma";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL signs the pledge to stop stigma</h1>
        <div class="content-page-press-release">
        01 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of Transport for London's (TfL) commitment to the mental and physical health of its 27,000 employees, the organisation has signed the Time to Change Pledge today (Thursday).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Talking about mental health can aid recovery, strengthen friendships, break down stereotypes and take the taboo out of something that affects us all."</div>
        <div class="quote-footer">
            <div class="quotee-name">Alison Dunn</div>
            <div class="quotee-job-title">London Underground's Head of Trauma</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Talking about mental health can aid recovery, strengthen friendships, break down stereotypes and take the taboo out of something that affects us all.
                            
                        </p>
                    </div>
                
            
            
            <p>It commits TfL to raising&nbsp; awareness about mental illness and to helping stop the stigma associated with it.</p>
<p>Time to Change, England's biggest programme to tackle mental health stigma and discrimination is run by the charities MIND and Rethink Mental Illness. </p>
<p>Funded by the Department of Health and Comic Relief, they are asking organisations to pledge their support to challenging stigma in the workplace.&nbsp; </p>
<p>TfL is the first transport company to sign the pledge, with Mich&egrave;le Dix, Managing Director of Planning signing on TfL's behalf. </p>
<h2>Supportive policies</h2>
<p>The organisation will be running an internal campaign to raise awareness of mental health issues and offering information and advice to staff.</p>
<p>Alison Dunn, London Underground's Head of Trauma, said: 'For many years TfL has helped employees with mental health problems with counselling and with return to work advice for them and their managers.&nbsp; </p>
<p>'But we have also tried to prevent mental illness, by helping staff to tackle stress and depression, as well as having supportive policies such as flexible working, anti-harassment and anti-bullying. </p>
<p>'However we are not complacent.&nbsp;In the future we will run Time to Change materials in our annual health fair programme to raise awareness and stop discrimination. </p>
<h2>Work together</h2>
<p>'Talking about mental health can aid recovery, strengthen friendships, break down stereotypes and take the taboo out of something that affects us all.'</p>
<p>Time to Change Director, Sue Baker, said: 'We are delighted to see TfL leading the way and making a pledge to end mental health discrimination and challenge the stigma that still plagues an issue that affects one in four of us.&nbsp; </p>
<p>'Every employee and customer of TfL will experience a mental health problem themselves or know someone who has, so it's important we work together to raise awareness of the help available and encourage everyone to be more supportive and understanding.'</p>
<p>The latest TV advert from Time to Change highlights the problem of a young man returning to work having been off sick with a mental health problem and his colleague not knowing whether to talk to him or not, or what to say. </p>
<h2>Overcome fear</h2>
<p>Time to Change say the fact that it's difficult to talk about mental health problems can be one of the hardest parts of having a mental illness.&nbsp;</p>
<p>It can lead to loss of friendships, feeling isolated, not seeking help and slower recovery. </p>
<p>The message is that it is important to overcome fear or reluctance to talk about mental health issues if they are to be addressed.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Time to Change is a programme run by the charities Mind and Rethink Mental Illness, set up in 2007, that tackles mental health stigma and discrimination. It works closely with people with mental health problems to build their confidence and leadership skills to address stigma. Time to Change is funded by the Department of Health and Comic Relief </li>
<li>For further information please visit <a href="http://www.time-to-change.org.uk">www.time-to-change.org.uk</a> </li>
<li>According to data from the Institute of Psychiatry, King's College London, so far there has been a four per cent reduction in the discrimination that people with mental health problems report, as well as improvements to public attitudes, as a result of the Time to Change campaign.&nbsp;The reduction in discrimination equates to 23,500 more people living lives completely free from discrimination compared to at the start of the campaign and 71,540 fewer people experiencing discrimination when looking for work </li>
<li>In September 2011, Time to Change carried out a survey of 2,770 people in touch with their programme to find out more about the impact stigma and discrimination has on them. Of the respondents 60 per cent of people said that that stigma and discrimination are either as damaging and distressing as, or more damaging than, the symptoms of their mental illness<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It commits TfL to raising&nbsp; awareness about mental illness and to helping stop the stigma associated with it.Time to Change, England's biggest programme to tackle mental health stigma and discrimination is run by the charities MIND and Rethink Mental";}
        
        


 