


@{ViewBag.Title = "TfL statement on the Hammersmith flyover ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL statement on the Hammersmith flyover </h1>
        <div class="content-page-press-release">
        23 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A continuing programme of inspection carried out by Transport for London (TfL) on the A4 Hammersmith Flyover has revealed a serious structural defect, which means that the flyover is currently closed and will remain so until at least early January.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will be working around the clock over the Christmas and New Year period to complete our assessment and to set out plans for the work that needs to take place."</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will be working around the clock over the Christmas and New Year period to complete our assessment and to set out plans for the work that needs to take place.
                            
                        </p>
                    </div>
                
            
            
            <p>Over the past two years, TfL has been carrying out detailed monitoring inside the flyover, which dates from the 1960s. </p>
<p>In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the unique concrete structure in place. </p>
<p>Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken. </p>
<p>Recent results from monitoring showed that repair work needed to be carried out earlier than anticipated.&nbsp;</p>
<p>However inspections, including one last night, identified further technical problems - meaning that TfL has decided to keep the flyover closed to undertake an even more detailed assessment of the complete structure.</p>
<p>TfL's engineers and contractors, alongside external experts in structural engineering, will be working around the clock over the Christmas and New Year period in order to complete this assessment and to establish what remedial action needs to be taken. </p>
<p>Local traffic diversions are already in place, along with Variable Messaging Signs&nbsp;- including on Highways Agency roads - advising drivers to avoid the area. </p>
<p>TfL is urgently examining local road works sites with a view to suspending these where necessary to minimise traffic disruption. </p>
<p>Traffic signal plans are being developed to reduce disruption and ease traffic flow and plans are in place to divert traffic from the M4 to other routes if necessary. </p>
<p>TfL is also working closely with the relevant local authorities.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer Surface Transport, said:</p>
<p>'Safety is our top priority, so we have taken the decision to keep the flyover closed until at least early January while we undertake a full detailed assessment of the structure.&nbsp;</p>
<p>'We are very sorry for the disruption this will cause drivers and we are doing everything we can to minimise traffic disruption. We will be working around the clock over the Christmas and New Year period to complete our assessment and to set out plans for the work that needs to take place.</p>
<p>'In the meantime, drivers are strongly advised to avoid the area if they can or allow more time for their journeys.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over the past two years, TfL has been carrying out detailed monitoring inside the flyover, which dates from the 1960s. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the unique concrete";}
        
        


 