


@{ViewBag.Title = "TfL sets out services to keep London moving on Boxing Day despite strike called by ASLEF leadership";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out services to keep London moving on Boxing Day despite strike called by ASLEF leadership</h1>
        <div class="content-page-press-release">
        22 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some services will be operating but customers are warned that disruption is likely.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The actions of ASLEF's leadership demonstrates a complete disregard to our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The actions of ASLEF's leadership demonstrates a complete disregard to our customers.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Transport for London (TfL) condemns ASLEF leadership for completely unnecessary disruption to Londoners on Boxing Day </li>
<li>Passengers are urged to check before travelling at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp; </li></ul>
<p>TfL has today set out the services it intends to operate on the Tube and across the transport network to keep London moving on Boxing Day, Monday 26 December, despite the strike called by the leadership of the ASLEF union.</p>
<p>The completely unnecessary strike action is likely to cause significant disruption, but TfL is working to ensure as many services as possible will operate. </p>
<p>London's 700 bus routes will be in operation and there will be extra buses operating in busy shopping areas and an enhanced service in the West End.</p>
<p>The Docklands Light Railway (DLR) will also be in operation, except between Bank/Tower Gateway and Poplar/West India Quay due to planned engineering.&nbsp; </p>
<h2>Rail replacement buses</h2>
<p>Customers can also use the Barclays Cycle Hire scheme, which is available across central London, as well as London Tramlink. </p>
<p>River services will operate between Greenwich and Westminster, stopping at Tower Pier, London Eye and Embankment.</p>
<p>A number of rail replacement bus services will be operating on some London Underground routes due to planned engineering works as follows:</p>
<ul>
<li>A Northern line replacement service will operate between Camden Town and High Barnet/Mill Hill East, with extensions to Euston/King's Cross </li>
<li>A District line replacement service will operate on the Wimbledon branch and will be extended to Hammersmith </li>
<li>On the&nbsp;DLR replacement buses will operate between Bank/Tower Gateway and Poplar/West India Quay</li></ul>
<p>ASLEF has called for strike action over Tube drivers working on Boxing Day, demanding triple pay and a day off in lieu, despite a long-standing agreement which covers working on Bank Holidays including Boxing Day. </p>
<p>Despite London Underground (LU) reducing the numbers of train staff required to work, so that only one in four are rostered to book on, the union leadership are clearly determined to strike and disrupt Londoners' Christmas holidays, shopping and sporting events. </p>
<p>This despite the fact that only 42 per cent of balloted drivers voted for strike action. </p>
<h2>Efforts to resolve issues</h2>
<p>Howard Collins, LU's Chief Operating Officer, said: 'This is a clear case of the ASLEF leadership attempting to hold Londoners to ransom and we would urge them, yet again, to call off this unnecessary strike action. </p>
<p>'We have made every effort to resolve this issue, including reducing the number of drivers needed to work Boxing Day so that only one in four are rostered to work. </p>
<p>'However the ASLEF leadership seem intent on tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off.&nbsp; </p>
<p>'Thousands of Londoners rely on the Tube network on Boxing Day to take advantage of sales, watch the football or get to work. </p>
<p>'The actions of ASLEF's leadership demonstrates a complete disregard to our customers and to the many thousands of Tube staff who will not be on strike and will be working hard to help people get around the Capital.&nbsp; </p>
<h2>Limited service</h2>
<p>'We will be running as many services as possible on Boxing Day, supported by London's 700 bus routes and extra buses, but disruption is likely and we would urge customers to check the TfL website and local TV and radio bulletins for up-to-date travel information.'</p>
<p>Although there will be some services on most lines that were scheduled to operate, some may have only a limited service and some sections may be closed. </p>
<p>Customers are urged to check before they travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>.&nbsp; </p>
<ul>
<li>On the Bakerloo line LU intends to run a limited service between Queens Park and Paddington </li>
<li>On the Central line LU intends to run a limited service between Hainault and Ealing Broadway, switching to a service between White City and Leytonstone at 13:00 </li>
<li>On the Circle line there will be no service </li>
<li>On the District line LU intends to run two limited shuttle services between Acton Town and Ealing Broadway and Upminster and West Ham.&nbsp;Replacement buses will also run on the Wimbledon branch, including a service linking to Hammersmith with possible further extensions </li>
<li>On the Hammersmith &amp; City line LU intends to run services from Hammersmith to King's Cross St Pancras </li>
<li>On the Jubilee line LU intends to run a limited service between Stanmore and Finchley Road </li>
<li>On the Metropolitan line there will be a limited service between Baker Street and Harrow-on-the-Hill </li>
<li>On the Northern line LU intends to run a limited service between Morden and Stockwell. Due to planned engineering works replacement buses will also operate between Camden Town and Mill Hill East/High Barnet, with extensions to Euston/King's Cross </li>
<li>On the Piccadilly line there will be a shuttle service between Heathrow 1,2,3 and Acton Town (calling at Heathrow 1,2,3, Hatton Cross, Boston Manor and Acton Town) </li>
<li>The Victoria line service will be running between Seven Sisters and Brixton with a service frequency of every 10 minutes <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) condemns ASLEF leadership for completely unnecessary disruption to Londoners on Boxing Day Passengers are urged to check before travelling at tfl.gov.uk&nbsp; TfL has today set out the services it intends to operate on the Tube";}
        
        


 