


@{ViewBag.Title = "TfL responds to High Court ruling on Aslef ballot";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL responds to High Court ruling on Aslef ballot</h1>
        <div class="content-page-press-release">
        22 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today responded to a High Court ruling that will allow the leadership of Aslef to proceed with unnecessary strike action on Boxing Day.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We remain ready at any time before these four strike days to work with the union's leadership to resolve this issue through talks, and I urge them to get back around the table"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We remain ready at any time before these four strike days to work with the union's leadership to resolve this issue through talks, and I urge them to get back around the table
                            
                        </p>
                    </div>
                
            
            
            <p>The action of the Aslef leadership is likely to cause serious disruption to Tube services on Monday 26 December. </p>
<p>The Aslef leadership has called on its members to strike on four days unless they are paid triple time and given an extra day off for working on Boxing Day. </p>
<p>This is despite the staff concerned already earning a premium in their annual salary for working on public holidays.&nbsp; </p>
<p>LU contested the validity of the Aslef leadership's ballot for strike action, as the union had balloted all of its driver members for action despite only a quarter of LU's total of 3,500 drivers being needed to work on 26 December.</p>
<p>&nbsp;However, the court ruled that Aslef's ballot was not invalid.</p>
<p>The majority of union members balloted did not want strike action, with just 42 per cent voting to take action.</p>
<p>Since 2010, when the Aslef leadership first made their extra claims, LU has held discussions on the issue and reviewed the level of service required for Boxing Day to closely match customer demand. </p>
<p>As a result, LU has reduced the number of train staff required to work on Boxing Day to pre-2010 levels. </p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'The Aslef leadership is calling strike action over an outrageous claim for even more money to work on a day for which their members are already being paid. We have done everything we can to avert this needless action, including reducing the impact of Boxing Day working on staff and, as a last resort, taking legal action. </p>

<p>'We remain ready at any time before these four strike days to work with the union's leadership to resolve this issue through talks, and I urge them to get back around the table.</p>
<p>'We will run as many Tube services as we can and extra buses will operate on the busiest bus routes. However, the action taken by the Aslef leadership is likely to cause serious disruption to Tube services across the network affecting the Christmas holiday plans of many Londoners.'</p>
<p>Transport for London will be doing all it can to ensure people can get around the Capital on Boxing Day. For up to date information during the strike go to <a href="http://www.tfl.gov.uk">tfl.gov.uk</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The action of the Aslef leadership is likely to cause serious disruption to Tube services on Monday 26 December. The Aslef leadership has called on its members to strike on four days unless they are paid triple time and given an extra day off for working";}
        
        


 