


@{ViewBag.Title = "TfL vows to keep London moving despite strike called by ASLEF leadership";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL vows to keep London moving despite strike called by ASLEF leadership</h1>
        <div class="content-page-press-release">
        26 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today vowed to keep London moving on Boxing Day, Monday 26th December, as more Tube services than predicted are operating, despite strike action on London Underground called by the leadership of the ASLEF union.
        
    </div>



 <div class="on-this-page">
<p>The completely unnecessary strike action has caused significant disruption, but TfL is working to ensure as many services as possible will operate. London's 700 bus routes are in operation and there are extra buses operating in busy shopping areas and an enhanced service in the West End. The DLR is also in operation, except between Bank/Tower Gateway and Poplar/ West India Quay due to planned engineering works. Customers can also use the Barclays Cycle Hire scheme, which is available across central London, as well as London Tramlink. </p>
<p>There is an enhanced River service operating between Westminster and Greenwich and a central London service operating as follows: Westminster - London Eye - Embankment - Tower Pier - Westminster. City Cruises will accept 'London Underground ticket holders' onto the service without charge at Embankment and Tower Pier, subject to available capacity.</p>
<p>A number of rail replacement bus services are operating on some London Underground routes due to planned engineering works as follows:<br></p>
<ul>
<li>A Northern line replacement service is operating between Camden Town and High Barnet/Mill Hill East, with extensions to Euston / King's Cross </li>
<li>A District line replacement service is operating on the Wimbledon branch and will be extended to Hammersmith </li>
<li>On the Docklands Light Railway replacement buses are operating between Bank / Tower Gateway and Poplar / West India Quay<br></li></ul>
<p>ASLEF have called for strike action over Tube drivers working on Boxing Day, demanding triple pay and a day off in lieu, despite a long-standing agreement which covers working on Bank Holidays including Boxing Day. </p>
<p>Despite London Underground (LU) reducing the numbers of train staff required to work, so that only one in four are rostered to book on, the union leadership have shown themselves to be determined to strike and disrupt Londoners' Christmas holidays, shopping and sporting events. This despite the fact that only 42 per cent of balloted drivers voted for strike action.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: "Despite this pointless strike action called by the Aslef leadership we are running more Tube services than predicted and, working with colleagues from across TfL and beyond, we are keeping London moving. </p>
<p>"We have made every effort to resolve this issue, including reducing the number of drivers needed to work Boxing Day so that only one in four are rostered to work. However the ASLEF leadership are intent on tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off.&nbsp; Their actions demonstrate a complete disregard for our customers and for the many thousands of Tube staff who will not be on strike and will be working hard to help people get around the capital.</p>
<p>"We are operating a service on most Tube lines, including key lines serving the West End, supported by London's 700 bus routes and extra buses. However, the strike is causing disruption and we would urge customers to check the TfL website and local TV and radio bulletins for up-to-date travel information."</p>
<p>Although there are some services on most lines that were scheduled to operate, some may have only a limited service and some sections may be closed. Customers are urged to check before they travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>.&nbsp;&nbsp; Services operating as at 10.30am this morning are as follows:</p>
<ul>
<li>On the Bakerloo line -&nbsp;&nbsp; service between Queens Park and Piccadilly. </li>
<li>On the Central line -&nbsp;&nbsp; service between White City and Leytonstone. </li>
<li>On the Circle line -&nbsp; no service. </li>
<li>On the District line -&nbsp;&nbsp; shuttle service between Ealing Broadway and West Ham to Upminster.&nbsp; Replacement buses are also running on the Wimbledon branch, including a service linking to Hammersmith. </li>
<li>On the Hammersmith &amp; City line -&nbsp; service from Hammersmith to King's Cross St Pancras. </li>
<li>On the Jubilee line -&nbsp;&nbsp; service between Stanmore and Finchley Road, and Stratford to North Greenwich. </li>
<li>On the Metropolitan line -&nbsp;&nbsp; service between Baker Street and Wembley Park. </li>
<li>On the Northern line -&nbsp;&nbsp; service between Edgware&nbsp;and Euston (City branch) and Morden to Charing Cross. Due to planned engineering works replacement buses will also operate between Camden Town and Mill Hill East/High Barnet, with extensions to Euston / King's Cross. </li>
<li>On the Piccadilly line -&nbsp;&nbsp; service between Heathrow Terminal 5 and Hammersmith, and Arnos Grove and Cockfosters). </li>
<li>A Victoria line - service between Seven Sisters and Brixton with a service frequency of every ten minutes. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The completely unnecessary strike action has caused significant disruption, but TfL is working to ensure as many services as possible will operate. London's 700 bus routes are in operation and there are extra buses operating in busy shopping areas and an";}
        
        


 