


@{ViewBag.Title = "TfL publishes annual Festive Travel Guide with free travel for New Year revellers sponsored by Diageo";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes annual Festive Travel Guide with free travel for New Year revellers sponsored by Diageo</h1>
        <div class="content-page-press-release">
        09 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today published its Festive Travel Guide to help Londoners and visitors travelling around the Capital between Christmas and New Year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"For those wishing to brave the crowds and long waiting times, public transport will be the best way to get around the Capital on New Year's Eve."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For those wishing to brave the crowds and long waiting times, public transport will be the best way to get around the Capital on New Year's Eve.
                            
                        </p>
                    </div>
                
            
            
            <p>Those travelling in and around the city over the festive period are urged to check the Guide before they travel as there will be some changes to normal services.</p>
<p>The guide contains details of Tube, London Buses, Docklands Light Railway (DLR) Tramlink, London Overground, Riverboat services, Barclays Cycle Hire and the Congestion Charge throughout the entire festive period from Christmas Eve Saturday 24 December 2011, to Bank Holiday Monday 2 January 2012.</p>
<p>The guide will be available at all Tube stations and online at <a href="http://www.tfl.gov.uk/festivetravel">www.tfl.gov.uk/festivetravel</a> and at information points at bus stations, DLR, Tramlink and London Overground stations.</p>
<p>Travel will be free on all journeys between 23:45 on New Year's Eve and 04:30 on New Year's Day on Tube, London Buses, Tramlink and DLR services.</p>
<p>London Overground Services will also be free from 23:45 until last train times.</p>
<p>The Mayor of London and TfL last week announced a&nbsp; partnership with Diageo to support free New Year's Eve travel for next three years, including a responsible drinking promotion from 9 December until the New Year.</p>
<p>Barclays Cycle Hire members and casual users will be able to hire bikes as normal, although some docking stations will be temporarily out of service during the holiday period, particularly on New Year's Eve for safety reasons.</p>
<p>Essential Tube and London Overground engineering works will be taking place over the festive period, we advise all passengers to check before they travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> where details of line closures can be found. </p>
<h2>Christmas Eve</h2>
<p>On Christmas Eve, Saturday 24 December, a Saturday service will operate on the Underground until 7pm, and then a reduced service for the rest of the evening.</p>
<p>Last trains will run at Sunday times.</p>
<p>A Saturday service will operate on the bus network with some exceptions. There will be no night buses and on 24 hour routes, buses will operate until just after midnight.</p>
<p>On the DLR, buses will replace trains between Bank/Tower Gateway and Poplar/West India Quay.</p>
<p>Other routes will operate a modified Saturday service until 7pm, after which a reduced service will operate with last trains at Sunday times.</p>
<p>On the London Overground a Saturday service will operate with last trains departing about 9.30pm (8.30pm on the Stratford - Richmond/Clapham Junction route). </p>
<p>On London Tramlink, a Saturday service will operate, but with a reduced timetable from 8pm.</p>
<p>Riverboat services will be running a reduced timetable.</p>
<p>Many coach operators will reduce services from early evening, with last departures from Victoria Coach station leaving at around 9pm.</p>
<h2>Christmas Day</h2>
<p>On Christmas Day, Sunday 25 December, there will be no service on the Tube, London Buses, DLR, London Overground, Tramlink or on the river.</p>
<h2>Boxing Day</h2>
<p>On Boxing Day, Monday 26 December from 8.30am a reduced service will operate on all Tube lines with last trains at Sunday times. </p>
<p>On London Buses from about 8.30am a Sunday service will operate on all routes.</p>
<p>Additionally on routes 81, 90, 105, 111, 140,203, 222, 285, 350, 423, 482, 490, A10, H25, H26, U3 and X26 a Sunday service will operate from about 5.30am in order to serve Heathrow Airport.</p>
<p>There will be no service on route 84. A weekday night service will operate on all 24 hour and night bus routes.</p>
<p>On DLR, buses will replace trains between Bank/Tower Gateway and Poplar/West India Quay.</p>
<p>On other routes, trains will run every 15 minutes between about 8.30am and 11.30pm.</p>
<p>There will be no services on London Overground.</p>
<p>On London Tramlink a Sunday service will operate with the frequency increased between Wimbledon and East Croydon.</p>
<p>There are no Riverboat services except: Westminster - London Eye - Tower - Greenwich, which will run a normal service.</p>
<h3>Bank Holiday, Tuesday 27 December</h3>
<p>A Saturday service will operate on the majority of Tube lines. </p>
<p>On London Buses a Sunday service will operate on the majority of day routes while the rest will run a Saturday service.</p>
<p>A weekday night service will operate on all 24 hour and Night bus routes.</p>
<p>London Tramlink will be operating a Sunday service with the frequency increased between Wimbledon and East Croydon.</p>
<p>There will be no Riverboat services except: Westminster - London Eye - Tower Greenwich, which will be running a normal service.</p>
<h2>New Year's Eve</h2>
<p>Revellers who want to see in the New Year in central London are advised to plan ahead and in particular be prepared for large crowds, and long waits for the designated viewing areas for the fireworks display. </p>
<p>Peter Hendy, London's Transport Commissioner, said: "The New Year's Eve fireworks display that takes place at the EDF London Eye provides spectacular entertainment and is enormously popular, attracting large crowds that should be prepared for a long wait at the designated viewing areas along the Thames. As a result people with young children may wish to consider celebrating nearer to home.</p>
<p>"For those wishing to brave the crowds and long waiting times, public transport will be the best way to get around the Capital on New Year's Eve.</p>
<p>"I'm pleased we can continue to offer this for free not just this year, but for the next three years thanks to our partnership with Diageo, but I urge revellers to plan their journeys well in advance."</p>
<p>There will be free travel on all journeys between 23:45 until 04:30 on the Tube, DLR, London Buses and Tramlink. </p>
<p>Tube, DLR and Tramlink services will run all night on New Year's Eve.</p>
<p>Some selected Tube stations will be closed completely or for periods at a time, the Festive Travel Guide lists these closures.</p>
<p>A Saturday night service will operate on night bus and 24 hour routes, subject to road closures in central London. <br>&nbsp;<br>Free travel will apply on London Overground trains running after 11.45pm until last train times. </p>
<p>Riverboat services will run mainly normal services but London Eye will not be served after 2.30pm in order to prepare for the firework display.</p>
<p>Some routes will operate on New Year's Day, but a normal service will not resume until Tuesday 3 January.</p>
<p>Some Barclays Cycle Hire docking stations will be temporarily out of service for safety reasons at various times throughout the holiday period including New Year's Eve.</p>
<p>For the latest information on docking station availability, users should check online at: <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a></p>
<p>There will be a reduced number of UK coaches departing from Victoria Coach Station with last coaches leaving at around 8pm.</p>
<p>National Rail will operate modified timetables with additional late night departures and a limited number of routes will operate until about 5am. Normal rail fares will apply.</p>
<h2>Congestion Charge</h2>
<p>From Saturday 24 December until Bank Holiday Monday 2 January inclusive, the central London Congestion Charge will be suspended and motorists will not have to pay. </p>
<h2>Dial-a-Ride</h2>
<p>Dial-a-Ride will be operating every day over Christmas and New Year and all members have been sent details of how to book journeys over this period.</p>
<p>For further information please contact Dial-a-Ride direct on 0845 999 1 999.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<p>Leaflets and posters will be available across the network from Friday 9 December.</p>
<p>Passengers are advised to check before travelling via the following options:</p>
<ul>
<li>The TfL website <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> using Journey Planner, or text TfL to 60835. Charged at your network operator's standard rate </li>
<li>TfL's Festive Travel Guide which is available at all Tube stations, and most bus garages, DLR, Tramlink and Overground stations and online at <a href="http://www.tfl.gov.uk/festivetravel">www.tfl.gov.uk/festivetravel</a> </li>
<li>Information on posters, leaflets and 'Good Service' boards at Tube Stations </li>
<li>The 24 hour London Travel Information line on 0843 222 1234. You pay no more than 5p per minute if calling from a BT landline. There may be a connection charge. Charges from mobiles or other landline providers may vary.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Those travelling in and around the city over the festive period are urged to check the Guide before they travel as there will be some changes to normal services.The guide contains details of Tube, London Buses, Docklands Light Railway (DLR) Tramlink,";}
        
        


 