


@{ViewBag.Title = "Touts warned as enforcement activity is stepped up over the festive season";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Touts warned as enforcement activity is stepped up over the festive season</h1>
        <div class="content-page-press-release">
        08 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Illegal cab drivers, also known as touts or unbooked minicabs, have been served warning of the Mayor and Transport for London's continuing war on touts this week with the crushing of a car seized from an illegal cab driver.
        
    </div>



 <div class="on-this-page">
<p>The crushing of the vehicle coincides with an increase in police and enforcement activity against touting and other illegal cab activity, which starts again this week across all boroughs of the Capital as Londoners begin to celebrate the festive season.</p>
<p>Operation Safer Travel at Night (STaN) involves officers from Transport for London (TfL), the Metropolitan Police Service Safer Transport Command and the City of London Police (CoLP). </p>

<p>Cab-related offences fell by 21 per cent last year, however the aim is to make travelling in London after dark even safer for Londoners and visitors to the city. </p>

<p>And since 2007 police resources focused on this issue have more than doubled, a new team focused on sexual offences has been set up, and last year over 1,250 arrests were made for cab offences.</p>
<p>More than 180 arrests have already been made for touting and other cab-related offences over three weekends this autumn. </p>

<p>The first phase of Operation STaN involved officers checking over 5,000 vehicles and speaking with thousands of Londoners and students to provide safer travel information and encourage Londoners to use licensed taxis or licensed minicabs, reminding them that only taxis (black cabs) can be stopped and picked up off the street without a pre-booking. </p>
<p>A thorough programme of activity has been lined up including a thought provoking campaign warning of the dangers of getting into unbooked minicabs, as well as targeted TfL and police enforcement activity to identify, disrupt and deter illegal cab activity.</p>
<p>Any minicab that isn't booked through a licensed minicab operator is dangerous and puts the travelling public at risk of attack, including sexual assault and robbery. </p>

<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking being made first. </p>

<p>The advice is that you should not approach minicab drivers, and any minicab driver that approaches you on the street anywhere is acting illegally. </p>

<p>Do not get in.</p>

<h2>Operation STaN</h2>
<p>Deputy Mayor for Policing, Kit Malthouse, said: 'With the festive party season under way and the nights growing colder and darker we are doing everything we can to crack down on illegal minicab touts and to warn passengers never to pick up an unbooked minicab in the street.'</p>
<p>The step up in enforcement and engagement activity demonstrates how seriously the Mayor, TfL and the police take this issue. </p>

<p>They are using a broad range of tactics to detect and deal with touts including making greater use of financial investigation and confiscation of assets under the Proceeds of Crime Act and ancillary orders. </p>

<p>The car crushed this week was the first to be forfeited to the Safer Transport Command after the driver was convicted in court for purporting to be a licensed minicab driver. </p>

<p>This should serve as a stark warning to drivers who break the law and put the travelling public at risk. </p>

<p>It is only a matter of time before they are caught and brought to justice.</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'Unbooked minicabs continue to pose a serious risk to the travelling public which is why operations like Operation STaN are so important in raising awareness of the dangers and cracking down on touting and other cab-related offences. </p>

<p>'We urge the travelling public not to use them. </p>

<p>'All minicab journeys must be booked through a licensed minicab operator. </p>

<p>'Only taxis (black cabs) can pick passengers up on the street or at a rank without a booking being made first.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'The Safer Transport Command are committed to reducing the number of cab-related sexual offences. </p>

<p>'Our dedicated Cabs Enforcement Unit will continue to be out on the streets of the Capital all year round, tackling touting involving both licensed and unlicensed drivers. </p>

<p>'Touts should be warned that we are pursuing them through the courts to confiscate their assets obtained through their illegal activity.'</p>

<h2>Crackdown on touts</h2>
<p>It is illegal for any minicab driver (even drivers licensed by TfL) to accept a fare without a booking made either over the phone, by email or at an office. </p>

<p>Booking a minicab will ensure that there is a record of the journey and it will be carried out by a licensed driver in a licensed, insured car.</p>
<p>TfL and the police aim to ensure that drivers that break the law and put the travelling public at risk are brought to justice. </p>

<p>Recent successes include a bogus cab driver recently being found guilty of touting and driving with no insurance following an arrest made by a plain clothes cab enforcement officer.</p>
<p>Forty-year-old Rasheed Kenku, from Islington, was arrested for touting after being caught by undercover Cab Enforcement police officers in March this year. </p>

<p>He was fined &pound;2000 at Stratford Magistrates Court, disqualified from driving for&nbsp;eight months, had six points added to his licence and ordered to pay &pound;350 in court costs.</p>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally</li>
<li>Always book so there is a record of your journey</li>
<li>Only black cabs can pick passengers up on the street</li>
<li>Book it, check it and always sit in the back</li>
<li>To get three local cab numbers text "CAB" to 60835**</li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>** Users of 3 and overseas networks must enter different information. </p>

<p>See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a>&nbsp; for details and charges</p>

<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>Images of the poster campaign are available on request</li>
<li>The STaN initiative between TfL, the MPS and the CoLP was launched in 2002/03. STaN aims to reduce the number of cab-related sexual offences by raising awareness of the dangers of using unbooked 'minicabs' and targeted police and enforcement activity to identify, disrupt and deter illegal cab activity</li>
<li>A key element of the STaN initiative is the communications and marketing&nbsp; campaign which aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely</li>
<li>There were 111 cab-related sexual offences in 2010/11. Compared to the previous year, where there were 140 offences, there was a decrease of 20.7 per cent</li>
<li>Since 2003 the Cab Enforcement Unit has made almost 8,000 arrests for touting and cab-related offences. Approximately 90 per cent of these arrests have been for touting (unlicensed minicab drivers or licensed minicab drivers touting illegally)</li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour and other illegal cab activity. TfL and the police use a broad range of tactics to deal with touting issues across London including but not limited to covert tactics to detect and apprehend touts, high visibility enforcement and compliance activities, Automatic Number Plate Recognition, financial investigation and confiscation of assets from touts, education and problem-solving activities</li>
<li>The first phase of Operation STaN which took place in September to coincide with the new academic term resulted in over 180 arrests for touting and other cab-related offences and over 5,000 vehicles were stopped and checked</li>
<li>The Mayor and TfL take a tough line on touting and any TfL licensed private hire driver convicted or cautioned for touting lose their private hire driver's licence for a minimum of one year. More than 800 licensed private hire drivers have had their licences revoked since August 2008</li>
<li>The driver of the crushed car was arrested by the Cab Enforcement Unit and convicted at court in May for fraud, purporting to be a licensed private hire driver. He had failed to return a suspended London PHV licence and had four previous convictions for touting between 2005 and 2008. The Cab Enforcement Unit asked that the Court issue a deprivation order for the defendant's vehicle under section 143 of the powers of criminal courts sentencing act 2000 because the vehicle had been used to commit criminal offences. He was also fined &pound;100, disqualified from driving for nine months and ordered to carry out 200 hours of community service</li>
<li>Section 143 PCC(S)A governs the powers of the courts to deprive an offender of property, used, or intended to be used to commit or facilitate the commission of any offence (not necessarily the offence of which the offender has been convicted); facilitation includes taking steps to dispose of the property or avoid conviction. The court must have regard to the value of the property and the likely financial and other effects of the making of the order on the offender (section 143 (5)</li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at <a href="http://www.tfl.gov.uk/contactcabs">tfl.gov.uk/contactcabs</a>, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a></li>
<li>Help and support is available for victims of sexual assault from The Havens.&nbsp; Details can be found at <a href="http://www.thehavens.co.uk">www.thehavens.co.uk</a></li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a>&nbsp; and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a></li>
<li>TfL's 24-hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 0843 222 1234</li>
<li>For more information on cab enforcement activities or to report touting issues using the new online form at <a href="http://www.tfl.gov.uk/cabenforcement">tfl.gov.uk/cabenforcement</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The crushing of the vehicle coincides with an increase in police and enforcement activity against touting and other illegal cab activity, which starts again this week across all boroughs of the Capital as Londoners begin to celebrate the festive";}
        
        


 