


@{ViewBag.Title = "Vibrant London life captured in Yayoi Kusama's new artwork for the Pocket Tube Map";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Vibrant London life captured in Yayoi Kusama's new artwork for the Pocket Tube Map</h1>
        <div class="content-page-press-release">
        08 December 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Art on the Underground has commissioned one of Japan's most famous artists, Yayoi Kusama, to create the 15th pocket Tube map cover in the series.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are excited and privileged to be working with Kusama on this project. Polka Dots Festival in London presents a unique interpretation of the pace and colour of life in our capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are excited and privileged to be working with Kusama on this project. Polka Dots Festival in London presents a unique interpretation of the pace and colour of life in our capital
                            
                        </p>
                    </div>
                
            
            
            <p>The design is entitled Polka Dots Festival in London and will appear on the front cover of millions of pocket Tube maps from Monday,&nbsp;12 December.&nbsp; </p>
<p>For the commission, Kusama, whose career spans a remarkable seven decades, uses her signature pattern of cartoon-like dots, in the Tube map colours. </p>
<p>Red, green, blue and yellow dots spill across the image creating a sense of endless variation and eternity. </p>
<p>There is a psychedelic intensity to the patterning that gives a snapshot of the artist's meditative state and dynamic vision.</p>
<p>Kusama said: 'The dots are spreading out over the earth and beyond, onto the infinite great universe. Like these dots, London is a progressive and ever changing force with a spectrum of colours that echo a vibrancy of life and how brilliantly it shines!'</p>
<p>Head of Art on the Underground, Tamsin Dillon, said: 'We are excited and privileged to be working with Kusama on this project. Polka Dots Festival in London presents a unique interpretation of the pace and colour of life in our capital.</p>
<p>'I am looking forward to hearing what our customers think about Kusama's work and the others in the series via <a href="http://www.art.tfl.gov.uk">art.tfl.gov.uk</a>&nbsp;'</p>
<p>Kusama's work is the latest in a long series of commissions by Art on the Underground for the pocket Tube map cover. </p>
<p>Other artists in the series include: Michael Landy, Barbara Kruger, Jeremy Deller, Richard Long, Pae White and Mark Wallinger.</p>
<p>Art on the Underground's commission coincides with Kusama's major forthcoming exhibition at Tate Modern from 9 February to 5 June 2012. </p>
<p>The exhibition will be her most extensive UK show to date and will include seminal works such as: Lingering Dream (1949), 1000 Boats show (1963), I'm Here, but Nothing (2000-) and Infinity Mirrored Room - Filled with the Brilliance of Life (2011).</p>
<p>To find out more, visit <a href="http://art.tfl.gov.uk">art.tfl.gov.uk</a></p>
<p>
<hr>
For further information contact about Art on the Underground contact: 
<p>Alice Broughton<br>Theresa Simon &amp; Partners Ltd<br>Email: <a href="mailto:alice&#64;theresasimon.com">alice&#64;theresasimon.com</a><br>Tel: 020 7734 4800</p>
<p>For further information contact about TfL contact:</p>
<p>Candice Jones<br>TfL press office<br>Email: <a href="mailto:candicejones&#64;tfl.gov.uk">candicejones&#64;tfl.gov.uk</a><br>Direct line: 020 7126 4883 or 0845 604 4141</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The pocket Tube map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, Richard Long, Liam Gillick and Jeremy Deller. For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> </li>
<li>Yayoi Kusama (b. 1929, Japan) has work in the collections of leading museums throughout the world, including the Museum of Modern Art, New York; Los Angeles County Museum of Art, Los Angeles; Tate Modern, London; Stedelijk Museum, Amsterdam; Centre Pompidou, Paris; and the National Museum of Modern Art, Tokyo. Major exhibitions of her work have been held at Kitakyushu Municipal Museum of Art, Kitakyushu, Japan, 1987; Center for International Contemporary Arts, New York, and the Museum of Contemporary Art, Tokyo, 1998-9. She represented Japan at the Venice Biennale in 1993. Kusama lives and works in Tokyo </li>
<li>Yayoi Kusama's exhibition at Tate Modern will run from 9 February - 5 June 2012. For more information visit: <a href="http://www.tate.org.uk">www.tate.org.uk</a> </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </li>
<li>Images of the artwork are available at <a href="http://www.theresasimon.com/press">www.theresasimon.com/press</a> - just log in with your name and email address, click next, and choose the link from the project menu</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The design is entitled Polka Dots Festival in London and will appear on the front cover of millions of pocket Tube maps from Monday,&nbsp;12 December.&nbsp; For the commission, Kusama, whose career spans a remarkable seven decades, uses her signature";}
        
        


 