
    
  



@{ViewBag.Title = "Board Members";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/board-members";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Board Members</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Board Members</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Short biographies of each of Transport for London's (TfL's) board members are included on this page.
        
      </div>
    
    <div class="on-this-page">
      <p>To observe the highest standards of impartiality, integrity and objectivity, each board member declares their interests (see below each
biography) - including positions, directorships and shareholdings - relevant to us.</p>
<p>Any offers of gifts or hospitality that have been accepted by a board member are registered and listed below their biography. </p>
      
           
      <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/sadiq-khan-700x350_rdax_400x200.jpg" alt="Sadiq Khan" />
        
    </div>
    <h2>Sadiq Khan, Chair</h2>
<p>Sadiq Khan is the Mayor of London and has appointed himself as Chair of TfL.</p>
<p>Sadiq was born in London and has lived here all his life. His parents moved to London from Pakistan in the 1960s. He was state-school educated in Tooting before studying Law at the University of North London. Sadiq and his wife have two daughters.</p>
<p>Sadiq became a solicitor specialising in human rights and was a councillor in the London Borough of Wandsworth from 1994 to 2006. </p>
<p>In 2005 Sadiq was elected MP for Tooting. He was appointed Minister of State for Communities in 2008 and later became Minister of State for Transport, becoming the first Muslim and first Asian to attend Cabinet. He was also Crossrail Minister.</p>
<p>In 2013 Sadiq was appointed Shadow Minister for London, and in 2015 he led the Labour Party campaign in London in the General Election.</p>
<p>Sadiq is a big sports fan, especially football, boxing and cricket. He ran the 2014 London Marathon, raising money for the Evening Standard's Dispossessed Fund.</p>
<ul>
    <li><a href="https://www.london.gov.uk/people/mayoral/sadiq-khan/register-of-interests">Sadiq's GLA register of interests</a></li>
    <li><a href="https://www.london.gov.uk/people/mayoral/sadiq-khan/gifts-hospitality">Sadiq's GLA gifts and hospitality register</a></li>
</ul> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sadiq-khan-declaration-interests.pdf">
    <div class="document-download-text">
        <p>Sadiq Khan - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/heidi-alexander-700x350_rdax_400x200.jpg" alt="Heidi Alexander, Deputy Chair" />
        
    </div>
    <h2>Heidi Alexander, Deputy Chair</h2>
<p>Before joining the Mayor's team Heidi was the Member of Parliament for Lewisham East. Elected in 2010, she served in the Whips' Office before being appointed as Shadow Secretary of State for Health. Between 2006 and 2010 Heidi worked as Deputy Mayor of the London Borough of Lewisham and Cabinet Member for Regeneration.</p>
<p>She is a graduate of Durham University from where she received a Bachelor of Arts degree in Geography and a Masters degree in European Urban and Regional Change.</p>
<p>As Deputy Mayor for Transport and Deputy Chair of Transport for London, Heidi will be focused on delivering the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>, ensuring that London has a reliable, comfortable and affordable public transport system accessible to all, creating safe, healthy streets where people want to walk and cycle, and ensuring that new homes and new jobs are part of a sustainable, integrated transport system which delivers good economic growth across London.</p>
<ul>
    <li><a href="https://www.london.gov.uk/people/mayoral/heidi-alexander/register-of-interests">Heidi's GLA register of interests</a></li>
</ul> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/kay-carberry_rdax_400x200.jpg" alt="Kay Carberry" />
        
    </div>
    <h2>Kay Carberry CBE</h2>

<p>Kay Carberry CBE has held various posts in the Trades Union Congress and was the Assistant General Secretary 2003-2016. She is a past member of several government advisory bodies and commissions on equality and employment, for example the Equality and Human Rights Commission. She was previously also a Governor of the Pensions Policy Institute.</p>

<p>Kay is currently a commissioner of the&nbsp;Low Pay Commission, member of Ministry of Justice Civil Justice Council, Trustee of People's History Museum, Director of TU Fund Managers, an Honorary Fellow St Hugh's College Oxford and an Alternate Member to Lord Monks on the Takeover Panel.</p>

<p>She was awarded a CBE in 2007 for services to employment relations.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-kay-carberry-20190520.pdf">
    <div class="document-download-text">
        <p>Kay Carberry's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/greg-clark_rdax_400x200.jpg" alt="Greg Clark" />
        
    </div>
    <h2>Greg Clark CBE</h2>

<p>Prof Greg Clark CBE is: Chairman of The Business of Cities Ltd at UCL, Senior Advisor to HSBC Bank; Hon Prof, University College London &amp; Strathclyde University; and Global Fellow, The Brookings Institution, Washington DC;</p>

<p>Greg is also a member of the London Economic Action Partnership (LEAP).</p>

<p>Greg's former roles include: Chairman of the London Stansted Cambridge Consortium, Commissioner on the West End Commission, member of the London LEP Board, member of the Crossrail 2 Growth Commission and member of the West Anglia Task Force.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-greg-clark-20191114.pdf">
    <div class="document-download-text">
        <p>Greg Clark's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/bronwen-handyside_rdax_400x200.jpg" alt="Bronwen Handyside" />
        
    </div>
    <h2>Bronwen Handyside</h2>
<p>Bronwen Handyside has been active in London's trade union movement for over 30 years. She is Vice-Chair of Unite the union's London &amp; Eastern region (representing 300,000 members from 20 different sectors and including 75,000 workers in and around London within all modes of transport). She is also Chair of Unite's London Area Activist Committee (which covers members from all industrial sectors across London as well as its retired and Community members).</p>
<p>Bronwen has been active on Unite's Regional Women's Committee for nine years. She was Chair and then Secretary of Unite's Central London Voluntary Sector branch for 15 years. She worked in the voluntary sector for 25 years and is currently employed by the Islington Pensioners' Forum. She has been active in the campaign to defend the NHS with Keep Our NHS Public since 2005. Bronwen has used public transport to travel in and around London throughout that time.&nbsp;</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-bronwen-handyside.pdf">
    <div class="document-download-text">
        <p>Bronwen Handyside's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/ron-kalifa_rdax_400x200.jpg" alt="Ron Khalifa" />
        
    </div>
    <h2>Ron Kalifa OBE</h2>

<p>Ron Kalifa OBE was appointed Deputy Chairman of Worldpay in 2013. Previously, he was Chief Executive Officer for over 10 years, building and leading Worldpay into the premier global payments company it is today. Worldpay is the pre-eminent FinTech company in Europe and is one of the largest payments companies globally.</p>

<p>Ron has been a driving figure behind the success of Worldpay, one of the world's largest payments companies, which last year became the UK's most significant FinTech IPO when it listed on the London Stock Exchange.</p>

<p>With over 15 years' experience within the global payments industry, Ron holds responsibility for the strategic direction of this FTSE 100 business which employs over 5,000 employees across 25 offices in 13 countries. Ron has extensive experience of the payments ecosystem &#45; including card payments, cash management and trade finance and transaction banking.</p>

<p>In March 2019, Ron was appointed as Chairman of Network International, the largest payments group in Africa and the middle East. Ron is also a&nbsp;director (leading on Payments Businesses and Digital Innovation) of UK Finance, a&nbsp;trade body representing over 300 firms in the UK providing credit, banking, markets and payment-related services. He is also an independent consult to Advent and its advisers on a variety of issues, particularly in relation to new investment opportunities.</p>

<p>In May 2019, Ron was appointed as a non-executive director to the Bank of England's Court of Directors.</p>

<p>Ron has spent part of his career in the USA as well as Europe. He was awarded an OBE in 2018 for services to the Financial Services and Technology.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-ron-kalifa.pdf">
    <div class="document-download-text">
        <p>Ron Kalifa's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/dr-alice-maynard-tfl-board_rdax_400x200.jpg" alt="Dr. Alice Maynard - TfL Board" />
        
    </div>
    <h2>Dr Alice Maynard CBE</h2>

<p>Dr Alice Maynard CBE is a Director of Future Inclusion Limited. She is a non-executive director of HMRC; a non-executive director of the Financial Services Authority; a Trustee / Director of Milton Keynes Community Foundation; and a member of the Rail Review Expert Challenge Panel.</p>

<p>Alice was the Chair of the NICE Guideline Committee, which published guidance on Improving Adult Social Care Users' Experience and was the Chair of TfL's Independent Disability Advisory Group from 2009-2016.</p>

<p>Alice is a Fellow of the RSA.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-alice-maynard-20191110.pdf">
    <div class="document-download-text">
        <p>Dr Alice Maynard's register of interests </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/anne-mcmeel_rdax_400x200.jpg" alt="Anne McMeel" />
        <span class="caption"> </span>
    </div>
    <h2>Anne McMeel</h2>
<p>Anne McMeel is a Member of the Chartered Institute of Public Finance and Accountancy. She has held posts at the former Greater London Council, Inner London Education Authority and the London Borough of Enfield before becoming the Director of Finance at the London Borough of Sutton. In 2001 she joined the newly created GLA as its first Director of Finance and Performance before moving to the MPS in 2007 as its Director of Resources until 2012.
</p>
<p>Since 2013 she has been pursuing her interests in cultural activities and travelling and using her skills in new environments, including as adviser to KBR and in non-executive positions on the Keech Hospice Care Board and was an independent member of the Arts Council England Performance and Audit Committee. She is currently a non-executive at the Ministry of Defence.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-anne-mcmeel.pdf">
    <div class="document-download-text">
        <p>Anne McMeel's register of interests </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/mee-ling-ng_rdax_400x200.jpg" alt="Dr Mee Ling Ng" />
        <span class="caption"> </span>
    </div>
    <h2>Dr Mee Ling Ng OBE</h2>

<p>Dr Mee Ling Ng OBE is a board member of South Bank University and an independent governor on the&nbsp;Board of Lambeth College. She is an Honorary Fellow of Goldsmith's College and the 48 Group Club, which promotes business links between the UK and China.</p>

<p>Mee Ling spent three months in South Africa in 1994, leading up to the first free democratic general election, as an International Election and Peace monitor. She was a co-founder of a number of national charities serving the Chinese community in Britain.</p>

<p>Mee Ling was a councillor in Lewisham from 1986 to 2002 and from 2002 to 2010 she was Chair of Southwark PCT NHS board. She has also been a non-executive director of Lewisham and Guy's Mental Health Trust and South London and Maudsley Mental Health Trust. Mee Ling was also a non-executive Director on the Ministry of Justice's Her Majesty's Courts Service Board and was a board member of a Housing Association providing accessible housing to people with disabilities.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-mee-ling-ng-20190520.pdf">
    <div class="document-download-text">
        <p>Dr Mee Ling Ng's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/nelson-ogunshakin_rdax_400x200.jpg" alt="Dr Nelson Ogunshakin OBE" />
        <span class="caption"> </span>
    </div>
    <p>
</p>
<h2>Dr Nelson Ogunshakin OBE</h2>
<p>Dr Nelson Ogunshakin OBE is the CEO of International Federation of Consulting Engineers (FIDIC) and Vice Chair of Association for Consultancy and Engineering (ACE) Advisory Board. He was the President and CEO of the ACE Group for 14 years. He co-chaired the National Infrastructure Plan Strategic Engagement Forum (NIPEF) and was appointed by the GLA as a member of the London Infrastructure Delivery Board. He chairs the Investment Committee of ARM-Harith Infrastructure Investment Funds (PE), a non-Executive Director of Depthwize Limited and has over 35 years' experience in planning, finance, delivery and management of major property and infrastructure investment projects.</p>
<p>Nelson has a BSc in Civil Engineering from Aston, MSc in Construction and Programme Management from Birmingham and an MBA in Strategic Management &amp; Corporate Finance from Aston, where he is also Royal Academy of Engineer Visiting Professor on Infrastructure Investment. He is a Fellow Member of the Institution of Civil Engineers, Companion of Chartered Institute of Management, CEDR Accredited Mediator and Member of Chartered Institute of Arbitrations.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-nelson-ogunshakin-20200121.pdf">
    <div class="document-download-text">
        <p>Dr Nelson Ogunshakin's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/mark-phillips-tfl-board_rdax_400x200.jpg" alt="Mark Phillips - TfL Board" />
        
    </div>
    <h2>Mark Phillips</h2>

<p>Mark Phillips has worked in the rail industry for over 30 years. He is currently chief executive of the Rail Safety and Standards Board (RSSB), a Director of CIRAS Limited&nbsp;and Railway Documentation Drawing Services Limited (both subsidiary companies of RSSB),&nbsp;deputy chair of the British Transport Police Authority and a member of Transport Research Innovation Board.</p>

<p>Mark's former roles include Regional Director for Network Rail Anglia and deputy managing director London Eastern Railway (Anglia).</p>

<p>Mark has a BA (Hons.) in Economics from York University, is a Fellow of the Institute of Transport and Logistics and a Fellow of the Institute of Railway Operators.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-mark-phillips-20190520.pdf">
    <div class="document-download-text">
        <p>Mark Phillips' register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/nina-skorpuska_rdax_400x200.jpg" alt="Dr Nina Skorupska" />
        <span class="caption"> </span>
    </div>
    <h2>Dr Nina Skorupska CBE FEI</h2>
<p>Dr Nina Skorupska CBE is currently Chief Executive of Renewable Energy Association, Board member of the European Renewable Energy Federation (EREF) and Renewable Energy Assurance Limited (REAL) and  Deputy Chair of the Board of Women in Science and Engineering (WISE) Campaign.  She sits on a number of Advisory Groups including Carbon Trust, 10:10, Entrepreneurial Women in Renewable Energy (EWIRE) and University of Nottingham Industrial Advisory Board for Energy.</p>
<p>She has over 30 years' experience in the Energy Industry working in the UK, Germany and the Netherlands. She was the first female power station manager for RWE npower. Her career in the RWE Group culminated as Chief Technical Officer and executive Board Member of RWE's Dutch business, Essent, delivering electricity and heat generation as well as leading new energy and sustainability developments.</p>
<p>Nina has a BSc. in Chemistry from Newcastle upon Tyne, Ph.D in Coal Combustion. She is a Fellow of the Energy Institute.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-nina-skorupska.pdf">
    <div class="document-download-text">
        <p>Dr Nina Skorupska's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/lynn-sloman_rdax_400x200.jpg" alt="Lynn Sloman" />
        <span class="caption"> </span>
    </div>
    <p>&nbsp;</p>

<h2>Dr Lynn Sloman</h2>

<p>Dr Lynn Sloman is Founder and Director of Transport for Quality of Life, a specialist environmental and sustainable transport business. Her work at Transport for Quality of Life focuses on designing and evaluating sustainable transport investment programmes.</p>

<p>Lynn is a trustee of the Foundation for Integrated Transport and a Commissioner of the South East Wales Transport Commission. She was a Special Adviser to the Board of TfL between 2000 and 2008. She was also previously Vice-Chair of the Commission for Integrated Transport, a Board Member of Cycling England, and Chair of the Campaign for Better Transport.</p>

<p>Lynn has a DPhil in Earth Sciences from Oxford University, and has worked as an exploration geologist and as a researcher on science and environmental issues at the House of Commons Library.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sloman-lynn-declaration-interests-20191002.pdf">
    <div class="document-download-text">
        <p>Dr Lynn Sloman's register of interests </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/ben-story_rdax_400x200.jpg" alt="Ben Story" />
        <span class="caption"> </span>
    </div>
    <h2>Ben Story</h2>
<p>Ben Story is on the Executive Leadership Team of Rolls-Royce Holdings PLC (Rolls-Royce) as Director, Strategy and Marketing.
</p>
<p>He was previously a Partner at Square Partnerships LLP and Head of UK Investment Banking and Broking at Citi.
</p>
<p>Ben has over 25 years' broad experience in banking, including advising on a number of strategic transactions in the transportation and infrastructure sectors. Ben was involved in the establishment of TfL.
</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-ben-story.pdf">
    <div class="document-download-text">
        <p>Ben Story's register of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>

<h2>Remuneration of board members</h2>
<p>The basic fee is &pound;16,000 per annum. Additional fees are paid for each appointment to a Committee or Panel, up to a maximum payment of &pound;20,000 per annum.</p>
<p>The additional fees are paid at the rate of &pound;1,000 per annum as a member and &pound;2,000 per annum as the Chair, of a Committee or Panel. Members are also entitled to receive free travel on TfL transport business areas. No allowances are paid to members.</p>
<p>Any expenses claimed by members, in relation to fulfilling their role as a TfL board member, will be published on the board members page, along with details of any gifts or hospitality received.
</p>
<p>Full details are outlined in the <a href="/corporate/publications-and-reports/annual-report">Annual Report</a>. </p>
</div>
 
<div>



<h2>Board members terms and conditions</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/terms-of-appointment.pdf">
    <div class="document-download-text">
        <p>Board members terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Committees & panels</h3>

        <p>See the members, meeting dates and papers of our committees and panels</p>
    
<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="http://tfl.gov.uk/corporate/publications-and-reports/?Category=Committee%20and%20panel%20meetings" class="plain-button">Committee &amp; panel meetings</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Read short biographies of each Transport for London (TfL) board member";}
        
            
        


 