
    
  



@{ViewBag.Title = "Chief Officers";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/chief-officers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Chief Officers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Chief Officers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page features brief biographies of our management team and their roles within the organisation.  
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/mike-brown-1_rdax_400x200.jpg" alt="Mike Brown" />
        
    </div>
    <h2>Mike Brown MVO</h2>
<h3>Commissioner</h3>
<p>Mike was appointed Commissioner in September 2015 overseeing the largest integrated Transport Authority in the world.</p>
<p>He joined London Underground (LU) in 1989 and became chief operating officer in 2003.</p>
<p>He left London Underground to run Heathrow Airport during a massive transformation and passenger improvement programme.</p>
<p>Mike returned to London Underground as managing director and was responsible for operating services with more than one billion journeys every year and for leading the largest line upgrade and investment programme the Underground has ever seen.</p>
<p>He improved the reliability of the Tube network across all lines and led the successful delivery of the services to support the Olympic and Paralympic Games in 2012.</p>
<p>He was also responsible for the operation of Docklands Light Railway, the Trams and London Overground as well as the Emirates Airline Cable Car.</p>
<p>Now, as London's Transport Commissioner, Mike is ultimately responsible for a multi-million pound investment programme and the delivery of transport services across London, with some 13 million passenger journeys every day.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-mike-brown-wf.pdf">
    <div class="document-download-text">
        <p>Mike Brown - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-mike-brown.pdf">
    <div class="document-download-text">
        <p>Mike Brown - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/howard-carter-1_rdax_400x200.jpg" alt="Howard Carter" />
        
    </div>
    
         
        <h2>Howard Carter</h2>
        <h3>General Counsel</h3>
        <p>Howard joined us in September 2006 having been head of legal and procurement at the Greater London Authority since 2001. </p>
        <p>He was previously director of legal and secretariat at English Heritage and has worked in local government.<br />
        <br />
        He is a barrister with wide experience of managing legal, secretariat and corporate governance functions. </p>
        <p>His responsibilities include legal, corporate governance, information access and compliance, secretariat and internal audit.</p>
     
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-howard-carter-wf.pdf">
    <div class="document-download-text">
        <p>Howard Carter - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-howard-carter.pdf">
    <div class="document-download-text">
        <p>Howard Carter - Register of gifts and hospitality </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/michele-dix-2_rdax_400x200.jpg" alt="Michele Dix" />
        
    </div>
    <h2>Mich&egrave;le Dix CBE</h2>
<h3>Managing Director, Crossrail 2</h3>
<p>Mich&egrave;le joined us in 2000 as co-director of Congestion Charging. </p>
<p>She started her career at the Greater London Council and became a chartered civil engineer through their transport planning graduate scheme.</p>
<p>She later went onto work for Halcrow Fox, where she became a board director. </p>
<p>In 2007 Mich&egrave;le became Managing Director of Planning. She was responsible for leading the planning strategy on the future transport needs of London, coordinating the implementation of local plans and borough partnerships, and developing major scheme initiatives.
</p>
<p>In February 2015, Mich&egrave;le left Planning to become the Managing Director of Crossrail 2 and is now responsible for developing Crossrail 2 and gaining funding and powers for it.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-michele-dix-wf.pdf">
    <div class="document-download-text">
        <p>Mich&egrave;le Dix - Declaration of interests </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-michele-dix.pdf">
    <div class="document-download-text">
        <p>Mich&egrave;le Dix - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/vernon-everitt-1_rdax_400x200.jpg" alt="Vernon Everitt" />
        
    </div>
    <h2>Vernon Everitt</h2>

<h3>Managing Director, Customers, Communication and Technology</h3>

<p>Vernon is responsible for TfL's customer and technology/data strategies and their delivery. These put customers at the heart of the organisation's operations.</p>

<p>This includes accountability for fares and payment operations, contact centres, customer information, marketing and customer insight, media relations, public affairs and travel demand management.</p>

<p>He focuses on how TfL can use technology and open data to deliver better journey on public transport and the road network, and enable TfL's employees to provide better customer service. He also leads on supporting and partnering with the capital's thriving tech sector.</p>

<p>Vernon led the successful pan-Government and transport industry marketing and communications strategy for the London 2012 Games, the largest integrated campaign of its kind ever undertaken.</p>

<p>Before joining TfL in 2007, Vernon spent 10 years at the Financial Services Authority (FSA) and 18 years at the Bank of England in a variety of banking, regulatory, corporate and communications roles. This included leading the FSA's national work to improve the financial capability of consumers.</p>

<p>Vernon is on the Boards&nbsp;of the London Transport Museum and Transport for Wales and is a member of an Advisory Group to Marston Group, the largest privately owned specialist UK company in the field of civil and High Court Enforcement.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-vernon-everitt-wf.pdf">
    <div class="document-download-text">
        <p>Vernon Everitt - Declaration of interests </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-vernon-everitt.pdf">
    <div class="document-download-text">
        <p>Vernon Everitt - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/simon-kilonback_rdax_400x200.jpg" alt="Simon Kilonback" />
        
    </div>
    <h2>Simon Kilonback</h2>
<h3>Chief Finance Officer</h3>
<p>Simon is the Chief Finance Officer and is responsible for leading TfL's financial and commercial professional services.</p>
<p>Simon joined TfL in 2009 and has previously served as Group Treasurer and Corporate Finance Director.</p>
<p>Before joining TfL, Simon held senior positions in finance and banking with Lloyds Banking Group, WH Smith and Sony.</p>
<p>Simon is a member of the Crossrail Joint Sponsor Board with the Department for Transport, London Transport Insurance Guernsey, Hello London (the advertising partnership with Exterion), and the Earls Court Property Partnership.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-simon-kilonback.pdf">
    <div class="document-download-text">
        <p>Simon Kilonback - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-simon-kilonback.pdf">
    <div class="document-download-text">
        <p>Simon Kilonback - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/andy-lord-700x350_rdax_400x200.jpg" alt="Andy Lord" />
        
    </div>
    <h2>Andy Lord</h2>

<h3>Managing Director - London Underground</h3>

<p>Andy joined us on 4 November 2019 as the Managing Director of London Underground (LU), the world's oldest underground railway. He's responsible for the safe, reliable and effective operation of the service, and for delivering the priorities and objectives set out in the Mayor's Transport Strategy and TfL Business Plan. Made up of eleven lines, the Tube handles approximately 4.8 million passengers a day, or 1.379 billion passengers every year.</p>

<p>Andy spent nearly 30 years in the commercial aviation sector, joining British Airways as a sponsored undergraduate in 1989, where he gained an honours degree in mechanical engineering. He took on varied roles across engineering &amp; operations, culminating as Director of Operations for just over&nbsp;seven years. Prior to joining LU, his most recent position was vice president of Menzies Aviation, with overall responsibility for all aspects of the business and operations for the UK, Europe, Middle East, Africa and India.</p>

<p>Andy is also a Non-Executive Director for the Defence Equipment and Support Agency, the bespoke trading entity&nbsp;and arm's length body of the UK Ministry of Defence responsible for all aspects of procurement &amp; services for the UK Armed Forces.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/andy-lord-register-of-interests.pdf">
    <div class="document-download-text">
        <p>Andy Lord - declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/will-norman_rdax_400x200.jpg" alt="Will Norman, Walking and Cycling commissioner" />
        
    </div>
    <h2>Dr. Will Norman</h2>
<h3>Walking and Cycling Commissioner</h3>
<p>Will Norman is London's first Walking and Cycling Commissioner, working to deliver the Mayor's pledges to make walking and cycling safer and easier in the capital.</p>
<p>Will was previously Director of Global Partnerships at Nike. He spent more than three years working with not-for-profits, governments, UN agencies and European institutions to tackle the global inactivity crisis, with a particular focus on getting children more active.</p>
<p>Before working at Nike, Will was Director of Research at the Young Foundation and also set up a successful social research consultancy.</p>
<p>Will has a PhD from the London School of Economics. He is an avid cyclist and enjoys both running and walking throughout the capital. He lives with his family in east London.</p>
<p>Will is based at both City Hall and Transport for London (TfL), and is paid via TfL.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roi-will-norman.pdf">
    <div class="document-download-text">
        <p>Will Norman - declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-will-norman.pdf">
    <div class="document-download-text">
        <p>Will Norman - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/gareth-powell1_rdax_400x200.jpg" alt="Gareth Powell" />
        
    </div>
    <h2>Gareth Powell</h2>
<h3>Managing Director - Surface Transport</h3>
<p>Gareth joined us in 2003 after working in a number of roles for Thames Water and infrastructure consultancy WS Atkins in the UK and abroad.</p>
<p>At TfL Gareth held a number of roles in Group Business Planning and Performance before moving to co-lead a major reorganisation project and then joining London Underground as Director of Strategy and Service Development. Immediately prior to his appointment as Managing Director, he was Director of Public Transport &amp; TfL Strategy, driving significant improvements while we modernise our organisation.</p>
<p>His responsibilities include the safe and efficient running of London's roads, bus services, taxis, cycle hire, river services, congestion and emission charging schemes, London Overground, DLR, Emirates Air Line and trams.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-gareth-powell.pdf">
    <div class="document-download-text">
        <p>Gareth Powell - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-gareth-powell-wf.pdf">
    <div class="document-download-text">
        <p>Gareth Powell - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/mark-wild-managing-director-of-london-underground_rdax_400x200.jpg" alt="Mark Wild, Managing Director of London Underground" />
        
    </div>
    <h2>Mark Wild</h2>

<h3>Chief Executive, Crossrail Limited</h3>

<p>Mark Wild is currently the Chief Executive of Crossrail Limited on secondment from TfL, where he was previously the Managing Director, London Underground.&nbsp;</p>

<p>Mark Wild joined TfL in June 2016 from Australia where he was Special Advisor to the Minister and Secretary of The State Government of Victoria. Just before that he was Chief Executive of Public Transport Victoria, the integrated transport authority based in Melbourne serving a population of some six million people.</p>

<p>His near-30 year career in transport has included running the world's biggest tram network and large suburban railway and bus services. He has also successfully managed large capital and maintenance programmes, vastly improved customer satisfaction and implemented a complex new ticketing system.</p>

<p>He also formerly worked on a number of major projects in London, including the introduction of modern signalling on the Jubilee and Victoria lines.</p> 
</div> 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/register-of-interests-mark-wild-wf.pdf">
    <div class="document-download-text">
        <p>Mark Wild - declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gifts-hosp-mark-wild.pdf">
    <div class="document-download-text">
        <p>Mark Wild - Register of gifts and hospitality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div>


        <p>Chief Officers' expenses are published quarterly on the <a href="/corporate/publications-and-reports/chief-officers-expenses">Chief Officers' expenses page</a>. </p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/chief-officers-expenses" class="plain-button">Chief Officers' expenses</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our management team and their roles within the organisation";}
        
            
        


 