
    
  



@{ViewBag.Title = "Code of corporate governance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Code of corporate governance</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Code of corporate governance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Following our corporate governance code of conduct will help us fulfil our commitment to improve the way we deal with customer concerns.
        
      </div>
    
    <div class="on-this-page">
      <h2>Public focus</h2>
<ul>
    <li>We will publish and publicise an <a href="/corporate/publications-and-reports/annual-report">annual report</a> by 31 December, presenting an objective and easily readable account of our activities, achievements, financial position and performance</li>
    <li>We will publish and publicise an annual report by 30 June, setting out an objective and understandable account and assessment of current performance on service delivery, and plans to maintain and improve service quality. We will cooperate with appropriate organisations to ensure there is independent scrutiny of our financial and operational reporting processes</li>
    <li>We will have in place arrangements designed to encourage individuals and groups from all sections of the community to engage with, contribute to and participate in our work. We will implement appropriate monitoring procedures to ensure the arrangements continue to run smoothly </li>
    <li>We will have in place arrangements so complaints can be easily lodged and addressed </li>
    <li>We will establish appropriate relationships with relevant parties on matters of mutual interest </li>
    <li>We will conduct our business on an open basis, subject only to the requirements of appropriate levels of individual and commercial confidentiality</li>
    <li>We will seek to provide safe, integrated, efficient and economic transport facilities that are in line with the priorities of all sections of society, established through consultation</li>
</ul>
<h2>Structures and processes</h2>
<p>The relationships between the corporate centre and the business units will be on an equitable basis: </p>
<ul>
    <li>There will be corporate ownership of policy decisions</li>
    <li>The roles and responsibilities of <a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board members</a> will be clearly documented</li>
    <li>The roles and responsibilities of managers will be clearly documented</li>
    <li>Our Board will meet on a regular basis with meetings open to the public, except where reasons of commercial or individual confidentiality require a meeting to be closed </li>
</ul>
<p>We will ensure appropriate processes are in place to set out our strategic direction: </p>
<ul>
    <li>We will ensure we have a documented scheme of delegation that reserves appropriate responsibilities to the Board and provides managers with the powers necessary to conduct routine business</li>
    <li>We will ensure that all activities are fully documented, appropriately authorised and carried out in a planned manner </li>
    <li>We will ensure a senior manager is made responsible for all aspects of operational management</li>
    <li>We will ensure that a senior manager is made responsible for ensuring that appropriate advice is given in all financial matters, for keeping proper financial records and accounts, and for maintaining an effective system of internal financial control </li>
    <li>We will maintain proper records to ensure that the annual accounts show a true and fair view, and that expenditure has been properly authorised and allocated in an appropriate manner </li>
</ul>
<h2>Risk management/internal control</h2>
<p>We will maintain robust systems for identifying and evaluating all significant risks:</p>
<ul>
    <li>We will maintain an effective risk management system, including systems of internal control and an internal audit function </li>
    <li>We will ensure that risk management systems, including systems of internal control and internal audit, are reviewed under our performance management system</li>
    <li>We will ensure that our Board members are provided with any training needed to perform their role</li>
    <li>We will ensure that our staff are competent to perform their roles</li>
    <li>We will maintain an objective and professional relationship with our external auditors and statutory inspectors</li>
    <li>Our annual report will contain an objective and understandable statement and assessment of the risk management system, including systems of internal control and internal audit and their effectiveness in practice </li>
</ul>
<h2>Service delivery arrangements</h2>
<ul>
    <li>We will ensure we have a management structure that delivers safe, efficient, effective and economic services</li>
    <li>We will maximise our resources and allocate them according to priorities</li>
    <li>We will set targets for performance in the delivery of services on a sustainable basis </li>
    <li>We will set targets for performance in the delivery of services to ensure equality for both staff and customers</li>
    <li>We will have in place sound systems for providing management information for performance measurement purposes</li>
</ul>
<p>We will monitor and report performance against agreed standards, and have comprehensive and understandable performance plans in place: </p>
<ul>
    <li>We will foster effective delivery relationships and partnerships with other public sector agencies, and the private and voluntary sectors </li>
</ul>
<h2>Standards of conduct</h2>
<ul>
    <li>We will have in place formal <a href="/corporate/publications-and-reports/code-of-conduct">codes of conduct</a> which define the standards of personal behaviour to which individual Board members, staff and our agents are required to subscribe</li>
    <li>We will have in place appropriate systems and processes to ensure that all codes of conduct are complied with </li>
    <li>We will have in place arrangements and mechanisms to ensure that all codes of conduct continue to operate in practice, to ensure that Board members and employees are not influenced by prejudice, bias or conflicts of interest in dealing with stakeholders</li>
    <li>Our operational procedures will be designed in conformity with appropriate ethical standards</li>
    <li>We will have in place arrangements for whistleblowing that are accessible to all staff and contractors &nbsp;</li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our corporate governance code of conduct sets how we plan to improve the way we deal with customer concerns while sticking to detailed codes of conduct";}
        
            
        


 