
    
  



@{ViewBag.Title = "Independent Investment Programme Advisory Group";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/iipag";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Independent Investment Programme Advisory Group</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Independent Investment Programme Advisory Group</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Independent Investment Programme Advisory Group (IIPAG) provides independent assurance and expert advice to the Mayor of London concerning our Investment Programme. 
        
      </div>
    
    <div class="on-this-page">
      
        <p>This includes all maintenance, renewal, upgrades and major projects, but not operational issues or the activities of Crossrail Ltd. </p>
        <p>The IIPAG considers issues of economy, efficiency and value for money in preparing its advice. Members are:</p>
         
         
         
         
    
      
           
      
<div>



<h2>Alison Munro (Chair)</h2>


<p>Alison was the first Chief Executive of HS2 Ltd, from 2009, and then Managing Director for Phase Two of HS2. Her previous career was largely in the Department for Transport, where she held a number of senior positions including leading strategic roads policy, local authority capital investment funding, sponsorship of HS1, preparation of transport elements of the GLA Act, and airports policy.</p>

<p>Alison is also a Non-Executive Director of Ofwat (the Water Services Regulator), and the Chair of Ofwat's Audit and Risk Assurance Committee. She is also the Chair of the National College for High Speed Rail. She is a strategic advisor to HS2 Ltd.</p>

<p>Alison was appointed CBE in 2017 for services to the railway industry.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/declaration-of-interests-alison-munro.pdf">
    <div class="document-download-text">
        <p>Alison Munro - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Simon Collins</h2>


<p>Simon is a chartered civil and structural engineer with over 35 years of experience in the management, design and construction of transport infrastructure projects in both highways and rail. Specialising originally in the design of bridges and structures, his career has also included tunnel design and maintenance, and the development of systems for whole-life costing and the long-term prediction of asset condition and performance.</p>

<p>Before joining IIPAG he spent his career in engineering consultancies, including Mouchel, Sinclair Knight Merz and Jacobs, where he was responsible for the development and direction of consultancy businesses operating across a areas including multi-disciplinary design, asset management and project delivery. He has also worked in other countries including Turkey, Kuwait and Russia.</p>

<p>As an external expert to TfL he has supported several integrated assurance reviews of programmes and projects.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/declaration-of-interests-simon-collins.pdf">
    <div class="document-download-text">
        <p>Simon Collins - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>



<h2>Kenny Laird</h2>


<p>Kenny's career in the railway industry began in 1979 when he was a trainee with British Rail in the London Region Civil Engineer's Department.</p>

<p>Kenny worked on the original London Crossrail project, from 1992 to 1994, and then was Head of Projects at Railtrack PLC, Managing Director of ADtranz Signal UK. He went on to work with several engineering consultancies including Jacobs Engineering, Parsons Brinckerhoff and Parsons Transportation.</p>

<p>During his time with the engineering consultancies Kenny was the Programme Director on a number of high profile rail projects in the USA, Manchester Metro expansion and Dubai Metro Red Line Extension (Expo 2020). Kenny also spent time with TfL as part of the sub-surface lines upgrade programme team.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/declaration-of-interests-kenny-laird.pdf">
    <div class="document-download-text">
        <p>Kenny Laird - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>



<h2>Jonathan Simcock</h2>


<p>Jonathan is a Chartered Mechanical Engineer. After his degree at Imperial College he worked in engineering, maintenance, project and production management in the oil, gas and petrochemical industries. He then took on commercial roles which led to deal-making across five continents.</p>

<p>In 2007 he joined the board of the Office of Government Commerce in Her Majesty's Treasury to lead work on major projects and programmes. After another spell leading the manufacturing function of a global industrial business he returned to the world of UK government projects as Managing Director of Smart DCC Ltd, the company which provides the national data and communications infrastructure for Great Britain's smart metering project.</p>

<p>He now holds a portfolio of non-executive and advisory positions.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/declaration-of-interests-jonathan-simcock.pdf">
    <div class="document-download-text">
        <p>Jonathan Simcock - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Joanne White</h2>


<p>Joanne has spent her entire career in large scale, complex, strategic infrastructure development and delivery both internationally and domestically. She is an experienced manager of multi-billion pound programmes and has worked as both a contractor and an owner.</p>

<p>For a large part of her career, Joanne worked for the Bechtel Corporation mostly in oil and gas and civil investment projects and programmes. She has worked as a procurement and contracts manager and has led large multi-cultural construction organisations overseas. Joanne also worked for Heathrow Airport as the Programme Director for its new Terminal 2 during the main development and delivery period.</p>

<p>Joanne ran her own consultancy for several years providing high level advice to boards and senior executives and was a regular high risk project reviewer for the UK Government Infrastructure Projects Authority.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/declaration-of-interest-joanne-white.pdf">
    <div class="document-download-text">
        <p>Joanne White - Declaration of interests</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>



<h2>IIPAG reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2016-17.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2016-17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 449KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2015-2016.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2015-2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 224KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-management-response-to-annual-report-2015-2016.pdf">
    <div class="document-download-text">
        <p>TfL management response to IIPAG Annual Report 2015-2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2014-2015.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2014-2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 578KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-management-response-to-annual-report-2014-2015.pdf">
    <div class="document-download-text">
        <p>TfL management response to Annual Report 2014-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2013-14.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2013-2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2013-14-tfl-management-response.pdf">
    <div class="document-download-text">
        <p>TfL management response to Annual Report 2013-2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2013.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2012-2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 251KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2012-13-tfl-management-response.pdf">
    <div class="document-download-text">
        <p>TfL management response to Annual Report 2012-2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2011-12.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2011-2012 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 579KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2011-12-tfl-management-response.pdf">
    <div class="document-download-text">
        <p>TfL management response to Annual Report 2011-2012 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iipag-annual-report-2010-11.pdf">
    <div class="document-download-text">
        <p>IIPAG Annual Report 2010-2011 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 467KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The IIPAG gives the Mayor independent advice about our investments";}
        
            
        


 