
    
  



@{ViewBag.Title = "Legislative framework";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Legislative framework</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Legislative framework</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are a statutory body created by the Greater London Authority (GLA) Act 1999. This Act gives the Mayor of London a general duty to develop and implement policies to promote and encourage safe, integrated, efficient and economic transport facilities and services to, from and within London.
        
      </div>
    
    <div class="on-this-page">
      <p>The Act also states that we have a duty to help the Mayor complete his duties. In particular, we are required to provide or secure the provision of public passenger transport services, to, from or within Greater London.</p>
<p>As a highway and traffic authority for GLA roads, we regulate how the public uses highways and we are responsible for:</p>
<ul>
    <li>Traffic signs</li>
    <li>Traffic control systems</li>
    <li>Road safety</li>
    <li>Traffic reduction</li>
</ul>
<p>We are also the licensing authority for hackney carriages (taxis) and private hire vehicles (minicabs).</p>
<p>The GLA sets down our powers and duties. In general, we can delegate to agencies to act on our behalf. </p>
<p>However, in the case of certain specified activities, that delegation is limited. </p>
<p>Those activities specified by the Transport for London (Specified Activities) Order 2000 must be carried out by us through a company limited by shares (which may be one of our subsidiaries). </p>
<p>Transport Trading Limited (TTL) is our trading body. See details of <a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">our subsidiary companies</a>.</p>
<p>All functions remain with our Board unless delegated. The Board may arrange to delegate its functions to any of our committees and sub-committees, any subsidiaries, any members or officers and any bodies of members and/or officers. </p>
<p>Our Standing Orders lay down the decision-making structure and proceedings, and the scheme of delegation.&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our authority (and duty) to provide public passenger transport comes from the Greater London Authority (GLA) Act 1999";}
        
            
        


 