
    
  



@{ViewBag.Title = "Subsidiary companies";}
@{ViewBag.Keywords = "Businesses,Public,Suppliers,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></li>
                
            
            
                <li><span class="last-breadcrumb">Subsidiary companies</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Subsidiary companies</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are a statutory corporation regulated under local government finance rules. We are governed by the Greater London Authority Act and have three subsidiary companies incorporated under the Companies Act 2006.
        
      </div>
    
    
      
        <p>Our subsidiary companies are:</p>
        <ul>
            <li>London Transport Insurance (Guernsey) Limited</li>
            <li>TfL Trustee Company Limited</li>
            <li>Transport Trading Limited</li>
        </ul>
    
      
           
      
<div>





        <p>View an organisational chart showing the relationship between our subsidiary companies, and a list of the directors of our subsidiary companies.</p>
        <p>
        </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-subsidiary-organisation-october-2019.pdf">
    <div class="document-download-text">
        <p>TfL subsidiary company structure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-subsidiary-directors-november-2018.pdf">
    <div class="document-download-text">
        <p>Directors of TfL subsidiary companies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h2>Transport Trading Limited companies</h2>

<p>Transport Trading Limited also has a number of subsidiary companies. These are detailed below in alphabetical order.</p>

<h3>City Airport Rail Enterprises Limited</h3>

<p>Company No: 04411523<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Crossrail Limited</h3>

<p>The company appointed to procure and manage the implementation of the Crossrail project.</p>

<p>Company No: 04212657<br />
Place of registration: England<br />
Registered office: 5 Endeavour Square, London E20 1JN</p>

<h3>Docklands Light Railway Limited</h3>

<p>Owns the land on which the Docklands Light Railway is built and is responsible for the operation of the railway.</p>

<p>Company No: 02052677<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Buses Limited</h3>

<p>Responsible for Dial-a-Ride, which provides door-to-door transport for disabled people.</p>

<p>Company No: 01900906<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Bus Services Limited</h3>

<p>Responsible for regulating the London bus network, including planning bus routes and setting bus service levels. The company also monitors service quality. It is responsible for providing bus infrastructure and for certain support services regarding the bus network.</p>

<p>Company No: 03914787<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Dial-a-Ride Limited</h3>

<p>Incorporated in 1991 as a contingency measure, should it have become necessary for certain services to be operated directly; it has never traded.</p>

<p>Company No: 02602192<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London River Services Limited</h3>

<p>Operates and manages eight piers on the River Thames. Licenses boat services using those piers and subsidises multi-stop commuter services provided by a private operator. &nbsp;</p>

<p>Company No: 03485723<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Transport Insurance (Guernsey) Limited</h3>

<p>An insurance company based in Guernsey that provides insurance services to us, our subsidiaries and some of our contractors. &nbsp;</p>

<p>Company No: 28442<br />
Place of registration: Guernsey<br />
Registered office: 4th Floor, The Albany, South Esplanade, St Peter Port, Guernsey</p>

<h3>London Transport Museum Limited</h3>

<p>The company was incorporated in 2008 and has charitable status. It runs the London Transport Museum in Covent Garden.</p>

<p>Company No: 06495761<br />
Place of registration: England and Wales<br />
Registered Office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Transport Museum (Trading) Limited</h3>

<p>The trading company of the London Transport Museum was established to undertake activities designed to benefit the museum, such as the museum shop.</p>

<p>Company No: 06527755<br />
Place of registration: England and Wales<br />
Registered Office: 5 Endeavour Square, London, E20 1JN</p>

<h3>London Underground Limited</h3>

<p>Responsible for operating the London Underground train network and owns (in whole or in part) more than 250 stations. &nbsp;</p>

<p>Company No: 01900907<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Rail for London (Infrastructure) Limited</h3>

<p>A wholly owned subsidiary of Transport Trading Ltd.&nbsp; It will be the Infrastructure Manager for the Elizabeth line central operating section and will grant access to rail operators.</p>

<p>Company No: 09366341<br />
Place of registration: England and Wales<br />
Registered Office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Rail for London Limited</h3>

<p>A wholly owned subsidiary of Transport Trading Ltd. It will carry out the infrastructure upgrade for the North London line and enter into a concession agreement for the London Rail Concession.</p>

<p>Company No: 05965930<br />
Place of registration: England and Wales<br />
Registered Office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TfL Trustee Company Limited</h3>

<p>Trustee of the TfL Pension Fund.</p>

<p>Company No: 02338675<br />
Place of registration: England and Wales<br />
Registered office: 200 Buckingham Palace Road, London, SW1W 9TJ</p>

<h3>Tramtrack Croydon Limited</h3>

<p>Responsible for the running and operation of the tram service in and around the Croydon area.&nbsp; &nbsp;</p>

<p>Company No: 03092613<br />
Place of registration: England and Wales<br />
Registered Office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Transport Trading Limited</h3>

<p>The holding company for all the operating transport companies owned by us. It also carries out certain other trading activities. It receives the revenues from the sales of Travelcards in connection with all forms of transport operated by us. By law, we cannot carry out certain activities except through a limited liability company which is a subsidiary of ours or which we formed or joined with others in forming. &nbsp;</p>

<p>Company No: 03914810<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>UKTram Limited</h3>

<p>This is an associate company of London Bus Services Limited (LBSL). It is limited by guarantee and owned in equal shares by LBSL, the Confederation of Passenger Transport UK, PTEG Ltd and the Light Rapid Transit Forum.</p>

<p>The main purpose of UKTram Ltd is to represent the UK tramway industry in dealing with government and statutory bodies in developing a coordinated and structured approach to regulation, procurement and standardisation within the industry.</p>

<p>Company No: 05554196<br />
Place of registration: England and Wales<br />
Registered office: Centro, 16 Summer Lane, Birmingham B19 3SD</p>

<h3>Transport for London Finance Limited</h3>

<p>Incorporated in November 2008 as a wholly owned subsidiary of Transport Trading Ltd. Its principal purpose is to enter into certain financial transactions on behalf of members of our group where appropriate.</p>

<p>Company No: 06745516<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL Blackhorse Road Properties Limited</h3>

<p>Company No:&nbsp;11121664<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL Build to Rent Limited</h3>

<p>Company No:&nbsp;12098343<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL Earl's Court Properties Limited</h3>

<p>Company No: 08951012<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL&nbsp;Kidbrooke Properties Limited</h3>

<p>Company No:&nbsp;10768138<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL&nbsp;Landmark Court Properties Limited</h3>

<p>Company No:&nbsp;11121741<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL&nbsp;Northwood Properties Limited</h3>

<p>Company No: 11607897<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL Properties Limited</h3>

<p>Company No: 08961151<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL Southwark Properties Limited</h3>

<p>Company No: 08212651<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>TTL South Kensington Properties Limited</h3>

<p>Company No: 11403981<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Victoria Coach Station Limited</h3>

<p>Operates Victoria Coach Station, which is responsible for providing an arrival and departures facility for coaches in London.</p>

<p>Company No: 00205610<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>

<h3>Woolwich Arsenal Rail Enterprises Limited</h3>

<p>Company No: 05372373<br />
Place of registration: England and Wales<br />
Registered office: 5 Endeavour Square, London, E20 1JN</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have three subsidary companies, one of which, Transport Trading Limited, has several subsidiaries of its own";}
        
            
        


 