
    
  


<!-- rhroot -->
@{ViewBag.Title = "Emirates Air Line ";}
@{ViewBag.Keywords = "Emirates ,Emirates Airline ,TfL";}
@{ViewBag.Url = "/modes/emirates-air-line/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Emirates Air Line </span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Emirates Air Line </h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/eal-partner.png" alt="Emirates Air Line  logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser eal">
  
  <a href="/modes/emirates-air-line/the-emirates-air-line-experience?intcmp=1445"  data-img="/cdn/static/cms/images/promos/eal-section.jpg" data-img-breakpoint="" data-img-alt="Emirates Air Line Cable Car">
    <img src="/cdn/static/cms/images/promos/eal-section_rdax_600x300.jpg" alt="Emirates Air Line Cable Car" />
    <div class="text-link sit-bottom">
      <h2>Enjoy great views</h2>
      <p>See London differently from Emirates Air Line.</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div class="vertical-button-container">



<a href="http://www.tfl.gov.uk/cable-car/route/emirates-air-line/"  class="plain-button">Find a terminal</a>

</div>

        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="http://emiratesairline.gttix.com/emirates-air-line-tickets?intcmp=53112" >
        <img src="/cdn/static/cms/images/promos/eal-at-night_rdax_400x200.jpg" alt="Enjoy a stunning night flight on Emirates Air Line" />
        
        <div class="text-link">
             <h2>Book flights</h2>
            <p>Book single, return and Discovery Experience tickets online</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/cable-car-and-excel-exclusive-rate?intcmp=43442" >
        
        
        <div class="text-link">
             <h2>Going to an ExCel event?</h2>
            <p>Enjoy an exclusive rate on Emirates Air Line</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Emirates Air Line, river & museum package</h3>
<p>Buy a combined ticket for Emirates Air Line, Thames Clippers and London Transport Museum and enjoy a varied day of fun in London.</p>
<div class="vertical-button-container">

<a href="https://booking.thamesclippers.com/thames-clippers-tickets/joint-tickets/london-transport-museum-emirates-air-line.html" class="plain-button">Buy tickets</a>
    </div>
</div>
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/?intcmp=58115" >
        <img src="/cdn/static/cms/images/promos/london-skyline-dusk_rdax_400x200.jpg" alt="London skyline at dusk - Tower Bridge and Thames" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Read about London's hidden gems, big attractions and exciting things to do </p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="http://emiratesairline.gttix.com/emirates-air-line-champagne-flights?intcmp=53115" >
        <img src="/cdn/static/cms/images/promos/champagne-flight-teaser-image_rdax_400x200.jpg" alt="Girl with a glass of champagne on the Emirates Air Line watching the sunset" />
        
        <div class="text-link">
             <h2>Book champagne flights</h2>
            <p>Enjoy a glass of champagne on a special Emirates Air Line experience</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser emirates">

    <a href="/modes/emirates-air-line/opening-hours-frequency?intcmp=1453" >
        
        
        <div class="text-link">
             <h2>Location & opening hours</h2>
            <p>Get directions and see our opening hours and flight times</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Emirates Air Line & river package</h3>
<p>Fly over the Thames and glide down it with a combined Emirates Air Line and Thames Clippers ticket.</p>
<div class="vertical-button-container">

<a href="http://www.thamesclippers.com/whats-on-discounts/emirates-and-thames-clippers-joint-ticket-packages" class="plain-button">Buy tickets</a>
    </div>
</div>
 <div class="news-teaser">

    <a href="/modes/river/explore-london-tickets?intcmp=47992" >
        <img src="/cdn/static/cms/images/promos/3way-ticket-teaser_rdax_400x200.jpg" alt="Emirates Air Line cable car, Santander Cycles and River tickets" />
        
        <div class="text-link">
             <h2>Emirates Air Line, river and Santander Cycles ticket</h2>
            <p>Save up to 20% with an Explore London combined ticket</p>
        </div>
    </a>
</div>
 
 
</div>
 <div class="vertical-button-container">



<a href="/fares/find-fares/emirates-air-line-fares"  class="plain-button">Fares &amp; Oyster card discounts</a>


<a href="/travel-information/visiting-london/index"  class="plain-button">Visiting London</a>

</div>
<div class="vertical-button-container">



<a href="/travel-information/visiting-london/experience-london"  class="plain-button">Other ways to experience London</a>


<a href="/corporate/about-tfl/what-we-do"  class="plain-button">Funding</a>

</div>

        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">

                        <div class="board-wrapper service-board-collapsed">
                            @{ Html.RenderAction("StatusBoard", "StatusUpdates", new { modes = Library.MeansOfTransport.CableCar, collapsed = true, isHomeOrModePageStatusBoard = true }); }
                        </div>


                </div>
             
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-emirates-air-line">Fill in a general enquiries form</a><br />
<a href="/help-and-contact/contact-us-about-emirates-air-line-staff">Give feedback about staff</a> <br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />4th Floor<br />14 Pier Walk<br />London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.emiratesairline.co.uk/" class="plain-button">Emirates Air Line</a>
<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Emirates Air Line. Find out about London's cable car across the River Thames ";}
        
            
        


 