
    
  



@{ViewBag.Title = "Location & opening hours";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/emirates-air-line/opening-hours-frequency";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/emirates-air-line/index">Emirates Air Line </a></li>
                
            
            
                <li><span class="last-breadcrumb">Location & opening hours</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Location & opening hours</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Emirates Air Line runs between the Greenwich Peninsula (by the O2) and the Royal Docks.<BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Getting there</h2>
You can board the Emirates Air Line from either the North Greenwich or Royal Victoria sides of the river (return flights are available). The nearest transport options are:&nbsp;
<h3>Emirates Greenwich Peninsula</h3>
<p><strong>Address: </strong>North Greenwich side Emirates Cable Car Terminal, Edmund Halley Way, London SE10 0FR</p>
<p><strong>Tube:</strong> North Greenwich (Jubilee line)</p>
<p><strong>DLR:</strong> Royal Victoria</p>
<p><strong>River: </strong>North Greenwich Pier</p>
<p><strong>Bus: </strong>North Greenwich Bus Station (take the 188 from Central London)</p>
<p>Car parking facilities are available, including at North Greenwich Tube station and the O2.</p>
<p><a href="http://www.tfl.gov.uk/cable-car/stop/940GZZALGWP/emirates-greenwich-peninsula?lineId=emirates-air-line">Plan your journey to Emirates Greenwich Peninsula</a>.</p>
<h3>Emirates Royal Docks</h3>
<p><strong>Address:</strong> Royal Docks side 27 Western Gateway, London E16 1FA</p>
<p><strong>DLR:</strong> Royal Victoria</p>
<p><a href="http://www.tfl.gov.uk/cable-car/stop/940GZZALRDK/emirates-royal-docks?lineId=emirates-air-line">Plan your journey to Emirates Royal Docks</a>.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/emirates-map.jpg" alt="Emirates Air Line locations" />
        
        
        
    </div>   
 </div>
 
<h2>Opening hours</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1"><strong>Day&nbsp;</strong></th>
			<th><strong>Time</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" rowspan="1"><strong>Monday to Thursday </strong></th>
			<td>07:00-21:00</td>
		</tr>
		<tr>
			<th colspan="1" rowspan="1"><strong>Friday</strong></th>
			<td>07:00-23:00</td>
		</tr>
		<tr>
			<th colspan="1" rowspan="1"><strong>Saturday</strong></th>
			<td>08:00-23:00</td>
		</tr>
		<tr>
			<th colspan="1" rowspan="1"><strong>Sunday and Bank Holidays</strong></th>
			<td>09:00-21:00</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h3>Night flight experience hours </h3>
<p>After 19:00 each day, flight durations are extended to approximately 25 minutes (12-13 minutes each way), so you can enjoy an even more relaxing trip across the Thames.
Music and video will further enhance your in-flight experience at these times.</p>
<h3>Closures</h3>
<p>Emirates Air Line is closed on Christmas Day and for regular maintenance. Details will be displayed on this page. </p>
<p>On Bank Holidays, we operate a Saturday timetable.</p>
<h2>Frequency
</h2>
<p>Cabins arrive every 30
seconds.</p>
<h2>Journey times
</h2>
<p><strong>Monday to Friday:</strong> between 07:00-09:00, approximately five minutes.<br />
<strong>After 19:00 every day:</strong> 12-13 minutes (for night flight experience).<br />
<strong>All other times:</strong> approximately 10 minutes.
</p>
<h2>Temporary disruption due to weather
</h2>
<p>Emirates
Air Line may temporarily close due to:
</p>
<ul>
    <li>Threat of lightning and
    thunder to the immediate area </li>
    <li>Very strong winds
    </li>
</ul>
<p>Check <a href="/status-updates/index">Status
updates</a> or call our 24-hour travel information line on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>
<h2>Group bookings</h2>
<p>For more information on group bookings contact us:</p>
<p>Telephone: 020 3282 1030<br />
Email: <a href="mailto:ealgroups&#64;macemacro.com">ealgroups&#64;macemacro.com</a></p>
<p>Coach parking facilities (The O2) are just a short walk away. Discounts are available for large group bookings.</p>
<h2>Bicycles</h2>
<p>Bicycles are accepted on the Emirates Air Line at all times.</p>
</div>
 <div>

<h2><a name="eal-accessibility"></a>Accessibility</h2>

<p>The Emirates Air Line has step-free access, and is accessible to most wheelchairs including motorised wheelchairs and mobility scooters.</p>

<p>The maximum weight is 300kg and the maximum size is 700mm by 1300mm. We may ask you to confirm dimensions of your scooter and we may check using a floor marking to make sure you can board safely.</p>

<p>Passengers get on and off through the same doors and there may not be enough space for you to turn round. This means you may have to reverse your wheelchair or scooter to get in or out of the cabin.</p>

<p>Both terminals are staffed and we can offer assistance getting in or out of cabins. The cabins can be slowed down to allow you plenty of time to board.</p>

<p>Electric wheelchairs and mobility scooters must be turned off inside the cabins.&nbsp;</p>

<h2>Fares</h2>

<p>You can travel on the Emirates Air Line with pay as you go using a contactless payment or Oyster card, or you can buy a Boarding Pass.&nbsp; For more information, <a href="/fares/find-fares/emirates-air-line-fares">go to the Emirates Air Line fares page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/emirates-air-line/index" class="heading">
                    <h2 id="sub-menu-heading">Emirates Air Line <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/emirates-air-line/opening-hours-frequency">Location & opening hours</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/emirates-air-line/the-emirates-air-line-experience">The Emirates Air Line experience</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/fares/find-fares/emirates-air-line-fares"  class="plain-button">Emirates Air Line fares</a>

</div>
<div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.emiratesairline.co.uk/" class="plain-button">Emirates Air Line</a>
<a href="http://emiratesairline.gttix.com/" class="plain-button">Book tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Emirates Air Line opening hours, journey times and frequency";}
        
            
        


 