


@{ViewBag.Title = "Artist Dryden Goodwin brings talking heads to the Jubilee line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Artist Dryden Goodwin brings talking heads to the Jubilee line</h1>
        <div class="content-page-press-release">
        21 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Getting Paul McCartney through the ticket barrier, the Tube driver who looks like Boudicca reminiscing about driving the old 1930s stock trains and the baby nicknamed 'Jubilee' by staff who were present at its unexpected birth at Kingsbury station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I wanted to create an archive of portraits that reveals some of the personalities behind the multitude of people who work on the Tube,
                            
                        </p>
                    </div>
                
            
            
            <p>These are just some of the true-life stories told by 60 London Underground (LU) staff in Linear, artist Dryden Goodwin's project for the Jubilee Line. </p> <p>Goodwin's work was created as part of a series of new contemporary art commissions by Art on the Underground for the Jubilee line. </p> <p>The result is a fascinating multimedia project of drawings and short films which can be viewed online at <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> from the start of February 2010. </p> <h2>On show</h2> <p>A collection of pocket-size, highly detailed pencil portraits of station and train staff will be displayed as posters at stations across the Tube network.</p> <p>All 60 portraits will be exhibited together on a billboard outside Southwark station. </p> <p>Artwork from this project will also be on show at London Bridge and Stanmore stations from February. </p> <p>For the short films, Goodwin attached a high-definition camera to his drawing board. </p> <h2>Investment of time</h2> <p>The viewer hears the conversation between sitter and artist and watches the face take shape under the pencil on screen, the film speed accelerated so that each portrait is completed within two minutes. </p> <p>The investment of time becomes an underlying theme of the work, manifest in a series of captions accompanying the drawings whereby the time taken to make each portrait is juxtaposed with the number of years each member of staff has worked on the Jubilee line. </p> <p>Goodwin's portraits only show the faces, not the uniforms of the staff, giving them all equal status as well as humanising the people who are sometimes ignored in the commuter rush.&nbsp; </p> <p>Artist Dryden Goodwin said: 'Travelling on the Underground we're usually in a hurry - rushing down escalators, waiting on a station platform, focused on getting somewhere else. </p> <h2>Personalities</h2> <p>'I wanted to create an archive of portraits that reveals some of the personalities behind the multitude of people who work on the Tube, people who are rarely acknowledged as individuals by members of the public.</p> <p>'Drawing someone you've never met before is an intense encounter and enables a unique intimacy to develop.&nbsp; </p> <p>'As the portraits unfold so too does openness in the conversation - Linear is all about different types of connection.'</p> <p>The Linear portraits cover the full gamut of jobs on the Jubilee line, from station supervisors to train operators, gate-line staff to line managers. </p> <h2>Observes his subjects</h2> <p>The circumstances of the portrait making are as important as the sitters themselves; Goodwin observes his subjects as they go about their work, whether in the cab with a driver or in the control room at a station. </p> <p>The sitters occasionally break off from their conversation with the artist to make a passenger announcement, or exchange comments with fellow staff and it is then that we get a glimpse of the workplace camaraderie, as well as the pace of their working life.</p> <p>Art on the Underground's Community Projects Curator Louise Coysh said: 'Dryden has created an intriguing new work that unlocks the intimate stories from the people who work on the Jubilee line.</p> <p>'He has not only helped give us an insight into the lives of the incredible Underground team, but has also created more opportunities for staff to connect with each other.'</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Linear is one of a series of artworks commissioned by Art on the Underground for the Jubilee line, under the title 'The Value of Time'  </li><li>Art on the Underground is LU's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three-and-a-half million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe  </li><li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a>  </li><li>Dryden Goodwin was born in 1971. He studied at the Slade School of Art, London. He was awarded a residency at Benetton's art and communication institute Fabrica, Italy, in 1996/97, and a Nesta Fellowship in 2001.&nbsp;He has exhibited internationally in solo and group exhibitions. His last London show was Cast in 2008 at The Photographers' Gallery, London, coinciding with the launch of his monograph, published in collaboration with Photoworks, The Photographers' Gallery and Steidl in 2008  </li><li>LU is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available <a href="http://www.tfl.gov.uk/plannedworks">online</a> </li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These are just some of the true-life stories told by 60 London Underground (LU) staff in Linear, artist Dryden Goodwin's project for the Jubilee Line.Goodwin's work was created as part of a series of new contemporary art commissions by Art on the";}
        
        


 