


@{ViewBag.Title = "DLR Bank platforms to reopen on 1 February following three-car upgrade work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR Bank platforms to reopen on 1 February following three-car upgrade work</h1>
        <div class="content-page-press-release">
        26 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Completed engineering works will lead to 50 per cent increase in capacity on trains serving the Bank-Lewisham route. Additional bus services in place to assist passengers over extra weekend closure.
        
    </div>



 <div class="on-this-page">
<p>Docklands Light Railway (DLR) has confirmed its platforms at Bank station, which have been closed since 24 December for engineering work to enable three-car operation between Bank and Lewisham, will reopen on Monday 1 February. </p>
<p>In order to finish the work an additional network closure will take place between Bank/Tower Gateway and Westferry from Friday 29 January to Sunday 31 January to allow extra signal testing to be carried out. </p>
<h2>Longer trains</h2>
<p>A full bus replacement service will operate during this time, and has been enhanced at the weekend when engineering work is also taking place on the Jubilee line.</p>
<p>Three-car operation will be introduced gradually on the Bank-Lewisham route following the completion of the engineering works. </p>
<p>DLR has also used the Bank closure to enhance and improve the platforms, lighting and signage at the station.</p>
<p>Jonathan Fox, Director DLR, said: 'This work represents the final piece in the three-car jigsaw on the Bank-Lewisham route, so we look forward to seeing the first of our longer trains shortly enter service. </p>
<p>'Meanwhile I'm confident our Bank passengers will really notice the difference at the new and improved platforms. </p>
<p>'I would like to apologise for the disruption that the Bank closure has caused, and also for the station closures required for the final three days.' </p>
<h2>Bus replacement service</h2>
<p>The following bus replacement services will operate during the coming weekend closure:</p>
<p>Friday 29 January: 07.00-20.00 Bank/Tower Gateway to Canary Wharf every two minutes, Shadwell-Limehouse-Westferry every four minutes. Before and after this time Bank/Tower Gateway to Canary Wharf every five minutes, Shadwell-Limehouse-Westferry every 10 minutes.</p>
<p>Saturday 30 January: 08.30-19.00 Bank/Tower Gateway to Canary Wharf every three and a half minutes, Shadwell-Limehouse-Westferry every seven minutes. Before and after this time Bank/Tower Gateway to Canary Wharf every five minutes, Shadwell-Limehouse-Westferry every 10 minutes.</p>
<p>Sunday 31 January: 09.30-19.00 Bank/Tower Gateway to Canary Wharf every four minutes, Shadwell-Limehouse-Westferry every seven minutes. Before and after this time Bank/Tower Gateway to Canary Wharf every five minutes, Shadwell-Limehouse -Westferry every 10 minutes.</p>
<p>Passengers are advised to check before they travel via Transport for London's <a title="Journey planner" href="http://www.tfl.gov.uk/ ">Journey Planner</a> or call 0843 222 1234. </p>
<p>For bus replacement details call this number or go to <a href="http://www.dlr.co.uk/improvements">www.dlr.co.uk/improvements</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>On Friday 29 January DLR services will run from Stratford to Lewisham, Poplar to Beckton and Canning Town to Woolwich Arsenal. A Canary Wharf to Lewisham service will run in peak hours </li>
<li>On Saturday 30 January and Sunday 31 January DLR services will run from Stratford to Lewisham and Woolwich Arsenal to Lewisham only<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR) has confirmed its platforms at Bank station, which have been closed since 24 December for engineering work to enable three-car operation between Bank and Lewisham, will reopen on Monday 1 February. In order to finish the work";}
        
        


 