


@{ViewBag.Title = "Independent PPP adjudicator dismisses Tube Lines' claim for further &pound;327m from London Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Independent PPP adjudicator dismisses Tube Lines' claim for further &pound;327m from London Underground</h1>
        <div class="content-page-press-release">
        25 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Independent QC's ruling confirms that Tube Lines (Ferrovial & Bechtel) is responsible in full for costs resulting from the delay to Jubilee and Northern line upgrades.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"None of the allegations about LU bearing any blame for the cost increases have any foundation"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            None of the allegations about LU bearing any blame for the cost increases have any foundation
                            
                        </p>
                    </div>
                
            
            
            <p>The finding follows PPP Arbiter's draft determination on costs, which was over &pound;2bn less than Tube Lines' original claim.</p>
<p>Transport for London (TfL) today welcomed an independent adjudication which 'dismissed in its entirety' a claim by Tube Lines (Ferrovial &amp; Bechtel) for a further &pound;327m of public funds from London Underground (LU).</p>
<p>The ruling, by an independent QC, confirmed LU's position that Tube Lines is responsible in full for the costs it has incurred arising from delays to the upgrade of the Jubilee and Northern lines.</p>
<p>Tube Lines had sought to claim that LU was in breach of its PPP contract, and was responsible for an additional &pound;327m in costs.</p>
<p>However, the independent QC adjudicating ruled that LU had not breached its contract and bore no responsibility for any increase in Tube Lines' costs.&nbsp; </p>
<h2>Legal costs</h2>
<p>He also instructed Tube Lines to pay LU's costs and legal fees incurred in defending the claim.</p>
<p>The independent QC's adjudication follows the PPP Arbiter's Draft Directions on the future costs of Tube Lines' PPP contract, delivered in December 2009.&nbsp; </p>
<p>In his Draft Directions on those Second Period costs, the PPP Arbiter ruled that a fair, economic and efficient price would be &pound;4.4bn, much less than Tube Lines' original and hugely excessive &pound;6.8bn demand and much closer to LU's &pound;4bn evaluation.&nbsp; </p>
<p>The PPP Arbiter also found that Tube Lines, working in partnership with LU, could have completed the upgrade of the Jubilee line on time and to budget and that Tube Lines' pursuit of more access, or disruptive closures, in future was unnecessary.</p>
<h2>Disruption to Londoners</h2>
<p>Tube Lines were contracted to complete the upgrade of the Jubilee line by the end of December 2009.&nbsp; </p>
<p>However, the project is now likely to be at least 10 months late, with LU discussing a programme of part and whole-line weekend closures of the Jubilee line up to October this year that will, regrettably, continue to cause disruption to Londoners and businesses on the Jubilee line.</p>
<p>LU, meanwhile, continues to work directly with its suppliers to implement the Victoria line upgrade on time and on budget, despite that project having been inherited from the failing Metronet and involving the introduction of a new fleet of trains as well as a new signalling system.</p>
<p>LU Managing Director, Richard Parry said: 'We welcome this ruling by the independent adjudicator, which makes it clear that Tube Lines is responsible, in full, for the costs it has incurred as a result of delays to the upgrade of the Jubilee and Northern lines.&nbsp; </p>
<h2>Further suspensions</h2>
<p>'Also, that none of the allegations about LU bearing any blame for the cost increases have any foundation.</p>
<p>'This ruling proves that, contrary to Tube Lines' claims, London Underground is a capable, disciplined and responsible commercial partner. </p>
<p>'We are successfully delivering substantial upgrades to the Underground by working directly with private sector contractors on those parts of the network where there is no PPP arrangement, by contrast with the Jubilee line failure, wholly attributed to Tube Lines by this adjudication.</p>
<p>'Tube Lines need to stop making further spurious claims for additional fare payers' and taxpayers' money, given the handsome returns already being earned by shareholders Bechtel and Ferrovial, and get on with the job in hand.&nbsp; </p>
<p>'That is to complete the delayed upgrade of the Jubilee line as soon as possible, learn lessons to minimise any further disruptive suspensions, line closures and delay on the upgrade of the Northern line, and to deliver their future works at the value for money price determined by the PPP Arbiter.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>LU is part of TfL 
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The remaining LU lines were to have been maintained and upgraded by Metronet Rail, which went into PPP Administration in July 2007.&nbsp;The businesses subsequently transferred to LU </li>
<li>Please see press notice '<a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/13850.html">PPP Arbiter finds Tube costs close to London Underground's assessment</a>' </li>
<li>The press notice which accompanied LU's 2009 PPP Annual Report can be found <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/12435.html">online</a></li>
<li>LU's 2009 PPP Annual Report itself can be found <a href="http://www.tfl.gov.uk/assets/downloads/london-underground-ppp-performance-report-2008-2009.pdf">online</a> </li>
<li>The PPP Periodic Review Process in more detail:</li>
<p>On 23 September, LU referred the issue of Tube Lines Second Period PPP costs to the independent PPP Arbiter, as part of the PPP Periodic Review process to determine the future price of the upgrade and maintenance of the Jubilee, Northern and Piccadilly lines.&nbsp; </p>
<p>The Second Period of the PPP contract is for seven and a half years from mid-2010 to the end of 2017.</p>
<p>LU provided Tube Lines with Restated Contract Terms, which set the scope of the track, trains, station and signalling improvements required in the Second Period, at the end of December 2008.&nbsp; </p>
<p>Tube Lines responded to LU at the end of June, but at &pound;6.8bn with a price significantly in excess of LU's then &pound;4.2bn evaluation and which was also much higher than the price indicated by the PPP Arbiter in his initial guidance provided in September 2008.</p>
<p>Since June, LU has worked constructively with Tube Lines to bring their costs down.&nbsp; </p>
<p>But even though progress was made, towards the end of September Tube Lines' price remained unacceptably high and, at well over a billion pounds in excess of LU's price, did not represent value for money.&nbsp; </p>
<p>As a result, LU made a referral to the Arbiter who conducted his independent review. </p>
<p>On 17 December 2009, the PPP Arbiter provided his Draft Directions on price, &pound;4.4bn, and other questions relevant to the process.</p>
<p>LU and Tube Lines now have the opportunity to make further representations to the PPP Arbiter, before he confirms his Directions on Second Period costs in March 2010.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The finding follows PPP Arbiter's draft determination on costs, which was over &pound;2bn less than Tube Lines' original claim.Transport for London (TfL) today welcomed an independent adjudication which 'dismissed in its entirety' a claim by Tube Lines";}
        
        


 