


@{ViewBag.Title = "Invitation to tender issued for redevelopment of Bond Street Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Invitation to tender issued for redevelopment of Bond Street Tube station</h1>
        <div class="content-page-press-release">
        12 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today confirmed that it has issued the invitation to tender for the redevelopment of Bond Street Tube station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The &pound;300m redevelopment of Bond Street Tube station, coupled with the new Crossrail station, will transform the Bond Street area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Miles Ashley</div>
            <div class="quotee-job-title">Head of the London Underground Station Capacity Programme</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The &pound;300m redevelopment of Bond Street Tube station, coupled with the new Crossrail station, will transform the Bond Street area
                            
                        </p>
                    </div>
                
            
            
            <p>The following pre-qualified organisations have been invited to tender:</p>
<ul>
<li>Taylor Woodrow / BAM Nuttall joint venture </li>
<li>Laing O'Rourke / Batchy Soletanche / Costain joint venture </li>
<li>Balfour Beatty</li></ul>
<p>The closing date for the return of tenders is April 2010. </p>
<p>It is anticipated that a contract will be awarded by summer 2010. Main construction is due to begin in late 2010, with the redevelopment of the station completed in early 2017. </p>
<h2>Linking Crossrail</h2>
<p>The total cost of redeveloping Bond Street Tube station is in the region of &pound;300m. The selected contractor will deliver an expansion of Bond Street Tube station as well as a step-free link between the Tube station and Crossrail Bond Street station. </p>
<p>When work is complete in 2017 the station will benefit from:</p>
<ul>
<li>A new ticket hall on Marylebone Lane, which will increase capacity and provide step-free-access to both the Central and Jubilee lines </li>
<li>Additional escalators to the Jubilee line </li>
<li>A new low-level passenger interchange between the Central and Jubilee lines, which will reduce congestion and improve journey times. Passengers will no longer need to travel to the station's mid-level to interchange between these two lines</li></ul>
<h2>Increased capacity</h2>
<p>Miles Ashley, Head of London Underground Station Capacity Programme said: 'By 2017, Bond Street will be served by both London Underground and Crossrail. </p>
<p>'Work will start later this year to increase capacity by creating a new station entrance and ticket hall on the north side of Oxford Street and installing additional escalators and passageways below ground including a passenger link to Bond Street Crossrail station. </p>
<p>'In addition, the station will be made accessible, with step-free access from the street to all platforms and interchanges.</p>
<p>'The &pound;300m redevelopment of Bond Street Tube station, coupled with the new Crossrail station, will transform the Bond Street area and act as a catalyst for further investment securing the West End's position as a premier shopping and entertainment destination and major employment centre.'</p>
<p>Utility diversions and enabling works around Crossrail's Bond Street Hanover Square station got underway last month in preparation for the start of construction and will continue throughout 2010. </p>
<p>To facilitate the construction of the new northern ticket hall on Marylebone Lane, the buildings on 354-358 Oxford Street will be compulsorily purchased and demolished.</p>
<p>This process will begin in summer 2010. <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong></strong>
<ul>
<li>Bond Street Tube station is a major gateway to London's West End served by both the Central and Jubilee lines. Over 155,000 passengers currently use Bond Street Tube station each day. With the arrival of Crossrail in 2017, passenger numbers are expected to increase to 225,000 per day </li>
<li>The construction cost of redeveloping Bond Street Tube station is in the region of &pound;150m. The overall cost of the London Underground project at Bond Street is in the region of &pound;300m </li>
<li>A notice was placed in the Official Journal of the European Union in December 2008 seeking expressions of interest for the main works contract for the redevelopment of Bond Street Tube station. The closing date for expressions of interest was 26 February 2009 </li>
<li>TfL confirmed that the following organisations had been shortlisted for the redevelopment of Bond Street Tube station on 10 July 2009:<br>-&nbsp;Balfour Beatty<br>-&nbsp;Taylor Woodrow / BAM Nuttall joint venture<br>-&nbsp;Laing O'Rourke / Batchy Soletanche / Costain joint venture<br>-&nbsp;Morgan Est </li>
<li>Morgan Est withdrew from the shortlist at their own request in December 2009 </li>
<li>A separate contract will be let by Crossrail in due course for the construction of the new Crossrail station at Bond Street which will connect to the Tube station to form one station</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The following pre-qualified organisations have been invited to tender:Taylor Woodrow / BAM Nuttall joint venture Laing O'Rourke / Batchy Soletanche / Costain joint venture Balfour BeattyThe closing date for the return of tenders is April 2010. It is";}
        
        


 