


@{ViewBag.Title = "Life, the Underground and Everything, new poems get scientific ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Life, the Underground and Everything, new poems get scientific </h1>
        <div class="content-page-press-release">
        28 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is celebrating 350 years of the Royal Society, the world's oldest science academy, with a new set of poems that reflect on the meaning of science.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope these poems will entertain Londoners and visitors to the Capital, as they travel on the Tube - itself one of the great technological achievements of our times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope these poems will entertain Londoners and visitors to the Capital, as they travel on the Tube - itself one of the great technological achievements of our times
                            
                        </p>
                    </div>
                
            
            
            <p>The six poems will be displayed on Tube carriages for customers to enjoy from 1 February. </p>
<p>This latest collection of poems show the very different responses to science that Blake, Tennyson and four other poets have had to astonishing scientific discoveries made between the 18th and 21st centuries. </p>
<h2>Science of evolution</h2>
<p>In 'Auguries of Innocence' which begins 'To see the World in a Grain of Sand', William Blake, the great anti-science poet of the early Romanticism movement, attacks what he saw as barren materialism with his own visionary powers. </p>
<p>'In Memoriam', by Alfred, Lord Tennyson, the Victorian poet tries to come to terms with the new science of evolution and geological time.</p>
<p>Contemporary poems about space and time, earth and heaven, and the enduring mysteries of life and death will also be displayed in the advertising spaces on trains. </p>
<p>These include 'In the Microscope' by Miroslav Holub who was also a great Czech scientist, 'It looks so simple from a distance' by Anne Stevenson, 'Out there' by Jamie McKendrick and 'Fulcrum/Writing a World' by David Morley. </p>
<p>Judith Chernaik, writer, editor and founder of Poems on the Underground, said: 'Many poets have been inspired by science and some scientists have also been successful poets.&nbsp; </p>
<h2>Great technological achievements</h2>
<p>'We hope these poems will entertain Londoners and visitors to the Capital, as they travel on the Tube - itself one of the great technological achievements of our times.'</p>
<p>Frances Ashcroft, a Fellow of the Royal Society, said: 'It seems appropriate that LU is celebrating the 350th anniversary of the Royal Society with a set of poems about science. </p>
<p>'Often seen as worlds apart, science and poetry share common themes: both set out to explore the nature of life and the universe, both require insight and creativity, and both are vehicles for discovery. </p>
<p>'No wonder then that some scientists have also been poets, and vice versa'</p>
<p>This new selection of six poems can also be seen on the <a href="http://www.royalsociety.org">Royal Society's website</a> from the start of February.</p>
<p>Today Richard Dawkins and Stephen Hawking belong to the Royal Society while in the past Isaac Newton and Charles Darwin have also been Fellows. </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Between November 2009 and November 2010, the <a href="http://www.royalsociety.org/">Royal Society</a> will be celebrating its 350th anniversary, promoting a spirit of enquiry, excitement and engagement with science.&nbsp;The Society will be working with organisations across the country to raise the profile of science and bring scientific activities to new audiences </li>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai </li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground, published by Orion in 2009 is available from all bookshops and directly from <a href="http://www.orionbooks.co.uk/">Orion Books</a>. The best-selling anthologies 'Poems on the Underground' and 'New Poems on the Underground', as well as 'New Books on the Underground 2006' are also available from most bookshops and <a href="http://www.ltmuseum.co.uk/">London Transport Museum</a> gift shop </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL's) multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk/plannedworks">'check before you travel'</a> at weekends, allowing extra journey time where necessary<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The six poems will be displayed on Tube carriages for customers to enjoy from 1 February. This latest collection of poems show the very different responses to science that Blake, Tennyson and four other poets have had to astonishing scientific discoveries";}
        
        


 