


@{ViewBag.Title = "Local cycling boosted as TfL increases grants for community groups";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Local cycling boosted as TfL increases grants for community groups</h1>
        <div class="content-page-press-release">
        12 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Grants of up to &pound;10,000 now available for cycling enthusiasts keen to promote cycling in their community.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are encouraging new recruits to the Mayor's Cycle Revolution and we are here to help local communities turn their ideas into actions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Integrated Programme Delivery at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are encouraging new recruits to the Mayor's Cycle Revolution and we are here to help local communities turn their ideas into actions
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is calling for Londoners and organisations passionate about cycling to submit applications for grants to help promote cycling activities in their communities.&nbsp;</p>
<p>And there's an extra boost this year as in addition to grants of up to &pound;5,000, grants of &pound;10,000 are available for particularly outstanding projects. </p>
<p>There are two rounds of funding when applications can be submitted; the first round is open from 18 January until 5 February 2010 and applicants who miss this deadline will have another chance to apply when the second round opens on 8 March until 26 March 2010. </p>
<h2>Helping communities</h2>
<p>The fund, administered for TfL by the London Cycling Campaign (LCC), assists the development of projects that encourage people to cycle and to make cycling an everyday activity that is open to all Londoners. </p>
<p>It seeks to support those projects that build the confidence of infrequent or new cyclists from all types of backgrounds - especially groups such as women, children and young people, ethnic groups and disabled people. </p>
<p>Ben Plowden, Director of Integrated Programme Delivery at TfL said: 'We are encouraging new recruits to the Mayor's Cycle Revolution and we are here to help local communities turn their ideas into actions to promote pedal power. </p>
<p>'This year, we're offering increased grants to give local cycling champions the opportunity to think bigger and offer better opportunities to get more people cycling and people cycling more often.' </p>
<h2>Building confidence</h2>
<p>Community groups from across London have already benefitted from the Fund which has made a real impact upon people from all walks of life.&nbsp;</p>
<p>They include the STA Bikes and Wilton Estate project in Hackney who received &pound;4,824 to provide adults and children with cycle training and for cycle maintenance workshops for young people in the youth centre.&nbsp;</p>
<p>Located in the heart of Hackney, the estate is fast becoming a cycling estate working with others to encourage and promote cycling in the local area.&nbsp; </p>
<p>Barnet Norwood Centre and Barnet Mencap project 'Get on Your Bike' was another of the groups to received funding, with &pound;4,990 to help them encourage cycling for adults with learning disabilities in their community. </p>
<p>London Cycling Campaign Community Cycling Officer Rosie Tharp said: 'Through the grants awarded in 2009, over 3,000 people have benefitted, with many building their cycling confidence while others gained cycle maintenance skills. </p>
<p>'A total of 191 abandoned bikes were put back into action and 55 cycle-rides were organised, all thanks to funding from TfL.</p>
<p>'We look forward to receiving many applications again this year and urge all community groups in outer London boroughs that are currently underrepresented, to take this opportunity to get cycling.'</p>
<p>For more details on the CCFfL grant criteria, visit the <a title="LCC website" href="http://www.lcc.org.uk/community">LCC website</a>. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Applicants have until 5 February 2010 to get their CCFfL applications in for the first round </li>
<li>London has seen a dramatic rise in the number cycle journeys made in London, with a 91 per cent increase on London's major roads since TfL was created in 2000. It is estimated that there are now approximately 500,000 cycle journeys a day across London as a whole </li>
<li>TfL wants to increase cycle journeys by 400 per cent by 2025 (compared to 2000) - five percent of all journeys in London</li></ul>
<p>Applicants for grants will be assessed as follows: </p>
<ul>
<li>Encourage people to cycle as a means of transport </li>
<li>Demonstrate and promote cycling, build confidence of infrequent or lapsed cyclists and introduce beginners to cycling </li>
<li>Reaching out to groups underrepresented in cycling (e.g. women, children, youth, ethnic groups, older persons or those with special needs) </li>
<li>Increase access to cycling for groups limited by income, equipment, skills or information </li>
<li>Develop projects in local partnership with other non-cycling special organisations (e.g. travel plans, health, nature, heritage) </li>
<li>Provide positive messages supporting the status of cycling to the public</li></ul>
<p>To qualify for grants of &pound;10,000 applicants will further need to:</p>
<ul>
<li>Demonstrate there is the potential for match funding </li>
<li>Have a clear business/project plan </li>
<li>Demonstrate the number of people who will benefit from the project </li>
<li>Have increased activities or people benefitting from the project compared to &pound;5,000 grants </li>
<li>Have a framework for reporting health and transport outcomes</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is calling for Londoners and organisations passionate about cycling to submit applications for grants to help promote cycling activities in their communities.&nbsp;And there's an extra boost this year as in addition to grants of";}
        
        


 