


@{ViewBag.Title = "London Buses seeks your views on changes to route 46";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks your views on changes to route 46</h1>
        <div class="content-page-press-release">
        06 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of local residents and bus users on proposed changes to route 46 in the King's Cross area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We would like to hear the views of passengers, local residents and the wider community on the proposals 
                            
                        </p>
                    </div>
                
            
            
            <p>The proposals will provide a bus service to the new housing developments at St. Pancras Way.</p>
<p>Transport for London (TfL) has worked with the London Borough of Camden and is proposing to alter the service so buses towards Farringdon travel from Kentish Town Road and then along Royal College Street and St. Pancras Way.</p>
<p>Buses would then turn left on to Pancras Road back on to the existing route.</p>
<p>Camden Street would no longer be served by route 46, however route 214 would still serve the northern end of Camden Street. </p>
<p>The proposed changes would include two new bus stops along the new route: in between 236 Royal College Street and Chichester Court and in the area of the sorting offices on St. Pancras Way. </p>
<h2>Hear the views</h2>
<p>Peter Bradley, Head of Consultation and Engagement, said: 'The proposed changes to route 46 would provide local residents in St. Pancras Way with a bus service for the first time.&nbsp; </p>
<p>'Before any change is made, we would like to hear the views of passengers, local residents and the wider community on the proposals and I would encourage people to respond to this consultation.'</p>
<p>The consultation will run from Monday 11 January 2010 until Friday 5 March 2010. </p>
<p>Those who wish to respond to the consultation can do so via the TfL website (<a href="/corporate/projectsandschemes/2033.aspx">tfl.gov.uk/busrouteconsultation</a>) or by contacting London Buses Customer Services on 0845 300 7000.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Buses Customer Services can be contacted by: 
<ul type="circle">
<li>Telephone on 0845 300 7000 </li>
<li>Email: <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> </li>
<li>Post: London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ</li></ul></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposals will provide a bus service to the new housing developments at St. Pancras Way.Transport for London (TfL) has worked with the London Borough of Camden and is proposing to alter the service so buses towards Farringdon travel from Kentish Town";}
        
        


 