


@{ViewBag.Title = "London Underground calls on RMT leadership to halt 'ludicrous' strike threat";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground calls on RMT leadership to halt 'ludicrous' strike threat</h1>
        <div class="content-page-press-release">
        19 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Union balloted 750 workers when just 30 staff rosters were under discussion. RMT prepared to disrupt Londoners to get more overtime pay.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have consulted fully with staff and unions on the proposed changes and we are prepared to continue discussions with the RMT"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">LU's Chief Maintenance Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have consulted fully with staff and unions on the proposed changes and we are prepared to continue discussions with the RMT
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has called on the RMT leadership to put a stop to the continued threat of strike action to Londoners, after the union's leadership threatened action from 750 members of maintenance staff over alterations to the rosters of just 30 staff.</p>
<p>The union's leadership, which believes LU should use tax and farepayers money to cover maintenance shifts by increasing overtime payments, has also tried to claim that their members' jobs are at risk from external contractors even though this arrangement to address emergencies has been in place for some time. </p>
<h2>Existing agreement</h2>
<p>In line with existing agreements with its unions LU has proposed revised rosters for members of its Stations Comms and Electrical team, to ensure planned engineering staff are always available. </p>
<p>The RMT's leadership has rejected LU's proposals, and has tried to claim that LU is obliged to cover any gaps in rosters with overtime. </p>
<p>This has never been the case and LU will continue to use overtime based solely on business needs.</p>
<p>Phil Hufton, LU's Chief Maintenance Officer, said: 'It is absolutely ludicrous that the RMT's leadership is prepared to jeopardise the journeys of thousands of Londoners over this issue. </p>
<h2>Industrial action</h2>
<p>'We are planning to introduce a roster covering 24 hours a day, seven days a week, to ensure planned engineering staff are always available. </p>
<p>'That agreement already exists, but the RMT is trying to tear it up.</p>
<p>'We have consulted fully with staff and unions on the proposed changes and we are prepared to continue discussions with the RMT. </p>
<p>'They should stop threatening industrial action at every opportunity, when all that will do is lose their members more pay.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has called on the RMT leadership to put a stop to the continued threat of strike action to Londoners, after the union's leadership threatened action from 750 members of maintenance staff over alterations to the rosters of just 30";}
        
        


 