


@{ViewBag.Title = "London Underground condemns planned RMT strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground condemns planned RMT strike action</h1>
        <div class="content-page-press-release">
        29 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Union balloted 750 workers when just 30 staff rosters were under discussion. RMT prepared to try to hold Londoners to ransom for more overtime pay.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is our intention to operate a good service across the network during any industrial action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">LU's Chief Maintenance Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is our intention to operate a good service across the network during any industrial action
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has condemned the RMT leadership's latest threat of strike action to Londoners, after the union's leadership called 15 separate days of strike action from 750 members of maintenance staff over alterations to the shift patterns of just 30 staff.</p>
<p>The union's leadership believes LU should use farepayers' money to cover planned maintenance shifts by increasing overtime payments. </p>
<p>Union bosses have also tried to claim that their members' jobs are at risk from external contractors even though an arrangement to use contractors only to address emergencies has been in place for some time. </p>
<p>In line with existing agreements with its unions LU has proposed revised rosters for members of its Stations, Communications and Electrical team to ensure planned engineering staff are always available when the railway is operating. </p>
<h2>Business needs</h2>
<p>The RMT's leadership has rejected LU's proposals but has failed to offer a suitable alternative; and has tried to claim that LU is obliged to cover any gaps in rosters with overtime. </p>
<p>This has never been the case and LU will continue to use overtime based solely on business needs. </p>
<p>Phil Hufton, LU's Chief Maintenance Officer, said: 'Londoners will share our disgust at the RMT's leadership's attempts to jeopardise the Tube's operation over this issue. </p>
<p>'We are planning to introduce a roster covering 24 hours a day, seven days a week, to ensure planned engineering staff are always available. </p>
<h2>Consulting with staff</h2>
<p>'That agreement already exists, but the RMT is trying to tear it up. </p>
<p>'We have consulted fully with staff and unions on the proposed changes and we are prepared to continue discussions with the RMT. </p>
<p>'They should stop threatening industrial action at every opportunity, when all that will do is lose their members more pay. </p>
<p>'Despite this unjustified threat, it is our intention to operate a good service across the network during any industrial action.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has condemned the RMT leadership's latest threat of strike action to Londoners, after the union's leadership called 15 separate days of strike action from 750 members of maintenance staff over alterations to the shift patterns of";}
        
        


 