


@{ViewBag.Title = "Mayor and TfL announce plans to bring the Capital's cycling revolution to Outer London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL announce plans to bring the Capital's cycling revolution to Outer London</h1>
        <div class="content-page-press-release">
        13 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's 'Year of Cycling' gets underway as 12 Outer London boroughs are selected as Biking Boroughs. There are 2.4 million 'cycleable' journeys made in Outer London every day.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"2010 is set to be the year of cycling in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            2010 is set to be the year of cycling in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>Twelve Outer London boroughs are set to become havens for cycling. </p> <p>They will become Biking Boroughs, which means they will receive extra support and expertise from Transport for London (TfL) in a bid to encourage greater numbers of cyclists in their areas.</p> <p>Research shows how more than half of the trips in the Capital that could be made by bicycle are in Outer London - a total of 2.4 million journeys a day, most of which are currently made by car.</p> <p>The twelve new Biking Boroughs have applied for financial support from TfL to fund a tailored, local study which will identify how cycling in each area can be developed. </p> <p>Boroughs will develop plans which could include measures such as working with schools, the NHS, Primary Care Trusts and local businesses to promote cycling, installing more secure cycle parking spaces or improving junction layouts to make them safer for cyclists.</p> <h2>Developing cycling</h2> <p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: '2010 is set to be the year of cycling in the Capital, with the launch of London's Cycle Hire scheme and the first two Cycle Superhighways. </p> <p>'However, it's in Outer London that the greatest scope exists to increase the number of people travelling by bicycle. </p> <p>'It's staggering that half of all car trips in Outer London are less than two miles in length, a distance you can cover on a bike in around 10 minutes.</p> <p>'The Biking Boroughs scheme aims to harness the huge appetite that already exists for cycling in Outer London, making it even easier to replace unnecessary short car trips with pedal power and delivering health benefits, better air quality and encouraging the use of local shops and town centres.'</p> <h2>Active communities</h2> <p>Ben Plowden, Director of Integrated Programme Delivery at TfL, said: 'There is enormous potential for the many millions of short trips made in outer London every day to be cycled, which is why we will be working with 12 lead boroughs to pave the way in encouraging a shift to two wheels.</p> <p>'Cycling has the potential to become a mainstream mode of transport in Outer London, helping to reduce congestion and emissions, and create more active communities and safer streets.</p> <p>'Fifty-eight per cent of Outer London residents say that they are considering cycling more over the coming year. </p> <p>'The Biking Boroughs initiative aims to harness this enthusiasm by introducing simple, locally focused solutions that encourage residents to consider, for each journey, whether bike could be best.'</p> <p>In addition, the Mayor and TfL aim to deliver two Outer London Skyrides in 2010, following the success of last year's local Skyride in Hounslow which attracted 11,000 cyclists.</p> <p> <hr> <strong>Notes to editors:</strong> <p> <ul> <li>The following boroughs will each receive &pound;25,000 from TfL to fund a local study examining how cycle journeys can be increased: Barking &amp; Dagenham, Bexley, Brent, Bromley, Croydon, Ealing, Haringey, Havering, Hillingdon, Kingston, Merton and Redbridge  </li><li>Their cycling initiatives will be integrated into the borough's Local Implementation Plan (the local plan setting out how each borough is supporting the Mayor's transport priorities)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Twelve Outer London boroughs are set to become havens for cycling.They will become Biking Boroughs, which means they will receive extra support and expertise from Transport for London (TfL) in a bid to encourage greater numbers of cyclists in their areas.";}
        
        


 