


@{ViewBag.Title = "Mayor sees East London Line near completion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sees East London Line near completion</h1>
        <div class="content-page-press-release">
        05 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;1bn East London Line extension works connecting north east and south east London enters final phase. Passengers to benefit from Tube-style service of 12 trains per hour on new London Overground line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new East London Line will radically transform access to the transport system for many thousands of people across the Capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new East London Line will radically transform access to the transport system for many thousands of people across the Capital.
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Boris Johnson today visited Shoreditch High Street station to see the last phase of works to deliver the new East London Line on the London Overground network.&nbsp;</p> <p>Delivered as part of Transport for London's multi-billion pound Investment Programme, the new line will link communities across the Capital.</p> <h2>Linking communities</h2> <p>The Mayor also saw the new air-conditioned and accessible trains that will serve the line, as part of the &pound;1bn project to provide a metro-style service of 12 trains per hour when complete later this year.</p> <p>Linking Hackney in the north east with Croydon in the south, the new line will connect many communities to the network for the first time, and will support the regeneration of some of London's poorest boroughs.</p> <p>&nbsp;The new London Overground line will deliver:</p> <ul> <li>A brand new fleet of 20 walk-through and air-conditioned Class 378 Electrostar trains with a capacity of 494 each, driver-monitored CCTV, wider doors and gangways and wheelchair spaces.&nbsp;A further 13 trains will join the fleet by 2012  </li><li>Four new bright, modern and fully accessible stations for Hackney, which also feature state-of-the-art audio-visual customer communications and CCTV  </li><li>A new station at Shoreditch High Street with step-free access, fully accessible toilet facilities, new touch-screen ticket machines and state-of-the art CCTV.&nbsp;It has also been built with a protective shell to allow planned development to take place without the rail service being interrupted  </li><li>14 refurbished stations with upgraded CCTV, passenger information systems and lighting, with staff on duty at all times when trains are running</li></ul> <h2>Orbital route</h2> <p>The East London Line is scheduled for completion in early summer, before it connects in the north with the rest of the London Overground network at&nbsp;Canonbury in January 2011. </p> <p>The following year, the East London Line Phase 2 will connect Surrey Quays with Clapham Junction in the south.</p> <p>When complete, the full line will create London's first orbital rail route, serving 22 of London boroughs.</p> <p>Mayor of London, Boris Johnson said: 'The new East London Line, which will open later this year as part of the London Overground network, will radically transform access to the transport system for many thousands of people across the Capital.&nbsp; </p> <p>'The gleaming new edifice at Shoreditch High Street is just one example of what &pound;1bn of good investment produces, and will be complemented by further fantastic new stations dotted through Hackney, six refurbished stations on the southern part of the route, as well as a fleet of new state of the art trains. </p> <h2>Shorter journeys</h2> <p>'The project will mean shorter and more enjoyable journeys, less congestion, and will support regeneration up and down the line. </p> <p>'It demonstrates clearly why investment in our transport network is so important.'</p> <p>TfL London Rail's Managing Director, Ian Brown, said: 'The East London Line is about putting places on the Tube map which up until now will have had no regular rail connections - places like Hackney, which on the day the line opens will receive four new stations in one fell swoop.</p> <p>'This will bring hundreds of thousands of people quick and convenient access to the Capital's wider integrated transport network. </p> <p>'In a year's time, the East London Line will be connected to the wider London Overground network in the north at&nbsp;Canonbury and a year after that, it will loop from Surrey Quays across to Clapham Junction to give passengers access to London's first orbital railway.'<br></p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p><strong></strong> <ul> <li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and will be joined by the East London Line when it opens in 2010  </li><li>The East London Line will connect in the north with the London Overground network at&nbsp;Canonbury in January 2011. The following year, the East London Line Phase 2 will connect Surrey Quays with Clapham Junction in the south completing the London Overground orbital route  </li><li>Shoreditch High Street is a brand new station providing new, fast and frequent access to the City for all Londoners and particularly south Londoners. It has been encased in a concrete shell in preparation for tall building development planned to take place alongside the railway. The shell will protect the service from being suspended while building work takes place  </li><li>The East London Line will employ 300 people with 50 percent of its train drivers living in the boroughs of Lewisham, Southwark or Tower Hamlets, near to the New Cross Depot from where&nbsp;the 33 trains will operate<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson today visited Shoreditch High Street station to see the last phase of works to deliver the new East London Line on the London Overground network.&nbsp; Delivered as part of Transport for London's multi-billion pound";}
        
        


 