


@{ViewBag.Title = "New night bus services in west London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New night bus services in west London</h1>
        <div class="content-page-press-release">
        22 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus routes 10 and 33 will become 24-hour services from Saturday 30 January 2010. From this date, route N10 will no longer operate.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We keep the bus network under regular review to ensure it provides the best possible service for passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We keep the bus network under regular review to ensure it provides the best possible service for passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Route 10 runs between Hammersmith and King's Cross via Kensington, Knightsbridge, Oxford Street and Tottenham Court Road.&nbsp; </p>
<p>It will operate 24-hours a day from 30 January, running every 30 minutes during the night.</p>
<p>Route 33 operates between Fulwell and Hammersmith via Barnes, East Sheen, Richmond, Twickenham and Teddington. </p>
<p>It will operate 24 hours a day from 30 January and buses will run every 30 minutes during the night.</p>

<h2>Improve reliability</h2>
<p>The 24-hour service on route 10 will replace night route N10 between Hammersmith and King's Cross.&nbsp; </p>

<p>The 24-hour service on route 33 replaces the night-time link between Hammersmith, East Sheen and Richmond but runs via Castelnau instead of via Putney. </p>

<p>Other sections of route N10 are covered by existing night or 24-hour services on routes 220 and N74.</p>
<p>The new 24-hour services will create new night time links and improve reliability. </p>

<h2>Best service for passengers</h2>

<p>The changes will also provide a simpler network for passengers, as night services on routes 10 and 33 will follow the same routes as their daytime equivalents.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'The changes to routes 10 and 33 will provide passengers with better bus services when travelling around west London at night. </p>

<p>'We keep the bus network under regular review to ensure it provides the best possible service for passengers.'</p>
<p>The changes have been introduced following a review of the routes and consultation with stakeholders. </p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The new 24-hour service on routes 10 and 33 will operate every 30 minutes every night with no change to daytime frequencies
<li>The new services will provide more night services and new night links for parts of Castelnau, Twickenham, Strawberry Hill, Teddington and Fulwell</li>
<li>From Friday, 22 January, Hammersmith Bridge is due to close for&nbsp;eight weekends and for the duration of half-term (Saturday 13 February to 05:00 on Monday 22 February).&nbsp; At these times route 33 will terminate on the south side of Hammersmith Bridge. Route 72 will be diverted to serve Hammersmith via Putney Bridge. Passengers can change between routes 33 and 72 at Barnes Station. Night bus routes N22 and N74 will continue to provide a direct service between central London and the Richmond and Roehampton areas</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 10 runs between Hammersmith and King's Cross via Kensington, Knightsbridge, Oxford Street and Tottenham Court Road.&nbsp; It will operate 24-hours a day from 30 January, running every 30 minutes during the night.Route 33 operates between Fulwell and";}
        
        


 