


@{ViewBag.Title = "New posters on the Tube help tackle stereotypes about children with disfigurements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New posters on the Tube help tackle stereotypes about children with disfigurements</h1>
        <div class="content-page-press-release">
        08 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has donated 430 advertising spaces for leading disfigurement charity Changing Faces' new children's campaign aimed at promoting face equality.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Supporting this thought-provoking campaign reflects our commitment to diversity and inclusion
                            
                        </p>
                    </div>
                
            
            
            <p>The posters will be displayed at Tube stations across London from Monday 11 to Friday 15 January.</p>
<p>The four posters featuring photographs of children with different types of disfigurement, challenge people not to judge them based on their facial appearance and aim to break down stereotypes and assumptions that the public may have of young people with a physical difference. </p>
<h2>Challenge perceptions</h2>
<p>Changing Faces seeks to challenge perceptions people may have of children with a physical difference, such as children with disfigurements, will not be high achievers in school, may have low confidence, will not have many friends or will not have much to smile about. </p>
<p>John Ball, Director of Strategy and Service Development, said: 'We want to make the Tube a welcoming place for all our customers and I'm sure that this campaign will make people think about how challenging it can be for people with disfigurements on a busy Tube system.</p>
<p>'London Underground has already signed up to the Face Equality charter to ensure that people with disfigurements are treated fairly and equally, irrespective of their facial appearance.&nbsp; </p>
<h2>Positive sense of themselves</h2>
<p>'Supporting this thought-provoking campaign reflects our commitment to diversity and inclusion.'</p>
<p>Winnie Coutinho, Head of Campaigns and Communications at Changing Faces, said:&nbsp; 'The children in our posters radiate a positive sense of themselves which we hope will encourage people to re-evaluate any limiting assumptions that they might have had about people with disfigurements.'</p>
<p>The making of the campaign will feature in a BBC Children's documentary later in the year.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<ul>
<li>Around three-and-a-half million passenger journeys are made every weekday on the Tube - that's as many as on the entire national rail network </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's&nbsp; (TfLs) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now and in the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available <a href="http://www.tfl.gov.uk/plannedworks">online</a> </li>
<li>For further information on Changing Faces, please contact Rekha Patel, Press and Communications Officer, tel: 020 7391 9276, email: <a href="mailto:rekhap&#64;changingfaces.org.uk">rekhap&#64;changingfaces.org.uk</a> </li>
<li>The Face Equality Campaign was launched in May 2008. The aim of the campaign is to make sure that everyone, irrespective of their facial appearance, is treated equally and fairly. The charity is asking the public to show their support for the campaign by uploading their faces to a giant campaign collage on its website: <a href="http://www.changingfaces.org.uk/lendyourface">www.changingfaces.org.uk/lendyourface</a> </li>
<li>Changing Faces is a UK Registered Charity, No. 1011222, launched in 1992 by James Partridge OBE,DSc (Hon), who sustained severe burn injuries following a car accident at the age of 18. The charity supports and represents people with disfigurements of the face or body from any cause </li>
<li>Changing Faces employs a team of specialists who offer counselling and a range of practical strategies to children, young people, their families and adults with disfigurements, to enable them to manage public reactions and succeed in every part of their life. It offers a consultancy and training service to health professionals, teachers and employers on best practice in teaching, recruiting or providing customer service for people with disfigurements </li>
<li>More than one million people in the UK have a disfigurement to the face or body. More than 500,000 people have disfigurements to the face - one in every 111. Disfigurement can affect anyone, at any time or at any age. A disfigurement may be present at birth as a result of a birthmark or a craniofacial condition. Scarring, paralysis and other disfigurements can also be acquired following an accident, violence, an eye or skin condition, a surgical mistake, or cancer surgery </li>
<li>Find out more at <a href="http://www.changingfaces.org.uk/">Changing Faces</a> </li>
<li>Please find attached an image of Harry, one of the children featuring in the poster campaign&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The posters will be displayed at Tube stations across London from Monday 11 to Friday 15 January.The four posters featuring photographs of children with different types of disfigurement, challenge people not to judge them based on their facial appearance";}
        
        


 