


@{ViewBag.Title = "Pedestrians come first in the West End as &pound;2.4m improvements to new walking route completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pedestrians come first in the West End as &pound;2.4m improvements to new walking route completed</h1>
        <div class="content-page-press-release">
        29 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new West End walking route has benefited from &pound;2.4m of public realm improvements funded by Transport for London (TfL) which were unveiled today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our aim is to de-stress these streets making them far more pedestrian friendly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our aim is to de-stress these streets making them far more pedestrian friendly
                            
                        </p>
                    </div>
                
            
            
            <p>At the heart of the new walking route, which runs from Covent Garden to Holborn Circus, is a newly created public space at Great Queen Street. </p>
<p>The existing space has been greatly improved by increasing footway space for visitors to shop, socialise and relax in. </p>
<p>Traffic signals, guard rail and street clutter have all been removed from the area. </p>
<h2>Explore on foot</h2>
<p>The improvements are part of the Mayor's policy of 'Making Walking Count' and have been designed to encourage more local walking.</p>
<p>The improvements also include facilities to encourage cycling and greater use of electric vehicles.</p>
<p>The Mayor of London's Transport Advisor, Kulveer Ranger, said: 'This historic part of the West End is fantastic to explore on foot and that is why the Mayor agreed to put his weight behind funding these improvements. </p>
<p>'Our aim is to de-stress these streets making them far more pedestrian friendly. </p>
<h2>Wide-ranging pedestrian improvements</h2>
<p>'By ripping out the unnecessary traffic signals, removing street clutter and using innovative design in Great Queen Street we've created a superb new space for Londoners to enjoy.'</p>
<p>TfL has worked with the London Borough of Camden, the City of Westminster and the Corporation of London to deliver the wide-ranging pedestrian improvements. </p>
<p>The key retail street of Long Acre has seen pavements widened and re-laid using high quality materials and new street lighting. </p>
<p>The historic square of Lincoln's Inn Fields has been restored through new footways, finished in characteristic materials and featuring accessibility improvements including drop kerbs and tactile paving.&nbsp; </p>
<h2>Investing &pound;17m</h2>
<p>New cycle parking has been installed, as well as an electric vehicle charging point; while High Holborn has been de-cluttered with improved crossing facilities for pedestrians and more cycle parking. </p>
<p>Great Queen Street will also host a cycle docking station as part of the Mayor's new Cycle Hire scheme and has car club parking facilities. </p>
<p>TfL's Director of Integrated Programme Delivery, Ben Plowden, said: 'Improved walking environments in London will encourage more people to walk which is good for their health as well as the environment. </p>
<p>'We are committed to working with all boroughs to create more key walking routes across London to help more people get where they need to on foot - be it work, the shops or simply for pleasure, while cutting down on traffic congestion and that is why we are investing &pound;17m this year to improve walking conditions. </p>
<h2>More active</h2>
<p>'These improvements are part of the Mayor and TfL's strategy to provide better streets and get more people walking by making walking count.'</p>
<p>Councillor Chris Knight, Camden Council's Executive Member for Environment, said: 'Our work has transformed a lacklustre junction in central London into a pedestrian oasis in the heart of the city. </p>
<p>'These improvements will benefit residents, shoppers and visitors and encourage more people to walk or cycle for short journeys in central London. </p>
<p>'Camden Council is proud to lead on this innovative project as it will help people to be more active, explore London, and protect the environment.'</p>
<p>Councillor Danny Chalkley, Westminster City Council's Cabinet Member for City Management, said: 'The West End has a rich history with unexpected sites around almost every corner. </p>
<h2>Off the beaten track</h2>
<p>'This is why it remains the best place in the country for shopping and entertainment. </p>
<p>'We're advancing ambitious plans to renew the West End ahead of 2012 which will encourage even more visitors to venture off the beaten track and make walking around the centre of London easier and more enjoyable.'</p>
<p>A pedestrian survey along the walking route shows that pedestrian crowding has fallen by 20 per cent while 27 per cent of pedestrians felt motor traffic levels have fallen despite no restrictions.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>TfL has funded &pound;2.4m of improvements between London Acre and Holborn Circus. Images are available on request </li>
<li>The TfL Key Walking Route programme links important local destinations such as stations, offices and shops through high quality walking environments </li>
<li>Key walking routes involve a wide selection of improvements that benefit pedestrians including widened and resurfaced pavements, new and improved crossings, enhanced accessibility measures, new street lighting that helps pedestrians and new seating, wayfinding and landscaping </li>
<li>The Mayor plans to make London one of the most walking friendly cities in the world by 2015. TfL is investing more than &pound;17m this year to improve walking conditions across the Capital </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp;This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220m invested in more than 50 public realm improvement projects over the next three years, funding for which comes from TfL, the London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority (GLA), London Development Agency, Design for London and TfL.&nbsp;Find out more at the <a href="http://www.london.gov.uk/greatoutdoors">GLA website</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At the heart of the new walking route, which runs from Covent Garden to Holborn Circus, is a newly created public space at Great Queen Street. The existing space has been greatly improved by increasing footway space for visitors to shop, socialise and";}
        
        


 