


@{ViewBag.Title = "Rotherhithe Tunnel to close Sunday to Thursday nights for next three weeks ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel to close Sunday to Thursday nights for next three weeks </h1>
        <div class="content-page-press-release">
        05 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Rotherhithe Tunnel will be closed on Sunday to Thursday nights between 22:00 and 05:00 from 10-28 January 2010, to allow engineers to install new pedestrian signage, power cables and additional pollution monitoring equipment in the tunnel.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'These works in the Rotherhithe Tunnel are being carried out at night time to help ensure that disruption to drivers is kept to a minimum
                            
                        </p>
                    </div>
                
            
            
            <p>Advance warning signs will be placed on the Commercial Road section of the A13 and on the two approaches to the Rotherhithe roundabout on the southern side of the tunnel. </p>
<p>In addition, variable message signs in the area will warn drivers of the closure.</p>
<p>Drivers wishing to cross the Thames during the closures should use an alternative route. </p>
<p>Garrett Emmerson, Chief Operating Officer, Transport for London Streets, said: 'These works in the Rotherhithe Tunnel are being carried out at night time to help ensure that disruption to drivers is kept to a minimum. </p>
<p>'We ask drivers to bear with us while these important improvement works are carried out.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The additional pollution monitoring equipment in the Rotherhithe Tunnel will detect:</li>
<ul type="circle">
<li>Vehicle particulates (largely diesel soot)</li>
<li>Carbon monoxide</li>
<li>Oxides of Nitrogen (NOx)</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Advance warning signs will be placed on the Commercial Road section of the A13 and on the two approaches to the Rotherhithe roundabout on the southern side of the tunnel. In addition, variable message signs in the area will warn drivers of the";}
        
        


 