


@{ViewBag.Title = "TfL seeks infrastructure investment advisors for new independent Investment Programme Advisory Group";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks infrastructure investment advisors for new independent Investment Programme Advisory Group</h1>
        <div class="content-page-press-release">
        25 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has commenced recruitment for the new independent Investment Programme Advisory Group made up of engineering, commercial and project management experts to provide advice and scrutiny of the delivery of the TfL Investment Programme.
        
    </div>



 <div class="on-this-page">
<p>Last October, the Mayor and the Secretary of State for Transport announced that an independent advisory group would be established to oversee the entire Transport for London (TfL) Investment Programme, including all maintenance, renewal, upgrades and major projects across its modes, but not the operation of services. </p>
<h2>Expert advice</h2>
<p>Peter Hendy, London's Transport Commissioner said: 'We're investing billions to improve transport in London, including the upgrade of the Tube and Crossrail. </p>
<p>'Since the transfer of Metronet to London Underground we've saved hundreds of millions of pounds and ensured vital projects, such as the upgrade of the Victoria line, are being delivered on time and on budget.</p>
<p>'We are looking for a number of deeply experienced industry figures to form an Investment Programme Advisory Group to act as independent, impartial advisors on some of our most significant projects. </p>
<p>'In this role advisors will support the Mayor, the TfL Board and their relationship with the Department for Transport by providing expert advice on the development and implementation of these projects and the overall delivery of the investment programme.' </p>
<h2>Investing billions</h2>
<p>TfL is overseeing the largest investment in London's transport infrastructure for decades which will boost the city's transport capacity, create thousands of new jobs and ensure London's future competitiveness and global position. </p>
<p>TfL is investing billions to deliver critical upgrades to eight Tube lines, to build Crossrail, expand the DLR and London Overground networks, deliver a revolution in cycling and walking, improve London's public spaces, smooth traffic flow and introduce a cleaner, greener New Bus for London.</p>
<p>Members of the new group will be appointed by the Mayor from a shortlist agreed with the Secretary of State for Transport and will report to the TfL Board and the Mayor as Chair of the TfL Board. </p>
<p>The intention is to formally establish the new advisory group for the start of the new financial year in April.</p>
<p>The members of the group will have experience in a range of disciplines including engineering, finance and project management, ensuring that as a whole the group will be able to offer expert advice on all aspects of TfL's Investment Programme, including the ex-Metronet works.&nbsp;</p>
<h2>Quality candidates</h2>
<p>Candidates are very likely to be a chartered member of a relevant institution, enjoy a good reputation in their particular field and have experience of leading the delivery of major infrastructure projects. </p>
<p>Substantial technical and commercial expertise will also be required. </p>
<p>As these are independent advisory roles, candidates will need to demonstrate how they would manage any potential conflicts of interest.<br></p><strong>
<p>
<hr>

<p>
<p>Notes to editors</p></strong>
<ul>
<li>Further information on recruitment for Infrastructure Investment Advisors can be found at <a href="http://www.tfl.gov.uk/jobs">www.tfl.gov.uk/jobs</a>. The closing date for applications is 5 February 2010 </li>
<li>On 29 October 2009, the Mayor and Transport Secretary Andrew Adonis confirmed that the Tube improvement contracts inherited by Transport for London on an interim basis after Metronet's collapse would remain permanently under the direct management of London Underground </li>
<li>The Mayor and the Secretary of State also announced new scrutiny measures at TfL through the establishment of an independent advisory panel to provide scrutiny of these new arrangements </li>
<li>The panel's remit will cover the entirety of the TfL Investment Programme but exclude operational matters. It will be able to scrutinise any aspect of the investment programme, and will report its findings directly to the TfL Board. The Board will also receive a management response, setting out how the issues have been or will be dealt with. The panel will also publish an annual report making overall conclusions on the delivery of the Investment Programme. Copies of all reports will be provided to the Secretary of State, in view of Government's significant contribution to the investment programme through the GLA transport grant which accounts for just under 40 per cent of TfL's total income </li>
<li>The independent Advisory Group will have between six and eight members with each member appointed for a period of two years. Appointments to the Group, including nominating one member as Chair, will be undertaken by the Mayor in his role as Chair of TfL. The shortlist for members will be agreed with the Secretary of State </li>
<li>The independent Advisory Group is expected to focus on reviews of projects over &pound;50m, unless it is considered that lower value projects should be included in their annual work plan. The expenditure on these projects accounts for nearly two-thirds of the TfL Investment Programme </li>
<li>The independent Advisory Group will not have remit over the Tube Lines PPP contract, which is subject to review by the PPP Arbiter nor of Crossrail which is subject to separate governance and assurance arrangements </li>
<li>It is anticipated that Independent Advisory Group members will commit up to 15 days annually. Remuneration will be based on experience but will be in line with other public sector board and panel appointments<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Last October, the Mayor and the Secretary of State for Transport announced that an independent advisory group would be established to oversee the entire Transport for London (TfL) Investment Programme, including all maintenance, renewal, upgrades and";}
        
        


 