


@{ViewBag.Title = "TfL to trial average speed cameras on A13 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to trial average speed cameras on A13 </h1>
        <div class="content-page-press-release">
        18 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Notorious A13 blackspot is the first place in UK where average speed cameras will enforce speed limit along a major urban road
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Once operational, the new cameras should significantly reduce collision-related traffic congestion in the local area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Integrated Programmes at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
Once operational, the new cameras should significantly reduce collision-related traffic congestion in the local area
</p>
</div>
<p>- New system expected to halve the number of people killed or seriously injured along the road and improve traffic flow when it goes live this summer.</p>
<p>Work begins today to install average speed cameras on a notorious stretch of road in east London. </p>
<p>Special cameras are being trialled that will mean the A13 is the first place in the country where average speed cameras can enforce the limit on a road with multiple entrance and exit points. </p>
<p>Transport for London (TfL) is installing the new cameras between Canning Town and the Goresbrook Interchange as the collision rate on that part of the A13 is almost a fifth higher than is typical of major roads in London.  </p>
<h2>Huge potential</h2>
<p>Nearly 500 collisions, including three fatal and 34 serious accidents, were recorded on the stretch of road between 2006 and 2008. </p>
<p>Half those collisions were caused by speeding. </p>
<p>Ben Plowden, Director of Integrated Programmes at TfL, said: 'Traditional safety cameras are very effective at reducing the numbers of people killed or seriously injured on London's roads, cutting casualties by an average of 50 per cent at the sites where they are installed. </p>
<p>'However, roads such as this 12km stretch of the A13, which has a high level of speed-related collisions, have huge potential to benefit from the new average speed camera systems.   </p>
<h2>A total of 84 cameras</h2>
<p>'Once operational, the new cameras on the A13 will cut the high casualty rate along the road, and should significantly reduce collision-related traffic congestion in the local area.'</p>
<p>A total of 84 cameras, based at 37 locations, will monitor the speed of vehicles as they drive along part or all of the Canning Town to Goresbrook Interchange section of the A13. </p>
<p>If the average speed for a vehicle along the stretch of the road they drive along is above the speed limit for the location, the owner of the car will be issued with a Notice of Intended Prosecution.</p>
<p>The system will be fully operational by this summer. </p>
<h2>Goes live</h2>
<p>While the camera system is being installed and tested, signs will be placed along the A13 informing drivers that the average speed camera system is not currently enforcing. </p>
<p>However, the existing GATSO speed cameras along the stretch of road will continue to enforce the speed limit until the new system goes live.</p>
<p>The number of people killed or seriously injured on London's roads has fallen by 43 per cent since the mid to late 1990s.</p>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The London Safety Camera Partnership is responsible for implementing speed and red light cameras across London and runs public information, education and marketing campaigns aimed at reducing road casualties </li>
    <li>The RedFusion average speed camera system received Home Office Type Approval in May 2009 </li>
    <li>An additional benefit of the average speed camera system will be smoother traffic flow, as collision-related congestion on the A13 will be reduced. The smoother traffic flow will also help reduce vehicle emissions in the area </li>
    <li>TfL will increase the speed limit on the section of the A13 to the east of the Canning Town Flyover and the Goresbrook Interchange (in the London boroughs of Newham and Barking &amp; Dagenham) from 40mph to 50mph once the average speed camera system begins enforcing in the summer. The speed limit across the Lodge Avenue and Canning Town Flyovers will remain as they currently are for safety reasons </li>
    <li>Road collisions are responsible for around 31 per cent of congestion in London. Studies by TfL show that collisions along the stretch of A13 from Canning Town flyover to Goresbrook Interchange can take up to seven hours to be cleared, with the average time being around two hours per collision.  A reduction in collisions will therefore have a positive impact in helping to smooth traffic flow </li>
    <li>Other road safety engineering measures to be implemented on the 12km stretch of road include amendments to the layout of the carriageway markings, new signage and improvements to street lighting </li>
    <li>The GATSO speed cameras currently located along the A13 will be decommissioned once the new system is enforcing. In time, the cameras will be removed and relocated to new locations across the Capital<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "- New system expected to halve the number of people killed or seriously injured along the road and improve traffic flow when it goes live this summer.Work begins today to install average speed cameras on a notorious stretch of road in east London. Special";}
        
        


 