


@{ViewBag.Title = "Victorian-era Blackwall Tunnel to get 21st Century upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victorian-era Blackwall Tunnel to get 21st Century upgrade</h1>
        <div class="content-page-press-release">
        14 January 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to improve safety, lighting and communications systems in the 112-year-old tunnel to begin on 7 February 2010. TfL's contractors, BAM Nuttall, to work at night to minimise disruption to road users.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our refurbishment programme will enhance the safety and security of everyone who uses the tunnel"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for TfL Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our refurbishment programme will enhance the safety and security of everyone who uses the tunnel
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has announced that a three-year &pound;70 million refurbishment programme of the northbound Blackwall Tunnel will begin in February 2010. </p>
<p>New fire and incident detection systems, better access for emergency services, and a new CCTV camera system will be installed as part of the modernisation works and safety improvements in the tunnel, which carries 50,000 vehicles a day. </p>
<p>In order to minimise disruption the work that is required will only be carried out at night. </p>
<h2>Safety, lighting and ventilation</h2>
<p>The improvements being made meet the latest tunnel safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897. </p>
<p>It will get better lighting, improved ventilation and a new communication system as part of the modernisation and safety works.</p>
<p>Garrett Emmerson, Chief Operating Officer for Streets, TfL, said: 'The Blackwall Tunnel was built during the Victorian era to transport horse-drawn carriages under the Thames. </p>
<p>'Yet more than a century later, 50,000 vehicles a day drive through this vital transport artery. </p>
<p>'Our refurbishment programme will enhance the safety and security of everyone who uses the tunnel, and will prolong the life of this busy commuter route across the Thames.</p>
<p>'We are doing everything we can to ensure the refurbishment of the tunnel is carried out with the minimum disruption to road users, and we ask people to bear with us while these important safety improvements are carried out.' </p>
<h2>Minimum disruption</h2>
<p>Following extensive stakeholder consultation, and to minimise disruption to road users as far as possible, TfL will be closing the northbound tunnel between 21:00 and 05:00 Sunday to Friday during the three-year refurbishment. </p>
<p>Northbound traffic will be diverted through the southbound tunnel during this time. </p>
<p>Because the diversion will involve chicanes, a 20mph speed limit will be put in place each night and enforced by average speed cameras. Southbound traffic will be able to use other river crossings.</p>
<p>TfL consulted local boroughs, key stakeholders and businesses located near the Blackwall Tunnel, including the O2, about the refurbishment and believe that the proposed programme of works will allow the refurbishment to be carried out with minimum disruption to road users.</p>
<p>People wanting information about the works should contact TfL Streets Customer Services on 0845 305 1234 or email <a href="mailto:londonstreets&#64;tfl.gov.uk">londonstreets&#64;tfl.gov.uk</a> </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Blackwall Tunnel (northbound) was opened on 22 May 1897 and was the longest underwater tunnel in the world at the time of opening</li>
<li>The northbound and southbound Blackwall tunnels run between Blackwall Point in East Greenwich and East India Dock Road in Poplar. They carry four lanes of traffic in total (two northbound and two southbound)</li>
<li>The northbound tunnel is 1.4km long, and 50,000 vehicles pass through every day - the equivalent of around one vehicle every 1.7 seconds</li>
<li>There is no toll for using the Dartford - Thurrock river crossing between 22:00 and 06:00</li>
<li>While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) will be affected. From 21:00 to 01:00 the service will operate in two sections: Lewisham - North Greenwich and Stratford - Canning Town. Passengers will be able to use the Jubilee Line during this period to connect between the services and London Underground will accept valid bus tickets between North Greenwich and Canning Town for the duration of the closure. Between 01:00 and 05:00, the Route 108 will be escorted every half hour through the southbound tunnel, with northbound traffic halted while this occurs</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced that a three-year &pound;70 million refurbishment programme of the northbound Blackwall Tunnel will begin in February 2010. New fire and incident detection systems, better access for emergency services, and a new";}
        
        


 