


@{ViewBag.Title = "Blooming marvellous river boat service to RHS Chelsea Flower Show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blooming marvellous river boat service to RHS Chelsea Flower Show</h1>
        <div class="content-page-press-release">
        19 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The most famous garden event in the world starts on 24 May so why not make your day extra special this year with the help of London River Services and travel to the spectacular by river boat.
        
    </div>



 <div class="on-this-page">
<p>During the five day long Royal Horticultural Society (RHS)&nbsp;Chelsea Flower Show one of our River Bus operators, Thames River Taxi, will be operating temporary services calling at the conveniently placed Cadogan Pier.</p>
<p>Boats will call in the morning and the evening on each of the days, serving selected eastbound and westbound piers. See the <a href="http://www.thamesexecutivecharters.com/chelsea-timetable.html">timetable</a>.&nbsp;&nbsp;</p>
<p>Ticket prices are &pound;7.50 for a single journey or &pound;12 for a return; Travelcard holders&nbsp;benefit from discount ticket prices of &pound;5 for a single journey or &pound;8 for a return.</p>
<p>So make the most of the Great Spring Show this year with the help of London's river services.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the five day long Royal Horticultural Society (RHS)&nbsp;Chelsea Flower Show one of our River Bus operators, Thames River Taxi, will be operating temporary services calling at the conveniently placed Cadogan Pier.Boats will call in the morning and";}
        
        


 