


@{ViewBag.Title = "Contract awarded to complete London Overground's orbital railway ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contract awarded to complete London Overground's orbital railway </h1>
        <div class="content-page-press-release">
        19 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has awarded a contract to Birse Metro to build the final part of the London Overground rail network that, when complete at the end of 2012, will orbit the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This further extension of the London Overground network will deliver a key rail link"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of TfL London Rail and London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This further extension of the London Overground network will deliver a key rail link 
                            
                        </p>
                    </div>
                
            
            
            <p>The Surrey Quays to Clapham Junction link will mean passengers can use London Overground services to make journeys around London without needing to head into the centre of the Capital.</p>
<p>Although most of the extension will run along existing National Rail lines, construction work has begun on a new stretch of track to link London Overground services at Surrey Quays with the existing railway at Old Kent Road.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'This small but incredibly significant stretch of track will be the final section of a mighty wheel of Overground services around the Capital.</p>
<p>'The improvements it will bring are precisely why I made a strong case to Government for the extra funding needed to make this project a reality. </p>
<p>'South Londoners will now be able to take advantage of the fast and frequent London Overground services that already link so much of our great city.'</p>
<h2>Important link</h2>
<p>The Managing Director of TfL London Rail and London Underground, Mike Brown, said: 'We are delighted that work on this important link is proceeding, particularly in this tough economic climate, as it will deliver significant benefits to south Londoners.</p>
<p>'This further extension of the London Overground network will deliver a key rail link south of the river and improve local transport for Londoners by providing more choice and better access to other parts of the Capital. </p>
<p>'It will also double the frequency of services along this line which will help meet London's increasing demand for more rail capacity.'</p>
<p>Mark Hearne, Head of Birse Metro, said 'Birse Metro is happy to continue working with Transport for London following the recent successful delivery of the extension to Highbury &amp; Islington. </p>
<p>'With the support of Balfour Beatty Rail and working in close partnership with Transport for London we will help to deliver the project within the tight time-scales and budget to improve this key transport link for those living and working within this area of south London.'</p>
<h2>Better service</h2>
<p>When the new extension opens, four trains per hour will call at all stations between Dalston Junction and Surrey Quays, then call at Queens Road Peckham, Peckham Rye, Denmark Hill, Clapham High Street and Wandsworth Road before terminating at Clapham Junction.</p>
<p>The contract award follows the opening of a link between Dalston Junction station at the northern end of London Overground's east London route with Highbury &amp; Islington station on London Overground's Richmond to Stratford line.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new stretch of railway will run south of Surrey Quays station following a disused railway viaduct, past Millwall Football Club rising over Surrey Canal Road and along the edge of Bridgehouse Meadows before joining the existing National Rail lines at Old Kent Road (between South Bermondsey and Queen's Road Peckham stations)</li>
<li>The overall project will cost approximately &pound;75m. The Department for Transport has committed &pound;40m.The Mayor and TfL are contributing &pound;15m. The remaining &pound;20m will be paid via an increment to Network Rail's Regulatory Asset Base</li>
<li>The construction works are split into the following elements:</li>
<ul>
<li>Construction of a new 1.3km railway link with associated signalling,&nbsp; telecommunications and power will be delivered by TfL's contractors</li>
<li>Construction of a connection between the new rail link and the existing National Rail lines at Old Kent Road, and works at Clapham Junction to construct a new bay platform from the existing platform 2, creating two platforms so the new and existing services can call there (delivered by Network Rail via their own contractor)</li></ul>
<li>The main construction works are now underway. Services are planned to commence at the end of 2012</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Surrey Quays to Clapham Junction link will mean passengers can use London Overground services to make journeys around London without needing to head into the centre of the Capital.Although most of the extension will run along existing National Rail";}
        
        


 