


@{ViewBag.Title = "Cyclists' concerns accounted for in revised plans for Blackfriars junction";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyclists' concerns accounted for in revised plans for Blackfriars junction</h1>
        <div class="content-page-press-release">
        18 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cyclists' concerns accounted for in revised plans for Blackfriars junction
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A lot of work has gone in to try and balance the needs of all road users to ensure they can pass through the junction safely
                            
                        </p>
                    </div>
                
            
            
            <p>- Work to enhance pedestrian facilities outside Blackfriars Thameslink station to begin in June 2011</p>
<p>Cyclists' concerns about proposed changes to the junction outside Blackfriars station have been addressed in revised plans released by Transport for London (TfL) today. </p>
<p>Changes need to be made to the junction to take into account an increase in people using the area later this year when improvements being made by Network Rail are complete and the station reopens. </p>
<p>The views of cyclists who were concerned by the original plans have been taken into account in a new design that will allow every road user to navigate the junction safely. </p>
<h2>Best scheme possible</h2>
<p>TfL reconsidered the plans on behalf of Network Rail's consultants and concluded that changes could be made to the layout that would safely allow the northbound cycle lane outside Blackfriars station to be widened to two metres and retain the 1.5 metre southbound cycle lane. </p>
<p>The Mayor of London, Boris Johnson, said: 'I am very pleased that TfL has taken the feedback from cyclists who use this junction into account and used their comments to deliver the best scheme possible. </p>
<p>'The changes they have made support my desire to improve the facilities for cyclists right across the Capital.'</p>
<p>The improvements to the original proposals were achieved by slightly reducing the footway outside Blackfriars Station and realigning the traffic lanes in the westbound carriageway. </p>
<h2>Altered plans</h2>
<p>TfL has also altered its plans for a right turn for cyclists from Victoria Embankment onto Blackfriars Bridge. </p>
<p>Cyclists now wishing to turn right will exit the carriageway on New Bridge Street onto the western footway via a dropped kerb.&nbsp;</p>
<p>They will then cycle through the 'tear drop' traffic island to exit onto the southbound carriageway. </p>
<p>The manoeuvre will be controlled by traffic signals to ensure extra safety for cyclists. </p>
<h2>Ensuring safety</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The junction at north end of Blackfriars Bridge is an extremely complex junction and a lot of work has gone in to try and balance the needs of all road users to ensure they can pass through the junction safely. </p>
<p>'The revised junction design balances all needs while ensuring safety is maintained. </p>
<p>'We will now work with Network Rail to deliver these improvements as quickly as possible.'</p>
<p>TfL, working on behalf of Network Rail, will begin work on the changes in June 2011 ahead of the reopening of Blackfriars station at the end of the year.</p>
<h2>
<hr>
</h2>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>The main changes to the road layout, which will see the pavement area around Blackfriars Bridge extended as well as three new pedestrian crossings installed, formed part of Network Rail's Transport and Works Act order, which was passed in 2006 </li>
<li>The full list of changes made to the previous design are as follows: 
<ul type="circle">
<li>Footway space outside the station has been narrowed by 0.5 metres to provide additional space for a southbound cycle lane </li>
<li>The southbound cycle lane has been reinstated to be 1.5 metres&nbsp;wide and mandatory.&nbsp;This has been made possible by both the reduction in the footway space and the re-marking of the traffic lanes from three to two, north of the pedestrian crossing outside the station entrance </li>
<li>The shape of the yellow box has been changed to prevent it guiding traffic close to the eastern kerb </li>
<li>The northbound cycle lane has been widened from 1.5 metres to two metres.&nbsp;This was possible by removing a small section of the small triangular island on the opposite side of the carriageway </li>
<li>TfL has also altered its plans for a right turn from Victoria Embankment onto Blackfriars Bridge. Cyclists now wishing to turn right will exit the carriageway on New Bridge Street onto the western footway via a dropped kerb.&nbsp;They will then cycle through the tear drop island to exit onto the southbound carriageway </li>
<li>A technical drawing of the new layout is available from the TfL Press Office&nbsp;</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "- Work to enhance pedestrian facilities outside Blackfriars Thameslink station to begin in June 2011Cyclists' concerns about proposed changes to the junction outside Blackfriars station have been addressed in revised plans released by Transport for London";}
        
        


 