


@{ViewBag.Title = "Docklands Light Railway ready for 2012 Games with three-car upgrade completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway ready for 2012 Games with three-car upgrade completed</h1>
        <div class="content-page-press-release">
        10 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Docklands Light Railway's (DLR's) three-car upgrade was completed on time and within budget with the launch of three-car trains on the Tower Gateway to Beckton route.
        
    </div>



 <div class="on-this-page">
<p>The &pound;325m upgrade also includes longer platforms, improved track and signalling, &pound;13m of improvements to Tower Gateway station and an entire new station at South Quay. </p>
<p>Fifty-five new carriages costing &pound;100m (&pound;80m from Transport for London (TfL) and &pound;20m from the Olympic Delivery Authority (ODA)) were also commissioned.</p>
<p>The Mayor of London, Boris Johnson, said: 'With passenger numbers increasing on the DLR every year, having the ability to run a three-car service right across this crucial piece of our transport network is vital. </p>
<p>'The 50 per cent increase in capacity and longer platforms to accommodate them have been delivered bang on time and more than a year ahead of the 2012 Games.'</p>
<p>The Managing Director of Rail for TfL, Mike Brown, said: "The entire DLR network is now three-car capable. </p>
<p>'From 7:00 until 19:30 three-car trains will run on the Tower Gateway to Beckton route every eight minutes. </p>
<p>'Newham residents have been asking for this extra capacity and we are pleased to be able to provide it for them.'</p>
<p>ODA Director of Transport, Hugh Sumner, said: 'The additional capacity brought by this investment will not only ensure the DLR is well prepared for the Games, but will leave communities and commuters much better connected long after London 2012.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Three-car trains began running on the Tower Gateway Beckton route on Monday 9 May</li>
<li>It is expected that the Beckton route will carry 70,000 passengers - approximately 55,000 spectators for the 2012 Games and 15,000 other passengers - a day, during the Olympic and Paralympic Games</li>
<li>An &pound;18.2m upgrade on the Beckton line alone (&pound;10.8m investment by the ODA, &pound;5.4m from the Housing and Communities Agency - at the DLR Prince Regent Station, and &pound;2m from the London Development Agency</li>
<li>The increase in capacity will be particularly important for the ExCel Exhibition Centre, a key Games venue</li>
<li>DLR passenger numbers for 2010/11 were 78,315,440 passengers; an increase of 12.8 per&nbsp;cent&nbsp;year-on-year, and 1.2m above the forecast</li>
<li>Work on the three-car upgrade began in early 2007</li>
<li>Stratford International extension will open in the summer - well ahead of the Games - and will also be three-car capable</li>
<li>A total of 500,000 people a day are expected to travel on the DLR on the busiest days of the 2012 Games</li>
<li>The first three-car trains went into service on 23 February 2010 on DLR's busiest line - Bank to Lewisham</li>
<li>Around &pound;6.5bn has been invested in improving existing transport links and building new ones where needed, across London and the UK.&nbsp; </li>
<li>This work will help hundreds of thousands of spectators get to and from the Games each day, keep London and the UK moving, and is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;325m upgrade also includes longer platforms, improved track and signalling, &pound;13m of improvements to Tower Gateway station and an entire new station at South Quay. Fifty-five new carriages costing &pound;100m (&pound;80m from Transport for";}
        
        


 