


@{ViewBag.Title = "Further discounts for operators of vehicles affected by new LEZ standards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Further discounts for operators of vehicles affected by new LEZ standards</h1>
        <div class="content-page-press-release">
        05 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor has announced that even more major vehicle manufacturers have signed up to offer significant discounts for drivers of vehicles set to be affected by changes to the Low Emission Zone (LEZ) next year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I want to make the air cleaner and greener in this great city with the minimum of financial impact for those who need to upgrade their vehicles."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want to make the air cleaner and greener in this great city with the minimum of financial impact for those who need to upgrade their vehicles.
                            
                        </p>
                    </div>
                
            
            
            <p>Renault and Fiat have pledged to provide the owners of around 72,000 larger vans and minibuses that will need to take action to avoid fines, more affordable ways to buy new, cleaner vehicles. </p>
<p>This will enable them to avoid daily charges when changes to the LEZ come into effect in January 2012. </p>
<p>Eighty per cent of vehicles affected by the LEZ for the first time in 2012 are vans and the deals in some cases amount to thousands of pounds off a new vehicle. </p>
<p>DAF has also come forward and offered to provide the owners of Heavy Goods Vehicals (HGVs) a discount towards the purchase of new, cleaner vehicles.</p>
<p>Around 75,000 owners of HGVs buses and coaches will have to take action to meet tighter LEZ standards in January next year.</p>
<p>These companies join existing deals from Ashwoods, Citro&euml;n, Ford, Mercedes-Benz, Peugeot and Volkswagen announced by the Mayor last month. </p>
<p>Pollution is a serious health issue in London contributing to an estimated 4,000 premature deaths a year with many more people, especially children and the elderly, having their quality of life adversely impacted by it. </p>
<p>London also has to meet European legal standards for air quality.</p>
<p>To help reduce dangerous particulate matter (PM10) pollutants coming from road transport and meet these legal requirements, from 3 January 2012, new standards for the LEZ will come into force.</p>
<p>Larger vans, minibuses and certain other specialist vehicles will need to meet specified emissions standards for the first time.</p>

<h2>New standards</h2>
<p>HGVs, buses and coaches that are already affected by the LEZ will have to meet higher emissions standards in order to drive within Greater London free of charge. </p>
<p>The changes will broadly double the impact of earlier phases of the LEZ in reducing PM10 pollution. </p>
<p>Whilst the new standards will quadruple the number of vehicles impacted by the LEZ, most vehicles driving in London already meet the new standards.</p>
<p>Boris Johnson, the Mayor of London, said: 'I want to make the air cleaner and greener in this great city with the minimum of financial impact for those who need to upgrade their vehicles.</p>
<p>'I've already given extra breathing space during the depths of the recession before these standards are introduced and I am pleased that a number of manufacturers are now offering new discounts to aid us in our efforts.</p>
<p>'Pollution remains a serious health issue, one which I take very seriously which is why as I redouble our efforts to clean up London's air with one hand, I will also be fending off European fines with the other.'</p>
<ul>
<li>Owners of larger vans and minibuses who do not meet the required emissions standards by 3 January 2012, and who drive within Greater London, will have to pay a &pound;100 daily charge or risk a &pound;500 penalty <br></li>
<li>Owners of HGVs, buses and coaches that do not meet the required emissions standards by 3 January 2012, and who drive within Greater London, will have to pay a &pound;200 daily charge or risk a &pound;1,000 penalty</li></ul>
<p>Affected vehicle operators are urged to take action early. </p>

<h2>Vehicle upgrade</h2>
<p>Transport for London (TfL) would much prefer operators to meet the required standards rather than pay a daily charge or risk a fine.</p>
<p>In addition to buying a new vehicle, affected operators have a range of other options available to them, including buying a newer second hand vehicle or fitting an approved filter instead. </p>
<p>Tony Pain, Marketing Director for DAF Trucks, said: 'Changes to the Low Emission Zone in London means that operators now have to upgrade to cleaner vehicles, if they haven't already done so, or be subject to a &pound;200 daily charge. </p>

<p>'DAF is committed to helping those road transport operators who regularly travel into London prepare for the changes to the LEZ requirements. </p>
<p>'This comes in the form of discounted offers on various DAF models including a &pound;5,000 discount on the 7.5-tonner LF45. </p>
<p>'Should existing DAF customers choose to keep their existing Euro III and older trucks, they can take their vehicle into any official DAF dealer and have a new particulate filter fitted. </p>

<p>'This will not only ensure compliance with the new regulations but will also help contribute to a cleaner Capital.'</p>
<p>Gerry Clarke, Director for Fiat Professional said: 'Fiat is offering a bespoke finance package on selected models, designed to meet the needs of these specific customers. </p>
<p>'It's a combination of VAT only deposit, coupled with a six-month payment holiday and a low rate (1.1 per cent&nbsp;APR) of interest. </p>

<p>'Many customers will therefore not need to make any repayments until after the first charges come into effect on 3 January 2012.'</p>

<h2>Lowering emissions</h2>
<p>Darren Payne, Director, Fleet and Commercial Vehicle Operations, Renault UK, commented: 'With our new Renault offers for van and minibus owners, we're delighted to be a part of helping to drive down vehicle emissions in London. </p>
<p>'Not only will businesses operating in and out of the English Capital benefit from the improvements of running our latest vans and minibuses, in terms of greater driver and customer comfort and safety, plus fuel savings and charge-free LEZ entry, but London residents and visitors also stand to reap the rewards of less pollution.</p>
<p>'In addition to our Renault eco2 range, to help in the mission of improving air quality even further, especially in urban areas, we're also the first volume manufacturer to produce our own 100 per cent&nbsp;electric commercial vehicle, Kangoo Van Z.E.* (Zero Emission), which is available to reserve now ahead of its official launch later this year.'</p>
<p>Full details can be&nbsp;found at <a href="http://www.tfl.gov.uk/lezlondon">tfl.gov.uk/lezlondon</a> on the 'replace a vehicle' section with links to manufacturers' own websites.</p>
<p>The LEZ changes form part of a comprehensive package of long-term sustainable measures to tackle the biggest sources of pollution and improve air quality in the Capital. </p>
<p>These include record levels of investment into cycling, 300 hybrid buses by the end of 2012, introducing a zero-polluting hydrogen bus route and supporting the uptake of electric and other low-emission vehicles. </p>
<p>The New Bus for London entering service in early 2012 will be 40 per cent less polluting than traditional diesel vehicles.</p>

<p>
<hr>

<p>

<p><strong>Notes to editors:</strong></p>
<p>Manufacturers are offering a range of deals:</p>
<ul>
<li>DAF -&nbsp;Discounted offers on various DAF models including a &pound;5,000 discount on the 7.5-tonner LF45. Should existing DAF customers choose to keep their existing Euro 3 and older trucks, they can take their vehicle into any official DAF dealer and have a new particulate filter fitted</li>
<li>Fiat -&nbsp;A combination of VAT-only deposit, coupled with a six-month payment holiday and a low rate (1.1 per cent&nbsp;APR) of interest. The deal applies to the following models: Fiorino, Doblo' Cargo, Scudo, Ducato and&nbsp;Ducato Minibus</li>
<li>Renault -&nbsp;Offers as follows, depending on the model: up to &pound;2,900 off the Kangoo Van range, up to &pound;4,600 off the Trafic Van and Passenger range and&nbsp;up to &pound;6,000 off the Master range</li>
<li>Other manufacturers offering a range of deals are Ashwoods, Citro&euml;n, Ford, Mercedes-Benz, Peugeot and Volkswagen</li>
<li>TfL is running a year-long operator information campaign, which started in January 2011, to remind people to prepare their vehicles for changes in London's LEZ in 2012</li>
<li>Vehicles affected for the first time are: larger vans and other specialist vehicles such as horse boxes and light utility vehicles (between 1.205 tonnes unladen and 3.5 tons Gross Vehicle Weight); minibuses (five tonnes or less Gross Vehicle Weight with more than&nbsp;eight passenger seats); and motorcaravans and minibuses (over 2.5 tonnes Gross Vehicle Weight) ., which will have to meet a Euro 3 standard for PM to drive in the zone without charge. </li>
<li>Vehicles already affected by the LEZ: HGVs and other specialist vehicles including horseboxes and motorcaravans weiging more than 3.5 tonnes (Gross Vehicle Weight), and buses and coaches weighing more than five (Gross Vehicle Weight) with more than&nbsp;eight passenger seats will have to meet a Euro IV standard for PM to drive in the zone without charge</li>
<li>The LEZ affects all vehicles of the relevant weight and age even if they are used for private purposes</li>
<li>Larger vans and minibuses were originally due to be included in the LEZ from 4 October 2010, however, the Mayor took the decision, following public consultation, to defer the introduction of these new standards in tough economic times to give the owners and operators of the estimated 72,000 non-compliant vehicles, many of which are smaller businesses and charities, more time to make the necessary changes</li>
<li>Changes to the standards required of operators of HGVs, buses and coaches were announced when the scheme was originally approved in 2007 and have always been due to take effect from 3 January 2012</li>
<li>A TfL LEZ London website has been launched which includes a vehicle checker to enable owners to check whether their vehicle meets the emissions standards and provides advice on what steps they can take to do so</li>
<li>Cars, motorcycles and vans weighing under 1.205 tonnes unladen are not affected by the LEZ. Owners can check their V5 to confirm their vehicle weight and TfL can provide advice via its website and a dedicated call centre</li>
<li>In London, road transport is the single biggest source of PM10 and NOx emissions causing air quality-related health problems, worsening symptoms of asthma and other respiratory conditions. Larger vans are responsible for 21 per cent of PM emissions and 10 per cent of emissions of NOx. </li>
<li>The LEZ aims to reduce emissions of PM and NOx by encouraging the take-up of cleaner vehicles and the fitting of approved abatement equipment </li>
<li>Operators with vehicles that do not meet the specified emissions standards for the LEZ have a number of options to comply with the scheme. including:</li>
<ul>
<li>Fitting an approved filter to the vehicle to improve the emissions - a list of approved filters is published on the TfL website</li>
<li>Purchasing a new or compliant second hand vehicle</li>
<li>Reorganising a fleet so that only vehicles which meet the required emissions standards drive within the LEZ</li>
<li>Infrequent visitors may consider renting a compliant vehicle</li>
<li>Paying a daily charge.&nbsp;TfL would much prefer operators to meet the required standards rather than pay a daily charge or risk a fine</li></ul>
<li>The Mayor's Air Quality Strategy, published in December 2010, sets out a wide range of policies to further reduce the emissions from various sectors, including road transport. For example a package of local measures to tackle air pollution at priority locations, incentivising the adoption of the cleanest vehicles and new technologies including electric and electric-hybrid cars. It identifies that with these measures, London is on track to meet PM10 legal limits by 2011 and outlines steps to tackle NOx emissions</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Renault and Fiat have pledged to provide the owners of around 72,000 larger vans and minibuses that will need to take action to avoid fines, more affordable ways to buy new, cleaner vehicles. This will enable them to avoid daily charges when changes to";}
        
        


 