


@{ViewBag.Title = "Huge boost to train services on key Olympic rail route ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Huge boost to train services on key Olympic rail route </h1>
        <div class="content-page-press-release">
        23 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"'The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a legacy which will help support economic growth."</div>
        <div class="quote-footer">
            <div class="quotee-name">Robin Gisby</div>
            <div class="quotee-job-title">Director of Operations at Network Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a legacy which will help support economic growth.
                            
                        </p>
                    </div>
                
            
            
            <p>The upgrade, funded by TfL, the Olympic Delivery Authority (ODA), the Department for Transport, Network Rail and the Stratford City Implementation Group, means that London Overground services from Richmond and Clapham Junction to Stratford will run four times an hour every day, increasing the total number between Willesden Junction and Stratford to eight trains per hour in the peak. </p>
<p>This is an increase from the 4 trains per hour that currently operate on that section.</p>
<p>In addition four trains per hour will run every day on the Gospel Oak to Barking line and up to eight trains an hour between Highbury &amp; Islington and Dalston Junction on the East London route.</p>
<p>As part of the upgrade Transport for London also funded a fleet of 57 brand new air-conditioned trains, and a station refurbishment programme that has delivered cleaner and safer and well-staffed stations with better access, new information, help points, lighting and CCTV.</p>
<p>The work is the latest example of 2012 transport infrastructure improvements delivered well ahead of the Games, and means an early transport legacy for Londoners that will be enjoyed for many years after.</p>
<p>The new timetable is the result of the first major revamp of the line since 1869,&nbsp;which saw intensive civil engineering and complex signalling work take place in more than half of London's boroughs. </p>
<p>Network Rail upgraded and replaced more than 200 signals, renewed more than seven kilometres of track and 69 sets of points, lengthened 30 station platforms and carried out additional improvements at seven other stations.</p>
<p>The Mayor of London Boris Johnson, said: 'Three years ago London Overground was rundown, neglected and an embarrassment to the capital. </p>
<p>'Three years later we have transformed it into one of the nation's top performing railways, running double the number of trains, and it has been named the most punctual service in the country.'</p>
<p>'It will be immensely popular with 2012 Games goers but will be of benefit to Londoners for many years beyond the Olympics.'</p>
<p>Mike Brown, Managing Director of TfL's rail division, said: 'The new timetable provides the high frequency, highly reliable, air conditioned service TfL promised when it took over the railway.&nbsp;<br>&nbsp;<br>'London Overground is now providing a turn up and go service, attracting 55 million passengers each year with direct links to the Tube network for parts of the Capital not previously well served by rail. </p>
<p>'When the South London extension is completed in 2012, London Overground will be a complete orbital network around our city.'</p>
<p>Hugh Sumner, Director of Transport for the Olympic Delivery Authority, said: 'Spectators using the London Overground to get to and from sporting events across the capital will benefit from a service which will not only be more frequent, but also more spacious, comfortable and punctual. <br><br>'In addition to improvements made on the East London Line, upgrades to the North London Line will also play a key role during the Games in bypassing central London to get spectators to the Olympic Park. This investment is helping create a transport legacy long before the Games have even started.'<br><br>Robin Gisby, Director of Operations at Network Rail, said: 'The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a legacy which will help support economic growth. </p>
<p>The partnership we have in place with TfL is delivering results for London and we will continue working together to deliver a high performing and reliable railway in the capital, every day.'</p>
<p>London Overground has just been named as the UK's most punctual railway in a Network Rail survey. </p>
<p>London Overground ran 96.7per cent of its trains on time during March and 96.3 per cent in April, placing it second and first respectively in Network Rail's national monthly performance survey. </p>
<p>With almost 19 out of 20 (94.9%) trains arriving on time over the last twelve months - it has the highest annual figure for any train operator in the country.</p>
<p>&nbsp;
<hr>
<strong>Notes to Editors</strong></p>
<ul>
<li>Since TfL created London Overground in 2007, &pound;1.4bn has been invested in building the East London line route connecting Dalston Junction in the north with New Cross, Crystal Palace and West Croydon in the south in May 2010. This included building four new stations in Hackney. The East London line route was connected to the North London line route with a link between Dalston Junction and Highbury and Islington in February this year. A further extension in South London will be completed by the end of 2012.</li>
<li>Network Rail will require access to the network for maintenance work, during the less busy periods such as overnight or at weekends. Network Rail will also require access to the tracks between Gospel Oak &amp; Stratford every Sunday, the service will start after 9am on Sundays.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The upgrade, funded by TfL, the Olympic Delivery Authority (ODA), the Department for Transport, Network Rail and the Stratford City Implementation Group, means that London Overground services from Richmond and Clapham Junction to Stratford will run four";}
        
        


 