


@{ViewBag.Title = "London Tramlink to run more trams in the evening ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Tramlink to run more trams in the evening </h1>
        <div class="content-page-press-release">
        25 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Tramlink is increasing its weekday evening services on the Wimbledon to New Addington route that covers more than half the tram network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to be able to offer passengers an increase in this service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to be able to offer passengers an increase in this service
                            
                        </p>
                    </div>
                
            
            
            <p>From 31 May the eight-trams-an-hour service that operates between 7:00 and 19:00 will be extended until 21:00 after which it will reduce to four trams per hour.&nbsp; </p>
<p>Last trams will continue to run between midnight and 00:30.</p>
<p>The Mayor of London, Boris Johnson, said: 'Our trams are a highly popular way of getting around south London and stepping up the evening services will make it much easier for anyone going home from work or heading for a night out in that bustling part of the Capital to do so.'</p>
<p>Transport for London (TfL) is also looking to secure extra trams for its network, which would run as a new service between Elmers End and Therapia Lane and the intention is to have the new trams up and running next year. </p>
<p>Director of Tramlink, Phil Hewitt, said: 'We are pleased to be able to offer passengers an increase in this service, which will make off-peak evening travel more appealing and convenient with trams running every seven to eight. </p>
<p>'It is part of Transport for London's ongoing campaign to make tram travel a more popular option for travellers.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Tramlink runs 24 trams over a 28km network with 39 stops </li>
<li>It carries 27.7 million passengers a year with the busiest day ever being 30 November 2010 when 119,000 people used the network </li>
<li>Its passenger satisfaction score is 84&nbsp;out of 100</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 31 May the eight-trams-an-hour service that operates between 7:00 and 19:00 will be extended until 21:00 after which it will reduce to four trams per hour.&nbsp; Last trams will continue to run between midnight and 00:30.The Mayor of London, Boris";}
        
        


 