


@{ViewBag.Title = "London Cycle Challenge is back for 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Cycle Challenge is back for 2011</h1>
        <div class="content-page-press-release">
        19 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor is encouraging Londoners to inspire their friends, family and colleagues onto two wheels by signing up for the London Cycle Challenge.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Rights are at stake for teams of cyclists all over the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Rights are at stake for teams of cyclists all over the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>Thousands of Londoners are expected to take part in this year's event, which is run by Transport for London (TfL) and&nbsp;takes place between 18 June and 15 July. </p>
<p>The challenge is free to enter and online team registration is now open to everyone who lives, works or studies in London. </p>
<p>And thanks to the arrival of the Mayor's flagship Barclays Cycle Hire - you don't even need to own your own bike to get involved!</p>
<p>Groups of friends, families, work colleagues or schools can create teams to challenge each other - and other teams - to see who can cycle the most miles. </p>
<p>Miles mean points and Londoners who rack up the most points could win some great prizes. </p>
<p>All cycle journeys count - for work or for fun - even out of London. </p>
<h2>Win prizes</h2>
<p>There are prizes of cycling goodies for small, medium and large teams. </p>
<p>Schools can also set up teams and go head-to-head with other London schools. </p>
<p>Entrants simply need to visit the <a href="http://www.tfl.gov.uk/cyclechallenge">website</a> where they can join or register a team, and then log their miles throughout the challenge. </p>
<p>Progress can be checked on a real-time leader board and friendly rivalry is encouraged by joining the <a href="http://www.facebook.com/#!/group.php?gid=124949664198029">London Cycle Challenge 2011 Facebook group</a>. </p>
<p>A short promotional film about the challenge also appears on the website homepage.</p>
<h2>Step up</h2>
<p>The Mayor of London, Boris Johnson, said: 'Bragging rights are at stake for teams of cyclists all over the Capital but the cycle challenge is also a great way for new cyclists to join forces and give it a go. </p>
<p>'Summer is the perfect time of year for people to step up the amount of time they spend on two wheels and the cycle challenge is an ideal motivation to do so.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, added: 'Last year more than 10,000 Londoners cycled more than 17,000,000 miles during the challenge. </p>
<p>'If you want to get involved, but are not a regular cyclist, there is plenty of support available including TfL supported cycle training and a series of cycle guides which will help get you started and find your way around London.'</p>
<p>To find out more about TfL's support for cyclists, visit <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The London Cycle Challenge has four categories of awards:</li>
<ul>
<li>Best performing category&nbsp;1 team (two-10 members)</li>
<li>Best performing category 2 team (11-50 members)</li>
<li>Best performing category 3 team (50-100 members)</li>
<li>Best performing category 4 (101-plus&nbsp;members)</li></ul>
<li>For more details on the competition, the prizes, and to sign up, see <a href="http://www.tfl.gov.uk/cyclechallenge">tfl.gov.uk/cyclechallenge</a></li>
<li>The short promotional film which appears on the homepage of the London Cycle Challenge website is available for download and distribution via <a href="http://www.youtube.com/transportforlondon">YouTube</a></li>
<li>The number of cycle journeys made each day have increased by around 150 per cent since 2000 on the Transport for London Road Network - roads which are roads owned and maintained by TfL</li>
<li>Around half a million cycle journeys are now made on London's major roads every day</li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li>
<li>The creation of an easy to use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London</li>
<li>More information about cycling in London, including cycle training and ordering your free cycle guides, go to <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thousands of Londoners are expected to take part in this year's event, which is run by Transport for London (TfL) and&nbsp;takes place between 18 June and 15 July. The challenge is free to enter and online team registration is now open to everyone who";}
        
        


 