


@{ViewBag.Title = "London Underground celebrates Polish poetry";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground celebrates Polish poetry</h1>
        <div class="content-page-press-release">
        31 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube customers will be able to enjoy a new set of poems by major Polish poets from the start of June.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope that Londoners and visitors alike will enjoy this latest collection of poems which celebrate one of the greatest Polish poets of our time.
                            
                        </p>
                    </div>
                
            
            
            <p>The latest collection will be displayed in train carriages and will mark the centenary of internationally renowned poet Czeslaw Milosz.</p>

<p>The Polish poems featured include Blacksmith Shop by Czeslaw Milosz, Nothing Special by Zbigniew Herbert and Star by Adam Zagawewski.</p>
<h2>Emerging from&nbsp;war</h2>
<p>The poets were close friends and were writing in the dark shadow of Polish suffering during and after the Second World War. </p>
<p>Milosz translated the poems of Herbert and introduced Adam Zagajewski to English-speaking readers.</p>
<p>All three poets were artists building a world 'from remnants', celebrating the joys of ordinary life despite the ravages of history.</p>
<h2>British contributors </h2>
<p>Three other poems by British poets continue this theme of the power of poetry to record the world and to give weight to memory and hope.</p>
<p>The Windhover by Gerard Manley Hopkins is written in Hopkins's personal language of religious ecstasy, At Sixty by Scottish poet Christine de Luca about reaching the age of sixty was originally written in Shetlandic, a Scots dialect still spoken in the Shetland Isles, and Ourstory by Carole Satyamurti is a tribute to the unsung 'awkward women' whose tenacity helped to liberate the lives of women today. </p>
<p>Customers can also pick up leaflets of the poems in this collection at five Tube stations from Friday 10 June.</p>
<p>The stations are South Kensington, Embankment, Covent Garden, Russell Square and Moorgate.</p>
<p>Judith Chernaik, the founder of Poems on the Underground, said: "We hope that Londoners and visitors alike will enjoy this latest collection of poems which celebrate one of the greatest Polish poets of our time." </p>
<h2>Notes to Editors:</h2>
<ul>
<li>Images of the latest collections of poems as they appear in Tube carriages are available on request. </li>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai and Warsaw </li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground published by Phoenix paperback 2010 is available from all bookshops and directly from Orion Books at <a href="http://www.orionbooks.co.uk">http://www.orionbooks.co.uk</a> </li>
<li>An event called Czeslaw Milosz: A Centenary Celebration will be held on Monday 6 June at 6.30pm at Europe House, 32 Smith Square, London SW1. Admission is free. Guests include Eva Hoffman with readings of the featured Polish poets, and music from Apollo Chamber Players </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>Images available on request.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest collection will be displayed in train carriages and will mark the centenary of internationally renowned poet Czeslaw Milosz.The Polish poems featured include Blacksmith Shop by Czeslaw Milosz, Nothing Special by Zbigniew Herbert and Star by";}
        
        


 