


@{ViewBag.Title = "Mayor puts 'lean, green and ravishing machine' through its paces";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor puts 'lean, green and ravishing machine' through its paces</h1>
        <div class="content-page-press-release">
        27 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Stakeholders and Londoners have reacted positively to the new design for the New Bus for London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Over the next few months its mettle will be well and truly tested."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Over the next few months its mettle will be well and truly tested.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London revealed a prototype of the New Bus for London today that is now being submitted to a rigorous testing regime at one of the UK's top vehicle development centres.</p>
<p>If tests go well then the new bus, with its hop on and hop off platform, remains on schedule to be on the streets of central London by early next year.</p>
<p>While at Millbrook Proving Ground the new bus will undergo months of testing to check every aspect of the engineering design.</p>
<p>That will include the performance of the diesel-electric hybrid system, operating performance and engine emissions.</p>
<p>General handling of the bus will be put through stringent tests as well as the chassis and superstructure.</p>
<h2>Going for green</h2>
<p>One of the Mayor's chief aims for the new bus has been for it to have the greenest possible credentials.</p>
<p>It will use the latest hybrid engine technology and has a revolutionary new electric motor that will deliver a significant weight saving over a conventional bus. </p>
<p>The environmental technology being tested is such that the manufacturers anticipate the new bus could be a world leader in terms of its impact on air quality.</p>
<p>It has been designed so that air quality emissions will be reduced by 40 per cent for NOx* emissions and 33 per cent for PM** emissions when compared with conventional diesel buses.</p>
<p>If every bus in London performed to the standard of the New Bus for London then air quality could be improved to the extent of a 57 per cent reduction in the amount of NOx emissions from buses.</p>
<p>It is also predicted that fuel consumption on the new bus will be approximately 10 miles per gallon (28 litres per 100km), which is nearly 40 per cent better than a conventional diesel double deck bus and 15 per cent better than existing hybrid double deck buses. </p>
<p>* NOx = Oxides of nitrogen </p>
<p>** PM = Particulate Matter</p>
<h2>Cleaning the heart of London</h2>
<p>The version of the new bus that is being tested is only intended to operate on the busy roads of central London.</p>
<p>But the potential of its environmental technology is that if rolled out across the entire fleet of London buses it could potentially reduce CO2 emissions in the capital by 230,000 tonnes a year.</p>
<p>The Mayor of London, Boris Johnson, said: "I am thrilled that we are now able to put this lean, green and thoroughly ravishing machine through its paces. Over the next few months its mettle will be well and truly tested.&nbsp;</p>
<p>'But I hope that process will confirm we have built a real eco warrior of a bus that can contribute to improving the air of our city, while transporting Londoners in great style and safety."</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'The engineering test vehicle will allow us to check and then re-check the physical structure, engineering and performance of the bus.&nbsp;</p>
<p>'During the course of the next few months it will undergo an intensive battery of tests that will include everything from a compressed bus drive cycle to test the durability of the bus to being tilted to 28 degrees on a huge hydraulic table to ensure it meets all the legal requirements.</p>
<p>'The findings from the tests will refine the design of the buses that will enter service early next year.'&nbsp;&nbsp;</p>
<h2>Stakeholders put up a green light</h2>
<p>The Mayor also announced today that the first New Bus for London vehicle to enter service in early 2012 will be operated by Arriva London.&nbsp;&nbsp;&nbsp; </p>
<p>A full scale static mock-up of the New Bus for London was built last year and a range of stakeholders were invited to view it and to help TfL early in the design process.</p>
<p>The engagement activity involved a number of key stakeholder groups, including wheelchair users.&nbsp; </p>
<p>Overall, the stakeholder feedback was extremely positive with more than 90 per cent liking or strongly liking the exterior of the bus and around 85 per cent liking or strongly liking the overall design.</p>
<p>Input from stakeholders, particularly those representing disabled bus passengers, has enabled TfL to make some additional enhancements to the design of the bus that will improve the passenger experience.&nbsp; </p>
<h2>Notes to Editors: </h2>
<ul>
<li>The New Bus for London has been designed and built by Wrightbus in collaboration with Heatherwick Studio </li>
<li>A summary of the findings of the stakeholder research can be viewed at: <a href="http://www.tfl.gov.uk/newbusforlondon">tfl.gov.uk/newbusforlondon</a> </li>
<li>The contract for the design and build of the New Bus for London was awarded to Wrightbus in January 2010 </li>
<li>The Wright Group is the United Kingdom's leading independent supplier of accessible buses for public transportation systems throughout the country.&nbsp; Founded in 1946, and still a family owned and managed company, the Wright Group has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features </li>
<li>Arriva London is one of the biggest bus operators in London, providing 20 per cent of the capital's bus services under contract to TfL.&nbsp; Contracts involve routes, vehicles and timetables specified by TfL and are closely monitored to ensure services are of the highest quality </li>
<li>Millbrook is one of Europe's leading locations for the development and demonstration of every type of land vehicles, from motorcycles and passenger cars to heavy commercial, military and off-road vehicles</li>
<li>Stills and moving footage of the bus are available for download from the following FTP site <a href="ftp://ftp.wright-bus.com/TFL">ftp://ftp.wright-bus.com/TFL</a> Username - ftptfl1 Password - NBfL2011. Note that the site will be available for one week only</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London revealed a prototype of the New Bus for London today that is now being submitted to a rigorous testing regime at one of the UK's top vehicle development centres.If tests go well then the new bus, with its hop on and hop off platform,";}
        
        


 