


@{ViewBag.Title = "Mayor switches on new electric vehicle scheme 'Source London' ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor switches on new electric vehicle scheme 'Source London' </h1>
        <div class="content-page-press-release">
        27 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor Boris Johnson today launched the Capital's first city-wide electric charge point network and membership scheme, making it easier for electric vehicle owners to plug in while on the move.
        
    </div>



 <div class="on-this-page">
<p>With 150 new charge points operating under a single scheme, Source London is now the Capital's largest charging network. </p>
<p>It has significantly boosted existing numbers of charge points operated by a range of different localised schemes. </p>
<p>By 2013, Source London will total at least 1,300 charge points, more than the number of petrol stations currently in London, ensuring the infrastructure is in place for significantly more people and businesses to buy an electric vehicle from the expanding range coming to market. </p>
<p>Annual membership of Source London is &pound;100, enabling card holders to charge up at any Source London point as many times as required. </p>
<p>Charge points are located on streets and in car parks and are instantly recognisable in Source London branding. </p>
<p>Users simply touch their membership card to the reader on the charge point and then plug in their vehicle to charge. </p>
<p>Source London is also working closely with other regions to help drive the creation of a UK-wide charge point network. </p>
<p>Plans to enable members to use both Source London and the soon to be launched East of England charge point network are currently under way. </p>
<p>The East of England network is also set to use the same Source 'look and feel' on their charge points under a scheme called Source East. </p>
<p>The Mayor of London, Boris Johnson, said: 'I want to rapidly accelerate the uptake of electric vehicles and make London the epicentre of electric driving in Europe. </p>
<p>'Increasing numbers of motorists are opting for cleaner, greener electric transport, delivering a host of benefits to the driver including a 100 per cent congestion charge discount. </p>
<p>'This is set to deliver considerable environmental benefits to our city. </p>
<p>'Through Source London we want to give drivers the confidence that they can plug into this fantastic new motoring technology. </p>
<p>'We are working with a mighty coalition of motor manufacturers and private sector partners as well as London's boroughs to ensure we create world-class support for electric motoring.'</p>
<p>The creation of an electric vehicle network is in line with the Mayor's pledge to promote quality of life by reducing pollution and CO2 emissions. </p>
<p>London already leads the way with the highest number of electric vehicles and charge points in the UK. </p>
<p>Source London will maintain this edge and provide drivers with the assurance that they can charge up their vehicles whilst out and about.</p>
<p>In addition to producing no polluting emissions at the tailpipe, running costs for electric vehicles are significantly cheaper than for petrol or diesel vehicles which currently use fuel retailing at well over &pound;1 per litre.</p>
<p>The Mayor has also granted electric vehicles a 100 per cent discount for the congestion charge in London. </p>
<p>Further savings can be found via the Government's &pound;5,000 consumer incentive grant which is available for a range of electric cars which also qualify for nil rate vehicle excise duty.</p>
<p>Leon Daniels, Managing Director of Surface Transport for TfL, said: 'Electric vehicles are no longer just for testing. </p>
<p>'There are many reasons for Londoners to consider having one of their own.</p>
<p>'Source London is a significant element of our work to support the Mayor's aim to make this city the electric vehicle capital of Europe. </p>
<p>'The new network is destined to increase the number of electric vehicles and give drivers the confidence to use their electric vehicles across the capital.'</p>
<p>Source London consists of a growing consortium (led by TfL) of public and private sector partners committed to helping the capital to embrace electric driving in greater numbers. </p>
<p>These include:</p>
<ul>
<li>Siemens, who&nbsp;have developed, at no cost to TfL, the IT Infrastructure and back office systems that will allow users to register online at - <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> - and use the Source London network of points </li>
<li>Scottish and Southern Electric, in partnership with NCP, who have part-funded and installed a large number of charge points </li>
<li>Enterprise, Heathrow Airport, Asda Stores Limited, Capital Shopping Centre Plc, Gatwick Airport Ltd, Heathrow Airport Ltd, IKEA Ltd, Nissan Motor (GB) Ltd, Old Ford Housing Association, Sainsbury's Supermarkets Ltd, Southern Electric Power Distribution PLC, The Whittington Hospital NHS Trust, London Underground Ltd</li></ul>
<p>Electric vehicle manufacturer Nissan are offering drivers of their vehicles in London a one year free membership to Source London when they purchase a new electric vehicle. </p>
<p>Other leading car manufacturers whose vehicles are currently on the market include Citroen, Mitsubishi, Peugeot, Smith Vans and Tesla. </p>
<p>Andreas J. Goss, chief executive of Siemens plc, said: 'Source London sets a new standard for electric vehicle projects, in its ambition, scale and technology. </p>
<p>'The scheme has the potential to radically change the transport landscape for the capital. It is an example of our commitment to the vision for London as a truly sustainable city.'</p>
<p>Julian Walker-Palin, Head of Corporate Sustainability at Asda, said: 'More and more drivers are ready to make the switch to electric vehicles. </p>
<p>'Our new charging points are part of Source London and offer a greater choice to customers in how they travel to store.</p>
<p>'The points bolster the total number across London, adding weight to its ambition to become one of the greenest cities on Earth.'</p>
<p>Quentin Willson, motoring journalist, TV presenter and electric vehicle enthusiast, said: 'Electric cars are here to stay.</p>
<p>'Quick off the mark, dramatically silent and fun to drive, even old school motoring journalists are now nodding approvingly. </p>
<p>'And with the current daft price of petrol and diesel, doing a 100 miles for just two quid's-worth of electricity offers new and urgent possibilities.</p>
<p>'I'm so impressed I've just bought one. </p>
<p>'Source London's roll out of more charging points means electric vehicles are going to become very familiar indeed.' </p>
<p>Many of the existing charge points in London boroughs will soon join the Source London network which will provide a growing and comprehensive charging network. </p>
<p>Registration for Source London is now open at <a href="http://www.sourcelondon.net">www.sourcelondon.net</a>. </p>
<p>Anyone who owns an electric vehicle is eligible to register.</p>
<p>Siemens are also providing a contact centre that will support Source London's electric vehicle drivers. </p>
<p><strong>This release was originally issued by the Greater London Authority.<br></strong></p>
<h2>Notes to Editors</h2>
<p>For more information on how to register and on how to use Source London go to <a href="http://www.sourcelondon.net">www.sourcelondon.net</a></p>
<ul>
<li>For drivers already registered with a borough wishing to join Source London, they will be eligible to receive an additional six months added to their annual membership once they sign up for Source London. </li>
<li>London already leads the way with the highest number of electric vehicles in the UK. The new network in conjunction with the new electric vehicles coming onto the market this year and the Government's consumer grant should see a real rise in the number of electric vehicles on the capital's streets. </li>
<li>In addition to the 150 new points in the Source London network there are approximately 250 publicly-accessible electric vehicle charging points in the capital, over half of which have been part-funded by TfL. This is the highest number of charge points anywhere in the UK. TfL is working with the providers of existing charge points in the capital to enable these points to become part of the Source London network. </li>
<li>Source East is being delivered by EValu8 who are one of a number of government backed 'Plugged in Places' that is building a recharging infrastructure to enable the everyday use of electric vehicles. The EValu8 Recharging Network&nbsp; - Source East - will operate over 1,000 recharging posts across the East of England - including 8 rapid rechargers. Points are starting to go into ground and within two years the EValu8 network will cover an area of 7,500 square miles. Initially posts will be focused around Bedford, Cambridge, Ipswich, Norwich, Peterborough, Luton and Hertfordshire, Thames Gateway South Essex and London Stansted airport. </li>
<li>In the six months since the consumer incentive scheme started there has been a sharp rise in the number of vehicles purchased. Between January 1st, when the Plug-in Car Grant was first launched, and 20th April, 534 motorists claimed a consumer grant of up to &pound;5000 to buy their own ultra-low carbon car. </li>
<li>Within Greater London, there are some 17,000 hybrid and pure electric vehicles currently registered with the DVLA - far exceeding numbers anywhere else in the UK. There are approx 2100 plug in electric vehicle registered for a congestion charge discount. With many of the world's major manufacturers intending to launch their own electric vehicles in the next six to twelve months and electric technology improving all the time, sales of these cars&nbsp;are set to increase significantly. </li>
<li>Source London's network of 1,300 publicly accessible charging points by 2013 will be capable of supporting many thousands more electric vehicles in London and will help realise the Mayor's vision of 100,000 electric vehicles in the capital as soon as possible. </li>
<li>The Mayor has a strategic target to work with a range of partners to deliver 22,500 workplace charge points by 2015 - in part this will be supported through a provision in the draft London Plan for developers to include workplace charge points in new car parks. </li>
<li>TfL and Siemens signed an agreement in February 2011. Siemens have committed to run Source London's IT and back office functions free of charge for three years. </li>
<li>These deals form a part of the Mayor's and TfL's ongoing commitment to deliver value for money for London's fare payers, finding innovative ways to develop new infrastructure for this growing market at no additional cost to the public purse, protect the funding of frontline services and maintain the vital investment for the Tube upgrades and construction of Crossrail. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With 150 new charge points operating under a single scheme, Source London is now the Capital's largest charging network. It has significantly boosted existing numbers of charge points operated by a range of different localised schemes. By 2013, Source";}
        
        


 