


@{ViewBag.Title = "Mayor hails huge improvements to road safety in London during last decade ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails huge improvements to road safety in London during last decade </h1>
        <div class="content-page-press-release">
        12 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New figures published by the Mayor of London and Transport for London (TfL) show how road safety in London has improved dramatically over the last 10 years exceeding both Government and City Hall targets.
        
    </div>



 <div class="on-this-page">
<p>In the same week that the United Nations declared 2011 to 2020 a Decade of Action for Road Safety, the new TfL figures reveal how deaths and serious injuries on London's roads have dropped by a staggering 57 per cent over the last decade.</p>
<p>This trend is continuing. </p>
<p>Last year, the first time since records began in the 1970s, the number of fatalities fell below 150 to 126, which represents a 32 per cent reduction compared with 2009, and a 49 per cent reduction since the mid-to-late 1990s.</p>
<p>What's more, figures recently published by the Department for Transport (DfT) show that London is considerably below the national average in terms of fatalities at 24 per million people, compared to a UK average of 38 per million.</p>
<p>The Mayor of London, Boris Johnson, said: 'London's roads are now much safer than they were a decade ago and the Metropolitan Police, London Boroughs and Transport for London all deserve praise as other countries look to our lead. </p>
<p>'But there is still much more to be done, especially around the safety of cyclists on our streets, and that is exactly why we continue to fund road safety schemes across the Capital. </p>
<p>'A great deal has been achieved in the Capital but if we are to continue to reduce casualty levels we must not lose our focus in this important work and I welcome the UN's Decade of Action.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Road safety is something that TfL takes exceptionally seriously. </p>
<p>'The &pound;14.8m we will be directly spending on road safety schemes across London during 2011/12 will look to build on the tremendous achievements we have achieved in the last ten years, as well as further reduce the number of people killed or seriously injured on the Capital's roads every year.'</p>
<h2>Significantly safer</h2>
<p>In addition to overall targets, both Government and City Hall set out to reduce the numbers of child fatalities and serious injuries on TfL's roads by 50 and 60 per cent respectively with London again exceeding expectations. </p>
<p>London's roads are also now significantly safer for children, something that continues to be a key priority for the Mayor, with a 73 per cent reduction in the number of children killed or seriously injured (KSI) on London's roads since the mid-to-late 1990s, a figure that continues to drop (2010 ranks at five per cent lower than to 2009).</p>
<p>The Mayor's cycle revolution has given cycling in the Capital an enormous boost, with the number of cycle journeys made on the city's roads each day increasing by around 150 per cent (on the TfL Road Network) since 2000. </p>
<p>Crucially, the overall number of cyclist KSIs on London's roads has fallen by almost a fifth since the mid-to-late&nbsp;1990s (18 per cent). </p>
<p>Although ten cyclists died last year, the number of fatalities of pedal cyclists in the Capital has fallen with a reduction in 2010 of 23 per cent against 2009. </p>
<p>There has been a slight increase in the number of people seriously injured while cycling (a nine per cent increase during 2010). </p>
<p>The Mayor and TfL continue to work hard to cut road deaths still further by investing in a wide range of road safety including highway engineering schemes, information campaigns, and important road safety initiatives such as Junior Road Safety Officers and BikeSafe-London. </p>
<p>Work also continues with Heavy Goods Vehicle&nbsp;associations and drivers to encourage operators to sign up to TfL's Freight Operator Recognition Scheme (FORS) and provide vehicles with warning signage, safety mirrors and driver training.</p>
<hr>
&nbsp; <strong>Notes to editors:</strong> 
<ul>
<li>The <a href="http://www.tfl.gov.uk/assets/downloads/Cycling/casualties-in-greater-london-2010.pdf ">Casualties in Greater London during 2010 report </a>is available online </li>
<li>Death and serious injuries reduced from average of 6,684 a year in mid-to-late 1990s to 2,886 in 2010 - a fall of 57 per cent. In just one year the number of KSIs on London's roads fell by eleven per cent - with 341 fewer KSIs than in 2009 </li>
<li>Since the mid-to-late 1990s, the Capital has seen an estimated 60 per cent reduction in the number of pedal cyclist KSIs per trip in Greater London </li>
<li>Other figures published today include:&nbsp;pedestrian KSIs have fallen by 13 per cent since 2009 (1,055 to 913) and by 57 per cent in just over the last decade: 
<ul>
<li>Car occupant KSIs reduced by 12 per cent since 2009 (818 to 722) and by 72 per cent overall </li>
<li>Motorcycle and scooter KSIs went down by 13 per cent (706 to 615) since 2009 and by 34 per cent overall </li>
<li>Slight injuries increased by five per cent (24,752 to 26,003) since 2009, but are down by 33 per cent overall. (Note: slight injuries are incidents which are recorded by the Metropolitan Police but do not require hospital admittance)</li></ul></li>
<li>The Mayor of London and TfL support the United Nations Decade of Action for Road Safety - an initiative to improve road safety across the world, which was launched on 11 May 2011.&nbsp;TfL is currently working to formally endorse this campaign in parallel with the launch of the new Road Safety Plan for London this summer, which will cover the coming decade </li>
<li>The Government announced in March 2000 a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's Roads - Safer For Everyone'. The casualty reduction targets to be achieved by 2010, compared with the average for 1994 to 1998 are: 
<ul>
<li>All KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 50 per cent </li>
<li>All slight injuries reduced by 10 per cent</li></ul></li>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2001, which supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders KSIs by 2010 against the same baseline </li>
<li>The original targets had largely been achieved by 2005 so the then Mayor announced further, more challenging targets in 2006 to be achieved by 2010. They are:&nbsp; 
<ul>
<li>&nbsp;All KSIs reduced by 50 per cent </li>
<li>Pedestrian KSIs reduced by 50 per cent </li>
<li>Cyclist KSIs reduced by 50 per cent </li>
<li>Powered two-wheeler KSIs reduced by 40 per cent<br>Child KSIs reduced by 60 per cent<br>All slight injuries reduced by 25 per cent </li></ul></li>
<li>A new Draft Road Safety Plan covering 2011 to 2020 will be issued by TfL for consultation in 2011 </li>
<li>In 2009, there were 24 <a href="http://www.dft.gov.uk/pgr/statistics/datatablespublications/accidents/casualtiesgbar/rrcgb2009">fatalities on London's roads </a>per million people, compared to 38 in the United Kingdom as a whole, the lowest level amongst all selected countries. This compares to 39 fatalities per million people in Sweden, 44 in the Netherlands, 51 in Germany, 66 in France and 111 in the United States </li>
<li>Between the mid-to-late 1990s and 2009, the number of pedestrian and motorcyclist KSIs on London's roads fell by more than any other metropolitan area in Great Britain. All road user KSIs&nbsp;fell at the same rate as the West Midlands, and greater than any other metropolitan area in Great Britain. The DfT will publish 'Reported Road Casualties Greater Britain: 2010' in September this year </li>
<li>The Mayor recently announced &pound;4m funding over the next three years for 13 pre-identified 'Biking Boroughs' to bid for funds to be used to create cycle hubs and safer cycling environments in Outer London. This funding will help boroughs engage the local community in cycling, create better cycle infrastructure and parking as well as making cycling safer generally. London boroughs have also allocated &pound;9.7m of TfL Local Implementation Plan funding to support schemes that will help improve road safety across the Capital</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In the same week that the United Nations declared 2011 to 2020 a Decade of Action for Road Safety, the new TfL figures reveal how deaths and serious injuries on London's roads have dropped by a staggering 57 per cent over the last decade.This trend is";}
        
        


 