


@{ViewBag.Title = "Partnership awarded Excellence in Technology and Innovation at the London Transport Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Partnership awarded Excellence in Technology and Innovation at the London Transport Awards</h1>
        <div class="content-page-press-release">
        10 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), Cubic and the Association of Train Operating Companies (ATOC) recognised for bringing Oyster onto the National Rail network in London.
        
    </div>



 <div class="on-this-page">
<p>TfL, Cubic Transportation Systems and ATOC have won the award for Excellence in Technology and Innovation at the London Transport Awards for the joint work on the Oyster extension to National Rail project.</p>
<p>Oyster pay as you go was extended to all 350 National Rail stations in Greater London in January 2010, and now more than two million journeys are made each week using the transport smartcard on National Rail services.</p>
<p>The partnership was recognised at the prestigious awards ceremony on 27 April.</p>
<p>TfL invested &pound;40m to install or upgrade equipment at every train station in London to bring Oyster to all of the&nbsp;Capital's transport system.</p>

<h2>Huge success</h2>
<p>Cubic, the world's leading solution provider of automated fare collection systems for public transport, developed the necessary technologies, including the design and implementation of extensive new systems software architecture, to enable the Oyster extension.</p>
<p>ATOC facilitated the liaison with the Train Operating Companies in London to ensure one set of consolidated and coordinated requirements could be determined.</p>
<p>Mike Tuckett, TfL's Head of National Rail Development, said: 'Oyster pay as you go on National Rail has been a huge success, bringing London together by allowing passengers to use all public transport in the Capital with one smartcard. </p>
<p>'We look forward to working with our partners to build on this success, and in particular to offer customers the opportunity to use contactless bankcards to pay as they go across London in 2012.'</p>

<h2>Integrated systems</h2>
<p>Steve Shewmaker, President of Cubic Transportations Systems, said: 'Each year, the London Transport Awards showcases the creativity, execution, achievement and overall excellence in transport development and innovation. </p>
<p>'We are honoured to join TfL and ATOC in receiving this award for our joint success in providing Londoners with one integrated ticketing system.'</p>
<p>Steve Howes, ATOC, said: 'The rollout of Oyster pay as you go to cover the whole of Greater London has made things quicker and simpler for the millions of people who use trains to get around the Capital. </p>
<p>'It's an honour to win the award, which is recognition for all the hard work that everyone put into making the project a success.'</p>
<p>The London Transport Awards, in association with Transport Times magazine, were judged by Transport Times publisher and chair of the panel Professor David Begg, Janet Cooke Chief Executive of&nbsp;London Travel Watch, Nick Lester Director of Transport, Environment and Planning for&nbsp;London Councils, and Elsie Owusu OBE and&nbsp;Principal Partner of Fielden &amp; Mawson.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In early 2012, ahead of the Games, passengers will be able to use their bank-issued contactless debit and credit cards to pay for their travel directly on all of London's 8,500 buses. This alternative method of fare payment will be rolled out to the rest of the transport network in London later that year </li>
<li>In the majority of cases, Oyster pay as you go offers the cheapest single rail fare applicable to that particular route. The only exceptions are holders of certain national Railcards eg Network, Family, for whom cheaper paper tickets for travel on National Rail may be available. Passengers are advised to check the best fare before travelling with the relevant train operator </li>
<li>More than&nbsp;seven million Oyster cards are regularly used in London, and Oyster accounted for more than&nbsp;three billion passenger journeys last year </li>
<li>Oyster is available: 
<ul>
<li>Online at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a> </li>
<li>Over the phone&nbsp;on 0845 330 9876 </li>
<li>At one of 4,000 Oyster Ticket Stops across London </li>
<li>At Tube and London Overground station ticket machines and ticket offices </li>
<li>From the majority of ticket machines and ticket offices at National Rail stations in the Greater London area </li>
<li>At the six London Travel Information Centres, open seven days a week at Liverpool Street Tube , Piccadilly Circus Tube , Euston mainline station, Victoria mainline station, Heathrow Terminals 1, 2, 3 Tube&nbsp;and King's Cross St Pancras Tube - Western Ticket Hall</li></ul></li>
<li>Cubic Corporation is the parent company of three major business segments: Defence Systems, Mission Support Services and Transportation Systems. Cubic Defense Systems is a leading provider of realistic combat training systems, cyber technologies, asset tracking solutions, and defense electronics. Mission Support Services is a leading provider of training, operations, maintenance, technical and other support services </li>
<li>Cubic Transportation Systems, Inc. is the world's leading turnkey solution provider of automated fare collection systems for public transport including bus, bus rapid transit, light rail, commuter rail, heavy rail, ferry and parking. Cubic's solutions and services include system design, central computer systems, equipment design and manufacturing, device-level software, integration, test, installation, warranty, maintenance, computer hosting services, call centre services, card management and distribution services, financial clearing and settlement, multi-appilcation support and outsourcing services </li>
<li>Every year, nearly 10 billion rides are taken worldwide using Cubic fare collection systems. Cubic has delivered more than 400 projects in 40 major markets on five continents. Active projects include London; Brisbane (Southeast Queensland) region, Australia; New York / New Jersey region; Washington, D.C / Baltimore / Virginia region; Los Angeles region; San Diego region; San Francisco region; Minneapolis / St. Paul; Chicago; Atlanta region; Miami (South Florida) region; Vancouver and Edmonton, Canada; Sydney (New South Wales), Australia; and Scandinavia</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL, Cubic Transportation Systems and ATOC have won the award for Excellence in Technology and Innovation at the London Transport Awards for the joint work on the Oyster extension to National Rail project.Oyster pay as you go was extended to all 350";}
        
        


 