


@{ViewBag.Title = "Proposed Northern line extension public consultation begins ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Proposed Northern line extension public consultation begins </h1>
        <div class="content-page-press-release">
        09 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and developer Treasury Holdings are starting a public consultation to hear local residents' views on the proposed private-sector funded 3km extension of the Northern line from Kennington to Battersea Power Station.
        
    </div>



 <div class="on-this-page">
<p>The <a href="http://www.northernlineextension.com">public consultation </a>starts today and finishes on Friday 17 June.</p>
<p>The Mayor's Transport Strategy supports an externally funded extension of the Northern line to support development in the surrounding area. </p>
<p>The Tube extension is part of a package of transport measures that would enable the regeneration of the GLA's wider Opportunity Area which covers Vauxhall, Nine Elms and Battersea. </p>
<p>This new infrastructure would support up to 25,000 jobs and 16,000 new homes in this major redevelopment area. </p>
<p>It will supplement existing Tube and National Rail stations, as well as the Vauxhall bus interchange, and help ease pressure on Vauxhall station. </p>
<p>If the extension goes ahead two new Tube stations would be created, one at Nine Elms and one at Battersea allowing easy access to the Tube network. </p>
<p>Local residents would be less than 15 minutes by Tube, from Battersea, from the West End and the City.</p>
<p>Around 40,000 leaflets are being sent to homes and offices in the surrounding area asking people for their views on the project, the location of stations and other infrastructure associated with the extension. </p>
<h2>Public exhibitions</h2>
<p>People can also find out more about the proposals at exhibitions being held on several days in May and June. </p>
<p>The Mayor of London, Boris Johnson, gave the go-ahead for the redevelopment of Battersea Power Station last year - the approved plans include a Tube station at the power station but the full development is dependent on the extension of the Northern line. </p>
<p>The construction of the extension is subject to external funding and the award of a Transport and Works Act Order by the Secretary of State. </p>
<p>In the first stage of the public consultation process in 2010, local residents were asked by Treasury Holdings to comment on four possible route options, all of which ran from Kennington to Battersea Power Station. </p>
<p>The preferred option was the route via south Nine Elms. </p>
<p>Boris Johnson, the Mayor of London, said: 'The iconic Battersea Power Station and its surrounding area have lain dormant too long but the incredible potential of the area could be realised by a privately funded extension of the Tube. </p>
<p>'I hope local people will visit the exhibitions and respond to the consultation as the plans have the potential to transform this part of London into a thriving new quarter, and deliver the first expansion of the Northern line for around 70 years.'</p>
<h2>Privately funded</h2>
<p>Mich&egrave;le Dix, Managing Director for Planning for TfL, said: 'We're very much behind this private-sector funded project, which will not only support the proposed development of the Northern line extension but become an important transport link for people in the Battersea and Nine Elms area. </p>
<p>'We are really keen to hear what local residents think about these proposals for the Northern line extension.'</p>
<p>Rob Tincknell, Managing Director for Treasury Holdings, said: 'The extension of the Northern line is recognised as necessary for the full regeneration of the Nine Elms Opportunity Area.&nbsp; </p>
<p>'The project to make this happen is an excellent example of how the public and private sectors have come together to achieve a set of shared objectives, all aimed at integrating this area into the rest of Central London and bringing real benefits to everyone who lives in this part of London and beyond.'</p>
<p>The planning framework for the area includes a proposed level of developer contributions which can be used to fund infrastructure, including the critically important Northern line extension.</p>
<p>Subject to funding and further planning permission the Northern line extension could be completed in 2017. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL and Treasury Holdings are hosting exhibitions for local residents about the Northern line extension on the following dates: 
<ul>
<li>Wednesday 18 May and Monday 6 June from 12:00 to 20:00 at the Acquire Arts Gallery, 155 Battersea Park Road, London SW8 4BU </li>
<li>Friday 20 and Saturday 21 May from 10:00 to 18:00 at The Long Room, The KIA Oval, Kennington, London SE11 5SS </li>
<li>Thursday 26 and Friday 27 May from 10:00 to 18:00 at Sainsbury's Nine Elms, 62 Wandsworth Road, London SW8 2LF</li></ul></li>
<li>The draft Transport and Works Act Order for an externally funded Northern line extension is now expected to be submitted by autumn 2011. TfL and the Mayor support the coalition Government's recent announcement regarding Tax Incremental Financing and its potential role in funding infrastructure in the Opportunity Area </li>
<li>The Vauxhall-Nine Elms-Battersea Opportunity Area covers 227 hectares (2,443 acres) and is the largest development opportunity close to the centre of London </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme in 2020 there will be 30 per cent&nbsp;more capacity </li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to 'check before they travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available online at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The public consultation starts today and finishes on Friday 17 June.The Mayor's Transport Strategy supports an externally funded extension of the Northern line to support development in the surrounding area. The Tube extension is part of a package of";}
        
        


 