


@{ViewBag.Title = "Research shows Pedestrian Countdown technology brings benefits to London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Research shows Pedestrian Countdown technology brings benefits to London</h1>
        <div class="content-page-press-release">
        31 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Results from the first UK trial show the technology people helps feel safer and less rushed.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Pedestrian Countdown can deliver significant benefits not just to pedestrians, but to all road users.
                            
                        </p>
                    </div>
                
            
            
            <p>New research by TfL has shown that a trial of Pedestrian Countdown technology at eight sites across the Capital has brought significant benefits to all road users with no compromise to safety standards.</p>
<p>The trial, which began in June last year, was the first of its kind in the UK, following success in other world cities.</p>
<h2>Stop the guessing game</h2>
<p>The digital displays count down the time between the green man symbol going out and the red man appearing. </p>
<p>This helps make it clear to pedestrians how much time they have left to cross the road safely. </p>
<p>By replacing the blackout period with a numerical counter, the pedestrians are able to judge whether they have enough time to cross the road, helping them to make more informed choices.</p>
<h2>Welcome information</h2>
<p>Research carried out by Transport Research laboratory as part of the trial shows that a majority of pedestrians surveyed about the trial (83 per cent) liked the Pedestrian Countdown technology in the after study.</p>
<p>The technology was also liked by 94 per cent of mobility impaired users and 79 per cent of children, who experienced traffic crossings with and without the system.</p>
<p>Crucially, the study showed that there were no negative impacts on safety during the trial.</p>
<p>At all trial sites, fewer people felt rushed when crossing the road with Pedestrian Countdown, compared to without.</p>
<h2>A calmer Balham</h2>
<p>The most significant reduction was at the Balham trial site, where the proportion of people who felt rushed fell from 45 per cent to 7 per cent in the final after study. </p>
<p>The analysis by TRL concluded that introducing Pedestrian Countdown technology to junctions would not introduce any serious risks to safety and reduces pedestrian uncertainty, allowing for more informed crossing choices to be made.</p>
<p>The Mayor of London, Boris Johnson, said: "Pedestrian Countdown is a simple idea with huge benefits. It seems to make people feel safer and my hope is that by next year Londoners will be able to use this technology on lots more crossings.</p>
<p>'The certainty of having a timer also means we should see less of the lethal last minute dashes across the road that, as well as being highly dangerous, can disrupt the journeys of other road users waiting at the lights."</p>
<h2>Power to the pedestrian</h2>
<p>Following publication of the report, TfL is now working with the Department for Transport (DfT), Highways Agency, London boroughs and potential suppliers to discuss how Pedestrian Countdown technology could be rolled out to a number of key road junctions across the TfL Road Network from early 2012.</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets at TfL said: "Pedestrian Countdown can deliver significant benefits not just to pedestrians, but to all road users.</p>
<p>By providing greater clarity when crossing the road, pedestrians can make more informed choices about whether or not to cross the road, helping to make London's roads even safer."</p>
<h2>Notes to Editors</h2>
<p>1.&nbsp;The TRL report on 'Pedestrian Countdown at Traffic Signals (PCaTS) - Road Trial' can be found at <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/15490.aspx">http://www.tfl.gov.uk/corporate/projectsandschemes/15490.aspx</a></p>
<p>2.&nbsp;As part of the trial, TfL engaged with a number of organisations, including Living Streets, London Travel Watch and Guide Dogs for the Blind, to discuss how the technology would benefit their representatives.</p>
<p>3.&nbsp;TfL carried out the trial of Pedestrian Countdown technology at the following eight locations in London:</p>
<p>-&nbsp;Blackfriars Road, outside Southwark station, junction with Union Street and The Cut<br>-&nbsp;Balham High Road, outside Balham Station, junction with Chestnut Grove and Balham Station Road<br>-&nbsp;A306 Roehampton Lane, junction with the Queen Mary's Hospital access road<br>-&nbsp;Oxford Circus, junction of Oxford Street and Regent Street<br>-&nbsp;High Holborn, outside Holborn station, junction with Kingsway and Southampton Row<br>-&nbsp;The junction of Finsbury Square, Finsbury Pavement and Chiswell Street in Broadgate EC1<br>-&nbsp;Tower Bridge Road, junction with Tooley Street, near City Hall<br>-&nbsp;Old Kent Road at the junction of Surrey Square in Walworth SE17</p>
<p>4.&nbsp;Although it isn't illegal for pedestrians to cross while the red man is showing, 20 per cent of all fatal and serious pedestrian injuries in London in 2010 took place near pedestrian crossings. </p>
<p>5.&nbsp;913 pedestrians were killed or seriously injured on London's roads in 2010 - a reduction of 11 per cent compared to 2009, and a 57 per cent reduction when compared to the mid to late 1990s.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New research by TfL has shown that a trial of Pedestrian Countdown technology at eight sites across the Capital has brought significant benefits to all road users with no compromise to safety standards.The trial, which began in June last year, was the";}
        
        


 