


@{ViewBag.Title = "Route 488 extended to Dalston ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route 488 extended to Dalston </h1>
        <div class="content-page-press-release">
        27 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 4 June bus route 488 will be extended from Clapton to Dalston.
        
    </div>



 <div class="on-this-page">
<p>The extended route will bring local residents and bus passengers many benefits including: </p>
<ul>
<li>A bus service for the first time along parts of Kenninghall Road, Rendlesham Road, Downs Road and parts of Shacklewell Lane</li>
<li>Direct links to Dalston, Clapton, Homerton Hospital and Bow</li>
<li>A link to Petchey Academy and BSix Sixth Form College</li>
<li>Connections with London Overground services from Dalston Junction, Dalston Kingsland and Hackney Wick stations and connections with the Tube and DLR at Bow</li></ul>
<p>Buses will run every 12 minutes during the day, Monday to Saturday, every 15 minutes on Sundays and every 20 minutes in the evening.</p>
<p>John Barry, Head of Network Development, London Buses, said: 'The extension of route 488 will provide passengers with improved local links. </p>
<p>'This route connects with DLR, Tube, London Overground and other bus services.&nbsp; </p>
<p>'We keep the bus network under regular review to ensure it provides the best possible service for our passengers.' </p>
<p>Cllr Feryal Demirci, Hackney's Cabinet Member for Neighbourhoods, said: 'The Council welcomes this new bus service linking Homerton, Clapton and Dalston. </p>
<p>'It will help support the regeneration of our principal town centre, especially around the new Dalston Junction Overground station and Dalston Square development.'</p>
<p>If you require any further information regarding this or need general London travel information please contact our 24 hour London Travel line on 0843 222 1234 or visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>.<br></p>
<h2>Notes for editors</h2>
<p>1.&nbsp;Route 488 currently runs between Bromley-by-Bow and Clapton Pond via Bow Church, Old Ford and Homerton Hospital.</p>
<p>2.&nbsp;The extension from Clapton Pond is via Kenninghall Road roundabout, Kenninghall Road, Rendlesham Road, Downs Road, Rectory Road, Shacklewell Lane, Kingsland High Street, Kingsland Road and Forest Road to Dalston Junction Station. </p>
<p>3.&nbsp;Single-deck buses will continue to be used.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extended route will bring local residents and bus passengers many benefits including: A bus service for the first time along parts of Kenninghall Road, Rendlesham Road, Downs Road and parts of Shacklewell LaneDirect links to Dalston, Clapton, Homerton";}
        
        


 