


@{ViewBag.Title = "Safer Travel at Night: Over 1,300 drivers arrested last year as part of crackdown on unbooked 'minicabs'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safer Travel at Night: Over 1,300 drivers arrested last year as part of crackdown on unbooked 'minicabs'</h1>
        <div class="content-page-press-release">
        23 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest weekend operation brings in 39 arrests
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Although this is welcome news, we are not complacent, and we will continue our efforts to further reduce these crimes.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Cab-related sexual offences fall by 20 per cent year on year</li></ul>
<p>The Mayor of London's war against unlicensed minicabs has resulted in 1,300 arrests over the last 12 months in a crackdown on touting and other cab-related offences during 2010/11.</p>
<p>The latest figures show the success of the ongoing Safer Travel at Night (STaN) initiative, a partnership between the Mayor, Transport for London (TfL), Metropolitan Police Service (MPS) and the City of London Police (CoLP), who are working together to make travelling in London safer at night. </p>
<p>STaN aims to reduce the number of cab-related sexual offences by raising awareness of the dangers of using unbooked minicabs, also known as touts and illegal cabs, and by using targeted police and enforcement activity to identify, disrupt and deter illegal cab activity. </p>
<h2>Undercover tactics</h2>
<p>Both the MPS Safer Transport Command, CoLP and TfL officers carry out regular enforcement activity across London including high-visibility patrols, stop/checks on vehicles, intelligence-led operations and engaging with the public.</p>
<p>During the latest three-night-operation, that took place last weekend in central London, the West End and parts of Camden, there were 39 people arrested for touting and other cab-related offences. </p>
<p>Officers used undercover tactics and also conducted roadside vehicle and licence compliance checks on all minicabs within the operation area.</p>
<p>Despite significant progress over recent years unbooked minicabs remain a high priority for the Mayor, TfL and the police as they are a danger to the public, especially as they operate around the Capital's night life. </p>
<h2>Russian roulette</h2>
<p>These cabs are unregulated and uninsured to carry passengers, and in some cases the drivers are linked to more serious crimes including rape and sexual assault, robbery and drugs. </p>
<p>Last year saw the number of cab-related sexual offences fall by 20 per cent to 111 but there is more work to be done.</p>
<p>These cabs also present a threat to licensed and law-abiding taxi and private hire drivers as they intercept customers and represent unfair - and unsustainable - competition.</p>
<p>Mayor of London Boris Johnson said: 'The people who live in and visit this great city need to know that it is safe to get around. </p>
<p>'It is in this context that we must confront the Russian roulette that is presented by illegal minicabs. </p>

<p>'Taxi touts are a menace to Londoners and tourists and the number of arrests made clearly indicates our decision to double the size of TfL's excellent cab enforcement team.' </p>
<h2>We are not complacent</h2>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'These results reflect the hard work by officers from both the police and TfL to tackle touting, cab-related sexual offences and other illegal cab activity in the Capital. </p>
<p>'Although this is welcome news, we are not complacent, and we will continue our efforts to further reduce these crimes and ensure that the public can travel safely at night in the Capital.'</p>
<p>Chief Superintendent Joe Royle, Safer Transport Command, said: 'These arrests show our commitment to ensuring Londoners travel safely at night. </p>
<p>'We will continue to carry out operations as part of our ongoing drive to tackle illegal cabs and taxi touts operating in the Capital.'</p>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally, even if they are licensed by TfL </li>
<li>Only black cabs can pick passengers up on the street without a booking </li>
<li>When travelling by minicab always book it with a licensed operator, when it is arrives check it's for you by getting the driver to confirm your booking details&nbsp;and always sit in the back </li>
<li>To get three local cab numbers text 'CAB' to 60835** </li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>** Users of 3 and overseas networks must enter different information. See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for details and charges.</p>
<p><br>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>There were 111 cab-related sexual offences in 2010/11. Compared to the previous year, where there were 140 offences, there was a decrease of 20.7 per cent </li>
<li>Since 2003 the Cab Enforcement Unit has made more than 7,000 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all cabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/03.&nbsp;The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded in part by TfL </li>
<li>The Mayor has taken a tough line on touting and&nbsp; illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at <a href="http://www.tfl.gov.uk/contactcabs">tfl.gov.uk/contactcabs</a>, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from The Havens.&nbsp;Details can be found at <a href="http://www.thehavens.co.uk">www.thehavens.co.uk</a> </li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a> </li>
<li>TfL's 24-hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 0843 222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Cab-related sexual offences fall by 20 per cent year on yearThe Mayor of London's war against unlicensed minicabs has resulted in 1,300 arrests over the last 12 months in a crackdown on touting and other cab-related offences during 2010/11.The latest";}
        
        


 