


@{ViewBag.Title = "Set sail this spring and summer with London River Services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Set sail this spring and summer with London River Services</h1>
        <div class="content-page-press-release">
        17 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With the sun shining and the days getting longer there has never been a better time to push the boat out and make the most of London's greatest highway.
        
    </div>



 <div class="on-this-page">
<p>Whether you're looking for a new and relaxing way to commute to work or a delightful way to spend time with family, friends or loved ones, the River Thames has so much to offer this spring and summer.</p>
<p>Transport for London (TfL) has introduced a range of improvements to river service information focusing on making it easier for Londoners and visitors to make the most of the River Thames.&nbsp; </p>
<p>With real time boat information at many piers, new Tube-style river maps, improved signage to piers and services and Oyster pay as go acceptance on Thames Clipper services, it's never been easier to set sail and see London from a new perspective.</p>
<p>Giving you a helping hand along the way London River Services has published its updated River Bus and River Tours guides for spring/summer 2011.&nbsp; </p>
<p>Available <a href="http://www.tfl.gov.uk/river">online</a>, at some central London piers, at London Underground stations and TfL travel information kiosks these provide details of services and activities that stretch from Hampton Court Pier in the west to Woolwich Arsenal Pier in the east.</p>
<p>Andy Griffiths, Head of London River Services, said: 'The River Thames is fantastic throughout the year but especially beautiful in spring and summer.&nbsp; </p>
<p>'Whether you decide to enjoy the river for your daily commute this year or just make the most of your leisure time and dance the night away at a riverboat disco party, make sure you have one of our guides with you to help you along the way.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The London River Services spring/summer River Bus and River Tours guides are available at <a href="http://tfl.gov.uk/river">tfl.gov.uk/river</a></li>
<li>Last year there were more than four million journeys made on the Thames</li>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich</li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers. Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp;The relevant contact information is included in the new guide and is available&nbsp;<a href="http://www.tfl.gov.uk/river">online</a></li>
<li>A fast River Bus service operates all day every day from Embankment Pier and London Eye Pier to The O2 at North Greenwich, with some continuing to Woolwich Arsenal. The last boat back into central London from The O2 is at 22:00 daily although services run later on event nights at The O2</li>
<li>Passengers with a valid Travelcard get a third off the price of most river services.&nbsp;Passengers with Oyster pay as you go get 10 per cent off the Thames Clipper standard adult fare, with the exception of journeys on The O2 express service</li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services</li>
<li>London River Services has introduced realtime information on Thames Clipper services at piers and on the website to allow passengers to better plan their journeys</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Whether you're looking for a new and relaxing way to commute to work or a delightful way to spend time with family, friends or loved ones, the River Thames has so much to offer this spring and summer.Transport for London (TfL) has introduced a range of";}
        
        


 