


@{ViewBag.Title = "Temporary changes to bus services in the Victoria area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Temporary changes to bus services in the Victoria area</h1>
        <div class="content-page-press-release">
        03 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Tuesday 3 May the main construction works for the Victoria station upgrade will commence affecting several bus routes which serve the area.
        
    </div>



 <div class="on-this-page">
<p>The following routes will be affected during these works:</p>
<h1>Routes 38, 73, N38 and N73</h1>
<p>These routes will change stops within the bus station at Terminus Place. </p>

<p>Routes 38 and N38 will use bus stop D, with routes 73 and N73 using bus stop C.</p>
<h1>Routes 11, 211, N11 and N44</h1>
<p>Heading towards Westminster the routes will serve bus stop S in Buckingham Palace Road instead of bus stop E in Terminus Place. </p>

<p>These routes will also be diverted via Grosvenor Gardens, Lower Grosvenor Place and Bressenden Place to Victoria Street.</p>
<h1>Route 148</h1>
<p>Heading towards Camberwell this route will not serve bus stop P in Buckingham Palace Road or stop E in Terminus Place.&nbsp;</p>

<p>The nearest stop will be bus stop N in Victoria Street.</p>
<h1>Route 507</h1>
<p>Heading&nbsp; towards Waterloo this route will not serve Victoria Street.&nbsp;</p>

<p>It will be diverted via Vauxhall Bridge Road and Rochester Row joining its normal line of route on Horseferry Road.</p>
<p>The project completion date is due in 2018 with bus services and routes subject to possible further changes.</p>
<p>Details of <a href="http://www.tfl.gov.uk/vsu">diversions and stopping arrangements </a>during these works will be available at local bus stops, around the bus station and on the Transport for London website.</p>

<p>Bus station staff will also be available to help passengers with onwards connections.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The following routes will be affected during these works:Routes 38, 73, N38 and N73These routes will change stops within the bus station at Terminus Place. Routes 38 and N38 will use bus stop D, with routes 73 and N73 using bus stop C.Routes 11, 211, N11";}
        
        


 