


@{ViewBag.Title = "TfL community cycling grants to boost cycling projects across the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL community cycling grants to boost cycling projects across the Capital</h1>
        <div class="content-page-press-release">
        17 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twenty-five grants of &pound;5,000 are available for London-based cycling projects. Any community group wishing to apply for funding can do so between 20 May and midday on 3 June.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is offering 25 grants of &pound;5,000 to groups and organisations to help increase the number of cyclists in their communities.</p>
<p>The grants are part of the Community Cycling Fund for London (CCFL), a scheme funded by TfL and administered by the London Cycling Campaign (LCC) to support home-grown initiatives that enable people of all ages and backgrounds to experience the benefits of cycling.&nbsp; </p>
<p>Any community group wishing to apply for funding can do so between 20 May and 3 June. </p>
<p>Funding may be used to help to run local rides, events, bike maintenance or other small scale projects that encourage cycling and build the confidence of new and infrequent cyclists.</p>
<p>Boris Johnson, the Mayor of London, said: 'This is all about helping the smaller cycling groups within London to pass on their enthusiasm for cycling to local people. </p>
<p>'There is an army of potential cyclists within the boundaries of our great Capital and the smaller community groups this funding is meant for have the local know how that will help them encourage other Londoners to take to two wheels.'</p>
<h2>Discover the benefits</h2>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'London's cycle revolution is moving at a remarkable pace, with a huge rise in the number of journeys being made by bike and more and more people from all walks of life giving cycling a go.&nbsp; </p>
<p>'The Community Cycling Fund is a great way to create opportunities for people who may never have considered cycling to get on a bike and discover the benefits of cycling in London.'</p>
<p>Matt Mallinder, Deputy CEO of the LCC, says: 'These grants are an excellent catalyst to get more people on bikes, which in turn opens up communities and provides health benefits and employment opportunities.'</p>
<p>Last year, a broad range of groups including schools, residents' associations, mental health charities, and youth organisations received funding from the CCFL to encourage cycling in their communities.</p>
<h2>Cycling initiatives</h2>
<p>For more details on the CCFL application forms and for eligibility criteria, visit <a href="http://www.lcc.org.uk/community">www.lcc.org.uk/community</a>. </p>
<p>The CCFL is part of the huge programme to promote cycling in London. </p>
<p>The Mayor and TfL are introducing a wide range of initiatives to help increase the number of people cycling in the Capital, including:</p>
<ul>
<li>Barclays Cycle Hire - with more than four million journeys made since the scheme launched last summer</li>
<li>By spring of 2012, Barclays Cycle Hire will be extended eastwards as far as Bow while hundreds more docking points are being added in central London&nbsp;</li>
<li>Barclays Cycle Superhighways, the first two of which were introduced last summer to make it easier and safer for cyclists to commute into London on direct and continuous cycle routes. The number of cyclists using the routes has increased up to 70 per cent with increases of 100 per cent or more seen during peak hours. Work on the next two routes is underway and the remaining eight routes will be introduced by 2015</li>
<li>Free or subsidised cycle training is available in most London boroughs</li>
<li>Earlier this month, the Mayor announced London's thirteen biking boroughs who have been awarded a total of &pound;4m of funding to create cycle hubs and cycling communities in Outer London</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editor:<p>
<ul>
<li></li></ul></strong>The CCFL supports grassroots cycling projects which include elements of cycle training, bike maintenance, social rides and/or cycle awareness
<li>The scheme has supported 15,000 Londoners to get cycling since 2007</li>
<li>The fund will support new projects launching from mid-July or existing projects that can expand their activities and/or become more inclusive</li>
<li>The CCFL is a grant scheme funded by TfL and co-funded by the Big Lottery</li>
<li>A total of &pound;125,000 is available for funding in 2011</li>
<li>Successful applications will be announced by 10 June 2011</li>
<li>London's biking boroughs for 2011 are: Barking &amp; Dagenham, Bexley, Brent, Bromley, Croydon, Ealing, Haringey, Havering, Hillingdon, Hounslow, Kingston, Merton and Redbridge</li>
<li>The CCFL grants are available pan-London. The <a href="http://www.lcc.org.uk/community">2010 case studies </a>are available online</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is offering 25 grants of &pound;5,000 to groups and organisations to help increase the number of cyclists in their communities.The grants are part of the Community Cycling Fund for London (CCFL), a scheme funded by TfL and";}
        
        


 