


@{ViewBag.Title = "TfL urban realm designer scoops the Alan Cherry Award for Placemaking";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL urban realm designer scoops the Alan Cherry Award for Placemaking</h1>
        <div class="content-page-press-release">
        26 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Award recognises public sector individuals who have made significant contributions to improving public spaces.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL's) Head of Urban Realm Design, David Ubaka, has won the Alan Cherry award for Placemaking, which recognises the contribution of those in the public sector to the quality of public spaces in their communities.</p>
<p>He was recognised for excellence in his design work which has helped improve the appearance and flow of public spaces by creating better walking access, good and easy access to stations, reducing congested pavements and improving layout. </p>
<p>Some of his key projects include the new pedestrian interchange at Oxford Circus and newly refurbished London Overground stations. </p>
<p>Apart from helping to set the vision for, and overseeing the design of, the new and refurbished stations, David and his team championed the creation of these stations as an integral part of the wider urban realm. </p>
<p>Other successful projects to David and his team's credit include the creation of Windrush Square Brixton, which saw an underused public space redesigned to benefit all users in Lambeth, as well as the design of the new cable car for London.</p>
<p>Commenting on his award, David Ubaka said: 'This is a huge honour for me and my team. </p>
<p>'It is fulfilling to work on projects with the support of the local community and we hope to be able to do more in the future. </p>
<p>'I work with a very supportive and dedicated design team and feel privileged to be able to contribute to the wider TfL task of delivering a great city with vibrant and much loved spaces.'</p>
<p>Michele Dix, Managing Director of Planning at TfL, said: 'This is a fantastic achievement and a reflection of the hard work David and colleagues have made to ensure quality in the design and delivery of improved public realm spaces in London, and so supporting our vision to make London a world-class city.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The late Alan Cherry CBE DL created Countryside Properties, which specialises in the creation of sustainable homes, communities and regeneration. The Award was established to recognise those who work in the public sector and are dedicated to improving the quality of the public spaces in their local area</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL's) Head of Urban Realm Design, David Ubaka, has won the Alan Cherry award for Placemaking, which recognises the contribution of those in the public sector to the quality of public spaces in their communities.He was recognised";}
        
        


 