


@{ViewBag.Title = "Transport for London response to the Employment Tribunal decision in respect of Eamonn Lynch";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London response to the Employment Tribunal decision in respect of Eamonn Lynch</h1>
        <div class="content-page-press-release">
        06 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today responded to the findings of the Employment Tribunal in respect of Eamonn Lynch.
        
    </div>



 <div class="on-this-page">
<p>Mr Lynch was dismissed after breaching established safety rules by driving his train with a crucial safety mechanism, designed to prevent the train from passing through signals at danger, isolated. </p>
<p>London Underground Managing Director Mike Brown said: 'As we have always said, disputes involving individuals should be dealt with through the mechanisms established for that purpose.</p>
<p>'While that process takes its course, there remains no reason whatsoever for the RMT leadership to seek to disrupt Londoners by threatening strike action.&nbsp;&nbsp; </p>
<p>'The RMT leadership should immediately call off its strike threat, backed by only 29 per&nbsp;cent&nbsp;of its balloted members.</p>
<p>'We will, of course, study the Employment Tribunal judgment and carefully consider our next steps.&nbsp; </p>
<p>'Whilst the Tribunal has made a finding of unfair dismissal, it has also found that on the 9 August 2010 Mr Lynch breached an established and significant safety rule and was in part culpable or blameworthy for his actions.'</p>
<p>The RMT leadership has named two sets of strike dates notwithstanding the fact that a process already exists to deal with individual disputes.&nbsp; </p>
<p>The action is designed to affect a full week's Tube service - with the first starting on 16 May and the second starting on 13 June. </p>
<p>This is despite only 29 per cent of the 1,300 drivers balloted voting for this strike. </p>
<p>Arwyn Thomas, the other driver named by the RMT in their strike threat, was dismissed for unacceptable and abusive behaviour towards colleagues. </p>
<p>A full investigation was carried out as part of the disciplinary process, and union membership had absolutely no bearing whatsoever on the decision to dismiss him.&nbsp; </p>
<p>TfL will simply not tolerate aggressive or bullying behaviour towards it's passengers or staff. </p>
<p>In both cases, the tribunal processes are still ongoing, with Mr Thomas' tribunal yet to be heard.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr Lynch was dismissed after breaching established safety rules by driving his train with a crucial safety mechanism, designed to prevent the train from passing through signals at danger, isolated. London Underground Managing Director Mike Brown said: 'As";}
        
        


 