


@{ViewBag.Title = "Transport for London responds to 7/7 Inquest findings";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London responds to 7/7 Inquest findings</h1>
        <div class="content-page-press-release">
        06 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Transport Commissioner, Peter Hendy, today responded to the findings of the 7/7 Inquest.
        
    </div>



 <div class="on-this-page">
<p>He said: 'We will never forget the events of 7 July 2005 and our first thoughts are with the victims of the attacks, those injured and their families once again at this time.</p>
<p>'I want to pay tribute to the TfL [Transport for London] staff who were on duty that terrible day, as well to the staff of the emergency services and other transport operators. </p>
<p>'Their actions were often nothing short of heroic - going above and beyond the call of duty to help and comfort those affected.</p>
<p>'TfL staff also responded in the best possible way, by getting our transport networks up and running as soon as possible, to demonstrate that Londoners will never be cowed by such attacks, and that the freedoms and tolerance that are such important features of this great city are preserved.</p>
<p>'The bus network was up and running through central London and across the city later that same day and 85 per cent&nbsp;of the Tube network - with the exception of the bombed sections - the next morning.&nbsp; </p>
<p>'The whole Tube network was restored four weeks later.&nbsp; </p>
<p>'Such a response required great fortitude and bravery on behalf of our staff, and I thank them once again for that.</p>
<p>'A great deal has already been done since 7 July&nbsp;to improve our equipment, capabilities and preparedness for such major incidents.&nbsp;&nbsp; </p>
<p>'This includes the installation of a multi-million pound new communications system which enables Police and emergency services' radios to work underground, closer working with other agencies, enhanced staff training and improvements to the provision of medical supplies at stations.</p>
<p>'However, we recognise that everything should be done to ensure that, should similar events ever happen again, we and all our partner agencies are in a position to respond in the most effective way possible.</p>
<p>'We therefore welcome the recommendations of the Coroner, and agree wholeheartedly that the issues raised warrant further scrutiny.</p>
<p>'This will contribute further to the great deal of work already done, and we will now be studying the recommendations in detail. </p>
<p>'We will publish our full response to the recommendations in due course.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "He said: 'We will never forget the events of 7 July 2005 and our first thoughts are with the victims of the attacks, those injured and their families once again at this time.'I want to pay tribute to the TfL [Transport for London] staff who were on duty";}
        
        


 