


@{ViewBag.Title = "Walk with a 'Spring into Summer' in 2011 by taking part in free guided walks around London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walk with a 'Spring into Summer' in 2011 by taking part in free guided walks around London</h1>
        <div class="content-page-press-release">
        23 May 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Spring into Summer guided walks are back for the fourth year running, giving Londoners a chance to enjoy some of London's best attractions, parks, rivers, canals and open spaces.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Around a quarter of all trips in the Capital are now made by foot and we are making extensive improvements to the walking environment."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Better Routes and Places at Transport for London.</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Around a quarter of all trips in the Capital are now made by foot and we are making extensive improvements to the walking environment.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London and Transport for London (TfL) are encouraging everyone to come out in numbers on the&nbsp; weekend of Saturday 28 and Sunday 29 May and enjoy one of 58 free walks led by expert guides. </p>
<p>These walks explore London's Strategic Walk Network, which is a series of seven leisure walks in and around London.&nbsp; </p>
<p>There is a walk for everyone regardless of their age or ability. </p>
<p>The walks range from 1.5 to 11 miles. </p>
<p>They range from hidden gems in the City to walks totally off the beaten track along lovely leafy lanes. </p>
<p>All walks start and finish either at or within easy reach of public transport. </p>
<p>To find out more about the walks and to register interest, people can visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a> or email <a href="mailto:info&#64;walklondon.org.uk">info&#64;walklondon.org.uk</a>.</p>
<p>The weekend follows Walk to School week which schools across London have been taking part in and is part of a wider programme of walking activities and initiatives TfL are supporting this year to encourage Londoners to explore the city by foot.</p>
<p>TfL is investing over &pound;250,000 this year to support walking in schools, including the promotion of Walk once a Week, the Big Walk, School Travel Plans, and the recruitment of pupils as Junior Road Safety Officers to promote road safety.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'Walking is a fantastic way to enjoy and discover all the lovely places and hidden historical gems London has to offer.</p>
<p>'You will be in the hands of experienced guides on these walks who will take you through spectacular sights and sounds as well as the changing landscape of our great city.'</p>
<p>A huge amount is happening to make London a more walkable city with improvements to London's streets through the Great Outdoors Programme - creating more shared public spaces and improving signposting to make London an easier place to explore. </p>
<p>This weekend's walks are one of three annual guided-walking weekends organised by Walk London and supported by TfL.</p>
<p>The 58 guided walks cover seven different routes across London, connecting some of the Capital's best attractions, parks, rivers, canals and open spaces. </p>
<p>The walks will cover sections of the seven Strategic Walk Network routes:</p>
<ul>
<li>Capital Ring Walk - threading together parks and open spaces with pleasant residential roads. Fifteen easily walked sections divide this 78 mile of open spaces - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier </li>
<li>Green Chain Walk - 50 miles of parks and open spaces that include the Severndroog Castle, Crystal Palace Park and Oxleas Woods </li>
<li>Jubilee Walkway - designed to connect London's key attractions and connects all the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral </li>
<li>Lea Valley Walk - 18 miles of the London section, taking in Canary Wharf, Tottenham Marshes, Enfield Lock and Waltham Abbey </li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome </li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace, through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens </li>
<li>The Jubilee Greenway Walk- This walk marks the Queen's Diamond Jubilee. Thirty-five miles will take you past the 02 Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park, among many other spectacular places. </li></ul>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'London is full of exciting places to see and what better way to discover the city than on foot.</p>
<p>'Spring into Summer weekend gives people the chance to unearth gems in the Capital.</p>
<p>'Around a quarter of all trips in the Capital are now made by foot and we are making extensive improvements to the walking environment.'</p>
<p>Jim Walker, Walk England CEO, said: 'Nearly 10,000 people enjoyed these free walks last year. </p>
<p>'It seems the secret is out - London is a great city to get around on foot. </p>
<p>'Join us on the free walks this May and get an introduction to what everyone else is already walking about!'</p>
<p>
<hr>
<strong>Notes to editor</strong>
<p>1.&nbsp;Spring into Summer walks are held on the last weekend in May of each year, and forms one of three annual guided walking weekends managed by Walk London. The other two guided walking events are Autumn Ambles (September) and Winter Wanders (January).<br>2.&nbsp;Nearly 10,000 people took part in the TfL supported Walk London's walking weekends last year.<br>3.&nbsp;London's Strategic Walk Network is made up of seven long distance routes laid out in easily manageable sections: Loop Walk (24 sections in total 152 miles); Capital Ring Walk (15 sections in total 78 miles); Lea Valley Walk (6 sections in total 18 miles); Thames Path Walk (4 sections in total 40 miles); Green Chain Walk (11 sections in total 50 miles); Jubilee Walkway (5 sections in total 15 miles); Jubilee Greenway Walk (10 sections in total 37 miles).<br>4.&nbsp;The Great Outdoors Programme will see &pound;220 million invested in more than 50 of the Capital's public spaces that will ensure London's streets, squares, parks and water spaces are for a world class city.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London and Transport for London (TfL) are encouraging everyone to come out in numbers on the&nbsp; weekend of Saturday 28 and Sunday 29 May and enjoy one of 58 free walks led by expert guides. These walks explore London's Strategic Walk";}
        
        


 