


@{ViewBag.Title = "4G mobile coverage on Tube on track to begin from 2019";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">4G mobile coverage on Tube on track to begin from 2019</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>4G mobile coverage on Tube on track to begin from 2019</h1>
        <div class="content-page-press-release">
        25 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trial of 4G mobile technology in Tube tunnels on Waterloo & City line during summer shows potential to remove one of the UK's most high profile 'not-spots'
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is great news for our customers and will also help us generate vital commercial income to reinvest in modernising and improving transport in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL to begin tendering for service provider in New Year to deliver 4G mobile coverage on the Tube from 2019</li>
</ul>
<p>Significant progress has been made on delivering a 4G mobile network on the Tube following a successful technology trial on the Waterloo &amp; City Line, Transport for London (TfL) confirmed today.</p>
<p>The trial, which took place during the summer, saw 4G cellular technology tested in tunnels and stations on the Waterloo &amp; City line.  Once live, the increased connectivity will, for the first time, allow customers to check their emails, read the latest news and social media updates as well as check for live travel information while underground on the Tube.</p>
<p>All four major mobile network operators (Vodafone, O2, Three and EE) participated in the design of the trial, with Vodafone and O2 carrying out testing within the tunnels, which took place outside customer hours.</p>
<p>As well as providing valuable insight into how this technology could be introduced more widely onto the Tube, the trial also tested making data calls from one station to another without dropping mobile reception. The trial also allowed TfL to practice laying new fibre cables within stations and tunnels, which will be crucial for other elements of TfL's wider digital connectivity strategy. Following the trial, all active test equipment was removed from the stations and tunnels.</p>
<p>London's Chief Digital Officer, Theo Blackwell, said: </p>
<p>'This is a brilliant initiative and part of our work to improve connectivity at home, in our high streets, public spaces and across the transport network. TfL's innovation shows we can make a real difference and benefit Londoners through using city-wide public assets in a smarter way, starting with the Tube.'</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
<p>'The success of this trial shows that we are on track to unlock one of the UK's most high profile not-spots and deliver 4G mobile coverage throughout our tunnels and Tube stations. This is great news for our customers and will also help us generate vital commercial income to reinvest in modernising and improving transport in London.'</p>
<p>Derek McManus, Chief Operating Officer of O2 said </p>
<p>'The demand for ubiquitous, fast mobile connectivity is unquestionable. People expect to have connectivity wherever and whenever they are and, by increasing connectivity on the Tube, people will be able to get more out of their journey time. Trials such as these are vital in laying the foundations for customers, especially commuters, to have seamless connectivity on the go.'</p>
<p>Ker Anderson, Vodafone UK's Head of the London mobile network, said: </p>
<p>'We are delighted to have worked with Transport for London on this trial. Delivering 4G on the Tube will keep our customers connected while they are on the move. We have seen usage of mobile data traffic increase by around 300 per cent in London alone over two years. As a consequence, we continue to invest heavily in our network to offer Londoners, commuters and visitors with the strongest signal possible across the Capital, whether it's on the Waterloo &amp; City line, the top of the Shard, Wembley Stadium, Trafalgar Square or Clapham Junction.'</p>
<p>To better understand how a 4G mobile network could be introduced on the Tube, TfL began early market engagement with suitable service providers in September this year.</p>
<p>TfL received 22 responses as part of the engagement, which is now being used to develop the business case for TfL's telecoms commercialisation strategy. A Standard Selection Questionnaire will be issued early next year, allowing for a service partner to be brought on-board by summer 2018 and the first stations to be connected from 2019.</p>
<p>For more information on TfL's plans for mobile connectivity, please visit <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-media">https://tfl.gov.uk/info-for/business-and-commercial/commercial-media</a></p>
<p>Ends</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>A paper will be presented to TfL's Finance Committee on 5 December to update them about the plans for Commercialising Telecommunications and will be available to view here &#45; <a href="https://tfl.gov.uk/corporate/publications-and-reports/finance-committee">https://tfl.gov.uk/corporate/publications-and-reports/finance-committee</a></li>
    <li>The Early Market Engagement with suppliers also looked at how TfL could look to potentially provide further opportunities to improve digital connectivity across London. These included access for new fibre cables to be laid within Tube, rail and road tunnels and cable ducts across London, as well as using TfL-owned street furniture to boost mobile phone reception across London and eliminate further not-spots.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-4G mobile coverage on Tube on track to begin from 2019 -->

 
 
        
        
            @{ViewBag.Description = "4G mobile coverage on Tube on track to begin from 2019, following successful trial on Waterloo & City line";}
        
        


 