


@{ViewBag.Title = "Breakthrough for Northern Line Extension tunnelling machines ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Breakthrough for Northern Line Extension tunnelling machines </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Breakthrough for Northern Line Extension tunnelling machines </h1>
        <div class="content-page-press-release">
        08 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tunnelling work completed as boring machines break through at Kennington
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This achievement brings us a significant step closer to the delivery of the first major Tube extension in nearly two decades"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Two 3.2km tunnels have been created from Battersea to Kennington, via Nine Elms</li>
    <li>Northern Line Extension will support around 25,000 new jobs and more than 20,000 new homes</li>
    <li>Images of the breakthrough are available on <a href="https://www.flickr.com/photos/tflpress/albums/72157687121514422">Flickr</a></li>
</ul>
<p>The Northern Line Extension reached a major milestone today with the completion of tunnelling work.</p>
<p>Huge tunnel boring machine, Amy, broke through at Kennington, which means that the two 3.2km tunnels from Battersea Power Station, via Nine Elms, have now been built.</p>
<p>Since their launch in the spring, Helen and sister tunnelling machine Amy have been working around the clock to create the north and southbound tunnels that will extend the Charing Cross branch of the Northern line.</p>
<p>The extension, targeted for completion in 2020, is the first major extension to a Tube line since the Jubilee line in the late 1990s.</p>
<p>It will add vital new capacity to the Capital's transport network, bringing Battersea and surrounding areas to within 15 minutes of the City and the West End. It will also enable the regeneration of the Vauxhall, Nine Elms and Battersea areas, spurring economic growth by supporting around 25,000 new jobs and more than 20,000 new homes. In addition, the construction of the extension is boosting the UK economy and supporting around 1,000 jobs, including around 50 apprenticeships.</p>
<p>The Mayor of London, Sadiq Khan, said: &quot;Today's breakthrough is a momentous moment for a project that is going to bring huge benefits to south London. The Northern Line Extension is not only going to make travelling to Battersea and Nine Elms easier, it's also going to bring tens of thousands of new jobs and homes to the area. It's another great example of why new infrastructure is so vital to London's success and the wider economy.&quot;</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: &quot;I'm delighted to welcome the two tunnelling machines to Kennington after their epic journey.  Both machines have had to navigate a challenging, congested path under south London which included sewers, power cables, a Victorian-era well, and existing Victoria and Northern line tunnels. This achievement brings us a significant step closer to the delivery of the first major Tube extension in nearly two decades.&quot;</p>
<p>The Chief Secretary to the Treasury, Liz Truss said: &quot;It's very exciting to see this new phase of the Northern Line delivered.  Great infrastructure, including the Tube, is vital to a thriving London. That is why we backed this important project which is supporting thousands of jobs and new homes in our capital.‎   And that is why we are backing projects across the country that will help drive enterprise and growth.&quot;</p>
<p>Rob Tincknell, Chief Executive Officer at Battersea Power Station said: &quot;This is a really significant milestone in the regeneration of both Battersea Power Station and Nine Elms and reconfirms certainty about the two new stations.  That such a vast extension to the London Underground network is being funded through the regeneration taking place throughout Nine Elms is a credit to all those involved in nurturing this project throughout the years and a powerful example of how new transport infrastructure can be delivered by the public and private sector working successfully together.&quot;</p>
<p>The leader of Wandsworth Council, Ravi Govindia, said: &quot;Today's event is a real milestone in London's first new Tube line extension for almost 20 years. This is an extremely important project, not just for the borough but the whole Capital, and Wandsworth has put in a lot of time and effort to shape the unique funding package that has taken us to where we are today.</p>
<p>&quot;Working with the private sector we are now seeing our hard work come to fruition and the tunnelling machine breaking ground is a tangible reminder that the Tube extension will soon be a reality, transforming the fortunes of north Battersea and making the Nine Elms regeneration programme one of the greatest sources of new jobs and homes in the country.&quot;</p>
<p>A conveyor system was used to take more than 300,000 tonnes of excavated earth to barges on the River Thames where it was transported to Goshems Farm in East Tilbury, Essex, saving thousands of lorry journeys from the Capital's roads. The earth has been used to create arable farmland.</p>
<p>The cutter head of both machines will now be lifted by crane out of the shafts at Kennington while the rest of the machines will travel back to Battersea and be lifted, in parts, out of the ground there.</p>
<p>Work on the new stations at Battersea and Nine Elms is progressing well and services on the Northern line have continued uninterrupted while the work has taken place.</p>
<p ><br />
</p>
<hr />
<p> </p>
<p><strong>Notes to Editors</strong>:</p>
<ul>
    <li>The two tunnel boring machines were built by NFM Technologies in Le Creusot in central France.They were shipped to London earlier this year and reassembled in Battersea.</li>
    <li>According to tunnelling tradition, tunnel boring machines cannot start work until given a name. Following a vote by local school children, the machines were named in honour of the first British astronaut, Helen Sharman, and British aviation pioneer, Amy Johnson, who was the first female pilot to fly solo from Britain to Australia.</li>
    <li>Helen began her tunnelling journey in April 2017 and Amy followed in May. The machines undertook tunnel drives at depths of up to 26 metres to construct the 5.2 metre diameter tunnels. Each machine was capable of tunnelling up to 30 metres a day with teams of around 50 people operating them. Helen broke through into a shaft at Kennington Park at the end of last month.</li>
    <li>As part of the tunnelling drive, nearly 20,000 precast concrete segments were put in place to form rings to line the tunnels. Two junctions lined with iron rings will link the extension to the existing Northern line.</li>
    <li>The Northern Line Extension will excavate around 680,000 tonnes of material in total over the lifetime of the project during the construction of stations and the 6.4kms of new tunnels. Ninety two per cent of the excavated material will be carried by river and is expected to be clean, uncontaminated and reusable elsewhere.</li>
    <li>In 2014 TfL awarded the contract to design and build the Northern Line Extension to Ferrovial Agroman Laing O'Rourke.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Breakthrough for Northern Line Extension tunnelling machines  -->

 
 
        
        
            @{ViewBag.Description = "Breakthrough for Northern Line Extension tunnelling machines";}
        
        


 