


@{ViewBag.Title = "GLA - Next Generation of Santander Cycles roll into London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Next Generation of Santander Cycles roll into London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Next Generation of Santander Cycles roll into London </h1>
        <div class="content-page-press-release">
        30 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, has announced that the next generation of Santander Cycles have today arrived in London.</p>
<p>The first of the new bikes have rolled onto the capital's streets, with thousands set to join TfL's flagship cycle hire scheme over the next few years.</p>
<p>The new cycles will offer riders improved handling, safety and comfort, with a new gel saddle, lower frame, tyres with puncture prevention, new gear hub, improved front and rear Blaze lighting, and bluetooth.</p>
<p>The bikes have been built by England's longest established cycle manufacturer, Pashley Cycles in Stratford-upon-Avon, as part of an industrial team assembled by scheme operators Serco. They have been designed to be easier to ride and maintain, meaning more cycles will be available to hire more often and reduce maintenance costs.</p>
<p>Last year was a record-breaking year for Santander Cycles with an unprecedented 10.3m hires - 4.4 per cent up on 2015. This year there have been more than 8.7m hires, with five of the nine months beating year-on-year records for the number of journeys being made.</p>
<p>The Mayor of London, Sadiq Khan, said: 'It's great news that the first of our brand-new cycle hire bikes have arrived on London's streets. Tens of thousands of Londoners and tourists enjoy using the bikes to get around our city every single day, so by making them more comfortable and manoeuvrable we're hoping they'll be even more popular. That's good for our health, our air quality and for tackling congestion.'</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: `Santander Cycles are a brilliant way for all abilities to experience cycling around London. They've become a real icon of the capital's streets, appealing to commuters and visitors, so I'm really pleased that we can make them even easier to use. I've no doubt that these upgraded bikes are going to help us break more records and encourage even more people to take to two wheels.'</p>
<p>Serco will continue to maintain the cycles, as well as distribute them around London ensuring that docking stations are full. The new cycles have inbuilt bluetooth and the capacity for GPS technology, which will allow Serco to record the performance of the bikes. Ahead of joining London's streets, the upgraded bikes have undergone robust tests, including mountain bike testing.</p>
<p>British start-up company, Blaze, has helped transform the lights on the new Santander Cycles, which include a new brighter brake light and greatly enhanced Blaze Laserlight at the front with 180&deg; visibility. The Blaze Laserlight is now fitted to all 12,000 Santander Cycles to make riders more visible and increase their confidence on the roads.</p>
<p>Lucy Cooper, Partnerships Manager at London Cycling Campaign, said: `The Santander Cycle Hire scheme has been a huge success. Cycling is an efficient and healthy way to move around London, especially on the new cycle highways, and Santander Cycles enable many more Londoners to enjoy the benefits. The new, more versatile, cycle design from Britain's Pashley will be easier to use for both short and tall riders.'</p>
<p>Adrian Williams, Pashley Cycles CEO, said: `I am immensely proud of our team's achievement in successfully developing a completely new bicycle for London.  It is a bicycle of exceptional quality, designed with the rider's safety and enjoyment in mind, whilst ensuring that maintenance and operating costs are kept to a minimum. Our team have worked in close partnership with Serco throughout the project to ensure that we deliver the world class public hire bike London deserves.'</p>
<p>Emily Brooke, Blaze Founder and CEO, said: `This is a hero product for Blaze, and something we have been working on for many months. It is so exciting to now see it roll out on London streets, keeping riders safer, more visible and with technology onboard keeping the London Santander Cycle scheme positioned as the best bike share scheme in the world.'</p>
<p>Keith Moor, Chief Marketing Officer at Santander, said: `The new cycles have been designed to meet the evolving needs of London as an always on, connected smart city. We're really excited about the new tech on the cycle, it's been built in a modular way so we can easily add and update it. We're calling this new technology platform CyTek and have developed it to help ensure we're always one step ahead, continuing in our mission to help people and communities prosper.'</p>
<p>Lilli Matson, TfL's Director of Transport Strategy, said: `We're proud to operate an established record breaking cycle hire scheme and to have designed a new bike that will last for years to come. We're confident that people will find these bikes easier to ride and that they will encourage even more to try the scheme.'</p>
<p>Encouraging people to cycle is one of the key components of the Mayor's Transport Strategy. The strategy aims to increase the proportion of people using active and sustainable travel options, and to create streets less dominated by motorised traffic. This includes providing a world-class cycle hire scheme, which will help Londoners get about quickly without having to use a car - benefiting their health and improving air quality.</p>
<p>As well as the new design, 2017 will see Santander Cycles extend into Brixton with seven new docking stations, providing space for up to 200 bikes, installed across the borough this winter.</p>
<p>To view the new Santander Cycles video with Jenson Button, visit https://youtu.be/esunuqqXxRA</p>
<p>To find your nearest Santander Cycles docking station, visit www.tfl.gov.uk/santandercycles</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<p>Images available from <a href="https://www.flickr.com/photos/tflpress">https://www.flickr.com/photos/tflpress</a>/</p>
<p >Features of the new Santander Cycles</p>
<ol>
    <li>Lighting system is better positioned, brighter and more effective so that the cycles are much more visible to other road users</li>
    <li>New frame and fork geometry combines to provide better ride quality and improved manoeuvrability</li>
    <li>Smaller wheels provide faster acceleration from standing start, especially important in urban traffic</li>
    <li>The new design provides increased comfort and safety for smaller riders, with a lower bottom bracket and frame step through height</li>
    <li>Mudguards have lower 'tails' and more of the rear wheel is covered, providing better protection for the rider in the wet</li>
    <li>Saddle includes new gel pads for improved rider comfort</li>
    <li>Saddle adjustment is much simpler with a new 'one handed' seat clamp</li>
    <li>Puncture prevention is significantly improved with the inclusion of an Aramid belt and 4mm internal puncture protection layer</li>
    <li>New tougher mudguards</li>
    <li>Upgraded Shimano brakes providing better stopping performance</li>
</ol>
<p>About Santander Cycles</p>
<ul>
    <li>Santander Cycles now covers 100 square kilometres of London, making it the second largest cycle hire scheme in Europe.</li>
    <li>Since launching in July 2010, more than 60 million journeys have been made.</li>
    <li>The scheme goes from Hammersmith in the west to Queen Elizabeth Olympic Park in the east, and Camden in the north and Brixton in the south.</li>
    <li>More than 2m hires have now been made using the Santander Cycles app, which was launched in May 2015 to make it easier to find and hire bicycles.</li>
    <li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles</li>
    <li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys.</li>
    <li>The new cycles can expect to travel around 17,000 miles. That's over 20 trips from Land's End to John o' Groats or around Hyde Park around 4,000 times</li>
</ul>
<p>About Pashley (www.pashley.co.uk)</p>
<ul>
    <li>Founded in 1926 by William 'Rath' Pashley (1895 &#45; 1965), Pashley is England's longest established manufacturer of bicycles and one of only three remaining in the UK.</li>
    <li>The Pashley factory is based in Stratford-Upon-Avon, Warwickshire and employs 53 people. It has the support of over 95 UK-based suppliers and sub-contractors.</li>
    <li>Pashley hand-builds a unique range of cycles across two core product groups:<br />
    - A range of traditionally hand-built bicycles and tricycles for the consumer market<br />
    - A variety of work cycles for business customers (including mail delivery companies and food &amp; drink vendors)</li>
    <li>Pashley has over 100 authorised dealers around the country &#45; including its own shop in Stratford Upon Avon &#45; and exports over 35% of its production to around 50 countries around the world.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-GLA - Next Generation of Santander Cycles roll into London  -->

 
 
        
        
            @{ViewBag.Description = "GLA - Next Generation of Santander Cycles roll into London ";}
        
        


 