


@{ViewBag.Title = "Hello London switches on new digital media channel across the LU network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Hello London switches on new digital media channel across the LU network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Hello London switches on new digital media channel across the LU network</h1>
        <div class="content-page-press-release">
        20 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Hello London, the media partnership between Transport for London (TfL) and Exterion Media, has today launched DX3, London's newest digital advertising channel. From the beginning of February next year, there will be 60 new digital displays across the London Underground network, hosting dynamic, full-motion content, which customers will be able to watch when standing on station platforms. Jaguar, LG, Gillette, Tesco and EOS are the first brands to display content across the digital network.</p>
<p>These digital platform displays are a significant investment in TfL's advertising estate, and part of Hello London's wider strategy, which looks at creative new ways to increase revenue and enhance advertising. TfL has seen an increase in its advertising revenue with more than &pound;140m generated in the last year to be invested back in the transport network.</p>
<p>The displays, which are 4.5m x 2.4m in size, will be located at 15 different Tube stations within Zone 1 and Zone 2, starting at five of the Tube's most popular stations, including Liverpool Street and Oxford Circus. DX3 enables advertisers to reach one of the world's most diverse and engaged audiences with millions of people using the London Underground every day.</p>
<p>Chris Reader, Head of Commercial Media at TfL, said: 'Our new Hello London DX3 network is an exciting addition to the Tube, making it more attractive to brands by allowing them to engage with the London audience and create more memorable moments for our customers. We are investing &pound;80m as part of Hello London to raise further revenues to reinvest in our transport network from our advertising estate, which is already the most valuable in the world.'</p>
<p>Dave King, Managing Director at Exterion Media UK, said: 'With Londoners spending more time out of their homes than the rest of the UK, DX3 is a fantastic channel to connect with this hard-to-reach, light TV-viewing audience &#45; complementing video on demand and TV. The high-definition displays will provide advertisers scale, reach, flexibility and immediacy like no other channel in London.'</p>
<p>NEC UK produced the projector technical design and telent provided the technical services for installation.</p>
<p>Additional Information</p>
<ul>
    <li>Images are available on request from the TfL Press Office.</li>
</ul>
<p>About DX3</p>
<p>The launch stations for the week commencing 20th November are below:</p>
<ul>
    <li>Camden Town</li>
    <li>Piccadilly Circus</li>
    <li>Holborn</li>
    <li>Oxford Circus</li>
    <li>Liverpool Street</li>
</ul>
<p>From the beginning of February, the displays will be in place across multiple Zone 1 and 2 stations will be complete.</p>
<ul>
    <li>To find out more about advertising on DX3, visit: <a href="https://www.exterionmedia.com/uk/our-products/digital-out-of-home-advertising/dx3-advertising">https://www.exterionmedia.com/uk/our-products/digital-out-of-home-advertising/dx3-advertising</a></li>
</ul>
<p>About Hello London</p>
<ul>
    <li>Transport for London (TfL) and Exterion Media created Hello London in October 2016, a commercial media partnership to excite and engage the growing London audience in innovative ways to meet the demands of an ever-changing media landscape and generate essential revenue for London's transport network.</li>
    <li>This is the first time that TfL is providing the opportunity to advertise to one London audience across the TfL rail estate. This includes all of London Underground, London Overground, Tramlink, Docklands Light Railway, Victoria Coach Station and once it's operational, the Elizabeth line &#45; giving advertisers an opportunity to communicate with an audience of over 1.5 billion each year and generating &pound;1.1bn for TfL over the next ten years.</li>
    <li>Hello London aims to change the entire industry, utilising data and technology to make a customer's experience more tailored, relevant and contextual and an advertiser's campaign more effective and lucrative.</li>
    <li>For more information, please visit <a href="http://www.exterionmedia.com/uk/who-we-are/hello-london/">http://www.exterionmedia.com/uk/who-we-are/hello-london/</a></li>
</ul>
<p>About Transport for London</p>
<ul>
    <li>Forty per cent of London's outdoor advertising space, and 20 per cent of the UK's outdoor space, is owned by TfL.</li>
    <li>TfL has redundant cross track projection screens at some of its stations, which will now be replaced when applicable by the new digital screens.</li>
</ul>
<p>About Exterion Media</p>
<ul>
    <li>Exterion Media is Europe's largest privately held Out-of-Home advertising business. With operations in the United Kingdom, Ireland, France, The Netherlands and Spain, Exterion Media works with a global portfolio of partners to engage and deliver audiences on a local and multi-country scale.</li>
    <li>Exterion Media is on a journey to becoming a Digital Media Company, powered by data. Engaging consumers on the move and using wide-ranging insight tools, it delivers valuable, relevant audiences to advertisers. Its diverse inventory formats and environments, both classic and digital, include transport (TfL estate, bus and rail), billboards, street furniture and retail.</li>
    <li>For more information, please visit <a href="http://www.exterionmedia.com/uk">www.exterionmedia.com/uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Hello London switches on new digital media channel across the LU network -->

 
 
        
        
            @{ViewBag.Description = "Hello London switches on new digital media channel across the LU network";}
        
        


 