


@{ViewBag.Title = "Knightsbridge Tube station to become step-free in 2020";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Knightsbridge Tube station to become step-free in 2020</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Knightsbridge Tube station to become step-free in 2020</h1>
        <div class="content-page-press-release">
        29 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers to benefit from two new station entrances
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My commitment to making London's transport network one of the very best in the world means it must be accessible for all Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Areas of the station closed since the 1930s will re-open to the public</li>
    <li>Customer impact expected to be minimal as two of the three existing station entrances will remain open while work is carried out</li>
    <li>Images of the new-look station entrance are available on Flickr here: <a href="https://www.flickr.com/photos/tflpress/albums/72157687858386792">https://www.flickr.com/photos/tflpress/albums/72157687858386792</a></li>
</ul>
<p>Transport for London (TfL) today announced that Knightsbridge Tube station will become step-free in 2020, making travel in central London easier for older and disabled people and other customers who find it difficult to use stairs or escalators. It will also directly benefit those travelling through the station with heavy luggage, and parents and carers with buggies.</p>
<p>It follows on from the recent completion of the major upgrade of Bond Street Tube station which introduced step-free access for the first time, making it the 72nd Tube station to become step-free and moving the Underground closer to the Mayor's target for 40 per cent of the network to be step-free by 2022.  Making public transport more accessible will also help meet the wider aims of the draft Mayor's Transport Strategy, which seeks to reduce reliance on the car, tackle air pollution and change the face of travel in London so that 80 per cent of journeys are made by public transport, cycling or walking by 2041.</p>
<p>Knightsbridge Tube station is owned by TfL, while the property above the station is owned by the Knightsbridge Estate. The Estate got the green light in 2016 to redevelop it, restoring the original architectural features of the building's fa&ccedil;ade while modernising the office, retail and residential space inside.</p>
<p>To enable the redevelopment work, the station entrance on the corner of Sloane Street and Brompton Road (exits 3 and 4) has closed. Once the works are complete, the former entrance space will become a retail unit owned by the Estate.</p>
<p>Because Knightsbridge station has two alternative entrances on Knightsbridge Road, the impact on customers while this third entrance is replaced is expected to be minimal.</p>
<p>A new modern entrance will be built at 15 Brompton Road, and the pavement on Brompton Road and Sloane Street will be widened, making more space for pedestrians. The new station entrance will open to customers in 2019.</p>
<p>Another new entrance will open in 2020 at Hooper's Court, providing two 17-person lifts, making the station step-free from street to train. The new Hooper's Court entrance will be located just beyond the original 1906 station entrance which still retains the Ox Blood Fa&ccedil;ade. This step-free route will re-open some areas of the station that were closed in the early 1930s when escalators were installed.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'My commitment to making London's transport network one of the very best in the world means it must be accessible for all Londoners. I'm investing record amounts in making London's stations step-free, and the redevelopment of the famous Knightsbridge Tube station will benefit millions of people every year. Whether you're an older person, have a disability, or use a buggy, our investment will make travelling around much easier and more convenient in this busy part of central London.'</p>
<p>Mark Wild, London Underground's Managing Director, said: </p>
<p>'Improving accessibility across London's transport network is one of our top priorities so I'm delighted that another of our Zone 1 stations will become step-free. The work is part of our continued modernisation of London Underground to provide increased capacity and make journeys better for our customers. A fully accessible Knightsbridge station will give a greater choice of travel options for everyone.'</p>
<p>Gordon Deuchars, Policy and Campaigns Manager, Age UK London said: </p>
<p>'We are pleased to hear that Knightsbridge Tube station will become step-free in 2020, allowing older and disabled passengers to more easily access central London and Hyde Park in particular. We want London to be as accessible as possible so that everyone can enjoy all that the city has to offer. It is therefore encouraging to see the Mayor moving closer to the target of making 40 per cent of the Tube network step-free by 2022 and we look forward to welcoming further progress over the coming years.'</p>
<p>Served by the Piccadilly line, Knightsbridge Tube station is located in the Royal Borough of Kensington and Chelsea in Zone 1 and sees over 19 million customer journeys each year. The original station, designed by Leslie Green and opened in 1906, is known for its proximity to tourist destinations such as Hyde Park and Harrods.</p>
<p>Cooling and draught improvements will also be made, which will provide immediate benefits to the station environment and reduce the amount of closures required when the Piccadilly line upgrade is delivered.</p>
<p>Ends</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL is investing in the biggest boost to step-free access on the London Underground in the network's 153 year history by investing an additional &pound;200m to bring the total number of stations with step-free access to all platforms to more than 100. This means that more than 40 per cent of the Tube network will become step free, making life easier for older and disabled people and giving a greater choice of travel options for everyone.</li>
    <li>To maximise the benefits of the building's redevelopment, TfL secured a commercial deal with the Estate's development manager Chelsfield so that a number of improvements to the Tube station, including station step-free access, will be delivered at a fraction of the cost to the fare payer.</li>
    <li>As part of the Piccadilly line upgrade, new trains and platform enhancements will make access at this station step-free from street to train.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Knightsbridge Tube station to become step-free in 2020 -->

 
 
        
        
            @{ViewBag.Description = "Knightsbridge Tube station to become step-free in 2020";}
        
        


 