


@{ViewBag.Title = "Londoners' views sought on a new Safety Permit Scheme for HGVs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners’ views sought on a new Safety Permit Scheme for HGVs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners’ views sought on a new Safety Permit Scheme for HGVs</h1>
        <div class="content-page-press-release">
        16 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation opens today on a new HGV Safety Permit as part of the Mayor's Direct Vision Standard
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The number of deaths each year involving HGVs is a tragedy and we are committed to changing this. We welcome feedback from the industry and all other road users on our latest proposals for the HGV Safety Permit Scheme, as we work together to improve vehicle safety"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alex Williams</div>
            <div class="quotee-job-title">TfL's Director of City Planning</div>
        </div>
</div>

 <div class="on-this-page">
<p>Londoners and stakeholders have been invited to give their feedback on a proposed safety standard permit scheme for Heavy Goods Vehicles (HGVs), as part of the Mayor and TfL's work to reduce danger on the capital's roads.</p>
<p>The proposed HGV Safety Permit Scheme would require all HGVs over 12 tonnes to hold a safety permit to operate in London from 2020.</p>
<p>The specifics of the permit will be developed next year, following this consultation, but could include specific safety systems such as sensors, visual warnings and comprehensive driver training.</p>
<h2>Ambitious requirements</h2>
<p>The permit would evolve over time to set increasingly ambitious requirements as technology advances.</p>
<p>The development of the proposed permit scheme forms part of the Mayor and TfL's Vision Zero approach to eliminating all deaths and serious injuries from London's roads by 2041.</p>
<p>Research by TfL shows that in 2015, HGVs were involved in disproportionately high numbers of fatal collisions with cyclists (78%) and pedestrians (20%) on London's streets, despite only making up 4% of the overall miles driven in the capital.</p>
<p>Alex Williams, TfL's Director of City Planning, said: 'The number of deaths each year involving HGVs is a tragedy and we are committed to changing this.</p>
<p>'We welcome feedback from the industry and all other road users on our latest proposals for the HGV Safety Permit Scheme, as we work together to improve vehicle safety.'</p>
<h2>First initiative of its kind</h2>
<p>The HGV Safety Permit Scheme widens TfL's approach beyond direct vision as it helps to address a broader range of road danger risks.</p>
<p>The forthcoming Direct Vision Standard will be the first initiative of its kind to categorise HGVs depending on the level of a driver's direct vision from a cab.</p>
<p>HGVs will be given a rating between 'zero-star' (lowest) and 'five-star' (highest), with only those vehicles rated 'three-star' and above, or which have an advanced safety system allowed on London's streets by 2024.</p>
<p>The expertise of both industry experts and vulnerable road user representatives has helped shape the proposals for the new HGV Safety Permit and they will continue to be an important part of developing plans for this.</p>
<p>The details of the method for rating vehicles against the Direct Vision Standard will be included in this consultation. Confirmed star ratings will subsequently be published following feedback from this consultation.</p>
<h2>Saving lives</h2>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: 'We urgently need to do more to protect pedestrians and cyclists from the increased risks posed by lorries on our streets. The two most recent cycling fatalities in the capital occurred in my borough and both involved lorries.</p>
<p>'TfL's proposed HGV Safety Permit Scheme will incentivise use of lorry cabs with high levels of direct vision and encourage more freight operators to adopt safe systems of operation. This will help to reduce the number of collisions involving HGVs in the capital, saving lives.'</p>
<p>Alongside developing the Direct Vision Standard and the proposed Safety Permit Scheme, TfL has also been lobbying the European Commission for changes in international vehicle safety and design regulations to push for long term improvements to future HGV fleets.</p>
<p>As a result of this lobbying, MEPs recently voted overwhelmingly in support of having standards of 'direct vision', which will be proposed by the European Commission when it overhauls vehicle safety rules early next year.</p>
<p>The consultation is open until the 24 January 2018. Visit <a href="https://consultations.tfl.gov.uk/roads/direct-vision-standards-phase-2/?cid=direct-vision-standard">tfl.gov.uk/direct-vision-standard</a> to have your say.</p>
<hr />
<strong>Notes to Editors:</strong><br />
<ul>
    <li>Further information on the Direct Vision Standard can be found here: <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
    <li>TfL's Collisions and Casualties reports can be found here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/road-safety">tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>The European Commission <a href="http://www.europarl.europa.eu/sides/getDoc.do?type=REPORT&amp;reference=A8-2017-0330&amp;language=EN">report</a>, was endorsed on the 14 November by the full parliament with near-unanimous support (with 593 in favour, 39 against, and 53 abstentions)</li>
    <li>The report can be viewed here - <a href="http://www.europarl.europa.eu/portal/en">www.europarl.europa.eu</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Londoners’ views sought on a new Safety Permit Scheme for HGVs -->

 
 
        
        
            @{ViewBag.Description = "Londoners’ views sought on a new Safety Permit Scheme for HGVs";}
        
        


 