


@{ViewBag.Title = "Record hires for the new Santander Cycles ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Record hires for the new Santander Cycles </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Record hires for the new Santander Cycles </h1>
        <div class="content-page-press-release">
        22 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All-new Santander Cycles hit more than 25,000 hires &#45; resulting from a 30 per cent rise in the average hire rate per bike per day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have no doubt that these upgraded cycles are going to help us break more records and will encourage even more people to take to two wheels"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Eddington</div>
            <div class="quotee-job-title">Head of Cycle Hire, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Designed by Pashley Cycles the new cycles offer improved handling, visibility and comfort, alongside innovative smart technology</li>
    <li>Last month was the best October on record for the scheme, with just under one million hires</li>
</ul>
<p>The new Santander Cycles have been hired more than 25,000* times, since they rolled onto the capital's streets at the start of the month &#45; 30 per cent more than the average hire rate per bike per day. Over 250 new Santander Cycles have already joined Transport for London's (TfL's) flagship cycle hire scheme, with thousands set to join over the next few years.</p>
<p>The bikes have been built by England's longest established cycle manufacturer, Pashley Cycles in Stratford-upon-Avon and have been designed to be easier to ride and maintain. The new cycles offer riders improved handling, visibility and comfort, with a new gel saddle, lower frame, tyres with puncture prevention, new gear hub and improved front and rear Blaze lighting. The cycles also feature a new technology platform, CyTek, which includes inbuilt bluetooth and the capacity for GPS technology, which will allow the performance of the bikes to be recorded.</p>
<p>Last year was a record-breaking year for Santander Cycles with an unprecedented 10.3m hires &#45; 4.4 per cent up on 2015. This year there have been more than 9.4m hires, with six of the ten months beating year-on-year records for the number of journeys being made. Last month was the best October on record for the scheme, with just under one million hires.</p>
<p>David Eddington, TfL's Head of Cycle Hire, said: </p>
<p>'The new Santander Cycles have been exceptionally popular, with thousands of people trying the new bikes in the first few weeks. We have no doubt that these upgraded cycles are going to help us break more records and will encourage even more people to take to two wheels.'</p>
<p>Encouraging people to cycle is one of the key components of the Mayor's Transport Strategy, which aims to increase the proportion of people using active and sustainable travel options. This includes providing a world-class cycle hire scheme, building more cycle lanes, investing in safer junctions and funding cycle training and cycle parking.</p>
<p>Santander Cycles will extend into Brixton in early 2018 with seven new docking stations, providing space for up to 200 bikes. Next year will also see the launch of a network of Quietway cycle routes throughout London. The East-West Cycle and North-West Cycle Superhighways will also fully open in 2018 and the consultation responses for CS9 and CS4 will be published over the coming months.</p>
<p>To find your nearest Santander Cycles docking station, visit <a href="http://www.tfl.gov.uk/santandercycles">www.tfl.gov.uk/santandercycles</a></p>
<p>To find about more about cycling in London visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>* Between the 30 October and 20 November 2017</p>
<p>Images of the new Santander Cycles are available from <a href="https://www.flickr.com/photos/tflpress/albums/72157689887666326">https://www.flickr.com/photos/tflpress/albums/72157689887666326</a></p>
<p>Features of the new Santander Cycles</p>
<ol>
    <li>Lighting system is better positioned, brighter and more effective so that the cycles are much more visible to other road users</li>
    <li>New frame and fork geometry combines to provide better ride quality and improved manoeuvrability</li>
    <li>The new design provides increased comfort for smaller riders, with a lower bottom bracket and frame step through height</li>
    <li>Saddle includes new gel pads for improved rider comfort</li>
    <li>Saddle adjustment is much simpler with a new 'one handed' seat clamp</li>
    <li>Smaller wheels provide faster acceleration from standing start, especially important in urban traffic</li>
    <li>Mudguards have lower 'tails' and more of the rear wheel is covered, providing better protection for the rider in the wet</li>
    <li>Puncture prevention is significantly improved with the inclusion of an Aramid belt and 4mm internal puncture protection layer</li>
    <li>New tougher mudguards</li>
    <li>Upgraded Shimano brakes providing better stopping performance</li>
</ol>
<p >About Santander Cycles</p>
<ul>
    <li>Santander Cycles now covers 100 square kilometres of London, making it the second largest cycle hire scheme in Europe.</li>
    <li>Since launching in July 2010, more than 66 million journeys have been made.</li>
    <li>The scheme goes from Hammersmith in the west to Queen Elizabeth Olympic Park in the east, and Camden in the north and Brixton in the south.</li>
    <li>More than 2.2m hires have now been made using the Santander Cycles app, which was launched in May 2015 to make it easier to find and hire bicycles.</li>
    <li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles</li>
    <li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys.</li>
    <li>The new cycles can expect to travel around 17,000 miles. That's over 20 trips from Land's End to John o' Groats or around Hyde Park around 4,000 times</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Record hires for the new Santander Cycles  -->

 
 
        
        
            @{ViewBag.Description = "Record hires for the new Santander Cycles ";}
        
        


 