


@{ViewBag.Title = "TfL and Yamaha Music launch '#Platform88' to place pianos across the Tube network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Yamaha Music launch ‘#Platform88’ to place pianos across the Tube network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Yamaha Music launch ‘#Platform88’ to place pianos across the Tube network</h1>
        <div class="content-page-press-release">
        16 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Multi-instrumentalist, composer and producer Tokio Myers launches the initiative with a gig at Tottenham Court Road station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This project will bring music to some of our key stations, generate money for charity and also offer a platform for aspiring musicians to perform to some of the many thousands of customers who use our network every day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL, in partnership with Yamaha, today launched a programme which will make three pianos available at stations for customers to play. The first, placed at Tottenham Court Road, was launched with a performance by multi-instrumentalist, composer and producer Tokio Myers.</p>
<p>The two-year project named #Platform88 takes its name from the number of keys on a standard piano and provides opportunities for musicians to play and entertain their fellow passengers.</p>
<p>During the two-year run of #Platform88', the pianos will 'travel' around the network to various stations, giving a range of our customers the opportunity to show off their musical talents. At the end of the scheme the pianos will be donated to charity.</p>
<h2>Encourage musical journeys</h2>
<p>One piano will be auctioned off to benefit the charity Railway Children which supports children alone and at risk on the streets in the UK, Africa and India.</p>
<p>The remaining two pianos will be given to the London Music Fund and Music for All to pass on to a worthy school or young individual to help encourage their musical journeys.</p>
<p>Mark Wild, Managing Director, London Underground, said: 'Music has been a part of Tube travel for many years now, with busking and classical music featuring at many of our stations, and we are always looking for new ways to improve our customers' journeys.</p>
<p>'This project will bring music to some of our key stations, generate money for charity and also offer a platform for aspiring musicians to perform to some of the many thousands of customers who use our network every day.'</p>
<h2>Vibrant new community</h2>
<p>Charles Bozon from Yamaha Music UK said, 'Our global Yamaha philosophy is to enrich lives through music, and #Platform88 is the perfect opportunity to connect to huge numbers of music fans and players and to create a vibrant new community &#45; and hopefully discover some new talent along the way.'</p>
<p>Tokio Myers said: 'My musical journey to this point has been full of surprises, chance moments and happy coincidences. Everyone loves listening to music and it's my passion to inspire more people to move from listening to creating their own music. #Platform88 is a brilliant, fun way of doing this.'</p>
<hr />
<strong>Notes to Editors:</strong><br />
<ul>
    <li>Two more Yamaha pianos will be launched by two well-known recording artists in support of #Platform88 before Christmas. Each of the pianos boasts a specially commissioned, eye-catching design that guarantees the instruments are destined to become part of London's transport and music memorabilia</li>
    <li>Yamaha is a successful manufacturer of musical instruments for professional and amateur musicians with a philosophy of cultural enrichment through music and excellence in the arts. It partners its strong heritage of traditional instrument craftsmanship with leading musicians, educators, and technicians to inspire innovation and design in new instruments. The company has a huge range of creative partnerships with many artists and learning providers throughout Europe</li>
    <li>Images of Tokio Myers' performance today are available on <a href="https://www.flickr.com/gp/tflpress/NW6xN2">Flickr</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-TfL and Yamaha Music launch ‘#Platform88’ to place pianos across the Tube network -->

 
 
        
        
            @{ViewBag.Description = "TfL and Yamaha Music launch ‘#Platform88’ to place pianos across the Tube network";}
        
        


 