


@{ViewBag.Title = "Views sought on plans for new Rotherhithe to Canary Wharf crossing";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Views sought on plans for new Rotherhithe to Canary Wharf crossing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Views sought on plans for new Rotherhithe to Canary Wharf crossing</h1>
        <div class="content-page-press-release">
        08 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation now underway on a new crossing in east London, providing a dedicated pedestrian and cycling route across the Thames
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new crossing is envisioned to be a fantastic addition to London and provide a valuable and accessible link to new and proposed walking and cycling routes on both sides of the river"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Subject to consultation responses, a second consultation on final preferred design will take place in 2018 &#45; paving the way for application for planning consents in early 2019.</li>
</ul>
<p>TfL has begun an eight-week consultation on plans for a new pedestrian and cycling crossing across the Thames between Rotherhithe and Canary Wharf.</p>
<p>The proposal forms part of the Mayor's wider package of river crossings and new walking and cycling infrastructure in east London set out in his Manifesto and draft Transport Strategy.  It could see a new much-needed river crossing linking thousands of people directly between Canada Water and Canary Wharf, and supporting new jobs and homes in the area.</p>
<p>The crossing would link into existing and planned cycle routes on both sides of the river. With a dedicated walking and cycling bridge being TfL's preferred option, it would directly encourage more people to cycle and walk in the local area, supporting the Mayor's aim for 80%t of Londoners' trips to be on foot, by cycle or by public transport by 2041.</p>
<p>TfL's recently published Strategic Cycling Analysis showed how the route from Peckham, through Rotherhithe and across the river to Canary Wharf and Hackney, should be looked at in more detail to help encourage more cycling. The latest modelling by TfL suggests that, with future growth and development in the local area, by 2031 more than two million pedestrian and cyclist journey every year are expected to be made using the bridge. This could increase further if walking and cycling improvements are delivered across the wider area.</p>
<p>Pedestrians and cyclists currently have very limited opportunities to cross the river east of Tower Bridge easily and safely - restricting access to key destinations such as Canary Wharf. The Greenwich Foot Tunnel is already operating at capacity at peak times and the Rotherhithe Tunnel, which is the only other permanent crossing option across the river at this point, is regularly avoided by pedestrians and cyclists.</p>
<p>A new river crossing would contribute towards dealing with the substantial growth in east London in recent years, and would provide an easy alternative to the Jubilee line and other river crossings for those trips that could be made on foot or by bike.</p>
<p>Over the past year, TfL has worked with the engineering consultants Arcadis and Knight Architects to review the need for a new crossing and explore different crossing options to ensure the development of a value for money solution. This has included looking at the design and engineering considerations as well as modelling demand for different crossings at this location, and speaking to local residents and stakeholders. This work led to the creation of a shortlist of three options - an enhanced ferry service, a bridge or a tunnel. These options were further assessed to consider their ability to meet the scheme's objectives, their likely costs, potential benefits, and possible impacts.</p>
<p>Based on the studies carried out so far, a navigable bridge is TfL's preferred option, and it has begun to investigate this option in greater detail (this is a bridge that allows the movement of vessels on the river to continue). As part of the consultation, TfL is seeking views on the selection of this preferred option and different aspects of a navigable bridge. These include the specific location of a bridge option, the height that the bridge would be, as well as other considerations such as the overall design and considerations about how a bridge would open for large ships to pass on the river.</p>
<p>While a navigable bridge is TfL's preference, no final decisions have yet been made and Londoners are welcome to recommend alternative designs or options as part of the consultation process.</p>
<p>Val Shawcross, Deputy Mayor for Transport, said: &quot;It's great news that we've started the formal process for a new walking and cycling crossing between Rotherhithe and Canary Wharf. This area of east London has seen huge growth in recent years, and our desire for a dedicated crossing for cyclists and pedestrians shows our real commitment to greener forms of transport across London. It will provide vital new connections to work, shopping and leisure facilities for thousands of local residents and provide a new route for commuters into Canary Wharf. We now want everyone to have their say before we outline further details of how we can make this ambition a reality.&quot;</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: &quot;Walking and cycling is key to creating a more liveable, healthy city. East London is seeing more growth than any other part of London and it's absolutely right that we invest in new vital river crossings to support this going forward. This new crossing is envisioned to be a fantastic addition to London and provide a valuable and accessible link to new and proposed walking and cycling routes on both sides of the river.&quot;</p>
<p>Simon Munk, Infrastructure Campaigner, London Cycling Campaign said: &quot;More walking and cycling-friendly crossings across the Thames are much-needed, especially connecting east London. There is huge potential to get more people from south London cycling to work in the Docklands area but the options currently available - Tower Bridge, Rotherhithe tunnel and the Greenwich foot tunnel &#45; all have major issues for potential cyclists.</p>
<p>&quot;We welcome this new consultation and hope the Mayor moves forward on this crossing, along with the proposed Cycle Superhighway 4, which will improve access to the bridge and other major cycling schemes, rapidly for the benefit of all Londoners.&quot;</p>
<p>Clare Wadd, Chair of the Ramblers Inner London Area, said: &quot;The Rotherhithe to Canary Wharf Crossing will be an exciting addition to London's walking routes, connecting communities and enabling people to easily enjoy The Thames Path on both banks.&quot;</p>
<p>Based on the responses to this consultation, TfL will determine the most appropriate form of crossing and continue to develop more detailed designs, together with a construction timeline. TfL will then look to consult on the designs for the crossing in 2018. This will allow local residents, visitors and commuters to comment on the proposed designs before they are completed and submitted as part of any consents application in 2019.</p>
<p>For more information and to respond to the consultation, please visit <a href="http://www.tfl.gov.uk/R2CW-crossing">www.tfl.gov.uk/R2CW-crossing</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>This project is one of a number of proposed new river crossings for London which are intended to improve cross-river connectivity. These proposed crossings would consist of new public transport, vehicular, pedestrian and cycle links &#45; <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london</a></li>
    <li>A new crossing at this location has been considered by a number of stakeholders for over a decade. Sustrans (a sustainable transport charity) published a feasibility study in early 2016 which concluded that a walking and cycling bridge from Rotherhithe to Canary Wharf would be both economically and technically viable. This study set out a preferred option of a 'bascule' bridge between Durand's Wharf Park (south bank) and the impound lock on Westferry Road (north bank)</li>
    <li>We have subsequently been considering the scheme and over the past year we have been reviewing the need and different options for a crossing in this area. As part of this we have reviewed the work previously undertaken by Sustrans and others but it does not form part of our current work</li>
    <li>A navigable bridge would provide an accessible, safe and convenient facility for cyclists and pedestrians and help support a long term change in the way people travel in line with the vision set out in the draft Mayor's Transport Strategy. A bridge at this location currently has strong support from cycling groups, accessibility groups and some residents, predominantly those living on the south side of the river. There are, however, some concerns about the impact it could have on residents who live nearby and a crucial consideration is the potential need to open the bridge for larger vessels on the river and how this would impact people's journeys</li>
    <li>TfL's assessment of other crossing option also suggested that:</li>
</ul>
<ol>
    <li>A ferry would be the lowest cost option and could be delivered faster, although it is not expected to attract as many walking or cycling trips as a bridge or a tunnel</li>
    <li>A tunnel would offer similar benefits to a bridge and would not be impacted by river vessels, however, it is forecast to cost significantly more</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Views sought on plans for new Rotherhithe to Canary Wharf crossing -->

 
 
        
        
            @{ViewBag.Description = "Views sought on plans for new Rotherhithe to Canary Wharf crossing";}
        
        


 