


@{ViewBag.Title = "Are women London's smartest travellers.... and men the greenest?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Are women London's smartest travellers.... and men the greenest?</h1>
        <div class="content-page-press-release">
        11 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Women make more trips on public transport yet still spend less time travelling than men according to TfL's annual London Travel Report (LTR) 2004, published today.
        
    </div>



 <div class="on-this-page">
<p>The report, which reveals transport trends across Greater London also shows women are the most frequent users of buses encouraged by a continued fall in bus waiting times and increased reliability. </p>
<p>Smartest travellers Previous TfL research also suggests that more women than men - 53% versus 47% - are getting the most up-to-date travel information by using TfL's mobile and web-based Journey Planner. With shorter ticket queues through their increased use of the Oystercard, transport options chosen using real-time travel information and a preference for the benefits of the buses, it would appear that women are indeed the Capital's smartest travellers. </p>
<p>Green men Men, however are doing the most to support the Mayor's vehicle emissions targets by making almost three quarters of all push bike journeys, half of which were to and from work or work related. With the London Cycle Network now 350km in length, TfL's 5 Year Investment Programme will deliver a further 550km by 2010 further encouraging the daily 'tour de Londre'. </p>
<p>Men also travelled on London Underground more often than women, with one-fifth of men of working age choosing to travel by Tube at least five days a week. </p>
<p>Other highlights from TfL's Travel Report include: </p>
<ul>
<li><strong>Total daily travel</strong> <br>On an average day in 2003, there were 26 million trips in London, of which: 43% were made by car, 18% by bus, 10% Tube, 5% rail and 21% walking. </li>
<li><strong>Road casualties falling<br></strong>The number of road casualties continued to fall, including a decline in the number killed over the past two years. Motorcyclists aged 16-24 are most at risk, with more accidents per kilometer traveled than any other group. </li>
<li><strong>More passengers across the network</strong><br>Public transport mode share has risen since 1999, largely as a result of strong growth in bus use: public transport journeys increased to 34% of all journeys in 2003, up from 32% in 2001. </li>
<li><strong>Growing bus use</strong> <br>Buses were the fastest growing transport option, with 26% growth in passenger journeys between 2000 / 01 and 2003 / 04 of which 10% was recorded in the most recent year; </li>
<li><strong>Better reliability</strong> <br>Despite the growth in demand, the performance of London's public transport system also improved, with bus and Underground service reliability improvements in the year to 2003/4. </li>
<li><strong>Reduced Central London congestion</strong> <br>The number of private cars entering the Central London Congestion Charging area has fallen 33% since its introduction in February 2003. Vans and lorries fell by 11%. </li></ul>
<p>In contrast, the number of taxis in the charging area increased by 17%, the number of buses and coaches increased by 23%, motorcycles increased by 12% and pedal cycles increased by 19%. </p>
<p>Traffic levels outside the central area remained relatively stable, though there is a slow continued rise in traffic crossing the London boundary. <br>The London Travel Report 2004 is available now in its entirety at: <a href="http://www.tfl.gov.uk/londontravelreport">www.tfl.gov.uk/londontravelreport</a>. </p>
<p>For further information please contact the TfL Press Office on 020 7941 4141. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report, which reveals transport trends across Greater London also shows women are the most frequent users of buses encouraged by a continued fall in bus waiting times and increased reliability. Smartest travellers Previous TfL research also suggests";}
        
        


 