


@{ViewBag.Title = "Bright first year for London's Fuel Cell buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bright first year for London's Fuel Cell buses</h1>
        <div class="content-page-press-release">
        14 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today announced that initial tests of zero emission buses have been a success.
        
    </div>



 <div class="on-this-page">
<p>Three hydrogen fuel cell buses are being trialled by London Buses on route RV1 (Covent Garden - Tower Gateway), in a bid to find a cleaner fuel for future buses and reduce pollution in the Capital. From January 2004 to the end of December 2004 the fuel cell buses had: 
<ul>
<li>travelled over 23,000 miles; </li>
<li>been in operation for nearly 3,400 hours and; </li>
<li>had excelled in reliability. </li></ul>
<p>The London Fuel Cell bus project is part of a wider European trial where zero emission hydrogen fuel cell vehicles are being trialled over two years in ten capital cities. </p>
<p>Read more about the <a>fuel cell bus trial</a>.</p>
<p>London Buses Director of Operations Mike Weston said: 
<p>" London Buses regards the first year of the two year fuel cell bus project a great success. The buses have excelled in reliability and have been very popular with passengers who have appreciated the amazing environmental benefits of fuel cell technology and the quiet, smooth ride the buses offer. "</p>
<p>" These trials are a positive indication that hydrogen fuel cells could offer an alternative to diesel in the future. The high cost of the vehicles is the major barrier at the moment but providing the Government continues to provide support for this promising technology, it could be a viable option for the future. "</p>
<p>First Group's fuel cell bus driver Sultan Dar said: 
<p>"&nbsp;Passengers are always asking questions about the benefits of the fuel cell bus and when I tell them they are always really supportive of the trial. I am very proud to be an essential part of this trial as this technology will benefit our environment substantially - its something I'll tell the grandkids about! "</p>
<p>Richard Tarboton, Head of Business Unit Transport Energy, part of the Energy Saving Trust said: 
<p>" The success of this trial to date demonstrates the real opportunity offered by hydrogen fuel cell technology. It is also an important step towards the Government's Powering Future Vehicles Strategy that calls for 600 low carbon buses on the road each year by 2012. "</p>
<p>" EST is delighted to support such an important technological advance. Using renewable hydrogen in the future these buses will offer significantly lower CO2 emissions, one of the green house gases attributed to climate change, as well as improve air quality with a reduction in oxides of Nitrogen (NOx) and particulate matter (PM), emissions closely associated with respiratory problems. "</p>
<p>
            <ol>
<li>Partners in the project include: 
<ul>
<li>London Bus Services Ltd (LBSL) - Responsible for management of the project and owner of the vehicles 
</li><li>FirstGroup - Operate the buses on behalf of LBSL and currently operate one sixth of the London bus network 
</li><li>BP - Provide the hydrogen refuelling infrastructure for the three buses 
</li><li>Energy Saving Trust - Support the project with grant funding from the New Vehicle Technology Fund 
</li><li>Daimler Chrysler - supplies and provides support for the three Citaro buses in each city 
</li><li>Ballard - provide the fuel cell systems used on the buses 
</li><li>The project is also partly funded by the European Commission </li></ul>
<li>The main aims of the project are to: 
<ul>
<li>Gain experience and understanding of operating the buses in a wide range of different inner city conditions such as ambient temperature, topography and congestion levels 
</li><li>Design and construct the necessary refuelling infrastructure for hydrogen production 
</li><li>Undertake life cycle analysis of all stages of the project to assess the potential reduction in CO2 the project could deliver and the potential contribution fuel cell technology could make to helping achieve targets in the Kyoto protocol </li></ul>
<li>The London Fuel Cell project will end in January 2006. 
</li><li>The project initially involved 27 buses and nine different cities - Amsterdam, Barcelona, Hamburg, London, Luxembourg, Madrid, Porto, Stockholm and Stuttgart. Since the project started two more cities have also joined - Reykjavik in Iceland and Perth in Western Australia. 
</li><li>London and the other nine cities were chosen as a city to participate in the project because they had the ability to manage such a technical and innovative project. 
</li><li>London Buses is dedicated to improving air quality in the Capital and runs the cleanest fleet of buses in the UK and one of the cleanest in Europe. In April 2004 79% of the fleet was fitted with particulate filters, and by December 2005 all London Buses will meet a minimum of Euro 2 emissions and be fitted with a particulate filter. 
</li><li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes. 
</li><li>Key points about expanding the London bus network: 
<ul>
<li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips; 
</li><li>The number of passengers using buses is at its highest level since 1968; 
</li><li>Patronage is rising at its fastest rate since the Second World War; 
</li><li>Night bus use is up by 29 per cent over the past year; and 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1957. </li></ul>
<ul></ul>--------------------------------- 
<li>Route 603 will be operated by Metroline on behalf of London Buses. 
</li><li>London Buses manages bus services in London for the Mayor's Transport for London. It plans routes, specifies service levels and monitors service quality. It is also responsible for bus stations, bus stops, security initiatives and passenger information. The bus services are operated by private operators, which work under contract to London Buses. 
</li><li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,500 London buses carry 5.4 million passengers on more than 700 different routes. </li></li></li></li></ol>
<p>For more information contact the TfL press office on 020 7941 4881 or 7941 4141 (and for out of hours).<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three hydrogen fuel cell buses are being trialled by London Buses on route RV1 (Covent Garden - Tower Gateway), in a bid to find a cleaner fuel for future buses and reduce pollution in the Capital. From January 2004 to the end of December 2004 the fuel";}
        
        


 