


@{ViewBag.Title = "Bus Police to stop crime on route 29";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus Police to stop crime on route 29</h1>
        <div class="content-page-press-release">
        21 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus route 29, which runs through Enfield, Haringey, Hackney, Islington, Camden and the City of Westminster, is to be the focus of an ongoing police crackdown on crime and antisocial behaviour.
        
    </div>



 <div class="on-this-page">
<p>Police figures show that there have been a significant number of incidents on the route in recent months involving offences ranging from antisocial behaviour to motorists blocking bus lanes. </p>
<p>Transport for London (TfL) and the Metropolitan Police Service (MPS) are determined to crackdown on offenders, and will be launching a dedicated team from the Transport Operational Command Unit (TOCU) to run regular patrols on the 29 from Monday 24th January. </p>
<p>TOCU has over 1,300 officers policing the bus and transport network across London, and teams currently patrol a number of other routes running through north east and north west London, including the 207, 16, 18, 32, 38, 253, 149, 279, 25 and 86. TOCU is funded by TfL and operated by the MPS. </p>
<p>A recent review of the area identified route 29 as one that would benefit from additional policing. Arriva London North, which operates route 29, is working closely with TfL and the MPS to put these new measures in place. </p>
<p>TOCU has 125 police officers and 146 police community support officers in the north east and north west London areas undertaking regular patrols, as well as responding to individual incidents and to crime and disorder problems highlighted by police and TfL intelligence. Their high visibility presence provides reassurance to passengers as well as acting as a deterrent to criminals. </p>
<p>Jeroen Weimar, Transport for London's Director of Transport Policing and Enforcement said: "TfL is working hard to ensure that London's buses are safe for our passengers and staff, and we will not tolerate antisocial behaviour on our services. Through our close relationship with the Metropolitan Police Service and the dedicated TOCU unit, we will work with local bus operators and communities to prevent crime and disorder on and around the local transport system. Any incidents that do occur will be relentlessly followed up and perpetrators brought to justice. Our priority is to ensure that every passenger has a safe journey, free from crime and the fear of crime." </p>
<p>Chief Superintendent Mike Humphrey from the Transport Operational Command Unit said: "TOCU will be engaged in all the boroughs route 29 travels through in order to fight crime and disorder and to keep buses moving by tackling illegal parking. The new route will be a challenge, but I am confident we will make a significant difference for the travelling public. Passengers will be safer and buses will become even more reliable." </p>
<p>Mark Yexley, Managing Director for Arriva London, said: "We are delighted to work with TfL and the Metropolitan Police to continue our work in improving the safety of our employees and customers, and in ensuring that they can feel secure while on our buses. And by tackling illegal parking in bus lanes, we can work in partnership to improve journey reliability too. 
<p dir="ltr" style="MARGIN-RIGHT: 0px">"It is important to remember that the vast majority of bus users cause no problems for our employees or other travellers - by working with TfL and the Police we can ensure that those people who behave in an antisocial manner are apprehended, and prosecutions sought."</p>
            <ul>
<li>TOCU has 1316 police officers, police community support officers, traffic wardens and police staff working across London. TOCU was created in 2002 specifically to tackle bus crime and bus flow issues. TOCU officers patrol buses along 28 major bus routes, and the areas around them, reducing crime and the fear of crime and keeping bus lanes congestion-free. In addition, TOCU is responsible for enforcing the law relating to taxis and private hire vehicles and dealing with congestion at priority locations. 
</li><li>In December 2004, TOCU teams across London (including bus, cab and congestion teams) made 500 arrests. 
</li><li>In December 2004, 3,612 incidents were reported by bus drivers in the north London area, including 1,912 for antisocial behaviour and 1,412 for congestion; 166 arrests were made. 
</li><li>75 per cent of London's bus fleet is now fitted with inward-facing CCTV, with the remainder to be covered by end 2005. All criminal damage captured on camera is investigated and followed up by the dedicated TOCU CCTV Investigation Unit. Since mid-October 2004, 50 arrests have been made by the Unit. 
</li><li>All London buses are in permanent radio contact with Centrecomm, the 24 hour control centre jointly manned by bus operators and police. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Police figures show that there have been a significant number of incidents on the route in recent months involving offences ranging from antisocial behaviour to motorists blocking bus lanes. Transport for London (TfL) and the Metropolitan Police Service";}
        
        


 