


@{ViewBag.Title = "Channel Tunnel Rail Link: A Unique Opportunity for Freight";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Channel Tunnel Rail Link: A Unique Opportunity for Freight</h1>
        <div class="content-page-press-release">
        11 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Channel Tunnel Rail Link (CTRL) will provide a unique opportunity to operate high gauge Continental freight trains between mainland Europe and London, according to a report commissioned by TfL London Rail.
        
    </div>



 <div class="on-this-page">
<p>However, the report by leading freight terminal consultants Intermodality, points out that a number of major issues will need to be resolved before progress can be made - not least, the provision of suitable terminal facilities. Only two sites in the Barking area (at Ripple Lane and Ford Dagenham) offer significant opportunities within the M25, but there are major planning hurdles to overcome before a terminal can be built. </p>
<p>To ensure progress, TfL London Rail will be taking a partnership approach, involving major stakeholders including the GLA, local authorities, London Development Agency (LDA) and Network Rail. </p>
<p>TfL London Rail is also pressing ahead with a joint study with the LDA of rail freight terminal provision in the Thames Gateway area. This will help to develop a strategy to ensure that opportunities for rail freight in the area are exploited for the benefit of London as a whole and that the necessary steps are taken to minimise the effects of terminals on the local environment. </p>
<p>Ian Brown, Managing Director of TfL London Rail said: 
<p>"TfL London Rail is taking a strong lead to facilitate major growth in rail's share of freight markets. There are opportunities for utilising the CTRL for freight when Phase 2 is completed in 2007. This will require the development of suitable terminal facilities on the route in London. TfL London Rail is taking a leading role in planning for this so that the full benefits of the new route for London can be realised." </p>
<p>
<p>The Mayor's London Plan aims to foster a progressive shift from road freight to more sustainable modes including rail. 123 million tonnes of freight travelled on London's roads in 2002 - 450,000 freight vehicle movements crossing the GLA boundary every day. </p>
            <p>For further information, please contact Hazel Peacock at TfL London Rail on 020 7941 7681 or the TfL Press Office on 020 7941 4141 </p>
<p>An executive summary of the Intermodality study report can be obtained from Ian Birch Tel: 020 7941 7733 or from the TfL website <a href="http://www.tfl.gov.uk/rail">www.tfl.gov.uk/rail</a> </p>
<p>In June 2004 TfL London Rail published a leaflet "Freight on Rail in London; London's Need - Britain's Benefit" - this is also available from the above contacts. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "However, the report by leading freight terminal consultants Intermodality, points out that a number of major issues will need to be resolved before progress can be made - not least, the provision of suitable terminal facilities. Only two sites in the";}
        
        


 