


@{ViewBag.Title = "Comprehensive receipt machines for London's taxis";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Comprehensive receipt machines for London's taxis</h1>
        <div class="content-page-press-release">
        04 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From today electronic receipt machines will become a licensing requirement for London's black taxis, Transport for London (TFL) has announced.
        
    </div>



 <div class="on-this-page">
<p>The requirement for electronic receipt printers follows demands by taxi passengers to the Public Carriage Office (PCO) for receipts. The printed receipts are not compulsory and written receipts may still be issued by drivers. </p>
<p>Gratuities may be added to the printed receipts by the driver in manuscript. </p>
<p>Roy Ellis Head of the Public Carriage Office said: 
<p>"Electronic receipt printers will standardise the service black taxis offer to the travelling public. The new receipts will add to the high quality service, black taxis are known for. We encourage taxi drivers to use the new machines and exploit the technology available to keep black taxis the benchmark for service in the capital" </p>
            <ol>
<li>Printable taximeters costs approximately &pound;145.00 to buy and costs &pound;85.00 per year to rent. These costs will be factored within the annual taxi tariff rise in April. 
</li><li>The receipt information will include: 
<ul>
<li>date of issue; 
</li><li>time of issue; 
</li><li>metered extras; and, 
</li><li>total fare </li></ul>
<li>Passengers can still request hand written receipts. 
</li><li>It is not compulsory to take or print the taxi receipt. </li></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The requirement for electronic receipt printers follows demands by taxi passengers to the Public Carriage Office (PCO) for receipts. The printed receipts are not compulsory and written receipts may still be issued by drivers. Gratuities may be added to";}
        
        


 