


@{ViewBag.Title = "First zero-emission fuel cell buses go into service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First zero-emission fuel cell buses go into service</h1>
        <div class="content-page-press-release">
        12 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The UK's first fuel cell zero-emission buses go into service in central London on Wednesday 14th January.
        
    </div>



 <div class="on-this-page">
<p>Three first-generation hydrogen fuel-cell buses vehicles are being trialled on Route 25 (Ilford - Oxford Circus) from January 14th as part of a pioneering two-year European project to reduce air pollution and noise. The buses only emit pure water vapour.</p>
<p>The trial involves nine other European cities and is the largest project of its type anywhere in the world. A joint venture between London Buses, DaimlerChrysler, BP, First and the Energy Saving Trust, the project will improve understanding of how well the technology performs in urban settings, and contribute towards the aims of the Mayor's Air Quality Strategy.</p>
<p>Mayor of London Ken Livingstone said:</p>
<blockquote>
<div align="left">&quot;These buses are the greenest, cleanest, and quietest ever. They will bring the sight of steam back to the capital. <br></div>
<div align="left">&quot;Even though we now have the cleanest bus fleet in the UK, transport is the largest source of air pollution in London. This trial will build on the work of my Air Quality Strategy and contribute to our national commitment to the Kyoto protocol.&quot;</div></blockquote>
<div align="left">
<p>David Jamieson, Cleaner Fuels Minister said:</p></div>
<blockquote>
<div align="left">"The Government is delighted to be supporting this initiative through the Government's New Vehicle Technology Fund programme - as one element in the UK's wide engagement in innovative clean low carbon vehicle technologies."</div></blockquote>
<div align="left">
<p>During the trial the fuel cell buses will be subjected to rigorous ecological, technical and economic analysis, and results will be compared with conventional buses.</p>
<p>The buses run on hydrogen gas, contained in six cylinders on the bus roof. The fuel-cell system turns the gas into electrical power and the only emission is water, which forms a vapour cloud as soon as it leaves the exhaust and enters the atmosphere.</p></div>
            <p>The buses will run on Route 25 from Wednesday January 2004 operated by First on behalf of London Buses.</p>
<p>London was chosen to trial the hydrogen fuel cell buses, specially developed by Daimler Chrysler as part of the European financed Clean Urban Transport for Europe (CUTE) project. Other cities include Amsterdam, Barcelona, Hamburg, Luxembourg, Madrid, Porto, Stockholm and Stuttgart. </p>
<p>Fifteen drivers have been trained at First's Hackney garage to operate the vehicles. They are very similar to drive to other Mercedes Benz Citaro buses.</p>
<p>BP is providing the hydrogen-refuelling facilities. BP is an infrastructure partner in five of the nine CUTE cities and is demonstrating a range of different hydrogen technologies in each location. The London project uses hydrogen sourced from natural gas.</p>
<p>The Energy Saving Trust is supporting the project through grant funding from its New Vehicle Technology Fund programme. The Energy Saving Trust (EST) was set up by the government after the 1992 Earth Summit in Rio de Janerio and is the UK's leading organisation addressing the damaging effects of climate change. It aims to cut carbon dioxide emissions by promoting the sustainable and efficient use of energy. EST is a non-profit organisation funded by government and the private sector.</p>
<p>DaimlerChrysler, through its subsidiary Evobus, has developed and manufactured the buses and will provide technical support during the trial.</p>
<p>The European Union has co-financed the trial, with the support of the European Commission Directorate-General for Energy and Transport.</p>
<p>The Mayor set up the London Hydrogen Partnership in April 2002 to support the development of hydrogen technologies and develop a plan for London's hydrogen economy. The Partnership will work closely with this project and encourage further demonstrations.</p>
<p>More information on the European trial is available at www.fuel-cell-bus-club.com</p>
<p>For more information contact TfL press office on 020 7941 4377 or 7941 4141 (out of hours).</p>
<p>Other media contacts:</p>
<p>BP Sheila Williams 01908 853828<br>First Group Michael Steward 020 7298 7300<br>Energy Savings Trust Clive Case 020 7227 0322<br>Evobus/Mercedes Kate Dodds 024 7662 6051</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three first-generation hydrogen fuel-cell buses vehicles are being trialled on Route 25 (Ilford - Oxford Circus) from January 14th as part of a pioneering two-year European project to reduce air pollution and noise. The buses only emit pure water";}
        
        


 