


@{ViewBag.Title = "Get home from bus stop to door step by NightCab";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Get home from bus stop to door step by NightCab</h1>
        <div class="content-page-press-release">
        13 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 14th January NightCab, a late night marshalled taxi service, will offer a safe environment and transportation for people travelling from Edgware Bus Station to surrounding areas, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>The six month trial, marshalled and operated by taxi firm Computer Cab plc, will provide shared licensed taxis for passengers on their final stretch home. A service controller will meet passengers and allocate taxis. Women only taxis will be available if required and CCTV is in operation in the waiting area. The cost to a passenger is a standard &pound;5.00 and the service is available to addresses within postal areas NW7, HA7 and HA8.</p>
<p>NightCab follows the success of the Marshalled rank pilot scheme in Cranbourn Street in WC2. During a weekend up to 400 taxi journeys are co-ordinated via the marshals on the rank. The rank has become a safe haven at night in the Capital. </p>
<p>Ken Livingstone, Mayor of London, said:</p>
<p>"I am fully supportive of NightCab as the safety of people travelling late at night in London is a major part of my transport strategy. It is reassuring for passengers travelling through Edgware, particularly women, to know that there is a marshalled rank offering them a convenient and safe route home."</p>
<p>Transport for London's, Director of Taxi and Private Hire, Ed Thompson said:</p>
<p>"Transport for London is fully supportive of NightCab. The final stretch of a journey late at night is often the most dangerous as women are frequently travelling alone in quiet streets. This new scheme offers a secure environment outside of the West End where people can get a cab safely and quickly."</p>
<p>Computer Cab, Managing irector, Mike Galvin said:</p>
<p>"Taxis are ideally place to provide the final link of passengers' journeys home at night. The Nightcab service aims to ensure a seemless, safe transition from nightbus to licensed taxis, with minimal waiting at low cost. Computer Cab, London's largest taxi company are an enthusiastic supporter of the major's Safer Travel at Night campaign and see this as another valuable step forward."</p>
            <ol>
<li>Computer Cab plc will marshal and operate NightCab at Edgware Bus Station. 
</li><li>NightCab will be in operation from 11pm - 5am Monday to Saturday. 
</li><li>Passengers can call and order a cab ahead on 020 7432 1444. 
</li><li>Passengers are also able to order their own pre-booked taxi if they do not want to share their taxi with anyone else if they do not want to. 
</li><li>Passengers from bus route N5 and N16 and Northern Line will benefit from this scheme. 
</li><li>Computer Cab are the owners of ComCab, the largest radio circuit for taxi bookings in London. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The six month trial, marshalled and operated by taxi firm Computer Cab plc, will provide shared licensed taxis for passengers on their final stretch home. A service controller will meet passengers and allocate taxis. Women only taxis will be available if";}
        
        


 