


@{ViewBag.Title = "Oyster hailed an environmental pearl";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster hailed an environmental pearl</h1>
        <div class="content-page-press-release">
        17 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Friends of the Earth are hailing Oyster an environmental asset, with 100,000 fewer paper tickets being sold every day - a saving of 32 million paper tickets a year - since the Smartcard was introduced.
        
    </div>



 <div class="on-this-page">
<p>A paper ticket is 8.5cm in length, so laid end to end, this results in an annual saving of 2,720km of paper - more than six and a half times the distance covered by the entire Tube network. </p>
<p>Transport for London projects more than 3 million people will be using Oyster by mid-2005. </p>
<p>Comments Jay Walder, Managing Director of Finance and Planning at TfL: </p>
<p>"TfL's Oyster card system has been a huge success. Nearly 3 million journeys are made every weekday with Oyster, making it a world leader in Smartcard ticketing. The phased introduction of Oyster has ensured success from the outset, bringing greater security and convenience for passengers. </p>
<p>"This significant reduction in paper waste is just one more example of the wider benefits Oyster is bringing to London." </p>
<p>Friends of the Earth recycling campaigner, Claire Wilton, said: </p>
<p>"London's waste has grown by more than ten per cent in the last five years, so efforts to reduce it are very welcome. Avoiding the use of paper in tickets means that fewer trees will be felled, helping to preserve wildlife habitats across the world." </p>
<p>For further information, please contact Amanda Brooks, TfL Press Office 020 7941 4141. </p>
            <ol>
<li>An average of 500,000 paper tickets (daily LU single and return tickets) were sold daily in 2003; compared to an average 380,000 in 2004. </li>
<li>In square metres, the 32 million paper tickets saved each year would cover nearly 14 football pitches. </li>
<li>Transport for London introduced Oyster for public use in May 2003. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A paper ticket is 8.5cm in length, so laid end to end, this results in an annual saving of 2,720km of paper - more than six and a half times the distance covered by the entire Tube network. Transport for London projects more than 3 million people will be";}
        
        


 