


@{ViewBag.Title = "Transport for London backs the DEC tsunami appeal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London backs the DEC tsunami appeal</h1>
        <div class="content-page-press-release">
        06 January 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is backing the UK appeal for victims of the Indian Ocean tsunami, with staff and contractors doing everything they can to boost the fundraising drive. <BR>&nbsp;
        
    </div>



 <div class="on-this-page">
<p>TfL has worked with Viacom - the company responsible for advertising on the network - to make space available to publicise the Disasters Emergency Committee (DEC) appeal. In total, over 2000 advertising hoardings and posters in Underground stations and on buses across London will carry the DEC's phone number and website address. </p>
<p>In addition, London Underground staff and more than 200 volunteers from the rest of TfL's network will be collecting at central London stations tomorrow (Friday, 7 January). </p>
<p>Bob Kiley, London's Transport Commissioner said: </p>
<p>"We have all been shocked by the unimaginable scenes we have witnessed. I would like to thank TfL staff for their commitment to this cause and encourage everyone to donate if they can." </p>
<p>Patricia Sanders from the DEC said: </p>
<p>"This money will be spent through the DEC member aid agencies, who are working in the hardest hit areas distributing clean water, food, medicine, temporary shelter and materials to survivors. But even though immediate needs are being met, these people are going to need our help to rebuild their homes and livelihoods. </p>
<p>TfL's support allows us to remind members of the British public for the need to keep donations coming in. Once again we would like to thank Transport for London and their staff for their support." <br></p>
            <ol>
<li>The DEC is an umbrella body for UK charities, including names such as the British Red Cross and Oxfam, who are in the front line of the relief effort, providing clean water, food and shelter to the survivors. </li>
<li>In just 12 days the DEC appeal has raised an incredible &pound;100 million from the British public. </li>
<li>From 17 Jan, DEC will be advertising the appeal at over 2000 sites on the TfL Tube and bus network. </li>
<li>Wednesday's three-minute silence was observed across the transport network, with announcements on the Tube and buses pulling over where it was safe to do so to allow passengers and staff to pay their respects. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has worked with Viacom - the company responsible for advertising on the network - to make space available to publicise the Disasters Emergency Committee (DEC) appeal. In total, over 2000 advertising hoardings and posters in Underground stations and on";}
        
        


 