
    
  



@{ViewBag.Title = "Make a representation";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></li>
                
            
                
                <li><span class="last-breadcrumb">Make a representation</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Make a representation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you want to challenge the Penalty Charge Notice (PCN) then you have 28 days from the date of service of the PCN to get your representation to us.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Under the Interpretation Act 1978 s.7, unless the
contrary is proved, service is deemed to have been effected at the time
when the PCN would be delivered in the ordinary course of post.
</p>
<p>Representations must be made in writing or online.
</p>
<p>If you make a representation outside of the 28-day PCN service period
it will be considered as 'late' and we do not have to consider late representations. You cannot make a late representation online.
</p>
<ul>
    <li>Do not delay in sending us your representation </li>
    <li>However if you are prevented from making your representation in time we may use our discretion and consider it </li>
    <li>If you make a late representation please ensure that you provide
    evidence to outline why your representation is late. Forgetting to make
    a representation is not a valid reason but if you were prevented from
    making the representation due to illness or a holiday then enclose proof
    of these circumstances and it may be considered </li>
    <li>When we receive your representation the PCN will be frozen at the
    relevant amount that is outstanding at that time. It will remain frozen
    until we have completed our investigation and written back to you with
    our reply</li>
</ul>
<p>You can now make a representation online. You will need to provide us with your PCN number and reasons why you think you should not have been issued with a PCN. You will also be able to add supporting evidence.</p>
<h2>Online</h2>
<p>You can now make a representation online. You will need to provide us with your PCN number and reasons why you think you should not have been issued with a PCN. You will also be able to add supporting evidence.</p>
<p>You still have 28 days from the date of service of the PCN, to either pay the penalty or challenge the PCN by making a representation. The PCN states the full penalty charge due - however, if you pay within 14 days of the date of service, you can pay the 50% discount sum stated on the PCN. </p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover" >Make a representation</a>

    </div>
</div> 
 
</div>
 <div>

<h2>In writing</h2>

<p>The easiest way to make a representation in writing is to complete the representation section provided as part of the PCN:</p>

<ul>
	<li>If applicable please indicate on which ground you wish to make the representation</li>
	<li>Add any details in the space provided (if you need more space attach a separate sheet remembering to write the PCN number on each extra sheet)</li>
	<li>Enclose any supporting evidence</li>
	<li>Sign and date the representation</li>
	<li>Return it to Congestion Charging, PO Box 344, Darlington, DL1 9QE</li>
	<li>Remember you must ensure your representation is received before the end of the 28-day period beginning with the date of service of the PCN</li>
</ul>

<h2>The registered keeper</h2>

<p>The PCN is normally sent to the registered keeper of the vehicle as per the records of either the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA</a> or <a href="http://www.nidirect.gov.uk/motoring"> DVA</a>.</p>

<p>PCNs may also be issued to the nominated hirer/lessee of the vehicle if a valid hire agreement is provided by the registered keeper.</p>

<p>It is the person or organisation named on the PCN who must make the representation, even if they were not the driver.</p>

<ul>
	<li>The registered keeper can make a representation on behalf of a third party</li>
	<li>However, we will NOT consider a representation from a third party unless the registered keeper provides us with written authorisation. So if you have been passed the PCN by the registered keeper and wish to challenge the PCN, get them to write in on your behalf or provide you with written authorisation to send in with your representation</li>
	<li>We will always advise the registered keeper of the outcome of any investigation</li>
	<li>If the registered keeper is a company and you are making a representation on behalf of the company please indicate your position and authorisation within the company when making your representation</li>
</ul>

<h2>Our response</h2>

<p>When we have considered your representation we will write back to you with our response. You will be sent one of three things:</p>

<h3>A request for additional evidence</h3>

<ul>
	<li>This means that we require further evidence from you to help us consider the points raised in your representation</li>
	<li>The PCN will remain frozen for a number of days to provide you with adequate time to return the requested information</li>
	<li>If the required evidence is not received you will be issued with a notice of rejection</li>
	<li>If the required evidence is received you will be issued with a notice of acceptance or a notice of rejection depending on whether we consider the evidence to be sufficient</li>
</ul>

<h3>A notice of acceptance</h3>

<ul>
	<li>This means that you are no longer liable for the PCN</li>
	<li>Please read the notice of acceptance carefully and follow the advice given as it will explain why you received the PCN and provide advice on how to avoid PCNs in future</li>
</ul>

<h3>A notice of rejection</h3>

<ul>
	<li>This means that we believe you are still liable for the PCN</li>
	<li>We have assessed your representation in terms of the grounds for representation, any mitigating circumstances and considered the use of our discretion</li>
	<li>Please read the notice of rejection carefully and follow the advice given</li>
	<li>We will tell you how much you must pay and how to pay. Not paying will mean an increase in the amount you owe and enforcement action continuing</li>
	<li>We will tell you about your right to appeal to an independent adjudicator</li>
	<li>We may ask you for additional information. If this is the case then follow the advice given and return the information to us within the time stipulated</li>
	<li><strong>Do not do nothing</strong></li>
</ul>

<h2>Grounds for making a representation</h2>

<p>A representation may be made on one of six grounds, or if none of these are applicable you may state the reasons why you do not believe that you are liable for the PCN.</p>

<p>Each ground for representation is defined by Parliament in the regulations governing Congestion Charging.</p>

<p>By clicking on each number below you can find out about each ground, the evidence you need to provide and the circumstances that are applicable. This does not affect your right to make a representation but is a guide to assist you.</p>

<p>Remember,<strong> </strong>it is for you to prove that you meet any of these grounds.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-one:-i-was-not-the-keeper-at-the-time-of-the-contravention,-eg-i-have-never-been-the-keeper,-i-ceased-to-be-the-keeper,-i-became-the-keeper-after-the-date-of-the-contravention.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground one: I was not the keeper at the time of the contravention, eg I have never been the keeper, I ceased to be the keeper, I became the keeper after the date of the contravention."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-one:-i-was-not-the-keeper-at-the-time-of-the-contravention,-eg-i-have-never-been-the-keeper,-i-ceased-to-be-the-keeper,-i-became-the-keeper-after-the-date-of-the-contravention.-heading" class="accordion-heading">Ground one: I was not the keeper at the time of the contravention, eg I have never been the keeper, I ceased to be the keeper, I became the keeper after the date of the contravention.</div>
            </div>
            <div id="ground-one:-i-was-not-the-keeper-at-the-time-of-the-contravention,-eg-i-have-never-been-the-keeper,-i-ceased-to-be-the-keeper,-i-became-the-keeper-after-the-date-of-the-contravention.-content" class="start-hidden" role="region" aria-labelledby="ground-one:-i-was-not-the-keeper-at-the-time-of-the-contravention,-eg-i-have-never-been-the-keeper,-i-ceased-to-be-the-keeper,-i-became-the-keeper-after-the-date-of-the-contravention.-heading">
<p>The regulations define this ground as follows.</p>

<p><strong>That the recipient:</strong></p>

<ul>
	<li><strong>Never was the registered keeper in relation to the vehicle in question, or </strong></li>
	<li><strong>Had ceased to be the person liable before the date on which the vehicle was used or kept on a road in a charging area, or </strong></li>
	<li><strong>Became the person liable after that date </strong></li>
</ul>

<p>The person liable for a PCN is the registered keeper of the vehicle at the time of the contravention as recorded by the DVLA/DVA. We therefore contact the relevant agency to identify the name and address of the registered keeper on the day of the contravention so that a PCN can be issued to that person.</p>

<p>As there is a legal requirement for the DVLA/DVA to be notified of any change in the details of the registered keeper, including name and address, any failure to do so may mean that you are still liable for the charges and penalty charges.</p>

<p>If you have received a PCN for a vehicle that you have sold, or ceased to be the registered keeper of, and you have not told the DVLA/DVA of the change of keeper prior to the contravention again you may remain liable for the PCN.</p>

<p>However, you can still make a representation and should provide as much evidence as possible to support your representation. This may include:</p>

<ul>
	<li>A copy of the V5C notification sent to the DVLA/DVA detailing the name and address of the new keeper and confirmation of when it was sent, and/or&nbsp;</li>
	<li>A bill of sale showing the date of sale and the name and address of the new keeper, and/or</li>
	<li>A part-exchange notice from a garage, showing their name and address, that fully identifies the vehicle and when it was taken in part exchange, and/or&nbsp;</li>
	<li>An invoice showing the relevant vehicle registration, its date of sale and the full name and address (including post code) of the person/garage it was sold to, and/or</li>
	<li>A confirmation letter from the DVLA/DVA stating they accept you are not the keeper of the vehicle and the letter includes the dates you notified them and the date they accept when the change of keeper took place, and/or</li>
	<li>If your vehicle was returned/repossessed under a finance agreement, documentary evidence from the finance company that they have received your vehicle and confirming the date the vehicle was removed/repossessed</li>
</ul>

<p>If you purchased the vehicle or believe you became liable after the date of the contravention you should provide as much evidence as possible to support your representation. This may include:</p>

<ul>
	<li>A copy of your V5C notification sent to you as the new keeper from the DVLA/DVA, and/or</li>
	<li>An invoice showing the relevant vehicle registration with its date of sale to you and the full name and address (including post code) of the person/garage who sold you the vehicle, and/or&nbsp;</li>
	<li>A bill of sale showing the date of sale and the name and address of the previous keeper, and/or</li>
	<li>A confirmation letter from the DVLA/DVA stating they accept you are the new keeper of the vehicle also confirming the date they accept that the change of keeper took place</li>
</ul>

<p>If you believe that the contravening vehicle in the image on the PCN is not your vehicle your representation to us will need to be supported by as much evidence as possible.</p>

<p>This may include:</p>

<ul>
	<li>Proof the vehicle was at a different location at the time of the contravention using a 'tracker report', statements from colleagues or neighbours asserting the vehicle was at a different location</li>
	<li>Photos of your vehicle (front, back and both sides) that show a difference in the vehicle, eg number plate/distinguishing marks</li>
	<li>Proof that a crime has been previously reported to the police regarding the vehicle for example if stolen or if a vehicle is breaking the law by displaying the same number plate (referred to as 'cloned' or 'ringed' vehicles). This should include the name and telephone number of the police station it was reported to along with the relevant incident or crime reference number</li>
	<li>Confirmation from another enforcement agency, eg police or local authority, outlining that they have confirmed the vehicle is cloned/ringed for us to consider</li>
</ul>

<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstances.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-two:-i-had-paid-the-congestion-charge-due-for-the-vehicle-used-on-that-date,-in-the-time-and-manner-required-by-the-charging-scheme.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground two: I had paid the Congestion Charge due for the vehicle used on that date, in the time and manner required by the charging scheme."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-two:-i-had-paid-the-congestion-charge-due-for-the-vehicle-used-on-that-date,-in-the-time-and-manner-required-by-the-charging-scheme.-heading" class="accordion-heading">Ground two: I had paid the Congestion Charge due for the vehicle used on that date, in the time and manner required by the charging scheme.</div>
            </div>
            <div id="ground-two:-i-had-paid-the-congestion-charge-due-for-the-vehicle-used-on-that-date,-in-the-time-and-manner-required-by-the-charging-scheme.-content" class="start-hidden" role="region" aria-labelledby="ground-two:-i-had-paid-the-congestion-charge-due-for-the-vehicle-used-on-that-date,-in-the-time-and-manner-required-by-the-charging-scheme.-heading">
<p>The regulations define the ground as:</p>

<p><strong>That the charge payable for the use or keeping of the vehicle on a road on the occasion in question was paid at the time and manner required by the charging scheme.</strong></p>

<p>This means that the Congestion Charge must be paid for the actual vehicle that is used in the Congestion Charging zone and for the actual date. You must ensure that the number plate that has been paid for matches that of the vehicle used.</p>

<p>If making a representation on this ground then you need to prove that you have paid the charge for the correct vehicle registration number and correct date (the contravention date).</p>

<ul>
	<li>The easiest way to do this is to provide your receipt showing all the details (when purchasing the charge we always offer a receipt)</li>
	<li>Check the number plate matches that shown on the PCN</li>
	<li>Check that the date of travel matches that shown on the PCN</li>
	<li>If either of these details do not match then this is why you have received the PCN</li>
	<li>If you notice such a mistake then you can still make a representation but it may only be accepted at our discretion</li>
	<li>If you have made a mistake when purchasing the charge please try not to make the same mistake again</li>
	<li>If you do not have your receipt then you could demonstrate that you have paid if you have used a credit or debit card. Provide a copy of your credit/debit card statement, date of payment and the credit/debit card number and we will try to trace your payment</li>
	<li>If you have neither of these, then you may still make a representation but it will be very hard for you to prove that the PCN was issued incorrectly; we will of course check all our records thoroughly</li>
</ul>

<p>Most people believe that they have paid the charge but there are a number of common errors which include:</p>

<ul>
	<li>Paying for the incorrect number plate. As you may have discovered you need to pay the charge for the number plate that is held by the DVLA/DVA and shown on your vehicle</li>
	<li>The number 0 (zero) is often confused with the alpha character O (Oscar) and the number 1 (one) is often confused with the alpha character I (Indigo)</li>
	<li>Characters are often transposed such as switching the first three letters with the last three, eg actual number plate is ABC123 but the paid for number plate is 123ABC</li>
	<li>Paying for the wrong date. Always double check the date you want to pay for especially if you are paying in advance</li>
	<li>If paying via the internet, make sure you enter the details correctly and double check the details. People have been known to enter their car make into the data fields</li>
	<li>If paying via the call centre use the phonetic alphabet (ie A=Alpha, B=Bravo, C=Charlie). Make sure the staff member uses the phonetic alphabet, get them to check the make and model of the vehicle, the date of travel and request a receipt. Make sure you make a note of the receipt number in case the receipt should get mislaid</li>
	<li>If paying via mobile phone text messaging, make sure you sent the text and make sure the details sent were correct. Please do not assume any messages we send back are your receipt. Please read and respond to any message we send back if appropriate. If a valid confirmation receipt message has not been received then payment of the charge cannot be guaranteed</li>
	<li>Only pay a discounted charge if you are registered as a resident</li>
	<li>Paying via a third party (website or other) and making any charge payment error</li>
</ul>

<p>If you have made an error then we may use our discretion but this is not guaranteed and please do not repeat the error in the future.</p>

<p>Remember: You need to provide proof that the charge was paid.</p>

<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstance.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-three:-no-penalty-charge-is-payable-under-the-charging-scheme,-eg-i-was-not-within-the-charging-area-during-charging-hours.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground three: no penalty charge is payable under the charging scheme, eg I was not within the charging area during charging hours."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-three:-no-penalty-charge-is-payable-under-the-charging-scheme,-eg-i-was-not-within-the-charging-area-during-charging-hours.-heading" class="accordion-heading">Ground three: no penalty charge is payable under the charging scheme, eg I was not within the charging area during charging hours.</div>
            </div>
            <div id="ground-three:-no-penalty-charge-is-payable-under-the-charging-scheme,-eg-i-was-not-within-the-charging-area-during-charging-hours.-content" class="start-hidden" role="region" aria-labelledby="ground-three:-no-penalty-charge-is-payable-under-the-charging-scheme,-eg-i-was-not-within-the-charging-area-during-charging-hours.-heading">
<p>The regulations define this ground as:</p>

<p><strong>That no penalty charge is payable under the charging scheme.</strong></p>

<p>There are a number of circumstances which may or may not be applicable (remember to provide as much supporting evidence as you can) including:</p>

<ul>
	<li>Exempt vehicles. Exemptions are usually based upon the taxation class of the vehicle recorded by the DVLA/DVA. If you believe your vehicle is tax exempt then you must enclose proof of the exemption by providing your V5C showing the taxation class</li>
	<li>100% discount. There are various 100% discounts available for certain vehicles provided they are first registered with us. This includes those for 9+ seater vehicles and recovery vehicles. Until a vehicle is successfully registered you are required to pay the full daily charge. If you believe that your vehicle is registered, then please provide proof of the registration including the letter confirming the acceptance of your discount. Remember to check that the number plate has been recorded correctly</li>
	<li>Blue Badge holders. To receive the Blue Badge discount you must first be registered with us and have nominated the exact number plate used on the date of the contravention on the Blue Badge account. To make a representation please provide evidence of the confirmation that the Blue Badge holder has registered with Congestion Charging and that the vehicle was nominated on the account. If you add the vehicle to an account via the call centre please provide details of when and who you spoke to. If you have not renewed your application you may still be liable for the PCN</li>
	<li>Residents. Residents must first be registered with us to receive a 90% discount of the charge. If you are a resident and believe you are registered please provide proof of your registration. You will also need to have paid the charge at the discounted rate. Remember to provide as much information as possible to support your representation, such as copies of your confirmation letter and proof that the charge was paid for the correct vehicle and date of travel</li>
	<li>London licensed taxis, minicabs and Hackney Carriages registered with the Taxi and Private Hire Office. If you believe your vehicle is correctly registered with the Taxi and Private Hire Office then please provide all the appropriate confirmation letters with your representation</li>
	<li>Diverted into the Congestion Charging zone. If you are diverted into the Congestion Charging zone due to an incident, accident or roadworks, you should either follow the diversion route or leave as soon as possible. When making a representation please give as many details as possible including the location and time of the diversion and if you spoke with a police officer. We will check our records to confirm if there was a diversion. If, however, you enter the Congestion Charging zone just to avoid traffic or got lost or swerved, then these are not valid grounds for representation</li>
	<li>Signs and boundary. The boundary to the Congestion Charging zone is clearly marked with the Department for Transport approved road traffic sign and if you pass this road traffic sign during charging hours you must pay the charge. You should note that at certain boundary points, but not all, there is also a red C painted on the road itself. However, you do not have to have crossed a red C to have entered the Congestion Charging zone and these symbols are there for information purposes only. Reasons such as you not seeing the signs or there not being enough signs will not be accepted. However, if you believe that your vehicle did not enter the Congestion Charging zone or the signs are incorrect please provide full details with your representation including the exact location and route you took</li>
	<li>Leaving the Congestion Charging zone. This will not be accepted as a valid reason for non-payment of the charge as the Congestion Charge is payable if a vehicle travels within the Congestion Charging zone during charging hours whether entering, exiting or just moving within the zone</li>
</ul>

<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstances.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-four:-the-vehicle-was-used-or-kept-without-my-consent,-eg-stolen.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground four: the vehicle was used or kept without my consent, eg stolen."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-four:-the-vehicle-was-used-or-kept-without-my-consent,-eg-stolen.-heading" class="accordion-heading">Ground four: the vehicle was used or kept without my consent, eg stolen.</div>
            </div>
            <div id="ground-four:-the-vehicle-was-used-or-kept-without-my-consent,-eg-stolen.-content" class="start-hidden" role="region" aria-labelledby="ground-four:-the-vehicle-was-used-or-kept-without-my-consent,-eg-stolen.-heading">
<p>The regulations define this ground as:</p>
<p><strong>That the vehicle had been used or kept or permitted to be used or kept on a road by a person who was in control of the vehicle without the consent of the registered keeper.</strong></p>
<p>It is the registered keeper, or if a hire company has transferred liability, the nominated hirer, who is liable for the PCN. You cannot rely on the fact that you may not have been the driver, or that someone borrowed the car.</p>
<p>If your vehicle was stolen or you had not permitted the use of the vehicle at the time of the contravention, then please make a representation. However, you will need to provide evidence to support your claim.</p>
<ul>
    <li>eg If stolen please provide details a crime report and the name of the police station to which the crime was reported, the date the vehicle was stolen and if applicable, the date of recovery</li>
</ul>
<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstances.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-five:-the-penalty-charge-exceeds-the-amount-payable-in-the-circumstances-of-the-case,-eg-i-have-been-requested-to-pay-a-penalty-charge-amount-above-that-detailed-in-the-regulations.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground five: the penalty charge exceeds the amount payable in the circumstances of the case, eg I have been requested to pay a penalty charge amount above that detailed in the regulations."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-five:-the-penalty-charge-exceeds-the-amount-payable-in-the-circumstances-of-the-case,-eg-i-have-been-requested-to-pay-a-penalty-charge-amount-above-that-detailed-in-the-regulations.-heading" class="accordion-heading">Ground five: the penalty charge exceeds the amount payable in the circumstances of the case, eg I have been requested to pay a penalty charge amount above that detailed in the regulations.</div>
            </div>
            <div id="ground-five:-the-penalty-charge-exceeds-the-amount-payable-in-the-circumstances-of-the-case,-eg-i-have-been-requested-to-pay-a-penalty-charge-amount-above-that-detailed-in-the-regulations.-content" class="start-hidden" role="region" aria-labelledby="ground-five:-the-penalty-charge-exceeds-the-amount-payable-in-the-circumstances-of-the-case,-eg-i-have-been-requested-to-pay-a-penalty-charge-amount-above-that-detailed-in-the-regulations.-heading">
<p>This may mean that you are being asked to pay a penalty charge amount
above that detailed in the regulations. Reasons would include:</p>
<ul>
    <li>The amount shown on the PCN is incorrect - please provide a copy of the PCN </li>
    <li>You have already paid the PCN - please provide proof of payment. If
    you have a receipt please provide this or if not, confirmation that the
    money has been taken from your account. Remember you need to have
    allowed time for the payment to have been received </li>
</ul>
<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstances.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-six:-we-are-a-vehicle-hire-firm-and-the-vehicle-was-hired-under-an-agreement-at-the-time-and-the-person-liable-signed-a-statement-of-liability-for-any-resulting-penalty-charges.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Ground six: we are a vehicle hire firm and the vehicle was hired under an agreement at the time and the person liable signed a statement of liability for any resulting penalty charges."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-six:-we-are-a-vehicle-hire-firm-and-the-vehicle-was-hired-under-an-agreement-at-the-time-and-the-person-liable-signed-a-statement-of-liability-for-any-resulting-penalty-charges.-heading" class="accordion-heading">Ground six: we are a vehicle hire firm and the vehicle was hired under an agreement at the time and the person liable signed a statement of liability for any resulting penalty charges.</div>
            </div>
            <div id="ground-six:-we-are-a-vehicle-hire-firm-and-the-vehicle-was-hired-under-an-agreement-at-the-time-and-the-person-liable-signed-a-statement-of-liability-for-any-resulting-penalty-charges.-content" class="start-hidden" role="region" aria-labelledby="ground-six:-we-are-a-vehicle-hire-firm-and-the-vehicle-was-hired-under-an-agreement-at-the-time-and-the-person-liable-signed-a-statement-of-liability-for-any-resulting-penalty-charges.-heading">
<p>The regulations define this ground as:</p>

<p><strong>That the recipient is a vehicle-hire firm and</strong></p>

<ul>
	<li><strong>The vehicle in question was at the material time hired from that firm under a hiring agreement; and </strong></li>
	<li><strong>The person hiring it had signed a statement of liability acknowledging his liability in respect of any Penalty Charge Notice imposed in relation to the vehicle during the currency of the hiring agreement</strong></li>
</ul>

<p>If you are the registered keeper of the vehicle, and want to transfer liability to the hirer, liability can only be transferred if you can provide a hire agreement that shows you, as the registered keeper, have entered into an agreement with a hirer to hire the vehicle and the agreement fully meets the requirements of Section 66 of the Road Traffic Offenders Act 1988, and</p>

<ul>
	<li>The vehicle is on hire for a period of less than six months, and</li>
	<li>The agreement has a signed statement of liability and</li>
	<li>The hire agreement has all the relevant information on it where relevant as defined in Schedule 2 of the Road Traffic (Owner Liability) Regulations 2000</li>
</ul>

<p>A director of a hire company cannot transfer liability from themselves where they are the registered keeper of the vehicle using the 'company hire agreement'. This is because as a director you are a separate legal entity to the hire company and the hire agreement is not sufficient to transfer liability away from you.</p>

<h3>Schedule 2 of the Road Traffic (Owner Liability) Regulations 2000</h3>

<p>Particulars required in a hiring agreement to comply with Section 66 of the Road Traffic Offenders Act 1988.</p>

<p><strong>Particulars of person signing statement of liability</strong></p>

<ol>
	<li>Full name</li>
	<li>Date of birth</li>
	<li>Permanent address</li>
	<li>Address at time of hiring (if different from 3 above and stay is likely to be more than two months from date of hiring)</li>
	<li>Details of driving licence:
	<ul>
		<li>country where issued (if not UK)</li>
		<li>serial number or driver's number</li>
		<li>date of expiry (which should be no later than date specified in B7 below)</li>
	</ul>
	</li>
</ol>

<p>If the person taking possession of the vehicle is not the same as the person by or on whose behalf the statement was signed, the full name of that person should also be supplied (if known).</p>

<p><strong>Particulars of hiring agreements</strong></p>

<ol>
	<li>Number plate of vehicle hired under the hiring agreement</li>
	<li>Make and model of vehicle hired under the hiring agreement</li>
	<li>Number plate of any vehicle substituted for the above during the currency of the hiring agreement</li>
	<li>Make and model of any vehicle substituted for the above during the currency of the hiring agreement</li>
	<li>Time and date of any change of vehicle</li>
	<li>Time and date of commencement of original hiring period</li>
	<li>Expected time and date of expiry of original hiring period</li>
	<li>Time and date of commencement of authorised extension of hiring period*</li>
	<li>Expected time and date of expiry of authorised extension of hiring period*</li>
	<li>Actual time and date of return of vehicle (or when vehicle returned out of hours; time and date on which vehicle hire firm next opened for business)*</li>
</ol>

<p>* This requirement applies only to the vehicle hire firm's copy of the hiring agreement.</p>

<p>We will always consider the use of our discretion if you supply details and evidence of any mitigating circumstances.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="mitigation-and-discretion:-if-none-of-the-six-grounds-are-applicable-you-may-still-make-a-representation-to-us,-explaining-your-circumstances-and-we-will-carefully-consider-these.-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Make a representation-Mitigation and discretion: if none of the six grounds are applicable you may still make a representation to us, explaining your circumstances and we will carefully consider these."><span class="visually-hidden">Toggle accordion</span></div>
                <div id="mitigation-and-discretion:-if-none-of-the-six-grounds-are-applicable-you-may-still-make-a-representation-to-us,-explaining-your-circumstances-and-we-will-carefully-consider-these.-heading" class="accordion-heading">Mitigation and discretion: if none of the six grounds are applicable you may still make a representation to us, explaining your circumstances and we will carefully consider these.</div>
            </div>
            <div id="mitigation-and-discretion:-if-none-of-the-six-grounds-are-applicable-you-may-still-make-a-representation-to-us,-explaining-your-circumstances-and-we-will-carefully-consider-these.-content" class="start-hidden" role="region" aria-labelledby="mitigation-and-discretion:-if-none-of-the-six-grounds-are-applicable-you-may-still-make-a-representation-to-us,-explaining-your-circumstances-and-we-will-carefully-consider-these.-heading">
<p>If none of the six grounds are applicable you may still make a representation to us, explaining your circumstances and we will carefully consider these.</p>

<p>We will consider mitigating circumstances and in reaching any decision we will always consider the use of our discretion.</p>

<p>Below are examples of circumstances where we have rejected a representation:</p>

<ul>
	<li>Forgetting to pay the charge but with no mitigating circumstances for this</li>
	<li>Not knowing how to pay the charge</li>
	<li>Not meaning to enter the Congestion Charge Zone but entered as a result of getting lost</li>
	<li>Disapproval of the Congestion Charge</li>
	<li>Not knowing about the Congestion Charge</li>
	<li>Paying the charge via a third party, including and not limited to unofficial websites</li>
</ul>

<p>If these circumstances match yours then we recommend that you pay the PCN and remember to pay the charge in the future through official channels only. If you are a regular user you may wish to register for <a href="/modes/driving/auto-pay">Auto Pay</a>. Alternatively, you could pay for a monthly or annual charge which will include some free days.</p>

<p>We do not authorise any third-party website partners to purchase the charge. We are not responsible for any charge payment error or failure that may occur if you use such a website to purchase a charge or where they may purchase the charge on your behalf. We will consider any representations made in these instances on a case-by-case basis. In all cases you would need to consider and provide full supporting evidence that shows your payment, such as bank or credit card statement and any receipt showing the registration number and date of travel.</p>

<p>We are unlikely to accept any representations made where you state you paid the charge via a third party, including and not limited to unofficial websites where you cannot provide a receipt and proof you made the payment.</p>

<p>If, however there are mitigating circumstances which meant that you could not pay or had to enter the zone in an emergency then we may consider these so please make a representation. You will need to explain the circumstances that prevented you from paying and you should provide supporting evidence to demonstrate the emergency. For example, you may have been prevented from paying the charge due to a medical emergency or made a genuine attempt to pay the charge. Where this is the case, you should explain the circumstances as fully as possible and enclose as much evidence as possible to support your case.</p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div>
                                <ul>
                                    
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></div>
                                        <ul>
                                            
                                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">Make a representation</a></div>
                                            
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-an-appeal">Make an appeal</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Make a Statutory Declaration</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-agents-and-bailiffs">Enforcement agents and bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "You can challenge a Penalty Charge Notice (PCN) either online or in writing";}
        
            
        


 