
    
  



@{ViewBag.Title = "Make a Statutory Declaration";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></li>
                
            
                
                <li><span class="last-breadcrumb">Make a Statutory Declaration</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Make a Statutory Declaration</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your Penalty Charge Notice (PCN) remains unpaid after we have served the Charge Certificate we may apply to the Traffic Enforcement Centre (TEC) and register the penalty as a debt. </p>
        
      </div>
    
    
      <p>You will then be sent an Order for Recovery.</p>

<p><strong>Please note:</strong></p>

<ul>
	<li>The Statutory Declaration is a sworn oath</li>
	<li>You must accurately complete the form enclosed with the Order for Recovery</li>
	<li>It must be signed before a commissioner of oaths (eg a solicitor), an officer of the County Court appointed by a Judge to take affidavits, or a Justice of the Peace (at any Magistrates Court)</li>
	<li>There may be a cost for this but there is no charge if your signature is witnessed at a County Court</li>
</ul>

<p><strong>This is not a County Court Judgement and will not affect your credit rating.</strong></p>

<p>You should either pay the increased amount or, if applicable, make a Statutory Declaration before the end of the period of 21 days beginning with the date upon which the county court order is served.</p>

<p>Failure to take action will result in bailiffs being instructed.</p>

<p>A Statutory Declaration is not a representation or a complaint. You may only make a Statutory Declaration on one of the following three grounds:</p>

<ol>
	<li>You did not receive a PCN. This does NOT apply if you just forgot to pay it, mislaid it or forgot to make a representation. If you did not receive the original PCN because you moved address, ensure your Statutory Declaration includes details of your new address</li>
	<li>You made representations about the PCN to us (Transport for London), within 28 days of the service of the PCN, and you did not receive a Notice of Rejection. This only applies if you made a representation within the time limit to the correct address as provided on the PCN and never received a response from us. It does not apply if you received a reply you disagreed with or if we refused to consider your representation because it was late</li>
	<li>You appealed to&nbsp;London Tribunals&nbsp;against our decision to reject your representation, within 28 days of the service of the rejection notice, but you have had no response to your appeal. This only applies if you made an appeal within the time limit to London Tribunals and never received a response from <a href="http://www.londontribunals.gov.uk/">London Tribunals</a>. It does not apply if you received a reply you disagreed with or if London Tribunals refused to consider your appeal because it was late</li>
</ol>

<p><strong>Remember:</strong> if it is not signed and witnessed, or if you do not make it on one of the three grounds, the Court may refuse your Statutory Declaration.</p>

<p><strong>Do not send your Statutory </strong><strong>Declaration to us.</strong> A Statutory Declaration must be sent to and lodged directly with the TEC.&nbsp;They will consider and process your application and notify us directly. TEC will only deal with Statutory Declarations and cannot advise you on other matters or take PCN payments.</p>

<p><strong>Note:</strong> the Statutory Declaration is not a chance to complain or challenge the reason why the PCN was issued. Filing a false declaration knowingly and wilfully is a criminal offence under Section 5 of the Perjury Act 1911 and you may be imprisoned for up to two years or fined or both.</p>

<p>You have the right to challenge the registration of the debt by making an application to file a Statutory Declaration Out of Time. When submitting such an application you must explain your reasons for not completing the Statutory Declaration within the original time limit. These reasons may be accepted or rejected by the Local Authority. If they are rejected, then the case will be referred to a Senior Officer of the Court at the TEC who will determine whether the application should be granted or refused.</p>

<p>Please be aware that we will review each application submitted Out of Time and may challenge the application in the event that:</p>

<ul>
	<li>There is evidence that you knew of the PCN</li>
	<li>You have failed to update the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA</a> or <a href="http://www.nidirect.gov.uk/motoring">DVA</a> with your correct address</li>
	<li>You are still resident at the address to which correspondence was sent</li>
	<li>There are other grounds under which the application can be challenged</li>
</ul>

<p>For further guidance on submitting an application Out of Time, please refer to the <a href="http://www.justice.gov.uk/courts/northampton-bulk-centre/traffic-enforcement-centre/statutory-declarations" reddotinternalurl="http://www.justice.gov.uk/courts/northampton-bulk-centre/traffic-enforcement-centre/statutory-declarations">TEC website</a>&nbsp;or contact their helpdesk on 0300 123 1059.</p>

<p>If you have submitted an application to file a Statutory Declaration Out of Time, you should make the bailiff aware of your circumstances and provide them with evidence of the application.</p>

<h2>Outcome of Statutory Declaration</h2>

<p>If your Statutory Declaration is successful it does NOT mean that the PCN has been cancelled.</p>

<ul>
	<li>If your Statutory Declaration is accepted by TEC and was made on ground 1, "You did not receive a PCN", we will reissue the PCN allowing you to pay or make a representation. <strong>Do not ignore this PCN.</strong> (If you did not receive the original PCN because you moved address, ensure your Statutory Declaration includes details of your new address)</li>
	<li>If your Statutory Declaration is accepted by TEC and was made on ground 2, "You made representations about the PCN to Transport for London (TfL), within 28 days of the service of the PCN, and you did not receive a Notice of Rejection" then TfL may refer the matter to an Independent Adjudicator for a decision and the PCN will not automatically be cancelled. We will send you a copy of the evidence we are required to pass to London Tribunals and they will then contact you about the hearing and its outcome</li>
	<li>If your Statutory Declaration is accepted by TEC and was made on ground 3, "You appealed to London Tribunals against our decision to reject your representation, within 28 days of the service of the rejection notice, but you have had no response to your appeal" then we may refer the matter to an Independent Adjudicator for a decision and the PCN will not automatically be cancelled. We will send you a copy of the evidence we are required to pass to London Tribunals and they will then contact you about the hearing and its outcome</li>
</ul>

<p>This guide to the enforcement process and challenging the PCN is for information only. You may wish to seek your own legal advice.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div>
                                <ul>
                                    
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></div>
                                        <ul>
                                            
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">Make a representation</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-an-appeal">Make an appeal</a></div></li>
                                    
 
                                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Make a Statutory Declaration</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-agents-and-bailiffs">Enforcement agents and bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "When and how you can make a Statutory Declaration about your Penalty Charge Notice (PCN)";}
        
            
        


 