


@{ViewBag.Title = " TfL hosts UK's first ever Buggy Summit ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> TfL hosts UK's first ever Buggy Summit </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> TfL hosts UK's first ever Buggy Summit </h1>
        <div class="content-page-press-release">
        18 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is today hosting the UK's first ever Buggy Summit, designed to make travelling around London easier for everyone.</p>
<p>The summit brings together buggy manufacturers, retailers, parents' groups and others to discuss the challenges faced by both buggy and wheelchair users. The event also seeks to raise awareness of smaller, lighter, foldable buggies, which are better suited for use when travelling around London. This type of buggy could help to reduce conflict that can sometimes occur around the priority spaces for wheelchair users on buses and trains.</p>
<p>Manufacturers and parents' groups are being asked to consider how we can all work together to help overcome these challenges and shape future buggy designs.  Around the table will be industry experts, including Mothercare, John Lewis, Tesco, Babies R Us, Bugaboo and Netmums.</p>
<p>Parent, Paralympian and TfL Board member, Baroness Tanni Grey-Thompson DBE will attend the summit to explain the importance of accessible transport and how the choice of buggy design could help improve journeys for everyone.</p>
<p>Annie O'Leary, Editor-in-Chief of Netmums, will also attend the event, using this as an opportunity to explain parents experiences of accessing transport and how retailers and manufacturers could help improve buggy designs. Other speakers include Jacqui Adenihi-Williams, a Whizz-Kidz Ambassador.</p>
<p>All attendees will be asked to consider how to give people buying buggies the information they need to decide whats best for public transport.  After the event, TfL will work with the manufacturers and retailers to develop the best ideas.</p>
<p>Baroness Tanni Grey-Thompson DBE, said: 'As a parent and wheelchair user myself I understand it can be difficult at times for both to travel around London, and I hope the summit will help to enhance the travelling experience for both groups.'</p>
<p>'Having more buggies available, that are better suited for use on buses and trains, along with advice and support to help parents decide what to buy, will make a huge difference.  It will give wheelchair users the confidence to board buses knowing parents, grandparents and others who care for children are aware of how the type of the buggy they buy impacts how they use public transport.'</p>
<p>Mike Weston, TfLs Director of Buses, said: 'It is great to see some of the biggest retailers, manufacturers and representatives of parents gather together to discuss how we can make it easier for people using buggies and wheelchairs on all Londons transport services.  By highlighting to customers the benefits of buying small, light-weight, foldable buggies, which are best suited for use on public transport, we can help to reduce conflict and anxiety around the priority space on buses in particular. We are looking forward to working with buggy manufactures to help develop the best ideas from the summit.'</p>
<p>Annie OLeary, Editor-in-Chief, Netmums, said: 'I'm really pleased to be taking part in today's summit. Every day, people travelling with young children struggle to squeeze buggies onto busy buses and trains, or carry it up stairs at stations. By discussing the issues around travelling with children today, hopefully we can help make those journeys less of a struggle.'</p>
<p>The buggy summit forms part of a wider campaign to help buggy and wheelchair users better navigate Londons transport system.</p>
<p>ENDS<br />
Notes to editors<br />
1.    Wheelchair priority campaign:<br />
The summit forms part of a wider campaign to help buggy and wheelchair users better access public transport, other elements include:</p>
<ul>
    <li>New wheelchair priority posters</li>
    <li>On-board announcements around the priority space on buses, and advice on how other passengers can help those with buggy users make space for wheelchair users</li>
    <li>A video featuring helpful tips for using TfL services with a buggy</li>
    <li>Enhanced travel tips and information for pregnant women and those with buggies in the Not on the High Street Baby on Board catalogue</li>
    <li>New work to assess whether additional space can be made available on buses for buggy and wheelchair users</li>
</ul>
<p>2.    List of attendees:<br />
Retailers</p>
<ul>
    <li>John Lewis</li>
    <li>Mothercare</li>
    <li>Boots</li>
    <li>Tesco</li>
    <li>Argos</li>
    <li>Babies R us</li>
</ul>
<p>Manufacturers</p>
<ul>
    <li>Bugaboo</li>
    <li>Dorel EU (Quinny &amp; Maxi-Cosi)</li>
    <li>Bebecar</li>
    <li>Phil &amp; Teds</li>
    <li>Mountain buggy</li>
    <li>Silvercross</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February- TfL hosts UK's first ever Buggy Summit  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 