


@{ViewBag.Title = "Crossrail to become the Elizabeth line in honour of Her Majesty the Queen";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crossrail to become the Elizabeth line in honour of Her Majesty the Queen</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crossrail to become the Elizabeth line in honour of Her Majesty the Queen</h1>
        <div class="content-page-press-release">
        23 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Her Majesty the Queen today visited the under-construction Crossrail station at Bond Street as the Mayor of London, Boris Johnson MP, announced that the new railway will be known as the Elizabeth line in her honour.</p>
<p>The Elizabeth line will transform travel across the city, boosting the economy by billions of pounds and supporting thousands of new jobs and homes.</p>
<p>The Mayor was joined by Secretary of State for Transport, Patrick McLoughlin MP, London's Transport Commissioner, Mike Brown MVO, the Crossrail infrastructure company's Chairman, Terry Morgan, and Chief Executive, Andrew Wolstenholme, as they gave Her Majesty a tour of the Bond Street station site, which will see 24 trains per hour in each direction when the central section of the Transport for London (TfL) run railway opens in 2018.</p>
<p>The Queen was presented with a commemorative Elizabeth roundel, and met a wide range of people involved in the construction of Crossrail, Europe's largest infrastructure project. This included apprentices working on building the railway, engineers fitting out the station and drivers of the trains that will serve the line.</p>
<p>This marks the latest in a long-held association between the Royal family and London's Transport network.</p>
<p>Her Majesty became the first reigning monarch to travel on the London Underground in 1969, when she opened the Victoria line service.</p>
<p>In 1977, the Jubilee line was officially opened by HRH the Prince of Wales and was named to mark 25 years since Her Majesty's accession to the throne. In the same year, Her Majesty opened Heathrow Central station (Terminals 1 2 3) on the Piccadilly line.</p>
<p>In the aftermath of the 7 July terrorist attack on the London Underground, Her Majesty unveiled a plaque at Aldgate station in 2010 remembering the lives of the 52 victims who had died.</p>
<p>In 2013, the celebrations of London Underground's 150th anniversary saw The Prince of Wales and Her Royal Highness The Duchess of Cornwall take a trip on the Underground, and Her Majesty The Queen, His Royal Highness The Duke of Edinburgh and Her Royal Highness The Duchess of Cambridge visit Baker Street station.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Crossrail is already proving a huge success for the UK economy, and as we move closer to bringing this transformative new railway into service, I think it's truly wonderful that such a significant line for our capital, will carry such a significant name from our country. As well as radically improving travel right across our city, the Elizabeth line will provide a lasting tribute to our longest serving monarch.'</p>
<p>The Rt Hon Patrick McLoughlin MP said: 'Given Her Majesty the Queen's long association with UK transport, it is very fitting that this vital link across our capital will be named the Elizabeth Line in her honour. This is an example of British engineering at its best and will transform the way people travel across London and beyond from 2018, bringing better and faster journeys, while boosting jobs and driving economic growth.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: 'This new railway is absolutely vital to meeting the needs of the Capital's rapidly growing population. The Elizabeth line will transform the way people get across our city and will enable London to continue to succeed, contributing to the economic health of the entire country. In running this important new railway we will ensure that it serves as a fitting tribute to Her Majesty the Queen.'</p>
<p>Terry Morgan, Chairman, Crossrail Limited said: 'Construction for the new railway is now over 70 per cent complete and is being delivered on time and within budget. The Crossrail project is one of the most ambitious and complex infrastructure programmes ever undertaken in the UK, the scale of engineering being delivered under the capital is quite incredible. The opening of the Elizabeth line in 2018 will be a significant moment for London.'</p>
<p>Stretching from Reading and Heathrow in the west across to Shenfield and Abbey Wood in the east, the Elizabeth line will change the way people travel around London and the South East and add much needed new capacity to London's transport infrastructure. A fleet of brand new 200 metre long trains will run on the Elizabeth line, featuring nine walk-through carriages, air conditioning, CCTV and real-time travel information.</p>
<p>When the railway fully opens it will significantly increase the Capital's rail capacity, carrying over half a million passengers per day &#45; the same number of annual visitors to Buckingham Palace. Some 1.5 million people will have better access to the jobs and opportunities of London's main employment centres, and an estimated &pound;42bn will have been added to the economy of the United Kingdom.</p>
<p>Ends</p>
<p>Notes to Editors</p>
<p>The Elizabeth Line will deliver a direct connection between all of London's main employment centres, linking Heathrow with Paddington, the West End, the City and Canary Wharf. Trains will start operating in five phases:</p>
<ul>
    <li>Liverpool Street to Shenfield &#45; May 2017</li>
    <li>Heathrow to Paddington (main line platforms) &#45; May 2018</li>
    <li>Paddington (Crossrail platforms) to Abbey Wood, through the new central tunnels &#45; December 2018</li>
    <li>Paddington (Crossrail platforms) to Shenfield &#45; May 2019</li>
    <li>Full through service (including services to Reading) &#45; December 2019</li>
</ul>
<ul>
    <li>Over 500 apprentices, whose training and development at the Crossail Tunnelling and Underground Construction Academy (TUCA) in Ilford, East London, have helped build Crossrail.</li>
    <li>Two in five Crossrail apprenticeships (44%) has been filled by people that were identified as being not in work, a success rate that is almost double the UK wide average.</li>
    <li>Beyond apprenticeships, more than 900 unemployed jobseekers have secured jobs on the Crossrail project and the industry-leading TUCA, which was promoted and delivered by</li>
    <li>Crossrail, has provided training to more than 2,500 unemployed jobseekers, allowing them to gain basic construction qualifications.</li>
    <li>Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Crossrail to become the Elizabeth line in honour of Her Majesty the Queen -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 