


@{ViewBag.Title = "Ex-Service members to benefit as TfL signs the Armed Forces covenant";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Ex-Service members to benefit as TfL signs the Armed Forces covenant</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Ex-Service members to benefit as TfL signs the Armed Forces covenant</h1>
        <div class="content-page-press-release">
        11 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100 new employment opportunities to ex-service members.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) and its suppliers are offering more than 100 new employment opportunities to ex-service members.</p>
<p>The announcement follows the success of TfL's scheme that has already helped 27 ex-Service members back into full-time civilian employment within the transport sector in London.</p>
<p>London's Transport Commissioner, Mike Brown MVO, today confirmed TfL's ongoing commitment to supporting the Armed Forces by signing the Armed Forces Covenant with Minister for Defence Personnel and Veterans, Mark Lancaster TD MP. The covenant was signed at TfL's annual Industry Day at The Crystal in the Royal Docks, which was attended by more than 100 former members of the Armed Forces currently looking for employment.</p>
<p>The signing of the covenant is in recognition of the value that serving personnel, reservists, veterans and military families bring to TfL as an organisation, and in turn, to London as a whole.</p>
<p>Since 2012, TfL and its suppliers have created 28 paid work placements to help ex-Armed Forces members who may be wounded, injured or sick, back into employment. Of the 28 who have taken part, 27 have gone on to full time employment within the transport industry.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Our Armed Forces perform a sterling job serving our nation, and I've long believed that they deserve our support in every possible way. It's why I introduced free travel across the capital for war veterans and serving personnel, and it's why we have worked so hard to maximise ex-Service members' opportunities at TfL where their skills match up so well.'</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `Our ex-Service placement scheme has been extremely successful, and we're delighted that, together with our suppliers, we're going to help even more former Armed Forces members back into employment. We have an engineering skills shortage in the transport industry and the scheme is helping us benefit from the skills these brave men and women gain during their careers in the Armed Forces.</p>
<p>`The signing of the Armed Forces covenant reflects the contribution that ex-Service members have been making to the transport network for decades. We have a long standing relationship with the Armed Forces, dating back to the First World War when bus drivers drove troops to and from the front line.'</p>
<p>Many of the people who join TfL come directly from a career in the Armed Forces and still have an active involvement with the Reserve Forces.</p>
<p>John Wilson, a Traffic Controller at TfL, said: `As a young boy, I always wanted to join the Army and it was a dream come true when I did in 2008.  In 2012, whilst on patrol in Helmand Province, Afghanistan, I was hit by an IED which resulted in me losing both my legs. I was medically discharged from the Army in 2014 and have struggled to find work because employers just look at me and think I won't be up to the job.</p>
<p>`I was speaking to the Career Transition Partnership who told me about TfL's scheme which sounded like a great opportunity. I was offered a place on the scheme and joined in January 2016. I'm now working in their Traffic Control team and I absolutely love it. I never saw myself working in an office but we've got a really good team who make every day enjoyable.'</p>
<p>Minister for Defence Personnel and Veterans, Mark Lancaster, said: `I'd like to thank Transport for London for declaring their support for our Armed Forces and recognising the contribution they make to this country. TfL is already a strong supporter of our Armed Forces community, offering free travel to serving personnel in uniform and free travel for veterans through the Veterans Oyster photo card. This support makes a real difference. And now, having signed the Armed Forces Covenant, they are making a commitment to continue and grow this support &#45; for example, offering TfL insight days for ex-service personnel, offering assisted entry routes into TfL and increasing support for their Reservists.'</p>
<p>TfL's suppliers who have been creating roles for ex-Service members, include Siemens PLC, Imtech ICT Ltd, Telent Limited, Cubic Transportation systems, Ringway Jacobs and CSC.</p>
<p>Niall Ahern, Employment Engagement Director at the Reserve Forces' and Cadets' Association for Greater London, said: `TfL already shows great support for the Armed Forces family, recruiting service leavers, supporting Reservists, providing discounted travel for the Armed Forces and pulling out the stops to back the Poppy Appeal. It's great to see Commissioner, Mike Brown, taking that support a step further by signing the Armed Forces Covenant and backing that up with a set of concrete promises for further action.</p>
<p>`It's also a recognition of the value TfL gets from the skills and experience gained by employing both Reservists and people leaving the Armed Forces. Public transport in London has a proud history of support for the forces, dating back to the London bus drivers who ferried troops to the front line in 1914, today is another demonstration of that continuing commitment.'</p>
<p>Since November 2008, war veterans have been able to travel on the Tube, DLR, Overground, TfL Rail, London buses and trams for free with a Veterans Oyster photocard as part of the Mayor's Veterans concessionary travel scheme.</p>
<p>More than 7,800 Veterans Oyster photocards have been issued. In addition, in 2012, the Mayor added to this commitment by introducing free travel for all armed forces personnel travelling in uniform of London Underground, bus, Tram, DLR, TfL Rail and London Overground.</p>
Notes to Editors<br />
<ul>
    <li>Everyone on the TfL ex-service scheme is paid a minimum of the London Living Wage.</li>
    <li>TfL's new staff network group will be called the Reservists and Ex-Military Staff Network Group</li>
    <li>People may be eligible for a Veterans Oyster photocard if they are:</li>
</ul>
<ul>
    <li>Receiving ongoing payments - in your name - under the War Pensions Scheme: this includes widows, widowers and dependants</li>
    <li>Receiving Guaranteed Income Payment under the Armed Forces Compensation Scheme - in your name: this includes widows, widowers and dependants</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Ex-Service members to benefit as TfL signs the Armed Forces covenant -->

 
 
        
        
            @{ViewBag.Description = "More than 100 new employment opportunities to ex-service members.";}
        
        


 