


@{ViewBag.Title = "Julian Clary teams up with Transport for London for World Book Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Julian Clary teams up with Transport for London for World Book Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Julian Clary teams up with Transport for London for World Book Day</h1>
        <div class="content-page-press-release">
        24 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To celebrate World Book Day TfL has teamed up with author and all-round entertainer Julian Clary to offer a unique story time experience on the Emirates Air Line cable car.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The cable car is a great attraction for children and families with spectacular 360 degree aerial views of the Capital and this will be a fantastic event for the lucky winners to enjoy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Danny Price</div>
            <div class="quotee-job-title">Head of Emirates Air Line</div>
        </div>
</div>

 <div class="on-this-page">
<p>On Wednesday 2 March, the stand-up comedian and author will read extracts from his new children's book, The Bolds to the Rescue, to three lucky competition winners whilst they view the sights of London from 90 metres above the River Thames.</p>
<p>Boarding at the Emirates Greenwich Peninsula Terminal, the winning children will enjoy a 20 minute exclusive preview to the book before its official release on World Book Day.</p>
<p>The winners will be encouraged to get into the animal spirit by dressing up as their favourite animal. A photo with Julian and special merchandise from the book will also be given as prizes.</p>
<p>The Bolds to the Rescue is about an extraordinary family of hyenas hiding their identity and living as humans in Teddington in Middlesex.  The hyenas fear to have bitten off more than they can chew when they take in a couple of race horses who are on the run and lots of other animal waifs and strays.</p>
<p>The book will be published by Andersen Press on World Book Day, the 3 March, ahead of a tour by Julian that will celebrate his 30 years as a renowned comedian.</p>
<p>Now in its 19th year, World Book Day aims to encourage children to explore the pleasure of reading and every child in the UK and Ireland will be given a voucher to spend on books.</p>
<p>Danny Price, Head of Emirates Air Line, said: 'We're thrilled to be working with Julian Clary to host an intimate storytelling of this brilliant children's book to celebrate World Book Day.</p>
<p>'The cable car is a great attraction for children and families with spectacular 360 degree aerial views of the Capital and this will be a fantastic event for the lucky winners to enjoy.'</p>
<p>Julian Clary, comedian and novelist, said: 'How exciting - to read parts of my new book, The Bolds to the Rescue, in such a scenic location. World Book Day is a great way to encourage children to enjoy reading, and I hope this event is a day to remember for the lucky winners.'</p>
<p>Those who would like to take part have until midnight on 28 February to email their answer to the competition question. Three runners-up will receive a signed copy of the book.</p>
<p >To enter the competition, simply answer this question!</p>
<p>What animal are the Bolds?</p>
<p>A). Hyenas</p>
<p>B). Cats</p>
<p>C). Monkeys</p>
<p>Please email your answer to <a href="mailto:EALSkyHighStorytelling&#64;tfl.gov.uk">EALSkyHighStorytelling&#64;tfl.gov.uk</a> by midnight on the 28 February with your name, your child's name and age and the best phone number to contact you on.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Terms and conditions can be found at: <a href="https://tfl.gov.uk/corporate/terms-and-conditions/competitions">https://tfl.gov.uk/corporate/terms-and-conditions/competitions</a>. By sending your entry to the official entry email address, you are deemed to have accepted the Terms and Conditions and confirm that you are free between 16.30 and 17.30 on 2 March 2016</li>
    <li>The Bolds to the Rescue (Andersen Press, RRP &pound;6.99) is released 3 March 2016. Julian's tour runs nationwide from 25 March&#45;27 May, tickets available via <a href="http://www.julianclary.co.uk/">www.julianclary.co.uk</a></li>
    <li>A parent/guardian aged 18 or over will need to accompany children at all times and proof of age may be required on the day. Only one parent will be allowed to attend, due to the space available in the cabin</li>
    <li>Please note that the Emirates Air Line cable car goes up to 90 metres in the air at its highest point, so it is not advised to enter the competition if you, or your child, are afraid of heights</li>
    <li>Entry to competition is conditional to agreeing that you are available on the 2 March from 4.30pm for the event and consent for your child to be filmed/photographed for media purposes such as use in local and national media outlets</li>
    <li>By sending your entry to the official entry email address, you are deemed to have accepted the Terms and Conditions and confirm that you are free on the 2 March 2016 between 16.30 and 17.30</li>
    <li>It is recommended that children applying are aged 7+, as this is the recommended age for the book</li>
    <li>The winner will be contacted on 29 February 2016</li>
    <li>Find out more about the Emirates Air Line here - <a href="http://tfl.gov.uk/emiratesairline">https://tfl.gov.uk/emiratesairline</a></li>
    <li>World Book Day was designated by UNESCO as a worldwide celebration of books and reading, and is marked in over 100 countries around the globe</li>
    <li>World Book Day is a partnership of publishers, booksellers and interested parties who work together to promote books and reading for the personal enrichment and enjoyment of all.  A main aim of World Book Day in the UK and Ireland is to encourage children to explore the pleasures of books and reading by providing them with the opportunity to have a book of their own</li>
    <li>To mark the day, school children are entitled to receive a World Book Day &pound;1 Book Token (or equivalent &euro;1.50 Book Token in Ireland) supplied by National Book Tokens Ltd. The &pound;1 Book Token can be exchanged for one of ten(eleven in Ireland) specially published World Book Day &pound;1 Books, or is redeemable against any book or audio book of their choice costing &pound;2.99 or more at a participating bookshop or book club. The World Book Day &pound;1 Book Token will be valid from 29 February to 27  March 2016</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Julian Clary teams up with Transport for London for World Book Day -->

 
 
        
        
            @{ViewBag.Description = "To celebrate World Book Day TfL has teamed up with author and all-round entertainer Julian Clary to offer a unique story time experience on the Emirates Air Line cable car.";}
        
        


 