


@{ViewBag.Title = "Major improvement works at Paddington paves the way for Crossrail";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major improvement works at Paddington paves the way for Crossrail</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major improvement works at Paddington paves the way for Crossrail</h1>
        <div class="content-page-press-release">
        19 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Major improvement works at Paddington Tube station are set to begin in April in order to boost capacity at the station, renew the escalators and to construct a new passenger tunnel in preparation for the arrival of Crossrail.</p>
<p>The work is the latest part of a huge programme of modernisation of London Underground that is seeing major stations, trains, track and signalling being updated or replaced to provide more capacity and reliability for a growing city.</p>
<p>The improvement at Paddington will mean that Bakerloo line trains will not stop at the station from Saturday 2 April until mid-August. During this time, Transport for London (TfL) engineers will carry out a major renewal of both of the heavily-used escalators serving the Bakerloo line. By replacing virtually every component, their life will be extended by a further 20 years and ensure a more reliable service in the coming years as the Tube carries ever more passengers.</p>
<p>Engineers will also carefully dig a new 165m tunnel underneath the station to enable passengers to interchange between the Bakerloo line and new Crossrail platforms, which will become operational from 2018. The new pedestrian link will incorporate escalators, lifts, stairs and new passageways in order to make interchanging between the Tube and Crossrail as easy as possible for passengers.</p>
<p>Currently around 165,000 customers use Paddington Tube station daily &#45; with 82,000 people using the Bakerloo line. When TfL-run Crossrail arrives from 2018, the number of customers using TfL services at Paddington is expected to be 248,000.</p>
<p>TfL will re-open the platforms in time for the Notting Hill Carnival on Sunday 28 and Monday 29 August.</p>
<p>David Waboso CBE, London Underground's Capital Programmes Director, said: `Paddington Tube station serves as a major interchange and when TfL-run Crossrail arrives in 2018, around 248,000 customers a day will be using our services.</p>
<p>`We try to carry out as much of our improvement work as possible when the Tube is closed, but in this case need a closure period due to the nature and scale of the work. In order to keep disruption for passengers to a minimum, we are combining Bakerloo line escalator and Crossrail works so that services are non-stopping for the shortest time possible. We thank customers for their patience while we carry out the vital modernisation of this station.'</p>
<p>While Bakerloo line trains are not stopping at Paddington Tube station, customers can still access the Circle and District lines via the ticket halls from the Network Rail concourse and Praed Street. Access to the separate Circle and Hammersmith &amp; City line ticket hall is unaffected.</p>
<p>For central London, customers are advised to take:</p>
<ul>
    <li>the Circle or Hammersmith &amp; City lines to Baker Street for alternative Tube routes</li>
    <li>the District or Circle line to Notting Hill Gate and change for the Central line</li>
    <li>the District line to Earl's Court and change for alternative Tube routes</li>
    <li>the Circle line via Bayswater</li>
    <li>a short signposted walk or use local buses from stop H on Praed Street to nearby Edgware Road for the Bakerloo line</li>
</ul>
<p>For Bakerloo line stations north of Paddington customers are advised to take a short signposted walk, or use local bus route 46, to Warwick Avenue station. Travelcards are valid for travel on all TfL buses.</p>
<p>Customers can change between the Bakerloo and Circle and Hammersmith &amp; City lines at Baker Street, and between the Bakerloo and Circle and District lines at Edgware Road (which has an out of station interchange).</p>
<p>Both Heathrow Express and Heathrow Connect trains terminate at Paddington station. Customers are advised to take the Circle, Hammersmith &amp; City or District lines to or from Paddington.</p>
<p>The next major phase of the London Underground modernisation work will bring faster, more frequent and more reliable journeys to millions of passengers who use the Circle, District, Metropolitan and Hammersmith &amp; City lines.</p>
<p>A vital modernisation of the signalling and train control systems for those lines is expected to begin later this year and the main benefits will be delivered by 2022. This will mean the frequency of trains running during peak periods will increase to 32 trains per hour in central London - a train every two minutes - with frequency increases at other times as well. Line upgrades are at the core of LU's investment programme, which will deliver more than 30% increase in capacity.</p>
<p>Redevelopment work to increase capacity at key stations and make them step-free is also underway at a number of stations including Victoria, Tottenham Court Road and Bond Street. More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms, and improved seating and lighting.</p>
<br />

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Major improvement works at Paddington paves the way for Crossrail -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 