


@{ViewBag.Title = "Major improvements proposed for Hammersmith gyratory ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major improvements proposed for Hammersmith gyratory </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major improvements proposed for Hammersmith gyratory </h1>
        <div class="content-page-press-release">
        04 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A public consultation on plans to boost the safety of Hammersmith gyratory has begun. Transport for London (TfL) and Hammersmith &amp; Fulham Council are keen to hear Londoner's views on a new road layout that would significantly improve cyclist safety on one of London's 33 most intimidating junctions. The work would also include a new bus lane that would improve the reliability of service for customers.</p>
<p>The transformation of Hammersmith gyratory would include:</p>
<ul>
    <li>A segregated two-way cycle track on the north side of Hammersmith gyratory</li>
    <li>Cyclist-specific signals at junctions to separate cyclists and motorised vehicles</li>
    <li>An increase of cycle parking</li>
    <li>Pedestrian countdown signals at the crossings of King Street, Beadon Road, Shepherd's Bush Road, Queen Caroline Street, Hammersmith Road and Butterwick</li>
    <li>Widened sections of footway on King Street to provide more space for pedestrians</li>
    <li>A new bus lane on Beadon Road between Glenthorne Road and Hammersmith Broadway to improve bus reliability</li>
</ul>
<p>Improving conditions for cyclists on the Hammersmith gyratory would remove a large barrier to cycling along a key commuter corridor in west London, and improve local journey times. The work is part of a &pound;4bn Road Modernisation Plan overseen by the Mayor and TfL that aims to radically transform the way the Capital's roads and public spaces are used.</p>
<p>The Mayor of London, Boris Johnson, said: `We want to completely overhaul this stretch of road and make some serious improvements for pedestrians, bus users and cyclists. Our proposals would greatly improve the area for everyone using it and I hope we'll see a positive response to our consultation.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `We're in the process of modernising roads across the Capital, balancing the needs of all users to keep pace with a changing London. By redesigning Hammersmith gyratory, we can remove a barrier not only to cyclists but those who might want to cycle in west London. Our proposed safety improvements could transform the area and help deliver our aim of eradicating death and serious injury from London's roads. We look forward to hearing people's views on our proposals.'</p>
<p>Cllr Wesley Harcourt, H&amp;F Council's Cabinet Member for Environment, Transport and Residents' Services, said: `We are determined to make our roads safer for everyone who uses them. Many cyclists find the Hammersmith gyratory intimidating and addressing this was one of the key elements of our Cycling Strategy launched last year. These new proposals would provide riders of all abilities with a safer, more direct route.'</p>
<p>The improvement work is part of TfL's &pound;4bn Road Modernisation Plan to radically transform the way the Capital's roads and public spaces are used. Work on the improvements at Hammersmith, subject to consultation, could begin in 2017. It is separate to a long term aim of burying the Hammersmith flyover. Members of the public can respond to the Hammersmith gyratory consultation, which closes on Tuesday 15 March, at: <a href="http://tfl.gov.uk/Hammersmith-Gyratory.">tfl.gov.uk/Hammersmith-Gyratory.</a></p>
<p>TfL keeps London's traffic moving through a variety of methods. Technology, such as Split Cycle Offset Optimisation Technique (SCOOT) - proven to reduce delays by up to 12 per cent and being expanded across London, is used. Up-to-the-minute traffic information is provided via digital road signs, TfL's traffic status page and TfL's Twitter feeds to better manage the network. TfL also has the ability to control temporary traffic lights from its central traffic control centre, to help further ease traffic and minimise disruption.</p>
<p>- Ends &#45;</p>
<p>Notes to Editors:</p>
<ul>
    <li>Pedestrian Countdown shows exactly how much time is left to cross the road, meaning pedestrians are less likely to hesitate or stop in the middle of the road. An off-street trial of the technology demonstrated that more than 85 per cent of pedestrians felt safer and more confident when crossing the road with countdown</li>
    <li>Cyclist journeys through the area will be improved by up to a minute</li>
    <li>The sessions will take place at St Paul's Church, Hammersmith, Queen Caroline Street, London, W6 9PJ on:<br />
    •	Thursday 18 February 15:00-19:00<br />
    •	Wednesday 24 February 9.00-12.00<br />
    •	Saturday 5 March 09:00-12:00</li>
</ul>
<ul>
    <li>For live information on how London's roads are operating, road users can check their travel at <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> and <a href="http://tfl.gov.uk/bus/status">tfl.gov.uk/bus/status</a> before they travel and follow TfL's twitter feeds - &#64;TfLTrafficNews and &#64;TfLBusAlerts - to plan their journeys and avoid disruption. For information on the projects set to modernise London's roads visit <a href="http://tfl.gov.uk/roadplan">tfl.gov.uk/roadplan</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Major improvements proposed for Hammersmith gyratory  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 