


@{ViewBag.Title = "Mayor launches world-leading bus safety programme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches world-leading bus safety programme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches world-leading bus safety programme</h1>
        <div class="content-page-press-release">
        01 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Innovative six-part programme being created to improve safety across the network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm proud that we have one of the safest bus networks in the world, but I'm determined to see it get even better. By creating this world-leading programme we will be placing an even greater focus on safety, making the most of the latest technology and bold initiatives to help keep passengers and vulnerable road users safe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Design, training, incentives, support, reporting and transparency key to improvements</li>
    <li>Includes a new safety standard bringing the latest technology to the bus fleet</li>
</ul>
<p>The Mayor of London and Transport for London (TfL) have today launched a world-leading programme to drive major improvements in safety across London's bus network.</p>
<p>Although the Capital's bus fleet is one of the safest in the world, with 2.5 injuries for every million passenger journeys, the Mayor and TfL are committed to reducing collisions further and have created this brand new six-point programme to improve safety.</p>
<p>The programme will bring together the newest technology, training, incentives, support, reporting and transparency right across the network, contributing to TfL's work towards meeting the Mayor's target of halving the number of people killed or seriously injured on the Capital's roads by 2020.</p>
<p>The programme will:</p>
<ol>
    <li>Develop a world leading bus safety standard for London &#45; A range of innovative new technologies are currently being considered including collision avoidance systems, which utilise sensors to warn drivers of potential dangers and trigger Automatic Emergency Braking systems, and Intelligent Speed Adaption, which is currently being trialled on our buses.  Other potential design innovations include improving wing mirror design and windscreen glazing to reduce the impact of any collision.  The latest safety technologies and products will be developed and tested by manufacturers on London Buses throughout 2016 and incorporated into new buses delivered from September 2017 in order to help avoid and mitigate the impact of collisions involving buses.</li>
    <li>Update TfL's bus contracts to include new safety incentives &#45; Over the next three months TfL will be updating their bus contracting system and will develop incentives to encourage an even greater focus on safety.  Through a series of workshops TfL will look at how incentives can be used to help reduce the number of people killed or seriously injured (KSIs) on the London Bus network.</li>
    <li>Provide a UK-first Incident Support Service for those affected by fatal or serious injuries &#45; In order to provide a better service to those affected by a fatal or life changing injury on the transport network, including a bus collision, TfL is creating a UK first Incident Support Service within its Customer Services Team, which will be available from April 2016.  Immediately after an incident has taken place, the service will be available to offer emotional and practical support and provide a single, named point of contact at TfL.</li>
    <li>Publish additional bus collision data and making it more accessible &#45; TfL began publishing bus safety statistics on its website in June 2014 to further improving transparency for customers and other stakeholders.  Initially, details of incidents resulting in a fatality or injury requiring hospital attendance were published.  Last year, TfL extended this to publication of all incidents resulting in any form of injury.  As part of the Bus Safety Programme, from spring TfL will publish additional bus collision data that will break the most serious collisions down by road user group.  On a dedicated web page TfL will also make information more accessible and provide graphs illustrating long-term trends.  The new web page will also link to the London Collision Map, which highlights when and where bus collisions have occurred.</li>
    <li>Provide greater transparency on bus collision investigations &#45; For the first time, TfL will clearly set out how fatal and serious injury collisions on the bus network are investigated and the processes that are followed by TfL, the bus operators and the police.  In addition, TfL will be reporting annually on the legal outcome of all fatal and serious bus collisions.</li>
    <li>Provide a new safety training module to all 24,700 drivers &#45; TfL continues to invest in the most stringent bus driver training in the UK.  By the end of 2016 bespoke 'In the Zone' training will have been delivered to all 24,700 bus drivers in the Capital.  In the Zone raises drivers' awareness of the risks that we take when we're out on the road, whether that be as a driver of a vehicle, or as a vulnerable road user such as a pedestrian, cyclist or motorcyclist.  It is hoped that over time the training will encourage drivers to make small but significant adjustments in the way they assess risks and that this will lead to a reduction in the number of incidents on London's roads.  The training will form part of the City and Guilds qualification that is compulsory for all new drivers and replaces the BTEC qualification from April 2016.  TfL is also exploring pre-qualification testing for driver recruitment to be piloted from spring 2016.</li>
</ol>
<p>The Mayor of London, Boris Johnson MP, said: </p>
<p>'I'm proud that we have one of the safest bus networks in the world, but I'm determined to see it get even better.  By creating this world-leading programme we will be placing an even greater focus on safety, making the most of the latest technology and bold initiatives to help keep passengers and vulnerable road users safe.  Through this we will be able to make real progress towards my target of significantly reducing the number of people killed and seriously injured on our roads.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'The Capital's bus network is very safe and we are determined to take action to make it even safer.  The Bus Safety Programme will examine a range of improvements, from vehicle design to bus driver training, from giving more information to the public to provision of support to those affected by serious bus incidents.  We will also provide more information about bus safety and the outcomes of investigations into the most serious incidents.'</p>
<p>Beccie D'Cunha, Chief Executive Officer of RoadPeace, said: </p>
<p>'RoadPeace welcomes this innovative and wide ranging bus safety programme from the Mayor and Transport for London.  It demonstrates a continued commitment to the safety of all road users.  We particularly welcome the programme's focus on tackling danger at source, as well as greater transparency around casualty data and collision investigation.  The commitment to support victims is also ground breaking and should inspire other authorities to follow.'</p>
<p>Sarah Hope, victim of a collision in 2007 in which she was seriously injured, her mother died and her daughter lost her leg said </p>
<p>'I have been in talks with TfL for nearly a year now and they have listened with open hearts and minds to the needs of victims of serious collisions in London. They have heard of the impact on my family and they have set about to make vital changes. I am proud to be working with TfL because I can see their commitment to making London safer and I believe the Incident Support Line will give a voice of kindness, offering the practical and emotional support people need when they are at their most vulnerable.'</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>There are 8,900 buses in the Capital's fleet and around 6.5 million bus journeys are made every day across 700 different bus routes.</li>
    <li>Detailed bus safety data is published each quarter at: <a href="https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data">https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data</a></li>
    <li>The data is not considered to offer a reliable means of comparing individual bus routes or bus operating companies in relation to safety; this is because key factors such as frequency, traffic volumes and bus types used vary between routes and operators.</li>
    <li>The Mayor and TfL announced their new approach to road safety through tackling the sources of road danger, and  updated their six key commitments to improve road safety in October 2015 in 'Safe London Streets: Our approach' and announced the new approach to road safety through tackling the sources of road danger. <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london">https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london</a></li>
    <li>The commitments are:</li>
</ul>
<ol>
    <li>To lead the way in achieving a 50 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury.</li>
    <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions.</li>
    <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes.</li>
    <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk.</li>
    <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safe.</li>
    <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information.</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Mayor launches world-leading bus safety programme -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches world-leading bus safety programme ";}
        
        


 