


@{ViewBag.Title = "New freight facility to cut congestion and improve road safety around The Shard";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New freight facility to cut congestion and improve road safety around The Shard</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New freight facility to cut congestion and improve road safety around The Shard</h1>
        <div class="content-page-press-release">
        19 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has introduced long-term, congestion easing measures to relieve traffic obstructions and illegal stopping around The Shard development.</p>
<p>In collaboration with the London Bridge Working Group, new vehicle holding areas have been created on Great Dover Street and St Thomas Street to allow freight and construction vehicles to park and wait until they have clear access to the buildings or sites they require access to.</p>
<p>Previously, vehicles servicing The Shard and other nearby developments had been illegally stopping and obstructing the roads while working in the area. This was exacerbated when a number of vehicles were trying to access sites at the same time.</p>
<p>The freight holding areas remove unnecessary congestion, improving safety for all road users. To ensure drivers are using the new facility, TfL's officers have been carrying out regular visits to the sites, engaging with companies receiving deliveries, and moving on illegally parked vehicles to prevent unnecessary congestion in the area.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer of Surface Transport, said: `We are committed to any initiative that helps to ease congestion and create a safer environment for all road users. London's boom in construction and population means we have to find new ways to accommodate the increasing numbers of freight and delivery vehicles. Areas such as around The Shard can become congested quite easily unless we do something straight away.</p>
<p>`The solution that was found &#45; providing nearby space for vehicles to park up and wait &#45; was fairly straight-forward and yet invaluably effective in addressing congestion and safety in the area.'</p>
<p>In addition to the new holding areas, further temporary improvements to address freight congestion and safety around The Shard area have included:</p>
<ul>
    <li>Relocation of the taxi rank at Fielden House to the opposite side of the road, which predominately serves as a feeder to the rank opposite The Shard on St Thomas Street</li>
    <li>Relocation of the pedestrian crossing to the east side of the site on St Thomas Street</li>
    <li>Additional red lines to prevent stopping in the street and suspension of the loading bay outside The Shard to discourage vehicles stopping</li>
</ul>
<p>TfL is currently delivering an unprecedented investment to improve London's road network. The Mayor's &pound;4bn Road Modernisation Plan is the largest investment in the Capital's roads in a generation.</p>
<p>The plan includes &pound;1bn investment in cycling, new major projects to transform dozens of key junctions across the city, the rollout of world-leading technological innovations to get more capacity out of the road network, and an urgently-needed maintenance and renewals programme for London's aging road network.</p>
<p>While this work takes place, and as developments continue to boom across the Capital, London's traffic is kept moving through the use of technology such as Split Cycle Offset Optimisation Technique (SCOOT), which is proven to reduce delays by up to 12 per cent and is being expanded across London.</p>
<p>TfL's 24 hour traffic control centre has the ability to adjust traffic lights centrally to ease congestion and minimise disruption and up to the minute information is provided via digital road signs, TfL's traffic status page and TfL's Twitter feeds to help road users plan their journeys.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<ul>
    <li>The London Bridge Working Group consists of the London borough of Southwark, local developers, local residents and business representatives.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-New freight facility to cut congestion and improve road safety around The Shard -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 