


@{ViewBag.Title = "TfL publishes latest bus safety statistics";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL publishes latest bus safety statistics</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes latest bus safety statistics</h1>
        <div class="content-page-press-release">
        16 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today published bus safety statistics for the final quarter of 2015 (October to December), which show a slight reduction in the rate of injuries on the bus network.</p>
<p>Between October and December 2015, 1,488 people were injured in incidents involving buses, compared with 1,491 in the previous three months (July to September 2015). Eighty-seven per cent of the injuries in the period were classified as minor, of these 84 per cent were treated at the scene of the incident and did not require hospital treatment.</p>
<p>This means that the casualty rate remains low at 2.6 injuries per million passenger journeys. Over the same three month period there were around 600 million journeys on the Capital's bus network and London buses travelled more than 100 million kilometres in passenger service.</p>
<p>The overall trend for collisions involving a bus or coach where someone has been killed or seriously injured has fallen by 48 per cent over the last decade.</p>
<p>Deputy Mayor for Transport, Isabel Dedring, said: `We've seen real progress in bus safety over the last few years as we've introduced 20mph zones across the city and trialled a range of cutting-edge technology on our buses. Although we have one of the safest bus networks in the world, we need to continue to drive improvements and meet the Mayor's target of a 50 per cent reduction in the number of people killed or seriously injured on the Capital's roads by 2020. That's why we're creating a world-leading programme to place an even greater focus on safety and help keep passengers and vulnerable road users safe.'</p>
<p>Mike Weston, TfL's Director of Buses, said: `The vast majority of journeys on the bus network are made without incident, however safety is a top priority and we are determined to reduce the number of people who are injured. To this end we have recently launched a Bus Safety Programme that seeks to reduce the number of incidents and lessen the impact of them when they do happen. The publication of these statistics shows our continued commitment to transparency and achieving those goals.'</p>
<p>The six-strand Bus Safety Programme brings together the newest technology, improved training, contract incentives, support for victims and increased reporting and transparency.</p>
<p>The Bus Safety Programme will:</p>
<ol>
    <li>Develop a world leading bus safety standard for London &#45; The latest safety technologies and products will be developed and tested by manufacturers on London Buses throughout 2016 and incorporated into new buses delivered from September 2017 in order to help avoid and mitigate the impact of collisions involving buses.</li>
    <li>Update TfL's bus contracts to include new safety incentives &#45; Over the next three months TfL will be updating their bus contracting system and will develop incentives to encourage an even greater focus on safety by bus operators.</li>
    <li>Provide a UK-first Incident Support Service for those affected by fatal or serious injuries &#45; In order to provide a better service to those affected by a fatal or life changing injury on the transport network, including a bus collision, TfL is creating a UK first Incident Support Service within its Customer Services Team, which will be available from April 2016.</li>
    <li>Publish additional bus collision data and making it more accessible &#45; TfL began publishing bus safety statistics on its website in June 2014 to further improving transparency for customers and other stakeholders. As part of the Bus Safety Programme, from spring TfL will publish additional bus collision data that will break the most serious collisions down by road user group.</li>
    <li>Provide greater transparency on bus collision investigations &#45; For the first time, TfL will clearly set out how fatal and serious injury collisions on the bus network are investigated and the processes that are followed by TfL, the bus operators and the police.</li>
    <li>Provide a new safety training module to all 24,700 drivers &#45; TfL continues to invest in the most stringent bus driver training in the UK. By the end of 2016 bespoke 'In the Zone' training will have been delivered to all 24,700 bus drivers in the Capital. &quot;In the Zone&quot; raises drivers' awareness of the risks that road users take, whether that be as a driver of a vehicle, or as a vulnerable road user such as a pedestrian, cyclist or motorcyclist.</li>
</ol>
<p>TfL is committed to syndicating open data to third parties and to engaging developers to deliver and innovate using open data. Over 6,000 developers have registered for our open data, consisting of around 360 feeds and APIs (Application Programming Interface) focused on enabling provision of high-quality travel applications, tools and services. Developers have created hundreds of applications, reaching millions of active users.</p>
<p>Notes to Editors:</p>
<ol>
    <li>There are 8,900 buses in the Capital's fleet and around 6.5 million bus journeys are made every day across 700 different bus routes.  Along with earlier data, detailed bus safety data for July to September 2015 is available at:  <a href="https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data">https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data</a></li>
    <li>The data is not considered to offer a reliable means of comparing individual bus routes or bus operating companies in relation to safety; this is because key factors such as frequency, traffic volumes and bus types used vary between routes and operators.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-TfL publishes latest bus safety statistics -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 