


@{ViewBag.Title = "TfL funding for street-improvement trials";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL funding for street-improvement trials</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL funding for street-improvement trials</h1>
        <div class="content-page-press-release">
        18 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four innovative street schemes to be trialled for wider use across London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Given the growing pressures on our road network to move people and goods, and tackle air pollution, we need to be evermore inventive in how we use our limited road space. These worthy winners are just a few examples of how we are trailing new approaches that could bring big benefits to roads across the city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL's Future Streets Incubator fund creates iconic public spaces and reduces congestion</li>
    <li>Sparking innovation and creative use of limited street space, the fund is part of the Mayor's Road Modernisation Plan</li>
</ul>
<p>Four innovative schemes that will transform streets in the Capital have been awarded grants as part of Transport for London's (TfL's) Future Streets Incubator Fund.</p>
<p>The fund, which is one element of the Mayor's &pound;4bn Road Modernisation Plan, has been created to encourage creative and more effective uses of the Capital's limited road space and help alleviate the pressures on the network.</p>
<p>By funding original on-street projects, it is designed to trigger innovation that will lead to long-term improvements across London, addressing congestion, overcrowding, air quality and noise pollution.</p>
<p>The latest projects to receive TfL funding include an intelligent street to generate energy and improve air quality near Oxford Street, an innovative boardwalk to improve a traffic-dominated rat-run in Southwark, a noise-absorbing system to improve an underpass of the A12 and a novel delivery service to reduce vehicles on the Capital's roads.</p>
<p>Previously-funded projects have included temporary parks and seating through the Ealing Parklet and Team London Bridge's Fresh Air Squares and Westminster's e-tag parking.</p>
<p>Deputy Mayor for Transport, Isabel Dedring, said: </p>
<p>'Given the growing pressures on our road network to move people and goods, and tackle air pollution, we need to be evermore inventive in how we use our limited road space. These worthy winners are just a few examples of how we are trailing new approaches that could bring big benefits to roads across the city.'</p>
<p>Following the award, TfL will now work with the successful bidders to deliver the latest round of projects later this year. They include:</p>
<ul>
    <li>
    Creating an 'Intelligent Street' in the West End; Bird Street &#45; a traffic-free space off Oxford Street &#45; will be transformed with a range of cutting-edge technologies designed to generate energy from the sun and pavement movement, and potentially improve air quality. Materials in roofs, canopies and pavements would generate the energy, and would be integrated into an enjoyable public space that will prioritise pedestrians and cyclists. This project will be delivered by the New West End Company.</li>
    <li>Using a flexible boardwalk to transform Lavington Street in Southwark into a pedestrian boulevard; an innovative new boardwalk system will be used to widen the path as one-way traffic is trialled on the traffic-dominated rat run. The boardwalk will include plants and greenery and points of interest drawn from the Southwark Local History Library, encouraging more people to walk and cycle safely through the area. This project will be delivered by Better Bankside, with the boardwalk system commissioned through an invited design and build competition.</li>
    <li>Creating an innovative noise-absorbing barrier to protect residents near the A12 Blackwall Tunnel; a new noise-absorption material will be trialled at the A12 underpass between Empson Street and Gillender Street to create a more attractive barrier that incorporates a green wall with integrated watering system. The project will investigate the potential for reducing the impact of noise and air pollution from major roads on local communities, as well as testing methods for reducing surface water on the A12. This project will be delivered by the Poplar Housing and Regeneration Community Association and London Borough of Tower Hamlets.</li>
    <li>Consolidation of deliveries to businesses within Holborn, Bloomsbury and St Giles; a central platform for ordering everyday items like milk and newspapers will allow consolidated deliveries to be made using electric vehicles or cargo bikes to up to 320 local businesses. The new consolidation service, delivered by the Inmidtown BID, could reduce vehicle miles by 81 per cent per year and achieve an annual 60 per cent reduction in delivery-related greenhouse gas emissions.</li>
</ul>
<p>
Richard De Cani, TfL's Managing Director of Planning, said: </p>
<p>'The fabulously creative and innovative ideas we are funding as part of the Incubator Fund capture the spirit of turning London's streets into places for all to enjoy and work to deliver the vision of the Mayor's Roads Task Force. By trialling new ideas we are able to look to the future at how we can make our roads and public spaces work better for everyone.'</p>
<p>Steve Medway, Managing Director Trading Environment, New West End Company (NWEC), said: </p>
<p>'London's West End is one of the most vibrant and exciting shopping destinations in the world, attracting millions of shoppers each year. This funding will enable us to provide a beautiful oasis for shoppers and residents to enjoy in the heart of our Capital city, trialling some of the newest clean air technology, as part of our continued aim to improve air quality in the West End.'</p>
<p>Peter Williams, CEO, Better Bankside, said: </p>
<p>'Future Streets will make it possible to trial, in a creative and innovative way, the transformation of Lavington Street SE1 from a traffic cut through to pleasant pedestrian route for Bankside workers and visitors to the area alike. We look forward to developing and implementing this exciting project with our local businesses, residents and TfL. We hope it can be solution that can then be applied more widely in Bankside and elsewhere in London.'</p>
<p>Paul Augarde, Head of Creativity &amp; Innovation for Poplar HARCA, said: </p>
<p>'We are thrilled to have secured funding for the first stage of our 'A12:Green Mile' project alongside the London Borough of Tower Hamlets and University of East London. The funding will allow us to design, implement, monitor and test a series of initiatives around noise attenuation, reduction in air pollution, and environmental enhancement along one of London's busiest roads &#45; making Poplar a cleaner, greener and better place to live.'</p>
<p>Tass Mavrogordato, CEO of InMIdtown, said: </p>
<p>'Funding for our project to create a consolidated delivery booking service for business essentials using electric vehicles will help to radically reduce deliveries in the InMIdtown area from over 5,000 trips per day to just over 1,000, reducing congestion and CO2 emissions by over 60 per cent. This will have a hugely positive impact to Holborn, Bloomsbury and St Giles and reduce congestion, overcrowding and improve air quality.'</p>
<p>TfL established the fund in 2014 to invest in creative and original on-street projects and inspire bright ideas to help make the Capital's streets fit for the future. Schemes are delivered in partnership between TfL and the successful bidders and the trials have the potential to be expanded across London.</p>
<p>It is just one part of the Mayor's Road Modernisation Plan to radically transform the way the Capital's roads and public spaces are used. The &pound;4bn plan is the largest investment in the Capital's roads in a generation and includes an unprecedented &pound;1bn investment in cycling, new major projects to transform dozens of key junctions across the city, the rollout of world-leading technological innovations to get more capacity out of the road network, and an urgently-needed maintenance and renewals programme for London's aging road network.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>
    The Future Streets Incubator forms part of the wider work TfL is carrying out across London to deliver the recommendations of the Mayor's Road Task Force. This independent body brought together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design. For more information visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/future-streets-incubator">https://tfl.gov.uk/travel-information/improvements-and-projects/future-streets-incubator</a>.</li>
    <li>The Roads Task Force includes members from: The Greater London Authority, Transport for London, the Chartered Institute of Logistics &amp; Transport, Living Streets, IBM, Sustrans, University College London (UCL), London First, London TravelWatch, London Councils, Motorcycle Action Group (MAG UK), the Independent Disability Advisory Group, British Land, the RAC Foundation, City of London, and Cyclists in the City.</li>
    <li>The Roads Task Force challenged TfL to pursue regulatory changes to overcome existing barriers to innovation and trialling new approaches. TfL will work closely with the Department for Transport and local highways authorities where appropriate to progress these schemes.</li>
    <li>For more information about the Mayor's Roads Task Force, visit <a href="https://tfl.gov.uk/corporate/publications-and-reports/roads-task-force">https://tfl.gov.uk/corporate/publications-and-reports/roads-task-force</a>.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-TfL funding for street-improvement trials -->

 
 
        
        
            @{ViewBag.Description = "TfL announces funding for transformative street-improvement trials";}
        
        


 