


@{ViewBag.Title = "TfL selects 13 property partners to help it deliver thousands of homes for London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL selects 13 property partners to help it deliver thousands of homes for London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL selects 13 property partners to help it deliver thousands of homes for London </h1>
        <div class="content-page-press-release">
        03 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has approved the appointment of 13 major property development companies and consortiums to a development framework which will help the delivery of the thousands of homes, offices and retail spaces that are vital to help London meet the needs of its growing population.</p>
<p>The 13 organisations have been selected following a competitive procurement process that saw over 50 companies register an interest in becoming a property partner with TfL. The successful companies and consortiums will now be placed on TfL's Property Partnership Framework and will be able to bid for work on some of the most iconic locations across the Capital.</p>
<p>This framework will enable TfL to work in joint ventures with some of the best developers in the market to deliver the thousands of homes, retail and office spaces that London needs more efficiently than procuring a joint venture development partner on a site by site basis. The wider GLA family will also be able to use the framework to bring forward developments on their sites.</p>
<p>The Property Partnership programme is part of TfL's ambitious plans to generate &pound;3.4bn in non-fares commercial revenue by 2023 which it will reinvest in London's transport network. It is just the first phase of TfL's property development programme which will see thousands of affordable homes built across the Capital.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `After an extremely competitive process, we have appointed a selection of leading development organisations that we will work with to bring forward thousands of much needed homes, along with commercial space and jobs that will help support the Capital's continued growth.</p>
<p>`The 300 acres of land we have announced for development is just the first phase. We are currently reviewing our assets to see how many more sites we can develop, especially in outer London, to provide homes that Londoners can afford while also generating revenue that can be reinvested in the transport network.</p>
<p>`This framework marks a major step forward in allowing us to work with leading private sector developers and housing associations on an important part of our portfolio.'</p>
<p>In February 2015, TfL announced its search for property development partners and has selected some of the leading developers and housing associations with experience in delivering complex and mixed use schemes. The 13 companies and consortiums selected are:</p>
<ul>
    <li>Balfour Beatty PLC</li>
    <li>Barratt Development PLC / London and Quadrant Housing Association (Consortium)</li>
    <li>Berkeley Group PLC</li>
    <li>The British Land Company PLC</li>
    <li>Canary Wharf Group PLC</li>
    <li>Capital and Counties PLC</li>
    <li>U+I / Notting Hill Housing Group (Consortium)</li>
    <li>Land Securities Group PLC</li>
    <li>Mace Limited / Peabody Trust / DV4 Limited (Consortium)</li>
    <li>Mount Anvil Group Limited / Hyde Housing Association Limited</li>
    <li>Redrow Homes Ltd</li>
    <li>Stanhope PLC / Mitsui Fudosan Company Limited</li>
    <li>Taylor Wimpey UK Ltd</li>
</ul>
<p>Francis Salway, Chairman of TfL's Commercial Development Advisory Group, said: `TfL has some of the best assets in London and over the coming years we will be working together with these developers to ensure that we are delivering for Londoners.'</p>
<p>TfL has already begun the process to identify development opportunities for the partnerships by submitting planning applications in Nine Elms, Northwood and Parsons Green. It is anticipated that the three sites will generate over &pound;100m for reinvestment in London's transport network as well as delivering more than 600 new homes, a new step-free London Underground station at Northwood, new workspaces, retail units and high quality public spaces. The three sites will also support the creation of more than 500 new jobs.</p>
<p>Ends</p>
<p>Notes to Editors<br />
The appointments are subject to a ten day standstill period, after which the contracts will be formalised.<br />
The three planning applications are:</p>
<ul>
    <li>Nine Elms &#45; The proposed development above the new Nine Elms Tube station will deliver 332 new homes around 25% of which is proposed to be affordable, 5,332 sq metres of office, 612 sq metres of retail, a new public square, play space, pedestrian and cycle connections, cycle parking, and disabled car parking. Revenue generated from the new development will support the funding of the Northern Line extension.</li>
    <li>Northwood &#45; The proposed development at Northwood will deliver 127 new homes, around 20% of which will be affordable, as well as a new Tube station with step-free access and a new bus and train interchange. It will also deliver a new public space and approximately 300 parking spaces, as well as 1,240 sq metres of retail floor space. TfL is exploring options to accommodate existing tenants in the development and is providing relocation options to assist them in continuous trade.</li>
    <li>Parsons Green &#45; The proposed development is on the site of a former London Underground depot adjacent to Parsons Green Tube station, which is currently used as workspace. The scheme will deliver 119 new homes, 40% of which will be affordable, as well as over 5,100 sq metres of retail, workspace and restaurants. The development will also support around 300 jobs and enable the opening of three arches for commercial use.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-TfL selects 13 property partners to help it deliver thousands of homes for London  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 