


@{ViewBag.Title = "TfL's Streetscape Guidance sets the standard for urban design ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s Streetscape Guidance sets the standard for urban design </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s Streetscape Guidance sets the standard for urban design </h1>
        <div class="content-page-press-release">
        09 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) today (Tuesday 9 February) launched the third edition of its Streetscape Guidance, building on past successes and setting the standard for how the Capital's streets and public spaces will look and feel in the years to come. The document was launched as part of the Streets Ahead exhibition at New London Architecture (NLA), which runs until the end of February.</p>
<p>The Streetscape Guidance focusses on finding the right combination of materials and using leading-edge design to create streets and public spaces that are functional and safe, and which enhance the quality of people's lives. It forms part of a Streets Toolkit that focuses on improving the urban environment, cycle infrastructure and accessibility.</p>
<p>The guidance will be a key tool for local councils, urban designers, private developers and highway authorities to exercise best practice design and create high quality links and places across London.</p>
<p>It recognises that not all locations are the same and acknowledges the need to balance the movement of vehicles, including freight and goods, against creating public spaces that appeal to all.</p>
<p>Dana Skelley, Director of Asset Management at TfL, said: `We are in the middle of the biggest investment in London's roads in a generation, ensuring we create places where people want to spend time, where they feel safe and even inspired by their surroundings. We are lucky to have the best urban planners improving and reforming our city in new and exciting ways. This Streetscape Guidance provides the tools and the benefit of years of collective industry knowledge to ensure every project is the best it can be.'</p>
<p>The Streetscape Guidance gives practical examples of excellent design to those designing, building, operating and maintaining London's streets and public spaces. These projects are helping to inform the next generation of bold new schemes like the proposals for Aldgate Gyratory and Elephant &amp; Castle, where traffic-dominated streets are being turned into elegant pedestrian spaces.</p>
<p>Jack Skillen, London Director for Living Streets, said: `We welcome the publication of Streetscape Guidance as a way to dramatically raise the standard of London's streets and spaces. It is our experience that the public realm schemes that are really successful are those that are ambitious, innovative and put people at the heart of design. This guidance promotes a collaborative approach with TfL, boroughs, partners and communities, and with bold leadership, provides a framework to create places where walking is a natural choice to travel, and in which communities and business can thrive.'</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>The Streetscape Guidance supplements a range of other standards including London Cycling Design Standards, Station Public Realm Design Guidance and Accessible Bus Stop Design Guidance</li>
    <li>The Guidance is mainly focused on the Transport for London Road Network but can be used for other roads in Capital and across the country</li>
    <li>A link to the Guidance can be found here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/streets-toolkit#on-this-page-0">https://tfl.gov.uk/corporate/publications-and-reports/streets-toolkit#on-this-page-0</a></li>
    <li>Images of schemes where Streetscape Guidance has been applied can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157664292680681">https://www.flickr.com/photos/tflpress/albums/72157664292680681</a></li>
    <li>More details on the NLA's Streets Ahead exhibition can be found here:  <a href="http://newlondonarchitecture.org/programme/exhibitions/2016/streets-ahead-the-future-of-londons-roads">http://newlondonarchitecture.org/programme/exhibitions/2016/streets-ahead-the-future-of-londons-roads</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-TfL’s Streetscape Guidance sets the standard for urban design  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 