


@{ViewBag.Title = "Transformation of Croydon Fiveways moves a step closer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transformation of Croydon Fiveways moves a step closer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transformation of Croydon Fiveways moves a step closer</h1>
        <div class="content-page-press-release">
        09 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Preferred option selected to redesign Fiveways in Croydon
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to transform Fiveways into a more efficient junction and improve the look and feel of the area to accommodate growth in population and the local economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">Director of Road Space Management, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New design to improve safety for pedestrians and cyclists</li>
    <li>More than 80 per cent of consultation respondents gave support to a modernisation scheme</li>
    <li>Plans would reduce congestion and accommodate projected growth in the area</li>
</ul>
<p>Transport for London (TfL), working closely with Croydon Council, has taken a step towards making Fiveways in Croydon simpler and safer for all road users, after publishing a preferred option for a road improvement scheme in the area.</p>
<p>The proposed design, part of the Mayor's &pound;4bn Road Modernisation Plan, would provide a safer and more direct route for road users through the area, and help to reduce delays and congestion. This includes providing quicker and safer access for pedestrians across the A23 Purley Way and improved bus journey times, delivering a better service to passengers.</p>
<p>With 7,300 new homes and 8,000 new jobs planned in the Croydon Opportunity Area, the area has been identified for improvement to help reduce congestion, accommodate future growth, and improve accessibility for all transport users. Fiveways Corner and the junction of the A23 Purley Way and A232 Stafford Road are extremely busy, with motorists and bus users frequently experiencing delays at peak times &#45; especially on weekends when large numbers of shoppers are going to and from the popular major retail parks along the A23 Purley Way.</p>
<p>Last year, TfL held a public consultation where two proposals were set out for addressing congestion and improving the area for residents, pedestrians and cyclists. This consultation, which was held in February/March 2015, demonstrated the local desire to see a change in how the road layout operates with 81 per cent of respondents supporting or partially supporting the principle of a road modernisation scheme at Fiveways.</p>
<p>The selected design to be progressed further ahead of a consultation this autumn would see roads widened and a new junction layout with signal controls to separate cyclists from motorised traffic.</p>
<p>The proposal that will now be developed in more detail for consultation planned for the autumn will include:</p>
<ul>
    <li>Widening and upgrading the A23 Purley Way bridge that crosses the railway by Waddon station</li>
    <li>Widening Epsom Road to accommodate two-way traffic</li>
    <li>Reducing the number of arms at the Fiveways Corner junction by diverting Denning Avenue directly onto the A23; this would also remove a traffic signal phase at the junction resulting in shorter wait times for traffic</li>
    <li>New cycle facilities on Epsom Road, with access to Waddon station</li>
    <li>Additional pedestrian crossings on A23 Purley Way and Epsom Road</li>
</ul>
<p>Alan Bristow, TfL's Director of Road Space Management, said: </p>
<p>'Our preferred option for the overhaul of Fiveways Croydon, as part of our &pound;4bn Road Modernisation Plan, will reduce congestion and improve safety and accessibility for pedestrians and cyclists. We want to transform Fiveways into a more efficient junction and improve the look and feel of the area to accommodate growth in population and the local economy. The feedback from our initial consultation has helped to ensure we are balancing the needs of everyone. We are now working with Croydon Council on the design, which we will be consulted on in the autumn.'</p>
<p>Councillor Kathy Bee, Croydon Council's cabinet member for transport and the environment, said: </p>
<p>'Croydon's massive economic growth means more traffic, so tackling congestion at Fiveways and improving it for all road users is key to the borough's future. I'm pleased TfL has agreed with this council's recommendation to widen the junction because we felt the flyover option would have had too great an impact on the local area.'</p>
<p>The work to transform Fiveways Croydon is part of the Mayor's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<hr />
Notes to Editors:<br />
<ul>
    <li>The report on the preferred option for Fiveways Croydon can be found here: <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon">https://tfl.gov.uk/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon</a></li>
    <li>Subject to the results of the consultation, work to transform Fiveways Croydon could begin in winter 2018/19. It would be funded by the London Borough of Croydon, TfL and through the Mayor's Growth Fund, which is helping to deliver jobs and homes for London's growing population.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Transformation of Croydon Fiveways moves a step closer -->

 
 
        
        
            @{ViewBag.Description = "Transformation of Croydon Fiveways moves a step closer";}
        
        


 