


@{ViewBag.Title = "Work begins to transform Archway into a safer and more attractive area";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work begins to transform Archway into a safer and more attractive area</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work begins to transform Archway into a safer and more attractive area</h1>
        <div class="content-page-press-release">
        01 February 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transformation includes removal of old gyratory and creation of new public space
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's great news for residents, businesses and road users, and yet another great example of the huge improvements being made across the Capital by our road modernisation programme"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>A &pound;12.8m radical transformation to make Archway a safer, more pleasant and accessible town centre is set to begin. Residents and road users are poised to benefit from a new public space and safer road layout that will make the area more attractive for residents and visitors, and for future investment.</p>
<p>Today, Monday 1 February, work will start on the removal of the one-way gyratory, with two-way traffic lanes around three sides of the central island, introduction of safe cycle lanes, improved pedestrian crossings and a new public space.</p>
<p>The improvement work is part of TfL's &pound;4bn Road Modernisation Plan to radically transform the way the Capital's roads and public spaces are used.</p>
<h2>Transformation of Archway</h2>
<p>The transformation of Archway, which was supported in an extensive public consultation by the majority of respondents, will:</p>
<ul>
    <li>Reconnect a town centre fragmented by the one-way system</li>
    <li>Improve pedestrian crossings on Holloway Road and to business areas</li>
    <li>Provide safer dedicated cycle routes separated from motor vehicles, including a two-way segregated cycle way by Archway Tube station and on Archway Road</li>
    <li>Create a new vehicle-free open space outside the Archway Tube station</li>
</ul>
<p>The Mayor of London, Boris Johnson MP, said: 'For far too long Archway has suffered from this badly-designed relic of a junction. By creating an attractive open space and improving the road layout, we're making it a much safer and more pleasant place to be for all.</p>
<p>'It's great news for residents, businesses and road users, and yet another great example of the huge improvements being made across the Capital by our road modernisation programme.'</p>
<h2>Brought in 21st century</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Archway residents, businesses and road users told us that they wanted this antiquated road layout brought into the 21st century when we consulted with them.</p>
<p>'We listened, and now our work to make it safer and easier for all to travel in Archway begins. Improved cycle lanes, upgraded pedestrian crossings and a new public space will completely transform this area for everyone to enjoy.'</p>
<h2>Once-in-a-lifetime opportunity</h2>
<p>Cllr Claudia Webbe, Islington Council's executive member for environment and transport, said: 'These works represent a once-in-a-lifetime opportunity to transform Archway town centre, creating a welcoming gateway into Islington from the north.</p>
<p>'The scheme will regenerate the area, bringing new employment and housing opportunities while transforming the environment with an attractive new public space and connecting all key modes of transport. The result will be a safer and more pleasant place for residents, visitors and cyclists.</p>
<p>'We have been working closely with TfL to ensure we get the best possible scheme for our residents &#45; who have shown their support for these proposals &#45; while making sure any disruption is kept to a minimum.</p>
<p>'Alongside TfL we will also monitor the success of the scheme long after it has been implemented, to ensure continuous improvement.'</p>
<p>The improvement work at Archway will require road restrictions until its completion in summer 2017 so road users are advised to check before they travel.</p>
<p>The improvement is being completed in construction phases to keep disruption to a minimum with different areas around the gyratory affected at different times. For information on how journeys might be affected, including traffic maps, see <a href="http://www.tfl.gov.uk/archway-gyratory">tfl.gov.uk/archway-gyratory</a>.</p>
<h2>Unprecedented programme of improvements</h2>
<p>While delivering the &pound;4bn Road Modernisation Plan, an unprecedented programme of improvements to ensure London's road network is safe and supports the needs of a growing population, TfL will use a variety of ways to ensure traffic keeps moving.</p>
<p>TfL uses technology to better manage the network, such as Split Cycle Offset Optimisation Technique (SCOOT), which is proven to reduce delays by up to 12% and is being expanded across London.</p>
<p>TfL also has the ability to control temporary traffic lights from its central traffic control centre, to help further ease traffic and minimise disruption. Up-to-the-minute traffic information is provided via digital road signs, TfL's traffic status page and TfL's Twitter feeds.</p>
<p>For live information on how London's roads are operating, road users can check their travel at <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> and <a href="http://tfl.gov.uk/bus/status">tfl.gov.uk/bus/status</a> and follow TfL's twitter feeds - &#64;TfLTrafficNews and &#64;TfLBusAlerts - to plan journeys and avoid disruption. For information on the projects set to modernise London's roads visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/road-modernisation-plan?cid=roadplan">tfl.gov.uk/roadplan</a>.</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>TfL is currently consulting on changes to bus services in the area until February 22: <a href="https://consultations.tfl.gov.uk/buses/archway-consultation">consultations.tfl.gov.uk/buses/archway-consultation</a></li>
    <li>The Road Modernisation Plan is the biggest investment in London's roads for a generation, consisting of hundreds of projects to support London's new homes and jobs, making transport more efficient, reliable, safer and provide a world class urban realm. As part of the Road Modernisation Plan, TfL is building a network of cycle superhighways and road improvements to significantly improve cyclists' safety. On completion, the Archway scheme will provide a largely segregated cycle route for cyclists through a major junction, significantly improving safety</li>
    <li>Businesses making deliveries can sign up to the weekly TfL Road Freight Bulletin so they can more effectively plan their journeys. Email: <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a>. Where possible, businesses are advised to retime deliveries to outside of peak hours, this will help achieve safety, environmental and economic benefits. For guidance in retiming deliveries, please visit <a href="https://tfl.gov.uk/info-for/freight/moving-freight-efficiently/retiming-and-out-of-hours-deliveries">tfl.gov.uk/info-for/freight/moving-freight-efficiently/retiming-and-out-of-hours-deliveries</a></li>
    <li>TfL is working hard to minimise disruption during the work however some road users and bus passengers will experience increased congestion at certain times and places. Construction will typically take place between 07:00 and 18:00, Monday to Saturday, and 24 hours in certain places to minimise the impact on journeys</li>
    <li>Other works in the area include the replacement of Highbury Corner Bridge and Upper Holloway Bridge to ensure that they remain safe and to avoid unplanned weight restrictions or closures in the future</li>
    <li>There are also National Grid gasworks on Archway Road at the junction of Southwood Lane &amp; Muswell Hill Road from 1 to 28 February 2016 resulting in lane restrictions</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-February-Work begins to transform Archway into a safer and more attractive area -->

 
 
        
        
            @{ViewBag.Description = "Transformation includes removal of old gyratory and creation of new public space";}
        
        


 