


@{ViewBag.Title = "Free design festival on iconic Regent Street";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Free design festival on iconic Regent Street</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Free design festival on iconic Regent Street</h1>
        <div class="content-page-press-release">
        27 May 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Free Transported by Design festival, noon &#45; 6pm, Sunday 3 July 2016
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Transported by Design Festival will showcase the innovative design that helps Londoners get around their city."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Journey through the past, present and future of transport designs</li>
    <li>Kids' zone, entertainment, London Transport Museum (LTM) pop up shop and much more</li>
    <li>Regent Street closed to traffic</li>
</ul>
<p>London's iconic Regent Street will be transformed into a spectacular display of transport designs on Sunday 3 July for a free festival presented by Transport for London (TfL) and London Transport Museum.</p>
<p>The Transported by Design festival (#tbdfest), supported by Exterion Media, will celebrate the designs that have kept London on the move from Victorian times to the present, and will give visitors a peek at what might come in the future. The festival will stretch all the way from Piccadilly Circus to Oxford Circus Tube stations and is part of 'Summer Streets', which sees Regent Street go traffic free every Sunday in July.</p>
<p>Regent Street will be divided into three zones &#45; Past, Present and Future &#45; and will showcase the best in transport inspired design with a host of activities.</p>
<p>Start your journey on 3 July exploring the legacy of design from the early 19th Century onward:</p>
<ul>
    <li>See a horse drawn bus and heritage buses</li>
    <li>Take a look at a 1927 Tube train carriage</li>
    <li>View an exhibition of classic advertising posters and signage</li>
</ul>
<p>Move on and play in the present with a host of designs from the 20th Century including:</p>
<ul>
    <li>'Cycle Spin Fun' hosted by Santander Cycles</li>
    <li>Moquette Land - a showcase of the fabric used across the transport network</li>
    <li>'Design a bus' kids competition sponsored by Exterion Media</li>
    <li>See behind the scenes of contactless payment</li>
    <li>Explore the designs of stations, taxis, buses, trains, Tubes and more</li>
</ul>
<p>Step into the 'London 2040' future zone. See, hear, and feel what transport could look like:</p>
<ul>
    <li>Experience a sensory cinema</li>
    <li>Try virtual reality headsets</li>
    <li>Sketch the future of transport in London</li>
    <li>'TED'-style talks on technology and design throughout the day</li>
</ul>
<p>There will also be a host of free family activities and games on offer throughout the day as well as food and drink to keep all visitors well fuelled.</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'Our purpose is to keep London moving, working and growing and to make life here better. Good design in transport has been central to this, ranging from vehicles, stations, signs and maps to the Oyster card, our website and open data feeds. The Transported by Design Festival will showcase the innovative design that helps Londoners get around their city. It will offer something for everyone whether you're a family or a transport or design enthusiast, so make sure you save the date.'</p>
<p>Sam Mullins, Director of London Transport Museum said: </p>
<p>'The Transported by Design festival will be a celebration of the amazing design heritage of London's transport network, as well as a great showcase of what might come in the future.  Visitors will be able to get a taste of the Museum as some of our posters and heritage vehicles will be on display. And for those keen to learn more about transport and design our new Designology exhibition is now open. The exhibition looks at how good design transforms our daily experiences of the urban environment - from the iconic London Tube map and Johnston's famous 'London' typeface through to realtime journey apps and the Tube train of the future.'</p>
<p>Annie Walker, Head of the Regent Street Association, said: </p>
<p>'The Regent Street Association and the Crown Estate are delighted that TfL has chosen Regent Street as the venue for the Transported by Design festival. What better way to kick off the annual Summer Streets programme with a transport focused event on one of the world's premier shopping streets. The success of the Year of the Bus cavalcade in 2014 is still in our memories.'</p>
<p>A key feature of the Transported by Design programme is a major new eleven-month exhibition at London Transport Museum.  The Designology, exhibition explores how design is encountered in everyday journeys and how this has evolved over the last century, as well as looking at how travel experiences might develop in the future. From the visual to the virtual and from Victorian engineering genius to modernist masterpieces, Designology uncovers the fascinating designs and processes behind London's moving metropolis.</p>
<p>For more information on the Transported by Design free festival on Sunday 3 July visit <a href="http://www.tfl.gov.uk/transportedbydesign">www.tfl.gov.uk/transportedbydesign</a></p>
<p>To find out more about the Designology exhibition visit <a href="http://www.ltmuseum.co.uk/whats-on/exhibitions">http://www.ltmuseum.co.uk/whats-on/exhibitions</a></p>
<p>Download London Transport Museum's new free app to see some of the objects on display in the Museum and also special offers.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Transported by Design festival, which is supported by the Regent Street Association and The Crown Estate, is part of TfL's eighteen-month Transported by Design programme, which is organised in partnership with London Transport Museum and sponsored by Exterion Media</li>
    <li>The programme is formed of a series of events, exhibitions and competitions until December that celebrate the role of good design on the Capital's transport network transport</li>
    <li>The festival is being produced in partnership with several sponsors and partners including headline partner Exterion Media, the Regent Street Association, MasterCard, Cubic, Atkins, Bombardier, Costain, Santander, Siemens, Optare, Arup, Camira, Easigrass, Blok n Mesh, Tint, Airstar, Media Powerhouse, BAE</li>
    <li>Confirmed partner names taking part in the future talks area include Google and Citymapper</li>
    <li>Other highlights of the 'Transported by Design' programme will include:</li>
    <li>Events at London Transport Museum, including; Friday lates, debates, talks and tours - visit <a href="http://www.ltmuseum.co.uk">http://www.ltmuseum.co.uk</a></li>
    <li>Activities to celebrate the 100th anniversary of the iconic Johnston typeface, summer</li>
    <li>Unveiling of a commemoration at Piccadilly Circus station to former London Transport Chief Executive, Frank Pick, November</li>
</ul>
<p>About London Transport Museum:</p>
<ul>
    <li>London Transport Museum is situated in the heart of Covent Garden and filled with stunning exhibits; the Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</li>
    <li>The Museum is an educational and heritage preservation charity.  Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. The Museum's charity number is 1123122.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-May-Free design festival on iconic Regent Street -->

 
 
        
        
            @{ViewBag.Description = "Be transported through the ages of design with a free festival on London’s iconic Regent Street";}
        
        


 