


@{ViewBag.Title = "Gospel Oak to Barking line closure starts 4 June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Gospel Oak to Barking line closure starts 4 June</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Gospel Oak to Barking line closure starts 4 June</h1>
        <div class="content-page-press-release">
        23 May 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Customers and local residents are being reminded that major upgrade work to the London Overground route between Gospel Oak and Barking will result in a phased closure starting Saturday 4 June 2016, as part of Network Rail's Railway Upgrade Plan. In total an eight month closure of the railway is needed to carry out this vital work.</p>
<p>Network Rail is delivering the project, which is funded by the Department for Transport and Transport for London (TfL). The project will see TfL introduce new four-car electric trains to replace the existing two-car diesel trains from January 2018, helping to meet growing passenger demand.</p>
<p>Network Rail will carry out major work including lowering four sections of track on the route, installing structures to carry the overhead wires and rebuilding four bridges, which will take place in two phases and result in changes to train services. From Saturday 4 June to Sunday 25 September 2016 there will be no service between South Tottenham and Barking. Trains will run on weekdays between Gospel Oak and South Tottenham, however not at weekends. TfL will be providing rail replacement buses which will operate along the route.</p>
<p>From Monday 26 September 2016 to February 2017, a full closure in both directions from Gospel Oak to Barking is required.</p>
<p>A short summary video of the project can be watched here <a href="http://www.networkrail.co.uk/gobe">www.networkrail.co.uk/gobe</a></p>
<p>Network Rail's Route Managing Director, Richard Schofield, said: `Passenger demand is growing, particularly in London, and Network Rail is carrying out major upgrade work to build a bigger and better railway for passengers as part of its Railway Upgrade Plan. Electrifying a Victorian railway like this one is major engineering work to create the extra space needed for overhead power lines. It would be impossible to do this without closing the railway and I would like to thank passengers and local residents in advance for their patience and understanding while we carry out this vital modernisation.'</p>
<p>Mike Stubbs, TfL's Director of London Overground, said: `The work being carried out by Network Rail will enable us to run new longer walk-through trains on the line from January 2018, which will double capacity on the route.</p>
<p>`We, along with Network Rail, have been publicising the work and the alternative travel arrangements and have held drop-in sessions at all 12 stations along the route to ensure that customers are well informed. We know that there will be disruption and would like to thank customers in advance for their patience in the upcoming months while this essential work takes place.'</p>
<p>From June to September two replacement bus services will operate as follows:</p>
<ul>
    <li>Service T: Walthamstow Central - Leyton Midland Road - Leytonstone High Road - Wanstead Park - Woodgrange Park &#45; East Ham&#45; Barking.</li>
    <li>Service J (weekends only): Gospel Oak - Upper Holloway - Crouch Hill - Finsbury Park - Harringay Green Lanes - Seven Sisters (for South Tottenham).</li>
</ul>
<p>There is no replacement bus service between South Tottenham and Walthamstow Queen's Road stations and customers are advised to use the Victoria line which is a faster alternative. Full details of the alternative travel and ticketing arrangements can be found at: tfl.gov.uk/london-overground-closure.</p>
<p>Regular pay as you go users of the Gospel Oak to Barking line will be automatically refunded the additional cost of travel via Zone 1 by Tube or rail.</p>
<p>From February 2017 onwards further works to have the line ready for electric trains will take place during evenings and weekends only and will be completed by the end of June 2017.</p>
<p>ENDS<br />
Notes to editors:</p>
<ul>
    <li>For more information on changes to journeys between Gospel Oak to Barking, including maps and travel advice, please visit <a href="http://www.tfl.gov.uk/london-overground-closure.">www.tfl.gov.uk/london-overground-closure.</a></li>
    <li>For more information about refunds and ticket acceptance, visit <a href="http://www.tfl.gov.uk/london-overground-closure on-this-page-4">www.tfl.gov.uk/london-overground-closure#on-this-page-4</a></li>
    <li>Sign up for email updates at <a href="http://tfl.gov.uk/emailupdates">tfl.gov.uk/emailupdates</a></li>
    <li>Railway neighbours who would like more information on how the work will impact their home can call Network Rail's helpline on 0345 7 11 41 41 or visit <a href="http://www.networkrail.co.uk/contactus">www.networkrail.co.uk/contactus</a></li>
    <li>More information on work carried out by Network Rail on this route can also be found at <a href="http://www.networkrail.co.uk/gobe">www.networkrail.co.uk/gobe</a></li>
    <li>Follow Network Rail's progress on Twitter &#64;NetworkRailGOBE</li>
</ul>
<p>ENDS</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-May-Gospel Oak to Barking line closure starts 4 June -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 