


@{ViewBag.Title = "Is your buggy transport friendly?";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Is your buggy transport friendly?</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Is your buggy transport friendly?</h1>
        <div class="content-page-press-release">
        31 May 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is hosting a 28 day vote to find the most public transport friendly buggies
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With an overwhelming choice of buggies available, we need to make it easier for people to identify small, lightweight, foldable and safe buggies that can fit comfortably through the aisle and share the priority space on buses and can be taken up and down steps in stations that aren't yet step-free"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">TfL's Director of Buses</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL, working together with leading parents' groups, is today launching a public vote to find the best buggies to use on public transport.</p>
<p>The five most popular buggies will be celebrated as 'public transport friendly' and will be highlighted on the TfL website and across social media, so parents and other buggy users know which are the easiest to use.</p>
<p>As part of TfL's commitment to make travelling around London easier for everyone, a panel made up of leading parenting groups and organisations including Netmums, Mumderground and 4Children pulled together a shortlist of the 10 buggies they considered best for use on public transport.</p>
<h2>Work together</h2>
<p>The judges followed set criteria to find the most public transport friendly buggies. They had to be easy to fold, lightweight, manoeuvrable and affordable.</p>
<p>The vote follows on from TfL's Buggy Summit in February, which brought together manufacturers, retailers, parenting groups and others ‎to discuss the challenges faced by both buggy and wheelchair users.</p>
<p>At the event, manufacturers and parenting groups considered how they could work together to help overcome these challenges and shape future buggy designs.</p>
<p>A common theme was the availability of smaller, lighter, foldable buggies, which are better suited for use when travelling around London.</p>
<p>This type of buggy could help to reduce the competition for space that can sometimes occur around the priority area for wheelchair users on buses and trains.</p>
<h2>Getting around is much easier</h2>
<p>Annie O'Leary, Editor-in-Chief, Netmums said: 'Buying a buggy is one of the most important decisions new parents have to make. There's a huge array available, and it can often be quite daunting.</p>
<p>'Many parents do not think about getting on the bus or the Tube when they make their decision, and then find themselves struggling or just going out and buying a new one.</p>
<p>'We are really excited to be working with Transport for London and buggy manufacturers and retailers to help parents buy a public transport friendly buggy, so getting around in their local area is a much easier and less stressful experience.'</p>
<p>Mike Weston, TfL's Director of Buses, said: 'Following February's Buggy Summit, we're working with the buggy industry to make it easier for our mutual customers to make more informed decisions about the best type buggies for use on public transport.</p>
<p>'With an overwhelming choice of buggies available, we need to make it easier for people to identify small, lightweight, foldable and safe buggies that can fit comfortably through the aisle and share the priority space on buses and can be taken up and down steps in stations that aren't yet step-free.'</p>
<h2>Everyone can travel together</h2>
<p>Jacqui Adeniji-Williams, Ambassador Whizz-Kidz, said: 'I spoke at TfL's Buggy Summit earlier this year. It was a great opportunity to tell buggy manufacturers, retailers and parenting groups how difficult it can be when wheelchair users cannot get on the bus, because some parents can't or won't share the space or fold their buggy.</p>
<p>'I'm really pleased to hear TfL are holding a vote to find the best buggies for using on public transport, so parents know what to buy if they do use the bus or Tube. Hopefully this will lead to fewer situations where wheelchair users can't get on board, so that everyone can travel together and nobody is inconvenienced.'</p>
<p>The 'Best Buggy Vote' is open for 28 days from 31 May 2016. Full details can be found on the TfL website. To cast your vote go to: <a href="https://tfl.gov.uk/campaign/best-buggy-vote">https://tfl.gov.uk/campaign/best-buggy-vote</a></p>
<hr />
<p>
<strong>Notes to editors</strong></p>
<p><strong>1. Wheelchair priority campaign:</strong><br />
The summit forms part of a wider campaign to help buggy and wheelchair users better access public transport, other elements include:</p>
<ul>
    <li>New wheelchair priority posters</li>
    <li>A video featuring helpful tips for using TfL services with a buggy</li>
    <li>Enhanced travel tips and information for pregnant women and those with buggies in the Not on the High Street 'Baby on Board' catalogue</li>
    <li>New work to assess whether additional space can be made available on buses for buggy and wheelchair users</li>
</ul>
<p><strong>2. Shortlisting panel:</strong></p>
<ul>
    <li>Sarah Lafarge, Consumer Editor, Netmums</li>
    <li>Kath Sloggett, Mumderground</li>
    <li>Kate Groucutt, Director of External Affairs, 4Children</li>
    <li>Sally Clarke, Chair, TfL Women's Staff Network Group</li>
</ul>
<p><strong>3. Shortlisted buggies:</strong></p>
<ul>
    <li>BabyStyle - Oyster Switch</li>
    <li>BabyZen &#45; YOYO</li>
    <li>Britax - B-Agile 3</li>
    <li>Bugaboo - Bee3</li>
    <li>CuddleCo - Doona</li>
    <li>East Cost - Bebecar</li>
    <li>Ickle Bubba - Aurora</li>
    <li>Kids Kargo - Duellette 21 BS Combi Tandem</li>
    <li>Micralite - Superlite</li>
    <li>Mothercare - XSS Pockit Stroller</li>
    <li>Phil &amp; Teds - Smart</li>
    <li>Quinny - Yezz</li>
    <li>Silver Cross - Zest</li>
    <li>UPPAbaby Cruz</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-May-Is your buggy transport friendly? -->

 
 
        
        
            @{ViewBag.Description = "TfL is hosting a 28 day vote to find the most public transport friendly buggies";}
        
        


 