
    
  



@{ViewBag.Title = "Challenge a Penalty Charge Notice";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></li>
                
            
                
                <li><span class="last-breadcrumb">Challenge a Penalty Charge Notice</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Challenge a Penalty Charge Notice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you want to challenge a Penalty Charge Notice (PCN) then you have 28 days from the date of service of the PCN to get your representation to us.<BR></p>
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a PCN</a>

    </div>
</div> 
 <div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover" >Challenge a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Make a representation</h2>

<p>To challenge a PCN you need to make a representation. This forms part of a legal process. You can either make your representation online or in writing.</p>

<h3>The registered keeper</h3>

<p>PCNs are normally sent to the registered keeper of a vehicle as per the records of the&nbsp;Driver Vehicle Licensing Agency (<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA).</a> They may also be issued to the nominated hirer or lessee of a vehicle if a valid hire agreement is provided by the registered keeper.</p>

<p>The person or organisation named on a PCN must make the representation, even if they were not the driver.</p>

<p>Note:</p>

<ul>
	<li>The registered keeper can make a representation on behalf of a third party</li>
	<li>We will not consider a representation from a third party unless the registered keeper provides us with written authorisation</li>
	<li>If you have been passed a PCN by the registered keeper and wish to challenge it, have them write in on your behalf or provide you with written authorisation to submit with your representation</li>
	<li>If the registered keeper is a company and you are making a representation on behalf of the company, please indicate your position and authorisation within the company when making your representation</li>
	<li>We will always advise the registered keeper of the outcome of any investigation</li>
</ul>

<h3>Timing your representation</h3>

<p>You have 28 days from the date of service of the PCN to either pay the penalty or challenge the PCN by making a representation.&nbsp;If you pay within 14 days of the date of service, you'll receive a 50% discount and the amount payable will be &pound;250 rather than &pound;500 (or &pound;500 rather than &pound;1,000, depending on vehicle size).&nbsp;</p>

<p abp="192">Find out about <a href="/modes/driving/low-emission-zone/penalty-charges">changes to penalty charges from 26 October 2020.</a></p>

<p>We do not have to consider any representations received outside the 28-day period.</p>

<p>If you are prevented from sending us your representation within 28 days, we will use our discretion and may still consider it. You must provide supporting evidence to show what delayed you (eg proof of illness or holiday).</p>

<p>Once we receive your representation, the PCN will be frozen until we have investigated it and written back to you.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover" >Make a representation</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Representation in writing</h2>

<p>To make your representation in writing complete the representation section of the PCN. Please remember to:</p>

<ul>
	<li>If applicable, indicate on which ground you wish to make the representation</li>
	<li>Use the space provided to explain relevant details. If you need more space please attach additional sheets of paper, remembering to write the PCN number on each sheet</li>
	<li>Enclose supporting evidence</li>
	<li>Sign and date the representation</li>
	<li>Ensure it is received within 28 days of the date of service of the PCN</li>
</ul>

<p>Send it to:</p>

<p>Low Emission Zone<br />
PO Box 342<br />
Darlington DL1 9QB</p>

<h2>Our response</h2>

<p>When we have considered your representation, we will write back to you with our response. You will be sent one of three things:</p>

<h3>A request for further evidence</h3>

<p>This means that we need more evidence from you to help us consider the points raised in your representation. The PCN will remain frozen for a number of days to give you enough time to return the information requested.</p>

<p>If the required evidence is not received you will be issued with a notice of rejection. If the required evidence is received you will be issued with a notice of acceptance or a notice of rejection depending on whether we consider the evidence to be sufficient.</p>

<h3>Notice of acceptance</h3>

<p>This means you are no longer liable for the PCN. Read the notice of acceptance carefully and follow the advice given. It will explain why you received the PCN and advise you on how to avoid PCNs in future.</p>

<h3>Notice of rejection</h3>

<p>This means we have assessed your representation against accepted grounds and considered any mitigating circumstances, and believe you are still liable for the PCN.</p>

<p>Read the notice of rejection carefully and follow the advice given. We'll tell you how much you must pay and how to pay. Not paying will mean an increase in the amount you owe and enforcement action continuing.</p>

<p>We will tell you about your right to appeal to an independent adjudicator. We may ask you for additional information. If this is the case then follow the advice given and return the information to us within the time stipulated.</p>

<p><strong>Do not do nothing.</strong></p>

<h2>Grounds for representation</h2>

<p>A representation may be made on one of six grounds. If none of these applies to your situation, you can still state the reasons why you believe you are not liable for a PCN.</p>

<p>Each ground for representation is defined by parliament in the governing regulations. The information we provide about each ground, the evidence you need to provide and the circumstances that are applicable are for guidance only - they do not affect your right to make a representation.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-one---not-the-registered-keeper-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Ground one - not the registered keeper"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-one---not-the-registered-keeper-heading" class="accordion-heading">Ground one - not the registered keeper</div>
            </div>
            <div id="ground-one---not-the-registered-keeper-content" class="start-hidden" role="region" aria-labelledby="ground-one---not-the-registered-keeper-heading">
<h3>I was not the keeper at the time of the contravention e.g. I have never been the keeper, I ceased to be the keeper, I became the keeper after the date of contravention.</h3>

<p>The Regulations define this ground as:</p>

<p><strong>That the recipient</strong></p>

<ol>
	<li><strong>never was the registered keeper in relation to the vehicle in question</strong></li>
	<li><strong>had ceased to be the person liable before the date on which the vehicle was used or kept on a road in a charging area, or</strong></li>
	<li><strong>became the person liable after that date</strong></li>
</ol>

<p>The person liable for a Penalty Charge Notice (PCN) is the registered keeper of the vehicle at the time of the contravention as recorded by the DVLA. TfL therefore contact the DVLA to identify the name and address of the registered keeper on the day of the contravention so that a PCN can be issued to that person.</p>

<p>As there is a legal requirement for the DVLA to be notified of any change in the details of the registered keeper, including name and address, any failure to do so may mean that you are still liable for the charges and penalty charges.</p>

<p>If you have received a PCN for a vehicle that you have ceased to be the registered keeper of/sold and you have not told the DVLA of the change of keeper prior to the contravention again you may remain liable for the PCN.</p>

<p>However, you can still make a Representation and should provide as much evidence as possible to support your Representation. This may include:</p>

<ul>
	<li>A copy of the V5C notification sent to the DVLA detailing the name and address of the new keeper and confirmation of when it was sent to the DVLA, <strong>and/or</strong></li>
	<li>A bill of sale showing the date of sale and the name and address of the new keeper, <strong>and/or</strong></li>
	<li>A part-exchange notice from a garage, showing their name and address, that fully identifies the vehicle and when it was taken in part exchange, <strong>and/or</strong></li>
	<li>An invoice showing the relevant vehicle registration, its date of sale and the full name and address including post code) of the person/garage it was sold to, <strong>and/or</strong></li>
	<li>A confirmation letter from the DVLA stating they accept you are not the keeper of the vehicle and the letter includes the dates you notified them and the date they accept when the change of keeper to place, <strong>and/or</strong></li>
	<li>If your vehicle was returned/repossessed under a finance agreement, documentary evidence from the finance company that they have received your vehicle and confirming the date the vehicle was removed/repossessed</li>
</ul>

<p>If you purchased the vehicle or believe you became liable after the date of the contravention you should provide as much evidence as possible to support your Representation. This may include:</p>

<ul>
	<li>A copy of your V5C notification sent to you as the new keeper from the DVLA, <strong>and/or</strong></li>
	<li>An invoice showing the relevant vehicle registration with its date of sale to you and the full name address (including post code) of the person/garage who sold you the vehicle, and/or A bill of sale showing the date of sale and the name and address of the previous keeper, <strong>and/or</strong></li>
	<li>A confirmation letter from the DVLA stating they accept you are the new keeper of the vehicle also confirming the date they accept that the change of keeper took place</li>
</ul>

<p>If you believe that the contravening vehicle in the image on the PCN is not your vehicle your Representation to TfL will need to be supported by as much evidence as possible. This may include:</p>

<ul>
	<li>Proof the vehicle was at a different location at the time of the contravention using a 'Tracker report', statements from colleagues or neighbours asserting the vehicle was at a different location</li>
	<li>Photos of your vehicle (front, back and both sides) that show a difference in the vehicle, e.g. number plate/distinguishing marks</li>
	<li>Proof that a crime has been previously reported to the Police regarding the vehicle for example if stolen or if a vehicle is breaking the law by displaying the same number plate (referred to as 'cloned' or 'ringed' vehicles). This should include the name and telephone number of the Police Station it was reported to along with the relevant incident or crime reference number</li>
	<li>Confirmation from another enforcement agency, e.g. police or local authority outlining that they have confirmed the vehicle is cloned/ringed for TfL to consider</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-two---daily-lez-charge-paid-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Ground two - daily LEZ charge paid"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-two---daily-lez-charge-paid-heading" class="accordion-heading">Ground two - daily LEZ charge paid</div>
            </div>
            <div id="ground-two---daily-lez-charge-paid-content" class="start-hidden" role="region" aria-labelledby="ground-two---daily-lez-charge-paid-heading">
<h3>I had paid the LEZ daily Charge due for the vehicle used on that date, at the time and in the manner required by the charging scheme.</h3>

<p>The Regulations define the ground as:</p>

<p><strong>"That the charge payable for the use or keeping of the vehicle on a road on the occasion in question was paid at the time and manner required by the charging scheme."</strong></p>

<p>This means that the LEZ daily charge must be paid for the actual vehicle that is used in the Low Emission Zone and for the actual date. You must ensure that the number plate that has been paid for matches that of the vehicle used.</p>

<p>If making a Representation on this ground then you need to prove that you have paid the charge for the correct vehicle registration number and correct date (the contravention date).</p>

<ul>
	<li>The easiest way to do this is to provide your receipt showing all the details (when purchasing the charge we always offer a receipt)</li>
	<li>Check the number plate matches that shown on the PCN</li>
	<li>Check that the date of travel matches that shown on the PCN</li>
	<li>If either of these details do not match then this is why you have received the PCN</li>
	<li>If you notice such a mistake then you can still make a Representation but it may only be accepted at our discretion</li>
	<li>If you have made a mistake when purchasing the charge please try not to make the same mistake again</li>
	<li>If you do not have your receipt then you could demonstrate that you have paid if you have used a credit or debit card. Provide a copy of your credit/debit card statement, date of payment and the credit/debit card number and we will try to trace your payment</li>
	<li>If you have neither of these, then you may still make a Representation but it will be very hard for you to prove that the PCN was issued incorrectly; we will of course check all our records thoroughly</li>
</ul>

<p>Most people believe that they had paid the charge but there are a number of common errors which include:</p>

<ul>
	<li>Paying for the incorrect number plate, as you may have discovered you need to pay the charge for the number plate that is held by the DVLA and shown on your vehicle</li>
	<li>The number 0 (zero) is often confused with the alpha character O (Oscar) and the number 1 (one) is&nbsp;often confused with the alpha character I (Indigo)</li>
	<li>Characters are often transposed such as switching the first three letters with the last three e.g. actual number plate is ABC123 but the paid for number plate is 123ABC</li>
	<li>Paying for the wrong date. Always double check the date you want to pay for especially if you are paying in advance</li>
	<li>If paying through the TfL website, make sure you enter the details correctly and double check the details. People have been known to enter their car make into the data fields</li>
	<li>If paying via the call centre use the phonetic alphabet (i.e. A=Alpha, B=Bravo, C=Charlie...). Make sure the staff member uses the phonetic alphabet, get them to check the make and model of the vehicle, the date of travel and request a receipt. Make sure you make a note of the receipt number in case the receipt should get mislaid</li>
	<li>Believed a Congestion Charge payment also covered the vehicle for the Low Emission Zone, it must be noted the schemes are separate and a separate charge is required for each.</li>
</ul>

<p>If you have made an error then we may use our discretion but this is not guaranteed and please do not repeat the error in the future.</p>

<p><strong>Remember:</strong> You need to provide proof that the charge was paid.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="charge-three---no-penalty-charge-payable-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Charge three - no penalty charge payable"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="charge-three---no-penalty-charge-payable-heading" class="accordion-heading">Charge three - no penalty charge payable</div>
            </div>
            <div id="charge-three---no-penalty-charge-payable-content" class="start-hidden" role="region" aria-labelledby="charge-three---no-penalty-charge-payable-heading">
<h3>No penalty charge is payable under the scheme e.g. I was not in the charging area during charging hours.</h3>

<p>The Regulations define this ground as:</p>

<p><strong>"That no penalty charge is payable under the charging scheme."</strong></p>

<p>There are a number of circumstances which may or may not be applicable (remember to provide as much supporting evidence as you can) including:</p>

<ul>
	<li>Exemptions apply to certain vehicles and they will automatically be exempt from the Low Emission Zone (LEZ) if registered in Great Britain. These vehicles are:<br />
	<br />
	‐ vehicles designed and built for use on a variety of terrains such as agricultural and forestry tractors, mowing machines, agricultural and farm machinery, mobile cranes, and road and building machinery but which may be used on the road for limited purposes. This does not include vehicles that were designed and built as a road going vehicle but may have limited use on the roads or a role or purpose that may mean it is used primarily away from the roads but may occasionally be used on a road.<br />
	‐&nbsp;Vehicles built before 1 January 1973 and those with "Historic" tax class"<br />
	‐ Military vehicles</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>100% Showman's discount&nbsp;- The 100% showman's discount applies to very few vehicles and this discount is available for certain vehicles provided they are first registered with TfL. Until a vehicle is successfully registered you are required to pay the full daily charge. If you believe that your vehicle is registered, then please provide proof of the registration including the letter confirming the acceptance of your discount for the vehicle in question. Remember to check that the number plate has&nbsp;been recorded correctly</li>
	<li>Diverted into the Low Emission Zone - If you are diverted into the Low Emission Zone due to an incident, accident or road works, you should either follow the diversion route or leave as soon as possible. When making a Representation please give as many details as possible including the date, time and location of the diversion; details of the incident that may relate for instance an accident on the M25 and if you spoke with a police officer. We will check our records to confirm if there was a diversion. If, however, you enter the Low Emission Zone just to avoid traffic or got lost then these are not valid grounds for Representation</li>
	<li>Signs &amp; Boundary - The boundary to the Low Emission Zone is clearly marked with Department for Transport approved road traffic sign and if you pass this road traffic sign during charging hours you must pay the charge. The scheme applies 365 days a year 24 hours a day. Reasons such as you not seeing the signs or there not being enough signs will not be accepted by TfL. However, if you believe that your vehicle did not enter the Low Emission Zone or the signs are incorrect please provide full details with your Representation including the exact location and route you took</li>
	<li>Leaving the Low Emission Zone - This will not be accepted by TfL as a valid reason for non payment of the charge as the LEZ Scheme is in operation 365 days a year 7 days a week. The LEZ charge is payable if a vehicle travels within the Low Emission Zone during charging hours whether entering, exiting or just moving within the zone</li>
	<li>A vehicle entering the zone on one day, say just before midnight and leaving the next day say just after midnight is required to purchase 2 daily charges, a separate charge for each 24 hour period is required.&nbsp;</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-four---vehicle-used-or-kept-without-my-consent-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Ground four - vehicle used or kept without my consent"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-four---vehicle-used-or-kept-without-my-consent-heading" class="accordion-heading">Ground four - vehicle used or kept without my consent</div>
            </div>
            <div id="ground-four---vehicle-used-or-kept-without-my-consent-content" class="start-hidden" role="region" aria-labelledby="ground-four---vehicle-used-or-kept-without-my-consent-heading">
<h3>The vehicle was used or kept without my consent e.g. stolen.</h3>
<p>
The Regulations define this ground as:</p>
<p><strong>"That the vehicle had been used or kept or permitted to be used or kept on a road by a person who was in control of the vehicle without the consent of the registered keeper."</strong></p>
<p>It is the registered keeper, or if a hire company has transferred liability, the nominated hirer, who is liable for the PCN. You cannot rely on the fact that you may not have been the driver, that an employee was driving the vehicle or that someone borrowed the car.</p>
<p>If your vehicle was stolen or you had not permitted the use of the vehicle at the time of the contravention, then please make a Representation. However, you will need to provide evidence to support your claim.</p>
<ul>
    <li>E.g. if stolen please provide details of the crime reference number, and the name of the police station to which the crime was reported, the date the vehicle was stolen and if applicable, the date of recovery</li>
    <li>Details of any insurance claim</li>
    <li>Details regarding the use of the vehicle on that day/time of contravention </li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-five---charge-exceeds-the-amount-payable-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Ground five - charge exceeds the amount payable"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-five---charge-exceeds-the-amount-payable-heading" class="accordion-heading">Ground five - charge exceeds the amount payable</div>
            </div>
            <div id="ground-five---charge-exceeds-the-amount-payable-content" class="start-hidden" role="region" aria-labelledby="ground-five---charge-exceeds-the-amount-payable-heading">
<h3>The Penalty Charge exceeds the amount payable in the circumstances of the case.</h3>
<p>This may mean that you are being asked to pay a penalty charge amount above that detailed in the regulations. Reasons would include:</p>
<ul>
    <li>The amount shown on the PCN is incorrect and does not reflect the penalty charge due for the vehicle as specified in the Low Emissions Zone Scheme Order - please provide a copy of the PCN</li>
    <li>You have already paid the PCN - please provide proof of payment. If you have a receipt please provide this or if not, confirmation that the money has been taken from your account. Remember you need to have allowed time for the payment to have been received</li>
</ul>
<p>This does not mean that you disagree with the amount of the penalty charge or that a penalty charge has been imposed upon you. </p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ground-six---vehicle-hired-out-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Challenge a Penalty Charge Notice-Ground six - vehicle hired out"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ground-six---vehicle-hired-out-heading" class="accordion-heading">Ground six - vehicle hired out</div>
            </div>
            <div id="ground-six---vehicle-hired-out-content" class="start-hidden" role="region" aria-labelledby="ground-six---vehicle-hired-out-heading">
<h3>We are a vehicle hire firm and the vehicle was hired out under a hire agreement on the date of contravention and the hirer signed a statement of liability for any resulting penalty charges.</h3>

<p>The Regulations define this ground as:</p>

<p>"That the recipient is a vehicle-hire firm and</p>

<ol>
	<li><strong>the vehicle in question was at the material time hired from that firm under a hiring agreement; and</strong></li>
	<li><strong>the person hiring it had signed a statement of liability acknowledging his liability in respect of any Penalty Charge Notice imposed in relation to the vehicle during the currency of the hiring agreement</strong></li>
</ol>

<p>If you are the registered keeper of the vehicle, and want to transfer liability to the hirer, liability can only be transferred if you can provide a hire agreement that shows you, as the registered keeper, have entered into an agreement with a hirer to hire the vehicle and the agreement fully meets the requirements of Section 66 of the Road Traffic Offenders Act 1988, and</p>

<ul>
	<li>The vehicle is on hire for a period of less than 6 months, and</li>
	<li>The agreement has a signed statement of liability and</li>
	<li>The hire agreement has all the relevant information on it where relevant as defined in Schedule 2 of the Road Traffic (Owner Liability) Regulations 2000</li>
</ul>

<p>A director of a hire company cannot transfer liability from themselves where they are the registered keeper of the vehicle using the 'company hire agreement'. This is because as a director you are a separate legal entity to the hire company and the hire agreement is not sufficient to transfer liability away from you.</p>

<h4>Schedule 2 of the Road Traffic (Owner Liability) Regulations 2000</h4>

<p>Particulars required in a Hiring Agreement to comply with Section 66 of the Road Traffic Offenders Act 1988</p>

<p>A. Particulars of person signing statement of liability</p>

<ol>
	<li>Full Name</li>
	<li>Date of birth</li>
	<li>Permanent Address</li>
	<li>Address at time of hiring (if different from 3 above and stay is likely to be more than two months from date of hiring)</li>
	<li>Details of driving licence:</li>
	<li>- country where issued (if not UK)<br />
	- serial number or driver's number<br />
	- date of expiry (which should be no later than date specified in B7 below)</li>
</ol>

<p>If the person taking possession of the vehicle is not the same as the person by or on whose behalf the statement was signed, the full name of that person should also be supplied (if known).</p>

<p>B. Particulars of hiring agreements</p>

<ol>
	<li>Number plate of vehicle hired under the hiring agreement</li>
	<li>Make and model of vehicle hired under the hiring agreement</li>
	<li>Number plate of any vehicle substituted for the above during the currency of the hiring agreement</li>
	<li>Make and model of any vehicle substituted for the above during the currency of the hiring agreement</li>
	<li>Time and date of any change of vehicle</li>
	<li>Time and date of commencement of original hiring period</li>
	<li>Expected time and date of expiry of original hiring period</li>
	<li>Time and date of commencement of authorised extension of hiring period*</li>
	<li>Expected time and date of expiry of authorised extension of hiring period*</li>
	<li>Actual time and date of return of vehicle (or when vehicle returned out of hours; time and date on which vehicle hire firm next opened for business)*</li>
</ol>

<p>* The requirement applies only to the vehicle hire firm's copy of the hiring agreement.</p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h3>Mitigation and discretion</h3>
<p>
If none of the six grounds are applicable, you can still make a
representation to us. If you explain your circumstances, we will
consider any mitigating circumstances and use our discretion in
reaching
a decision.
</p>
<p>We will not accept the following explanations:
</p>
<ul>
    <li>Forgetting to pay the charge, without any mitigating circumstances for doing so </li>
    <li>Not knowing how to pay the charge</li>
    <li>Not meaning to enter the LEZ or entering it as a result of getting lost</li>
    <li>Disapproval of the LEZ scheme</li>
    <li>Not knowing about the LEZ</li>
</ul>
<h2>Making an appeal</h2>
<p>You can only appeal to the independent adjudicator if you have made a representation in time which has been rejected by us. You will have been sent a notice of appeal form with the notice of rejection.</p>
<p><a href="http://www.londontribunals.gov.uk/">London Tribunals</a>  is an independent body which acts as a adjudication service. Its decision is final and binding on both you and us.</p>
<p>If you disagree with our decision, you have the right to appeal.</p>
<ul>
    <li>
    To appeal you need to complete the form sent with the notice of rejection</li>
    <li>
    Do not send this to us but to the address shown on the appeal form</li>
    <li>
    You may opt for either a personal or postal hearing</li>
    <li>
    Remember, you only have 28 days from the date of the notice of rejection to appeal to London Tribunals</li>
    <li>
    You need to provide all your evidence to the adjudicator and not us</li>
    <li>
    When we are notified of your appeal we will freeze the PCN. You should note however that you may be asked to pay the PCN at the full amount if you are unsuccessful. We will then also provide evidence to London Tribunals  and will provide you with a copy of this evidence</li>
    <li>
    The adjudicator will then make a decision looking at your evidence and our evidence pack. Adjudicators cannot consider mitigating circumstances or apply their discretion</li>
    <li>
    A copy of the adjudicator's decision will be sent to both you and us</li>
</ul>
<h3>Appeal allowed</h3>
<p>
This means that following consideration by the adjudicator the tribunal has found in your favour. This will mean that you are no longer liable for the PCN.</p>
<h3>Appeal refused</h3>
<p>
This means that following consideration by the adjudicator the tribunal has found in our favour. The adjudicator will have listed the reasons why and given direction as to the amount that is owed and how quickly this must be paid.</p>
<p>Find more on the <a href="http://www.londontribunals.gov.uk/ruc/preparing-your-appeal">appeals process on the London Tribunals website</a>.</p>
<h2>Making a Statutory Declaration</h2>
<p>If your PCN remains unpaid after we have served the charge certificate, we may apply to the Traffic Enforcement Centre (TEC) and register the penalty as a debt. You will then be sent an Order for Recovery.</p>
<p>
This is not a County Court Judgement and will not affect your credit rating.</p>
<p>You should either pay the increased amount or, if applicable, make a Statutory Declaration before the end of the period of 21 days beginning with the date upon which the County Court order is served.</p>
<p>Failure to take action will result in bailiffs being instructed.</p>
<h3>Submitting a Statutory Declaration</h3>
<p>
A Statutory Declaration is not a representation or a complaint. You may only make a Statutory Declaration if:</p>
<ul>
    <li>You did not receive the original PCN. This does not apply if you just forgot to pay it, mislaid it or forgot to make a representation</li>
    <li>You made a representation but did not receive a reply. This only applies if you made a representation within the 28-day period and did not receive a response from ourselves. It does not apply if you received a reply you disagreed with or we refused to consider your representation because it was late or from a third party</li>
    <li>You made an appeal to London Tribunals  and did not receive a reply</li>
</ul>
<p>
Remember:</p>
<ul>
    <li>The Statutory Declaration is a sworn oath</li>
    <li>You must accurately complete the form enclosed with the Order for Recovery</li>
    <li>It must be signed before a Commissioner of Oaths (eg a solicitor), an officer of the County Court appointed by a judge to take affidavits, or a Justice of the Peace (at any Magistrates Court)</li>
    <li>There is no charge if your signature is witnessed at a County Court</li>
    <li>The Statutory Declaration is not a chance to complain or challenge the reason a PCN was issued</li>
</ul>
<p>If the Statutory Declaration is not signed and witnessed, or if you do not make it on one of the three grounds, the Court may refuse it.</p>
<p>Do not send your Statutory Declaration to us but send it directly to the TEC. It deals with Statutory Declarations only and cannot advise you on other matters or take payments.</p>
<p>You have the right to challenge the registration of the debt by making an application to file a Statutory Declaration, Out of Time. When submitting such an application you must explain your reasons for not completing the Statutory Declaration within the original time limit.</p>
<p>These reasons may be accepted or rejected by the local authority. If they are rejected, then the case will be referred to a Senior Officer of the Court at the TEC who will determine whether the application should be granted or refused..</p>
<p>
We will review each application submitted Out of Time and may challenge the application in the event that:</p>
<ul>
    <li>There is evidence that you knew of the PCN</li>
    <li>You have failed to update the DVLA with your correct address</li>
    <li>You are still resident at the address to which correspondence was sent</li>
    <li>There are other grounds under which the application can be challenged</li>
</ul>
<p>
For further guidance on submitting an application Out of Time, please refer to the TEC website or contact their helpdesk on 0300 123 1059.</p>
<p>If you have submitted an application to file a Statutory Declaration Out of Time, you should make the bailiff aware of your circumstances and provide them with evidence of the application.</p>
<h3>Outcome</h3>
<p>
If your Statutory Declaration is successful it does not mean that the PCN has been cancelled.</p>
<ul>
    <li>If it was made on ground one, 'that you did not receive the PCN', we will reissue it and allow you to pay or make a representation. Do not ignore this PCN. (If you did not receive the original PCN because you changed address, ensure your Statutory Declaration includes details of your new address)</li>
    <li>If your Statutory Declaration was made on ground two or three, 'that you did not receive a response to either your representation or appeal', then we will refer the matter to an independent adjudicator. This does not automatically cancel the penalty charge. We will send you a copy of the evidence we are required to pass to the independent adjudicator and they will then contact you about the hearing and its outcome. If this appeal is refused you will be notified and must then pay the PCN</li>
</ul>
<p>You do not have the automatic right to make a Statutory Declaration. Filing a false declaration knowingly and wilfully is a criminal offence under Section 5 of the Perjury Act 1911 and you may be imprisoned for up to two years or fined or both.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges/enforcement-process">Enforcement process</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice">Challenge a Penalty Charge Notice</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The representations and appeals process for challenging a Penalty Charge Notice (PCN).";}
        
            
        


 