
    
  



@{ViewBag.Title = "Enforcement process";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/penalty-charges/enforcement-process";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></li>
                
            
                
                <li><span class="last-breadcrumb">Enforcement process</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Enforcement process</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>This guide explains the enforcement process for the Low Emission Zone (LEZ) and the notices you may receive.<BR></p>
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a PCN</a>

    </div>
</div> 
 <div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover" >Challenge a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<h2 abp="184">Penalty Charge Notices (PCNs)</h2>

<p abp="185">If you have been served with a notice, you have 28 days to either:</p>

<ul abp="186">
	<li abp="187"><a abp="188" href="/modes/driving/pay-a-pcn">Pay the PCN</a></li>
	<li abp="189"><a abp="190" href="/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice">Challenge a PCN</a></li>
</ul>

<p abp="191">If you pay within 14 days of service, the penalty charge will be discounted by 50%.</p>

<p abp="192">Please do not ignore a PCN.</p>

<p abp="192">Find out about <a href="/modes/driving/low-emission-zone/penalty-charges">changes to penalty charges from 26 October 2020.</a></p>

<h3 abp="193">What if I don't pay it?</h3>

<p abp="194">If you don't pay your PCN or make a representation within 28 calendar days, it will increase to &pound;1,500 or &pound;750 (depending on vehicle size).</p>

<h2 abp="195">Charge certificate</h2>

<p abp="196">If you do not pay the PCN within 28 days of the date of service, the original penalty amount will increase by 50% and a charge certificate will be sent to the registered keeper of the vehicle.</p>

<p abp="197">You have 14 days from the date of service in which to pay this.</p>

<p abp="198">Once a charge certificate has been issued you can no longer challenge the notice by making a representation. If you did not receive the original PCN, or you have not yet received a reply to a representation, you can <a href="/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice">make a Statutory Declaration</a>.</p>

<h2 abp="199">Order for recovery</h2>

<p abp="200">If the penalty charge is not paid within 14 days of a Charge Certificate being served then we may apply to register it as an unpaid debt at the Traffic Enforcement Centre which incurs a debt registration fee for each PCN.<br />
<br />
You will then be sent an Order for Recovery. This is not a County Court Judgment and will not affect your credit rating. At this point the penalty charge due increases by the debt registration fee.<br />
<br />
You have 21 days from the date of service in which to pay this.<br />
<br />
Under the Interpretation Act 1978 s.7, unless the contrary is proved, service is deemed to have been effected at the time when the Order for Recovery would be delivered in the ordinary course of post.</p>

<h2 abp="202">Enforcement Agents (bailiffs)</h2>

<p abp="203">If a PCN has not been paid within 21 days of an order for recovery being served, then we will ask for a warrant of execution, which will be passed to an enforcement agent to recover monies owed.</p>

<p abp="204">You will not be sent a copy of the warrant, but you may request a copy directly from the enforcement agent.</p>

<p abp="205">Initially they will write to you. They are allowed to charge fees for every letter, visit and action taken. If you ignore these communications, fees may run into many hundreds of pounds.</p>

<p abp="206">If you believe a PCN was issued incorrectly, please show any evidence to the enforcement agent. They will advise you if there is anything you can do, but in most cases you must pay them.</p>

<p abp="207">Enforcement agents acting on our behalf are all County Court certified and operate in accordance with governing legislation and our contractual requirements.</p>

<h3 abp="208">Contracted enforcement agents</h3>

<h4 abp="209">Equita Limited</h4>

<p abp="210"><strong abp="211">Email: </strong><a abp="212" href="mailto:info&#64;equita.co.uk">info&#64;equita.co.uk</a><br abp="213" />
<strong abp="214">Phone:</strong> 01604 628 360<br abp="217" />
<strong abp="218">Address:</strong><br abp="219" />
42-44 Henry Street<br abp="220" />
Northampton NN1 4BZ</p>

<h4 abp="221">JBW Group</h4>

<p abp="222"><strong abp="223">Email: </strong><a abp="224" href="mailto:customercare&#64;jbw.co.uk">customercare&#64;jbwgroup.co.uk</a><br abp="225" />
<strong abp="226">Phone:</strong> 0330 1070 024<br abp="229" />
<strong abp="230">Address:</strong><br abp="231" />
9th Floor, Peninsular House, Monument Street<br abp="232" />
London EC3R 8LJ</p>

<h4 abp="233">Marston Group Ltd</h4>

<p abp="234"><strong abp="235">Email: </strong><a abp="236" href="mailto:customercare&#64;marstongroup.co.uk">customercare&#64;marstongroup.co.uk</a><br abp="237" />
<strong abp="238">Phone:</strong> 0845 074 3749<br abp="241" />
<strong abp="242">Address:</strong><br abp="243" />
148 Edmund St<br abp="244" />
Birmingham B3 2JR</p>

<h4 abp="245">TASK Enforcement Ltd</h4>

<p abp="246"><strong abp="247">Email: </strong><a abp="248" href="mailto:service&#64;taskenforcement.co.uk">service&#64;taskenforcement.co.uk</a><br abp="249" />
<strong abp="250">Phone: </strong>0333 320 1100<br abp="253" />
<strong abp="254">Address:</strong><br abp="255" />
PO BOX 12019,<br />
Epping CM16 9EB</p>

<h2 abp="257">Non-UK registered vehicles</h2>

<p abp="258">Recovery of unpaid penalties to non-UK registered vehicles is undertaken by a dedicated European debt recovery agency and we have established links with many European vehicle licensing agencies. We will always issue and recover penalties against vehicles registered outside the United Kingdom wherever possible.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges/enforcement-process">Enforcement process</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice">Challenge a Penalty Charge Notice</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Information on the LEZ enforcement process and the notices you may receive.";}
        
            
        


 