


@{ViewBag.Title = "Celebrities donate their time to support road safety this autumn ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Celebrities donate their time to support road safety this autumn </h1>
        <div class="content-page-press-release">
        25 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Top music artists and Empire cinema join Transport for London (TfL) in reminding young Londoners to 'look out for your mates'.
        
    </div>



 <div class="on-this-page">
<p>Chart-topping Londoners such as Tinie Tempah, Tinchy Stryder and Eliza Doolittle have joined forces with TfL to support the Capital's new teen road safety campaign, which launches today.</p>
<p>A <a href="http://www.youtube.com/watch?v=WXBMf1-_yJ4">video clip </a>featuring the artists alongside rising stars Rox and Jaya, all of whom kindly took time out of their busy schedules to donate their support to TfL's campaign, goes online today.</p>
<p>Longer clips were placed on the music stars' own websites and Facebook pages over the summer.&nbsp; </p>
<p>These specific teenage channels helped TfL reach thousands of teens across London this summer, generating over 1,000 views a week. </p>
<p>In addition, a brand new clip featuring the rapper Bashy, who took time out from a busy tour schedule with Gorillaz to film his own short video, will be put up next week.</p>
<h2>Donate support</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'It's great to see the cutting edge of young British music playing a fundamental role in getting a serious message to young people about road safety. </p>
<p>'They are showing an incredible sense of duty to their fans; and the key thing now is that young people take on board the message to look out for each other on our roads.'</p>
<p>As well as reaching teens online, road safety posters carrying the message 'don't let your friendship die on the road' have gone up on billboards, phone boxes, tube stations and bus shelters at key locations across the Capital.&nbsp; </p>
<p>The Empire cinema in Leicester Square has also offered to support the campaign by placing TfL's teen road safety posters in its foyer in time for the October half-term. </p>
<p>Placing the posters in this prominent position means they can be easily spotted by teens out enjoying their holiday. </p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, says: 'Promoting teenage road safety is something we take very seriously at TfL. </p>
<p>'It is wonderful that these influential stars feel just as strongly and have donated their support by contributing to this important road safety campaign. </p>
<p>'A lot of work has been carried out over the summer to reach teenagers with our campaign messages. </p>
<p>'As the winter months start to settle in and the nights get darker we want to build on this good work to make sure that young Londoners remember to look out for their mates.'</p>
<h2>Serious issue</h2>
<p>Tinie Tempah said: 'This is a fantastic campaign and I really hope that my contribution will help it reach more teens across the Capital. </p>
<p>'Try and imagine how you would feel if it was your friend. </p>
<p>'Don't let your friendship die on the road.'</p>
<p>Eliza Doolittle said: 'It may not be cool and it may not be very exciting but the issue of road safety is very serious. </p>
<p>'I hope that all London's teens listen up and look out for their friends as a result of this campaign.'</p>
<p>The campaign, which is aimed at reducing the number of teens killed or seriously injured on the Capital's roads, has been running for ten years. </p>
<p>'During this time the number of teens killed or seriously injured has been reduced by nearly 55 per cent including a reduction of 18 per cent between 2008 and 2009 alone.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>No stars were paid to appear in this clip. Each person volunteered their services free of charge</li>
<li>In March 2000 the Government announced in 'Tomorrow's roads - safer for everyone' a national road safety strategy and casualty reduction targets.&nbsp;The casualty reduction targets, compared with the 1994/98 baseline, are to be achieved by the end of 2010</li>
<li>They are:</li>
<ul>
<li>A 40 per cent&nbsp;reduction in the number of people killed or seriously injured</li>
<li>A 50 per cent&nbsp;reduction in the number of children killed or seriously injured</li>
<li>A 10 per cent&nbsp;reduction in the slight casualty rate</li></ul>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2001. The plan supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders killed or seriously injured by 2010 when compared with the 1994/98 baseline. TfL announced new, more stringent targets in March 2006, again to be achieved by 2010</li>
<li>Currently the Mayor's targets for London are as follows: </li>
<ul>
<li>A&nbsp;50 per cent&nbsp;reduction in the number of people killed or seriously injured</li>
<li>A 50 per cent&nbsp;reduction in the number of pedestrians killed or seriously injured</li>
<li>A&nbsp;50 per cent&nbsp;reduction in the number of cyclists killed or seriously injured</li>
<li>A 40 per cent&nbsp;reduction in the number of powered two-wheeler users killed or seriously injured</li>
<li>A 60 per&nbsp;cent&nbsp;reduction in the number of children killed or seriously injured&nbsp;</li>
<li>A 25 per cent&nbsp;reduction in the slight casualty rate&nbsp;</li></ul>
<li>London has already exceeded the 2010 targets set by the Government for the number of children killed or seriously injured and the total number of people killed or seriously injured three years early.&nbsp;London has also met the more stringent London target of a 60 per cent reduction in the number of children (aged 15 and younger) killed or seriously injured on our roads and is working to further reduce the number of casualties</li>
<li>The <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">Casualties in Greater London during 2009 report </a>is available online</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Chart-topping Londoners such as Tinie Tempah, Tinchy Stryder and Eliza Doolittle have joined forces with TfL to support the Capital's new teen road safety campaign, which launches today.A video clip featuring the artists alongside rising stars Rox and";}
        
        


 