


@{ViewBag.Title = "Cyclists urged to take extra care around lorries at junctions ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyclists urged to take extra care around lorries at junctions </h1>
        <div class="content-page-press-release">
        25 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycle safety awareness campaign warns cyclists of the dangers of undertaking (going up the left-hand side) lorries at junctions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Adult cycle training is a great way to improve confidence and to develop the skills needed to keep cycling safely and comfortably throughout the winter
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL introduces new lorry driver training which includes a cycle safety awareness training module to help further improve safety in the Capital</li></ul>
<p>The Mayor and TfL are calling on London's drivers and cyclists to take greater care around each another on the Capital's roads, as TfL's autumn cycle safety campaign gets underway today. </p>
<h2>Safer London driving</h2>Although cycling in London has become much safer in the last decade or so, with the number of cyclists killed or seriously injured falling by around a quarter despite cycle journeys rising to an estimated half a million a day, cycle safety remain a serious issue. 
<p>
<p>Cyclists' safety around HGVs is a particular concern, with around half of all cycle deaths in the Capital involving goods vehicle; since January 2009, 13 of the 23 cyclists who lost their lives on London's roads died following collisions with lorries. </p>
<p>To help tackle this tragic loss of life, the Mayor and TfL are today: </p>
<ul>
<li>Introducing new 'Safer London Driving' cycle awareness training for lorry drivers, which is now part of the HGV drivers' Certificate of Professional competence accredited </li>
<li>Calling for more freight operators to join the <a title="FORS microsite" href="http://www.tfl.gov.uk/microsites/fors/default.aspx">Freight Operator Recognition Scheme</a> (FORS) and offering 540 free 'Safer London Driving' places to FORS members </li>
<li>Urging cyclists not to undertake lorries at junctions through a widespread cycle safety advertising campaign which will see hundreds of safety posters go up at key sites throughout the Capital </li>
<li>Calling for more people to sign up for the additional TfL-funded adult commuter cycle training available from boroughs by visiting: <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></li></ul>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'As many thousands of cycle hire members have discovered over the past three months, cycling is one of the most enjoyable ways of getting around London.&nbsp;</p>
<p>'But as ever more people take to two wheels it is important we do everything we can to improve cycle safety in the Capital. </p>
<p>'We are working with freight operating companies to improve HGV safety and we are the first city in the UK to trial on-street cycle safety 'Trixi' mirrors. </p>
<p>'However, perhaps most vital is getting safety advice to cyclists, whether new or experienced, particularly about road positioning and crucially that being in the blind spot of a large vehicle could potentially have fatal consequences.' </p>
<h2>Awareness training</h2>
<p>As part of a six-month trial that began in July,&nbsp;39 Trixi mirrors, which give drivers of large vehicles better visibility of cyclists at junctions, have been installed along the pilot Cycle Superhighways routes.&nbsp;</p>
<p>Early research conducted into the ongoing trial has found that the majority of lorry drivers, cyclists and car/van drivers questioned believed that roadside safety mirrors improve cyclists' safety.&nbsp;</p>
<p>The majority of HGV drivers also said they would change the way they used junctions fitted with roadside safety mirrors. </p>
<p>The Mayor and TfL continue to engage with the freight industry to improve cycle safety in the Capital. In addition to the cycle safety awareness training that has been developed for HGV drivers', TfL has also: </p>
<ul>
<li>Distributed more than 20,000 cycle safety lenses (known as Fresnel lenses) to freight companies operating in London and contacted 300 operators that have construction vehicles in their fleet, urging them to install side-bars or other safety devices on HGVs that are currently exempt </li>
<li>Signed a Memorandum of Understanding earlier this summer which commits the Mayor, TfL and the Freight Transport Association (FTA) to working together to improve cycle safety in London </li>
<li>Chaired the Cycle Safety Working Group which has had key developments from its members such as the 'no more lethal lorries campaign' which RoadPeace and the London Cycling Campaign (LCCs) launched</li></ul>
<p>People who live, work or study in central London can now have cycle training even if they don't have their own bike.&nbsp;TfL has provided London's cycle hire boroughs with their own cycle hire bikes to use for training.&nbsp;</p>
<p>People can also brush up on their cycle safety skills by taking two minutes to watch the Barclays Cycle Hire safety film at: <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a>. </p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'As the days become colder and the nights longer we want to help keep cyclists riding throughout the winter months.&nbsp;</p>
<p>'Our new awareness campaign makes it clear that cycling in a lorry's blind spot can have fatal consequences.&nbsp;</p>
<p>'Adult cycle training is a great way to improve confidence and to develop the skills needed to keep cycling safely and comfortably throughout the winter; I'd urge anyone who cycles or who is thinking about cycling in London to give it a go.</p>
<p>'We hope that the introduction of the new Safer London Driving training for lorry drivers, which increases cycle awareness, will also help to remind HGV drivers of the road issues cyclists' face.'<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p><strong>
<ul>
<li></li></ul></strong>The Mayor and TfL are taking action on the 30+ measures identified in the Cycle Safety Action Plan, published earlier this year, aimed at reducing the number of cyclists killed in collisions with goods vehicles. The plan is available at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> 
<li>Barclays Cycle Hire has a Users' Code of Conduct, to help people use and enjoy the scheme safely. The Code's tips include:<br>-&nbsp;Be careful around Lorries, which have numerous blind spots, and never pass them on the left just before, or at, traffic lights<br>-&nbsp;Don't get too close to parked cars<br>-&nbsp;Watch put for other vehicles and pedestrians and give clear hand signals to show your intentions<br>-&nbsp;Make yourself seen at night by wearing reflective or fluorescent clothing </li>
<li>Barclays Cycle Superhighways are clearly marked cycle routes designed to make it quicker, safer and easier for Londoners to commute between outer and inner London. For more information, log onto: <a href="http://www.tfl.gov.uk/barclayscyclesuperhighways">www.tfl.gov.uk/barclayscyclesuperhighways</a> </li>
<li>Early research conducted into the ongoing trial of Trixi Mirrors has found that the majority of lorry drivers (45 out of 51), cyclists (15 out of 20) and car/van drivers (17 out of 20) believed that roadside safety mirrors improve cyclists' safety.&nbsp; The majority of HGV drivers said they would change the way they used junctions fitted with roadside safety mirrors (41 out of 51) </li>
<li>Early results from the Barclays Cycle Superhighways pilot routes suggest an overall increase of 25 per cent in cycle journeys, with some sections of the Merton to City route showing increases of 90 per cent or more </li>
<li>'Driving Safely in London' training places to FORS members (funded by TfL and London Borough of Barking and Dagenham. The boroughs used their Barclays Cycle Superhighways funding allocation from TfL to pay for the driver training as part of improving safety in their borough. Discussions are underway with other boroughs to do the same) </li>
<li>The campaign groups RoadPeace and the LCC have launched there 'No more lethal lorries campaign' details can be found at: <a href="http://www.lcc.org.uk/index.asp?PageID=1911">http://www.lcc.org.uk/index.asp?PageID=1911</a> </li>
<li>Cycling in London is getting safer; the number of cyclists killed or seriously injured on London's roads has fallen by 24 per cent in the last decade. This is despite the fact that the number of journeys made on London's major roads has increased by 117 per cent since 2000. TfL has a target to increase cycling by 400 per cent by 2026, compared to 2000 levels </li>
<li>Barclays Cycle Hire enables users to pick up and drop off one of around 5,000 hire bicycles at around 340 locations across London's zone one travel area. Once complete the scheme will consist of 6,000 hire bicycles based at 400 locations. For more information, log onto <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL introduces new lorry driver training which includes a cycle safety awareness training module to help further improve safety in the CapitalThe Mayor and TfL are calling on London's drivers and cyclists to take greater care around each another on the";}
        
        


 