


@{ViewBag.Title = "Fare evaders foiled as route 149 goes double deck ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fare evaders foiled as route 149 goes double deck </h1>
        <div class="content-page-press-release">
        18 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route 149 is the fourth to see bendy buses withdrawn. All bendy buses to be removed from London's streets by the end of 2011.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A third of the routes have now been converted with the remainder set to depart before the end of next year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A third of the routes have now been converted with the remainder set to depart before the end of next year
                            
                        </p>
                    </div>
                
            
            
            <p>Around &pound;1.5m is set to be saved by replacing bendy buses with double deck-buses on route 149, which runs between Edmonton Green and London Bridge station.&nbsp; </p>
<p>The route has become the fourth in the Capital to see bendy buses withdrawn and means over 100 of the giant buses have left the Capital as a result of the Mayor's election pledge. </p>
<p>The figures were revealed at the start of the first working week for 35 new double-deck buses, which passengers will find run more frequently at peak times than the 27 bendy buses that previously operated the route. </p>
<p>An analysis of passenger numbers and use of route 149 has allowed Transport for London to reduce contract costs of running the service by nearly &pound;1m.&nbsp; </p>
<p>It is also estimated that moving from having bendy buses with open boarding to double-deck buses will save &pound;550,000 a year from fare evasion on the busy route.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'These monoliths of the road were never appropriate for the narrow streets of London and I'm delighted we've now sent over 100 of them packing.&nbsp; </p>
<p>'Even better, the fare evaders who duck and dive their way around these hulking great monsters without fear of having to put their hand in their pocket are finding that on our replacement double-deck buses there is nowhere to hide.'</p>
<h2>Election pledge</h2>
<p>The withdrawal of bendy buses from the streets of London was a Mayoral election pledge.&nbsp; </p>
<p>Once complete this is expected to deliver a significant reduction in the level of fare evasion.&nbsp; </p>
<p>On the route 38, which was converted from bendy buses to double-deck buses last year, fare evasion has fallen from 8.13 per cent in 2008/09 to 1.76 per cent since double-deck buses were introduced last November, saving &pound;500,000 annually.&nbsp; </p>
<p>On route 149 the frequency of service during peak hours on Mondays to Fridays will increase, with extra buses running every four to five minutes.&nbsp; </p>
<p>During Saturday and Sunday daytime the frequency will be every eight minutes and night services will continue to run every 30 minutes.&nbsp; </p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor continues to make good on his promise to Londoners to remove bendy buses from our streets, and a third of the routes have now been converted with the remainder set to depart before the end of next year.&nbsp; </p>
<p>'But this is not just about getting rid of these unwanted 18-metre monstrosities, when every bendy bus is off our roads we also expect to be able to save &pound;5m a year in fare evasion.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The removal of bendy buses began on route 507, which converted to 12-metre single-decks on 25 July.&nbsp;Route 521 was converted to 12-metre single-decks on 1 September.&nbsp;Route 38 was converted on 14 November; route 18 will convert in November 2010.&nbsp;The remaining routes - 12, 25, 29, 73, 207, 436 and 453 - will convert by the end of 2011
<li>Route 149 will continue to be operated by Arriva</li>
<li>Passengers will board via the front door and alight at the centre door, in common with all other double-deck routes</li>
<li>The service frequency was carefully planned to ensure that sufficient capacity is available to passengers</li>
<li>Fare evasion on London's bus network in 2009 cost in the region of &pound;32m</li>
<li>The reduction in fare evasion on route 38 is comparing&nbsp;three quarters post conversion (November 2009, February 2010 and May 2010) to the same period the previous year (November 2008, February 2009 and May 2009)</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Around &pound;1.5m is set to be saved by replacing bendy buses with double deck-buses on route 149, which runs between Edmonton Green and London Bridge station.&nbsp; The route has become the fourth in the Capital to see bendy buses withdrawn and means";}
        
        


 