


@{ViewBag.Title = "Football's rising stars lend their support to teen road safety campaign ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Football's rising stars lend their support to teen road safety campaign </h1>
        <div class="content-page-press-release">
        28 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the nights get darker Premiership Academy stars help remind young Londoners to take care on the roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that the Capital's top talent is helping us to get this important message across"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm delighted that the Capital's top talent is helping us to get this important message across
                            
                        </p>
                    </div>
                
            
            
            <p>Rising football stars have joined forces with Transport for London (TfL) to kick off a new road safety campaign aimed at keeping teenagers safe on the roads.</p>
<p>With the clocks going back on Sunday 31 October some teens will be travelling home in the dark. </p>
<p>TfL is launching the next phase of its 'look out for your mates' campaign to make sure the darker nights don't lead to more casualties. </p>
<p>Young footballers from top clubs across the Capital, including Fulham, Queens Park Rangers, Tottenham Hotspur and West Ham United have recorded short messages in support of the campaign. </p>
<p>The films have been posted on the clubs' websites. </p>
<p>Chelsea and Arsenal have also pledged their support.</p>
<p>Road collisions involving teenagers typically occur on weekdays at peak travelling times when they are travelling to and from school. </p>
<p>In 2009, 301 teenagers were killed or seriously injured on London's roads.</p>
<h2>Look out for your mates</h2>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'Thousands of young people look up to footballers and as a football fan myself, I'm delighted that the Capital's top talent is helping us to get this important message across.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, says: 'We are really grateful to the clubs who have done so much to help us support this important campaign.</p>
<p>'Many teens only begin travelling on their own when they start secondary school. </p>
<p>'It's during these first few years of independent travel they are most likely to be involved in a road collision. </p>
<p>'Now the darker evenings are with us, young people really need to keep their wits about them and remember the important road safety messages in these football videos.'</p>
<p>An Football Association spokesperson said: 'Football has the amazing capacity to capture people's attention, and when such serious matters are at stake it is important to harness that capability and do what we can to make a difference.'</p>
<p>'Young footballers have an important role to play with so many of their peers looking up to them. </p>
<p>'I'm confident this campaign will make a difference.'</p>
<p>John McDermott, Tottenham Hotspur's Academy Manager, said: 'Most teenagers don't spend a lot of time thinking about road safety but it really is something which they should give a little more thought to.'</p>
<p>'After hearing the shocking statistic that nearly every day a teenager is killed or seriously injured on London's roads our lads were really keen to do what they could to help. </p>
<p>'That's why they're reaching out to their peers to remind them to 'look out for their mates' on the roads now that it's getting darker earlier.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>No stars were paid to appear in this clip. Each person volunteered their services for free</li>
<li>In March 2000 the Government announced in 'Tomorrow's roads - safer for everyone' a national road safety strategy and casualty reduction targets.&nbsp;The casualty reduction targets, compared with the 1994/98 baseline, are to be achieved by the end of 2010. They are:&nbsp;</li>
<ul>
<li>A 40 per cent&nbsp;reduction in the number of people killed or seriously injured</li>
<li>A&nbsp;50 per cent&nbsp;reduction in the number of children killed or seriously injured</li>
<li>A 10 per cent&nbsp;reduction in the slight casualty rate&nbsp;</li></ul>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2001. The plan supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders killed or seriously injured by 2010 when compared with the 1994/98 baseline. TfL announced new, more stringent targets in March 2006, again to be achieved by 2010. Currently the Mayor's targets for London are as follows:</li>
<ul>
<li>A 50 per cent&nbsp;reduction in the number of people killed or seriously injured</li>
<li>A 50 per cent&nbsp;reduction in the number of pedestrians killed or seriously injured&nbsp;</li>
<li>A&nbsp;50 per cent&nbsp;reduction in the number of cyclists killed or seriously injured&nbsp;</li>
<li>A 40 per cent&nbsp;reduction in the number of powered two wheeler users killed or seriously injured&nbsp;</li>
<li>A 60 per cent&nbsp;reduction in the number of children killed or seriously injured&nbsp;</li>
<li>A 25 per cent&nbsp;reduction in the slight casualty rate&nbsp;</li></ul>
<li>London has already exceeded the 2010 targets set by the Government for the number of children killed or seriously injured and the total number of people killed or seriously injured three years early.&nbsp;London has also met the more stringent London target of a 60 per cent reduction in the number of children (age 15 and younger) killed or seriously injured on our roads and is working to further reduce the number of casualties</li>
<li>The <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php ">Casualties in Greater London during 2009 report </a>is available online<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rising football stars have joined forces with Transport for London (TfL) to kick off a new road safety campaign aimed at keeping teenagers safe on the roads.With the clocks going back on Sunday 31 October some teens will be travelling home in the dark.";}
        
        


 