


@{ViewBag.Title = "Glory for film maker who follows cycle path to true love ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Glory for film maker who follows cycle path to true love </h1>
        <div class="content-page-press-release">
        18 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        North London film maker captures spirit of cycling in London to win Transport for London's (TfL's) Cycling Revolution film competition. Best films showcased at international Bicycle Film Festival. Judges praise the high quality of entries.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The films served as a wonderful advertisement for cycling in our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The films served as a wonderful advertisement for cycling in our city
                            
                        </p>
                    </div>
                
            
            
            <p>North London film maker Lee Butterley has beaten stiff competition to triumph in TfL's Cycle Revolution film competition.</p>
<p>TfL teamed up with Film London and the Bicycle Film Festival to give film makers the opportunity to celebrate the spirit of cycling in London through film. </p>
<p>They were asked to submit short films of three minutes or under that could take the form of a documentary, animation or drama. </p>
<p>Lee was named the winner by the Mayor's Transport Adviser, Kulveer Ranger, at a special event as part of the international Bicycle Film Festival on Saturday evening. </p>
<p>His quirky short film, Simon and Simone, serves to remind us all that love can conquer all - with the help of the Mayor's flagship cycle hire scheme!</p>
<p>Lee, from Kilburn, said: 'We wanted to make a film which was simple, engaging and also showed how useful and accessible the Cycle Hire scheme is. </p>
<p>'We recorded the film in one afternoon traversing London from the Barbican to the South Bank to try and get as many iconic locations in as possible. </p>
<p>'What we came up with is an old fashioned race against time, with the Barclays Cycle Hire bike saving the day and bringing two estranged lovers finally together.'</p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'Some absolutely fantastic films were put together for the competition and each of them captured the energy and excitement that the Mayor's cycling revolution is generating in the Capital. </p>
<p>'But congratulations go to Lee for his superb piece of work. </p>
<p>'As well as being very good technically, Simon and Simone also put a smile on the faces of the judges.'</p>
<h2>Get on your bike</h2>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'There was a real vibrancy to all the films that made the shortlist. </p>
<p>'They excellently demonstrate how liberating it can be to get on a bike in London. </p>
<p>'The films served as a wonderful advertisement for cycling in our city.'</p>
<p>Adrian Wootton, Chief Executive of Film London said: 'Short film-making is widely regarded as the best way for aspiring film-makers to learn their trade. </p>
<p>'It is fantastic for Film London to find partners, such as TfL, to offer a film making competition which provides another platform to Londoners to get out there and make short films. </p>
<p>'Also it is wonderful to be celebrating cycling through film making as London is undergoing an exciting cycling revolution.'</p>
<p>The competition was launched to coincide with the arrival in the Capital of the Mayor's flagship cycle schemes, Barclays Cycle Hire and Barclays Cycle Superhighways. </p>
<p>In just ten weeks since the launch of Barclays Cycle Hire more than 90,000 members have made over a million journeys between them, boosting cycle journeys in the Capital by around 20,000 journeys every week day.</p>
<p>Barclays Cycle Superhighways benefits London's cyclists by making it safer and easier to commute by bike between outer and inner London. </p>
<p>The first two pilot routes - Barking to Tower Gateway and Merton to the City - were opened in July and early results suggest there has been an overall increase of 25 per cent in cycle journeys, with some sections of the Merton to City route showing increases of 90 per cent or more.</p>
<p>The shortlisted films can be viewed on request.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li><a href="http://www.filmlondon.org.uk">Film London </a>is the Capital's film and media agency promoting and developing the city as a major international film-making and film cultural Capital </li>
<li>The <a href="http://www.bicyclefilmfestival.com">Bicycle Film Festival </a>is in its 10th year. It takes place across 39 world cities </li>
<li>The competition was open to entrants aged 18 and over as the winning entrant will have to assign copyright in the design in writing to TfL </li>
<li>There was one prize of &pound;1,000 (which includes TfL having unlimited screening rights for up to&nbsp;five years) </li>
<li><a href="http://shop.tfl.gov.uk/Londons-Cycling-Revolution-Film-Competition.html">Full competition rules </a>can be found online </li>
<li>The creation of an easy to use cycle hire system was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>A membership key costs &pound;3. Members must pay an access fee to use the scheme: &pound;1 for 24 hours, &pound;5 for seven days or &pound;45 for a year. The first 30 minutes of any journey are free from usage charges. Currently, those wishing to use the scheme need to <a href="http://www.tfl.gov.uk/barclayscyclehire">register </a>as a member </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>Barclays Cycle Hire is due to be opened up to casual users later this year. In the meantime, anyone who has a debit or credit card with a UK billing address - regardless of where they live in the country - can sign up to use the scheme. People who sign up for 24-hour, 7-day or annual membership can choose to auto-renew, which means they can start a new hire period whenever they want, by simply inserting their cycle hire key into a docking point and taking a bike. The 24-hour auto renew option is particularly useful for infrequent visitors to London </li>
<li><a href="http://www.bspoke.co.uk">Bspoke </a>is a multifunctional clothing collection fashioned to wear both on and off your bike</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "North London film maker Lee Butterley has beaten stiff competition to triumph in TfL's Cycle Revolution film competition.TfL teamed up with Film London and the Bicycle Film Festival to give film makers the opportunity to celebrate the spirit of cycling in";}
        
        


 