


@{ViewBag.Title = "Heritage award for Maida Vale Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Heritage award for Maida Vale Tube station</h1>
        <div class="content-page-press-release">
        15 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        National Railway Heritage award to be unveiled at Maida Vale Tube Station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Heritage is a big part of LU's identity and retaining the historical features, alongside modernisations and improvements, is very important to us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Ashworth</div>
            <div class="quotee-job-title">LU's Design & Heritage Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Heritage is a big part of LU's identity and retaining the historical features, alongside modernisations and improvements, is very important to us 
                            
                        </p>
                    </div>
                
            
            
            <p>The Deputy Lord Mayor of Westminster Cllr Jan Prendergast will be unveiling a National Railway Heritage Award plaque at Maida Vale Tube station on Monday morning (October 18). </p>
<p>London Underground (LU) won the award for the modernisation of the station which was built in 1915. </p>
<p>The Grade II listed building on the Bakerloo line, came top in the London Regional Category at the National Awards for modernisation of a heritage station last year. </p>

<h2>Retaining historical features</h2>
<p>The award recognises the work LU has done to restore the many original heritage features such as the large, attractive mosaics of the famous Tube logo or 'roundel', red terracotta facade and the extensive tiled wall finishes. </p>
<p>Richard Parry, Strategy &amp; Commercial Director for LU, said: 'This award highlights the hard work put in by our staff to preserve the heritage of the station at the same time as modernising it to a high standard for the thousands of people that use it every day.'</p>
<p>Mike Ashworth, Design &amp; Heritage Manager for LU, said: 'Heritage is a big part of London Underground's identity and retaining the historical features, alongside modernisations and improvements, is very important to us and to our customers.' </p>
<h2>Innovative setting</h2>

<p>Deputy Lord Mayor of Westminster, Cllr Jan Prendergast, said: 'The Tube is synonymous with London and this award recognises that the important history of the Maida Vale Tube station can be preserved in a modern and innovative setting.'</p>
<p>New CCTV, an improved public address system and tactile strips on platforms have also been installed at Maida Vale, as part of Transport for London's multi-billion pound Investment Programme.</p>
<p>White City Tube station and Earl's Court Tube station were also shortlisted at the awards and both received certificates of merit in respect of the modernisation works undertaken at these historic stations.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>If you would like to send a photographer to the unveiling ceremony, please call TfL Press Officer Candice Jones on 020 7126 4883 or 0845 604 4141 and meet her at the Station Supervisor's Office no later than 10.50am on Monday 18 October </li>
<li>LU is undertaking a major programme of renewal as part of TfL's multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to check before&nbsp;travelling at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>The mosaic Tube roundels in Maida Vale station feature in Alfred Hitchcock's 1927 film Downhill <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Deputy Lord Mayor of Westminster Cllr Jan Prendergast will be unveiling a National Railway Heritage Award plaque at Maida Vale Tube station on Monday morning (October 18). London Underground (LU) won the award for the modernisation of the station";}
        
        


 