


@{ViewBag.Title = "Ian Brown, longstanding Managing Director of London Rail, set to retire";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ian Brown, longstanding Managing Director of London Rail, set to retire</h1>
        <div class="content-page-press-release">
        05 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and Transport Commissioner hail excellent record of delivery on Docklands Light Railway, London Overground and suburban rail network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"He has been a central figure in some of the great improvements to rail services in our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            He has been a central figure in some of the great improvements to rail services in our city 
                            
                        </p>
                    </div>
                
            
            
            <p>Ian Brown, who has led Transport for London's (TfL's) London Rail organisation with distinction over the last ten years, has announced that he is to retire.</p>
<p>In a career spanning over 40 years Ian has made an outstanding contribution to public transport and the rail industry, and his achievements have been hailed by the Mayor of London and by London's Transport Commissioner, Peter Hendy. </p>
<p>Ian and his team have played a central role in projects including:</p>
<ul>
<li>The transformation of the DLR, which has been integral to the growth of Canary Wharf and the wider redevelopment of east and south east London </li>
<li>London Overground, established three years ago, has improved rail services in London beyond all recognition, with new air conditioned trains, safe, well managed stations and massively increased customer satisfaction </li>
<li>The East London line, reopened in May and linking Hackney and Croydon, is delivering huge economic and social benefits to some of the poorest boroughs in London and providing the first major stage in what will become London's 'orbital railway' </li>
<li>Croydon Tramlink, taken into the TfL family and now providing an excellent service to passengers in south London </li>
<li>Oyster pay as you go, now available for use on national rail services in Greater London, vastly improving convenience for millions of passengers </li>
<li>Creating a new vision for the better use of the national rail network in London, including improvements to franchises and the brokering of an effective partnership with Network Rail </li>
<li>In addition Ian has been central to making the case for Crossrail and representing TfL's interests as joint sponsor of the project as it has moved from the drawing board to implementation</li></ul>
<p>Over the years, Ian has also made a wide contribution to the railway industry. </p>

<h2>An integral role</h2>
<p>In 2007, the Secretary of State for Transport appointed him to the Railway Heritage Committee where he is using his experience to preserve the country's railway heritage. </p>
<p>In September 2009, he received an award for 'an outstanding personal contribution to the rail industry' at the National Rail Awards.</p>
<p>Mayor of London, Boris Johnson, said: 'Ian has made an extraordinary contribution to the improvement of London's transport network.&nbsp; </p>
<p>'He has been a central figure in some of the great improvements to rail services in our city including the transformation of the Docklands Light Railway, the construction of the East London line, and the birth of London Overground, which has transformed the previously neglected Silverlink service. </p>
<p>'He has played an integral role in the development of Transport for London, where he has approached his decade of service with an indefatigable commitment to improving the life and landscape of London. </p>
<p>'I'm sure that Londoners will join me in thanking him, and in wishing him well for the future.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'Ian has had a remarkable and distinguished career and has done an enormous amount to improve London's transport network. </p>
<p>'This work, like the improvements to the DLR and the new East London line, has had an enormously positive effect on the lives of local people, their access to employment, education and leisure opportunities and continues to do so. </p>

<h2>Member of the team</h2>
<p>'I would like to thank him for his ceaseless efforts and achievements over the last ten years. </p>
<p>'The dedication that Ian has inspired among his staff and others at TfL will ensure that improvements to the rail network in London will continue into future decades. </p>
<p>'I'm sure that Ian will continue to play an important role in the rail industry for years to come.'</p>
<p>Ian Brown, MD London Rail. said: 'It's been great to have been a member of the TfL team&nbsp; over the last 10 years.</p>
<p>'The London Rail team have delivered so much innovation and development for London's railways - I am proud of them all.'</p>
<p>Ian will leave his current role after the TfL Board meeting on 4 November and take up an advisory role on London Rail and Crossrail until he leaves TfL on 31 March 2011. </p>
<p>The way in which London Rail operates in the longer-term will be considered as part of the wider review of TfL's organisational structure.&nbsp; </p>
<p>In the meantime, Mike Brown will become Managing Director of London Rail, alongside his existing role of Managing Director of London Underground, with the Crossrail Joint Sponsor team reporting to Steve Allen.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ian Brown, who has led Transport for London's (TfL's) London Rail organisation with distinction over the last ten years, has announced that he is to retire.In a career spanning over 40 years Ian has made an outstanding contribution to public transport and";}
        
        


 