


@{ViewBag.Title = "Initial works start on two more continuous, direct cycle routes for Londoners ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Initial works start on two more continuous, direct cycle routes for Londoners </h1>
        <div class="content-page-press-release">
        01 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two new Barclays Cycle Superhighways routes to launch in summer 2011 - from Wandsworth to Westminster, and Bow to Aldgate
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Superhighways are a fantastically visual reminder to all road users, not just cyclists, that London embraces cycling as an integral cog in its machine"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Superhighways are a fantastically visual reminder to all road users, not just cyclists, that London embraces cycling as an integral cog in its machine
                            
                        </p>
                    </div>
                
            
            
            <p>-&nbsp;Early results from both pilot routes suggest an overall increase of 25 per cent in cycle journeys </p>
<p>The delivery of the Mayor's next two Barclays Cycle Superhighways moved a step closer today (Thursday 30 September), with works starting on routes from Wandsworth to Westminster, and Bow to Aldgate.</p>
<p>The two new routes, which will be up and running in summer 2011, follow the launch of the pilot Superhighways in July this year. </p>
<p>Early results from both pilot routes suggest an overall increase of 25 per cent in cycle journeys, with some sections of the Merton to City route showing increases of 90 per cent or more. </p>
<h2>Smoother journey</h2>
<p>A key part of the Mayor's commitment to stimulating a cycling revolution in the Capital, the Barclays Cycle Superhighways give cyclists clearly marked, direct and continuous cycle routes into central London.</p>
<p>Works started today on the Bow to Aldgate route with preparatory work on Mile End Road in advance of resurfacing to provide a smoother journey for cyclists, and kerb improvements at Armoury Way on the Wandsworth to Westminster route. </p>
<p>As well as installing highly visible blue cycle lanes along both of the new routes at a minimum of 1.5 metres wide, other works scheduled to make it easier and safer to commute by bike include:</p>
<ul>
<li>Introducing 24 new Advanced Stop Lines at junctions along both routes, providing a space for cyclists to wait at lights ahead of the queue of traffic </li>
<li>Making modifications to 30 junctions along both routes to make them safer for cyclists, for example at the junction of Cambridge Heath Road and Whitechapel Road. Subject to a successful trial along the pilot routes, Transport for London (TfL) is planning to install cycle safety mirrors known as 'Trixi' mirrors at this location. Proposals also include upgrading the traffic signal equipment, and assessing the possible removal of existing left-turn slip roads </li>
<li>Providing a quicker and safer way for cyclists to travel across the Bow Roundabout on the Bow to Aldgate route </li>
<li>Introducing a clearly marked diversionary route so that cyclists can avoid the busy junction of Battersea Park Road and Queenstown Road on the Wandsworth to Westminster route </li>
<li>Introducing mandatory cycle lanes wherever possible, including along 25 per cent of the Wandsworth to Westminster route </li></ul>
<p>The Mayor of London, Boris Johnson, said: 'The two pilot Superhighways routes are a-buzz with cyclists following the blue lanes to get to and from work each day. </p>
<p>'These two new routes are set to give thousands more Londoners a taste of commuting by bicycle on our Superhighways, which provide cyclists with faster, safer, direct, continuous routes into central London.</p>
<p>'The Superhighways are a fantastically visual reminder to all road users, not just cyclists, that London embraces cycling as an integral cog in its machine.' </p>
<h2>Next two routes</h2>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The initial works that have started today on the next two Barclays Cycle Superhighways are the first of many hundreds of improvements that will be made over the coming months to these routes, making sure that the work is delivered to provide the best value for money. </p>
<p>'We are continuing to gather detailed data on the performance of the pilot routes and will ensure that this information is taken into account as work on the next two routes progresses. </p>
<p>'TfL is also working closely with the relevant London boroughs and a whole range of interested parties to ensure that we maximise every opportunity to improve the cycle commute for those already using these routes, and attract many more thousands of Londoners to join them.'</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The two pilot Barclays Cycle Superhighways routes run from Merton to the City (CS7) and Barking to Tower Gateway (CS3) launched on 19 July. The next two Barclays Cycle Superhighways routes will run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8) and will launch in summer 2011. Maps of CS2 and CS8 are available from TfL's press office on 0845 604 4141 </li>
<li>Provisional results from both pilot routes suggest an overall increase of 25 per cent in cycle journeys; this is based on one day of counts in August 2010 and a comparable day in August 2009 </li>
<li>Some sections of the Merton to City route showed an increase of 90 per cent or more in cycle journeys, following automatic and manual counts undertaken in August 2010 and compared with data from the same month in the previous year. Comprehensive data on the number of cycle journeys on both pilot routes will be available later this year </li>
<li>The Barclays Cycle Superhighways are a set of 12 radial routes aimed at delivering benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes </li>
<li>The Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys that London has seen since TfL was created in 2000. The Mayor and TfL have a target to increase cycling by 400 per cent by 2026 (compared to 2000 levels) </li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11 with the money spent on Barclays Cycle Superhighways, Barclays Cycle Hire, infrastructure, training, promotion and education</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;Early results from both pilot routes suggest an overall increase of 25 per cent in cycle journeys The delivery of the Mayor's next two Barclays Cycle Superhighways moved a step closer today (Thursday 30 September), with works starting on routes";}
        
        


 