


@{ViewBag.Title = "London Underground MD apologises to passengers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground MD apologises to passengers </h1>
        <div class="content-page-press-release">
        19 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) Managing Director Mike Brown apologises to passengers affected by Tube disruptions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are now looking closely into the circumstances of both incidents to ensure we get to the root causes and take the necessary steps to prevent further occurrences
                            
                        </p>
                    </div>
                
            
            
            <p>Following a number of incidents on Monday and Tuesday of this week, two of which meant passengers having to be helped from trains that were stuck in tunnels, LU Managing Director Mike Brown apologised to Tube passengers. </p>
<p>Mike Brown said: 'I am sorry that for a second day many of our customers have had difficult and in some cases severely interrupted journeys to work.&nbsp;</p>
<p>'I know that having to walk along the track through a tunnel is distressing.&nbsp;It is not something our customers should have to expect, and is something we always seek to avoid.&nbsp;</p>
<p>'Nevertheless, on the rare occasions when a train is stuck in a tunnel, as soon as it becomes clear that we will not be able to arrange for it to be moved within a reasonable timescale, the safest and best option is to take customers off of the train.&nbsp;</p>
<p>'This was the case on both the Jubilee line yesterday morning, and the Victoria line this morning.&nbsp;&nbsp; </p>
<p>'On the Jubilee line, there was a power interruption due to damaged tunnel telephone cables and on the Victoria line, a defect on one of the new trains left it unable to move.&nbsp; </p>
<p>'We are now looking closely into the circumstances of both incidents to ensure we get to the root causes and take the necessary steps to prevent further occurrences. </p>
<p>'Unfortunately several unrelated problems have affected some other lines in the past two days, compounding the disruption for passengers.&nbsp; </p>
<p>'Again, we are examining the detailed causes of these to avoid re-occurrence.&nbsp; </p>
<p>'Despite claims by the RMT that all of these problems result from their current overtime ban, this is not the case, except on the Metropolitan line where a programme of essential maintenance on some trains is indeed being delayed by the current disruptive and unnecessary practices urged by the RMT leadership.<br>&nbsp;<br>'Our customers deserve much better than the service they have had in recent days and all our energies are focused on delivering a fast, reliable and safe service.'</p>
<p>Customers delayed for more than 15 minutes by disruption on the Tube can apply for a refund of their fare at <a href="http://www.tfl.gov.uk/tfl/tickets/refunds/tuberefund/">tfl.gov.uk/tfl/tickets/refunds/tuberefund</a></p>
<p>Alternatively they can contact LU's Customer Service Centre on 0845 330 9880 for more information.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a number of incidents on Monday and Tuesday of this week, two of which meant passengers having to be helped from trains that were stuck in tunnels, LU Managing Director Mike Brown apologised to Tube passengers. Mike Brown said: 'I am sorry that";}
        
        


 