


@{ViewBag.Title = "London Underground chief urges RMT and TSSA leaderships to call off 'pointless' strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground chief urges RMT and TSSA leaderships to call off 'pointless' strike</h1>
        <div class="content-page-press-release">
        01 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Writing in today's Metro newspaper the Managing Director of London Underground, Mike Brown, has urged the leaderships of the RMT and TSSA unions to call off their 'pointless' strike on London Underground (LU) that is scheduled to begin on Sunday evening.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Changing London Underground is not a choice - it is essential, and we will not be diverted from moving with the times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Changing London Underground is not a choice - it is essential, and we will not be diverted from moving with the times
                            
                        </p>
                    </div>
                
            
            
            <p>Due to the popularity of Oyster just one in 20 journeys made on the network now involves a visit to a ticket office. </p>
<p>Some ticket offices now sell fewer than ten tickets per hour. </p>
<p>In these circumstances it is essential that London Underground&nbsp;(LU) adapts and, as Mike Brown sets out in his message to Londoners, the staffing changes that are being made come with the guarantee of:</p>
<ul>
<li>No compulsory redundancies or loss of earnings </li>
<li>Every station that currently has a ticket office will retain one </li>
<li>All stations will remain staffed at all times</li></ul>
<p>The RMT and TSSA leaderships intend to strike nonetheless, even though only around 35 per cent of TSSA members and less than a third of RMT members voted for a walkout.</p>
<p>Mike Brown, LU Managing Director,&nbsp;said: 'I regret that our passengers may face difficult journeys and we are doing everything possible to avert the strike.</p>
<p>'In refusing to talk to us for nearly a week, and demanding that we withdraw all proposals for staffing changes before talks could progress, the leadership of the RMT and TSSA have seemed intent on disruption.</p>
<p>'But changing London Underground is not a choice - it is essential, and we will not be diverted from moving with the times. </p>
<p>'The union leaderships have tried to scaremonger, citing safety issues, but they did not put a single safety-related issue to us during our talks at the conciliation service, ACAS, nor have they responded to our request that they set out their specific safety concerns.<br>&nbsp;<br>'Londoners will doubtless, like me, be hoping that the RMT and TSSA leaderships finally see sense.&nbsp; </p>
<p>'I urge them to call off this pointless industrial action and meet with us for talks.&nbsp; </p>
<p>'We will not withdraw our proposals, but we will listen to any specific safety concerns.&nbsp; </p>
<p>'I urge the trade unions to work with us to deliver a 21st century Tube fit for our customers and fit for London.'</p>
<p>The Mayor and Transport for London have also today detailed the efforts being made to help people get around the Capital and keep London moving during the strike.</p>
<p>Ninety-three per cent of Oyster customers made their journeys by public transport despite last month's strike.&nbsp;</p>
<p>The union leaderships had predicted the 'paralysis' of London, but in the event LU was able to operate over a third of its normal services, and carry over a million people. </p>
<p>Over a hundred extra buses, capacity for over 10,000 more journeys on the river, and marshalled taxi ranks have been organised. </p>
<p>Planned roadworks are being delayed or curtailed where possible, and TfL will be working to keep road traffic flowing around key transport hubs. </p>
<p>Volunteers will once again be positioned at Tube, bus, and rail stations to assist Londoners with their journeys and provide maps and other useful information.</p>
<p>Londoners who own a bike are encouraged to cycle to work. </p>
<p>Cycle parking facilities are being made easier for newcomers to access, and a Cycling Journey Planner will be available on TfL's website. </p>
<p>The Barclays Cycle Hire scheme - which saw record usage during the last strike - will be available to members, and TfL's contractors will be working to ensure that bikes are redistributed as effectively as possible. </p>
<p>Normal services are also expected to run on London Overground, Docklands Light Railway and Tramlink.</p>
<p>Should the strike go ahead, LU will work to operate as many services as possible, but passengers are advised that significant disruption is possible and that alternative travel options and staggering journey times should be considered where possible.</p>
<p>Passengers are advised to plan ahead and check before they travel at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Please read the full text of <a href="/corporate/media/newscentre/metro/16815.aspx">Mike Brown's message</a> </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles while delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office&nbsp; </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff. This also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Due to the popularity of Oyster just one in 20 journeys made on the network now involves a visit to a ticket office. Some ticket offices now sell fewer than ten tickets per hour. In these circumstances it is essential that London Underground&nbsp;(LU)";}
        
        


 