


@{ViewBag.Title = "London Underground ready for constructive ACAS talks with RMT and TSSA leaderships";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground ready for constructive ACAS talks with RMT and TSSA leaderships</h1>
        <div class="content-page-press-release">
        12 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has welcomed today's opportunity for constructive talks with the leaderships of the RMT and TSSA after the unions agreed to meet at the conciliation service ACAS to discuss LU's staffing plans.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Underground needs to change, and we look forward to being able to explain how we intend to do that with no compulsory redundancies and with no impact on our high safety standards"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Underground needs to change, and we look forward to being able to explain how we intend to do that with no compulsory redundancies and with no impact on our high safety standards
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has welcomed today's opportunity for constructive talks with the leaderships of the RMT and TSSA after the unions agreed to meet at the conciliation service ACAS to discuss LU's staffing plans.</p>
<p>Talks are set to take place this afternoon (Tuesday) at ACAS. LU is calling for the unions' strike action to be called off, and will once again be reiterating that its staffing changes will be delivered without any impact on the Tube's high safety standards and with a guarantee of no compulsory redundancies. </p>
<p>In addition, all stations with a ticket office will continue to have one, and all stations will continue to be staffed. </p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'We are pleased that the RMT and TSSA leaderships are willing to return to talks to try to resolve this issue. </p>
<p>'We'll be going into these discussions positively to try to address any concerns raised and trying to work together to resolve this issue without any further unnecessary disruption to Londoners.</p>
<p>'London Underground needs to change, and we look forward to being able to explain how we intend to do that with no compulsory redundancies and with no impact on our high safety standards.&nbsp;</p>
<p>'All of our stations with a ticket office will continue to have one, and we will continue to staff all stations.'</p>
<p><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 London Underground staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled</li>
<li>Both RMT and TSSA unions have announced strike action for operational staff commencing at 21:00 on Tuesday 2 November.&nbsp; The 24-hour strike would affect services throughout Wednesday 3 November</li>
<li>Should the strike go ahead, LU will work to operate as many services as possible, but disruption is likely and passengers are advised to plan ahead to consider alternative travel options or stagger journey times where possible, and to check before they travel on the day&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has welcomed today's opportunity for constructive talks with the leaderships of the RMT and TSSA after the unions agreed to meet at the conciliation service ACAS to discuss LU's staffing plans.Talks are set to take place this";}
        
        


 