


@{ViewBag.Title = "London Underground to review non-operational staff roles to further reduce costs and improve efficiency";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground to review non-operational staff roles to further reduce costs and improve efficiency</h1>
        <div class="content-page-press-release">
        07 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        LU consults Trades Unions on reductions in non-operational functions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Like all organisations we continue to face financial pressures and have a duty to be as effective and efficient as we can be"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Like all organisations we continue to face financial pressures and have a duty to be as effective and efficient as we can be
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>No customer facing or frontline roles affected by this review</li></ul>
<p>London Underground (LU) has today started consulting with trades unions over necessary changes to non-operational functions, to ensure that the company is operating as efficiently as possible to deliver customer services, the vital Tube upgrade programme and the best possible value for taxpayers and fare payers.</p>
<p>LU is reviewing all non-frontline services to ensure the right levels of resources are in place, and to protect the twin priorities of delivering excellent daily customer service and the Tube Investment Programme, so vital to support the economy and growth of London and the UK as a whole. </p>
<h2>Frontline services protected</h2>
<p>The review will reflect recent changes which have led to reductions in activity in some back-office areas, such as the changes in the formal contractual arrangements following the acquisition of Tube Lines.</p>
<p>Customer facing and frontline roles, such as train operators, station and maintenance staff are not affected by this review.&nbsp;</p>
<p>Around 400 permanent employees in back-office roles will be affected and a similar number of back-office posts which are currently vacant or filled by non-permanent staff will also be affected.</p>
<p>Mike Brown, Managing Director of London Underground, said: 'Like all organisations we continue to face financial pressures and have a duty to be as effective and efficient as we can be.&nbsp;</p>
<h2>Delivering priorities</h2>
<p>'London Underground is vital to London and the wider UK economy and we must have an organisation fit to deliver our priorities - excellent daily customer services and the delivery of the biggest Tube Investment Programme in our history.</p>
<p>'This must be our focus. No customer facing or frontline train, station, line control or maintenance roles are part of this review.</p>
<p>'We have committed to carrying out these changes as soon as possible to reduce uncertainty for those affected.'<br>&nbsp; <br>London Underground has written to all its trades unions today to outline the proposals.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "No customer facing or frontline roles affected by this reviewLondon Underground (LU) has today started consulting with trades unions over necessary changes to non-operational functions, to ensure that the company is operating as efficiently as possible to";}
        
        


 