


@{ViewBag.Title = "London's transport upgrade creates 400 jobs in the Midlands";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's transport upgrade creates 400 jobs in the Midlands</h1>
        <div class="content-page-press-release">
        15 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) orders with Bombardier boosting employment in and around Derby.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our orders with Bombardier are just one example of the positive effects these upgrades in London have for the country
                            
                        </p>
                    </div>
                
            
            
            <p>Upgrading the Capital's Tube and rail network is helping create jobs and benefits for the whole of the UK economy. </p>
<p>The creation of 400 new skilled jobs at global transport company Bombardier's base in Derby is the latest example of gains being made elsewhere in the country by investment in London.</p>
<p>Bombardier, is working on a range of orders from TfL, which will see nearly 2,000 new train carriages produced to help the Capital's transport system sustain the city's forecast population and jobs growth. </p>
<p>The 400 new roles have created to work on the Capital's carriages include engineers, skilled technicians and team leaders. </p>
<p>The jobs are spread across three sites and will bring much needed skilled employment in manufacturing. </p>
<p>Some of the jobs created will also see recruits trained to take a specially designed manufacturing NVQ qualification.</p>
<p>The Mayor's Transport Adviser, Kulveer Ranger, today travelled to Derby to see how the work on London's carriages is progressing. </p>
<p>The range of orders that the new recruits are working on include:</p>
<ul>
<li>Victoria line upgrade: 376 carriages (47 trains comprised of&nbsp;eight carriages each)&nbsp; </li>
<li>Metropolitan, District, Circle, and Hammersmith &amp; City lines upgrade:&nbsp;1395 carriages (191 new trains - 58 of&nbsp;eight carriages and 133 of&nbsp;seven carriages) </li>
<li>London Overground: 216 carriages, with 12 more to follow in 2011 </li></ul>
<h2>New jobs</h2>
<p>Mayor of London, Boris Johnson, said: 'The creation of 400 new skilled jobs in Derby is yet further evidence of the national economic benefits of investing in the Capital's transport infrastructure. </p>
<p>'London is the motor that drives the UK economy and if you starve it of petrol then you risk the whole thing spluttering to a halt, which makes the case for Crossrail and the Tube upgrades, which are forecast to add a whopping &pound;78bn to the UK's wealth, utterly compelling.'</p>
<p>Peter Hendy, Commissioner, TfL, said: 'Transforming London's transport network, particularly the Tube, Crossrail and an extensive bus network, is essential to the economic health of the Capital and the rest of the UK.</p>
<p>'Our orders with Bombardier are just one example of the positive effects these upgrades in London have for the country. </p>
<p>'As well as giving us the extra capacity vital for London's future growth and development it is also creating jobs elsewhere - like the 400 jobs in Derby.'</p>
<p>Colin S Walton, Bombardier's UK Chairman said: 'I am delighted that fulfilling our contracts for Transport for London has enabled us to create 400 temporary jobs at a time when many organizations are reducing their workforces. </p>
<p>'Whilst the positions are temporary contracts, I would hope that if we are successful in winning more contracts, that we will be able to consider extending their contracts or making some of the positions permanent. </p>
<p>'Taking the new jobs into account means we will have some 3,000 staff at our Derby site, which in turn means that around 8,000 jobs within our supply chain are also being supported.'</p>
<h2>Benefits to the UK</h2>
<p>Leader of Derby City Council, Harvey Jennings, said: 'The contracts being undertaken by Bombardier for London are bringing around &pound;3bn into the East Midlands economy. </p>
<p>'Many people have said that London receives more than its fair share of investment but this proves that investment in London benefits other regions and helps sustain the UK's manufacturing industry.'</p>
<p>TfLis in the process of a multi-billion pound upgrade of the Capital's underground and rail network.&nbsp; </p>
<p>This is key to the future growth and recovery of the entire country, given the wide-ranging economic benefits that will be delivered. </p>
<p>The Tube upgrades which will deliver faster, more frequent and more reliable train services. </p>
<p>Many of the Tube's assets are in urgent need of replacement, and 40 per cent of Tube trains have exceeded their intended life span.</p>
<p>The upgrade is progressing well - the first of the Victoria line's new trains entered passenger service in July 2009 and nine others have since followed, with more being delivered all the time, while the first of the new air-conditioned, walk-through 's-stock' trains for the sub surface (Circle, District, Hammersmith &amp; City and Metropolitan) lines entered passenger service on 2 August 2010. </p>
<p>In 2009/10, London Underground carried more than one billion passengers for the fourth year in succession, almost as many as the entire National Rail network.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Upgrading the Capital's Tube and rail network is helping create jobs and benefits for the whole of the UK economy. The creation of 400 new skilled jobs at global transport company Bombardier's base in Derby is the latest example of gains being made";}
        
        


 