


@{ViewBag.Title = "Mayor confirms removal of Congestion Charge Western Extension Zone by Christmas and introduction of CC Auto Pay in New Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms removal of Congestion Charge Western Extension Zone by Christmas and introduction of CC Auto Pay in New Year</h1>
        <div class="content-page-press-release">
        20 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sixty-two per cent of consultation responses back removal of Western Extension.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is essential that the Congestion Charge is made fairer and more effective, but also that it continues to do what it says on the tin and remains a deterrent to all but essential journeys into the heart of the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is essential that the Congestion Charge is made fairer and more effective, but also that it continues to do what it says on the tin and remains a deterrent to all but essential journeys into the heart of the Capital
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Last day of charging in Western Extension will be Christmas Eve </li>
<li>CC Auto Pay will offer &pound;1 discount and easier, simpler payments</li></ul>
<p>The Mayor of London, Boris Johnson, today confirmed his decision to remove the Western Extension Zone of the Congestion Charge scheme by Christmas and to make a number of improvements to the scheme, including the introduction of an automatic payment system (called 'CC Auto Pay') that will mean no one need ever be fined again. </p>
<p>Sixty two per cent of respondents to Transport for London's (TfL) public consultation on the Western Extension backed its removal.&nbsp;The last charging day in the Western Extension will be on Christmas Eve, 24 December 2010. </p>
<h2>Simpler and easier to pay</h2>
<p>On 4 January 2011 a number of other changes to the scheme will come into effect. They include the introduction of CC Auto Pay accounts that will offer a simpler, easier way to pay and a new Greener Vehicle Discount to encourage a switch to much cleaner and greener cars.&nbsp;</p>
<p>The Congestion Charge will also increase from &pound;8 to &pound;9 if paid using CC Auto Pay; or &pound;10 if paid in advance (or on the day) using conventional means and &pound;12 if paid the next charging day.</p>
<p>The Mayor of London, Boris Johnson, said: 'The people of west London had the Western Extension unfairly foisted upon them and they have now voiced their antipathy for it loud and clear on several occasions.&nbsp;</p>
<p>'After negotiating a testing course of several legal hurdles, I am delighted to be able to confirm that it will now be removed by Christmas.&nbsp;</p>
<p>'It will be vanquished, annihilated and obliterated, with road markings literally blasted from the earth over the festive period. </p>
<p>'It is essential that the Congestion Charge is made fairer and more effective, but also that it continues to do what it says on the tin and remains a deterrent to all but essential journeys into the heart of the Capital. I have therefore taken the difficult, but nevertheless crucial decision to increase the daily charge to &pound;10.&nbsp;</p>
<p>'However, motorists can take comfort in the new CC Auto Pay accounts that will mean a &pound;1 discount and the peace of mind that never again will they get clobbered for forgetting to pay the charge.' </p>
<h2>Smooth traffic flow</h2>
<p>The Congestion Charge will remain under review in future years to ensure that it remains an effective measure to control traffic levels in central London.&nbsp;</p>
<p>Efforts to smooth traffic flow in the Capital will also continue, to ensure essential journeys can take place, but not at the expense of air quality.&nbsp;</p>
<p>All net revenues from the central London Congestion Charge will be invested in delivering improvements to London's transport infrastructure and to protect frontline transport services.</p>
<p>TfL will be contacting registered customers in the Western Extension area of the Congestion Charge zone after 22 November to inform them of the removal of their discount and to issue any appropriate refund.</p>
<p>Ahead of CC Auto Pay going live in January, motorists can pre-register on the TfL website for a CC Auto Pay account from 22 November.&nbsp;</p>
<p>This will make paying the congestion charge easier, more convenient and will ensure that no Penalty Charge Notices (PCNs) are issued to registered vehicles, so drivers will no longer be penalised for forgetting to pay the charge.&nbsp;</p>
<p>To register you will need a credit or debit card and will have to pay a &pound;10 registration charge for each vehicle on the account.&nbsp;</p>
<p>CC Auto Pay customers will also be eligible for a reduced daily charge of &pound;9.&nbsp;</p>
<p>Drivers will only be charged for the days they travel within the zone and will be billed each month. </p>
<h2>Greener vehicle discounts</h2>
<p>The Mayor has confirmed that the Alternative Fuel Discount will be discontinued and in its place a Greener Vehicle Discount will be created to encourage a switch to much cleaner and more CO2 efficient cars.&nbsp; </p>
<p>The current alternative fuel discount provides a 100 per cent discount to some vehicles that are powered by an alternative fuel.&nbsp; However, some benefits of the alternative fuels have been outpaced by technological developments in other vehicles.&nbsp;</p>
<p>This means some new vehicles that do not qualify for the alternative fuel discount have better environmental performance than some vehicles that do qualify. </p>
<p>The new Greener Vehicle Discount will provide a 100 per cent discount to cars that emit 100g/km of CO2 or less and meet the Euro 5 standard for air quality.&nbsp;</p>
<p>Over the course of the next 12 to 18 months it is anticipated that new electric and hybrid electric plug-in vehicles will be brought to market with significantly lower emission levels.&nbsp;</p>
<p>TfL will monitor developments in the market and keep discount criteria under review, with the intention of reducing the discount levels to 80g/km or lower when the time is right.&nbsp;</p>
<p>The review of exemption criteria will be carried out in 2012.&nbsp; </p>
<p>As with the current Alternative Fuel Discount, owners of cars eligible for the Greener Vehicle Discount will have to pay a &pound;10 annual registration charge.&nbsp; The eligibility criteria for the electric vehicle discount has also been widened to include plug-in hybrid electric vehicles. </p>
<p>The changes to the Congestion Charge Scheme Order follow a 10-week statutory public consultation that ran between 24 May and 2 August 2010.&nbsp;</p>
<p>The consultation received more than 13,000 responses.&nbsp;</p>
<p>A report summarising the responses was provided to the Mayor who then made a decision to implement the changes to the scheme.&nbsp;</p>
<p>The report can be viewed at: <a href="http://www.tfl.gov.uk/congestioncharging">www.tfl.gov.uk/congestioncharging</a>&nbsp; </p>
<p><br><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>On 19 February 2007 it was extended westwards, creating a single enlarged zone in which the same charges, discounts and exemptions apply </li>
<li>The scheme has helped reduce emissions of climate change gases and environmental pollutants from vehicles and encouraged people travelling in the area to use public transport, to walk or cycle </li>
<li>The Mayor and TfL have listened to the concerns about the impact of the Western Extension on the local economy and on people living in the zone.&nbsp;The Mayor has decided to confirm the Greater London (Central Zone) Congestion Charging (Variation and Transitional Provisions) Order 2010, made by TfL on 20 May 2010, without modification </li>
<li>TfL's analysis suggests that the removal of the Western Extension will lead to an increase in traffic and congestion in the area, however a number of measures will help to mitigate this, including the London (roadworks) Permit Scheme and work to smooth traffic flow </li>
<li>A reduction in congestion in the central London Congestion Charging zone is expected as a result of the removal of the Western Extension </li>
<li>The removal of the Western Extension will result in an estimated &pound;55m reduction in net annual revenue for TfL, as a result of people no longer having to pay a charge to drive in the area </li>
<li>Emissions of air quality pollutants from road transport in the zone are predicted to increase slightly as a result of the removal of the Western Extension, but it is not predicted that this would prevent London from meeting PM10 legal limits by 2011 </li>
<li>The Mayor and Transport for London are committed to introducing sustainable long-term measures to tackle air quality, including NOX levels, such as converting the bus fleet to hybrid, increasing the use of zero-polluting electric vehicles, introducing the New Bus for London, which will be 40 per cent less polluting than a traditional diesel model and investing record levels into cycling </li>
<li>The Low Emission Zone will include emissions standards for light goods vehicles and minibuses from January 2012. Also underway are plans to implement targeted interventions at the few locations in central London (not in the WEZ area) at risk of not meeting PM10 targets, for example applying dust suppressants to road surfaces and deploying the cleanest buses along routes in these locations.&nbsp;Work on these hotspots expected to start in November this year </li>
<li>The Congestion Charge Scheme Order will also be amended by the Mayor's confirmation of&nbsp; the Greater London (Central Zone) Congestion Charging (Variation and Transitional Provisions) (No 2) Order 2010, also made by TfL on 20 May 2010, with minor modifications.&nbsp;This Variation Order implements a number of changes to the Scheme. Among others, it implements an exemption under recent legislation given to HM Forces' vehicles from the Congestion Charge; currently, only vehicles that are being used for naval, military or air force purposes are exempt </li>
<li>The vast majority of vehicles that are eligible for a Congestion Charge discount must pay an initial &pound;10 registration charge and then an annual &pound;10 charge to maintain the discount.&nbsp;Currently vehicles with&nbsp;nine or more seats do not have to pay these charges.&nbsp;To ensure a consistent approach these vehicles will now have to pay this fee </li>
<li>Fleet Auto Pay will continue to operate as it currently does, but with two differences: the minimum number of vehicles an operator can register to qualify for a fleet account reduces to six (currently it is 10).&nbsp;The discount will be changed so it is in line with all other Auto Pay charge payers (ie. &pound;9 per day) </li>
<li>Residents registered for the Resident's Discount will be able to register for CC Auto Pay and will then be entitled to a 90 per cent&nbsp;discount of the &pound;9 daily charge.&nbsp; Under this system, a resident's account will be charged &pound;0.90 for every day that their vehicle is used within the Congestion Charging Zone.&nbsp;This works out cheaper and more flexible than the current payment method which requires residents to purchase weekly, monthly or annual charges at set prices </li>
<li>The current Alternative Fuel Discount provides a 100 per cent discount to some vehicles that are powered by an alternative fuel (TfL uses the DVLA definition of alternative fuel vehicles - which includes LPG, natural gas and petrol-electric hybrids).&nbsp;However, some of the benefits of the Alternative Fuel Discount have been outpaced by technological developments in other vehicles.&nbsp;This means that some new vehicles that do not qualify for the Alternative Fuel Discount have better environmental performance than some vehicles that do qualify </li>
<li>The Alternative Fuel Discount will be closed to new registrations on 24 December 2010.&nbsp;However, owners of vehicles registered with TfL before that date will continue to receive a 100 per cent discount for a two year period </li>
<li>The Congestion Charge will be suspended as normal over the festive period; then from Tuesday 4 January the Congestion Charging zone will revert to substantially the same boundaries as existed prior to the Western Extension being added in 2007 </li>
<li>Those people who receive the 90 per cent Resident's Discount because they reside within the Western Extension, or immediately adjacent to the Western Extension boundary, will no longer qualify for a 90 per cent discount from the charge, reverting to the position prior to the Western Extension</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Last day of charging in Western Extension will be Christmas Eve CC Auto Pay will offer &pound;1 discount and easier, simpler paymentsThe Mayor of London, Boris Johnson, today confirmed his decision to remove the Western Extension Zone of the Congestion";}
        
        


 