


@{ViewBag.Title = "Mayor and TfL urge London's drivers to look out for motorcyclists in bus lanes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL urge London's drivers to look out for motorcyclists in bus lanes</h1>
        <div class="content-page-press-release">
        05 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New advertising campaign launched and speeding enforcement stepped up to tackle motorcycle collisions in red route bus lanes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I want all road users to respect each other so they can share the roads and help everyone to stay safe as they make their way around London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want all road users to respect each other so they can share the roads and help everyone to stay safe as they make their way around London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today launched a new road safety campaign aimed at improving drivers' awareness of motorcyclists in bus lanes.</p>
<p>The hard-hitting radio advert reminds drivers that motorcyclists are harder to spot than buses and asks drivers to look out for them, particularly when turning across bus lanes.</p>
<h2>Motorcycle collisions</h2>
<p>The new advert is part of a package of measures TfL and the Metropolitan Police Service (MPS) have introduced to tackle an increase in the rate of motorcyclist collisions - predominantly with cars turning into or out of side roads on routes where motorcyclists have access to bus lanes - that were identified by the previous Motorcycles in Bus Lanes Trial. </p>
<p>The new Trial, which started in July, allows motorcyclists to ride in the 418 Transport for London Road Network bus lanes that were used in the previous Trial. However, following the evaluation results from the first Trial it also includes:</p>
<ul>
<li>The new radio campaign, which&nbsp;can be heard on XFM, Talksport, LBC, Heart, Absolute and Capital or on the <a title="http://www.tfl.gov.uk/motorcyclesinbuslanes" href="http://www.tfl.gov.uk/motorcyclesinbuslanes">TfL website </a></li>
<li>TfL working with the MPS to introduce targeted enforcement of speeding by motorcyclists in bus lanes to improve safety </li>
<li>Updating the TfL-funded MPS BikeSafe course (advanced motorcycle and scooter training), which now includes extra training on awareness of vehicles crossing their path at junctions</li></ul>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'The last Trial of allowing bikers to use bus lanes showed some real successes - fears there would be more collisions between cyclists and motorcyclists proved unfounded and road users who were surveyed supported the idea. </p>
<p>'However, it also revealed an increase in collisions between motorbikes and cars turning in or out of side roads on the bus lanes. Safety is clearly our top priority so through this new Trial we want to make sure we doing everything possible to keep all road users safe. </p>
<p>'I want all road users to respect each other so they can share the roads and help everyone to stay safe as they make their way around London.' </p>
<h2>Think bike</h2>
<p>Lilli Matson, Head of Modal Policy at TfL, said; 'We know that motorcyclists want to be able to use TfL's bus lanes, but we are also aware that they were the only road users whose road safety was adversely affected by the last Trial. </p>
<p>'We hope that our new, hard-hitting radio campaign, together with stricter enforcement of speeding by motorcyclists and the additional BikeSafe awareness training will help us to address the safety concerns raised by the previous Trial.'</p>
<p>Edmund King, AA President, said: 'We welcome this move which will enhance road safety. Drivers need to be aware that there will be motorbikes in bus lanes and remember to "think bike" when at junctions.&nbsp;</p>
<p>'They are used to seeing large red buses in bus lanes but must also be aware that more of our two-wheeled friends will also be present.</p>
<p>'Motorcyclists also need to remember that not every driver in London is a London driver and those from outside may not be expecting to find motorcycles in these lanes.' </p>
<p>Craig Carey-Clinch, spokesperson for the Motor Cycle Industry Association, said: 'The industry strongly welcomes the new advertising campaign by TfL. Allowing motorcycles to use bus lanes is a positive step towards improving transport accessibility for London citizens. </p>
<p>'However, it is vital that safety is secured for both motorcyclists and other road users, which is why, in tandem with supporting the new TfL campaign, MCI has launched a revised code of practice for motorcyclists who use bus lanes.&nbsp;This can be downloaded from the MCI website.' <br></p>
<p><strong>
<hr>
Notes to editors: </strong>
<p><strong></strong>
<ul>
<li>The current trial allows motorcyclists to ride in the 418 bus lanes on the Transport for London Road Network (TLRN) that were used in the previous 18 month Trial, which ended on 5 July. However, an independent report found that some questions remain about the way in which motorcycle riders use bus lanes. It identified that there was an increase in the rate of motorcyclist collisions, predominantly with cars turning into or out of side roads on routes where motorcyclists had access to bus lanes. At the Trial sites there was an increase from 30 to 41 collisions, whereas there was a reduction from 16 to&nbsp;eight collisions on the Control sites. In light of those findings, the decision was made to introduce the current Trial, which started on 24 July 2010 and which will run for 18 months </li>
<li>The number of motorcycle and scooter riders killed or seriously injured on London's roads fell by four per cent (738 to 706) in 2009, compared to 2008 and by 24 per cent since the mid to late 1990s </li>
<li>The previous Motorcycles in Bus Lanes Trial ran from 5 January 2009 to 5 July 2010.&nbsp;View the&nbsp;TRL monitoring report of the trial <a title="Motorcycles in bus lanes" href="/roadusers/redroutes/10151.aspx">Assessment of TfL's experimental scheme to allow motorcycles onto with-flow bus lanes on the TLRN</a>. The attitudinal survey report is available through the following links: <br><a title="Wave 1" href="http://www.tfl.gov.uk/assets/downloads/motorcycles-in-bus-lanes-final-customer-research-report.pdf ">Wave 1 research</a> <br><a title="Wave 2 " href="http://www.tfl.gov.uk/assets/downloads/Attitudes_to_Trial_of_P2W_use_of_Bus_Lanes_-_Wave_2_Report.pdf   ">Wave 2 research</a> </li>
<li>The report carried out by Police Traffic Officers into motorcycle journey times in bus lanes - <a href="/roadusers/redroutes/10151.aspx">Evaluation of Journey Times and Emissions of P2Ws in Bus Lanes report, produced by Local Transport Projects</a> </li>
<li>The current Motorcycles in Bus Lanes Trial has been designed to test the impact of key mitigating measures. The objectives of the trial are to reduce the level of collision rates for motorcyclists using bus lanes and to reduce speeding by motorcyclists in bus lanes. The evaluation of the trial will involve the assessment of the enforcement activity and the evaluation of the road safety awareness campaign through the analysis of vehicle speeds, collision and casualty data and quantitative and qualitative evaluation of the road safety awareness campaign </li>
<li>The Motorcycle Industry Association (MCIA) has recently revised their bus lane code of conduct - <a href="http://www.mcia.co.uk/Public/CMSPage.aspx?USR_ID=0&USR_GUID=&OBJ_ID=1441817">http://www.mcia.co.uk/Public/CMSPage.aspx?USR_ID=0&USR_GUID=&OBJ_ID=1441817</a> </li>
<li>Red routes, also known as the Transport for London Road Network (TLRN) are the roads in London that are owned and maintained by TfL. Five per cent of the roads in London are red routes, but they carry about a third (approximately 33 per cent) of the city's traffic. These are the key routes or major arterial roads in London </li>
<li>TfL has implemented a new experimental traffic order on the TLRN. Such traffic orders allows traffic control schemes to be implemented temporarily. Schemes are implemented by the local traffic authority (TfL in this case) and must remain in place for a minimum of six months and a maximum of 18 months. They are effective under Section 9 of the Road Traffic Regulation Act 1984</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today launched a new road safety campaign aimed at improving drivers' awareness of motorcyclists in bus lanes.The hard-hitting radio advert reminds drivers that motorcyclists are harder to spot than buses and";}
        
        


 