


@{ViewBag.Title = "Mayor secures vital London transport investment and protects frontline services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor secures vital London transport investment and protects frontline services</h1>
        <div class="content-page-press-release">
        20 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Tough decisions have already been taken in the capital and more must be made; but we will continue to share the pain of the nation as we work with the Government to help put Britain's finances back in order"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Tough decisions have already been taken in the capital and more must be made; but we will continue to share the pain of the nation as we work with the Government to help put Britain's finances back in order
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Crossrail to go ahead with full scope, Tube upgrades secured and London's bus network protected</li></ul>
<p>The Mayor of London, Boris Johnson, has welcomed vital investment to improve London's transport network and safeguard the capital's future announced in the Government's Comprehensive Spending Review.</p>
<p>Speaking at a City Hall press conference today, the Mayor said Transport for London's (TfL) funding settlement means he will continue to deliver his top transport priorities, including:</p>
<ul>
<li>The upgrade of the Tube and building Crossrail, which together will add 30 per cent capacity to the rail transport network, more frequent and reliable services and provide a &pound;78 billion boost to the UK economy </li>
<li>London's frequent, extensive, reliable and accessible bus network, of such vital social and economic importance, particularly in outer London, is protected </li>
<li>2011 fare increase maintained at the level announced last year, RPI plus two per cent, while free travel and concessions for the most vulnerable Londoners are protected </li></ul>
<p>Representatives of London and the UK's business community and other stakeholders attended the press conference.&nbsp;</p>
<p>They have joined the Mayor in arguing long and hard that cuts to transport funding would have a devastating effect on the UK's economy.</p>
<p>The Mayor of London, Boris Johnson, said: 'Today is the culmination of months of hard negotiations with the Government and I am pleased that they have recognised the immense importance of protecting investment in the capital.&nbsp; </p>
<p>'London is the engine of the UK's economy and it would be fiscal suicide to have starved it of fuel.</p>
<p>'This remains a difficult settlement but I am glad the Government has recognised my administration in London has been two years ahead of the rest of the country in identifying and making savings, with well over &pound;5bn identified at Transport for London alone. </p>
<p>'Tough decisions have already been taken in the capital and more must be made; but we will continue to share the pain of the nation as we work with the Government to help put Britain's finances back in order.</p>
<p>'However I am particularly pleased that we have secured the future of Crossrail, upgrade work on the Tube and the protection of our bus services.&nbsp;</p>
<p>'Without them we would have risked the long term economic prosperity of not just the capital, but the whole of the UK.'</p>
<p>The Mayor warmly welcomed the Government's commitment to continue to protect the Tube upgrades and Crossrail, both of which will extend beyond this current Spending Review period.</p>
<p>The Mayor announced that the new funding settlement has protected funding for London's cycling revolution, including the extension of Barclays Cycle Hire ahead of the London 2012 Games and delivery of all 12 Barclays Cycle Superhighways by 2015.</p>
<p>In addition, all of TfL's London 2012 Games transport commitments will be delivered. </p>
<p>He also declared his decision to withdraw the Western Extension of the Congestion Charge by Christmas this year. </p>
<p>TfL's recent formal consultation found 62 per cent support for the withdrawal of the extension versus just 24 per cent opposed to its removal.&nbsp; </p>
<p>A new automated payment account system will also be introduced that means motorists who register for an account can pay the Congestion Charge by Direct Debit and avoid the possibility of ever receiving a Penalty Charge Notice.</p>
<p>Approximately one-third of TfL's funding comes from a direct grant from the Department for Transport (DfT). Following the Government's Comprehensive Spending Review (CSR), TfL's overall grant funding from the DfT has been reduced by &pound;2.17bn in total over the four years covered by the CSR, or 21 per cent in real terms in 2014/15, when compared to the base year of 2010/11.</p>
<p>However, the overall DfT grant is just one element of TfL's funding, which also includes fares, borrowing and other sources of revenue, such as advertising and commercial partnerships.&nbsp;</p>
<p>To put it in context, by 2014/15, this cut represents less than eight per cent of TfL's planned expenditure on capital investment (excluding Crossrail) and frontline services.</p>
<p>This reduction in DfT grant funding to TfL has, in part, been covered by increased ridership on the Tube, bus and rail network, which has bounced back more strongly than originally assumed this year.&nbsp;</p>
<p>However, this has still necessitated some tough choices in order to further cut costs or raise revenue.</p>
<p>The Mayor and TfL have already outlined a massive programme of savings and efficiencies of over &pound;5bn over the course of TfL's previous Business Plan period.&nbsp;</p>
<p>Further measures will be taken to deliver savings and efficiencies, which will enable TfL to maintain investment in infrastructure and frontline services. They include:</p>
<ul>
<li>A full review of TfL's structure, led by Transport Commissioner, Peter Hendy to ensure the organisation is as efficient as possible and fit for the challenges of managing and operating London's transport network in the 21st Century </li>
<li>Following a review undertaken by Crossrail management, over &pound;1bn in savings to Crossrail will be delivered.&nbsp; Improved station and engineering solutions and a more efficient construction timetable will see the central section now delivered in 2018, followed by a phased introduction of the other sections </li>
<li>Following the end of the PPP, synergies across Tube upgrades, plus a descoping of cosmetic improvements to Tube stations, but with all safety critical work protected </li>
<li>A reduction in expenditure on the Mayor's electric vehicles programme, covered in part through an increase in private sector partnership and support </li>
<li>Charging for parking on the Transport for London Road Network, currently generally free </li>
<li>A cut in TfL's allocation to the London boroughs, reflecting the new general grant from Government </li>
<li>As previously proposed and now consulted upon, the Congestion Charge will also increase to &pound;10, or &pound;9 if paid through the new CC Auto Pay, from 4 January 2011.&nbsp; The Mayor will also keep under review the effectiveness of the Charge on congestion in central London.</li></ul>
<p>London's Transport Commissioner, Peter Hendy, said: 'This has been a tough process, but one from which we have emerged with our key projects to improve reliability and capacity secured and frontline services protected.&nbsp;</p>
<p>'However, there are further challenges and tough choices ahead, and in many respects the hard work for TfL starts now.&nbsp;</p>
<p>'We now need to continue to deliver the transport improvements Londoners need, while driving the best possible value for money for farepayers and tax payers.&nbsp;</p>
<p>'We have an enormous and exciting programme ahead of us and we will work tirelessly to ensure we deliver, on time and on budget, and that every penny is well spent.'<br><br>
<hr>
<strong>Notes to editors: </strong>
<p>Given that the Government has just confirmed TfL's new funding settlement, not all of the detail is yet available.&nbsp;TfL will publish a revised Business Plan in spring next year.&nbsp;However, TfL proposes to meet the challenge of this new funding settlement in broad terms as follows:</p>
<ul>
<li>Following a review undertaken by Crossrail management, over &pound;1 billion in savings to Crossrail construction will be delivered.&nbsp; Improved stations and engineering solutions and a more efficient construction timetable will mean the Crossrail central section now being delivered in 2018, followed by a phased introduction of the other sections and stations </li>
<li>TfL has been working extremely hard to realise savings and efficiencies.&nbsp;At the same time, the London economy has proved to be remarkably resilient to the economic downturn.&nbsp;Ridership on Tube, rail and bus services has bounced back with much greater strength than was originally assumed.&nbsp;This demonstrates that it is London that is leading the UK back into growth, and this must be harnessed for the benefit of the country as a whole.&nbsp;The combination of these efficiencies, which have already been identified and are being implemented, as well as stronger fare revenue means that TfL's Business Plan will be boosted by additional &pound;800 million over the period. This accounts for well over a third of the reduction in our DfT funding </li>
<li>For many months now, London Underground (LU) has been looking to make significant savings as it focuses on the core priorities of a reliable service, the line upgrades and schemes to relieve congestion at major stations such as Victoria.&nbsp;In addition, we are no longer shackled by the PPP, meaning that LU can look for greater synergies across all the line upgrades to deliver them more efficiently and with less disruption to Londoners.&nbsp;Now that Tube Lines is a wholly owned subsidiary of TfL, LU is undertaking a review of its upgrade programmes with the objective of delivering the Tube improvements London needs, with the minimum of disruption for Londoners and business, and delivered with the best possible value for money.&nbsp;For example, LU is working to deliver synergies and efficiencies between the planned Piccadilly and Sub-Surface Lines upgrades. LU also plans to procure lighter trains in future, reducing the need for and cost of power upgrades. Through a combination of these measures and of further paring back cosmetic works at stations and deferral of non-essential civil works, over &pound;300 million will be saved over the period</li></ul>
<p>TfL must also look at ways of increasing revenue and delivering further efficiencies. The following measures will therefore be introduced, again resulting in over &pound;300 million over the period:</p>
<ul>
<li>The funding provided to boroughs for small scale projects will be reduced to reflect the new profile of the general grant we receive from Government </li>
<li>As less funding will be available, some areas such as walking and road safety campaigns and smarter travel initiatives will be scaled back.&nbsp;For those that remain, we will deliver in a more efficient way and will be seeking to partner with other organisations to seek sponsorships and other funding for such initiatives </li>
<li>TfL will reduce road maintenance spend and investment on the TfL road network, but seek to preserve the state of good repair of the roads through greater operational efficiency </li>
<li>It remains the Mayor's vision that London is Europe's leading city for electric vehicles, but we will seek to replace a TfL funding reduction with partnerships and alliances with manufacturers and others</li>
<li>A wholesale restructure of TfL, led by Transport Commissioner, Peter Hendy has begun to ensure that the organisation is fit for the next ten years and not the last ten.&nbsp; This will reach its conclusions in the spring of next year, but in everything that TfL does, the focus will be on protecting investment in London's transport network and frontline services and delivering the best possible value for money for fare payers and taxpayers<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crossrail to go ahead with full scope, Tube upgrades secured and London's bus network protectedThe Mayor of London, Boris Johnson, has welcomed vital investment to improve London's transport network and safeguard the capital's future announced in the";}
        
        


 