


@{ViewBag.Title = "Mayor confirms 2011 fares at level signalled last year and protects all free and concessionary travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms 2011 fares at level signalled last year and protects all free and concessionary travel</h1>
        <div class="content-page-press-release">
        20 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Government's spending review means tough choices, but fare rises kept to absolute minimum to protect transport investment and frontline services. Average RPI plus two per cent fare rise from January 2011, as signalled in 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All free and concessionary fares will remain in their entirety
                            
                        </p>
                    </div>
                
            
            
            <p>All free and concessionary fares protected in full.</p>
<p>The Mayor of London, Boris Johnson, today confirmed that, from January 2011, fares on London's Tubes, buses, London Overground, Docklands Light Railway and trams will rise only by the level signalled last year, the minimum to secure investment in London's transport network and protect frontline services.&nbsp; </p>
<p>All free and concessionary travel for older people, the young, the poorest and disabled Londoners has also been protected in full.</p>
<p>From 2 January, 2011, fares on Transport for London's (TfL's) services will rise by an average of RPI plus two per cent, the assumption outlined by the Mayor when TfL published its most recent <a href="http://www.tfl.gov.uk/corporate/about-tfl/investorrelations/1462.aspx">Business Plan </a>in October 2009.&nbsp; </p>
<p>Based on July's RPI figures of 4.8 per cent, this represents an average 6.8 per cent fare increase across TfL services and Oyster pay as you go.</p>
<p>The Mayor's decision on fares comes following tough negotiations over TfL's future finances as part of the Government's Comprehensive Spending Review, which saw TfL's overall grant funding from the Department for Transport (DfT) reduced by &pound;2.17bn in total over four years, or 21 per cent in real terms in 2014/15, when compared to the base year of 2010/11.&nbsp; </p>
<p>However, as DfT funding is around one third of TfL's total funding, this represents less than eight per cent of TfL's planned expenditure on capital investment (excluding Crossrail) and frontline services.</p>
<h2>Transport priorities</h2>
<p>Despite this reduction in funding, the Mayor also confirmed today that TfL's funding settlement means he will continue to deliver his top transport priorities, including:</p>
<ul>
<li>The upgrade of the Tube and construction of Crossrail, which together will add 30 per cent capacity to London's rail transport network and provide a &pound;78bn boost to the UK economy </li>
<li>London's frequent, extensive, reliable and accessible bus network, of such vital social and economic importance, particularly in outer London, will be maintained with the current plan for mileage operated </li>
<li>London's cycling revolution will continue, including the extension of Barclays Cycle Hire ahead of the 2012 Games and delivery of all 12 Barclays Cycle Superhighways by 2015</li></ul>
<p>Mayor of London, Boris Johnson said: 'Last year, I made it clear that when setting fares my priority is to protect the elderly, the young, the poorest and disabled Londoners and this fares package will continue to do so, particularly at a time when many need that protection.&nbsp; </p>
<p>'All free and concessionary fares will remain in their entirety.</p>
<p>'I'm also pleased that I am able to confirm an average fares increase at the level we declared it would be last year, the absolute minimum required to secure vital investment in London's transport network and protect frontline services.</p>
<p>'Throughout the tough negotiations over London's transport funding, I have also been determined to ensure that fares in London continue to deliver excellent value for money and that has been achieved.&nbsp; </p>
<p>'On the buses, the average fare per journey, including concessions, will be just 60p, compared to an average typical bus fare of around &pound;1 in other UK cities.'</p>
<h2>Concessionary fares protected</h2>
<p>One new initiative to be introduced in January is that during the evening peak, all Tube journeys into Zone 1 will be charged at the off-peak rates, as opposed to the peak fare currently charged.&nbsp; </p>
<p>This 'contra flow' system reflects available capacity on these Tube journeys at this time.</p>
<p>On London's buses, the Oyster pay as you go fare will only go up by 10p to &pound;1.30.&nbsp; </p>
<p>All free and concessionary fares have been protected, which means that 40 per cent of bus passengers will continue to travel free or at a substantial concessionary rate.&nbsp; </p>
<p>On the Tube, Oyster pay as you go fares typically increase between 10p and 30p, with some off-peak fares frozen. </p>
<p>The Tube cash fare in Zone 1 is frozen but other cash fares increase, ensuring that Oyster pay as you go continues to be the cheapest way to travel around the Capital.</p>
<p>Further details of the new fares are set out in the tables below, but the main elements of the January 2011 fares package are:</p>
<ul>
<li>Fares overall to rise only by the minimum signalled last year, an average of RPI plus two per cent </li>
<li>All free and concessionary travel protected in full </li>
<li>On the buses, Oyster pay as you go fares increase by 10p to &pound;1.30 </li>
<li>On the Tube, the Zone 1 pay as you go fare rises by 10p to &pound;1.90 </li>
<li>Also on the Tube, Oyster pay as you go fares into Zone 1 in the evening peak are reduced to the off-peak rate </li>
<li>London Travelcard season ticket prices will go up by RPI plus two per cent overall </li>
<li>The refundable deposit on a new Oyster card increased from &pound;3 to &pound;5</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The full <a href="http://www.london.gov.uk/who-runs-london/mayor/mayoral-decisions/md698">2011 TfL fares package</a> is set out below 
<li>Around 40 per cent of London's bus passengers will continue to travel free or at a substantial concessionary rate </li>
<li>The average TfL fare paid per bus trip is calculated by comparing all ticket types - including Oyster pay as you go, single cash fares, bus pass season tickets&nbsp;and Travelcards, plus free and concessionary travel - with total bus passenger numbers </li>
<li>Both TfL and UK average fares include concessionary travel. The UK average bus fare has been calculated using the average UK Passenger Transport Executive fares at 2006/07 prices published in the 'Public Transport Statistics Bulletin', and then factoring for inflation in subsequent years</li>
<p><strong>2011 TfL Fares - Media Briefing:</strong></p>
<p>The 2011 fares package will come in to effect from 2 January across all TfL services.&nbsp; </p>
<p>The full TfL and Oyster pay as you go fares tables are set out below, but the main elements of the January 2011 fares package are:</p>
<ul>
<li>Fares to rise only by the minimum signalled last year, an average of RPI plus two per cent </li>
<li>All free and concessionary travel protected in full </li>
<li>On the buses, Oyster pay as you go fares increase by 10p to &pound;1.30 </li>
<li>On the Tube, Oyster pay as you go fares increase between 10p and 30p </li>
<li>Also on the Tube, Oyster pay as you go fares into Zone 1 in the evening peak are reduced to the off-peak rate </li>
<li>London Travelcard season ticket prices will go up by RPI plus two per cent overall </li>
<li>The refundable deposit on a new Oyster card increased from &pound;3 to &pound;5</li></ul>
<p><strong>2011 Travelcards:</strong></p>
<p>London Travelcard season ticket prices will generally increase by around RPI plus two per cent.</p>
<p>The One Day Travelcard range will be simplified and slow selling tickets withdrawn. </p>
<p>The new range will comprise all-day and off-peak tickets valid in Zones 1-2, 1-4 and 1-6. </p>
<p>One Day pay as you go caps will mirror the new ticket range and prices.</p>
<p>Off-peak One Day Travelcard prices increase by up to &pound;1, for example a Zone 1-2 off-peak Travelcard will increase from &pound;5.60 to &pound;6.60. </p>
<p>Based on the new Zone 1 pay as you go fare of &pound;1.90, this means that the fourth Tube journey of the day will be charged at only 90p and any subsequent trips will be free.</p>
<p><strong>Table 1: TfL Rail services - London Underground, DLR, Oyster and London Overground pay as you go, cash and Travelcard prices</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Current 2010</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;2011</strong></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;Price</strong></td>
<td>&nbsp;</td>
<td><strong>&nbsp;Price</strong></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Peak</td>
<td>&nbsp;Off-peak</td>
<td>&nbsp;Peak</td>
<td>&nbsp;Off-peak</td></tr>
<tr>
<td><strong>&nbsp;Pay as you go - single journey fares (&pound;)</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Including Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;1 Zone</td>
<td>&nbsp;1.80</td>
<td>&nbsp;1.80</td>
<td>&nbsp;1.90</td>
<td>&nbsp;1.90</td></tr>
<tr>
<td>&nbsp;2 Zones</td>
<td>&nbsp;2.30</td>
<td>&nbsp;1.80</td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.90</td></tr>
<tr>
<td>&nbsp;3 Zones</td>
<td>&nbsp;2.70</td>
<td>&nbsp;2.40</td>
<td>&nbsp;2.90</td>
<td>&nbsp;2.50</td></tr>
<tr>
<td>&nbsp;4 Zones</td>
<td>&nbsp;3.10</td>
<td>&nbsp;2.40</td>
<td>&nbsp;3.40</td>
<td>&nbsp;2.50</td></tr>
<tr>
<td>&nbsp;5 Zones</td>
<td>&nbsp;3.80</td>
<td>&nbsp;2.40</td>
<td>&nbsp;4.10</td>
<td>&nbsp;2.70</td></tr>
<tr>
<td>&nbsp;6 Zones</td>
<td>&nbsp;4.20</td>
<td>&nbsp;2.40</td>
<td>&nbsp;4.50</td>
<td>&nbsp;2.70</td></tr>
<tr>
<td>&nbsp;Excluding Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;2 Zones</td>
<td>&nbsp;1.30</td>
<td>&nbsp;1.30</td>
<td>&nbsp;1.40</td>
<td>&nbsp;1.30</td></tr>
<tr>
<td>&nbsp;3 Zones</td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.30</td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.40</td></tr>
<tr>
<td>&nbsp;4 Zones</td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.30</td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.40</td></tr>
<tr>
<td>&nbsp;5 Zones</td>
<td>&nbsp;2.20</td>
<td>&nbsp;1.30</td>
<td>&nbsp;2.50</td>
<td>&nbsp;1.40</td></tr>
<tr>
<td><strong>&nbsp;Cash - single journey fares (&pound;)</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Including Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;3 Zones</td>
<td>&nbsp;4.00</td>
<td>&nbsp;4.00</td>
<td>&nbsp;4.00</td>
<td>&nbsp;4.00</td></tr>
<tr>
<td>&nbsp;4 Zones</td>
<td>&nbsp;4.00</td>
<td>&nbsp;4.00</td>
<td>&nbsp;5.00</td>
<td>&nbsp;5.00</td></tr>
<tr>
<td>&nbsp;6 Zones</td>
<td>&nbsp;4.50</td>
<td>&nbsp;4.50</td>
<td>&nbsp;5.00</td>
<td>&nbsp;5.00</td></tr>
<tr>
<td>&nbsp;Excluding Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;5 Zones</td>
<td>&nbsp;3.50</td>
<td>&nbsp;3.50</td>
<td>&nbsp;5.00</td>
<td>&nbsp;5.00</td></tr>
<tr>
<td><strong>&nbsp;Seven-day Travelcard prices (&pound;)</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Including Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;2 Zones</td>
<td>&nbsp;25.80</td>
<td>&nbsp;25.80</td>
<td>&nbsp;27.60</td>
<td>&nbsp;27.60</td></tr>
<tr>
<td>&nbsp;3 Zones</td>
<td>&nbsp;30.20</td>
<td>&nbsp;30.20</td>
<td>&nbsp;32.20</td>
<td>&nbsp;32.20</td></tr>
<tr>
<td>&nbsp;4 Zones</td>
<td>&nbsp;36.80</td>
<td>&nbsp;36.80</td>
<td>&nbsp;39.40</td>
<td>&nbsp;39.40</td></tr>
<tr>
<td>&nbsp;5 Zones</td>
<td>&nbsp;44.00</td>
<td>&nbsp;44.00</td>
<td>&nbsp;47.00</td>
<td>&nbsp;47.00</td></tr>
<tr>
<td>&nbsp;6 Zones</td>
<td>&nbsp;47.60</td>
<td>&nbsp;47.60</td>
<td>&nbsp;50.40</td>
<td>&nbsp;50.40</td></tr>
<tr>
<td>&nbsp;Excluding Zone 1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;2 Zones</td>
<td>&nbsp;19.00</td>
<td>19.00</td>
<td>&nbsp;20.80</td>
<td>&nbsp;20.80</td></tr>
<tr>
<td>&nbsp;3 Zones</td>
<td>&nbsp;21.40</td>
<td>&nbsp;21.40</td>
<td>&nbsp;22.80</td>
<td>&nbsp;22.80</td></tr>
<tr>
<td>&nbsp;4 Zones</td>
<td>&nbsp;25.60</td>
<td>&nbsp;25.60</td>
<td>&nbsp;27.40</td>
<td>&nbsp;27.40</td></tr>
<tr>
<td>&nbsp;5 Zones</td>
<td>&nbsp;32.40</td>
<td>&nbsp;32.40</td>
<td>&nbsp;34.40</td>
<td>&nbsp;34.40</td></tr></tbody></table></div></p>
<p><strong>Cash fares on TfL Rail services - London Underground, DLR and&nbsp;London Overground:</strong></p>
<ul>
<li>Tube cash fares are now used by under two per cent of Tube users </li>
<li>In 2011, the cash fare for up to three zones will be &pound;4, and for up to&nbsp;six zones &pound;5 </li>
<li>For travel via Zone 1, this means a fare freeze for up to three zones </li>
<li>Child fares remain at half the adult rate</li></ul>
<p><strong>Bus and Tram fares:</strong></p>
<p>The bus cash fare, which is now bought by less than two per cent of bus users, will increase from &pound;2 to &pound;2.20 in order to maintain off-bus sales. </p>
<p>Cash sales on the bus slow down boarding and increase the time buses spend at stops, increasing operating costs and affecting general traffic congestion.</p>
<p><strong>Table two: Bus&nbsp;and tram ticket prices</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Current 2010</strong></td>
<td><strong>&nbsp;2011</strong></td></tr>
<tr>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;Price (&pound;)</strong></td>
<td><strong>&nbsp;Price (&pound;)</strong></td></tr>
<tr>
<td>&nbsp;Pay as you go - single journey</td>
<td>&nbsp;1.20</td>
<td>&nbsp;1.30</td></tr>
<tr>
<td>&nbsp;Pay as you go - daily cap</td>
<td>&nbsp;3.90</td>
<td>&nbsp;4.00</td></tr>
<tr>
<td>&nbsp;Cash single</td>
<td>&nbsp;2.00</td>
<td>&nbsp;2.20</td></tr>
<tr>
<td>&nbsp;Seven-day Bus &amp; Tram Pass</td>
<td>&nbsp;16.60</td>
<td>&nbsp;17.80</td></tr></tbody></table></div></p>
<p><strong>Concession fares:</strong></p>
<p><strong>Oyster pay as you go - under-16s fares on TfL rail services</strong></p>
<p>Under-11s accompanied by an adult will continue to travel free at all times on all TfL rail services. </p>
<p>For older children, the off-peak pay as you go fare is frozen. </p>
<p>The child peak single pay as you go fare for under-16s increases from 65p to 70p - half the minimum adult fare of &pound;1.40. </p>
<p>The off-peak daily cap for under-16s rises from &pound;1.00 to &pound;1.30.</p>
<p><strong>Child off-peak Travelcard</strong></p>
<p>The child off-peak paper Travelcard increases from &pound;2 to &pound;3. </p>
<p>This will be the first increase to this fare for over 10 years. Using Oyster pay as you go remains cheaper.</p>
<p><strong>Railcard holders</strong></p>
<p>Holders of 16-25, Senior, Disabled and Forces Railcards will continue to be entitled to a 34 per cent&nbsp;discount on the off peak rail caps.</p>
<p><strong>New Oyster card deposit</strong></p>
<p>The &pound;3 deposit on new Oyster cards has been unchanged since the launch of Oyster pay as you go. </p>
<p>In the 2011 fares package some single Oyster fares will cost over &pound;6, and the deposit is designed to provide an effective deterrent to the disposal of cards with negative pay as you go balances. </p>
<p>From January 2011, the Oyster deposit will increase to &pound;5 and will continue to be refundable on the return of any cards.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "All free and concessionary fares protected in full.The Mayor of London, Boris Johnson, today confirmed that, from January 2011, fares on London's Tubes, buses, London Overground, Docklands Light Railway and trams will rise only by the level signalled last";}
        
        


 