


@{ViewBag.Title = "New bus route 324 provides links between Stanmore and Brent Cross";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus route 324 provides links between Stanmore and Brent Cross</h1>
        <div class="content-page-press-release">
        19 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 23 October 2010, London Buses is introducing a new bus route that will run between Stanmore Station and Brent Cross Tesco.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hopefully this new service will see more residents getting out of their cars and on to the buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Councillor Jim Moher</div>
            <div class="quotee-job-title">Lead Member for Highways and Transportation for Brent Council</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Hopefully this new service will see more residents getting out of their cars and on to the buses 
                            
                        </p>
                    </div>
                
            
            
            <p>The route 324 will be operated by London Sovereign and will bring many households in Stanmore and Colindale within easy walking distance of a bus service for the first time.</p>
<p>The service will run every 20 minutes during the day and every 30 minutes during the evening, seven days a week.&nbsp; </p>
<p>The new route will provide:</p>
<ul>
<li>A new service for Colindeep Lane in Colindale</li>
<li>A new service for Old Church Lane, Abercorn Road,&nbsp; St Andrews Drive and Culver Grove in the Stanmore and Belmont areas</li>
<li>New direct links to Kingsbury Community Hospital</li>
<li>A new direct link between Kingsbury and Brent Cross</li></ul>

<p>John Barry, Head of Network Development for London Buses, said: 'The introduction of route 324 reflects Transport for London's efforts to continually develop the bus network. This route will provide new links to a wide range of local facilities.&nbsp;</p>

<p>'London's bus network is constantly under review to ensure we continue to provide the best possible service for passengers.' </p>
<p>Councillor Phillip O'Dell, portfolio holder for environment and community safety at Harrow Council, said: 'I am pleased that after talks with Harrow Council and residents, Transport for London has agreed to the introduction of the new 324 bus route. </p>

<p>'We hope travel will now be made easier for residents living in parts of Stanmore and Queensbury, not previously served by a bus route.</p>

<p>'I also hope this will make getting about more convenient for residents and also encourage more people to leave the car at home and use public transport to get around our borough.'</p>
<p>Councillor Jim Moher, Lead Member for Highways and Transportation for Brent Council, said: 'Making it easier for residents to get around by public transport will ease congestion and is good the environment. </p>

<p>'Hopefully this new service will see more residents getting out of their cars and on to the buses for a more convenient and hassle free way of getting to the shops.'</p>

<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Photo attached: (back row) John Barry TfL's Head of Network Development, Paul Giles Performance Delivery Manager for London Sovereign, Jim Lawman from LB Brent Transportation, Oliver Birtill TfL Consultation and Engagement; (front row) Cllr Zakia Zubairi LB Brent Colindale ward, Cllr Ruth Moher LB Brent Fryent ward, Cllr Nizam Ismail LB Harrow Queensbury ward and Chair of Traffic and Road Safety Advisory</li>
<li>Route 324 will be operated by London Sovereign.&nbsp;It will run from Stanmore Station via Stanmore town centre, Old Church Lane, Abercorn Road, St. Andrews Drive, Culver Grove, Streatfield Road, Honeypot Lane, Kingsbury Road, Roe Green, Hay Lane, Edgware Road, Colindeep Lane, Watford Way, Hendon Way, Brent Cross Shopping Centre to the Tesco store near Tilling Road, Brent Cross</li>
<li>The route will be 'hail and ride' on roads not currently served by buses (Old Church Lane, Abercorn Road, St Andrews Drive, Culver Grove and Colindeep Lane)</li>
<li>Further information, including timetables, is available on the TfL website - <a href="/corporate/projectsandschemes/11561.aspx">tfl.gov.uk/route324</a></li>
<li>The route was introduced following a public consultation.&nbsp;A full summary of the consultation results and TfL's response is available at: <a href="/corporate/projectsandschemes/13922.aspx">tfl.gov.uk/busrouteconsultation</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route 324 will be operated by London Sovereign and will bring many households in Stanmore and Colindale within easy walking distance of a bus service for the first time.The service will run every 20 minutes during the day and every 30 minutes during";}
        
        


 