


@{ViewBag.Title = "Sections of the A2 to be closed overnight for two weeks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sections of the A2 to be closed overnight for two weeks</h1>
        <div class="content-page-press-release">
        21 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Southbound traffic to be diverted Monday to Thursday from 25 October until 4 November for resurfacing work on Rochester Way Relief Road.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We ask motorists to bear with us while these works are carried out and we will do our best to ensure that disruption is kept to a minimum"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for London Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We ask motorists to bear with us while these works are carried out and we will do our best to ensure that disruption is kept to a minimum
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Eltham Tunnel to be closed to northbound traffic on 24 and 31 October to carry out refurbishment of lighting within the tunnel</li></ul>
<p>Transport for London (TfL) will be carrying out overnight refurbishment works along the A2 in Greenwich from 24 October as part of ongoing maintenance of the TfL Road Network (TLRN). </p>
<h2>Repair works needed</h2>
<p>Between 22.00 and 05.00 on 25-28 October and 1-4 November, TfL will be carrying out overnight resurfacing works to repair the southbound carriageway on Rochester Way Relief Road between Well Hall Road and Riefield Road.</p>
<p>During that time, traffic will be diverted from the A2 via Westhorne Avenue and Rochester Way before rejoining the A2. </p>
<p>The closures have been scheduled to take place while the Blackwall Tunnel is closed to southbound traffic, as traffic levels are lower during this period.&nbsp;Northbound traffic will not be affected during these works.</p>
<p>The northbound Eltham Tunnel will also be closed overnight on 24 and 31 October to carry out upgrade work to the tunnel's lighting systems. </p>
<p>The works will be carried out between 22.00 to 05.00, with traffic diverted from the A2 at the Danson Interchange via Blackfen Road, Eltham High Street and Westhorne Avenue, before rejoining the A2. </p>
<h2>Key route</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets at TfL, said: 'The A2 is a key freight route in and out of London and these works are vital to ensure that all drivers can continue to safely use this important arterial road.</p>
<p>'We ask motorists to bear with us while these works are carried out and we will do our best to ensure that disruption is kept to a minimum.'</p>
<p>During these refurbishment works, TfL will keep motorists informed of closures and diversions through roadside message boards and local radio broadcasts.</p>
<p>&nbsp;</p>
<p><strong>
<hr>
Notes to editors</strong> 
<p><strong></strong>
<ul>
<li>Transport for London is responsible for the 22km stretch of the A2 between Southwark and the boundary of Bexley and Dartford, and which carries 90,000 vehicles a day </li>
<li>TfL and 18 London boroughs now operate the London Permit Scheme on their roads. Permitting enables TfL and the London boroughs to proactively plan and coordinate the timing of works, providing greater opportunities for utility companies to carry out works at the same time, helping to reduce disruption to road users </li>
<li>Since the scheme was introduced on 11 January this year, TfL has turned down more than 6,000 permit requests - one in every eight applications received to date - and prevented more than 462 days of disruption by working with utility companies to better coordinate their works on TfL's roads </li>
<li>The Mayor of London and TfL continue to engage with the Department for Transport on a proposal to introduce a lane rental scheme along the TLRN, which will allow charging of utility companies if they want to dig up certain parts of London's major traffic arteries during peak hours<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Eltham Tunnel to be closed to northbound traffic on 24 and 31 October to carry out refurbishment of lighting within the tunnelTransport for London (TfL) will be carrying out overnight refurbishment works along the A2 in Greenwich from 24 October as part";}
        
        


 