


@{ViewBag.Title = "Strike will not stop London from moving, vows Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Strike will not stop London from moving, vows Transport for London</h1>
        <div class="content-page-press-release">
        01 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ninety three per cent used public transport to beat the last strike<BR>Extra bus and river services to help Londoners get to work<BR>Mayor calls on union leaderships to call off pointless strike
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are expending every effort to give people alternative ways of getting around - boosting river and bus services, holding back road works and encouraging people to cycle"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are expending every effort to give people alternative ways of getting around - boosting river and bus services, holding back road works and encouraging people to cycle
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London have today detailed the efforts being made to help people get around the Capital and keep London moving during the strike on London Underground (LU) on 3/4 October, called by the leadership of the RMT and TSSA unions.</p>
<p>The announcement comes as figures from Transport for London (TfL) show that ninety-three per cent of Oyster customers made their journeys by public transport despite last month's strike. The union leaderships had predicted the "paralysis" of London, but in the event LU was able to operate over a third of its normal services, and carry over a million people.</p>
<p>Over a hundred extra buses, capacity for over 10,000 more journeys on the river, and marshalled taxi ranks have been organised. Planned roadworks are being delayed or curtailed where possible, and TfL will be working to keep road traffic flowing around key transport hubs. Volunteers will once again be positioned at Tube, bus, and rail stations to assist Londoners with their journeys and provide maps and other useful information.</p>
<p>Londoners who own a bike are encouraged to cycle to work. Cycle parking facilities are being made easier for newcomers to access, and a Cycling Journey Planner will be available on TfL's website. The Barclays Cycle Hire scheme - which saw record usage during the last strike - will be available to members, and TfL's contractors will be working to ensure that bikes are redistributed as effectively as possible. Normal services are also expected to run on London Overground, DLR, and Tramlink.</p>
<p>Despite ongoing talks the unions currently intend to proceed with the strike. They are threatening to disrupt Londoners despite being given assurances that staffing changes proposed by London Underground will mean no compulsory redundancies and no loss of earnings, that every station that currently has a ticket office will continue to have one, and that stations will remain staffed at all times. The Union leaderships have been urged to reconsider their action and call off the strike.</p>
<p>Should the strike go ahead, London Underground will work to operate as many services as possible, but passengers are advised that significant disruption is possible and that alternative travel options and staggering journey times should be considered where possible.</p>
<p>Passengers are advised to plan ahead and check before they travel at <a href="/">www.tfl.gov.uk</a></p>
<p>The Mayor of London, Boris Johnson, said: "As we saw in the last strike, the belligerent actions of the Union leaderships will not bring London to a halt. They may disrupt Londoners, but they will not stop us from getting around our city. We will keep London moving.</p>
<p>"We are expending every effort to give people alternative ways of getting around - boosting river and bus services, holding back road works and encouraging people to cycle.</p>
<p>"This strike is pointless, and I hope that this time - when Londoners beat the strike once again - the RMT and TSSA leaderships will see sense and return to talks to avert further disruption."</p>
<p>Currently, RMT and TSSA Tube staff, including station staff and some drivers will begin their 24-hour strike at 18:29 on Sunday 3 October, and maintenance and engineering staff will start at 19:00. Tube services will not return to normal until the start of services on Tuesday morning, 5 October.</p>
<p>Transport Commissioner Peter Hendy said: "There is no need for this strike at all, and we continue to make every effort to avoid a dispute. Despite the RMT and TSSA leaderships saying this is about safety, they have failed to raise a single safety-related point with London Underground in hour upon hour of talks, and have not responded to our request that they set out their specific safety concerns.</p>
<p>"The changes we are making are essential - due to the success of Oyster just one journey in twenty now involves a ticket office, and some ticket offices sell fewer than ten tickets an hour. We have explained that the changes come with no compulsory redundancies and no loss of earnings, and mean that stations will remain staffed at all times and every station with a ticket office will continue to have one. Still the union leaderships are intent on disrupting Londoners.</p>
<p>"Journeys will be more difficult, and we regret that, but they will not stop London from moving. Ninety three per cent of our customers beat the strike using public transport last time, and we will be boosting services to allow them to do so again."</p>
<p>Those public transport workers who are on duty during the strike will be doing their very best to keep London moving and passengers' patience is asked for over what may be difficult journeys. The following services are being provided:</p>
<h2>Tube</h2>
<ul>
<li>Disruption is likely to most journeys, but London Underground will run as many trains and keep as many stations open as possible - please check <a href="/">www.tfl.gov.uk</a> for the latest situation on your line and at your station before you travel. </li>
<li>Volunteers will be on hand at key stations to give alternative travel options and otherwise assist passengers </li></ul>
<h2>Buses</h2>
<ul>
<li>London buses operate around 700 routes and services are being boosted with over a hundred extra buses on key routes </li>
<li>Extra staff are being deployed to hubs and focus on customer service and information </li></ul>
<h2>DLR and London Overground</h2>
<ul>
<li>A normal service will operate. Some stations where there is an interchange with London Underground may be affected</li></ul>
<h2>Tramlink</h2>
<ul>
<li>Tramlink services are expected to operate as normal </li></ul>
<h2>Cycling</h2>
<ul>
<li>The Barclays Cycle Hire scheme will be available to members, although demand is likely to be high, and cycles harder to access, during peak times. </li>
<li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided on <a href="/">www.tfl.gov.uk</a> </li>
<li>TfL is writing to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day </li>
<li>Cycle Parks at Finsbury Park and London Bridge will be making it easy for new users to turn up, register, and leave their bikes.</li></ul>
<h2>River Services</h2>
<ul>
<li>TfL is operating a special chartered service every 10-15 minutes in the morning and afternoon peaks, with boats operating between Westminster Pier, London Eye Pier and Tower Pier. </li>
<li>Ticket prices (single tickets only): Adult &pound;3, Concessionary (including Travelcard holders) &pound;1.50. Cash only. </li>
<li>Thames Clippers will be running their normal services at reduced prices: Adult tickets &pound;5, Travelcard holders &pound;3.50. They will also be operating additional peak hour shuttles on the busy routes to Canary Wharf, priced at &pound;7 return. </li>
<li>Thames River Taxi will have extra capacity in the morning and afternoon peaks on their Putney Pier to Blackfriars Pier commuter service. Tickets from &pound;3 (Putney to Chelsea Adult single, with a Travelcard). Payment cannot be made with an Oyster card. </li></ul>
<h2>Taxis</h2>
<ul>
<li>Between 06:30 and 10:30 on Monday 4 October 2010 taxi drivers will be operating a marshalled taxi service for central London destinations at five major London rail termini - Waterloo, Liverpool St, King's Cross, Charing Cross, and Marylebone. In addition, the fixed-fare taxi sharing schemes at Euston Station and Paddington Station are expected to operate as normal </li>
<li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available on the TfL website </li></ul>
<h2>National Rail</h2>
<ul>
<li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London </li>
<li>Travelcards are also valid for travel on National Rail within the zones purchased </li></ul>
<h2>Walking</h2>
<ul>
<li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with volunteers helping people plan their routes around the city. People are urged to, where possible, use walking for short journeys </li></ul>
<h2>Roads and the Congestion Charge</h2>
<ul>
<li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike </li>
<li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion </li>
<li>TfL will be working to keep traffic flowing around major transport hubs. </li>
<li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely. </li></ul>
<p>
<hr>

            <p>
<p>Notes to editors 
<ul>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers. </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards. </li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour. </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 London Underground staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London have today detailed the efforts being made to help people get around the Capital and keep London moving during the strike on London Underground (LU) on 3/4 October, called by the leadership of the RMT and TSSA unions.The";}
        
        


 