


@{ViewBag.Title = "Young gifted poets arrive on Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Young gifted poets arrive on Tube</h1>
        <div class="content-page-press-release">
        12 October 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Poems by teenage winners of an international Poetry Society competition are now on display across the Underground network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These young people have produced verses that rival many of our best poets. I hope that passengers will enjoy these poems"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These young people have produced verses that rival many of our best poets. I hope that passengers will enjoy these poems
                            
                        </p>
                    </div>
                
            
            
            <p>The Poems on the Underground team usually select poems from published poets but, on this rare occasion, have opened up the opportunity to some of the best up and coming young unpublished poets from the UK and beyond - allowing their poems to be showcased in Tube carriages. </p>
<h2>Opportunity for young writers</h2>
<p>The three poems chosen by the Poems on the Underground experts were: Whalesong by 19 year old Londoner Sophie Stephenson-Wright, First Contact by Hattie Grunewald aged 18 and If a boy must wonder by Leon Yuchin Lau aged 17. </p>
<p>These three poems will form part of the latest set of Poems on the Underground by three published poets which include Sweet Thames Flow Softly by the great singer-songwriter Ewan MacColl (1915-89), the Way We Go by Katherine Towers (born in 1961) which was shortlisted for the Guardian First Book Award and For the War Dead by A.E. Housman (1859-1936) a lament for the carnage of the first world war. </p>
<p>Earlier in the year the young poets were asked to write poems inspired by science to celebrate 350 years of the Royal Society which is an organisation that champions science for the good of mankind.&nbsp;</p>
<h2>High standard of poems</h2>
<p>Judith Chernaik, founder of Poems on the Underground, said: 'I was bowled over by the standard of the poetry in this competition. </p>
<p>'I have been selecting poems for the Poems on the Underground scheme by for nearly 25 years and these young people have produced verses that rival many of our best poets. I hope that passengers will enjoy these poems.'</p>
<p>Young poet Sophie Stephenson-Wright, said: 'I think the competition was a brilliant idea and provided a very unique opportunity to young writers - I was very, very surprised when I heard about the results, but chuffed to bits. It's a bit mad to think something I wrote will be hurtling around the underground system, but it's a very special thing and I feel honoured to have gotten to be a part of it.'</p>
<p>Ten commended poems were also singled for special praise and recognition by the Poems on the Underground team. These can be viewed at <a href="http://www.poetrysociety.org.uk/content/competitions/potu2010">http://www.poetrysociety.org.uk/content/competitions/potu2010</a><br></p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p><strong></strong>
<ul>
<li>The Poetry Society invited its youth members and the teenage alumni of its Foyle Young Poets Award to write science themed poems to celebrate 350 years of The Royal Society. The Poems on the Underground editorial team then selected three winners and ten runners up from the last three annual Poetry Society competitions. The young poet posters have been partly-funded through the generosity of the Foyle Foundation. The commended young poets are: Katie Byford, Sophie Clarke, James Coghill, Zainab Ismail, Beth Jellicoe, Louis Mayall, Richard O'Brien, Adham Smart, Charlotte Trevella, Lee Zhi Xin </li>
<li>The following event: A Poetry reading with Wendy Cope, Paul Farley, Grace Nichols, Carole Satyamurti, Kit Wright on the 18 October at the Troubadour Caf&eacute;, Old Brompton Road, SW5, will feature some of the poems from this latest set of from Poems on the Underground. Tickets are &pound;7 (&pound;6 conc) on the door </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems on the Underground was founded in 1986 </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai </li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground published by Phoenix paperback 2010 is available from all bookshops and directly from Orion Books at <a href="http://www.orionbooks.co.uk">http://www.orionbooks.co.uk</a> </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Poems on the Underground team usually select poems from published poets but, on this rare occasion, have opened up the opportunity to some of the best up and coming young unpublished poets from the UK and beyond - allowing their poems to be showcased";}
        
        


 