
<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/overground_stops" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/overground_stops" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
<div class="bottom-advert ">
   <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
   <div data-advert="/76889402/overground_stops" data-advert-sizes="320, 50"></div>
</div>
      

 