


@{ViewBag.Title = "&pound;300m contract awarded for redevelopment of Bond Street Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;300m contract awarded for redevelopment of Bond Street Tube station</h1>
        <div class="content-page-press-release">
        04 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade of this key station is a major milestone in the Mayor's aim to upgrade the Tube and deliver the much needed Crossrail project.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This station emphasises the need for progress to be maintained on both upgrading the Tube and building Crossrail"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This station emphasises the need for progress to be maintained on both upgrading the Tube and building Crossrail
                            
                        </p>
                    </div>
                
            
            
            <p>The redevelopment will transform the station to meet the increase in passenger numbers.</p>
<p>It's the third major station upgrade contract awarded in last 12 months as the Tube upgrade continues. </p>
<p>The redevelopment of Bond Street Tube station, a key element of the Tube upgrade, moved a step closer today as Transport for London (TfL) announced that it intends to award the contract for the redevelopment of the station to Costain Laing O'Rourke JV. 
<p>Main construction will get underway in 2011.</p>When completed in 2017, the &pound;300m redevelopment will transform the station delivering 
<ul>
<li>A dramatic increase in station capacity ahead of the completion of Crossrail </li>
<li>A new entrance and ticket hall north of Oxford Street to increase capacity and provide step free access to both the Central and Jubilee lines </li>
<li>New escalators and an additional access route to the Jubilee line to reduce congestion </li>
<li>An improved interchange between Central and Jubilee lines </li>
<li>Step free access to the new Crossrail station </li>
<li>Improved pedestrian areas around the station with new seating and lighting</li></ul>
<p>More than 155,000 passengers currently use Bond Street Tube station every day, a figure that's expected to rise to over 225,000 with the arrival of Crossrail in 2017. </p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'This station emphasises the need for progress to be maintained on both upgrading the Tube and building Crossrail. 
<p>'London is the heartbeat of the UK and upgrades like this are vital to long-term job creation and economic growth around the whole of the country. </p>
<p>'Our focus at all times will be on delivering the infrastructure London needs at the best possible value for tax and fare payers.'</p>
<h2>Crossrail milestone</h2>
<p>The announcement of the contract award has been made following a competitive tendering process and in line with European procurement requirements.</p>
<p>David Waboso, Capital Programmes Director for London Underground said: 'By 2017, Bond Street station will be served by both London Underground and Crossrail and will be a key gateway to the West End. </p>
<p>'This redevelopment is essential to ensure the station can accommodate the large increase in passengers that will use the station.</p>
<p>'The &pound;300m redevelopment of the Tube station, coupled with the new Crossrail station, will transform the Bond Street area and act as a catalyst for further investment securing the West End's position as a premier shopping and entertainment destination and major employment centre.</p>
<p>'Work will shortly get underway to increase the station's capacity by creating a new entrance and ticket hall on the north side of Oxford Street and installing additional escalators and passageways below ground.</p>
<p>'In addition, the station will be made accessible, with step free access from the street to all platforms and interchanges.' </p>
<p>Separate contracts will be let by Crossrail in due course for the construction of the new Crossrail stations at Davies Street and Hanover Square which will connect to Bond Street Tube station. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>Bond Street Tube station is a major gateway to London's West End served by both the Central and Jubilee lines. Over 155,000 passengers currently use Bond Street Tube station each day. With the arrival of Crossrail in 2017, passenger numbers are expected to increase to over 225,000 per day </li>
<li>The construction cost of redeveloping Bond Street Tube station is in the region of &pound;150m. The overall cost of the London Underground project is in the region of &pound;300m </li>
<li>A notice was placed in the Official Journal of the European Union in December 2008 seeking expressions of interest for the main works contract for the redevelopment of Bond Street Tube station. The closing date for expressions of interest was 26 February 2009 </li>
<li>TfL confirmed that the following organisations had been shortlisted for the redevelopment of Bond Street Tube station on 10 July: Balfour Beatty; Morgan Est; Taylor Woodrow / BAM Nuttall Joint Venture and Laing O'Rourke / Costain Joint Venture. Morgan Est withdrew from the shortlist at their own request in December 2009. The Invitation to Tender was issued on 11 January 2010 </li>
<li>TfL awarded a contract for the &pound;500m redevelopment of Tottenham Court Road Tube station to Taylor Woodrow Construction and BAM Nuttall Limited. This was followed by contract for the &pound;700m redevelopment of Victoria station to Taylor Woodrow Construction and BAM Nuttall Limited Joint Venture in March 2010<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The redevelopment will transform the station to meet the increase in passenger numbers.It's the third major station upgrade contract awarded in last 12 months as the Tube upgrade continues. The redevelopment of Bond Street Tube station, a key element of";}
        
        


 