


@{ViewBag.Title = "&pound;30m saved as new Oyster contract begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;30m saved as new Oyster contract begins</h1>
        <div class="content-page-press-release">
        17 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new contract with Cubic will deliver &pound;10m of savings per year as part of Transport for London's (TfL's) &pound;5bn efficiency programme. TfL will investigate the potential for Oyster to be extended to new and existing technologies.
        
    </div>



 <div class="on-this-page">
<p>A new era for London's hugely successful Oyster card began today (17 August) as a new contract for the service took effect.</p>
<p>TfL has brought the Prestige Public Finance Initiative (PFI) contract to an official end and commenced a new contract with Cubic Transportation Systems Limited.</p>
<p>The new contract, known as the Future Ticketing Agreement (FTA), will deliver better value for money for TfL. </p>
<p>The new contract will also look at ways to improve Oyster for customers by looking at ways to use new technology. </p>
<p>The move is part of TfL's &pound;5bn efficiency savings programme as pledged by the Mayor of London.</p>
<p>Oyster has been a huge success since its introduction across the TfL network in 2003, with over seven million cards in regular use. </p>
<p>Around 80 per cent of all journeys made each day on London's buses, the Tube, Docklands Light Railway, Tramlink and London Overground are with an Oyster card.</p>
<p>Since 2 January this year, Oyster pay as you go has also been available on National Rail commuter services in Greater London, and since November 2009 has been accepted on Thames Clippers river services.</p>
<h2>Value for money</h2>
<p>Shashi Verma, TfL's Director of Fares and Ticketing, said: 'Oyster has been a huge success since it was launched in 2003 and is now the word's most successful transport smartcard. </p>
<p>'The new contract with Cubic will deliver better value for money for TfL. </p>
<p>'TfL and Cubic will now work together to continue the success of Oyster, including investigating the future potential for Oyster to be extended to new and existing technologies and the commercial opportunities that provides. </p>
<p>'TfL has already undertaken a trial of Oyster on bank cards and mobile phones but now that we have complete control over the Oyster brand we can investigate options that make life easier and more convenient for Londoners to travel while also increasing the accessibility of Oyster.'</p>
<p>In August 2008, TfL gave notice that it intended to terminate the PFI contract with the TranSys consortium. </p>
<p>Further savings were realised earlier this year as part of TfL's &pound;5bn efficiency programme by the early repayment of &pound;101m of PFI debt. </p>
<p>On termination of the PFI contract in August 2010 TfL was liable to repay a total of &pound;101m PFI debt to TranSys' funders. </p>
<p>This debt was re-paid approximately six months early in February 2010 delivering &pound;4m savings in debt interest payments for TfL.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new contract arrangements with Cubic Transportation Systems will last for three years with an option to extend</li>
<li>As part of the overall commercial arrangements, TranSys will continue to retain advertising rights on ticket gatelines and ticketing media until March 2015 which also delivers significant financial benefits to TfL</li>
<li>The Oyster card system was originally created and maintained via a PFI contract known as Prestige between TfL and TranSys, a consortium whose principal partners were Cubic Transportation Systems Limited and HP Enterprise Services. TranSys was responsible for developing, installing, managing and maintaining London's automated fare collection system including the Oyster card system, on behalf of TfL. The PFI contract was put in place in 1998 for a term of 17 years</li>
<li>In August 2008, TfL gave notice to terminate the contract with the TranSys consortium, exercising a break option, effective from 16 August 2010</li>
<li>TranSys took on &pound;190m of debt from a consortium of lenders which was scheduled to be paid off over the term of the 17-year PFI Contract. The outstanding balance was due to be repaid on 16 August 2010 following TfL's decision to exercise an early termination option</li>
<li>TfL, in conjunction with TranSys at that time elected to pay off the PFI debt on 26 February 2010 to deliver &pound;4m debt interest savings for TfL</li>
<li>In April 2010, TfL purchased the full rights to the Oyster brand from TranSys for &pound;1m</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new era for London's hugely successful Oyster card began today (17 August) as a new contract for the service took effect.TfL has brought the Prestige Public Finance Initiative (PFI) contract to an official end and commenced a new contract with Cubic";}
        
        


 