


@{ViewBag.Title = "Are your children fully prepared to go back to school? ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Are your children fully prepared to go back to school? </h1>
        <div class="content-page-press-release">
        31 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Zip Oyster photocards are the real 'must-have' back to school item for any young Londoner.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I urge all parents to make sure that their children sign up to the Zip card scheme as it a great benefit for young people in London.
                            
                        </p>
                    </div>
                
            
            
            <p>With the new school term looming, Transport for London (TfL) is reminding parents to make sure their children have a Zip Oyster photocard ready for the school journey.</p>
<p>The Zip Oyster photocard scheme gives all 5-15 year olds, and eligible 16-19 year olds, free or concessionary travel on London's buses and trams and is an invaluable tool for students across the Capital. </p>
<h2>Huge savings</h2>
<p>At a time of year when parents are feeling the financial strain of a new school term, the Zip Oyster photocard scheme helps them to make huge savings on transport costs. </p>
<p>Many of London's parents have already made sure their children are taking advantage of the scheme and TfL is keen to encourage more to do so. </p>
<p>As well as free travel on buses and trams, the card also gives 11-15 year old Oyster photocard holders child-rate travel on the Tube, DLR, London Overground and National Rail, with a daily off-peak cap of just &pound;1 (Zones 1-9). 16-18 year olds pay half adult rate when using pay as you go on bus, Tube, tram and some National Rail services, with some qualifying for free travel on buses and trams. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Parents may be busy checking bags are packed and new shoes are bought but they shouldn't forget&nbsp;the Zip Oyster photocard. </p>
<p>'It is undoubtedly one of the most important accessories for any student in London. A lot of children use public transport to get to school so this fantastic scheme really can help ease the financial burden on parents.</p>
<p>'I know that there are a lot of things to think about in the run up to the autumn term. However to get this privilege parents need to fill in the application forms so I would encourage them to put this at the top of their 'to do' list.' </p>
<h2>Behaviour Code</h2>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'I urge all parents to make sure that their children sign up to the Zip card scheme as it a great benefit for young people in London. </p>
<p>'All Zip card holders must sign up to and follow the Behaviour Code which helps improve the travelling experience for all passengers.'</p>
<p>The scheme allows all photocard holders across the city to travel easily to and from school and explore the Capital no matter where they live in London. </p>
<p>Zip Oyster photocard application forms are available from Post Offices within London. Applications for the 16+ Oyster photocard will be accepted at Post Offices and are available from 1 September. Applications must be submitted by 17 September to ensure that young people receive their new 16+ Oyster photocards by 30 September. 5-10 and 11-15 Oyster photocard applications can be made at any time.</p>
<p>It may take up to two weeks to process an application. 11-18 year olds who do not have a valid Oyster photocard must pay the &pound;2.00 cash fare on buses and trams. Proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>In July, TfL announced that from 1 September 2010 a non-refundable &pound;10 administration fee will be payable for all new applications for Zip Oyster photocards. The &pound;10 charge has been introduced to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage. </p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a><br></p>
<p><strong>
<hr>
Notes to editors: </strong><strong>
<ul>
<li></li></ul></strong>Young people can apply up to one month before their 11th birthday for their 11-15 Zip Oyster photocard 
<li>There are currently more than 543,000 cardholders on the under-16 Oyster photocard schemes </li>
<li>188,000 16+ Oyster photocard holders have the free bus and tram concession and 13,000 have the half-rate travel concession </li>
<li>16+ applicants cannot apply until 1 September 2010 </li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at child-rate and pay as you go at half the adult-rate, even if they don't qualify for free bus and tram travel </li>
<li>TfL is sending application forms to holders of the 16+ Oyster photocards with the free bus and tram concession to encourage them to apply promptly </li>
<li>Under-16s can buy child-rate cash single and Day Travelcards without an Oyster photocard.&nbsp; Both the 5-10 and 11-15 Oyster photocard gives child-rate pay as you go which is cheaper than cash fares. They can also buy child-rate Travelcard season tickets with an Oyster photocard </li>
<li>11-15 year olds who do not have a valid Oyster photocard must pay the full adult cash fare (&pound;2) on buses and trams until they get one </li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a replacement and pay a non-refundable fee of &pound;10 </li>
<li>Non-London residents aged between 5 and 18 years old can apply for a Zip Oyster photocard and must pay the &pound;10 application fee. Previously this payment was converted to pay as you go credit; however it will now be used towards the costs of producing the card </li>
<li>Application forms for Zip Oyster photocards can be obtained from Post Offices in Greater London and some schools and colleges<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the new school term looming, Transport for London (TfL) is reminding parents to make sure their children have a Zip Oyster photocard ready for the school journey.The Zip Oyster photocard scheme gives all 5-15 year olds, and eligible 16-19 year olds,";}
        
        


 