


@{ViewBag.Title = "Blackwall Tunnel northbound refurbishment to be completed six months early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel northbound refurbishment to be completed six months early</h1>
        <div class="content-page-press-release">
        27 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The project is now expected to be completed before the London 2012 Games. The 10-13 September weekend closure is no longer necessary.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Credit should go to the engineers whose rapid progress now means those works may be able to finish six months earlier than scheduled"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Credit should go to the engineers whose rapid progress now means those works may be able to finish six months earlier than scheduled
                            
                        </p>
                    </div>
                
            
            
            <p>Essential works to upgrade the northbound Blackwall Tunnel are set to be completed six months ahead of schedule, Transport for London (TfL) announced today. </p>
<p>When work started in February, it was expected to take three years to complete the &pound;70m refurbishment of the 113-year-old tunnel. </p>
<p>However, TfL and its contractor, BAM Nuttall, have made excellent progress on the refurbishment which means the safety upgrade will be finished in time for the London 2012 Olympic and Paralympic Games in July 2012. </p>
<p>Work completed so far includes the installation of new ventilation fans and concrete floors in two of the tunnel's four shafts, and the installation of temporary lighting, CCTV and communications systems throughout the tunnel, which will allow the old systems to be removed.</p>
<p>Work to install the permanent systems, which will bring the tunnel up to current standards, will begin later this year.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'We understand the frustration that drivers feel when a closure affects their journeys. </p>
<p>'But this refurbishment is essential to their safety when using the 113-year-old tunnel. </p>
<p>'Credit should go to the engineers whose rapid progress now means those works may be able to finish six months earlier than scheduled, and in time for the 2012 Games.</p>

<h2>Reducing closures</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'The teams carrying out and managing the refurbishment of the northbound Blackwall Tunnel have made exceptionally good progress. </p>
<p>'Because of this we expect to complete the essential safety and security upgrade at least six months early, in time for the London 2012 Olympics.'</p>
<p>'We remain committed to completing these works as quickly as possible and with the minimum amount of disruption for drivers who use the tunnel.'</p>
<p>Because of the excellent progress of the refurbishment programme, TfL has cancelled the previously advertised weekend closure for 10-13 September. </p>
<p>TfL has also confirmed that there will be no overnight closures of the Blackwall Tunnel for refurbishment works during the August Bank Holiday weekend. </p>
<p>The final weekend closure of 2010 will now take place from 21:00 on 15 October, to 5:00 on 18 October. </p>
<p>This will allow our contractor to carry out work on the ventilation shafts that can't be done during normal weeknight closures. </p>
<p>The closure has been planned to avoid any major local events and closures on the Jubilee line, Docklands Light Railway or other river crossings in London. </p>
<p>TfL also expects to be able to reduce the number of weekend closures required next year. </p>
<p>A final decision on this will be made after the October weekend closure.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The &pound;70m refurbishment programme of the northbound Blackwall Tunnel will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day </li>
<li>While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings </li>
<li>There is no toll for using the Dartford-Thurrock river crossing between 22:00 and 6:00 </li>
<li>While the northbound tunnel is closed for refurbishment works, bus route 108 (the only bus to use the Blackwall Tunnel) is affected. Visit <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/14080.aspx#section-2">TfL's website</a> or check local information at bus stops for more details </li>
<li>TfL has extended the operating hours of the Woolwich Ferry from 20.00 to 22.00, Monday to Thursday, to help provide an additional river crossing during the refurbishment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Essential works to upgrade the northbound Blackwall Tunnel are set to be completed six months ahead of schedule, Transport for London (TfL) announced today. When work started in February, it was expected to take three years to complete the &pound;70m";}
        
        


 