


@{ViewBag.Title = "Film competition celebrates London's Cycling Revolution";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Film competition celebrates London's Cycling Revolution</h1>
        <div class="content-page-press-release">
        10 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Filmmakers invited to capture the spirit of London's cycling revolution by creating a three-minute short film
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are in the midst of a cycling revolution in London and this competition is a fantastic opportunity to harness that on screen"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are in the midst of a cycling revolution in London and this competition is a fantastic opportunity to harness that on screen
                            
                        </p>
                    </div>
                
            
            
            <p>-&nbsp;Best films to be showcased as International Bicycle Film Festival with the chance to win a cash prize and cycling apparel</p>
<p>Transport for London (TfL) has teamed up with Film London and the Bicycle Film Festival (BFF) to launch a film competition aimed at celebrating the spirit of the cycling revolution taking place in London.</p>
<p>The competition coincides with the arrival in the Capital of the Mayor's flagship cycle schemes, Barclays Cycle Hire and Barclays Cycle Superhighways. </p>
<h2>Cash prize</h2>
<p>Filmmakers are being asked to submit a short film of three minutes or under that can take the form of a documentary, an animation or drama. </p>
<p>The best films will be showcased at a special event at the BFF in October and submitted for inclusion in the 2011 BFF programme - which will be shown in 39 countries. </p>
<p>Prizes include a cash prize provided by cycling brand Bspoke and designer cycling apparel and accessories from its latest range. Competition entrants have until 6 September to enter their films.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'We are in the midst of a cycling revolution in London and this competition is a fantastic opportunity to harness that on screen. </p>
<h2>More than 40,000 members</h2>
<p>'I am truly excited to see how people will capture the breadth of this new icon on the streets of London through these short films which will be projected to people the world over.'<br>&nbsp; <br>Barclays Cycle Hire enables people to pick up and drop off hire bicycles at hundreds of locations across central London.</p>
<p>The scheme is expected to generate up to 40,000 extra daily cycle trips. More than 40,000 people have already signed up as pioneer members of Cycle Hire and the scheme currently boasts 80,000 journeys. </p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'These flagship schemes are encouraging a massive increase in cycle usage in the Capital. </p>
<h2>Landmark initiative</h2>
<p>'London is coming alive with cycling and what better way to celebrate this than to offer people the opportunity to share their vision and experiences of cycling.'</p>
<p>Adrian Wootton, Chief Executive of Film London, said: 'London's Cycling Revolution further enhances the quality of life in the Capital. </p>
<p>'To mark this major development we are delighted to work with TfL in their first ever short film competition which will inspire new and creative film-making around a landmark initiative which will transform how many people choose to travel around our fantastic city.'</p>
<p>Users of Barclays Cycle Hire can pay &pound;1 for 24 hour access, &pound;5 for seven day access, or take out a &pound;45 annual membership to be able to use the scheme. </p>
<h2>400 locations</h2>
<p>Then the first half hour of each rental is completely free of any usage charges. </p>
<p>Subsequently usage charges are &pound;1 for a journey of between 30 minutes and one hour, &pound;4 for up to 90 minutes, and &pound;6 for up to two hours. </p>
<p>Hire charges then increase incrementally up to a maximum hire period of 24 hours.</p>
<p>People using the bikes are able to pick up and drop off one of the 6,000 hire bicycles at around 400 locations across central London once complete. </p>
<h2>Daily, weekly or annual</h2>
<p>This means that there will be a docking station every 300 metres or so.</p>
<p>At the moment Londoners or visitors to the Capital who want to use central London's brand new system of public transport will need to be a member of the cycle hire scheme and can sign up for a daily, weekly or annual membership at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a>.&nbsp;</p>
<p>Membership will entitle them to an electronic key, which they will be able to use to take a hire cycle from one of hundreds of locations across central London.</p>
<p>Users have an opportunity to brush up on their cycling skills by signing up for TfL-subsidised cycle safety training in one of the nine London hire boroughs which form the initial Barclays Cycle Hire zone - Camden, City of London, Hackney, Islington, Lambeth, Southwark, The Royal Borough of Kensington &amp; Chelsea, Tower Hamlets and City of Westminster. </p>
<h2>Safer and easier</h2>
<p>Roadshow events are also taking place across the boroughs throughout the summer.</p>
<p>Barclays Cycle Superhighways benefit London's cyclists by making it safer and easier to commute by bike between outer and inner London.</p>
<p>There are 12 planned routes, with the first two -&nbsp;Barking to Tower Gateway and Merton to the City - now open. </p>
<p>For more information about the schemes, please visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> and keep pace with London's cycling revolution by following <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a>.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The competition closes on 6 September 2010. All entries must be received by this time </li>
<li>Film London is the Capital's film and media agency promoting and developing the city as a major international film-making and film cultural capital.&nbsp; For more information visit <a href="http://www.filmlondon.org.uk">www.filmlondon.org.uk</a> </li>
<li>The Bicycle Film Festival is in its 10th year. It takes place across 39 world cities. The London event takes place 13-17 October 2010. For more information <a href="http://www.bicyclefilmfestival.com">www.bicyclefilmfestival.com</a> </li>
<li>The competition is only open to entrants aged 18 and over </li>
<li>There is one prize of &pound;1,000 (which includes TfL to have unlimited screening rights for up to&nbsp;five years) </li>
<li>Full competition rules can be found at <a href="http://shop.tfl.gov.uk/Londons-Cycling-Revolution-Film-Competition.html">http://shop.tfl.gov.uk/Londons-Cycling-Revolution-Film-Competition.html</a> </li>
<li>To view the new short film explaining how to use Barclays Cycle Hire and the Cycle Smart safety film, log on to <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a> </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Royal Borough of Kensington &amp; Chelsea, Southwark, Tower Hamlets, City of Westminster and several of the Royal Parks </li>
<li>Barclays Cycle Hire aims to build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 and is expected to generate up to 40,000 extra cycle trips a day in central London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;Best films to be showcased as International Bicycle Film Festival with the chance to win a cash prize and cycling apparelTransport for London (TfL) has teamed up with Film London and the Bicycle Film Festival (BFF) to launch a film competition";}
        
        


 