


@{ViewBag.Title = "First ever air-conditioned Tube train is now in passenger service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First ever air-conditioned Tube train is now in passenger service</h1>
        <div class="content-page-press-release">
        02 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor joins passengers on historic day for the Tube.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There cannot be a better way to criss-cross North West London than in this smooth, state-of-the-art addition to London's infrastructure. This train is quite literally the coolest ride in town"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There cannot be a better way to criss-cross North West London than in this smooth, state-of-the-art addition to London's infrastructure. This train is quite literally the coolest ride in town
                            
                        </p>
                    </div>
                
            
            
            <p>By 2015, 40 percent of the network will have air-conditioned trains.</p>
<p>The Mayor of London Boris Johnson today joined Tube passengers in welcoming the Tube's first new air-conditioned train. </p>
<h2>First air-conditioned train</h2>
<p>The train, which will start serving the Metropolitan line, is the first of a 191-fleet of brand new, walk-through trains, that will serve 40 per cent of the Tube network.&nbsp; </p>
<p>The introduction of the first air-conditioned train on the Tube network, which is nearly a 150 years old, highlights why there needs to be continued investment in the Tube. </p>
<p>The trains are part the upgrade of the Sub Surface network, which as part of the whole Tube upgrade is vital to meet the growing demand of an increasing population and is central to London being able to continue to act as the economic engine of the country.&nbsp; </p>
<p>The Mayor, along with Transport Commissioner Peter Hendy and LU's Howard Collins, travelled on the new train today to experience the improvements first hand.</p>
<p>The Mayor of London, Boris Johnson, said: 'Unless you are cycling, there cannot be a better way to criss-cross North West London than in this smooth, state-of-the-art addition to London's infrastructure. This train is quite literally the coolest ride in town.'&nbsp; </p>
<h2>Upgrade works</h2>
<p>Peter Hendy, Transport for London Commissioner, said: 'This is great news for Tube&nbsp;passengers, not only will their journeys be cooler, the new trains are more spacious, more accessible and boast the latest CCTV systems. </p>
<p>'The new air-conditioned trains are a vital part of the upgrade works which will transform the oldest and complex lines on the Tube network. </p>
<p>'But to achieve the full capacity increases that the upgrade will bring, it is imperative that we get the new signalling system that we are currently tendering for, which will enable a higher throughput of trains and faster journeys.'</p>
<p>As well as air conditioning, they will also have CCTV coverage in each carriage and improved accessibility.</p>
<p>The first of the S-Stock trains are now being introduced into passenger service on the Metropolitan line, with the roll-out complete by 2011. They will start being delivered on the Circle and Hammersmith &amp; City lines from 2011 and start operating on both lines from 2012. </p>
<p>The District line will follow in 2013 and all trains will be on the network from 2015.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:&nbsp;&nbsp; </strong></p><strong></strong>
<ul>
<li>The train will start running from Wembley Park to Watford from 2 August and as more works are completed to accommodate the longer train it will start serving more destinations on the Metropolitan line </li>
<li>The SSR lines carry one third of the Underground's passengers and covers 300km of track </li>
<li>The upgrade of the Sub-Surface Railway will deliver substantial increases in capacity: 65 per cent&nbsp;on the Circle and Hammersmith &amp; City lines; 24 per cent&nbsp;on the District line; and 27 per cent&nbsp;on the Metropolitan line </li>
<li>The first section of the Tube opened in 1863 between Paddington and Farringdon, and is still served in whole or in part by all four lines- the Circle, District, Hammersmith &amp; City and Metropolitan lines </li>
<li>The new sub-surface fleet is being built by Bombardier Transportation in Derby who will deliver a total of 191 trains<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "By 2015, 40 percent of the network will have air-conditioned trains.The Mayor of London Boris Johnson today joined Tube passengers in welcoming the Tube's first new air-conditioned train. First air-conditioned trainThe train, which will start serving the";}
        
        


 