


@{ViewBag.Title = "London Underground urges union leaders to call off strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground urges union leaders to call off strike action</h1>
        <div class="content-page-press-release">
        25 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes needed as some ticket offices sell less than ten tickets each hour.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We need to change, but we will do so without compromising safety, without compulsory redundancies"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need to change, but we will do so without compromising safety, without compulsory redundancies
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>All stations with a ticket office will continue to have one, and all stations remain staffed at all times </li>
<li>Proposed changes come with commitment to no compulsory redundancies </li></ul>
<p>As the leadership of the RMT and TSSA confirms that they will press ahead and disrupt Londoners with needless strike action, London Underground (LU) has today urged them to call off the threatened action and recognise that, thanks to the success of Oyster, staff can now provide greater assistance to customers in ticket halls and on gatelines.</p>
<h2>Quiet ticket offices</h2>
<p>Some LU ticket offices now regularly sell fewer than&nbsp;10 tickets an hour. </p>
<p>The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour.&nbsp;&nbsp;</p>
<p>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in&nbsp;20 Tube journeys now starts with a visit to a ticket office.</p>
<p>The changes proposed by LU are designed to ensure that customer service and safety remain the top priorities, that staff remain available at every station to help customers, and that all stations that currently have a ticket office service will continue to have one with opening times to reflect customer demand.&nbsp;</p>
<p>Staff will be more effectively deployed to areas of stations where they can better assist customers, whilst delivering the best possible value for fare and taxpayers. </p>
<h2>No compulsory redundancies</h2>
<p>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards.</p>
<p>Howard Collins, LU's Chief Operating Officer, said:</p>
<p>'It is simply not possible to go on with a situation where some ticket offices sell fewer than&nbsp;10 tickets an hour. It is clear that passengers can be better served by getting staff out from behind the windows of under-used ticket offices.</p>
<p>'We need to change, but we will do so without compromising safety, without compulsory redundancies, and in a way that means all stations will continue to be staffed at all times and all stations with a ticket office will continue to have one.<br>&nbsp;<br>'The weak mandate for strike action, which saw only around 35 per cent of TSSA members and less than a third of RMT members voting for a walkout, should resonate with the unions' leadership.&nbsp;</p>
<p>'These threatened strikes are in nobody's interest, and should not go ahead.' </p>
<h2>Oyster journeys</h2>
<p>It is currently reported that a series of 24 hour strikes will take place, starting on the evening of 6 September, with more industrial action in October and November. Should the strike action take place, LU will seek to operate as many Tube services as possible. </p>
<p>Some 80 per cent of all Tube journeys are now made using Oyster and, as the numbers using ticket offices decline, there is growing use of internet sales and automatic top-ups.&nbsp;</p>
<p>On stations, there is now much greater provision of self-service ticket machines, and a network of 4,000 ticket stops now also exists at shops and retail outlets across the Capital.</p>
<p>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. </p>
<p>This is out of a total of around 19,000 London Underground staff, so represents less than five per cent of the workforce.&nbsp;Some 250 positions are already, or are expected to become vacant, so these would merely not be filled.</p>
<p><br><strong>&nbsp; 
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>In addition to LU's ongoing commitment to having staff where customers need them most, there are also more than 700 police officers serving the network. This helped to reduce crime by eight per cent last year </li>
<li>While one crime is always too many, there are now just 12 crimes per million Tube customer journeys. LU is also installing more and improved CCTV cameras to add to the 12,000 already on stations and trains</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "All stations with a ticket office will continue to have one, and all stations remain staffed at all times Proposed changes come with commitment to no compulsory redundancies As the leadership of the RMT and TSSA confirms that they will press ahead and";}
        
        


 