


@{ViewBag.Title = "London Underground launches investigation into incident involving engineering train on Northern line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground launches investigation into incident involving engineering train on Northern line</h1>
        <div class="content-page-press-release">
        13 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has today, alongside the Rail Accident Investigation Bureau (RAIB), launched an investigation into an incident involving an engineering train on the Northern line this morning (13 August).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Safety is London Underground's top priority, and we have of course launched an immediate and thorough investigation"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety is London Underground's top priority, and we have of course launched an immediate and thorough investigation
                            
                        </p>
                    </div>
                
            
            
            <p>At around 5.25am this morning, an engineering train that was undertaking rail maintenance work became defective as it approached Archway, travelling southbound on the High Barnet branch of the Northern line.</p>
<p>Engineers began to move the defective train northbound by coupling it to an out of service Northern line train.&nbsp;</p>
<p>However, for reasons that are now under investigation, at around 6.44am the engineering train became detached from the out of service Northern line train and began to move southbound. </p>
<h2>Swift assessment</h2>
<p>LU staff undertook a swift assessment of the incident and moved to divert passenger trains to the City branch while directing the engineering train to the Charing Cross branch where passenger trains had been non-stopped and cleared.&nbsp; </p>
<p>Services on the Charing Cross branch of the Northern line were then suspended.&nbsp;</p>
<p>The engineering train came to a stand at Warren Street on the Charing Cross branch of the Northern line at 6.57am. </p>
<p>LU has suspended the use of all engineering trains of the type involved in today's incident, which are provided to LU and operated by a contractor, until further investigations into this incident can be undertaken. </p>
<h2>Restore services to normal</h2>
<p>The incident involved the suspension of the Northern line between Finchley Central and Archway and Camden Town to Kennington via Charing Cross.&nbsp; </p>
<p>The line currently remains suspended to allow the investigation to be undertaken.&nbsp;</p>
<p>LU is working with the RAIB to restore services to normal as soon as possible.</p>
<p>LU Director Richard Parry said: 'Safety is London Underground's top priority, and we have of course launched an immediate and thorough investigation into this incident to establish the cause.&nbsp;</p>
<h2>Restore full services</h2>
<p>'Once that investigation is complete, we will publish the report, making its conclusions and recommendations clear.&nbsp;</p>
<p>'In the meantime we have prohibited the use of this design of engineering train on the Underground.</p>
<p>'From the start of this incident, an immediate assessment was made and operational decisions taken to minimise the safety risk to our customers and staff.</p>
<p>'Our engineers are working to restore full services as soon as possible, and we apologise for the inconvenience caused to our customers while we investigate this incident.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At around 5.25am this morning, an engineering train that was undertaking rail maintenance work became defective as it approached Archway, travelling southbound on the High Barnet branch of the Northern line.Engineers began to move the defective train";}
        
        


 