


@{ViewBag.Title = "London Underground sets out next phase of Jubilee line upgrade, as annual PPP report is published";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground sets out next phase of Jubilee line upgrade, as annual PPP report is published</h1>
        <div class="content-page-press-release">
        10 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Less disruption on the eastern section as upgrade takes major step forward.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When complete it will mean great improvements for passengers - with capacity boosted and journey times reduced, and we are now taking a major step forward by using the new signalling for the first time in passenger service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When complete it will mean great improvements for passengers - with capacity boosted and journey times reduced, and we are now taking a major step forward by using the new signalling for the first time in passenger service
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Tube Lines' legacy means much work still to be done on the northern section </li>
<li>Significant improvements delivered on other LU lines and at stations</li></ul>
<p>London Underground (LU) today set out its plans for the next phase of the Jubilee line upgrade, as it published its annual Public Private Partnership review and performance report for 2009/2010. </p>
<h2>Work to do</h2>
<p>When complete, the upgrade of the Jubilee line will mean more frequent and reliable services for customers, with capacity increased by 33 per cent and journey times reduced by 22 per cent. However, the report confirms that, despite earlier promises made by Tube Lines before TfL acquired the organisation in June this year, the upgrade of the line was transferred to TfL with the work well behind schedule. </p>
<p>The state in which LU has found the upgrade means that there is only a 'slim chance' of completion by the end of 2010. However, LU is now ending the uncertainty and working to get the job done as quickly as possible whilst minimising disruption for passengers and businesses along the route.</p>
<p>Most progress has been made on the section east of Waterloo, meaning that disruption to businesses in Canary Wharf and at North Greenwich, which serves the O2, will be limited. </p>
<h2>New signalling</h2>
<p>In the first major step towards completion of the upgrade, the new signalling system will be used in service on this section for the first time over the next two weekends.</p>
<p>This will be repeated during September and October and, consequently, service on the part of the line between Green Park and Waterloo will be suspended on some weekends.</p>
<p>To enable the full end-to-end system to be tested, the full line will need to close for one weekend in October, one in November, and over the Christmas period.</p>
<p>Along the north of the line, where little progress had been made by Tube Lines, a series of further weekend closures will be essential - mainly affecting the section between West Hampstead and Stanmore. </p>
<p>Parts of the Metropolitan line will also be affected, but where closures are needed alternative transport will be available - including rail replacement buses.</p>
<p>Over the next month extensive testing will allow LU to confirm during the autumn when the upgrade is likely to be completed. </p>
<h2>Improvements to come</h2>
<p>Mike Brown, Managing Director for London Underground said: 'It is now clear that we inherited from Tube Lines a Jubilee line upgrade programme which was badly behind schedule.</p>
<p>'When complete it will mean great improvements for passengers - with capacity boosted and journey times reduced, and we are now taking a major step forward by using the new signalling for the first time in passenger service. </p>
<p>'I would like to apologise to passengers, communities, and businesses who have suffered years of closures. Although there is only a slim chance of completion by the end of the year, we are doing everything possible to get the job done as soon as possible, whilst keeping disruption to an absolute minimum. </p>
<p>'Having taken control of Tube Lines we will ensure that the disruption caused by the Jubilee line upgrade is not repeated during the transformation of the Northern line.'</p>
<p>Despite the inherited delay to the Jubilee line upgrade, LU's annual PPP report shows major improvements beginning to take shape, with the delivery to LU of new air-conditioned trains on the Metropolitan line and the introduction of new signalling and trains on the Victoria line.</p>
<p>Station redevelopment work such as King's Cross St. Pancras station, with its new North ticket hall, was on time and on budget. </p>
<p>Work to expand Tottenham Court Road station began and the contract for the Victoria interchange project was confirmed in March this year. </p>
<p>Around 1.065bn passenger journeys were made in 2009/2010, the fourth year running that the Underground network carried over a billion passengers. Customer satisfaction scores remained high at 79 out of 100 and the percentage of services operating to schedule exceeded 96.6 per cent - the highest achieved for 15 years. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<br></strong><br><a title="LU Performance report PDF" href="http://www.tfl.gov.uk/assets/downloads/london-underground-ppp-performance-report-2009-2010.pdf ">Download the full annual Public Private Partnership review and performance report for 2009/2010 (PDF 2.4MB).</a> </p>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> </li></ul>
<h2>Jubilee line closures</h2>
<ul>
<li>14-15 August:&nbsp;Waterloo to Stanmore and Metropolitan line closed Harrow-on-the-Hill to Aldgate</li>
<li>21-22 August:&nbsp;Waterloo to Stanmore</li>
<li>29 August:&nbsp;Wembley Park to Stratford</li>
<li>30 August: (Bank holiday Monday)&nbsp;Full line</li>
<li>04-05 September:&nbsp;Waterloo to Stanmore and Metropolitan line closed Harrow-on-the-Hill to Aldgate</li>
<li>11-12 September:&nbsp;Green Park to Waterloo</li>
<li>18-19 September:&nbsp;Green Park to Waterloo</li>
<li>25-26 September:&nbsp;West Hampstead to Stanmore</li>
<li>02-03 October:&nbsp;Full line </li>
<li>23-24 October:&nbsp;West Hampstead to Stanmore and Metropolitan line closed Harrow-on-the-Hill to Aldgate </li>
<li>30 October:&nbsp;West Hampstead to Stanmore</li>
<li>13-14 November:&nbsp;Full line</li>
<li>20-21 November:&nbsp;West Hampstead to Stanmore</li>
<li>27-28 November:&nbsp;West Hampstead to Stanmore</li>
<li>04-05 December:&nbsp;West Hampstead to Stanmore and Metropolitan line closed Harrow-on-the-Hill to Aldgate</li>
<li>11-12 December:&nbsp;West Hampstead to Stanmore</li>
<li>27 December:&nbsp;Full line and Metropolitan line closed Harrow-on-the-Hill to Aldgate</li>
<li>28 December:&nbsp;Full line and Metropolitan line closed Harrow-on-the-Hill to Aldgate</li>
<li>29 December:&nbsp;West Hampstead to Stanmore<br>&nbsp;&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube Lines' legacy means much work still to be done on the northern section Significant improvements delivered on other LU lines and at stationsLondon Underground (LU) today set out its plans for the next phase of the Jubilee line upgrade, as it published";}
        
        


 