


@{ViewBag.Title = "LU urges TSSA leadership to rethink strike action as new figures show extent of ticket office sales decline";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU urges TSSA leadership to rethink strike action as new figures show extent of ticket office sales decline</h1>
        <div class="content-page-press-release">
        18 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All stations with a ticket office will continue to have one.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All our stations will continue to be staffed at all times and all stations with a ticket office will continue to have one"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All our stations will continue to be staffed at all times and all stations with a ticket office will continue to have one
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New figures show some stations sell 'just a handful of tickets each hour' </li>
<li>Just a third of TSSA members vote for strike action</li></ul>
<p>London Underground (LU) today urged the TSSA union's leadership to shelve its threat of strike action over LU's staffing proposals, as it revealed that several Tube ticket offices are now selling fewer than&nbsp;10 tickets an hour.</p>
<p>The TSSA union today raised the threat of strike action over the proposals, despite only around 35 per cent of its members voting for industrial action. </p>
<p>This follows the RMT leadership, who last week declared a mandate for strike action even though less than a third of its membership voted to take action. </p>
<h2>More passengers helped</h2>
<p>LU again made clear today that all stations with a ticket office will continue to have one.&nbsp;</p>
<p>However, new figures from LU show that due to the success of Oyster many ticket offices are now selling 'just a handful of tickets' each hour and many go for hours on end without selling any tickets, meaning staff would be better able to help passengers working on platforms, in ticket halls and on gate lines.</p>
<p>The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour.&nbsp;</p>
<p>Overall, sales from ticket offices are down 28 per cent over the last four years. </p>
<p>LU has repeated its assurance to unions that its new staffing proposals, which will have no impact on the Tube's high safety standards, can be achieved without any compulsory redundancies. </p>
<p>The proposals aim to get staff out from behind under-used ticket office windows and out on to stations where they can assist customers. </p>
<p>LU has made clear that:</p>
<ul>
<li>Safety and customer service remain the top priorities </li>
<li>Staff remain available at every station to help customers </li>
<li>All stations that currently have a ticket office service will continue to have one with opening hours that meet customer demand.</li></ul>
<p>Howard Collins, LU's Chief Operating Officer, said:<br>'All our stations will continue to be staffed at all times and all stations with a ticket office will continue to have one.&nbsp;</p>
<h2>Value for money</h2>
<p>'Safety will never be compromised.&nbsp;However, we need to change and make sure we have the most efficient organisation possible and to deliver the best possible value for our customers and taxpayers.</p>
<p>'Thanks to the success of Oyster, just one in 20 Tube journeys now starts with a ticket office transaction.&nbsp;</p>
<p>'Indeed, several ticket offices are selling just a handful of tickets each hour, and many go for hours on end without any purchases from a ticket office window.&nbsp;</p>
<p>'We want our staff to be visible at stations, in places where they can assist customers.</p>
<p>'We've also made clear that our proposals will be delivered with no compulsory redundancies, and we remain available at all times to speak with union representatives. Only around 35 per cent of TSSA members have actually voted for strike action, and last week less than a third of RMT members did the same.' </p>
<p>The changes would not affect Tube Drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. </p>
<p>This is out of a total of around 19,000 London Underground staff, so represents less than five per cent of the workforce. </p>
<h2>Less crime</h2>
<p>Some 250 positions are already, or are expected to become vacant, so these would merely not be filled.</p>
<p>Some 80 per cent of all Tube journeys are now made using Oyster and, as the numbers using ticket offices decline, there is growing use of internet sales and automatic top-ups. </p>
<p>On stations, there is now much greater provision of self-service ticket machines, and a network of 4,000 ticket stops now also exists at shops and retail outlets across the Capital.</p>
<p>In addition to LU's ongoing commitment to having staff where customers need them most, there are also more than 700 police officers serving the network.&nbsp;This helped to reduce crime by eight per cent last year.&nbsp;</p>
<p>While one crime is always too many, there are now just 12 crimes per million Tube customer journeys. LU is also installing more and improved CCTV cameras to add to the 12,000 already on stations and trains. </p>

<p><a title="Tube stations with the quietest ticket offices" href="/assets/downloads/Tube-stations-with-quietest-ticket-offices.pdf">Tube stations with the quietest ticket offices (PDF 33KB)</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures show some stations sell 'just a handful of tickets each hour' Just a third of TSSA members vote for strike actionLondon Underground (LU) today urged the TSSA union's leadership to shelve its threat of strike action over LU's staffing";}
        
        


 