


@{ViewBag.Title = "Major changes to routes 15, N15, 159 and N159";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major changes to routes 15, N15, 159 and N159</h1>
        <div class="content-page-press-release">
        24 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two new night bus services also introduced
        
    </div>



 <div class="on-this-page">
<p>From Saturday 28 August there will be changes to several bus routes designed to give passengers a better service, and to reduce the numbers of buses on Oxford Street.&nbsp; </p>
<p>There will be major changes to routes 15, 159 and night-time services N15 and N159.&nbsp;</p>
<p>On the same day, two new night bus routes will be introduced the N64 between Thornton Heath Pond and New Addington, and the N109 between Croydon and Oxford Circus. </p><strong>
<h2>Routes 15 and N15 </h2></strong>
<ul>
<li>Will be shortened to start at Regent Street instead of Paddington Basin </li>
<li>Will continue to run to Blackwall via Trafalgar Square, Tower Hill and Commercial Road, with route N15 continuing at night to Romford </li>
<li>These changes deliver a further reduction in the number of buses using Oxford Street</li></ul>
<h2>Route 159 </h2>
<ul>
<li>Will be extended from Marble Arch to Paddington Basin following the current route of the 15 </li>
<li>Will become a 24-hour service between Streatham Station and Paddington Basin </li>
<li>The night service will operate every 20 minutes</li></ul>
<h2>Route N159 </h2>
<ul>
<li>This service will no longer run </li>
<li>Between Streatham and the West End it is replaced by the 24-hour service on route 159 and new route N109 </li>
<li>New route N109 will also replace the section between Streatham and Croydon </li>
<li>New route N64 will serve Thornton Heath Pond, Croydon and New Addington</li></ul>
<h2>Route N64 - new service</h2>
<ul>
<li>This new night bus service will run between Thornton Heath Pond and New Addington (Homestead Way) </li>
<li>It will use the same roads as day service 64, except in New Addington where it will serve the same roads as the current N159 </li>
<li>Route N64 will operate every 30 minutes</li></ul>
<h2>Route N109 - new service</h2>
<ul>
<li>This new night bus service will run between Croydon and Oxford Circus </li>
<li>It will use the same roads as day service 109 between Croydon and Brixton and then continue via route 159 to Oxford Circus </li>
<li>Route N109 will operate every 20 minutes </li>
<li>Together routes 159 and N109 will give six buses per hour at night between Streatham and Oxford Circus via Brixton and Westminster</li></ul>
<p>John Barry, Head of Network Development, London Buses, said: 'These changes follow a detailed review and consultation with boroughs, London TravelWatch and others. </p>
<p>'They are designed to give a better overall service for passengers, and to deliver a further reduction in buses on Oxford Street.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Routes 15 and N15 will terminate on Regent Street at Conduit Street</li>
<li>Heritage Routemaster services on route 15 between Trafalgar Square and Tower Hill are unaffected by these changes</li>
<li>In 2009/10 there were around 38 million passenger journeys on the night bus network </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Saturday 28 August there will be changes to several bus routes designed to give passengers a better service, and to reduce the numbers of buses on Oxford Street.&nbsp; There will be major changes to routes 15, 159 and night-time services N15 and";}
        
        


 