


@{ViewBag.Title = "New links on route 320";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New links on route 320</h1>
        <div class="content-page-press-release">
        19 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 28 August route 320 will be extended to Catford.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These changes are designed to give new links, good reliability and an easy-to-use network. We are sure that people will find the new links useful
                            
                        </p>
                    </div>
                
            
            
            <p>There will also be changes to frequencies on routes 208 and 320. This will provide improved bus links for the Biggin Hill, Bromley and Catford areas.</p>
<p>Route 320, which currently runs between Biggin Hill and Bromley North Station, will be extended from Bromley to Catford via Downham. </p>
<p>It will no longer serve the stop outside Bromley North station. </p>
<p>Frequencies of daytime services will be increased Monday to Saturday to provide a bus every 12 minutes. Evening and Sunday frequencies will be increased to every 20 minutes.</p>
<p>Route 208 will run as a through service between Lewisham and Orpington rather than in two separate sections, Lewisham&nbsp;to Bromley Common and Catford&nbsp;to Orpington. It will operate every 12 minutes Monday to Saturday daytimes and every 15 minutes in the evening and on Sunday.</p>
<p>John Barry, Head of Network Development, London Buses, said: 'These changes follow detailed reviews and consultation with the councils and London TravelWatch. </p>
<p>'They are designed to give new links, good reliability and an easy-to-use network. We are sure that people will find the new links useful.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong>
<p><a title="320 route map" href="/assets/downloads/change-to-route-320.pdf">Download the&nbsp;route map (PDF 102KB)</a></p>
<ul>
<li>Route 208 currently runs in sections Lewisham- Bromley Common and Catford - Orpington (Perry Hall Road) at all times except in the evenings and on Sundays. Current frequencies are every 12 minutes on each section. A through service runs every 12 minutes in the evenings and on Sundays </li>
<li>Route 320 currently runs between Biggin Hill Valley and Bromley North every 15 minutes (every 30 minutes in the evenings and on Sundays)</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will also be changes to frequencies on routes 208 and 320. This will provide improved bus links for the Biggin Hill, Bromley and Catford areas.Route 320, which currently runs between Biggin Hill and Bromley North Station, will be extended from";}
        
        


 