


@{ViewBag.Title = "Over 21,000 members and 14,000 journeys as Mayor's flagship Barclays Cycle Hire scheme gets off to great start";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Over 21,000 members and 14,000 journeys as Mayor's flagship Barclays Cycle Hire scheme gets off to great start</h1>
        <div class="content-page-press-release">
        02 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport fof London (TfL) reminds all Barclays Cycle Hire customers to 'Get a green light and click, at the end of every trip'.
        
    </div>



 <div class="on-this-page">
<p>The Capital's newest icon, Barclays Cycle Hire, was a common sight on the streets of central London this weekend, with pioneering members making more than 14,250 journeys by 16:00 on Sunday, 1 August.</p>
<p>Over 21,000 members have now signed up to join the Mayor's flagship cycle hire scheme, up by over 9,000 since the scheme launched at 6:00 on Friday, 30 July.</p>
<p>Over the first weekend, the most popular sites included those across the length and breadth of the scheme, from Soho Square and Wardour Street in the centre of town, to Liverpool Street in the east, Angel in the north and Bankside and Borough in the south (see notes to editors).</p>
<p>The Mayor of London, Boris Johnson, said: 'Just three days into our cycle hire scheme we're seeing Londoners embracing the freedom of pedal power and are signing up in their droves. </p>
<p>'Our 21,000 pioneering members have already made more than 14,000 journeys since we launched on Friday.</p>
<p>'With every new day, these gleaming machines are transforming our streets and are putting us well on our way to becoming the best big cycling city in the world.'</p>

<h2>Sign up to pedal power</h2>
<p>Over the weekend there have been some teething problems, whilst this large infrastructure project is bedding in, but Londoners response to the scheme has been extremely positive.</p>
<p>TfL continues to urge Barclays Cycle Hire customers to ensure they dock their bikes correctly at the end of each journey.&nbsp; </p>

<p>When people re-dock hire cycles, they need to ensure that the light on the docking point turns green and that their cycle clicks into place.&nbsp; </p>
<p>Members who don't dock their cycles properly in future risk being charged for longer than their actual journey.</p>
<p>David Brown, the Managing Director of Surface Transport at TfL, said: 'It's been a great first few days for our Barclays Cycle Hire scheme.&nbsp; </p>

<p>'We are using this first month of operation to learn more about how Londoners engage with the scheme, including patterns of use and how we can best support customers.</p>

<h2>Make sure you re-dock</h2>
<p>'The biggest issue we've had is that a small number of customers are not putting their bikes back properly at the end of their journeys.&nbsp; </p>
<p>'When they re-dock their bikes, customers must get a green light and click at the end of every trip.&nbsp; </p>
<p>'If they don't, we won't know they've finished their journeys, and they risk being charged more in future.'</p>
<p>Londoners or visitors to the Capital who want to use the brand new system during its first month of operation need to be a member of Barclays Cycle Hire, and are being urged to <a href="http://www.tfl.gov.uk/barclayscyclehire">sign up</a>.&nbsp; </p>
<p>Members must go back online or call our Contact Centre to activate the keys they receive.</p>
<p>Pioneer members can currently take a cycle from one of 315 docking stations based every 300m or so throughout the centre of the Capital, with a total of 5,000 bikes available.&nbsp; </p>
<p>Once complete, 6,000 cycles will be available at 400 locations across Zone 1 - so people should never be more than a couple of minutes away from a docking station in central London. </p>

<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>On Friday, there were a total of 6,403 Barclays Cycle Hire journeys, followed by 5,364 on Saturday.&nbsp;By 16:00 on Sunday, there were 2,485 journeys</li>
<li>The top five hire sites on Friday were:</li>
<ul>
<li>Bankside Mix: 81</li>
<li>Newgate St, St Pauls: 69</li>
<li>Wardour Street: 67</li>
<li>Soho Square: 67</li>
<li>Brushfield St, Liverpool St: 56</li></ul>
<li>The top five hire sites from Saturday were:</li>
<ol type="1">
<li>Wardour Street, Soho: 88</li>
<li>Hop Exchange, The Borough: 71</li>
<li>Liverpool Road (N1 Centre), The Angel: 68</li>
<li>Drury Lane, Covent Garden: 56</li>
<li>Soho Square: 55</li></ol>
<li>Barclays Cycle Hire will initially be available to people who sign up for membership.</li>
<li>Londoners or visitors to the Capital who want to use central London's brand new transport system during its first month of operation need to be members of the cycle hire scheme. This will enable TfL and Serco to understand and learn from how members engage with the scheme, including patterns of bicycle usage</li>
<li>Examples of journeys that can be carried out within thirty minutes, taken from TfL's cycling Journey Planner, include:</li>
<ul>
<li>The Regent's Park to Notting Hill Gate, (25 minutes) </li>
<li>London Bridge to Hyde Park, (27 minutes) </li>
<li>Tower Hill to Bond Street, (23 minutes) </li>
<li>Regent's Park to Westminster Abbey (16 minutes) </li>
<li>The British Museum to Green Park (15 minutes) </li>
<li>Old Spitalfields Market to Speaker's Corner (27 minutes) </li>
<li>High Street Kensington to Leicester Square (19 minutes)</li></ul>
<li>Members of the scheme must be at least 18 years old, and you will need to be at least 14 years old to use the scheme</li>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000</li>
<li>Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London once complete</li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li>
<li>Follow us on <a href="http://www.twitter.com/BarclaysCycle">Twitter</a> <br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Capital's newest icon, Barclays Cycle Hire, was a common sight on the streets of central London this weekend, with pioneering members making more than 14,250 journeys by 16:00 on Sunday, 1 August.Over 21,000 members have now signed up to join the";}
        
        


 