


@{ViewBag.Title = "Services resume on Hammersmith & City and Circle lines after successful three-week upgrade closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Services resume on Hammersmith & City and Circle lines after successful three-week upgrade closure</h1>
        <div class="content-page-press-release">
        16 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Key Crossrail and London Underground (LU) station upgrade works at Paddington carried out during closure. Additional upgrade work carried out during closure to minimise future weekend closures.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I want to thank our customers for bearing with us during these works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU's Service Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want to thank our customers for bearing with us during these works
                            
                        </p>
                    </div>
                
            
            
            <p>Full service on the Hammersmith &amp; City and Circle lines resumed this morning following a three-week closure between Hammersmith and Edgware Road which enabled vital upgrade work to be carried out.</p>
<p>During the closure, from 24 July to 15 August, work was carried out at Paddington to upgrade the Tube station, as well as to help deliver Crossrail.</p>
<p>The works at Paddington meant that trains were not able to operate as they involved the demolition of a disused taxi ramp and canopy sited above the Hammersmith &amp; City line&nbsp;platforms. </p>
<p>LU also took advantage of the blockade to carry out many essential renewal and upgrade works as part of the upgrade of the sub-surface railway - the Metropolitan, District, Hammersmith &amp; City and Circle lines - which could otherwise have required additional weekend closures. </p>
<p>These included:</p>
<ul>
<li>Removal of the taxi ramp using a 500ft crane which carried out 50 lifts, extracting 260 tons of spoil from the site</li>
<li>Installation of 30m of platform drainage at Paddington</li>
<li>A total of 550m of track replaced in both directions at Royal Oak, and 4,200m of new low-loss conductor rail installed</li>
<li>Platform lengthening works to accommodate the new longer, air-conditioned S-Stock trains at Westbourne Park, Ladbroke Grove and Latimer Road</li>
<li>Start of construction on a new ticket office at Hammersmith station following demolition of the old office</li>
<li>Track and points replacement at Hammersmith depot, as well as preparation for construction of new storage facilities</li></ul>
<h2>Works vital for London</h2>
<p>Rail replacement services operated between Hammersmith and Edgware Road for the duration of the works, along with ticket acceptance on local bus and Tube services. </p>
<p>Nigel Holness,LU's Service Director, said: 'I want to thank our customers for bearing with us during these works, the nature of which has meant we haven't been able to operate services between Hammersmith and Edgware Road. </p>
<p>'We've made the most of this to accelerate additional upgrade works including platform extensions essential for the new longer air-conditioned trains which are being rolled out across the sub-surface network from this year.'</p>
<p>Transport for London (TfL) is delivering a multi-billion pound Investment Programme to improve and expand the transport network. </p>
<p>Between now and 2018, TfL will be upgrading the Tube network, build Crossrail, and expand the Docklands Light Railway and London Overground networks, as well as delivering other major improvements. </p>
<p>Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly for creating new jobs and opportunities.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>New trains (SSR upgrade)&nbsp;equipped with air cooling will be delivered for the sub-surface network from 2010 onwards. Metropolitan from summer 2010, Circle and Hammersmith &amp; City from 2012, and District line from 2013</li>
<li>The new trains have a number of features which will equip them to run on the network for the next 30 to 40 years. These include air-conditioning, walk-through carriages, wheelchair areas, wider doors and walkways, better audio and visual information systems, CCTV and energy efficient braking systems</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Full service on the Hammersmith &amp; City and Circle lines resumed this morning following a three-week closure between Hammersmith and Edgware Road which enabled vital upgrade work to be carried out.During the closure, from 24 July to 15 August, work was";}
        
        


 