


@{ViewBag.Title = "The best way to get to Notting Hill Carnival: Sunday 29 - Monday 30 August 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The best way to get to Notting Hill Carnival: Sunday 29 - Monday 30 August 2010</h1>
        <div class="content-page-press-release">
        09 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Europe's largest street festival - the Notting Hill Carnival - returns to the streets of west London on August Bank Holiday weekend.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Carnival is a great annual event and we want everyone going to enjoy themselves. We do advise visitors to plan their journeys to and from the event"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Davidson</div>
            <div class="quotee-job-title">Head of Bus Operations for Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Carnival is a great annual event and we want everyone going to enjoy themselves. We do advise visitors to plan their journeys to and from the event
                            
                        </p>
                    </div>
                
            
            
            <p>With the area closed off to traffic, the easiest way to enjoy the sights and sounds of Carnival 2010 is to travel by bus or Tube, on bike or by foot.</p>
<p>Transport for London advises all visitors to 'check before they travel' and plan their journey to and from the Carnival on Sunday and Bank Holiday Monday, 29 and 30 August.</p>
<p>This can be done at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> which will have up to the minute information about planned improvement works on the Tube. The TfL website also has real time travel news, as well as maps and first and last train times.</p>
<p>Alternatively, call the London Travel Information 24 hour help line 0843 222 1234. Information is also available on posters, leaflets and 'Good Service' boards at Tube stations.</p>
<h2>Travelling by London Underground</h2>
<p>Ladbroke Grove station, located on one of the busiest sections of the Carnival route, will be closed on both Sunday 29 and Monday 30 August. </p>
<p>Some stations around the Carnival area will close early or be 'exit only' at certain times on both days to help keep ease congestion. <br>They include:</p>
<ul>
<li>Latimer Road - station will close at 23:30 on both Sunday 29 and Monday 30 August. Westbound trains will not stop at this station on both days </li>
<li>Notting Hill Gate - on Sunday 29 the station will be exit only between 12:00 and 19:00. On Monday 30 August the station will be exit only between 12:00 and 18:30.&nbsp; Between 12:00 and 19:00, Circle and District line trains will not stop at the station on Monday 30 August </li>
<li>Royal Oak - on Sunday 29 and Monday 30 August, exit only between 11:00 and 18:00, the station will close at 18:00 on both days </li>
<li>Westbourne Park - on Sunday 29 and Monday 30 August, exit only between 11:00 and 18:00, the station will close at 23:30 on both days.</li></ul>
<h3>Suggested Alternative Tube Stations</h3>
<ul>
<li>Bayswater - on Monday 30 August between 12:00 and 19:00 it may be advisable to use this station if you are coming in on a Circle or District line train because those trains will not stop at Notting Hill Gate </li>
<li>Paddington (Hammersmith &amp; City line) - on Sunday 29 and Monday 30 August it may be advisable to use this station instead of Notting Hill Gate/ Royal Oak as both these stations will have entry restrictions.</li></ul>
<h3>Other stations near to the Carnival are:</h3>
<ul>
<li>High Street Kensington (Circle and District lines)</li>
<li>Holland Park (Central line)</li>
<li>Queen's Park (Bakerloo line)</li>
<li>Shepherd's Bush (Central line)</li></ul>
<p>For safety reasons some stations may close temporarily to prevent overcrowding.&nbsp;It may be worthwhile waiting until the station reopens rather than finding an alternative station. </p>
<h2>Travelling by London Overground</h2>
<p>London Overground stations near to the Carnival: Queen's Park, Kensal Rise, Kensal Green and Shepherd's Bush.&nbsp;On Sunday 29 and Monday 30 August there will be a rail replacement bus service between Gospel Oak and Stratford due to engineering works.</p>
<h2>Travelling by bus</h2>
<p>A number of bus routes run close to the Carnival area: 7, 18, 23, 27, 28, 31, 36, 52, 70, 94, 148, 228, 295, 316, 328, 390, and 452.</p>
<p>TfL will be running many extra buses especially on Monday evening to get you home quickly and safely.</p>
<p>Three special express routes- 2X, 36X and 436X - will run between south London and the Carnival on both days. The 2X will run from Norwood Garage to Hyde Park Corner, then non-stop to Notting Hill Gate. The 36X will run from Peckham to Vauxhall, then non-stop to Harrow Road 'Prince of Wales'. The 436X will run from Peckham to Hyde Park Corner, then non-stop to Notting Hill Gate.</p>
<p>Special bus route 205X will operate between Aldgate station and the Carnival.</p>
<p>Additionally buses within a comfortable walking distance include: 6, 46, 159, 187, 205, 220, 274, 302, 332, 414, and 436.</p>
<p>Bus routes running 24 hour services are: 6, 23, 27, 36, 94, 148, 159, 205, 220, 295 and 390.</p>
<p>Night Bus routes: N7, N18, N28, N31, N52 &amp; N207 will operate throughout Sunday and Monday night.</p>
<p>Some bus routes will be on diversion due to local road closures. Diversions will be in place from the first bus on Sunday morning 29 August until around 05:00 on Tuesday 31 August.</p>
<p>Ken Davidson, Head of Bus Operations for Transport for London, said: 'The Carnival is a great annual event and we want everyone going to enjoy themselves. We do advise visitors to plan their journeys to and from the event.</p>
<p>'The easiest ways to travel are by bus, Tube, on bike or by foot and we advise all Carnival goers to be aware that crowds and road closures could slow you down. People should also check options for their return journeys as these may be easier from an alternative station or bus stop.'</p>
<p><strong>
<hr>
Notes to editors: </strong></p><strong></strong>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary</li>
<li>Notting Hill Carnival leaflets with maps showing the Carnival route and providing travel information are available from Tube stations</li>
<li>Check before you travel at&nbsp;<a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and BBC Ceefax, page 436.&nbsp;Information is also available on posters, leaflets and "Good Service" boards at Tube stations; and The London Travel Info 24hrs telephone helpline: 0843 222 1234</li>
<li>Transport for London's Journey Planner offers the quickest way to plan journeys in the Capital, showing fast and efficient routes: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a></li>
<li>Information about cycling is available at tfl.gov.uk/cycling and about walking at tfl.gov.uk/walking</li>
<li>The Congestion Charge will not be in operation on Sunday 29 or Monday 30 August<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the area closed off to traffic, the easiest way to enjoy the sights and sounds of Carnival 2010 is to travel by bus or Tube, on bike or by foot.Transport for London advises all visitors to 'check before they travel' and plan their journey to and from";}
        
        


 