


@{ViewBag.Title = "Well-known Londoners join Mayor's Cycling Revolution ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Well-known Londoners join Mayor's Cycling Revolution </h1>
        <div class="content-page-press-release">
        20 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Six new films to inspire people to take to two wheels
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The great thing about cycling is the freedom it gives you to quickly get to where you want to go, that is why I was delighted to help TfL 'spread the word' about cycling.
                            
                        </p>
                    </div>
                
            
            
            <p>Radio One DJ Edith Bowman and X-Factor presenter Dermot O'Leary have teamed up with Transport for London (TfL) to promote cycling in the Capital.</p>
<p>They are taking part in a series of short films produced by TfL to highlight the pleasures and ease of using a bike to get around London.</p>
<p>From today (20 August) five films, featuring the well known faces alongside three typical Londoners, can be seen online at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> (where the videos will be prominently featured for three months) and on YouTube at <a href="http://www.youtube.com/transportforlondon">www.youtube.com/transportforlondon</a>, while a sixth film opens in cinemas.</p>
<p>Each film concentrates on a different aspect of the Mayor of London's cycling revolution, such as the Mayor's flagship Barclays Cycle Hire scheme, or the new Barclays Cycle Superhighways, and tells a story around one of the people taking part.&nbsp; </p>
<p>The films form part of the Mayor and TfL's efforts to increase the number of cycle journeys in the Capital.</p>
<p>The cinema film also features the new Bike Song track by producer and DJ, Mark Ronson. </p>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'London's cycling revolution will be televised in the form of these wonderfully-made little films.&nbsp; </p>
<p>'Cycling is the most civilised way to get around this great city and these films will spread the word and encourage more Londoners to hop on to their trusty metal steeds.'</p>
<p>Edith Bowman said: 'The great thing about cycling is the freedom it gives you to quickly get to where you want to go, that is why I was delighted to help TfL 'spread the word' about cycling.'</p>
<p>Managing Director of Surface Transport at TfL, David Brown, said: 'What's so good about these films is they show real people using bikes and enjoying the freedom cycling brings.</p>
<p>'These films, along with Barclays Cycle Hire and Barclays Cycle Superhighways, will encourage many more Londoners to take to two wheels.'</p>
<p>
<hr>
<br><strong>Note to editors:</strong> 
<ul>
<li>The participants in the films are:&nbsp; 
<ul type="circle">
<li>Edith Bowman, whose film is about the ease and spontaneity of getting on your bike </li>
<li>Dermot O'Leary, about planning your route </li>
<li>Mohammed, a new cyclist, about getting started </li>
<li>Kay, about the Barclay Cycle Superhighways </li>
<li>Beth, about cycling through parks and other green areas</li></ul></li>
<li>London has seen a dramatic rise in the number of people cycling, with a 117 per cent increase on London's major roads since 2000 </li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11 which is being spent on improving safety for cyclists, Barclays Cycle Hire Barclays Cycle Superhighways, infrastructure, promotion and education </li>
<li>TfL has a target to increase cycling by 400 per cent by 2026 (compared to 2000 levels) </li>
<li>It is estimated that there are now around half a million cycle journeys a day across London as a whole </li>
<li>40 per cent of households in London have access to a bike, but one in five of these are unused </li>
<li>According to TfL's cycling attitudes survey undertaken in May 2009, more than half (54 per cent) of adult cyclists thought they would consider&nbsp;&nbsp;&nbsp; cycling more in the next 12 months, primarily to get fitter or to save money </li>
<li>71 per cent of children say they are actively considering cycling more in the next year, while one in four non-cyclists say they are likely to take up&nbsp;cycling in the next 12 months</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Radio One DJ Edith Bowman and X-Factor presenter Dermot O'Leary have teamed up with Transport for London (TfL) to promote cycling in the Capital.They are taking part in a series of short films produced by TfL to highlight the pleasures and ease of using a";}
        
        


 