


@{ViewBag.Title = "Young people reminded to make the most of their holidays by signing up to Zip";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Young people reminded to make the most of their holidays by signing up to Zip</h1>
        <div class="content-page-press-release">
        17 August 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners can explore the Capital on public transport without breaking the bank with a Zip Oyster card.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Zip scheme is a privilege, which young Londoners should make the most of and appreciate
                            
                        </p>
                    </div>
                
            
            
            <p>Young Londoners are being encouraged to enjoy the rest of their summer holidays to the full by signing up to Transport for London's (TfL) Zip Oyster photocard scheme. </p>
<p>The scheme permits eligible young people to travel for free on buses and trams in the Capital - freeing up their wallets for summer fun. It also gives 11-15 year-olds child-rate travel on the Tube, DLR and London Overground, with a daily cap of just &pound;1 (Zones 1-6). </p>
<h2>Explore London</h2>
<p>This scheme gives young people the chance to make the most of living in London, whatever their economic background, and is something which more than half a million young Londoners have already benefitted from. </p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'With the rest of the summer holidays ahead of them, the Zip card allows young Londoners to explore all that our Capital has to offer without making a big dent in their spending money. However in order to access this scheme parents and their kids need to make sure that they have applied and I urge them to do so.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'The Zip scheme is a privilege, which young Londoners should make the most of and appreciate. </p>
<h2>Touch in and out</h2>
<p>'They should adhere to the Behaviour Code, treating other passengers with respect.&nbsp;It's also important they remember to always touch in when boarding buses and trams, and touching in and out on Tube, DLR and London Overground journeys.</p>
<p>'Summer can be an expensive time for families as young people have so much free time to fill during the holidays. I hope that all parents and young people in London are aware of the benefits of the Zip Oyster photocard scheme and that they remember to sign up for it.'</p>
<p>Zip Oyster photocard application forms are available from Post Offices within London.&nbsp;</p>
<p>It may take up to two weeks to process applications. 11-15 year olds who do not have a valid Zip Oyster photocard must pay the cash fare on buses and trams. Proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a> <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong>
<ul>
<li>You can apply up to one month before your 11th birthday for your 11-15 Zip Oyster photocard </li>
<li>There are currently more than 543,000 cardholders on the under-16 Oyster photocard schemes </li>
<li>Over 16s can also be eligible for concessionary travel with the 16+ and 18+ Oyster photocards. 188,000 16+ Oyster photocard holders have the free bus and tram concession and 13,000 have the half-rate travel concession </li>
<li>16+ applicants cannot apply until 1 September 2010 </li>
<li>All 16+ Oyster photocard holders can buy&nbsp;seven Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at child-rate and pay as you go at half the adult-rate, even if they don't qualify for free bus and tram travel </li>
<li>Holders of 16+ Oyster photocards moving into a second year of education or training, and holders of under 16 Oyster photocards that are due to expire on 30 September 2010, will be sent an application form to their home address </li>
<li>Applications for the 16+ card will be available from and accepted at Post Offices from 1 September.&nbsp; These must be submitted by 17 September to ensure they receive their new 16+ Oyster photocards by 30 September </li>
<li>Under 16s can buy child-rate cash single, Day and&nbsp;three Day Travelcards without a Zip Oyster photocard.&nbsp; The Zip Oyster photocard allows child-rate pay as you go which is cheaper than cash fares. They can also buy child-rate Travelcard season tickets with an Oyster photocard </li>
<li>11-15-year-olds who do not have a valid Oyster photocard must pay the full adult cash fare on buses and trams until they get one<br>10.&nbsp;Last month TfL announced that from 1 September 2010 a non-refundable &pound;10 administration fee will be payable for new applications for Zip Oyster photocards. The administration fee for the 18+ Student Oyster concessionary travel will be increased from &pound;5 to &pound;10. The &pound;10 charge has been introduced to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage </li>
<li>Applicants need to provide a photograph and proof of age at the time of application. 16+ applicants for free travel need to have their forms validated by their school, college or training provider and provide proof that they live in a London borough </li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a duplicate and pay a non-refundable fee of &pound;10 </li>
<li>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese </li>
<li>Non-London residents are also able to apply for a Zip Oyster photocard (for school children between 5 and 18 years) and are also subject to the &pound;10 administration fee. Previously this payment was converted to pay as you go credit; however it will now be used towards the costs of producing the card </li>
<li>Application forms for Zip Oyster and 18+ Student Oyster photo cards can be obtained from Post Offices in Greater London and via participating schools and colleges<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Young Londoners are being encouraged to enjoy the rest of their summer holidays to the full by signing up to Transport for London's (TfL) Zip Oyster photocard scheme. The scheme permits eligible young people to travel for free on buses and trams in the";}
        
        


 