
    
  



@{ViewBag.Title = "Driving near vulnerable users";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driving near vulnerable users</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driving near vulnerable users</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Tools and techniques to help HGV drivers when near vulnerable road users.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>What you can do</h2>
<h3>Safety tools</h3>
<ul>
    <li>Consider having an audible warning device fitted. The
    cost should range from &pound;400 to &pound;600 per vehicle. If you would like more
    information on making vehicle modifications contact <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk.<br />
    </a></li>
    <li>Get the best mirror system you can for your size of vehicle, one that includes class V and VI mirrors. By fitting a FRESNEL lens to the passenger side window of your
    cab, you can improve your vision of cyclists on the left hand side of
    your vehicle</li>
    <li>Get a side guard fitted if your vehicle doesn't have one
    or a side sensor to help you know when a cyclist may be on your
    near-side. Discounted sensors are available from the <a href="http://www.fors-online.org.uk/index.php?page=P_LANDING">Fleet Operator Recognition Scheme (FORS) website</a>.</li>
</ul>
<h3>Driving techniques</h3>
<ul>
    <li>Remember your vehicle is huge compared to the vulnerable cyclist - an adult cyclist may only be the height of your wheels</li>
    <li>Leave space at junctions for cyclists - don't cross stop lines or infringe on cycle Advanced Stop Line</li>
    <li>Stay alert and look out for cyclists, particularly on your left side; wait for the right moment to pass cyclists and give them plenty of space when overtaking</li>
    <li>Look out for cyclists when opening doors</li>
    <li>Remain alert even in stationary traffic - pedestrians and cyclists may weave through queues of traffic</li>
    <li>When turning left always indicate well before the junction and make sure your indicator stays on, even when you are waiting to turn</li>
</ul>
<h4>When turning left</h4>
<ul>
    <li>Always signal and do so well in advance.  A cyclist already on your left hand side or in front of you cannot see your indicators </li>
    <li>Actively look for cyclists on your left hand side. If you even suspect they are there, pause briefly to let them get out of your way especially when pulling away </li>
    <li>Remember that if you have passed a cyclist just before approaching a traffic light or a junction, it is very likely they will end up on your left hand side or just in front of you. Assume the cyclist is in one of your blind spots </li>
    <li>Leave room in front of you when stopped at traffic lights to allow cyclists and motor cyclists a margin of safety </li>
</ul>
<h2>Courses and further information</h2>
<ul>
    <li>We offer a range of training courses and events, including Safe Urban Driving which provides guidance for HGV drivers when driving near vulnerable road users. <a href="/info-for/deliveries-in-london/training-courses-and-events">View our training courses and events</a>
    </li>
    <li>FORS offer stickers warning cyclists of the dangers of undertaking on the left of an HGV. <a href="https://www.fors-online.org.uk/cms/warning-signage/">Visit the FORS site</a></li>
    <li>You can also <a href="/info-for/deliveries-in-london/training-courses-and-events">contact us for further information</a>.</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Helping HGV drivers stay safe when near cyclists, pedestrians and other vulnerable road users";}
        
            
        


 