
    
  



@{ViewBag.Title = "Work Related Road Risk ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/work-related-road-risk";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
            
                <li><span class="last-breadcrumb">Work Related Road Risk </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Work Related Road Risk </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Work Related Road Risk (WRRR) is a freight safety initiative aligned with the Mayor's Vision Zero approach to road danger reduction. No death or serious injury on our roads is acceptable or inevitable.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Freight safety is a pressing issue. Trucks and vans are more likely to be involved in fatal or serious injury incidents with pedestrians and cyclists than other vehicles. We believe that more can be done to prevent this.</p>
<p>We are putting road danger reduction at the heart of everything we do. If you operate trucks or vans in our supply chain you will need to meet higher road safety standards. These are known as WRRR requirements.</p>
<p>Since 1 January 2017, we have been turning vehicles away from our sites if they do not meet these standards.</p>
</div>
 <div>


</div>
 <div>

<h2>How to comply with WRRR</h2>

<h4>Safer operations</h4>

<p>Be accredited with FORS</p>

<ul>
	<li>For contracts advertised after 1 November 2018, the minimum requirement is FORS Silver</li>
	<li>For contracts advertised prior to 1 November 2018, the minimum requirement is FORS Bronze</li>
</ul>

<h4>Safer drivers</h4>

<ul>
	<li>Drivers are to receive training consistent with the FORS Silver standard. There is a list of approved training courses on the <a href="https://www.fors-online.org.uk/cms/fors-professional-fors-approved-courses1/">FORS website</a></li>
</ul>

<h4>Safer vehicles</h4>

<p>Vehicles over 3.5 tonnes must be fitted with safety features consistent with the FORS Silver standard.</p>

<h2>Benefits of WRRR compliance</h2>

<p>By complying with WRRR, you will:</p>

<ul>
	<li>save lives and protect communities by reducing the risk of collisions</li>
	<li>reduce vehicle downtime and delays to deliveries</li>
	<li>reduce costs by saving money spent on insurance claims and premiums, and vehicle repairs</li>
	<li>reduce reputational risk - eg association with a supplier involved in a serious or fatal collision</li>
	<li>demonstrate that your organisation is fulfilling its public duty</li>
</ul>

<h2>Direct Vision Standard (DVS)</h2>

<p>If the following conditions are met, then early adoption of DVS will form part of your WRRR contractual obligations:</p>

<ul>
	<li>contracts, advertised on or after 01 April 2017, exceeding &pound;1M (and)</li>
	<li>exceeding a duration of 12 months (and)</li>
	<li>using vehicles exceeding 12 tonnes (where)</li>
	<li>a&nbsp;significant amount of the work will be completed in London</li>
</ul>

<p><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Find out more about DVS for HGVs</a>.</p>

<p>If your contract is in scope, it will specify that from 26 October 2019 vehicles must meet a minimum 1 star DVS rating. From 26 October 2023, vehicles will need to have a minimum DVS rating of 3 star. The DVS safe system is not an acceptable alternative for these contracts.</p>
</div>
 
<div>



<h2>More information</h2>


<p>The leaflets below provide more information on compliance with WRRR, and can be printed and distributed to members of your organisation.</p>
<h2>Privacy notice</h2>
<p>Transport for London (TfL) its subsidiaries and service providers will use your personal information for the purposes of administering your WRRR Self certification form, including assessing compliance with WRRR Requirements, managing any correspondence and establishing and defending legal rights. On some occasions, we may need to share your information with &#45; or receive information from - associated organisations or their agents for these purposes, and this includes the Freight Operators Recognition Scheme (FORS). Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation.
To find out more about how TfL handles personal data see our <a href="/corporate/privacy-and-cookies/index">privacy and cookies</a> pages.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wrrr-supplier-leaflet-web.pdf">
    <div class="document-download-text">
        <p>WRRR supplier leaflet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/freight-vehicle-pqq.pdf">
    <div class="document-download-text">
        <p>Freight vehicle PQQ wording</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/freight-vehicle-itt.pdf">
    <div class="document-download-text">
        <p>Freight vehicle invitation to tender requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 412KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wrrr-contract-schedule.pdf">
    <div class="document-download-text">
        <p>WRRR contract requirement - for contracts advertised from 1 November 2018 (FORS Silver)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 155KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wrrr-contractual-requirements.pdf">
    <div class="document-download-text">
        <p>WRRR contractual requirements for contracts advertised prior to 1 November 2018 (FORS Bronze)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dvs-contract-schedule.pdf">
    <div class="document-download-text">
        <p>HGV DVS contract schedule</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wrrr-compliance-checklist.pdf">
    <div class="document-download-text">
        <p>WRRR self-certification form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 432KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 
</div>
<h2>Help with WRRR compliance</h2>

<p>At TfL we can support you in achieving compliance with WRRR. In some cases&nbsp;we can help&nbsp;with funding&nbsp;training.</p>

<p>For more information, contact us at <a href="mailto:WRRR&#64;tfl.gov.uk">WRRR&#64;tfl.gov.uk</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>
<p>Get essential information about the Direct Vision Standard (DVS) </p>
<div class="vertical-button-container">

<a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles" class="plain-button">Find out more about DVS</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.fors-online.org.uk/cms/" class="plain-button">Fleet Operator Recognition Scheme (FORS)</a>
<a href="https://www.clocs.org.uk" class="plain-button">Construction Logistics and Community Safety (CLOCS)</a>
<a href="https://constructionlogistics.org.uk" class="plain-button">Construction Logistics</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "All suppliers and contractors working with TfL must meet road safety standards";}
        
            
        


 