


@{ViewBag.Title = "Cycling along Barclays Cycle Superhighways is on the up";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycling along Barclays Cycle Superhighways is on the up</h1>
        <div class="content-page-press-release">
        11 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycle journeys have shot up by up to 100 per cent during peak times on the first two Barclays Cycle Superhighway routes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Work has already started on the next two Barclays Cycle Superhighways providing cyclists with direct and reliable cycle routes into London."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Work has already started on the next two Barclays Cycle Superhighways providing cyclists with direct and reliable cycle routes into London. 
                            
                        </p>
                    </div>
                
            
            
            <p>New figures show that the number of cyclists along the first two Barclays Cycle Superhighway routes, which run from Merton to the City and Barking to Tower Gateway, has risen by 70 per cent with increases of 100 per cent or more seen on some sections during peak hours.</p>
<p>Transport for London (TfL) compared figures for cyclists using the two pilot Barclays Cycle Superhighways on the A24 and A13 during October 2010 and compared them to the same roads in 2009.</p>
<p>They found a 50 per cent increase in the total number of cyclists using the A24 and on the A13 cyclist numbers more than doubled for the same period.</p>
<p>When looking at the total number of cyclists using both routes in October 2009 compared with October 2010, the number rose by 70 per cent.</p>
<p>The Mayor of London's Transport Advisor, Kulveer Ranger, said: 'It is great to see that the first two Barclays Cycle Superhighways are well on the way to achieving our goal to increase cycling in the Capital. </p>
<p>'This research shows that people do believe the routes are of value, make them feel safer and are allowing them to take direct and continuous routes into central London.'</p>
<p>Chief Executive of London Cycling Campaign (LCC) Ashok Sinha said: 'LCC is delighted to hear that more Londoners are taking to two wheels because of the new Barclays Cycle Superhighways. </p>
<p>'Our members will continue to work with Transport for London to build on this positive result, so that we can further increase the quality of provision in the next set of routes and attract yet more Londoners to this healthy, environmentally friendly and enjoyable way to travel.'</p>
<h2>New cyclists</h2>
<p>TfL research that was carried out just one month after the launch of the scheme, with people who live near and travel on the pilot routes, found that 34 per cent of non-cyclists surveyed had begun to cycle on the Barclays Cycle Superhighways following their launch.</p>
<p>Wider benefits have shown that more than four in&nbsp;10 cyclists along the routes have increased the amount they cycle elsewhere in London as a result of Barclays Cycle Superhighways and around three in ten have purchased a bike or cycling equipment.</p>
<p>TfL has installed 39 new safety mirrors at junctions along the pilot routes to help improve visibility for cyclists and other road users. The majority of goods drivers surveyed said they would change the way they used junctions fitted with roadside safety mirrors, and 60 per cent of cyclists said the blue coloured surfacing made them feel safer.</p>
<p>Overall, more than three quarters asked said that the Barclays Cycle Superhighways had improved safety for cyclists.</p>
<h2>Commuting pleasure</h2>
<p>On average the time spent travelling on Barclays Cycle Superhighways (per journey) is around 21 minutes for the Merton to City route and 17 minutes along the Barking to Tower Gateway route.</p>
<p>Around 80 per cent of journeys made along both routes are cyclists commuting to and from work, and those who had switched to cycling from another mode stated that the main reasons for doing so were to improve fitness, save money and because the journey is more pleasant.</p>
<p>Barclays Cycle Superhighways give cyclists clearly marked, direct and continuous cycle routes into central London and are a key part of the Mayor's commitment to stimulating a cycling revolution in the Capital. </p>
<p>Since launching the routes just six months ago the following have been achieved: </p>
<ul>
<li>40 kilometres of new or improved cycle lanes </li>
<li>94 new or improved Advance Stop Lines (ASLs) at least five metres deep </li>
<li>46 signalised junctions improved to provide quicker journey times and create more space for cyclists </li>
<li>39 safety mirrors installed at junctions along the pilot routes </li>
<li>2,372 new cycle parking spaces installed to date in&nbsp; partnership with boroughs and local businesses </li>
<li>1,362 extra cycle training hours delivered</li></ul>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'This research clearly shows that Barclays Cycle Superhighways are meeting the objectives we set out to achieve.&nbsp;</p>
<p>'Work has already started on the next two Barclays Cycle Superhighways providing cyclists with direct and reliable cycle routes into London.</p>
<p>'TfL is also working closely with the relevant London boroughs and a whole range of interested parties to ensure that we maximise every opportunity to improve the cycle commute for those already using these routes, and attract many more thousands of Londoners to join them.'</p>
<p>Deanna Oppenheimer, Vice-Chair, Global Retail Banking, CEO Western Europe and CEO UK Retail Banking at Barclays, said: 'Increasing transport capacity is important for investment and jobs in London.</p>
<p>'With new cyclists using Barclays Cycle Superhighways, existing cyclists increasing their time on the roads of the Capital, and the cycling business industry continuing to see investment, this is evidence of the success of the first two pilot routes.'</p>
<p>
<hr>
<br><strong>Notes to editors:&nbsp;</strong>&nbsp; 
<p>
<ul>
<li>The total number of cyclists on a week day, as measured over a 12 hour period, using the A24 had risen from 2,724 in October 2009 to 4,092 in 2010. And similarly on the A13 cyclist numbers rose from 1388 in October 2009 to 2932 in the same month last year</li>
<li>The two pilot Barclays Cycle Superhighways routes run from Merton to the City (CS7) and Barking to Tower Gateway (CS3) and launched on 19 July. The next two Barclays Cycle Superhighways routes will run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8) and will launch in summer 2011. Maps of CS2 and CS8 are available from TfL's press office on 0845 604 4141</li>
<li>Results from both pilot routes suggest an overall increase of 70 per cent in cycle journeys; this is based on one day of manual counts in October 2010 and a comparable day in October 2009, supplemented by automated count data along the routes</li>
<li>Peak hour increases of 100 per cent or more in cycle journeys on some sections, following automatic and manual counts undertaken in October 2010 compared with data from the same month in the previous year</li>
<li>The Barclays Cycle Superhighways are a set of 12 radial routes aimed at delivering benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes</li>
<li>Research has been carried out with people in the target market for the two pilot Barclays Cycle Superhighways, defined as those residents within 1.5km of either route and who travel (by any mode) along the corridor for at least 1km.&nbsp;Respondents were surveyed before and after the introduction of the Barclays Cycle Superhighways in order to understand usage and responses to the Superhighways and, for those who had cycled along the Barclays Cycle Superhighways, their experiences of using the routes. The survey was carried out online and by telephone in early summer and autumn 2010. A total of 904 respondents took part in wave one of the survey and 506 in wave two</li>
<li>Research has also been carried out with people cycling on the two Barclays Cycle Superhighways. A survey was conducted online in early autumn 2010 with cyclists recruited at the roadside while making a trip on one of the Barclays Cycle Superhighways. In total, 501 cyclists took part in the survey, which explored travel behaviour, attitudes and experiences of using the routes. Of the respondents to this survey, 200 had cycled on Barclays Cycle Superhighway 3, and 301 on Cycle Superhighway 7</li>
<li>The Mayor and TfL have a target to increase cycling by 400 per cent across London by 2026 (compared to 2000 levels)</li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11 with the money spent on Barclays Cycle Superhighways, Barclays Cycle Hire, infrastructure, training, promotion and education</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures show that the number of cyclists along the first two Barclays Cycle Superhighway routes, which run from Merton to the City and Barking to Tower Gateway, has risen by 70 per cent with increases of 100 per cent or more seen on some sections";}
        
        


 