


@{ViewBag.Title = "Enforcement of average speed cameras on A13 to begin on 31 January";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Enforcement of average speed cameras on A13 to begin on 31 January</h1>
        <div class="content-page-press-release">
        26 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Site of more than 400 collisions will be the first place in UK where average speed cameras enforce speed limit along a major urban road. New upgraded system will help reduce road collisions and improve traffic flow through east London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Road safety in the Capital is something that the Mayor and TfL take extremely seriously"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
Road safety in the Capital is something that the Mayor and TfL take extremely seriously
</p>
</div>
<p>An average speed camera system, the first of its kind in the UK, will begin operating between Canning Town and the Goresbrook Interchange on the A13 from 31 January to help reduce the number of deaths and serious injuries on this stretch of road, notorious for collisions.</p>
<p>In agreement with the Metropolitan Police and local borough councils, Transport for London (TfL) is introducing the new system at this site as it sees a higher amount of collisions than is usual for London's roads. </p>
<p>Between 2007 and 2009, there were 426 collisions on this stretch, resulting in two deaths and 37 serious casualties.</p>
<p>More than 70 per cent of those collisions involved cars or goods vehicles and it is hoped the introduction of these new speed cameras will reduce collisions by around 30 per cent.</p>
<p>The new camera system will replace the existing fixed and mobile safety cameras along the stretch of road. </p>
<p>As well as reducing the number of people killed or harmed on the road, it is also hoped this system will reduce congestion caused by collisions, helping to further smooth traffic flow.</p>
<p>Road collisions are responsible for around 28 per cent of congestion in London. </p>
<p>Studies by TfL show that collisions along the stretch of A13 from Canning Town flyover to Goresbrook Interchange can take up to seven hours to be cleared, with the average time being around two hours per collision.  </p>
<p>A total of 84 cameras, based at 37 locations, will monitor the speed of vehicles as they drive along part or all of the Canning Town to Goresbrook Interchange section of the A13. </p>
<h2>Taking safety seriously</h2>
<p>If the average speed for a vehicle along the stretch of the road they drive along is above the speed limit, the owner of the car will be issued with a Notice of Intended Prosecution (NIP) by the Metropolitan Police.</p>
<p>In preparation for the system going live on 31 January, the speed limit will be raised from 40mph to 50mph on the section of the A13 to the east of the Canning Town Flyover and the Goresbrook Interchange in the London boroughs of Newham and Barking &amp; Dagenham.  </p>
<p>The increase in speed limit follows a review of the dual three lane design of the A13, which showed that a 50mph speed limit is appropriate for this stretch of road. </p>
<p>The speed limit across the Lodge Avenue and Canning Town Flyovers will remain as they currently are.</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'Road safety in the Capital is something that the Mayor and TfL take extremely seriously and this new average speed camera system along the A13 is not only a first for London, but a first for the UK. </p>
<p>'Once active, the upgraded safety camera system will help significantly reduce the number of collisions that occur along this stretch of road, resulting in fewer serious casualties and reduced collision-related traffic congestion in the local area.'</p>
<p>PC Simon Wickenden of Chadwell Heath Traffic Management Unit, said: 'We fully support both the increase in the speed limit and the average speed camera system on the A13. </p>
<p>'Experience elsewhere has shown that average speed cameras increase road safety and at the same time better regulate traffic flow. </p>
<p>'We believe the speed limit is more appropriate for a dual carriageway like this and the potential reduction in collisions would mean fewer lengthy road closures as the necessary investigations take place.'</p>
<p>
</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors:</strong></p>
<p><strong>
</strong></p>
<ul><strong>
    <li></li>
    </strong></ul>
    The London Safety Camera Partnership (LSCP) is responsible for implementing speed and red light cameras across London and runs public information, education and marketing campaigns aimed at reducing road casualties.
    <li>The RedFusion average speed camera system received Home Office Type Approval (HOTA) in January 2010</li>
    <li>In the three years ending December 2009, the total number of collisions along the 11.8km of A13 between Canning Town and Goresbrook Interchange was 426, giving a rate of 36 collisions per km during the three year period. This compares to 19,778 collisions along the 580km of TfL's road network, which gives a collision rate of 34 collisions per kilometre during the same period</li>
    <li>The GATSO speed cameras currently located along the A13 will be decommissioned once the new system is enforcing</li>
    <li>Safety cameras play a vital role in casualty reduction. On average, there is a 50 per cent reduction in the number of people killed or seriously injured at sites where cameras are installed</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An average speed camera system, the first of its kind in the UK, will begin operating between Canning Town and the Goresbrook Interchange on the A13 from 31 January to help reduce the number of deaths and serious injuries on this stretch of road,";}
        
        


 