


@{ViewBag.Title = "Information packs expedite first step in Knowledge process";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Information packs expedite first step in Knowledge process</h1>
        <div class="content-page-press-release">
        06 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Initial Talks' replaced with information packs
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Knowledge of London examination is famous the world over and it is important for us to provide new applicants with as much information as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">Director of London Taxi & Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Knowledge of London examination is famous the world over and it is important for us to provide new applicants with as much information as possible
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Change will streamline and speed up process </li></ul>
<p>London Taxi and Private Hire (LTPH), the body responsible for licensing London's taxi and private hire industries, has today announced a change to the first step a successful taxi driver applicant must undertake when starting out on the world famous 'Knowledge of London' assessed process. </p>
<p>In order to streamline and speed up the process, LTPH have removed the requirement for applicants to attend an 'initial talk'.&nbsp; </p>
<p>The initial talk provided the applicant with a detailed explanation of what would be required of them in order to study the Knowledge of London.&nbsp; </p>
<h2>The Blue Book</h2>
<p>Instead, with immediate effect, a Knowledge information pack will be sent to all applicants who have been accepted onto the Knowledge.&nbsp;</p>
<p>The pack will contain a Knowledge of London candidate's introductory booklet together with a covering letter, the 'Blue Book' and a 'Guide to learning the Knowledge' DVD. </p>
<p>This will mean that applicants will no longer have to wait to attend an Initial Talk before commencing their studies. </p>
<p>The new change will also represent better value for money for successful applicants while making more efficient use of examiners' time. </p>
<p>Applicants will still be able to telephone the Knowledge of London team with any enquiries they may have.&nbsp; </p>
<h2>Commit to memory</h2>
<p>John Mason, Director of London Taxi &amp; Private Hire, said: 'The Knowledge of London examination is famous the world over and it is important for us to provide new applicants with as much information as possible when they embark on the journey to become a licensed London cabbie. </p>
<p>'Having been accepted onto the Knowledge, new students have historically waited some time for an "initial talk" before getting out on the street and learning the runs and points of interest they will need to commit to memory if they want to become a cabbie.</p>
<p>'Following a review of the current process, we feel that replacing the initial talk with an information pack is a much better system and will ensure that students have all the information they need to get cracking within days of being accepted.&nbsp; </p>
<p>'This also enables us to free up even more examiners' time, as they had historically given the talk themselves. </p>
<p>'Any new students who have questions about the process or want advice or guidance can still contact us and we will continue to do everything we can to assist and support them throughout the process.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Change will streamline and speed up process London Taxi and Private Hire (LTPH), the body responsible for licensing London's taxi and private hire industries, has today announced a change to the first step a successful taxi driver applicant must undertake";}
        
        


 