


@{ViewBag.Title = "Keep up your healthy New Year resolutions by taking part in Winter Wanders across the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Keep up your healthy New Year resolutions by taking part in Winter Wanders across the Capital</h1>
        <div class="content-page-press-release">
        25 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 50 free London walks led by trained guides take place on Saturday 29 and Sunday 30 January.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a great city for pedestrians and the Mayor wants to remind Londoners that walking short journeys can be easier, healthier, more pleasant"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a great city for pedestrians and the Mayor wants to remind Londoners that walking short journeys can be easier, healthier, more pleasant
                            
                        </p>
                    </div>
                
            
            
            <p>With just a year to go before the 2012 Olympic and Paralympic Games - sample one of the special walks that focus on the routes that lead to the Olympic Park.</p>
<p>The Mayor of London and Transport for London (TfL) are inviting Londoners and visitors to stretch their legs this weekend and enjoy one of 56 free guided winter walks around the city.</p>
<p>The walks known as Winter Wanders are one of three annual guided walking weekends organised by Walk London and supported by TfL. The 56 led walks cover seven different routes across London, connecting some of the Capital's best attractions, parks, rivers, canals and open spaces.&nbsp; </p>
<h2>Winter Wanders</h2>
<p>With the 2012 Olympic and Paralympic Games just around the corner, one of the Winter Wanders routes has a special focus on East London and along the routes that lead towards the Olympic Park. </p>

<p>The Jubilee Greenway route links the 2012 Games venues with parks, waterways and great attractions. There are five walks flagged as 'Walking towards the Games' and they show just how easy it will be to walk to the Olympic Park.</p>
<p>Kulveer Ranger, Mayor of London's transport advisor, said: 'This weekend of walks gives Londoners a chance to explore their city on foot; discovering new ways to get from A to B and spotting some great sites along the way. </p>
<p>'This is a great city for pedestrians and the Mayor wants to remind Londoners that walking short journeys can be easier, healthier, more pleasant and sometimes even quicker than using other forms of transport. </p>
<h2>Olympic Games</h2>
<p>'With the Olympic and Paralympic Games coming up Londoners can do their bit to ease pollution and congestion as well as keeping their New Year's resolution at the same time.'</p>

<p>The walks complement the Mayor's Great Outdoors Programme and a &pound;220 million investment in over 50 public space projects. </p>
<p>This investment will ensure that streets, squares, parks and water spaces are fit for a great world city, enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital.</p>
<p>This weekend's Winter Wanders include walks on all seven routes:</p>
<ul>
<li>Capital Ring Walk - threading together parks and opens spaces with pleasant residential roads. Fifteen easily walked sections divide this 78 mile of open spaces - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier&nbsp; </li>
<li>Green Chain Walk - 50 miles of parks and open spaces that include the Severndroog Castle, Crystal Palace Park and Oxleas Woods <br>Jubilee Walkway - designed to connect London's key attractions and connects all the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral </li>
<li>Lea Valley Walk - 18 miles of the London section, taking in Canary Wharf, Tottenham Marshes, Enfield Lock and Waltham Abbey <br>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome </li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Place, through the heart of London to Erith Marshes. Sights include The Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens </li>
<li>The Jubilee Greenway Walk&nbsp;- linking 2012 Olympic and Paralympic Games venues with parks, waterways and great attractions. Thirty-five miles will take you past the 02 Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park, among many other spectacular places<br></li></ul>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'This is a great time to wrap up and explore London with its fast changing landscape. </p>
<p>'In partnership with the London boroughs, TfL has continued to improve these great walking routes as well as the Capital's streets, towns and open spaces to support the Mayor of London's vision to make the City a better place to live, work and visit. </p>
<p>'So, come out and experience the joy of walking and discover the gems on your doorstep.'</p>
<h2>Colourful history</h2>
<p>Jim Walker, Walk England CEO, said: 'These free walks provide a real insight into London - just how near and walkable everything is; how colourful our history is that we have inherited; and what a rich and diverse community of like-minded potential- friends there are to enjoy it all with.&nbsp; </p>

<p>'I hope you will join us on these wonderful winter wanders as we sneak the first signs of spring.'</p>
<p>To find out more, visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a>, email <a href="mailto:info&#64;walklondon.org.uk">info&#64;walklondon.org.uk</a> or call 0870 240 6094. </p>
<p>
<hr>
<br><strong>Notes to editors: <p>
<ul>
<li></li></ul></strong>Winter Wanders are held on the last weekend in January of each year, and forms one of three annual guided walking weekends managed by Walk London. The other two guided walking events are Autumn Ambles (September) and Spring into Summer (May)&nbsp;
<li>Over 10,000 people have attended Walk London's walking weekends since November 2007</li>
<li>London's Strategic Walk Network is made up of seven long distance routes laid out in easily manageable sections: Loop Walk (24 sections in total 152 miles); Capital Ring Walk (15 sections in total 78 miles); Lea Valley Walk (6 sections in total 18 miles); Thames Path Walk (4 sections in total 40 miles); Green Chain Walk (11 sections in total 50 miles); Jubilee Walkway (5 sections in total 15 miles); Jubilee Greenway Walk (10 sections in total 37 miles)</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With just a year to go before the 2012 Olympic and Paralympic Games - sample one of the special walks that focus on the routes that lead to the Olympic Park.The Mayor of London and Transport for London (TfL) are inviting Londoners and visitors to stretch";}
        
        


 