


@{ViewBag.Title = "Latimer Road station to close for three months for engineering works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latimer Road station to close for three months for engineering works</h1>
        <div class="content-page-press-release">
        14 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latimer Road station will close for three months on Monday 17 January so work to extend platforms can take place.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The quickest way to complete the works is to use a combination of platform and station closures"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">Network Services Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The quickest way to complete the works is to use a combination of platform and station closures
                            
                        </p>
                    </div>
                
            
            
            <p>The works are part of the essential upgrade of the Circle and Hammersmith &amp; City lines which, when complete, will increase capacity for passengers by 65 percent. <br>&nbsp;<br>New air-conditioned trains, which will be introduced on the Hammersmith &amp; City line in 2012, will have seven carriages as opposed to the six carriage trains that currently operate. </p>
<p>Therefore it is essential that platforms are extended.</p>
<p>Work has already started at the station, the westbound platform at the station has been closed for platform extension works since last July. </p>
<p>However during that work engineers found the bridge that supports the platforms requires strengthening work to the foundations and the lattice girder of the bridge in order to support the new longer platforms safely. </p>
<p>To ensure that the works are completed before the trains come into service the station will need to close for approximately three months.</p>

<h2>Coordinated closures</h2>
<p>Nigel Holness, Network Services Director for&nbsp;London Underground said: 'We apologise to customers for any inconvenience this may cause but it is essential that we carry out these works. </p>
<p>'We have looked at this very carefully and believe the quickest way to complete the works is to use a combination of platform and station closures. </p>
<p>'This will enable us to finish the works by the summer of 2011, in time for the Notting Hill Carnival.'</p>
<p>The station will close from 17 January until 24 April 2011. </p>
<p>The westbound platform will then reopen and the eastbound platform will remain closed until the end of July when the station will reopen fully, in time for the Notting Hill Carnival. </p>
<p>Passengers are advised to use Central line services and existing local bus services for travel between Wood Lane, Ladbroke Grove and Latimer Road.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works are part of the essential upgrade of the Circle and Hammersmith &amp; City lines which, when complete, will increase capacity for passengers by 65 percent. &nbsp;New air-conditioned trains, which will be introduced on the Hammersmith &amp; City";}
        
        


 