


@{ViewBag.Title = "London Underground condemns RMT Bakerloo line and Northern line strike threat";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground condemns RMT Bakerloo line and Northern line strike threat</h1>
        <div class="content-page-press-release">
        14 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption unlikely on Northern line
        
    </div>



 <div class="on-this-page">
<p>-&nbsp;Limited services will operate on Bakerloo line</p>
<p>- London Undeground (LU) call on the union to abandon 'pointless and unjustified' strike action</p>
<p>LU today called on the RMT leadership to abandon strike action planned to affect services on Saturday 15 January, which they called in defence of two drivers, one of whom has been dismissed for a serious safety breach and the other for abusive behaviour towards colleagues.</p>
<p>In the Northern line ballot, staff flatly rejected the union leadership's strike call. </p>
<p>Of the 192 staff balloted over the driver's dismissal, just 80 took part in the vote, with only 38 voting for strike action - less than 20 per cent of those balloted. </p>
<h2>Safety procedures</h2>

<p>However, the RMT leadership has advised staff at Morden depot (where there was a small majority of those voting in favour of strike action) to strike regardless.</p>
<p>The Bakerloo line ballot concerned a staff member who, despite being a health and safety representative, over-rode his Tube train's safety systems and drove the train with complete disregard for established safety procedures. </p>
<p>Just 42 people voted for strike action out of a total of 119 balloted - just a third of those eligible to vote. </p>
<p>There is expected to be no effect on passenger services on the Northern line. However significant disruption on the Bakerloo line is likely, though LU intends to run as many trains as possible. </p>
<p>Customers are advised to check before they travel.&nbsp; </p>

<p>Howard Collins, LU's chief operating officer, said: 'It is absolutely outrageous for the RMT to threaten further strike action in support of these drivers, one of whom was dismissed for a serious breach of safety rules, and the other for unacceptable and abusive behaviour towards his colleagues. </p>
<p>'The union leadership failed in its attempt to gain support for the strike from Northern line staff. </p>
<h2>Threatening London </h2>
<p>'Less than 20 per cent of those balloted voted for strike action, and on the Bakerloo line only one in three of those balloted voted to strike.</p>
<p>'For the RMT leadership to try to disrupt Londoners in this way shows a disregard for Tube passengers and contempt for their own ballot process. </p>
<p>'We will once again seek to operate the best service possible. The last Northern line strike had no effect and we managed to keep a service running on parts of the Bakerloo line despite the action there. </p>
<p>'The RMT leadership should stop threatening Londoners with strike action and let our staff get on with their job of keeping the capital moving.'</p>
<p>The action is planned from 21:00 on Friday 14 January until 20:59&nbsp;on Saturday 15 January.&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;Limited services will operate on Bakerloo line- London Undeground (LU) call on the union to abandon 'pointless and unjustified' strike actionLU today called on the RMT leadership to abandon strike action planned to affect services on Saturday 15";}
        
        


 