


@{ViewBag.Title = "Mayor calls for 150,000 vehicles to clean up and avoid fines ahead of tougher air quality standards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor calls for 150,000 vehicles to clean up and avoid fines ahead of tougher air quality standards</h1>
        <div class="content-page-press-release">
        24 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 3 January 2012 around 75,000 heavey goods vehicles (HGVs), buses and coaches will have to meet tighter Low Emission Zone (LEZ) standards. For the first time around 72,000 larger vans and minibuses will have to meet emissions standards.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Low Emission Zone is already playing a major part in that by deterring the most polluting vehicles from driving within London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Low Emission Zone is already playing a major part in that by deterring the most polluting vehicles from driving within London
                            
                        </p>
                    </div>
                
            
            
            <p>Major information campaign launched today reminds vehicle owners of changes and provides advice on how to meet the required emissions standards.</p>
<p>The Mayor has called on owners of around 150,000 vehicles that will be affected by new air quality standards coming in January 2012, to prepare for the changes to the&nbsp;LEZ and avoid fines.&nbsp; </p>
<p>Transport for London (TfL) estimate that the changes to the LEZ will broadly double the impact of earlier phases in reducing particulate matter (PM) pollution in the Capital.</p>
<p>Research commissioned by the Mayor has suggested that poor air quality contributes to an equivalent of 4,267 premature deaths in London annually, with many more people, especially children and older people, having their quality of life impacted by it.&nbsp; </p>
<p>These figures are in line with a recent House of Commons Committee investigation which heard evidence that poor air quality could contribute to 50,000 premature deaths per year across the UK.&nbsp; </p>
<p>Londoners also identify improving air quality as one of their environmental priorities for the Mayor to tackle.</p>
<p>Road transport emissions are the largest source of dangerous PM air pollution (tiny airborne particles coming from vehicles) in the Capital, with larger vans responsible for 21 per cent of these emissions and 10 per cent of oxides of nitrogen (NOx).&nbsp; </p>
<p>The current LEZ is working well in keeping some of the most polluting vehicles from driving within London but further action is needed to reduce pollution.</p>
<p>TfL is today launching a year-long information campaign to remind vehicle operators that they have a year to prepare their vehicles for changes that will see larger vans, minibuses and other vehicles* included in London's LEZ to help deliver cleaner air for Londoners and improve quality of life.&nbsp; </p>
<p>These vehicles will have to meet a Euro 3 standard for particulate matter, in order to drive within the LEZ free of charge and avoid fines.&nbsp; </p>
<p>For HGVs, buses and coaches that are already affected by the LEZ, the emissions standards will be tightening to Euro IV for particulate matter.&nbsp; </p>
<p>All these changes will come into effect from 3 January 2012 and will quadruple the number of vehicles impacted by the LEZ from approximately 200,000 to nearly 800,000.&nbsp; </p>
<p>Evidence from the introduction of the LEZ in 2007 showed that the majority of affected vehicles will be compliant ahead of the changes.</p>
<h2>Meeting emission standards</h2>
<p>Owners of larger vans and minibuses who do not meet the required emissions standards by 3 January 2012, and who drive within Greater London, will have to pay a &pound;100 daily charge or risk a &pound;500 penalty.&nbsp; </p>
<p>Owners of HGVs, buses and coaches would have to pay a &pound;200 daily charge or risk a &pound;1,000 penalty.&nbsp; </p>
<p>TfL's information campaign is designed to ensure that operators take timely action to ensure their vehicles meet the required emissions standards, rather than pay a daily charge.</p>
<p>Larger vans and minibuses were originally due to be included in the LEZ from 4 October 2010, however, the Mayor took the decision, following public consultation, to defer the introduction in tough economic times to give the owners and operators of the estimated 70,000 non-compliant vehicles, many of which are smaller businesses and charities, more time to make the necessary changes.&nbsp; </p>
<p>The Mayor is also writing to Government to push for scrappage and abatement equipment grants to help owners of vehicles make the required changes.</p>
<p>Boris Johnson, the Mayor of London, said: 'I want Londoners to enjoy a civilised, high quality life in beautiful, safe surroundings, with effective public transport and a healthy environment.&nbsp; </p>
<p>'That's why I'm transforming parks across the city, planting thousands of trees, funding ambitious urban realm improvements and bringing in a wide range of measures to tackle pollution.</p>
<p>'The Low Emission Zone is already playing a major part in that by deterring the most polluting vehicles from driving within London.&nbsp; </p>
<p>'But whilst pollution remains a serious health issue, we need to take further action.</p>
<p>'From January 2012 the emissions standards will be raised and more vehicles will be affected.&nbsp; </p>
<p>'In recognition that these are tough financial times, I have given people longer to prepare their vehicles for these changes.</p>
<p>'But in the year when the world heads to London for the Olympic and Paralympic Games, it is right that we are demanding the highest environmental standards that a great city like ours is entitled to expect.&nbsp; </p>
<p>'This means everyone playing their part in creating a less polluted London and why we are investing millions in cleaner transport to help us do so.'</p>
<h2>Investing in cleaner transport</h2>
<p><br>The LEZ is part of a comprehensive package of long-term sustainable measures to tackle the biggest sources of pollution and improve air quality.&nbsp; </p>
<p>These include record levels of investment into cycling, 300 hybrid buses by 2012, introducing a zero-polluting hydrogen bus route and supporting the uptake of electric and other low-emission vehicles.&nbsp; </p>
<p>The New Bus for London entering service in early 2012 will be 40 per cent less polluting than traditional diesel vehicles.</p>
<p>Nick Fairholme, TfL's Acting Director of Congestion Charging and Traffic Enforcement, said: 'With the forthcoming changes to the Low Emission Zone taking effect from January 2012, operators have a year to take action to ensure they meet the new standards.<br>&nbsp;<br>'TfL is working with operators and owners to make sure their vehicles meet the emissions standards rather than pay the daily charge.&nbsp; </p>
<p>'Including these vehicles in the Low Emission Zone will deliver a significant reduction in the polluting emissions from vans and minibuses and forms part of a broader package of measures to further clean up the Capital's air.'</p>
<p>As part of the information campaign a new LEZ website has been launched - <a href="http://www.tfl.gov.uk/lezlondon">tfl.gov.uk/lezlondon</a> - which includes a vehicle checker to enable owners to check whether their vehicle meets the emissions standards and provides advice on what steps they can take to do so.&nbsp; </p>
<p>In many cases, owners whose vehicles do not meet the new emissions standards will not need to purchase a new vehicle, but can fit an approved filter at a much lower cost to reduce polluting exhaust emissions.&nbsp; </p>
<p>A coalition of the country's leading health organisations is supporting the changes to the LEZ. </p>
<p>Neil Churchill, Chief Executive at Asthma UK, says: 'Air pollution has a severe impact on the health and quality of life of people with asthma.&nbsp; </p>
<p>'In fact, two thirds (66 per cent) of people with asthma have told us that traffic fumes make their asthma worse and 42 per&nbsp;cent&nbsp;are discouraged from walking or shopping in congested areas because of the effects of traffic fumes.&nbsp; </p>
<p>'Asthma UK welcomes the continued commitment to tackling this problem through the Low Emission Zone and supports a long-term strategy to deal with air pollution, particularly traffic fumes.'</p>
<h2>Long-term strategy</h2>
<p>Ann Green, Chair of the Chartered Society of Physiotherapy, said: 'Each year physiotherapists treat thousands of patients with respiratory conditions, like asthma, whose symptoms are made worse by emissions from heavily polluting vehicles.&nbsp; </p>
<p>'Restrictions on these emissions also aid initiatives like our Move for Health campaign, which encourages people to get more exercise into their daily routine.&nbsp; </p>
<p>'If people follow this advice and hit the streets to walk, run or cycle it is important that we provide them with cleaner air in which to do so.&nbsp; </p>
<p>'The standards being introduced next year are welcome and we would urge other areas to follow suit.'</p>
<p>Professor Mike Morgan, Chair of the British Thoracic Society's Board of Trustees, said: 'The Society welcomes this news.&nbsp; </p>
<p>'Any move to tighten standards and improve the quality of the air we breathe in cities will be welcomed by people who have lung diseases.'</p>
<p>Dame Helena Shovelton, Chief Executive of the British Lung Foundation, said: 'Air pollution is a longstanding problem for lung disease patients, which can result in flare ups of existing illnesses and even be the cause of Chronic Obstructive Pulmonary Disease (COPD) and lung cancer.&nbsp; </p>
<p>'Estimates have shown that London's air pollution has led to another 1,500 hospital admissions every year. </p>
<p>'Reducing emissions is a much needed step in addressing this.'</p>
<p>* The LEZ will affect a number of diesel-engined specialist vehicles such as motor caravans, motorised horseboxes and light utility vehicles, even if they are used for private purposes</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Cars, motorcycles and vans weighing under 1.205 tonnes unladen are not affected by the LEZ.&nbsp;Owners can check their V5 to confirm their vehicle weight and TfL can provide advice on the website or via the dedicated call centre </li>
<li>TfL has published its report to the Mayor on the results of the <a href="http:/www.tfl.gov.uk/lezlondon">public and stakeholder consultation </a>on the LEZ Variation Order </li>
<li>In London, road transport is the single biggest source of PM10 and NOx emissions causing air quality-related health problems, worsening symptoms of asthma and other respiratory conditions. Larger vans are responsible for 21 per cent of PM emissions and 10 per cent of emissions of NOx </li>
<li>The LEZ aims to reduce emissions of PM and NOx by encouraging the take-up of cleaner vehicles and the fitting of approved abatement equipment </li>
<li>Operators with vehicles that do not meet the specified emissions standards for the LEZ have several options to comply with the scheme including: 
<ul>
<li>Fitting an approved filter to the vehicle to improve the emissions.&nbsp;A list of approved filters is published on the TfL website </li>
<li>Purchasing a newer vehicle </li>
<li>Reorganising a fleet so that only vehicles which meet the required emissions standards drive within the Zone </li>
<li>Paying a daily charge</li></ul></li>
<li>From 3 January 2012, the emissions standards for vehicles already affected by the LEZ from 2008 will be tightened. Lorries over 3.5 tonnes, buses and coaches over&nbsp;five&nbsp;tonnes will then be required to meet a Euro IV for PM standard to drive within the LEZ without charge. This was announced when the scheme was originally approved in 2007 and has always been due to take effect in January 2012 </li>
<li>The Mayor's Air Quality Strategy, published in December 2010, sets out a wide range of policies to further reduce the emissions from various sectors, including road transport. For example a package of local measures to tackle air pollution at priority locations, incentivising the adoption of the cleanest vehicles and new technologies including electric and electric-hybrid cars, and further development of the LEZ scheme. It identifies that with these measures, London is on track to meet PM10 legal limits by 2011 and outlines steps to tackle NOx emissions </li>
<li>Asthma UK is the charity dedicated to improving the health and well-being of the 5.4 million people in the UK whose lives are affected by asthma </li>
<li>The Chartered Society of Physiotherapy is the professional, educational and trade union body for the 50,000 chartered physiotherapists, physiotherapy students and assistants </li>
<li>The British Thoracic Society is a membership organisation for health care professionals working in respiratory medicine.&nbsp;A registered charity, it aims to improve the standards of care for people with respiratory disease, producing evidence-based treatment guidelines and markers of good practice,&nbsp;a wide range of educational resources, an annual scientific meeting and the promotion of research and information about respiratory health </li>
<li>The British Lung Foundation is the only UK charity working for everyone affected by lung disease. It focuses its resources on providing support for people affected by lung disease today and works in a variety of ways, including funding world-class research, to bring about positive change, to improve treatment, care and support for people affected by lung disease now and in the future</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Major information campaign launched today reminds vehicle owners of changes and provides advice on how to meet the required emissions standards.The Mayor has called on owners of around 150,000 vehicles that will be affected by new air quality standards";}
        
        


 