


@{ViewBag.Title = "New ticket offices times to be introduced on the Tube network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New ticket offices times to be introduced on the Tube network</h1>
        <div class="content-page-press-release">
        31 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New opening hours to reflect customer demand after massive Oyster take-up. Staff to be deployed to the areas of stations where they can assist passengers most effectively.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The success of Oyster has meant that the number of customers who use the ticket offices has declined"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The success of Oyster has meant that the number of customers who use the ticket offices has declined
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has announced that on Sunday 6 February new ticket office opening hours will be introduced in most Tube stations, with staff previously behind ticket office windows deployed to areas of stations where passengers most value their help and reassurance.&nbsp; </p>
<p>Due to the success of Oyster in recent years, along with the growing use of internet sales and automatic top-ups, just one in 20 Tube journeys now involves a ticket office purchase. </p>
<p>Some ticket offices, such as those at North Ealing and Latimer Road stations, sell fewer than ten tickets an hour. </p>
<p>Customer service and retaining the Tube's high safety standards will remain the top priorities. </p>
<p>All stations will remain staffed while services are running, and every station that currently has a ticket office will retain one - just with opening hours that better suit demand. </p>
<p>Howard Collins, Chief Operating Officer of LU, said: 'The success of Oyster has meant that the number of customers who use the ticket offices has declined sharply, and people are increasingly using ticket machines, the web, and automatic top-ups. </p>
<p>'As we respond to that we have made the commitment that our high safety standards will be retained - every station will remain staffed, and that every station with a ticket office will still have one with opening times that reflect demand. </p>
<p>'Staff who were previously behind under-used ticket office windows will be able to be deployed to places where they can better assist passengers.'</p>
<p>Passengers can find out more about the ticket office opening hours at their local station or on the Transport for London (TfL) <a href="http:www.tfl.gov.uk/ticketoffices">website</a>. </p>
<p>Oyster cards can be bought and topped-up via:</p>
<ul>
<li>Self-service ticket machines in Underground stations</li>
<li>Around 4,000 Ticket Stops across London</li>
<li>Online at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a></li>
<li>From Travel Information Centres in the Capital</li>
<li>Most National Rail and London Overground stations in the London area</li></ul>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li>There is now much greater provision of self-service ticket machines at stations, and a network of 4,000 Ticket Stops now also exists at shops and retail outlets across the Capital</li>
<li>In addition to LU's ongoing commitment to having staff where passengers need them most, there are also more than 700 police officers serving the network</li>
<li>While one crime is always too many, there are now just 12 crimes per million Tube passenger journeys. LU is also installing more and improved CCTV cameras to add to the 12,000 already on stations and trains</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has announced that on Sunday 6 February new ticket office opening hours will be introduced in most Tube stations, with staff previously behind ticket office windows deployed to areas of stations where passengers most value their";}
        
        


 