


@{ViewBag.Title = "Passengers rate London Overground as more frequent, reliable and welcoming under TfL";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers rate London Overground as more frequent, reliable and welcoming under TfL</h1>
        <div class="content-page-press-release">
        26 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        National Passenger Survey scores rise again following &pound;1.4bn Transport for London (TfL) investment. London Overground scores now above south east average for overall service and majority of indicators.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These scores illustrate that Londoners have seen real improvements to our Overground services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These scores illustrate that Londoners have seen real improvements to our Overground services
                            
                        </p>
                    </div>
                
            
            
            <p>TfL 'now setting standards' for suburban rail travel in London.</p>
<p>Passenger satisfaction with the frequency and reliability of TfL's London Overground network has seen another big increase, according to the latest independent survey by rail watchdog Passenger Focus.&nbsp; </p>
<p>Passengers have also recognised cleaner, safer and more welcoming stations, as well as improved customer information, reflecting TfL's &pound;1.4bn of investment in London Overground since taking over the former Silverlink network in 2007.</p>
<p>The Passenger Focus survey, undertaken in autumn 2010, found that:</p>
<ul>
<li>Eighty-five per cent of passengers are satisfied with London Overground servicees overall, up from 82 per cent the previous year.&nbsp;The average figure for south east rail services in 2010 was 83 per cent </li>
<li>Seventy-four per cent were impressed with the frequency of London Overground trains, up by 14 per cent year on year </li>
<li>Passengers satisfied with train punctuality rose to 76 per cent, up from 68 per cent in 2009 </li>
<li>Eighty-four per cent said they were satisfied with customer information during their journey, up a whopping 24 per cent on 2009 (65 per cent) </li>
<li>London Overground's new trains scored 89 per cent for the proportion of those satisfied with cleanliness, compared with 67 per cent the year before</li></ul>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'These scores illustrate that Londoners have seen real improvements to our Overground services since TfL took responsibility for them. </p>

<p>'The Mayor knows how important they are to Outer London and that is why he has provided a real focus in that area. </p>
<p>'However we know that more needs to be done and that is exactly why the Mayor fought so hard to protect funding for investment in our transport system when the Government carried out its spending review. </p>
<p>'Our constant focus is on driving forward improvements to the transport network and Overground passengers can be assured we will not rest until they are able to enjoy the very best possible services.'</p>

<h2>Delivering high quality </h2>
<p>TfL's Chief Operating Officer for London Rail, Howard Smith said: 'London Overground has always been about putting passengers first, and this independent survey shows that TfL is now setting the standard for suburban rail travel in London.&nbsp; </p>
<p>'We know there is always room for improvement, but it's clear that passengers recognise the improvements to frequency, reliability, station environment and customer information that our &pound;1.4bn investment is delivering.</p>
<p>'Passengers recognise huge improvements to all aspects of London Overground from that which we inherited from Silverlink in 2007.&nbsp; </p>

<p>'I'm particularly pleased passengers recognise the performance of our new air-conditioned trains, with their specially designed carriages.&nbsp; </p>

<p>'Also, the efforts of London Overground staff to deliver high quality customer information to people who matter - the passengers.'</p>
<p>TfL took over the Silverlink franchise in November 2007.&nbsp; </p>

<p>'The first Passenger Focus survey of the new London Overground was undertaken in Spring 2008.&nbsp; </p>
<p><strong>Comparisons between Silverlink and London Overground performance:</strong></p>
<p>When the network was operated as Silverlink, the average proportion of passengers satisfied with station upkeep between 2005 and 2007 was just 46 per cent.&nbsp; </p>

<p>Under London Overground, the average from Spring 2008 (the first Passenger Focus survey of the network under TfL control) to Autumn 2010 it now stands at 61 per cent - an increase of 15 per cent.</p>
<p>Over the same periods, average customer satisfaction with station cleanliness has risen by 13 per cent, from 53 per cent to 66 per cent.&nbsp; </p>

<p>Average passenger satisfaction with the overall environment on the network has also increased by 13 per cent, from 44 per cent to 58 per cent.</p>
<p>
<hr>

<p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The latest <a href="http://www.passengerfocus.org.uk/">National Passenger Survey </a>found the average rail passenger satisfaction level for the South East was 83 per cent</li>
<li>Some other results from the autumn 2010 National Passenger Survey for London Overground are:</li>
<ul>
<li>On stations: 77 per cent said the facilities were clean, compared with 65 per cent in 2009 - up 12 per cent</li>
<li>Satisfied with space in carriages: 68 per cent in 2010, compared with 56 per cent in 2009 - up 12 per cent</li>
<li>Satisfied with how request to station staff was handled: 78 per cent in 2010; 71 per cent in 2009</li></ul>
<li>Since TfL created London Overground in 2007, the east London route connecting Dalston Junction in the north with New Cross, Crystal Palace and West Croydon in the south, has been built. This included building four new stations in Hackney. In the next two months Dalston Junction will be further linked to Highbury and Islington</li>
<li>A new fleet of 57 air-conditioned, high-capacity trains has also been introduced across the network</li>
<li>An improvement programme for all London Overground stations will be completed in spring. This includes deep cleaning and painting, refurbishment of passenger information systems, CCTV upgrades, installation of help points and platform improvements</li>
<li>All London Overground stations are staffed while the trains are running</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL 'now setting standards' for suburban rail travel in London.Passenger satisfaction with the frequency and reliability of TfL's London Overground network has seen another big increase, according to the latest independent survey by rail watchdog";}
        
        


 