


@{ViewBag.Title = "Poems on the Underground celebrates 25th anniversary with a new set of poems";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Poems on the Underground celebrates 25th anniversary with a new set of poems</h1>
        <div class="content-page-press-release">
        07 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Poems on the Underground have been delighting customers on the Tube for a quarter of a century.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            After 25 years it's amazing to think that such a simple concept is still going strong
                            
                        </p>
                    </div>
                
            
            
            <p>Judith Chernaik, the brainchild behind the idea of displaying poems in Tube carriages, continues to choose the verses with her colleagues that travellers see today. </p>
<p>To mark this special birthday a new set of poems, which includes a verse inspired by Mozart, will appear on the network in January. </p>
<p>The latest collection of poems is about the value of the written word, from the earliest times to the present. </p>
<h2>Veteran poets</h2>
<p>Two poets who featured in the very first selection to arrive on London's Underground system in January 1986 form part of this latest series. </p>
<p>The new poems by these 'veterans' of the programme are Colmcille the Scribe by Seamus Heaney and For the Life of This Planet by Grace Nichols. </p>
<p>A Riddle by Gerard Benson, poet-laureate for Bradford and one of the founder-editors of Poems on the Underground, asks readers to guess what the poet is referring to.</p>
<p>Lines from Endymion (A thing of Beauty is a joy for ever) by John Keats (1795-1821) are words that have inspired the Poems on the Underground team since the start. </p>
<p>The young poet is expressing his deepest thoughts about art and the human imagination. </p>
<h2>Mozart</h2>
<p>Lines to a Movement in Mozart's E-flat Symphony by Thomas Hardy was inspired by the musical rhythm of Mozart's: Minuet, Symphony No. 39. </p>
<p>The poem coincides with 'The genius of Mozart' season on BBC Radio 3. </p>
<p>Loving the Rituals by Palladas (4th century AD) translated by Tony Harrison is a voice from the distant past that could be seen to be speaking to the Facebook generation and their need to keep in touch. </p>
<p>Boris Johnson, the Mayor of London, said: 'Poems on the Underground is a stroke of pure genius and that's why it's stood the test of time. </p>
<p>'Mozart used to see colours when he composed and we hope this new set of poems will make Londoners journeys more colourful and interesting.' </p>
<h2>Choosing poems</h2>
<p>Judith Chernaik, the founder of Poems on the Underground, said: 'After 25 years it's amazing to think that such a simple concept is still going strong. </p>
<p>'When we thought of the idea all those years ago we never imagined it would be copied around the world. </p>
<p>'We always think of all the different people that use the Tube when we are choosing the poems. </p>
<p>'We try to pick works that will appeal to passengers of all ages and backgrounds.'</p>
<p>Seamus Heaney, poet, writer and Nobel Laureate, said: 'In his poem 'Orpheus' W.H. Auden asked whether poetry is meant to make us 'bewildered and happy' or to add to our knowledge of life. </p>
<p>'For 25 years Poems on the Underground have been doing both things for millions of readers. If the scheme were not provided it would have to be invented.'</p>
<p>Leaflets of the new poems as well as a few other poems from the early years will be available at central London stations later this month.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<br></strong></p>
<ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai and Warsaw </li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground published by Phoenix paperback 2010 is available from all bookshops and directly from <a href="http://www.orionbooks.co.uk">Orion Books</a> </li>
<li>London Underground&nbsp;is undertaking a major programme of renewal as part of <a href="http://www.tfl.gov.uk ">Transport for London's </a>(TfL's)&nbsp;multi-billion Tube upgrade. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary</li>
<li>Images available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Judith Chernaik, the brainchild behind the idea of displaying poems in Tube carriages, continues to choose the verses with her colleagues that travellers see today. To mark this special birthday a new set of poems, which includes a verse inspired by";}
        
        


 