


@{ViewBag.Title = "Proposal for new trams to help boost Croydon's economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Proposal for new trams to help boost Croydon's economy</h1>
        <div class="content-page-press-release">
        31 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is planning to run more tram services by leasing up to ten new trams for the London Tramlink network that covers Croydon and Wimbledon.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to make it even easier for passengers to get on board by boosting the frequency of services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to make it even easier for passengers to get on board by boosting the frequency of services
                            
                        </p>
                    </div>
                
            
            
            <p>Companies have been invited to submit proposals to supply the new trams which, subject to funding being confirmed, would increase the frequency of services on the busiest route which runs between central Croydon and Elmers End.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'Our tram network offers a vital service to south Londoners and we want to make it even easier for passengers to get on board by boosting the frequency of services. </p>
<p>'Ever increasing numbers are using the trams and this will help improve their access to jobs, education and leisure facilities in the south of the Capital.'</p>
<p>Chief Operating Officer for TfL London Rail, Howard Smith said: 'We are pleased to be working with the London Borough of Croydon to try and boost capacity on the London Tramlink network. </p>
<p>'Since we took over the network in 2008, we have been improving the service and looking at ways to make it even better. </p>
<p>'With the number of journeys increasing by 45 per cent since it opened in 2000 we want to respond to the demand and ensure that London Tramlink continues to provide people in south London with a comfortable and efficient means of getting around.'</p>
<p>The London Borough of Croydon is intending to be able to contribute to the cost of the trams.</p>
<p>Croydon Council Leader Mike Fisher said:&nbsp; 'This is looking like a great deal for Croydon and shows the benefits of an ambitious local authority and committed Mayor working together, pooling resources and expertise. </p>
<p>'Although we are still to take a final Cabinet decision on our contribution, we believe that there will be real support to get additional trams for Croydon to keep pace with growing demand for Tramlink services and also to secure major improvements for pedestrians and transport users around and between East and West Croydon stations.</p>
<p>'Mayor Johnson recognises that extra trams will provide an early answer to capacity issues.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The invitation to bid has been issued in the Official Journal of the European Union as required by EU regulations. Bids will close on 21 February at 12:00. Following this, pre-qualified bidders will be announced, the Invitation to Tender will then be issued, a supplier will be appointed and a contract let. It is hoped the trams will be able to be delivered by the end of summer 2011
<li>Tramlink is looking at either new-build or second-hand vehicles that can be modified at reasonable cost to run on the London Tramlink infrastructure</li>
<li>Tramlink services have remained relatively static (between 2.4 and 2.7 million km per year) since 2000. However passenger journeys per year have increased by 45 per cent&nbsp;in 10 years. It is predicted the 18.6 million journeys made in 2001/02 will increase to 27.8 million by the end of the 2010/11 period</li>
<li>The London Borough of Croydon's funding commitment towards the scheme is scheduled to be confirmed as part of its future Capital programme being considered at its cabinet meeting on 21 February</li>
<li>TfL purchased Tramtrack Croydon Ltd in June 2008 when it became London Tramlink. Since then TfL has spent &pound;2m on deep cleaning and refurbishing the tram fleet and tramstops, it has also delivered more than &pound;5m in track upgrades since 2008 to improve reliability</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Companies have been invited to submit proposals to supply the new trams which, subject to funding being confirmed, would increase the frequency of services on the busiest route which runs between central Croydon and Elmers End.Kulveer Ranger, the Mayor of";}
        
        


 