


@{ViewBag.Title = "Safer Travel at Night - Christmas crackdown on illegal cab drivers sees 177 arrests";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safer Travel at Night - Christmas crackdown on illegal cab drivers sees 177 arrests</h1>
        <div class="content-page-press-release">
        20 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Safer Transport Command officers stepped up enforcement action against illegal cab drivers over the festive period.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The dangers of taking unlicensed minicabs should never be underestimated."</div>
        <div class="quote-footer">
            <div class="quotee-name">Safer Transport Command</div>
            <div class="quotee-job-title">Chief Superintendent Joe Royle</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The dangers of taking unlicensed minicabs should never be underestimated.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>177 drivers arrested for touting and 27 arrested for other cab-related offences </li>
<li>New windscreen stickers used to warn drivers against illegal touting </li>
<li>Officers warn 50,000 Londoners of the dangers in taking unbooked minicabs</li></ul>
<p>The Metropolitan Police Service (MPS) Cab Enforcement Unit, part of the Transport for London (TfL) funded Safer Transport Command (STC), has arrested over 150 drivers for taxi touting over the festive period. </p>
<p>Any 'minicab' that isn't booked through a licensed minicab operator is illegal, uninsured for carrying passengers and potentially dangerous.</p>
<p>The operation was an integral part of the Safer Travel at Night (STaN) initiative, which is a partnership between the Mayor, TfL, MPS and the City of London Police (CoLP), who are working together to make travelling in London safer at night.</p>
<p>The police were supported by officers from TfL's Taxi and Private Hire Compliance and Enforcement Teams. </p>
<p>It involved over 300 enforcement activities at targeted locations across London with officers from the STC Cab Enforcement Unit, Safer Transport Teams, CoLP and TfL using various tactics to deter, disrupt and detect illegal cab drivers and get people home safely.</p>
<p>Along with high-visibility patrols, stop/checks on vehicles, intelligence-led operations and engaging with the public, officers used a new series of material aimed at raising awareness of touting and the enforcement action being taken against this illegal and dangerous activity.</p><strong>
<h2>Warning stickers get the message across</h2>
<p></strong>Operations over the festive period saw the introduction of large windscreen stickers that are place on cars of people arrested on suspicion of illegally touting.<p>
<p>The new stickers, which state 'Driver arrested on suspicion of touting', are a warning to other drivers that touting will not be tolerated and that police and enforcement officers are taking action.</p>
<p>In addition to the vehicle stickers, officers were also carrying out roadside checks of vehicles and drivers and distributing leaflets to drivers and passengers reminding drivers of the law and the consequences of acting illegally.</p>
<p>Over 2,000 minicabs were stopped during the operation.</p>
<p>Posters have also been produced for all licensed private hire offices warning licensed drivers that if they tout for business they will lose their TfL licence.</p>
<p>Operation STaN covered every borough in the Capital, where officers from the Cab Enforcement Unit, Safer Transport Team, CoLP and TfL engaged with thousands of Londoners.</p>
<p>The officers provided safer travel at night&nbsp; information informing the public that only black cabs can be stopped and picked up off the street without being booked and that minicabs, even those licensed by TfL, must always be booked through a licensed minicab operator.</p>
<p>Over 50,000 STaN leaflets were handed out to members of the public.</p><strong>
<h2>The safe way to take minicabs</h2>
<p></strong>Kulveer Ranger, the Mayor's Transport Adviser, said: 'It is good to see that thousands of Londoners have heeded the important advice and avoided the potential dangers of illegal minicabs this winter.</p>
<p>'However tempting illegal minicabs may seem, we need to use common sense and ensure we travel around the city as safely as possible by using black taxis and booking licensed minicabs. I want to thank all the hard working police officers who have made this operation such a great success.'</p>
<p>Chief Superintendent Joe Royle, Safer Transport Command, said: 'The Cab Enforcement Unit is dedicated to tackling taxi touts and this was an excellent result.</p>
<p>'The dangers of taking unlicensed minicabs should never be underestimated. Illegal cabs and touting undermine the legitimate cab trade. Our Cab Enforcement Unit has dedicated anti-tout initiatives to tackle touts and improve the safety of passengers who use taxis and private hire vehicles.<br>&nbsp;<br>'Working with our partner agencies there are now many alternatives to ensure that by planning a journey home in advance, an evening out ends safely.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said:&nbsp;'The arrests over the festive period highlight the work that TfL and its policing partners are doing in order to stop illegal cab drivers operating in London. We are committed to tackling illegal touting and ensuring a safe travelling environment for the public.</p>
<p>'However as part of our efforts to crackdown on illegal cab activity we also need Londoners to stop taking unbooked minicabs. Only black cabs can be hailed in the street or picked up at a rank without booking.'</p>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally </li>
<li>Always book so there is a record of your journey </li>
<li>Only black cabs can pick passengers up on the street </li>
<li>When travelling by minicab always book it, when it is arrives check it's for you and sit in the back </li>
<li>To get three local cab numbers text 'CAB' to 60835** </li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>** Users of 3 and overseas networks must enter different information. See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for details and charges.</p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The Christmas push of the Safer Travel at Night campaign began on 22 November with posters and cinema adverts introduced to highlights the dangers of unbooked minicabs </li>
<li>In total, there were 177 arrests by officers from the Cab Enforcement Unit and Safer Transport Teams </li>
<li>Since 2003 the Cab Enforcement Unit has made more than 6,000 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all minicabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/3.&nbsp; The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded by TfL </li>
<li>The Mayor has taken a tough line on touting and&nbsp; illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at tfl.gov.uk/contactcabs, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from The Havens.&nbsp; Details can be found at <a href="http://www.thehavens.co.uk">thehavens.co.uk</a> </li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a> </li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp; Call 0843 222 1234<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "177 drivers arrested for touting and 27 arrested for other cab-related offences New windscreen stickers used to warn drivers against illegal touting Officers warn 50,000 Londoners of the dangers in taking unbooked minicabsThe Metropolitan Police Service";}
        
        


 