


@{ViewBag.Title = "TfL begins work on Tottenham Hale improvement scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL begins work on Tottenham Hale improvement scheme</h1>
        <div class="content-page-press-release">
        17 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advance works begin along A10 High Road, Haringey. Work will deliver upgraded footways, clearer areas and new larger trees. Works to remove gyratory to start in autumn 2012.
        
    </div>



 <div class="on-this-page">
<p>The first steps have been taken towards the transformation of a congested, cluttered and tired thoroughfare in north London into a safer and greener route for drivers and pedestrians, as work begins on another flagship public realm improvement scheme through the Mayor of London's Great Outdoors Programme.</p>
<p>Transport for London (TfL) has begun advance works to upgrade footpaths and lighting along the A10 High Road, in preparation for the removal of the Tottenham Hale Gyratory in autumn 2012.</p>
<p>Footways around the gyratory will be upgraded and cleared of unnecessary street clutter, providing greater freedom and improved safety for pedestrians and cyclists. </p>
<p>The improvements are part of the Mayor of London Boris Johnson's Great Outdoors Programme, which aims to revitalise London's network of streets, paths, passages, broadways, squares and other public spaces to help breathe new life into the Capital's urban environment and encourage people to walk and cycle.</p>
<p>During the advanced works, access to the majority of homes and businesses will be unaffected, although there may be occasional disruption in the form of lane restrictions throughout the area. </p>
<p>Pedestrian access will be maintained at all times while the works are being carried out. </p>
<p>The advance works are scheduled to be completed by summer 2011.</p>
<h2>Simplify access</h2>
<p>From autumn 2012, TfL will work to remove the one-way system in Tottenham Hale. </p>
<p>This work will restore two-way traffic in the area, simplify access for local residents and businesses and improve the interchange between public transport modes. </p>
<p>Better facilities for pedestrians and cyclists will also be installed, and a larger bus station and new public square created at Tottenham Hale station to further open the local area up to residents and local businesses. </p>
<p>The full scheme will be delivered by 2015. </p>
<p>Funding for the &pound;35m improvement scheme will be provided by TfL, the London Borough of Haringey and the Homes and Communities Agency, along with local developer contributions.</p>
<p>Daniel Moylan, Deputy Chairman of TfL said: 'It is fantastic to see that after several years of planning, work is now beginning on this important scheme.</p>
<p>'The removal of the Tottenham Hale Gyratory will address the current imbalance by giving pedestrians and cyclists greater priority whilst still enabling traffic to flow.&nbsp; </p>
<p>'This is a key principle of the Mayor's Great Outdoors Programme, as is the development of new public spaces.</p>
<p>'I am therefore delighted to see the inclusion of a new public square and a new, larger bus station at Tottenham Hale Station, turning a currently fragmented and traffic-dominated part of London into a place that local people can be truly proud of.'</p>
<h2>Regeneration</h2>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'These advance works to the Tottenham Hale scheme will bring a range of improvements to pedestrians and cyclists throughout the area. </p>
<p>'Following the London Olympics in 2012, we will work to convert the Tottenham Hale Gyratory to two-way traffic, helping to reduce the impact of traffic through the area, as well as allow for further improvements to the public realm to be delivered.'</p>
<p>Councillor Toni Mallett, Cabinet Member for Planning and Regeneration at Haringey Council said: 'For a long time local residents have been campaigning to remove the one-way system at Tottenham Hale that cuts residents off from their neighbours and makes access very difficult for pedestrians and cyclists, as well as contributing to traffic congestion and air pollution in the area.</p>
<p>'I am very glad to see that work has started to prepare to return the gyratory to two-way traffic, which I believe will make a major contribution to regenerating the area and making Tottenham a better place both to live and to do business.'</p>
<p>More information about the <a href="http://www.tfl.gov.uk/tottenhamhalescheme">improvement scheme</a>.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL manages red routes&nbsp;- a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic</li>
<li>The Mayor's London's Great Outdoors has seen &pound;40m invested in more than 50 public realm improvement projects, funding for which has come from TfL, The London Development Agency and London's boroughs as well as other sources</li>
<li>Although some trees will need to be removed as part of the advance works, new large-species trees will be planted along the A10 High Road and Monument Way as works in the area are completed</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first steps have been taken towards the transformation of a congested, cluttered and tired thoroughfare in north London into a safer and greener route for drivers and pedestrians, as work begins on another flagship public realm improvement scheme";}
        
        


 