


@{ViewBag.Title = "Traffic restrictions to allow urgent utility works at A40 Gypsy Corner ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic restrictions to allow urgent utility works at A40 Gypsy Corner </h1>
        <div class="content-page-press-release">
        20 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works to be carried out 24-hours-a-day, where feasible, from Sunday 23 January. Lane restrictions and speed restrictions to allow work to take place. National Grid to carry out vital repairs to gas main.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Through collaborative working, TfL has also managed to coordinate other works to take place at the same time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">TfL's Traffic Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Through collaborative working, TfL has also managed to coordinate other works to take place at the same time
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) to carry out works at same time to reduce further disruption.</p>
<p>TfL has given National Grid permission to&nbsp;carry out urgent repair works to a gas main between Park View and Wales Farm Road on the A40 Western Avenue. </p>
<p>The works are scheduled to begin at 22:00 on Sunday 23 January, and are expected to be completed by Friday 28 January. </p>
<p>To reduce disruption, TfL has insisted that, where feasible, National Grid work 24-hours-a-day to complete repairs as quickly as possible. </p>
<p>These works have been scheduled to be carried out at the least disruptive time, with traffic flows along the A40 Gypsy Corner being lower during the last weeks of January than later in the year. </p>
<p>In order to help minimise future disruption, TfL will also be carrying out essential highway maintenance during these restrictions. </p>
<p>Due to the works, a number of lane restrictions will be put in place along the A40 between Victoria Road and Wales Farm Road. </p>
<h2>Coordinating works</h2>
<p>However, two lanes of traffic will be maintained in both directions. </p>
<p>No right turns will be allowed out of Wales Farm Road and Horn Lane, and the speed limit throughout the work area will also be reduced from 40mph to 20mph to allow the works to be carried out safely. </p>
<p>Throughout the works, TfL will monitor traffic flows along the A40 and the surrounding road network to ensure that any disruption is kept to a minimum. </p>
<p>Variable messaging signs will be placed along the road and traffic signal timings will be altered during the works to smooth traffic flow through the area.</p>
<p>Alan Bristow, TfL's Traffic Director, said: 'TfL has liaised with National Grid to coordinate these urgent repair works to ensure that they are carried out with minimum disruption to drivers on the A40. </p>
<p>'Through collaborative working, TfL has also managed to coordinate other works to take place at the same time, reducing the need for further closures in this area in the future.</p>
<p>'National Grid have agreed to work 24-hours-a-day, where feasible, to complete these essential repairs as quickly as possible and we ask motorists to bear with us while these repair works are carried out.'</p>
<p>National Grid Network Engineer Tony Smith said: 'By coordinating our work with TfL, we can ensure that any disruption caused by the work is got out of the way in one fell swoop.</p>
<p>'We apologise for any inconvenience people do experience as a result of our work. </p>
<p>'The repairs will help ensure people continue to enjoy safe, secure and reliable gas supplies.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic</li>
<li>TfL and 18 London boroughs now operate the London Permit Scheme on their roads. Permitting enables TfL and the London boroughs to proactively plan and coordinate the timing of works, providing greater opportunities for utility companies to carry out works at the same time, helping to reduce disruption to road users</li>
<li>Since the introduction of its Permit Scheme on 11 January 2010, TfL has granted around 44,600 permits, refused around 7,200 for varying reasons and prevented more than 500 days of disruption by working with the utilities to better coordinate their works on TfL's roads. These measures alone have helped reduce disruption from poorly planned and coordinated works</li>
<li>The Mayor and TfL continue to work with the Department for Transport on introducing a lane rental scheme. This would allow TfL to charge utility companies and highway authorities for digging up key arterial&nbsp;red routes<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) to carry out works at same time to reduce further disruption.TfL has given National Grid permission to&nbsp;carry out urgent repair works to a gas main between Park View and Wales Farm Road on the A40 Western Avenue. The works";}
        
        


 