


@{ViewBag.Title = "Victoria Tube station's 42-year-old escalators to be refurbished";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station's 42-year-old escalators to be refurbished</h1>
        <div class="content-page-press-release">
        18 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work essential to meet growing demand at one of London's busiest stations. Work to be completed ahead of the 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is crucial we do this escalator work as part of modernising and enlarging the station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is crucial we do this escalator work as part of modernising and enlarging the station
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) will aim to keep disruption to a minimum but passengers advised to use alternative stations where possible and buy tickets or Oyster pay as you go before coming to the station. </p>
<p>London Underground (LU) will start refurbishing the 42-year-old escalators in the main ticket hall at Victoria Tube station from Monday 31 January. </p>
<p>The station is undergoing a &pound;700m investment to redevelop it to cope with an increasing number of passengers.</p>
<p>The works are essential as passenger numbers at the station - one of London's busiest - are expected to rise from the current 80 million a year to nearly 100 million a year by 2016. </p>
<p>The refurbishment is timed to be complete before the 2012 Olympic and Paralympics Games, which will also increase demand.&nbsp; </p>
<p>While the works are currently scheduled until early 2012, LU is actively working to reduce the time required for the works to minimise the disruption. </p>
<h2>Plan your journey</h2>
<p>All measures will be taken to limit disruption to passengers using the station while this essential work takes place but passengers are being asked to plan their journeys and take alternative routes where possible; especially those entering the station during the evening rush hour.</p>
<p>The three escalators which run down from the main ticket hall to the Victoria line platforms will be out of service one at a time while they are being worked on.</p>
<p>More passengers leave the station in the evening rush hour so the two working escalators will have to be in the 'up' position in the evening peaks in order to clear the platforms as quickly and safely as possible. </p>
<p>Therefore TfL is asking customers not to enter the station at this time if at all possible. </p>
<p>Customers already in London are advised to:&nbsp;</p>
<ul>
<li>Walk or take a bus to nearby Pimlico or Green Park. Customers travelling to Brixton can use National Rail services from Victoria</li>
<li>District and Circle line customers can use St James's Park, Westminster or Sloane Square stations</li></ul>
<p>Customers travelling to London are advised to: </p>
<ul>
<li>Use an alternative London interchange with National Rail such as London Bridge, Elephant &amp; Castle, Cannon Street, Canada Water, Whitechapel or Vauxhall. Thameslink services across London provide additional central London connections at Farringdon and St. Pancras</li></ul>
<p>It will be easier and quicker for passengers to use a nearby station rather than enter Victoria Tube station in the evening between 16:00 and 20:00 because it may take up to 15 minutes to reach the platforms and passengers may also have to wait outside the station to prevent overcrowding.</p>
<h2>Essential works</h2>
<p>Howard Collins, LU's Chief Operating Officer said: 'Victoria Tube station is one of the busiest stations on London Underground, with 80 million passengers a year, expected to reach nearly 100 million a year by 2016. </p>
<p>'It is crucial we do this escalator work as part of modernising and enlarging the station.</p>
<p>'To make their journeys quicker and easier customers should use another route and avoid entering Victoria Tube station in the evening peak times. </p>
<p>'If passengers do use this station they should top up their Oyster cards or buy their tickets beforehand. </p>
<p>'We need to close the ticket office windows and the machines during the evening peak so that we can operate a safe one-way system and keep the station open. </p>
<p>'We apologise for the disruption to journeys this will cause, but this is the only way we can do this work without completely shutting down the station or non-stopping trains, which would be much more inconvenient for commuters and visitors to the Capital.'</p>
<p>Passengers will be able to buy tickets at the TfL Travel Information Centre located in the main street level archway entrance to Victoria National Rail station. </p>
<p>TfL tickets can be purchased from the National Rail ticket office and Travelcards are available from the National Rail ticket machines on their concourse. </p>
<p>Passengers arriving at Victoria Coach Station can purchase Visitor Oyster cards from National Express or LU-valid tickets at the Ticket Stop in Victoria Coach Station.&nbsp; </p>
<p>Alternatively customers can buy or top an <a href="http://www.tfl.gov.uk/oyster ">Oyster card</a>.</p>
<p>Before starting their journeys to London, National Rail passengers are advised to buy tickets that will also be valid on the Underground.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is undertaking a major programme of renewal which will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to check before&nbsp;they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li></ul>
<p><strong>Travel advice for ther evening peak </strong></p>
<p><strong>Commuters already in London: </strong></p>
<ul>
<li>Victoria line passengers, who usually enter Victoria from street level to use the Victoria line, should start their journeys at Pimlico or Green Park. Local bus 24 directly serves both stations and routes 2, 36, 185 and 436 run from Victoria, stopping close to Pimlico station on Vauxhall Bridge Road.&nbsp;Buses 38 and C2 run between Victoria and Green Park. Passengers who usually travel to Brixton can also use the frequent National Rail services from Victoria mainline station</li>
<li>District and Circle line passengers who usually enter Victoria from street level should start their journeys at St. James's Park. Buses 11, 24, 148 and 211 serve Victoria and stop near St. James's Park on Victoria Street. There is an entrance on Palmer Street and the main entrance is on Broadway</li>
<li>Passengers travelling on National Rail from Brighton, East Croydon or Gatwick who wish to connect with the Underground can avoid Victoria by using First Capital Connect services via London Bridge, Farringdon and St. Pancras and changing to LU services there</li></ul>
<p><strong>National Rail passengers arriving in London can use these alternative London termini/interchanges:</strong></p>
<ul>
<li>West London line services to West Brompton and Shepherds Bush for connections to Oxford Street, Earl's Court, Kensington, Paddington and Ealing</li>
<li>Elephant &amp; Castle for Oxford Circus, Baker Street and Paddington</li>
<li>Canada Water for Green Park and Bond Street</li>
<li>Cannon Street for connections to Westminster</li>
<li>Whitechapel for connections to Westminster, Kings Cross St. Pancras, Euston</li>
<li>London Bridge for Kings Cross St. Pancras, Euston, Westminster, Green Park and Bond Street: Charing Cross for Euston, Oxford Circus, Baker Street, Paddington</li>
<li>St. Pancras International for Oxford Circus, Euston, Paddington and Green Park</li></ul>
<p><strong>National Rail customers starting journeys south of London can use these routes:</strong></p>
<ul>
<li>Lewisham - Bexleyheath - Dartford. Passengers should use London Bridge, Waterloo East, and Cannon Street</li>
<li>East Kent and Medway trains via St. Pancras International</li>
<li>Sussex coast - travel via London Bridge or St. Pancras International (or the peak hour trains that now stop at Elephant &amp; Castle)</li>
<li>Sutton - Mitcham Junction. Travel via Elephant&nbsp;&amp; Castle</li>
<li>Croydon - Clapham Junction. Travel via West Brompton and Shepherds Bush, or London Bridge or Balham or Vauxhall</li></ul>
<p><strong>London Overground:</strong></p>
<ul>
<li>The London Overground service between West Croydon and Dalston Junction provides other useful LU connections at Canada Water and Whitechapel. When the link to Highbury &amp; Islington opens this spring, this becomes even more useful as passengers will be able to change there for the Victoria line. Passengers travelling between south London and King's Cross/Euston will find this orbital route more convenient than travelling via central London and Victoria</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will aim to keep disruption to a minimum but passengers advised to use alternative stations where possible and buy tickets or Oyster pay as you go before coming to the station. London Underground (LU) will start refurbishing the";}
        
        


 