


@{ViewBag.Title = "Work on Henlys Corner junction improvement scheme to begin in February 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work on Henlys Corner junction improvement scheme to begin in February 2011</h1>
        <div class="content-page-press-release">
        28 January 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advance work to upgrade junction to begin 7 February, with main works beginning in April. Work will see the junction improved and new pedestrian crossings installed. Project funding secured following Government Comprehensive Spending Review.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme has been prioritised because of the broad range of benefits"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme has been prioritised because of the broad range of benefits
                            
                        </p>
                    </div>
                
            
            
            <p>A major scheme to dramatically improve traffic flow at Henlys Corner junction will begin early next month Transport for London (TfL) announced today.</p>
<p>The work on the A406 North Circular Road, beginning in early February, will provide much-needed and long-anticipated improvement to the busy junction.&nbsp; </p>
<p>Right turns, which currently cause significant queues on the local roads, will also be upgraded, allowing cars to move forward and queue in a central area of the junction. </p>
<p>This will increase the number of vehicles that can pass through the junction, helping to smooth traffic flow through the area.</p>
<p>New signal-controlled crossings will also be installed, making crossing the road easier for pedestrians and cyclists. </p>
<p>The crossings will be automated during the Jewish Sabbath due to the proximity of Finchley Synagogue. </p>
<p>Preparatory works on the footways and grassed areas around the junction are set to begin on 7 February, with the main carriageway works starting on site in April. </p>
<p>Work on the &pound;8m scheme is expected to be completed by the end of the year.</p>
<h2>Find out more</h2>
<p>TfL is currently working with Barnet Council to minimise as much as possible any disruption during these works.&nbsp; </p>
<p>Letters will be sent to local residents and businesses during March, explaining more detail about the work phasing and the measures TfL will be putting in place to reduce disruption while these improvements are taking place. </p>
<p>A public exhibition about the scheme will also be held, allowing local residents to find out more about the works from TfL officials.</p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'The Mayor showed his determination to protect these vital local transport improvements by securing crucial funding from the Government during the Comprehensive Spending Review. </p>
<p>'This scheme has been prioritised because of the broad range of benefits for pedestrians, cyclists, traffic flow and improving the public realm.&nbsp; </p>
<p>'The people of Barnet can now look forward to this busy junction being greatly improved.'</p>
<h2>Safer crossings</h2>
<p>David Brown, Managing Director for Surface Transport at TfL, said: 'The important works at Henlys Corner will bring huge benefits to all road users along the A406 North Circular Road, and deliver smoother traffic flow along this key arterial route. </p>
<p>'Working with our contractor and Barnet Council, we will as far as possible make sure that any disruption caused by these works is minimised.'</p>
<p>Leader of Barnet Council, Councillor Lynne Hillan, said: 'I am delighted that Transport for London, working alongside the council, has given the Henlys Corner scheme a high priority despite the current pressure on resources.&nbsp; </p>
<p>'The council has been lobbying for this scheme for some time.</p>
<p>'The benefits of improving this junction - which currently sees 94,000 vehicles pass through it daily - are many, from providing a better traffic flow, improving the quality of our signals and roads, to providing safer crossing conditions for pedestrians and cyclists. </p>
<p>'We look forward to working closely with Transport for London in the future as work progresses on this major improvement project.'</p>
<p><a href="http://www.tfl.gov.uk/henlyscorner">Find out more</a> about the scheme.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A map of what the new road layout will look like is available from the TfL Press Office</li>
<li>TfL has awarded the contract for the Henlys Corner junction improvement works to Tarmac Ltd</li>
<li>TfL will coordinate any lane restrictions or diversions required as part of Henlys Corner improvement works with those required as part of the A406 Bounds Green Improvement Scheme works, to help ensure that traffic is not adversely affected which these two schemes are being carried out</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A major scheme to dramatically improve traffic flow at Henlys Corner junction will begin early next month Transport for London (TfL) announced today.The work on the A406 North Circular Road, beginning in early February, will provide much-needed and";}
        
        


 