
    
  



@{ViewBag.Title = "Glossary";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-with-webcat/glossary";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></li>
                
            
            
                <li><span class="last-breadcrumb">Glossary</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Glossary</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These terms are used in WebCAT.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p><strong>Access Index (AI):</strong> This index is one of the stages in calculating PTAL values. An Access Index value is calculated for each transport service that the PTAL value is composed of (combining walk time and service wait time). The total Access Index for all services is used to derive the PTAL.</p>
<p>The full calculation method is described in our <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat#connectivity">connectivity assessment guide</a>.</p>
<p><strong>Accessibility:</strong> This term has been used in the past in two distinct ways - its definition often depends on the accompanying text or context. 'Accessibility' of the transport system often refers to the extent to which the transport system is suitable for people with a range of needs (for example, people with prams and wheelchair users). It may also be used to describe more generally how good the level of transport provision is in different areas.</p>
<p>This has led to some confusion over the use of the term and that is why WebCAT refers to 'connectivity' to differentiate itself from issues related to physical accessibility.</p>
<p><strong>AM Peak:</strong> Three-hour morning peak time period from 07:00 to 10:00</p>
<p><strong>Areas for Intensification:</strong> Areas designated in the London Plan as having significant potential for increased residential, employment and other use development</p>
<p><strong>Base year:</strong> The base year refers to the public transport network closest to the current state. It is used as a consistent benchmark to compare the current situation with the future network. In WebCAT the PTAL base year is 2015, TIM public transport base year is 2011 and the Cycling base tear is 2014.</p>
<p><strong>Between Peak Times:</strong> Six-hour time period between the peak periods from 10:00 to 16:00. This time period is also known as the Inter-Peak.</p>
<p><strong>Catchment:</strong> In WebCAT, a catchment area contains all the places that can be reached within a specified travel time from a specified place. WebCAT allows the calculation of the population, number of workplaces or various services within catchment areas associated with the scenario chosen.</p>
<p><strong>Census Output Areas (COAs):</strong> Created for the output of census estimates. A COA is the lowest geographical level at which census estimates are provided and align to the census zoning hierarchy. Greater London is split into 25,053 zones.</p>
<p><strong>Connectivity:</strong> In WebCAT the term 'connectivity' is used instead of the more widely used term of 'accessibility' because that usually refers to the physical access to the network. Connectivity describes the ease with which travel is possible from one area to another using measures such as the travel time. WebCAT provides multiple measures of connectivity.</p>
<p><strong>Direction:</strong> WebCAT allows you to select the direction of travel. This can be TO the point-of-interest or FROM the point-of-interest. The default value used in WebCAT is an AVERAGE of the two.</p>
<p><strong>District centres:</strong> One of the London town centre categories defined in the London Plan. District centres provide goods and services for local communities. They are accessible by public transport, walking and cycling, and typically contain 10,000-50,000m&sup2; of retail floorspace.</p>
<p><strong>Economically Active Population:</strong> The number of people that are employed or are actively looking for work. This is derived from the GLA's 2013 round of population forecasts which have been split between TfL's transport model zoning system. WebCAT includes data for the years 2011, 2021 and 2031.</p>
<p><strong>Employment data:</strong> Employment data sets are based on the GLA's 2013 round of employment forecasts which have been split between TfL's transport model zoning system.</p>
<p>The 2013 round of employment forecasts cover a series of five year periods from 2011 to 2041. WebCAT includes data for the years 2011, 2021 and 2031. No breakdown by employment sector is provided in WebCAT.</p>
<p><strong>Equivalent doorstep frequency (EDF):</strong> PTAL calculation term - the EDF is derived from the Total Access Time and converts the time to a frequency value.</p>
<p>The full calculation method is described in our <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat#connectivity">connectivity assessment guide</a>.</p>
<p><strong>Forecast years:</strong> Forecast years refer to transport networks and other data sets that have been estimated for the future. Within WebCAT we have forecast outputs for 2021 and 2031. Forecasts are just that - an estimate of what will occur in the future. In WebCAT the forecast public transport networks we use only include funded and committed transport schemes.</p>
<p><strong>Frequency:</strong> The number of public transport services per hour on a specific route. Frequency is used in the PTAL to calculate the service wait time.</p>
<p><strong>Further Education:</strong> An educational institution, eligible to receive public funding through the Learning Skills Council, which deals with the delivery of a full range of full and part-time vocational and academic provision, principally to those above the age of compulsory education. The data is derived from EduBase, a register of educational establishments in England and Wales, maintained by the Department for Education.</p>
<p><strong>Grid:</strong> A series of points with fixed distances between them. PTAL values in WebCAT are calculated using a grid of points across London at 100m intervals.</p>
<p><strong>Headway:</strong> The time between the arrivals of two public transport services with the same stopping pattern. A service with a frequency of 6 vehicles per hour will have headway of 10 minutes.</p>
<p><strong></strong></p>
<p><strong>Households:</strong> Derived from the GLA's 2013 round of borough population forecasts and based on agreed household sizes. WebCAT includes data for London and London and the South East for 2011, 2021 and 2031. Data outside London is based on the Department for Transport TEMPRO forecast data set.</p>
<p><strong>Key locations:</strong> These are a series of locations that have been defined in WebCAT as relevant for catchment analysis. The initial data set includes town centres, educational establishments and health related locations. They are used to generate catchment statistics for chosen location, for example how many metropolitan town centres are within 45 minutes travel time of a chosen location.</p>
<p><strong>London Plan:</strong> A document published by the Greater London Authority which contains the overall strategic plan for London, setting out a fully integrated economic, environmental, transport and social framework for the development of the Capital to 2031.</p>
<p><strong>Lower Super Output Areas (LSOAs):</strong> Aggregations of groups of COAs that are used to report census statistics. Like COAs, they align to the census zoning hierarchy. There are 4,835 LSOAs in London.</p>
<p><strong>Major centres:</strong> One of the London Town Centre categories defined in the London Plan. These are typically found in inner and some parts of outer London with a borough-wide catchment. They generally contain over 50,000sq m of retail floor space with a relatively high proportion of comparison goods relative to convenience goods. They may also have significant employment, leisure, service and civic functions.</p>
<p><strong>Metropolitan centres:</strong> One of the London Town Centre categories defined in the London Plan. These serve wide catchments which can extend over several boroughs and into parts of the wider South East region. Contain at least 100,000 sq m of retail floor space with a significant proportion of high-order comparison goods relative to convenience goods. These centres generally have very good connectivity and significant employment, service and leisure functions.</p>
<p><strong>Mode:</strong> WebCAT includes data sets for the following transport modes: All public transport modes including Rail, London Underground, DLR, Bus, Tram; Bus Only; Cycle Only; Step-Free - in WebCAT this is regarded as a separate mode, but is a subset of the full public transport network where routes within stations which are not considered step-free are excluded.</p>
<p><strong>Model:</strong> Models (or transport models) are computer tools that help us to estimate how the transport network will work and how people will travel both now and in the future.</p>
<p><strong>Opportunity Areas:</strong> Areas designated in the London Plan as suitable for accommodating large scale development to provide substantial numbers of new employment and housing.</p>
<p><strong>Population data:</strong> This is based on the Greater London Authority's 2013 round of population forecasts which have been split between TfL's transport model zoning system. The GLA forecasts cover a series of five year periods from 2011 to 2041. WebCAT includes results for 2011, 2021 and 2041. The 2011 data set is derived from the 2011 census.</p>
<p><strong>PM  Peak:</strong> Three hour evening peak travel time period from 16:00 to 19:00</p>
<p><strong>Population Pensionable Age:</strong> This data allows for future increases to the state pension age. It is derived from the GLA's 2013 round of population forecasts which have been split between TfL's transport model zoning system. WebCAT includes data for 2011, 2021 and 2031 and only in London.</p>
<p><strong>Population Working Age:</strong> The number of people of working age. This value allows for future increases to the state pension age.  It is derived from the GLA's 2013 round of population forecasts which have been split between TfL's transport model zoning system. WebCAT includes data for 2011, 2021 and 2031 and only in London.</p>
<p><strong>Primary Schools:</strong> Full-time education establishments suitable for junior pupils below the age of 10 year and 6 months. The data is derived from EduBase, a register of educational establishments in England and Wales maintained by the Department for Education.</p>
<p><strong>PTAL:</strong> Public Transport Access Level is a measure of access to the public transport network. For any given point in London, PTALs combine walk times from a chosen point to the network (stations and bus stops, for example) together with service frequency data at these locations. This provides an overall access index which can be allocated to nine accessibility levels between 0 and 6b. In WebCAT, PTAL values have been pre-calculated for a grid of points covering the whole of London (approximately 150,000 point).</p>
<p><strong>Scenario:</strong> A representation of the public transport network including definitions of modes, routes, and frequencies for a specific year and time period.</p>
<p><strong>Standard Waiting Time (SWT):</strong> PTAL calculation term, SWT is measured in minutes. It combines average service waiting time (half the time interval between arrivals of services at a stop) + the mode based reliability factor.</p>
<p><strong>Secondary Schools:</strong> Full-time education establishments suitable for pupils of compulsory school age above 10 yrs and 6 months. The data is derived from EduBase, a register of educational establishments in England and Wales maintained by the Department for Education.</p>
<p><strong>Step-free:</strong> This term usually refers to the physical nature of the network. Where a step-free network is cited this indicates that a full public transport network has been modified to include only those links where step-free access is possible specifically within stations. In WebCAT, step-free is defined as a separate mode.</p>
<p><strong>TIM:</strong> Travel Time Mapping - a complementary measure of connectivity to PTALs in WebCAT. Travel times in TIM use travel time data derived from TfL's transport models. The models divide London into over 3200 statistical areas or zones, providing times for all possible origin and destination zone combinations - equivalent to over 9 million records for each scenario. This means the user can select any location within London and WebCAT can quickly display travel times based on the zone where the selected point is located.</p>
<p><strong>Time of Day:</strong> The standard model time periods available in WebCAT: Am Peak, Between Peak Times and PM Peak.</p>
<p><strong>Total Access Time (TAT):</strong> PTAL calculation term, TAT is measured in minutes. It combines Walk Time + Standard Waiting Time.</p>
<p><strong>Town Centres:</strong> In London, town centres correspond to the GLA London Plan definition. This identifies four broad types of town centre: International, Metropolitan, Major, District.</p>
<p><strong>Vehicles per hour (VPH):</strong> PTAL calculation term, the number of vehicles per hour or frequency of service.</p>
<p><strong>Walk Time:</strong> PTAL calculation term, derived from walk network distance and a standard walk speed of 4.8kmph.</p>
<p><strong>WebCAT:</strong> TfL's web-based Connectivity Assessment Toolkit. WebCAT is, designed to support planning work in London.</p>
<p><strong>Zone:</strong> Our transport models divide London into a series of small areas or zones. These are used to calculate travel times from each zone to all other zone though the transport network.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat" class="heading">
                    <h2 id="sub-menu-heading">Planning with WebCAT<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/webcat">WebCAT</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/glossary">Glossary</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/webcat-updates">WebCAT updates</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These terms are used in WebCAT.";}
        
            
        


 