
    
  



@{ViewBag.Title = "WebCAT updates";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-with-webcat/webcat-updates";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></li>
                
            
            
                <li><span class="last-breadcrumb">WebCAT updates</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>WebCAT updates</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Keep checking here for news about how we're updating WebCAT.<BR>
        
      </div>
    
    
      <h2>Latest additions to WebCAT</h2>

<p>New functionality includes:</p>

<ul>
	<li>Catchment bar charts - showing how many people/jobs/town centres/schools are within the time bands displayed on the map for the selected location</li>
	<li>Comparison travel time plots - users can compare one travel time variable against another for the chosen location and display the differences on the map</li>
	<li>Comparison travel time bar charts - showing how many people/jobs/town centres/schools are within the difference time bands displayed on the map</li>
	<li>User defined travel time bands - the default setting is 15 minutes but users can now change this to 5, 10, 15, 20, 30, or 45 minute intervals</li>
</ul>

<p>New datasets include:</p>

<ul>
	<li>Cycling travel times - included as an additional transport mode in addition to: All public transport, Bus only and Step-free</li>
</ul>

<p>We will be updating our datasets as well in the near future with updated forecast data up to 2041.</p>

<p>More information about these tools is in our <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">guide to connectivity assessment</a>.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat" class="heading">
                    <h2 id="sub-menu-heading">Planning with WebCAT<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/glossary">Glossary</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-with-webcat/webcat-updates">WebCAT updates</a></div>
                            </li>
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Keep checking here for news about how we're updating WebCAT.";}
        
            
        


 