
    
  



@{ViewBag.Title = "Bus and tram fares";}
@{ViewBag.Keywords = "TfL,Bus fares, hopper fare, tram fare, bus price, tram price";}
@{ViewBag.Url = "/fares/find-fares/bus-and-tram-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus and tram fares</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus and tram fares</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prices for pay as you go caps and Bus & Tram Passes.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Hopper fare</h2>

<p><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a> at adult rate on buses and trams and our Hopper fare gives you unlimited journeys for &pound;1.50, made within one hour of touching in. Hopper fare also applies to discounted rate travel.</p>

<p>Touch in using the same card or device on all journeys and you get our Hopper fare automatically.</p>

<p>If you travel on Tube, DLR, London Overground, TfL Rail, Emirates Air Line or River Bus services in between Hopper journeys, you'll be charged a standard fare. The Hopper fare will still apply to any further bus and tram journeys made within one hour of first touching in.</p>

<p>If your Oyster card has a negative balance after your first journey, the Hopper fare won't apply. You'll need to top up your card within one hour of touching in to be eligible.</p>
</div>
 <div>

<h2>5-10</h2>

<p>All <a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 year old's</a> travel free on buses and trams and don't need a Zip Oyster photocard.</p>

<h2>11-15</h2>

<p>Travel free on buses and trams with an <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a>.</p>

<p>If you have a non-concessionary 11-15 Oyster photocard, you get 50% off adult fares.</p>
</div>
 

<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="1" colspan="1"><strong>Pay as you go<br />
            </strong></th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Daily cap<br />
            </strong></th>
            <th><strong>7 Day Bus &amp; Tram Pass<br />
            </strong></th>
            <th><strong>Monthly Bus &amp; Tram Pass<br />
            </strong></th>
            <th><strong>Annual Bus &amp; Tram Pass<br />
            </strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&pound;0.75</td>
            <td headers="table_heading_1">&pound;2.25</td>
            <td headers="table_heading_2"> &pound;10.60</td>
            <td headers="table_heading_2">&pound;40.80 </td>
            <td headers="table_heading_2">&pound;424 </td>
        </tr>
    </tbody>
</table></div>


 <div>

<h2>16+</h2>

<p>If you have a <a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a> and live in London, you get free travel on buses and trams. If you live outside London, you get 50% off adult fares.</p>
</div>
 

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id313_heading_7" rowspan="1"><strong>Pay as you go</strong></th>
			<th colspan="1" id="ms__id313_heading_8" rowspan="1"><strong>Daily cap</strong></th>
			<th colspan="1" id="ms__id313_heading_9" rowspan="1"><strong>7 Day Bus &amp; Tram Pass</strong></th>
			<th colspan="1" id="ms__id313_heading_10" rowspan="1"><strong>Monthly Bus &amp; Tram Pass</strong></th>
			<th><strong>Annual Bus &amp; Tram Pass</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id313_heading_8">&pound;0.75</td>
			<td headers="ms__id313_heading_8">&pound;2.25</td>
			<td headers="ms__id313_heading_9">&pound;10.60</td>
			<td headers="ms__id313_heading_10">&pound;40.80&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td headers="ms__id313_heading_10">&nbsp;&pound;424</td>
		</tr>
	</tbody>
</table></div>
<h3></h3>

 
<h2>18 + Student</h2>

<p>With an <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a> you get 30% off 7 Day, Monthly and longer period <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Passes</a>.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="1" colspan="1"><strong>Pay as you go<br />
            </strong>
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Daily cap<br />
            </strong>
            </th>
            <th id="table_heading_2" rowspan="1" colspan="1"><strong>7 Day Bus &amp; Tram Pass<br />
            </strong>
            </th>
            <th id="table_heading_3" rowspan="1" colspan="1"><strong>Monthly Bus &amp; Tram Pass<br />
            </strong>
            </th>
            <th id="table_heading_4" rowspan="1" colspan="1"><strong>Annual Bus &amp; Tram Pass <br />
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&pound;1.50</td>
            <td headers="table_heading_1">&pound;4.50</td>
            <td headers="table_heading_2">&pound;14.80</td>
            <td headers="table_heading_3">&pound;56.90</td>
            <td headers="table_heading_4">
            &pound;592
            </td>
        </tr>
    </tbody>
</table></div>


 
<h2>Apprentice</h2>

<p>With an <a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a> you get 30% off 7 Day, Monthly and longer period <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Passes</a>.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="1" colspan="1"><br />
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Pay as you go<br />
            </strong>
            </th>
            <th id="table_heading_2" rowspan="1" colspan="1"><strong>Daily cap<br />
            </strong>
            </th>
            <th id="table_heading_3" rowspan="1" colspan="1"><strong>7 Day Bus &amp; Tram Pass<br />
            </strong>
            </th>
            <th id="table_heading_4" rowspan="1" colspan="1"><strong>Monthly Bus &amp; Tram Pass<br />
            </strong>
            </th>
            <th id="table_heading_5" rowspan="1" colspan="1"><strong>Annual Bus &amp; Tram Pass <br />
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top" headers="table_heading_0"><br />
            </td>
            <td headers="table_heading_1">&pound;1.50</td>
            <td headers="table_heading_2">&pound;4.50</td>
            <td headers="table_heading_3">&pound;14.80</td>
            <td headers="table_heading_4">&pound;56.90</td>
            <td headers="table_heading_5">
            &pound;592</td>
        </tr>
    </tbody>
</table></div>


 
<h2>Adult</h2>

<p>You can travel using pay as you go with <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a>&nbsp;(card or device) or your <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a>.</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Pay as you go</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Daily cap</strong></th>
			<th colspan="1" id="table_heading_2" rowspan="1"><strong>Weekly cap (Monday to Sunday)</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">&pound;1.50</td>
			<td headers="table_heading_1">&pound;4.50</td>
			<td colspan="2" headers="table_heading_2">&pound;21.20</td>
		</tr>
	</tbody>
</table></div>

<p>You can also travel using your Oyster card with a 7 Day, Monthly and Annual <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>.</p>

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>One Day Bus &amp; Tram Pass</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>7 Day Bus &amp; Tram Pass</strong></th>
			<th colspan="1" id="table_heading_3" rowspan="1"><strong>Monthly Bus &amp; Tram Pass</strong></th>
			<th colspan="1" id="table_heading_4" rowspan="1"><strong>Annual Bus &amp; Tram Pass </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">&pound;5.00</td>
			<td headers="table_heading_1">&pound;21.20</td>
			<td headers="table_heading_3">&pound;81.50</td>
			<td headers="table_heading_4">&pound;848</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Jobcentre Plus</h2>

<p>With a <a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a> you get 50% off adult pay as you go fares and discounted 7 Day and Monthly Travelcards.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="1" colspan="1"><strong>Pay as you go
            </strong>
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Daily cap
            </strong>
            </th>
            <th id="table_heading_2" rowspan="1" colspan="1"><strong>7 Day Bus &amp; Tram Pass
            </strong>
            </th>
            <th id="table_heading_3" rowspan="1" colspan="1"><strong>Monthly Bus &amp; Tram Pass
            </strong>
            </th>
            <th id="table_heading_4" rowspan="1" colspan="1"><strong>Annual Bus &amp; Tram Pass
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&pound;0.75</td>
            <td headers="table_heading_1">&pound;2.25</td>
            <td headers="table_heading_2">&pound;10.60</td>
            <td headers="table_heading_3">&pound;40.80</td>
            <td headers="table_heading_4">Not available
            </td>
        </tr>
    </tbody>
</table></div>


 
<h2>Bus &amp; Tram Discount</h2>

<p>With a <a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus &amp; Tram Discount photocard</a> you get 50% off adult pay as you go bus and tram fares and 7 Day or Monthly <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Passes</a>.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="1" colspan="1"><strong>Pay as you go
            </strong>
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Daily cap
            </strong>
            </th>
            <th id="table_heading_2" rowspan="1" colspan="1"><strong>7 Day Bus &amp; Tram Pass
            </strong>
            </th>
            <th id="table_heading_3" rowspan="1" colspan="1"><strong>Monthly Bus &amp; Tram Pass
            </strong>
            </th>
            <th id="table_heading_4" rowspan="1" colspan="1"><strong>Annual Bus &amp; Tram Pass
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">
            <p>&pound;0.75</p>
            </td>
            <td headers="table_heading_1">
            <p>&pound;2.25</p>
            </td>
            <td headers="table_heading_2">
            <p>&pound;10.60</p>
            </td>
            <td headers="table_heading_3">
            <p>&pound;40.80</p>
            </td>
            <td headers="table_heading_4">
            <p>
            Not available
            </p>
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/fares/find-fares" class="heading">
                    <h2 id="sub-menu-heading">Find fares<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/river-fares">River fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares, caps and Travelcards beyond Zone 9</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fares for travel on buses and trams in London";}
        
            
        


 