
    
  



@{ViewBag.Title = "Emirates Air Line fares";}
@{ViewBag.Keywords = "TfL,Emirates Air Line, fares";}
@{ViewBag.Url = "/fares/find-fares/emirates-air-line-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emirates Air Line fares</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emirates Air Line fares</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prices for pay as you go and Boarding Passes on the Emirates Air Line.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<h2>Pay as you go&nbsp;</h2>

<p>It's up to 26% cheaper to use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device) or an&nbsp;<a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> than buying a Boarding Pass.</p>



 

<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1" colspan="1"><strong>Pay as you go </strong></th>
            <th rowspan="1" colspan="1"><strong>Single<br />
            </strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adult<br />
            </td>
            <td>&pound;3.50<br />
            </td>
        </tr>
        <tr>
            <td>Child (5 and over)<br />
            </td>
            <td>&pound;1.70<br />
            </td>
        </tr>
        <tr>
            <td>Child under 5 (with fare paying adult) </td>
            <td>Free</td>
        </tr>
    </tbody>
</table></div>
<p>Your pay as you go journey's aren't <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capped</a>.</p>

 
<h2>Boarding Passes</h2>
<p>You can buy single or return Boarding Passes, as well as Discovery Experience tickets in advance <a href="http://emiratesairline.gttix.com/emirates-air-line-tickets">online</a>.</p>
<p>You can also buy a Boarding Pass from ticket offices and machines at the Greenwich Peninsula and Royal Docks terminals.</p>
<p>The <a href="/modes/emirates-air-line/the-emirates-air-line-experience">Discovery Experience</a> includes a non-stop return flight on the Emirates Air Line, an on-board film tour, souvenir guide and free entrance to the <a href="https://www.aviation-experience.com/">Emirates Aviation Experience</a>.</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1"><strong>Rate</strong></th>
			<th colspan="1" rowspan="1"><strong>Single</strong></th>
			<th colspan="1" rowspan="1"><strong>Return</strong></th>
			<th colspan="1" rowspan="1"><strong>Discovery Experience</strong>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" rowspan="1">Adult</th>
			<td>&pound;4.50</td>
			<td>&pound;9.00</td>
			<td>&pound;10.70</td>
		</tr>
		<tr>
			<th colspan="1" rowspan="1">Child (5 and over)</th>
			<td>&pound;2.30&nbsp;</td>
			<td>&pound;4.60&nbsp;</td>
			<td>&pound;6.20&nbsp;</td>
		</tr>
		<tr>
			<td>Child under 5 (with fare paying adult)&nbsp;</td>
			<td>Free</td>
			<td>Free</td>
			<td>Free</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Discounted fares</h2>
<h3>Child rates</h3>
<p>Children with a <a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocard</a> or <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a> can use pay as you go on the Emirates Air Line. This is cheaper than buying a Boarding Pass.</p>
<p>Children aged 5-15 without a photocard, can get child-rate Boarding Passes.</p>
<p>Children with a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a> can buy a discounted Boarding Pass at the Emirates Air Line ticket office.</p>
<h3>Adult and child Boarding Passes</h3>
<p>If you've got a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a> or <a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a>, you can buy discounted Boarding Passes at the Emirates Air Line ticket office.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1" colspan="1"><strong>Rate</strong></th>
            <th rowspan="1" colspan="1"><strong>Single</strong></th>
            <th rowspan="1" colspan="1"><strong>Return</strong></th>
            <th rowspan="1" colspan="1"><strong>Discovery Experience</strong> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="1" colspan="1">Adult</th>
            <td> &pound;3.50</td>
            <td>&pound;7.00</td>
            <td>&pound;8.40</td>
        </tr>
        <tr>
            <th rowspan="1" colspan="1">Child (5 and over)</th>
            <td>&pound;1.70 </td>
            <td>&pound;3.40</td>
            <td>&pound;5.00</td>
        </tr>
        <tr>
            <td>Child under 5 (with fare paying adult)</td>
            <td>Free</td>
            <td>Free</td>
            <td>Free</td>
        </tr>
    </tbody>
</table></div>


 <div>

<h3>Multi-journey Boarding Pass</h3>

<p>You can buy a multi-journey Boarding Pass for&nbsp;ten single journeys in 12 months (not transferable). It costs &pound;17.00 and is 60% cheaper per journey compared to a single Boarding Pass.</p>

<h3>5+ Reward</h3>

<p>If you use your Oyster card to pay as you go for five or more journeys on the Emirates Air Line in one week (Monday to Sunday), you can get 50% refunded to you with the 5+ Reward.</p>

<p>To claim your refund, call us on <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>) within six weeks of your first day of travel. Incomplete journeys don't count.</p>

<p>The refund can be added to your Oyster card, stored as web credit in your contactless and Oyster account or paid into your bank account.</p>

<h3>Private cabin hire</h3>

<p>You can <a href="http://emiratesairline.gttix.com/the-private-cabin-experience">hire a private cabin</a> for up to ten people (subject to availability) on the Emirates Air Line for a non-stop round trip.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/fares/find-fares" class="heading">
                    <h2 id="sub-menu-heading">Find fares<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/river-fares">River fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line fares</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares, caps and Travelcards beyond Zone 9</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/emirates-air-line/index" class="plain-button">Emirates Air Line</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fare price information for the Emirates Air Line";}
        
            
        


 