
    
  



@{ViewBag.Title = "National Rail fares, caps and Travelcards beyond Zone 9";}
@{ViewBag.Keywords = "TfL,National Rail services fares, national rail fares, outside Zone 9 fares";}
@{ViewBag.Url = "/fares/find-fares/national-rail-fares-beyond-zone-9";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">National Rail fares, caps and Travelcards beyond Zone 9</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>National Rail fares, caps and Travelcards beyond Zone 9</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How to pay and prices for travel on National Rail services beyond Zone 9.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>How to pay</h2>

<h3>Single journeys</h3>

<p>Find the price for a single <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;journey between any two stations on our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>.</p>

<h3>Pay as you go</h3>

<p>You can use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device)&nbsp;or an&nbsp;<a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> to pay as you go for travel to and from:</p>

<ul>
	<li>Broxbourne, Rye House, St. Margarets, Ware and Hertford East</li>
	<li>Gatwick Airport</li>
	<li>Merstham, Redhill, Earlswood, Salfords and Horley</li>
	<li>Ockendon, Chafford Hundred, Purfleet and Grays</li>
	<li>Epsom</li>
	<li>Cuffley, Bayford and Hertford North</li>
	<li>Radlett and Potters Bar</li>
</ul>

<p>You can only&nbsp;use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device)&nbsp;to pay as you go for travel&nbsp;to and from:</p>

<ul>
	<li>Brookmans Park, Welham Green, Hatfield and Welwyn Garden City</li>
	<li>St Albans City, Harpenden and Luton Airport Parkway</li>
	<li>Iver, Langley, Slough, Burnham, Taplow, Maidenhead, Twyford and Reading</li>
</ul>

<p>Journeys to or from these stations aren't included in caps.</p>

<p>If you use contactless (card or device) to travel to or from Reading or Iver and you travel in Zones 1-6, we'll automatically refund the difference if a Day Travelcard was cheaper. Refunds may take up to 14 days.</p>
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Station &nbsp;</strong></td>
			<td><strong>Anytime Day Travelcard&nbsp;</strong></td>
			<td><strong>Off-peak Day Travelcard</strong>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Iver</td>
			<td>&nbsp;&pound;21.00</td>
			<td>&nbsp;&pound;14.00</td>
		</tr>
		<tr>
			<td>&nbsp;Langley Berks</td>
			<td>&nbsp;&pound;23.50</td>
			<td>&nbsp;&pound;14.90</td>
		</tr>
		<tr>
			<td>&nbsp;Slough</td>
			<td>&nbsp;&pound;24.30</td>
			<td>&nbsp;&pound;15.50</td>
		</tr>
		<tr>
			<td>&nbsp;Burnham Bucks</td>
			<td>&nbsp;&pound;26.80</td>
			<td>&nbsp;&pound;16.20</td>
		</tr>
		<tr>
			<td>&nbsp;Taplow</td>
			<td>&nbsp;&pound;29.40</td>
			<td>&nbsp;&pound;17.30</td>
		</tr>
		<tr>
			<td>&nbsp;Maidenhead</td>
			<td>&nbsp;&pound;30.70</td>
			<td>&nbsp;&pound;17.90</td>
		</tr>
		<tr>
			<td>&nbsp;Twyford</td>
			<td>&nbsp;&pound;36.10</td>
			<td>&nbsp;&pound;21.40</td>
		</tr>
		<tr>
			<td>&nbsp;Reading &nbsp;</td>
			<td>&nbsp;&pound;55.90</td>
			<td>&nbsp;&pound;26.00</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h3>National Rail season tickets</h3>

<p>Find the price for <a href="http://ojp.nationalrail.co.uk/service/seasonticket/search">National Rail&nbsp;season tickets</a>&nbsp;between two stations.</p>

<h3>Travelcards</h3>

<p>You can buy a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcard</a> (paper ticket), paper point&nbsp;to point season ticket, or add a Travelcard season ticket&nbsp;to your Oyster card for travel beyond Zone 9, to and from:</p>

<ul>
	<li>Broxbourne, Rye House, St. Margarets, Ware and Hertford East</li>
</ul>
</div>
 <div>

<h2>How much does it cost?</h2>
</div>
 
<div>



<h2>Adult</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-adult-fares.pdf">
    <div class="document-download-text">
        <p>Adult National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Jobcentre Plus</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-jobcentre-plus-fares-2020.pdf">
    <div class="document-download-text">
        <p>Jobcentre Plus National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>




<h2>Railcard</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-railcard-fares-2020.pdf">
    <div class="document-download-text">
        <p>Railcard holder National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>



<h2>Apprentice</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-apprentice-fares-2020.pdf">
    <div class="document-download-text">
        <p>Apprentice National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>18+</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-18-plus-fares-2020.pdf">
    <div class="document-download-text">
        <p>18+ Student Oyster photocard National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>16+</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-16-plus-fares-2020.pdf">
    <div class="document-download-text">
        <p>16+ Zip Oyster photocard National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>11-15</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-11-15-zip-fares-2020.pdf">
    <div class="document-download-text">
        <p>11-15 Zip Oyster photocard National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>5-10</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/national-rail-5-10-zip-fares-2020.pdf">
    <div class="document-download-text">
        <p>5-10 Zip Oyster photocard National Rail caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>
<p>Children with a <a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocard</a> can travel free on journeys to and from:</p>

<ul>
	<li>Watford Junction</li>
	<li>Broxbourne, Hertford East, Ware, St Margarets and Rye House</li>
	<li>Ockendon, Chafford Hundred, Purfleet and Grays</li>
</ul>

<p>Without a 5-10 Zip Oyster photocard, up to four under 11s can travel free on journeys to and from:</p>

<ul>
	<li>Watford Junction</li>
	<li>Stations between Iver and Reading</li>
</ul>

<p>If travelling with&nbsp;an adult&nbsp;using either:</p>

<ul>
	<li>Pay as you go using <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device) or an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a></li>
	<li>A valid ticket</li>
	<li><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></li>
	<li><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London&nbsp;Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></li>
</ul>

<p>Check the 5-10 PDF for caps and Travelcard prices to:</p>

<ul>
	<li>Gatwick Airport</li>
	<li>Merstham, Redhill, Earlswood, Salfords and Horley</li>
	<li>Epsom</li>
	<li>Cuffley, Bayford and Hertford North</li>
	<li>Radlett and Potters Bar</li>
</ul>
</div>
 <div>

<h2>Under 5s</h2>

<p>Children under 5 travel free if travelling with&nbsp;an adult&nbsp;using either:</p>

<ul>
	<li>Pay as you go using <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or&nbsp;device)&nbsp;or an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a></li>
	<li>A valid ticket</li>
	<li><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></li>
	<li><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London&nbsp;Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></li>
</ul>

<p>They&nbsp;can travel free on&nbsp;journeys to and from:</p>

<ul>
	<li>Watford Junction</li>
	<li>Broxbourne, Hertford East, Ware, St Margarets and Rye House</li>
	<li>Ockendon, Chafford Hundred, Purfleet and Grays</li>
	<li>Gatwick Airport</li>
	<li>Merstham, Redhill, Earlswood, Salfords and Horley</li>
	<li>Epsom</li>
	<li>Cuffley, Bayford and Hertford North</li>
	<li>Radlett and Potters Bar</li>
	<li>Brookmans Park</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/fares/find-fares" class="heading">
                    <h2 id="sub-menu-heading">Find fares<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/river-fares">River fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares, caps and Travelcards beyond Zone 9</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fares for National Rail services beyond Zone 9 in London";}
        
            
        


 