
    
  



@{ViewBag.Title = "Penalty fares and how to pay them";}
@{ViewBag.Keywords = "TfL,Penalty fare, penalty, prosecution, fare evasion, fare avoid, fare crime, fare appeals, appeals";}
@{ViewBag.Url = "/fares/find-fares/penalty-fares-and-how-to-pay-them";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Penalty fares and how to pay them</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Penalty fares and how to pay them</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you don't touch in and out correctly using contactless (card or device) or an Oyster card, or you don't have a valid ticket, you may be charged a penalty fare.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Your ticket must cover your entire journey and all zones you travel in. If you're using <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>, you must have enough credit to pay for your entire journey. If you're using a mobile device, it must have enough battery to last your journey.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/penalty-fares.jpg" alt="Yellow card reader followed by a pound sign and full battery icon, then a yellow card reader at the end" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How much is a penalty fare?</h2>

<p>It's &pound;80. This is reduced to &pound;40 if you pay within 21 days.</p>

<h2>Fare evasion</h2>

<p>Fare evasion is a criminal offence and you may be <a href="/fares/prosecutions">prosecuted</a>.</p>

<p>We have more Revenue Inspectors across our transport services working to reduce fare evasion.</p>
</div>
 
<div>



<h2>Policy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/penalty-fares-appeals-policy.pdf">
    <div class="document-download-text">
        <p>Penalty fares appeals policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 <div>

<h2>How to pay or appeal a penalty fare&nbsp;</h2>

<h3>Bus, Tube, DLR, London Overground and TfL Rail</h3>

<h4>Pay</h4>

<p><a href="http://www.ircas.co.uk/">Pay online</a> to the Independent Revenue Collection and Support (IRCAS).</p>

<p>Pay by <strong>phone</strong>:</p>

<p>Call charges are 5p per minute to 0844 numbers and 13p per minute to 0870 numbers, plus your network access charge(s).</p>

<ul>
	<li>Independent Revenue Collection and Support payment line: <a href="tel:0870 067 1303">0870 067 1303</a></li>
	<li>London Underground payment line: <a href="tel:0844 067 9921">0844 067 9921</a></li>
	<li>DLR payment line: <a href="tel:0870 067 9870">0870 067 9870</a></li>
	<li>TfL Rail payment line: <a href="tel:0870 067 9890">0870 067 9890</a></li>
	<li>TfL Buses penalty fare notices payment line: <a href="tel:0870 067 9895">0870 067 9895</a></li>
	<li>TfL Buses unpaid fare notices payment line: <a href="tel:0844 544 7173">0844 544 7173</a></li>
</ul>

<p>Pay by <strong>post</strong>:</p>

<p>IRCAS<br />
PO Box 212<br />
Petersfield<br />
GU32 9BQ</p>

<h4>Appeal</h4>

<p><a href="https://www.appealservice.co.uk/">Appeal online</a> within 21 days to the Appeal Service (AS).</p>

<p>Appeal by <strong>post</strong>:</p>

<p>AS<br />
PO Box 267<br />
Petersfield<br />
GU32 9FH</p>

<p>Appeal by <strong>fax</strong>: 0844 544 8454</p>

<p>You need to include this information with your appeal:</p>

<ul>
	<li>Journey start time and station</li>
	<li>Daytime telephone number or email address</li>
	<li>Statement explaining why you couldn't produce a valid ticket for your journey</li>
</ul>

<p>If your appeal is successful, you won't have to pay a penalty fare.</p>

<p>If your appeal is unsuccessful, you'll be notified and advised what to do next.</p>

<h3>Tram</h3>

<h4>Pay</h4>

<p>Pay by <strong>phone</strong>: <a href="tel:020 8681 8300">020 8681 8300</a></p>

<p>Pay by<strong> post</strong> or <strong>in person</strong>:</p>

<p>Tram Operations Ltd<br />
Penalty Fare Administration<br />
The Tramlink Shop<br />
5 Suffolk House<br />
George Street<br />
Croydon CR0 1PE</p>

<h4>Appeal</h4>

<p>Appeal by <strong>post</strong>, by writing to the above Tram Operations Ltd address within 21 days.</p>

<p>You need to include information with your appeal:</p>

<ul>
	<li>Journey start time and station</li>
	<li>Daytime telephone number or email address</li>
	<li>Statement explaining why you couldn't produce a valid ticket for your journey</li>
</ul>

<p>If your appeal is successful, you won't have to pay a penalty fare.</p>

<p>If your appeal is unsuccessful, you'll be notified and advised what to do next.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/fares/find-fares" class="heading">
                    <h2 id="sub-menu-heading">Find fares<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/river-fares">River fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares, caps and Travelcards beyond Zone 9</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Penalty fares and how to pay them if you don't touch in or out correctly with contactless or an Oyster card, or don't have a valid ticket";}
        
            
        


 