
    
  



@{ViewBag.Title = "River fares";}
@{ViewBag.Keywords = "TfL,River, fares, travel, London, river bus, river services, river tours";}
@{ViewBag.Url = "/fares/find-fares/river-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">River fares</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>River fares</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prices for pay as you go and tickets when you travel on River services.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>How much does it cost?</h2>
<p>See routes and find fares for each river service operator.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/river-bus-logo.jpg" alt="River Bus" />
    </div>
    <h2>River Bus</h2>

<p>Operated by Thames Clippers.</p>

<ul>
	<li><a href="https://www.thamesclippers.com/assets/doc/Battersea-Route-Map-cc9a51c0ed.pdf">Find routes</a></li>
	<li><a href="https://www.thamesclippers.com/route-time-table/prices">Find fares</a></li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/river-tours-logo.jpg" alt="River tours logo" />
    </div>
    <h2>River Tours</h2>
<h3>Sightseeing</h3>
<ul>
    <li><a href="https://www.circularcruise.london/">Circular Cruise</a> (Westminster)</li>
    <li><a href="http://www.citycruises.com/city-cruises-sightseeing-price-listings.aspx">City Cruises</a> (Westminster to Greenwich and Tower Pier circular)</li>
    <li><a href="https://www.londoneye.com/tickets-and-prices/river-cruise/">London Eye River Cruise</a></li>
    <li><a href="http://wpsa.co.uk/thames-boats/fares.asp">Thames River Boats</a> (Westminster to Hampton Court)</li>
    <li><a href="http://www.thamesriverservices.co.uk/prices.cfm">Thames River Services</a> (Westminster to Greenwich)</li>
    <li><a href="https://www.turks.co.uk/river-trips/">Turks River Trips</a> (Hampton Court to Richmond)</li>
</ul>
<h3>Speedboats</h3>
<ul>
    <li><a href="http://www.thamesribexperience.com/">Thames RIB Experience</a></li>
    <li><a href="http://www.londonribvoyages.com/">Thames Rockets</a></li>
    <li><a href="http://www.thamesjet.com/">Thamesjet</a></li>
</ul>
<h3>Daytime</h3>
<ul>
    <li><a href="https://www.bateauxlondon.com/">Bateaux London restaurant cruise</a></li>
    <li><a href="https://www.citycruises.com/london-thames-experiences/lunch-cruise/">City Cruise lunch</a></li>
</ul>
<h3>Evening</h3>
<ul>
    <li>
    <a href="https://www.bateauxlondon.com/">Bateaux London dinner cruise</a></li>
    <li><a href="http://www.citycruises.com/city-cruises-experiences-rivernights.aspx">City Cruise dinner</a></li>
</ul> 
</div>
 <div>

<h2>How do I pay?</h2>

<h3>Pay as you go</h3>

<p>You can use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device) or an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> on the River Bus service operated by <a href="https://www.thamesclippers.com/">Thames Clippers</a>.</p>

<p><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on the yellow card readers, and when changing boats, to pay the right fare.</p>

<p>You can't top up your Oyster card at River Bus piers and your journeys aren't <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capped</a>.</p>

<h3>Paper tickets</h3>

<p>For River Tours, you can't use pay as you go&nbsp;with contactless (card or device)&nbsp;or Oyster, but you can use your&nbsp;Oyster credit to buy a paper ticket from pier ticket offices.</p>

<p>You can do this for:</p>

<ul>
	<li><a href="http://www.thamesriverservices.co.uk/prices.cfm">Thames River Services</a></li>
	<li><a href="https://www.circularcruise.london">Circular Cruise</a></li>
</ul>

<h3>Discounts on services</h3>

<h4>Travelcards</h4>

<p>You get 1/3 off the Thames Clippers River Bus and most sightseeing River Tours if you have a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a>.</p>

<p>If you have a paper ticket, you need to show it to staff when buying your ticket. If your Travelcard is on your Oyster card, touch in on the yellow card reader to get the discounted fare.</p>

<h4>Child rates</h4>
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>River service </strong></td>
            <strong>
            </strong>
            <td><strong>Age </strong></td>
            <strong>
            </strong>
            <td><strong>Fare</strong> </td>
        </tr>
        <tr>
            <td>All river services </td>
            <td>Under 5 </td>
            <td>Free </td>
        </tr>
        <tr>
            <td>Most river services </td>
            <td>5-15 </td>
            <td>Child fare </td>
        </tr>
        <tr>
            <td>London Eye River Cruises </td>
            <td>4-15 </td>
            <td>Child fare </td>
        </tr>
        <tr>
            <td>City Cruises </td>
            <td>5-16 </td>
            <td>Child fare </td>
        </tr>
    </tbody>
</table></div>


 <div>

<h4>Students and apprentices</h4>

<p>If you have an NUS student card, you can get a discount on some services &#45; check when buying your ticket.</p>

<p>If you have an <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a> or <a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a>, you get a discount on <a href="https://www.thamesclippers.com/commuters/season-tickets">Thames Clippers season tickets</a>.</p>

<h4>Freedom Pass, 60+ and Veterans</h4>

<p>If you have a <a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a> or <a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London&nbsp;Oyster photocard</a> you get 50% off the adult fare on the Thames Clippers River Bus and many River Tours.</p>

<p>If you have a <a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a>, you get 50% off the Thames Clippers River Bus.</p>

<h4>Senior citizen rates</h4>

<p>If you don't have a Freedom Pass, check which River services offer discounts for senior citizens.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fares for travel on river services in London";}
        
            
        


 