
    
  



@{ViewBag.Title = "Tube and rail fares";}
@{ViewBag.Keywords = "TfL,fares, tube, rail";}
@{ViewBag.Url = "/fares/find-fares/tube-and-rail-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/find-fares">Find fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tube and rail fares</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tube and rail fares</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prices for pay as you go, caps and Travelcards when you travel on the Tube, DLR, London Overground, TfL Rail and National Rail services.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div class="module-grid clearfix">
<div>

<div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder?intcmp=54716" >
        <img src="/cdn/static/cms/images/promos/single-fare-finder-fares_rdax_400x200.jpg" alt="" "" />
        
        <div class="text-link">
             <h2>Single pay as you go journey</h2>
            <p>Find the cost of a journey between two stations with our single fare finder</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices?intcmp=54720" >
        <img src="/cdn/static/cms/images/promos/pay-as-you-go-caps_rdax_400x200.jpg" alt="" "" />
        
        <div class="text-link">
             <h2>Caps and Travelcard prices</h2>
            <p>Find the price of pay as you go caps and Travelcards for your journey</p>
        </div>
    </a>
</div>
 
 
</div>
 
</div>
 <div class="vertical-button-container">



<a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard"  class="plain-button">5-10 Zip Oyster photocard caps and Travelcard prices</a>

</div>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-15-zip-fares-2020.pdf">
    <div class="document-download-text">
        <p>11-15 Zip Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-plus-zip-fares-2020.pdf">
    <div class="document-download-text">
        <p>16+ Zip Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-plus-student-fares-2020.pdf">
    <div class="document-download-text">
        <p>18+ Student Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apprentice-fares-2020.pdf">
    <div class="document-download-text">
        <p>Apprentice Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/adult-2020-prices.pdf">
    <div class="document-download-text">
        <p>Adult caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jobcentre-plus-fares-2020.pdf">
    <div class="document-download-text">
        <p>Jobcentre Plus Travel Discount caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/railcard-fares-2020.pdf">
    <div class="document-download-text">
        <p>National Railcard Discount caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disabled-persons-railcard-fares-2020.pdf">
    <div class="document-download-text">
        <p>Disabled Persons Railcard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Peak and off-peak times </h2>
<p>We charge higher fares at the busiest times of the day.</p>
<h3>Using pay as you go</h3>
<p>On Tube, DLR, London Overground, TfL Rail and National Rail services in London:</p>
<ul>
    <li><strong>Peak fares</strong> - Monday to Friday (not on public holidays) between 06:30 and 09:30, and between 16:00 and 19:00</li>
    <li><strong>Off-peak fares</strong> - at all other times and if you travel from a station outside Zone 1 to a station in Zone 1 between 16:00 and 19:00, Monday to Friday</li>
</ul>
<p>If you're travelling on London Overground between Euston (National Rail station) and Watford Junction:</p>
<ul>
    <li><strong>Peak fares</strong> - from Watford Junction towards Euston (Southbound), Monday to Friday between 06:30 and 09:30 (not on public holidays). From Euston towards Watford Junction (Northbound), peak fares apply Monday to Friday between 16:00 and 19:00 (not on public holidays)
    </li>
    <li><strong>Off-peak fares</strong> - at all other times</li>
</ul>
<h3>Using Day Travelcards</h3>
<p>Peak and off-peak times change for different <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcards</a>:</p>
<ul>
    <li><strong>Anytime Day Travelcards</strong> - use for the whole day (for the date printed on your ticket) and for journeys starting before 04:30 the next day</li>
    <li><strong>Off-peak Day Travelcards</strong> - use for the whole day from 09:30, Monday to Friday, or anytime on Saturdays, Sundays or public holidays (for the date printed on your ticket), and for journeys starting before 04:30 the next day</li>
</ul>
<h3>Using our night services</h3>
<p>Our <a href="/campaign/tube-improvements/what-we-are-doing/night-tube">Night Tube</a> and <a href="/modes/london-overground/london-overground-night-service">London Overground Night Service</a> fares are always off-peak.</p>
</div>
 
<h2>Travelling in a group</h2>
<p>If you're travelling in a group of ten or more, you can buy paper <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Group Day Travelcards</a>.</p>
<h3>Group Day Travelcard prices</h3>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Zone &nbsp;</th>
			<th>Adult&nbsp;</th>
			<th>Under 16s&nbsp;</th>
		</tr>
		<tr>
			<td>&nbsp;1-6</td>
			<td>&nbsp;&pound;8.80</td>
			<td>&nbsp;&pound;4.40</td>
		</tr>
		<tr>
			<td>&nbsp;1-9</td>
			<td>&nbsp;&pound;9.40</td>
			<td>&nbsp;&pound;4.70</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/fares/find-fares" class="heading">
                    <h2 id="sub-menu-heading">Find fares<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares">Tube and rail fares</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">Pay as you go caps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">Single fare finder</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">Caps and Travelcard prices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/river-fares">River fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares, caps and Travelcards beyond Zone 9</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fares set by TfL for the Tube, DLR, London Overground, TfL Rail and National Rail services";}
        
            
        


 