
    
  



@{ViewBag.Title = "CCTV & surveillance cameras";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/cctv";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">CCTV & surveillance cameras</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>CCTV & surveillance cameras</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how Transport for London, including its operating subsidiaries, use personal data collected via Closed Circuit Television (CCTV), body worn cameras and Automatic Number Plate Recognition (ANPR) camera systems across London's transport network.
        
      </div>
    
    <div class="on-this-page">
      <h2>Camera systems we operate</h2>

<p>Our CCTV is used to capture and monitor images of events that take place in specific locations in real time. The images may also be recorded on a computer hard drive or magnetic tape depending on the type of camera. Cameras may be focussed on a fixed location, set to scan a particular area, or they can be operated remotely by specially trained operators.</p>

<p>Some TfL employees are issued with body worn CCTV cameras, for example, Revenue Control Inspectors and some station staff on the London Underground network, Bus Station Controllers in bus stations, Revenue Protection Inspectors on buses, Road Traffic Enforcement Officers and Taxi and Private Hire Compliance Officers. These devices are able to capture audio recordings as well as images. The cameras are clearly visible and are only switched on in the event of an incident (for example the member of staff being subjected to verbal abuse or threats of violence).</p>

<p>The cameras used to enforce our Road User Charging schemes (the Congestion Charge, Low Emission Zone and Ultra Low Emission Zone) are ANPR cameras which capture number plate data in the form of text rather than images. A still photographic image is also captured and used for evidential purposes if a Penalty Charge Notice (PCN) is issued.</p>

<h2>Why we operate cameras</h2>

<p>Under data protection legislation, we are only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of surveillance cameras, we operate them to perform tasks in support of our statutory functions &#45; which are to deliver 'safe, integrated, efficient and economic transport facilities and services to, from and within Greater London'.</p>

<p>We operate surveillance cameras for these main purposes:</p>

<ul>
	<li>Protecting the health and safety of employees, customers and members of the public</li>
	<li>Protecting property and other infrastructure</li>
	<li>The management and investigation of major incidents</li>
	<li>Preventing and detecting crime and antisocial behaviour - including fare evasion</li>
	<li>Realtime traffic monitoring</li>
	<li>Enforcing traffic rules and regulations (eg relating to yellow box junctions, red routes and bus lanes); and our <a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging Schemes</a></li>
	<li>Supporting the efficient management and operation of our road and rail networks</li>
	<li>The exercise or defence of legal claims</li>
</ul>

<p>We sometimes use stand-alone filming equipment on our road network to create a visual summary of the operational changes we make from time to time.</p>

<p>Examples might include improvements to the layout of road junctions, or cycle lanes or where we amend traffic signal timings. We use these videos both internally and externally to demonstrate how these changes have contributed to the Mayor's Transport Strategy and other initiatives such as the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>.</p>

<p>Every effort is made to ensure that the focus of any photographs or videos is the road network itself and not individual pedestrians, vehicles or cyclists. In the event that we inadvertently capture images of individuals - or vehicle number plates - we will use redaction techniques to minimise the extent so that people and cars are recognisable.</p>

<p>If you are concerned about appearing in any video, please speak to a member of the staff at the time to stop filming and delete the footage that includes your image.</p>

<h2>Camera locations</h2>

<p>We have surveillance cameras in and around the following locations:</p>

<ul>
	<li>London Underground stations, depots, car parks and trains</li>
	<li>Across London's road and tunnels network for monitoring road traffic and for traffic enforcement (including a number of mobile cameras, which can be deployed at various locations)</li>
	<li>Across London's road network for enforcement of our Road User Charging Schemes</li>
	<li>TfL bus stations</li>
	<li>Santander Cycles docking stations</li>
	<li>Piers operated by London River Services;</li>
	<li>Piers used by Woolwich Ferry services and on the Woolwich ferries</li>
	<li>Victoria Coach Station</li>
	<li>Dial-a-Ride vehicles and depots</li>
	<li>Kings Cross Visitor Centre</li>
	<li>Our office buildings</li>
</ul>

<h2>Keeping personal data secure</h2>

<p>We take the privacy of our customers and the wider public very seriously and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal data associated with our surveillance camera systems.</p>

<p>Our CCTV may be stored on servers hosted within the United Kingdom or the European Economic Area (EEA). Any such storage will be subject to contractual safeguards and carried out in accordance with the requirements of UK and EU privacy legislation.</p>

<h2>Sharing personal data</h2>

<p>TfL has contracts with a number of third party service providers, which provide maintenance services and ensure the efficient day-to-day operation of our surveillance camera systems. We also use external service providers to download images from bus stations, London Underground stations and car park CCTV cameras when we have a business need to retain them for longer than the default retention period.</p>

<p>On a case by case basis we may use and share CCTV images for research and analysis purposes. For example these may be used to improve the management of health and safety incidents, or travel demand management.</p>

<p>Some of TfL's surveillance camera infrastructure is shared with third parties such as the police and local authorities. In certain agreed circumstances, they may take control of a limited number of cameras and use them for activities such as the prevention and detection of crime and anti social behaviour, policing major events and crowd control. These arrangements are covered by information sharing agreements and TfL is not responsible for the camera when it is in the control of the third party.</p>

<p>Under a separate arrangement, we also share the ANPR cameras we use to enforce our Road User Charging schemes with the Metropolitan Police Service, who receive a direct feed of data for the purpose of preventing and detecting crime and for safeguarding national security. Find out more about this on our <a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging privacy page.</a></p>

<p>In some circumstances, other disclosures of personal data (including CCTV and body worn camera images or audio) to the police and other law enforcement agencies are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any such disclosure takes place, the police are required to demonstrate that the personal data concerned will assist them in this respect. Each police request to TfL is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful.</p>

<h2>London's buses</h2>

<p>London's bus services are operated by individual bus companies on behalf of TfL. Any CCTV on London buses is the responsibility of the company that runs that particular service or route. If you require access to images of yourself recorded by a CCTV camera inside a bus you should contact the company who operates that particular bus route. You can find this information on signs displayed inside each vehicle or on our <a href="/modes/buses/who-runs-your-bus">Who runs your bus</a> page.</p>

<h2>Docklands Light Railway</h2>

<p>Docklands Light Railway is operated by a concession holder on behalf of TfL. Any CCTV systems in or around Docklands Light Railway stations, depots or trains are generally the responsibility of the company that holds the concession. If you require access to images of yourself recorded by a CCTV camera installed on Docklands Light Railway infrastructure you should contact the concession holder. You can do this via our <a href="/help-and-contact/contact-dlr">Contact DLR page</a>.</p>

<h2>London Overground</h2>

<p>London Overground is operated by a concession holder on behalf of TfL. Any CCTV systems in or around London Overground stations, depots or trains are generally the responsibility of the company that holds the concession. If you require access to images of yourself recorded by a CCTV camera installed on London Overground infrastructure you should contact the concession holder. You can do this via our <a href="/help-and-contact/contact-london-overground">Contact London Overground page</a>.</p>

<h2>Trams</h2>

<p>London's trams are operated by a concession holder on behalf of TfL. Any CCTV systems in or around tram stations, depots or trams are generally the responsibility of the company that holds the concession. If you require access to images of yourself recorded by a CCTV camera installed on tram infrastructure, you should contact the concession holder. You can do this via our Contact Trams page.</p>

<h2>TfL Rail</h2>

<p>TfL Rail is operated by a concession holder on behalf of TfL. Any CCTV systems in or around TfL Rail stations, depots or trains are generally the responsibility of the company that holds the concession. If you require access to images of yourself recorded by a CCTV camera installed on TfL Rail infrastructure, you should contact the concession holder. You can do this via our <a href="/help-and-contact/contact-us-about-tube-and-rail">Contact TfL Rail page.</a></p>

<h2>Taxis and private hire vehicles</h2>

<p>Taxis and private hire vehicles operating in London are licensed and regulated by TfL but the services are provided by independent operators and drivers. Some licensed taxi and private hire drivers/operators have installed CCTV (and, in some cases, audio recording) in their vehicles for the purposes of protecting the health and safety of drivers and passengers; and the prevention and detection of crime. Each individual driver/operator that has chosen to do so is fully responsible for their own CCTV system(s).</p>

<p>TfL's Taxi and Private Hire function provides formal guidance to drivers and operators wishing to install CCTV, which outlines the standards with which the equipment must comply. Once installed, CCTV equipment is examined as part of the annual taxi or private hire vehicle licensing inspection.</p>

<p>If you require access to images of yourself captured inside a taxi or private hire vehicle you should contact the company or driver who operates that particular vehicle. You can find this information on signage displayed inside the vehicle.</p>

<p>Find out more in our Guidelines for CCTV in Taxis and PHV on the <a href="/corporate/publications-and-reports/taxi-and-private-hire">Taxi &amp; private hire publications page</a>.</p>
      
           
      <div>

<h2>External guidelines and best practice</h2>

<p>TfL operates its surveillance camera systems in compliance with the data protection <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/encryption/encryption-scenarios/#12">code of practice for surveillance cameras and personal information</a> issued by the Information Commissioner's Office. The Code provides good practice advice for those involved in operating CCTV and other surveillance camera devices that view or record individuals. It also covers other information that relates to individuals, for example vehicle registration marks captured by ANPR equipment.</p>

<p>We also voluntarily comply with the 12 principles set out in the <a href="https://www.gov.uk/government/organisations/surveillance-camera-commissioner">Surveillance Camera Code of Practice</a> issued by the Home Office (which applies to local authorities and police forces in England and Wales). It states that organisations which use surveillance camera systems must:</p>

<ul>
	<li>use them for a specified purpose in pursuit of a legitimate aim</li>
	<li>take into account their effect on individuals and their privacy</li>
	<li>be as transparent as possible about how they use them</li>
	<li>have clear responsibility and accountability arrangements for all surveillance activities</li>
	<li>have clear rules, policies and procedures in place</li>
	<li>have no more images and information stored than is strictly necessary</li>
	<li>restrict access to retained images and information</li>
	<li>work to meet and maintain relevant operational, technical and competency standards</li>
	<li>have in place appropriate security measures to safeguard against unauthorised access and use</li>
	<li>have effective review and audit mechanisms</li>
	<li>use them in the most effective way to support public safety and law enforcement</li>
	<li>keep associated data accurate and up to date</li>
</ul>

<h2>Accessing your personal data</h2>

<p>You can request copies of images or footage of yourself by making a <a href="/corporate/privacy-and-cookies/access-your-data">subject access request</a>. Please note that in most cases, CCTV and body worn camera&nbsp;footage is only kept for a very limited time, and you shouldn't delay in making your request.</p>

<p>You will need to provide as much information as possible about when and where the images or images were captured (ie the specific date, time and location). You will also need to submit a clear full length photograph of yourself with your request so that we can identify you when searching for the relevant images.</p>

<h2>Raise a concern</h2>

<p>If you have any concerns about the way in which TfL uses surveillance camera systems to process personal data, or you want to make a complaint about an issue involving one of our cameras, please <a href="mailto:DPO&#64;tfl.gov.uk">email TfL's Privacy and Data Protection Team</a>.</p>

<p>You can also contact TfL's Data Protection Officer by writing to:<br />
Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>You are also entitled to raise a concern with the Information Commissioner's Office, the UK's independent body set up to uphold information rights. For more information, visit their website at <a href="http://www.ico.org.uk">ico.org.uk</a>.</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in December 2019.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL including its subsidiaries and service providers, uses information collected via CCTV and Automatic Number Plate Recognition";}
        
            
        


 