
    
  



@{ViewBag.Title = "Compulsory purchase";}
@{ViewBag.Keywords = "TfL,compulsory purchase privacy notice TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/compulsory-purchase";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Compulsory purchase</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Compulsory purchase</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This privacy notice explains how Transport for London (TfL), its subsidiaries and service providers use the personal information we hold about you and your property, in connection with activities where powers of compulsory purchase are being sought or have been granted (compulsory purchase schemes) which TfL is promoting and/or delivering.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Compulsory purchase schemes</h2>
<p>By compulsory purchase schemes, we mean activities which TfL is carrying out and/or promoting where powers of compulsory purchase are being sought or have been granted.</p>
<h2>Personal information we hold</h2>
<p>If you are affected by a TfL compulsory purchase scheme, the information we hold about you may include:</p>
<ul>
    <li>Name</li>
    <li>Address</li>
    <li>Email address</li>
    <li>Telephone/mobile number</li>
    <li>Tenure and occupancy details (freehold, leasehold, tenancy, easement, rights etc)</li>
    <li>Mortgage information</li>
    <li>Financial background information (eg residential status, property value)</li>
    <li>Support documentation (eg proofs of identity and address, bank reference, credit report)</li>
    <li>Bank account and sort code</li>
    <li>Enquiries, complaints or other correspondence from you</li>
</ul>
<p>If you are a guardian, executor, trustee, partner etc, TfL will also hold your information.</p>
<h2>Legal basis for using your information</h2>
<p>
Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so.  In the case of compulsory purchase we rely on the following 'legal grounds':</p>
<ul>
    <li>For 'compliance with a legal obligation' that TfL is subject to &#45; in connection with any statutory obligations (and government guidance) relating to compulsory purchase &#45; including the disposal of land acquired during compulsory purchase</li>
    <li>Our statutory and public functions - to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
</ul>
<h2>Obtaining and using your information</h2>
<p>The personal information we hold is primarily provided by you when you complete a 'Land Interest Questionnaire', for the purposes of identifying property interests in land that may be subject to compulsory purchase.</p>
<p>Personal information may also be obtained from other publicly available sources of information including Land Registry, Companies House, and the Electoral Roll. Information from publically accessible sources will be collated prior to the completion of a Land Interest Questionnaire.</p>
<p>We use your personal information for the purposes of compiling information to identify owners of land that are or may be affected by transport schemes which require compulsory purchase powers in order to be implemented. Part of that process includes compiling and publishing a book, often referred to as a Book of Reference, which will include names and addresses of land owners and the interest(s) they hold in certain land. A Book of Reference must be published and made publically available as set out by legislation.</p>
<p>If you own an interest in affected land when compulsory purchase powers are used you will be required to provide personal information for the purposes of preparing any notices  to acquire land required for a transport scheme, assess claims for compensation, make compensation payments, audit (including fraud prevention), financial analysis and service improvement.</p>
<p>We will not pass, sell or rent your personal information on to any other organisation for marketing purposes.</p>
<h2>Length of time we keep your information</h2>
<p>TfL will retain personal information in line with its data retention policies. This means that we will not hold information for longer than is necessary for the purposes we obtained it for.</p>
<p>We will keep your personal information for as long as a compulsory purchase scheme is being promoted, and for as long as any compensation claims remain outstanding. After this is complete, we will keep your information for up to 25 years.  This is for the following reasons:</p>
<ul>
    <li>To respond to correspondence, concerns or complaints	</li>
    <li>To maintain records according to rules that apply to us (for example financial regulations or property or contract law)</li>
    <li>To establish and defend any legal rights </li>
    <li>For audit and analysis and service improvement.</li>
</ul>
<h2>Keeping your information secure</h2>
<p>We take the privacy of those impacted by schemes very seriously and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal information.</p>
<p>Anyone with access to personal information held in TfL's systems is required to complete TfL's privacy and data protection training on an annual basis.</p>
<p>
We also publish guidance on the steps you can also take to <a href="/corporate/privacy-and-cookies/protect-your-data">protect your personal information</a>.</p>
<h2>Automated processing and profiling</h2>
Under data protection legislation we have to let you know when we use your personal information to do something 'automatically' using our computers or other systems, or use it to make an automated decision (without human intervention) that significantly affects you.
<p>TfL does not make any compulsory purchase related decisions based solely on the use of automated systems, databases or computer applications.</p>
<h2>Sharing your information</h2>
<p>
We share your personal information with our subsidiaries and service providers for the purposes of identifying ownership, acquiring land required for a transport scheme, assessing claims for compensation, making compensation payments, auditing (including fraud prevention), financial analysis and service improvement.  Third parties that we work with include:</p>
<ul>
    <li>Land referencing companies</li>
    <li>Specialist compulsory purchase consultants, surveyors and valuers</li>
    <li>Lawyers</li>
    <li>Engineers and designers</li>
    <li>Accountants (including forensic accountants)</li>
    <li> Insurance providers &#45; in the event you make a claim on TfL's insurance policy</li>
</ul>
<p>Where you have direct engagement with our service providers, they will maintain records of their own.  You should check their terms of service for further information on how they will process your information.</p>
<p>At our discretion, we may disclose personal information in response to valid requests from the police.  Before we authorise any disclosure, the police have to demonstrate that the personal information concerned will assist them in the prevention or detection of a specific crime, or in the apprehension or prosecution of an offender.   Each request from the police is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with data protection legislation.</p>
<p>
TfL and its service providers may process your personal information in countries within the European Economic Area (EEA).  Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>
<h2>Your information rights</h2>
<p>
Under data protection legislation you are entitled to ask to see any personal information that we hold about you.</p>
<p>
You also have a number of other information rights which include:</p>
<ul>
    <li>The right to question any information we have about you that you think is wrong or incomplete</li>
    <li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
    <li>The right to complain to our Data Protection Officer at <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a></li>
    <li>The right to complain to the regulator &#45; the Information Commissioner's Office, at <a href="http://www.ico.org.uk">www.ico.org.uk</a></li>
</ul>
<h2>Changes to this notice</h2>
<p>
It's likely that we'll need to update this statement from time to time, and will notify you of any changes when made. This statement was last updated in May 2018.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Compulsory purchase privacy notice";}
        
            
        


 