
    
  



@{ViewBag.Title = "Contactless payment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/contactless-payment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contactless payment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contactless payment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how TfL uses the personal information you supply when using contactless payment for travel. It also describes how long that information is kept for and the circumstances in which we might disclose it to a third party
        
      </div>
    
    <div class="on-this-page">
      <p>If you use an&nbsp;Oyster card for travel please see our <a href="/corporate/privacy-and-cookies/oyster-card">Oyster privacy</a> page.</p>

<p>Contactless payment methods can include bank/credit cards, mobile phone applications, key fobs, wristbands, payment stickers and tags. Please see <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">What is a contactless payment card</a> to find out more.</p>

<h2>Personal information we hold</h2>

<p>Signing up for a customer account is optional for all users of contactless payment for travel. If you are a registered customer and have an online account, the personal information we will hold includes:</p>

<ul>
	<li>Name, billing address, email address, telephone number</li>
	<li>Password/memorable information</li>
	<li>The PAN (16 digit number) and expiry date of each contactless payment card registered</li>
	<li>Journey history (including journeys made on National Rail services that accept contactless payments)</li>
	<li>Your marketing and contact preferences</li>
	<li>Transaction information (including journeys and refunds)</li>
	<li>Enquiries, complaints or other correspondence from you</li>
</ul>

<p>Where TfL asks for the three digit CVV or CSV code from the reverse of your card, this is for validation/verification purposes only and helps us to check with your card issuer the card has not been reported lost or stolen. The code is deleted immediately after this process is completed.</p>

<p>If you sign in to your online web account, TfL will collect the IP address used by your device for the purpose of fraud prevention and detection.</p>

<h2>Legal basis for using your information</h2>

<p>Under privacy and data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of contactless, there are a number of these 'legal grounds' we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL, for example:
	<ul>
		<li>where you have opted in to receive marketing messages or in-app notifications from us; or</li>
		<li>you have asked the contact centre to resolve an issue or complaint for you</li>
	</ul>
	</li>
	<li>For the 'performance of a contract', for example:
	<ul>
		<li>in connection with paying for a journey</li>
		<li>where you have created an online account so we can provide additional services to you</li>
	</ul>
	</li>
</ul>

<h2>Obtaining and using your&nbsp;personal information</h2>

<p>The personal information we hold is provided by you when you&nbsp;create an online account via our website.</p>

<p>If you contact Customer Services in connection with your contactless payment card, we will create a record of this. If you phone TfL your call may also be recorded for training and quality purposes.</p>

<p>TfL's ticketing systems record the location, date and time a contactless card is used to make a journey on TfL's network, affiliated National Rail services or London River on services on which&nbsp;contactless cards are accepted.</p>

<p>If you sign up for an online account, from time to time we will send you travel related information by email. These will be messages that are useful to know in relation to the way you travel, and might include.</p>

<ul>
	<li>important changes to services you use</li>
	<li>new travel services</li>
	<li>travel disruption</li>
	<li>information about fares</li>
	<li>consultations on TfL's plans for transport in London</li>
	<li>changes to terms and conditions of travel</li>
</ul>

<p>We appreciate that you don't always want to be contacted in this way, so all our emails will include a hyperlink so you can opt out from receiving future service messages at any time.</p>

<p>We will only send you messages about TfL's offers and promotions (marketing messages) if you choose to receive them, and you can change your marketing preferences at any time.</p>

<p>TfL will never pass your personal information to any other organisation for marketing purposes without your prior consent.</p>

<p>TfL will use aggregated or depersonalised contactless journey information to carry out research and analysis, for example, to look at travel demand, provide customers with information on how busy stations are at particular times and to make improvements to our transport services. Individuals will not be identified using this information.</p>

<h2>Choosing not to provide personal information</h2>

<p>You can use your contactless payment card to&nbsp;travel at any time without providing&nbsp;any other&nbsp;personal information to TfL or creating an online account.</p>

<p>If you use contactless payment for travel in this way, we will still hold the payment card details and journey data in the same way; however, no other personal information (eg your name or address) will be linked to your transaction.</p>

<p>If you choose not to provide personal information to us, you will not be able to open an online account. It may also delay or prevent us from offering other services to you such as the resolution of complaints or concerns, or issuing you a refund.</p>

<h2>Length of time we keep information</h2>

<p>TfL will retain personal information in line with its data retention policies. This means that we will not hold information for longer than is necessary for the purposes we obtained it for.</p>

<p>We retain data about the individual journeys made using contactless payment for 13 months after the card is used. This is the case whether or not you have added the card to an online account. After this time, the journey data in the ticketing system is disassociated from your payment card (ie pseudonymised). This 13 month period is necessary because the details of your journey and payment cannot be separated and, like other retailers, TfL has to retain this transaction data in accordance with financial service industry regulations.</p>

<p>You have the option to disassociate a contactless payment card from your online account at any time. If you ask us to do this, details of the card will also be disassociated from your other personal information.</p>

<p>IP addresses collected when you access your online account are retained for 13 months. This helps TfL monitor for things like online fraud, for example when people apply for online refunds.</p>

<p>Call recordings made when you contact Customer Services are kept for 6 months.</p>

<h2>Keeping personal information secure</h2>

<p>We take the privacy of our customers very seriously, and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal information associated with contactless payment cards.</p>

<p>Anyone with access to personal information held in TfL's systems is required to complete TfL's privacy and data protection training on an annual basis.</p>

<p>This includes ensuring that your payment card data is handled in accordance with the Payment Card Industry Data Security Standard ('PCI DSS').</p>

<p>We also publish <a href="/corporate/privacy-and-cookies/protect-your-data">guidance</a> on the steps you can also take to protect your personal information.</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we use your personal information to do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>

<p>TfL calculates the fares you are charged using automated means &#45; ie using the location where you start your journey (touch in) and, if travelling by train or tube, end your journey (touch out). If you use a pink card reader, that data will be used to confirm you took a particular route and charge you accordingly.</p>

<p>On some occasions, TfL may 'auto complete' a journey for you if you do not tap your payment card on a yellow reader at both ends of your journey. We do this by looking at other journeys you have made and making an assumption about the likely origin or destination of the incomplete journey.</p>

<p>If you are due a refund as a result of TfL auto completing your journey (eg if you were originally charged a maximum single fare), we will also automatically load the refund amount to your payment card.</p>

<p>We may also proactively issue you a refund if we can see from your journey history that you have been affected by a major disruption or incident that has severely impacted your travel.</p>

<p>If you believe you have been incorrectly charged, or not received a refund you were due, you can ask Customer Services to review those transactions.</p>

<p>We analyse journey patterns and transaction history to inform measures to protect TfL against fare evasion and fraudulent transactions. We use this data in different ways. For example, to identify 'hotspots' so we can deploy Revenue Inspectors in certain London Underground stations or on particular bus routes.</p>

<p>We may also use the outcome of our analysis to contact customers directly, with advice to touch in and out at the correct stages of a journey. In cases where we suspect fraud, we might invite you to attend a formal interview with us.</p>

<p>We may also disable online Oyster and contactless accounts based on online activities.</p>

<p>We use your journey history or travel patterns as the basis for sending service messages. For example if you regularly use the Central Line, we might use this information to help decide that messages about service alterations on that line would be helpful for you to know.</p>

<p>Similarly, we may use postcode information to decide that it would be useful for you to know about changes to travel services near where you live, such as a station or bus stop closure or a road closure or diversions.</p>

<p>The purpose of this type of profiling is to make sure that we send only information to people who will actually find it relevant and useful. You are able to opt out from receiving these kinds of messages at any time.</p>

<p>Part of our statutory responsibilities includes a duty to do all we reasonably can to reduce crime and disorder on and around the transport system &#45; and we work together with our local authority, policing, and other law enforcement partners as part of this.</p>

<p>We may use aggregated or depersonalised contactless journey data to undertake intelligence, analysis and research activities to identify and inform responses to a number of issues including:</p>

<ul>
	<li>Reducing all crime and anti-social behaviour on and around the public transport network</li>
	<li>Creating crime and anti-social behaviour strategies</li>
	<li>Targeting crime and disruption hotspots to better coordinate and deploy policing resources</li>
	<li>Reducing fear of crime and improving public confidence in the safety of the journeys they make in the capital</li>
</ul>

<h2>Sharing personal information</h2>

<p>TfL has contracts with a number of third party service providers, who provide the majority of the administration and 'back office' services that ensure the efficient day-to-day operation of our electronic ticketing systems. This includes our electronic ticketing systems, some&nbsp;customer services support and the customer relationship database.</p>

<p>If you use your contactless payment card on National Rail services, we may share your personal data with the relevant train operating companies for the same purposes as TfL handles your data, ie customer services and administration, the provision of travel related information, customer research and fraud prevention. The same applies if you use your contactless card on river services operated by other companies.</p>

<p>Where you have agreed to receive marketing messages from train operating companies, we will pass them your contact details.</p>

<p>TfL will not share the details of individual journeys with your bank or credit card provider. These transactions will appear on your bank or credit card statement in the same way as any other purchase made using that card.</p>

<p>From time to time TfL or other organisations (such as your bank or credit card provider) may want to offer you the opportunity to participate in offers, promotions or fundraising initiatives linked to the use of contactless payment on TfL services. If this involves sharing information such as the details or cost of a journey you've made, TfL (or that other organisation) will always let you&nbsp;know and where appropriate&nbsp;seek your prior consent.</p>

<p>We have partnerships with a number of academic institutions in the UK and overseas (eg the&nbsp;USA), who work with us to analyse journey patterns and undertake travel modelling to help us understand the way our customers travel so we can improve and plan our services for the future.</p>

<p>To do this we provide them with journey data derived from our contactless systems that has been processed, replacing data, where required, with alternative identifiers (pseudonyms) so that it isn't possible to identify an individual customer. All academic research is carried out in accordance with privacy and data protection legislation and protected by robust confidentiality agreements.&nbsp;</p>

<p>In some circumstances, disclosures of personal data to the police (and other law enforcement agencies) are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any such disclosure takes place, the police are required to demonstrate that the personal data concerned will assist them in this respect. Each police request to TfL is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with the data protection legislation.</p>

<p>TfL may also receive or disclose personal information about customers&nbsp;in relation to certain emergency situations or other incidents that require an immediate response. Such events may include those involving public health, public safety or national security matters, when access to personal information is necessary to manage the incident. In some situations, we may also be required by law to disclose your personal data to the police or other enforcement, regulatory or Government body, upon a valid request to do so. These requests will be assessed on a case-by-case basis and take into account privacy considerations before a disclosure is made.</p>

<h2>Overseas processing</h2>

<p>TfL, its service providers and academic research partners currently process personal information relating to contactless payment within the UK, the European Economic Area&nbsp;and the USA. Any such processing is subject to appropriate contractual safeguards and carried out in accordance with the requirements of UK and EU privacy legislation.</p>

<h2>Using the ticketing app</h2>

<p>If you download and use our mobile ticketing app, certain information may be collected automatically. This may include the type of mobile device you are using and its unique identifier (such as the device name or ID), Internet Protocol (IP) address, Media Access Control (MAC) address, and IMEI number.</p>

<p>We also use analytics (similar to cookies on websites) which are small files that capture data to help us improve the app's performance. We use them to collect information about your use of the app, such as what app content you access most frequently, or if you receive an error message when using the app.</p>

<p>If you opt in, we will also send you notifications via the app. You can change your mind at any time by amending the settings within your device.</p>

<p>Find out more in the ticketing app <a href="/corporate/terms-and-conditions/tfl-oyster-app">Terms and Conditions</a>.</p>

<h2>Your&nbsp;information rights</h2>

<p>If you are a registered customer, you can see your journey history (for up to the last&nbsp;13 months)&nbsp;and other&nbsp;transactions by signing into your <a href="https://contactless.tfl.gov.uk/">TfL online account</a>. You can also view and update the contact information we hold about you; as well as your contact preferences.</p>

<p>Unregistered contactless payment customers without an account can access the last seven days' journey history online. You will be required to enter your contactless payment card number, expiry date, card security code and billing address on each occasion you wish to access the last seven days of journey and charging data. TfL will use the information you provide to carry out an authorisation check with your card issuer and will not use or retain it for any other purpose.</p>

<p>You can also&nbsp;request a copy of your journey history by calling <a href="/corporate/useful-contacts/index">Customer services</a>. You will be required to verify your card information and identity each time you access this service.</p>

<p>For access to other personal information held by TfL about you, please see&nbsp;our <a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a>&nbsp;page on how to do this.</p>

<p>If you would like to unsubscribe from service or marketing messages, please use the link we include at the end of every email. You can also update your contact preferences within your online account &#45; or by emailing <a href="mailto:unsubscribe&#64;tfl.gov.uk">unsubscribe&#64;tfl.gov.uk</a> at any time.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your data or to ask us to delete or restrict how we use it</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to the regulator - the Information Commissioner's Office</li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinate responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:DPO&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN<br />
&nbsp;</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in February 2020.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL uses the personal information you supply when using contactless payment for travel";}
        
            
        


 