
    
  



@{ViewBag.Title = "Cookies ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/cookies";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cookies </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cookies </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page is about the cookies and similar technologies that may be set on your device when you visit a TfL website, and how you can manage them. 
        
      </div>
    
    <div class="on-this-page">
      <p>This Cookies policy applies to the websites of TfL and its subsidiary companies, including:</p>

<ul>
	<li>Santander Cycles &nbsp;&nbsp;</li>
	<li>Congestion Charging&nbsp;&nbsp;&nbsp;</li>
	<li>Docklands Light Railway&nbsp;&nbsp;&nbsp;</li>
	<li>Journey Planner&nbsp;&nbsp;&nbsp;</li>
	<li>London Overground&nbsp;&nbsp;&nbsp;</li>
	<li>London Transport Museum&nbsp;&nbsp;&nbsp;</li>
	<li>London Underground&nbsp;&nbsp;&nbsp;</li>
	<li>Oyster</li>
	<li>Contactless payment</li>
	<li>Taxi and Private Hire&nbsp;&nbsp;&nbsp;</li>
	<li>TfL Shop</li>
</ul>

<h2>What cookies are</h2>

<p>When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device (eg&nbsp;computer or mobile phone). These include small files known as cookies, and other technologies which conduct a very similar function of understanding people's behaviour while using websites and mobile applications. They can sometimes be used to provide information about your device or its approximate location through the unique IP address associated with it.</p>

<p>These pieces of information are used to improve services for you by, for example:</p>

<ul>
	<li>Enabling a service to recognise your device so you don't have to give the same information several times during one task</li>
	<li>Recognising that you may already have given a username and password so you don't need to do it for every web page requested</li>
	<li>Remembering your previously searched journeys on our journey planner so you can complete the same search quicker and easier</li>
	<li>Storing bus routes, roads and tube lines that you have chosen to add to your favourites&nbsp;on your device so the TfL website will be personalised on your device when you next return</li>
	<li>Measuring how many people are using our online&nbsp;services, so they can be made easier to use and there's enough capacity to ensure they are fast</li>
	<li>Analysing anonymised data to help us understand how people interact with our site so we can make it better</li>
</ul>

<h2>Changing your cookie settings</h2>

<p>We use cookies based on your 'implied consent'. This means that if you continue to use our website, we will assume you are happy for us to set cookies. If you aren't, then&nbsp;there are a number of things you can do. We currently have plans to update the way you give consent for us to use cookies &#45; to make it easier and clearer.</p>

<p>You can set your web browser (eg Chrome, Firefox, Internet Explorer etc) to disable all cookies; allow only 'trusted' sites to set them; or to accept cookies&nbsp;from websites only for the duration of your visit. However, please be aware that if you choose to delete or restrict cookies, some features of our website may not work.</p>

<p>Find out how to manage cookies on popular browsers:</p>

<ul>
	<li><a href="http://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=en">Google Chrome</a></li>
	<li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Microsoft Edge</a></li>
	<li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a></li>
	<li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Internet Explorer</a></li>
	<li><a href="https://www.opera.com/help/tutorials/security/privacy/">Opera</a></li>
	<li><a href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Apple Safari</a></li>
</ul>

<p>You can also&nbsp;visit the&nbsp;<a href="http://www.aboutcookies.org/">AboutCookies website</a>, for more information about cookies and how to manage them.</p>

<p>We sometimes use&nbsp;external suppliers to deliver services on our behalf, which means these cookies may be set by a third party (third-party cookies). We do not control these cookies so if you would like more information about them or information on how to opt out, please see their individual privacy policies (listed below). You can also go to <a href="http://www.youronlinechoices.com/uk/">youronlinechoices.com/UK/</a> to find out more about third-party advertising cookies.</p>

<h2>Our cookies and what they do</h2>

<h3>Strictly necessary cookies</h3>

<p>Without these essential cookies, our website won't work properly. They help you move around secure areas of the website and carry out specific tasks,&nbsp;like journey planning or making a payment.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="strictly-necessary-cookies-in-use-on-our-site-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cookies -Strictly necessary cookies in use on our site"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="strictly-necessary-cookies-in-use-on-our-site-heading" class="accordion-heading">Strictly necessary cookies in use on our site</div>
            </div>
            <div id="strictly-necessary-cookies-in-use-on-our-site-content" class="start-hidden" role="region" aria-labelledby="strictly-necessary-cookies-in-use-on-our-site-heading">
<ul>
    <li>AMWEBJCT!%2Fb!JSESSIONID </li>
    <li>TfLAuth</li>
    <li>TfL_Session</li>
    <li>__RequestVerificationToken</li>
    <li>BIGipServerSSO_Account_Pool</li>
    <li>JSESSIONID</li>
    <li>__cfduid</li>
    <li>JSESSIONID</li>
    <li>ASP.NET_SessionId</li>
    <li>.CSCAuth</li>
    <li>ARRAffinity</li>
    <li>Cust_Port</li>
    <li>Tfl.CycleHire.Authentication</li>
    <li>.ASPXAUTH</li>
    <li>_forum_session</li>
    <li>_t</li>
    <li>isAuthorize</li>
    <li>FedAuth</li>
    <li>PD-S-SESSION-ID  </li>
    <li>AMWEBJCT!%2Fb!LtpaToken2 </li>
    <li>NSC_wtws-umkxt-80 </li>
    <li>PD-ID        </li>
    <li>AMWEBJCT!%2Fb!LtpaToken     </li>
    <li>AMWEBJCT!%2Fb!CP      </li>
    <li>JSESSIONID       </li>
    <li>ASP.NET_SessionId      </li>
    <li>Lchssession       </li>
    <li>cy_track_user      </li>
    <li>other        </li>
    <li>trx_id    </li>
    <li>Paymentnew_id       </li>
    <li>TESTCOOKIE      </li>
    <li>test4.sol      </li>
    <li>settings.sol</li>
</ul>
<p>Strictly necessary local storage</p>
<ul>
    <li>BIGipServerSSO_Account_Pool</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h4>What they do:</h4>
<ul>
    <li>Remember information you've entered in a form or details about a
    payment you want to make. Without them, this would be lost every time
    you moved to a new page </li>
    <li>If you're signed in to a secure area, like Oyster online, they
    recognise that you have already signed in. Without them, you'd need to
    sign in each time you moved to a new page</li>
</ul>
<h3>Performance cookies</h3>
<p>These cookies collect anonymous information about how visitors use
our website - for example, the most popular pages and any error pages you
see. We use this aggregated information to improve our website. We
don't collect any information that identifies you as an individual.
</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="performance-cookies-in-use-on-our-site-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cookies -Performance cookies in use on our site"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="performance-cookies-in-use-on-our-site-heading" class="accordion-heading">Performance cookies in use on our site</div>
            </div>
            <div id="performance-cookies-in-use-on-our-site-content" class="start-hidden" role="region" aria-labelledby="performance-cookies-in-use-on-our-site-heading">
<ul>
    <li>__utma</li>
    <li>__utmb</li>
    <li>__utmc</li>
    <li>__utmt</li>
    <li>__utmz</li>
    <li>_ga</li>
    <li>_gid</li>
    <li>_gid</li>
    <li>ai_authUser</li>
    <li>ai_session</li>
    <li>ai_user</li>
    <li>CTG</li>
    <li>CTG</li>
    <li>extcamp</li>
    <li>MFADFlightViewTimes</li>
    <li>MFADUser</li>
    <li>s_cc</li>
    <li>s_evar1</li>
    <li>s_fid</li>
    <li>s_nr</li>
    <li>s_ppv</li>
    <li>s_sq</li>
    <li>s_vi</li>
    <li>s_vnum</li>
    <li>undefined_s</li>
    <li>utag_main</li>
    <li>WSS_GW</li>
    <li>WSS_GW</li>
</ul>
<p>Performance local storage</p>
<ul>
    <li>grouping_EU, location</li>
    <li>tealium_timing</li>
</ul>
<p>&nbsp;</p>
<ul>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h4>What they do: </h4>
<ul>
    <li>Give us an overall picture of how people use our website by telling
    us things like the number of visitors to each page and what people do on
    a page</li>
    <li>Allow us to test out ideas to find out what's working and what could
    be improved. We do this by seeing what people click on and how they
    move through the site</li>
</ul>
<h3>Functionality cookies</h3>
<p>Functionality cookies record information about choices you've made
and allow us to tailor the website to your needs. They may also take the
form of Flash cookies, which are stored in your Adobe Flash Player
rather than your browser, and control your preferences when watching
online videos or listening to recordings. The <a href="http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">Adobe website</a> has comprehensive information on how to delete or disable Flash cookies.
</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="functionality-cookies-in-use-on-our-site-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cookies -Functionality cookies in use on our site"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="functionality-cookies-in-use-on-our-site-heading" class="accordion-heading">Functionality cookies in use on our site</div>
            </div>
            <div id="functionality-cookies-in-use-on-our-site-content" class="start-hidden" role="region" aria-labelledby="functionality-cookies-in-use-on-our-site-heading">
<ul>
    <li>cookiePolicyGdprNoticeHidden</li>
    <li>discourse_desktop_notifications_focus-tracker</li>
    <li>discourse_emojis_emojiUsage</li>
    <li>fsr.r</li>
    <li>fsr.s</li>
    <li>fsr.STORAGE</li>
    <li>hpp</li>
    <li>IFR_tfl.gov.uk_fsr.a</li>
    <li>oysterCookiePolicy</li>
    <li>PREF</li>
    <li>refreshFavourites</li>
    <li>safeLocalStorage</li>
    <li>settings.sol</li>
    <li>username</li>
</ul>
<p>Functionality local storage</p>
<ul>
    <li>__/cdn/static/feed/stations-list_typeahead</li>
    <li>favourites</li>
    <li>favouritesAuth</li>
    <li>has-personalisation-used</li>
    <li>recentMagicSearches</li>
    <li>seenOnboarding</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h4>What they do: </h4>
<ul>
    <li>Remember any settings you've applied, such as layout, text size, preferences or colours </li>
    <li>Remember if we've already asked you if you want to complete a survey  </li>
    <li>Show you when you're logged in to the website </li>
    <li>Enable us to share information with partners who provide a service
    on our site. This is only to provide the service, product or function,
    not for any other purpose</li>
</ul>
<h3>Advertising cookies</h3>
<p>These cookies are used to show you adverts relevant to you and your
interests. They are also used to limit the number of times you see an
advert, as well as help measure the effectiveness of advertising
campaigns. They are usually placed by advertising networks, with our
permission. </p>
<p>We also share information about your use of our site with our advertising and analytics partners. They may combine it with other information that you've provided to them or that they've collected from your use of their services. They remember that you have visited a website and this
information is shared with other organisations, such as advertisers.
</p>
<p>Please be aware that these cookies are not controlled by TfL. If you
would like more information about the cookies used by the companies or
advertising networks we use, as well as information on how to opt out,
please see their individual privacy policies (listed below).</p>
<p>Please note that while you can change your preferences regarding tailored marketing, the TfL website will still contain generic advertisements.</p>
<h4>Google Analytics</h4>
<p>To opt out of being tracked by Google Analytics across all websites you view, you can <a href="https://tools.google.com/dlpage/gaoptout">download and install a browser add-on</a> created by Google Analytics for this purpose   </p>
<h4>What they do:
</h4>
<ul>
    <li>These cookies collect information about your browsing habits to make advertising content more relevant to you and your interests</li>
</ul>
<p>&nbsp;</p>
<ul>
</ul>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="advertising-cookies-in-use-on-our-site-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cookies -Advertising cookies in use on our site"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="advertising-cookies-in-use-on-our-site-heading" class="accordion-heading">Advertising cookies in use on our site</div>
            </div>
            <div id="advertising-cookies-in-use-on-our-site-content" class="start-hidden" role="region" aria-labelledby="advertising-cookies-in-use-on-our-site-heading">
<ul>
    <li>__apcv</li>
    <li>__ascv</li>
    <li>__cpcv</li>
    <li>__cscv</li>
    <li>__gads</li>
    <li>__lpcv</li>
    <li>__lscv</li>
    <li>__mpcv</li>
    <li>__mscv</li>
    <li>__qca</li>
    <li>__spcv</li>
    <li>__upcv</li>
    <li>_cc_aud</li>
    <li>_cc_cc</li>
    <li>_cc_dc</li>
    <li>_cc_id</li>
    <li>1P_JAR</li>
    <li>ad-id</li>
    <li>ad-privacy</li>
    <li>bcookie</li>
    <li>CONSENT</li>
    <li>d</li>
    <li>DSID</li>
    <li>IDE</li>
    <li>lidc</li>
    <li>mc</li>
    <li>NID</li>
</ul>
<p>Advertising local storage</p>
<ul>
    <li>criteo_pt_cdb_metrics</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="privacy-policies-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cookies -Privacy policies"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="privacy-policies-heading" class="accordion-heading">Privacy policies</div>
            </div>
            <div id="privacy-policies-content" class="start-hidden" role="region" aria-labelledby="privacy-policies-heading">
<h4>Doubleclick (Google)</h4>
<p>This is specific to the display advertising on our sites. User data is anonymous. </p>
<ul>
    <li>Visit <a href="http://www.google.com/policies/technologies/ads/">Google's advertising privacy page</a> </li>
    <li> Visit <a href="https://www.google.com/settings/u/0/ads?hl=en&amp;sig=ACi0TCiUqNSZ1qqOSLEmJcN9VV39UIMIMRLag4U3mdgSlMU-WHNK6ECzQvgSVqvVKOxnE1t_GZc_x76c_kNVbT8TAHOdxkN2mJ7kBhDp2wOT206dGoTDnD7ekD-NBzCmksFJFkAXgLiO3G5QWwK6H305gP295q7VZ2JcgNdn0eB4cJCY8uqotlnBFi_tis5smllxi-tZLNCaDSbNHbXO6W7meVnNjqPPN9an20s3Ads9gm9JsRgmGgCaE-yxdBhKBf4hRfGe0zf1">Google's advertising preferences page</a> </li>
</ul>
<h4>Lotame</h4>
<p>We use Lotame, a third-party data management company, to help deliver relevant advertising to you. Lotame links information about your browsing to your IP address and device to do so. </p>
<ul>
    <li>View <a href="https://www.lotame.com/legal/">Lotame's privacy policy</a> </li>
    <li><a href="https://www.lotame.com/opt-out-preference-manager/">Opt out of Lotame's data collection</a> </li>
</ul>
<h4>Council Advertising Network</h4>
<p>The Council Advertising Network is responsible for delivering advertising on the TfL website. Please read their privacy policy which includes cookie information and details on how to opt out.</p>
<ul>
    <li>View <a href="http://www.counciladvertising.net/can-privacy-policy.html">Council Advertising Network's privacy policy</a></li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div>

<p>We'll always keep our cookies lists as up to date as possible.
</p>
<h3>Embedded content</h3>
<p>Sometimes, we embed images or videos from websites such as <a href="http://www.youtube.com/">YouTube</a>.
As a result, when you visit a page featuring such content, you may be
presented with cookies from these websites. We do not control these
cookies and cannot prevent these sites or domains from collecting
information on your use of this content.
</p>
<p>You should check the relevant third-party website for more
information about them and how to opt out. If you are not logged in to
their services, they will not know who you are but may still gather
anonymous usage information (eg number of views, plays, loads etc).</p>
<p>Read more about <a href="https://support.google.com/youtube/answer/171780?hl=en-GB">YouTube's privacy policy for embedded content</a>.</p>
<h3>Social networking and sharing tools</h3>
<p>On some pages, we also feature embedded 'Share' buttons or widgets
that enable you to share content with friends through a number of
popular social networking sites (eg Google+1; Twitter; Facebook
'Like' etc). </p>
<p>
These sites may set cookies which can identify you as an individual
when you are also logged in to their services. This means they may be
collecting information about what you are doing all around the internet,
including on TfL sites. We do not control these cookies and you should
check the relevant third-party website to see how your information is
used and how to opt out.
</p>
<h3>What web beacons are</h3>
<p>Some of our pages contain electronic images known as web beacons (or
clear gifs), which allow us to count the number of visitors to these
pages. Web beacons are usually only used to track the effectiveness of a
particular advertisement, link or campaign. Some of these web beacons
may be placed by third-party advertisers.
You can visit the <a href="http://www.allaboutcookies.org/faqs/beacons.html">AllAboutCookies website</a> to find out more about web beacons.</p>
<h3>Changes to this page</h3>
<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions.  This page was last updated in May 2018.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on what cookies may be set when you visit a TfL website and how to manage them";}
        
            
        


 