
    
  



@{ViewBag.Title = "Dial-a-Ride";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/dial-a-ride";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Dial-a-Ride</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Dial-a-Ride</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The information on this page explains how Transport for London (TfL) uses the personal information you supply when you contact Dial-a-Ride or use our services. It also describes how long that information is kept and the circumstances in which we might disclose it to a third party.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Personal information we hold</h2>
<p>In order to use the services provided by Dial-a-Ride you need to become a member. This requires completion of an application form which is used to assess and review your eligibility to use the Dial-a-Ride service and to help us take into account your personal accessibility needs when travelling. The personal information we hold includes:</p>
<ul>
    <li>Name, address, date of birth, telephone number, email address</li>
    <li>Information relating to your disability, health or long-term condition (eg relating to your mobility)</li>
    <li>Information relating to your mobility aids and travel requirements</li>
    <li>Proof of your identity (eg driving licence, passport)</li>
    <li>Information relating to your ethnicity (for equal opportunities monitoring purposes: this is optional)</li>
    <li>Emergency contact details</li>
    <li>Taxicard number if you have used this as proof of eligibility</li>
    <li>Any other personal information that you supply in your supporting documentation as part of your application to become a Dial-a-Ride member</li>
    <li>Income information relating to benefits or allowances you receive</li>
    <li>Communication preferences</li>
    <li>Enquiries, complaints or other correspondence from you</li>
    <li>Records of the journeys you have booked with Dial-a-Ride</li>
</ul>
<p>If you telephone the Dial-a-Ride customer contact centre, your call will be recorded for training and quality purposes.</p>
<h2>Legal basis for using your information</h2>
<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so.  In the case of Dial-a-Ride, there are a number of these legal grounds we rely on, which are:</p>
<ul>
    <li>Our statutory and public functions:
    <ul>
        <li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver  the Mayor's Transport Strategy</li>
    </ul>
    </li>
    <li>Where you have given your consent to TfL, for example:
    <ul>
        <li>you have asked the contact centre to resolve an issue or complaint for you</li>
    </ul>
    </li>
</ul>
<p>Sometimes we also need to collect or store information that is defined as 'special category personal data'. In respect of Dial-a-Ride, this consists of health, disability or mobility information we collect from you, as well as any race or ethnicity information you choose to provide on your application form.</p>
<p>As before, there are a number of legal grounds we rely on when handling this kind of information, depending on the circumstances, which are:</p>
<ul>
    <li>Where we have your explicit consent to do so for a particular purpose</li>
    <li>For the establishment, exercise or defence of legal claims</li>
    <li>Where it's necessary for equality of opportunity or treatment</li>
</ul>
<h2>Obtaining and using your information</h2>
<p>The personal information we hold is provided by you when you register to become a Dial-a-Ride member.</p>
<p>TfL and the companies that process personal information on our behalf will use your personal information for the purposes of customer services and administration (including assessing and reviewing your eligibility to receive the Dial-a-Ride service), the provision of door-to-door travel services, customer research and fraud prevention.</p>
<p>We may send you information from time to time on issues relating to Dial-a-Ride and our other Assisted Transport and public transport services that TfL or London Councils operate in London , such as:</p>
<ul>
    <li>Welcome pack and information on how to use Dial-a-Ride</li>
    <li>In Touch magazine</li>
    <li>Availability of services at certain times of the year (eg bank holidays)</li>
    <li>Other important updates or changes to Dial-a-Ride</li>
    <li>Information about improvements to Taxicard or mainstream bus services</li>
    <li>Consultations about TfL's plans for accessible travel in London</li>
</ul>
<p>If you have registered as a Dial-a-Ride Friend, we will send you a regular electronic copy of our In Touch magazine plus any other updates about Dial-a-Ride and related transport services that you might find useful.</p>
<p>Our Dial-a-Ride vehicles are fitted with CCTV cameras.  This is to ensure your safety and security while you are travelling with us.</p>
<h2>Length of time we keep your information</h2>
<p>If you are successful in your application to become a Dial-a-Ride member, your paper application form will be retained for one year. We will keep an electronic record of your personal information for as long as you're a member of Dial-a-Ride</p>
<p>Supporting documentation such as proof of identity and evidence of eligibility will be securely disposed of immediately after your application has been processed onto our system.  Unsuccessful applications will be retained for one year.</p>
<p>If you submit any enquiries to Dial-a-Ride either by letter, telephone, email or fax, these will be retained electronically in accordance with TfL's information and records disposal policy.</p>
<p>After you stop being a member we will keep your information for up to five years.  This is for the following reasons:</p>
<ul>
    <li>To respond to correspondence, concerns or complaints</li>
    <li>To maintain records according to rules that apply to us</li>
    <li>To establish and defend any legal rights</li>
</ul>
<h2>Keeping personal information secure</h2>
<p>We take the privacy of our customers very seriously and a range of robust policies, processes and physical and technical measures are all in place to control and safeguard access to, and use of, personal information associated with TfL's management and operation of the Dial-a-Ride transport service.</p>
<p>We also publish guidance on the steps you can also take to <a href="/corporate/privacy-and-cookies/protect-your-data">protect your personal information</a>.</p>
<h2>Automated processing and profiling</h2>
<p>Under data protection legislation we have to let you know when we use your personal information do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>
<p>In the case of Dial-a-Ride, TfL does not make decisions based solely on the use of automated systems, databases or computer applications.</p>
<p>Occasionally TfL may use aggregated or depersonalised Dial-a-Ride information to carry out research and analysis, for example, to assess the usage of our service. We may also use it to identify improvements we might need to make to the service (or other assisted travel options in London) in future. Individuals will not be identified using this information.</p>
<h2>Sharing personal information</h2>
<p>TfL uses external service providers to assess eligibility for Dial-a-Ride membership, provide a computerised booking and scheduling system, to undertake customer satisfaction surveys, to distribute in-house information about the Dial-a-Ride service and to provide a small proportion of journeys.</p>
<p>If you have a query about your application or use of the Dial-a-Ride services, and would like a third party to contact us on your behalf, we will only deal with them with your permission. This is the case even if the person is your carer, partner or spouse, a member of your family, living at the same address as you, or your legal representative.</p>
<p>We may also share your personal information with other public bodies such as your local authority for the purposes of safeguarding and with London Councils, who operate the Taxicard and Freedom Pass Schemes, for the purposes of preventing and detecting fraud and the monitoring and planning of assisted transport provision in London. Any such information sharing will be carried out in accordance with privacy and data protection legislation and with the appropriate written agreements in place.</p>
<p>In some circumstances, disclosures of personal data to the police (and other law enforcement agencies) are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any such disclosure takes place, the police are required to demonstrate that the personal data concerned will assist them in this respect. Each police request to TfL is dealt with on a strict case-by-case basis to ensure that any such disclosure is lawful and in accordance with the data protection legislation.</p>
<h2>Overseas processing</h2>
<p>TfL and its service providers may process your personal information in countries within the European Economic Area (EEA).  Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>
<h2>Your information rights</h2>
<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you.  Please see our page on how to access your data for further details.</p>
<p>If you would like to unsubscribe from all service and marketing messages, please email us at <a href="mailto:unsubscribe&#64;tfl.gov.uk">unsubscribe&#64;tfl.gov.uk</a> at any time.</p>
<p>You also have a number of other information rights which include:</p>
<ul>
    <li>The right to question any information we have about you that you think is wrong or incomplete</li>
    <li>The right to object to how we use your information or to ask us to delete or restrict how we use it.</li>
    <li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
    <li>The right to complain to our Data Protection Officer</li>
    <li>The right to complain to the regulator -  the Information Commissioner's Office</li>
</ul>
<h2>Changes to this page</h2>
<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in May 2018.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The information on this page explains how Transport for London (TfL) uses the personal information you supply when you contact Dial-a-Ride or use our services. ";}
        
            
        


 