
    
  



@{ViewBag.Title = "Direct Vision Standard and the HGV safety permit scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Direct Vision Standard and the HGV safety permit scheme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Direct Vision Standard and the HGV safety permit scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how Transport for London (TfL) uses the personal information collected for the operation of the HGV safety permit scheme.
        
      </div>
    
    <div class="on-this-page">
      <p>See&nbsp;our privacy page for <a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a> for details on how we handle personal information for the Congestion Charge, Low Emission Zone, Ultra Low Emission Zone and the ULEZ vehicle scrappage schemes.</p>

<h2>Personal information we hold</h2>

<p>If you apply for a <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">HGV safety permit</a>, the information we may collect includes:</p>

<ul>
	<li>Name, address, email address, telephone number</li>
	<li>Vehicle Registration Marks (VRMs), plus make and model</li>
	<li>Vehicle Identification Number (VIN)</li>
	<li>V5C document or overseas equivalent</li>
	<li>Vehicle Star Rating</li>
	<li>Membership of any other vehicle safety accreditation schemes (eg FORS)</li>
	<li>HGV safety permit reference number (issued by TfL)</li>
	<li>Photographs of vehicle safety features</li>
	<li>Enquiries, complaints or other correspondence</li>
	<li>Call recordings</li>
</ul>

<p>Once enforcement of the scheme begins in October 2020, we may also hold information about:</p>

<ul>
	<li>Penalty Charge Notices (PCNs) issued to you</li>
	<li>VRM and images captured by Automatic Number Plate Recognition (ANPR) cameras</li>
	<li>Payment card data (in encrypted form)</li>
	<li>Transaction history</li>
	<li>Information about the suspension or withdrawal of a safety permit</li>
	<li>Enforcement action for non payment of PCNs</li>
</ul>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of the HGV Safety Permit Scheme, there are a number of these 'legal grounds' we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy;</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL:
	<ul>
		<li>for example where you have opted in to receive marketing messages from us or asked the contact centre to resolve an issue or complaint for you.</li>
	</ul>
	</li>
</ul>

<h2>How we use your personal information</h2>

<p>We will use your personal information for the purposes of processing your HGV Safety Permit application and operating the HGV Safety Permit Scheme.</p>

<p>This includes:</p>

<ul>
	<li>verifying your vehicles' star rating under the Direct Vision Standard</li>
	<li>ensuring your continuing compliance with all safety permit requirements</li>
	<li>enforcement (from October 2020). This will include:
	<ul>
		<li>issuing PCNs to vehicles in breach of the scheme</li>
		<li>withdrawing or suspending safety permits.</li>
	</ul>
	</li>
</ul>

<p>Your permit application is not linked to any other road user charging account you may have. You can create a new account specifically to manage and view any correspondence about your safety permits and the Direct Vision Standards, but you do not have to do so.</p>

<p>From time to time we may also send you travel related information about the Safety Permit scheme, the Direct Vision Standard (DVS) or other Road User Charging schemes operating in London. Examples might include consultations on proposed changes, updates on permit standards, the level of charges or hours of operation.</p>

<p>We may also send you updates on other issues affecting road users (eg road closures or restrictions, major events or incidents). You will be able to unsubscribe from any or all of these messages at any time.<br />
We will only send you information about TfL's offers and promotions if you choose to receive it. You will be able to change your marketing preferences at any time.<br />
We will not pass your personal information on to any other organisation for marketing purposes without your prior consent. In addition we do not sell or rent personal data to third parties for this purpose.</p>

<p>We will enforce the scheme with our network of Automatic Number Plate Recognition (ANPR) cameras that capture an alpha-numeric 'read' of a VRM and photographic (still) images of the vehicle. These are the same cameras that we use to operate the Congestion Charge, Low Emission Zone and Ultra Low Emission Zone.</p>

<p>Our IT system will check whether a particular HGV vehicle seen by the cameras has a valid safety permit or is fully exempt from the safety permit scheme. If that's the case, the images will be deleted. If the vehicle is non-compliant, TfL will retain the data for enforcement purposes.</p>

<p>We also use our ANPR cameras and the VRMs captured for traffic monitoring and research. This includes:</p>

<ul>
	<li>analysing the types of vehicles on London's roads</li>
	<li>analysing numbers of vehicles on London's roads</li>
	<li>measuring average journey times to assess levels of congestion on key routes.</li>
	<li>monitoring the impact of specific roadworks on journey times</li>
</ul>

<p>When doing this, we replace the VRM with an alternative set of letters and numbers. This is called 'pseudonymisation' and is a way of distinguishing vehicles in a dataset by using a unique identifier that does not reveal its 'real world' identity. This is a way of protecting people's privacy in line with the Information <a href="https://ico.org.uk/media/1061/anonymisation-code.pdf">Commissioner's Anonymisation Code of Practice</a>.</p>

<h2>Length of time we keep information</h2>

<p>We will retain your information for the period that your permit is valid and for a certain period after it expires. We retain your information for the following reasons:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints</li>
	<li>To evaluate the scheme and collect feedback</li>
	<li>To maintain records according to rules that apply to us (for example financial regulations)</li>
	<li>To establish and defend any legal rights</li>
</ul>

<p>Details of a PCN will be retained for seven years after you paid the PCN (this will include images of the vehicle).</p>

<h2>Keeping personal information secure</h2>

<p>We take the privacy of our customers very seriously, and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal information associated with Road User Charging schemes. This includes payment card data which is handled in accordance with the Payment Card Industry Data Security Standard ('PCI DSS').</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we do something 'automatically' using our computers or other systems or make an automated decision (without human intervention) that significantly affects you.</p>

<p>Permits will be issued on an automated basis where your application is for a vehicle with a Star Rating of 1 or above. Vehicles that are exempt from (or not subject to) the permit scheme will also be automatically identified from the information provided in your application.</p>

<p>The way vehicle data will be captured by our ANPR cameras, and the way PCNs will be issued will be the same as for our <a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging schemes</a>.</p>

<h2>Sharing your information</h2>

<p>TfL has contracts with a number of third party service providers, which provide the majority of the administration and back office services that ensure the efficient day-to-day operation of the HGV Safety Permit scheme (as well as our road user charging schemes). This includes the customer database, the installation and maintenance of the cameras, the secure IT connection to the DVLA and debt recovery services within the UK and overseas.<br />
Different departments within TfL may share information to help ensure compliance with the HGV safety permit scheme and to monitor the effectiveness of the Direct Vision Standard more generally.</p>

<p>As well as our own in house traffic monitoring, we sometimes work with external research companies. We ensure that research is carried out in accordance with privacy and data protection legislation and is protected by robust confidentiality agreements.</p>

<p>So we can operate and enforce the HGV safety permit scheme, we may share and receive information from several other organisations, including:</p>

<ul>
	<li>Driver and Vehicle Licensing Agency</li>
	<li>Driver and Vehicle Standards Agency</li>
	<li>Fleet Operator Recognition Scheme (FORS)</li>
	<li>roads and transport units in the Met and City of London Police</li>
	<li>Driver and Vehicle Agency Northern Ireland</li>
	<li>Society of Motor Manufacturers and Traders</li>
	<li>relevant Traffic Commissioners</li>
	<li>HGV manufacturers</li>
	<li>other relevant or equivalent UK or foreign organisations</li>
</ul>

<p>After enforcement begins in October 2020, if you fail to pay an outstanding PCN, we may apply to the Traffic Enforcement Centre at Northampton County Court to register the money owed as a debt. This allows us to take further steps to recover it. In order to do this we will share details of your PCN and other relevant information with them. We will send you a copy of the information at the same time.</p>

<p>If your PCN continues to be unpaid, we may pass the unpaid debt to an enforcment agent to collect the money owed on TfL's behalf.</p>

<p>At our discretion, we may disclose personal data in response to valid requests from the police. Before we authorise any disclosure, the police have to demonstrate that the personal data concerned will assist them in the prevention or detection of a specific crime, or in the apprehension or prosecution of an offender. Each request from the police is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with data protection legislation.</p>

<h2>Overseas processing</h2>

<p>TfL and its service providers process personal information relating to Road User Charging within the UK and the European Economic Area (EEA). Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>

<h2>DVS Awareness campaign</h2>

<p>TfL is working hard to raise awareness about the Direct Vision Standard and Safety Permits for HGVs - and what it means for you and your vehicles from October 2019.</p>

<p>We're actively contacting affected people and businesses (using HGVs over 12 tonnes) who have been a congestion charge, LEZ or ULEZ customer in the past 13 months and who we hold an email address for. We will provide you with information about the Direct Vision Standard, how to check your vehicle's star rating and how to apply for a Safety Permit.</p>

<p>We will do this by checking the number plate of a HGV to see whether it will be required to have a safety permit (ie whether the vehicle is over 12 tonnes).</p>

<p>If you're not already a road user charging customer and your HGV has been seen within Greater London by our cameras, we will also write to you with advice on what to do next in order to comply. To do this, we will pass the number plates to the DVLA, so that they can match them against their database of registered keepers &#45; and send you advice from TfL on how to check your vehicle's DVS star rating and how to apply for a Safety Permit.<br />
We're working with the DVLA to contact people in this way as part of TfL's statutory obligations to raise awareness of the Direct Vision Standard and Safety permits and take all reasonable steps to help affected road users comply with the scheme.</p>

<p>In order to protect your privacy as much as possible for the purposes of this mail out, TfL will not provide the DVLA with any details of when or where your vehicle was seen by our cameras &#45; and, in turn, they will not provide TfL with your name or any of your contact information.</p>

<p>Therefore, if you receive a letter and need to contact us about it, you must include details of your vehicle number plate as we do not have a database of names and addresses and the associated vehicle number plates.</p>

<p>The DVLA will not use the number plates received from TfL for any other purpose and both TfL and DVLA will delete the data as soon as possible after the mail-outs are complete.</p>

<h2>Your information rights</h2>

<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you.</p>

<p>If you are a registered customer, you can access and update your personal information by signing into your online account.</p>

<p>For access to other personal information held by TfL in connection with Road User Charging or the scrappage scheme, please see our page on how to <a href="/corporate/privacy-and-cookies/access-your-data">access your data</a>.</p>

<p>If you would like to unsubscribe from service or marketing messages, please use the link we include at the end of every email. You can also update your contact preferences within your online account - or by emailing <a href="mailto:unsubscribe&#64;tfl.gov.uk">unsubscribe&#64;tfl.gov.uk</a> at any time.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to the regulator - the Information Commissioner's Office</li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to any requests that relate to an individual's rights under the GDPR and complaints from people whose personal data is processed by TfL and its subsidiary companies.</p>

<p>You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or in writing to:</p>

<p>Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in October 2019.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Privacy information for the HGV safety permit scheme";}
        
            
        


 