
    
  



@{ViewBag.Title = "Event data from mobile devices";}
@{ViewBag.Keywords = "TfL,event data mobile devices privacy";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/event-data-from-mobile-devices";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Event data from mobile devices</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Event data from mobile devices</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are carrying out research so we can better understand travel patterns across London. This will involve using &quot;event data&quot; from mobile devices using the O2 Network.
        
      </div>
    
    <div class="on-this-page">
      <p>We will not be able to identify anyone from this project. Nor will we be able to identify people's individual travel patterns or access any other personal information. We will be using depersonalised and aggregated 'event data' from mobile devices using the O2 network.</p>

<h2>Mobile phone event data</h2>

<p>Mobile devices (eg phones and tablets) generate event data as they communicate with the network that they are connected to.</p>

<p>Event data from devices using the O2 network is collected by O2's mobile network infrastructure, across the whole of the UK. The output is depersonalised (to remove information that could identify people) and aggregated (to combine many people's similar journeys) by O2. This means that they create summaries of travel patterns at crowd level, based on the geographical areas around mobile phone masts.</p>

<p>The O2 network is used by O2 and a number of Mobile Virtual Network Operators - <a href="http://www.o2.co.uk">contact O2</a> for full details.</p>

<p>As part of this project, a copy of this depersonalised and aggregated data is being securely transferred by O2 to TfL. The data was collected from September to November 2016. We are using this mobile device event data along with other depersonalised and aggregated datasets to improve our understanding of people's patterns of travel across London.</p>

<p>It's important for us to emphasise that the data used for this project is being aggregated to provide travel patterns at a crowd level. Any data relating to crowds of fewer than 10 individual devices is automatically randomised. This will ensure that TfL does not unintentionally identify any individual.</p>

<h2>Why we are using mobile phone event data</h2>

<p>We thoroughly investigated different data sources that could provide the information we need. We also took advice and guidance from leading industry experts.</p>

<p>This process was followed by a Europe-wide procurement exercise to help understand the best way of collecting this type of travel demand data. We found that using mobile phone event data combined with TfL's other data sources at a depersonalised level was the most effective way of obtaining the information we need.</p>

<h2>Will TfL be able to identify me?</h2>

<p>No, we will not be able to identify any individual O2 or TfL customers as part of this project. We use data anonymisation techniques to obscure the movements of small numbers of people (fewer than 10) between the large origin and destination areas (approximately 1.4 kilometers wide).</p>

<p>TfL is working with O2, which will be providing depersonalised and aggregated data to TfL, in order to ensure that both organisations comply with all relevant privacy and data protection laws. The level of detail included in the data provided to TfL by O2 is carefully controlled to ensure that it would be impossible for us to use it to identify individuals.</p>

<p><a href="http://www.o2.co.uk/termsandconditions/privacy-policy">More information about O2 customer privacy policies</a>.</p>

<h2>At the end of the project</h2>

<p>Once the project is complete, we will use the results to update and enhance TfL's strategic transport models. We use these in many different ways -&nbsp;for example, to inform policy in the Mayor's Transport Strategy, to support the case for major infrastructure investment and to&nbsp;understand the likely impacts of new developments.</p>

<p>Data from these models also underpins a system called WebCAT, TfL's online planning tool. This shows how well-connected a location is in terms of access to public transport both now and in the future.</p>

<h2>Why TfL has commissioned this project</h2>

<p>One of our responsibilities is to plan the future of London's transport. To help with this we develop transport models that forecast future trip numbers and how people are likely to travel. This information helps us understand the likely impact of new policies and transport investment. It is important that these models can represent current travel behaviour, and so this information needs to be collected.</p>

<p>While there is a lot of data available on how people use public transport on our network, there is much less data on how people use roads, cycle paths and pavements.</p>

<p>In the past, this type of information has been collected through roadside interview surveys, which involve stopping vehicles at the side of the road to ask drivers questions or hand-out questionnaires. These methods of data collection are expensive and are becoming more difficult because of due to the disruption that they cause to travellers.</p>

<p>Buying anonymous and aggregated mobile phone event data is a practical alternative to these methods. It will provide data on trip patterns in a cost efficient, safe way without inconveniencing customers or compromising their privacy.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Project Edmond event data from mobile devices";}
        
            
        


 