
    
  



@{ViewBag.Title = "External Recruitment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/external-recruitment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">External Recruitment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>External Recruitment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The information on this page explains how Transport for London and its subsidiaries including London Underground Limited (TfL) use your personal information when you apply for a job with us. It also describes how long that information is kept for and the circumstances in which we might disclose it to a third party.
        
      </div>
    
    <div class="on-this-page">
      <h2>Personal details we hold</h2>
<p>The personal information we hold includes:</p>
<ul>
    <li>Name, address, telephone number, email address</li>
    <li>Gender</li>
    <li>Date of birth</li>
    <li>Employment history, other relevant experience, achievements, skills and qualifications</li>
    <li>Equalities monitoring information (if provided)</li>
    <li>The notes and outcome of any interviews or tests which form part of the recruitment process</li>
    <li>Employment references and the results of any pre-employment screening</li>
    <li>Any other additional information provided by you in the context of the recruitment and selection process (eg a completed health questionnaire, proof of your right to work in the UK, etc)</li>
    <li>Any other correspondence and call recordings relating to your recruitment</li>
</ul>
<h2>Legal basis for using your information</h2>
<p>Under privacy and data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so.  In the case of your recruitment application with TfL, these 'legal grounds' are:
</p>
<ul>
    <li>For the performance of a contract, or to take steps at your request, prior to entering into a contract:
    <ul>
        <li>In this case a contract of employment</li>
    </ul>
    </li>
    <li>Where you have given your consent to TfL, for example:
    <ul>
        <li>Where you agreed we can keep your information to identify any future employment opportunities which may be of interest to you</li>
    </ul>
    </li>
</ul>
<p>Sometimes we also need to collect or store information that is defined as 'special category personal data'. In the case of your recruitment application this is likely to consist of the following, where you choose to provide it: </p>
<ul>
    <li>race and ethnic origin</li>
    <li>	religion</li>
    <li>	health (physical or mental)</li>
    <li>	sex life or sexual orientation</li>
</ul>
<p>In addition, UK privacy legislation has added information about criminal allegations, proceedings or convictions to the list of special categories compiled under EU law.</p>
<p>As before, there are a number of 'legal grounds' we rely on when handling this kind of information, depending on the circumstances, which are:</p>
<ul>
    <li>	Where we have your explicit consent to do so for a particular purpose
    </li>
    <li>	Where it's necessary for carrying out the obligations and exercising specific rights of TfL or you  in the field of employment law
    </li>
    <li>	For the establishment, exercise or defence of legal claims
    </li>
    <li>	Where's it's necessary for equality of opportunity or treatment
    </li>
    <li>	Where it's necessary for the prevention and detection of crime or fraud</li>
</ul>
<h2>Obtaining and using your information </h2>
<p>The personal information we hold about you comes from the following places:</p>
<ul>
    <li>your recruitment application and the supporting information you included with it</li>
    <li>	pre-employment checks, vetting and references from external parties</li>
    <li>information created by TfL during the course of your recruitment application, such as interview notes or assessment results</li>
</ul>
<p>TfL and the companies that process recruitment related information on our behalf will use your personal information to: </p>
<ul>
    <li>Evaluate your application and assess your suitability for the role in question</li>
    <li>Make a decision about whether you should be selected for interview and appointment</li>
    <li>Conduct relevant pre-employment screening (eg carry out credit reference and criminal record checks; verify your address, academic qualifications and work experience) </li>
    <li>Review and audit the recruitment process and its outcomes</li>
    <li>Carry out equalities monitoring activities</li>
    <li>With your consent, identify any future employment opportunities which may be of interest to you</li>
</ul>
<p>Your personal information will only be accessed and processed by authorised personnel (ie recruiting line managers, HR professionals and occupational health professionals) who are involved in the management and administration of the recruitment process and have a legitimate need to access your personal information.</p>
<p>TfL may use aggregated or depersonalised recruitment data for analysis purposes &#45; for example to ensure that we are receiving applications from all communities and that we are recruiting a diverse workforce. Individuals will not be identified using this information.</p>
<h2>Length of time we keep information</h2>
<p>If your application for employment is successful, TfL will then use your personal information to manage and administer its employment relationship with you. If your application is unsuccessful, TfL will retain your personal information for 12 months from the date on which the relevant recruitment campaign is closed.
</p>
<p>This is for the following reasons:</p>
<ul>
    <li>To respond to correspondence, concerns or complaints</li>
    <li>To maintain records according to rules that apply to us (for example employment law)</li>
    <li>To establish and defend any legal rights</li>
</ul>
<p>If you have given us permission to do so, we may also include your details in the TfL 'Talent Pool' so that we can contact you about future employment opportunities which may be of interest to you.  </p>
<h2>Keeping personal information secure</h2>
<p>TfL takes the privacy of job applicants very seriously and has a range of robust policies, processes and technical measures in place to safeguard their personal information. </p>
<p>Access to systems that hold recruitment related information is restricted to authorised personnel through the use of unique identifiers and passwords. Your information is stored on systems that are protected by secure network architectures and are backed-up on a regular basis (to a second secure location) for disaster recovery and business continuity purposes; and to avoid the risk of inadvertent erasure or destruction.</p>
<p>Anyone with access to personal information held in TfL's systems is required to complete TfL's privacy and data protection training on an annual basis.</p>
<h2>Automated processing and profiling</h2>
<p>Under data protection legislation we have to let you know when we use your personal information to do something 'automatically' using our computers or other systems, or use it to make an automated decision (without human intervention) that significantly affects you.</p>
<p>TfL does not make any recruitment related decisions based solely on the use of automated systems, databases or computer applications.</p>
<h2>Sharing personal information</h2>
<p>TfL has contracts with a number of third party service providers, who provide the administration and 'back office' services that ensure the efficient day-to-day operation of our recruitment and selection processes. These third parties will process applicant information in accordance with TfL's instructions and make decisions regarding the information as part of the delivery of their services; they are also required to put in place appropriate security measures that ensure an adequate level of protection for personal information.</p>
<p>In some circumstances, disclosures of applicant personal information to the police (and other law enforcement agencies) are permitted by the privacy and data protection legislation, if they are necessary for the prevention or detection of crime and/or the apprehension or prosecution of offenders. Each police request to TfL is dealt with on a strictly case by case basis to ensure that any such disclosure is lawful and proportionate.</p>
<p>TfL may also disclose your personal information to a third party in the following circumstances:</p>
<ul>
    <li>If it is necessary to do so in order to establish or defend TfL's legal rights (ie in the context of a court case involving TfL)</li>
    <li>In an emergency where the health or personal security of an applicant is at risk</li>
    <li>Where TfL is otherwise required or permitted by law</li>
</ul>
<h2>Overseas processing</h2>
<p>TfL and its service providers may process your personal information in countries both within, and outside, the the European Economic Area (EEA).</p>
<p>Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>
<h2>Your information rights</h2>
<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you. For more information about how to access your personal information please see the section on subject access requests in Access your data.</p>
<p>You also have a number of other information rights which include:</p>
<ul>
    <li>The right to question any information we have about you that you think is wrong or incomplete</li>
    <li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
    <li>In some cases, the right to receive a copy of your information in a format that you can easily re-use for your own purpose(s)</li>
    <li>The right to complain to our Data Protection Officer</li>
    <li>The right to complain to the regulator -  the Information Commissioner's Office</li>
</ul>
<h2>Changes to this page</h2>
<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in May 2018.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL and its subsidiaries use your personal information when you apply for a job with us";}
        
            
        


 