
    
  



@{ViewBag.Title = "Privacy & data protection policy";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/privacy-and-data-protection-policy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Privacy & data protection policy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Privacy & data protection policy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We process personal data in compliance with data protection legislation and we ensure that our staff are aware of their obligations when processing personal data on behalf of TfL. 
        
      </div>
    
    <div class="on-this-page">
      <h2>Purpose</h2>
<p>1.	The objective of this policy is to ensure that:<br />
(a)	Personal Data is Processed by TfL in compliance with the requirements of data protection legislation and other relevant information governance legislation; and<br />
(b)	TfL Personnel are aware of their obligations when Processing Personal Data on behalf of TfL.</p>
<h2>Definitions</h2>
<p>2.	Cyber Security and Incident Response Team (CSIRT): a business unit within the Technology and Data department of Customers, Communication and Technology.<br />
3.	Data Controller: the organisation (alone, jointly or in common with other organisations) which determines the manner and purposes for which Personal Data is to be processed.<br />
4.	Data Processor: processes data on behalf of the Data Controller (other than an employee).<br />
5.	Data Protection Legislation: General Data Protection Regulation 2016/679 (GDPR) and the Data Protection Act 2018 and, any other legislation in force from time to time in the United Kingdom relating to privacy and/or the processing of personal data. Data protection legislation governs the way in which Data Controllers such as TfL can process an individual's Personal Data. It also gives individuals certain rights regarding the information that is held about them and obliges TfL to respond to any requests from an individual to access their own Personal Data.<br />
6. Data Protection Officer: A statutory requirement of the GDPR is the appointment of a Data Protection Officer (DPO). TfL and its subsidiaries  will appoint a single DPO, reporting to a member of the Executive Committee and will ensure that the DPO is able to operate independently and is provided adequate resources to meet their GDPR obligations. <br />
7.	Data Protection Principles: a set of statutory requirements, which all Data Controllers are obliged to adhere to. The Principles balance the legitimate need for organisations such as TfL to process Personal Data against the need to protect the privacy rights of the Data Subject.<br />
8.	Data Subject: an individual who is the subject of Personal Data.<br />
9.	Information Commissioner: the regulator appointed by the Crown to promote public access to official information and protect personal information. Compliance with the Data Protection Legislation is enforced by the Information Commissioner.<br />
10.	Internal Audit: a department within the Risk and Assurance function of General Counsel.<br />
11.	Personal Data: any information relating to an identifiable person who can be directly or indirectly identified by that information, in particular by reference to an identifier, including name, identification number, location data or online identifier.Personal Data includes expressions of opinion and indications of intention, as well as factual information, and may include pseudonymised data where it is possible to attribute the pseudonym to a particular individual.<br />
12.	Personal Data Breach: the loss, destruction, damage, theft, inappropriate use or unauthorised disclosure of Personal Data.<br />
13.	Personal Information Custodians: senior managers, who are responsible for the Processing of Personal Data within their assigned area of control.<br />
14.	Privacy and Data Protection Team: a business unit within the Information Governance department of General Counsel.<br />
15.	Privacy Risk: that part of TfL's overall risk portfolio which relates to the, integrity, availability and confidentiality of Personal Data.<br />
16.	Processing/Processed: includes collecting, recording, storing, retrieving, transmitting, amending or altering, disclosing, deleting, archiving and destroying Personal Data.<br />
17.	TfL Personnel: includes all TfL employees as well as all temporary staff, contractors, consultants and any third parties with whom special arrangements (such as Data Processor, confidentiality or non-disclosure agreements) have been made.<br />
18.	Transport for London (TfL): the statutory corporation and its operating subsidiaries.</p>
<h2>Organisational scope</h2>
<p>19.	This policy applies to all TfL Personnel and to all Personal Data Processed by or on behalf of TfL at any time, by any means and in any format.</p>
<h2>Policy statement</h2>
<p>20.	TfL will:<br />
(a)	Comply with Data Protection Legislation and adhere to the six Data Protection Principles, as described in the Annex to this policy<br />
(b)	Comply with the statutory requirement to document its processing of Personal Data, including:<br />
i.	The name and contact details of the Data Protection Officer<br />
ii.	The purposes for which Personal Data are processed, and the legal basis for the processing<br />
iii.	Descriptions of the categories of Data Subjects and Personal Data<br />
iv.	The categories of recipients of Personal Data<br />
v.	Details of transfers of Personal Data to third countries<br />
vi.	Retention Schedules<br />
vii.	A description of the technical and organisational security measures protecting Personal Data<br />
(c)	Comply with all other relevant legal requirements which apply to its processing of Personal Data, including:<br />
i.	The Human Rights Act 1998 and the requirement to act in a way which is compatible with the right to respect for private and family life in the European Convention of Human Rights and Fundamental Freedoms<br />
ii.	The Privacy and Electronic Communications (EC Directive) Regulations 2003<br />
iii.	The common law duty of confidence<br />
(d)	Adhere to the requirements set out in the following standards, policies and guidance in order to support its compliance with Data Protection Legislation:<br />
i. European Data Protection Board guidance on compliance with the requirements of the GDPR<br />
ii. The Information Commissioner's guidance documents and Codes of Practice<br />
iii.	The Payment Card Industry Data Security Standard (PCI DSS)<br />
iv.	TfL's Policy on the Disclosure of Personal Data to the Police and other Statutory Law Enforcement Agencies<br />
v.	TfL's Information and Records Management Policy<br />
vi. TfL's Information Access Policy<br />
vii.	TfL's Information Security Policy<br />
viii.	TfL's Code of Conduct<br />
(e)	Implement appropriate structures, systems and processes to manage all Personal Data fairly and lawfully and in a way that ensures its integrity, accuracy, relevance and security<br />
(f)	Be open and transparent about how Personal Data is Processed, providing clear privacy notices at the point at which it is collected, with access to additional supporting information provided via the TfL website<br />
(g) Consider and respond to requests from individuals who object to, or seek to restrict the Processing of their Personal Data, and consider and respond to requests to rectify or erase Personal Data<br />
(h)	Ensure that its procurement processes and contractual arrangements with external service providers include adequate measures to ensure compliance with the Data Protection Principles and associated requirements outlined in this policy, and monitor compliance with those measures<br />
(i) Approach the identification, control, mitigation and elimination of Privacy Risk in the same way as financial and operational risk. This will be reflected in corporate and local risk registers<br />
(j) Follow a privacy by design and default approach to ensure that Privacy and Data Protection is a key consideration in the early stages of any project, and then throughout its lifecycle. Conduct a Data Protection Impact Assessment when using new technologies or planning high risk processing of Personal Data<br />
(k) Give customers an opportunity to consent to receiving future marketing communications at the point at which their Personal Data is first collected; and within any marketing communications, provide a simple and transparent process to unsubscribe<br />
(l)	Ensure that requests from customers to change the use of their data for the purposes of marketing and/or the provision of service updates will be acted on promptly<br />
(m)	Install and use Closed Circuit Television (CCTV) and similar equipment, in accordance with the requirements of the Information Commissioner's Surveillance Camera Code of Practice and the Home Office Surveillance Camera Code of Practice<br />
(n)	Not disclose Personal Data to third parties except where disclosures are permitted by, or required by, law<br />
(o)	Label Personal Data in accordance with its Information Security Classification Standard for protectively marking Information<br />
(p)	Ensure that any complaint about TfL's processing of Personal Data or non-compliance with this policy will be passed to the Privacy and Data Protection Team. The complaint will be dealt with promptly and in accordance with TfL's Privacy and Data Protection Complaints Handling Procedure<br />
(q)	Require all TfL employees directly involved in the Processing of Personal Data to complete appropriate training on an annual basis<br />
(r)	View serious or repeated breaches of this Policy by a TfL employee as misconduct which will be managed and resolved in accordance with relevant disciplinary policies and procedures
</p>
<h2>Responsibility for privacy and data protection compliance</h2>
<p>21.	All TfL Personnel are responsible for actively supporting compliance with this policy and should only process Personal Data for legitimate business purposes directly related to the performance of their duties.<br />
22.	Personal Information Custodians are responsible for:<br />
(a)	Ensuring that TfL Personnel within their area of control are aware of this policy and are adequately trained in the handling of Personal Data<br />
(b)	The assessment and reporting of Privacy Risk linked to the Processing of Personal Data within their area of control. Ensuring that Data Protection Impact Assessments are carried out<br />
(c)	Implementing and documenting appropriate procedures to ensure Processing of Personal Data within their area of control is compliant<br />
(d)Advising the Privacy and Data Protection Team of changes in the Processing of Personal Data, in order to maintain the Data Protection documentation referred to in paragraph 20(b) above<br />
22.	The Data Protection Officer is responsible for:<br />
(a)	Providing advice and guidance on the implementation and interpretation of this Policy and/or Data Protection Legislation, including the assessment of Data Protection Impact Assessments and the provision of suitable Data Protection training<br />
(b)	Promoting. monitoring, auditing and enforcing compliance with this Policy, Data Protection Legislation and any other related statutory, common law or regulatory requirements which apply to TfL<br />
(c)	Providing a first point of contact for individuals whose data is processed, and investigating and resolving complaints about TfL's non-compliance with Data Protection Legislation and/or this Policy<br />
(d)	Liaising with the Information Commissioner's Office on any matter relating to TfL's compliance with Data Protection Legislation and/or this Policy<br />
(e)	Maintaining the documentation of TfL's processing of Personal Data<br />
(f) Maintaining procedures for responding to a Personal Data Breach<br />
24.	All TfL Personnel are responsible for reporting actual or suspected Personal Data Breaches to CSIRT and the Privacy and Data Protection Team in accordance with the Personal Data Breach procedures.<br />
25.	CSIRT is responsible for advising the business on the technical measures and controls required to protect the security and integrity of Personal Data Processed by TfL using electronic information and communications systems.<br />
26.	Internal Audit is responsible for auditing the business processes, operating procedures and working practices of TfL and its service providers which involve the Processing of Personal Data, for the purposes of monitoring compliance with this policy and alerting the Privacy and Data Protection Team to any instances of non-compliance.</p>
<h2>Procedures/Guidelines/Processes</h2>
<p>27.	This policy will be supported by corporate instructions and guidance published via the TfL Management System.</p>
<h2>Approval and amendments</h2>
<p>28.	This policy was first approved by the Commissioner and TfL leadership team on 22 March 2010.<br />
29.	A number of updates to the policy were approved by the Commissioner and TfL Executive Committee on 17 March 2016.<br />
30. Further amendments to this policy to comply with the GDPR were approved by General Counsel on 23 May 2018.<br />
31.	This policy will be subject to periodic review as considered appropriate by General Counsel.<br />
</p>
<h2>Policy owner</h2>
<p>32.	TfL's General Counsel is the designated owner of this policy.<br />
</p>
<h2>Annex: The Data Protection Principles (General Data Protection Regulation Article 5)</h2>
<h3>1.	Personal data should be</h3>
<h4>a) processed fairly and lawfully and in a transparent manner in relation to the data subject.</h4>
<p>TfL will use Personal Data fairly and identify a lawful basis for processing.  In any circumstance in which individuals provide TfL with their Personal Data for the first time, or if it is processed for a new purpose, they will be informed of:</p>
<ul>
    <li>the identity and contact details of the Data Controller and Data Protection Officer;</li>
    <li>the purposes and lawful basis for the processing;</li>
    <li>any the recipients or categories of recipients of the personal data;</li>
    <li>the period for which the personal data will be stored;</li>
    <li>the rights of the individual regarding the processing of their personal data including the rights to access and data portability, rectification and erasure, restriction of processing and the right to object to processing.</li>
    <li>the consequences of not providing the personal data required under statute or for contractual purposes; and</li>
    <li>the existence of, and rights relating to, automated decision making including profiling.</li>
</ul>
<h4>b)	collected for specified, explicit and legitimate purposes and not further processed in a manner that is incompatible with those purposes</h4>
<p>TfL will only process Personal Data for the purpose(s) which the Data Subject was previously informed of and it will not be used for any other purpose that is incompatible with the original purpose(s). Subject to appropriate safeguards being agreed with the Privacy and Data Protection team, further processing for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes shall not be considered to be incompatible with the initial purposes</p>
<h4>c)	adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed ('data minimisation')</h4>
<p>TfL will ensure that only the minimum Personal Data necessary for the purpose is processed and will not collect or hold Personal Data solely on the basis that it might be useful in the future. There should always be a legitimate business reason for the Processing of Personal Data linked to a specific ongoing purpose.</p>
<h4>d)	accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay</h4>
<p>Data will be inaccurate where it is incorrect or misleading as to any matters of fact.<br />
There must be processes in place to maintain the quality of data capture at the point data is first collected or obtained by TfL, and to accurately amend, update or correct Personal Data.</p>
<h4>e)	kept in a form which permits identification of data subjects for no longer than is necessary for the purposes for which the personal data are processed</h4>
<p>Business areas must implement appropriate retention periods and ensure that Personal Data is securely destroyed once the purpose(s) for processing the Personal Data has come to an end; and there is no legal requirement or valid business/operational reason for its continued retention.</p>
<p>Personal data may be stored for longer periods insofar as the personal data will be processed solely for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes subject to implementation of the appropriate technical and organisational measures agreed with the Privacy and Data Protection Team.</p>
<h4>f) processed in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures</h4>
<p>TfL's standard contractual clauses on data protection must be used in any circumstances where Processing of Personal Data on behalf of TfL is carried out by a service provider or other third party.</p>
<p>The Privacy and Data Protection Team must be consulted in the early stages of any project or proposed change to a business process that has any significant implications for the Processing of Personal Data.</p>
<p>Personal Data will be managed in accordance with TfL's Information Security Policy.</p>
<p>TfL Personnel must report any actual or suspected incident, which either has or is likely to, result in the loss, theft, unauthorised disclosure, accidental  destruction or other compromise of Personal Data directly to CSIRT and the Privacy and Data Protection Team in accordance with the Data Breach Procedures.</p>
<p>TfL will comply with the restrictions in the Data Protection Act 1998 on the transfer of Personal Data outside the European Economic Area (which consists of the 28 member states of the European Union plus Norway, Iceland and Lichtenstein).  The Privacy and Data Protection Team must be consulted in advance of any such transfers being undertaken or agreed.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/report-a-crime-or-incident" class="plain-button">Report a crime or incident</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We process personal data in compliance with the Data Protection Act 1998 and we ensure that our staff are aware of their obligations when processing personal data on behalf of TfL. ";}
        
            
        


 