
    
  



@{ViewBag.Title = "Protect your data";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/protect-your-data";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Protect your data</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Protect your data</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here is some practical advice and guidance to help you protect your personal information and reduce the risk of becoming a victim of identity fraud.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Am I really dealing with TfL?</h2>
<p>Criminals may pose as TfL in order to steal your personal data. Personal details can be used to apply for loans, bank accounts, state benefits and credit facilities in your name. Criminals can also use personal information to obtain goods or services and documents such as passports and driving licences.</p>
<p>TfL will never send an unsolicited message asking you to provide your password, financial details or other sensitive information by email or through a link. If you are asked to share this kind of information by someone claiming to be from TfL, it could be an attempt to steal your information, also known as 'phishing'.</p>
<p>Never give out private information (such as account details or passwords), reply to text messages, download attachments or click on any links in emails if you're not sure they're genuine.</p>
<h3>Misleading websites</h3>
<p>Some websites can look like they're part of an official TfL service, or that they provide services on our behalf. This might mean you pay for services that you could get cheaper or for free if you used the official TfL website, such as paying the Congestion Charge or applying for a London taxi driver licence. Always search on <a href="http://tfl.gov.uk">tfl.gov.uk</a> to find official TfL services.</p>
<p>You should also report misleading or suspicious websites claiming to have a connection with TfL to <a href="http://www.actionfraud.police.uk/report_fraud">Action Fraud</a>. You should include:</p>
<ul>
    <li>The website address or URL</li>
    <li>How you found, or were directed to, the website</li>
    <li>Why you thought it was an official TfL website</li>
</ul>
<h3>Phishing emails and scams</h3>
<p>TfL will never use unsolicited emails or text messages to:</p>
<ul>
    <li>Tell you about a refund, Penalty Fare Notice or Penalty Charge Notice</li>
    <li>Ask you for personal or payment information</li>
</ul>
<p>You should report misleading or suspicious emails claiming to have a connection with TfL to <a href="http://www.actionfraud.police.uk/report_fraud">Action Fraud</a>. You should include:</p>
<ul>
    <li>A copy of the suspicious email you received, the sender's email address and the date and time it was received</li>
    <li>If you replied, details of what you sent in the reply (eg whether you sent your bank details, address, TfL username or password)</li>
</ul>
<h3>Using your online accounts</h3>
<ul>
    <li>Remember organisations like TfL and your bank will never ask for your whole password, just specific characters</li>
    <li>Don't click on links in emails to access your online accounts - always type the address in the browser bar, or click on your usual bookmark</li>
    <li>If you receive a suspicious email, contact the organisation it claims to have come from using the contact details you know and trust, before replying to the email with any personal information</li>
    <li>Before carrying out online transactions with TfL, ensure there is a padlock sign in the task bar at the bottom of the screen and that 'https' begins the website address. Click on the padlock to check the authenticity of the website; fraudsters are able to place an image of the padlock in the browser</li>
    <li>Do not disclose the PIN for your payment card(s) over the internet. Online transactions and online banking will never request your payment card PIN</li>
</ul>
<h3>General advice</h3>
<ul>
    <li>Treat your personal information as confidential. Do not disclose it to anyone until you're confident that you know who you are dealing with</li>
    <li>Shred any documents showing your name, address or other details, eg Oyster or Congestion Charge statements, bank/credit card statements, utility bills and chequebook stubs.</li>
    <li>Check your bank and credit card statements promptly for unusual transactions, however small</li>
    <li>Opt out of the public (or 'open') version of the electoral register and telephone directory</li>
    <li>Consider making use of a credit reference agency to obtain a copy of your credit history, so that you can look for suspect applications or accounts</li>
    <li>If you have any doubts about who you are speaking to, call the organisation back using a number you know you can trust</li>
    <li>Even junk mail and telephone cold calls can be useful to a criminal so consider registering with the Mail Preference Service and/or the Telephone Preference Service</li>
    <li>Close dormant accounts (including any you have with TfL)</li>
</ul>
<h3>If you move home</h3>
<ul>
    <li>Inform TfL and all other relevant organisations of your change of address. To ensure you have a complete list of your credit accounts it's a good idea to apply for a copy of your credit file</li>
    <li>Use a redirection service for your post for at least 12 months</li>
    <li>Add your details to the electoral register for your new address but remember to opt out of the public (or 'open') register</li>
</ul>
<h3>Report any unintended disclosure of your personal details</h3>
<p><a href="/help-and-contact/index">Contact us</a> if you think you've given out any information about your TfL account(s) in reply to a suspicious email or text.</p>
<p>Include brief details of what you disclosed (eg name, address, username, password, Oyster card number etc) but don't include any of those personal details in the email.</p>
<h2>Choosing effective passwords</h2>
<p>If you use weak passwords there is a risk that other people may be able to impersonate you to commit fraud and other crimes, including:</p>
<ul>
    <li>Accessing your TfL accounts and associated Oyster journey history, Cycle Hire or Congestion Charge transactions</li>
    <li>Accessing your bank account(s)</li>
    <li>Purchasing items online with your money</li>
    <li>Impersonating you on social networking and dating sites</li>
    <li>Sending emails in your name</li>
    <li>Accessing the private information held on your computer or mobile device</li>
</ul>
<h3>Never use the following as passwords</h3>
<ul>
    <li>Your username, actual name or business name</li>
    <li>Your Oyster card number or vehicle registration mark</li>
    <li>Family members' or pets' names</li>
    <li>Your (or a family member's) birthday or mother's maiden name (these details can be traceable through public records)</li>
    <li>Favourite sports team or other words easy to work out with a little background knowledge</li>
    <li>The word 'password'</li>
    <li>A single commonplace dictionary word, which could be cracked by widely available hacking programs</li>
    <li>When choosing numerical passcodes or PINs, do not use ascending or descending numbers (for example 4321 or 12345), duplicated numbers (such as 1111) or easily recognisable keypad patterns (such as 14789 or 2580)</li>
</ul>
<h3>Look after your passwords</h3>
<ul>
    <li>Never disclose your passwords to anyone else. If you think that someone else knows your password, change it immediately. Don't enter your password when others can see what you are typing</li>
    <li>Try not to use the same ones for every account (if you have only one password, a criminal simply has to break it once to gain access to everything)</li>
    <li>Never send any kind of PIN or password by email. No reputable organisation would ask you to do so</li>
    <li>Don't write them down</li>
</ul>
<h2>Contactless payment</h2>
<p>The process, enabled by a technology known as Near Field Communication (NFC), uses a chip which is embedded in a mobile phone or on a payment card. It enables users to pay for travel on the TfL network and make payments of up to &pound;30 at shops, cafes and other retailers simply by passing their mobile device or contactless payment card over a card reader (without the need to physically insert their card and enter a PIN).</p>
<h3>Potential risks and issues</h3>
<ul>
    <li>Unknowingly paying for somebody else's travel when you pass your mobile device or payment card over a contactless reader while they are going through the gate</li>
    <li>Paying out of the wrong account because you present the wrong payment card</li>
    <li>Inability to make payments if your mobile device battery goes flat</li>
    <li>Your financial information not being properly deleted when you dispose of your mobile device</li>
    <li>Your NFC chip being wiped remotely, either in error or maliciously</li>
</ul>
<h3>Using contactless payment technology safely</h3>
<ul>
    <li>If you have an NFC-enabled mobile device, make sure it is always locked when not in use by means of a PIN, which you should change regularly</li>
    <li>Take extra care not to lose or damage your NFC-enabled mobile device because it is effectively another wallet</li>
    <li>Make sure you read and understand your bank's terms and conditions so you are clear who holds liability in the event of an incorrect payment or security breach</li>
    <li>Always check your bank statements carefully to ensure that payments have not been taken from your account without your knowledge or permission, either on purpose or accidentally</li>
</ul>
<p>If you have had a problem, contact the relevant bank or card issuer.</p>
<h2>Motoring identity theft</h2>
<p>If you find the number plate missing from your vehicle there's a chance that it has been stolen with a view to using your car's identity. This may result in you receiving enforcement notices for unpaid parking charges, speeding fines, or Congestion Charge or Low Emission Zone Penalty Charge Notices.</p>
<p>If you find that one or both of your number plates are missing, report this immediately to the police and obtain a crime reference number.</p>
<h2>Using mobile devices in public</h2>
<p>Most of us use smartphones, tablets or laptops in public places on a regular basis. You may be one of the many customers who regularly use your mobile device to connect to WiFi services on the London Underground or London Overground.</p>
<h3>Potential risks and issues</h3>
<ul>
    <li>People gaining access to your online activity if you are using an unsecured wireless network</li>
    <li>'Shoulder surfing' &#45; people viewing your screen</li>
    <li>Loss or theft of your smartphone, tablet or laptop</li>
</ul>
<h3>Using public WiFi networks safely</h3>
<ul>
    <li>Unless you're using a secure web page, do not send or receive private information when using public WiFi</li>
    <li>Wherever possible, only use well-known public WiFi providers such as Virgin Media, The Cloud, BT OpenZone, etc</li>
    <li>Ensure you have effective and updated antivirus or anti-spyware software installed before you use public WiFi networks</li>
    <li>If you need to access your corporate network for business purposes, if possible you should use a secure, encrypted Virtual Private Network (VPN)</li>
    <li>Keep your mobile device with you at all times to avoid loss or theft</li>
    <li>Be aware of who is around you and may be watching what you are doing online. Consider using a privacy filter which effectively blocks the view of your screen from people sitting either side of you</li>
</ul>
<h2>If your data has been compromised</h2>
<p>Act quickly! Having your identity stolen can be extremely disruptive.</p>
<ul>
    <li><a href="/help-and-contact/index">Contact us</a> if your registered Oyster card, Oyster concessionary photocard or Santander Cycles key has been lost or stolen</li>
    <li><a href="/help-and-contact/index">Contact us</a> about any unrecognised transactions or journey details on your which appear on your account(s) as soon as possible</li>
    <li>If you receive documentation or letters that relate to goods, services or accounts that you have not ordered or applied for, contact the organisation concerned</li>
    <li>If any of your payment cards or cheques are lost or stolen, inform the card issuer immediately</li>
    <li>Contact your bank about any unrecognised transactions on your bank or credit card statements as soon as possible</li>
    <li>If your online account has been compromised, change your password immediately. This also applies if another account or website for which you use the same login details has been compromised</li>
    <li>Consider obtaining a copy of your credit report from one of the credit reference agencies. If you notice any new accounts or applications on your credit report that you didn't make, contact the organisation concerned. Request the credit reference agency make a note on your credit file stating that you have been a victim of identity theft</li>
    <li>Report the loss or theft of your driving licence or passport to the relevant authority</li>
    <li>Contact Royal Mail if you suspect that you have had mail stolen or redirected without your permission</li>
</ul>
<p>You need to report identity fraud that involves the use of credit cards, debit cards online banking or cheques directly to the relevant financial organisation. In England, Wales and Northern Ireland the financial institution concerned is then responsible for further investigation and reporting any crime to the police.</p>
<p>Other types of identity fraud need to be reported to the relevant organisation (eg TfL) in the first instance and depending upon their advice, they may also need to be reported to the police.</p>
<p>If you think you have been a victim of identify fraud, remember to keep a record of the subsequent actions you take to try and resolve the situation (keep copies of all correspondence; note down who you have spoken to and when; send any letters or other documents by recorded or special delivery).</p>
<h2>When someone passes away</h2>
<p>Criminals are increasingly using the identities of deceased persons to commit identity fraud. However, if you are the next of kin or executor, by taking some practical steps described below you may be able to protect the identities of someone who is recently deceased:</p>
<ul>
    <li>Notify all relevant organisations, including TfL if they held one or more accounts with us (eg Oyster, Congestion Charge, Santander Cycles)</li>
    <li>Do not include the address of the deceased in any obituary</li>
    <li>Shred all identity documents before disposal</li>
    <li>Ensure that any identity documents are not left in clothing, wallets or bags</li>
    <li>Have mail redirected to your address</li>
    <li>Register the deceased person with a mailing preference service. These are free services that will remove the deceased's details from direct mailing lists</li>
    <li>Consider registering with the CIFAS Protective Registration Service. For a fee, a CIFAS Protective Registration will be noted against the deceased person's address. The potential lender will be made aware of this when a credit check is carried out which may result in further checks being carried out</li>
</ul>
<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.getsafeonline.org/" class="plain-button">Get Safe Online</a>
<a href="https://www.cyberstreetwise.com/" class="plain-button">Cyber Streetwise</a>
<a href="http://www.actionfraud.police.uk/" class="plain-button">ActionFraud</a>
<a href="https://www.moneyadviceservice.org.uk/en/articles/identity-theft-and-scams-what-you-are-liable-for" class="plain-button">Money Advice Service</a>
<a href="https://crimestoppers-uk.org/keeping-safe/identity-theft/" class="plain-button">Crimestoppers</a>
<a href="https://www.cifas.org.uk/individuals" class="plain-button">CIFAS</a>
<a href="http://www.cardwatch.org.uk/" class="plain-button">CardWatch</a>
<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency" class="plain-button">DVLA</a>
<a href="http://www.royalmail.com/personal/help-and-support/what-can-I-do-about-scam-mail" class="plain-button">Royal Mail </a>
<a href="http://www.mpsonline.org.uk/mpsr/" class="plain-button">Mailing Preference Service</a>
<a href="http://www.tpsonline.org.uk/tps/index.html" class="plain-button">Telephone Preference Service</a>
<a href="http://www.deceasedpreferenceservice.co.uk/" class="plain-button">Deceased Preference Service</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Practical advice and guidance intended to help you protect your personal information and reduce the risk of becoming a victim of identity fraud.";}
        
            
        


 