
    
  



@{ViewBag.Title = "Reporting street problems";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/reporting-street-problems";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Reporting street problems</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Reporting street problems</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How Transport for London (TfL) uses the personal information you supply when reporting a problem with London streets.
        
      </div>
    
    <div class="on-this-page">
      <p>This page is about personal information that people provide through our <a href="https://streetcare.tfl.gov.uk/">Street Care</a> website.</p>

<h2>Personal information we hold</h2>

<p>The personal information we hold when you report a problem will depend on the information you provide:</p>

<ul>
	<li>You can report a problem anonymously, providing no personal data, however your IP address will be captured</li>
	<li>You can provide your name and contact details (email address and phone number), so that you receive an update on the problem you have reported</li>
	<li>You can set up an account (providing your name, contact details and a password) to report problems, leave updates and manage any reports you have submitted</li>
</ul>

<p>If you select 'use my location' when submitting a report, we will also temporarily hold your latitude and longitude so that you can be taken to the correct part of the map.</p>

<p>When reports are made there is a 'free text' box for you to add additional information.&nbsp; Occasionally people enter personal data here, but we don't recommend this. You should only enter personal data in the designated fields.</p>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so.&nbsp; In the case of reporting a problem on a TfL maintained street, there are a number of these 'legal grounds' we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy;</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL, for example:
	<ul>
		<li>you have asked us to resolve an issue or complaint for you;</li>
	</ul>
	</li>
</ul>

<h2>Obtaining and using your information</h2>

<p>The personal information we hold is provided by you when you report a problem on our Street Care website.&nbsp; Your report is then routed to the appropriate TfL team so the issue can be investigated and resolved.&nbsp;</p>

<p>Your email address will be used to verify your report (ie we will email you to confirm you want to submit your report) and to confirm successful submission.&nbsp; It will also be used to provide you with an update, if you have asked for one.&nbsp; All emails will contain a link for you to unsubscribe from any future communications.</p>

<p>So we can reduce the same issue being reported multiple times, all reports of problems are available on the Street Care website for others to view.&nbsp; This includes a summary of the problem and photographs (where provided).&nbsp; When you make a report, you also have the option of making your name public against the report, but you do not have to do this.&nbsp; No other personal details will be made public.</p>

<p>TfL has a contract with a third party supplier, mySociety, for the provision of the Street Care website.&nbsp; mySociety also runs a service called FixMyStreet.&nbsp; If you report a problem in relation to a TfL-maintained street directly on FixMyStreet, rather than the Street Care website, mySociety will share your report (and personal details if provided) with us.&nbsp;</p>

<p>This sharing is in accordance with the FixMyStreet terms of service and their <a href="https://www.fixmystreet.com/about/privacy">privacy statement</a>.&nbsp; When&nbsp; TfL receives this information we will hold it as explained on this page.</p>

<p>If you have reported issues on both the TfL Street Care website and FixMyStreet, and hold an account with Street Care, all your reports relating to TfL maintained roads will be visible for you to review on the Street Care website.</p>

<h2>Length of time we keep your information</h2>

<p>We will keep your account open for two years after the last time you accessed it. After this time your personal details will be removed and we will stop sending you updates.</p>

<p>If you send us a report(s) without creating an account, then any personal details you included will be removed two years after you have last used the website.</p>

<p>Your personal details are held for the following reasons:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints</li>
	<li>To establish and defend any legal rights</li>
</ul>

<p>IP addresses will be kept for 28 days, to support the investigation of any website issues.</p>

<h2>Keeping personal information secure</h2>

<p>We take the privacy of our customers very seriously. A range of robust policies, processes and physical and technical measures are in place to control and safeguard access to, and use of, personal information. This includes information associated with the reporting and investigation of problems on TfL maintained streets.</p>

<p>Anyone with access to personal information held in TfL's systems has to complete TfL's privacy and data protection training every year.</p>

<p>We also publish guidance on the steps you can also take to <a href="/corporate/privacy-and-cookies/protect-your-data">protect your personal information</a>.</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we use your personal information to do something 'automatically'. That means if we use our computers or other systems or make an automated decision (without human intervention) that significantly affects you.</p>

<p>In the case of reporting street issues, TfL does not make decisions based solely on the use of automated systems, databases or computer applications.</p>

<h2>Sharing personal information</h2>

<p>TfL has a contract with a third party supplier, mySociety, for the provision of the Street Care website, which ensures the efficient day-to-day running of this service.</p>

<p>In some circumstances, disclosures of personal data to the police (and other law enforcement agencies) are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any disclosure takes place, the police must show that the personal data concerned will help them in this respect. Each police request to TfL is dealt with on a strict case-by-case basis to make sure that any such disclosure is lawful and in accordance with data protection legislation.</p>

<h2>Overseas processing</h2>

<p>TfL and its service providers may process your personal information in countries within the European Economic Area (EEA). Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>

<h2>Your information rights</h2>

<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you. Please see our page on how to <a href="/corporate/privacy-and-cookies/access-your-data">access your data</a> for further details.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to the regulator - the <a href="http://www.ico.org.uk">Information Commissioner's Office</a></li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to any requests that relate to an individual's rights under the GDPR. We also handle complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th floor<br />
5 Endeavour Square<br />
London<br />
E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. This page was last updated in November 2019.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Privacy information for Reporting street problems";}
        
            
        


 