
    
  



@{ViewBag.Title = "Road User Charging";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/road-user-charging";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Road User Charging</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Road User Charging</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how Transport for London (TfL) uses the personal information collected for the operation of our Road User Charging schemes.
        
      </div>
    
    <div class="on-this-page">
      <p><a name="Personal information"></a></p>

<p>Road User Charging (RUC) is the collective term we use to describe the following schemes that operate in London:</p>

<ul>
	<li>The Congestion Charge</li>
	<li>The Low Emission Zone (LEZ)</li>
	<li>The Ultra Low Emission Zone (ULEZ)</li>
	<li>The van scrappage scheme</li>
	<li>The ULEZ car and motorcycle&nbsp;scrappage scheme</li>
</ul>

<h2>Personal information we hold</h2>

<p>The personal information we hold will vary depending on your relationship with us.</p>

<p>For example, if you:</p>

<ul>
	<li>have a RUC account</li>
	<li>have applied for a RUC discount or exemption</li>
	<li>have paid the daily charge for one of the RUC schemes</li>
	<li>have been issued with a Penalty Charge Notice</li>
	<li>have applied for one of the scrappage schemes</li>
</ul>

<p>Information we hold may include:</p>

<ul>
	<li>Title, name, address, email address, telephone number</li>
	<li>Date of birth</li>
	<li>Payment card details and/or bank account number and sort code</li>
	<li>Password/memorable information</li>
	<li>V5C document or overseas equivalent</li>
	<li>Vehicle Registration Marks (VRM)</li>
	<li>Date, time and location a vehicle has been captured by a camera</li>
	<li>Photographs of your vehicle</li>
	<li>Transaction/payment history</li>
	<li>Proofs of eligibility for a discount or exemption</li>
	<li>Proofs of eligibility for the scrappage scheme</li>
	<li>Correspondence, complaints and enquiries</li>
	<li>Call recordings&nbsp;</li>
</ul>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of Road User Charging, there are a number of these 'legal grounds' we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
	<li>For the 'performance of a contract:'
	<ul>
		<li>for example, where you have registered for an Auto Pay service; the scrappage scheme or</li>
		<li>you have downloaded the app so we can provide additional services to you</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL:
	<ul>
		<li>for example where you have opted in to receive marketing messages from us or asked the contact centre to resolve an issue or complaint for you.</li>
	</ul>
	</li>
</ul>

<p><a name="How we use your personal information"></a></p>

<h2>How we use your personal information</h2>

<h3>Roadside cameras</h3>

<p>Automatic Number Plate Recognition (ANPR) cameras operate 24 hours a day. They&nbsp;capture information whenever a vehicle travels within the Road User Charging zone. This includes an alpha-numeric 'read' of aVehicle Registration Mark (VRM) and a photographic (still) image of a vehicle.</p>

<p>Our IT system checks whether the appropriate road user charge is applicable and has been paid for that particular vehicle, or if it is eligible for a discount or exemption.</p>

<p>Once we have verified that no charge is applicable or the appropriate charge has been paid or a discount/exemption applies, the images are deleted.</p>

<p>If the charge remains unpaid, TfL will retain the VRM for enforcement purposes. We also retain photographic images from one location where the vehicle was seen, to prove entry into the relevant charging area. In the case of vehicles registered to an autopay service, VRMs and images are retained for the purposes of statement generation and account settlement.</p>

<h3>RUC accounts</h3>

<p>You will need to register with us and create an account if you wish to:</p>

<ul>
	<li>benefit from Auto Pay</li>
	<li>apply for a RUC discount</li>
	<li>apply for one of the vehicle scrappage schemes</li>
</ul>

<p>You also need to register if you have a vehicle that is listed by us as not meeting LEZ or ULEZ emissions standards, but you can provide evidence that it does.</p>

<p>As a registered customer, we may also send you travel related information about Road User Charging schemes operating in London. This could include information about proposed changes, or updates on the level of charges or hours of operation. We might also contact you about major events that could affect drivers, such as road closures and diversions.</p>

<p>You will be able to unsubscribe from any or all of these messages at any time.</p>

<p>We will only send you information about TfL's offers and promotions if you choose to receive it. You will be able to change your marketing preferences at any time.</p>

<p>We will not pass your personal information on to any other organisation for marketing purposes without your prior consent. In addition we do not sell or rent personal data to third parties for this purpose.</p>

<h3>Paying a daily charge</h3>

<p>You don't need to be a registered customer to pay a daily charge for one of the RUC schemes. You can pay online and by phone without registering. If you pay this way, the only information we need is your payment card details and the VRM of the vehicle you're paying for.</p>

<p>You can choose whether to provide an email address or mobile phone number so we can send you a receipt. Once we have verified that the charge has been paid the images of the vehicle that has been paid for are deleted.</p>

<h3>Enforcement</h3>

<p>If a vehicle is registered in the UK, and&nbsp;an applicable&nbsp;charge has not been paid, TfL will obtain the details of the registered keeper from the Driver and Vehicle Licensing Agency (DVLA) and then issue a Penalty Charge Notice (PCN). If the PCN continues to be unpaid, TfL takes steps for civil debt recovery. This includes registering the unpaid PCN at Northampton County Court and passing the debt to an enforcement agency to collect on our behalf. TfL works with debt recovery companies both in the UK, and overseas.</p>

<p>If a vehicle is registered overseas, we will obtain details of the registered keeper from the relevant official national or regional vehicle licensing authority.</p>

<p>In cases where we have issued a PCN in relation to a hire vehicle, we may receive information from the hire company that demonstrates you were in possession of the vehicle on the date the contravention occurred, and are therefore liable to pay the PCN.</p>

<p>TfL randomly selects and monitors vehicles benefitting from a road user charging discount or exemption, to identify possible fraud. If you persistently fail to pay any road user charges due or attempt to defraud TfL, we may record your vehicle's movements and use that data to support subsequent enforcement action.</p>

<p>If you appeal against a PCN issued by TfL to the Environment and Traffic Adjudicators, or to the Road User Charging Adjudicators we will send them relevant information so that they can make their adjudication. We will send you a copy of this appeal pack at the same time.</p>

<p>If you fail to pay your PCN, we may apply to the Traffic Enforcement Centre at Northampton County Court to register the money owed as a debt, which allows us to take further steps to recover it. In order to do this we will share details of your PCN and other relevant information with them. We will send you a copy of the information at the same time.</p>

<p>If your PCN continues to be unpaid, we may pass the unpaid debt to an enforcement agent to collect the money owed on TfL's behalf. As part of their activities, the enforcement agents may undertake certain checks to establish how likely it is they will be able to recover the debt from you. These are also known as 'propensity to pay' checks. They involve the enforcement agents matching/checking the data of the registered keeper of the vehicle (who is liable to pay the PCN) with external data sources, including address and phone number databases, social media activity and email addresses.</p>

<h3>Traffic monitoring</h3>

<p>We also use our ANPR cameras and the VRMs captured for traffic monitoring and research.</p>

<p>This includes:</p>

<ul>
	<li>analysing the types of vehicles on London's roads</li>
	<li>analysing numbers of vehicles on London's roads</li>
	<li>measuring average journey times to assess levels of congestion on key routes</li>
	<li>monitoring the impact of specific roadworks on journey times</li>
</ul>

<p>When doing this, we replace the VRM with an alternative set of letters and numbers. This is called 'pseudonymisation' and is a way of distinguishing vehicles in a dataset by using a unique identifier that does not reveal its 'real world' identity. This is a way of protecting people's privacy in line with the <a href="https://ico.org.uk/media/1061/anonymisation-code.pdf">Information Commissioner's Anonymisation Code of Practice</a>.</p>

<p><a name="Length of time we keep information"></a></p>

<h2>Length of time we keep information</h2>

<ul>
	<li>Details of each&nbsp;charge payment: 24 months from the date of the transaction (regardless of whether or not you are a registered customer)</li>
	<li>Vehicle images are automatically deleted after payment of the charge has been received and verified or when we have verified that your vehicle is registered for a discount or exemption</li>
	<li>For Autopay customers, ANPR data and images are retained until after the account has been settled, usually a maximum period of two months</li>
	<li>Details of a discount are retained for 24 months after the date the discount expires</li>
	<li>Details of a PCN are retained for seven years after you paid the PCN (this will include images of the vehicle you were driving)</li>
	<li>Details of a successful scrappage scheme application is retained for up to 10 years (in line with State Aid rules)</li>
</ul>

<p>We retain your personal information for these time periods for the following reasons:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints</li>
	<li>To maintain records according to rules that apply to us (for example financial regulations)</li>
	<li>To establish and defend any legal rights</li>
</ul>

<p><a name="Keeping personal information secure"></a></p>

<h2>Keeping personal information secure</h2>

<p>We take the privacy of our customers very seriously, and a range of robust policies, processes and technical measures&nbsp;are in place to control and safeguard access to, and use of, personal information associated with Road User Charging schemes. This includes payment card data which is handled in accordance with the Payment Card Industry Data Security Standard ('PCI DSS').</p>

<p>Find out how to <a href="https://tfl.gov.uk/corporate/privacy-and-cookies/protect-your-data">protect your personal information</a>.</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>

<p>When you drive within the Congestion Charge Zone, Ultra Low Emission Zone&nbsp;or Low Emission Zone, your vehicle's VRM is automatically captured by the road side cameras as described above.</p>

<p>The level and type&nbsp;of charge is automatically determined using details of the vehicle, as provided by the relevant vehicle licensing agency and/or by the customer.</p>

<p>Details of the registered keeper are also automatically retrieved from the DVLA (or overseas licensing agency) so that a PCN can be issued.</p>

<p>Before any PCN is processed, the details captured by the camera are manually checked by an individual.</p>

<p>This check requires the operator to validate the VRM being used for the PCN against the vehicle images captured by the camera and cross referencing against the vehicle make, model and colour details.</p>

<p>Each potential PCN is also checked by a second individual. If the two individuals do not agree then the case is escalated to a supervisor for a final decision.</p>

<h2>Sharing your information</h2>

<p>TfL has contracts with a number of third party service providers, which provide the majority of the administration and 'back office' services that ensure the efficient day-to-day operation of the Road User Charging schemes and the scrappage scheme. This includes the customer database, the installation and maintenance of the cameras, the secure IT connection to the DVLA and debt recovery services within the UK and overseas.</p>

<p>Different departments within TfL share information to help ensure compliance with our Road User Charging schemes &#45; as well to monitor the effectiveness of the different schemes.</p>

<p>This includes details of vehicles and drivers licensed for private hire by TfL which may have accrued unpaid PCNs. This helps us ensure we have the correct address details for the registered keeper. Unpaid PCNs may also be a breach of private hire licensing conditions.</p>

<p>As well as our own 'in house' traffic monitoring, we sometimes work with external research companies. We ensure that research is carried out in accordance with privacy and data protection legislation and is protected by robust confidentiality agreements.</p>

<p>If you have a query about your account, a service for which you have registered, or a Penalty Charge Notice (PCN) you have received and would like a third party to contact us on your behalf, we will generally only deal with them with your written permission.</p>

<p>At our discretion, we may disclose personal data in response to valid requests from the police. Before we authorise any disclosure, the police have to demonstrate that the personal data concerned will assist them in the prevention or detection of a specific crime, or in the apprehension or prosecution of an offender. Each request from the police is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with data protection legislation.</p>

<h2>Overseas processing</h2>

<p>TfL and its service providers process&nbsp;personal information relating to Road User Charging within the UK and the European Economic Area (EEA). Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>

<h2>Police access to ANPR cameras</h2>

<p>In 2012 the then Mayor of London's Crime Manifesto included a commitment to instruct TfL to give the Metropolitan Police Service (MPS) direct real time access to the Automatic Number Plate Recognition (ANPR) cameras we use to enforce our Road User Charging schemes, for the purposes of preventing and detecting crime.</p>

<p>Following a public consultation, the MPS was given access to this data in 2015. No images of vehicles are provided. In effect, TfL and the MPS now share the network of Road User Charging cameras.</p>

<p>This was an expansion of a pre-existing arrangement with the MPS established in 2007, under which they were given access to TfL's ANPR data specifically for the purpose of using it to safeguard national security. This arrangement was approved by the then&nbsp;Home Secretary, who signed a certificate confirming that TfL, and the MPS, are exempt from certain provisions of data protection legislation for that purpose.</p>

<p>Learn more about <a href="https://www.met.police.uk/accessing-information/automatic-number-plate-recognition-anpr">how the MPS uses ANPR</a> cameras.</p>

<h2>Mobile app</h2>

<p>If you download and use the Road User Charging mobile app, certain information may be collected automatically, such as the type of mobile device you are using and unique identifier such as the device name or ID, Internet Protocol (IP) address, Media Access Control (MAC) address, and IMEI number.</p>

<p>We also use analytics (which is similar to cookies on websites) which are small files that capture anonymous data to help us improve the app's performance. We use them to collect information about your use of the app, such as what app content you access most frequently, or if you receive an error message when using the app.</p>

<p>If you opt in, we will also send you notifications via the app, or use location services to provide you with relevant information about your use of the scheme. You can change your mind at any time by amending the settings within your device</p>
      
           
      <div>

<h2><a name="mailout"></a>&nbsp;Tougher LEZ Standards mail-out</h2>

<p>Tougher emissions standards will apply to certain heavy vehicles from October 2020. TfL is working hard to raise awareness about the <a href="https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">changes to the Low Emission Zone</a> and what it means for you and your vehicles.</p>

<p>We're actively contacting people who have been a congestion charge or low emission zone customer in the past 13 months and who we hold an email address for. We will provide you with information about the tougher LEZ standards, and advice about what to do if you think you may be affected.</p>

<p>From autumn 2019, and until the tougher standards launch in October 2020, we will also be contacting registered keepers of other vehicles seen within Greater London by our cameras. We will do this by checking the number plate of a vehicle to see whether it will be compliant with the new emissions standards for the LEZ. This works in the same way as our <a href="https://tfl.gov.uk/modes/driving/check-your-vehicle-35896">online vehicle checker</a>.</p>

<p>If it isn't compliant, and you're not already a road user charging customer, we will also write to you with advice on what to do next in order to comply. In order to do this, we will pass the number plates to the DVLA, so that they can match them against their database of registered keepers &#45; and send you advice from TfL on what to do next.</p>

<p>We're working with the DVLA to contact people in this way as part of TfL's statutory obligations to raise awareness of the tougher LEZ standards, and take all reasonable steps to help road users comply with the scheme.</p>

<p>In order to protect your privacy as much as possible for the purposes of this mail out, TfL will not provide the DVLA with any details of when or where your vehicle was seen by our cameras &#45; and, in turn, they will not provide TfL with your name or any of your contact information.</p>

<p>The DVLA will not use the number plates received from TfL for any other purpose and both TfL and DVLA will delete the data as soon as possible after the mail-outs are complete.</p>

<p>If you received an awareness letter from TfL about the Ultra Low Emission Zone between October 2018 and February 2019, your information will have been handled in exactly the same way as described above.</p>

<h2>Van scrappage scheme</h2>

<p>The van scrappage scheme started in February 2019. It supports micro businesses, sole traders and charities to replace vehicles that don't meet the Ultra Low Emission Zone (ULEZ) standards.</p>

<p>If you apply for the scheme you will need to create a Road User Charging account (if you don't already have one) and provide information about yourself, as well as your business or charity and your vehicle(s).</p>

<p>As with other aspects of our road user schemes, TfL must have proper legal grounds for handling any personal data that you provide for the scrappage scheme.&nbsp;</p>

<p>In this case, the relevant 'legal basis' is that the use of your data is necessary for the 'performance of a contract'.</p>

<p>As part of meeting the eligibility criteria (as set out in the terms and conditions) for the Scheme, some applicants &nbsp;are required to confirm they have driven their vehicle within the Central Congestion Charge Zone on a minimum of 52 occasions in the last six months before the commencement of the Scheme. If you have a Road User Charging Auto Pay account for the Congestion Charge, we will use the existing transaction records to verify this.</p>

<p>We may also verify the information you supply about your business, charity or vehicle with a number of third parties including Companies House, the Charity Commission, HMRC, the DVLA and against other public databases made available by the <a href="https://www.gov.uk/get-information-about-a-company">Government Digital Service</a>.</p>

<p>If you do not use the funds issued to you in accordance with the scheme terms and conditions, we may seek to recover those funds, and share information with, or receive information from, other organisations in order to do this.</p>

<p>All of the personal information you provide with your application will be stored securely.&nbsp;TfL will retain information collected for administering the van scrappage scheme&nbsp;and to support the following purposes:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints about the van&nbsp;scrappage scheme</li>
	<li>To evaluate the scheme and collect feedback</li>
	<li>To maintain records according to rules that apply to us (for example financial regulations); and</li>
	<li>To establish and defend any legal rights</li>
</ul>

<h2>ULEZ car and motorcycle scrappage scheme</h2>

<p>The ULEZ car and motorcycle scrappage scheme supports low income Londoners and sole traders to upgrade to cleaner vehicles by providing a grant payment in return for scrapping a vehicle that doesn't meet the emissions standards for ULEZ.</p>

<p>If you apply for the scheme you will need to create a Road User Charging account (if you don't already have one) and provide information about yourself and your vehicle.</p>

<p>As with other aspects of our road user schemes, TfL must have proper legal grounds for handling any personal data that you provide for the scrappage scheme. In this case, the relevant 'legal basis' is that the use of your data is necessary for the 'performance of a contract'</p>

<p>As part of meeting the eligibility criteria (as set out in the terms and conditions) for the scheme, you will need to provide proof that you receive one of the state benefits listed in the application process. We appreciate this kind of information is particularly sensitive and reassure you that it will not be used by TfL for any other purpose at any time, nor shared with any third parties.</p>

<p>We may verify the information you supply about your vehicle with the DVLA.</p>

<p>All of the personal information you provide with your application will be stored securely. TfL will retain the information collected for administering the ULEZ car and motorcycle scrappage scheme and to support the following purposes:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints about the car and motorcycle scrappage scheme To evaluate the scheme and collect feedback</li>
	<li>To maintain records according to rules that apply to us (for example financial regulations)</li>
	<li>To establish and defend any legal rights If your application is successful, you will be offered a year's free membership of Santander Cycles (TfL's cycle hire scheme) in addition to your grant payment. If you take up this offer you should also read the <a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles privacy page</a> to find out more about how TfL will handle your personal information in connection with Santander Cycles.</li>
</ul>
</div>
 <div>

<h2>Your information rights</h2>

<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you.</p>

<p>If you are a registered customer, you can access and update your personal information by signing into your online account.</p>

<p>For access to other personal information held by TfL in connection with Road User Charging or the scrappage scheme, please see our page on how to <a href="/corporate/privacy-and-cookies/access-your-data">access your data</a>.</p>

<p>If we have passed your unpaid charges to an enforcement agent to recover on our behalf, they will also hold personal information about you. You will need to contact the relevant company directly to request a copy of this.</p>

<p>If you would like to unsubscribe from service or marketing messages, please use the link we include at the end of every email. You can also update your contact preferences within your online account &#45; or by emailing <a href="mailto:unsubscribe&#64;tfl.gov.uk">unsubscribe&#64;tfl.gov.uk</a> at any time.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your information or to ask us to delete or restrict how we use it.</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to the regulator - the Information Commissioner's Office</li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to any requests that relate to an individual's rights under the GDPR and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th floor<br />
5 Endeavour Square<br />
London<br />
E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in October 2019.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL uses the personal information collected for the operation of the Road User Charging scheme";}
        
            
        


 