
    
  



@{ViewBag.Title = "Santander Cycles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/santander-cycles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how Transport for London, its subsidiaries and service providers use the personal information collected from you and held in connection with Santander Cycles. It also describes how long that information is kept and the limited circumstances in which we might disclose it to a third party.
        
      </div>
    
    <div class="on-this-page">
      <h2>Personal information we hold</h2>

<p>If you are a registered Santander Cycles member, or Business Account holder, the information we hold about you may include:</p>

<ul>
	<li>Name</li>
	<li>Address</li>
	<li>Email address</li>
	<li>Telephone/mobile number</li>
	<li>Password, security question and answer</li>
	<li>Billing preferences</li>
	<li>Payment card information or bank account and sort code</li>
	<li>Marketing and communication preferences</li>
	<li>Cycle Access Key reference number</li>
	<li>The location, date and time a cycle was hired and docked</li>
	<li>Enquiries, complaints or other correspondence from you</li>
</ul>

<p>On occasion, TfL will ask you for the name and address details of additional users who you have authorised to use the bikes. This may be in connection with a claim made on the scheme's Public Liability Insurance or in relation to the terms and conditions or code of conduct.</p>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of Santander Cycles, there are a number of these legal grounds we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL, for example where:
	<ul>
		<li>you have opted in to receive marketing messages or in-app notifications from us</li>
		<li>you have asked the contact centre to resolve an issue or complaint for you</li>
		<li>you agree to enable location services or notifications within the Santander Cycles app</li>
	</ul>
	</li>
	<li>For the 'performance of a contract', for example:
	<ul>
		<li>in connection with the purchase of a cycle hire key, annual membership or short term hire</li>
		<li>where you have created an online account or downloaded the app so we can provide additional services to you</li>
	</ul>
	</li>
</ul>

<h2>Obtaining and using your information</h2>

<p>The personal information we hold is provided by you when you register to become a Santander Cycles member, either via our website or app. We also record information about your journey on each occasion you hire or dock a bike (ie where you start and finish your trip, together with the date and time).</p>

<p>We use your personal information to provide you with access to the cycle hire scheme, to process your payments and to provide you with customer services associated with being a member.</p>

<p>If you are a registered Santander Cycles member, we may send you information from time to time on issues relating to cycling in London via email. This might include:</p>

<ul>
	<li>A series of Welcome emails when you first join - with information on how to use the scheme and other useful cycling information</li>
	<li>Important changes to the scheme such as availability of bikes, new docking stations, changes to fees</li>
	<li>Cycling safety</li>
	<li>Monthly and annual summaries of your scheme usage and cycling milestones</li>
	<li>New ways to pay for, or access, the scheme</li>
	<li>Consultations about TfL's plans for cycling in London</li>
	<li>Cycling routes, Cycle Super Highways or Cycle Quietways</li>
</ul>

<p>You will be able to unsubscribe from any or all of these messages at any time.</p>

<p>We will only send you information about TfL's offers and promotions if you choose to receive it and you will be able to change your marketing preferences at any time.</p>

<p>We will not pass your personal information on to any other organisation for marketing purposes without your prior consent. In addition we do not sell or rent personal information to third parties for any purpose.</p>

<p>If you telephone TfL, your call may be recorded for training and quality purposes and if you contact us by email, we will check that your contact details are up to date and amend our records where necessary.</p>

<p>Some of our docking stations have CCTV cameras installed. This is for the purposes of preventing and detecting crime and antisocial behaviour.</p>

<p>Occasionally TfL may use aggregated or depersonalised Santander Cycles information to carry out research and analysis, for example, to assess the effectiveness of road or passenger safety initiatives. We may also use it to identify improvements we might need to make to the scheme. Individuals will not be identified using this information.</p>

<h2>Choosing not to provide personal information</h2>

<p>If you choose not to provide personal information to us, you will not be able to open an online account or become a registered Santander Cycles member. However, you can still make use of Santander Cycles as a casual user at any time</p>

<p>It may also delay or prevent us from offering other services to you such as the resolution of complaints or concerns.</p>

<h2>Length of time we keep your information</h2>

<p>TfL will retain personal information in line with its data retention policies. This means that we will not hold information for longer than is necessary for the purposes we obtained it for.</p>

<p>We will keep your personal information for as long as you're a customer or member of Santander Cycles.</p>

<p>After you stop being a customer or member we will keep your information for up to seven years. This is for the following reasons:</p>

<ul>
	<li>To respond to correspondence, concerns or complaints</li>
	<li>To maintain records according to rules that apply to us (for example financial regulations)</li>
	<li>To establish and defend any legal rights</li>
</ul>

<p>Call recordings made when you contact Customer Services are kept for 6 months.</p>

<h2>Keeping your information secure</h2>

<p>We take the privacy of our customers very seriously, and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal information associated with Santander Cycles. This includes payment card data which is handled in accordance with the Payment Card Industry Data Security Standard (PCI DSS).</p>

<p>We also publish guidance on the steps you can also take to <a href="/corporate/privacy-and-cookies/protect-your-data">protect your personal information</a>.</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we use your personal information do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>

<p>Any hire charges due are automatically calculated based on the times you undock and then return a cycle to a docking station. Payment is then automatically taken from your credit or debit card.</p>

<p>If you do not return your Santander Cycle or you damage it we may also automatically charge your credit or debit card with the relevant fee.</p>

<p>If you believe you have been incorrectly charged you can ask our contact centre to review those transactions.</p>

<p>If you're a registered member, we use your journey information to send you monthly and annual activity summaries and to send you service updates about Santander Cycles.</p>

<h2>Sharing Santander Cycles information</h2>

<p>We share information only in limited circumstances. We share users' personal information with our subsidiaries and service providers for the purposes of customer services and administration, payment processing, to provide travel-related information and for customer research and fraud prevention.</p>

<p>If you have a direct debit to pay Santander Cycles, we will share your information with the Direct Debit scheme.</p>

<p>In the event that you make a claim on the scheme's Public Liability Insurance for yourself or on behalf of an additional user we will, on request from the insurance provider, share relevant information with them or their agent for the purposes of verifying and processing your claim.</p>

<p>TfL will share your personal information with the scheme's sponsor for marketing purposes where you have explicitly agreed that we can do so. You can opt out from receiving marketing information from the Scheme Sponsor at any time by amending your marketing preferences via your online account or by telephone on 0343 222 6666.</p>

<p>We sometimes work with our local authority partners and other stakeholders on initiatives to encourage more active or sustainable travel. As part of this we may issue promo codes so that people can make use of Santander Cycles for free or at a reduced rate.</p>

<p>If you hire a bike in this way please then you should check the terms of your use with the body that provided you with your promo code. We may provide them with information relating to your usage of the code, including number of hires, average journey times and start and end points.</p>

<p>At our discretion, we may disclose personal information in response to valid requests from the police. Before we authorise any disclosure, the police have to demonstrate that the personal information concerned will assist them in the prevention or detection of a specific crime, or in the apprehension or prosecution of an offender. Each request from the police is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with data protection legislation.</p>

<p>You, and any additional user authorised by you, are expected to adhere to the scheme's terms and conditions and code of conduct while using a hire bike. In the event that the police obtain information regarding non-compliance with these terms and conditions, any applicable laws and/or Santander Cycles code of conduct while you (or an additional user) are using a cycle, the police may provide TfL with details about this. Such information may be used by TfL to exclude or suspend you (or an additional user) from using Santander Cycles.</p>

<p>TfL may also receive or disclose personal information about customers&nbsp;in relation to certain emergency situations or other incidents that require an immediate response. Such events may include those involving public health, public safety or national security matters, when access to personal information is necessary to manage the incident. In some situations, we may also be required by law to disclose your personal data to the police or other enforcement, regulatory or Government body, upon a valid request to do so. These requests will be assessed on a case-by-case basis and take into account privacy considerations before a disclosure is made.</p>

<h2>Overseas processing</h2>

<p>TfL and its service providers may process your personal information in the UK and countries within the European Economic Area (EEA). Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>

<h2>Santander Cycles business accounts</h2>

<p>If you use Santander Cycles via a pooled or individual business account provided by your employer (or other business or charity), then you should check the terms of your use with them directly.</p>

<p>We may provide your Business Account Holder (or their nominated representative) with information relating to your usage of Santander Cycles, under that account, including number of hires and average journey times.</p>

<p>If you have an individual business account, we may also share information about the start and expiry date of your membership, eg when you activated your promo code.</p>

<h2>Using the Santander Cycles app</h2>

<p>If you download and use the Santander Cycles mobile app, certain information may be collected automatically, such as the type of mobile device you are using and unique identifier such as the device name or ID, Internet Protocol (IP) address, Media Access Control (MAC) address, and IMEI number.</p>

<p>We also use analytics (similar to cookies on websites) which are small files that capture anonymous data to help us improve the app's performance. We use them to collect information about your use of the app, such as what app content you access most frequently, or if you receive an error message when using the app.</p>

<p>If you opt in, we will also send you notifications via the app, or use location services to provide you with relevant information about your use of the scheme. You can change your mind at any time by amending the settings within your device.</p>
      
           
      
<div>



<h2>GPS Trial</h2>


<p>As of January 2020, TfL will be trialling the use of Global Positioning System (GPS) technology on a number of bikes in the Santander Cycles fleet.&nbsp;The trial will last up to 12 months and GPS enabled bikes will be deployed randomly at docking stations across the cycle hire network.</p>

<p>At the moment we know when a bike has been successfully returned back to a docking station.&nbsp;What we are currently unable to tell, in cases where bikes are not properly returned,&nbsp;is exactly where they are.&nbsp;We rely on reports from customers or them being spotted by our bike distribution teams, so we can locate and retrieve them.</p>

<p>The purpose of this trial is to establish whether GPS technology will help us find those lost and stolen bikes;&nbsp;it is hoped that using GPS to identify the last known location will provide us with the opportunity to retrieve abandoned or stolen bikes.&nbsp;This will avoid the cost of replacing them and ensure that the maximum number of cycles are available for our customers to use when they need them.</p>

<p>Before starting this trial, we undertook a Data Protection Impact Assessment; as a result, GPS data collected within this trial will only be used for the purpose of identifying the last known location of a bike that has not been successfully returned. It&nbsp;will not be used to track individual users or individual journeys made, and will not be combined or matched with any other data held about Cycle Hire members or casual users. There are controls in place to ensure that the GPS data collected is kept separate from all other customer data we hold about users of Santander Cycles.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/data-protection-impact-assessment-santander-cycles-gps.pdf">
    <div class="document-download-text">
        <p>GPS Trial Data Protection Impact Assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.83 -->
 
</div>
<p>We understand that there may be scenarios where the data could be useful to the police and other law enforcement bodies. As with current processes for other data held, when we get a request to disclose data, we require the police to demonstrate that the data concerned will help them to prevent or detect crime and/or prosecute offenders.</p>

<p>Alongside information on this page, we are placing stickers on the terminals at our docking stations, as well as on the bikes themselves.&nbsp;We will also be notifying our App users via a push notification and you may see updates on our social media feeds or local press.</p>

<p>At the end of the trial, we will evaluate the findings. Any remaining GPS data will be 'depersonalised' so it can no longer be attributed to an individual bike. If we decide to roll out the wider use of GPS technology across the whole cycle hire fleet, or make secondary use of the data collected, we will undertake further data protection impact assessments, inform our customers and update this privacy page further.</p>
</div>
 <div>

<h2>Your information rights</h2>

<p>Under data protection legislation you are entitled to ask to see any personal information that we hold about you.</p>

<p>If you are a registered member, you can access and update your personal information via your online account.</p>

<p>For access to other personal information held by TfL please see our page on how to <a href="/corporate/privacy-and-cookies/access-your-data">access your data</a>.</p>

<p>If you would like to unsubscribe from service or marketing messages, please use the link we include at the end of every email. You can also update your contact preferences within your online account &#45; or by emailing <a href="mailto:unsubscribe&#64;tfl.gov.uk">unsubscribe&#64;tfl.gov.uk</a> at any time.</p>

<p>If you would like to close your online account please let us know by calling us on 0343 222 6666.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to the regulator - the <a href="http://www.ico.org.uk">Information Commissioner's Office</a></li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in February 2020.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL including its subsidiaries and service providers, uses personal information collected and held in connection with Barclays Cycle Hire";}
        
            
        


 