
    
  



@{ViewBag.Title = "Taxi & private hire licensing";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/taxi-and-private-hire";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi & private hire licensing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi & private hire licensing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page is for taxi and private hire vehicle drivers, private hire operators and those holding or applying for a vehicle licence. It explains how we use your personal information to administer taxi and private hire licensing in London. This includes how long information is kept, and the circumstances in which we might disclose it to a third party.
        
      </div>
    
    <div class="on-this-page">
      <h2>Personal information we hold</h2>

<ul>
	<li>Name (including previous names)</li>
	<li>Contact details (postal address, telephone number, email address, etc)</li>
	<li>Date of birth</li>
	<li>DVLA or European driving licence details</li>
	<li>Photographs</li>
	<li>Referees' details</li>
	<li>Certificate of good conduct and an appropriate translation of this (where required)</li>
	<li>Employment history (where required)</li>
	<li>Proof of identity</li>
	<li>Country of origin and/or nationality</li>
	<li>Proof of right to work in UK</li>
	<li>National Insurance Number</li>
	<li>Details of Knowledge of London, topographical, driver skills and English language assessments/qualifications</li>
	<li>Completed medical forms and any supporting medical information from general practitioners or specialists</li>
	<li>Vehicle Registration Marks (VRMs) and Vehicle Identification Numbers (VINs)</li>
	<li>Outcomes of Disclosure and Barring Service (DBS) checks</li>
	<li>Outcomes of Motor Insurers' Bureau (MIB) database checks</li>
	<li>Details of traffic contraventions, criminal offences, and/or allegations of criminal offences</li>
	<li>Information used to assess your fitness to hold a taxi or private hire vehicle licence</li>
	<li>Complaints made about drivers or operators</li>
	<li>Dismissals from working with a private hire operator</li>
	<li>The licence and/or badge number issued to you or your vehicle by TfL</li>
	<li>Bankruptcy status of directors of private hire operators</li>
	<li>Details of which operator(s) a private hire driver and/or vehicle has been available to work for each week</li>
	<li>Correspondence between you and Taxi and Private Hire (including social media posts)</li>
</ul>

<p>The details of any payment cards used to pay for a licence application or vehicle inspection fee are encrypted and stored in accordance with payment card industry data security standards.</p>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of taxi and private hire licensing, there are a number of these legal grounds we rely on, which&nbsp;are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>TfL has a statutory duty to regulate the taxi and private hire trades in London under the London Hackney Carriages Act 1843 and Private Hire Vehicles (London) Act 1998. This legislation covers the licensing of taxi and private hire drivers, taxi and private hire vehicles, and private hire operators. Therefore TfL needs to collect and process your personal information to carry out this function and fulfil our legal obligations.</li>
		<li>TfL also has a statutory duty to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
	<li>Legal Obligations: 
	<ul>
		<li>In some circumstances we are obliged handle your information in a certain way, for example to provide information to the National Fraud Initiative, run by the Cabinet Office every two years.</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL, for example:
	<ul>
		<li>Where you agree we can share or receive information with the DVLA electronically as part of your licence application;</li>
		<li>where you have opted in to receive marketing messages </li>
		<li>where you have agreed to participate in research or surveys</li>
	</ul>
	</li>
</ul>

<p>Sometimes we also need to collect or store information that is defined as 'special category personal data'. For Taxi and Private Hire, this consists of the following:</p>

<ul>
	<li>race and ethnic origin</li>
	<li>trade union membership</li>
	<li>health (physical or mental)</li>
</ul>

<p>In addition, UK privacy legislation has added information about criminal allegations, proceedings or convictions to the list of special categories of personal information compiled under EU law.</p>

<p>As before, there are a number of legal grounds we rely on when handling this kind of information, depending on the circumstances, which include:</p>

<ul>
	<li>Where we have your explicit consent to do so for a particular purpose</li>
	<li>For the establishment, exercise or defence of legal claims</li>
	<li>For the prevention or detection of crime</li>
	<li>To protect the public from dishonesty, improper conduct and fraud</li>
	<li>Equality of opportunity or treatment</li>
</ul>

<h2>Obtaining and using your information</h2>

<p>Most of the personal information we hold is provided by you in your licence application and the supporting information you include with it.</p>

<p>We may need to verify the immigration status of licence applicants, and in the case of private hire operators, of all of the individuals named on the operator licence. Where necessary, we will do this by verifying your information with the Home Office and/or the Department for Work and Pensions (DWP).</p>

<p>If you apply for, or renew, a private hire driver licence, you may be required to demonstrate a certain standard of English language competence. If you already have a qualification, TfL may verify this with the relevant educational establishment or examination board&nbsp;or the independent regulator for qualifications, examinations and assessments or at any time.</p>

<p>In some circumstances TfL may require you to complete a Secure English Language Test (SELT) with an external provider from a list of approved/nominated colleges. As these organisations are independent of TfL, you should read and understand their privacy policy and terms and conditions before booking a test. TfL may contact the provider to verify your SELT result.</p>

<p>Similarly, TfL may require you to complete a topographical assessment at a testing centre accredited by TfL. As these organisations are independent of TfL, you should read and understand their privacy policy and terms and conditions before booking a test. TfL may contact the provider to verify your assessment result.&nbsp;If you already have a qualification, TfL may verify this with the relevant educational establishment, examination board at any time.</p>

<p>TfL may also verify other information about you, your employees or contractors or your vehicle during the period that your taxi, private hire or operator's licence is valid. This is to ensure your continuing fitness to hold your licence. You can read more about this in <a href="#sharing personal information"> sharing your personal information</a>.</p>

<p>Private Hire operators&nbsp;are required to provide us with details of all drivers and vehicles registered with them at specified intervals. From time to time we may also ask operators to provide us with details of customer complaints they have received. This may include personal information about drivers as well as customers.</p>

<p>Different departments within TfL share information about taxi and private hire licensees and vehicles as part of our on-street compliance and enforcement activities. This includes those vehicles exempt from the congestion charge, and details of when a licensee has received a Penalty Charge Notice for a traffic contravention. We may also share information internally to check your eligibility for our taxi delicensing, or vehicle scrappage schemes.</p>

<p>Information&nbsp;will also be used to support road safety initiatives and activities to reduce casualties and collisions on London's roads.</p>

<p>We also monitor vehicles to ensure compliance with the Congestion Charge and we may ask an owner, registered keeper, or driver&nbsp;for confirmation that a vehicle was being used for private hire purposes on a particular date and request evidence to verify this -&nbsp;eg a copy of the booking record and private hire driver's licence.</p>

<p>Taxi and private hire customers and members of the general public may provide us with personal information about licensees when contacting us about the service they have received. This may include information posted via social media feeds.</p>

<p>The police may inform TfL if you are arrested or charged with a criminal offence. This is known as Common Law Police Disclosure. We may use this information to decide whether it is appropriate to suspend or revoke your licence.</p>

<p>We may send you updates from time to time on issues relating to the licensing and operation of the taxi and private hire trades in London via email service messages and newsletters. We will only send you information about TfL's offers and promotions if you choose to receive it, and you will be able to change your marketing preferences at any time.</p>

<p>We will not pass your personal information on to any other organisation for marketing purposes without your prior consent. We do not sell or rent personal data to third parties for any purpose.</p>

<p>If you telephone TfL, your call may be recorded for training and quality purposes. If you contact us by email, we will check that your contact details are up to date and amend our records where necessary.</p>

<p>Occasionally TfL may use aggregated or depersonalised taxi and/or private hire licensing data to carry out research and analysis, for example, to assess the effectiveness of road or passenger safety initiatives. Individuals cannot be identified using this data.</p>

<h2>Length of time we keep information</h2>

<p>We retain personal information related to taxi and private hire vehicles, taxi and private hire drivers and private hire operators in accordance with a defined disposal schedule. The periods for which information is retained&nbsp;are considered reasonable to enable us to undertake our statutory and regulatory licencing functions. Below is a summary of some of our standard retention periods:</p>

<div class="table-container"><table style="height:144px; width:667px">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td><strong>Type of information</strong></td>
			<td><strong>Default retention period</strong></td>
		</tr>
		<tr>
			<td>Personal file for a taxi or private hire driver</td>
			<td>Seven&nbsp;years after the expiry of a licence</td>
		</tr>
		<tr>
			<td>Unsuccessful taxi or private hire driver licence application</td>
			<td>Seven&nbsp;years from the date an application is declined</td>
		</tr>
		<tr>
			<td>Personal file for a private hire operator</td>
			<td>11 years after the expiry of a licence</td>
		</tr>
		<tr>
			<td>Unsuccessful private hire operator licence application</td>
			<td>11 years from the date an application is declined</td>
		</tr>
		<tr>
			<td>Information relating to a taxi or private hire vehicle inspection</td>
			<td>Four&nbsp;years after an inspection takes place</td>
		</tr>
		<tr>
			<td>Driver and vehicle data received as part of the operator upload requirement</td>
			<td>Six years from the operator licence start date</td>
		</tr>
	</tbody>
</table></div>

<h2>Keeping your information secure</h2>

<p>We take the privacy of our licensees very seriously. We have a range of robust policies, processes and technical measures in place&nbsp;to control and safeguard access to, and use of, personal information associated with taxi and private hire licensing.</p>
      
           
      <div>

<h2>Automated processing</h2>

<p>Under data protection legislation we have to let you know when we do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>

<p>TfL does not make any taxi or private hire licensing decisions based solely on the use of automated systems, databases or computer applications.</p>

<h2><a name="Sharing personal information"></a></h2>

<h2>Sharing personal&nbsp;information</h2>

<p>TfL has contracts with a number of third party service providers that support the day-to-day operation of our licensing services.</p>

<p>We may also enter into specific information sharing arrangements with partners such as local authorities where it would support our statutory functions. Any information sharing is managed in accordance with relevant privacy and data protection legislation.</p>

<p>TfL also shares personal information with, (and receives information from) a number of other organisations as part of the licensing process and to ensure an individual's or vehicle's ongoing fitness to hold a licence once issued. Such organisations may include the police, DVLA, DVSA, Home Office, DWP, Department for Environment, Food and Rural Affairs (Defra),&nbsp; MIB,&nbsp;educational establishments/training providers and local authorities. If you have held a taxi or private hire licence issued by another licensing authority at any time, TfL may request information about that licence from the issuing authority, including any reasons for its revocation or suspension.&nbsp;Any information sharing is managed in accordance with relevant privacy and data protection legislation.</p>

<p>Every two years, TfL is required by law to disclose information about licensed taxi and private hire drivers to the Cabinet Office as part of the National Fraud Initiative. We will publish a Taxi and Private Hire Notice to inform licensees just before each of these data disclosure exercises takes place.</p>

<p>Where you have authorised a third party to undertake a vehicle inspection on your behalf:</p>

<ul>
	<li>They may provide information about you and/or your vehicle to TfL for the purpose of the vehicle inspection</li>
	<li>They may receive the results of any validation checks carried out at TfL's request</li>
	<li>TfL may share or request other information about you and/or your vehicle with them where necessary for the inspection process</li>
	<li>In certain circumstances, TfL may also share your personal information with the police and other law enforcement agencies for the purposes of the prevention or detection of crime</li>
</ul>

<p>If you are a private hire operator, you may appoint a nominated representative or&nbsp;an individual with day-to-day responsibility for the business on your behalf. Where this is the case, you understand and agree that:</p>

<ul>
	<li>The nominated representative may be contacted to provide information about you and/or your operator licence to TfL</li>
	<li>They may receive the results of any validation checks carried out in relation to your operator licence</li>
	<li>We may share or request other information about you and/or your operator licence with them where necessary</li>
</ul>

<p>Some limited licensee information may be made available to the public where relevant legislation requires or permits it and publication is in the public interest. Examples include licensee names and associated badge or licence numbers, together with the status and expiry dates of those licences. If you have licensed a vehicle, the vehicle registration mark, licence number and expiry date may also be made available in the same way.</p>

<p>We may publish information about individuals who have had their licence revoked for illegal touting. TfL will never publish the home addresses of any taxi or private hire licensee online, or in a publicly available register. We may also publish information about any Private Hire Operator convicted of a criminal offence following enforcement action by TfL.</p>

<p>Aggregated or depersonalised data and statistics may be shared with a number of external stakeholders who have a role in supporting taxi and private hire enforcement and compliance in London. These include the City of London Police, Metropolitan Police Service and trade bodies which represent the taxi or private hire industry in London. Individuals cannot be identified using this data.</p>

<p>In some circumstances, disclosures of personal data to the police (and other law enforcement agencies) are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any such disclosure takes place, the police are required to demonstrate that the personal data concerned is necessary for them to carry out a proper investigation. Each police request received by TfL is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and carried out in accordance with relevant guidance issued by the Information Commissioner's Office.</p>

<p>TfL may also receive or disclose personal information about Taxi or Private Hire licensees in relation to certain emergency situations or other incidents that require an immediate response. Such events may include those involving public health, public safety or national security matters, when access to personal information is necessary to manage the incident. In some situations, we may also be required by law to disclose your personal data to the police or other enforcement, regulatory or Government body, upon a valid request to do so. These requests will be assessed on a case-by-case basis and take into account privacy considerations before a disclosure is made.</p>

<p>Private Hire Operators may also receive or disclose information about their employees, agents or other workers in the same kind of emergency situations as described above.</p>

<p><br />
Your name and contact details may be disclosed to an external research company to conduct research amongst licensees on TfL's behalf. This research will be related to TfL's responsibilities for licensing, regulation, and integration between taxis/private hire services and other elements of the transport system. Your details will not be used for any marketing or other research activities without your specific consent.</p>

<h2>Overseas processing</h2>

<p>TfL and its service providers may process your personal information in countries within the UK and European Economic Area (EEA). Any such processing will be carried out in strict accordance with UK and EU privacy legislation and the appropriate contractual safeguards which TfL has put in place.</p>

<h2>Your information rights</h2>

<p>If you would like to receive copies of the personal data TfL holds about you in connection with taxi and private hire licensing, please see our page on how to access your data.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your information or to ask us to delete or restrict how we use it</li>
	<li>In some cases, the right to receive a copy of your information in a format that you can easily re-use</li>
	<li>The right to complain to our Data Protection Officer</li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in February 2020.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What happens to the personal information you supply when you apply for a taxi or private hire licence";}
        
            
        


 