
    
  



@{ViewBag.Title = "Website privacy";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/website-privacy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Website privacy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Website privacy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how we protect your privacy when using our web services. It describes the information we collect and the procedures we have in place to safeguard your privacy.
        
      </div>
    
    <div class="on-this-page">
      <p>This privacy statement applies to data collected by the websites of TfL and its subsidiary companies, including:</p>
<ul>
    <li>Docklands Light Railway
    </li>
    <li>London River Services
    </li>
    <li>London Transport Museum
    </li>
    <li>London Underground
    </li>
    <li>Rail for London
    </li>
    <li>Victoria Coach Station
    </li>
</ul>
<h2>Personal information we collect about
you
</h2>
<p>You can browse our websites without disclosing any
information about yourself.
</p>
<p>By entering your details in any fields requested,
such as your name, email address, postal address, telephone or mobile number, or
date of birth, you enable TfL and its subsidiaries to provide you with the
service(s) you select, the information that you have asked for, or to resolve a query or complaint you have made.</p>
<p>
In all cases, we will only request information we
need to provide you with the service(s) you have requested.
</p>
<h2>How we use your personal information
</h2>
<p>When we collect information from you, we will tell
you if we would like to send you information about our products and services or
transport-related issues.
</p>
<p>We will give you the opportunity to opt out. </p>
<p>
If we wish to share your data with third parties
for marketing purposes, we will tell you about this and only do so if we get
your consent.
</p>
<p>We will give you the opportunity to opt in.
</p>
<p>We may disclose your personal data to our
subsidiaries, train operating companies which accept Oyster for travel on their
services and our service providers.
</p>
<p>These service providers may include train companies
providing services on the DLR and London Overground, bus companies and those
that administer the Congestion Charge and provide ticketing and information
services.
</p>
<p>TfL may also share your personal information with
the police and other law enforcement agencies for the purposes of crime
prevention or detection. </p>
<p>
If we disclose your information, we ask the
organisation to demonstrate that the data will assist in the prevention or
detection of crime, or that TfL is legally obliged to disclose it.
</p>
<p>This is done on a strictly case-by-case basis and
through a tightly controlled process to ensure we comply with data
protection legislation.
</p>
<h2>Protecting your information
</h2>
<p>We use up-to-date industry procedures to protect
your personal information.
We also protect the security of your data using
Secure Sockets Layer (SSL) encryption technology.
We have appropriate security measures in place to
protect against the loss, misuse or alteration of information that we have
collected from you via our websites.
The internet, however, is not generally a secure
medium of communication and we cannot guarantee the security of any information
you input on this website or send to us via the internet.
</p>
<h2>Cookies
</h2>
<p>A cookie is a piece of text that a website
transfers to your computer's hard disk so it can remember who you are. Cookies
are generally used to monitor how a website is used and improve your online
experience. They do not give us access to the rest of your computer and are
not used to identify you personally.
</p>
<p>View a list of the main <a href="/corporate/privacy-and-cookies/cookies">cookies</a> we set, what they are
used for and how to manage and delete them.</p>
<h2>Changes to this privacy statement
</h2>
<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more.
Your continued use of the site will mean that you accept those revisions.
</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information TfL and its subsidiaries collect about you and procedures we have to safeguard your privacy when using our web services";}
        
            
        


 