
    
  



@{ViewBag.Title = "Your information rights";}
@{ViewBag.Keywords = "TfL,information rights GDPR data protection privacy";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/your-information-rights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Your information rights</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Your information rights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Protecting personal information is important to us all. At TfL we have an obligation to use personal information lawfully and appropriately. We take this responsibility seriously, because this data is also a key resource.
        
      </div>
    
    <div class="on-this-page">
      <p>Data enables&nbsp;us, for instance, to manage and recruit staff, provide customer service, operate the ticketing system and the Congestion Charge and Cycle Hire schemes and regulate the taxi and private hire trade.</p>

<p>Information about how people move around London helps us provide you with safe, efficient transport services, as well as providing you with services to help you plan your journey.</p>

<p><strong>Contacting the Data Protection Officer</strong><br />
Richard Bevins is the Data Protection Officer for TfL and its subsidiary companies, including London Underground Limited, Crossrail Ltd, the TfL Pension Fund and the London Transport Museum.</p>

<p>You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:<br />
Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<h2>What the Data Protection Officer does</h2>

<p>It is a requirement for public authorities to appoint a Data Protection Officer to oversee the collection, handling and use of personal data. The Data Protection Officer informs and advises TfL and its subsidiaries about our obligations to comply with the General Data Protection Regulation (GDPR) and other data protection legislation.</p>

<p>The Data Protection Officer manages the Privacy and Data Protection team, who monitor compliance with data protection legislation, raise awareness of data protection issues, train employees and advise on, and monitor, data protection impact assessments.</p>

<p>The Privacy and Data Protection team consider and coordinate responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies.</p>

<h2>Your&nbsp;rights under data protection legislation</h2>

<h3>Right to be informed</h3>

<p>There must be a clear reason why Transport for London (TfL) needs to collect or use personal information. We tell people when we're collecting their personal information and what we're going to do with it. A summary of this information will usually be provided to you when we collect your personal information, with more detailed descriptions relating to the TfL website and TfL services published on our Privacy &amp; cookies page.</p>

<h3>Right of access</h3>

<p>Data protection legislation gives you a right to ask to see, and receive a copy of, any personal information that we hold about you. This is known as a subject access request. We may need some background information from you before we can start this process, and we will require proof of identity to make sure that personal data is not sent to the wrong person. Where possible you can access the information we hold via your TfL account, such as Oyster, Contactless, Santander Cycles or Road User Charging. Requests will normally be answered within one month, and we will tell you if it is necessary to extend this time period. We have a web page and a series of forms to help you access your data.</p>

<h3>Right to rectification</h3>

<p>You can ask us to correct the information we hold about you if it's inaccurate or incomplete. If we have passed the information on to others, we will take steps to pass on the correction too. If we find that the information should not be changed, we will contact you within one month to explain our decision and provide details about how you can challenge the decision if you are dissatisfied with the outcome.</p>

<h3>Right to erasure</h3>

<p>We take steps to make sure that your information is not kept for longer than necessary, and you can also ask us to delete it if any of the following circumstances apply:</p>

<ul>
	<li>the information is no longer necessary for the purpose which we originally used it for</li>
	<li>we asked you for permission to use your personal information and you have changed your mind</li>
	<li>we told you we were using your personal information for 'legitimate interests' and there is not a good reason to keep your personal information</li>
	<li>you want us to stop sending you direct marketing information</li>
	<li>you believe we have used your personal information unlawfully</li>
	<li>you believe that we have a legal obligation to stop holding your personal data; or</li>
	<li>the information relates to use of online services by a child</li>
</ul>

<p>If we have passed the information on to others, we will take steps to tell them it has been deleted. The right to erasure doesn't apply to all information, such as information that we are legally obliged to hold, information that we need to keep for our official duties or information relating to legal claims. We may also refuse to delete information if there is no clear reason to do so or if it would be an excessive task.</p>

<p>Requests for deletion will normally be answered within one month. If we do not agree that we should delete your information we will explain our decision and provide details about how you can challenge the decision if you are dissatisfied with the outcome.</p>

<p>Please note in cases where we do comply with a request, we may still be obliged to keep some information about you &#45; for example the fact that you made, and we acted on, a deletion request. We may also have to keep your contact details on a 'suppression list' to ensure that don't send you direct marketing messages by mistake in future.</p>

<h2>Right to restrict processing</h2>

<p>You can ask us to restrict or stop using your personal data whilst we are considering an objection or rectification request, or if it has been used unlawfully. You may also ask us to retain data required to establish, exercise or defend a legal claim. We will contact you within one month to explain our decision and provide details about how you can challenge the decision if you are dissatisfied with the outcome.</p>

<h3>Right to data portability</h3>

<p>If we are using computers to process personal information that you have provided to us, either under contract, or with your permission to use it, you can request this information is supplied to you in re-usable electronic format, such as a CSV, JSON or XML file.</p>

<p>Requests will normally be answered within one month, and we will tell you if it is necessary to extend this time period for any reason.</p>

<h3>Right to object</h3>

<p>You have a right to object to use of your personal information we have told you we use as part of our statutory and public function (also known as our public task), in the public interest, or if we have advised you we are using your personal information in support of our legitimate interests. You can also ask us to stop sending you direct marketing or, in limited circumstances using your personal information for scientific or historical research and statistics.</p>

<p>We must stop using your personal information for direct marketing when you ask us to. In other cases we may continue to use your personal information if we can demonstrate compelling grounds to do so, or if it is necessary in connection with legal claims.</p>

<p>We will contact you within one month to explain our decision and provide details about how you can challenge the decision if you are dissatisfied with the outcome.</p>

<h3>Rights related to automated decision making including profiling</h3>

<p>Data protection legislation protects you against decisions taken by machines that could have a significant impact on you. Automated decision making involves making a decision only by automated means without any human involvement. Profiling is a term used in data protection legislation to describe a form of automated processing of personal data to analyse or predict things about an individual. If the automated decision making (including profiling), would have a legal, or similarly significant effect on you, it can only be carried out if it is:</p>

<ul>
	<li>necessary for entering into or performance of a contract between an organisation and yourself</li>
	<li>authorised by law (for example, for the purposes of preventing fraud or tax evasion); or</li>
	<li>based on your explicit consent</li>
</ul>

<p>We are required to tell you if we are using automated decision making to make decisions that would have a legal, or similarly significant effect on you. We will explain what information we use, why we use it and what the effects might be. You can ask us to reconsider the decision with human involvement.</p>

<h3>How to exercise your rights under data protection legislation</h3>

<p>We have published privacy notices on our Privacy &amp; cookies page and easy to use forms to help you access your data. Please specify if you require it in a particular format. You can also access the information we hold via your TfL account, such as Oyster, Santander Cycles or Road User Charging.</p>

<p>You should email <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a> if you have a concern about the accuracy of personal information we hold about you, if you want us to erase or restrict use of your personal information, if you object to use of your personal data or if you wish to exercise rights in relation to automated decision making.</p>

<h3>The right to contact the Information Commissioner's Office</h3>

<p>You are also entitled to raise a concern with the Information Commissioner's Office (ICO), the UK's independent body set up to uphold information rights. For more information, visit their website at <a href="http://www.ico.org.uk">ico.org.uk</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information rights details for customers";}
        
            
        


 