
    
  



@{ViewBag.Title = "Zip Oyster photocard";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/zip-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Zip Oyster photocard</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Zip Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how Transport for London (TfL) uses your personal information when you apply for, or use, a 5-10, 11-15 or 16+ Zip Oyster photocard (Zip card). It also describes how long that information is kept and the circumstances in which we might disclose it to a third party.
        
      </div>
    
    <div class="on-this-page">
      <h2>Personal information we hold</h2>

<p>The personal information we hold about you or your parent/guardian includes:</p>

<ul>
	<li>Information about the Zip card holder (you), which includes name, address, date of birth, photograph, and&nbsp;telephone number</li>
	<li>Scanned image of your passport details page (which includes your photograph and passport number)</li>
	<li>Information about your parent/guardian, which includes name, email address</li>
	<li>The name of your educational establishment or training provider</li>
	<li>Your journey history</li>
	<li>Payment card information or bank account and sort code numbers</li>
	<li>Transaction information (when and where you topped up your balance or purchased a season ticket, or were issued with a refund)</li>
	<li>Enquiries, complaints or other correspondence from you or your nominated parent/guardian</li>
</ul>

<p>If you apply online for a 5-10, 11-15 or 16+ Zip card, you will need to verify your date of birth by entering your passport number. Alternatively, you can download a verification letter from your TfL account and take it to a London post office with proof of your age (this can be a passport, European ID card, birth certificate or biometric residency permit). If the documents provide all of the information required, the post office will confirm to TfL that they have verified your age.</p>

<p>If you or your nominated&nbsp;parent/guardian <a href="https://oyster.tfl.gov.uk/oyster/entry.do">signs in to your online account</a>, TfL will collect the IP address used by your device for the purpose of fraud prevention and detection.</p>

<h2>Legal basis for using your information</h2>

<p>Under data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of Oyster, there are a number of these 'legal grounds' we rely on, which are:</p>

<ul>
	<li>Our statutory and public functions:
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
	<li>Where you have given your consent to TfL, for example:
	<ul>
		<li>you have asked the contact centre to resolve an issue or complaint for you</li>
	</ul>
	</li>
	<li>For the 'performance of a contract', for example:
	<ul>
		<li>in connection with the terms and conditions of the particular Zip card you have applied for</li>
	</ul>
	</li>
</ul>

<h2>Obtaining and using your personal information</h2>

<p>The personal information we hold is provided by you or your parent/guardian when you apply for your Zip card.</p>

<p>TfL and the companies that process personal information on our behalf use your and your parent/guardian's information for customer services and to administer the Zip card scheme you have applied for. For example, we will use your personal information to ensure that you are eligible (and continue to be eligible)&nbsp;for the particular Zip card scheme you have applied for, to issue your Zip card and respond to queries if you or your parent/guardian contacts us.</p>

<p>In June 2019, we introduced a new requirement that all applicants must supply a scanned image of their passport details page (the page with your photograph and passport number) as part of the online application process for a Zip Oyster photocard.&nbsp; We did this in order to prevent and detect fraudulent applications, and to ensure that our concessionary travel schemes are only used by those people actually eligible to do so. We will not use your passport information for any other purpose.</p>

<p>If you contact our Customer Services in connection with your Zip card, we will create a record of this. If you phone TfL, your call may also be recorded for training and quality purposes.</p>

<p>We may send you or your nominated parent/guardian a text message to let you know when applications are open for the next school year, or that your card is on its way. We will also contact you or parent/guardian near the expiry date of the Zip card to tell you about your future ticketing options.</p>

<p>We will not use your or your parent or guardian's personal information for marketing purposes and will not pass it to any other organisation for this purpose.</p>

<p>TfL's ticketing systems record the location, date and time a Zip card is used to make a journey on TfL's network, affiliated National Rail services or London River Services on which Oyster cards are accepted.</p>

<p>Relevant police services, and Local Authority Anti Social Behaviour units may provide TfL with details of any criminal convictions, warnings, reprimands, or other sanctions issued in relation to offences that have been committed by you on, or in relation to, London's public transport network.</p>

<p>Such information may be used as the basis for the withdrawal of your Zip card, and TfL may inform the police of any decision to withdraw your concession.</p>

<p>TfL will use aggregated or depersonalised Oyster journey information to carry out research and analysis, for example, to look at travel demand, provide customers with information on how busy stations are at particular times and to make improvements to our transport services. Individuals will not be identified using this information.</p>

<h2>Length of time we keep information</h2>

<p>TfL will retain personal information in line with its data retention policies. This means that we will not hold information for longer than is necessary for the purposes we obtained it for.</p>

<p>We retain data about the individual journeys made using your Zip card for eight weeks after the card is used. After eight weeks, the journey data in the ticketing system is disassociated from your card (ie pseudonymised). This eight-week period is considered reasonable to enable customers to verify or make enquiries concerning their Zip journeys (for example, for refund purposes).</p>

<p>Some journey information is also stored on the Oyster card itself; this comprises the last eight journeys and related charges, up to three season tickets, (generally the most recent three tickets, including future dated), and the last two incomplete journeys, if any. If you don't use your Oyster card very often, the data stored on the card may be older than eight weeks. However, no other data is stored on the Oyster card itself (eg name or address).</p>

<p>The information we collect as part of the application process (including the scanned image of your passport details page)&nbsp;is kept for up to three years after the expiry date of your photocard (unless you have had your Zip card withdrawn or suspended for breaching the behaviour code).</p>

<p>Details of debit or credit cards used to pay the admin fee when you apply for your Zip card, or to add pay as you go credit or buy season tickets are retained for a maximum of 18 months.</p>

<p>If you breach the Behaviour Code, you may lose your concessionary travel for a certain period of time. If so, TfL will keep a record of this for 18 months from the date your sanction is lifted and you are able to receive concessionary travel again.</p>

<p>IP addresses collected when you or parent/guardian access your TfL online account are retained for 13 months. This helps TfL monitor for things like online fraud, for example when people apply for online refunds.</p>

<p>Call recordings made when you contact Customer Services are kept for 6 months.</p>

<h2>Keeping personal information secure</h2>

<p>We take the privacy of our customers very seriously and a range of robust policies, processes and technical measures are in place to control and safeguard access to, and use of, personal information associated with Zip cards.</p>

<p>This includes payment card data which is handled in accordance with the Payment Card Industry Data Security Standard ('PCI DSS').</p>

<p>Anyone with access to personal information held in TfL's systems is required to complete TfL's privacy and data protection training on an annual basis.</p>

<p>We also publish <a href="/corporate/privacy-and-cookies/protect-your-data">guidance</a> on the steps you and your parent/guardian can also take to protect your personal information.</p>

<h2>Automated processing and profiling</h2>

<p>Under data protection legislation we have to let you know when we use your personal information to do something 'automatically' using our computers or other systems, or make an automated decision (without human intervention) that significantly affects you.</p>

<p>If you use pay as you go on your Zip card, TfL calculates the fares you are charged using automated means &#45; ie using the location where you start your journey (touch in) and, if travelling by train or tube, end your journey (touch out). If you use a pink card reader, that data will be used to confirm you took a particular route and charge you accordingly.</p>

<p>On some occasions, TfL may 'auto complete' a journey for you if you do not tap your Zip card on a yellow reader at both ends of your journey. We do this by looking at other journeys you have made previously and making an assumption about the likely origin or destination of the incomplete journey.</p>

<p>If you are due a refund as a result of TfL auto completing your journey (eg if you were originally charged a maximum single fare), we will also automatically load the refund amount to your Zip card.</p>

<p>We may also proactively issue you a refund if we can see from your journey history that you have been affected by a major disruption or incident that has severely impacted your travel.</p>

<p>If you believe you have been incorrectly charged, or not received a refund you were due, you or your nominated parent/guardian can ask Customer Services to review those transactions.</p>

<p>We analyse application data,&nbsp;journey patterns and transaction history to inform measures to protect TfL against fare evasion and fraudulent transactions. We use this data in different ways, including identifying 'hotspots' so we can deploy Revenue Inspectors in certain London Underground stations or on particular bus routes.</p>

<p>We may also use the outcome of our analysis to contact you or your nominated parent/guardian directly, with advice to touch in and out at the correct stages of a journey.</p>

<p>We may also suspend or withdraw&nbsp;Zip cards based on eligibility concerns,&nbsp;purchases, or&nbsp;subsequent top ups and disable web accounts based on online activities.</p>

<p>Part of our statutory responsibilities includes a duty to do all we reasonably can to reduce crime and disorder on and around the transport system &#45; and we work together with our local authority, policing, and other law enforcement partners as part of this.</p>

<p>We may use aggregated or depersonalised Oyster journey data to undertake intelligence, analysis and research activities to identify and inform responses to a number of issues including:</p>

<ul>
	<li>Reducing all crime and antisocial behaviour on and around the public transport network</li>
	<li>Creating crime and antisocial behaviour strategies</li>
	<li>Targeting crime and disruption hotspots to better coordinate and deploy policing resources</li>
	<li>Reducing fear of crime and improving public confidence in the safety of the journeys they make in the capital</li>
</ul>

<h2>Sharing personal information</h2>

<p>TfL uses an external service provider to process your application, issue your photo card and operate the photo card scheme on a day to day basis, including Customer Services support. TfL also uses external service providers to operate 'back office' technical services and customer database management.</p>

<p>The post office validates Zip card applications on our behalf when you're unable&nbsp;to do this&nbsp;online. They send the information to our service provider who issues your photocard. If you use your Zip card on National Rail services, we may share your personal data with relevant train operating companies for the purposes of customer service,&nbsp;and fraud prevention and detection. The same applies if you use your Zip card on river services operated by other companies.</p>

<p>If we have concerns about your eligibility for a Zip card, we may contact your school or training provider to help verify this.</p>

<p>If you appeal against a penalty fare notice issued on a National rail service and you state that you used your Zip card for that journey, the independent appeals body may verify the information you provide against journey data held in our ticketing systems. This is strictly for the purpose of assessing your appeal, and any information sharing is managed in accordance with relevant privacy and data protection legislation.</p>

<p>If you have an enquiry, <a href="/corporate/useful-contacts/index">Customer Services</a> will only discuss your application with you or the parent or guardian whose name is on the original Zip card application, unless there is an exceptional reason, which we will consider on a case by case basis.</p>

<p>We have partnerships with a number of academic institutions in the UK and overseas (eg the&nbsp;USA), who work with us to analyse journey patterns and undertake travel modelling to help us understand the way our customers travel so we can improve and plan our services for the future.</p>

<p>To do this we provide them with journey data derived from our Oyster ticketing systems that has been processed, replacing data, where required, with alternative identifiers (pseudonyms) so that it isn't possible to identify an individual customer.</p>

<p>All academic research is carried out in accordance with privacy and data protection legislation and protected by robust confidentiality agreements.</p>

<p>In some circumstances, disclosures of personal data to the police (and other law enforcement agencies) are permitted by data protection legislation, if they relate to the prevention or detection of crime and/or the apprehension or prosecution of offenders. Before any such disclosure takes place, the police are required to demonstrate that the personal data concerned will assist them in this respect. Each police request to TfL is dealt with on a strictly case-by-case basis to ensure that any such disclosure is lawful and in accordance with data protection legislation.</p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:normal">TfL may also receive or disclose personal information about customers in relation to certain emergency situations or other incidents that require an immediate response. Such events may include those involving public health, public safety or national security matters, when access to personal information is necessary to manage the incident. In some situations, we may also be required by law to disclose your personal data to the police or other enforcement, regulatory or Government body, upon a valid request to do so. These requests will be assessed on a case-by-case basis and take into account privacy considerations before a disclosure is made.</span></p>

<h2>Overseas processing</h2>

<p>TfL, its service providers and academic research partners currently process personal information relating to Oyster&nbsp;(including concessionary schemes) within the UK, the European Economic Area (EEA)&nbsp;and the USA. Any&nbsp;such processing is subject to appropriate contractual safeguards and carried&nbsp;out in accordance with the requirements of UK and EU privacy legislation.</p>

<h2>Complying with the Behaviour Code</h2>

<p>We will use your personal information to ensure compliance with the <a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Behaviour Code</a> and the Terms and Conditions of the Zip scheme you have applied for. In doing so, the Metropolitan Police Service (MPS), City of London Police and British Transport Police may inform us if you incur a criminal conviction or other legal sanction for an offence committed on London's public transport network.</p>

<p>Before doing this, an authorised Metropolitan Police officer, British Transport Police officer&nbsp;or TfL employee will check against the information we hold (that you supplied to us on your application form) to ensure that you are the holder of the concessionary photocard. The police officers can only check these details for as long as you are eligible for the Zip Oyster photocard scheme.</p>

<p>If we withdraw or suspend your travel concession, or are considering doing so, due to a failure to comply with the Behaviour Code, we will write to your parent or guardian.</p>

<h2>Earn Your Travel Back scheme</h2>

<p>If you've had your travel concession suspended or withdrawn for breaching the Behaviour Code, you can earn it back by volunteering in your local community.</p>

<p>If we withdraw your travel concession, we will write to your parent or guardian, signposting a number of organisations that offer appropriate volunteering opportunities. TfL does not pass any personal information directly to volunteering providers for the Earn Your Travel Back scheme.</p>

<h2>Your information rights</h2>

<p>You or your named parent or guardian can see your journey history online by <a href="https://oyster.tfl.gov.uk/oyster/entry.do">signing into your TfL account</a> or you can request a copy by calling <a href="/corporate/useful-contacts/index">Customer Services</a>.</p>

<p>If your parent/guardian would like to close their Oyster Photocard web account, they should contact Customer Services or contact our Privacy and Data Protection team.</p>

<p>For access to other personal information please see the section on Subject Access requests in <a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a>.</p>

<p>You also have a number of other information rights which include:</p>

<ul>
	<li>The right to question any information we have about you that you think is wrong or incomplete</li>
	<li>The right to object to how we use your data or to ask us to delete or restrict how we use it</li>
	<li>The right to complain to the regulator - the Information Commissioner's Office</li>
</ul>

<p>The TfL Privacy and Data Protection team considers and coordinates responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at <a href="mailto:dpo&#64;tfl.gov.uk">dpo&#64;tfl.gov.uk</a> or by writing to:</p>

<p>Data Protection Officer<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. Your continued use of the site will mean that you accept those revisions. This page was last updated in February 2020.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/direct-vision-standard-and-the-hgv-safety-permit-scheme">Direct Vision Standard and the HGV safety permit scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/reporting-street-problems">Reporting street problems</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact our Data Protection Officer</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DPO&#64;tfl.gov.uk">DPO&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How personal information you supply for the Zip Oyster photocard scheme is used";}
        
            
        


 