
    
  



@{ViewBag.Title = "Grounds for making a representation";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/making-a-representation/grounds-for-making-a-representation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></li>
                
            
                
                <li><span class="last-breadcrumb">Grounds for making a representation</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Grounds for making a representation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>There are defined grounds on which we will accept a representation against a Penalty Charge Notice (PCN).</p>
        
      </div>
    
    
      <p>In all cases, please ensure that you make a representation within 28 days of the date of service of the PCN.</p>
<p>Find out more about challenging a PCN.</p>
<p>Your PCN will also clearly state for which contravention it has been issued and will set out the grounds on which you can make a representation.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="grounds-for-parking-and-loading-contraventions-prefix-gf-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Grounds for making a representation-Grounds for parking and loading contraventions (prefix GF)"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="grounds-for-parking-and-loading-contraventions-prefix-gf-heading" class="accordion-heading">Grounds for parking and loading contraventions (prefix GF)</div>
            </div>
            <div id="grounds-for-parking-and-loading-contraventions-prefix-gf-content" class="start-hidden" role="region" aria-labelledby="grounds-for-parking-and-loading-contraventions-prefix-gf-heading">

        <p>You may make representations on any of the eight grounds below and raise any other mitigating circumstances.</p>
        <ol>
            <li><strong>The contravention did not occur </strong></li>
            <li><strong>The traffic order was invalid </strong>- use this if you believe that the parking restriction was invalid or illegal </li>
            <li><strong>The vehicle had been taken without my consent </strong>- use
            this if the vehicle had been stolen or taken without your consent when
            the contravention occurred. Enclose detailed evidence such as a police
            crime report number or an insurance claim </li>
            <li><strong>The penalty charge exceeds the applicable amount</strong> - tick this box if the amount of the penalty charge is incorrect or if the
            penalty charge was not issued or if the notice to owner was served out
            of time </li>
            <li><strong>I was not the owner/keeper of the vehicle at the time of the contravention </strong>-
            use this if you did not own the vehicle when the contravention
            occurred. Include a receipt of sale/purchase or a copy of the DVLA
            registration form </li>
            <li><strong>We are a vehicle hire firm and have supplied the name of the hirer
            </strong>- use this if you are a hire company and the hirer has signed a formal
            agreement accepting liability for parking fines (PCNs). You must
            enclose the name and the address of the hirer and a copy of the
            statement they signed </li>
            <li><strong>The penalty charge has been paid in full or has been paid at the reduced amount within the specified period </strong>- use this if you have already paid and please provide details of the payment method, date and amount </li>
            <li><strong>There has been a procedural impropriety on the part of the enforcement authority </strong>- use this if you think we have acted improperly and please describe the alleged impropriety </li>
        </ol>
        <p>If you do not provide the relevant information, it may not be possible to consider your representation.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="grounds-for-yellow-box-junctions-and-banned-turns-contraventions-prefix-gt-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Grounds for making a representation-Grounds for yellow box junctions and banned turns contraventions (prefix GT)"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="grounds-for-yellow-box-junctions-and-banned-turns-contraventions-prefix-gt-heading" class="accordion-heading">Grounds for yellow box junctions and banned turns contraventions (prefix GT)</div>
            </div>
            <div id="grounds-for-yellow-box-junctions-and-banned-turns-contraventions-prefix-gt-content" class="start-hidden" role="region" aria-labelledby="grounds-for-yellow-box-junctions-and-banned-turns-contraventions-prefix-gt-heading">

        <p>You can make representations on any of the five grounds listed below and raise any other mitigating circumstances.</p>
        <ol>
            <li><strong>I was not the owner of the vehicle at the time or never was the owner of the vehicle in question</strong>
            - if you sold the vehicle before the date of the contravention or
            bought it after the date, you must tell us the name and address of the
            person who bought it from you or sold it to you, if you know it, and
            please supply whatever evidence of the sale you may have (eg a sales
            receipt) </li>
            <li><strong>There was no contravention of a prescribed order or failure to comply with an indication given by a sign</strong>
            - please explain why you think there was no contravention (ie why
            there was no failure to drive the vehicle in the way shown on the sign) </li>
            <li><strong>The vehicle was being used without your consent at the time of the contravention</strong>
            - if the vehicle had been stolen or used without your consent, please
            provide details such as the police crime reference or insurance claim </li>
            <li><strong>We are a vehicle hire firm and the person hiring the vehicle
            had signed a statement accepting liability of any penalty charge notice</strong> - please supply a copy of the signed agreement (statement of liability) including the name and address of the hirer </li>
            <li><strong>The penalty charge exceeded the amount applicable in the circumstances of the case</strong> - if you think you are being asked to pay more than you should legally pay</li>
        </ol>
        <p>If you do not provide the relevant information, it may not be possible to consider your representation.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="grounds-for-bus-lane-contraventions-prefix-gt-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Grounds for making a representation-Grounds for bus lane contraventions (prefix GT)"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="grounds-for-bus-lane-contraventions-prefix-gt-heading" class="accordion-heading">Grounds for bus lane contraventions (prefix GT)</div>
            </div>
            <div id="grounds-for-bus-lane-contraventions-prefix-gt-content" class="start-hidden" role="region" aria-labelledby="grounds-for-bus-lane-contraventions-prefix-gt-heading">

        <p>You can make representations on any of the grounds listed below and raise any other mitigating circumstances.</p>
        <ol>
            <li><strong>I never owned the vehicle in question/I ceased to be the
            owner of the vehicle before the date on which the penalty charge was
            alleged to have become payable/I became the owner after that date</strong>
            - please provide evidence such as name and address of the person who
            bought it from you or sold it to you, if you know it, and please supply
            whatever evidence of the sale you may have (eg a sales receipt or DVLA
            registration document) </li>
            <li><strong>There was no breach of the bus lane order or regulation&nbsp; </strong></li>
            <li><strong>The vehicle was taken and being driven without my consent at the time of the contravention</strong>
            - if the vehicle had been stolen or used without your consent, please
            provide details such as the police crime reference or insurance claim </li>
        </ol>
        <p>If you do not provide the relevant information, it may not be possible to consider your representation.</p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div></li>
                            
 
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div>
                                        <ul>
                                            
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/how-to-appeal">How to appeal</a></div></li>
                                    
 
                                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/grounds-for-making-a-representation">Grounds for making a representation</a></div>
                                            
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declarations</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">Witness statements</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "There are defined grounds on which we will accept a representation against a Penalty Charge Notice (PCN)";}
        
            
        


 