
    
  



@{ViewBag.Title = "How to appeal";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/making-a-representation/how-to-appeal";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></li>
                
            
                
                <li><span class="last-breadcrumb">How to appeal</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>How to appeal</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your representation against a PCN is rejected, you have the right to appeal to London Tribunals. </p>
        
      </div>
    
    
      <p><a href="http://www.londontribunals.gov.uk/">London Tribunals</a> manages adjudication services. Their decisions are final and binding on both
you and us. We are independent from London Tribunals and cannot control their decisions.</p>
<p>To appeal you need to complete the form sent with the Notice of
Rejection. Do not send this to us, send it to the address shown
on the form. You may choose either a personal or postal hearing.</p>
<p>Please <a href="http://www.londontribunals.gov.uk/about/contact-us-getting-here">contact London Tribunals
directly</a> for further information and details about when your case will
be heard.</p>
<h3>Appeal successful</h3>
<p>If your appeal is successful it is recorded as 'allowed'. This means
that either we have reconsidered the evidence and now decided not to
contest the appeal or that the adjudicator has considered the facts and
found in your favour. This will mean that you may no longer be liable
for the Penalty Charge Notice.</p>
<h3>Appeal refused</h3>
<p>If your appeal is refused, this means that following consideration by
the adjudicator, the tribunal has found in our favour. The adjudicator will have listed the reasons why and given direction as to
the amount that is owed and how quickly this must be paid.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div></li>
                            
 
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div>
                                        <ul>
                                            
                                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/how-to-appeal">How to appeal</a></div>
                                            
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/grounds-for-making-a-representation">Grounds for making a representation</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declarations</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">Witness statements</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "If your representation against a PCN is rejected, you have the right to appeal to an Adjudicator at London Tribunals ";}
        
            
        


 