


@{ViewBag.Title = " 20,000th lorry driver completes TfL's Safe Urban Driving course";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> 20,000th lorry driver completes TfL’s Safe Urban Driving course</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> 20,000th lorry driver completes TfL’s Safe Urban Driving course</h1>
        <div class="content-page-press-release">
        25 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Some 20,000 of the UK's licensed HGV drivers have now taken Transport for London's (TfL's) Safe Urban Driving course to learn how to share the road safely with others.</p>
<p>The course, created by TfL in 2011, is the first accredited course in the UK to include on-road cycle training for HGV drivers. This element of the course gives drivers a vulnerable road user's perspective of the road and helps to improve road safety through an attitude change towards cyclists and pedestrians. The success and growth of the course is such that TfL is expecting to train another 4,000 drivers this year.</p>
<p>Leon Daniels, Managing Director Surface Transport at TfL, said: `We're helping create a safer generation of lorry drivers &#45; and protect vulnerable road users - having now trained 20,000 of those who drive vital but intimidating vehicles. Our Safe Urban Driving course promotes more consideration for others while out on the road. I've been on this course and know how eye-opening and important it is; that's why we want all lorry drivers operating in London to take part in this type of training and express our thanks to those who already have.'</p>
<p>Cllr Wesley Harcourt, Hammersmith and Fulham Council's Cabinet Member for Environment, Transport and Residents' Services, said: `More than 1,400 lorry and van drivers in Hammersmith &amp; Fulham have taken up this vital TfL-funded course. In March, we'll deliver our one hundredth session. We are determined to make our roads safer for everyone who uses them.'</p>
<p>Safe Urban Driving makes it easy for councils, developers and businesses to ensure that their supply chain uses the safest drivers. The course satisfies one of TfL's Work Related Road Risk contractual requirements. These requirements are an effective way for all organisations to proactively reduce the risk of their supply chain being involved in serious collisions on the roads. TfL strongly encourages other organisations to use their buying power to improve road safety. Safe Urban Driving also meets the training requirements for the Construction Logistics and Cycle Safety (CLOCS) programme.</p>
<p>TfL's innovative Safe Urban Driving course is now delivered all over the UK from Bristol to Falkirk. Fleet Operator Recognition Scheme (FORS) accredited operators can book a place on a training course at fors-online.org.uk. The industry is demonstrating a desire and commitment to vulnerable road user safety and large operators are part-funding their training.</p>
<p>- Ends -</p>
<p>Notes to Editors:</p>
<ul>
    <li>Safe Urban Driving contributes to the 35 hours training that is required of HGV drivers under the Driver Certificate of Professional Competence</li>
    <li>Since 2012 TfL has included Work Related Road Risk clauses in all new contracts with suppliers or contractors using a commercial vehicle. More than 600 existing contracts have also been amended to include Work Related Road Risk clauses which include mandatory driver training, additional safety equipment fitted to larger vehicles and collision reporting and analysis.</li>
    <li>TfL funds the Metropolitan Police's Exchanging Places events which allow people to sit in the driver's seat of a HGV or bus to get a better understanding of what the driver can and can't see, especially in regard to cyclists on the nearside and directly in front of large vehicles.</li>
    <li>Hammersmith and Fulham Safe Urban Driving is funded by Transport for London and organised by the council.</li>
    <li>Launched in 2013 as an industry response to a TfL commissioned report, the Construction Logistics and Cyclist Safety (CLOCS) programme has brought together developers, construction companies, operators, vehicle manufacturers and regulatory bodies to ensure a road safety culture is embedded across the construction industry. Due to CLOCS, more than 30 major clients across the UK require FORS accreditation as part of their contracts to help reduce collisions between trucks and all vulnerable road users. Further information about CLOCS is available at: <a href="http://www.clocs.org.uk">www.clocs.org.uk</a>.</li>
    <li>TfL launched FORS in April 2008 to improve road safety and help reduce the wider environmental and traffic impacts of freight and fleet operations. Accredited operators demonstrate a commitment to managing road risk, reducing environmental impact and improving operational efficiency. More than 215,000 vehicles from 3,500 companies are now accredited to FORS. Further information about FORS is available at:&nbsp;<a href="http://www.fors-online.org.uk">http://www.fors-online.org.uk</a></li>
    <li>For the experiences of a driver who has completed the course or an exemplar haulier please contact the TfL Press Office.</li>
    <li>For pictures of the drivers taking the Safe Urban Driving course please contact the TfL Press Office.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January- 20,000th lorry driver completes TfL’s Safe Urban Driving course -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 