


@{ViewBag.Title = "&pound;200m being invested in bus priority schemes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£200m being invested in bus priority schemes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£200m being invested in bus priority schemes</h1>
        <div class="content-page-press-release">
        25 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Investment in projects that help reduce delays for bus passengers across the city
        
    </div>



 <div class="on-this-page">
<p>A &pound;200m investment in new bus priority schemes in London is already speeding up journeys for passengers in the Capital.  More than 100 of the schemes will be in place by April this year, helping hundreds of thousands of passengers get through busy parts of the London more quickly.</p>
<p>The Capital's roads are seeing an increase in congestion due to a construction boom and a significant growth in population, so Transport for London is investing heavily in helping keep the roads moving through a range of means. Part of this programme is designed to help buses get through congested areas quicker and more reliably. The new bus priority schemes include changes to road layouts and junctions, and enabling small changes to routes so that buses can avoid traffic hotspots.</p>
<p>As an example, the most recently completed scheme, in Battersea, allows route 156 buses to make a right turn from northbound on Queenstown Road to eastbound on Battersea Park Road.  It will reduce average journey times by around a minute and a half in each direction in the morning and evening peaks, benefitting approximately 800,000 passengers a year.</p>
<p>Around 50 bus priority schemes were delivered across the Capital in 2015 and a total of 116 will be in place by the end of April.  These improvements will benefit passengers in 17 London boroughs right across the Capital.  Bus Priority Schemes to be completed this year include:</p>
<ul>
    <li>A scheme on North End Road in Erith will enable buses to turn across a dual carriageway rather than having to drive an extra kilometre to turn around at a roundabout, thereby saving time for passengers</li>
    <li>Route 274 buses will be able to turn right near Camden Road Station, reducing the distance buses have to travel and speeding up journey times for passengers</li>
    <li>A bus-only slip road for route 206 buses is being created on Brentfield Road, near IKEA in Neasden, enabling buses to take a more direct route that aims to save roughly five minutes journey time.  The changes will also mean that buses can travel the same route in both directions, making the route easier for customers to understand</li>
    <li>A new 500m bus lane in Plumstead, Greenwich, that will improve journey times for passengers travelling on a number of westbound routes towards Woolwich</li>
</ul>
<p>Mike Weston, TfL's Director of Buses, said: `London's continued success means that it is a very busy city with a huge range of construction projects underway, particularly in central London, and this is having an effect on traffic.  To ensure that the bus network remains reliable and efficient, we are investing &pound;200 million in modernising roads across the Capital so that bus passengers can avoid potential delays to their journeys.  Fifty schemes were completed last year and there are dozens more that will be completed over the next few months, ensuring that bus journeys are as quick and easy as possible.</p>
<p>`We're working 24-hours a day to relieve congestion through our Traffic Control Centre and cracking down on illegal or inconsiderate drivers through our expanded team of dedicated traffic enforcement officers.'</p>
<p>Bus Priority Schemes are TfL-funded but delivered in partnership with local boroughs, which are often responsible for the local roads that the buses serve and represent the communities around them.</p>
<p>Ends</p>
<p>Notes to Editors</p>
<ul>
    <li>Each day around 6.5m journeys are made on London's buses, resulting in almost 2.4bn journeys a year &#45; which represents more than half of all bus journeys in England.</li>
    <li>Since TfL was formed in 2000 it has invested strongly in London's bus network &#45; resulting in a 69% increase in passenger numbers</li>
</ul>
<ul>
    <li>TfL is investing &pound;4bn over the next 10 years to improve London's roads.&nbsp;</li>
</ul>
<ul>
    <li>Key schemes include:</li>
    <li>Elephant and Castle gyratory</li>
    <li>East-West Cycle superhighway</li>
    <li>A406 Neasden improvements</li>
    <li>North-South cycle superhighway</li>
    <li>Stockwell and Oval gyratories</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-£200m being invested in bus priority schemes -->

 
 
        
        
            @{ViewBag.Description = "Investment in projects that help reduce delays for bus passengers across the city";}
        
        


 