


@{ViewBag.Title = "Enjoy the magic of winter on a free guided walk across the Capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Enjoy the magic of winter on a free guided walk across the Capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Enjoy the magic of winter on a free guided walk across the Capital</h1>
        <div class="content-page-press-release">
        05 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">
<p>Spectacular views, hidden gems and green parkland can all be enjoyed on a crisp stroll around the Capital as part of Transport for London's (TfL's) winter walking weekend later this month.</p>
<p>'Winter Wanders' sees TfL put on 43 free guided walks across London on Saturday 23 and Sunday 24 January. The walks, which are led by experienced Walk London guides, are a perfect post-Christmas activity as they range from short strolls to more challenging routes, and all start and finish within easy reach of public transport.</p>
<p>There are six new walks for 2016 including a special design-focused walk to celebrate TfL's Transported by Design programme. The walk will follow the Piccadilly line above ground from Green Park Tube station to Covent Garden Tube station taking in the design heritage of the stations and the surrounding areas. There are also a number of new family-friendly walks, including a gentle animal-themed stroll through the City.</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `Walking is not only the best way to enjoy hidden treasures and famous landmarks around London, it is also good for health and wellbeing. We hope that through these free guided walks people will see how easy, quick and enjoyable it can be to walk around this vibrant city.</p>
<p>`From our new Walking Tube map to Legible London wayfinding signs and our pedestrian safety action plan, we're committed to making London the most walkable city in the world.'</p>
<p>The 43 guided Winter Wanders include:</p>
<p>Saturday 23 January</p>
<ul>
    <li>Scenes on Screen - Film and TV in London at 14:00 (1.7 miles) a new walk for 2016, which will take in locations used for films, TV series and commercials, as well as insights into some of the famous former local residents.</li>
    <li>Goodnight Mr Tom - London in the Blitz at 14:00 (1.6 miles) this new family-focused walk is inspired by Michelle Magorian's much loved book &quot;Goodnight Mister Tom&quot;, which tells the story of Willy Beech who is evacuated from London during World War II. The walk explores the City of London and hears what life was like for those who remained in the Capital during the Blitz.</li>
    <li>Hidden Alleyways and Courtyards - St Paul's to Chancery Lane at 11.00 (1.5 miles) this walk explores London's past including a monastery, hidden alleyways and the history of London's newspapers and journalism.</li>
    <li>Discovering Historic Southwark - in the Shadow of the Shard at 14.30 (2 miles) walk from London Bridge to Tower Hill. Learn about the Roman times to the present day, Southwark's famous landmarks and inhabitants, its seafaring past, its literary connections and some of its dark secrets.</li>
    <li>A mighty River and a Royal Park at 10:00 (9.5 miles) walk along the Thames path from Richmond, passing under Richmond Bridge and by Ham House. The walk takes in the whole of Bushey Park on the London LOOP walking route. This is an original royal hunting ground and herds of deer are often seen.</li>
</ul>
<p>Sunday 24 January</p>
<ul>
    <li>Walk the Piccadilly Line at 14.00 (1 mile) this is a special new design-led walk to celebrate TfL's Transported by Design programme. The walk will follow the Piccadilly line above ground from Green Park Tube station to Covent Garden Tube station. The walk will cover the design heritage of the Piccadilly line stations and London's transport design icons generally.</li>
    <li>Animal I-Spy in the City at 10:30 (1.5 miles) join this new family-friendly stroll through the streets of the city and discover where dragons, lions and even unicorns may be hiding. Perfect for children aged between 4 and 7 years old, but younger or older children are also welcome.</li>
    <li>London's Hidden Treasures - Waterloo to London Bridge at 11:30 (2 miles) this is a gentle stroll along both sides of the River Thames which will reveal some of the secrets that lie beneath the streets and under the river. The walk starts at Waterloo and the iconic London Eye before moving directly on to the river where the history is over 2,000 years.</li>
    <li>Gleaming Spires - Architecture and public art in the City of London at 15.30 (1.5 miles) explore the art and architecture in the vibrant City of London and experience its ever-changing skyline.</li>
    <li>Seafaring London - Tower Bridge to Greenwich at 11.30 (6.5 miles) a special walk exploring seafaring London. Walking through Shad Thames and also looking across the water at St Katherine's Dock, Wapping, Limehouse and Millwall.</li>
</ul>
<p>TfL supports the Mayor's commitment to promote walking as an enjoyable and healthy way to experience all that London has to offer. Through Legible London, walking in London has never been easier with 1,500 Legible London signs installed to help people find their way including; at all Tube and mainline rail stations, bus stops and Cycle Hire docking stations. TfL has also published a version of the iconic Tube map, showing walking times between central London Tube stations.</p>
<p>TfL is working closely with London's boroughs to help make the Capital a more walking-friendly city, with over &pound;4 billion being invested over 10 years to make London's streets and roads greener and safer. TfL has also invested more than &pound;9 million into the Walk London Network of seven high quality walking routes that span London.</p>
<p>Winter Wanders is one of three TfL sponsored walking weekends held each year, to help Londoners enjoy the city's best walking routes and motivate people to walk more often. The other guided walking weekends, 'Spring into Summer' and 'Autumn Ambles' take place in May and October.</p>
<p>To find out more about the 'Winter Wanders' guided walks near you, visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a>.</p>
<p>For more information about walking in the Capital and to download the Walking Tube map and other maps, visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a>.</p>
<p>Ends<br />
Notes to Editors:</p>
<ul>
    <li>More than eight million people walk on the Walk London Network each year.</li>
    <li>Over 35,000 people have attended TfL-funded Walk London's walking weekends since 2007.</li>
    <li>All walks are accompanied by a trained Walk Leader and experienced Back Marker.</li>
    <li>The guided walks take in sections of the seven top walking routes in London, which can be completed at any time and are fully accessible. The routes include:<br />
    •	Capital Ring - 78 miles / 126 km<br />
    •	Green Chain -50 miles / 80 km<br />
    •	Jubilee Greenway - 37miles / 60 km<br />
    •	Jubilee Walkway &#45; 15 miles / 24 km<br />
    •	Lea Valley -18 miles / 29 km<br />
    •	London Outer Orbital Path (LOOP) - 152 miles / 245 km<br />
    •	Thames Path - 40 miles / 64 km</li>
</ul>
<p>About Transported by Design<br />
TfL's 'Transported by Design' programme is a series of events, exhibitions and competitions sponsored by Exterion Media, that celebrate the role of good design on London's transport network. Running until December 2016 activities include:</p>
<ul>
    <li>'London by Design', a season of events at the London Transport Museum running throughout 2016;</li>
    <li>A major design festival in Regent Street, summer 2016;</li>
    <li>Activities to celebrate the 100th anniversary of the iconic Johnston typeface, autumn 2016;</li>
    <li>Unveiling of a commemoration at Piccadilly Circus station to former London Transport Chief Executive, Frank Pick, winter 2016.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Enjoy the magic of winter on a free guided walk across the Capital -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 