


@{ViewBag.Title = "Londoners advised to plan ahead as Lumiere gets underway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners advised to plan ahead as Lumiere gets underway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners advised to plan ahead as Lumiere gets underway</h1>
        <div class="content-page-press-release">
        08 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London's first Lumiere festival takes place from Thursday 14 to Sunday 17 January, with spectacular illuminations, animations and installations by a host of international artists at 19 locations in the West End and King's Cross over four nights. Lumiere London is a free event devised by acclaimed creative producers Artichoke and backed by the Mayor of London. Transport for London (TfL) is advising Londoners to plan their journeys in advance of the biggest-ever light festival to hit the Capital.</p>
<p>There will be a number of road closures and bus diversions in central London before, during and after the festival over the four nights. On event days the closures in the West End will be in place from 16:30 to 23:30 and will affect traffic in central London. From 16:00 on event days there will be bus service changes in the West End and bus journeys are expected to take longer.
</p>
<p>Affected bus routes will be: 3, 6, 7, 8, 9, 10, 12, 13, 14, 19, 22, 23, 25, 38, 55, 73, 88, 94, 197, 139, 159, 189, 390, 453, C2.</p>
<p>Drivers are advised to avoid the festival zone from 16.30 and to expect longer journeys if driving in central London after that time, particularly on Thursday 14 and Friday 15 January. Drivers should plan ahead and allow more time to complete their journeys, more information is available at &#45; www. tfl.gov.uk/Lumiere</p>
<p>Whether you are attending the festival which runs from 18:30 to 22:30 each evening, or have other business in the vicinity, you are advised to plan ahead as the easiest way to get around will be by foot or the Tube. London Underground stations in and around the festival areas, particularly Oxford Circus, are expected to be busier than usual between 17:00 and 20:00, so customers are encouraged to plan their journeys in advance. On Saturday 16 and Sunday 17 January there will be no Jubilee line service between Waterloo and Stanmore due to planned engineering works.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The Lumiere Festival is a great post Christmas event that will create a fantastic opportunity for Londoners and visitors to see some stunning art work in the heart of the city. I would encourage everyone going to the event, or planning to travel to and from the areas where it will take place, to plan their journeys in advance to get around without delay and to make the most of this exciting new festival.'</p>
<p>Detailed information about how to make the most of the festival is available at &#45; <a href="http://www.tfl.gov.uk/lumiere">www.tfl.gov.uk/lumiere</a> and <a href="http://www.visitlondon.com/lumiere">www.visitlondon.com/lumiere</a>.</p>
<hr />
<ul>
    <li>As with all major events in London, during Lumiere, TfL's Traffic Control Centre will monitor the surrounding road network to minimise congestion and keep traffic moving. Using state of the art technology, traffic signals can respond to conditions and be controlled centrally and up to the minute traffic information will be provided via digital road signs, TfL's traffic status page and at &#64;TfLTrafficNews.</li>
    <li>For more information about the festival, go to <a href="http://www.visitlondon.com/lumiere">www.visitlondon.com/lumiere</a>.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Londoners advised to plan ahead as Lumiere gets underway -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 