


@{ViewBag.Title = "LU calls for tenders for design and build of New Tube for London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU calls for tenders for design and build of New Tube for London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU calls for tenders for design and build of New Tube for London</h1>
        <div class="content-page-press-release">
        18 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Manufacturer sought to build 250 new walk-through, air-cooled train to serve the Piccadilly, Waterloo & City, Bakerloo and Central lines
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) took a significant step today in its search for a manufacturer to design and build the New Tube for London by issuing an Invitation to Tender (ITT).</p>
<p>Five pre-qualified manufacturers &#45; Alstom, Bombardier, CAF, Hitachi and Siemens &#45; can now proceed to the next stage of the formal procurement process with LU over the design and build of the next generation of Underground trains, which will come into service from the early 2020s.</p>
<p>The New Tube will mean faster, more frequent and more reliable journeys for customers travelling on the deep-level lines &#45; the Piccadilly, Waterloo &amp; City, Bakerloo and Central lines. It will also mean greater capacity and more comfortable journeys, and the first air-cooled trains on the deep-level sections of the Tube. In addition, the new trains will feature improved accessibility and safety features including walk-through carriages and wider doors.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Over the last few years we have seen the completion of several major signalling upgrades on the Tube, as well as the delivery of 191 brand new air-conditioned walk-through trains. But it is clear that London must have continued investment in its Tube network if it is to continue to flourish, and that is why I have argued so hard to protect our capital investment programme. I am delighted that we are now able to launch the process to commission a fleet of new deep-level Tube trains that will transform journeys for the millions of passengers who use our Piccadilly, Waterloo &amp; City, Bakerloo and Central lines.'</p>
<p>Nick Brown, Managing Director of London Underground, said: `Today's invitation to train manufacturers to submit bids for the design and build of the New Tube is a significant step forward. Londoners have already seen huge improvements to the Tube network, but to meet the needs of our rapidly growing population we must continue to invest in and improve our services. More people are using the Underground than at any point in its 153-year history. The New Tube for London will transform the journeys of millions of customers, providing trains fit for a world city for the next five decades.'</p>
<p>The building of the 250 new trains, which will feature attractive internal styling that echoes the Underground's heritage, will also help to support new jobs and growth elsewhere in the UK. They will be designed and built to be 'future-proofed', which will include the capability for fully automatic operation, given that the New Tube will serve London for around 50 years.</p>
<p>Along with modernised signal systems operating alongside them, the trains will boost capacity on all four deep-level lines:</p>
<ul>
    <li>The Piccadilly line by 60% (the equivalent of up to 21,000 customers per hour)</li>
    <li>The Waterloo &amp; City line by 35% (the equivalent of up to 7,000 customers per hour)</li>
    <li>The Bakerloo line by 25% (the equivalent of up to 9,000 customers per hour)</li>
    <li>The Central line by 25% (the equivalent of up to 12,000 customers per hour)</li>
</ul>
<p>Bidding parties will need to return their proposals to LU in summer 2016 with the contract to build the new trains awarded in autumn 2017.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<ul>
    <li>LU placed a notice in the Official Journal of the European Union (OJEU) in February 2014 seeking expressions of interest to build the new trains. This enabled LU to put together a shortlist of five bidders which have now been issued with the ITT.</li>
    <li>The OJEU notice quoted a range of between &pound;1bn and &pound;2.5bn for 250 new trains.</li>
    <li>The New Tube for London programme will see approximately:</li>
    <li>100 trains for the Piccadilly line</li>
    <li>10 trains for the Waterloo &amp; City line</li>
    <li>40 trains for the Bakerloo line</li>
    <li>100 trains for the Central line</li>
</ul>
<ul>
    <li>A public exhibition was launched by the Mayor of London, Boris Johnson, in October 2014 to showcase a concept design for the New Tube for London. Transport for London's (TfL) team worked with transport design specialists PriestmanGoode to ensure that there was a balance between the design and function of a train that will serve London for decades to come, and respect the world-renowned and instantly recognisable design heritage of London Underground.</li>
    <li>Images of the concept design for New Tube for London are available at:  <a href="https://www.flickr.com/photos/tflpress">https://www.flickr.com/photos/tflpres</a>s and a fly-through film is available on You Tube at: <a href="https://www.youtube.com/watch?v=Z3Q0FZUKHkY">https://www.youtube.com/watch?v=Z3Q0FZUKHkY</a></li>
    <li>For more details about the New Tube for London please go to  <a href="http://www.tfl.gov.uk/newtube">www.tfl.gov.uk/newtube</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-LU calls for tenders for design and build of New Tube for London -->

 
 
        
        
            @{ViewBag.Description = "Manufacturer sought to build 250 new walk-through, air-cooled train to serve the Piccadilly, Waterloo & City, Bakerloo and Central lines";}
        
        


 