


@{ViewBag.Title = "New open data feeds help Londoners plan better journeys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New open data feeds help Londoners plan better journeys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New open data feeds help Londoners plan better journeys</h1>
        <div class="content-page-press-release">
        27 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Video 'jamcams' and live London Underground car park data added to TfL's ever-growing open data API
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are absolutely committed to making sure that we help people have easier journeys through the Capital, and we are lucky enough to have a booming tech sector in London that is perfectly positioned to help us deliver on this commitment"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Nearly 500 third party apps now powered by TfL's live open data, helping Londoners and visitors to plan their journeys</li>
    <li>Provision of free open data core to TfL's commitment to transparency and bringing better information products and services to customers quickly</li>
</ul>
<p>Live information on the number of parking spaces available in London Underground car parks, as well as improved traffic camera information that will help drivers avoid disruption, are the latest open data feeds to be released by Transport for London (TfL) to help make journeys easier for customers.</p>
<p>The data, available free of charge at <a href="http://tfl.gov.uk/developers">http://tfl.gov.uk/developers</a>, is being released as part of TfL's commitment to make the information it holds openly available to create better products and services that can be brought to customers quickly.</p>
<p>They join an extensive range of TfL data feeds already available, such as live travel information for all TfL services and details of planned roadworks and live road incidents, which help millions of people plan their journeys around London each day.</p>
<p>Almost 500 mobile phone and online apps are already powered by TfL's open data, providing up-to-the-minute information about the Capital's public transport and road networks.</p>
<p>The new data feeds will further help drivers better plan their journeys and contribute towards reduced congestion:</p>
<ul>
    <li>London Underground car park data: Information about all 61 London Underground station car parks is now available online, including location, cost and the number of spaces. For 23 of these, a dynamic feed is available to inform people how many spaces are currently being used. TfL is working with its contractors to investigate expanding the feed to cover all LU car parks in the future.</li>
    <li>Video Jam Cams: As well as static images from TfL's &quot;JamCams&quot;, which provide regularly updated images of the TfL Road Network across London, developers can now also access five second looped videos &#45; similar to a Vine - from available TfL cameras. This allows people to see how traffic is moving along particular roads to help better understand live traffic conditions. The videos have also been incorporated into TfL's live traffic website &#45; <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a></li>
    <li>Further improvements and data feeds are planned throughout this year: These include simpler access to the annual road safety data, improvement work on tunnels and further data on schemes which are modernising the road network. TfL is also investigating how to make complex fares information more accessible for developers.</li>
</ul>
<p>Future plans also include using historic and real-time data to provide more information on the predicted status of the public transport and road networks to provide customers with alerts in advance.</p>
<p>The Mayor of London, Boris Johnson MP, said: </p>
<p>'Mobile devices and new sources of data are making it ever-easier to help people avoid delay and manage their journeys. We are absolutely committed to making sure that we help people have easier journeys through the Capital, and we are lucky enough to have a booming tech sector in London that is perfectly positioned to help us deliver on this commitment.'</p>
<p>Phil Young, Head of Online at TfL, said: </p>
<p>'Our free open data helps millions of people plan their journeys and avoid unnecessary delays. These new feeds will give people even more information that will help them avoid congestion on the roads.</p>
<p>'As people increasingly use mobile devices in every aspect of their day-to-day life, it's vital that we make our information as easy for customers to access as possible, both through our own services and those of third parties and partners. This helps people make more informed choices and stimulates new products and services from the Capital's world-leading tech sector.'</p>
<p>For more information about TfL's open data feeds, please visit <a href="http://tfl.gov.uk/developers">http://tfl.gov.uk/developers</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>For technical briefings about how TfL is using this data, please contact the TfL Press Office.</li>
    <li>A recent article on how the new Car Parks and 'JamCam' data can be used by developers is available to read on TfL's Digital blog &#45; <a href="http://blog.tfl.gov.uk/2016/01/22/improved-roads-open-data-car-parks-jamcams/">http://blog.tfl.gov.uk/2016/01/22/improved-roads-open-data-car-parks-jamcams/</a></li>
    <li>In late 2015, TfL held a number of &quot;hackathons&quot; in partnership with a number of London Universities to see how its data can be harnessed to manage the road network more efficiently. Further Hackathons are planned throughout 2016, enabling us to drive insight and innovation from within the data science community while delivering benefits for London.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-New open data feeds help Londoners plan better journeys -->

 
 
        
        
            @{ViewBag.Description = "TfL releases new open data feeds to help Londoners find station parking spaces and avoid congestion";}
        
        


 