


@{ViewBag.Title = "Pedestrian and cycle safety improvements begin at Bow Interchange";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pedestrian and cycle safety improvements begin at Bow Interchange</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pedestrian and cycle safety improvements begin at Bow Interchange</h1>
        <div class="content-page-press-release">
        13 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has begun construction of vital safety improvements for pedestrians and cyclists at the Bow Interchange in east London.</p>
<p>The improvements are designed to make the busy Bow Roundabout much more accessible for pedestrians and cyclists, paving the way for a wider vision for the area.</p>
<p>New signalised pedestrian crossings are being installed across Bow Road and Stratford High Street, as well as crossings to link Bow Road and Stratford High Street via the Bow Roundabout traffic island. The existing non-signalised crossings on the A12 Blackwall Tunnel Northern Approach slip roads will be removed.</p>
<p>The work will include the creation of a new public space under the Bow Flyover and Toucan crossings to provide a connection for cyclists between Cycle Superhighway 2 and the River Lea towpath. The cycle 'early-start' facilities at the roundabout will be repositioned to make space for the new pedestrian crossings and the layout of the eastbound facility will be changed to be similar to the layout on Stratford High Street, including an increase in the length of the cycle waiting area on Bow Road from 12 metres to 18 metres.</p>
<p>The interim scheme will deliver immediate benefits ahead of the wider Bow Vision Programme, which TfL is working with the London Boroughs of Tower Hamlets and Newham to deliver by 2025.</p>
<p>Initial proposals for the full vision for Bow will be consulted on in summer 2016. Options being investigated include:</p>
<ul>
    <li>Removing Bow Flyover and providing extra pedestrian crossings on Bow Road and Stratford High Street</li>
    <li>Redesigning Bow Interchange and removing the roundabout, giving pedestrians and cyclists more direct access across the area</li>
    <li>Improving pedestrian and cycle connections across the A12 Blackwall Tunnel Northern Approach</li>
    <li>Improving access from Stratford High Street and the A12 Blackwall Tunnel Northern Approach to new developments, including extending the bus network through new communities</li>
    <li>Improvements to the urban environment to reflect the characteristics of the local area</li>
</ul>
<p>The Mayor of London, Boris Johnson MP, said: `Bow Roundabout was one of the first junctions we set out to tackle when we started our new roads modernisation programme. It was not fit for purpose, especially in light of the dramatic growth and change in east London. We have already made improvements, but more is needed and these changes - and the longer term proposals being consulted on in a few months - will transform the junction and the area.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: `These improvements for pedestrians and cyclists at Bow Roundabout will help make a real difference for people living in the area, while we plan further improvements to overhaul this vital junction in the future. The works are part of our &pound;4bn Road Modernisation Plan, the biggest investment in London's roads in a generation to transform our streets and make them safer for all.'</p>
<p>This interim work is expected to finish in the summer and has been coordinated with the upgrade to Cycle Superhighway 2, which is nearing completion. It will be carried out in phases to minimise the impact to traffic in the area. Traffic changes include (dates subject to change):</p>
<ul>
    <li>Now to mid-March, lane closures in place on Bow Road and Stratford High Street, near Bow roundabout</li>
    <li>From 20 January the eastbound contraflow lane on Stratford High Street will close permanently</li>
    <li>From mid-March to mid-April, lane closures will be in place at night on Bow Roundabout and its approaches</li>
</ul>
<p>Bus routes passing through Bow Roundabout may be diverted during the works, including over the flyover.</p>
<p>While delivering the &pound;4bn Road Modernisation Plan, an unprecedented programme of improvements to ensure London's road network is safe and supports the needs of a growing population, TfL will use a variety of ways to ensure traffic keeps moving. The use of technology such as Split Cycle Offset Optimisation Technique (SCOOT), proven to reduce delays by up to 12 per cent, is being expanded across London. Up-to-the-minute traffic information is provided via digital road signs, TfL's traffic status page and TfL's Twitter feeds. TfL also has the ability to control temporary traffic lights from its central traffic control centre, to help further ease traffic and minimise disruption. Drivers and bus passengers are advised to check <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnew</a>s and <a href="http://tfl.gov.uk/bus/status">tfl.gov.uk/bus/status</a> before they travel and follow TfL's twitter feeds - &#64;TfLTrafficNews and &#64;TfLBusAlerts &#45; to plan their journeys and avoid disruption.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Images of the completed Bow Vision Interim scheme and potential overall Bow Vision scheme are available by request to the TfL Press Office.</li>
    <li>The Bow Vision Interim Scheme was consulted on in spring 2015 and backed by 86 per cent of respondents. For more information about the plans, go to: <a href="http://www.tfl.gov.uk/bow-vision">www.tfl.gov.uk/bow-vision</a></li>
    <li>TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</li>
    <li>SCOOT manages vehicular traffic flow across London on a second-by-second basis. More than half of all junctions in London now use SCOOT technology, which uses sensors buried in carriageways to detect real-time traffic conditions and optimise traffic light timings to reduce delays. In central London around 95 per cent of junctions have been fitted with the technology. By 2018 virtually all junctions will be operating under SCOOT control.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Pedestrian and cycle safety improvements begin at Bow Interchange -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 