


@{ViewBag.Title = "Santander Cycles expands to Queen Elizabeth Olympic Park";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles expands to Queen Elizabeth Olympic Park</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles expands to Queen Elizabeth Olympic Park</h1>
        <div class="content-page-press-release">
        21 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London's flagship cycle hire scheme, Santander Cycles, has been expanded to Queen Elizabeth Olympic Park.</p>
<p>Eight new docking stations and 310 docking points have been installed at the Park, furthering the reach of the popular scheme and contributing to the Mayor's vision of making cycling more accessible for everyone.</p>
<p>London's Cycling Commissioner, Andrew Gilligan, and Jessica Ennis-Hill, Santander ambassador, were at the Park today to launch the new docking stations, including some special edition gold Santander Cycles to reflect the link to the London 2012 cycling legacy.</p>
<p>The newest docking stations are located at iconic venues at Queen Elizabeth Olympic Park, including at the London Aquatics Centre, Lee Valley VeloPark, the ArcelorMittal Orbit and East Village, the former 2012 Athlete's Village. Locals and visitors are now able to hire a bike and cycle around the Park, docking and re-hiring at various points, allowing them to enjoy all that the area has to offer, and cycle on into the city using Cycle Superhighway 2.</p>
<p>Mayor of London, Boris Johnson MP, said: `It is fantastic to see our iconic cycle hire scheme spread its wings to the glorious setting of Queen Elizabeth Olympic Park. The scheme has developed beyond recognition since it first started, with millions of miles ridden by cyclists of all ages and abilities. By successfully expanding further east, TfL is giving even more people the chance to get around on our trusty red bikes. It's a real boost for commuters, shoppers and tourists, and another shot in the arm for booming east London.'</p>
<p>Keith Moor, Chief Marketing Officer, Santander, said: `We're absolutely committed to growing and developing Santander Cycles together with TfL by making more cycles available, providing more docking stations and offering extra benefits in future to give Londoners and visitors to the Capital the best possible experience. Expanding the cycle scheme to Queen Elizabeth Olympic Park will allow more people to see just how fun, rewarding and easy it is to use a Santander Cycle.'</p>
<p>David Goldstone, Chief Executive, London Legacy Development Corporation, said: `We're delighted that Santander Cycles is here. What a better way to explore all 560 acres of Queen Elizabeth Olympic Park than on two wheels? We welcome Londoners and visitors to come and make a day of it and experience all that the Park has to offer, including a variety of great cycling routes, docking and re-hiring as you go.'</p>
<p>Jessica Ennis-Hill, Santander ambassador and Olympic gold medallist, said: `I am really happy to see that the Santander Cycles scheme has been extended to include Queen Elizabeth Olympic Park. The venue is so iconic and holds lots of great memories for me, but above all there is so much to do and see around the park. New ways to encourage people to be more active and explore their city are always so welcome and here you can cycle and take in all the iconic Olympic venues &#45; it's brilliant.'</p>
<p>The latest expansion of Santander Cycles brings the total number of docking stations within the scheme up to 761. Plans are also in place to introduce two docking stations at Here East, the new digital quarter at Queen Elizabeth Olympic Park, in the spring, as well as in Kings Cross, Stockwell and Vauxhall.</p>
<p>Since launching in 2010, the cycles have been hired more than 47 million times. The partnership between TfL and Santander UK is enhancing the Santander Cycles scheme and delivering more benefits to users, making cycling more easy, fun and rewarding.</p>
<p>In December it was announced that all Santander Cycles would be fitted with Blaze Laserlights to project a symbol of a bicycle onto the ground, improving safety by giving the cyclist a larger footprint on the road. And the Santander Cycles App, launched in May 2015, has now been downloaded by more than 150,000 people and makes hiring a cycle much easier.</p>
<p>Santander Cycles is the second largest cycle hire scheme in Europe, with 11,500 bikes for hire from as little as &pound;2 per day for casual users or 25p per day on an annual membership.</p>
<p>Ends</p>
<p>Notes to editors:</p>
<ul>
    <li>A map of where the eight new docking stations are located throughout Queen Elizabeth Olympic Park is available on request from TfL Press Office.<br />
    The eight new docking stations are located at:</li>
</ul>
<ul>
    <li>London Aquatics Centre</li>
    <li>Podium (ArcelorMittal Orbit)</li>
    <li>Copper Box Arena</li>
    <li>East Village</li>
    <li>Timber Lodge</li>
    <li>&nbsp;Lee Valley VeloPark</li>
    <li>Monier Road</li>
    <li>Stratford Station</li>
</ul>
<ul>
    <li>In December, TfL and Santander UK announced Blaze Laserlights would be added to all of the cycles: <a href="https://tfl.gov.uk/info-for/media/press-releases/2015/december/santander-cycles-to-be-fitted-with-blaze-laserlights-to-improve-safety">https://tfl.gov.uk/info-for/media/press-releases/2015/december/santander-cycles-to-be-fitted-with-blaze-laserlights-to-improve-safety</a></li>
</ul>
<ul>
    <li>More information about Santander Cycles, including how to hire a cycle, can be found here: <a href="http://www.tfl.gov.uk/santandercycles">www.tfl.gov.uk/santandercycles</a></li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital. <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Santander Cycles expands to Queen Elizabeth Olympic Park -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 