


@{ViewBag.Title = "TfL sets out plans to modernise and enhance London's private hire industry ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plans to modernise and enhance London’s private hire industry </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to modernise and enhance London’s private hire industry </h1>
        <div class="content-page-press-release">
        20 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Following a review of private hire regulations in London, including a hugely successful public consultation that attracted over 16,000 responses, Transport for London (TfL) has today set out proposals to modernise the Capital's private hire industry.  The measures, which will be put to the TfL Board for approval in March, will enhance standards of safety and customer service in light of the impact of new technology and the rising numbers of private hire vehicles in London.  Key proposals include:</p>
<ul>
    <li>A formal English language requirement for drivers.</li>
    <li>Guaranteed fare estimates for customers in advance of their journey.</li>
    <li>The provision of driver and vehicle details to customers, including a photo of the driver, before the start of each journey.</li>
    <li>Private hire operators to ensure that customers can speak to someone in the event of a problem with their journey.</li>
    <li>Even more robust 'hire and reward' insurance requirements.</li>
    <li>Improved record keeping and real-time provision of driver and vehicle information to TfL to make enforcement even easier and more effective.</li>
</ul>
<p>Welcome advances in technology and new business models have fundamentally changed the way in which the private hire industry operates in London &#45; giving customers greater choice and convenience. These changes have also led to unprecedented growth in the numbers of drivers and vehicles.  The number of private hire drivers has increased from 59,000 in 2009/10 to more than 95,000 today.  This has contributed to wider challenges for London such as growing traffic congestion, illegal parking and areas of poor air quality.</p>
<p>In discussions with central Government, the Mayor has been pushing for legislation to enable TfL to restrict overall numbers of private hire drivers and vehicles.  The Mayor believes that more must be done to address the congestion and air quality impacts of increasing numbers of private hire vehicles, which now outnumber taxis in central London during the day.  Whilst the Government has been reluctant to pursue such legislation, the Mayor has asked TfL to investigate the impact and feasibility of removing the Congestion Charge exemption for private hire vehicles in central London to tackle pollution and reduce congestion*. TfL estimates that the number of private hire vehicles circulating within the central London Congestion Charge zone has increased by over 50 per cent in the last two years.  This means that 1 in 10 vehicles entering the zone is now a private hire vehicle.</p>
<p>In addition the Mayor has secured a commitment to progress separate legislation to enable TfL to regulate pedicabs, helping to tackle fare abuses prevalent among some pedicab drivers, whilst tackling the congestion they cause in central London, particularly in the evenings.</p>
<p>The Mayor of London, Boris Johnson, said: &quot;New technology has revolutionised the private hire industry in recent years, bringing with it quantum leaps in terms of faster, better and cheaper services for customers.  However it has also meant a rapid increase in the number of private hire vehicles on our streets, an increase that is responsible for causing congestion and has the potential to worsen air quality in central London. Private hire vehicles now represent over 10 per cent of vehicles entering the Congestion Charging zone on a daily basis and I have asked TfL to investigate the impact and feasibility of removing the Congestion Charging exemption for private hire vehicles with a view to cutting congestion in central London. I am also delighted to have secured a commitment from the Government  to take forward new legislation that will finally enable us to regulate the pedicab industry that has operated free of any real authority for far too long.&quot;</p>
<p>In addition, and subject to approval by the TfL Board, TfL will alter the structure of licence fees paid by operators of different sizes to better reflect the costs of compliance and enforcement activity.  This will provide further financial incentive for operators to maximise the efficiency of their operations and minimise the number of vehicles they use across London as a whole.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said `Londoners have given a very clear indication of how they would like us to shape the regulation of the private hire industry to deliver improved safety and customer service.  We had an overwhelming response to the consultation with 16,000 responses and all of the proposals we are taking forward received majority support. We also discussed the proposals in detail with the trade over several months. The final package includes formal English language requirements for drivers, guaranteed fares quotes for customers before their journeys, easier process for customers to complain if they need to, and more information given to customers about the car they are about to get into. This will create the environment for a flourishing private hire industry and wide choice for customers alongside London's iconic and world-class taxi service.'</p>
<p>In total, TfL proposes to take forward 13 of the proposals as set out in the public consultation and a further five amended proposals.  Three proposals will be investigated further before decisions are taken.  The following ideas will not be taken forward:</p>
<ul>
    <li>Operators having to provide booking confirmation details to passengers at least five minutes prior to the journey commencing.</li>
    <li>Operators having to offer the ability to pre-book up to seven days in advance.</li>
    <li>Operators  being prohibited from showing vehicles as available for immediate hire, either visibly, for example by signage on the street, or virtually, for example via an app.</li>
    <li>Private hire drivers only being able to be registered to a single operator at any time.</li>
</ul>
<p>TfL will now undertake a further four-week regulatory impact assessment consultation on proposed changes to private hire regulations.  The results will be put to the TfL Board with final decisions being taken at the Board's meeting on 17 March.</p>
<p>Given that technology is continuing to evolve at such a rapid pace, further changes to the private hire regulations are likely to be needed in the near future. Therefore, TfL will keep the regulations under review to ensure that they keep pace with the changing industry and support a modern and thriving trade.</p>
<p>In addition to these new measures, the Mayor and TfL are already taking action to improve service and safety standards in the trade, including:</p>
<ul>
    <li>Introducing an enhanced topographical test for new private hire drivers, requiring drivers to demonstrate enhanced map reading abilities and English language comprehension.</li>
    <li>Introducing a new complaints system so that customers can contact TfL if they have received poor service from a private hire company or driver.</li>
    <li>Introducing mandatory disability equality training and other improved training for drivers.</li>
</ul>
<p>*Any change to the exemption for private hire vehicles would require a variation to the Congestion Charging Scheme Order which is subject to statutory consultation requirements.</p>
<p>ENDS</p>
<p>Notes to Editors</p>
<p>The full list of proposals being taken forward to the Board for decision following consultation is as follows. Each of these proposals received majority support during the formal consultation.</p>
<ul>
    <li>Operators must have the facility to provide a booking confirmation to passengers containing the photo ID and details of the vehicle being used to discharge the booking where passengers are able to receive that information</li>
    <li>TfL will no longer issue licence variations to private hire operator licenses to add a late-night or temporary event operating centre.</li>
    <li>Operators will be required to provide specified information to TfL at specified intervals including details of all drivers and vehicles registered with them.</li>
    <li>Operators must record the main destination for each booking before the journey commences</li>
    <li>Operators to retain all records for a period of 12 months</li>
    <li>TfL to control the names under which operators offer private hire services to the public</li>
    <li>Private hire drivers to be required to demonstrate a certain standard of English, with particular emphasis on ability on spoken communication - in line with the Home Office requirement for a B1 qualification when applying for citizenship.</li>
    <li>Individual licence applicants to provide National Insurance numbers to TfL</li>
    <li>A driver's private hire vehicle licence to be considered for revocation if their private hire driver's licence is revoked</li>
    <li>TfL will liaise with the Home Office on introducing DBS checks on private hire operator staff that have face to face contact with the public</li>
    <li>TfL to stop accepting payment for licence fees by postal order and cheque</li>
    <li>Drivers to carry or display a copy of insurance details at all times</li>
    <li>Introduce new operator licence fee structure to better reflect operator licensing costs based on operator size. The specific revisions to the licence fee structure will be consulted on separately</li>
    <li>Amendment of regulations to give TfL the power to control advertising displayed inside, from, or on the outside of a private hire vehicle</li>
    <li>Operators will be required to notify TfL before changing their operating model</li>
    <li>Operators must ensure that customers can speak to a real person in the event of a problem with their journey</li>
    <li>Private hire operators must provide an estimated fare prior to the commencement of the journey</li>
    <li>Private hire drivers will be required to have hire or reward insurance in place at all times while registered to an operator</li>
</ul>
<p>•	The proposals that will be considered further are:</p>
<ul>
    <li>Requirements for security measures for operators who use apps to allocate drivers to a fare to prevent the app being used by a person other than the licensed driver</li>
    <li>The feasibility of introducing a requirement for operators to indemnify their customers against any failing of their driver to provide hire or reward insurance</li>
</ul>
<p>Hire or reward insurance protects passengers in licenced taxis and private hire vehicles.  It ensures that passengers are able to reclaim loss sustained as a result of an accident while undertaking a journey in a taxi or private hire vehicle.  Without this insurance in place, passengers may not be able to reclaim costs or claim compensation following an accident or injury.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-TfL sets out plans to modernise and enhance London’s private hire industry  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 