


@{ViewBag.Title = "TfL launches pop-up festivals at Old Street Tube Station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches pop-up festivals at Old Street Tube Station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches pop-up festivals at Old Street Tube Station</h1>
        <div class="content-page-press-release">
        19 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Old Street Tube station will be home to a series of festivals as part of the station's pop-up revolution that has brought unique retail experiences to the thousands of people who use it each day.</p>
<p>The new line-up will see a roster of secret events, new retail concepts and a whole host of experiences for customers to discover at the station each quarter, beginning this month with a Health and Wellbeing Festival. The space is being curated by Appear Here, the largest online marketplace for short-term retail space who TfL has appointed to introduce pop-up shops across its retail estate.</p>
<p>The transformation of the retail offer at Old Street station is part of TfL's Commercial Development plans to generate &pound;3.4bn in non-fares revenue over the next decade to reinvest into maintaining and modernising the transport network.</p>
<p>Justin Brand, Director of Commercial Asset Management at TfL, said: `Since we launched Old Street Tube station as our pop-up retail destination, over 200 retailers have set up shop there, bringing some fantastic services and products to the 23 million people who use the station each year.</p>
<p>`The new line up of retailers at the station will showcase some of the best brands around. The revenue that we generate from the retailers is reinvested into our transport network to deliver improved services for customers.'</p>
<p>In April 2014, Transport for London announced Old Street Tube station as its first pop-up retail destination as part of its plans to modernise London Underground and introduce new services that customers want alongside long standing retailers.</p>
<p>TfL appointed Appear Here in 2014 to manage the letting of its pop-up retail units at the station. Since then, over 200 retailers including American Eagle, Microsoft, Jamie Oliver and innovative small independents, such as Sourced Market, Propercorn and Press Lon-don have taken up residency at the station.  Press London and Supernatural have since take up permanent retail units at other stations on TfL's network.</p>
<p>Kicking off with the Health and Wellbeing Festival in January 2016, the brands appearing in the station include:</p>
<ul>
    <li>Move Your Frame: Unit 3, 11/01 - 07/02</li>
</ul>
<p>Frame's mission is to ensure keeping fit is never a chore. Launching in Unit 3, they will be hosting a range of classes and events each day, enabling customers to move, fuel, shop and be mindful &#45; without being too detox-y! They will also be bringing to life the station tunnels with experiential artwork.</p>
<ul>
    <li>Two Chicks: Unit 2, 04/01 - 31/01</li>
</ul>
<p>Founded by Anna Richey &amp; Alla Ouvarova, Two Chicks is the champion of egg-white based products. Appearing in Unit 2, the Two Chicks Kitchen will be serving up delicious protein pancakes, porridge and egg white omelettes daily.</p>
<ul>
    <li>Rebel Kitchen: Unit 8, 18/01 - 24/01</li>
</ul>
<p>Serving their delicious dairy-free mylks, the Rebel Kitchen team will also be hosting breakfast clubs, 'Keep It Real Talks' and agony aunt drop in sessions with industry experts to help with New Year's resolutions.</p>
<ul>
    <li>Pollen &amp; Grace: Unit 8, 25/01 - 01/02</li>
</ul>
<p>Delicious, hand-prepared, heathy food delivered straight to your door. Pollen &amp; Grace will be serving up superfood breakfasts, bright lunches and dinners, alongside a wide array of events from morning yoga to supper clubs inside their pop-up.<br />
Pact Coffee: Deliver incredible freshly roasted coffee by post. For a limited time only Pact will be serving its delicious coffee from Pollen &amp; Grace's pop up in Old Street.    People can stop by and try different varieties, take advantage of a special sign up offer and learn more about brewing the perfect cup at home.</p>
<ul>
    <li>Moju Juices: Market Stalls, 04/01 - 28/02</li>
</ul>
<p>Moju make some of the healthiest and tastiest juices available. Their juices are packed with vegetables and fruit, and never heat pasteurised which mean they are a quick and convenient way to get the nutrients your body needs.</p>
<ul>
    <li>Bone &amp; Broth: Market Stalls, 18/01 - 24/01</li>
</ul>
<p>Slow foods for a fast world! Bone and Broth will be serving up delicious bowls of beef, chicken and vegetable broth from their stall.</p>
<p>Available to rent through <a href="http://www.AppearHere.co.uk">www.AppearHere.co.uk</a>, TfL also has pop-up shops available at other stations including St. James's Park, Piccadilly Circus and Baker Street, providing exciting retail opportunities for London commuters.</p>
<p>Ends</p>
<p>Notes to editor:<br />
Images of the retailers are available at <a href="https://www.flickr.com/gp/tflpress/071Rn3">https://www.flickr.com/gp/tflpress/071Rn3</a><br />
More information about the Old Street retail destination is available at <a href="https://www.appearhere.co.uk/destinations/london/shoreditch/old-street-underground-station">https://www.appearhere.co.uk/destinations/london/shoreditch/old-street-underground-station</a></p>
<p>About Appear Here:<br />
Appear Here is the leading online marketplace connecting landlords with brands, retailers and entrepreneurs who wish to rent space to make their ideas happen. Appear Here cur-rently lists space in some of the UK's top retail destinations and cities including, Bath, Bir-mingham, Edinburgh, Glasgow, Leeds, Liverpool, London, Manchester and stores such as TOPSHOP TOPMAN's global flagship store, 214 Oxford Circus. Appear Here give everyone from start-ups to designers and international brands the chance to take an empty space, share an idea and create a moment. Over 10,000 brands and other businesses have signed up to Appear Here, giving them access to over 1000 high-quality spaces. The website launched in February 2013 by Ross Bailey. Over $10M in funding has been raised from backers including Balderton Capital, Howzat, MMC Ventures and Meyer Bergman.<br />
For more information, visit <a href="http://www.appearhere.co.uk">www.appearhere.co.uk</a> / <a href="http://www.twitter.com/appearhere">www.twitter.com/appearhere</a></p>
<p><a href="http://www.instagram.com/appearherehq">www.instagram.com/appearherehq</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-TfL launches pop-up festivals at Old Street Tube Station -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 