


@{ViewBag.Title = "TfL celebrates 30 years of Poems on the Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL celebrates 30 years of Poems on the Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL celebrates 30 years of Poems on the Underground</h1>
        <div class="content-page-press-release">
        20 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is today marking 30 years of Poems on the Underground. The celebrated public arts programme has shared over 500 poems with the travelling public since it was established, highlighting classical, contemporary and international work by poets famous and relatively unknown over the years. Five poems commemorating the 30th year will be circling on the Tube until late February &#45; the same poems which launched the popular programme in 1986. Thirty years later, Londoners will enjoy the set of poems by Seamus Heaney (later to be awarded the Nobel Prize for Literature), Guyanese-British poet Grace Nichols, the populist American poet William Carlos Williams, Robert Burns and Percy Bysshe Shelley. These works will reach an audience of over 4.2 million daily Tube customers.</p>
<p>The programme was inspired by the American writer Judith Chernaik, who, along with poets Gerard Benson and Cicely Herbert, thought it would be nice to read a few lines of poetry on the Tube among the advertising. London Underground responded enthusiastically and the programme was launched in January 1986. As proof of the programme's success, similar displays of poems on public transport have since taken place in Dublin, New York, Paris, Barcelona, Stockholm, Helsinki, St Petersburg, Shanghai and beyond.</p>
<p>TfL celebrated the anniversary with an event at Aldwych Tube station, which was attended by distinguished poets including David Constantine, Fleur Adcock, Imtiaz Dharker and Cicely Herbert. Catherine Heaney, Seamus Heaney's daughter also joined the celebration. Today, Tube staff will highlight their favourite poetry on whiteboards in stations across the network. A leaflet of 30 poems from over the years has also been produced and will be free to the public at Central London Tube stations.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Thanks to Poems on the Underground, millions of passengers have been inspired by wonderful poetry peppered across the Tube network over the last 30 years. From classical and international greats to contemporary and up and coming bards, the scheme has brought pleasure to Londoners and tourists alike as they go about their daily business. This simple idea of bringing poetry to the public is a prime example of why our great city is a world leader in culture and other global cities have followed our lead, adapting the programme for their own transport networks. Here's to the next 30 years of wonderful ballads, verses and rhymes!'</p>
<p>Nick Brown, Managing Director of London Underground, said: `Thirty years on, Poems on the Underground continues to delight Tube passengers with everything from famous Elizabethan sonnets to contemporary writing by little known poets. It's no surprise that our original programme has inspired dozens of similar schemes in cities around the world, from New York to Shanghai.'</p>
<p>Judith Chernaik, writer, editor and founder of Poems on the Underground, said: `It's hard to believe that an idea which started as a pleasant way of providing reading matter on Tube journeys has reached its 30th year. The programme continues to thrive because of London Underground's support and an amazing public response &#45; and above all because of the poets past and present who have enriched our lives in so many ways.'</p>
<p>Poems on the Underground is supported by TfL, Arts Council England and the British Council. For more information about the programme, visit <a href="http://www.tfl.gov.uk/poems">www.tfl.gov.uk/poems</a>.</p>
<p>ENDS<br />
Notes to Editors<br />
Poems are selected by writer Judith Chernaik and poets Imtiaz Dharker and George Szirtes.</p>
<p>The full list of poems featured in Tube trains is as follows:</p>
<ul>
    <li>Like a Beacon by Grace Nichols</li>
    <li>Up in the Morning Early by Robert Burns</li>
    <li>Ozymandias by Percy Bysshe Shelley</li>
    <li>This Is Just to Say by William Carlos Williams</li>
    <li>The Railway Children by Seamus Heaney</li>
</ul>
<p>All these poems are included in the free leaflet, with addition poems as follows:</p>
<ul>
    <li>William Shakespeare: Sonnet 18</li>
    <li>Faustin Charles: Viv</li>
    <li>James Berry: Benediction</li>
    <li>Moniza Alvi: Arrival 1946</li>
    <li>Fleur Adcock: Immigrant</li>
    <li>Iain Crichton Smith: The Exiles</li>
    <li>Carol Ann Duffy: Prayer</li>
    <li>Cicely Herbert: Everything Changes</li>
    <li>Anne Stevenson: Ragwort</li>
    <li>David Constantine: Coltsfoot and Larches</li>
    <li>Kathleen Raine: Dream</li>
    <li>Kamau Brathwaite: Naima</li>
    <li>Adrian Mitchell: Goodbye</li>
    <li>Edward Thomas: In Memoriam (Easter 1915)</li>
    <li>Frances Leviston: Industrial</li>
    <li>Anon: Western Wind</li>
    <li>Robert Graves: Love Without Hope</li>
    <li>Philip Larkin: The Trees</li>
    <li>W.B. Yeats: Her Anxiety</li>
    <li>Robert Herrick: Dreams</li>
    <li>Gerard Benson: Riddle</li>
    <li>Palladas, translated by Tony Harrison: Loving the Rituals</li>
    <li>William Langland: from The Vision of Piers Plowman</li>
    <li>Czeslaw Milosz: And Yet the Books</li>
    <li>John Keats: Lines from Endymion</li>
</ul>
<p>Posters, designed by Tom Davidson, are available from the Poetry Society and London Transport Museum.</p>
<p>Poems on the Underground (Penguin 2015), containing over 200 poems featured on the Tube, is available at all good bookshops.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-TfL celebrates 30 years of Poems on the Underground -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 