


@{ViewBag.Title = "TfL launches freight programme to deliver improved air quality";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches freight programme to deliver improved air quality</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches freight programme to deliver improved air quality</h1>
        <div class="content-page-press-release">
        27 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Mike Brown MVO, London's Transport Commissioner, today (Wednesday 27 January) launched a new industry-led programme to reduce the emissions of London's freight and fleet operators.</p>
<p>The five-year programme is set to work across the industry to increase the availability and uptake of low emission vans and lorries. It will bring together freight and fleet operators, vehicle manufacturers, fuel providers and the public sector. It will create new environmental operating standards and contractual clauses for procurement bodies to easily adopt. LoCITY will also demonstrate, through research and real world trials, that using these cleaner vehicles will not negatively impact operations.</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: `Over the next five years LoCITY will begin improving London's air quality by encouraging the take up of low emission vehicles. We're working with vehicle manufacturers, infrastructure providers and the industry to make these vehicles a realistic choice for operators. Together we can improve London's air quality, and by supporting the freight sector &#45; which is essential for our city to function &#45; we will have a real impact.</p>
<p>`The Construction Logistics and Cycle Safety (CLOCS) programme has shown this style of collaborative industry-led approach works &#45; many lorries of the highest safety standards are now in use. LoCITY will help the industry as a whole continue to develop, whilst delivering a cleaner London.'</p>
<p>The Mayor of London, Boris Johnson MP, said: `LoCITY will form part of a series of strong measures I'm delivering to tackle air quality and safe guard the health and well-being of Londoners, but I'm fully aware much more needs to be done. Helping the freight industry is key to the success of the Ultra Low Emission Zone. I am confident that the strict tightening of our emission standards will help dramatically improve air quality and lower NO2 across the city.'</p>
<p>LoCITY will have three workstreams focusing on:</p>
<ul>
    <li>Increasing the availability and affordability of low emission vans and lorries</li>
    <li>Improving the alternative fuel infrastructure, such as electric charging points and the use of hydrogen fuel</li>
    <li>Improving policies, procurement and land use planning to increase the use and viability of low emission vans and lorries</li>
</ul>
<p>In addition to improving the efficiency of freight vehicles, Transport for London (TfL) has been helping to improve the overall efficiency of operations. TfL has offered guidance to offices, business districts, and developers to reduce the overall vehicle miles of freight vehicles.</p>
<p>LoCITY will support the Mayor of London's focus on improving air quality, and assist in efforts to increase the use of ultra-low emission vehicles in London.</p>
<p>The world's first Ultra Low Emission Zone will come into force in London in 2020 and is expected to almost halve emissions of nitrogen oxide (NOx) and particulate matter (PM10) from vehicle exhausts in central London. Steps are already underway to remove the most polluting diesel vehicles from the roads, and as part of that work the Mayor has provided almost &pound;300,000 of funding to Gnewt Cargo, who receive courier vehicles into their Southwark hub and consolidate the delivery of packages across London in their fleet of 50 electric vans.</p>
<p>For more information about the LoCITY programme, go to www.LoCITY.org.uk.</p>
<p> - Ends -<br />
Notes to Editors:</p>
<ul>
    <li>The Ultra Low Emission Zone emission standards will be in operation 24 hours a day, seven days a week within the Congestion Charging zone. Drivers who do not comply will have to pay a daily charge</li>
    <li>85% of London's goods are transported by road</li>
    <li>Freight makes up 17% of London's road traffic</li>
    <li>Action 12 of the ULEV Delivery Plan - Launching a new Low Emission Commercial Vehicle (LECV) Programme by the end of the year to accelerate the development, supply and wider uptake of low emission commercial vehicles and refuelling infrastructure</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-TfL launches freight programme to deliver improved air quality -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 