


@{ViewBag.Title = "Whitechapel Station to be modernised in preparation for Crossrail";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Whitechapel Station to be modernised in preparation for Crossrail</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Whitechapel Station to be modernised in preparation for Crossrail</h1>
        <div class="content-page-press-release">
        12 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Work gets underway this week to transform Whitechapel station ahead of TfL-run Crossrail services starting in 2018.</p>
<p>The station will be made step-free, the ticket hall will be expanded and the new Crossrail platforms will be integrated with the existing Tube and London Overground services, providing passengers at Whitechapel with easy access to services across London and out to Essex and Berkshire.</p>
<p>Whitechapel station was originally opened 140 years ago and step-free access is not currently available, with all access via stairs. Once the work is complete in late 2018, new lifts from street level to all train platforms will make the station fully accessible for customers wanting to use Crossrail, Tube or London Overground services. The ticket hall will also be refurbished and expanded with wider pathways and more ticket gates, giving customers a better, less crowded experience.</p>
<p>To make way for this work, Whitechapel station will be closed on the weekend of 16 and 17 January, and then from 18 January a new temporary station entrance will be located a short distance away on the corner of Durward Street and Court Street. Customers will have access to more ticket machines and ticket gates in the temporary ticket hall than currently and staff will be available to assist them at all times.</p>
<p>Improvements will also be made to the area around the station. Court Street will be pedestrianised. A pedestrian crossing will be relocated closer to the temporary station entrance to give customers better access and bus stops are just a short distance down Whitechapel Road. Cycle Superhighway 2 is also being upgraded and is due to be completed in the spring.</p>
<p>Howard Smith, TfL's Operations Director of Crossrail, said: `Crossrail will radically transform journeys or people across London and out to Essex and Berkshire. It will help serve London's growing population and support thousands of new jobs and homes.</p>
<p>`People living or working in Whitechapel will benefit from convenient, step-free journeys to new parts of London without the need to change trains. When the work is complete customers will have a brighter, more spacious station with a bigger ticket hall and lift access to all train platforms from street level. In the meantime we are doing everything possible to keep disruption for our customers to an absolute minimum.'</p>
<p>As part of Crossrail work taking place at Whitechapel, some London Overground services will be part suspended between Highbury &amp; Islington and Shadwell and between Surrey Quays to New Cross from Saturday 13 February until Sunday 21 February. Customers are advised that a bus replacement service will operate.</p>
<p>A significant amount of work has already taken place to rebuild the station and create new tunnels for Crossrail, but while much of the work has been undertaken without any disruption to London Overground services, some suspensions are required as the worksite is directly above London Overground tracks.</p>
<p>TfL-run Crossrail will mean more frequent journeys between Whitechapel and stations to Reading in the west and further east out to Abbey Wood and Shenfield in Essex. Travelling from Whitechapel to Canary Wharf will take around three minutes and to Tottenham Court Road will take around seven minutes when the central Crossrail section opens in 2018.</p>
<p>ENDS</p>
<p>Notes to editors</p>
<ul>
    <li>Crossrail works have been taking place at Whitechapel station since 2010 and to see artists' impressions of how the station entrance is planned to look in 2018 click here.</li>
    <li>No trains will stop at Whitechapel on Saturday 16 and Sunday 17 January</li>
    <li>More information and travel advice during the London Overground part closure is available at www.tfl.gov.uk/east-london-line-closure</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Whitechapel Station to be modernised in preparation for Crossrail -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 