


@{ViewBag.Title = "Works to make Finsbury Park Tube station step-free ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Works to make Finsbury Park Tube station step-free </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Works to make Finsbury Park Tube station step-free </h1>
        <div class="content-page-press-release">
        30 January 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work underway to make Finsbury Park Tube station step-free
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has one of the most accessible transport networks of any big city around the world, but we must go further - making London's Tube and rail network accessible to all customers is one of our key priorities. Upgrading Finsbury Park will make it step-free, and journeys through the station will be quicker and more pleasant for our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">Capital Programmes Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>47 stations made step free since 2008 as part of TfL's work to make transport accessible for everyone</li>
    <li>TfL on course to make half of its stations step-free by 2018</li>
</ul>
<p>Transport for London (TfL) has announced that major work to make Finsbury Park Underground station step-free will begin on Monday 1 February following successful preparatory work over Christmas.</p>
<p>As part of a series of improvements to Finsbury Park Tube station, two new lift shafts will be built to provide step-free access in 2019 from street level to the trains at one of London's busiest Tube stations outside of zone one.</p>
<p>While the work is carried out on the first of the new lifts, the main staircase that serves the northbound Piccadilly and Victoria line platforms will temporarily close from Monday 1 February 2016 until mid-September 2016.  Customers are advised to use the three other staircases between the National Rail passageway and the northbound Tube platforms.</p>
<p>Customers should allow additional time for their journey during busy times and they might find it easier to change trains at King's Cross St. Pancras station instead.</p>
<p>David Waboso, London Underground's Capital Programmes Director, said: </p>
<p>'London has one of the most accessible transport networks of any big city around the world, but we must go further - making London's Tube and rail network accessible to all customers is one of our key priorities.  Upgrading Finsbury Park will make it step-free, and journeys through the station will be quicker and more pleasant for our customers.'</p>
<p>These improvements are in addition to the enhanced CCTV and customer information as well as new ticket machines recently commissioned at the station.</p>
<p>Last year the Mayor of London brought forward by two years a target to make more than half of stations on TfL's Underground and rail network step-free. The target is now to achieve the level by 2018, with all of Crossrail's 40 stations to have step-free access when the line fully opens during that year.</p>
<p>Since 2008 step-free access has been introduced at a further 47 Tube and Overground stations bringing the total to 117. In total around 40 more Underground and Overground stations will also become step-free over the next 10 years as part of a &pound;326m investment, which includes funding from the Mayor and London Underground. This will include major stations such as Bond Street, Tottenham Court Road, Vauxhall and Victoria, and those modernised with investment from the Step-Free Access Partnership Fund.</p>
<p>The number of journeys made by step-free routes each year is expected to almost treble, from 77 million now to 227 million in 2023.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Finsbury Park Tube station is the fourth busiest Underground station outside zone one &#45; the number of people using the station during the week has increased by 20 per cent since 2010, and is expected to continue to grow.</li>
    <li>As part of improvements at Finsbury Park Tube station LU has already doubled the capacity of spiral staircases to improve customer journeys as they interchange between Tube and National Rail platforms.</li>
    <li>After the developers of City North informed LU in April 2015 that their plans had been delayed LU took the decision to keep the Wells Terrace entrance open temporarily to minimise any disruption to our customers.</li>
    <li>In September 2015 the City North development announced it had found a new investment delivery partner. TfL is committed to working collaboratively with them on plans to deliver a new western entrance to improve Finsbury Park Tube station for our customers.</li>
    <li>In the meantime TfL is moving forward with delivering all of the station improvements previously committed to.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-January-Works to make Finsbury Park Tube station step-free  -->

 
 
        
        
            @{ViewBag.Description = "Work underway to make Finsbury Park Tube station step-free";}
        
        


 