


@{ViewBag.Title = "Construction of new cycle route between Acton and Wood Lane set to start next month";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Construction of new cycle route between Acton and Wood Lane set to start next month</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Construction of new cycle route between Acton and Wood Lane set to start next month</h1>
        <div class="content-page-press-release">
        22 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work on the 3.5km cycling and walking route is set to get underway on 18 March
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We know that there is high demand  for cycling in the area and the improved plans will deliver further improvements for walking and cycling, helping reduce car use which is crucial to cleaning up London's toxic air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Construction work on a new 3.5km cycle route between Acton and Wood Lane is set to begin next month - helping make cycling and walking safer and easier in the London Boroughs of Ealing and Hammersmith &amp; Fulham.</p>

<p>Work on the route &#45; which includes a new two-way cycle track separated from traffic and pedestrians - will get underway on 18 March and is expected to be complete by the end of the year.</p>

<p>Over three-quarters (77%) of people who took part in a consultation about the scheme in 2016 supported the proposals. Several improvements have been incorporated in the final plans following feedback from local residents and visitors.</p>

<p>These include extending the two-way cycle track from Glendun Road to Savoy Circus, as well as widening crossing points to allow people walking and cycling to cross side roads more safely.</p>

<p>The full report, which responds to issues raised, is available on the TfL website.</p>

<h2>Record investment</h2>

<p>The new &pound;10m route is part of the Mayor's record investment in cycling and walking.</p>

<p>This is designed to help create Healthy Streets across the capital, which enable people to walk, cycle and use public transport more often - benefitting people's health, improving air quality and reducing road danger.</p>

<p>The scheme will create a new two-way cycle track separated from traffic and pedestrians between Savoy Circus and Kathleen Avenue.</p>

<p>The project will also see the shared cyclist and pedestrian space on the southern side of the A40 between Savoy Circus and Wood Lane improved, providing more space to enable even more people to get around the area by foot or by bike.</p>

<p>Bus stops along the route will be made more accessible, while the toucan crossings at Savoy Circus will be upgraded and pedestrian and cycle crossings along the route will be improved to provide wider and safer crossings of side roads.</p>

<p>The scheme has been designed to help make the local environment between Acton and Wood Lane more attractive for residents and visitors.</p>

<p>Feedback from the 2016 consultation highlighted a number of issues with a proposed extension of the route from Wood Lane to Paddington along the A40 Westway.</p>

<h2>Attractive for residents and visitors</h2>

<p>TfL is continuing&nbsp;to work on an alternative extension of the route from Wood Lane to Notting Hill Gate and will consult on this over the coming months.</p>

<p>From mid-April the A40 will be reduced from three lanes to two in some sections for westbound traffic, 24 hours a day during works. The A40 will be much busier than usual travelling westbound, especially during the afternoon peak (weekdays 2pm &#45; 6pm).</p>

<p>People are advised to plan ahead, travel outside peak periods, and allow more time for journeys.&nbsp; One of the best ways of making journeys to and from the area during these works will be by Tube.</p>

<p>Local trips in the area could also be quicker and easier by bike. Full travel advice will be available on the TfL website at <a href="https://tfl.gov.uk/acton-wood-lane">https://tfl.gov.uk/acton-wood-lane</a></p>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I'm delighted that construction on this protected route will start in just a few weeks' time.</p>

<p>'Together with the recently announced 7km route between Kensington Olympia, Hammersmith and Brentford Town Centre, it will transform cycling in West London and help expand our network of cycle routes across our city.</p>

<p>'We know that there is high demand &nbsp;for cycling in the area and the improved plans will deliver further improvements for walking and cycling, helping reduce car use which is crucial to cleaning up London's toxic air.'</p>

<p>Nick Fairholme, TfL's Director of Programme and Project Delivery, said: 'The new cycle route between Acton and Wood Lane will boost safety for people cycling and walking and help to clean up the area's air.</p>

<p>'The route is part of our wider plans to grow the cycle network both in west London and across the capital so that even more people are able to enjoy the freedom and health benefits that cycling can offer.</p>

<p>'I'd encourage people in the area to plan ahead and to allow more time for their journeys whilst construction work is taking place.'</p>

<h2>Mayor's Cycle Action Plan</h2>

<p>Last month, TfL announced its next steps for a major new cycle route between Brentford and Olympia in west London. The 7km route will transform roads between Kensington Olympia, Hammersmith and Brentford Town Centre and construction work is planned to begin in summer this year on consulted sections.</p>

<p>TfL is inviting members of the public to have their say on proposed improvements to the design at two locations along the route, with more information available at <a href="http://tfl.gov.uk/CS9">tfl.gov.uk/CS9</a></p>

<p>In December 2018, the Mayor's Cycle Action Plan set out ambitious targets for bringing the capital's cycling network to even more Londoners, ensuring a high standard for cycle routes and significantly increasing the number of cycle journeys made.</p>

<p>TfL and the Mayor committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28% by 2024, up from nine per cent.</p>

<p>By 2024, the plan aims for 1.3 million trips to be made by bike every day, up from 0.7 million in 2017. The Mayor's Transport Strategy target is for 80% of journeys to be made by walking, cycling and public transport by 2041.</p>

<p>Following the Mayor's Cycle Action Plan, TfL will begin using a single brand for all cycle routes from later this year, merging the two existing Cycle Superhighway and Quietway brands into a single system where a Pan-London network is delivered in line with new quality criteria, supported by simple, easy-to-use signs.</p>

<p>This comes after clear feedback from Londoners on the current brands, which can be misleading - especially for those new to cycling - and is in line with best practice from the world's top cities for cycling. The identity for the new network will be revealed over the coming months</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-Construction of new cycle route between Acton and Wood Lane set to start next month -->

 
 
        
        
            @{ViewBag.Description = "Construction of new cycle route between Acton and Wood Lane set to start next month";}
        
        


 