


@{ViewBag.Title = "GLA - Mayor's green fund helps schools fight toxic air";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor’s green fund helps schools fight toxic air</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor’s green fund helps schools fight toxic air</h1>
        <div class="content-page-press-release">
        01 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plants and hedges are playground 'pollution barriers' to boost air quality for pupils
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My funding will help create much needed new spaces for communities to enjoy and help reduce toxic pollution with green barriers in and around schools to protect our children from polluted air. This will complement our drive to reduce vehicle emissions across the capital, including the introduction of the 24-hour Central London Ultra Low Emission Zone in April, and cleaning up our bus and taxi fleet
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayors-green-fund-helps-schools-fight-toxic-air-0">london.gov.uk</a></p>

<ul>
	<li>New maps identify areas where green investment would deliver big benefits</li>
</ul>

<p>The Mayor of London, Sadiq Khan, has today awarded more than &pound;1.27million in funding to help tackle the capital's toxic air by improving and creating green spaces.</p>

<p>Projects include green 'pollution barriers' for schools that will help protect against toxic air, plus new green spaces for housing estates, community gardens to help improve mental health and wildlife habitats in parks.</p>

<p>Greening playgrounds with climbing plants across entire walls, hedges, and wider green infrastructure can be beneficial to boosting air quality and reducing exposure to harmful emissions from busy roads. A recent report by the Air Quality Expert Group found a 'green barrier' between cars and pedestrians can halve the levels of pollution behind the barrier*.</p>

<p>The winning Community Green Space projects include help for 29 primary schools located next to some of London's most polluted roads, which will receive a combined total of &pound;400,000 for green infrastructure in playgrounds to reduce children's exposure to toxic traffic emissions.</p>

<p>As well as the grants, the Mayor has published two new maps that detail London's green spaces and waterways and can be used to help identify where greater investment in greening would bring significant benefits.</p>

<p>The projects form part of a package of measures to protect children from toxic air that the Mayor is delivering, including helping schools through his air quality audits programme, working with boroughs to restrict road usage outside school entrances, upgrading boilers, tackling engine idling, promoting walking and cycling and piloting indoor air filters.</p>

<p>Sadiq has recently expanded London's network of air quality monitors, including providing them for many schools. The monitors will help assess the impact of green barriers. These measures sit alongside the introduction of the 24-hour Ultra Low Emission Zone on 8 April in Central London.</p>

<p>Marner Primary School in Bromley-by-Bow, Tower Hamlets, has been awarded &pound;30,000 from the Mayor's Community Green Space fund to transform its playground with a range of green measures to reduce emissions from the highly polluted A12 and nearby Devas Street. The school is one London's most polluted primary schools, and was one of 50 assessed last year as part of the Mayor's air quality audits programme. The school will install 'green screens' of evergreen climbing plants, such as ivy, to create a 'barrier' wall between the playground and Devas Street. Further trees and hedgerows will be planted along the school perimeter, and a 'green gateway' will be created at the main entrance to encourage children to walk through a tunnel of evergreen plants.</p>

<p>As well as air quality schemes the fund is helping a range of environmental projects include creating community gardens, improving parks, and cleaning up waterways. All 78 winning projects were awarded between &pound;5k and &pound;50k each across 26 boroughs and will create and improve 650,000 square metres of green and blue (waterway) spaces &#45;the equivalent of 40 football pitches. The schemes will involve more than 5,000 adult volunteers and more than 40,000 children.<br />
The projects are all part of the Mayor's work to make London one of the greenest cities in the world and to become the first National Park City, by improving and increasing green spaces, cleaning the capital's air, planting trees, reducing waste, and becoming zero-carbon by 2050.<br />
The Mayor of London, Sadiq Khan, said: &quot;It is unacceptable that our filthy air is affecting the lung growth and respiratory health of our young children, especially those who go to school by busy, polluted roads. My funding will help create much needed new spaces for communities to enjoy and help reduce toxic pollution with green barriers in and around schools to protect our children from polluted air. This will complement our drive to reduce vehicle emissions across the capital, including the introduction of the 24-hour Central London Ultra Low Emission Zone in April, and cleaning up our bus and taxi fleet. The new water ways, wildlife habitats and community gardens we are creating will help London maintain its status as one of the greenest world cities as we work towards becoming a National Park City this summer. &quot;</p>

<p>Carol Doherty, Assistant Head, Marner Primary School said:</p>

<p>'Marner School are really excited and enthusiastic to get going with this important project. It is something we as a school community feel really passionate about and we want air pollution to improve not just locally but globally. The children are also working on understanding more about air pollution in their lessons and year three are making a short film. We are ensuring the fund enables us to make changes that are sustainable and educational for future generations.'</p>

<p>Professor Paul Monks, Chair of the Air Quality Expert Group (AQEG) said:</p>

<p>'Green barriers between cars and pedestrians can reduce pollution just behind the barrier by as much as a half; in the situation of school playgrounds this can be seen to have beneficial effects. The primary push must remain on reducing harmful air pollution into the atmosphere.'</p>

<p>Schools receiving new 'green screens' to help reduce pollution include:</p>

<ul>
	<li>Queensbridge Primary School in Hackney has been awarded &pound;48,246 to create three green spaces in its school playground, to help improve air quality, provide space for wildlife and create opportunities for outdoor play. The project will install a green ivy screen to create a barrier to pollution from the nearby road, create a woodland and bug garden, and build an 'edible playground' with space for children to grow their own food.</li>
	<li>St Peter's Eaton Square C of E Primary School in Westminster has been awarded &pound;7,000 to install a green ivy screen around its lower basement playground. Improving air quality in the playground will see it become an outdoor learning space for gardening and quiet reading</li>
	<li>Oliver Goldsmith Primary School in Peckham, Southwark has been awarded &pound;12,500 to install green screens around the perimeter of the school to reduce children's exposure to air pollution from the busy Peckham Road and Southampton Way</li>
</ul>

<p>New green spaces, water ways and wildlife habitats being created and upgraded include:</p>

<ul>
	<li>Urban Growth Learning Gardens have been awarded &pound;19,942 to rejuvenate the garden of a popular adventure playground and community centre at Slade Gardens in Brixton. The project will work particularly with young people who have behavioural and emotional difficulties, and will create a community garden hub where local people will be able to grow food and flowers through structured volunteering &amp; education.</li>
	<li>Friends of Archbishop's Park have been awarded &pound;19,920 to create an educational garden at Archbishop's Park in Lambeth, which supports the training and learning of vulnerable adults with learning disabilities and mental health issues. The project will work with patients from the local Maudsley NHS Foundation Trust.</li>
	<li>Bermondsey Community Kitchen has been awarded &pound;12,500 to create community gardens, where residents will be invited to grow fruit and vegetables across six housing estates in South Bermondsey. Residents will also be offered free training and cookery classes</li>
	<li>Hillingdon Council, working in partnership with Woodlarks and Waders, has been awarded &pound;40,000 to create new wetland habitats in Elephant Park in North Hillingdon. The ponds and ditches will create space for wildlife and reduce flood risk</li>
	<li>Froglife has been awarded &pound;46,649 for London Tails of Amphibian Discovery, which will work across seven sites in Ealing, Enfield, Bexley and Lambeth to create and restore habitat including lakes and ponds for London's common toads. Toad populations in the UK have declined by 68 per cent in the last 30 years.</li>
	<li>METRO Charity has been awarded &pound;15,000 to create a therapeutic green space for its vulnerable young service users, schools and the community in Greenwich. The project will transform a derelict allotment into a food growing and educational hub.</li>
</ul>

<hr />
<p><br />
Notes to Editors:</p>

<ul>
	<li>&pound;1.27m has been awarded to 78 projects through round two of the Mayor's Greener City Fund Community Green Space Grants. Projects have been awarded between &pound;5k and &pound;50k each. These projects will run from now until January 2020</li>
	<li>Details of all the 78 projects can be found on the Greener City Map: <a href="[ioID]#https://www.london.gov.uk/what-we-do/environment/parks-green-spaces-and-biodiversity/greener-city-fund/greener-city-map">https://www.london.gov.uk/what-we-do/environment/parks-green-spaces-and-biodiversity/greener-city-fund/greener-city-map</a></li>
	<li>The new maps, along with the tree canopy map released last year, can be layered with other data, for example about health, flooding, and air quality to help make decisions about where to improve or increase green infrastructure to benefit Londoners. These maps can be viewed at: <a href="[ioID]#https://maps.london.gov.uk/green-cover/">https://maps.london.gov.uk/green-cover/</a> and <a href="[ioID]#https://maps.london.gov.uk/green-infrastructure/">https://maps.london.gov.uk/green-infrastructure/</a></li>
	<li>This announcement follows the award of &pound;1.1m to 54 community green space projects in 2018. The third funding round will open for applications later in 2019. Since 2017, the Greener City Fund has funded 188 projects in all London boroughs through Community Tree Planting and Community Green Space Grants, including these projects. For more information visit <a href="[ioID]#www.london.gov.uk/greenercity">www.london.gov.uk/greenercity</a></li>
	<li>*Air Quality Expert Group, Impacts of Vegetation on Urban Air Pollution (2018): <a href="[ioID]#https://uk-air.defra.gov.uk/assets/documents/reports/cat09/1807251306_180509_Effects_of_vegetation_on_urban_air_pollution_v12_final.pdf">https://uk-air.defra.gov.uk/assets/documents/reports/cat09/1807251306_180509_Effects_of_vegetation_on_urban_air_pollution_v12_final.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-GLA - Mayor’s green fund helps schools fight toxic air -->

 
 
        
        
            @{ViewBag.Description = "Mayor’s green fund helps schools fight toxic air with playground ‘pollution barriers’";}
        
        


 