


@{ViewBag.Title = "GLA - &pound;24m funding boost to accelerate the greening of London's black cabs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - £24m funding boost to accelerate the greening of London’s black cabs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - £24m funding boost to accelerate the greening of London’s black cabs</h1>
        <div class="content-page-press-release">
        15 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        1,000 extra grants of &pound;10,000 made available to help more drivers make the move to cleaner vehicles, with more than 2,000 additional payments available overall
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Working with cabbies to reduce the number of polluting taxis is a key part of our plans to improve London's air quality
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><br />
This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/24m-funding-boost-for-black-cabs">london.gov.uk</a></p>

<ul>
	<li>Public consultation launched on reducing the age limit of the most polluting taxis</li>
</ul>

<p>&nbsp;<br />
The Mayor of London, Sadiq Khan, has today announced plans to invest an extra &pound;24m to help more black cab drivers switch to electric vehicles - more than doubling TfL's existing &pound;18m fund which launched last month.</p>

<p>Under the plans, grants will be restructured to provide more payments at higher levels &#45; with 1,000 more drivers set to benefit from the maximum &pound;10,000 payment from trading in their older, dirtier vehicles earlier.</p>

<p>The additional funding, included in the Mayor's draft budget for 2019/20, is expected to help around 2,000 additional drivers go green, with more than 5,000 drivers now set to benefit from the fund overall. The enhanced scheme &#45; on its own - could reduce NOx taxi emissions by as much as 20 per cent.</p>

<p>There has been high demand for the TfL enhanced delicensing fund which has tiered payment levels on a first come, first served basis.</p>

<p>The funding boost comes as TfL launches a 10-week public consultation on changes which would significantly reduce harmful emissions from taxis.&nbsp; Londoners are being asked for their views on changing the age limits of black cabs to speed up the process of the dirtiest vehicles being replaced with zero-emission-capable cabs.</p>

<p>London is facing an air quality crisis with filthy fumes reducing the length and quality of life in the capital. Black cabs are exempt from the Ultra Low Emission Zone, but they cause 20 per cent of road transport emissions in central London, and this is expected to grow further this year unless action is taken. TfL's proposals aim to address this by reducing taxi-based NOx emissions by 65 per cent by 2025.</p>

<p>They include:</p>

<ul>
	<li>A tightening of the rules so that taxis cannot be licensed beyond their 15th anniversary, rather than being able to operate for up to a full 16th year</li>
	<li>A phased reduction in the age limit for the most polluting taxis to 12 years by 2022 by decreasing the current 15-year limit each year, by a year, from 2020</li>
	<li>Removing the automatic age limit exemptions for alternative fuel conversions, historic vehicles or personal circumstances</li>
</ul>

<p>&nbsp;<br />
The Mayor of London, Sadiq Khan, said:</p>

<p>'Working with cabbies to reduce the number of polluting taxis is a key part of our plans to improve London's air quality.</p>

<p>'I've been delighted by the number of cabbies who have applied for our grants so far &#45; doing their bit to improve our dirty air. The additional &pound;24m announced today will more than double the size of the scheme, making it easier for more drivers across the city to go green.'</p>

<p>Steve McNamara, General Secretary of the Licensed Taxi Drivers' Association, said:</p>

<p>'I'm pleased the Mayor has recognised the need to support the taxi trade in its efforts to reduce emissions and accelerate the growth of the zero emission capable taxi fleet. Providing an additional &pound;24m funding for the newly enhanced delicensing scheme is the right thing to do and I welcome the Mayor's intervention. This will provide a leg-up to those who want to adopt this exciting new technology.&nbsp; Anything we can do to improve air quality in London will benefit everyone, including taxi drivers who will suffer the ill effects of air pollution as much as anyone else.'</p>

<p>From 1 January last year, all black cabs licensed for the first time have had to be zero emission capable (ZEC). There are now more than 1,000 of the new environmentally friendly vehicles serving London, with more than 150 rapid charging points giving cabbies a wide range of locations to power up quickly. 64 of the rapid charging points are specifically reserved for black cabs. By 2020 there will be at least 300 points to meet the growing demand for electric vehicles.</p>

<p>As Euro 5 taxis, which emit high levels of NOx emissions, would not be affected by the age limit proposals in the short term, &pound;5 million is also being set aside to support their conversion to liquid petroleum gas (LPG).&nbsp; Independent testing shows that an average TX4 taxi emits over 70 per cent less NOx after being converted to run on LPG. Trials also show that drivers of LPG-converted taxis can save around &pound;200 a month in fuel costs. The maximum age limit for Euro 6 and ZEC taxis and those Euro 5s newly converted to LPG would remain at 15 years in recognition of the fact that they meet ULEZ standards.</p>

<p>The private hire industry is also playing its part, with all vehicles licensed for the first time from the start of last year having to meet LEZ standards. From the start of 2020 there will be a further step change, with newly licensed minicabs being required to be ZEC. From 8 April, private hire vehicles will also need to meet the ULEZ standards and pay the Congestion Charge when driving in central London.</p>

<p>Alex Williams, TfL's Director of City Planning, said:</p>

<p>'Taxi drivers are part of London's lifeblood and more than 1,000 are already making a major contribution to cleaning up the air for future generations by using electric black cabs. This package of measures will incentivise more drivers to buy the new clean taxis and speed up the rate the vehicles that emit the most harmful pollutants are being taken off the road.</p>

<p>'Making transport across London more sustainable is vital if the capital is to meet legal limits for clear air. The Ultra Low Emission Zone (ULEZ) will be introduced this April, with some of the toughest standards in the world. There is also a London-wide effort to clean up the bus fleet, including the phasing out of diesel-only buses and a commitment to purchase only hybrid or zero-emission double-decker buses from this year. We are proud that the city has one of Europe's largest zero-emission fleets but our ultimate aim is for all buses to be converted by 2037.'</p>

<p>Dr Penny Woods, Chief Executive of the British Lung Foundation, said:</p>

<p>'This is a welcome move from TfL and we would like to see other cities follow suit. Air pollution is a threat to all of our health, and our lungs act as an early warning sign of the damage it's doing throughout our bodies.</p>

<p>'You're exposed to more dirty air inside a car, so this initiative will go towards protecting cabbies', their customers and all Londoners. The Mayor's Healthy Streets Approach goes beyond tackling road transport and looks at helping more people to walk, cycle and use public transport, so we look forward to seeing even more action to clean up the toxic in the capital.'</p>

<p>John Maingay, Director of Policy &amp; Public Affairs at the British Heart Foundation, said:</p>

<p>'Breathing dirty air contributes to thousands of deaths in the UK each year. Our research has shown that the tiny particles produced by diesel vehicles may silently damage our heart and circulatory systems, significantly increasing the risk of a devastating heart attack or stroke.</p>

<p>'We need to see an urgent and sustained shift away from diesel vehicles if we are to protect the nation's health from our toxic air.'</p>

<p>'Making black cabs greener in the nation's capital is a welcome step in the right direction. But it must be accompanied by bold, wide-ranging action from the government to ensure air pollution is being tackled at the same pace across the country. We need to see this action as soon as possible, beginning with the adoption of World Health Organisation air pollution limits into UK law.'</p>

<p>Stephen Edwards, Director of Policy and Communications at Living Streets, said:</p>

<p>'Dirty air is currently contributing to 36,000 premature deaths a year in the UK and is having a particularly negative impact on children.</p>

<p>'Black cabs are iconic in London but also make a major contribution to poor air quality in the capital. We support this important measure to reduce the number of polluting vehicles on London's roads.'<br />
&nbsp;</p>

<hr />
<p>&nbsp;</p>

<p>Notes to Editors:<br />
&nbsp;</p>

<ul>
	<li>The Mayor's 2019/20 budget, which includes the proposed &pound;24m funding, will go before a meeting of the London Assembly on February 25th.</li>
	<li>There will be tightening of existing rules from 1 November 2019 to mandate the maximum operating age of a taxi. In 2019, this will mean that taxis cannot be licensed beyond their 15th anniversary, rather than being able to operate for up to a full 16th year. This will also apply to future age limit changes.</li>
	<li>Taxis remain exempt from the Congestion Charge and the ULEZ, which comes into operation in central London in April this year. This is because the black cab fleet is 100 per cent wheelchair accessible and all new taxis licensed for the first time have to be ZEC. Taxis have a legal requirement to take all journeys and to use the shortest route.</li>
	<li>The greenest private hire vehicles will continue to be exempt from the Congestion Charge via the Cleaner Vehicle Discount.</li>
	<li>Wheelchair accessible private hire vehicles are exempt from the Congestion Charge</li>
	<li>Details of the consultation, which lasts 10 weeks, can be found here: <a href="[ioID]#https://consultations.tfl.gov.uk/tph/taxi-age-limits">https://consultations.tfl.gov.uk/tph/taxi-age-limits</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-GLA - £24m funding boost to accelerate the greening of London’s black cabs -->

 
 
        
        
            @{ViewBag.Description = "£24m funding boost to accelerate the greening of London’s black cabs";}
        
        


 