


@{ViewBag.Title = "GLA - Mayor doubles 'scrap for cash' polluting vehicle fund";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor doubles ‘scrap for cash’ polluting vehicle fund</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor doubles ‘scrap for cash’ polluting vehicle fund</h1>
        <div class="content-page-press-release">
        14 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;48 million combined scheme will help scrap older vans for the capital's micro business owners & help low-income Londoners scrap older cars
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Ministers must now show they can match my commitment. If we're going to tackle the health crisis and social injustice caused by air pollution it is vital and only fair that a national vehicle scrappage scheme is funded and supported by the government"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-doubles-scrap-for-cash-dirty-vehicle-fund">london.gov.uk</a></p>

<ul>
	<li>Sadiq and UK100 bring together regional leaders at #LoveCleanAir summit to ask ministers to deliver national vehicle upgrade fund</li>
	<li>Six weeks to go until the 24-hour seven-day-a-week Ultra Low Emission Zone launches in central London</li>
</ul>

<p>&nbsp;<br />
The Mayor of London, Sadiq Khan, will more than double a 'scrap for cash' fund to help both micro-business owners and low-income Londoners scrap older, more polluting vehicles in favour of cleaner vehicles and greener forms of transport to help clean up the city's toxic air.<br />
&nbsp;<br />
Details of the new proposed &pound;25m car scrappage fund &#45; announced today - will be launched later this year. It comes on top of the Mayor's existing plans for a &pound;23m fund to help micro-businesses scrap vans that do not comply with the new Ultra Low Emission Zone standards, but which are driven into the ULEZ central London zone regularly.<br />
&nbsp;<br />
Taken together, they will provide &pound;48 million worth of scrappage to help those who face serious financial pressure in upgrading to greener options.<br />
&nbsp;<br />
The announcement comes as the Mayor, together with the cities network UK100, brings together city leaders from across the country for face-to face talks with Government ministers. Leaders will call on the Government to deliver an urgently needed national vehicle upgrade fund and to do more to tackle the country's air quality crisis.<br />
&nbsp;<br />
Toxic air leads to around 40,000 premature deaths every year, and increases the risk of asthma, cancer and dementia &#45; as well as costing the economy more than &pound;20 billion annually. In London, more than 400 schools are in areas with illegally high pollution limits, where the filthy air is damaging lung development in some children.<br />
&nbsp;<br />
With road transport responsible for around half of air pollutants, the Central London ULEZ &#45; which will begin operating on 8th April - aims to reduce toxic emissions in central London by around 45 per cent by 2020, together with measures to clean up taxis and buses. Taking further action, including expanding the ULEZ up to the North and South circular roads in 2021, will ensure that every school in London meets legal pollution limits by 2025.<br />
&nbsp;<br />
Attendees at the National Clean Air Summit, organised in partnership with UK100 and Unicef UK, will discuss their concerns directly with the Environment Secretary, Michael Gove, and the Health Secretary, Matthew Hancock.<br />
&nbsp;<br />
To mark Valentine's Day London school children will join the start of the summit to explain how polluted air affects them and why they #LoveCleanAir. Those present will also be shown a video by Unicef UK highlighting the worries of children from across the UK about polluted air.<br />
&nbsp;<br />
Sadiq will be joined by city leaders including the Mayor of Greater Manchester, Andy Burnham, Mayor of the Liverpool City Region, Steve Rotheram, Mayor of the West of England Jim Bowles, and Mayor of the Sheffield City Region, Dan Jarvis, to ask for greater Government investment in clean air, the adoption of World Health Organisation air pollution recommended limits and the establishment of a &pound;1.5 billion government-funded vehicle upgrade programme.<br />
&nbsp;<br />
The fund would rid Britain's streets of the dirtiest diesels and petrol vehicles, help businesses upgrade their vehicles and deliver a network of new Low Emission Bus Zones across the country. Research published by UK100 suggests that this could pay for nearly half a million (488,647) older polluting cars, vans and buses to be taken off the roads and incentivise people and businesses into using low-emission vehicles and public transport.<br />
&nbsp;<br />
City leaders are also calling on ministers to seize the opportunity presented by the Government's new Environment Bill to put in place world-leading legislation for clean air. This must prioritise action to reduce road transport emissions, provide appropriately resourced new powers to tackle other sources of pollution including from buildings, construction and maritime sources.<br />
&nbsp;<br />
The Mayor of London, Sadiq Khan said:</p>

<p>'Our country's filthy air is a national disgrace that shortens lives, damages our lungs, and severely impacts our NHS. City leaders across the country are united in raising the alarm about the dangers posed by poor air quality. Here in London we have worked tirelessly to clean-up the bus and taxi fleet, encourage clean air innovation and establish the largest air quality monitoring network of any major world city.<br />
&nbsp;<br />
'Now, with seven weeks weeks to go until the introduction of the 24-hour seven-day-a-week Ultra Low Emission Zone in central London, I'm announcing plans to help motorists on low incomes, as well as micro-businesses, to scrap their older, more polluting vehicles. However, Ministers must now show they can match my commitment. If we're going to tackle the health crisis and social injustice caused by air pollution it is vital and only fair that a national vehicle scrappage scheme is funded and supported by the government.<br />
&nbsp;<br />
'I know Michael Gove and Matt Hancock both share my commitment to clean up our filthy air and protect the health of future generations &#45; but for this to happen they must recognise the scale of this issue, dip in their pockets and urgently match the ambition of our city leaders.'<br />
&nbsp;<br />
The Mayor of Greater Manchester, Andy Burnham, said:</p>

<p>'Air pollution is linked to the equivalent of 1,200 early deaths each year in Greater Manchester alone. It's our largest environmental risk to public health which needs to be tackled as quickly as possible. Greater Manchester's ten local authorities are showing leadership in developing a Clean Air Plan to tackle nitrogen dioxide roadside emissions for a population of nearly three million people across 500 square miles.<br />
&nbsp;<br />
'But we urgently need government to guarantee the right level of powers and funding to help us tackle the scale of the problem without damaging our local economies. That includes adequate funding so we can help businesses make the change to cleaner vehicles. Without this support we won't be able to do what's required to clean up our air, keep our region an attractive, sustainable and healthy place to live and work and &#45; ultimately &#45; save lives. And it's not just about reducing nitrogen dioxide &#45; we're calling on government to grasp the opportunity with the upcoming Environment Bill to put in place world-leading legislation for clean air including carbon, particulates and other pollutants.'<br />
&nbsp;<br />
Polly Bilington, director of local authority clean air and energy network UK100, said:</p>

<p>'Air pollution is a national health crisis. Government should work in partnership with local leaders by providing new powers and adequate funding: that will make a real difference to drive urgent and effective action. Many councils and mayors are acting, but an extra &pound;1.5bn is needed to support people and businesses to switch from older polluting vehicles into low emission transport, cycling and walking so we can all love clean air. We also a need a new clean air law including tougher, legally binding WHO air pollution limits and an independent watchdog that will hold Government to account.'<br />
&nbsp;<br />
The city leaders and environmental groups attending today's summit at Tate Modern are calling for the Government's proposed Environment Bill to be renamed the Clean Air and Environment Bill and include the following provisions:</p>

<ul>
	<li>Adoption of World Health Organization recommended air pollution limits as legally binding targets to be achieved by 2030.</li>
	<li>Creation of an adequately funded and empowered, independent watchdog to hold the Government's actions on air quality and other environment issues, including Climate Change, to account</li>
	<li>Granting Local Authorities the powers they need to deliver zero-emission transport networks.</li>
	<li>Setting and enforcing ambitious standards for local air quality, including for solid fuel stoves and setting energy efficiency standards including for existing buildings.</li>
	<li>Establishing local powers to set and enforce emission zones for non-road mobile machinery such as construction equipment.</li>
	<li>Requiring action from private and public bodies to improve air quality, such as ports, Highways England, Homes England, Environment Agency and Directors of Public Health.</li>
</ul>

<p>&nbsp;</p>

<hr />
<p>&nbsp;<br />
Notes to Editors:</p>

<ol>
	<li>The Mayor's final Budget, including the new &pound;25m fund, is due to be presented at a meeting of the London Assembly on February 25th</li>
	<li>UK100 is a network of local government leaders which seeks to devise and implement plans for the transition to clean energy that are ambitious, cost-effective and take the public and business with them. It supports decision-makers in UK towns, cities and rural areas in their transition to 100 per cent clean energy by 2050.</li>
	<li>ONS statistics define micro-businesses as a business with fewer than 10 employees</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-GLA - Mayor doubles ‘scrap for cash’ polluting vehicle fund -->

 
 
        
        
            @{ViewBag.Description = "Mayor doubles ‘scrap for cash’ polluting vehicle fund as he holds National Clean Air Summit ";}
        
        


 