


@{ViewBag.Title = "New vest helps staff at stations provide better customer service";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New vest helps staff at stations provide better customer service</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New vest helps staff at stations provide better customer service</h1>
        <div class="content-page-press-release">
        12 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new, modern vest for London Underground station staff has been launched this week
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our station staff already do a brilliant job assisting customers every day, and I'm confident that better visibility will help them to provide an even better service in future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Brian Woodhead</div>
            <div class="quotee-job-title">London Underground's Director of Customer Service</div>
        </div>
</div>

 <div class="on-this-page">
<p>The vests are part of a programme of improvements to customer service on the Tube network. Frontline station staff will be wearing the new vests from Sunday 10 February in order to boost visibility and help customers identify who to speak to for assistance.</p>

<p>The tabards are reversible, pairing the standard orange high visibility vest with a red vest featuring a <strong>'Here to Help'</strong> message on the back.</p>

<p>London Underground's Director of Customer Service, Brian Woodhead, said: 'The new vests will help customers to easily identify staff if they need help.</p>

<p>'Our station staff already do a brilliant job assisting customers every day, and I'm confident that better visibility will help them to provide an even better service in future.'</p>

<h2>Improve customer service</h2>

<p>The vests have been implemented following recommendations from London TravelWatch on how London Underground could improve customer service. Other recommendations that have been implemented by London Underground are already making a positive difference to the customer experience across the network.</p>

<p>These include more and better signs directing customers to lifts and visitor centres, improved processes supporting disabled customers, faster access to Oyster credit refunds and other upgrades to ticket machines.</p>

<p>Janet Cooke, Chief Executive of London TravelWatch, commented: 'We know that the London Underground staff provide an excellent service to passengers but they can't always find them easily if they need assistance.</p>

<p>'These new bright red vests will help staff stand out from the crowd and provide passengers with the help and reassurance that they need when travelling around London.'</p>

<h2>More confidence</h2>

<p>Alan Benson, Chair of Transport for All, said: 'Our members often tell us how the current uniform is hard to find amongst the sea of suits and dark coats found throughout the stations, especially at this time of year.</p>

<p>'At Transport for All we're delighted to see TfL have listened to feedback and are introducing these new vests. In future staff will be much easier to find and passengers will have more confidence in approaching them.'</p>

<p>Staff will have the red side visible for customer service duties in ticket halls and around gatelines, while the orange side will be visible when dispatching trains, assisting on platforms and in emergencies.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The recommendations made by London TravelWatch were a result of a review into Tube customer service commissioned by London Mayor Sadiq Khan</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-New vest helps staff at stations provide better customer service -->

 
 
        
        
            @{ViewBag.Description = "New vest helps staff at stations provide better customer service";}
        
        


 