


@{ViewBag.Title = "On-demand bus services set to be trialled in Sutton";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">On-demand bus services set to be trialled in Sutton</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>On-demand bus services set to be trialled in Sutton</h1>
        <div class="content-page-press-release">
        20 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers will be able to book a seat on the bus using an app
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This trial will help us to understand if a demand-responsive service will support the objectives of the Mayor's Transport Strategy in reducing car dependency and if it can be deployed to support the established bus network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michael Hurwitz</div>
            <div class="quotee-job-title">TfL's Director of Innovation</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today Wednesday 20 February launched a four-week consultation on plans to trial an innovative 'on-demand' bus service in Sutton.</p>

<p>The new service will let people or groups use an app to book seats on a minibus that will stop at more convenient locations, including areas not currently served by public transport.</p>

<p>The on-demand service is proposed to run from 6.30am to 9.30pm, seven days a week and would carry up to 14 passengers. They would benefit from a guaranteed seat, free WiFi and USB charging points and flexible stops within a certain area.</p>

<p>The consultation is asking Londoners for their views on the specific area of Sutton that the service should cover and suggested stopping points.</p>

<p>The trial, which will last for a year, will help TfL gauge the level of interest for an on-demand service and assess how it would work alongside the existing public transport network in Sutton.</p>

<h2>Convenient locations</h2>

<p>Sutton was chosen because it has relatively high car dependency, and TfL believes the service could encourage people to switch to a more sustainable way of travelling.</p>

<p>In doing so it will improve London's air quality, and reduce congestion. The buses will meet the Mayor's tough ULEZ standards, and also accommodate wheelchairs &#45; improving accessibility.</p>

<p>As well as using the app, passengers will also be able to book trips over the phone. The cost of using this new type of transport will be slightly higher than a traditional bus to reflect a better experience for customers, with Freedom Passes accepted.</p>

<p>After a competitive bidding process, ViaVan and Go-Ahead have been chosen to operate the trial. TfL will be tapping into the expertise of the successful bidders' collective knowledge of app development and many years' experience operating the largest part of the bus network in London.</p>

<p>TfL is also exploring the possibility of delivering a second on-demand bus trial to provide further evidence about the initiative's viability.</p>

<h2>'Licence for London'</h2>

<p>Drivers for the new innovative service will receive the same pay and conditions as other London bus drivers. This includes the Mayor's 'Licence for London', which guarantees a pay grade equivalent to their level of service and experience.</p>

<p>Michael Hurwitz, TfL's Director of Innovation, said: 'We are always looking at how we can harness the latest technological developments in transport to improve the service for our customers.</p>

<p>'This trial will help us to understand if a demand-responsive service will support the objectives of the Mayor's Transport Strategy in reducing car dependency and if it can be deployed to support the established bus network.'</p>

<p>Chris Snyder, CEO of ViaVan, said: 'ViaVan's powerful technology is redefining mobility across Europe, seamlessly integrating with public transit infrastructure to provide fully on-demand and dynamic transportation solutions.</p>

<p>'We are proud to partner with Transport for London, an innovative transport authority, to provide residents of Sutton with a convenient, affordable, and congestion-reducing shared transportation alternative that creates a viable alternative to private car usage.'</p>

<h2>Demand responsive buses</h2>

<p>Cllr Manuel Abellan, Chair of Environment and Neighbourhood Committee at Sutton Council, said: 'I am delighted that Sutton has been chosen to host this new trial. Demand responsive buses have the potential to better connect parts of our borough, particularly those urban areas away from the main centres.</p>

<p>'They could also offer an appealing sustainable travel option. We are keen to see higher public transport provision in our borough and very pleased to be working with TfL to trial this new service.'</p>

<p>David Brown, CEO of The Go-Ahead Group, said: 'As the operator of Pickmeup, the largest demand responsive service in the UK, we are delighted to work with TfL and ViaVan to help deliver this service to Sutton. And, as London's largest bus operator, we understand how an 'on demand' service can provide further journey opportunities to complement the capital's extensive network of bus routes.&nbsp;</p>

<p>'The Sutton service will help customers with the first and last mile of their trip and fits well with&nbsp;Go-Ahead's vision of a world where every journey is taken care of.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The consultation, which runs until 20 March, can be found here: &nbsp;<a href="https://consultations.tfl.gov.uk/buses/demand-responsive-bus-trial/">consultations.tfl.gov.uk/buses/demand-responsive-bus-trial/</a></li>
	<li>The service will run using up to eight Mercedes Cityline Low floor Sprinter 14-seater vehicles. Vehicles will be ULEZ-compliant Euro VI and wheelchair accessible</li>
	<li>Instead of traditional bus stops, the operator will use approved stopping points, which will be designed to be approximately every 200m within the designated route area</li>
	<li>The service will not be available to unaccompanied children under the age of 16</li>
	<li>For those users who don't have access to a smartphone the service can be accessed by phone via an operator. For those with an SMS enabled phone, real time journey updates will be provided by text</li>
	<li>This is a limited 12-month research trial, so the service will not be integrated with the Oyster card payment system</li>
	<li>The majority of the area covered is in Sutton, but there is potential for an extension of the boundary into Croydon</li>
	<li>The Freedom Pass and ENCT pass will be accepted on this trial service</li>
	<li>Drivers on this service will be trained to the same standards as the rest of bus network</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-On-demand bus services set to be trialled in Sutton -->

 
 
        
        
            @{ViewBag.Description = "On-demand bus services set to be trialled in Sutton";}
        
        


 