


@{ViewBag.Title = "TfL tackles unsafe roadworks and launches new good practice handbook";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL tackles unsafe roadworks and launches new good practice handbook</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL tackles unsafe roadworks and launches new good practice handbook</h1>
        <div class="content-page-press-release">
        26 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cadent Gas ordered to pay a fine of &pound;40,000 for putting the public in danger during roadworks
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL) has successfully prosecuted Cadent Gas for a series of unsafe roadworks, with the utility company ordered to pay a fine of &pound;40,000.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">During their unsafe work, Cadent Gas failed to provide suitable alternative walkways when footpaths were closed, forcing people to walk out into the road, close to busy traffic. Cadent Gas failed to use barrier systems at Kingsland Road and North Circular Road between April and June last year, which protect people walking and cycling from traffic.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The utility company, which runs the UK's largest gas network, pleaded&nbsp;guilty&nbsp;to two offences of&nbsp;failing to provide adequate signing and guarding in the course of the works. In addition to&nbsp;the &pound;40,000&nbsp;fine issued at&nbsp;the Westminster Magistrates'&nbsp;court, Cadent was ordered to cover TfL's costs of&nbsp;&pound;11,909<strong>.</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">To help prevent unsafe roadworks in future, TfL has published a Temporary Traffic Management Handbook, giving all companies who want to do work on London's roads clear guidance and innovative ideas on how to keep people safe around roadworks.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Between 2005 and 2017, 99 people were killed or seriously injured near roadworks on the Transport for London Road Network (TLRN). This new safety guidance forms part of the Mayor and TfL's Vision Zero ambition, to eliminate death and serious injury on London's roads.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The handbook sets out good practice to those involved with roadworks and other construction related operations, from the planning and design stage through to completion of the works. London's road network has changed, with far more people choosing to travel on foot, by cycle or by bus, and this guidance updates standards that were last published in 2013.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">It will not only make roads safer for vulnerable road users &#45; people who walk, cycle and ride motorcycles &#45; but will also help to unlock the barriers to active travel faced by people who are visually impaired, or who use wheelchairs and other mobility aids. It will also help those delivering roadworks protect the reliability of buses and the accessibility of bus stops.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Will Norman, London's Walking and Cycling Commissioner, said: </strong>`It's really important that roadworks do not put cyclists and pedestrians' safety at risk and prosecutions like this one show we will not tolerate companies who do so. It's vital that temporary changes to road layouts don't put people off walking and cycling by making them take long diversions or force them into congested traffic.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`I hope TfL's updated guidance will encourage companies to act responsibly and protect Londoners - helping make our streets healthier, safer and more attractive.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Glynn Barton, Director of Network Management at TfL, said:</strong> `It is vital that London's streets are open and accessible for everyone, which is why our new guidance sets out clearly how to keep people safe during streetworks.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`We have been working with Cadent since January 2017 to address ongoing problems and it is disappointing to see that streetworks are still happening with no safety measures in place for people walking and cycling. Hopefully this prosecution sends a strong message that we take streetwork violations seriously and will continue to prosecute any company that does not follow the rules.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Stewart Dring, London Cycling Campaign's Cycling Projects Manager said:</strong> `Keeping the public safe during all utility roadworks is of paramount importance, especially if we are to meet the Mayor's Vision Zero goal of no road deaths or serious injuries. LCC's Cycling Projects team has been pleased to help a number of utility and construction companies that are keen to be sector leaders in road safety. We extend this offer of help to Cadent, and hope that all utility companies pay heed to this ruling, adopting best practice going forwards.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Isabelle Clement, Director of Wheels for Wellbeing, said:</strong> `Wheels for Wellbeing welcomes having been involved in the development of TfL's new Temporary Traffic Management Handbook. We welcome the recommendations that works promoters be mindful of the fact that not all cyclists can easily dismount and proceed on foot and that marshals receive disability equalities training to assist disabled cyclists.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`The onus is on developers, contractors and others who place roadworks on and around the highway to ensure that those who use a cycle as a mobility aid are not cut off from their homes, work or leisure by poorly planned roadworks. The acknowledgement of this in the new handbook is greatly welcome, and we look forward to continuing to work with TfL in future.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Martin Brotherton, Streetworks Manager at Thames Water, said:</strong> `Thames Water welcomes the new TfL guidance as it seeks to take account of how best to manage pedestrian, vehicular and cycle traffic across London. It will assist in the planning and management of our essential works and help us carry out repairs to our network with as little disruption as possible, especially to vulnerable road users, such as pedestrians, cyclists and those with reduced mobility. This reflects how the dynamics and interactions between the various street users have fundamentally changed over the past decade.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has been working with utility companies, including Cadent, to address ongoing safety problems at their street work sites on roads managed by TfL. This work includes support and guidance from TfL on best practice and legal guidelines on how, as well as regular meetings, performance data and targets. TfL also gives advice on how to keep all road users safe during work and analyses the common inspection failures found at Cadent's sites.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's Lane Rental Scheme charges organisations who carry out roadworks to 'rent road space' on TfL's roads. TfL reinvests this money into funding improvements to the road network to reduce disruption and other adverse effects caused by roadworks.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Since Lane Rental was introduced in 2012, there has been a 194 per cent increase in companies working at the same site, at the same time and a 31 per cent rise in planned utility works at night. Without the scheme, the extra disruption would have cost approximately &pound;95m in lost travel time. Around 65 schemes, such as mapping below-ground utility services, robotic technology and training to promote efficiency in on-site working practices have already received a share of almost &pound;17m in Lane Rental funding.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's Healthy Streets Approach is working to make London's streets more welcoming for people, towards the Mayor's Transport Strategy goal of 80 per cent of all Londoners walking, cycling and using public transport. This is supported by Operation Clearway, which removes obstructions from pavements, making it easier for people to get around. TfL takes the risk to public safety through freestanding advertising boards, tables, chairs and pillars extremely seriously as they could cause injury and hinder the free flow of pedestrian movement, particularly for older people and those with a visual or mobility impairment.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Additional information</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL's Temporary Traffic Management Guidance can be found here: <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management" style="text-decoration: none;">gov.uk/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management</a></span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting <a href="http://reportit.tfl.gov.uk/" style="text-decoration: none;">tfl.gov.uk</a>. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The handbook is an action from TfL's Walking Action Plan, which was published earlier this year. The plan can be found here: <a href="http://content.tfl.gov.uk/mts-walking-action-plan.pdf" style="text-decoration: none;">tfl.gov.uk/mts-walking-action-plan.pdf</a></span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The below table sets out the number of times TfL has successfully prosecuted utility companies since 2010: </span></span></span></li>
</ul>

<div class="table-container"><table border="1" cellspacing="0" class="Table" style="border-collapse:collapse; border:1pt solid windowtext; height:12px; margin-left:36pt; width:453.2pt">
	<tbody>
		<tr>
			<td style="border-style:solid; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Company</strong></span></span></p>
			</td>
			<td style="border-left:1pt solid; border-style:solid; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>No. Offences Prosecuted</strong></span></span></p>
			</td>
			<td style="border-left:1pt solid; border-style:solid; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>% of Total Prosecutions</strong></span></span></p>
			</td>
			<td style="border-left:1pt solid; border-style:solid; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Total Amount Fined</strong></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">BT Openreach</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">47</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">35.88%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;157,270</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Virgin Media</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">16</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">12.21%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;20,000</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Thames Water</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">13</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">9.92%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;16,900</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Infocus</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">11</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">8.4%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;1,100</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Fulcrum</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">9</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">6.87%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;7,050</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">UK Power Networks</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">9</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">6.87%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;37,000</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Vodafone</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">9</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">6.87%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;9,390</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">National Grid Gas</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">5</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">3.82%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;11,000</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Cadent Gas</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">4</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">3.05%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;50,000</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Cable &amp; Wireless</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">3</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">2.29%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;3,000</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Abovenet</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">2</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">1.53%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;500</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">McNicholas (for Virgin Media)</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">1</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">0.76%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;1,665</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">O<sub>2</sub></span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">1</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">0.76%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;240</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Southern Electric</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">1</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">0.76%</span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&pound;200</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-style:none solid solid; border-top:1pt none; border-width:1pt; height:12px; padding:3.75pt 11.25pt; width:108.4pt" width="145">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Total</strong></span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:109.2pt" width="146">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>131</strong></span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:112.8pt" width="150">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>100%</strong></span></span></p>
			</td>
			<td style="border-color:currentcolor windowtext windowtext currentcolor; border-style:none solid solid none; border-width:medium 1pt 1pt medium; height:12px; padding:3.75pt 11.25pt; width:122.8pt" width="164">
			<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>&pound;315,315</strong></span></span></p>
			</td>
		</tr>
	</tbody>
</table></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-TfL tackles unsafe roadworks and launches new good practice handbook -->

 
 
        
        
            @{ViewBag.Description = " TfL tackles unsafe roadworks and launches new good practice handbook";}
        
        


 