
            <p>You have 28 days from the date of service of the PCN to submit your representation to TfL.</p><p>When we receive your representation the enforcement process will be suspended and the amount of your PCN will not increase until we have investigated and responded to your representation in writing.</p>

  
 