
                @{ViewBag.Title = "Poem for the day";}
              

  




        
          
        
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "http://www.tfl.gov.uk/forms/12393.aspx");   
}

 
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/corporate/about-tfl/index">About TfL</a>
                </li>
                
                <li>
                    <a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a>
                </li>
                
                <li>
                    <a href="/corporate/about-tfl/culture-and-heritage/poems-on-the-underground">Poems on the Underground</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Poem for the day</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Poem for the day</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/poems-on-the-underground" class="heading">
                    <h2>Poems on the Underground<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/music-film-and-poetry/poems-on-the-underground/poem-archive">Poem archive</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/music-film-and-poetry/poems-on-the-underground/poem-for-the-day">Poem for the day</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-6150634DCE6A4267B17F9C3DE90F19B4' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-6150634DCE6A4267B17F9C3DE90F19B4'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Homepage', [300, 250], 'div-gpt-ad-6150634DCE6A4267B17F9C3DE90F19B4'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 