


@{ViewBag.Title = "Bus boffins solar stops even work in UK winter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus boffins solar stops even work in UK winter</h1>
        <div class="content-page-press-release">
        22 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Solar technology that can light bus stops even through the British winter will soon be appearing on London's streets in a project that will give the capital the biggest network of 'solar stops' in the world.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The bus stops, assembled in Britain, are designed specially for London's weather conditions
                            
                        </p>
                    </div>
                
            
            
            <p>The new stops will be built and installed for Transport for London (TfL) by Trueform Engineering Ltd, using solar technology supplied by Carmanah Technologies.</p>
<p>The bus stops will all be assembled in Britain and have been designed specially for London - they've been proven to work even in the UK's gloomiest weather conditions.</p>
<p>Ordinary bus stops have no lights at all, but the solar stops light up automatically at dusk, which trials showed helped to make passengers feel safer while they wait for their bus.</p>
<p>Solar stops are easily identified with their white lighting making it easier for bus drivers to see people waiting at bus stops.</p>
<p>The white light, from light emitting diodes, also provides downlighting for waiting passengers and timetables which light up at the press of a button.</p>
<p>This means people don't have to rely on sodium street lights to read timetable information and bus route numbers at night, something that's particularly difficult for elderly and visually impaired passengers. </p>
<p>Because the solar panels generate power wherever its needed, the stops are easy to set up anywhere - there's no need for a connection to the national grid - and they cost nothing to run.</p>
<p>Ivan Bennett, TfL Research and Development Manager, said: "It's immensely satisfying to get leading-edge technology to work in such challenging real-life conditions.</p>
<p>"When we started looking at solar batteries that could cope with the British winter, they tended to be the size of a filing cabinet.</p>
<p>"We've now got a unit that can sit on top of an ordinary British bus stop and provide light all year round.</p>
<h2>A big difference for passengers</h2>
<p>"This is one of those projects that works well on so many levels: it's an environmentally-friendly improvement which is relatively cheap to build, costs no extra to run, and will make a big difference to passengers."</p>
<p>The new stops will be built and installed for Trueform Engineering Ltd, using solar technology supplied by Carmanah Technologies and designed by Jedco Product Designers.</p>
<p>Roll-out will start in Ealing, Hillingdon and Hounslow at the end of October, and installation will continue at a rate of 1,400 solar-lit stops each year for the next five years across London.</p>
<p>
<hr>

<p>
<p>
<p>To help more people use London's transport network, TfL has produced a range of accessibility information: <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></p>
            <ul>
<li>London was the first city in the world to trial solar-lit bus stops, when TfL ran a pilot scheme of its prototype solar stops in 2002-2005.</li>
<li>Since then, other cities have followed suit, including cities in  Canada and the US</li>
<li>A bus stop usually costs &pound;1,100 and a solar stop currently costs &pound;2,000, but prices are coming down all the time. The five year project will cost &pound;7.9m</li>
<li>Each bus stop will have a canopy fitted above the flag to gather the solar power</li>
<li>The power gathered during the day will be stored in batteries and used to light the timetable display and the bus 'flag' during the night. This will be controlled by energy management systems which will ensure the most effective use is made of the energy available. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new stops will be built and installed for Transport for London (TfL) by Trueform Engineering Ltd, using solar technology supplied by Carmanah Technologies.The bus stops will all be assembled in Britain and have been designed specially for London -";}
        
        


 