


@{ViewBag.Title = "Buses replace trains as improvement works take place at White City";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Buses replace trains as improvement works take place at White City</h1>
        <div class="content-page-press-release">
        07 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses will replace trains between North Acton and Marble Arch as improvement works are taking place at White City on 11 September; 29 and 30 October; 5, 6, 20 and 27 November and 2 January 2006.
        
    </div>



 <div class="on-this-page">
<p>The work is being undertaken in support of the White City Development.</p>
<p>Special shuttle train services will operate:</p>
<ul>
<li>between West Ruislip and North Acton </li>
<li>between Ealing Broadway and North Acton</li></ul>
<p>Two Rail Replacement Bus Services will operate:</p>
<ul>
<li>Service A: between North Acton and Willesden Junction </li>
<li>Service B: between North Acton and Shepherd's Bush.</li></ul>
<p>Passengers travelling from/to the following stations are advised to use the following routes:</p>
<p>West Ruislip</p>
<p>*Chiltern line services from/to Marylebone;<br>Metropolitan line from/to Ickenham;</p>
<p>Ruislip Gardens</p>
<p>Metropolitan line from/to Ruislip or Ruislip Manor;</p>
<p>South Ruislip </p>
<p>*Chiltern line from/to Marylebone;</p>
<p>Greenford</p>
<p>First Great Western Link services from/to Paddington (no Sunday service);</p>
<p>Hangar Lane</p>
<p>Piccadilly line services from/to Park Royal (Except 11 September);</p>
<p>Ealing Broadway</p>
<p>District line (except 11 September; 20 and 27 November);<br>First Great Western Link services from/to Paddington;</p>
<p>West Acton</p>
<p>Piccadilly Line services from/to North Ealing;</p>
<p>Shepherd's Bush</p>
<p>Hammersmith &amp; City line (additional service will<br>operate);</p>
<p>Queensway</p>
<p>District and Circle lines from/to Bayswater (except 11 September; 20 and 27 November);<br></p>
<p>*Chiltern Railways will carry out engineering works on some weekends. For more information please visit: <a href="http://www.chilternrailways.co.uk/">http://www.chilternrailways.co.uk/</a> </p>
<p>Customers should allow an extra 30 minutes to complete their journeys especially those wishing to make the last train connections.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li><strong> </strong>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Central line</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li>
<li>The longest journey without change on the London Underground can be made on the Central line between West Ruislip and Epping (54.9 km, 34.1 miles)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is being undertaken in support of the White City Development.Special shuttle train services will operate:between West Ruislip and North Acton between Ealing Broadway and North ActonTwo Rail Replacement Bus Services will operate:Service A: between";}
        
        


 