


@{ViewBag.Title = "Buses will replace Piccadilly line trains between Wood Green and Cockfosters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Buses will replace Piccadilly line trains between Wood Green and Cockfosters</h1>
        <div class="content-page-press-release">
        29 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Track replacement work to improve the Piccadilly line will mean that no trains will run between Wood Green and Cockfosters on Saturdays and Sundays 1 &amp; 2, 8 &amp; 9, 29 &amp; 30 October and 5 &amp; 6 November 2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers are advised to allow at least an extra 35 minutes for their journeys
                            
                        </p>
                    </div>
                
            
            
            <p>Rail replacement buses will operate between Wood Green and Cockfosters on those weekends.</p>
<p>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube.  </p>
<p>This track work is being carried out by Tube Lines.</p>
<p>Passengers are advised to allow at least an extra 35 minutes for their journeys, particularly late at night.</p>
<p>Valid London Underground tickets and passes will be accepted on local buses.</p>
<p>Cockfosters Station Car Park will also be closed on Saturday and Sunday 1 &amp; 2 October 2005 while the engineering work is taking place.  </p>
<p>The nearest car parks are at Arnos Grove and Oakwood Stations.</p>
<p>
<hr>
</p>
<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rail replacement buses will operate between Wood Green and Cockfosters on those weekends.Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the";}
        
        


 