


@{ViewBag.Title = "Doing the Lambeth, Islington, Bromley, Richmond Walk";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Doing the Lambeth, Islington, Bromley, Richmond Walk</h1>
        <div class="content-page-press-release">
        14 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The sheer scale of London, a city of more than 600 square miles, can make it a daunting place to explore.  As part of ITV's National Walking Day and in support of Good Going weeks, an initiative designed to promote all forms of sustainable transport, Transport for London (TfL) is organising dozens of walks in the capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's South Bank and Millenium Bridge feature in one of 30 guided walks
                            
                        </p>
                    </div>
                
            
            
            <p>On Sunday 18 September to mark ITV's National Walking Day, TfL has linked up with ITV's Britain on the Move campaign to arrange a walk in each of the London boroughs. One of the walks, tracing the history of the South Bank, from London Bridge to the Millennium Bridge will be filmed by ITV and led by television presenter MargheritaTaylor.</p>
<p>Good Going has also organised 30 walks around central London starting inTrafalgar Square at 1400 as part of their celebrations for ITV's National Walking Day.</p>
<p>Peter Hendy, Managing Director, Surface Transport, Transport for London, said: "London has some great walks but without knowing where they are it can be hard to find your way around. These walks will help people find a lovely walk in their area or in the centre of the city with the guarantee of not getting lost.</p>
<p>"The tour guides will have some nuggets of history and quirky stories about your areas and it will be a great way to get some exercise."</p>
<h2>Get involved, get walking</h2>
<p>Helen Andrews, Head of Regional Affairs, ITV London said: "We were delighted with the response that ITV's National Walking Day received last year, over 1.2m people joined us on walks around the country.</p>
<p>"We look forward to encouraging more ITV London viewers to get active in the capital on 2005's ITV National Walking Day - get involved, get walking and have fun!"</p>
<p>For details of all the Good Going walks organised for ITV's National Walking Day go to the walking section of the <a href="/gettingaround/walking/4868.aspx">TfL's website</a>.</p>
<p>To register for one of the borough walks and receive a free gift pack, call 01386 751500 or send your details to email<br><a href="mailto:walking&#64;tfl.gov.uk">walking&#64;tfl.gov.uk</a>. </p>
            <ul>
<li>ITV's National Day of Walking is part of Good Going weeks, which promote the role of sustainable transport. </li>
<li>ITV's Britain on the Move campaign uses the power of TV both nationally and regionally to encourage over 1.2m people in 2004 to take a little more exercise through walking a recommended 10,000 steps a day. </li>
<li>In 2005 - ITV's 50th anniversary and also the Year of the Volunteer - ITV London is encouraging people to not only get active through walking but also to get active in their communities by volunteering.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Sunday 18 September to mark ITV's National Walking Day, TfL has linked up with ITV's Britain on the Move campaign to arrange a walk in each of the London boroughs. One of the walks, tracing the history of the South Bank, from London Bridge to the";}
        
        


 