


@{ViewBag.Title = "Free under-16s bus and tram travel begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Free under-16s bus and tram travel begins</h1>
        <div class="content-page-press-release">
        01 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All under-16s can travel on London's buses and trams for free from Thursday 1 September.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
It is a radical policy which will help under-16s access London's education facilities and attractions
</p>
</div>
<p>New figures show huge take-up.</p>
<p>As the concession begins Transport for London figures show applications for the Child Oyster photocards, which are needed by 14- and 15-year-olds to access free travel, are running at up to 2,500 a day. </p>
<p>In total, more than 45,000 have now applied.</p>
<p>The formal start of the scheme represents the fulfilment of a key manifesto commitment by Mayor of London Ken Livingstone.</p>
<p>It will encourage young people to use public transport, helping to continue London's move away from car journeys and cutting pollution and congestion.</p>
<p>It is also intended to help hundreds of thousands of families across London by improving young people's access to education, sport and leisure.</p>
<p>The Mayor said: "From today, nearly half a million young people in London can travel for free on buses and trams. </p>
<p>"It is a radical policy which will help under-16s access London's education facilities and attractions.</p>
<p>"Young people should make full use of it, but they should also realise that anyone who abuses the concession will have it withdrawn." </p>
<h2>Child Oyster photocard</h2>
<p>From 1 September, fares on London's buses and trams will be abolished for all under-16s.</p>
<p>Children aged 13 and under will be able to board any London bus or tram and travel for free.</p>
<p>They do not need any sort of pass or ticket (apart from tram journeys to or from Wimbledon station). </p>
<p>14- and 15-year-olds need a Child Oyster photocard to prove their age and record their journey when they board. </p>
<p>Under-16s currently make 252 million bus journeys per year. </p>
<p>That is expected to rise by about 20 per cent to around 300 million, equivalent to a three-per-cent increase in total bus journeys.</p>
<ul>
    <li>Over 45,000 14- and 15-year-olds have already applied for the Child Oyster photocards they need to access free travel </li>
    <li>Of the applications processed the largest number has come from the borough of Croydon </li>
    <li>The top ten are: Croydon, Bromley, Barnet, Enfield, Ealing, Lewisham, Bexley, Newham, Merton, Greenwich </li>
    <li>Children aged 13 and under do not need any ticket or pass to travel on buses and trams for free (except those wanting to use trams to or from Wimbledon station, where all 11-15 year olds will need a Child Oyster photocard.) </li>
    <li>14- and 15-year-olds (and under-14s who look older) need a Child Oyster photocard. </li>
    <li>Application forms are available at post offices in Greater London. Applicants will be charged &pound;5 to cover administration costs </li>
    <li>Until the end of the year, 14 and 15 year olds can also access free travel with 11-15 photocards they already have. </li>
    <li>On bus routes that cross the Greater London boundary there are some restrictions on which part of the route can be travelled for free. </li>
    <li>Anyone who abuses the free travel concession will have it withdrawn</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures show huge take-up.As the concession begins Transport for London figures show applications for the Child Oyster photocards, which are needed by 14- and 15-year-olds to access free travel, are running at up to 2,500 a day. In total, more than";}
        
        


 