


@{ViewBag.Title = "Heritage route contracts awarded";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Heritage route contracts awarded</h1>
        <div class="content-page-press-release">
        09 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Routemasters will finally leave front-line service with London Buses by the end of 2005, but they will still be seen in the Capital on heritage routes.
        
    </div>



 <div class="on-this-page">
<p>Contracts for two Heritage Routemaster services have now been awarded by Transport for London to the bus operators First Group and Stagecoach.</p>
<p><br>The contracts have been awarded for the following proposed routes: </p>
<ul>
<li><strong>Trafalgar Square - Strand - Fleet Street - Ludgate Hill - Cannon Street - Eastcheap - Tower Hill<br><br></strong>To be operated by Stagecoach under contract to Transport for London.<br>
</li><li><strong>Royal Albert Hall - Kensington Road - Knightsbridge - Piccadilly - Trafalgar Square - Strand - Aldwych<br><br></strong>To be operated by First Group under contract to Transport for London.</li></ul>
<p>It is proposed that the routes would both operate every 15 minutes, between about 0930 and 1830, seven days a week. </p>
<p> The vehicles used would be Routemaster buses owned by TfL. </p>
<p>The final details of the services, including the names or numbers given to the routes, are still to be confirmed.</p>
<p>Five buses will be used for each route, and three extra buses will be kept in reserve, totalling 16 Routemasters across both Heritage routes. </p>
<p>About 50 drivers and conductors in total will be employed by First and Stagecoach. </p>
<p>Standard fares will apply on both services, and all valid Bus Passes, Travelcards, freedom passes, Oyster Cards and Saver Tickets will be accepted.</p>
<p>The proposed introduction date for the services is likely to be during November 2005.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Contracts for two Heritage Routemaster services have now been awarded by Transport for London to the bus operators First Group and Stagecoach.The contracts have been awarded for the following proposed routes: Trafalgar Square - Strand - Fleet Street -";}
        
        


 