


@{ViewBag.Title = "Jewish busker in BBCs Busk Idol final";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jewish busker in BBCs Busk Idol final</h1>
        <div class="content-page-press-release">
        29 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today hailed Jewish busker Hadar Manor and wished her every success for tomorrow's BBC Radio 5 Live Busk Idol final, to be aired from 10:00 am to midday.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Busking on the Underground has opened loads of doors for me, and allows me to make a living doing what I love
                            
                        </p>
                    </div>
                
            
            
            <p>Hadar, a talented young Israeli singer and song composer won the first round of the contest against fellow London Underground buskers Nigel and Dominique on 2 September 2005.</p>
<p>Steve Charlick, LU Operational services Manager said: "We are delighted that Hadar reached the final stage of BBC Five Live Busk Idol competition.</p>
<p>"This goes to show how talented many of the buskers are and how the Underground represents a fantastic platform for musicians to showcase their talents in front of millions of commuters".</p>
<p>"The scheme, which originated from public demand for live music, has been a success, and is thriving thanks to customers' support."</p>
<p>Born in Israel, Hadar was brought up surrounded by the sounds of Middle Eastern music.</p>
<p>In December, 2004, Hadar collaborated with the musically- acclaimed trip-hop/gypsy/Jewish band 'Oi VA Voi', co-writing the theme song 'Nos'im' for a documentary film called 'Small Blood Drive Victories'.</p>
<p>Hadar is now working with producer Chad Hobson. Her style is described as indie/pop with Middle Eastern influences.</p>
<p>
<h2>Carling sponsorship</h2>
<p>
<p>Hadar has been busking on the Underground since the scheme, sponsored by Carling, started in May 2003.</p>
<p>Hadar will perform her latest composition 'Monday morning' during BBC's Busk Idol final in a bid to triumph over three other buskers from Liverpool, Edinburgh and Moscow.</p>
<p>BBC Radio Five Live listeners wanting to vote for Hadar should text Hadar to 85058 from 11:30 am.</p>
<p>Hadar said: "I am very happy to be participating in this contest. I really enjoy busking on the Underground because of the direct contact between the artist and the public.</p>
<p>"Busking on the Underground has opened loads of doors for me<br>and allows me to make a living doing what I love."</p>
            <ul>
<li>Sponsored by Carling, the LU busking initiative was originally launched from 
19 May 2003 to 6 June 2003 after LU won the right in 2001 to change national law 
and the local bylaws to legalise licensed busking 
</li><li>Commercial backing from Carling helps fund the recruitment and auditioning 
of musicians as well as the management of the scheme by professional artist 
management company, Automatic Management 
</li><li>Licensed buskers are chosen on talent, with emphasis strongly placed on 
meeting the wide-ranging musical tastes of Tube customers 
</li><li>Buskers are not paid by LU or Carling and rely on the generosity of Tube 
passengers 
</li><li>All buskers have to pass an audition in front of a judging panel and are 
vetted for any police convictions before they are issued a London Underground 
Busking Licence 
</li><li>400 musicians apply to the scheme every year and around 20 per cent fail 
</li><li>42 auditions have been held since the initiative began 
</li><li>For more information about Hadar Manor please visit <a href="http://www.hadar.co.uk" target="_blank">www.hadar.co.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hadar, a talented young Israeli singer and song composer won the first round of the contest against fellow London Underground buskers Nigel and Dominique on 2 September 2005.Steve Charlick, LU Operational services Manager said: 'We are delighted that";}
        
        


 