


@{ViewBag.Title = "London hosts Tour of Britain 2005 finale Sunday 4 September";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London hosts Tour of Britain 2005 finale Sunday 4 September</h1>
        <div class="content-page-press-release">
        01 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following its successful bid to host the 2012 Olympics, London is delighted to host the final stage of this year's Tour of Britain cycle race, thanks to the support from the Mayor of London, Transport for London (TfL), the London Development Agency (LDA) and Visit London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The race comes as Londoners are showing an increasing enthusiasm for cycling
                            
                        </p>
                    </div>
                
            
            
            <p>Large crowds are expected to watch the final stage of the race through iconic central London landmarks.</p>
<p>The course will be a one-mile circuit through the heart of central London, starting and finishing in Whitehall, following a route through Trafalgar Square, Northumberland Avenue, Victoria Embankment and Parliament Square. </p>
<p>Last year's race saw thousands of spectators flock to the historic circuit to see the fast-paced, adrenaline-fuelled excitement that culminated with Barlowrold-Valsir's Italian rider, Enrico Degano, sprint to success. </p>
<p>As the riders fly past Big Ben, the Houses of Parliament and finish past No.10 Downing Street the London stage of the Tour of Britain has become what the Champs Elysees is to the Tour de France.</p>
<p>This year's race will unquestionably be just as exciting, if not more intense, with the coveted Yellow Jersey possibly being decided on the day.</p>
<h2>In the spotlight</h2>
<p>London Mayor Ken Livingstone said: "As preparations begin to stage the 2012 Olympic Games, the Tour of Britain is putting the capital in the spotlight as one of the best places in the world to host major sporting events.</p>
<p>"Cycling is increasing in popularity as a participatory and spectator sport and this year's Tour of Britain will build on last year's highly successful event.</p>
<p>"As the cyclists competing for the yellow jersey pass by some of the capital's historic landmarks for a thrilling finish, I urge Londoners to turn out to cheer them on."</p>
<p>The race comes as Londoners are showing an increasing enthusiasm for cycling.</p>
<p>London-wide cycling increased 23 per cent to May last year compared with 2003/4, and it has increased 62 per cent on TfL's road network since 2001.</p>
<p>This is the fastest growth in cycling anywhere in Europe.</p>
<p>In 2004, over 330,000 cycling journeys were made each day.</p>
<p>The Mayor and Transport for London are committed to delivering an 80% increase in cycling by 2010.</p>
<p>
<p>
<p>TfL's cycling budget has risen from &pound;12 million in 2004 to &pound;19.2 million in 2005/06.</p>
<p>Peter Hendy, Managing Director of Surface Transport at TfL said: "TfL is delighted to welcome the Tour of Britain to the streets of London. </p>
<p>"Cycling is not only a fun and exciting sport but it is also an enjoyable way of getting round the capital. </p>
<p>"London is a great place to cycle and this race provides a great opportunity for Londoners to be encouraged to take up cycling as a mode of transport or as a fun way to get fit." </p>
<p>With an estimated 100,000 people expected to watch the last stage of the tour, it is also a major boost for tourism in the capital. </p>
<p>LDA Head of Tourism, Anita Thornberry, said: "The Tour of Britain is a fantastic sporting spectacle and a highly popular free tourist event, bringing thousands of extra visitors to London. </p>
<p>"It shows that the capital, working with partners around the country, is able to deliver major events and it underlines our passion for sport.</p>
<p>"This is part of our work to bring more high-profile events to London to make the capital an even more exciting, dynamic tourist destination."</p>
<p>The final stage of this year's Tour of Britain will bring more than just a single race to the streets of London on Sunday.</p>
<p>A number of other cycling events will be held throughout the day:</p>
<ul>
<li>Sport England Junior Trophy 10.15 </li>
<li>TfL Junior/Women's London Grand Prix 11.15 </li>
<li>Hand Cyclist Race 12.00 </li>
<li>Bob Chicken London Grand Prix 12.45 </li>
<li>Go Ride 14.00 </li>
<li>Meet the riders and teams sign on 14.45 </li>
<li>Tour of Britain final stage: Start 15.15 </li>
<li>Tour of Britain final stage: Finish 16.45 </li>
<li>Presentation 17.00</li></ul>
<p>
<h2>A host of events in the capital</h2>Spectators can also enjoy a host of cultural events also taking p
            <ul>
<li>For further information about cycling in London go to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> 
</li><li>For the official guide to what's on in London go to <a href="http://www.visitlondon.com">www.visitlondon.com</a> 
</li><li><strong>Transport for London<br></strong>Transport for London (TfL) is the integrated body responsible for the capital's transport system. Its role is to implement the Mayor's Transport Strategy for London and manage the transport services across the capital for which the Mayor has responsibility 
</li><li><strong>The London Development Agency: <br></strong>The LDA prepares the Mayor's business plan for London and mobilises the support and resources of hundreds of partner organisations to help build a thriving economy for London's people, businesses and communities. The LDA is dedicated to improving sustainability, health and equality of opportunity for Londoners 
</li><li><strong>Visit London<br></strong>Visit London is the official visitor organisation for London. Its role is to promote London as the world's most exciting city, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the commercial industry 
</li><li>For further information please contact Edith Djin, press office <strong>TfL</strong> on 020 7941 4112/0773601299; Ben McKnight press office <strong>GLA</strong> on 020 7983 4753; Sarita Bhatia, press office <strong>LDA</strong> on 020 7954 4087</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Large crowds are expected to watch the final stage of the race through iconic central London landmarks.The course will be a one-mile circuit through the heart of central London, starting and finishing in Whitehall, following a route through Trafalgar";}
        
        


 