


@{ViewBag.Title = "Look out for the disc";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Look out for the disc</h1>
        <div class="content-page-press-release">
        08 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All legitimate private hire vehicles and operators are now licensed by Transport for London (TfL) so that passengers can easily identitfy legal minicabs.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers can now ensure they are using a legitimate minicab
                            
                        </p>
                    </div>
                
            
            
            <p>The completion of licensing the 37,000 private hire vehicles marks the second phase of the process, which started with private hire operators who were licensed in 2001. </p>
<p>The final part will be the completion of private hire driver licensing, which started in 2003 and is due to be completed by summer 2006. </p>
<p>Ken Livingstone, Mayor of London said: "This is a major step in ensuring safer travel for Londoners. </p>
<p>"The private hire industry was unregulated for years, leading to wide differences in the quality of vehicles and drivers. </p>
<p>"Passengers can now ensure they are using a legitimate minicab by checking to see that the vehicle carries a licence disc. </p>
<p>"Minicabs should not be hailed in the street and people should not use minicabs without a licence disc."</p>
<p><h2>Identifying licensed operators</h2></p>
<p>Ed Thompson, Taxi and Private Hire Director, said: "We have now licensed all private hire operators and vehicles, and we are on target to achieve the licensing of all drivers by summer 2006. </p>
<p>"Passengers should look out for the distinctive yellow licence disc, which should be displayed in the front and rear windscreens (top corners, nearest the kerb). </p>
<p>"It will have the licence number, car registration number, expiry date and the number of passengers it can legally carry. </p>
<p>"But remember, private hire vehicles must be pre-booked by phone or at the operator's office. It is illegal for to tout for trade on the street. </p>
<p>"So, if you want the number of your nearest licensed operator, call London's 24 hour travel information service on 020 7222 1234 or log on to the TfL website: <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>."</p>
            <ul>
<li>Prior to the introduction of the PHV (London) Act 1998, London's private hire industry was unlicensed and unregulated. The primary purpose of the act was to improve the safety of the travelling public</li>
<li>There are four regional centres where cars are tested - Hanworth, Croydon, Woolwich and Enfield</li>
<li>There are over 2,300 licensed private hire operating companies in London</li>
<li>There are 37,000 licensed private hire vehicles in London</li>
<li>Cars over 12 months old are required to pass an MoT test every six months</li>
<li>The annual private hire vehicle licence costs &pound;100</li>
<li>There are approximately 70 million private hire trips per year</li>
<li>Images of the licence discs are available from TfL's press office on 020 7941 4141. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The completion of licensing the 37,000 private hire vehicles marks the second phase of the process, which started with private hire operators who were licensed in 2001. The final part will be the completion of private hire driver licensing, which started";}
        
        


 