


@{ViewBag.Title = "LU wins National Rail Award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU wins National Rail Award</h1>
        <div class="content-page-press-release">
        09 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU), Chiltern Railways and Network Rail jointly won a prestigious joint award at last week's National Rail Awards 2005 for Outstanding Teamwork along the London Marylebone to Aylesbury route.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By sharing our skills and resources... we have been able to continuously improve services
                            
                        </p>
                    </div>
                
            
            
            <p>Chiltern Railways services into London Marylebone use Metropolitan line tracks between Amersham and Harrow-on-the-Hill. </p>
<p>This means LU is responsible for the operation of station, track and signals between these two points. </p>
<p>When delays occur then this can impact both the Metropolitan line and Chiltern Railways. </p>
<p>After Harrow-on-the-Hill, Chiltern Railways transfers onto Network Rail tracks as trains head towards London Marylebone.</p>
<p>It is essential for the smooth operation of both services that there is close co-operation between LU, Chiltern Railways and Network Rail. </p>
<p>The key area of working between the three organisations is service planning and recovery to minimise the effects of disruption once it has occurred so that normal service can be restored as quickly as possible.</p>
<p>This co-operation enabled Chiltern Railways in part to deliver the best performance of any train company operating commuter services into central London in 2004/05, despite carrying more passengers than ever before and operating more train services.
<p>Over the same period, the punctuality of Metropolitan line services in this area has improved by eight per cent, resulting in an increasingly reliable service for customers of both companies. </p>
<p>
<h2>Improved performance</h2>
<p>Improved performance on the Metropolitan line and across the Tube network enabled LU to carry more passengers last year - 976 million - than ever before. </p>
<p>LU also ran more trains than ever before, clocking up a huge total of 70m km and achieved operation of 95.3 per cent of scheduled services, a seven-year high.</p>
<p>Paul Kilius-Smith, General Manager, Metropolitan line, said: "I was proud to accept this award on behalf of my team as recognition of the work that has been undertaken at all levels to develop effective working relationships between all three companies. </p>
<p>"Reliability of train services in the area between Harrow-on-the-Hill and Amersham is notoriously affected by extreme weather conditions. </p>
<p>"By sharing our skills and resources between us we have been able to continuously improve services and deliver some real benefits to both Tube and national rail passengers. </p>
<p>"There is still a lot more to do to drive down delays and late running. </p>
<p>"I am confident that by working closely together as one team will bring further improvements."</p>
<p>Cath Proctor, Managing Director of Chiltern Railways, said: "We are delighted to win the award for outstanding team work. </p>
<p>"Running a successful railway is all about working with your industry partners. </p>
<p>"Building strong relationships - at all levels - with Network Rail and London Underground, has enabled us to consistently build on punctuality and reliability."<br></p>
            <ul>
<li>The Metropolitan line is 67km (41.5 miles) in length and serves 34 stations between Aldgate to Amersham, with branches to Chesham, Watford and Uxbridge</li>
<li>The Metropolitan line holds the record for the longest distance between Underground stations at 6.25 km (3.89 miles) between Chesham and Chalfont & Latimer</li>
<li>At 27 miles, Amersham on the Metropolitan line holds another Underground record for being the furthest distance of any Underground station from central London</li>
<li>Chiltern Railways operates services between London Marylebone and Aylesbury and Birmingham Snow Hill and serves LU-operated stations at Harrow-on-the-Hill, Rickmansworth, Chorleywood, Chalfont & Latimer and Amersham<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Chiltern Railways services into London Marylebone use Metropolitan line tracks between Amersham and Harrow-on-the-Hill. This means LU is responsible for the operation of station, track and signals between these two points. When delays occur then this can";}
        
        


 