


@{ViewBag.Title = "Making London a better city for walking";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Making London a better city for walking</h1>
        <div class="content-page-press-release">
        19 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new guide for local authorities and developers on how to make London a more "walkable" city was launched yesterday by Transport for London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The guide gives planning authorities and developers advice on how to improve walking facilities
                            
                        </p>
                    </div>
                
            
            
            <p> The guide gives planning authorities and developers advice on how to improve walking facilities, and is illustrated with examples of where new developments have improved the walking environment.</p>
<p>The document "Improving Walkability", drafted for TfL by Llewelyn Davies Yeang, also provides local authorities with guidance on how to secure funding for improvements to walking facilities.  </p>
<p>The guide will be distributed to all London boroughs and will be made available to developers.</p>
<p>The guide follows on from TfL's Walking Plan for London, which was developed to support all stakeholders involved in achieving the Mayor's walking vision for London, which seeks to make the Capital one of the world's most walking-friendly cities by 2015.    </p>
<p>Improved waking conditions can lead to:</p>
<ul>
<li>More journeys being made either fully or in part on foot</li>
<li>Greater use of public transport </li>
<li>Healthier lifestyles  </li>
<li>Better social inclusion  </li>
<li>A cleaner environment and a more attractive public realm </li>
<li>An improved economy  </li></ul>
<p><h2>'More rewarding experience'</h2></p>
<p>Peter Hendy, Managing Director Surface Transport, TfL, said:<br>"TfL is committed to making London one of the world's most walkable cities.  </p>
<p>"This document builds on the Walking Plan for London, which was published in 2003. </p>
<p>"Walking around the Capital helps to bring the city alive both for the individual and for the public as a whole.  </p>
<p>"London is a wonderful city to explore on foot and this new document will help make it an even more rewarding experience." <br></p>
            <ul>
<li>Copies of Improving Walkability are available on request </li>
<li>For more information about walking in London, please visit the walking section of <a href="/gettingaround/walking/default.aspx">TfL's website</a>.</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The guide gives planning authorities and developers advice on how to improve walking facilities, and is illustrated with examples of where new developments have improved the walking environment.The document 'Improving Walkability', drafted for TfL by";}
        
        


 