


@{ViewBag.Title = "Mayor launches UKs first text service to reduce sexual attacks in illegal minicabs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches UKs first text service to reduce sexual attacks in illegal minicabs</h1>
        <div class="content-page-press-release">
        20 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Don't take the risk of getting into a car belonging to a complete stranger
</p>
</div>
<p>The Mayor of London today launched the UK's first text service to enable safer minicab travel as part of the ongoing campaign against sexual assaults and rapes on women by illegal minicab drivers. </p>
<p>There are an average of 10 sexual attacks and rapes on women by illegal minicab drivers each month. </p>
<p>The innovative text service allows people to receive localised licensed cab numbers direct to their mobile phones by texting 'HOME' to 60835. </p>
<p>The service forms part of "Know what you're getting into", a campaign which warns women of the dangers of using illegal minicabs and offers safer travel information. </p>
<p>The new campaign includes posters, radio and cinema adverts, and a link-up with Heart106.2.</p>
<p>The Mayor, Ken Livingstone, said: "On average there are 10 sexual assaults or rapes carried out by illegal minicab drivers each month. Yet people are still using them. </p>
<p>"This new service means that people can now text 'HOME' to 60835 and receive the numbers of licensed minicab and black cab firms in the area they are texting from."
</p>
<p>Ed Thompson, Public Carriage Office, said: "Transport for London's Public Carriage Office fully supports the 'Know what you're getting into' campaign.
</p>
<p>
</p>
<p>
</p>
<h2>'Know what you're getting into'</h2>
<p>"London's private hire operators and vehicles have been licensed, and driver licensing will be completed by summer 2006. </p>
<p>"All private hire vehicles, which now have to display yellow licensing discs on their windscreens, must be pre-booked. </p>
<p>"The introduction of this innovative texting service means it should now be possible, wherever you are in London, to find a licensed taxi or minicab operator."</p>
<p>Commander Jim Smith, Metropolitan Police, said: "We continue to work closely with our partners, and arrest the criminals who purport to be mini cab drivers, who target their victims and carry out sexual assaults.</p>
<p>"I would urge women to take the advice in the adverts, 'Know what you're getting into', and look after your friends - don't take the risk of getting into a car belonging to a complete stranger. </p>
<p>"We want Londoners to have a good time and enjoy their evenings out, but to take sensible precautions and to plan how they will get home safely."</p>
<p>Harriet Scott, Heart106.2, said: "With the party season approaching it is an even more pertinent message for woman to be careful about how they are getting home. </p>
<p>"Heart 106.2 is delighted to be part of promoting the 'Know what you're getting into' campaign, which promotes easy and convenient services for woman to ensure that the taxi that they are getting into is safe and secure."</p>
<p>Ann Elledge, Suzy Lamplugh Trust, said: "The Suzy Lamplugh Trust fully supports this initiative as it will make finding a licensed minicab quick and easy, and will mean fewer members of the travelling public will be lured into dangerous illegal vehicles."</p>
<p>'Know what you're getting into' is part of Safer Travel at Night, a partnership between the Mayor of London, Transport for London and the Metropolitan Police, who are working together to make travel safer at night. </p>
<p>Successes of the initiative include more night buses than ever before, the licensing of all minicabs vehicles and operators, making taxi touting a recordable offence, two marshalled taxi ranks and launching the Transport Operational Command Unit - a dedicated Police unit set up to target crime relating to bus services and minicab activities.</p>
<p>Future initiatives include all buses fitted with CCTV by the end of 2005 - currently 90-95 per cent of buses have CCTV - and all minicab drivers licensed by summer 2006.<br />
</p>
<ul>
    <li>Unlicensed cabs provide a cover for some of the most serious crime in London: in the year leading up to October 2002 before 'Know what you're getting into' launched, 212 (18 a month) women were sexually assaulted by illegal cab drivers - 54 of these women were raped</li>
    <li>Impact of the 'Know what you're getting into' campaign on attacks:<br />
    <ul>
        <li>In the first 12 months of the campaign minicab related sexual assaults declined by 27 per cent and rapes by 22 per cent to 155 sexual assaults (42 of which were rapes)</li>
        <li>In the second year of activity minicab related sexual assaults fell to 140 (32 of which were rapes). This signified a 34-per-cent fall in the number of offences and a 41-per-cent fall in number of rapes during the first two years of the campaign</li>
        <li>In the third year of activity sexual assaults have fallen to 10 a month</li>
    </ul>
    </li>
    <li>The cost per text is 35p plus standard network charges</li>
    <li>The Transport Operational Command Unit (TOCU) has over 1,300 staff, including 400 police, 450 traffic community support officers and 350 traffic wardens. There are 700 BTP officers patrolling the transport network</li>
    <li>Since the TOCU cab unit was launched it has made 1,944 arrests with approximately 1,600 of these for touting. The unit undertook 45 operations between April 2005 and July 2005 - half of these for touting operations. </li>
    <li>The cab unit of TOCU consists of 35 police officers who work closely with borough police to identify and apprehend touts</li>
    <li>For media enquiries please call Hilary Merrett on 020 7983 4753. For out of hours media enquiries please call 020 7983 4000. For non-media enquiries please call the Public Liaison Unit on 020 7983 4100.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today launched the UK's first text service to enable safer minicab travel as part of the ongoing campaign against sexual assaults and rapes on women by illegal minicab drivers. There are an average of 10 sexual attacks and rapes on";}
        
        


 