


@{ViewBag.Title = "Mayor says use your Tube and bus tickets to get great deals and enjoy the best of the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor says use your Tube and bus tickets to get great deals and enjoy the best of the Capital</h1>
        <div class="content-page-press-release">
        19 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today announced that London's Tubes and buses were linking up with major visitor attractions to give fantastic deals at the Capital's top shows, galleries, museums and restaurants.
        
    </div>



 <div class="on-this-page">
<ul>
<li>
<h2>Enjoy 2-for-1 at the London Eye</h2></li></ul>
<p>Transport for London's promotion is part of the Mayor and Visit London's Everyone's London campaign, that shows Londoners and visitors the world-class events, attractions, restaurants and shops central London has to offer which help make the Capital the most vibrant and imaginative city in the world.</p>
<p>Speaking at the launch at the BA London Eye, which features pods especially wrapped to look like Tube trains and buses, the Mayor announced details of the deals and discounts which will be available to TfL's passengers as part of the Everyone's London campaign, including:</p>
<ul>
<li>Discounts at major London attractions including a '2 for 1' deal at the London Eye and Madame Tussaud's, plus further great discounts at London Zoo, the London Aquarium, London Dungeons and for cricket fans at the Lord's Tour </li>
<li>Up to 60 per cent off top price and matinee theatre tickets at 20 top shows, from the big musicals Saturday Night Fever and Phantom, through to the Death of a Salesman and the English National Ballet's The Nutcracker </li>
<li>Twenty per cent reduction on entry to exhibitions at the British, Natural History, Science, V&amp;A and Design Museums </li>
<li>For art lovers, passengers can get 20 per cent entry discount at the Saatchi Museum and RCA, and 30 per cent discount to two exhibitions at Tate Modern and Tate Britain </li>
<li>Further offers including major exhibitions at Earls Court and many of London's popular restaurants</li></ul>
<p>Mayor Ken Livingstone said: "Londoners and visitors have so much to see and do, and now is the right time to get out there and experience the best of the Capital. </p>
<p>"Londoners all know the best way to travel around is by public transport, and so anyone who has a valid ticket can now benefit from some fantastic deals.</p>
<p>"Transport for London's role in promoting London's 2012 bid, with adverts and wrapped Tube trains and buses, meant that no Londoner or visitor to the Capital could have failed to recognise our passion for the Games. </p>
<p>"TfL's participation in the Everyone's London campaign will get the message across that the shops, restaurants and attractions in central London are simply too good to miss."</p>
<p>Tim O'Toole, Managing Director of London Underground, said: "Our passengers and staff have showed their determination to get back travelling on the network as normal. </p>
<p>"My message to them is - take the Tube tonight or this weekend and take up one of the Everyone's London offers."<br></p>
            <ul>
<li>TfL will be promoting the Everyone's London offers through an extensive poster and advertising campaign across the Tube and bus network, as well as on-street and media advertising</li>
<li>The Everyone's London campaign began on 1 September and is supported by the Mayor of London, TfL, and Visit London. The aim of the campaign is to encourage Londoners, as well as domestic and foreign visitors, to visit attractions, shows and retail outlets in central London</li>
<li>Participating partners include:<br><strong>- Theatres</strong><br>Saturday Night Fever, Stomp, The Woman in Black, Chicago, Blood Brothers, The Big Life, Les Miserables, Phantom, Death of a Salesman, The Producers, What the Butler Saw, On the Ceiling, The Nutcracker performed by English National Ballet at the London Coliseum, The Woman in White, Aristrocrats,  The UN Inspector, We Will Rock You, High Society<br><strong>- Museums</strong><br>Natural History Museum, Design Museum, Science Museum, Victoria and Albert Museum and British Museum<br><strong>- Galleries</strong><br>Saatchi Gallery, Hayward, Tate Modern and Tate Britain, Royal Academy of Arts, Dali Universe<br><strong>- Attractions<br></strong>London Eye, London Zoo, London Aquarium, Lord's Tour, Xbox Bay Sixty6 Skatepark, Madame Tussauds and London Dungeons<br><strong>- Restaurants<br></strong>Banglatown restaurants, Pizza Piazza / Organic (Charing Cross, Gloucester Road and Old Brompton Road), Rock Garden (Covent Garden), Urbium, Bella Italia and Dino's, Strada, Fire & Stone (Covent Garden) and Katana&#64;The International (St. Martin's Lane)<br><strong>- Earls Court exhibitions</strong><br>Autumn Ideal Home, Daily Mail Spring Ideal Home Show, Daily Mail Ski & Snowboard, Festive BBC Good Food Show, Outdoor Adventure and Vitality Show 2006</li>
<li>For further information please contact:<br>- <strong>Freud Communications</strong>: Toby Burnham, Shilpa Patel, Elizabeth Derham on tel. 020 7580 2626 or email: firstname.lastname&#64;freud.com <br>- <strong>Transport for London</strong>: Adi Frost/Stephen Webb on 020 7941 4141/ <a href="mailto:adifrost&#64;tfl.gov.uk/">adifrost&#64;tfl.gov.uk/</a> <a href="mailto:stephenwebb&#64;tfl.gov.uk">stephenwebb&#64;tfl.gov.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Enjoy 2-for-1 at the London EyeTransport for London's promotion is part of the Mayor and Visit London's Everyone's London campaign, that shows Londoners and visitors the world-class events, attractions, restaurants and shops central London has to offer";}
        
        


 