


@{ViewBag.Title = "New look for East End stations - We want your views";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New look for East End stations - We want your views</h1>
        <div class="content-page-press-release">
        26 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is seeking local views on proposed improvements to Shadwell East London Line (ELL) and Docklands Light Railway (DLR) stations and the surrounding area from today.
        
    </div>



 <div class="on-this-page">
<p>As part of its &pound;10bn, five-year investment programme, TfL is proposing to make the stations - used by around 15,000 people every day - safer and more accessible. </p>
<p>Proposals include:</p>
<ul>
<li>Improvements in and around the DLR station </li>
<li>A new ELL station entrance on Watney Street, with new accessible lifts serving the platforms </li>
<li>Better lighting and more CCTV cameras </li>
<li>Improved pedestrian crossings </li>
<li>New pavements and road surfaces </li>
<li>Better enforcement of existing parking restrictions</li></ul>
<p>Belinda Danino, Consultation Manager for the project at TfL, said: "Shadwell East London Line station will close temporarily while the East London Line extension is built. </p>
<p>"This gives us the opportunity to make improvements to this station, the DLR station and the surrounding areas. </p>
<p>"Now is the time for local people to let us have their views on how the stations and streets nearby will finally look."</p>
<p>Details about the proposals, together with a questionnaire, are being sent to all local residents and businesses in the area, and views can also be given through a questionnaire on TfL's website at <a href="/gettingaround/transportaccessibility/dlr/3242.aspx">Shadwell station page</a></p>
<p>A public exhibition will be held in the DLR station arches on 17th November between 1300 and 1900. </p>
<p>Work will take place during an 18-month closure to construct the new East London Line extension, due to start in late 2008. </p>
<p>A replacement bus service will operate for the duration of the works.<br></p>
            <ul>
<li>A public exhibition where TfL officials will be on hand to answer questions will be held at the DLR station on 17th November between 1300 and 1900</li>
<li>Copies of a consultation brochure and questionnaire are available from <a href="mailto:Shadwell&#64;tfl.gov.uk">Shadwell&#64;tfl.gov.uk</a>. Around 22,000 are being sent out to properties within a 1km radius of the stations</li></ul>
<p> </p>
<p><br> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of its &pound;10bn, five-year investment programme, TfL is proposing to make the stations - used by around 15,000 people every day - safer and more accessible. Proposals include:Improvements in and around the DLR station A new ELL station entrance";}
        
        


 