


@{ViewBag.Title = "Permanent BTP office to open at Hainault as part of stations improvement works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Permanent BTP office to open at Hainault as part of stations improvement works</h1>
        <div class="content-page-press-release">
        26 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hainault station will benefit from a permanent BTP office as part of modernisation works due to start soon and finish in autumn 2007.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will give us a local base... and provide a centre for reassurance policing in the area
                            
                        </p>
                    </div>
                
            
            
            <p> This work is part of TfL's &pound;10bn 5-Year Investment Programme, and is being undertaken by Metronet Rail BCV.</p>
<p>The plans for the new police office were welcomed by British Transport Police Sector Commander Andy Hunt, who said: "We are very pleased that the refurbishment will include a new police office. </p>
<p>"It will give us a local base which will help us to consolidate our ties with the local community and provide a centre for reassurance policing in the area."</p>
<p>Step-free access to the platforms is also a key feature of the modernisation work and will be provided by the installation of two lifts.</p>
<p>The station will remain open while being modernised and passengers should not be affected by the works. </p>
<p>However, hoardings will be erected on platform one, which will limit platform space and therefore prevent use of the waiting rooms. </p>
<p>Some weekend/late-night closures may apply later on in the project but, where possible, Metronet will take advantage of weekend track closures to undertake major works.</p>
<p>Modernisation works will also include the building of a new control room in the ticket hall, the restoration of heritage features, the replacement of all CCTV cameras, the installation of customer Help Points, an enhanced public address system, and tactile strips on platforms and contrasting handrails for the partially sighted. </p>
<p>All cabling will be concealed and ticket hall ceilings will be either replaced or decorated.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, over  half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>TfL has recruited another 200 BTP Officers in the last two years, bringing the total to around 700</li>
<li>Hainault station opened on 1 May 1903</li>
<li>On 31 May 1948, the Central line was extended from Newbury Park to Hainault via Barkingside and Fairlop</li>
<li>Hainault station counts 5,750 daily commuters</li>
<li>The Hainault loop was completed on 21 November 1948, when the line was extended between Hainault and Woodford</li>
<li>The Central line opened on 30 July 1900 and reached Loughton station in 1948</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li>
<li>The longest journey without change on the London Underground can be made on the Central line between West Ruislip and Epping  (54.9 km, 34.1 miles)</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This work is part of TfL's &pound;10bn 5-Year Investment Programme, and is being undertaken by Metronet Rail BCV.The plans for the new police office were welcomed by British Transport Police Sector Commander Andy Hunt, who said: 'We are very pleased that";}
        
        


 