


@{ViewBag.Title = "Piccadilly line improvement works on the Uxbridge branch";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Piccadilly line improvement works on the Uxbridge branch</h1>
        <div class="content-page-press-release">
        29 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Track replacement work to improve the Piccadilly line will mean that no trains will run between Rayners Lane and Uxbridge on Saturdays and Sundays 1 &amp; 2, and 8 &amp; 9 October 2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers are advised to allow at least an extra 35 minutes for their journeys
                            
                        </p>
                    </div>
                
            
            
            <p>But the Metropolitan line will still be running between Rayners Lane and Uxbridge.</p>
<p>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube.  </p>
<p>This track work is being carried out by Tube Lines.</p>
<p>Passengers are advised to allow at least an extra 35 minutes for their journeys particularly late at night.</p>
<p>Valid London Underground tickets and passes will be accepted on local buses.</p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "But the Metropolitan line will still be running between Rayners Lane and Uxbridge.Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube.This track";}
        
        


 