


@{ViewBag.Title = "Results of later running weekend Tube consultation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Results of later running weekend Tube consultation</h1>
        <div class="content-page-press-release">
        15 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today published the results of the public consultation "Should the Tube run later at weekends?" and outlined the next steps in the decision process.
        
    </div>



 <div class="on-this-page">
<p>A majority of respondents were in favour of the Tube running later on Friday and Saturday nights. </p>
<p>But the consultation also revealed real challenges would be faced by those who currently use the Tube early at weekends, particularly on Sunday mornings.</p>
<p><a href="http://www.tfl.gov.uk/onehourlater" target="_blank">The results</a> concurred with market research undertaken.</p>
<p>One proposal would see last trains leaving central London on Friday and Saturday nights at around 0130, rather than the current 0030.</p>
<p>In order to maintain engineering hours, essential for safety checks and maintenance that can only be carried out at night when the network shuts down, the Tube would then have to start an hour later on Saturday and Sunday mornings.</p>
<p>Richard Parry, LU Director of Strategy and Service Development said: "There has been greater participation in this consultation than any other undertaken by London Underground.</p>
<p>"The majority of respondents were in favour of the Tube running later at weekends however, we're conscious there is a sizeable minority who would face longer journey times on Saturday and Sunday mornings.</p>
<p>"We are presently reviewing all the consultation results and the impact on customers who use the Tube at weekends, either late at night or first thing in the morning.</p>
<p>"We will shortly submit a recommendation to the Mayor, before a final decision is taken."</p>
<p>Between February 22 and April 22 2005, LU consulted with Londoners, Tube users and all interested parties for their views on whether the Tube should run for one hour later on Friday and Saturday nights.</p>
<p>54,419 questionnaire responses were received alongside 1,066 other forms of communication, including emails and calls to the freephone helpline.</p>
<p>Of the 54,419 questionnaires returned, 47,023 were returned online which is the highest recorded figure for a public consultation in the UK.</p>
<p>Seventy-three per cent of the 54,419 respondents supported the proposal to run the Underground one hour later on Friday and Saturday nights and one hour later on Saturday and Sunday mornings. </p>
<p>Over half of respondents (55 per cent) strongly supported the proposals.</p>
<p>Key reasons for supporting the proposal were that the Tube is perceived to be more convenient, cheaper and safer than alternatives.</p>
<p>Twenty-two per cent opposed the proposal, with 15 per cent of respondents strongly opposing.</p>
<p>Concern that early morning workers will struggle to get to and from work was overwhelmingly the predominant reason for opposing the proposal.</p>
<p>This was referred to by over 50 per cent of those giving a reason as to why they opposed the proposal.</p>
<h2>Early morning connections</h2>
<p>Respondents were also concerned about early morning connections to mainline train stations and airports.</p>
<p>Seventy-four per cent would definitely use the Underground if it were to run an hour later.</p>
<p>A majority (54 per cent) of those who would use the Underground an hour later said they would use it every week.</p>
<p>Forty-one per cent of respondents currently use the Underground before 0700 on Saturday or 0830 on Sunday.</p>
<p>Over half use the Tube to travel to work, with 40 per cent using it for holiday purposes, such as travel to mainline rail stations or airports.</p>
<p>Fifty-six per cent of those travelling regularly on the Underground at these times finished their journeys in Central London with a further 27 per cent finishing their journeys in West London (eg Heathrow).</p>
<h2>Substantial support</h2>
<p>The majority of the 106 stakeholder responses came from the airports/airline industry, business, the NHS, local government and trade unions.</p>
<p>There was substantial support for the Tube to run one hour later at weekends but most stakeholders were unhappy for this to occur at the expense of service starting an hour later on Saturday and Sunday mornings.</p>
<p>C
            <ul>
<li>The Consultation Report and Executive Summary, "Should the Tube run later at weekends?", is available from the TfL website <a href="http://www.tfl.gov.uk/onehourlater">www.tfl.gov.uk/onehourlater</a> 
</li><li>The Mayor made a commitment in his manifesto to investigate later Tube services on Friday and Saturday nights 
</li><li>Research undertaken by TfL prior to the start of public consultation showed that later running Tube trains on Friday and Saturday nights could benefit an estimated 140,000 extra passengers each weekend with their journey home, including those enjoying London's nightlife and many of those who work in London's theatres, restaurants, pubs and clubs 
</li><li>This research also showed that around 55,000 people currently use the Tube during the first hour of operation over the weekend 
</li><li>The majority - almost 60 per cent - are travelling to and from work and many others are travelling to make other transport connections, such as with national rail at Central London stations or flights at London's airports 
</li><li>Currently, the last trains from the West End at weekends are around 1230 and reach their termini between 0100 and 0130 depending on location 
</li><li>Services begin again at around 0530 on Saturday and 0700 on Sunday 
</li><li>Under the new proposal, first trains would arrive at Central London stations at around 0700 on Saturdays and 0830 on Sundays 
</li><li>Last trains would depart from the West End on Friday and Saturday nights at around 0130
</li><li>There is a small group of stations on the network which close earlier than this time, and would continue to do so, as their local demand does not justify late night operation</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A majority of respondents were in favour of the Tube running later on Friday and Saturday nights. But the consultation also revealed real challenges would be faced by those who currently use the Tube early at weekends, particularly on Sunday mornings.The";}
        
        


 