


@{ViewBag.Title = "TfL appoints Mediaedge:cia to &pound;10m media account";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints Mediaedge:cia to &pound;10m media account</h1>
        <div class="content-page-press-release">
        13 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Capital's transport authority, Transport for London (TfL), has awarded its media-planning and buying business to Mediaedge:cia following a five-way pitch between the eventual winner, Starcom, Mediacom, Carat and the incumbent, PHD.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
I am confident we have generated additional savings for the business
</p>
</div>
<p>The change of agency comes as part of a statutory review in which
TfL sought to maximise value to the business while continuing to improve the
integration of the group's advertising strategy. </p>
<p>TfL spends between &pound;10m-&pound;15m a year on media for award-winning campaigns that
range from Congestion Charging to London Buses and Road Safety to Oyster card.
</p>
<p>Chris Townsend, TfL's Director of Group Marketing, said: "The new contract
represents both great value to TfL and the prospect of a very high-quality
planning team. </p>
<p>"For seven years, PHD has sustained an exemplary standard of work for TfL but
<a href="http://www.mecglobal.com/">Mediaedge</a> were able to demonstrate
greater value for money and innovation. </p>
<p>"With Billets reviewing the bidders, I am confident we have generated
additional savings for the business which will be invested in improving the
Capital's transport infrastructure, strengthening TfL's &pound;10bn 5-Year Investment
Programme".<br />
</p>
<ul>
    <li>
    <div>The contract will include advertising for the London Underground, London Buses, Congestion Charging, road safety (in London), London River Services, Public Carriage Office (taxis and licensed mini cabs) Victoria Coach Station, the Docklands Light Railway, Croydon Tramlink, Oyster card and road traffic enforcement (in London). The contract does not include recruitment advertising for these parties</div>
    </li>
    <li>
    <div>Recent advertising awards for TfL campaigns include a Gold medal and a Special Prize for the Best [campaign] Integration at the Institute of Practitioners in Advertising (IPA) awards for the public awareness campaign for the launch of the central London Congestion Charge.</div>
    </li>
    <li>
    <div>Information about TfL can be found at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> .</div>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The change of agency comes as part of a statutory review in which TfL sought to maximise value to the business while continuing to improve the integration of the group's advertising strategy. TfL spends between &pound;10m-&pound;15m a year on media for";}
        
        


 