


@{ViewBag.Title = "The route to love can be found Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The route to love can be found Underground</h1>
        <div class="content-page-press-release">
        19 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest series of Poems on the Underground will be unveiled on 26 September, and remain on display for eight weeks in 2,000 Tube card panels.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Poems on the Underground explore the theme of love in all its forms
                            
                        </p>
                    </div>
                
            
            
            <p>The six poems explore the theme of love in all its shapes and forms.</p>
<p>The new collection combines intense emotions and a lighter, more humorous approach to human relationships.</p>
<p>Different aspects of love are illustrated including sentimental attachment to nature, music and language.</p>
<p>Every passenger travelling on the Underground from September 26 will find a piece of poetry to inspire them:</p><br>
<ul>
<li><strong>For music-lovers</strong>: "If Bach Had Been a Beekeeper" by Charles Tomlinson 
</li><li><strong>For nature-lovers</strong>: "The Rainbow Comes and Goes" by William Wordsworth 
</li><li><strong>For lovers of langu</strong>age: "Words in Time" by Archibald MacLeish; "My children" by Choman Hardi 
</li><li><strong>For lovers ancient and modern</strong>: "David's lament for Jonathan", King James Bible; "One Perfect Rose" by Dorothy Parker</li></ul>
            <ul>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Platform For Art), Arts Council England and the British Council</li>
<li>Similar programmes have sprung up across the world in Dublin, Helsinki, Paris, Prague, Melbourne, Moscow, New York, San Francisco, Barcelona, Athens, Montreal and Toronto</li>
<li>Poems are selected and the programme administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>The best selling anthologies "Poems on the Underground" and "New Poems on the Underground" are published by Cassell and are available from most bookshops</li>
<li>The posters, designed by Tom Davidson, are available from <a href="http://www.ltmuseum.co.uk" target="new">London's Transport Museum</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The six poems explore the theme of love in all its shapes and forms.The new collection combines intense emotions and a lighter, more humorous approach to human relationships.Different aspects of love are illustrated including sentimental attachment to";}
        
        


 