


@{ViewBag.Title = "Victoria Tube station set for &pound;500m major upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station set for &pound;500m major upgrade</h1>
        <div class="content-page-press-release">
        06 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        One of London Underground's (LU) busiest and most congested stations is set for a major upgrade, as Mayor Ken Livingstone today announced the award of a contract to design the redevelopment of Victoria Underground station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are now seeing the benefits of being able to plan and invest in London's future
                            
                        </p>
                    </div>
                
            
            
            <p>Part of TfL's five-year, &pound;10bn investment programme, LU has awarded a contract for the design of the Victoria Station Upgrade (VSU) to Scott Wilson.  </p>
<p>The &pound;500m project is due to start in 2008 and be complete in 2013, to coincide with the planned Victoria line upgrade.</p>
<p>When complete, the VSU project will increase the size of the station by 50 per cent, with a new ticket hall, lifts and escalators to ease congestion and provide step-free access from street level to the Victoria, Circle and District line platforms.</p>
<p>Mayor of London Ken Livingstone said: "The &pound;500m Victoria Station Upgrade project is a great example of the investment TfL is now making to improve the Tube and transport in London.  </p>
<p>"It is essential to support the continued growth and development of London and this will also support the extra capacity to the Victoria line, due to be delivered by new trains and signalling system in 2013.</p>
<p>"This project would not have been possible without the investment now being delivered by the TfL five-year &pound;10bn investment programme.  </p>
<p>"We are now seeing the benefits of being able to plan and invest in London's future, denied to this great city for so long."</p>
<p><h2>Improved capacity</h2></p>
<p>Used by over 75 million passengers each year, Victoria Underground station is at the heart of London's transport network, but severe congestion during the morning peak has made station control measures an almost daily occurrence.  </p>
<p>With funds guaranteed as part of the TfL investment programme, this key project is due begin construction in 2008, delivering major passenger benefits by 2013, including:<br><br> 1) Cuts in peak time congestion and improved capacity with a new ticket hall and entrance to the station beneath Bressenden Place and new escalators<br><br>2) Better Station access for all passengers with new lifts in the Victoria line ticket hall providing step-free access to all platform levels and wider stairs to the national rail station.</p>
<p>LU Managing Director Tim O'Toole said: "The Tube is improving. Last year we ran more trains and carried more passengers than ever before, but we know there is much more to do.</p>
<p>"Upgrading Victoria Underground station is a key part of improving the Tube network, which will cut congestion and improve access for all our passengers using the station. </p>
<p>"Together with the full Victoria line upgrade, this will deliver much needed capacity and provide a safe, reliable and fully accessible station, fit for the 21st Century."</p>
            <ul>
<li>The contract for the design of the Victoria Station Upgrade (VSU), worth in the region of &pound;4m, has been awarded to Scott Wilson and was competitively tendered </li>
<li>The VSU project is outside of the LU Public Private Partnership. A contract to undertake the infrastructure work will be competitively tendered when the design work is complete </li>
<li>Victoria is a major transport interchange, serving National Rail, Underground, London bus services and the Victoria Coach Station </li>
<li>The VSU project will complement the Victoria line Upgrade project due to be completed in 2013. This will include the provision by Metronet Rail BCV of 47 new trains with increased capacity. Other enhancements to the Victoria line include new signalling, control room and general infrastructure improvements </li>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that on the Tube </li>
<li>Images of what Victoria Underground station could look like when the project is complete are available at the TfL newscentre <a href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/">image gallery </a>or by contacting the Press Office on 020 7941 4141.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Part of TfL's five-year, &pound;10bn investment programme, LU has awarded a contract for the design of the Victoria Station Upgrade (VSU) to Scott Wilson.The &pound;500m project is due to start in 2008 and be complete in 2013, to coincide with the planned";}
        
        


 