


@{ViewBag.Title = "Walk rings around the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walk rings around the Capital</h1>
        <div class="content-page-press-release">
        16 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Adventurous Londoners will have a new challenge from Wednesday 21 September, when the 78-mile Capital Ring walk is officially opened.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Walkers will be able to choose any one of six walks ranging from one to 19 miles
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Event: Launch of Capital Ring </li>
<li>Place: Highgate Wood, Highgate </li>
<li>Date: Wednesday September 21 </li>
<li>Time: 4pm</li></ul>
<p>The Capital Ring, funded by Transport for London, is part of the London Strategic Walks Network, an initiative from the Mayor of London to make London a world class walking city.</p>
<p>The launch will be marked by six guided walks on various sections of the Capital Ring.</p>
<p>Walkers will be able to choose any one of six walks ranging from one to 19 miles.</p>
<p>The opening ceremony will take place at Highgate Wood and will be led by London Assembly member, Jenny Jones.</p>
<p>The six walks on September 21 are:</p>
<ul>
<li>Walk 1 (1 mile) from Highgate Station at 3.15pm </li>
<li>Walk 2 (5 miles) from Hendon Central Station at 1.30pm </li>
<li>Walk 3 (10 miles) from Hackney Wick Station at 10.45am </li>
<li>Walk 4 (11 miles) from Northwick Park Station at 10.30am </li>
<li>Walk 5 (18 miles) from Woolwich Arsenal Station at 8.30am </li>
<li>Walk 6 (19 miles) from Hanwell Station at 8.15am</li></ul>
<p>Peter Hendy, Managing Director Surface Transport, TfL, said: "Completing the Capital Ring is a great step towards making London a world class walking city.</p>
<p>"Walking is an enjoyable way to keep healthy and explore the city, whether that is the city streets or green spaces.</p>
<p>"The Capital Ring offers both a challenge to committed walkers and many shorter walks for people looking for a good stroll."</p>
<p>For more information about walking in the capital please visit the <a href="/gettingaround/walking/default.aspx">TfL website</a>.</p>
            <ul>
<li>Highgate Wood, which is owned and managed by the Corporation of London, covers 70 acres and is an original part of the ancient forest of Middlesex</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Event: Launch of Capital Ring Place: Highgate Wood, Highgate Date: Wednesday September 21 Time: 4pmThe Capital Ring, funded by Transport for London, is part of the London Strategic Walks Network, an initiative from the Mayor of London to make London a";}
        
        


 