


@{ViewBag.Title = "Walkable London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walkable London </h1>
        <div class="content-page-press-release">
        14 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Why not join Bollywood actor Imran Ali Khan in Trafalgar Square on Sunday and take part in one of the many guided walks exploring central London?
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Sustainable transport is vital to the future of the Capital
                            
                        </p>
                    </div>
                
            
            
            <p> Good Going continues its week of events promoting sustainable transport options in London with a celebration of walking in Trafalgar Square on Sunday 18 September between 1200 and 1900. </p>
<p>See inside historic buildings as part of Open House weekend, enjoy the Thames festival, as well as a wide array of games and activities, with prizes and interesting information about your city available in the square.</p>
<p>Lots of Good Going freebies will be handed out on the day, like step-o-meters, footballs, rugby balls and water bottles, to encourage Londoners to get out and about more, and to be more active.</p>
<p>Good Going is an initiative, supported by Transport for London and partners from local authorities and private companies, to promote all forms of sustainable transport in London.</p>
<p>Peter Hendy, Managing Director of Surface Transport, Transport for London, said: "Sustainable transport is vital to the future of the Capital as its population rises and are great ways to get around.  </p>
<p>"Good Going weeks will help to inform people about alternative ways to travel and the event in Trafalgar Square will be a great family day out."</p>
<p>Good Going events will run across the Capital from 15-29 September. </p>
<p>For details about events in your area please visit the Good Going website at <a href="http://www.goodgoing.co.uk">www.goodgoing.co.uk</a>.</p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Good Going continues its week of events promoting sustainable transport options in London with a celebration of walking in Trafalgar Square on Sunday 18 September between 1200 and 1900. See inside historic buildings as part of Open House weekend, enjoy";}
        
        


 