


@{ViewBag.Title = "Waterloo and City line to close for five months";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Waterloo and City line to close for five months</h1>
        <div class="content-page-press-release">
        27 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced that the Waterloo & City line is to close for five months from 1 April 2006 for much-needed engineering improvements that will deliver increased reliability of services, an increase in capacity and improved journey times.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have agreed to close the line for five months so that much-needed improvements can be accelerated
                            
                        </p>
                    </div>
                
            
            
            <p>The improvements are part of Transport for London's (TfL) &pound;10bn 5-Year Investment Programme to improve and expand London's transport network.</p>
<p>The Waterloo &amp; City line is 107 years old and urgently needs upgrading. </p>
<p>The line fails on average almost once a week, leading to unplanned closures and major inconvenience to passengers.</p>
<p>During the five-month closure, the entire track will be replaced and electrical, mechanical, fire protection and communication equipment will be renewed. </p>
<p>Journey times will fall as a result of increased service frequency and faster running times. </p>
<p>The Waterloo &amp; City rolling stock will be painted in the Underground's red, white and blue livery. </p>
<p>Seating will be re-upholstered, grab rails will be refurbished and improvements will be made to floors and windows. 
<p>The closure will also provide an opportunity to make improvements to the Waterloo &amp; City platforms at Bank and Waterloo stations. </p>
<p>
<h2>Improved reliability</h2>
<p>The works will be carried out by Metronet Rail BCV.</p>
<p>The entire line is in a tunnel and physically isolated from all other LU lines.</p>
<p>Tim O'Toole, LU Managing Director, said: "The Waterloo &amp; City line suffers from constant failures and urgently needs upgrading. </p>
<p>"We have agreed to a request from Metronet to close the line for five months so that much-needed improvements can be accelerated to deliver improved reliability, increased passenger capacity, quicker journey times and a smoother ride."</p>
<p>LU has consulted with businesses and organisations that will be affected by the closure. </p>
<p>They have agreed with LU that the line should close for five months so that major and much-needed improvements can be made all at once rather than through a succession of weekend closures over a longer period of time.</p>
<p>Brian Cooke, Chair, London Transport Users' Committee, said: "The Tube has suffered from decades of under-investment. </p>
<p>"If the Underground is to improve then, on occasions, there will have to be short-term pain to deliver long-term gain. </p>
<p>"Any closure will result in some degree of disruption to passengers but we are supportive of long-term closures as long as they are well planned, deliver the required improvements within the timescales outlined and viable transport alternatives are in place for passengers."</p>
<p>During the five-month closure, passengers travelling from Waterloo to Bank will be advised to take the Bakerloo or Northern lines to Embankment station, and then the District or Circle line to Monument station. </p>
<p>Detailed travel advice for passengers will be issued prior to the closure taking effect.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Transport for London is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for the renewal and maintenance of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Under PPP, engineering work to improve the Tube can only be undertaken at night or during weekend closures unless LU agrees to a long-term closure</li>
<li>The Waterloo & City line, London's second deep-level Tube line, opened in 1898. It was intended then, as now, to offer commuters a direct rail link to and from the City of London. Every year, 9.6 million people use the line - on average 40,000 use the line on weekdays and 4,000 on Saturdays. The line is not in passenger service on Sundays</li>
<li>The 1.5 mile line links Waterloo with Bank without any intermediate stations</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The improvements are part of Transport for London's (TfL) &pound;10bn 5-Year Investment Programme to improve and expand London's transport network.The Waterloo &amp; City line is 107 years old and urgently needs upgrading. The line fails on average almost";}
        
        


 