


@{ViewBag.Title = "West London Tram update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>West London Tram update</h1>
        <div class="content-page-press-release">
        22 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Transport for London and Ealing Council today issued a revised timetable for depositing a Transport and Works Act Order application for the West London Tram in summer 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I remain totally committed to West London Tram
                            
                        </p>
                    </div>
                
            
            
            <p>This is to allow TfL to have a detailed look at some of the traffic management issues raised in the public consultation and is a change from an original date of December 2005.</p>
<p>Ken Livingstone, Mayor of London said: "I remain totally committed to West London Tram.</p>
<p>"This change to the timetable allows Transport for London to have a deeper look at some aspects of traffic management. </p>
<p>"Transport for London and Ealing Council have decided jointly to do this after taking into account issues raised in the public consultation.</p>
<p>"The population in West London is growing rapidly and improving public transport is key to preventing virtual gridlock on the Uxbridge Road in the next decade."<br><br>Ealing Council leader Leo Thomson said: "The decision being taken to revise the timetable comes after traffic management issues were raised in the public consultation.</p>
<p>"It is vital we use the clearest and most accurate information as traffic management around the scheme is of the utmost importance to the people of the borough.</p>
<p>"The scheme is critical to improving public transport, the environment and the local economy, and we must make sure we get it right."</p>
<p>TfL is also planning further local consultation on some minor changes to the scheme and its design.</p>
<p>These changes have been made following the public consultation last year.</p>
<h2>Future growth</h2>
<p>TfL and Ealing Council are committed to delivering a modern, efficient transport service for West London.</p>
<p>West London is a growing area of London and the West London Tram is being developed as a transport system which will cope with the future growth and needs of this area.</p>
<p><strong>Timetable for the West London Tram</strong> </p>
<div class="table-container"><table cellpadding="5" width="100%" border="0">
<tbody>
<tr>
<td width="69%"><strong>Report to TfL Board</strong></td>
<td width="31%">Late spring 2006</td></tr>
<tr>
<td><strong>Application for Transport and Works Order</strong></td>
<td>Summer 2006</td></tr>
<tr>
<td><strong>Public inquiry</strong></td>
<td>Spring 2007*</td></tr>
<tr>
<td><strong>Award of powers (expected)</strong></td>
<td>Winter 2008*</td></tr>
<tr>
<td><strong>Commencement of construction</strong></td>
<td>2009*</td></tr>
<tr>
<td><strong>Opening of tram</strong></td>
<td>2013*</td></tr></tbody></table></div>
<p>*Dependent on decisions by Secretary of State for Transport</p>
            <ul>
<li>TfL is bringing forward detailed modelling work to undertake it before an application for a Transport and Works Order. Some of this work would more usually be done later in the project</li>
<li>This change is a reflection of the complex nature of the West London Tram project, which would be the first modern fully street-running tram in the UK and of likely needs for information that have become clear in the light of recent public inquiries</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is to allow TfL to have a detailed look at some of the traffic management issues raised in the public consultation and is a change from an original date of December 2005.Ken Livingstone, Mayor of London said: 'I remain totally committed to West";}
        
        


 