


@{ViewBag.Title = "You can now pay your congestion charge when buying petrol at BP";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>You can now pay your congestion charge when buying petrol at BP</h1>
        <div class="content-page-press-release">
        01 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers can now pay their congestion charge at almost 100 BP petrol forecourt sites in the Capital and within the M25.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Making the congestion charge as hassle-free as possible is vital to the success of the scheme
                            
                        </p>
                    </div>
                
            
            
            <p>BP has installed PayPoint software at their company owned petrol forecourt stores and dealer operated sites within the M25 giving drivers the option to pay their congestion charge at the same time as buying their petrol.</p>
<p>Motorists can also pay for charge at any of BP's Connect-branded sites in the rest of England.</p>
<p>Transport for London's Head of Business Operations (Congestion Charging), Graeme Craig, said: "Making the congestion charge as hassle-free as possible for those who have to pay is vital to the success of the scheme.</p>
<p>"The addition of BP forecourt stores to the retailers that already accept payment for the congestion charge will make paying the charge even more convenient. </p>
<p>"Drivers can already pay their congestion charge at more than 250 petrol stations and 1,800 retail outlets within the M25, and over 11,000 throughout the rest of the UK, as well as by phone, text and on-line.</p>
<p>"Finding your nearest payment facility is also made easier with the online congestion charge "Payment Finder" which lists the ten nearest retail outlets to your given post code."</p>
<p>A BP spokesperson said: "It makes sense that motorists have the opportunity to pay for their congestion charge at places which are convenient to them, so what better way to pay it than on your way into London while filling up with fuel and buying their shop goods."</p>
            <ul>
<li>BP's agreement to sell the Congestion Charge more than doubles the number of petrol stations at which the charge can be purchased. On average, petrol stations sell more than three times as many charges per outlet as other retail sites</li>
<li>For more information about the congestion charge and to view the "Payment Finder" visit <a href="http://www.cclondon.com">www.cclondon.com</a></li>
<li>The congestion charge operates from 7am to 6.30pm, Monday to Friday (excluding Bank Holidays) and does not operate on weekends. The daily charge costs &pound;8</li>
<li>Registered residents receive a 90% discount</li>
<li>Monthly and annual payments receive a 15% discount</li>
<li>0% of payments are made at retail outlets</li>
<li>Other recent improvements include the following:</li>
<li>&middot; Fleet scheme threshold reduced from 25 to 10 vehicles, and daily charge rate set at &pound;7 for registered vehicles<br>&middot; All car-owning households in the England and Wales to receive a simple leaflet on where, when and how the to pay the charge<br>&middot; Some administration charges have been reduced<br>&middot; New discounts for monthly and annual payments<br>&middot; Automated telephone payment line improved</li>
<li>Further improvements are due to be implemented in the near future. </li>
<li>About PayPoint:<br>PayPoint is a leading branded payment collection network used, primarily, for the cash payment of bills and services and prepayments for mobile telephones and energy meters. There are over 14,600 retail outlets using PayPoint's payment collection systems</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "BP has installed PayPoint software at their company owned petrol forecourt stores and dealer operated sites within the M25 giving drivers the option to pay their congestion charge at the same time as buying their petrol.Motorists can also pay for charge";}
        
        


 