


@{ViewBag.Title = "Young drivers and riders targeted in road safety conference";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Young drivers and riders targeted in road safety conference</h1>
        <div class="content-page-press-release">
        16 September 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A scheme designed to cut the number of collisions caused by, and involving, new drivers was announced yesterday.
        
    </div>



 <div class="on-this-page">
<p>Young motorists in London accounted for almost a quarter of car driver casualties in London last year and although they only represent 10 per cent of drivers, young people are involved in 20 per cent of crashes.</p>
<p>The Pass Plus London scheme is designed to improve driving standards and increase the confidence of newly passed drivers between 17-25 by offering extra on-the-road training, and will be part-funded by Transport for London.</p>
<p>Pass Plus comprises six modules:</p>
<ul>
<li>Town driving </li>
<li>All weather driving </li>
<li>Out of town driving </li>
<li>Night driving </li>
<li>Driving on dual carriageways and driving on motorways</li></ul>
<p>The programme, which was first set up by the Driving Standards Agency, was launched at a London-wide road safety conference. </p>
<p>The event called "Alloys and Attitude", involving key people involved in road safety in the Capital - including the Mayor's Road Safety Ambassador, Jenny Jones - looked at the reasons behind the problem of young drivers' crash rates and investigated solutions.</p>
<p>The Pass Plus scheme has a proven track record in reducing the chances of young drivers being involved in collisions, and on completion of the course new drivers will be eligible for reduced insurance premiums.</p>
<p>The London Pass Plus initiative will be open to all motorists who live in a London borough, are between 17 and 25 years of age, and who have passed their driving test during the past 12 months.</p>
<p>Janet Kirrage, TfL's Road Safety Education Manager, said: "The roads in London are getting safer every year, but crash rates involving young drivers are staggeringly high. </p>
<p>"Twenty-four people were killed while travelling in a vehicle driven by a 17 to 25-year-old last year.</p>
<p>"The Pass Plus London scheme being introduced by TfL will help to tackle this problem. </p>
<p>"The more young people who take up the course, the more young lives will be saved."</p>
<p>As Pass Plus is not available for powered two-wheeler riders, to help reduce the number of motorcyclist casualties on London's roads TfL also announced it will be teaming up with the London Advanced Motorcyclists Group (Lam) to promote a training programme for young riders. </p>
<p>The Institute of Advanced Motorists' (Iam's) Skills for Life programme offers riders under 25 advanced training and test for &pound;75. TfL and Lam will offer more than 50 per cent off to riders who pass the test. </p>
<p>The Skills for Life package includes </p>
<ul>
<li>Membership of the Iam </li>
<li>Associate membership Lam </li>
<li>Test fee </li>
<li>A copy of the Iam's Advanced Driving/Motorcycling Manual</li></ul>
<p>New drivers wishing to enrol on the scheme should contact the Pass Plus London Office on 0845 230 1725.</p>
<p>Motorcyclists under 25 wanting to take Skills for Life training should contact Lam, the London Advanced Motorcyclist group on 07000 781 103, or visit Lam's <a href="http://www.londonadvancedmotorcyclists.org/">website</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Young motorists in London accounted for almost a quarter of car driver casualties in London last year and although they only represent 10 per cent of drivers, young people are involved in 20 per cent of crashes.The Pass Plus London scheme is designed to";}
        
        


 