


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2005">2005</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/policing-of-chelsea-harbour-rank">Policing of Chelsea Harbour rank<br />28 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/999-london-cycling-awards-celebrate-cycling-in-the-capital">999 London Cycling Awards celebrate cycling in the capital<br />25 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/burnt-oak-improved">Burnt Oak improved<br />25 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/20000-respond-to-tube-consultation-in-first-48-hours">20,000 respond to Tube consultation in first 48 hours<br />25 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/arnos-grove-improved">Arnos Grove improved<br />25 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/green-light-for-new-energy-efficient-bus-infrastructure">Green light for new energy efficient bus infrastructure<br />24 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/more-improvements-for-finsbury-park-with-station-place-upgrade">More improvements for Finsbury Park with Station Place upgrade<br />24 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/quad-bike-gritters-are-the-new-weapon-in-winter-maintenance">Quad bike gritters are the new weapon in winter maintenance<br />23 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/agreement-secured-with-capita-for-delivery-of-mayor-in-autumn-2005">Agreement secured with Capita for delivery of core services for proposed western extension of the congestion charging zone conditional upon go-ahead being given by Mayor in autumn 2005<br />23 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/transport-for-london-on-full-alert-for-cold-weather">Transport for London on full alert for cold weather<br />22 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/transport-commissioner-bob-kiley-welcomes-crossrail-coming-one-step-closer">Transport Commissioner Bob Kiley welcomes Crossrail coming one step closer<br />22 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/consultation-begins-on-later-weekend-running-of-tube">Consultation begins on later weekend running of Tube<br />21 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/two-years-on--congestion-cut-more-reliable-buses-and-andpound170million-to-invest-in-londons-transport-system">Two years on - congestion cut, more reliable buses, and &pound;170million to invest in London's transport system<br />18 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/lu-welcomes-kings-cross-project-boost">LU welcomes Kings Cross project boost<br />16 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/world-first-as-daily-price-capping-on-oyster-pre-pay-brings-benefits-to-passengers">World first as daily price capping on Oyster Pre Pay brings benefits to passengers<br />16 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/autoportraits">AUTOPORTRAITS<br />14 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/croxley-rail-link-project-on-track">Croxley Rail Link project on track<br />10 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/kilburn-tube-station-refurbished-and-accessible">Kilburn Tube station refurbished and accessible<br />10 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/victorian-borough-transformed-into-state-of-the-art-station">Victorian Borough transformed into state of the art station<br />10 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/approval-for-andpound27m-bounds-green-a406-scheme">Approval for &pound;27m Bounds Green A406 Scheme<br />10 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/london-underground-successfully-sues-graffiti-vandal">London Underground successfully sues graffiti vandal<br />10 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/mayor-hails-renewal-of-seven-tube-stations">Mayor hails renewal of seven Tube stations<br />08 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/platform-closures-at-wembley-park">Platform closures at Wembley Park<br />07 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/london-underground-welcomes-new-signallers-deal">London Underground welcomes new signallers deal<br />03 Feb 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/february/improvement-works-on-track-for-northern-line-bank-branch">Improvement works on track for Northern line Bank branch<br />02 Feb 2005</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27168">January</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27220">February</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27324">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27420">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27524">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27676">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27792">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27992">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28076">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28268">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28420">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28564">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 