


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2005">2005</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/underground-wins-prestigious-equality-award">Underground wins prestigious Equality Award<br />29 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/track-improvement-works-on-the-central-line">Track improvement works on the Central line<br />29 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/live-in-bromley-want-to-be-healthier-or-save-money-why-not-discuss-traveloptions-with-tfl">Live in Bromley? Want to be healthier or save money? Why not discuss TravelOptions with TfL?<br />28 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/temple-and-cannon-street-weekend-opening-hours">Temple and Cannon Street weekend opening hours<br />28 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/business-on-the-move-travel-planning-is-the-smart-choice-for-london-businesses">Business on the move: travel planning is the smart choice for London businesses<br />25 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/new-uniform-means-smarter-working-on-the-tube">New uniform means smarter working on the Tube<br />25 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/track-improvement-works-on-the-central-line">Track improvement works on the Central line<br />22 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/new-life-for-old-train">New life for old train<br />22 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/should-the-tube-run-later-at-weekends-consultation-closes-tomorrow">Should the Tube run later at weekends? Consultation closes tomorrow<br />21 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/get-on-your-bike-tfl-urges-londoners">Get on your bike, TfL urges Londoners<br />18 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/hard-hitting-campaign-targets-teen-road-deaths">Hard hitting campaign targets teen road deaths<br />15 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/tfl-to-keep-london-moving-on-marathon-day">TfL to keep London moving on Marathon day<br />14 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/tower-bridge-to-close-for-essential-maintenance-diversions-into-the-congestion-charging-zone">Tower Bridge to close for essential maintenance: diversions into the congestion charging zone<br />13 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/statement-on-new-metronet-chief-executive">Statement on new Metronet Chief Executive<br />13 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/x26-a-new-accessible-and-more-reliable-service">X26, a new, accessible and more reliable service<br />12 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/worldclass-tour-of-britain-cycle-race-returns-to-london">World-class Tour of Britain cycle race returns to London<br />12 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/a406-north-circular-bounds-green--tfl-announces-dates-for-public-exhibition-of-new-plans">A406 North Circular Bounds Green - TfL announces dates for public exhibition of new plans<br />12 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/early-closure-of-boston-manor-station">Early closure of Boston Manor station<br />07 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/wembley-park-improvements">Wembley Park improvements<br />06 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/garage-performance-statistics">Garage Performance Statistics<br />05 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/annual-taxi-fare-increases-come-into-effect">Annual taxi fare increases come into effect<br />01 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/tube-crime-fighters-win-top-transport-oscar">Tube crime fighters win top transport Oscar<br />01 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/plain-speaking">Plain speaking<br />01 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/kings-cross-stationpicking-up-of-disabled-persons-by-taxi">Kings Cross Station-picking up of disabled persons by taxi<br />01 Apr 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/april/congestion-charge-to-increase-to-andpound8-fleet-and-regular-users-to-receive-discounts">Congestion charge to increase to &pound;8; fleet and regular users to receive discounts<br />01 Apr 2005</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27168">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27220">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27324">March</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27420">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27524">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27676">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27792">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27992">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28076">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28268">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28420">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28564">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 