


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2005">2005</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/tfl-scoops-two-national-transport-awards">TfL scoops two National Transport Awards<br />30 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/busk8-celebrates-busking-on-the-tube-and-live8">Busk8 celebrates busking on The Tube and Live8<br />30 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/live8-travel-advice">Live8 travel advice<br />27 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/greenwich-waterfront-transit-public-consultation-results-released">Greenwich Waterfront Transit public consultation results released<br />27 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/making-the-tube-accessible-for-all">Making the Tube accessible for all<br />27 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/call-to-disabled-londoners-to-get-on-buses-and-use-their-travel-rights">Call to disabled Londoners to get on buses and use their travel rights<br />27 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/track-replacement-works-to-improve-the-central-line">Track replacement works to improve the Central line<br />24 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/new-campaign-to-reduce-the-number-of-cyclists-killed-in-collisions-with-hgvs">New campaign to reduce the number of cyclists killed in collisions with HGVs<br />23 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/renewed-and-improved-district-line-trains-delivered">Renewed and improved District line trains delivered<br />23 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/major-track-replacement-works-on-piccadilly-and-district-lines">Major track replacement works on Piccadilly and District lines<br />23 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/improvement-works-on-the-jubilee-line">Improvement works on the Jubilee line<br />21 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/live8-travel-website-launches">Live8 travel website launches<br />17 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/support-for-west-london-tram-strong-as-awareness-grows">Support for West London Tram strong as awareness grows<br />17 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/free-travel-on-buses-and-trams-for-under16s">Free travel on buses and trams for under-16s<br />14 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/heathrow-train-from-cockfosters-will-depart-0519">Heathrow train from Cockfosters will depart 0519<br />13 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/jubilee-line-improvements-in-june">Jubilee line improvements in June<br />13 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/olympic-boost-for-london-as-work-begins-on-dlr-woolwich-extension">Olympic boost for London as work begins on DLR Woolwich Extension<br />13 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/lu-publishes-results-of-chesham-branch-consultation">LU publishes results of Chesham branch consultation<br />13 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/live-emergency-exercise-at-tower-hill">Live emergency exercise at Tower Hill<br />10 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/work-starts-on-dlr-woolwich-arsenal-extension">Work starts on DLR Woolwich Arsenal Extension<br />10 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/track-improvement-works-on-the-central-line">Track improvement works on the Central Line<br />09 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/new-escalator-to-improve-vauxhall-station">New escalator to improve Vauxhall Station<br />09 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/jubilee-line-raises-property-value-by-estimated-andpound21bn-at-canary-wharf-and-southwark-tube-stations">Jubilee line raises property value by estimated &pound;2.1bn at Canary Wharf and Southwark Tube stations<br />07 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/cycle-journeys-move-up-a-gear">Cycle journeys move up a gear<br />06 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/tfl-commissions-stateoftheart-communications-system-for-the-rotherhithe-tunnel">TfL commissions state-of-the-art communications system for the Rotherhithe Tunnel<br />06 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/east-london-line-is-moving-at-pace">East London Line is moving at pace<br />03 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/a406-north-circular-bounds-green--plans-revealed-and-public-exhibition-announced">A406 North Circular Bounds Green - plans revealed and public exhibition announced<br />01 Jun 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/june/ultimate-cycling-design-guide-published">Ultimate cycling design guide published<br />01 Jun 2005</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27168">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27220">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27324">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27420">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27524">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27676">June</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27792">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27992">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28076">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28268">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28420">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28564">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 