


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2005">2005</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/london-underground-services-on-friday">London Underground services on Friday<br />29 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/travel-information--the-michelob-ultra-london-triathlon">Travel information - the Michelob Ultra London Triathlon<br />28 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/london-underground-publishes-second-annual-ppp-report">London Underground publishes second annual PPP report<br />27 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/operational-note-wood-lane-closure-this-weekend">Operational Note: Wood Lane closure this weekend<br />27 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/misleading-email">Misleading e-mail<br />27 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/marshalled-taxi-rank-to-be-trialled-at-bromley">Marshalled taxi rank to be trialled at Bromley<br />26 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/hammersmith-and-city-line-closure">Hammersmith and City line closure<br />26 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/buses-will-replace-trains-while-jubilee-line-is-improved">Buses will replace trains while Jubilee line is improved<br />26 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/london-underground-services-on-monday">London Underground services on Monday<br />24 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/pool-broadcast-tape-from-inside-london-underground-stations">Pool broadcast tape from inside London Underground stations<br />24 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/22-july-latest-tube-services">22 July: Latest tube services<br />22 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/update-on-friday-services">Update on Friday services<br />22 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/northern-line-alternative-travel-options">Northern line alternative travel options<br />22 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/tube-service-update">Tube service update<br />21 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/1925-hours--transport-for-london-travel-update">19:25 hours - Transport for London travel update<br />21 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/july-21-1325-hours--incidents-on-london-underground">July 21, 13:25 hours - Incidents on London Underground<br />21 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/1655-hours--incidents-on-london-transport-network">16:55 hours - Incidents on London transport network<br />21 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/july-21-1720-hours--tfl-travel-update">July 21, 17:20 hours - TfL travel update<br />21 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/weekend-engineering-works-on-the-northern-line-cancelled">Weekend engineering works on the Northern line cancelled<br />20 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/security-alerts-continue-due-to-unattended-bags">Security alerts continue due to unattended bags<br />20 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/leading-companies-line-up-to-partner-transport-for-londons-oyster-emoney-project">Leading companies line up to partner Transport for Londons Oyster e-money project<br />20 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/bakerloo-line-suspension-in-connection-with-network-rail-signalling-works">Bakerloo line suspension in connection with Network Rail signalling works<br />19 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/progress-in-getting-all-tube-services-back-up-and-running">Progress in getting all Tube services back up and running<br />19 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/improved-central-line-services">Improved Central line services<br />19 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/tube-service-update-19-july-2005">Tube service update: 19 July 2005<br />19 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/a40-acton-bridges-replacement-project">A40 Acton Bridges replacement project<br />18 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/statement-from-the-metropolitan-police">Statement from the Metropolitan Police<br />15 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/service-update-15-july-2005">Service Update 15 July 2005<br />15 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/staff-to-stand-alongside-passengers-as-silence-falls-across-the-network">Staff to stand alongside passengers as silence falls across the network<br />13 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/statement-from-the-transport-for-london-board">Statement from the Transport for London Board<br />13 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/13-july-service-update-1400-hours">13 July service update: 1400 hours<br />13 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/service-update">Service update<br />12 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/music-lovers-will-be-able-to-get-to-their-concerts">Music lovers will be able to get to their concerts<br />12 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/statement-from-ken-livingstone-mayor-of-london">Statement from Ken Livingstone, Mayor of London<br />11 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/dont-leave-your-belongings-on-the-bus-or-tube">Dont leave your belongings on the bus or Tube<br />11 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/how-to-help-tube-staff-on-monday--service-update">How to help Tube staff on Monday / service update<br />10 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/tube-train-bombs-simultaneous">Tube train bombs simultaneous<br />09 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/press-centre-images">Press Centre images<br />09 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/0800--transport-for-london-update">08:00 - Transport for London Update<br />09 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/1515--transport-for-london-update">15:15 - Transport for London Update<br />08 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/1000-hours--todays-transport-services">10:00 hours - Todays transport services<br />08 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/0640-hours--tube-services-today">06.40 hours - Tube services today<br />08 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/message-of-condolence-and-sympathy">Message of condolence and sympathy<br />08 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/press-centre-travel-updates--07-july-2005">Press Centre travel updates - 07 July 2005<br />07 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/2230-hours--tfl-update-on-friday-services">22.30 hours - TfL update on Friday services<br />07 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/statement-from-bob-kiley-londons-transport-commissioner">Statement from Bob Kiley, Londons Transport Commissioner<br />06 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/improvement-works-at-chancery-lane-station">Improvement works at Chancery Lane station<br />05 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/busk8-celebrates-busking-on-tube-and-live8">Busk8 celebrates busking on Tube and Live8<br />01 Jul 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/july/reminder--the-congestion-charge-will-cost-andpound8-from-monday-4th-july">Reminder - the congestion charge will cost &pound;8 from Monday 4th July<br />01 Jul 2005</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27168">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27220">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27324">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27420">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27524">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27676">June</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27792">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27992">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28076">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28268">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28420">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28564">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 