


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2005">2005</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/eastbound-limehouse-link-likely-to-remain-closed-for-several-days">Eastbound Limehouse Link likely to remain closed for several days<br />30 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/a-new-president-for-the-railway-study-association">A new president for the Railway Study Association<br />28 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/meet-the-manager-open-forum-at-victoria-station">Meet the Manager open forum at Victoria station<br />28 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/south-ruislip-station-to-be-refurbished-and-improved">South Ruislip station to be refurbished and improved<br />27 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/shepherds-bush-hammersmith-and-city-station-closures">Shepherd's Bush (Hammersmith and City) station closures<br />27 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/refurbishment-work-to-improve-becontree-station">Refurbishment work to improve Becontree station<br />27 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/bus-saver-customers-urged-to-check-tickets-after-forgeries-are-recovered">Bus Saver customers urged to check tickets after forgeries are recovered<br />26 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/underground-map-turned-masterpiece">Underground map turned masterpiece<br />25 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/tfl-proposes-an-increase-in-penalty-fares-and-applying-for-asbos">TfL proposes an increase in penalty fares and applying for ASBOs<br />25 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/extra-buses-travel-to-the-swaminarayan-mandir-temple--neasden-for-this-years-diwali-celebrations">Extra buses travel to the Swaminarayan Mandir Temple - Neasden for this years Diwali celebrations<br />25 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/lancaster-gate-station-to-be-modernised-and-improved">Lancaster Gate station to be modernised and improved<br />25 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/jubilee-line-services-in-december">Jubilee line services in December<br />24 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/a406-hanger-lanegunnersbury-ave--weekend-closure">A406 Hanger Lane/Gunnersbury Ave - weekend closure<br />24 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/improvement-works-on-northern-line-and-elephant-and-castle">Improvement works on Northern line and Elephant and Castle<br />24 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/hounslow-central-station-to-close-early-for-refurbishment">Hounslow Central station to close early for refurbishment<br />24 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/tube-tips-for-women">Tube tips for women<br />21 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/tube-gas-hoaxer-given-suspended-sentence">Tube gas hoaxer given suspended sentence<br />21 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/electronic-tag-for-tube-menace">Electronic Tag for Tube menace<br />21 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/tfl-confirms-shortlist-of-two-for-london-underground-ad-concession">TfL confirms shortlist of two for London Underground ad concession<br />18 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/northern-line-now-running-a-reduced-service-to-all-destinations">Northern line now running a reduced service to all destinations<br />17 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/northern-line-services-on-monday-17-october">Northern line services on Monday 17 October<br />16 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/northern-line-services-on-sunday">Northern line services on Sunday<br />16 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/update-on-northern-line-services">Update on Northern line services<br />15 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/update-on-northern-line-services">Update on Northern line services<br />13 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/security-net-closes-in-to-immobilise-bicycle-thieves">Security net closes in to Immobilise bicycle thieves<br />13 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/no-service-on-the-northern-line">No service on the Northern line<br />13 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/piccadilly-and-district-line-track-improvement-works-continue-over-the-next-two-weekends">Piccadilly and District line track improvement works continue over the next two weekends<br />12 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/peace-and-love-on-the-underground">Peace and Love on the Underground<br />10 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/epping-station-to-be-refurbished-and-improved">Epping station to be refurbished and improved<br />10 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/battersea-bridge-opens-to-buses">Battersea Bridge opens to buses<br />07 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/kids-quids-in-at-cycle-show">Kids quids in at Cycle Show<br />06 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/new-magazine-for-tube-and-bus-customers">New magazine for Tube and Bus customers<br />06 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/tube-and-bus-magazine-awarded-to-forward-group">Tube and bus magazine awarded to Forward Group<br />06 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/transport-for-londons-streetscape-guidance">Transport for Londons Streetscape Guidance<br />05 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/mayor-sets-out-2006-fares-package-to-boost-switch-from-cash-to-oyster-card">Mayor sets out 2006 fares package to boost switch from cash to Oyster card<br />04 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/central-line-improvement-works-at-east-end-of-the-line">Central line improvement works at east end of the line<br />04 Oct 2005</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2005/october/this-computer-game-is-made-for-walking">This computer game is made for walking<br />03 Oct 2005</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27168">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27220">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27324">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27420">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27524">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27676">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27792">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/27992">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28076">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28268">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28420">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2005/28564">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 