


@{ViewBag.Title = "'Operation Vision Zero' clocks up more than 4,700 driving offences in two weeks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">'Operation Vision Zero’ clocks up more than 4,700 driving offences in two weeks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>'Operation Vision Zero’ clocks up more than 4,700 driving offences in two weeks</h1>
        <div class="content-page-press-release">
        28 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and Metropolitan Police Service focus on the most dangerous drivers as part of their joint Vision Zero commitment to eliminate death and serious injury from London's roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our message is clear, we won't tolerate illegal and dangerous behaviour and through our work with the police we will take robust action against those that do"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Director of Compliance and Policing at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and the Metropolitan Police Service (MPS) are cracking down on illegal, dangerous and careless behaviour that creates risk on our roads, as part of their joint Vision Zero commitment to eliminate death and serious injury on London's roads by 2041.</p>

<p>During an enhanced two week programme of enforcement, named Operation Vision Zero, 4,758 offences have been dealt with by on-street officers alone &#45; more than 800 offences higher than an average two week period in 2016.</p>

<p>The MPS's Roads and Transport Policing Command (RTPC), part funded by TfL, has ramped up activity to deter and deal with risky behaviour on London's roads. The RTPC mobilised officers from across the 2,000 officer strong command.</p>

<p>Officers dealt with speeding, mobile phone use, no insurance, drink/drug driving and mechanical defects such as steering and lights. 176 drivers were arrested, for offences including drink, drug, dangerous and disqualified driving.</p>

<h2>Ramped up activity</h2>

<p>There were 507 drivers stopped for mobile phone use, 654 for speeding and 559 caught driving without insurance and 1,394 for mechanical defects. Officers also dealt with 519 cycling offences such as red light jumping.</p>

<p>Siwan Hayward, Director of Compliance and Policing at TfL, said: 'No death or serious injury is acceptable or inevitable and we will continue to crack down on anyone who is behaving dangerously, carelessly or illegally.</p>

<p>'Excess speed, mobile phone use and other risky road user behaviour are undisputed contributors to road traffic collisions in London. The consequences are devastating for victims and their families.</p>

<p>'Our message is clear, we won't tolerate illegal and dangerous behaviour and through our work with the police we will take robust action against those that do. Slow down, be careful and watch out for others.'</p>

<p>Chief Supt Colin Wingrove, from the MPS, said: 'The Metropolitan Police, in partnership with TfL, is committed to Vision Zero and is taking positive action with those who use London's roads dangerously, carelessly or illegally, to make the roads safer for all road users, reduce road danger, and reduce the number of people killed or seriously injured.</p>

<p>'Driving a vehicle illegally, dangerously or carelessly is an offence under the Road Traffic Act. Not only are you breaking the law but you are posing an unacceptable risk to yourself and others.</p>

<p>'The results of this latest two-week enhanced enforcement 'Operation Vision Zero' shows that we are prepared to crack down and catch those who break the law of the road.'</p>

<h2>Investing record amounts</h2>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'Every single death or serious injury results in heartache and tragedy for those affected, and their loved ones.</p>

<p>'We're investing record amounts in making London's roads safer, but enforcement action is also a key part of our plans - cracking down on illegal and dangerous behaviour that puts the lives of Londoners at risk.'</p>

<p>Joshua Harris, Director of Campaigns at Brake, the road safety charity, said: 'Laws are only as strong as their enforcement and so it's great to see TfL and the MPS crack down on unsafe driving on the roads.</p>

<p>'Speeding, drink-driving and using a phone behind the wheel are all actions which selfishly put others in danger and must never be tolerated. Strict enforcement is crucial for an effective deterrent, so drivers in London will know if they break the law, they will be caught and punished.</p>

<p>'With more than 10 deaths and serious injuries every day in the capital in 2017, London's Vision Zero approach to road safety couldn't be more timely.'</p>

<p>This joint work between TfL and the police is to deliver ‎and sustain improvement in speed enforcement, focusing on the most dangerous drivers and offences that put road users at risk.</p>

<p>The MPS's Roads and Transport Policing Command is part-funded by TfL and is currently the largest policing command in Europe. As part of the Vision Zero commitment, they are implementing a new, three-tier approach to roads policing and enforcement. This includes:</p>

<ul>
	<li><strong>Tier 1 &#45; Highly-targeted activity, focused on high risk offenders</strong>: The Roads and Transport Policing Command will seek to better identify high-risk drivers and riders, remove the most dangerous offenders from the roads and end the cycle of re-offending</li>
	<li><strong>Tier 2 &#45; Intelligence-led activity focused on known problems</strong>: TfL and the police will focus on the sources of danger, to deploy officers at places and times where high-risk traffic offences, such as speeding, are more likely to happen</li>
	<li><strong>Tier 3 &#45; Highly visible patrols</strong>: Increasing the number of highly visible deployments across London to increase the unpredictability of police enforcement, amplifying the deterrent effect</li>
</ul>

<h2>New, innovative</h2>

<p>In July, the Mayor and TfL launched a bold Vision Zero action plan to end the toll of deaths and serious injuries on London's streets.</p>

<p>The plan includes the introduction of lower speed limits on TfL's road network, the transformation of dangerous junctions and the Direct Vision Standard, which will remove the most dangerous lorries from London's roads.</p>

<p>It also features a comprehensive bus safety programme including speed-limiting technology, new innovative training for all bus drivers and other measures.</p>

<p>TfL and the police are working with local communities to tackle speeding in residential areas. Community Roadwatch allows community members monitor speed in their local area and warning letters are then sent to speeding drivers.</p>

<p>Since Community Roadwatch launched across all 33 London boroughs in August 2015, nearly 39,000 speeding drivers have been caught. Fewer than 2% of people who received letters were caught speeding again.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>The Vision Zero action plan is available here: <a href="http://content.tfl.gov.uk/vision-zero-action-plan.pdf">content.tfl.gov.uk/vision-zero-action-plan.pdf</a></p>

<p>Community Roadwatch gives local residents the opportunity to work side by side with their local police teams, in order to tackle speeding in residential areas. Find out more here: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/community-roadwatch">tfl.gov.uk/corporate/safety-and-security/road-safety/community-roadwatch&nbsp;</a></p>

<p>You can report any offences on the road using the MPS's Road Safe tool: <a href="https://www.met.police.uk/ro/report/rti/report-a-road-traffic-incident/">met.police.uk/ro/report/rti/report-a-road-traffic-incident/</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-'Operation Vision Zero’ clocks up more than 4,700 driving offences in two weeks -->

 
 
        
        
            @{ViewBag.Description = "TfL and Metropolitan Police ‘Operation Vision Zero’ clocks up more than 4,700 driving offences in two weeks";}
        
        


 