


@{ViewBag.Title = "Celebrities partner with TfL for London Poppy Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Celebrities partner with TfL for London Poppy Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Celebrities partner with TfL for London Poppy Day</h1>
        <div class="content-page-press-release">
        01 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube announcements from Shane Richie, Leslie Joseph and Jo Brand encourage commuters to give generously
        
    </div>



 <div class="on-this-page">
<ul>
	<li>Uniformed personnel from the Royal Navy, British Army and Royal Air Force fundraise at 44 Tube stations across London</li>
	<li>Special collection taking place on the Circle Line with serving officer and Britain's Got Talent winner, Lance Corporal Richard Jones</li>
</ul>

<p>Transport for London (TfL) has teamed up with a number of celebrities to once again support The Royal British Legion's London Poppy Day as the country marks the centenary since Armistice and the end of the First World War.<br />
The voices of Shane Richie, Jo Brand and Leslie Joseph will be heard on the Underground as they encourage Londoners to give generously and support the vital work the Legion does in supporting the Royal Navy, British Army, Royal Air Force, Reservists, veterans, and their families.</p>

<p>More than 1200 members of the Royal Navy, Army and Royal Air Force (RAF) have volunteered and will be collecting donations at 44 Underground stations and there will be a special collection taking place on the Circle line where TfL staff who are serving or ex serving military will be joined by Britain's Got Talent winner, Lance Corporal Richard Jones.<br />
&nbsp;<br />
Poppy Roundels, will decorate ten Underground and four Overground stations and multiple transport modes - including Santander Cycles, eight London buses, DLR, trams and London Overground &amp; Underground trains - will be covered in poppy vinyls.</p>

<p>Managing Director of London Underground, Mark Wild, said:</p>

<p>'This year marks 100 years since the end of World War One and we will never forget the sacrifices made by our servicemen and women. We are committed to supporting the armed forces and their families as well as maintaining our relationship with The Royal British Legion. This has only been made possible due to the support of bus operators, station staff and our celebrity friends and we hope that Londoners give generously to this wonderful cause.'</p>

<p>Director of Fundraising at The Royal British Legion, Claire Rowcliffe, said:</p>

<p>'The Poppy Appeal target for 2018 is &pound;50 million which is our biggest target ever and London Poppy Day is a huge part of that. We are aiming to raise &pound;1 million on the day across the city and we are so grateful to Transport for London for their continual support as well as the hundreds of serving personnel who'll be collecting on behalf of The Legion.</p>

<p>'In this centenary, the work of the Legion is as relevant and vital today as it was in the aftermath of the First World War when the charity was founded. The donation for your poppy will help the Legion support today's Armed Forces community through hardships, injury and bereavements. Generations of the Armed Forces have continued to serve and sacrifice since the First World War, and we recognise and thank them all for their contribution.'</p>

<hr />
<p>Notes to editors:</p>

<p>The ten Underground stations that have Poppy Roundels installed are:</p>

<ul>
	<li>Balham (Northern Line, Northbound)</li>
	<li>Bounds Green (Piccadilly Line, Southbound)</li>
	<li>Bethnal Green (Central Line, Westbound)</li>
	<li>Colindale (Northern Line, Southbound)</li>
	<li>Baker Street (Bakerloo Line, Southbound)</li>
	<li>London Bridge (Jubilee Line, Eastbound)</li>
	<li>Canary Wharf (Jubilee Line, Westbound)</li>
	<li>King's Cross (Hammersmith &amp; Circle/Metropolitan Line, Eastbound)</li>
	<li>Westminster (District Line, Eastbound)</li>
	<li>St James's Park (District Line, Eastbound)</li>
</ul>

<p>The four Overground stations that have Poppy roundels installed are:</p>

<ul>
	<li>Forest Hill</li>
	<li>Shepherd's Bush</li>
	<li>Walthamstow Central</li>
	<li>Willesden Junction</li>
</ul>

<p>There is also a Poppy appeal wall display at Hoxton station</p>

<p>Poppy flags are flying at the following TfL-owned piers:</p>

<ul>
	<li>Millbank</li>
	<li>Westminster</li>
	<li>Embankment</li>
	<li>Festival</li>
	<li>Blackfriars</li>
	<li>Bankside</li>
	<li>Tower</li>
	<li>Greenwich</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>London bus operators Abellio, Go-Ahead London, Arriva, Stagecoach, Metroline, Tower Transit and RATP supported TfL's activity by funding the poppy wrapping of the buses, and signmakers Links covered the costs of the poppy roundels. Santander also allowed the use of their branding space on the front basket of the Santander cycles.</li>
	<li>Since November 2008, war veterans have been able to travel on the Tube, DLR, Overground, TfL, National Rail services within London, London buses and Trams for free with a Veterans Oyster Photocard as part of the Mayor's voluntary concessionary travel scheme.</li>
	<li>Ex-service personnel looking to make the transition into civilian employment are encouraged to apply to roles at TfL.</li>
	<li>TfL has been running military industry days with suppliers, such as Siemens, alongside its employability programme, for ex-service personnel. The technical expertise and skills that they have developed during their military service, such as problem-solving, leadership, teamwork and working under pressure, are ideal for a number of roles within the transport industry. Many of those leaving the services might not realise that they have transferable skills or may be nervous because they haven't written a CV or undertaken an interview in a very long time. That's why on TfL's website there are tips and guidance too, to help overcome any potential barriers to success. TfL also offers those leaving the Forces the opportunity to undertake taster days and work placements, some of which result in permanent jobs. For more information, please visit: <a href="https://tfl.gov.uk/corporate/careers/employability-toolkit">https://tfl.gov.uk/corporate/careers/employability-toolkit</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Celebrities partner with TfL for London Poppy Day -->

 
 
        
        
            @{ViewBag.Description = "Celebrities partner with TfL for London Poppy Day and 100 years since WW1 Armistice";}
        
        


 