


@{ViewBag.Title = "Cycle hire easier than ever before with contactless payment";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cycle hire easier than ever before with contactless payment</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cycle hire easier than ever before with contactless payment</h1>
        <div class="content-page-press-release">
        09 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Users will be able to hire a Santander Cycle with a contactless bank card, with the process of hiring a bike made quicker and easier
        
    </div>



 <div class="on-this-page">
<ul>
	<li>Get a free 24-hour access period from today, by downloading the app and entering code CYCLE18, also allowing you to continue to hire during the upgrade</li>
	<li>The popularity of Santander Cycles continues to grow, with five months of consecutively achieving more than one million hires and record usage in October</li>
</ul>

<p>Customers using London's Santander Cycles scheme will be able to use contactless payment cards to hire cycles for the first time from mid-November, Transport for London (TfL) has announced today.</p>

<p>All 775 terminals will be modernised to allow customers to hire a cycle using their contactless bank card, rather than chip and pin. The new system will accept all major UK and international cards. To hire a bike people will still have to touch the screen at the terminal and print off a code, but the hiring process at the terminal is being made quicker and easier by enabling contactless card payment and by removing five stages of the payment process.</p>

<p>The move is part of the Mayor and TfL's commitment to encourage more people to make their journeys by walking, cycling or public transport. Reducing reliance on the car and increasing sustainable travel will help reduce congestion, improve air quality and make London's streets safer, healthier and more inviting places.<br />
The improvements to the terminals and the introduction of a simpler hiring process follows a hugely successful summer and autumn, where Santander Cycles set a new record, achieving five consecutive months with more than one million hires, as well as breaking the October record for hires. The scheme recently celebrated its eighth birthday, achieving a record month, with more than 1.19 million hires made across London in July.</p>

<p>Work to upgrade the terminals will take place from 17 November and is aimed to conclude on 22 November. It will only affect users hiring from the terminal. Customers using membership keys and the Santander Cycles app are not affected. During the work all customers should hire using the Santander Cycles app, which will be unaffected. A free code, CYCLE18, will be available for all customers to use once on the app from today, giving a 24 hour access code for 30 minute journeys.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'To make our city cleaner and healthier we must do everything we can to make cycling a part of people's everyday routine. The introduction of contactless payment and speeding up the process will make a real practical difference, allowing both Londoners and tourists to hire a bike more quickly and easily.</p>

<p>'The Santander Cycles continue to be a huge success, with record numbers of people using them over recent months. This will increase their appeal even further.'</p>

<p>David Eddington, Head of Cycle Hire at TfL, said:</p>

<p>'Making Santander Cycles accessible with contactless payment cards will make it even easier for our customers to get out and enjoy the benefits of exploring London by bike. Customers from all over the world use our record-breaking scheme and we're pleased that they will soon find it even easier to hire a bike. We encourage all users to download the app now, which means they won't experience any disruption while we upgrade the system.'</p>

<p>Keith Moor, Chief Marketing Officer at Santander UK, said:</p>

<p>'The Santander Cycles scheme continues to go from strength to strength, and is a great example of our commitment to help people and business prosper. Since we started our partnership in 2015, we've worked hard with TfL to bring innovation to the scheme by adding new smart technology to the Cycles, Beryl's Laserlights to improve the visibility of cyclists on the road and created a top-rated app. The introduction of contactless payments is another exciting milestone for Santander Cycles, meaning hiring a cycle to get around the city will be easier than ever before.'</p>

<p>Keypads on the Santander Cycles terminals will be replaced from 17 November, with staff working to complete the most popular docking stations first.</p>

<p>Chip and pin facilities will still be available at all upgraded docking station terminals. Following the implementation of contactless, TfL will look to further upgrade the system to enable mobile devices to be used.<br />
The upgrade is being delivered by Worldline and Cubic Transportation Systems.</p>

<p>Simon Banks, Vice President (TfL account), at Cubic Transportation Systems, said:</p>

<p>'Building on the multimodal transportation systems that benefit London's citizens is key to our relationship to with TfL, and it is exciting and a privilege to be a part of TfL's plans to upgrade the cycle hire system.'<br />
&nbsp;</p>

<hr />
<p>&nbsp;<br />
Notes to editors:</p>

<ul>
	<li>The latest figures from UK Finance show that in 2017 contactless accounted for 15 per cent of all payments in the UK, and 35 per cent of all card payments</li>
	<li>Hiring a Santander Cycle with contactless will not count towards a daily or weekly cap as the system is separate to TfL's wider pay as you go ticketing system</li>
	<li>Pay as you go and travel cards on Oyster cards, as well as mobile devices, such as Apple Pay and Android Pay, will not be accepted at Santander Cycles terminals</li>
	<li>There will be some additional disruption from 19:00 on 17 November overnight while the payment switchover happens</li>
	<li>More than a million hires have now been made using the Santander Cycles app, which was launched in May 2015 to make it easier to find and hire bicycles</li>
	<li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles. This app includes docking station information, live bike and space availability and it sends a release code straight to your phone, letting users skip past the terminal and get on their bike quicker</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Cycle hire easier than ever before with contactless payment -->

 
 
        
        
            @{ViewBag.Description = "Cycle hire becomes easier than ever before as contactless payment comes to Santander Cycles";}
        
        


 