


@{ViewBag.Title = "DLR ambassadors offer travel safe training for mobility scooter and wheelchair users";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DLR ambassadors offer travel safe training for mobility scooter and wheelchair users</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DLR ambassadors offer travel safe training for mobility scooter and wheelchair users</h1>
        <div class="content-page-press-release">
        28 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Training aims to increase confidence and give people with mobility needs more independence
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our Community Ambassadors do fantastic work within the local community, particularly with passengers who need a little extra support. The DLR network is fully accessible and helping people feel more confident while travelling is an important way to build their independence"</div>
        <div class="quote-footer">
            <div class="quotee-name">Trish Ashton</div>
            <div class="quotee-job-title">TfL's General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<p>Free advice and training is being offered to mobility scooter and wheelchair users as part of the Dockland's Light Railway (DLR) Community Ambassador programme.&nbsp;</p>

<p>Run by KeolisAmey Docklands (KAD), operator of the DLR, the voluntary scheme will help mobility impaired passengers stay safe while travelling, as well as boost their confidence and independence when on the transport network.</p>

<p>The Community Ambassador programme includes liaising with the local community through schools, community groups and local businesses to provide travel advice and assistance.</p>

<p>Ambassadors have accredited accessibility training and have worked closely with charity organisation Whizz-Kidz, who support wheelchair users aged 2-25 years, to develop their skills.</p>

<h2>Boost confidence and independence</h2>

<p>Ambassadors are available to meet people of all ages who need mobility support, as well as their carers, to provide training on how to safely operate on DLR platforms and trains, including manoeuvring in and out of station lifts, boarding and leaving the train and the best place to position scooters and wheelchairs inside the train.</p>

<p>Guidance will also be provided on how to request assistance during journeys from members of staff on board the train. The Community Ambassadors will conclude the training by accompanying participants on a DLR journey to embed the learnings and advice.</p>

<p>Trish Ashton, TfL's General Manager of the DLR, said: 'Our Community Ambassadors do fantastic work within the local community, particularly with passengers who need a little extra support.</p>

<p>'The DLR network is fully accessible and helping people feel more confident while travelling is an important way to build their independence.&nbsp; This training will be invaluable to many people and we invite them to sign up today.'</p>

<p>Lucy Sabia, DLR Community Ambassador, said: 'Being independent is a right and not a luxury for any individual. If for any reason an individual is prevented from being independent be it a physical obstacle or down to lack of confidence, it is our duty to help them.</p>

<p>I feel privileged that my role as a DLR Community Ambassador allows me to contribute in making a positive impact to people in need.'</p>

<p>Lexian Porter, Whizz-Kidz London Ambassador, said: 'It's great to know that improving the accessibility of the DLR and giving wheelchair and scooter users the confidence to travel on it is a priority for TfL.</p>

<p>'Free advice and training from the Community Ambassador programme is essential for encouraging wheelchair and scooter users to access all that London has to offer.'</p>

<h2>Very beneficial</h2>

<p>Chrystalla Michael, local resident and training participant, said: 'I found the mobility scooter training very beneficial.&nbsp; It has given me the confidence and independence to travel on the DLR.&nbsp; I was quite surprised how accessible it all was.&nbsp; I am glad I took the opportunity to do the training.'</p>

<p>The mobility training is available to anyone and can be arranged by contacting the DLR Community Ambassadors on <a href="mailto:mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk.</a></p>

<p>London has one of the most accessible transport networks in the world &#45; all of the capital's buses, taxis, trams, the Emirates Air Line, many boats and some private hire vehicles are fully accessible. Customers are also offered a wide range of information including step-free guides, tips on getting around and regular updates on TfL's accessibility Twitter feed &#64;TfLAccess.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The Docklands Light Railway (DLR) was the first fully accessible railway in the UK and provides step-free entrance and exists to all stations and trains</li>
	<li>The number of people using the DLR has increased rapidly, rising from 10 million in the early 1990s to around 122m today</li>
	<li>DLR Community Ambassadors have Level 2 accredited accessibility training through Bradford College and have had specific DLR based Wheelchair Skills Training with charity Whizz-Kidz to enable them to work with disability groups</li>
	<li>The mobility advice and training given by Community Ambassadors is based on their detailed knowledge of the DLR environment and training can be adapted for the different needs of wheelchair and mobility scooter users</li>
	<li>TfL also offers Travel Mentors on its other services, who can offer advice on planning a journey using an accessible route. They can also provide a mentor to accompany any disabled customer for their first few journeys to help them gain confidence and become an independent traveller. For more information email <a href="mailto:travelmentor&#64;tfl.gov.uk">travelmentor&#64;tfl.gov.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-DLR ambassadors offer travel safe training for mobility scooter and wheelchair users -->

 
 
        
        
            @{ViewBag.Description = "DLR ambassadors offer travel safe training for mobility scooter and wheelchair users";}
        
        


 