


@{ViewBag.Title = "From map to app: TfL and Go Jauntly team up to bring the Walking Tube Map onto people's phones";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">From map to app: TfL and Go Jauntly team up to bring the Walking Tube Map onto people’s phones</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>From map to app: TfL and Go Jauntly team up to bring the Walking Tube Map onto people’s phones</h1>
        <div class="content-page-press-release">
        29 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new walking map directs users to their nearest Tube or Rail station and closest Santander Cycles docking station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking is a fantastic way to get around London and Go Jauntly's new map makes it simpler to find routes, especially if you're in an area which you're less familiar with"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has teamed up with Go Jauntly, a wayfinding app, to bring the Walking Tube Map to people's phones, making it easier than ever before for people to walk as part of their everyday journey.</p>

<p>The walking map is now available by downloading the free Go Jauntly app, and shows people walking times to their nearest Tube and Overground stations and Santander Cycles docking stations, as well as step by step directions for local walks, station accessibility information and details on London pollution levels.</p>

<p>Go Jauntly has also included TfL walking routes, The Capital Ring and The Jubilee Walkway, on the app, allowing Londoners and visitors to explore the capital easily, with step-by-step instructions.</p>

<p>The upgrades also include improvements to the app, making it easier for people to find their closest walk and integrate walking into their daily commute.</p>

<h2>Encourage more Londoners</h2>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'Walking is a fantastic way to get around London and Go Jauntly's new map makes it simpler to find routes, especially if you're in an area which you're less familiar with.</p>

<p>'The free app has clear directions which will help encourage more Londoners to walk regularly &#45; improving their health and tackling our air pollution crisis.'</p>

<p>Lilli Matson, Director of Transport Strategy at TfL, said: 'Walking is an easy and affordable way for Londoners to integrate more physical activity into their daily lives and get around.</p>

<p>'The new Go Jauntly features will help make it easier for everyone to enjoy London's great walking routes and improve &nbsp;the walking experience in the capital.'</p>

<p>The app enables people to enjoy self-guided routes with directions, photos and facts along the way, encouraging active travel which is key to tackling some of the greatest issues facing London, including congestion, poor air quality and poor health caused by inactivity.</p>

<p>Steve Johnson, Go Jauntly co-founder,&nbsp;said: 'We are delighted to be working with TfL on the latest version of the app. The new walking map is a great way for Londoners to&nbsp;easily walk between TfL stations&nbsp;and discover new routes across the capital&nbsp;at the same time.</p>

<p>'We're huge fans of the Walk London Network so&nbsp;it's&nbsp;fantastic&nbsp;to have the Capital Ring and Jubilee Walkway&nbsp;mapped in the app&nbsp;now&nbsp;and hopefully&nbsp;encourage more people to explore them now.'</p>

<h2>Active Travel Innovation Challenge</h2>

<p>Go Jauntly, a discovery and wayfinding app for walking, was selected as the winner of Mayor's Active Travel Innovation Challenge last month. This challenge was launched to encourage tech firms to develop solutions to social and environmental problems facing the capital.</p>

<p>TfL works with a wide range of tech companies around the world to support and learn from innovation that could improve transport across London.</p>

<p>Earlier this year, TfL and the Mayor announced their ambition to make London the world's most walkable city, with a million extra walking trips taking place each day by 2024.</p>

<p>The Walking Action Plan sets out how London will become a city where walking, for those that can, is the most obvious, enjoyable and attractive means of travel for all short trips.</p>

<p>TfL and the Mayor are working to increase the proportion of people walking, cycling and taking public transport to 80% of journeys by 2041, from 63% now.</p>

<p>Streets across London are also being transformed as part of the Healthy Streets Approach, to encourage walking and cycling, ensuring people feel safe and that streets are easy to cross.</p>

<h2>Improving accessibility</h2>

<p>TfL has today published its 2017 Travel in London report, which shows that the number of walking trips increased by an estimated 0.5% from 2016.</p>

<p>TfL and Go Jauntly are committed to making walking inclusive and improving accessibility features is at the heart of that ambition. The Go Jauntly app has been upgraded to include step-free access information for each TfL station, provided by TfL's open data feed.</p>

<p>Wheelchair user friendly routes are included within the app and walks can be filtered by this feature, to ensure more people can benefit from getting active. In addition,</p>

<p>Go Jauntly is currently testing audio features of the app and is looking at other ways to develop the app's accessibility features even further.</p>

<p>TfL's walking map is still downloadable from <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking </a>as well as being part of the Go Jauntly app.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The free app is available on the iTunes App Store, searching for Go Jauntly. More information on Go Jauntly can be found here: <a href="https://www.gojauntly.com/">gojauntly.com/</a></li>
	<li>Details about TfL's walking initiatives can be found here: <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></li>
	<li>TfL's Walking Action Plan can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></li>
	<li>The Mayor's Transport Strategy can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></li>
	<li>Healthy Streets for London can be found here: <a href="http://content.tfl.gov.uk/healthy-streets-for-london.pdf">content.tfl.gov.uk/healthy-streets-for-london.pdf</a></li>
	<li>The Travel in London report is available here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports">https://tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-From map to app: TfL and Go Jauntly team up to bring the Walking Tube Map onto people’s phones -->

 
 
        
        
            @{ViewBag.Description = "From map to app: TfL and Go Jauntly team up to bring the Walking Tube Map onto people’s phones";}
        
        


 