


@{ViewBag.Title = "Getting more people walking and cycling could help save our high streets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Getting more people walking and cycling could help save our high streets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Getting more people walking and cycling could help save our high streets</h1>
        <div class="content-page-press-release">
        16 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More retail space was filled by businesses following improvements to make cycling and walking easier, with a 17% decline in empty shops
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The benefits of designing streets around pedestrians and cyclists and reducing car use can be enjoyed by everyone and will help ensure the future of our high streets"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published research that shows improvements to make it easier and safer to walk and cycle in London's town centres and high streets lead to an increase in retail rental values, more retail space being filled and a 93% increase in people walking in the streets.</p>

<p>The research has also found that people walking, cycling and using public transport spend the most in their local shops, spending 40% more each month than car drivers.</p>

<p>In one major study published today, locations including Bromley North Village, Hornchurch Town Centre, Clapham, Woolwich Town Centre and Walworth Road were studied to assess the impact of improvements, such as widened footpaths, increased space for outdoor seating, new public squares and pedestrian crossings.</p>

<p>The study, commissioned by TfL and conducted by Matthew Carmona from University College London's Bartlett School of Planning, found that compared to unimproved areas:</p>

<ul>
	<li>Footfall increased &#45; the number of people standing, waiting and sitting nearly doubled and people walking in the streets increased by&nbsp;93%</li>
	<li>People spent more time in the street, with a 216% increase in activity such as going into a shop, stopping at a café or sitting on a bench</li>
	<li>Retail rental values increased by 7.5%, suggesting that local businesses are thriving&nbsp;in the area</li>
	<li>More retail space was filled by businesses, as there was a 17% decline in retail vacancy</li>
	<li>Office rental values increased by 4%,&nbsp;showing that improving streets is good for many types of business</li>
</ul>

<h2>Economic benefits</h2>

<p>The research has been published as part of a new online hub demonstrating the economic benefits of TfL's Healthy Streets Approach, which aims to create high streets that are designed for people, inclusive and easy to access by foot or bike.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said</strong>: 'With businesses across London really struggling to survive, we have to do everything we can to support them.</p>

<p>'The evidence is clear &#45; adapting our streets to enable more people to walk and cycle makes them cleaner, healthier and more welcoming, which encourages more people to shop locally.</p>

<p>'The benefits of designing streets around pedestrians and cyclists and reducing car use can be enjoyed by everyone and will help ensure the future of our high streets.'</p>

<p>Launched today, new online hub, The Economic Benefits of Walking and Cycling,&nbsp;will be kept up to date with research and statistics from TfL and others.</p>

<p>Current material on the hub includes a report setting out the economic benefits of planning cycling and walking improvements alongside housing growth, a survey of Business Improvement Districts (BIDs) demonstrating the economic importance of walking and cycling to businesses across London, and research suggesting segregated cycle routes in London make our streets more efficient.</p>

<h2>Improve quality of life</h2>

<p>The Mayor's Transport Strategy aims to reduce reliance on car use and grow sustainable travel to improve quality of life, aiming for 80% of journeys to be made by walking, cycling or public transport.</p>

<p>TfL's investment in delivering Healthy Streets contributes to this by creating streets where people choose to travel actively, connecting communities, improving air quality and reducing road danger&nbsp;and noise.</p>

<p><strong>Lilli Matson, Director of Transport Strategy at TfL, said</strong>:&nbsp;'This research from our new online hub shows the link between creating enjoyable spaces, where people want to spend time, and the results for better business.</p>

<p>'We are taking the Healthy Streets Approach to change the whole capital so that everyone can live active lives in a healthy environment, with opportunities to walk, cycle, shop, play and enjoy their streets.'</p>

<p><strong>Kay Buxton, Chief Executive of Marble Arch London BID, said</strong>: 'We welcome the Economic Benefits of Walking and Cycling hub, and the wealth of information supporting the case for walking, cycling and using public transport.</p>

<p>'As a BID we are committed to bringing forward schemes with TfL across the entire Marble Arch and Edgware Road area, from improving junctions and crossings through to creating safer routes to schools, businesses and leisure amenities.</p>

<p>'Our members tell us that their staff, customers, guests, students and pupils need safer spaces in which to operate.</p>

<p>'It not only helps the trading environment locally but it boosts health and wellbeing and fosters a greater sense of community. Amazing things happen when businesses and community come together to champion a safer pedestrian environment.'</p>

<h2>Boosts health and wellbeing</h2>

<p><strong>Ruth Duston OBE, OC, CEO of Victoria and Northbank BIDs, said</strong>: 'We recognise that enhancing the quality of the local environment in our areas is not just about creating token green spaces. Far from it, well designed and located 'green' interventions make good business sense too.</p>

<p>'From our Business Low Emission Neighbourhood in the Northbank with healthier walking routes and the Love Your Side Streets programme in Victoria, to creating more attractive areas for people to dwell, such as Victoria's Chelsea Flower Show Parklets, everyone benefits.</p>

<p>'Local employees benefit from commuting and working in a more pleasant environment and businesses have a more satisfied workforce and, as this new research supports, better commercial outcomes.'</p>

<p>Projects such as the Mini Holland scheme in Waltham Forest and the A105 Green Lanes scheme, linking Enfield Town to Palmers Green, are working to make London a greener, healthier and more attractive place to live, work, play and do business.</p>

<p>The recent Active Lives Survey shows that Waltham Forest now has the highest percentage of adults walking at least five days per week of all the London boroughs, at 43%.</p>

<p>This has increased by&nbsp;5% since 2015/16. Residents in the areas transformed through the Mini Holland scheme are doing an extra 40 minutes'&nbsp;walking and cycling each week, compared to before the area was transformed.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The Economic Benefits of Walking and Cycling online hub is available here:&nbsp;<a href="https://tfl.gov.uk/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling">tfl.gov.uk/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling</a></li>
	<li>The Mayor's Transport Strategy can be found here:&nbsp;<a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></li>
	<li>Healthy Streets for London can be found here:&nbsp;<a href="http://content.tfl.gov.uk/healthy-streets-for-london.pdf">content.tfl.gov.uk/healthy-streets-for-london.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Getting more people walking and cycling could help save our high streets -->

 
 
        
        
            @{ViewBag.Description = "New research shows getting more people walking and cycling could help save our high streets";}
        
        


 