


@{ViewBag.Title = "Help bring sex offenders to justice, urge TfL and the police";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Help bring sex offenders to justice, urge TfL and the police</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Help bring sex offenders to justice, urge TfL and the police</h1>
        <div class="content-page-press-release">
        23 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        There has been a 65 per cent increase in reports, resulting in 1,500 arrests, since the Report It to Stop It campaign began
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By reporting anything that makes you feel uncomfortable, supplying witness statements and working with police, you can help us to bring offenders to justice"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Director of Compliance and Policing, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Reports, witness statements and CCTV can all help to build a case against an offender</li>
	<li>Report by texting 61016 or call 101</li>
</ul>

<p>Transport for London (TfL) and the police are marking the International Day for the Elimination of Violence Against Women by reminding people to report any unwanted sexual behaviour they experience, so that action can be taken against offenders.</p>

<p>TfL launched the Report it to Stop it campaign in 2015, alongside the British Transport Police (BTP), Metropolitan Police Service (MPS) and City of London Police (CoLP), to encourage people to report anything that makes them feel uncomfortable.</p>

<p>Since TfL and the police launched the partnership, with the aim of eliminating unwanted sexual behaviour from the transport network, the number of reports per year has increased by 65 per cent, with around 2,000 reports in 2017/18.</p>

<p>Siwan Hayward, Director of Compliance and Policing at TfL, said:</p>

<p>'The International Day for the Elimination of Violence Against Women is an opportunity to remind people that we are determined to tackle sexual offences on the transport network. By reporting anything that makes you feel uncomfortable, supplying witness statements and working with police, you can help us to bring offenders to justice. Every report is taken seriously and you will be supported through the reporting process by an assigned officer.'</p>

<p>Those who experience unwanted sexual behaviour on public transport do not always feel they will be believed or that the offender will be caught. However, each report is taken extremely seriously and one single report can be enough to catch an offender.</p>

<p>There are more than 77,000 CCTV cameras across London's transport network, as well as more than 3,000 officers from the BTP and MPS, dedicated to policing London's public transport network. Frontline police officers and TfL on-street enforcement officers have received training and briefing on tackling unwanted sexual behaviour on public transport.</p>

<p>Kathryn, who experienced unwanted sexual behaviour on the Tube last year, said:</p>

<p>'I was travelling on the Central line, where I was touched inappropriately several times. Despite the Tube being filled with people I felt so alone and vulnerable. As soon as I got off the Tube I reported it and I am so glad that I did. People shouldn't be allowed to get away with making you feel frightened and they certainly shouldn't think it is ok to touch you inappropriately.</p>

<p>'I consequently found out that he had done the same thing to three other women and I just felt sad that he would have made other women feel the way I did on that morning. By reporting him, he has served six months in jail, he is now banned from using public transport and his name is on police file so I feel as though I have done what I can to help protect other women from him.'</p>

<p>Detective Inspector Ashley Cooper, from British Transport Police, said:</p>

<p>'For too long sexual offences on the rail network have gone unreported. We know that some people who report an offence to us don't want to take the process further, but it is important to remember that every report counts. We use these reports to inform our proactive patrols to try and target areas where we believe an offence is likely to occur - so we'd encourage anyone who has been a victim of unwanted sexual behaviour on a train to report it to us.'</p>

<p>Detective Inspector Anna Rice, from the City of London Police's Public Protection Unit, said:</p>

<p>'The City of London Police is proud to support Report It to Stop It. Unwanted sexual behaviour is unacceptable in every area of our society, including on public transport.</p>

<p>'If you make a report to us, you will be listened to, taken seriously and treated in a sensitive manner. We know it can be daunting, but every piece of information we receive is important. By reporting such incidents you are helping to give police the best chance of tracking the perpetrator down and bringing them before the courts.'</p>

<p>25 November was officially designated as the International Day for the Elimination of Violence Against Women by the United Nations' General Assembly. The day aims to raise public awareness around the issue as well as increase both policymaking and resources dedicated to ending violence against women and girls worldwide.</p>

<p>To report unwanted sexual behaviour on public transport, text 61016 or call police on 101 and give details of what, where and when.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>BTP has re-launched their national campaign, which includes a case study of two women who experienced unwanted sexual behaviour from the same offender: <a href="[ioID]#https://youtu.be/VvOFaVJFm8U">https://youtu.be/VvOFaVJFm8U</a></li>
	<li>Unwanted sexual behaviour is anything that makes you feel uncomfortable, including rubbing, groping, masturbation, leering, sexual comments, indecent acts, or someone taking photos of a sexual nature without your consent</li>
	<li>There are around 3,000 police and police community support officers dedicated to policing the transport network and keeping customers safe</li>
	<li>Frontline staff have received additional training to raise awareness of unwanted sexual behaviour and police processes have been improved to provide enhanced victim support and targeted action offenders</li>
	<li>Find more information about TfL and the police's Report It to Stop It campaign here: t<a href="[ioID]#fl.gov.uk/travel-information/safety/report-it-to-stop-it">fl.gov.uk/travel-information/safety/report-it-to-stop-it</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Help bring sex offenders to justice, urge TfL and the police -->

 
 
        
        
            @{ViewBag.Description = "Help bring sex offenders to justice, urge TfL and the police";}
        
        


 