


@{ViewBag.Title = "How Many People Dying on our Roads is Acceptable? The Vision is Zero";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">How Many People Dying on our Roads is Acceptable? The Vision is Zero</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>How Many People Dying on our Roads is Acceptable? The Vision is Zero</h1>
        <div class="content-page-press-release">
        14 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London politicians, council leaders and businesses joined victims of road trauma, emergency service representatives and international Vision Zero experts to understand how they can help eliminate deaths and serious injuries from London's transport network.</p>

<p>The Mayor, TfL and the Metropolitan Police Service (MPS) are working towards their Vision Zero ambition, to eliminate all death and serious injuries from the transport network by 2041.</p>

<p>28 year-old Victoria Le Brec led the event with an emotional account of her experience as a cyclist who was run over by a lorry in 2014. She would have died on the road had it not been for the innovative healthcare she received. Victoria said: &quot;I am so pleased that Vision Zero has been adopted in London because even one person seriously injured per year represents a massive amount of suffering.&nbsp; Any policy which would view what my family and I have been through as success would be inherently wrong.&quot;</p>

<p>Changes are already being implemented, including transforming London's most intimidating junctions, introducing the world's first Direct Vision Standard, which rates HGVs based on how much the driver can see directly through their cab window, and working closely with the police on a new approach to target dangerous drivers and illegal activity on the roads.</p>

<p>From next year, all new London buses must include a whole host of new safety measures, including technology that automatically limits the speed at which buses are able to travel, an audible alert for pedestrians and other road users, and more blindspot mirrors and reversing cameras.</p>

<p><strong>Deputy Mayor for Transport, Heidi Alexander, said</strong> TfL plans start from the basis that no death or serious injury on London's roads should be treated as acceptable or inevitable. She said: &quot;How has society come to accept that road deaths and injuries are just the price we have to pay moving around in a big city?&quot; she asked. &quot;Sadiq has made it clear he will do everything in his power to make our streets safer. As the first Mayor of London to commit to a Vision Zero ambition, he recognises that we need a radical new approach if we are going to eliminate deaths and serious injuries.&quot;</p>

<p>London is following in the footsteps of Sweden and New York in the implementation of a Vision Zero policy. Sweden, where Vision Zero launched in 1997, has halved the number of people killed in road traffic collisions since it began. At the event, their respective leaders presented key learnings on the steps that need to be put in place for noticeable change to be seen.</p>

<p><strong>Julia Kite-Laidlaw from New York City's Department of Transport said: </strong>&quot;We view Vision Zero as an ongoing process of cultural change. And change is difficult. Setting such an ambitious goal means we never sacrifice safety for convenience.&quot;</p>

<p>Ahead of the event the international guests visited key junctions at Elephant and Castle, Upper Themes and Old Street to see how the Safer Junctions Programme is already improving London's roads and to offer their learnings on similar schemes they've successfully implemented.</p>

<p><strong>Commander Gordon from the Metropolitan Police Service, a Vision Zero partner, explained how,</strong> through its Roads and Transport Policing Command, it is responding to the Vision Zero ambition with an enhanced three-tier approach to roads policing and enforcement that has been launched and will continue over the next year. This includes highly-targeted activity focused on repeat and high-risk offenders, intelligence-led problem solving activity focused on high risk locations and random unpredictable high visibility patrols to deter offending and reassure the public.</p>

<p><strong>Heidi Alexander concluded her speech with a plea to attendees: </strong>&quot;I know there are some of you in this room who look at a target of zero deaths and serious injuries in 2041 and feel it's unrealistic.</p>

<p>&quot;Instead, ask yourself, how many people dying and being seriously injured on our roads would be acceptable?</p>

<p>&quot;We need a target to keep ourselves accountable and to ensure we keep striving for a better and safer city. But Achieving Vision Zero starts with all of us &#45; leaders and decision makers &#45; agreeing that every Londoner has the right to travel in our city without being killed or seriously injured.&quot;</p>

<p>The Vision Zero action plan is available to view here: <a href="http://content.tfl.gov.uk/vision-zero-action-plan.pdf">http://content.tfl.gov.uk/vision-zero-action-plan.pdf</a>&nbsp;</p>

<p>TfL's Casualties in Greater London During 2017 report is available here: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/road-safety">www.tfl.gov.uk/corporate/publications-and-reports/road-safety</a></p>

<p>The Mayor's Transport Strategy is available here: <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-How Many People Dying on our Roads is Acceptable? The Vision is Zero -->

 
 
        
        
            @{ViewBag.Description = "How Many People Dying on our Roads is Acceptable? The Vision is Zero";}
        
        


 