


@{ViewBag.Title = "Mayor confirms ban on junk food advertising on transport network ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor confirms ban on junk food advertising on transport network </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms ban on junk food advertising on transport network </h1>
        <div class="content-page-press-release">
        23 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Restrictions to come in after overwhelming support from Londoners
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"
It's clear that advertising plays a huge part in the choices we make, whether we realise it or not, and Londoners have shown overwhelming support for a ban on adverts for junk food and drink on our transport network
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/ban-on-junk-food-advertising-on-transport-network-0">london.gov.uk</a></p>

<ul>
	<li>Sadiq's tackling child obesity and promoting a healthy lifestyle</li>
</ul>

<p>Junk food advertising will be banned on the entire Transport for London (TfL) network from 25 February under groundbreaking measures to help tackle child obesity, the Mayor of London, Sadiq Khan, confirmed today.</p>

<p>The decision follows a public consultation launched in May which found overwhelming support from Londoners for a ban, covering all adverts for food and non-alcoholic drinks high in fat, salt and / or sugar and considered &quot;less healthy&quot; under Public Health England guidelines.</p>

<p>Examples of products that would not be accepted are sugary drinks, cheeseburgers, chocolate bars and salted nuts, while unsalted nuts, raisins and sugar free drinks would be accepted.</p>

<p>Food and drink brands, restaurants, takeaways and delivery services will only be able to place adverts which promote their healthier products, rather than simply publicising brands.</p>

<p>From 25 February, the restrictions will apply to advertisements on all modes of transport controlled by TfL, including the Underground, Overground, London buses, TfL Rail, trams and river services. The Mayor's online Talk London platform, which offers Londoners the chance to have their say on issues in the capital, alone received 1,500 consultation responses with 82 per cent supporting the proposals.</p>

<p>London has one of the highest child overweight and obesity rates in Europe, with almost 40 per cent of the capital's children aged 10 and 11 overweight or obese. Children from more deprived areas of the capital are disproportionately affected, with young people in Barking and Dagenham almost twice as likely to be overweight as children from Richmond.*This week, new figures from Diabetes UK revealed a huge rise in the number of children and young people across the country diagnosed with Type 2 diabetes. Nearly 7,000 young Britons are now suffering with the disease, linked to obesity.</p>

<p>There is a growing body of evidence that the more children are exposed to advertising for less healthy foods, whether on TV, on the internet, or via outdoor advertising, the higher the risk of increasing their consumption of those foods and of becoming overweight or obese. A report published earlier this year by Cancer Research UK found young people who recalled seeing junk food adverts every day were more than twice as likely to be obese. The same study found 87 per cent of young people found adverts for high fat, salt and sugar products appealing, with three-quarters tempted to eat a product after seeing such an advert.**</p>

<p>Sadiq believes it is a scandal that so many children are overweight or obese in a city as prosperous as London. He launched the proposal for the ban in May as part of a public consultation into his draft London Food Strategy. The finalised strategy will be published next month.<br />
With 30 million journeys made every day on TfL's network, its advertising sites offer a key opportunity to promote good food and a healthy lifestyle to both children and their family members or carers. The Mayor is supporting work to encourage healthy eating, including the 'Veg Power' campaign, led by the Food Foundation and backed by chefs and campaigners Jamie Oliver and Hugh Fearnley-Whittingstall.</p>

<p>This is part of a wider drive to tackle child obesity, which includes Sadiq setting up London's first-ever Child Obesity Taskforce. The Taskforce has committed to take action to help halve the percentage of London's children who are overweight at the start of primary school and obese at the end of primary school by 2030, and to reduce the gap between child obesity rates in the richest and poorest areas in London.</p>

<p>It will publish its action plan to help achieve this in the new year. Sadiq's draft London Plan also outlines proposals to ban the opening of new hot food takeaways within 400 metres of the entrance or exit of existing, or proposed, primary and secondary schools.</p>

<p><strong>The Mayor of London, Sadiq Khan, said:</strong></p>

<p>'Child obesity is putting the lives of young Londoners at risk and placing huge pressure on our already strained health service. It is absolutely imperative that we take tough action against this ticking timebomb now, and reducing exposure to junk food advertising has a role to play in this - not just for children, but parents, families and carers who buy food and prepare meals.</p>

<p>'It's clear that advertising plays a huge part in the choices we make, whether we realise it or not, and Londoners have shown overwhelming support for a ban on adverts for junk food and drink on our transport network.</p>

<p>'It's completely unacceptable that in a city as prosperous as London, where you live and the amount you earn can have a massive impact on whether you have access to healthy, nutritious food. I'm determined to change this.'</p>

<p><strong>Jamie Oliver, chef and campaigner, said:</strong></p>

<p><strong>'</strong>This is an amazing move from the Mayor and TfL, and they've got overwhelming support from Londoners who've said loud and clear they want a transport system with healthier ads and messages. Yes London!'</p>

<p><strong>Hugh Fearnley-Whittingstall, chef and campaigner said: </strong></p>

<p><strong>'</strong>When it comes to tackling childhood obesity, we need to pull all the levers possible, which is why I'm delighted to hear that not only are the Mayor of London and TFL removing junk food ads on their network, but they're actually going to promote vegetables instead! This is a real victory for veg; let's hope TFL paves the way for others to follow.'</p>

<p><strong>Lilli Matson, Director of Transport Strategy at TfL, said: </strong></p>

<p>'As the capital's strategic transport authority, we have a crucial role in the health of Londoners. We also have a large advertising estate with a very diverse audience covering all ages.</p>

<p>'By only allowing healthier foods and drink to be advertised across our network, we will utilise our assets to help make London a healthier place. This builds on the work that we already do to improve health and make our city a better place through encouraging people to choose more active and sustainable ways of travelling around the city.'</p>

<p><strong>Professor Dame Sally Davies, Chief Medical Officer for England said: </strong></p>

<p>'Child obesity remains a concern to me, particularly the persistently high levels amongst London's most disadvantaged communities. Evidence shows we need to take action on a number of fronts, and it is clear that the Mayor's action is an important step in the right direction.'</p>

<p><strong>Claire Pritchard, Chair of the London Food Board, said: </strong></p>

<p>'The London Food Board has worked hard highlighting the importance of making it easier for all Londoners to eat more healthily, so I am delighted that the Mayor is taking such a major step to help tackle child obesity in London.</p>

<p>'In addition to removing pressure on people from marketing of less healthy food and drinks, it is hugely encouraging that healthy foods will be promoted on the TfL network, so what we can begin to change the food environment across London for the benefit of everyone who lives and works here.'</p>

<p><strong>Professor Russell Viner, President of the Royal College of Paediatrics and Child Health (RCPCH) said:</strong></p>

<p>'Only last month, the latest statistics revealed that over 37 per cent of 10 and 11-year-olds in London are overweight or obese &#45; a figure that is worryingly high with further data showing those living in deprived areas much more likely to be affected. We know advertising directly influences children's choices so this very welcome announcement has come at a crucial time. The Mayor of London has shown he is serious about tackling childhood obesity with this bold move and we call on others to follow his lead so children outside of London have the same level of protection.'</p>

<p><strong>Professor Yvonne Doyle, Statutory Health Advisor to the Mayor and Regional Director for Public Health England, said: </strong></p>

<p>'I am delighted that London has shown it is prepared to take bold and direct steps to tackle the high levels of child obesity in the capital. This announcement is a response to the wishes of Londoners, who have told us that they want action taken to change the unhealthy environment our children are growing up in. I look forward to seeing the future benefits of this far-reaching policy, which will be the largest of its kind in the world.'</p>

<p><strong>Dr Vin Diwakar from NHS England (London) said: </strong></p>

<p>'We welcome the Mayor's plans to restrict advertising across Transport for London sites to reduce exposure to unhealthy food and sugary drinks adverts.</p>

<p>'As a practising paediatrician and the medical director for London I know only too well how calorie-laden, sugary drinks and snacks contribute to obesity, preventable diabetes, tooth decay, heart disease and cancer.</p>

<p>'London has more overweight and obese children than any other global city and the NHS is rapidly improving and increasing children's care, but tackling these challenges must come from more than just the health service so it is great to see the Mayor and TfL implementing these changes.&quot;</p>

<p><strong>Professor Linda Bauld, Cancer Research UK's prevention expert, said:</strong></p>

<p>'Obesity is a huge public health threat right now and this bold step to crack down on the vast amounts of junk food advertising bombarding the capital's children is an important move to tackle it. Being overweight or obese can increase the risk of 13 different types of cancer and obese children are five times more likely to be obese as an adult. It's therefore vital the UK government takes inspiration from London and puts the childhood obesity plan into action as restricting junk food marketing and promotions will help families make the healthier choice, the easier choice.'</p>

<p><strong>Dr Tom Coffey OBE, Mayoral Health Advisor, said: </strong></p>

<p>'As the Mayor's advisor on health policy, and a practicing GP, I see the impact health inequalities have on Londoners every day. We know that child obesity still disproportionally affects our deprived communities, and we must ensure that all Londoners can access food that keeps them fit and healthy. Until the government takes steps to address this social injustice, London will have to lead the way.</p>

<p>'The Mayor has shown what an ambitious City Hall can do to support families to make the best choices for their children's health. But in order for London to be the world's healthiest global city everyone must play their part in the fight against child obesity.'</p>

<p>To ensure that the policy targets the products that contribute to child obesity, there will be an opportunity for food and drink brands to request consideration for advertising particular products that are considered 'less healthy' if they can demonstrate with appropriate evidence that those products do not contribute to diets high in fat, salt or sugar (HFSS) in children. TfL and the Mayor's office will now work with brands, advertisers and public health bodies to agree a robust approach to assessing such products.</p>

<p><strong>Paul Lindley and Corinna Hawkes Chair and Vice-Chair of the London Child Obesity Task Force said: </strong></p>

<p>'This ban is part of a journey towards sending consistent messages to children about food and health &#45; it's odd for a child to go to school, learn what's healthy, and then go out into the streets to be confronted by the opposite message. The steps the Mayor is taking are only part of the solution, but signal the way forward towards creating this healthier environment. As Chair and Vice- Chair of London's Child Obesity Taskforce we look forward to working with the Mayor to deliver real change for London's children'</p>

<p><strong>Chris Askew, Chief Executive of Diabetes UK, said:</strong></p>

<p>'Diabetes UK welcomes this bold move from the Mayor of London, and we hope these measures will go some way to reducing the negative impact advertising products high in sugar, salt and fat can have on all users of the TfL network, particularly the children and young people who use it every day.</p>

<p>'Obesity is a crisis that must be tackled on several fronts, but restricting advertisements for these products across the TfL network will help people in London make healthier choices day-to-day. We look forward to these restrictions coming into force next year, and hope other transport systems across the UK take note.'</p>

<p><strong>Professor Sir Sam Everington, Chair of the London Clinical Commissioning Group Chairs, said:</strong></p>

<p>'Unhealthy food and drink is having a devastating effect on all of London's children causing obesity, vitamin deficiency and a direct impact on their ability to achieve in school and life. A healthy diet and lifestyle is vital in ensuring every London child has an equal opportunity in school and life.'</p>

<p>* The National Child Measurement Programme 2016/17, which is led by Public Health England and delivered by local authorities, has found London has one of the highest child overweight and obesity rates in Europe (<a href="[ioID]#https://digital.nhs.uk/catalogue/PUB30113">https://digital.nhs.uk/catalogue/PUB30113</a>).<br />
** Thomas F, Petty R, Thomas C, Rosenberg G, Vohra J (2018). A Prime Time for Action: New evidence on the link between television and on-demand marketing and obesity (<a href="[ioID]#https://www.cancerresearchuk.org/sites/default/files/a_prime_time_for_action.pdf">https://www.cancerresearchuk.org/sites/default/files/a_prime_time_for_action.pdf</a>).</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>We heard from more than 3,000 Londoners about these proposals. There was a total of more than 2,000 responses to the public consultation:
	<ul>
		<li>The Mayor's online Talk London platform, which offers Londoners the chance to have their say on issues in the capital received 1,500 responses, with 82 per cent supporting the proposals.</li>
		<li>More than 500 Londoners gave feedback via emails and letters, of which 92 per cent supported a ban.</li>
		<li>In addition, a YouGov Plc. survey of 1,020 Londoners found that the majority of Londoners supported the proposal, 52% of Londoners said they support a ban on all adverts for unhealthy food and drink across Transport for London stations and transport, compared to 20% who oppose. A total of 75 per cent are positive or neutral towards the proposals. These polling figures, are from fieldwork undertaken between 8th &#45; 11th May 2018. The survey was carried out online. The figures have been weighted and are representative of all London adults (aged 18+). See full results here: <a href="[ioID]#https://londondatastore-upload.s3.amazonaws.com/GLA%20YouGov%20survey%20May%202018%20advert%20ban.pdf">https://londondatastore-upload.s3.amazonaws.com/GLA%20YouGov%20survey%20May%202018%20advert%20ban.pdf</a></li>
	</ul>
	</li>
	<li>A detailed consultation report will be published next month alongside the Food Strategy.</li>
	<li>The restrictions will apply across TfL's advertising estate, which includes:
	<ul>
		<li>Underground</li>
		<li>TfL Rail</li>
		<li>Buses</li>
		<li>Overground</li>
		<li>Docklands Light Railway</li>
		<li>TfL-controlled roads (e.g. adverts on roundabouts and bus stops owned by TfL)</li>
		<li>River services</li>
		<li>Tram</li>
		<li>Emirates Air Line</li>
		<li>Victoria Coach Station</li>
		<li>Dial-a-Ride</li>
		<li>Taxi and Private Hire Vehicles</li>
	</ul>
	</li>
</ul>

<ul>
	<li>Last month, Public Health England revealed that over 37 per cent of 10 and 11-year-olds in London are overweight or obese <a href="[ioID]#https://www.gov.uk/government/news/record-high-levels-of-severe-obesity-found-in-year-6-children">https://www.gov.uk/government/news/record-high-levels-of-severe-obesity-found-in-year-6-children</a></li>
	<li>Veg Power was created by Peas Please, a collaboration between the Food Foundation, Nourish Scotland, Food Cardiff and the WWF to make it easier for people to choose veg.</li>
	<li>With the help of Hugh Fearnley-Whittingstall, Jamie Oliver, Dr Rangan Chatterjee and doctors, chefs, teachers and experts in children's health, the campaign is working to inspire kids to love their veg and to support parents to get more veg into their children's diet. For more information, visit <a href="[ioID]#https://vegpower.org.uk/">https://vegpower.org.uk/</a></li>
	<li>The ban will apply to all adverts for food and drink categorised as &quot;less healthy&quot; under the Government's Nutrient Profiling Model (NPM), which is maintained by Public Health England. The Mayor is supporting the use of the NPM on the basis that it is widely used and has been subject to rigorous scientific scrutiny, extensive consultation and review. The scoring system it uses also already balances the contribution made by beneficial nutrients that are particularly important in children's diets with components in food that children should eat less of.</li>
	<li>The NPM was developed by the Food Standards Agency (FSA) in 2004-2005 to differentiate foods and improve the balance of television advertising seen by children. Since 2007, the broadcast regulator Ofcom has applied controls which restrict the advertising of foods high in fat, salt and sugar in order to encourage the promotion of healthier alternatives to unhealthy or 'HFSS' food.</li>
	<li>Since 2017, this model is also used by the Advertising Standards Authority, to restrict advertising for less healthy foods in non-broadcast media (including print, cinema, online and in social media).</li>
	<li>Changes will be made to TfL's advertising policy to reflect these restrictions. Draft guidance for advertisers and their agencies are available here: <a href="[ioID]#www.london.gov.uk/food">www.london.gov.uk/food</a> This will be developed further over the coming weeks.</li>
	<li>Under section 155 of the GLA Act, the Mayor has power to issue Transport for London (TfL) with guidance, general directions, and specific directions, about the exercise of TfL's functions. This includes the manner in which TfL uses its advertising estate.</li>
	<li>Food and drink that is high in fat, sugar or salt under the NPM model, and not included within the exemptions, cannot feature in any advertisements, regardless of whether healthier options are also shown or who the advertiser is, unless an exception has been granted to a particular product.</li>
	<li>TfL's advertising estate is the most valuable out-of-home advertising estate in the world, providing advertisers with access to a huge and diverse audience. This includes 30 million journeys made on TfL's transport network every day.</li>
	<li>The Mayor and TfL believe any revenue loss will be minimised through TfL continuing to work with the advertising industry and brands, including through the allocation of expenditure to healthy alternatives.</li>
	<li>The Mayor's Office is currently drawing up proposals for an evaluation. The evaluation will cover both the process of how the policy is implemented and its impact.</li>
	<li>The policy aims to reduce the exposure of children to HFSS food and non-alcoholic beverage advertising across the Transport for London (TfL) network. City Hall will repeat an audit of HFSS food and non-alcoholic beverage adverts after the policy implementation period to see if they have disappeared.City Hall will also look at wider possible impacts, both potential benefits and unintended consequences. Some of these wider impacts may only become apparent years in the future, so it important to collaborate with partners who can monitor the impact of this policy in the longer term. City Hall will work with academics and local authority partners, who are planning different, but complementary, evaluations of HFSS food and non-alcoholic beverage advertising.The results will be shared internationally and nationally to decision makers in other cities, academics, professionals and the general public.</li>
	<li>The draft London Food Strategy was developed by the London Food Board, chaired by Claire Pritchard, which advises the Mayor on food policy. The final Strategy will be published next month.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Mayor confirms ban on junk food advertising on transport network  -->

 
 
        
        
            @{ViewBag.Description = "Mayor confirms ban on junk food advertising on London transport network ";}
        
        


 