


@{ViewBag.Title = "REMINDER - Strikes to affect Central, Piccadilly and Waterloo & City lines later this week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">REMINDER - Strikes to affect Central, Piccadilly and Waterloo & City lines later this week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>REMINDER - Strikes to affect Central, Piccadilly and Waterloo & City lines later this week</h1>
        <div class="content-page-press-release">
        06 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers advised to plan journeys before travelling
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) today reminded customers that a planned Tube strike will affect the Central, Piccadilly and Waterloo &amp; City lines from this Wednesday, 7 November.</p>

<p>The strikes will mean no service on the Central and Waterloo &amp; City lines all day on Wednesday. On the Piccadilly line, the action starts later on Wednesday, so customers should complete journeys by 13.30. There will also be no service on the Piccadilly line on the morning of Thursday 8 November, with trains resuming at around 15.00.</p>

<p>The action is being carried out by members from both Aslef and RMT on the Central and Waterloo &amp; City lines and by RMT members on the Piccadilly line. Should the action go ahead some stations on the Tube network will be busier than usual; all other lines will operate as normal. These include central London stations like King's Cross St Pancras, Liverpool Street, Green Park, Bond Street, Oxford Circus, Piccadilly Circus and Tottenham Court Road, as well as hubs outside central London such as Stratford, Finsbury Park, Leytonstone and Ealing Broadway.</p>

<p><strong>Nigel Holness, Managing Director of London Underground, said:</strong> `The strike action called by both RMT and Aslef this week is totally unjustifiable. Both are demanding the reinstatement of drivers sacked over serious safety breaches &#45; one who deliberately opened the doors of a train in a tunnel, and one who failed a drugs test. We always strive to run a reliable service for our customers but our commitment to the safety of both customers and staff is absolute and something we will never compromise on. I urge the unions to call off this entirely unnecessary strike action which will only cause disruption to our customers.`</p>

<p>The disputes with both the RMT and Aslef on these lines have been attributed to a general breakdown in industrial relations. However, agreements have been made on all but a few points between TfL and the unions following extensive discussions at ACAS. The key points in these disputes are two cases of individual drivers being dismissed on the Central line. In one case, a driver deliberately overrode safety protocols on a train while in customer service in order to open the doors of the train in a tunnel. In another, a driver failed an unannounced drugs test prior to starting their shift. Both of these cases are serious breaches of safety which endangered the lives of customers.</p>

<p>TfL will provide around 150 extra buses on Wednesday to help customers move around the city despite the strikes, and over 80 extra buses on Thursday as the Piccadilly line recovers to a normal service. The Mayor's Hopper fare is also available all day and night - allowing Londoners to take unlimited bus and tram journeys across the capital within an hour for just &pound;1.50. Buses, DLR, London Overground and TfL Rail services will accept Tube single and return tickets and National Rail cross-London tickets on reasonable alternative routes.</p>

<p>Customers travelling to Heathrow Airport can use TfL Rail and Heathrow Express services from Paddington. TfL travel ambassadors will also be at key stations and locations to assist customers to re-plan journeys.</p>

<p>Customers can keep up-to-date with the latest service information in a variety of ways, including:</p>

<p>Information on the TfL website at www.tfl.gov.uk/tube-strike</p>

<p>Real-time information on the TfL Twitter accounts, including &#64;TfLTravelAlerts and &#64;Centralline, as well as the TfL Travelbot on Facebook messenger</p>

<p><strong>Notes to editors</strong></p>

<p>The strike on the Central and Waterloo &amp; City lines will run from 00.01 until 23.59 on Wednesday 7 November. The strike on the Piccadilly line is scheduled from 12.00 on Wednesday 7 November until 12.00 on Thursday 8 November.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-REMINDER - Strikes to affect Central, Piccadilly and Waterloo & City lines later this week -->

 
 
        
        
            @{ViewBag.Description = "reminder strikes to affect central piccadilly waterloo and city";}
        
        


 