


@{ViewBag.Title = "Stopping in yellow boxes could delay emergency responses";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Stopping in yellow boxes could delay emergency responses</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Stopping in yellow boxes could delay emergency responses</h1>
        <div class="content-page-press-release">
        21 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and the London Fire Brigade reminder as more than 120,000 penalty charge notices were given out to motorists stopping in yellow box junctions last year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We urge everyone to be mindful that these junctions are there for a very good reason.&quot;

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Director of Compliance, Policing and On-street Operations, TfL </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Motorists urged to avoid stopping in these junctions to reduce the number of penalty charge notices imposed</li>
	<li>Yellow box junctions vital to keep junctions clear for emergency vehicles, to reduce delays and keep road users safe</li>
</ul>

<p>Transport for London (TfL) and the London Fire Brigade (LFB) are reminding motorists not to stop in yellow box junctions to reduce the number of penalty charge notices issued and keep traffic flowing. Stopping in these boxes is illegal and could also cost the LFB vital time in responding to emergency incidents.</p>

<p>In 2017/18, 123,071 penalty charge notices were issued to motorists across London for stopping in yellow box junctions. The top locations were outside fire stations, with 16,707 motorists stopping outside Wandsworth Fire Station and 12,071 outside Homerton Fire Station.<br />
TfL's priority is keeping the road network moving as efficiently as possible and also wants to reduce the number of fines issued. Yellow box junctions are designed to keep junctions clear for through-traffic, to avoid congestion. They also keep road space free for emergency vehicles to respond to 999 calls, for buses to exit bus stations and also keep space free for people to cross the road safely.</p>

<p>Siwan Hayward, TfL's Director of Compliance, Policing and On-street Operations, said:</p>

<p>'Yellow box junctions are vital in reducing delays, keeping road users safe and London moving, and enabling the emergency services to respond to incidents without delay. That's why it's really important that motorists don't stop in them.</p>

<p>'Stopping in a yellow box junction is illegal and can incur a fine, which we enforce as part of the traffic regulations on the capital's Red Routes, with all revenue reinvested in the transport network. We would rather not issue fines to motorists for breaking the rules of the road and urge everyone to be mindful that these junctions are there for a very good reason.'</p>

<p>Tom George, Deputy Commissioner at London Fire Brigade, said:</p>

<p>'Don't block us in. If you are stopping in a yellow box junction outside a fire station, you are putting lives at risk by slowing down fire engines on their way to an emergency.</p>

<p>'I'd urge all road users to think of their actions when they see emergency vehicles traveling on blue lights. Consider the route a fire engine might need to take and if necessary, safely pull over if you see us approaching.'<br />
&nbsp;<br />
Yellow box junctions are indicated by criss-cross yellow lines painted on the road. They are usually found at the junction of two or more roads and occasionally at roundabouts or outside fire and ambulance stations. Motorists may enter a yellow box junction when the exit is clear and there is enough space on the other side of the junction for their vehicle to clear the box completely without stopping.</p>

<p>More than a third of all London's traffic use TfL's red routes and vehicles that block roads, drive in bus lanes, park incorrectly or make banned turns, not only cause inconvenience to road users, but create hazards, particularly for people walking and cycling. By keeping these main routes clear, road danger and congestion are reduced, ensuring that London remains an efficient, well-functioning city.</p>

<p>TfL reinvests any money received from any penalty charge notices back into London's transport network for maintenance, reducing danger on the road and transforming the capital's streets into more attractive, accessible and welcoming places, in line with the Mayor's Transport Strategy.</p>

<p>As part of its Vision Zero approach to eliminate death and serious injury from London's roads, TfL is working closely with the emergency services. Ensuring that first responders can get to incidents quickly and safely is an important part of how TfL manages the road network.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>The yellow boxes at West Hill/Wandsworth Fire Station and Homerton High Street/Homerton Fire Station are both outside fire stations and are in place to facilitate the London Fire Brigade in responding to emergencies. Vehicles in the yellow boxes directly block the path of vehicles leaving the fire station</li>
	<li>Full information on yellow boxes, including a useful video, is available on TfL's website at <a href="[ioID]#https://tfl.gov.uk/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">https://tfl.gov.uk/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-Stopping in yellow boxes could delay emergency responses -->

 
 
        
        
            @{ViewBag.Description = "TfL and the London Fire Brigade remind motorists that stopping in yellow boxes could delay emergency responses";}
        
        


 