


@{ViewBag.Title = "TfL and Bosch launch partnership to tackle transport problems of the future";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Bosch launch partnership to tackle transport problems of the future</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Bosch launch partnership to tackle transport problems of the future</h1>
        <div class="content-page-press-release">
        13 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Small businesses and start-ups will have the opportunity to work with renowned experts and use cutting-edge data to develop innovative transport solutions in a new collaboration between Transport for London (TfL) and Bosch.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This initiative will foster closer working between London's tech sector and other leading tech cities.
If we are to use data and smart technology to help solve the biggest problems our city faces, it's crucial we take a more collaborative approach. I see London's future as a global 'test-bed city' for civic innovation, where the best ideas are developed, amplified and scaled.
I've been clear I want London to become the world's smartest city and this is a further step towards realising that ambition."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>An 18-month pilot programme will match leading technical experts from TfL and Bosch, a leading global supplier of technology and services, with a range of small businesses and start-ups, to help understand how data and technology could be used to solve key transport issues.</p>

<p>These include more efficient, greener and safer vehicles, reducing congestion and encouraging more people to walk, cycle and take public transport across London.</p>

<p>Throughout the collaboration, TfL will provide technical knowledge and a wide range of datasets to allow companies to test ideas and understand patterns in more detail than has previously been possible. This data will be based on TfL's existing Unified API and open data platform, which already helps to power nearly 700 apps used by 42 per cent of Londoners.</p>

<p>In return, Bosch will dedicate urban mobility professionals to provide technical expertise, guidance and mentoring. Bosch will also provide dedicated space for TfL and selected start-ups within their new 'Connectory' facility in Shoreditch. This new 'urban mobility' lab is the first of its kind with a primary focus on urban mobility, and will provide the forum for private sector partners, academia and public sector to work together to tackle a range of problems facing Londoners in years to come.</p>

<p>In the last decade, London's population has continued to grow, with latest forecasts predicting it will reach 10.8 million by 2041 &#45; generating around six million additional trips every day. As the capital looks to bolster its global reputation as an open and influential city for business, harnessing new talent will be crucial in keeping the capital's economy thriving.</p>

<p>The Connectory will also be used by a range of other companies, allowing greater opportunity for collaboration and knowledge-sharing which was not previously possible for small businesses working alone. By facilitating closer collaboration, TfL and Bosch hope to support start-ups to develop a range of smart products and help them identify ways to bring them to market more quickly through open procurement. Subject to the success of the pilot programme, similar approaches may be taken to other aspects of the Greater London Authority's work including housing, environment and policing, with a focus on delivering objectives within the Mayor's London Plan.</p>

<p>London has a track record in world-leading innovation in transport and mobility, from the introduction of contactless payments to the trialling of autonomous vehicles in the Queen Elizabeth Olympic Park and the London Borough of Greenwich. Earlier this year, the Mayor launched his Smarter London Together roadmap, which outlined five missions which will help make the city smarter and improve its ability to develop the best innovation created by the public and tech sectors across the city.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-TfL and Bosch launch partnership to tackle transport problems of the future -->

 
 
        
        
            @{ViewBag.Description = "TfL and Bosch launch partnership to tackle transport problems of the future";}
        
        


 