


@{ViewBag.Title = "TfL sets out new commitments to small businesses to help them to thrive in the capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out new commitments to small businesses to help them to thrive in the capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out new commitments to small businesses to help them to thrive in the capital</h1>
        <div class="content-page-press-release">
        28 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL's 'Statement of Support' for small businesses includes commitment to publish the percentage of tenants that are small businesses every year and the average percentage rent increase with these small businesses
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Small businesses are an essential part of local communities as well as being the drivers of the capital's economy, so we are determined to support entrepreneurs and help them to thrive"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published its 'Statement of Support for Small Businesses' ahead of Small Business Saturday on 1 December.</p>

<p>The statement showcases TfL's commitment to the SME community and its understanding that small businesses are drivers of the capital's growth and are vital to ensuring London is the best city in the world.</p>

<p>TfL is one of London's largest landowners, with more than 2,000 commercial units and more than 90% of its tenants are small businesses.</p>

<p>Earlier this year, the Federation of Small Businesses (FSB) called on landowners in London to publicly show their commitment to small businesses and proactively support them, so that they can flourish in the capital.</p>

<p>TfL is the first landlord to respond to the FSB's call.</p>

<h2>Proactively support small businesses</h2>

<p>TfL's statement of support sets out how it intends to be a landlord that is easy to work with.</p>

<p>The statement highlights the importance of the landlord-tenant relationship and how TfL can positively enable small businesses on its estate to thrive. The statement includes a commitment from TfL to:</p>

<ul>
	<li>Create a dedicated small business policy</li>
	<li>Simplify its leases to make them easier to understand</li>
	<li>Be open and transparent, providing small businesses with evidence and comparable data during rent reviews and lease renewals</li>
	<li>Ensure each tenant has a dedicated property manager</li>
	<li>Encourage and help its tenants to seek guidance and support when they need it, helping them to flourish</li>
	<li>Survey its tenants' satisfaction annually to monitor its performance as a landlord</li>
	<li>Share the successes of the small businesses across its estate, encouraging growth and opportunity</li>
	<li>Publish the percentage of tenants that are small businesses each year</li>
	<li>Publish the average percentage rent increase for rent reviews with small businesses each year</li>
</ul>

<p>There&nbsp;is an array of small businesses across the TfL estate and each of them is playing an important role in supporting the capital's vibrant economy, making it a great place to live, work and visit.</p>

<p>With Small Business Saturday approaching, TfL is also encouraging its customers to discover all of the different opportunities on offer, from picking up a coffee from Change Please in Clapham Common Tube station or The Coffee Run outside Seven Sisters Tube station, to learning how to ride a horse at Ealing Riding School or stand-up paddle boarding on the Thames at Active 360.</p>

<h2>Vibrant economy</h2>

<p>Two of the small businesses located on TfL's estate, ROLI Ltd and Wave Brazilian Jiu Jitsu, have been recognised as part of Small Business Saturday's Small Biz 100, and illustrate the diversity of small businesses across the capital that Londoners and visitors to the city can take advantage of.</p>

<p>ROLI Ltd, located in Dalston, provides music technology that is changing the way music is made and its electronic music keyboards enable music makers to use touch to create any sound.</p>

<p>Meanwhile, Wave Brazilian Jiu Jitsu offers customers the opportunity to sharpen their martial arts and self-defence skills while getting fit in a fun atmosphere at their classes in Stamford Brook.</p>

<p>Graeme Craig, Director of Commercial Development at TfL, said: 'As one of London's largest landlords, we know the huge value of small businesses in supporting the economy and ensuring London is the best city in the world.</p>

<p>'Our statement of support shows how we take our responsibilities to small businesses and as a public sector landlord seriously.</p>

<p>'We believe that fostering good relationships with our tenants plays a vital role in creating an environment where small businesses are able to thrive and grow, while generating revenues to reinvest in the transport network.</p>

<p>'It's fantastic to see two of our small businesses recognised in the Small Biz 100 and I urge everyone to explore all of the different opportunities that our tenants have to offer.'</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'I'm really pleased that Transport for London is leading the way and has pledged to do even more to support London's small businesses.</p>

<p>'Small businesses are an essential part of local communities as well as being the drivers of the capital's economy, so we are determined to support entrepreneurs and help them to thrive.</p>

<p>'From coffee shops in Clapham Common and Seven Sisters to a riding school in Ealing, there's a wide variety of small businesses across Transport for London's estate and this is something that should be celebrated and nurtured.'</p>

<h2>Support entrepreneurs</h2>

<p>Sue Terpilowski OBE, London Policy Chair, Federation of Small Businesses, said: 'FSB London Region highly welcomes this statement of support from Transport for London and is delighted that the average percentage rent increase for rent reviews with these small businesses each year will be made public.</p>

<p>'Transport for London has made a strong intention to create strong partnerships with tenants and we urge the other major landlords in the capital to follow suit and to stop paying 'lip service' to their tenants at a time when businesses need to be competitive, and, have a landlord who can see their moral duty to independent retailers and not using them simply as a cash cow.'</p>

<p>Michelle Ovens MBE, director of Small Business Saturday, said: 'We welcome the statement of support from Transport for London,&nbsp;as it recognises the importance of supporting small businesses not just at this time of year, but all year round.</p>

<p>'As small businesses make up 99% of the companies in the UK, taking this moment ahead of Small Business Saturday on the 1st December to commit to these companies is critically important.</p>

<p>'Reasonably priced rent&nbsp;certainty&nbsp;helps small businesses grow and flourish, providing&nbsp;a wider economic boost for local communities, and when they flourish, we all benefit.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Please find TfL's 'Statement of Support for small businesses' here: <a href="https://tfl.gov.uk/info-for/business-and-commercial/guidance-and-policies?intcmp=53782">https://tfl.gov.uk/info-for/business-and-commercial/guidance-and-policies?intcmp=53782</a></li>
	<li>TfL has more than 2,000 commercial units, including 1,000 retail units, 800 commercial railway arches and meanwhile spaces, which it leases out for a huge range of uses. More than 90 per cent of its tenants are small businesses</li>
	<li>Find out more about the TfL estate and how to rent a property to suit your business needs here: <a href="http://www.tfl.gov.uk/commercial-properties">http://www.tfl.gov.uk/commercial-properties</a></li>
</ul>

<p>For more information about the small businesses mentioned, please visit:</p>

<ul>
	<li>Wave Brazilian Jiu Jitsu: <a href="http://www.wavebjj.co/">http://www.wavebjj.co/</a></li>
	<li>ROLI Ltd: <a href="https://roli.com/">https://roli.com/</a></li>
	<li>Change Please: <a href="http://www.changeplease.org/">http://www.changeplease.org/</a></li>
	<li>The Coffee Run: <a href="http://www.thecoffeerun.net/">http://www.thecoffeerun.net/</a></li>
	<li>Ealing Riding School: <a href="https://ealingridingschool.biz/">https://ealingridingschool.biz/</a></li>
	<li>Active 360: <a href="https://www.active360.co.uk/">https://www.active360.co.uk/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-TfL sets out new commitments to small businesses to help them to thrive in the capital -->

 
 
        
        
            @{ViewBag.Description = "Transport for London sets out new commitments to small businesses to help them to thrive in the capital";}
        
        


 