


@{ViewBag.Title = "GLA - Work begins to transform Old Street roundabout";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Work begins to transform Old Street roundabout</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Work begins to transform Old Street roundabout</h1>
        <div class="content-page-press-release">
        26 November 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The work will completely overhaul the traffic-dominated roundabout, creating an area safer for cycling and walking, with a major new public space
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every death or serious injury on London's roads is one too many, and the improvements at Old Street are part of our ambitious plans to improve road safety all across London 
 

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/work-begins-to-transform-old-street-roundabout">london.gov.uk</a></p>

<ul>
	<li>The plans are part of TfL's Vision Zero ambition to eliminate all death and serious injury from London's roads by 2041.</li>
	<li>TfL worked with boroughs and contractors to bring forward the start of work to this year.</li>
</ul>

<p>Transport for London (TfL), and Islington and Hackney Councils have started work at Old Street to remove the outdated 1960s roundabout and create a transformed environment that is safer for cycling and walking.&nbsp;</p>

<p>The work will see the northwest arm of the roundabout close permanently to all traffic, creating a major new public space with better walking and cycling access to Old Street station. Traffic will operate two-way through the redesigned junction, with fully segregated cycle lanes and cycle-only traffic signals around the re-designed junction.</p>

<p>The works will significantly reduce danger for cyclists and other vulnerable road users and enable new people to cycle who were previously put off by the roundabout. Some of the subways around Old Street will also be closed and replaced with new surface-level pedestrian crossings, making journeys in the area quicker and easier for people walking.</p>

<p>Preparation work on the roundabout and nearby roads has now started, with utility providers such as Thames Water and other contractors working at the site.</p>

<p>In August, the Mayor announced he wanted to see the project brought forward and begun this year. TfL have worked closely with the councils and project contractors to ensure the improvements can be completed as quickly as possible, and this includes agreeing to extended working hours to reduce the overall duration of the work. The transformation is expected to be complete by the end of 2020 and residents and visitors are advised to visit tfl.gov.uk/old-street-roundabout for more information about changes to travel during the work.</p>

<p>Mayor of London, Sadiq Khan said:<br />
'I announced over the summer that I wanted to see improvements at Old Street brought forward, and I'm delighted that work to transform the junction has now begun. Old Street is one of the busiest junctions in London, but is currently an outdated roundabout that needs to be made safer for the thousands of people who pass through it every day.</p>

<p>'New segregated cycle lanes will transform safety for cyclists, and new pedestrian crossings and a new public space will make Old Street cleaner, safer and more pleasant for everyone spending time in the area.</p>

<p>'Every death or serious injury on London's roads is one too many, and the improvements at Old Street are part of our ambitious plans to improve road safety all across London.'</p>

<p>Following TfL's recently completed improvement work at Charlie Brown's Roundabout in Redbridge, TfL has improved 27 junctions across the capital in recent years to help achieve Vision Zero and reduce danger to people walking and cycling.</p>

<p>Work also continues to transform Highbury Corner, another outdated roundabout. New paving has been installed outside Highbury &amp; Islington station and a new direct crossing has opened. Work at the junction will be complete by summer 2019.</p>

<p>Cllr Claudia Webbe, Islington Council's executive member for environment and transport, said:</p>

<p>'This is a once-in-a-generation opportunity to transform a polluted, outdated junction so that priority and space is given to people instead of vehicles. This will contribute towards Old Street being a great place to live, work, study and visit with significant safety improvements for pedestrians and cyclists, public transport users, and people who live and work nearby. Known around the world, Old Street is evolving and this bold transformation will create an attractive place to enjoy, walk, cycle and spend time making it fit for the future. And together with our plans for an 'Iconic Gateway' at Old Street, this transformation will meet the increased demand for high quality public spaces.&nbsp; In partnership with Hackney Council and the Mayor of London we will work closely with TfL to ensure any disruption is kept to a minimum.'</p>

<p>Nick Fairholme, TfL's Director of Project and Programme Delivery, said:</p>

<p>'Old Street is the gateway to the Tech City economic and cultural powerhouse and our work will completely transform the area, creating Healthy Streets which are much more welcoming to people walking and cycling than the existing, outdated roundabout. We continue to work on our plans to transform junctions across the capital to ensure that all Londoners can benefit from the reduced road danger and help achieve our Vision Zero ambition, as well as improved air quality and better public spaces that projects such as Old Street create.'</p>

<p>Peter Morris, Chair at the Old Street District Partnership, said:</p>

<p>'The Old Street District Partnership welcomes TFL's announcement that the works to transform the Old Street roundabout are about to start. Not only will these works improve the look and feel of this key gateway to the Old Street area, but will also make for a more accessible, safer and healthier environment for the many people who live and work in the area, as well as visitors. The positive feedback we have received from our members only confirms this, especially given the ever increasing numbers of cyclists and pedestrians who use this route.'</p>

<p>Other measures included in the Mayor and TfL's Vision Zero action plan, announced this summer, include the introduction of lower speed limits on TfL's road network and the Direct Vision Standard. It also features a comprehensive bus safety programme including speed-limiting technology, new innovative training for all bus drivers and other measures. Each year more than 2,000 people are needlessly killed or seriously injured on London's streets, a number that would not be tolerated in any other setting.</p>

<p>TfL's Direct Vision Standard, a world first, rates HGVs based on how much the driver can see directly through their cab windows. HGV blind spots are a major contributory factor in fatal collisions involving cyclists and pedestrians. The standard focuses on the visibility from a driver's cab, directly tackling blind spots, and uses a ratings system to make sure that only vehicles suitable for the urban environment can use London's roads. The first permits under the system will be issued next year. Over the past three years, 63 per cent of cyclist deaths and 25 per cent of pedestrian deaths have involved a large goods vehicle.<br />
&nbsp;</p>

<hr />
<p><br />
Notes to editors:</p>

<ul>
	<li>The Vision Zero action plan is available here: <a href="[ioID]#content.tfl.gov.uk/vision-zero-action-plan.pdf">content.tfl.gov.uk/vision-zero-action-plan.pdf</a></li>
	<li>More information on the Highbury Corner project is available at <a href="[ioID]#tfl.gov.uk/highbury-corner">tfl.gov.uk/highbury-corner</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-November-GLA - Work begins to transform Old Street roundabout -->

 
 
        
        
            @{ViewBag.Description = "GLA - Work begins to transform Old Street roundabout";}
        
        


 