


@{ViewBag.Title = "Exhibition and consultation on Bank Stn upgrade plans ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Exhibition and consultation on Bank Stn upgrade plans </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Exhibition and consultation on Bank Stn upgrade plans </h1>
        <div class="content-page-press-release">
        27 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Exhibition and consultation on Bank station upgrade construction plans 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Bank is a key
interchange for our customers and it's vital that we keep pace with the
increase in demand we're seeing now and in the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Davod Waboso CBE</div>
            <div class="quotee-job-title">London Underground's Capital Programmes Director</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Customers
        and City organisations will get another opportunity to have their say on
        Transport for London's (TfL's) construction proposals for a major upgrade of
        Bank station from next week when an online public consultation begins supported
        by an exhibition on 12 &amp; 13 June.
        &nbsp;
        </p>
        <p>TfL
        is proposing to substantially upgrade the capacity of Bank station from 2016.
        &nbsp;</p>
        <p>This will provide more space to get on and off Northern line trains,
        quicker interchange, and improved accessibility.
        &nbsp;
        </p>
        <p>The
        Bank/Monument station complex, located in the heart of the City of London's
        financial district, is the fourth busiest interchange station on the
        Underground network with 98 million customers using the station in 2012/13.
        </p>
        <p>This is set to increase in the coming years, so TfL is planning a major upgrade
        of the six-line interchange which will increase capacity and provide a
        step-free route between the Northern line platforms, Docklands Light Railway
        and street levels.
        </p>
        <p>This summer TfL will be applying for a Transport &amp; Works Act Order, which
        if granted will give permission to do the work. Before this, TfL is holding
        another public consultation. </p>
        <p>Feedback from
        this will add to what has been learnt from previous consultations.
        &nbsp;
        </p>
        <p>Since
        the last consultation in October 2013, TfL have further developed the plans,
        and would like to hear views on:</p>
        <ul>
            <li>How the scheme will be built, including
            construction logistics</li>
            <li>Construction effects, including management of
            any noise, vibration and ground settlement</li>
            <li>Impacts of a temporary closure of the
            Northern line City branch in Spring 2020
            &nbsp;
            </li>
        </ul>
        <p>The
        consultation will run from 2 June until 6 July 2014. </p>
        <p>Please visit www.tfl.gov.uk/bank-consultation and
        tell us what you think.
        &nbsp;
        </p>
        <p>TfL
        will also be holding a public exhibition on 12 and 13 June from 11am until 6pm
        at St Mary Abchurch, Abchurch Lane EC4N 7BA (off Cannon St and King William
        St).
        &nbsp;
        </p>
        <p>TfL has sought to maximise the scheme's
        benefits to customers while reducing costs by taking a new approach to
        procurement (&quot;innovative contractor engagement&quot;) that rewards innovation
        throughout the supply chain. Adopting this method on the Bank project has
        delivered 45 per cent additional value through cost savings and improved
        benefits. </p>
        <p>This has reduced the estimated final cost of the project by &pound;61m and
        cut planned engineering closures by more than 22 per cent.
        &nbsp;
        </p>
        <p>David
        Waboso, London Underground's Capital Programmes Director, said: &quot;Bank is a key
        interchange for our customers and it's vital that we keep pace with the
        increase in demand we're seeing now and in the future. We've adopted a new
        innovative approach to developing the Bank proposals which has allowed us to
        incorporate innovations through market competition. Now we are giving our
        customers another opportunity to give their views on our construction plans to
        create a modern Tube interchange that will result in quicker and easier
        journeys.&quot;
        &nbsp;
        </p>
        <p>The upgrade of the station
        is planned to&nbsp;be delivered in 2021.</p>
        <p>The improvements are part of the
        continuing modernisation of the Underground, with major stations, trains, track
        and signalling being upgraded to provide more capacity for a growing city. LU's
        plans to improve customer service will also see the public areas of stations &#45;
        ticket halls, ticket gates and platforms &#45; become personalised customer service
        centres, replicating the standards of service offered during the London 2012
        Games.
        &nbsp;
        </p>
        <p>The
        exhibition will include a three-dimensional model of the planned improvements,
        an architect's animated film and displays showing greater detail of various
        aspects of the plans. </p>
        <p>TfL staff will be on hand at the public exhibition to
        explain more about the plans and answer questions.
        </p>
        <p>All views expressed through the consultation will be taken into account in
        progressing the scheme, and a summary of consultation responses will be
        published on line <a href="https://consultations.tfl.gov.uk/">here</a>&nbsp;
        &nbsp; </p>
         
        <hr />
         
        <ul>
            <li>Following
            a competitive tendering process, TfL awarded the contract for the Bank
            station upgrade to Dragados SA in July 2013. </li>
            <li>The
            Bank/Monument complex is served by six lines: Northern, Central, Waterloo
            &amp; City, District, Circle and DLR.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-Exhibition and consultation on Bank Stn upgrade plans  -->

 
 
        
        
            @{ViewBag.Description = "Exhibition and consultation on Bank station upgrade construction plans ";}
        
        


 