


@{ViewBag.Title = "Full Tube services in operation after RMT strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Full Tube services in operation after RMT strike</h1>
        <div class="content-page-press-release">
        01 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers thanked for their patience, and volunteers and transport staff thanked for keeping London moving
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Under our plans to modernise the Tube, we're committed to a safe railway with an increased number of visible staff - by 30 per cent at our busiest stations - personally serving our passengers.  That means more staff than ever on hand providing help for customers who need it most."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Around 90 per cent of usual number of Oyster cards were used on the TfL network</li>
            <li>The Tube carried up to 57 per cent of its usual passenger numbers, a record high during strike action, and up to 80 per cent of stations were open</li>
            <li>RMT union urged to join LU and the other unions in continuing discussions rather than threatening more disruption&nbsp; </li>
        </ul>
        <p>Full Tube services are in operation this morning following the pointless strike called by the leadership of the RMT union.&nbsp;</p>
        <p>London Underground (LU) operated over 50 per cent of Tube services across the 48-hour action, far higher than during the last strike in February. </p>
        <p>LU carried 57 per cent of its usual passenger numbers yesterday, a record for a strike day, and around 80 per cent of stations were open.&nbsp;</p>
        <p>Services ran on 10 of the 11 lines for most of the strike, with all 11 lines running during yesterday's morning peak. &nbsp;</p>
        <p>Around 90 per cent of Oyster cards that would usually be seen on the TfL network were seen &#45; showing that London carried on working and open for business. &nbsp;</p>
        <p>The highest number of buses ever seen in London helped Londoners get around and Barclays Cycle Hire journeys were up by over 70 per cent and journeys reached record numbers since the Olympic Games.&nbsp;</p>
        <p>Many thousands of staff and volunteer Travel Ambassadors drawn from TfL's support functions were out in force working hard to help customers and road users make their journeys.&nbsp;</p>
        <p>The strikes were called by the leadership of the RMT union over plans to modernise the Tube. </p>
        <p>Under these plans, at the busiest stations there will be nearly a third more staff visible and available to provide, on a permanent basis, the face-to-face customer service offered during the London 2012 Games. </p>
        <p>Visitors to London and people with disabilities will be better looked after than ever before.&nbsp;</p>
        <p>The modernisation will see savings of &pound;50 million a year which will be reinvested in more frequent and reliable train services and will help keep fares down.&nbsp;</p>
        <p>Safety and security will never be compromised. </p>
        <p>Safety is not controlled from ticket offices but by station supervisors and dedicated control rooms. </p>
        <p>This will continue.&nbsp;LU has made five commitments to customers:</p>
        <ul>
            <li>All stations will remain staffed and controlled at all times, with more staff visible and available to help customers and keep them safe and secure</li>
            <li>A new 24-hour service on core parts of the Tube network at weekends from 2015</li>
            <li>More frequent and reliable train services with better, more accessible stations</li>
            <li>Simpler ticketing, including contactless bank card payment with daily and weekly fares capping</li>
            <li>The best possible value by running our services as efficiently as possible while improving customer service </li>
        </ul>
        <p>From day one, LU has also guaranteed that modernisation will be taken forward with no compulsory redundancies and that there is a job for everyone who wants to continue working at LU.</p>
        <p>Mike Brown, Managing Director of London Underground, said: </p>
        <p>'I apologise for the disruption caused to Londoners as a result of the RMT's pointless strike, and thank everyone for the patience they showed throughout. I also thank the thousands of volunteers and transport staff, including many London Underground staff, who worked hard to keep London moving and open for business. &nbsp;</p>
        <p>'Under our plans to modernise the Tube, we're committed to a safe railway with an increased number of visible staff - by 30 per cent at our busiest stations - personally serving our passengers.&nbsp; That means more staff than ever on hand providing help for customers who need it most. Fairness to our staff is guaranteed. There will be no compulsory redundancies, there is a job for all staff wanting to remain with us and no one will lose pay. &nbsp;&nbsp;</p>
        <p>'We have made significant changes to our original proposals after listening to our people and the unions. The only sensible course is for the RMT leadership to join us and the other unions in continuing discussions and to work with us to shape the future of the Tube rather than threatening more disruption.' </p>
        <p>In more than 40 meetings over eight weeks, the RMT leadership has failed to put forward a single credible idea of their own to respond to a changing world. </p>
        <p>Instead, they have demanded that all proposals for change should be stopped, and are also opposing voluntary redundancy as a choice for LU staff. </p>
        <p>All other unions continue to support offering staff the option of voluntary redundancy as part of modernisation and over 650 staff have already formally applied for voluntary redundancy with hundreds more expressing an interest.</p>
        <p>London Underground will be discussing its proposals further with the unions at the conciliation service ACAS on Friday, and is urging the RMT leadership to remove the threat of further disruption.&nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Full Tube services in operation after RMT strike -->

 
 
        
        
            @{ViewBag.Description = "Full Tube services in operation after RMT strike";}
        
        


 