


@{ViewBag.Title = "London's New Routemaster immortalised in print";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s New Routemaster immortalised in print</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s New Routemaster immortalised in print</h1>
        <div class="content-page-press-release">
        29 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fully illustrated book tells the story of the capital's newest transport icon
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In London, buses
make a real difference to the way we live, how we get about and the manner in
which this remarkable city operates"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">

        <p>A
        fully illustrated book entitled London's New Routemaster, which tells
        the official story of the first bus designed specifically for the capital in
        more than 50 years, has been launched today (Thursday 29 May).
        </p>
        <p>The
        book, which is published by Merrell in association with Transport for London
        (TfL), includes contributions from key personnel involved in the design and
        manufacturing process and takes a fascinating behind-the-scenes look at the
        evolution of a bus that is already proving a popular successor to the
        much-loved Routemaster.&nbsp;
        &nbsp;
        </p>
        <p>Released
        during Year of the Bus, the book places the New Routemaster in the context of
        its predecessors, from horse-drawn double-deckers to the revolutionary
        Routemaster.
        &nbsp;
        </p>
        <p>The
        New Routemaster was designed by Thomas Heatherwick, who was responsible for the
        stunning Olympic cauldron, and is engineered and manufactured by the family
        owned Wrightbus company in Northern Ireland.</p>
        <p>It's
        the greenest diesel electric double deck hybrid bus in the world; in tests a
        prototype bus was found to emit a quarter of the NOx (Oxides of Nitrogen) and
        'PM' (Particulate Matter) of a fleet average hybrid bus and 20 per cent less CO2.&nbsp;
        </p>
        <p>When all 600 are in service in 2016 they will reduce CO2 emissions
        in the capital by around 20,600 tonnes a year.&nbsp;
        &nbsp;
        </p>
        <p>Leon
        Daniels, TfL's Managing Director of Surface Transport, said: &quot;In London, buses
        make a real difference to the way we live, how we get about and the manner in
        which this remarkable city operates. The New Routemaster is not only visually
        stunning but also has very low emissions, multiple doors for fast boarding and
        looks set to recapture the affections of Londoners and visitors to the city in
        much the same way that its iconic predecessor did on its introduction 60 years
        ago.&quot;
        &nbsp;
        </p>
        <p>The Year of the Bus
        celebrates the vital role buses play in the capital and seeks to re-connect
        Londoners with their bus network and remind people of the crucial part that
        London buses, the bus drivers and the staff who support them, play in keeping
        London moving 24 hours a day throughout the year.
        &nbsp;</p>
        <p>
        A range of events and
        activities are being staged in 2014 to celebrate buses and to mark a number of
        important anniversaries.&nbsp; </p>
        <p>This includes 60 years since the creation of the
        original and iconic Routemaster, 75 years since the launch of its predecessor
        the RT-type bus and 100 years since hundreds of London buses were sent to the
        Western Front to play a crucial role during the First World War.&nbsp;
        &nbsp;
        </p>
        <p>The
        introduction of New Routemaster buses is part of a comprehensive programme to
        reduce emissions from London's bus fleet which includes 1,700 hybrids on the
        street by 2016, accelerating the introduction of ultra low emission Euro VI
        buses and retrofitting 900 older buses to reduce their NOx emissions by up to
        88 per cent.</p>
         
        <hr />
         
        <ul>
            <li>Author
            Tony Lewin is a former editor of What Car? magazine, and
            launched Financial Times Automotive World.&nbsp; His numerous books
            on design and the automobile industry include A-Z of 21st-Century
            Cars (Merrell)</li>
            <li>
            London's
            New Routemaster (&pound;25 Merrell Publishers www.merrellpublishers.com) explores the complex challenges &#45; technical,
            environmental, political, economic and aesthetic &#45; involved in designing a
            bus that is intended to deliver the best possible experience for
            passengers.&nbsp; Interviews with key figures working on the project
            reveal how Transport for London, manufacturers Wrightbus and design
            consultants Heatherwick Studio formed a highly unusual yet remarkably
            smooth-running partnership to devise ingenious solutions to these
            challenges.&nbsp; Their quest to create a bus for twenty-first century
            London has resulted in a groundbreaking replacement for the globally
            recognised Routemaster
            &nbsp;
            </li>
            <li>The book
            contains more than 200 illustrations, forewords from Mayor of London,
            Boris Johnson, and designer Thomas Heatherwick, as well as a preface from
            London's Transport Commissioner, Sir Peter Hendy CBE and an introduction
            from Leon Daniels, TfL's Managing Director of Surface Transport</li>
            <li>For
            further information and review copies, please contact: Elizabeth of Mar at elizabethofmarpr&#64;yahoo.co.uk or 07870 276 375</li>
            <li>New
            Routemaster buses now operate across seven routes in the capital (9, 10, 11,
            24, 38, 148 and 390).&nbsp; The route 8 will be converted in June</li>
            <li>Further
            details of Year of the Bus can be found at: www.tfl.gov.uk/yearofthebus </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-London’s New Routemaster immortalised in print -->

 
 
        
        
            @{ViewBag.Description = "Fully illustrated book tells the story of the capital’s newest transport icon";}
        
        


 