


@{ViewBag.Title = "LU unveils new boarding ramps for a more accessible Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU unveils new boarding ramps for a more accessible Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU unveils new boarding ramps for a more accessible Tube</h1>
        <div class="content-page-press-release">
        16 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>UK's first 'bridge style'
            ramp design closes the gap between platform and train where traditional ramps
            could not be used</li>
            <li>Three stations set to use
            this new ramp from next month, enabling step-free access from street to train,
            with more to follow later in the year
            &nbsp;
            </li>
        </ul>
        <p>More Tube
        stations across the network are set to become easier to access for
        mobility-impaired customers following work by LU to create innovative new
        'bridge' style boarding ramps.
        &nbsp;
        </p>
        <p>The new ramps
        have been designed to solve the problem at stations where there is a gap and
        step down from platform to train. </p>
        <p>Traditional ramp designs are unsuitable for
        use in these situations, so LU has been working hard to develop and trial a
        unique new design, and gain the necessary approvals from the Department for
        Transport and Office of Rail Regulation. </p>
        <p>The ramps will be introduced at three
        Jubilee line stations during June - Kilburn, Stanmore and Wembley Park &#45; making
        journeys at these stations step-free from street to train, and fully accessible
        to wheelchair users, for the first time. </p>
        <p>These will then be introduced at
        further stations on the network later in the summer, following staff training.
        </p>
        <p>The work is part of a huge
        range of improvements being delivered by the Mayor and TfL to continue to embed
        the legacy of accessible travel promised after the 2012 Games. </p>
        <p>Many large-scale
        accessibility improvements are underway including TfL investing &pound;250 million in
        step-free projects at stations including Bond Street, Greenford, Tottenham
        Court Road, Vauxhall and Victoria. </p>
        <p>More step-free projects are being progressed
        with third party developers and additional stations are being made partially
        step-free. London will see
        at least 25 London Underground and London Overground stations become step-free
        over the next 10 years - as well as dozens of National Rail stations and
        accessible Crossrail stations in the heart of the city.
        </p>
        <p>LU's programme
        of accessibility work uses a mix of permanent level access at new stations,
        permanent raised platform sections, low-floor trains and boarding ramps. </p>
        <p>By
        2016 a third of Tube platforms will have level access by one of these means, up
        from 15 per cent last year.
        &nbsp;
        </p>
        <p>Isabel Dedring,
        Deputy Mayor for Transport said: "We've been determined to create a
        &nbsp;ramp which works at those tricky stations where there is a gap and step
        down from platform to train. This innovative new design is a UK first and will
        make a real contribution to boosting accessibility - opening up more Tube
        stations to more people. This is just one of the measures we're carrying out to
        make getting around London easier for everyone &#45; including more step-free
        stations, raised platform sections, new low-floor trains with the latest
        accessibility standards and much more."
        &nbsp;
        </p>
        <p>Gareth Powell,
        London Underground's Director of Strategy &amp; Service Development said:
        &quot;We've been using ramps to bridge the gap between platform and train since
        2012, but disabled customers at some stations have missed out because
        traditional ramps were not designed for the unique set up at some of our
        stations, where there is a gap and step down from platform to train. These new
        ramps will mean new travel options and better, more accessible journeys, for
        our customers.&quot;
        &nbsp;</p>
        <p>
        Jeff Harvey from Transport
        for All said: &quot;I am very happy to hear the new ramps will make Kilburn Station
        and others accessible to&nbsp;me and
        other&nbsp;wheelchair users,&nbsp;finally
        opening up parts of the Underground network&nbsp;for
        us to use. This will cut some&nbsp;of
        my&nbsp;journeys down by over an hour,&nbsp;which
        can make the difference between being able to attend an event, class or job
        interview, or having to say no. It is encouraging that Transport for All and
        our members were able to interact with TfL during planning and even participate
        in testing the new ramps.&nbsp;I hope
        such involvement continues&nbsp;so
        that all remaining stations where a gap prevents people boarding the train can
        benefit from a ramp.&quot;
        </p>
        <p>Transport for London has set
        out how it will make the journeys of millions of disabled and older Londoners
        even easier. </p>
        <p>Measures being put in place include</p>
        <ul>
            <li>As part of the additional &pound;18
            million investment announced last year to make bus stops more accessible, 75
            per cent of all stops will be accessible by April this year,&nbsp; with at
            least 95 per cent accessible by the end of 2016 - bringing even greater ease of
            use to a bus network that is already the most accessible in the country</li>
            <li>The remaining 5 per cent of
            pedestrian crossings yet to be brought up to accessibility standards will be
            upgraded with tactile paving and rotating cones or audible alerts as
            appropriate. A total of 39 sites will be upgraded by March, as we progress
            towards making 100 per cent accessible by 2016</li>
            <li>
            Following the success of the
            accessibility training at a number of London Underground 'Centre of Excellence'
            stations, enhanced accessibility training will be introduced at more stations
            and for staff on London Overground. This is on top of the huge improvements
            that are being made to bus staff training</li>
            <li>TfL's new and improved website is
            now available with a fully redeveloped section on accessibility. Later in the
            year further improvements will be made so that the Journey Planner tool can
            plan and suggest journeys based on real time information on the availability of
            lifts and escalators.
            </li>
        </ul>
         
        <hr />
         
        <ul>
            <li>London has one of the most accessible transport networks anywhere
            in the world. Nearly 40 per cent of all stops and stations across London's
            rail-based public transport network (including National Rail, Tube, DLR and
            Tramlink) are currently step-free, up from around 30 per cent in 2008. This
            includes 175 stations on the TfL network, with all DLR and nearly half of London
            Overground stations step-free</li>
            <li>All 8,700 London buses are low-floor wheelchair accessible with
            ramps checked each day to ensure they are working, and more than 90 per cent of
            London residents live within 400 metres of a bus stop. The vast majority of
            these can be used by all bus passengers, including wheelchair users</li>
            <li>TfL also operates Dial-a-Ride - a free door-to-door service for
            disabled and older passengers who can't use public transport, all DLR stations
            are step-free and all London taxis are equipped with wheelchair ramps.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-LU unveils new boarding ramps for a more accessible Tube -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 