


@{ViewBag.Title = "New campaign warns young drivers of the consequences of speeding";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New campaign warns young drivers of the consequences of speeding</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New campaign warns young drivers of the consequences of speeding</h1>
        <div class="content-page-press-release">
        23 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road safety continues to be a top priority for the Mayor and TfL
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Reducing casualties among all road users is a top priority for TfL and the Mayor. Our young car drivers campaign will help us continue towards meeting our ambition of a 40 per cent cut in deaths and serious injuries by 2020"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director Surface Transport, Transport for London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Young drivers urged to 'Kill your speed and not your mates' in latest road safety campaign </li>
        </ul>
        <p>The shocking consequences of speeding are brought home to young drivers as part of Transport for London (TfL's) latest road safety campaign. </p>
        <p>A new advert, 'Kill Your Speed Not Your Mates' - which can be seen at cinemas across London and on the XBox Dashboard over the next eight weeks - depicts a young man facing the tragic outcome of showing off in the driving seat.</p>
        <p>One of TfL's top priorities is to reduce by 40 per cent the number of people killed or seriously injured on London's roads by 2020.&nbsp; </p>
        <p>The Mayor and TfL have made six commitments which, working with a range of partners, are guiding a programme of work to deliver this target. </p>
        <p>A new road safety plan &quot;Safe Streets for London&quot;, published in June last year, sets out a clear path towards helping to reduce death and serious injury on the capital's roads.</p>
        <p>In 2012, 4,684 people in London were injured in collisions involving young drivers. </p>
        <p>The campaign targets young drivers with the clear message that they should take more care of the people they care about; their friends. </p>
        <p>The BBC3 series 'Barely Legal Drivers' shows that while young drivers enjoy having their friends as passengers, they sometimes find themselves showing off behind the wheel and taking unnecessary risks. &nbsp;</p>
        <p>This road safety campaign is the latest of a series launched by TfL to reduce the number of people killed or seriously injured in the Capital.&nbsp; </p>
        <p>This continuing work takes an even handed approach, with campaigns working alongside each other to protect all road users.&nbsp; </p>
        <p>Last month new campaigns were launched focusing on collisions involving teenagers, older pedestrians and at junctions and next week, the Driver Cyclist tips campaign will also be relaunched, giving advice to both road users, and helping to reduce casualties on London's roads.</p>
        <p>In March, the Mayor and TfL announced that London Buses will carry out a groundbreaking trial of innovative detection software this summer, helping to further reduce the number of collisions involving pedestrians and cyclists in London. </p>
        <p>A consultation on the draft Pedestrian Safety Action Plan, compiled by TfL working alongside key stakeholders, was also recently carried out, which looks to address the concerns and challenges faced by pedestrians across London, helping to turn the capital's streets into a safer, more pleasant place for all.</p>
        <p>Leon Daniels, Managing Director Surface Transport, Transport for London said: </p>
        <p>'Reducing casualties among all road users is a top priority for TfL and the Mayor. Our young car drivers campaign will help us continue towards meeting our ambition of a 40 per cent cut in deaths and serious injuries by 2020.</p>
        <p>'Driving too fast for the circumstances is often a factor in road collisions. Young drivers can lack road experience so judging hazards can be difficult.&nbsp; This hard hitting campaign reminds young drivers that they are responsible for the safety of their friends and of the consequences of not taking care behind the wheel.'</p>
        <p>For more info about the work the Mayor and TfL is doing to improve road safety, please visit <a href="http://www.tfl.gov.uk/roadsafety">here</a> </p>
        <p>Find out more about the free things young drivers can use to help drive safely <a href="http://www.tfl.gov.uk/corporate/safety-and-security/road-safety">here</a>&nbsp; </p>
         
         
        <hr />
        <br />
         
        <p>Notes to editors</p>
        <ul>
            <li>The campaign aims to raise awareness of the consequences of speeding. When caught, an offence can cost drivers a fine, points, a lost licence or even their lives.</li>
            <li>'Safe London Streets &#45; Our Six Road Safety Commitments'- can be downloaded <a href="http://www.tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london">here</a> </li>
            <li>The six key commitments as stated are:&nbsp;</li>
        </ul>
        <ol>
            <li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 &#45; with a longer term ambition of freeing London's roads from death and serious injury; </li>
            <li>To prioritise safety of the most vulnerable groups &#45; pedestrians, cyclists and motorcyclists &#45; which make up 80 per cent of serious and fatal collisions; </li>
            <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes; </li>
            <li>To increase efforts with the police, boroughs and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk;</li>
            <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer; </li>
            <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information. </li>
        </ol>
        <ul>
            <li>In June 2013, the Mayor and TfL published &quot;Safe Streets for London&quot;, a new road safety plan which set out a clear path towards helping to reduce death and serious injury on the capital's roads.</li>
            <li>The new plan, which covers the period until 2020, builds on solid progress already made by TfL, the London boroughs and the police over the last decade to improve the safety of London's roads. Using detailed analysis of how and why people are injured in road collisions in the capital, and which groups are affected, it looks to ensure that the right measures are being taken to reduce casualties.</li>
            <li>The TfL Road Casualties in Greater London in 2012 report was published in July 2013. See <a href="http://www.tfl.gov.uk/assets/downloads/corporate/casualties-in-greater-london-2012.pdf  ">here</a></li>
            <li>TfL published a London's first Motorcycle Safety Action Plan, and will publish a new safety action plan for pedestrians and an updated cycle safety action plan later this year.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-New campaign warns young drivers of the consequences of speeding -->

 
 
        
        
            @{ViewBag.Description = "New campaign warns young drivers of the consequences of speeding";}
        
        


 