


@{ViewBag.Title = "One-way weekend resurfacing works on Hammersmith Flyover from 30 May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One-way weekend resurfacing works on Hammersmith Flyover from 30 May</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One-way weekend resurfacing works on Hammersmith Flyover from 30 May</h1>
        <div class="content-page-press-release">
        16 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Flyover
            to be closed to traffic in one direction for ten weekends until mid August to
            allow structure to be fully waterproofed</li>
            <li>Work
            will reduce the need for further maintenance in the future</li>
            <li>Improvement
            work has been scheduled to ensure it is undertaken with the minimum disruption
            possible</li>
            <li>Affected traffic to be diverted via
            the A40 Western Avenue
            &nbsp;
            </li>
        </ul>
        <p>As part of the ongoing final phase of
        maintenance works, the Hammersmith Flyover will be closed in one direction for
        10 weekends from 30 May, to allow concrete deck repairs, resurfacing and
        waterproofing works on the structure to be completed.
        &nbsp;
        </p>
        <p>The
        closures will allow TfL to carry out waterproofing works which cannot be
        carried out while traffic is using the structure. This will help extend the
        life of the flyover, ensuring this vital part of the road network can continue
        serving London for years to come.
        &nbsp;
        </p>
        <p>During
        the weekend closures, which will be in place from 10.30pm on Friday until 5am
        on Monday morning at the latest, any affected traffic will be diverted via the
        road network beneath the flyover and the A40
        Western Avenue. </p>
        <p>This will be clearly signed to diverted traffic. </p>
        <p>The eastbound
        carriageway will be closed for the first five weekends, before switching to the
        westbound carriageway for the remaining five weekends.
        &nbsp;
        </p>
        <p>
        The
        repairs have been carefully designed to be carried out in the shortest
        timeframe possible, helping to keep road disruption to a minimum. </p>
        <p>The works
        have also been coordinated around other works planned in the local area later
        this summer, including works to the Hogarth Flyover and Putney Bridge.
        &nbsp;
        </p>
        <p>Dana Skelley,
        Director of Asset Management at TfL, said: &quot;Our work to complete vital
        maintenance works to the Hammersmith Flyover are progressing well. These
        weekend closures are required to allow us to complete the next section of works
        as quickly as possible. Our overriding focus when planning these weekend works
        has been to keep disruption to a minimum and we are ensuring that any affected
        drivers will have a clear, signed diversion route to help them complete their
        journey.&quot;
        &nbsp;
        </p>
        <p>Since October 2013, TfL has been working to complete the second and final phase
        of works, which will see the remaining 11 of the flyover's spans strengthened
        in a similar fashion to the five that were repaired during 2012. </p>
        <p>These works
        have been primarily carried out overnight to reduce disruption to road users
        and local residents.
        &nbsp;
        </p>
        <p>Work on
        the structure is progressing well, with work to upgrade the central reservation
        and drainage within the structure now fully underway. </p>
        <p>The first of the new
        strengthening cables will start being installed from August 2014 and, later
        this year, steel bearings within the structure will also be replaced.
        &nbsp;&nbsp;
        </p>
        <p>TfL has worked with key partners,
        including the local boroughs, to ensure that the improvement work has been
        scheduled to ensure these works are undertaken with the minimum of disruption.
        </p>
        <p>TfL has written to all local residents to inform them of the refurbishment, as
        well as to other key stakeholders such as businesses and local transport
        groups. </p>
        <p>More details about the refurbishment work are available on TfL's
        website at <a href="http://www.tfl.gov.uk/hammersmithflyover">www.tfl.gov.uk/hammersmithflyover</a>
        &nbsp;
        </p>
        <p>The
        restoration of the Hammersmith Flyover forms part of TfL's ongoing work to
        bring London's roads to a state of good repair. </p>
        <p>The Mayor and TfL are doubling
        their investment in the network from &pound;2 billion to &pound;4 billion across the next
        10 years, helping to deliver the recommendations of the Mayor's Roads Task
        Force (RTF) to tackle the challenges facing London's streets and roads.
        &nbsp;
        For
        the latest travel information, please visit www.tfl.gov.uk/trafficnews
        or follow &#64;tfltrafficnews
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>TfL
            manages and maintains twelve tunnels, as well as more than 1,800 structures on
            the TfL Road Network, including bridges, flyovers, footbridges, retaining
            walls, subways and culverts</li>
            <li>TfL continues to
            support the London Borough of Hammersmith and Fulham as it works up more
            detailed proposals for its ambitious plans to create a new road tunnel
            underneath Hammersmith. Any plan to replace the flyover would need to be funded
            through the wider redevelopment of the area</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-One-way weekend resurfacing works on Hammersmith Flyover from 30 May -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 