


@{ViewBag.Title = "Putney to Blackfriars River Bus service has record year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Putney to Blackfriars River Bus service has record year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Putney to Blackfriars River Bus service has record year</h1>
        <div class="content-page-press-release">
        15 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Passenger
            numbers triple</li>
            <li>Additional
            weekday services introduced to meet passenger demand </li>
            <li>More
            and more people using the river following the launch of the Mayor's 'River
            Action Plan'
            &nbsp;
            </li>
        </ul>
        <p>New
        figures reveal that the Putney to Blackfriars River Bus service (route RB6) has
        carried a record number of passengers since KPMG Thames Clippers took over operation
        of the route in April 2013.
        &nbsp;
        </p>
        <p>The
        enhanced River Bus service saw passenger numbers rise from 40,411 in 2012/13 to
        a record 121,667 passenger journeys in 2013/14 &#45; an increase of more than 200
        per cent.
        &nbsp;
        </p>
        <p>During
        the past year, Transport for London (TfL) and Thames Clippers have sought to
        deliver increased passenger convenience with faster journey times and more
        frequent services.&nbsp; </p>
        <p>The route now operates two thirds more services on
        weekdays on modern, accessible, high speed catamarans all offering passengers a
        guaranteed seat, free Wi-Fi&nbsp; and the availability of onboard refreshments
        for added comfort and convenience.
        &nbsp;
        </p>
        <p>Andy
        Thompson, Head of London River Services, said: &quot;The Putney to Blackfriars River
        Bus service goes from strength to strength, with more and more passengers
        appreciating what a great way it is to travel.&nbsp;</p>
        <p>These modern boats offer
        the latest passenger comforts, and with more departures than ever before we're
        helping passengers make the most of the river.&quot;
        &nbsp;
        </p>
        <p>Oyster
        is accepted as a method of payment on all River Bus services, including this
        route, which means passengers can use Pay as You Go to pay for their
        ticket.&nbsp; </p>
        <p>There is also a reduced fare for passengers with a valid
        Travelcard.&nbsp; For regular passengers there is a range of season tickets available
        on a weekly, monthly and annual basis.
        &nbsp;
        </p>
        <p>TfL and the Mayor of London are committed to making the most of
        passenger services on the River Thames and last year launched the 'River Action
        Plan', which was a commitment to investing &pound;10m in order to meet the ambitious
        aim of increasing the number of people travelling on the river to 12 million a
        year by 2020.&nbsp;
        &nbsp;
        </p>
        <p>This plan is already delivering as passenger numbers increased
        from 6.5m to 8.4m last year.&nbsp; </p>
        <p>In addition to the availability of real time
        next boat information at River Bus piers, work is progressing well for improved
        passenger information, enabling better integration of river services with other
        transport services in the capital.&nbsp; </p>
        <p>Looking ahead, work to increase passenger and berthing capacity at three
        key piers, Bankside, Embankment and Westminster, is well on the way to
        be completed during 2015 to help meet increased demand for services.&nbsp;
        &nbsp;
        </p>
        <p>
        A
        number of new pier infrastructure projects are also progressing well as new
        riverside developers move forward with their plans. </p>
        <p>These include new piers at
        Battersea Power Station and Plantation Wharf, which are due to open early next
        year.</p>
        <p> Plans for piers at Convoys Wharf in Deptford, Enderby Wharf in Greenwich
        and the western side of North Greenwich Peninsula are also underway.
        &nbsp;</p>
        <p>
        </p>
        <hr />
         
        <ul>
            <li>The RB6
            River Bus service serves the following piers &#45; Putney, Wandsworth
            Riverside Quarter, Chelsea Harbour, Cadogan (Cheyne Walk), St George
            Wharf, Embankment and Blackfriars </li>
            <li>At selected times the service also
            extends through to London Bridge and Canary Wharf</li>
            <li>Live
            travel news is available at www.tfl.gov.uk/livetravelnews Service
            updates are also available on Twitter &#64;TfLRiver and &#64;thamesclippers</li>
            <li>Further
            information on services offered by London River Services is available at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> and a map of scheduled river services is available at <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/river-bus-tours-map.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/river-bus-tours-map.pdf</a> </li>
            <li>London
            River Services owns and operates eight piers on the river: Westminster,
            Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and
            Greenwich</li>
            <li>People
            wishing to travel on the river can benefit from a third off the normal
            advertised adult and child fares on most services if they produce a valid
            Travelcard or Oyster card loaded with a valid Travelcard when purchasing a
            ticket </li>
            <li>Pay as you go Oyster cards are accepted on Thames Clippers
            services.All London
            River Services piers are accessible and step-free at all states of the
            tide, allowing easy access for mobility impaired passengers. All KPMG
            Thames Clippers catamarans are accessible</li>
            <li>The
            Mayor's 'River Action Plan' is available at: <a href="http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf">http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf</a>
            &nbsp; </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-Putney to Blackfriars River Bus service has record year -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 