


@{ViewBag.Title = "School children's artwork exhibited across the Tube network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">School children’s artwork exhibited across the Tube network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>School children’s artwork exhibited across the Tube network</h1>
        <div class="content-page-press-release">
        20 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        School children in Hounslow have created artwork which will be displayed across the London Underground network as part of Art on the Underground's Labyrinth Schools Exhibition, entitled Tracing the Line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm really impressed with the creativity these young Londoners have shown"</div>
        <div class="quote-footer">
            <div class="quotee-name">Louise Coysh</div>
            <div class="quotee-job-title">Art on the Underground Manager at London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Over 300 students from 12 schools across Hounslow and London worked with three artists in a series of innovative workshops, developed  with ReachOut RCA,  to create artworks inspired by Mark Wallinger's Labyrinth, a unique artwork at every Underground station celebrating 150 years of the Tube.  </p>
        <p>The workshops saw students visit their local Tube station to meet London Underground staff, see their local Labyrinth artwork and work with artists Beth Atkinson, Holly Graham and Anne Harild to make drawings, sound recordings and photographs.Hundreds of thousands of London Underground customers can see the resulting artwork through a combination of Tube posters and <em>Tracing the Line</em> exhibitions at nine Underground stations.  </p>
        <p>There is also an online exhibition celebrating the creativity of these young Londoners: www.art.tfl.gov.uk/labyrinth </p>
        <p>Louise Coysh, Art on the Underground Manager at London Underground, said: </p>
        <p>'I'm really impressed with the creativity these young Londoners have shown while working with artists Beth, Holly and Anne.'</p>
        <p>'Mark Wallinger's Labyrinth displayed across the Underground was the inspiration for this artwork and I'm sure our customers will enjoy the posters and exhibitions, which should help to make their journeys more interesting.'</p>
        <p>Sandeep Tuladhar, a student at The Heathlands School, Hounslow, said: </p>
        <p>'It's kind of shocking when you see your artwork displayed in public. It gives you a proud feeling &#45; I can't describe the feeling.'</p>
        <p>Vickie Parker, Head of Art Dept at The Heathlands School, Hounslow, said:</p>
        <p>'It is cool that they are all a part of Art on the Underground now. Seeing the artwork here today brings back the whole experience for the students. We do so much preliminary study at school, it is nice for them to take this process one step further &#45; to see how their artwork could look displayed in public.'</p>
        <p>Roger Carpenter, London Underground's Group Station Manger for Heathrow, said: </p>
        <p>'It is great to see this link between the station and local community. It is one of the things we are trying to do more of. It is especially good to be involved in one of the great projects of Art on the Underground &#45; they are everywhere now.'</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr />
        <p>&nbsp;</p>
        <p>Notes to Editors:</p>
        <ul>
            <li>Images available on request. </li>
            <li>The <em>Tracing the Line</em> exhibitions will comprise of a series of posters in stations across the network from April 2014, alongside an online exhibition, bespoke vinyls and framed artworks at 16 stations, chosen for their locality to the participating schools. </li>
        </ul>
        <ul>
            <li>The 9 exhibition sites are as follows:  </li>
        </ul>
        <ul>
            <li>Canary Wharf </li>
            <li>Canning Town </li>
            <li>Charing Cross </li>
            <li>Earls Court </li>
            <li>Hainault </li>
            <li>Hounslow East </li>
            <li>London Bridge </li>
            <li>St James's Park </li>
            <li>Southwark </li>
        </ul>
        <p>Art on the Underground</p>
        <ul>
            <li>London Underground established Art on the Underground in 2000 initially under the title Platform for Art, with the purpose of producing and presenting new artworks that enrich the journeys of millions on the tube every day. From single site large-scale commissions at sites such as Gloucester Road Station, to pocket size commissions for the cover of the Tube Map, Art on the Underground has commissioned a roll-call of the best artists in the last 13 years, maintaining art as a central element of London Underground's identity and engaging passengers and staff in a strong sense of shared ownership. Artists include Cindy Sherman, Tracey Emin, Michael Landy, Jeremy Deller, Susan Hiller, Barbara Kruger, Liam Gillick, Eva Rothschild, Yinka Shonibare, Richard Long, Gary Hume, Richard Wentworth, Gavin Turk and Peter Blake. </li>
            <li>Labyrinth is supported by the National Lottery through Arts Council England, and sponsored by J C Decaux. </li>
            <li>Mark Wallinger's Labyrinth is one of a series of special 150 Anniversary commissions including '15 for 150', 15 contemporary artists mark 150 years of the Tube with posters and limited edition prints. </li>
            <li>To find out more about Mark Wallinger's Labyrinth go to www.art.tfl.gov.uk/labyrinth and to see more about <em>Tracing the Line</em> visit www.art.tfl.gov.uk/labyrinth/tracing-the-line/ .</li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-School children’s artwork exhibited across the Tube network -->

 
 
        
        
            @{ViewBag.Description = "School children’s artwork exhibited across the Tube network";}
        
        


 