


@{ViewBag.Title = "Series of bus garage open days to celebrate the Year of the Bus ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Series of bus garage open days to celebrate the Year of the Bus </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Series of bus garage open days to celebrate the Year of the Bus </h1>
        <div class="content-page-press-release">
        28 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All aboard for next in a series of bus garage open days this summer to celebrate the Year of the Bus 
        
    </div>



 <div class="on-this-page">

        <p>&nbsp;NEXT STOP: ALPERTON BUS GARAGE OPEN DAY
        </p>
        <p>DATE: SATURDAY 7 JUNE 2014
        </p>
        <p>TIME: 10:30-16:00</p>
        <p>
        LOCATION: 330 EALING ROAD, WEMBLEY HA0 4LL</p>
        <p>&pound;2 ADMISSION BY PROGRAMME WITH ALL PROCEEDS DONATED TO
        CHARITY
        &nbsp;
        </p>
        <p>On Saturday 7 June 2014,
        Alperton Bus Garage in north west London will open its doors to members of the
        public in the second of a series of bus garage open days across the capital in
        celebration of the Year of the Bus.
        &nbsp;</p>
         
        <p>
        The first bus garage open
        day was held at Catford on 10 May and attracted around 3,000 visitors.
        &nbsp;
        </p>
        <p>Visitors to Alperton Bus
        Garage, which is operated by Metroline and celebrates its 75th
        birthday this year, will get the chance to:</p>
        <ul>
            <li>Take a free non-stop ride on vintage and
            other interesting buses from the garage, via either Harrow-on-the-Hill or to
            view Metroline's Central Engineering and Logistics Facility at&nbsp;West
            Perivale. There will be regular departures from 10:45 until 15:30</li>
            <li>
            View the Year of the Bus mobile exhibition
            which tells the story of the London Bus and looks to its future</li>
            <li>
            View old preserved vehicles</li>
            <li>
            See behind the scenes in the maintenance
            area</li>
            <li>
            Take part in family activities about how to
            use the transport system safely and responsibly with the Transport for London
            (TfL) Safety and Citizenship team and pick up your free bus-themed family
            activity pack</li>
            <li>
            Get up close and personal with objects from
            the London Transport Museum collection and find out more about the stories
            behind them with the Tickets Please! handling collection</li>
            <li>
            Browse the London Transport Museum pop-up
            shop selling exclusive Year of the Bus gifts, and stalls selling centenary
            merchandise and bus-related memorabilia.
            &nbsp;
            </li>
        </ul>
        <p>
        The bus garage open days are
        part of TfL's celebrations to mark the Year of the Bus, in partnership with
        London Transport Museum and the capital's bus operators.
        &nbsp;
        </p>
        <p>Events and activities are
        being held throughout 2014 to celebrate the role that London buses, bus drivers
        and the staff who support them play in keeping the capital moving, and mark a
        number of important anniversaries. </p>
        <p>These include 60 years since the creation of
        the original and iconic Routemaster, 75 years since the launch of its
        predecessor the RT-type bus, and 100 years since hundreds of London buses were
        sent to the Western Front to play a crucial role during the First World War.
        &nbsp;
        </p>
        <p>Alperton Bus Garage was
        opened on 7 June 1939 next door to the London Underground station of the same
        name on the Piccadilly Line and was built to serve the expanding suburbs of
        north west London. Due to lack of facilities elsewhere, body overhauls were
        undertaken at the garage during the Second World
        War. Indeed, the garage itself suffered some
        bomb damage during this period. The garage was
        extended in the second half of the 1970s but still looks very similar to the
        original building constructed 75 years ago.
        &nbsp;</p>
        <p>
        Buses&nbsp;are a vital daily
        service for millions and one that is very local, with the vast majority of
        Londoners (95 per cent) never more than 400 metres from a bus stop.&nbsp; Buses
        link homes to jobs, schools and hospitals in every part of the capital.&nbsp;
        They are the backbone, and often the forgotten workhorses, of London's
        transport network.
        &nbsp;
        </p>
        <p>Other London bus garages
        opening their doors on Saturdays this summer are Stockwell Bus Garage (21
        June), Fulwell Bus Garage (28 June), Potters Bar Bus Garage (5 July) and
        Walworth Bus Garage (19 July). There will also be an open day at Dartford Bus
        Garage on Sunday 7 September.
        &nbsp;
        </p>
        <p>Further information about
        bus garage open days and other Year of the Bus events can be found at www.tfl.gov.uk/yearofthebus and
        www.ltmuseum.co.uk
        &nbsp;
        </p>
        <p>The Year of the Bus is supported
        by and delivered in partnership with Exterion Media, Abellio, Arriva London,
        Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK Limited, Stagecoach,
        Wrightbus, Optare and telent Technology Services Ltd</p>
         
         
        <hr />
         
        <ul>
            <li>Alperton
            Bus Garage has 84 buses operating on 6 routes. There are 320 staff based there of which over 260 are drivers</li>
            <li>All
            proceeds generated from admission to the Alperton Bus Garage Open Day will be
            donated to The St Luke's Hospice in Kenton
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-Series of bus garage open days to celebrate the Year of the Bus  -->

 
 
        
        
            @{ViewBag.Description = "All aboard for next in a series of bus garage open days this summer to celebrate the Year of the Bus ";}
        
        


 