


@{ViewBag.Title = "TfL sets out plans to keep capital moving during unnecessary RMT strike action";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plans to keep capital moving during unnecessary RMT strike action</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to keep capital moving during unnecessary RMT strike action</h1>
        <div class="content-page-press-release">
        02 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
    <li>LU to run as many services as possible during
    strike starting on Bank Holiday Monday, but there will be disruption and
    customers are urged to check before they travel at tfl.gov.uk</li>
    <li>Extra bus and river services, to help
    Londoners get around</li>
    <li>Licensed and trained TfL Ambassadors will
    help to keep Tube stations open and provide travel information and advice to
    customers</li>
    <li>The Tube carried up to 57 per cent of its
    usual passenger numbers during strike earlier this week and up to 80 per cent
    of stations were open</li>
    <li>RMT union urged to join LU and the other
    unions in continuing discussions rather than threatening more disruption</li>
</ul>
<p>Transport for
London (TfL) today set out a range of measures to help keep London moving and
open for business next week, should a second set of strikes threatened by the
leadership of the RMT union on London Underground (LU) go ahead. The RMT strike
action is currently due to affect services from around 21:30 on Bank Holiday
Monday 5 May and throughout the whole of Tuesday 6, Wednesday 7 and Thursday 8
May, with services not returning to normal until the morning of Friday 9 May.
</p>
<p>During this
week's strike action LU managed to run fifty per cent of Tube services across the
48-hour action and carried up to 57 per cent of the usual number of passengers,
far higher than during the last strike in February.  </p>
<p>Up to 80 per cent of
stations were open and around 90 per cent of Oyster cards that would usually be
seen on the TfL network were seen &#45; showing that Londoners continued to get
around the city despite the disruption. </p>
<p>The highest number of buses ever
deployed in London's history were also in action carrying over a million extra
passengers and the Barclays Cycle Hire saw its busiest day ever with over
49,000 trips on Wednesday.
</p>
<p>These strikes have been
called by the leadership of the RMT union over plans to modernise the Tube.
</p>
<p>Under these plans, at the busiest stations there will be nearly a third more
staff visible and available to provide, on a permanent basis, the face-to-face
customer service offered during the London 2012 Games. </p>
<p>Visitors to London and
people with disabilities will be better looked after than ever before.
</p>
<p>The modernisation will see
savings of &pound;50 million a year which will be reinvested in more frequent and
reliable train services and will help keep fares down.
</p>
<p>LU has made five
commitments to customers</p>
<ul>
    <li>All stations will remain staffed
    and controlled at all times, with more staff visible and available to help
    customers and keep them safe and secure</li>
    <li>A new 24-hour service on core
    parts of the Tube network at weekends from 2015</li>
    <li>More frequent and reliable train
    services with better, more accessible stations</li>
    <li>Simpler ticketing, including
    contactless bank card payment with daily and weekly fares capping</li>
    <li>The best possible value by
    running our services as efficiently as possible while improving customer
    service
    </li>
</ul>
<p>From day one, LU has also guaranteed that
modernisation will be taken forward with no compulsory redundancies, a job for
everyone who wants to continue working at LU and no member of staff sees their
pay cut as a result of the changes proposed.
</p>
<p>Talks between LU and the unions, three of
which are not carrying out strike action, will take place at ACAS today. LU
will be urging the RMT leadership to call off next week's action. However, at
present, the RMT strike is still on and customers are asked to plan ahead</p>
<p>&nbsp;</p>
<p>Phil Hufton, London Underground's Chief operating
Officer, said: &quot;We
are committed to maintaining and improving the Tube's excellent safety and customer
service record and our plans to modernise the Tube will do just that. It will
increase the number of visible staff on the network - by 30 per cent at our
busiest stations - who will personally serve our passengers, providing help for
customers who need it most.
</p>
<p>"Fairness to our staff is
guaranteed.  As we have always made clear, there will be no compulsory
redundancies, there is a job for all staff wanting to remain with us and no one
will lose pay. We have also made significant changes to our original proposals
after listening to our people and the unions.
</p>
<p>&quot;The only
sensible course is for the RMT leadership to join us and the other unions in
continuing discussions and to work with us to shape the future of the Tube,
rather than threatening more pointless strike action which will only disrupt
Londoners and lose staff pay.
</p>
<p>"Should
next week's strike go ahead there will be some disruption, but we aim to build on
what we delivered this week - when we ran over fifty per cent of Tube trains
and kept eighty per cent of stations open - to provide an even better
service."</p>
<p>&nbsp;</p>
<p><strong>Travel advice to
customers during the RMT strike action:</strong>
</p>
<p>
Should the
strike action go ahead, LU will keep as many stations open and run as many
trains as possible.  </p>
<p>Services will be affected from 21:30hrs on Bank Holiday Monday 5 May
so customers are asked to try and complete journeys as early as possible that
evening. </p>
<p>If your Oyster card needs topping up, it may help to do this in
advance of the industrial action starting.
</p>
<p>There will be disruption to journeys on Tuesday, Wednesday and
Thursday, when Tube services will start later and finish earlier than normal &#45;
trains will run from around 07:00hrs to 23:00hrs. </p>
<p>However, customers are advised that the last services from central
London may depart significantly earlier than this, at around 9.30pm.
</p>
<p>Although
it is not possible to say exactly what services we will be able to run, the
line-by-line information below will help customers to plan journeys in advance. However,
customers are advised that the situation may change throughout the day.
</p>
<p>Buses and other modes of transport may also be very busy. Those public
transport workers who are on duty during the strike will be doing their very
best to keep London moving and open for business.  </p>
<p>TfL asked customers for
their patience during what may be difficult journeys.
</p>
<p>
TfL Ambassadors
and volunteers will also be on hand to provide customers with travel
information and advice on the ground. </p>
<p>TfL urges all customers to plan ahead and
to check before they travel at tfl.gov.uk and by following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and
&#64;TfLBusAlerts on Twitter.
</p>
<p>&nbsp;</p>
<p><strong>Tube</strong>
</p>
<p>
In addition to those stations listed here as closed, some others
may also need to close at times. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Bakerloo
line
&#64;bakerlooline</strong></p>
<p>We
expect to run trains between </p>
<ul>
    <li>Queen's Park and Elephant &amp; Castle around every six minutes in
    both directions.
    Trains will not stop at Edgware Road, Embankment, Kilburn Park,
    Lambeth North, Maida Vale, Piccadilly Circus or Regent's Park stations. It is
    possible that some other stations may also need to close at times</li>
</ul>
<p><strong>Central
line
&#64;centralline</strong></p>
<p>We
expect to run trains between</p>
<ul>
    <li>West Ruislip / Ealing Broadway and White City around every 10 - 15
    minutes in both directions</li>
    <li>Hainault and Marble Arch around every ten minutes in both
    directions</li>
    <li>Epping and Leytonstone around every ten minutes in both directions</li>
    <li>Woodford and Hainault around every 20 - 30 minutes in both
    directions
    If
    possible we will extend trains through the central area to provide an end to
    end service. </li>
    <li>Trains
    will not stop at Bond Street, Bethnal Green, Chancery Lane, Holland
    Park, Lancaster Gate, Notting Hill Gate, Queensway, Redbridge or Wanstead
    stations. </li>
    <li>It is possible that some other stations may also need to close at
    times.</li>
</ul>
<p><strong>Circle
line
&#64;circleline</strong></p>
<p>We
expect to run trains between</p>
<ul>
    <li>Hammersmith and Aldgate around every ten minutes in both directions
    Trains will not stop at Barbican, Great Portland Street or
    Ladbroke Grove stations.  </li>
    <li>It is possible that some other stations may also
    need to close at times. </li>
</ul>
<p><strong>District
line
&#64;districtline</strong></p>
<p>We
expect to run trains between</p>
<ul>
    <li>Wimbledon and Upminster around every 10 minutes in both directions</li>
    <li>Wimbledon and Edgware Road around every 15 minutes in both
    directions</li>
    <li>Ealing Broadway and High Street Kensington around every 15 minutes
    in both directions</li>
    <li>Trains will not stop at Sloane Square or Fulham Broadway
    stations.  It is possible that some other stations may also need to close
    at times</li>
</ul>
<p><strong>Hammersmith
&amp; City line
&#64;hamandcityline</strong> </p>
<p>We
expect to run trains between</p>
<ul>
    <li>Edgware Road and Barking around every 15 minutes in both
    directions
    Trains will not stop at Barbican, Great Portland Street or
    Ladbroke Grove stations.  </li>
    <li>It is possible that some other stations may also
    need to close at times</li>
</ul>
<p><strong>Jubilee
line
&#64;jubileeline</strong> </p>
<p>We expect to run trains between</p>
<ul>
    <li>Stanmore and Stratford around every seven
    minutes in both directions.
    </li>
    <li>
    Trains
    will not stop at Bermondsey, St. John's
    Wood and Swiss Cottage stations.  It is possible that some other stations
    may also need to close at times</li>
</ul>
<p><strong>Metropolitan
line
&#64;metline</strong></p>
<p>We expect to run trains between</p>
<ul>
    <li>Harrow-on-the-Hill and Aldgate around every ten minutes in both
    directions</li>
    <li>Uxbridge and Harrow-on-the-Hill around every 20 minutes in both
    directions</li>
    <li>Amersham and Baker Street around every 30 minutes in both
    directions
    Trains will not stop at Barbican, Great
    Portland Street, North Harrow, Northwood, Northwood Hills or Pinner
    stations</li>
    <li>It is possible that some other stations may also need to
    close at times</li>
</ul>
<p><strong>Northern
line
&#64;northernline</strong></p>
<p>We
expect to run trains </p>
<ul>
    <li>Over the whole line with a train around every five minutes via
    both the Bank and Charing Cross branches in both directions
    </li>
    <li>Trains will not stop at Angel, Borough,
    Chalk Farm, Embankment, Mornington Crescent and Warren Street stations.  </li>
    <li>It
    is possible that some other stations may also need to close at times </li>
</ul>
<p><strong>Piccadilly
line
&#64;piccadillyline</strong></p>
<ul>
    <li>No
    service would operate through the central area
    </li>
</ul>
<p>We
expect to run trains between</p>
<ul>
    <li>Heathrow Terminals 1,2,3 and Acton Town around every 15
    minutes in both directions; if possible we will extend this service to
    Hammersmith</li>
    <li>Arnos Grove and Cockfosters around every 15 minutes in both
    directions</li>
    <li>Trains will not stop at Heathrow
    Terminal 4, Heathrow Terminal 5, Hounslow West or Southgate stations.  It
    is possible that some other stations may also need to close at times</li>
</ul>
<p><strong>
Victoria
line
&#64;victorialine</strong></p>
<p>We expect to run trains between</p>
<ul>
    <li>Walthamstow Central to Brixton every five
    minutes in both directions</li>
    <li>Trains will not stop at Pimlico,
    Vauxhall or Warren Street stations</li>
    <li> It is possible that some other
    stations may also need to close at times</li>
</ul>
<p><strong>Waterloo
&amp; City line
&#64;wlooandcityline</strong></p>
<ul>
    <li>No service would operate except during the
    morning peak period when we may be able to operate trains around every five
    minutes in both directions<strong><br />
    </strong></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Buses</strong></p>
<ul>
    <li>London buses operate around 700
    routes and services are being boosted with over 250 extra buses on key routes</li>
    <li>TfL Ambassadors and volunteers
    are being deployed to bus stations and hubs to provide customers with travel
    information and advice on the ground.
    </li>
</ul>
<p><strong>Coaches
</strong></p>
<p>Several coach operators, including National Express and Green
Line, offer services that stop in a number of locations throughout London. </p>
<p>Some
of the core coach routes are as follows:</p>
<ul>
    <li>Golders Green - Finchley Road - Baker Street - Marble Arch -
    Victoria Coach Station (National Express) </li>
    <li>Brent Cross - Finchley Road - Baker Street - Marble Arch -
    Victoria (Green Line)</li>
    <li>
    Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria
    (Oxford Tube &amp; X90) </li>
    <li>
    Hammersmith - Kensington - Hyde park Corner - Victoria (Green
    Line)
    Stratford - Bow - Aldgate - Victoria Coach Station (National Express)
    </li>
    <li>Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street
    (Commuter Services) </li>
    <li>
    Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach
    Station (National Express) </li>
    <li>
    Sutton - Wallington - Streatham - Stockwell - Victoria Coach
    Station (National Express)
    </li>
    <li>Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria
    Coach Station (National Express)
    </li>
</ul>
<p>Tickets can be purchased in advance from the Victoria Coach
Station ticket hall, or on the operators websites:
</p>
<ul>
    <li>
    http://www.nationalexpress.com   for
    main site and bookings
    </li>
    <li>http://coach.nationalexpress.com/nxbooking/stop-finder
    to find where the coach stops are in London
    </li>
    <li>http://www.greenline.co.uk   for main site and bookings
    </li>
    <li>http://www.greenline.co.uk/timetables-search/  for location of stops in London
    </li>
    <li>www.oxfordtube.com   </li>
    <li>
    http://x90.oxfordbus.co.uk
    </li>
</ul>
<p><strong>London
Overground
</strong></p>
<ul>
    <li>A normal service
    will operate. </li>
    <li>Some stations where there is an interchange with London
    Underground may be affected </li>
</ul>
<p><strong>Tramlink
</strong></p>
<ul>
    <li>A normal service
    will operate
    </li>
</ul>
<p><strong>Emirates Air
Line
</strong></p>
<ul>
    <li>A normal service
    will operate </li>
    <li>LU tickets will be accepted on Emirates Air Line services
    </li>
</ul>
<p><strong>Cycling </strong></p>
<ul>
    <li>Barclays Cycle Hire will be
    available to members and casual users, although demand is likely to be high,
    and cycles harder to access, during peak times</li>
    <li>Londoners who own a bike are
    encouraged to cycle to work, and a Cycle Journey Planner is provided at tfl.gov.uk/cyclejourneyplanner</li>
    <li>TfL is writing to hundreds of
    businesses across London to ask them to be flexible and make it easy for staff
    to cycle to work, and to allow staff to wear casual clothes on the day
    </li>
</ul>
<p>
<strong>River Services
</strong></p>
<ul>
    <li>Enhanced River services will be in place</li>
    <li>The
    main Thames Clippers RB1 river bus service will be enhanced by running extra
    journeys between London Eye, London Bridge, Canary Wharf and Greenland piers during
    both the morning and evening peaks</li>
    <li>In combination with the normal timetabled
    service, this will provide a 10 to 15 minute frequency on the busiest central
    London piers during the morning and evening peaks</li>
    <li>On the RB6 Putney &#45; Blackfriars route, the
    morning eastbound timetable will be enhanced with additional boats leaving
    Putney and calling at all piers throughout the AM peak period</li>
    <li>On the RB6 route, the evening westbound
    timetable will be enhanced with additional boats leaving Blackfriars and
    Embankment and calling at all piers to Putney throughout the PM peak period <strong><br />
    </strong></li>
</ul>
<ul></ul>
    <p><strong>Taxis &amp;
    Private Hire</strong></p>
    <ul>
        <li>During peak times a marshalled
        taxi service will operate at eight major London rail termini &#45; Euston, Waterloo,
        Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and
        Marylebone. The marshals will manage taxi and  passenger queues and
        provide advice and assistance to taxi passengers and other members of the
        public</li>
        <li>Private hire and minicab services
        will be running as normal. Details for licensed private hire and minicab
        operators in London are available at http://tfl.gov.uk/cabwise      .
        </li>
    </ul>
    <p><strong>National Rail</strong></p>
    <ul>
        <li>Oyster Pay As You Go is accepted
        for all National Rail journeys within Greater London</li>
        <li>Travelcards are also valid for
        travel on National Rail within the zones purchased.
        </li>
    </ul>
    <p><strong>Walking</strong></p>
    <ul>
        <li>Walking maps will be provided
        online, in bus, rail, and Tube stations in Zone 1 and other key outer London
        stations, with TfL Ambassadors and volunteers helping people plan their routes
        around the city</li>
        <li>People are urged to use here
        walking for short journeys, where possible
        </li>
    </ul>
    <p><strong>Roads and the
    Congestion Charge</strong></p>
    <ul>
        <li>To help keep traffic flowing, the
        Congestion Charge will remain in operation throughout the strike</li>
        <li>TfL will be delaying or
        curtailing road works on major London roads wherever possible and has
        encouraged all London boroughs to take similar measures on their network </li>
        <li>TfL
        will also work with the Metropolitan Police to minimise the impact of
        congestion</li>
        <li>TfL will be working to keep
        traffic flowing around major transport hubs</li>
        <li>Londoners and commuters are
        encouraged to keep journeys by car to a minimum to enable public transport to
        move freely</li>
    </ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-TfL sets out plans to keep capital moving during unnecessary RMT strike action -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 