


@{ViewBag.Title = "TfL appoints London Overground operator to run additional services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL appoints London Overground operator to run additional services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints London Overground operator to run additional services</h1>
        <div class="content-page-press-release">
        28 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First new trains on new London Overground routes to arrive in summer 2018 Station upgrades programme to be rolled out following takeover
        
    </div>



 <div class="on-this-page">

        <p>Transport
        for London (TfL) has agreed to appoint LOROL, the London Overground train
        operator, on an interim basis to run local services out of Liverpool Street
        Station to north east London and improve standards for passengers.&nbsp;
        </p>
        <p>LOROL
        (London Overground Rail Operations Ltd) will run the services &#45; currently
        managed under the Greater Anglia franchise &#45; between Liverpool Street and
        Enfield Town, Cheshunt (via Seven Sisters) and Chingford as well as those on
        the Romford to Upminster line for 17 months starting on 31 May next year. </p>
        <p>The
        London Overground concession, including these latest additions, will then be
        re-let following an established bidding process.
        &nbsp;
        </p>
        <p>
        Under
        TfL, and from day one of the transfer, passengers can look forward to seeing
        staff at all London Overground -managed stations while trains are running.
        </p>
        <p>Their presence will bring immediate improvements to station security, safety
        and accessibility. Oyster will continue to be available to passengers who will
        also be able to use contactless payment cards for the same PAYG fare. </p>
        <p>They will
        be able to take advantage of TfL's extensive multi-media travel service information.
        &nbsp;
        </p>
        <p>In a
        rolling programme, all of the stations will be thoroughly cleaned, and have
        new, modern ticket machines installed. </p>
        <p>The trains will also be fully cleaned
        but TfL has ordered new ones which will carry more people more reliably than
        before.</p>
        <p>LOROL has
        operated London Overground for TfL, since 2007. </p>
        <p>During that time the network
        has been significantly extended, carrying more people than ever, and it has
        become one of the most punctual &nbsp;railways in the UK.
        &nbsp;
        </p>
        <p>The
        Director of London Rail, Jonathan Fox, who leads TfL's mainline rail business
        said: &quot;London Overground is coming to West Anglia and will bring more staff,
        simpler ticketing and, eventually, brand new trains to these lines.&nbsp;LOROL
        has a proven record on delivery and I'm pleased that this will now extend to
        West Anglia.&quot;
        &nbsp;
        </p>
        <p>
        LOROL
        will take over the new routes on 31 May 2015 and run them until November 2016
        when the current London Overground concession is due to end.
        &nbsp;</p>
         
        <hr />
         
        <ul>
            <li>
            The delivery of a new fleet of trains for these routes is being planned
            with the first of the new units arriving in summer 2018. </li>
            <li>Until then the
            existing West Anglia train fleet &#45; after deep cleaning - will continue to be
            used</li>
        </ul>
        <p>TfL intends to improve the performance and reliability of the
        services by:</p>
        <ul>
            <li>agreeing a contract which will focus the operator's resources on
            the delivery of benefits to passengers</li>
            <li>providing a new train fleet with less risk of failure</li>
            <li>close working with Network Rail</li>
        </ul>
        <ul>
            <li>Preliminary work on the procurement of the new London Overground Concession
            due for issue in 2016 which will include these Liverpool Street station
            services has already begun </li>
            <li>LOROL began operating the seven-year London Overground concession
            in November 2007. Under a contractual option, this was extended by two years until
            November 2016 following the successful delivery of Olympic services</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-TfL appoints London Overground operator to run additional services -->

 
 
        
        
            @{ViewBag.Description = "First new trains on new London Overground routes to arrive in summer 2018 Station upgrades programme to be rolled out following takeover";}
        
        


 