


@{ViewBag.Title = "Virgin Media fined for unsafe working practices causing danger to London's road users";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Virgin Media fined for unsafe working practices causing danger to London’s road users</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Virgin Media fined for unsafe working practices causing danger to London’s road users</h1>
        <div class="content-page-press-release">
        08 May 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Transport
        for London (TfL) has again successfully defended the rights of all of London's
        road users from unsafe working and unnecessary delays and disruption caused by
        utility companies.
        </p>
        <p>
        On
        30 April 2014, Westminster Magistrate's Court fined Virgin Media &pound;5,000
        following a guilty plea to five separate offences on Croydon Road. </p>
        <p>The gravity
        of the offences led the court to require Virgin Media to pay the maximum victim
        surcharge of &pound;420 and TfL's full legal costs.
        Virgin
        Media pleaded guilty to five offences committed on Croydon Road in the London
        Borough of Sutton in October 2013. </p>
        <p>These included carrying out unsafe working
        practices, breaching two separate permit conditions, and two instances of
        failing to serve the necessary statutory notices.
        </p>
        <p>It
        is the latest in a series of successful prosecutions by TfL as it works to
        reduce unnecessary roadworks to improve traffic flow and conditions for all
        London's road users. </p>
        <p>In February of this year, Virgin Media caused further
        disruption to Londoners when they excavated the entire width of the A316
        Chertsey Road to repair cables during peak hours, causing hours of severe
        delays to road users in the area. </p>
        <p>TfL is currently prosecuting Virgin Media and
        its contractor McNicholas Construction Services Ltd for this incident.
        </p>
        <p>
        Leon
        Daniels, Managing Director of Surface Transport at TfL, said: &quot;We expect that
        utility companies ensure that any disruption caused by roadworks is minimised
        and the most stringent safety is upheld. Since the introduction of our London
        Permit Scheme in 2010 we have seen these delays reduce by over 50 per cent.
        </p>
        <p>"We
        are pleased that the court has agreed that the unnecessary delays caused by
        utility companies' slapdash behaviour are thoroughly intolerable. We are
        completely focused on cutting delays, and as such, will be continuing to
        prosecute persistent offenders who show wanton disregard for Londoners, as we
        have Virgin Media.&quot;
        </p>
        <p>
        During
        the sentencing, District Judge Goldspring cited the potential serious
        consequences of works without proper guarding near a primary school, and how
        Virgin Media were recently convicted of a similar offence.
        </p>
        <p>The
        prosecution of Virgin Media is one of a number of ways TfL is improving
        conditions for all of London's road users. </p>
        <p>As of April 2013, all London
        boroughs have introduced the London Permit Scheme. </p>
        <p>As a result firms
        undertaking work anywhere in London have to apply for a permit before they can
        begin digging up the roads. </p>
        <p>London's Lane Rental Scheme, launched by the Mayor
        of London and TfL on 11 June 2012, is designed to reduce road users delays by
        encouraging utility companies to avoid digging up the busiest roads at peak
        traffic times.
        </p>
        <p>
        Following
        the introduction of the scheme, more than 88 per cent of utility roadworks at
        traffic hotspots have avoided incurring a Lane Rental charge in Lane Rental
        locations. </p>
        <p>Before the scheme was introduced, only around 30 per cent of utility
        roadworks at traffic hotspots avoided peak traffic times.
        </p>
        <p>TfL
        is leading the way for works promoters, including utility companies, by
        avoiding incurring Lane Rental charges on 99 per cent of its works undertaken
        in Lane Rental locations.
        </p>
        <p>
        Last
        year, TfL successfully prosecuted Thames Water for nine road works offences and
        Cable &amp; Wireless for one offence of working in breach of permit conditions
        and causing significant road disruption as a result.</p>
        <hr />
        <ul>
            <li>
            The permit scheme also enables TfL to monitor the
            number of roadworks taking place on its roads at any one time and ensure
            that they don't exceed the agreed limit.
            </li>
            <li>In 2010 the cap was put in place
            to reduce the maximum number of works taking place by 20 per cent; the
            limit has since been further revised to reduce the maximum number of works
            by a further 10 per cent. </li>
            <li>Traffic Police Community Support Officers
            (TPCSOs) are also used to clamp down on roadworks that are outside of
            their permit Londoners can report disruptive or badly managed
            roadworks, as well as road defects such as potholes and damaged footpaths,
            by visiting <a href="https://reportit.tfl.gov.uk">https://reportit.tfl.gov.uk</a>.
            </li>
            <li>Any enquiries received will be sent directly to the relevant Highway
            Authority (TfL or a London borough) responsible, ensuring that direct and
            fast action can be takenSince the beginning of the London Permit Scheme, TfL
            has issued Virgin Media a total of 316 Fixed Penalty Notices (FPN) for
            various streetworks offences. In October 2013, Transport for London successfully
            prosecuted Thames Water for causing unnecessary disruption.  <a href="http://www.tfl.gov.uk/info-for/media/press-releases/2013/november/thames-water-fined-for-causing-unnecessary-disruption-to-london-road-users">Link to PN</a> </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-May-Virgin Media fined for unsafe working practices causing danger to London’s road users -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 