


@{ViewBag.Title = "Guide dog owners award for Wembley Park Station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007/36100">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Guide dog owners award for Wembley Park Station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Guide dog owners award for Wembley Park Station</h1>
        <div class="content-page-press-release">
        17 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Christina Finlayson, with her guide dog Irene, presented staff at Wembley Park Station with the Open Doors Service Excellence Award at the station on Wednesday, 17 January 2007.
        
    </div>



 <div class="on-this-page">
<p>For the past 18 months, blind student Christina of Eastcote Road, Ruislip, has regularly travelled through London Underground's Wembley Park Tube Station with her eight-year-old guide dog to attend a computer studies course for the visually impaired at the College for North West London.</p>
<p>She was so impressed by the help and service she received from staff at the station that she nominated them for the award, which is part of The Guide Dogs for the Blind Association's Open Your Doors 'Golden Ribbon' campaign which aims to educate service providers about how they can best serve visually impaired customers. </p>
<p>Christina, 58, a former teacher said: "All London Underground staff are supportive and polite, but I was so impressed by the Wembley Park staff who have really gone out of their way to help me and the other visually impaired students on my course that I really felt they should receive this award. </p>
<p>"When I first started using the station there was a lot of construction work being carried out, with platform changes and different parts of the station being partitioned off, which made it even more confusing for me.</p>
<p>"But the Wembley Park Station staff, who were very busy dealing with other passengers, always made sure they were there to assist me on and off trains and through the station, as well as having a friendly chat on the way. They really went the extra mile.</p>
<p>"This made a real difference to my journey knowing that the Tube staff would be there to help me and my guide dog, Irene."</p>
<p>Michael Graves, Wembley Park Group Station Manager said: "London Underground is investing more than ever before to make the Tube as accessible as possible for all customers.</p>
<p>"This award is a great tribute to the staff who are an excellent team dealing with thousands of passengers at this busy interchange in a professional and welcoming manner. It shows that the training we give our staff really pays off.</p>
<p>"Passengers are also benefiting from the major reconstruction work at Wembley Park Tube Station enlarging it to allow an extra 15,500 people (up from 22,000 to 37,500) to use the station every hour. There are five new lifts providing full accessibility to all platforms, 124 new CCTV cameras, new Help Points and information systems, plus an extended commuter ticket hall and widened stairs to Olympic Way." </p>
<p>Accessibility is about more than step-free access and features such as induction loops, tactile paving and additional and more visible help and information points will be added to stations as modernisations and refurbishments are completed.</p>
<p>In addition to these important changes LU is committed to ensuring that by 2010, 25 per cent of Tube stations will have step-free access and this will increase to one third of stations by 2013.</p>
<p>Tom Pey, Guide Dogs' Director of Public Policy and Development said: "These awards were created by the charity to encourage guide dog owners to nominate the service provider they feel has gone the extra mile in making them welcome. Guide Dogs' ethos is to promote good practice.</p>
<p>"Highlighting good practice will help to make it the norm, so that in the future, our vision of doors always being open to blind and partially sighted people and their guide dogs will become reality."<br></p>
            <ul>
<li>The photocall of the presentation of the Open Your Doors award by blind student Christina Finlayson with her guide dog, Irene, (a Labrador cross Golden Retriever) will be made to Wembley Park Tube station staff at 09.45 on Wednesday 17 January 2007   </li>
<li>For further media information about Guide Dogs', please contact Chris Dyson or Vicky Bell in Guide Dogs' Communications Department on 0118 983 8281 or 8379 (mobile: 07768 523996) or log on to the charity's website: <a href="http://www.guidedogs.org.uk">www.guidedogs.org.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2007-January-Guide dog owners award for Wembley Park Station -->

 
 
        
        
            @{ViewBag.Description = "For the past 18 months, blind student Christina of Eastcote Road, Ruislip, has regularly travelled through London Underground's Wembley Park Tube Station with her eight-year-old guide dog to attend a computer studies course for the visually impaired at";}
        
        


 