


@{ViewBag.Title = "Major contract award signals start of work on DLR Stratford International Extension";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007/36100">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major contract award signals start of work on DLR Stratford International Extension</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major contract award signals start of work on DLR Stratford International Extension</h1>
        <div class="content-page-press-release">
        10 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR) today awarded the first of three major construction contracts to build the &pound;211m DLR extension to Stratford International, a key part of the transport plans for the 2012 Games.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The extension will offer visitors and local residents a more frequent and reliable train service
                            
                        </p>
                    </div>
                
            
            
            <p> A Skanska and GrantRail joint venture has been appointed to carry out the first physical work for the scheme, which is valued at approximately &pound;39m and will start immediately.</p>
<p>Mayor of London, Ken Livingstone said: "The award of this contract is an important step in the progress of the transformation of London's transport network after many years of underinvestment. </p>
<p>"The extension will offer visitors and local residents a more frequent and reliable train service through Newham, with four new fully accessible stations, and will be a crucial link to Stratford International and the Olympic Park." <br><br>Jonathan Fox, Director DLR, said: "This contract award means that Skanska and GrantRail will soon be starting work on the DLR extension to Stratford International, a vital part of the 2012 Olympic and Paralympic Games. </p>
<p>"Since receiving approval from the Secretary of State in October, the project has been going full steam ahead and is on course for completion by 2010.</p>
<p>"DLR's two most recent extensions to Lewisham and London City Airport were completed on budget and ahead of schedule. </p>
<p>"Our aim is to repeat this success with the Stratford International Extension, which will provide a key rail link for local communities and people travelling to the 2012 Games."</p>
<p>The extension will be formed by converting the existing railway between Stratford and Royal Victoria (previously run by Silverlink Metro) to DLR operation, and building the new rail link between Stratford and Stratford International. </p>
<p>Skanska and GrantRail have been appointed this work contract after a competitive tendering process which also involved Hochtief, AMEC and Carillion. </p>
<p>Bill Hocking, Managing Director of Skanska's Civil Engineering Operating Unit, said: "We are delighted to have won this contract with our partners GrantRail, which allows us to continue our long and successful track record from the previous Skanska project at Stratford Station and of course the recent CTRL Stratford Box."</p>
<p>David Moreland, Managing Director of GrantRail's Major Projects division, said: "GrantRail are delighted to be a key member of the DLR team selected for the delivery of this important piece of rail infrastructure. </p>
<p>"We look forward to working together with our partners, Skanska, on this prestigious project."</p>
<p>The works will be completed by February 2009. They include:</p>
<ul>
<li>The construction of two new platforms on the north side of Stratford station, where North London Line national rail services will terminate 
</li><li>Track alignment work to prepare for the new rail link between Stratford and Stratford International 
</li><li>The construction of the shell and foundations of the new DLR station at Stratford International</li></ul>
<p>Two further main work contracts for the DLR Stratford International Extension will be awarded in 2007. </p>
<p>The first, due to be signed in Spring, involves the construction of a 'flying' junction at Canning Town station to allow Beckton services to cross over the Stratford International line. </p>
<p>The second contract, due to be signed this Summer, involves the conversion of the existing railway to DLR technology; the upgrading of existing stations to DLR standards; the construction of four new stations; and the formation of the new rail link between Stratford and Stratford International.<br></p>
            <ul>
<li>A route map and artists' impressions of the Stratford International Extension are available on request</li>
<li>The &pound;211 Stratford International Extension is funded by Transport for London's (TfL's) &pound;10bn Investment Programme and a contribution from  the Olympic Delivery Authority</li>
<li>The construction work for the DLR Stratford International Extension is divided into three work 'packages'.  The Skanska / GrantRail  enabling works are known as 'Package 8', the junction works comprise 'Package 7', and the remaining works form 'Package 6'</li>
<li>When complete, the DLR extension will operate between Stratford International and Royal Victoria, serving existing stations at  Stratford, West Ham, Canning Town and Royal Victoria, and new stations at Star Lane, Abbey Road, Stratford High Street and  Stratford International</li>
<li>A new interchange at Stratford International will connect the DLR with international rail services operating on the Channel Tunnel Rail  Link. The Stratford International DLR station will be at the heart of the Stratford City development</li>
<li>Train services along the route will increase from the previous two per hour under Silverlink Metro to at least six per hour on the DLR  from 2010, with even more at peak times. During the 2012 Games, DLR trains will run every two to three minutes on the extension, with capacity for approximately 13,500 passengers per hour in each direction</li>
<li>From 2010, DLR trains will also be able to run direct from Stratford International to Woolwich Arsenal via London City Airport and the  DLR Woolwich Arsenal Extension (currently under construction)</li>
<li>DLR is part of TfL. Further information is available at <a href="http://www.dlr.co.uk">tfl.gov.uk/dlr</a></li>
<li>DLR won the overall Railway Industry Innovation Award in June 2006 for 'Delivering a successful railway through effective  partnerships', as well as the London Planning Award in December 2006 for 'Best Public Sector Planning Organisation'<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2007-January-Major contract award signals start of work on DLR Stratford International Extension -->

 
 
        
        
            @{ViewBag.Description = "A Skanska and GrantRail joint venture has been appointed to carry out the first physical work for the scheme, which is valued at approximately &pound;39m and will start immediately.Mayor of London, Ken Livingstone said: 'The award of this contract is an";}
        
        


 