


@{ViewBag.Title = "Mayor welcomes Oyster deal with train operator c2c";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007/36100">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor welcomes Oyster deal with train operator c2c</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes Oyster deal with train operator c2c</h1>
        <div class="content-page-press-release">
        16 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ken Livingstone, Mayor of London, repeated his call for train operating companies to accept his offer of &pound;20m to install Oyster equipment, following c2c's announcement today that they have taken up this deal.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More passengers will be able to move easily between rail, Tube, DLR, tram and bus using an Oyster card
                            
                        </p>
                    </div>
                
            
            
            
<p>Train operator c2c has become the first mainline train operator 
to accept the deal, allowing their passengers to get the benefits of Oyster pay 
as you go. </p>
<p>This follows the Mayor's announcement this week that the 10 millionth Oyster 
card has been issued. </p>
<p>Ken Livingstone said: "This is extremely good news and will bring real 
benefits to the commuters who use these services.</p>
<p>"I welcome c2c's decision to adopt Oyster at their stations allowing their 
passengers to get the full benefit of Oyster including pay as you go. </p>
<p>"c2c has shown that there is no justifiable reason why other train operating 
companies should not also accept my offer to pay them &pound;20m to install Oyster 
equipment.</p>
<p>"This represents a unique opportunity for passengers to benefit from the 
convenience and cheaper travel available through Oyster, and a fully integrated 
ticketing system in London."</p>
<p>In May 2006, the Mayor offered a funding package of &pound;20m to the train 
operators, which will finance the technology to accept the pay as you go system 
to be bought and installed at every station in Zones 1-6.</p>
<p>The train operating companies have until 31st January to accept this 
deal.</p>
<p>With the introduction on the rail system of the familiar six zones already 
used for Underground and Travelcard tickets, London can move to a unified 
ticketing system based on the Oyster smart card.</p>
<p>
<h2>Integrated journeys</h2>
<p>
<p>Transport for London (TfL) Commissioner Peter Hendy said: "This is great news 
for passengers as a further step toward to a fully integrated ticket system in 
London. </p>
<p>"This means even more passengers will be able to move easily between rail, 
Tube, DLR, tram and bus using an Oyster card."</p>
<p>Around three quarters of journeys on London's buses and Underground are now 
paid for by Oyster card compared to only five per cent by cash - bringing huge 
time savings to passengers and the transport system. </p>
<p>Almost three times as many passengers can pass an Underground payment gate 
using Oyster card as can using printed tickets - 40-a-minute compared to 
15-a-minute. </p>
            <ul>
<li>From later this year Oyster pre-pay - already available at c2c stations between Fenchurch Street and Upminster - will be extended to Dagenham Dock and Rainham. TfL and c2c are also working to extend Oyster outside the London area and there are plans to have Oyster available at Purfleet, Grays, Chafford Hundred and Ockendon by the summer of 2008</li>
<li>In just over three years since its launch, Londoners, commuters and visitors have snapped up more than 10 million Oyster cards, and now only five per cent of journeys on the Tube and bus networks - just one in 20 - are paid for by cash</li>
<li>TfL has agreed to provide Oyster Card validation equipment in all national rail stations within Zones 1-6. This will include smartcard readers, station equipment and back office support systems. The train operator must install the equipment, as well as operate and maintain it</li>
<li>As an example, with Oyster pay as you go you can place &pound;10 on your Oyster card, and when you touch in and out at the yellow readers with your card on the Tube, DLR, tram or bus the reader automatically deducts the correct and cheapest fare</li>
<li><a href="http://www.tfl.gov.uk/oyster">Oyster </a>is available to buy from around 2,500 locations including Tube Stations and over 2200 Oyster Ticket Stops in local shops. In addition they can be obtained online, over the phone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster outlet through the <a href="http://www.tfl.gov.uk">TfL website</a>.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2007-January-Mayor welcomes Oyster deal with train operator c2c -->

 
 
        
        
            @{ViewBag.Description = "Train operator c2c has become the first mainline train operator to accept the deal, allowing their passengers to get the benefits of Oyster pay as you go. This follows the Mayor's announcement this week that the 10 millionth Oyster card has been issued.";}
        
        


 