


@{ViewBag.Title = "New front facing cameras to halt speeding motorists";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007/36100">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New front facing cameras to halt speeding motorists</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New front facing cameras to halt speeding motorists</h1>
        <div class="content-page-press-release">
        12 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The brakes are set to be put on speeding drivers who attempt to avoid penalty points, if a new trial of speed cameras is successful.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These additional cameras are aimed at the minority of drivers on London's roads who think they can break the law and get away with it
                            
                        </p>
                    </div>
                
            
            
            <p>The forward facing cameras will be installed at two speed camera sites in central London to support existing rear facing speed cameras. </p>
<p>The trial cameras will take a digital image of the front of speeding cars at the same time as a traditional speed camera takes an image from the rear. </p>
<p>This will enable the police to positively identify speeding motorists.</p>
<p>Some people caught speeding attempt to avoid penalty points on their licence and a fine by claiming not to have been driving the vehicle when it was photographed.</p>
<p>Speed cameras play an important role in reducing the number of people killed or seriously injured on the capital's roads. </p>
<p>At camera sites introduced by the London Safety Camera Partnership (LSCP) there has been an average 50 per cent reduction in the number of people killed or seriously injured.</p>
<p>In July 2006 LSCP introduced speed awareness workshops for motorists caught speeding and a set amount over the speed limit. </p>
<p>Some motorists are offered the opportunity to attend a workshop instead of receiving three penalty points. </p>
<p>Jenny Jones, the Mayor of London's road safety ambassador, said: "These additional cameras are aimed at the minority of drivers on London's roads who think they can break the law and get away with it. </p>
<p>"We are determined to close the legal loopholes, catch the rogue drivers who put others at risk and have a consistent approach to traffic law enforcement in London." </p>
<p>Chris Lines, Head of the London Road Safety Unit, Transport for London, said: 'Some motorists believe they are above the law and should be able to speed without facing the legal consequences. </p>
<p>"Speed is a contributory factor in a third of fatalities in London and we hope trialling these cameras will enable us to stop motorists who endanger lives by speeding. </p>
<p>"We have proven in London that speed cameras do cut death and injury on the roads. Our new speed awareness workshops reinforce the message that speed cameras are about saving lives."</p>
<p>LSCP will trial the front facing cameras at two sites on Upper Thames Street in Central London. </p>
<p>The cameras, which are due to be installed in the next few weeks, will be used to provide supporting evidence for offences at these sites. </p>
<p>If the trial is successful LSCP will consider installing further cameras at sites where a problem has been identified.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2007-January-New front facing cameras to halt speeding motorists -->

 
 
        
        
            @{ViewBag.Description = "The forward facing cameras will be installed at two speed camera sites in central London to support existing rear facing speed cameras. The trial cameras will take a digital image of the front of speeding cars at the same time as a traditional speed";}
        
        


 