


@{ViewBag.Title = "Two TfL July 7 heroes honoured in New Years List";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007/36100">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Two TfL July 7 heroes honoured in New Years List</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Two TfL July 7 heroes honoured in New Years List</h1>
        <div class="content-page-press-release">
        02 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Transport Commissioner, Peter Hendy CBE today paid tribute to two more Transport for London (TfL) July 7 heroes, whose contribution has been recognised in this year's New Year's Honours List.
        
    </div>



 <div class="on-this-page">
<p>Ray Parry, London Underground Emergency Planning Manager and John Gardner, London Buses Events Planning Manager will both receive MBEs for their services to transport in London, and in particular their contribution following the July 7 terror attacks.</p>
<p>Ray Parry, 54, of Leighton Buzzard, Bedfordshire has 26 years of service to London Underground.</p>
<p>Ray set up and led TfL's Incident Care Team following July 7, liaising with the Government's Family Assistance Centre to provide support and assistance for the families of July 7 victims.</p>
<p>He has since used the experience to ensure TfL has a fully-trained Incident Care Team of 68 volunteers.</p>
<p>London's Transport Commissioner Peter Hendy said: 'I am delighted that Ray's work in caring for families affected by the bombings of our network on July 7, 2005 has been recognised by the award of an MBE.</p>
<p>'By setting up and managing a team of volunteers to work in the Family Assistance Centre, our passengers, their families and our staff received valuable practical support.</p>
<p>'I would like to extend my congratulations to Ray and also to his team of volunteers who made such a difference in the very worst of circumstances.</p>
<p>Their work means that TfL is now much better equipped to provide humanitarian assistance in the future, should it ever be needed.'</p>
<p>Ray Parry said: 'I was really shocked to hear of this award, but I'm very proud.</p>
<p>'I would like to receive this honour on behalf of the whole of TfL's Incident Care Team, who worked so hard for, and so well with, the July 7 families at that terrible time.</p>
<p>'At the very worst time in their lives, the least we could do was our very best.</p>
<p>'I'm glad this award recognises that contribution.'</p>
<p>John Gardner, 58, of Winchmore Hill, north London has 31 years of service to London Buses.</p>
<p>John began life with London Transport as a bus driver but progressed to become London Buses Events Planning Manager, helping Londoners and bus passengers get around during annual events such as the Notting Hill Carnival and one-off events such as Live 8.</p>
<p>John and his colleagues are experts at keeping London Buses moving by planning routes and diversions, often tirelessly working long hours to allow others to enjoy all that London has to offer.</p>
<p>John also played a vital role following July 7 and July 21, representing London Buses at Scotland Yard, formulating strategies and providing direction to ensure Londoners and commuters could still get around London and get home.</p>
<p>London's Transport Commissioner Peter Hendy said: 'John Gardner is one of London's unsung heroes so I am delighted that his work has been recognised by the award of this MBE.</p>
<p>'His work as the Events Planning Manager for London's Buses means that over the years, millions of people have been able to travel safely to and from major events in the Capital, from New Years Eve and the Notting Hill Carnival to Live 8.</p>
<p>'John was also heavily involved in keeping London moving and getting Londoners home after the attacks of July 7 and 21, 2005.</p>
<p>'With over 30 years of service to public transport in London, and seven of them in this demanding post, John's dedication rightly deserves this level of recognition.'</p>
<p>John Gardner said: 'All I can say is that is very nice to be recognised for all the hard work you put in to a job that you enjoy doing so much.</p>
<p>'How much better can it be to be paid for a job you enjoy, serving Londoners and the city you love and then for it to be recognised with such an honour.'</p>
            <ul>
<li>Media who seek an interview with Ray Parry or John Gardner should do so through the TfL Press Office</li>
<li>Seven TfL staff were recognised in last year's New Year's Honours List.  Five front line staff received MBEs and there were CBEs for Transport Commissioner Peter Hendy, then TfL Managing Director Surface Transport, and London Underground Managing Director, Tim O'Toole</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2007-January-Two TfL July 7 heroes honoured in New Years List -->

 
 
        
        
            @{ViewBag.Description = "Ray Parry, London Underground Emergency Planning Manager and John Gardner, London Buses Events Planning Manager will both receive MBEs for their services to transport in London, and in particular their contribution following the July 7 terror attacks.Ray";}
        
        


 