


@{ViewBag.Title = "Award-winning East London Transit celebrates first birthday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Award-winning East London Transit celebrates first birthday</h1>
        <div class="content-page-press-release">
        23 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In just 12 months since its launch, 5.5 million passengers have used the East London Transit (ELT).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Those living along the line from Ilford to Dagenham Dock are clearly enjoying the improved reliability and faster journeys"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Transport for London's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Those living along the line from Ilford to Dagenham Dock are clearly enjoying the improved reliability and faster journeys
                            
                        </p>
                    </div>
                
            
            
            <p>Passengers have enjoyed quicker and more reliable journeys, the project has scooped two awards and bus use across the local network has increased by 10 per cent.</p>
<p>The ELT provides a quick and direct link from Ilford to Dagenham Dock station via Barking town centre, replacing the route 369 and part of route 179. </p>
<p>It has reduced journey times by 15 per cent and a recent customer satisfaction survey reported a&nbsp;five percentage point improvement in customer satisfaction. </p>
<h2>Architectural excellence</h2>
<p>As well as being a local success, the ELT has been recognised with two awards. </p>
<p>The project won the first prize in the Infrastructure category of the UK Bus Awards 2010 for highway improvements and bus priority delivered along the route.</p>
<p>The project also won a national award from The Royal Institute of British Architects (RIBA) for architectural excellence for its rest area for bus drivers, complete with an eco superloo, at the ELT terminus at Dagenham Dock.</p>
<p>Boris Johnson, the Mayor of London, said: 'To carry five and a half million punters in just 12 months is a terrific start for this super scheme. </p>
<h2>Real boost</h2>
<p>'Those living along the line from Ilford to Dagenham Dock are clearly enjoying the improved reliability and faster journeys that the transit offers but that is just part of the story. </p>
<p>'We were also able to put in extra parking, provide better lighting, upgrade the bus stops and improve public spaces, providing a real boost for the entire area it serves.'</p>
<p>David Brown, Transport for London's Managing Director of Surface Transport, said: 'The distinctive new buses have been operating along the East London Transit route for a year providing east Londoners with faster, more reliable journeys with improved frequencies. </p>
<p>'It is heartening to see that the investment we have made has led to tangible improvements for our customers.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers have enjoyed quicker and more reliable journeys, the project has scooped two awards and bus use across the local network has increased by 10 per cent.The ELT provides a quick and direct link from Ilford to Dagenham Dock station via Barking town";}
        
        


 