


@{ViewBag.Title = "Barclays Cycle Hire wins Transport Category of Brit Insurance Design Awards 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire wins Transport Category of Brit Insurance Design Awards 2011</h1>
        <div class="content-page-press-release">
        28 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More improvements made to Barclays Cycle Hire system, including 12 new languages now available at all terminals and new Docking Station Status website page.
        
    </div>



 <div class="on-this-page">
<p>The Mayor's flagship cycle hire scheme is one step closer to picking up a prestigious international award after winning the approval of the design world.</p>
<p>Barclays Cycle Hire has won the transport category in the Brit Insurance Design Awards that showcase the most innovative and forward thinking designs from around the world.</p>
<p>The bikes fought off competition from the likes of Fiat 500 Twinair, Yikebike New Zealand and Riversimple UK to win the transport category.</p>
<p>The overall winner of the awards will be announced on Tuesday 15 March at the Design Museum in London.</p>
<p>Barclays Cycle Hire continues to be a phenomenal success in London.</p>
<p>Since the launch of the scheme just eight months ago, customers have made&nbsp;more than&nbsp;2.8million journeys around the Capital.</p>
<p>Londoners and visitors to the Capital have praised the bikes for their convenience, ease of use and value for money, and now they are being admired for their style as well.&nbsp; </p>
<p>Transport for London (TfL)&nbsp;and the Mayor of London also announced today that they have made further improvements to the Barclays Cycle Hire system to enhance the service for&nbsp;customers.</p>
<p>TfL is rolling out a series of improvements over the next two weeks which will include:</p>
<ul>
<li>Twelve additional languages will now be available at all terminals; bringing the total number of languages to 17 </li>
<li>The red light will remain illuminated permanently when a customer presses the fault button within 10 seconds of docking a bike; ensuring further customers don't attempt to undock a faulty bike </li>
<li>A new Docking Station Status website page that will be updated each week with information about new or out of service docking stations, see the following link <a href="http://www.tfl.gov.uk/roadusers/cycling/18088.aspx">http://www.tfl.gov.uk/roadusers/cycling/18088.aspx</a></li></ul>
<p>Mayor of London, Boris Johnson, said: 'I need no convincing that London's blue bikes are simply the best way to travel.</p>
<p>'With the backing of the aficionados of the design world I hope this is the first sign of the bikes becoming a design classic like London's iconic red bus or black cab.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'These new changes, in response to customer comments, will improve the service we are offering.</p>
<p>'The new Docking Station Status website page will keep people up-to-date with new or out of service docking stations and the additional languages will enable more visitors to the Capital to take full advantage of London's newest public transport system.</p>
<p>'Winning the transport category of the Brit Insurance Design Awards is a great achievement, we are delighted to hear the bikes are now recognised for their design as well as their reliability, convenience and value for money.'</p>
<p>Deanna Oppenheimer, Vice-Chair, Global Retail Banking, CEO Western Europe and CEO UK Retail Banking at Barclays, said: 'This award win is further recognition of the enormous success of Barclays Cycle Hire.</p>
<p>'It is an iconic and innovative scheme, which continues to be embraced by both Londoners and visitors to the city.'</p>
<p>Chris MacLeod, Director of Marketing at TfL, added: 'The Brit design award transport category was very tough this year, and the fact that the Mayor's Cycle Hire scheme came top in the transport category demonstrates the quality of the design of the entire Barclays Cycle Hire system.'</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors: </strong></p>
<ul>
<li>The Brit Insurance Designs Awards, 'the Oscars of the design world', showcase the most innovative and forward thinking designs from around the world. Last year's winner was the Folding Plug by Min-Kyu Choi that revolutionises a humble, but essential, piece of everyday equipment. The Design Museum's exhibition and awards are supported by Brit Insurance, an international general insurance and reinsurance group specialising in commercial insurance </li>
<li>15 March 2011: Awards ceremony at Design Museum where the Brit Insurance Design of the Year 2011 is awarded </li>
<li>The Brit Insurance Designs of the Year exhibition at the Design Museum in&nbsp;London runs&nbsp;until 7 August - <a href="http://www.designsoftheyear.com">www.designsoftheyear.com</a>&nbsp;</li>
<li>The additional languages are Arabic, Bengali, Chinese, Hindi, Gujarati, Greek, Polish, Punjabi, Turkish, Tamil, Urdu, and Vietnamese. These are&nbsp;in addition to English, French, German, Italian and Spanish, which were already available </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor's flagship cycle hire scheme is one step closer to picking up a prestigious international award after winning the approval of the design world.Barclays Cycle Hire has won the transport category in the Brit Insurance Design Awards that showcase";}
        
        


 