


@{ViewBag.Title = "Crucial London Overground rail link opens three months early ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crucial London Overground rail link opens three months early </h1>
        <div class="content-page-press-release">
        28 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New route connects three sides of the Capital.
        
    </div>



 <div class="on-this-page">
<p>A crucial rail link that will allow passengers to move swiftly between north London, the City, Docklands and the south of the Capital was opened three months ahead of schedule today by the Mayor of London, Boris Johnson. </p>
<p>The 2.1km link between Highbury&nbsp;&amp; Islington station (on London Overground's Richmond to Stratford line) and Dalston Junction (on London Overground's East London line) will mean passengers using Victoria line Tube services or National Rail services stopping at Highbury&nbsp;&amp; Islington can now use fast London Overground services to reach the north, east or south of the Capital. </p>
<p>It will be particularly valuable for Londoners and visitors heading to Stratford for the London 2012 Games, providing another way for millions of passengers to reach the Olympic Park. </p>
<p>Boris Johnson said: 'We are piecing together a rail version of the M25 in the Capital, an orbital rail link that is making it vastly easier for millions of Londoners to whizz from one side of the city to another.</p>
<p>'This relatively short stretch of track will link three sides of the city and mean people can scoot around the edges of the Capital on fast, reliable rail connections without needing to head into central London. </p>
<p>'Our engineers have performed marvels to complete their work three months early and it will provide a crucial connection for people heading to the Olympic Park next year.'</p>
<p>The link and the recently-opened East London route are expected to see 33 million passengers this year and will be served by London Overground's fleet of 20 air-conditioned and walk-through Electrostar trains.</p>
<p>For the second month in a row London Overground has topped the nation's rail league tables for punctuality with 96.4 per cent of it trains arriving on time in January.</p>
<p>Mike Brown, Managing Director of London Rail, said: 'The London Overground network continues to grow and offer Londoners real alternatives to journeys requiring a trip through central London.</p>
<p>'This link will be a huge help to passengers based on London's outer fringes - in Hertfordshire and Welwyn Garden City for example, and for those who travel into the Capital on the Victoria or Piccadilly Tube lines. </p>
<p>'With its fast and frequent service on a new fleet of air-conditioned, high capacity trains and refurbished stations, London Overground's network is setting the standard for the future of urban rail travel.'</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>London Overground's &pound;1bn East London route was opened in May 2010. It connects Dalston Junction with New Cross, Crystal Palace and West Croydon, and carries more than 70,000 passengers a day. This new link will connect the East London route to the wider London Overground network at Highbury&nbsp;&amp; Islington station </li>
<li>Some new approximate optimum journey times made possible by the new link are: Highbury &amp; Islington to Shoreditch High Street 12 minutes; to Shadwell 15 minites; to Canada Water 21 minutes; to West Croydon 50 minutes. Cockfosters to Canada Water 46 minutes; to Shoreditch High Street 37 minutes. Walthamstow Central to Shoreditch High Street 26 minutes; to Canada Water 35 minutes </li>
<li>The link cost &pound;50m, and opened at least three months ahead of schedule. It runs under Kingsland High Street along the route of a previous railway which was decommissioned in the 1980s </li>
<li>It is predicted that in 2011, 33m people will use the line (approx 100,000 per day) and demand is forecast to increase to 40m in 2016 (approximately 120,000 per day). The former East London Tube line carried approximately nine millon passengers every year (approximately 30,000 per day) </li>
<li>Trains using the new link will also call at Canonbury Station. At Highbury &amp; Islington passengers can make a cross platform interchange with the London Overground Stratford - Richmond/Clapham Junction services </li>
<li>Sections of the London Overground network form part of the Olympic network and this connection will ensure it performs that function efficiently and well </li>
<li>The link will be served by London Overground's fleet of 20 new air-conditioned, fast and frequent 378 Electrostar trains bringing an eight trains an hour service to the link to supplement the 12 trains an hour service already running between Dalston Junction and New Cross Gate </li>
<li>As well as transforming London's suburban rail services, TfL is investing billions to upgrade the Underground network. The Tube upgrades will deliver 30 per cent more capacity through the introduction of new trains, signalling and track. Some of London's biggest and most complex stations, including Victoria and Tottenham Court Road, are also being rebuilt<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A crucial rail link that will allow passengers to move swiftly between north London, the City, Docklands and the south of the Capital was opened three months ahead of schedule today by the Mayor of London, Boris Johnson. The 2.1km link between";}
        
        


 