


@{ViewBag.Title = "'Good Times' a new artwork by Eva Rothschild to appear on Pocket Tube Map cover ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Good Times' a new artwork by Eva Rothschild to appear on Pocket Tube Map cover </h1>
        <div class="content-page-press-release">
        22 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Artist Eva Rothschild's new art work, 'Good Times', commissioned by Art on the Underground will be displayed on the front cover of millions of Pocket Tube Maps from March 2011.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            So many of us, including myself, depend on the Tube, its iconic map and London's huge transport system in order to go about our day-to-day lives
                            
                        </p>
                    </div>
                
            
            
            <p>'Good Times', which will be available for customers to pick up from stations across the London Underground network, derives from and shares its title with a recent sculpture by the artist. </p>
<p>Eva Rothschild, who often uses a rainbow spectrum of colours in her work, has designed a ring made up of the Tube line colours with a stark black background, referencing the dominance of darkness as we travel through the tunnels underground.</p>
<p>'Good Times' and many of Rothschild's sculptures stem from the abstraction of different visual codes and imagery. </p>
<h2>Fascination</h2>
<p>Her iconography is informed by contemporary culture - music, film, literature and religion.</p>
<p>The ring or belt form implies linkage, which can be interpreted into what the Tube essentially does for London.</p>
<p>Rothschild is particularly interested in the way objects have a power over us, especially in relation to religious thought and superstition. </p>
<p>This is reflected in her fascination with sacred or lucky symbols, ranging from spheres and pyramids to new age charms.&nbsp; </p>
<h2>Life saver</h2>
<p>The image can also be seen as a life belt, playing with the idea of the Tube being a 'life saver' in London and also of the Tube Map being a 'life saver' for customers in terms of using such an enormous transport system.</p>
<p>Rothschild's work is the latest in a long series of commissions by Art on the Underground for the Pocket Tube Map cover. </p>
<p>Other artists in the series include Barbara Kruger, Jeremy Deller, Richard Long, Pae White and Mark Wallinger. </p>
<p>Eva Rothschild, commissioned artist, said: 'The design for Art on the Underground's commission comes directly from a recent sculpture called 'Good Times'. </p>
<h2>A platform to present</h2>
<p>The image takes the form of a ring made up of the Tube line colours, creating an expanded spectrum. </p>
<p>'The spectrum and colours also hold specific meaning of their own, echoing a life belt, for me this reference seemed appropriate because so many of us, including myself, depend on the Tube, its iconic map and London's huge transport system in order to go about our day-to-day lives.'</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'Eva's image works on multiple levels, both visually and conceptually. </p>
<p>'I am delighted with this addition to our series, as well as giving new work by an outstanding artist another platform to present. I look forward to hearing customers' feedback on Eva's work via our website'</p>
<p>Customers will be able to pick up Rothschild's map for free at Tube stations across London from March 2011.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The Pocket Tube Map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, Richard Long, Liam Gillick and Jeremy Deller </li>
<li>For more information about Art on the Underground, please visit <a href="http://art.tfl.gov.uk/">http://art.tfl.gov.uk/</a> </li>
<li>Eva Rothschild (born 1971, Ireland) lives and works in London. She studied at the University of Ulster and went on to Goldsmith's College for an MA in Fine Art. Rothschild has achieved international acclaim for her practice, which involves both conceptual and socio-political ideas alongside traditional approaches to making sculpture. In 2007 she exhibited a solo show of sculptures and wall-based works at the South London Gallery. In 2009, Rothschild was selected for the Duveens Commission at Tate Britain, where her metal sculpture 'Cold Corners' filled the Duveen galleries. Rothschild's various group shows include The Whitechapel Art Gallery, The Barbican Centre, Kettles Yard and Irish Museum of Modern Art. In 2000 she was the artist in residence at Camden Arts Centre </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's&nbsp; (TfLs) Tube upgrade. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Images of the artwork are available at <a href="http://www.theresasimon.com/press">www.theresasimon.com/press</a> - just log in with your name and email address, click next, and choose the link from the project menu</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Good Times', which will be available for customers to pick up from stations across the London Underground network, derives from and shares its title with a recent sculpture by the artist. Eva Rothschild, who often uses a rainbow spectrum of colours in";}
        
        


 