


@{ViewBag.Title = "Key West End Tube station upgrades step up a gear ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Key West End Tube station upgrades step up a gear </h1>
        <div class="content-page-press-release">
        08 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tottenham Court Road and Bond Street stations receiving major upgrades to increase capacity as part of the Tube Upgrade Programme. Some bus diversions necessary from 14 February for Bond Street works.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With Crossrail services set to begin in 2018, it's vital that we get these works well under way"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">London Underground's Strategy & Commercial Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With Crossrail services set to begin in 2018, it's vital that we get these works well under way
                            
                        </p>
                    </div>
                
            
            
            <p>Northern line won't stop at Tottenham Court Road station from April to November to enable major structural works on platforms.</p>
<p>The transformation of two of the Capital's busiest Tube stations is moving into a new phase as work intensifies to completely rebuild Tottenham Court Road and Bond Street stations. </p>
<p>Both sets of works, which are part of the Tube Upgrade Programme, will require some changes to transport services in the area.</p>
<p>When complete, the works at the stations will mean a dramatic increase in capacity for passengers, with larger ticket halls, new entrances and escalators, step-free access and direct links to Crossrail.</p>
<p>To enable the Bond Street station upgrade to get underway, Oxford Street will be closed eastbound between Duke Street and Vere Street for utility works from 14 February for nine months and several bus routes will be on diversion.&nbsp; </p>
<p>From April, for eight months, the Northern line won't stop at Tottenham Court Road station so that major structural works can take place in the platform tunnels. </p>
<p>The Central line will continue to serve the station as normal.</p>
<p>London Underground's Strategy &amp; Commercial Director, Richard Parry, said: 'The huge increase in capacity these station upgrades will bring will enhance Oxford Street's status as a world class shopping area by providing a fantastic gateway to the West End.</p>
<p>'With the upgrade of the Northern, Victoria and Jubilee lines, and with Crossrail services set to begin in 2018, it's vital that we get these works well under way.&nbsp; </p>
<p>'We've been working with high street retailers, businesses and residents to do all we can to minimise disruption and would ask Londoners to bear with us as we deliver these huge projects, it will be worth it.'</p>
<p>Richard Dickinson, Chief Executive of New West End Company which represents retailers and property owners in Bond Street, Oxford Street and Regent Street said: 'TfL has worked closely with us on the closure plans for Oxford Street, which will of course cause a certain amount of disruption, but we're focussed on the long-term benefits it will bring to West End retailers and shoppers. </p>
<p>'A large majority of our shoppers rely on Bond Street station and without this upgrade and vital Crossrail link, businesses would suffer from a Tube station unable to cope with the huge increase in passenger numbers.'</p>
<h2>Bond Street</h2>
<p>Bond Street station is used by 155,000 people a day and can no longer comfortably handle that many passengers. </p>
<p>This number will increase to 225,000 people with the arrival of Crossrail. </p>
<p>Bond Street station's upgrade project will deliver:</p>
<ul>
<li>A&nbsp;new ticket hall to relieve congestion </li>
<li>Step-free access </li>
<li>New escalators to the Jubilee line and additional interchange passageways </li>
<li>A&nbsp;new station entrance on the north side of Oxford Street on Marylebone Lane </li>
<li>Access to new Crossrail services</li></ul>
<p>The station upgrade will become more visible this year as demolition of the building at 354-358 Oxford Street will commence. </p>
<p>This will enable the major redevelopment of the station which will include an interchange with the new Crossrail station. </p>
<p>Significant tunnelling and excavation works will be required for both London Underground and Crossrail in this area which may lead to some ground movement. </p>
<p>In order to ensure the safety and reliability of gas and water mains during the works and into the future, some pipes need to be strengthened or replaced. </p>
<p>So that this can happen, Oxford Street will be closed to eastbound traffic between Duke Street and Vere Street from 14 February for nine months and traffic will be diverted via other routes. </p>
<p>Some bus routes will be diverted via nearby Wigmore Street. </p>

<p>Extensive traffic modelling has been done to ensure diversions take the least disruptive routes.&nbsp; </p>

<p>While there will be some disruption and congestion at times, TfL will be monitoring the situation closely to assess the impact and keep the West End moving.</p>
<p>Information for the travelling public will be placed on all bus stops affected by the diversion. </p>

<p>Leaflets will be handed out in the days before the change, and will also be available at nearby Tube stations. </p>
<h2>Tottenham Court Road</h2>

<p>Tottenham Court Road station is more than 100 years old and was not designed to be used by the 147,000 people that currently pass through it every day. </p>

<p>With the arrival of Crossrail, it's expected that number will grow to 200,000. </p>

<p>To cope with that increase the station upgrade project will:</p>
<ul>
<li>Increase the size of the ticket hall nearly six times</li>
<li>Introduce step free access from street to platform</li>
<li>Provide four new or modernised entrances</li>
<li>Deliver new escalators and improved interchanges between platforms</li>
<li>Build a new Crossrail ticket hall at Dean Street</li></ul>
<p>The next key stage of the project involves major structural alterations on the Northern line platforms so that new routes cab be built to the platforms from the ticket hall. </p>

<p>To enable this work to go ahead, Northern line services will not stop at Tottenham Court Road from April 2011 for eight months. </p>
<p>Central line services at the station will run as normal. </p>

<p>Passengers wishing to use the Northern line are advised to use nearby Goodge Street or Leicester Square. </p>

<p>Notification of the platform closure will be given to passengers using Tottenham Court Road station well in advance and alternative travel options made clear.</p>
<p>
<hr>
</p>

<p><strong>Notes for editors:</strong></p>
<p><strong>Bond Street</strong></p>
<ul>
<li>During the Oxford Street utility works, 13 daytime routes will be affected by the diversions and 14 night-time routes,&nbsp;eight of which are 24-hour services</li>
<li>Pedestrian access to all retail outlets and businesses along Oxford Street will be maintained during the works</li>
<li>Wigmore Street is an established emergency diversion route and has been used several times for shorter periods until regular service was able to resume</li></ul>

<p><strong>Bus routes affected</strong></p>
<ul>
<li>Routes 6, 13, 94, 139 and 159 will be diverted via Portman Street, Wigmore Street and Regent Street</li>
<li>Routes 7, 10, 23, 98, 390, N7 and N98 will be diverted via Duke Street, Wigmore Street, Welbeck Street and Vere Street</li>
<li>Routes 73 and N73 will be diverted via Portman Street, Wigmore Street, Welbeck Street and Vere Street</li>
<li>Route N13 will be diverted via York Street, Marylebone Road, Great Portland Street, Portland Place and Regent Street</li>
<li>Route N7 will be diverted from Praed Street via Chapel Street, Old Marylebone Road, Marylebone Road, Great Portland Street, Portland Place and Regent Street</li>
<li>Route N207 will be diverted via Portman Street, Gloucester Place, Marylebone Road, Great Portland Street, Portland Place and Regent Street</li>
<li>Routes 137, 189 and N137 will be curtailed at Marble Arch</li></ul>
<p><strong>Tottenham Court Road</strong></p>
<ul>
<li>At Tottenham Court Road, during the Northern line platform closure 'Exit 4' (closest to Centre Point) will be closed from April until July to allow the staircase to be rebuilt<br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Northern line won't stop at Tottenham Court Road station from April to November to enable major structural works on platforms.The transformation of two of the Capital's busiest Tube stations is moving into a new phase as work intensifies to completely";}
        
        


 