


@{ViewBag.Title = "London to lead world as plans unveiled for travel with just a swipe of a contactless bank card";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London to lead world as plans unveiled for travel with just a swipe of a contactless bank card</h1>
        <div class="content-page-press-release">
        24 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London will lead the world in 2012 when it will become the first city in the world where passengers are able to access an entire transport network with just a swipe of their contactless bank or credit card.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will be the first in the world to allow the millions using our Tube, trams, buses and trains to benefit from the ease of using this technology"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will be the first in the world to allow the millions using our Tube, trams, buses and trains to benefit from the ease of using this technology
                            
                        </p>
                    </div>
                
            
            
            <p>By the end of 2012 card readers across the whole of the Transport for London (TfL) network will have been upgraded so that a touch of a contactless bank or credit card will allow passengers to touch in and out for pay as you go travel on the bus, Tube, Docklands Light Railway (DLR), Tram and London Overground network. </p>
<p>The new system will be up and running on all of London's 8,000 buses in time for the 2012 Games, enabling quick and easy bus travel for the millions of visitors who will flock to the Capital to enjoy the greatest show on earth.</p>
<p>The Mayor of London, Boris Johnson, said: 'It is tip top news that from next year a simple tap of a contactless bank card will be enough to whizz you from A to B in this great city. </p>
<p>'London leads the way in so many different fields and we will be the first in the world to allow the millions using our Tube, trams, buses and trains to benefit from the ease of using this technology.' </p>
<h2>Millions of customers</h2>
<p>The system will be rolled out onto the Tube, DLR, Tram and London Overground network before the end of 2012. </p>
<p>Discussions are also under way with the Train Operating Companies that serve London about whether contactless payment cards could be used on National Rail services where Oyster is currently accepted. </p>
<p>Oyster will also continue to be accepted for the many millions of customers who use it every day.</p>
<p>To make the new system possible TfL is upgrading software in the Oyster smartcard system to recognise contactless credit and debit cards issued by Visa, MasterCard and American Express as well as Oyster cards.&nbsp; </p>
<h2>Forefront of ticketing technology</h2>
<p>Customers will be able to touch in with their contactless credit and debit cards in the same way that they can today to make low value purchases in many coffee shops and other retail outlets.</p>
<p>TfL has been at the forefront of ticketing technology for a decade and is renowned for the success of its Oyster smartcard ticketing with over 40m Oyster cards issued since 2003. </p>
<p>Contactless payment is another innovative development to London's ticketing system and TfL is leading the way globally with its introduction.</p>
<p>TfL has worked closely with the banking industry, including Visa Europe, MasterCard and American Express and card issuers, in order to bring contactless payment to London's transport network.&nbsp; </p>
<h2>No need for a PIN</h2>
<p>The software upgrade being delivered on the Oyster system will be fully approved by the payment schemes and will make full use of the payments industry's security systems.</p>
<p>Certain features of contactless payments will be adapted to suit the public transport environment - for example, customers will never be asked to enter a PIN at a busy station gate-line.</p>
<p>Customers who choose to pay this way will be charged for their travel directly from their bank or credit card account, removing the need to go out of their way to top up Oyster pay as you go credit balances.</p>
<p>The new system will make London's public transport far more accessible for domestic and international visitors. </p>
<h2>Touching in </h2>
<p>Most visitors currently arrive in London without any kind of public transport ticket in their possession, and have to spend their valuable time buying one.&nbsp; </p>
<p>But this enhancement to the Oyster system will mean visitors with a contactless credit or debit card are able to enter the transport network as soon as they arrive simply by touching in with their bank card at the Oyster reader. </p>
<p>When fully rolled out, the technology will work even if their card was issued by an overseas bank. </p>
<p>This innovation will significantly increase visitors' ability to make the most of their time in London, and will increase London's attractiveness as a destination for tourism and business and its competitiveness with other world cities. </p>
<h2>Leading the way</h2>
<p>Contactless payment will also reduce commissions and processing costs for TfL, as well as enabling a reduction in the number of Oyster cards produced and issued. It is another example of TfL's efforts to operate more efficiently and provide value for money for London's fare and taxpayers.</p>
<p>Will Judge, TfL's Head of Future Ticketing, said: 'We are leading the way globally with this project, and with over 12 million contactless debit and credit cards already in circulation in the UK, we are confident that this payment option will be widely adopted in the coming years, either as an alternative to Oyster or as a back up for when the Oyster card is left at home.</p>
<p>'As more people use their bank issued cards to pay for their travel directly, TfL's costs will reduce, delivering better value for money for London's fare and taxpayers.'</p>
<p>Mark Austin, VP and Head of Visa contactless, Visa Europe, said: 'We are expecting 20 million contactless debit and credit cards to be issued by the start of 2012. </p>
<h2>Shared vision</h2>
<p>'This initiative between TfL and the banking industry will be a great new convenient service which will save people time queuing to either purchase tickets or top up their Oyster card.'</p>
<p>Hany Fam, President of MasterCard UK &amp; Ireland, said: 'We've been working closely with TfL since 2006 to make this shared vision a reality and recently announced a deal for the exclusive branding of TfL's Oyster card wallet for 2011. </p>
<p>'MasterCard was the first to introduce contactless bankcard payments on UK public transport in 2009 and we're delighted that from 2012 consumers with a PayPass card issued anywhere in the world can use it to access London's transport system. </p>
<p>'We believe that London's leadership will pave the way for adoption of contactless payments in other major cities across the world.' </p>
<h2>In talks</h2>
<p>Scott Abrahams, Vice President UK Merchant Services for American Express, said: 'The introduction of contactless payments on the TfL network is great news for commuters and visitors to London.</p>
<p>'The UK is leading the world in the implementation of contactless payments and its introduction on the TfL network will put London at the forefront of emerging payment technologies. </p>
<p>'American Express is pleased to be leading the way in partnership with TfL.'</p>
<p>TfL is also in talks with transport operators around the world to share detailed information and experience on using this technology on their systems.&nbsp; </p>
<p>If these other operators choose to follow TfL's path, this would allow passengers to use their debit and credit cards on urban transport networks across the globe.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>All of the Oyster card readers across the TfL network are being upgraded in 2011 to enable them to accept contactless debit and credit card payments </li>
<li>In his Local Transport White Paper 'Creating Growth, Cutting Carbon', Transport Minister Norman Baker said that the Department for Transport will 'work closely with Transport for London as it develops its future strategy for smart ticketing in London, and explore how lessons learnt might be applied more widely' </li>
<li>Since 2007, TfL has been part of an informal group of city transport authorities researching the concept of contactless payment on the transport network. Participating cities have included Paris, New York, Boston, Chicago, Washington, Philadelphia, Atlanta, Salt Lake City and Sydney. Of these participants, most have chosen to make progress in some way towards implementing the acceptance of contactless payment cards for direct fare payment</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "By the end of 2012 card readers across the whole of the Transport for London (TfL) network will have been upgraded so that a touch of a contactless bank or credit card will allow passengers to touch in and out for pay as you go travel on the bus, Tube,";}
        
        


 