


@{ViewBag.Title = "London Overground tops punctuality league table";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground tops punctuality league table</h1>
        <div class="content-page-press-release">
        22 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        LONDON Overground runs more trains on time than any of the other national operators, latest figures show.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The network was once one of the most neglected railways in the country and with a hugely improved infrastructure and new trains, it is now providing a fast, efficient and reliable service to Londoners.
                            
                        </p>
                    </div>
                
            
            
            <p>The service saw 96.4 per cent of its trains arrive on time for the period 9 January - 5 February, according to Network Rail's monthly survey.</p>
<p>This is a 7.9 per cent improvement on punctuality for the same period in 2010 and above the 90.3 per cent national average.</p>
<p>This is the second month in a row that London Overground has topped the national punctuality tables.</p>
<h2>Winter weather service</h2>
<p>During December, when services across Britain were hit by extreme weather, London Overground outperformed all other operators with 93.5 per cent of its trains arriving on time.</p>
<p>A Transport for London (TfL) spokesperson said: 'This is the result of our &pound;1.4bn investment and three years of hard work on the network and it is delivering the level of service our passengers deserve.</p>
<p>'The network was once one of the most neglected railways in the country and with a hugely improved infrastructure and new trains, it is now providing a fast, efficient and reliable service to Londoners.'</p>
<p>In measuring punctuality, trains must arrive at their destinations within five minutes for commuter services and within&nbsp;10 minutes for long distance services.</p>

<ul>
<li>According to an independent survey carried out earlier this year, passengers are more satisfied with service on the London Overground since Transport for London took it over in 2007. The number of passengers satisfied with train punctuality rose to 76 per cent, up from 68 per cent on the previous year. And 84 per cent said they were satisfied with customer information during their journey, up 24 per cent on 2009 (65 per cent)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The service saw 96.4 per cent of its trains arrive on time for the period 9 January - 5 February, according to Network Rail's monthly survey.This is a 7.9 per cent improvement on punctuality for the same period in 2010 and above the 90.3 per cent national";}
        
        


 