


@{ViewBag.Title = "Major facelift of London Bridge bus station under way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major facelift of London Bridge bus station under way</h1>
        <div class="content-page-press-release">
        28 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Canopy roof to be removed during weekend closures of London Bridge bus station.
        
    </div>



 <div class="on-this-page">
<p>Work on a dramatic facelift of London Bridge bus station will continue this weekend.</p>
<p>The current canopy roof that covers the bus station will be removed over four consecutive weekend closures of the bus station from Saturday 5 March.</p>
<p>The new-look bus station, set to open in May 2012, will have more space for buses and taxis, improved waiting facilities and an improved&nbsp;road layout to ease congestion.</p>
<p>The upgrade, which will also include improvements to the train station concourse, will make the area more open, attractive and welcoming to passengers.</p>
<p>During the weekend closures no buses will be serving the bus station but will be serving nearby stops on London Bridge.</p>
<p>Full details of the diversions and revised stopping arrangements will be available on the Transport for London (TfL) website at <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a></p>
<p>Posters will be displayed around the bus station and also at local bus stops, and Customer Information Assistants will be on hand to point passengers in the right direction.</p>
<p>Taxis will also be unable to serve the rank at London Bridge bus station.</p>
<p>Passengers can catch taxis from the ranks on Tooley Street. </p>
<p>Andy Clarke, Project Manager at TfL, said: 'Work began a few months ago and is progressing well.</p>
<p>'One of the biggest tasks we have now is removing the canopy roof above the bus station.</p>
<p>'We do ask passengers to bear with us during the disruption, the result will be a much better laid out, easier to use bus station.'</p>
<p>The redevelopment of the bus station will involve extensive works.&nbsp;</p>
<p>TfL is working hard to ensure that despite these, most of the routes and taxis will be able to use the bus station as normal for the majority of the time. </p>
<p>The main construction works will take place between September 2011 and May 2012.&nbsp;</p>
<p>TfL is working closely with Network Rail, Southwark Council and Sellar, to ensure that all works are carried out without compromising passenger accessibility or safety and that disruption to services is kept to a minimum.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work on a dramatic facelift of London Bridge bus station will continue this weekend.The current canopy roof that covers the bus station will be removed over four consecutive weekend closures of the bus station from Saturday 5 March.The new-look bus";}
        
        


 