


@{ViewBag.Title = "Mayor and TfL announce plans to provide &pound;4m funding to 13 Biking Boroughs ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL announce plans to provide &pound;4m funding to 13 Biking Boroughs </h1>
        <div class="content-page-press-release">
        18 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A total of 2.4 million journeys which could be cycled are made in Outer London everyday. Biking Boroughs help to create a local culture of cycling.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More than half of the trips in the Capital that could be made by bicycle are in Outer London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">TfL's Director of Better Routes and Places</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More than half of the trips in the Capital that could be made by bicycle are in Outer London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have announced &pound;4m funding for Biking Boroughs to create cycle hubs and cycling communities in Outer London.</p>
<p>The funding will help boroughs engage the local community in cycling, create better cycle infrastructure and parking as well as making cycling safer.&nbsp; </p>
<p>Thirteen boroughs were awarded Biking Borough status in 2010 with each borough receiving &pound;25,000 to develop their Biking Borough strategy. </p>
<p>The Biking Boroughs have pledged to put cycling at the heart of their local transport delivery plans. </p>
<p>The aim is to create a local culture of cycling with a focus on creating cycling hubs in town centre locations or key areas in the borough where the potential for increasing cycling is greatest. </p>
<p>They will also receive extra support and expertise from TfL in a bid to encourage greater numbers of cyclists in their areas.</p>
<p>From 21 February, all 13 Biking Boroughs will have the opportunity to bid for a share of the &pound;4m funding. </p>
<p>TfL will assess each submission and award funding accordingly.&nbsp; </p>
<h2>Paving the way</h2>
<p>The amount of &pound;4m could pay for 40,000 new on-street cycle parking spaces or fund the training of 200,000 lorry drivers in safety and awareness of cyclists. </p>
<p>Alternatively the money would cover training courses for 66,000 cyclists or 100km of quiet cycle routes in suburban areas. </p>
<p>The decision as to what combination of cycling improvements the money would pay for will be made by the individual boroughs.</p>
<p>Boris Johnson, the Mayor of London, said: 'I promised a cycling revolution for the whole of London. </p>
<p>'This funding will enable our friends in Outer London to develop exciting ways to make cycling bloom in their boroughs making it easier to replace some short car journeys with pedal power. </p>
<p>'We want healthier Londoners breathing better quality air on less congested roads and we all want an economic boost to our local shops and town centres. </p>
<p>'I believe developing Biking Boroughs can make this happen.'</p>
<p>The key themes and areas of development that emerged from the 13 individual Biking Borough strategies were: </p>
<ul>
<li>Cycle hubs - Town centre locations with a high density of potential cyclists and trips where boroughs should invest in cycle infrastructure</li>
<li>Cycling communities - Residential areas of high cycling potential where investment should be focused on breaking down the barriers to cycling</li>
<li>Promotional activities - Eevents to raise the profile of cycling across the borough</li></ul>
<p>Ben Plowden, TfL's Director of Better Routes and Places, said: 'Research shows how more than half of the trips in the Capital that could be made by bicycle are in Outer London - a total of 2.4 million journeys a day, most of which are currently made by car. </p>
<p>'Biking Boroughs aim to introduce simple, locally focused solutions that encourage residents to consider, for each journey, whether a bike could be used.</p>
<p>'Thousands of short trips made in Outer London every day have the potential to be cycled, which is why we will be working with 13 boroughs to pave the way in encouraging a shift to two wheels.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Cycle hubs are major trip generators (usually town centres) characterised by excellent provision for cyclists and supported by strong political leadership and local partnerships</li>
<li>Bidding applications will be sent to boroughs&nbsp;the week of&nbsp;21 February</li>
<li>The deadline for bids is the end of March</li>
<li>Funding for the&nbsp;three-year period needs to be spent by March 2014</li>
<li>This fund will seek to overcome the barriers to cycling in Outer London which have been identified in the Biking Borough strategies</li>
<li>Funding for Biking Boroughs will be allocated for 2011/12 with indicative funding for 2012/13 and 2013/14</li>
<li>Funding allocated for each year financial year needs to be spent by the March of that same financial year so clear detailed delivery plans must also be submitted with the bid proposal</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have announced &pound;4m funding for Biking Boroughs to create cycle hubs and cycling communities in Outer London.The funding will help boroughs engage the local community in cycling, create better cycle";}
        
        


 