


@{ViewBag.Title = "Mayor announces major progress with Jubilee line upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces major progress with Jubilee line upgrade</h1>
        <div class="content-page-press-release">
        02 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) confirm that a new signalling system is operating on the majority of the line. More work is still to be done on the northern end of the line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This major milestone represents one of the first fruits of TfL taking direct control of the Tube upgrades"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director for LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This major milestone represents one of the first fruits of TfL taking direct control of the Tube upgrades
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has announced that significant progress has been made with signalling upgrades on the Jubilee line, part of much-needed investment to provide extra capacity on the Capital's Tube network.</p>
<p>The new state-of-the-art automatic signalling system is now in use on much of the Jubilee line, with all Jubilee line trains using the system during passenger service. </p>
<p>Once the system is fully installed and the upgrade is complete in spring of this year, passengers&nbsp;will see great improvements with faster and more reliable trains. </p>
<p>Capacity will be boosted by 33 per cent - the equivalent of carrying around 5,000 extra passengers each hour - and journey times will also be reduced by 22 per cent. </p>
<p>When Transport for London (TfL)&nbsp;acquired Tube Lines, the contractor for the Jubilee, Northern and Piccadilly lines, in June last year the upgrade was well behind schedule but since then LU has been working hard to complete the upgrade. </p>
<p>The new signalling system already operates between Stratford and Dollis Hill, and work is underway to extend its operation across the whole line. </p>
<h2>Reaching milestones</h2>
<p>Mayor of London, Boris Johnson, said: 'Parts of our Tube network date back to the 19th century and upgrading it is vital to ensure our Capital can continue to cope with ever increasing demands on public transport and maintain our role as the engine of the UK economy. </p>
<p>'Work has been progressing swiftly since TfL took control of Tube Lines and we can now see real milestones being reached, including the long awaited completion of this crucial upgrade in just a few months time. </p>
<p>'This is good news for the many thousands of passengers who rely on the line, and clearly demonstrates how our hands on approach to the upgrades is making real improvements.'</p>
<p>Mike Brown, Managing Director for LU, said: 'This major milestone represents one of the first fruits of TfL taking direct control of the Tube upgrades after the failure of the PPP system to deliver.</p>
<p>'We inherited a Jubilee line upgrade that had been frustrating and painful for passengers and businesses, and we have been working around the clock to complete the work as quickly as possible.</p>
<p>'A successful conclusion is now in sight - with the upgrade on&nbsp; track for completion in the spring of this year. </p>
<p>'It will bring great improvements for passengers, including faster and more reliable services, and a huge capacity increase of over a third - making for more comfortable journeys.'</p>
<p>TfL has retained the staff at Tube Lines - including leading industry experts - needed to take forward the remaining projects and deliver a truly world class modern network.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is undertaking a major programme of renewal as part of TfL's Tube upgrade</li>
<li>This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme in 2020 there will be 30 per cent&nbsp;more capacity</li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway (DLR) passengers to <a href="http://www.tfl.gov.uk/check">check before they travel</a> at weekends, allowing extra journey time where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has announced that significant progress has been made with signalling upgrades on the Jubilee line, part of much-needed investment to provide extra capacity on the Capital's Tube network.The new state-of-the-art";}
        
        


 