


@{ViewBag.Title = "Network Rail works at Borough: Passengers are being advised of bus diversions and lane restrictions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Network Rail works at Borough: Passengers are being advised of bus diversions and lane restrictions</h1>
        <div class="content-page-press-release">
        07 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three Sunday closures of London Bridge bus station to enable major rail upgrade.
        
    </div>



 <div class="on-this-page">
<p>Preparatory works being carried out by Network Rail for the Borough Viaduct extension are set to result in lane restrictions and some road closures of Borough High Street later this month.&nbsp; </p>
<p>The work, part of the redevelopment of London Bridge interchange, means that London Bridge bus station will have to close between 08:00&nbsp;and 20:00 on Sunday 13, 20 and 27 February.&nbsp; </p>
<p>Buses will call at nearby stops on London Bridge instead.&nbsp; </p>
<p>Some stops along Borough High Street will not be served. </p>
<p>Bus routes 17, 21, 35, 40, 43, 48, 133, 141, 149, 343, 381 and RV1 will be affected.&nbsp; </p>
<p>Full <a href="http://www.tfl.gov.uk/livetravelnews">details of the diversions&nbsp;</a>are available on the Transport for London (TfL) website. </p>
<p>Posters will be displayed around the bus station and in local bus stops and Customer Information Assistants will be on hand to point passengers in the right direction. </p>
<p>Passengers are advised to allow extra time to complete their journeys.</p>
<p>Taxis will also be unable to serve the rank at London Bridge bus station but passengers will be able to catch taxis from the ranks on Tooley Street. </p>
<p>The work taking place will see improvements to the rail, Underground and bus station. </p>
<p>Borough viaduct will double the number of tracks heading north from London Bridge, unlocking extra capacity at London Bridge and reducing delays for passengers coming into London from the South East.</p>
<p>Additional work to transform London Bridge bus station is due to take place this spring.&nbsp; </p>
<p>This will include the removal of the canopy and will require some full weekend closures of the bus station during March. </p>
<p>Further details will be available in coming weeks. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Preparatory works being carried out by Network Rail for the Borough Viaduct extension are set to result in lane restrictions and some road closures of Borough High Street later this month.&nbsp; The work, part of the redevelopment of London Bridge";}
        
        


 