


@{ViewBag.Title = "Officers target bike thieves and successfully reunite stolen bikes with their owners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Officers target bike thieves and successfully reunite stolen bikes with their owners</h1>
        <div class="content-page-press-release">
        14 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Officers from the Metropolitan Police Cycle Task Force unit returned 12 stolen bicycles to their owners, made 12 arrests and gathered valuable intelligence on bike thieves, as part of an operation targeting cycle thefts and the sale of stolen bikes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor is determined to make cycling safer and more accessible to all Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
The Mayor is determined to make cycling safer and more accessible to all Londoners
</p>
</div>
<p>Operation Helium was a joint operation between the Metropolitan Police's (MPS's) Safer Transport Command (STC), funded by Transport for London (TfL), Tower Hamlets local police and Tower Hamlets Market Services, and was set up to tackle cycle theft and the sale of stolen bikes in Brick Lane Market.</p>
<p>It began in late September 2010, and involved officers conducting intelligence-lead patrols after Brick Lane was identified as a hotspot for cycle-related offences. </p>
<p>Londoners have said that fear of theft can stop them from cycling all together.</p>
<p>As part of the Mayor's Cycling Revolution, which is taking place across the Capital, the Mayor and TfL have worked closely with the police to drive down theft and make cycling safer and more secure.</p>
<p>The Mayor also launched the MPS Cycle Task Force in June this year with 30 officers who specialise in cycle-related crime. </p>
<p>Every Sunday for the past four months officers gathered intelligence on suspected cycle theft-related cases, conducted high-visibility patrols and advised cyclists on issues such as security, safety and how to protectively mark their bikes.</p>
<p>Officers returned 12 bikes to their owners as they had been reported stolen to the police, with a total of 12 arrests made as a direct result of the operation. </p>
<h2>Tracking suspects</h2>
<p>The Cycle Task Force worked with officers from the Whitechapel Town Centre team, who have also been working with Tower Hamlets Market Inspectors to tackle illegal street trading.</p>
<p>The Cycle Task Force officers were supported by the London Borough of Tower Hamlets CCTV Control Centre throughout the operation that enabled them to track suspects through the busy market area and lead officers to any suspected thefts of cycles.</p>
<p>During one of the Sunday operations, officers arrested 41-year-old Leroy Spencer, who stole the wheels from a bike parked and locked to a rack on Bethnal Green Road.</p>
<p>The owner returned to the bike to find them missing and approached officers, who were patrolling in Sclater Street as part of Operation Helium.</p>
<p>Details of the incident were circulated via the police radio and an officer who was working in the Tower Hamlets CCTV Control Centre spotted Spencer holding bicycle wheels in Brick Lane market.</p>
<p>Officers located Spencer and the victim's wheels nearby and arrested him.</p>
<p>He appeared at court charged with theft and was jailed for two weeks after pleading guilty.</p>
<p>Since its launch in June last year, the MPS Cycle Task Force has already cycle security marked more than 10,000 bikes and made in excess of 100 arrests.</p>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'The Mayor is determined to make cycling safer and more accessible to all Londoners and we know that theft is a major worry for cyclists.</p>
<p>'This initiative is a key part of the Mayor's cycling revolution and it is good to see it producing real results and tackling those people continuing to prey on cyclists whilst, at the same time, reuniting owners with their much loved cycles.'</p>
<h2>Secure locking</h2>
<p>Sergeant Titus Halliwell, of the STC Cycle Task Force, said: 'I am so pleased to have been able to restore 12 bikes to their rightful owners as a result of Operation Helium, however this could have been many more.</p>
<p>'By reporting your bike if it is stolen, you are increasing your chances of having your bike returned to you if it is stolen. </p>
<p>'This operation highlights the benefits of our partnership work, not only with Tower Hamlets local police and council, but with all of the 32 London boroughs, allowing Londoners to enjoy cycling safely and free from the risk of theft or criminal damage.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'The success of Operation Helium shows that TfL, the Metropolitan Police and the Mayor take cycle theft seriously. </p>
<p>'The MPS Cycle Task Force has done a cracking job in tackling bike theft since it was launched back in September 2010 and will continue to do so as more people chose to cycle in London.</p>
<p>'We urge cyclists in London to help protect their bikes by parking their bike at a designated location, securely locking their bikes and ensuring that they are cycle security marked.'</p>
<strong>The three R's</strong>
<p>There are three simple steps that all cyclists should take so that if there bike is stolen they stand a good chance of being reunited with it:</p>
<ul>
    <li>Record - Keep a record for yourself of the frame number, make and any other marks that can identify your bike if it is stolen. The Cycle Task Force run a number of bike marking events </li>
    <li>Register - There are a number of websites where cyclists can register the details of their bikes and any distinguishing features/frame numbers etc </li>
    <li>Report - If your bike is stolen make sure that you report it to the police. Bike theft is a significantly under-reported crime. Reporting the theft will enable us to check databases and contact the owner once the bike is recovered</li>
</ul>
<p>As part of the continuing campaign against cycle theft and the sale of stolen bikes, TfL and the MPS STC have produced a video that advises cyclists on how to protect your bike, available from the <a href="http://www.youtube.com/user/TransportforLondon?feature=chclk">TfL </a>and <a href="http://www.youtube.com/user/metpoliceservice">MPS </a>YouTube pages.</p>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The MPS Cycle Task Force was launched on 6 June 2010, with 30 officers who specialise in cycle-related crime. The bicycle-based team investigate and tackle cycle theft and criminal damage to bicycles </li>
    <li>The Cycle Task Force is part of the MPS STC, which is funded by TfL, and was set up in 2002 </li>
    <li>The Cycle Task Force team work alongside the 32 local borough Safer Transport and Safer Neighbourhoods teams, who also run sessions on bike marking and registration and give London's cyclists advice on how to lock up their bikes securely in order to deter cycle theft </li>
    <li>On 5 September 2010, 10 additional MPS traffic officers who work on cycle safety and related issues became part of the MPS STC. The extra officers were brought are experienced Traffic Officers and hold advanced driving and riding qualifications, and will now also cover a cycle safety and enforcement remit </li>
    <li>The MPS STC fights crime on buses, tackles illegal taxi touts and assists with the control of traffic congestion. There are now around 2,000 uniformed officers in the unit, which is part funded by TfL </li>
    <li>Members of the public can contact the team by emailing <a href="mailto:cycletaskforce&#64;met.police.uk">cycletaskforce&#64;met.police.uk</a> </li>
    <li>The <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/15704.aspx">Cycle Security Plan</a> is now published on TfL's website and is supported by the Mayor of London, TfL, MPS, City of London Police and the British Transport Police </li>
    <li>The Mayor and TfL are investing &pound;116m in cycling in 20010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Operation Helium was a joint operation between the Metropolitan Police's (MPS's) Safer Transport Command (STC), funded by Transport for London (TfL), Tower Hamlets local police and Tower Hamlets Market Services, and was set up to tackle cycle theft and";}
        
        


 