


@{ViewBag.Title = "Oyster pay as you go confirmed as the ticket of choice for millions of National Rail commuters in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster pay as you go confirmed as the ticket of choice for millions of National Rail commuters in London</h1>
        <div class="content-page-press-release">
        08 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than two million journeys a week now made using Oyster pay as you go on London's commuter rail services.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is fantastic that so many people have taken advantage of being able to travel around London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is fantastic that so many people have taken advantage of being able to travel around London
                            
                        </p>
                    </div>
                
            
            
            <p>Since Oyster pay as you go was extended to National Rail services in London a year ago, more than 80 million journeys have been made using the world's most successful travel smartcard.</p>
<p>More than two million journeys are now being made each week using Oyster pay as you go on National Rail services in Greater London. </p>
<p>The figures, confirmed by Transport for London (TfL) and the Association of Train Operating Companies (ATOC) today, have risen from around 600,000 journeys per week since Oyster pay as you go was extended to all 350 National Rail stations in Greater London in January 2010.</p>
<p>Hundreds of thousands of passengers are now benefiting from the cheaper and simpler rail travel that Oyster pay as you go provides.</p>
<p>The roll-out doubled the number of stations where Oyster pay as you go was accepted, allowing it to be used on all National Rail, Tube, Docklands Light Railway (DLR), London Overground, bus and tram services, and Thames Clipper river services. </p>
<p>In the last 13 months, Oyster pay as you go customers have made over 80 million journeys on rail services.</p>
<p>The most popular new rail journeys for Oyster pay as you go users have been:&nbsp;</p>
<ul>
<li>Waterloo to Clapham Junction, Wimbledon, Putney and Richmond</li>
<li>Victoria to Clapham Junction and East Croydon</li></ul>
<p>On each of these routes more than 12,000 journeys per day are made using Oyster pay as you go. </p>
<p>Numbers are expected to continue rising. </p>
<h2>Touch in and touch out</h2>
<p>Oyster pay as you go saves passengers time as there is no need to queue to buy tickets and they can simply top up their card at any suitable ticket machine or online. </p>
<p>Train companies continue to look for ways to make Oyster easier to use.</p>
<p>To ensure that passengers are charged the correct amount and to avoid paying the maximum fare, they must always touch in and out at the start of every journey, using Oyster validators or gates at rail stations.</p>
<p>Boris Johnson, the Mayor of London, said: 'Getting Oyster on National Rail has made a radical difference to people living in Outer London, many of who depend on overground rail to get around. </p>
<p>'I am pleased that the train operating companies worked with us to introduce this and it is fantastic that so many people have taken advantage of being able to travel around London, hopping between Tube, bus, river or rail with just a swipe of their trusty Oyster card.'</p>
<p>Shashi Verma, TfL's Director of Fares &amp; Ticketing, said: 'With Oyster you only need one ticket to travel on public transport across the Capital and with seven million cards in regular use it is the world's most successful and popular travel smartcard. </p>
<p>'It is great to see how quickly and easily commuters on National Rail services have switched to using Oyster pay as you go. </p>
<p>After only one year, more than two million journeys a week are being made on the commuter rail network using Oyster pay as you go and by doing so passengers are getting the best fares for themselves. </p>
<p>'We will continue working with the train companies to boost the success of Oyster even further.'</p>
<h2>Save money and time</h2>
<p>David Mapp, ATOC Commercial Director, said: 'The extension of Oyster pay as you go to National Rail has been a fantastic success. </p>
<p>'The aim was to make public transport around the Capital easier and quicker for thousands of rail passengers every day. </p>
<p>'An added bonus for many passengers is that they save money too. </p>
<p>'It was a project which took huge amounts of joint work by train companies, TfL and DfT [Department for Transport], so the scale of its success 12 months on is great news for all concerned.'</p>
<p>The highest switch from National Rail paper tickets to Oyster has been at suburban stations such as East Croydon, Watford Junction, Twickenham, Romford, Kingston and Bromley South, where between 15,000 and 45,000 journeys are recorded each day using Oyster. </p>
<p>'Smaller suburban stations are also recording high Oyster use, including Blackheath (14,000 journeys a day), Southall (12,000 journeys), Herne Hill (11,000 journeys), Rainham Essex (7,800 journeys), Alexandra Palace (6,600 journeys) and Sidcup (6,400 journeys). </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In the majority of cases, Oyster pay as you go offers the cheapest single rail fare applicable to that particular route. The only exceptions are holders of certain national Railcards, eg Network and Family, for whom cheaper paper tickets for travel on National Rail may be available. Passengers are advised to check the best fare before travelling with the relevant train operator</li>
<li>Oyster pay as you go is not accepted on Heathrow Express, on Heathrow Connect services between Hayes and Harlington and Heathrow Terminals, or on Southeastern High Speed services between Stratford and St. Pancras International</li>
<li>Almost all major London stations have gates which can accept Oyster pay as you go. The Oyster validators work independently of the gates, so passengers can still touch in and out with Oyster even if the gates are not working for any reason. At stations without gates Oyster validators are provided</li>
<li>The train companies set Oyster pay as you go fares on the National Rail network. These are zonally based, but are different from fares on TfL services. TfL fares apply on the Tube, DLR, London Overground and National Rail services that accepted Oyster pay as you go prior to 2 January 2010</li>
<li>An additional combined Tube/National Rail fare has been introduced for journeys that incorporate both TfL and National Rail services. These are generally cheaper than the sum of the separate Tube and National Rail fares</li>
<li>Passengers can access the online <a href="http://www.tfl.gov.uk/fares">TfL single fares finder</a> to find out the best value fare for their journey. It provides a choice of information on single journey fares for Tube, DLR, Overground and some National Rail services</li>
<li>TfL has invested &pound;40m to install or upgrade equipment at every train station in London to bring Oyster to capital's transport system</li>
<li>More than 7 million Oyster cards are regularly used in London and Oyster accounted for more than&nbsp;three billion passenger journeys last year</li>
<li>Oyster is available:</li>
<ul>
<li>Online at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a></li>
<li>Over the phone&nbsp;on 0845 330 9876</li>
<li>At one of 4,000 Oyster Ticket Stops across London</li>
<li>At Tube and London Overground station ticket machines and ticket offices</li>
<li>From the majority of ticket machines and ticket offices at National Rail stations in the Greater London area</li>
<li>At six London Travel Information Centres, open seven days a week at Liverpool Street Tube station, Piccadilly Circus Tube station, Euston mainline station, Victoria mainline station, Heathrow Terminals 1,2,3 Tube station and at King's Cross St Pancras Tube station in the Western Ticket Hall</li>
<li>Passengers will be soon able to top up their Oyster cards at all South West Trains stations in the London area, thanks to an agreement between the operator and the DfT</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since Oyster pay as you go was extended to National Rail services in London a year ago, more than 80 million journeys have been made using the world's most successful travel smartcard.More than two million journeys are now being made each week using";}
        
        


 