


@{ViewBag.Title = "Taxi fares to increase by 2.7 per cent to meet higher running costs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taxi fares to increase by 2.7 per cent to meet higher running costs</h1>
        <div class="content-page-press-release">
        03 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Below-inflation increase strikes balance between keeping taxi fares affordable and helping drivers to meet rising costs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This annual taxi fare revision takes into account a range of components"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">Director of Taxi & Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This annual taxi fare revision takes into account a range of components 
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL) Board has noted a below-inflation average taxi fare increase of 2.7 per cent for the 2011/12 financial year.</p>
<p>The new fares aim to find a balance between maintaining income levels for drivers, who face disproportionately high work-related costs compared to other Londoners, while ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers.</p>
<p>The Board noted the new fares following consultation by TfL with the taxi trade and others, including London TravelWatch and the London Chamber of Commerce and Industry.&nbsp; </p>
<p>The increase is calculated according to a long established formula.&nbsp; </p>
<p>This year fuel prices and operating costs have increased, raising the costs associated with driving a taxi.&nbsp; </p>
<p>John Mason, Director of Taxi &amp; Private Hire at TfL, said: 'The annual taxi fare revision takes into account a range of components that make up taxi drivers' running costs including vehicle costs, parts, fuel and insurance.&nbsp; </p>
<p>'This year's moderate increase continues to seek to cover increases in the cost of running a London taxi while providing passengers with value for money for the journeys made in London's world-famous black cabs.'</p>
<p>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981.&nbsp; </p>
<p>The new fares will come into effect from 2 April 2011.</p>
<p>The 2.7 per cent fare increase for the next financial year takes into account a number of factors including a 12 per cent increase in fuel costs and a&nbsp;two per cent increase in average national earnings. </p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>TfL's Taxi&nbsp;&amp; Private Hire is responsible for licensing and regulating London's taxi and private hire services 
<li>Taxi fares are calculated according to one of three tariffs: 
<ul>
<li>Tariff 1: Monday-Friday, 06:00-20:00 </li>
<li>Tariff 2: Monday-Friday, 20:00-22:00, and weekends 06:00-22:00 </li>
<li>Tariff 3: Nightly and public holidays, 22:00-06.00</li></ul></li>
<li>See the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item07-2-February-2011-Board-Taxi-Fares.pdf">TfL Board paper </a>that was considered today</li>
<p>Tariff changes:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Current average (&pound;)</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;New average (&pound;)</strong></td>
<td><strong>&nbsp;Increase (&pound;)</strong></td>
<td><strong>&nbsp;Increase <br>(per cent)</strong></td></tr>
<tr>
<td>&nbsp;Tariff 1</td>
<td>&nbsp;10.39</td>
<td>&nbsp;10.67</td>
<td>&nbsp;0.28</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>&nbsp;Tariff 2</td>
<td>&nbsp;12.05</td>
<td>&nbsp;12.37</td>
<td>&nbsp;0.32</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>&nbsp;Tariff 3</td>
<td>&nbsp;14.15</td>
<td>&nbsp;14.54</td>
<td>&nbsp;0.39</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>&nbsp;All Week</td>
<td>&nbsp;11.48</td>
<td>&nbsp;11.79</td>
<td>&nbsp;0.31</td>
<td>&nbsp;2.7</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) Board has noted a below-inflation average taxi fare increase of 2.7 per cent for the 2011/12 financial year.The new fares aim to find a balance between maintaining income levels for drivers, who face disproportionately high";}
        
        


 