


@{ViewBag.Title = "Temporary changes to London Bridge station taxi rank";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Temporary changes to London Bridge station taxi rank</h1>
        <div class="content-page-press-release">
        07 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work on a dramatic facelift of London Bridge bus station began at the end of last year.
        
    </div>



 <div class="on-this-page">
<p>The next phase of the works is to remove the current canopy roof over the bus station. </p>
<p>This work will be carried out over four weekend closures of the bus station in March, which in turn will close the taxi rank at the station. </p>
<p>During this time the rank will be temporarily relocated to the rank on Duke Street Hill/Tooley Street (no 5471). </p>
<p>This will be fed from the rank opposite More London in a bay on the south side of Tooley Street (no 5652).</p>
<p>To help ensure there is an accessible taxi service for travellers in the area there will be increases in capacity at the existing ranks. </p>
<p>The Duke Street Hill/Tooley Street rank will be enlarged from one to three taxis and the surrounding loading bay will be suspended during the weekend closures.</p>
<p>The rank opposite More London will be increased from four to 10 taxis and the loading bay there will also be suspended. </p>
<p>These steps will provide capacity for a total of 13 cabs.</p>
<p>Taxi marshals will be employed to help passengers, to control taxi queues, and to call taxis up from the feeder rank to the head rank.&nbsp; </p>
<p>This will offer a safe, well-regulated environment to both passengers and taxi drivers.</p>
<p>Network Rail will also be carrying out works of shorter duration at London Bridge station during three Sundays in February from 13 February.&nbsp; </p>
<p>These will close access to the bus station and taxi rank from Borough High Street.&nbsp; </p>
<p>During these closures, taxi drivers are encouraged to utilise the Tooley Street rank and to pick up/set down in surrounding streets.</p>
<p>The new look bus station, set to open in May 2012, will have more space for buses and taxis, improved waiting facilities and an improved road layout to ease congestion.&nbsp; </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Network Rail works will take place on Sunday 13, 20 and 27 February</li>
<li>The canopy removal will close the bus station and taxi ranks on 5-6, 12-13, 19-20 and 26-27 March</li>
<li>Taxi marshals will be in place from Saturday starting at 8:00 and finishing at midnight, and starting at 08:30 on Sundays and finishing at midnight</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The next phase of the works is to remove the current canopy roof over the bus station. This work will be carried out over four weekend closures of the bus station in March, which in turn will close the taxi rank at the station. During this time the rank";}
        
        


 