


@{ViewBag.Title = "TfL to refund passengers affected by Canary Wharf disruption this morning";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to refund passengers affected by Canary Wharf disruption this morning</h1>
        <div class="content-page-press-release">
        04 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL to refund passengers affected by Canary Wharf disruption this morning
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am very sorry for the disruption suffered by our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground & London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am very sorry for the disruption suffered by our customers.
                            
                        </p>
                    </div>
                
            
            
            <p>The Jubilee line was suspended between London Bridge and Stratford for around two hours due to a faulty train in the North Greenwich area. </p>
<p>The Docklands Light Railway (DLR)&nbsp;was also disrupted for around an hour due to a points problem at Shadwell.</p>
<p>Customers who exited Canary Wharf Tube, or Heron Quays, West India Quay or Canary Wharf DLR between 07:15 and 10:30 this morning will have their journey fare refunded.</p>
<p>Any passenger who incurred incomplete journey charges during this period at these stations, or while travelling through any station on the Jubilee line between London Bridge and Stratford, will have these automatically waived. </p>
<h2>Tough journey to work</h2>
<p>In addition, anyone travelling from Canary Wharf (Jubilee line&nbsp;or DLR), Heron Quays or West India Quay between 16:00 and 20:00 this evening will have their journey fare automatically refunded.</p>
<p>The refunds, which apply to Oyster pay as you go users, will be applied automatically when passengers travel through the gate line as usual at their regular station.</p>
<p>Any passengers with Travelcards or paper tickets who were affected can apply for a refund via: <a href="http://www.tfl.gov.uk/tfl/tickets/refunds/tuberefund/">tfl.gov.uk/tfl/tickets/refunds/tuberefund/</a></p>
<p>Mike Brown, Managing Director of London Underground &amp; London Rail, said: 'I am very sorry for the disruption suffered by our customers on the Jubilee line this morning. </p>
<p>'For those on the east end of the line this was compounded by problems on the DLR and I know it meant a tough journey to work for many. </p>
<p>'As a result we will be refunding those passengers the cost of their travel today.</p>
<h2>Improving reliability </h2>
<p>'We're working hard to complete the upgrade of the Jubilee line, which we're on track to do later this year.</p>
<p>'The new signalling system is now in place, and we're&nbsp;working to get on top of any issues with our suppliers right now.</p>
<p>'Once complete, it will mean faster, more frequent trains for Londoners.&nbsp;</p>
<p>'In the meantime were focusing and working minute-by-minute and day-by-day&nbsp;on improving reliability across the line.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Jubilee line upgrade, scheduled for completion in Spring this year, will provide 33% more capacity for passengers - equivalent to carrying around 5,000 additional passengers per hour </li>
<li>Journey times on the line will be reduced by 22 per cent </li>
<li>TfL is working to upgrade the Tube, the oldest in the world, rebuilding key stations and installing new trains, track and signalling that will result in a 30% increase in capacity on the network </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Jubilee line was suspended between London Bridge and Stratford for around two hours due to a faulty train in the North Greenwich area. The Docklands Light Railway (DLR)&nbsp;was also disrupted for around an hour due to a points problem at";}
        
        


 