


@{ViewBag.Title = "TfL appoints Leon Daniels as new Managing Director, Surface Transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints Leon Daniels as new Managing Director, Surface Transport</h1>
        <div class="content-page-press-release">
        23 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Transport Commissioner Peter Hendy today announced that Leon Daniels will be the new Managing Director, Surface Transport at Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There can be no better time to join TfL, as it builds on ever-improving transport services and prepares to meet the challenge of the London 2012 Games
                            
                        </p>
                    </div>
                
            
            
            <p>Leon joins TfL from FirstGroup plc, where he is currently Customer Service and Communications Director, UK Bus.&nbsp;</p>
<p>He will take up the post in late April and succeeds David Brown, who is leaving TfL at the end of March to join The Go-Ahead Group plc to become their Group Chief Executive.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'I'm delighted to welcome a transport professional of Leon's quality and experience to the TfL leadership team.&nbsp; </p>
<p>'Leon has extensive experience in the UK and overseas of delivering high quality public transport.&nbsp; </p>
<h2>Best possible value</h2>
<p>'For the past 11 years he has been a UK Bus Board member of FirstGroup plc, which is the UK's largest bus and rail operator.</p>
<p>'I know Leon will ensure we continue to focus on delivering frequent, reliable and accessible transport services and smoothing traffic flow for all Londoners, and with the best possible value for fare payers' and tax payers' money.'</p>
<p>Boris Johnson, the Mayor of London, said: 'I look to Leon to take forward what we have started to deliver in the Capital in the last three years. We are reducing crime on the network, improving traffic flow, overseeing the final farewell to bendy buses, delivering the New Bus for London and continuing to expand our flagship Barclays Cycle Hire scheme.&nbsp; </p>
<p>'But he also joins most excitingly at a time when the chance to play a role in a successful Olympic Games will crown it all.' </p>
<h2>Economic development</h2>
<p>Leon Daniels said: 'There can be no better time to join TfL, as it builds on ever-improving transport services and prepares to meet the challenge of the London 2012 Games.&nbsp; It will be a privilege to be a part of the TfL leadership team which works so hard to provide access for millions of Londoners and visitors to jobs, leisure, education and all this great city has to offer, to support its continued economic development and growth.'</p>
<p>Peter Hendy continued: 'David Brown has done an exceptional job in running TfL's Surface Transport team for the past five years.</p>
<p>'On behalf of all Londoners, I thank him for his hard work and wish him well in his new role as Group Chief Executive of The Go-Ahead Group plc.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Leon joins TfL from FirstGroup plc, where he is currently Customer Service and Communications Director, UK Bus.&nbsp;He will take up the post in late April and succeeds David Brown, who is leaving TfL at the end of March to join The Go-Ahead Group plc to";}
        
        


 