


@{ViewBag.Title = "TfL urges drivers to 'check before they travel' through the Blackwall Tunnel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL urges drivers to 'check before they travel' through the Blackwall Tunnel</h1>
        <div class="content-page-press-release">
        04 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over-height vehicles and lack of fuel have closed Blackwall Tunnel 1,200 times in the last year. Unplanned closures have led to more than 13 days of serious and severe traffic congestion in the local area.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We all know how frustrating it is sitting in traffic, even more so when the reason for the jam is so easily avoided"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We all know how frustrating it is sitting in traffic, even more so when the reason for the jam is so easily avoided
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL)-funded Road Response Police Team to be based at Blackwall Tunnel for three months to provide additional enforcement and help prevent incidents.</p>
<p>The Blackwall Tunnel has been forced to close a staggering 1,200 times in the last nine months simply because drivers didn't heed height restriction warnings for their vehicles or ran out of fuel.</p>
<p>Figures from TfL show that in the last nine months, the Blackwall Tunnel has had to be closed 1,604 times, the majority of which (70 per cent) have been due to drivers ignoring the height restriction warning signs throughout the Northbound tunnel, which has a 4.0 metre (13 feet) height limit.</p>
<p>Vehicle break-downs were responsible for 287 closures; a third of which were simply due to vehicles running out of fuel.</p>
<p>Although the tunnel closures are often for only a few minutes, the resulting queues and traffic congestion can last for hours. </p>
<p>Since April 2010, the Blackwall Tunnels have had to be closed for a total of 157 hours, ultimately causing more than 13 days of serious and severe traffic disruption on the surrounding roads. </p>
<p>To help combat this problem, TfL is calling on drivers to check before they travel to ensure their vehicles are well maintained, have enough fuel, and comply with the height restrictions in the Blackwall Tunnel. </p>
<p>It has also begun a three-month trial which will see a team of roads response police officers based at the Blackwall Tunnel to provide an immediate response to any unplanned incidents, like breakdowns, which cause delays in the tunnel. </p>
<h2>Check your vehicle</h2>
<p>They will also be working closely with the Vehicle and Operator Services Agency (VOSA) to strengthen enforcement of vehicle standards on the corridor.&nbsp; </p>
<p>A new digital sign has been installed on the Blackwall Tunnel northbound approach, showing the number of over-height and broken down vehicles that have stopped traffic in the last month.&nbsp; </p>
<p>It is hoped that by drawing attention to the high number of avoidable incidents that occur every month, it will remind drivers to check that their vehicle is in an appropriate condition and complies with the height restrictions before they travel through the tunnels. </p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'Road signs indicating the locations of petrol stations will also be installed shortly on the Blackwall Tunnel approach roads.</p>
<p>'We all know how frustrating it is sitting in traffic, even more so when the reason for the jam is so easily avoided. </p>
<p>'We are asking all drivers using the Blackwall Tunnel to use their common sense and make sure their vehicle is not too high to get through and is not likely to break down or run out of fuel in the tunnel. </p>
<p>'It sounds simple but these sorts of problems are causing thousands of drivers to sit in pointless traffic jams for hours on end.'</p>
<h2>Avoid delays</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'For every minute the tunnel is closed, it stops up to 60 vehicles getting though. </p>
<p>'On an average day, these unnecessary closures, many of which occur at peak time, can stop up to 750 vehicles a day passing through the tunnel.</p>
<p>'These closures, even if they only last a few minutes, cause congestion that takes time to disperse.&nbsp; </p>
<p>'Reducing them on one of the busiest and most congested routes in London is therefore an important part of our work to smooth traffic flow and make journey times more reliable for the Capital's drivers.'</p>
<p>AA President Edmund King said: 'Breaking down in any tunnel is not a pleasant experience. </p>
<p>'However, some can be avoided through simple checks for example, making sure there is enough fuel in the tank and oil in the engine.&nbsp; </p>
<p>'And if drivers sense their car is not running properly - there are usually tell-tale signs like lumpy running or a misfire - we urge them to turn off rather than enter the Blackwall tunnel.</p>
<p>'These simple actions may appear time consuming but it is better to inconvenience yourself rather than hundreds of other drivers.&nbsp; </p>
<p>'Next time it could be you at the back of a preventable queue.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The Blackwall Tunnel carries around 100,000 vehicles a day across the river in east London, more than most sections of the M1 
<li>The full details for the number of unplanned closures of the Blackwall Tunnel from April 2010 to January 2011 are as follows:</li>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Over-height vehicles</strong></td>
<td><strong>&nbsp;Breakdowns</strong></td>
<td><strong>&nbsp;Road traffic collisions</strong></td>
<td><strong>&nbsp;Other incidents</strong></td>
<td><strong>&nbsp;Total</strong></td></tr>
<tr>
<td><strong>&nbsp;Blackwall Tunnel northbound</strong></td>
<td>&nbsp;1,117</td>
<td>&nbsp;181</td>
<td>&nbsp;22</td>
<td>&nbsp;92</td>
<td>&nbsp;1412</td></tr>
<tr>
<td><strong>&nbsp;Tunnels closed (time)</strong></td>
<td>&nbsp;48 hours&nbsp;<br>&nbsp;41 minutes</td>
<td>&nbsp;39 hours <br>&nbsp;55 minutes</td>
<td>&nbsp;10 hours <br>&nbsp;41 minutes</td>
<td>&nbsp;16 hours <br>&nbsp;52 minutes</td>
<td>&nbsp;116 hours <br>&nbsp;9 minutes</td></tr>
<tr>
<td><strong>&nbsp;Blackwall Tunnel southbound</strong></td>
<td>&nbsp;0</td>
<td>&nbsp;106</td>
<td>&nbsp;24</td>
<td>&nbsp;62</td>
<td>&nbsp;192</td></tr>
<tr>
<td><strong>&nbsp;Tunnels closed (time)</strong></td>
<td>&nbsp;0 hours</td>
<td>&nbsp;17 hours <br>&nbsp;40 minutes</td>
<td>&nbsp;16 hours <br>&nbsp;40 minutes</td>
<td>&nbsp;6 hours <br>&nbsp;7 minutes</td>
<td>&nbsp;40 hours <br>&nbsp;27 minutes</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><strong>&nbsp;Total number of incidents</strong> </td>
<td>&nbsp;1604</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><strong>&nbsp;Total time tunnel closed</strong></td>
<td>&nbsp;156 hours <br>&nbsp;26 minutes <br>&nbsp;(6.5 days)</td></tr></tbody></table></div></p>
<ul>
<li>It is an offence to ignore a height restriction sign and drvers can be subject to a Fixed Penalty Notice (FPN) of three points on a driving license and a &pound;60 fine or prosecution. TfL continues to work with VOSA, the Metropolitan Police&nbsp;Service (MPS) and the haulage industry to further reduce the numbers of over-height Heavy Goods Vehicles attempting to use the northbound tunnel </li>
<li>The AA provides free advice on its website to allow drivers to carry out <a href="http://www.theaa.com/motoring_advice/breakdown_advice/flower-power.pdf">basic car checks</a>, helping to ensure they continue to run safely </li>
<li>The northbound Blackwall Tunnel, opened in 1898, was constructed with smaller dimensions than more recent tunnels resulting in a vehicle height restriction of 4.0 metres (13 feet) in the nearside lane where higher vehicles are directed to travel. The off side lane is further restricted (due to bends in the tunnel) to vehicles of only 2.8 metres (nine feet) in height. The southbound Blackwall Tunnel, opened in 1967, has a height restriction of 4.72 metres (15 feet six inches) </li>
<li>As part of on-going refurbishment works in the northbound Blackwall Tunnel, TfL will be installing additional electronic over-height vehicle detectors. These will be linked to automatic number plate recognition equipment, allowing message signs to display the registration number of any vehicle approaching the tunnel which is higher than the height restriction </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded by TfL </li>
<li>TfL is working hard to deliver the Mayor's smoothing traffic flow agenda, which aims to improve the reliability and predictability of journeys on London's roads, tackle stop-start traffic conditions and ensure there is space and improved safety for all road users across the Capital </li>
<li>TfL is responsible for the 13 road tunnels located on the along the TfL Road Network. The London Streets Tunnel Operations Centre works to ensure that traffic flow is maintained through tunnels and monitors for air quality, congestion and potential fire risks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)-funded Road Response Police Team to be based at Blackwall Tunnel for three months to provide additional enforcement and help prevent incidents.The Blackwall Tunnel has been forced to close a staggering 1,200 times in the last";}
        
        


 