


@{ViewBag.Title = "Transport for London launches drive to bring through the next generation of transport workers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches drive to bring through the next generation of transport workers</h1>
        <div class="content-page-press-release">
        09 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is continuing in its commitment to deliver more than 2,500 apprentices across the Capital's transport infrastructure working in partnership with its contractors and the London boroughs.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Apprenticeship programmes give young people a fantastic opportunity to get involved in building and operating London's transport network
                            
                        </p>
                    </div>
                
            
            
            <p>Mechanical apprenticeship programme at the heart of the Mayor's flagship Barclays Cycle Hire scheme.</p>
<p>During National Apprenticeship Week (7-11 February)&nbsp;TfL is calling on London boroughs and major transport and construction companies to create the next generation of transport workers.&nbsp; <br>&nbsp;<br>In support of the Mayor of London's apprenticeship campaign TfL has committed to deliver more than 2,500 apprenticeship positions - internally and through its suppliers - by 2012.&nbsp;&nbsp;&nbsp; <br>&nbsp;<br>Transport Commissioner Peter Hendy said: 'There are so many exciting career opportunities in the transport and engineering sector, yet in many areas we are facing a skills shortage.&nbsp;</p>
<h2>Support economic growth&nbsp;</h2>
<p>'We're determined to address that and our apprenticeship programmes give young people a fantastic opportunity to get involved in building and operating London's transport network, now and in the future. </p>
<p>'They really are our future engineers and planners, with a chance to develop a great career and support the continued economic growth and development of London and the UK as a whole.'<br>&nbsp;<br>One beneficiary of TfL's apprenticeship programme has been the Mayor's flagship Barclays Cycle Hire scheme which has 24 new mechanical apprentices as well as 133 recruits who were not previously in employment.&nbsp;</p>
<p>A&nbsp;short film has been produced showcasing the <a href="http://www.youtube.com/barclayscycle">positive impact of apprentices</a> on the scheme. </p>
<h2>Vital role</h2>
<p>Mayor of London Boris Johnson said: 'If London is going to remain as a world business leader then it is crucial that we create jobs and arm Londoners with the training, confidence and opportunity to make a difference.</p>
<p>'Barclays Cycle Hire created a buzz around the world and these burgeoning cycle mechanics exemplify the vital role that apprentices have in helping Transport for London deliver major transport developments for one of the most exciting cities in the world.'<br>&nbsp;<br>TfL's Managing Director of Surface Transport, David Brown, said: 'When we tendered the contract to run Barclays Cycle Hire, it was the first at TfL to introduce contractual requirements on skills and employment, which was both groundbreaking and a pathfinder for other contracts. </p>
<p>'Serco has already exceeded their requirements in this area, which shows its benefits. </p>
<p>'I am proud that TfL is part of helping young people transition from school to work and develop the practical skills that will help further their careers.'&nbsp; <br>&nbsp;<br>As an apprenticeships champion, TfL already provides an array of opportunities in engineering, operations and maintenance functions and works with suppliers to maximise training, apprenticeship and employment opportunities arising from its contracts.&nbsp;</p>
<h2>Engineering disciplines&nbsp;</h2>
<p>TfL's Borough Apprenticeship Programme will oversee the recruitment and development of apprentices in fields where skill shortages have been highlighted across the transport industry.&nbsp; </p>
<p>In April 2010 TfL started a pilot scheme with five boroughs focusing on recruiting apprentices to traffic and highways engineering disciplines, which have been identified areas of skills shortages. </p>
<p>The boroughs employ and pay for the apprentices, while TfL facilitates the development of the programme and funds training costs.&nbsp; </p>
<p>Julia Fitzgerald, Business Forum Manager at London Borough of Hillingdon, said:&nbsp;'These apprenticeship positions are a fabulous opportunity for young people to receive a solid, accredited qualification doing something they really enjoy. </p>
<p>'The two apprentices we have taken on have so much enthusiasm about working and learning. </p>
<p>'We are really pleased to be part of this and to make it work.'</p>
<p>
<hr>

<p>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Supplier Skills Team (SST) is dedicated to working with TfL suppliers to address skills shortages in the transportation and engineering sector by maximising training, apprenticeship and employment opportunities arising from its contracts </li>
<li>2.&nbsp;The SST is currently working with London bus operators, Barclays Cycle Hire contractor, Serco and TfL's three Highways Maintenance Work Contractors on implementing and developing apprenticeship schemes </li>
<li>A pilot apprenticeship programme involving five boroughs started in April 2010 - the boroughs involved were Hillingdon, Hounslow, Lambeth, Redbridge and Tower Hamlets </li>
<li>In the first six months, Barclays Cycle Hire saw 2.5 million cycle journeys made covering over 10,000,000km </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks. The scheme is to be expanded east by spring 2012 </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for 24-hour access, &pound;5 for seven days and &pound;45 for annual access.&nbsp;The first 30 minutes of every journey is free of usage charges. Find out more about <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire</a> how to use the scheme </li>
<li>Barclays Cycle Hire is also open to casual users accepting Visa and Mastercard credit and debit cards and Visa Electron. The scheme doesn't accept Maestro, Amex, Diners or JCB cards</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mechanical apprenticeship programme at the heart of the Mayor's flagship Barclays Cycle Hire scheme.During National Apprenticeship Week (7-11 February)&nbsp;TfL is calling on London boroughs and major transport and construction companies to create the";}
        
        


 