


@{ViewBag.Title = "Transport for London assumes responsibility from Olympic Delivery Authority for delivery of key 2012 Games transport programmes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London assumes responsibility from Olympic Delivery Authority for delivery of key 2012 Games transport programmes</h1>
        <div class="content-page-press-release">
        09 February 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Travel Demand Management, Olympic and Paralympic Route Networks and Road Freight programmes in London transferred, as preparations for 2012 Games move from planning to operational delivery phase.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have a responsibility to ensure London functions as smoothly and efficiently as possible during the Games"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have a responsibility to ensure London functions as smoothly and efficiently as possible during the Games
                            
                        </p>
                    </div>
                
            
            
            <p>All partners continue to work together to deliver spectator and Games Family transport, and to keep London moving during 2012.</p>
<p>The Olympic Delivery Authority (ODA) and Transport for London (TfL) today confirmed that responsibility for the 2012 Games Travel Demand Management (TDM), Olympic and Paralympic Route networks and Road Freight Management (RFM) programmes in London have now transferred to TfL.</p>
<p>With less than 18 months to go until the 2012 Games Olympic Opening Ceremony, the focus of all 2012 Games partners is now moving from the planning phase to one of implementation and operational delivery.&nbsp; </p>
<p>As the authority leading on transport operations in the Capital during the Games, TfL is already responsible for the delivery and management of a number of key programmes, including the Transport Co-ordination Centre, which will ensure co-ordination and communication between all transport operators, authorities and 2012 Games partners during Games-time.&nbsp; </p>
<p>The transfer of these programmes to TfL will further enhance the integration and operational management of all Games transport, ensuring all athletes, officials and spectators can get to their events on time, and we can keep London and the UK moving.</p>
<p><br>Boris Johnson, the Mayor of London, said: 'The London 2012 Games are a unique opportunity for Londoners and as Mayor I am determined to ensure the Capital reaps the utmost possible benefits from them. </p>
<p>'I am conscious that not only is this an unparalleled opportunity, but also that we have a responsibility to ensure London functions as smoothly and efficiently as possible during the Games for the great people who live, work and play here.'</p>
<p>London's Transport Commissioner, Peter Hendy said: 'All London 2012 transport improvements are on track and Londoners are already benefiting from this early Games legacy.&nbsp; </p>
<p>'While it will be business as usual during the Games, we're confident we'll get all athletes, officials and spectators to their events on time and we'll keep London moving as well.</p>
<p>'Hugh Sumner and his transport team at the Olympic Delivery Authority have done an excellent job in the planning and design of these programmes.&nbsp; </p>
<p>'Now, as we turn our focus to operational delivery, it makes sense for TfL to take on responsibility for the Olympic and Paralympic Route Networks, Travel Demand Management and London Road Freight programmes and ensure there's an integrated approach to the planning and management of all London 2012 transport.'</p>
<p>ODA Chief Executive, Dennis Hone, said: 'Staging the Olympic and Paralympic Games is a huge logistical challenge and transport is vital to making it work. </p>
<p>'London 2012 has helped drive billions of pounds of investment into upgrading public transport, benefiting the Capital for generations to come. </p>
<p>'It will be business as unusual during the summer of 2012 and we have spent the last five years delivering the upgrades and planning the programmes needed to keep London moving. </p>
<p>As we progress to the operational stage, we are on track and it is the right time to hand over the baton to TfL who will be responsible for the co-ordination and delivery of transport during the Games.'</p>
<p>TfL will continue to build on the work undertaken by the ODA, who have led the planning, design and designation of these programmes to date.&nbsp; </p>
<p>TfL has extensive experience in managing London's road and transport network during large events, and has a successful track record in the delivery of mode shift through behaviour change programmes and freight management. </p>
<p>TfL will also continue to work with all partners to ensure all 2012 Games transport programmes are integrated and provide consistent messages to businesses, residents and freight operators, so they can plan now to get the most out of the Games.</p>
<h2>Olympic &amp; Paralympic Routes Networks:</h2>
<p>The Olympic Route Network (ORN) and Paralympic Route Network (PRN) will comprise of a number of roads linking all competition and key non-competition venues.&nbsp; </p>
<p>The networks were designated by the Secretary of State for Transport in 2009 and work on the detailed design and local engagement has progressively transferred to TfL since late last year. </p>
<p>TfL has now taken full responsibility for the ORN and PRN inside London, beginning discussions with Boroughs and local businesses on the detailed Traffic Regulation Orders (TROs) that are required to support the traffic measures along the routes.&nbsp; </p>
<p>TfL will continue to work closely with the ODA and Highways Agency, who will deliver and operate the ORN and PRN outside of London.</p>
<h2>Travel Demand Management:</h2>
<p>The 2012 Games TDM programme will ensure that the London and UK transport network can operate effectively at Games-time by influencing people's travel behaviour.&nbsp; </p>
<p>The programme was launched last year with a conference to businesses and TfL will continue to work with all partners in London and nationally, including Network Rail, the Highways Agency and local authorities, to deliver this programme.</p>
<h2>London Road Freight Management:</h2>
<p>The 2012 Games RFM programme will influence the necessary behaviour change for the efficient and safe movement of freight in London.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL will be the official lead on transport operations during the 2012 Games. This will incorporate the road networks as well as all public transport. TfL is on track with a multi-billion investment programme for the Games and is delivering improvements in the capacity, reliability and security of the transport network </li>
<li>A number of major transport projects have already been completed or are nearing completion, leaving a legacy for the Capital well ahead of the 2012 Games </li>
<li>Improvements include upgrades to London Overground and the walking and cycling networks, extensions to the Docklands Light Railway, smoothing traffic flow on the Capital's roads and increasing capacity on the Tube </li>
<li>The ORN and PRN: 
<ul>
<li>The concept of a dedicated route for the Olympic family was introduced at the Sydney Olympic and Paralympics Games in 2000 to ensure athletes, officials and the media were able to get to events easily, and on time. This measure was credited as one of the great successes in Sydney and has subsequently been used at the Athens and Beijing Olympic Games, as well as the Manchester Commonwealth Games and Vancouver Winter Games. London will incorporate lessons learned at these events to ensure the success of the 2012 Games </li>
<li>The ORN covers 2.6 per cent of London's roads and the vast majority of roads will remain open to everyday traffic. The ORN will connect competition and non-competition venues and will be in operation for a 64-day period (15 July to 16 September) encompassing the duration of the Olympic and Paralympic Games </li>
<li>The ORN and PRN will ensure the people who play a part in making the Olympic and Paralympic Games happen, get to their events on times. This group is known as the 'Games Family' and includes: 
<ul>
<li>18,000 Olympic athletes and 6,000 Paralympic athletes and their team officials </li>
<li>5,000 technical officials including judges, referees and umpires </li>
<li>20,000 broadcast media and 8,000 journalists and photographers from around the world </li>
<li>6,000 members of Olympic and Paralympic families</li></ul></li>
<li>The ORN, PRN will be proportionate and will only operate when and where they are needed. These measures may include: </li>
<li>Changes to traffic signal timings </li>
<li>Restricted turns </li>
<li>Side road closures to general traffic (excluding local residents and businesses where possible) </li>
<li>Suspension of parking and waiting bays </li>
<li>Suspension of some pedestrian crossings </li>
<li>Temporary Games Lanes</li></ul></li>
<li>2012 Games&nbsp;Travel Demand Management: 
<ul>
<li>The TDM programme was launched on 24 November 2010 with a conference about Travel Advice to Business </li>
<li>On an average day in London there are more than 23 million trips </li>
<li>Up to three million additional trips are expected in London on the busiest day of the Games</li></ul></li>
<li>London 2012 Road Freight Management: 
<ul>
<li>Freight makes up 17 per cent of the traffic on London's roads, a figure that rises to 25 per cent in the central area </li>
<li>The freight trips that occur in London are essential to ensure the Capital continues to function, delivering everything from fresh food and post to cash, providing concrete for building sites and supplies for hospitals, and servicing everything from lifts to photocopiers as well as collecting waste</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "All partners continue to work together to deliver spectator and Games Family transport, and to keep London moving during 2012.The Olympic Delivery Authority (ODA) and Transport for London (TfL) today confirmed that responsibility for the 2012 Games Travel";}
        
        


 