


@{ViewBag.Title = "Emirates Air Line and K'NEX host unique summer family challenge event";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Emirates Air Line and K’NEX host unique summer family challenge event</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Emirates Air Line and K’NEX host unique summer family challenge event</h1>
        <div class="content-page-press-release">
        20 July 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>To coincide with the end of the school term, Emirates Air Line has teamed up with construction toy company K'NEX to host an exciting summer family challenge. Parents and guardians are invited to take to the skies with their children for a free building activity that will test speed, creativity and teamwork.</p>
<p>Boarding at the Emirates Greenwich Peninsula terminal, participants will be given a box of K'NEX pieces before they board the cabins. They will then have 20-minutes whilst taking a round trip journey to build something inspired by the views from the cable car which reaches heights of up to 90 metres. Once they alight, they'll submit their entries and will have the option of another single or round trip journey, this time to sit back and relax.
</p>
<p>Children taking part must be aged 7 years or older. Once all entries have been collected they will be sent to the online parenting network Mumsnet where the founder, Justine Roberts, will pick the winner.</p>
<p>Danny Price, Head of the Emirates Air Line, said: `We're thrilled to be hosting the Emirates Air Line family challenge in partnership with K'NEX and Mumsnet, just in time for the start of the summer holidays. The cable car is a great attraction for children with spectacular 360 aerial views of the Capital and this promises to be a fantastic event for the whole family to enjoy. Children can build anything that their imagination conjures up - from a tower, a ship, a plane or even a new cable car!'</p>
<p>Justine Roberts, Mumsnet CEO, said: `Many Mumsnet users have enjoyed precious hours of peace while their children get busy with the K'NEX; others can't help wrestling the pieces off their children so that they can construct something elaborate themselves. I'm on tenterhooks to see what will happen when you put some children, their parents and a bucket full of K'NEX into a pod suspended above the Thames - but I don't doubt that it will be fabulous.'</p>
<p>The winner will get a K'NEX 70 Model Building Tub, a family ticket for the Emirates Air Line and Thames Clippers (for two adults and up to three children) and free entry to the Emirates Aviation Experience &#45; an interactive look at the operations of commercial air travel which has just welcomed some exciting new additions including a full-size Rolls Royce Trent 900 jet engine.</p>
<p>Those who would like to take part have until midnight on Sunday 26 July to register. Spaces are limited and entry will be granted on a first-come, first-served basis. The competition will run on Friday 31 July from 9am &#45; 1pm. To register, email <a href="mailto:EALfamilychallenge&#64;tfl.gov.uk">EALfamilychallenge&#64;tfl.gov.uk</a> with your name, the number of people that will be joining you in the cabin and the ages of the children participating.</p>
<p>ENDS<br />
Notes to Editors</p>
<ul>
    <li>A parent/guardian aged 18 or over will need to accompany children at all times and proof of age may be required on the day.</li>
    <li>Because of the types of toys that will be used, children taking part must be aged 7+.</li>
    <li>To allow enough space for building we advise numbers of no more than six people per cabin.</li>
    <li>The winner will be announced on Friday 7 August.</li>
    <li>Competition materials and prizes will be supplied by K'NEX.</li>
    <li>Find out more about the Emirates Air Line here - <a href="https://Visit tfl.gov.uk/emiratesairline">https://Visit tfl.gov.uk/emiratesairline</a></li>
    <li>Mumsnet is the UK's largest network for parents, with over 70 million page views and over 14 million visits per month. It has 180 local sites and a network of 6,500 bloggers. It regularly campaigns on issues including support for families of children with special educational needs, improvements in miscarriage care and freedom of speech on the internet.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-July-Emirates Air Line and K’NEX host unique summer family challenge event -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 