


@{ViewBag.Title = "London celebrates five successful years of the cycle hire scheme ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London celebrates five successful years of the cycle hire scheme </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London celebrates five successful years of the cycle hire scheme </h1>
        <div class="content-page-press-release">
        30 July 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor's flagship cycle hire scheme marks its fifth anniversary<BR>
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London and Transport for London (TfL) are marking five successful years of London's iconic cycle hire scheme today, announcing a free access weekend on August 22-23 to encourage people to try the cycles as part of Santander Cycles' Summer of Cycling.</p>
<p>The free access weekend will allow people to try the scheme for the first time and give regular users the chance to travel around London for free.</p>
<p>The cycle hire scheme has grown from strength-to-strength since launching in July 2010, with now almost double the number of bikes (6,000 to 11,500) and docking stations (400 to 748). Nearly 43 million journeys have been made in five years, with a record 73,000 hires made in one day, and the hardest working bike hired almost 4,300 times.</p>
<p>In March next year the scheme will expand eastwards into Queen Elizabeth Olympic Park. An additional 1,000 docking points are already planned within the existing zone and TfL is working with local borough councils to further extend the scheme in the future.</p>
<p>The Mayor of London, Boris Johnson, said: `Our iconic cycle hire scheme has come a really long way since it began, with millions of miles cycled by people of all ages and ability across our great city. With expansion of the scheme eastwards and plans for scores of more docking stations, it will soon be even easier for more people to get on board one of our sturdy two-wheelers. For anyone who's yet to try out one of our trusty red bikes, I'd encourage you to give them a try. Whether it's to get to and from work, or to take in the sights of the capital on a leisurely day out, Santander Cycles are surely the way to go.'</p>
<p>In the future, TfL will also look at how it can better integrate Santander Cycles online accounts with Oyster and Contactless Payment online accounts, so customers can log-in to one place and see all of their Tube, train, bus and cycle hire journeys.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `We've had a great five years building and growing London's cycle hire scheme and we're now looking to the future to make Santander Cycles even more successful. We want to improve the customer experience and continue to make hiring a bike easy, fun and rewarding.'</p>
<p>The partnership with Santander, which is now at full strength, is helping to make the scheme easier to use and even more popular with Londoners and visitors. The revolutionary smartphone App launched in May is now being used by around 70,000 people, giving them easy access by having an access code sent direct to their phone. The Santander Summer of Cycling events will be running over August and September, giving money-can't-buy cycling tours of the Science Museum and ZSL London Zoo, amongst other unique experiences. More detail on these events can be found at www.santander.co.uk/cycles</p>
<p>To find your nearest docking station or to become a member of Santander Cycles, visit www.tfl.gov.uk/santandercycles</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>The free access weekend on August 22-23 will mean casual users will not have to pay the daily &pound;2 access and as long as all journeys are kept to under 30 minutes, use of Santander Cycles will be free. Additional charges will be incurred for cycle journeys over 30 minutes at standard rates. </li>
    <li>Santander were announced as the partner of London's Cycle Hire scheme in February 2015 in a seven year deal.</li>
    <li>The top ten bikes with the most number of journeys (as of 27 July 2015) are:</li>
</ul>
<br />
<div class="table-container"><table width="164" height="262">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>Bike Number&nbsp;</td>
            <td>Total number of hires&nbsp;</td>
        </tr>
        <tr>
            <td>16191<br />
            15901<br />
            14630<br />
            14170<br />
            16023<br />
            14694<br />
            17307<br />
            18036<br />
            11813<br />
            17901</td>
            <td>4,280<br />
            4,219<br />
            4,043<br />
            4,038<br />
            4,015<br />
            3,997<br />
            3,988<br />
            3,988<br />
            3,979<br />
            3,975</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-July-London celebrates five successful years of the cycle hire scheme  -->

 
 
        
        
            @{ViewBag.Description = "Mayor's flagship cycle hire scheme marks its fifth anniversary";}
        
        


 