


@{ViewBag.Title = "Normal Tube services in operation today after Tube strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Normal Tube services in operation today after Tube strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Normal Tube services in operation today after Tube strike</h1>
        <div class="content-page-press-release">
        10 July 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers thanked for their patience during the action
        
    </div>

<div class="on-this-page">
<ul>
    <li>LU encouraging unions to join meaningful talks to resolve the dispute</li>
</ul>
<p>Tube services have returned to normal this morning (Friday 10 July) following the Tube strike, with customers thanked by London Underground (LU) for their patience during the action. The unions are now being encouraged to return to talks to resolve the dispute.</p>
<p>The rest of the transport network worked well during the strike, with customers getting around with help from transport workers across the bus network, DLR, London Overground, TfL Rail, Trams, river services and Emirates Air Line. Many commuters also took advantage of the good weather, taking to Santander Cycles in double their usual numbers, or walking part or all of their journey to work. TfL Travel Ambassadors, drawn from TfL's support functions, were out in force handing out walking maps and helping customers and road users complete their journeys.</p>
<p>Steve Griffiths, London Underground's Chief Operating Officer, said:</p>
<p>"We thank Londoners for their patience during the strike. We also thank the many transport staff who worked so hard to help Londoners and visitors to the city make their journeys.</p>
<p>&quot;I'm sorry that people had difficult journeys yesterday and we are working hard to resolve the dispute.  We are, as we always have been, ready to talk to the unions at any time. We have made a very fair and reasonable offer to our staff, which remains on the table and we are ready for talks. We have contacted ACAS and asked them to assist us in getting back around the table. We trust the unions will be ready to engage in meaningful talks to deliver Night Tube for London."</p>
<p>LU has put forward a very fair offer, which consists of an average salary increase of 2 per cent this year, 1 per cent or RPI (whichever is greater) for next year and the one after, plus a GBP500 Night Tube launch bonus and an additional GBP2,000 bonus for Night Tube train drivers where transitional arrangements apply.</p>
<p>Under the proposals for the running of all-night services:</p>
<ul>
    <li>No one is being asked to work more hours;</li>
    <li>Most staff will not be affected at all by the Night Tube;</li>
    <li>For the majority of those who are affected, the night service will mean a few extra nights per year within existing contracts;</li>
    <li>A realistic and substantial pay rise is being offered this year and for the next 2 years, with additional payment for Night Tube, on top of an already fair pay package.</li>
</ul>
<hr />
<p>&nbsp;</p>
<p>Notes to Editors</p>
<ul>
    <li>The Night Tube is part of LU's work to modernise the service offered to customers. It is widely supported by Londoners and businesses and will transform night time journeys across London.</li>
    <li>Journey times will be cut by an average of 20 minutes, with some cut by more than an hour.</li>
    <li>London's night-time economy will be opened up to a host of new opportunities, with the Night Tube supporting around 2,000 permanent jobs and boosting the economy by &pound;360 million.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-July-Normal Tube services in operation today after Tube strike -->

 
 
        
        
            @{ViewBag.Description = "Customers thanked for their patience during the action";}
        
        


 