


@{ViewBag.Title = "Refurbishment of Grade II listed Chiswick Bridge completed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Refurbishment of Grade II listed Chiswick Bridge completed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Refurbishment of Grade II listed Chiswick Bridge completed</h1>
        <div class="content-page-press-release">
        03 July 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) and local people today celebrated the completion of the major refurbishment of the Grade II listed Chiswick Bridge in west London, which has included the installation of new safer cycling and walking lanes.</p>
<p>Refurbishment of the 82 year old bridge, which crosses the River Thames, has included restoring its heritage features to their former glory, as well as extensive concrete repairs and strengthening of the bridge's parapets to extend its life. Highly skilled stonemasons conserved much of the original stonework in its original position. Where stonework on the parapets had deteriorated beyond repair, replacements were sourced from the same quarry that supplied the original Portland stone back in the 1930s.</p>
<p>A new segregated walkway and cycleway has been installed, as well as new heritage lighting placed across the bridge deck and staircases to help maintain its classic 1930s look. The project also helped out the Tideway Scullers School rowing club, which stores its equipment under the bridge, by re-building racking for their boats, constructing a concrete ramp for the boats and installed new fencing and gates.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport, said: `Restoring the Grade II listed Chiswick Bridge has been a labour of love for both our engineers and contractors. As well as providing a vital river crossing, the bridge also provides storage to local rowing clubs and is an excellent viewing point for the annual Boat Race. I am sure that local residents and drivers alike will welcome this spruce up to a much loved heritage structure in west London.'</p>
<p>To commemorate the work, a new bronze plaque has also been installed on the bridge and was today unveiled by officials from TfL, Hounslow Council and Historic England.</p>
<p>Cllr Steve Curran, Hounslow Council Leader, said: `Restoring this historic gem was essential &#45; it's one of the nicest places to cross the Thames - millions of people will recognise it from the Boat Race. The bridge was opened to ease congestion in 1933 and it's still a vital part of our transport infrastructure in 2015. We're grateful to TfL for managing to keep the disruption caused by the essential works to a minimum and that the bridge now has a new lease of life to keep it in use for generations to come. </p>
<p>`Thanks also to the hard work of the engineers and other workers who were forced to work odd shifts to keep the bridge open most of the time the work was being carried out.'</p>
<p>Stephen Senior, English Heritage Assistant Inspector of Historic Buildings and Areas for London, said: &quot;Although the scale of the works has been extensive, we have been heartened by the conservation minded approach taken by TfL and all their contractors, enabling them to deliver a refurbished structure which retains all of the historic characteristics for which it was originally listed.'</p>
<p>Dickie Banneberg, Chairman of Tideways Scullers School, said: &quot;Tideway Scullers School and TfL worked very closely together during the Chiswick Bridge refurbishment works and turned what could have been a real headache into a happy collaboration. The logistics of moving most of our fleet of boats to a new temporary location was helped by TfL building us a temporary enclosure. They were also kind enough to restore our crumbling concrete ramp and install new gates to the storage area under the arches to replace our ones which defied carbon dating. It's nice to have Chiswick Bridge restored to its 1930s glory too!'</p>
<p>The restoration of Chiswick Bridge forms part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>More detail about the refurbishment is available on TfL's website at <a href="http://www.tfl.gov.uk/chiswickbridge">www.tfl.gov.uk/chiswickbridge</a>.</p>
<hr />
<ul>
    <li>A selection of images from the refurbishment works are available from the TfL Press Office.</li>
    <li>Historic England (formerly known as English Heritage), is the public body that champions and protects England's historic places. We look after the historic environment, providing expert advice, helping people protect and care for it and helping the public to understand and enjoy it. <a href="https://www.historicengland.org.uk/">https://www.historicengland.org.uk/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-July-Refurbishment of Grade II listed Chiswick Bridge completed -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 