


@{ViewBag.Title = "Search begins to find London's top transport designs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Search begins to find London’s top transport designs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Search begins to find London’s top transport designs</h1>
        <div class="content-page-press-release">
        31 July 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) and the London Transport Museum are asking the public to vote for their ultimate London transport design.</p>
<p>The search to find London's transport Design Icons will launch on 1 August 2015 and close in early October, with the most popular designs showcased in a special event in the New Year.</p>
<p>Good design can be seen right across the transport network - from the world-famous Tube map originally designed by Harry Beck, to the iconic Roundel logo, the classic Routemaster and new Routemaster buses, the cable car and cycle hire bikes, as well as architecture across the road and rail networks.</p>
<p>People will be asked to vote from a shortlist of 100 transport designs or designers that have been carefully selected by industry experts, TfL and London Transport Museum staff.  A wide spectrum of London's transport designs is included in the list, including the lamps at St John's Wood Underground station, moquette seating and the iconic black taxi.</p>
<p>The Design Icons search is part of 'Transported by Design', an 18-month programme of events, exhibitions and competitions which celebrate the role of good design on London's transport network.</p>
<p>Other highlights of 'Transported by Design' programme will include:</p>
<ul>
    <li>'London by Design', a season of events at the London Transport Museum, beginning in September 2015 and running throughout 2016;</li>
    <li>A major design festival in Regent Street, summer 2016;</li>
    <li>Activities to celebrate the 100th anniversary of the iconic Johnston typeface, January 2016;</li>
    <li>Unveiling of a commemoration at Piccadilly Circus station to former London Transport Chief Executive, Frank Pick, autumn 2016.</li>
</ul>
<p>Mike Brown MVO, London's Transport Commissioner, said: `Our purpose is to keep London working and growing and to make life here better. For over 150 years, good design in transport has been central to this, ranging from vehicles, stations, signs and maps to the Oyster card, our website and open data feeds. With London's population growing from 8.6 million now to 10 million by 2030, we will use Transported by Design, and this search for London's Design Icons, to make sure that we continue to help customers and all Londoners make their journeys as seamlessly as possible through innovative and thoughtful 21st century design.'</p>
<p>Sam Mullins, Director of London Transport Museum, said: `As custodians of London's travel heritage, it has never been more relevant to draw attention to one of London's greatest triumphs: its transport designs. By asking the public to select their greatest London transport design, we aim to highlight how design continues to shape London.'</p>
<p>For more information about the Design Icons search and to vote for your Design Icon visit &#45; <a href="http://www.tfl.gov.uk/transportedbydesign">www.tfl.gov.uk/transportedbydesign</a> </p>
<p>ENDS<br />
Notes to Editors</p>
<ol>
    <li>Design Icons vote opens 1 August 2015 and closes on 1 October 2015.</li>
    <li>Voting is cast from a shortlist chosen by a panel made up of staff from Transport for London, London Transport Museum and an external body, Dick Powell from Design Agency, Seymour Powell.</li>
    <li>Voting takes place at https://tfl.gov.uk/transportedbydesign</li>
    <li>The final Design Icons receiving the most votes will be named as Transport for London Design Icons and announced on 15 October.</li>
    <li>Transported by Design is sponsored by Exterion Media. Many Londoners use public transport every day, and the advertising on London Underground, buses, trams and the rail networks brings a welcome source of entertainment, information and inspiration to our networks. Exterion Media's management of out-of-home media across these transport networks enables advertisers to enjoy extended engagement with the UK's urban audiences.  This position as a major innovator in media advertising also fits with TfL's own innovatory work in design across its networks.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-July-Search begins to find London’s top transport designs -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 