


@{ViewBag.Title = "Aslef leadership urged to drop 'disgraceful' Boxing Day triple-time pay claim";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Aslef leadership urged to drop 'disgraceful' Boxing Day triple-time pay claim</h1>
        <div class="content-page-press-release">
        16 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has today published documents which show the Aslef leadership agreed to working arrangements which it is now breaking by calling its members out on a Boxing Day strike over an outrageous pay claim.
        
    </div>



 <div class="on-this-page">
<p>Along with all Tube unions, the Aslef leadership signed up to the 1996 Agreement for Operational Staff and Operational Managers, which saw staff getting higher salaries and 6.8 weeks of holidays, on the understanding that this involved working some bank holidays. </p>
<p>The agreement, which specifies that overtime is only paid for unrostered work or for work attracting a higher salary, has now been torn up by Aslef's leaders. </p>
<p>The union's London district secretary Steve Grant admitted on Monday that Aslef had run roughshod over the agreement when he called for it to be 'renegotiated'. </p>
<p>With LU seeking submissions from unions for pay and conditions talks starting early in 2011, the Aslef leadership has jumped the gun and seems determined to disrupt the Christmas period for Londoners - particularly the large numbers intending to visit the Boxing Day sales and sporting events. </p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'It is disgraceful that Aslef should try to hold Londoners and London Underground to ransom in this way. </p>
<p>'We have a long-standing agreement which all of&nbsp; trade unions are signed up to and which we have published today, which covers staff working arrangements on bank holidays, and Boxing Day is included in that agreement. To tear that agreement up and seek to disrupt the festive period for Londoners in this way is just cynical.</p>
<p>'We have made every effort to resolve this issue with the Aslef leadership, which has refused to attend talks at ACAS to discuss its claim for triple time and a day in lieu for its members.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Section 7.3.1 of the Agreement states: 'Annual leave will be 6.8 weeks, including statutory holidays, which will be expressed in days/shifts. The number of days/shifts of leave will be determined by multiplying the average rostered number of days/shifts by 6.8 rounded to the nearest whole number' </li>
<li>Section 9.1.4 states: 'Additional payments will be made only for authorised paid unrostered overtime, for the working of a shift attracting a higher salary'</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Along with all Tube unions, the Aslef leadership signed up to the 1996 Agreement for Operational Staff and Operational Managers, which saw staff getting higher salaries and 6.8 weeks of holidays, on the understanding that this involved working some bank";}
        
        


 