


@{ViewBag.Title = "ASLEF Boxing Day strike threat 'beyond belief', says LU Managing Director";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>ASLEF Boxing Day strike threat 'beyond belief', says LU Managing Director</h1>
        <div class="content-page-press-release">
        22 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        ASLEF leadership unilaterally tear up long-standing agreement with LU.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The ASLEF leadership is tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The ASLEF leadership is tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>ACAS peace talks scuppered as ASLEF walk out </li>
<li>LU management calls on ASLEF to think again and call off strike</li></ul>
<p>London Underground (LU) today slammed the leadership of ASLEF after they walked out of peace talks at conciliation service ACAS, threatening strike action and disruption for hundreds of thousands&nbsp;of Londoners and visitors seeking to enjoy the Boxing Day sales, football and leisure on this important Bank Holiday for the Capital.&nbsp;</p>
<h2>Long-standing agreement</h2>
<p>Despite a long-standing agreement clearly covering all Bank Holidays, ASLEF is demanding triple time plus a day off in lieu for drivers who are scheduled to work on Boxing Day. This is despite the agreement giving all LU staff increased pay and 6.8 weeks off each year.</p>
<p>At ACAS talks today, LU offered to reduce the number of drivers rostered to work on Boxing Day, but this was flatly rejected by the ASLEF leadership, who are clearly determined to strike and disrupt Londoners' Christmas holidays.</p>
<p>LU Managing Director, Mike Brown said: 'This strike threat is beyond belief.&nbsp; </p>
<p>'The ASLEF leadership is tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off.&nbsp; Londoners will simply be stunned at such a claim.</p>
<h2>Unnecessary strike action</h2>
<p>'It is obviously not the season of goodwill for the leadership of ASLEF. By holding Londoners to ransom in this way, they are showing complete disdain for all Londoners and visitors who want to visit family and friends or hunt a good bargain during what is one of the busiest shopping days of the year.</p>
<p>'We have made every effort to resolve this issue with the ASLEF leadership including peace talks at ACAS today, where we offered to reduce the number of drivers rostered on Boxing Day, but to no avail.</p>
<p>'They walked out of talks at ACAS without even talking to us directly and in so doing have made it very clear they are intent on disrupting Christmas for Londoners.</p>
<p>'We would urge the ASLEF leadership to think again and call off this completely unnecessary strike action.'</p>
<p>The union's London district secretary Steve Grant admitted last week that ASLEF had run roughshod over the agreement when he called for it to be 'renegotiated'.&nbsp;</p>
<p>With LU seeking submissions from unions for pay and conditions talks starting early in 2011, the ASLEF leadership has jumped the gun and seems determined to disrupt the Christmas period for Londoners - particularly the large numbers intending to visit the Boxing Day sales and sporting events.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong>
<ul>
<li>Section 7.3.1 of the Agreement states: 'Annual leave will be 6.8 weeks, including statutory holidays, which will be expressed in days/shifts. The number of days/shifts of leave will be determined by multiplying the average rostered number of days/shifts by 6.8 rounded to the nearest whole number' </li>
<li>Section 9.1.4 states: 'Additional payments will be made only for authorised paid unrostered overtime, for the working of a shift attracting a higher salary.'</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "ACAS peace talks scuppered as ASLEF walk out LU management calls on ASLEF to think again and call off strikeLondon Underground (LU) today slammed the leadership of ASLEF after they walked out of peace talks at conciliation service ACAS, threatening strike";}
        
        


 