


@{ViewBag.Title = "Changes to the road network and bus stops in the Victoria area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to the road network and bus stops in the Victoria area</h1>
        <div class="content-page-press-release">
        09 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Wilton Road reopening to general traffic. Terminus Place reopening to London buses. Introduction of 18 tonne weight restriction on Eccleston Bridge.
        
    </div>



 <div class="on-this-page">
<p>Following utility diversion work connected to the Victoria Station Upgrade, Wilton Road will reopen to traffic from Monday 13 December until May 2011 when main construction starts.&nbsp; </p>
<p>Buses currently on diversion will return to their normal stops on Wilton Road and Terminus Place from 11 December.</p>
<p>From Monday 13 December, Transport for London (TfL) will be introducing an 18 tonne weight restriction on Eccleston Bridge.&nbsp; </p>
<p>The weight restriction is essential to protect the structural integrity of the bridge which spans key rail tracks into Victoria station. </p>
<p>The restrictions will apply to all coaches and heavy goods vehicles, with the exception of a small number of coaches over 18 tonnes, exiting Bulleid Way coach station.&nbsp; </p>
<p>No buses routes use this road so will not be affected. </p>
<p>Peter Bradley, Head of Consultation and Engagement for Surface Transport, said: 'We have been working closely with Network Rail over concerns about the weight restriction on Eccleston Bridge.&nbsp; </p>
<p>'Notifications have been sent to affected operators and we will be monitoring the impact on the local roads.'</p>
<p>Signs have been put up in the local area advising of the weight restriction and TfL has been engaging with coach operators and Heavy Goods Vehical companies to advise them of the change and suggest the proposed alternative routes.&nbsp; </p>
<p>TfL and Network Rail will be monitoring traffic flow in the area to ensure the diversion is effective and minimises disruption. </p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The weight restriction will come into effect from Monday 13 December subject to final sign off from Network Rail and discussion with local businesses </li>
<li>The advisory diversion route for vehicles over 18 tonnes will be: 
<ul>
<li>From Vauxhall Bridge: Along Vauxhall Bridge Road, Neathouse Place, Wilton Road, Victoria Street and&nbsp;Buckingham Palace Road </li>
<li>From Pimlico: Belgrave Road, Denbigh Street, Wilton Road, along a short section of Victoria Street and Buckingham Palace Road </li>
<li>Terminus Place will reopen from Saturday 11 December when the following bus routes will return to their normal route: 2, 11, 16, 24, 36, 52, 82, 148, 185, 211, 436, C2, N2, N11, N16, N44, N52 and N136</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following utility diversion work connected to the Victoria Station Upgrade, Wilton Road will reopen to traffic from Monday 13 December until May 2011 when main construction starts.&nbsp; Buses currently on diversion will return to their normal stops on";}
        
        


 