


@{ViewBag.Title = "Chesham trains to run direct into central London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chesham trains to run direct into central London </h1>
        <div class="content-page-press-release">
        07 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) services from Chesham will run direct into central London from Sunday 12 December.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By eliminating the need to change at Chalfont & Latimer, customers will have a quicker and more convenient journey"</div>
        <div class="quote-footer">
            <div class="quotee-name">Angela Back</div>
            <div class="quotee-job-title">Metropolitan line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By eliminating the need to change at Chalfont & Latimer, customers will have a quicker and more convenient journey 
                            
                        </p>
                    </div>
                
            
            
            <p>This change is a result of a new Metropolitan line timetable which will enable London Underground (LU) to run more of the new, air-conditioned, longer trains which came into service in August. </p>
<p>At the moment, passengers travelling to and from Chesham during off peak periods have to change at Chalfont &amp; Latimer.</p>
<p>From Sunday, Chesham customers will have an interchange-free journey to and from London. </p>
<p>The changes follow consultation with local residents that took place back in 2008, which found the majority in favour of the change.</p>
<p>Angela Back, Metropolitan line General Manager, said: 'This is great news for customers travelling to and from Chesham outside of the rush hour. </p>
<p>'By eliminating the need to change at Chalfont &amp; Latimer, customers will have a quicker and more convenient journey in to and out of central London. </p>
<p>'It will also mean that we are able to introduce more of the new walk-through, air-conditioned trains, which started serving part of the Metropolitan line earlier this year.</p>
<p>'The new trains are made up of eight cars which cannot be separated and are therefore unable to serve the bay road at Chalfont &amp; Latimer station which the Chesham shuttle, which is made up for four carriages, currently serves.&nbsp;</p>
<p>'The new timetable will allow LU to run longer trains in and out of Chesham, all day, every day.'</p>
<p>The changes, which will not affect the current peak-time services, are as follows: </p>
<ul>
<li>Two trains per hour running direct between Chesham and central London throughout the day</li>
<li>Two Metropolitan line trains per hour between Amersham and central London, instead of the present four. The two trains per hour service provided by Chiltern Trains (one train per hour on Sundays) would be unaffected, so the total number of trains from Amersham to central London would fall from six to four per hour (and from five trains to three per hour on Sundays)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This change is a result of a new Metropolitan line timetable which will enable London Underground (LU) to run more of the new, air-conditioned, longer trains which came into service in August. At the moment, passengers travelling to and from Chesham";}
        
        


 