


@{ViewBag.Title = "Developers and passengers to benefit from free live Tube information in special TfL online area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Developers and passengers to benefit from free live Tube information in special TfL online area</h1>
        <div class="content-page-press-release">
        14 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Updated Web Developers' Area and free travel information go live today. Free provision of data part of Transport for London's (TfL's) digital strategy and supports the Mayor's commitment to make data available to the public.
        
    </div>



 <div class="on-this-page">
<p>TfL today unveiled a redesigned online Developers' Area containing free travel information for mobile apps (application) producers.&nbsp; </p>
<p>The free-to-use information will enable developers to update existing, and produce new, apps to give passengers a choice of ways to check the status of their journeys while on the move</p>
<p>The latest addition is a live Tube travel news feed, known as Trackernet. </p>
<p>It shows the location of trains across the London Underground network at any time. </p>
<p>It is among a raft of improvements to the new look <a href="http://www.tfl.gov.uk/businessandpartners">Developers' Area</a> which includes clearer guidelines to web developers on how to use the information to create apps or other travel tools. </p>
<p>Other information in the area includes:</p>
<ul>
<li>Live traffic disruptions </li>
<li>Realtime road message signs </li>
<li>Barclays Cycle Hire docking station locations </li>
<li>Timetable of planned weekend Tube improvement works </li>
<li>Station locations (for Tube, Docklands Light Railway and London Overground) </li>
<li>River Thames pier locations </li>
<li>Find-a-ride (licensed private hire operators) </li>
<li>Oyster Ticket Stop locations.</li></ul>
<p>Making the live Tube travel information available is the result of collaboration between TfL and Microsoft, creating the Azure Cloud platform to host the information that will meet the expected demand from thousands of developers. </p>
<h2>More choice for passengers</h2>The new Developers' Area is part of TfL's Digital Strategy which aims to make as much information as possible freely available for commercial use.&nbsp; 
<p>This approach has been chosen to allow developers to innovate and create a range of apps. </p>
<p>The variety will allow passengers to choose the one that best meets their needs. </p>
<p>Further releases of our data are planned next year.</p>
<p>The Mayor of London's economic development advisor, Anthony Browne, said: 'In the digital age Londoners expect to be able to find out where their Tube train or bus is at the touch of a button and that is why having this live tracker feed is so vital. </p>
<p>'By improving the way we help web developers and make this information available to them we can also provide a potential money spinner for the Capital's software development experts.'</p>
<p>Chris MacLeod, TfL's Director of Group Marketing, said: 'This is great news for our passengers. </p>
<p>'We are committed to making travel information available to passengers how and when they want it. </p>
<p>'Trackernet - which will lead to some new apps and which many developers have already tested for themselves - is a great example of how TfL is using new technologies to provide better travel tools for public transport users.'</p>
<h2>Free-to-use data</h2>
<p>Michael Gilbert, TfL's Director of Technology, said: 'TfL with the help of Microsoft, has created a strategic, scalable technical platform that will aid us in making real-time data sets available, the first of which is Trackernet data.'</p>
<p>Mark Taylor, Director Developer and Platform Evangelism at Microsoft UK, said: 'We've provided TfL with a scalable system which can handle more than seven million requests a day.&nbsp; </p>
<p>'It's an innovative example of cloud computing, and we look forward to working with TfL again and other organisations which wish to follow their lead.'</p>
<p>The Mayor of London launched the London Data Store in January this year which houses publicly available data form the Greater London Authority (GLA) and other public authorities, including TfL.</p>
<p>For more information go online to the <a href="http://www.tfl.gov.uk/businessandpartners/syndication/default.aspx">Developers' Area</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Users of the Developers' Area will be asked to accept the new terms&nbsp;and onditions before being allowed to use the data. TfL will also, continue to protect the misuse of its trademarked brands and intellectual property </li>
<li>TfL does not take responsibility for apps developed by third parties using its data. TfL also reserves the right to protect its brand and intellectual property from use by non-licensed parties </li>
<li>The Mayor is committed to releasing GLA data for all Londoners to see and use free of charge through the London Data Store </li>
<li>TfLL will continue to make all of its realtime travel information available free to passengers from its website and stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today unveiled a redesigned online Developers' Area containing free travel information for mobile apps (application) producers.&nbsp; The free-to-use information will enable developers to update existing, and produce new, apps to give passengers a";}
        
        


 