


@{ViewBag.Title = "Disruption likely - but service operating on all scheduled lines despite strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Disruption likely - but service operating on all scheduled lines despite strike</h1>
        <div class="content-page-press-release">
        26 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is operating services on all lines that were scheduled to run despite the strike called by the leadership of the ASLEF union.
        
    </div>



 <div class="on-this-page">
<ul>
    <li><strong>LU condemns ASLEF leadership and urges drivers to come to work</strong></li>
    <li><strong>Passengers are urged to check before travelling at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </strong></li>
</ul>
<p>The completely unnecessary strike action is likely to cause significant disruption throughout the day, but LU is working to ensure as many services as possible will operate. London's 700 bus routes and some river services are also in operation.</p>
<p>Customers are urged to check before they travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. At present, services are currently operating as follows:</p>
<ul>
    <li>On the <strong>Bakerloo line</strong> LU is running a limited service between Harrow &amp; Wealdstone and Paddington.</li>
    <li>On the <strong>Central line</strong> LU is running a limited service between Hainault/Epping to Leytonstone and White City to West Ruislip/Ealing Broadway.</li>
    <li>On the <strong>Circle line</strong> there is planned closure.</li>
    <li>On the <strong>Hammersmith &amp; City line</strong> LU is running limited services from Hammersmith to Kings Cross only. The closure of the <strong>Hammersmith &amp; City line</strong> between Kings Cross and Barking for engineering works was pre-planned.</li>
    <li>On the <strong>District line</strong> LU is running four limited shuttle services between Ealing Broadway and High Street Kensington.</li>
    <li>On the <strong>Jubilee line</strong> LU is running a reduced frequency service between Wembley Park and Stanmore.</li>
    <li>On the <strong>Northern line</strong> LU is running four limited shuttle services from Edgware to Golders Green and High Barnet to East Finchley.</li>
    <li>The <strong>Metropolitan line</strong> is running limited service between Harrow-on-the-Hill and Baker Street. The closure of the section between Aldgate and Baker Street for engineering works was pre-planned.</li>
    <li>On the <strong>Victoria line</strong> a reduced service is operating between Seven Sisters and Victoria.</li>
    <li>The <strong>Piccadilly line</strong> has limited services between Arnos Grove and Cockfosters, Hyde Park Corner and Heathrow and Acton to Rayners Lane.</li>
    <li> </li>
</ul>
<p>LU Managing Director, Mike Brown said: "This strike is beyond belief. The ASLEF leadership is tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off. Londoners will simply be stunned at such a claim.</p>
<p>"The union leadership has shown complete disdain for all who want to visit family and friends or hunt a good bargain during what is one of the busiest shopping days of the year.</p>
<p>"We are running as many Tube services as possible, as well as London's 700 bus routes and some river services. We are also discussing with West End retailers how we can support more pedestrian VIP events in the near future, to encourage more shoppers to the West End.</p>
<p>"I urge all ASLEF members booked to work today to ignore this unnecessary strike and report for work."</p>
<p>ASLEF walked out of talks at the conciliation service ACAS, unilaterally tearing up a long-standing agreement clearly covering all Bank holidays and demanding triple pay and a day off in lieu for drivers who are scheduled to work on Boxing Day. An offer from LU to reduce the number of drivers rostered to work on Boxing Day was flatly rejected by the union leadership, who were clearly determined to strike and disrupt Londoners' Christmas holidays.</p>
<p>ASLEF, along with all Tube unions, signed up to an agreement, which gave all LU staff increased pay and 6.8 weeks of holidays on the understanding that this involved working some public holidays including Boxing day.&nbsp; This has now been torn up by ASLEF.</p>
<p>
<h3>Notes to editors:</h3>
<p>
<ul>
    <li>Section 7.3.1 of the Agreement with the unions states: "Annual leave will be 6.8 weeks, including statutory holidays, which will be expressed in days/shifts. The number of days/shifts of leave will be determined by multiplying the average rostered number of days/shifts by 6.8 rounded to the nearest whole number."</li>
    <li>Section 9.1.4 states: "Additional payments will be made only for authorised paid unrostered overtime, for the working of a shift attracting a higher salary."</li>
</ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU condemns ASLEF leadership and urges drivers to come to workPassengers are urged to check before travelling at www.tfl.gov.uk The completely unnecessary strike action is likely to cause significant disruption throughout the day, but LU is working to";}
        
        


 