


@{ViewBag.Title = "Final work dates announced for London Overground's multi-million pound upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final work dates announced for London Overground's multi-million pound upgrade</h1>
        <div class="content-page-press-release">
        14 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Network Rail today announced the dates for a week of re-signalling work early in 2011 on the London Overground network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These essential works will help unlock the true potential of the London Overground network, which is to offer better, more frequent and higher capacity metro-style service."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Chief Operating Officer for TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These essential works will help unlock the true potential of the London Overground network, which is to offer better, more frequent and higher capacity metro-style service.
                            
                        </p>
                    </div>
                
            
            
            <p>The work is part of a multi-million pound upgrade project to further increase capacity on London Overground services from spring 2011. </p>
<p>The closure - in addition to those during the festive season - will be: </p>
<ul>
<li>From&nbsp;Saturday 19 February until Saturday 26 February 2011 (inclusive) services will be suspended between: Richmond and Camden Road, Euston&nbsp;and South Hampstead, Gospel Oak and Upper Holloway, Shepherd's Bush&nbsp;and Willesden Junction </li>
<li>On Sunday 20 and 27 February trains will run to Euston. However, there will be no service between Richmond and Stratford, Gospel Oak and Upper Holloway and Shepherd's Bush and Willesden Junction</li></ul>
<p>Details regarding train and bus provision as well as alternative travel arrangements will be available closer to the time.</p>
<h2>More frequent services</h2>
<p>The upgrade work involves the final commissioning of the signalling equipment that was installed through 2010, the installation of further signalling equipment and completing the refurbishment of several stations.</p>
<p>When the upgrade is finished in spring 2011, London Overground will be running more frequent services with longer trains providing greater capacity. Services from Richmond and Clapham Junction to Stratford will run four times per hour all day with at least six trains per hour all day between Willesden Junction and Stratford. </p>
<p>Howard Smith, Chief Operating Officer for TfL London Rail, said: 'We have nearly completed the planned improvements. </p>
<p>'These essential works will help unlock the true potential of the London Overground network, which is to offer better, more frequent and higher capacity metro-style service.</p>
<p>'We are doing all we can to minimise the disruption caused and are looking forward to finishing all the works, on schedule by spring 2011.' </p>
<h2>Supporting&nbsp;the economy</h2>
<p>Andrew Munden, Network Rail route director, said: 'London relies on rail to get more than a million people to and from work every day, which is why investment in projects like the London Overground upgrade is so important to the Capital's economy.</p>
<p>'This project will provide vital additional capacity in time for the Olympic Games and help meet growing demand on this busy commuter line, supporting economic growth across vast swathes of London.'</p>
<p>The improvement work is part of an upgrade that will see more than 200 signals, seven kilometres of track and 69 sets of points improved and 30 station platforms lengthened. </p>
<p>A reminder that during the festive break, there will be the following suspensions between:</p>
<ul>
<li>Gospel Oak and Stratford&nbsp; from 18:30 on the evening of 18 December until 24 December 2010 </li>
<li>Richmond and Stratford, Shepherd's Bush&nbsp;and Willesden Junction from 27 December until the 3 January 2011 </li></ul>
<p>After that, only work requiring weekend closures will carry on until mid 2011. Once the work is completed, there will be eight peak trains per hour between Willesden Junction and Stratford stations. </p>
<p>To minimise inconvenience during these times TfL will provide a rail replacement service on the closed sections of the network. Passengers will also be able to travel at no extra cost by Tube or national rail services through zone 1, providing they travel from a Tube or national rail station near their usual London Overground station (conditions apply).</p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p><strong>
<ul>
<li></li></ul></strong>
<li>Passengers who are considering buying a ticket valid during periods of network closure&nbsp; should&nbsp; speak to a member of staff or contact LOROL's customer services team for travel advice </li>
<li>Work to date has already delivered 1102 metres of extra station platform at 17 stations on the North London Line; a new bridge deck at Camley Street rail bridge; over 6km of track renewed between Camden Road and Dalston Kingsland stations during the closure earlier this year, 11 new sets of switches and over 100km of new signalling cable installed </li>
<li>Much work in support of this has also been undertaken including the replacement of Victorian drainage systems, retaining walls and the removal of large amounts of soil </li>
<li>There will be no service on the whole London Overground network on Christmas and Boxing Day, 25, 26 December 2010 </li>
<li>TfL Customer Advice teams have been holding a series of information sessions at most stations on the London Overground network from October to provide information and travel advice about the planned closures<br>Further information sessions will take place in January, ahead of the February closure </li>
<li>During the closure periods, NR will be replacing signalling equipment that was installed almost 30 years ago, and moving control of the signals from four old signal boxes to a new control centre<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is part of a multi-million pound upgrade project to further increase capacity on London Overground services from spring 2011. The closure - in addition to those during the festive season - will be: From&nbsp;Saturday 19 February until Saturday 26";}
        
        


 