


@{ViewBag.Title = "Four-week closure for improvement works on most delayed part of Circle and District lines during summer 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Four-week closure for improvement works on most delayed part of Circle and District lines during summer 2011</h1>
        <div class="content-page-press-release">
        13 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Closure between 23 July and 23 August between High Street Kensington and Edgware Road.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is absolutely essential that we modernise and improve the Tube network, and it's just not possible to do all the necessary work during the four hours that the network is closed each evening."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">MD London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is absolutely essential that we modernise and improve the Tube network, and it's just not possible to do all the necessary work during the four hours that the network is closed each evening.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>LU will take advantage of closure to prepare for longer trains on the Circle and Hammersmith &amp; City line</li></ul>
<p>Upgrade works to improve the reliability of service, renew old infrastructure, and prepare for new trains are set to take place in summer 2011. The District and Circle lines will be suspended between High Street Kensington and Edgware Road from July 22 to 24 August next year. </p>
<h2>Longer trains</h2>
<p>The works will include track and drainage renewal and enabling works to accommodate the new longer air-conditioned trains (from six carriages to seven), which will start operating on the Hammersmith &amp; City and Circle lines from the end of 2011. </p>
<p>They will also include power upgrade works to support the new trains coming into service.</p>
<p>Signal and track failures make up around 70 percent of the delays between High Street Kensington and Edgware Road as the poor condition of drainage means that excess water results in track circuits failing and therefore leads to signal failures.</p>
<p>The block closure means that the work can be carried out during a quieter period on the network. </p>
<p>Completing the work using weekend track closures only would mean at least 20 weekend closures spread across&nbsp;six months or more. </p>
<h2>Modernise the Tube</h2>
<p>Mike Brown, MD London Underground, said: 'It is absolutely essential that we modernise and improve the Tube network, and it's just not possible to do all the necessary work during the four hours that the network is closed each evening. </p>
<p>'We are therefore determined that we do improvement works in a way that keeps disruption to Londoners to an absolute minimum. </p>
<p>'By carrying out a block closure of this section of the network we will be able to complete works in four weeks that would otherwise have required at least&nbsp;20 weekends of disruption spread across six months or more. </p>
<p>'This approach will mean that there will be no time lost due to set-up and hand-back of works, which minimises working time and helps to significantly reduce the cost - saving some &pound;6.5 million.'</p>
<p>The closure will be extended at weekends to include Hammersmith &amp; City/ Metropolitan and Circle lines between Hammersmith and Aldgate and between Earl's Court and Gloucester Road, to carry out additional works for the upgrade of the Hammersmith &amp; City, Circle, Metropolitan and District lines. </p>
<h2>Transport options</h2>
<p>Throughout the closure, various transport options will be available for passengers wishing to access the area. Bayswater station is within easy walking distance of Queensway on the Central line, which will remain open throughout. </p>
<p>In addition to local buses, passengers for High Street Kensington will still be able to access the station via District line trains from Earl's Court or Circle line trains from Gloucester Road.&nbsp; Passengers for Notting Hill Gate will be able to access the station via the Central line. </p>
<p>Passengers for Paddington and Edgware Road will be able to use the Bakerloo line, and passengers for Baker Street will be able to use the Bakerloo and Jubilee lines.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU will take advantage of closure to prepare for longer trains on the Circle and Hammersmith &amp; City lineUpgrade works to improve the reliability of service, renew old infrastructure, and prepare for new trains are set to take place in summer 2011. The";}
        
        


 