


@{ViewBag.Title = "Iconic Tube signs arrive at Orchard Hill College and Carshalton College";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Iconic Tube signs arrive at Orchard Hill College and Carshalton College</h1>
        <div class="content-page-press-release">
        07 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A classroom called Oxford Circus and a roof terrace named Wembley Park are just some of the new signs that are being used at Orchard Hill College and Carshalton College in Carshalton, Surrey.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Underground theme that the learners have chosen is meaningful and relevant to them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Janette Taylor</div>
            <div class="quotee-job-title">Lecturer at Orchard Hill College</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Underground theme that the learners have chosen is meaningful and relevant to them
                            
                        </p>
                    </div>
                
            
            
            <p>From 8 December students will be able to locate their classrooms with ease after Transport for London (TfL) worked with Orchard Hill College and a UK supplier to design and produce signage in the style of the real London Underground (LU).</p>
<p>Many of the students are teenagers and adults with learning difficulties who are doing courses to become independent or supported travellers. </p>
<p>The choice of Tube system signage seemed an ideal way to familiarise the students with public transport in the world outside the classroom. </p>
<p>One of the students came up with the idea of having a Tube theme. </p>
<p>This public transport suggestion was deemed more age-appropriate than animals or planets as the pupils are aged 16 or older. </p>
<p>Each floor is named after a&nbsp;LU line. </p>
<p>For example, floor&nbsp;two is named after the District line and has a classroom called Earl's Court.&nbsp; </p>
<p>This is signified with the distinctive circular Tube logo or roundel.&nbsp; </p>
<p>The floors also have furniture that matches the colour of the different Tube lines. </p>
<p>On the stairwells there are 'keep to the right' signs which are the same as on the Underground, these signs will ease congestion on the stairs and allow learners to understand how to safely use the stairs.</p>
<p>The lift, toilet and wheelchair signs are real LU signs customers would see on the network. </p>

<h2>Practical design</h2>
<p>Nigel Holness, Network Services Director for LU, said: 'Our famous Tube map and logo with its bright colours and simple layout is recognised around the world for its practical design. </p>
<p>'I'm really pleased that Transport for London - by bringing a little bit of the Tube to Orchard Hill College and Carshalton College - has been able to help these students navigate their building more easily.' </p>

<p>Luke Green, 17, learner from Orchard Hill College, said: 'I love trains and thought that Underground stations would be a good idea for our classroom names, I really enjoyed travelling to Earl's Court.'</p>
<p>Janette Taylor, Lecturer at Orchard Hill College, said: 'Our learners love the new classroom names.</p>
<p>'Each floor is named after an Underground line and the learners from each class have voted for what Tube station they would like their classroom to be named after.&nbsp; </p>
<p>'The learners from my class voted for Earl's Court and have already travelled there using public transport to research information about the station and the local area.&nbsp; </p>
<p>'This is a great way for our students who have a range of learning difficulties and disabilities, to gain more confidence when travelling in the community.&nbsp; </p>
<p>'The Underground theme that the learners have chosen is meaningful and relevant to them.'</p>

<h2>Sense of achievement</h2>
<p>Sally McGuire, Skills for Work and Life Team Leader at Carshalton College, said: 'For us, you get a sense of achievement working with our learners, equipping them with skills to achieve and lead a more independent life, it is very rewarding. </p>
<p>'This iconic Tube theme, with its quality signage, helps us to teach our students more affectively on our courses.'</p>
<p>West Sussex based Links Ltd, one of TfL's suppliers, designed and made the signs at no cost to TfL. </p>

<p>The shared college building is a purpose built building which opened last year and caters for students with a range of disabilities including learning disabilities. </p>
<p>On the morning of 8 December each class of students will decorate their classroom, dress in theme and host activities connected to their Tube name, for example at Wimbledon station the class will be dressed as tennis players and strawberries and cream will be served.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>&nbsp;LU is undertaking a major programme of renewal as part of&nbsp;TfL's Tube upgrade. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands&nbsp;Light Railway&nbsp;passengers to <a href="http://www.tfl.gov.uk">'check before&nbsp;they travel' </a>at weekends, allowing extra journey time where necessary </li>
<li><a href="http://www.orchardhill.ac.uk">Orchard Hill College</a> is a non-residential National Specialist College with bases across London.&nbsp;It&nbsp;offers a friendly and supportive learning environment for young people and adults with severe/profound and complex learning difficulties and/or disabilities </li>
<li>Images available on request </li>
<li><a href="http://www.carshalton.ac.uk">Carshalton College </a>has been educating people and realising student's ambitions for&nbsp;more than&nbsp;fifty years.&nbsp;It is confident that&nbsp;its courses, offering full-time, part-time, apprenticeships and higher education, are varied and flexible to meet a wider range of interests and ambitions</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 8 December students will be able to locate their classrooms with ease after Transport for London (TfL) worked with Orchard Hill College and a UK supplier to design and produce signage in the style of the real London Underground (LU).Many of the";}
        
        


 