


@{ViewBag.Title = "Increasing numbers of Londoners swapping their car for public transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Increasing numbers of Londoners swapping their car for public transport</h1>
        <div class="content-page-press-release">
        20 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Seven per cent shift to public transport, cycling and walking reduces car journeys by one million every day in London, ensuring Transport for London (TfL) keeps London moving and supports economic growth.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This report proves the Mayor's policies have continued to encourage Londoners out of their cars and onto public transport or two wheels
                            
                        </p>
                    </div>
                
            
            
            <p>TfL continues to operate more frequent, extensive and reliable services.&nbsp;</p>
<p>Major growth in cycling maintained.</p>
<p>Low Emission Zone improving London's air quality with substantial savings of particulate matter (PM10) and nitrogen oxide (NOx)&nbsp; and almost 100 per cent vehicle compliance on a daily basis.</p>
<p>
<hr>

<p>
<p>TfL has published its third annual Travel in London report, which confirms that demand for public transport in the Capital has bounced back since the recession and continues to increase. </p>
<p>There has been a seven percent increase in the numbers of Londoners getting out of their cars and choosing to use public transport, walking or cycling in London, without which there would have been one million more car driver trips in London in 2009.</p>
<p>Londoners now use public transport for 41 per cent of their journeys, a seven per cent increase since 2000. </p>
<p>That increase in demand clearly demonstrates the need for continued investment in London's transport network, and underlines exactly why the Mayor and TfL campaigned so vigorously and successfully, alongside businesses and stakeholders across the Capital, to win a good transport funding settlement for London as part of this year's Comprehensive Spending Review.</p>
<p>The report also shows the Mayor and TfL are making good progress towards delivery of his Transport Strategy and with his six key transport policies to:</p>
<ul>
<li>Expand public transport capacity </li>
<li>Smooth traffic flows </li>
<li>Lead a revolution in cycling and walking </li>
<li>Deliver London 2012 Olympic and Paralympic Games transport projects and leave a lasting legacy </li>
<li>Improve further the safety and security of the travelling public </li>
<li>Improve dramatically the experience of travelling in London</li></ul>
<p>The Mayor of London's Transport Advisor, Kulveer Ranger said: 'Over the last twelve months we have launched the hugely successful Barclays Cycle Hire and first two Barclays Cycle Superhighways. </p>
<p>'We have opened the extended East London Line, provided extra carriages on the DLR [Docklands Light Railway] and seen London's first ever air-conditioned trains. </p>
<p>'This report proves the Mayor's policies have continued to encourage Londoners out of their cars and onto public transport or two wheels. </p>
<p>'But the Mayor is clear that there is still much more we can do. </p>
<p>'The iron will he showed in negotiations with the Government to protect the funding for future Tube upgrades and Crossrail will prove vital in years to come. </p>
<p>'We live in a city that continues to grow and it is crucial we make the improvements necessary for ever greater numbers of Londoners to get around the Capital.'</p>
<p>The third Travel in London report highlights how Londoner's travel behaviour has changed over the last decade, from 2000 to 2010.&nbsp; </p>
<p>Key developments over the decade up to 2010 have been:</p>
<ul>
<li><strong>Growing demand for travel:&nbsp; </strong>The number of trips made in London each day has increased by eight per cent since 2000, reflecting both population growth and economic development</li>
<li><strong>An unprecedented modal shift of seven percentage points away from car use onto public transport, walking and cycling:</strong>&nbsp;Without this modal shift, there would have been one million more car driver trips in London in 2009, adding congestion to the Capital's road network and undermining economic growth</li>
<li><strong>Fewer car journeys:&nbsp;</strong>Traffic on London's roads has fallen by six per cent since 2000, while traffic on Great Britain's roads increased by nearly eight per cent over the same period</li>
<li><strong>Greater public transport capacity:&nbsp;</strong>Including 32 per cent more bus kilometres and nine per cent more Underground train kilometres operated in 2009/10 compared to 2000/01</li>
<li><strong>Sustained improvements in the reliability of bus and Underground services:&nbsp;</strong>All indicators of service performance were either at, or close to their recorded highs in 2009/10, with 97 per cent of scheduled kilometres operated on both the Underground and bus networks</li></ul>
<p>London's Transport Commissioner, Peter Hendy said: 'The continuing growth in demand for public transport reinforces the need for investment in London's transport networks. </p>
<p>'Working with the Mayor and London businesses, we successfully campaigned to secure vital investment to take forward the upgrade of the Tube, the construction of Crossrail and maintain frontline services on the extensive bus network and expand London's popular Barclays Cycle Hire.</p>
<p>'We are on course to carry more passengers than ever before on the Tube, rail, Docklands Light Railway (DLR), bus and tram network. </p>
<p>'This shows the essential role that our services are playing in supporting the Capital's economy and this record ridership is being delivered while we work to complete the biggest upgrade in London transport network's history.'</p>
<p><strong>Expanding public transport capacity:</strong></p>
<p>After a slight pause as a result of the 2008/09 recession Tube, rail and bus ridership has bounced back during 2010.&nbsp; </p>
<p>August 2010 figures show a year on year growth of five per cent and record numbers of Tube journeys were made in November 2010 - in the four weeks to 13 November, London Underground carried just over 90 million passenger journeys and 6.7 million&nbsp;passenger journeys were made on the DLR.&nbsp; </p>
<p>Meanwhile, London's extensive bus network continues to be a popular way for people to travel.&nbsp; </p>
<p>Despite the fare increase in January 2010, latest figures to August 2010 show bus journeys growing by&nbsp;one per cent year on year and 2.26 billion bus journeys were made in 2009/10.</p>
<p><strong>Smoothing traffic flow: </strong></p>
<p>TfL has developed a clear focus and priority to smooth road traffic and improve journey time reliability for road users. </p>
<p>The report shows that between 89 and 90 per cent of journeys on London's major roads are completed reliably - a figure we will continue to work to improve with future initiatives. </p>
<p><strong>Leading a revolution in cycling and walking: </strong></p>
<p>Around half a million journeys a day were made by bicycle in London in 2009.&nbsp; </p>
<p>This is up five per cent from 2008.&nbsp; </p>
<p>Cyclists on the TfL Road Network (TLRN) increased 117 per cent between 2000/01 and 2009/10. </p>
<p>Around a quarter of all Londoner's trips are made on foot.&nbsp; </p>
<p>The report also contains a comprehensive summary of early results from the Mayor's 2010 'Year of Cycling', which saw the successful launch of both the Barclays Cycle Hire scheme, and the first two Barclays Cycle Superhighways.&nbsp; </p>
<p>There have been almost two million journeys using the new Barclays Cycle Hire since it was launched in July. </p>
<p>Surveys indicate that two-thirds of the trips made by Barclays Cycle Hire would previously have been made by a mechanised mode. </p>
<p>Early results also suggest an increase of 24 per cent in average cycle flows on the first two Barclays Cycle Superhighways.</p>
<p><strong>Improving safety&nbsp;and security: </strong></p>
<p>The report shows that London is continuing to make good progress in improving the safety and security of the transport networks. </p>
<p>Eight per cent fewer people were killed or seriously injured on London's roads in 2009 than 2008 - a value that is 52 per cent lower than the average of 1994/98 (the benchmark for road casualty reduction targets). </p>
<p>Fifteen per cent fewer children were killed or seriously injured in 2009 compared to 2008</p>
<p>There has been continued reduction in crime.&nbsp; </p>
<p>Reported crimes per million journeys were down eight per cent on buses and down two per cent on the Tube. </p>
<p>The effects of the recession: </p>
<p>The report sets out the effects of the recession on travel.&nbsp; </p>
<p>Traffic fell by three per cent in 2009 - a recession-related acceleration to an already established trend.&nbsp; </p>
<p>The impact of the recession is also seen in the total number of trips, which fell by 0.4 per cent in 2009.&nbsp; </p>
<p>However, this is an unsurprising effect of the recession. </p>
<p>The report shows that we have already seen Tube and bus usage bounce back and this is entirely consistent with the projections in the Mayor's Transport Strategy for total trips to grow from 24.4 million a day last year to more than 27 million a day in 2031, alongside future London's population and employment growth.</p>
<p><strong>Environmental and air quality improvements: </strong></p>
<p>Emissions of Carbon Dioxide (CO2), London's principal greenhouse gas,&nbsp;from ground-based transport fell by 3.6 per cent, or 330,000 tonnes, in 2009</p>
<p>The report contains a summary of the success of the London Low Emission Zone (LEZ), reflecting almost three years of operation of the scheme. </p>
<p>The results demonstrate the significant impact that LEZ has made to reducing vehicle emissions in London and improving the Capital's air quality. </p>
<p>Consistently high levels of compliance with LEZ have directly produced savings of 28 tonnes of PM10 and 26 tonnes of PM2.5 - the finer, more toxic portion of PM10. </p>
<p>Cleaning up London's buses has also contributed to improving London's air quality - exhaust emissions of PM10 from TfL's buses have reduced by around 90 per cent since 2000, despite the 32 per cent increase in vehicle kilometres operated.</p>
<p>The Mayor's Air Quality Strategy for London, released earlier this week, sets out how the LEZ scheme and related initiatives will continue to deliver improvements in London's air quality going forward.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Travel in London report summarises key trends and developments relating to travel and transport in Greater London. This third report uses the latest available data, usually referring either to the 2009 calendar year or the 2009/10 financial year. It monitors and interprets progress with the Mayor of London's Transport Strategy, which was published in May 2010. It also provides an authoritative and comprehensive source of data and statistics about travel in London</li>
<li>The <a href="http://www.tfl.gov.uk/travelinlondon">Travel in London report </a>is available online<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL continues to operate more frequent, extensive and reliable services.&nbsp;Major growth in cycling maintained.Low Emission Zone improving London's air quality with substantial savings of particulate matter (PM10) and nitrogen oxide (NOx)&nbsp; and";}
        
        


 