


@{ViewBag.Title = "London Underground sets out services it intends to run despite Bakerloo line strike action ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground sets out services it intends to run despite Bakerloo line strike action </h1>
        <div class="content-page-press-release">
        17 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption likely on Bakerloo line but services will still operate
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This strike is pointless and will only lose staff a day's pay in the run-up to Christmas, and detract from the work we are all doing to build a better Tube for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">Network Services Director for LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This strike is pointless and will only lose staff a day's pay in the run-up to Christmas, and detract from the work we are all doing to build a better Tube for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>- Passengers should check before travelling at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp;&nbsp;</p>
<p>- RMT leadership showing 'utter contempt for Londoners'</p>
<p>London Underground (LU) has today set out the services it intends to operate on the Bakerloo line tonight and during Saturday when the RMT leadership has ordered train drivers out on strike.</p>
<p>LU is committed to running as many trains as possible, and services will be largely unaffected during Friday evening. </p>
<h2>Condemned the RMT</h2>
<p>Trains will run during&nbsp;Saturday but some journeys may take longer, and customers are advised to check before they travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </p>
<p>However, LU plans to run services between Elephant &amp; Castle and Queens Park, adding more destinations if and when resources allow. London Overground will be operating a full Saturday service between Euston and Watford. </p>
<p>London Underground has today condemned the RMT leadership for persisting with the strike action in defence of a driver who has been dismissed for a serious safety breach. </p>
<p>Just 42 people voted for strike action in the union's ballot out of a total of 119 balloted - just a third of the total members. </p>
<p>The Bakerloo line driver's case has been considered on appeal by LU, and his dismissal confirmed. </p>
<h2>Showing utter contempt</h2>
<p>Nigel Holness, Network Services Director for LU, said:&nbsp;'It is utterly outrageous for the RMT leadership to threaten strike action in these circumstances, and to engage in a strike in support of someone dismissed for a serious breach of safety rules on the Bakerloo line.</p>
<p>'Once again, the RMT leadership is showing utter contempt for Londoners and the integrity of its own strike ballot process. </p>
<p>'This strike is pointless and will only lose staff a day's pay in the run-up to Christmas, and detract from the work we are all doing to build a better Tube for Londoners.'</p>
<p>The RMT leadership has instructed Bakerloo line drivers to strike from 21:00&nbsp;this evening (Friday 17 December) until 20:59&nbsp;on Saturday 18 December 2010.</p>
<p>Despite failing to get a mandate for strike action from Northern line drivers over a colleague disciplined for abusive behaviour, the RMT leadership has also called strike action at one Northern line depot. </p>
<p>LU plans to operate trains as normal on the Northern line on Friday and Saturday. Customers should however check their route before travelling. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "- Passengers should check before travelling at tfl.gov.uk&nbsp;&nbsp;- RMT leadership showing 'utter contempt for Londoners'London Underground (LU) has today set out the services it intends to operate on the Bakerloo line tonight and during Saturday when";}
        
        


 