


@{ViewBag.Title = "London Underground awards track renewal contract";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground awards track renewal contract</h1>
        <div class="content-page-press-release">
        10 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has awarded a &pound;220m, five-year contract to carry out track renewal work to Balfour Beatty.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Combining both track renewal and drainage works will mean that the work will be carried out more efficiently"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">Capital Programme Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Combining both track renewal and drainage works will mean that the work will be carried out more efficiently
                            
                        </p>
                    </div>
                
            
            
            <p>The works will include the replacement of ballasted track, points and crossings including all ancillary signalling and drainage works on two thirds of the Tube network - Bakerloo, Circle, Central, District, Hammersmith &amp; City and Metropolitan lines.</p>
<p>David Waboso, Capital Programme Director, said: 'It is vital that these works are carried out not only to maintain the continued safe operation of the Tube but also to modernise it.&nbsp; </p>
<p>'With the introduction of a new fleet of 191 air-conditioned trains and a new signalling system on the Metropolitan, District and Hammersmith &amp; City lines the track has to be ready for an increase in usage of up to 40 per cent.</p>
<p>'Combining both track renewal and drainage works will mean that the work will be carried out more efficiently.&nbsp; </p>
<p>'Balfour Beatty tendered detailed proposals for reducing costs and we will work closely with them to achieve efficiencies and drive down costs.'</p>
<p>Works are expected to start in spring 2011.<br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works will include the replacement of ballasted track, points and crossings including all ancillary signalling and drainage works on two thirds of the Tube network - Bakerloo, Circle, Central, District, Hammersmith &amp; City and Metropolitan";}
        
        


 