


@{ViewBag.Title = "London Safety Camera Partnership website wins international road safety award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Safety Camera Partnership website wins international road safety award</h1>
        <div class="content-page-press-release">
        29 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Online road safety resource wins Prince Michael International Road Safety Award. Award celebrates excellent progress in reducing casualties on the Capital's roads.
        
    </div>



 <div class="on-this-page">
<p>The London Safety Camera Partnership (LSCP) has been awarded a Prince Michael International Road Safety Award for its continuing work to improve road safety across London. </p>
<p>The Royal Awards recognise achievement in road safety. </p>
<p>They are presented annually, to the most outstanding examples of innovation across the world. </p>
<p>The LSCP, which is made up of five authorities: Transport for London (TfL), Metropolitan Police Service, City of London Police, Her Majesty's Courts Service London Councils.</p>
<p>London Councils won the award for the educational resources on road safety on its website.</p>
<p>As well as providing Londoners with information about safety cameras across the Capital, the website also contains educational materials for school children, helping to highlight the dangers and the consequences of speeding on London's roads. </p>
<h2>Keeping people safe</h2>
<p>The Mayor and TfL continue to work to reduce collisions and casualties on the Capital's roads. </p>
<p>Since the mid to late 1990s, London has seen an significant reduction in casualties, with a 52 per cent fall in deaths and serious injuries and the number of children killed or seriously injured falling by 72 per cent. </p>
<p>Presenting his award HRH Prince Michael of Kent GCVO said: 'It is most encouraging to see a young team using such innovative approaches to put over these important road safety messages.'</p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'I would like to congratulate everyone involved in helping us to improve road safety in the city and I am delighted that this has been recognised with a royal award.'</p>
<p>David Brown, Managing Director for Surface Transport at TfL said: 'I am delighted that the hard work that the London Safety Camera Partnership carries out to keep London's streets safe day in day out has been recognised with this award.</p>
<p>'TfL takes road safety extremely seriously and our continued investment in innovative road safety schemes and educational programmes have helped to reduce the number of people killed or seriously injured on the Capital's roads by 52 per cent since the mid to late nineties.'</p>
<p>OCU Commander Ian Kemp of the Traffic Criminal Justice Unit at the Metropolitan Police said: 'This is a prestigious and well deserved award for The London Safety Camera Partnership. </p>
<p>'Winning this award is testament to the hard work of the dedicated people involved in safety camera enforcement that contributes to keeping London's roads safe.'</p>
<p>
</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The London Safety Camera Partnership is made up from five authorities: TfL, Metropolitan Police Service, City of London Police, Her Majesty's Courts Service and London Councils</li>
    <li>The partnership exists to do three things:</li>
    <ul>
        <li>Reduce death and serious injury caused by speeding and red light running in London</li>
        <li>Raise awareness about the dangers and consequences of speeding and red light running</li>
        <li>Meet the Government and the Mayor's 2010 targets for casualty reduction</li>
    </ul>
    <li>To achieve these aims the Partnership operates a combination of fixed-speed, mobile-speed and red light camera sites across London, making it a safer place for everyone</li>
    <li>London's target for the end of 2010 was to reduce the number of people killed or seriously injured by 50 per cent and the number of children killed or seriously injured by 60 per cent when compared with figures from the mid to late 1990s. However, the Capital already met these targets in December 2009, thanks to a 52 per cent reduction in the number of people killed or seriously injured on the Capital's roads, and a 72 per cent reduction in the number of children killed or seriously injured in the last decade</li>
    <li>Since 1987, the Awards have given public recognition to those who have improved road safety throughout Britain. Now, the Prince <a href="http://www.roadsafetyawards.com/ ">Michael International Road Safety Awards</a> recognise outstanding achievement and innovation worldwide. All road users are invited to nominate initiatives that make roads safer. Award winners are invited to meet HRH Prince Michael of Kent at a Gala Presentation, held annually in December</li>
    <li>The awards are organised and managed by <a href="http://www.roadsafe.com/ ">RoadSafe</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Safety Camera Partnership (LSCP) has been awarded a Prince Michael International Road Safety Award for its continuing work to improve road safety across London. The Royal Awards recognise achievement in road safety. They are presented annually,";}
        
        


 