


@{ViewBag.Title = "London's biggest Barclays Cycle Hire docking station is now open";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's biggest Barclays Cycle Hire docking station is now open</h1>
        <div class="content-page-press-release">
        14 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Supersized 126-space Barclays Cycle Hire docking station at Waterloo station. Over two million cycle journeys in the first five months.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is an incredible demand for Barclays Cycle Hire bikes at Waterloo"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is an incredible demand for Barclays Cycle Hire bikes at Waterloo
                            
                        </p>
                    </div>
                
            
            
            <p>Commuters using Waterloo are now able to pick up Barclays Cycle Hire bikes from a 'super' docking station outside the station open from 10:00 today. </p>
<p>The 126-space docking station is unveiled on the day that Transport for London (TfL) announced that more than two million journeys have now been made using the iconic blue bikes.</p>
<p>The new docking station is the first to be opened at a mainline railway station. </p>
<p>It will help deal with ever increasing demand for the Mayor's flagship scheme and follows last month's announcement that Barclays Cycle Hire will expand to the east of the city in time for the 2012 Games. </p>
<p>When complete, the expanded scheme will cover 65km&sup2; of the Capital and around 8,000 hire bikes will be available from 14,400 docking points at hundreds of locations across central and eastern London.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'There is an incredible demand for Barclays Cycle Hire bikes at Waterloo and we have responded to this by ensuring that people using this landmark railway station can now pick up or drop off a bike at our first super size docking station. </p>
<h2>Increasing demand</h2>
<p>'With more than two million journeys made in just under five months, we are confident this expanded docking station will be of great benefit to the thousands of Londoners and visitors using the bikes.'</p>
<p>Around 110,000 people are now members of Barclays Cycle Hire and since the introduction of casual use just 10 days ago, casual customers have already made over 9,500 journeys.&nbsp; </p>
<p>TfL also has a handy short film that shows how simple it is to <a href="http://www.www.youtube.com/BarclaysCycle">hire a bike as a casual user</a>.</p>
<p>TfL's Managing Director of Surface Transport, David Brown, said: 'The new Waterloo docking station will accommodate the ever increasing demand we are seeing for Barclays Cycle Hire at mainline stations.&nbsp; </p>
<p>'Members and casual users are really embracing the scheme in London, they've already made over two million journeys on the iconic blue bicycles that are now a familiar sight across central London.'</p>
<p>Mike Goggin, Network Rail's Director of Stations and Customer Service, said: 'The new docking stations at Waterloo will make it much easier and more convenient for passengers who use Britain's busiest station to make cycling part of their daily journeys.</p>
<p>'Network Rail and the train operators are improving cycling facilities at stations all over the country so passengers can take advantage of the many benefits combining rail and cycling offers.&nbsp; </p>
<p>'We continue to work with TfL to explore options for Barclays Cycle Hire docking stations at other mainline stations in London to meet increasing demand.'</p>
<h2>No Queues</h2>
<p>Deanna Oppenheimer, Vice-Chair, Global Retail Banking, CEO Western Europe and CEO UK Retail Banking at Barclays, said: 'To record two million cycle journeys since July illustrates the positive public response to Barclays Cycle Hire. </p>
<p>'This demand is further demonstrated by the opening of the new 'super' docking station at Waterloo and we look forward to many more people continuing to enjoy the benefits of the scheme.'</p>
<p>Becoming a Barclays Cycle Hire member still remains the fastest way to access a bike, with no queuing at the on street terminals.&nbsp; </p>
<p>UK residents can start using Barclays Cycle Hire as a member for just &pound;4 - the cost of buying the membership key (&pound;3) and their first 24-hour access period (&pound;1).</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Serco will no longer provide additional redistribution staff to stock or empty docking stations close to Waterloo station during morning and evening peak hours. However, the capacity of the new 126-space docking station on Cab Road means that similar numbers of hire bikes and docking points will be available to rail commuters who use the scheme </li>
<li>The new docking station is next to the existing cycle parking facilities on Station Approach between the Victory Arch and central concourse entrances </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for an annual membership.&nbsp;The first 30 minutes of any journey is free of usage charges. Find out how to become a member of <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire </a>and how to use the scheme </li>
<li>Barclays Cycle Hire accepts Visa and MasterCard credit and debit cards and Visa Electron. The scheme doesn't accept Maestro, Amex, Diners or JCB card </li>
<li>Registered Barclays Cycle Hire members won't be able to use the same payment card for casual use. If a member would like to use a cycle hire bike as a casual user they will need to use a different payment card to that which they used to register as a member </li>
<li>Examples of journeys that can be carried out within 30 minutes, taken from <a href="http://cyclejourneyplanner.tfl.gov.uk/cycle/XSLT_TRIP_REQUEST2?language=en">TfL's cycling Journey Planner</a>, include: 
<ul>
<li>Regent's Park to Notting Hill Gate (25 minutes) </li>
<li>London Bridge to Hyde Park (27 minutes)&nbsp; </li>
<li>Tower Hill to Bond Street (23 minutes)&nbsp; </li>
<li>Regent's Park to Westminster Abbey (16 minutes)&nbsp; </li>
<li>The British Museum to Green Park (15 minutes)&nbsp; </li>
<li>Old Spitalfields Market to Speaker's Corner (27 minutes)&nbsp; </li>
<li>High Street Kensington to Leicester Square (19 minutes)</li></ul></li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commuters using Waterloo are now able to pick up Barclays Cycle Hire bikes from a 'super' docking station outside the station open from 10:00 today. The 126-space docking station is unveiled on the day that Transport for London (TfL) announced that more";}
        
        


 