


@{ViewBag.Title = "London Underground sets out services it intends to run despite strike called by ASLEF leadership";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground sets out services it intends to run despite strike called by ASLEF leadership</h1>
        <div class="content-page-press-release">
        23 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some service will be operating on all lines which were scheduled to run, but disruption likely
        
    </div>



 <div class="on-this-page">
<p>
<ul>
<li>LU condemns ASLEF leadership for "holding Londoners to ransom" and urges drivers to come to work </li>
<li>Passengers are urged to check before travelling at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li></ul>
<p>London Underground (LU) has today set out the services it intends to operate on the Tube network on Boxing day, Sunday 26th December despite the strike called by the leadership of the ASLEF union.</p>
<p>The completely unnecessary strike action is likely to cause significant disruption, but LU is working to ensure as many services as possible will operate. London's 700 bus routes and some river services will be in operation.</p>
<p>ASLEF walked out of talks at the conciliation service ACAS, unilaterally tearing up a long-standing agreement clearly covering all Bank holidays and demanding triple pay and a day off in lieu for drivers who are scheduled to work on Boxing Day. An offer from LU to reduce the number of drivers rostered to work on Boxing Day was flatly rejected by the union leadership, who are clearly determined to strike and disrupt Londoners' Christmas holidays.</p>
<p>ASLEF, along with all Tube unions, signed up to an agreement, which gave all LU staff&nbsp; increased pay and 6.8 weeks of holidays on the understanding that this involved working some public holidays including Boxing day.&nbsp; This has now been torn up by ASLEF. </p>
<p>LU Managing Director, Mike Brown said: "This strike threat is beyond belief.&nbsp; The ASLEF leadership is tearing up long-standing agreements that cover pay and annual leave and demanding even more - triple time and another day off.&nbsp; Londoners will simply be stunned at such a claim.</p>
<p>"By holding Londoners to ransom in this way they are showing complete disdain for all who want to visit family and friends or hunt a good bargain during what is one of the busiest shopping days of the year.</p>
<p>"We have made every effort to resolve this issue including peace talks at ACAS where we offered to reduce the number of drivers rostered on Boxing Day, but to no avail.</p>
<p>"We will be running as many Tube services as possible on Boxing Day, as well as London's 700 bus routes and some river services. We are also discussing with West End retailers how we can support more pedestrian VIP events in the near future, to encourage more shoppers to the West End.</p>
<p>"I urge all ASLEF members booked to work on boxing day to ignore this unnecessary strike call and report for work."</p>
<p>Although there will be services on all lines that were scheduled to operate,&nbsp; some may have only a limited service and some sections may be closed. Customers are urged to check before they travel at <a title="Transport for London website" href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. </p>
<ul>
<li>On the <strong>Bakerloo line</strong> LU intends to run a reduced frequency service between Elephant &amp; Castle and Queens Park </li>
<li>On the <strong>Central line</strong> LU intends to run a limited service between Hainault and Ealing Broadway </li>
<li>On the <strong>Circle</strong> and <strong>Hammersmith &amp; City lines</strong> LU intends to run services from Hammersmith to Kings Cross only. The closure of the <strong>Hammersmith &amp; City line</strong> between Kings Cross and Barking for engineering works was pre-planned </li>
<li>On the <strong>District line </strong>LU intends to run a limited shuttle service from Ealing Broadway to High Street Kensington </li>
<li>On the <strong>Jubilee line</strong> LU intends to run a reduced frequency service between Wembley Park and Green Park </li>
<li>On the <strong>Northern line</strong> LU intends to run three limited shuttle services from Morden to Stockwell, Edgware to Golders Green and High Barnet to East Finchley </li>
<li>The <strong>Metropolitan line</strong> will not operate. The closure of the section between Aldgate and Baker Street for engineering works was pre-planned </li>
<li>On the <strong>Piccadilly</strong> and <strong>Victoria lines</strong> LU intends to service all branches though at reduced service levels </li></ul>
            <p><strong>Notes to editors:</strong></p><ul>
<p>
    <li>Section 7.3.1 of the Agreement with the unions states: "Annual leave will be 6.8 weeks, including statutory holidays, which will be expressed in days/shifts. The number of days/shifts of leave will be determined by multiplying the average rostered number of days/shifts by 6.8 rounded to the nearest whole number."</li>
    <li>Section 9.1.4 states: "Additional payments will be made only for authorised paid unrostered overtime, for the working of a shift attracting a higher salary."</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU condemns ASLEF leadership for 'holding Londoners to ransom' and urges drivers to come to work Passengers are urged to check before travelling at www.tfl.gov.uk London Underground (LU) has today set out the services it intends to operate on the Tube";}
        
        


 