


@{ViewBag.Title = "Major new scheme proposed to ease congestion at Bank station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major new scheme proposed to ease congestion at Bank station </h1>
        <div class="content-page-press-release">
        20 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has begun consultation with the City of London on plans for major improvements to Bank station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This sort of project is exactly why the Mayor fought so hard to protect our funding to upgrade the Tube"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This sort of project is exactly why the Mayor fought so hard to protect our funding to upgrade the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>The plans include re-tunnelling the Northern line at Bank station, a new entrance on King William Street and high capacity lifts to relieve congestion and provide step-free access to the Northern line platforms. </p>
<p>If agreed, work is due to start in 2015 and be completed by 2021.</p>
<p>The scheme will increase capacity on Northern line platforms and interchange passageways to meet future passenger demand. </p>
<p>Bank Underground station is served by the Central, Northern and Waterloo &amp; City lines and the Docklands Light Railway (DLR) and is interlinked with Monument station serving the District &amp; Circle lines. </p>
<h2>Step-free access</h2>
<p>It has shown a huge increase in passenger numbers in recent years - with a 43 per cent rise in customers changing at the station and the number of passengers entering and leaving the station up by about a third since 2003.</p>
<p>Work has also started on the new entrance onto Walbrook, for the Waterloo &amp; City line at Bank station. </p>
<p>This will give step-free access from the street to the Waterloo &amp; City line platforms with two new lifts, four new escalators and a new ticket hall, which is part of the Walbrook Development and planned for completion in 2015. </p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'Bank station provides access to the heart of the city and is one of the busiest stations on the network, with around 300,000 passengers using it every weekday.&nbsp; When complete these schemes will help relieve congestion and make the Northern and Waterloo &amp; City lines accessible to all. </p>
<h2>Relieve congestion</h2>
<p>'This sort of project is exactly why the Mayor fought so hard to protect our funding to upgrade the Tube.'</p>
<p>Richard Parry, London Underground's Strategy &amp; Commercial Director, said:&nbsp;'Currently the Northern line platforms at Bank in particular suffer severe congestion during morning and evening peak times, which will get worse as passenger numbers grow. </p>
<p>'This major project to re-tunnel the Northern line at Bank,&nbsp;making more spacious platform areas, with a new entrance on King William Street and four high capacity lifts will relieve congestion at the station and provide step-free access for the Northern line platforms increasing capacity&nbsp; to meet future demand. </p>
<p>'If this work is not carried out station control measures, such as restricting access at busy times and non-stopping trains, would have to be implemented even more frequently than today.'</p>
<p>Before the work for the Northern line congestion relief and step-free scheme can begin London Underground will need to secure planning permission and gain a Transport &amp; Works Act Order.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>London Underground (LU) is undertaking a major programme of improvement works.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Currently there is only step-free access at Bank station to the DLR platforms.&nbsp;These two schemes will provide step-free access to the Northern and Waterloo &amp; City line platforms </li>
<li>There are currently 62 Tube stations which are step-free. This will increase to a total of 65 stations by 2012 </li>
<li>Step-free access work is now focused at key interchange stations, including Victoria, Tottenham Court Road, Blackfriars, Farringdon and Bond Street, in tandem with major redevelopment work to increase capacity and relieve congestion. Step-free access was delivered last June&nbsp; at Southfields and will be delivered at Green Park station in 2011, both of which will have a key role in the transport plan for the 2012 Olympic and Paralympic Games </li>
<li>There is a step-free Tube guide, which not only shows stations that are step-free between the street and platform, it also gives information about the distance of the gap between the train and platform and if there is a step </li>
<li>Two hundred wide aisle gates have been installed on Underground stations to provide easier access for wheelchair users, assistance dog owners, parents with buggies and passengers with luggage </li>
<li>Passengers who need to avoid stairs can plan their journey on the TfL website on the Journey Planner page using the advanced options putting in the mode and that they can't use stairs </li>
<li>Alternatively they can use <a href="http://www.directenquiries.com">www.directenquiries.com</a> which also shows in detail the best route to take on the Tube which avoids long walks and steps. The 24 hour Travel Help Line 020 7222 1234 can also be used to plan a journey </li>
<li>All DLR stations are step-free </li>
<li>All 8,500 buses (with the exception of heritage Routemasters on route 9 and 15) have an allocated space for wheelchair users and those travelling with buggies, as well as priority seats for passengers who need them </li>
<li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. The Information Points give passengers and staff access to speak to the station control room at the touch of a button. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The plans include re-tunnelling the Northern line at Bank station, a new entrance on King William Street and high capacity lifts to relieve congestion and provide step-free access to the Northern line platforms. If agreed, work is due to start in 2015 and";}
        
        


 