


@{ViewBag.Title = "Make sure you get home safely this New Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Make sure you get home safely this New Year</h1>
        <div class="content-page-press-release">
        30 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is urging Londoners to plan their journey before they venture out to welcome in the New Year and ensure a safe journey home.
        
    </div>



 <div class="on-this-page">
<p>TfL wants every Londoner to enjoy the New Year, and that includes getting home safely after a good night out. </p>
<p>There are numerous ways of travelling home after the New Year celebrations, including Tube, Tram and Docklands Light Railway services running throughout the night, 24-hour and night bus services running across the Capital as well as licensed minicabs and black taxis.</p>
<p>Here are a few tips when travelling around the Capital during the New Year period so all you have to worry about is having a good time:</p>
<h2>Be organised</h2>
<p>Plan your journey in advance and know where you are going and which stop you need. </p>
<p>You can plan ahead&nbsp;at <a href="http://www.journeyplanner.tfl.gov.uk/">journeyplanner.tfl.gov.uk</a></p>
<h2>Be shrewd </h2>
<p>Always try to wait for your bus or train in a well-lit place and avoid using shortcuts and badly lit areas. </p>
<p>Keep an eye out on your surroundings and make sure you walk purposefully and confidently to your destination. </p>
<h2>Be verbal</h2>
<p>There are more than 2,500 police officers and police community support officers on London's transport network and thousands of members of staff who can help answer any questions or concerns you may have about your safety, so do approach them.&nbsp; </p>
<p>Alternatively, and for non-urgent matters, you can call the Metropolitan Police (MPS) on 0300 123 1212 or the British Transport Police on 0800 40 50 40 for queries about the rail and Tube network.</p>
<h2>Be Cabwise </h2>
<p>Use TfL's Cabwise service - text 'CAB' to 60835* - if you decide to take a licensed minicab home after the New Year celebrations</p>
<p>It will give you two minicab numbers and one taxi (black cab) number for cab firms in the area you are in. </p>
<p>Save this number on your phone and use it whenever you need a cab.&nbsp; </p>
<p>There are more than 48,000 licensed minicabs and 22,000 black cabs in the Capital, so you're never too far from a safe way home. </p>
<p>Don't be tempted to get in just any car. </p>
<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking being made first. </p>
<p>Only black cabs can be picked up in the street. </p>
<p>Remember any minicab driver that approaches you on the street anywhere is acting illegally - do not get in.</p>
<p>Remember: </p>
<ul>
<li>Book it&nbsp;- Book a licensed minicab over the phone or in a minicab office</li>
<li>Check it - Make sure the driver can confirm your booking</li>
<li>Sit in the back - Always sit in the back seat</li></ul>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally</li>
<li>Always book so there is a record of your journey</li>
<li>Only black cabs can pick passengers up on the street</li>
<li>Book it, check it and always sit in the back</li>
<li>Always carry a mobile phone with you in case of emergencies</li>
<li>To get three local cab numbers text 'CAB' to 60835*</li>
<li><a href="http://www.tfl.gov.uk/cabwise">More information </a></li></ul>
<p>(* Users of 3 and overseas networks must enter different information. See <a href="http://tfl.gov.uk/cabwise">tfl.gov.uk/cabwise </a>for details and charges.)</p>
<p>Kulveer Ranger, Transport Advisor to the Mayor of London, said: 'London is a great place to welcome the New Year and have a party. </p>
<p>'To make sure nothing spoils your celebrations plan your journey home well in advance, whether you are using public transport or booking a licensed minicab.&nbsp; </p>
<p>'And, however you plan to bring it in, from everyone in City Hall, I wish you a Happy New Year.'</p>
<p>Remember to always call 999 in an emergency or speak to the nearest member of staff.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL funds more than 2,500 uniformed officers from the MPS, British transport Police (BTP) and City of London Police to patrol your transport system. They work to reduce crime and anti-social behaviour and make people feel safer and more secure when travelling in London</li>
<li>Essential travel information in London:</li>
<ul>
<li>Travel information: TfL's 24-hour Travel Information Centre can provide information and phone numbers for taxi and private hire services in London. Call 0843 222 1234 (calls from a BT Landline cost no more than 5p per minute.&nbsp;Charges from other landline providers and mobiles may vary)</li>
<li>Free travel: Tube, Tram and DLR services will be running throughout New Year, and will be free to all customers from 23:45 on 31 December to 04:30 on 1 January. London Overground services will be free to customers from 23:45 on 31 December until normal last train times</li>
<li>Bus and night bus services will be free to customers from 23:45 on 31 December to 04:30 on 1 January. There are now more night buses available than ever with 117 routes running through the night and all are fitted with CCTV cameras</li>
<li>Cycle hire: A small number of cycle hire docking stations <a href="http://www.tfl.gov.uk/gettingaround">will not be available to customers </a>from the evening of New Year's Eve and part of New Year's Day</li>
<li>Taxis and licensed private hire vehicles (including minicabs): There are around 22,000 black cabs and more than 48,000 licensed private hire drivers in London</li>
<li>Marshalled taxi ranks and private hire schemes: Late night marshalled taxi ranks or private hire schemes have been established in areas of London which are particularly busy late at night. Marshalled taxi ranks are situated at Cranbourn Street (near Leicester Square Tube station), Bromley, Beckenham, Kingston, Liverpool Street and Romford, and there are late night marshalled private hire schemes operating in Kingston</li>
<li><a href="http://www.tfl.gov.uk/cabwise ">Cabwise</a>: A text service which provides two licensed minicab numbers and one taxi (black cab) number of cab firms in the local area by texting 'CAB' to 60835. Texts are charged at 35p per enquiry plus standard text message rate. Roaming rates apply to overseas networks.&nbsp;Customers on the 3 network need to enter different information</li>
<li><a href="http://www.tfl.gov.uk/findaride">Findaride</a>: Search for licensed minicab operators in any part of London and book a licensed minicab for later on in the evening</li>
<li><a href="http://www.tfl.gov.uk/traveltools">Traveltools</a>: For information about Cabwise, Findaride, Journey Planner and all travel information</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL wants every Londoner to enjoy the New Year, and that includes getting home safely after a good night out. There are numerous ways of travelling home after the New Year celebrations, including Tube, Tram and Docklands Light Railway services running";}
        
        


 