


@{ViewBag.Title = "Mayor of London unveils hydrogen bus fleet for the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor of London unveils hydrogen bus fleet for the Capital</h1>
        <div class="content-page-press-release">
        10 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Zero-polluting buses emit nothing but water to improve air quality. UK's first zero-emission bus route set to be created. UK's largest hydrogen refuelling site opens in east London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These buses are a marvel of hydrogen technology"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These buses are a marvel of hydrogen technology
                            
                        </p>
                    </div>
                
            
            
            <p>Zero-polluting hydrogen buses that emit only water were unveiled today in London, providing a boost to the Mayor's plans to improve the Capital's air quality.</p>
<p>The first of a planned fleet of eight will start operating on 18 December using the latest hydrogen fuel cell technology, emitting nothing but water vapour. </p>
<p>The buses will form the only hydrogen bus fleet in the UK and the largest currently in Europe. </p>
<p>These state-of-the-art vehicles were specifically designed for Transport for London (TfL) using pioneering technology developed by ISE, Wrightbus and Ballard. </p>
<p>All eight buses are expected to be phased into operation next year creating the UK's first zero-emission bus route. </p>
<p>The RV1 route passes through some of London's most polluted areas, so its conversion to hydrogen power will help to improve London's air quality. </p>
<p>The buses are joining one of the cleanest, lowest polluting bus fleets in Europe which also includes 100 hybrid buses. </p>
<p>This is&nbsp;set to expand to 300 and, from 2012, will be joined by the Mayor's New Bus for London, which will be 40 per cent less polluting than a traditional diesel bus. </p>
<p>The buses will run from a specially designed maintenance facility housed in First's Lea Interchange bus depot at Stratford in east London. </p>
<h2>Improving air quality </h2>
<p>This will include the UK's largest permanent hydrogen refuelling station to be maintained by Air Products. </p>
<p>Boris Johnson, Mayor of London, said: 'These buses are a marvel of hydrogen technology, emitting only water rather than belching out harmful pollutants. </p>
<p>'They will run through the most polluted part of the city, through two air pollution hotspots, helping to improve London's air quality. </p>
<p>'This is just another way that our city is harnessing pioneering low emission public transport to improve quality of life, whether the New Bus for London, electric vehicles or my public bike hire scheme.'</p>
<p>Kit Malthouse, Deputy Mayor for policing and Chair of the London Hydrogen Partnership, said: 'The arrival of a flagship fleet of hydrogen powered buses places London at the forefront of this revolutionary fuel cell technology. </p>
<p>'We are thinking big and have ambitious plans to promote the use of hydrogen on the ground, propelling vehicles and powering buildings. </p>
<p>'With these buses, people can now see, touch and feel this technology for themselves and help play an exciting part of London's energy future.'</p>
<p>David Brown, Managing Director for Surface Transport at TfL, said: 'London faces many environmental challenges but we believe alternative fuels, such as hydrogen, will bring genuine long term benefits in tackling CO2 [carbon dioxide]emissions.</p>
<p>'The arrival of these hydrogen, hybrid fuel cell buses marks an exciting new chapter for London Buses as we embrace new technologies to further build on the excellent work we are doing to improve air quality for Londoners.'</p>
<h2>New technology for London</h2>
<p>London has always been at the forefront in using and developing new technology, initially pioneering hydrogen buses in the UK when it took part in the <a href="http://www.fuel-cell-bus-club.com">Cleaner Urban Transport for Europe </a>(CUTE) trial from December 2003 to January 2007. </p>
<p>TfL operated three trial hydrogen buses on the route RV1, using findings from these trials and that of European partners to seek out these suppliers who have developed these next generation hydrogen fuel cell buses to operate in central London.</p>
<p>This next generation technology will be phased into service on route RV1 from Saturday 18 December while driver training takes place, with all the buses fully entering service in 2011. </p>
<p>The buses are jointly funded by TfL, the Department of Energy and Climate Change (DECC) and the European Union via the Clean Hydrogen in Cities (CHIC) project.</p>
<p>The <a href="http://www.london.gov.uk/lhp">London Hydrogen Partnership </a>(LHP) launched an action plan earlier this year setting out ambitions to create a 'Hydrogen network' by 2012, to help accelerate the wider use of this zero-polluting, zero-carbon energy. </p>
<p>The LHP is working with London boroughs and private landowners on plans to deliver six refuelling sites to run hydrogen-powered vehicles in the Capital over the next two years. </p>
<p>It also aims to encourage a minimum of 150 hydrogen-powered vehicles on the road in London by 2012 including 15 hydrogen-powered taxis. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The first of the buses enters service on 18 December and will be refuelled and maintained at First's Lea Interchange bus depot. All&nbsp;eight vehicles will be operational by mid-2011.&nbsp;Air Products have supplied the hydrogen and refuelling equipment. They will also supply the specialist maintenance equipment</li>
<li>Photographs are available on request from the TfL Press Office</li>
<li>TfL is a member of the Hydrogen Bus Alliance, an international partnership whose members are committed to supporting the continued and rapid development and commercialisation of hydrogen technology in the transport sector</li>
<li>TfL previously took part in <a href="http://www.fuel-cell-bus-club.com">CUTE&nbsp;</a>- a European Union project designed to test hydrogen technology in different cities in Europe. A number of participants (including London) also took part in the one-year extension of the trial, known as <a href="http://www.global-hydrogen-bus-platform.com">Hy:FLEET CUTE</a>. The trial saw three hydrogen-powered fuel cell buses running on the RV1 route in London for three years. The aim of the project was to demonstrate the feasibility of an innovative, high energy efficient, clean urban public transport system, and educate people about hydrogen fuel</li>
<li>The Mayor has a target for London to cut carbon emissions by 60 per cent by 2025 - 22 per cent of carbon emissions is generated by road transport</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Zero-polluting hydrogen buses that emit only water were unveiled today in London, providing a boost to the Mayor's plans to improve the Capital's air quality.The first of a planned fleet of eight will start operating on 18 December using the latest";}
        
        


 