


@{ViewBag.Title = "Mayor's funding boost for local transport improvements in Lambeth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's funding boost for local transport improvements in Lambeth</h1>
        <div class="content-page-press-release">
        16 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London confirmed &pound;5.2m of funding from Transport for London (TfL) to make much-needed improvements to transport in Lambeth.
        
    </div>



 <div class="on-this-page">
<p>Lambeth&nbsp;receives funding from TfL each year as part of the Local Implementation Plan (LIP) allocated to the London boroughs to fund local projects which support the Mayor's Transport Strategy.&nbsp; </p>
<p>These include improvements to local town centres and public spaces, new cycling facilities, safer roads and measures to smooth traffic flow. </p>
<p>Today's funding announcement of &pound;5.2m for&nbsp; will mean the vast majority of the borough's proposed schemes for 2011/12 will be delivered.&nbsp; </p>
<p>To support this, the Mayor has given greater flexibility to the borough so that it can prioritise projects according to local need.&nbsp; </p>
<p>Following the Government's Comprehensive Spending Review, the funding allocated to London boroughs will fall over the next three years to reflect the reduced grant TfL receives from the Department for Transport.&nbsp; </p>
<p>However, the funding for programmes such as road maintenance, bridge strengthening, major schemes and the borough discretionary fund have all been safeguarded.&nbsp; </p>
<p>Funding to benefit all Londoners, is also being made available for modernising traffic signals and partnership initiatives such as completion of the London Strategic Walking Network. </p>
<p>Mayor of London, Boris Johnson said: 'This funding will allow the boroughs to make real improvements to town centres, provide better cycling facilities and make roads safer across the Capital. </p>
<p>'I'm especially pleased we have been able to cut the red tape that used to surround these schemes and give the boroughs more freedom to choose how they want to spend money to improve their local communities.'</p>
<p>Lambeth has been developing proposals on a number of schemes it will be financing from the funding package, including:</p>
<ul>
<li>&pound;368,000 to improve pavements and greenery in the Stockwell/Kennington area near two primary schools and a secondary school, to encourage walking, especially among local children</li>
<li>&pound;1.2m to deliver a targeted and complementary range of improvements in town centres. Measures may include 20mph zones, tree planting, car clubs and de-cluttering</li></ul>
<p>London's Transport Commissioner, Peter Hendy, said: 'Delivering the Mayor's vision for transport in London is an ambitious task and it is essential we work in partnership with the London boroughs to make it happen. This investment will play a significant role in continuing to improve transport across the Capital.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocate funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough</li>
<li>Following the Government's Comprehensive Spending Review, the funding allocated to London boroughs will be reduced over the next three years to reflect the reduced grant TfL receives from the Department for Transport.&nbsp;It will fall by &pound;4m (-3%) in 2011/12, &pound;8m (-5%) in 2012/13 and &pound;18m (-12%) in 2013/14</li>
<li>A detailed breakdown of funding for bridge strengthening projects (&pound;7m) will be finalised in February 2011 which will be allocated to the bridges in most need of work</li>
<li>Total allocation by programme area: 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme</strong></td>
<td><strong>&nbsp;Allocation (&pound; thousand)</strong></td></tr>
<tr>
<td>&nbsp;Corridors, neighbourhoods and supporting measures</td>
<td>&nbsp;3,065</td></tr>
<tr>
<td>&nbsp;Principal road maintenance</td>
<td>&nbsp;310</td></tr>
<tr>
<td>&nbsp;Major schemes</td>
<td>&nbsp;1,685</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;5,160</td></tr></tbody></table></div><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Lambeth&nbsp;receives funding from TfL each year as part of the Local Implementation Plan (LIP) allocated to the London boroughs to fund local projects which support the Mayor's Transport Strategy.&nbsp; These include improvements to local town centres";}
        
        


 