


@{ViewBag.Title = "Mayor's flagship Barclays Cycle Hire is now open to anyone, anytime";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's flagship Barclays Cycle Hire is now open to anyone, anytime</h1>
        <div class="content-page-press-release">
        03 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 10:00 today everyone will have instant access to thousands of Barclays Cycle Hire bikes throughout central London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Barclays Cycle Hire bikes have already become a defining part of the London street scene."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Barclays Cycle Hire bikes have already become a defining part of the London street scene.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor's flagship cycle hire scheme has opened for Londoners and visitors to use whenever they wish without registering for membership - providing instant access to the Capital's newest form of public transport at anytime. </p>
<p>From 10:00 today, anyone with a Visa or MasterCard credit/debit card or Visa Electron will be able to go to one of the 352 docking stations across central London and follow simple on screen instructions at the terminal to release a Barclays Cycle Hire bike. </p>
<p>The bikes are available 24 hours a day, seven days a week. </p>
<p>Once the customer has purchased their access period (for either 24 hours or seven days) the first 30 minutes of any journey will be free of usage charges. </p>
<p>Barclays Cycle Hire has already transformed the way Londoners travel around central London. </p>
<p>The scheme currently has in excess of 108,000 members who've already made more than 1.9 million journeys.&nbsp; </p>
<p>Around 20,000 journeys are being made on the iconic blue bikes during weekdays and this number is expected to go up by several thousand with the introduction of casual users. </p>
<h2>Part of London</h2>
<p>The Mayor of London, Boris Johnson, said: 'Our Barclays Cycle Hire bikes have already become a defining part of the London street scene. </p>
<p>'Now those who have only watched enviously from the sidelines can join the cycle revolution at the swipe of a card.'</p>
<p>The terminal will issue a five-digit cycle release code that the customer will need to enter on to the docking point pad, an amber light will illuminate whilst the code is being verified and when the light goes green the customer will be able to release the bike from the docking point.&nbsp; </p>
<p>At the end of their journey the customer is able to re-dock the bike at any docking station but they must ensure the docking point light turns green to indicate the bike is returned correctly. </p>
<p>Transport for London (TfL) has produced a handy short film that demonstrates <a href="http://www.youtube.com/BarclaysCycle">how to hire a bike </a>by simply using a payment card.</p>
<h2>Blue bikes</h2>
<p>TfL's Managing Director of Surface Transport, David Brown, said; 'Barclays Cycle Hire has already changed the way many thousands of people travel around the Capital and we are now able to offer London's newest form of transport to everyone.&nbsp; </p>
<p>'Londoners and visitors will now be able to take full advantage of the scheme which has already proven to be terrifically good value.'</p>
<p>Deanna Oppenheimer, Vice-Chair, Global Retail Banking, CEO Western Europe and CEO UK Retail Banking at Barclays, said: 'The launch to casual users is a key landmark for Barclays Cycle Hire as it means everyone can now enjoy the many benefits that it provides. </p>
<p>'We look forward to thousands more Londoners, tourists and visitors becoming involved, as Barclays Cycle Hire continues to transform London.'</p>
<p>Becoming a Barclays Cycle Hire member still remains the fastest way to access a bike with no queuing at the on-street terminals.&nbsp; </p>
<p>UK residents can start using the cycle hire scheme as a member for just &pound;4 - the cost of buying the membership key (&pound;3) and their first 24-hour access period (&pound;1). </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Barclays Cycle Hire accepts Visa and Mastercard credit and debit cards and Visa Electron. The scheme doesn't accept Maestro, Amex, Diners or JCB cards </li>
<li>Registered Barclays Cycle Hire members won't be able to use the same payment card for casual use. If a member would like to use a cycle hire bike as a casual user they will need to use a different payment card to that which they used to register as a member </li>
<li>The creation of an easy to use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven day &pound;5 or annual &pound;45 access fees </li>
<li>Anti-skimming devices are being fitted to all Barclays Cycle Hire terminals, this additional measure will seek to ensure card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal </li>
<li>The Barclays Cycle Hire roadshow will be at the Tower of London on 4 December, 10:00 to 17:00, to help tourists understand how to hire a cycle </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24 hour membership, &pound;5 for seven days and &pound;45 for an annual membership.&nbsp;The first 30 minutes of every journey is free. <a href="http://www.tfl.gov.uk/barclayscyclehire">How to become a member and use the scheme</a> </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor's flagship cycle hire scheme has opened for Londoners and visitors to use whenever they wish without registering for membership - providing instant access to the Capital's newest form of public transport at anytime. From 10:00 today, anyone with";}
        
        


 