


@{ViewBag.Title = "New Year's Honour for retired Managing Director of London Rail";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Year's Honour for retired Managing Director of London Rail</h1>
        <div class="content-page-press-release">
        31 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Award recognition of Ian Brown's career dedicated to the railway industry. Ian driving force in setting up and taking forward Crossrail, expanding the Docklands Light Railway and transforming London Overground.
        
    </div>



 <div class="on-this-page">
<p>Ian Brown, recently retired Managing Director of Transport for London (TfL) London Rail, has been honoured with a CBE in the Queen's New Year Honour list for services to the railway industry.</p>
<p>The award recognises the outstanding contribution Ian has made to public transport and the rail industry during the last 40 years.</p>
<p>Ian has made a huge contribution to the transformation of rail services in London.&nbsp; </p>
<p>During the past 14 years Ian has been a driving force in setting up and taking forward Crossrail, managing the DLR to a full-size, reliable, comprehensive rail system for east London, driving regeneration to match the growth of Docklands.</p>
<p>At TfL he has overseen the transformation of a group of run-down suburban railways into London Overground with vastly improved performance and customer satisfaction. </p>
<p>He also oversaw the introduction of Oyster pay as you go on National Rail services.</p>
<p>Ian led the campaign for the East London line Phases One and Two and oversaw the delivery of Phase One on time and on budget. </p>
<p>As a result of Ian's determination, the DLR has seen a 150 per cent growth in passenger numbers, with 18 per cent growth on London Overground, which has new air-conditioned trains, safe, fully staffed stations and massively increased customer satisfaction.</p>
<p>TfL's Commissioner, Peter Hendy, said: 'Ian's dedication to Crossrail, the DLR and London Overground and his work overseeing the building of the East London Line extension, which has delivered huge economic and social benefits to some of the poorest borough's in London, inspire many.</p>
<p>'He has played an integral role in the development of TfL and displayed indefatigable commitment to improving the life and landscape of London. </p>
<p>'I send him my warmest congratulation on his award.'</p>
<p>Ian's contribution was also recognised by the rail industry in 2009 with an award for 'an outstanding personal contribution to the rail industry' at the National Rail Awards.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ian Brown, recently retired Managing Director of Transport for London (TfL) London Rail, has been honoured with a CBE in the Queen's New Year Honour list for services to the railway industry.The award recognises the outstanding contribution Ian has made";}
        
        


 