


@{ViewBag.Title = "Reminder that new fares for all TfL services will come into effect from Sunday 2 January 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder that new fares for all TfL services will come into effect from Sunday 2 January 2011</h1>
        <div class="content-page-press-release">
        30 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fares increase kept to the minimum needed to protect transport investment and frontline services. All free and concessionary fares protected in full.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I have kept the fares for 2011 at the absolute minimum"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I have kept the fares for 2011 at the absolute minimum
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today issued a reminder that from Sunday 2 January 2011, new fares for all TfL services will come into effect. </p>
<p>Fares in the new year will rise by 6.8 per cent (July's RPI plus two per cent) on average, as was announced in October 2010. </p>
<p>The Mayor of London, Boris Johnson, said: 'I have kept the fares for 2011 at the absolute minimum while still protecting the vital improvements that London's transport network needs. </p>
<p>'Those improvements include upgrades to the Tube, the delivery of Crossrail, and maintenance of London's frequent, extensive, reliable and accessible bus network. </p>
<p>'I promised to protect free and concessionary travel for those needing it most and this package does exactly that. </p>
<p>'Even in difficult times I am not passing the buck to the travelling public, we have stuck with the fare rise we said we would deliver last year and we continue to make efficiencies at TfL in order to make sure Londoners are getting the best value for money possible.'</p>
<p>In a new initiative being introduced from 2 January 2011, during the evening peak, all Tube journeys into Zone 1 will be charged at the off-peak rate, as opposed to the peak fare currently charged. </p>
<p>This could save commuters up to &pound;2.50 per journey and reflects the available capacity on these Tube journeys at this time.</p>

<h2>Simplified fares</h2>
<p>Shashi Verma, TfL's Director of Fares&nbsp;and Ticketing, said: 'We have prepared a fares package that meets the Mayor's commitment to keep the increase to a minimum and simplified the fares range to reflect the continuing success of Oyster and its extension to National Rail services. </p>
<p>'Oyster pay as you go provides the flexibility of only paying for journeys as they are made and the daily price cap means that multiple journeys in a day will never exceed the cost of an equivalent Day Travelcard.</p>
<p>'It is always faster and more convenient to use Oyster pay as you go than to purchase a paper or cash single or a Day ticket so we urge passengers to do this or to check out our range of 7 Day and monthly season tickets if they travel frequently.'</p>
<p>Some of the One Day Travelcard range are being withdrawn from January, including the Anytime Zones 1-3, 1-5 and 2-6 Day Travelcards, and the Off-Peak Zones 2-6 version. </p>
<p>Only around 6,000 passengers a day, including just a few hundred people during the morning peak, use the Zones 2-6 One Day Travelcard. </p>
<p>This represents only around one per cent of the 3.5 million journeys a day on the Tube. </p>
<p>By switching to Oyster, which now accounts for more than 80 per cent of bus and Tube journeys, most of these customers should see little increase in their travel costs. </p>
<p>Also from 2 January 2011, the minimum balance for auto top-up users will increase to &pound;8.00 to cover the highest TfL fare for a single journey (&pound;7.70). </p>
<p>Auto top-up automatically loads credit onto Oyster cards when the balance reaches a minimum and is a convenient way to ensure that customers will always have enough credit on their Oyster card for any journey they wish to make. </p>
<p><a href="http://www.tfl.gov.uk/tickets">Sign up </a>to auto top-up online.</p>
<p>Find details of all <a href="http://www.tfl.gov.uk/tickets">2011 fares</a>, as well as a single fares finder. </p>
<p>The main elements include:</p>
<ul>
<li>Fares to increase by an average of 6.8 per cent </li>
<li>On the buses, Oyster pay as you go fare increases by 10p to &pound;1.30 </li>
<li>On the Tube, Oyster pay as you go fares increase between 10p and 30p </li>
<li>One Day Travelcard range simplified with some tickets being withdrawn </li>
<li>The refundable deposit on a new Oyster card increases from &pound;3.00 to &pound;5.00 </li>
<li>Oyster pay as you go auto top-up minimum balance increases to &pound;8.00</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor of London, Boris Johnson, <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/17092.html">announced the 2011 fares package </a>on 20 October 2010 </li>
<li>Full <a href="http://www.tfl.gov.uk/tickets">2011 fares </a>range </li>
<li>From January 2011, One Day Travelcards (paper tickets) will no longer be sold at the 4,000 Oyster Ticket Stops across London. They will still be available from ticket offices at Tube, London Overground and National Rail stations in London, as well as self-service ticket machines at Tube, Docklands Light Railway (DLR), London Overground, National Rail stations and tram stops, and at London Travel Information Centres </li>
<li>A table showing the cash single, Oyster pay as you go, One Day and Weekly Travelcards is below:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;2010&nbsp;price (current)</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;2011&nbsp;price</strong></td>
<td><strong>&nbsp;</strong></td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;<strong>Peak</strong></td>
<td>&nbsp;<strong>Off-Peak</strong></td>
<td>&nbsp;<strong>Peak</strong></td>
<td>&nbsp;<strong>Off-Peak</strong></td></tr>
<tr>
<td><strong>&nbsp;Pay as you go single journeys (pence)</strong></td>
<td><strong>&nbsp;Including Zone 1</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;1 Zone</td>
<td>&nbsp;180</td>
<td>&nbsp;180</td>
<td>&nbsp;190</td>
<td>&nbsp;190</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2 Zones</td>
<td>&nbsp;230</td>
<td>
<p>&nbsp;180</p></td>
<td>&nbsp;250</td>
<td>&nbsp;490</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;270</td>
<td>&nbsp;240</td>
<td>&nbsp;290</td>
<td>&nbsp;250</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;310</td>
<td>&nbsp;240</td>
<td>&nbsp;340</td>
<td>&nbsp;250</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;380</td>
<td>&nbsp;240</td>
<td>&nbsp;410</td>
<td>&nbsp;270</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;6 Zones</td>
<td>&nbsp;420</td>
<td>&nbsp;240</td>
<td>&nbsp;450</td>
<td>&nbsp;270</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Excluding Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2 Zones</td>
<td>&nbsp;130</td>
<td>&nbsp;130</td>
<td>&nbsp;130</td>
<td>&nbsp;130</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;220</td>
<td>&nbsp;130</td>
<td>&nbsp;140</td>
<td>&nbsp;140</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;220</td>
<td>&nbsp;130</td>
<td>&nbsp;140</td>
<td>&nbsp;140</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;220</td>
<td>&nbsp;130</td>
<td>&nbsp;140</td>
<td>&nbsp;140</td></tr>
<tr>
<td>&nbsp;<strong>Cash single journeys (pence)</strong></td>
<td>&nbsp;<strong>Including Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;400</td>
<td>&nbsp;400</td>
<td>&nbsp;400</td>
<td>&nbsp;400</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;400</td>
<td>&nbsp;400</td>
<td>&nbsp;500</td>
<td>&nbsp;500</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;6 Zones</td>
<td>&nbsp;450</td>
<td>&nbsp;450</td>
<td>&nbsp;500</td>
<td>&nbsp;500</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Excluding Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;350</td>
<td>&nbsp;350</td>
<td>&nbsp;400</td>
<td>&nbsp;400</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;350</td>
<td>&nbsp;350</td>
<td>&nbsp;500</td>
<td>&nbsp;500</td></tr></tbody></table></div></p>
<p><br>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><strong>&nbsp;2010 price (current)</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;2011 price</strong></td>
<td><strong>&nbsp;</strong></td></tr>
<tr>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;Peak</strong></td>
<td><strong>&nbsp;Off-Peak</strong></td>
<td><strong>&nbsp;Peak</strong></td>
<td><strong>&nbsp;Off-Peak</strong></td></tr>
<tr>
<td><strong>&nbsp;One Day Travelcards (&pound;)</strong></td>
<td><strong>&nbsp;Including Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2 Zones</td>
<td>&nbsp;7.20</td>
<td>&nbsp;5.60</td>
<td>&nbsp;8.00</td>
<td>&nbsp;6.60</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;8.60</td>
<td>&nbsp;</td>
<td>&nbsp;Withdrawn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;10.00</td>
<td>&nbsp;6.30</td>
<td>&nbsp;10.00</td>
<td>&nbsp;7.30</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;12.60</td>
<td>&nbsp;</td>
<td>&nbsp;Withdrawn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;6 Zones</td>
<td>&nbsp;14.80</td>
<td>&nbsp;7.50</td>
<td>&nbsp;15.00</td>
<td>&nbsp;8.00</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Excluding Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;9.00</td>
<td>&nbsp;5.10</td>
<td>&nbsp;Withdrawn</td>
<td>&nbsp;Withdrawn</td></tr>
<tr>
<td><strong>&nbsp;7 Day Travelcards (&pound;)</strong></td>
<td><strong>&nbsp;Including Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2 Zones</td>
<td>&nbsp;25.80</td>
<td>&nbsp;25.80</td>
<td>&nbsp;27.60</td>
<td>&nbsp;27.60</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;30.20</td>
<td>&nbsp;30.20&nbsp;</td>
<td>&nbsp;32.20</td>
<td>&nbsp;32.20</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;36.80</td>
<td>&nbsp;36.80</td>
<td>&nbsp;39.40</td>
<td>&nbsp;39.40</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;44.00</td>
<td>&nbsp;44.00</td>
<td>&nbsp;47.00</td>
<td>&nbsp;47.00</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;6 Zones</td>
<td>&nbsp;47.60</td>
<td>&nbsp;47.60</td>
<td>&nbsp;50.40</td>
<td>&nbsp;50.40</td></tr>
<tr>
<td>&nbsp;</td>
<td><strong>&nbsp;Excluding Zone 1</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2 Zones</td>
<td>&nbsp;19.00</td>
<td>&nbsp;19.00</td>
<td>&nbsp;20.80</td>
<td>&nbsp;20.80</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;3 Zones</td>
<td>&nbsp;21.40</td>
<td>&nbsp;21.40</td>
<td>&nbsp;22.80</td>
<td>&nbsp;22.80</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;4 Zones</td>
<td>&nbsp;25.60</td>
<td>&nbsp;25.60</td>
<td>&nbsp;27.40</td>
<td>&nbsp;27.40</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;5 Zones</td>
<td>&nbsp;32.40</td>
<td>&nbsp;32.40</td>
<td>&nbsp;34.40</td>
<td>&nbsp;34.40</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today issued a reminder that from Sunday 2 January 2011, new fares for all TfL services will come into effect. Fares in the new year will rise by 6.8 per cent (July's RPI plus two per cent) on average, as was announced in";}
        
        


 