


@{ViewBag.Title = "Rose Design with Art on the Underground steals show at Design Week awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rose Design with Art on the Underground steals show at Design Week awards</h1>
        <div class="content-page-press-release">
        06 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rose Design, a graphic art studio that worked with artist Dryden Goodwin on an outstanding Art on the Underground project called Linear, won the Best of Show category in this year's 2010 Design Week Benchmark Awards.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are thrilled that these Art on the Underground projects have won such prestigious awards"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are thrilled that these Art on the Underground projects have won such prestigious awards
                            
                        </p>
                    </div>
                
            
            
            <p>The awards recognise quality, high standards and innovation in the design industry. </p>
<p>Linear also won the Public sector campaigns category. </p>
<p>Art on the Underground appointed Rose Design to work on a project which was part of a series of works to mark the 30th anniversary of the Jubilee line. </p>
<p>The first in the collection was Linear by artist Dryden Goodwin, which developed through an invitation from Art on the Underground to make portraits of Jubilee line staff. </p>
<p>Goodwin drew 60 pencil portraits of staff at work, or at moments of pause in their day, and has created 60 films recording the drawings being made. </p>
<p>Rose Design worked together with Goodwin and Art on the Underground to communicate the project to Tube users, pedestrians and other audiences. </p>
<p>This was done through the 96-sheet billboard at Southwark Underground station, to posters, leaflets and digital screens. </p>
<p>The Underground's video escalator panels were also used to show footage of the drawings coming to life. </p>
<p>The judges from Design Week said that this was an exceptional piece of public art and an important piece of employer communication. </p>
<h2>Benchmark of design</h2>
<p>The artist Dryden Goodwin's beautiful drawings and inspiring interviews particularly stood out. </p>
<p>The panel also commented that these drawings with inspiring interviews make you want to check out the Transport for London (TfL) website and were a true benchmark of British design.</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'We are thrilled that these Art on the Underground projects have won such prestigious awards. </p>
<p>'This reflects the importance of our mission to work with the very best contemporary artists and designers, as we build on London Underground's enviable heritage in this area. </p>
<p>'Rose Design really deserves this accolade, they have been excellent colleagues, their designs, coupled with their sensitive and supportive approach to the vision of the artists we work with, and their understanding of the complexities of working within the Tube environment, have made this a truly rewarding working relationship.'</p>
<p>Simon Elliot, Rose Design, said: 'The Art on the Underground Dryden Goodwin project needed to be grounded at a specific site, but with enough additional means of communication to ensure that travellers could enjoy the work remotely, and have a means of responding to the work. </p>
<p>'In working closely with the artist and curators to find the most appropriate media and solutions in a highly public environment the project has successfully connected an amazingly broad demographic with a public art project. </p>
<p>'The overwhelmingly positive response from both staff and public alike would seem to support this.'</p>
<h2>Shared purpose</h2>
<p>Dryden Goodwin, artist, said: 'I was attracted to the unique nature of the Underground, Linear was an attempt to draw out the personal and intimate within the context of the Tube. </p>
<p>'Working with Art on the Underground and Rose Design, we were incredibly conscious of not overly packaging the project, but through a lightness of touch, helping to activate the central ideas of Linear. </p>
<p>'It is great that Design Week have recognised the shared purpose behind the design work on Linear and how this collaboration became an integral part of inviting the public to engage with the project.'</p>
<p>The judges also said that 'One Thing Leads to Another - Everything is Connected', an exhibition held at City Hall earlier in the year which brought together a new series of artists' works commissioned by Art on the Underground for the Jubilee line, was 'great and brave commissioning'.</p>
<p>Rose Design also received a commendation in the Public Sector campaigns category for their collaboration in Art on the Underground's One Thing Leads to Another - Everything is connected exhibition.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Linear is one of a series of artworks commissioned by <a href="http://www.art.tfl.gov.uk">Art on the Underground </a>for the Jubilee line, under the title 'The Value of Time' </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around 3.5 million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe </li>
<li>Dryden Goodwin was born in 1971. He studied at the Slade School of Art, London. He was awarded a residency at Benetton's art and communication institute Fabrica, Italy, in 1996/97, and a Nesta Fellowship in 2001.&nbsp;He has exhibited internationally in solo and group exhibitions. His last solo show was Cast in 2008 at The Photographers' Gallery, London, coinciding with the launch of his monograph, published in collaboration with Photoworks, The Photographers' Gallery and Steidl in 2008 </li>
<li>London Underground is undertaking a major programme of renewal as part of TfL's Tube upgrade.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to <a href="http://www.www.tfl.gov.uk">'check before they travel' </a>at weekends, allowing extra journey time where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards recognise quality, high standards and innovation in the design industry. Linear also won the Public sector campaigns category. Art on the Underground appointed Rose Design to work on a project which was part of a series of works to mark the";}
        
        


 