


@{ViewBag.Title = "TfL Tube and rail services rack up record ridership figures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Tube and rail services rack up record ridership figures</h1>
        <div class="content-page-press-release">
        08 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU), Docklands Light Railway(DLR), London Overground and London Tramlink all carrying more passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These ridership figures show the huge role that our Tube and rail services are playing in the Capital's economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of LU and London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These ridership figures show the huge role that our Tube and rail services are playing in the Capital's economy
                            
                        </p>
                    </div>
                
            
            
            <p>New passenger figures released today show that Transport for London's (TfL's) Tube and rail services carried record numbers during November.</p>
<p>TfL's Managing Director of LU and London Rail, Mike Brown, today reported to TfL's Board that Tube and rail services carried more passengers than ever before in the four-week period from 17 October to 13 November. </p>
<p>LU carried just over 90 million passengers during that period, while the DLR carried 6.7 million. </p>
<p>This was despite industrial action called by the leaderships of the RMT and TSSA unions.</p>
<p>Friday 26 November also saw the Tube carry more than 4 million passengers for the first time in two years - more than 225,000 more than the same weekend in 2009 - demonstrating the key role public transport is playing in the Capital's economic health. </p>
<p>On London Tramlink, the second half of November saw more than 100,000 people carried on a single day for the first time - on 19 November (100,107) and 30 November (108,357). </p>
<p>London Overground carries 200,000 passengers per day while on its newly-opened east London route, ridership has risen from 40,000 in June to 70,000 in October.</p>
<p>Mike Brown, Managing Director of LU and London Rail, said: 'These ridership figures show the huge role that our Tube and rail services are playing in the Capital's economy, and demonstrate why the Mayor and TfL's campaign to protect our Tube upgrades has been so crucial.&nbsp; </p>
<p>'The Tube alone has seen a 16 per cent rise in passengers in the last seven years, and now operates 70 million train kilometres a year - a 27 per cent increase on 15 years ago.</p>
<p>'It's vital that we keep up with the huge demand we're seeing for Tube and rail services in the Capital, but we continue to look for innovative ways in which to carry out the work needed to give Londoners a first class network.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New passenger figures released today show that Transport for London's (TfL's) Tube and rail services carried record numbers during November.TfL's Managing Director of LU and London Rail, Mike Brown, today reported to TfL's Board that Tube and rail";}
        
        


 