


@{ViewBag.Title = "TfL builds new road to keep traffic moving during Tube station construction";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL builds new road to keep traffic moving during Tube station construction</h1>
        <div class="content-page-press-release">
        14 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Charing Cross  Road to be diverted for next four years to enable continued redevelopment of Tottenham Court Road Tube station. New road constructed to join with Charing Cross Road and link with St Giles High Street.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This innovative traffic solution at Charing Cross Road will keep traffic moving
                            
                        </p>
                    </div>
                
            
            
            <p>Three station worksites separated by Charing Cross Road to be merged together so that new ticket hall can be excavated. </p>
<p>Major expansion of ticket hall can only be delivered by diverting Charing Cross Road.</p>
<p>London Underground's major &pound;500m redevelopment of Tottenham Court Road Tube station is about to take another major step forward, this time above ground, after Transport for London (TfL) built a new road to enable works to continue at the site. </p>
<p>From 06:00 on Tuesday 14 December, Charing Cross Road will be diverted to the east of Centre Point and join St Giles High Street for the next four years. </p>
<p>A new road has been constructed to become part of Charing Cross Road so traffic can be diverted. </p>
<p>The new diverted section of Charing Cross Road will enable three Tube station worksites, currently separated by the old road, to be merged together so that excavation work to increase the size of the station's ticket hall can begin. </p>
<p>Charing Cross Road will be restored to its original alignment in 2014. </p>
<p>The major redevelopment of the Tube station will be completed by 2016.</p>
<h2>Additional capacity</h2>
<p>Richard Parry, Strategy and Commercial Director, London Underground said: 'Construction for the major redevelopment of Tottenham Court Road Tube station is now well underway. </p>
<p>'The station is heavily congested and needs additional capacity to accommodate the growing numbers of passengers using the station. </p>
<p>'Charing Cross Road needs to be diverted for the next four years so that excavation work to increase the size of the Tube ticket hall can get underway as it can only be extended into the area currently occupied by the existing road. </p>
<p>'Without the diversion of Charing Cross Road the expansion of the ticket hall at Tottenham Court Road cannot be delivered. </p>
<p>'This innovative traffic solution at Charing Cross Road will keep traffic moving and deliver a much-needed major capacity boost to Tottenham Court Road station. </p>
<p>'We have done all we can to keep disruption to a minimum and are confident that the diversion will have little or no impact on traffic flows in the area.'</p>
<p>The diversion route provides new lanes for vehicles and a wide footpath for pedestrians. </p>
<p>New pedestrian crossings and street lighting have also been installed.</p>
<h2>Extensive redevelopment</h2>
<p>Tottenham Court Road station, which originally opened in 1900, is currently used by 150,000 passengers each day and that number is expected to rise to over 200,000 when Crossrail services commence in 2018.</p>
<p>The existing Tube station is being extensively redeveloped to make the ticket hall around six times larger and the station will have twice the capacity that it does now. </p>
<p>The redeveloped Tube station will eventually connect with the new Crossrail station to form one integrated station. </p>
<p>When Crossrail opens Tottenham Court Road will be one of the most important transport hubs in the West End as it will serve both Crossrail and London Underground. </p>
<p>The combined Tube and Crossrail station will have two ticket halls, both entrances will provide access to Tube and Crossrail services.</p>
<p>In total, &pound;1bn is being spent to build a new Crossrail station, upgrade the capacity of the Tube station and create a new piazza outside Centre Point. </p>
<p>The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The Charing Cross Road diversion route has been designed by engineers from London Underground and Tottenham Court Road station contractor VINCI BAM working with Camden Council and Westminster City Council
<li>The diversion of Charing Cross Road is an essential part of the major redevelopment of Tottenham Court Road project and is included in the Crossrail Act</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three station worksites separated by Charing Cross Road to be merged together so that new ticket hall can be excavated. Major expansion of ticket hall can only be delivered by diverting Charing Cross Road.London Underground's major &pound;500m";}
        
        


 