


@{ViewBag.Title = "TfL publishes annual Festive Travel Guide and confirms free travel for New Year revellers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes annual Festive Travel Guide and confirms free travel for New Year revellers</h1>
        <div class="content-page-press-release">
        16 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today published its Festive Travel Guide to help Londoners and visitors travelling around the Capital between Christmas and New Year.
        
    </div>



 <div class="on-this-page">
<p>Those travelling in and around the city over the festive period are urged to check the guide before they travel as there will be some changes to normal services.</p>
<p>The guide contains details of Tube, bus, Docklands Light Railway (DLR), tram, London Overground and Riverboat services as well as the Congestion Charge throughout the entire festive period from Friday 24 December 2010, to Bank Holiday Monday 3 January 2011. </p>
<p>The guide is available at all Tube stations, <a href="http://www.tfl.gov.uk/festivetravel ">online</a> and at most information points at bus, DLR, tram and London Overground stations.</p>
<p>Travel will be free on all journeys between 23:45 on New Year's Eve and 04:30 on New Year's Day on Tube, bus, tram and DLR services. </p>
<p>London Overground services will also be free from 23:45 until the last train. </p>
<p>Barclays Cycle Hire members and casual users will be able to hire bikes as normal through the festive period, although some docking stations will be temporarily unavailable for use on New Year's Eve for safety reasons.</p>
<p>Essential Tube and Overground engineering works will be taking place over the festive period, TfL is advising all passengers to <a href="http://www.tfl.gov.uk">check before they travel</a>.&nbsp;</p>
<p>Details of line closures can be found <a href="http://www.tfl.gov.uk">online</a>. </p>
<h2>Christmas Eve</h2>
<p>On Christmas Eve, a Saturday service will operate on the Underground until 19:00, then a reduced service for the rest of the evening. </p>
<p>Last trains will run at Sunday times.</p>
<p>A Saturday service will operate on the bus network with some exceptions. </p>
<p>There will be no night buses and on 24-hour routes, buses will operate until just after midnight.</p>
<p>On the DLR, a normal Monday to Friday service will operate until 19:00 after which a reduced service will operate with last trains at Sunday times.</p>
<p>On the Overground, buses will replace trains between Gospel Oak and Stratford due to major engineering upgrade works. </p>
<p>A Monday to Friday service will operate on other Overground routes with last trains departing from 20:00.</p>
<p>On Tramlink, a Saturday service will operate.</p>
<p>Riverboat services will be running a reduced timetable.</p>
<p>Many coach operators will reduce services from early evening, with last departures from Victoria Coach station at around 21:00.</p>
<h2>Christmas Day</h2>
<p>On Christmas Day there will be no Tube, bus, DLR, London Overground, tram or river services.</p>
<h2>Boxing Day</h2>
<p>On Boxing Day from 08:30, a Sunday service will operate on the Tube, buses and trams. </p>
<p>A reduced service will run on the DLR from 08:30 with trains every 15 to 30 minutes. </p>
<p>There will be no service on the Overground. </p>
<p>There will be no Riverboat services except for the Westminster - London Eye - Tower - Greenwich service which will run as normal.</p>
<p>London Underground (LU) hopes to run a Sunday service on Boxing Day. </p>
<p>The leadership of the ASLEF union have announced that they are directing their members to strike on that day, and LU is calling on them to drop their threat. </p>
<p>Passengers are advised to <a href="http://www.www.tfl.gov.uk">check before they travel</a>.</p>
<h2>New Year's Eve</h2>
<p>Revellers planning to see in the New Year in central London are advised to plan ahead to take full advantage of free travel on public transport and in particular be prepared for large crowds, and long waits for the designated viewing areas for the fireworks display. </p>
<p>Peter Hendy, London's Transport Commissioner, said: 'The New Year's Eve fireworks display that takes place at the London Eye provides spectacular entertainment and is enormously popular, attracting large crowds that should be prepared for a long wait at the designated viewing areas along the Thames. </p>
<p>'As a result people with young children may wish to consider celebrating nearer to home.'</p>
<p>'For those wishing to brave the crowds and long waiting times, public transport will be the best way to get around the Capital on New Year's Eve, and I'm pleased we can offer this for free, but I urge revellers to plan their journeys well in advance.'</p>
<p>There will be free travel on all journeys between 23:45 until 04:30 on the Tube, DLR, buses and trams. </p>
<p>Tube, DLR and tram services will run all night on New Year's Eve. </p>
<p>Some selected Tube stations will be closed completely or for periods at a time, the Festive Travel Guide lists these closures.</p>
<p>A Saturday night service will operate on night buses and 24-hour routes, subject to road closures in central London. </p>
<p>More than 50 extra routes will be operating through the night to enhance the service.</p>
<p>Free travel will apply on London Overground trains running after 23:45 until normal last train times between Watford Junction and&nbsp;Euston, and Dalston Junction&nbsp;and West Croydon/Crystal Palace/New Cross route, but services will not run all night. </p>
<p>London River Services will run a normal service however after 14:30, London Eye Millenium pier will not be served due to preparation for the fireworks display. </p>
<p>Some routes will operate on New Year's Day, but a normal service will not resume until Sunday 2 January.</p>
<p>Some Barclays Cycle Hire docking stations will be temporarily suspended for safety reasons at various times on New Year's Eve. </p>
<p>For the latest information on docking station availability, users should <a href="http://www.tfl.gov.uk/barclayscyclehire">check online</a>.</p>
<p>There will be a reduced number of UK coaches departing from Victoria Coach Station with the last coaches leaving at around 20:00.</p>
<p>National Rail will operate modified timetables with additional departures between midnight and 02:45. </p>
<p>Normal rail fares will apply.</p>
<p>
<hr>

<p>
<h2>London Overground</h2>
<p>London Overground passengers should be aware that the Gospel Oak to Stratford route will be suspended from 20:00 on 18 December until 27 December 2010 to allow upgrade work to be undertaken. </p>
<p>The network's Richmond to Stratford route and Shepherd's Bush to Willesden Junction route will also be suspended from 27 December until 3 January 2011, to allow further upgrade work to be undertaken.</p>
<h2>Congestion Charge</h2>
<p>From Saturday 25 December until Monday 3 January inclusive, the central London Congestion Charge will be suspended and motorists will not have to pay. </p>
<p>From Tuesday 4 January 2011 the western extension of the charging zone will no longer be in operation, more information can be found <a href="http://http://www.tfl.gov.uk/roadusers/congestioncharging/17094.aspx">online</a>.</p>
<p>From 4 January 2011 the daily charge for driving within the Congestion Charging zone will increase from &pound;8 to &pound;10, however motorists who have a Congestion Charge Auto Pay account will be eligible for a reduced daily charge of &pound;9.</p>
<p>Motorists can <a href="http://www.cclondon.com ">pre-register now </a>for a CC Auto Pay account with a credit or debit card and will have to pay a &pound;10 registration charge for each vehicle on the account. </p>
<p>Once an account has been set up drivers will only be charged for the days they travel within the zone and charges will be automatically deducted from their debit or credit card.</p>
<h2>Dial-a-Ride</h2>
<p>Dial-a-Ride will be operating every day over Christmas and New Year and all members have been sent details of how to book journeys over this period. </p>
<p>For further information please contact Dial-a-Ride on 0845 999 1 999.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Passengers are advised to check before travelling via:</p>
<ul>
<li>The <a href="http://www.tfl.gov.uk">TfL website</a>, <a href="http://http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2">Journey Planner</a>, or by texting TfL to 60835. Charged at your network operator's standard rate </li>
<li>TfL's <a href="http://www.tfl.gov.uk/festivetravel">Festive Travel Guide&nbsp;</a>which is&nbsp;available at all Tube stations, and most bus garages as well as DLR, tram and Overground stations </li>
<li>Information on posters, leaflets and 'Good Service' boards at Tube Stations </li>
<li>The 24-hour London Travel Information line on 0843 222 1234. You pay no more than 5p per minute if calling from a BT landline. There may be a connection charge. Charges from mobiles or other landline providers may vary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Those travelling in and around the city over the festive period are urged to check the guide before they travel as there will be some changes to normal services.The guide contains details of Tube, bus, Docklands Light Railway (DLR), tram, London";}
        
        


 