


@{ViewBag.Title = "TfL to carry out resurfacing works on King William Street during Christmas period";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to carry out resurfacing works on King William Street during Christmas period</h1>
        <div class="content-page-press-release">
        23 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL to carry out resurfacing works on King William Street during Christmas period
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Coordinating streetworks across London so they are carried out in the least disruptive way is one of the key elements of the Mayor's smoothing traffic flow initiative"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for London Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Coordinating streetworks across London so they are carried out in the least disruptive way is one of the key elements of the Mayor's smoothing traffic flow initiative
                            
                        </p>
                    </div>
                
            
            
            <p>-&nbsp;Resurfacing taking place between Christmas and New Year to minimise disruption to Londoners<br>-&nbsp;Closure to be coordinated around removal of the Western Extension of Congestion Charging zone signage</p>
<p>As part of its work to minimise disruption from roadworks, Transport for London (TfL) will be carrying out overnight resurfacing on King William Street in the City of London.</p>
<p>The works, which are subject to suitable weather conditions, have been scheduled to occur overnight on 29 and 30 December, when traffic levels are around 20 per cent lower. </p>
<h2>Pedestrian access will be maintained</h2>
<p>These essential works will not only give road users, especially cyclists, a smoother ride, but they will also help reduce carriageway noise and the need for disruptive maintenance closures, benefitting local residents and businesses.</p>
<p>In order to facilitate the works, London Bridge will be closed overnight to allow King William Street and the junction with Cannon Street to be resurfaced.</p>
<p>Pedestrian access will be maintained throughout the works, with vehicles diverted via Tower Bridge and Southwark Bridge.</p>
<p>Although the bridge itself will not be resurfaced, TfL will use the closure of the bridge to carry out maintenance works to the paving, lighting and drainage.</p>
<p>Coordinating these works to take place during the closure will help reduce disruption to Londoners in the future.</p>
<h2>Least disruptive</h2>
<p>As well as resurfacing works along King William Street, TfL will also be working to remove road signs and markings for the Western Extension of the Congestion Charge, which will cease operating on the 24 December 2010. </p>
<p>These works have been coordinated to avoid local events and other planned works on the road network to further minimise disruption to Londoners during the Christmas period.</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, said: 'Coordinating streetworks across London so they are carried out in the least disruptive way is one of the key elements of the Mayor's smoothing traffic flow initiative. </p>
<p>'By planning our works to occur overnight during the Christmas break, we can not only get vital improvement works, but also ensure that Londoners are not unduly disrupted as a result.'</p>
<p>To help Londoners better plan for their journeys, TfL has recently updated its website to allow people to see live traffic data which can be viewed on computers and also on mobile devices. </p>
<p>This data is also available via <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp;and the London Datastore to allow web developers to create mobile phone applications ('apps').</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London (TfL) manages the TfL Road Network (TLRN) which are the Red Routes in London. These make up only five per cent of the Capital's roads, but carry a third of the traffic in London </li>
<li>Although these works have been planned to occur between Christmas and New Year, they remain dependent on good weather. Should these overnight works be cancelled by TfL, they will rescheduled to occur in early 2010 at the least disruptive time </li>
<li>During the resurfacing works the following bus routes will be on diversion overnight: King William St and London Bridge (29 and 30 December) Routes 17, 21, 35, 40, 43, 47, 48, 133, 141, 149, 344, 521, N21, N35, N47 and N133 </li>
<li>Through the London Permit Scheme and the Mayor's Code of Conduct for Roadworks, TfL has helped to reduce the amount of disruption on London's roads caused by road works. In the first six periods of this financial year, TfL has recorded a 12 per cent reduction in the level of serious and severe disruption occurring on the network across London, compared to the same period last year, and has managed to save more than 500 days of disruption by better coordination of roadworks on the Capital's busiest roads </li>
<li>For every 30 minutes Londoners travelled on our roads last year, on average, their journeys are 29 seconds faster today. Given that there are the equivalent of 10 million such car journeys made every day on the network, this means that London's drivers are cumulatively sitting in their cars for over 80,000 hours less every day </li>
<li>During the Christmas period, there will be no planned closures of the Blackwall and Rotherhithe tunnels between 24 December 2010 and 4 January 2011. Work on the northbound Blackwall Tunnel continues to progress well and remains on course to be completed by June 2012, ahead of the London 2012 Olympic and Paralympic Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;Resurfacing taking place between Christmas and New Year to minimise disruption to Londoners-&nbsp;Closure to be coordinated around removal of the Western Extension of Congestion Charging zone signageAs part of its work to minimise disruption from";}
        
        


 