


@{ViewBag.Title = "Transport engineering works on Christmas Day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport engineering works on Christmas Day</h1>
        <div class="content-page-press-release">
        17 December 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will work non-stop over the festive period to improve the Capital's transport network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A small army of transport workers will be hard at work on the vital improvements we are making"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A small army of transport workers will be hard at work on the vital improvements we are making 
                            
                        </p>
                    </div>
                
            
            
            <p>Although there will be no services on the Tube, Docklands Light Railway (DLR), London Overground, Tramlink and bus networks on Christmas Day, the Tube's track current will be kept on, bus garages will be staffed and works on improving the network will continue throughout the festive period.</p>
<p>As part of TfL's improvement works to the Tube, staff will work day and night at stations, depots, on trains and on tracks - with maintenance trains and staff taking advantage of the annual closure. </p>
<p>Christmas Day is a perfect time for routine maintenance works to take place, and for new trains and signalling systems to be tested as this minimises disruption to passengers.&nbsp; </p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'While millions of Londoners spend time with their loved ones on Christmas Day a small army of transport workers will be hard at work on the vital improvements we are making to the Capital's public transport networks. </p>
<p>'Their efforts are yet further evidence of the determination not to waste a minute that could be devoted to providing better services in London.'</p>
<p>Howard Collins, Chief Operating Officer for London Underground (LU),&nbsp;said:&nbsp;'London Underground always looks to minimise closures and disruption to passenger services. </p>
<p>'Christmas Day is a great way to continue improvement works whilst not affecting passenger journeys. </p>
<p>'Our staff will be working around the clock to continue to make improvements to London's transport network.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>On 25 December there will be no services on the Tube, bus, DLR, London Overground and Tramlink networks, no services from Victoria Coach Station, and no service on all but one Riverboat service
<li>Passengers are advised to check before they travel to help them plan their journey. This can be done by checking posters and leaflets at stations, listening out for public address announcements, going to the <a href="http://www.tfl.gov.uk">TfL website</a>&nbsp;or calling TfL's 24-hour travel information telephone helpline on 020 7222 1234</li>
<li>LU is undertaking a major programme of renewal. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Although there will be no services on the Tube, Docklands Light Railway (DLR), London Overground, Tramlink and bus networks on Christmas Day, the Tube's track current will be kept on, bus garages will be staffed and works on improving the network will";}
        
        


 