


@{ViewBag.Title = "High flying Emirates Air Line celebrates one million passenger journeys";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>High flying Emirates Air Line celebrates one million passenger journeys</h1>
        <div class="content-page-press-release">
        04 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        UK's first urban cable car carries one million passengers over the River Thames in just over two months.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Emirates Air Line has well and truly landed in east London
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>The accessible Emirates Air Line connects two key Paralympic venues - the North Greenwich Arena and ExCeL </li>
<li>Emirates Air Line is providing important new transport link to support regeneration of east London </li></ul>
<p>The newest addition to London's transport network, the Emirates Air Line, has made over one million passenger journeys across the Thames just nine weeks after it opened, with an average of more than 20,000 passenger flights each day since the start of the London 2012 Games.&nbsp; </p>
<p>The Emirates Air Line will play a key role in the Mayor's regeneration plans for east London, supporting job creation and economic growth. </p>
<p>As host to the London 2012 Games with Tube upgrades in place and Crossrail on the way, the local economy is progressing at an unprecedented pace.&nbsp; <br>&nbsp;<br>The UK's first urban cable car, which connects Greenwich and the Royal Docks and two world-class venues - the North Greenwich Arena and ExCeL&nbsp;-&nbsp;both of which are being used for the London 2012 Paralympic Games, is accessible to wheelchair users and cyclists and is open seven days a week. </p>
<p>During the Olympic and Paralympic Games, the Emirates Air Line opening hours have been extended later into the evening. </p>

<h2>360-degree views</h2>
<p>From Wednesday 29 August to Sunday 9 September the Emirates Air Line will operate until 23:30 to allow passengers to enjoy the spectacular 360 degree views of the Paralympic city as the bright lights of London appear in the skyline at night. </p>
<p>Mayor of London, Boris Johnson, said: 'In just a couple of months since it opened the Emirates Air Line has well and truly landed in east London. </p>
<p>'Not only has this iconic new transport link opened up access to the Royal Docks Enterprise Zone, but its stunning panoramic views as it soars across our city skyline have proved a star attraction, not just for us mortals but for movie legends like Arnold Schwarzenegger too. </p>
<p>'And this is just the beginning because as we head beyond the 2012 Games London's first urban cable car remains at the epicentre of my plans to rejuvenate the East End.'</p>

<h2>World-class destination</h2>
<p>The Greenwich Peninsular has transformed from a derelict gas works into one of London's most significant new and growing business, residential, leisure and entertainment districts, with thousands of new homes and offices already in place alongside the world's most successful entertainment venue, the O2. </p>
<p>On the other side of the river crossing, Newham has seen a great deal of investment as one of the Olympic boroughs, and the Royal Docks, with 122 hectares of prime waterfront land, is fast becoming a world-class destination to live, work and visit. </p>
<p>The Siemens Sustainability Centre, the new international Convention Centre, ExCeL Exhibition Centre and the University of East London all reside in the area and as a designated Enterprise Zone businesses locating to the area will benefit from substantial rates relief over five years as well as a simplified planning approach to development within the zone.</p>
<p>Tim Clark, President, Emirates said: 'The fact that we've hit the one millionth mark so soon after the opening of the Emirates Air Line, is testament to Emirates' continued investment into connecting people through exciting, innovative and shared experiences. </p>
<p>'Not only does the Emirates Air Line connect East London's residents and commuters to London's unique offerings, but will also be an additional link into improving London's tourism and stimulating business growth.'</p>

<h2>Frequent flyer</h2>
<p>Jonathan Fox, Director of Docklands Light Railway, said: 'We are very pleased with the positive response the Emirates Air Line has received so far. </p>
<p>'Many tourists have come to east London this summer to use it as a travel link during the London 2012 Games, but Londoners are also starting to change the way they normally get between Royal Greenwich and the Royal Victoria Docks by choosing the Emirates Air Line as a way to commute.'</p>
<p>The Emirates Air Line is not part of the Olympic and Paralympic Transport Plan and therefore Games ticketholders are not able to travel for free using their Travelcard, however they are still eligible for the Travelcard discount and can get a single trip for &pound;3.20. </p>
<p>Regular passengers can purchase a 'frequent flyer' boarding pass for &pound;16 which allows them to make 10 single journeys for just &pound;1.60.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Images of the Emirates Air Line, including some taken at night are available at <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a>. Please click 'more sets' at the bottom right corner of the page to see all of the albums </li>
<li>B-roll footage is <a href="http://www.yousendit.com/download/TEhVK3BPd0F6NExSc01UQw">available for download</a> </li>
<li>For the latest Emirates Air Line travel information passengers can follow &#64;EmiratesAirLDN </li>
<li>The Emirates Air Line operates seven days a week, during the summer (outside the extended opening hour dates of 29 August to 9 September) passengers can board from 07:00 to 21:00 Mondays to Fridays and between 08:00 and 21:00 on Saturdays, services will operate between 09:00 and 21:00 on Sundays. Winter closing time will be 20:00 </li>
<li>Pay as you go Oyster card holders receive a 25 per cent discount on the adult fare, Oyster Travelcard holders also get the 25 per cent discount but will need to purchase a boarding pass to travel. Adult single journey boarding passes cost &pound;4.30. Children under five will board for free, and a single journey for a child aged between five and 15 costs &pound;1.60 with an Oyster card </li>
<li>Frequent flyer boarding passes can be purchased at both Emirates Air Line terminals </li>
<li>Frequent flyer journeys need to be used within 12 months </li>
<li>The standard fares for the Emirates Air Line are shown in the table below:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Cash single fare (&pound;)</strong></td>
<td><strong>&nbsp;Fare for Oyster pay as you go users, or Travelcard&nbsp;and Freedom Pass holders (&pound;)</strong></td>
<td><strong>&nbsp;'Frequent flyer' ticket - 10 journeys (&pound;)</strong></td></tr>
<tr>
<td><strong>&nbsp;Adult boarding pass</strong></td>
<td>&nbsp;4.30</td>
<td>&nbsp;3.20*</td>
<td>&nbsp;16.00</td></tr>
<tr>
<td><strong>&nbsp;Child boarding pass</strong></td>
<td>&nbsp;2.20**</td>
<td>&nbsp;1.60**</td>
<td>&nbsp;n/a</td></tr></tbody></table></div>* Oyster pay as you go users making&nbsp;five or more journeys in a week will be charged &pound;1.60<br>** For children aged five to 15.&nbsp;Children under five travel free<br>&nbsp;</p>
<ul>
<li>Emirates Air Line fares will not be included in the Oyster daily capping </li>
<li>Emirates operate 16 flights a day from the UK to Dubai with flights from Heathrow and London Gatwick along with four other UK airports (Birmingham, Manchester, Newcastle and Glasgow)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The accessible Emirates Air Line connects two key Paralympic venues - the North Greenwich Arena and ExCeL Emirates Air Line is providing important new transport link to support regeneration of east London The newest addition to London's transport network,";}
        
        


 