


@{ViewBag.Title = "Last working day for the oldest train in town as roll out as new state-of-the-art fleet is completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last working day for the oldest train in town as roll out as new state-of-the-art fleet is completed</h1>
        <div class="content-page-press-release">
        26 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        After 50 years of service the old Metropolitan line trains bow out.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Metropolitan line now served by modern walk through air-conditioned trains</li>
<li>Upgrade will continue on the Circle, District and Hammersmith &amp; City lines with new trains and signalling</li></ul>
<p>The Tube's oldest train, and one of the country's longest serving, bows out of the commuter run today (Wednesday 26 September), when the last of the old Metropolitan line trains takes passengers to and from work for the last time. <br>&nbsp;<br>The old Metropolitan line trains started operating on the line in 1961. </p>
<p>Now, after 50 years of service, the next generation of trains has taken over with the line being completely served by new walk-through, air-conditioned trains.&nbsp; </p>
<p>A huge amount of work has been carried out to ensure that the signals, track and platforms, some of which date back over 100 years, were ready in time to accommodate the new trains which are longer and more powerful. </p>
<p>In total, 191 new trains are being introduced across the Circle, District, Hammersmith &amp; City and Metropolitan lines, together representing some 40 per cent of the Tube network.</p>
<p>These improvements for passengers are part of London Underground's vital programme to replace old track, signals and trains. </p>
<p>It will further improve performance and deliver more reliable services for Londoners, with faster and more frequent journeys, fewer delays and, ultimately, provide 30 per cent more capacity across the network. </p>
<p>The programme has delivered major improvements for Tube passengers over the last few years, including:</p>
<ul>
<li>An upgraded Jubilee line - now with 33 per cent&nbsp;more capacity, and a train every two minutes at peak times</li>
<li>A transformed King's Cross St. Pancras station - now four times its original size, fully accessible and with two new ticket halls</li>
<li>Other major stations upgraded - including Farringdon, Green Park, Blackfriars and Heathrow 1,2,3.&nbsp;Major work is also under way at Victoria, Bond Street and Tottenham Court Road</li>
<li>A more accessible Tube - with 66 stations now having step-free access, plus platform humps installed at many stations</li>
<li>Hundreds of kilometres of brand new rails with proper drainage and new track beds preventing failures, ensuring a smoother ride and providing a more reliable service</li>
<li>An upgraded Victoria line - with new trains, track and signalling. The line is now twice as reliable as it was in 2007/08 and there are an extra two trains each hour in the peak, meaning a train every two minutes.&nbsp;From early 2013 there'll be even more trains - up to 33 every hour</li></ul>
<p>Mike Brown, Managing Director, London Rail and Underground, said: 'The old Metropolitan line trains have been great servants to the millions of people that have used the line over the years. </p>
<p>'However at over 50 years old, it is now time to bring in the new generation of trains that are walk-through, air conditioned and more accessible. </p>
<p>'Carrying more passengers today than ever before we need to continue to meet the growing demand of an increasing population. </p>
<p>'Passenger service has already been improved through the upgrade of the Jubilee and Victoria lines with increased reliability and capacity and the Northern, Circle, District, Hammersmith &amp; City and Metropolitan upgrade works are well under way.&nbsp; </p>
<p>'We know there is still much to do to move forward and build for the future.'</p>
<p>The first of the new trains are now arriving on the Hammersmith &amp; City line.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Over&nbsp;270,000 passenger journeys take place on the Metropolitan line each day</li>
<li>As well as air conditioning, they will also have CCTV coverage in each carriage and improved accessibility</li>
<li>The SSR lines carry one third of the Underground's passengers and covers 300km of track</li>
<li>The upgrade of the Sub-Surface Railway will deliver substantial increases in capacity: 65 per cent&nbsp;on the Circle and Hammersmith &amp; City lines; 24 per cent&nbsp;on the District line, and 27 per cent&nbsp;on the Metropolitan line</li>
<li>The first section of the Tube opened in 1863 between Paddington and Farringdon, and is still served by the Hammersmith &amp; City line</li>
<li>The sub-surface fleet is being built by Bombardier Transportation in Derby who will deliver a total of 191 trains</li>
<li>There will be a final 'heritage' run of the A stock train on Saturday 29 September. This is a ticketed event with money being raised for The Railway Children charit</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Metropolitan line now served by modern walk through air-conditioned trainsUpgrade will continue on the Circle, District and Hammersmith &amp; City lines with new trains and signallingThe Tube's oldest train, and one of the country's longest serving, bows";}
        
        


 