


@{ViewBag.Title = "London 2012 Paralympic Games - Day 11: The Paralympic Marathons mark the final day of a fantastic Games with central London expected to be busy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 11: The Paralympic Marathons mark the final day of a fantastic Games with central London expected to be busy</h1>
        <div class="content-page-press-release">
        09 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Today, Sunday 9 September, sees the final day of competition in what has been a truly fantastic Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Today is the last day of what has been a truly fantastic and inspirational Games. I am sure everybody is going to enjoy the last bit of sporting action."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Today is the last day of what has been a truly fantastic and inspirational Games. I am sure everybody is going to enjoy the last bit of sporting action.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Today will see road closures in central London for the Paralympic Marathons and motorists are advised to avoid driving near the route </li>
<li>The Mayor's Thames Festival is taking place, finishing with a parade in central London </li>
<li>Stations along the route are expected to be very busy leading up to, and after, the events </li>
<li>Stratford will be very busy from 17:30 for the Closing Ceremony. If you don't have a ticket, please avoid the area </li>
<li>The DLR, the Jubilee and Central lines, and the Javelin service are expected to be very busy with spectators </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too.&nbsp; Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">http://www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>

<p>Today, Sunday 9 September, sees the final day of competition in what has been a truly fantastic Paralympic Games. </p>
<p>The Paralympic Marathon events start and finish at The Mall, with Dave Weir and Shelly Woods continuing the push for Gold. </p>
<p>With 7-a-side Football and Wheelchair Rugby at the Olympic Park, and the Mayor's Thames Festival continuing, it is going to be another busy and exciting day in London.</p>
<p>Stations near The Mall, Bank, Embankment, The City and Tower Hill are expected to be busy leading up to and after the men's and women's Paralympic Marathons.&nbsp; </p>
<p>Local bus services will be affected with some routes shortened or diverted.</p>
<h2>Mayor's Thames Festival</h2>
<p>Central London will be busy today, and roads including the Victoria Embankment will be closed for the finishing parade of the Mayor's Thames Festival.&nbsp; </p>
<p>Drivers are advised to avoid the route.</p>
<p>TfL is asking customers and road users to continue taking the same sensible steps they did during the Olympics - avoiding the busiest times and places and planning ahead. </p>
<p>The Jubilee line from Waterloo to Stratford, the Central line from Holborn to Stratford, the DLR network, and the Javelin service, will be particularly busy this afternoon and late evening as spectators head to and from the Olympic Park and return home from the Closing Ceremony.&nbsp; </p>
<p>Stratford station is expected to be very busy from 17:30.&nbsp; </p>
<p>These stations should be avoided during peak times unless going to a Paralympic event.&nbsp; </p>
<p>Stations close to the Live Site in Trafalgar Square are also expected to be very busy. </p>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham instead and they can access the Park via the Greenway, or national rail services between Liverpool Street and Stratford.&nbsp; </p>
<p>Passengers with reduced mobility should use Stratford station, where assistance is available.</p>
<h2>Plan Ahead</h2>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting GetAheadoftheGames.com. </p>
<p>TfL continues to remind people that, where possible they should avoid driving on or around the Paralympic Route Network (PRN) and near venue areas, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.&nbsp; </p>
<p>However, the PRN to the Royal Artillery Barracks and Greenwich Park is no longer in operation.</p>
<h2>Inspirational Games</h2>
<p>London's Transport Commissioner, Peter Hendy CBE, said: "Today is the last day of what has been a truly fantastic and inspirational Games. </p>
<p>I am sure everybody is going to enjoy the last bit of sporting action with the Paralympic Marathons in central London today and as well as the Closing Ceremony later this evening. </p>
<p>"Londoners have adapted their travel patterns this summer to plan ahead and avoid the busiest times and places which we very much appreciate. Today is set to be busy so we ask that this careful planning of journeys is continued.&nbsp; On Monday we will welcome our remarkable Olympic and Paralympic teams with an Athlete's Parade in the capital giving Londoners and visitors an opportunity to celebrate their amazing achievements."</p>
<p><strong>TfL's key public transport travel advice for Sunday 9 September:<br></strong></p>
<ul>
<li>Events will be taking place at the Olympic Park and The Mall </li>
<li>Public transport serving Games venues will be particularly busy throughout the day, especially on the DLR, Central and Jubilee lines, and Javelin </li>
<li>Stratford station will be very busy from 17:30 </li>
<li>From 21:00 lines serving the Olympic Park are expected to be busier than usual with spectators returning from the Closing Ceremony </li>
<li>Afternoon and late evening are expected to be particularly with spectators heading to and from the Olympic Park </li>
<li>Stations near The Mall, Bank, Embankment, The City and Tower Hill are expected to be busy leading up to and after the men's and women's Paralympic Marathons </li>
<li>Local bus services will be affected by the Paralympic Marathons, with some routes shortened or diverted. Please check before you travel</li></ul>
<p><strong>Key road travel advice for Sunday 9 September: <br></strong></p>
<ul>
<li>Motorists are advised to avoid driving into central London </li>
<li>The Paralympic Marathon will start and finish on The Mall. The race will start at 08:00 and is expected to finish at 14:00.&nbsp; Roads will be closed along and around the route from midnight and will reopen when it is safe to do so </li>
<li>The PRN will be serving venues across London including The Mall, the Olympic Park, ExCeL and North Greenwich Arena </li>
<li>Roads that are part of the PRN will be used in the Paralympic Marathons, so official Games vehicles will be diverted onto roads previously unaffected, including</li></ul>
<blockquote>o&nbsp;A1292 Commercial Road/Great Eastern Street<br>o&nbsp;A501 City Road/Pentonville Road/Euston Road<br>o&nbsp;A201 Farringdon Road/Kings Cross Road<br>o&nbsp;Holborn<br>o&nbsp;A4220 Southampton Row/Woburn Place/Tavistock Square/Upper Woburn Place<br>o&nbsp;A40 Westway<br>o&nbsp;A3220 West Cross Route/Holland Road/Warwick Road/Addison Road/Warwick Gardens.</blockquote>
<ul>
<li>The Mayor's Thames Festival continues today, finishing with a parade on Victoria Embankment this evening where some surrounding roads will remain closed between Blackfriars Bridge and Westminster Bridge after the Paralympic marathons have finished until around midnight.&nbsp; Blackfriars Bridge will be closed to traffic from 6pm; </li>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues; </li>
<li>Games Lanes are operating flexibly.&nbsp; Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time; </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus); </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter; </li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/119-september.html">http://www.getaheadofthegames.com/bulletins/119-september.html</a></li></ul>
<p><strong>Ticketed spectators<br></strong></p>
<ul>
<li>Javelin services to and from the Olympic Park will be busy. People travelling to and from the Olympic Park are advised to try using the District, Hammersmith &amp; City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or National Rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility are advised to use Stratford station; </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel; </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey; </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a>.</li></ul>
<p>
<hr>
<br><strong>Notes to Editors:<br></strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00. </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London Buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis. </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours. </li>
<li>A number of services are available including:</li></ul>
<blockquote>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Today will see road closures in central London for the Paralympic Marathons and motorists are advised to avoid driving near the route The Mayor's Thames Festival is taking place, finishing with a parade in central London Stations along the route are";}
        
        


 