


@{ViewBag.Title = "London Underground logo is transformed by one hundred international artists in a new book published as part of Art on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground logo is transformed by one hundred international artists in a new book published as part of Art on the Underground</h1>
        <div class="content-page-press-release">
        20 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new book called The Roundel: 100 Artists Remake a London Icon shows how the iconic London Underground logo has been refashioned by 100 artists and will go on sale in October.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Two other Art on the Underground books called One Thing Leads to Another - Everything is Connected and Central Line Series will also be published next month</li></ul>
<p>Art on the Underground is delighted to announce the launch of three new publications in association with Black Dog Publishing and Art / Books.</p>
<p>In a collaboration with new publisher Art / Books, The Roundel: 100 Artists Remake a London Icon presents the company's famous logo refashioned by one hundred international artists.&nbsp; </p>
<p>Jeremy Deller, Sir Peter Blake, Ryan Gander, Roger Hiorns, Cornelia Parker, Olivia Plender, Yinka Shonibare, Gavin Turk, Susan Hiller, Richard Wentworth and many others present humorous, poignant and thought-provoking re-imaginings of the iconic motif in photography, painting, drawing, print, collage and sculpture.</p>
<p>The Roundel includes essays by architecture critic and writer Jonathan Glancey; former curator at the London Transport Museum, Claire Dobbin and Sally Shaw, curator of the original Roundel commissioning programme.&nbsp;</p>
<p>All 100 artworks are included in the publication, some with the artist's commentary on the inspiration for their idea. </p>
<h2>30th anniversary</h2>
<p>From Black Dog Publishing, One Thing Leads to Another - Everything is Connected and Central Line Series publications document past and ongoing temporary commissions along the Jubilee and Central lines. </p>
<p>The publications are part of a collection that will eventually comprise the commissions for all Tube lines.&nbsp; </p>
<p>One Thing Leads to Another&nbsp;- Everything is Connected book brings together the commissioned artworks and associated events created for the 30th anniversary of the Jubilee line by artists Richard Long, Daria Martin, Nadia Bettega, John Gerrard, Matt Stokes, Dryden Goodwin and Goldsmiths Art Writing MFA students.&nbsp;</p>
<p>It includes new writing on the history of the Jubilee line by David Rooney, Curator of Transport at the Science Museum, London and a fictional essay by writer, editor and publisher Matthew Stadler, as well as colour photographs of the works, and information on each artist's projects and practice.</p>
<p>Central Line Series publication presents five projects commissioned and produced from 2011 to 2012 with artists Michael Landy, Ruth Ewan, with Kerry Andrew and Evlynn Sharp; Anna Barham; Alice Channer and Bob and Roberta Smith with Tim Newton.&nbsp; </p>
<h2>Inspiring artists</h2>
<p>Together with colour photographs, video stills, and preparatory drawings of the projects, Central Line Series includes specially commissioned essays by Mark Pagel, author of Wired for Culture (2012); Federico Campagna, a political and literary activist and a reprinted text by Kazys Varnelis, Director of the Network Architecture Lab at Columbia University.&nbsp; </p>
<p>Boris Johnson, the Mayor of London, said: 'The latest offerings from Art on the Underground highlight the influence that the Tube has had on London's cultural scene, continuing to inspire artists from around the world.'</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'These publications represent three exciting Art on the Underground projects and bring new perspectives from the artists involved as well as through specially commissioned essays.</p>
<p>'Each book marks a specific time in the Art on the Underground programme and together they illustrate the breadth of artworks across the entire Tube that many customers will have seen and enjoyed as they travelled across London.'</p>
<h2>V&amp;A Museum</h2>
<p>Central Line Series and One Thing Leads to Another - Everything is Connected launch at Whitechapel Gallery on 3 October at 7pm at which Central Line Series contributor Mark Pagel will give a lecture.</p>
<p>The Roundel: 100 Artists Remake a London Icon is published on 22 October and launched at the V&amp;A Museum on Tuesday 30 October at 7pm. </p>
<p>The event includes a panel discussion chaired by Jonathan Glancey with several artists who contributed artworks to The Roundel commission.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For further information please contact Janette Scott Arts PR, on <a href="mailto:janettescottartspr&#64;gmail.com">janettescottartspr&#64;gmail.com</a> or +44(0)7966 486156 </li>
<li>For press enquiries relating specifically to TfL, please contact Candice Jones, TfL press office, on <a href="mailto:candicejones&#64;tfl.gov.uk">candicejones&#64;tfl.gov.uk</a> or 020 7126 4883 or 0845 604 4141 </li>
<li>One Thing Leads to Another - Everything is Connected is published to accompany the projects commissioned for the Jubilee line (July 2009 - October 2011), commissioned and produced by Art on the Underground, with generous support from the National Lottery through Arts Council England.&nbsp;Edited by Charlotte Bonham-Carter, Louise Coysh and Tamsin Dillon. Designed by Rose.&nbsp;One Thing Leads to Another&nbsp;Everything is Connected Hardback. 88pp&nbsp; RRP &pound;12.95. ISBN 9781907317897 </li>
<li>Central Line Series is published to accompany the projects commissioned for the Central line (2011-2012), commissioned and produced by Art on the Underground, with generous support from the National Lottery through Arts Council England.&nbsp;Edited by Charlotte Bonham-Carter, Louise Coysh, Tamsin Dillon and Snejana Krasteva. Designed by Rose. Central Line Series Hardback. 88pp&nbsp; RRP &pound;12.95 ISBN 9781907317903. Both publications available from all good bookshops or <a href="http://www.blackdogonline.com">www.blackdogonline.com</a> </li>
<li>The Roundel: 100 Artists Remake a London Icon is published in association with Art /Books. Commissioned by Art on the Underground, the publication is edited by Tamsin Dillon. Designed by Fraser Muggeridge Studios.&nbsp; Softback, 160pp&nbsp; RRP &pound;12.95. ISBN 978-1-908970-01-5.&nbsp; Available from all good bookshops, <a href="http://www.artbookspublishing.co.uk">http://www.artbookspublishing.co.uk</a> and other online booksellers </li>
<li>Black Dog Publishing Limited London specialises in beautifully produced illustrated books that represent a fresh, eclectic take on contemporary culture, embracing design, fashion, music and environmental concerns. <a href="http://www.blackdogonline.com">http://www.blackdogonline.com</a> Art / Books is a new publisher of quality art, photography, architecture and design books who work with leading artists and writers from across the visual arts and contemporary culture.&nbsp;Art / Books was established in 2011 by editor and publisher Andrew Brown <a href="http://www.artbookspublishing.co.uk">http://www.artbookspublishing.co.uk</a> </li>
<li>Art on the Underground combines opportunities for artists to make new work with the prospect of reflecting on and responding to the environment of the Tube.&nbsp;The artworks might directly or indirectly address anything from the long history of the network, the physical nature of its stations and the operation of the service to the nature of travel itself. <a href="http://art.tfl.gov.uk/">art.tfl.gov.uk/</a> </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before travelling' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two other Art on the Underground books called One Thing Leads to Another - Everything is Connected and Central Line Series will also be published next monthArt on the Underground is delighted to announce the launch of three new publications in association";}
        
        


 