


@{ViewBag.Title = "London 2012 Paralympic Games - Day 8: events continue at the Olympic Park and across east London meaning roads and public transport in east London will continue to be busy ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 8: events continue at the Olympic Park and across east London meaning roads and public transport in east London will continue to be busy </h1>
        <div class="content-page-press-release">
        05 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Majority of London schools are now open following their summer break meaning busy morning and afternoon peak periods.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Routes to the Olympic Park especially busy with both spectators and commuters using public transport </li>
<li>Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too.&nbsp; Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p>Tomorrow, Thursday 6 September, will see another busy day of cultural and sporting Paralympic events, with highlights in the Olympic Park including ParalympicsGB's Kyron Duke in the finals of the Men's Shot Put F40 and Bev Jones competing in the Women's Discus F37.&nbsp; </p>
<p>Also over in the Royal Artillery Barracks ParalympicsGB's Karen Butler will be competing in the finals of the Women's R8 50m Air Rifle 3 Positions SH1 contest. </p>
<p>The public transport and road networks will continue to be busy tomorrow with Paralympic events talking place in venues across east London and the majority of London schools now fully open for the new school year. </p>
<h2>Plan ahead</h2>
<p>TfL is asking customers and road users to continue taking the same sensible steps they did during the Olympics - avoid the busiest times and places and plan ahead.</p>
<p>The Jubilee and Central lines, from central London to Stratford, and the DLR network will be particularly busy while London Underground stations at mainline terminals will be busier than normal at peak times, particularly London Bridge and Waterloo.&nbsp;</p>
<p>Javelin services to and from the Olympic Park will also be busy today and throughout the Paralympic Games, in both the morning and evening.&nbsp; </p>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham instead and they can access the Park via the Greenway, or national rail services between Liverpool Street and Stratford.&nbsp;</p>
<p>Passengers with reduced mobility should use Stratford station, where assistance is available.</p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting GetAheadoftheGames.com. </p>
<h2>Avoid the PRN</h2>
<p>TfL continues to remind people that where possible, driving on or around the Paralympic Route Network and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>There has been congestion on the A2, A12 and A13, particularly during the morning peak.&nbsp;Roads east of St Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp;</p>
<p>If driving is the only option, people are asked to travel at a different time if possible or to allow more time for their journey.</p>
<p>Paralympic Road Cycling continues at Brands Hatch with the roads around the venue closed until midnight on Saturday 8 September.</p>
<p>Stations serving Trafalgar Square are expected to be busier than usual due the popularity of the Live Site there. Bank, London Bridge and Waterloo will be busier than normal in the morning peak. </p>
<p>Trains passing through Canada Water, Bermondsey and Bethnal Green are expected to be particularly busy during morning peak and it is recommended these stations are avoided. Bank, Canary Wharf, Oxford Circus and London Bridge will be busier than normal in the evening peak. </p>
<p>Trains passing through Chancery Lane and St Paul's are expected to be particularly busy during the evening peak and it is recommended people use nearby stations. </p>
<p>After 21:00 Canning Town, North Greenwich and Stratford are also expected to be very busy. </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'The sporting action continues tomorrow at the Olympic Park and several other venues in the east of the city with many ParalympicsGB athletes competing for medal positions. </p>
<p>'Transport is expected to continue to be busy especially as the vast majority of schools are now fully open for the new school year. Roads around Brands Hatch remain closed for the Paralympic Road Cycling.&nbsp;</p>
<p>'We continue to ask Londoners to take the same sensible steps as during the Olympics - avoiding the busiest times and places, and avoiding driving around venues and the PRN.</p>
<p>'There is still a huge amount happening across the Capital, including the Live Sites, along with all of the other attractions London has to offer.&nbsp;Everything you need to plan your journey can be found at GetAheadoftheGames.com.'</p>
<h2>TfL's key travel advice for Thursday 6 September:</h2>
<p>Events will be taking place across east London at the Olympic Park, ExCeL, North Greenwich Arena and Royal Artillery Barracks </p>
<ul>
<li>Public transport serving Games venues will be particularly busy throughout the day, especially on the DLR, Central and Jubilee lines </li>
<li>Bank, London Bridge and Waterloo will very busy during the morning peak </li>
<li>Trains passing through Canada Water, Bermondsey and Bethnal Green are expected to be busy during the morning peak and these stations should be avoided </li>
<li>Bank, Canary Wharf, Oxford Circus and London Bridge will be very busy in the evening peak </li>
<li>Trains passing through Chancery Lane and St Paul's are expected to be busy during the evening peak and these stations should be avoided </li>
<li>North Greenwich, Stratford and Canning Town stations are expected to be busier than usual after 21:00 with spectators returning home after events. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds </li>
<li>If you're attending the late night sessions at the Olympic Park, North Greenwich Arena or ExCeL please make sure you check the time of your last train home </li>
<li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00 </li>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues.&nbsp; The A102 approach roads north and south of the Blackwall Tunnel should be avoided.&nbsp; Roads around Brands Hatch will be closed for the Paralympic Road Cycling </li>
<li>The A2, A12, A13, and roads east of St.Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp;If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>Games Lanes are operating flexibly.&nbsp;Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/6-september.html">http://www.getaheadofthegames.com/bulletins/6-september.html</a></li></ul>
<h2>Ticketed spectators</h2>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or National Rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility are advised to use Stratford station </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>Expect queues when arriving and departing venue stations.&nbsp; Please leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a>.</li></ul>
<p>
<hr>
<strong>Notes to editors:</strong>
<strong>
<ul>
<li></li></ul></strong>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>- Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>- B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>- A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routes to the Olympic Park especially busy with both spectators and commuters using public transport Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places Sporting action";}
        
        


 