


@{ViewBag.Title = "London Overground makes room for Peace Wall ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground makes room for Peace Wall </h1>
        <div class="content-page-press-release">
        21 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is continuing to support the Olympic message of international and community cooperation by making a wall under one of its London Overground bridges available for a large mural promoting world peace.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By giving local youth affected by the riots a means through which they can directly leave a positive mark on their community, we can empower them to envision peace in their community and throughout the world."</div>
        <div class="quote-footer">
            <div class="quotee-name">Tsipi Ben-Haim</div>
            <div class="quotee-job-title">Executive and Creative Director of CITYarts</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By giving local youth affected by the riots a means through which they can directly leave a positive mark on their community, we can empower them to envision peace in their community and throughout the world.
                            
                        </p>
                    </div>
                
            
            
            <p>The huge artwork, covering a bridge abutment on the Regent's Canal in Hackney, has taken three months to complete and has been painted by hundreds of local people. </p>
<p>Its creation has also helped repair community divisions in the wake of last year's public disturbances.</p>
<p>TfL's Director Overground and Crossrail Operations Mike Stubbs, who will be attending the ceremonial unveiling of the mural, said: 'London Overground was created to help bring communities together across London and this project is another way of achieving this beyond simply providing the nuts and bolts of a railway.</p>
<p>'We are proud to be part of the Hackney community and to be able to help with this exciting and positive project working with local organisations and schools.</p>
<p>'I hope that just as a railway provides landmarks for a community, so will this fantastic mural. </p>
<h2>A positive mark</h2>
<p>Tsipi Ben-Haim, Executive&nbsp;and Creative Director of CITYarts, said:&nbsp;'I firmly believe that when kids create, they do not destroy.</p>
<p>'By giving local youth affected by the riots a means through which they can directly leave a positive mark on their community, we can empower them to envision peace in their community and throughout the world.'</p>
<p>Also attending the ceremony will be the speaker for Hackney Council Jessica Webb, founder of the MOBOs Kanya King, Olympic gymnast and medallist Louis Smith and the singer Sinitta.</p>
<p>This mural is the only CITYarts Peace Wall in London, but it is the fourth in the world. </p>
<h2>Ribbon cutting</h2>
<p>The others are in Jaffa, Israel; Karachi, Pakistan; and Harlem, New York, US; and more walls are planned for Berlin, Germany; Brazil; Qatar; and Tunisia. </p>
<p>A 'final brush strokes' and ribbon cutting ceremony will be held at the mural (it is situated beside the Regent's Canal on Dunston Road, E8 4DD, under the Haggerston Overground Bridge) at 11am on Sunday 23 September 23 2012.</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>The&nbsp; London Overground network connects 21 of London's 33 boroughs and when a final extension is completed in December this year, it will provide an orbital overground rail service completely encircling the Capital </li>
<li>Founded in 1968, CITYarts has produced 287 public art projects in collaboration with over 500 artists, 100,000 city youth and nearly 500,000 community volunteers<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The huge artwork, covering a bridge abutment on the Regent's Canal in Hackney, has taken three months to complete and has been painted by hundreds of local people. Its creation has also helped repair community divisions in the wake of last year's public";}
        
        


 