


@{ViewBag.Title = "Londoners encouraged to 'make a small switch' to curb engine emissions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners encouraged to 'make a small switch' to curb engine emissions</h1>
        <div class="content-page-press-release">
        26 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Second phase of Transport for London's (TfL's) no-idling campaign launches.
        
    </div>



 <div class="on-this-page">
<ul>
<li>New advice given to schools to help reduce 'school-run' pollution </li>
<li>First phase of campaign saw reduction in engine idling </li></ul>
<p>A campaign to encourage drivers to switch off their engines when stationary to reduce unnecessary emissions has been launched in London. </p>
<p>It comes as new advice is being offered to schools to help cut 'school-run' pollution.<br>&nbsp;<br>This is the second phase of TfL's 'no-idling' campaign which is targeted at vehicles when parked, waiting or loading at the roadside. </p>
<p>The campaign highlights the impact of pollution on health and how small changes can make a big difference. </p>
<p>Reducing pollution levels can both prevent and alleviate illnesses such as asthma and heart and lung conditions. <br>&nbsp;<br>Switching off a vehicle's engine when it is stationary for more than one minute will not only reduce the amount of harmful pollutants such as particulate matter (PM10) and nitrogen oxides (NOx) emitted, but will also reduce fuel consumption. </p>
<p>Surveys taken before and after the first phase of the campaign (delivered in January 2012) on central London roads with high levels of pollution estimated an average drop of five per cent in unnecessary engine idling across all vehicles.<br>&nbsp;<br>Research suggests engine idling is a significant contributor to pollution in London. </p>
<p>TfL estimates that 59 per cent of drivers parking or loading at the side of the road in central London leave their engines idling unnecessarily. </p>
<p>Modelling has shown that if all drivers in central London switched off their engines, rather than leaving them idling unnecessarily, for one minute each day, this could reduce PM10 emissions by around 290g per day or at least 90kg per year. </p>
<p>This is the equivalent of a medium sized diesel car making 62 trips around the world, the equivalent of travelling 2.5 million kilometres. </p>
<p>In addition, TfL has been working with the Greater London Authority and the London Sustainability Exchange (LSx) to pilot a scheme helping primary schools to teach pupils more about the causes and impact of pollution. </p>
<p>It has also developed activities and resources to encourage practical measures to improve local air quality around schools by working with staff, pupils and parents. </p>
<p>The 'Cleaner Air 4 Schools' project has been working with three schools around Marylebone Road, an area with higher pollution levels, to develop a 'toolkit' which is now available to all schools in the Capital. </p>
<p>The <a href="http://www.london.gov.uk/cleanairschools">Cleaner Air 4 Schools pack</a> is available for download.</p>
<p>The no-idling campaign is part of a wider package of measures the Mayor is introducing to improve air quality by cleaning up emissions from buses, taxis, lorries and encouraging cleaner cars. <br>&nbsp;<br>The Mayor of London Boris Johnson, said: 'I am introducing a range of robust measures to tackle pollution. </p>
<p>'Drivers can play their part too by taking time to switch off when stationary. </p>
<p>'This can save money off costly fuel bills as well as make our city a cleaner place to live and work.'<br>&nbsp;<br>Leading health and transport organisations such as Asthma UK, the Confederation of Passenger Transport (CPT), and the Freight Transport Association (FTA) have voiced their support for this campaign.<br>&nbsp;<br>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport said: 'We have been working hard to improve air quality in London and are pleased to launch the second phase of our no engine idling campaign as part of the Clean Air Fund measures.&nbsp; </p>
<p>'We are working with our bus operators and other transport organisations, such as the Confederation of Passenger Transport and the Freight Transport Association, to reduce unnecessary engine idling in London. </p>
<p>'We also hope that the success of the Clean Air 4 School project we piloted at three schools will be replicated across London following the launch of a new information pack.'<br>&nbsp;<br>The results from the LSx pilot show that 70 per cent of pupils, parents, teachers and governors who took part in the pilot demonstrated a clearer understanding of air quality issues. </p>
<p>The best success was measured in schools where parent and school governor engagement was high. </p>
<p>The project also championed peer-to-peer social marketing, which was adopted by up to 56 per cent of parents who spread the word about air quality to their friends, family and colleagues.&nbsp; </p>
<p>Furthermore it was successful in changing behaviour around travel choices, with 35 per cent reporting reduced car travel, 11 per cent decrease in car engine idling, and 58 per cent increase in cycling, in those that travelled by these means regularly. </p>
<p>The results have also shown that the schools which took part in the pilot saw a reduction in travel by car, an increase in cycling and a small increase in the use of public transport for journeys to and from school.<br>&nbsp;<br>Samantha Heath, CEO, London Sustainability Exchange, said: 'Air pollution causes the equivalent of around 4,300 premature deaths in London. </p>
<p>'The pilot project has demonstrated the importance of educating people on air quality issues and the impact that it can have. </p>
<p>'We are proud to be part of this project and hope London schools find the Cleaner Air 4 Schools toolkit useful, and that those using it can get a better understanding of the small changes they can do to make a difference.'<br>&nbsp;<br>TfL's no idling campaign is running from now with radio and poster adverts. </p>
<p>The campaign is one of a number of targeted measures* being funded by the DfT's Clean Air Fund at the request of the Mayor.<br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>One common myth about engine idling is that switching a vehicle's engine on and off would wear it out and would also use more fuel. However, ignitions in modern cars have eliminated this problem and research shows that turning off an engine and restarting it after a minute uses less fuel and causes less pollution. Switching the engine on and off does not cause any damage to the vehicle. TfL undertook testing and research when developing this campaign at Millbrook Proving Ground; this showed that vehicle engines may be restarted repeatedly many times over without a discernible effect on the performance of the vehicle's battery. The vehicles tested were able to withstand repeatedly being switched on and off over a hundred times in an hour with no loss of performance observed. This level of activity would far exceed real-life scenarios </li>
<li>This air quality package is part of a comprehensive set of long-term sustainable measures being introduced by the Mayor to tackle the biggest sources of pollution.&nbsp; In addition, there is record levels of investment being ploughed into zero-emission cycling, a fleet of over 300 hybrid buses are currently in operation; a zero tailpipe emission hydrogen bus route operating through central London; supporting the uptake of electric vehicles through the Source London charging network and membership scheme. There are currently eight New Bus for London, in service with funding agreed for a fleet of 600. They emit under half the CO2 and NOx of a traditional diesel vehicle </li>
<li>In April 2011 the Department for Transport awarded &pound;5m for a Clean Air Fund to allow Transport for London (TfL) to trial and deliver a package of innovative local transport and environmental measures to reduce particulate matter (PM10) across the Capital </li>
<li>*This work is part of package of measures funded at the Mayor's request by the Department for Transport (DfT) to allow TfL to trial and deliver a package targeted local measures to reduce PM10. The Clean Air Fund included: 
<ul>
<li>A team of taxi marshals visited taxi ranks in pollution hotspots across the Capital to reduce engine idling time for taxis and minicabs while promoting eco-driving courses </li>
<li>Over 600 new trees have been planted alongside some of London's busiest roads and two green walls installed at Edgware Road Tube station and at The Mermaid, Upper Thames Street </li>
<li>The installation of diesel particulate filters to 120 buses on selected routes running through central London </li>
<li>A programme of engagement with 300 businesses in pollution hotspots to promote sustainable travel and reduce their air quality impact </li>
<li>Trials of innovative dust suppressants technology to tackle PM10 pollution in corridors in air quality hotspots and around construction and industrial sites in five boroughs </li>
<li>Since 3 January 2012 vehicles that are already affected by the LEZ - HGVs, buses and coaches - have needed to meet a Euro IV standard for particulate matter (PM) to drive within Greater London without paying a &pound;200 daily charge </li>
<li>Also from this date, larger vans, minibuses and other specialist vehicles have been required to meet LEZ standards for the first time. These vehicles have to meet a Euro 3 emissions standard for particulate matter in order to drive within Greater London without paying a &pound;100 daily charge</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New advice given to schools to help reduce 'school-run' pollution First phase of campaign saw reduction in engine idling A campaign to encourage drivers to switch off their engines when stationary to reduce unnecessary emissions has been launched in";}
        
        


 