


@{ViewBag.Title = "London 2012 Paralympic Games - Day 10: The final weekend of a fantastic Games begins with roads and public transport in east London continuing to be busy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 10: The final weekend of a fantastic Games begins with roads and public transport in east London continuing to be busy</h1>
        <div class="content-page-press-release">
        08 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Routes to the Olympic Park especially busy with both spectators and regular passengers using public transport.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We continue to advise Londoners to take the same sensible steps they did during the Olympics - avoid the busiest times and places and avoid driving around venues and the PRN"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We continue to advise Londoners to take the same sensible steps they did during the Olympics - avoid the busiest times and places and avoid driving around venues and the PRN
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too.&nbsp; Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter </li>
<li>Mayor's Thames Festival takes place this weekend </li></ul>
<p>Today, Saturday 8 September, promises an exciting start to the final weekend of cultural and sporting Paralympic events, including the last day of competition in the Aquatics Centre where Ellie Simmonds will be defending her title in the women's 100m Freestyle. </p>
<p>With Table Tennis and Judo among the sports at ExCeL, medal deciders in the popular Men's Wheelchair Basketball at North Greenwich Arena, and the Mayor's Thames Festival, the public transport and road networks in east London will continue to be busy.</p>
<p>There are also a number of other large events taking place across London today, including the Last Night of the Proms 2012 at the Albert Hall, Proms in the Park at Hyde Park and Lady Gaga performing at Twickenham which will also mean high number of people using the transport network. </p>
<p>The Paralympic Marathon events will take place tomorrow and will mean a number of road closures around central London. </p>
<p>The Mayor's Thames Festival also continues tomorrow, and roads including the Victoria Embankment will be closed for the Thames Festival parade. </p>
<p>TfL is asking customers and road users to continue taking the same sensible steps they did during the Olympics - avoid the busiest times and places and plan ahead.</p>
<p>The Jubilee line from Waterloo to Stratford and the Central line, from Holborn to Stratford, and the DLR network will be particularly busy.&nbsp; </p>
<p>Trains passing through London Bridge, Canada Water and Mile End are expected to be particularly busy throughout the day. </p>
<p>London Bridge and Bank stations will be busier than normal at peak times with large numbers of spectators using the station throughout the day. </p>
<p>North Greenwich, Stratford and Canning Town stations will be especially busy in the evening as spectators return from events. </p>
<p>Try to avoid these stations during peak times and stations that are close to venues unless you are going to a Paralympic event, as these are expected to be busy.&nbsp; </p>
<p>Stations close to the Live Site in Trafalgar Square are also expected to be very busy. </p>
<p>Javelin services to and from the Olympic Park will also be busy throughout the Paralympic Games. </p>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham instead and they can access the Park via the Greenway, or national rail services between Liverpool Street and Stratford.&nbsp; </p>
<p>Passengers with reduced mobility should use Stratford station, where assistance is available.</p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting GetAheadoftheGames.com. </p>
<p>TfL continues to remind people that, where possible they should avoid driving on or around the Paralympic Route Network and near venue areas, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.&nbsp; </p>
<p>However, Paralympic Route Network to the Royal Artillery Barracks and Greenwich Park is no longer in operation.&nbsp; </p>
<p>There has been congestion on the A2, A12 and A13, particularly during the morning peak.&nbsp; </p>
<p>Roads east of St Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp; </p>
<p>If driving is the only option, people are asked to travel at a different time if possible or to allow more time for their journey.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: "We are entering the final weekend of Paralympic Games and we continue to advise Londoners to take the same sensible steps they did during the Olympics - avoid the busiest times and places and avoid driving around venues and the PRN.</p>
<p>"The abundance of cultural and sporting events continues right across the capital, including the Live Sites, along with all of the other attractions London has to offer.&nbsp; Everything you need to plan your journey can be found at GetAheadoftheGames.com."</p>
<h2>TfL's key public transport travel advice for Saturday 8 September:</h2>
<ul>
<li>Events will be taking place across east London at the Olympic Park, ExCeL and North Greenwich Arena </li>
<li>Public transport serving Games venues will be particularly busy throughout the day, especially on the DLR, Central and Jubilee lines </li>
<li>Bank and London Bridge will very busy throughout the day </li>
<li>Trains passing through London Bridge, Canada Water and Mile End are expected to be busy and these stations should be avoided </li>
<li>North Greenwich, Stratford and Canning Town stations are expected to be busier than usual after 21:00 with spectators returning home after events. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds</li></ul>
<h2>Key road travel advice for Saturday 8 September: </h2>
<ul>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues;&nbsp; </li>
<li>The A102 approach roads north and south of the Blackwall Tunnel should be avoided.&nbsp; Roads around Brands Hatch will be closed for the Paralympic Road Cycling </li>
<li>The A2, A12, A13, and roads east of St.Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp; If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at: <br><a href="http://www.getaheadofthegames.com/bulletins/8-september.html">http://www.getaheadofthegames.com/bulletins/8-september.html</a></li></ul>
<h2>Ticketed spectators</h2>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or National Rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility are advised to use Stratford station </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a></li></ul>
<p>
<hr>

<p>
<p><strong>Notes to Editors</strong>:<br></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London Buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts,";}
        
        


 