


@{ViewBag.Title = "London 2012 Paralympic Games - Day 7: with finals in athletics and swimming at the Olympic Park roads and public transport in east London will continue to be busy ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 7: with finals in athletics and swimming at the Olympic Park roads and public transport in east London will continue to be busy </h1>
        <div class="content-page-press-release">
        04 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Majority of London schools expected to be open today after summer break meaning busy morning and afternoon peak periods
        
    </div>



 <div class="on-this-page">
<ul>
<li>Routes to the Olympic Park especially busy with both spectators and commuters using public transport </li>
<li>Passengers who use the Docklands Light Railway (DLR), Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places </li>
<li>Paralympic Route Network to Greenwich Park ends operation at midnight Tuesday 4 September, removal begins overnight tonight </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too.&nbsp;Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p>Tomorrow, Wednesday 5 September, will see another packed day of cultural and sporting Paralympic events with highlights in the Olympic Park including ParalympicsGB's Liz Johnson defending her women's 100-metre breaststroke (SB6) title in the Aquatics Centre and ParalympicsGB taking on the USA in the men's seven-a-side football preliminaries at the Riverbank Arena. </p>
<p>The public transport and road networks will continue to be busy tomorrow with Paralympic events talking place in venues across east London and the majority of London schools expected to be fully open for the start of the new school year.&nbsp; </p>
<p>Transport for London (TfL) is asking passengers and road users to continue taking the same sensible steps they did during the Olympics - avoid the busiest times and places and plan ahead.</p>
<p>The Jubilee and Central lines, from central London to Stratford, and the DLR network will be particularly busy while London Underground stations at mainline terminals will be busier than normal at peak times, particularly London Bridge and Waterloo.&nbsp; </p>
<p>Javelin services to and from the Olympic Park will also be busy today and throughout the Paralympic Games, in both the morning and evening.&nbsp; </p>

<h2>Leave extra time</h2>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham instead and they can access the Park via the Greenway, or national rail services between Liverpool Street and Stratford.&nbsp; </p>
<p>Passengers with reduced mobility should use Stratford station, where assistance is available.&nbsp; </p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting Gwww.GetAheadoftheGames.com. </p>
<p>The Paralympic Route Network (PRN) will stop operating to Greenwich Park tonight (Tuesday 4 September) as Equestrian events at the venue finish and it will start to be removed overnight.&nbsp; </p>
<p>However, TfL continues to remind people that where possible, driving on or around the Paralympic Route Network and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>There has been congestion on the A2, A12 and A13, particularly during the morning peak.&nbsp;</p>
<p>Roads east of St Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp; </p>
<p>If driving is the only option, people are asked to travel at a different time if possible or to allow more time for their journey.</p>
<p>Paralympic Road Cycling will begin at Brands Hatch so roads around the venue will be closed until&nbsp;midnight on Saturday 8 September.</p>
<p>Stations serving Trafalgar Square are expected to be busier than usual due the popularity of the Live Sites there.</p>

<h2>Sporting action</h2>
<p>Canada Water, Euston, King's Cross, London Bridge and Waterloo will be busier than normal in the morning peak. Bank, Chancery Lane, London Bridge and St Paul's will be busier than normal in the evening peak. </p>
<p>Late tomorrow Canning Town, North Greenwich and Stratford are also expected to be very busy.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Tomorrow is set to be another busy day on the transport network; the vast majority of schools are now fully open for the new term and sporting action is taking place at the Olympic Park and several other venues in the east of the city, as well as Sailing at Weymouth and Portland and Paralympic Road Cycling at Brands Hatch. </p>
<p>'We continue to ask Londoners to take the same sensible steps as during the Olympics - avoiding the busiest times and places, and avoiding driving around venues and the PRN.</p>
<p>'There is still a huge amount happening across the capital, including the Live Sites, along with all of the other attractions London has to offer.&nbsp;</p>
<p>'Everything you need to plan your journey can be found at <a href="http://www.GetAheadoftheGames.com.'">GetAheadoftheGames.com.'</a></p>
<p><strong>TfL's key travel advice for Wednesday 5 September:</strong></p>
<ul>
<li>Events will be taking place across east London at the Olympic Park, ExCeL, North Greenwich Arena and Royal Artillery Barracks </li>
<li>Public transport serving Games venues will be particularly busy throughout the day, especially on the DLR, Central and Jubilee lines </li>
<li>Canada Water, London Bridge and Waterloo will very busy during the morning peak </li>
<li>Bank, Chancery Lane, London Bridge and St Paul's will be very busy in the evening peak </li>
<li>North Greenwich, Stratford and Canning Town stations are expected to be busier than usual after 21:00 with spectators returning home after events. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds</li>
<li>If you're attending the late night sessions at the Olympic Park, North Greenwich Arena or ExCeL please make sure you check the time of your last train home</li>
<li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00</li>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues.&nbsp; The A102 approach roads north and south of the Blackwall Tunnel should be avoided</li>
<li>The A2, A12, A13, and roads east of St.Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp; If driving is your only option, please travel at a different time if possible or allow more time for your journey</li>
<li>Games Lanes are operating flexibly.&nbsp; Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/4-september.html">http://www.getaheadofthegames.com/bulletins/4-september.html</a></li></ul>
<p><strong>Ticketed spectators</strong></p>

<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or National Rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility are advised to use Stratford station</li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey</li>
<li>Expect queues when arriving and departing venue stations.&nbsp; Please leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator</li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a>.</li></ul>
<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including</li>
<ul>
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routes to the Olympic Park especially busy with both spectators and commuters using public transport Passengers who use the Docklands Light Railway (DLR), Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times";}
        
        


 