


@{ViewBag.Title = "London 2012 Paralympic Games - Day 5: London school terms start from today so roads and public transport network will be much busier";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 5: London school terms start from today so roads and public transport network will be much busier</h1>
        <div class="content-page-press-release">
        03 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the school holidays come to an end routes to the Olympic Park especially busy - plan ahead at www.GetAheadoftheGames.com
        
    </div>



 <div class="on-this-page">
<ul>
<li>As the school holidays come to an end routes to the Olympic Park especially busy - plan ahead at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> </li>
<li>Passengers who use the Jubilee, Central, DLR lines and Javelin services are reminded to plan ahead to avoid the busiest times and places </li>
<li>Road users, residents and spectators are reminded to avoid driving near the Paralympic Route Network - including roads around the City of London - and Games venues </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a>&nbsp; </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter </li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li></ul>
<p>Today will be another busy and exciting day of sporting and cultural events with Paralympic action in the Olympic Park, and events also taking place at ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks and in Weymouth.</p>
<p>With the new school term starting this week and with many parents returning to work after the summer break, the public transport and road networks will be much busier than last week and will continue to get busier throughout the week until all schools across London are back. </p>
<p>TfL is asking customers and road users to take the same sensible steps they did during the Olympics and avoid the busiest times and places.</p>
<p>The Jubilee and Central lines, from central London to Stratford, and the DLR network will be particularly busy while LU stations at mainline termini will be busier than normal at peak times. </p>
<p>Javelin services to and from the Olympic Park will also be busy today and throughout the Paralympic Games, in both the morning and evening.&nbsp; </p>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham and to access the Park via the Greenway, or national rail services between Liverpool Street and Stratford. </p>
<p>Passengers with reduced mobility should use Stratford station, where assistance is available.&nbsp; </p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting GetAheadoftheGames.com.</p>
<p>Where possible, driving on or around the Paralympic Route Network (PRN) and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>There has been congestion on the A2, A12 and A13, particularly during the morning peak.&nbsp; </p>
<p>Roads east of St Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp; </p>
<p>If driving is your only option, please travel at a different time if possible or allow more time for your journey.</p>
<p>Trafalgar Square and Potters Field Live Sites will operate throughout the Paralympic Games.&nbsp; </p>
<p>There are a number of stations that can be used to access Trafalgar Square including Charing Cross and Embankment Station, and Potters Field is within walking distance of Borough Station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: `Londoners and people who work in London have been outstanding throughout both Games by planning in advance and avoiding busy times and places. With schools starting a new term this week, the majority of venues in use at the Olympic Park, and sporting action taking place at several other venues in the east of the city, please take the same sensible steps as during the Olympics and avoid the busiest times and places, and avoid driving around venues and the PRN.&nbsp; </p>
<p>`Today will be another fantastic day for the Paralympics and for London.&nbsp; Everything you need to plan your journey and enjoy the numerous events and attractions London has to offer can be found at GetAheadoftheGames.com.'</p>
<p>TfL's key travel advice for Monday, 3 September:</p>
<ul>
<li>Events will be taking place across east London at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park and Royal Artillery Barracks </li>
<li>Public transport serving Games venues will be particularly busy, especially on the Jubilee line from Waterloo to Stratford, Central line from Holborn to Stratford and DLR in the periods 07:30-09:30 and 16:00-19:00. London Bridge and Waterloo stations are expected to be very busy today especially between 07:30-09:30, and trains passing through Canada Water, Bermondsey and Bethnal Green stations are expected to be particularly busy between 07:30-09:30 </li>
<li>Trains passing through Chancery Lane and St Paul's stations are expected to be particularly busy between 16:00-19:00. North Greenwich, Stratford and Canning Town stations are expected to be busier than usual after 21:00 with spectators returning home after events. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds </li>
<li>If you're attending the late night sessions at the Olympic Park, North Greenwich Arena or ExCeL please make sure you check the time of your last train home </li>
<li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00 </li>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues. The A102 approach roads north and south of the Blackwall Tunnel should be avoided </li>
<li>The A2, A12, A13, and roads east of St.Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp; If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>Games Lanes are operating flexibly.&nbsp; Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter&nbsp; </li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/3-september.html">http://www.getaheadofthegames.com/bulletins/3-september.html</a></li></ul>
<p>Ticketed spectators</p>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or national rail services between Liverpool Street and Stratford. Passengers with reduced mobility are advised to use Stratford station </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>Expect queues when arriving and departing venue stations.&nbsp; Please leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a></li></ul>
<p>
<hr>

<p>
<p><br>Notes to Editors:</p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the school holidays come to an end routes to the Olympic Park especially busy - plan ahead at www.GetAheadoftheGames.com Passengers who use the Jubilee, Central, DLR lines and Javelin services are reminded to plan ahead to avoid the busiest times and";}
        
        


 