


@{ViewBag.Title = "Manual boarding ramps to be retained at key Tube stations after the Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Manual boarding ramps to be retained at key Tube stations after the Games</h1>
        <div class="content-page-press-release">
        09 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ramps introduced at 16 key Tube stations are well received by customers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The London 2012 Games has benefitted from the most accessible public transport system of any Olympic or Paralympic Games in history."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London 2012 Games has benefitted from the most accessible public transport system of any Olympic or Paralympic Games in history.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Ramps retained for next few months while a review of their use is undertaken </li>
<li>Important innovation will improve Tube accessibility with further improvements planned</li></ul>
<p>Accessible manual boarding ramps, which have helped spectators using wheelchairs travel to the Games by Tube, will be retained after they were well received by customers, Transport for London (TfL) announced today.</p>
<p>The ramps have been used at 16 key London Underground stations where there is a gap between the train and platform, enabling customers using wheelchairs to board trains more easily, and they will continue to be used after the Games at all of these stations following positive feedback from customers.</p>
<p>The ramps will remain in use for the next few months while a review is conducted that will examine all aspects of their use, including benefits to customers, reliability, cost, level of usage and potential locations for future use.</p>
<p>Huge accessibility improvements have been made to the transport network in recent years as part of the &pound;6.5bn investment in transport ahead of the Olympic and Paralympic Games, providing a tangible legacy to passengers with disabilities.</p>
<p>London's bus fleet is the most accessible in the world, with all 8,500 buses accessible to wheelchair users and fitted with ramps which are checked daily.&nbsp;In addition, all 22,000 taxis are fitted with wheelchair ramps, and all piers and most passenger boats in London are accessible.&nbsp; </p>
<p>The entire Docklands Light Railway (DLR) network is step-free, as are 66 Tube stations, and all Tube stations have staff trained to assist passengers.&nbsp; </p>
<p>London Overground has a fleet of accessible trains and 38 accessible stations - some fully step-free from street to train with the others equipped with manual boarding ramps and trained staff.</p>
<p>TfL will continue to innovate and invest in accessibility improvements where funding is available.&nbsp;</p>
<p>The new fleet of trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines are accessible and provide level access from platform to train.&nbsp; </p>
<p>All Crossrail stations will be fully accessible and planned station upgrades at Victoria and Bank stations will provide step-free access at these stations.</p>
<p>Mike Brown, London Underground Managing Director, said: 'The London 2012 Games has benefitted from the most accessible public transport system of any Olympic or Paralympic Games in history.&nbsp; </p>
<p>'Transport for London has invested hundreds of millions of pounds in making the transport network more accessible in the last few years, with improvements such as new lifts, trains, platform humps, wide aisle gates, tactile paving and audio-visual displays.&nbsp; </p>
<p>'A total of 66 stations are step-free, all Tube stations have staff trained to assist passengers, and every station on the DLR is step-free.&nbsp;</p>
<p>'However, we know there is more to do.&nbsp; For the Games we introduced manual boarding ramps at 16 key stations where there is a gap between the train and platform, enabling customers using wheelchairs to board trains more easily.&nbsp; </p>
<p>'These ramps have proved to be very useful for our customers and we are going to continue to use them after the Games while we review whether they are permanently viable.'</p>
<p>Manual boarding ramps are in use at Hammersmith, King's Cross St Pancras, West Ham, Westminster, Southfields, Wimbledon, Earl's Court, Fulham Broadway, Stratford, Woodford, Oxford Circus, Queen's Park, Edgware, Morden, Finchley Central and Stockwell London Underground stations.</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ramps retained for next few months while a review of their use is undertaken Important innovation will improve Tube accessibility with further improvements plannedAccessible manual boarding ramps, which have helped spectators using wheelchairs travel to";}
        
        


 