


@{ViewBag.Title = "Mayor sets out plans for flagship Barclays Cycle Hire expansion to south west London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sets out plans for flagship Barclays Cycle Hire expansion to south west London</h1>
        <div class="content-page-press-release">
        13 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Launching late next year, with all docking stations expected to be in by spring 2014.
        
    </div>



 <div class="on-this-page">
<ul>
<li>More than 2,000 new bicycles and around 5,000 new docking points, almost half of which will be south of the Thames&nbsp; </li>
<li>More than 15 million hires since the launch of the scheme&nbsp; </li>
<li>Public information sessions begin in October </li></ul>
<p>The Mayor and Transport for London (TfL) today set out plans for the extension of the hugely successful Barclays Cycle Hire scheme to south west London and the introduction of additional docking stations in busy areas.<br>&nbsp;<br>The expansion will build on the popularity of Barclays Cycle Hire and improve the availability of bicycles and docking points. </p>
<p>Since the launch of the scheme there have already been 15 million hires, and since the east London extension earlier this year the number of average weekday hires has increased by 50 per cent from 20,000 to 30,000 per day.</p>
<h2>Westwards expansion</h2>
<p>The Mayor asked TfL to prepare plans for a westward expansion of the scheme in the boroughs of Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea last year. </p>
<p>Since then TfL has been working with the boroughs to identify more than 200 suitable locations for docking stations and to develop the design and layout of the proposed expanded area. </p>
<p>The next stage will be public information sessions about the location of the docking points within the expansion area. Public information sessions begin in October at the following locations:</p>
<ul></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td><strong>Date</strong></td>
<td><strong>Time</strong></td>
<td><strong>Location</strong></td></tr>
<tr>
<td>Thursday 4 October&nbsp;&nbsp; </td>
<td>12:00 - 14:00</td>
<td>Hammersmith Lyric Theatre, King Street, W6 0QL</td></tr>
<tr>
<td>Thursday 4 October&nbsp; &nbsp; </td>
<td>17:30 - 19:30</td>
<td>Fulham Library, 598 Fulham Road, SW6 5NX</td></tr>
<tr>
<td>Saturday 6 October</td>
<td>10:00 - 14:00</td>
<td>Bush Theatre, 7 Uxbridge Road, Shepherd's Bush, W12 8LJ</td></tr>
<tr>
<td>Saturday 6 October</td>
<td>16:00 - 18:00</td>
<td>Putney Exchange Shopping Centre, Putney High Street, SW15 1TW</td></tr>
<tr>
<td>Tuesday 9 October&nbsp;&nbsp; </td>
<td>12:00 - 14:00</td>
<td>ASDA, Clapham Junction, 204 Lavender Hill, SW11 1JG</td></tr>
<tr>
<td>Tuesday 9 October&nbsp;&nbsp; </td>
<td>16:00 - 18:00</td>
<td>Southside Shopping Centre, Wandsworth Town, SW18 4TF </td></tr></tbody></table></div></p>
<p>Additional docking points will also be introduced throughout the existing operational areas to further improve customer availability. </p>
<p>Mayor of London, Boris Johnson said: 'Every Londoner should be able to take advantage of our hugely popular and iconic Barclays Cycle Hire scheme which has already brought untold benefits to London's commuters, businesses and visitors alike. </p>
<p>'Earlier this year we took the blue bikes eastwards towards Canary Wharf with enormous success, and this further expansion will bring more than two thousand new docking points south of the river as well as greatly enhancing the rest of the network.'</p>
<h2>Record numbers</h2>
<p>Today's announcement confirms the timetable for the extension which will launch late next year. </p>
<p>Public information sessions will begin in October 2012, and all docking stations are expected to be in by spring 2014.</p>
<p>The extension to the west and the introduction of new docking stations within the existing area will increase the number of bicycles by 2,400 to around 11,000 and will deliver an additional 250,000-300,000 Barclays Cycle Hire journeys each month.</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'These plans build on the huge success of Barclays Cycle Hire which has been immensely popular this summer with record number of people using the scheme during the London 2012 Games. </p>
<p>'There is huge appetite for the scheme in west and south west London and bringing Barclays Cycle Hire to those areas will make public transport more accessible in those communities.'</p>
<p>Antony Jenkins, Barclays Chief Executive, said: 'In little more than two years, Barclays Cycle Hire has become an integral part of life in central London. </p>
<p>'With this further expansion, more people will be able to enjoy the convenience which the bikes provide to many thousands of people every day.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Funding for the extension will be considered by the TfL Board </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 150 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire accepts all major credit and debit cards </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 2,000 new bicycles and around 5,000 new docking points, almost half of which will be south of the Thames&nbsp; More than 15 million hires since the launch of the scheme&nbsp; Public information sessions begin in October The Mayor and Transport";}
        
        


 