


@{ViewBag.Title = "Mayor welcomes full production of new bus for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes full production of new bus for London</h1>
        <div class="content-page-press-release">
        20 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Board approves production order for 600 new bus for London vehicles.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Creates largest fleet of hybrid buses in Europe</li>
<li>UK manufacture will create jobs and boost the economy </li>
<li>New buses will significantly cut carbon emissions and improve air quality </li></ul>
<p>The delivery of up to 600 new bus for London vehicles over the next four years has been approved today (Thursday 20th September) by the Transport for London (TfL) Board, in line with the Mayor's election promise.&nbsp;This will represent the largest order of hybrid buses ever placed in Europe and will deliver significant environmental benefits.&nbsp; </p>
<p>The 600 buses represent a 200 per cent increase in the current hybrid bus fleet which is set to grow by a further 180 vehicles already on order.&nbsp;When the final batch of new bus for London vehicles is delivered in 2016 more than 1000 hybrids buses will be in service on the streets of London.&nbsp;The first batch of 30 buses, enough to convert a full route, will enter passenger service in April next year.</p>
<p>The decision takes forward Mayor Boris Johnson's election pledge to introduce 600 of the new Routemaster-inspired vehicles that resurrect the iconic hop-on hop-off rear platform by 2016.&nbsp;The new bus for London incorporates the most innovative and cutting edge hybrid technology and is the most environmentally-friendly bus of its kind, benefiting air quality and reducing carbon emissions.</p>
<p>Hybrid technology, which combines batteries, a conventional diesel engine and an electric motor to propel the bus was first trialled by TfL in 2006.&nbsp; Hybrid buses typically deliver around a 30 per cent fuel efficiency saving and around 20 per cent reductions in NOx emissions (a harmful pollutant).&nbsp; However, in testing the new bus emitted less than half the CO2 and NOx of a current diesel bus.&nbsp;The buses also deliver better than twice the fuel economy of a standard diesel bus.&nbsp;The introduction of the 600 buses will reduce CO2 emissions in the Capital by around 20,600 tonnes a year.&nbsp;&nbsp;&nbsp; <br>&nbsp; <br>The buses are manufactured by Wrightbus in Northern Ireland which won a contract in 2009 to build eight prototypes with an option to produce the first 1000 vehicles.&nbsp;Many components of the new bus, including engines, chassis, superstructure and seats, are manufactured in the UK.&nbsp; As well as illustrating the UK's engineering prowess, the order to produce large numbers of these bespoke vehicles will create jobs and help stimulate the UK economy. </p>
<p>Mayor of London,Boris Johnson said: 'These magnificent vehicles not only ooze London style but are a testament to British design, engineering and above all innovation. Not only do they deliver significant environmental benefits, they also reinstate the traditional hop-on, hop-off rear platform and passengers love them.&nbsp;By ordering large numbers of these fantastic machines we are also creating UK jobs.&nbsp;I promised an expansion of the existing fleet and I am confident they will be as iconic in London as phone boxes, Big Ben and Beefeaters.'</p>
<p>London's Transport Commissioner Peter Hendy CBE said: 'This is terrific news for London.&nbsp;These new clean, green buses have proved a big hit with passengers who appreciate the smooth ride and spaciousness of the bus.&nbsp;They are a stunning addition to London's bus fleet and will become an increasingly familiar sight on city streets from early next year.'</p>
<p>It is anticipated that the first central London bus route, requiring approximately 30 vehicles, will be converted by the end of April next year.&nbsp;Another route could be converted by next August.&nbsp;In total, around 93 new buses will be delivered to TfL in 2013. Approximately 200 vehicles will be delivered in 2014, 250 in 2015 with the remainder in 2016.&nbsp; </p>
<p>No decision has yet been made on which routes will be converted, however the new buses will be deployed on busy central London routes where their unique characteristics, such as the open rear platform, can deliver the maximum benefits. </p>
<p>In a departure from the current bus ownership model, TfL has also taken the decision to purchase the buses directly from the manufacturer.&nbsp;This will secure a better unit price by purchasing the new buses in larger numbers rather than a bus operator ordering in smaller batches on a per route basis.&nbsp;The buses will then be allocated to the bus operators, reducing contract costs as the operator will simply quote for staffing, fuel and maintenance costs.&nbsp;&nbsp;&nbsp; </p>
<p>The new ownership model will enable us to more easily move the buses between operators when route contracts change and significantly extend the operational life of the vehicle.&nbsp;After an initial purchase outlay this ownership model will deliver savings of tens of millions of pounds over the life of the buses.&nbsp;The TfL Business Plan is due to be revised later this year and the purchase of the 600 vehicles will be delivered within TfL's current funding settlement.</p>
<p>
<hr>
</p>
<p>&nbsp;</p>
            <p><strong>Notes to Editors: </strong></p>
<ul>
<li>The operational life of the New Bus for London is 14 years in service in London </li>
<li>The Wright Group was founded 1946 and is a family owned and managed company, has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features </li>
<li>Heatherwick Studio, which designed the bus, was established by Thomas Heatherwick in 1994.&nbsp; It is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking.&nbsp; Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Creates largest fleet of hybrid buses in EuropeUK manufacture will create jobs and boost the economy New buses will significantly cut carbon emissions and improve air quality The delivery of up to 600 new bus for London vehicles over the next four years";}
        
        


 