


@{ViewBag.Title = "Monday 10 September - Busy day in central London as 'Our Greatest Team' parade through the streets of the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Monday 10 September - Busy day in central London as 'Our Greatest Team' parade through the streets of the Capital</h1>
        <div class="content-page-press-release">
        09 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Huge celebration tomorrow will see road closures in central London for the Team GB and ParalympicsGB Athletes'Parade and motorists are advised to avoid driving into central London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Stations along the Parade route are expected to be busy between midday and 19:00 and National Rail stations and services expected to be very busy after the parade has finished </li>
<li>The Mall down to Buckingham Palace is a ticketed area.&nbsp;If you don't have a ticket, please avoid the area </li>
<li>The A4, M4 and roads between Heathrow Airport and the Olympic Park will be busy today as athletes, officials and media leave London </li>
<li>Plan ahead and check out live travel updates at <a href="http://www.tfl.gov.uk/live">tfl.gov.uk/live</a> </li>
<li>The Paralympic Route Network ends operation and enforcement at midnight on Monday night, following the GB Olympic and Paralympic Athletes' Parade</li></ul>
<p>Tomorrow (Monday 10 September) the British athletes who competed in the London 2012 Olympic and Paralympic Games are to be honoured with a Parade through the streets of the Capital.</p>
<p>The Parade for 'Our Greatest Team' is due to start in Mansion House at 13:30 and finish at the Victoria Memorial at around 16:00.&nbsp;Stations along the Parade route will be busy and National Rail stations and services are expected to be very busy after the parade has finished.</p>
<p>Road closures will be in place in the City of London and Westminster and roads in the surrounding areas will be very busy.&nbsp;Drivers are advised to avoid central London wherever possible.</p>
<p>Transport for London (TfL) is asking customers and road users to take the same sensible steps they did during the Olympic and Paralympic Games - avoiding the busiest times and places and planning ahead. Check out live travel updates at <a href="http://www.tfl.gov.uk/live">tfl.gov.uk/live</a> </p>
<p>Tomorrow, the Paralympic Route Network (PRN) will operate between the Paralympic Village on the Olympic Park, Games Family accommodation in the City and Heathrow Airport as athletes and officials depart.&nbsp;Roads around Stratford and Heathrow airport are expected to be busy.&nbsp;Owing to the parade in central London, there will be a number of changes to the usual route of the PRN tomorrow.&nbsp;TfL continues to remind people that, where possible, they should avoid driving on or around the PRN until midnight on Monday when it ends operation and enforcement, following the GB Olympic and Paralympic Athletes' Parade.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Tomorrow we'll have the chance to celebrate the incredible success of TeamGB and ParalympicsGB athletes as they parade through the streets of London as well as the role of the volunteers, including our Travel Ambassadors and our staff.&nbsp; I'd like to thank Londoners for adapting their travel patterns this summer, helping the transport network play its part in the success of the Games.</p>
<p>'The parade will be a fantastic spectacle and a fitting end to a brilliant Games. The transport system will, of course, be busier than usual as a result, so please check tfl.gov.uk for details.'</p>
<p>
<hr>
</p>
            <p><strong>Notes to Editors<br></strong>TfL operates the following services: London Underground, London Buses, Docklands Light Railway, London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Stations along the Parade route are expected to be busy between midday and 19:00 and National Rail stations and services expected to be very busy after the parade has finished The Mall down to Buckingham Palace is a ticketed area.&nbsp;If you don't have a";}
        
        


 