


@{ViewBag.Title = "Restored Crystal Palace ticket hall to re-open  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Restored Crystal Palace ticket hall to re-open  </h1>
        <div class="content-page-press-release">
        24 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ticket hall restored to reflect original Victorian grandeur and tripled in size.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Half-way milestone in station upgrade to full accessibility</li></ul>
<p>The historic Grade II listed ticket hall at London Overground's Crystal Palace station was re-opened to passengers today following a refurbishment that marks the half way milestone in the station's &pound;7.5m upgrade. </p>
<p>Transport for London's (TfL's)&nbsp;Chief Operating Officer for Rail, Howard Smith, cut a ribbon giving access to the ticket hall which will now be used by 11,000 passengers each day.</p>
<p>He said: 'This is another major step in London Overground's upgrade of its network around London. </p>
<p>We have a glorious Victorian railway heritage and it's tremendous to be able to bring back into use a building that is both beautiful and perfectly suited for its renewed role.'</p>
<p>Work began earlier this year to refurbish the ticket hall, and the station has also seen its CCTV, passenger information screens, PA system and signs upgraded. </p>
<p>When the installation of three new lifts is complete early in 2013 Crystal Palace station will combine modern accessibility with this elegant and traditional ticket hall, reflecting the areas enormous historical importance.</p>
<p>The station was originally built in 1854 to serve visitors to the nearby 'Crystal Palace' which was relocated to south London from the Hyde Park Great Exhibition of 1851. </p>
<p>Its refurbishment is part of TfL's investment to improve London's transport infrastructure.</p>
<p>Other London Overground stations also being made step-free following TfL securing &pound;5m from the Department for Transport's Access for All scheme include Hampstead Heath, West Hampstead, Kensal Rise, South Tottenham and Blackhorse Road.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Dimensions of the new ticket hall are 21m x 10.6m (223 square metres) approximately three times the size of the existing hall (7m x 11m; 77 square metres) </li>
<li>A total of 150 square metres of brickwork cleaning and repairs to damaged pointing was carried out to restore the station </li>
<li>The floor of the new ticket hall is a complex Victorian bridge structure and is 10 metres above the railway line </li>
<li>The current station building dates back to 1877 and replaced a more modest structure built on the same site in the 1850s </li>
<li>The Communications Equipment Room at the station used to be a men's toilet </li>
<li>The soon to be replaced ticket hall originally housed a refreshments room </li>
<li>Work began in March this year. The final stage of the project to be completed early next year includes: lifts to provide step-free access to the platforms from the ticket hall; installation of walkways to improve access to and from the station and the removal of the existing 1980s glass structure ticket hall</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Half-way milestone in station upgrade to full accessibilityThe historic Grade II listed ticket hall at London Overground's Crystal Palace station was re-opened to passengers today following a refurbishment that marks the half way milestone in the";}
        
        


 