


@{ViewBag.Title = "Route U4 provides transport links to ProLogis Park for the first time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route U4 provides transport links to ProLogis Park for the first time</h1>
        <div class="content-page-press-release">
        25 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route U4 will be extended to serve the ProLogis Park from Saturday 29 September, providing transport links to this business development for the first time.
        
    </div>



 <div class="on-this-page">
<p>The extension of this bus route will provide important transport links for local residents and the growing workforce on the Business Park, including access to nearby Hayes and Harlington Station, Hayes Town Station, Hillingdon Hospital and Uxbridge.&nbsp;</p>
<p>These changes will also improve links to West Drayton and Stockley Park by providing an easy interchange with route U5 on Stockley Road, a short walk away from the new U4 bus stop.</p>
<p>The route will be extended from its current stand at the junction of Bourne Avenue and Conway Drive to a new stand on the private road within ProLogis Park.&nbsp;</p>
<p>This extension will also enable Nine Acres Close and a section of Bourne Road to be served by a bus service for the first time, benefiting many local residents.</p>
<p>In addition to the route extension, the Sunday daytime frequencies will be increased meaning buses will run every 15 minutes instead of every 20 minutes.&nbsp;</p>
<p>Monday to Saturday frequencies remain unchanged, running every&nbsp;eight minutes during the day and every 20 minutes on all evenings.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extension of this bus route will provide important transport links for local residents and the growing workforce on the Business Park, including access to nearby Hayes and Harlington Station, Hayes Town Station, Hillingdon Hospital and";}
        
        


 