


@{ViewBag.Title = "TfL signs partnership with VisitBritain for international distribution of the Visitor Oyster card";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL signs partnership with VisitBritain for international distribution of the Visitor Oyster card</h1>
        <div class="content-page-press-release">
        17 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has appointed VisitBritain, the national tourism agency, as their management agent for the promotion and distribution of the Visitor Oyster card internationally.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All of London's wonderful attractions are within easy reach of anyone exploring the city that has an Oyster card in their pocket"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jaco Coetzee</div>
            <div class="quotee-job-title">Head of Retail at VisitBritain</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All of London's wonderful attractions are within easy reach of anyone exploring the city that has an Oyster card in their pocket
                            
                        </p>
                    </div>
                
            
            
            <p>VisitBritain will act as the single point of contact for all distribution partners and for the sale of the highly popular transport smartcard to trade partners outside of London. </p>
<p>The partnership means inbound visitors will be able to have their Oyster card ready to go prior to arriving in London, reducing queues at airport ticket halls and London Underground stations.</p>
<p>Julie Dixon, Head of Marketing Services, TfL, said: 'Since its introduction, Oyster has offered our customers a cheaper, faster and more efficient way of paying for travel across London's transport network. </p>
<p>'With VisitBritain's worldwide contacts they will be able to promote the Oyster card to the millions of people visiting the Capital each year, helping visitors to enjoy everything London has to offer.'</p>
<p>Jaco Coetzee, Head of Retail at VisitBritain, said: 'By joining with us in this partnership, TfL will be able to use our extensive overseas network and retail operation to reach millions of international travellers who come to the UK each year.</p>
<p>'Oyster cards are the must have pass for travelling on London's vast transport network, something that some of the London 2012 superstars found when they took to riding the Tube, buses and trains to soak up the Games atmosphere and get away from the Olympic Park. All of London's wonderful attractions are within easy reach of anyone exploring the city that has an Oyster card in their pocket.'</p>
<p>Oyster is the cheapest way to pay for single public transport journeys across London. As well as on buses, trains, trams and the Tube, it can also be used on the newest addition to the Capital's massive transport system, the Emirates Air Line, the first urban cable car in the UK which offers views of London from high above the Thames.<br></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>Oyster was introduced on London's transport network in 2003. Since then 55 million Oyster cards have been issued
<li>Using Oyster, customers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. Oyster pay as you go customers are always reminded to touch in and out at the start and end of every rail journey to ensure they pay the correct fare</li>
<li>More information on Visitor Oyster can be found here visitorshop.tfl.gov.uk </li>
<li>About VisitBritain: VisitBritain is the national tourism agency, responsible for marketing Britain worldwide and developing Britain's visitor economy. A non- departmental public body, funded by the Department for Culture, Media and Sport, we work with partners in the UK and overseas to ensure that Britain is marketed in an inspirational and relevant way around the world. Our partners include government agencies such as UKTI and British Council, airlines and operators, global brands such as Samsung and the English Premier League as well as the official tourism bodies for London, England, Scotland and Wales.<br>Our priority is to deliver a four-year match-funded global marketing programme which takes advantage of the unique opportunity of the Royal Wedding, the Queen's Diamond Jubilee and the London 2012 Games. Our objective is to showcase Britain and attract new visitors from the tourism growth markets of Asia and Latin America and to reinvigorate our appeal in core markets such as the USA, France and Germany. This campaign aims to secure an additional &pound;2 billion in visitor spend.</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "VisitBritain will act as the single point of contact for all distribution partners and for the sale of the highly popular transport smartcard to trade partners outside of London. The partnership means inbound visitors will be able to have their Oyster";}
        
        


 