


@{ViewBag.Title = "TfL publishes annual complaints data as part of ongoing drive to improve customer service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes annual complaints data as part of ongoing drive to improve customer service</h1>
        <div class="content-page-press-release">
        20 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Publication of first Complaints Report demonstrates increasing transparency, a key Mayoral commitment.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Report sets out main areas of customer complaints and steps being taken to address them</li></ul>
<p>Transport for London (TfL) is set to publish regular reports on customer complaints, as part of its drive to become a more transparent and responsive organisation. </p>
<p>The reports will highlight the main areas of customer concern and what is being done to address them. </p>
<p>The reports will detail the type and volume of complaints regarding all of London's transport network. </p>
<p>This information will be published quarterly as part of TfL's Operational and Financial Performance Reports. </p>
<h2>Commitment to improvements</h2>
<p>The first set of complaints data, published this week, is for the full year 2011/12.</p>
<p>This is being done to underline TfL's commitment to improve its services by listening to customers while also enabling transport users to track where improvements are being made.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'This data is extremely valuable because it helps TfL to improve the services we deliver to our customers. </p>
<p>'Recent examples include addressing customer concerns about access to Oyster journey information. </p>
<p>'We have listened and responded by setting up Oyster online accounts. </p>
<h2>Customers at its heart</h2>
<p>'At a time of record ridership and when record investment is being spent on transport in the Capital, we want to explain what we are doing to act on the concerns of our customers. </p>
<p>'Publishing regular complaints information is another positive step in putting customers at the heart of our organisation.'</p>
<p>Janet Cooke, Chief Executive, London TravelWatch, said: 'Complaints are a great source of customer feedback. </p>
<p>'We are pleased that TfL has acted on our requests to regularly publish this data and hope it is used to understand customers' concerns and improve services. </p>
<p>'We will be having further discussions with TfL on the basis of this information and we will use it to hold them to account on behalf of passengers.'</p>
<p>The TfL Complaints Report published shows:</p>
<ul>
<li>London Underground, which carries more than 1.1billion passengers a year and runs more trains more reliably than any time in its history, has record customer satisfaction scores and a low level of complaints - 2.27 complaints per 100,000 journeys </li>
<li>Recent improvements to the provision of real-time information means London's buses scores highly for customer satisfaction and receives just 2.22 complaints per 100,000 journeys </li>
<li>London Overground passenger satisfaction has risen dramatically since TfL took responsibility for it four years ago and has the lowest ratio of complaints per 100,000 (3.25) of any of the train operating companies </li>
<li>There has been a dramatic reduction in the number of complaints received about Barclays Cycle Hire, from 112 to 29 per quarter, following a range of software enhancements and improvements to real-time data showing availability of bikes and docking points, and bike distribution </li>
<li>Improvements to how customers use Oyster were introduced in March in direct response to customer feedback, such as self-service options for Oyster customers via online accounts which enable journey and fares history, including capping and daily totals, to be viewed in detail </li>
<li>Further improvements to make TfL easier to do business with are already planned, including rationalising the range of telephone numbers customers have to use to contact TfL, enabling customers to obtain refunds from their Oyster online account, and personalising the way in which customers receive travel information and use the TfL website</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The first TfL Complaints Report for 2011/12 has been published as part of the Commissioner's report to the TfL board held on 20 September <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Part-1-Item05-Commissioners-Report.pdf">www.tfl.gov.uk/assets/downloads/corporate/Part-1-Item05-Commissioners-Report.pdf</a> </li>
<li>Future quarterly reports will be published as part of TfL's Operational and Financial Performance Report </li>
<li>Customer Satisfaction Surveys are conducted across all modes for TfL by an external contractor, to monitor changes in customer perception and satisfaction</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Report sets out main areas of customer complaints and steps being taken to address themTransport for London (TfL) is set to publish regular reports on customer complaints, as part of its drive to become a more transparent and responsive organisation. The";}
        
        


 