


@{ViewBag.Title = "TfL advice to drivers affected by Thames Water burst water main on A406 at Brent Cross";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice to drivers affected by Thames Water burst water main on A406 at Brent Cross</h1>
        <div class="content-page-press-release">
        05 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Burst water main underneath the A406 North Circular Road at Brent Cross causing serious disruption - with traffic affected in both directions.
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL is pushing Thames Water to work around the clock to complete repair works and reopen the carriageway as quickly as possible</li>
<li>Drivers should avoid the area wherever possible</li></ul>
<p>Transport for London (TfL) has advised drivers to avoid the A406 North Circular Road at Brent Cross, as a burst Thames Water main continues to cause serious disruption in the area.</p>
<p>The leak, which occurred at around 8am this morning, led to millions of litres of water flooding the carriageway, causing a full closure of the A406 in the area, with traffic being diverted via the A41 Hendon Way. </p>
<p>TfL has worked hard with Thames Water to clear the surface water from the carriageway and reopen the roads as quickly as possible. </p>
<p>The north-eastern carriageway reopened at around lunchtime and the eastbound lanes have also now reopened. However, the westbound carriageway remains closed and traffic is busy on all approaches.</p>
<p>TfL's MD of Surface Transport, Leon Daniels, has called an explanation from Thames Water and TfL is pushing Thames Water to work around the clock to complete repair works and reopen the carriageway urgently.</p>
<p>Thames Water are currently advising that repair work will last through the night and TfL is remaining in constant contact with Thames Water, with the expectation that at least one lane of traffic can be reopened westbound as soon as possible.</p>
<p>Drivers are urged to avoid the area if possible and check online at <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> or on twitter at &#64;tfltrafficnews for the latest information.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Tens of thousands of Londoners have been inconvenienced by this burst water main and I assure everyone that we are pushing Thames Water to reopen the carriageway as quickly as possible. In the meantime, drivers should avoid the area and check our website for the latest information.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is pushing Thames Water to work around the clock to complete repair works and reopen the carriageway as quickly as possibleDrivers should avoid the area wherever possibleTransport for London (TfL) has advised drivers to avoid the A406 North Circular";}
        
        


 