


@{ViewBag.Title = "Transport for London celebrates Team GB's Olympic success with limited edition Tube map   ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London celebrates Team GB's Olympic success with limited edition Tube map   </h1>
        <div class="content-page-press-release">
        06 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New version of the iconic London Underground Tube map replaces central London stations with Team GB medal winners.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a truly unique piece of sporting memorabilia - and with only 2,012 copies available I'm sure they'll be snapped up in no time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a truly unique piece of sporting memorabilia - and with only 2,012 copies available I'm sure they'll be snapped up in no time
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>A separate map celebrating the achievements of ParalympicsGB will be released later in the year</li>
<li>Just 2012 print copies of the special art map will be available for &pound;49.99 each </li></ul>
<p>A new version of the central London section of the iconic Tube map, which replaces the names of stations with Team GB's medal winning athletes, has gone on sale to celebrate the fantastic success of Team GB in the London 2012 Olympic Games.</p>
<p>The limited edition map, created by sports journalists Alex Trickett and David Brooks, highlights the achievements of all the 114 athletes and 12 horses who contributed to Team GB's medal haul. </p>
<p>Each line on the map is devoted to a sporting discipline. For example, stations on the Bakerloo line have been renamed after Athletics medallists, with Piccadilly Circus station named after Mo Farah and Marylebone station named after Jessica Ennis. </p>
<p>Stratford station, as the gateway to the Olympic Park, is renamed after Sir Chris Hoy, the most successful British Olympian of all time. </p>
<p>Appropriately, Wimbledon station is named after Andy Murray, and Zara Phillips replaces Royal Victoria, the station dedicated to her great, great, great, great, grandmother, Queen Victoria.</p>
<p>The map highlights London 2012 gold medallists, 'star' Olympians who have won four or more medals in their careers, and also those who are siblings of other Olympic medallists. </p>
<p>TfL will also produce a separate map celebrating the achievements of ParalympicsGB, which will be released later in the year. </p>
<p>Earlier this year, TfL produced a version of the Tube map replacing the names of London Underground stations with names of past Olympic greats, which proved to be one of the most popular posters that TfL has ever produced.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'London's transport network has played a key role in delivering a fantastic Olympic Games for Team GB and the whole of London, so it seems fitting to combine the iconic London Underground map with the names of our proud medal winners.</p>
<p>'This is a truly unique piece of sporting memorabilia - and with only 2012 copies available I'm sure they'll be snapped up in no time.'</p>
<p>Alex Trickett, Team GB Olympic Medallists map creator, said: 'After a truly inspirational few weeks of sport, the biggest challenge we faced was how to fit all of Team GB's medal winning athletes onto one map - and we're looking forward to facing a similar problem when we create a map celebrating ParalympicsGB.'</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<p></strong>The limited edition print goes on sale from 09:00 on 6 September via the TfL online shop, and will cost &pound;49.99. It measures 60 x 80cm, and will be printed on art grade paper. It will also include a numbered certificate listing the names of the gold, silver and bronze medal winners.<p>
<p>For more information go to: <a href="http://shop.tfl.gov.uk/">http://shop.tfl.gov.uk/</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A separate map celebrating the achievements of ParalympicsGB will be released later in the yearJust 2012 print copies of the special art map will be available for &pound;49.99 each A new version of the central London section of the iconic Tube map, which";}
        
        


 