


@{ViewBag.Title = "Vital Tube upgrade work resumes with effect of closures reduced by ten per cent compared to last year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Vital Tube upgrade work resumes with effect of closures reduced by ten per cent compared to last year</h1>
        <div class="content-page-press-release">
        11 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Huge improvements already made but work must continue to give passengers quicker, more frequent and more reliable journeys
        
    </div>



 <div class="on-this-page">
<ul>
<li>Capital open for business every weekend, with at least 80 per cent of stations served throughout, very busy weekends will see services run, and there will be no closures during December </li>
<li>Huge range of information made available to help passengers get around, including online, apps, social media, text sevices and other resources </li></ul>
<p>After a pause in major upgrade work in the lead up to, and during, the Olympic and Paralympic Games, the work to replace old track, signals and trains will re-start in mid-September.</p>
<p>This work will further improve performance and deliver reliable Tube services for Londoners&nbsp;- with faster and more frequent journeys, fewer delays and, ultimately, 30 per cent more service across the network. </p>
<p>This is vital to cope with the city's growing population and to support the growth of the London - and UK - economy.</p>
<p>The programme will include maintenance work on key lines to ensure track, points and tunnel structures remain in the best possible repair,&nbsp;while also putting in brand new signalling to replace the very old systems on the Northern, Metropolitan, District and Circle lines.</p>
<p>Every effort is being made to keep disruption to an absolute minimum and, through detailed planning, the effect of the works has been reduced by 10 per cent compared to last year and by 25 per cent compared to two years ago. </p>
<p>As much work as possible is done in the few hours each night when the Tube does not operate, but sometimes - for example with heavy work such as track replacement&nbsp;- there is no option but to close sections of line while we dig out and replace whole sections of the railway tracks.</p>
<p>In order to minimise disruption Transport for London (TfL) has:</p>
<ul>
<li>Ensured that, during each of the forthcoming weekends this year, at least 80 per cent of stations remain served and all areas of the Capital remain accessible and open for business at all times </li>
<li>Ensured that there will be no weekend Tube works during the run-up to Christmas in December so that busy shopping weekends are unaffected </li>
<li>Protected the weekend of the Lord Mayor's Show, Remembrance Sunday in November and key events at the North Greenwich Arena and Excel </li>
<li>Launched a series of Oyster 2-4-1 deals with Partner organisations (such as the EDF London Eye) to help support London's businesses and attractions </li>
<li>Where the overall impact of a set of closures could be reduced by a longer closure (beyond just a weekend) LU is looking to do so. Such a closure will be used on the Hainault branch of the Central line in the last week of October and the first few days of November</li></ul>
<p>A core part of TfL's plan has always been to give clear information to passengers about services to help them to plan their journeys and avoid disruption. </p>
<p>Ahead of each weekend closure TfL will let passengers know how their service may be affected using a wide range of channels:</p>
<ul>
<li>The <a href="http://www.tfl.gov.uk/check">TfL website</a> details all closures in advance and gives extensive information about the alternative routes available. It also offers a series of blogs and short films, which explain the work taking place </li>
<li>TfL's Journey Planner includes the latest information and allows passengers to quickly see the quickest and most convenient route </li>
<li>A regular weekend closures email goes to millions of passengers each week </li>
<li>Through social media, including increasing use of Twitter, following on from positive feedback from passengers during the London 2012 Games </li>
<li>Through a range of Apps for handheld devices - made possible by our open sharing of data and information about train timetables and planned closures </li>
<li>Posters, leaflets and announcements at stations and on trains make sure that passengers are kept informed </li>
<li>TfL's staff, including when possible the Travel Ambassadors&nbsp;- first used during the London 2012 Games&nbsp;- will provide increased help and support for passengers </li>
<li>Free mobile and email alerts are available from the TfL website </li>
<li>The latest information can also be obtained from the London Travel Info 24hrs telephone helpline: 0843 222 1234 </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home <a href="http://www.tfl.gov.uk/tfl/traveltools">www.tfl.gov.uk/tfl/traveltools</a>.&nbsp; The website also provides full information on bus replacement services during works </li>
<li>TfL is also continuing the close working with businesses, which was so successful during the Games, striving to keep them informed on and involved in the planning of essential work.</li></ul>
<p>Mike Brown, Managing Director of London Underground, said: 'In recent years, huge improvements have been made on the Tube - with upgraded trains, stations, signals and track. </p>
<p>'During the London 2012 Games the network successfully kept London moving and carried more people than at any other time in its 149 year history.&nbsp; </p>
<p>'But to continue to deliver for London, we need to keep going with the programme of improvements that will provide the extra capacity to support the city's growing population and ensure that equipment is maintained and replaced before it wears out and causes failures and disruption.</p>
<p>'I know that all closures are frustrating, and we are making every effort to keep disruption to a minimum and to provide information and alternative travel options. </p>
<p>'We have reduced the effect of the closures by 10 per cent compared with last year and at least 80 per cent of stations remain served at weekends, and key periods, including the run-up to Christmas, will see no line closures at all. </p>
<p>'We will also be using every possible way of communicating with our customers to keep them fully informed of the best way to get around.'</p>
<p>Many improvements have already been delivered as part of the Tube Upgrade Programme, including:</p>
<ul>
<li>Greater reliability - with 40 per cent&nbsp;fewer delays than there were in 2007/08 </li>
<li>An upgraded Jubilee line - now with 33 per cent&nbsp;more capacity, and a train every two minutes at peak times </li>
<li>An upgraded Victoria line - with new trains, track and signalling, the line is now twice as reliable as it was in 2007/08. There are an extra two trains each hour in the peak, which means a train every two minutes </li>
<li>From early 2013 there'll be even more trains - up to 33 every hour </li>
<li>A transformed King's Cross St. Pancras station - now four times its original size, fully accessible and with two new ticket halls </li>
<li>Other major stations upgraded - including Farringdon, Green Park, Blackfriars and Heathrow 1,2,3.&nbsp;Major work is also underway at Victoria, Bond Street and Tottenham Court Road </li>
<li>A more accessible Tube - with 66 stations now having step-free access,&nbsp; plus platform humps installed at many stations </li>
<li>Hundreds of kilometres of brand new rails with proper drainage and new track beds&nbsp; preventing failures, ensuring a smoother ride and providing a more reliable service</li></ul>
<p>These improvements, together with an enhanced programme of maintenance carried out ahead of the Games, helped London Underground during London 2012 to continue the trend of improved performance while carrying a record number of passengers.&nbsp;&nbsp; </p>
<p>The Tube carried over 60 million passenger journeys - the most in its 149-year history and up by around 30 per cent on normal levels. </p>
<p>For the weekend ahead, 15 and 16 September 2012, the following work will be taking place:</p>
<p>There are no planned track works on the DLR, London Tramlink, Central, Victoria, Piccadilly, Metropolitan or Hammersmith &amp; City lines.</p>
<h2>London Underground works</h2>
<p>On Saturday 15 and Sunday 16 September, there will be no service between Charing Cross and Camden Town on the Northern line due to works on the Tottenham Court Road upgrade project</p>
<p>On Sunday there will be a later start to service between Camden Town and High Barnet / Mill Hill East - with services starting at 8:30 southbound and 9:00 northbound.</p>
<p>On Saturday 15 September, there will be no service between Green Park and Stratford on the Jubilee line due to work to replace track crossings. </p>

<p>Rail replacement buses will operate along the route.&nbsp; </p>

<p>Similarly on Sunday 16 September there will be no service between Finchley Road and Stratford.&nbsp; </p>

<p>When we will also do some work on the tube tunnel at Bond Street.</p>
<p>On the District line on Saturday 15 September, there will be no service between Edgware Road and Wimbledon. </p>

<p>Rail replacement buses will operate.&nbsp; </p>

<p>On Sunday 16 September there will be no service between Edgware Road and Earl's Court, or between Turnham Green and Richmond.</p>
<p>The Circle line will not operate on Saturday 15 or Sunday 16 September as we put in new drainage on the track areas and installed some new signal equipment.</p>

<p>On the Bakerloo line on Sunday 16 September there will be no service between Queens Park and Harrow &amp; Wealdstone due to Network Rail works. Rail replacement buses operate.</p>

<h2>London Overground</h2>
<p>On Sunday 16 September there is no service between Highbury &amp; Islington and West Croydon until 0800 due to Network Rail track works. </p>

<p>Valid rail tickets will be accepted on local bus services. </p>

<p>On Sunday 16 September, no service between Sydenham and Crystal Palace. </p>

<p>Replacement buses operate, calling at Balham, Streatham Hill, West Norwood, Gipsy Hill, Crystal palace, Anerley, Norwood Junction, Selhurst and West Croydon.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Capital open for business every weekend, with at least 80 per cent of stations served throughout, very busy weekends will see services run, and there will be no closures during December Huge range of information made available to help passengers get";}
        
        


 