


@{ViewBag.Title = "Battersea Bridge will re-open to road traffic on Monday 16 January 2006";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Battersea Bridge will re-open to road traffic on Monday 16 January 2006</h1>
        <div class="content-page-press-release">
        12 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Battersea Bridge will re-open to all traffic on Monday 16 January 2006 - three months ahead of schedule.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is another confirmation of TfL's excellent track record of delivering major projects on time or ahead of schedule
                            
                        </p>
                    </div>
                
            
            
            <p>Engineers originally feared the bridge would have to remain closed to traffic until the summer, following the extensive damage caused when a 200-tonne barge hit the bridge on 20 September last year.</p>
<p>Mayor of London Ken Livingstone said: "It is great news that Battersea Bridge is to re-open to traffic well ahead of schedule. </p>
<p>"This is another confirmation of TfL's excellent track record of delivering major projects on time or ahead of schedule and to budget."
<p>Transport for London's Chief Operating Officer for Surface Transport, Peter Brown, said: "The re-opening of Battersea Bridge so much earlier than expected will, I am sure, be welcomed by all those who use this vital link and by businesses affected by its closure. </p>
<p>"We've been able to bring forward the completion date through a combination of repair techniques, careful planning and project management, and a lot of hard work. </p>
<p>"Special thanks go to our engineering team and our contractors, who worked across the Christmas and New Year period."<br></p>
<p>Engineers originally feared the bridge would have to remain closed to traffic until the summer, following the extensive damage caused when a 200-tonne barge hit the bridge on 20 September last year.</p>
<h2>Welcome news</h2>
<p>Mayor of London Ken Livingstone said: "It is great news that Battersea Bridge is to re-open to traffic well ahead of schedule. </p>
<p>"This is another confirmation of TfL's excellent track record of delivering major projects on time or ahead of schedule and to budget."<br><br>Transport for London's Chief Operating Officer for Surface Transport, Peter Brown, said: "The re-opening of Battersea Bridge so much earlier than expected will, I am sure, be welcomed by all those who use this vital link and by businesses affected by its closure. </p>
<p>"We've been able to bring forward the completion date through a combination of repair techniques, careful planning and project management, and a lot of hard work. </p>
<p>"Special thanks go to our engineering team and our contractors, who worked across the Christmas and New Year period." </p>
<hr>

<p>Find out more about the Congestion Charge and why registering for FastTrack makes paying the charge online, at shops and by phone faster and easier: <a href="http://www.cclondon.com/">www.cclondon.com</a> </p>
<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>
            <ul>
<li>Structural repairs to the bridge will be completed this week, allowing the bridge to safely support the weight of traffic.  The current, temporary, traffic management measures (traffic islands, signage, electricity supplies for lighting, etc) will be removed over the weekend</li>
<li>Non-critical repairs to the Grade II listed structure will continue until March, but with the key structural repairs already complete it is safe to allow traffic to use the bridge while the remaining repairs are carried out</li>
<li>TfL compressed the usual tendering process to just two weeks in order to obtain the earliest possible date for re-opening, and the contract was awarded to Mowlem in November with a firm undertaking of an early finish date</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Engineers originally feared the bridge would have to remain closed to traffic until the summer, following the extensive damage caused when a 200-tonne barge hit the bridge on 20 September last year.Mayor of London Ken Livingstone said: 'It is great news";}
        
        


 