


@{ViewBag.Title = "Blue Notes from Underground - Recorded due to popular demand";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blue Notes from Underground - Recorded due to popular demand</h1>
        <div class="content-page-press-release">
        16 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Talented London Underground (LU) busker John Albert has given in to demands from Underground commuters for him to release a CD of his well-loved Blues music.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            John, like many Underground buskers, is a very talented artist whose music brightens commuters' journeys
                            
                        </p>
                    </div>
                
            
            
            
<p>The Album, Blue Notes from Underground, is a compilation of 
John's best-loved tracks, including Georgia by Willie Nelson, Whiskey by 
Champion Jack Dupree and Stormy Monday by T-Bone Walker. </p>
<p>The album also features John's own original tracks All You People and Blues 
Muse.</p>
<p>"You must get this stuff recorded," remarked independent producer Eddie 
Martin. </p>
<p>"You don't have a CD? Then you've got to make one," said Marcus Clark, 
proprietor of I&amp;E Records. </p>
<p>Publisher Frances Quesnel remarked: "Brilliant, I love that bluesy quality in 
your voice, do you have a CD? You should do!"</p>
<p>These are only some of the expressions of appreciation John receives 
daily.</p>
<p>John has been an LU busker since March 2005, after successfully passing the 
challenging LU busking audition and being handed his official licence. </p>
<h2>Unique platform</h2>
<p>Commuters can often spot him at lunchtime playing his favourite pitch at Bank 
station.</p>
<p>LU Operations Manager Steve Charlick remarked: "John, like many Underground 
buskers, is a very talented artist whose music brightens commuters' journeys 
daily. </p>
<p>"He has been really successful playing on the Underground, which provides a 
unique platform for artists to showcase their talent in front of millions of 
commuters every week. </p>
<p>"We are really pleased with the release of Blue Notes from Underground and 
look forward to enjoying it here at London Underground."<br></p>
            <ul>
<li>Blue Notes from Underground is available to buy online at <a href="http://www.theunknownblueswarrior.com/">http://www.theunknownblueswarrior.com/</a> priced &pound;5 </li>
<li>For more information on how to apply to become an LU busker, please visit: <a href="/corporate/projectsandschemes/2435.aspx">http://www.tfl.gov.uk/tube/arts/busking</a> </li>
<li>Sponsored by Carling, the LU busking initiative was originally launched from 19 May 2003 to 6 June 2003 after LU won the right in 2001 to change National law and the local bylaws to legalise licensed busking </li>
<li>The scheme was developed as a response to customer demand for talented musicians being licensed to play at stations </li>
<li>Commercial backing from Carling helps fund the recruitment and auditioning of musicians, as well as the management of the scheme by professional artist management company, Automatic Management </li>
<li>Licensed buskers are chosen on the basis of talent, with emphasis strongly placed on meeting the wide-ranging musical tastes of Tube customers </li>
<li>Buskers are not paid by LU or Carling and rely on the generosity of Tube passengers </li>
<li>All buskers have to pass an audition in front of a judging panel and are vetted for any police convictions before they are issued a free London Underground Busking Licence </li>
<li>The scheme's overnight success resulted in its gradual expansion in the last two years: there are now 34 pitches throughout the network and 397 licensed buskers </li>
<li>Over 3,360 hours of live music are provided by buskers every week<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Album, Blue Notes from Underground, is a compilation of John's best-loved tracks, including Georgia by Willie Nelson, Whiskey by Champion Jack Dupree and Stormy Monday by T-Bone Walker. The album also features John's own original tracks All You People";}
        
        


 