


@{ViewBag.Title = "Buses replace trains between Willesden Junction and Wembley Central";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Buses replace trains between Willesden Junction and Wembley Central</h1>
        <div class="content-page-press-release">
        25 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses will replace Bakerloo line and Silverlink Metro trains between Willesden Junction and Wembley Central on the morning of Sunday 29 January until 12:20 as emergency track repair works are being carried out by Network Rail in the Stonebridge Park area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Emergency track repair works are being carried out in the Stonebridge Park area
                            
                        </p>
                    </div>
                
            
            
            <p>There will be no Bakerloo line service North of Willesden Junction during that time.</p>
<p>A rail replacement bus service running every 10 minutes will operate on Sunday morning, stopping at Willesden Junction, Harlesden, Stonebridge Park and Wembley Central.</p>
<p>Valid London Underground and National Rail tickets will be accepted on this service.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Silverlink Metro services and the Bakerloo line run together over the section of track between Queens Park and Harrow and Wealdstone</li>
<li>Stations north of Queen's Park are managed by Silverlink and Network Rail</li>
<li>The Bakerloo line runs for 23km, from Elephant & Castle in the south to Harrow & Wealdstone in the North</li>
<li>The line was opened in stages between 1906 and 1915</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will be no Bakerloo line service North of Willesden Junction during that time.A rail replacement bus service running every 10 minutes will operate on Sunday morning, stopping at Willesden Junction, Harlesden, Stonebridge Park and Wembley";}
        
        


 