


@{ViewBag.Title = "Chinese poems on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chinese poems on the Underground</h1>
        <div class="content-page-press-release">
        31 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Poems on the Underground is celebrating its twentieth birthday with a new display of six Chinese poems as part of the China in London season.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This initiative is planned as the first of a series of cultural collaborations
                            
                        </p>
                    </div>
                
            
            
            <p>Throughout February, a total of six Chinese poems spanning 2,000 years of Chinese civilisation will be on display on London Underground (LU) trains. </p>
<p>Among them are Blue, Blue is the Grass from 19 Old Poems of the Han (1st century AD), translated by Ezra Pound; and New Year 1933 by Lu Xun (1881-1936), translated by WJF Jenner.</p>
<p>In a cultural exchange between Shangai Metro and LU, two of the poems displayed across the Underground network will be: The Red Cockatoo by Po Chu-I (AD772-846), translated by Arthur Waley; Listening to a Monk from Shu Playing the Lute by Li Bai (AD701-62), translated by Vikram Seth.</p>
<p>In addition, the following two other Shanghai Exchange poems will be exhibited at Charing Cross station: Spring Rain by Du Fu, translated by Kenneth Rexroth; and Taking Leave of a Friend by Li Bai, translated by Ezra Pound.</p>
<p>This will coincide with a display of poems by William Wordsworth, William Blake, Percy Shelley and Kathleen Jamie on the Shanghai Metro.</p>
<p>The posters, designed by Tom Davidson, feature specially commissioned calligraphy by Qu Lei Lei.</p>
<p>Tamsin Dillon, Head of Platform for Art at LU, which supports Poems on the Underground, said: "We are delighted with the new series of Poems on the Underground. </p>
<p>"The Shanghai Exchange project is particularly interesting as it represents a great opportunity for commuters in London and Shanghai to gain an insight into each other's culture and national poetry. </p>
<p>"This initiative is planned as the first of a series of cultural collaborations between the Shanghai Metro and London Underground."</p>
<p>Chinese Poems on the Underground will be launched on 6 February 2006 at 18:30 at the British Library. The launch event includes readings of Chinese and English poetry: Benjamin Britten's Songs from the Chinese, with tenor Richard Edgar-Wilson and guitarist Xuefei Yang; Tan Dun's music for Crouching Tiger, with cellist David Chernaik; and a lecture by Qu Lei Lei about the art of calligraphy. </p>
<p>Tickets to the event are available to buy from the British Library priced &pound;6/&pound;4. Please telephone 020 7412 7222 for details.</p>
<p>Susanna Nicklin, director of literature at the British Council, said: "The British Council is delighted to have played a central role in this cultural exchange that will give literally millions of people in London and Shanghai a glimpse of each other's cultures."</p>
            <ul>
<li>The China in London season is supported by the GLA</li>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Platform For Art), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground have inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinski, Athens, Barcelona, Moscow and St Petersburg</li>
<li>The best selling anthologies Poems on the Underground and New Poems on the Underground, as well as New Books on the Underground 2006, which includes the Chinese poems, and Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and <a href="http://www.ltmuseumshop.co.uk">London's Transport Museum's gift shop</a></li>
<li>The posters, designed by Tom Davidson, are available from <a href="http://www.ltmuseum.co.uk">London's Transport Museum</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Throughout February, a total of six Chinese poems spanning 2,000 years of Chinese civilisation will be on display on London Underground (LU) trains. Among them are Blue, Blue is the Grass from 19 Old Poems of the Han (1st century AD), translated by Ezra";}
        
        


 