


@{ViewBag.Title = "Congestion Charge Pay-Next-Day could start three months early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge Pay-Next-Day could start three months early</h1>
        <div class="content-page-press-release">
        26 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers could now have an extra day to pay the Congestion Charge - three months earlier than originally announced.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are giving drivers an extra day to pay the Congestion Charge
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London is able to bring forward the start of 'pay-next-day' to 19 June 2006 having initially believed that the earliest technical changes needed could only have been made in September 2006. </p>
<p>Currently, drivers have until 2200 on the day in which they drive in the zone to pay the &pound;8 charge. If they pay between 2200 and midnight, the charge is &pound;10. </p>
<p>Pay-Next-Day would allow drivers to pay an &pound;8 congestion charge until midnight on the day or to pay &pound;10 until midnight on the following charging day. </p>
<p>Mayor of London Ken Livingstone said: "We are giving drivers an extra day to pay the Congestion Charge, allowing an additional day's grace for those people who have forgotten to pay on the day. This will start three months earlier than planned."</p>
<p>This is one of a number of proposed changes to the operation of Congestion Charging contained in a 'variation order' which Transport for London will be consulting on over five weeks (starting Thursday 26 January 2006). </p>
<p>A variation order is legally required before any changes to the Congestion Charge can be made. </p>
<hr>

<p>Find out more about the Congestion Charge and why registering for FastTrack makes paying the charge online, at shops and by phone faster and easier: <a href="http://www.cclondon.com/">www.cclondon.com</a> </p>
<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>
            <ul>
<li>Changes to the operation of the Congestion Charging scheme, such as allowing drivers to pay-next-day, require a variation order. Other proposed changes in this variation order include:<br>- To incentivise residents in the western extension to the Congestion Charging zone to register for their 90 per cent discounts in time for the introduction of the extension, they will be able to drive into the existing Central London zone at the discounted rate as soon as they are registered. They will be able to begin registering from October this year. The extension comes into force in February 2007<br>- Waiving the &pound;10 fee for Blue Badge holders registering for their 100 per cent discounts (to encourage early registration).</li>
<li>Extending the existing zone will bring considerable benefits. Congestion in the extended zone will be cut by 15-20 per cent. There will be 10-14 per cent less traffic within the zone during charging hours meaning that a vehicle making a journey into and back out of the extended zone would typically save five minutes<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is able to bring forward the start of 'pay-next-day' to 19 June 2006 having initially believed that the earliest technical changes needed could only have been made in September 2006. Currently, drivers have until 2200 on the day in";}
        
        


 