


@{ViewBag.Title = "Improving air quality in the Capital - Consultation begins on Low Emission Zone";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improving air quality in the Capital - Consultation begins on Low Emission Zone</h1>
        <div class="content-page-press-release">
        31 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want people living, working and visiting London to benefit from better air quality
                            
                        </p>
                    </div>
                
            
            
            <p>Public consultation begins this week on revisions to the Mayor's transport and air quality strategies to allow for proposals for a London-wide <a href="/roadusers/lez/about/2027.aspx">Low Emission Zone</a>. The consultation will run for 12 weeks.</p>
<p>The proposal aims to improve London's air quality by encouraging operators of large diesel vehicles to clean up their fleets. From 2008, diesel lorries, coaches and buses that fail to meet a minimum pollution standard face having to pay a charge if they drive high-polluting vehicles within Greater London.</p>
<p>The Mayor of London Ken Livingstone said: "The start of public consultation is a significant step towards meeting my manifesto commitment that London should become a Low Emission Zone.</p>
<p>"The proposed Low Emission Zone is the most effective way of reducing the most harmful vehicle emissions quickly and will make London one of the only cities in the world to have taken such a radical step to tackle air pollution.</p>
<p>"London suffers the worst air quality in the UK and among the worst in Europe. I want people living, working and visiting London to benefit from better air quality, and to live longer and healthier lives.</p>
<h2>Health benefits</h2>
<p>"We have already put London on the right track to better air quality - not least by becoming the only major city in the world to achieve a shift from travelling by car to public transport, cycling or walking."</p>
<p>Transport Minister Stephen Ladyman said: "The Government is committed to improving air quality. We support the Mayor's proposal for a Low Emission Zone for London, which could make a significant contribution towards achieving our air quality objectives, as well as bringing health benefits for Londoners."</p>
<p>The Chartered Society of Physiotherapy Chair of Council Sarah Bazin said: "The Chartered Society of Physiotherapy is delighted that the Mayor and Transport for London are taking serious steps towards tackling air pollution by consulting on the prospect of Greater London becoming a Low Emission Zone.</p>
<p>"Every year, physiotherapists treat thousands of people whose respiratory problems are aggravated by fumes and particles pumped out by heavily polluting vehicles.</p>
<p>"Encouraging manufacturers to clean up their engines or have their operators face a steep charge could radically reduce pollution and go a long way towards improving public health.</p>
<p>"Transport for London is leading the way in setting a higher standard for air quality, and we would urge other local authorities to follow suit."</p>
<p>Under the <a href="/roadusers/lez/about/2027.aspx">Low Emission Zone proposals</a>, from 2008, diesel-engined lorries, coaches and buses would have to meet a minimum standard (known as Euro III) for particulate emissions or pay a substantial daily charge to drive within Greater London.</p>
<p>Transport for London is considering a range of possible levels of daily charge and penalty charges for vehicles which fail to comply with the proposed Low Emission Zone emission standards. The proposed ranges are between &pound;100 and &pound;200 for the daily charge, and between &pound;500 and &pound;1000 for the penalty charge.</p>
<p>Through the fitting of particulate traps, all London buses under contract to Transport for London now meet a minimum of Euro IV emission standards for particulates. </p>
<p>Similarly, the Taxi Emissions Strategy will require all London licensed taxis to meet Euro III emission standards for particulates and nitrous oxides by mid 2008.<br></p>
            <ul>
<li>The Mayor has a statutory duty to take steps towards achieving Government and European air quality targets for pollutants in London. </li>
<li>The Low Emission Zone would cover all 33 London boroughs </li>
<li>It would operate like the existing central London Congestion Charging scheme, using cameras to identify registration numbers of vehicles driving within Greater London </li>
<li>Operators can comply with the proposed standards for 2008 by either owning a vehicle manufactured after October 2001 or by retrofitting older vehicles with an approved particulate trap such as those funded by the Government's existing Reduced Pollution Certificate scheme </li>
<li>Around 1,000 early deaths and the same number of hospital admissions are estimated to have been caused in the London area by air pollution in the last year. Many more Londoners suffer ill-health as a result of air pollution </li>
<li>Particulates - contained in exhaust smoke from diesel vehicles - are the emissions most harmful to human health. They are known to contribute to premature deaths and can carry cancer causing compounds into lungs, cause heart damage and worsen asthma </li>
<li>Transport for London is working closely with Government agencies such as the DVLA, VOSA and VCA to identify vehicles' emissions characteristics </li>
<li>Subject to the outcome of consultation, it is proposed the scheme would start with heavier lorries - ones over 7.5 tonnes - in February 2008. Coaches, buses and lighter lorries (over 3.5 tonnes) would be given more time to comply from July 2008 </li>
<li>Cars would not be included in the scheme </li>
<li>It is proposed that the standard be tightened in 2010 for particulates (to Euro IV). A standard for oxides of nitrogen (NOx) - another harmful pollutant - may also be added then. Subject to further analysis of the costs and benefits, light goods vehicles may also be included </li>
<li>Vehicle operators can find out more by calling Transport for London's Low Emission Zone helpline 08457 22 45 77 or visiting the <a href="/roadusers/lez/2549.aspx">TfL website</a> </li>
<li>The consultation will end on the 24 April </li>
<li>A further public consultation will be held later this year on the details of the scheme, should the Mayor approve the revisions to the Transport and Air Quality Strategies </li>
<li>A seminar on the Low Emission Zone will be held at City Hall on Friday 10th February 2006 to give businesses the opportunity to find out more</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Public consultation begins this week on revisions to the Mayor's transport and air quality strategies to allow for proposals for a London-wide Low Emission Zone. The consultation will run for 12 weeks.The proposal aims to improve London's air quality by";}
        
        


 