


@{ViewBag.Title = "Jail term for Tube menace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jail term for Tube menace</h1>
        <div class="content-page-press-release">
        13 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A man who was found guilty of assaulting a member of London Underground staff has been jailed for 84 days.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our staff and customers are entitled to work and travel in a safe and secure environment"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Millard</div>
            <div class="quotee-job-title">Northern line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our staff and customers are entitled to work and travel in a safe and secure environment
                            
                        </p>
                    </div>
                
            
            
            <p>Rebwar Fayek, 38, unemployed and homeless, was found guilty at Horseferry Road Magistrates court on Tuesday 10 January, of common assault on a station supervisor at Camden Town station. </p>
<p>The court heard that on Tuesday 19 July, Fayek had to be restrained by station staff after twice attacking the station supervisor, punching him a number of times in the chest and in face and causing a split lip. </p>
<p>Fayek denied the charge of common assault at an earlier hearing. </p>
<p>David Millard, Northern line General Manager, said: "We welcome the sentence in this case. </p>
<p>"London Underground will not tolerate violence and abuse towards its staff and customers, and will vigorously pursue prosecution. </p>
<p>"Our staff and customers are entitled to work and travel in a safe and secure environment."</p>
<p>Fayek was also found guilty of damaging the supervisor's uniform. </p>
<p>He will serve half of the 84-day, sentence the remainder of which will be suspended. </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rebwar Fayek, 38, unemployed and homeless, was found guilty at Horseferry Road Magistrates court on Tuesday 10 January, of common assault on a station supervisor at Camden Town station. The court heard that on Tuesday 19 July, Fayek had to be restrained";}
        
        


 