


@{ViewBag.Title = "Last chance to take part in East London Transit consultation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last chance to take part in East London Transit consultation</h1>
        <div class="content-page-press-release">
        18 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Local residents, business and stakeholders are being urged by Transport for London to comment on five possible route options for the East London Transit (ELT) between Barking Town Centre and Gallions Reach before the consultation ends on 23 January 2006.
        
    </div>



 <div class="on-this-page">
<p>Subject to future funding availability, this section of the ELT service is expected to start by 2012. </p>
<p>The ELT project will provide an improved transport service between Ilford and Dagenham Dock via Barking Town Centre and from Barking Town Centre to Gallions Reach. It is being developed in partnership with the London Boroughs of Newham, Redbridge, and Barking and Dagenham.</p>
<p>Further consultation on the detailed design of the ELT route between Ilford to Dagenham Dock Station is planned for early 2006. </p>
<p>The construction of this part of the ELT scheme is funded as part of TfL's five-year, &pound;10bn investment programme. </p>
<p>TfL consulted on the principle of the entire ELT scheme in 2001 and 82 per cent of those who responded were supportive of the project.</p>
<p>The ELT will be a bus-based transit scheme using the latest technology. As well as connecting with the London Underground, DLR, national rail and other bus services, it will provide:</p>
<ul>
<li>Fast, frequent and reliable services </li>
<li>'Real-time' travel information </li>
<li>Fully segregated busways or separate lanes, where possible, and intensive bus priority measures </li>
<li>Latest vehicle technology </li>
<li>New modern stop shelters</li></ul>
<p>Residents and businesses are being asked to comment on five route options for the section of the ELT between Barking Town Centre and Gallions Reach, and will be able to give TfL general feedback. This will then allow TfL to work with local councils to ensure that the preferred route is protected for future use. </p>
<p>A detailed brochure, including maps of the routes and further information, was sent to approximately 7,000 households in the route area. Anyone wishing to view the brochure and respond can:</p>
<ul>
<li>Go online to: <a href="http://www.tfl.gov.uk/elt">www.tfl.gov.uk/elt</a> </li>
<li>Email TfL: <a href="mailto:elt&#64;tfl.gov.uk">elt&#64;tfl.gov.uk</a> </li>
<li>Send a letter to:<br>ELT Consultation Manager<br>Barking Town Centre to Gallions Reach<br>Transport for London <br>FREEPOST NAT 22450<br>London SW1 0BR </li>
<li>Call 020 7491 0991<br></li></ul>
            <ul>
<li>The ELT project is part of the Thames Gateway Transit network which is a key element in a package of transport proposals to support growth in the Thames Gateway<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Subject to future funding availability, this section of the ELT service is expected to start by 2012. The ELT project will provide an improved transport service between Ilford and Dagenham Dock via Barking Town Centre and from Barking Town Centre to";}
        
        


 