


@{ViewBag.Title = "London Underground service update - 1800";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground service update - 1800</h1>
        <div class="content-page-press-release">
        09 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This afternoon, the RMT strike is having a minimal impact on London Underground services.
        
    </div>



 <div class="on-this-page">
<p>London Underground is running good services on 10 out of 12 lines. </p>
<p>More than ninety per cent of our 275 stations are currently open, with only 19 closed due to the non-availability of staff.<br> <br> Tim O'Toole, Managing Director, London Underground said: "The RMT strike has had very little effect on Tube services today. Nearly all lines, with the exception of the Northern line, are running normal services and only 19 out of 275 stations are closed. </p>
<p>"We intend to maintain a good service throughout the day and to get people home from work this evening. <br> <br>"I want to thank the majority of London Underground staff for the dedication they have shown in maintaining services. </p>
<p>"The agreement we signed with station staff a year ago was hailed at the time by the RMT as the best in the entire UK rail industry, providing a 35-hour week with 52 days' leave each year. I am committed to implementing that agreement.</p>
<p>"Ninety per cent of station staff have signed up to the new rosters which have also been validated for safety. </p>
<p>"I hope the RMT will now return to the negotiating table so that we can iron out any remaining problems and start the 35 hour week on 5 February."</p>
<h2>Service information</h2>
<p>The Northern line is running with severe delays due to unconnected unofficial industrial action at Morden depot. The Piccadilly line is also running with severe delays.</p>
<p>TfL is running over 7,000 buses this afternoon and additional TfL staff are out helping passengers on the network.</p>
<p>Before they travel, passengers should check local radio and television travel bulletins or call 020 7222 1234 for up to the minute travel information.</p>
<p>Passengers are strongly recommended to plan their journey carefully in advance so that they know how to get to their destinations using an alternative route if necessary.</p>
<p>Strike action by the RMT is scheduled to end at 1830 but London Underground anticipates that disruption will continue throughout the remainder of today.</p>
<p><strong>London Underground lines<br></strong>The following services are currently running (1800) on London Underground lines:</p>
<ul>
<li>Delays on the Northern and Piccadilly lines</li>
<li>A good service is operating on all other London Underground lines </li></ul>
<p><strong>London Underground stations</strong><br>The following London Underground stations are closed at 1800hrs.</p>
<p>Passengers are urged to check before they travel as stations may re-open at any time:<br>Borough, Bow Road, Caledonian Road, Chalk Farm, Covent Garden, Edgware Road (Bakerloo line only), Goodge Street, Hampstead, Kilburn Park, Lambeth North, Maida Vale, Manor House, Mornington Crescent, Pimlico, Regent's Park, Stepney Green, Swiss Cottage, Tufnell Park, and Warren Street.</p>
            <ul>
<li>For 24-hour information on public transport in London, please call: 020 7222 1234</li>
<li>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </li>
<li>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </li>
<li>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground is running good services on 10 out of 12 lines. More than ninety per cent of our 275 stations are currently open, with only 19 closed due to the non-availability of staff.Tim O'Toole, Managing Director, London Underground said: 'The RMT";}
        
        


 