


@{ViewBag.Title = "London Underground and Arsenal present The Final Salute to Highbury";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground and Arsenal present The Final Salute to Highbury</h1>
        <div class="content-page-press-release">
        12 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, London Underground's (LU) public art programme, and Arsenal Football Club today officially unveiled a 52-metre long mural at Arsenal station to commemorate&nbsp;the team's historic residence at Highbury is due to come to an end in 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Successful collaborations like this... are at the heart of Platform for Art's community projects
                            
                        </p>
                    </div>
                
            
            
            <p>Players Thierry Henry, Robert Pires and Ashley Cole were present to cut the ribbon on the mural, titled <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/artists/arsenal.asp">The Final Salute</a>, which depicts the stadium's 93-year history and offers a glimpse at the club's roots in Woolwich and its future at Emirates Stadium.</p>
<p>The mural is situated along the passageway to the ticket office, where it will remain until after Arsenal's stay at Highbury.</p>
<p>Arsenal Captain Thierry Henry said: "It's wonderful the Arsenal community has come together to depict Highbury's history and express in this way what the stadium means to them. <br>"It was fantastic to see the finished piece and trace the club's steps in this way. </p>
<p>"It's very fitting that the only football club to have a Tube station named after it should display such a wonderful interpretation of the club's history here."</p>
<p>Highbury's local Underground station, Gillespie Road, was re-named Arsenal on 5 November 1932 after a campaign by legendary Arsenal manager Herbert Chapman. </p>
<p>The station, along with the Piccadilly line, celebrates its Centenary during 2006.</p>
<p>
<h2>Community involvement</h2>
<p>
<p>The original Piccadilly line, which opened on 15 December 1906, consisted of 15.3km twin tunnels from Finsbury Park to Barons Court and a short section of surface track on to Hammersmith. A branch to Aldwych opened the following year. </p>
<p>The line then expanded rapidly during the 1930s, when extensions to South Harrow and Arnos Grove were opened in 1932 and those to Hounslow West, Uxbridge and Cockfosters were completed in 1933. </p>
<p>The Piccadilly line now covers 71km and serves 52 stations between Cockfosters and Heathrow or Uxbridge. A further extension will open in 2008, when the line will begin serving Terminal 5 at Heathrow Airport.</p>
<p>Tamsin Dillon, Head of Platform for Art, said: "Platform for Art has collaborated with Arsenal Football Club and Greenwich Mural Workshop to produce The Final Salute, which celebrates the passionate memories of Arsenal's 93-year residence at Highbury and its proud community involvement. </p>
<p>"Successful collaborations like this, bringing together skilled practitioners and community members, are at the heart of Platform for Art's community projects."</p>
<p>The mural was created by primary and secondary school children from in and around Highbury, local residents, disabled supporters and over-60s who have close ties with the club. </p>
<p>All three collaborators also engaged and consulted LU staff and Arsenal players and fans in the design of this mural. </p>
<p>Photographic and other relevant material has been gathered from fans and Arsenal's museum to contribute to the completed work. </p>
            <ul>
<li>Arsenal Football Club (AFC) has been based at Highbury for 93 years</li>
<li>Arsenal celebrates its final season at Highbury this season (August 2005-May 2006) before its move to the nearby Emirates Stadium</li>
<li>Greenwich Mural Workshop is a company with 29 years' experience of creating site-specific public murals. It has recruited a group of specialist artists with particular skill in digital and photographic media to lead the workshops and compose the imagery for the mural<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Players Thierry Henry, Robert Pires and Ashley Cole were present to cut the ribbon on the mural, titled The Final Salute, which depicts the stadium's 93-year history and offers a glimpse at the club's roots in Woolwich and its future at Emirates";}
        
        


 