


@{ViewBag.Title = "London trials Voice of the Buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London trials Voice of the Buses</h1>
        <div class="content-page-press-release">
        17 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 17 January, Transport for London launched a pilot to test a potential new icon for the Capital - the Voice of the Buses.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            iBus uses a combination of technologies that will be able to pinpoint all of the city's 8,000 buses
                            
                        </p>
                    </div>
                
            
            
            <p>Radio presenter Emma Hignett was chosen from a shortlist of professional voiceover artists to record next stop announcements for trial on a specially selected test route. </p>
<p>If her voice is suitable, she could become one of the symbols of London - the voice that tourists, daytrippers and ordinary Londoners will trust to give them information about their bus journey. </p>
<p>The project, which includes visual displays as well as voice announcements, will also make it much easier for visually and hearing-impaired passengers, and those with learning difficulties, to use London buses. </p>
<p>Five buses on test route 149, run by bus company Arriva, have been kitted out with displays for visual 'next stop' information. </p>
<p>Emma's voice will be heard on the buses' existing public address systems. </p>
<p>At the end of the eight-week trial, a sample of local bus users will be asked for their feedback. Researchers are also asking for comments from focus groups of people with specific concerns, including those who don't speak English as their first language, and people with visual or hearing impairments, or learning difficulties.</p>
<p>The audio-visual trial is part of a much bigger project to improve bus reliability and give passengers better information in real time via Countdown (the 'next bus' information at stops), mobile text messaging and <a href="http://journeyplanner.tfl.gov.uk/">Journey Planner</a>.</p>
<p>Currently, buses are tracked using a beacon system. As the bus goes past a roadside beacon, a signal is sent to a central control point and then relayed to bus operators and the Countdown displays at bus stops. If the bus gets caught in traffic, the system can't 'see' it until it reaches the next beacon. </p>
<p>The new system, called iBus, uses a combination of technologies, including satellite tracking and GPRS data transfer, that will be able to pinpoint all of the city's 8,000 buses and relay information to the driver, garage, and the central control point, CentreComm. </p>
<p>The precision of the information means that buses along each route can be more evenly spaced, and waiting times on each bus stop display will be more accurate. </p>
<p>iBus will start to roll out across London's 90 bus garages in 2007, and will eventually be used on all 700 routes.</p>
<hr>

<p>"iBus has the potential to transform London's bus network, not only in terms of reliability but also in the way people use the buses. It's not just visitors to the Capital who will benefit from next stop information and accurate waiting times at stops; it's all Londoners. The point of this trial is to make sure we get the details right to make it a success."<br><strong>Martin Davey, iBus Project Director, Transport for London</strong></p>
<p>"I moved to London when I was 21 and London is where I consider 'home' to be. So I'm already excited about being the voice of just one bus route. If I end up as the voice of all 700 routes, I'll be heard by over six million people every day. That's more people than the entire population of Scotland."<br><strong>Emma Hignett, candidate for London's Voice of the Buses</strong></p>
            <ul>
<li>Londoners may have already heard Emma Hignett on Capital Gold, (2003-2004) and Jazz FM (1996-1998). People with senstive teeth all over the UK may remember her as the voice behind the Sensodyne toothpaste ads. She has also been a weathergirl in Wales and a radio co-host with Jerry Springer. She lives in Ealing and currently works as a radio presenter for Darlington's Alpha FM</li>
<li>Route 149 is operated by Arriva and runs from Edmonton Green to London Bridge</li>
<li>The infrastructure behind the trial will be supplied by Siemens, as part of a 10-year contract awarded in April 2005</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Radio presenter Emma Hignett was chosen from a shortlist of professional voiceover artists to record next stop announcements for trial on a specially selected test route. If her voice is suitable, she could become one of the symbols of London - the voice";}
        
        


 