


@{ViewBag.Title = "London Underground urges the RMT to suspend strike action following further talks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground urges the RMT to suspend strike action following further talks</h1>
        <div class="content-page-press-release">
        07 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Get the latest travel updates in the event of a strike on 8-9 January
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) met the RMT on Friday evening, 6 January to discuss their outstanding concerns.</p>
<p>Mike Brown, LU Chief Operating Officer, said: "A year ago a deal was reached which was hailed by both sides. London Underground is sticking to that agreement.<br><br>"This strike is completely unnecessary. This deal gives Tube station staff a 35-hour working week and 52 days' holiday a year. </p>
<p>"It was agreed by the RMT over a year ago and hailed by them as groundbreaking. When put to a vote their members backed it 30-to-one. </p>
<p>"The new staff rosters have been agreed at 90 per cent of stations. </p>
<p>"There will be no job losses and no compromise on safety.<br><br>"We met with the RMT informally last night and remain ready to do so again at any time. We made clear that we remain committed to our agreement and we aim to implement the 35-hour working week with 52 days' leave for all station staff on February 5 this year. </p>
<p>"This leaves plenty of time to resolve any outstanding issues without the need for industrial action. We call on the RMT to suspend their industrial action and continue discussions.<br><br>"All this strike will do is disrupt Londoners to one degree or another and lose those who take part another day's pay. It will not alter our commitment to proceed with an agreement reach with the RMT and other trade unions more
<script><!--
D(["mb","than a year ago.&quot;<br /><br /><br />******************************<wbr />******************************<wbr />********<br />Notice from London Underground Limited (LUL).<br /><br />This email and its contents are confidential and intended solely for<br />the person to whom it is addressed.  If you are not the intended<br />recipient, please notify the sender and delete this email from your<br />system immediately.  Do not disclose, use, store or copy the contents<br />in any way.<br />Views expressed in this email are the individual sender\'s except<br />where specifically stated to be the views of LUL.<br />LUL hereby excludes any warranty or liability as to the quality or<br />accuracy of the contents of this email and any attached transmitted<br />files.<br /><br />Copyright in this email belongs to LUL.<br />When communicating with anyone in LUL by email you consent to the<br />monitoring and recording of that correspondence by LUL.<br /><br />London Underground Limited<br />Registered Office: 55 Broadway, London, SW1H 0BD<br />Registered in England and Wales no. 1900907<br />LUL is a company controlled by a local authority within the meaning<br />of Part V of the Local Government and Housing Act 1989.<br />The controlling Authority is Transport for London.<br />******************************<wbr />******************************<wbr />********<br /><br />",0]
);
D(["ce"]);
D(["ms","644"]
);

//--></script>
 than a year ago."</p><a name="strike">
<hr>
<a name="strike"><strong>RMT strike: 8-9 January </strong></a>
<p>If the proposed RMT strike goes ahead it will affect services from 1830 on Sunday evening and all day Monday.</p>
<p>As on New Year's Eve, LU would again seek to run the best service possible on these days.</p>
<p>Passengers are advised to plan their journeys in advance and check this website for the latest news.</p>
            <ul>
<li>For 24-hour information on public transport in London, please call: 020 7222 1234. 
</li><li>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> 
</li><li>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</li><li>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></li></ul>

            
            

        </a>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) met the RMT on Friday evening, 6 January to discuss their outstanding concerns.Mike Brown, LU Chief Operating Officer, said: 'A year ago a deal was reached which was hailed by both sides. London Underground is sticking to that";}
        
        


 