


@{ViewBag.Title = "London set to host the start of the Tour de France in 2007";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London set to host the start of the Tour de France in 2007</h1>
        <div class="content-page-press-release">
        24 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
I want London to become a world-class cycling city
</p>
</div>
<p>Following the decision by Tour de France organisers the Amaury Sport Organisation, to award London the Grand Depart of the 2007 Tour de France, the Mayor of London Ken Livingstone said: "I am proud to announce that London has successfully bid to host the Grand Depart of the Tour de France in July 2007. </p>
<p>"Hosting the first stage of the legendary French cycle race will raise the profile of cycling in the Capital, attract visitors and promote the Capital as a venue for international sporting events.</p>
<p>"Cycling in the Capital is growing faster than anywhere else in Europe. </p>
<p>"I want London to become a world-class cycling city and Transport for London has increased investment in cycling from &pound;5.5m in 2000, to &pound;24m this year.</p>
<p>"Today's announcement is great news for cycling and for London and we will unveil the route at the Queen Elizabeth II Conference centre on 9 February."<br /></p>
<ul>
    <li>The Tour de France, which began in 1903, is the most famous cycling race in the world and is the largest annual sporting event in the world. It is watched by as many as 15 million people on the roadside every year and generates two billion cumulated television viewings
    </li>
    <li>The Grand Depart is the start of the Tour and every three to four years takes place outside of France. In 2007, the opening ceremony will take place on Friday 6 July. The Prologue (a time trial) will take place on Saturday 7 July and Stage One (a point-to-point race) on Sunday 8 July
    </li>
    <li>Details of the London route will be unveiled at a press conference in the QEII Conference Centre on 9 February 2006
    </li>
    <li>From 9 February, you can find out everything you need to know about the event at www.tourdefrancelondon.com
    </li>
    <li>This press release was originally issued by the Mayor of London's press office at the Greater London Authority. For further information about today's announcement, please contact Steve Taylor, Senior Press Officer, Transport for London: 020 7126 4377/07734 493261/<a href="mailto:stephentaylor&#64;tfl.gov.uk">stephentaylor&#64;tfl.gov.uk</a>. TfL main press office number: 0845 604 4141. For non-media enquiries please call the GLA's Public Liaison Unit on 020 7983 4100.</li>
</ul>
<p ><br /></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the decision by Tour de France organisers the Amaury Sport Organisation, to award London the Grand Depart of the 2007 Tour de France, the Mayor of London Ken Livingstone said: 'I am proud to announce that London has successfully bid to host the";}
        
        


 