


@{ViewBag.Title = "London Underground Service Update - 23:00hrs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground Service Update - 23:00hrs</h1>
        <div class="content-page-press-release">
        08 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This evening, the RMT strike has had virtually no impact on London Underground services.  London Underground is running good services on all lines. The only exception is the District line which has minor delays, unconnected with the RMT action.
        
    </div>



 <div class="on-this-page">
<p>The majority of station staff are working normally. Only 12 out of the 275 stations served by London Underground have closed this evening due to the non-availability of staff.</p>
<p>A London Underground spokesperson said: <br>" This evening, the RMT strike has had virtually no impact on London Underground services. London Underground is running full services on all lines. Almost all stations are open and the majority of staff are working normally. We expect to provide services throughout the evening, and on all lines. </p>
<p>"Before they travel, passengers should check the local radio and television travel bulletins or call 020 7222 1234 for up to the minute travel information.</p>
<p>"We strongly recommend that passengers plan their journey carefully in advance so that they know how to get to their destinations using an alternative route if necessary."</p>
<p><strong>London Underground lines:</strong></p>
<p>The following services are currently running (23:00 hrs) on London Underground lines (see <a href="http://www.tfl.gov.uk/tfl/realtime/planned.asp">www.tfl.gov.uk</a> for planned weekend engineering):</p>
<p><strong>Bakerloo</strong> Good Service. <br><strong>Central</strong> Good Service.<br><strong>Circle</strong> Good Service.<br><strong>District</strong> Minor delays (due to Customer Incident)<br><strong>East London</strong> Good Service.<br><strong>Hammersmith</strong> & City Good Service.<br><strong>Jubilee</strong> Good Service.<br><strong>Metropolitan</strong> Good Service.<br><strong>Northern</strong> Good Service.<br><strong>Piccadilly</strong> Good Service.<br><strong>Victoria</strong> Good Service.</p>
<p><strong>London Underground stations:</strong></p>
<p>The following London Underground stations are closed:</p>
<p>Blackhorse Road, Caledonian Road, Clapham Common, Clapham South, Covent Garden, Hampstead, Holloway Road, Manor House, Mornington Crescent, Oval, Upminster Bridge, Warren Street</p>
<p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <li class="prnotescopy">For 24-hour information on public transport in London, please call: 020 7222 1234. 
</li><li class="prnotescopy">TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime" lid="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> 
</li><li class="prnotescopy">Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner" lid="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</li><li class="prnotescopy">Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts" lid="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The majority of station staff are working normally. Only 12 out of the 275 stations served by London Underground have closed this evening due to the non-availability of staff.A London Underground spokesperson said: ' This evening, the RMT strike has had";}
        
        


 