


@{ViewBag.Title = "LU cuts energy use at stations by almost a quarter, reveals report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU cuts energy use at stations by almost a quarter, reveals report</h1>
        <div class="content-page-press-release">
        11 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Environment Report for 2005 (1MB) , released this month, reveals significant successes and achievements in energy management and waste recycling.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The report highlights waste recycling figures well above industry average
                            
                        </p>
                    </div>
                
            
            
            <p>This year 54.52 grams of CO2 were produced per passenger kilometre, a decrease of 1.38g per passenger kilometre or a total reduction of over half a tonne of CO2.</p>
<p>Richard Barton, LU Environmental Manager, said: "London Underground is working hard to provide a safe reliable and clean Tube service, as well as one that is as energy efficient as possible.</p>
<p>"We are pleased with the progress made this year. It demonstrates LU's commitment to energy efficiency with a reduction of almost a quarter in station energy consumption sustained for the past two years.</p>
<p>"Our PPP companies, Metronet and Tube Lines, have demonstrated their commitment to environmental management through their successful certification to ISO 14001, the international standard for environmental management systems.</p>
<p>"The report also shows LU's dedication to recycling waste and our role in helping protect London's wildlife and green spaces."</p>
<p>LU's station energy consumption in 2005 was reduced by 23.7 per cent compared to baseline figures from the previous five years. </p>
<h2>Energy competition</h2>
<p>This success is partly due to the Station Energy Challenge, a competition which each year rewards the station that manages to save the most energy. </p>
<p>Ealing Broadway was this year's proud winner, followed by runner-up Charing Cross. The Bakerloo line took the title of line winner. </p>
<p>Energy-saving methods such as turning off lights and escalators in engineering hours and keeping air conditioning down have allowed LU to dramatically reduce energy consumption. </p>
<p>LU also uses energy saving devices such as the regenerative braking system which transforms the heat produced by braking into new energy. Regenerative braking features on 40 per cent of LU's train fleet.</p>
<p>The report also reveals that LU's purchase of renewable energy (such as wind power) has increased by 3.7 per cent. Eighteen per cent of the energy purchased by LU and mainly used in stations and offices is now sourced from renewable energy.</p>
<p>The environment report highlights waste recycling figures well above industry average. Tube Lines implemented a recycling scheme for newspaper waste at stations terminus and depots. </p>
<p>Additionally, LU operates a clothes recycling service: uniforms are shredded and used as stuffing material for cushions and furniture. </p>
<p>Furthermore, 87 per cent (64,000 tonnes) of all waste associated with track replacement works undertaken by Metronet Rail and Tube Lines as part of TfL's &pound;10bn 5-Year Investment Programme is recycled.</p>
<p>Finally, LU provided information from its most recent network-wide survey of trackside ecology to Greenspace Information for Greater London to help protect and study London's wildlife and open spaces.</p>
            <ul>
<li>Read the <a href="/corporate/about-tfl/publications/1478.aspx">Environment Report for 2005 (1MB) </a></li>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube </li>
<li>LU aims to ensure that the improvements are delivered in an environmentally friendly and sustainable way </li>
<li>LU is committed to:<br>- Identifying and managing it's environmental impact<br>- Energy efficiency, whole life cost and the principles of sustainability to be included in the planning, design, operation and decommissioning of all LU services and operations<br>- Assessing environmental impacts prior to making major investment decisions<br>- Setting clear targets for the purchase of renewable energy and levels of energy use<br>- Using environmentally responsible procurement and disposal arrangements for the goods and services bought and consumed<br>- Monitoring, protecting and enhancing wildlife habitats<br>- Ensuring that instruction, guidance and training are in place to raise staff awareness and to enable all staff to contribute towards caring for the environment<br>- Playing a key role applying the Mayor's environmental strategies<br>- Reporting on performance on an annual basis</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year 54.52 grams of CO2 were produced per passenger kilometre, a decrease of 1.38g per passenger kilometre or a total reduction of over half a tonne of CO2.Richard Barton, LU Environmental Manager, said: 'London Underground is working hard to provide";}
        
        


 