


@{ViewBag.Title = "LU to implement shorter working week on 5 February";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU to implement shorter working week on 5 February</h1>
        <div class="content-page-press-release">
        17 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is to continue with the implementation of the shorter working week on 5 February as planned, after concluding discussions with the RMT.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The agreement that will be implemented is exactly the same as it was before the RMT strike action
                            
                        </p>
                    </div>
                
            
            
            <p>LU Managing Director, Tim O'Toole said: "London Underground will proceed with the implementation of the shorter working week for all station staff on February 5, as planned.</p>
<p>"The agreement that will be implemented is exactly the same as it was before the RMT strike action. </p>
<p>"The only purpose the strikes served was to inconvenience Londoners.</p>
<p>"This deal is a fair deal and ensures safe staffing levels at all London Underground stations. </p>
<p>"There will be no job cuts and no extra cost to farepayers.</p>
<p>"The new staff rosters will now be implemented at all 44 London Underground station groups on February 5. </p>
<p>Safety decisions are the obligation and responsibility of management, and they will continue to be taken on the basis of the London Underground Safety Case."</p>
<p>The RMT is recommending their members accept the implemetation of the shorter working week in a referendum that will end on 27 January.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU Managing Director, Tim O'Toole said: 'London Underground will proceed with the implementation of the shorter working week for all station staff on February 5, as planned.'The agreement that will be implemented is exactly the same as it was before the";}
        
        


 