


@{ViewBag.Title = "LU to implement Shorter Working Week as planned";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU to implement Shorter Working Week as planned</h1>
        <div class="content-page-press-release">
        27 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today said that it was proceeding with the introduction of new rosters to implement a shorter working week for Tube station staff on 5 February, as planned.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            RMT members have voted to accept implementation of the new rosters
                            
                        </p>
                    </div>
                
            
            
            <p>The RMT union has today advised LU that, following their recent attempted strike action, their members have voted to accept implementation of the new rosters.  </p>
<p>RMT has also called off proposed industrial action short of a strike over alleged safety breaches during the recent attempted strikes.</p>
<p>An LU spokesperson said: "The agreement is exactly the same as it was before the attempted RMT strike action. The new staff rosters will be implemented across all LU stations on February 5, as planned.</p>
<p>"The shorter working week has already been endorsed by members of the TSSA union.</p>
<p>"The shorter working week agreement is a fair deal which gives station staff a shorter 35-hour working week and safe staffing levels at all Tube stations.  </p>
<p>"There will be no job cuts and the deal comes at no extra cost to farepayers."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The RMT union has today advised LU that, following their recent attempted strike action, their members have voted to accept implementation of the new rosters.RMT has also called off proposed industrial action short of a strike over alleged safety breaches";}
        
        


 