


@{ViewBag.Title = "Mans best friend goes Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mans best friend goes Underground</h1>
        <div class="content-page-press-release">
        27 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, the Underground public art programme, is pleased to present a new installation by Suki Dhanda, Year of the Dog, on display from 29 January to 31 March 2006 at: King's Cross, London Bridge, Charing Cross, Tottenham Court Road, Marble Arch, Stratford, Mile End, Highbury & Islington, Liverpool Street, St Paul's, Westminster and Leicester Square.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The exhibition coincides with the arrival of the Chinese Year of the Dog
                            
                        </p>
                    </div>
                
            
            
            <p>Platform for Art and the Photographer's Gallery have teamed up to celebrate this year's Chinese zodiac, year of the Dog, with an exhibition of 10 portraits of dogs and their owners by photographer Suki Dhanda.</p>
<p>Dhanda spent a month researching and exploring the diversity of dog ownership in London, and observing dogs interacting with their owners at home and in public spaces. </p>
<p>The artist captured on film the way dogs use movement to communicate intentions and emotions.</p>
<p>Platform for Art is also inviting the public to submit photographs of friends and family with their dogs for a special exhibition on the Platform for Art website. </p>
<p>Visitors to the website will be able to upload their pictures between 29 January and 28 February 2006. </p>
<p>The selected pictures will be exhibited on the site for one year. Please visit: <a href="http://www.tfl.gov.uk/pfa">www.tfl.gov.uk/pfa</a> to find out how to submit and view your images.<br></p>
            <ul>
<li>The Year of the Dog is one of three projects lead by Platform for Art's Creative Communities Programme linked to the China in London season (January-April 2006) to celebrate the Chinese New Year. The other two projects are China Dreaming at Southwark Underground station (7 February-30 April) and Chinese Treasures at Westminster Underground station (14 February-30 April) 
</li><li>Between 29 January and 31 March, Platform for Art will distribute free sets of postcard images taken from the Year of the Dog posters. These postcards will be in a limited edition of 1,000 per poster 
</li><li>Suki Dhanda was born in 1969 and lives and works in London. She studied photography at Plymouth College of Art and has become a successful photographer and regular contributor to OM: Observer Magazine. She is also one of eight photographers commissioned by the British Council to focus on aspects of Contemporary Muslim Experience in Britain. The results of this project are currently on international tour, and have been exhibited in London at the National Portrait Gallery 
</li><li>The Photographers' Gallery is one of the UK's primary venues for photography with a programme of exhibitions, events and education projects that promote the very best of international and UK photography. Please visit <a href="http://www.photonet.org.uk">www.photonet.org.uk</a> or call 020 7831 1772 for more information 
</li><li>For more information about Platform for Art please visit <a href="http://www.tfl.gov.uk/pfa">www.tfl.gov.uk/pfa</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Platform for Art and the Photographer's Gallery have teamed up to celebrate this year's Chinese zodiac, year of the Dog, with an exhibition of 10 portraits of dogs and their owners by photographer Suki Dhanda.Dhanda spent a month researching and exploring";}
        
        


 