


@{ViewBag.Title = "Mayor appoints new Transport Commissioner";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor appoints new Transport Commissioner</h1>
        <div class="content-page-press-release">
        17 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ken Livingstone, Mayor of London and Chair of Transport for London, today announced the appointment of Peter Hendy as the Commissioner of Transport for London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am delighted to have this great opportunity to lead the UK's most impressive transport organisation forward
                            
                        </p>
                    </div>
                
            
            
            <p>Peter Hendy has been Transport for London's Managing Director of Surface Transport since 2001 and has overseen the transformation of London's bus services. He is also Chair of the Commission for Integrated Transport.</p>
<p>Ken Livingstone said: "I am delighted that Peter will be taking the helm at Transport for London and leading the major investment and improvement in transport services across the Capital. </p>
<p>"During his time as Managing Director of Surface Transport, Peter has overseen the successful transformation of London's bus services. </p>
<p>"As Commissioner, he will have the support and expertise of an excellent team. I have no doubt that, working with Tim O'Toole, who is driving forward improvements on the Tube, and Jay Walder, who is overseeing the 5-year investment programme, Peter will provide inspirational leadership for Transport for London."</p>
<p>"Peter Hendy said: "I am delighted to have this great opportunity to lead the UK's most impressive transport organisation forward through the Investment Programme and towards a successful 2012 Olympics. </p>
<p>"Everyone at TfL can feel proud of what we have achieved since we started five years ago - we have proved TfL can deliver better services, build projects on time and budget, innovate and support regeneration. </p>
<p>"The challenge facing TfL is to build on this success and deliver the largest investment in our transport system for a generation, and prepare London for the 2012 Olympics. </p>
<p>"We will continue to carry record numbers of passengers and strive to give them the best services possible. My job is to make this happen and with the expertise and professionalism here at TfL I am confident that we can meet this challenge."<br></p>
            <ul>
<li>Peter Hendy will take up the post of Transport Commissioner on February 1 2006</li>
<li>Peter Hendy was appointed Transport for London's Managing Director of Surface Transport 2001. He was formerly deputy director UK Bus for FirstGroup, responsible for bus operations in London and southern England, bus development, light rail and operations in Hong Kong. He was previously MD of CentreWest Buses, managing it in LT ownership, leading it through a management buyout with staff involvement, and subsequent expansion. He started his transport career in 1975 as an LT Graduate trainee. Peter is also Chair of the Commission for Integrated Transport</li>
<li>Transport for London is responsible for London's buses, the London Underground, Docklands Light Railway (DLR) and the Croydon Tramlink. It also runs London River Services, Victoria Coach Station and London's Transport Museum, in addition to providing transport for users with reduced mobility via Dial-a-Ride </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Peter Hendy has been Transport for London's Managing Director of Surface Transport since 2001 and has overseen the transformation of London's bus services. He is also Chair of the Commission for Integrated Transport.Ken Livingstone said: 'I am delighted";}
        
        


 