


@{ViewBag.Title = "More than 100,000 passengers switch from cash to smarter, faster Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More than 100,000 passengers switch from cash to smarter, faster Oyster</h1>
        <div class="content-page-press-release">
        17 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100,000 people have switched to Oyster since the New Year to take advantage of cheaper or frozen fares.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster speeds up the network, reduces queues and saves people money
                            
                        </p>
                    </div>
                
            
            
            <p>The 2006 Transport for London fares package encourages people to use an Oyster smartcard rather than cash as it speeds up the bus network, reduces queues and saves passengers money on day and single fares. </p>
<p>Mayor of London, Ken Livingstone said: "Since January, thousands more people have switched from cash to Oyster so they can take full advantage of cheaper fares. </p>
<p>"Three million people now use Oyster card, which is helping to reduce queues, speed up journeys and improve the efficiency of the network."<br></p>
            <ul>
<li>Customers can get/top up Oyster at more than 2,300 local newsagents; at all Tube station ticket offices; at the <a href="https://sales.oystercard.com/oyster/lul/entry.do">Oyster online shop</a>; over the phone on 0870 849 9999; at all <a href="/gettingaround/1082.aspx">London Travel Information Centres</a> and at some National Rail ticket offices </li>
<li>On the Tube, DLR and participating National Rail services customers must touch in and touch out at the start and end of every journey to pay the right fare. Bus and tram customers must touch in only at the start of each journey </li>
<li>Paying as you go does not apply to most National Rail trips. TfL has presented detailed proposals to the Train Operating Companies to encourage take-up of Oyster in all London rail stations and has offered to finance installation costs for Oyster technology </li>
<li>Customers who use Oyster pay as you go on the Tube and DLR can benefit from Auto top-up, which automatically tops up your Oyster card with either &pound;20 or &pound;40 whenever the balance drops below &pound;5. Auto top-up will be extended to bus and tram passengers in 2006 </li>
<li>More than 100,000 people switched to Oyster between 2-16 January 2006</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 2006 Transport for London fares package encourages people to use an Oyster smartcard rather than cash as it speeds up the bus network, reduces queues and saves passengers money on day and single fares. Mayor of London, Ken Livingstone said: 'Since";}
        
        


 