


@{ViewBag.Title = "New bus shows Spirit of London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus shows Spirit of London</h1>
        <div class="content-page-press-release">
        24 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new bus named Spirit of London starts work today from Stratford Garage.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The bus is one of the first of a new generation of British designed and built double-deckers
                            
                        </p>
                    </div>
                
            
            
            <p>It is one of the first of a new generation of British designed and built double-deckers.</p>
<p>The new bus provides extra seats, increasing the number available on the lower deck to 30. There is also a wider entrance than usual and more space for passengers using wheelchairs or with pushchairs.</p>
<p>It is also fitted with all of the equipment now required as standard on all new London buses, including low-floor, step-free layout on the lower deck, on-board CCTV, tinted glass, automatic heating system, wheelchair ramp, front 'kneeling' system and Euro III engine. </p>
<p>This particular vehicle is also fitted, as a trial, with an advanced upper deck air-cooling system.</p>
<p>This new design of bus also operates on route 24, operated by Metroline.</p>
            <ul>
<li>Spirit of London is a Dennis Trident fitted with Alexander Dennis Limited's (ADL) new Enviro 400 bodywork</li>
<li>London Buses' fleet comprises 5,000 double-decker, 2,700 single-deck and 300 articulated (bendy) buses. All London buses are fitted with wheelchair ramps and CCTV systems</li>
<li>London's bus network is Europe's busiest public transport system, carrying around six million people every weekday using 7,000 vehicles on 700 routes</li>
<li>The new vehicle will operate on a number of routes from Stagecoach in London's Stratford garage, including the Number 30 between Marble Arch and Hackney Wick</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is one of the first of a new generation of British designed and built double-deckers.The new bus provides extra seats, increasing the number available on the lower deck to 30. There is also a wider entrance than usual and more space for passengers";}
        
        


 