


@{ViewBag.Title = "North Greenwich will be closed due to escalator improvement works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>North Greenwich will be closed due to escalator improvement works</h1>
        <div class="content-page-press-release">
        05 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        North Greenwich Station will be completely closed due to escalator improvement works on Saturdays and Sundays 7-8 and 21-22 January 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A replacement bus service will operate between North Greenwich and Cutty Sark DLR Station
                            
                        </p>
                    </div>
                
            
            
            <p>The work is part of the &pound;10bn TfL 5-year Investment Programme and is being undertaken by Tube Lines.</p>
<p>A replacement bus service will operate between North Greenwich and Cutty Sark DLR Station while it is closed.</p>
<p>Jubilee line trains will be running but they will not be stopping at North Greenwich.</p>
<p>Valid Underground tickets will be accepted on bus routes 108/N108 between North Greenwich and Stratford, and on bus route 188 between North Greenwich and Cutty Sark (DLR), Canada Water, Bermondsey and Waterloo Stations.</p>
<p>Passengers are advised to start their journeys 45 minutes earlier than normal. </p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <p>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube</p>
<p>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is part of the &pound;10bn TfL 5-year Investment Programme and is being undertaken by Tube Lines.A replacement bus service will operate between North Greenwich and Cutty Sark DLR Station while it is closed.Jubilee line trains will be running but";}
        
        


 