


@{ViewBag.Title = "Six new coach bays created in Londons West End";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Six new coach bays created in Londons West End</h1>
        <div class="content-page-press-release">
        09 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Through the co-operation of Transport for London (TfL), Westminster City Council and the Confederation of Passenger Transport (CPT), six dedicated coach bays have been created at key locations in central London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We welcome and fully support this initiative
                            
                        </p>
                    </div>
                
            
            
            <p>There are now four dedicated coach bays in Russell Street, behind the Drury Lane Theatre; and two on the Strand, providing valuable space for coaches bringing theatregoers into the West End.  </p>
<p>These are in addition to the 24 bays already in place in Kingsway for late evening waiting and pick ups.  </p>
<p>The other new bays are located on Horseferry Road (one bay) and Warwick Row (one bay).  </p>
<p>Darek Podwiazka, Coach Manager, TfL, said: "We welcome and fully support this initiative as it is an important step in the building of good relationships between operators and the local authorities.</p>
<p>"The recently launched Coach Concordat has the potential to explore further such schemes and deliver more on-street parking provision for coaches in the Capital."</p>
<p>Bob Pilbeam, coach consultant, CPT, said: "This is the result of a lot of hard work by all concerned and, with the help of the Concordat, is hopefully the start of an improved spirit of co-operation."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There are now four dedicated coach bays in Russell Street, behind the Drury Lane Theatre; and two on the Strand, providing valuable space for coaches bringing theatregoers into the West End.These are in addition to the 24 bays already in place in Kingsway";}
        
        


 