


@{ViewBag.Title = "TfL wins Yahoo! award for best travel website";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL wins Yahoo! award for best travel website</h1>
        <div class="content-page-press-release">
        27 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London website (www.tfl.gov.uk) has won the Travel category of the Yahoo! Finds of the Year 2005 awards, a celebration of what it describes as "the most unusual, creative and inspirational websites on the internet".
        
    </div>



 <div class="on-this-page">
<p>Each year, the Yahoo! Search team scours the internet for the best sites, sifting through thousands of websites suggested by the public before a panel of independent internet experts decides on the winners of eight categories. </p>
<p>The TfL website, which receives more than three million visits a month, beat National Rail Enquiries, Traveline, and the Foreign and Commonwealth websites to win Best Travel Website. </p>
<p>Andy Williams, Yahoo! Search said: "The TfL website is an essential service for Londoners and any visitor to the Capital.</p>
<p>"With services like <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a>, online <a href="https://sales.oystercard.com/oyster/lul/entry.do">Oyster card top-up </a>and <a href="http://www.tfl.gov.uk/tfl/realtime/">realtime travel information</a>, it makes moving around the city a lot easier. Free daily <a href="http://www.tfl.gov.uk/tfl/livetravelnews/mobileservices/">SMS updates</a> are a particular favourite with the Yahoo! Search team!"</p>
<h2>World-class e-services</h2>
<p>Chris Townsend, TfL Director of Group Marketing, said: "We are pleased to have our efforts recognised in producing an effective, innovative and informative website for both Londoners and visitors to the Capital. </p>
<p>"The audience for the TfL website has continued to increase and we are now receiving around three million visits a month. </p>
<p>"We aim to build on this success and continue to deliver world-class e-services to support London's transport network, making it easier to use for local, national and global customers."<br><br>Members of the public are now being invited to vote from among the winners for an overall People's Choice winner by visiting <a href="http://www.yahoo.co.uk/2005finds">www.yahoo.co.uk/2005finds</a>. Voting closes on 31 January, and the official People's Choice Finds of the Year 2005 award will be announced on 2 February.<br></p>
            <ul>
<li>The Office of the Deputy Prime Minister has also produced a report with the purpose of investigating how Local Authority websites are currently performing in light of the investment and drive to improve electronic service delivery. TfL's website was ranked first in the performance category. This relates to web page download speed and website availability<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Each year, the Yahoo! Search team scours the internet for the best sites, sifting through thousands of websites suggested by the public before a panel of independent internet experts decides on the winners of eight categories. The TfL website, which";}
        
        


 