


@{ViewBag.Title = "Tube scoops top BBC employer health award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube scoops top BBC employer health award</h1>
        <div class="content-page-press-release">
        16 January 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has beaten off competition from some of the Capital's biggest organisations to take the BBC's Big Health Challenge Most Improved Employer in London Award for 2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The award recognises the programme of health awareness LU developed for its 12,000 staff
                            
                        </p>
                    </div>
                
            
            
            <p>The accolade, in recognition of LU's continued programme of 
health awareness with its 12,000 employees, was presented by former Olympic 
athlete Sally Gunnell at the BBC London studios on Monday (16 January). The 
award is jointly shared with the The Prudential financial services company. </p>
<p>Judges were impressed with LU's contribution to tackling stress levels among 
staff. </p>
<p>By initiating measures such as drop-in 'stress surgeries', anger management 
groups and one-to-one work with employees, absence - in those employees using 
the services - in the six months afterwards compared to the six months before 
dropped by 79 per cent.</p>
<p>Meanwhile, dozens of staff have taken advantage of the Waist Management 
programme, a 10-week weight-loss programme at 17 locations across the Capital, 
with incentives including discount cards for healthy meals from staff 
restaurants.</p>
<h2>National final</h2>
<p>LU Managing Director Tim O'Toole said: "Over the past year we have made a 
significant effort to raise employee awareness and provide focused assistance in 
specific areas, such as tackling stress, weight loss and making changes to their 
own personal lifestyles. </p>
<p>"I am delighted to say that we are making real progress in these areas. Our 
focus over the next year will be to further enhance the programme of initiatives 
that already exists, and encourage even more staff to take up the excellent 
services on offer."</p>
<p>Health Works Award judges included Strictly Come Dancing star Colin Jackson; 
Digby Jones, chief executive of the CBI; Frances O'Grady, deputy general 
secretary of the TUC; and Ruth Spellman, chief executive of Investors in 
People.</p>
<p>LU will now go through to the national final, the results of which will be 
broadcast on the BBC Two programme Working Lunch at the end of the month. 
<br></p>
            <ul>
<li>London Underground Ltd employs over 12,000 members of staff</li>
<li>The BBC Big Challenge Health Works Awards were launched in June 2005 on the BBC Two series Working Lunch and the BBC's network of local radio stations</li>
<li>The nomination period ran through to Friday 2 December 2005, with around 2,200 entries received</li>
<li>There are five categories: Unsung Hero; Most Improved Employer; Healthiest Small Employer; Healthiest Medium-sized Employer; Healthiest Large Employer</li>
<li>All of the Local Award winners now progress to the second stage of the awards, which is to choose five national BBC Big Challenge Health Works Award winners.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The accolade, in recognition of LU's continued programme of health awareness with its 12,000 employees, was presented by former Olympic athlete Sally Gunnell at the BBC London studios on Monday (16 January). The award is jointly shared with the The";}
        
        


 