


@{ViewBag.Title = "Borough High Street northbound only until July 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Borough High Street northbound only until July 2010</h1>
        <div class="content-page-press-release">
        09 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Southbound traffic to be diverted from Saturday 12 December while major water and gas utility works take place.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By getting Thames Water, Southern Gas Networks and TfL to work together we have been able to halve the amount of time needed to carry out these works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">Director of Traffic Operations TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By getting Thames Water, Southern Gas Networks and TfL to work together we have been able to halve the amount of time needed to carry out these works
                            
                        </p>
                    </div>
                
            
            
            <p>Borough High Street will be closed to southbound traffic between Southwark Street and Great Dover Street until July 2010, as part of ongoing works by Thames Water and Southern Gas Networks to carry out major utility works along the road.&nbsp; </p>
<p>Conducted separately, the works would have required at least 14 months to complete. </p>
<p>By encouraging the utility companies to work together, Transport for London (TfL) has ensured that the work can be completed in seven months, meaning less disruption for road users and residents. </p>
<h2>Minimum disruption</h2>
<p>While the diversion is in place, TfL will also take the opportunity to carry out road maintenance works on the stretch of road.</p>
<p>Between 12 December and July 2010, all southbound traffic, including buses, will be diverted along Southwark Street, Southwark Bridge Road and Marshalsea Road. </p>
<p>TfL is working closely with the utility companies to minimise disruption and will keep motorists informed through roadside message signs and local radio broadcasts. </p>
<p>Alan Bristow, TfL's Director of Traffic Operations, said: 'TfL is working with utility companies to ensure that any disruption to roads users caused by vital water and gas utility works is kept to an absolute minimum. </p>
<h2>Replace Victorian pipes</h2>
<p>'By getting Thames Water, Southern Gas Networks and TfL to work on-site together while this closure is in place, we have been able to halve the amount of time needed to carry out these works, saving motorists in the area from an additional seven months of disruption.'</p>
<p>Becky Johnson, spokesperson for Thames Water, said: 'This work is part of a wider project to replace London's Victorian cast-iron water mains - which are prone to leaks and bursts - with new plastic ones which are less susceptible to damage from soil corrosion and traffic vibrations. </p>
<p>'We have already replaced more than 1,000 miles of mains in the Capital over the past five years, cutting leakage by 24 per cent.</p>
<p>'We ask motorists and bus users to please bear with us while these essential works are being carried out.'</p>
<p>Drew Reynolds, Construction Manager for Southern Gas Networks, said: 'We are working closely with TfL to reduce the impact on traffic while we carry out this essential work and apologise for any inconvenience that these works will cause road-users in London.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong></strong>
<ul>
<li>The following bus routes will be affected by the southbound closure: 21, 35, 40, 133, 343, N21, N35, N133, N343 </li>
<li>Cyclists wishing to travel southbound along Borough High Street can follow a signed diversion route via Duke Street Hill, Weston Street, Snowfields, Crosby Road and Long Lane to Borough High Street </li>
<li>Transport for London will be introducing a roadwork Permit Scheme from 11 January 2010, which will allow better coordination of roadworks in the Capital, helping to reduce the number of times a road needs to be dug up </li>
<li>The London Permit Scheme is part of the Mayor of London's commitment to smooth traffic flow across London </li>
<li>The utility companies are employing a single contractor, Morrison Utilities Services, to work on the gas and water mains replacement works. This means that if any problem occurs with the progress of work on one of the mains, the contractor can continue work on the other without any causing any delays </li>
<li>TfL have set up a website where Londoners can report faults or problems on the Capital's roads <a href="http://www.tfl.gov.uk/streetfault">www.tfl.gov.uk/streetfault</a>. TfL Customer Services will then investigate the problem and respond with their findings and action taken<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Borough High Street will be closed to southbound traffic between Southwark Street and Great Dover Street until July 2010, as part of ongoing works by Thames Water and Southern Gas Networks to carry out major utility works along the road.&nbsp; Conducted";}
        
        


 