


@{ViewBag.Title = "Bus diversions to enable major Oxford Street utility replacement work ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions to enable major Oxford Street utility replacement work </h1>
        <div class="content-page-press-release">
        21 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fareham Street to close to traffic to allow works for new Crossrail station to proceed.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A number of water, gas and other utility pipes that run under Oxford Street, many of which date back to the 1820s, must be strengthened or replaced
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London is advising bus passengers that next year there will be a number of long term bus diversions affecting the eastern end of Oxford Street to allow construction work at Tottenham Court Road station to begin. </p>
<p>Major utility works will need to be undertaken at the eastern end of Oxford Street throughout 2010. </p>
<h2>Diversions in place</h2>
<p>Diversions will begin on Saturday 16 January 2010 and are expected to continue until November 2010. </p>
<p>A number of water, gas and other utility pipes that run under Oxford Street, many of which date back to the 1820s, must be strengthened or replaced as they could be affected by ground settlement caused by construction work at Tottenham Court Road station.</p>
<p>TfL has been working closely with the utility companies, Camden Council and Westminster City Council to minimise the impact of this work for businesses, shoppers and local residents. </p>
<p>But a major benefit of the works is that, once complete, many of the major local utilities will have been replaced or upgraded which will significantly reduce the level of utility works on the east end of Oxford Street in future years. </p>
<h2>Improving the streetscape</h2>
<p>TfL will also look to take advantage of the lane closure by coordinating with other works in the area and there are opportunities for improving pavements and the streetscape.</p>
<p>These utility works will require an eastbound lane closure of a section of Oxford Street between Newman Street and Tottenham Court Road, which will result in diversions to the following bus routes:&nbsp;7, 8, 10, 25, 55, 73, 98, 390 N7, N8, N10, N55, N73, N98 and N207.&nbsp;&nbsp;</p>
<p>Most diverted eastbound buses will use Newman Street, Goodge Street, Chenies Street and Gower Street. </p>
<p>The diversions to eastbound bus services will be as follows:</p>
<ul>
<li>Route 25 (24 hour service) will start and terminate near Tottenham Court Road station. This is the only bus route to have westbound services affected </li>
<li>Routes 73 and night service N73 will be diverted at Oxford Circus along Regent Street, Portland Place, Devonshire Street, Great Portland Street and then along Euston Road to join the normal line of route at the junction of Tottenham Court Road. The routes will not serve Tottenham Court Road </li>
<li>Routes 10, 390 (24 hour service) and night service N10 will be diverted along Newman Street, onto Goodge Street then onto Tottenham Court Road before joining the normal line of route </li>
<li>Routes 7 and night service N7 will be diverted along Newman Street, Goodge Street, across Tottenham Court Road onto Chenies Street, then Gower Street, Keppel Street, Malet Street and Montague Place to Russell Square </li>
<li>Routes 8, 55 and 98 and night services N8, N55, N98 and N207 will be diverted along Newman Street, then onto Goodge Street, along Tottenham Court Road onto Chenies Street, right onto Gower Street then on to New Oxford Street back to normal line of route</li></ul>
<h2>Temporary stops</h2>
<p>All buses will be serve existing bus stops along their diverted routes but some new temporary bus stops will also be provided along the diversion route. </p>
<p>These will be situated on Chenies Street, Gower Street and Montague Place.</p>
<p>To enable works for the Crossrail station at Tottenham Court Road to proceed, Fareham Street which is located between Dean Street and Great Chapel Street will be closed to traffic and pedestrians from Tuesday 5 January 2010. </p>

<p>This road closure is expected to remain in place until completion of station works in 2017.</p>

<p>The alternative route to Soho Square and the east side of Soho will be Shaftesbury Avenue via Dean Street.</p>
<p>Delivery and service access to the Fareham Street area will be via the following routes: Great Chapel Street can be accessed from Hollen Street or Sheraton Street with Dean Street North accessed from Dean Street, north of Carlisle Street.</p>
<p>Hollen Street, Sheraton Street and Dean Street (from Carlisle Street to Diadem Court) will operate with two-way traffic. </p>
<h2>Investing in the Tube</h2>
<p>A total &pound;1bn investment is being made to upgrade the capacity of Tottenham Court Road Tube station, build a new Crossrail station and create a new piazza outside Centre Point. </p>
<p>The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users.</p>
<p>Improvements to the Tube station, which will be completed by 2016, will deliver:</p>
<ul>
<li>An enlarged ticket hall nearly six times the size of the current one </li>
<li>New station entrances and additional access points to the Northern and Central line platforms to reduce congestion </li>
<li>Additional escalators and five new lifts to provide step-free access<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is advising bus passengers that next year there will be a number of long term bus diversions affecting the eastern end of Oxford Street to allow construction work at Tottenham Court Road station to begin. Major utility works will need";}
        
        


 