


@{ViewBag.Title = "Changes to 440 and H91 bus routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to 440 and H91 bus routes</h1>
        <div class="content-page-press-release">
        29 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes will be introduced to the 440 and H91 bus routes from Saturday 9 January 2010.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The change to route H91 will provide more capacity"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The change to route H91 will provide more capacity
                            
                        </p>
                    </div>
                
            
            
            <p>Route H91 will be changing from single-deck to double-deck buses and will run directly along Chiswick High Road between Turnham Green and Chiswick roundabout. </p>
<p>The changes will provide more capacity for people travelling to and from the growing number of homes and businesses along Great West Road and a better interchange with Gunnersbury Station. </p>
<p>The H91 will no longer serve Wellesley Road and Oxford Road North.</p>
<p>Route 440, which currently runs between Stonebridge Park Station and Turnham Green, will be extended to serve Wellesley Road and Oxford Road North. </p>
<p>It will run via Town Hall Avenue (return Sutton Lane North), Heathfield Terrace, Wellesley Road, Oxford Road North, Chiswick High Road and Power Road. </p>
<p>John Barry, Head of Network Development for London Buses, said: 'These changes are being introduced following extensive discussions with Hounslow Council and other local stakeholders. </p>
<p>'The change to route H91 will provide more capacity and a more direct service for the growing number of jobs and homes along the Great West Road. </p>
<p>'The change to route 440 will retain a local service to Wellesley Road.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 440 will continue to use single-deck buses and operate every 15 minutes during the day, Monday&nbsp;to Saturday,&nbsp;every 20 minutes on Sunday during the day, and every 30 minutes in the evening</li>
<li>Route H91 will continue to run every 10 minutes during the day, Monday&nbsp;to Saturday, and every 15 minutes on Sunday</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route H91 will be changing from single-deck to double-deck buses and will run directly along Chiswick High Road between Turnham Green and Chiswick roundabout. The changes will provide more capacity for people travelling to and from the growing number of";}
        
        


 