


@{ViewBag.Title = "Contract awarded for redevelopment of Tottenham Court Road Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contract awarded for redevelopment of Tottenham Court Road Tube station</h1>
        <div class="content-page-press-release">
        08 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that following a competitive tendering process it intends to award the contract for the redevelopment of Tottenham Court Road Tube station to Taylor Woodrow Construction and BAM Nuttall Limited.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Real progress is already being made on site with main construction set to start in early 2010
                            
                        </p>
                    </div>
                
            
            
            <p>Main construction will get underway in early 2010.</p>
<p>In line with European procurement requirements, a minimum ten day standstill period will apply before the award of contract can be confirmed.<br>The total cost of redeveloping the Tube station is in the region of &pound;500m. </p>
<p>When work is complete in 2016 the station will benefit from:</p>
<ul>
<li>An enlarged ticket hall nearly six times the size of the current one </li>
<li>New station entrances and additional access points to the Northern and Central line platforms to reduce congestion </li>
<li>Additional escalators and five new lifts to provide step-free access</li></ul>
<p>Miles Ashley, Head of London Underground Station Capacity Programme, said: 'By 2017, Tottenham Court Road will be one of the most important transport hubs in the West End as it will serve both London Underground and Crossrail. </p>
<p>'The Tube station will be extensively redeveloped to make the ticket hall around six times larger and the station will have twice the capacity than at present.</p>
<p>'Real progress is already being made on site with main construction set to start in early 2010.'</p>
<p>In total, &pound;1bn will be spent to upgrade the capacity of the Tube station, build a new Crossrail station and create a new piazza outside Centrepoint. </p>
<p>The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users.</p>
<p>A separate contract will be let by Crossrail in due course for the construction of the new Crossrail station at Tottenham Court Road which will connect to the Tube station.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A&nbsp;shortlist of five companies were invited in to tender in March 2009 for the main construction contract for Tottenham Court Road Tube station 
<ul type="circle">
<li>Balfour Beatty </li>
<li>Morgan Est </li>
<li>Taylor Woodrow Construction who subsequently entered into a joint venture with BAM Nuttall Limited </li>
<li>A joint venture between Skanska &amp; Mace </li>
<li>A joint venture between Costain, Laing O'Rourke &amp; Bachy Soletanche</li></ul></li>
<li>TfL extended the scope of the project and updated bidders through a tender addendum issued in September 2009. Changes to the scope of the project include the replacement of existing escalators, management of Oxford Street utilities settlement mitigation works and changes to some aspects of the design to facilitate a more advantageous future over site development</li>
<li>Demolition work at the Astoria site is now complete which means that preparatory work for the neighbouring Goslett Yard demolitions can now be accelerated and will get underway shortly and therefore this demolition work will now be excluded from the main construction contract</li>
<li>In July 2009, Westminster City Council's planning sub-committee approved a planning brief (Tottenham Court Road East) for the Astoria site and will be incorporated into official local planning policy. The planning brief outlines the Council's aspirations for this area and provides an indication of future development that would be permitted. Further briefs were agreed for the Crossrail construction sites at Bond Street, Paddington and Tottenham Court Road</li>
<li>The planning brief for Tottenham Court Road (East) requires a replacement theatre which can be used as a live music venue, but not a nightclub, on either the current Astoria site or on the adjoining Goslett Yard site once construction of the revamped Tube and new Crossrail station is complete</li>
<li>Responsibility for submitting a planning application for a replacement venue belongs to Derwent London under the terms of a collaboration agreement with the current site owner</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Main construction will get underway in early 2010.In line with European procurement requirements, a minimum ten day standstill period will apply before the award of contract can be confirmed.The total cost of redeveloping the Tube station is in the region";}
        
        


 