


@{ViewBag.Title = "First roadworks permit scheme in UK to start on 11 January 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First roadworks permit scheme in UK to start on 11 January 2010</h1>
        <div class="content-page-press-release">
        07 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Permit scheme to be introduced on London's busiest roads. Scheme will help to reduce traffic disruption across the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If companies want to dig up the roads, they must do so in a coordinated manner that causes the minimum disruption to Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If companies want to dig up the roads, they must do so in a coordinated manner that causes the minimum disruption to Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today confirmed that the UK's first roadworks permit scheme will be introduced on London's busiest roads from 11 January 2010. </p> <p>Under the scheme, which was a manifesto pledge by Mayor Boris Johnson as part of his efforts to smooth traffic flow, utility companies and other organisations that want to dig up roads will need to apply for a permit before they can begin.&nbsp;</p> <h2>Coordinate work</h2> <p>Permitting will enable TfL to plan and coordinate the timing of roadworks, providing greater opportunities for multiple companies to work on the same sections of road simultaneously. </p> <p>It is a key measure for reducing the disruption to road users cause by the 300,000 holes dug in London's roads by utilities companies every year.</p> <p>TfL has been working with 18 local borough councils across London on a London-wide permit scheme. </p> <p>On 15 October 2009, the Department for Transport (DfT) confirmed that the scheme had been approved. TfL has now received permission from the DfT for the scheme to start on 11 January 2010.</p> <p>In addition, TfL is in discussions with the DfT to allow the introduction of a lane rental scheme alongside the permit scheme on the Transport for London Road Network. </p> <h2>Daily charge</h2> <p>This measure, part of the Mayor's Draft Transport Strategy, would require utility companies to pay a rental charge for every day that they are on working on a street, rather than a one-off charge. </p> <p>This would sit alongside the permitting scheme, and encourage the utility companies to manage their work time more efficiently . </p> <p>Welcoming the announcement, Boris Johnson said: 'This is long overdue. Drivers in London have too often been the victims of unnecessary roadworks, forced to sit stationary in traffic-clogged frustration caused by work sites reminiscent of the Mary Celeste. </p> <p>'If companies want to dig up the roads, they must do so in a coordinated manner that causes the minimum disruption to Londoners - and this permitting scheme is a crucial step towards achieving a sensible solution.' </p> <h2>Code of conduct</h2> <p>The announcement comes as TfL prepares to publish results of the first six months of the Mayor's Roadworks Code of Conduct - a voluntary scheme for utility companies designed to cut delays and congestion caused by roadworks.</p> <p>The announcement comes as TfL prepare to publish results of the first six months of the Mayor's Roadworks Code of Conduct - a voluntary scheme for utility companies designed to cut delays and congestion caused by roadworks. </p> <p>The report will show that the collaboration has produced some evidence of improvement. </p> <p>There has been an increase in off-peak working by companies, the number of sites failing to display information signage, as agreed within the code, is small, and there has been a favourable reduction in the number of works requiring improvement for safety reasons.&nbsp;</p> <p>The utilities companies will be meeting with the TfL and the Mayor's Transport Advisor to agree further toughening up of the code. </p> <h2>Reducing congestion</h2> <p>David Brown, Managing Director of Surface Transport, TfL, said: 'Roadworks in London can cause huge amounts of congestion if not properly managed, causing frustration for everyone who uses the roads.</p> <p>'The introduction of the London Permit Scheme on 11 January 2010, will allow us to agree the timing of, and&nbsp; impose conditions on,&nbsp; utility works, allowing for greater co-ordination of works between contractors and reducing the repeated digging up of the same section of road'</p> <p>Chairman of London Councils Transport and Environment Committee, Councillor Mike Fisher said: 'It can be extremely frustrating for motorists, cyclists and pedestrians as well as residents and businesses to find the same road has been dug up again for yet another utility company to carry out work.</p> <p>'The permit scheme puts boroughs back in the driving seat by giving them powers to coordinate road works so delays and inconvenience are kept to a minimum.&nbsp; </p> <p>'Action will be taken against utility companies which do not meet the conditions of their permit.'</p> <p> <hr>  <p> <p><strong>Notes to editors:<p> <ul> <li></li></ul></strong>TfL submitted its application to operate a permit scheme on 28 July 2009  <li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic  </li><li>TfL estimates that there are one million holes dug in London every year  </li><li>The 18 London boroughs involved in the scheme are City of London, Westminster City Council, The Royal Borough of Kensington and Chelsea and the London boroughs of Barnet, Brent, Bromley, Camden, Croydon, Ealing, Enfield, Hackney, Hammersmith &amp; Fulham, Haringey, Hounslow, Islington, Lewisham, Redbridge and Wandsworth  </li><li>TfL have set up a website where Londoners can report faults or problems on the Capitals roads&nbsp;<a href="http://www.tfl.gov.uk/streetfault">www.tfl.gov.uk/streetfault</a>. TfL Customer Services will then investigate the problem and respond with their findings and action taken.  </li><li>In April 2009, The Mayor of London launched a Voluntary Code of Conduct with utility companies across London which aims to cut the delays and congestion caused by roadworks. The code introduced a number of measures, including the introduction of works information boards, plating over of excavations not in use, and working outside of peak hours wherever possible  </li><li>The Utility companies, TfL and the Mayor's office have reviewed the results from the first six months of the code being in place and will be meeting to amend and improve the code of conduct in mid December</li> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today confirmed that the UK's first roadworks permit scheme will be introduced on London's busiest roads from 11 January 2010.Under the scheme, which was a manifesto pledge by Mayor Boris Johnson as part of his efforts to smooth";}
        
        


 