


@{ViewBag.Title = "Further Jubilee line closures agreed as Tube Lines pressed to deliver ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Further Jubilee line closures agreed as Tube Lines pressed to deliver </h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Closure programme agreed up to Easter 2010.<BR>London Underground (LU) continues to press Tube Lines to deliver a full upgrade as soon as possible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When complete, the upgrade of the Jubilee line will deliver faster and more frequent journeys for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Managing Director of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When complete, the upgrade of the Jubilee line will deliver faster and more frequent journeys for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>LU today outlined the programme of weekend closures of the Jubilee line until Easter 2010, after the Mayor and LU demanded a credible programme from PPP contractor Tube Lines for the vital upgrade of the line.</p>
<p>The upgrade, which will deliver a 30 per cent increase in capacity with faster and more frequent Jubilee line journeys, was due to be completed by the end of 2009 but Tube Lines has fallen heavily behind schedule.</p>
<p>Over recent weeks the Mayor and LU have pressed Tube Lines for a credible work programme to give Londoners certainty about when the upgrade will be complete, resulting in some constructive discussions. </p>
<p>In the interests of ensuring the upgrade is completed as quickly as possible LU has now agreed to a further 22 days of closures, including eight days of full line closures, up to and including Easter, when the line will be closed for four days.</p>

<h2>Further closures</h2>
<p>It is clear that further closures beyond this will be required. </p>
<p>LU continues to urge Tube Lines to confirm the upgrade completion date, and the closure programme required beyond Easter. </p>
<p>We will announce these weekend closures as soon as we are in a position to do so and will seek to avoid clashes with major events.</p>
<p>Richard Parry, Managing Director of LU, said: 'When complete, the upgrade of the Jubilee line will deliver faster and more frequent journeys for Londoners.</p>

<h2>Alternative transport</h2>
<p>'That is why it is hugely frustrating for Londoners, businesses and ourselves that Tube Lines have failed to deliver the upgrade of the Jubilee line by the end of December, the contractual date. </p>
<p>'We regret that we have been put in a position where we have to grant these further closures and apologise to passengers for the further disruption that they will face next year as a result of Tube Lines' failure to complete the work.</p>
<p>'It is vital Tube Lines take full advantage of this access and deliver the upgrade as soon as possible. </p>
<p>'We will do all we can to minimise the impact of these closures by providing alternative transport and information for our customers wherever possible.'</p>

<h2>Vital upgrade</h2>

<p>LU will be seeking to minimise disruption as far as possible by providing a comprehensive alternative transport plan which including rail replacement buses, a boat service from West India Pier to The O2 and additional services from c2c (West Ham to Fenchurch Street) and Chiltern (Harrow-on-the-Hill to Marylebone). </p>
<p>LU has recently introduced a service on the Metropolitan line, from Willesden Green, during closures to the Jubilee line to further help minimise the impact on passengers.</p>
<p>Closure time table up to and including Easter:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Date</strong></td>
<td>&nbsp;<strong>Extent of closure</strong>&nbsp;</td></tr>
<tr>
<td>&nbsp;9 January 2010</td>
<td>&nbsp;Full line: Aldgate to Harrow-on-the-Hill (4 track)</td></tr>
<tr>
<td>&nbsp;10 January</td>
<td>&nbsp;Full line: Aldgate to Harrow-on-the-Hill (4 track)</td></tr>
<tr>
<td>&nbsp;16 January</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;17 January</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;23 January</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;24 January</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;30 January&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;Green Park to Stratford</td></tr>
<tr>
<td>&nbsp;31 January</td>
<td>&nbsp;Green Park to Stratford</td></tr>
<tr>
<td>&nbsp;6 February</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;7 February</td>
<td>&nbsp;West Hampstead to Stanmore</td></tr>
<tr>
<td>&nbsp;13 February</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;14 February</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;20 February</td>
<td>&nbsp;Green Park to Stratford</td></tr>
<tr>
<td>&nbsp;21 February</td>
<td>&nbsp;Green Park to Stratford</td></tr>
<tr>
<td>&nbsp;27 February</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;28 February</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;6 March</td>
<td>&nbsp;Waterloo to Stanmore</td></tr>
<tr>
<td>&nbsp;7 March</td>
<td>&nbsp;Waterloo to Stanmore</td></tr>
<tr>
<td>&nbsp;13 March</td>
<td>&nbsp;Full line; Baker Street to Harrow-on-the-Hill (4 track)</td></tr>
<tr>
<td>&nbsp;14 March</td>
<td>&nbsp;Full line; Baker Street to Harrow-on-the-Hill (4 track)</td></tr>
<tr>
<td>&nbsp;20 March</td>
<td>&nbsp;Waterloo to Stanmore</td></tr>
<tr>
<td>&nbsp;21 March</td>
<td>&nbsp;Waterloo to Stanmore</td></tr>
<tr>
<td>&nbsp;27 March</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;28 March</td>
<td>&nbsp;No closure</td></tr>
<tr>
<td>&nbsp;2 April</td>
<td>&nbsp;Full line</td></tr>
<tr>
<td>&nbsp;3 April</td>
<td>&nbsp;Full line</td></tr>
<tr>
<td>&nbsp;4 April</td>
<td>&nbsp;Full line</td></tr>
<tr>
<td>&nbsp;5 April</td>
<td>&nbsp;Full line</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU today outlined the programme of weekend closures of the Jubilee line until Easter 2010, after the Mayor and LU demanded a credible programme from PPP contractor Tube Lines for the vital upgrade of the line.The upgrade, which will deliver a 30 per cent";}
        
        


 