


@{ViewBag.Title = "London Overground to close from Gospel Oak to Stratford as part of &pound;326m upgrade to deliver longer, more frequent trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground to close from Gospel Oak to Stratford as part of &pound;326m upgrade to deliver longer, more frequent trains</h1>
        <div class="content-page-press-release">
        18 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A &pound;326m upgrade of London Overground, which will provide passengers with longer and more frequent trains, will be stepped up in February when major engineering works begin on the Gospel Oak to Stratford section of the line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Theses are essential works that will help us unlock the true potential of the London Overground network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Theses are essential works that will help us unlock the true potential of the London Overground network
                            
                        </p>
                    </div>
                
            
            
            <p>Between Saturday 20 February and 1 June 2010 major signalling and track renewal work, platform lengthening and the refurbishment of some stations will mean there will be no service between Gospel Oak and Stratford stations. </p>
<p>A rail replacement service will provide buses every 20 minutes, six days a week. </p>
<p>On Sundays this will be reduced to two buses an hour.</p>
<p>When the complete upgrade is finished in 2011, London Overground (LO) will run more frequent services with longer trains. </p>
<p>Services from Richmond and Clapham Junction to Stratford will run four times an hour, all day every day, and there will be six trains an hour between Willesden Junction and Stratford. </p>
<h2>Minimising disruption</h2>
<p>Ian Brown, the Managing Director of Transport for London (TfL) London Rail, said: 'We apologise to passengers for this inconvenience and are doing all we can to minimise the disruption caused. </p>
<p>'This was one of the most neglected railways in the UK when we took it over two years ago and these are essential works that will help us unlock the true potential of the London Overground network, which is to offer a far more frequent Metro-style turn up and go service.</p>
<p>'We have to close this part of the line for this amount of time because of the nature of the work. </p>
<p>'Large amounts of material will have to be moved around for the signalling and track upgrades, which means if we were to restrict the work to weekends and then have to restore the railway to working order each Monday morning, the disruption would be over a much longer period.'</p>
<h2>Lengthening platforms</h2>
<p>The improvement work is part of an upgrade that will see more than 200 signals, seven kilometres of track and 69 sets of points improved and 30 station platforms lengthened. </p>
<p>Passengers are being urged to always check before they travel during the closure and to take, if at all possible, alternative transport such as Tubes and replacement buses.</p>
<p>Andrew Munden, Route Director for Network Rail, said: 'The investment being made in the North London Line is an integral part of Network Rail's plans to improve services and build a bigger and better railway in the Capital. </p>
<p>'The project will provide vital additional capacity for the Olympic Games and help meet growing demand on the line, which is expected to rise by a quarter in the next seven years.'</p>
<h2>Additional capacity</h2>
<p>The suspension of the Gospel Oak to Stratford services will mean that not all of the trains from Richmond and Clapham Junction will be able to run through to Gospel Oak but will have to stop at Willesden Junction to take advantage of the turnaround facilities there (see notes to editors).</p>
<p>In the morning and evening peak, two trains an hour from Clapham Junction and two trains an hour from Richmond will carry on to Gospel Oak, whilst the other one train an hour from Richmond and one train an hour from Clapham Junction will terminate and start at Willesden Junction. </p>
<p>There will also be one extra train during the busiest hour of the Peak period between Willesden Junction and Richmond. </p>
<p>The Off Peak service times remain unaffected. </p>
<p>
<hr>
Notes to editors:
<p>
<ul>
<li>TfL and the Olympic Delivery Authority (ODA) are providing three quarters of the &pound;326m funding for the upgrade (TfL: 44 per cent, ODA: 32 per cent) with Network Rail giving 23 percent and the Department for Transport; one percent</li>
<li>During the Gospel Oak to Stratford works, a rail replacement bus service will run between Stratford and Hampstead Heath approximately every 20 minutes in both directions, six days a week. On Sundays, there will be two buses an hour</li>
<li>The service will call at all stations apart from Caledonian Road &amp; Barnsbury because of access restrictions to that station. An additional stop has been set up outside Holloway Road Tube station which passengers from Caledonian Road and Barnsbury may reach via the Piccadilly line from Caledonian Rd, or the 153 bus from Hemingford Road</li>
<li>There may be more, but shorter, closures later in 2010</li>
<li>Valid LO tickets will be accepted on all LO rail replacement bus services, some local bus services along the affected line and at some Tube stations. For further information please visit the <a href="http://www.tfl.gov.uk/overground">TfL website</a></li>
<li>Oyster pay as you go users may incur an additional charge for using&nbsp;Underground services. As a result they may be entitled to an automatic refund, if they do not receive a refund within 14 days of their journey, they should contact the Oyster Helpdesk on 0845 330 9876. There will be no refunds available; unusable days will be re-credited to existing tickets, season tickets or Travelcards</li>
<li>For further information, please visit&nbsp;the <a href="http://www.tfl.gov.uk/overground">TfL website</a>, call the Customer Services Team on 0845 601 4867 or email&nbsp;them at <a href="mailto:overgroundinfo&#64;tfl.gov.uk">overgroundinfo&#64;tfl.gov.uk</a></li>
<li>Network Rail's helpline is available to assist customers and residents with enquiries related to the works. Contact them on 0845 711 4141</li>
<li>Weekend engineering works:</li>
<ul>
<li>The planned weekend engineering works affecting services on the Gospel Oak - Barking line will continue most weekends for the remainder of 2009 and up to 2010</li>
<li>The weekend service frequency of up to three trains an hour on Saturday mornings and evenings, and two on Sunday, will carry on until June 2010. From June 2010 the Saturday frequency will be four trains n hour (all day) and the Sunday frequency will be&nbsp;two&nbsp;trains an hour until May 2011, after which the frequency will increase to&nbsp;four&nbsp;trains an hour all day every day</li>
<li>Richmond&nbsp;- Stratford line. There will be no Sunday service until May 2011. After which, there will be a minimum of four trains an hour all day every day</li>
<li>Clapham Junction - Willesden Junction line. There will be no Sunday service between Shepherd's Bush and Willesden Junction, most weekends until May 2011</li>
<li>There will be no service for several weekends between Clapham Junction and Olympia&nbsp;between&nbsp;April and June 2010</li>
<li>There will be no Sunday service between Shepherd's Bush and Willesden Junction, most weekends, until the early part of 2011. After which there will be four trains an hour on Saturdays and Sundays</li>
<li>Watford Junction - Euston line. There will be no service for several weekends between Wembley Central and Queens Park between&nbsp;January and April 2010</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Between Saturday 20 February and 1 June 2010 major signalling and track renewal work, platform lengthening and the refurbishment of some stations will mean there will be no service between Gospel Oak and Stratford stations. A rail replacement service will";}
        
        


 