


@{ViewBag.Title = "London Underground welcomes RMT acceptance of pay deal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground welcomes RMT acceptance of pay deal</h1>
        <div class="content-page-press-release">
        23 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today welcomed the RMT's decision to accept the company's above-inflation pay offer, providing staff with real-terms pay increases over the next two years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a very fair pay deal, which provides stability for our staff in the toughest economic climate for decades."</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a very fair pay deal, which provides stability for our staff in the toughest economic climate for decades.
                            
                        </p>
                    </div>
                
            
            
            <p>In June, LU made all unions a two-year above-inflation offer of a 1.5 per cent pay increase this year and RPI+0.5 per cent next year (or 0.5 per cent, whichever is higher).&nbsp;</p>
<p>Drivers' union ASLEF and TSSA had both accepted the offer, and now RMT members will also benefit from the pay settlement. </p>
<p>LU Managing Director, Richard Parry said: 'This is a very fair pay deal, which provides stability for our staff in the toughest economic climate for decades. </p>
<p>'I am pleased that we are now able to get on with implementing this pay settlement which provides certainty for both our staff and passengers.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In June, LU made all unions a two-year above-inflation offer of a 1.5 per cent pay increase this year and RPI+0.5 per cent next year (or 0.5 per cent, whichever is higher).&nbsp;Drivers' union ASLEF and TSSA had both accepted the offer, and now RMT";}
        
        


 