


@{ViewBag.Title = "London's Cycle Hire scheme free for first half hour";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's Cycle Hire scheme free for first half hour</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycle hire scheme to launch in summer 2010&nbsp; Small access fee means scheme will be low cost way to travel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is amazing how far your bike can take you in 30 minutes if you put in a bit of pedal power"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is amazing how far your bike can take you in 30 minutes if you put in a bit of pedal power
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has announced that London's Cycle Hire scheme will be free for the first half an hour of use when it launches next summer. </p>
<p>The pricing structure for the Capital's latest system of public transport was agreed at yesterday's (10 December) TfL Board meeting.</p>
<p>People wanting to use one of the 6,000 new hire cycles will only need to pay a &pound;1 daily or &pound;5 weekly access fee, or take out a &pound;45 annual membership to be able to use the scheme. </p>
<p>There will be no additional charge provided the bicycle is returned within 30 minutes.</p>
<p>The charging structure means that:</p>
<ul>
<li>A daily user could use a hire bicycle for multiple trips of under 30 minutes in one day for &pound;1 </li>
<li>A weekly user could use the cycle hire scheme for the equivalent of just 71p a day </li>
<li>Annual members will pay as little as 12p a day to have access to a hire bicycle<br></li></ul>
<p>After the first free half hour of rental, the London Cycle Hire scheme will cost &pound;1 for a journey of between 30 minutes and one hour, &pound;4 for up to 90 minutes, and &pound;6 for up to two hours. </p>
<p>The hire charges then increase incrementally up to a maximum hire period of 24 hours. </p>
<p>This charging structure has been chosen in order to ensure as many people as possible can use the scheme, as very few journeys in central London take more than 30 minutes. </p>
<p>Examples of journeys that can be carried out within thirty minutes, taken from TfL's cycling Journey Planner, include: </p>
<ul>
<li>The Regent's Park to Notting Hill Gate, 25 minutes </li>
<li>London Bridge to Hyde Park, 27 minutes </li>
<li>Tower Hill to Bond Street, 23 minutes</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'Our cycle hire scheme is set to be one of the most&nbsp;exciting, affordable and energising ways to get around town.</p>
<p>'It is amazing how far your bike can take you in 30 minutes if you put in a bit of pedal power; and to be able to do so free of charge on one of our fantastic new bikes is simply sensational value for money.'</p>
<p>Members of the scheme, who will pre-register to use the scheme, will get a chip enabled 'key', which will allow them to save time by being able to remove a bicycle from any docking point without having to use the terminal. </p>
<p>People who are not members will be able to hire a London Cycle Hire bicycle by turning up at a docking station and using the payment terminal to hire a cycle. </p>
<p>Payment for hiring a bicycle will be made by credit card or debit card.</p>
<p>Members of the scheme, who will pay the annual user charge, will also have the option of paying by direct debit. </p>
<h2>Accessible option</h2>
<p>David Brown, Director of Surface Transport at TfL, said: 'The Cycle Hire scheme is going to open up cycling to thousands of people who don't currently have the opportunity to cycle in London. </p>
<p>'This brand new public transport system for central London will be a low cost and affordable way to explore the Capital, whether for work or leisure, and we're confident that it will be hugely popular. </p>
<p>'The Mayor and TfL are working to make travelling by bike a safer, more attractive and more accessible option for anyone who works, lives or visits London.'</p>
<p>From summer 2010, people will be able to pick up and drop off hire cycles at around 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. </p>
<p>An initial 6,000 hire cycles are expected to generate up to 40,000 extra cycle journeys a day in central London. </p>
<p>
<p>
<hr>

<p>
<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The access fee and usage charges for the London Cycle Hire scheme bicycles will be:<br></li></ul>
<p>
<div class="table-container"><table height="333" cellspacing="1" cellpadding="1" width="357" border="1">
<tbody>
<tr>
<td>&nbsp;Tariff</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Access fee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Daily</td>
<td>&nbsp;&pound;1</td></tr>
<tr>
<td>&nbsp;Weekly</td>
<td>&nbsp;&pound;5</td></tr>
<tr>
<td>&nbsp;Annual</td>
<td>&nbsp;&pound;45</td></tr>
<tr>
<td>&nbsp;Usage charges</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Less than 30 minutes</td>
<td>&nbsp;Free</td></tr>
<tr>
<td>&nbsp;Less than 60 minutes</td>
<td>&nbsp;&pound;1</td></tr>
<tr>
<td>&nbsp;Less than 90 minutes</td>
<td>&nbsp;&pound;4</td></tr>
<tr>
<td>&nbsp;Less than 120 minutes</td>
<td>&nbsp;&pound;6</td></tr>
<tr>
<td>&nbsp;Less than 150 minutes</td>
<td>&nbsp;&pound;10</td></tr>
<tr>
<td>&nbsp;Less than 180 minutes</td>
<td>&nbsp;&pound;15</td></tr>
<tr>
<td>&nbsp;Less than six hours</td>
<td>&nbsp;&pound;35</td></tr>
<tr>
<td>&nbsp;Less than 24 hours (maximum hire charge)</td>
<td>&nbsp;&pound;50</td></tr></tbody></table></div></p>
<ul>
<li>Non-members (daily and weekly users) and members of the&nbsp;scheme will be able to authorise up to three other additional users (who must be aged 14 or older) to use the scheme </li>
<li>Non-members will have to agree to a pre-authorisation charge of &pound;150 on their payment card in order to hire a bicycle </li>
<li>There will be a late return charge of &pound;150 which will be applied if either your daily, weekly or annual access period expires while you are using a bicycle or if the maximum single usage period of 24 hours for a journey has expired </li>
<li>If a hire cycle is damaged or lost, the user will be liable to pay up to &pound;300 </li>
<li>Payments will need to be made by credit or Mastercard and Visa debit cards. It will be possible to make payments online, by telephone or by using an on-street terminal, located at docking stations </li>
<li>The London Cycle Hire scherme will build on the massive 107 per cent growth in cycle journeys which the Capital has seen since TfL was created in 2000. In the last year alone, there has been a nine per cent increase in cycle journeys on London's major roads </li>
<li>The London Cycle Hire scheme, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable, environmentally friendly form of public transport ever seen in the Capital </li>
<li>To date, TfL has received planning permission for 334 docking station sites - more than three quarters of the 400 sites we require</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced that London's Cycle Hire scheme will be free for the first half an hour of use when it launches next summer. The pricing structure for the Capital's latest system of public transport was agreed at yesterday's (10";}
        
        


 