


@{ViewBag.Title = "Mayor confirms &pound;5.3m for local transport improvements in Barnet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;5.3m for local transport improvements in Barnet</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Barnet over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Barnet has identified a range of small and large scale projects that will make a real difference to local people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Barnet has identified a range of small and large scale projects that will make a real difference to local people
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;5.3m for Barnet to spend on local transport improvements during 2010/11, including &pound;764,000 for essential road maintenance.&nbsp;</p>
<p>Barnet has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;300,000 for the A5100 corridor for junction and further footway improvement work including removing unnecessary guard railings, de-cluttering the streetscape and smoothing traffic flow around Edgware Town Centre </li>
<li>&pound;360,000 for the A1000 corridor - various work throughout the A1000 to address congestion and improve the street scene by removing clutter and reconstructing footways in the town centres </li>
<li>&pound;527,000 for works in vicinity of local train and underground stations to improve the pedestrian environment including de-cluttering of footways </li>
<li>&pound;175,000 for promoting smarter travel planning with school children including 'Walking on Wednesdays', 'Walk to School Week' and other initiatives to help increase active travel and improve health</li></ul>
<p>Mayor of London, Boris Johnson said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the Capital town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want.</p>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.' </p>
<h2>Fairer funding</h2>
<p>Funding for local schemes is allocated each year by Transport for London.&nbsp;&nbsp; </p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy said: 'Barnet has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.&nbsp;</p>
<p>'Barnet also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p><strong>
<p>
<hr>

<p>
<p>Notes to editor</p></strong>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; While Transport for London allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Barnet:<br></li></ul>
<p>
<div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme allocation</strong></td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance </td>
<td>&nbsp;764</td></tr>
<tr>
<td>&nbsp;Corridors </td>
<td>&nbsp;2,212</td></tr>
<tr>
<td>&nbsp;Neighbourhoods </td>
<td>&nbsp;1,602</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;666</td></tr>
<tr>
<td>&nbsp;Area-based schemes </td>
<td>&nbsp;0</td></tr>
<tr>
<td>&nbsp;Local transport funding </td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;5,344</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;5.3m for Barnet to spend on local transport improvements during 2010/11, including &pound;764,000 for essential road maintenance.&nbsp;Barnet has been developing proposals for a number of schemes that it will be";}
        
        


 