


@{ViewBag.Title = "Mayor confirms &pound;3.5m for local transport improvements in Wandsworth and &pound;113,000 to support Cycle Superhighways";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;3.5m for local transport improvements in Wandsworth and &pound;113,000 to support Cycle Superhighways</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Wandsworth over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Even in these tough economic times I am committed to providing this funding to all of London's boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;3.5m for Wandsworth to spend on local transport improvements during 2010/11, including &pound;220,000 for essential road maintenance.&nbsp; </p>
<p>Wandsworth has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;1,230,000 for town centre improvements to Clapham Junction to provide a better interchange between transport modes, better access for pedestrians and to complement improvements to Clapham Junction railway station </li>
<li>&pound;249,000 for improvements to the Queenstown Road including the installation of a new puffin crossing north of Queenstown Road station </li>
<li>&pound;4,000 to extend transport and air quality theatre shows to ten more schools in the borough to raise awareness about air quality issues among pupils and parents </li>
<li>&pound;60,000 to provide free cycle training to children and adults in the borough </li>
<li>&pound;30,000 to implement five additional electric vehicle charging points in the borough </li>
<li>&pound;20,000 for 'Silver Trailblazers', a pilot personalised travel advice service to help the over-60s&nbsp;make the best use of the transport available to them</li></ul>
<p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the capital town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want.</p>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p>
<p>Funding for local schemes is allocated each year by Transport for London (TfL).&nbsp;</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<h2>Mayor's cycling revolution</h2>
<p>London's Transport Commissioner, Peter Hendy, said: 'Wandsworth has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.</p>
<p>'Wandsworth also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>Alongside Local Implementation Plan (LIP) allocations for cycling projects, the Mayor announced an additional &pound;113,000 for Wandsworth as part of &pound;1.49m funding for the eight boroughs benefitting from the two pilot Cycle Superhighways being delivered next year.&nbsp; </p>
<p>'The money has been allocated to provide the appropriate cycle training, parking and maintenance to address the increase in demand from residents living near the new cycling infrastructure, part of the Mayor's cycling revolution in London. </p>
<p>The money allocated to Wandsworth is as follows:</p>
<p>
<div class="table-container"><table height="117" cellspacing="1" cellpadding="1" width="378" border="1">
<tbody>
<tr>
<td>&nbsp;Cycle training (&pound;'000)</td>
<td>&nbsp;Cycle maintenance/travel awareness</td>
<td>&nbsp;Cycle parking</td>
<td>&nbsp;Additional funding subject to further work </td></tr>
<tr>
<td>&nbsp;0</td>
<td>&nbsp;13</td>
<td>&nbsp;50</td>
<td>&nbsp;50</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;Total <strong>113</strong></td></tr></tbody></table></div><br></p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of LIP funding for Wandsworth:<br></li></ul>
<p>
<div class="table-container"><table height="192" cellspacing="1" cellpadding="1" width="383" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme</strong></td>
<td><strong>&nbsp;Allocation (&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance</td>
<td>220</td></tr>
<tr>
<td>&nbsp;Corridors</td>
<td>1,609</td></tr>
<tr>
<td>&nbsp;Neighbourhoods</td>
<td>1,171</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>424</td></tr>
<tr>
<td>&nbsp;Area-based schemes</td>
<td>0</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>100</td></tr>
<tr>
<td><strong>&nbsp;Total</strong></td>
<td>3,524</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;3.5m for Wandsworth to spend on local transport improvements during 2010/11, including &pound;220,000 for essential road maintenance.&nbsp; Wandsworth has been developing proposals for a number of schemes that it";}
        
        


 