


@{ViewBag.Title = "Mayor confirms &pound;3.6m for local transport improvements in Waltham Forest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;3.6m for local transport improvements in Waltham Forest</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Waltham Forest over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Even in these tough economic times I am committed to providing this funding to all of London's boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;3.6m for Waltham Forest to spend on local transport improvements during 2010/11, including &pound;475 for essential road maintenance and &pound;400 for major schemes.</p>
<p>Waltham Forest has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;110,000 to continue cycle training in the borough for adults and children </li>
<li>&pound;80,000 to install a new toucan crossing across Forest Road to allow pedestrians and cyclists to use a traffic free route along the western edge of the borough </li>
<li>&pound;400,000 to improve Forest Road between Woodford New Road and Hale End Road with a review of the carriageway, including better facilities for cyclists and pedestrians, measures to improve access for buses and a review of street signage </li>
<li>&pound;23,000 to implement two travel awareness schemes, 'Car Free Day' and 'Try Cycling/Cycle 50%' scheme aimed at encouraging more commuters to cycle </li>
<li>&pound;5,000 to fund the councils Bike recycling centre which recycles bikes to sell to borough residents </li>
<li>&pound;367,000 for road safety improvements to Westward Road E4 area through improved pedestrian facilities and reduced traffic speeds and safer road layouts </li>
<li>&pound;400,000 for proposals to regenerate the Wood Street Town Centre with public realm proposals being considered including improved paving, lighting and pedestrian facilities and measures to increase safety, security and accessibility including at bus stops</li></ul>
<p>Mayor of London, Boris Johnson said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the Capital town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want. </p>
<h2>Fairer funding formulas</h2>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p>
<p>Funding for local schemes is allocated each year by Transport for London (TfL).</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Waltham Forest has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.</p>
<p>'Waltham Forest also has the flexibility to certain move funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Waltham Forest:</li></ul>
<p>
<div class="table-container"><table height="193" cellspacing="1" cellpadding="1" width="337" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme Allocation </strong>&nbsp;</td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance</td>
<td>&nbsp;475</td></tr>
<tr>
<td>&nbsp;Corridors</td>
<td>&nbsp;1,296</td></tr>
<tr>
<td>&nbsp;Neighbourhoods</td>
<td>&nbsp;997</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;316</td></tr>
<tr>
<td>&nbsp;Area-based schemes</td>
<td>&nbsp;400</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;3,584</td></tr></tbody></table></div><br><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;3.6m for Waltham Forest to spend on local transport improvements during 2010/11, including &pound;475 for essential road maintenance and &pound;400 for major schemes.Waltham Forest has been developing proposals";}
        
        


 