


@{ViewBag.Title = "Mayor confirms &pound;3.8m for local transport improvements in Hammersmith and Fulham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;3.8m for local transport improvements in Hammersmith and Fulham</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Hammersmith and Fulham over local transport spending delivers innovative transport projects.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;3.8m for Hammersmith and Fulham to spend on local transport improvements during 2010/11, including &pound;1,404,000 for essential road maintenance.</p>
<p>Hammersmith and Fulham has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;400,000 for improvements to Goldhawk Road including the completion of works to upgrade Coningham Road crossing including footway widening to smooth traffic flow and improve accessibility </li>
<li>&pound;200,000 for riverwalk improvement with four schemes to enhance streetscape and support wider regeneration work including new paving and signage at the Putney Bridge riverwalk </li>
<li>&pound;20,000 for the Roadwise Rangers project with continued funding for the road safety scheme developed with Queens Park Rangers football club for local children from deprived areas in the borough </li>
<li>&pound;10,000 over three years for a borough-wide roadshow to raise awareness and increase the number of adults and children wearing seatbelts </li>
<li>&pound;60,000 for continued funding of cycle training initiatives</li></ul>
<p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the Capita,l town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want. </p>
<h2>Fairer funding formulas</h2>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p>
<p>Funding for local schemes is allocated each year by Transport for London (TfL).&nbsp;</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Hammersmith and Fulham has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.</p>
<p>'Hammersmith and Fulham also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally </li>
<li>While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of LIP funding for Hammersmith and Fulham:</li></ul>
<p>
<div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme allocation</strong></td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance </td>
<td>&nbsp;1,404</td></tr>
<tr>
<td>&nbsp;Corridors </td>
<td>&nbsp;1,246</td></tr>
<tr>
<td>&nbsp;Neighbourhoods </td>
<td>&nbsp;798</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;297</td></tr>
<tr>
<td>&nbsp;Area-based schemes </td>
<td>&nbsp;0</td></tr>
<tr>
<td>&nbsp;Local transport funding </td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;3,845</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;3.8m for Hammersmith and Fulham to spend on local transport improvements during 2010/11, including &pound;1,404,000 for essential road maintenance.Hammersmith and Fulham has been developing proposals for a number";}
        
        


 