


@{ViewBag.Title = "Mayor confirms &pound;6.1m for local transport improvements in the Royal Borough of Kensington & Chelsea";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;6.1m for local transport improvements in the Royal Borough of Kensington & Chelsea</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Kensington & Chelsea over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Even in these tough economic times I am committed to providing this funding to all of London's boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;6.1m for Kensington &amp; Chelsea to spend on local transport improvements during 2010/11, including &pound;3.2m for essential road maintenance and &pound;550,000 for major schemes.&nbsp; </p>
<p>Kensington &amp; Chelsea has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;935,000 for streetscape and environmental improvements underneath the Westway on St Marks Road and Bramley Road, and outside Chelsea and Westminster Hospital in Fulham Road </li>
<li>&pound;100,000 to improve pedestrian crossings along the King's Road and to enhance the streetscape, making it easier for people to cross the whole road in one go </li>
<li>&pound;30,000 for a marketing campaign encouraging local residents to walk or cycle to their local shops </li>
<li>&pound;100,000 for a road safety campaign to include training for young motorcycle riders and Bike Safe courses for residents, along with a targeted campaign for motorcycle safety </li>
<li>&pound;33,000 to fund a permanent mentoring scheme to help older and disabled borough to use public transport more independently and to also provide mobility scooters for use by residents and visitors to the borough.</li></ul>
<p>In addition, Transport for London (TfL) is providing &pound;6.55m towards the iconic Exhibition Road shared space project in the Capital's museum district and &pound;935,000 for streetscape and environmental improvements underneath the Westway and outside the Chelsea and Westminster Hospital. </p>
<p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs.</p>
<p>'The investment means that across the Capital, town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want. </p>
<h2>Fairer funding formulas</h2>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p>
<p>Funding for local schemes is allocated each year by TfL.</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Kensington &amp; Chelsea has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.&nbsp;</p>
<p>'Kensington &amp; Chelsea also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>
<hr>
<br>
<p>
<p><strong>Notes to editors:</strong> </p>
<p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally </li>
<li>While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of LIP funding for Kensington:</li></ul>
<p>&nbsp;</p>
<p>
<div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme allocation</strong></td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance </td>
<td>&nbsp;3,198</td></tr>
<tr>
<td>&nbsp;Corridors </td>
<td>&nbsp;1,273</td></tr>
<tr>
<td>&nbsp;Neighbourhoods </td>
<td>&nbsp;793</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;274</td></tr>
<tr>
<td>&nbsp;Area-based schemes </td>
<td>&nbsp;550</td></tr>
<tr>
<td>&nbsp;Local transport funding </td>
<td>&nbsp;57</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;6,145</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;6.1m for Kensington &amp; Chelsea to spend on local transport improvements during 2010/11, including &pound;3.2m for essential road maintenance and &pound;550,000 for major schemes.&nbsp; Kensington &amp; Chelsea";}
        
        


 