


@{ViewBag.Title = "Mayor confirms &pound;2m for local transport improvements in the City of London and &pound;338,000 to support Cycle Superhighways";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;2m for local transport improvements in the City of London and &pound;338,000 to support Cycle Superhighways</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for City of London over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance to support the introduction of the first two Cycle Superhighways next year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance to support the introduction of the first two Cycle Superhighways next year
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;2m for the City of London to spend on local transport improvements during 2010/11, including &pound;314,000 for essential road maintenance and &pound;825,000 for major schemes.&nbsp;</p>
<p>The City of London has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>&pound;55,000 to provide additional public seating in the City's streets and public spaces </li>
<li>&pound;25,000 for road safety campaigns and exhibitions to influence the behaviour of road users in the City and reduce the number of road traffic casualties </li>
<li>&pound;40,000 to provide subsidised cycle training and cycle maintenance training </li>
<li>&pound;250,000 for the design of improvements to safety and security and pedestrian access around St Paul's cathedral including through better paving and lighting</li></ul>
<p>Mayor of London, Boris Johnson said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the Capital town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects thatbenefit their residents the most, simplifying the funding system and working together to give local people the improvements they want.</p>
<p>'This time we are also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance to support the introduction of the first two Cycle Superhighways next year.' </p>
<h2>Fairer funding</h2>
<p>Funding for local schemes is allocated each year by Transport for London.&nbsp;</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed. </p>
<p>London's Transport Commissioner, Peter Hendy said: 'The City of London has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.&nbsp;</p>
<p>'The City of London also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>Alongside Local Implementation Plan allocations for cycling projects, the Mayor announced an additional &pound;338,800 for the City of London as part of a &pound;1.49m funding for the eight boroughs benefitting from the two pilot Cycle Superhighways being delivered next year.&nbsp;</p>
<p>The money has been allocated to provide the appropriate cycle training, parking and maintenance to address the increase in demand from residents living near the new cycling infrastructure, part of the Mayor's cycling revolution in London.</p>
<p>The money allocated to City of London as follows:</p>
<p>
<div class="table-container"><table height="131" cellspacing="1" cellpadding="1" width="490" border="1">
<tbody>
<tr>
<td>
<p><strong>&nbsp;Cycle training</strong></p>
<p><strong>&pound;'000</strong></p></td>
<td>
<p><strong>&nbsp;Cycle maintenance/travel awareness</strong></p>
<p><strong>&pound;'000</strong></p></td>
<td>
<p><strong>&nbsp;Cycle parking&nbsp;</strong></p>
<p><strong>&pound;'000</strong></p></td>
<td>
<p>&nbsp;<strong>Additional funding subject to further work</strong></p>
<p><strong>&pound;'000</strong></p></td></tr>
<tr>
<td>&nbsp;22.1</td>
<td>&nbsp;19.7</td>
<td>&nbsp;0</td>
<td>&nbsp;297</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;<strong>Total&nbsp; 338</strong></td></tr></tbody></table></div></p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong></strong>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; While Transport for London allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of Local Implementation Plan funding for City of London:<br></li></ul>
<p>
<div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme allocation</strong></td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance </td>
<td>&nbsp;314</td></tr>
<tr>
<td>&nbsp;Corridors </td>
<td>&nbsp;591</td></tr>
<tr>
<td>&nbsp;Neighbourhoods </td>
<td>&nbsp;158</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;103</td></tr>
<tr>
<td>&nbsp;Area-based schemes </td>
<td>&nbsp;825</td></tr>
<tr>
<td>&nbsp;Local transport funding </td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td><strong>&nbsp;2,091</strong></td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;2m for the City of London to spend on local transport improvements during 2010/11, including &pound;314,000 for essential road maintenance and &pound;825,000 for major schemes.&nbsp;The City of London has been";}
        
        


 