


@{ViewBag.Title = "Mayor confirms &pound;4.6m for local transport improvements in Redbridge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;4.6m for local transport improvements in Redbridge</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Redbridge over local transport spending delivers innovative transport projects.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Even in these tough economic times I am committed to providing this funding to all of London's boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;4.6m for Redbridge to spend on local transport improvements during 2010/11, including &pound;445,000 for essential road maintenance and &pound;1m for major schemes.&nbsp; </p> <p>Redbridge has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p> <ul> <li>&pound;415,000 to improve the A118 High Road with measures, aligned to the Crossrail development, to smooth traffic flow in a heavily congested corridor that links borough town centres to Ilford town centre  </li><li>&pound;90,000 for the Green Corridor 2 on the borough's proposed Cycle Network, development of a new walkway and cycleway for commuters travelling into Ilford  </li><li>&pound;240,000 for investment in the orbital corridor to South Woodford Town Centre, funding streetscape and traffic management improvements including better roundabouts, lighting, new seating, signage and CCTV in the town centre. Together this will help encourage more active travel, improve access to jobs and services and reduce crime rates  </li><li>&pound;350,000 for access improvements in Seven Kings, funding improvements to smooth traffic flow and reduce high speeds during off peak hours in this residential neighbourhood.&nbsp;Measures include a new signalised junction, a pedestrian crossing and better access for pedestrians, cycles and vehicle to the town centre  </li><li>&pound;55,000 to fund the Redbridge Car Club pilot scheme, a borough-wide car club scheme to reduce second car ownership, public transport congestion and carbon dioxide emissions  </li><li>&pound;1,096,000 towards the continuation of works to improve South Woodford town centre, with proposals to improve the public realm, safety and security with better crossings, lighting and paving</li></ul> <p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs.</p> <p>'The investment means that across the Capital, town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p> <p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want. </p> <h2>Fairer funding formulas</h2> <p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p> <p>Funding for local schemes is allocated each year by Transport for London (TfL).</p> <p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p> <p>London's Transport Commissioner, Peter Hendy, said: 'Redbridge has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.</p> <p>'Redbridge also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p> <hr> <br><strong>Notes to editors:</strong>  <p> <ul> <li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.  </li><li>While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough  </li><li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose  </li><li>Below is a table with a breakdown of LIP funding for Redbridge:</li></ul> <p>&nbsp;</p> <p> <div class="table-container"><table height="215" cellspacing="1" cellpadding="1" width="333" border="1"> <tbody> <tr> <td>&nbsp;<strong>Programme allocation</strong></td> <td>&nbsp;<strong>(&pound;000)</strong></td></tr> <tr> <td>&nbsp;Maintenance </td> <td>&nbsp;445</td></tr> <tr> <td>&nbsp;Corridors </td> <td>&nbsp;1,509</td></tr> <tr> <td>&nbsp;Neighbourhoods </td> <td>&nbsp;1,081</td></tr> <tr> <td>&nbsp;Smarter Travel</td> <td>&nbsp;392</td></tr> <tr> <td>&nbsp;Area Based Schemes </td> <td>&nbsp;1,096</td></tr> <tr> <td>&nbsp;Local Transport Funding </td> <td>&nbsp;100</td></tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td></tr> <tr> <td>&nbsp;<strong>Total</strong></td> <td>&nbsp;4,623</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;4.6m for Redbridge to spend on local transport improvements during 2010/11, including &pound;445,000 for essential road maintenance and &pound;1m for major schemes.&nbsp;Redbridge has been developing proposals";}
        
        


 