


@{ViewBag.Title = "Mayor confirms &pound;5.2m for local transport improvements in Greenwich";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;5.2m for local transport improvements in Greenwich</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Greenwich over local transport spending delivers innovative transport projects.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;5.2m for Greenwich to spend on local transport improvements during 2010/11, including &pound;625,000 for essential road maintenance and &pound;1.5m for major schemes.&nbsp;</p>
<p>Greenwich has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p>
<ul>
<li>More than &pound;500,000 for road safety schemes at a number of high priority locations improving safety for pedestrians and cyclists </li>
<li>&pound;445,000 for accessibility improvements to make crossing roads and accessing buses safer for the disabled </li>
<li>Over &pound;300,000 for road safety training and education with diverse communities, young drivers and children to improve road safety </li>
<li>&pound;675,000 to smooth traffic flow and improve the environment in the three main town centres in the borough </li>
<li>&pound;1,450,000 towards the regeneration of General Gordon Square with proposals including re-landscaping of the square, new lighting and signage, high quality public realm with new street furniture and improved pedestrian accessibility</li></ul>
<p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p>
<p>'The investment means that across the Capital, town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer.</p>
<p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want. </p>
<h2>Fairer funding formulas</h2>
<p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p>
<p>Funding for local schemes is allocated each year by Transport for London (TfL).</p>
<p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Greenwich has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.</p>
<p>'Greenwich also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally </li>
<li>While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose </li>
<li>Below is a table with a breakdown of LIP funding for Greenwich:</li></ul>
<p>&nbsp;</p>
<p>
<div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Programme allocation</strong></td>
<td>&nbsp;<strong>(&pound;000)</strong></td></tr>
<tr>
<td>&nbsp;Maintenance </td>
<td>&nbsp;625</td></tr>
<tr>
<td>&nbsp;Corridors </td>
<td>&nbsp;1,533</td></tr>
<tr>
<td>&nbsp;Neighbourhoods </td>
<td>&nbsp;1,130</td></tr>
<tr>
<td>&nbsp;Smarter travel</td>
<td>&nbsp;389</td></tr>
<tr>
<td>&nbsp;Area-based schemes </td>
<td>&nbsp;1,450</td></tr>
<tr>
<td>&nbsp;Local transport funding </td>
<td>&nbsp;100</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;5,227</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;5.2m for Greenwich to spend on local transport improvements during 2010/11, including &pound;625,000 for essential road maintenance and &pound;1.5m for major schemes.&nbsp;Greenwich has been developing proposals";}
        
        


 