


@{ViewBag.Title = "Mayor confirms &pound;4.4m for local transport improvements in Lambeth and &pound;162,000 to support Cycle Superhighways";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms &pound;4.4m for local transport improvements in Lambeth and &pound;162,000 to support Cycle Superhighways</h1>
        <div class="content-page-press-release">
        11 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Greater freedom for Lambeth over local transport spending delivers innovative transport projects.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Even in these tough economic times I am committed to providing this funding to all of London's boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today confirmed &pound;4.4m for Lambeth to spend on local transport improvements during 2010/11, including &pound;330,000 for essential road maintenance and &pound;669,000 for major schemes.&nbsp; </p> <p>Lambeth has been developing proposals for a number of schemes that it will be financing with the funding package, including: </p> <ul> <li>&pound;25,000 for a campaign to increase HGV driver awareness of vulnerable road users, including cyclists  </li><li>&pound;200,000 to continue the council's successful cycle training programme among people of all ages and abilities, including people with disabilities  </li><li>&pound;235,000 to pedestrianise Venn Street and complement works already being undertaken in Clapham Old Town to improve conditions for pedestrians and cyclists  </li><li>&pound;830,000 to introduce 20mph zones across a number of key areas in the borough including many residential areas that are used as rat runs  </li><li>&pound;200,000 to make improvements to Wilcox Road for pedestrians, including improved lighting, new street furniture and renewal of the footway  </li><li>&pound;499,000 for public realm improvements around the Half Moon Lane road junction in Herne Hill including better pedestrian facilities on all arms of the junction, better lighting and improvements to accessibility in the wider area including dropped crossings and the repositioning of street furniture</li></ul> <p>Mayor of London, Boris Johnson, said: 'Even in these tough economic times I am committed to providing this funding to all of London's boroughs. </p> <p>'The investment means that across the Capital, town centres and public spaces are being overhauled, cycling and walking facilities are being improved, and roads are being made safer. </p> <p>'We have cut red tape to make it easier for borough councils to choose the local transport projects that benefit their residents the most, simplifying the funding system and working together to give local people the improvements they want.</p> <p>'This time we're also giving an extra focus to cycling - helping to provide the training, cycle parking, and maintenance knowhow to support the introduction of the first two Cycle Superhighways next year.'</p> <p>Funding for local schemes is allocated each year by Transport for London (TfL).</p> <p>The Mayor has simplified the system - reducing the number of funding streams from 23 to five, and introducing fairer funding formulas where needed.&nbsp; </p> <h2>Fairer funding formulas</h2> <p>London's Transport Commissioner, Peter Hendy, said: 'Lambeth has identified a range of small and large scale projects that will make a real difference to local people by improving town centres and public spaces, reducing the number of collisions on our roads, improving the environment and promoting greener forms of travel.&nbsp;</p> <p>'Lambeth also has the flexibility to move certain funding between projects if, during the course of the year, they find more or less funding is needed for individual schemes.'</p> <p>Alongside Local Implementation Plan (LIP) allocations for cycling projects, the Mayor announced an additional &pound;162,000 for Lambeth as part of &pound;1.49m funding for the eight boroughs benefiting from the two pilot Cycle Superhighways being delivered next year.&nbsp; </p> <p>The money has been allocated to provide the appropriate cycle training, parking and maintenance to address the increase in demand from residents living near the new cycling infrastructure, part of the Mayor's cycling revolution in London.</p> <p>The money allocated to Lambeth is as follows:</p> <p> <div class="table-container"><table height="131" cellspacing="1" cellpadding="1" width="490" border="1"> <tbody> <tr> <td> <p><strong>&nbsp;Cycle training</strong></p> <p><strong>&pound;'000</strong></p></td> <td> <p><strong>&nbsp;Cycle maintenance/travel awareness</strong></p> <p><strong>&pound;'000</strong></p></td> <td> <p><strong>&nbsp;Cycle parking&nbsp;</strong></p> <p><strong>&pound;'000</strong></p></td> <td> <p>&nbsp;<strong>Additional funding subject to further work</strong></p> <p><strong>&pound;'000</strong></p></td></tr> <tr> <td>&nbsp;40</td> <td>&nbsp;3</td> <td>&nbsp;66.7</td> <td>&nbsp;52</td></tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;<strong>Total&nbsp; 162</strong></td></tr></tbody></table></div></p> <p> <hr>  <p> <p><strong>Notes to editors:</strong> </p> <p> <ul> <li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally  </li><li>While TfL allocated funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough  </li><li>In addition to the usual borough allocation, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose  </li><li>Below is a table with a breakdown of LIP funding for Lambeth:</li></ul> <p>&nbsp;</p> <p> <div class="table-container"><table height="220" cellspacing="1" cellpadding="1" width="404" border="1"> <tbody> <tr> <td>&nbsp;<strong>Programme allocation</strong></td> <td>&nbsp;<strong>(&pound;000)</strong></td></tr> <tr> <td>&nbsp;Maintenance </td> <td>&nbsp;330</td></tr> <tr> <td>&nbsp;Corridors </td> <td>&nbsp;1,699</td></tr> <tr> <td>&nbsp;Neighbourhoods </td> <td>&nbsp;1,326</td></tr> <tr> <td>&nbsp;Smarter travel</td> <td>&nbsp;363</td></tr> <tr> <td>&nbsp;Area-based schemes </td> <td>&nbsp;669</td></tr> <tr> <td>&nbsp;Local transport funding </td> <td>&nbsp;100</td></tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td></tr> <tr> <td>&nbsp;<strong>Total</strong></td> <td>&nbsp;4,487</td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today confirmed &pound;4.4m for Lambeth to spend on local transport improvements during 2010/11, including &pound;330,000 for essential road maintenance and &pound;669,000 for major schemes.&nbsp;Lambeth has been developing proposals";}
        
        


 