


@{ViewBag.Title = "One ticket for London as Oyster pay as you go accepted on National Rail from 2 January";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One ticket for London as Oyster pay as you go accepted on National Rail from 2 January</h1>
        <div class="content-page-press-release">
        29 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New TfL 2010 fares to come in to effect on the same day.<BR>Oyster now accepted on all commuter rail services plus Tube, bus, Docklands Light Railway (DLR), tram and river.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new year will see the start of a new age of travel in London - the Oyster age"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new year will see the start of a new age of travel in London - the Oyster age
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today issued a reminder that from 2 January 2010, Oyster pay as you go will be accepted on all commuter rail services in Greater London, the same day as new 2010 TfL fares come in to effect.</p>
<p>Oyster pay as you go will be accepted on all Greater London services operated by Chiltern, National Express East Anglia, London Midland, First Great Western, First Capital Connect, Southern, Southeastern and South West Trains as well as c2c services in Greater London and at Grays, Chafford Hundred, Purfleet and Ockendon stations in Essex.</p>
<p>The extension of the ticketing system will particularly benefit commuters living across south and north east London, where Oyster pay as you go is not currently accepted on the vast majority of rail services.</p>
<p>New 2010 fares for all TfL services will also come into effect on 2 January.</p>

<h2>Sustaining investment</h2>
<p>The Mayor today reiterated that, while a difficult decision to raise fares was necessary to help sustain investment in vital transport improvements and to protect frontline services, he has also protected free and concessionary fares for London's older and&nbsp;young people, as well as those&nbsp;on low incomes.</p>
<p>Mayor of London, Boris Johnson, said: 'The new year will see the start of a new age of travel in London - the Oyster age. </p>
<p>'From January 2nd your card will be valid underground, overground, on the bus, tram, and river.</p>
<p>'It will also be a year when our transport system sees dramatic improvements - new trains on the Victoria line and on the Metropolitan line complete with air conditioning, the opening of the East London line, a cycling revolution, and the start of full works on Crossrail. </p>

<h2>Vital improvements</h2>
<p>'I know the fares rises will be hard but believe me - without them these huge improvements in our quality of life, and the retention of the standing of our city, would not be possible.'</p>
<p>'This package means that the vital improvements continue, and that we ensure that free and concessionary fares for London's elderly, young people and those on low incomes is protected.'</p>
<p>A total of 40 per cent of bus passengers will continue to travel free or at a substantial concessionary rate and the Freedom Pass will continue to be valid for travel 24 hours a day on all TfL services.</p>
<p>On average bus fares will rise by 12.7 per cent and Tube fares by 3.9 per cent.&nbsp; </p>
<h2>Fares package</h2>

<p>These increases are similar to fare rises introduced in 2005 and 2006, when bus fares increased by 12.7 per cent, and then by 12.9 per cent respectively and Tube fares by 4.0 per cent and 3.9 per cent respectively.</p>
<p>The main elements of the 2010 fares package are:</p>
<ul>
<li>Oyster pay as you go bus fare - from &pound;1.00 to &pound;1.20 </li>
<li>A seven-day Bus &amp; Tram&nbsp;pass - from &pound;13.80 to &pound;16.60 </li>
<li>On the Tube, the Zone 1 Oyster pay as you go fare&nbsp;- from &pound;1.60 to &pound;1.80 </li>
<li>Most other Oyster pay as you go fares on the Tube also increase by 20p, with larger increases in some longer-distance Peak fares </li>
<li>The vast majority of Travelcard prices will be frozen across the network </li>
<li>By using Oyster, Londoners will continue to receive best value single-journey and daily prices across the TfL network, including the daily price cap </li></ul>
<p>The need to raise fares resulted from the huge financial pressures on TfL caused by the collapse of former Tube maintenance company Metronet, a recession-linked fall in Tube ridership and the fares policy of the former administration.</p>
<p>Billions of pounds are being invested in the Capital's transport system including in the upgrade of eight Tube lines, Crossrail, a cycling revolution and efforts to smooth traffic flow across the city - many of which will be delivered ahead of the London 2012 Games.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The expansion of Oyster pay as you go on National Rail services means that passengers will be able to use Oyster pay as you go at all 350 National Rail stations in London from 2 January 2010 
<li>In the overwhelming majority of cases, Oyster pay as you go offers the cheapest single rail fare applicable to that particular route.&nbsp;The only exceptions are holders of certain National Railcards (Network, Family and Goldcard) for whom cheaper paper tickets for travel on National Rail may be available.&nbsp;Passengers are advised to check the best fare before travelling with the relevant train operator </li>
<li>Oyster pay as you go will not be accepted on Heathrow Express, Heathrow Connect services between Hayes &amp; Harlington and Heathrow Terminals, or on Southeastern high speed services between Stratford and St Pancras International </li>
<li>The Train Operating Companies will set Oyster pay as you go fares on the National Rail network.&nbsp;These will be zonally based, but will be different from fares on TfL services.&nbsp;TfL fares will apply on the Tube, DLR, London Overground and National Rail services that currently accept Oyster pay as you go </li>
<li>An additional combined TfL/National Rail fare will be introduced for journeys that incorporate both TfL and National Rail services </li>
<li>Passengers can access the online TfL <a href="http://www.tfl.gov.uk/tfl/tickets/faresandtickets/farefinder/next/">Single Fares Finder </a>to find out the best value fare for their journey. It provides a choice of information on single journey&nbsp; fares for the Tube, DLR, London Overground and some National Rail services</li>
<p>A sample of fares can be found below: </p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>Zone</strong></td>
<td><strong>Sample station</strong></td>
<td>
<p><strong>Passengers with a traditional cash ticket</strong></p>
<p>(cash single fare)</p></td>
<td>
<p><strong>Passengers using Oyster pay as you go on National Rail</strong></p>
<p>(Peak / Off-peak)</p></td>
<td>
<p><strong>Passengers with a traditional cash ticket on a journey combining National Rail and the Tube</strong></p>
<p>(cash single fare)</p></td>
<td>
<p><strong>Passengers using Oyster pay as you go on a&nbsp;journey combining National Rail and the Tube</strong></p>
<p>(Peak / Off-peak)</p></td></tr>
<tr>
<td><strong>From Zone 6 to Zone 1</strong></td>
<td>Surbiton</td>
<td>
<p>Surbiton - London Waterloo</p>
<p>(&pound;5.00)</p></td>
<td>
<p>Surbiton - London Waterloo</p>
<p>(&pound;4.90 / &pound;3.20)</p></td>
<td>
<p>Surbiton - Oxford Circus</p>
<p>(&pound;7.00)</p></td>
<td>
<p>Surbiton - Oxford Circus</p>
<p>(&pound;6.00 / &pound;4.30)</p></td></tr>
<tr>
<td><strong>From Zone 5 to Zone 1</strong></td>
<td>East Croydon</td>
<td>
<p>East Croydon - London Bridge</p>
<p>(&pound;4.40)</p></td>
<td>
<p>East Croydon - London Bridge </p>
<p>(&pound;3.90 / &pound;2.60)</p></td>
<td>
<p>East Croydon - Oxford Circus</p>
<p>(&pound;6.30)</p></td>
<td>
<p>East Croydon - Oxford Circus </p>
<p>(&pound;5.00 / &pound;3.70)</p></td></tr>
<tr>
<td><strong>From Zone 4 to Zone 1</strong></td>
<td>Beckenham Junction</td>
<td>
<p>Beckenham Junction - London Victoria</p>
<p>(&pound;3.70)</p></td>
<td>
<p>Beckenham Junction - London Victoria</p>
<p>(&pound;3.10/&pound;2.30)</p></td>
<td>
<p>Beckenham Junction - Oxford Circus</p>
<p>(&pound;5.60)</p></td>
<td>
<p>Beckenham Junction - Oxford Circus</p>
<p>(&pound;4.20 / &pound;3.40)</p></td></tr>
<tr>
<td><strong>From Zone 3 to Zone 1</strong></td>
<td>Forest Gate</td>
<td>
<p>Forest Gate - London Liverpool Street</p>
<p>(&pound;3.10)</p></td>
<td>
<p>Forest Gate - London Liverpool Street</p>
<p>(&pound;2.60 / &pound;2.00)</p></td>
<td>
<p>Forest Gate - Oxford Circus</p>
<p>(&pound;5.10)</p></td>
<td>
<p>Forest Gate - Oxford Circus</p>
<p>(&pound;3.70 / &pound;3.10)</p></td></tr>
<tr>
<td><strong>From Zone 2 to Zone 1</strong></td>
<td>Lewisham</td>
<td>
<p>Lewisham - London Charing Cross</p>
<p>(&pound;2.40)</p></td>
<td>
<p>Lewisham - London Charing Cross</p>
<p>(&pound;2.10 / &pound;1.70)</p></td>
<td>
<p>Lewisham - Oxford Circus</p>
<p>(&pound;4.40)</p></td>
<td>
<p>Lewisham - Oxford Circus</p>
<p>(&pound;3.20 / &pound;2.80)</p></td></tr></tbody></table></div></p>
<ul>
<li>A new <a href="http://www.tfl.gov.uk/assets/downloads/oyster-rail-services-map.pdf">Oyster rail services</a> map is available online </li>
<li>TfL has invested &pound;40m to install or upgrade equipment at every train station in London to bring about the 'oysterisation' of the Capital's transport system </li>
<li>When passengers use Oyster they must touch in and out on the yellow card readers on the Tube, DLR, London Overground and on National Rail services where applicable.&nbsp;On buses and trams they just need to touch in at the start of their journey </li>
<li>More than seven milion Oyster cards are regularly used in London and Oyster accounted for more than&nbsp;three billion&nbsp;passenger journeys last year </li>
<li>Passengers can register their Oyster card so that the money is protected if the card is lost or stolen </li>
<li>Oyster is also available: 
<ul>
<li><a href="http://www.tfl.gov.uk/oyster">Online</a> </li>
<li>Over the phone on 0845 330 9876 </li>
<li>At one of almost 4,000 <a href="http://ticketstoplocator.tfl.gov.uk/LocationLocator/">Oyster Ticket Stops </a>across London </li>
<li>At Tube and London Overground station ticket machines and ticket offices </li>
<li>From some ticket machines at National Rail stations (not South West Trains) </li>
<li>At six London Travel Information Centres, open seven days a week at Liverpool Street Tube station, Piccadilly Circus Tube station, Euston mainline station, Victoria mainline station, Heathrow Terminals 1,2,3 Tube station and from the Camden Town Hall Travel Information Centre opposite King's Cross station (open Monday to Friday only)</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today issued a reminder that from 2 January 2010, Oyster pay as you go will be accepted on all commuter rail services in Greater London, the same day as new 2010 TfL fares come in to effect.Oyster pay as you go will be accepted";}
        
        


 