


@{ViewBag.Title = "PPP Arbiter finds Tube upgrade costs close to London Underground's assessment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>PPP Arbiter finds Tube upgrade costs close to London Underground's assessment</h1>
        <div class="content-page-press-release">
        17 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arbiter's Draft Directions over &pound;2bn less than Tube Lines' original demand.<BR>&pound;4.4bn much closer to London Underground's (LU's) evaluation.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am determined that any additional costs must not fall on London's fare payers and taxpayers
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Boris Johnson, and Transport for London (TfL) today welcomed the PPP Arbiter's rejection of Tube Lines' evaluation of the costs of the future maintenance and upgrade of the Jubilee, Northern and Piccadilly lines, as he published his Draft Directions on those costs.</p>
<p>The independent PPP Arbiter's draft determination is that the economic and efficient price for improving the Tube over the seven and a half years from mid-2010 to 2017 should be &pound;4.4bn, rather than the &pound;6.8bn originally sought by Tube Lines.</p>
<p>The Arbiter also found that Tube Lines, working in partnership with LU, could have completed the upgrade of the Jubilee line on time and to budget and that Tube Lines' pursuit of more access, or closures, in the future was unnecessary.</p>
<p>The PPP Arbiter was called upon to set an economic and efficient price after Tube Lines proposed costs well in excess of LU evaluation of &pound;4bn, following LU's provision of Restated Contract Terms to Tube Lines last December.</p>
<h2>Cost evaluation</h2>
<p>LU will continue to work with Tube Lines and the Government ahead of the Arbiter's confirmation of his directions in March 2010 to address any funding shortfall that remains at that time.&nbsp; </p>
<p>However, the Mayor and TfL reiterated their view that any additional cost to LU over and above its budgeted costs should be met by Government, who imposed the PPP structure on London, in order to ensure the vital improvements in Tube reliability and capacity promised by the PPP can be delivered in full.</p>
<p>Mayor of London Boris Johnson said: 'Londoners need and deserve a more frequent and reliable Tube, delivered at an acceptable price.&nbsp; </p>
<p>'I welcome the Arbiter's rejection of Tube Lines view of costs, and his recognition that they should be much closer to London Underground's.&nbsp; </p>
<h2>Delivering Tube upgrades</h2>
<p>'However, I am determined that any additional costs must not fall on London's fare payers and taxpayers.</p>
<p>'I also urge Tube Lines to work with London Underground to focus on the job in hand - to complete the delayed Jubilee line upgrade as soon as possible.&nbsp; </p>
<p>'Only by ensuring these upgrades are delivered can the Capital continue to function as the heartbeat of the national economy.'</p>
<p>LU Managing Director Richard Parry said: 'We are determined to see the Tube improvements promised delivered in the most economic and efficient way possible for fare payers and taxpayers.&nbsp; </p>
<h2>Greater capacity</h2>
<p>'The draft costs determined by the PPP Arbiter are much closer to London Underground's assessment than Tube Lines.</p>
<p>'The upgrade of the Tube is vital and will deliver the greater capacity and reliability we need to enable London to continue to grow and prosper.&nbsp; </p>
<p>'Although it has not been without its frustrations, we are making great progress in transforming the Tube.&nbsp; </p>
<h2>Lessons for the future</h2>
<p>'The Victoria line upgrade, which is being delivered by London Underground, is on track, new air-conditioned trains have arrived in London and in each of the last three years we have carried more than one billion customers, the highest number in the history of London Underground.</p>
<p>'We continue to press Tube Lines to deliver a clear and credible plan for the delivery of the full Jubilee line upgrade.&nbsp; </p>
<p>'They must also learn the lessons for the future to deliver the Northern line upgrade economically and efficiently, and with disruption to Tube passengers and businesses minimised.'</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>LU is part of TfL </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The remaining Underground lines were to have been maintained and upgraded by Metronet Rail, which went into PPP Administration in July 2007. The businesses subsequently transferred to TfL </li>
<li>LU's 2009 PPP Annual Report itself can be found <a href="http://www.tfl.gov.uk/assets/downloads/london-underground-ppp-performance-report-2008-2009.pdf">online</a></li></ul>
<p><strong>The PPP Periodic Review Process</strong></p>
<p>On 23 September, LU referred the issue of Tube Lines Second Period PPP costs to the independent PPP Arbiter, as part of the PPP Periodic Review process to determine the future price of the upgrade and maintenance of the Jubilee, Northern and Piccadilly lines.&nbsp;</p>
<p>The Second Period of the PPP contract is for seven and a half years from mid-2010 to the end of 2017.</p>
<p>LU provided Tube Lines with Restated Contract Terms, which set the scope of the track, trains, station and signalling improvements required in the Second Period, at the end of December 2008.&nbsp; </p>
<p>Tube Lines responded to LU at the end of June, but at &pound;6.8bn with a price significantly in excess of LU's then &pound;4.2bn evaluation and which was also much higher than the price indicated by the PPP Arbiter in his initial guidance provided in September 2008.</p>
<p>Since June, LU has worked constructively with Tube Lines to bring their costs down.&nbsp; </p>
<p>But even though progress was made, towards the end of September Tube Lines' price remained unacceptably high and, at well over a billion pounds in excess of LU's price, did not represent value for money.&nbsp; </p>
<p>As a result, LU made a referral to the Arbiter who conducted his independent review. </p>
<p>Today, the PPP Arbiter provided his Draft Directions on price, &pound;4.4bn, and other questions relevant to the process.</p>
<p>LU and Tube Lines now have the opportunity to make further representations to the PPP Arbiter, before he confirms his Directions on Second Period costs in March 2010.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson, and Transport for London (TfL) today welcomed the PPP Arbiter's rejection of Tube Lines' evaluation of the costs of the future maintenance and upgrade of the Jubilee, Northern and Piccadilly lines, as he published his Draft";}
        
        


 