


@{ViewBag.Title = "Transport engineering works on Christmas Day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport engineering works on Christmas Day</h1>
        <div class="content-page-press-release">
        15 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As Londoners open their Christmas presents, Transport for London (TfL) continues to improve and expand the Capital's transport network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our staff will be working around the clock to continue to make improvements to London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our staff will be working around the clock to continue to make improvements to London's transport network
                            
                        </p>
                    </div>
                
            
            
            <p>On Christmas Day there will be no services on the Tube, DLR, London Overground, Tramlink and London Buses networks.</p>
<p>As stations will be closed and no normal passenger services will run, this is a perfect time for routine maintenance works to take place, and for new trains and signalling systems to be tested.&nbsp; </p>
<p>As part of TfL's multi-billion pound investment programme, staff will work day and night at stations, on trains and tracks - which will remain live so that maintenance trains can remain in operation.&nbsp; </p>
<p>Howard Collins, Chief Operating Officer for London Underground said:&nbsp; 'Londoners shouldn't be surprised if they hear trains going past on Christmas Day as we'll be making the most of the one day a year we're closed to passengers.&nbsp; </p>
<p>'Our staff will be working around the clock to continue to make improvements to London's transport network.'</p>
<p><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>On 25 December there will be no services on the Tube, London Buses, DLR, London Overground and Tramlink networks, no services from Victoria Coach Station, and no service on all but one Riverboat service </li>
<li>Passengers are advised to check before they travel to help them plan their journey.&nbsp; This can be done by checking posters and leaflets at stations, listening out for public address announcements, going to the TfL website, <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>, calling TfL's 24 hour travel information telephone helpline: 020 7222 1234 </li>
<li>TfL is investing billions of pounds to improve and expand London's transport network </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Christmas Day there will be no services on the Tube, DLR, London Overground, Tramlink and London Buses networks.As stations will be closed and no normal passenger services will run, this is a perfect time for routine maintenance works to take place,";}
        
        


 