


@{ViewBag.Title = "Travel information reminder for TfL services for New Year's Eve and New Year's Day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel information reminder for TfL services for New Year's Eve and New Year's Day</h1>
        <div class="content-page-press-release">
        30 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        ING Direct is sponsoring free travel on the Tube, DLR, London Buses and Tramlink on New Year's Eve from 23:45 until 04.30
        
    </div>



 <div class="on-this-page">
<p>Night buses will run normally in outer London, but there will be some road closures in central London.</p> <p>Wrap up warmly, don't bring young children, be prepared for long waits in the cold, and don't drink too much - we want you to get home safely!</p> <p>Londoners and visitors travelling in the Capital over New Year's Eve and New Year's Day are reminded to 'check before they travel' as there will be some changes to normal services. </p> <p>For full details go to <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> or call 0843 222 1234.</p> <p>A Festive Travel Guide was published in early December by the Mayor of London and Transport for London (TfL), which has full details of Tube, London Buses, Docklands Light Railway (DLR), Tramlink, London Overground and Riverboat services as well as the operation of the Congestion Charge throughout the entire festive period up to and including Friday 1 January 2010. </p> <p><a>The Guide is available online</a> and from leaflet racks across the TfL network. </p> <h2>New Year's Eve</h2> <p>Wherever you are seeing in the New Year across the Capital, you should plan your journey carefully and take advantage of all night and free travel on public transport.</p> <p>Wrap up warmly, wear waterproofs or take an umbrella. </p> <p>Be prepared for long waits in the cold. It is not advisable to bring young children and buggies to central London to see the fireworks - take them to see the New Year's Day Parade instead.</p> <p>Enjoy yourself - but don't drink too much - so you get home safely!</p> <p>ING Direct is sponsoring free travel on the Tube, DLR, London Buses and Tramlink on New Year's Eve from 23:45 until 04:30.&nbsp; </p> <p>In addition selected National Rail services will be running through the night; check with the appropriate train operator for details.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'London will herald the start of 2010 with a bang - with a spectacular fireworks display at the London Eye.&nbsp; </p> <p>'Countless celebrations will take place all across the city, with many thousands of Londoners and visitors making the most of our unrivalled selection of bars, restaurants and hotels. </p> <p>'Unless you're going by bike, public transport will without doubt be the best way to travel. There will be services across London throughout the night and, because we want everyone to be able to get home safely, we are making travel free.'</p> <p>Night and 24-hour bus routes will run as normal outside central London. </p> <p>But there will be a reduction in bus services leaving central London from about 7pm to about 3am because of road closures. </p> <p>However, bus services on the night will be enhanced with an extra 55 bus routes that normally only run during the day. </p> <p>They will operate a 24-hour service to link with late night rail and Underground services, and provide all night connections for people in outer London.&nbsp; <br>&nbsp;<br>London Overground services will not run through the night. </p> <p>After 23:45 the minimal services running on the Euston to Watford branch will be free, but will finish at 01:25.&nbsp;</p> <p>Bank DLR platforms will be closed.<br>&nbsp; <br>There will be a reduced number of UK coaches departing from Victoria Coach Station, with the last coaches departing about 8pm.</p> <h2>Congestion Charge</h2> <p>From now until Friday 1 January inclusive, motorists will not have to pay the Congestion Charge. </p> <p>Congestion Charging will be in operation as usual from Monday 4 January 2010.<br></p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>London Underground (LU) is undertaking a major programme of renewal as part of TfL's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines  </li><li>Passengers are advised to check before travelling via the following options:&nbsp;  <ul type="circle"> <li>The TfL website at&nbsp;<a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> and Journey Planner. Alternatively text TFL to 60835 (charged at the network operator's standard rate)  </li><li><a>TfL's festive travel guide</a>  </li><li>Information on posters, leaflets and 'Good Service' boards at Tube stations  </li><li>The London Travel Information 24-hour telephone helpline: 0843 222 1234  </li><li>Access travel information news in advance or&nbsp;on the go using any one of TfL's new suite of <a href="http://www.tfl.gov.uk/traveltools">Travel Tools</a></li></ul> <li>London Dial-a-Ride will be operating over the New Year and all members have been sent leaflets. For queries about booking arrangements over this period please contact the Reservations Contact Centre on 0845 999 1 999  </li><li>For information about the New Year's Eve fireworks go to <a href="http://www.london.gov.uk/newyearseve">www.london.gov.uk/newyearseve</a>  </li><li>For information about events and attractions throughout the festive period go to <a class="external-site" title=" (Opens in new window)" href="http://www.visitlondon.com" jquery1262192862367="6">www.visitlondon.com</a></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Night buses will run normally in outer London, but there will be some road closures in central London. Wrap up warmly, don't bring young children, be prepared for long waits in the cold, and don't drink too much - we want you to get home safely! Londoners";}
        
        


 