


@{ViewBag.Title = "Walking London made easy with expansion of pedestrian information system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walking London made easy with expansion of pedestrian information system</h1>
        <div class="content-page-press-release">
        14 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Legible London is introduced to three new areas of the Capital - with Richmond upon Thames the first outer London borough to use the scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The huge diversity of London's districts, and the ancient maze of streets in some parts of town, make it a fascinating city to discover on foot"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The huge diversity of London's districts, and the ancient maze of streets in some parts of town, make it a fascinating city to discover on foot
                            
                        </p>
                    </div>
                
            
            
            <p>Some of the Capital's most visited areas, including Richmond and Twickenham, will become easier to explore on foot from this month due to the expansion of Transport for London's (TfL's) pedestrian information system&nbsp; 'Legible London'.</p>
<p>The scheme was launched in November 2007 and is already successfully guiding pedestrians around the Bond Street area of London. </p>
<p>Now, three additional areas of the Capital are getting their own set of Legible London signs, maps and fingerposts designed to make it quicker and easier to navigate around each location on foot. </p>
<h2>Encouraging more walking</h2>
<p>The maps will also be displayed in Tube stations and bus stops within these new areas, to give people consistent information throughout their journey.</p>
<p>Legible London signs are currently being installed in each of the following areas:</p>
<ul>
<li>The leafy outer London town centres of Richmond and Twickenham, in partnership with the London Borough of Richmond upon Thames, which will demonstrate how Legible London works in an outer London environment. The Legible London signs will complement the work already taking place as part of the three year, &pound;4.2m Smarter Travel Richmond upon Thames programme to boost the number of journeys made on foot, by bike or using public transport </li>
<li>South Bank and Bankside, which are ideal locations for encouraging more walking journeys with their riverside attractions and proximity to Waterloo station - one of the Capital's major transport hubs. This pilot is being delivered in partnership with the London Boroughs of Lambeth and Southwark, Cross River Partnership, South Bank Employers' Group, Better Bankside and Waterloo Quarter BID </li>
<li>A further West End scheme, in partnership with Camden and Westminster Councils, covering the area between Bloomsbury, Covent Garden and Holborn, which has a large number of Tube stations between which travelling by foot is the quickest option </li>
<li>Legible London is part of work to reduce the overall amount of street clutter. Its installation will allow the removal of obsolete signage that currently stands in many areas, making life easier for pedestrians</li></ul>
<p>Kulveer Ranger, the Mayor of London's transport adviser, unveilled a Legible London sign at Twickenham riverside today. </p>
<p>He said: 'The huge diversity of London's districts, and the ancient maze of streets in some parts of town, make it a fascinating city to discover on foot. </p>
<p>'With its clear, distinctive design, the Legible London scheme aims to equip pedestrians with all the information they need to get from A to B quickly and easily. </p>
<h2>Innovative scheme</h2>
<p>'It also helps to improve the public realm as where Legible London is installed, confusing old signage is removed.</p>
<p>'Making walking count while improving the public realm is a key priority for the Mayor and it is great to see a number of London's boroughs working with TfL to deliver this innovative scheme. </p>
<p>'I'm delighted that three additional areas of the Capital are now benefitting from the system, and am confident that Legible London will help encourage thousands more to stride out on foot, helping to boost health and cut congestion and pollution.'</p>
<p>Ben Plowden, Director of Integrated Programme Delivery, TfL, said: 'London's size can make it challenging to navigate the city on foot, leading to people using the Tube or buses for shorter journeys when it is often quicker to walk. </p>
<h2>Enjoyable and convenient</h2>
<p>'The Legible London scheme has already helped hundreds of thousands of pedestrians in central London quickly get their bearings and walk between landmarks, attractions and other amenities without getting lost.</p>
<p>'By expanding the system to other areas of the Capital, including an outer London borough for the first time, we hope to increase the number of pedestrian journeys in these areas and help people discover how enjoyable and convenient walking can be.'</p>
<p>The three Legible London pilots are being delivered in partnership with London boroughs, business improvement districts and private land owners. </p>
<p>From 2010/11, these groups will be able to develop and manage their own Legible London schemes, with advice and guidance from TfL, subject to obtaining the necessary third party funding.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor and TfL are working with London's borough councils to make it easier for boroughs to deliver key improvements through their local implementation plans </li>
<li>The first on-street prototype of the Legible London project was installed in November 2007 in the area around Bond Street station as part of the Oxford Street, Regent Street, Bond Street (ORB) Programme </li>
<li>Research on the impact of the Legible London prototype in Bond Street found that 85 per cent of those interviewed (2,600 members of the public) found Legible London easy or very easy to use, 90 per cent felt the system should be rolled out across London and almost two-thirds of respondents said the new system would encourage them to walk more. On average, pedestrian journeys in the Bond Street area were quicker by 16 per cent following installation of the signage (research conducted by Colin Buchanan) </li>
<li>Many Tube journeys within central London are easily 'walkable', with 53 per cent of journeys quicker to walk than to catch the Tube </li>
<li>Walking is good for your health. People who do 30 minutes of moderate intensity activity on most days of the week have half the chance of developing heart disease than people who do no activity at all </li>
<li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the transport network </li>
<li>Walking currently accounts for 24 per cent of all daily journeys made in London - around 5.7 million walking journeys a day. TfL's target is to increase this figure to seven million walking journeys per day by 2025</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some of the Capital's most visited areas, including Richmond and Twickenham, will become easier to explore on foot from this month due to the expansion of Transport for London's (TfL's) pedestrian information system&nbsp; 'Legible London'.The scheme was";}
        
        


 