


@{ViewBag.Title = "Wrightbus to design and build New Bus for London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wrightbus to design and build New Bus for London </h1>
        <div class="content-page-press-release">
        23 December 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New bus to deliver 40 per cent better fuel consumption than conventional diesel double-decker buses. Design even greener than existing hybrid bus
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The countdown is now well and truly on as Wrightbus work nineteen to the dozen to deliver Londoners their new bus"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The countdown is now well and truly on as Wrightbus work nineteen to the dozen to deliver Londoners their new bus
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced that they have selected Wrightbus as the preferred manufacturer for the final design and build of the New Bus for London, based on the iconic Routemaster.</p>
<p>The New Bus for London will feature:</p>
<ul>
<li>An open platform: a defining feature allowing the reinstatement of a hop-on, hop-off bus service. The platform will have the facility to be closed off at certain times, such as at night </li>
<li>Green technology: the new bus will incorporate the latest hybrid technology and will be 40 per cent more fuel efficient than conventional diesel buses and 15 per cent more fuel efficient than current London hybrid buses </li>
<li>Air quality emissions will be reduced by 40 per cent for NOx* emissions and 33 per cent for PM** emissions when compared with conventional diesel buses </li>
<li>Three doors (including the rear platform) and two staircases, giving an innovative new design and aiding speedier and smoother boarding </li>
<li>Capacity for at least 87 passengers</li></ul>
<p>Boris Johnson, Mayor of London, said: 'Londoners have waited with stoic patience as work has continued behind the scenes to select the manufacturer to make the 21st century Routemaster a reality. </p>
<p>'The decision has now been made, and we can look forward to a new icon of London that not only returns to the Capital the joy of the open platform, but also utilises the latest state-of-the art green technology, slashing pollution and fuel consumption.</p>
<p>'The countdown is now well and truly on as Wrightbus work nineteen to the dozen to deliver Londoners their new bus in 2011, ahead of the world descending on the city for the 2012 Games.'</p>
<p>David Brown, Managing Director of Surface Transport, TfL, said: 'We have reached the end of a very competitive tendering process and are delighted to select Wrightbus as the preferred manufacturer to take this project forward.&nbsp;</p>
<h2>Largest in Europe</h2>
<p>'We're well on track to see the New Bus for London on the road in 2011. The latest engine technology will make the new bus even more environmentally friendly than hybrid buses currently operating in London.'</p>
<p>Wrightbus will work on finalising their design with initial outlines expected in the New Year.&nbsp; </p>
<p>The first new bus will be on the streets of London in 2011, boosting London's low emission bus fleet, which is already the largest in Europe.</p>
<p>In the meantime, TfL will continue the programme of converting the fleet to hybrid technology, and retrofitting buses to Euro 4 standard as part of the Mayor's Air Quality Strategy. </p>
<h2>Wonderful opportunity</h2>
<p>Mark Nodder, Managing Director of Wright Group, said: 'Wrightbus is delighted to have been chosen by TfL to be the preferred bidder on the New Bus for London project. </p>
<p>'The New Bus for London project marks the start of an exciting new chapter in passenger transport in one of the world's great cities and Wrightbus is proud to be chosen as a partner to develop a new transport icon for London. </p>
<p>'This is indeed a privilege and a wonderful opportunity for everyone in the Wright Group, to design and build a vehicle that will doubtless become recognisable the world over. </p>
<p>'The Wright Group has a long and proud history of innovation and has recently worked closely with TfL on a number of other projects, notably as the first manufacturer to introduce hybrid buses into fare-paying service in the Capital, as well as the introduction of fuel cell buses due in 2010.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The invitation to negotiate&nbsp;was issued to six bus manufacturers on Friday 22 May </li>
<li>The preferred manufacturer was chosen on Wednesday 23 December 2009, there will then be a 10-day standstill period. (This is a mandatory period required by the public procurement regulations between announcing the winner of a contract and the signing of the contract.)</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced that they have selected Wrightbus as the preferred manufacturer for the final design and build of the New Bus for London, based on the iconic Routemaster.The New Bus for London will feature:An open platform: a";}
        
        


 