


@{ViewBag.Title = "06.40 hours - Tube services today";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>06.40 hours - Tube services today</h1>
        <div class="content-page-press-release">
        08 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following yesterday's attack, services are now running on most lines, although you may experience some delays.
        
    </div>



 <div class="on-this-page">
<p>Following yesterday's attack, services are now running on most lines, although you may experience some delays.</p>
<p>However there will be no service on the following lines until further notice:</p>
<p><strong>Piccadilly line</strong> - no service between Hyde Park Corner and Arnos Grove. A special bus service will operate between Arnos Grove and Finchley Central to connect with Northern line services.</p>
<p><strong>Circle and Hammersmith & City lines</strong> - no service at all</p>
<p><strong>Metropolitan line</strong> - no service between Baker Street and Aldgate</p>
<p><strong>District line</strong> - no service between High Street Kensington and Edgware Road</p>
<p>Additionally King's Cross St Pancras station is closed.</p>
<p>Passengers are to keep their belongings with them at all times and report anything suspicious to a member of staff.</p>
<p><strong>Congestion charge</strong></p>
<p>Please note, the congestion charge will not be in effect during Friday. TfL's advice to drivers remains not to travel through central London during this period.</p>
            <p><strong>TUBE</strong></p>
<ul>
<li>This is the worst incident in the history of London underground 
</li><li>The last serious incident was the Kings Cross fire in 1987 when 27 people died after a machine room under a wooden escalator caught fire. This led to a major overhaul of emergency procedures 
</li><li>There was a derailment at White City on May 11, 2004 but there were no injuries or fatalities 
</li><li>There was a derailment at Camden Town 19 October 2003 with 7 injuries and no fatalities 
</li><li>There was a derailment at Chancery Lane 25 January 2003 with no injuries and no fatalities 
</li><li>Each AM peak 370,000 use the tube.</li></ul>
<p><strong>Well prepared</strong></p>
<ul>
<li>London Underground conducted a live emergency exercise at Tower Hill station two and a half weeks ago on 12 June which fully tested the combined emergency services response to an emergency 
</li><li>Each year LU holds an emergency exercise to test procedures 
</li><li>There was a multi national emergency desktop exercise, Atlantic Blue, earlier this year which focused on the response to a potential terrorist attack.</li></ul>
<p><strong>Precautions</strong></p>
<ul>
<li>There has recently been a renewed campaign in conjunction with the Met Police to report suspect bags and packages. These posters are highly visible in Tube stations and on buses 
</li><li>A London resilience team has weekly meetings - London wide resilience plans have been fully tested. </li></ul>
<p><strong>BUSES</strong></p>
<ul>
<li>Approximately 325,000 people travel on buses during the morning peak 
</li><li>CCTV pictures will be used to assist police.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following yesterday's attack, services are now running on most lines, although you may experience some delays.However there will be no service on the following lines until further notice:Piccadilly line - no service between Hyde Park Corner and Arnos";}
        
        


 