


@{ViewBag.Title = "10:00 hours - Todays transport services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>10:00 hours - Todays transport services</h1>
        <div class="content-page-press-release">
        08 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Additional TfL staff are on duty across the London Underground and London Buses networks providing passengers with the latest travel information.
        
    </div>



 <div class="on-this-page">
<p>Additional TfL staff are on duty across the London Underground and London Buses networks providing passengers with the latest travel information. </p>
<p><strong>London Underground </strong></p>
<p>Passengers are advised to check the latest travel information for their routes by calling TfL travel information on 020 7222 1234 or visiting <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html</a> </p>
<p><strong>Near Normal service: </strong></p>
<p><strong>Bakerloo, Central, East London Line, Jubilee, Northern, Victoria and Waterloo &amp; City </strong></p>
<p><strong>Restricted service:</strong></p>
<p><strong>District</strong><br>No service High St Kensington to Edgware Road.<br>No service to Olympia.<br>Reduced Wimbledon to High St Kensington service to operate.<br></p>
<p><strong>Metropolitan</strong><br>No service Baker Street to Aldgate.<br>Near normal service north of Baker Street.<br></p>
<p><strong>Piccadilly </strong><br>Services will run:<br>Heathrow to Hyde Park Corner (every 5 mins)<br>Acton Town to Rayners Lane shuttle (every 10 mins)<br>Cockfosters to Arnos Grove (every 10 mins)<br>Replacement bus services will operate from Arnos Grove to Finchley Central for transfer to the Northern line.<br></p>
<p><strong>No service:</strong></p>
<p><strong>Circle<br>Hammersmith &amp; City </strong></p>
<p><strong>London Buses </strong></p>
<p>London Buses are running a near-normal service, although this may be affected by temporary road closures. Routes which use the roads around Russell Square, Woburn Place and Aldgate High Street will be diverted. Regular security checks will continue to take place on each bus and at all bus stations and garages for the foreseeable future. Buses will accept London Underground tickets in Zone 1 and on routes from Hammersmith to Aldgate, from Hyde Park Corner to Cockfosters, and between Upminster and Whitechapel. </p>
<p><strong>Roads </strong></p>
<p>Roads around Russell Square, Woburn Place and Aldgate High Street will be closed for up to the next 48 hours. </p>
<p><strong>Congestion charge </strong></p>
<p>The congestion charge will not be in effect during Friday. Advice to drivers remains not to travel through central London during this period. </p>
<p><strong><a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Real time travel information is available here.</a></strong></p>
            <p><strong>TUBE</strong></p>
<ul>
<li>This is the worst incident in the history of London underground 
</li><li>The last serious incident was the Kings Cross fire in 1987 when 27 people died after a machine room under a wooden escalator caught fire. This led to a major overhaul of emergency procedures 
</li><li>There was a derailment at White City on May 11, 2004 but there were no injuries or fatalities 
</li><li>There was a derailment at Camden Town 19 October 2003 with 7 injuries and no fatalities 
</li><li>There was a derailment at Chancery Lane 25 January 2003 with no injuries and no fatalities 
</li><li>Each AM peak 370,000 use the tube.</li></ul>
<p><strong>Well prepared</strong></p>
<ul>
<li>London Underground conducted a live emergency exercise at Tower Hill station two and a half weeks ago on 12 June which fully tested the combined emergency services response to an emergency 
</li><li>Each year LU holds an emergency exercise to test procedures 
</li><li>There was a multi national emergency desktop exercise, Atlantic Blue, earlier this year which focused on the response to a potential terrorist attack.</li></ul>
<p><strong>Precautions</strong></p>
<ul>
<li>There has recently been a renewed campaign in conjunction with the Met Police to report suspect bags and packages. These posters are highly visible in Tube stations and on buses 
</li><li>A London resilience team has weekly meetings - London wide resilience plans have been fully tested. </li></ul>
<p><strong>BUSES</strong></p>
<ul>
<li>Approximately 325,000 people travel on buses during the morning peak 
</li><li>CCTV pictures will be used to assist police.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Additional TfL staff are on duty across the London Underground and London Buses networks providing passengers with the latest travel information. London Underground Passengers are advised to check the latest travel information for their routes by calling";}
        
        


 