


@{ViewBag.Title = "13 July service update: 1400 hours";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>13 July service update: 1400 hours</h1>
        <div class="content-page-press-release">
        13 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        We are working with the Police and hope to have a full service on the following lines five days after the investigations are completed at Aldgate and Edgware Road:
        
    </div>



 <div class="on-this-page">
<ul>
<li>Circle</li>
<li>District</li>
<li>Hammersmith & City </li>
<li>Metropolitan </li></ul>
<p>At King's Cross St. Pancras, we cannot yet predict with any confidence when the full Piccadilly line service will resume. </p>
<p>We will update you when we have more information.</p>
<p>Thank you for your patience whilst we do our best to return services to normal. </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "CircleDistrictHammersmith & City Metropolitan At King's Cross St. Pancras, we cannot yet predict with any confidence when the full Piccadilly line service will resume. We will update you when we have more information.Thank you for your patience whilst we";}
        
        


 