


@{ViewBag.Title = "15:15 - Transport for London Update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>15:15 - Transport for London Update</h1>
        <div class="content-page-press-release">
        08 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This morning, London Underground (LU) operated normal services on the Bakerloo, Central, East London, Jubilee, Northern and Victoria lines. The Circle and Hammersmith & City lines are suspended with the Piccadilly, Metropolitan and District lines part-suspended. LU was able to operate 95% of scheduled services during the morning peak.
        
    </div>



 <div class="on-this-page">
<p>Our advice to passengers is to check latest travel information and allow extra time for your journeys.</p>
<p>Extra security checks are in place but passengers should remain vigilant and question any suspect items or behaviour and immediately inform Tube staff or the Police. </p>
<p>We especially ask that passengers be extra careful not to leave belongings behind or leave litter on trains or at stations as these will cause unnecessary security alerts at a time when the emergency services are at full stretch. </p>
<p><strong>Tube</strong></p>
<p>A number of Tube stations had to be temporarily closed this morning due to unattended items being left in stations.</p>
<p>Extensive damage has been caused to the three trains in yesterday's terrorist attacks at Edgware Road, Aldgate and Russell Square. The track at these three locations has also been damaged. No sections of tunnel have collapsed. </p>
<p>We will not be able to identify the extent of damage until we can access the three sites and undertake structural surveys.</p>
<p>A criminal investigation is ongoing and takes precedence but as soon as we get control back from the Police we will be working extremely hard to get services back to normal.</p>
<p>We hope to get the Circle and Hammersmith & City lines back up and running within days but we do not expect services on the central section of the Piccadilly line to be restored for several weeks.</p>
<p>One London Underground employee was injured in yesterday's attacks. He is currently in a critical condition.</p>
<p>Passenger numbers will be lower today than on a normal Friday in London but as the days go on we anticipate that Londoners will return to using the Tube in the same numbers they did before.</p>
<p>Tim O'Toole, Managing Director, London Underground said: "This was the worst terrorist attack in the history of London Underground. Innocent individuals travelling to work or going about their normal daily business lost their lives on a system they trusted to get them about London. Hundreds others were injured. My deepest condolences and those of all Underground staff are with the friends and families of all those killed and injured.</p>
<p> "I would like to take this opportunity to pay tribute to all London Underground staff for their heroic response to yesterday's atrocities. Prior to the arrival of the emergency services they had to work in the most appalling and difficult of situations that most of us will thankfully never experience. In particular, I want to pay tribute to the staff of the Emergency Response Unit who played a critical role in removing the dead and injured from the carnage underground. Along with emergency service personnel who worked tirelessly throughout the day; they were a credit to London.</p>
<p>"The magnificent and calm response shown by passengers also helped to make a very difficult situation better. </p>
<p>"With 3 million passengers a day the difficulty in today's global security climate is striking the balance between running a mass transit service and introducing security measures that prevent people travelling in London. In conjunction with the Police, we are reviewing our current security arrangements and will introduce new measures if they so request."</p>
<p><strong>London Buses</strong></p>
<p>London Buses are running a near-normal service, although this may be affected by temporary road closures. There are no bus related problems this morning but services are being affected by security alerts at Liverpool Street and Bishopsgate.</p>
<p>Buses are accepting London Underground tickets in Zone 1 and on routes from Hammersmith to Aldgate, from Hyde Park Corner to Cockfosters, and between Upminster and Whitechapel. </p>
<p>Peter Hendy, Managing Director, Surface Transport said: "Our bus drivers and staff worked hard yesterday and were out in force again today to keep London moving after yesterday's terrible events. Buses carried hundreds of walking wounded to hospitals,
            <p><strong>TUBE</strong></p>
<ul>
<li>This is the worst incident in the history of London underground 
</li><li>The last serious incident was the Kings Cross fire in 1987 when 27 people died after a machine room under a wooden escalator caught fire. This led to a major overhaul of emergency procedures 
</li><li>There was a derailment at White City on May 11, 2004 but there were no injuries or fatalities 
</li><li>There was a derailment at Camden Town 19 October 2003 with 7 injuries and no fatalities 
</li><li>There was a derailment at Chancery Lane 25 January 2003 with no injuries and no fatalities 
</li><li>Each AM peak 370,000 use the tube.</li></ul>
<p><strong>Well prepared</strong></p>
<ul>
<li>London Underground conducted a live emergency exercise at Tower Hill station two and a half weeks ago on 12 June which fully tested the combined emergency services response to an emergency 
</li><li>Each year LU holds an emergency exercise to test procedures 
</li><li>There was a multi national emergency desktop exercise, Atlantic Blue, earlier this year which focused on the response to a potential terrorist attack.</li></ul>
<p><strong>Precautions</strong></p>
<ul>
<li>There has recently been a renewed campaign in conjunction with the Met Police to report suspect bags and packages. These posters are highly visible in Tube stations and on buses 
</li><li>A London resilience team has weekly meetings - London wide resilience plans have been fully tested. </li></ul>
<p><strong>BUSES</strong></p>
<ul>
<li>Approximately 325,000 people travel on buses during the morning peak 
</li><li>CCTV pictures will be used to assist police.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Our advice to passengers is to check latest travel information and allow extra time for your journeys.Extra security checks are in place but passengers should remain vigilant and question any suspect items or behaviour and immediately inform Tube staff or";}
        
        


 