


@{ViewBag.Title = "19:25 hours - Transport for London travel update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>19:25 hours - Transport for London travel update</h1>
        <div class="content-page-press-release">
        21 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Incidents at Warren St, Oval and Shepherd's Bush (Hammersmith &amp; City) stations this afternoon have resulted in service suspension and disruption to parts of the London Underground network. These three stations remain closed.
        
    </div>



 <div class="on-this-page">
<p>We are working hard to restore services as quickly as possible. </p>
<p>Services are currently operating as follows:</p>
<p><strong>Bakerloo</strong> - normal service</p>
<p><strong>Central</strong> - normal service</p>
<p><strong>Circle</strong> - suspended (due to 7 July incidents)</p>
<p><strong>District</strong> - suspended between Edgware Road and High Street Kensington (due to 7 July incidents)</p>
<p><strong>East London </strong>- normal service</p>
<p><strong>Hammersmith &amp; City </strong>- suspended (due to 7 and 21 July incidents)</p>
<p><strong>Jubilee</strong> - normal service</p>
<p><strong>Metropolitan</strong> - suspended between Moorgate to Aldgate (due to 7 July incidents)</p>
<p><strong>Northern </strong>- suspended between Stockwell and Kennington (due to 21 July incidents)</p>
<p><strong>Piccadilly </strong>-operating between Cockfosters and Arnos Grove only (due to 7 and 21 July incidents)</p>
<p><strong>Victoria line</strong> - operating between Walthamstow to Highbury &amp; Islington and between Victoria to Brixton (due to 21 July incidents)</p>
<p><strong>Waterloo &amp; City</strong> - normal service</p>
Realtime information is available for <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html" lid="Tube">Tube</a> and <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.html" lid="buses">buses</a>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "We are working hard to restore services as quickly as possible. Services are currently operating as follows:Bakerloo - normal serviceCentral - normal serviceCircle - suspended (due to 7 July incidents)District - suspended between Edgware Road and High";}
        
        


 