


@{ViewBag.Title = "22.30 hours - TfL update on Friday services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>22.30 hours - TfL update on Friday services</h1>
        <div class="content-page-press-release">
        07 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Additional TfL staff will be on duty across the London Underground and London Buses networks providing passengers with the latest travel information.
        
    </div>



 <div class="on-this-page">
<p>We are encouraging our passengers and staff to remain vigilant, to question who owns items that remain unattended and to report any unattended items or suspicious activity to transport staff or the Police.</p>
<p><strong>London Underground</strong></p>
<p>London Underground has confirmed the following expected service patterns for Friday 8th July. However, this may be subject to potential changes.</p>
<p>Passengers are advised to check the latest travel information for their routes by calling TfL travel information on 020 7222 1243 or visiting <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">live travel news</a>.</p>
<p><strong>Near Normal service</strong></p>
<p>Bakerloo<br>Central<br>East London Line<br>Jubilee<br>Northern<br>Victoria<br>Waterloo &amp; City</p>
<p><strong>Restricted service</strong></p>
<p><strong>District</strong></p>
<p>No service High St Kensington to Edgware Road<br>No service to Olympia<br>Reduced Wimbledon to High St Kensington service to operate</p>
<p><strong>Metropolitan</strong></p>
<p>No service Baker Street to Aldgate<br>Near normal service north of Baker Street</p>
<p><strong>Piccadilly</strong></p>
<p>Services will run:</p>
<ul>
<li>Heathrow to Hyde Park Corner (every 5 mins) </li>
<li>Acton Town to Rayners Lane shuttle (every 10 mins) </li>
<li>Cockfosters to Arnos Grove (every 10 mins)</li></ul>
<p>Replacement bus services will operate from Arnos Grove to Finchley Central for transfer to the Northern line.</p>
<p><strong>No service</strong></p>
<p>Circle<br>Hammersmith &amp; City</p>
<p>We hope to operate a replacement bus service along the northern section of the Circle Line, many Circle line stations are within walking distance to alternative stations, for example Warren Street is a five minute walk from Euston Square.</p>
<p><strong>London Buses</strong></p>
<p>London Buses will attempt to run a full service. Only those routes using the roads around Russell Square, Woburn Place and Aldgate High Street will be diverted. Regular security checks will continue to take place on each bus and at all bus stations and garages for the foreseeable future.</p>
<p><strong>Roads</strong></p>
<p>Roads around Russell Square, Woburn Place and Aldgate High Street will be closed for up to the next 48 hours.</p>
<p><strong>Congestion charge</strong></p>
<p>The congestion charge will not be in effect during Friday.</p>
<p>TfL's advice to drivers remains not to travel through central London during this period.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "We are encouraging our passengers and staff to remain vigilant, to question who owns items that remain unattended and to report any unattended items or suspicious activity to transport staff or the Police.London UndergroundLondon Underground has confirmed";}
        
        


 