


@{ViewBag.Title = "A40 Acton Bridges replacement project";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A40 Acton Bridges replacement project</h1>
        <div class="content-page-press-release">
        18 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is holding a public exhibition to give details of the scheme to replace two of the A40 Western Avenue bridges over the railway lines at Wales Farm Road and Perryn Road in Acton.
        
    </div>



 <div class="on-this-page">
<p>People are invited along to St Dunstan's Church in Friars Place Lane on Friday 22nd July, 2pm to 8pm and John Perryn School, Long Drive on 23rd July, 10am to 4pm to hear more about the project which will bring considerable improvements to the road. </p>
<p>The three year project will deliver:</p>
<ul>
<li>New bridges that will secure the structural safety for the next 120 years 
</li><li>A modern carriageway and safer highway layout for drivers 
</li><li>Quick and safe access to and from the A40 
</li><li>A new toucan crossing, with disabled access, to replace the existing footbridge at Perryn Road 
</li><li>New cycle paths on both sides of the new road 
</li><li>Improved footways 
</li><li>New bus shelters 
</li><li>A new one-way access road between St. Dunstan's Avenue and Friary Road 
</li><li>Landscaping the full length of the scheme 
</li><li>Wales Farm Road Bridge has been designed to enable future rail network expansion and improvements to meet European route requirements</li></ul>
<p>The major construction project is crucial because the bridges were built during the late 1920s and not designed to manage today's volumes of A40 traffic - over 100,000 vehicles a day.</p>
<p>The new bridges will also ensure the safety of the railway tracks below that handle all rail networks in and out of Paddington, including the Heathrow Express and First Great Western - over 800 trains, transporting 145,000 passengers daily.</p>
<p>Members of TfL's project team, together with their Consulting Engineers, Hyder Consulting and Contractor, Alfred McAlpine, will be available at the exhibitions to explain how the scheme may affect residents and answer any questions.</p>
            <ul>
<li>The exhibitions will be held at:
</li><li>St Dunstan's Church, Friars Place Lane, W3 - Friday 22 July 2005, 2pm to 8pm
</li><li>John Perryn School, Long Drive, W3 - Saturday 23 July 2005, 10am to 4pm
</li><li>People can find out more, ask questions and keep up-to-date with project progress at <a href="http://www.a40actonbridges.info/">www.A40ActonBridges.info</a> 
</li><li>Email: <a href="mailto:info&#64;A40ActonBridges.info">info&#64;A40ActonBridges.info</a> 
</li><li>A project telephone hotline, available 24 hours 7 days a week, has been set up for you to use. Calls will be charged at your local rate. Call: 0845 601 7282</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People are invited along to St Dunstan's Church in Friars Place Lane on Friday 22nd July, 2pm to 8pm and John Perryn School, Long Drive on 23rd July, 10am to 4pm to hear more about the project which will bring considerable improvements to the road. The";}
        
        


 