


@{ViewBag.Title = "Busk8 celebrates busking on Tube and Live8";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Busk8 celebrates busking on Tube and Live8</h1>
        <div class="content-page-press-release">
        01 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) licensed buskers celebrate two years of successful Tube gigs today with a two-hour concert, Busk8, in support of Live8.
        
    </div>



 <div class="on-this-page">
<p>Busk8 is at Canary Wharf station from 1000 to 1200, with all proceeds being donated to the Make Poverty History campaign.</p>
<p>Sally and Jonny, a dynamic busking duo, said: "Busk8 is our chance to celebrate two years of busking on the Tube and to do our bit to support Live8.</p>
<p>"We have been very successful playing on the Underground during the last two years, so we're delighted to give up our proceeds for a day and back the aims of the Live8 campaign."</p>
<p>Over the past two years, the Carling Live Underground Music scheme has enriched the Underground by bringing music to Tube users, kick-started musical careers and helped to cut crime on the Tube.</p>
<p>Steve Charlick, LU Operational Services Manager, said: "A huge majority of our three million daily passengers wanted live music on the Tube and have warmly supported licensed buskers.</p>
<p>"We've also seen improved station security, with busking related police call-outs in stations dramatically reduced, freeing up valuable time for both the British Transport Police and London Underground staff. </p>
<p>"A little live music seems to help everyone's day along and we believe the scheme has a great future."</p>
<p>London's emerging musical talents have been spotted busking on the Tube by the likes of EMI and Sony Records, offered a host of quirky gigs and received the honour of being invited to play for the Queen. </p>
<p>
</p>
<h2>Unusual events</h2>
<p>
</p>
<p>In 2001, LU won a change to the law that legalised licensed busking and worked with Viacom Outdoor to arrange the Carling Live Underground Music scheme.</p>
<p>In its first two years, at least three buskers have been spotted by top record companies, while two-thirds have been approached to play at weddings, auditions and more unusual events including:</p>
<ul>
    <li>A music industry reception for the Queen at Buckingham Palace in March 2005
    </li>
    <li>Auditions for various West End musicals including Cabaret
    </li>
    <li>A party for the Finnish royal family and another for the ambassador of Taiwan.</li>
</ul>
<p>LU and Carling now provide 36 stages, presenting 289 licensed artists who perform over 3,000 hours of live music a week to passengers making some of the Tube's three million daily journeys. Of the current 289 licensed buskers:</p>
<ul>
    <li>75 per cent are men and 25 per cent are women
    </li>
    <li>63 per cent are guitarists, 6 per cent violinists, 13 per cent saxophonists, 4 per cent play flutes, 2 per cent harmonicas, 1 per cent accordions, 2 per cent keyboards and 1 per cent the didgeridoo
    </li>
    <li>The remaining 8 per cent play a variety of weird and wonderful instruments including banjo, double bass, French horn, harp, tin whistle, bagpipe and there is even a human beatbox.</li>
</ul>
<p>Such is the success of licensed busking on the Tube that a recent poll revealed 79 per cent of Londoners now want to see the scheme extended across other public spaces, and 61 per cent said they would welcome licensed busking across other forms of public transport.</p>
<p>Des Johnson, Brand Director - Carling, said: "This scheme provides a unique opportunity for artists to showcase their talent in front of millions of commuters every week. </p>
<p>"We at Carling are committed to supporting new emerging Underground talents."</p>
<p>LU's franchise partner, Viacom Outdoor, arranged the sponsorship and created the busking pitches using specially designed floor graphics and stage backdrops.</p>
<p>Nicky Cheshire, Head of Impact at Viacom Outdoor, commented: "This initiative is an excellent means of adding colour to commuters' journeys and encouraging empathy with the Carling brand as well as the London Underground itself.</p>
<p>"We are continually working to identify ways to engage with consumers on the move and add value to their experience."</p>
<ul>
    <li>Travelling to Live8:<br />
    <ul>
        <li>Transport for London set up a special website with travel advice for those with tickets for the Live8 event in Hyde Park tomorrow</li>
    </ul>
    </li>
    <li>More on the musicians:<br />
    <ul>
        <li>One busker plays solely for charity, donating his entire takings to Children in Need each and every week</li>
        <li>400 musicians apply to the scheme every year and around 20 per cent fail</li>
        <li>42 auditions have been held since the initiative began in May 2003</li>
        <li>114 buskers have been part of the scheme since it first started</li>
    </ul>
    </li>
    <li>The scheme:<br />
    <ul>
        <li>Sponsored by Carling, the LU busking initiative was originally launched from 19 May 2003 to 6 June 2003, after LU won the right in 2001 to change National law and the local bylaws to legalise licensed busking</li>
        <li>The scheme was developed as a response to customer demand for talented musicians being licensed to play at stations but not on trains</li>
        <li>Commercial backing from Carling helps fund the recruitment and auditioning of musicians, as well as the management of the scheme by professional artist management company Automatic Management</li>
        <li>Licensed buskers are chosen on talent, with emphasis strongly placed on meeting the wide-ranging musical tastes of Tube customers</li>
        <li>Buskers are not paid by LU or Carling, and rely on the generosity of Tube passengers</li>
        <li>All buskers have to pass an audition in front of a judging panel, and are vetted for any police convictions before they are issued a London Underground Busking Licence</li>
        <li>There is no fee for the London Underground Busking Licence</li>
        <li>The scheme's overnight success resulted in its gradual expansion in the last two years: there are now 36 pitches throughout the network with 289 licensed buskers</li>
        <li>Angel, King's Cross St. Pancras, Euston, Waterloo and Victoria were added in October 2003; Notting Hill Gate and Hammersmith followed in January 2005. The scheme started and continues at Canary Wharf, Bond Street, Green Park, Westminster, Leicester Square, Tottenham Court Road, Charing Cross, Oxford Circus, Piccadilly Circus, South Kensington, Bank, Victoria and London Bridge. Over 3,360 hours of live music are provided by the buskers every week.</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Busk8 is at Canary Wharf station from 1000 to 1200, with all proceeds being donated to the Make Poverty History campaign.Sally and Jonny, a dynamic busking duo, said: 'Busk8 is our chance to celebrate two years of busking on the Tube and to do our bit to";}
        
        


 