


@{ViewBag.Title = "Dont leave your belongings on the bus or Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dont leave your belongings on the bus or Tube</h1>
        <div class="content-page-press-release">
        11 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London is working hard to operate a normal Tube and bus service across the network after Thursday's attacks. </p>
<p>However, this work is being hampered by security alerts caused by passengers leaving baggage and other items unattended or abandoned on buses and the Tube.  Since Friday morning, there have been more than 50 security alerts - roughly one per hour of operation - on the Tube resulting in train services being delayed or cancelled and station evacuations. Bus services are also facing regular disruptions.</p>
<p>        
            
                        
            
            
            
            <p>A TfL spokesperson said: </p>
<p>&quot;These security alerts are causing delays to services and placing an additional burden on our staff and emergency services who are working so hard to keep London moving safely.  </p>
<p>&quot;At this time, it is irresponsible in the extreme for a minority of passengers to cause major disruptions through thoughtlessness. We are asking everyone travelling in the Capital to help us by keeping hold of their possessions and getting rid of their litter sensibly.&quot;</p>
<p>Speaking on vigilance, the spokesman said:</p>
<p>&quot;We are urging all passengers to challenge others if they see anything unusual and bring it immediately to the attention of TfL staff or the police.&quot;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is working hard to operate a normal Tube and bus service across the network after Thursday's attacks. However, this work is being hampered by security alerts caused by passengers leaving baggage and other items unattended or abandoned";}
        
        


 