


@{ViewBag.Title = "Hammersmith and City line closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith and City line closure</h1>
        <div class="content-page-press-release">
        26 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the White City development, the bridge that carries the Hammersmith &amp; City line over the Central line has to be replaced.
        
    </div>



 <div class="on-this-page">
<p>No trains will operate between Hammersmith and Edgware Road on the Hammersmith and City line from Friday 29 July to Monday 1 August 2005 inclusive.</p>
<p>A rail replacement bus service will be in operation along the following route:</p>
<p><strong>Hammersmith - Goldhawk Road - Shepherd's Bush (Central line) - Latimer Road - Ladbroke Grove - Westbourne Park - Royal Oak - Paddington - Edgware Road - Baker Street.</strong></p>
<p>Customers are also advised to use alternative tube routes especially the District line from Hammersmith (District &amp; Piccadilly line station) and the Central line from Shepherd's Bush (Central line) station.</p>
<p>The development at White City, scheduled to open in 2008, comprises a 1.3 million square foot regional shopping centre. </p>
<p>The development will have a large positive impact on the transport infrastructure in the area. </p>
<p>The Central line Shepherd's Bush station will be rebuilt, a new station will be provided on the Hammersmith and City line as will a new station on the West London line. </p>
<p>In addition, a new bus interchange is to be constructed to the north of the site.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "No trains will operate between Hammersmith and Edgware Road on the Hammersmith and City line from Friday 29 July to Monday 1 August 2005 inclusive.A rail replacement bus service will be in operation along the following route:Hammersmith - Goldhawk Road -";}
        
        


 