


@{ViewBag.Title = "How to help Tube staff on Monday / service update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>How to help Tube staff on Monday / service update</h1>
        <div class="content-page-press-release">
        10 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers should be reassured that safety is the top priority for London Underground, the British Transport Police and the Metropolitan Police. Underground staff will be out in stations reassuring passengers that the Tube is safe to travel on. Approaching 4000 Underground staff are on duty during the morning peak on weekdays.
        
    </div>



 <div class="on-this-page">
<p>A number of Tube stations had to be temporarily closed on Friday due to unattended items being left in stations.</p>
<p>During these difficult times, we especially ask that passengers be extra careful not to leave belongings behind or leave litter on trains or at stations as these will cause unnecessary security alerts. </p>
<p>Passengers should remain vigilant and question any suspect items or behaviour and immediately inform Tube staff or the Police. <br>We expect that a normal service will operate on the following lines:</p>
<ul>
<li>Bakerloo, Central, East London, Jubilee, Northern, Victoria and Waterloo &amp; City lines. 
</li><li>The Circle line remains suspended. Hammersmith &amp; City line will operate between Hammersmith and Paddington only. There will be no service on the Metropolitan line between Moorgate and Aldgate and on the District line there will be no service between High Street Kensington and Edgware Road. 
</li><li>On the Piccadilly line there will be no service between Hyde Park Corner and Arnos Grove and between Rayners Lane and Uxbridge. A special bus service will call at Arnos Grove and Finchley Central to provide a connection with the Northern line. A second service calling at Bounds Green, Wood Green, Turnpike Lane and Seven Sisters will operate to connect with Victoria line services. Additional bus services are operating on route 91 between Holloway Road and Euston via Caledonian Road and King's Cross St Pancras. 
</li><li>From the first train tomorrow (18 July) King's Cross St Pancras Underground station is open for the Metropolitan, Northern and Victoria lines and interchange with other Underground lines is available.</li></ul>
<p>London Underground expects that passenger numbers will be lower tomorrow compared to a normal Monday in London but as the days go on we anticipate that Londoners will return to using the Tube in the same numbers as they did before.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A number of Tube stations had to be temporarily closed on Friday due to unattended items being left in stations.During these difficult times, we especially ask that passengers be extra careful not to leave belongings behind or leave litter on trains or at";}
        
        


 