


@{ViewBag.Title = "Improvement works at Chancery Lane station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works at Chancery Lane station</h1>
        <div class="content-page-press-release">
        05 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Chancery Lane station on the Central line will become exit only during the morning peak from 11 July 2005 to 6 June 2006 due to essential escalator refurbishment works taking place to improve the station.
        
    </div>



 <div class="on-this-page">
<p>Three of the five escalators will be refurbished during this time. </p>
<p>The number of passengers exiting the station at peak times far exceeds the capacity of one escalator therefore, during the work on the upper bank the two remaining escalators will be reversed to run upward, during the morning peak. </p>
<p>As a result, Chancery Lane station will be exit only between 0730 to 1000 Monday to Friday.</p>
<p>Metronet Rail BCV is responsible for the maintenance and renewal of the Central line.</p>
<p>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube.</p>
            <ul>
<li>Chancery Lane station first opened on 30 July 1900 
</li><li>43,000 people use the station daily 
</li><li>11,730 passengers exit the station between 0730 and 1000 on weekdays 
</li><li>Chancery Lane station has the shortest escalator (9.1m) on the London Underground System, with just 50 steps.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three of the five escalators will be refurbished during this time. The number of passengers exiting the station at peak times far exceeds the capacity of one escalator therefore, during the work on the upper bank the two remaining escalators will be";}
        
        


 