


@{ViewBag.Title = "July 21, 17:20 hours - TfL travel update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>July 21, 17:20 hours - TfL travel update</h1>
        <div class="content-page-press-release">
        21 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Incidents at Warren St, Oval and Shepherd's Bush (Hammersmith & City) stations this afternoon have resulted in service suspension and disruption to parts of the London Underground network. These three stations remain closed.
        
    </div>



 <div class="on-this-page">
<p>We are working hard to restore services as quickly as possible.</p>
<p>Services are currently operating as follows and include service suspensions that were already in effect following incidents on 7 July 2005.</p>
<p><strong>Bakerloo</strong> - suspended between Paddington to Piccadilly Circus</p>
<p><strong>Central</strong> - normal service</p>
<p><strong>Circle</strong> - suspended</p>
<p><strong>District</strong> - suspended between Edgware Road and High Street Kensington</p>
<p><strong>East London</strong> - normal service</p>
<p><strong>Hammersmith & City</strong> - suspended</p>
<p><strong>Jubilee</strong> - normal service</p>
<p><strong>Metropolitan</strong> - suspended between Moorgate to Aldgate</p>
<p><strong>Northern </strong>- operating between Morden to Stockwell, Kennington to Edgware via Bank and Morning Crescent to High Barnet and Mill Hill East only</p>
<p><strong>Piccadilly</strong> - operating between Cockfosters and Arnos Grove only. The Heathrow Express is currently accepting valid LU tickets and travelcards for services between Heathrow Airport and Paddington</p>
<p><strong>Victoria</strong> - operating between Walthamstow to Highbury & Islington and between Victoria to Brixton</p>
<p><strong>Waterloo & City</strong> - normal service<br></p>
            <ul>
<li>Realtime information is available for <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Tube</a> and <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.html">buses</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "We are working hard to restore services as quickly as possible.Services are currently operating as follows and include service suspensions that were already in effect following incidents on 7 July 2005.Bakerloo - suspended between Paddington to Piccadilly";}
        
        


 