


@{ViewBag.Title = "Leading companies line up to partner Transport for Londons Oyster e-money project";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Leading companies line up to partner Transport for Londons Oyster e-money project</h1>
        <div class="content-page-press-release">
        20 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) announced the shortlist of potential partners for the development of e-money today.
        
    </div>



 <div class="on-this-page">
<p><!-- #EndEditable -->The successful organisations and consortia are:</p>
<p>alphyra<br>Barclays<br>BBVA/Accenture/MTR/Octopus<br>EDS/JPMorgan <br>Nucleus/Dexit/Ericsson/Hutchison 3G/Euroconex<br>PayPal<br>RBS. </p>
<p>  </p>
<p>The shortlisted companies are invited to negotiate with Transport for London this summer. </p>
<p>TfL expects to confirm a partner by the end of the year. </p>
<p>This marks an important step forward for TfL's aspiration to extend the use of its successful ticketing and payment smart card, Oyster, to low value payments for goods and services at newsagents, parking machines, fast food restaurants, supermarkets and other locations where the importance of transaction speed and the inconvenience of cash are recognised.</p>
<p>Jay Walder, Managing Director of Finance and Planning at Transport for London said: "The use of contactless smart cards for low value payments is growing in popularity around the globe.</p>
<p>"Such schemes are now well established in Hong Kong and Japan and significant trials are taking place in the United States.</p>
<p>"Oyster has the largest customer base of all smart cards in the UK, with 2.2 million users and a significant level of public trust.</p>
<p>"Extending Oyster to include low value payments is a natural progression which will make the smart card even more convenient." </p>
<p>The plan to extend Oyster from travel to small value purchases demonstrates TfL's commitment to provide greater convenience for passengers and generate additional revenue for the transport network.</p>
<p>TfL aims to commence trials for Oyster e-money in late 2005 or early 2006. <br></p>
            <p>1. Timescales for the development of Oyster e-money - </p>
<ul>
<li>11 February 2005 - TfL placed a Prior Information Notice (PIN) in the Official Journal of the European Union (OJEU)</li>
<li>15 April 2005 - TfL presented plans for e-money to nearly 100 interested companies</li>
<li>22 April 2005 - TfL published a Contract Notice in the OJEU and released the Pre-Qualification Questionnaire and Request for Outline Proposals</li>
<li>10 June 2005 - Twenty companies submitted pre-qualification questionnaires / outline proposals for TfL's review</li>
<li>July 2005 - Short list announced, Non-Disclosure Agreements issued</li>
<li>August 2005 - Negotiations commence</li>
<li>January 2006 - Proposed timing for development and delivery of e-money on Oyster.</li></ul>
<p>2. Similar schemes such as Octopus in Hong Kong have shown customers appreciate the speed and ease this form of payment brings to the many small purchases people make every day.  </p>
<p>3. The PRESTIGE project is a 17-year, private finance initiative (PFI) awarded in 1998. The contracting consortium is TranSys whose members are Cubic Transportation Systems (Cubic), Electronic Data Systems (EDS), Fujitsu and W.S. Atkins.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The successful organisations and consortia are:alphyraBarclaysBBVA/Accenture/MTR/OctopusEDS/JPMorgan Nucleus/Dexit/Ericsson/Hutchison 3G/EuroconexPayPalRBS. The shortlisted companies are invited to negotiate with Transport for London";}
        
        


 