


@{ViewBag.Title = "London Underground publishes second annual PPP report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground publishes second annual PPP report</h1>
        <div class="content-page-press-release">
        27 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today published its second annual report on the performance of the PPP, for the period to 31 March 2005.
        
    </div>



 <div class="on-this-page">
<p>"Last year's report stated that it was too early to judge the performance of Infraco companies Metronet and Tube Lines.</p>
<p>However, at the end of the second year, the PPP is now well established and judgements can begin to be made.</p>
<p>The report, "London Underground and the PPP: the second year 2004/5" shows:</p>
<ul>
<li>Just two years in, progress is being made but many of the major renewal projects are behind schedule, particularly those managed by Metronet 
</li><li>This means that the Infracos and their shareholders, who in some cases are contracted to do the work, are earning significant sums of money through the PPP which are not consistent with the improvements being delivered 
</li><li>The Tube is slowly getting better as a direct result of more rigorous train maintenance combined with a strong performance from LU operating staff but, due to continued signalling failures, the full benefit of improved rolling stock availability is not being seen 
</li><li>Engineering overruns have increased by 35 per cent compared to the previous year and more attention needs to be paid by Metronet and Tube Lines to planning and project management 
</li><li>Asset condition information is finally being provided but the quality of this data is yet to be proven 
</li><li>Major improvements are on the horizon including an additional 7th car for every Jubilee line train and the completion of the redeveloped Wembley Park station.</li></ul>
<p>Tim O'Toole, LU Managing Director, said: "After two years, the Tube is getting better but too slowly. </p>
<p>"The private firms must now start to deliver the promised improvements to London Underground, on time, on budget and to a higher standard.<br><br>"What this report shows is that just two years into these PPP contracts, many of the renewal projects, particularly Metronet's station modernisation programme, are already behind schedule.</p>
<p>"We are paying a premium price for improvements, but performance to date has not been good enough. </p>
<p>"We need delivery now more than ever. </p>
<p>"There is no room for slippage if we are to do our part for the 2012 Olympics.</p>
<p>"In the days following the 7 July terrorist attacks, both Metronet and Tube Lines have performed well in the planning and support they have given to London Underground as we have worked to restore services through the affected sites at Aldgate, Edgware Road and Russell Square.</p>
<p>"We need to see this focus and application on a consistent and on-going basis."</p>
<p>The report is available from the TfL website at <a href="http://www.tfl.gov.uk/pppreport">www.tfl.gov.uk/pppreport</a> </p>
            <ul>
<li>Under the London Underground PPP structure, Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the Sub-Surface Lines - the Circle, District, Metropolitan, Hammersmith & City and East London Lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines.</li></ul>
<p><br> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Last year's report stated that it was too early to judge the performance of Infraco companies Metronet and Tube Lines.However, at the end of the second year, the PPP is now well established and judgements can begin to be made.The report, 'London";}
        
        


 