


@{ViewBag.Title = "London Underground services on Friday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground services on Friday</h1>
        <div class="content-page-press-release">
        29 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Edgware Road station, which has been closed due to 7 July incidents, re-opened from start of service today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All District line services are now running normally
                            
                        </p>
                    </div>
                
            
            
            <p><strong>District line</strong> services between Wimbledon and Edgware Road Station also resumed.</p>
<p>Howard Collins, London Underground's Service Director, said: "This is an important step forward in restoring a full service across the Underground after the attacks on 7 July.</p>
<p>"We have had great support from London Underground staff and Metronet engineers who have worked round the clock to re-open Edgware Road Station since it was handed back to us by the Police. </p>
<p>"All <strong>District line</strong> services will be running normally now, including the Wimbledon to Edgware Road service.</p>
<p>"There will be no train service on the <strong>Hammersmith &amp; City</strong> line between Hammersmith and Edgware Road from Friday 29 July to 1 August inclusive, while the bridge that carries the Hammersmith &amp; City line over the Central line is replaced. </p>
<p>"This work is all part of the White City Development. </p>
<p>"But there will be a Rail Replacement Bus service running between Hammersmith and Baker Street."</p>
<p>
<h2>Tube line services</h2>
<p>
<p>It is expected that services will be operating as follows:</p>
<p><strong>Bakerloo</strong> - normal service</p>
<p><strong>Central</strong> - normal service</p>
<p><strong>Circle</strong> - suspended (due to 7 July incidents)</p>
<p><strong>District</strong> - normal service</p>
<p><strong>East London</strong> - normal service</p>
<p><strong>Hammersmith &amp; City</strong> -There will be no service between Hammersmith and Edgware Road for four days from Friday 29 July to Monday 1 August inclusive. But there will be a Rail Replacement Bus Service calling at Hammersmith, Goldhawk Road, Shepherd's Bush (Central line station), Latimer Road, Ladbroke Grove, Westbourne Park, Royal Oak, Paddington, Edgware Road, Baker Street.</p>
<p>During morning and evening peaks on weekdays there will be a limited service between Baker Street and Barking in both directions. </p>
<p><strong>Jubilee</strong> - normal service</p>
<p><strong>Metropolitan</strong> - normal service</p>
<p><strong>Northern</strong> - normal service</p>
<p><strong>Piccadilly</strong> - suspended between Hyde Park Corner and Arnos Grove and between Rayners Lane and Uxbridge (due to 7 July incidents).</p>
<p>Until further notice, a special bus service calls at Arnos Grove and Finchley Central to provide a connection with the Northern line. A second special bus service calls at Arnos Grove, Bounds Green, Wood Green, Turnpike Lane and Seven Sisters to connect with Victoria line services.</p>
<p>Additional bus services are operating on route 91 between Holloway Road and Euston via Caledonian Road and King's Cross St Pancras.</p>
<p><strong>Victoria</strong> line - normal service</p>
<p><strong>Waterloo &amp; City</strong> - normal service</p>
<p>
<hr>

<p>
<p>Live information on TfL's Realtime pages displays latest updates to London's transport modes, including the Tube, DLR, bus and Network Rail<br><a href="http://www.tfl.gov.uk/realtime">http://www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route will be shown automatically<br><a href="http://www.tfl.gov.uk/journeyplanner">http://www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at <a href="http://tfl.gov.uk/alerts">http://tfl.gov.uk/alerts</a></p>
            <ul>
<li>Due to track replacement work to improve the Jubilee line train services between West Hampstead and Wembley Park will not be running on Saturday and Sunday 30 and 31 July.</li>
<li>The Metropolitan line will also be suspended south of Wembley Park for that weekend. But there will be Rail Replacement Bus services for both lines.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "District line services between Wimbledon and Edgware Road Station also resumed.Howard Collins, London Underground's Service Director, said: 'This is an important step forward in restoring a full service across the Underground after the attacks on 7";}
        
        


 