


@{ViewBag.Title = "Marshalled taxi rank to be trialled at Bromley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Marshalled taxi rank to be trialled at Bromley</h1>
        <div class="content-page-press-release">
        26 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Transport for London (TfL) and Bromley Council are launching a pilot safety initiative on Friday 5 August which will provide a marshalled taxi rank in Bromley Town Centre, as part of the Safer Travel at Night campaign.
        
    </div>



 <div class="on-this-page">
<p>The Public Carriage Office (PCO) have been working with local police, the Licensed Taxi Drivers Association (LTDA), Bromley Council, and Bromley's licensed drivers to introduce the late night marshalled taxi rank pilot scheme to late night visitors of Bromley town centre.</p>
<p>Ed Thompson, Taxi and Private Hire Director, PCO, said: "The introduction of a marshalled taxi rank in the West End of London proved a great success and we hope that it will have the same effect in Bromley.</p>
<p>"The rank will provide a safe focal point for people wanting a legitimate taxi and a deterrent to illegal taxi touts. </p>
<p>"Not only will it be marshalled but it will also be covered by CCTV as well as regular patrols by the police."</p>
<p>Councillor George Taylor, Executive Councillor for the Environment said: "This is the first taxi rank at this end of the town centre and, more importantly, the first one to be marshalled. </p>
<p>&nbsp;</p>
<h2>Quick, safe option</h2>
<p>&nbsp;</p>
<p>"It will make it much more convenient and safer for people to get home late at night. </p>
<p>"We are very keen on getting people home quickly and safely and reducing public disorder - this is precisely what this scheme will achieve."</p>
<p>Tony Ellis, London Taxi Drivers Association, said: "Local licensed taxi drivers fully support this scheme.</p>
<p>"It will be marshalled by licensed taxi drivers who will be organising the queues and making sure that passengers get into licensed taxis, quickly, efficiently and safely." </p>
<p>The pilot scheme will initially operate for three months on Fridays and Saturdays between the hours of 10pm and 2am and will be based in Market Square (just outside the Costa Coffee). <br /><br /><strong>Photocall notice: <br />When:</strong> Wednesday 27 July at 1100 <br /><strong>Where:</strong> Taxi rank in Market Square outside Costa Coffee <br />Representatives from the Public Carriage Office, Bromley Council, local Police and LTDA will be at the photocall and will be available for interview to talk about the benefits of the scheme. </p>
<ul>
    <li>Safer travel at Night is a joint initiative between the Mayor of London, Transport for London and the Metropolitan Police</li>
    <li>Other Safer Travel at Night initiatives include the 'Know what you are getting into' campaign advising women against using illegal minicabs, all buses fitted with CCTV by the end of 2005, all minicab operators and vehicles licensed by spring 2005 and drivers by spring 2006</li>
    <li>Since the launch of Safer Travel at Night and 'Know what you are getting into' rapes and sexual assaults on women in illegal minicabs has fallen by a third from 212 in 2002 to 140 over 2004 - this includes a fall in rapes from 54 to 32</li>
    <li>The taxi rank will be covered by CCTV, and patrolled regularly by police</li>
    <li>The marshal will have a two way radio linked with the town centre CCTV control room</li>
    <li>Passengers must approach the marshal if they wish to get a taxi</li>
    <li>The marshalled taxi rank pilot scheme is part of the on-going Safer Travel at Night initiative and will provide a safe and alternative form of late night transport</li>
    <li>The rank is not intended to link up individual passengers or groups unknown to each other who are travelling in the same direction</li>
    <li>Drivers are free to return to the marshalled rank as many times as they wish during the night</li>
    <li>During the daytime the area will continue to be used as a loading and waiting bay</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Public Carriage Office (PCO) have been working with local police, the Licensed Taxi Drivers Association (LTDA), Bromley Council, and Bromley's licensed drivers to introduce the late night marshalled taxi rank pilot scheme to late night visitors of";}
        
        


 