


@{ViewBag.Title = "Message of condolence and sympathy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Message of condolence and sympathy</h1>
        <div class="content-page-press-release">
        08 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) would like to extend a message of condolence and sympathy to all those affected by Thursday's tragic events.
        
    </div>



 <div class="on-this-page">
<p> We would also like to thank members of the public for the many acts of courage and kindness they showed to each other, for the calm and responsible way our stations were evacuated, and for meeting disruptions to our services with patience and understanding. </p>
<p>
</p>
<p>The swift and co-ordinated actions of the Metropolitan Police, ambulance, fire and related emergency services showed the exceptional skills of their employees and the meticulous planning and training that prepared them for such events. </p>
<p>TfL's employees worked tirelessly and courageously, ensuring that our passengers were removed to safety and that unhindered access was provided to the emergency services. </p>
<p>They are currently working hard to reinstate services and to return the capital's transport network to full operation. </p>
<p>There is little doubt that the combined efforts of London's public servants and Londoners themselves significantly reduced the impact of yesterday's events. </p>
<strong>Relief fund<br /><br /></strong>The Mayor has launched the <strong>London Bombings Relief Charitable Fund</strong> in association with the British Red Cross to raise funds to assist those who have suffered loss and injury in the London attacks on 7 July. <br /><br />Donations will be held in trust to assist the victims of the attack, their families and dependants; and to assist with any other appropriate project that the funds allow. Payments can be made to London Bombings Relief Charitable Fund. <br /><br />You can donate by telephone on 08705 125125, or post your donation to LBRF c/o Mayor of London, FREEPOST LON18968, Sheffield S98 1ZA.

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "We would also like to thank members of the public for the many acts of courage and kindness they showed to each other, for the calm and responsible way our stations were evacuated, and for meeting disruptions to our services with patience and";}
        
        


 