


@{ViewBag.Title = "Music lovers will be able to get to their concerts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Music lovers will be able to get to their concerts</h1>
        <div class="content-page-press-release">
        12 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To help passengers while the central section of the Piccadilly line is shut down, including those going to the Proms and the REM concert, the planned suspension of the District line between Earl's Court and Whitechapel will not go ahead on Saturday and Sunday 16 and 17 July.
        
    </div>



 <div class="on-this-page">
<p>The engineering work will be postponed not only on the District line, but on the Waterloo & City line as well, which will run as normal on Saturday 16 July.</p>
<p>This will help get the expected 85,000 fans to and from the REM concert in Hyde Park on Saturday, as well as music lovers going to the Proms at the Royal Albert Hall in South Kensington on Saturday and Sunday.  </p>
<p>London Underground is working with Metronet, who are responsible for the renewal and maintenance of the District and Waterloo & City lines to reschedule this work.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The engineering work will be postponed not only on the District line, but on the Waterloo & City line as well, which will run as normal on Saturday 16 July.This will help get the expected 85,000 fans to and from the REM concert in Hyde Park on Saturday,";}
        
        


 