


@{ViewBag.Title = "Operational Note: Wood Lane closure this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operational Note: Wood Lane closure this weekend</h1>
        <div class="content-page-press-release">
        27 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Traffic around Shepherds Bush, White City and North Acton may be heavier this weekend as works continue on the Hammersmith & City Line bridge in Wood Lane as part of the White City Development.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Wood Lane will be closed from the Uxbridge Road / Wood Lane junction right up to the BBC entrance from 9pm Thursday 28 July through to 6am Tuesday 2 August</li>
<li>It will remain open from the entrance to the BBC (north of the Hammersmith & City line over-bridge) northwards towards the A40</li>
<li>Traffic, including buses will be diverted to the A3220 West Cross Route </li>
<li>There will be no access through to the A40 if heading north or to the Uxbridge Road if heading south, but access into Ariel Way will be available as will access into the BBC car park, south of the bridge </li>
<li>Security personnel will be positioned at the Uxbridge Road junction to allow access through to residents of Wood Lane, McFarlane Road, Bulwer Street, or Hopgood Street</li>
<li>There will also be admission allowed to those needing to access any of the Industrial Units in Ariel Way, or Network House</li>
<li>Pedestrian access will constantly be available in Wood Lane  </li></ul>
<p>In conjunction, a rail replacement bus service will be in place between Hammersmith and Baker Street as no trains will operate between Hammersmith and Edgware Road on the Hammersmith & City Line from Friday until Monday. </p>
<p>Passengers are advised to use alternative Tube routes, especially the District Line from Hammersmith and the Central Line from Shepherd's Bush.</p>
            <ul>
<li>The development at White City, scheduled to open in 2008, comprises a 1.3million sq. ft. shopping centre and will have a large positive impact on the transport infrastructure in the area</li>
<li>The central Line Shepherd's Bush station will be rebuilt, a new station will be provided on the Hammersmith & City line, as will a new station on the West London line</li>
<li>In addition, a new bus interchange is to be constructed to the north of the site.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wood Lane will be closed from the Uxbridge Road / Wood Lane junction right up to the BBC entrance from 9pm Thursday 28 July through to 6am Tuesday 2 AugustIt will remain open from the entrance to the BBC (north of the Hammersmith & City line over-bridge)";}
        
        


 