


@{ViewBag.Title = "Press Centre travel updates - 07 July 2005";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Press Centre travel updates - 07 July 2005</h1>
        <div class="content-page-press-release">
        07 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the incidents earlier today in the vicinities of the London Underground stations at Aldgate, Russell Square and Edgware Road and on a Route 30 London Bus at Woburn Place, the Metropolitan Police has advised that people should check route details and begin to make their way home.
        
    </div>



 <div class="on-this-page">
<p><strong>16.45 hours - Transport for London advice to passengers travelling home</strong></p>
<p>Following the incidents earlier today in the vicinities of the London Underground stations at Aldgate, Russell Square and Edgware Road and on a Route 30 London Bus at Woburn Place, the Metropolitan Police has advised that people should check route details and begin to make their way home. </p>
<p>With services likely to remain disrupted passengers should allow considerable extra time for their homeward journeys and continue checking travel information, as the status of services will continue to change.</p>
<p>TfL customer information line: 020 7222 1234 or visit <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a></p>
<p>The current status of London Underground, London Buses the DLR and Victoria Coach Station are:</p>
<ul>
<li><strong>London Underground</strong><br>The network is likely to remain closed for the rest of the day. London Underground staff will be working through the night in an effort to restore services to parts of the network tomorrow. 
</li><li><strong>Buses</strong><br>From 3pm London Buses resumed services in Zone 1 although service delays are likely to continue. Services around the Kings Cross, Aldgate, and Russell Square areas will be subject to continued suspension or diversion and more details will be released when it becomes clear. 
</li><li>Additional <strong>Police Officers</strong> <strong>and wardens</strong> will be stationed at key locations and regular extra security checks will continue to take place on each bus, at all bus stations and garages for the foreseeable future. 
</li><li><strong>DLR</strong><br>Full services have resumed following a Police sweep of the network. But Bank, Stratford and Canning Town - where the DLR interchanges with the Tube - will be closed. 
</li><li><strong>Victoria Coach station </strong><br>The station is open and National Express is going to start running a restricted service. </li></ul>
<p>
<hr width="100%" size="1">
<strong>16:11</strong> <strong>Latest service information</strong> 
<p>
<ul>
<li>Docklands Light Railway has resumed but will not be stopping at Bank, Stratford and Canning Town. 
</li><li>National Rail has resumed service but there is continued disruption. 
</li><li>Bus services in Zone 1 are returning to service. 
</li><li>London Underground will be closed for the rest of the day and will resume service tomorrow morning. </li></ul>
<p>
<hr width="100%" size="1">
<strong>15:41</strong> <strong>Transport for London Update</strong> 
<p>
<ul>
<li>National Rail services are now being resumed and major terminals are re-opening 
</li><li>Bus services are expected to resume at 1600hrs 
</li><li>Docklands Light Railway services are being resumed 
</li><li>London Underground will be closed for the rest of the day and will resume service tomorrow morning. </li></ul>
<p>
<hr width="100%" size="1">
<strong>14:25 Transport for London Update</strong><br><br>Latest information confirms that there were four incidents on London's transport network this morning, three on London Underground and one on London Buses. 
<p>
<p>At 09:46, the London Underground was suspended and all stations commenced evacuation following incidents at: </p>
<ul>
<li>Aldgate station heading towards Liverpool Street station on the Hammersmith &amp; City line; 
</li><li>Russell Square station heading towards Kings Cross station on the Piccadilly line; 
</li><li>Edgware Road station heading towards Paddington station on the Hammersmith &amp; City line.</li></ul>
<p>Zone 1 bus services were temporarily suspended this morning following an incident on a Route 30 bus at Woburn Place and extra security checks were undertaken on buses remaining in operation and at all garages. </p>
<p>Emergency services responded immediately to all incidents and are dealing with a number of casualties who have been taken to hospitals across London. Unfortunately, whilst we can confirm that there have been fatalities no confirmed figures are currently available.</p>
<p>Additional temporary service suspensions and public information</p>
<ul>
<li>The Docklands Light Railway has been suspended as a precaution - there have been no incidents on the DLR network. 
</li><li>Drivers are advised not to come into Central London. </li></ul>
<hr width="100%" size="1">

<p>
<p><strong>13:50 National Rail services</strong></p>
<p>Information on changes to National Rail services and London train station closures is available on the <a href="http://www.nationalrail.co.uk/" target="_blank">National Rail website</a>.</p>
<p>
<hr width="100%" size="1">

<p>
<p><strong>12:50 Heathrow Express services are suspended as a precautionary measure.</strong> </p>
<p>
<hr width="100%" size="1">

<p>
<p><strong>12:35 Docklands Light Railway services are currently suspended. This is precautionary measure</strong> </p>
<ul>
<li>Victoria Coach Station is currently operating a limited service. </li></ul>
<hr width="100%" size="1">
<strong>10.55 hours - Zone 1 buses temporarily suspended</strong> 
<p>
<ul>
<li>Following an incident on a route 30 bus at Tavistock Place all services in Zone 1 have been suspended for the time being. 
</li><li>Extra safety checks are being undertaken on all buses that remain in service and at all bus garages. 
</li><li>The congestion charge has been suspended and we advise drivers not to come into central London. </li></ul>
<hr width="100%" size="1">
<strong>09:55 hours - London Underground suspended</strong> 
<p>
<ul>
<li>The network has been suspended until further notice and all stations are being evacuated. 
</li><li>This follows major incidents at Liverpool Street and Edgware Road (Hammersmith &amp; City) stations. Emergency services are on site and are working closely with London Underground. </li></ul>
            <p><strong>TUBE</strong></p>
<ul>
<li>This is the worst incident in the history of London underground </li>
<li>The last serious incident was the Kings Cross fire in 1987 when 27 people 
died after a machine room under a wooden escalator caught fire. This led to a 
major overhaul of emergency procedures 
</li><li>There was a derailment at White City on May 11, 2004 but there were no 
injuries or fatalities 
</li><li>There was a derailment at Camden Town 19 October 2003 with 7 injuries and no 
fatalities 
</li><li>There was a derailment at Chancery Lane 25 January 2003 with no injuries and 
no fatalities 
</li><li>Each AM peak 370,000 use the tube.</li></ul>
<p><strong>Well prepared</strong></p>
<ul>
<li>London Underground conducted a live emergency exercise at Tower Hill station 
two and a half weeks ago on 12 June which fully tested the combined emergency 
services response to an emergency 
</li><li>Each year LU holds an emergency exercise to test procedures 
</li><li>There was a multi national emergency desktop exercise, Atlantic Blue, 
earlier this year which focused on the response to a potential terrorist 
attack.</li></ul>
<p><strong>Precautions</strong></p>
<ul>
<li>There has recently been a renewed campaign in conjunction with the Met 
Police to report suspect bags and packages. These posters are highly visible in 
Tube stations and on buses 
</li><li>A London resilience team has weekly meetings - London wide resilience plans 
have been fully tested. </li></ul>
<p><strong>BUSES</strong></p>
<ul>
<li>Approximately 325,000 people travel on buses during the morning peak 
</li><li>CCTV pictures will be used to assist police.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "16.45 hours - Transport for London advice to passengers travelling homeFollowing the incidents earlier today in the vicinities of the London Underground stations at Aldgate, Russell Square and Edgware Road and on a Route 30 London Bus at Woburn Place, the";}
        
        


 