


@{ViewBag.Title = "Progress in getting all Tube services back up and running";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Progress in getting all Tube services back up and running</h1>
        <div class="content-page-press-release">
        19 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In two weeks' time it is expected that all Tube services, with the exception of the Piccadilly line, will be fully up and running.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am happy to say we're continuing to see good progress in bringing back the sites
                            
                        </p>
                    </div>
                
            
            
            <p>Aldgate Tube station could open as early as next Monday, 25 July, following the completion of site investigations by police at Aldgate over the weekend. </p>
<p>Metronet Rail engineers are currently at Aldgate repairing damage, which appears to have been confined to the cabling and not thought to be major.</p>
<p>It's also expected that the full Metropolitan line will resume on Monday, in conjunction with the station reopening. </p>
<p>A special Hammersmith and City line service is also expected to begin operation to help passengers needing to reach the north part of the Circle line.</p>
<p>London Underground (LU) Chief Executive Tim O'Toole said: "I am very proud of the employees for bringing the railway back so quickly and I am happy to say we're continuing to see good progress in bringing back the blast sites."</p>
<p>Work will start at Edgware Road as soon as police have handed back that site, which is expected to be imminent.</p>
<p>Mr O'Toole said: "We have engineers and all the materials standing by, ready to go, to get the Tube back and running as soon as possible."</p>
<p>Russell Square is the subject of a criminal investigation which may last for some time. 
<p>It will be several weeks before a full service is resumed on the Piccadilly line, with the damage at that site being much more extensive than at Aldgate and Edgware Road.</p>
<p><h2>Getting services restored</h2></p>
<p>Metropolitan, Northern and Victoria line services are now stopping at King's Cross St Pancras station. </p>
<p>Interchange between these three lines is now available. This will be extended to the Circle and Hammersmith & City lines when those services are restored.  </p>
<p>Howard Collins, LU Service Director, heading the service recovery operation, said: "Getting services fully restored following last week's attacks is a top priority.<br><br>"We have a good picture at most locations of what damage has taken place and the repairs that will be required. I would like to thank customers for their patience. They have been extremely supportive and helped us through this very difficult time."</p>
<p>The damaged train at Edgware Road will be lifted by crane out of the site imminently, if the weather conditions are favourable. </p>
            <ul>
<li>For the latest travel information visit the <a href="http://www.tfl.gov.uk">TfL website</a> or call 020 7222 1234</li>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail is responsible for the remainder of the network including the Circle line at Aldgate and Edgware affected by the explosions on 7 July 2005.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Aldgate Tube station could open as early as next Monday, 25 July, following the completion of site investigations by police at Aldgate over the weekend. Metronet Rail engineers are currently at Aldgate repairing damage, which appears to have been confined";}
        
        


 