


@{ViewBag.Title = "Security alerts continue due to unattended bags";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Security alerts continue due to unattended bags</h1>
        <div class="content-page-press-release">
        20 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As London's transport network continues to return to normal, the system is still suffering large numbers of security alerts due to passengers leaving bags unattended.
        
    </div>



 <div class="on-this-page">
<p>London Underground staff are dealing with a staggering 250 unattended bags a day since the events of 7 July. </p>
<p>This has led to hundreds of security alerts on the Tube and bus network, resulting in services being delayed or cancelled and station evacuations. </p>
<p>A TfL spokesman said: "These security alerts are causing delays to services and placing an additional burden on our staff and emergency services who are working so hard to keep London moving safely. </p>
<p>"At this time, it is irresponsible in the extreme for a minority of passengers to cause major disruptions through thoughtlessness. </p>
<p>"We are asking everyone travelling in the capital to help us by keeping hold of their possessions and getting rid of their litter sensibly."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground staff are dealing with a staggering 250 unattended bags a day since the events of 7 July. This has led to hundreds of security alerts on the Tube and bus network, resulting in services being delayed or cancelled and station evacuations.";}
        
        


 