


@{ViewBag.Title = "Staff to stand alongside passengers as silence falls across the network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Staff to stand alongside passengers as silence falls across the network</h1>
        <div class="content-page-press-release">
        13 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London staff will stand together with passengers at 12 noon tomorrow to remember those killed or injured in last Thursday's terror attacks.
        
    </div>



 <div class="on-this-page">
<p>Tube stations will fall silent and buses will pull over, where possible, as staff across the network observe the two minute silence. Many will be wearing black arm bands.</p>
<p>In the morning London Underground(LU) staff at more than 60 stations will be collecting donations from the public in support of the London Bombings Relief Charitable Fund - launched last week by the Mayor in association with the British Red Cross.</p>
<p> Mike Brown, LU's Chief Operating said: "It is right that we stand together with our customers to remember all of those who were tragically affected by last Thursday's awful events."</p>
<p>Peter Hendy, MD of Surface Transport added: "As many of our staff as possible will observe the two minute silence as a mark of respect to those innocent travellers who were killed or injured." </p>
<p><strong>Service Operation</strong><br /><br />Due to operational considerations, the Tube and the DLR will run as normal throughout the silence.<br /><br /><strong>Relief fund<br /><br /></strong>The Mayor has launched the London Bombings Relief Charitable Fund in association with the British Red Cross to raise funds to assist those who have suffered loss and injury in the London attacks on 7 July. <br /><br />Donations will be held in trust to assist the victims of the attack, their families and dependants; and to assist with any other appropriate project that the funds allow. <br /><br />Payments can be made to London Bombings Relief Charitable Fund. You can donate by telephone 08705 125125, or post your donation to LBRF c/o Mayor of London, FREEPOST LON18968, Sheffield S98 1ZA. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube stations will fall silent and buses will pull over, where possible, as staff across the network observe the two minute silence. Many will be wearing black arm bands.In the morning London Underground(LU) staff at more than 60 stations will be";}
        
        


 