


@{ViewBag.Title = "Statement from the Transport for London Board";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement from the Transport for London Board</h1>
        <div class="content-page-press-release">
        13 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This statement has been issued on behalf of the Transport for London Board following the TfL Board meeting held earlier today.
        
    </div>



 <div class="on-this-page">
<p> "The Transport for London Board would like to express its deepest sympathy with those who were killed or injured in last Thursday's attacks on the Tube and bus networks. Our thoughts are also with their families, friends and loved ones.</p>
<p>"The Board would like to express its heartfelt thanks to all TfL staff who worked so professionally and tirelessly in extremely challenging conditions immediately following the attacks. Their selfless actions to help those who had been injured is a testament to the quality and calibre of public transport workers in London.</p>
<p>"The Board would also like to thank all the emergency services, called within minutes of the attacks, for the way they worked with Tube and bus staff and the heroic efforts they made to help those who were affected by the attacks.</p>
<p>"We would also like to take the opportunity to praise the leadership shown by the Mayor, Commissioner, Tim O'Toole and Peter Hendy. Their professionalism in dealing with one of London's darkest days should rightly be recognised.</p>
<p>"We can also be proud of the fact that, within a matter of hours, the bus network was running in central London again, and within 24 hours most of the Tube was operating normally. Only those lines directly affected by the attacks are disrupted.</p>
<p>"The response of all TfL staff to the tragic events last Thursday was a credit to London and we should rightly be proud of their actions."<br /></p>
<strong>Relief fund<br /><br /></strong>The Mayor has launched the London Bombings Relief Charitable Fund in association with the British Red Cross to raise funds to assist those who have suffered loss and injury in the London attacks on 7 July. <br /><br />Donations will be held in trust to assist the victims of the attack, their families and dependants; and to assist with any other appropriate project that the funds allow. <br /><br />Payments can be made to London Bombings Relief Charitable Fund. You can donate by telephone 08705 125125, or post your donation to LBRF c/o Mayor of London, FREEPOST LON18968, Sheffield S98 1ZA.

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'The Transport for London Board would like to express its deepest sympathy with those who were killed or injured in last Thursday's attacks on the Tube and bus networks. Our thoughts are also with their families, friends and loved ones.'The Board would";}
        
        


 