


@{ViewBag.Title = "Statement from Bob Kiley, Londons Transport Commissioner";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement from Bob Kiley, Londons Transport Commissioner</h1>
        <div class="content-page-press-release">
        06 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        "I am delighted that London has been given the honour of hosting the 2012 Olympic and Paralympic Games and that the IOC recognised that the city can and will provide the transport to host an outstanding Games.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Modern, reliable, safe and cost-effective transport for the Games will be in place well before 2012
                            
                        </p>
                    </div>
                
            
            
            <p> "Modern, reliable, safe and cost-effective transport for the Games will be in place well before 2012 and we will ensure that athletes, the Olympic family and spectators alike will get to every venue, on time, every day of the Games.</p>
<p>"I would also like to congratulate the Mayor, and the entire 2012 bid team, in their efforts to bring the Games back to London.</p>
<p>"Over &pound;17bn will be spent on transport in London by 2012. This includes long term funding agreed by Government which enabled the Mayor and Transport for London to embark on a &pound;10bn five year investment in the Capital's infrastructure and accelerate projects such as the East London Line extensions to be ready well before 2012.</p>
<p>"Work is well underway to deliver this and other major transport improvements on budget and in good time for 2012. </p>
<p>"The DLR City Airport extension due to open by December 2005, a seventh carriage on the Jubilee Line carrying an extra 3,000 people per hour by January 2006 and Europe's biggest engineering project, the &pound;5.2bn Channel Tunnel Rail Link operational by Spring 2007."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Modern, reliable, safe and cost-effective transport for the Games will be in place well before 2012 and we will ensure that athletes, the Olympic family and spectators alike will get to every venue, on time, every day of the Games.'I would also like to";}
        
        


 