


@{ViewBag.Title = "Travel information - the Michelob Ultra London Triathlon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel information - the Michelob Ultra London Triathlon</h1>
        <div class="content-page-press-release">
        28 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Next weekend (6th and 7th August), the largest triathlon in the world takes place in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Tower Bridge will be closed to traffic but will remain open to pedestrians
                            
                        </p>
                    </div>
                
            
            
            <p align="left">With over 10,000 participants, the Michelob Ultra London Triathlon will be centred around London Docklands and the ExCeL exhibition centre, with competitors racing along the Embankment to Big Ben on the Sunday.</p>
<p align="left">Some central London roads will be closed to traffic for safety reasons and will remain closed until crowds have dispersed. </p>
<p align="left">People are advised not to drive into central London or the Docklands unless absolutely necessary and to allow extra time for their journeys. </p>
<p align="left">As a result, some buses will be on diversion around the area and certain Tube lines and stations do remain closed after recent events.</p>
<p>Those that want to cheer on the triathletes are advised to check Transport for London's Journey Planner service online at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or contact the London Travel Information line on 020 7222 1234 for up-to-the-minute travel information.</p>
<p>While Tower Bridge will be closed to traffic, it will remain open to pedestrians as a visitor attraction. </p>
<p>Road closures and diversions</p>
<p><strong>Saturday 6th August</strong><br>To accommodate the London Triathlon the following roads will be affected:</p>
<ul>
<li>All roads within the ExCeL exhibition centre will have restrictions / closures 
</li><li>Access will be for parking only (no through route) 
</li><li>Tidal Basin Road will be closed to Lower Lea Crossing 
</li><li>Lower Lea Crossing is closed Eastbound but will allow single lane traffic Westbound 
</li><li>Royal Albert Way dual carriageway is closed in both directions between Gallions roundabout and Connaught Bridge 
</li><li>These closures will be from 0600hrs on Saturday 6 August until 2000hrs on Sunday 7 August </li></ul>
<p><strong>Sunday 7th August</strong></p>
<ul>
<li>Victoria Embankment Closed to Blackfriars Bridge from 0600hrs - 1200hrs 
</li><li>East of Blackfriars Bridge, Upper Thames Street, Lower Thames Street to Tower Hill &amp; East Smithfield will be closed Westbound from 0600hrs - 1200hrs 
</li><li>The Highway to the Limehouse Link Tunnel will be closed Westbound from 0600hrs to 1800hrs 
</li><li>Westbound 'bore' of the Limehouse Link tunnel closed from 0600hrs - 1800hrs 
</li><li>Southwark Bridge will be closed from 0600hrs - 1200hrs 
</li><li>Tower Bridge will be closed from 0600hrs - 1200hrs 
</li><li>Upper and Lower Thames Street closed Westbound - Eastbound traffic can travel via London Wall A1211 and Holborn Viaduct A40 
</li><li>The Highway between Tower Bridge and Limehouse Link is open Eastbound - all westbound traffic will be diverted onto the A13 
</li><li>The A13 is not part of the closures but please allow extra time as traffic is likely to be heavier in both directions 
</li><li>Areas adjoining The Highway's Westbound carriageway will have crossing points controlled by the Metropolitan Police at Glamis Road and Vaughan Way from 0600hrs - 1200hrs 
</li><li>From 1200hrs the Vaughan Way junction will provide unhindered access to and from Wapping via East Smithfield and Dock Street. From this point the Glamis Road crossing point will close 
</li><li>Eastbound Limehouse Link tunnel is open throughout the day 
</li><li>The Rotherhithe and Blackwall Tunnels are unaffected by the event 
</li><li>Lower Lea Crossing is closed Eastbound but will allow single lane traffic Westbound via Aspen Way on Saturday and Sunday</li></ul>
            <ul>
<li>The following bus routes will be on diversion: 8, 11, 15, 21, 25, 26, 35, 40, 42, 43, 47, 48, 67, 76, 78, 100, 133, 141, 149, 172, 188, 242, 253, 277, 300, 343, 344, 376, 381, D3, RV1</li>
<li>For full travel information and details of road closures visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li>
<li>The Michelob ULTRA Triathlon will take place at ExCel, Royal Victoria Dock, on 6 and 7 August</li>
<li>For further information please go to <a href="http://www.thelondontriathlon.com">www.thelondontriathlon.com</a></li>
<li>Contacts for the Michelob ULTRA London Triathlon: Nick Garcia on 020 7559 2807 or Julie Lloyd-Davies on 020 559 2808.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With over 10,000 participants, the Michelob Ultra London Triathlon will be centred around London Docklands and the ExCeL exhibition centre, with competitors racing along the Embankment to Big Ben on the Sunday.Some central London roads will be closed to";}
        
        


 