


@{ViewBag.Title = "Tube service update: 19 July 2005";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube service update: 19 July 2005</h1>
        <div class="content-page-press-release">
        19 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Northern, Victoria and Metropolitan lines are now stopping at King's Cross St. Pancras.
        
    </div>



 <div class="on-this-page">
<p>Repairs have started at Aldgate and we expect to resume a full Metropolitan line service to Aldgate and a special Hammersmith and City service between Baker St and Barking by Monday 25 July.</p>
<p>Police work continues at Edgware Road. However, we hope to restore a full service on the Circle and Hammersmith &amp; City lines (and the District line to Edgware Road) within two weeks (2 August). </p>
<p>Police remain on site at King's Cross/Russell Square and Piccadilly line services remain suspended between Hyde Park Corner and Arnos Grove.</p>
<p>Thank you for your continued patience as we work to resume full services.</p>
<p>Mike Brown<br>Chief Operating Officer</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Repairs have started at Aldgate and we expect to resume a full Metropolitan line service to Aldgate and a special Hammersmith and City service between Baker St and Barking by Monday 25 July.Police work continues at Edgware Road. However, we hope to";}
        
        


 