


@{ViewBag.Title = "Tube train bombs simultaneous";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube train bombs simultaneous</h1>
        <div class="content-page-press-release">
        09 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground, the Metropolitan Police and the British Transport Police can now confirm that the three bombs which exploded on three Tube trains on Thursday 7 July 2005 went off simultaneously at around 08.50.
        
    </div>



 <div class="on-this-page">
<p>Explosions were as follows (in succession):</p>
<ul>
<li>Circle line train number 204 heading eastbound from Liverpool Street station to Aldgate station. </li>
<li>Circle line train number 216 travelling westbound heading from Edgware Road station to Paddington station. </li>
<li>Piccadilly line train number 311 travelling from King's Cross St Pancras to Russell Square southbound.</li></ul>
<p>London Underground operates a system called TrackerNet which allows staff to observe electronically the movement of rolling stock on the Tube network. It is presently being introduced for all London Underground lines and is in full operation on the Circle line.</p>
<p>After careful consideration of the recorded archive of realtime movements on the Circle line we can confirm the above for Circle line trains numbers 204 and 216 to have occurred within the space of one minute respectively.</p>
<p>Six images are available in the News Centre. The first three images show the sequence of train movements prior to and including the explosion at Aldgate. The remaining three show the sequence of train movements prior to and including the explosion at Edgware Road.</p>
<p>TrackerNet is not yet live on the Piccadilly line between Hyde Park Corner and Arnos Grove. However, we can also confirm for the affected Piccadilly line train that the explosion occurred simultaneously at 08:50. Our evidence is based upon the precise time the Tunnel Telephone system on the Piccadilly line went out of service.</p>
<p>The number of passengers travelling on the network peaks on weekdays between 08:45 and 09:00.</p>
<p>Between 08:45 and 09:00 on Thursday 7 July 2005, over 200,000 passengers would have been travelling on over 500 trains.</p>
<p>Whilst waiting for emergency services to arrive, London Underground staff comforted passengers in the most extreme and testing of situations with station staff literally holding some passengers together. The carnage underground should never be underestimated nor forgotten.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Explosions were as follows (in succession):Circle line train number 204 heading eastbound from Liverpool Street station to Aldgate station. Circle line train number 216 travelling westbound heading from Edgware Road station to Paddington station.";}
        
        


 