


@{ViewBag.Title = "Update on Friday services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Update on Friday services</h1>
        <div class="content-page-press-release">
        22 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Additional TfL staff will be on duty across the London Underground and London bus networks providing passengers with the latest travel information.
        
    </div>



 <div class="on-this-page">
<h2>London Underground</h2>
<p>London Underground has confirmed the following expected service patterns for Friday 22nd July. However, this may be subject to potential changes.</p>
<p>Passengers are advised to check the latest travel information for their routes by calling TfL travel information on 020 7222 1234 or visiting <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">live travel news</a>.</p>
<p>We are encouraging our passengers and staff to remain vigilant, to question who owns items that remain unattended and to report any unattended items or suspicious activity to transport staff or the Police.</p>
<h3>Normal service</h3>
<p>Bakerloo<br />
Central<br />
East London Line<br />
Jubilee<br />
Northern<br />
Victoria<br />
Waterloo &amp; City</p>
<h3>Restricted service</h3>
<h4>District</h4>
<p>No service High St Kensington to Edgware Road (due to 7 July incidents).</p>
<h4>Metropolitan</h4>
<p>No service between Moorgate to Aldgate (due to 7 July incidents).</p>
<h4>Piccadilly</h4>
<p>No service between Arnos Grove to Hyde Park Corner and Rayners Lane to Uxbridge (due to 7 July incidents).</p>
<p>A special bus service will call at Arnos Grove and Finchley Central to provide a connection with the Northern line.</p>
<p>A second special bus service will operate from Arnos Grove calling at Bounds Green, Wood Green, Turnpike Lane and Seven Sisters to connect with Victoria line services.</p>
<p>Additional bus services are operating on route 91 between Holloway Road and Euston via Caledonian Road and King's Cross St Pancras.</p>
<h3>Station Closures</h3>
<p>Oval, Shepherds Bush (Hammersmith &amp; City) and Warren Street Stations are closed due to 21 July incidents.</p>
<p>Edgware Road, Aldgate and Russell Square stations are closed due to 7 July incidents.</p>
<h3>No service</h3>
<p>
Circle (due to 7 July incidents).<br />
A replacement bus service is operation along the northern section of the Circle Line.</p>
<p>Hammersmith &amp; City (due to 7 July and 21 July incidents).</p>
<h2>London Buses</h2>
<p>London Buses will run a full service. There will be some diversions around the Hackney and Shepherd's Bush incident sites. </p>
<p>An additional bus service will be in operation calling at Highbury &amp; Islington, King's Cross St Pancras, Euston and Warren Street Underground stations.</p>
<p>An increased frequency bus service will operate on route 30 from Highbury &amp; Islington to Warren Street.</p>
<p>Regular security checks will continue to take place on each bus and at all bus stations and garages.</p>
<h2>Docklands Light Railway</h2>
<p>Normal service.</p>
<h2>Roads</h2>
<p>Some localised road closures around Shepherd's Bush and Hackney following 21 July incident sites.</p>
<p>Tavistock Place remains closed due to 7 July incident.</p>
<h2>Congestion charge</h2>
<p>The congestion charge will be in effect during Friday.</p>
<p>TfL's advice to drivers remains not to travel through central London during this period.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London UndergroundLondon Underground has confirmed the following expected service patterns for Friday 22nd July. However, this may be subject to potential changes.Passengers are advised to check the latest travel information for their routes by calling";}
        
        


 