


@{ViewBag.Title = "Weekend engineering works on the Northern line cancelled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Weekend engineering works on the Northern line cancelled</h1>
        <div class="content-page-press-release">
        20 July 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To help passengers while the central section of the Piccadilly line is shut down, planned engineering works on the Northern line between High Barnet and Finchley Central this weekend have been cancelled.
        
    </div>



 <div class="on-this-page">
<p>15% of the Tube network went out of commission following the terrorist attacks on 7 July and it is likely that it will be several weeks before services will resume on the full length of the Piccadilly line.</p>
<p>On the Piccadilly line there is currently no service between Hyde Park Corner and Arnos Grove and between Rayners Lane and Uxbridge.</p>
<p>A special bus service presently calls at Arnos Grove and Finchley Central to provide a connection with the Northern line.</p>
<p>Engineering works scheduled to take place this weekend would have had an adverse impact on Piccadilly line customers who rely on the bus replacement service to connect with the Northern line for access to the Tube.</p>
<p>A second special bus service from Arnos Grove is also in operation and calls at Bounds Green, Wood Green, Turnpike Lane and Seven Sisters to connect with Victoria line services.</p>
<p>London Underground is working with Tube Lines, who are responsible for the renewal and maintenance of the Jubilee, Northern and Piccadilly lines to reschedule this engineering work.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "15% of the Tube network went out of commission following the terrorist attacks on 7 July and it is likely that it will be several weeks before services will resume on the full length of the Piccadilly line.On the Piccadilly line there is currently no";}
        
        


 