
    
  



@{ViewBag.Title = "Why doesn't my contactless card work?";}
@{ViewBag.Keywords = "TfL,contactless card doesn't work";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go/why-doesnt-my-contactless-card-work";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></li>
                
            
            
                <li><span class="last-breadcrumb">Why doesn't my contactless card work?</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Why doesn't my contactless card work?</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your contactless card might sometimes not work on our transport.
        
      </div>
    
    <div class="on-this-page">
      <h2>New and replacement cards</h2>

<p>If you have a new or replacement contactless card, you might not be able to make a contactless payment until you've made your first chip and PIN transaction. This is a security measure applied by your card issuer.</p>

<p>Also check the 'Valid From' date to ensure it's ready to be used.</p>

<h2>Your card works at other retailers</h2>

<p>If you can make chip and PIN transactions with your card but it's not working for travel on our services, it may be because:</p>

<ul>
	<li>Your card wasn't issued in the UK - some contactless cards issued outside the UK aren't accepted on our services</li>
	<li>Your card isn't contactless - it doesn't display the contactless payment symbol</li>
</ul>

<h2>Your card has stopped working</h2>

<p>Sometimes your card won't be accepted, even though you've used it before to travel on our services.</p>

<p>This could be because:</p>

<h3>Your card issuer has declined payment</h3>

<p>This may be because your bank account doesn't have enough money to pay for your journey.</p>

<p>If this happens you'll need to get your card reauthorised.</p>

<p>You can do this in two ways:</p>

<ol>
	<li>Contact your card issuer</li>
	<li><a href="https://contactless.tfl.gov.uk/">Sign in to your contactless and Oyster account</a></li>
</ol>

<p>Once your card's been reauthorised, wait 30 minutes before travelling.</p>

<h3>Unpaid fares</h3>

<p>Sometimes your card may be accepted by our card readers, but the payment is declined by your card issuer.</p>

<p>If this happens:</p>

<ul>
	<li>You've made a journey that you've not paid for</li>
	<li>You won't be able to use your card again to travel until the unpaid fare has been paid</li>
</ul>

<p>To pay your unpaid fare:</p>

<ul>
	<li>Contact your card issuer</li>
	<li><a href="https://contactless.tfl.gov.uk/">Sign in to your contactless and Oyster account</a></li>
</ul>

<p>Once you've paid your unpaid fare, wait 30 minutes before travelling.</p>

<p>If you don't pay your unpaid fare through your account or by phone, we'll try by sending requests to your card issuer.</p>

<p>If the payment is successful, this could appear on your bank statement up to 30 days after you travelled.</p>

<h3>Failed revenue inspections</h3>

<p>If your card has failed revenue inspections or we have detected suspicious travel, we may stop it from further use.</p>

<h3>Your card is damaged</h3>

<p>You'll need to contact your card issuer if your card is damaged and no longer recognised by card readers.</p>

<h3>Your card has expired</h3>

<p>You'll need to contact your card issuer if your card has expired.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Contactless and Oyster account</h3>
    <a href="https://contactless.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Top up online, see your journey and payment history and apply for refunds</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster pay as you go</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless and mobile pay as you go</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go/why-doesnt-my-contactless-card-work">Why doesn't my contactless card work?</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Keep within maximum journey times</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Touch a pink card reader when changing trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Card clash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What to do if your contactless card doesn't work on TfL services in London";}
        
            
        


 