
    
  



@{ViewBag.Title = "Conveyancing searches";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></li>
                
            
            
                <li><span class="last-breadcrumb">Conveyancing searches</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Conveyancing searches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out if a property might be affected by existing or proposed rail and highway transport schemes.
        
      </div>
    
    
      <h2>Railway and highway searches</h2>

<p>TfL railway searches now include details&nbsp;for Crossrail, Elizabeth line or TfL Rail.</p>

<p>We carry out conveyancing railway and highway searches for properties that may be affected by our plans, as well as advising if a property may be affected by compulsory purchase powers.</p>

<p>Please note that although railway and highway searches may be requested directly from us, there are a number of commercial companies in the market that act as agents to provide a range of conveyancing searches, search bundles and one-stop-shop services.</p>

<p>The searches that these agents can provide include:</p>

<ul>
	<li>Local authority</li>
	<li>Planning</li>
	<li>Environmental</li>
	<li>Utilities</li>
	<li>Mining</li>
	<li>Highway</li>
	<li>Chancel liability</li>
	<li>Water, drainage and flood searches</li>
	<li>Railway searches.</li>
</ul>

<p>Search online for 'conveyancing search companies'.</p>

<p>Please see the <a href="https://tfl.maps.arcgis.com/apps/webappviewer/index.html?id=5129c766255941d3be16a6828faa8f18">Property Asset Register</a> for mapping information about our land ownership.</p>

<p>We aim to respond to conveyancing searches within 10 working days. Searches are completed in the order they are received with an undertaking to pay the correct fee.</p>

<p><strong>We are unable to accept payment by cheque in advance or with your initial instruction. However once an invoice has been issued to you it may then be paid by cheque, BACS, etc.</strong></p>

<p>We rely on engineers and planners to provide information about proposals, and this may occasionally cause a delay in returning search results.</p>

<p>Read our <a href="/corporate/terms-and-conditions/conveyancing-searches">summary terms and conditions</a> for carrying out conveyancing searches.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tfl-railway-searches-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Conveyancing searches-TfL railway searches"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tfl-railway-searches-heading" class="accordion-heading">TfL railway searches</div>
            </div>
            <div id="tfl-railway-searches-content" class="start-hidden" role="region" aria-labelledby="tfl-railway-searches-heading">
<p>To request a London Underground, TfL Rail, transit and tram services search, email <a href="mailto:railwaysearches&#64;tfl.gov.uk">railwaysearches&#64;tfl.gov.uk</a>.</p>

<p>We require:</p>

<ul>
	<li>The full property address including postcode</li>
	<li>A copy of the Land Registry Title plan or an Ordnance Survey Plan extract (at 1:1250 scale) identifying the property</li>
	<li>A clear undertaking in the request email to pay the appropriate fee</li>
</ul>

<p>What we provide:</p>

<ul>
	<li>Information about our&nbsp;existing railway services (London Underground, London Overground/Rail for London, Docklands Light Railway, TfL Rail/Elizabeth line and London Trams), and information on proposed services that have been confirmed and approved. We also provide a relevant Ordnance Survey 1:1250 scale location plan as appropriate</li>
	<li>We may provide information on legal matters such as property rights, wayleaves, grants, consents, leases, licences or other arrangements which affect the property</li>
	<li>Information about tunnel depths, and a location plan, as appropriate</li>
</ul>

<p><strong>The fees for London Underground railway searches are:</strong></p>

<ul>
	<li>&pound;192, including VAT at 20%, for a single residential property</li>
	<li>&pound;312, including VAT at 20%, for commercial properties, development sites or multiple residential properties</li>
</ul>

<p>There is no charge for providing information about proposed Tube, tram or rail schemes, or properties that are affected by our compulsory purchase orders, as identified in your Local Authority CON29 search results.</p>

<p>The exception to this is Crossrail 1/Elizabeth line where searches are chargeable despite appearing on CON29 results and safeguarding remaining in place. This is because&nbsp;because Crossrail 1 is now constructed and parts of it are in operation. There is however no charge for searches relating to Crossrail 1 Abbeywood to Hoo Junction proposed extension.</p>

<p>You may also request searches by writing to:</p>

<p><strong>Address:</strong><br />
Railway Searches<br />
Operational Property Division<br />
Transport for London (Commercial Development)<br />
7th Floor 7Y7<br />
Palestra, 197 Blackfriars Road,<br />
London SE1 8NJ</p>

<p>Please enclose a request letter, location plan and an undertaking to pay.</p>

<p><strong>Telephone:</strong> <a href="tel:020 7126 2777">020 7126 2777</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>)</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tfl-highway-searches-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Conveyancing searches-TfL highway searches"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tfl-highway-searches-heading" class="accordion-heading">TfL highway searches</div>
            </div>
            <div id="tfl-highway-searches-content" class="start-hidden" role="region" aria-labelledby="tfl-highway-searches-heading">
<p>We are the highway authority for all <a href="/modes/driving/red-routes">red routes</a>&nbsp;in London.</p>

<p>To request a highway search on our roads, email <a href="mailto:highwaysearches&#64;tfl.gov.uk">highwaysearches&#64;tfl.gov.uk</a>.</p>

<p>We require:</p>

<ul>
	<li>The full property address including postcode</li>
	<li>A copy of the Land Registry Title plan or an Ordnance Survey Plan extract (at 1:1250 scale) identifying the property</li>
	<li>A clear undertaking in the request email to pay the appropriate fee</li>
</ul>

<p>What we provide:</p>

<ul>
	<li>Information about existing highway services and proposed highway schemes. We also provide a relevant Ordnance Survey 1:1250 scale location plan as appropriate</li>
	<li>We may also provide information on legal matters such as property rights, wayleaves, grants, consents, leases, licences or other arrangements which affect the property</li>
	<li>Information from highway engineers, planners and designers as appropriate</li>
</ul>

<p><strong>The fee for a TfL highway search is &pound;120, including VAT at 20%</strong>.</p>

<p>You may also request searches by writing to:</p>

<p><strong>Address:</strong><br />
Highway Searches<br />
Operational Property Division<br />
Transport for London (Commercial Development)<br />
7th Floor (7Y7)<br />
Palestra, 197 Blackfriars Road<br />
London SE1 8NJ</p>

<p>Please enclose a request letter, location plan and an undertaking to pay.</p>

<p><strong>Telephone: </strong><a href="tel:020 7126 2777">020 7126 2777</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>)</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="network-rail-searches-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Conveyancing searches-Network Rail searches"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="network-rail-searches-heading" class="accordion-heading">Network Rail searches</div>
            </div>
            <div id="network-rail-searches-content" class="start-hidden" role="region" aria-labelledby="network-rail-searches-heading">
<p><a href="http://www.networkrail.co.uk/aspx/3287.aspx">Network Rail</a>&nbsp;has for more information Network Rail conveyancing searches.</p>

<p>Postal requests should be sent to:</p>

<p><strong>Address:</strong><br />
Network Rail (Searches)<br />
40 Melton Street<br />
London NW1 2EE</p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">Conveyancing searches</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">Highway licences</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults">Roadworks and street faults</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme">Lane rental scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/london-underground-and-rail-protection">London Underground and rail protection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act">New Roads and Street Works Act 1991</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out if a property might be affected by existing or proposed rail and highway transport schemes. ";}
        
            
        


 