
    
  



@{ViewBag.Title = "Lane rental scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></li>
                
            
            
                <li><span class="last-breadcrumb">Lane rental scheme</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Lane rental scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL lane rental scheme (TLRS) applies to the most traffic-sensitive locations and times of day across 56% of the Transport for London Road Network (TLRN). The scheme encourages behaviour change and reduces highway occupation by applying a daily charge.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Reference documents</h2>

<p>These documents provide details on the scheme as well as the applicable locations:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-street-works-charges-for-occupation-of-the-highway-transport-for-london-order-2012.pdf">
    <div class="document-download-text">
        <p>Lane rental scheme order</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-lane-rental-scheme-document-tlrs.pdf">
    <div class="document-download-text">
        <p>Lane rental scheme document</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 243KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap .doc" href="/cdn/static/cms/documents/tfl-lane-rental-scheme-schedule-of-locations-01042018..doc">
    <div class="document-download-text">
        <p>Schedule of lane rental locations (Word format) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            .DOC 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap .pdf" href="/cdn/static/cms/documents/tfl-lane-rental-scheme-schedule-of-locations-01042018..pdf">
    <div class="document-download-text">
        <p>Schedule of lane rental locations (PDF format) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            .PDF 840KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap zip" href="/cdn/static/cms/documents/tlrs-lane-rental-01042018-esri.zip">
    <div class="document-download-text">
        <p>GIS files in ESRI format</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            ZIP 416KB
            
        </p>
    </div>
    <div class="document-download-icon download-zip">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap zip" href="/cdn/static/cms/documents/tlrs-lane-rental-01042018-mapinfo.zip">
    <div class="document-download-text">
        <p>GIS files in TAB format</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            ZIP 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-zip">
    </div>

</a>

<!-- 0.26 -->
 
</div>
<p>The two ZIP downloads above contain GIS files in TAB and ESRI format. The files can be used to upload the spatial representation of lane rental locations into most mapping systems. Please note that these files should only be downloaded via desktop computers.</p>
</div>
 <div>

<h2>Lane rental borough maps</h2>

<p>We've produced maps and GIS layers for&nbsp;lane rental locations across London:</p>

<ul>
	<li><a href="http://planning.data.tfl.gov.uk/">Download borough maps</a></li>
</ul>

<h2>Supplementary guidance</h2>

<p>The purpose of the&nbsp;supplementary guidance&nbsp;document below is to provide clarity on certain areas and questions relating to the TLRS that have arisen since the scheme went live in June 2012.</p>

<p>If you want to apply for a reduction or waiver in relation to this document, please complete the Apply to waive/reduce/exempt charges form below and return it to <a href="mailto:PLaneRentalQueries&#64;tfl.gov.uk">lanerentalqueries&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap ...pdf" href="/cdn/static/cms/documents/tlrs-supplementary-guidance....pdf">
    <div class="document-download-text">
        <p>Supplementary guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            ...PDF 469KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap ..doc" href="/cdn/static/cms/documents/application-to-waive-reduce-or-exempt-charges...doc">
    <div class="document-download-text">
        <p>Apply to waive/reduce/exempt charges</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            ..DOC 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Monitoring reports</h2>


<p>These reports&nbsp;provide information on the impacts of the scheme since it was implemented:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-apr-2018-mar-2019.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report April 2018 to March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-apr-2017-mar-2018.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report April 2017 to March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.60 -->
 

<a class="document-download-wrap .pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-apr-2016-mar-2017..pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report April 2016 to March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            .PDF 2.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-benefits-report-november-2016.pdf">
    <div class="document-download-text">
        <p>Lane rental benefits report November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-apr-2015-mar-2016.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report April 2015 to March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-july-2014-mar-2015.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report July 2014 to March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-oct-2013-jun-2014.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report October 2013 to June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 524KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-oct-2012-sep-2013.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report October 2012 to September 2013 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-monitoring-report-oct-2012-mar-2013.pdf">
    <div class="document-download-text">
        <p>Lane rental monitoring report October 2012 to March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 616KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 
</div>

</div>
 
<div>




<h2>Lane Rental Governance Committee (LRGC)</h2>

<p>A Lane Rental Governance Committee (LRGC) has been established to manage surplus income generated from the lane rental scheme by ensuring that expenditure is in accordance with Department for Transport regulations.</p>

<p>The committee is made up of representatives from utility companies and us We meet quarterly to authorise funding requests for individual projects aimed at reducing disruption and other adverse effects caused by street and roadworks.</p>

<p>More information relating to the committee can be found in the <a href="/cdn/static/cms/documents/lrgc-terms-of-reference.pdf">Terms of Reference (PDF 208KB)</a></p>

<h2>Lane rental funding applications, guidance and templates</h2>

<p>The documents below help applicants through the process of applying for funding.</p>

<p>For any queries in relation to applications for funding please email <a href="mailto:LaneRentalFunding&#64;TfL.gov.uk">lanerentalfunding&#64;tfl.gov.uk</a></p>

<div><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Normal</w:View>
  <w:Zoom>0</w:Zoom>
  <w:TrackMoves/>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-GB</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:EnableOpenTypeKerning/>
   <w:DontFlipMirrorIndents/>
   <w:OverrideTableStyleHps/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="267">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]--><!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
</style>
<![endif]--></div>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-funding-questions-and-answers.pdf">
    <div class="document-download-text">
        <p>Lane rental funding questions and answers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lane-rental-funding-application-guidance-v5.pdf">
    <div class="document-download-text">
        <p>Guidance for lane rental funding applications </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 856KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap 2...docx" href="/cdn/static/cms/documents/lrgc-funding-application-form4.2...docx">
    <div class="document-download-text">
        <p>Full governance committee lane rental funding application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            2...DOCX 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.29 -->
 

<a class="document-download-wrap 4.xlsx" href="/cdn/static/cms/documents/bca-workbook-v0.4.xlsx">
    <div class="document-download-text">
        <p>Benefit cost analysis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            4.XLSX 564KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap .docx" href="/cdn/static/cms/documents/fast-track-application-form-final-v1..docx">
    <div class="document-download-text">
        <p>Fast track lane rental funding application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            .DOCX 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap .docx" href="/cdn/static/cms/documents/extraordinary-measure-application-form-final-v1..docx">
    <div class="document-download-text">
        <p>Extraordinary measure lane rental funding application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            .DOCX 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lrgc-schedule-of-dates-jan-2020.pdf">
    <div class="document-download-text">
        <p>Governance committee meeting dates and submission deadlines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/lrgc-project-delivery-milestones.doc">
    <div class="document-download-text">
        <p>Project delivery milestone template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 198KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/lrgc-project-progress-report-template.docx">
    <div class="document-download-text">
        <p>Project progress report template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/lrgc-project-closure-report-template.docx">
    <div class="document-download-text">
        <p>Project closure report template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/lrgc-project-publication-template.docx">
    <div class="document-download-text">
        <p>Publication report template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 
</div>

</div>
 
<div>



<h2>Lane rental funding approved applications</h2>


<p>This document provides a summary of all lane rental funded projects approved by the Lane Rental Governance Committee:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lrgc-approved-applications-mar-2020.pdf">
    <div class="document-download-text">
        <p>Lane rental funded approved applications</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.17 -->
 
</div>

</div>
 <div>

<h2> LRGC industry publications</h2>
<p>All projects funded by the Lane Rental Governance Committee are required to provide an industry publication at the close of the project.</p>
<p>This is to advise stakeholders of the outcomes of the project, lessons learnt and recommendations. Below are the publications from all the projects completed to date:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cadent-augmented-reality-maps-publication.pdf">
    <div class="document-download-text">
        <p>Augmented Reality (AR) maps and 3D AR planning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-cctv-sharing-publication-final.pdf">
    <div class="document-download-text">
        <p>Inter-agency CCTV video sharing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/highway-spillage-publication.pdf">
    <div class="document-download-text">
        <p>Highway spillage control</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cadent-finchley-road-publication-final.pdf">
    <div class="document-download-text">
        <p>Finchley road extraordinary measures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-playbook-publication-final.pdf">
    <div class="document-download-text">
        <p>Playbook external access</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gla-limav2-publication-final.pdf">
    <div class="document-download-text">
        <p>London infrastructure mapping application v2.0</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ice-buried-services-publication-final.pdf">
    <div class="document-download-text">
        <p>Buried utility and highway infrastructure services (PAS 256)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/archway-gyratory-ducting-publication-final-update.pdf">
    <div class="document-download-text">
        <p>Archway gyratory future proofing network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/twu-solo-publication-final.pdf">
    <div class="document-download-text">
        <p>Unmanned sewer inspection robot (SOLO)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/publication-roadmender-bagged-material-trial-final.pdf">
    <div class="document-download-text">
        <p>Bagged material trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tuca-publication-final.pdf">
    <div class="document-download-text">
        <p>Utilisation of the tunnelling and underground construction academy (TUCA)  </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vms-taxi-publication-final.pdf">
    <div class="document-download-text">
        <p>Moving variable messaging signs (taxi top)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stockwell-gyratory-future-proofing-network-publication-final.pdf">
    <div class="document-download-text">
        <p>Stockwell gyratory future proofing network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eandcpublication.pdf">
    <div class="document-download-text">
        <p>Elephant and castle - future proofing network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-highway-north-south-publication.pdf">
    <div class="document-download-text">
        <p>Cycle highway north/south (CS6) - future proofing network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/publication-cisbot-final.pdf">
    <div class="document-download-text">
        <p>Joint sealing robot for larger gas mains (CISBOT)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/publication-final-ch5inner.pdf">
    <div class="document-download-text">
        <p>Cycle highway 5 inner - future proofing network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/publication-ironworks-summit-final.pdf">
    <div class="document-download-text">
        <p>London ironworks summit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/publication-lrgc-hfo.pdf">
    <div class="document-download-text">
        <p>A4 Hammersmith flyover - provision of extraordinary measures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">Highway licences</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults">Roadworks and street faults</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme">Lane rental scheme</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/london-underground-and-rail-protection">London Underground and rail protection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act">New Roads and Street Works Act 1991</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Lane Rental Scheme applies to the most traffic-sensitive locations and the most traffic-sensitive times of day. It applies to 56% of the TfL road network (TLRN)";}
        
            
        


 