
    
  



@{ViewBag.Title = "New Roads and Street Works Act 1991";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></li>
                
            
            
                <li><span class="last-breadcrumb">New Roads and Street Works Act 1991</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New Roads and Street Works Act 1991</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The New Roads and Street Works Act 1991 (NRSWA) provides a legal framework for street and highway works.
        
      </div>
    
    <div class="on-this-page">
      <h2>Restrictions on further activities - sections 58 and 58A</h2>

<p>Sections 58 and 58A of the Act give authorities the power to coordinate and restrict certain works to minimise disruption to residents and road users.</p>

<p>The restrictions apply to works in all or part of a street following substantial road works (section 58) or substantial street works (section 58A).</p>

<p>The period of restriction depends on the level of work being carried out. For example, substantial works could be restricted for six months; for long-term major highway reconstructions, the restriction could be up to five years.</p>

<p>Emergency works are exempt from restriction periods and customer utility connections may be carried out following a 20-day embargo period.</p>

<p>Once a restriction is in force, no other works (other than exempted activities or where an authority has given consent) can be carried out until the restriction period has expired.&nbsp;</p>

<h2>Notification of restrictions</h2>

<p>The regulations require authorities to publish on their websites their intention to set up a restriction:</p>

<ul>
	<li>Three months before the start of substantial road works</li>
	<li>Twenty days before the start of substantial street works</li>
</ul>

<p>The following restrictions apply to the TfL Road Network only:</p>

<h2>Proposed sections 58 and 58A restrictions</h2>

<p>The following table provides details of TfL's proposed restrictions following the completion of the substantial road and street works.</p>
      
           
      
<a class="document-download-wrap pdf" target="_parent" href="/cdn/static/cms/documents/proposed-section-58-and-58a-restrictions.pdf">
<div class="document-download-text">
<p>Proposed Section 58 and 58A restrictions table </p>
</div>
<div class="document-download-attachment">
<p>PDF 0.24MB</p>
</div>
<div class="document-download-icon download-doc"></div>
</a>
 <div>


        <h2>Current sections 58 and 58A restrictions</h2>
        <p>The following table provides details of restrictions that are now in force following the completion of substantial road and street works.</p>
        <p>Subject to the exemptions in NRSWA and its associated regulations, no other street works may be carried out within the restriction period without TfL's consent.</p>
    
</div>
 
<a class="document-download-wrap pdf" target="_parent" href="/cdn/static/cms/documents/current-section-58-and-58a-restrictions.pdf">
<div class="document-download-text">
<p>Current section 58 and 58A restrictions table</p>
</div>
<div class="document-download-attachment">
<p>PDF 0.46MB</p>
</div>
<div class="document-download-icon download-doc"></div>
</a>
 <div>

<h2>Contact us</h2>

<p>If you have a question about restrictions on road and street works, please email <a href="mailto:s58waiver&#64;tfl.gov.uk">AssetOperationsS58waiver&#64;tfl.gov.uk</a>.&nbsp;</p>
</div>
 <div>

<h2>Licence to undertake street works</h2>

<p>Utility companies and other bodies have statutory powers to install and maintain apparatus such as utility services in the public highway and are granted permission under the London Permit Scheme.</p>

<p>Any other company or individual who wants to install and maintain apparatus&nbsp;such as&nbsp;a drainage connection to privately owned property will need to apply to us&nbsp;for a licence under Section 50 of the New Roads and Street Works Act 1991. The following application form should be completed and returned to <a href="mailto:section50&#64;tfl.gov.uk">section50&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/section-50-application-form.docx">
    <div class="document-download-text">
        <p>Section 50 application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 
</div>
<p>If you need to erect scaffolding, operate cranes or place skips or any other structure on any of the roads we look after, you will need to <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">apply for a&nbsp;highway licence</a>.&nbsp;</p>

<h2>Temporary traffic regulation order</h2>

<p>If you are a utility company and a restriction is required to prohibit the movement of traffic in order to carry out street works, a temporary traffic regulation order must be obtained under <a href="https://www.legislation.gov.uk/ukpga/1984/27/section/14">section 14(1) of the Road Traffic Regulation Act 1984</a>. Please complete the following application form and return to <a href="mailto:RPUtilityTrafficOrders&#64;tfl.gov.uk">RPUtilityTrafficOrders&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/temporary-traffic-regulation-order-application-form.docx">
    <div class="document-download-text">
        <p>Traffic regulation order application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.40 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">Highway licences</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults">Roadworks and street faults</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme">Lane rental scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/london-underground-and-rail-protection">London Underground and rail protection</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act">New Roads and Street Works Act 1991</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The New Roads and Street Works Act 1991 (NRSWA) provides a legal framework for street and highway works. ";}
        
            
        


 