
    
  



@{ViewBag.Title = "Roadworks and street faults";}
@{ViewBag.Keywords = "Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></li>
                
            
            
                <li><span class="last-breadcrumb">Roadworks and street faults</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Roadworks and street faults</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're improving roadworks by making them safer and more convenient for all of our customers, especially those that are particularly vulnerable such as those  walking or cycling.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Report roadworks</h2>

<ul>
	<li><a href="https://streetcare.tfl.gov.uk">Report a problem with roadworks</a>&nbsp;with our street care reporting tool.</li>
</ul>

<h2>Keeping people safe at roadworks</h2>

<p>We have produced a <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">temporary traffic management handbook</a> that sets out good practice for those involved with carrying out roadworks and other construction related activities on TfL's road network (TLRN)</p>

<h2>Find out about roadworks</h2>

<p><a href="http://public.londonworks.gov.uk/">LondonWorks</a> has information on current and planned roadworks taking place.</p>

<p>Find out:</p>

<ol>
	<li>Where roadworks are taking place</li>
	<li>How long the work will last</li>
	<li>Who is doing the work and how to contact them</li>
</ol>

<p>LondonWorks is run by us in partnership with boroughs and utility companies.</p>

<h2>TfL lane rental scheme</h2>

<p>The TfL <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme">lane rental scheme </a>(TLRS) was introduced in June 2012. It applies to the most traffic-sensitive locations and times of day. It covers 56% of the Transport for London Road Network (TLRN).</p>

<p>The scheme encourages behaviour change and minimises highway occupation, by applying a daily charge.</p>

<h2>Roadworks Charter</h2>

<p>The roadworks Charter is a collaboration between TfL and London's biggest utility companies. It sets out a series of principles and targets which achieved together will ensure roadworks are carried out efficiently and safely, keeping disruption to a minimum and supporting sustainable travel.</p>

<p>Those signed up to the Charter will commit to improving their performance around failed inspections and safety related response times. They will reduce disruption to road users during peak periods and commit to sharing forward plans to improve collaboration. Additionally their commitments include improving provision for pedestrians, cyclists and bus passengers through their works.</p>
</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roadworks-charter.pdf">
    <div class="document-download-text">
        <p>Roadworks Charter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 340KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 <div>


        <h2>London Permit Scheme</h2>
        <p>We've signed up to the London Permit Scheme for improved coordination of roadworks.&nbsp;</p>
    
</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-permit-scheme-document.pdf">
    <div class="document-download-text">
        <p>London Permit Scheme document</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 814KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 <div>

<h2>Highway licences</h2>

<p>If you need scaffolding, cranes, skips or any other structure on any of the roads we look after, you need to <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">apply for a highway licence</a>.</p>

<h2>Licence to undertake street works</h2>

<p>If you need a <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act">licence to place or maintain apparatus in the highway</a>,&nbsp;you must apply for a section 50 licence under the <a href="http://www.legislation.gov.uk/ukpga/1991/22/contents">New Road and Street Works Act 1991</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">Highway licences</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults">Roadworks and street faults</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme">Lane rental scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/london-underground-and-rail-protection">London Underground and rail protection</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act">New Roads and Street Works Act 1991</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="/info-for/urban-planning-and-construction/one-road-network" class="plain-button">One Road Network</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Managing the number of roadworks, improving signage and information, and reducing inactive roadworks on London's roads";}
        
            
        


 