


@{ViewBag.Title = "TfL marks 20th anniversary year with Royal visit to London Transport Museum";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL marks 20th anniversary year with Royal visit to London Transport Museum</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL marks 20th anniversary year with Royal visit to London Transport Museum</h1>
        <div class="content-page-press-release">
        04 March 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that HRH The Prince of Wales and HRH The Duchess of Cornwall arrived in style aboard one of our electric buses, and it was a real pleasure to talk to them about TfL's achievements and future plans"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Their Royal Highnesses The Prince of Wales and The Duchess of Cornwall today paid a visit to the London Transport Museum to begin celebrations of TfL's&nbsp;20th anniversary.</p>

<p>Arriving from Clarence House with TfL Commissioner Mike Brown MVO, on one of London's new environmentally-friendly electric buses, the couple were welcomed by the Mayor of London, Sadiq Khan, and met a wide range of hard-working TfL staff responsible for keeping London moving every day.</p>

<p>Set-up in 2000 to bring London's transport network together under one integrated body, TfL has grown and improved transport in London to help support jobs, homes, opportunities and economic growth across the capital.</p>

<h2>Keeping London moving every day</h2>

<p>Throughout the past 20 years TfL has:</p>

<ul>
	<li>modernised huge swathes of the London Underground network, transforming the world's first metro system with rebuilt stations and new trains and signalling systems;</li>
	<li>transformed some formerly under-utilised and shabby orbital rail lines into the popular and reliable London Overground network;</li>
	<li>improved the ease with which people pay to travel - first with the Oyster card and more recently with contactless payment;</li>
	<li>helped London become a 24-hour city and boosted its economy after introducing Night Tube and Night Overground services;</li>
	<li>improved air quality for Londoners by introducing the world's first 24-hour Ultra Low Emission Zone;</li>
	<li>established the largest, most accessible and greenest bus fleet in Europe;</li>
	<li>led London's cycling revolution, with London's cycle hire scheme and a network of safe cycle lanes and new safer junctions having been created across the city;</li>
	<li>boosted accessibility across the transport network, from increasing step-free access to the introduction of the now instantly recognisable Baby on Board and Please Offer Me A Seat badges</li>
</ul>

<p>During the visit The Prince of Wales and The Duchess of Cornwall met staff who have pioneered environmental and mental health schemes in the workplace and crisis response staff.</p>

<p>Their Royal Highnesses also spoke with the future generation of staff who will help shape London's next twenty years, including engineering apprentices working on signalling projects on the Tube to make services even quicker and more reliable, and interns from TfL's award-winning Stuart Ross Internship scheme designed to improve diversity in a number of areas of TfL's workforce.</p>

<p>His Royal Highness unveiled a TfL20 plaque to commemorate the visit, and London's Transport Commissioner, Mike Brown MVO, presented the royal couple with personalised 'Prince of Wales'&nbsp;and 'Duchess of Cornwall'&nbsp;roundels.</p>

<h2>Long-held association</h2>

<p>This visit was the latest in a long-held association between the Royal family and London's transport network including back in 1969 when Her Majesty became the first reigning monarch to travel on the London Underground when she opened the Victoria line. She subsequently visited London Underground on its 150th birthday in 2013.</p>

<p><strong>Sadiq Khan, Mayor of London, said:</strong>&nbsp;'London has one of the best public transport systems in the world and Transport for London staff have worked tirelessly to further improve our network over the past 20 years.</p>

<p>'I'm delighted that HRH The Prince of Wales and HRH The Duchess of Cornwall arrived in style aboard one of our electric buses, and it was a real pleasure to talk to them about TfL's achievements and future plans.</p>

<p>'With the Elizabeth Line, expanded Ultra Low Emission Zone and introduction of the world-first Direct Vision Standard all planned in the next couple of years alone, I'm sure Transport for London will continue to lead the way globally in the decades to come.'</p>

<p><strong>Mike Brown MVO, London's Transport Commissioner, said:</strong>&nbsp;'It was a privilege to host Their Royal Highnesses and introduce them to some of the women and men who throughout the past twenty years have kept London moving and made this city better, cleaner and safer for everyone.</p>

<p>'Our people have overseen some huge achievements since our creation at the start of the century against a backdrop of record-breaking customer numbers.</p>

<p>'Sustained investment in London's transport infrastructure has been vital in helping create a modernised Underground and rail, bus and road network which benefits businesses and the millions of people travelling across the capital every day.</p>

<p>'We face more challenges during the next twenty years and beyond, including meeting the needs of our ever-growing population, which we must respond to so that transport continues to support the growth and success of London.'</p>

<h2>World's leading museum of urban transport</h2>

<p>London Transport Museum is the world's leading museum of urban transport, welcoming more than 400,000 visitors through its doors each year.</p>

<p>Historic vehicles, world-famous posters and objects from the Museum's renowned collections tell the story of London's development and the vital part transport plays in defining the unique identity of the city.</p>

<p>Each year the Museum promotes safe, active and sustainable travel to more than 100,000 school pupils through the TfL STARS scheme.</p>

<p><strong>Hannah Resnick, Apprentice Project Manager at Transport for London, who met The Royal Highnesses, said: '</strong>As an Apprentice Project Manager at TfL, I have had the opportunity to build my professional network, develop my confidence and gain experience working in a fast-paced environment.</p>

<p>'I've been responsible for managing installations of state-of-the-art ticketing equipment across our network, as well as working on the Northern Line Extension and the upgrade of one of our oldest Depots at Neasden.</p>

<p>'TfL also has a Committee for Graduates and Apprentices, which I had the pleasure of acting as Chair for. With consistent support around me, I have achieved my qualifications and met other like-minded people, travelling on this exciting journey together, and it's great to be able to share this story with The Prince of Wales and The Duchess of Cornwall today.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Images are available here: <a href="https://www.flickr.com/gp/tflpress/6xzPMw">https://www.flickr.com/gp/tflpress/6xzPMw</a></li>
	<li>Her Majesty was the first reigning monarch to ride on the Underground. The Queen formally opened the Victoria Line in March 1969 by making a trip from Green Park to Victoria, where she unveiled a plaque</li>
	<li>In 1977, the Jubilee line was officially opened by HRH The Prince of Wales and was named to mark 25 years since Her Majesty's accession to the throne. In the same year, Her Majesty opened Heathrow Central station (Terminals 1 2 3) on the Piccadilly line</li>
	<li>In the aftermath of the 7 July terrorist attack on the Tube, Her Majesty unveiled a plaque at Aldgate station in 2010 remembering the lives of the 52 victims who had died</li>
	<li>In 2013, the celebrations of London Underground's 150th anniversary saw Her Majesty The Queen, His Royal Highness The Duke of Edinburgh, The Prince of Wales and Her Royal Highness The Duchess of Cornwall take a trip on the Underground, and Her Royal Highness The Duchess of Cambridge visit Baker Street station</li>
	<li>In 2016 the Queen was presented with a commemorative Elizabeth roundel, and met a wide range of people involved in the construction of Crossrail, Europe's largest infrastructure project.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div>
                                                <ul>
                                                    
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-March-TfL marks 20th anniversary year with Royal visit to London Transport Museum -->

 
 
        
        
            @{ViewBag.Description = "TfL marks 20th anniversary year with Royal visit to London Transport Museum";}
        
        


 