


@{ViewBag.Title = "2.6 million reasons to take part in Bike to School Week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>2.6 million reasons to take part in Bike to School Week</h1>
        <div class="content-page-press-release">
        21 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Children who take up this year's 'Bike to School Week' challenge in London between 24 and 28 April have &pound;2.6m worth of reasons for doing so, thanks to record funding from Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
We hope a new generation of people will be inspired to take to two wheels.
</p>
</div>
<p>Many children want to cycle to school but their parents have concerns about road safety. </p>
<p>This combined with a lack of bike parking facilities at many schools mean that cycle to school rates in many areas are still relatively low. </p>
<p>To encourage more young people to cycle, TfL is funding a range of London-wide cycle training schemes (thorough London borough councils) and installing new bike parking facilities. </p>
<p>"Bike to School Week" is an ideal opportunity for both those already cycling to encourage others, and for new cyclists to take to two wheels. </p>
<p><a href="http://www.bikeforall.net/bike_to_school_week_2006.php">More information is available on the Bike for all website</a>. </p>
<p>The &pound;2.6m will be used throughout the year to increase and improve cycle parking facilities in schools, as well as offer national training standard classes to those who need a little extra confidence boost.</p>
<p>TfL's cycle parking programme has seen 6,000 new cycle parking spaces installed in London schools since June 2003. </p>
<p>Schools which identify the need for cycle parking in their school travel plans will be eligible to apply for the resources. </p>
<p>The level of funding available this year is equivalent to approximately 2,000 more cycle parking spaces for London's schools.</p>
<p>Cycle training programmes in and after school have already been running for several years. </p>
<p>A recent survey with parents showed 85 per cent support their children undertaking cycle training and 83 per cent thought the training would make a big difference to a child's safety when cycling. </p>
<p>The record level of funding this year means that more children than ever will have the opportunity to receive high quality national standard cycle training through their schools.</p>
<p>Rose Ades, Head of the Cycling Centre of Excellence at TfL, said: "There has been a surge in the number of adults cycling in London, while the number of cyclists injured in collisions has fallen. </p>
<p>"However, parents are often reluctant to allow their children to cycle to school.</p>
<p>"We hope by offering training for children, advice on better routes, new cycling parking facilities, and improving the cycle networks, a new generation of people will be inspired to take to two wheels."</p>
<ul>
    <li>In addition to funding cycle training and cycle parking, TfL's other work with the capital's schools include:<br />
    a. &pound;390,000 of funding over the next three years to Bike It, a national Sustrans project which will work with selected London Schools to encourage more children to cycle to school<br />
    b. The funding for three coaches and a manager for Go Ride (London), a British Cycling initiative which promotes participation in fun/sport cycling<br />
    c. Cycle Safer Challenge - a TfL competition which encourages primary school children to think creatively about cycling and safety<br />
    d. A TfL-supported <a href="/corporate/projectsandschemes/2463.aspx">Junior Road Safety Officer scheme</a> </li>
    <li>TfL provides a range of <a href="http://www.tfl.gov.uk/cycles">free London cycle maps </a>visit </li>
    <li>TfL also subsidises some cycle training for adults and families. People should contact their local borough cycling or road safety officers for further information </li>
    <li>The number of recorded cycle journeys on London's major roads have risen by 100 percent during the past five years (59,000 to 119,000 recorded journeys a week) </li>
    <li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06. In 2006/07 TfL will invest &pound;24m in cycling infrastructure, training, promotion and education </li>
    <li>The number of cyclists killed or seriously injured on the capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five year's ahead of schedule </li>
    <li>The biggest annual sporting event in the world, the Tour de France, will start in London in 2007, coming to the UK capital for the first time in its 100 year history. The Grand Depart, the start of the Tour, will come to London and Kent over three days during the weekend 6-8 July 2007. See the website for more details</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Many children want to cycle to school but their parents have concerns about road safety. This combined with a lack of bike parking facilities at many schools mean that cycle to school rates in many areas are still relatively low. To encourage more young";}
        
        


 