


@{ViewBag.Title = "Crackdown on crime on Bromleys buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crackdown on crime on Bromleys buses</h1>
        <div class="content-page-press-release">
        28 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A major operation targeting anti-social behaviour on buses has commenced this week in Bromley.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want people to know that any sort of anti-social behaviour on our transport system will not be tolerated
                            
                        </p>
                    </div>
                
            
            
            <p>Operation Safer Buses will run for the next three weeks in the Bromley, Orpington and Chislehurst areas, lead by Transport for London (TfL) and the Metropolitan Police Service (MPS) in partnership with bus operating company First. </p>
<p>MPS Officers, Police Community Support Officers (PCSOs) and plain-clothed officers will be patrolling local buses, 61, R1 and 208, to deter those who cause criminal damage and anti-social behaviour. </p>
<p>The operation will also serve to reassure passengers and the local community. </p>
<p>The patrols will be supported by TfL's Revenue Protection Inspectors (RPIs) who will carry out static fare evasion checks, in the centre of Bromley and Orpington, along with MPS officers. </p>
<p>Inspector Stuart Trayler, MPS's Transport Operational Command Unit (TOCU), said: "There have been a number of incidents of criminal damage and anti-social behaviour on buses in the Bromley area. </p>
<p>"Operation Safer Buses will tackle these issues as well as reassure passengers. </p>
<p>"This is one of many regular TOCU operations tackling anti-social behaviour that takes place throughout London."</p>
<p>
<h2>Safer journeys</h2>
<p>
<p>Jeroen Weimar, Director of Transport Policing and Enforcement, said: "Criminal damage and graffiti creates a fear of crime.</p>
<p>"We want people to know that any sort of anti-social behaviour on our transport system will not be tolerated. </p>
<p>"We have a strong working relationship with the MPS and are committed to ensuring that every passenger has a safe journey to and from home."</p>
<p>Adrian Jones, Operations Director of First, said: "We suffer from a large amount of criminal damage on route 61 buses, in particular affecting seats and windows. </p>
<p>"We welcome this joint action with TfL and the Met Police to tackle this problem, which makes bus travel unpleasant for our passengers."</p>
<p>The operation began on Monday, 24 April and will finish on Friday, 12 May and will operate from 12:00 to 10:00 daily. <br></p>
            <ul>
<li>TOCU is funded by TfL and run in partnership with the MPS and was set up in June 2002 
</li><li>Since its conception TOCU has made over 19,000 arrests 
</li><li>All London's 7500 buses are fitted with operational, 24/7 recording on-vehicle CCTV systems. There are 43 bus operating CCTV control rooms across London downloading and analysing bus CCTV data in response to transport and police inquiries 
</li><li>Through the work of our 250 Revenue Protection Inspectors (RPIs), we work closely with MPS to tackle fare evasion. For example, TfL and MPS run around 50 joint operations every month to tackle fare evasion on London's buses 
</li><li>Operation BusTag through active use of on-vehicle CCTV, working with local police and media, TOCU has now arrested over 570 individuals for graffiti and etching in little over a year, and there have been numerous on-bus related custodial sentences for offenders<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Operation Safer Buses will run for the next three weeks in the Bromley, Orpington and Chislehurst areas, lead by Transport for London (TfL) and the Metropolitan Police Service (MPS) in partnership with bus operating company First. MPS Officers, Police";}
        
        


 