


@{ViewBag.Title = "Free afternoon newspaper a step closer for Tube commuters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Free afternoon newspaper a step closer for Tube commuters</h1>
        <div class="content-page-press-release">
        10 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has launched a tender for a free afternoon and evening newspaper on London Underground.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Any additional money generated from a new contract will be invested into London's transport system
                            
                        </p>
                    </div>
                
            
            
            <p>The tender follows an investigation by the Office of Fair Trading and agreement from Associated Newspapers Ltd, publishers of the Metro newspaper, to give up its exclusive rights to the afternoon and evening free paper distribution slots on the Tube network.</p>
<p>The Metro will continue to be published each morning providing commuters with up-to-date information and news.</p>
<p>Richard Parry, Director of Strategy &amp; Service Development for London Underground, said: "This tender means not just more choice for passengers on the Tube. </p>
<p>"Any additional money generated from a new contract will be invested into London's transport system driven by TfL's &pound;10bn 5-Year Investment Programme.</p>
<p>"All round this is good news for Londoners."</p>
<p>There has already been a significant amount of interest from publishers, and now all groups who register their interest will have the opportunity to put forward their proposals.</p>
            <ul>
<li>This week a notice has been placed in the Official Journal of the European Union (OJEU) seeking expressions of interest</li>
<li>Interested parties will have until 21 April to register interest</li>
<li>The notice can be accessed via the <a href="http://www.ojec.com ">OJEU website</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The tender follows an investigation by the Office of Fair Trading and agreement from Associated Newspapers Ltd, publishers of the Metro newspaper, to give up its exclusive rights to the afternoon and evening free paper distribution slots on the Tube";}
        
        


 