


@{ViewBag.Title = "Jacking of the Box for the new A23 carriageway is well underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jacking of the Box for the new A23 carriageway is well underway</h1>
        <div class="content-page-press-release">
        20 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Jacking of the Box, a process where the road underpass for the new A23 carriageway is constructed "offline", and then horizontally jacked into position is two-thirds of the way to completion.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is investing &pound;33m to build the bypass which will take 80 per cent of traffic out of the town centre
                            
                        </p>
                    </div>
                
            
            
            <p>The 24-metre, wide 37-metre long box is designed to pass under the Tattenham Corner Branch Line at Smitham Station in Coulsdon.</p>
<p>It is one of the largest boxes to be jacked under a railway in Europe with minimal inconvenience to users and passengers as the station, the railway and A23 will remain operational throughout the process.</p>
<p>Mike Jackson, Chief Engineer for Road Network South at Transport for London (TfL), said: "The jacking of the box represents a key milestone in the building of the Coulsdon relief road. TfL is investing &pound;33m to build the bypass which will take 80 per cent of traffic out of the town centre and regenerate the area as part of the Mayor's urban renewal of the city's urban spaces."</p>
<p>Julian Spiller, Project Manager for Hochtief, said:"The installation of the Smitham Station Bridge is the culmination of two years of design, development and construction and has tested the project team to the limit. There will be a great sense of achievement and relief when it reaches its final position."</p>
<p>Colin Munz, Atkins Project Director said: "Completion of the jacked box will mark the last stage of this challenging project and is a credit to all the hard work of the design and construction teams".</p>
            <ul>
<li>The box to be jacked under Smitham Station is some 37 metres long by 25 metres wide and 10 metres high and weights some 8,500 tonnes. It is one of the largest structures to be jacked under a railway in Europe</li>
<li>The length of the jacking process is 34.9 metres after a trial jack of eight metres</li>
<li>The construction team jacking the box includes teams of engineers and workmen involving the separate disciplines:<br>a. Jacking team Mammoet /de Boer operating the jacks<br>b. Mining team (Mc Burney) involved in excavation at face and removal of spoil<br>c. Welders (McBurney) for fitting packers to support the tubes over the box<br>d. Engineering support and Supervision by Hochtief (Main Contractor) and Atkins as Engineer's representative<br>e. The jacking process is almost continuous with 24-hour working in 12-hour shifts over a period of 28 days with two breaks to reset the jacks</li>
<li>The construction method of jacking a box structure is well known in the industry and can be undertaken in different ways. The particular method employed at Smitham station involves installation of a series of tubes just below the tracks to support the railway during the jacking of the box. This allowed the railway to remain operational at all times</li>
<li>The railway lines have been monitored for movement throughout using an automated system</li>
<li>The jacking force is provided by a bank of 22 No jacks giving a total of 15,000 tonnes of available force</li>
<li>Cost of the jacking process including excavation alone is in the order of &pound;750,000</li>
<li>The box forms part of the 1.7km A23 Coulsdon Relief Road Scheme that will remove 80 per cent of A23 traffic from Coulsdon Town Centre</li>
<li>The new carriageway will have a single lane southbound and two lanes northbound, including a priority lane for public transport, HGV's and motor cyclists</li>
<li>Atkins was commissioned by TfL to rework the previous Highways Agency design into one having comprehensive facilities for pedestrians and cyclists, improved accessibility for public transport and to improve the local amenity by provision of high quality soft and hard landscape</li>
<li>Atkins worked in partnership with TfL to produce the detailed design and documentation for a modified ICE 7 contract that incorporates a contractor's design for the works at Smitham station</li>
<li>Atkins is undertaking the site supervision of the project for TfL who are the Engineer under the contract</li></ul>
<p><br> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 24-metre, wide 37-metre long box is designed to pass under the Tattenham Corner Branch Line at Smitham Station in Coulsdon.It is one of the largest boxes to be jacked under a railway in Europe with minimal inconvenience to users and passengers as the";}
        
        


 