


@{ViewBag.Title = "Kids Club teaches road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kids Club teaches road safety</h1>
        <div class="content-page-press-release">
        24 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Is your child safe on our roads? This is the theme of posters being displayed in bus shelters across Newham as part of the commitment by Transport for London (TfL) to reduce the number of children killed or seriously injured on London's roads by 50 per cent by the year 2010.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Children's Traffic Club is a brilliant scheme for educating our younger children
                            
                        </p>
                    </div>
                
            
            
            <p>The poster campaign, run by the TfL funded Children's Traffic Club, aims to reduce child casualties on our roads and boost membership of the club. </p>
<p>The Children's Traffic Club (CTC) is for three-four year old children and their parents or carers to help them learn about road safety skills in a fun, friendly way.</p>
<p>In areas where the CTC has been running, overall child casualties have been reduced by 12 per cent. This campaign is just one of the stages in the drive to achieve a membership of 100,000 toddlers across London by the end of March 2008. </p>
<p>The Children's Traffic Club and TfL have worked alongside Newham Early Start to bring the scheme to young families throughout the borough.</p>
<p>Chris Lines, Head of London Road Safety Unit, Transport for London, said: 'The Children's Traffic Club is a brilliant scheme for educating our younger children about the dangers they face on London's roads. Working alongside Early Start is a great way for us to bring these messages to the children and parents of Newham''.<br></p>
            <ul>
<li>TfL introduced the CTC scheme in Sept 2003 and so far has 55,376 members, giving a 55 per cent take up </li>
<li>Full background and history of the CTC is available from the press office </li>
<li>Parents wishing to find out more can visit the <a href="http://www.trafficclub.co.uk/">website</a> </li>
<li>Sure Start programmes are implemented in areas that have been identified as having high level of deprivation and under achieving. Further information is <a href="http://www.surestart.gov.uk/">available </a></li>
<li>Advertising campaigns are also running in local newspapers across London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The poster campaign, run by the TfL funded Children's Traffic Club, aims to reduce child casualties on our roads and boost membership of the club. The Children's Traffic Club (CTC) is for three-four year old children and their parents or carers to help";}
        
        


 