


@{ViewBag.Title = "Mayor and TfL welcome PMs announcement on ASBOs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL welcome PMs announcement on ASBOs</h1>
        <div class="content-page-press-release">
        04 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London and Transport for London (TfL) today welcomed the Prime Minister's announcement that TfL will be granted the power to apply for Anti Social Behaviour Orders (ASBOs).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These new powers will help us ensure London continues to lead the way on the safety and security
                            
                        </p>
                    </div>
                
            
            
            <p>This measure will build on the work already being carried out by TfL in partnership with the British Transport Police (BTP) and the Metropolitan Police Service (MPS) in tackling crime on the transport network.</p>
<p>The Mayor, Ken Livingstone, said:"This demonstrates that the Government shares my determination to put the safety and security of passengers and staff at the top of the transport agenda. </p>
<p>"Transport for London and its partners have already done a huge amount to tackle crime and the fear of crime on the transport network. </p>
<p>"These new powers will help us ensure London continues to lead the way on the safety and security of its transport network as we build towards the 2012 Olympics."</p>
<p>TfL's Director of Transport Policing and Enforcement, Jeroen Weimar, said: "This new power will free up valuable police resources and enable TfL to take action on those who repeatedly engage in low level disorder, that small minority of individuals who repeatedly act in a way that is detrimental to the network, staff and customers."<br></p>
            <ul>
<li>These new powers will not affect the successful arrangement that already exists with the BTP and the MPS, who can already apply for ASBOs against people who commit offences on the transport network 
</li><li>Since 2002, there have been 180 ASBOs successfully applied for by the BTP with the support of TfL's Crime and Disorder partnership unit 
</li><li>They will, however, free up police time by allowing TfL to apply directly for ASBOs against people responsible for low-level crime and disorder, such as verbally abusing staff and passengers or repeated aggressive behaviour 
</li><li>The new powers come on top of significant investment in reducing crime and the fear of crime: 
<ul>
<li>In 2002, TfL in partnership with the Metropolitan Police Service, the Transport Operational Command Unit (TOCU) was set up to police the surface transport network 
</li><li>When the Mayor took control of the Tube in 2003, funding was immediately provided for an additional 200 BTP officers to patrol the network</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This measure will build on the work already being carried out by TfL in partnership with the British Transport Police (BTP) and the Metropolitan Police Service (MPS) in tackling crime on the transport network.The Mayor, Ken Livingstone, said:'This";}
        
        


 