


@{ViewBag.Title = "Mayor launches tunnelling of DLR Woolwich Arsenal Extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches tunnelling of DLR Woolwich Arsenal Extension</h1>
        <div class="content-page-press-release">
        03 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London Ken Livingstone today started the tunnelling that will form a major part of the &pound;180m Docklands Light Railway (DLR) Woolwich Arsenal extension.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Docklands Light Railway Woolwich Arsenal extension will be a vital new transport link
                            
                        </p>
                    </div>
                
            
            
            <p>The 2.5 km extension, part of Transport for London's (TfL) five-year &pound;10bn Investment Programme, is being designed and constructed by AMEC for Woolwich Arsenal Rail Enterprises (WARE), a joint venture between AMEC and the Royal Bank of Scotland. </p>
<p>The Mayor launched the 540-tonne boring machine that will be used to connect DLR King George V station to the heart of Woolwich town centre. </p>
<p>The DLR Woolwich Arsenal station will be situated alongside the mainline station and open in early 2009.</p>
<p>Mayor Ken Livingstone said: "All over London we are starting to see the work starting on the massive invetment programme in our public transport system, and the Woolwich Arsenal extension will be a vital new transport link that will regenerate the local area and play an important role during the 2012 London Olympic Games. </p>
<p>"Transport for London's &pound;10bn investment programme across London's transport network will deliver major improvements to the public transport system over the coming years."</p>
<p>The key benefits of the DLR Woolwich Arsenal extension will include:</p>
<ul>
<li>Improved transport links, connecting Woolwich to London City Airport in five minutes, Canary Wharf in 19 minutes, Stratford in 20 minutes, and Bank in 27 minutes. In the peak period, trains could leave every four minutes 
</li><li>Supporting the regeneration of Woolwich and the southern Royal Docks, through transport which can boost the creation of new jobs, homes, shops and leisure facilities along the route 
</li><li>Improved access to employment, education and leisure facilities for the communities of Woolwich, Silvertown and North Woolwich 
</li><li>Direct interchange with main line services on the North Kent line, the planned Greenwich Waterfront Transit scheme, over 100 bus routes, eight Underground lines and coach, taxi and riverboat services</li></ul>
<p>Ian Brown, Managing Director of TfL London Rail and Chairman of DLR, said: "The DLR has seen a series of successful developments recently, culminating in the opening of the London City Airport Extension in December 2005. </p>
<p>"I am delighted to see work begin so soon on this next extension under the river to Woolwich Arsenal.</p>
<p>"With DLR passenger numbers forecast to increase from current levels of over 50 million to 80 million by 2009, the link will help accommodate demand and play a critical role in ongoing success."</p>
<p>Sir Peter Mason, AMEC Chief Executive, said: "It is an honour to be instrumental in delivering such an important link in London's transport network which will serve Londoners for years to come, as well as being a crucial link in the delivery of the 2012 Olympics and Paralympics."</p>
<p>During the Olympics the extension will serve the Royal Artillery Barracks in Woolwich, which will hold the shooting events, and provide access from Woolwich and South East London to the Olympic Park and other venues.</p>
<p>
<h2>Step-free access</h2>
<p>
<p>Two tunnels will be bored to allow trains to run in both directions. </p>
<p>The tunnelling will take 15 months to complete, during which time the boring machine will run at depths of up to 35m under the River Thames.</p>
<p>It will surface in Woolwich Arsenal in the autumn before being removed and reinstalled at the launch chamber for its second crossing.</p>
<p>The tunnelling machine and material removed will be transported via Thames' river barges, thus reducing the impact on London's roads, particularly those in the centre of Woolwich.</p>
<p>As with the rest of the DLR network, Woolwich Arsenal station will include step-free access to platforms and trains.</p>
<p>It will have two entrances at Greens End and Woolwich New Road.</p>
            <ul>
<li>The tunnel boring machine (TBM) is six metres in diameter - as tall as a two-storey house 
</li><li>The TBM has a crew of 10 engineers who work in 12-hour shifts operating the mechanical conveyors and concreting operations. And there's no getting out until the shift is over. It contains a canteen and toilets to keep the engineers comfortable 
</li><li>The TBM will remove 104,000 cubic metres of material - enough to fill around 1,100 double-decker buses or 40 Olympic-sized swimming pools 
</li><li>The tradition in tunnelling projects is for the machine to be given a female name. The TBM is named after AMEC's site receptionist, Carla Murphy, whose name was drawn in a lottery 
</li><li>The TBM was built in Canada by Lovatt to AMEC's precise instructions to meet the varied conditions and tight turns needed under the Thames 
</li><li>The TBM steel cutting teeth are tipped with super-hard tungsten carbide and chromium plating for strength and long life 
</li><li>The TBM is an Earth Pressure-Balanced machine, which means that compressed air is used to counter-balance the 50 psi pressure exerted by the surrounding water-soaked sands and to control the amount of material that is taken away by conveyor as it is excavated. This ensures that that the tunnel is constructed to precise dimensions and reinforced safely as it progresses 
</li><li>A blend of human skill and experience and computer-controlled and CCTV technology makes sure the TBM keeps on track 
</li><li>Although she has top speed of three metres per hour, the average speed will be under two metres per hour 
</li><li>The TBM is expensive, costing nearly &pound;5 million. After the project is completed, manufacturers Lovatt will buy her back for refurbishment 
</li><li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network 
</li><li>AMEC is an international project management and services company that designs, delivers and supports infrastructure assets for customers worldwide across the public and private sectors. The company is carrying out the design, engineering and construction of the extension and its long-term maintenance within the 30-year concession period</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 2.5 km extension, part of Transport for London's (TfL) five-year &pound;10bn Investment Programme, is being designed and constructed by AMEC for Woolwich Arsenal Rail Enterprises (WARE), a joint venture between AMEC and the Royal Bank of Scotland. The";}
        
        


 