


@{ViewBag.Title = "Red, Green And Clean - Londons latest double-deckers are a UK first";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Red, Green And Clean - Londons latest double-deckers are a UK first</h1>
        <div class="content-page-press-release">
        27 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new generation of low polluting double deckers arrived in London today marking another step towards improving the Capital's air quality by reducing transport emissions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport emissions are a major cause of pollution so it is vital we introduce newer, cleaner vehicles
                            
                        </p>
                    </div>
                
            
            
            <p>The 39 British-built Alexander Dennis double-decker buses are being delivered to London General bus company creating the first UK fleet that meets higher 'Euro 4' standards of emissions. </p>
<p>The Enviro400-model buses will be delivered and operational over the next three months. </p>
<p>The new buses are almost twenty per cent more fuel efficient than their fore-runners, generating eighteen per cent fewer carbon dioxide emissions and reducing damaging nitrogen oxides pollutants by more than 46 per cent. </p>
<p>The vehicles are in line with Transport for London's ongoing programme to test innovative technology and further reduce emissions from its bus fleet, which is already the cleanest in the UK. </p>
<p>This is in line with the Mayor's Air Quality, Energy and Noise strategies.</p>
<p>Ken Livingstone said: "London's bus fleet already has the cleanest engines in the country and these new London buses are the first in the UK that meet even tougher pollution targets.</p>
<p>"They will help to cut London's transport emissions and so contribute to tackling climate change whilst improving the Capital's air quality.</p>
<p>"I am determined to improve London's air quality as air pollution affects the quality of life of a large number of Londoners causing around 1,000 premature deaths and a similar number of hospital admissions every year. </p>
<p>"Transport emissions are a major cause of pollution so it is vital we introduce newer, cleaner vehicles."</p>
<p>Mike Weston, Operations Director for London Buses, said: "This new delivery of buses is in line with the massive efforts that have been made in recent years to clean London's transport fleet with both the bus and black cab fleets investing in cleaner technology. </p>
<p>"The rejuvenation of the bus fleet in London has given the bus industry new impetus and new opportunities to develop technologies that will bring real benefits not only to London but also to other cities in the UK and beyond."</p>
<p>
<h2>Cleaner environment</h2>
<p>
<p>More than 60 per cent of the current London bus fleet already meets Euro 3 emissions standards with the remainder achieving Euro 2 standards. </p>
<p>All Euro 2 and Euro 3 buses have been fitted with particulate filters, which reduce emissions of fine particles, carbon monoxide and hydrocarbons from the vehicle exhaust by over 90per cent. </p>
<p>All of the new buses will be equipped with an air chill system, 'kneeling' facility to assist boarding, a centre-door wheelchair ramp, a ten camera CCTV system, a fifteen-inch plasma security screen, and tinted windows which help to cool the vehicle.</p>
<p>There are 41 seats on the upper deck of the bus with a further 23 seats, with standing room for 24 passengers, on the lower deck along with space for a wheelchair passenger or unfolded buggy.</p>
            <ul>
<li>This batch of buses will enter service on Route 196 - Norwood Junction - Elephant &amp; Castle after driver training is completed 
</li><li>London also has six hybrid buses which are cleaner, quieter and use less fuel than a standard diesel bus, leading to a substantial reduction in carbon dioxide emissions 
</li><li>London also has three zero emission hydrogen fuel cell buses. More are due to join the fleet by 2010 when London Buses will run an entire route with these vehicles</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 39 British-built Alexander Dennis double-decker buses are being delivered to London General bus company creating the first UK fleet that meets higher 'Euro 4' standards of emissions. The Enviro400-model buses will be delivered and operational over the";}
        
        


 