


@{ViewBag.Title = "Rotherhithe Tunnel to close during utility work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel to close during utility work</h1>
        <div class="content-page-press-release">
        28 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Rotherhithe Tunnel is to close from early morning on Saturday, May 6 for up to three weeks while gas mains repairs are carried out at the junction of the A13 and Branch Road.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London Traffic Control Centre will monitor and advise road users of alternative routes
                            
                        </p>
                    </div>
                
            
            
            <p>Consultation with police and local authorities in Southwark and Tower Hamlets has determined that closing the tunnel in both directions will have the least impact on the travelling public during the works. </p>
<p>Transport for London (TfL) will also use the closure to undertake routine maintenance which would otherwise have necessitated summer night-time closures. </p>
<p>TfL will be working closely with National Grid to ensure disruption to road users is kept to a minimum. </p>
<p>Contractors will be working extended hours within health and safety constraints. </p>
<p>The London Traffic Control Centre will monitor and advise road users of alternative routes through signage at key points leading up to the tunnel, as well as adjusting signal controls to minimise the closure's impact. </p>
<p>Information leaflets will also be distributed locally. </p>
<hr>

<p>Find out more about the Congestion Charge and why registering for FastTrack makes paying the charge online, at shops and by phone faster and easier: <a href="http://www.cclondon.com/">www.cclondon.com</a> </p>
<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>
            <ul>
<li>Traffic will be diverted via Tower Bridge or Blackwall Tunnel</li>
<li>Local traffic for Branch Road southbound will be diverted via Butcher Row and Ratcliffe Lane (which will temporarily be made to operate one way in the eastern direction), or via Three Colt Street, Narrow Street, Spert Street and Horseferry Road<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Consultation with police and local authorities in Southwark and Tower Hamlets has determined that closing the tunnel in both directions will have the least impact on the travelling public during the works. Transport for London (TfL) will also use the";}
        
        


 