


@{ViewBag.Title = "South Wimbledon station wins LU Energy Challenge competition";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>South Wimbledon station wins LU Energy Challenge competition</h1>
        <div class="content-page-press-release">
        12 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        South Wimbledon station has won the 2005/6 London Underground (LU) Station Energy Challenge competition beating Hillingdon and Charing Cross stations into second and third place.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The efforts of stations to cut their energy use can have a dramatic impact on the total amount of energy LU uses each year
                            
                        </p>
                    </div>
                
            
            
            <p>The Bakerloo line won the Line Award and the Charing Cross group of stations won the Station Group award. The Greenford Group was runner-up.</p>
<p>The LU Station Energy Challenge is an annual competition which awards the Tube station that managed to save the most energy with a special trophy. </p>
<p>Energy saving methods such as turning off lights and escalators in engineering hours has allowed LU to dramatically reduce energy consumption.</p>
<p>Rob Lawford, Morden Group Station Manager, said: "This is a tremendous achievement for South Wimbledon station. </p>
<p>"Reducing the amount of energy that London Underground uses each year is not only cost effective, but also reduces the Tube's impact on climate change."</p>
<p>During this year's Energy Challenge, stations managed to reduce energy consumption during the year compared to five years ago by 25.5 per cent, beating a target of 20 per cent.</p>
<p>The cost of leaving one platform fluorescent light on constantly every year is &pound;56.</p>
<p>Platforms normally have about 50 fluorescent lights so the cost is &pound;2,800 per year. </p>
<p>The amount of electricity used by an escalator varies depending on how long it is and how far it rises but as a guide will cost in the region of between &pound;7,000 and &pound;12,000 each year. </p>
<p>The efforts of stations to cut their energy use can have a dramatic impact on the total amount of energy LU uses each year.</p>
<p>A new LU Station Energy Challenge started in the first week of April. Stations are being asked to reduce energy consumption by 22.5 per cent by the end of the 2006/7 financial year compared to the position five years previously.</p>
            <ul>
<li>Transport for London is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in London Underground as we work to transform the Tube 
</li><li>The Charing Cross Group is made up of Elephant &amp; Castle, Lambeth North and Charing Cross stations 
</li><li>The Greenford Group is made of West Ruislip, Ruislip Gardens, South Ruislip, Hanger Lane, Ealing Broadway, Northolt, Greenford, Perivale, West Acton, North Acton and East Acton stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Bakerloo line won the Line Award and the Charing Cross group of stations won the Station Group award. The Greenford Group was runner-up.The LU Station Energy Challenge is an annual competition which awards the Tube station that managed to save the";}
        
        


 