


@{ViewBag.Title = "TfL announces new Managing Director of Surface Transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces new Managing Director of Surface Transport</h1>
        <div class="content-page-press-release">
        27 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        David Brown, currently the Chief Executive for London Central and London General, two major bus operators who operate London Buses contracts, is the new Managing Director of Surface Transport at Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The passenger growth on London's buses has been phenomenal over the last few years and my job is to ensure that this continues
                            
                        </p>
                    </div>
                
            
            
            <p>London Central and London General are consistently at the top of London Buses' quality league tables. </p>
<p>They are part of the Go-Ahead Group where David is also an advisor to the Main Board.</p>
<p>David has 23 years experience of transport in London and began his career as a trainee with London Transport in 1983.</p>
<p>During this time he undertook a variety of roles including conductor, bus driver and inspector, and he was later the General Manager for a number of bus depots in west London. </p>
<p>In 1994 he was part of the MEBO team which purchased CentreWest, one of the subsidiary companies of London Buses on privatisation. </p>
<p>He then became, in 1996, the Managing Director of the Berks Bucks Bus Company, but was also operating bus contracts in London. </p>
<p>He moved back into London full time as Operations Director for London Central / London General in 1998.</p>
<p>He was a member of the London First Roads Group looking at better management of the road network in London and has also taken an active interest in the policing of transport and the relationship with the Metropolitan Police Service, both issues will be key areas of responsibility in his new job at TfL.</p>
<p>David Brown said, "The passenger growth on London's buses has been phenomenal over the last few years and my job is to ensure that this continues and that the quality of operation improves even further. </p>
<p>"I am excited by the broad range of my new job and how the various components, when brought together, will bring improved transport provision for Londoners."</p>
<p>As well as London Buses, as Managing Director of Surface Transport, David will be responsible for: Streets Management; the Congestion Charge; Taxi and Private Hire Licensing; London Trams; Dial-a-Ride; London River Services; Victoria Coach Station and TfL's corporate interest in Transport Policing and Enforcement.</p>
<p>David will be taking up the post in the summer. He is married with two children and lives in west London.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Central and London General are consistently at the top of London Buses' quality league tables. They are part of the Go-Ahead Group where David is also an advisor to the Main Board.David has 23 years experience of transport in London and began his";}
        
        


 