


@{ViewBag.Title = "TfL keeps London moving on Marathon day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL keeps London moving on Marathon day</h1>
        <div class="content-page-press-release">
        12 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will help runners and spectators be first to the line for the Flora London Marathon on Sunday, 23 April.
        
    </div>



 <div class="on-this-page">
<p>TfL is providing free travel for all runners and officials on the Tube until 5pm (by showing official Marathon tabard or race number) and to clear the way for participants, buses will be diverted and some roads closed. </p>
<p>Diversions and roads closures will be for as short a time as possible to minimise inconvenience to users. </p>
<p>DLR will allow any runners that have to drop out to travel free.</p>
<p><strong>London Buses</strong><br>Start times vary by route but across south east London diversions will start to take affect from 06.30 on the following bus routes:<br>1, 42, 47, 51, 53, 54, 78, 89, 96, 99, 100, 108, 122, 161, 177, 178, 180, 188, 199, 202, 225, 286, 291, 344, 380, 381, 386, 469, 472, 486, C10, P12 and RV1.</p>
<p>These are expected to finish by 13.00, however diversions in the Woolwich and Greenwich areas should finish by 11.00.</p>
<p>In central London and the Isle of Dogs diversions will take effect between 07.00 and 19.00 on the following routes:<br>3, 11, 12, 15, 24, 29, 53, 77A, 78, 88, 91, 100, 115, 148, 159, 211, 344, 453, RV1, D3, D7, D6 and D8. Route 277 will be diverted between 08.00 and 17.00.</p>
<p><strong>DLR</strong><br>A modified service will operate on all routes from 07.00 to 14.30. </p>
<p>From 14.30, a normal Sunday service will operate until closedown at around 23.30.</p>
<p><strong>07.00-10.00:</strong> </p>
<ul>
<li>Bank-Lewisham, every five minutes, except before 08.00 when trains operate every 10 minutes </li>
<li>Tower Gateway-Lewisham, every 10 minutes </li>
<li>Stratford-West India Quay, every 10 minutes </li>
<li>Beckton-Poplar, every 10 minutes </li>
<li>King George V-Canning Town, every 10 minutes</li></ul>
<p><strong>10.00-14.30:</strong></p>
<ul>
<li>Bank-Lewisham, every five minutes </li>
<li>Tower Gateway-Lewisham, every five minutes </li>
<li>Stratford-West India Quay, every 10 minutes </li>
<li>Beckton-Poplar, every 10 minutes </li>
<li>King George V-Canning Town, every 10 minutes.This provides a two and a half minutes frequency service on the busiest Greenwich to Shadwell marathon section</li></ul>
<p><strong>Nearest stations for spectators:<br></strong>Westferry;Limehouse; Canary Wharf; Crossharbour; Mudchute; Cutty Sark. <br>Please note Cutty Sark and Greenwich are likely to get busy, and Cutty Sark may need to close between 09.30 and 12.00.<br>The Greenwich Foot Tunnel will be closed southbound between Island Gardens and Greenwich from 10.00 to 12.00</p>
<p><br><strong>Road Closures</strong><br>The route and approach roads south of the Thames together with Victoria Embankment and Whitehall will be closed at 07.00. Remaining roads north of the Thames will close at 08.00.<br><br>There is a staged road-reopening programme starting from approximately 10.30 and it is scheduled that the route (except The Mall which will remain closed), will be fully re-opened by 19.00.</p>
<p><br><strong>London Underground</strong><br>LU has produced an easy-to-use leaflet to help you follow the race, find the stations near the best viewpoints and avoid the busy crowds. </p>
<p>These leaflets are available at all LU stations and can also be downloaded from the TfL website.</p>
<p>There is also track improvement work planned on the Underground during Marathon weekend, which may affect your journey. </p>
<p>On race day there is track improvement work on the Central and District lines, and there will be no service between:</p>
<ul>
<li>Central line: West Ruislip &amp; Ealing Broadway to Marble Arch and Leytonstone - Newbury Park eastbound </li>
<li>District line: Richmond to Turnham Green - until 09.00 only (due to Network Rail engineering work). During these closures, please use the following alternatives, and allow extra time for your journey.</li></ul>
<p>For the Central line closure between West Ruislip/Ealing Broadway and Marble Arch, there will be three rail replacement bus services</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is providing free travel for all runners and officials on the Tube until 5pm (by showing official Marathon tabard or race number) and to clear the way for participants, buses will be diverted and some roads closed. Diversions and roads closures will";}
        
        


 