


@{ViewBag.Title = "TfL awards Stratford Station design contract to Jacobs Babtie";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL awards Stratford Station design contract to Jacobs Babtie</h1>
        <div class="content-page-press-release">
        27 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has confirmed the award to Jacobs Babtie of the detailed design contract for the Stratford Station Upgrade project.
        
    </div>



 <div class="on-this-page">
<p>The project is being managed by TfL on behalf of the Stratford City Development Partnership, Department for Transport, Network Rail and the Olympic Delivery Authority who are funding the design contract.</p>
<p>Enhancements to Stratford Station will be designed to meet the needs of the Stratford City Development and Olympic and Paralympic spectators travelling to venues in East London, as well as creating legacy benefits for passengers and the local community. </p>
<p>The station enhancements include:</p>
<ul>
<li>re-opening a disused subway to create additional access to rail platforms 
</li><li>new lifts to all platforms 
</li><li>new Westbound Central Line platform 
</li><li>new ticket gateline 
</li><li>platform widening to increase capacity 
</li><li>temporary Olympic footbridge </li></ul>
<p>Jacobs, on behalf of Stratford City Development Partnership, will also design new stairs from the existing western subway and platform de-cluttering to increase platform capacity as part of their planning obligation to improve the local transport. </p>
<p>The project will improve accessibility for all passengers and the interchange between London Underground, mainline rail, bus, walking and cycling facilities. </p>
<p>The works are planned to commence in 2007, completing in late 2010. </p>
<p>Together with new DLR platforms as part of the conversion of the North London Line to DLR from Stratford Station to the International Station the project will provide a maximum station capacity during the 2012 Games in excess of 120,000 passengers in the three hour morning peak period.</p>
<p>
<h2>Key transport hub</h2>
<p>
<p>Michael Clarke, TfL Interim Director of Major Projects, said:"This is an important step for a project that is vital to supporting the 2012 Games and the regeneration of East London. </p>
<p>"This is a complex project with many partners and TfL's role of programme managing the design and construction is fundamental to assuring the upgrade of this key transport hub is delivered on time for the 2012 Olympic and Paralympic Games."</p>
<p>Hugh Sumner, Director of Transport at the Olympic Delivery Authority, said: "An enhanced Stratford Station is a key part of our plans for getting spectators to and from the Olympic Park as well as on to Excel, Greenwich and Central London competition venues during the 2012 Games.</p>
<p>"We will continue to work closely with TfL and our transport delivery partners to ensure that London will be ready to host an outstanding 2012 Games." </p>
            <ul>
<li>Stratford Station is one of the busiest interchanges outside Central London, an integral transport hub that will also serve the London 2012 Olympic and Paralympic Games.  <br>A partnership including TfL, Stratford City Development Partnership, DfT and Network Rail has developed a package of works to enhance Stratford Station to meet future demand</li>
<li>Approximately 37,000 passengers currently travel through Stratford Station during an average 3 hour morning peak period.  This is expected to increase significantly once land use development plans have been realised in East London.  During the 2012 Games it is anticipated that an additional 63,000 spectators will use Stratford Station to attend the Olympic venues during the morning peak<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The project is being managed by TfL on behalf of the Stratford City Development Partnership, Department for Transport, Network Rail and the Olympic Delivery Authority who are funding the design contract.Enhancements to Stratford Station will be designed";}
        
        


 