


@{ViewBag.Title = "Transport for London Easter services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London Easter services</h1>
        <div class="content-page-press-release">
        11 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced details of London travel arrangements over the Easter weekend, Good Friday 14 April to Easter Monday 17 April.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) will operate a Saturday service on Good Friday. </p>
<p>Normal services will then operate on Easter Saturday and Sunday. On Easter Monday a Saturday service will operate. </p>
<p>However due to planned engineering work the following services will be suspended over the Easter weekend. Passengers can use alternative Underground routes and local bus services.</p>
<p><strong>Central line</strong><br>There will be no service between Leytonstone and Newbury Park eastbound. Wanstead Station will be closed. Valid London Underground tickets will be accepted on route 66 between Leytonstone and Newbury Park, and extra buses will be running on this route.</p>
<p><strong>Circle line</strong><br>There will be no service between Baker Street and Liverpool Street, due to redevelopment work at King's Cross, and a reduced service between Liverpool Street and Baker Street (via Victoria). A rail replacement bus service will operate between Baker Street and Liverpool Street during early morning and late night periods.</p>
<p><strong>District line</strong><br>On Easter Sunday due to Network Rail engineering work, buses will replace trains between Turnham Green and Richmond until 9am. LU tickets will be accepted on South West Trains services between Waterloo and Richmond.</p>
<p><strong>Hammersmith &amp; City line</strong><br>There will be no service between Edgware Road and Barking, and a reduced service between Hammersmith and Edgware Road, due to redevelopment work at King's Cross.</p>
<p><strong>Metropolitan line</strong><br>There will be no service between Baker Street and Aldgate due to redevelopment work at King's Cross.</p>
<p><strong>Northern line</strong><br>Buses will replace trains between Golders Green and Edgware due to Tube Lines carrying out track replacement work. </p>
<p><strong>Victoria line</strong><br>Buses will replace trains between Stockwell and Brixton due to Metronet carrying out station modernisation work. </p>
<p><strong>Waterloo &amp; City line</strong><br>The line is closed until September 2006 for a line upgrade.</p>
<p>Stations closed, other than those where engineering work will be carried out, are Shoreditch Station, which will be closed on Good Friday and Easter Monday. </p>
<p>Cannon Street Station will be open from 07.30-19.30 on Good Friday and Easter Monday.</p>
<p>On London Buses, on Good Friday, routes 931, 953, 965 and 969 will operate a normal Friday service and route 477 will operate to a public holiday timetable.</p>
<p>All other buses will operate a Saturday service on Good Friday, except for 310 (no Saturday service within Greater London), 402, 409, 500, 514, and 515, which will not be running. </p>
<p>On Saturday 15 April, a normal Saturday service will operate on all routes. </p>
<p>On Easter Sunday 16 April, a normal Sunday service will operate on all day and night routes, except on Route N159 on the night Sunday 16/Monday 17 April. </p>
<p>
<h2>Easter travel</h2>
<p>
<p>A special service incorporating three additional morning journeys from New Addington, Homestead Way to Thornton Heath Pond will be running to coincide with the later start of the Tramlink services.</p>
<p>On Easter Monday 17 April, a normal Sunday service will be provided on bus routes. </p>
<p>Routes 903, 917, 965 and 969, which normally run on Mondays, will not be running.</p>
<p>A Saturday service will operate on Good Friday and Easter Monday on the Docklands Light Railway and Croydon Tramlink. </p>
<p>Normal services will run on Easter Saturday and Sunday. </p>
<p>All River services will run a normal service throughout the weekend except for: </p>
<ul>
<li>Thames Executive Charters running from Putney to Blackfriars which will not be operating on Good Friday or Easter Monday. (They do not operate at weekends) 
</li><li>Thames Clippers, the Greenwich - Savoy route will operate on the Saturday/Sunday/Public Holiday timetable on Good Friday and Easter Monday. This means there
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, over half of that in the Tube</li></ul>

            
            

        </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) will operate a Saturday service on Good Friday. Normal services will then operate on Easter Saturday and Sunday. On Easter Monday a Saturday service will operate. However due to planned engineering work the following services will";}
        
        


 