


@{ViewBag.Title = "Tube to run later at weekends";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube to run later at weekends</h1>
        <div class="content-page-press-release">
        28 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London Ken Livingstone today announced that the Tube is to run later at weekends from late May 2007. <BR><BR>Find out more about the consultation
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need to strike the right balance between late evening and early morning Tube users
                            
                        </p>
                    </div>
                
            
            
            <p>The Tube will run half an hour later on Friday and Saturday nights and start one hour later on Saturday mornings. </p>
<p>This means that last Tubes will leave central London stations at around 01:00 instead of 00:30 on Friday and Saturday nights.</p>
<p>Mayor Ken Livingstone said: "We know the majority of Londoners would like the Tube to run later at weekends, so they can travel home safely after a night out at the theatre or a club.</p>
<p>"This announcement today means that next summer the Tube will run later on Friday and Saturday nights to make it easier for Londoners to get home after a night out, alongside the other night time travel options we have expanded, such as the night bus network and licensing the mini-cab trade. </p>
<p>"A significant minority rely on the Underground to get to work early on Saturday and Sunday mornings. This package ensures the Tube runs later on Friday and Saturday nights whilst protecting the needs of early morning commuters."</p>
<p>Richard Parry, London Underground (LU) Strategy and Service Development Director, said: "Most Tube users and Londoners want a later weekend Tube. But we need to strike the right balance between late evening and early morning Tube users.</p>
<p>"The decision to run the Tube for half an hour later on Friday and Saturday nights and one hour later on Saturday mornings from late May 2007 strikes that right balance."</p>
<p>With the Tube starting one hour later on Saturday mornings, trains will arrive in central London at around 07:00 from the middle of next year. </p>
<p>Sunday morning services would remain unchanged from the present, where trains reach central London around 07:30.</p>
<p>
<h2>Similar staffing</h2>
<p>
<p>This will allow essential maintenance to track, trains and signals that can only be carried out at night when the network shuts down to still take place.</p>
<p>A small group of stations currently close earlier than others and will continue to do so. </p>
<p>These include stations on the Metropolitan line north of Harrow-on-the-Hill, the Bakerloo line north of Queen's Park, intermediate stations on the Central line between Hainault to Woodford via Roding Valley as well as Heathrow Terminal 4 (reopens September 2006), Kensington Olympia and Cannon Street. </p>
<p>Current <a href="/gettingaround/1129.aspx">first and last train information</a> for each Underground line is available to passengers.</p>
<p>On Friday and Saturday nights London Underground plans to keep staffing levels similar to current arrangements for the final hour.</p>
<p>
<h2>Transport links</h2>
<p>
<p>LU is also working with the British Transport Police to ensure that enough officers are available to police the Tube in the later half hour.</p>
<p>LU is working with colleagues in Transport for London (TfL) looking at the impact that changes to the opening hours of the Tube during the weekend will have on bus services.</p>
<p>Major improvements have been made to the bus network in the past five years, and services are now more frequent and reliable. Many routes already run all night and are available in the early hours.</p>
<p>Where buses don't run all night, TfL will be reviewing bus timetables for late night connections between last Tube and bus, especially at key interchanges. </p>
<p>
<p>TfL will also examine whether any bus service changes need to be made on Saturday mornings to cater for increased demand or to create the right transport links.</p>
<p>As the new Tube timetable will not come into effect until late May 2007, more detailed travel information will be available closer to the time.</p>
<p>As LU uses Network Rail tracks in a number of places, the decision to introduce later weekend Tube services must coincide with national rail timetable changes. </p>
<p>In addition, a significant amount of logistical work to adjust staffing rosters, nightly engineering works and rolling stock movements must a</p>
            <ul>
<li>The Mayor made a commitment in his manifesto to investigate later Tube services on Friday and Saturday nights 
</li><li>Between 22 February and 22 April 2005, LU consulted with Londoners, Tube users and all interested parties for their views on whether the Tube should run for one hour later on Friday and Saturday nights 
</li><li>The Consultation Report and Executive Summary, "Should the Tube run later at weekends?", is available from the <a href="http://www.tfl.gov.uk/laterweekendtube">TfL website</a> 
</li><li>Around two-thirds of those who currently use the Tube during the first hour of operation over the weekend do so on Sunday morning. Most of these people are either travelling to and from work or travelling to make other transport connections, such as national rail services at central London stations or flights from London's airports 
</li><li>Currently, the last trains from the West End at weekends are around 00:30 and reach their termini between 01:00 and 01:30 depending on location. Services begin again at around 05:30 on Saturday and 07:00 on Sunday</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tube will run half an hour later on Friday and Saturday nights and start one hour later on Saturday mornings. This means that last Tubes will leave central London stations at around 01:00 instead of 00:30 on Friday and Saturday nights.Mayor Ken";}
        
        


 