


@{ViewBag.Title = "United Arab Emirates Embassy settles Congestion Charge fees";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>United Arab Emirates Embassy settles Congestion Charge fees</h1>
        <div class="content-page-press-release">
        06 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Embassy of the United Arab Emirates (UAE) has agreed that its diplomats in London should pay the Congestion Charge, and has reached a deal to clear a backlog of charges.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All Londoners will welcome this settlement with the Embassy of the United Arab Emirates
                            
                        </p>
                    </div>
                
            
            
            <p>After discussions with Transport for London (TfL), the UAE has paid &pound;99,950 for outstanding Congestion Charge fines accrued by the Embassy from February 2003 to March 2006. </p>
<p>In a letter to TfL, the Embassy said: "I can assure you that every effort will be made in the future for all diplomats working for this Embassy to pay any Congestion Charges as and when they occur."</p>
<p>The Mayor of London Ken Livingstone said: "All Londoners will welcome this settlement with the Embassy of the United Arab Emirates and, in particular, their commitment to comply with the Congestion Charging scheme in the future.</p>
<p>"The Congestion Charge is designed to reduce congestion in the busiest areas of the Capital. </p>
<p>"Those embassies, such as that of the United States, which flout the laws of this country and misuse diplomatic immunity to evade the charge are enjoying the benefits of reduced congestion but contributing nothing."</p>
<p>"British diplomats respect US law when in the US. They pay American tolls on bridges and roads. </p>
<p>"The US Embassy should accept the advice of the British government and recognise that by trying to ignore this country's laws they do nothing but damage their standing in the eyes of London's citizens. </p>
<p>"I hope they will now take a leaf from the United Arab Emirates and understand that as the richest and most powerful country in the world they can well afford to respect this country's laws."</p>
<p>Malcolm Murray-Clark, Director of Congestion Charging, said: "The Congestion Charging scheme gives no privileges to any VIPs, so we do not see why diplomats should not pay. </p>
<p>"The UAE has now joined the majority of other countries who accept this is a legitimate charge."</p>
<p>
<p>
<hr>

<p>Find out more about the Congestion Charge and why registering for FastTrack makes paying the charge online, at shops and by phone faster and easier: <a href="http://www.cclondon.com/">www.cclondon.com</a> </p>
<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>
            <ul>
<li>Both the Government and TfL have received consistent legal advice which says that diplomats are not exempt from paying the Congestion Charge. We have the support of the Foreign and Commonwealth Office and eminent members of HM Queen's Counsel 
</li><li>In November last year, the Foreign Secretary, the Rt Hon Jack Straw MP told the House of Commons in answering a written question that: "We informed all missions by Note Verbale in March 2002 of our sustained view that there were no legal grounds to exempt diplomatic missions from payment of the Congestion Charge. Since then, in formal and informal exchanges, we have informed missions of our view that the Congestion Charge does not constitute a form of direct taxation under the Vienna Convention, but is a charge analogous to a motorway toll, and that they are expected to pay" 
</li><li>On 24 January 2006, Lord Triesman, the Parliamentary Under-Secretary of State within the Foreign Office, told the House of Lords:"My Lords, we take every opportunity to remind diplomatic missions to meet their obligations to comply with United Kingdom law and pay promptly any fines that they incur. Following the annual Written Ministerial Statement on parking and Congestion Charge penalties on 12 December, we will now formally approach the heads of mission of the top 10 offenders in each category to find out what steps they are taking to pay. We will then take further action as appropriate" 
</li><li>All UK missions are expected to pay any road tolls and any parking charges 
</li><li>Support for this approach has come from both this country and the US 
</li><li>In an editorial on 31 March 2006, The New York Times said: "We don't buy the idea that diplomats are immune to the surcharge". The New York Times editorial concludes: "Mr Livingstone is certainly within his rights to demand payment, which may now amount to hundreds of thousands of dollars, including fines"</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "After discussions with Transport for London (TfL), the UAE has paid &pound;99,950 for outstanding Congestion Charge fines accrued by the Embassy from February 2003 to March 2006. In a letter to TfL, the Embassy said: 'I can assure you that every effort";}
        
        


 