


@{ViewBag.Title = "Westminster station is ship-shape with new Royal Navy - London Underground mural";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Westminster station is ship-shape with new Royal Navy - London Underground mural</h1>
        <div class="content-page-press-release">
        27 April 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new mural celebrating the partnership between Westminster station and the Royal Navy frigate HMS Westminster was unveiled at the station today (April 27 2006) by London Underground Chief Operating Officer, Mike Brown, and the ship's captain, Commander Andrew Betton.
        
    </div>



 <div class="on-this-page">
<p>The photographic design, measuring 3m by 1.5m, is situated in the central ticket hall of Westminster station, and features two of the station's staff, Maria Sheikh and Danny Molloy, who have both visited the Type 23 frigate and her crew.</p>
<p>George McInulty, Service Director for the Jubilee, Northern and Piccadilly lines said: "We are very proud of our association with HMS Westminster and feel that both ship and station display the best of modern engineering and team work.</p>
<p>"This mural is a wonderful way to update and capture the partnership between our great organisations and will be a welcome and permanent addition to the ticket hall at Westminster." </p>
<p>Two London Underground "Westminster" roundel signs hang on board HMS Westminster - in the mess room, where her crew relax and eat their meals, and on the main concourse of the ship.<br><br>In Westminster Tube station, as well as the new mural, the ship's crest hangs in the ticket hall. Crew members have also made several visits to the station where several have busked in uniform for charity.</p>
<p>Commander Betton said: "As a modern, world class warship HMS Westminster is delighted to be associated with Westminster station.</p>
<p>"This mural acknowledges our close friendship and highlights the success of state of the art technology and first class people working together to serve the British public.</p>
<p>"The London Underground sign which hangs on our main concourse is probably passed by most of our crew several times a day and when we are away at sea it serves as a good memento of home."</p>
<p>Peter Bashford, Duty Station Manager at Westminster Station said: "Many of us have enjoyed visiting the ship and found that things were run in a very similar way there as we both work in enclosed environments and have about the same numbers of staff.</p>
<p>"One of the most obvious similarities was the fire systems which are an essential and closely monitored part of our safety systems. </p>
<p>"We have a really good relationship with the crew who have visited us at the station as well and now feel we have a real sense of camaraderie with them."</p>
<p>Westminster station and HMS Westminster began their affiliation in 2001.<br></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in London Underground</li>
<li>Westminster station was rebuilt by London Underground and re-opened in December 1999 as the flagship station of the Jubilee line</li>
<li>HMS Westminster, which is based in Portsmouth, was launched on 4 February 1992 and has a crew of 180. The staff working in the Westminster and Waterloo group of stations, which are managed together, number around 185.</li>
<li>The ship has travelled to the North Atlantic and West Africa, and this summer she is due to sail to the Indian Ocean and the Far East where she will continue her role in global maritime policing, and supporting counter terrorism operations. Her motto is "For Nation and for Glory" and she has a mascot, Duke the Bear</li>
<li>The mural was made by AJ Wells, London Undergound's official sign makers, and consists of several layers of photographs set in vitreous enamel through a silk screening process.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The photographic design, measuring 3m by 1.5m, is situated in the central ticket hall of Westminster station, and features two of the station's staff, Maria Sheikh and Danny Molloy, who have both visited the Type 23 frigate and her crew.George McInulty,";}
        
        


 