
    
  



@{ViewBag.Title = "London's secret gardens";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">London's secret gardens</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London's secret gardens</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Take a break from the busy streets of the city to discover some of London's secret gardens.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/gardens-leisure-cycling-route.jpg" alt="Holland Park" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Hire a Santander Cycle&nbsp;</h2>

<p>You can use your own&nbsp;cycle or <a href="/modes/cycling/santander-cycles/how-it-works">hire a Santander Cycle</a> for this route using our app or <a href="/modes/cycling/santander-cycles/find-a-docking-station">docking stations</a>&nbsp;on the way. Drop off your cycle, enjoy the sights and then pick up another cycle.&nbsp;&nbsp;</p>

<h2>Start the route&nbsp;</h2>

<p>The route is split into four parts. You can also <a href="https://www.google.com/maps/d/viewer?mid=1oTQSJcCAtUMM_HqsKKtsKrVL2bA&amp;ll=51.50207882842867%2C-0.18155000000001564&amp;z=14">see the route on a map</a>.&nbsp;</p>

<h3>Ladbroke Grove to Holland Park&nbsp;</h3>

<p>You can hire a Santander Cycle from Ladbroke Grove central docking station.&nbsp;</p>

<p>1. Follow the road and take the third left onto Elgin Crescent&nbsp;</p>

<p>2. Take the next left onto Rosemead Road&nbsp;</p>

<h4>See Rosemead Gardens&nbsp;</h4>

<p>In the film Notting Hill, Julia Roberts and Hugh Grant hop over the fence to walk around the garden. Unfortunately, this is a private garden, but you can still catch a glimpse of the famous location through the gate.&nbsp;</p>

<p>3. At the end of the road, turn right onto Landsdowne Road and then left onto Landsdowne Rise&nbsp;</p>

<p>4. At the end, turn right onto Landsdowne Crescent and follow the road to the end&nbsp;</p>

<p>5. Turn right onto Ladbroke Grove and then follow the road to the end&nbsp;</p>

<p>6. Turn right onto Holland Park Avenue and then take the second left onto Holland Walk. You'll need to get off your&nbsp;cycle and walk on the pavement</p>

<p>7. Follow the walk until you see the right turn into Holland Park. You can't cycle through the park so you can dock your&nbsp;cycle here</p>

<h3>Holland Park to Kyoto Garden&nbsp;</h3>

<p>1. Inside the park, turn right and then left&nbsp;</p>

<p>2. Follow the path towards the caf&eacute; and then turn right into Kyoto Garden&nbsp;</p>

<h4>See Kyoto Garden&nbsp;</h4>

<p>Watch the beautiful waterfalls, spot peacocks and carp in the serene ponds and relax in the greenery in this traditional Japanese garden.&nbsp;</p>

<h3>Kyoto Garden to Hyde Park&nbsp;</h3>

<p>1. Go back towards Holland Walk and follow it towards Kensington High Street&nbsp;</p>

<p>2. Turn left onto the street and follow it until you see Kensington Palace Gardens&nbsp;</p>

<p>3. Turn left and follow the road, then turn right onto Palace Avenue and follow it until you get to Hyde Park&nbsp;</p>

<h3>Hyde Park to Chelsea Physic Garden&nbsp;</h3>

<p>1. Follow the cycle path through the park and turn left when you reach West Carriage Drive&nbsp;</p>

<p>2. At the end of the drive, turn right onto North Carriage Drive&nbsp;</p>

<p>3. Turn right off the drive and onto the cycle path past Speaker's Corner</p>

<p>4. Follow the path until you leave Hyde Park&nbsp;</p>

<p>5. Go straight at Albert Gate and the traffic lights, then use the cycle lane on William Street&nbsp;</p>

<p>6. Follow the lane to continue onto Lowndes Square, Lowndes Street and then Chesham Street&nbsp;</p>

<p>7. Turn left onto Lyall Street and at the end, turn right onto Eaton Square and then Sloane Square&nbsp;</p>

<p>8. At the roundabout, go straight over to King's Road and dock your cycle at the Royal Avenue docking station&nbsp;&nbsp;</p>

<p>9. You can then walk to the Chelsea Physic Garden. Follow Royal Avenue and then turn right onto Leonard Terrace&nbsp;</p>

<p>10. At the end, turn left onto Durham Place and then continue onto Ormonde Gate&nbsp;</p>

<p>11. Turn right onto Royal Hospital Road and follow it down to the garden&nbsp;</p>

<h4>See Chelsea Physic Garden&nbsp;</h4>

<p>The oldest botanic garden in London, the <a href="https://www.chelseaphysicgarden.co.uk/">Chelsea Physic Garden</a>&nbsp;is home to 5,000 different plants.&nbsp;</p>

<h2>Related content&nbsp;</h2>

<ul>
	<li><a href="/modes/cycling/santander-cycles/community">Download the Santander Cycles app</a></li>
	<li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/independent-shops-and-markets">Independent shops and markets</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens">London's secret gardens</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">Routes for Explore London tickets</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Discover London's secret gardens by bike";}
        
            
        


 