
    
  



@{ViewBag.Title = "Routes for Explore London tickets";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Routes for Explore London tickets</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Routes for Explore London tickets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        See routes to discover London by Santander Cycle, river and the Emirates Air Line with an Explore London ticket.
        
      </div>
    
    <div class="on-this-page">
      <h2>Explore Maritime Greenwich, Canary Wharf and the Isle of Dogs&nbsp;</h2>

<p>1. Take a Thames Clippers River Bus from Westminster Pier to Greenwich Pier&nbsp;</p>

<p>2. Explore the historic Maritime Greenwich. There's lots to see including the Cutty Sark, Old Royal Naval College, National Maritime Museum and the Royal Observatory&nbsp;</p>

<p>3. Take a break and explore Greenwich Market&nbsp;</p>

<p>4. Walk through the Greenwich Foot Tunnel to the Isle of Dogs and hire a Santander Cycle at Island Gardens, using your Explore London promo code&nbsp;</p>

<p>5. Follow our cycle route (approx. 1 hour) and explore Canary Wharf and the Isle of Dogs before docking your&nbsp;cycle in Canary Wharf&nbsp;</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-dogs-leisure-route.pdf">
    <div class="document-download-text">
        <p>Isle of Dogs cycle route</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 400KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 <div>

<p>6. Enjoy some shopping at Canary Wharf before taking a Thames Clippers River Bus from Canary Wharf Pier back to central London&nbsp;</p>

<h2>Explore the Tower of London, the Docklands and Canary Wharf&nbsp;</h2>

<p>1. Take a Thames Clippers River Bus from Westminster Pier to Tower Pier&nbsp;</p>

<p>2. Walk around St Katharine Docks nearby&nbsp;</p>

<p>3. Hire a Santander Cycle from St Katharine Docks using your Explore London promo code&nbsp;</p>

<p>4. Explore the historic streets and docks of Wapping, including Tobacco Dock and Shadwell Basin following our cycle route (approx. 1-1.5 hours)&nbsp;</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/docklands-and-skyscrapers-leisure-route.pdf">
    <div class="document-download-text">
        <p>Historic Docklands and Skyscrapers cycle route</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 <div>

<p>5. Dock your&nbsp;cycle near Canary Wharf&nbsp;</p>

<p>6. Head back by River Bus to Westminster at sunset and see views of Tower Bridge, the Tate Modern, Big Ben and the Houses of Parliament&nbsp;</p>

<p>7. If your ticket includes the Emirates Air Line, you can enjoy a romantic sunset or night time flight, before returning to North Greenwich Pier and getting a River Bus back to central London&nbsp;</p>

<h2>Explore Borough Market, London Bridge, Bankside and Westminster&nbsp;</h2>

<p>1. Take a Thames Clippers River Bus from Westminster Pier to North Greenwich Pier and enjoy the <a href="https://tfl.gov.uk/modes/emirates-air-line/the-emirates-air-line-experience">Emirates Air Line Discovery Experience</a>&nbsp;</p>

<p>2. Hop on another River Bus at North Greenwich Pier and get off at London Bridge City Pier&nbsp;</p>

<p>3. Explore the riverbank area and Borough Market. There's lots to see including Hay's Galleria, City Hall, The Shard, Bermondsey Street and the Fashion and Textile Museum, Southwark Cathedral, The Golden Hinde, Roman ruins and Clink Street, Shakespeare's Globe Theatre and the Tate Modern&nbsp;&nbsp;</p>

<p>4. Enjoy a walk along the river and then cross Blackfriars Bridge&nbsp;</p>

<p>5. Hire a Santander Cycle from Tallis Street docking station near the Embankment using your Explore London promo code&nbsp;</p>

<p>6. Enjoy a leisurely riverside cycle (approx. 1 hour) back towards Westminster on Cycle Superhighway 3&nbsp;</p>
</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2>Sights to see along the Thames&nbsp;</h2>

<p>There's lots of <a href="https://www.thamesclippers.com/sightseeing-leisure/river-attractions">interesting places to visit along the river near Thames Clippers piers</a>.&nbsp;&nbsp;</p>

<h2>Related content&nbsp;</h2>

<ul>
	<li><a href="/modes/river/explore-london-tickets">Explore London tickets</a>&nbsp;</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/independent-shops-and-markets">Independent shops and markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">Routes for Explore London tickets</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Day trip and cycle route ideas for Explore London ticket holders";}
        
            
        


 