
    
  



@{ViewBag.Title = "Saturday markets";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/leisure-routes/saturday-markets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Saturday markets</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Saturday markets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Explore some of London's best Saturday markets and see sights along the way.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/portobello-road-sc.jpg" alt="Portobello Road street sign on a wall" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Hire a Santander Cycle&nbsp;</h2>

<p>You can use your own&nbsp;cycle or <a href="/modes/cycling/santander-cycles/how-it-works">hire a Santander Cycle</a> for this route using our app or <a href="/modes/cycling/santander-cycles/find-a-docking-station">docking stations</a>&nbsp;on the way. Drop off your cycle, enjoy the sights and then pick up another cycle.&nbsp;&nbsp;</p>

<h2>Start the route&nbsp;</h2>

<p>The route is split into four parts. You can also <a href="https://www.google.com/maps/d/viewer?mid=1LMwjwT_avFOK2RSMscR-gAbc-Sk&amp;ll=51.50720688953817%2C-0.1471245000000181&amp;z=13">see the route on a map</a>.&nbsp;</p>

<h3>Borough Market to Covent Garden&nbsp;</h3>

<p>Start your day by browsing through <a href="http://boroughmarket.org.uk/">Borough Market</a>&nbsp;- London's oldest fruit and vegetable market.&nbsp;</p>

<p>You can then hire a Santander Cycle from the docking station on Park Street.&nbsp;</p>

<p>1. Follow the street round to the left and at the end, turn right onto Sumner Street&nbsp;</p>

<p>2. Turn right onto Holland Street and then turn left onto Hopton Street&nbsp;</p>

<p>3. Turn right when you reach Southwark Street and turn right again after the railway bridge onto Blackfriars Road&nbsp;</p>

<p>4. Turn left when you reach Upper Ground and follow the road until you go under Waterloo Bridge&nbsp;</p>

<p>5. Take the first left and follow the cycle path to cross over the bridge&nbsp;</p>

<p>6. Continue to Wellington Street and turn left onto Tavistock Street&nbsp;</p>

<p>7. Turn right towards Covent Garden&nbsp;</p>

<h4>See Covent Garden&nbsp;&nbsp;</h4>

<p>Browse the boutique stalls, shops and even take a detour to the <a href="https://www.ltmuseum.co.uk/">London Transport Museum</a>&nbsp;at historic <a href="https://www.coventgarden.london/">Covent Garden</a>.&nbsp;&nbsp;&nbsp;</p>

<h3>Covent Garden to Trafalgar Square&nbsp;</h3>

<p>1. After the market, follow Henrietta Street. At the end, turn left onto Bedford Street&nbsp;</p>

<p>2. At the end, turn right onto the Strand and follow to the roundabout. You can also get off your&nbsp;cycle and use the pedestrian crossings&nbsp;</p>

<p>3. Take the third exit on the roundabout and then go under Admiralty Arch. You can also get off your&nbsp;cycle and use the pedestrian crossings&nbsp;</p>

<h3>Trafalgar Square to Hyde Park&nbsp;</h3>

<p>1. At the end of The Mall, turn right onto Constitution Hill to go past Buckingham Palace&nbsp;&nbsp;</p>

<p>2. Follow the road to the end and then at the roundabout, use the cycle path to go under Wellington Arch and into Hyde Park&nbsp;</p>

<h3>Hyde Park to Portobello Road&nbsp;</h3>

<p>1. In Hyde Park, follow the cycle path next to the horse track and go straight over West Carriage Drive&nbsp;</p>

<p>2. Once you pass the Round Pond, turn right onto Broad Walk&nbsp;</p>

<p>3. Follow the walk to the end and then turn left onto Bayswater Road&nbsp;</p>

<p>4. At the end of the road, go straight onto Notting Hill Gate&nbsp;</p>

<p>5. When you reach Notting Hill Gate Tube Station, turn right onto Pembridge Road. You can also get off your cycle and use the pedestrian crossing&nbsp;</p>

<p>6. Take the second exit on the roundabout to continue on Pembridge Road&nbsp;</p>

<p>7. Turn left onto Portobello Road and dock your&nbsp;cycle at Chepstow Villas&nbsp;</p>

<h4>See Portobello Market&nbsp;</h4>

<p>Stroll through <a href="http://www.portobelloroad.co.uk/">Portobello Market </a>&#45; the world's largest antiques market with over 1,000 dealers.&nbsp;</p>

<h2>Related content&nbsp;</h2>

<ul>
	<li><a href="/modes/cycling/santander-cycles/community">Download the Santander Cycles app</a></li>
	<li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets">Saturday markets</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/independent-shops-and-markets">Independent shops and markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">Routes for Explore London tickets</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Explore some of London's  best Saturday markets by bike";}
        
            
        


 