
    
  



@{ViewBag.Title = "Sporting sights";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/leisure-routes/sporting-sights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Sporting sights</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sporting sights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycle past London's famous sporting sights including Fulham and Chelsea football club, the Oval and the 2012 Olympic cycle route. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/sc-sporting-sights.jpg" alt="View of the Oval and the rest of London" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Hire a Santander Cycle&nbsp;</h2>

<p>You can use your own&nbsp;cycle or <a href="/modes/cycling/santander-cycles/how-it-works">hire a Santander Cycle</a> for this route using our app or <a href="/modes/cycling/santander-cycles/find-a-docking-station">docking stations</a>&nbsp;on the way. Drop off your cycle, enjoy the sights and then pick up another cycle.&nbsp;&nbsp;&nbsp;</p>

<h2>Start the route&nbsp;</h2>

<p>The route is split into four parts. You can also <a href="https://www.google.com/maps/d/viewer?mid=1toN5KOxIVFhQzG1rCpzyr26S9NA&amp;ll=51.478296972812835%2C-0.1713799999999992&amp;z=13">see the route on a map</a>.&nbsp;</p>

<h3>King St to Fulham FC&nbsp;</h3>

<p>You can hire a Santander Cycle from the docking station at Bridge Avenue.&nbsp;</p>

<p>1. Head south (away from King Street) towards the A4 and River Thames&nbsp;</p>

<p>2. At the end of Bridge Avenue, use the crossing over the A4&nbsp;</p>

<p>3. Continue down Bridge Avenue to the Thames Path, next to Hammersmith Bridge&nbsp;</p>

<p>4. Turn left (with the river on your right) and follow the path under Hammersmith Bridge&nbsp;</p>

<p>5. After the bridge, continue on the Thames Path until you get to Crisp Road&nbsp;</p>

<p>6. Turn right and go along the road. Turn right again when you see Riverside Studios onto the Thames Path&nbsp;</p>

<p>7. Follow the path (shared with pedestrians) back to the River Thames until you have to turn left&nbsp;</p>

<h4>See the boat race route&nbsp;</h4>

<p>This stretch of the Thames hosts the annual <a href="https://www.theboatrace.org/">boat race between Oxford and Cambridge Universities</a>&nbsp;which started in 1829.&nbsp;</p>

<p>8. Leave the Thames Path and turn right on to Rainville Road (joins onto Holyport Road)&nbsp;</p>

<p>9. At the end of the road, turn right onto Lysia Street towards the river&nbsp;</p>

<p>10. Continue on the street and take the path between the houses towards to the Thames Path&nbsp;</p>

<p>11. Follow the path to Fulham FC and turn right onto Stevenage Road&nbsp;</p>

<h4>See Fulham FC&nbsp;</h4>

<p>Founded in 1879, <a href="https://www.fulhamfc.com/">Fulham FC</a>&nbsp;has produced many great footballers including Johnny Haynes, Goerge Cohen, Bobby Robson, Rodney Marsh and Alan Mullery.&nbsp;</p>

<h3>Fulham FC to Chelsea FC&nbsp;</h3>

<p>1. Pass Fulham FC and turn right into Bishop's Park. You can use the shared path through the park. Don't use the path next to the river as cycling isn't allowed&nbsp;</p>

<p>2. Leave the park and you'll see All Saints Church. Go past the church and through the gate on the other side&nbsp;</p>

<p>3. Follow the path under Putney Bridge (the start of the Oxford Cambridge boat race)&nbsp;</p>

<p>4. Head away from the river to Station Approach. You'll see the Eight Bells pub in front, then turn right into Ranelagh Gardens&nbsp;</p>

<p>5. Continue under the bridge and then turn left at Napier Avenue&nbsp;</p>

<p>6. At the end of the avenue, turn right onto Hurlington Road</p>

<p>7. Follow the road and then turn right onto Broomhouse Lane&nbsp;</p>

<p>8. At the end, take the path (shared with pedestrians) towards the river&nbsp;&nbsp;</p>

<p>9. Follow the path along the river until you have to turn left. Then turn right onto Carnwarth Road&nbsp;</p>

<p>10. Follow the road and then turn right back towards the river until you reach Wandsworth Bridge&nbsp;</p>

<p>11. If you can, get off your&nbsp;cycle and cross Wandsworth Bridge&nbsp;</p>

<p>12. Turn right onto Townmead Road and take the first exit at each of the roundabouts then continue along the road&nbsp;</p>

<p>13. At the Chelsea Harbour barrier, turn left onto Imperial Road&nbsp;</p>

<p>14. Follow the road and then turn left onto Harwood Terrace and then keep going onto Bagleys Lane&nbsp;</p>

<p>15. Turn right at New King's Road/A308 and then the first left onto Harwood Road/B318&nbsp;</p>

<p>16. Follow the road and then turn right onto Moore Park Road&nbsp;</p>

<p>17. Turn right onto Waterford Road and then take&nbsp;the first left to rejoin Moore Park Road&nbsp;</p>

<p>18. At the end of the road, turn left onto Britannia Road and follow it to the end&nbsp;</p>

<h4>See Chelsea FC&nbsp;</h4>

<p>Founded in 1877, <a href="https://www.chelseafc.com/en">Chelsea FC</a>&nbsp;won the UEFA Champions League in 2012 and the Europa League in 2013.&nbsp;</p>

<p>19. Turn right onto Fulham Road/A304. You'll pass Stamford Gate (another entrance to Chelsea FC). You can't take&nbsp;cycles past the barrier&nbsp;</p>

<p>20. Follow Fulham Road&nbsp;&nbsp;</p>

<h4>See the Olympic race route&nbsp;</h4>

<p>In 2012, the 240km race began at The Mall, passed through central London then went&nbsp;out to Surrey and back.&nbsp;</p>

<h3>Chelsea FC to Battersea Park&nbsp;</h3>

<p>1. Turn right onto Hortensia Road, follow the road and then turn right again onto King's Road&nbsp;</p>

<p>2. At the end of the road, turn left onto Lots Road&nbsp;</p>

<p>3. At the roundabout, take the first exit and stay on Lots Road&nbsp;</p>

<p>4. Follow the road and then turn right onto Cremorne Road/A3220. You can either cycle on the road or use the shared cycle path&nbsp;</p>

<p>5. Follow Cremorne Road onto Cheyne Walk&nbsp;</p>

<p>6. At the end of Cheyne Walk, get off your&nbsp;cycle and use the pedestrian crossing over Chelsea Embankment/A3212 onto Albert Bridge Road&nbsp;</p>

<p>7. Follow the road across the river and turn left at Albert Gate into Battersea Park&nbsp;</p>

<h3>Battersea Park to Oval&nbsp;</h3>

<p>1. Go through Battersea Park along Carriage Drive North&nbsp;</p>

<p>2. At the roundabout take the second exit onto Carriage Drive East&nbsp;</p>

<p>3. Follow the drive to the end and then turn left onto Carriage Drive South&nbsp;</p>

<p>4. At the roundabout, take the second exit onto Prince of Wales Drive&nbsp;</p>

<p>5. At the end, turn left onto Battersea Park Road/A3205&nbsp;</p>

<p>6. Go over the railway bridge until you reach a second set of traffic lights. Get off your cycle and cross the road towards Thessaly Road&nbsp;</p>

<p>7. Follow the road and then turn left onto Deeley Road&nbsp;</p>

<p>8. At the end, turn left onto Belmore Street and follow the street to the&nbsp;end&nbsp;</p>

<p>9. Turn left onto Wandsworth Road/A3036 and then turn right onto Lansdowne Way&nbsp;</p>

<p>10. Turn left into Lansdown Gardens and take the second exit at the roundabout&nbsp;</p>

<p>11. Turn right onto Thorne Road and cross over South Lambeth Road onto Aldebert Terrace&nbsp;</p>

<p>12. Turn left at St Stephen's Terrace and continue onto Bolney Street&nbsp;</p>

<p>13. Turn left onto Dorset Street and then right onto Meadow Road&nbsp;</p>

<p>14. At the end, take the cycle path on the left through Ashmole Estate and onto Kennington Oval/A202&nbsp;</p>

<p>15. Follow Kennington Oval/A202 to the end where you can dock your&nbsp;cycle&nbsp;</p>

<h3>See the Oval&nbsp;&nbsp;</h3>

<p><a href="https://www.kiaoval.com/">The Oval</a> has been home to the Surrey County Cricket Club since 1845. It also hosted many important sporting events such as the first FA Cup final in 1872 so is historically the most important sports ground in the&nbsp;world.&nbsp;</p>

<h2>Related content&nbsp;</h2>

<ul>
	<li><a href="/modes/cycling/santander-cycles/community">Download the Santander Cycles app&nbsp;</a></li>
	<li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/independent-shops-and-markets">Independent shops and markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights">Sporting sights</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">Routes for Explore London tickets</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Enjoy a tour of some of London's most famous sporting sights by bike";}
        
            
        


 