

<a id="night-tube-more-info" href="https://tfl.gov.uk/campaign/tube-improvements/the-future-of-the-tube/night-tube" class="link-button with-icon">
 <span class="i night-tube-owl-blue"></span>
 More information about Night Tube
</a>