


@{ViewBag.Title = "Cycle hire scheme celebrates best ever month of hires";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cycle hire scheme celebrates best ever month of hires</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cycle hire scheme celebrates best ever month of hires</h1>
        <div class="content-page-press-release">
        30 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Santander Cycles will reach the highest ever figure for any month since the scheme began today
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new bike brought in last year seems to have encouraged even more people to use Santander Cycles, and I hope we can keep breaking records in the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The recently introduced next-generation cycles, built by Pashley in the UK, have also won a Gold award at the Eurobike Awards in Germany</li>
    <li>The cycle hire scheme turns eight on 30 July</li>
</ul>
<p>Transport for London's (TfL's) Santander Cycles celebrates its eighth birthday on 30 July with another milestone for the scheme &#45; its best ever month of hires.</p>
<p>There will be over 1.1m hires in July, beating the previous record of 1.18m in July 2016. The recent hot weather has encouraged even more Londoners to make the most of what the capital has to offer by taking to two wheels. Last weekend's Prudential RideLondon event also helped to drive demand for the cycles, with thousands choosing to make the most of car-free streets being open to all in central London on Saturday to enjoy a cycle ride.</p>
<p>Santander Cycles has been able to meet this demand by providing additional focus on the most popular stations in and around parks during weekends and launching a 'pop up 'hubs'  trial in Westminster and the City to provide more cycles at peak commute times.</p>
<p>The scheme, which was launched eight years ago on 30 July 2010 with 400 docking stations and 6600 bikes, has since expanded to cover 100 square kilometres of London with 11,000 bikes and over 800 stations, making it the largest cycle hire scheme in Europe. The most recent expansion of the scheme added Brixton to the list of destinations served by the bikes. More than 73.5 million journeys have been made using the cycles since 2010.</p>
<p>The next generation of cycles, built in the UK by Pashley Cycles and introduced in October last year, has also won a Gold award at this year's Eurobike Awards held in Germany in July. The judges recognised the new bike for its sturdiness, ease of use and lighting, stating that it is "an ideal cycle for bike-sharing providers.&quot;</p>
<p> </p>
<p>Since the cycle hire scheme was introduced, cycling in the capital has increased from 540,000 to 730,000 average trips per day. The Santander Cycles scheme has increased the availability of cycles, enabling both Londoners and visitors to explore and commute on two wheels.</p>
<p>Will Norman, London Walking and Cycling Commissioner, said: </p>
<p>'Santander Cycles are such a fun and easy way to get around London, and I'm delighted that July has seen us break the record for the most ever journeys. Our new bike brought in last year seems to have encouraged even more people to use Santander Cycles, and I hope we can keep breaking records in the future.</p>
<p>'It is essential for Londoners' health and for tackling air pollution in the capital that we continue to get more people cycling as part of their everyday routine.'</p>
<p>David Eddington, TfL's Head of Cycle Hire, said: </p>
<p>'Santander Cycles is helping to encourage the capital's cycling revolution by making sure that Londoners have access to bikes at the busiest times and locations. Whether you're travelling to work or visiting one of London's beautiful parks at the weekend, Santander Cycles provides an active, healthy and sustainable way to get around this wonderful city. We've seen a real boom in the numbers of people choosing to cycle in London, with a 35 per cent increase since the scheme was introduced, and hope that number will continue to rise.'</p>
<p>Keith Moor, Chief Marketing Officer at Santander,said: </p>
<p>'The Santander Cycles scheme continues to go from strength to strength, and it's a great example of our commitment to supporting local communities and helping people and businesses prosper. Since we started our partnership with TfL in 2015, we've worked hard to bring excitement and innovation to the scheme, working with TfL to add new smart technology, Beryl laser lights to improve cyclists' visibility and a top-rated app which makes hiring a Santander Cycle easier than ever. We're thrilled to be celebrating the scheme's eighth birthday with new records and long may this continue!'</p>
<p>Counters installed on TfL's Cycle Superhighways at Blackfriars Bridge and on Victoria Embankment continue to record the huge numbers of people choosing to cycle in the capital. These counters show that more than 1.5 million cyclists have now used CS3 and CS6 since the counters were installed, with the counter on CS3 crossing the one million mark for the first time on 23 July.</p>
<p>A new route through central London, Cycle Superhighway 6, will be opening in the autumn and almost 100km of Quietways have been built so far, with further significant sections due to open later in 2018 in Ealing, Hammersmith and Fulham and Newham.</p>
<hr />
<p>Notes to Editors</p>
<ul>
    <li>More than a million hires have now been made using the Santander Cycles app, which was launched in May 2015 to make it easier to find and hire bicycles</li>
    <li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles. This app includes docking station information, live bike and space availability and it sends a release code straight to your phone, letting users skip past the terminal and get on their bike quicker</li>
    <li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys</li>
    <li>Statistics about cycling in London can be found in TfL's Travel in London reports, here: <a href="http://tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports">tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Cycle hire scheme celebrates best ever month of hires -->

 
 
        
        
            @{ViewBag.Description = "London’s award-winning cycle hire scheme celebrates eighth birthday with best ever month of hires";}
        
        


 