


@{ViewBag.Title = "Deal paves way for knowledge sharing between London and West Midlands";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Deal paves way for knowledge sharing between London and West Midlands</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Deal paves way for knowledge sharing between London and West Midlands</h1>
        <div class="content-page-press-release">
        17 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First agreement of its type will see the UK's two biggest cities work more closely together
        
    </div>



 <div class="on-this-page">
<p>Sadiq Khan, the Mayor of London, and Andy Street CBE, the Mayor of the West Midlands Combined Authority, have both welcomed a new knowledge-sharing agreement between London and the West Midlands.</p>
<p>From dealing with major incidents to limiting the disruption of large-scale transport projects and reducing congestion, the agreement will enable West Midlands and London to learn from each other to improve not only their individual regions, but also the rest of the UK.</p>
<p>The Memorandum of Understanding, which was signed by Transport for London (TfL) and Transport for West Midlands (TfWM), is the first time two devolved local authorities have made a commitment to share best practice and work towards common goals.</p>
<p>At an event held this morning in London's Traffic Control Centre, both Mayors met staff who monitor the capital's road network 24 hours a day. As well as seeing how the capital uses state-of-the-art traffic signal technology to monitor and reduce congestion, the Mayors also saw how the control centre is used to coordinate major sporting events, such as the London Marathon and RideLondon, ensuring swift responses to any incidents or congestion.</p>
<p>With Coventry already planning a range of exciting outdoor activities as the UK City of Culture 2021 and Birmingham hosting the Commonwealth Games in 2022, as well as being in talks to host the UK round of the Formula-E, it is hoped that working together to share knowledge and experience on developing customer information will ensure all these events are as successful as the London 2012 Games.</p>
<p>The agreement covers a range of areas in which both organisations believe they could benefit from working together. These include:<br />•	Sharing information on how to address and manage any potential impacts around the delivery of major transport projects, including how to make transport networks resilient while key elements are delivered;<br />•	Working with local businesses and freight organisations to help consolidate and retime freight deliveries to reduce congestion and improve air quality &#45; particularly around construction projects;<br />•	Analysis of road and public transport flows between West Midlands and London to improve connectivity and allow for better traffic and congestion modelling between the cities;<br />•	Monitoring developments in &quot;Mobility as a Service&quot;, as well as a coordinated response towards new disruptive technologies in the future;<br />•	Working together to improve open-data for developers through online portals such as TfL's API platform and identifying new ways to collect key transport data to increase productivity</p>
<p><strong>Sadiq Khan, Mayor of London, said: </strong>`London and Birmingham face many of the same challenges so I am delighted that the signing of this agreement further strengthens our commitment to work together. Among other things, sharing information will help us better deal with major incidents, manage world-class sporting events and reduce congestion, improving our cities for everyone.`</p>
<p><strong>Andy Street CBE, Mayor of the West Midlands Combined Authority, said: </strong>`In the next few years, the West Midlands will be playing host to huge events requiring us to be at the top of our game in terms of managing transport, particularly on our public transport networks.</p>
<p>`Transport for London has a wealth of experience in accommodating extra travellers and we're keen to tap into this knowledge ahead of the Commonwealth Games and Coventry City of Culture.</p>
<p>`This Memorandum of Understanding is an important first step in making sure all future events are remembered for the show the West Midlands puts on, not for any challenges the transport networks might face.'</p>
<p><strong>Gareth Powell, Managing Director for Surface Transport at TfL said:</strong> &quot;This agreement will see us share our experience from the last two decades as an integrated transport authority, while learning a range of new skills and ideas from the West Midlands. We can also work together on developing and delivering common policies, like improving air quality and reducing the impact of major transport projects on local residents and businesses, which will benefit the UK more widely by boosting connectivity in every region.'</p>
<p>Last month, all eight regional and city-wide Mayors &#45; four Conservative and four Labour &#45; met in Liverpool and called on the government for greater devolution of powers and funding over skills. At the meeting, they signed a joint statement calling for further reforms to the skills system, including more control over Apprenticeship Levy funds to boost skills in their areas.</p>
<p>Following today's meeting, a delegation from TfL will be visiting Birmingham later in the summer to discuss how both organisations can work with the freight industry and its customers in the business community to help minimise the impact of major events and construction work.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Deal paves way for knowledge sharing between London and West Midlands -->

 
 
        
        
            @{ViewBag.Description = "Deal paves way for knowledge sharing between London and West Midlands";}
        
        


 