


@{ViewBag.Title = "Jump on board the DLR Discovery to explore east London this summer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Jump on board the DLR Discovery to explore east London this summer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Jump on board the DLR Discovery to explore east London this summer</h1>
        <div class="content-page-press-release">
        23 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Exclusive DLR Discovery train will run every weekend from 4 August to 9 September
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope people from across the city, as well as those visiting London, take the chance to ride the special, non-stopping train between two world-famous London landmarks, and gain insight into a historically fascinating area of east London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Trish Ashton</div>
            <div class="quotee-job-title">General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<p>Londoners and visitors to the capital will have the opportunity to be part of a brand new, first of its kind experience on the Docklands Light Railway (DLR) this summer as TfL and its operator KeolisAmey Docklands (KAD) launch the DLR Discovery.</p>
<p>Ticket holders will be taken on a guided tour between two of London's most iconic destinations, Tower Gateway and Cutty Sark, on a special non-stopping service on a route not normally served by the DLR.</p>
<p>Each train will include a professional tour guide on board as it travels along raised tracks through the transformed Docklands area of east London, known for its vibrant neighbourhoods and rich cultural heritage.</p>
<p>The DLR is a unique way to see how this part of the capital has grown and developed over the last 100 years and locals and visitors are encouraged to explore and discover more of the area they live and work in, or pass through every day.</p>
<h2>Informative and engaging</h2>
<p>The guide will offer an informative and engaging commentary, providing insight into some of east London's most well-known sights that passengers can see as they wind their way past the towering skyline of the financial and cultural district at Canary Wharf and the futuristic Crossrail Place and Roof Garden above the newly-built Elizabeth line station.</p>
<p>The tour will also take in the historic Billingsgate Fish Market, Limehouse basin and its astonishing network of navigable canals as well as the iconic Cutty Sark tea clipper.</p>
<p>The experience will continue with a thirty-minute guided walking tour around the historic heart of Greenwich, giving customers the opportunity to learn more about the World Heritage Site with a professional guide.</p>
<p>The walking tour will start and end at Cutty Sark DLR station and take in the Cutty Sark, one of the only remaining tea clippers from the nineteenth century, and pass by the Royal Naval College and National Maritime Museum.</p>
<h2>First of their kind</h2>
<p>The tours are the first of their kind to operate on TfL services and will start on 4 August 2018, running every Saturday and Sunday until 9 September 2018. Trains will depart on the hour every hour, starting at 10am each day, with the last tour leaving Tower Gateway at 5pm. Tickets for the exclusive DLR Discovery train are &pound;8 for adults and &pound;4 for children and include a return journey on the DLR. These can be purchased via <a href="https://tfl.gov.uk/dlr-discovery">tfl.gov.uk/dlr-discovery</a>.</p>
<p>Trish Ashton, General Manager of the DLR, said: 'DLR Discovery tours are an exciting addition to our services and a perfect day out for families, visitors and locals alike.</p>
<p>'I hope people from across the city, as well as those visiting London, take the chance to ride the special, non-stopping train between two world-famous London landmarks, and gain insight into a historically fascinating area of east London.'</p>
<p>Jade Gilmore, Visitor Experience Manager at the Museum of London Docklands, said: 'The DLR holds great historical importance for the local area and its creation helped to transform London's Docklands, which up to then was isolated from the rest of the city.</p>
<p>'After guests have completed their journey on the DLR Discovery train, I would encourage them to explore our New Port, New City gallery, which includes a range of memorabilia from some of the earliest journeys on the line.'</p>
<h2>Unique perspectives</h2>
<p>Barrie Kelly, Chief Executive of Visit Greenwich, said: 'DLR Discovery tours are an excellent way to see Greenwich and the surrounding area from a different angle.</p>
<p>'DLR trains offer unique perspectives of the Docklands and we warmly welcome such an innovative addition to our outstanding attractions and services.</p>
<p>'We look forward to working with TfL to ensure that these tours become the success they deserve to be, taking a front seat during the summer.'</p>
<p>Angela Morgan, a Blue Badge Tourist Guide at the Association of Professional Tourist Guides, said: 'We look forward to working with TfL on this exciting new venture.</p>
<p>'Guiding is our passion, and all Blue Badge Tourist Guides have trained intensively for two years and passed the highest Tourist Guiding qualification in the UK.</p>
<p>'The DLR Discovery tours offer a wonderful opportunity for our Guides to tell visitors about the East End of London and Greenwich, as well as the places beyond the DLR stations that people can return to for further exploration.'</p>
<p>Alongside DLR Discovery trains, TfL is working to encourage Londoners to explore all that London has to offer by public transport during off peak travel times and through walking and cycling.</p>
<h2>Transformation and regeneration</h2>
<p>The DLR opened in 1987 and helped kick-start regeneration in the Docklands, playing an integral role in the transformation and regeneration of the area while supporting the creation of thousands of jobs and homes.</p>
<p>The network began with just 11 single-carriage trains that served 15 stations and has since been extended six times to help meet east London's growing population.</p>
<p>Thirty years on from its opening, the growth and redevelopment of the Docklands continues, with good transport links essential in enabling further developments in the area.</p>
<p>DLR customers will benefit from new trains in 2022, helping boost capacity on the DLR by 30%. The new trains will feature onboard real time information, air-conditioning and mobile device charging points for the first time.</p>
<p>The new trains are part of the Mayor of London's Transport Strategy, which looks to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>
<p> </p>
<hr />
<p> </p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Tickets for the DLR Discovery must be bought in advance and are available to purchase here: <a href="http://www.eventbrite.co.uk/o/dlr-discovery-explore-east-london-by-train-17587449351">https://www.eventbrite.co.uk/o/dlr-discovery-explore-east-london-by-train-17587449351</a>. Check-in closes 20 minutes prior to departure. Children's fare is valid for those aged between 5 and 12 years</li>
    <li>Today, the entirely step-free DLR carries 124 million passengers per year, up from 6.7 million in its first year, and encompasses 45 stations with 56 mainly three carriage trains on 40 kilometres of double track. There are 1,794 services per day, carrying 380,000 passengers every weekday and operates 364 days a year</li>
    <li>Six extensions have been added to the original network: to Bank in 1991, Beckton in 1994, Lewisham in 1999, London City Airport in 2005, Woolwich Arsenal in 2009 and to Stratford International in 2011</li>
    <li>When the Elizabeth line services commence between central London, Shenfield and Abbey Wood, the DLR will provide key interchanges at Canary Wharf, West India Quay, Stratford and Custom House stations</li>
    <li>KeolisAmey Docklands is a joint venture formed between transport operator Keolis and infrastructure specialists Amey - in 2014 they were awarded the franchise to operate and maintain the DLR until 2021.The franchise focuses on boosting services and on implementing a series of service improvements to make journeys better for passengers</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Jump on board the DLR Discovery to explore east London this summer -->

 
 
        
        
            @{ViewBag.Description = "Jump on board the DLR Discovery to explore east London this summer";}
        
        


 