


@{ViewBag.Title = "TfL backs customer's campaign to ask passengers to Look Up and offer their seat";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL backs customer’s campaign to ask passengers to Look Up and offer their seat</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL backs customer’s campaign to ask passengers to Look Up and offer their seat</h1>
        <div class="content-page-press-release">
        18 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station and driver announcements will now include 'please look up to see if anyone needs your seat more than you do'
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has joined the Look Up campaign, started by customer Corry Shaw, which asks people travelling on public transport to look up to see if someone is in greater need of their seat.<br />
From this week, TfL has added Look Up messaging to a range of station and train announcements.  </p>
<p>Alongside this, there are further measures to raise awareness such as promotional posters in station halls, messages on digital advertisements and social media activity. TfL will also include the Look Up messaging in regular communications to its employees, who are the strongest ambassadors for building awareness. This supports TfL's existing Travel Kind campaign, which encourages customers to be considerate of one another when using public transport.</p>
<p>Corry Shaw, who is disabled and lives with chronic pain that means she needs a seat when travelling, caught the attention of the public last month through press and social media.  Although she uses a TfL 'Please Offer Me a Seat' badge, Corry has found the majority of commuters avoid eye contact, sometimes unintentionally, which can make it difficult to ask for a seat.  As a result, Corry launched the Look Up campaign and called upon TfL and the Mayor of London to support her plea to customers to look up and offer their seat to people in greater need.</p>
<p>TfL's 'Please Offer Me a Seat' badge was launched in April 2017, supporting customers with a range of conditions, invisible impairments and illnesses, helping them to travel without fear of having to stand in pain or discomfort. More than 30,000 have been issued to disabled customers and those with invisible conditions.</p>
<p>Making transport accessible for everyone is a key business priority for TfL and the Mayor, and Corry's Look Up campaign supports its delivery.  TfL has been working with Corry to develop and deliver the campaign which customers will now see and hear on London's transport network.</p>
<p><strong>The Mayor of London, Sadiq Khan said:</strong> 'Having spoken to Corry Shaw about her Look Up campaign, I have been determined to make it a reality on London's transport network. It's a fantastic initiative, and I hope it helps thousands of people get around London more safely and easily, while increasing awareness of disability among Londoners. Alongside the success of the 'Please Offer Me a Seat' campaign, the Look Up campaign will be an important part of our work making London's transport system genuinely accessible for everyone.'</p>
<p><strong>Corry Shaw said:</strong> 'I am so delighted that the Look Up campaign is being supported by TfL.  When I emailed TfL a month ago I never dreamed that it would lead to a real change in the public transport system, but the message seems to resonate with people and I've had support from all over the country.</p>
<p>'I would really like to express my gratitude to the thousands of people that signed the petition and helped me spread the word on social media. I would also like to thank TfL and the Mayor's office who have been open and enthusiastic about supporting the campaign. I am excited that Please Look Up messages are now moving forward so that we can improve the lives of thousands of passengers every day.'</p>
<p><strong>Mark Evers, TfL's Chief Customer Officer for London Underground said:</strong> 'Being able to get a seat on public transport can make a real difference to people who are less able to stand and we're pleased to get behind the Look Up campaign to support our work to make services more comfortable for people with accessibility needs.   Asking passengers to look up while travelling is a simple way to ask customers to be considerate of their fellow passengers and raise awareness of the needs of people with visible and hidden disabilities.'</p>
<p>For more information on TfL's accessibility services visit <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></p>
<p>All buses, Tubes, trains and trams have clearly marked priority seats for anyone who needs them. </p>
<p>Customers can also apply for a Please Offer Me a Seat badge and card or a Baby on Board badge to help you get a seat if you need one</p>
<p><strong>'Please Offer Me a Seat' badge<br />
</strong>In April 2017 TfL launched a free badge, &quot;Please Offer Me a Seat&quot; to help people with invisible impairments (ranging from hidden disabilities, conditions or illness) following a successful trial in autumn 2016.</p>
<p>Currently 31,000 badges have issued<br />
A survey of badge users found:<br />
•	84 per cent of users have an invisible condition<br />
•	78 per cent of users find it easier to get a seat with the badge or card<br />
•	75 per cent of users are offered a seat with the badge or card<br />
•	95 per cent of users are likely to recommend the scheme to a friend</p>
<p>TfL does not ask customers requesting the badge or card for their medical history or supporting evidence from a doctor.</p>
<p>Since launch POMAS has been adopted by Greater Anglia trains, the New York Transport Authority and other transport provides have expressed an interest in the scheme.</p>
<p><strong>'Baby on Board' badge </strong></p>
<p>Over 1 million badges requested by customers in 12 years: 10,000 per month currently. Around 130,000 are issued each year.</p>
<p>The badges can be used on all TfL services &#45; London Underground, London Overground, TfL Rail, London Buses, Docklands Light Railway, Tramlink and River Services &#45; as well as on station platforms &amp; waiting areas.</p>
<p><strong>Travel support card<br />
</strong>TfL's Travel Support card helps disabled and older customers communicate with staff by allowing them to write down what help they need, as well as information such as their emergency contact number</p>
<p><strong>Guide Dogs<br />
</strong>Assistance dogs are accepted on all TfL services, and for a number of years TfL has been working with Guide Dogs to provide a training package so that guide dogs can use escalators.<br />
When a customer travels on the network with their assistance dog, staff can assist them through the station. If the station only has an escalator, assistance dogs that have been trained can use it. At quiet times, staff can turn off escalators for customers whose guide dogs have not been trained to use them</p>
<p><strong>Braille<br />
</strong>Sending responses via braille is not something TfL have generally been asked to do by visually impaired customers. Most visually impaired customers will contact TfL via telephone or have assistive technology which reads typed text when sent via email or letter.<br />
TfL supply a range of information for people with visual impairments. This includes a large print colour version of the Tube Map, a large print black and white version of the Tube Map and an audio Tube Map.</p>
<p><strong>Travel Mentors<br />
</strong>TfL's travel mentors can offer advice on planning a journey using an accessible route. They can also provide a mentor to accompany any disabled customer for their first few journeys to help them gain confidence and become an independent traveler. Mentoring is free and can be provided Monday to Friday from 08:00-18:00.</p>
<p><strong>Step-free access<br />
</strong>There are now more than 200 step-free stations across TfL's network, an increase of 13 per cent since 2012. These include: 73 Tube stations, 58 Overground stations, 6 TfL Rail stations and all DLR stations and Tram stops. As part of its draft Business Plan, Transport for London (TfL) has committed to making over 30 additional Tube stations step-free by 2021/22.  The move will bring the total number of stations with step-free access to all platforms to more than 100, representing over 40 per cent of the Underground network and significantly increasing the proportion from the current level of 27 per cent.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-TfL backs customer’s campaign to ask passengers to Look Up and offer their seat -->

 
 
        
        
            @{ViewBag.Description = "TfL backs customer’s campaign to ask passengers to Look Up and offer their seat";}
        
        


 