
    
  



@{ViewBag.Title = "Contact us about taxi and private hire";}
@{ViewBag.Keywords = "TfL,taxi private hire";}
@{ViewBag.Url = "/help-and-contact/contact-us-about-taxi-and-private-hire";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contact us about taxi and private hire</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contact us about taxi and private hire</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
                @using TfL.Web.ViewModels.FormBuilder
                <div class="responsive-form responsive-table-wrapper with-icon">
                @using (Html.BeginForm())
                {
                    

                var pageTitle = "";
                var introText = "<p><br />Send us your enquiry or feedback by using our web form.</p><p>We always prioritise safety-related matters, so please select the 'safety issues and incidents' option on the form below if you are reporting a safety concern.<br />&nbsp;<br />In cases where a crime is suspected, there is a danger to life, or violence has been used then please call 999 to immediately report this to the police.</p><p>&nbsp;</p>";
                var emailConfirmationSubject = "";
                var successText = "<p>Thank you for taking the time to complete and submit one of our online forms. We will get back to you as soon as possible.</p>";
                var failureText = "<p>There was an error. Please try again.</p>";
                var dataProtectionText = "<p>Transport for London (TfL), its subsidiaries and service providers will use the information you provide on this form to process your comments. If you have made a complaint, we will investigate the incident that you have reported and may contact you to ask for further information or to provide you with feedback. On some occasions, we may need to share your information with associated organisations or their agents for these purposes. Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation. To find out more about how TfL handles personal data, see our <a href='/corporate/privacy-and-cookies/index' target='_blank'>Privacy and cookies pages</a>.</p>";
                var locationHelperText = "<p>Please let us know the pier location or journey made.</p>";
                var bodyText = "<p>If you have witnessed a road traffic incident or an offence on the roads then this can be reported directly to the <a href='https://www.met.police.uk/roadsafelondon/'>police</a>.</p><p>For all other enquiries, positive feedback or complaints (including those relating to the <a href='http://www.legislation.gov.uk/ukpga/2010/15/part/12/chapter/1'>Equality Act 2010</a>) then please use our web form below.</p>";
            

			    dynamic personalDetailsModel = new ContentModel();
                personalDetailsModel.PhoneNumberToolTip = "It may be quicker to resolve your enquiry by calling you back.";
                personalDetailsModel.EmailAddressToolTip = "";
                personalDetailsModel.TitleRequireIfTrue = "Select your title.";
                personalDetailsModel.FirstNameRequireIfTrue = "Enter your first name.";
                personalDetailsModel.LastNameRequireIfTrue = "Enter your surname.";
                personalDetailsModel.EmailAddressRequireIfTrue = "Enter your email address.";
                personalDetailsModel.ConfirmEmailAddressRequireIfTrue = "Enter your email address.";
                personalDetailsModel.PhoneNumberRequireIfTrue = "Enter your phone number.";
                personalDetailsModel.PhoneNumberRegularExpression = "The phone number must be numeric.";
            


                dynamic feedbackContent =  new ContentModel();
                feedbackContent.BestTimeToCallToolTip = "Sometimes it's quicker for us to help by giving you a call.";
                feedbackContent.BestTimeToContactRequireIfTrue = "Select best time to contact.";
                feedbackContent.GiveFeedbackRequireIfTrue = "Select feedback preference.";
            

                dynamic commentsTypeContent = new ContentModel();
                commentsTypeContent.CommentTypeToolTip = "To help us process your feedback, let us know what kind of comment you're leaving.";
                commentsTypeContent.CommentTypeRequired = "Select comments type.";
            

                dynamic formCommentsContent = new ContentModel();
                formCommentsContent.CommentsToolTip = "Please provide us with as much detail as you can. This will help us handle your enquiry more quickly.";
                formCommentsContent.CommentsPrivateTaxiHireToolTip = "<p>Tell us in your own words about the service or incident you want to comment on or submit a complaint about. include contact details of police or any witnesses if needed.</p>";
                formCommentsContent.CommentsRequired = "Enter your comments.";
            

                dynamic travelContactContent = new ContentModel();
                travelContactContent.EnquiryAboutRequireIfTrue = "Select a reason for your enquiry.";
                travelContactContent.TravelModeRequireIfTrue = "Select at least one travel mode.";
                travelContactContent.StaffDescriptionToolTip = "Please provide a description of the staff member(s).";
                travelContactContent.OysterNumberToolTip = "Please give us the 12 digit number on the back of your Oyster card.";
                
                travelContactContent.DateOfTravelRequireIfTrue = "Enter a valid date (eg. 15/03/1984).";
                travelContactContent.TimeOfTravelRequireIfTrue = "Select the time you travelled.";
                travelContactContent.LocationRequireIfTrue = "Enter your location.";
                travelContactContent.RouteNumberRequireIfTrue = "Enter your route.";
                travelContactContent.OysterNumberRegularExpression = "The Oyster Number field is not a valid Oyster Number.";
                travelContactContent.StaffDescriptionRequireIfTrue = "Describe member of staff.";
                travelContactContent.StaffTypeRequireIfTrue = "Select a type of staff member.";
            
            

                dynamic taxiJourneyContent = new ContentModel();
                taxiJourneyContent.StartOfJourneyRequired = "Enter your location.";
                taxiJourneyContent.EndOfJourneyRequired = "Enter your destination.";
                taxiJourneyContent.DateOfTravelRequired = "Enter a valid date (eg. 15/03/1984).";
                taxiJourneyContent.TimeOfTravelRequired = "Select the time.";
                taxiJourneyContent.AppNameRequireIfTrue = "Type the name of the application";
                taxiJourneyContent.PrivateHireCompanyNameRequireIfTrue = "Enter private hire operator details.";
                taxiJourneyContent.PrivateHireCompanyTelephoneNumberRequireIfTrue = "Enter private hire telephone number.";               
                taxiJourneyContent.PrivateHireCompanyTelephoneNumberRegularExpression = "The Phone number must be numeric.";               
                taxiJourneyContent.VehicleTypeRequired = "Select vehicle type.";
                taxiJourneyContent.EnquiryAboutRequireIfTrue = "Select a reason for your enquiry.";
                taxiJourneyContent.BookFromAppRequired = "Please select if you have booked through an app.";
                taxiJourneyContent.OtherRequireIfTrue = "Please give a reason.";
                taxiJourneyContent.DriverBadgeNumberToolTip = "Badge number (on the front and back windscreens of the taxi)";
                taxiJourneyContent.PlateNumberToolTip = "Plate number (underneath the registration number of the taxi, and inside the passenger compartment)";
                taxiJourneyContent.RoundelNumberToolTip = "Private Hire Vehicle roundel number (on the front and back windscreens of the taxi)";
            
			    Html.RenderAction("Index", "FormBuilder", new
                {
                    formSetup = new FormSetupViewModel
                    {
                        FormName = "Taxi Hire Form",
                        FormType = "TaxiHire",
                        FormSections = new List<string>() { "CommentsTypeTwo", "PersonalDetails", "Feedback", "TaxiJourneyDetails", "FormComments", "FormAttachments" },
                        EmailConfirmationToUser = true,
                        EmailConfirmationSubject = @emailConfirmationSubject,
                        FormRecipient = "",
                        IntroductionMessages = new Dictionary<string, string>() { { "intro", @introText } },
                        BodyText = @bodyText
                    },
                    personalDetailsViewModel = new PersonalDetailsFormViewModel { Content = personalDetailsModel, Heading = "Your contact details", TitleRequired = true, FirstNameRequired = true, SurnameRequired = true, EmailAddressRequired = true, ConfirmEmailAddressRequired = true, PhoneNumberVisible = true, PhoneNumberIsRequired = true, PhoneNumberRequired = true },
                    feedbackViewModel = new FeedbackViewModel { Content = feedbackContent, GiveFeedbackRequired = false, GiveFeedbackVisible = false, BestTimeToContactRequired = true, BestTimeToContactVisible = true, UseLaterContactTime=true},
                    submission = new FormSubmissionViewModel { DataProtection = @dataProtectionText, SuccessfulSubmissionMessage = @successText, FailedSubmissionMessage = @failureText },
                    commentsTypeViewModel = new CommentsTypeViewModel { Content = commentsTypeContent },
                    formCommentsViewModel = new FormCommentsViewModel{ Content = formCommentsContent, UsePrivateTaxiHireToolTip = true},
                    formAttachmentsViewModel = new FormAttachmentsViewModel { FormName = "TaxiHire", FileCountLimit = 3 },                    
                    taxiJourneyDetailsViewModel = new TaxiJourneyDetailsViewModel { Content = taxiJourneyContent, EnquiryAboutVisible = true, EnquiryAboutRequired = true, EnquirySelectedAsOthersRequired = true, VehicleTypeVisible = true, VehicleTypeRequired = true, BookFromAppVisible = true, BookFromAppRequired = true, AppNameVisible = true, AppNameRequired = true, PrivateHireCompanyNameVisible = true, PrivateHireCompanyNameRequired = true, PrivateHireCompanyTelephoneNumberVisible = true, PrivateHireCompanyTelephoneNumberRequired = true, DriverBadgeNumberVisible = true, PlateNumberVisible = true, RoundelNumberVisible = true, VehicleRegistrationNumberVisible = true}
                });
            
                }
                
                
                @{
                    Html.RenderAction("SearchFilterForm", "FormBuilder");
                }
                
                
                </div>
            
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Contact us about taxi and private hire..";}
        
            
        


 