
    
  


<!-- rhroot -->
@{ViewBag.Title = "Help & contacts";}
@{ViewBag.Keywords = "TfL,complaint, complaints";}
@{ViewBag.Url = "/help-and-contact/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Help & contacts</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Help & contacts</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    

                @{ Html.RenderPartialIfExists("Search/_AISearch");}
            
 <div>

<div>
<h2>Featured topics</h2>
</div>

<ul>
	<li>Can't sign in? <a href="/help-and-contact/reset-your-password">Reset your password</a></li>
	<li><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Check your vehicle against tougher LEZ standards</a></li>
	<li><a href="/fares/refunds-and-replacements">Get a refund or replacement</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touch-pink-card-reader-when-changing-trains">Avoid&nbsp;Zone 1 fares</a></li>
	<li><a href="/fares/find-fares/national-rail-fares-beyond-zone-9">Find fares outside Zone 9</a></li>
	<li><a href="/modes/driving/congestion-charge">Manage your Congestion Charge</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Register for the van/minibus scrappage scheme</a></li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div>

<h2>Refunds</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/didnt-touch-in-or-out">Didn't touch in or out</a></li>
	<li><a href="/fares/refunds-and-replacements/lost-oyster-card">Lost Oyster card</a></li>
	<li><a href="/fares/refunds-and-replacements/season-ticket-on-oyster-no-longer-needed">Season ticket on Oyster no longer needed</a></li>
	<li><a href="/fares/refunds-and-replacements/touched-in-and-out-at-same-station">Touched in and out&nbsp;at the&nbsp;same station</a></li>
	<li><a href="/fares/refunds-and-replacements/visitor-oyster-credit-no-longer-needed">Visitor Oyster credit no longer needed</a></li>
</ul>
</div>
 <div>

<h2>Account </h2>
<div>
<ul>
    <li><a href="https://contactless.tfl.gov.uk/">Sign in to your Contactless or Oyster account</a></li>
    <li><a href="https://account.tfl.gov.uk/ForgotPassword">Reset your password</a></li>
    <li><a href="https://oyster.tfl.gov.uk/oyster/guest/forgotUsername.do">Find your username</a></li>
</ul>
</div>
</div>
 <div>

<h2>Oyster</h2>

<ul>
	<li><a href="/help-and-contact/contact-us-about-oyster">Contact us about Oyster</a></li>
	<li><a href="/help-and-contact/contact-us-about-the-tfl-oyster-app">Contact us about the TfL&nbsp;Oyster and contactless app</a></li>
	<li><a href="https://oyster.tfl.gov.uk/oyster/link/0003.do">Report Oyster card lost or stolen</a></li>
	<li><a href="/fares/free-and-discounted-travel">Apply for an under 18s Zip Oyster card</a></li>
</ul>
</div>
 <div>

<h2>Contactless</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/card-clash">Find out about card clash</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Pay with a mobile payment app</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">See how travel charges show in card statements</a></li>
	<li><a href="https://contactless.tfl.gov.uk/UnregisteredCustomer/Captcha">Check your journey and payment history</a></li>
	<li><a href="/help-and-contact/contact-us-about-contactless">Contact us about contactless</a></li>
</ul>
</div>
 <div>

<h2>Accessible travel</h2>
<ul>
    <li><a href="/transport-accessibility/accessibility-guides-and-maps">Order accessibility guides</a></li>
    <li>
    <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access and avoiding stairs</a></li>
    <li><a href="/transport-accessibility/help-from-staff">Get help from staff</a></li>
    <li><a href="/transport-accessibility/please-offer-me-a-seat">Order Please offer me a seat badge</a></li>
    <li><a href="/help-and-contact/accessibility">Contact us about accessibility</a></li>
</ul>
</div>
 <div>

<h2>Lost property</h2>
<ul>
    <li><a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form">Report a lost item</a></li>
    <li><a href="/help-and-contact/lost-property">Lost property information</a></li>
</ul>
</div>
 <div>

<p><a id="complaints" name="complaints"></a></p>

<h2>Report</h2>

<ul>
	<li><a href="https://streetcare.tfl.gov.uk/">Roadwork and street issues</a></li>
	<li><a href="/help-and-contact/report-criminal-damage-or-antisocial-behaviour">Criminal damage or antisocial behaviour</a></li>
	<li><a href="/travel-information/safety/report-a-crime-or-incident">Other crime or an incident</a></li>
	<li><a href="/help-and-contact/reporting-touting-and-illegal-cabs">Cab touting</a></li>
</ul>
</div>
 <div>

<h2>Feedback about staff</h2>
<ul>
    <li><a href="/help-and-contact/contact-us-about-tube-and-rail-staff">Tube, DLR, Overground, Tram and TfL Rail</a></li>
    <li><a href="/help-and-contact/contact-us-about-bus-staff">Buses</a></li>
    <li><a href="/help-and-contact/contact-us-about-rivers-staff">Rivers </a></li>
    <li><a href="/help-and-contact/contact-us-about-emirates-air-line-staff">Emirates Air Line</a></li>
</ul>
</div>
 <div>

<h2>Enquiries and complaints&nbsp;</h2>

<ul>
	<li><a href="/help-and-contact/contact-us-about-tube-and-rail">Tube, Overground, DLR, Trams,&nbsp;TfL Rail, TfL-managed stations and the Elizabeth line (previously Crossrail)</a></li>
	<li><a href="/help-and-contact/contact-us-about-buses">Buses</a></li>
	<li><a href="/help-and-contact/contact-us-about-rivers">Rivers</a>&nbsp;</li>
	<li><a href="/help-and-contact/contact-us-about-emirates-air-line">Emirates Air Line</a></li>
	<li><a href="/help-and-contact/contact-us-about-cycling">Cycling</a></li>
	<li><a href="https://santandercycles.tfl.gov.uk/Home/Contact">Santander Cycles</a></li>
	<li><a href="/help-and-contact/contact-us-about-taxi-and-private-hire">Taxi and private hire</a></li>
	<li><a href="/modes/driving/cc-contact-us-make-an-enquiry-wizard-37743">Congestion Charge</a></li>
	<li><a href="https://tfl.gov.uk/modes/driving/dvs-contact-us">Direct Vision Standard and HGV Safety Permit</a></li>
	<li><a href="/modes/driving/lez-contact-us-make-an-enquiry-wizard-37749">Low Emission Zone</a></li>
	<li><a href="/modes/driving/ulez-make-an-enquiry-wizard">Ultra Low Emission Zone</a></li>
	<li><a href="/help-and-contact/taking-your-complaint-further">How to appeal against our response to a&nbsp;complaint</a></li>
</ul>
</div>
 <div>

<h2>Support after serious incidents</h2>
<ul>
    <li><a href="/campaign/incident-support-service">Incident support service</a> </li>
</ul>
<br />
</div>
 
</div>
 <div>

<h2 style="border-image:none; border:0px currentColor; box-sizing:border-box; font-stretch:inherit; font-variant-numeric:inherit; font-weight:inherit; line-height:28.8px; padding:0px; vertical-align:bottom">Contact us</h2>

<h3>By phone:</h3>

<p>Call <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may apply</a>)</p>

<h4><span style="line-height:22.95px">24 hours a day, 7 days a week:</span></h4>

<ul>
	<li>Help you <a href="/plan-a-journey/index">plan a journey</a></li>
	<li>Report a noise complaint</li>
	<li><a href="/travel-information/safety/report-a-crime-or-incident">Report a safety or security concern</a></li>
</ul>

<h4>08:30-16:00 Monday to Friday:</h4>

<ul>
	<li><a href="/help-and-contact/lost-property">Lost property&nbsp;queries</a></li>
</ul>

<h4>09:00-17:00 Monday to Friday:</h4>

<ul>
	<li><a href="/help-and-contact/contact-us-about-streets-and-other-road-issues">London streets queries</a>, complaints or suggestions</li>
</ul>

<h4>08:00-20:00 Monday to Friday<br />
09:00-17:30 Saturday to Sunday:</h4>

<ul>
	<li><a href="/help-and-contact/contact-us-about-contactless">Contactless card journey or statement queries</a>, complaints or suggestions</li>
</ul>

<h4>08:00-20:00 Monday to Sunday:</h4>

<ul>
	<li><a href="/help-and-contact/contact-us-about-oyster">Oyster card, Oyster photocard and paper ticket queries</a>, complaints or suggestions</li>
	<li>Queries, complaints or suggestions about our other services (not including <a href="/modes/taxis-and-minicabs/index">taxis &amp; minicabs</a>&nbsp;or <a href="/modes/driving/pay-to-drive-in-london">road user charging</a>)</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div>

<p><strong>Message</strong><br />
On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a></p>

<p><strong>Textphone</strong><br />
0800 112 3456</p>
</div>
 <div>

<p><strong>Write</strong><br />
Send a letter to:</p>
<p>TfL Customer Service<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>
<br />
</div>
 
</div>
 <div>

<h2>Our customer service commitment</h2>

<p>When you get in contact with us you can expect a high standard of customer service, as detailed in our <a href="/corporate/about-tfl/how-we-work/our-customer-commitments">customer promise</a>. We may also&nbsp;ask you to take part in a confidential survey. We'll use your feedback to improve our services.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/careers/index" class="plain-button">Careers</a>
<a href="/corporate/about-tfl/how-we-work/public-affairs" class="plain-button">Public affairs</a>
<a href="/help-and-contact/contact-us-about-corporate-affairs" class="plain-button">Contact us about corporate affairs</a>
<a href="/info-for/urban-planning-and-construction/index" class="plain-button">Urban planning and construction</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://consultations.tfl.gov.uk/" class="plain-button">Consultations</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Answers to the questions we are most frequently asked, along with a range of links and useful contacts.";}
        
            
        


 