
    
  



@{ViewBag.Title = "Lost property";}
@{ViewBag.Keywords = "Public,Lost Property ,TfL";}
@{ViewBag.Url = "/help-and-contact/lost-property";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Lost property</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Lost property</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out if your lost property has been handed in, and how to claim it back.
        
      </div>
    
    <div class="on-this-page">
      <h2>Before you enquire</h2>

<h3>Buses</h3>

<p>If you have lost something on a bus in the past 3 days, <span style="line-height:115%"><a href="https://tfl.gov.uk/modes/buses/who-runs-your-bus"><span style="text-decoration-color:initial">contact the operator</span></a></span><span style="line-height:115%">. </span></p>

<p><span style="line-height:115%">If your property has been found, you can claim it directly from the relevant bus garage without having to log an enquiry with us.</span></p>

<h3>Credit and debit cards</h3>

<p>We do not keep or take enquiries for individual credit or debit cards - these are securely destroyed when found.</p>

<p>Contact your bank immediately to report the loss and arrange a replacement.</p>

<h3>Hazardous, objectionable or perishable items</h3>

<p>We do not keep or take enquiries for lighters, e-cigarettes, foodstuffs, soiled clothing, highly flammable substances or other items that may be hazardous to store.</p>

<h3>Oyster cards and photocards</h3>

<p>We do not take enquiries for individual Oyster cards or photocards. Please see the following information on how to replace your lost card:</p>

<ul>
	<li>You can <a href="https://oyster.tfl.gov.uk">replace your registered Oyster card</a></li>
	<li><a href="https://photocard.tfl.gov.uk">Replace your Oyster photocard</a></li>
	<li>Bus and Tram Discount photocard - apply for a new card at a post office in London</li>
	<li>Jobcentre Plus Discount photocard - contact your local Jobcentre Plus office</li>
</ul>
      
           
      <div>

<h2>Make an enquiry</h2>
<p>We collect and store property found on the following services:</p>
<ul>
    <li>London Buses</li>
    <li>London Underground</li>
    <li>Docklands Light Railway</li>
    <li>London Overground</li>
    <li>TfL Rail</li>
    <li>Black cabs (taxis)</li>
    <li>Emirates Air Line</li>
    <li>Victoria Coach Station</li>
</ul>
</div>
 <div>

<div class="call-to-action-button">
       <a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 <div>

<h3>Lost your property on a different service?</h3>

<p>Find out about property lost on <a href="#river">the river</a>, <a href="#trams">trams</a> and <a href="#other">other services</a>.&nbsp;</p>

<h2>Once we've received your enquiry</h2>

<p>It can take up to 7 working days for us to collect and catalogue items found on the network.</p>

<p>We will try to match your enquiry against the property we receive. We will let you know if we think we have your item, or if we need more information. There is no need to visit the office in person.</p>

<h2>Reclaiming your property</h2>

<p>We keep unclaimed items for a maximum of 3 months from the date of loss. Money (except for that found in Black Cabs) can be claimed up to 12 months from the date of loss.</p>

<p>Once we have confirmed that we have found your property, we will let you know how you can reclaim it.&nbsp;You&nbsp;should do this within two weeks.</p>

<ul>
	<li>Items may be collected from our office, or couriered to you for an additional cost.</li>
	<li>We charge a fee to help cover the cost of collecting and storing your property</li>
	<li>We require valid identification before we release goods for collection or delivery.</li>
	<li>Property found in taxis is subject to an additional fee based on the value of the item. This award is given directly to the driver in recognition of their actions.</li>
	<li>If you want someone else to collect the property on your behalf, you&nbsp;need to provide a signed letter or authorisation email. We will reconfirm these details for you when validating your claim.</li>
</ul>

<h2>Unclaimed items</h2>

<p>Items which remain&nbsp;unclaimed after 3 months from the date of loss&nbsp;becomes the property of TfL.</p>

<p>We remove and securely destroy any personal data. Then, we donate the property&nbsp;to charity or recycle, dispose of or sell it. We do not hold specific auctions for unclaimed items</p>

<h2>Contact details and opening hours</h2>

<p><strong>Online:</strong>&nbsp;<a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form">Use our&nbsp;enquiry form</a>.</p>

<p><strong>Phone:</strong> If we have told you that we've found your property, or if you need help with&nbsp;managing your enquiry, call us on 0343 222 1234 - <a href="/corporate/terms-and-conditions/tfl-call-charges">charges apply</a></p>

<p><strong>Email:</strong>&nbsp;<a href="mailto:lpo&#64;tfl.gov.uk">lpo&#64;tfl.gov.uk</a>. This is for general correspondence only. To report a lost item, please use <a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form">our enquiry form</a>.</p>

<p><strong>Collection point:</strong> 63-81 Pelham St, London SW7 2NJ &nbsp;(closest Tube: South Kensington). This office is for pre-booked visits only. Please wait until we've told you that your property is ready to collect, as items may be stored in different locations.</p>

<p><strong>Opening hours:</strong> 08:30 - 16:00 Monday to Friday (excluding bank holidays).</p>

<h2><a name="river"></a>Property lost on the river</h2>

<h3>Boats</h3>

<p>Contact the <a href="/modes/river/corporate-and-private-boat-hire">boat operator</a></p>

<h3>Piers</h3>

<p><strong>Email: </strong><a href="mailto:river&#64;tfl.gov.uk">river&#64;tfl.gov.uk</a></p>

<h2><a name="trams"></a>Property lost on trams</h2>

<p><strong>Online</strong>: Customers can report or search for their Lost Property at <a href="http://www.missingx.com">www.missingx.com</a>.<br />
<strong>Phone: </strong>Trams Customer Service 020 8681 8300 - <a href="/corporate/terms-and-conditions/tfl-call-charges">charges apply</a>. Please note, this number only takes calls about property lost on trams.<br />
<strong>Address:</strong> London Trams Shop, 5 Suffolk House, George Street, Croydon, CR10 1PE<br />
<strong>Opening hours:</strong> 09:00 - 17:00 Monday to Friday (excluding Bank Holidays)</p>

<h2><a name="other"></a>Other services</h2>

<p>Contact the service operator if you have lost property on other services such as National Rail services, licensed mini-cabs, coaches, tour buses or at airports.</p>
</div>
 
<div>



<h2>Lost property transparency data</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lost-property-office-transparency-data.pdf">
    <div class="document-download-text">
        <p>Lost Property Office transparency data (2016 - 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lost-property-fees-april-2016.pdf">
    <div class="document-download-text">
        <p>Lost Property Office schedule of fees (from April 2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out if your lost property has been handed in, and claim it back ";}
        
            
        


 