
    
  



@{ViewBag.Title = "We're doing maintenance for Santander Cycles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/help-and-contact/maintenance-for-santander-cycles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">We're doing maintenance for Santander Cycles</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>We're doing maintenance for Santander Cycles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Sorry for the disruption.
        
      </div>
    
    
      <p>We're working to get our website back to normal but in the meantime here's some useful links:</p>
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/help-and-contact/index?intcmp=4120" >
        
        
        <div class="text-link">
             <h2>Help & contacts</h2>
            <p>See answers to frequently asked questions, useful links and contacts</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>Cycling is a great way to see the amazing sights in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/what-you-pay?intcmp=2315" >
        
        
        <div class="text-link">
             <h2>What you pay</h2>
            <p>Hire a Santander Cycle in London from as little as &pound;2</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/how-it-works?intcmp=2297" >
        
        
        <div class="text-link">
             <h2>How it works</h2>
            <p>Simply hire a bike, ride where you like, then return it to any docking station</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/register-for-your-own-key?intcmp=2312" >
        
        
        <div class="text-link">
             <h2>Santander Cycles membership</h2>
            <p>Sign up to be a member to make hiring Santander Cycles even quicker</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/find-a-docking-station?intcmp=2321" >
        
        
        <div class="text-link">
             <h2>Find a docking station</h2>
            <p>There's more than 11,500 bikes at over 750 docking stations across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/business-accounts?intcmp=26460" >
        
        
        <div class="text-link">
             <h2>Santander Cycles business accounts</h2>
            <p>Our bike-sharing scheme is a great way for your staff to travel around</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://twitter.com/SantanderCycles?intcmp=56045" >
        
        
        <div class="text-link">
             <h2>Santander Cycles Twitter</h2>
            <p>See inspiration and news about Santander Cycles on Twitter</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're doing maintenance for Santander Cycles";}
        
            
        


 