
    
  



@{ViewBag.Title = "Report roadworks";}
@{ViewBag.Keywords = "Cyclists,Drivers,Freight industry,Public,Taxi and private hire,TfL";}
@{ViewBag.Url = "/help-and-contact/report-roadworks";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Report roadworks</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Report roadworks</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Tell us about a problem at a roadworks site. We will take action or send your report to the relevant Highway Authority if the location is not part of our road network.
        
      </div>
    
    
      <p><a href="https://streetcare.tfl.gov.uk">Report a problem with roadworks, bus stops and shelters</a> with our street care reporting tool.</p>

<p><a href="/help-and-contact/contact-us-about-streets-and-other-road-issues">Report other street faults</a> - such as potholes or abandoned vehicles</p>
      
           
      <div>

<h2>The Roadworks Pledge
</h2>
<p>As part of an ongoing drive to reduce the amount of roadworks in London, TfL, the London Boroughs and all those
digging up the Capital's roads have pledged to do all they can to minimise
unnecessary roadworks disruption and ensure works are well managed. </p>
<p>To help us
achieve this you can report any roadworks that do not follow the
Roadworks Pledge.</p>
<p>Roadworks should:</p>
<ul>
    <li><strong>Be tidy and safe</strong> with a clutter-free site so it is safe for pedestrians, cyclists and other road users </li>
    <li><strong>Always explain what's happening</strong> through detailed, clear and consistent signage </li>
    <li><strong>Always have activity on site</strong> or, if not, explain why (eg concrete is drying) </li>
    <li><strong>Take up as little road/pavement space as possible</strong> with a compact working area and eliminating the unnecessary use of cones, safety barriers and storage of materials </li>
    <li><strong>Help keep London moving</strong> by working outside peak hours, re-opening the road to traffic at peak times and, where this is not possible, working all day or extended hours to complete works as quickly as possible. Diversion routes should be clearly signed</li>
</ul>
<ul>
</ul>
</div>
 <div>

<p>The Department for Transport also publishes guidelines on the safe management of roadworks.
</p>
<p>Read the <a href="https://www.gov.uk/government/publications/safety-at-street-works-and-road-works">DfT Code of practice</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to report roadworks and street faults from abandoned vehicles to potholes";}
        
            
        


 