
    
  



@{ViewBag.Title = "Report touting & illegal cabs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/help-and-contact/reporting-touting-and-illegal-cabs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "http://www.tfl.gov.uk/forms/12368.aspx");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Report touting & illegal cabs</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Report touting & illegal cabs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Use this form to tell us about touting or other illegal cab activity. Please provide as much detail as possible about the incident or issue.
        
      </div>
    
    
      
        <p>If you have information about touting or other illegal cab activity,
        please use this&nbsp;form.&nbsp;When submitting a report, please provide as much
        detail as possible about the incident or issue.</p>
        <p>Please note you should <strong>not </strong>use this form if you are
        reporting a specific crime or require a real time response. If you are
        reporting a crime or require a response then you should report the
        incident directly to the Metropolitan Police Service on 0300 123 1212
        (24 hour). In an emergency call 999.</p>
    
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       

    </div>
</div> 
 
</div>
 <div>


         
        <h2>
        Data Protection Act
        </h2>
        <p>Transport for London, its subsidiaries and service providers will use the
        information provided in this form for the purposes of prevention and detection
        of cab-related offences. The information you provide on touting and/or other
        illegal cab activity will be analysed along with other intelligence sources to
        help inform future enforcement activities to reduce touting and/or other illegal
        cab activity and support Transport for London in its role as the Licensing
        Authority for taxi and private hire services in London. In certain
        circumstances, TfL may share the information, including personal details,
        provided in this form with the police and other law enforcement agencies for the
        purposes of the prevention or detection of crime and/or the apprehension or
        prosecution of offenders. Your personal information will be properly safeguarded
        and processed in accordance with the requirements of the Data Protection Act
        1998 (DPA). </p>
         
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Use this form to tell us about touting or other illegal cab activity";}
        
            
        


 