
    
  



@{ViewBag.Title = "Reset your password";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/help-and-contact/reset-your-password";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Reset your password</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Reset your password</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you have a contactless and Oyster account, you need to reset your password to sign in. We're asking everyone to do this as part of our work to keep your account safe.
        
      </div>
    
    
      <h2>Can't sign in?</h2>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://account.tfl.gov.uk/forgotpassword" class="primary-button" >Reset your password</a>

    </div>
</div> 
 
</div>
 <div>

<p>Your new password must:</p>

<ul>
	<li>Be at least 8 characters long</li>
	<li>Use 3 or more of the following:
	<ul>
		<li>1 uppercase letter</li>
		<li>1 lowercase letter</li>
		<li>1 number</li>
		<li>1 special character (for example ?!&#64;*)</li>
	</ul>
	</li>
</ul>

<p>Your new password can't:</p>

<ul>
	<li>Be one you've already used for this account or other accounts</li>
	<li>Include personal information</li>
</ul>

<h3>Using our app</h3>

<p>If you use our <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">Oyster and contactless app</a> and stay signed in, you need to sign out to reset your password.</p>

<h2>Already reset your password?</h2>

<p>If you reset your password before 28 November 2019, we're sorry but you'll need to reset your password again.&nbsp;If you reset it after this date, you can use your new password to sign in.&nbsp;</p>

<h2>Keep your details safe</h2>

<p>Never share your password or account information with anyone.&nbsp;</p>

<p>You shouldn't use the same password for different websites and apps. Having unique passwords makes them more secure and is the best way to keep your personal details safe.&nbsp;You should change your password regularly.</p>

<p>Find out more about&nbsp;<a href="https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online">keeping your data safe online</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to reset your password for your contactless and Oyster account";}
        
            
        


 