
    
  



@{ViewBag.Title = "Technical problems";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/help-and-contact/technical-problems";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Technical problems</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Technical problems</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                
        <p>We're sorry but our online Help and Contact facility is currently unavailable.</p>
    
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>


        <p><strong>We are trying to rectify this as quickly as possible and thank you for your patience.<br />
        </strong>Until this service returns, please see our <a href="/corporate/useful-contacts/index">useful contacts page</a> for alternative ways to contact us.</p>
    
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Help and Contact facility currently unavailable.";}
        
            
        


 