
    
  



@{ViewBag.Title = "Accepting card payments";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/accepting-card-payments";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Accepting card payments</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accepting card payments</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information about accepting card payments.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Taxi drivers</h2>
<p> </p>
<p> All licensed taxis must be fitted with a TfL approved card payment device installed in the passenger compartment which has the facility to produce a printed receipt upon request by the passenger.</p>
<p>All taxi drivers must accept card and contactless payments via the approved TfL fixed card payment device located in the passenger compartment and provide printed receipts for those payments upon request. Handheld payment devices do not meet the licensing requirements and are regarded as unapproved devices.</p>
<p>Any taxi found not complying with the requirement will be issued with an unfit notice, which will remain in place until the requirement is fulfilled and the vehicle is presented for inspection. A driver found to be using any unapproved device also may have their fitness to be licensed reviewed. All taxis must also display the taxi contactless and card acceptance signs:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-payment-signage.pdf">
    <div class="document-download-text">
        <p>Taxi contactless and card acceptance signs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.68 -->
 
</div>

</div>
 
<div>




<p>There are no exemptions from the card payment mandate, including the requirement that a card payment terminal must be fitted within the passenger compartment.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<h2>Card payment providers</h2>
<p>We currently have 16 card payment providers with approved systems that meet the new card payment requirements. 11 of these are approved for use in the new LEVC TX eCity taxi.</p>
<div class="table-container"><table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<td style="width:30%">
			<h3><strong>Card payment provider</strong></h3>
			</td>
			<td style="width:30%">
			<h3><strong>System(s)</strong></h3>
			</td>
			<td>
			<h3><strong>Website</strong></h3>
			</td>
			<td style="width:21%">
			<h3>&nbsp;Phone</h3>
			</td>
			<td style="width:21%">
			<h3>Approved for TX eCity?</h3>
			</td>
		</tr>
		<tr>
			<td>Cab:app Ltd</td>
			<td>Miura M010</td>
			<td><a href="https://cabapp.io">cabapp.io</a></td>
			<td>07508 550 211</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Cabvision Network Ltd&nbsp;</td>
			<td>Ingenico IPP220<br />
			Ingenico IPP350&nbsp;</td>
			<td><a href="http://www.cabvision.com">www.cabvision.com</a></td>
			<td>020 7655 6970</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>CMT UK Ltd</td>
			<td>CMT FREEdom Solution</td>
			<td><a href="http://www.cmt.london">www.cmt.london</a></td>
			<td>020 7183 1894</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>ComCab</td>
			<td>VeriFone VX820</td>
			<td><a href="http://www.comcablondon.com/">www.comcablondon.com</a></td>
			<td>020 8962 1800</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Curb Mobility Ltd</td>
			<td>
			<p>VeriFone VX680</p>
			</td>
			<td><a href="http://www.gocurb.com">www.gocurb.com</a></td>
			<td>0333 666 1000</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Dial a Cab</td>
			<td>Ingenico IPP350</td>
			<td><a href="http://www.dialacab.co.uk/">www.dialacab.co.uk</a></td>
			<td>020 7251 0581</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Farepay Ltd</td>
			<td>Miura M010</td>
			<td><a href="http://www.farepay.co.uk">www.farepay.co.uk</a></td>
			<td>020 3369 9691</td>
			<td>No</td>
		</tr>
		<tr>
			<td>Ingenico</td>
			<td>Ingenico ICT220<br />
			Ingenico ICT350</td>
			<td><a href="https://ingenico.co.uk/">ingenico.co.uk</a></td>
			<td>020 3702 1500</td>
			<td>No</td>
		</tr>
		<tr>
			<td>iZettle</td>
			<td style="vertical-align:top">Miura M010</td>
			<td style="vertical-align:top"><a href="https://www.izettle.com/gb/card-readers">www.izettle.com</a></td>
			<td style="vertical-align:top">07885 294 841</td>
			<td style="vertical-align:top">Yes</td>
		</tr>
		<tr>
			<td>MyTaxi</td>
			<td>SumUp Air</td>
			<td><a href="http://www.mytaxi.com">www.mytaxi.com</a></td>
			<td>020 3936 0890</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Payataxi</td>
			<td>Miura M010</td>
			<td><a href="http://www.payataxi.com">www.payataxi.com</a></td>
			<td>0333 123 1243</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>SumUp (formerly Payleven)</td>
			<td>Miura M010</td>
			<td><a href="https://sumup.co.uk/payleven">www.sumup.co.uk/payleven</a></td>
			<td>0203 510 9457</td>
			<td>No</td>
		</tr>
		<tr>
			<td>PayPal</td>
			<td>Miura M010</td>
			<td><a href="http://www.paypal.com">www.paypal.com</a></td>
			<td>0800 358 7911</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Sherbet</td>
			<td>
			<p>MT Data<br />
			Ingenico IPP350</p>
			</td>
			<td><a href="http://www.mtdata-uk.com">www.mtdata-uk.com</a></td>
			<td>0844 800 8772</td>
			<td>No</td>
		</tr>
		<tr>
			<td>Taxiworld Ltd</td>
			<td>Taxiworld FREEdom Solution</td>
			<td><a href="http://www.taxiworld.co.uk">www.taxiworld.co.uk</a></td>
			<td>020 8885 8666&nbsp;</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>The Payment House</td>
			<td>
			<p>Miura M010</p>
			</td>
			<td><a href="http://thepaymenthouse.com/contact-us">www.thepaymenthouse.com</a></td>
			<td>07454 545 542</td>
			<td>
			<p>No</p>
			</td>
		</tr>
	</tbody>
</table></div>


 
<p>Taxi drivers must have the facility to offer a printed receipt on demand, in accordance with our <a href="/corporate/publications-and-reports/taxi-and-private-hire">Electronic Payment Guidance</a>. </p>
<p>If you know of a card payment device that has not been approved by TfL, but which you would like to use, please ask the company to contact TfL as it may be possible for us to approve their device. </p>



 
<div>




<h3>Further information</h3>
<p>The TfL Board agreed that passengers should be able to pay by card, including contactless, at its meeting on 3 February 2016 and from 31 October 2016 all licensed taxi drivers have been required to accept credit and debit card payments. As of 1 January 2017, all card payment devices were required to be securely fitted in the passenger compartment.</p>
<p>More information about this is available in <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers">the TfL Board paper</a> and notice 13/16 on <a href="/info-for/taxis-and-private-hire/notices-and-consultations">this web page</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-london-cab-order.pdf">
    <div class="document-download-text">
        <p>The London Cab Order 2016 - Card payment acceptance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>
<p>If after reading these, you need further guidance, please email us at <a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a> or call our licensing team on 0343 222 4444 (Monday to Friday, 08:00-18:00, <a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>)</p>

<h3>Accepting payment via online services</h3>

<p>Payments through apps such as HailoPay etc. are permitted if a passenger has access to the app via their own phone or device. Drivers must not enter card details into their own phone or device to process a payment.</p>

<h3>Problems with card payments</h3>

<p>Drivers are not expected to leave their cab should a problem with payment arise and they do not feel safe to do so.</p>

<p>Should a problem occur, our advice to drivers is:</p>

<ul>
	<li>Ask the passenger to try their payment card again</li>
	<li>If the issue persists, ask the passenger whether they have another payment card or cash to pay for the fare</li>
	<li>If not, offer to take the passenger to the nearest cashpoint</li>
</ul>

<p>If a passenger refuses to pay and an amicable agreement cannot be found, drivers should consider contacting the police.</p>

<p>All taxi drivers must check that the card payment device is fully working before starting work.</p>

<p>If a taxi driver experiences any problems with their card payment device they should contact the provider of the card payment system as soon as possible in order to report the problem and rectify the issue.</p>

<p>If you rent a taxi then you must immediately report the problem to the proprietor so they can report this to the card payment device company and arrange for the device to be fixed or replaced, and provide you with a replacement taxi if necessary.</p>

<p>When reporting a problem, the card payment device company should be asked to provide:</p>

<ul>
	<li>Confirmation that the problem has been reported</li>
	<li>Details of the appointment for the device to be fixed or replaced</li>
</ul>

<p>This information must then be produced if you are stopped by a TfL Compliance Officer before the card payment device has been fixed or replaced.</p>

<p>If you experience any problems with your card payment device outside of office hours you should follow the same steps as above.</p>

<h3>Network data outages</h3>

<p>If there is a documented network-wide outage affecting many card payment devices, affected drivers should advise passengers &#45; before accepting a fare &#45; that they cannot take a card payment and why. Advise passengers that cash payments can be taken and offer to take them to a cashpoint. Under no circumstances should drivers use an alternative, non-fixed card payment device.</p>

<h2>Private hire operators</h2>

<p>Since 13 January 2018 it has been an offence for companies, including private hire operators, to charge their customers a surcharge, or extra, because they are paying by credit or debit card.</p>

<p>Information about this change to the law can be found on the <a href="https://www.gov.uk/government/news/rip-off-card-charges-to-be-outlawed">government's website</a>.</p>

<p>Complaints about being charged more when paying by debit or credit card should be reported to&nbsp;your <a href="https://www.tradingstandards.uk/consumers/support-advice">local Trading Standards office</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information for taxi drivers about the card payments mandate";}
        
            
        


 