
    
  



@{ViewBag.Title = "Changes to operating models";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/changes-to-operating-models";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></li>
                
            
            
                <li><span class="last-breadcrumb">Changes to operating models</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Changes to operating models</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Guidance for private hire operators about notifying Transport for London (TfL) of changes to operating models.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<p>Recent advancements in technology have changed the way many private hire services are delivered in and outside London. Those technological changes have also altered the pace of change.</p>
<p>
Operators can now alter their business model, in quite fundamental ways, during the five-year period between licence renewals.</p>
<p>
It is important for regulators like us to be aware of any changes and ensure compliance with the law.</p>
<p>
We have now introduced a licence condition for operators to notify us of material changes to their operating models, changes that may affect their compliance with the statutory and regulatory framework governing this area.</p>
<p>
The licence condition is not an attempt to restrict or micro-manage private hire businesses or to stifle innovation. We want to assist operators by providing them with a formal process for notifying material changes and to assist us to remain informed of how services are being provided to the market. We consider it to be in the interests of both parties, and passengers, to ensure that any changes comply with applicable legal requirements to avoid the need for future regulatory and/or licensing action.
</p>
<p>Before making any changes, operators must bear in mind that they are still required to meet the same legislative requirements under which their licence has been issued including any conditions of their licence.</p>
<p>
This guidance is designed to help licensees to understand how the new condition applies and the types of change which warrant notification, as opposed to those which do not. We can't produce an exhaustive list of the changes suitable for notification; the condition is defined by reference to the regulatory framework itself.</p>
<p>
If you are in any doubt as to whether you should notify us about a change, please contact us.</p>
<h2>Licence condition</h2>
<p>
Regulation 9(13) of the Private Hire Vehicles (London) (Operators' Licences) Regulations 2000 provides that: 'The operator shall notify the licensing authority of any material changes to its operating model that may affect the operator's compliance with the 1998 Act, these Regulations or any conditions of that operator's licence, before those changes are made.'</p>
<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<p>We consider an operating model to be the means by which an operator offers, accepts and delivers private hire vehicle services.</p>

<p>A material change is something which has more than a minor impact on the operating model. For example, it might relate to how passengers engage with operators, how bookings are accepted, what services are delivered and how they're delivered. If you're uncertain about whether a change an operator is making is material, these examples may help.</p>

<p>Please note, this new licence condition does not change, and is additional to, the existing obligation for operators to advise us of any changes to the information that was provided as part of their licence application. Like that obligation, the new requirement does not entail prior authorisation for changes. The new requirement is consistent with our overall desire to maintain a productive dialogue with our licensed operators, in our best interests, the operators themselves, drivers and passengers.</p>

<h2>Changes to notify us about</h2>

<p>These are the types of changes which would warrant notification. They include (but are not limited to):</p>

<ul>
	<li>The introduction of new kinds of passenger services such as ridesharing;</li>
	<li>The introduction of services where it is not immediately clear whether they would fall within the scope of private hire legislation e.g. provision of driverless vehicles, car services for hotels, private members clubs, one-off public events and social or healthcare facilities;</li>
	<li>The introduction of a new payment method e.g. if drivers only accept payment by credit or debit card or over the internet;</li>
	<li>The introduction of new app-based booking systems and additional services offered through existing apps;</li>
	<li>Sub-contracting the majority of bookings to other licensed operators either in London or elsewhere; and/or</li>
	<li>Providing private hire services in another licensing authority area using TfL licensed drivers and vehicles.</li>
</ul>

<h2>Changes not to notify us about</h2>

<p>These types of changes do not warrant notification. They include (but are not limited to):</p>

<ul>
	<li>Offering additional services of existing kinds, such as executive cars, airport transfers, etc.;</li>
	<li>New contracts or changes to existing contracts to provide private hire vehicle services that do not materially alter the relationship between or the parties to the contract;</li>
	<li>The inclusion of promotions and additional services alongside the provision of a private hire journey such as entertainment, food and drink, fare discounts, free credits etc.;</li>
	<li>Media advertising (provided it doesn't contravene section 31 of the Private Hire Vehicles (London) Act 1998);</li>
	<li>Corporate branding (unless intended to be displayed on, from or in vehicles);</li>
	<li>Internal accounting; and/or</li>
	<li>Upgrades to dispatch and recording systems etc.</li>
</ul>

<h2>Where to send notifications</h2>

<p>Notifications of changes to operating models should be made in writing by email to: tph.operators&#64;tfl.gov.uk<br />
or by post to:</p>

<p>PHV Operator Licensing<br />
TfL Taxi and Private Hire<br />
230 Blackfriars Road<br />
London SE1 8NW</p>

<p>By providing us with this information, operators may wish to explain how the change complies with the applicable legal requirements including the conditions of their licence. Operators will have had to consider these matters before deciding to change their operating model.</p>

<p>We consider that will be in the interests of all parties to engage in a constructive dialogue at an early stage, and operators are advised to notify us of any proposed material operating model changes at the earliest opportunity, ideally at least 28 days before the changes will take effect. However, there is no formal requirement to notify us at any particular stage, as long as notification occurs before the changes are made.</p>

<p>The requirement is not a pre-authorisation obligation: operators may adopt whatever changes they see fit without waiting for formal authorisation or approval from us.</p>

<p>Operators remain responsible for their compliance with all applicable legal requirements.</p>

<p>This guidance will be kept under review and may be updated from time to time. If it becomes apparent over time that this guidance needs to be amended, in the light of practical difficulties with compliance or other concerns, this will be considered at the appropriate time.&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/changes-to-operating-models">Changes to operating models</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page for private vehicle operators about changing their operating models";}
        
            
        


 