
    
  



@{ViewBag.Title = "Meetings";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Meetings</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Meetings</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Private hire and taxi licensing compliance and enforcement meeting action tracker. <BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div class="module-grid clearfix">
<div>

<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/taxi-meetings?intcmp=48644" >
        
        
        <div class="text-link">
             <h2>Taxi meetings</h2>
            <p>Find out more about our quarterly meetings with taxi trade representatives</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/suburban-driver-forums?intcmp=48641" >
        
        
        <div class="text-link">
             <h2>Suburban driver forums</h2>
            <p>These meetings give suburban drivers the chance to share their views </p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/private-hire-meetings?intcmp=48647" >
        
        
        <div class="text-link">
             <h2>Private hire meetings</h2>
            <p>Find out more about our quarterly meetings with private hire trade representatives </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    
</div>
 
 
</div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/suburban-driver-forums">Suburban Driver Forums</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-meetings">Taxi meetings</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/private-hire-meetings">Private hire meetings</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page about TPH meetings";}
        
            
        


 