
    
  



@{ViewBag.Title = "Compliance and enforcement";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/compliance-and-enforcement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
            
                <li><span class="last-breadcrumb">Compliance and enforcement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Compliance and enforcement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        More on the work we do to keep our passengers safe and the support we provide for taxi and private hire drivers.
        
      </div>
    
    <div class="on-this-page">
      <p>We aim to maintain high industry standards by working with the police and other bodies to improve passenger safety, and to support legitimate and law abiding taxi and private hire drivers. </p>
<p>To do this, we use a wide range of covert and high visibility tactics to deter, disrupt, and enforce against illegal and non-compliant drivers, vehicles and operators.</p>
<p>For example, as part of our Safer Travel at Night operation, we have teams of officers educating passengers on the dangers of using unbooked minicabs.  Alongside this, covert (plain-clothed) officers target touts, fraudulent and unlicensed drivers, and sexual predators - all of whom pose risks to the travelling public.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-operator-inspections.pdf">
    <div class="document-download-text">
        <p>Operator compliance inspections</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 476KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 <div>

<h2>Reporting illegal activity</h2>

<p>To help us in tasking and deploying compliance officers, and investigating allegations of non-compliance and illegal activity, we depend on information and intelligence from taxi and private hire drivers. We are grateful for all information received.</p>

<p>You can send us reports of illegal or non-compliant taxi and private hire-related activity using the <a href="https://tfl.gov.uk/forms/12368.aspx">web form</a>. You'll need the following information:</p>

<ul>
	<li>The nature of the offence</li>
	<li>Date, time and location</li>
	<li>Vehicle registration number or driver licence number</li>
	<li>A crime reference number (if reported to police)</li>
</ul>

<p>For comments or complaints about drivers or operators please use the <a href="/help-and-contact/contact-us-about-taxi-and-private-hire">customer form</a> or call 0343 222 4000.</p>

<ul>
</ul>

<h3>What to report</h3>

<p>There are many types of reports we find useful. These include:</p>

<ul>
	<li>Touting or unlawful plying for hire</li>
	<li>Unlicensed drivers or vehicles being allocated a booking by an operator</li>
	<li>Accessibility complaint including refusal to pick up an assistance dog or wheelchair</li>
	<li>Damaged, missing or fake identifiers</li>
	<li>Illegal advertising</li>
	<li>Misuse of the words taxi or cab in private hire advertising (Section 31 offence)</li>
	<li>Poor vehicle condition (including as a result of a road traffic incident)</li>
	<li>Smoking or vaping in a licensed vehicle</li>
</ul>

<p>Our Compliance, Policing and On-street Operations Directorate use these reports to help determine what our compliance and on-street enforcement officers do. For example, after investigating received reports, officers may be deployed to places where problems have been reported. If the report is against a licence holder, a note will be made on their record of the issue and will be taken into consideration when their licence is up for review. In some cases, if the report is sufficiently detailed and conclusive and there is evidence of the offence, we may be able to take action purely on the basis of information submitted and issue a sanction.</p>

<p>We cannot give feedback on each report submitted. This is because while matters are being investigated the subject is protected, by law. You may be contacted to provide a witness statement as part of gathering evidence.</p>

<p>Road traffic offences and criminal allegations should always be referred to the police in the first instance. The police will provide you with a crime reference number, which you can provide to us to help track the case.</p>

<p>The police will notify us if a licensed driver or operator is involved so that we can take appropriate action.</p>

<p>Unsafe driving can be reported to the police using <a href="https://www.met.police.uk/roadsafelondon/">Roadsafe London</a>.</p>

<p>To report a crime to the police that already taken place, call 101. In an emergency phone 999.</p>

<h2>Safer Travel at Night</h2>

<h3>Advice for licensees</h3>

<p>We are working closely with the police to keep people safe when they are travelling, and to crack down on any illegal taxi and private hire activity that puts passengers at risk.</p>

<p>There is a range of activity underway from the annual Safer Travel at Night (STaN) communications campaign, which warns the public of the dangers of unbooked minicabs. Our compliance officers are working alongside the police to carry out vehicle and driver licensing checks, visit private hire operators, engage with the public and undertake other activities to detect drivers who are breaking the law.</p>

<p>STaN focuses on the risks of using an unbooked minicab - including unlicensed bogus cabs and licensed private hire drivers who are touting or illegally plying for hire. Unbooked minicabs are illegal, not insured to carry passengers, and pose a serious risk to their passengers - including rape and serious sexual offences. The campaign provides information on the rules for using taxi and private hire vehicles and encourages the public to use taxis or booked, licensed minicabs.</p>

<p>As a licensed taxi or private hire driver you have a responsibility for ensuring that your passengers are safe when travelling in your vehicle. The way you interact with your customers affects the way that a customer feels about the journey they make with you. We expect the highest standards of conduct from licensed taxi and private hire drivers.</p>

<p>No form of sexual conduct between a licensed driver and a passenger is ever acceptable, even if it is consensual. Avoid any behavior that&nbsp;could be considered to be of a sexual nature, no matter how well intentioned or harmless you think it is, as it will not be tolerated. This includes commenting on someone's appearance or looking at a passenger in a way that could make them feel uncomfortable.</p>

<p>We take this issue extremely seriously: all complaints and reports to&nbsp;us or the police will be fully investigated and appropriate action will be taken. A driver will lose their licence if they are found to have acted in an inappropriate way towards a passenger.</p>

<p>If you see or hear of any inappropriate driver behaviour, you can report it by calling our customer complaint line on 0343 222 4000, emailing TPHintel&#64;tfl.gov.uk, or filling in the<a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire"> </a><a href="/help-and-contact/taxi-and-private-hire-comments">online complaints form</a>. If you feel a customer may be in immediate danger, call 999.</p>

<p>Find out more about our statistics on <a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">taxi and private hire-related sexual offences</a>.</p>

<h2>Compliance officer powers</h2>

<p>Compliance officers are employed to inspect licensed taxi and private hire drivers, vehicles, and private hire operators in London to ensure they comply with relevant legislation and regulations.</p>

<p>They support the licensed and law-abiding taxi and private hire trade to ensure the highest standards of passenger safety, operation and compliance with regulations, by deterring and detecting non-compliant and illegal activity.</p>

<p>They use information received to undertake intelligence-led deployments across London, using a range of tactics - including on-street high visibility stop site operations, high visibility patrols of hotspot locations and targeted operator visits.</p>

<p>They can report breaches of legislation and regulations, which could lead to a formal sanction&nbsp;- such as a&nbsp;warning, Fixed Penalty Notice, prosecution or licence review. In circumstances involving serious vehicle non-compliance issues, a compliance officer can also suspend a taxi or private hire vehicle licence.</p>

<p>Compliance officers' powers to take action in respect of taxis are contained within the London Hackney Carriages Acts of 1831, 1843 and 1853; the Metropolitan Public Carriages Act 1869; and the London Cab Order 1934.</p>

<p>Compliance officers' powers to take action in respect of private hire are contained within the Private Hire Vehicle (London) Act 1998 and associated Regulations.</p>

<p>With these powers, compliance officers can:</p>

<ul>
	<li>request a copy of the certificate of insurance for inspection</li>
	<li>request a driver, vehicle (and for PHV, operator) licence for inspection</li>
	<li>request a vehicle to be inspected</li>
	<li>request a badge/driver ID for inspection</li>
	<li>remove and retain a plate/disc of expired, suspended or revoked licences</li>
</ul>

<p>These are just a few examples, and not an exhaustive list.</p>

<p>Compliance officers have also recently been given new powers by the Metropolitan Police under the Community Safety and Accreditation Scheme (CSAS). These enable officers who have received CSAS training to stop vehicles for inspection, testing and verification of licensing conditions, and the power to demand the name and address of the driver.</p>

<p>If a driver fails to stop when directed by a CSAS-trained officer, it is a criminal offence and will be reported to the police and TPH for investigation and action. Under the new system, groups of six compliance officers cordon off&nbsp;a stop area which enables them to inspect both sides of the vehicle safely. Stops are carried out as quickly as possible to minimise disruption to any passengers.</p>

<p>It is also a criminal offence to wilfully obstruct a compliance officer from undertaking their duties and anyone doing so can be prosecuted.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxis-private-hire-enforcement-policy.pdf">
    <div class="document-download-text">
        <p>Enforcement policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 <div>

<h3>Compliance officer identity</h3>
<p>New badges for compliance officers were introduced in January 2017.</p>
</div>
 
<div class="module-grid clearfix">
<div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/compliance-gold-badge3_rdax_400x250.jpg" alt="Gold badge" />
        <span class="caption">Example of a compliance manager gold badge</span>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/compliance-silver-badge2_rdax_400x250.jpg" alt="TPH compliance officer badge 2" />
        <span class="caption">Example of a compliance officer silver badge</span>
        
        
    </div>
    
 </div>
 
</div>
 
<h2>Results of regular operations</h2>
<p>As part of enforcement activities, a number of regular operations take place to target illegal and non-compliant activity. These operations are conducted by our compliance officers and dedicated taxi and private hire policing officers within the Metropolitan Police Service and City of London Police. You can see the latest compliance and enforcement statistics in our slides from <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">taxi and private hire trade meetings</a>.
Between 1 April 2017 and 24 June 2017:</p>
<ul>
    <li>Number of taxi drivers checked 11,920</li>
    <li>% of taxi drivers fully compliant 90%</li>
    <li>Number of taxi vehicles checked 12,016</li>
    <li>% of taxi vehicles fully compliant 87%</li>
</ul>
<ul>
    <li>Number of private hire drivers checked 34,559</li>
    <li>% of private hire drivers fully compliant 88%</li>
    <li>Number of private hire vehicles checked 37,263</li>
    <li>% of private hire vehicles fully compliant 92%</li>
</ul>
<p>The main areas of non-compliance for taxis are:</p>
<ul>
    <li>Drivers not wearing their badge</li>
    <li>Taxis not having undertaken their second MOT</li>
    <li>Vehicle defects</li>
</ul>
<p>The main areas of non-compliance for private hire are:</p>
<ul>
    <li>Drivers not wearing their photo ID</li>
    <li>Insurance documentation not displayed/available when requested</li>
    <li>Vehicle defects</li>
</ul>
<p><strong>Dedicated cab enforcement officer arrests</strong></p>
<p>Our combined funded policing resources dedicated to taxi and private hire policing across the Metropolitan Police Service (MPS) and City of London Police (CoLP) made 171 arrests between April 2016 and February 2017, of which 58 were for touting offences, and 28 for plying for hire offences. We will normally revoke licences from drivers convicted (or cautioned for) touting offences.</p>
<p>Touting is a recordable offence which allows fingerprints and DNA samples to be collected - which in turn can lead to the resolution of past or future crimes where DNA is available.</p>

<h2>Over ranking and blocking ranks</h2>

<p>Over ranking is disruptive to local businesses and residents, and is a major cause of traffic congestion. It also delays bus services and can make authorities reluctant to consider new, future ranks.</p>

<p>Private hire vehicles stopping on taxi ranks cause disruption by preventing taxis from using the ranks. They are not permitted to stop on taxi ranks.</p>

<p>We've identified a number of hotspots where over ranking has caused significant problems. These include:</p>

<ul>
	<li>Finsbury Park station</li>
	<li>Kings Cross St Pancras</li>
	<li>London Bridge station</li>
	<li>Marylebone station</li>
	<li>Outside Harrods, Basil Street and Hans Road</li>
	<li>Outside Harrods, Brompton Road</li>
	<li>Outside Selfridges, Oxford Street</li>
	<li>Paddington station</li>
	<li>Putney High Street</li>
	<li>Tooley Street</li>
	<li>Upper Tachbrook Street (Victoria Station)</li>
</ul>

<p><strong>Unattended taxis on ranks</strong></p>

<p>Our compliance team is also tackling the issue of unattended taxis on ranks. This has been highlighted in suburban areas where taxi drivers and passengers are prevented from using a rank.</p>

<p><strong>Compliance</strong></p>

<p>Drivers must use taxi ranks appropriately. Our compliance team are targeting rank abuse, whether it be by taxis, private hire vehicles or any other vehicle, at specific locations, including those mentioned above, as a part of their regular deployment strategy.</p>

<p>We ask drivers to be aware of their responsibilities when using taxi ranks and the potential issues caused by misuse. These issues may affect future requests for new taxi ranks in high demand areas.</p>

<p>Drivers who commit offences risk having their licence reviewed.</p>

<p>You can report any problems with unattended taxis or PHVs on taxi ranks by filling out a <a href="/help-and-contact/reporting-touting-and-illegal-cabs">form</a>.</p>

<p>Parking contraventions such as private cars parked on taxi ranks should be reported to the local authority. Links to do so are available on the <a href="/info-for/taxis-and-private-hire/taxi-ranks">ranks page</a>.</p>

<h2>Badges and driver IDs</h2>

<p>Please remember that taxi drivers must wear their badge, and private hire drivers must wear their driver ID, at all times while working. This is a public safety issue as it is an important way for members of the public to identify you as a licensed driver.</p>

<p>We're taking action against drivers who do not clearly display their badge or driver ID. If you are found to be working without your badge or driver ID, this breach of compliance may be subject to penalties and may lead to licensing action.</p>

<h2>Rickshaws/pedicabs</h2>

<p>Currently, we do not have the powers to regulate, or license, pedicabs (also known as rickshaws) in London. The Government has announced that it will bring forward legislation that would bring pedicabs within our regulatory framework and subject to our licensing regime.This would allow us to set appropriate licensing standards and enforce those standards.</p>

<p>In the meantime, we will continue to work with the police and the London Borough of Westminster to run operations to tackle dangerous and antisocial behaviour from pedicab riders.</p>

<h2>Congestion Charge Zone exemption</h2>

<p>Ninety-four per cent of private hire vehicles undergoing random Congestion Charge Zone (CCZ) exemption checks by TfL are able to account for a valid private hire booking that day. However, given the significant increase in the overall numbers of licensed private hire vehicles, as well as those seen in the CCZ on a daily basis, additional staff have been allocated to increase the number of exemption checks made. We take appropriate action against vehicle owners who misuse their Congestion Charge exemption.</p>

<h2>Cross border hiring</h2>

<p>Currently, PHVs can undertake bookings anywhere in England and Wales, provided:</p>

<ul>
	<li>The vehicle, driver and operator are licensed by the same licensing authority</li>
	<li>The booking is accepted by the operator within this authority, regardless of where the driver and vehicle are physically located</li>
</ul>

<p>This is commonly referred to as the 'triple licensing requirement' and could cause significant issues in London with enforcement, congestion, emissions and parking, as well as creating issues in other licensing authority areas.</p>

<p>A national change is required to address issues of cross border hiring which will otherwise further contribute to enforcement, congestion, pollution and parking issues in London.</p>

<p>We do not have powers to restrict this type of cross border operation and are currently raising our concerns with government to ensure we have appropriate controls.</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "More on the work we do to keep our passengers safe and the support we provide for taxi and private hire drivers.";}
        
            
        


 