
    
  



@{ViewBag.Title = "News and updates";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/driver-news-and-updates";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
            
                <li><span class="last-breadcrumb">News and updates</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>News and updates</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
<div class="module-grid clearfix">
<div>

<div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>OnRoute magazine</h2>
        
        
        <p>OnRoute, our magazine for taxi and private hire drivers, is now available. If you have feedback, letters or content suggestions, email <a href="mailto:OnRoute&#64;tfl.gov.uk">OnRoute&#64;tfl.gov.uk</a></p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/onroute-issue-23.pdf">
    <div class="document-download-text">
        <p>Issue 23</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/onroute-issue23.jpg" alt="OnRoute Issue 23" />
    </div>

</a>

<!-- 6.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onroute-issue-22.pdf">
    <div class="document-download-text">
        <p>Issue 22</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.09 -->
 
        </div>
        <p>Read <a href="/corporate/publications-and-reports/onroute-back-issues">previous issues of OnRoute</a>.</p>
    </div>
</div>



 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/press-releases-and-news?intcmp=34231" >
        
        
        <div class="text-link">
             <h2>TPH news and press releases</h2>
            <p>Catch up on taxi and private hire-related news</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Bulletins</h2>
        
        
        <p>Our weekly bulletins keep you up-to-date with important licensing information, and&nbsp;events that could affect your journeys.&nbsp;</p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-driver-bulletin-27-february-2020.pdf">
    <div class="document-download-text">
        <p>27 February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-driver-bulletin-20-february-2020.pdf">
    <div class="document-download-text">
        <p>20 February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-driver-bulletin-13-february-2020.pdf">
    <div class="document-download-text">
        <p>13 February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
        </div>
        
    </div>
</div>



 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/notices-and-consultations?intcmp=9127" >
        
        
        <div class="text-link">
             <h2>Notices and consultations</h2>
            <p>Get more information about our notices and consultations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings?intcmp=29594" >
        
        
        <div class="text-link">
             <h2>Meetings</h2>
            <p>Private hire and taxi licensing compliance and enforcement meeting action tracker</p>
        </div>
    </a>
</div>
 
 
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our weekly bulletins keep you up-to-date with events that could affect your journeys.";}
        
            
        


 