
    
  



@{ViewBag.Title = "Emissions standards for taxis";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/emissions-standards-for-taxis";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emissions standards for taxis</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emissions standards for taxis</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out how we plan to deliver the greenest taxi fleet in the world.
        
      </div>
    
    <div class="on-this-page">
      <p>Tackling pollution in London is a public health priority. To combat poor air quality, innovative and bold measures are being taken to ensure the health and wellbeing of all road users. Historically, the taxi trade has had a limited choice of diesel vehicles to use. This has led to the fleet becoming a significant contributor to poor air quality, particularly in central London, where they contribute 25% of all transport Nitrous Oxide (NOx) in central London.</p>

<p>The <a href="/corporate/publications-and-reports/taxi-and-private-hire">Mayor's Taxi and Private Hire Action Plan</a>, published in 2016, sets out how we intend to establish the world's greenest taxi fleet.</p>

<p>Our plans aren't just limited to taxi vehicles,&nbsp;<a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-phvs">take a look at how we are transforming London's private hire fleet</a>.</p>

<p>Detailed information on licensing requirements for taxi/minicab drivers and operators is in the <a href="/info-for/taxis-and-private-hire/index">Taxi&nbsp;and private hire pages</a>.</p>
      
           
      <div>

<h2>Taxi delicensing</h2>

<p>TfL has restructured and enhanced&nbsp;the taxi delicensing scheme, with &pound;42m available for taxi drivers who delicence their vehicles. Top payments of &pound;10,000 are available to the first 1250 eligible applicants. You can find out more about these changes and your eligibility on our <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme">dedicated taxi delicensing page</a>.</p>

<h2>Zero Emission Capable (ZEC) taxis</h2>

<p>On 1 January 2018, we introduced licensing requirements to reduce emissions from the taxi fleet by phasing out diesel taxis and increasing the number of ZEC vehicles in London. The maximum 15 year age limit remains in place.</p>

<h3>New licensing requirements from 1 January 2018</h3>

<ul>
	<li>Since 1 January 2018, taxis presented for licensing for the first time have needed to be ZEC. This means having CO2 emissions of no more than 50g/km and a minimum 30 mile zero emission range</li>
	<li>First-time taxi vehicle licences are no longer granted to diesel taxis. ZEC taxis with petrol engines need to meet the latest emissions standard (currently Euro 6)</li>
</ul>

<h3>How we are helping you to get a ZEC vehicle</h3>

<p>We are helping to fund a government-led <a href="https://www.gov.uk/plug-in-car-van-grants">plug-in vehicle grant</a>, which will give taxi drivers up to &pound;7,500 off the price of a new ZEC taxi.</p>

<h3>How to charge your ZEC vehicle at home</h3>

<p>You can charge your ZEC vehicle at home overnight. Find out more about the <a href="https://www.gov.uk/government/collections/government-grants-for-low-emission-vehicles">government grants available to you</a> to install charging infrastructure for your ZEC vehicle.</p>

<p>If you do not have off-street parking, your local authority may be able to install charge points near you. Information on charging points will be included in our weekly email to all licensees. An updated list of rapid charge points will also be available online. Additionally, follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter for up-to-date information.</p>

<h3>How to charge your ZEC vehicle when you're working</h3>

<p>You can charge your ZEC vehicle at public charging points. Read more about <a href="/modes/driving/electric-vehicles-and-rapid-charging">electric vehicles and rapid charging in London</a>.</p>

<p>We're working to deliver 300 new rapid charge points by the end of 2020. We will install 150 by the end of 2018, a significant number of which will be dedicated for taxi use only. To locate rapid charge points near you, <a href="http://www.national-charge-point-registry.uk/">visit the National Charge Point Registry website</a>, or visit the <a href="https://www.zap-map.com/live/">Zap Map</a>, on which you can filter for "taxi-only" charging points and you can see whether a particular charging point is currently available or occupied.</p>

<h2>Q-Parks</h2>

<p>If you have a ZEC taxi you can get free access to the rapid charge points in 10 Q-Park car parks. You can stay for up to an hour to charge your vehicle. To apply for an access card, email <a href="mailto:RCPaccess&#64;tfl.gov.uk">RCPaccess&#64;tfl.gov.uk</a>.&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">From 2 December 2019,&nbsp;we are making changes to the payment processes at the Q-Parks. Taxi drivers will be able to reclaim the &pound;2 entry fee paid on entering the Q-Parks for visits between 2 December 2019 and 31 March 2020 inclusive.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">To claim back the &pound;2 entrance fee, taxi drivers must submit one claim form to TfL which must cover the total number of entrances made into the Q-Parks between 2 December 2019 and 31 March 2020. Taxi drivers must collect and retain a receipt every time they exit the Q-Parks as receipts will be required to support your submission for a reimbursement claim to TfL. The claim form will be available to complete from 1 April 2020 and the new terms and conditions are available <a href="/cdn/static/cms/documents/q-park-terms-and-conditions.pdf">here</a>.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p>Check on the <a href="https://www.zap-map.com/live/">Zap Map</a> which rapid charging bays are available and which are occupied to make sure you can get access when you need it.</p>
</div>
 <div>

<h2>Taxi Vehicle Age Limits</h2>

<p>From 1 November 2019 the maximum taxi operating age has been mandated so that no taxi will be licensed to operate over its relevant age limit. This will apply to all licensed taxis.</p>

<p>Between 1 November 2020 and 1 November 2022 the age limit of Euro 3, 4 and 5 diesel taxis will be reduced by one year, each year. The age limit for Zero emission capable (ZEC taxis), Euro 6 vehicles and taxis new converted to run on Liquid Petroleum Gas (LPG) will remain at 15 years throughout this period.</p>

<p>Since 1 November 2019&nbsp;taxi age limit exemptions have been removed. These&nbsp;include:</p>

<ul>
	<li>Alternative fuel conversion exemptions (such as LPG)</li>
	<li>historic and classic/niche vehicles exemptions</li>
	<li>hardship/personal circumstance exemptions</li>
</ul>

<p>All exemptions granted to specific taxi vehicles or taxi drivers prior to 1 November 2019 have been retained.</p>

<p>TfL will retain the general discretion to grant exemptions in exceptional circumstances, where we consider it reasonable to do so. This includes personal circumstances. All applications for an exemption will be assessed on a case-by-case basis.</p>

<p>Please be aware that taxi vehicle ages will continue to be calculated from the date of the vehicle's first registration with the DVLA under the Vehicle and Excise Registration Act 1994. For further information and guidance about age limits and exemptions, please view <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/notices-and-consultations">TPH Notice 05/19</a></p>

<p>The changes to taxi vehicle age limits and age limits follow a&nbsp;<a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/">public consultation</a>&nbsp;by&nbsp;Transport for London changes to taxi vehicle age limits and exemptions. These changes have been introduced in order to reduce harmful emissions from taxis and improve air quality in the Capital.</p>

<p>The <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/user_uploads/taxi-age-limits-consultation-report.pdf">taxi age limits consultation report</a> and <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/user_uploads/taxi-age-limit-decision-paper.pdf">decision paper</a> which summarises the consultation report and makes recommendations to the Commissioner, is available for download.</p>
</div>
 

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<caption><strong>Taxi age limit/ maximum operating age (years)</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="width: 94px;">Date effective</th>
			<th scope="col" style="width: 111px;">Euro 3, 4 and 5 diesel taxis</th>
			<th scope="col" style="width: 88px;">Euro 6 diesel taxis</th>
			<th scope="col" style="width: 104px;">Newly converted LPG taxis</th>
			<th scope="col" style="width: 75px;">ZEC taxis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:94px">From 1 November 2019</td>
			<td style="width:111px">15</td>
			<td style="width:88px">15</td>
			<td style="width:104px">15</td>
			<td style="width:75px">15</td>
		</tr>
		<tr>
			<td style="width:94px">From 1 November 2020</td>
			<td style="width:111px">14</td>
			<td style="width:88px">15</td>
			<td style="width:104px">15</td>
			<td style="width:75px">15</td>
		</tr>
		<tr>
			<td style="width:94px">From 1 November 2021</td>
			<td style="width:111px">13</td>
			<td style="width:88px">15</td>
			<td style="width:104px">15</td>
			<td style="width:75px">15</td>
		</tr>
		<tr>
			<td style="width:94px">From 1 November 2022</td>
			<td style="width:111px">12</td>
			<td style="width:88px">15</td>
			<td style="width:104px">15</td>
			<td style="width:75px">15</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2>Taxi Vehicle Age Limits calculator</h2>

<p>To assist taxi vehicle owners, we have produced a calculator which will tell you the last date that a license can be issued to your vehicle.</p>

<p>To use, simply input the DVLA date of registration of your vehicle in to the appropriate field. The calculator will then generate the last date that a licence can be issued to your vehicle in the field below.</p>

<ul>
	<li>Do not use the taxi age limits calculator if your vehicle has undergone a&nbsp;Liquid Petroleum Gas (LPG) conversion</li>
	<li>This calculator is not applicable to Euro 6 or Zero Emission Capable (ZEC) vehicles</li>
	<li>You must allow sufficient time to relicense your vehicle, or to rectify any issues that may arise from a licensing inspection prior to the last date that it can be licensed.</li>
	<li>Your vehicle cannot be licensed if it has already reached 15 years of age</li>
</ul>

<h2>Liquid Petroleum Gas (LPG) conversions</h2>

<p>A brand new &pound;5 million fund to help up to 1000 owners of eligible Euro 5 taxis* to convert to Liquid Petroleum Gas (LPG), a much cleaner fuel system, has been created.</p>

<p>Independent testing shows that an average TX4 taxi emits over 70 per cent less NOx after being converted to run on LPG. Trials also show that drivers of LPG-converted taxis can save around &pound;200 a month in fuel costs.</p>

<p>A limited number of LPG conversion grants are available to drivers of eligible Euro 5 taxis to support the shift of those vehicles with the worst NOx emissions to cleaner vehicles.</p>

<p>You can apply for an LPG conversion grant by completing the PDF application form below.</p>

<p>From 1 November 2019, all newly converted LPG taxis* will retain a 15 year maximum operating age limit (calculated from the DVLA registration date).</p>

<p>LPG-converted taxis with an alternative fuel conversion age limit exemption granted before 1 November 2019 will retain their maximum operating age of 20 years. This applies to the age of the vehicle and not the license duration, the exemption will only be valid to allow a 12 month license, if the vehicle does not turn 20 during the license period of 12 months.</p>

<p>To register your interest, please <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v2W9H-9d6k6mkqCJwlU0a57ERkTNilNOn2I3r4GrEJlUMDVHSzJMVTRWRlpMMjZXU1pLT0NaQjNHRi4u">fill in our form</a>.</p>

<p>*Please note LPG conversions are currently only possible on LTI TX models. There is no conversion on the market suitable for a Mercedes Vito Taxi.</p>

 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-delicensing-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>Taxi Delicensing terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lpg-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>LPG terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/taxi-age-limits-calculator-upload.xlsx">
    <div class="document-download-text">
        <p>Taxi Age Limits calculator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-age-limits-additional-information.pdf">
    <div class="document-download-text">
        <p>Taxi Age Limits - Additional Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme"  class="plain-button">Taxi delicensing scheme</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL intends to establish the Capital's taxi fleet as the greenest in the world ";}
        
            
        


 