
    
  



@{ViewBag.Title = "Emissions standards for PHVs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/emissions-standards-for-phvs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emissions standards for PHVs</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emissions standards for PHVs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out what emissions standards your private hire vehicle needs to meet from 1 January 2020
        
      </div>
    
    <div class="on-this-page">
      <h2>Changes to private hire vehicle licensing requirements</h2>

<p>Following an extensive <a href="https://consultations.tfl.gov.uk/environment/ulez-2/">consultation process</a>, to help reduce emissions in London and improve air quality for everyone, licensing requirements for private hire vehicles (PHVs) are changing from 1 January 2020.</p>

<p>These changes only apply to vehicles being licensed as a PHV for the first time in London. PHVs that are already licensed in London are not affected.</p>

<p>There are several key dates to be aware of:</p>

<p><strong>Between 1 January 2020 to 31 December 2022</strong></p>

<ul>
	<li>PHVs under 18 months old must be zero emission capable (ZEC) and meet the Euro 6 emissions standard when licensed for the first time</li>
	<li>PHVs over 18 months old must have a Euro 6 (petrol or diesel) engine when licensed for the first time</li>
</ul>

<p><strong>From 1 January 2023</strong></p>

<ul>
	<li>All PHVs licensed for the first time must be ZEC and meet the Euro 6 emissions standard</li>
</ul>

<h2>Zero Emission Capable (ZEC)</h2>

<p>To meet the PHV ZEC requirements a vehicle must:</p>

<ul>
	<li>Emit no more than 50g/km CO2 and be capable of being operated with no (zero) exhaust emissions for a minimum range of 10 miles (16.093 km); or</li>
	<li>Emit no more than 75g/km CO2 exhaust emissions and be capable of being operated with no (zero) emissions for a minimum range of 20 miles (32.187 km)</li>
</ul>

<p>As a minimum, the vehicle must also meet the Euro 6 emissions standard</p>

<p><strong>How to check if your vehicle is compliant</strong>:</p>

<p>If you are considering buying a new vehicle to use as a PHV which has not been licenced in London before and is under 18 months old, you must check that it meets the ZEC requirements &#45; we suggest you do this before any potential purchase of a vehicle.</p>

<p>If the vehicle is under 18 months old and new to licensing, please consider the following:</p>

<ul>
	<li>Is the vehicle fully electric or a hydrogen fuel cell vehicle? If yes, then the vehicle will meet the PHV ZEC requirement.</li>
	<li>Check the V5C document to ensure the vehicle is, as a minimum Euro 6. If it is not, it will not meet the PHV ZEC requirement.</li>
</ul>

<p>Check the stated CO2 emission standard on the V5C document:</p>

<ul>
	<li>If it is over 75g/km &#45; the vehicle will not meet the PHV ZEC requirement</li>
	<li>If it is under 75g/km &#45; the vehicle may meet the PHV ZEC requirement (see further requirements below)</li>
</ul>

<p>Check the range the vehicle can driven in pure electric mode (the zero emission range)</p>

<p>The V5C confirms that the vehicle emits no more than 50g/km CO2. The vehicle must also be capable of being operated with no (zero) exhaust emissions for a minimum range of 10 miles (16.093 km)</p>

<p>The V5C document confirms that the vehicle emits no more than 75g/km CO2. The vehicle must also be capable of operating with no (zero) emissions for a minimum range of 20 miles (32.187 km)</p>

<p>The V5C document does not provide all the required information, you should obtain a Manufacturer's Certificate of Conformity that will provide confirmation of the zero emission range, CO2 emissions and Euro emission standard.</p>

<p>We have also produced a <a href="http://content.tfl.gov.uk/zec-phv-list.pdf">non-exhaustive list of vehicles</a> that have been determined as meeting the new PHV ZEC requirements. This list will be updated as new vehicles are identified.</p>

<p>If you believe your vehicle does meet the new PHV ZEC requirement, but is not found in <a href="http://content.tfl.gov.uk/list-of-zec-phvs.pdf">the list</a>, then please provide evidence of it meeting the requirement (e.g. V5C and Manufacturer's Certificate of Conformity) to the following email address where we will consider it further: <a href="mailto:ltphcontractsteam&#64;tfl.gov.uk">ltphcontractsteam&#64;tfl.gov.uk</a></p>

<h2>Go Ultra Low website</h2>

<p>Before purchasing a vehicle you may also wish to consult the <a href="https://www.goultralow.com/">Go Ultra website</a>, which provides details of a wide range of vehicles, including price, their CO2 emissions and zero emission range.</p>

<p>The Go Ultra Low website details many of the major vehicle manufacturers' vehicle specifications, including electric vehicle range and CO2 emissions, to aid you in identifying the correct vehicle for you. It also provides links to manufacturers' website for you to carry out a more detailed assessment of vehicles.</p>

<p>The Go Ultra Low website also includes information about grants available for chargers at home, plus information for fleets and businesses.</p>

<h2>Presenting a vehicle for licensing</h2>

<p>When presenting a vehicle for licensing, evidence must be provided to ensure the vehicles meets TfL's PHV ZEC criteria. If you are unable to provide evidence within 21 days your application will be refused. We reserve the right to not licence the vehicle until such time all required evidence can be provided that demonstrates that your vehicle meets our licencing requirements. We recommend that prior to purchase you ensure the vehicle meets the new ZEC licensing requirement.</p>

<p>Acceptable documents to verify PHV ZEC criteria are:</p>

<ul>
	<li>V5C document for CO2 emissions and Euro emission standard</li>
	<li>Manufacturers' certificate of conformity for electric range, CO2 emission standard and Euro emission standard</li>
	<li>Confirmation email from TfL stating the vehicle has been exempted from the Congestion Charge via the Cleaner Vehicle Discount (CVD) register method</li>
</ul>

<h2>Ultra Low Emission Zone</h2>

<p>On 8 April 2019, the Ultra Low Emission Zone (ULEZ) launched in central London to help improve air quality and the health of Londoners.</p>

<p>From 2021, this zone will be expanded up to (but not including) the North and South Circular. Private hire vehicles designated as wheelchair-accessible by TfL will be exempt from the charge until 26 October 2025.</p>

<p>All other PHVs need to meet exhaust emissions standards (ULEZ standards) or pay an additional daily charge when travelling within central London.</p>

<p>You will need to consider these emissions standards ahead of driving in to the zone and should check if your vehicle will meet the standards to help you plan ahead.</p>

<p>Cleaner emissions aren't just limited to private hire vehicles. Take a look at how we are <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-taxis">transforming London's taxi fleet</a>.</p>

<p>You can find detailed information on licensing requirements for taxi/minicab drivers and operators in the <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/licensing">Taxi &amp; private hire pages</a>.</p>

<h2>Private Hire ULEZ requirements</h2>

<p>Since 8 April 2019, all PHVs travelling in the ULEZ zone need to meet certain emissions standards or pay a &pound;12.50 charge per day, unless they are registered as wheelchair accessible by TfL.</p>

<ul>
	<li>Petrol cars, vans and minibuses must be Euro 4</li>
	<li>Diesel cars, vans and minibuses must be Euro 6</li>
</ul>

<p>The emissions standard of your vehicle can usually be determined from the date of its first registration as new, which is shown on the vehicle's registration document known as the V5C.</p>

<p>Our page on the ULEZ standards has more information on checking the emissions of your vehicle.</p>

<h2>Government Plug-in Car Grant</h2>

<p>The Government currently offers a Plug-in Car Grant to reduce the initial cost of purchasing a category 1 Zero Emission Capable vehicle. The maximum grant available is &pound;3,500.</p>

<p>Previously, grants were also offered to category 2 and 3 ZEC vehicles. <a href="https://www.gov.uk/government/publications/plug-in-car-grant-changes-to-grant-level-november-2018/upcoming-changes-to-the-plug-in-car-grant">Changes to the Government's Plug-In Car Grant</a> superseded previous guidance from the national Office for Low Emission Vehicles.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/zec-phv-list.pdf">
    <div class="document-download-text">
        <p>List of ZEC PHVs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 192KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "New emission standards for PHV drivers to meet TfL's criteria for cleaner green private hire vehicles";}
        
            
        


 