
    
  



@{ViewBag.Title = "English language requirement";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/english-language-requirement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">English language requirement</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>English language requirement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        An English language requirement applies to all applications for private hire drivers licences received by TfL on, or after, 14 October 2016. This includes applications for both renewal and new licences.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>It is essential for public safety that all licensed private hire drivers are able to communicate in English at an appropriate level. Drivers need to be able to communicate with passengers to discuss a route or fare, as well as read, understand and respond to important regulatory, safety and travel information sent by TfL.</p>

<p>Previously, we stated that any application for a new or renewal private hire driver's licence that was received on or after 14 October 2016 had until 30 April 2019 to provide evidence that they comply with the English language requirement.</p>

<p>Following the Department for Transport's recently published draft statutory guidance for licensing authorities, which provides recommendations for an English assessment for licensees; we have now extended the deadline from 30 April 2019 to 30 September 2020.</p>

<p>Extending the transitional arrangements will allow TfL sufficient time to consider the recommendation and work with Government to ensure consistency in standards. After listening to the private hire industry we are also giving further consideration to reviewing the way we assess an applicant's English language skills.</p>

<p>No further action is needed by anyone who has submitted satisfactory&nbsp;evidence that they comply with the ELR, unless TfL contacts them to request anything further. If a licensee or applicant has not yet provided evidence, they now have until 30 September 2020 to do so.</p>

<p>Anyone applying for a new licence, or seeking to renew their licence on or after&nbsp;1 October&nbsp;2020 will need to satisfy the English language requirement before a licence will be granted.</p>

<h2>Examples of suitable evidence</h2>

<p>This is a list of examples of suitable evidence you can supply to prove you meet the requirement. The list is not exhaustive. The subject of the qualification does not matter as long as it was taught in English.</p>

<ul>
	<li>UK GCSE/O level (or equivalent) certificate at grades A* to G</li>
	<li>UK AS-Level/A level certificate</li>
	<li>UK NVQ*/BTEC/City &amp; Guilds qualification, along with confirmation from the awarding body that the qualification provided is equivalent to GCSE or above (for example, a Blue Badge Guide qualification)</li>
	<li>UK BA Hons, BSc Hons degree or higher i.e. master's, PhD</li>
	<li>UK HNC/HND qualification</li>
	<li>SELT certificate at B1 level or higher, issued by Trinity College London or IELTS showing proficiency in reading, writing, speaking and listening</li>
</ul>

<h2>Replacement certificates</h2>

<p>There are four accredited Ofqual awarding organisations offering GSCEs in England: <a href="http://www.aqa.org.uk/contact-us/past-results-and-lost-certificates">AQA</a>, <a href="http://www.ocr.org.uk/ocr-for/learners-and-parents/lost-or-incorrect-certificates/">OCR</a>, <a href="http://qualifications.pearson.com/en/support/Services/replacement-certificates.html">Pearson</a> and <a href="http://www.wjec.co.uk/students/certificates/">WJEC</a>. There are also others for the rest of the UK. Replacement certificates are available from those organisations.</p>

<p>A certified confirmation of results from the relevant awarding body will be acceptable.</p>

<h2>Language requirement</h2>

<p>There are currently two approved interim English language test providers: Trinity College London and IELTS (International English Language Test System).</p>

<p>Trinity College London's ISE I qualification will be accepted by TfL as evidence of meeting the new English language requirement. Find out more about <a href="http://www.trinitycollege.com/tfl">Trinity</a>, and how you can book the ISE I language test.</p>

<p>IELTS Academic and General Training tests are both accepted by TfL as evidence of meeting the new English language requirement. Find out more about <a href="https://takeielts.britishcouncil.org/united-kingdom/transport-for-london">IELTS</a>, and how you can book their tests.&nbsp;</p>

<p>Information on any further providers and how you can book them, will be published on this web page.</p>

<p>Applicants may satisfy TfL of their ability to meet the requirement by providing:</p>

<ul>
	<li>A&nbsp;certificate from one of TfL's secure English language test providers confirming that the applicant's level of proficiency in the English language is at level B1 on the Common European Framework of Reference for Languages: (&quot;CEFR&quot;) or above; or;</li>
	<li>Documentary evidence of a qualification (whether or not the qualification was obtained in the United Kingdom) on the basis of which TfL is satisfied that the applicant's level of proficiency in the English language is equivalent to level B1 on the CEFR or above.</li>
</ul>

<p>To prove that you meet the requirement, please send a scanned copy of your certificate to <a href="mailto:tphlicensing&#64;tfl.gov.uk">tphlicensing&#64;tfl.gov.uk</a>.</p>

<p>This is our guidance on how to satisfy the English language requirement. You can do this by either sitting the test with a secure TfL-appointed provider, or by&nbsp;providing satisfactory documentary evidence of your ability to speak, listen, read and write to the appropriate level in English. A copy of the amended private hire regulations regarding the English language requirement, and a copy of the Equality Impact Assessment is also included:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/english-language-requirement-guidance-13-3-19.pdf">
    <div class="document-download-text">
        <p>English language requirement: guidance </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-vehicles-regulations-amendment-march-2019.pdf">
    <div class="document-download-text">
        <p>The Private Hire Vehicles (London PHV Driver's Licences) (Amendment) Regulations 2019 - English Language requirement implementation date change March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 415KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/english-language-amendment.pdf">
    <div class="document-download-text">
        <p>The Private Hire Vehicles (London PHV Driver's Licences) (Amendment) (No.2) Regulations 2016 - English Language requirement introduction October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 753KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/equality-impact-assessment-1.pdf">
    <div class="document-download-text">
        <p>Equality impact assessment part 1 of 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/equality-impact-assessment-2.pdf">
    <div class="document-download-text">
        <p>Equality impact assessment part 2 of 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.83 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "An English language requirement applies to all applications for private hire drivers licences received by TfL on, or after, 14 October 2016. This includes applications for both renewal and new licences";}
        
            
        


 