
    
  


<!-- rhroot -->
@{ViewBag.Title = "Taxi & private hire ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Taxi & private hire </span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Taxi & private hire </h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                <p>Learn more about how to become a taxi or private hire licensee. You can also find out&nbsp;about:</p>

<ul>
	<li>the latest TPH news, notices and consultations</li>
	<li>ZEC vehicles and rapid charge points</li>
	<li>legal requirements and policies</li>
</ul>
            </div>
            
            <div class="aside">
                
                <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://tph.tfl.gov.uk/TfL/signin.page?org.apache.shale.dialog.DIALOG_NAME=tphlogindialog&menuId=3&ReturnUrl=/TfL%2Fhome.page%3FmenuId%3D2" class="primary-button">Sign in</a>
    <p>Not signed up? <a href="https://tph.tfl.gov.uk/TfL/register.page?org.apache.shale.dialog.DIALOG_NAME=contactus&amp;displayName=Multi&amp;DocTypeCode=urn:www.civica.co.uk:doctypes:TFLREG&amp;menuId=4">Create an account</a> </p>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser taxi">

    <a href="/info-for/taxis-and-private-hire/licensing?intcmp=3521" >
        <img src="/cdn/static/cms/images/promos/taxis-landing-page_rdax_400x200.jpg" alt="Licensing TPH landing page" />
        
        <div class="text-link">
             <h2>Licensing</h2>
            <p>Information for taxi and private hire licensees and new applicants</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy?intcmp=34207" >
        <img src="/cdn/static/cms/images/promos/tph-taxi-ranks_rdax_400x200.jpg" alt="Ranks, regulation & policy tph landing page" />
        
        <div class="text-link">
             <h2>Ranks, regulation & policy</h2>
            <p>General guidance and policy documents for the taxi and private hire trade</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Emission standards</h3>
<p>Since 1 January 2018, emission standards for taxis and private hire vehicles new to licensing have changed.</p>
<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis" class="plain-button">Emissions standards for taxis</a>
<a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs" class="plain-button">Emissions standards for PHVs</a>
<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone" class="plain-button">Ultra Low Emission Zone</a>
    </div>
</div>
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement?intcmp=30451" >
        <img src="/cdn/static/cms/images/promos/compliance-tph_rdax_400x200.jpg" alt="Enforcement & compliance tph landing page" />
        
        <div class="text-link">
             <h2>Enforcement & compliance</h2>
            <p>We're working alongside the police to target rogue drivers and operators</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging?intcmp=59561" >
        <img src="/cdn/static/cms/images/promos/rapid-charge-point-700_rdax_400x200.jpg" alt="Electric taxi parked using a rapid charge point" />
        
        <div class="text-link">
             <h2>Electric vehicles and charge points</h2>
            <p>Find tools and see what we're doing to deliver rapid charging points across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/taxis-and-minicabs/index?intcmp=67" >
        <img src="/cdn/static/cms/images/promos/cabwise-landinghero2_rdax_400x200.jpg" alt="Be Cabwise" />
        
        <div class="text-link">
             <h2>Passenger information</h2>
            <p>If you are a taxi or private hire passenger, go to our passenger information page</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about vehicle licensing</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 08:00-18:00 Monday to Friday<br />(excl. Bank Holidays).</p>
<p>&nbsp;</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 5555
            </p>
        </div>
        
        
        
        
    </div>
</div>
 <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about driver & operator licensing </h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 08:00-18:00 Monday to Friday<br />
(excl. Bank Holidays).</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 4444
            </p>
        </div>
        
        
        
        
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Licence checker</span>
    <div class="fact-box-content">
        Find out whether a private hire (minicab) driver, vehicle or operator is licensed
        <div class="vertical-button-container">
        
        <a href="/info-for/taxis-and-private-hire/licensing/licence-checker"  class="plain-button">Check now</a> 
        </div>
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Report it</span>
    <div class="fact-box-content">
        <p>&nbsp;Report touting and illegal cab activity</p>
        <div class="vertical-button-container">
        
        <a href="/help-and-contact/reporting-touting-and-illegal-cabs"  class="plain-button">Tell us about it</a> 
        </div>
    </div>
</div><div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We license the drivers and owners of taxis and private hire vehicles (minicabs) who operate in London.";}
        
            
        


 