
    
  



@{ViewBag.Title = "Licensing";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
            
                <li><span class="last-breadcrumb">Licensing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Licensing</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order"> </h2>
                    </div>
                <p> </p>
We license London's taxi and private hire drivers to ensure a safe and reliable service for the public.
<p> </p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div>

<h2>Become a taxi licensee</h2>
</div>
 <div class="image-container">

    <img src="/cdn/static/cms/images/taxi-licensee-image.jpg" alt="taxi licensee image">
</div>
 <div class="vertical-button-container">



<a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence"  class="plain-button">Apply for a taxi driver licence</a>


<a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence"  class="plain-button">Apply for a taxi vehicle licence</a>


<a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners"  class="plain-button">Information for fleet owners</a>


<a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london"  class="plain-button">Find out about learning the Knowledge</a>

</div>
<div class="related-links">

    <h3>Existing licensees</h3>
<p>Find out more about how to replace a lost badge or licence, fees, issues and vehicle inspections, as well as checking your current licence. </p>
<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/licensing/existing-licensee" class="plain-button">Existing licensees</a>
<a href="/info-for/taxis-and-private-hire/licensing/licensing-information" class="plain-button">Licensing information</a>
<a href="/info-for/taxis-and-private-hire/licensing/licence-checker" class="plain-button">Licence checker</a>
    </div>
</div>
 
</div>
 <div>

<div>

<h2>Become a private hire licensee</h2>
</div>
 <div class="image-container">

    <img src="/cdn/static/cms/images/private-hire-3.jpg" alt="Private Hire licensing teaser">
</div>
 <div class="vertical-button-container">



<a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence"  class="plain-button">Apply for a private hire driver licence</a>


<a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence"  class="plain-button">Apply for a private hire operator licence</a>


<a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence"  class="plain-button">Apply for a private hire vehicle licence</a>

</div>
<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment?intcmp=3564" >
        
        
        <div class="text-link">
             <h2>Topographical skills centres</h2>
            <p></p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising?intcmp=24101" >
        
        
        <div class="text-link">
             <h2>Taxi top advertising</h2>
            <p></p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Emission standards</h3>
<p>Since 1 January 2018, emission standards for taxis and private hire vehicles new to licensing have changed.</p>
<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis" class="plain-button">Emissions standards for taxis</a>
<a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs" class="plain-button">Emissions standards for PHVs</a>
<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone" class="plain-button">Ultra Low Emission Zone</a>
    </div>
</div>
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/taxi-and-private-hire" class="plain-button">Taxi &amp; PH policies</a>
    </div>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Find out how to become licensed as a London taxi driver or proprietor";}
        
            
        


 