
    
  



@{ViewBag.Title = "Changes to private hire regulation";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/new-private-hire-regulations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Changes to private hire regulation</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Changes to private hire regulation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have made a number of changes to private hire regulation to raise standards in London's private hire industry and improve safety and convenience for customers.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>These changes to private hire regulation affect all private hire drivers, operators and private hire vehicle licence holders, and they will apply to you if you want to become a private hire driver, operator or vehicle licensee.</p>
<h2>Private hire vehicles</h2>
<h3>Insurance requirement</h3>
<p>The requirement for private hire vehicles to be insured to carry passengers for hire or reward at all times for the duration of the licence, introduced in June 2016, no longer applies. However, private hire vehicles must still be covered by hire or reward insurance at the point of licensing and when in use as a private hire vehicle. </p>
<p>We are reviewing the position on hire or reward insurance for the private hire sector and will provide an update on this in due course.</p>
<p>What this means for you:</p>
<p>If you are a <b>new applicant</b> or are <b>renewing</b> your private hire vehicle licence, the vehicle must be covered by hire or reward insurance at the point of licensing. If the vehicle is not covered by hire or reward insurance, you will not be granted a new or renewal licence.</p>
<p>If you are an existing <b>private hire vehicle licensee</b>, hire or reward insurance must be in place at all times when the private hire vehicle is in use as such. Appropriate regulatory action will be taken if you fail to meet this requirement and you could also be prosecuted.</p>
<p>If you are also a licensed <b>private hire driver</b>, we may also review your fitness to hold that licence.</p>
<p>If you are a licensed <b>private hire operator</b> and vehicles undertaking bookings accepted by you do not have the appropriate insurance, TfL may take regulatory action against you and you could also be prosecuted.</p>
<p>We have increased the number of on-street insurance checks we carry out to ensure compliance.</p>
<h3>Signage</h3>
<p>Signs or advertising material must not be displayed on or from a private hire vehicle unless they are exempt or approved by us, and no advertising material may be displayed in the vehicle unless in accordance with our requirements.</p>
<p>What this means for you:</p>
<p>This is a change from the previous regulation, which did not allow signs or advertising material to be displayed on a private hire vehicle. The amendment to the regulations means that you can also no longer display signs or advertising material on or from a private hire vehicle unless it is exempt or we have approved it, and no advertising material may be displayed in the vehicle unless in accordance with TfL requirements.</p>
<p>Our taxi advertising and PHV signage guidelines provide more information on these requirements. Note that these are currently under review.</p>
<h2>Private hire drivers</h2>
<h3>English language requirement</h3>
<p>Find out more about our <a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement </a>.</p>
<h3>National Insurance details</h3>
<p>Private hire driver licence application forms include a field for an applicant's National Insurance number which is to be provided in new applications and renewals. This information may be shared with relevant government departments, such as the Department for Work &amp; Pensions and HM Revenue &amp; Customs.</p>
<h2>Private hire operators</h2>
<h3>Booking confirmation</h3>
<p>Private hire operators must provide a booking confirmation to a passenger before their journey starts.</p>
<p>What this means for you:</p>
<p>The operator must provide a passenger booking confirmation before the journey starts. The operator is expected to request passenger contact information and offer to provide a booking confirmation for all bookings.</p>
<p>All operators must (at a minimum) be able to provide a booking confirmation to passengers via email, text (SMS and MMS) message and phone (regardless of what booking channels the operator offers). The booking confirmation must contain, as a minimum:</p>
<ul>
    <li>The vehicle registration mark</li>
    <li>The first name of the driver</li>
    <li>The driver's private hire licence number, as shown on the ID the driver is wearing</li>
    <li>Where the passenger can receive it, a photo of driver.</li>
</ul>
<p>Where the customer books in person or by landline phone, a photo must be provided if the customer requests confirmation through a communications channel that can provide an image, for example an email or smart phone.</p>
<h3>Voice contact requirement</h3>
<p>Private hire vehicle operators are required to make someone available for passengers to speak to during their hours of business and at all times during a journey if passengers want to make a complaint or discuss other matters relating to their booking (the voice contact requirement).</p>
<p>Operators must comply fully by no later than <b>1 October 2018</b>. We encourage operators to comply sooner if possible. Guidance and information on how to comply with this requirement is published on our <a href="/info-for/taxis-and-private-hire/existing-licensee/existing-private-hire-operator">Existing private hire operator</a> page.</p>
<h3>Changes to operating models</h3>
<p>Private hire operators must notify TfL of material changes to their operating models that may affect their compliance with the statutory and regulatory framework for operators or any conditions of their licence.</p>
<p>For further information, <a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notice 17/16 (November 2016)</a> and our page <a href="/info-for/taxis-and-private-hire/changes-to-operating-models">changes to operating models</a> include the types of changes you need to notify us about, the ones you don't and details about where to send notifications.</p>
<h3>Criminal convictions check for some staff</h3>
<p>Operators are recommended to ensure that all staff who have face-to-face contact with the public (for example, in a minicab office with public access) have - or have proof they have applied for - a basic disclosure, which is available through the <a href="https://www.gov.uk/request-copy-criminal-record">Disclosure and Barring Service</a>.</p>
<p>What this means for you:</p>
<p>We recommend that all affected staff apply for their basic disclosure as soon as possible.</p>
<p>We will issue guidance for operators about basic disclosures; however, it is ultimately the operator's responsibility to ensure that staff members are fit and proper to undertake their duties. Failure to do this or to give appropriate consideration to the results of the disclosure may raise questions about an operator's fitness to hold a licence.</p>
<h3>Uploading driver and vehicle details to TfL</h3>
<p>Operators are required to provide us with details of the drivers and vehicles they have used to fulfil private hire bookings, or have had available to them to fulfil bookings in a specified period. We use the information provided for data analysis.</p>
<p>What this means for you:</p>
<p>Each Monday, all operators are required to provide the relevant data for the preceding week. When the Monday is a Bank Holiday, the data can be sent the next day.</p>
<p>We have contacted operators individually to confirm arrangements. If you have any more queries, contact the TPH Operator Upload team on 0343 222 4444.</p>
<h3>Record keeping</h3>
<p>Operators must keep records for a minimum of 12 months. This includes records for bookings, complaints and lost property, as well as driver and vehicle records.</p>
<p>What this means for you:</p>
<p>This is a small change from the previous regulations, which required some records to be kept for six months and others for 12 months.</p>
<h3>Other requirements</h3>
<p>The following requirements apply:</p>
<ul>
    <li>Operators must provide their customer with an accurate fare estimate before the journey starts (unless the fare has been pre-agreed).</li>
    <li>Operators must record the main destination of the customer's journey, before the journey starts. Where a journey has multiple drop-off points, a main destination must still be provided.</li>
    <li>Operators are limited to having no more than five business names attached to their operator's licence.</li>
</ul>
<p>London private hire operator licence application forms include a field for an applicant's National Insurance number, where applicable. This information may be shared with the Department for Work &amp; Pensions and HM Revenue &amp; Customs.</p>
<p>If you need advice about your private hire licence or licence application in light of the changes listed above, please email us at <a href="mailto:TPH.Enquiries&#64;tfl.gov.uk">TPH.Enquiries&#64;tfl.gov.uk</a> or call our Licensing Team on 0343 222 4444 (Monday to Friday, 8am to 6pm).</p>
</div>
 <div>


</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/changes-to-operating-models">Changes to operating models</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Changes to private hire regulation are being introduced from Monday 27 June 2016. They affect all private hire drivers, operators and private hire vehicle licence holders, as well as all applicants for a private hire driver, operator or vehicle licence. ";}
        
            
        


 