
    
  



@{ViewBag.Title = "Notices & consultations";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/notices-and-consultations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Notices & consultations</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Notices & consultations</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Consultations</h2>

<h3>Kingsbury Road</h3>

<p>Brent Council is consulting on plans for a new bus lane which includes access for taxis. You have until tomorrow, Friday 28 February, to review the plans and <a href="https://consultation.brent.gov.uk/highways-and-infrastructure/kingsbury-road-east-of-church-lane-peak-time-bus-l/">respond to the consultation</a>.</p>

<h3>Barking and Dagenham's draft Local Plan</h3>

<p>Barking and Dagenham Council is consulting on a <a href="https://oneboroughvoice.lbbd.gov.uk/local-plan?tool=survey_tool#tool_tab">new Local Plan</a>. You have until Saturday 29 February to read and comment on the new Local Plan.</p>

<h3>Greenford Road</h3>

<p>Ealing Council is consulting on proposed <a href="https://www.ealing.gov.uk/info/201042/current_consultations/2655/greenford_road_proposed_northbound_bus_lane_consultation">highway improvements along Greenford Road</a> between Costons Lane and Western Avenue. You have until Monday 2 March to respond to the consultation.</p>

<h3>The Future Wimbledon Supplementary Planning document</h3>

<p>Merton Council has prepared the <a href="https://consult.merton.gov.uk/kms/dmart.aspx?LoggingIn=tempVar&amp;strTab=PublicDMart">Future Wimbledon Supplementary Planning document</a> to create a long-term vision for the future of development of Wimbledon town centre. You have until Friday 6 March to review and comment on the document.</p>

<h3>Thamesmead and Abbey Wood Opportunity Area</h3>

<p>The Mayor of London, TfL, and Greenwich and Bexley councils are working together to prepare an <a href="http://www.london.gov.uk/what-we-do/planning/implementing-london-plan/opportunity-areas/opportunity-areas/thamesmead-abbey">Opportunity Area Planning Framework (OAPF)</a> for the Thamesmead and Abbey Wood Opportunity Area. The OAPF documents include a transport strategy and you have until Tuesday 10 March to respond to the consultation.</p>

<h3>Grosvenor Square</h3>

<p>Westminster Council is consulting on changes in <a href="http://westminstertransportationservices.co.uk/tmo/tmo_details.php?tt=2&amp;id=1596&amp;cid=1">Grosvenor Square</a>. You have until Wednesday 11 March to review the proposed changes and comment on them.</p>

<h3>Peckham High Street</h3>

<p>We are consulting on proposed <a href="http://consultations.tfl.gov.uk/roads/peckham-town-centre/">changes along the A202 (Peckham High Street)</a> between the junctions with Basing Court and Mission Place. You have until Thursday 12 March to review the proposals and comment on them.</p>

<h3>A16 London Road roundabout</h3>

<p>We are consulting on proposed <a href="https://consultations.tfl.gov.uk/roads/a316-london-road-roundabout/">safety improvements to the A316 London Road roundabout</a>. You have until Thursday 19 March to review the proposals and comment on them.</p>

<h3>A23 Streatham Hill</h3>

<p>We are consulting on proposals to <a href="https://consultations.tfl.gov.uk/roads/a23-streatham-hill/">transform the A23 Streatham Hill</a>. You have until Sunday 22 March to review the proposals and comment on them.</p>

<h3>Camden High Street</h3>

<p>Camden Council is inviting people to <a href="https://consultations.wearecamden.org/healthy-streets/camden-high-st/">share their views on Camden High Street</a>. This will inform the <a href="https://camdentownlen.commonplace.is/">Camden Town Low Emission Neighbourhood project</a> and you have until Sunday 22 March to complete the survey.</p>

<h3>A41 Finchley Road</h3>

<p>We are consulting on proposed <a href="https://consultations.tfl.gov.uk/roads/finchley-road/">changes on Finchley Road</a>. You have until Friday 27 March to respond to the consultation.</p>

<h3>Stoke Newington Low Emissions Neighbourhood (LEN)</h3>

<p>Hackney Council is interested in people's experience of walking, cycling and travelling along Stoke Newington Church Street and in the surrounding area. You can find out more about the project and how to leave a comment on the <a href="http://stokey.commonplace.is/">Stoke Newington LEN </a>website.</p>

<h3>Electric vehicle charging points</h3>

<p><a href="https://lbhf.citizenspace.com/transport-and-technical-services/request-electric-vehicle-charging-point/">Hammersmith &amp; Fulham</a>, <a href="https://kingstonletstalk.co.uk/electric-vehicle-charging-points">Kingston</a> and <a href="https://sutton.citizenspace.com/environment/ev-survey/">Sutton</a> councils are inviting comments on where changing points should be in their boroughs.</p>

<h3>Local plans</h3>

<p>The following councils are consulting on draft local plans:</p>

<p>• <a href="https://oneboroughvoice.lbbd.gov.uk/local-plan?tool=qanda#tool_tab">Barking and Dagenham's</a> consultation closes on Saturday 29 February</p>

<p>• <a href="https://www.lambeth.gov.uk/consultations/draft-revised-lambeth-local-plan-proposed-submission-version-january-2020">Lambeth's</a> consultation closes on Friday 13 March</p>

<p>• <a href="https://engage.barnet.gov.uk/Draft-Local-Plan-Consultation">Barnet's consultation</a> closes on Monday 16 March</p>

<h3>Other consultations</h3>

<p>Find out more about other current <a href="https://consultations.tfl.gov.uk/advanced_consultation_finder?st=open">TfL consultations</a>.</p>

<h2>Taxi and Private Hire notices</h2>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>




<h3>January 2020</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-20-tph-notice-coronavirus-covid-19.pdf">
    <div class="document-download-text">
        <p>02/20 Coronavirus (COVID-19)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-20-taxi-fares-and-tariffs-update.pdf">
    <div class="document-download-text">
        <p>01/20 Taxi Fares and Tariffs Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>




<h3>December 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-19-topographical-skills-assessments.pdf">
    <div class="document-download-text">
        <p>06-19 Topographical Skills Assessments</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>




<h3>July 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-19-tph-notice-taxi-vehicle-age-limits-and-exemption.pdf">
    <div class="document-download-text">
        <p>05-19 Taxi Vehicle Age Limits and Exemptions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>




<h3>May 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wimbledon-championships-notice-4-19.pdf">
    <div class="document-download-text">
        <p>04-19 Wimbledon Tennis Championships 2019 and Test Event for Court 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 422KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 
<div>




<h3>April 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-19-congestion-charge-exemption.pdf">
    <div class="document-download-text">
        <p>03-19 Private Hire Vehicle Congestion Charge exemption removal</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
<div>




<h3>March 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-19-english-language-requirement-deadline-extension.pdf">
    <div class="document-download-text">
        <p>02-19 English language requirement update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-03-19-tph-notice-cribble.pdf">
    <div class="document-download-text">
        <p>01-19 Important Information for Private Hire Drivers Cribble</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>




<h3>December 2018</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-18-congestion-charge.pdf">
    <div class="document-download-text">
        <p>08-18 Congestion Charge</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>September 2018</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-18-taxi-fares-and-tariffs-update.pdf">
    <div class="document-download-text">
        <p>07-18 Taxi fares and tariffs update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-18-reporting-alleged-or-suspected-criminal-conduct.pdf">
    <div class="document-download-text">
        <p>06-18 Reporting alleged or suspected criminal conduct: Guidance for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-18-voice-contact-requirement-guidance.pdf">
    <div class="document-download-text">
        <p>05-18 Voice contact requirement guidance for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>June 2018</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-2018-wimbledon-tennis-championships-2018.pdf">
    <div class="document-download-text">
        <p>04-18 Wimbledon Tennis Championships 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>




<h3>May 2018</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-18-voice-contact-requirement.pdf">
    <div class="document-download-text">
        <p>03-18 Voice contact requirement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-18-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>02-18 Private hire regulations - English language requirement update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-18-alpha-insurance.pdf">
    <div class="document-download-text">
        <p>01-18 Alpha Insurance A/S policyholders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>October 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-17-implementation-of-new-taxi-and-private-hire-licence-fees.pdf">
    <div class="document-download-text">
        <p>14-17 Implementation of new taxi and private hire licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 
<div>




<h3>September 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-17-licensing-decision-on-uber-london-limited.pdf">
    <div class="document-download-text">
        <p>13-17 Licensing decision on Uber London Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-17-important-changes-to-licence-fees.pdf">
    <div class="document-download-text">
        <p>12-17 Important changes to licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-17-taxify.pdf">
    <div class="document-download-text">
        <p>11-17 Taxify</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>July 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-17-ph-regulations-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>10-17 Private Hire Regulations - English Language Requirement Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>June 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-17-wimbledon-tennis-taxi-and-private-hire-arrangements.pdf">
    <div class="document-download-text">
        <p>09-17 Wimbledon Tennis Championships 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 139KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
<div>




<h3>May 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-17-changes-to-taxi-fares.pdf">
    <div class="document-download-text">
        <p>08-17 Changes to taxi fares</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>




<h3>April 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-17-private-hire-operator-licence-fees-consultation.pdf">
    <div class="document-download-text">
        <p>07-17 Private hire operator licence fees consultation </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>




<h3>March 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-17-english-language-insurance-and-telephone-requirements.pdf">
    <div class="document-download-text">
        <p>06-17 Private hire: English language insurance and telephone requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>February 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-17-tph-notice-private-hire-regulations-update.pdf">
    <div class="document-download-text">
        <p>05/17 Private hire regulations update: changes to English language and telephone requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>January 2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-17-printworks-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>04/17 Printworks venue: taxi and private hire arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 319KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-17-private-hire-driver-applicants-important-update-on-topographical-test-requirements.pdf">
    <div class="document-download-text">
        <p>03/17 Private hire driver applicants: important update on topographical test requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-17-taxi-owners-reminded-to-keep-their-vehicle-registration-certificate-up-to-date.pdf">
    <div class="document-download-text">
        <p>02/17 Taxi owners reminded to keep their Vehicle Registration Certificate up to date</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-17-taxi-fares-and-tariffs-consultation.pdf">
    <div class="document-download-text">
        <p>1/17 Taxi fares and tariffs consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
<div>




<h3>December 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-16-advice-for-knowledge-students-on-dvsa-changes.pdf">
    <div class="document-download-text">
        <p>18/16 Advice for knowledge students on DVSA changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>November 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-16-private-hire-vehicle-operators-notification-of-operating-model-changes.pdf">
    <div class="document-download-text">
        <p>17/16 PHV operators - notification of operating model changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>October 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-16-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>16/16 English language requirement update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>




<h3>September 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-16-national-fraud-initiative.pdf">
    <div class="document-download-text">
        <p>15/16 National Fraud Initiative</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-16-changes-to-private-hire-regulation-update.pdf">
    <div class="document-download-text">
        <p>14/16 Changes to private hire regulation update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-16-prepare-for-mandatory-card-and-contactless-payments-in-taxis.pdf">
    <div class="document-download-text">
        <p>13/16 Taxi Licensees urged to prepare for mandatory card and contactless acceptance in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>




<h3>July&nbsp;2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-16-new-island-rank-trials.pdf">
    <div class="document-download-text">
        <p>12/16 New island rank trials</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>




<h3>June 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-16-important-safety-notice-vauxhall-zafira-b.pdf">
    <div class="document-download-text">
        <p>11/16 Important safety notice: Vauxhall Zafira B vehicles yet to adhere to the Vauxhall safety recall to be suspended with immediate effect   </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-16-important-changes-to-private-hire-regulation.pdf">
    <div class="document-download-text">
        <p>10/16 Important Changes to Private Hire Regulation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>March 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-16-changes-to-taxi-fares-and-accepting-payment-by-card-in-all-london-taxis.pdf">
    <div class="document-download-text">
        <p>09/16 Changes to taxi fares and accepting payment by card in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-16-dbs-update-service.pdf">
    <div class="document-download-text">
        <p>08/16 DBS update service</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-board-private-hire-regs-march-2016.pdf">
    <div class="document-download-text">
        <p>07/16 TfL Board approves plans to modernise London's private hire industry</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>February 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-16-credit-and-debit-card-and-contactless-payments-to-be-accepted-in-all-london-taxis.pdf">
    <div class="document-download-text">
        <p>06/16 Credit and debit card and contactless payments to be accepted in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-16-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>05/16 Taxi fares update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>




<h3>January 2016</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-16-integrated-impact-assessment-phrr-consultation.pdf">
    <div class="document-download-text">
        <p>04/16 Private Hire Regulations Review: Integrated Impact Assessment (IIA) consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-16-plans-for-modernising-and-enhancing-londons-private-hire-industry.pdf">
    <div class="document-download-text">
        <p>03/16 Transport for London's plans for modernising and enhancing London's private hire industry</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 199KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notice-0216-lumiere-london-2016.pdf">
    <div class="document-download-text">
        <p>02/16 Lumiere London 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notice-ulezrequirements-jan-2016.pdf">
    <div class="document-download-text">
        <p>01/16 Mayor and TfL finalise ULEZ requirements for Taxi and Private Hire Trades</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 219KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>

</div>
 
<div>




<h3>December 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-15-new-years-eve-2105.pdf">
    <div class="document-download-text">
        <p>14/15 New Year's Eve information for taxi and private hire drivers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-15-taxi-ranks.pdf">
    <div class="document-download-text">
        <p>13/15 Taxi ranks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-15-temporary-measures-due-to-dbs-delays.pdf">
    <div class="document-download-text">
        <p>12/15 Temporary measures due to Disclosure and Barring Service (DBS) delays</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-15-smoking-e-cigarettes-policy.pdf">
    <div class="document-download-text">
        <p>11/15 Smoking and e-cigarettes policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>




<h3>October 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-15-suburban-action-plan-next-steps.pdf">
    <div class="document-download-text">
        <p>10/15 Suburban action plan - next steps</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>September 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-15-private-hire-consultation.pdf">
    <div class="document-download-text">
        <p>09/15 Private hire proposals </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-15-rugby-world-cup-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>08/15 Rugby World Cup - taxi and private hire vehicle arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 663KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
<div>




<h3>August 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/twickenham-stadium-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>07/15 Twickenham stadium taxi and private hire arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-15-important-changes-to-paper-applications.pdf">
    <div class="document-download-text">
        <p>06/15 Important changes to paper applications</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>




<h3>July 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-15-remembering-the-victims-of-the-tunisia-attack-and-the-july-7-bombings.pdf">
    <div class="document-download-text">
        <p>05/15 Remembering the victims of the Tunisia attack and the July 7 bombings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>June 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-15-card-payment-in-taxis-consultation.pdf">
    <div class="document-download-text">
        <p>04/15 Card payment in taxis consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>




<h3>April 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-15-taxi-fares-update-2015-2016.pdf">
    <div class="document-download-text">
        <p>03/15 Taxi fares update 2015-16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-15-taxi-and-private-hire-licence-fees.pdf">
    <div class="document-download-text">
        <p>02/15 Taxi and private hire licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>March 2015</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-15-private-hire-vehicles-have-your-say.pdf">
    <div class="document-download-text">
        <p>01/15 Private hire vehicles - have your say</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notices-2007-2014.pdf">
    <div class="document-download-text">
        <p>TPH notices 2007-2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Read the latest bulletins and newsletters for taxi and private hire operators";}
        
            
        


 