
    
  



@{ViewBag.Title = "Parking information ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/parking-information";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Parking information </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Parking information </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about where taxi and private hire drivers can and cannot park in London.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Stopping and waiting</h2>
<p>
Taxi and private hire drivers can stop to pick up or drop off customers in many areas where there are waiting or stopping restrictions. Drivers should be aware that:</p>
<ul>
    <li>Taxis and private hire vehicles can only stop as long as is necessary for the customer to get in or out of the vehicle. This includes more time to assist wheelchair users and to make sure that the wheelchair is in the right position and safely secured </li>
    <li>Picking up or dropping off is allowed on single and double yellow and red lines, in places where loading is not allowed (shown by markings on the kerb), in parking bays and in bus lanes</li>
    <li>Drivers should not stop where they would cause an obstruction or a safety hazard. This includes stopping on zigzag lines (for example, by pedestrian crossings or on school crossings) or where there is a 'No stopping' sign</li>
    <li>Private hire vehicles must never stop on taxi ranks, even when picking up or setting down customers</li>
    <li>If there are waiting or parking restrictions, drivers cannot stop for longer than necessary for the customer to get in or out of the vehicle. The exception is that between 22:00 and 06:00 drivers can stop for up to five minutes on red routes to allow customers to use cash points</li>
    <li>Where waiting or parking restrictions apply, there is no general exemption to leave the vehicle to assist a customer to or from a building. A driver who feels this assistance is essential should minimise any time spent away from the vehicle and, if possible, record details of the customer in case a Penalty Charge Notice (PCN) is issued</li>
    <li>When not picking up or dropping off, a driver waiting at a time and place where restrictions apply will be liable to receive a PCN. This applies even if the vehicle has arrived early for a booking or the customer is late, or where a customer asks a driver to stop and wait while they visit a shop or use a cashpoint</li>
    <li>Taxi and private hire drivers should not leave their engines idling. Running the engine while your vehicle is stationary pollutes the environment and is <a href="/info-for/taxis-and-private-hire/licensing/existing-licensee#Parking2">illegal on a public road</a>.</li>
</ul>
<h2>Bus lanes &amp; bus stops</h2>
<p>
Taxis and private hire vehicles can pick up or set down customers in a bus lane even if they are not normally allowed to drive in it. The only exceptions are stretches of red route   where stopping is not permitted because of the disruption this would cause to already busy roads. Taxi and private hire drivers should be aware that:</p>
<ul>
    <li>Drivers should enter and leave the bus lane in the most direct and safe way</li>
    <li>Customers should never be set down in the middle of the road, even if the vehicle is stopped due to traffic &#45; the driver must always get close to the kerb</li>
    <li>Private hire vehicles cannot stop at 'bus stop clearways' marked with a wide yellow line by the kerb. On red routes both taxis and private hire vehicles cannot stop at bus stops marked with a wide red line by the kerb. At other red route bus stops, taxi and private hire drivers should avoid stopping to avoid disruption to the bus network</li>
    <li>Remember, only licensed taxi drivers can drive in bus lanes - private hire vehicles are not allowed. Licensed taxi drivers should check the signs at the start of the bus lanes, however, because there are a still a number of bus lanes they cannot use</li>
</ul>
<h2>Taxi ranks</h2>
<p>
There are around 600 taxi ranks in London and this number is growing. Taxi ranks are located at most large transport hubs including mainline train stations, and many customers rely on them to complete their journeys. </p>
<p>Find out more about <a href="/info-for/taxis-and-private-hire/taxi-ranks">taxi ranks and locations</a>, including information on ranks policy and how to suggest locations for new ranks.</p>
<p>Private hire vehicles must never stop or wait in taxi ranks, or the driver will be subject to a Penalty Charge Notice and potentially licensing action.</p>
<h2>Customer requests</h2>
<p>Drivers should be familiar with the area in which they work and should, therefore, be able to advise customers of places where they can stop and wait if necessary. </p>
<p>If a customer asks a driver to wait where this is prohibited, the driver should explain politely that the vehicle cannot wait in certain places. </p>
<p>If possible, the driver should suggest alternative shops, ATMs and so on as appropriate, or seek ways for the driver and customer to reassure each other so that the driver will not lose the fare but the customer is confident that the vehicle will return for them.</p>
<p>We appreciate that these issues can lead to disagreements between drivers and customer, and understand the difficulties this causes. The professionalism of London's licensed drivers is essential in maintaining the good reputation of London's taxi and private hire trade.</p>
<h2>Penalty Charge Notices (PCNs)</h2>
<p>
Taxi and private hire drivers can be given a PCN by parking attendants or a PCN can be sent to the registered keeper of the vehicle as a result of camera observation. Usually there is a discount for prompt payment.<br />
<br />
Where a driver is not the registered keeper of the vehicle, we advise that they discuss the arrangements for making sure the keeper passes on any PCNs promptly so that there is time to contest PCNs issued in error.</p>
<h3>Challenging a PCN</h3>
<p>
Taxi and private hire drivers who receive a PCN from a borough or from us can appeal against it. The details of how to make a challenge will be provided on the PCN, and drivers should follow the procedure outlined.<br />
<br />
Any evidence to support the case, such as details of the customer,  a copy of any log that shows the journey in question, or photographs of the location if the signage is incorrect, should be provided with the appeal. The trade associations and trade unions may be able to provide further advice to drivers on how to do this.</p>
<p>
If the initial appeal to the authority is unsuccessful, an appeal can be made to <a href="https://londontribunals.org.uk/">London Tribunals</a> which was formerly known as PATAS (Parking and Traffic Appeals Service). There is no charge for an appeal, and the driver can go to the hearing if desired.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out more about where taxi and private hire drivers can and cannot park in London.";}
        
            
        


 