
    
  



@{ViewBag.Title = "Taxi & private hire news";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/press-releases-and-news";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi & private hire news</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi & private hire news</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
<div>



<h2>Uber licensing decision - 25 November 2019</h2>


<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">On 25 November 2019, Transport for London (TfL) notified Uber London Limited (ULL) that it would not be issued with a private hire vehicle (PHV) operator's licence at the expiry of its licence. The reasons for our decision are summarised <a href="https://tfl.gov.uk/info-for/media/press-releases/2019/november/uber-london-limited-found-to-be-not-fit-and-proper-to-hold-a-private-hire-operator-licence">here</a>.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">ULL made an appeal against TfL's decision to Westminster Magistrates' Court on 13 December 2019, and the first procedural hearing will take place before the Chief Magistrate at 10am on 13 February 2020. &nbsp;In advance of that first procedural hearing, redacted versions of TfL's internal decision note together with the letter notifying ULL of the decision are available below.&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">We are making available our reasons for our decision to third parties which is the approach taken in the appeal by ULL against TfL's 2017 decision.&nbsp; However, we are providing them on our website at an earlier point in the appeal process due to separate legal proceedings challenging ULL's ability to continue to operate pending the outcome of the appeal.&nbsp; Redactions to the documents have been made on the basis of commercial confidentiality, as well as signatures.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-decision-note-25-november-2019.pdf">
    <div class="document-download-text">
        <p>TfL licensing decision note</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-decision-letter-to-ull-25-november-2019.pdf">
    <div class="document-download-text">
        <p>TfL decision letter to ULL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>



<h2>Uber licensing court case 2020</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-skeleton-argument-2019.pdf">
    <div class="document-download-text">
        <p>Transport for London skeleton argument</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>



<h2>Uber licensing court case 2018</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/uber-licensing-appeal-final-judgment.pdf">
    <div class="document-download-text">
        <p>Westminster Magistrates' Court judgment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/uber-licensing-appeal-license-conditions-june-2018.pdf">
    <div class="document-download-text">
        <p>Uber licensing conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/helen-chapman-third-witness-statement-june.pdf">
    <div class="document-download-text">
        <p>Helen Chapman witness statement June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/helen-chapman-first-witness-statement-march.pdf">
    <div class="document-download-text">
        <p>Helen Chapman witness statement March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-skeleton-argument.pdf">
    <div class="document-download-text">
        <p>Transport for London skeleton argument</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 <div class="related-links">

    <h3>2019 press releases</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2019/july/cabbies-take-up-30m-of-new-green-grants-to-help-switch-to-cleaner-vehicles" class="plain-button">5 July 2019: TfL - Cabbies take up £30m of new green grants to help switch to cleaner vehicles</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2019/february/gla---24m-funding-boost-to-accelerate-the-greening-of-london-s-black-cabs" class="plain-button">15 February 2019: GLA - £24m funding boost to accelerate the greening of London’s black cabs</a>
    </div>
</div>
 <div class="related-links">

    <h3>2018 press releases</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/december/mayor-and-tfl-launch-bold-plans-to-tackle-london-s-lethal-air" class="plain-button">19 December 2018: Mayor and TfL launch bold plans to tackle London's lethal air</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/december/londoners-encouraged-to-get-home-safely-during-the-festive-period" class="plain-button">13 December 2018: Londoners encouraged to get home safely during the festive period</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/july/changes-proposed-to-congestion-charge-to-reduce-traffic-and-improve-air-quality" class="plain-button">06 July 2018: Changes proposed to Congestion Charge to reduce traffic and improve air quality</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/may/new-powers-to-combat-illegal-taxi-and-private-hire-activity" class="plain-button">17 May 2018: New powers to combat illegal taxi and private hire activity</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/march/tfl-launches-consultation-to-further-improve-safety-for-private-hire-passengers" class="plain-button">26 March 2018: TfL launches consultation to further improve safety for private hire passengers</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2018/february/-tfl-to-ensure-private-hire-remains-safe-secure-and-convenient" class="plain-button">15 February 2018: TfL to ensure private hire remains safe, secure and convenient </a>
    </div>
</div>
 <div class="related-links">

    <h3>2017 press releases</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/september/licensing-decision-on-uber-london-limited" class="plain-button">22 September 2017: Licensing decision on Uber London Limited</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/september/tfl-confirms-changes-to-private-hire-operator-licence-fe" class="plain-button">18 September 2017: TfL confirms changes to private hire operator licence fees</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/september/statement-on-taxify-a" class="plain-button">08 September 2017: Statement on Taxify app</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/july/mayor-s-new-42-million-fund-to-help-cabbies-ditch-the-dirtiest-diesel-taxis" class="plain-button">28 July 2017: Mayor's new £42 million fund to help cabbies ditch the dirtiest diesel taxis</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/july/mayor-s-new-42-million-fund-to-help-cabbies-ditch-the-dirtiest-diesel-taxis" class="plain-button">8 May 2017: Minicab driver prosecuted for refusing to carry assistance dog</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/april/tfl-drives-forward-18-million-electric-vehicle-scheme" class="plain-button">26 April 2017: TfL drives forward £18m electric vehicle scheme</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2017/april/proposed-changes-to-private-hire-operator-licence-fees" class="plain-button">20 April 2017: Proposed changes to private hire operator licence fees</a>
    </div>
</div>
 <div class="related-links">

    <h3>2016 press releases</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/december/new-officers-tackling-illegal-taxi-and-minicab-activity" class="plain-button">14 December 2016: New officers tackling illegal taxi and minicab activity</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/october" class="plain-button">28 October 2016: All London black cabs to take cards and contactless payments</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/august/mayor-quadruples-team-tackling-illegal-taxi-and-minicab-activity" class="plain-button">2 August 2016: Mayor quadruples team tackling illegal taxi and minicab activity</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/april/removal-of-card-fees-in-london-s-tax" class="plain-button">5 April 2016: Removal of card fees in London’s taxis</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/march/tfl-board-approves-new-plan-to-modernise-london-s-private-hire-industry" class="plain-button">18 March 2016: TfL Board approves new plan to modernise London’s private hire industry</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/march/tfl-proposals-to-modernise-london-s-private-hire-industry" class="plain-button">10 March 2016: TfL proposals to modernise London's private hire industry</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/february/tfl-reminder-assistance-dogs-are-your-passengers-t" class="plain-button">12 February 2016: Assistance dogs are your passengers too</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/february/card-payments-to-be-accepted-in-every-black-cab" class="plain-button">03 February 2016: Card payments to be accepted in every black cab</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2016/january/tfl-sets-out-plans-to-modernise-and-enhance-london-s-private-hire-indust" class="plain-button">20 January 2016: TfL's plans to modernise London's private hire industry</a>
    </div>
</div>
 <div class="related-links">

    <h3>2015 press releases</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/december/tfl-and-mps-step-up-minicab-enforcement-activity-over-festive-season" class="plain-button">10 December 2015: TfL and police step up minicab enforcement activity</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/december/taxi-advertising-signs-to-tackle-congestion-in-the-capital" class="plain-button">7 December 2015: Taxi advertising signs to tackle congestion</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/december/splyt-technologies-convicted-for-operating-without-a-private-hire-licence" class="plain-button">1 December 2015: Splyt Technologies convicted</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/november/mayor-and-tfl-confirm-card-and-contactless-payments-will-be-accepted-by-london-taxis" class="plain-button">26 November 2015: Card and contactless payments accepted by London taxis</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/november/record-number-of-rogue-drivers-prosecuted-for-tph-violatio" class="plain-button">17 November 2015: Record number of drivers prosecuted</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/november/temporary-measures-seek-to-ease-pressure-on-taxi-and-private-hire-drivers" class="plain-button">10 November 2015: Easing pressure on taxi and private hire drivers</a>
<a href="https://tfl.gov.uk/info-for/media/press-releases/2015/october/mayor-and-tfl-finalise-ulez-requirements-for-taxi-and-minicab-trades" class="plain-button">26 October 2015: ULEZ requirements</a>
    </div>
</div>
 <div class="related-links">

    <h3>Additional news</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/news-articles/stay-safe-book-your-cab" class="plain-button">Stay safe - Book your cab - December 2015</a>
<a href="https://tfl.gov.uk/info-for/media/news-articles/operation-neon-focuses-on-illegal-activity" class="plain-button">Operation Neon focuses on illegal activity - December 2015 </a>
<a href="https://tfl.gov.uk/info-for/media/news-articles/clamping-down-on-rogue-drivers" class="plain-button">Clamping down on rogue drivers - November 2015</a>
<a href="https://tfl.gov.uk/info-for/media/news-articles/taxis-are-the-people-s-favourite" class="plain-button">Taxis are the people’s favourite - November 2015</a>
    </div>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Taxi and private hire related press releases from Transport for London.";}
        
            
        


 