
    
  



@{ViewBag.Title = "Private hire meetings";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/private-hire-meetings";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></li>
                
            
            
                <li><span class="last-breadcrumb">Private hire meetings</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Private hire meetings</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information about our quarterly meetings with private hire trade representatives.
        
      </div>
    
    <div class="on-this-page">
      We hold quarterly meetings with private hire trade representatives on issues relating to licensing, compliance and enforcement. The actions of those meetings are available to read in the following documents.
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lce-meeting-notes-december-2019.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-lce-meeting-presentation-dec-2019.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement December 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-lce-meeting-presentation-may-2019.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement May 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jan2019lcemeeting.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-lce-meeting-presentation-jan-2019-final.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement January 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-october-2018-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement October 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 739KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-meeting-action-tracker-october-2018.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ph-lce-meeting-notes-and-actions-18-july-2018.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-july-2018-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement July 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 953KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-meeting-action-tracker-april-2018.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-april-2018-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement April 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 709KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ph-licensing-compliance-and-enforcement-meeting-action-tracker-january-2018.pdf">
    <div class="document-download-text">
        <p>Private hire licensing, compliance and enforcement meeting action tracker January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-january-2018.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement January 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 713KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ph-licensing-compliance-and-enforcement-meeting-action-tracker-october-2017.pdf">
    <div class="document-download-text">
        <p>Private hire licensing, compliance and enforcement meeting action tracker October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-october-2017.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement October 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ph-licensing-compliance-and-enforcement-meeting-action-tracker-june-2017.pdf">
    <div class="document-download-text">
        <p>Private hire licensing, compliance and enforcement meeting action tracker June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-june-2017-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement June 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-march-2017-actions.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement action tracker March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-march-2017-slides.pdf">
    <div class="document-download-text">
        <p>Private hire vehicle licensing compliance and enforcement March 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-december-2016-actions.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement action tracker December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-december-2016-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement December 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-september-2016-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement September 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-july-2016-actions.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-july-2016-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement July 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 919KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-april-2016-slides.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement April 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 911KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-licensing-compliance-and-enforcement-april-2016-actions.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-meeting-action-tracker-january-2016.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker January 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-meeting-september-2015-actions.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-licensing-compliance-and-enforcement-action-tracker-july-2015.pdf">
    <div class="document-download-text">
        <p>Private hire licensing compliance and enforcement meeting action tracker July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/suburban-driver-forums">Suburban Driver Forums</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-meetings">Taxi meetings</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/private-hire-meetings">Private hire meetings</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Private hire meetings";}
        
            
        


 