
    
  



@{ViewBag.Title = "Ranks, regulation and policy";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/ranks-regulation-and-policy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
            
                <li><span class="last-breadcrumb">Ranks, regulation and policy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ranks, regulation and policy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about taxi ranks, and relevant legislation and policy information.
        
      </div>
    
    
      
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/taxi-ranks?intcmp=22709" >
        <img src="/cdn/static/cms/images/promos/tph-taxi-ranks_rdax_400x200.jpg" alt="Ranks, regulation & policy tph landing page" />
        
        <div class="text-link">
             <h2>Taxi ranks</h2>
            <p>Find out more about taxi ranks</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/taxi-and-private-hire?intcmp=3162" >
        <img src="/cdn/static/cms/images/promos/tph-enforcement_rdax_400x200.jpg" alt="Legislation and policy tph image" />
        
        <div class="text-link">
             <h2>Legislation and policy</h2>
            <p>Find out more about taxi and private hire legislation and policy</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/accepting-card-payments?intcmp=38746" >
        
        
        <div class="text-link">
             <h2>Accepting card payments</h2>
            <p>More information for taxi drivers about the card payments mandate</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/parking-information?intcmp=41584" >
        
        
        <div class="text-link">
             <h2>Parking information </h2>
            <p>Find out more about where taxi and private hire drivers can and can't park</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/english-language-requirement?intcmp=42755" >
        
        
        <div class="text-link">
             <h2>English language requirement</h2>
            <p>Find out more about how to comply with the English language requirement</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/new-private-hire-regulations?intcmp=40503" >
        
        
        <div class="text-link">
             <h2>Changes to private hire regulation</h2>
            <p>Find out more about the recent private hire regulation changes</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Emission standards</h3>
<p>Since 1 January 2018, emission standards for taxis and private hire vehicles new to licensing have changed.</p>
<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis" class="plain-button">Emissions standards for taxis</a>
<a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs" class="plain-button">Emissions standards for PHVs</a>
<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone" class="plain-button">Ultra Low Emission Zone</a>
    </div>
</div>
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/passengers-and-accessibility?intcmp=36436" >
        
        
        <div class="text-link">
             <h2>Passengers, accessibility and lost property</h2>
            <p>Find out more about passengers with wheelchairs or assistance dogs and lost property</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out more about taxi ranks, and relevant legislation and policy information.";}
        
            
        


 