
    
  



@{ViewBag.Title = "Suburban Driver Forums";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/suburban-driver-forums";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></li>
                
            
            
                <li><span class="last-breadcrumb">Suburban Driver Forums</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Suburban Driver Forums</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These meetings form part of our regular engagement with the taxi trade, and give drivers the chance to share their views and discuss topics such as compliance and taxi policies.
        
      </div>
    
    <div class="on-this-page">
      <p>At these meetings our&nbsp;policy, compliance and ranks teams provide an update on our work, and are available to answer your questions.</p>

<p>All drivers licensed in the areas above are contacted by email inviting them to attend their respective event.</p>
      
           
      
<div>



<h2>2019 suburban forums</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-forum-sectors-8-and-9-july-2019.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors eight and nine</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-forum-6-and-7-2019.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors six and seven</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.26 -->
 
</div>

</div>
 
<div>



<h2>2018 suburban forums</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-taxi-drivers-forum-sectors-1-and-2-2018.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors one and two</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.93 -->
 
</div>

</div>
 
<div>



<h2>2017 suburban forums</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-taxi-drivers-forum-sectors-eight-and-nine.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors eight and nine</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-taxi-drivers-forum-sectors-six-and-seven.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors six and seven</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-taxi-drivers-forum-sectors-three-four-and-five.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors three, four and five</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburban-taxi-drivers-forum-sectors-one-and-two.pdf">
    <div class="document-download-text">
        <p>Suburban drivers' forum sectors one and two</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.57 -->
 
</div>

</div>
 
<div>



<h2>2016 suburban forums</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suburb-drivers-combined-presentation-may-2017.pdf">
    <div class="document-download-text">
        <p>Suburban drivers combined presentation: July 2016 - February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.15 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/suburban-driver-forums">Suburban Driver Forums</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-meetings">Taxi meetings</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/private-hire-meetings">Private hire meetings</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Suburban Driver Forums";}
        
            
        


 