

<h2>You are not eligible.</h2>
<p>If you are not the legal owner of the vehicle you must have the legal owner's written permission to apply for a delicensing payment. </p>
        

       




 