

<h3>Taxi delicensing scheme</h3>

<p>TfL has re-launched its enhanced delicensing fund that supports taxi drivers who want to delicense their Euro 3, 4 or 5 vehicles.</p>

<p>Following the announcement of &pound;24m funding from the Mayor, TfL has restructured the taxi delicensing scheme.</p>

<p>Payments of up &pound;8,000 are now available to current applicants having allocated all the payments at the &pound;10,000 and &pound;9,000 level. We continue to accept applications which will be allocated to the appropriate level on a first come, first served basis.</p>

<p>Applicants that have already been allocated and paid at the &pound;9,000 and &pound;8,000 level may have their payment upgraded following a full reconciliation of applications. If you receive an email from TfL offering a top up payment of &pound;1,000, please provide the requested information so we can make the additional payment. If you have any queries about the this top up payment, please email <a href="mailto:taxidelicensing&#64;tfl.gov.uk">taxidelicensing&#64;tfl.gov.uk</a> or call 020 3054 5437</p>

<p>How payment allocations are decided is shown below.</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Eligible vehicles</strong></td>
			<td><strong>No. of payments available</strong></td>
			<td><strong>Delicensing payment</strong></td>
		</tr>
		<tr>
			<td rowspan="5">Taxis younger than 13 years</td>
			<td>1,250</td>
			<td>&pound;10,000</td>
		</tr>
		<tr>
			<td>1,100</td>
			<td>&pound;9,000</td>
		</tr>
		<tr>
			<td>850</td>
			<td>&pound;8,000</td>
		</tr>
		<tr>
			<td>500</td>
			<td>&pound;7,000</td>
		</tr>
		<tr>
			<td>400</td>
			<td>&pound;6,000</td>
		</tr>
		<tr>
			<td>13 year old taxis</td>
			<td>1,000</td>
			<td>&pound;1,000</td>
		</tr>
	</tbody>
</table></div>

<h3>Eligibility</h3>

<p>If you are the owner of a diesel taxi that is less than 14 years old you may be able to surrender your taxi vehicle licence and plate in exchange for a payment from TfL. Once a taxi vehicle licence has been surrendered and the vehicle delicensed it cannot be licensed in London again.</p>

<p>Check whether you are eligible for the scheme under <a href="/corporate/terms-and-conditions/taxi-delicensing">these Terms and Conditions</a>.</p>

<h3>Apply for a delicensing payment</h3>

<p>Please ensure you have carefully read and understood the <a href="/corporate/terms-and-conditions/taxi-delicensing">Terms and Conditions</a> before applying.</p>

<p>To apply for a delicensing grant you will need your vehicle registration number, Vehicle Identification Number (VIN) and vehicle licence number to complete the application, as well as an email address we can contact you on.</p>

<p><a class="primary-button" href="/info-for/taxis-and-private-hire/apply-for-taxi-delicensing-payments">Apply for your taxi delicensing payment</a>.</p>

<h3>FAQs</h3>

<p>Following the launch of a new Enhanced Taxi Delicensing Scheme on 15th January 2019, the original delicensing scheme (anyone who applied before 2019) has been discontinued.</p>

<p>We kindly ask that you do not chase for a response as we will be in touch with you.</p>

<p>Please note, the scheme is only available to Hackney Carriages; Private Hire Vehicles are not eligible for this scheme.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
	<tbody>
		<tr>
			<td>Can I talk to someone about my application?</td>
			<td>Please call 020 3054 5437 between 09:00 and 17:00 (Monday to Friday) to speak to the delicensing and LPG team.</td>
		</tr>
		<tr>
			<td>I have applied and have not heard anything?</td>
			<td>All applications for the new Enhanced Delicensing Scheme are being processed on a first come, first served basis. We are working through all applications in order. Due to the high volume of applications received this is taking longer than anticipated. If you received the auto response, please be assured that we will have received any paperwork sent to us and it will be processed in due course.</td>
		</tr>
		<tr>
			<td>What can I do whilst I wait?</td>
			<td>Please remember to keep the records we hold in relation to the vehicle and you as an applicant (name and address) up-to-date ensuring that these details match your V5 and we have your most recent email address. If you need to update your details please contact customer services on 0343 222 4444.</td>
		</tr>
		<tr>
			<td>Can I withdraw from the scheme if I am not happy with the offer?</td>
			<td>You will receive an offer figure for the delicensing of your vehicle once we have received your signed Terms and Conditions - at no point are you obligated to accept the offer, until you present your vehicle at the test centre for inspection.</td>
		</tr>
		<tr>
			<td>My vehicle licence has expired since my application was made?</td>
			<td>The vehicle will need to be licensed, we cannot process the application if the vehicle licence is no longer active.</td>
		</tr>
		<tr>
			<td>How do I book my vehicle for inspection?</td>
			<td>All details are in the letter you were emailed. Please follow the instructions in here. You have 28 days to book an inspection. There is no charge for the inspection. The inspection booking number is 0343 222 5555.</td>
		</tr>
		<tr>
			<td>When will I receive payment?</td>
			<td>We will send you a payment form when we receive all the inspection documentation from NSL &#45; this is usually within three working days from the inspection. After we receive your payment form, payment is made within 21 working days.</td>
		</tr>
	</tbody>
</table></div>

<h3>Taxi Age Limits</h3>

<p>Following a <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/">public consultation</a>, we will be introducing changes to taxi vehicle age limits and exemptions. These changes are being introduced in order to reduce harmful emissions from taxis and improve air quality in the capital.</p>

<p>The <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/user_uploads/taxi-age-limits-consultation-report.pdf">taxi age limits consultation report</a> and <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/user_uploads/taxi-age-limit-decision-paper.pdf">decision paper</a> which summarises the consultation report and makes recommendations to the Commissioner, is available for download.</p>

<p>Please visit our <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emission Standards for Taxis</a> page for more information about how this may affect you.</p>
        

       




 