
    
  



@{ViewBag.Title = "Taxi ranks";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/taxi-ranks";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi ranks</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi ranks</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Taxi ranks are a vital part of London's transport network and help ensure that taxi services can meet passenger demands.
        
      </div>
    
    <div class="on-this-page">
      
        <p>We are responsible for appointing taxi ranks on the public highway in all Greater London boroughs, with the exception of the City of London.</p>
    
      
           
      
<div>



<h2>Appointed taxi ranks</h2>


<p>Information about taxi ranks appointed by us, including rest and refreshment ranks, is available in the Taxi ranks booklet below:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-taxi-ranks-booklet.pdf">
    <div class="document-download-text">
        <p>Taxi ranks booklet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 974KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 
</div>

</div>
 
<h3>Reporting unauthorised parking on taxi ranks</h3>
<p>Cars and other vehicles parked on taxi ranks can be reported to the relevant borough, or to us if the taxi rank is on a red route, so action can be taken. </p>
<p>Private hire vehicles (PHVs) parked on ranks or unattended taxis on ranks should be reported directly to us so as we can take action. <a href="http://tfl.gov.uk/tph-report">Send reports to us</a>.</p>
<p>Taxi drivers who receive a Penalty Charge Notice (PCN) from a borough or from&nbsp;us can appeal against this. If the initial appeal is unsuccessful, an appeal can be made to <a href="http://www.londontribunals.gov.uk/">London Tribunals</a>, which was formerly known as PATAS.</p>
<p>These links will help you to report PHVs, unattended taxis and other vehicles on taxi ranks in London. When you report a problem please include the date and time plus the location of the taxi rank:</p>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Borough</strong>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="http://www.lbbd.gov.uk/online/report/report-concern/">Barking &amp; Dagenham</a></td>
		</tr>
		<tr>
			<td><a href="https://www.barnet.gov.uk/citizen-home/parking-roads-and-pavements/Parking/parking-enforcement.html">Barnet</a></td>
		</tr>
		<tr>
			<td><a href="http://www.bexley.gov.uk/parking">Bexley</a></td>
		</tr>
		<tr>
			<td><a href="http://www.brent.gov.uk/report-it/">Brent</a></td>
		</tr>
		<tr>
			<td><a href="http://www.bromley.gov.uk/info/200072/parking/586/request_parking_enforcement">Bromley</a></td>
		</tr>
		<tr>
			<td><a href="https://www.royalgreenwich.gov.uk/info/200261/parking_penalties_and_fines/310/report_illegal_street_parking">Camden</a></td>
		</tr>
		<tr>
			<td><a href="http://www.cityoflondon.gov.uk/contact-us/Pages/default.aspx">City of London</a></td>
		</tr>
		<tr>
			<td><a href="https://my.croydon.gov.uk/Services/Reporting/report.aspx?sconf=Reporting_highparking">Croydon</a></td>
		</tr>
		<tr>
			<td><a href="http://www.ealing.gov.uk/site/xfp/scripts/xforms_form.php?formID=86&amp;language=en">Ealing</a></td>
		</tr>
		<tr>
			<td><a href="https://new.enfield.gov.uk/report-a-problem/">Enfield</a></td>
		</tr>
		<tr>
			<td><a href="http://www.royalgreenwich.gov.uk/info/200026/council_departments/1348/contact_royal_borough_of_greenwich/11">Greenwich</a></td>
		</tr>
		<tr>
			<td><a href="http://www.hackney.gov.uk/contact-us">Hackney</a></td>
		</tr>
		<tr>
			<td><a href="http://www.lbhf.gov.uk/parking/contact-us-about-parking">Hammersmith &amp; Fulham</a></td>
		</tr>
		<tr>
			<td><a href="https://eforms.secure.haringey.gov.uk/ufs/ufsmain?formid=REPORT_A_PROBLEM&amp;WK_ANOTHER=false&amp;WHAT_IS_THE_PROBLEM=Parking+and+Moving+Traffic+Offences&amp;ebz=1_1468401650916&amp;ebd=0&amp;ebp=120&amp;ebz=1_1468401650916">Haringey</a></td>
		</tr>
		<tr>
			<td><a href="https://www.harrow.gov.uk/parking-permits/report-illegal-parking?documentId=12731&amp;categoryId=210279">Harrow</a></td>
		</tr>
		<tr>
			<td><a href="http://www.havering.gov.uk/Pages/OnlineForms/Request-for-Parking-Enforcement.aspx">Havering</a></td>
		</tr>
		<tr>
			<td><a href="https://archive.hillingdon.gov.uk/article/30738/Parking-and-traffic-enforcement">Hillingdon</a></td>
		</tr>
		<tr>
			<td><a href="http://www.hounslow.gov.uk/index/transport_and_streets/parking.htm">Hounslow</a></td>
		</tr>
		<tr>
			<td><a href="https://beta.islington.gov.uk/parking/parking-restrictions/report-a-nuisance-vehicle">Islington</a></td>
		</tr>
		<tr>
			<td><a href="http://www.rbkc.gov.uk/contactsdirectory/az.aspx?searchletter=p&amp;orgid=1824">Kensington &amp; Chelsea</a></td>
		</tr>
		<tr>
			<td><a href="http://www.rbkc.gov.uk/contactsdirectory/az.aspx?searchletter=p&amp;orgid=1824">Kingston</a></td>
		</tr>
		<tr>
			<td><a href="http://www.lambeth.gov.uk/parking-transport-and-streets/contact-the-parking-transport-and-streets-teams">Lambeth</a></td>
		</tr>
		<tr>
			<td><a href="http://www.lewisham.gov.uk/myservices/parking/carparks/Pages/car-parks.aspx">Lewisham</a></td>
		</tr>
		<tr>
			<td><a href="http://www.merton.gov.uk/transport-streets/parking/contact_parking.htm">Merton</a></td>
		</tr>
		<tr>
			<td><a href="http://www.newham.gov.uk/Pages/Services/Street-parking-enforcement.aspx?l1=100002&amp;l2=200072#Reportaproblemvehicle">Newham</a></td>
		</tr>
		<tr>
			<td><a href="https://www.redbridge.gov.uk/parking/parking-enforcement/">Redbridge</a></td>
		</tr>
		<tr>
			<td><a href="http://www.richmond.gov.uk/home/services/parking/parking_contact.htm">Richmond</a></td>
		</tr>
		<tr>
			<td><a href="http://www.southwark.gov.uk/parking">Southwark</a></td>
		</tr>
		<tr>
			<td><a href="http://www.sutton.gov.uk/info/200195/parking">Sutton</a></td>
		</tr>
		<tr>
			<td><a href="http://www.towerhamlets.gov.uk/lgnl/transport_and_streets/Parking/Parking.aspx">Tower Hamlets</a></td>
		</tr>
		<tr>
			<td><a href="https://www.walthamforest.gov.uk/content/clamping-and-removal-vehicles">Waltham Forest</a></td>
		</tr>
		<tr>
			<td><a href="http://www.wandsworth.gov.uk/info/100011/parking_and_streets/459/parking_contacts">Wandsworth</a></td>
		</tr>
		<tr>
			<td><a href="http://www.westminster.gov.uk/contact-parking-services">Westminster</a></td>
		</tr>
		<tr>
			<td>
			<p>Transport for London<br />
			Photos of PHVs or unattended taxis on ranks can be emailed to us at:</p>

			<ul>
				<li><a href="mailto:TPHintel&#64;tfl.gov.uk">TPHintel&#64;tfl.gov.uk</a></li>
			</ul>
			</td>
		</tr>
		<tr>
			<td><a href="http://www.londontribunals.gov.uk/">London Tribunals</a> (formerly PATAS)</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>


 
<div>



<h2>Suspending a taxi rank</h2>


<p>If you would like to suspend a taxi rank then you must contact us first.</p>
<p>All taxi rank suspension requests are considered on a case-by-case basis. In order for us to consider your request, you must submit a fully completed taxi rank suspension form, along with any traffic management plans, to us at least 10 full working days before you would like the suspension to start. Saturdays, Sundays, Bank Holidays and public holidays are not counted as part of this period.</p>
<p>For some suspensions, a temporary taxi rank must be provided to ensure that there is still designated space for taxi drivers to provide a service to the public. This will take more than 10 working days to arrange and so where a temporary taxi rank is needed you should provide as much notice as possible.</p>
<p>Before you submit a request to suspend a taxi rank you must read our taxi rank suspension policy.</p>
<p><a href="mailto:tphranksinterchange&#64;tfl.gov.uk">Please email us your completed taxi rank suspension form</a>.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-rank-suspension-policy.pdf">
    <div class="document-download-text">
        <p>Taxi rank suspension policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-rank-suspension-form.pdf">
    <div class="document-download-text">
        <p>Taxi rank suspension form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h2>Temporary event taxi ranks</h2>
<p>If you are holding an event then we can assist you with appointing a temporary taxi rank to help ensure that your guests can get home safely when it finishes.</p>
<p><a href="mailto:tphranksinterchange&#64;tfl.gov.uk">Please email Taxi and Private Hire</a> if you would like to discuss appointing a temporary taxi rank for an event in London.
</p>
</div>
 
<div>




<h2>Island ranks and extension areas</h2>
<p>Download the document below for information about new island ranks and extensions areas. Also includes the points we'll take into consideration before deciding whether to designate a new island rank or extension area.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/island-taxi-ranks-and-extension-areas-final.pdf">
    <div class="document-download-text">
        <p>Island ranks and extension areas</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<h3></h3>
</div>

<!-- 0.11 -->
 
</div>
<h2>New taxi ranks</h2>
<p>If you have a suggestion for a new taxi rank, then you can send this to us by <a href="mailto:tphranksinterchange&#64;tfl.gov.uk">emailing Taxi and Private Hire</a>. </p>
<p>When you email us please include the following information:</p>
<ul>
    <li>The specific location</li>
    <li>Whether the location is on the red route, a borough road or private property</li>
    <li>What the taxi rank would serve (such as a hotel, nightclub, station etc)</li>
    <li>A photo of the location</li>
    <li>Any other relevant information</li>
</ul>
<p>We'll consider your request and if we think this is feasible we'll contact the relevant highway authority or land owner, so they can also consider this.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ranks-action-plan.pdf">
    <div class="document-download-text">
        <p>Ranks action plan 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.59 -->
 
</div>
<h2>Night Tube</h2>
<p>Night Tube services are now running on the Victoria and Jubilee lines, and most of the Central, Piccadilly and Northern (Charing Cross) lines. The Night Tube offers a 24-hour service on Fridays and Saturdays. There are <a href="/campaign/tube-improvements/what-we-are-doing/night-tube">taxi ranks at key stations</a> around the Night Tube network.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Taxi ranks are a vital part of London’s transport network and help ensure that taxi services can meet passenger demands.";}
        
            
        


 