

<h2>You are not eligible.</h2>
<p>Only taxis licensed for use in London that are 10 years or older, but less than 15 years of age are eligible for the delicensing scheme.</p>
        

       




 