
    
  



@{ViewBag.Title = "Taxi meetings";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/taxi-meetings";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi meetings</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi meetings</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information about our quarterly meetings with taxi trade representatives.
        
      </div>
    
    <div class="on-this-page">
      We recognise the important role associations representing licensed London taxi drivers provide to drivers, their customers and TfL itself. Our updated Taxi engagement strategy is below.
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-engagement-policy-april-2017.pdf">
    <div class="document-download-text">
        <p>Taxi engagement policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 100KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>




<h2>Taxi operational performance meetings</h2>
<p>We hold quarterly meetings with taxi trade representatives on issues relating to licensing, compliance and enforcement. The actions of those meetings are available to read in the following documents:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feb-2020-taxi-operational-performance-seminar.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting February 2020 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 584KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dec-2019-taxi-operational-performance-seminar-2.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting December 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 610KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tops-notes-december-2019.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tops-meeting-notes-september-2019.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tops-slides-september-2019.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting September 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 831KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-may-2019.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/may-taxi-operational-performance-presentation.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting May 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 623KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-seminar-summary-actions-february-2019.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 206KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-seminar-presentation-february-2019.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting February 2019 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 403KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-december-2018-slides.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting December 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 580KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notes-actions-dec-2019.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-notes-august-2018.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-seminar-presentation-august-2018.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting August 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 591KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-notes-may-2018.pdf.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-seminar-presentation-may-2018.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting May 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 793KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-notes-february-2018.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-february-2018-slides.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting February 2018 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 598KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-notes-october-2017.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-october-2017-slides.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting October 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 763KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operation-performance-seminar-notes-and-actions-20-july-2017.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-operational-performance-meeting-july-2017-slides.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting July 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 682KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notes-and-actions-from-taxi-operational-performance-meeting-april-2017.pdf">
    <div class="document-download-text">
        <p>Notes and actions from taxi operational performance meeting April 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-april-2017-slides.pdf">
    <div class="document-download-text">
        <p>Taxi operational performance meeting April 2017 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-december-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement action tracker December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-december-2016-slides.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement December 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-october-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement action tracker October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-october-2016-slides.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement October 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-august-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker August 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-august-2016-slides.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement August 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 953KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-june-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker June 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-june-2016-slides.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement June 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 917KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-april-2016-slides.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement April 2016 slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 838KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-april-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-january-2016-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker January 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-meeting-september-2015-actions.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-licensing-compliance-and-enforcement-tracker-july-2015.pdf">
    <div class="document-download-text">
        <p>Taxi licensing compliance and enforcement meeting action tracker July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/suburban-driver-forums">Suburban Driver Forums</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-meetings">Taxi meetings</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/private-hire-meetings">Private hire meetings</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Taxi meetings";}
        
            
        


 