

<h2>You are eligible.</h2>
<p>Based on the answers you have given, you are eligible to apply for a taxi delicensing payment. This table shows how much you should receive (based on current payment levels and the number of years left on your licence) when you exchange your TfL vehicle licence and plate with us. </p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>Age of Taxi from DVLA first registration</th>
            <th>Delicensing Payment</th>
        </tr>
        <tr>
            <td>10 years up to but not including 11 years</td>
            <td>&pound;5,000</td>
        </tr>
        <tr>
            <td>11 years up to but not including 12 years</td>
            <td>&pound;3,800</td>
        </tr>
        <tr>
            <td>12 years up to but not including 13 years</td>
            <td>&pound;2,800</td>
        </tr>
        <tr>
            <td>13 years up to but not including 14 years</td>
            <td>&pound;1,900</td>
        </tr>
        <tr>
            <td>14 years up to but not including 15th anniversary of the date of 1st registration</td>
            <td>&pound;1,200</td>
        </tr>
    </tbody>
</table></div>
<p>If you would like to apply for the scheme, you will need your vehicle registration number and VIN to complete the application, as well as a valid email address. </p>
<p>Please also ensure you have carefully read and understood our <a href="/corporate/terms-and-conditions/taxi-delicensing">terms and conditions</a> before applying.</p>
<p>Would you like to apply for the taxi delicensing scheme? </p>
<a data-tracking="prop48" data-tracking-value="no" class="link-button" href="/info-for/taxis-and-private-hire/apply-for-taxi-delicensing-payments">Yes</a>
<a data-tracking="prop48" data-tracking-value="no" class="link-button" href="/info-for/taxis-and-private-hire/taxi-thank-you">No</a>
        

       




 