

<h2>You are not eligible.</h2>
<p>Only the registered keeper of the taxi will be able to apply for a delicensing
payment. The registered keeper will be listed in Section 5 of the vehicle's V5 document (log book).
</p>
        

       




 