
    
  



@{ViewBag.Title = "Amendments, refunds and reimbursements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/amendments-and-refunds";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></li>
                
            
                
                <li><span class="last-breadcrumb">Amendments, refunds and reimbursements</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Amendments, refunds and reimbursements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your plans change you can request certain amendments to a charge, or a refund for the days you are not going to use.</p>
        
      </div>
    
    
      <h2>Charge amendments</h2>

<p>You can ask to change the start date of a charge, the vehicle, or both the start date and vehicle.</p>

<ul>
	<li>Amendments cannot be made for any dates in the past</li>
	<li>You can only change the start date of a charge if it starts today or on a future date</li>
</ul>

<p>You will need the:</p>

<ul>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Receipt number and the charge start date of the charge you want to apply to amend</li>
</ul>

<p>There is a &pound;2.50 charge for all amendments.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/amend-or-refund-a-driving-charge" class="secondary-button no-hover" >Apply to amend a charge</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Refunds</h2>

<p>You can request a refund on monthly or annual charges either for the full amount or for any unused days in the future. You can only request a refund on a weekly charge on or before the charge start date.</p>

<p>We don't refund daily charges or charges for dates in the past.</p>

<p>To request a refund you will need the:</p>

<ul>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Receipt number and charge start date for the charge you want refunded</li>
</ul>

<p>There is a &pound;10 administration charge to process a refund whatever the amount.</p>

<p>Rather than request a low value refund, it may be better to amend the charge to another vehicle or date. We don't offer refunds on future daily charges but it is possible to amend them.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/amend-or-refund-a-driving-charge" class="secondary-button no-hover" >Apply for a refund</a>

    </div>
</div> 
 
</div>
 
<div>



<h2>NHS reimbursements</h2>


<h3>NHS patients</h3>

<p>If you are clinically assessed as too ill to travel to an appointment on public transport, you may be eligible to claim back any Congestion Charges and/or Ultra Low Emission Zone (ULEZ) charges from your treating hospital. Your hospital will tell you if you are eligible.</p>
<div class="multi-document-download-container">
    
</div>
<h3>NHS staff/Fire fighters</h3>

<p>There are no staff refunds for ULEZ charges.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/amendments-and-refunds">Amendments, refunds and reimbursements</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "See if you're eligible for a refund or reimbursement on your ULEZ charge payment";}
        
            
        


 