
    
  



@{ViewBag.Title = "ULEZ Car and motorcycle scrappage scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">ULEZ Car and motorcycle scrappage scheme</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>ULEZ Car and motorcycle scrappage scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The Mayor of London has launched a car and motorcycle scrappage scheme to help low income and disabled Londoners scrap older, more polluting cars and motorcycles in favour of cleaner vehicles and greener forms of transport to help clean the city's toxic air.</p>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>The ULEZ&nbsp;Car and motorcycle scrappage scheme is open to those who live within the 32 London boroughs or the City of London and receive certain means-tested and non means-tested disability benefits. They will be able to apply for a grant to scrap vehicles that don't meet the Ultra Low Emission Zone (ULEZ) emissions standards.</p>

<p><a href="/modes/driving/check-your-vehicle-35896">Check if your vehicle meets the ULEZ emissions standards.</a></p>

<h2>Vans and charity minibuses</h2>

<p>The Mayor of London also runs a separate&nbsp;<a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">scrappage&nbsp;scheme&nbsp;to&nbsp;support micro businesses, sole traders and charities&nbsp;replace vans and charity minibuses</a> that don't meet the Ultra Low Emission Zone (ULEZ) standards.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme?intcmp=52198" >
        <img src="/ruc-cdn/static/cms/images/promos/scrappage-banner-van_rdax_400x200.jpg" alt="" />
        
        <div class="text-link">
             <h3>Scrappage scheme - vans & minibuses</h3>
            <p>Helping micro businesses, sole traders and charities replace polluting vehicles</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<h2>Grant payment</h2>

<p>The scheme offers two payments:</p>

<ul>
	<li>&pound;1,000 to scrap a motorcycle or moped</li>
	<li>&pound;2,000 to scrap a car</li>
</ul>

<p>The vehicle must not meet the ULEZ emissions standards. The payment can be used to purchase a vehicle which does meet the ULEZ standards.</p>

<h2>Eligible applicants and vehicles</h2>

<p>To apply, you must be:</p>

<ul>
	<li>Living within the 32 London boroughs or the City of London</li>
	<li>Claiming benefits</li>
</ul>

<p>Applicants must receive one or more of the benefits below:&nbsp;</p>

<ul>
	<li>Universal Credit</li>
	<li>Armed Forces Independence Payment</li>
	<li>Attendance Allowance</li>
	<li>Carer's Allowance</li>
	<li>Child Tax Credit</li>
	<li>Constant Attendance Allowance</li>
	<li>Disability Living Allowance</li>
	<li>Employment and Support Allowance</li>
	<li>Housing Benefit</li>
	<li>Income Support</li>
	<li>Industrial Injuries Disablement Benefit</li>
	<li>Jobseeker's Allowance</li>
	<li>Pension Credit</li>
	<li>Personal Independence Payment</li>
	<li>Severe Disablement Allowance</li>
	<li>War Pensions Mobility Supplement</li>
	<li>Working Tax Credit</li>
</ul>

<p>Applicants can only apply to scrap cars, motorcycles or mopeds that:</p>

<ul>
	<li>Are registered with the DVLA to the applicant (or someone who lives at the same address as the applicant) and owned for more than 12 months before 23 October 2019.</li>
	<li>Are&nbsp;insured</li>
	<li>Have up-to-date MOT and road tax</li>
	<li>Don't meet <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ emission standards</a></li>
</ul>

<h3>Find out if you're entitled to benefits</h3>

<p>Use an independent benefits calculator to find out what benefits you could get and how to claim them. The following websites are free to use and anonymous:</p>

<ul>
	<li><a href="https://www.entitledto.co.uk/">Entitled to</a></li>
	<li><a href="https://benefits-calculator.turn2us.org.uk">Turn2us</a></li>
	<li><a href="https://www.betteroffcalculator.co.uk">The Benefit and Budgeting Calculator</a></li>
</ul>

<p>Once you start claiming an eligible benefit, you can apply to the ULEZ Car and motorcycle scrappage&nbsp;scheme if you live within the 32 London boroughs or the City of London.</p>

<h2>Your benefits and tax status may be affected</h2>

<p>Some means-tested benefits are affected by the amount of money you have in savings.</p>

<p>The ULEZ Car and Motorcycle scrappage scheme grant payment may be treated as savings for any means-tested benefits you claim. If this grant payment is treated as savings, and takes you over the permitted savings limits, the current means-tested benefits you claim may be affected.</p>

<p><a href="https://www.moneyadviceservice.org.uk/en/articles/how-do-savings-and-lump-sum-pay-outs-affect-benefits">Find out more about this and how benefits can be affected by lump sum payouts.</a></p>

<p>TfL will have no liability to you if the ULEZ Car and motorcycle scrappage scheme grant payment affects any means-tested benefits you receive. &nbsp;Please refer to our <a href="http://tfl.gov.uk/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">terms and conditions</a> for further information on TfL's liability to you.</p>

<h3>If you are a sole trader</h3>

<p>If you are a sole trader and have claimed capital allowances in respect of the scrapped vehicle, you may wish to seek advice as to whether the Car and Motorcycle scrappage scheme payment grant will affect your entitlement to any means-tested benefits.</p>

<p>TfL will have no liability to you if the Car and Motorcycle scrappage scheme&nbsp;grant payment affects any means-tested benefits you receive. &nbsp;Please refer to our <a href="https://tfl.gov.uk/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">terms and conditions </a>for further information on TfL's liability to you.</p>

<h3>Delicenced Taxis</h3>

<p>Registered keepers of a Taxi who have already received a grant under the TfL taxi delicencing scheme are not entitled to scrap that vehicle under the Car and motorcycle scrappage scheme.</p>

<h2>Get ready to apply</h2>

<h3>Before you start</h3>

<ul>
	<li>Read the ULEZ Car and motorcycle scrappage scheme <a href="http://tfl.gov.uk/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">terms and conditions</a></li>
</ul>

<h3>Evidence required</h3>

<p>To apply, you will need to upload documents about your vehicle and the benefits you receive.</p>

<p>You'll need to show that this vehicle is registered at your address and that it&nbsp;is roadworthy:</p>

<ul>
	<li>V5C log book (registration document)</li>
	<li>Up-to-date vehicle insurance certificate</li>
	<li>Up-to-date MOT certificate</li>
</ul>

<p>If the vehicle is registered in the name of someone who lives at the same address as you, you'll need to prove they live with you. You can do this by submitting a&nbsp;proof of address, such as a bank statement, utility bill or&nbsp;driving licence, which is in their name and at your address.</p>

<p>You'll need to prove you claim a benefit with either:</p>

<ul>
	<li>Your most recent award letter (not more than 12 months old), or</li>
	<li>Screenshot(s) that show your full Universal Credit service statement&nbsp;</li>
</ul>

<p>If your benefit proof doesn't show your address, you'll need to provide a&nbsp;proof of address such as a bank statement, utility bill or&nbsp;driving licence.</p>

<h3>Acceptable files</h3>

<p>You can upload photos, scans or screenshots of your documents, but they must show the entire page and be clear enough&nbsp;to read.&nbsp;Files can be uploaded in JPG, PNG or PDF formats.</p>

<p>For example, you can use your phone to take photos of the&nbsp;documents and upload these to us.</p>

<h2>Start your application</h2>

<p>To apply, you'll need a London road user charging account. You can create an account as part of your application</p>

<p>Keep in mind:</p>

<ul>
	<li>The name on the account must be the benefit holder</li>
	<li>The address on the account must match the address on your benefits proof. This must also be the address where&nbsp;the vehicle is registered</li>
</ul>

<p>The application process has two stages:</p>

<ol>
	<li><strong>Check and apply online:</strong>&nbsp;You will need to send us&nbsp;evidence that you and your vehicle qualify for the scheme. We will aim to process your application within 10 working days of receiving your application and contact you to let you know if it has been approved</li>
	<li><strong>Scrap your vehicle:</strong> Once approved, we'll ask you to scrap your vehicle at an <a href="https://environment.data.gov.uk/public-register/view/search-elv">Authorised Treatment Facility.</a> They will issue you with a Certificate of Destruction. You will need to send this to us so we can validate it and issue your grant payment</li>
</ol>

<p>If your application is successful your grant payment will be sent to the address on your LRUC account.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/check-eligibility" class="primary-button" >Check and apply</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Approval to scrap your vehicle</h2>

<p>If we approve your application, we will ask you to scrap your vehicle at an <a href="http://environment.data.gov.uk/public-register/view/search-elv">Authorised Treatment Facility.</a> They will give you a Certificate of Destruction and you will need to send us an image of it.</p>

<p><strong>Do not scrap your vehicle until we have confirmed that you can do so.</strong></p>

<h2>Submit your&nbsp;Certificate of Destruction</h2>

<p>After you've scrapped your vehicle, you need to upload an image of the Certificate of Destruction.</p>

<p>You&nbsp;must be&nbsp;logged into the same London road user charging (LRUC)&nbsp;account that you submitted your application from or your grant payment will be delayed.</p>

<p>We will aim to process your Certificate of Destruction within 10 working days. We will contact you with the outcome.</p>

<p>Once&nbsp;approved, your grant payment will be&nbsp;sent by post to the named applicant at the address on the LRUC account.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/submit-proof-of-scrappage" class="secondary-button no-hover" >Upload Certificate of Destruction</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Make an enquiry</h2>

<p>You can ask questions about the ULEZ Car and motorcycle scrappage scheme.</p>

<p>If you've already applied for the grant and we have asked you for more information to support your application, you can submit it by making an enquiry. For example, if you own a business as a sole trader we may ask you to send us a completed 'State Aid declaration'.</p>

<p>If you've applied but changed your mind, please&nbsp;tell us&nbsp;that you'd like to withdraw your application.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/make-enquiry" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Scheme funding</h2>

<p>This scheme is subject to available funding announced by the Mayor of London &nbsp;We may review how this scheme is operating (such as the length of the scheme, eligibility checks, grant payment options and more) and make changes when necessary.</p>

<p>See how TfL uses your data on the <a href="https://tfl.gov.uk/corporate/privacy-and-cookies/road-user-charging">Road User Charging privacy page.</a></p>

<h2>Discounts and promotions</h2>

<p>If you're eligible for the grant, you can also access a range of special discounts and deals. Discounts and promotions include a year's free membership of the popular Santander bike hire scheme, with all rides up to 30 minutes for free.&nbsp;</p>

<p>We have also secured promotions from other organisations supporting the Mayor's effort to clean up toxic air, to help all Londoners avoid polluting when they travel.&nbsp;</p>

<p>If you receive benefits, are disabled, over 60 or travelling with young children, you are likely to be eligible for <a href="https://tfl.gov.uk/fares/free-and-discounted-travel?intcmp=54647">free or discounted travel on the TfL network.</a></p>

<h3>Ways to travel in London to pollute less</h3>

<p>Travel by walking, cycling, or using public transport is the best way to help London's air become cleaner. We are committed to making active and sustainable travel accessible and affordable for all.</p>

<p><a href="https://tfl.gov.uk/plan-a-journey/">Plan your journey using the Journey Planner tool.</a> We've teamed up with free travel-planning app <a href="https://tfl.gov.uk/info-for/media/press-releases/2018/november/from-map-to-app-tfl-and-go-jauntly-team-up-to-bring-the-walking-tube-map-onto-people-s-phones">Go Jauntly to help Londoners plan journeys on foot.</a></p>

<p>All Londoners can benefit from the Hopper fare, allowing unlimited bus and tram journeys within one hour for &pound;1.50, and the wonderful world of off-peak travel on London Underground.</p>

<p>TfL works with London boroughs to provide<a href="https://tfl.gov.uk/modes/cycling/cycling-in-london/cycle-skills"> cycle training free or discounted to all residents.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div>
                                <ul>
                                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The Mayor of London has launched a car and motorcycle scrappage scheme to help low income and disabled Londoners scrap older, more polluting cars and motorcycles in favour of cleaner vehicles and greener forms of transport to help clean the city’s toxic air.";}
        
            
        


 