
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Discounts and exemptions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/discounts-and-exemptions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Discounts and exemptions</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Discounts and exemptions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Some drivers and vehicles qualify for at least a temporary discount from the Ultra Low Emission Zone charge (ULEZ). Others are entirely exempt.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>If none of these apply to you, you can also explore <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ways to meet the standard</a>.</p>

<h2>Residents</h2>

<ul>
	<li>Residents who are registered for the residents' Congestion Charge discount will be granted a time-limited grace period where a 100% discount from the ULEZ will apply to their vehicles. This will give them more time to change their vehicle to meet the ULEZ standards</li>
	<li>The discount will be available to those who live within the ULEZ and in designated areas next to the boundary where the Congestion Charge residents' discount applies. The grace period applies until 24 October 2021</li>
	<li>This discount will only apply while they live within the zone and are registered with us</li>
	<li>Residents using a vehicle that doesn't meet the T-Charge emissions standards will continue to pay the T-Charge, at a discounted rate of 90%, during the ULEZ resident grace period</li>
	<li>Motorbikes and mopeds that do not meet the ULEZ emissions standards but are&nbsp;registered for a Congestion Charge residents'&nbsp;discount&nbsp;are entitled to a 100% discount from the ULEZ charge&nbsp;until&nbsp;24 October 2021.&nbsp;Motorbikes and mopeds are exempt from both&nbsp;the Congestion Charge and T-Charge but&nbsp;you can still apply for a residents' discount.&nbsp;To register for the residents' discount visit the Congestion Charge <a href="/modes/driving/congestion-charge/discounts-and-exemptions">discounts and exemptions page</a>.</li>
	<li>From 25 October 2021, residents must pay the full daily ULEZ charge to drive a vehicle in the zone if it does not meet the ULEZ standards</li>
</ul>

<h2>Vehicles for disabled people</h2>

<ul>
	<li>Keepers of vehicles registered with a 'disabled' or 'disabled passenger vehicles' tax class will benefit from a grace period after the ULEZ starts. They'll be exempt from the ULEZ charge until 26 October 2025 as long as their vehicle doesn't change tax class. (Vehicles operated by or on behalf of TfL will not benefit from this grace period.) <a href="https://www.gov.uk/financial-help-disabled/vehicles-and-transport">Read the eligibility criteria for the disabled exemption on Gov.uk</a></li>
	<li>If your UK-registered vehicle is in this category, you don't need to register with us to get the exemption. If your 'disabled' vehicle is registered outside the UK, you are also exempt from ULEZ during the grace period, but will need to register with us.</li>
	<li>Blue Badge holders need to pay the charge unless their vehicle meets the ULEZ emission standards or is registered with the DVLA with a 'disabled' or 'disabled passenger vehicle' tax class</li>
	<li>From 27 October 2025 vehicles with 'disabled' or 'disabled passenger vehicles' tax class that do not meet the ULEZ emission standards will be liable for the daily ULEZ charge</li>
</ul>

<h2>Taxis</h2>

<p>London-licensed taxis are exempt from ULEZ charges. They are currently subject to a 15-year age limit - we are currently&nbsp;reviewing proposals to reduce this to 12 years.</p>

<p>All newly licensed taxis must be capable of producing zero emissions. Find out more about <a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">how we plan to have the cleanest taxi fleet in the world</a>.</p>

<h2>Private hire vehicles (PHVs)</h2>

<p>PHV's that do not meet the emissions standards must pay the full ULEZ charge to drive within the zone.</p>

<p>Designated wheelchair-accessible PHVs will be granted a grace period until 26 October 2025 - during this period designated wheelchair-accessible PHVs used to carry out a private hire booking will be exempt from the ULEZ daily charge.</p>

<p>These vehicles will only be exempt when carrying out a private hire booking for a TfL-licensed PHV operator. At all other times PHV owners will have to pay the charge if their designated wheelchair-accessible PHV does not meet the emissions standards and is not in the disabled or disabled passenger vehicle tax class.</p>

<p>See a list of designated wheelchair-accessible PHVs licensed by TfL on the <a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility page</a>.</p>

<p>If you feel that your vehicle should be on the list please email <a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a>.</p>

<h2>Historic vehicles</h2>

<p>You can apply to stop paying vehicle tax if your vehicle was built more than 40 years ago. This date moves forward on a 40-year rolling system. Assuming the rules stay the same, when the ULEZ launches in April 2019, vehicles built before 1979 will be eligible to apply for historic vehicle tax class.</p>

<p>All vehicles that have a historic vehicle tax class will be exempt from the ULEZ. This tax class excludes any vehicle used commercially (for example, coffee vans or street food vans).</p>

<p>In line with the existing LEZ discount all vehicles registered before 1 January 1973 will be exempt from the ULEZ, regardless of commercial use or otherwise.</p>

<p>If your vehicle meets the above criteria and is registered in the UK, it is automatically exempt and you don't need to register with us. If your vehicle meets the above criteria but is registered outside the UK, you are also exempt, but will need to register with us. Details on how you can register will be available closer to the time.</p>

<h2>Other exempt vehicles</h2>

<p>A small number of vehicle types currently exempt from the LEZ are also exempt from the ULEZ charge. These include:</p>

<ul>
	<li>Agricultural vehicles</li>
	<li>Military vehicles</li>
	<li>Non-road going vehicles which are allowed to drive on the highway (for example, excavators)</li>
	<li>Certain types of mobile cranes</li>
</ul>

<p>If your vehicle meets any of the above criteria and is registered in the UK, it is automatically exempt and you don't need to register with us. If your vehicle meets any of the above criteria but is registered outside the UK, you are also exempt, but will need to register with us. <a href="/modes/driving/check-your-vehicle-35896">Check if you need to register.</a></p>

<h2>Discount for showman's vehicles</h2>

<p>Some showman's vehicles are eligible for a 100% discount from the ULEZ daily charge if they are registered to a person following the business of a travelling showman and have been modified or specially constructed. Trailers and semi-trailers which have been modified or specially constructed are not eligible for the 100% discount.</p>

<p>For a vehicle to be eligible for the discount, modifications or special constructions for the purpose of the show must be either:</p>

<ul>
	<li>Used during the performance, or</li>
	<li>Used for the purpose of providing the performance, or</li>
	<li>Used for carrying performance equipment, or</li>
	<li>Used for displaying animals to the public, or</li>
	<li>Below the chassis level, such that it isn't possible to fit emission abatement equipment</li>
</ul>

<p>If your vehicle meets the above criteria, you need to register with us to qualify for the discount. (Vehicles that are already registered with TfL for a LEZ showman's discount do not need to be registered again for ULEZ). This applies to both UK and non-UK vehicles.</p>

<p>If you receive any other discounts or exemptions for the Congestion Charge you still need to pay the ULEZ charge if you drive within the zone in a vehicle that does not meet the ULEZ standards.</p>

<h2>Not-for-profit minibuses</h2>

<p>From 25 October 2021 to 29 October 2023 minibuses operated under a section 19 or section 22 permit by not-for-profit organisations will be eligible for a grace period exempting them from the ULEZ daily charge.</p>

<p>Vehicles driven within the ULEZ in central London BEFORE 25 October 2021 need to meet emissions standards or you need to pay the daily ULEZ charge.</p>

<p>For a vehicle to be eligible for the grace period they must be:</p>

<ul>
	<li>A minibus built or adapted to carry 8-16 passengers</li>
	<li>Owned or leased by a not-for-profit organisation and operated using a valid section 19 or section 22 permit issued by an approved licensing body</li>
	<li>Owned (or leased) before 8 June 2018</li>
</ul>

<p>If your vehicle meets the above criteria, you'll need to register with us to qualify for the grace period. <a href="/modes/driving/check-your-vehicle-35896">Check if you need to register your vehicle</a>.</p>

<p>The grace period will expire from 30 October 2023 and all minibuses will need to meet emissions standards or pay the daily charge.</p>

<p>Find more information on the Department for Transport web page on <a href="https://www.gov.uk/government/publications/section-19-and-22-permits-not-for-profit-passenger-transport/section-19-and-22-permits-not-for-profit-passenger-transport">eligibility for section 19 and section 22 permits</a>.</p>

<p><a href="/ruc-cdn/static/cms/documents/nhs-reimbursement-user-guide.pdf">.</a></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "See if you or your vehicle qualifies for a discount or exemption from the ULEZ";}
        
            
        


 