
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Motorcycles, mopeds and more";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Motorcycles, mopeds and more</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Motorcycles, mopeds and more</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Motorcycles need to meet minimum emission standards when travelling within the Ultra Low Emission Zone (ULEZ) or be subject to a charge.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Vehicles included are:</p>

<ul>
	<li>Motorcycles</li>
	<li>Mopeds</li>
	<li>Motorised tricycles</li>
	<li>Quadricycles (L category)</li>
</ul>

<h2>Minimum emission standards</h2>

<p>All vehicles need to meet Euro 3 emissions standards for NOx.</p>

<p>The ULEZ is enforced based on the declared emissions of the vehicle rather than the age - but generally speaking Euro 3 engines as those registered with the DVLA after July 2007.</p>

<p>Check your vehicle to see if it meets the standards. If the checker says your vehicle is subject to ULEZ but you think it does meet the standards, follow the steps on the results page to send us proof.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/check-your-vehicle-35896" class="secondary-button no-hover" >Check your vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<p>Contact your vehicle's manufacturer if you're not sure about its emissions - we will accept supporting evidence from them.</p>

<h3>Motorbike emissions testing</h3>

<p>We will also accept evidence from test facilities approved by us for measuring NOx emissions. If successful, the test facility will contact us with the results.</p>

<p>Test centres that believe they can offer motorcycle emissions testing to the required standards should email their contact details to <a href="mailto:ruculezenquiries&#64;tfl.gov.uk">ruculezenquiries&#64;tfl.gov.uk</a>.</p>

<h4>Approved centres for motorcycle emissions testing</h4>

<p>Riverbank Motorcycles Ltd<br />
Unit 12, Riverbank Business Park<br />
Dye House Lane, Bow<br />
London E3 2TB</p>

<h2>Charges (if ULEZ standards not met)</h2>

<p><strong>We would prefer vehicle owners to use vehicles that meet the emissions standards rather than pay a daily charge.</strong></p>

<p>A daily charge runs from midnight to midnight. If you drive within the ULEZ area across two days, for example before midnight and after midnight, you will have to pay two daily charges.</p>

<ul>
	<li>Daily ULEZ charge: &pound;12.50</li>
	<li>Penalty charge: &pound;160 (reduced to &pound;80 if paid within 14 days)</li>
</ul>

<p>These are in addition to any Congestion Charges that may apply to some motorbikes. (Motorcycles etc are not subject to the Low Emission Zone (LEZ).)</p>

<h3>How to pay</h3>

<ul>
	<li><a href="/modes/driving/auto-pay">Set up Auto Pay</a> (&pound;10 annual charge per vehicle). Already have Auto Pay? Then you don't need to do anything</li>
	<li><a href="/modes/driving/pay-to-drive-in-london">Pay online</a></li>
	<li>Download the official TfL Pay to drive in London app for free from both the <a href="https://www.apple.com/uk/ios/app-store/">Apple App Store</a> and <a href="http://play.google.com/store">Google Play Store</a></li>
	<li>Pay by phone<br />
	UK: 0343 222 2222 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
	International:+44 343 222 2222<br />
	Textphone: 020 7649 9123 (if you have impaired hearing)</li>
</ul>

<p>Motorbikes and mopeds that do not meet the ULEZ emissions standards but are&nbsp;registered for a Congestion Charge residents'&nbsp;discount&nbsp;are entitled to a 100% discount from the ULEZ charge&nbsp;until&nbsp;24 October 2021. Motorbikes and mopeds are exempt from both&nbsp;the Congestion Charge and T-Charge but&nbsp;you can still apply for a residents' discount.&nbsp;To register for the Residents' discount visit the Congestion Charge <a href="/modes/driving/congestion-charge/discounts-and-exemptions">discounts and exemptions page</a>.</p>

<h2>Your options</h2>

<p>If your vehicle does not meet the required ULEZ standards you can:</p>

<h3>Walk, cycle or use our public transport network</h3>

<ul>
	<li>This includes our Night Tube, Night Bus and Night Overground services</li>
	<li><a href="/plan-a-journey/">Visit our journey planner tool</a></li>
</ul>

<h3>Take advantage of our fares freeze and off-peak fares</h3>

<ul>
	<li>Use our Hopper fare to take unlimited bus or tram journeys within one hour for &pound;1.50. <a href="https://tfl.gov.uk/fares/find-fares/bus-and-tram-fares">Find out more about the Hopper fare</a></li>
	<li>Travel off peak anywhere between Zones 2 and 6 for &pound;1.50. <a href="https://tfl.gov.uk/fares/">Find out more about fares</a></li>
	<li>Night services on the Tube and London Overground are off peak</li>
	<li>If you're planning a night out, travel from Zones 2-9 in to Zone 1 during the rush hour from &pound;2.40. <a href="https://tfl.gov.uk/fares/find-fares/tube-and-rail-fares">When is off peak?</a></li>
</ul>

<h3>Upgrade to a second-hand vehicle that meets ULEZ standards</h3>

<ul>
	<li>Nearly all motorcycles produced since 2007 meet the ULEZ standards</li>
	<li>Check your vehicle registration document to find your vehicle's Euro emission standard or NOx emissions. If these are not listed on the vehicle registration document then check with the original manufacturer or use <a href="/modes/driving/check-your-vehicle-35896">our vehicle checker</a></li>
</ul>

<p>The date when your vehicle was first registered with the DVLA is in section B of the document. You can check the date with <a href="https://vehicleenquiry.service.gov.uk/">Gov.uk's vehicle enquiry service</a>.</p>

<p>In February 2019 the Mayor of London announced additional funding to help low income vehicle Londoners upgrade to cleaner vehicles.</p>

<ul>
</ul>

<h3>Pay the daily charge</h3>

<ul>
	<li><a href="/modes/driving/pay-to-drive-in-london">Pay any ULEZ, LEZ and/or Congestion Charges online</a>, all at the same time</li>
</ul>

<h3>Go electric</h3>

<ul>
	<li>Electric motorcycles emit no NOx or CO2 from the tailpipe. More information about electric vehicles, including a list of those eligible for a grant, is on <a href="https://www.gov.uk/plug-in-car-van-grants">Gov.uk's page on plug-in grants</a></li>
</ul>

<h3>Cars, motorcycles and mopeds</h3>

<p>The Mayor of London has launched the <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ car and motorcycle scrappage scheme</a> to help low income and disabled Londoners scrap these older, more polluting vehicles in favour of cleaner ones and promote greener forms of transport to help clean the city's toxic air.</p>

<h3>See if you qualify for a discount or exemption</h3>

<ul>
	<li>Check on the <a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions page</a></li>
</ul>
</div>
 <div>

<h2>Questions about ULEZ?</h2>

<p>If you need more advice about the ULEZ, you can <a href="/modes/driving/ulez-make-an-enquiry-wizard">make an enquiry</a>.</p>
</div>
 <div>

<h2>ULEZ boundary expansion</h2>

<p>From October 2021 the ULEZ will <a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">expand to the North and South Circular Roads</a>. All motorcycles within the expanded zone will need to meet the ULEZ emissions standards or pay a daily charge.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Check to see if your motorcyle, moped, motorised tricylces or quadricycles (L category) complies with the ULEZ standards";}
        
            
        


 