
    
  



@{ViewBag.Title = "Organisations supporting ULEZ scrappage schemes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Organisations supporting ULEZ scrappage schemes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Organisations supporting ULEZ scrappage schemes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you are a successful scrappage scheme applicant, or want to scrap your vehicle,  find offers available to you through third party organisations.</p>
        
      </div>
    
    
      <p>We don't endorse, recommend or promote any of the companies or their promotions. This page is updated as and when offers become available. Use at your own risk.</p>

<p>The offers listed below support our ULEZ scrappage schemes for:</p>

<ul>
	<li><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">Cars and motorcycles</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Vans and minibuses</a></li>
</ul>

<p>These third party organisations have designed promotions to support the Mayor's ambition to tackle London's toxic air.</p>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/cartakeback-logo.png" alt="CarTakeBack logo" />
    </div>
    <h2>CarTakeBack</h2>

<h3>Car/motorcycle</h3>

<p>Scrapping your car or motorcycle with CarTakeBack will ensure you receive the DVLA Certificate of Destruction required to complete your application to receive the funding from TfL. Motorcycles will be collected free of charge and issue a Notification of Destruction as proof it has been recycled.</p>

<p><a href="https://www.cartakeback.com/tfl-ulez-scrappage-scheme">See CarTakeBack's car/motorcycle offer.</a></p>

<h3>Van</h3>

<p>Scrapping your van will ensure you receive the DVLA Certificate of Destruction required to complete your application to receive the funding from TfL. Vans will be offered free collection from any address.</p>

<p><a href="https://www.cartakeback.com/TfL-Van-Scrappage-Scheme">See CarTakeBack's van offer.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/driveelectric-logo.gif" alt="DriveElectric logo" />
    </div>
    <h2>DriveElectric</h2>

<p>With this initiative's support it's now possible for DriveElectric to provide vehicles to London businesses from under &pound;100 per month. The savings in fuel, vehicle maintenance, Congestion and ULEZ zone charges already combine to make going electric in London an irresistible proposition. With the additional support of the van scrappage scheme we hope more and more businesses will agree it's time to go electric.</p>

<p><a href="https://www.drive-electric.co.uk/ulez-van-scrappage-scheme/">See DriveElectric's van offer.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/emr-recycling.gif" alt="emr metalrecycling logo" />
    </div>
    <h2>EMR (European Metal Recycling)</h2>

<p>EMR can recycle your van at five Authorised Treatment Facilities (ATF's) located across London: Brentford, Canning Town, Wandsworth, Mitcham and Willesden. EMR can also arrange collections on request. As a fully licensed ATF EMR scrap your van in an environmentally friendly way and contact DVLA to deregister your vehicle whilst paying you a fair price for your end of life van.</p>

<p><a href="http://www.vehiclescrappage.com/">See EMR's van offer.</a></p> 
</div>
 
<div class="module-grid clearfix">

</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/enterprise-logo.png" alt="Enterprise Logo" />
    </div>
    <h2>Enterprise</h2>

<p>Enterprise operates one of the newest and cleanest fleets available in the rental sector and will provide Euro 6-compliant vehicles to all businesses participating in the London van scrappage scheme.</p>

<p><a href="https://www.enterprisecarclub.co.uk/gb/en/programs/promotion/van-scrappage-scheme.html">See Enterprise's van offer.</a></p> 
</div>
 
<div class="module-grid clearfix">

</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/europcar-logo.png" alt="Europcar logo" />
    </div>
    <h2>Europcar</h2>

<p>With one of the youngest van rental fleets in the UK, Europcar is offering businesses participating in the scrappage scheme with a special discount to access vehicles that are fully compliant with the ULEZ, available from locations in and around the perimeter of the capital.</p>

<p><a href="https://www.enterprisecarclub.co.uk/gb/en/programs/promotion/van-scrappage-scheme.html">See Europcar's van offer.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/mitsubishi-logo-255.jpg" alt="Mitsubishi logo" />
    </div>
    <h2>Mitsubishi Motors</h2>

<p>Mitsubishi are pleased to offer an attractive contact hire rate for companies looking reduce their vehicle emissions with the purchase of a new Outlander PHEV Commercial.</p>

<p><a href="https://www.mitsubishi-motors.co.uk/articles/london-ultra-low-emissions-zone">See Mitsubishi's SUV offer.</a></p> 
</div>
 
<div class="module-grid clearfix">

</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/northgate-vankind-logo.png" alt="Northgate logo" />
    </div>
    <h2>Northgate</h2>

<p>Northgate are offering an exclusive 'scrappage scheme discount' on their van hire solutions, alongside offers on Euro 6 vans available for purchase.</p>

<p><a href="https://www.northgatevehiclehire.co.uk/ulez">See&nbsp;Northgate's van offer.</a></p> 
</div>
 
<div class="module-grid clearfix">

</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/car-loan-centre-logo.jpg" alt="Car Loan Centre logo" />
    </div>
    <h2>The Car Loan Centre</h2>

<p>The Car Loan Centre is supporting the Mayor of London's mission to tackle the toxic air in London, as it has become a health crisis in the capital. Check out their offers, which include a free MOT for scrappage scheme applicants.</p>

<p><a href="https://bit.ly/2PPWfOQ">See The Car Loan Centre's offer.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/ubeeqo-2019-logo.gif" alt="Ubeeqo logo" />
    </div>
    <h2>Ubeeqo</h2>

<p>Now available in more of London, Ubeeqo is continuing its commitment to reduce the number of vans and cars on the road across the capital by providing a low-cost and flexible alternative to ownership.</p>

<p><a href="https://welcome.ubeeqo.com/vans/?utm_source=google&amp;utm_medium=cpc&amp;&amp;utm_term=Ubeeqo+Van+Hire%2BBMM&amp;utm_campaign=Brand%2BOPEN%2BENG%2B%2BUK%2BLON%2BALL%2BSPART%2BADW%2BNM&amp;gclid=Cj0KCQiAno_uBRC1ARIsAB496IXxWm4Z_txY3dOm9lKsTWTLL2mdcePp4Wdr0fvG5De_nxDtIIRtc80aAoKHEALw_wcB&amp;gclsrc=aw.ds">See Ubeeqo's van offer.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/zen-logo-website.png" alt="Zen Logo" />
    </div>
    <h2>Zero Emissions Network</h2>

<p>Get ready for ULEZ with free support from the Zero Emissions Network. Businesses and residents in Hackney, Islington and Tower Hamlets can trial zero emission vehicles, get free car club membership and access exclusive discounts.</p>

<p><a href="https://www.zeroemissionsnetwork.com/news/get-ulez-ready">See ZEN offers.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/zipcar-logo.png" alt="Zipcar Logo" />
    </div>
    <h2>Zipcar</h2>

<h3>Car</h3>

<p>For those who choose not to invest in the expense of a replacement car, and yet want vehicles that are fully compliant and are accessible to Londoners within a ten-minute walk on average, car sharing with Zipcar provides an affordable and convenient alternative.</p>

<p><a href="https://www.zipcar.com/en-gb/ulez-public-offer">See ZipCar's car offer.</a></p>

<h3>Van</h3>

<p>Zipcar UK can support the transition to ULEZ by giving businesses access to fully compliant vehicles without needing to purchase new vans.</p>

<p><a href="https://www.zipcar.com/en-gb/ULEZ">See ZipCar's van offer.</a></p> 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Third party organisations have come up with ideas and promotions to help support the scrappage schemes";}
        
            
        


 