
    
  



@{ViewBag.Title = "Penalty charges for ULEZ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Penalty charges for ULEZ</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Penalty charges for ULEZ</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We may issue a Penalty Charge Notice (PCN) if you drive within the Ultra Low Emission Zone (ULEZ) without meeting emissions standards or paying the appropriate daily charge.</p>
        
      </div>
    
    
      
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a PCN</a>

    </div>
</div> 
 <div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover" >Challenge a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<p>You may be issued with a PCN if:</p>

<ul>
	<li>Your vehicle does not meet ULEZ emissions standards and you are not exempt or registered for a 100% discount.</li>
	<li>The relevant charge isn't paid by midnight on the next working day after the first day of travel</li>
	<li>The vehicle has not been registered with us</li>
	<li>You have provided an incorrect number plate (vehicle registration mark) or incorrect date of travel when paying the charge</li>
	<li>You paid by post but did not allow at least 10 days before your date of travel for your payment to clear</li>
</ul>

<p>You may receive separate PCNs for each charging day that you drive within the ULEZ. Please remember that the charging hours are from midnight to midnight. PCNs can be issued to both UK and non-UK registered vehicles.</p>

<p>To see the current status or amount outstanding of the PCN, plus other details, you can <a href="/modes/driving/view-a-pcn">view PCN details</a>.</p>

<p>You can pay online (use the button above) or by:</p>

<p><strong>Phone:</strong> 0343 222 3333 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>Post:</strong><br />
Ultra Low Emission Zone<br />
PO Box 553<br />
Darlington DL1 9TZ</p>

<p><a href="/modes/driving/ultra-low-emission-zone/challenge-a-penalty-charge-notice">Or find out more about challenging a PCN.</a></p>
</div>
 

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Vehicle </strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Weight </strong></th>
			<th colspan="1" id="table_heading_2" rowspan="1"><strong>Penalty charge</strong></th>
			<th colspan="1" id="table_heading_3" rowspan="1"><strong>If paid within 14 days</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">
			<p>Cars, vans, motorcycles, motor tricycles and mopeds</p>

			<p>&nbsp;</p>
			</td>
			<td headers="table_heading_1">Up to and including 3.5 tonnes gross vehicle weight</td>
			<td headers="table_heading_2">&pound;160</td>
			<td headers="table_heading_3">&pound;80</td>
		</tr>
		<tr>
			<td headers="table_heading_0">
			<p>Motor caravans<br />
			Ambulances</p>
			</td>
			<td headers="table_heading_1">2.5 - 3.5 tonnes gross vehicle weight</td>
			<td headers="table_heading_2">&pound;160</td>
			<td headers="table_heading_3">&pound;80</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Minibuses (with more than 8 passenger seats)</td>
			<td headers="table_heading_1">5 tonnes or less gross vehicle weight</td>
			<td headers="table_heading_2">&pound;160</td>
			<td headers="table_heading_3">&pound;80</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Lorries<br />
			Goods vehicles<br />
			Motor caravans<br />
			Motorised horseboxes<br />
			Breakdown and recovery vehicles<br />
			Snow ploughs<br />
			Gritters<br />
			Refuse collection vehicles<br />
			Road sweepers<br />
			Concrete mixers<br />
			Tippers<br />
			Fire engines<br />
			Removals lorries<br />
			Other specialist vehicles</td>
			<td headers="table_heading_1">More than 3.5 tonnes gross vehicle weight</td>
			<td headers="table_heading_2">&pound;1000</td>
			<td headers="table_heading_3">&pound;500</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Buses<br />
			Coaches (with more than 8 passenger seats)</td>
			<td headers="table_heading_1">More than 5 tonnes gross vehicle weight</td>
			<td headers="table_heading_2">&pound;1000</td>
			<td headers="table_heading_3">&pound;500</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/challenge-a-penalty-charge-notice">Challenge a Penalty Charge Notice</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div>
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>CC, ULEZ and LEZ enforcement</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "We may issue a Penalty Charge Notice (PCN) if you drive within the Ultra Low Emission Zone (ULEZ) without meeting emissions standards or paying the appropriate daily charge.";}
        
            
        


 