
    
  



@{ViewBag.Title = "Scrappage scheme for vans and minibuses";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/scrappage-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Scrappage scheme for vans and minibuses</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Scrappage scheme for vans and minibuses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The Mayor of London has launched a scrappage scheme to help improve London's toxic air. It supports businesses with up to 50 employees to replace vehicles that don't meet the Ultra Low Emission Zone (ULEZ) standards.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>If your vehicle doesn't meet the stricter ULEZ emissions standards you will need to pay a daily charge to drive within the zone. Under the scrappage scheme, eligible businesses with up to 50 employees and charities can apply for funds to scrap up to <strong>three </strong>older, more polluting vans and charity minibuses and switch to cleaner vehicles.</p>

<p>Find out if your vehicle meets the <a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">ULEZ standards for vans and minibuses</a>.</p>

<h2>Cars, motorcycles and mopeds</h2>

<p>The Mayor of London has launched the <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ&nbsp;car and motorcycle scrappage scheme</a> to help low income and disabled Londoners scrap these older, more polluting vehicles in favour of cleaner ones and promote greener forms of transport to help clean the city's toxic air.</p>
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme?intcmp=52721" >
        <img src="/ruc-cdn/static/cms/images/promos/scrappage-banner-car_rdax_400x200.jpg" alt="" />
        
        <div class="text-link">
             <h3>Car and motorcycle scrappage scheme</h3>
            <p>Helping low income and disabled Londoners switch to cleaner vehicles and transport.</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<h2>Grant payment options</h2>

<p>If you meet the <a href="#eligibility">eligibility criteria for vehicles and organisations</a> you can apply for one of three funds:</p>

<h3>Option 1: Scrappage for frequent users of the Congestion Charge&nbsp;area (&pound;7,000)</h3>

<p>The vehicle being scrapped must:</p>

<ul>
	<li>Have been driven within the Congestion Charge zone at least 26 times between 22 August 2018 and 22 February 2019 (six months before the start of the scrappage scheme). This will be checked against existing transactions in your London Road User Charging account.<br />
	<br />
	For journeys made outside of Congestion Charge operational hours (07:00-18:00, Monday to Friday)&nbsp;we will consider evidence of travel</li>
	<li>Be a pre-Euro 6 diesel light van (or charity-owned minibus) that doesn't meet the ULEZ standards</li>
</ul>

<h3>Option 2: Scrappage and purchase/lease of Euro 6 replacement (&pound;7,000)</h3>

<p>The vehicle being scrapped must be:</p>

<ul>
	<li>A pre-Euro 6 diesel light van (or charity-owned minibus) that doesn't meet the ULEZ standards</li>
	<li>Replaced by&nbsp;purchase, lease or hire (for at least two years) with a Euro 6 diesel light van or Euro 6 diesel minibus (for charities only)</li>
</ul>

<p>The eligible business must be registered at a Greater London address.</p>

<h3>Option 3: Scrappage and contribution towards running costs (including insurance) of an electric vehicle (&pound;9,500)</h3>

<p>The grant payment is made up of &pound;7,000 for scrapping ULEZ non- compliant vehicles plus a &pound;2,500 contribution towards running costs (including insurance) of a replacement electric vehicle(s).</p>

<p>The vehicle being scrapped must be:</p>

<ul>
	<li>
	<p>A pre-Euro 6 diesel light van (or charity-owned minibus) that does not meet the ULEZ standards</p>
	</li>
	<li>
	<p>Replaced by purchase, lease or hire (for at least two years ) with an electric light van or electric minibus (for charities only)</p>
	</li>
</ul>

<p>For an eligible&nbsp;business <strong>not </strong>registered in Greater London the vehicle must also:</p>

<ul>
	<li>Have been driven within the Congestion Charge zone at least&nbsp;26 times between 22 August 2018 and 22 February 2019 (six months before the start of the scrappage scheme). This will be checked against existing transactions in your London Road User Charging account.<br />
	<br />
	For journeys made outside of Congestion Charge operational hours we will consider evidence of travel.</li>
</ul>

<h3>Refund of ULEZ charges</h3>

<p>Successful applicants will be refunded any ULEZ charges paid for the scrapped vehicle(s) during the three months after their application was submitted providing they were paid via Auto Pay.</p>

<h2><a id="eligibility" name="eligibility"></a>Organisation and vehicle eligibility</h2>

<p>For Option 2 and Option 3, organisations must be able to prove that they're registered at an address in a <a href="https://www.gov.uk/find-local-council">London borough or the City of London</a>.</p>

<h3>Micro businesses must have:</h3>

<ul>
	<li>10 or fewer employees</li>
	<li>Up to &pound;632k turnover <strong>OR </strong>up to &pound;316k balance sheet total in the preceding and current financial year AND</li>
	<li>Companies House registration as an active company in the UK <strong>OR</strong> be VAT registered in the UK</li>
</ul>

<h3>Small businesses must have:</h3>

<ul>
	<li>50 or fewer employees</li>
	<li>An annual turnover of not more than &pound;10.2 million <strong>OR</strong> a balance sheet total of not more than &pound;5.1 million AND</li>
	<li>Companies House registration as an active company in the UK <strong>OR</strong> be VAT registered in the UK</li>
</ul>

<h3>Sole traders must be:</h3>

<ul>
	<li>A&nbsp;self-employed person who owns and operates a business as an individual</li>
</ul>

<h3>Charities must be an:</h3>

<ul>
	<li>Entity registered with the Charity Commission as an active charity</li>
</ul>

<h3>Vehicle(s) you intend to scrap must be:</h3>

<ul>
	<li>A van owned by an eligible business with up to and including 50 employees, or a minibus owned by a&nbsp;registered charity, for more than calendar 12 months before the start of the scrappage scheme on 22 February 2019</li>
	<li>Insured for business use</li>
	<li>Road taxed with a valid MOT</li>
	<li>Scrapped at an approved <a href="https://environment.data.gov.uk/public-register/view/search-elv">Authorised Treatment Facility (ATF)</a></li>
</ul>

<p><strong>The vehicle that you want to scrap must also fail to meet the <a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">ULEZ emissions standards</a>.</strong></p>

<h2>Apply&nbsp;for the fund</h2>

<h3>Before you start</h3>

<ul>
	<li>Read the Scrappage scheme terms and conditions and guidance notes</li>
	<li>Download the application form</li>
</ul>

<h4><strong>Get electronic copies of:</strong></h4>

<ul>
	<li>Vehicle registration document (V5c)</li>
	<li>Vehicle insurance documents (insurance certificate and insurance premiums)</li>
	<li>MOT certificate</li>
	<li>A completed and signed scrappage scheme application form</li>
	<li>Evidence that you are a sole trader (if applicable)</li>
</ul>

<p>You will need to upload these documents with your application form.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/scrappage-scheme-application-form-guidance-notes.pdf">
    <div class="document-download-text">
        <p>Scrappage Scheme application form guidance notes </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/scrappage-scheme-application-form.pdf">
    <div class="document-download-text">
        <p>Scrappage scheme application form </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/scrappage-scheme-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>Scrappage scheme terms and conditions </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 <div>

<h3>Start your application</h3>

<p>Each organisation can only make one application to scrap up to three vehicles. You can't add or remove vehicles to your application once you've submitted it.</p>

<p>To start your application you'll need to sign in to or create a London Road User Charging (LRUC) account. On your account landing page look for the 'Scrappage scheme' link.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/scrappage-enquiry" class="secondary-button no-hover" >Start/continue application</a>

    </div>
</div> 
 
</div>
 <div>

<h3>Disclaimer</h3>

<p>We may review how this scheme is operating (such as the length of the scheme, eligibility checks, grant payment options and more) and make changes when necessary.</p>

<p>See how TfL uses your data on the <a href="/corporate/privacy-and-cookies/road-user-charging" target="_blank">Road User Charging privacy page</a>.</p>

<h2>Organisations supporting ULEZ scrappage schemes&nbsp;</h2>

<p>If you're scrapping your vehicle(s), consider replacing with a cargobike or vehicle sharing service. Find&nbsp;<a href="/modes/driving/third-party-promotions">offers available to you&nbsp;through third party organisations</a>.</p>

<h3>Eligiblity for heavy vehicles</h3>

<p>The Mayor has announced that later in the year <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-increases-funding-for-scrappage-scheme" target="_blank">the existing van scrappage scheme will be broadened to include heavy vehicles</a>, including lorries, coaches and buses.</p>

<p>If you're a small business or charity with 50 or fewer employees and you are interested in scrapping a heavy vehicle you can pre-register at&nbsp;<a href="mailto:info&#64;locity.org.uk">info&#64;locity.org.uk</a>.&nbsp;In your email tell us what type of vehicles you operate. This will help us understand how many applicants we can expect for each type of vehicle. This facility is for registration of interest only. Enquiries about eligibility for the heavy vehicle element of the scheme will open when the scheme goes live later this year. If you want to make an enquiry about the current vans and minibuses scrappage scheme please <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/contact-ulez">contact ULEZ</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/third-party-promotions">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The Mayor's scrappage scheme will help smaller business owners scrap older, more polluting vans and switch to cleaner vehicles";}
        
            
        


 