
    


























@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Small businesses prepare for ULEZ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/small-businessess-prepare-for-ulez";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></li>
                
            
                
                <li><span class="last-breadcrumb">Small businesses prepare for ULEZ</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Small businesses prepare for ULEZ</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Small businesses across London share their stories of how they prepared for the launch of the Ultra Low Emission Zone (ULEZ).</p>
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/first-mile-lorry_rdax_400x250.jpg" alt="First Mile lorry" />
        
        
        
    </div>
    <p><a href="https://www.thefirstmile.co.uk/services">First Mile</a> collects waste and recycling for over 22,000 businesses in London. With ULEZ on the horizon, they began deploying their air quality strategy in 2016. They operate 67 vehicles across London every day - 53 of them meet Euro 6 standards and the remaining 14, deployed outside of the ULEZ, will be replaced.</p>

<p>Through an innovative system that sorts waste before it's transported, a fleet of zero-emission cargo bikes and electric vans, and investment in clean HGVs, they calculate they would save &pound;1000 a day per vehicle in ULEZ penalty charges.</p>

<p>Bruce Bratley, First Mile CEO, says 'London's poor air impacts all First Mile staff and customers. We need to balance frequent collections with minimal impact on our environment. It's critical that reliable waste collection and recycling isn't solving one environmental problem, like waste, while causing another - air pollution. Our customers care about this and rightly expect us to operate low impact collections.'</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/electric-van-london-calling-arts_rdax_400x250.jpg" alt="First Mile" />
        
        
        
    </div>
    <p><a href="https://www.culturecalling.co.uk/">London Calling Arts</a> transports printed marketing materials to 20,000 venue partners across the UK. Their warehouse now has five charging points and eight electric vans charged overnight on rotation.</p>

<p>The company says that the switch seemed daunting at the beginning - all the set-up administration and registering for funding - but that they were met by a lot of support from councils wanting to be involved.</p>

<p>Marc Randall, Head of Distribution, says 'Switching to an electric fleet makes sense from all angles. Our fuel costs have dropped dramatically. We no longer have to factor in the Congestion Charge, which is great for the business, and we know this change makes a positive environmental impact at such a critical moment in climate change history. Hopefully we encourage other businesses to follow suit. The benefits are huge when you get it right.'</p>
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/small-businessess-prepare-for-ulez">Small businesses prepare for ULEZ</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Find out how small businesses are preparing for ULEZ standards in London";}
        
            
        


 