
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Paying the ULEZ charge";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/ulez-payments";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Paying the ULEZ charge</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Paying the ULEZ charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We prefer that your vehicle meets the Ultra Low Emission Zone (ULEZ) standards so you don't need to pay the charge. If you do need to pay, charging days run from midnight to midnight, every day of the year (except Christmas Day).</p>
        
      </div>
    
    <div class="on-this-page">
      <p>You can pay by midnight on the day of the journey or up to 90 days in advance. The daily charge is:</p>

<ul>
	<li>&pound;12.50 for cars, smaller vans, motorbikes and other lighter vehicles</li>
	<li>&pound;100 for lorries, buses, coaches and other heavier vehicles</li>
</ul>

<h2>When to pay</h2>

<p>If you drive within the zone:</p>

<ul>
	<li>Friday, Saturday or Sunday, you have until midnight on Monday (or Tuesday if Monday is a bank holiday) to pay</li>
	<li>Monday through Thursday, you have until midnight on the following day to pay</li>
</ul>

<p>The daily charge will be the same if you pay the following day. Fail to pay on time and you risk getting a Penalty Charge Notice (PCN).</p>

<p>To see if and what you need to pay, <a href="/modes/driving/check-your-vehicle-35896">check your vehicle</a>. Or find out about <a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">discounts and exemptions</a>.</p>

<h2>Online</h2>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-to-drive-in-london" class="secondary-button no-hover" >Pay the ULEZ charge</a>

    </div>
</div> 
 
</div>
 <div>

<p><strong>Don't pay through unofficial websites which may mislead you.</strong> You should always pay ULEZ charges with us on our secure online system. Read more on <a href="/modes/driving/unofficial-selling-websites">avoiding payment fraud</a>.</p>

<h2>Auto Pay</h2>

<p>Auto Pay bills you automatically every month for any Congestion Charges and ULEZ charges you may owe. <a href="/modes/driving/auto-pay">Set up Auto Pay.</a></p>

<h2>TfL Pay to drive in London app</h2>

<p>This free, official app helps you pay your Congestion Charge, ULEZ and Low Emission Zone (LEZ) charges.</p>

<p>You can also use the app to:</p>

<ul>
	<li>Set up Auto Pay</li>
	<li>Pay a penalty</li>
	<li>Check if a postcode is in a charging zone</li>
	<li>Manage your account</li>
	<li>Save your vehicle details for future use</li>
	<li>See your payment history</li>
</ul>

<p>If you already have an Auto Pay account you can also:</p>

<ul>
	<li>Add and remove vehicles from your account</li>
	<li>View payment card details</li>
	<li>View your outstanding Auto Pay balance</li>
</ul>

<p>It's available to download for free at both the <a href="https://www.apple.com/uk/ios/app-store/">Apple App Store</a> and <a href="http://play.google.com/store">Google Play Store</a>.</p>
</div>
 <div>

<h2>London Road User Charging account</h2>

<p>If you set up an account with us you can:</p>

<ul>
	<li>Set up Auto Pay for up to five vehicles to pay the ULEZ charge automatically</li>
	<li>Make faster payments by storing your contact, vehicle and payment details</li>
	<li>Allow up to five people access to your London Road User Charging account</li>
</ul>

<p>Use the sign in box on this page to create an account.</p>

<h2>Phone</h2>

<p><strong>UK:</strong> 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>International:</strong> <span class="baec5a81-e4d6-4674-97f3-e9220f0136c1">+44 343 222 2222</span><br />
<strong>Textphone: </strong>020 7649 9123 (if you have impaired hearing)</p>

<h4>Lines open:</h4>

<p><strong>Monday to Friday:</strong> 08:00-20:00<br />
Closed on weekends and bank holidays</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/amendments-and-refunds">Amendments, refunds and reimbursements</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "How to pay for driving within the Ultra Low Emission Zone (ULEZ)";}
        
            
        


 