
    
  



@{ViewBag.Title = "ULEZ complaints";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/ulez-complaints";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></li>
                
            
                
                <li><span class="last-breadcrumb">ULEZ complaints</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>ULEZ complaints</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you're unhappy with the ULEZ service you receive, or have a suggestion of how we can improve it, we'd like to hear from you.</p>
        
      </div>
    
    
      
      
           
      <div>

<p>If your complaint is regarding any other aspect of the services we deliver, please see <a href="/help-and-contact/">Help &amp; contacts</a>.</p>

<p>You can discuss your complaint with staff in our customer service team. They will try to resolve the problem without you having to make a formal complaint.</p>

<p>If you are not happy with their response, you can make a formal complaint.</p>

<h2>How do I make a complaint?</h2>

<p>The formal complaint procedure has three stages. Please provide any previous reference numbers that you may have.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="ULEZ complaints-Stage 1"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1-heading" class="accordion-heading">Stage 1</div>
            </div>
            <div id="stage-1-content" class="start-hidden" role="region" aria-labelledby="stage-1-heading">
<p>Choose from one of the following three options to lodge a formal complaint:</p>

<ul>
	<li><a href="/modes/driving/ulez-make-a-complaint-wizard">Make a complaint online</a></li>
	<li><strong>Phone:</strong> 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
	International : +44 343 222 2222<br />
	Textphone: 020 7649 9123 if you have impaired hearing<br />
	Please make sure you have all the relevant details to hand before calling.</li>
	<li><strong>Write to:</strong><br />
	Customer Services Manager<br />
	Congestion Charging<br />
	PO Box 344<br />
	Darlington DL1 9QE</li>
</ul>

<p>When you submit your complaint, let us know how you'd like us to respond (by email, post or by telephone). We'll normally send written replies within 10 working days.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="ULEZ complaints-Stage 2"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2-heading" class="accordion-heading">Stage 2</div>
            </div>
            <div id="stage-2-content" class="start-hidden" role="region" aria-labelledby="stage-2-heading">
<p>If you're not satisfied with our response, you can write to:</p>

<p>Customer Correspondence Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>We will respond to your complaint within 10 working days. If a full investigation is needed it may take a little longer, but we'll let you know the reasons for the delay.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="ULEZ complaints-Stage 3"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3-heading" class="accordion-heading">Stage 3</div>
            </div>
            <div id="stage-3-content" class="start-hidden" role="region" aria-labelledby="stage-3-heading">
<p>If you are still unhappy after the second stage, you may ask us to conduct a final review by writing to:</p>

<p>General Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>The General Manager will conduct a final review, usually within 10 working days, and will respond with our final position.</p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Local Government Ombudsman (LGO)</h2>
<p>
The LGO is an independent national service that investigates complaints against local authorities, such as Transport for London.
</p>
<p>If you've been through our complaints procedure and are still
dissatisfied, you may choose to escalate your complaint to the LGO at
the address below.
</p>
<p>You're entitled to contact the LGO without completing our complaints procedure, but in such cases the LGO may refer your complaint back
to us, to allow us the opportunity to resolve your issue.
</p>
<p>The Local Government Ombudsman<br />
PO Box 4771<br />
Coventry CV4 0EH<br />
<br />
<strong>Website: </strong><a href="http://www.lgo.org.uk/">www.lgo.org.uk</a>
</p>
<h2>Complaints about Penalty Charge Notices
</h2>
<p>Do not use the complaints system for disputes over <a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalty Charge Notices (PCNs)</a>. These have their own statutory <a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">representations</a> and <a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-an-appeal">appeals</a> procedure.</p>
<p>You can find more information about this procedure on the PCN itself.
</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-complaints">ULEZ complaints</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How to complain about the Congestion Charge";}
        
            
        


 