
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Vans, minibuses and more";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Vans, minibuses and more</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Vans, minibuses and more</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Find the emission standards that vans (small and large), minibuses and some other specialist vehicles need to meet when travelling within the Ultra Low Emission Zone (ULEZ).</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Vehicles included are:</p>

<ul>
	<li>Small vans (weighing up to and including 1.205 tonnes unladen weight)</li>
	<li>Larger vans, 4X4 light utility vehicles, motorised horseboxes, pickups (over 1.205 tonnes unladen weight up to and including 3.5 tonnes gross vehicle weight)</li>
	<li>Ambulances and motorcaravans (2.5 tonnes to 3.5 tonnes)</li>
	<li>Minibuses (more than 8 passenger seats, not over 5 tonnes)</li>
</ul>

<h2>Minimum emission standards</h2>

<ul>
	<li>Petrol: Euro 4</li>
	<li>Diesel: Euro 6</li>
</ul>

<p>The ULEZ is enforced based on the declared emissions of the vehicle rather than the age, however:</p>

<ul>
	<li>All new diesel vans sold from September 2016 should meet the Euro 6 standard</li>
	<li>All petrol vans registered with the DVLA from January 2006 meet the Euro 4 standard</li>
</ul>

<p>Check your vehicle registration document to see your vehicle's Euro emission standard or NOx emissions. If these are not listed then use our ULEZ vehicle checker.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/check-your-vehicle-35896" class="secondary-button no-hover" >Check your vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Charges (if ULEZ standards not met)</h2>

<p><strong>We prefer that you use vehicles that meet the emissions standards rather than pay a daily charge.</strong></p>

<p>A daily charge runs from midnight to midnight. if you drive a vehicle that does not meet the standards within the ULEZ area across two days, for example before midnight and after midnight, you will be liable to pay two daily charges.</p>

<ul>
	<li>Daily ULEZ charge: &pound;12.50</li>
	<li>Penalty charge: &pound;160 (reduced to &pound;80 if paid within 14 days)</li>
</ul>

<p>These are in addition to any Congestion Charge or Low Emission Zone (LEZ) charge that applies. (Small vans up to and including 1.205 tonnes unladen weight are not subject to the LEZ.)</p>

<h3>How to pay</h3>

<ul>
	<li><a href="/modes/driving/auto-pay">Set up Auto Pay</a> (&pound;10 annual charge per vehicle). Already have Auto Pay? Then you don't need to do anything</li>
	<li><a href="/modes/driving/pay-to-drive-in-london">Pay online</a></li>
	<li>Download the official TfL Pay to drive in London app for free from both the <a href="https://www.apple.com/uk/ios/app-store/">Apple App Store</a> and <a href="http://play.google.com/store">Google Play Store</a></li>
	<li>Pay by phone<br />
	UK: 0343 222 2222 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
	International:+44 343 222 2222<br />
	Textphone: 020 7649 9123 (if you have impaired hearing)</li>
</ul>

<h2>Your options</h2>

<p>If your vehicle does not meet the required ULEZ standards you can:</p>

<h3>Join a car club</h3>

<ul>
	<li>All car club vehicles are expected to meet the ULEZ standards by April 2019 at the latest. <a href="/modes/driving/car-clubs">Find out more about car clubs</a></li>
</ul>

<h3>Go electric</h3>

<ul>
	<li>Electric vans emit no NOx or CO2 from the tailpipe. More information about electric vehicles, including a list of those eligible for a grant, in on <a href="https://www.gov.uk/plug-in-car-van-grants">Gov.uk's page on plug-in grants</a></li>
</ul>

<h3>Pay the daily charge</h3>

<ul>
	<li>You'll be able to pay any ULEZ, LEZ and/or Congestion Charges that apply online, all at the same time</li>
</ul>

<h3>Upgrade to a vehicle that meets ULEZ standards</h3>

<ul>
	<li>All van manufacturers now only sell vehicles that meet the emissions standards - some Euro 6 vans have also been available since 2013. Many more second-hand Euro 6 vans are coming on to the market as rental companies renew their two- to three-year-old fleets</li>
	<li>If you're thinking of buying a new or second-hand vehicle, first look up its emissions in real-world driving conditions with the Mayor's <a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles/cleaner-vehicle-checker">Cleaner Vehicle Checker</a></li>
	<li>Leasing a vehicle may be a more affordable way to get a vehicle that meets the emissions standards. Information on leasing is on the <a href="https://www.bvrla.co.uk/">BVRLA website</a></li>
</ul>

<p>We're also working with the top UK van manufacturers and leasing companies to encourage them to offer affordable deals on vehicles that meet the emissions standards.</p>

<h3>Van scrappage scheme for small businesses</h3>

<p><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">A scrappage scheme funded by&nbsp;The Mayor of London</a> helps micro businesses, sole traders and charities replace vehicles&nbsp;that do not comply with the ULEZ standards, but will be driven regularly into the ULEZ zone.</p>

<h3>Fit emissions reduction technology</h3>

<p>The ULEZ scheme allows for some vehicles to retrofit emissions reduction technology to meet the ULEZ standards.</p>

<p>Retrofit technologies will need to be certified by the government's <a href="http://www.energysavingtrust.org.uk/business/transport/clean-vehicle-retrofit-accreditation-scheme-cvras">Clean Vehicle Retrofit Accreditation Scheme (CVRAS)</a>. The CVRAS currently only has emissions reduction technologies certified for buses and coaches, although equipment suppliers can test and certify equipment.</p>

<p>More details on the retrofit accreditation process and suppliers are available on the <a href="http://www.energysavingtrust.org.uk/transport-travel/transport/clean-vehicle-retrofit-accreditation-scheme-cvras">Energy Savings Trust website</a>.</p>

<h3>Convert to Liquid Petroleum Gas (LPG)</h3>

<p>If your vehicle has been converted to run on LPG you may meet the emissions standards. However, the emissions standard of the engine will be considered to be the same as it was before it was converted.</p>

<p>If you have replaced the engine with a spark ignition (petrol) engine as part of an LPG conversion, the emissions standard of the new engine will apply. You must tell the DVLA of this type of engine swap and send us proof that the new engine meets the standards.</p>

<p>We recommend using a <a href="https://www.uklpg.org/installers">UK LPG-approved installer</a>. Our LoCITY programme has an up to date <a href="https://locity.org.uk/alternative-fuel-infrastructure-map/">map showing LPG refuelling infrastructure</a> in and around London.</p>

<h3>Retrofit: convert to Liquid Petroleum Gas (LPG)</h3>

<p>Converted vehicles will be treated based on the DVLA's records of its emissions standards. This means diesel vehicles should be converted to use LPG in a spark ignition engine, and the DVLA notified of the change.</p>

<h3>See if you qualify for a discount or exemption</h3>

<ul>
	<li>Check on the <a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions page</a></li>
</ul>
</div>
 <div>

<h2>Questions about ULEZ?</h2>

<p>If you need more advice about the ULEZ, you can <a href="/modes/driving/ulez-make-an-enquiry-wizard">make an enquiry</a>.</p>
</div>
 <div>

<h2>ULEZ boundary expansion</h2>

<p>From October 2021 the ULEZ will <a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">expand to the North and South Circular Roads</a>. All vans, minibuses etc within the expanded zone will need to meet the ULEZ emissions standards or pay a daily charge.</p>
</div>
 <div>

<h2>Changes to the LEZ</h2>

<p>From 26 October 2020 the London-wide LEZ emissions standards will be made tougher for heavier vehicles to match the ULEZ Euro VI standard.</p>

<p>These vehicles will need to meet Euro VI emissions standards <a href="/modes/driving/low-emission-zone/about-the-lez">within the LEZ boundary</a> or pay a daily charge.</p>

<p>Find out about planned <a href="/modes/driving/low-emission-zone/changes-to-the-lez">changes to the LEZ from 2020</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Find the ULEZ emissions standards, charges and penalties for small and large vans, minibuses and some specialist vehicles like ambulances up to and including 3.5 tonnes";}
        
            
        


 