

<div class="article-teaser">This tool helps you to work out whether your vehicle meets the ULEZ standards. You won't have to pay the ULEZ charge to drive within the zone if your vehicle meets the ULEZ standard.</div>

<h2>ULEZ standards</h2>

<p>See the <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a> for:</p>

<ul>
	<li><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, minibuses and more</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></li>
</ul>

<p><strong>Some vehicles are exempt from the ULEZ scheme. </strong>Find out more on the <a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions page</a>.</p>
        

       




 