

<p>You are currently exempt from the ULEZ.</p>

<p>Your vehicle does not meet the <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">emission standards for ULEZ</a>, but as of June 2017, its tax class means that it is exempt from the ULEZ.</p>

<p>However, you may be charged to drive with the ULEZ if:</p>

<ul>
	<li>Your tax class has changed since June 2017, or</li>
	<li>Your tax class changes in the future</li>
</ul>

<h2>Other charges</h2>

<ul>
	<li>You may still be subject to the <a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
	<li>The T-Charge will only apply (until 25 October 2021) if you have a residents' discount from the Congestion Charge</li>
	<li>You may also be subject to the <a href="/modes/driving/low-emission-zone">Low Emission Zone scheme</a> which applies to diesel lorries, buses, coaches, motor caravans, motorised horseboxes, larger vans, minibuses and other specialist vehicles</li>
</ul>

<h2>Make an enquiry</h2>

<p>If you think your vehicle meets the emission standards for ULEZ, you can <a href="/modes/driving/ulez-make-an-enquiry-wizard">make an enquiry</a> and attach supporting evidence.</p>

<p>You should upload a copy of the vehicle's registration document if registered outside the United Kingdom.</p>

<p>We will review the information and confirm your next steps.</p>

<h3>Discounts and exemptions</h3>

<p><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Find out about discounts and exemptions from ULEZ.</a></p>

<h2>Disclaimer</h2>

<p>The compliance status of your vehicle for the ULEZ has been calculated based on the information you provided. It is your responsibility to ensure the information you provide is accurate. Every effort is made to ensure that the information we provide you is correct at the date of our response. However, we provide no warranty as to the accuracy of the information and accept no legal liability or responsibility for its accuracy. If you are in any doubt over your vehicle's Euro emission standard, please refer to your vehicle registration document &#45; also known as a V5C &#45; or contact your vehicle manufacturer.</p>

<p>The <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ emission standards</a> are:</p>

<ul>
	<li>Euro 3 for motorcycles, mopeds, motorised tricycles and quadricycles (L category)</li>
	<li>Euro 4 for petrol cars, vans, minibuses and other specialist vehicles</li>
	<li>Euro 6 for diesel cars, vans and minibuses and other specialist vehicles</li>
	<li>Euro VI for lorries, buses and coaches and other specialist heavy vehicles</li>
</ul>
        

       




 