

<p>You are not subject to the ULEZ.&nbsp;</p>

<p>You don't need to take any action. However, other charges may apply.</p>

<h2>Other charges</h2>

<p>You may still be subject to the <a href="/modes/driving/congestion-charge">Congestion Charge</a></p>

<h2>Disclaimer</h2>

<p>The compliance status of your vehicle for the ULEZ has been calculated based on the information you provided. It is your responsibility to ensure the information you provide is accurate. Every effort is made to ensure that the information we provide you is correct at the date of our response. However, we provide no warranty as to the accuracy of the information and accept no legal liability or responsibility for its accuracy. If you are in any doubt over your vehicle's Euro emission standard, please refer to your vehicle registration document &#45; also known as a V5C &#45; or contact your vehicle manufacturer.</p>

<p><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">The ULEZ standards are</a>:</p>

<ul>
	<li>Euro 3 for motorcycles, mopeds, motorised tricycles and quadricycles (L category)</li>
	<li>Euro 4 for petrol cars, vans, minibuses and other specialist vehicles</li>
	<li>Euro 6 for diesel cars, vans and minibuses and other specialist vehicles</li>
	<li>Euro VI for lorries, buses and coaches and other specialist heavy vehicles</li>
</ul>

<p>&nbsp;</p>
        

       




 