

		
@model string
<br />
<p class="ulez-heading">Your vehicle has not been found. This may be because:</p>
<ul>
	<li>Your vehicle was first registered after June 2017</li>
	<li>Your vehicle's number plate (VRM) has changed since June 2017</li>
	<li>Your vehicle is not registered with the DVLA</li>
	<li>Your vehicle is not registered in the United Kingdom</li>
</ul>

<p>Some non-TfL buses, coaches and specialist vehicles first registered on or after 1 January 2014 do not meet Euro VI and will be subject to ULEZ. If you're unsure about your vehicle, make an enquiry below.</p>

<h2>Vehicles registered after June 2017</h2>

<p>If your vehicle was first registered after&nbsp;June 2017&nbsp;or meets the <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">emission standards for ULEZ</a>, then you do not need to take any action for ULEZ.</p>

<h2>Other charges</h2>

<ul>
	<li>You may still be subject to the <a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
	<li>The T-Charge will only apply (until 25 October 2021) if you have a residents' discount from the Congestion Charge</li>
	<li>Your vehicle may also be subject to the <a href="/modes/driving/low-emission-zone">Low Emission Zone scheme</a> which applies to diesel lorries, buses, coaches, motor caravans, motorised horseboxes, larger vans, minibuses and other specialist vehicles</li>
</ul>
<p>You said your vehicle is:</p>
<p><strong>@Model</strong></p>
<h3>Make an enquiry</h3>

<p>If you think your vehicle meets the emission standards for ULEZ, you can <a href="/modes/driving/ulez-make-an-enquiry-wizard">make an enquiry</a> and attach supporting evidence.</p>

<p>You should upload a copy of the vehicle's registration document if registered outside the United Kingdom.</p>

<p>We will review the information and confirm your next steps.</p>

<h3>Discounts and exemptions</h3>

<p><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Find out about discounts and exemptions from ULEZ.</a></p>

<h3>Disclaimer</h3>

<p>The compliance status of your vehicle for the ULEZ has been calculated based on the information you provided. It is your responsibility to ensure the information you provide is accurate. Every effort is made to ensure that the information we provide you is correct at the date of our response. However, we provide no warranty as to the accuracy of the information and accept no legal liability or responsibility for its accuracy. If you are in any doubt over your vehicle's Euro emission standard, please refer to your vehicle registration document &#45; also known as a V5C &#45; or contact your vehicle manufacturer.</p>

<p>The <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ emission standards</a> are:</p>

<ul>
	<li>Euro 3 for motorcycles, mopeds, motorised tricycles and quadricycles (L category)</li>
	<li>Euro 4 for petrol cars, vans, minibuses and other specialist vehicles</li>
	<li>Euro 6 for diesel cars, vans and minibuses and other specialist vehicles</li>
	<li>Euro VI for lorries, buses and coaches and other specialist heavy vehicles</li>
</ul>
        

       




 