
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/ulez" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/ulez" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "ULEZ standards";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">ULEZ standards</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>ULEZ standards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Vehicles need to meet the different emission standards for the Ultra Low Emission Zone (ULEZ) based on their vehicle type, and the type of emission.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>To see if your vehicle meets the standard, <a href="/modes/driving/check-your-vehicle-35896">use our vehicle checker</a>.</p>

<p>Or see which locations fall within the ULEZ zone with our postcode checker.</p>

<p>If you drive a vehicle that doesn't meet the ULEZ standards within the central London area and the daily charge is not paid, a Penalty Charge Notice (PCN) will be issued to the registered keeper. This penalty is in addition to any <a href="/modes/driving/congestion-charge">Congestion Charge</a> or <a href="/modes/driving/low-emission-zone">Low Emission Zone</a> penalties received.</p>

<h2>What are the standards?</h2>

<p><strong>We would prefer that you use a vehicle that meets the emissions standards rather than pay a daily charge.</strong></p>

<ul>
	<li><a href="/modes/driving/ultra-low-emission-zone/small-businessess-prepare-for-ulez">See how some small businesses prepared for the ULEZ</a></li>
</ul>

<p>Euro standards - which first appeared in 1992 - are a range of emissions controls that set limits for air polluting nitrogen oxides (NOx) and particulate matter (PM) from engines. New vehicles and road vehicle engines must show that they meet these limits to be approved for sale.</p>

<p>The ULEZ standards are:</p>

<ul>
	<li>Euro 3 for motorcycles, mopeds, motorised tricycles and quadricycles (L category)</li>
	<li>Euro 4 (NOx) for petrol cars, vans, minibuses and other specialist vehicles</li>
	<li>Euro 6 (NOx and PM) for diesel cars, vans and minibuses and other specialist vehicles</li>
	<li>Euro VI (NOx and PM) for lorries, buses and coaches and other specialist heavy vehicles (NOx and PM)</li>
</ul>

<p>Euro 3 became mandatory for all new motorcycles in 2007</p>

<p>Euro 4 became mandatory for all new cars in 2005 and light vans in 2006</p>

<p>Euro 6 became mandatory for all new heavy duty engines for goods vehicles and buses from January 2014, September 2015 for cars and light vans, and September 2016 for larger vans up to and including 3.5 tonnes gross vehicle weight.</p>

<p>Find out more about ULEZ <strong>emission standards, daily charges and penalty charges, </strong>plus<strong> information on how to avoid having to pay the charge</strong> for:</p>

<ul>
	<li><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a> (petrol and diesel)</li>
	<li><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and lighter specialist vehicles</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries and larger vehicles</a></li>
</ul>

<p>Your vehicle registration document (also known as the V5C) will help identify your vehicle's Euro emission standard. For newer vehicles, the Euro emission standard may be listed on the V5C in section D.2.</p>
      
           
      <div>

<h2>Questions about ULEZ?</h2>

<p>If you need more advice about the ULEZ, you can <a href="/modes/driving/ulez-make-an-enquiry-wizard">make an enquiry</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/small-businessess-prepare-for-ulez">Small businesses prepare for ULEZ</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme for vans and minibuses</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/organisations-supporting-ulez-scrappage-schemes">Organisations supporting ULEZ scrappage schemes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Find out how to meet the emissions standards of ULEZ";}
        
            
        


 