


@{ViewBag.Title = "Blackwall Tunnel closed to southbound traffic next weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel closed to southbound traffic next weekend</h1>
        <div class="content-page-press-release">
        12 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Closure to take place across Easter weekend from 21:00 Thursday to 05:00 Tuesday, 21-26 April. Drivers advised to avoid the area if possible. Rotherhithe Tunnel will be dedicated to southbound traffic during closure.
        
    </div>



 <div class="on-this-page">
<p>Closure will allow tunnel works to be completed one year ahead of schedule.</p>
<p>The Blackwall Tunnel will be closed to southbound traffic next weekend as part of the <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">ongoing refurbishment </a>of the 113-year-old river crossing. </p>
<p>This will allow Transport for London's (TfL's) contractor, BAM Nuttall, to continue vital upgrade works as well as resurfacing the entire 1.4km tunnel, neither of which can be carried out during the weeknight closure programme.</p>
<p>In order to limit disruption for people during the Easter weekend, TfL has worked hard to put in place a whole range of alternative measures. </p>
<p>These include: </p>
<ul>
<li>The Rotherhithe Tunnel will again operate two lanes in the southbound direction, only with the Blackwall Tunnel carrying only northbound traffic. This measure was used during previous weekend closures last year and resulted in considerably less congestion overall</li>
<li>Drivers who would usually use the Rotherhithe or Blackwall Tunnel will also be able to use alternative river crossings such as Southwark Bridge, London Bridge and Tower Bridge or the Dartford Crossing to complete their journey.</li>
<li>The Woolwich Ferry will also be operating a two-boat service across the Easter weekend (22, 23 and 25&nbsp;April, 06:10-22:00; 24 April 09:00-21:30). </li></ul>
<p>Since the refurbishment began in February 2010, TfL and its contractor, BAM Nuttall, have made phenomenal progress. </p>
<p>By working with the contractor and using innovative thinking to allow sections of the works to be carried out during the day, the works will now be completed by December 2011, one year ahead of the original programme.</p>
<h2>Work completed early</h2>
<p>Work completed so far includes the installation of new ventilation fans in the tunnel's four shafts as well as new lighting, upgraded CCTV and new communication systems installed throughout the tunnel. </p>
<p>TfL has also begun installing 26 inlets in the tunnel wall (including emergency phones and fire extinguishers) providing a safe area for any drivers whose vehicles have broken down within the tunnel.</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'We are making phenomenal progress on the refurbishment of the 113-year-old tunnel. </p>
<p>'As a result, the project is currently due to be completed one year ahead of schedule, which is a testament to the hard work we and our contractors have put into this project.&nbsp; </p>
<p>'However, despite this progress, this closure over the Bank Holiday weekend is required to carry out further vital works to the tunnel's road which cannot be carried out during the normal overnight closures.</p>
<p>'We apologise for the delays and inconvenience that this closure will inevitably cause.&nbsp; </p>
<p>'Across the Bank Holiday weekend, our contractor, BAM Nuttall, will again be working 24-hours-a-day over the weekend to minimise this disruption. </p>
<p>'However, I would urge drivers to avoid the area if they can.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL recently announced that the refurbishment works will be completed by December 2011, <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/19309.html">one year ahead of schedule</a>, and well before the start of the London 2012 Olympic and Paralympic Games</li>
<li>TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus, and have been timed to avoid weekend closures of the Jubilee line through North Greenwich, and major events in the area</li>
<li>Variable message signs will be located on key approach roads to both Blackwall and Rotherhithe Tunnels to divert traffic to an appropriate river crossing</li>
<li>The Rotherhithe Tunnel will continue to operate two-way traffic during the ongoing weekday overnight closures of the Blackwall Tunnel</li>
<li>While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings</li>
<li>There is no toll for using the Dartford - Thurrock river crossing between 22:00 and 06:00</li>
<li>While the northbound tunnel is closed for refurbishment works,&nbsp;bus route 108 (the only bus to use the Blackwall Tunnel) will be affected. For more details, please visit the <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/14080.aspx#section-2  ">TfL website </a>or check local information at bus stops</li>
<li>The northbound Blackwall Tunnel refurbishment programme will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Closure will allow tunnel works to be completed one year ahead of schedule.The Blackwall Tunnel will be closed to southbound traffic next weekend as part of the ongoing refurbishment of the 113-year-old river crossing. This will allow Transport for";}
        
        


 