


@{ViewBag.Title = "Essential works on A406 Redbridge Flyover to begin 30 April ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Essential works on A406 Redbridge Flyover to begin 30 April </h1>
        <div class="content-page-press-release">
        20 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London will be carrying out essential work to replace four expansion joints within the A406 Redbridge Flyover, as part of ongoing maintenance of the TfL Road Network (TLRN).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"During this work, we will ensure that disruption for road users and local residents is kept to a minimum and will be working to complete these works as quickly as possible."</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            During this work, we will ensure that disruption for road users and local residents is kept to a minimum and will be working to complete these works as quickly as possible.
                            
                        </p>
                    </div>
                
            
            
            <p>Routine safety inspections of the Redbridge flyover established that the four expansion joints -&nbsp;which allow the flyover to expand or contract due to movement of the bridge -&nbsp;need replacing for safety reasons.</p>
<p>The work will take place on one direction of the A406 at a time, beginning with the northbound direction, followed by the southbound. A contra-flow system for light vehicles will operate across the flyover in the other lanes. </p>
<p>This will allow traffic to continue using the flyover while this vital work is carried out. </p>
<p>Traffic will also be able to use the roundabout underneath the flyover to pass through the area.</p>
<p>The eastbound bus routes which serve Redbridge Station will need to use a new temporary bus stop on the eastbound A12 Eastern Avenue just beyond the station, except for route 366 which uses the station forecourt as part of its route, and will continue to do so.&nbsp; </p>
<p>In agreement with the London Borough of Redbridge, louder works will be carried out Monday to Friday between 08:00 and 18:00, and on Saturdays between 08:00 and 14:00. </p>
<p>Quieter works will take place outside the above hours and all works&nbsp;are scheduled to be completed within approximately three weeks.</p>
<p>Dana Skelley, Director of Roads for TfL said: "This essential work to replace the A406 Redbridge Flyover expansion joints is vital to ensure that the structure can remain open to traffic. </p>
<p>"During this work, we will ensure that disruption for road users and local residents is kept to a minimum and will be working to complete these works as quickly as possible." </p>
<p>All of the works require heavy machinery but TfL will do everything possible to keep disruption to residents to a minimum and keep the public informed of road diversions and how the project is progressing.</p>
<p>Clear diversion signs will be in place on main approach roads throughout the works and publicity for bus diversions will also be posted at local stops and on the TfL website.</p>
<h2>Notes to Editors</h2>
<ul>
<li>TfL manages the Capital's red routes - a network of 580km of London's roads, which makes up five per cent of London's roads but carry over 33 per cent of the Capital's traffic. </li>
<li>TfL and 18 London boroughs now operate the London Permit Scheme on their roads. Permitting enables TfL and the London boroughs to proactively plan and coordinate the timing of works, providing greater opportunities for utility companies to carry out works at the same time, helping to reduce disruption to road users. </li>
<li>For every 30 minutes Londoners travelled on our roads last year, on average, their journeys are 29 seconds faster today. Given that there are the equivalent of 10 million such car journeys made every day on the network, this means that London's drivers are cumulatively sitting in their cars for over 80,000 hours less every day. </li>
<li>The Mayor of London and TfL continue to engage with the Department for Transport on a proposal to introduce a lane rental scheme along the TLRN, which will allow charging of utility companies if they want to dig up certain parts of London's major traffic arteries during peak hours. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routine safety inspections of the Redbridge flyover established that the four expansion joints -&nbsp;which allow the flyover to expand or contract due to movement of the bridge -&nbsp;need replacing for safety reasons.The work will take place on one";}
        
        


 