


@{ViewBag.Title = "Final set of partial Jubilee line closures to pave way for completion of upgrade and faster, more frequent services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final set of partial Jubilee line closures to pave way for completion of upgrade and faster, more frequent services</h1>
        <div class="content-page-press-release">
        28 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced a final set of weekend closures on the Jubilee line in order to complete the upgrade of the line and deliver faster, more frequent and reliable train services.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We know this upgrade has often been difficult and I'd like to thank Londoners and Jubilee line customers for their patience as we approach this final milestone."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We know this upgrade has often been difficult and I'd like to thank Londoners and Jubilee line customers for their patience as we approach this final milestone.
                            
                        </p>
                    </div>
                
            
            
            <p>The partial closures will be predominantly on the northern end of the line in May and June, with more trains scheduled to run from July, increasing capacity by around 5,000 passengers per hour.</p>
<p>Huge progress has been made on delivery of the Jubilee line upgrade since TfL took control of Tube Lines, the former Public Private Partnership (PPP) contractor, last summer.&nbsp; </p>
<p>Since then, Transport for London (TfL), Tube Lines and contractors have worked closely together to ensure that the upgrade of the Jubilee line is now on the verge of completion, with successful testing of the final section of the new signalling system having taken place on the final section of the line over the Easter weekend.</p>
<p>Jubilee line passengers are advised that the final set of weekend closures will take place between Sunday 15 May and Sunday 26 June.&nbsp;</p>
<p>Most of these closures are at the northern end of the line, between West Hampstead and Stanmore.</p>
<p>Three closures will also be necessary between Waterloo and Stanmore.</p>

<h2>End of PPP</h2>
<p>These final partial Jubilee line weekend closures also herald the end of an approach to upgrading the Tube, dictated by the complex PPP contracts.</p>
<p>These contracts&nbsp;meant that Londoners had to endure disruption at weekends for signalling installation and testing work, rather than for work for which closures are essential, such as track replacement work.&nbsp;</p>
<p>Previously, under the PPP, the Northern line upgrade was set to mean a total of 65 weekend closures, plus early evening shutdowns, by the end of 2011.&nbsp; </p>
<p>Under a revised plan to be delivered by Tube Lines under TfL, the Northern line upgrade will be delivered with a dramatically reduced number of weekend closures over shorter sections of the line.</p>
<p>The recently announced contract for the new signalling system on the Circle, District, Hammersmith &amp; City and Metropolitan lines also includes clauses demanding its delivery with no weekend closures for signalling upgrade or testing work.</p>

<h2>More capacity for passengers</h2>
<p>London Underground Managing Director, Mike Brown said: 'Since TfL took control of the Jubilee line upgrade a year ago, we've made great strides and are now on the brink of delivering the faster, more frequent and reliable services promised to Londoners.</p>
<p>'We know this upgrade has often been difficult and I'd like to thank Londoners and Jubilee line customers for their patience as we approach this final milestone.</p>
<p>'I'm also determined that this heralds the end of the 'PPP-era' upgrades, and that we will work together to deliver&nbsp;far fewer closures and much less disruption in future.'</p>
<p>When complete, the Jubilee line upgrade will deliver a 33 per cent increase in capacity across the line, which will mean space for an additional 12,500 passengers per hour. </p>
<p>This is addition to a 17 per cent increase delivered in 2006 through the addition of an extra seventh carriage on all Jubilee line trains and four additional trains.</p>
<p>As a result of this work a new timetable will be introduced in phases to increase capacity and reliability, with an initial increase from 24 to 27 trains per hour at the busiest times from July.&nbsp;</p>
<p>A&nbsp;further increase in capacity will be introduced early next year. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The partial closures will be predominantly on the northern end of the line in May and June, with more trains scheduled to run from July, increasing capacity by around 5,000 passengers per hour.Huge progress has been made on delivery of the Jubilee line";}
        
        


 