


@{ViewBag.Title = "Going for Gold - TfL announce updated details of FORS membership ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Going for Gold - TfL announce updated details of FORS membership </h1>
        <div class="content-page-press-release">
        14 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new Gold membership for exceptional freight operators across London will be available from April. The membership will be awarded to freight operators who demonstrate self-improvement and deliver environmental savings.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme is a win-win as it can deliver savings for the companies taking part and provides a greener and safer operation of freight for the public."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme is a win-win as it can deliver savings for the companies taking part and provides a greener and safer operation of freight for the public. 
                            
                        </p>
                    </div>
                
            
            
            <p>More than 620 operators, representing nearly 25 per cent of vans and lorries regularly operating in London, are already registered to the Freight Operator Recognition Scheme (FORS).<br><br>More than 75,000 freight vehicles are currently registered with FORS and it is estimated that members managed to reduce their carbon dioxide emissions by a total of 70,000kg last year. TfL has now updated the criteria for membership of the scheme to allow operators to apply for Gold membership. To qualify companies will have to demonstrate standards that will put them at the pinnacle of freight operations in the capital. </p>
<p>The three levels of membership - Bronze, Silver and Gold - allow freight operators to raise standards within their organisation through education and incentives. As well as passing an on-site assessment of their operation members can also benchmark their performance against comparable operators or the industry average. This allows operators to identify areas where improvement could be made, as well as chart the progress they are making to increase efficiency of their vehicles.</p>
<p>Since the scheme was launched three years ago, more than 75,000 freight vehicles have registered, with nearly 54,000 already progressing to Bronze or Silver membership. That represents over 16 per cent of all freight vehicles regularly operating across the Capital and TfL is working to have half of all freight vehicles regularly operating in London as Bronze, Silver or Gold members of the scheme by spring 2016.</p>
<p>Silver membership was first awarded in December 2009 and members using the benchmarking system have managed to increase the average mpg of their vehicles by around three per cent, and reduce the number of Penalty Charge Notices being issued by 55 per cent. Overall, it is estimated that members managed to reduce their carbon dioxide emissions by more than 70,000kg in 2010, thanks largely to benchmarking.</p>
<h1>Safety and training</h1>
<p>Members are also entitled to a number of discounts, which look to help improve performance while saving money. These include money off safety devices to help improve cycle safety, including on-vehicle CCTV systems, proximity detection equipment, as well as free access to a specifically designed training course to help drivers become more aware of cyclists in and around London. </p>
<p>These training courses, which are funded by TfL and some London boroughs, count towards the Driver Certificate of Professional Competence, a formal qualification which allows freight drivers to continue professional development. They add to the work already carried out in partnership with the freight industry to increase drivers awareness of cyclists by initiatives such as fitting extra mirrors to help them see the 'blind spot' on their vehicles; and setting up 'exchanging places' events where lorry drivers and cyclists can swap positions to increase their appreciation of each other's visual perspectives on the roads.</p>
<h1>Scheme benefits</h1>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: "The Gold standard demonstrates that the Mayor is challenging the industry to raise the bar even further when it comes to reducing the impact they have on London. Significant strides have already been made in improving fuel efficiency and reducing the number of penalty charges through the Silver and Bronze standards, and now nearly a quarter of vans or lorries in London are signed up to FORS. </p>
<p>"This scheme is a win-win as it can deliver savings for the companies taking part and provides a greener and safer operation of freight for the public. Since the Mayor's election we have built a close working relationship with the freight industry and we value their continued support to improving their operation, and therefore improving their environmental impact and their impact on other road users."</p>
<p>Ben Plowden, Director of Better Routes and Places, said; "Deliveries around London are vital for the economy, but just as vital is to ensure that these deliveries are being made legally and safely.</p>
<p>"More than 620 operators across the UK have signed up to the FORS initiative, with more than 50 per cent of them already progressing to Bronze or Silver membership. <br>&nbsp; <br>"The creation of the Gold FORS membership allows freight operators across the Capital to further demonstrate their performance and keenness to become safer, greener and more efficient." </p>
<p>Natalie Chapman, the Freight Transport Association's Head of Policy for London said:&nbsp; "The popularity of FORS demonstrates the appetite among freight operators for safer, greener and more compliant best practice. We support efforts to recognise and reward those many freight operators who are meeting and exceeding high standards of performance in and around London."</p>
<p>TfL hopes to award the first Gold memberships in late 2011. For more information or to register to the scheme, visit <a href="http://www.tfl.gov.uk/fors">www.tfl.gov.uk/fors</a> </p>
<p>
<p>
<h2>Notes to Editors </h2>
<ul>
<li>The Freight Operators Recognition Scheme (FORS) is one of the four elements of the London Freight Plan, which was published in January 2008 and is available at <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a><br><br></li>
<li>In order to achieve Bronze FORS membership, freight operators need to undergo a formal assessment of their fleet to demonstrate legal compliance, commitment to health and safety, managing work-related road risk and improving efficiency<br><br></li>
<li>In order to progress to Silver and Gold FORS membership, freight operators will need to develop and complete a FORS excellence plan, which will have been approved by TfL. These plans, which will incorporate a number of factors, including fuel efficiency, Penalty Charge Notices and CO2 and particulate emission levels, will be assessed through industry benchmarking and other forms of assessment<br><br></li>
<li>By tailoring these excellence plans to the freight operators needs, rather than setting a fixed target, operators can work with TfL and its freight team to develop meaningful, realistic targets that directly help their fleet improve<br><br></li>
<li>Operators will also need to undergo a formal assessment of their fleet once every three years, to ensure that are still operating to a minimum of FORS Bronze standard<br><br></li>
<li>As of 12 April 2011, TfL FORS membership figures were as follows:</li></ul>
<blockquote>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Operators</td>
<td>&nbsp;Vehicles</td>
<td>&nbsp;Percentage of London's regular freight</td></tr>
<tr>
<td>&nbsp;Registered members</td>
<td>&nbsp;629</td>
<td>&nbsp;75490</td>
<td>&nbsp;22.8 per cent</td></tr>
<tr>
<td>&nbsp;Of which Bronze </td>
<td>&nbsp;304</td>
<td>&nbsp;46899</td>
<td>&nbsp;14.2 per cent</td></tr>
<tr>
<td>&nbsp;Of which Silver</td>
<td>&nbsp;39</td>
<td>&nbsp;9353</td>
<td>&nbsp;2.8 per cent</td></tr></tbody></table></div></blockquote>
<p>FORS members have to provide data to enable benchmarked values to be produced per 100,000 vehicle kilometres for each type of vehicle for: </p>
<p>- Fuel use&nbsp;<br>- CO2 and emissions <br>- Vehicle incidents (Damage to property or injury - slight /serious /fatal)<br>&nbsp;- Penalty Charge Notices and fines </p>
<ul>
<li>On fuel use, they are asked to collect sufficient fuel use data to enable them to calculate the MPG of each of their vehicles. CO2 and other emissions per 100,000 vehicle kilometres are also recorded as a measure of an operators commitment to help reduce climate change<br><br></li>
<li>FORS benchmarking enables comparisons between similar vehicles in similar sectors. The benchmark is calculated automatically from the information supplied on the fleet's vehicle composition and fuel consumption per 100,000 vehicle kilometres</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 620 operators, representing nearly 25 per cent of vans and lorries regularly operating in London, are already registered to the Freight Operator Recognition Scheme (FORS).More than 75,000 freight vehicles are currently registered with FORS and";}
        
        


 