


@{ViewBag.Title = "London Underground offers new multi-year pay deal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground offers new multi-year pay deal</h1>
        <div class="content-page-press-release">
        14 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has today made a multi-year pay offer to trade unions which would see staff get a four per cent pay rise in the first year followed by a rise of inflation plus 0.25 per cent in subsequent years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've today made what we believe is a very fair and affordable multi-year pay offer to the trade unions, which will see staff gain real-terms pay increases and stability over the coming years."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've today made what we believe is a very fair and affordable multi-year pay offer to the trade unions, which will see staff gain real-terms pay increases and stability over the coming years. 
                            
                        </p>
                    </div>
                
            
            
            <p>The fair and affordable five-year offer was made to all trade unions at a meeting of London Underground's Company Council this afternoon (Thursday). </p>

<p>In addition to the pay offer, LU has also committed to examining further issues raised by the unions, including working on statutory public holidays and the company's family-friendly policies which aim to make working for LU easier for parents and carers.</p>
<p>Howard Collins, LU Chief Operating Officer, said: "We've today made what we believe is a very fair and affordable multi-year pay offer to the trade unions, which will see staff gain real-terms pay increases and stability over the coming years. </p>
<p>"We have asked the unions to respond to our offer by 28 April and we look forward to working with the unions to reach an agreement as soon as possible."</p>
<p>The proposed deal would cover the period from April 2011 to April 2016, which also includes the London 2012 Games. The previous agreed pay deal, which saw staff get a 1.5 per cent increase in year one and RPI+0.5 per cent in year two, expires this month.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The fair and affordable five-year offer was made to all trade unions at a meeting of London Underground's Company Council this afternoon (Thursday). In addition to the pay offer, LU has also committed to examining further issues raised by the unions,";}
        
        


 