


@{ViewBag.Title = "London Buses trial new equipment to tackle air pollution";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses trial new equipment to tackle air pollution</h1>
        <div class="content-page-press-release">
        15 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is carrying out a trial that will see 18 buses retrofitted with specialist equipment to tackle NOx air pollution.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are making huge strides in cleaning up the Capital's bus fleet, not least by developing the New Bus for London, which will pump out 40 per cent less pollutants than a standard, traditional diesel bus."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are making huge strides in cleaning up the Capital's bus fleet, not least by developing the New Bus for London, which will pump out 40 per cent less pollutants than a standard, traditional diesel bus. 
                            
                        </p>
                    </div>
                
            
            
            <p>The trial is a UK-first and will evaluate a number of the latest available technologies, to see which provides the best results before extending it to more buses in the fleet. </p>
<p>TfL has taken considerable steps in the last ten years to reduce the environmental impact of its bus fleet. All buses achieve Euro IV standard for particulate matter (PM) pollution and, as a result, emissions of particulate matter from the fleet have dropped from over 200 tonnes in 1997 to 14 tonnes in 2010. </p>
<p>The Mayor's Air Quality Strategy proposes that, subject to Government support, by 2015 all buses in London will meet the Euro IV standard for NOx.&nbsp; The majority of the 8,500 buses in the Capital's fleet should meet this but it is estimated that around 2,700 buses will need to be retrofitted or replaced in order to bring them in line with this standard.&nbsp; </p>
<p>Boris Johnson, the Mayor of London, said: "We are making huge strides in cleaning up the Capital's bus fleet, not least by developing the New Bus for London, which will pump out 40 per cent less pollutants than a standard, traditional diesel bus. We are running the UK's only hydrogen bus route which emits only pure water and are now embarking on this bus trial, all of which form part of our continued efforts to improve London's air quality."</p>
<p>Mike Weston, London Buses Operations Director, said: "London continues to look for ways to improve the emissions and environmental performance of the bus fleet. This often means trialling new technology and leading the way for the rest of country as we have already done by introducing hybrid and hydrogen buses."</p>
<p>The trial will be carried out on three different types of buses and will be carried out for a year. A tendering process to find manufacturers for equipment began earlier this week.</p>
<p>
<p>
<h2>Notes to editors</h2>
<ul>
<li>NOx is primarily made up of two pollutants, nitric oxide (NO) and nitrogen dioxide (NO2)<br></li>
<li>TfL operates five hydrogen buses, on the route RV1 between Covent Garden and Tower Gateway.&nbsp; They emit only water vapour<br></li>
<li>TfL will have 300 hybrid buses in its fleet by 2012<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The trial is a UK-first and will evaluate a number of the latest available technologies, to see which provides the best results before extending it to more buses in the fleet. TfL has taken considerable steps in the last ten years to reduce the";}
        
        


 