


@{ViewBag.Title = "Mayor announces world-class consortium to construct London's cable car";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces world-class consortium to construct London's cable car</h1>
        <div class="content-page-press-release">
        18 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works to start this summer with appointment of Mace as lead contractor. Transport for London (TfL) launches commercial partners campaign. New iconic link will boost regeneration of London's newly created Enterprise Zone.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The cable car will offer a new transport link with spectacular views of the Thames and other key attractions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The cable car will offer a new transport link with spectacular views of the Thames and other key attractions
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has confirmed work will start this summer on a cable car across the Thames helping to boost the ongoing regeneration of east London. </p>
<p>This follows the appointment of a world-class consortium to build and operate the cable car with Mace as lead contractor.&nbsp; </p>
<p>The cable car will span the Thames, providing a low-emission, quick, direct and fully accessible link connecting the Greenwich Peninsula and the O2 with the Royal Victoria Docks and the ExCeL. </p>
<p>It will provide a spectacular architectural addition to London and a much-needed river crossing in this area, cutting travel times to five minutes. </p>
<p>It will also boost the once-in-a-lifetime economic regeneration of east London, forming an essential new addition to a newly created Enterprise Zone. </p>
<p>This supports the Mayor's vision to transform this area into a new metropolitan quarter boasting new businesses, tourist attractions, homes and job opportunities.</p>
<p>Mace has a strong track record of delivering innovative projects including the London Eye, the company is currently constructing the Shard Tower in London and is involved in a consortium to deliver the London 2012 Olympic and Paralympic Stadium. </p>
<p>Mace has been selected as lead contractor to build the cable car and operate it for three years. </p>
<p>Mace will lead a consortium of experts, including the cable car specialists, Dopplemayr, and Watson Steel, URS Scott Wilson, Buro Happold and Aedas. </p>
<h2>Works starting soon</h2>
<p>The cable car has been designed to the highest standards by Wilkinson Eyre. </p>
<p>Work will start on the ground this summer on what is set to be the first urban system of its kind in the UK. </p>
<p>TfL is striving to deliver the scheme before the London Olympic and Paralympic Games although this remains an extremely challenging timeline for a complex project. </p>
<p>Mayor of London, Boris Johnson, said: 'Gliding serenely through the air across the Thames will provide a truly sublime, bird's eye view of our wonderful city. </p>
<p>'This innovative airborne travel link will be a vital component in the ongoing renaissance of a vibrant easterly quarter of the Capital, providing a much-needed river crossing. </p>
<p>'I am thrilled we are full steam ahead to start work on this project following the confirmation of a world-class consortium to deliver this brand new icon.'</p>
<p>London's Transport Commissioner Peter Hendy said: 'The cable car will offer a new transport link with spectacular views of the Thames and other key attractions in the Capital whilst providing a much-needed river crossing to boost the regeneration of this part of London. </p>
<p>'With a contractor now appointed and works set to start this summer we will soon see this new addition become part of London's iconic skyline.'</p>
<p>Mark Reynolds, Deputy Chief Executive of Mace, said: 'This will be an incredibly exciting new river crossing for London and we are really proud to be involved. </p>
<p>'London's cable car project is an awe-inspiring addition to our London portfolio of work. </p>
<p>'Mace thrives on challenging and innovative schemes and we are delighted that Transport for London has trusted Mace to deliver this fantastic project.'</p>
<h2>Looking for sponsors</h2>
<p>TfL also announced today the start of a competitive process for commercial partners who want to invest in the scheme in return for the rights to associated commercial sponsorship opportunities, including naming rights and branding options. </p>
<p>'The commercial programme will be a key component of a funding package for the cable car which will also include third party grants and surplus fare revenue. </p>
<p>'It will also provide a full and transparent process. </p>
<p>'The winning bidder is expected to be announced later this year. In the interim, to aid the quick delivery of this important new transport link TfL will provide upfront funding for the cable car. </p>
<p>'TfL will recoup its costs from a range of sources including the appointed commercial partner, fare revenue and sponsorship.'</p>
<p>When up and running the cable car will be a spectacular addition to the London skyline and become an internationally recognisable landmark.&nbsp; </p>
<p>The cable car will also serve some of London's key destinations including the ExCeL centre, London's largest exhibition centre, the O2, the world's most popular music arena, and London City Airport. </p>
<p>Similar to the support provided by the Docklands Light Railway and Jubilee line to the transformation of Canary Wharf, the cable car will boost this planned revitalisation of the Royal Docks. </p>
<p>It is close to London City Airport and will complement the planned &pound;15bn Crossrail project later this decade which will connect Heathrow to the West End, The City, Canary Wharf and east London.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Simulation <a href="http://hatton.luminova-web.com/">aerial fly-through </a>of the cable car</li>
<li>Images of the cable car can be obtained by contacting the TfL Press Office</li>
<li>Formal expressions of interest in commercial partnership for the cable car can be registered at <a href="http://www.tfl.gov.uk/cablecar">tfl.gov.uk/cablecar</a> or by emailing <a href="mailto:cablecar&#64;tfl.gov.uk">cablecar&#64;tfl.gov.uk</a></li>
<li>Building the cable car forms part of the Mayor's plans to increase the number of river crossings east of Tower Hill. The strategy proposes a package of improvements including a new fixed link at Silvertown and an upgraded ferry service in the longer term</li>
<li>A public consultation found that an overwhelming majority of the public have given the Mayor of London's plans for a cable car the thumbs up, 89 per cent of respondents agreed or strongly agreed that the cable car 'would be an exciting new feature for London' while 85 per cent agreed or strongly agreed that it 'would be a valuable addition to transport options available, particularly when large events are on'. More than 1,000 people took part in TfL's public consultation, 83 per cent of whom either lived and/or worked in the Docklands area</li>
<li>Planning consents for the cable car are now in place from Newham and Greenwich Councils, the Thames Gateway Corporation and the Greater London Authority</li>
<li>Stretching 1.1km across the River Thames and with 34 gondola cabins operating, the cable car will have the capacity to carry up to 2,500 people per hour and it is anticipated two million passengers per year</li>
<li>The cable car will be fully accessible and will be designed so it can be used by those with reduced mobility including wheelchair users and people with pushchairs; in addition bicycles will be allowed onto the link</li>
<li>In addition to regeneration the cable car could bring a number of additional benefits including:</li>
<ul>
<li>Cutting journey times between the Greenwich Peninsula and Royal Docks</li>
<li>Increase transport capacity and provide an alternative for local journeys in the area</li>
<li>Improve resilience in the transport network, something much needed in this area</li>
<li>Attract new visitors to east London with spectacular views along the Thames from the cabins</li>
<li>Provide a low-emission mode of public transport allowing the river to be crossed with no impact on air quality</li>
<li>There are three other cable cars in the UK, including the Nevis Range in Scotland and the Heights of Abraham in Derbyshire but these are mainly used as tourist attractions. Mass transport links similar to London's cable car can be found in Barcelona, Lisbon, New York and Singapore</li>
<li>Options for crossing the river east of Tower Bridge have improved significantly in recent years with the opening of the Jubilee line extension, the expansion of the DLR network, the introduction of passenger ferry services and the recently reopened East London line. The opening of Crossrail in 2017 will provide new links but further improvements are required particularly for vehicle travel across the river. The Mayor asked TfL to investigate a package of river crossing options across east London to address a number of problems. TfL published its initial report in July 2009 with options outlined in the 2010 Mayor's Transport Strategy which recommends the following the package of measures:</li>
<ul>
<li>A new road crossing at Silvertown would be better placed to relieve south and east London of the congestion at Blackwall and provide the resilience that is needed</li>
<li>An upgraded Woolwich Ferry</li>
<li>Consideration of a new vehicle ferry service at Gallions Reach</li>
<li>Improvement of local links for pedestrians and cyclists</li>
<li>Consideration of a long term link at Gallions Reach</li>
<li>Encourage of modal shift from private cars to public transport</li></ul></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has confirmed work will start this summer on a cable car across the Thames helping to boost the ongoing regeneration of east London. This follows the appointment of a world-class consortium to build and operate the";}
        
        


 