


@{ViewBag.Title = "New Barclays Cycle Superhighways herald safer and easier cycling across the city";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Barclays Cycle Superhighways herald safer and easier cycling across the city</h1>
        <div class="content-page-press-release">
        12 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work has begun on two new Barclays Cycle Superhighway routes which will open in July 2011, making it easier and safer for cyclists to commute into central London on direct and continuous cycle routes.
        
    </div>



 <div class="on-this-page">
<p>As work takes place on the new routes, which will run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8), the Mayor of London and Transport for London (TfL) have also announced funding to help boroughs along the route develop cycling improvements. </p>
<p>Five boroughs; City, Tower Hamlets, Kensington &amp; Chelsea, Westminster and Wandsworth, can bid for a share in funds in order to provide:</p>
<ul>
<li>Cycle parking along the two new routes. This will be a mixture of on-street and residential parking which will be installed within 1.5km of the routes </li>
<li>Cycle training for residents to help to improve their cycle commuter skills and safety awareness </li>
<li>Cycle checks available from the launch of the new highways until autumn 2011 to make sure people's bicycles are safe to ride</li></ul>
<p>Since the launch of the first two Barclays Cycle Superhighways last summer (July 2010) TfL has provided funding for a total of 4,113 new cycle spaces along the routes, and has also provided 4,206 hours of training and checked the safety of 4,143 bikes.</p>
<p>The two routes run from Merton to the City (CS7) and Barking to Tower Gateway (CS3), to make it easier and safer for cyclists to commute between Outer and Inner London on direct and continuous cycle routes. </p>
<p>They are just one part of the Mayor's cycle revolution which aims to make travelling around on two wheels safer and easier for Londoners and visitors. </p>
<p>Along the first two Barclays Cycle Superhighway routes, cycling has increased by up to 70 per cent.</p>
<h2>Cycling safer</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor said: 'The striking blue paint is now being laid down for another two of the 12 Barclays Cycle Superhighways the Mayor has committed to delivering. </p>
<p>'Thousands of Londoners have been using the first two highways and, by the end of this summer, we will have four direct cycle routes into the centre of the Capital. </p>
<p>'But these are more than just cycle lanes - there is also increased cycle parking and more training, and we are working with businesses along the routes to ensure everyone who wants to can take to the cleanest, greenest form of commuter transport.'</p>
<p>With more cyclists on the road, TfL and the Mayor of London are working hard to make sure cycling in London continues to get safer. </p>
<p>It is important that cyclists are aware of key cycle safety tips such as wearing bright clothing and never going up the left-hand side of lorries at junctions. </p>
<p>TfL offers <a href="http://www.tfl.gov.uk/cycling">free cycle training </a>which we would encourage new and experienced cyclists to take full advantage of.&nbsp; </p>
<p>Drivers are also reminded that cyclists are 'vehicles' on the road and just like any other vehicle they require space, consideration and awareness.</p>
<h2>Free cycle training</h2>
<p>Ben Plowden, TfL's Director of Better Routes and Places, said: 'We are working hard to ensure cycling in London is safe, easy and most importantly fun for everyone. </p>
<p>'I would encourage everyone to take advantage of our free cycle training, whether you are experienced and in need of a 'refresh 'or a new London cyclist who would like to improve their confidence skills, our cycle training caters for everyone. </p>
<p>'Once you start to cycle you will wonder why you hadn't done it sooner - the health benefits are also instantly noticeable.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Five boroughs; City, Tower Hamlets, Kensington &amp; Chelsea, Westminster and Wandsworth, will be able to bid for a share of &pound;625,000 of funding in order to provide cycling improvements </li>
<li>The next two Barclays Cycle Superhighways routes will run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8) and will launch in summer 2011. Maps of CS2 and CS8 are available from TfL's press office on 0845 604 4141 </li>
<li>The two pilot Barclays Cycle Superhighways routes run from Merton to the City (CS7) and Barking to Tower Gateway (CS3) and launched on 19 July 2010 </li>
<li>Results from both pilot routes suggest an overall increase of 70 per cent in cycle journeys; this is based on one day of manual counts in October 2010 and a comparable day in October 2009, supplemented by automated count data along the routes </li>
<li>Peak hour increases of 100 per cent or more in cycle journeys on some sections, following automatic and manual counts undertaken in October 2010 compared with data from the same month in the previous year </li>
<li>The Barclays Cycle Superhighways are a set of 12 radial routes aimed at delivering benefits to cyclists by making it safer and easier to commute by bike between Outer and Inner London on direct and continuous cycle routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As work takes place on the new routes, which will run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8), the Mayor of London and Transport for London (TfL) have also announced funding to help boroughs along the route develop cycling";}
        
        


 