


@{ViewBag.Title = "New major signalling contract will mean faster, more frequent and more reliable Tube services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New major signalling contract will mean faster, more frequent and more reliable Tube services</h1>
        <div class="content-page-press-release">
        12 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New signalling system will serve 40 per cent of the Tube network. Faster, more reliable trains, more often on Circle, District, Hammersmith & City and Metropolitan lines. Less disruption for Londoners as the need for closures will be reduced.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) today moved a step closer to awarding a major signalling contract for the Circle, District, Hammersmith &amp; City and Metropolitan lines (sub-surface lines) by selecting Bombardier Transportation as the Preferred Bidder, heralding faster, more frequent and reliable Tube services for Londoners.</p>
<p>The new signalling contract, when finalised, will be awarded following a statutory 'standstill' period. </p>
<p>This contract signifies the start of the single biggest piece of work to upgrade the Tube, coupled with a fleet of 191 new air-conditioned walk-through trains which are&nbsp;already being rolled out on the Metropolitan line</p>
<p>When complete, the new signalling system will mean passengers can travel more quickly and frequently on all sub-surface lines. </p>
<p>The upgrade will deliver 65 per cent&nbsp;more capacity on the Circle and Hammersmith &amp; City lines, 24 per cent&nbsp;more capacity on the District line and 27 per cent more capacity on the Metropolitan line.</p>
<p>LU has also been working with and learning from other world metros including the Madrid Metro, in order to develop innovative ways to upgrade the Tube in order to minimise disruption. </p>
<p>As a result, this contract provides for no weekend closures simply for signalling installation and testing work. </p>
<h2>Saving money</h2>
<p>There will still be a need for weekend closures to upgrade track and platforms, however these will be contained in much smaller geographical areas and will not mean closures to full lines as has been experienced during previous upgrade work on other lines.&nbsp;&nbsp; </p>
<p>LU Managing Director Mike Brown said: 'This is a major step forward in our plan to upgrade the Tube and will mean faster, more frequent and reliable Tube services for Londoners.</p>
<p>'Furthermore, throughout this process, it was imperative that not only would the contract offer value for fare payers' and taxpayers' money, but that the new signalling would be installed with less disruption.&nbsp;&nbsp; </p>
<p>'We know that full line closures are particularly disruptive to our customers and have been working closely with Madrid Metro to learn from their experience.&nbsp; </p>
<p>'As a result, we insisted that those bidding for this contract found innovative ways to deliver the new signalling system without the need for the level of closures we have seen on other lines, and I'm pleased Bombardier have committed to that.'</p>
<p>Boris Johnson, the Mayor of London, said: 'The Circle, District, Hammersmith &amp; City and Metropolitan lines are the oldest in the Capital, they make up a large chunk of the Tube network and move millions of Londoners every day. </p>
<p>'They are a vital part of the fabric of our great Capital and I am assured that this new contract will deliver the minimum amount of closures while delivering the improvements all Londoners are desperate to see.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Following the collapse of the Public Private Partnership (PPP) and failed PPP contractor Metronet in June 2007, LU was left with a number of contracts which were not fit for purpose.&nbsp;One of these was a contract for a new signalling system on the sub-surface lines.&nbsp;LU decided to re-tender, as the original contract did not provide the best technical solution or the best value for fare payers' and taxpayers' money. It would also have left LU with the legacy of signalling system not compatible with others across the Tube network, not only inefficient but would have lead to greater infrastructure, maintenance and training costs. The new contract and the efficiencies it will deliver means TfL will save hundreds of millions of pounds, now and in future, on the original PPP solution</li>
<li>LU issued an invitation to tender for this contract in July 2009 and, since then, has been engaged in a competitive negotiated procedure with a number of bidders. In July 2010, it down-selected to two bidders, one of which was Bombardier</li>
<li>The sub-surface lines cover more than 300km of track and serve around 40 per cent of the Tube network</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) today moved a step closer to awarding a major signalling contract for the Circle, District, Hammersmith &amp; City and Metropolitan lines (sub-surface lines) by selecting Bombardier Transportation as the Preferred Bidder, heralding";}
        
        


 