


@{ViewBag.Title = "Reminder - Northern line won't stop at Tottenham Court Road as station upgrade moves into new phase";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder - Northern line won't stop at Tottenham Court Road as station upgrade moves into new phase</h1>
        <div class="content-page-press-release">
        01 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to transform Tottenham Court Road station into a new gateway to the West End will step up a gear this weekend.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The changes we are making to the station will transform it
                            
                        </p>
                    </div>
                
            
            
            <p>As the &pound;500m station upgrade moves into its next important stage, the Northern line won't stop at the station from 2 April until late November. </p>
<p>Tottenham Court Road station is more than 100 years old and was not designed to be used by the 147,000 people that currently pass through it every day. </p>

<p>With the growth in passengers using the Tube and the arrival of Crossrail, that number is expected to grow to more than 200,000. </p>

<p>As part of the Tube Upgrade Plan, London Underground is transforming the station to:</p>
<ul>
<li>Increase the size of the ticket hall by nearly six times</li>
<li>Introduce step-free access from street to platform</li>
<li>Provide four new or modernised entrances</li>
<li>Deliver new escalators and improved interchanges between platforms</li>
<li>Connect with a new Crossrail ticket hall at Dean Street.</li></ul>
<p>London Underground's Strategy &amp; Commercial Director Richard Parry said: 'Tottenham Court Road station is set to become one of the busiest and most important stations in the Capital once Crossrail and the station upgrade are complete.&nbsp; </p>
<p>'The changes we are making to the station will transform it, with a massive increase in capacity, new entrances and step-free access.&nbsp; </p>
<p>'But the size and scale of the works mean we will need to close the Northern line platforms until November. </p>
<p>'I ask our customers and local businesses and residents to bear with us, it will be worth it.'</p>
<p>Central line services at the station will run as normal and the Northern line platforms will be back in service well in time for Christmas.&nbsp; </p>
<p>Passengers wishing to use the Northern line are advised to use nearby Goodge Street or Leicester Square. </p>
<p>For more information on the Tottenham Court Road station upgrade project, the platform closure and how TfL is preserving the famous Paolozzi mosaics in the station, <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/18091.aspx">watch the video online</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes for editors:</strong></p>
<ul>
<li>At Tottenham Court Road, during the Northern line platform closure, 'exit 4' (closest to Centre Point) will be closed from April until July to allow the staircase to be rebuilt</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the &pound;500m station upgrade moves into its next important stage, the Northern line won't stop at the station from 2 April until late November. Tottenham Court Road station is more than 100 years old and was not designed to be used by the 147,000";}
        
        


 