


@{ViewBag.Title = "Taximeter updates required by 2 May";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taximeter updates required by 2 May</h1>
        <div class="content-page-press-release">
        01 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taximeters can be updated at no cost in less than 30 minutes.
        
    </div>



 <div class="on-this-page">
<p>Following the 2.7 per cent increase in Taxi fares, that come into effect tomorrow, London's Taxi and Private Hire directorate is reminding drivers and vehicle owners that taximeters must be updated by Monday 2 May to reflect these changes.</p>
<p>Any vehicle presented for inspection after 2 May will fail if they have not had the taximeter software updated.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>A vehicle that is examined by a member of the compliance team and found to have not had its taximeter updated may also be subject to an 'unfit' notice.&nbsp; </p>
<p>The vehicle will then be taken out of service until the taximeter fault is rectified. </p>
<p>Taximeters can be updated free of charge, in most cases, and in under 30 minutes at a number of approved taximeter agents:</p>
<p><strong>Lucas-Tronic and Cygnus Taximeters</strong></p>
<p>Lucas-Tronic UK Ltd, Unit 6 The High Cross Centre, Fountayne Road, Tottenham, London, N15 4QL.&nbsp; </p>
<p>Telephone: 020 7241 2444</p>
<p><strong>Digitax Taximeters</strong></p>
<p>Ascott Cab Co, 125 -127 Evelyn Street, London, SE8 5RJ.&nbsp; </p>
<p>Telephone: 020 8692 1122</p>
<p>Ascott Cab Co, 80 Dunbridge Street, London, E1 2HJ.</p>
<p>Telephone: 020 7033 4144</p>
<p><strong>Global, Mattig and Cygnus Taximeters</strong></p>
<p>KPM UK Taxis, Hemming Street, London, E1 5BL.&nbsp; </p>
<p>Telephone: 020 7375 2086</p>
<p><strong>Aquila Taximeters</strong></p>
<p>Frankum and Kaye Taxis, 38 Crawley Road, Wood Green, London, N22 6AG.&nbsp; </p>
<p>Telephone: 020 8889 5537</p>
<p>Camberfield Taxis, The Ham, Brentford, Middlesex, TW8 8EX.&nbsp; </p>
<p>Telephone: 020 8658 9643</p>
<p>E3 Taxis, Standard Industrial Estate, Henley Road, London, E16 2ES.&nbsp; </p>
<p>Telephone: 020 7474 6592</p>
<p><strong>REM Taximeters</strong></p>
<p>Taximeter Sales &amp; Services, 94 Cowley Road, Uxbridge, Middlesex, UB8 2QD.&nbsp; </p>
<p>Telephone: 01895 234 616</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs.&nbsp;These are: 
<ul>
<li>Tariff 1: Monday to Friday, between 06:00 and 20:00 </li>
<li>Tariff 2: Monday to Friday, between 20:00 and 22:00, and weekends between 06:00 and 22:00 </li>
<li>Tariff 3: Nightly between 22:00 and 06:00 and on public holidays</li></ul></li>
<li>The 2.7 per cent increase is intended to provide a balance between maintaining income levels for drivers, who face disproportionately higher costs in order to work than average Londoners, while ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers </li>
<li>The 2.7 per cent&nbsp;fare increase takes into account a number of factors including a 12 per cent increase in fuel costs and a two per cent increase in average national earnings. </li></ul>
<p>Tariff changes - 2.7 per cent average fare increase<br>&nbsp;</p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Current average (&pound;) </strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;New average (&pound;) </strong></td>
<td><strong>&nbsp;Increase (&pound;) </strong></td>
<td><strong>&nbsp;Increase (per cent)</strong></td></tr>
<tr>
<td>&nbsp;<strong>Tariff 1</strong> </td>
<td>&nbsp;10.39 </td>
<td>&nbsp;10.67</td>
<td>&nbsp;0.28</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>&nbsp;<strong>Tariff 2</strong> </td>
<td>&nbsp;12.05 </td>
<td>&nbsp;12.37</td>
<td>&nbsp;0.32&nbsp;</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>&nbsp;<strong>Tariff 3</strong> </td>
<td>&nbsp;14.15 </td>
<td>&nbsp;14.54</td>
<td>&nbsp;0.39</td>
<td>&nbsp;2.7</td></tr>
<tr>
<td>
<p>&nbsp;<strong>All week </strong></p></td>
<td>&nbsp;11.48 </td>
<td>&nbsp;11.79</td>
<td>&nbsp;0.31</td>
<td>&nbsp;2.7</td></tr></tbody></table></div>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the 2.7 per cent increase in Taxi fares, that come into effect tomorrow, London's Taxi and Private Hire directorate is reminding drivers and vehicle owners that taximeters must be updated by Monday 2 May to reflect these changes.Any vehicle";}
        
        


 