


@{ViewBag.Title = "Tour of Britain cycle race to return to central London this September";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain cycle race to return to central London this September</h1>
        <div class="content-page-press-release">
        21 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tour of Britain, the UK's biggest professional cycle race, will return to the Capital's streets this year on the final stage of the Tour.
        
    </div>



 <div class="on-this-page">
<p>On Sunday 18 September, 96 professional cyclists will race over two stages as the battle for the Tour of Britain reaches a climax in central London with an iconic finish on Whitehall.</p>
<p>In a change from recent years some of the world's top cyclists will take on the challenge of a 10km individual time trial in the morning before the Tour of Britain finishes with its traditional circuit race over a total of 80km on a 10km circuit.<br>&nbsp;<br>This is the eighth time the Tour of Britain has come to the Capital. </p>
<p>The world-class sporting spectacle has each year attracted Olympic, world, commonwealth champions and Tour de France stage winners to race in London.<br>&nbsp;<br>The last time the race visited central London was in 2009, when more than 150,000 spectators saw the final stage of the tour finishing on the streets of Westminster. </p>

<h2>The joy of pedal power</h2>
<p>Mayor of London Boris Johnson said: 'London is simply the perfect place to round off the fantastic spectacle that is the Tour of Britain.</p>
<p>'More and more people are embracing the joy and freedom of travelling on two wheels. </p>
<p>'Events like this, which showcase the excitement and exhilaration of top-level cycling, help to capture the unadulterated joy of pedal power and can only inspire more Londoners to get involved.'</p>
<p>Ben Plowden, Transport for London's Director of Better Routes and Places, said; 'This is a wonderful opportunity for Londoners to see some of the world's top cyclists in action. </p>
<p>'This year's circuit was very popular with spectators in 2008 and 2009 when over 150,000 people came to see the final stage of the Tour. </p>
<p>'It is events like this that help to encourage more people to take up cycling in London; I wish the cyclists taking part the very best of luck.'<br>&nbsp;<br></p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>Tour of Britain is the UK's largest professional cycling race and biggest free-to-attend live sporting event in the country 
<li>The 2011 edition of the race will run for eight days from Sunday 11 September until Sunday18 September. Last year, the final stage of the Tour in Newham attracted 40,000 spectators </li>
<li>The number of cycle journeys made in London has increased by 107 per cent since 2000&nbsp;- around half a million cycle journeys are now made on London's major roads every day. For more information about the Tour of Britain, including this year's route, visit <a href="http://www.tourofbritain.co.uk">www.tourofbritain.co.uk</a> </li>
<li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Sunday 18 September, 96 professional cyclists will race over two stages as the battle for the Tour of Britain reaches a climax in central London with an iconic finish on Whitehall.In a change from recent years some of the world's top cyclists will take";}
        
        


 