


@{ViewBag.Title = "Traffic restrictions introduced on Wilton Road for Victoria Station Upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic restrictions introduced on Wilton Road for Victoria Station Upgrade</h1>
        <div class="content-page-press-release">
        28 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Motorists are advised by TfL that from 3 May 2011 general traffic will be restricted from using Wilton Road north of Neathouse Place.
        
    </div>



 <div class="on-this-page">
<p>Access to Wilton Road will be restricted to buses, taxis and bicycles whilst essential works for the Victoria Station Upgrade are carried out by VINCI Bam Nuttall. Pedestrian will be maintained.</p>
<p>The restriction to general traffic on Wilton Road is likely to remain in place until project completion, which is scheduled for 2018. </p>
<p>During this time Wilton Road may be subject to further restrictions to allow for Underground station construction works.&nbsp;TfL will continue to communicate the restrictions as the programme develops.</p>
<h2>Diversions&nbsp;set up&nbsp;</h2>
<p>While the restrictions are in place general traffic will be diverted along Bridge Place, Eccleston Bridge and Buckingham Palace Road. </p>
<p>Due to a weight restriction on Eccleston Bridge, imposed by Network Rail, vehicles over 18 tonnes are advised to use alternative routes.&nbsp;The weight restriction is necessary to protect the structural integrity of the bridge which spans key railway lines into Victoria station.</p>
<p>There will be a police presence at the Wilton Road junction on the 3 and 4 May directing motorists onto the diversion route. TfL will also install signage, in advance of the closure, on the approach to and at the Wilton Road junction The road surface on Wilton Road will be painted and clearly marked that access is restricted to taxis and buses.&nbsp; Any unauthorised motorist travelling along Wilton Road will be subject to a Penalty Charge Notice of &pound;130 (reduced to &pound;65 if paid within 14 days). </p>
<h2>Victoria Station Upgrade</h2>
<p>TfL's Interim Director of Congestion Charging and Traffic Enforcement, Nick Fairholme, said: "We are introducing traffic restrictions on Wilton Road whilst works are conducted as part of the vital upgrade works to Victoria Underground station.</p>
<p>&nbsp;"Transport for London would encourage motorists to follow the diversion and will only, as a last resort, issue Penalty Charge Notices to motorists who ignore all the signage and road markings and drive down Wilton Road." </p>
<p>
<p>
<h2>Notes to Editors</h2>
<ul>
<li>There will be temporary variable message signs on the main approaches to the restriction as well as changes to the permanent road signs </li>
<li>A new bus lane on the approach to Wilton Road will help emphasise the restriction when the Neathouse Place traffic is filtered into the left while the buses and taxis can turn right into Wilton Road. </li>
<li>At the point of the restriction itself, 'No Entry' signing will be provided, along with camera enforcement signs to warn drivers that enforcement activity is ongoing. </li>
<li>The diversion route for most traffic will be via Bridge Place, Eccleston Bridge, Buckingham Palace Road, Grosvenor Gardens and Grosvenor Place. </li>
<li>The exception is for vehicles over 18 tonnes maximum gross weight. </li>
<li>An alternative route for vehicles over 18 tonnes maximum gross weight is through Grosvenor Road. </li>
<li>A map detailing the diversions is available at <a href="http://www.tfl.gov.uk/vsu">www.tfl.gov.uk/vsu</a> </li>
<li>Further effects of the construction traffic management plan will be communicated as they are known<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Access to Wilton Road will be restricted to buses, taxis and bicycles whilst essential works for the Victoria Station Upgrade are carried out by VINCI Bam Nuttall. Pedestrian will be maintained.The restriction to general traffic on Wilton Road is likely";}
        
        


 