


@{ViewBag.Title = "Transport for London ready to keep the city running through the 2011 Virgin London Marathon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London ready to keep the city running through the 2011 Virgin London Marathon</h1>
        <div class="content-page-press-release">
        07 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising 2011 Virgin London Marathon runners and spectators to plan their journeys in advance by visiting tfl.gov.uk/marathon for details on how transport will run during London's largest annual running event.
        
    </div>



 <div class="on-this-page">
<p>This year's Virgin London Marathon takes place on Sunday 17 April, it's the 31st Marathon featuring world-class athletes, celebrities and thousands of others -&nbsp;raising millions of pounds for charities along the way.&nbsp; </p>
<p>With hundreds of thousands of supporters set to line the streets of London, TfL will be working to keep the Capital running. </p>
<p>The easiest way to travel to and from the race is by Tube, London Overground, Docklands Light Railway (DLR) or riverboat.&nbsp;Some stations and roads will be closed so plan your journey in advance and check before you travel using the dedicated website <a href="http://www.tfl.gov.uk/marathon">tfl.gov.uk/marathon</a> or by contacting the 24-hour London Travel Information Centre on 0843 222 1234.</p>
<p>Free travel will be provided to all runners, officials and St John's Ambulance staff on the Tube, London Overground and DLR from early morning until 17:00 by showing their race number, officials' course pass, or tabard. </p>
<h2>Road closures</h2>
<p>There will be staggered road closures on the route and approach roads.&nbsp; </p>
<p>Roads south of the Thames, between Blackheath and Deptford, will close from 06:00. </p>
<p>Roads north of the river, from Canary Wharf to Parliament Square, including The Highway, Tower Bridge, The Lower Route, Victoria Embankment, Westminster Bridge, Southwark Bridge&nbsp; (both directions) and all approach roads will close from 08:00. </p>
<p>A staggered road reopening programme will be operating throughout the day starting at approximately 11:00. </p>
<p>Roads are expected to be fully reopened by 19:00.</p>
<h2>London Buses</h2>
<p>Buses travelling on roads affected by the London Marathon will either be diverted or will not run the full length of their route until later in the day. </p>
<p>Routes affected by the London Marathon are: 1, 3, 11, 12, 15, 24, 25, 29, 42, 47, 51, 53, 54, 78, 87, 88, 89, 91, 96, 99, 100, 108, 115, 122, 129, 132, 148, 159, 161, 177, 178, 180, 188, 199, 202, 211, 225, 244, 277, 286, 291, 341, 343, 344, 380, 381, 386, 422, 453, 469, 472, 486, 507, C10, D3, D6, D7, D8, P12, RV1.</p>
<h2>London Underground</h2>
<p>To help Londoners and visitors travel smoothly around the city on Marathon day, all Tube lines will be serving central London with only the western side of the Central line undergoing track works between Marble Arch and West Ruislip/Ealing Broadway.</p>
<p>On the Circle and District lines, Blackfriars station is closed for station rebuilding works. </p>
<p>Passengers are advised to use Mansion House or Temple stations and complete their journey above ground. </p>
<p>Cannon Street will also be closed on Sunday as usual.</p>
<p>Northern line platforms at Tottenham Court Road are currently closed due to engineering works. </p>
<p>The Central line will call at Tottenham Court Road as normal.</p>
<h2>Docklands Light Railway</h2>
<p>Trains are as frequent as every two and a half minutes and connect with Tower Hill, Canning Town, Canary Wharf and Stratford Tube stations.</p>
<h2>London Overground</h2>
<p>London Overground services between Dalston Junction and West Croydon will run as normal, supplemented by extra services in the early morning connecting the key Marathon stations of Canada Water, Whitechapel and Shadwell. </p>
<p>Both Wapping and Rotherhithe Overground stations will be exit-only and passengers are advised to use nearby Shadwell and Canada Water. </p>
<h2>London River Services</h2>
<p><br>A view of the race from the river will also be available by boat between piers near key race points including Greenwich, Masthouse Terrace, Greenland, Canary Wharf, St Katherine's, Tower Hill, Embankment and Westminster.&nbsp;</p>
<p><a href="http://www.tfl.gov.uk/river">Timetables </a>are available at London Underground stations, TfL piers or online.</p>
<h2>Barclays Cycle Hire</h2>
<p>The following docking stations will be suspended from 00:00 to 20:00 on Sunday 17 April:</p>
<ul>
<li>Tower Gardens </li>
<li>Lower Thames Street </li>
<li>Embankment (Savoy) </li>
<li>Whitehall Place </li>
<li>Horse Guards Avenue </li>
<li>Northumberland Avenue </li>
<li>Curlew Street </li>
<li>Nesham Street</li></ul>
<p>Although all other docking stations will remain available, due to expected congestion in central London it may be difficult to replenish some stations as necessary.&nbsp; </p>
<p>Users are advised to go oneline to <a href="http://www.tfl.gov.uk/roadusers/cycling/18088.aspx">check cycle availability</a>.</p>
<h2>Avoiding the crowds</h2>
<p>Greenwich town centre and the Tower of London are best avoided if you want to miss the crowds, Tower Hill and Westminster Tube stations also get very busy. </p>
<p>Greenwich foot tunnel will be closed southbound on marathon day between 10:00 and 12:00.</p>
<h2>The finish line</h2>
<p>Charing Cross, Embankment, Green Park, Westminster and St James's Park stations, and Embankment and Westminster Piers, are all close to the finish line. </p>
<p>People&nbsp; can meet up with runners after the race at designated areas in Horse Guards Road and on Horse Guards Parade.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Stations located close to the London Marathon Route include: 
<ul>
<li>Cutty Sark DLR (mile six and seven) </li>
<li>Canada Water (mile nine) </li>
<li>London Bridge (mile 12) </li>
<li>Tower Hill/ Tower Gateway (mile 13) </li>
<li>Shadwell DLR (mile 13 and 22) </li>
<li>Canary Wharf (between mile 14 and 15) </li>
<li>Limehouse (mile 14) </li>
<li>Charing Cross (mile 24) </li>
<li>Crossharbour DLR (mile 18) </li>
<li>Monument (mile 23) </li>
<li>Mansion House (mile 23 and&nbsp;24) </li>
<li>Temple (mile 23 and&nbsp;24) </li>
<li>Embankment (mile 25) </li>
<li>Green Park/St James's Park (finish line)</li></ul></li></ul>
<p>Passengers are advised to check before travelling via the following options:</p>
<ul>
<li>The TfL website using <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a>, accessible from computers and&nbsp;internet-enabled mobile devices </li>
<li>Information on posters, leaflets and 'good service' boards at Tube stations </li>
<li>The 24-hour London Travel Information Centre on 0843 222 1234. You pay no more than 5p per minute if calling from a BT landline. There may be a connection charge. Charges from mobiles or other landline providers may vary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year's Virgin London Marathon takes place on Sunday 17 April, it's the 31st Marathon featuring world-class athletes, celebrities and thousands of others -&nbsp;raising millions of pounds for charities along the way.&nbsp; With hundreds of thousands";}
        
        


 