


@{ViewBag.Title = "Travel advice for the royal wedding - 29 April ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for the royal wedding - 29 April </h1>
        <div class="content-page-press-release">
        27 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has re-issued travel advice for people intending to visit central London on Friday 29 April to take part in celebrations surrounding the wedding of Prince William and Catherine Middleton.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All Tube lines will be running and our bus and streets teams will be working flat-out to make sure that the closures and diversions needed are managed smoothly. The whole of TfL is focussed on helping to ensure that a great day is had by all."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All Tube lines will be running and our bus and streets teams will be working flat-out to make sure that the closures and diversions needed are managed smoothly. The whole of TfL is focussed on helping to ensure that a great day is had by all.
                            
                        </p>
                    </div>
                
            
            
            <p>A large number of people are expected in central London on the day and TfL is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure that people travelling to and from the area can do so quickly and safely, and to minimise disruption caused by road diversions and closures.</p>
<p>Those coming to the event from outside of London are reminded that the easiest and most convenient way to travel on London's public transport network is to use an Oyster card.&nbsp;</p>
<p>These can be purchased from 270 Tube stations, from many London Overground and National Rail stations, from six TfL Travel Information Centres and from 4,000 shops across Greater London.&nbsp;</p>
<p>A special limited-edition Oyster card commemorating the wedding of Prince William and Catherine Middleton is available to purchase in the week leading up to the wedding from London Underground ticket offices and Travel Information Centres.</p>
<p>People are advised to check <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> to plan their route and for updates on service changes that may affect journeys.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'There is a real sense of excitement surrounding the royal wedding, and a great many people will be coming to central London to be a part of the various celebrations taking place.</p>
<p>'We are working with our partners to ensure that everyone can get around safely and easily, and that people not involved with the celebrations can continue to move around the city with the minimum of disruption.</p>
<p>'All Tube lines will be running and our bus and streets teams will be working flat-out to make sure that the closures and diversions needed are managed smoothly.&nbsp;</p>
<p>'The whole of TfL is focussed on helping to ensure that a great day is had by all.'</p>
<p>The following travel information is being given to those coming to the area or intending to travel through central London on the day:</p>
<h1>Roads </h1>
<p>The route of the wedding procession between Buckingham Palace and Westminster includes the Mall, Horse Guard's Road, Horse Guard's Arch, Whitehall and Parliament Square. </p>
<p>These roads and surrounding areas will be subject to road closures and parking restrictions.&nbsp; </p>
<p>Full details can be found on the <a href="http://www.met.police.uk/royal_wedding/index.html">Metropolitan Police website</a>.</p>
<p>Planned road closures include:</p>
<ul>
<li>Birdcage Walk </li>
<li>Broad Sanctuary </li>
<li>Buckingham Gate </li>
<li>Buckingham Palace Road (north of Lower Grosvenor Place) </li>
<li>Charing Cross Road (south of Shaftesbury Avenue) </li>
<li>Cockspur Square </li>
<li>Constitution Hill </li>
<li>Horse Guards Road </li>
<li>The Mall </li>
<li>Millbank </li>
<li>Pall Mall (east of Haymarket) </li>
<li>Parliament Square </li>
<li>Strand </li>
<li>Victoria Embankment </li>
<li>Victoria Street </li>
<li>Westminster Bridge </li>
<li>Whitehall </li></ul>
<p>In addition, the Metropolitan Police have advised that a number of other roads may also be closed for parts of the day. </p>
<p>These include, but are not limited to:</p>
<ul>
<li>Grovsenor Place </li>
<li>Haymarket </li>
<li>Hyde Park Corner </li>
<li>Knightsbridge (east of Sloane Street) </li>
<li>Park Lane </li>
<li>Piccadilly</li></ul>
<p>Road closures will be implemented from 06:00 on Friday 29 April 2011.&nbsp;</p>
<p>They will be lifted as soon as possible following the events, but road users are strongly advised to avoid this part of central London throughout the day.</p>
<h1>Congestion Charge</h1>
<p>As the royal wedding day has been designated a Bank Holiday this means that it will be non-charging day.</p>
<h1>Buses</h1>
<p>A Saturday service will be operating and a number of buses in Westminster, Hyde Park, Piccadilly and Trafalgar Square areas will be subject to diversions or will finish before their usual destination if they are unable to travel their usual routes through the affected part of central London.&nbsp;&nbsp; </p>
<p>Bus diversions and curtailments commence at 05:30 and should be removed at 20:00.&nbsp; </p>
<p>Further diversions may be necessary should road closures be expanded throughout the day. </p>
<p>Extra staff will be on-hand to provide public information and to assist with the diversions. </p>
<p>Bus users are advised to check the Transport for London website before they travel.</p>
<h1>Tube </h1>
<p>All Tube lines will be running, with no planned engineering work affecting services during the day.</p>
<p>All of the stations close to the route of the procession will be open on the day, including Embankment, Charing Cross, Waterloo, Westminster, Hyde Park Corner and Green Park. </p>
<p>As normal, station closures and mechanisms to limit stations to entry or exit only may be used if necessary to prevent over-crowding.</p>
<p>The lifts at Green Park are currently being refurbished and will not be available on the day.&nbsp;</p>
<p>The nearest station with a lift is Westminster. </p>
<p>Watford and Croxley stations will not have a train service after 22:00 on the evening, although replacement buses will operate.</p>
<p>A queuing system will be in place for access to London Underground station at Victoria.&nbsp;A similar system may be in place for access to the Network Rail station at Charing Cross.</p>
<h1>DLR / London Overground / Tramlink</h1>
<p>The Docklands Light Railway (DLR), and London Tramlink will operate normal services throughout the day, with no planned engineering work. </p>
<p>London Overground will run full services on all branches, except for on the section between Watford and Willesden Junction, which will be suspended for engineering works.</p>
<h1>Coaches</h1>
<p>Coach parking sites have been agreed at two venues outside of the central area (O2 and Nine Elms), with a dedicated central London set down and pick up point on Albert Embankment, located on the site of the existing coach bays, which will be in operation between 07:00 and 19:00.&nbsp;</p>
<p>TfL is working with the Confederation of Passenger Transport to ensure all coach operators have the latest information.</p>
<p>Information can be found on the TfL website, by contacting the TfL coach helpline on 0845 604 0770 or by emailing <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>.</p>
<p>Passengers who are coming to central London on scheduled or express coach services should contact the operator or service provider for travel information.</p>
<h1>Barclays Cycle Hire</h1>
<p>A number of Barclays Cycle Hire docking stations that fall within the road closure area will be suspended on the day. </p>
<p>These include the following docking stations:</p>
<ul>
<li>Northumberland Avenue - Strand </li>
<li>Whitehall Place - Strand </li>
<li>Craven Street - Strand </li>
<li>Horse Guards Avenue </li>
<li>Waterloo Place - St James</li></ul>
<p>The suspensions will commence at 20:00 on 28 April and the docking stations will reopen at 20:00 on 29 April should the road closures have been lifted and the crowds have sufficiently dispersed. </p>
<p>For more details please visit <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a> </p>
<h1>Taxis and Private Hire</h1>
<p>London's famous taxis (black cabs) can either be booked in advance or hailed on the street or from designated taxi ranks. Private Hire (minicabs) can only be booked through a licensed operator. </p>
<p>To get telephone numbers for three local cab companies text 'CAB' to 60835. Users of&nbsp; 3 and overseas networks must enter different information. See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for details and charges.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A large number of people are expected in central London on the day and TfL is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure that people travelling to and from the area can do so quickly and safely, and";}
        
        


 