


@{ViewBag.Title = "Tube upgrade plan - check before you travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube upgrade plan - check before you travel</h1>
        <div class="content-page-press-release">
        28 April 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK.
        
    </div>



 <div class="on-this-page">
<p>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK.</p>
<p>The benefits for Londoners will be great, with more trains - many with air-conditioning - delivering faster, more frequent and reliable journeys. </p>
<p>The Tube upgrade will mean a big increase in capacity of around 30 per cent.</p>
<p>This bulletin includes information about planned LU improvement works, as well as those on London Overground, London Tramlink and Docklands Light Railway.</p>
<p>We know that closures are frustrating, so TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. </p>
<p>Londoners and visitors to the city are urged to 'check before you travel', particularly at weekends, and to allow extra journey time where necessary.</p>
<p>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home at <a href="http://www.tfl.gov.uk/tfl/traveltools">www.tfl.gov.uk/tfl/traveltools</a></p>
<p>&nbsp;The website also provides full information on bus replacement services during works.</p>
<p>Passengers can check <a href="http://www.tfl.gov.uk/check ">www.tfl.gov.uk/check </a>before travelling, or use&nbsp;the following options: </p>
<ul>
<li>The London Travel Info 24hrs telephone helpline: 0843 222 1234</li>
<li>Information on posters, leaflets and "service information" boards at Tube stations</li>
<li>Via free mobile and email alerts, available from the TfL website</li>
<li>If you are planning to travel this weekend, 7 and 8 May, please check if any of the following works will affect you.&nbsp; </li></ul>
<p>For more information on the Tube upgrade plan please go to: <a href="http://www.tfl.gov.uk/tubeupgradeplan">www.tfl.gov.uk/tubeupgradeplan</a> </p>
<h1>London Underground </h1>
<p><br>Blackfriars Tube station on the <strong>District and Circle lines</strong>&nbsp;will be closed until late this year for Network Rail Thameslink redevelopment works.</p>
<p>Cannon Street Tube station on the <strong>District and Circle lines</strong> will be closed every weekend until mid-2012 for redevelopment works. </p>
<p>Farringdon Tube station on the <strong>Circle, Hammersmith &amp; City and Metropolitan lines</strong> will be closed all weekend due to station improvement works.</p>
<p><strong>Northern line trains </strong>will not stop at Tottenham Court Road until late November due to station improvement work.</p>
<p><strong>The Bakerloo Line</strong> will be suspended on Sunday between Queen's Park and Harrow &amp; Wealdstone due to Network Rail engineering work. </p>
<p><strong>The Circle line</strong> will be suspended all weekend due to track replacement work and Thameslink redevelopment work at Blackfriars and Farringdon.</p>
<p><strong>The District line </strong>will be suspended all weekend between Embankment and East Ham due to Tube and Network Rail track replacement work at Mile End and West Ham and Thameslink redevelopment work at Blackfriars.</p>
<p><strong>The Hammersmith &amp; City line </strong>will be suspended all weekend between King's Cross St Pancras and Barking due to Tube and Network Rail track replacement work at Mile End and West Ham, and Thameslink work at Farringdon. </p>
<p><strong>The Metropolitan line </strong>will be suspended all weekend between Northwood and Amersham/Chesham/Watford (no fast service north of Harrow-on-the-Hill) due to line upgrade work and between Baker Street and Aldgate due to Thameslink work at Farringdon. </p>
<h1>London Overground</h1>
<h3>Richmond - Stratford</h3>
<p>London Overground services will be suspended on Sunday between Richmond and Stratford due to planned engineering work.&nbsp;&nbsp;</p>
<h3>Clapham Junction - Willesden Junction</h3>
<p>London Overground services will be suspended on Sunday between Clapham Junction and Willesden Junction due to planned engineering work.</p>
<h3>Gospel Oak - South Tottenham</h3>
<p>London Overground services will be suspended on Sunday between Gospel Oak and South Tottenham due to planned engineering work. </p>
<h3>Kilburn High Road - Euston </h3>
<p>London Overground services will be suspended between Tuesday 3 May&nbsp;and Saturday 7 May inclusive, between Kilburn High Road and Euston, due to planned engineering work.</p>
<h3>Watford Junction - Euston</h3>
<p>London Overground services will be suspended on Sunday between Watford Junction and Euston due to planned engineering work.</p>
<h3>New Cross Gate -Crystal Palace/West Croydon</h3>
<p>London Overground services will be suspended on Sunday between New Cross Gate and Crystal Palace/ West Croydon due to planned engineering works.</p>
<h1>Docklands Light Railway (DLR)</h1>
<p>The DLR will be suspended all weekend between Westferry/Poplar - Island Gardens.</p>
<h1>London Tramlink </h1>
<p>London Tramlink has no planned work. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK.The benefits for Londoners will be great,";}
        
        


 