
    
  



@{ViewBag.Title = "Guidance for planning applicants";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/guidance-for-applicants";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
            
                <li><span class="last-breadcrumb">Guidance for planning applicants</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Guidance for planning applicants</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out about our priorities and requirements for healthy and safe travel when you make a planning application in London.
        
      </div>
    
    <div class="on-this-page">
      <h2>Our approaches</h2>

<p>All planning applications in London should use the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> from the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> (MTS). We use this approach for all our <a href="/travel-information/improvements-and-projects/index">improvements and projects</a>.</p>

<p>The Strategy's goal is to create healthy streets where everyone feels safe walking, cycling and using public transport. We also use a <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero Approach</a> to public safety which aims to eliminate all deaths and serious injuries from London's transport network by 2041.</p>

<p>The Healthy Streets and Vision Zero approaches help new developments in London improve air quality, reduce congestion and make the city a greener, healthier and more attractive place to live, work, play and do business.</p>

<h2>Our guidance</h2>
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment?intcmp=57462" >
        
        
        <div class="text-link">
             <h2>Our approach to assessment</h2>
            <p>Why and how we assess the transport impact of your planning application</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments?intcmp=10094" >
        
        
        <div class="text-link">
             <h2>Transport Assessments</h2>
            <p>How to create a Transport Assessment and templates to use</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation?intcmp=10096" >
        
        
        <div class="text-link">
             <h2>Trip generation</h2>
            <p>How to estimate the amount and type of new trips at new developments</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations?intcmp=57467" >
        
        
        <div class="text-link">
             <h2>Planning obligations</h2>
            <p>Our involvement in transport related planning obligations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works?intcmp=10101" >
        
        
        <div class="text-link">
             <h2>Highway works</h2>
            <p>All highway works on roads in London are made under Section 278 agreements</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight?intcmp=10134" >
        
        
        <div class="text-link">
             <h2>Freight</h2>
            <p>Use our plans in your application to minimise the impact of freight movements </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults?intcmp=3514" >
        
        
        <div class="text-link">
             <h2>Roadworks and street faults</h2>
            <p>See how we manage roadworks, street and traffic light faults in London</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources" class="plain-button">Planning and construction resources</a>
<a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts" class="plain-button">Planning and construction contacts</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how we can help you with your planning application";}
        
            
        


 