
    
  



@{ViewBag.Title = "Highway licences";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

<div class="r">
  <div class="headline-container plain">
    <h1>Highway licences</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Transport for London (TfL) issues highway licences on red routes for items such as scaffolds and skips.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Local authorities can issue licences for other items including pavement caf&eacute;s and seating areas, but only with our consent.</p>
    
      
           
      
<div>



<h2>Highway licence policies</h2>



        <p>These three documents outline our policies for considering highway licence applications: </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consents-guidance-highway-licence-applications-v4.pdf">
    <div class="document-download-text">
        <p>Highway consents guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/standard-conditions-guidance-highway-licence.pdf">
    <div class="document-download-text">
        <p>Standard conditions guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-highways-license-fees-2018-2019.pdf">
    <div class="document-download-text">
        <p>Application fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>


        <p>The standard conditions are generic to any application. Conditions specific to particular activities are detailed in the relevant application form.</p>
        <p>Fees are chargeable for some types of application.</p>
        <p>Processing time is typically four weeks - longer if road closures are required.</p>
        <h2>Local authority consents</h2>
        <p>For consideration of consents for basement openings, flag poles, pavement caf&eacute; seating areas, street trading and/or refuse storage bins, you should first contact the relevant local authority, who will then consult with TfL.</p>
        <h2>Road closures</h2>
        <p>If any consent involves a road closure (to accommodate a crane lift, for example) then we can arrange for temporary road closures as part of the process. There are statutory procedures which must be followed, with advertising costs of &pound;2,050 to &pound;7,000 (depending on location). </p>
        <p>Processing time is six to eight weeks for partial road closures and 10-12 weeks for full road closures.</p>
    
</div>
 
<div>



<h2>Application forms</h2>


<p>As the highway authority for the red routes, TfL licenses these applications.
</p>
<h3>Privacy notice</h3>
<p>Transport for London (TfL) its subsidiaries and service providers will use your personal information for the purposes of administering your highway  licence application,  includiing where relevant, issuing an invoice and processing any payment. We will retain your information after the issue of the licence for the purposes of managing any correspondence, ensuring compliance with the licence terms and establishing and defending legal rights. On some occasions, we may need to share your information with associated organisations or their agents for these purposes. Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation. To find out more about how TfL handles personal data see our <a href="/corporate/privacy-and-cookies/index">privacy and cookies</a> pages.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/mobile-crane-licence-guidance-application.docx">
    <div class="document-download-text">
        <p>Application form for mobile crane licence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/banners-hanging-baskets-over-the-highway-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Banners over London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/builders-skip-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Builders' skips on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/building-materials-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Building materials on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/building-over-the-highway-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Building over London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/crane-oversail-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Crane oversail on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/disabled-parking-bay-application.doc">
    <div class="document-download-text">
        <p>Disabled persons' parking bay - also read blue badge guide below</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24729-blue-badge-information-highway-licence.pdf">
    <div class="document-download-text">
        <p>Information for blue badge holders about red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 756KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/excavation-in-the-highway-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Excavation in the highway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/festive-decorations-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Festive and seasonal decorations on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/application-to-film-or-photograph-on-tfl-red-routes.pdf">
    <div class="document-download-text">
        <p>Filming on London's road network (see process guide below)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 245KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/hoarding-application-2018.docx">
    <div class="document-download-text">
        <p>Hoardings on London's red routes </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/landscaping-planting-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Landscaping on London's red routes </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/lights-in-trees-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Lights in trees on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/mobile-apparatus-application-2018.docx">
    <div class="document-download-text">
        <p>Mobile apparatus on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/pit-lane-application-2018.docx">
    <div class="document-download-text">
        <p>Pit lane on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/scaffold-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Scaffolding on London's red routes </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/statues-artwork-application-2018.docx">
    <div class="document-download-text">
        <p> Statues/artworks on London's red routes </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/temporary-traffic-signs-application-2018-v2.docx">
    <div class="document-download-text">
        <p>Temporary traffic signs on London's red routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 
</div>

</div>
 <div>

<p>If you need a licence to undertake street works such as installing and maintaining utility services, you'll need to apply for a section 50 licence under the New road and Street Works Act 1991</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Transport for London (TfL) issues highway licences on red routes for items such as scaffolds and skips. ";}
        
            
        


 