
    
  


<!-- rhroot -->
@{ViewBag.Title = "Urban planning and construction";}
@{ViewBag.Keywords = "Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Urban planning and construction</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Urban planning and construction</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/info-for/urban-planning-and-construction/guidance-for-applicants?intcmp=9708"  data-img="/cdn/static/cms/images/promos/new-development-1.jpg" data-img-breakpoint="medium" data-img-alt="Busy London street with new development on right hand side">
    <img src="/cdn/static/cms/images/promos/new-development-1_rdax_600x300.jpg" alt="Busy London street with new development on right hand side" />
    <div class="text-link sit-top">
      <h2>Help with your planning application</h2>
      <p>Our guidance helps you create your application for major developments in London</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>Get help with your planning application, spatial planning, Transport Assessments and conveyancing searches. Plus, find out how we approach urban design and protect our infrastructure</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat?intcmp=25861" >
        <img src="/cdn/static/cms/images/promos/webcat-ptal-teaser_rdax_400x200.jpg" alt="PTAL map" />
        
        <div class="text-link">
             <h2>Planning with WebCAT</h2>
            <p>Our WebCAT toolkit helps you plan your development in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-role-in-planning?intcmp=3484" >
        
        
        <div class="text-link">
             <h2>Our role in planning</h2>
            <p>Find out how we're involved in London's planning system</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences?intcmp=3496" >
        
        
        <div class="text-link">
             <h2>Highway licences</h2>
            <p>How to apply for a highway licence on red routes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments?intcmp=10094" >
        
        
        <div class="text-link">
             <h2>Transport Assessments</h2>
            <p>How to create a Transport Assessment and templates to use</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/info-for/urban-planning-and-construction/planning-applications/design-and-heritage?intcmp=57282" >
        
        
        <div class="text-link">
             <h2>Design and heritage</h2>
            <p>Find out how we promote good urban design practice in London</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/modelling?intcmp=57480" >
        <img src="/cdn/static/cms/images/promos/walthamstow-bus-station_rdax_400x200.jpg" alt="Buses in Walthamstow bus station" />
        
        <div class="text-link">
             <h2>Modelling</h2>
            <p>We can help with local or strategic transport modelling for your new development</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults?intcmp=3514" >
        
        
        <div class="text-link">
             <h2>Roadworks and street faults</h2>
            <p>See how we manage roadworks, street and traffic light faults in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure?intcmp=57484" >
        
        
        <div class="text-link">
             <h2>Our land and infrastructure</h2>
            <p>We can help if your development affects our land and infrastructure</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches?intcmp=3493" >
        
        
        <div class="text-link">
             <h2>Conveyancing searches</h2>
            <p>Find out if a property could be affected by proposed transport schemes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts?intcmp=17838" >
        
        
        <div class="text-link">
             <h2>Contact us</h2>
            <p>Find out who to speak to if you have any questions</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/strategic-transport-and-land-use-models" class="plain-button">Strategic transport and land-use models</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="/info-for/urban-planning-and-construction/one-road-network" class="plain-button">One Road Network</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Help with transport assessments and conveyancing searches for developments of strategic importance";}
        
            
        


 