
    
  



@{ViewBag.Title = "Our role in planning";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-role-in-planning";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our role in planning</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Our role in planning</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We assess specific types of new development in London
        
      </div>
    
    
      <h2>Spatial planning</h2>

<p>We support the&nbsp;<a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>&nbsp;and deliver good <a href="https://www.london.gov.uk/what-we-do/regeneration/advice-and-guidance/about-good-growth-design#acc-i-52684">growth for London</a>. We do this by helping planning applicants, the rest of TfL, the Greater London Authority (GLA), boroughs, and other stakeholders to combine land use and transport planning.</p>

<p>To do this we:</p>

<ul>
	<li>Promote better <a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">urban design</a>&nbsp;and place-making</li>
	<li>Embed the right transport policies in the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a> and local plans</li>
	<li>Mitigate and improve new development</li>
	<li>Get developer funding for vital transport investment</li>
</ul>

<h2>When to send us your planning application</h2>

<p>We're the highway authority for the Transport for London Road Network (TLRN), also known as&nbsp;<a href="/modes/driving/red-routes">red routes</a>. We're also a property and land owner as well as a transport operator.</p>

<p>Under the <a href="http://www.legislation.gov.uk/uksi/2010/2184/contents/made">Town and Country (Development Management Procedure) (England) Order 2010</a>, we must be consulted on all planning applications that are:</p>

<ul>
	<li>Likely to result in a material increase in the volume, or a material change in the character, of traffic entering or leaving the TLRN</li>
	<li>Likely to prejudice the improvement or construction of the TLRN</li>
	<li>Involving alteration of any means of access to the TLRN</li>
	<li>Consisting of or including the laying out or construction of a new TLRN street</li>
</ul>

<p>Under the <a href="https://www.legislation.gov.uk/ukpga/2004/18/contents">Traffic Management Act 2004</a>, we also have a legal duty to ensure that any development does not have an adverse impact on the Strategic Road Network (SRN).</p>

<p>Our Spatial Planning team should be consulted on all planning applications and policy which may affect TfL assets, services or infrastructure. This includes the <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">generation of new trips</a>&nbsp;on London's walking, cycling, public transport and road networks.</p>

<p>We'll produce and provide a response representing TfL as a whole, across all modes, and work with you to minimise and mitigate transport impacts.</p>

<h2>Developments of strategic importance</h2>

<p>Some planning applications in London are automatically submitted to us by either the Greater London Authority (GLA) or borough. We then help them understand how these planning applications are likely to affect transport before they are determined by the Mayor.</p>

<p>The <a href="http://www.legislation.gov.uk/uksi/2008/580/contents/made">Town Country Planning (Mayor of London) Order 2008</a> defines three&nbsp;categories of new development which, because of their strategic importance to London, must be referred to the Mayor:</p>

<ul>
	<li>
	<p>Category 1: large-scale development</p>
	</li>
	<li>
	<p>Category 2: major infrastructure</p>
	</li>
	<li>
	<p>Category 3: developments that may affect strategic policies</p>
	</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/referable-criteria-mayor-london-order.pdf">
    <div class="document-download-text">
        <p>Categories for referable criteria (Mayor of London Order 2008)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h2>Our teams</h2>

<p>We're split into four geographical area teams and a Planning Obligations team. See the managers and boroughs for each area:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/spatial-planning-area-team-map.pdf">
    <div class="document-download-text">
        <p>Spatial Planning area team map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 469KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/area-team-map.jpg" alt="Team area map" />
    </div>

</a>

<!-- 0.46 -->
 
</div>
<p>A case officer is assigned when we receive your planning application or policy consultation. You only need to take action if we ask for further information about transport in your proposals.</p>

<h2>Find out more about our role</h2>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://tfl.gov.uk/info-for/urban-planning-and-construction/urban-planning-and-construction-resources?intcmp=57272" >
        <img src="/cdn/static/cms/images/promos/cycling-in-walthamstow_rdax_400x200.jpg" alt="picture of bicycles in walthamstow" />
        
        <div class="text-link">
             <h2>Use our resources</h2>
            <p>Check our resources to help you plan your development</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage?intcmp=9592" >
        <img src="/cdn/static/cms/images/promos/walk-development_rdax_400x200.jpg" alt="View along a walk with sculptures and plant and houses each side" />
        
        <div class="text-link">
             <h2>Design and heritage</h2>
            <p>Find out how we promote good urban design practice in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/urban-design/heritage-advice?intcmp=30743" >
        
        
        <div class="text-link">
             <h2>Heritage advice</h2>
            <p>We're responsible for many heritage assets and can give you advice</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy?intcmp=3490" >
        
        
        <div class="text-link">
             <h2>Mayoral Community Infrastructure Levy</h2>
            <p>Our role with the Mayor's Community Infrastructure Levy (MCIL)</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing?intcmp=57471" >
        
        
        <div class="text-link">
             <h2>Policy influencing</h2>
            <p>Find out how we input into the London Plan and local policymaking</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas?intcmp=57477" >
        
        
        <div class="text-link">
             <h2>Growth areas</h2>
            <p>We manage work on growth areas and promote best practice</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services?intcmp=3487" >
        
        
        <div class="text-link">
             <h2>Pre-application services</h2>
            <p>Our services ensure your planning application fits with key priorities</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/modelling?intcmp=57480" >
        
        
        <div class="text-link">
             <h2>Modelling</h2>
            <p>We can help you carry out modelling for your new development</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/planning-applications/interchange?intcmp=16104" >
        
        
        <div class="text-link">
             <h2>Interchange</h2>
            <p>Better public transport interchange hubs enable improved journeys</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets Toolkit</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.london.gov.uk/" class="plain-button">Mayor of London</a>
<a href="https://boroughs.tfl.gov.uk/tfl/login.aspx" class="plain-button">Boroughs extranet</a>
<a href="https://www.gov.uk/government/topics/planning-and-building" class="plain-button">Gov.uk</a>
<a href="http://www.oneroadnetwork.org/" class="plain-button">One Road Network</a>
<a href="http://www.legislation.gov.uk/" class="plain-button">Legislation.gov.uk</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our role in planning and how we assess specific types of new development in London";}
        
            
        


 