
    
  



@{ViewBag.Title = "Our land and infrastructure";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/our-land-and-infrastructure";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our land and infrastructure</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Our land and infrastructure</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults?intcmp=3514"  data-img="/cdn/static/cms/images/promos/roadworks.jpg" data-img-breakpoint="medium" data-img-alt="Construction workers directing a lorry out of a construction site whilst traffic is stopped">
    <img src="/cdn/static/cms/images/promos/roadworks_rdax_600x300.jpg" alt="Construction workers directing a lorry out of a construction site whilst traffic is stopped" />
    <div class="text-link sit-top">
      <h2>Roadworks and street faults</h2>
      <p>See how we manage roadworks, street and traffic light faults in London</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>We can help if your new development affects our land and infrastructure. This includes disruption to public transport and roads, or accessing places where many types of transport come together.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches?intcmp=3493" >
        <img src="/cdn/static/cms/images/promos/x001-00096-construction-workers_rdax_400x200.jpg" alt="Conveyancers at work" />
        
        <div class="text-link">
             <h2>Conveyancing searches</h2>
            <p>Find out if a property could be affected by proposed transport schemes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/lane-rental-scheme?intcmp=31029" >
        
        
        <div class="text-link">
             <h2>Lane rental scheme</h2>
            <p>The Scheme applies a daily charge to reduce occupation on highways</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/new-roads-and-street-works-act?intcmp=3499" >
        
        
        <div class="text-link">
             <h2>New roads and street works act</h2>
            <p>The act provides a legal framework for street and highway works</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences?intcmp=3496" >
        <img src="/cdn/static/cms/images/promos/redroutesonroad_rdax_400x200.gif" alt="Red routes on a road" />
        
        <div class="text-link">
             <h2>Highway licences</h2>
            <p>How to apply for a highway licence on red routes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/london-underground-and-rail-protection?intcmp=38537" >
        
        
        <div class="text-link">
             <h2>London Underground and rail protection</h2>
            <p>What to do if you want to carry out work near London Underground stations</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "We can help if your new development affects our land and infrastructure. This includes disruption to public transport and roads, or accessing places where many types of transport come together";}
        
            
        


 