
    
  



@{ViewBag.Title = "Planning and construction contacts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planning and construction contacts</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Planning and construction contacts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out who to contact if you're carrying out work near our assets, services or infrastructure.
        
      </div>
    
    
      <h2>Carrying out works affecting our railways</h2>

<p>If you are carrying out works next to London Underground or DLR:</p>

<ul>
	<li>Email <a href="mailto:smblocationenquiries&#64;tfl.gov.uk">smblocationenquiries&#64;tfl.gov.uk</a></li>
</ul>

<p>If you are carrying out works next to London Overground:</p>

<ul>
	<li>Email <a href="mailto:loip&#64;tfl.gov.ukIf">loip&#64;tfl.gov.uk</a></li>
</ul>

<p>If&nbsp;you are carrying out works next to Trams:</p>

<ul>
	<li>Email <a href="mailto:ltplanninganddevelopment&#64;tfl.gov.uk">ltplanninganddevelopment&#64;tfl.gov.uk</a></li>
</ul>

<h2>Carrying out works affecting our highways</h2>

<p>We issue highway licences on red routes for items such as scaffolds and skips. You may have to pay and the processing time may be at least six weeks. Local authorities can license other items like cafe seating, but only if we agree.</p>

<ul>
	<li>&nbsp;Visit our <a href="https://tfl.gov.uk/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences">highway licences</a> page</li>
	<li>Email <a href="mailto:assetoperationslicensing&#64;tfl.gov.uk">assetoperationslicensing&#64;tfl.gov.uk</a> if necessary</li>
</ul>

<p>For lane rental on the Transport for London Road Network (TLRN):</p>

<ul>
	<li>Email <a href="mailto:lanerentalqueries&#64;tfl.gov.uk">lanerentalqueries&#64;tfl.gov.uk</a></li>
</ul>

<p>For lane rental funding:</p>

<ul>
	<li>Email <a href="mailto:lanerentalfunding&#64;tfl.gov.uk">lanerentalfunding&#64;tfl.gov.uk</a></li>
</ul>

<p>For a licence under Section 50 of the New Roads and Street Works Act 1991:</p>

<ul>
	<li>Email <a href="mailto:section50&#64;tfl.gov.uk">section50&#64;tfl.gov.uk</a></li>
</ul>

<p>For questions about restrictions on road and street works:</p>

<ul>
	<li>Email <a href="mailto:s58waiver&#64;tfl.gov.uk">s58waiver&#64;tfl.gov.uk</a></li>
</ul>

<p>For street works by utility companies that restrict movement on a red route:</p>

<ul>
	<li>Email <a href="mailto:rputilitytrafficorders&#64;tfl.gov.uk">rputilitytrafficorders&#64;tfl.gov.uk</a></li>
</ul>

<p>For street works affecting streets registered as Street of Engineering Difficulty or Street of Interest:</p>

<ul>
	<li>Email<a href="mailto: lulcedip&#64;tfl.gov.uk"> lulcedip&#64;tfl.gov.uk</a></li>
</ul>

<h2>Reporting faults</h2>

<p>You can <a href="https://tfl.gov.uk/help-and-contact/report-roadworks">report a problem </a>with a roadworks site so we take action or tell the local Highway Authority.</p>

<p>You can <a href="https://tfl.gov.uk/help-and-contact/contact-us-about-streets-and-other-road-issues">report general street faults</a> including problems with traffic lights.</p>

<h2>Planning Applications</h2>

<p>When planning works that could affect TfL you may need to contact us.</p>

<p>For pre-application services, planning applications, planning policy, urban design and growth areas:</p>

<ul>
	<li>Email <a href="mailto:spatialplanning&#64;tfl.gov.uk">spatialplanning&#64;tfl.gov.uk</a></li>
</ul>

<p>For Section 278 agreements for highway works on the Transport for London Road Network (TLRN):</p>

<ul>
	<li>Email <a href="mailto:section278team&#64;tfl.gov.uk">section278team&#64;tfl.gov.uk</a></li>
</ul>

<p>Planning applications for works adjacent to TfL property or assets</p>

<ul>
	<li>Email <a href="mailto:railwaysearches&#64;tfl.gov.uk">railwaysearches&#64;tfl.gov.uk</a></li>
	<li>Email <a href="mailto:highwaysearches&#64;tfl.gov.uk">highwaysearches&#64;tfl.gov.uk</a></li>
</ul>

<p>Planning applications for works that may affect London Underground or DLR rail assets or operations</p>

<ul>
	<li>Email <a href="mailto:smblocationenquiries&#64;tfl.gov.uk">smblocationenquiries&#64;tfl.gov.uk</a></li>
</ul>

<p>Planning applications for works that may affect London Overground:</p>

<ul>
	<li>Email <a href="mailto:loip&#64;tfl.gov.uk">loip&#64;tfl.gov.uk</a></li>
</ul>

<p>Planning applications for works that may affect Trams:</p>

<ul>
	<li>Email <a href="mailto:ltplanninganddevelopment&#64;tfl.gov.uk">ltplanninganddevelopment&#64;tfl.gov.uk</a></li>
</ul>

<h2>Ownership enquiries</h2>

<p>Conveyancing searches find out if a property might be affected by existing or proposed rail and highway transport schemes. We can advise you on land ownership for sites affected by the Elizabeth Line (Crossrail), TfL Rail, and other rail:</p>

<ul>
	<li>Email <a href="mailto:railwaysearches&#64;tfl.gov.uk">railwaysearches&#64;tfl.gov.uk</a></li>
	<li>Email <a href="mailto:highwaysearches&#64;tfl.gov.uk">highwaysearches&#64;tfl.gov.uk</a></li>
</ul>

<p>Enquiries about locations of buried TfL assets</p>

<ul>
	<li>Email <a href="mailto:smblocationenquiries&#64;tfl.gov.uk">smblocationenquiries&#64;tfl.gov.uk</a></li>
	<li>Email <a href="mailto:loip&#64;tfl.gov.uk">loip&#64;tfl.gov.uk</a></li>
	<li>Email <a href="mailto:ltplanninganddevelopment&#64;tfl.gov.uk">ltplanninganddevelopment&#64;tfl.gov.uk</a></li>
</ul>

<h2>Construction logistics plans</h2>

<p>Construction Logistics Plans (CLPs) are expected as a chapter in Healthy Streets <a href="https://tfl.gov.uk/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a>. For questions about CLPs:</p>

<ul>
	<li>Read our <a href="http://content.tfl.gov.uk/construction-logistics-plan-guidance.pdf">CLP guidance</a></li>
</ul>

<h2>Healthy streets check for designers</h2>

<p>For questions about a <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets </a>check for designers or to submit one for us to review and approve</p>

<ul>
	<li>Email <a href="mailto:healthystreetsengineering&#64;tfl.gov.uk">healthystreetsengineering&#64;tfl.gov.uk</a></li>
</ul>

<h2>Heritage advice</h2>

<p>For advice about heritage assets we're responsible for:</p>

<ul>
	<li>Email <a href="mailto:spatialplanning&#64;tfl.gov.uk">spatialplanning&#64;tfl.gov.uk</a> with 'heritage' in the subject line</li>
</ul>

<h2>Safety audits</h2>

<p>For guidance on how to carry out a safety audit and appropriate safety auditors:</p>

<ul>
	<li>Email <a href="mailto:tflsafetyaudit&#64;tfl.gov.uk">tflsafetyaudit&#64;tfl.gov.uk</a></li>
</ul>

<h2>Strategic modelling</h2>

<p>For London's strategic transport models:</p>

<ul>
	<li>Email <a href="mailto:strategicmodelling&#64;tfl.gov.uk">strategicmodelling&#64;tfl.gov.uk</a></li>
</ul>

<h2>WebCAT</h2>

<p>For the WebCAT connectivity assessment toolkit which includes public transport access levels (PTAL) and journey time mapping:</p>

<ul>
	<li>Email <a href="mailto:webcat&#64;tfl.gov.uk">webcat&#64;tfl.gov.uk</a></li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources" class="plain-button">Planning and construction resources</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out who to contact if you're thinking about carrying out works near one of our rail systems. ";}
        
            
        


 