
    
  



@{ViewBag.Title = "Apply for a taxi driver licence";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apply for a taxi driver licence</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apply for a taxi driver licence</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Taxis can be hailed in the street and asked to go anywhere, so you will need to have a thorough knowledge of London. This is why you must learn and pass the world-famous Knowledge.
        
      </div>
    
    <div class="on-this-page">
      <p>Our new online process makes applying and renewing taxi and private hire licences quicker and easier. As part of the ongoing modernisation of our taxi and private hire licensing service, you can now create an online account. This means that if you're a taxi and private hire driver, or applicant, you can apply for or renew and existing licence and track its progress during the application process.</p>
      
           
      
<div>



<h2>How to apply</h2>


<p>If you wish to apply, you can <a href="https://tph.tfl.gov.uk/TfL/register.page?org.apache.shale.dialog.DIALOG_NAME=contactus&amp;displayName=Multi&amp;DocTypeCode=urn:www.civica.co.uk:doctypes:TFLREG&amp;menuId=4">start your application by registering online</a>. Details of the criteria to be met can be found below.</p>
<p>You will be asked to provide some personal details so we can create an account for you and allow you to complete your online application or request an application pack. </p>
<p>As part of your application, you will need to provide a photograph of yourself. See our "Photo guidance" about the type of photograph we will accept.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-guidance.pdf">
    <div class="document-download-text">
        <p>Photo guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 
<div>




<p>Alternatively, please call us on 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or <a href="mailto:tph.enquiries&#64;tfl.gov.uk ">email us</a> to request an application pack.</p>

<p>If you have ever lived in a country other than the UK for one or more continuous periods of three months please download the "Living and working abroad" form and submit this with your application.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-living-and-working-abroad-form.pdf">
    <div class="document-download-text">
        <p>Living and working abroad form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>
<p>Before you can start learning the Knowledge, you need to apply to be a licensed taxi driver and have your application approved.
</p>
<p>The time it takes to become a licensed driver depends on whether
you choose to learn the All-London Knowledge or a Suburban sector.
</p>
<p>To apply for a licence, you will need to meet the following criteria:
</p>
<ul>
    <li>You must be at least 18 years old at the time of applying
    (although you cannot be licensed until you are 21 years old). There
    is no upper age limit, as long as you meet the other licensing
    requirements </li>
    <li>You must hold a full DVLA, Northern Ireland, or other European Economic Area state
    driving licence</li>
    <li>You must have the right to live and work in the UK </li>
</ul>
<p>You must meet our character and medical requirements. </p>
<h2>Character requirements</h2>
<p>You must be of good character. To establish this you will be required to undertake an 'enhanced' criminal records check from the Disclosure and Barring Service (DBS) through our service provider - <a href="https://gbg.onlinedisclosures.co.uk/Registration/Registration">GBGroup</a> </p>
<p>The Disclosure and Barring Service (DBS) has an <a href="http://content.tfl.gov.uk/dbs-update-service-leaflet-and-information.pdf">online subscription service</a> that lets applicants keep their DBS certificates up to date.</p>
<h2>Medical requirements</h2>
<p>You must be medically fit which means meeting the <a href="https://www.gov.uk/current-medical-guidelines-dvla-guidance-for-professionals">DVLA Group 2 medical standards</a>. In most cases, this will mean that you will have to undergo a medical examination with someone who has access to your full medical history</p>
</div>
 
<h2>How much will my application cost?</h2>
<p>Payment can be made via all major credit or debit cards by completing the appropriate section in the application form. Other payment options are available via the Post Office&reg; 'Check and Send' service. </p>
<p>The table below highlights the typical cost of an application. However, some costs may vary.</p>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td>DBS disclosure application</td>
			<td>&pound;52 (online)<br />
			&pound;54 (paper)</td>
		</tr>
		<tr>
			<td>Licence application fee (non-refundable)</td>
			<td>&pound;120</td>
		</tr>
		<tr>
			<td>Grant of licence fee</td>
			<td>&pound;180</td>
		</tr>
		<tr>
			<td>Knowledge of London written examination<br />
			(All London only)</td>
			<td>&pound;200</td>
		</tr>
		<tr>
			<td>Knowledge of London appearance<br />
			(One off payment)</td>
			<td>&pound;400</td>
		</tr>
		<tr>
			<td>DSA Hackney Carriage driving test (payment to DSA)</td>
			<td>&pound;92.94 (normal hours)<br />
			&pound;112.34 (evenings and Saturdays)<br />
			&pound;50 (wheelchair test only)</td>
		</tr>
		<tr>
			<td>Post Office&reg; Check and Send</td>
			<td>&pound;7.15</td>
		</tr>
		<tr>
			<td>Medical assessment<br />
			(Payable to your GP who can advise you of the cost)</td>
			<td>&pound;80 (approximately)</td>
		</tr>
	</tbody>
</table></div>

    

 




 
<div class="module-grid clearfix">

</div>
 <div>

<h2>Equal opportunities</h2>
<p>Becoming a licensed taxi or private hire driver is open to all. If
you're a disabled person and interested in becoming a driver, there are
some things to consider.</p>
<p>We try to ensure that everyone has an equal opportunity to get
through the application and assessment process. However, there are some
medical conditions that, for public safety reasons, will mean you can't
be licensed, so it is important that you discuss your situation with
your GP before you apply. For full information on medical guidelines
please refer to the <a href="https://www.gov.uk/current-medical-guidelines-dvla-guidance-for-professionals">DVLA Group 2 guidelines</a>.</p>
<p>Some licensed taxis and private hire vehicles have modifications made to them to enable people to drive them.
</p>
<p>Vehicle adaptations include:
</p>
<ul>
    <li>Steering wheel ball </li>
    <li>Hand-operated braking controls </li>
    <li>Hand-operated accelerator controls</li>
    <li>Reconfigured foot pedal controls </li>
    <li>Infra-red control panel for operating vehicle lights, indicators and horn </li>
</ul>
<p>Drivers who use vehicle adaptations will need to be assessed by a
medical professional and driver assessor. They will recommend what
adaptations are needed and exactly what equipment must be fitted to
ensure the driver has full control of the vehicle at all times.
</p>
<p>The recommended adaptations and equipment must be fitted by an
authorised motability installer. Documentary evidence that the installer
is authorised is required. Before you have any equipment fitted or
adaptations made to your vehicle, you should first contact our licensing
team.</p>
<h2>Convictions and exemptions</h2>
<h3>Disclosure and Barring service check</h3>
<p>
If you  have completed a enhanced disclosure including both barred lists under the workforce code of 'Other' in a relevant occupation, in the last four months, you are exempt for requiring a further check.</p>
<h3>Medical</h3>
<p>Applicants are exempt from completing a medical form as part of their application if they:</p>
<ul>
    <li>Hold a DVLA Group 2 licence (full or a provisional licence issued since January 1998)</li>
    <li>Have an active application with us, have completed our medical and are under the age of 45</li>
</ul>
Active applicants or existing licensees must have a medical exam if over the age of 45 and the last medical was done more than three years ago, or you're subject to providing an age-related medical.
<br />
<br />
To apply for any of the above exemptions please <a href="mailto:tphenquiries&#64;tfl.gov.uk ">email us</a> stating the exemption you wish to apply for. We will email you the correct form.
<p> </p>
<h3>Convictions</h3>
If you have any of the following convictions, it's unlikely that your application will be successful. Before submitting an application, please consider: <br />
<ul>
    <li>Any conviction for a major violent offence (murder, manslaughter etc)</li>
    <li>Whether you have more than one conviction of any type of violent offence in the last 10 years</li>
    <li>If you are still serving a custodial sentence, even if you have been released early on licence or the sentence was suspended</li>
    <li>If you have been convicted, cautioned or subjected to any other penalty for a serious sexual offence (rape, indecent assault, trafficking, possession of indecent images etc)</li>
    <li>Whether you have been convicted, cautioned or subjected to any other penalty for more than one sexual offence of any type, irrespective of age</li>
    <li>Whether you are listed on either the Children's or Adults' barred list</li>
    <li>If you have been convicted, cautioned or subjected to any other penalty for touting in the last 12 months or have more than one penalty for touting in the last five years</li>
</ul>
Please be advised that this is not an exhaustive list, licensing decisions are made on a case by case basis.
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to become a licensed taxi driver";}
        
            
        


 