
    
  



@{ViewBag.Title = "Apply for a taxi vehicle licence";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apply for a taxi vehicle licence</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apply for a taxi vehicle licence</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Taxis (black cabs) need to have a taxi vehicle licence from us before they can be used as a working taxi.
        
      </div>
    
    <div class="on-this-page">
      <p>If you are not already a licensed taxi driver, to become the <a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">licence holder for one or more taxis </a>, you must prove you are a fit and proper person. </p>
      
           
      
<div>



<h2>Vehicle licence criteria</h2>


<p>In order to apply for a licence the vehicle must meet the following criteria:</p>

<ol>
	<li>All new vehicles or vehicles new to licensing must as a minimum meet the Euro 6 standards for emissions at time of licensing - from <strong>1 January 2018</strong> all taxis presented for licensing for the first time <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-taxis" id="55935">must be zero emissions capable</a></li>
	<li>Vehicles already licensed by us must be less than 14 years old at time of licensing</li>
	<li>The vehicle must meet the design standards set out in our <span class="filetype-pdf new-window">conditions of fitness document. Please read "Taxi - conditions&nbsp;of fitness", which can be found on our <a href="/corporate/publications-and-reports/taxi-and-private-hire">Legislation and policy page</a>.</span></li>
	<li>All taxis must have a <span class="filetype-pdf new-window">taxi meter. For further details please see our document "Taximeter specification" on our <a href="/corporate/publications-and-reports/taxi-and-private-hire">Legislation and policy page</a>.</span></li>
	<li><span class="filetype-pdf new-window">All taxis must have the facility to accept card and contactless payments via an approved fixed card payment device installed in the passenger compartment, which must be&nbsp;capable of producing a printed receipt on demand</span></li>
</ol>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>



<h2>Booking your taxi vehicle inspection</h2>


<p>You must make a booking to have your vehicle inspected. The method through which you book your vehicle inspection will depend on the licensing and ownership status of your vehicle.</p>

<p>New to licensing:</p>

<ul>
	<li>If you are the owner or registered keeper of a ZEC taxi that has never been licensed in London and wish to make a booking online, you will either need to <a href="https://tph.tfl.gov.uk/TfL/home.page">create an online account</a> or use your existing account if you already have one.</li>
	<li>You can also book your inspection by calling 0343 222 5555 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>)</li>
	<li>During the booking process, you will need to provide information about your vehicle. Please ensure you have your V5/log book readily available for this.</li>
</ul>

<p>Renewals:</p>

<ul>
	<li>You can book your inspection by calling 0343 222 5555 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>) or if you are the owner or registered keeper of a single vehicle you can <a href="https://tph.tfl.gov.uk/TfL/home.page">book your inspection slot through your online account</a>.</li>
	<li>If you have applied or renewed your Taxi driver licence online, you will have an online account already set up. Please log in to your account and your vehicle licence will already be listed under the vehicle or licences section. You do not need to create another account.</li>
	<li>If you cannot see your vehicle licence through your online account please call 0343 222 5555.</li>
	<li>If you do not already have an existing online account you can create one by going to our <a href="https://tph.tfl.gov.uk/TfL/home.page">account page</a>. You will be required to provide unique information regarding your vehicle licence which can be found on your renewal letter or obtained by calling 0343 222 5555.</li>
</ul>

<p>Restests and Refunds</p>

<ul>
	<li>If you would like to book a retest (within 28 days of the first inspection) you can do so by calling 0343 222 5555 or using your online account.</li>
	<li>If you would like to request a partial refund you need to call 0343 222 5555</li>
</ul>

<p>Documents required at your inspection:</p>

<p>You will need the following original documents as they need to be presented when you take your vehicle in for inspection:</p>

<ol>
	<li>Vehicle Registration Certificate (V5) or new keeper supplement slip. Or if recently purchased, a bill of sale and V5C/2 is required</li>
	<li>Certificate of insurance (must be displayed in the vehicle)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li>The existing&nbsp;taxi licence including plates (if applicable)</li>
	<li>Emission equipment - fitment sign off declaration where applicable</li>
	<li>Vehicle Excise Licence (road tax)</li>
	<li>Certificate of Taximeter Installation issued within 30 days of licensing inspection</li>
	<li>Any relevant document relating to the vehicle as appropriate, including any modification certificate and information relating to chassis/body replacement if applicable</li>
	<li>An MOT certificate issued within the last 14 days</li>
</ol>
<div class="multi-document-download-container">
    
</div>

</div>
 

        <h2>Fees for vehicle inspections
        </h2>
        <p>Vehicle licences are issued for a period of 12 months.</p>
    
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Application fee</td>
            <td>&pound;66 (non refundable)</td>
        </tr>
        <tr>
            <td>Grant of licence fee<br />
            </td>
            <td>&pound;44 <br />
            </td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<p>If you need to get your vehicle re-tested, you can do that free at one of our centres within 28 days.</p>
<p>If you are ready to book your taxi in for an inspection, you can:
</p>
<ul>
    <li><strong>Phone:</strong> 0343 222 5555 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) </li>
</ul>
<p>
Call the number above if the taxi fails the
first inspection and re-inspection and you would like to request a partial refund of the licence fee.</p>

 
<div>



<h2>Exemptions</h2>


<p>To comply with air quality standards, all taxis must be within a certain age limit to be licensed. Since&nbsp;1 November 2019 all taxi age limit exemptions have been removed except for the&nbsp;disabled driver adaptation exemption. TfL will retain the general discretion to grant exemptions in exceptional circumstances, where we consider it reasonable to do so. This includes personal circumstances. All applications for an exemption will be assessed on a case-by-case basis. Find out more about the disabled driver adaptation exemption here:</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>





        <h3>Age limit exemption forms</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-disability-age-limit-exemption-form.pdf">
    <div class="document-download-text">
        <p>Disabled driver adaptations exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 435KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 
</div>

</div>
 
<div>




<h3>Additional information </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vehicle-licence-inspection-manual-v19.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire vehicle licensing inspection manual</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 321KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nsl-inspection-sites-address-list.pdf">
    <div class="document-download-text">
        <p>NSL inspection site addresses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 540KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to get taxi vehicle licence";}
        
            
        


 