
    
  



@{ViewBag.Title = "Existing licensee";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/existing-licensee";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Existing licensee</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Existing licensee</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As a licensee there are certain obligations that require you to notify us of any changes in your status, details of these were included with your licence. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<p>You can call us on 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) to:</p>

<ul>
	<li>Check the progress of your application or renewal</li>
	<li>Change your name or address</li>
	<li>Inform us of a change in your medical health</li>
	<li>Apply for an exemption</li>
	<li>Request a replacement licence</li>
	<li>Notify us of any convictions, cautions or charges</li>
</ul>

<p>If you wish to:</p>

<ul>
	<li>Change your vehicle details</li>
	<li>Book your vehicle inspection</li>
</ul>

<p>Please phone us on 0343 222 5555 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>

<h2>Renewing your driver's licence</h2>

<p>To ensure your licence is renewed in good time, we now issue all application packs four months before the expiry date.</p>

<p>Once you receive the form from us, please apply to the Disclosure and Barring Service (DBS) for a criminal records check. We also recommend that you also register with the DBS Update service to prevent any further delays in the future: subscribers to this service won't be required to apply for a new&nbsp;check when renewing their licence, which eliminates the risk of delays in the processing of applications. This also saves money on the cost of a new DBS check. A&nbsp;new DBS check&nbsp;will only be required where a change has occurred. More details about the DBS Update Service are available on our <a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a> page.</p>

<p>As part of your application you will need to provide a recent photograph of yourself. This will appear on your renewed taxi or private hire driver licence. See our "Photo guidance" about the type of photograph we will accept.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-guidance.pdf">
    <div class="document-download-text">
        <p>Photo guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 <div>

<p>We recommend that you make your renewal application using our new online functionality. You will need to <a href="https://tph.tfl.gov.uk/TfL/register.page?org.apache.shale.dialog.DIALOG_NAME=contactus&amp;displayName=Multi&amp;DocTypeCode=urn:www.civica.co.uk:doctypes:TFLREG&amp;menuId=4">start your application by registering online</a>.</p>

<p>You will be asked to provide some personal details so we can create an account for you and link your licence to your account. To do this, you will need to enter the online registration details that are provided within your renewal application pack.</p>

<p>The new online process makes its quicker and easier to apply for both new and renewal driver licences. It also provides functionality for you to track your application.</p>

<p>Alternatively you can complete the postal pack and post it to us using the envelope provided. When applying by post:</p>

<ul>
	<li>Check the details on the form and change any detail that is incorrect</li>
	<li>Please ensure that you provide an email address so that we can provide updates more quickly</li>
	<li>Ensure you provide&nbsp;your DVLA Share Code</li>
	<li>Sign the declaration</li>
</ul>

<p>Please post your completed application to us at the earliest opportunity.</p>

<p>We also require you to:</p>

<ul>
	<li>Return your old licence to us within seven days of it expiring</li>
	<li>Private Hire drivers are also required to return their PHV badge</li>
</ul>

<h2>Late Renewals</h2>

<p>If a driver submits a renewal application after the expiry of the previous licence there will be no guarantee of the immediate issue of a new licence.&nbsp; The driver will have to wait until all processes, including the return of a satisfactory DBS check, have been completed.*&nbsp;<br />
The new licence will take effect from the date of issue.&nbsp; It will not take effect from the date of expiry of the preceding licence or the date of application.<br />
Any driver applying to renew their licence <strong>more than three months </strong>after the expiry of the preceding licence will be treated as a new applicant.&nbsp; This may require the driver to obtain a new medical examination and fulfil the new driver application requirements. A new licence will not be issued until all necessary checks have been completed.<br />
Any driver who submits a renewal application after the expiry of their licence will no longer be licensed and cannot work until a new licence is issued.<br />
<br />
*For taxi drivers who have submitted a <strong>complete</strong> application, section 17(7) of the Transport Act 1985 <strong>may</strong> be applicable.</p>

<h2>Drivers working after the expiry of their licence</h2>

<p>It is an offence for a Taxi or PHV driver to work without a valid licence and any driver that continues to work after their licence has expired is also likely to invalidate hire and reward insurance.</p>

<p>If a driver is found working after their licence has expired, they will be reported for the appropriate offence and may be prosecuted. Regardless of whether any prosecution follows, this information will be considered when assessing any subsequent renewal or new application.</p>

<h2>Reporting lost, stolen or damaged licence parts</h2>

<p>You need to have your badge/ID, licence, and if you are a taxi driver your identifiers&nbsp;with you at all times in order to work. If any of these are lost, stolen or damaged, you must inform us immediately. If part of your licence is stolen, you must also&nbsp;report this to the police, who will provide you with a crime reference number.</p>

<p>You can call us on 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) to request a replacement if any of your licence parts have been stolen (crime reference number to be provided), lost or damaged.</p>

<p>Please note that the fee for a replacement taxi (black cab) driver brass badge is &pound;15. The payment can be made with a credit or debit card over the phone. We will update your licences with your new badge number, and your replacement badge and new licence parts will be sent to you by post. Please return your previous licence parts upon receipt of your replacement.</p>

<p>Previous licence parts can be surrendered to:</p>

<p>London Taxi and Private Hire<br />
PO Box 177<br />
Sheffield<br />
S98 1JY</p>

<h2>Surrendering private hire vehicle licences</h2>

<p>If you buy a vehicle that has been licensed by us as a private hire vehicle and you are not using it for that purpose, OR if you are selling a TfL licensed private hire vehicle that will no longer be used for private hire&nbsp;purposes, you must return the licence discs found on the front and rear windscreen, as well as the paper vehicle licence to TfL.</p>

<p>You&nbsp;must return the licence discs and paper licence to this address:</p>

<p>London Taxi and Private Hire<br />
PO Box 177<br />
Sheffield<br />
S98 1JY</p>

<h2>Private hire operators</h2>

<p>Visit&nbsp;our <a href="/info-for/taxis-and-private-hire/existing-licensee/existing-private-hire-operator">web page&nbsp;for existing private hire operators</a>.</p>

<h2>MOT checker</h2>

<p>All taxis and private hire vehicles, that are more than 12 months old (from date of manufacture) at the point of licensing, are required to pass two MOT tests a year as a condition of continued annual licensing. One of these MOTs must be completed no more than 14 days prior to the date of the annual licensing inspection.</p>

<p>The first MOT certificate must relate to an examination of the vehicle which took place not more than 14 days before the end of the day on which the vehicle was presented for licensing (the day of presentation being regarded as "Day 1" for those purposes).&nbsp; For example, if your vehicle is booked into one of our inspection centres for 14 March 2019 then your MOT certificate must be dated between 1 and 14 March 2019. We are unable to accept certificates that are older than this.</p>

<p>For the mid-year MOT the certificate should be dated within 14 days of the six month anniversary of the licence start date. The second MOT certificate must relate to an examination of the vehicle which took place not more than 14 days before the end of the six month anniversary of the date of start of the licence (the day of the six month anniversary being regarded as "Day 1" for the purposes of that requirement).&nbsp; For example, if the licence start date is 14 March 2019 then the MOT must be dated between 1 and 14 September 2019. We cannot accept mid-year MOT certificates if the date is prior to 1 September 2019.</p>

<p>The licence start date is specified on the paper licence issued when the vehicle passes our annual inspection.</p>

<p>We give a reminder note at inspection centres. It's your responsibility to ensure the vehicle you're driving is up to date. <a href="https://vehicleenquiry.service.gov.uk/" target="_parent">Check your vehicle's MOT status online</a>.</p>

<h2><a name="parking2"></a>Idling engines</h2>

<p>Idling engines contribute to air pollution problems in London. Running the engine while your vehicle is stationary pollutes the environment and is illegal on a public road.</p>

<p>When you keep a vehicle's engine idling it can produce nearly twice as much exhaust emissions as it does while moving. This affects the quality of our air.</p>

<h3>Engine idling and the law</h3>

<p>It is illegal to leave your engine running when stationary and you could also risk a fixed penalty notice, under the Road Traffic (Vehicle Emissions) (Fixed Penalty) (England) Regulations 2002.</p>

<p>It is not illegal to have an idling vehicle engine if you are:</p>

<ul>
	<li>Waiting at traffic lights</li>
	<li>Moving slowly through congestion</li>
	<li>Getting a repair or defrosting a windscreen</li>
</ul>

<p>Our compliance officers regularly advise drivers of idling taxi or private hire vehicles to move on or switch off their engine.</p>

<h3>What to do</h3>

<ul>
	<li>If stationary and waiting more than a couple of minutes for a customer, switch your engine off to avoid idling</li>
	<li>Restarting an engine causes less pollution and uses less fuel than keeping the engine idling. Modern batteries don't need as much engine time to remain charged</li>
	<li>Avoid an idling engine and you'll help to lower air pollution, improve air quality and save yourself money on fuel</li>
	<li>Our <a href="/info-for/taxis-and-private-hire/parking-information">parking information</a> page has more details about where taxi and private hire drivers can wait for customers</li>
</ul>

<h2>Space saver tyres</h2>

<p>Space saver wheels are designed for temporary use, to get you a place of repair. You must get the original car tyre repaired or replaced as soon as possible. If the puncture occurs during a journey that is local and does not entail motorway driving, then you may use a space saver tyre to complete that journey as long as you then proceed directly to a place of repair.</p>

<p>Due to the speed restriction (50mph), limited tread (only 3mm from new) and softer rubber compound the distance covered before repair should not be excessive. The continual use of a vehicle fitted with a space saver wheel may bring the vehicle into conflict with Construction &amp; Use regulations.</p>

<h2>Toilet information</h2>

<p>It can be difficult to know where to find public toilet facilities when you're driving. Get more information about where <a href="/help-and-contact/public-toilets-in-london">public toilets</a> are in the key areas of London, including Heathrow and City airports.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/existing-licensee/existing-private-hire-operator">Existing private hire operator</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "As a licensee there are certain obligations that require you to notify us of any changes in your status, details of these were included with your licence. ";}
        
            
        


 