
    
  



@{ViewBag.Title = "Health and wellbeing";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/health-and-wellbeing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Health and wellbeing</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Health and wellbeing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As the licensing authority and regulator for London's taxi and private hire services, we take the health and wellbeing of licensees seriously. We want licensees to feel empowered to seek medical help. In the vast majority of cases, if medical help is sought and treatment is undertaken, it is unlikely that we will need to take licensing action.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Getting help, advice and support</h2>

<p>A range of help and support services are provided by appropriately trained healthcare professionals. We want licensees to feel empowered to seek professional support when necessary, for both their physical and mental health. This page is intended to raise awareness of some of the services, guidance and support that is available.</p>

<h2>Mental health</h2>

<p>All of us face stress and situational / psychological stress at times. There is a difference between a mental illness and mental health issue as detailed below:</p>

<p><strong>Mental illness </strong>(e.g. bipolar disorder, schizophrenia, recurrent depression) is a chronic condition and more severe than a mental health issue; although mental illness can respond very well to treatment, the condition and its symptoms can flare up throughout life.</p>

<p><strong>Mental health issues </strong>(e.g. reactive depression, anxiety, phobias) are transient and generally overcome via internal coping mechanisms as well as external help such as short term medication, social support and counselling.</p>

<p>It is important to be self-aware and spot the early warning signs that you are feeling mentally unwell.</p>

<p>Everyone's experience with mental health is different, so symptoms can vary from person to person. However, there are some common signs to look out for regarding an individual's wellbeing:</p>

<ul>
	<li>Becoming very withdrawn</li>
	<li>Persistently sad or tearful</li>
	<li>More irritated or angry</li>
	<li>Can't sleep or sleeping a lot more</li>
	<li>Feeling of exhaustion</li>
	<li>Loss of appetite</li>
	<li>A sense of hopelessness</li>
	<li>Little interest or pleasure in doing things</li>
	<li>Aches, pains or other physical problems</li>
	<li>Distraction, confusion, lapses in memory</li>
</ul>

<p>The most common mental health issues are anxiety and depression. You can read more about the signs and symptoms here:</p>

<ul>
	<li><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/symptoms/#.XS2r8U1YYeg">Depression</a></li>
	<li><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/anxiety-and-panic-attacks/#.XS2sOU1YYeg">Anxiety</a></li>
</ul>

<h2>Getting help</h2>

<p>The first step, if you are not feeling great, is to seek help and support at the earliest opportunity with your GP. This can provide access to counselling support and may also involve a physical check to ensure there is not an underlying medical issue for your symptoms e.g. poor sleep.</p>

<p><strong>ALL</strong> mental health problems can be helped by:</p>

<ul>
	<li>Support</li>
	<li>Talking therapies</li>
	<li>Medications</li>
</ul>

<p>The prognosis for the vast majority of conditions is very positive with the right help.</p>

<p>You can self-refer yourself to the NHS to access free psychological services via the <a href="http://www.england.nhs.uk/mental-health/adults/iapt/">Improving Access to Psychological Therapies scheme</a>. Using your location, you can <a href="http://www.nhs.uk/Service-Search/Psychological%20therapies%20(IAPT)/LocationSearch/10008">search for your local service</a> before completing the self-referral form.</p>

<h2>Charities and public services</h2>

<p>A number of organisations offer help, support and guidance, including <a href="http://www.mind.org.uk/information-support/guides-to-support-and-services/crisis-services/getting-help-in-a-crisis/?o=10152#.XNP2tE1Ya70">Mind</a> and the <a href="http://www.mentalhealth.org.uk/publications">Mental Health Foundation</a>.</p>

<p>We've compiled a list of charities and public services that can help you and give you guidance or support when you need it most. This list isn't exhaustive and your GP or the NHS can also advise you of further resources that are available.</p>

<ul>
	<li><strong>SANE</strong></li>
</ul>

<p>Website: <a href="http://www.sane.org.uk/home">http://www.sane.org.uk/home</a></p>

<p>Email: <a href="mailto:info&#64;sane.org.uk">info&#64;sane.org.uk</a></p>

<p>Phone: 0300 304 7000. Open every day from 4:30pm to 10:30pm.</p>

<ul>
	<li><strong>Rethink Mental Illness</strong></li>
</ul>

<p>Website: <a href="https://www.rethink.org/about-us">https://www.rethink.org/about-us</a></p>

<p>Email: <a href="mailto:advice&#64;rethink.org">advice&#64;rethink.org</a></p>

<p>Phone: 0300 5000 927</p>

<p>Rethink Mental Illness advise the phone line can get very busy and ask you to check the website first and then contact the team if you still need support.</p>

<ul>
	<li><strong>Mind</strong></li>
</ul>

<p>Website: <a href="https://www.mind.org.uk/">https://www.mind.org.uk/</a></p>

<p>Email: <a href="mailto:info&#64;mind.org.uk">info&#64;mind.org.uk</a></p>

<p>Phone: 0300 123 3393. Open 9am to 6pm Monday to Friday except Bank Holidays (calls charged at local rate).</p>

<p>Mind provide advice and support to empower anyone experiencing a mental health problem. Mind campaign to improve services, raise awareness and promote understanding.</p>

<ul>
	<li><strong>Citizen's Advice Bureau</strong></li>
</ul>

<p>Website: <a href="https://www.citizensadvice.org.uk/">https://www.citizensadvice.org.uk/</a></p>

<p>Phone: 03444 111 444</p>

<p>Citizens Advice has a network of charities offering confidential advice online, over the phone, and in person, for free. The Advice line is open 9am to 5pm, Monday to Friday. The phone line is usually busiest at the beginning and then end of the day.</p>

<ul>
	<li><strong>CALM</strong></li>
</ul>

<p>Website: <a href="https://www.thecalmzone.net/help/get-help/">https://www.thecalmzone.net/help/get-help/</a></p>

<p>Phone: 0808 802 58 58</p>

<p>The helpline is for men in the UK who are down or have hit a wall for any reason, who need to talk or find information and support. It is available 5pm&#45;midnight, 365 days a year.</p>

<p>Free or low cost counselling can also be accessed by using <a href="http://www.southeastlondoncounselling.org.uk/#LowCost">South East London Counselling.</a> Many organisations of the organisations listed operate a means-related sliding scale of fees or ask for a donation.</p>

<ul>
	<li><strong>Age UK</strong></li>
</ul>

<p>Website: <a href="http://www.ageuk.org.uk/london/">https://www.ageuk.org.uk/london/</a></p>

<p>Phone: 0800 678 1602</p>

<p>Age UK London is a regional charity that helps London to love later life by campaigning for older Londoners, working on their behalf, and championing their cause. Working London borough Age UKs, over three hundred older people's organisations across the capital, and the national organisation, Age UK.</p>

<ul>
	<li><strong>Alzheimer's Society</strong></li>
</ul>

<p>Website: <a href="https://www.alzheimers.org.uk">https://www.alzheimers.org.uk</a></p>

<p>Phone: 0330 333 0804</p>

<p>Alzheimer's Society campaigns for change, funds research to find a cure and supports people living with dementia today.</p>

<ul>
	<li><strong>Papyrus Prevention of Young Suicide</strong></li>
</ul>

<p>Website: <a href="http://papyrus-uk.org">https://papyrus-uk.org</a></p>

<p>Phone: 0800 068 4141. Open Mon-Fri 9am to 10pm, weekends and Bank Holidays 2pm to 10pm</p>

<p>Provides confidential support and advice to young people struggling with thoughts of suicide, and anyone worried about a young person through our helpline, HOPELINEUK.</p>

<ul>
	<li><strong>Stress Management Society (SMS)</strong></li>
</ul>

<p>Website: <a href="http://www.stress.org.uk">https://www.stress.org.uk</a></p>

<p>Phone: 0203 142 8650</p>

<p>The Stress Management Society is a non-profit organisation dedicated to helping individuals and companies recognise and reduce stress.</p>

<ul>
	<li><strong>UK Active</strong></li>
</ul>

<p>Website: <a href="http://www.ukactive.com">https://www.ukactive.com</a></p>

<p>Phone: 020 8158 9700</p>

<p>Exists to improve the health of the nation by getting more people, more active, more often. Provides services and facilitates partnerships for a broad range of organisations.</p>

<ul>
	<li><strong>British Weel of YOGA</strong></li>
</ul>

<p>Website: <a href="http://www.bwy.org.uk">https://www.bwy.org.uk</a></p>

<p>Phone: 01529 306851</p>

<p>The British Wheel of Yoga is the largest yoga membership organisation in the UK, committed to promoting a greater understanding of yoga and its safe practice through experience, education, study and training.</p>

<ul>
	<li><strong>Carers UK</strong></li>
</ul>

<p>Website: <a href="https://www.carersuk.org">https://www.carersuk.org</a></p>

<p>Phone: 0808 808 7777</p>

<p>Provide carers with expert advice, information and support. They campaign and innovate to find better ways to reach and support carers.</p>

<ul>
	<li><strong>Cruse Bereavement Care</strong></li>
</ul>

<p>Website: <a href="http://www.cruse.org.uk">www.cruse.org.uk</a></p>

<p>Phone: 0808 808 1677</p>

<p>Cruse Bereavement Care is committed to being a diverse and inclusive charity that is accessible to all sections of society. Offering telephone, face-to-face and group support.</p>

<ul>
	<li><strong>British Nutrition Foundation</strong></li>
</ul>

<p>Website: <a href="http://www.nutrition.org.uk">www.nutrition.org.uk</a></p>

<p>Phone: 020 7557 7930</p>

<p>BNF's vision is 'Everyone can access healthy, sustainable diets' contributing towards this through its Mission 'Translating evidence-based nutrition science in an engaging and actionable ways'.</p>

<p>Communicating clear, accurate, accessible information on nutrition, diet and lifestyle, which is impartial and relevant to the needs of diverse audiences. The core purpose is to make nutrition science accessible to all.</p>

<ul>
	<li><strong>Diabetes UK</strong></li>
</ul>

<p>Website: <a href="http://www.diabetes.org.uk">www.diabetes.org.uk</a></p>

<p>Phone: 0345 123 2399</p>

<p>Fighting against the UK's biggest and growing health crisis. To prevent Type 2 diabetes, campaign for and support everyone affected by diabetes, and fund research that will one day lead us to a cure.</p>

<ul>
	<li><strong>Relate</strong></li>
</ul>

<p>Website: <a href="https://www.relate.org.uk/">https://www.relate.org.uk/</a></p>

<p>Phone: 0300 003 0396. Open: Monday-Thursday: 8am to 8pm, Friday: 8am to 6pm, Saturday: 9am to 1pm</p>

<p>If you're facing difficulties, looking to strengthen your relationships, or want help thinking things through Relate are here to support you.</p>

<ul>
	<li><strong>Money Advice Trust - Business Debtline</strong></li>
</ul>

<p>Website: <a href="http://www.moneyadvicetrust.org">www.moneyadvicetrust.org</a><br />
<a href="http://www.businessdebtline.org">www.businessdebtline.org</a><br />
<a href="http://www.mymoneysteps.org">www.mymoneysteps.org</a><br />
<a href="http://www.nationaldebtline.org">www.nationaldebtline.org</a><br />
<a href="http://www.wiseradviser.org">www.wiseradviser.org</a></p>

<p>The Money Advice Trust is a national charity helping people across the UK to tackle their debts and manage their money with confidence.</p>

<p>Offering free, independent and confidential advice on personal debt and Business Debtline, the UK's only free dedicated debt advice service for people who are self-employed and other small business owners.</p>

<ul>
	<li><strong>Health Action Campaign</strong></li>
</ul>

<p>Website: <a href="https://www.healthactioncampaign.org.uk">https://www.healthactioncampaign.org.uk</a></p>

<p>A non-profit organisation that believe prevention is better than cure; by providing health information and upstream initiatives.</p>

<h2>Support in the aftermath of a road traffic incident</h2>

<p>If you have been involved in, or injured by a serious incident involving TfL services, you can contact the Incident Support Service.</p>

<ul>
	<li><strong>Incident Support Service</strong></li>
</ul>

<p>Website: <a href="https://tfl.gov.uk/campaign/incident-support-service">https://tfl.gov.uk/campaign/incident-support-service</a></p>

<p>Email: <a href="mailto:SHL&#64;tfl.gov.uk ">SHL&#64;tfl.gov.uk</a></p>

<p>Phone: 0343 222 5678, Monday-Friday 08:00-18:00 (check TfL call charges). A voicemail service operates outside of these times.</p>

<p>If you have been bereaved as a result of an incident on the roads:</p>

<ul>
	<li><strong>RoadPeace</strong></li>
</ul>

<p>Website: <a href="http://www.roadpeace.org/">http://www.roadpeace.org/</a></p>

<p>Email: <a href="mailto:helpline&#64;roadpeace.org">helpline&#64;roadpeace.org</a></p>

<p>Phone: 0845 4500 355 (Open Monday to Friday 10am &#45; 1pm. Call are charged at local rate).</p>

<p>The aftermath of a road crash is devastating. Road Peace help bereaved families cope and build resilience through peer support, our local group network, befriending service and trauma support programmes.</p>

<p><strong>Charities</strong></p>

<ul>
	<li><strong>Time to Change</strong></li>
</ul>

<p>Website: <a href="https://www.time-to-change.org.uk/">https://www.time-to-change.org.uk/</a></p>

<p>Time to Change is a growing social movement working to change the way we all think and act about mental health problems.</p>

<ul>
	<li><strong>Heads Together</strong></li>
</ul>

<p>Website: <a href="http://www.headstogether.org.uk/partners/charity-partners/">https://www.headstogether.org.uk/partners/charity-partners/</a></p>

<p>In exceptional circumstances, if you are concerned for your safety or that of another licensee) then please call 999 or go to your nearest Accident and Emergency (A&amp;E).</p>

<h2>OnRoute</h2>

<p>Our 'OnRoute' magazine also regularly features articles on driver wellbeing:</p>

<ul>
	<li><strong><a href="/cdn/static/cms/documents/onroute-issue-23.pdf#OnRoute Issue 23">Issue&nbsp;23 </a></strong>- <strong>Spring/Summer 2020</strong></li>
</ul>

<p>Information about our Health and Wellbeing Forum - including wellbeing advice for licensees.</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue17.pdf">Issue 17</a> - July/August 2018</strong></li>
</ul>

<p>An article about how the quieter driving environment of an electric vehicle can have benefits for drivers.</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-15.pdf">Issue 15</a> - March/April 2018</strong></li>
</ul>

<p>Mental health - how to cope with stress and boost mental wellbeing</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-11.pdf">Issue 11</a> - July/August 2017 </strong></li>
</ul>

<p>Advice on how to reduce the risk of back pain associated with long hours behind the wheel</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-9.pdf">Issue 9</a> - March/April 2017</strong></li>
</ul>

<p>Advice on sleep and driving fatigue</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-8.pdf">Issue 8</a> - January/February 2017</strong></li>
</ul>

<p>Advice for Knowledge students on how to cope with stress and anxiety related to their studies</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-7.pdf">Issue 7</a> - November/December 2016</strong></li>
</ul>

<p>An article about a driver's journey to better health</p>

<ul>
	<li><strong><a href="http://content.tfl.gov.uk/onroute-issue-6.pdf">Issue 6</a> - September/October 2016</strong></li>
</ul>

<p>Advice on how to stay healthy behind the wheel</p>

<p>This page will be updated with future articles relevant to this topic. If you have any suggestions for articles on this topic, or any other, you can get in touch with the editor at <a href="mailto:mailto:OnRoute&#64;tfl.gov.uk">OnRoute&#64;tfl.gov.uk</a></p>

<h2>Health and Wellbeing Forum</h2>
</div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/attendees-at-health-and-wellbeing-forum.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/health-and-wellbeing-forum2_rdax_400x250.jpg" alt="Attendees at a mental health and wellbeing forum " />
             
        </a>
        
        
    </div>
    <p>We hosted a Health and Wellbeing Forum bringing together a range of organisations that offer help, advice and support services. The event sought to raise awareness across the taxi and private hire industries of these organisations as well the importance of managing your health and wellbeing.</p>

<p>The forum was attended by a range of stakeholders from across the taxi and private hire industries as well as a number of licensees.</p>
 </div>
 
<div>




<p>The presentations&nbsp;at the&nbsp;3 December 2019 forum&nbsp;are published here.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wellness-and-fitness-to-drive.pdf">
    <div class="document-download-text">
        <p>Wellness and fitness to drive (TfL Occupational Health)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/risks-of-inactivity.pdf">
    <div class="document-download-text">
        <p>Risks of Inactivity (TfL Occupational Health)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 542KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/alzheimers-society-presentation.pdf">
    <div class="document-download-text">
        <p>Alzheimers Society Presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 348KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/calm-presentation.pdf">
    <div class="document-download-text">
        <p>Calm Presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 774KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stress-management-society-presentation.pdf">
    <div class="document-download-text">
        <p>Stress Management Society Presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 294KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/uk-active-presentation.pdf">
    <div class="document-download-text">
        <p>UK Active Presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 579KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 
</div>
<h2>Licensing requirements</h2>

<p>Taxi and private hire applicants are required to meet <a href="http://www.gov.uk/guidance/general-information-assessing-fitness-to-drive">DVLA Group 2 medical standards</a> and once licensed, <a href="http://tfl.gov.uk/info-for/taxis-and-private-hire/licensing/existing-licensee">must tell us</a> of any changes to their medical circumstances. This is to ensure the safety of our licensees and their passengers.</p>

<p>Licensees should seek treatment for any medical conditions at the earliest stage possible, to ensure they receive appropriate treatment.</p>

<p>Licensing action is only taken if the licensee does not meet DVLA Group 2 Medical Standards, which could present a risk to customers and indeed the licensee.</p>

<p>You can learn more about licensing by visiting <a href="http://tfl.gov.uk/info-for/taxis-and-private-hire/licensing">our taxi and private hire pages</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Health and wellbeing for taxi and private hire drivers";}
        
            
        


 