
    
  



@{ViewBag.Title = "Learn the Knowledge of London";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Learn the Knowledge of London</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Learn the Knowledge of London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As taxis can be hailed in the street and asked to go anywhere, taxi drivers must have a thorough knowledge of London. This is why taxi drivers have to learn and pass the world-famous Knowledge.
        
      </div>
    
    
      <p>London's taxi service is the best in the world, in part because our cab drivers know the quickest routes through London's complicated road network. There are thousands of streets and landmarks within a six mile radius of Charing Cross. Anyone who wants to drive an iconic London cab must memorize them all: the Knowledge of London.</p>
<p>The Knowledge was introduced as a requirement for taxi drivers in 1865.</p>
<p>Mastering the Knowledge typically takes students three to four years; it's a challenge, but plenty of help and support is available if you are determined.</p>
<p>As a taxi driver, you can choose when and where you work and how much you earn. Do you have the pride and passion it takes to become a London cabbie?</p>
      
           
      <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/knowledgeoflondonprospectus_rdax_400x250.jpg" alt="Knowledge of London prospectus - how to become a London taxi driver" />
        
        
        
    </div>
    <p>Download our Knowledge of London prospectus here, to find out how you can become a London taxi driver.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/knowledgeoflondonprospectus.pdf">
    <div class="document-download-text">
        <p>How to become a London taxi driver - Knowledge of London prospectus</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.98 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="b--fKJBM5dc" data-video-caption="The World's Toughest Taxi Test"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Learning the Knowledge</h2>
<p>There are two different types of London taxi drivers:</p>
<ul>
    <li>All London (green badge) &#45; Drivers can ply for hire anywhere in the Greater London Authority area</li>
    <li>Suburban (yellow badge) &#45; Drivers can ply for hire in one of the nine sectors in the suburbs of the Greater London Authority area</li>
</ul>
<p>Whichever licence you choose to apply for, you will have to accumulate an encyclopedic knowledge of the streets and places of interest in that area. This will prove you can navigate your way around the Capital.</p>
<p>To become a London taxi driver you need to send us an application. Find out about <a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">applying for a taxi driver licence</a>. </p>
<p>Following satisfactory character and medical checks, you will be sent a Knowledge of London introductory pack.</p>
<p>In this pack you will be given:</p>
<ul>
    <li>A copy of the guide to learning the Knowledge of London (the Blue Book) </li>
    <li>A booklet of advice on how to learn the Knowledge and how you will be assessed</li>
</ul>
<p>The Blue Book lists 320 routes (known as &quot;runs&quot;) within the six mile radius of Charing Cross. You will need to learn these routes, plus all the roads and landmarks within a quarter mile radius of the start and end points of each route.</p>
<h3>Knowledge of London Initial talk</h3>
<p>You will be invited to attend an initial talk with other successful candidates. Here you will receive advice from a Knowledge of London examiner about the different stages of the Knowledge and the best way to approach your studies.</p>
<p>The Knowledge is done in seven stages, which are outlined here.</p>
<h3>Stage 1: Self assessment</h3>
<p>To check you're on the right track, within six months of starting you can take the self-assessment, which is based on the first 80 runs in the Blue Book. Taking the self-assessment is optional and no record of the result is made.</p>
<h3>Stage 2: Written examination</h3>
<p>When you are ready, you will sit the written examination. You will be tested on your knowledge of the Blue Book runs (five questions) and the major landmarks (&quot;points&quot;) along the way (25 questions). This is a multiple choice test and the pass mark is 60%. This test must be undertaken within two years of being sent your introductory pack.</p>
<h3>Stages 3-5: Appearances</h3>
<p>You will then attend a series of one-to-one oral &quot;appearances&quot; with an examiner. Each appearance usually consists of four questions about the shortest route between any two points in London. An appearance takes about 20 minutes, and you'll get a score from A-D.</p>
<p>Depending on your score you will accumulate points; when you have enough you will progress to the next stage, when appearances will become more frequent. However, if you get too many Ds, you may be put back to a previous stage.</p>
<p>At Stage 3, appearances are about 56 days apart, at Stage 4 they are about 28 days apart, and at Stage 5 they are about 21 days apart. On average you will have to score on four appearances to accumulate enough points to progress to the next stage.</p>
<h3>Stage 6: Suburban examination</h3>
<p>You will need to demonstrate a good working knowledge of London's suburbs by learning an additional 25 routes.</p>
<h3>Stage 7: Licence application and pre-licensing talk</h3>
<p>Well done! You can make the final application for the issue of your licence. You will then join a group of other successful candidates to receive advice about your responsibilities as a taxi driver from a Knowledge of London examiner. You will also be given your badge and licence at the talk.</p>
</div>
 
<div>





        <p>Download a detailed description of the Knowledge test. </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/introduction-to-knowledge-booklet-04-19.pdf">
    <div class="document-download-text">
        <p>Knowledge of London learning and examination process</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 814KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2></h2>
</div>
 <div>

<h2>Using a scooter</h2>
<p>Most people who apply to become a licensed taxi driver and take
the Knowledge of London exam use a scooter to help learn the runs.
</p>
<p>For information about riding a scooter or bike safely visit <a href="http://www.lscp.org.uk/bike-safe/www.bikesafe-london.co.uk/courses/scootersafe-london.html">ScooterSafe-London</a> or <a href="http://www.lscp.org.uk/bike-safe/www.bikesafe-london.co.uk/courses/bikesafe-london.html">BikeSafe-London</a>.</p>
</div>
 <div>

<h2><a name="Knowledge schools"></a>Knowledge schools</h2>

<p>You may want to attend one of several Knowledge schools to help you study for appearances. These are independent schools that are not controlled or regulated by Transport for London.</p>

<h3>Knowledge Point School</h3>

<p><strong>Open:</strong> Monday to Thursday 09:00 to 19:45, Friday 09:00 to 17:00. (Knowledge Point West open Monday to Friday 09:00 to 21:00.)<br />
<strong>About:</strong> Established in 1985, Knowledge Point is London's most central and well established Knowledge school. We are placed between Kings Cross and Caledonian Road Station and have a second location in West London. We have classes and facilities to accommodate all levels of Knowledge students and our teachers are not only qualified taxi drivers but qualified teachers also. We understand that the Knowledge is not only about runs or points. KOL is more than that. It's a way of life. It's a language. It's a culture.<br />
<strong>Email:</strong> <a href="http://admin&#64;taxitradepromotions.co.uk">admin&#64;taxitradepromotions.co.uk</a><br />
<strong>Website:</strong> <a href="http://www.taxitradepromotions.co.uk">www.taxitradepromotions.co.uk</a><br />
<strong>Twitter:</strong> <a href="https://twitter.com/taxitradepro">&#64;taxitradepro</a> / <strong>Facebook:</strong> Knowledge Point School Limited / <strong>Instagram:</strong> Knowledge Point School<br />
<strong>Phone:</strong> Knowledge Point Central 0207 700 3999, Knowledge Point West 020 8961 9996<br />
<strong>Address:</strong> Knowledge Point Central, 39-41 Brewery Road (1st Floor London Taxi Company headquarters), Islington, London N7 9QH<br />
Knowledge Point West, 7 Cullen Way, London NW10 6JZ</p>

<h3>WizAnn</h3>

<p><strong>Open:</strong> For study 24hours a day, 7 days a week. Reception is open Monday to Thursday 10:00 to 15.00.<br />
<strong>About:</strong> WizAnn Knowledge school offers classes, apps and study materials at all levels.&nbsp; We provide quiet&nbsp;study facilities for Bluebook,&nbsp;Call-over Yellow Badge and Green Badge suburbs in&nbsp;a bright, clean environment. Free introductory seminar for beginners on the first Tuesday of every month at 10:00.<br />
<strong>Email:</strong> <a href="mailto:wizann&#64;wizann.co.uk">wizann&#64;wizann.co.uk</a><br />
<strong>Website:</strong> <a href="http://www.wizann.co.uk/">www.wizann.co.uk</a><br />
<strong>Twitter:</strong> <a href="http://twitter.com/WizAnn">https://twitter.com/WizAnn </a><br />
<strong>Phone:</strong> 0207 018 7328/020 3289 9114<br />
<strong>Address:</strong> 4 Connaught Road, City Airport, London E16 2DB</p>

<h3>E4 Knowledge School in Chingford</h3>

<p><strong>Open:</strong> Monday to Friday 10:00 to 22:00, except Tuesday 10:00 to 18:00 (classes/call-over rooms).<br />
<strong>About:</strong> Family-run school. Opens occasional weekends. Offers all-inclusive package.<br />
<strong>Email:</strong> <a href="mailto:e4kol&#64;aim.com">e4kol&#64;aim.com</a><br />
<strong>Address:</strong> Jubilee Sports Ground, The Avenue, Highams Park, London E4 9RZ</p>

<h3>The London Knowledge School</h3>

<p><strong>Open:</strong> Monday to Friday 08:00 to 20:00 with extended hours Tuesday to Thursday until 22:00.<br />
<strong>About:</strong> The London Knowledge School is an extremely encouraging, friendly, welcoming, inclusive school to learn the Knowledge of London. We are based in Grays, Essex near the A13 and M25.<br />
<strong>Email:</strong> <a href="mailto:info&#64;thelondonknowledgeschool.co.uk">info&#64;thelondonknowledgeschool.co.uk</a><br />
<strong>Website:</strong> <a href="http://www.thelondonknowledgeschool.co.uk">www.thelondonknowledgeschool.co.uk</a><br />
<strong>Phone:</strong> 01375 371 247<br />
<strong>Address:</strong> Lawrence Trading Estate, Askew Farm Road, Grays, Essex RM17 5XE</p>

<h3>BKS</h3>

<p><strong>Open: </strong>Monday and Wednesday 18.30&nbsp;to 21.00.<br />
<strong>About:</strong> We at the Beginners Knowledge School seek to install the knowledge and confidence to get you where you need to be. Classes available.<br />
<strong>Email:</strong> <a href="mailto:BeginnerKnowledgeSchool&#64;hotmail.com">BeginnerKnowledgeSchool&#64;hotmail.com</a><br />
<strong>Website:</strong> <a href="http://www.fb.me/BeginnerKnowledgeSchool">www.fb.me/BeginnerKnowledgeSchool</a><br />
<strong>Phone:</strong>&nbsp;07506 036026<br />
<strong>Address:</strong> Congreve Hall, Tatum Street, London SE17 1QR</p>

<h3>The Knowledge Practice</h3>

<p><strong>Open:</strong> Tuesday and Thursday 11:00 to 17:00.<br />
<strong>About:</strong> Daily class 11:00 to 14:00 working through points sheet. Call-over session for all levels 14:00 to 17:00, along with 1-2-1 tuition.<br />
<strong>Email:</strong> <a href="mailto:info&#64;knowledgepractice.co.uk">info&#64;knowledgepractice.co.uk</a><br />
<strong>Website:</strong> <a href="http://www.knowledgepractice.co.uk">www.knowledgepractice.co.uk</a><br />
<strong>Twitter:</strong> <a href="http://www.twitter.com/k_practice">&#64;k_practice</a><br />
<strong>Phone:</strong> 07940 396 738<br />
<strong>Address:</strong> Tooting Baptist Church, Longley Road, Tooting SW17 9LD</p>

<h3>Sherbet London Knowledge College</h3>

<p><strong>Open:</strong> Monday to Friday 08:00 until late, Green and Yellow Badge call-over club 08:00 to 20:00.<br />
<strong>About:</strong> Free bike parking, compass direction tutorials, 30-minute introduction to the cab trade session, friendly working environment with students on all levels from Blue Book to 21s and suburbs.<br />
<strong>Email:</strong> <a href="mailto:clare&#64;sherbetlondon.com">clare&#64;sherbetlondon.com</a><br />
<strong>Website:</strong> <a href="http://www.sherbetknowledge.com">www.sherbetknowledge.com</a><br />
<strong>Phone:</strong> 0208 254 3859<br />
<strong>Address:</strong> Thames House, Hartwell Street, E8 3DU</p>

<h3>Rankins</h3>

<p><strong>Phone:</strong> 07932 605 422<br />
<strong>Address:</strong> Karibu Education Centre, 7 Gresham Road, Brixton, London SW9 7PH</p>

<h3>The 5 Star Knowledge School</h3>

<p><strong>Email:</strong> <a href="mailto:Theknowledgeschool20&#64;gmail.com">theknowledgeschool20&#64;gmail.com</a><br />
<strong>Twitter:</strong> <a href="https://twitter.com/GBKNOWLEDGE">&#64;GBKNOWLEDGE</a><br />
<strong>Address:</strong> Bexley Football Club, St Marys Recreation Ground, Lesley Close, Bexley DA5 1LX</p>

<h3>Knowledgepics</h3>

<p><strong>Email: </strong><a href="mailto:admin&#64;knowledgepics.com">admin&#64;knowledgepics.com</a><br />
<strong>Website:</strong> <a href="http://www.knowledgepics.com">www.knowledgepics.com</a><br />
<strong>Twitter:</strong> &#64;Knowledgepics<br />
<strong>Phone:</strong> 07985 470 206</p>

<h3>Yellow Badge East (sector 1)</h3>

<p><strong>Phone:</strong> 07963 082 390</p>

<h2>Contact the Knowledge department</h2>

<p>If you have any special needs or learning difficulties such as dyslexia please contact the Knowledge department to ensure that you receive reasonable adjustments at your appearances. You will be required to send proof to ensure appropriate adjustments are made.</p>

<p>If at any time during the examination process you have a complaint or a query you should contact us. All complaints and appeals are treated in confidence and will not have any adverse effect on your progress through the examination system.</p>

<p>While studying the Knowledge you are obliged to notify us of any changes in your status, such as the following:</p>

<ul>
	<li>Change of name and address</li>
	<li>Any cautions, convictions or charges</li>
	<li>Further information such as Driving Standards Agency Certificate</li>
</ul>

<p>How to contact us:</p>

<ul>
	<li>Telephone: 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</li>
	<li>Email: <a href="mailto:TPHKnowledge&#64;tfl.gov.uk">TPHKnowledge&#64;tfl.gov.uk</a></li>
	<li>Write to: 230 Blackfriars Road, London, SE1 8NW</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london/taking-the-taxi-driving-test">Taking the taxi driving test</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about learning the Knowledge of London";}
        
            
        


 