
    
  



@{ViewBag.Title = "Licensing information";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/licensing-information";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Licensing information</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Licensing information</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out about how licence fees are invested, weekly licence issues, vehicle inspections, and licence checks. <BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Licences issued</h2>

<p>Information about the number and type of licence issued will be updated regularly. The following figures cover the week ending Sunday 01 March 2020:</p>

<ul>
	<li>Taxi driver licences &#45; 22,441:&nbsp;a decrease of 52 on the previous week, there are no new licences. 19,735 hold All London licences and&nbsp;2,706 hold Suburban licences.*</li>
	<li>Taxi vehicle licences &#45; 19,051: a decrease of 1 on the previous week, 46 licences are new.</li>
	<li>Private hire driver licences &#45; 110,899: an increase of 349 on the previous week, 435 licences are new.</li>
	<li>Private hire vehicle licences &#45; 96,165:&nbsp;a&nbsp;decrease of 18 on the previous week, 377 licences are new.</li>
	<li>Private hire operator licences &#45; 2,133: a decrease of 1 on the previous week,&nbsp; 5 licences&nbsp;are new.</li>
	<li>3,271 ZEC taxis have been licensed</li>
</ul>

<p>*The All London/Suburban breakdown is collated monthly</p>

<p>Taxi and private hire licensing figures by year:</p>
      
           
      

<p> </p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td> </td>
            <td> </td>
            <td><strong> Taxis</strong></td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><strong> PHV</strong></td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> Vehicles</td>
            <td> </td>
            <td> Drivers</td>
            <td> </td>
            <td> Operators</td>
            <td>Drivers </td>
            <td>Vehicles </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> All London</td>
            <td>Suburban</td>
            <td> Total</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>09/10</td>
            <td>22,445 </td>
            <td>21,334</td>
            <td>3,580</td>
            <td>24,914</td>
            <td>2,882</td>
            <td>59,191</td>
            <td>49,355</td>
        </tr>
        <tr>
            <td>10/11</td>
            <td>22,558</td>
            <td>21,499</td>
            <td>3,571</td>
            <td>25,070</td>
            <td>3,111</td>
            <td>61,200</td>
            <td>50,663</td>
        </tr>
        <tr>
            <td>11/12</td>
            <td>23,099</td>
            <td>21,690</td>
            <td>3,646</td>
            <td>25,336</td>
            <td>3,164</td>
            <td>64,063</td>
            <td>53,960</td>
        </tr>
        <tr>
            <td>12/13</td>
            <td>22,168</td>
            <td>21,733</td>
            <td>3,727</td>
            <td>25,460</td>
            <td>3,159</td>
            <td>66,975</td>
            <td>49,854</td>
        </tr>
        <tr>
            <td>13/14</td>
            <td>22,810</td>
            <td>21,876</td>
            <td>3,662</td>
            <td>25,538</td>
            <td>3,038</td>
            <td>65,656</td>
            <td>52,811</td>
        </tr>
        <tr>
            <td>14/15</td>
            <td>22,500</td>
            <td>21,724</td>
            <td>3,508</td>
            <td>25,232</td>
            <td>3,006</td>
            <td>78,690</td>
            <td>62,724</td>
        </tr>
        <tr>
            <td>15/16</td>
            <td>21,759</td>
            <td>21,500</td>
            <td>3,370</td>
            <td>24,870</td>
            <td>2,814</td>
            <td>101,434</td>
            <td>78,139</td>
        </tr>
        <tr>
            <td>16/17</td>
            <td>21,300</td>
            <td>21,274</td>
            <td>3,213</td>
            <td>24,487</td>
            <td>2,430</td>
            <td>117,712</td>
            <td>87,409</td>
        </tr>
        <tr>
            <td>17/18</td>
            <td>21,026</td>
            <td>20,803</td>
            <td>3,023</td>
            <td>23,826</td>
            <td>2,373</td>
            <td>113,645</td>
            <td>87,921</td>
        </tr>
    </tbody>
</table></div>


 
<div>



<h2>Taxi and private hire driver postcode data</h2>


<p>These documents contain a breakdown of partial home postcode data for taxi and private hire drivers licensed in London and a heat map of hotspot areas outside of London where the private hire drivers live. This data is accurate as of June 2017.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-private-hire-driver-postcode-data-june-2017.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire driver partial postcode data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 369KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/map-of-ph-driver-home-locations-by-postcode-area-june-2017.pdf">
    <div class="document-download-text">
        <p>Private hire driver partial postcode data map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 193KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>




<p>This document contains a breakdown of the taxi and private hire driver demographic, including data on the gender, age and ethnicity of licensees, and of Knowledge students who have yet to be licensed. This data is accurate as of October 2019.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-private-hire-driver-demographic-stats-2019.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire driver demographic statistics</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>



<h2>Taxi and private hire fleet information</h2>


<p>The following list provides details of the age and vehicle types that make up the licensed taxi&nbsp;private hire vehicle&nbsp;fleet in London. To comply with air quality standards, taxis can be licensed for a maximum of 15 years, and private hire vehicle for 10. However, limited exemptions apply which means that certain vehicles such as those that are wheelchair accessible, can be licensed for an additional period.&nbsp;Please visit our <a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">vehicle licensing page</a> to find out more about&nbsp;our licensing requirements.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-phv-fleet-with-age.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire fleet information October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>




<h2>Disclosure and Barring Service (DBS)
</h2>
<h3>DBS Update Service
</h3>
<p>Help avoid delays with your DBS and save money, by signing up to the <a href="https://www.gov.uk/dbs-update-service">DBS update service</a>. You can sign up from the date you receive your application reference number to 19 days after your disclosure has been issued.
</p>
<p>The DBS update service is an online subscription service that lets you keep your DBS certificates up to date and allows employers to check a certificate online, with your consent. It also means that you don't have to make a separate application for an Enhanced Disclosure as part of your application to renew your licence. Maintaining your yearly subscription to the service costs &pound;13 a year, which is cheaper than applying for a new disclosure every three years. The DBS Update Service will save you time, as further applications and ID checks will only be requested when an update has been made to your disclosure.
</p>
<p>You can <a href="https://secure.crbonline.gov.uk/crsc/apply?execution=e1s1">register online</a> as soon as you have your application form reference number. You can ask for the number when you apply for your DBS check. Or you can wait and register with your certificate number when you receive your DBS certificate. If so, you must do so within 19 days of the certificate being issued.
</p>
<p>When you join, you'll get an online account that lets you:
</p>
<ul>
    <li>Take your certificate from one job to the next</li>
    <li>Give employers permission to check your certificate online and see who has checked it</li>
    <li>Add or remove a certificate
    </li>
</ul>
<p>Read the detailed <a href="https://www.gov.uk/government/publications/dbs-update-service-applicant-guide">guidance for applicants</a>.</p>
<p><strong>Important information about DBS update service</strong></p>
<ul>
    <li>If you have signed up for the DBS update service you are advised to retain your original DBS certificate.</li>
    <li>If your certificate is lost or misplaced then you will be required to apply for a new DBS</li>
    <li>If you change address you will need to inform the DBS update service but you will not be required to apply for a new DBS certificate.</li>
    <li>If you change your name or have any new convictions, cautions or warnings then you will be required to undertake a new DBS certificate.</li>
    <li>If you have signed up for the service and you lose your credit/debit card or it expires, you will need to contact the DBS update service to provide your new card details.  If the DBS update service is unable to debit your account when required and your subscription is stopped, then your disclosure will no longer be valid.</li>
</ul>
<p><strong>Claims for loss of earnings due to DBS delays</strong>
</p>
<p>For loss of earnings due to DBS delays, please <a href="mailto:customerservices&#64;dbs.gsi.gov.uk">email your claim</a>.  </p>
<h2>Licence fees</h2>
<p>All income we receive from licence fees must, by law, be spent on the delivery of taxi and private hire licensing and compliance activities, including:</p>
<ul>
    <li>All back office costs and all contract costs</li>
    <li>Our taxi and private hire compliance activity</li>
    <li>Contributions toward the cost of dedicated police cab enforcement activity</li>
    <li>All Knowledge of London exam costs for new taxi drivers</li>
</ul>
<p>Approximately 70% of licence income comes from the private hire trade. </p>
<p>Find out more about how we spend our licence fees:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-ph-financial-summary-2010-2015.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire financial summary 2010/11 to 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-summary-tph-2014-2015.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire financial summary 2014-2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 194KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-summary-tph-2015-2016.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire financial summary 2015-2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-summary-tph-2016-2017.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire financial summary 2016-2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 921KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-summary-17-18-web.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire financial summary 2017-2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>
<h2>Limiting private hire vehicles and taxis</h2>

<p>Currently, if an applicant meets the statutory eligibility criteria,&nbsp;we are legally obliged to issue a licence. It is clear that more must be done to tackle congestion and air quality impacts, especially in central London where PHVs now outnumber taxis during the day.</p>

<p>The Mayor has called on the government to provide further legislative powers for us, so it can cap the total number of PHVs in London.&nbsp;In addition, we have altered the structure of licence fees paid by operators of different sizes to better reflect the costs of compliance and enforcement activity. This will provide further financial incentive for operators to maximise the efficiency of their operations and minimise the number of vehicles they use across London as a whole.</p>

<p>The Mayor has also&nbsp;secured a commitment to progress separate legislation to enable&nbsp;us to regulate pedicabs, which will help us to alleviate the congestion they cause in central London, particularly in the evening.</p>

<p>It has been suggested that there is a limit on the number of taxi drivers in London, which is incorrect. Previously, we suspended applications for suburban (yellow badge) drivers in three of the nine suburban taxi areas in London because we were conducting a review of suburban taxi services for the <a href="/corporate/publications-and-reports/taxi-and-private-hire">suburban action plan 2015</a>. This was at the request of the taxi trade itself.&nbsp;During this period, applicants still&nbsp;had the option to apply for any of the other six suburban sectors as well as the All London knowledge. Now the review is complete we are accepting applications for these three sectors again.</p>
</div>
 <div>

<h3>&nbsp;</h3>

<h3>Applications</h3>

<p>723 driver applications are awaiting initial assessment. Of those applications, 327 are new (8 taxi and 319 private hire) and 361 are renewal applications (71 taxi, 290 private hire and 35 priority renewal cases). Renewal applications are prioritised over new applications.</p>

<h3>Calls</h3>

<p>11,808 calls&nbsp;were attempted to the Taxi &amp; Private Hire team in the week ending 01 March. On average, calls were answered within 2 minutes,&nbsp;23 seconds with an average call lasting for&nbsp;6 minutes,&nbsp;4 seconds.</p>

<h3>Knowledge</h3>

<p>The number of candidates studying the Knowledge of London is currently&nbsp;441 at Stage 3,&nbsp;256 at Stage 4 and 172 at Stage 5. In addition, as of&nbsp;November 2019, there were&nbsp;714 candidates that had not yet reached Stage 3</p>

<h3>Vehicle inspections</h3>

<p>Information about first time pass rates is updated regularly.&nbsp;The following information covers the period from&nbsp;5 January 2020&nbsp;to&nbsp;1&nbsp;February 2020:</p>

<ul>
	<li>First time taxi pass rate - 76% pass rate across the six inspection centres (against the 81% target)</li>
	<li>First time PHV pass rate - 79% pass rate across the six inspection centres (against the 81% target)</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about how licence fees are invested, weekly licence issues, vehicle inspections, and licence checks. ";}
        
            
        


 