
    
  



@{ViewBag.Title = "Apply for a private hire vehicle licence";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apply for a private hire vehicle licence</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apply for a private hire vehicle licence</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Any vehicle that seats up to eight passengers and is available for hire with a driver requires a private hire vehicle (PHV) licence. It is the responsibility of the vehicle owner to apply for a licence.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<div>




<p>The private hire regulations <a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">have recently changed</a>. You should familiarise yourself with the changes before submitting your application. </p>
<p>Please see our guidance for more information:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/does-my-vehicle-need-to-be-licensed.pdf">
    <div class="document-download-text">
        <p>Does my vehicle need to be licensed?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>
<p>From 1 January 2020 all PHVs licensed for the first time must meet new emission requirements:</p>

<ul>
	<li>PHVs under 18 months old must be zero emission capable (ZEC) and meet the Euro 6 emissions standard when licensed for the first time</li>
	<li>PHVs over 18 months old must have a Euro 6 (petrol or diesel) engine when licensed for the first time</li>
</ul>

<p>Please note that PHVs which are fully electric or have a hydrogen fuel cell will meet the new licensing requirements.</p>
</div>
 
<div>



<h2>Book a vehicle inspection</h2>


<p>&nbsp;</p>

<p>You can now book your vehicle inspection online, 24-hours a day, 7 days a week.</p>

<p>This is often the quickest and most convenient option if you are the owner or registered keeper of a single vehicle.</p>

<p>You can book an appointment at a date, time and location to suit you. This function also allows you to cancel or reschedule your appointment.</p>

<p>To use this service click <a href="[ioID]#http://www.tfl.gov.uk/tph-vehicle">here</a>.</p>

<ul>
	<li>If you have applied or renewed your driver licence online, you will have an online account already set up. Please log in to your account and your vehicle licence will already be listed under the vehicle or licences tab. You do not need to create another account</li>
	<li>If you cannot see your vehicle licence through your online account please call 0343 222 5555</li>
	<li>If you do not already have an existing online account you can create one by going to our <a href="[ioID]#https://tph.tfl.gov.uk/TfL/home.page">account page</a>. You will be required to provide unique information regarding your vehicle licence which can be found on your renewal letter</li>
</ul>

<p>Vehicle documentation</p>

<p>When attending a vehicle inspection centre, you will need to bring the following original documents (these should be printed where necessary&nbsp;as electronic copies are not accepted) as they need to be presented at inspection:</p>

<ul>
	<li>Existing TfL vehicle licence and discs (if applicable)</li>
	<li>V5c DVLA Vehicle Registration Certificate</li>
	<li>Hire and reward insurance documents</li>
	<li>MOT certificate issued within the last 14 days</li>
	<li>Vehicle modification documents</li>
	<li>Any other relevant documentation relating to the vehicle, where appropriate, such as Voluntary Individual Vehicle Approval (VIVA)</li>
	<li>Certificate of conformity (if required)</li>
</ul>

<p>Retests and Refunds</p>

<ul>
	<li>If you would like to book a retest (within 28 days (for taxi) or within 21 days (for PHV) of the first inspection) you can do so by calling 0343 222 5555</li>
	<li>If you would like to request a partial refund you can call 0343 222 5555</li>
</ul>

<p>You can also book your vehicle inspection by calling 0343 222 5555 (<a href="[ioID]#https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>).</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vehicle-licence-inspection-manual-v19.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire vehicle licensing inspection manual</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 321KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-how-to-obtain-a-licence.pdf">
    <div class="document-download-text">
        <p>How to obtain a PHV licence </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 271KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nsl-inspection-sites-address-list.pdf">
    <div class="document-download-text">
        <p>NSL inspection site addresses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 540KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/following-inspection-failure-phv.pdf">
    <div class="document-download-text">
        <p>What to do following an inspection failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 353KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 
</div>

</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Application fee</td>
            <td>&pound;84 (non-refundable)</td>
        </tr>
        <tr>
            <td>Grant of licence fee<br />
            </td>
            <td>&pound;56<br />
            </td>
        </tr>
    </tbody>
</table></div>


 
<div>




<h2>Exemptions</h2>
<p>To comply with air quality standards, all taxis and PHVs must be within certain age limits to be licensed. However, a few exemptions mean some vehicles can be licensed for an additional period. Find out more about the exemptions:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/alternative-fuel-age-limit-exemption-form.pdf">
    <div class="document-download-text">
        <p>Alternative fuel conversion exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 488KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-disability-age-limit-exemption-form.pdf">
    <div class="document-download-text">
        <p>Disabled driver adaptations exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 435KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/specialist-needs-transport-age-limit-exemption-form.pdf">
    <div class="document-download-text">
        <p>Specialist needs adaptations exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wheelchair-accessible-vehicles-age-limit-exemption-form.pdf">
    <div class="document-download-text">
        <p>Wheelchair-accessible vehicles exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

    
</div>
 
<div>




<h2>Other exemptions</h2>
<h3>Displaying front and rear licence discs</h3>
<p>All PHVs must display their vehicle licence discs. An exemption from
displaying the discs may be applied if we feel it is
appropriate to do so. We will consider:</p>
<ul>
    <li>Any exceptional circumstances </li>
    <li>The nature of the work to be carried out </li>
    <li>The security of the passengers</li>
</ul>
<h3>Displaying rear licence disc only</h3>
<p>Exemptions will only be granted if you can  prove that displaying the rear licence disc is not possible due to the design of the vehicle eg the vehicle has no rear window.</p>
<h3>Exemptions from seatbelt/seating capacity requirements</h3>
<p>You must prove that
due to the age and/or the original vehicle manufacturer's construction,
the current vehicle licensing criteria related to seatbelt and seating
capacity requirements does not apply.</p>
<p>Passenger safety is our main
priority so this type of exemption will only be granted in
exceptional circumstances, and only if you can demonstrate the need to
operate a specialist vehicle (eg vintage/historical vehicle) due to
the services you offer your customers.</p>
<h3>Exemption from the right hand drive requirements</h3>
<p>All PHVs must be right-hand drive vehicles. An exemption from this
requirement can be applied if you can prove that the
right-hand drive requirement is not possible due to the services and
type of vehicle being used.  The following will be considered:</p>
<ul>
    <li>Details of the vehicle and why you have chosen to licence it as a private hire vehicle </li>
    <li>Details of your business and the service offered </li>
    <li>Details as to why other vehicles with right-hand steering could not provide the same service</li>
</ul>
<p>You can apply for any of the above exemptions by completing
and sending us an application form and any supporting evidence as required.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vehicle-related-exemption-form.pdf">
    <div class="document-download-text">
        <p>Vehicle related exemption form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
<div>



<h2>More information</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electronic-payment-devices-in-taxis-and-private-hire-vehicles.pdf">
    <div class="document-download-text">
        <p>Electronic payment devices in taxis and private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/responsibilities-of-a-phv-licensee.pdf">
    <div class="document-download-text">
        <p>Responsibilities of a PHV licensee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 151KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Learn how to license your auto as a private hire vehicle or minicab";}
        
            
        


 