
    
  



@{ViewBag.Title = "Apply for a private hire driver licence";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apply for a private hire driver licence</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apply for a private hire driver licence</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        All licensed private hire drivers must work for a licensed private hire operator.
        
      </div>
    
    <div class="on-this-page">
      <h3>Apply or renew online</h3>
      
           
      
<div>




<p>Private hire regulations <a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">have changed</a> and include a new <a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a>. Private hire vehicles (PHVs) are also subject to the <a href="http://content.tfl.gov.uk/03-19-congestion-charge-exemption.pdf">Congestion Charge and Ultra Low Emission Zone</a>. You should familiarise yourself with the changes before submitting your application.</p>

<p>Each week we receive a large number of private hire driver applications and we are legally required to issue a licence to anyone who meets our criteria for licensing. Before you apply, we strongly recommend that you consider the number of <a href="/info-for/taxis-and-private-hire/licensing/licensing-information">existing licensed private hire drivers</a> in the industry, and carefully research whether this is the right job for you, taking into account:</p>

<ul>
	<li>Income</li>
	<li>Hours</li>
	<li>Outlay costs &#45; including purchasing/renting a suitable vehicle, additional equipment and the costs of hire and reward insurance</li>
	<li>Whether your vehicle will be subject to the Congestion Charge and the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
	<li>Whether you are suited to solitary working</li>
</ul>

<p>You may want to speak to private hire drivers or your local minicab firm. There are also a number of trade bodies and unions, including, but not limited to:</p>

<ul>
	<li>GMB Union &#45; professional drivers branch</li>
	<li>The Licensed Private Hire Car Association</li>
	<li>Private hire board</li>
</ul>

<p>There are licensed operators all across London, offering a variety of services. Once licensed, you can work for any private hire operator licensed in London.</p>

<p>In order to be licensed, you will need to meet the following criteria:</p>

<ul>
	<li>You must be at least 21 years of age at the time of applying. There is no upper age limit, as long as you meet the other licensing requirements</li>
	<li>You must hold a full DVLA, Northern Ireland, or other EEA state driving licence that's at least three years old*</li>
	<li>You must have the right to live and work in the UK</li>
	<li>You must be of good character. To establish this you will be required to undertake an 'enhanced' criminal records check from DBS through our service provider - <span class="external-site"><a href="https://gbg.onlinedisclosures.co.uk/Registration/Registration ">GBGroup</a></span></li>
	<li>You must be medically fit which means meeting the <a class="external-site" href="http://www.dft.gov.uk/dvla/medical/ataglance.aspx" title=" (Opens in new window)">DVLA Group 2 standards</a>. In most cases, this will mean that you will have to undergo a medical examination with someone who has access to your full medical history</li>
	<li>You will need to undertake a topographical skills assessment from an accredited assessment centre</li>
</ul>

<p>*Although it is possible to exchange a licence from a designated country for a UK or EU/EEA licence, applicants must have held the UK or EU/EEA driving licence for at least three years.&nbsp; How long a licence from a designated country was held for prior to being exchanged is <strong>not</strong> taken into account in determining the three year requirement.</p>
<div class="multi-document-download-container">
    
</div>

    
</div>
 
<div>



<h2>How to apply</h2>


<p>If you can meet all of the above criteria and wish to apply, you can <a href="https://tph.tfl.gov.uk/TfL/register.page?org.apache.shale.dialog.DIALOG_NAME=contactus&amp;displayName=Multi&amp;DocTypeCode=urn:www.civica.co.uk:doctypes:TFLREG&amp;menuId=4">start your application by registering online</a>.  </p>
<p>You will be asked to provide some personal details so we can create an account for you and allow you to complete your online application or request an application pack. </p>
<p>As part of your application, you will need to provide a  photograph of yourself. See our "Photo guidance" about the type of photograph we will accept.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-guidance.pdf">
    <div class="document-download-text">
        <p>Photo guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 
<div>




<p>Alternatively, please call us on 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or <a href="mailto:tph.enquiries&#64;tfl.gov.uk">email us</a> to request an application pack.</p>

<p>If you have&nbsp;ever&nbsp;lived in a country other than the UK for one or more continuous periods of three months or more, please download the "Living and working abroad" form and submit this with your application.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-living-and-working-abroad-form.pdf">
    <div class="document-download-text">
        <p>Living and working abroad form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 <div>

<h2>Character requirements</h2>
<p>You must be of good character. To establish this you will be required to undertake an 'enhanced' criminal records check from the Disclosure and Barring Service (DBS) through our service provider - <a href="https://gbg.onlinedisclosures.co.uk/Registration/Registration ">GBGroup</a> </p>
<p>The Disclosure and Barring Service (DBS) has an <a href="http://content.tfl.gov.uk/dbs-update-service-leaflet-and-information.pdf">online subscription service</a> that lets applicants keep their DBS certificates up to date.</p>
<h2>Medical requirements</h2>
<p>You must be medically fit which means meeting the <a href="https://www.gov.uk/current-medical-guidelines-dvla-guidance-for-professionals">DVLA Group 2 medical standards</a>. In most cases, this will mean that you will have to undergo a medical examination with someone who has access to your full medical records.</p>
</div>
 
<h2>How much will my application cost? </h2>
<p>Payment can be made via all major credit or debit cards by completing the appropriate section in the application form. Other payment options are available via the Post Office&reg; 'Check and Send' service. </p>
<p>The table below highlights the typical cost of an application. However, some costs may vary.</p>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td>DBS disclosure application</td>
			<td>&pound;52 (online)<br />
			&pound;54 (paper)</td>
		</tr>
		<tr>
			<td>*Licence application fee</td>
			<td>&pound;124</td>
		</tr>
		<tr>
			<td>Grant of licence fee</td>
			<td>&pound;186</td>
		</tr>
		<tr>
			<td>Post Office&reg; Check and Send</td>
			<td>&pound;10.50</td>
		</tr>
		<tr>
			<td>English language assessment&nbsp;(if applicable)</td>
			<td>&pound;180 - &pound;200</td>
		</tr>
		<tr>
			<td>Topographical assessment (if applicable)</td>
			<td>&pound;75</td>
		</tr>
		<tr>
			<td>Medical</td>
			<td>Fee set by the examining&nbsp;doctor (your GP)&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Example total: &pound;644&nbsp;excluding cost of medical</strong></td>
		</tr>
	</tbody>
</table></div>
<p>*The application fee is non-refundable </p>

 <div>

<h2>Equal opportunities&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>

<p>Becoming a licensed taxi or private hire driver is open to all. If you're a disabled person and interested in becoming a driver, there are some things to consider.</p>

<p>We try to ensure that everyone has an equal opportunity to get through the application and assessment process. However, there are some medical conditions that, for public safety reasons, will mean you can't be licensed, so it's important that you discuss your situation with your GP before you apply. For full information on medical guidelines, please refer to the <a href="https://www.gov.uk/current-medical-guidelines-dvla-guidance-for-professionals">DVLA Group 2 guidelines</a>.</p>

<p>Some licensed taxis and private hire vehicles have modifications that enable people to drive them. Vehicle adaptations include:</p>

<ul>
	<li>Steering wheel ball</li>
	<li>Hand-operated braking controls</li>
	<li>Hand-operated accelerator control</li>
	<li>Reconfigured foot pedal controls</li>
	<li>Infra-red control panel for operating vehicle lights, indicators and horn</li>
</ul>

<p>Drivers who use vehicle adaptations will need to be assessed by a medical professional and driver assessor. They will recommend what adaptations are needed and exactly what equipment must be fitted to ensure the driver has full control of the vehicle at all times.</p>

<p>The recommended adaptations and equipment must be fitted by an authorised motability installer. We require documentary evidence that the installer is authorised.</p>

<p>Before you have any equipment fitted or adaptations made to your vehicle you should first contact our licensing team.</p>

<h2>Exemptions</h2>

<p>We may exempt drivers from certain requirements if we feel it is appropriate.</p>

<p>Some requirements apply automatically to an applicant, and some an applicant/licensee will have to apply for either when submitting an application or during the life of their licence.</p>

<h3>Wearing a Private Hire Vehicle (PHV) driver badge</h3>

<p>All private hire drivers are required to wear their driver badge during private hire duties.</p>

<p>There are exemptions from doing so if:</p>

<ul>
	<li>Wearing a badge presents a specific risk</li>
	<li>The passenger requests that the driver refrain from wearing a badge</li>
</ul>

<h3>Carrying guide/assistance dogs</h3>

<p>Taxi and PHV drivers must carry guide, hearing and other assistance dogs accompanying disabled people without any additional charge. Drivers can ask for an exemption from this, but only on medical grounds.</p>

<h3>Assisting wheelchair users</h3>

<p>If we have designated a taxi or PHV as wheelchair accessible, drivers must provide physical assistance to passengers in wheelchairs without any additional charge. We can exempt a driver from these duties on:</p>

<ul>
	<li>Medical grounds, or</li>
	<li>On the grounds that a physical condition makes it impossible or unreasonably difficult for a driver to comply with the duties</li>
</ul>

<h3>Topographical skills assessment</h3>

<p>Private hire applicants are required to undertake a topographical skills assessment as part of their application. However, the following applicants may be exempt if:</p>

<ul>
	<li>Previously licensed PHV drivers who have passed a TfL&nbsp;topographical skills test</li>
	<li>Licensed London taxi drivers - All London and Suburban</li>
	<li>Professional London tourists guides (eg Blue Badge Driver Guide)</li>
</ul>

<p>On 1 February 2020 the exemption previously given to applicants with a relevant vocational qualification was removed. Please see <a href="http://content.tfl.gov.uk/06-19-topographical-skills-assessments.pdf">TPH Notice 06-19</a> for more information.</p>
</div>
 
<div>




<h2>Convictions and exemptions</h2>

<h3>Disclosure and Barring service check</h3>

<p>If you have completed a enhanced disclosure including both barred lists under the workforce code of 'Other' in a relevant occupation, in the last four months, you are exempt for requiring a further check.</p>

<h3>Medical</h3>

<p>Applicants are exempt from completing a medical form as part of their application if they:</p>

<ul>
	<li>Hold a full or provisional DVLA Group 2 licence</li>
	<li>Have an active application with us, have completed our medical and are under the age of 45</li>
</ul>

<p>Active applicants or existing licensees must have a medical exam if over the age of 45 and the last medical was done more than three years ago, or you're subject to providing an age-related medical.<br />
&nbsp;</p>

<h3>Convictions</h3>

<p>If you have any of the following convictions, it's unlikely that your application will be successful. Before submitting an application, please consider:</p>

<ul>
	<li>Any conviction for a major violent offence (murder, manslaughter etc)</li>
	<li>Whether you have more than one conviction of any type of violent offence in the last 10 years</li>
	<li>If you are still serving a custodial sentence, even if you have been released early on licence or the sentence was suspended</li>
	<li>If you have been convicted, cautioned or subjected to any other penalty for a serious sexual offence (rape, indecent assault, trafficking, possession of indecent images etc)</li>
	<li>Whether you have been convicted, cautioned or subjected to any other penalty for more than one sexual offence of any type, irrespective of age</li>
	<li>Whether you are listed on either the Children's or Adults' barred list</li>
	<li>If you have been convicted, cautioned or subjected to any other penalty for touting in the last 12 months or have more than one penalty for touting in the last five years</li>
</ul>

<p>Please be advised that this is not an exhaustive list, licensing decisions are made on a case by case basis.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">English language requirement</span>
    <div class="fact-box-content">
        
        <div class="vertical-button-container">
        
        <a href="/info-for/taxis-and-private-hire/english-language-requirement"  class="plain-button">Find out more</a> 
        </div>
    </div>
</div><div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Learn how to become a licensed private hire or minicab driver";}
        
            
        


 