
    
  



@{ViewBag.Title = "Apply for a private hire operator licence";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apply for a private hire operator licence</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apply for a private hire operator licence</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Anyone who wants to accept private hire bookings must be licensed as a private hire operator. By using a licensed operator, passengers can have confidence that the driver and vehicle are also licensed by us. 
        
      </div>
    
    <div class="on-this-page">
      <p>There are many different kinds of operator including:</p>
<ul>
    <li>A minicab office on a local high street</li>
    <li>Those who only cater for social events such as prom, hen and stag nights and corporate events</li>
    <li>One person operations offering a chauffeur service</li>
    <li>Individuals whose principle work is as a tour guide</li>
    <li>Operators who only do contract work, for example school runs for a local council</li>
</ul>
<p>Whatever type of private hire service you intend to provide you will need to be licensed by us before you start operating. Anyone who receives payment for taking bookings or supplying drivers for hire without an operator's licence is breaking the law and may be prosecuted. </p>
<h2>Before you begin</h2>
<p>To support the completion of your application, it is important that you read and fully understand the Private Hire Operator - Licensing Guidance Notes (PHV/102) before completing the forms. The PHV/102 notes provide important guidance relating to: </p>
<ol>
    <li>Key definitions in London PHV legislation</li>
    <li>Who the operator is</li>
    <li>Fit and proper person criteria</li>
    <li>Operator drivers</li>
    <li>Exemptions</li>
    <li>Operating centres and offices</li>
    <li>Fees and how to select the correct tier</li>
    <li>Duration of licence</li>
    <li>Record keeping requirements</li>
</ol>
<p>In addition, there is further information in the PHV/102 notes relating to: </p>
<ol>
    <li>The Private Hire Operator application forms</li>
    <li>How your application forms will be assessed</li>
    <li>A checklist to use to submit your application</li>
    <li>Next steps</li>
</ol>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-102.pdf">
    <div class="document-download-text">
        <p>Private hire operator licensing guidance notes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 497KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 
</div>
<p>We have the statutory discretion to decide how long an operator's licence should last, up to a maximum of five years, based on the circumstances of each individual case. We take into account all the circumstances of an application, including the possibility of future regulatory changes, when considering the length of any licence issued. </p>
</div>
 
<div>



<h2>How to apply</h2>


<p>Once you have read the guidance notes and believe that you can meet
all of the required criteria, you can request an application pack by calling us on 0343 222 4444 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or emailing us at <a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a> to request an application pack.</p>
<p>You will be asked to provide some personal details in order that we can create an account for you and issue you with the required pack.</p>
<p>An application pack contains the following items:</p>
<ul>
    <li>A covering letter with details about the application process</li>
    <li>A PHV/101 application form;</li>
    <li>A PHV/103 personal declaration form; and</li>
    <li>A PHV/108 operating centre information form</li>
</ul>
<p>To submit an application to us, it must contain</p>
<ul>
    <li>A completed PHV/101 application form</li>
    <li>A PHV/103 personal declaration form completed for each individual associated with the application</li>
    <li>A PHV/108 operating centre form completed for every operating centre</li>
    <li>The full application fee for the appropriate tier, based on the number of vehicles available to you at any one time</li>
    <li>Evidence of planning permission for every proposed operating centre(s)</li>
</ul>
<h2>How much will my application cost?</h2>
<p>We have introduced changes to the structure and level of fees for London private hire operators.  These changes are to ensure that we cover the costs of regulatory, licensing and enforcement activities associated with private hire operators, including both pre- and post-licensing costs and to ensure that the fees reflect the regulatory, licensing and enforcement costs generated by operators of different sizes.</p>
<p>The licence fee comprises two parts:</p>
<ul>
    <li><strong>an application fee:</strong> applicants must pay the application fee, in full, when submitting their application.  There is no option to pay the application fee by instalments and applications are not processed until full payment has been received.</li>
    <li><strong>a grant of licence fee:</strong> If their applications are successful, operators with up to 20 private hire vehicles (PHVs) are required to pay the licence grant fee in full before a licence can be issued.</li>
</ul>
<p>This is the fee structure, along with associated fees:  </p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<h2>Fees
</h2>
<p>You will need to pay a fee when you apply for a licence, depending on the expected size of your operation.</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" rowspan="2" colspan="1">Number of <br />
            vehicles
            </th>
            <th align="center" id="table_heading_1" rowspan="1" colspan="3"><strong>5 year fee (&pound;)</strong></th>
            <th id="table_heading_5" rowspan="2" colspan="1">Licence fee as an <br />
            average annual cost (&pound;)</th>
        </tr>
        <tr>
            <th id="table_heading_2" rowspan="1" colspan="1">Application</th>
            <th id="table_heading_3" rowspan="1" colspan="1">Grant of licence</th>
            <th id="table_heading_4" rowspan="1" colspan="1"><strong>Total</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">0-10</td>
            <td headers="table_heading_2">400</td>
            <td headers="table_heading_3">1,600</td>
            <td headers="table_heading_4"><strong>2,000</strong></td>
            <td headers="table_heading_5">N/A</td>
        </tr>
        <tr>
            <td headers="table_heading_0">11-20</td>
            <td headers="table_heading_2">1,200</td>
            <td headers="table_heading_3">4,800</td>
            <td headers="table_heading_4"><strong>6,000</strong></td>
            <td headers="table_heading_5">N/A</td>
        </tr>
        <tr>
            <td headers="table_heading_0">21-50</td>
            <td headers="table_heading_2">3,800</td>
            <td headers="table_heading_3">15,200</td>
            <td headers="table_heading_4"><strong>19,000</strong></td>
            <td headers="table_heading_5">3,040</td>
        </tr>
        <tr>
            <td headers="table_heading_0">51-100</td>
            <td headers="table_heading_2">6,000</td>
            <td headers="table_heading_3">24,000</td>
            <td headers="table_heading_4"><strong>30,000</strong></td>
            <td headers="table_heading_5">4,800</td>
        </tr>
        <tr>
            <td headers="table_heading_0">101-500</td>
            <td headers="table_heading_2">30,000</td>
            <td headers="table_heading_3">120,000</td>
            <td headers="table_heading_4"><strong>150,000</strong></td>
            <td headers="table_heading_5">24,000</td>
        </tr>
        <tr>
            <td headers="table_heading_0">501-1,000</td>
            <td headers="table_heading_2">70,000</td>
            <td headers="table_heading_3">280,000</td>
            <td headers="table_heading_4"><strong>350,000</strong></td>
            <td headers="table_heading_5">56,000</td>
        </tr>
        <tr>
            <td headers="table_heading_0">1,001-10,000</td>
            <td headers="table_heading_2">140,000</td>
            <td headers="table_heading_3">560,000</td>
            <td headers="table_heading_4"><strong>700,000</strong></td>
            <td headers="table_heading_5">112,000</td>
        </tr>
        <tr>
            <td headers="table_heading_0">10,001+</td>
            <td headers="table_heading_2">580,000</td>
            <td headers="table_heading_3">2,320,000</td>
            <td headers="table_heading_4"><strong>2,900,000</strong></td>
            <td headers="table_heading_5">464,000</td>
        </tr>
    </tbody>
</table></div>
<p>* The grant of licence fee due will be the fee at the time the licence is issued.</p>
<h2>Which tier?</h2>
<p>We are asking applicants to confirm the number of PHVs which they will have available at any one time. This should be for the duration of the 5 years (or shorter period) from the point of the licence being granted. Applicants should consider any changes to the number of PHVs which will be available to them during this period.</p>
<p>We will discuss any applications received with you at the time of submission. We will offer support and guidance by providing an opportunity to discuss the application at the pre-licensing inspection stage and again prior to any grant of licence fee being taken.</p>
<p>If you have any questions prior to submitting your application, please contact us at tph.operators&#64;tfl.gov.uk.</p>
<p>Send completed applications to:<br />
Transport for London<br />
London Taxi &amp; Private Hire<br />
PO Box 177<br />
Sheffield<br />
S98 1JY</p>

 
<div>





<div class="multi-document-download-container">
    
</div>
<h2>Premises and planning permission</h2>

<p>Before you apply for a licence, you must have:</p>

<ol>
</ol>

<ul>
	<li>At least one 'operating centre' in <a href="/info-for/boroughs/information-by-borough">London</a>. This is the premises where you will take bookings. Your operating centre could be an office, a unit in the high street or your home address. For addresses outside Greater London, you must obtain a licence from the local council.</li>
	<li>Proof of planning permission or a certificate of lawful use for your proposed premises from your local authority. Where planning permission isn't required, you must provide written confirmation (email or letter) from the local authority. The document must be clearly linked to the address of the proposed premises. Any breach of planning legislation could lead your council to take enforcement action against you.</li>
	<li>If the operating centre's primary use is for another business, you'll need to provide further information about the operating centre.</li>
	<li>A fixed landline telephone number for bookings. A licence cannot be issued without this.</li>
</ul>

<p>We are currently carrying out a review of our policy on shared venues' private hire operator licences. Until this review is carried out, applications to add a shared venue may not be accepted. Each application is considered on a case-by-case basis. However, where the proposed centre is shared with a third party which provides a separate service and public access for the purposes of that service, the application is unlikely to be accepted: a typical example would be a nightclub or bar.</p>

<p>Other factors which will be taken into consideration include the type of service offered, when the service is available and the way in which the two services will operate together. Please note we will not be able to confirm whether a proposed centre will be impacted prior to the application being made.</p>

<p>&nbsp;</p>
</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2>Licensing process</h2>
<h3>Initial assessment</h3>
Upon receipt of the application we will carry out an initial assessment to ensure all forms have been completed correctly in full and any additional documents have been provided where appropriate.
We will, where needed, contact the applicant to confirm receipt of the completed application, to explain the licensing process and to answer any questions the applicant may have at this stage.
We will also explain the fee structure for operator licences and request confirmation of the size (tier) of operator licence required.
In order for the application to progress to the next licensing stage, the appropriate application fee will need to be paid in full.
<h3>Detailed analysis</h3>
<p>Following the initial review, we will carry out a detailed analysis of the application materials. The analysis will confirm whether the applicant is compliant with relevant legislation, licensing and regulatory requirements. We will also establish the nature of the service that is proposed.</p>
<p>For more complex applications, such as a new, novel or ridesharing service, as set out in our <a href="http://content.tfl.gov.uk/private-hire-policy-statement.pdf">policy paper</a>, there will be discussion and correspondence on the operating model and system infrastructure.</p>
<p>We may also carry out a technical review of the applicant's system infrastructure.</p>
<p>During this stage we will also consider a number of factors to determine that the applicant is fit and proper.</p>
<p>The applicant's licensing history will also be considered (if applicable).</p>
<p>This is an iterative process where we will engage with the applicant to fully understand the proposed solution and to request relevant documentary evidence. This may include face-to-face meetings to allow the applicant to present its proposed solution.</p>
<h3>Compliance inspection</h3>
<p>As part of the application it will be necessary to carry out a physical inspection of the proposed operating centre. This will be carried out by Compliance Officers who will confirm that the premises complies with local planning conditions.</p>
<p>This stage provides an opportunity to explain to the applicant its record keeping obligations e.g. bookings, drivers, vehicles, insurance, complaints, etc. We will also confirm that the applicant has appropriate systems and process in place to ensure records are kept correctly.</p>
<p>If the applicant is licensed an authorised officer of Transport for London can, on request and at any time, inspect the records maintained by the operator.</p>
<p>During the inspection we will check the information provided in the application is correct. It will establish that the applicant can meet all licensing requirements including, but not limited to, the need to provide the customer with a booking confirmation, complaint handling processes, which booking channels are available for customers and whether appropriate back office functions are in place.</p>
<p>This stage also provides an opportunity for the applicant to understand the role of a Compliance Officer and what checks they can undertake and why.</p>
<p>This stage will culminate in a final report, that alongside other materials provided during the initial assessment and detailed analysis stages, will be considered by the licensing team as part of the final determination.</p>
<h3>Final determination</h3>
<p>Once all the information is available, we will carry out a full review of all the information available to determine whether a licence should be issued. At this stage we will also consider the duration of the licence and whether any conditions should be imposed.</p>
<p>We will then communicate our decision to the applicant. If a decision is made to grant a licence, the applicant must reconfirm the size (tier) of the licence and pay the appropriate grant of licence fee.</p>
<p>A licence will then be issued. The operator cannot begin to operate until they are in receipt of a physical licence and have it displayed in the operating centre.</p>
<h3>Timeframes</h3>
<p>A typical application can take up to 16 weeks to process, depending on the circumstances. Applications relating to new, novel or ridesharing services that require further information to determine the suitability of the application can take significantly longer to process.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to become a licensed private hire vehicle or minicab operator";}
        
            
        


 