
    
  


<!-- rhroot -->
@{ViewBag.Title = "Taxi top advertising";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/taxi-top-advertising";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi top advertising</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi top advertising</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        From Monday 1 December 2014, TX4 vehicle licence holders may apply to TfL for a new vehicle licence with approval for their taxi to be fitted with taxi top advertising.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Rooftop illuminated digital advertising</h2>

<p>A decision has been made to limit the number of vehicles to 1,000 at this time.</p>

<p>In limiting the number to 1,000, we have taken into consideration the fact that this is new technology and it allows us to properly assess their impact and how they are received by the public. It also helps to ensure the visual impact of the London taxi and the streetscape of London is maintained.</p>

<p>There are now between 200-250 taxi vehicles with a taxi top device fitted (this number will be regularly updated).</p>

<h2>Eligibility criteria</h2>

<ul>
	<li>Only the licence holders of licensed TX4 model taxis are eligible to apply</li>
	<li>For each application, an agreement must be in place with an approved manufacturer. Evidence of this must be provided as part of the application</li>
	<li>An approval will only be authorised where an licensing inspection is due within the next 6 months</li>
</ul>

<p>The current approved manufacturers are:</p>

<ul>
	<li>Brightmove</li>
	<li>Eyetease</li>
</ul>

<p>Please review the taxi top policy document for further information about taxi top advertising.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-top-vehicle-specific-approval-policy.pdf">
    <div class="document-download-text">
        <p>Taxi roof top illuminated digital advertising policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>
<h2>Requesting&nbsp;a new taxi top&nbsp;vehicle licence </h2>
<p><strong>Application</strong></p>
<p>To apply for approval you will need to complete and submit the following application form accompanied with a copy of the relevant agreement with one of the approved manufacturers.</p>
<p>Approvals will be provided on a first-come, first-serve basis: the limit is 1,000. </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-top-application-form.pdf">
    <div class="document-download-text">
        <p>Taxi roof top illuminated digital advertising application form   </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>
<h3>Fees</h3>
<p>On approval, you'll need to re-licence your vehicle within 6 months of the approval being issued. </p>
<p>The licence fee for a vehicle with a taxi top fitted is &pound;166. This is because of the extra checks that need to be carried out to make sure the taxi top device has been fitted correctly.  </p>
<h2>Completed forms and documentary evidence</h2>
<p>We would recommend that the form is emailed to <a href="mailto:taxitopenquiries&#64;nsl.co.uk">taxitopenquiries&#64;nsl.co.uk</a></p>
<p>However an alternative postal address is available:</p>
<p>Taxi Tops<br />
PO Box 713<br />
Oldham<br />
OL1 9NQ</p>
<p>Please note it is necessary to make a separate application per vehicle. We will not accept multiple applications on one form.</p>
<p><strong>Inspection</strong></p>
<p>Once an application has been approved, a letter will be issued to the vehicle owner advising that within six months of the date of the letter they must:</p>
<ul>
    <li>Fit the approved taxi top device to their vehicle</li>
    <li>Have their vehicle pass a full licensing inspection when they renew their current vehicle licence, which will include checking the taxi top device</li>
    <li><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Find out more about vehicle licensing inspection</a> </li>
</ul>
<p>When applying for approval please be aware that, should more than 1,000 applications be received, a waiting list will be created.</p>
<p><strong>Advertisements</strong></p>
<p>All advertisements displayed via the taxi top must comply with the "Taxi advertising and private hire vehicle signage guidelines" which can be found on our <a href="/corporate/publications-and-reports/taxi-and-private-hire">Legislation and policy web page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                <a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising" class="heading">
                    <h2 id="sub-menu-heading">Taxi top advertising<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Page for applications for taxi top advertising scheme";}
        
            
        


 