
    
  



@{ViewBag.Title = "Topographical assessment";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/topographical-assessment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Topographical assessment</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Topographical assessment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page details information about the topographical assessment for private hire drivers.
        
      </div>
    
    
      <p>If you want to become a licensed private hire driver in London you must complete a topographical assessment. The assessment is held&nbsp;in TfL-approved centres and is conducted under exam conditions by TfL assessors.</p>
<p><strong>Before </strong>a topographical assessment can be taken, you must have submitted your private hire driver application to us for consideration. Once your application has been assessed, we will invite you to book a topographical assessment.</p>
<h2>How to book an assessment</h2>
<p>Assessments can only be booked through us. Please follow these steps to make a booking:</p>
<p><strong>Step 1</strong><br />
Submit your application for a private hire driver licence. You will then be invited to book a topographical assessment.</p>
<p>
<strong>Step 2</strong><br />
<strong>Before you contact us</strong> you must select the approved centre of your choice from the approved topographical assessment centres list. Further information, including any costs involved, can be found by following the links included in the list. </p>
<p>
<strong>Step 3</strong><br />
Once you have selected a centre, please call us on 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) to book an assessment and we will send you a booking confirmation by letter and email.</p>
<p><strong>Step 4<br />
</strong>Please go to the centre at the date and time shown on your booking confirmation. When you arrive, we will carry out identity checks and register you for the assessment.</p>
<p>If you have any queries, please call our topographical team on 0343 222 4444 or email&nbsp;<a href="mailto:tphtopo&#64;tfl.gov.uk">tphtopo&#64;tfl.gov.uk</a>.</p>
      
           
      
<h3>Approved topographical assessment centres </h3>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Centre&nbsp;</strong></td>
			<td><strong>Address&nbsp;</strong></td>
			<td><strong>Assessment schedule<br />
			(subject to availability)&nbsp;</strong></td>
			<td><strong>Find out more about the centre</strong></td>
		</tr>
		<tr>
			<td>Bridge Topographical Training Ltd</td>
			<td>College of North West London, Wembley Park Drive, Middlesex, HA9 8HP</td>
			<td>12:00 on Mondays, Wednesdays and Fridays; and 08:30 on Fridays</td>
			<td><a href="https://www.bridgetopographical.co.uk/">Bridge Topographical Training Ltd</a></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Capstar Chauffeur Ltd</td>
			<td>The Farmhouse, Syon Park, Brentford, Middlesex, TW8 8JF</td>
			<td>12:30&nbsp;on Tuesdays, Wednesdays and Thursdays; and 09:00 on Thursdays</td>
			<td><a href="http://www.capstar.co/training/">Capstar</a></td>
		</tr>
		<tr>
			<td>Data Cars Ltd</td>
			<td>92-94 Lee High Road, Lewisham, London, SE13 5PT</td>
			<td>09.30 on Tuesdays, Wednesdays and Thursdays; and 13:00 on Thursdays</td>
			<td><a href="https://www.datacars.com/topographical">Data Cars Ltd</a></td>
		</tr>
		<tr>
			<td>Driver Periodic Training Ltd</td>
			<td>Brooklands House, Petersfield Avenue, Slough, SL2 5DY</td>
			<td>12:30 on Mondays, Thursdays and Fridays;&nbsp;and 09:00 on Fridays</td>
			<td><a href="http://www.learninginmotion.co.uk/">Driver Periodic Training</a></td>
		</tr>
		<tr>
			<td>E-Laws Training Ltd</td>
			<td>Unit&nbsp;1B, The Show House, Merton Abbey Mills, Watermill Way, Colliers Wood, London&nbsp;SW19 2RD</td>
			<td>12:30 on Mondays, Wednesdays and Fridays; and 09:00 on Wednesdays</td>
			<td><a href="http://www.e-lawstraining.com/tfl-topographical.html">E-Laws Training Ltd</a></td>
		</tr>
		<tr>
			<td>Raid Training Services Ltd</td>
			<td>Floor 2, 136 High Road, Wood Green, London, N22 6EB</td>
			<td>09.30 on Mondays, Tuesdays and Fridays; and 13:00 on Mondays</td>
			<td><a href="http://topographicaltestlondon.co.uk/">Raid Training Services Ltd</a></td>
		</tr>
		<tr>
			<td>Uber London Ltd</td>
			<td>Uber Central Greenlight Hub, Ground Floor, Beaufort House, 15 St Botolph Street, London EC3A 7DT</td>
			<td>13:00 on Tuesdays, Wednesdays and Thursdays; and 09:00 on Tuesdays</td>
			<td><a href="https://www.uber.com/en-GB/drive/london/get-a-license/topographical-prep/">Uber London</a></td>
		</tr>
		<tr>
			<td>The Vehicle Site Ltd</td>
			<td>Bridge House (Rear Entrance), 1st Floor, 150 London Road, Barking IG11 8BB</td>
			<td>09:00 and 12:30 on Tuesdays; 12:30 on Thursdays and Fridays</td>
			<td><a href="http://www.topographical-skills-test.co.uk">Topographical Skills Test</a></td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<h2>Assessment guidelines</h2>
<p>The Topographical assessment guidelines provide more details about the assessment. Your assessment could be carried out in paper format, or may be computer based. If your assessment is computer based, you will need a basic understanding of how to use a mouse.<br />
</p>

 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/topographical-assessment-guidance-04-2019.pdf">
    <div class="document-download-text">
        <p>Topographical assessment guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>
<p><strong>A guide to plotting a route</strong></p>
<p>We have produced a short video to provide guidance on how you may be expected to plot a route within the online assessment.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="vH0qj955Jao" data-video-caption="How to plot a route"></li>
  
  </ul>
</div>
</div>
 <div>

<h3>Special requirements and reasonable adjustments </h3>
<p>TfL offer a wide range of reasonable adjustments that are tailored to the individual to ensure that assessments are carried out in a fair and consistent manner. </p>
<p>If you have a disability or condition which means you will need adjustments to be made at your assessment please provide us with a brief outline of the condition and documented evidence from a relevant professional. <br />
Contact us on <a href="mailto:tphtopo&#64;tfl.gov.uk">tphtopo&#64;tfl.gov.uk</a> or 0343 222 4444 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>). </p>
</div>
 
<div>




<h2>TfL-approved assessment centre scheme</h2>
<p>When we began inviting applications for approved assessment centres in August 2016, we committed to regularly reviewing the scheme to ensure that the number of centres meet the demand, and that we may sometimes stop accepting applications as a result of those reviews. </p>
<p>As the current level of demand for assessments is being met, we closed the window for applications at midnight on 19 January 2017. If demand increases in the future, this decision will be reviewed.</p>
<h3>Application pack</h3>
<p>The following documents are for reference only as we are not currently accepting new applications. Please note, the following updates have been made since first publication on 26 August 2016:</p>
<ul>
    <li>The deed of appointment was updated on 5 December 2016</li>
    <li>The statement of requirements was updated on 1 August 2018</li>
    <li>The invitation to apply was updated on 13 January 2017</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/invitation-to-apply.pdf">
    <div class="document-download-text">
        <p>Invitation to apply (updated 13 January 2017)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-requirements.pdf">
    <div class="document-download-text">
        <p>Statement of requirements (updated 1 August 2018)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 377KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-requirement-appendix-1-health-and-safety.pdf">
    <div class="document-download-text">
        <p>Health & safety requirement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deed-of-appointment.pdf">
    <div class="document-download-text">
        <p>Deed of appointment (updated 5 December 2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 239KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clarifications-issued-to-applicants.pdf">
    <div class="document-download-text">
        <p>Clarifications issued to applicants</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 <div>


</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find how your business can be an approved topographical skills centre";}
        
            
        


 