


@{ViewBag.Title = "All aboard East London Transit as new bus service launches ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All aboard East London Transit as new bus service launches </h1>
        <div class="content-page-press-release">
        22 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Residents in Barking & Dagenham and Redbridge to benefit from new 24-hour bus route.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The East London Transit will provide people travelling in east London with faster, more reliable journeys with improved frequencies"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The East London Transit will provide people travelling in east London with faster, more reliable journeys with improved frequencies
                            
                        </p>
                    </div>
                
            
            
            <p>A &pound;26m high frequency bus service that will carry six million passengers a year ran its first weekday services in east London today (22 February). </p>
<p>The East London Transit (ELT) will provide a fast and direct link between Ilford, Barking and Dagenham Dock.</p>
<p>Sixteen brand new buses have been manufactured exclusively for the route, which will have ten buses an hour route. </p>
<h2>Streetscape improvements</h2>
<p>They have been fitted with the latest environmentally friendly technology as well as Transport for London's (TfL's) real-time information iBus system. </p>
<p>Passengers will also notice extra legroom on the buses which run on a route that was bus lanes specifically located through the busier parts of town. </p>
<p>By 2013,&nbsp;more than&nbsp;30 per cent of the route will be completely segregated from general traffic. </p>
<p>A number of streetscape improvements have also been delivered as part of work on the new service including extra parking, road re-surfacing, better street lighting, upgraded bus stops and shelters and improved public spaces. </p>
<h2>Better links</h2>
<p>The&nbsp;ELT also adds to work taking place to kick-start regeneration of the Thames Gateway.</p>
<p>It will provide new transport links to Tube and National Rail stations as well as improving connections between Ilford and Barking town centre, and providing bus services for residents on the Barking Riverside development. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The East London Transit delivers on the Mayor's commitment to provide better links between local communities and jobs. </p>
<p>'It provides a direct bus link to Dagenham Dock, which was not previously served by local buses, and will play a key role in the development of the area. </p>
<h2>Distinctive new buses</h2>
<p>'Valuable improvements have been made to local roads and public spaces as part of this project that also contributes to the Mayor's aim of improving the public realm and the overall look and feel of the Capital.'</p>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'The distinctive new buses operating along the East London Transit will provide people travelling in east London with faster, more reliable journeys with improved frequencies. </p>
<p>'The routes will also provide a bus service in the heart of Barking town centre for the first time in years.'</p>
<p>TfL has worked closely with local residents and the two boroughs where the new bus routes will run. </p>
<h2>Attract inward investment</h2>
<p>Both Barking &amp; Dagenham and Redbridge councils have provided strong support for the ELT in recognition of the better transport links it will provide.</p>
<p>Mick McCarthy, Barking &amp; Dagenham Councillor for Regeneration, said: 'This is good news for the businesses and residents of our borough. </p>
<p>'It will provide a quick and reliable service between Barking town centre and the residential and industrial areas along the route and will, we hope, help attract inward investment, promote opportunities for local people and help drive our regeneration projects forward.'</p>
<p>Nick Hayes, Redbridge Councillor Cabinet Member for Planning and Regeneration, said: 'The East London Transit will provide useful links to the businesses and services to Ilford Town Centre and Ilford Lane.' </p>
<h2>Strong transport links</h2>
<p>A number of key partners have provided funding for the ELT including the Homes and Communities Agency and the London Thames Gateway Development Corporation. </p>
<p>Jonathan Martin, Head of Area for East London for the Homes and Communities Agency, said: 'For anyone looking to buy a house, local transport links will play an important part in their decision. </p>
<p>'With the regeneration of Barking Riverside picking up pace, the East London Transit will open up Barking and east London to present and future residents. </p>
<p>'The HCA's support for this bus route echoes our commitment to creating not just houses but whole communities built around strong transport links and local provisions.' </p>
<h2>Act as a catalyst</h2>
<p>Peter Andrews, Chief Executive of London Thames Gateway Development Corporation, said: 'Our investment in the East London Transit signifies the intrinsic link between transport connections and the comprehensive regeneration of the area. </p>
<p>'The routes will vastly improve access for residents living and working here and will also act as a catalyst for bringing developments out of the ground in Barking and Dagenham Dock.'</p>
<p>Work is now under way for the next phase of the ELT project, which will extend the service to operate between Barking and Dagenham Dock via the new Barking Riverside Development. Construction work on the second phase is expected to begin in 2013.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Delivered by TfL the &pound;25.8m ELT route has been funded by additional contributions from the Homes and Communities Agency and the London Thames Gateway Development Corporation </li>
<li>It is estimated that the new ELT will lead to a reduction in journey times of up to three minutes. This represents a 10-15 per cent time saving for bus passengers depending on which section of the route they are travelling along </li>
<li>ELT will operate as two routes - EL1 and EL2. Both routes will operate between Ilford Hill and Thames View Estate, with EL2 continuing on to Dagenham Dock station. EL1 operates 24 hours a day, seven days a week, while EL2 operates between 05:15 and 00:30 seven days a week </li>
<li>ELT has replaced route 369 which operated between Ilford High Road and Thames View Estate. Route 179 (Chingford station - Ilford - Barking) will now terminate at Ilford. The section of Ilford Lane between Ilford and Barking previously served by route 179 will be served by route 169 and the new EL1/EL2, providing a combined frequency of 16 buses per hour </li>
<li>The Mayor of London's manifesto 'London's Great Outdoors' details the Mayor's vision and objectives to transform the every day experience of London's outdoors. It is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp;This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220m invested in more than 50 public realm improvement projects over the next three years, funding for which comes from TfL, The London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority (GLA), London Development Agency, Design for London and TfL.&nbsp;For more information visit the <a href="http://www.london.gov.uk/greatoutdoors">GLA website</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A &pound;26m high frequency bus service that will carry six million passengers a year ran its first weekday services in east London today (22 February). The East London Transit (ELT) will provide a fast and direct link between Ilford, Barking and Dagenham";}
        
        


 