


@{ViewBag.Title = "Bounds Green Station awarded listed status";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bounds Green Station awarded listed status</h1>
        <div class="content-page-press-release">
        02 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bounds Green Tube station has been awarded Grade II listed status by English Heritage.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is great news for not only our customers and the local community but also for our staff who take care of the station
                            
                        </p>
                    </div>
                
            
            
            <p>Bounds Green Tube station has been awarded Grade II listed status by English Heritage. </p>
<p>This status will ensure that the Holden-style station is recognised as a unique and outstanding example of modernist design to be enjoyed by the many thousands of people using this Piccadilly line station every day. </p>
<h2>Modernist style</h2>
<p>Recent refurbishment work by Transport for London has conserved the station's historical features.&nbsp;</p>
<p>These include the octagonal ticket hall, unique amongst London Underground stations, which is lit by four large windows with an imposing lattice of concrete beams in the ceiling; large London Underground roundels; and original bronze signs, ventilation grilles and information panel frames.</p>
<p>The station was built as part of the first section of the northward extension of the Piccadilly Line to Cockfosters which opened in sections during 1932 and 1933 to serve the growing suburban areas of north Middlesex.&nbsp; </p>
<p>The construction and design of the station were overseen by Frank Pick (1878-1941) and Charles Holden (1875-1960) who are both regarded as instrumental in creating London Underground's identity and brand.&nbsp;</p>
<h2>Balanced design</h2>
<p>Holden's designs emphasised functionality combined with balanced geometry and the use of modern materials, especially glass and reinforced concrete.&nbsp; </p>
<p>The historical significance of the station is emphasised by its involvement in the World War II blitz.&nbsp;</p>
<p>On 13th October 1940 the north end of the westbound platform was badly damaged by a German bomb which killed 19 people and wounded many others sheltering in the station.&nbsp; A plaque commemorating this tragedy was erected in the station in 1994.</p>
<p>Phil O'Hare, General Manager for the Piccadilly Line at London Underground, said: 'This is great news for not only our customers and the local community but also for our staff who take care of the station. </p>
<h2>Identity of the Underground</h2>
<p>'Heritage is a huge part of London Underground's identity and I am sure our staff, who are passionate about the history of their station, will be very proud that it now has heritage status. </p>
<p>'London Underground is undertaking a major programme of renewal as part of TfL's multi-billion pound Investment Programme.&nbsp;This will lead to a more frequent, comfortable service, but will not be at the expense of maintaining the Tube's unique historical features.'</p>
<p>Mike Ashworth, Design and Heritage Manager of London Underground, said: 'Bounds Green and other stations on the Piccadilly Line are stunning examples of how the Underground was built to provide not only an efficient mode of transport, but also to promote new suburban development, making stations the focal points of local high streets.&nbsp; </p>
<p>'Stations built 80 years ago, such as Bounds Green, still live up to these expectations, reinforcing and enhancing London Underground's brand and identity.' </p>
<h2>Restoring heritage features</h2>
<p>Emily Gee, Heritage Protection Team Leader at English Heritage, said: 'English Heritage welcomes the Secretary of State for Culture, Media and Sport's decision to list Bounds Green Station at grade II on our advice. </p>
<p>'This station has special architectural interest for its bold Modernist style and impressive octagonal ticket hall. </p>
<p>'We are also pleased to have a positive partnership with London Underground, with whom we share an understanding of the special stations in their care. </p>
<p>'Listing recognises these distinctive stars of London's modern heritage while enabling their continued use as working infrastructure.'</p>
<p>Bounds Green station was refurbished in 2007 as part of TfL's upgrade work on the London Underground.&nbsp;</p>
<p>This work involved the restoration of heritage features and included the upgrading of CCTV cameras, retiling and decorating the station, repairs to the roof and exterior, platform resurfacing and the installation of Help Points.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Bounds Green is the 59th London Underground station to be given heritage status.&nbsp; The majority of listed Tube stations are Grade II with only Southgate station listed as Grade II* </li>
<li>Other Holden-designed or influenced stations include Cockfosters, Oakwood, Southgate, Arnos Grove and Turnpike Lane </li>
<li>Buildings designed by Charles Holden under Frank Pick are among the first and most widely-celebrated examples of fully modern architecture in Britain.&nbsp; They were also significant in bringing this new idiom to the general public, and for imposing a corporate identity to buildings and design </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to check before you travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bounds Green Tube station has been awarded Grade II listed status by English Heritage. This status will ensure that the Holden-style station is recognised as a unique and outstanding example of modernist design to be enjoyed by the many thousands of";}
        
        


 