


@{ViewBag.Title = "Bus route 324 provides new links between Stanmore and Brent Cross";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus route 324 provides new links between Stanmore and Brent Cross</h1>
        <div class="content-page-press-release">
        22 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses will be introducing a new bus route, the 324, between Stanmore Station and Brent Cross in October 2010.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The introduction of route 324 reflects Transport for London's efforts to continually develop the network.
                            
                        </p>
                    </div>
                
            
            
            <p>This new route will bring many households in Stanmore and Colindale within easy walking distance of a bus service for the first time.</p>
<p>The service will run every 20 minutes during the day and every 30 minutes during the evening, seven days a week.&nbsp; </p>
<p>The new bus route will provide:</p>
<ul>
<li>A new daily bus service for Colindeep Lane in Colindale </li>
<li>A new daily bus service for Old Church Lane, Abercorn Road,&nbsp; St Andrews Drive and Culver Grove in Stanmore </li>
<li>New direct links to Brent Cross Shopping Centre </li>
<li>A new direct link between Stanmore and Hendon </li>
<li>A new direct link between Kingsbury and Brent Cross</li></ul>
<p>The opinions of local residents and bus passengers are very important to Transport for London and following a public consultation in May 2009 we made some changes to our initial proposals.&nbsp;</p>
<p>These include using smaller single deck buses and moving the southern terminus closer to the Tesco store at Brent Cross.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'London's bus network is constantly under review to ensure we continue to provide the best possible service for passengers.&nbsp;</p>
<p>'The introduction of route 324 reflects Transport for London's efforts to continually develop the network.'&nbsp; </p>
<p><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>The public consultation generated a lot of interest with nearly 80 per cent of respondents supporting the proposals.&nbsp;A full summary of the consultation results and TfL's response to the issues raised is available at: <a href="/corporate/projectsandschemes/13922.aspx">www.tfl.gov.uk/busrouteconsultations</a> </li>
<li>Route 324 will be operated by London Sovereign. It will run from Stanmore Station via Stanmore town centre, Old Church Lane, Abercorn Road, St Andrews Drive, Culver Grove, Streatfield Road, Honeypot Lane, Kingsbury Road, Roe Green, Hay Lane, Edgware Road, Colindeep Lane, Watford Way, Hendon Way, Brent Cross Shopping Centre and terminates at the Tesco store at Brent Cross<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This new route will bring many households in Stanmore and Colindale within easy walking distance of a bus service for the first time.The service will run every 20 minutes during the day and every 30 minutes during the evening, seven days a week.&nbsp; The";}
        
        


 