


@{ViewBag.Title = "Changes to bus services in Woolwich ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus services in Woolwich </h1>
        <div class="content-page-press-release">
        02 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 6 February a number of further changes will be made to bus routes and bus stops in Woolwich town centre, in connection with the town centre improvement scheme.
        
    </div>



 <div class="on-this-page">
<p>Routes 51, 54, 53, 96, 99, 122, 161, 177, 380, 386, 422, 472, 469, 658, 672 and N1 have changes to stopping arrangements, to complement the town centre improvements and to better-serve Woolwich Arsenal Station. </p>
<p>Additionally routes 178, 244, 291 and 386 will be re-routed to the south of the town centre to give more direct links, as follows:&nbsp;&nbsp; </p>
<ul>
<li>Route 178 will be re-routed to serve Grand Depot Road, Woolwich New Road.&nbsp;Buses will no longer serve Nightingale Place, Sandy Hill Road, Bloomfield Road, Crescent Road, Burrage Road and Vincent Road</li>
<li>Route 244 will be re-routed to serve Grand Depot Road, Woolwich New Road and Nightingale Place.&nbsp;Buses will no longer serve Sandy Hill Road, Bloomfield Road, Crescent Road, Burrage Road and Vincent Road</li>
<li>Route 291 will be rerouted to serve Wellington Street, Repository Road and Artillery Road.&nbsp;Buses will no longer serve Grand Depot Road, Woolwich New Road and Ha-Ha Road</li>
<li>Route 386 towards Blackheath will be re-routed to run via Vincent Road, Burrage Road, Crescent Road and Bloomfield Road.&nbsp;Towards Woolwich buses will run via Sandy Hill Road and Woolwich New Road. This change will replace routes 178 and 244 in this area.&nbsp;Nightingale Place will instead be served by route 244 </li></ul>

<p>John Barry, Head of Network Development for London Buses, said: 'The changes to routes 178, 244, 291 and 386 will deliver better links for the town centre and for Queen Elizabeth Hospital.&nbsp;&nbsp; </p>
<p>'We have worked closely with Greenwich Council to deliver bus service changes which complement the town centre improvement project and deliver better connections to rail services.'</p>

<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Additionally route 54 will terminate at Plumstead Road instead of Monk Street and route 96 will terminate at Thomas Street instead of Beresford Street</li>
<li>Full details of stopping places for all routes serving Woolwich are provided in the attached leaflet</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routes 51, 54, 53, 96, 99, 122, 161, 177, 380, 386, 422, 472, 469, 658, 672 and N1 have changes to stopping arrangements, to complement the town centre improvements and to better-serve Woolwich Arsenal Station. Additionally routes 178, 244, 291 and 386";}
        
        


 