


@{ViewBag.Title = "Fifty per cent capacity boost as DLR rolls out three-carriage trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fifty per cent capacity boost as DLR rolls out three-carriage trains</h1>
        <div class="content-page-press-release">
        23 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on the Docklands Light Railway (DLR) are set for a significant expansion in service as the first of a fleet of new three-carriage trains went into public service today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The DLR will play a key role in our plans for a Public Transport Games, helping us move thousands of spectators in 2012
                            
                        </p>
                    </div>
                
            
            
            <p>An extra carriage is being added to trains on the railway's busiest route, Bank - Lewisham, to provide 50 per cent more space for passengers, which will allow Docklands Light Railway (DLR) to meet increasing demand and cater for passengers for the London 2012 Games. <br>&nbsp;<br>A &pound;325m two-and-half-year upgrade programme has taken place across the DLR network to allow the longer trains to run, which has included extending platforms, upgrading junctions and track, remodelling Tower Gateway station and building a new South Quay station. <br>&nbsp;<br>The &pound;325m programme includes: </p> <ul> <li>Lengthened&nbsp;platforms  </li><li>A new &pound;22m South Quay station  </li><li>Upgraded track and infrastructure, including innovative junctions that allow two trains to pass simultaneously  </li><li>A &pound;13m upgrade to Tower Gateway station, including new canopies and energy efficient escalators&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li></ul> <p>Fifty-five new carriages, bought for &pound;100m to supplement the existing fleet and enable the three-car trains to run, have improved interior layout to give more room and easier exit and entrance.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>Boris Johnson, Mayor of London, said: 'As the Olympics approaches, the DLR has struck gold with a huge 50 per cent increase in capacity - the perfect example of the Olympic legacy already delivering real improvements for Londoners. </p> <p>'This &pound;325m boost is not only integral to preparations for ferrying spectators to the 2012 games, but it will also benefit the many thousands of people who use this popular and handy railway.'&nbsp;</p> <h2>In great shape </h2> <p>Hugh Sumner, Transport Director for the Olympic Delivery Authority (ODA) which contributed &pound;25m of funding to the new three-car trains, said: 'The DLR will play a key role in our plans for a Public Transport Games, helping us move thousands of spectators in 2012. </p> <p>'The start of the new three-car services is an important milestone and shows that passengers are already benefiting from London 2012 transport well before the Games begin.'</p> <p>Jonathan Fox, Director DLR, said: 'Today marks another major milestone for DLR and its passengers as our network is further enhanced and improved. </p> <p>'With three-car trains being rolled out on the Bank-Lewisham line, and the Stratford International extension set to open later this year, we are in great shape to meet passenger demand now and over the course of the next few years.' </p> <h2>Enhancements</h2>Three-car trains are being introduced on the Bank-Lewisham line and will be rolled out across the network as demand requires.&nbsp;  <p> <p>The Bank-Lewisham line serves stations including Canary Wharf, Greenwich and Limehouse.<br>&nbsp;<br>Upgrades have been completed on all parts of the DLR network aside from the Canning Town - Beckton route, which will be three-car ready in early 2011.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Almost 70m journeys are made annually on DLR  </li><li>The DLR is expected to carry up to 500,000 people a day during the Games, more than double the current weekday average  </li><li>Fifty-five new carriages are being added to the DLR fleet to enable three-car operation. They have been delivered over the last two years at a cost of &pound;100m and are funded by Transport for London (&pound;80m) and the ODA (&pound;20m)  </li><li>Of the &pound;325m three-car upgrade programme TfL have contributed the main financial support, with the remainder provided by the ODA (&pound;25m), development contributions (&pound;10m), Homes and Communities Agency (&pound;5.4m) and London Development Agency (&pound;2m) <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An extra carriage is being added to trains on the railway's busiest route, Bank - Lewisham, to provide 50 per cent more space for passengers, which will allow Docklands Light Railway (DLR) to meet increasing demand and cater for passengers for the London";}
        
        


 