


@{ViewBag.Title = "Initial work starts on London's first two Cycle Superhighways";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Initial work starts on London's first two Cycle Superhighways</h1>
        <div class="content-page-press-release">
        16 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The delivery of London's first two Cycle Superhighways moved a step closer today (Tuesday 16 February) as works started on the two pilot routes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Superhighways, alongside our cycle hire scheme and our huge cycle safety programme, will transform the experience of cycling in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Superhighways, alongside our cycle hire scheme and our huge cycle safety programme, will transform the experience of cycling in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>The two routes, part of 12 Cycle Superhighways planned for the Capital, run from Merton to the City via the A24 and A3, and Barking to Tower Gateway via the A13 and Cable Street. </p>
<p>The Cycle Superhighways, a key part of the Mayor's commitment to stimulate a cycling revolution in the Capital, will benefit London's cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes.&nbsp; </p>
<p>Transport for London (TfL) has now started work on the Barking to Tower Gateway route with resurfacing work near Westferry DLR station.&nbsp; TfL will also trial new continuous cycle lanes through three junctions on the Merton to City route shortly. </p>
<ul>
<li>As well as installing new cycle lanes and upgrading existing ones, other works scheduled before the pilot routes launch in summer 2010 include: 
<ul type="circle">
<li>Installing Advanced Stop Lines at many junctions along both routes, for example at the junction of Clapham Common Southside and Narbonne Avenue, which provide a space for cyclists to wait at lights ahead of the queue of traffic </li>
<li>Realigning traffic lanes and bus lanes to make busy stretches of the Superhighways safer for cyclists, for example on the southbound section of the A24 at the junction of Kennington Road and Brixton Road </li>
<li>Trialing cycle safety mirrors, subject to Department for Transport approval, at junctions along both pilot routes. These mirrors give drivers of large vehicles better visibility of cyclists when turning left </li>
<li>Assessing the impact of reducing the two northbound lanes of the A3 at the Stockwell Gyratory to one lane, allowing the installation of a new segregated cycle lane at this location. A further segregated lane is proposed at the junction parallel to Stockwell Terrace </li>
<li>Resurfacing sections of the Cycle Superhighways to ensure a smoother, more comfortable ride, for example between Newby Place and Naval Row in Poplar </li>
<li>Improving the existing diversionary route around the Elephant and Castle roundabout with better signage and resurfacing some sections</li></ul></li></ul>
<p>Mayor of London, Boris Johnson, said: 'Just as the oak springs from the acorn, so too from these first works will London's Cycle Superhighways appear - giving commuters easier, continuous and safer ways to travel to work by bike.</p>
<p>'The&nbsp;Superhighways, alongside our cycle hire scheme and our huge cycle safety programme, will transform the experience of cycling in the Capital. </p>
<p>'This in turn will help us improve air quality, and tackle pollution and congestion on the transport network. This really is a year of cycling for London, and as we go forward Londoners will see huge improvements unfold.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The Cycle Superhighways will benefit the many thousands of Londoners who already choose to commute by bike. </p>
<p>'For those who want to start, we hope that the changes will give them the extra confidence they need by providing easy to recognise and follow cycle routes. </p>
<h2>Training and cycle maintenance</h2>
<p>'TfL has been in close discussion with the boroughs that the pilot routes run through and other interested groups in developing the detailed designs for the first two Cycle Superhighways. </p>
<p>'The pilots will allow us to test all of the measures for their effectiveness, helping to determine the scope and detailed design of the remaining routes.'</p>
<p>As well as cycling infrastructure improvements, TfL is installing 300 new cycle parking spaces along both pilot routes including outside all Tube stations along the Merton to City route. </p>
<p>This is in addition to the extra cycle parking that will installed by the eight London boroughs the routes run through, using the &pound;1.49m that has been allocated by TfL for cycle parking alongside training and cycle maintenance sessions. </p>
<p>In addition, TfL is working with businesses along the routes to encourage cycling among their employees.</p>
<p>The Mayor's cycling revolution in the Capital is part of his work to offer Londoners an alternative to the car, helping to tackle pollution and poor air quality, and cutting carbon emissions.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>For more information on the <a href="http://www.tfl.gov.uk/cycling">Cycle Superhighways</a>.&nbsp;For artist impression images, please contact TfL's press office on 0845 604 4141 </li>
<li>Of the remaining 10 routes, four will be completed by October 2012 and the remaining six by 2015. The assessment process has now started on the next two proposed routes; from Ilford to Aldgate, and Wandsworth Town to Westminster </li>
<li>Businesses within 1.5km of the two pilot routes which have more than 50 employees on one site are now being invited to bid to TfL for funding for cycle parking, cycle training and cycle maintenance sessions for staff. More information is available at tfl.gov.uk/cyclingworkplaces. This is in addition to the &pound;1.49m of funding for the eight boroughs benefitting from the two pilot Cycle Superhighways, which TfL has allocated to provide the appropriate cycle training, parking and maintenance to address the increase in demand from residents living near the new cycling infrastructure </li>
<li>TfL's trials of continuous cycle lanes through three junctions on the Merton to City route will begin this month and involve laying a blue cycle lane through the junction which will continue approximately 30 metres on either side. The purpose of the trials is to test the behaviour of cyclists and other road users to these continuous cycle lanes through signal-controlled junctions. Two of the trial sites are on the A24 in Tooting (junctions of A24 with Tooting Bec Road and Longley Road) and the third is on the A3 in Southwark (A3 junction with Union Street) </li>
<li>The Cycle Superhighways will build on the massive 107 per cent growth in cycle journeys which London has seen since TfL was created in 2000. In the last year alone, there has been a nine per cent increase in cycle journeys on London's major roads </li>
<li>The Mayor is working to cut carbon emissions from London by 60 per cent by 2025</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two routes, part of 12 Cycle Superhighways planned for the Capital, run from Merton to the City via the A24 and A3, and Barking to Tower Gateway via the A13 and Cable Street. The Cycle Superhighways, a key part of the Mayor's commitment to stimulate a";}
        
        


 