


@{ViewBag.Title = "Kender Street Triangle improvement scheme to begin this month";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kender Street Triangle improvement scheme to begin this month</h1>
        <div class="content-page-press-release">
        04 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners using the busy New Cross Gate area will soon see major improvement work begin that includes the removal of the gyratory system, better crossings and improving the pavement space.
        
    </div>



 <div class="on-this-page">
<p>The works contribute to the Mayor of London's commitment to champion improvement of the Capital's public spaces. </p>
<p>The London's Great Outdoors project includes measures to make streets more user-friendly. On 15 February Transport for London (TfL) will start work to convert the Kender Street Triangle to two-way traffic by removing the gyratory. </p>
<p>The area will be made safer and more attractive for pedestrians and cyclists by improving crossings and including a new cycle lane along Queen's Road. </p>
<h2>Smooth traffic flow</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor is backing improvements around the Capital that will smooth traffic flow as well as make London's streets more attractive. </p>
<p>'The improvement scheme at Kender Street Triangle is a perfect example of this commitment. </p>
<p>'We will remove the gyratory system and bring about a long overdue return to two-way traffic while also making improvements to the public realm.'</p>
<p>As well as converting the gyratory system to two-way traffic, road junctions will be improved and new trees and landscaping planted to help transform Kender Street and Besson Street. The work is expected to be completed by the end of 2010. </p>
<p>Dana Skelley, Director of Roads for TfL, said: 'The Kender Street Triangle improvement scheme will help open the area up to the local community, reducing the amount of traffic that is currently forced to travel down Kender Street and Besson Street because of the unnecessary gyratory system.' </p>
<h2>Streets for people</h2>
<p>The gyratory removal works will be complemented by 'Streets for People' works by Lewisham Council. </p>
<p>These works will be funded by TfL, are currently planned to begin in 2011 and will look to transform the appearance of the Kender Street Triangle</p>
<p>Works are also due to start soon on a scheme linked to the road improvements that will see a revamp of the neighbouring Hatcham Gardens. </p>
<p>Work as part of the Mayor's Great Spaces scheme will see trees planted and new park furniture, a drinking fountain and play space provided. </p>
<p>Councillor Heidi Alexander, Cabinet Member for Regeneration at Lewisham Council, said:&nbsp; 'We are extremely excited about the start of this scheme.&nbsp;</p>
<p>'It's great news for local residents and for everyone else who passes through this part of Lewisham.&nbsp;</p>
<p>'The Council and New Cross Gate NDC have undertaken a large number of works over recent years to help improve and regenerate the whole New Cross area making it a much more attractive and welcoming place.<br>&nbsp; <br>'The Kender Street Triangle scheme is the latest piece of the jigsaw and will complement our Streets for People initiative which is also being funded by TfL, opening up the area to new and existing residents.'<br>&nbsp; <br>Clive Wilson, Chief Executive of New Cross Gate NDC, said: 'The removal of the gyratory will be a blessing for local residents and will create a new low traffic zone in the centre of New Cross Gate which will be transformed into a new centre for the community.'</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p><strong></strong>
<ul>
<li>TfL is working with Lewisham Council, New Cross Gate New Deal for Communities (NDC) and Design for London (DfL) to improve transport and the urban environment in the New Cross area </li>
<li>Skanska Construction UK will be carrying out the improvement works on behalf of TfL </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp; This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220m invested in over 50 public realm improvement projects over the next three years, funding for which comes from TfL, the London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and TfL.&nbsp;For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works contribute to the Mayor of London's commitment to champion improvement of the Capital's public spaces. The London's Great Outdoors project includes measures to make streets more user-friendly. On 15 February Transport for London (TfL) will start";}
        
        


 