


@{ViewBag.Title = "London's motorcyclists urged to get 'BikeSafe' as TfL boosts training across the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's motorcyclists urged to get 'BikeSafe' as TfL boosts training across the Capital</h1>
        <div class="content-page-press-release">
        04 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Motorcycling in London is set to get safer with the creation of a new dedicated team of motorcycle safety experts working to reduce motorcycle casualties across the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Riding a motorbike in London is safer now than it was a decade ago, with the number of motorcyclists killed or seriously injured in the Capital falling by around a fifth"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Riding a motorbike in London is safer now than it was a decade ago, with the number of motorcyclists killed or seriously injured in the Capital falling by around a fifth
                            
                        </p>
                    </div>
                
            
            
            <p>&nbsp;The London Motorcycle Policy Unit, which has been set up by Transport for London (TfL) working in partnership with the Metropolitan Police Service (MPS), focuses on improving safety and employs 12 full-time police officers in a special 'Motorcycle Tasking Team'. </p>
<h2>Roadworthy bikes</h2>
<p>The team run motorcycle training sessions and carry out on-street enforcement to ensure that the motorbikes on London's streets are roadworthy and legal.<br>&nbsp;<br>The training sessions, known as 'BikeSafe-London' are low cost, one-day practical courses designed to help motorcyclists improve their knowledge, skills and experience to make them safer, better riders.</p>
<p>They are being ramped up under a new focus by TfL and the Mayor of London, Boris Johnson, and 2,700 motorcyclists have completed the course since the Mayor was elected in May 2008.</p>
<p>Some 95 per cent of those who have taken part in the courses have found that they improve their driving skills. </p>
<h2>Safer, better drivers</h2>
<p>The Mayor, TfL and the MPS have now increased the resources dedicated to motorcycle safety, which has enabled the Tasking Team to undertake ten times more roadside checks on motorcycles, and has contributed to a 21 per cent drop in the number of motorcyclists killed or seriously injured each year compared to the 1990's.<br>&nbsp;<br>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'Riding a motorbike in London is safer now than it was a decade ago, with the number of motorcyclists killed or seriously injured in the Capital falling by around a fifth. <br>&nbsp;<br>'However, although just one per cent of all journeys in the Capital are made by motorbike or scooter, they still account for 21 per cent of all deaths and serious injuries on London's roads. </p>
<p>'That's why we have set up a dedicated team of motorcycle safety experts, who are working hard to encourage the Capital's motorcyclists to improve their skills by signing up to a BikeSafe-London course.' </p>
<h2>Reducing deaths</h2>
<p>Ben Plowden, Director of Integrated Programme Delivery at TfL said: 'TfL is committed to improving safety for all road users across the Capital. Through our new Motorcycle Policy Unit, we are helping to further reduce the number of motorcyclists who are killed or seriously injured by offering practical training and conducting an increased number of roadside checks to ensure that vehicles remain roadworthy.'<br>&nbsp;<br>Chief Inspector Duncan Morley of the Metropolitan Police's Traffic branch said: 'The Metropolitan Police is pleased to be working in partnership with TfL to make London's roads safer for motorcyclists. </p>
<p>'The support from TfL has allowed the MPS Traffic Unit to focus more on enforcement and raise the skills and awareness of riders through 'Bikesafe' events.'<br></p>
<p>
<hr>

<p>
<p>Notes to editors</p>
<ul>
<li>BikeSafe-London invites motorcyclists, moped and scooter riders to participate in rider skills days that offer skills assessments and advice. As well as professional riding techniques, topics covered include the system of motorcycle control, collision causation factors and security. The rider skills days are run during the week and at weekends, by highly qualified police motorcyclists passing on their wealth of knowledge and experience in a friendly and informal manner </li>
<li>The days start at 8.45am and finish at around 16:30 and cost just &pound;45.00 per rider including lunch and a BikeSafe London Hi Vis vest. To book a place on a BikeSafe-London session, visit <a href="http://www.bikesafe-london.co.uk/">http://www.bikesafe-london.co.uk/</a> or call 08452 307407</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;The London Motorcycle Policy Unit, which has been set up by Transport for London (TfL) working in partnership with the Metropolitan Police Service (MPS), focuses on improving safety and employs 12 full-time police officers in a special 'Motorcycle";}
        
        


 