


@{ViewBag.Title = "London Buses seeks your views on proposed changes to route S3 in Cheam Park Farm";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks your views on proposed changes to route S3 in Cheam Park Farm</h1>
        <div class="content-page-press-release">
        08 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of the local community on a proposed change to route S3 to better serve Kimpton Industrial Park in North Cheam.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We believe the proposed change to route S3 will offer a better service to people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Consultation and Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We believe the proposed change to route S3 will offer a better service to people
                            
                        </p>
                    </div>
                
            
            
            <p>Route S3 currently runs from Sutton Hospital to Malden Manor. </p>
<p>Under the proposal the route would change in the Cheam Park Farm area to go along Tesco Road, Wealdstone Lane and Kimpton Road instead of Oldfields Road.</p>
<p>Buses would continue to run every 20 minutes Mondays to Saturdays in the daytime and half hourly in the evenings.</p>
<p>The consultation opens on Monday 8 February 2010 and will be available on the <a href="http://www.tfl.gov.uk/busrouteconsultation">TfL website</a>&nbsp;from that date. </p>

<p>Details are also available from London Buses Customer Services on 0845 300 7000 or email <a href="mailto:STengagement&#64;tfl.gov.uk">STengagement&#64;tfl.gov.uk</a>. </p>

<p>The consultation closes on 19 March 2010.</p>
<p>Peter Bradley, Head of Consultation and Engagement, said: 'We believe the proposed change to route S3 will offer a better service to people who visit the Kimpton Industrial Park. </p>

<p>'We would like to know the local community's views before making a decision about whether to go ahead with the change.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Buses Customer Services can be contacted by:</li>
<ul type="circle">
<li>Telephone:&nbsp;0845 300 7000</li>
<li>Email: <a href="mailto:STengagement&#64;tfl.gov.uk">STengagement&#64;tfl.gov.uk</a></li>
<li>Post:&nbsp;London Buses Customer Services, 4th Floor, Palestra, 197 Blackfriars Road, London, SE1 8NJ</li></ul></ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route S3 currently runs from Sutton Hospital to Malden Manor. Under the proposal the route would change in the Cheam Park Farm area to go along Tesco Road, Wealdstone Lane and Kimpton Road instead of Oldfields Road.Buses would continue to run every 20";}
        
        


 