


@{ViewBag.Title = "London Underground condemns planned RMT strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground condemns planned RMT strike action</h1>
        <div class="content-page-press-release">
        04 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Union announces commitment to strike while talks at ACAS continue. RMT prepared to try to hold Londoners to ransom for more overtime pay.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is simply astonishing that the RMT issued a press release confirming their plans to strike while we are still negotiating with them at ACAS
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has condemned the RMT leadership's latest planned strike action, with tomorrow planned to be the first of 15 separate days of strike action from 750 members of maintenance staff over alterations to the shift patterns of just 32 staff. </p>
<p>LU has branded RMT's confirmation of strike action while talks at ACAS continue as 'astonishing'.&nbsp;</p>
<h2>More overtime payments</h2>
<p>The RMT have made clear they want farepayers' money to cover planned maintenance shifts by increasing overtime payments. </p>
<p>Union bosses have also tried to claim that their members' jobs are at risk from external contractors even though an arrangement to use contractors only to address specific issues has been in place for some time. </p>
<p>In line with existing agreements with its unions LU has proposed revised rosters for members of its Stations Communications and Electrical team, to ensure planned engineering staff are always available when the railway is operating. </p>
<p>The RMT's leadership has rejected LU's proposals and has tried to claim that LU is obliged to cover any gaps in rosters with overtime. </p>
<p>This has never been the case and LU will continue to use overtime based solely on business needs. </p>
<h2>Good service will operate</h2>
<p>Phil Hufton, LU's Chief Maintenance Officer, said: 'It is simply astonishing that the RMT issued a press release confirming their plans to strike while we are still negotiating with them at ACAS.&nbsp;</p>
<p>'This questions the RMT's claims that they wish to talk and shows they are intent on disrupting London rather than resolving this issue.</p>
<p>'Londoners will share our dismay at the RMT's leadership's attempts to jeopardise the Tube's operation over this issue. </p>
<p>'We are planning to introduce a roster covering seven days a week, to ensure planned engineering staff are always available. That agreement already exists, but the RMT is trying to tear it up. </p>
<p>'We have consulted fully with staff and unions on the proposed changes and we are prepared to continue discussions with the RMT. They should stop threatening industrial action at every opportunity, when all that will do is lose their members more pay. </p>
<p>'Despite this unjustified threat, it is our intention to operate a good service across the network during any industrial action.'</p>
<p>Check <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Live Travel News</a> for the latest information on how Tube services are running.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has condemned the RMT leadership's latest planned strike action, with tomorrow planned to be the first of 15 separate days of strike action from 750 members of maintenance staff over alterations to the shift patterns of just 32";}
        
        


 