


@{ViewBag.Title = "London Bus information just got better";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Bus information just got better</h1>
        <div class="content-page-press-release">
        16 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL)&nbsp;has launched a new online bus tool that provides passengers with even better travel information.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new facility will give passengers easier access to local and specific information to help them make the most of London bus services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Clare Kavanagh</div>
            <div class="quotee-job-title">Director of Performance London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new facility will give passengers easier access to local and specific information to help them make the most of London bus services
                            
                        </p>
                    </div>
                
            
            
            <p>The tool provides passengers with access to detailed information about local bus services in London.&nbsp; </p>
<p>Passengers can search for information using a postcode, street name, route number or place of interest, and the tool will display the nearest bus stops, details of the bus routes that call at the particular bus stop, and the current bus route timetable. </p>
<p>The tool is simple and straightforward to use, plotting the bus routes over familiar network of roads and streets using Google maps.&nbsp; </p>
<h2>A couple of clicks away</h2>
<p>These maps lend themselves to easy and familiar navigation using zoom and the ability to drag the map to see surrounding areas.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The new web tool is all about the Mayor's ambitions to make London's buses even easier to use for the millions of Londoners and visitors that rely on them to get around our great city. </p>
<p>'Rather than huddling over a timetable this puts passengers just a couple of clicks away from being able to see exactly where routes go and should make getting around on the bus much simpler.'</p>
<p>Clare Kavanagh, Director of Performance London Buses, said: 'TfL is proud to operate one of the most extensive bus networks in the world and this new facility will give passengers easier access to local and specific information to help them make the most of London bus services.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Information on planned disruptions along a bus route is provided when searching for specific bus routes </li>
<li>The London Buses tool is available <a href="http://www.tfl.gov.uk/busmaps">online</a> </li>
<li>Plan you journey online or on the move using <a href="http://www.tfl.gov.uk/traveltools">TfL's Travel Tools</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The tool provides passengers with access to detailed information about local bus services in London.&nbsp; Passengers can search for information using a postcode, street name, route number or place of interest, and the tool will display the nearest bus";}
        
        


 