


@{ViewBag.Title = "New 'Pegasus' crossing provides direct link between two of London's best-loved green spaces";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New 'Pegasus' crossing provides direct link between two of London's best-loved green spaces</h1>
        <div class="content-page-press-release">
        03 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of pedestrians, cyclists and horse riders to benefit from new crossing connecting Richmond Park and Wimbledon Common.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Transport for London is investing millions of pounds to make cycling and walking around the Capital easier and more enjoyable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Integrated Programme Delivery at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport for London is investing millions of pounds to make cycling and walking around the Capital easier and more enjoyable
                            
                        </p>
                    </div>
                
            
            
            <p>The design allows pedestrians to cross the busy A3 dual carriageway without having to use the footbridge and allows horse riders and cyclists to cross without having to dismount.</p>
<p>A new Transport for London (TfL) funded crossing has been installed on the A3 between Richmond Park and Wimbledon Common providing a direct and accessible route for pedestrians, cyclists and horse riders wanting to get from one green space to the other.&nbsp; </p>
<h2>Better links</h2>
<p>The new crossing is one of only three in the Capital that gives special consideration to horse riders. </p>
<p>Known as a Pegasus crossing, it has two control panels; one at standard height for pedestrians and cyclists and another two metres above the ground for horse riders.&nbsp; </p>
<p>Linking sections of the Greenways and Capital Ring walking and cycling routes, the recently installed crossing will allow those enjoying these routes to cross directly from Robin Hood Gate in Richmond Park to Beverly Ride on Wimbledon Common without having to use the existing footbridge. </p>
<p>The footbridge adds to journey times for those crossing between the parks and with many steps is difficult for some. </p>
<h2>Investing millions</h2>
<p>Ben Plowden, Director of Integrated Programme Delivery at TfL, said: 'Transport for London is investing millions of pounds to make cycling and walking around the Capital easier and more enjoyable. </p>
<p>'This new crossing not only provides a much shorter and convenient step-free route for walkers and cyclists enjoying two of London's best-loved green spaces, but also allows horse riders to cross safely, without dismounting. </p>
<p>'Local residents and Kingston University students are also set to benefit from the new crossing which provides a much quicker and less intimidating route across the A3 and into two great green spaces.'</p>
<p>Richard Dunwoody MBE, three-time champion National Hunt jockey, said: 'Having spent my career in the saddle before venturing far afield as a pedestrian I commend Transport for London for this magnificent Pegasus crossing over the A3.&nbsp; </p>
<p>'It gives safe access to all riders, walkers and cyclists, as they journey between Wimbledon Common and Richmond Park.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The crossing is funded by TfL, at a cost of around &pound;500,000 </li>
<li>The crossing is located at Robin Hood roundabout, at the junction of the A308 (Kingston Vale) and A3 Robin Hood Way (Kingston Bypass) and will link two of London's classic natural spaces </li>
<li>The new crossing will link journeys between Wimbledon and Richmond at a location where four different borough boundaries meet </li>
<li>The new two stage crossing allows people to cross the A3 from Robin Hood Gate in Richmond Park to Beverly Ride in Wimbledon Common, via a central island </li>
<li>Pedestrians, cyclists and horse riders wishing to cross the A3 are able to activate the crossing point allowing them to cross from either side of the road to the central island.&nbsp; From the island they can then activate the next stage of the crossing to reach the opposite side of the road </li>
<li>This Pegasus crossing is the third one to be installed in London; one is already installed in Hyde Park and the other on Ham Common in Richmond </li>
<li>Previously pedestrians and cyclists had to use a footbridge to get across, while horse riders required someone to signal traffic to stop to allow them to cross</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The design allows pedestrians to cross the busy A3 dual carriageway without having to use the footbridge and allows horse riders and cyclists to cross without having to dismount.A new Transport for London (TfL) funded crossing has been installed on the A3";}
        
        


 