


@{ViewBag.Title = "Nightmare turns into a happy journey home";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Nightmare turns into a happy journey home</h1>
        <div class="content-page-press-release">
        12 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube worker Mark Warawi helped a Chingford lady which she says turned 'a nightmare journey into one that I will remember with a smile on my face for a very long time'.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'I am very proud of my staff.  They do a superb job in often difficult circumstances.  I am delighted that we were able to help Ms Callan
                            
                        </p>
                    </div>
                
            
            
            <p>Mary Callan was so impressed that she wrote to Transport for London (TfL) praising Mark a 41-year-old Customer Services Assistant at Seven Sisters Underground station saying: 'TfL should be proud of an employee who takes such pride in his work and goes way beyond what is expected of them.'</p>
<p>After a stressful day at work, Mary rushed to get her train home at Liverpool Street, but 'stupidly got on an Enfield train at Liverpool Street and rather than my usual Chingford one', she explained.</p>
<p>'I suddenly realised at Seven Sisters and got off, intending to purchase a Tube ticket from Seven Sisters to Walthamstow and then get back on the National Rail line that I needed. I was feeling very irritated at this point. </p>
<h2>Genuine mistake</h2>
<p>'I heard Mark giving two tourists incredibly helpful and knowledgeable information about the best way of getting to where they needed to go and how best to purchase tickets and get around London during their stay.</p>
<p>'After he had dealt with the tourists, he came to my aid.&nbsp; After checking my annual train pass, he realised that I had made a genuine mistake.&nbsp;He then phoned Walthamstow to ensure that I would be let through the Tube barriers to get the National Rail train.</p>
<p>'On arrival at Walthamstow, I was greeted with laughing banter before eventually getting my train.&nbsp;A nightmare journey was turned into one that I will remember with a smile on my face for a very long time.'</p>
<p>Mark Warawi, who has been working for London Underground for about 19 months, said: 'It is always nice to get a thank you.&nbsp;I think it is lovely that Ms Callan took the time and trouble to write to TfL. </p>
<h2>Superb job</h2>

<p>But I was just doing my job and like my other Tube colleagues at Seven Sisters, Walthamstow Central and other stations - we all do our best to help all passengers. </p>
<p>'Travelling, particularly after a long tiring day at work can be stressful.&nbsp;The lady had obviously made a genuine mistake and I just wanted to help her get home quickly and easily.'</p>
<p>Nigel Holness, Service Director of the Bakerloo, Central and Victoria lines, said: 'I am very proud of my staff.&nbsp; They do a superb job in often difficult circumstances.&nbsp; I am delighted that we were able to help Ms Callan.'&nbsp;&nbsp;&nbsp; <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's (TfL's)&nbsp;Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available&nbsp;<a href="http://www.tfl.gov.uk/plannedworks">online</a> </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mary Callan was so impressed that she wrote to Transport for London (TfL) praising Mark a 41-year-old Customer Services Assistant at Seven Sisters Underground station saying: 'TfL should be proud of an employee who takes such pride in his work and goes";}
        
        


 