


@{ViewBag.Title = "Passengers advised to avoid changing trains at Bank station from March";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers advised to avoid changing trains at Bank station from March</h1>
        <div class="content-page-press-release">
        10 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising passengers to avoid changing between Docklands Light Railway (DLR), Northern and Central line services at Bank station when the next stage of escalator work starts in March and when it intensifies in May.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The improvements to the escalators are critical in making sure that Bank and Monument stations can continue to operate
                            
                        </p>
                    </div>
                
            
            
            <p>Four escalators are being replaced or upgraded as part of TfL's multi-billion pound Investment Programme.</p>
<p>Nigel Holness, the Service Director for Bakerloo, Central, Victoria and Sub-surface lines, said: 'We are urging passengers to plan their journeys to avoid changing trains at Bank and to use alternative stations nearby wherever possible, such as Cannon Street, Moorgate, Mansion House, London Bridge, Liverpool Street, or St. Paul's. </p>
<h2>Increasing passenger numbers</h2>
<p>'This will make their journeys easier particularly during weekday rush hours.</p>
<p>'To find a different route before setting off customers can use: tfl.gov.uk/journeyplanner.</p>
<p>'The improvements to the escalators are critical in making sure that Bank and Monument stations can continue to operate and serve the increasing number of passengers. </p>
<p>'Regular passengers will know that work has already been carried out to some escalators at these stations to ensure their long term reliability, including the complete replacement of the escalators in Monument station. </p>
<h2>Easier and quicker</h2>
<p>'More reliable escalators mean reduced congestion, faster journey times and quicker interchange times at Bank and Monument.'</p>
<p>Between March 1 and the end of the year, one of the escalators running between the Docklands Light Railway (DLR) platforms and Northern/Central lines will be replaced.&nbsp; </p>
<p>There will be no step-free lift access between the DLR platforms and street level during this work.</p>
<p>Passengers who intend to travel on the DLR or who are coming from the DLR platforms will find it easier and quicker to enter and leave via Monument station. </p>
<h2>Keep congestion to a minimum</h2>
<p>Between the start of May and the end of 2011, the three escalators running to and from the Central line ticket hall will be taken out of service for refurbishment work one at a time.</p>
<p>A one-way system will operate during the morning peak when the majority of passengers using the Central line are leaving Bank station. </p>
<p>In order to clear the platforms and keep congestion to a minimum the two working escalators will be run in the up direction so that customers will be able to leave as usual from the Central line ticket hall.</p>
<p>This means that anyone coming into Bank Station during the morning peak hours between 07:00 and 10:00 Monday to Fridays, wanting to get a Central line train should enter via the Northern line ticket hall and follow the signs to get to the Central line platforms. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel', allowing extra journey time where necessary. Travel news is available <a href="http://www.tfl.gov.uk/plannedworks">online</a> </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The DLR is undertaking a &pound;300m upgrade programme to lengthen its trains and increase capacity during the next three years. This will require extensive engineering works </li>
<li>Instead of changing trains at Bank alternative routes for passengers are proposed below: 
<ul type="circle">
<li>For passengers travelling on the Central line and wanting to travel to and from the Isle of Dogs, please change at either Bond Street or Stratford stations for the Jubilee line </li>
<li>For Central line passengers wanting to access the District line, please change at Mile End. For the Circle line use the District line between Mile End and Tower Hill or the Hammersmith &amp; City line between Mile End and Liverpool Street </li>
<li>For London Underground passengers wanting to access the DLR please change at Canary Wharf, Canning Town, West Ham, Stratford or Tower Hill/Tower Gateway </li>
<li>Local Bus services:&nbsp;Bus routes 21, 43, 133 or 141 run between London Bridge and Moorgate via Bank </li>
<li>Walking Times: 
<ul type="square">
<li>Bank/Monument - Cannon Street: five minutes </li>
<li>Bank - Mansion House:&nbsp;six minutes </li>
<li>Bank - St. Paul's:&nbsp;six minutes </li>
<li>Bank - Liverpool Street: eight minutes </li>
<li>Bank - Moorgate: nine minutes </li>
<li>Bank - London Bridge: 14 minutes </li></ul></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Four escalators are being replaced or upgraded as part of TfL's multi-billion pound Investment Programme.Nigel Holness, the Service Director for Bakerloo, Central, Victoria and Sub-surface lines, said: 'We are urging passengers to plan their journeys to";}
        
        


 