


@{ViewBag.Title = "Pioneering green travel programme delivers 75 per cent increase in cycling ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pioneering green travel programme delivers 75 per cent increase in cycling </h1>
        <div class="content-page-press-release">
        03 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycling in Sutton has dramatically increased and residents of the borough have also seen their green credentials boosted thanks to a major increase in the number of people taking the bus and a fall in the proportion of residents' journeys made by car.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The incredible increase in people cycling, walking and using public transport in Sutton is enormously encouraging"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The incredible increase in people cycling, walking and using public transport in Sutton is enormously encouraging
                            
                        </p>
                    </div>
                
            
            
            <p>The Smarter Travel Sutton scheme, which aimed to encourage residents to travel by public transport, on foot or by bike, has helped to deliver the significant changes to how people travel in the borough.&nbsp;&nbsp;</p>
<p>The scheme ran for three years and was funded by Transport for London (TfL) and delivered in partnership with the London Borough of Sutton.</p>
<p>A final report for the programme, published today, shows that the project met each of its key objectives, achieving:</p>
<ul>
<li>A 75 per cent increase in cycling in Sutton which outperforms the experience of other towns across England with similar programmes </li>
<li>A 16 per cent increase in the number of people travelling by bus </li>
<li>A six per cent reduction in the proportion of residents' journeys made by car </li>
<li>All of Sutton's 68 schools had a travel plan in place by March 2008, two years ahead of government targets. The borough now has the highest number of schools in London with plans meeting the London benchmark standards, at 39 </li>
<li>More than 16,000 employees in Sutton work for organisations that have a travel plan </li>
<li>Every household in Sutton has been offered free, personalised travel advice and information to help them make informed choices about the way they choose to travel</li></ul>
<h2>Improving health</h2>
<p>As well as the above, 27,000 people attended Smarter Travel Sutton events throughout the final year of the project and 10,000 primary school children regularly participated in the WoW initiative (Walk Once a Week).</p>
<p>Over 1,000 Sutton residents have also had a first appointment with an Active Steps advisor in an initiative which aims to improve health by encouraging people to change their travel habits.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'The incredible increase in people cycling, walking and using public transport in Sutton is enormously encouraging. </p>
<p>'Our Smarter Travel project has delivered phenomenal results and Sutton is leading the way in terms of encouraging more people to use pedal power to get from A to B. </p>
<h2>Changing attitues</h2>
<p>'The success of the Smarter Travel scheme in Sutton has led to these type of measures becoming one of the four key areas boroughs around the Capital focus on when they apply for funding from TfL.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Smarter Travel Sutton has been a great success in changing attitudes towards transport, with an overall 75 per cent increase in cycling, an increase in bus use and a reduction in the proportion of car journeys.</p>
<p>'Thousands of Sutton residents have embraced the green travel revolution taking place in the borough, with many surprised at how simple, quick and easy it is to get around by bike, on foot or on public transport rather than relying on the car.</p>
<h2>Green travel</h2>
<p>'Sutton's success is central to what we hope to achieve across the Capital, with record numbers of people cycling, walking or using public transport and we hope to work closely with all the London boroughs to replicate its success.'</p>
<p>Following the completion of the pilot &pound;5m Smarter Travel Sutton programme in September 2009, TfL formally handed over future delivery to Sutton Council and its partners - which have included the police, the Sutton and Merton Primary Care Trust , the Chamber of Commerce and the EcoLocal charity.</p>
<p>The work now continues in Sutton with transport improvements planned for each of the borough's district centres, starting with Wallington this year. </p>
<p>The council's transport department has also been renamed Smarter Travel Sutton and will ensure that promoting greener travel underpins the way it works.</p>

<h2>Changing habits</h2>
<p>Councillor Colin Hall, Executive Member for Environment on Sutton Council, said:&nbsp; 'Our experience shows that residents are happy to make significant changes to the way they travel if you listen to them and offer them the straightforward information and encouragement they need.</p>
<p>'By showing people the financial, health, as well as environmental benefits of using the car less, we've seen real changes in the way people travel locally.</p>
<p>'While the project itself has ended, the work carries on with exciting and innovative projects to come that will ensure Sutton continues to travel smarter. </p>
<p>'We urge other boroughs in London to follow our lead.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Media can request an advance copy of the Smarter Travel Sutton final report, covering September 2006 to September 2009, from Nancy Ryder in TfL's press office on 020 7126 1469 
<li>TfL and the London Borough of Richmond upon Thames launched Smarter Travel Richmond upon Thames, a three-year, &pound;4.2m initiative, in March 2009. As with Smarter Travel Sutton, it aims to help people change the way they travel, encouraging greater use of sustainable travel options such as walking, cycling or using public transport</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Smarter Travel Sutton scheme, which aimed to encourage residents to travel by public transport, on foot or by bike, has helped to deliver the significant changes to how people travel in the borough.&nbsp;&nbsp;The scheme ran for three years and was";}
        
        


 