


@{ViewBag.Title = "Taxi fares to increase by 2.3 per cent to meet higher running costs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taxi fares to increase by 2.3 per cent to meet higher running costs</h1>
        <div class="content-page-press-release">
        03 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase strikes balance between keeping taxi fares affordable and helping drivers to meet rising costs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Capital is blessed with wonderful cabbies and we've deliberated long and hard to come up with an increase we think is fair during these tough economic times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Capital is blessed with wonderful cabbies and we've deliberated long and hard to come up with an increase we think is fair during these tough economic times
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL) Board today approved an average taxi fare increase of 2.3 per cent for the 2010/11 financial year, the lowest since 2004.</p>
<p>The fare rise aims to find a balance between maintaining income levels for drivers, who face disproportionately higher costs in order to work than average Londoners, while ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers.</p>
<p>TfL's Board approved the new fares following consultation by TfL with the taxi trade and others, including London TravelWatch and the London Chamber of Commerce and Industry. </p>
<h2>Rising operating costs</h2>
<p>The increase is calculated according to a long established formula and will help drivers cover rising operating costs. </p>
<p>The Board also approved a new deal on licence and testing fees for taxi and private hire drivers, including a freeze on some fees.</p>
<p>The Mayor of London, Boris Johnson, said: 'The Capital is blessed with wonderful cabbies and we've deliberated long and hard to come up with an increase we think is fair to everyone during these tough economic times. </p>
<p>'I hope this increase will allow cabbies to meet the annual increases in insurance and fuel costs. </p>
<p>'But also help those with older cabs bring their vehicles in line with our desire to improve the air we all breathe in this great city by driving the type of clean, green taxis that will achieve that aim.' </p>
<h2>A fair price</h2>
<p>John Mason, Director of Taxi and Private Hire at Transport for London, said: 'The new fares take into account an agreed increase in the costs of running a black cab and balances this with setting a fair price for those who want to travel by taxi. </p>
<p>'We are trying to work with the drivers and operators to help keep them out on the road and providing Londoners with the excellent service they are renowned for around the world.'</p>
<p>Bob Oddy, General Secretary of the Licensed Taxi Drivers Association, said: 'The LTDA welcomes this small but important increase. </p>
<p>'Like everyone else London's cabbies continue to face significant financial challenges not least due to significant increases in taxi running costs such as fuel and insurance. </p>
<p>'This is the lowest increase in fares since 2004 and shows that hard working cabbies continue to face the same financial challenges as their customers.'</p>
<p>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981.</p>
<p>They will come into effect from 1 April 2010.</p>
<p>The 2.3 per cent increase for the next financial year includes a 1.9 per cent increase based on the 2010 cost index, which takes into account the rise in average national earnings and an increase in insurance rates which have risen 19.5 per cent on last year; plus a one-off 0.4 per cent to remedy a calculation error from 2007 which the taxi trade chose not to introduce last year due to the economic downturn.</p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs. These are:<br>Tariff 1: Monday to Friday, between 06.00 and 20.00<br>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00<br>Tariff 3: Nightly between 22.00 and 06.00 and on public holidays </li>
<li>The one-off 0.4 per cent increase relates to an error in 2007 when there was a discrepancy between the approved percentage increase and the final calculated tariffs. It was proposed to rectify this error in 2009/10 by adding 0.4 per cent for one year only to fares, however at the time stakeholders agreed that it would be inappropriate given the financial downturn. It was proposed again as part of the 2010/11 fares review to include the 0.4 per cent increase for one year only, and driver associations have now supported its inclusion </li>
<li>The 2010 cost index has calculated the increase in insurance costs for taxi drivers to be 19.5 per cent higher than the previous year </li>
<li>The Mayor is currently consulting on his draft Air Quality Strategy. For the taxi trade, the strategy proposes age limits for taxi and private hire vehicles, amongst other initiatives to reduce emissions from road transport. For more information go to <a href="http://www.london.gov.uk/mayor/environment/air_quality/index.jsp">www.london.gov.uk/mayor/environment/air_quality/index.jsp</a>. </li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) Board today approved an average taxi fare increase of 2.3 per cent for the 2010/11 financial year, the lowest since 2004.The fare rise aims to find a balance between maintaining income levels for drivers, who face";}
        
        


 