


@{ViewBag.Title = "Travel, art and portraiture expand the mind for young people from Brent  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel, art and portraiture expand the mind for young people from Brent  </h1>
        <div class="content-page-press-release">
        11 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube customers will be able to enjoy new photo-portraits of young people at Kingsbury and Charing Cross Underground stations from Monday 15 February.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope customers travelling through the stations will enjoy the artwork as much as the youngsters involved enjoyed creating it"</div>
        <div class="quote-footer">
            <div class="quotee-name">Louise Coysh</div>
            <div class="quotee-job-title">Curator for Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope customers travelling through the stations will enjoy the artwork as much as the youngsters involved enjoyed creating it
                            
                        </p>
                    </div>
                
            
            
            <p>Children and teenagers from Brent Youth Inclusion Programme were invited by photographer Nadia Bettega to be part of her new work for Art on the Underground.&nbsp; </p>
<p>Bettega's project, Threads, draws inspiration from the expression 'travel expands the mind' and is one of a series of contemporary art projects taking place on the Jubilee line this year that explore time and its value. </p>
<p>The photography will be displayed as posters at both stations.&nbsp; </p>
<h2>International artists and photographers</h2>
<p>In the course of a week, Bettega took the group of 10 young people from their local Neasden Underground station to a variety of significant places in Brent, all of which were located along the Jubilee line.&nbsp; </p>
<p>These included Wembley Park Underground station and Wembley Stadium.</p>
<p>The group also visited exhibitions by international artists and photographers at Camden Arts Centre near Finchley Road Underground station and The Photographers' Gallery in central London, to develop their knowledge of portraiture.</p>
<p>Each member of the group kept a daily journal in which they developed ideas about the different people who might work at or visit each location.&nbsp; </p>
<h2>Fascinatingly diverse</h2>
<p>Bettega then made a series of photographic portraits of the participants, capturing them both acting as their imaginary characters, as well as 'being themselves' in their home environments.&nbsp; </p>
<p>The resulting works show a fascinatingly diverse set of reactions from the young people and invite us to question what portraits can reveal. </p>
<p>Louise Coysh, Curator for Art on the Underground, said: 'I'm really pleased with the results of this art project. </p>
<p>'These photo-portraits speak for themselves. The young people that Bettega worked with have shown how imaginative they are. </p>
<p>'I hope customers travelling through the stations will enjoy the artwork as much as the youngsters involved enjoyed creating it.'</p>
<p>Photographer Nadia Bettega said: 'Each of the places we visited were as new to me as they were to the young people, which illustrated how diverse the city is and how this is connected by the London Underground.&nbsp; </p>
<h2>Creative potential</h2>
<p>'I found the young people from Brent Youth Inclusion Programme refreshing to work with; they had so much energy and humour, imagination and creativity, depth and insight in the way in which they related to their characters and each other. </p>
<p>'I felt lucky to have been allowed to see into their lives and their minds - to have had the chance to see each person grow in their ideas, confidence and trust.'</p>
<p>John Christie, Director of Children and Families at the London Borough of Brent, said: 'It's extremely satisfying to be able to give young people such a fantastic opportunity to showcase their talents.</p>
<p>'It is hugely exciting that Threads will be seen by a large and diverse audience. Hopefully it will inspire other young people to find their creative potential.'</p>
<p>Hakeem, aged 12, from the Brent Youth Inclusion Programme, said: 'The project was about travelling to places and acting out what others did for a living. </p>
<p>'I thought it was a great experience. I enjoyed learning about taking pictures. I hope we get to do something similar again.'</p>
<p>Threads will be also be exhibited at The Wall &#64; The Gallery, Willesden Green Library, Friday 12 February to Friday 12 March 2010. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Threads is one of a series of artworks commissioned by Art on the Underground for the Jubilee line. The series brings together six artists whose commissioned works explore the relationship between value and time. These artists are Nadia Bettega, John Gerrard, Dryden Goodwin, Richard Long, Daria Martin and Matt Stokes </li>
<li>For this project, Art on the Underground worked in collaboration with the Brent Youth Inclusion Programme (YIP), a Brent Council programme that provides positive activities for young people aged eight to 17 years, living in Church End or Roundwood </li>
<li>Art on the Underground is London Underground's (LU's) art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three-and-a-half million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL's) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available <a href="http://www.tfl.gov.uk/plannedworks">online</a> </li>
<li>Find out more about <a href="http://www.tfl.gov.uk/art">Art on the Underground</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Children and teenagers from Brent Youth Inclusion Programme were invited by photographer Nadia Bettega to be part of her new work for Art on the Underground.&nbsp; Bettega's project, Threads, draws inspiration from the expression 'travel expands the mind'";}
        
        


 