


@{ViewBag.Title = "UK's biggest hydrogen fuel cell to generate greener energy for TfL and LDA";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK's biggest hydrogen fuel cell to generate greener energy for TfL and LDA</h1>
        <div class="content-page-press-release">
        19 February 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the London Development Agency (LDA) sign-up to 10:10 campaign to cut carbon emissions from head office buildings and save &pound;400,000 off energy bills.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL will continue to drive forward programmes that will result in CO2 reductions and increased fuel efficiency"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Stanton</div>
            <div class="quotee-job-title">TfL's Head of Sustainable Buildings</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL will continue to drive forward programmes that will result in CO2 reductions and increased fuel efficiency
                            
                        </p>
                    </div>
                
            
            
            <p>TfL today launched the UK's biggest hydrogen fuel cell housed in a building.&nbsp; </p> <p>Based at the Palestra building in Southwark, it will generate cleaner, low-carbon energy on site, saving thousands off energy bills. </p> <p>TfL also jointly announced with the LDA that all their head office buildings will participate in the 10:10 campaign, with the aim to reduce carbon emissions by 10 per cent providing an estimated &pound;400,000 in cash savings. </p> <h2>&pound;90,000 cost savings per annum</h2> <p>TfL has installed a &pound;2.4m Combined Heat and Power (CHP) plant, including the hydrogen fuel cell, at the Palestra building to generate energy locally, cut carbon emissions and save money off energy bills. </p> <p>The building is shared by 2,800 TfL and LDA staff. </p> <p>It is estimated that the fuel cell and power plant will cut carbon emissions by up to 40 per cent and generate &pound;90,000 cost savings per annum. </p> <p>To communicate the benefits of hydrogen and the fuel cell to people passing and visiting the building, a permanent multi-media exhibition display has been created - this will be fuelled by the energy generated on site. </p> <h2>A quarter of its own power</h2> <p>The state of the art hydrogen fuel cell, funded by the &pound;25m TfL Climate Change fund, will provide electricity, heat and cooling to the building. </p> <p>In addition, the building's hot water supply will be heated by the fuel cell. </p> <p>At times of peak energy use, the building will generate a quarter of its own power, rising to 100 per cent off-peak.</p> <p>The waste heat from power generation will be pumped into a unit on the roof which will work to keep the building cool and supplements the building's six electric chillers. </p> <h2>Showcasing the technology</h2> <p>Officially opening the fuel cell and the public exhibition, Kit Malthouse, Chair of the London Hydrogen Partnership and Deputy Mayor of London for policing, said: 'Zero polluting hydrogen fuel has the potential to radically transform the way we power our city to create a more pleasant environment. </p> <p>'This isn't a fuel of the future, but available right now. To catalyse its use more widely, we are showcasing the technology, so others will be inspired to follow our lead.'</p> <p>TfL and the LDA has also joined City Hall in signing up to the 10:10 campaign, making the pledge to reduce carbon emissions by 10 per cent. </p> <p>TfL's and the LDA's commitment will apply from 1 April 2010 to 31 March 2011. </p> <h2>10% reduction in carbon dioxide</h2> <p>An estimated &pound;400,000 will be sliced from head office energy bills in the next financial year as a result of these energy efficiencies which will be reinvested to fund more energy saving projects.</p> <p>The ten per cent reduction in carbon dioxide (CO2) emissions from Palestra and other TfL head office buildings will expected to be delivered through a range of initiatives, which will include: </p> <ul> <li>Solar panels to heat water from cleaner, renewable energy  </li><li>Green roofs to boost insulation, help absorb rainwater and boost local ecology  </li><li>The replacement of 2,500 lights with more energy-efficient parts including high-efficiency lamps  </li><li>Motion and daylight sensors on lights so lighting will only come on when needed  </li><li>A staff engagement programme from April 2010 to encourage TfL and LDA staff to reduce their energy usage  </li><li>Replacement of around 1,000 halogen lamps with low-energy LED lamps that will cut energy by 90 per cent and improve lamp life by 25 times</li></ul> <p>The launch of the fuel cell and the 10:10 commitment are just two of a raft of measures that TfL and the LDA has undertaken in order to cut carbon emissions and improve their organisation's impact on the environment. </p> <p>Improvements in building energy efficiency over the past four years have saved nearly &pound;2m to date. </p> <h2>Increased fuel efficiency</h2> <p>Andrew Stanton, TfL's Head of Sustainable Buildings, said: 'Installing the UK's biggest in-house hydrogen fuel cell and signing up to the 10:10 commitment reinforces TfL's commitment to cutting carbon and improving our energy efficiency. </p> <p>'TfL will continue to drive forward programmes that will result in CO2 reductions and increased fuel efficiency.'</p> <p>TfL is committed to become more energy-efficient, cutting carbon and pollution across its operations. </p> <p>Key measures include the introduction of 56 hybrid buses, with all new buses entering the fleet being hybrid by 2012, and the use of regenerative braking on the Tube which can reduce energy consumption by up to 25 per cent. </p> <h2>Investing millions</h2> <p>TfL is also investing millions into programmes and technologies that will deliver a cleaner, greener Capital such as a public cycle hire scheme launched later this year, encouraging the uptake of electric vehicles, promoting the benefits of walking and designing a new green bus for the Capital. </p> <p>Improvements to London's public transport services have helped deliver a six per cent shift away from the private car since 2000, one of the major contributors to transport-related carbon emissions in London. </p> <p>Emma Strain, Head of Energy Efficiency at the London Development Agency, said: 'The London Development Agency is pleased to sign up to the 10:10 campaign. </p> <p>'We are spending &pound;23m on climate change programmes over the next year to cut London's carbon pollution and to help put London on track to meet the Mayor's target of a 60 per cent cut by 2025. </p> <h2>Cutting waste</h2> <p>'The pledge to introduce carbon-cutting measures, including solar panels on the roof and a hydrogen fuel cell, was an important part of our decision to move to Palestra. </p> <p>'We will be introducing other environmental measures to ensure we cut our carbon pollution by 10 per cent including a focus on cutting waste and paper consumption and cutting energy use.'</p> <p>Eugenie Harvey, Director of&nbsp; 10:10, said: 'London's transport system is iconic around the world. </p> <p>'To keep the trains and buses running on time Transport for London and the London Development Agency employ tens of thousands of people across over thirty offices. </p> <p>'Their commitment to reduce their offices emissions by 10 per cent will make a major difference.'</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The Mayor of London has set a target to reduce CO2 levels by 60 per cent by 2025 (against 1990 levels of CO2 emissions). The Mayor also aims to have 25 per cent of London's energy source from local sources by this time  </li><li>TfL's 32 head office buildings, including 55 Broadway and Windsor House will sign up to the 10:10 commitment from 1 April 2010 - 31 March 2011 to collectively reduce carbon emissions by 10 per cent during this time  </li><li>TfL's 10:10 commitment for head office buildings will be achieved through:  <ul type="circle"> <li>A programme of retrofitting 22 of the buildings in the TfL property portfolio as part of the Buildings Energy Efficiency Programme. TfL and the GLA are one of a number of different public sector organisations working with the Clinton Climate Initiative and the C40 group of world cities to retrofit their public sector buildings improving their energy efficiency  </li><li>Buildings not part of BEEP will have improvements made to reduce their energy usage with a package of insulation, metering and lighting measures  </li><li>A staff behavioural change programme from April 2010 focussing on reducing energy from office equipment  </li><li>A new energy management system and enhanced automated meter reading system  </li><li>Better control of temperature and heating and cooling systems via an enhanced sophisticated Building Management System across all buildings will lead to further energy savings  </li><li>Replacement of old boilers in three office buildings that are low condensing NOx boilers  </li><li>Replacement of around 2500 light fittings with low energy, high efficiency fitting</li></ul> <li>TfL's work to improve the sustainability of its buildings has also been recognised with Palestra being given an excellent BREEAM rating, an internationally recognised method of assessing a building's energy performance and an award for Client of the Year at the annual Low Carbon Performance Award. TfL head office buildings have also been accredited under the Energy Efficiency Accreditation Scheme since 2003 and are currently being assessed under the Carbon Trust Standard  </li><li>London's commercial and public sector buildings alone produce around 15 million tonnes of carbon per year and accounts for 33 per cent of total London emissions. The premises which are part of the Greater London Authority Group produce 0.18 million tonnes of carbon each year, which is equivalent to one per cent of London's commercial and public sector building emissions  </li><li>TfL acquired the lease for the Palestra building in Southwark in August 2006 (for 20 years) and occupies ten of the building's 12 floors with the remaining two floors occupied by the LDA  </li><li>TfL has completed a major retro-fit of the Palestra building to dramatically reduce running costs and improve its environmental performance. As part of the retro-fit, TfL has installed the largest fuel cell CHP plant to be housed in a UK building  </li><li>There are currently 56 diesel-electric hybrid buses on London's roads which are cleaner, quieter and use significantly less fuel than their diesel counterparts, cutting emissions of carbon dioxide by up to 40 per cent. A further 300 new hybrid buses will be operating on routes across London by March 2011. After that time it is expected that all new buses entering London will be hybrid buses - we believe this is the most ambitious hybrid bus programme in Europe</li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today launched the UK's biggest hydrogen fuel cell housed in a building.&nbsp;Based at the Palestra building in Southwark, it will generate cleaner, low-carbon energy on site, saving thousands off energy bills.TfL also jointly announced with the LDA";}
        
        


 