


@{ViewBag.Title = "Plan ahead for autumn weekend closures affecting TfL Rail";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead for autumn weekend closures affecting TfL Rail</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead for autumn weekend closures affecting TfL Rail</h1>
        <div class="content-page-press-release">
        06 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Customers are advised that work to improve stations, tracks and prepare for new trains and future Elizabeth line services, will result in a number of weekend closures between Liverpool Street and Shenfield this autumn.</p>
<p>The work, which is being carried out by Network Rail and will affect both TfL Rail and Abellio Greater Anglia services, will include the remodelling of track at Shenfield, and upgrading and replacing old overhead power lines between Liverpool Street and Shenfield. When complete, this will reduce delays and improve reliability for rail passengers.</p>
<p>Network Rail will continue platform work to prepare for the new longer air-conditioned trains, which are currently being built and tested and will start serving the route from May next year.</p>
<p>Station improvement work, that cannot take place when trains are running, will also take place, including both TfL and Network Rail preparatory work for new lifts at stations.</p>
<p>Howard Smith, TfL's Operations Director for TfL Rail, said: `I'd like to thank customers for their patience while the work is taking place and ask them to always check for updates before they travel.</p>
<p>&quot;The work taking place is necessary to improve reliability of services, get ready for the new trains that will start serving the route from next year and prepare for full Elizabeth line services.'</p>
<p>Richard Schofield, Network Rail's route managing director for Anglia, said: `This autumn and winter will see some of the biggest and most crucial changes on this route in years, helping improve passenger and freight services for everyone in the region. Our Railway Upgrade Plan is vital in helping deliver the new trains as part of the Crossrail construction project in 2017, and removing a long and painful speed restriction which will no longer delay trains in the heat of summer.</p>
<p>`While I understand the inconvenience and disruption that closing the railway causes, the initial and long-term benefits for passengers are huge and we cannot postpone the opportunity to provide a bigger and better railway for the people of East Anglia and London. I'd like to thank passengers for their understanding while we carry out the work and my advice is to check how their journeys will be affected before they travel so they can plan ahead.'</p>
<p>Rail replacement buses will operate and customers are advised to check <a href="http://tfl.gov.uk">tfl.gov.uk</a> to plan their route, and for updates on engineering works and transport service changes that may affect journeys.</p>
<p>TfL Rail operates the stopping service between Liverpool Street and Shenfield. This will become part of the Elizabeth line in December 2018 when the central tunnels through London are opened.</p>
<p>ends</p>
<p>Notes to editors:<br />
The closures are as follows:</p>
<p>Saturday 17 September<br />
No service between Stratford and Shenfield from 11:15</p>
<p>Sunday 18 September<br />
No service between Stratford and Shenfield</p>
<p>Saturday 24 and Sunday 25 September<br />
No service between Stratford and Shenfield</p>
<p>Saturday 01 October<br />
No service between Chadwell Heath and Shenfield</p>
<p>Sunday 02 October<br />
No service between Stratford and Shenfield</p>
<p>Saturday 08 October<br />
No service between Stratford and Shenfield from 11:15</p>
<p>Sunday 09 October<br />
No service between Stratford and Shenfield</p>
<p>Saturday 15 October<br />
No service between Chadwell Heath and Shenfield</p>
<p>Sunday 16 October<br />
No service between Stratford and Shenfield</p>
<p>Saturday 22 October<br />
No service between Chadwell Heath and Shenfield</p>
<p>Sunday 23 October<br />
No service between Stratford and Shenfield</p>
<p>Saturday 29 October<br />
No service between Stratford and Shenfield until 20:00<br />
No service between Liverpool Street and Shenfield from 20:00</p>
<p>Sunday 30 October<br />
No service between Liverpool Street and Shenfield</p>
<p>Saturday 05 November<br />
No service between Chadwell Heath and Shenfield</p>
<p>Sunday 06 November<br />
No service between Stratford and Shenfield</p>
<p>There will also be a reduced service between Brentwood and Shenfield this autumn.</p>
<p>Saturday 3 and Fridays 16 &amp; 23 September<br />
Reduced service between Brentwood and Shenfield from 22:50 until 23:50</p>
<p>From Monday 26 September until Friday 4 November<br />
No service between Brentwood and Shenfield weekdays from 23:00 until 00:50<br />
Abellio Greater Anglia trains will call additionally at Brentwood</p>
<ul>
    <li>On Sunday 25 September, Saturday 1 October and Saturday 22 October football matches will take place at London Stadium at the same time as track closures on TfL Rail and Abellio Greater Anglia services.</li>
    <li>Rail replacement buses, as well as Stratford and Newbury Park stations and the Central line are expected to be busier than usual.</li>
    <li>Customers are advised to check their journeys for further details and alternative travel arrangements at <a href="http://tfl.gov.uk">tfl.gov.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-Plan ahead for autumn weekend closures affecting TfL Rail -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 