


@{ViewBag.Title = "REMINDER: Closure of Gospel Oak to Barking railway line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">REMINDER: Closure of Gospel Oak to Barking railway line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>REMINDER: Closure of Gospel Oak to Barking railway line</h1>
        <div class="content-page-press-release">
        20 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers are being reminded that a full line closure will commence on Saturday 24 September following first phase of work
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The work being carried out by Network Rail will enable us to run new longer walk-through trains on the line from January 2018, which will double capacity on the route"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Stubbs</div>
            <div class="quotee-job-title">Director of London Overground, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>From early 2018 passengers will benefit from four car trains that will provide double the space, reduce congestion and improve journeys</li>
</ul>
<p>Customers and local residents are being reminded that the second phase of major upgrade work to the London Overground between Gospel Oak and Barking will result in the whole line being closed on weekdays and weekends from Saturday 24 September, as part of Network Rail's Railway Upgrade Plan.</p>
<p>Replacement bus services will be available for parts of the journey and customers are advised to plan their journeys in advance. Regular pay as you go users of the Gospel Oak to Barking line will be automatically refunded the additional cost of travel via Zone 1 by Tube or rail.</p>
<p>Network Rail is delivering the project, which is funded by the Department for Transport and Transport for London (TfL). The project will see TfL introduce new four car electric trains to replace the existing two car diesel trains from January 2018, helping to meet growing passenger demand. The trains are being built by Bombardier for TfL.</p>
<p>Network Rail is carrying out major work including lowering four major sections of track, installing structures to carry the overhead wires and rebuilding four bridges. The first phase of the work started in June with no service between South Tottenham and Barking during weekdays and a full line closure at weekends. <span style="text-decoration: underline;">From Saturday 24 September</span> to February 2017, a full closure in both directions from Gospel Oak to Barking is necessary to carry out the second phase of the work. TfL will be providing rail replacement buses, which will operate along the route.</p>
<p>A short summary video of the project can be watched here <a href="http://networkrail.co.uk/gobe">networkrail.co.uk/gobe</a></p>
<p>Mike Stubbs, TfL's Director of London Overground, said: </p>
<p>'We would like to thank our customers for their patience while this essential work takes place. The work being carried out by Network Rail will enable us to run new longer walk-through trains on the line from January 2018, which will double capacity on the route.'</p>
<p>Network Rail's route Managing Director, Richard Schofield, said: </p>
<p>'This upgrade will have huge benefits to passengers and neighbours. It will enable longer, quieter and cleaner trains to run. However, to achieve this we need more space under bridges to fit electrification equipment. In some locations this requires us to lower the track. The nature of this work is noisy and I would like to thank those living near the railway for their continued patience.'</p>
<p>Passengers should check before they travel and plan their journey in advance. From Saturday, 24 September the replacement bus services will operate as follows:</p>
<ul>
    <li>
    Service T: Walthamstow Central - Leyton Midland Road - Leytonstone High Road - Wanstead Park - Woodgrange Park &#45; East Ham&#45; Barking. Buses every 15 minutes on weekdays and every 20 minutes on weekends.</li>
    <li>Service J: Gospel Oak - Upper Holloway - Crouch Hill - Finsbury Park - Harringay Green Lanes - Seven Sisters (for South Tottenham). Buses every 20 minutes on weekdays and every 30 minutes on weekends.</li>
</ul>
<p>Customers travelling between South Tottenham and Walthamstow Queen's Road stations can use the Victoria line. Full details of the alternative travel and ticketing arrangements can be found at: <a href="http://tfl.gov.uk/london-overground-closure">tfl.gov.uk/london-overground-closure</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>
    For more information on changes to journeys between Gospel Oak to Barking, including maps and travel advice, please visit <a href="http://tfl.gov.uk/london-overground-closure">tfl.gov.uk/london-overground-closure</a></li>
    <li>For more information about refunds and ticket acceptance, visit <a href="http://tfl.gov.uk/london-overground-closure#on-this-page-4">tfl.gov.uk/london-overground-closure#on-this-page-4</a></li>
    <li>Sign up for email updates at <a href="http://tfl.gov.uk/emailupdates">tfl.gov.uk/emailupdates</a></li>
    <li>Railway neighbours who would like more information on how the work will impact their home can call Network Rail's helpline on 0345 711 4141 or visit <a href="http://networkrail.co.uk/contactus">networkrail.co.uk/contactus</a></li>
    <li>More information on work carried out by Network Rail on this route can also be found at <a href="http://networkrail.co.uk/gobe">networkrail.co.uk/gobe</a></li>
    <li>Follow Network Rail's progress on Twitter &#64;NetworkRailGOBE</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-REMINDER: Closure of Gospel Oak to Barking railway line -->

 
 
        
        
            @{ViewBag.Description = "REMINDER: Full line closure of Gospel Oak to Barking railway line starts 24 September";}
        
        


 