


@{ViewBag.Title = "Signalling cabin an item of national historic interest";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Signalling cabin an item of national historic interest</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Signalling cabin an item of national historic interest</h1>
        <div class="content-page-press-release">
        05 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Heritage 1926 London Underground signalling cabin designated as an item of national historic interest
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We aim to provide safe public access to the cabin in the future so that Londoners can share in this unique part of the Capital's transport history"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Work is underway to protect historic railway technology across the Circle, District, Hammersmith &amp; City and Metropolitan lines as London Underground carries out a vital modernisation programme</li>
    <li>Photos of the cabin, including archive images, are available at <a href="https://www.flickr.com/photos/tflpress/albums/72157673309774685">https://www.flickr.com/photos/tflpress/albums/72157673309774685</a></li>
</ul>
<p>London Underground's (LU) Circle and Hammersmith &amp; City line signalling cabin at Edgware Road has been designated as an item of national historic interest.</p>
<p>Originally built in 1926 and operated by the Metropolitan Railway &#45; the world's first underground railway and the predecessor to LU &#45; the cabin's surprisingly robust technology is still in use. Its mechanical &quot;K-style&quot; lever frame operates the interlocking of signals and points at the complex junction used by the Circle and Hammersmith &amp; City lines.  A signalling operator controls this intricate system, with its many brass levers and interlockings, so that trains can arrive and depart on time.</p>
<p>Though the signalling system has been operating safely, and although it was in its day remarkably complex, LU now needs to use new technology that is capable of running trains even closer together to give Londoners the high-frequency service they need. The system at Edgware Road will be upgraded as part of a vast programme of modernisation; introducing new technology that will reduce journey times and deliver a 33 per cent boost in capacity on the four lines by the early 2020s. Once completed there will be trains every two minutes across much of this part of the network in central London.</p>
<p>Mark Wild, London Underground's Managing Director, said: </p>
<p>'Upgrading the Circle, District, Hammersmith &amp; City and Metropolitan lines will enable us to increase capacity for millions of our customers. At the same time, it's important to us that we recognise the significance of earlier technological advances made by London Underground.</p>
<p>'When the Edgware Road signalling cabin is honourably retired as part of our modernisation programme, it will have been in use for nearly a century. We aim to provide safe public access to the cabin in the future so that Londoners can share in this unique part of the Capital's transport history.'</p>
<p>Mike Ashworth, London Underground's Design and Heritage Manager, said: </p>
<p>'This unique signalling cabin harks back to the earliest days of London's transport network, being originally built and used by the Metropolitan Railway in 1926. It is a testament to its pioneering design and robustness that it is still in use today.</p>
<p>'Ensuring we understand and preserve the heritage of the world's first underground railway &#45; with all its surprising historic quirks &#45; is key. Our new signalling builds upon our tradition of using technology to better operate the Underground system for the benefit of our customers'.</p>
<p>Installation of new signalling equipment has already begun on track between Edgware Road and Hammersmith &#45; the first of a complete overhaul of the signalling and control systems across the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>
<p>The new signalling is being provided by Thales &#45; the global transportation systems provider &#45; and is similar to the systems now successfully being used on the Jubilee and Northern lines, where performance and reliability have improved and journey times have been cut. The new signalling system will be installed in sections across the four lines between now and 2021 with the main benefits being delivered by 2022, when the frequency of trains running during peak periods will increase to 32 trains per hour in central London &#45; a train every two minutes &#45; with frequency increases at other times as well.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Edgware Road signalling cabin has been designated as an item of national historic importance by the Railway Heritage Designation Advisory Board.</li>
    <li>The Circle, District, Hammersmith &amp; City and Metropolitan lines together make up nearly 40 per cent of the network and include the oldest part of the network built in 1863. As well as circling central London, the lines reach out to suburbs to the West, North West and East of the Capital. Between them the four lines carry around 1.3 million passengers a day - more than many European countries carry on their entire rail networks.</li>
    <li>This next major phase of the Tube's modernisation will bring faster, more frequent and more reliable journeys to millions of passengers who use the Circle, District, Hammersmith &amp; City and Metropolitan lines. As a result, up to 1,100 jobs and 60 apprenticeships will be sustained or created, both in London and across the UK.</li>
    <li>Customers are already seeing improved services on the four lines as Transport for London completes the introduction of the new air-conditioned trains on the entire network in 2016.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-Signalling cabin an item of national historic interest -->

 
 
        
        
            @{ViewBag.Description = "Heritage 1926 London Underground signalling cabin designated as an item of national historic interest";}
        
        


 