


@{ViewBag.Title = "Tour of Britain finale comes to London on Sunday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tour of Britain finale comes to London on Sunday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain finale comes to London on Sunday</h1>
        <div class="content-page-press-release">
        06 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mark Cavendish and Sir Bradley Wiggins among elite cyclists to race 100 kilometres in Westminster for final stage of Tour of Britain
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will be wonderful to see some of the world's best cyclists back in London, and I hope the sight of these great sporting figures competing in the capital will encourage even more Londoners to take to two wheels"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Road users advised to allow more time for journeys and consider alternative routes where possible</li>
</ul>
<p>Olympic and Tour de France legends Mark Cavendish and Sir Bradley Wiggins will star in the Tour of Britain finale this Sunday in central London. This will be the fourth year in a row that the Capital has been the final stage for the iconic finish to eight days of racing, creating inspirational scenes and atmosphere to encourage people onto two wheels and continuing to help make London a byword for cycling. Research conducted for Transport for London (TfL) suggests that last year's race inspired tens of thousands to cycle more often.</p>
<p>The British riders will be joined in the Tour of Britain London stage, supported by TfL, through Westminster by German sprinter Andre Greipel and Australia's former world hour record holder Rohan Dennis. The race will start and finish on Regent Street St James's (Lower Regent Street) after sixteen laps around Regent Street, Piccadilly Circus, Trafalgar Square, Strand, Aldwych and Whitehall.</p>
<p>TfL is advising road users to allow more time for journeys and to consider alternative routes on Sunday 11 September due to road closures for the event. The closures will also mean roads near the race will be busier than usual and some central London bus routes will be diverted or terminate early.</p>
<p>The Mayor of London Sadiq Khan said: </p>
<p>'It will be wonderful to see some of the world's best cyclists back in London, and I hope the sight of these great sporting figures competing in the capital will encourage even more Londoners to take to two wheels. It's good for our health, helps tackle our toxic air pollution and eases congestion. That's exactly why I'm working hard to make London safer and easier for all to cycle.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: </p>
<p>'It is fantastic to be able to welcome back the Tour of Britain and the world-class cyclists it brings to London. The Tour will give everyone an opportunity to finish off a fantastic cycling summer - from a record GB medal haul in the Rio velodrome to the opening of segregated Cycle Superhighways across London. There will need to be road closures in central London to hold this elite event, and drivers and bus users are advised to avoid these areas to ensure their journeys are not affected.'</p>
<p>Mick Bennett, Tour of Britain Race Director, said: </p>
<p>'The London Stage presented by TfL will be a great finale to this year's Tour of Britain, and a fantastic chance for fans to come out and see the world's top riders, including of course our very own Olympic medallists Sir Bradley Wiggins, Owain Doull and Mark Cavendish. We look forward to another fast and exciting stage in front of London's most famous landmarks, showing what a great place to cycle this wonderful city is.'</p>
<p>Advance warning signs are in place on the race route to advise road users of the closures required to ensure the safety of competitors and spectators, and TfL will be providing live information through the &#64;tfltrafficnews. Twitter feed and on the TfL website to help drivers plan their journey &#45; <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a>.  Bus customers can follow the &#64;tflbusalerts Twitter feed for live information. A small number of Santander Cycles docking stations near the event route will be suspended from 20:00 on Saturday until 08:00 on Monday.</p>
<hr />
Notes to Editors:<br />
<ol>
    <li>A map of the Tour of Britain final stage route in London and details of the road closures involved can be found at <a href="http://tfl.gov.uk/tour-of-britain">tfl.gov.uk/tour-of-britain</a>.</li>
    <li>The Tour of Britain, the UK's biggest professional cycle race and the country's largest annual free-to-spectate sporting event, was re-launched in 2004. This year it started in Scotland.</li>
    <li>London has hosted the start or finish stage of the Tour of Britain every year since 2004, except for 2012, when the city hosted the Olympics.</li>
    <li>Spectators will be able to learn more about cycling in London at the Time to Cycle stand at Trafalgar Square. Staff will be on hand to provide advice on Cycle Skills, Santander Cycles, route planning and new cycling infrastructure and prizes, including a Brompton Bike, will be up for grabs. For more information on cycling in London go to <a href="http://tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>.</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-Tour of Britain finale comes to London on Sunday -->

 
 
        
        
            @{ViewBag.Description = "Tour of Britain finale comes to London on Sunday";}
        
        


 