


@{ViewBag.Title = "Aldgate East hosts local self-portraits";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Aldgate East hosts local self-portraits</h1>
        <div class="content-page-press-release">
        15 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, the Underground's public art programme, is delighted to announce a new local collaboration with Bethnal Green-based Wessex Girls Youth Group and the Whitechapel Art Gallery, for Aldgate East Tube station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The compositions express feelings about identity, race and representation
                            
                        </p>
                    </div>
                
            
            
            <p>The new exhibition, entitled 'Mine', is now on display until March in the six alcoves above the Hammersmith and City and District Line platforms.</p>
<p>'Mine'<em> </em>is part of Platform for Art's Creative Communities programme which is committed to finding new ways to introduce art from diverse communities into the Underground.</p>
<p>Over six weeks the Wessex Girls Youth Group worked with London based artist Marysa Dowling to explore issues around race and identity inspired by the recent Whitechapel exhibition 'Black to Black - Art, Cinema and the Racial Imaginary'.</p>
<p>The group produced a series of digital photographic compositions expressing feelings about identity, race and representation.</p>
<p>With their hands painted with henna in the <em>mehndi</em> tradition, the young women experimented with clothes and props including masks, wigs and veils in order to produce self portraits that highlight their individual, personal expressions through fashion and disguise.</p>
            <ul>
<li>This project is part of Whitechapel Gallery's education programme in partnership with Oxford House community arts centre, Bethnal Green</li>
<li>It is supported by the D'Oyly Carte Foundation, The Baring Foundation and the Lord Mayor's Appeal</li>
<li>Platform for Art is the public art programme for London Underground</li>
<li>For more information on Platform for Art, its exhibitions and projects, please telephone 020 7126 4625 or email <a href="mailto:plat4art&#64;tube.tfl.gov.uk">plat4art&#64;tube.tfl.gov.uk</a> or visit <a href="http://www.tfl.gov.uk/tube">www.tfl.gov.uk/tube</a></li>
<li>Images of the artwork are available from the TfL Press Office.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new exhibition, entitled 'Mine', is now on display until March in the six alcoves above the Hammersmith and City and District Line platforms.'Mine' is part of Platform for Art's Creative Communities programme which is committed to finding new ways to";}
        
        


 