


@{ViewBag.Title = "Battersea Bridge to re-open ahead of schedule";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Battersea Bridge to re-open ahead of schedule</h1>
        <div class="content-page-press-release">
        29 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone and Transport for London (TfL) today confirmed that Battersea Bridge will fully open well ahead of schedule and quite possibly as early as the end of January.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            An innovative engineering technique will cut months off the time the bridge will be closed
                            
                        </p>
                    </div>
                
            
            
            <p>With a contract awarded yesterday, repair work will start during 
the first week of December.</p>
<p>The repair will involve an innovative engineering technique using steel rods 
and plating which are heated before being used to literally 'stitch' the damaged 
sections of the 115-year-old cast iron bridge's structure back together.</p>
<p>Mayor of London Ken Livingstone said: "It was always the intention to fully 
re-open Battersea Bridge as soon as it could be safely repaired, and it is 
excellent news that the bridge will now be repaired and open to traffic well 
ahead of schedule."</p>
<p>TfL's Chief Operating Officer, Streets, Peter Brown, said: "We are 
delighted that as a result of the close co-operation between TfL engineers, 
London's boroughs and our contractors, work will be commencing so soon - it will 
allow us to re-open this crucial link over the river much earlier than we 
originally expected."</p>
<p>Early examination of the bridge had suggested that a section of cast iron 
support might need to be replaced but further detailed checking revealed that a 
repair would be possible.</p>
<h2><strong>Contract awarded</strong></h2>
<p>TfL has compressed the usual tendering process to just two weeks in order to 
obtain the earliest possible date for re-opening, and the contract has now been 
awarded to Mowlem with a firm undertaking of an early finish date.</p>
<p>In the meantime clear signage remains in place to remind drivers that, for 
safety reasons, the Victorian cast iron bridge remains closed to all traffic 
except buses and bicycles.</p>
<p>Strict enforcement is in place, and those who ignore the restrictions face 
fines of up to &pound;100.</p>
<p>Drivers should continue using alternative routes and allow extra time for 
their journeys.</p>
            <ul>
<li>The site offices for the repair crew will be built over the water, thus ensuring no further obstruction to vehicle or pedestrian traffic.  </li>
<li>Work on the site will be clearly visible from the public footways on the banks of the Thames.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With a contract awarded yesterday, repair work will start during the first week of December.The repair will involve an innovative engineering technique using steel rods and plating which are heated before being used to literally 'stitch' the damaged";}
        
        


 