


@{ViewBag.Title = "Battersea Bridge to re-open earlier than expected";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Battersea Bridge to re-open earlier than expected</h1>
        <div class="content-page-press-release">
        04 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today confirmed that it expects Battersea Bridge to fully re-open by Easter 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            An innovative engineering technique will cut months off the time the bridge will be closed
                            
                        </p>
                    </div>
                
            
            
            <p>Repair work will begin in mid December.</p>
<p>An innovative engineering technique means that steel rods and plating will bind the 115-year-old cast iron bridge's flanges together. </p>
<p>It will cut months off the time the bridge will be closed.</p>
<p>Robust testing and analysis have shown that this is the best option and is better than removal and replacement of the beams because the bridge will not have to be subject to as much distress.</p>
<p>A tender for a contractor to undertake the repairs has already been issued.</p>
<p>Transport for London's Chief Operating Officer, Streets, Peter Brown, said: 'We are delighted that this repair technique has proved to be practical - it will allow us to re-open this crucial link over the river much earlier than if we had needed to replace the girders.</p>
<p>'We are grateful also for the support of the boroughs of Wandsworth and Kensington and Chelsea in helping us to get things moving.'</p>
<p>In the meantime clear signage is in place to remind drivers that for safety reasons, the Victorian cast iron bridge remains closed to all traffic except buses and bicycles.</p>
<p>Strict enforcement is in place, and those who ignore the restrictions face fines of up to &pound;100.</p>
<p>Drivers should continue using alternative routes and allow extra time for their journeys.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Repair work will begin in mid December.An innovative engineering technique means that steel rods and plating will bind the 115-year-old cast iron bridge's flanges together. It will cut months off the time the bridge will be closed.Robust testing and";}
        
        


 