


@{ViewBag.Title = "Bromley veteran honours fellow transport workers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bromley veteran honours fellow transport workers</h1>
        <div class="content-page-press-release">
        08 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Retired bus driver Fred Chapman, aged 81, will lay the Transport for London wreath at the Cenotaph in Whitehall to honour all who have died or suffered in war on Sunday 13 November.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London Transport Old Comrades are the only civilian group allowed to lay a wreath at the Cenotaph
                            
                        </p>
                    </div>
                
            
            
            <p>Mr Chapman, from Bromley, is a member of the London Transport Old Comrades, who are the only civilian group allowed to lay a wreath at the Cenotaph on Remembrance Sunday.  </p>
<p>Fifty ex-servicemen will take part in the ceremony this year.</p>
<p>Highly decorated, Mr Chapman served with the Eighth Army Royal Artillery 51st Highland Division in North Africa in 1943.  </p>
<p>He then went on to take part in the invasion of Sicily, the Normandy D-Day landings, and fought in France, Holland, Belgium and Germany before ending his service in Egypt in 1946.  </p>
<p>Honours he received include the Africa, Italy, France and Germany Stars and the War and the Defence Medals. </p>
<p>Following his war years, Mr Chapman joined London Transport's Bromley Garage in 1959 and went on to drive the 227 bus from Chislehurst to Crystal Palace for 28 years.  </p>
<p>He loved the route so much that on retirement he bought his very own 227 RF Regal Mark 4 bright red bus and uses it to this day for carnivals and shows.</p>
<p>Commenting on the honour of laying the wreath at the Cenotaph this year Mr Chapman said: "It is a great privilege to do something to mark all my comrades who fought, and those who did not come home. </p>
<p>"I've been attending the ceremony for the last 25 years and I hope to be doing so for many years to come."</p>
            <ul>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915</li>
<li>Photographs of Mr Chapman are available from the TfL press office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr Chapman, from Bromley, is a member of the London Transport Old Comrades, who are the only civilian group allowed to lay a wreath at the Cenotaph on Remembrance Sunday.Fifty ex-servicemen will take part in the ceremony this year.Highly decorated, Mr";}
        
        


 