


@{ViewBag.Title = "Bus drivers to train in virtual London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus drivers to train in virtual London</h1>
        <div class="content-page-press-release">
        15 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trainee bus drivers will soon be able to take a virtual journey through the streets of 'Firsdon,' a specially created London suburb with its own tube station, bus station and bus depot.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The simulator has been specially adapted for London's buses
                            
                        </p>
                    </div>
                
            
            
            <p>The computerised suburb, complete with its own unpredictable pedestrians, cyclists and traffic, features on the UK's first fully realistic bus simulator to be launched on November 22 at Willesden Junction depot.</p>
<p>The simulator is jointly funded by Transport for London (TfL) and bus operator First, and has been specially adapted for London's buses, right down to the look and feel of the full-size cab.</p>
<p>Firsdon's layout is based on generic London streets, while its bus depot is a virtual replica of the one at Westbourne Park, and its bus station is a computerised version of Walthamstow station.</p>
<p>The simulator provides detailed, co-ordinated graphics through the windscreen and rear-view mirrors to give the look and feel of a real bus journey.</p>
<p>Single, double-decker and articulated (bendy) buses can all be simulated to run in the virtual world. </p>
<p>Training leaders can set up scenarios replicating some of the worst problems a London bus driver might encounter, from heavy traffic to terrible weather.</p>
<p>A separate control console allows the instructor to interact with the trainee by changing traffic signals, opening car doors or controlling a virtual pedestrian, taxi or cyclist.</p>
<h2>Enhancing real-life training</h2>
<p>Trainees in the cab feel the wheel judder if they run into the kerb and can sense the difference in the way the bus handles when the 'weather' makes the road conditions slippery. </p>
<p>The simulator will not replace real-life driver training out on the road, but it will support and enhance it.</p>
<p>Safety studies show that simulators can decrease preventable accidents by as much as 43 per cent. </p>
<p>Andy Thompson, Performance Manager, Transport for London said: "Driving the simulator feels uncannily real, especially if you are familiar with the areas of London that are reproduced in the bus station and depot. </p>
<p>"I firmly believe that the chance to improve driving skills in the simulator as well as on the road will make a difference, not only to new bus drivers, but existing ones too."</p>
<p>Tony Wilson, MD of First's bus operations in London, said: "Our bus drivers are amongst the most professional and highly skilled drivers on our roads today, helping millions of people every year to get where they need to be, safely and on time. </p>
<p>"This simulator will become part of First's comprehensive training programme that helps drivers to train for the challenges they will face every day on the roads of the capital."</p>
<p>If the trial is a success, TfL plans to encourage other bus operators across London to use simulators as part of their training programmes.</p>
            <ul>
<li>First and Transport for London are offering the chance to test drive the simulator and talk to trainers and drivers at Willesden Junction depot on 22nd November. Please contact the press office if you would like to come</li>
<li>"Safety studies show that simulators can decrease preventable accidents by as much as 43 per cent." - source: New York City Transit figures</li>
<li>The simulator's manufacturer, US based FAAC Incorporated, have developed simulator training for the US bus, truck and military markets<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The computerised suburb, complete with its own unpredictable pedestrians, cyclists and traffic, features on the UK's first fully realistic bus simulator to be launched on November 22 at Willesden Junction depot.The simulator is jointly funded by Transport";}
        
        


 