


@{ViewBag.Title = "Bus service improvements proposed as Congestion Charge zone extends";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus service improvements proposed as Congestion Charge zone extends</h1>
        <div class="content-page-press-release">
        22 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL (Transport for London) is today launching a major consultation on proposals to make further improvements to the bus network in inner west London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This consultation will ensure that the additional services meet the needs of the area
                            
                        </p>
                    </div>
                
            
            
            <p>The changes take account of the western extension to the Congestion Charge zone, due to begin in 2007.</p>
<p>TfL proposes:</p>
<ul>
<li>Increasing the frequency of 15 separate routes <br>providing bigger buses on two routes </li>
<li>Extending or diverting seven routes to provide new, direct links for passengers </li>
<li>Introducing an entirely new north-south route through the extended charging area</li></ul>
<p>The enhancements are in addition to ongoing improvements to bus services across the Capital, which include better accessibility, driver training, security, and reliability.</p>
<p>The changes made to bus services in support of the introduction of the original Congestion Charging zone successfully accommodated a shift from the car.</p>
<p>Beverley Hall, Head of Surface Transport Communications at TfL, said: "Bus services have improved dramatically over the past four years and passenger numbers continue to grow. </p>
<p>"The extension of the Congestion Charging scheme will bring further improvements to bus services in the area. </p>
<p>"This consultation with key stakeholders, including business representative groups and local residents' associations, will ensure that the additional services meet the needs of the area."</p>
            <ul>
<li>The <a>consultation</a> will end on 23 January </li>
<li>TfL is forecasting that the extension to the Congestion Charging zone, due to be introduced in February 2007, will lead to approximately 2,600-3,700 additional bus passengers travelling to the extended Congestion Charging zone during the busiest hour of the morning peak period from the south, west and north </li>
<li>The range reflects a spread of potential responses by drivers to the new charge </li>
<li>The proposals would result in extra capacity for 4,800 people during that hour </li>
<li>TfL is now providing the highest volume of bus services since 1957, and carrying the highest number of passengers since 1965 </li>
<li>There are some six million passenger journeys made every weekday </li>
<li>The existing central London Congestion Charging zone has improved public transport </li>
<li>Buses are quicker and more reliable </li>
<li>Passengers spend less time waiting for buses that are held up in traffic </li>
<li>In its first two years Congestion Charging produced over &pound;170m to invest in London's transport system </li>
<li>The consultation on the proposed changes to bus services runs until 23 January 2006 </li>
<li>Changes to bus services that result would be introduced before the western extension begins to operate in February 2007</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes take account of the western extension to the Congestion Charge zone, due to begin in 2007.TfL proposes:Increasing the frequency of 15 separate routes providing bigger buses on two routes Extending or diverting seven routes to provide new,";}
        
        


 