


@{ViewBag.Title = "Congestion Charge reminder launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge reminder launched</h1>
        <div class="content-page-press-release">
        14 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An automatic Congestion Charge reminder which drivers can download to their computers is being launched today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It puts the driver in control by giving a reminder at a time they choose
                            
                        </p>
                    </div>
                
            
            
            <p>It is Transport for London's (TfL) latest move to help drivers avoid running up penalty charges by simply forgetting to pay.</p>
<p>Drivers can customise the message to pop up on computer screens at a specific time on the weekdays when they want it.</p>
<p>It says "Remember to pay the Congestion Charge today" and offers a direct link to the <a href="http://www.cclondon.com" target="_blank">www.cclondon.com</a> website where the charge can be paid immediately.</p>
<p>Malcolm Murray-Clark, TfL Congestion Charging Director, said: "We've progressively introduced changes to make the charge easier to pay, improve awareness of how the scheme operates and help drivers avoid running-up penalty charges by simply forgetting to pay.</p>
<p>"This computer pop-up has been purpose built. It puts the driver in control by giving a reminder at a time they choose and offers a quick route to the website where they can pay."</p>
<p>TfL is also offering a free car tax disc holder to give drivers an in-car reminder. <a href="https://ccreminder.tfl.gov.uk/templates/tfl/examples/default.aspx?src=2" target="_blank">Download</a> the desktop reminder or order a car tax-disk holder.</p>
            <ul>
<li>The pop-up reminder can be <a href="https://ccreminder.tfl.gov.uk/templates/tfl/examples/default.aspx?src=3" target="_blank">downloaded directly</a> from the Congestion Charge website <a href="http://www.cclondon.com">www.cclondon.com</a> or by visiting <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and clicking on Congestion 
Charge. 
</li><li>The Congestion Charge reminder car tax disc holder must be requested online. 

</li><li>The Mayor recently approved 'pay next day' to help people who forget to pay 
on the day. This will begin in September 2006.</li></ul>
<p>Changes already introduced to simplify the operation of the scheme and 
improve understanding of how it works include:</p>
<ul>
<li>an enhanced website 
</li><li>frequently asked questions leaflet included with all penalty charge notices 
to make understanding the process easier 
</li><li>an information leaflet is being sent to 36 million households across the UK 
with DVLA road tax reminders. 
</li><li>15 per cent discount for monthly and annual payments 
</li><li>lowering the threshold of the congestion charging fleet scheme from 25 
vehicles to 10 
</li><li>making the three charging days that fall between Christmas Day and New 
Year's Day 'non-charging' days 
</li><li>extending the SMS text messaging facility 
</li><li>allowing payment by additional credit and debit card types 
</li><li>removing the financial criteria for the National Health Service patients' 
</li><li>making the 100 per cent discount scheme for registered holders of Blue 
Badges and 90 per cent residents' discount scheme easier to use 
</li><li>more petrol stations accepting payment<br>photographs of vehicles included 
on penalty charge notices to make identification easier 
</li><li>working with DVLA to identify and remove untaxed vehicles from London's 
streets</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is Transport for London's (TfL) latest move to help drivers avoid running up penalty charges by simply forgetting to pay.Drivers can customise the message to pop up on computer screens at a specific time on the weekdays when they want it.It says";}
        
        


 