


@{ViewBag.Title = "DLR plans for London 2012 Olympics as Serco named preferred bidder for new &pound;400m franchise";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR plans for London 2012 Olympics as Serco named preferred bidder for new &pound;400m franchise</h1>
        <div class="content-page-press-release">
        22 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway Ltd (DLRL), part of Transport for London (TfL), today announced its preferred bidder to operate, maintain and support the extension of the Docklands Light Railway (DLR) up to and beyond the London 2012 Olympics.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passenger numbers have leapt from 15 million per year in 1996 to over 50 million now
                            
                        </p>
                    </div>
                
            
            
            <p>Serco Docklands Ltd (Serco) has been awarded preferred bidder status for TfL's seven-year, &pound;400m DLR network franchise from 1 April 2006.</p>
<p>Final negotiations will be completed and the contract signed by the end of the year, and Serco will operate DLR services at the levels of productivity, quality and safety required by TfL.</p>
<p>It will be responsible for ensuring passengers continue to receive a value for money service, and accountable for all aspects of railway maintenance, other than the Lewisham and London City Airport extensions, which are managed separately.</p>
<p>Jonathan Fox, DLRL Director, said: "The DLR is one of the best performing railways in the UK, consistently recording reliability figures over 97 per cent.</p>
<p>"We look forward to finalising the contract with Serco as we continue to prepare for and support the London 2012 Olympics.</p>
<p>"Over the last nine years of the current franchise the DLR has continued to expand, stimulating the growth and success of communities and businesses across East London.</p>
<p>"Passenger numbers have leapt from 15 million per year in 1996 to over 50 million now.</p>
<p>"The next franchise will cover a hugely exciting period. </p>
<p>"Thanks to the &pound;10bn TfL 5 Year Investment Programme, it will see further expansion and development, as well as the London 2012 Olympics. DLRL and Serco will continue to work very closely together to meet the challenges ahead and build on the DLR's reputation for reliability and delivery."</p>
<p>
<h2>Extending the network</h2>
<p>
<p>DLRL is working to extend the network and improve service ahead of the London 2012 Olympics, including:</p>
<ul>
<li>An extension of the London City airport route to Woolwich Arsenal 
</li><li>A proposed conversion of the North London Line to form the Stratford International extension 
</li><li>An upgrade for the Bank to Lewisham route from two-car to three-car operation, including the construction of a new station at South Quay 
</li><li>Construction of a new DLR station at Stratford 
</li><li>A proposed new station, Langdon Park, to be sited between the existing All Saints and Devons Road stations 
</li><li>An increase in the quality and quantity of DLR's fleet.</li></ul>
<p>The re-franchising process began in September 2004, when four consortia, Serco Ltd, First Carillion Ltd, Keolis/Balfour Beatty and Transdev RATP Docklands Ltd pre-qualified to submit bids.</p>
<p>Following an initial tender process, Serco and Keolis were shortlisted.</p>
<p>Serco was selected as preferred bidder as it was able to meet fully DLRL's requirements.</p>
<p>Serco Docklands Ltd was originally awarded a seven-year franchise from April 1997, which was extended by two years to cover the opening of the London City Airport extension. The current franchise terminates on 31 March 2006.</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network</li>
<li>The DLR is forecast to carry 80 million passengers by 2009. DLRL is responsible for planning the railway's future and protecting and developing its assets</li>
<li>To ensure equality, Serco independently established a bidding team that was separate from the day-to-day operation of DLR</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Serco Docklands Ltd (Serco) has been awarded preferred bidder status for TfL's seven-year, &pound;400m DLR network franchise from 1 April 2006.Final negotiations will be completed and the contract signed by the end of the year, and Serco will operate DLR";}
        
        


 