


@{ViewBag.Title = "Improvement works at Theydon Bois station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works at Theydon Bois station</h1>
        <div class="content-page-press-release">
        30 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Theydon Bois station at the east end of the Central line is being refurbished and improved as part of the &pound;10bn TfL 5-Year Investment Programme.
        
    </div>



 <div class="on-this-page">
<p>The refurbishment works, undertaken by Metronet Rail BCV, are due to be completed in summer 2006.</p>
<p>The station will remain open during the improvement works however advantage will be taken of the following track closures to complete the works.</p>
<p><br>Epping branch track closure will take place during the following weekends:</p>
<ul>
<li>3-4 December</li>
<li>11-12 February 2006</li>
<li>18-19 February 2006</li></ul>
<p>Refurbishment works include the restoration of heritage features, the replacement of all CCTV cameras, the installation of new customer help points and an enhanced public address system.</p>
<p>All cabling will be concealed and the station will be provided with improved lighting.</p>
<p>At times it may be necessary to close the ticket office; however it will be ensured that machine ticket selling facilities are maintained.</p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, over half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Theydon Bois first opened in 1865 as part of the Great Eastern Railway single-track extension to Ongar and became part of the Central line in 1948</li>
<li>Theydon Bois counts around 1,600 daily users</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li>
<li>The longest journey without change on the London Underground can be made on the Central line between West Ruislip and Epping (54.9 km, 34.1 miles).</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The refurbishment works, undertaken by Metronet Rail BCV, are due to be completed in summer 2006.The station will remain open during the improvement works however advantage will be taken of the following track closures to complete the works.Epping branch";}
        
        


 