


@{ViewBag.Title = "Improvement works at Regents Park station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works at Regents Park station</h1>
        <div class="content-page-press-release">
        17 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Regent's Park station on the Bakerloo line will undergo essential lift maintenance work from 19-27 November as part of the TfL's five-year, &pound;10bn investment programme.
        
    </div>



 <div class="on-this-page">
<p>Metronet Rail BCV, the company responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines, will carry out the works.</p>
<p>Regent's Park station's two lifts will be refurbished consecutively:</p>
<ul>
<li>Lift one will be closed for refurbishment on the weekend of 19-20 November</li>
<li>Lift two will be closed for refurbishment on the weekend of 26-27 November.</li></ul>
<p>Both lifts will remain in use during weekdays.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Metronet Rail BCV, the company responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines, will carry out the works.Regent's Park station's two lifts will be refurbished consecutively:Lift one will be";}
        
        


 