


@{ViewBag.Title = "Its up to all of us - new security campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Its up to all of us - new security campaign</h1>
        <div class="content-page-press-release">
        28 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will be launching a network-wide poster campaign today to boost safety and security on the buses and Tube.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            One of the best security measures we have is the eyes of our customers
                            
                        </p>
                    </div>
                
            
            
            <p>The poster campaign, titled 'It's up to all of us', is supported by the Mayor of London, the British Transport Police (BTP), the Metropolitan Police Service (Met) and the City of London Police.</p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement, said: "The safety of our passengers and staff is our over-riding priority. </p>
<p>"We continue to invest in a range of measures to maintain the security of London's transport system, including the dedicated deployment of BTP and Transport Operational Command Unit officers undertaking visible patrols across London's Tubes, buses and DLR. </p>
<p>"One of the best security measures we have is the eyes of our customers. We are asking everybody to remain vigilant. </p>
<p>"Do look after your own luggage and belongings when travelling. </p>
<p>"Security alerts due to unattended bag causes an additional burden on the emergency services and passengers who get caught in the disruption that follows. </p>
<h2>Don't be afraid to speak up</h2>
<p>"As people gear up for Christmas shopping, we're asking them to take extra care of their belongings and to be extra vigilant.</p>
<p>"If you spot something suspicious, don't be afraid to tell a member of staff or a police officer. It's up to all of us to keep London secure."</p>
<p>Chief Superintendent Paul Crowther, BTP, said: "BTP is working very hard to combat the threat of terrorism. </p>
<p>"Through high-profile and covert patrols of the Underground with our colleagues from the City of London and the Metropolitan Police, we strive to make the network safer for passengers and staff.</p>
<p>"This campaign emphasises the fact that the public have a part to play by being vigilant, looking after their property and reporting anything suspicious they see or hear to staff or police."</p>
<p>Mike Bowron, Assistant Commissioner of City of London Police, said: "Public vigilance is essential if we are to prevent terrorism.</p>
<p>"We all have a major role to play in keeping London safe."</p>
<p>Chief Superintendent Mike Humphrey, head of the Met Transport Operational Command Unit, said: "We, along with colleagues across the Met, work very closely with the BTP, City of London Police and TfL to provide a safe and secure environment for everyone who uses the transport system.<br><br>"We constantly review our policing tactics, which include the deployment of high-visibility policing at key transport locations across London.<br><br>"Our priority is to keep the public safe - but we cannot stress enough how important it is for the public to remain vigilant and to report anything suspicious to transport staff or police."<br></p>
            <ul>
<li>The number of police on the Tube network is at an all time high, and the Mayor is requesting more</li>
<li>There is a dedicated and enhanced deployment of BTP and TOCU officers on visible patrol across the transport network</li>
<li>Operational staff (station staff, revenue inspectors) are deployed to be visible and approachable to the public</li>
<li>All front-line staff wear hi-vis jackets</li>
<li>More train checks being carried out at termini</li>
<li>All buses are checked by drivers at the end of each trip</li>
<li>All bus stations being checked on a continual basis</li>
<li>Security at depots has been reviewed and reinforced where necessary</li>
<li>The search of road vehicles entering depots has been introduced</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The poster campaign, titled 'It's up to all of us', is supported by the Mayor of London, the British Transport Police (BTP), the Metropolitan Police Service (Met) and the City of London Police.Jeroen Weimar, TfL's Director of Transport Policing and";}
        
        


 