


@{ViewBag.Title = "Limehouse Link update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Limehouse Link update</h1>
        <div class="content-page-press-release">
        01 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Limehouse Link eastbound tunnel will remain closed for at least a week following the fire on a double-decker bus at the weekend.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are working flat out to ascertain the full extent of damage... but clearly safety has to be our priority
                            
                        </p>
                    </div>
                
            
            
            <p>Engineers have been busy assessing the impact on the tunnel, which connects Docklands with Central London - they say damage is extensive and it is very unlikely to open until after next weekend. </p>
<p>Transport for London's Chief Operating Officer, Streets, Peter Brown, said: "This is a key artery for London. </p>
<p>"We are working flat out to ascertain the full extent of damage and necessary repairs to enable the tunnel to re-open as soon as possible - but clearly safety has to be our priority."</p>
<p>While structural damage is not thought to be severe, this can be confirmed only after all damaged equipment and cladding has been removed. </p>
<p>Meanwhile, it is clear that before the eastbound tunnel can be re-opened, it will require as a minimum re-surfacing and new cabling and lighting. </p>
<p>An extensive clear up operation is already well underway. </p>
<p>Diversions are in place and well signposted. </p>
<p>However drivers are urged to avoid the area if at all possible as it is extremely congested as a consequence of the eastbound tunnel closure. </p>
<p>TfL will issue regular updates on the situation.</p>
<hr>

<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Engineers have been busy assessing the impact on the tunnel, which connects Docklands with Central London - they say damage is extensive and it is very unlikely to open until after next weekend. Transport for London's Chief Operating Officer, Streets,";}
        
        


 