


@{ViewBag.Title = "Limehouse Link to remain closed for longer than expected";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Limehouse Link to remain closed for longer than expected</h1>
        <div class="content-page-press-release">
        03 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Further assessments of the fire damaged Limehouse Link have revealed it has suffered more extensive damage than first estimated.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety must remain our top priority but we are working as fast as we can to get the tunnel back in service
                            
                        </p>
                    </div>
                
            
            
            <p>The east bound tunnel is expected to be closed until at least 14 November as engineers work flat out to repair it. </p>
<p>The latest investigations show that as well as major damage to cladding, control systems and lighting along the eastbound section of the tunnel, the steel supports which hold up these systems, have been severely affected by the fire.</p>
<p>Load testing is taking place to establish if these supports will need total replacement.</p>
<p>This is a complicated procedure which may regrettably lead to an even longer closure of the tunnel, which links Central London with Docklands.</p>
<p>Transport for London's Chief Operating Officer-Streets, Peter Brown, said: "We're disappointed that drivers will have to face delays in the area for longer than we first expected. </p>
<p>"We would ask for their continued patience as we do all we can to re-open this key link for East London. </p>
<p>"Safety must remain our top priority but we are working as fast as we can to get the tunnel back in service."</p>
<p>Traffic in the area is congested and Transport for London is urging drivers to consider alternative routes, and to use public transport, to avoid long delays.</p>
<p>TfL will continue to issue regular updates on the situation.<br></p>
<hr>

<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The east bound tunnel is expected to be closed until at least 14 November as engineers work flat out to repair it. The latest investigations show that as well as major damage to cladding, control systems and lighting along the eastbound section of the";}
        
        


 