


@{ViewBag.Title = "Limehouse Link opens ahead of schedule";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Limehouse Link opens ahead of schedule</h1>
        <div class="content-page-press-release">
        16 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around-the-clock working means the eastbound tunnel of the Limehouse Link has now reopened - two weeks ahead of schedule.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The repair crews have been working round the clock in challenging conditions
                            
                        </p>
                    </div>
                
            
            
            <p>Last week Transport for London (TfL) announced the vital link between Docklands and central London could be closed until the end of November as repairs were carried out following a bus fire in the tunnel. </p>
<p>Now teams of specialists have successfully replaced the steel and concrete supports which hold up the cabling and lighting systems and the tunnel reopened on Tuesday night.</p>
<p>TfL Chief Operating Officer, Streets, Peter Brown, said: "This will be a pleasant surprise to motorists after more than a fortnight of traffic disruption. </p>
<p>"After some careful planning by TfL and our contractors, the repair crews have been working round the clock in very challenging conditions to restore the Limehouse Link to full use. </p>
<p>"I'm delighted that our initial fears that the job would take a week longer or more were unfounded."</p>
<p>Further works are required to the tunnel following the fire, but they are not safety critical and can be carried out through selected night-time closures. </p>
<p>The first of these are scheduled to start next Monday 21st November. </p>
<p>TfL will provide further details shortly.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Last week Transport for London (TfL) announced the vital link between Docklands and central London could be closed until the end of November as repairs were carried out following a bus fire in the tunnel. Now teams of specialists have successfully";}
        
        


 