


@{ViewBag.Title = "London leads the way in the public transport revolution";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London leads the way in the public transport revolution</h1>
        <div class="content-page-press-release">
        21 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People living in London are more likely to use public transport than those in any other region in Britain, according to the latest report on regional transport statistics released by the Department for Transport.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have invested billions of pounds in the public transport network. Today's report confirms our successes
                            
                        </p>
                    </div>
                
            
            
            <p>There is good news across all modes in the Transport for London network, with the success story of London Buses particularly notable when compared with the national trend towards decline.</p>
<p>In stark contrast, bus patronage increased in London by a massive 54 per cent over 10 years, growing from 1.16 billion passengers in 1994 to 1,782 million in 2004.</p>
<p>The number of kilometres served by the London Bus network grew by 32 per cent in the same period, against the national decline of one per cent.</p>
<p>London Underground has also been celebrating record numbers, carrying more passengers than ever before in 2004, with 976 million passengers.</p>
<p>Service provision is also improving; the proportion of all scheduled train kilometres operated rose from 93 per cent in 2003/04 to 95 per cent in 2005.</p>
<p>Light rail services (the DLR and Croydon Tramlink) recorded a sixfold increase in passenger numbers between 1994 and 2004.</p>
<p>The Congestion Charge, coupled with improvements in public transport provision, allows Londoners to leave their cars at home, or do without - only 34 per cent of the population in London has a car, compared with 47 per cent nationally.</p>
<p>Each region in the study recorded an increase in traffic of between 20 and 26 per cent on major roads between 1994 and 2004, whereas London once again bucked the trend, with an increase of only 0.3 per cent.</p>
<p>
<h2>Improved road safety</h2>
<p>
<p>Nevertheless, with over 20,000 taxis, almost a third of all taxis in England are based in London; and since the licensing of private hire vehicles was introduced in 2001, the number of private hire vehicles in the city has grown to around 40,000.</p>
<p>The other major success story for London is its improved road safety record.</p>
<p>The number of children killed or seriously injured on London's roads fell by 45 per cent in the ten years to 2004, while there was a 33 per cent and 39 per cent reduction in deaths or serious injuries to cyclists and car users respectively. </p>
<p>Peter Hendy, Managing Director of TfL's Surface Transport, said: "This report confirms that people will leave their cars at home if they are provided with a clean, reliable, desirable alternative.</p>
<p>"Since Transport for London was formed in 2000, we have invested billions of pounds in the public transport network. Today's report confirms our successes. </p>
<p>"Bus usage is at its highest level since 1968 and continues to grow: last year, London Underground carried more Tube passengers in a single year than ever before; there are now 70,000 fewer vehicle journeys into the Congestion Charging zone each day compared to before the charge was introduced; and the number of casualties on the Capital's roads continues to fall - these are just some of our successes.</p>
<p>"There is a lot of work still to do, but as London continues to grow, Londoners will reap the benefits of having a modern transport infrastructure."</p>
            <ul>
<li>'Transport Statistics Bulletin, Regional Transport Statistics: 2005' can be viewed in full from the <a href="http://www.dft.gov.uk/">Department for Transport's website</a> </li>
<li>Transport for London's passenger figures are as follows: 
<ol type="a">
</ol></li><li>London Underground - 2003/04, 948 million; 2004/05, 976 million </li>
<li>London Buses - 2003/04, 1,702 million; 2004/05, 1.79 billion </li>
<li>DLR - 2003/04, 48.5 million; 2004/05, 50.1 million </li>
<li>London River Services - commuter river services are carrying over 50 per centmore passengers this year than last, with 41,400 passengers in the last period (4 weeks up to 15 October) compared to 26,500 in the corresponding period the previous year </li>
<li>Cycling - recorded cycle journeys on London's key roads have doubled in the last five years from 59,000 in 2000 to 119,000 in 2005 </li>
<li>3. Other statistics from the DfT report: 
<ol type="a">
</ol></li><li>25 per cent of all trips in London are undertaken on public transport, and fewer than half (45 per cent) of all trips in the Capital are made by car (this compares with national figures of 9 per cent and 63 per cent respectively) </li>
<li>The number of people entering Central London in the morning peak by car fell by over 40 per cent since 1994, while the number entering by bus increased by 84 per cent. Over the same period, average bus occupancy increased from 28 to 44 </li>
<li>In the last year alone, local bus passenger kilometres travelled in London rose by 5 per cent to nearly 6.8 billion km, while LU train kilometres operated rose by nearly three per cent to 69 million km </li>
<li>Information at London bus stops has been given consistently high ratings over time, and was awarded 73 out of 100 in 2004/05 </li>
<li>Passenger satisfaction on the Tube remained constant for train service and provision of information in 2004/05 (scoring 77 and 78 out of 100, respectively), while the rating for safety and security rose from 80 to 81 </li>
<li>Although powered-two-wheeler casualties have increased by five per cent overall in Great Britain since 1994, the number of riders killed or seriously injured (KSI) peaked at 7,652 in 2003 and then fell 13 per cent from 2003 to 2004. The largest regional year on year decrease from 2003/04 was recorded in London, where the number of KSIs fell by 23% </li>
<li>The population of London grew from 6,874,000 in 1994 to 7,429,000 in 2004, an increase of 8 per cent(overall, the population in Great Britain grew by three per cent)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There is good news across all modes in the Transport for London network, with the success story of London Buses particularly notable when compared with the national trend towards decline.In stark contrast, bus patronage increased in London by a massive 54";}
        
        


 