


@{ViewBag.Title = "London presses on towards a 50 per cent drop in road casualties";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London presses on towards a 50 per cent drop in road casualties</h1>
        <div class="content-page-press-release">
        11 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is spending almost &pound;50m on road safety in 2005/06 in a drive to meet the Mayor's proposed new target of reducing death and injury on the capital's roads by 50 per cent by 2010.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            In May the Mayor announced the target of reducing London's road casualties by 50 per cent
                            
                        </p>
                    </div>
                
            
            
            <p>The Capital's successful programme of road safety measures is to receive a further boost in the months to come as TfL, working with the Mayor's Office and the London boroughs, pushes for a reduction in road casualties which beats the challenging national government targets.</p>
<p>As part of this spending London is introducing speed-awareness courses for the first time in the capital for some motorists caught just over the speed limit. </p>
<p>Some older camera sites will also be replaced with vehicle-activated signs warning drivers of excessive speed.</p>
<p>New digital speed cameras will be introduced at up to 10 sites initially in order to assist the introduction of the new speed awareness courses, with up to 56 further digital cameras likely to be introduced on the capital's roads within the next six months.</p>
<p>The cameras will be operated by the London Safety Camera Partnership.</p>
<p>Digital cameras are successful at helping to identify who was driving a speeding vehicle.</p>
<p>Speed cameras installed by London Safety Camera Partnership have on average seen a 40 per cent reduction in the number of people killed or seriously injured.</p>
<h2>New measures</h2>
<p>The partnership estimates that 66 new cameras would lead to a reduction of 80 people killed or seriously injured every year in London. </p>
<p>These new measures will supplement other road safety schemes including 20-mph schemes, traffic calming, safer routes to schools, junction improvements, education and training and London-specific road safety campaigns.</p>
<p>All of these measures have played a major part in a nosedive in the casualty rate in London, down by 40 per cent on the levels seen between 1994 and 1998.</p>
<p>In May the Mayor of London announced that he is setting the more challenging target for TfL of reducing the number of people killed or seriously injured on London's roads by 50 per cent by 2010.</p>
<p>This came after almost reaching the Mayor's original target of 40 per cent by the end of 2004, some six years early.</p>
<p>This reduction means that 2500 people are saved from death or serious injury every year.</p>
<p>TfL will initially purchase 10 digital cameras with an option to purchase an additional 56.</p>
<p>These cameras will replace existing wet-film Gatso cameras, and these Gatsos will then be repositioned at other sites.</p>
<p>The digital cameras will mean that drivers can be identified and referred for speed awareness courses instead of a fine and penalty points.</p>
<p>The current speed camera technology used in the capital makes the identification of drivers for speed awareness courses difficult and inefficient.</p>
<p>The London Safety Camera Partnership member organisations hope to have speed awareness courses up and running in spring 2006.</p>
<p>Some motorists identified as speeding by the new digital cameras will be offered the opportunity to undertake a speed awareness course instead of receiving a fine and penalty points.</p>
<p>The course will be offered to an offending driver within a set speed threshold.</p>
<p>The purpose of speed awareness courses is educating drivers of the dangers of speeding and to change behaviour and attitudes. Course attendance will cost &pound;60 plus a small administration fee.</p>
<hr>

<p>TfL is committed to improving road safety and supports a number of schemes aimed at reducing deaths and injuries on London's roads: <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a></p>
<p>Cyclists can learn more about staying safe on London's roads with TfL's safety guidelines: <a href="http://www.tfl.gov.uk/stayingsafe">www.tfl.gov.uk/stayingsafe</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Capital's successful programme of road safety measures is to receive a further boost in the months to come as TfL, working with the Mayor's Office and the London boroughs, pushes for a reduction in road casualties which beats the challenging national";}
        
        


 