


@{ViewBag.Title = "LU to seek views on alternative later weekend Tube proposal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU to seek views on alternative later weekend Tube proposal</h1>
        <div class="content-page-press-release">
        22 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced that it would be seeking the views of stakeholders on an alternative proposal for later weekend Tube services.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need to strike the right balance between late evening and early morning Tube users
                            
                        </p>
                    </div>
                
            
            
            <p>The original consultation, Should the Tube run later at weekends?, proposed that the Tube run an hour later on Friday and Saturday nights, starting up again an hour later on Saturday and Sunday mornings.</p>
<p>LU is now considering an alternative proposal to run the Tube half an hour later on those nights, one hour later the following Saturday morning with services unchanged on Sunday mornings.</p>
<p>Stakeholders will have until 12 December 2005 to respond to the new proposal. </p>
<p>Richard Parry, LU Strategy and Service Development Director, said: "The original consultation showed that most Tube users and Londoners would welcome a later weekend Tube.</p>
<p>"It also showed some concern for those who use the Tube early at the weekends, especially on Sundays.</p>
<p>"We need to strike the right balance between late evening and early morning Tube users. </p>
<p>"We've taken all views on board and will now consult stakeholders on this alternative proposal to run the Tube half an hour later on Friday and Saturday nights and retain the current start time on Sunday morning.</p>
<p>
<h2>New proposal</h2>
<p>
<p>"This alternative offers a large proportion of the benefits of the original proposal while significantly reducing the numbers who would be adversely affected."</p>
<p>LU received 54,000 respondents to the original consultation, with the majority in favour of a later weekend Tube.</p>
<p>However, the consultation also revealed a significant minority would face longer journeys the next morning, especially on Sunday mornings when the first Tube services would reach central London around 0830.</p>
<p>There was particular concern for low-paid and public sector workers and for those seeking connections with rail services and flights from London airports.</p>
<p>The new proposal would see last trains leaving central London around 0100 on Friday and Saturday nights.</p>
<p>The Tube would start one hour later on Saturday morning, with trains arriving in central London around 0700.</p>
<p>Sunday morning services would remain unchanged from the present, where trains reach central London around 0730.</p>
            <ul>
<li>The Mayor made a commitment in his manifesto to investigate later Tube services on Friday and Saturday nights </li>
<li>Between 22 February and 22 April 2005, LU consulted with Londoners, Tube users and all interested parties for their views on whether the Tube should run for one hour later on Friday and Saturday nights </li>
<li>The <a href="/static/corporate/media/newscentre/archive/2153.html">Consultation Report and Executive Summary</a>, "Should the Tube run later at weekends?", is available from the TfL website </li>
<li>Under the original consultation proposal, first trains would have arrived at Central London stations at around 7am on Saturdays and 0830am on Sundays. Last trains would depart from the West End on Friday and Saturday nights at around 0130am </li>
<li>Around two-thirds of those who currently use the tube during the first hour of operation over the weekend do so on Sunday morning. </li>
<li>Most of these people are either travelling to and from work or travelling to make other transport connections, such as national rail services at central London stations or flights from London's airports </li>
<li>Having analysed the results of the original consultation, TfL has developed the revised proposal, which seeks to minimise the disbenefit to those who use the Tube early at weekends, while maximising the opportunity to run the Tube later on Fridays and Saturdays </li>
<li>Currently, the last trains from the West End at weekends are around 1230am and reach their termini between 0100am and 0130am depending on location. </li>
<li>Services begin again at around 0530 on Saturday and 0700 on Sunday</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The original consultation, Should the Tube run later at weekends?, proposed that the Tube run an hour later on Friday and Saturday nights, starting up again an hour later on Saturday and Sunday mornings.LU is now considering an alternative proposal to run";}
        
        


 