


@{ViewBag.Title = "Marshalled Taxi Rank at Kingston this Xmas";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Marshalled Taxi Rank at Kingston this Xmas</h1>
        <div class="content-page-press-release">
        30 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Kingston will be the latest town centre to benefit from a marshalled taxi rank as part of the Mayor's Safer Travel at Night scheme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Licensed cabs are a safe and convenient way to get home at night
</p>
</div>
<p>Transport for London's (TfL) Public Carriage Office (PCO) has been working with local police, the Licensed Taxi Drivers Association (LTDA) and Kingston's licensed taxi drivers to introduce the late-night marshalled taxi rank pilot scheme to visitors of Kingston over the Christmas period.</p>
<p>Mayor of London Ken Livingstone said: "As the nights get colder and seasonal parties take place this marshalled taxi rank will help Kingston residents to get a licensed taxi home. </p>
<p>"Licensed cabs are a safe and convenient way to get home at night.</p>
<p>"This initiative is a key part of my strategy to improve the safety of people travelling late at night across London, and I am pleased that Kingston is one of the first places to benefit."</p>
<p>Ed Thompson, TfL's Taxi and Private Hire Director, said: "Marshalled taxi ranks in the London West End and Bromley have proved a great success - we hope that it will prove popular in Kingston.</p>
<p>"The rank will provide a safe focal point for people wanting a legitimate taxi and a deterrent to illegal taxi touts. </p>
<p>"Not only will it be marshalled but it will also be covered by CCTV as well as regular patrols by the police.</p>
<h2><strong>Local support</strong></h2>
<p>"Demand for transport in town centres over the Christmas period is very high and taxi drivers play a crucial part in providing a safe way for people to get home."</p>
<p>Tony Ellis, London Taxi Drivers Association, said: "Local licensed taxi drivers fully support this scheme.</p>
<p>"It will be marshalled by licensed taxi drivers who will be organising the queues and making sure that passengers get into licensed taxis, quickly, efficiently and safely."</p>
<p>The scheme will operate over Christmas on Wednesdays, Fridays and Saturdays between the hours of 1030 and 0330 and will be based in Kingston Town Centre (just outside the Oceana nightclub).</p>
<ul>
    <li>The Kingston marshalled taxi rank will operate between 1030 and 0330, Wednesday 30 November, Wednesday 7, 14, 21, 28 December, Friday 2, 9, 16, 23 December, Saturday 3, 10, 17 December</li>
    <li>Safer Travel at Night is a joint initiative between the Mayor of London, Transport for London and the Metropolitan Police</li>
    <li>Other Safer Travel at Night initiatives include  the 'Know what you are getting into' campaign advising women against using illegal minicabs, all buses fitted with CCTV by the  end of 2005, all minicab operators and vehicles licensed by spring 2005 and drivers by spring 2006</li>
    <li>Impact of the 'Know what you're getting into' campaign on attacks</li>
    <li>In the first 12 months of the campaign minicab related sexual assaults declined by 27% and rapes by 22% to 155 sexual assaults  (42 of which were rapes)</li>
    <li>In the second year of activity minicab related sexual assaults fell to 140 (32 of which were rapes)</li>
    <li>This signified a 34 per cent fall in  the number of offences and a 41 per cent fall in number of rapes during the first two years of the campaign</li>
    <li>In the third year of activity sexual assaults have fallen to 10 a month</li>
    <li>The taxi rank will be covered by CCTV, and patrolled regularly by police</li>
    <li>The marshal will have a two way radio linked with the town centre CCTV control room</li>
    <li>Passengers must approach the marshal if they wish to get a taxi</li>
    <li>The marshalled taxi rank pilot scheme is part of the on-going Safer Travel at Night initiative and will provide a safe and alternative  form of late night transport</li>
    <li>The rank is not intended to link up individual passengers or groups unknown to each other who are travelling in the same direction</li>
    <li>Drivers are free to return to the marshalled rank as many times as they wish during the night</li>
    <li>The marshalled taxi rank pilot scheme is part of the on-going Safer Travel at Night initiative and will provide a safe and alternative  form of late night transport</li>
    <li>The rank is not intended to link up individual passengers or groups unknown to each other who are travelling in the same direction</li>
    <li>Drivers are free to return to the marshalled rank as many times as they wish during the night</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) Public Carriage Office (PCO) has been working with local police, the Licensed Taxi Drivers Association (LTDA) and Kingston's licensed taxi drivers to introduce the late-night marshalled taxi rank pilot scheme to visitors of";}
        
        


 