


@{ViewBag.Title = "Mayor unveils new travel guide for Londoners with learning difficulties";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils new travel guide for Londoners with learning difficulties</h1>
        <div class="content-page-press-release">
        15 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new guide to help people with learning difficulties get around the Capital was launched today by the Mayor of London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This guide aims to give people the confidence to travel independently
                            
                        </p>
                    </div>
                
            
            
            <p align="left">The Out and About in London guide, produced by Transport for London (TfL), gives users help and advice on how to use public transport in the capital.</p>
<p align="left">People with learning difficulties helped to write the guide, which aims to give people the confidence to travel independently.</p>
<p><strong>Out and About in London contains sections on</strong>:</p>
<ul>
<li>Travelling on buses, cabs, Docklands Light Railway, trains, trams and the Tube 
</li><li>Staying safe and dealing with roads 
</li><li>Getting help 
</li><li>Useful contacts</li></ul>
<p>The guide also contains spaces to record personal details and individual journey details.</p>
<p>Displayed in a folder, the user can keep just the relevant sections, and carry it with them when travelling.</p>
<h2>Audio version</h2>
<p>The Out and About in London series includes an audio CD version and a separate document for anyone supporting somebody to travel independently.</p>
<p>The Mayor of London, Ken Livingstone, said: "London's transport network can seem complicated and intimidating to people with learning difficulties and a lack of access to transport can cause real problems. </p>
<p>"This guide will help to give people the confidence to travel independently and to open up access to everything London offers." </p>
<p>Peter Hendy, Managing Director Surface Transport, TfL, said:<br>"Transport for London is working to make the Capital more accessible for all Londoners. </p>
<p>"We can take physical arrangements like improving step-free access at Tube stations, and we are making all buses accessible by the end of the year.</p>
<p>"But it is important to remember that barriers to people travelling independently aren't always physical.</p>
<p>"I hope this new guide will help Londoners with learning difficulties to use their public transport network and get around the city like anybody else."</p>
<p>
<p>To order any of the three free guides, call London Travel Information on 020 7222 1234. 
<hr>

<p>
<p>
<p>Copies of the guide and a range of other accessibility information can can also be downloaded from Transport for London at <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a> </p>
<p>Dial-a-Ride and other door-to-door transport services are available to people with impaired mobility: <a href="http://www.tfl.gov.uk/dialaride">www.tfl.gov.uk/dialaride</a> </p>
            <ul>
<li>Copies of the guide are available to the media on request. </li>
<li>The Out and about in London series includes: 
<ul>
<li><a href="/assets/downloads/OutaboutguideFINAL.pdf">My guide </a>(PDF, 4.2mb)- ring binder for people with learning difficulties </li>
<li><a href="/gettingaround/transportaccessibility/2898.aspx">My guide for listening</a> - audio CD version </li>
<li><a href="/assets/downloads/independent_travel.pdf">Supporting independent travel</a> (PDF 396kb)- guide for those supporting learners</li></ul></li>
<li>The new Out and About in London series was developed from an original guide produced with the London Borough of Greenwich in 2003 </li>
<li>Special thanks to users and staff at City of Westminster, the London Borough of Greenwich and Working with Words for their help developing the new guides </li>
<li>The guides have been distributed via Social Services departments and charities in London </li>
<li>Some Social Services departments offer travel training and it is hoped the guides will be useful in supporting this </li>
<li>The guide will help people with learning difficulties as part of Transport for London's travel assistance project</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Out and About in London guide, produced by Transport for London (TfL), gives users help and advice on how to use public transport in the capital.People with learning difficulties helped to write the guide, which aims to give people the confidence to";}
        
        


 