


@{ViewBag.Title = "Staying safe on the roads is easy as ABC for young Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Staying safe on the roads is easy as ABC for young Londoners</h1>
        <div class="content-page-press-release">
        02 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London will this term be sending a free copy of 'The A-Z of Traffic Tales' to every primary school in London to help teachers educate children about road safety from the very start of their school careers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
There is still a long way to go, and one child hurt on our roads is one too many
</p>
</div>
<p>As the name suggests, each letter of the alphabet has its own engaging short story with colourful, lively pictures presented in six 'Big Books', ideal for class, group or individual use. </p>
<p>There is also a comprehensive teacher's guide crammed with literacy ideas, discussion points, key words, a range of suggested activities for citizenship, and detailed information on relevant road safety messages.  </p>
<p>A colourful alphabet frieze is provided for display and further stimulation.  </p>
<p>Chris Lines, Head of TfL's London Road Safety Unit, said: "Having introduced a number of initiatives to improve the Capital's road safety record, we've seen the number of children killed or seriously injured on London's roads fall by 48 per cent since 1998.  </p>
<p>"However, there is still a long way to go, and one child hurt on our roads is one too many.  </p>
<p>"We hope that by providing teachers with the means to include road safety messages while meeting national curriculum requirements, we can equip children from an early age with the knowledge that will help keep them safe on London's roads."</p>
<p>'The A-Z of Traffic Tales' will be launched on Friday 4 November at 1030 at the Washington Mayfair Hotel, Curzon Street, London W1J 5HE.  <br />
</p>
<ul>
    <li>Launch Details<br />
    - Journalists are welcome to attend the launch - please contact Katie Pratt at <a href="mailto:katiepratt&#64;tfl.gov.uk">katiepratt&#64;tfl.gov.uk</a> or by telephone on 0845 604 4141 if you wish to attend<br />
    - Speakers at the launch will include: <br />
    <ul>
        <li>Chris Lines, Head of TfL's London Road Safety Unit</li>
        <li>Janet Kirrage, TfL's Road Safety Education Manager</li>
        <li>Dawn Boyfield, DBDA (who designed the resource)</li>
        <li>Caroline Boswell, from the Mayor's Children's and Young People's Unit</li>
        <li>Nick Morris, TfL's Director of Road Network Performance</li>
        <li>Interviews can be arranged upon request</li>
        <li>A DVD showing a class using the resource will be shown at the launch and is available to the media upon request</li>
        <li>Electronic copies of a selection of stories and the corresponding teacher's notes are available to the media upon request</li>
    </ul>
    </li>
    <li>The Resource<br />
    <ul>
        <li>This resource is aimed at Key Stage 1, and has been specifically developed by DBDA to help teach road safety through literacy, as well as promote key personal, social, health, emotional and citizenship issues</li>
        <li>Every school in London should receive their resource pack by 30 November</li>
        <li>The Mayor set a target for a 40per cent reduction in incidents where people were killed or seriously injured on London's roads by 2010. By the end of 2004, TfL had already achieved a reduction of 38 per cent overall, while the number of children killed or seriously injured fell by 48 per cent (compared to the 1994-98 baseline - accident data reports can be obtained from the <a href="/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">TfL website</a>.</li>
    </ul>
    </li>
    <li>The overall target is to be raised to 50 per cent<br />
    <ul>
        <li>TfL now has a suite of road safety education initiatives targeting every stage of a child's schooling:</li>
        <li>Children's Traffic Club - pre-school</li>
        <li>'The A - Z of Traffic Tales' - Key Stage 1</li>
        <li>Junior Road Safety Officers initiative - targets Key Stage 2 pupils directly, and through them the rest of the school</li>
        <li>'Don't die before you've lived' campaign - children starting secondary school<br />
</li>
        <li>Theatre in Education scheme - secondary school</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the name suggests, each letter of the alphabet has its own engaging short story with colourful, lively pictures presented in six 'Big Books', ideal for class, group or individual use. There is also a comprehensive teacher's guide crammed with literacy";}
        
        


 