


@{ViewBag.Title = "Successful marshalled taxi rank at Cranbourn Street becomes permanent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Successful marshalled taxi rank at Cranbourn Street becomes permanent</h1>
        <div class="content-page-press-release">
        08 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The marshalled taxi rank being trialled in the West End of London will now become a permanent fixture, having successfully helped 30,000 people get home safely on Friday and Saturday nights.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
It is popular with taxi drivers and passengers alike, offering a reliable and secure place to find a cab
</p>
</div>
<p>Since its launch a year ago, the marshalled rank at Cranbourn Street (by Leicester Square Tube station), has grown in popularity.</p>
<p>The rank forms part of the Mayor's campaign to encourage Londoners to use licensed taxis and private hire vehicles rather than unsafe illegal minicabs.</p>
<p>Ten women a month are sexually attacked every month by illegal minicab drivers. </p>
<p>Ken Livingstone, Mayor of London, said: "The Cranbourn Street marshalled taxi rank in the heart of the West End has helped to successfully take thousands of people home safely.</p>
<p>"It is popular with taxi drivers and passengers alike, offering a reliable and secure place to find a cab.</p>
<p>"It is one of several late night travel options, such as night buses, which are enabling people to avoid using illegal minicabs.'</p>
<p>Ed Thompson, TfL's Taxi and Private Hire Director, said: "Thirty thousand people have been taken home safely via this marshalled taxi rank in the past year.</p>
<p>"We are pleased that it will be a permanent fixture and will complement other legitimate means of getting home. </p>
<p>"Our message is clear, use legitimate services - either taxis, licensed minicab operators, or night buses. </p>
<p>"Don't put yourself at risk."</p>
<p>The taxi rank at Cranbourn Street is marshalled on Friday and Saturday evenings from 2200 and 0300 and, in December only, this service will be extended to Thursdays also.</p>
<ul>
    <li>Safer travel at Night is a joint initiative between the Mayor of London, Transport for London and the Metropolitan Police
    </li>
    <li>Other Safer Travel at Night initiatives include the 'Know what you are getting into' campaign advising women against using illegal minicabs, all buses fitted with CCTV by the end of 2005, all minicab operators and vehicles licensed by spring 2005 and drivers by spring 2006
    </li>
    <li>Since the launch of Safer Travel at Night and 'Know what you are getting into', rapes and sexual assaults on women in illegal minicabs have fallen by a third from 212 in 2002 to 10 a month
    </li>
    <li>The taxi rank will be covered by CCTV, and patrolled regularly by police
    </li>
    <li>Passengers must approach the marshal if they wish to get a taxi
    </li>
    <li>Drivers are free to return to the marshalled rank as many times as they wish during the night
    </li>
    <li>The Transport Operational Command Unit (TOCU) has over<br />1300 staff including 400 police, 450 traffic community support officers and 350 traffic wardens
    </li>
    <li>There are 700 BTP officers patrolling the transport network
    </li>
    <li>Since the TOCU cab unit was launched it has made 1,944<br />arrests with approximately 1,600 of these for touting
    </li>
    <li>The unit undertook 45 operations between April 2005 and July 2005 - half of these for touting operations
    </li>
    <li>The cab unit of TOCU consists of 35 police officers who<br />work closely with borough police to identify and apprehend touts</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since its launch a year ago, the marshalled rank at Cranbourn Street (by Leicester Square Tube station), has grown in popularity.The rank forms part of the Mayor's campaign to encourage Londoners to use licensed taxis and private hire vehicles rather than";}
        
        


 