


@{ViewBag.Title = "TfL to host international transport security conference";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to host international transport security conference</h1>
        <div class="content-page-press-release">
        03 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is to host the International Association of <BR>Public Transport (UITP) security conference, 'Anti-Terrorism in Public <BR>Transport' at the Queen Elizabeth II centre in central London, November 13-15, <BR>2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
We know that there are lessons we can learn and experiences we must share with other transport networks from around the world
</p>
</div>
<p>Secretary of State for Transport, Alistair Darling MP, is due to address the conference. </p>
<p>Senior TfL directors, including those from London Underground and London Buses, will attend and give presentations on London's experiences from July 7, as will a senior British Transport Police officer.</p>
<p>The conference will offer security managers from major public transport networks worldwide the opportunity to discuss current security strategies, technologies and share lessons learned from recent incidents.</p>
<p>Mike Brown, London Underground Chief Operating Officer, said: "The response of all transport and emergency service staff in London on July 7 was magnificent. </p>
<p>"The training, planning and professionalism of all those involved was clearly evident.</p>
<p>"We continue to work closely with the police, emergency and security services to keep transport in London as safe as possible.</p>
<p>"However, London is not the only transport network to have suffered a terrorist attack. </p>
<p>"Our colleagues in Madrid and Moscow have also had to deal with major incidents in recent years. </p>
<p>"We know that there are lessons we can learn and experiences we must share with other transport networks from around the world.</p>
<p>"This UITP conference provides an excellent opportunity to share that expertise and knowledge."</p>
<ul>
    <li>UITP is the French language initialisation for the International Association of Public Transport</li>
    <li>The UITP Conference, 'Anti-Terrorism in Public Transport', will be hosted by TfL at the Queen Elizabeth II Conference Centre in  Westminster, central London from November 13-15, 2005</li>
    <li>UITP intend to allow media access to the conference from 1000-1200hrs on Monday November 14 and to all sessions on Tuesday  November 15, from 0930-1600</li>
    <li>A press conference is planned for Monday November 14, 1200-1300hrs.  More details will be provided by TfL and UITP prior to the conference</li>
    <li>Media who wish to register to attend the UITP Conference should contact the UITP Press Office: <br />
    Isabelle Valentiny    <br />
    Direct line: <span>+32 2 663 66 72</span>    <br />
    Mobile: <span>+32 474 54 20 25</span>    <br />
    Email: <a href="mailto:Isabelle.valentiny&#64;uitp.com">Isabelle.valentiny&#64;uitp.com</a> <br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Secretary of State for Transport, Alistair Darling MP, is due to address the conference. Senior TfL directors, including those from London Underground and London Buses, will attend and give presentations on London's experiences from July 7, as will a";}
        
        


 