


@{ViewBag.Title = "TfL helps businesses to join Londons transport revolution";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL helps businesses to join Londons transport revolution</h1>
        <div class="content-page-press-release">
        29 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With cycle journeys doubling, and more commuters looking for an alternative to the car, Transport for London (TfL) is launching a range of initiatives to help businesses save money, free up their car parking spaces and help their employees to find better ways of getting to work.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to encourage firms to provide more transport solutions for their staff
                            
                        </p>
                    </div>
                
            
            
            <p>TfL is launching three new schemes to assist businesses in providing facilities for staff who want to reduce their dependency on private cars. </p>
<p>Under the new schemes, if companies draw up workplace travel plans which lay out how they will encourage and help their staff to use sustainable transport - like cycling, walking or public transport - in return they can be offered the following incentives:</p>
<ul>
<li>Up to &pound;1,000 match funding for facilities including showers, lockers and drying facilities 
</li><li>Free cycle stands for up to 40 bicycles 
</li><li>Trade-price Raleigh bicycles for pool cycle facilities</li></ul>
<p>Many companies, including GlaxoSmithKline (GSK), which has focused on cycling, have already seen benefits from providing this sort of facility for their staff. </p>
<p>Peter Handcock, Vice-President of Worldwide Real Estate, GSK, comments: "We are very proud of the package that we have been able to put together. </p>
<p>"Although we have spent a reasonable amount of money on our cycle measures, it is not always the expensive ones that are appreciated the most. </p>
<p>"A number of the elements cost very little, but the key thing has been using the enthusiasm and commitment of the cyclists themselves to develop improved facilities which attract new people to cycling.</p>
<h2><strong>Good business</strong></h2>
<p>"Getting more people cycling means that we use our buildings more efficiently and adds to creating a more happy and healthy work force.</p>
<p>"It is not so much a case of "do-gooding" as of good business". </p>
<p>As part of a TfL-funded scheme, London boroughs offer free consultations with workplace travel advisors to produce travel plans.</p>
<p>These plans can include initiatives to encourage cycling, walking, public transport use, flexible working and teleworking.</p>
<p>As well the cost benefits from more employees cycling, employers also benefit from a fitter, healthier workforce.</p>
<p>Regular cycling halves the chances of heart disease, helps prevent strokes and diabetes, and lowers blood pressure and resting heart rate.</p>
<p>Ben Plowden, Managing Director Group Communications, TfL, said: "It is estimated that each parking space costs up to &pound;2,000 a year to maintain, but five bicycles will fit into a parking space.</p>
<p>"Encouraging just five members of staff to travel to work by bicycle could save a company as much as &pound;8,000.</p>
<p>"Cycling is seeing an exciting renaissance in the capital, but a lack of cycle parking and changing facilities in the work place are regularly cited as barriers to employees cycling.</p>
<p>"We want to help businesses remove those barriers and to encourage firms to provide more transport solutions for their staff."</p>
<p>Details of the work carried out by GSK is available as a case study on request.</p>
<p>Businesses interested in work place travel plans and the associated offers should contact TfL customer services on 020 7222 5600.<br></p>
            <ul>
<li>TfL, in conjunction with London's boroughs, will provide cycle stands for businesses to install on their premises</li>
<li>In 2005/06 Transport for London will invest almost &pound;20m in cycling infrastructure, training and education</li>
<li>Recorded cycle journeys on the TfL Road Network increased by 100 per cent between 2000 and 2005, rising from 59,000 journeys to 119,000 journeys per week</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is launching three new schemes to assist businesses in providing facilities for staff who want to reduce their dependency on private cars. Under the new schemes, if companies draw up workplace travel plans which lay out how they will encourage and";}
        
        


 