


@{ViewBag.Title = "TfL launches Needless Jam campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches Needless Jam campaign</h1>
        <div class="content-page-press-release">
        02 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        It takes just one piece of careless parking to clog up London's red routes - that's the message from a new Transport for London (TfL) campaign being launched this week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This campaign is aimed at those few whose inconsiderate actions affect the journeys of many
                            
                        </p>
                    </div>
                
            
            
            <p>The campaign, called 'Needless Jam', consists of posters that will be distributed across London to be displayed at bus stops and roadside sites, warning drivers that if they illegally park on the red route they will be fined &pound;100.</p>
<p>Patrick Troy, TfL's Head of Enforcement, said: 'It only takes one driver to clog up London's streets.</p>
<p>'It is vital that all vehicles including buses are able to move along London's roads safely and reliably.</p>
<p>'The majority of drivers adhere to the rules of the road. </p>
<p>'This campaign is aimed at those few who don't, whose inconsiderate actions affect the journeys of many. </p>
<p>'The red routes are enforced by the Metropolitan Police Service traffic wardens and Transport Police Community Support Officers who patrol the red routes on behalf of TfL; we also enforce using CCTV cameras.</p>
<p>'The posters will be distributed throughout London at bus stops and road side venues warning drivers that they will be fined a &pound;100 if they park on a red route.'</p>
            <ul>
<li>The 580km red route forms just five per cent of the capital's roads but carries 33 per cent of its traffic.</li>
<li>TfL is responsible for enforcing traffic regulations on the TLRN including bus lanes, moving contraventions and parking</li>
<li>The penalty charge for contravening traffic regulations is &pound;100, reduced to &pound;50 if paid within 14 days</li>
<li>If anyone receives a Penalty Charge Notice they feel is unfair, they can write to the issuing authority and make a representation against the notice</li>
<li>If the appeal is not upheld, they can either pay the penalty charge or they can appeal to the Independent Adjudicators if they wish to take the matter further.</li>
<li>The adjudicators will look at the appeal based on the evidence presented on a case-by-case basis.</li>
<li>TfL's Transport Policing and Enforcement Directorate aims to deliver world class transport policing and enforcement services to support a safe reliable and socially inclusive transport system for London</li>
<li>The number of bus rides grew more than 38 per cent between 1999/00 and 2004/05</li>
<li>Buses in London now carry the highest number of passengers since 1968</li>
<li>In the year to March 2005, there were 1.79bn passenger trips on the network</li>
<li>Bus mileage in London is higher than at any time since 1957, with 450m km operated in 2004/5 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The campaign, called 'Needless Jam', consists of posters that will be distributed across London to be displayed at bus stops and roadside sites, warning drivers that if they illegally park on the red route they will be fined &pound;100.Patrick Troy, TfL's";}
        
        


 