


@{ViewBag.Title = "Tube buskers play for Cash - Johnny Cash";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube buskers play for Cash - Johnny Cash</h1>
        <div class="content-page-press-release">
        24 November 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) buskers will be playing Johnny Cash's songs on Friday 25 November to celebrate the release of the artist's greatest hits album 'Ring of Fire: the Legend of Johnny Cash'.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will be a great day, to honour a great artist
                            
                        </p>
                    </div>
                
            
            
            <p>Over 30 buskers will be taking part in the Johnny Cash tribute day.</p>
<p>LU customers will be able to enjoy live performances of the many hits that made Johnny Cash a country music legend such as 'Ring of Fire', 'Hurt' and 'I walk the Line'.</p>
<p>Ian Dootson, a LU busker who will perform at Bank station tomorrow afternoon, said: "I will definitely take part in the Johnny Cash Tribute day tomorrow.</p>
<p> I love his music and his greatest hits are all in my repertoire.</p>
<p>"It will be a great day, to honour a great artist."<br></p>
            <ul>
<li>'Ring of Fire: The Legend of Johnny Cash', released by Universal this week, is now on sale</li></ul>
<p><strong>The scheme</strong>:</p>
<ul>
<li>Sponsored by Carling, the LU busking initiative was originally launched from 19 May 2003 to 6 June 2003 after LU won the right in 2001 to change national law and local bylaws to legalise licensed busking 
</li><li>The scheme was developed as a response to customer demand for talented musicians being licensed to play at stations, but not on trains 
</li><li>Commercial backing from Carling helps fund the recruitment and auditioning of musicians as well as the management of the scheme by professional artist management company, Automatic Management 
</li><li>Licensed buskers are chosen on talent, with emphasis placed strongly  on meeting the wide-ranging musical tastes of Tube customers 
</li><li>Buskers are not paid by LU or Carling and rely on the generosity of Tube passengers 
</li><li>All buskers have to pass an audition in front of a judging panel and are vetted for any police convictions before they are issued with their free London Underground Busking Licence 
</li><li>The scheme's overnight success resulted in its gradual expansion in the last two years; there are now 36 pitches throughout the network with 289 licensed buskers 
</li><li>The scheme started and continues at Canary Wharf, Bond Street, Green Park, Westminster, Leicester Square, Tottenham Court Road, Charing Cross, Oxford Circus, Piccadilly Circus, South Kensington, Bank, Victoria and London Bridge 
</li><li>Angel, King's Cross St. Pancras, Euston, Waterloo and Victoria were added in October 2003; Notting Hill Gate and Hammersmith followed in January 2005 
</li><li>Over 3,360 hours of live music are provided by the buskers every week</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 30 buskers will be taking part in the Johnny Cash tribute day.LU customers will be able to enjoy live performances of the many hits that made Johnny Cash a country music legend such as 'Ring of Fire', 'Hurt' and 'I walk the Line'.Ian Dootson, a LU";}
        
        


 