


@{ViewBag.Title = "Consultation begins on detailed proposals for London-wide Low Emission Zone";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on detailed proposals for London-wide Low Emission Zone</h1>
        <div class="content-page-press-release">
        13 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, today announced the start of detailed consultation by Transport for London on the proposed London-wide Low Emission Zone. The scheme is aimed at reducing emissions from the most polluting diesel engine lorries, coaches, buses, heavier vans and minibuses.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want people living, working and visiting London to benefit from better air quality
                            
                        </p>
                    </div>
                
            
            
            <p>A Low Emission Zone scheme would aim to improve London's air quality - and thereby improve Londoners' health - by encouraging operators of large diesel vehicles to clean up their fleets. </p>
<p>From 2008, diesel engine lorries, coaches and buses that fail to meet a minimum pollution standard face having to pay a charge if they drive within Greater London. Such a charge would be designed to act as an effective incentive for operators to modify or replace dirty vehicles.</p>
<p>The Low Emission Zone could go live as early as February 2008. It is also proposed that by 2010 the scheme would be extended to heavier diesel engine light goods vehicles and minibuses.  From 2012 the emissions standard for Heavy Goods Vehicles, buses and coaches would be tightened to Euro IV standards for particulate matter.</p>
<p>Transport for London has published a scheme order this week, and consultation on the plans will run until 2 February 2007. <br>Explanatory notes and leaflets for both the public and for operators have been produced by Transport for London to inform the consultation process. Following the consultation the Mayor will decide whether or not to confirm the proposals with or without modifications. </p>
<p>Ken Livingstone said: "The proposed Low Emission Zone is the most effective way of quickly reducing pollutants that are among the most harmful to human health. It will make London one of the first cities in the world to have taken such a radical step to tackle air pollution and safeguard our environment.</p>
<p>"London suffers the worst air quality in the UK and amongst the worst in Europe. We want people living, working and visiting London to benefit from better air quality and to live longer and healthier lives."</p>
<p>
            <ul>
<li>More information is available on the <a href="http://www.tfl.gov.uk/lezlondon">LEZ section of the TfL website</a> or by calling Transport for London's LEZ helpline on 08457 224577 
</li><li>Based on the scheme order, the proposed LEZ would: 
<ul>
<li>Operate using cameras to identify registration numbers of vehicles driving within Greater London. It would be in force all of the time, ie seven days a week, 365 days a year 
</li><li>Use the DVLA database and others to identify a vehicle's emissions standards, whether it was liable for a charge and if that charge had been paid 
</li><li>Start with heavier lorries defined as those over 12 tonnes (rather than 7.5 tonnes as proposed in the January 2006 consultation) 
</li><li>Allow for coaches, buses and lighter lorries (between 3.5 tonnes and 12 tonnes) to be given more time to comply and be brought into the scope of the LEZ from mid-2008 
</li><li>By autumn 2010 be extended to heavier diesel-engine light goods vehicles and minibuses, the lightest LGVs (mainly car- derived vans) would be excluded from this stage as they have car-like emissions 
</li><li>Allow for the standard for lorries, coaches and buses to be tightened in early 2012 to Euro IV for particulate matter (rather than 2010 as previously consulted on). This changed proposal follows representations that a 2010 start would impose unreasonable compliance costs on vehicle operators 
</li><li>The Mayor has also concluded that use of the charging powers under schedule 23 of the Greater London Authority Act is the most appropriate way to establish the scheme 
</li><li>The consultation on the detailed proposals - the scheme order - outlines the exact classes of vehicle emission standards, area covered and registration and enforcement procedures. Subject to the Mayor deciding whether to confirm the scheme order, the soonest the LEZ could go live is early 2008 
</li><li>Through the fitting of particulate traps, all London buses under contract to TfL now meet a minimum of Euro III emission standards for particulate matter 
</li><li>Similarly, the Taxi Emissions Strategy requires all London licensed taxis to meet Euro III emission standards for particulates and oxides of nitrogen by mid 2008, consistent with the LEZ requirements for buses, coaches and all HGVs</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Low Emission Zone scheme would aim to improve London's air quality - and thereby improve Londoners' health - by encouraging operators of large diesel vehicles to clean up their fleets. From 2008, diesel engine lorries, coaches and buses that fail to";}
        
        


 