


@{ViewBag.Title = "Have your say - route options for the new Cross River Tram";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say - route options for the new Cross River Tram</h1>
        <div class="content-page-press-release">
        20 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London was joined by the London Transport Commissioner today to launch a Transport for London (TfL) consultation asking people for their views on potential routes for the proposed Cross River Tram.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The tram will carry more than 60 million passengers a year, relieving some of the high demand on the Northern and Victoria lines
                            
                        </p>
                    </div>
                
            
            
            <p>The Cross River Tram would run between Euston and Waterloo, with branches to Camden Town and King's Cross in the north, and Brixton and Peckham in the south. </p>
<p>Trams would arrive every two minutes at central stops (Euston to Waterloo), and every four minutes at outer stops (Camden, King's Cross, Peckham and Brixton). Subject to future funding, the tram could be operational by 2016.</p>
<p>The scheme promotes economic regeneration and social inclusion in parts of the capital that have experienced decades of underinvestment in transport, creating jobs, sustaining businesses and improving access to work, education and healthcare facilities. </p>
<p>It will also improve the transport network by moving people quickly, comfortably and efficiently across London and relieve other crowded lines such as the Northern line.</p>
<p>Mayor of London, Ken Livingstone, said: "The Cross River Tram will provide an important cross-river link that will support regeneration in Camden in the north and Peckham and Brixton in the south. </p>
<p>"It will improve access to jobs, education and homes whilst helping to cut congestion and pollution by offering another alternative to car use. </p>
<p>"The tram will carry more than 60 million passengers a year, relieving some of the high demand on the Northern and Victoria lines."</p>
<p>&lt;h2&gt;Transport improvements&lt;/h2&gt;</p>
<p>Peter Hendy, London Transport Commissioner, said: "As well as the economic investment and transport benefits, Cross River Tram will also result in an enhanced public realm along the routes it will serve. </p>
<p>"We will work with boroughs to provide major transport improvements for Londoners as part of the major regeneration of King's Cross, Elephant &amp; Castle, Brixton and Southwark."</p>
<p>TfL is asking for views on route option on seven sections of the route: Euston to Camden, Euston to King's Cross, Waterloo to Oval, Oval to Brixton, Brixton town centre, Waterloo to Peckham and Peckham town centre in south and central London. </p>
<p>The consultation will run from Tuesday 21 November 2006 until Tuesday 30 January 2007. Full details of the route options and the chance to respond can be found on the <a href="http://www.tfl.gov.uk/crt">website</a>.</p>
<p>&lt;h2&gt;Have your say&lt;/h2&gt;</p>
<p>Responses can also be made by emailing <a href="mailto:crt&#64;tfl.gov.uk">crt&#64;tfl.gov.uk</a>, sending a letter to TfL FREEPOST NAT 22450, London SW1 0BR or by calling freephone 0800 234 6004.</p>
<p>In the New Year, TfL will be consulting on proposals for a depot in Peckham to service and house vehicles for the Cross River Tram.</p>
            <ul>
<li>Cross River Tram benefits:</li>
<ul>
<li>Help reduce traffic pollution and congestion. For example, Croydon Tramlink has reduced the number of car journeys by nearly four million trips a year</li>
<li>Offer an attractive alternative for people travelling on some of the most crowded stretches of the Northern and Victoria lines</li>
<li>Provide an opportunity to enhance areas along the route. TfL will work with boroughs along the route to provide new pavements, streetlights, pedestrian crossings and other improvements</li>
<li>Be spacious and air-conditioned. There will be wide double doors and it will be step-free, so it will be easy to get on and off</li>
<li>Bring major benefits to local businesses and help support local people</li>
<li>Improve transport to major regeneration projects along the route such as King's Cross, Elephant and Castle, Brixton and the Aylesbury Estate in Southwark. These developments could generate around 78,000 new jobs</li>
<li>Provide faster connections to those areas currently less well served by rail or underground<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Cross River Tram would run between Euston and Waterloo, with branches to Camden Town and King's Cross in the north, and Brixton and Peckham in the south. Trams would arrive every two minutes at central stops (Euston to Waterloo), and every four";}
        
        


 