


@{ViewBag.Title = "Improvements on Jubilee line wins top award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvements on Jubilee line wins top award</h1>
        <div class="content-page-press-release">
        13 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has won an award for delivering major improvements along the Jubilee line, including the introduction of an extra carriage on all trains.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers have benefited from the increased capacity and the project was even delivered early
                            
                        </p>
                    </div>
                
            
            
            <p>Judges, in a contest run by the Association of Project Management (APM), commended the efficiency with which the seventh carriages were introduced on all Jubilee trains - on time and below budget with the least achievable disruption to our customers. </p>
<p>The work was undertaken by Tube Lines, working closely with London Underground. </p>
<p>The project was awarded the title of Project of the Year.</p>
<p>Andy Mitchell, Contract Director, said: "Passengers have benefited from the increased capacity and the project was even delivered early, allowing the line to be opened two days earlier than expected.</p>
<p>"We're delighted to have won this award and the successful completion demonstrated the importance of both managing the physical works and effective communication with operational colleagues and customers."</p>
<p>Judges were looking for a successful project, commissioned and completed during the last year, which had met or far exceeded its objectives.</p>
<p>The Jubilee line added an additional carriage to its entire fleet of trains during January 2006. </p>
<p>As well as the additional carriages, four new trains were added, increasing the fleet from 59 to 63 trains. </p>
<p>The successful delivery of the project increased capacity on the line by 17 per cent and the line can now carry an additional 90,000 people every day, improving the service by reducing overcrowding. </p>
<p>Before the improvements, the Jubilee line capacity was approximately 33,000 people per hour in both directions running 24-hour trains per hour. </p>
<p>With the introduction of seven-carriage trains and an extra four trains, the capacity was increased to enable 39,000 passengers per hour to be carried.</p>
            <ul>
<li>Transport for London is investing &pound;10billion over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Judges, in a contest run by the Association of Project Management (APM), commended the efficiency with which the seventh carriages were introduced on all Jubilee trains - on time and below budget with the least achievable disruption to our customers. The";}
        
        


 