


@{ViewBag.Title = "Jay Walder to leave Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jay Walder to leave Transport for London</h1>
        <div class="content-page-press-release">
        22 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that Jay Walder, TfL's Managing Director for Finance and Planning for the last six years, will leave at the end of February next year to join the international management consulting firm McKinsey & Company as a Partner.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Jay has made a huge contribution to transport in London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Ken Livingstone, said: "Jay has made a huge contribution to transport in London. His financial expertise unlocked the biggest investment in London's transport in the last 50 years. </p>
<p>"Over his six years he identified &pound;1.26bn of efficiency savings through to 2009/10 which we are able to plough back into improving services and has helped win for TfL the rating of 'excellent' from the Audit Commission. <br><br>"He also successfully introduced the Oyster smartcard, which gives millions of Londoners easier, faster journeys. </p>
<p>"We will be sorry to see him go, but Jay's work at TfL has broken the cycle of short-term stop-start investment and means London's transport system faces the future in a much healthier state."</p>
<p>Peter Hendy, London's Transport Commissioner, said: "Jay joined TfL just after it was created and has been a key figure in turning it into an organisation that is respected around the world for its record of delivery and innovation.</p>
<p>"Jay's experience at the Metropolitan Transportation Authority in New York, allied with his experience as an academic and financier, meant he was the perfect person to lead on issues such as transport plans for the Olympics, major investment projects such as Crossrail, and TfL's long-term strategic plans."</p>
<p>Jay Walder said: "TfL has been an extremely rewarding experience. I am grateful to the Mayor of London, Ken Livingstone for inviting me to join TfL.</p>
<p>"The last six years have been a fantastic opportunity. I am delighted that I will continue to live in London in my new role at McKinsey and watch as the transport network benefits from the investment now flowing in."</p>
<p><br><br></p>
            <ul>
<li>Jay Walder, 47, joined TfL after a strong international career focused on transportation and public service. He led TfL's effort to achieve an unprecedented funding settlement in Spending Review 2004, and is the architect of the first-ever UK issue of Municipal Eurobonds</li>
<li>He also:</li>
<ul>
<li>Spearheaded efforts to implement the widely successful Oystercard, now the largest contactless smartcard in Europe</li>
<li>Was responsible for the transport plans to support London's successful Olympic bid</li>
<li>Led a marketing department that has garnered more than twenty awards for its innovative advertising campaigns</li></ul>
<li>Prior to joining TfL, Jay was a Professor at Harvard University's John F. Kennedy School of Government, where he taught post-graduate degree courses and international Executive Education Programmes. He spent twelve years at the Metropolitan Transportation Authority in New York, where he became the Executive Director and Chief Financial Officer, the most senior finance and policy position in the company. He began his career in the Executive Office of the President in Washington DC</li>
<li>Jay is a Member of the Policy Board of the International Association of Public Transport, a Member of the Partnerships UK Advisory Council, and is on the International Advisory Board of the Women's Transportation Seminar and Advisory Board of the Eno Transportation Foundation, both in Washington DC</li>
<li>A photograph of Mr Walder is available for download from the Image gallery area on the <a href="http://www.tfl.gov.uk/news">TfL website  </a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, said: 'Jay has made a huge contribution to transport in London. His financial expertise unlocked the biggest investment in London's transport in the last 50 years. 'Over his six years he identified &pound;1.26bn of";}
        
        


 