


@{ViewBag.Title = "Lancaster Gate reopens";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lancaster Gate reopens</h1>
        <div class="content-page-press-release">
        13 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lancaster Gate station on the Central line reopened on Monday 13 November, following essential refurbishment of the lifts and modernisation of the station.
        
    </div>



 <div class="on-this-page">
<p>The modernisation work on this Victorian station built in 1900, 
is part of Transport for London's &pound;10bn Investment Programme to improve and 
expand London's transport network, over half of that is being spent on the Tube. 
</p>
<p>The works have been undertaken by Metronet Rail BCV.</p>
<p>Tricia Madge, Performance Manager, Central line, said: "The newly refurbished 
lifts will be more reliable, passengers should also notice a much cleaner, 
brighter and safer station with new passenger Help Points added."</p>
<p>The 18-year-old lifts have been refurbished to improve reliability and 
performance, essential for safety.</p>
<p>The lifts provide the main way of getting from street to platform level, a 
descent of 12.5m (41ft). </p>
<p>There is also a spiral staircase with 104 steps for use in emergencies. </p>
<p>The works carried out at the station include: the refurbishment and renewal 
of the station control room and communications equipment, a new public address 
system and CCTV equipment has been fitted, eight extra seats were added to each 
platform and all heritage features have been restored. </p>
<p>
<h2>Heritage features</h2>
<p>
<p>There is also a new electronic sign in the ticket hall stating when the next 
trains will arrive. </p>
            <ul>
<li>The station opened on 30 July 1900</li>
<li>The lifts that have been refurbished were installed in 1988</li>
<li>Approximately 38,500 journeys start and end at Lancaster Gate each week</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The modernisation work on this Victorian station built in 1900, is part of Transport for London's &pound;10bn Investment Programme to improve and expand London's transport network, over half of that is being spent on the Tube. The works have been";}
        
        


 