


@{ViewBag.Title = "London on target to cut road casualties";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London on target to cut road casualties</h1>
        <div class="content-page-press-release">
        14 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London and Transport for London (TfL) today reaffirmed their determination to cut the number of people killed or seriously injured (KSI) on London's roads, following the release of the latest road safety figures.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Since 2000, increased investment in road safety from &pound;18m to &pound;42m this year has helped make our roads safer
                            
                        </p>
                    </div>
                
            
            
            <p>Figures released by TfL for the first six months of 2006 show that the Capital is well on its way to meeting the new tougher 2010 road safety targets announced by the Mayor of London in 2005. </p>
<p>In the 12 months to the end of June 2006 there has been a 40 per cent reduction in the number of KSIs on the Capital's roads, compared with the Government's road safety baseline (the average number of KSIs between 1994 and 1998).</p>
<p>The number of child KSIs has fallen by 58 per cent, the number of cyclist KSIs has fallen by 30 per cent and the number of slight casualties has fallen by 32 per cent.</p>
<p>Ken Livingstone, the Mayor of London, said: "London is well on track to meet the tough target I have set, for a 50 per cent reduction by 2010 in the number of deaths and serious injuries on the capital's roads. </p>
<p>"Since 2000, increased investment in road safety from &pound;18m to &pound;42m this year has helped make our roads safer. But any death or injury is unacceptable, and Transport for London is working with the Police and the boroughs to reduce road accidents even further."</p>
<p>Jenny Jones, Mayor's Road Safety Ambassador, said: "There are hundreds of Londoners alive today because of the extra investment in road safety.</p>
<p>"Far fewer people are being seriously injured on London's roads than six years ago and far fewer London children are being run over. </p>
<p>"There are still big problems, such as ending the menace of hit and run driving, but we are already looking at the next generation of road safety solutions. </p>
<p>"What London has successfully shown is that road safety works, especially when you increase the budget and you are very determined to do what is necessary to stop death and injury on our roads." </p>
            <ul>
<li>The Metropolitan Police is currently investigating a discrepancy with casualty data from late 2004/early 2005, when serious injuries were noticeably lower compared with following months. This has led to the figures showing a year on year increase in serious injuries in 2006. TfL believes that that there has not been an actual increase in serious injuries between 2005 and 2006, but that the suspected discrepancy has led to the figures showing an increase</li>
<li>Overall, the casualty figures show that London continues to meet and exceed the Government's 2010 casualties reduction targets</li>
<li>Casualty reduction targets - progress towards the year 2010. In March 2000, the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: </li>
<ul>
<li>A 40 per cent reduction in the number of people killed or seriously injured</li>
<li>A 50 per cent reduction in the number of children killed or seriously injured </li>
<li>A 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres</li></ul>
<li>In addition a Road Safety Plan for London was produced by TfL in 2001. This plan supports the national targets and recommends further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders who are killed or seriously injured by 40 percent by 2010</li>
<li>Following the excellent casualty reductions achieved in London, in 2005 the Mayor announced new lower targets, to be achieved by 2010: </li>
<ul>
<li>A 50 per cent reduction in the number of people killed or seriously injured </li>
<li>A 50 per cent reduction in the number of cyclists and pedestrians killed or seriously injured</li>
<li>A 60 per cent reduction in the number of children killed or seriously injured</li>
<li>A 25 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Figures released by TfL for the first six months of 2006 show that the Capital is well on its way to meeting the new tougher 2010 road safety targets announced by the Mayor of London in 2005. In the 12 months to the end of June 2006 there has been a 40";}
        
        


 