


@{ViewBag.Title = "London Underground offers &pound;1,000 reward for information on staff assault";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground offers &pound;1,000 reward for information on staff assault</h1>
        <div class="content-page-press-release">
        21 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is offering a &pound;1,000 reward for information leading to the conviction of a suspect who carried out a vicious attack on one of its employees.
        
    </div>



 <div class="on-this-page">
<p>
<p>The Customer Service Assistant was assaulted by a passenger he was trying to help and was left with blood streaming from his nose.</p>
<p>The incident occurred on Monday 23 October at 11.40am at Royal Oak station. The victim had helped the passenger, who said he had travelled from Latimer Road, to buy a ticket from the automatic machine. </p>
<p>After handing over the passenger's ticket and change, the passenger said he had wanted a return and punched the victim in the face.</p>
<p>Peter Tollington, General Manager of the Circle and Hammersmith and City lines, said: "This was a particularly nasty attack which came out of the blue on a member of staff who was just doing his job in trying to assist a member of the travelling public.</p>
<p>"Instead of thanks, this member of staff received a broken nose, two black eyes and a trip to casualty. </p>
<p>"Our staff should not have to put up with this sort of behaviour at work and Transport for London will do everything it can to bring this suspect to justice."</p>
<p>&lt;h2&gt;Unprovoked attack&lt;/h2&gt;</p>
<p>Royal Oak station had to be closed for three hours as a result of the attack, causing disruption and inconvenience to local passengers on a busy Monday morning.</p>
<p>British Transport Police (BTP) are anxious to identify the man (pictured) who is approx 5'9" aged 30 to 35 years and of average build. The man is clean shaven with a long face and a receding hair line he was wearing glasses. He spoke with a London accent.</p>
<p>Detective Constable John Morrisey of BTP said: "London Underground staff have a right to do their jobs without fear of assault. </p>
<p>"This appears to have been a totally unprovoked attack and if you were a witness or can identify the man in the picture please call 0800 40 50 40."<br></p>
<p>
            <ul>
<li>A CCTV picture of the suspect is available from the press office - please email <a href="mailto:sophiekirkham&#64;tfl.gov.uk">sophiekirkham&#64;tfl.gov.uk</a> or call 0845 604 4141 
</li><li>The victim was taken to St Mary's Hospital, Paddington, for treatment 
</li><li>The cost of workplace violence to London Underground is estimated at &pound;2.2m per annum 
</li><li>Transport for London has funded an increase in the numbers of BTP officers to patrol the Tube by 50 per cent over the past two years, taking the number to its highest ever level at nearly 700.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Customer Service Assistant was assaulted by a passenger he was trying to help and was left with blood streaming from his nose.The incident occurred on Monday 23 October at 11.40am at Royal Oak station. The victim had helped the passenger, who said he";}
        
        


 