


@{ViewBag.Title = "Mayor and Transport for London outline importance of transport for the future of London and the UK";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and Transport for London outline importance of transport for the future of London and the UK</h1>
        <div class="content-page-press-release">
        28 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today set out a 20-year transport programme aimed at ensuring London's future economic prosperity.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL) T2025 report highlights the importance of sustained investment and sets out ways that the impact of transport on the environment can be reduced.</p>
<p>London's economy is expected to grow by 900,000 jobs and its population by 800,000 people, in the next two decades. </p>
<p>This translates into four million extra journeys a day. Three hundred thousand of these new jobs will be in central London including the City, Docklands and the West End. </p>
<p>London's transport infrastructure will need to adapt to this challenge, alongside the parallel imperative of reducing carbon emissions to deal with climate change. </p>
<p>The T2025 package includes a climate change action plan, and sets out the need for substantial ongoing investment in public transport, together with measures to increase cycling and walking. </p>
<p>This equates to a projected nine per cent shift to public transport, cycling and walking over a 20 year period, building on the four per cent shift that has already taken place over the last six years.</p>
<p>
<h2>Economic growth</h2>
<p>
<p>The essential projects for TfL include completing the rebuilding of the Tube through the PPP, the building of Crossrail, and expanding the bus network by a further 40 per cent. </p>
<p>Mayor of London Ken Livingstone said: "London is a successful city that makes an enormous contribution to the wealth of the UK. </p>
<p>"The continued development and economic growth of London will mean that by 2025 the transport system will have to cope with demand for an extra four million trips a day. </p>
<p>"So investment in the network, including the Crossrail project, is essential to the economic health of the whole UK.</p>
<p>
<h2>Sustained investment</h2>
<p>
<p>"The T2025 report also sets out how we can decrease congestion and reduce transport's impact on the environment, meaning that London plays its part in tackling climate change, which is the single biggest challenge we face."</p>
<p>London's Transport Commissioner Peter Hendy said: "We have made considerable progress over the past six years to improve transport in this city, but this plan sets out clearly the scale of the challenges ahead. </p>
<p>"Without sustained investment in efficient, reliable and accessible public transport, London simply cannot meet the demands of the next generation."</p>
            <ul>
<li>A full copy of the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/T2025.pdf">T2025 report </a>is available on TfL's website</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) T2025 report highlights the importance of sustained investment and sets out ways that the impact of transport on the environment can be reduced.London's economy is expected to grow by 900,000 jobs and its population by 800,000";}
        
        


 