


@{ViewBag.Title = "Metronet fails PPP Arbiter assessment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Metronet fails PPP Arbiter assessment</h1>
        <div class="content-page-press-release">
        16 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today responded to the PPP Arbiter's Metronet Annual Report.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Metronet has failed to deliver the programme of station refurbishment
                            
                        </p>
                    </div>
                
            
            
            <p>The PPP Arbiter's Report concluded that over the first three years of the London Underground (LU) PPP, Metronet has not performed in an economic and efficient manner or in line with good industry practice.</p>
<p>The PPP Arbiter's Report followed London Underground's annual PPP report published in August this year (see Notes to Editors), which showed that Metronet's maintenance and renewal activities are behind schedule and its costs are escalating.</p>
<p>TfL today repeated its call for the shareholders of Metronet - Atkins, Balfour Beatty, Bombardier, EDF Energy and Thames Water - to take action to improve Metronet's performance and deliver the improvements promised to Londoners and Tube users, on time and on budget.</p>
<p>London's Transport Commissioner Peter Hendy said: "The Arbiter's conclusion is, unfortunately, no surprise to me or the travelling public, who have had to endure the avoidable disruption caused by Metronet's delayed work programme, which remains seriously behind schedule.</p>
<p>"We have repeatedly made clear our concerns with Metronet's performance and delivery of maintenance and renewal work. </p>
<p>"It is clearly time for an end to the excuses. It is up to Metronet's shareholder companies - Atkins, Balfour Beatty, Bombardier, EDF Energy and Thames Water - to take the action necessary to deliver on their promises to London."</p>
<p><h2>Delayed services</h2></p>
<p>The Mayor of London, Ken Livingstone, said: "The PPP Arbiter's report confirms that, despite the massive investment in renewing the Underground, Metronet is failing to deliver the quality and efficiency for which it is being very generously paid under the PPP. </p>
<p>"Metronet has failed to deliver the programme of station refurbishment and its over-runs on maintenance work have repeatedly delayed services for passengers.</p>
<p>"I disagreed with the PPP, and particularly its enormous cost, but we are are doing all we can to make it work in the interests of Londoners. In the case of Metronet this simply is not happening."</p>
<p>The PPP Arbiter's Metronet Annual Report is guidance. It does not lead to any financial determination. </p>
<p><h2>Quality of service</h2></p>
<p>It is simply an assessment of whether the Metronet companies have or have not performed their activities to date in an overall efficient and economic manner and in accordance with Good Industry Practice.</p>
<p>London Underground Managing Director Tim O'Toole said: "These proceedings are a mystery to the travelling public, but the quality of service is not. </p>
<p>"We have seen improvements to the London Underground network, but not to the level we would expect. Only by Metronet being more efficient will we see the improvements promised, delivered on time and on budget.</p>
<p>"Any delay in work delivered leads to the spectre of a future financial claim on the public purse. Should the Arbiter be called upon to consider such claims, it is vital he ensures that London does not bear the cost for Metronet's failures to manage its work programme economically and efficiently, or its failure to properly plan for the future.</p>
<p>"We are confident that, if the Arbiter is placed in this position, he will ensure that the public purse is protected and that value for money is demonstrated."</p>
            <ul>
<li>LU published its third annual PPP report on July 24, 2006. The full report is available from the <a href="/corporate/modesoftransport/londonunderground/management/1580.aspx">TfL website </a></li>
<li>Under the LU PPP structure, three infrastructure companies are responsible for the maintenance and renewal of the Underground's infrastructure - trains, tracks, tunnels, signals and stations - for 30 years </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines and took responsibility on 4 May 2003 </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines - the Circle, District, Hammersmith &amp; City and Metropolitan lines and took responsibility on 4 May 2003 </li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines and took responsibility on 31 December 2002 </li>
<li>Under the terms of the PPP contracts, the PPP Arbiter can be called upon to determine financial questions at a 7.5 year Periodic Review, or at any interim Extraordinary Review which can be triggered by the Infracos if they incur additional costs/revenue shortfalls in excess of their bid above a certain threshhold (which is &pound;50m for each company in the case of Metronet) </li>
<li>The significance of the Arbiter's role in the future (particularly at any Extraordinary Review) cannot be overstated. The Arbiter's role is to ensure that the risk transfer envisaged by the PPP contract is adhered to and LU is not called on to pay for the inefficiencies of the past or the future</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The PPP Arbiter's Report concluded that over the first three years of the London Underground (LU) PPP, Metronet has not performed in an economic and efficient manner or in line with good industry practice.The PPP Arbiter's Report followed London";}
        
        


 