


@{ViewBag.Title = "Operation BusTag reaches 1,200 arrests on its 2nd birthday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operation BusTag reaches 1,200 arrests on its 2nd birthday</h1>
        <div class="content-page-press-release">
        29 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Metropolitan Police Service's (MPS) Operation BusTag, which tackles criminal damage and anti-social behaviour on London buses, has reached its second anniversary today with more than 1,200 arrests since it was formed.
        
    </div>



 <div class="on-this-page">
<p>In the past two years, the BusTag unit, funded by Transport for 
London (TfL), has tripled the arrest rate for offences such as graffiti, window 
etching, seat and window damage and arson, and now has a conviction rate of more 
than 90 per cent.</p>
<p>Operation BusTag is a Closed Circuit Television (CCTV) investigation unit, 
was set up in November 2004 by the Met's Transport Operational Command Unit and 
funded by TfL to:</p>
<ul>
<li>Tackle criminal damage being committed on London's buses 
</li><li>Identify and bring to justice those who have committed criminal damage on 
London's buses 
</li><li>Liaise with bus companies and other authorities to tackle criminal damage 
and anti-social behaviour </li></ul>
<p>CCTV images from cameras now on board every one of London's 8,000 buses are 
used by the team to apprehend those causing damage which costs bus companies 
millions of pounds a year to repair.</p>
<p>Ken Livingstone, Mayor of London, said: "We are cracking down on crime and 
anti-social behaviour on our transport system - in two years Operation BusTag 
has tripled the arrest rate for offences such as graffiti, window etching, seat 
and window damage and arson. </p>
<p>"TfL and the police are working together to see that every passenger has a 
safe journey to and from home."</p>
<h2>Fighting crime</h2>
<p>Chief Superintendent Michael Humphrey, Transport Operational Command Unit 
said: "The Transport Operational Command Unit is dedicated to fighting crime, 
disorder and anti-social behaviour on London bus routes. A particularly 
successful way of doing this is through the identification expertise of 
Operation BusTag. </p>
<p>"This is a significant achievement by BusTag and demonstrates that people who 
commit acts of vandalism on London buses will be caught with the help of CCTV 
pictures and then prosecuted."</p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement said: 
"This is a real success story and is testament to the great partnership between 
the MPS and TfL in tackling this type of crime on the bus 
network.<br><br>"Graffiti and etching on buses creates an intimidating 
atmosphere for passengers and increases the fear of crime so it is an important 
aspect of our fight against crime and anti-social behaviour on the bus 
network.</p>
<p>"The BusTag team should be congratulated on this achievement, and those 
people intent on causing criminal damage should be warned - you are being 
watched."</p>
<p>Operation BusTag has also actively assisted other MPS operations combating 
serious offences where bus CCTV images have been secured as part of an 
investigation. <br></p>
            <ul>
<li>The BusTag operation also works closely with London's 23 bus operating companies who together have a team of 70 CCTV analysts who go through thousands of hours of footage every year to pin point images of alleged crimes</li>
<li>A disc of images will then be handed over to BusTag officers who will: </li>
<ul>
<li>View the footage and establish that an offence has taken place </li>
<li>Establish clear images of the suspect </li>
<li>Take the best image and circulate it as a Powerpoint picture </li>
<li>Circulate images to police boroughs, schools and newspapers </li>
<li>Once a suspect has been identified they will be arrested by borough officers </li></ul>
<li>By the end of 2005 TfL fitted all of London's 8000 buses were with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet</li>
<li>The MPS TOCU was set up in 2002 to fight crime on buses, tackle illegal taxi touts; and assist with the control of traffic congestion - there are now more than 1,200 uniformed officers in the unit which is funded, at a cost of around &pound;70m a year, by TfL</li>
<li>London Buses carry 6.3m passengers a day on 700 routes across the capital. They remain a low crime environment but TfL is not complacent. The safety of our staff and passengers is our top priority, and antisocial behaviour will not be tolerated on our buses</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In the past two years, the BusTag unit, funded by Transport for London (TfL), has tripled the arrest rate for offences such as graffiti, window etching, seat and window damage and arson, and now has a conviction rate of more than 90 per cent.Operation";}
        
        


 