


@{ViewBag.Title = "Piccadilly line centenary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Piccadilly line centenary</h1>
        <div class="content-page-press-release">
        30 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Piccadilly line is 100 years old on December 15. And to celebrate the centenary of one of the Tube's most well-loved lines, London Underground (LU) is planning a series of events.
        
    </div>



 <div class="on-this-page">
<p>Eagle-eyed passengers will already have noticed the first of a set of celebratory panels appearing in some Piccadilly line trains.</p>
<p>Six panels have been produced each highlighting a key historical event at famous Piccadilly Line stations.<br><br>The stations featured are: Arnos Grove, Arsenal (formerly Gillespie Road), Covent Garden, Leicester Square, Down Street (closed, but a shelter during WW2), Holloway Road and Earl's Court.<br><br>Centenary posters in the same stunning design as the panels are going up in stations from December 1.</p>
<p>Leaflets giving a brief and colourful history are also available from stations.<br><br>Mike Challis, General Manager of the Piccadilly Line, said: "We just want to say a very happy birthday to a famous Tube line that's now been at the heart of London's transport system for a hundred years.</p>
<p>There are not many people who have not heard of the Piccadilly line and its Centenary provides a wonderful opportunity to celebrate the efforts of the men and women who built and work on the line."</p>
<p>There will be more celebrations over the coming weeks.</p>
<p>These will include performances by the RPM Dance Theatre at the Riverside Studios on December 10 and 11, and a special 'Happy Birthday' event at Leicester Square on December 15.</p>
            <ul>
<li>The Piccadilly Line opened on December 15 1906. It consisted of 15.3km of twin tunnels running from Finsbury Park to Barons Court. A short section of surface track continued to Hammersmith. A branch to Aldwych opened in 1907 
</li><li>The line grew rapidly in the 1930s. Extensions to South Harrow and Arnos Grove were opened in 1932 and to Hounslow West, Uxbridge and Cockfosters in 1933. This decade saw the construction of the stunning Art Deco stations designed by Charles Holden (Arnos Grove, Southgate and Sudbury Town) many of which are now listed buildings 
</li><li>In more recent years the Piccadilly line was extended from Hounslow West to Heathrow (Terminals 1,2,3 in 1977 and Terminal 4 in 1986. Terminal 5 will open in May 2008) 
</li><li>540,000 passengers use the Piccadilly line every day. It's 72km long and has 52 stations between Cockfosters and Heathrow or Uxbridge and 76 trains are needed to operate the morning and evening peak service 
</li><li>Tube Lines are carrying out an upgrade of the Piccadilly Line. It will be finished in 2014 and will cut journey times by an average of 19 per cent and boost passenger capacity by 35 per cent.</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Eagle-eyed passengers will already have noticed the first of a set of celebratory panels appearing in some Piccadilly line trains.Six panels have been produced each highlighting a key historical event at famous Piccadilly Line stations.The stations";}
        
        


 