


@{ViewBag.Title = "Roadshows for the Western Extension to the Congestion Charge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Roadshows for the Western Extension to the Congestion Charge</h1>
        <div class="content-page-press-release">
        06 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Awareness roadshows for the western extension to the Congestion Charge will be taking place in locations throughout west London over the coming months before the scheme goes live on 19 February 2007.
        
    </div>



 <div class="on-this-page">
<p>The roadshows have been designed to inform people who visit, live and work in the western extension of the Congestion Charge how it may affect them and if it does what they need to do. </p>
<p>The roadshows will be in:</p>
<p>Kensington and Chelsea</p>
<ul>
<li>Monday 6 November and Tuesday 7 November, 8am to 8pm, Fulham Road SW3, located near intersection of Brompton Road and Pelham Street 
</li><li>Wednesday 8 November and Thursday 9 November, 8am to 8pm, Sloane Square Tube, Sloane Garden, SW1 
</li><li>Monday 13 November and Tuesday 14 November, 8am to 8pm, West Brompton Tube, Eardley Crescent, SW5 
</li><li>Wednesday 15 November and Thursday 16 November, 8am to 8pm, Gloucester Road Tube, Courtfield Road, SW7 
</li><li>Monday 20 November and Tuesday 21 November, 8am to 8pm, Notting Hill Gate Tube, W11, located near the intersection with Linden Gardens 
</li><li>Wednesday 22 November, 8am to 8pm, Portobello Road Market, W10, located just off Oxford Gardens 
</li><li>Thursday 23 November, 8am to 8pm, Golborne Road Market, located near junction with Elkstone Rd W10 
</li><li>Friday 24 November, 8am to 8pm, Saturday 25 November, 10am to 6pm, Kensington High Street, Warwick Road, W14, located just off the High Street 
</li><li>Also on Friday 24 November, 8am to 8pm, and Saturday 25 November, 10am to 6pm, Old Brompton Road SW5, located on the opposite side of the library 
</li><li>Monday 27 November and Tuesday 28 November, 8am to 8pm, Kensington Central Library, Camden Hill Road, W8 
</li><li>Also on Monday 27November and Tuesday 28 November, 8am to 8pm, Ifield Road, SW10, located near intersection of Fulham Rd and Ifield Rd 
</li><li>Wednesday 29 November and Thursday 30 November, 8am to 8pm, Sainsbury's Ladbroke Grove, 2 Canal Way, Ladbroke Grove, W10 5AA 
</li><li>Friday 1 December, 8am to 8pm, and Saturday 2 December, 10am to 6pm, Sainsbury's Cromwell Road, Collingham Place, SW5 
</li><li>Also Friday 1 December, 8am to 8pm, and Saturday 2 December, 10am to 6pm, Kings Road, SW10 ,located at bottom end of Kings Road near Gunther Grove</li></ul>
<p>Hammersmith and Fulham</p>
<ul>
<li>Monday 6 November and Tuesday 7 November, 8am to 8pm, Hammersmith Library, Shepherd's Bush Road, W6, located near the fire station outside Access storage company and the entrance to Tesco supermarket 
</li><li>Friday 10 December, 8am to 8pm, and Saturday 11 November, 10am to 6pm, Fulham Broadway Tube, SW6 
</li><li>Monday 20 November, 8am to 8pm, and Tuesday 21 November, 8am to 8pm, Hammersmith Tube, Black's Road, W6</li></ul>
<p>Westminster</p>
<ul>
<li>Friday 10 November, 8am to 8pm, and Saturday 11 November, 10am to 6pm, Waitrose, Marylebone High Street, W1U 
</li><li>Monday 13 and Tuesday 14 November, 8am to 8pm, Queensway, W2, located between Queensway and Bayswater Tube station outside Queensway Market 
</li><li>Friday 17 November, 8am to 8pm, and Satuday 18 November, 10am to 6pm, Harewood Ave, NW1, located outside BNP Paribas 
</li><li>Wednesday 22 and Thursday 23 November, 8am to 8pm, Paddington Tube, Spring Street W2 
</li><li>Wednesday 29 and Thursday 30 November, 8am to 8pm, Pimlico Tube, Tachbrook Street, SW1 </li></ul>
<p>IKEA Wembley, 2 Drury Way, North Circular Rd, London, NW10 0TH</p>
<ul>
<li>Sunday 26 November 2006 and Sunday 11 February 2007, 11am to 5pm</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The roadshows have been designed to inform people who visit, live and work in the western extension of the Congestion Charge how it may affect them and if it does what they need to do. The roadshows will be in:Kensington and ChelseaMonday 6 November and";}
        
        


 