


@{ViewBag.Title = "TfL welcomes more accessible London rail stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes more accessible London rail stations</h1>
        <div class="content-page-press-release">
        15 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has welcomed the Department for Transport's (DfT) investment in more accessible, step-free rail stations in London, announced by Rail Minister Tom Harris.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This DfT funding for more step-free rail stations in London is a welcome addition to our London wide step-free programme
                            
                        </p>
                    </div>
                
            
            
            <p>The DfT announcement confirms that a further 11 rail stations in London are to be made step-free. </p>
<p>Overall, the DfT has allocated &pound;370m for their "Access for All" programme to 2015 for lifts and ramps to allow better access to, into and around a total of 92 UK rail stations.</p>
<p>In March this year, the DfT committed to improve step free access at 15 London stations; combined with Thursday's announcement a total of 26 rail stations in London are set to receive enhancements by the end of 2011.</p>
<p>Significantly, three of the stations listed as part of the DfT's scheme - Highbury &amp; Islington, Forest Hill and New Cross - will be part of TfL's new London Overground rail network.</p>
<p>Ken Livingstone, Mayor of London, said: "This DfT funding for more step-free rail stations in London is a welcome addition to our London wide step-free programme. </p>
<p>"Getting around the Capital by public transport has never been easier or more accessible. </p>
<p>"All buses in London are low-floor vehicles, meaning that they are accessible to all customers, including wheelchair users. </p>
<p>"The Tube network, meanwhile, has a growing number of step-free stations, and that number will continue to rise as part of our commitment to making public transport even more accessible."</p>
<p>Ian Brown, Managing Director TfL London Rail, said: "I am delighted with the DfT's commitment to bring step free access improvements to a further 11 London stations by 2011.</p>
<p>"But, with a total of 304 stations in London, TfL would now welcome the inclusion of more London stations in the next phase of the DfT scheme, which are very much needed ahead of the London 2012 Olympics and Paralympics."</p>
<p>The "Access for All" funding complements TfL's programme of investment in Disability Discrimination Act (DDA) improvements.</p>
<p>In the last year, TfL has invested &pound;3.39m in accessibility improvements at National Rail stations in London including: </p>
<ul>
<li>Step free access at Norbiton station 
</li><li>Low window ticket office facilities for wheelchair users at seven stations 
</li><li>Seating designed to good practice access standards 
</li><li>Accessible shelters at Walthamstow Queens Road station</li></ul>
<p>From November 2007, London Overground train services will operate on the North London Railway under the management of TfL, and subsequently on the East London Railway when it opens in 2010, following TfL's &pound;1bn extension of the existing East London Line. </p>
<p>The decision to provide step-free access improvements at three London Overground stations will ensure more passengers benefit from the high standards of passenger safety, security, staffing, ticketing and train frequency to be delivered by TfL.</p>
<p>New London Overground trains due for introduction from 2009 will also be more accessible, with dedicated wheelchair bays, on-board audio and visual announcements and more space.</p>
            <ul>
<li>The 11 London stations to receive funding for step-free access listed as Phase two of the DfT's "Access for All" programme are: Chadwell Heath, Earlsfield, Finsbury Park, Forest Hill, Grove Park, Highbury & Islington, New Cross, Streatham Common, Thornton Heath, Twickenham and Vauxhall</li>
<li>The other 15 London stations to receive the improvements announced in March are: Balham, Blackheath, Clapham Junction, Denmark Hill, Herne Hill, Kew Gardens, Kingston, Lewisham, New Cross Gate, Norwood Junction, Orpington, Purley, Putney, Streatham Hill and Tulse Hill </li>
<li>A copy of the <a href="http://www.gnn.gov.uk/environment/fullDetail.asp?ReleaseID=241001&NewsAreaID=2&NavigatedFromDepartment=False ">DfT's announcement </a>is available on its website </li>
<li>In February 2006, Alistair Darling, then Secretary of State for Transport, announced that responsibility for the North London Railway would transfer to TfL in November 2007</li>
<li>London Overground services will operate on the North London Railway and the new East London Railway under the TfL London Rail Concession</li>
<li>Four companies have been shortlisted to receive an Invitation to Tender to operate train services under the London Rail Concession: Govia, MTR Laing, National Express Group and Nedrail. The successful bidder is expected to be announced next summer</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The DfT announcement confirms that a further 11 rail stations in London are to be made step-free. Overall, the DfT has allocated &pound;370m for their 'Access for All' programme to 2015 for lifts and ramps to allow better access to, into and around a";}
        
        


 