


@{ViewBag.Title = "TfL premieres new teen road safety cinema ad Shattered Lives taps into teenage 2012 sporting dreams";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL premieres new teen road safety cinema ad Shattered Lives taps into teenage 2012 sporting dreams</h1>
        <div class="content-page-press-release">
        17 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dreams of 2012 are being tapped into by Transport for London (TfL) in a new hard-hitting cinema advertisement, designed to warn teens of the dangers they face everyday on London's roads.
        
    </div>



 <div class="on-this-page">
<p>The new ad, entitled "Shattered Lives", is the latest in TfL's award winning "Don't die before you've lived" campaign.</p>
<p>It will premiere for the first time this evening (17 November) at screenings of new James Bond film, Casino Royale.</p>
<p><a href="#vid">View the video now</a> </p>
<p>The TfL campaign aims to alert teens to the consequences of not paying attention when near to or using roads.</p>
<p>The move to secondary school, and the increase in independent travel that tends to go with it, means that young teenagers (11 to 14-year-olds) are more likely to be involved in a road collision than any other age group.</p>
<p>The ad shows the dreams of a young athlete literally shattering after she walks out on to a road without looking - and into the path of a moving car. </p>
<p>Rather than seeing her body thrown up in the air, it shatters into thousands of pieces. </p>
<p>This is followed by other images shattering: a framed picture of her with a medal; her running shoes; her team GB tracksuit; and finally, an image of her shattering as she leaves the starting blocks of the Women's 100 metres final at the Olympic Games and Paralympic Games in London 2012.</p>
<p>Ken Livingstone, Mayor of London, said: "This new road safety advert is a powerful reminder of the opportunities wasted every time a young person is tragically killed in a road accident.</p>
<p>"We want young people to be aware of the dangers of traffic, so that they can go on to fulfil their dreams such as competing in a London Olympic Games. </p>
<p>"Road safety is working in London, because we are spending more money on doing the things which we know save lives, but one death is too many and we are redoubling our efforts to meet even tougher targets."</p>
<p>Peter Hendy, Commissioner of Transport for London, said: "Many young Londoners dream of competing in the Olympic Games and Paralympic Games in 2012 in their own city. </p>
<p>"It is particularly tragic when a young person is killed or injured on the roads as they have so many hopes and dreams. </p>
<p>"This campaign aims to warn them not to shatter those dreams by being careless near busy roads.</p>
<p>"We have made great progress in reducing casualties on the roads, particularly among young people, but there is a long way to go. </p>
<p>"I hope by using the prospects of competing in 2012 we will really get the road safety message across."</p>
<p>Jenny Jones, Mayor's Road Safety Ambassador, said: "Today's teenagers are our hope for Olympic medals in 2012, but they are very vulnerable on London's roads. </p>
<p>"Part of the solution is improving all road users' awareness of the problem. </p>
<p>"This film will show film audiences how to help reduce the death and injury toll for young people so that London can have the safest roads in the world."</p>
<br />
<a name="vid" id="vid">
<object width="400" height="410" align="middle" id="shell_tfl_shattered" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0">
<param name="_cx" value="10583"/>
<param name="_cy" value="10848"/>
<param name="FlashVars" value=""/>
<param name="Movie" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_shattered.swf"/>
<param name="Src" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_shattered.swf"/>
<param name="WMode" value="Window"/>
<param name="Play" value="0"/>
<param name="Loop" value="-1"/>
<param name="Quality" value="High"/>
<param name="SAlign" value=""/>
<param name="Menu" value="-1"/>
<param name="Base" value=""/>
<param name="AllowScriptAccess" value="always"/>
<param name="Scale" value="ShowAll"/>
<param name="DeviceFont" value="0"/>
<param name="EmbedMovie" value="0"/>
<param name="BGColor" value="FFFFFF"/>
<param name="SWRemote" value=""/>
<param name="MovieData" value=""/>
<param name="SeamlessTabbing" value="1"/>
<param name="Profile" value="0"/>
<param name="ProfileAddress" value=""/>
<param name="ProfilePort" value="0"/>
<param name="AllowNetworking" value="all"/>
<param name="AllowFullScreen" value="false"/>
<embed name="shell_tfl_shattered" width="400" height="410" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://www.streamcity.co.uk/clients/transport/shell_tfl_shattered.swf" type="application/x-shockwave-flash" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high"></object></a>
<ul>
    <li>A beta tape of the advert is available on request</li>
    <li>In 2005, 355 children were killed or seriously injured on London's roads. Forty-five of those were 11 to 16-year-olds making their way to or from school</li>
    <li>TfL's road safety advertising, alongside infrastructure improvements such as 20mph zones and educational initiatives that include the award winning Junior Road Safety Officer Scheme, have played an important role in helping to reduce the number of road safety casualties in London</li>
    <li>The government set a target of reducing the number of people killed or seriously injured by 40 per cent (compared with the 1994-98 average by 2010), with a 50 per cent target for children. Those targets were exceeded in London six years early, and in 2005, the Mayor of London increased the target in London to 50 per cent for KSIs and 60 per cent for child KSIs</li>
    <li>In 2006/07, TfL's budget for road safety is &pound;42m</li>
    <li>The young sportswoman featured in the ad is Melanie Purkiss </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new ad, entitled 'Shattered Lives', is the latest in TfL's award winning 'Don't die before you've lived' campaign.It will premiere for the first time this evening (17 November) at screenings of new James Bond film, Casino Royale.View the video now The";}
        
        


 