


@{ViewBag.Title = "TfL awards London Underground promotions concession to Titan Outdoor";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL awards London Underground promotions concession to Titan Outdoor</h1>
        <div class="content-page-press-release">
        21 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced the award of the promotions and leaflet distribution contract to Titan Outdoor after a highly competitive tender process.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The money generated will be spent to help improve the Tube network for customers
                            
                        </p>
                    </div>
                
            
            
            <p>The contract will be for an initial two year period, with the potential of a further two years to follow. </p>
<p>The revenue generated will help deliver improvements across London's transport network and the new contract will commence on 23 December.</p>
<p>The contract will not only provide soft benefits such as the distribution of promotions to our customers but also generate additional revenue, to assist with the overall London Underground (LU) Investment Programme.</p>
<p>Kim Andersen, LU Business Development Manager, said: "TfL looks forward to develop the promotions concession with Titan to deliver innovative and dynamic campaigns for our customers. </p>
<p>"The money generated will be spent to help improve the Tube network for customers."<br></p>
            <ul>
<li>TfL has recently reviewed and issued a number of new advertising concession contracts</li>
<li>LU advertising concession contract is run by Viacom Outdoor</li>
<li>Victoria Coach Station advertising concession contract is run by Viacom Outdoor</li>
<li>TfL outdoor portfolio across the Group Property division is run by JC Decaux</li>
<li>TfL bus shelter advertising concession contract is run by Clear Channel</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The contract will be for an initial two year period, with the potential of a further two years to follow. The revenue generated will help deliver improvements across London's transport network and the new contract will commence on 23 December.The contract";}
        
        


 