


@{ViewBag.Title = "The Knowledge gains City and Guilds accreditation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The Knowledge gains City and Guilds accreditation</h1>
        <div class="content-page-press-release">
        22 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has announced that the testing system behind London's world-famous 'Knowledge of London' (the Knowledge) has received official accreditation by City & Guilds, the UK's leading awarding body in work-related qualifications.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will give passengers peace of mind
                            
                        </p>
                    </div>
                
            
            
            <p>In order to become a licensed taxi driver in the Capital, candidates must pass the Knowledge to prove they have an in-depth understanding of the complex road network and places of interest in the city. </p>
<p>The system ensures London's licensed taxi drivers remain amongst the most qualified in the world to get passengers from A to B. </p>
<p>Ken Livingstone said: "The Knowledge has a world-wide reputation for producing highly-trained, professional taxi drivers, and now City & Guilds accreditation will provide an additional, independent seal of approval." </p>
<p>Chris Humphries, Director General of City & Guilds, said: "It's important for both drivers and passengers to know that the Knowledge is a sound training and examining system. </p>
<p>"It will give passengers peace of mind to know that the system has been independently assessed and approved. </p>
<p>"It is also a great way of professionalising one of the country's oldest occupations, and City & Guilds is proud to lend its name to the Knowledge."</p>
            <ul>
<li>The Knowledge was first introduced in 1865 
</li><li>The aim of accreditation was to have the Public Carriage Office's (PCO's) in-house examination system inspected by an independent body with up-to-date experience of the vocational education and examination environment 
</li><li><a href="http://www.cityandguilds.com/">City &amp; Guilds </a>undertook a detailed analysis and critique of the methodology and delivery of Knowledge of London examinations in June and July 2006. Accreditation was officially awarded in November 2006 
</li><li>The PCO will continue to work with City &amp; Guilds to ensure that standards, consistency and the integrity of the system are maintained at the highest level - retaining accredited status will be subject to ongoing annual assessments by City &amp; Guilds 
</li><li>Accreditation gives the PCO and Knowledge students alike the assurance that the methods and procedures used to examine the Knowledge meet recognised quality standards; have appropriate management structures and quality controls; and are transparent and inclusive 
</li><li>Drivers will notice no difference in the process of becoming licensed taxi drivers in London, except that from now on they will see the 'Accredited by City &amp; Guilds' logo on all Knowledge-related literature 
</li><li>City &amp; Guilds is the UK's leading provider of vocational qualifications 
</li><li>In total, City &amp; Guilds awards 1.3 million certificates to learners each year on over 500 subjects, ranging from hair and beauty to catering and management. Around 1.9 million people are currently working towards a City &amp; Guilds qualification</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In order to become a licensed taxi driver in the Capital, candidates must pass the Knowledge to prove they have an in-depth understanding of the complex road network and places of interest in the city. The system ensures London's licensed taxi drivers";}
        
        


 