


@{ViewBag.Title = "Transport Commissioner visits East London Railway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner visits East London Railway</h1>
        <div class="content-page-press-release">
        15 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major works to deliver the new East London Railway are about to begin.
        
    </div>



 <div class="on-this-page">
<p>That was the message from London's Transport Commissioner Peter 
Hendy as he inspected the northern section of the route in Hackney and Tower 
Hamlets.</p>
<p>Clearly impressed by the progress of the works to prepare the track bed and 
the 22 bridges along the Kingsland Viaduct, the Commissioner said: "These sites 
are being handed over on time and on schedule and we are now in a position to 
start the main works."</p>
<p>On site at the spectacular Regent's Canal bridge on the viaduct, Mr Hendy was 
lifted by cherry picker crane to inspect the two striking 10 metre high and 48 
metre long arches which span the structure.</p>
<p>He said: "This will be the first bow-string arch bridge in Britain to carry a 
railway. Its unusual design was chosen deliberately and will be a landmark for 
London Overground in East London as well as a highly visible symbol of the 
regeneration of Hackney."</p>
<p>"The bridge will start to carry London Overground services in 2010 and they 
will not only bring business and jobs to all communities along the railway's 
route but will give all residents better access to jobs and leisure elsewhere in 
London.</p>
<p>"They will get Transport for London's high standards of safety and security, 
a high-frequency Metro style trains service, Oyster facilities and overall 
quality passenger services.</p>
<p>"With the London Overground, we have a once-in-a-lifetime opportunity to 
invest &pound;1.4bn in East London's transport infrastructure. We intend to make the 
most of this opportunity."</p>
<p>Mr Hendy was joined by the Mayor of Hackney Jules Pipe at the Regent's Canal 
Bridge site.</p>
<p>
<h2>London Overground</h2>
<p>
<p>Mayor Pipe said: "It is great news that the work to extend the East London 
Line to Hackney is progressing so well, and that our long campaign to get 
Hackney on the Tube map is paying off.</p>
<p>"With the Olympics coming to Hackney in 2012 and improved and much more 
frequent North London Line services by 2010, it is not surprising that so many 
of our residents are proud of their borough and excited about the future."</p>
<p>The London Overground in East London is being developed in two phases. </p>
<p>Phase one, to be delivered in 2010, will run from Highbury and Islington down 
to West Croydon, Crystal Palace and New Cross. </p>
<p>
<h2>Linking London</h2>
<p>
<p>This will include a link between a new station at Dalston Junction and the 
existing Highbury & Islington station which will join the East London 
Railway with the North London Railway to create the London Overground 
network.</p>
<p>The link will be completed by February 2011.</p>
<p>Phase two will join the East London Railway to Clapham Junction and will 
complete an orbital rail route around London on which London Overground services 
will run, following the London 2012 Olympics.</p>
            <ul>
<li>Pictures of the visit are available on request</li>
<li>The Mayor's policies and the Government's decision to transfer responsibility for part of the London's National Rail network to TfL, has created a once-in-a-lifetime opportunity to improve transport links in some of the most socially deprived areas of London with the London Overground service</li>
<li>The regeneration opportunities created by London Overground are enormous</li>
<ul>
<li>London Overground services running on the North and East London Railways will connect 20 of London's 33 boroughs</li>
<li>Twent-two per cent (1.5 million) of London's population live within 15 minutes walk of a London Overground station</li>
<li>London Overground services on the East London Railway will run through over two-thirds of London's most deprived wards</li></ul>
<li>Recent developments have enabled the Mayor to invest over &pound;1.4bn in improving rail services in London and to launch the London Overground network</li>
<li>&pound;1bn is being invested to extend the existing East London Line to create the East London Railway. The line will be integrated with the North London Railway, which is to receive a &pound;450m upgrade (&pound;236m on infrastructure upgrades and &pound;223m on new rolling stock)</li>
<li>Only two options exist to deliver the extension of the Mayor's control over rail services in London: one, either &pound;1.4bn of investment with more jobs and better services is delivered in a new combined franchise, including the North London Railway and the East London Railway, or two: no &pound;1.4bn investment and a reduced number of jobs and services</li>
<li>The East London Line Extension Enabling contract involving the refurbishment or replacement of 22 bridges plus track bed preparation work is worth &pound;30m. The &pound;363m main works contract for the East London Line was won in October by a Balfour Beattie Carillion joint project</li>
<li>The Main Works Contractor will build new stations at the northern end of the extension, a train depot and flyover at New Cross Gate and re-lay track and signalling along the existing route so that the East London Line extension can connect with the National Rail network</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "That was the message from London's Transport Commissioner Peter Hendy as he inspected the northern section of the route in Hackney and Tower Hamlets.Clearly impressed by the progress of the works to prepare the track bed and the 22 bridges along the";}
        
        


 