


@{ViewBag.Title = "Work begins on new DLR station at Langdon Park";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work begins on new DLR station at Langdon Park</h1>
        <div class="content-page-press-release">
        17 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction work began today on a new Docklands Light Railway (DLR) station at Langdon Park, which will provide much-needed access to public transport for thousands of Tower Hamlets residents and local businesses.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Langdon Park will play a key role in the regeneration of this area
                            
                        </p>
                    </div>
                
            
            
            <p>Situated between All Saints and Devons Road stations on the DLR route to Stratford, the &pound;7.5m station has been jointly funded by the Government's Community Infrastructure Fund and Leaside Regeneration, in recognition of the huge benefits it will bring to the local area and communities.</p>
<p>Ken Livingstone, Mayor of London, said: "A brand new Docklands Light Railway station at Langdon Park will play a key role in the regeneration of this area, opening up access to jobs and housing.</p>
<p>"It comes after the extension of the DLR to City Airport and will be followed by extensions to Woolwich Arsenal and Stratford International. "</p>
<p>Transport Minister Gillian Merron said: "I am delighted that work has started on this new station which will make the DLR more accessible to local people and encourage sustainable travel to and from Langdon Park.</p>
<p>"This is a great example of how Community Infrastructure funding can be put towards regenerating an area. I look forward to hearing about its progress to completion next year."</p>
<p>Langdon Park station will plug one of the longest gaps on the DLR network, bringing it closer to thousands of homes and vastly improving access to jobs, education, leisure facilities and health services. </p>
<p>The station is likely to act as a catalyst for regeneration in the local area by encouraging new commercial and housing developments.</p>
<p>
<h2>Regeneration</h2>
<p>
<p>It will also serve existing demand from the nearby Teviot and Lansbury housing estates and Langdon Park Secondary School. </p>
<p>Local resident Chrissie Townsend said: "The new station will make a tremendous difference to people living on the surrounding estates who have been asking for a station for many years. </p>
<p>"It will also help bring along the new homes and businesses that we need so much in this area."</p>
<p>Passengers joining the DLR at Langdon Park will be able to make quick and easy journeys to a wide range of destinations, including Canary Wharf in just five minutes and Stratford in nine minutes.</p>
<p>
<h2>Effective partnerships</h2>
<p>
<p>Ian Brown, Managing Director of Transport for London, London Rail and Chairman of DLR, said: "I am delighted that the construction of Langdon Park station is now underway and on track for completion in just over a year's time. </p>
<p>"The new DLR station will be invaluable to the people of Tower Hamlets, opening up opportunities to access new jobs and services that will deliver benefits for years to come. </p>
<p>"The project is an excellent example of what can be achieved by effective partnerships between local businesses, boroughs and government departments - of which we should all be proud." </p>
<p>The contract to build the station was awarded last month to contractor Costain and it is due for completion in late 2007. </p>
<p>The design will follow the high architectural standards of other DLR stations including CCTV, passenger information screens and step-free access to platforms.</p>
<p>
<h2>London's Moving</h2>
<p>
<p>A model of the new Langdon Park station is currently on display at 'London's Moving', a major new exhibition showcasing the future of transport in the Capital. </p>
<p>The free event is taking place at New London Architecture, The Building Centre, 26 Store Street, WC1, until 13 January 2007.</p>
<p>
            <ul>
<li>An artist's impression of the new station and a route map showing its location are available on request</li>
<li>Langdon Park DLR station will be located at the pedestrian cross-over bridge that links Carmen Street and Bright Street, adjacent to Langdon Park itself</li>
<li>Planning permission was granted by the London Borough of Tower Hamlets in February 2006 and the work contract was awarded to Costain on 24 October 2006</li>
<li>The approximate &pound;7.5m cost of the new station is being met by the Department for Transport and Department for Communities and Local Government 'Community Infrastructure Fund' (&pound;5.7m) and Leaside Regeneration's 'Communities in Business: Poplar and Leaside' Single Regeneration Budget (&pound;1.78m)</li>
<li>The project is being managed by Docklands Light Railway Limited and design support has been provided from the Greater London Authority</li>
<li>The new station will mean walking times to a DLR station will be reduced by up to 11 minutes for Langdon Park residents, significantly improving access to important services. For example, 65 per cent of local residents will be able to reach a local hospital within 30 minutes using the DLR, compared to 11 per cent now</li>
<li>DLR is part of Transport for London</li>
<li>DLR won the overall Railway Industry Innovation Award 2006 in June for 'Delivering a successful railway through effective partnerships'</li>
<li>The Community Infrastructure Fund is a &pound;200m fund (announced in 2004) to support transport projects across all four growth areas: Thames Gateway, London-Stansted-Cambridge-Peterborough, Milton Keynes-South Midlands and Ashford</li>
<li>The Fund is helping to ensure that the right infrastructure and community facilities are in place in those areas that are contributing to the Government's commitment in the 2003 Sustainable Communities Plan to deliver an additional 200,000 homes above existing plans by 2016</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Situated between All Saints and Devons Road stations on the DLR route to Stratford, the &pound;7.5m station has been jointly funded by the Government's Community Infrastructure Fund and Leaside Regeneration, in recognition of the huge benefits it will";}
        
        


 