


@{ViewBag.Title = "Young drivers tackled in new hard hitting show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Young drivers tackled in new hard hitting show</h1>
        <div class="content-page-press-release">
        15 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 6000 people were injured in collisions involving young drivers (17-25 years old) on London's roads in 2005 and in the UK one in five new drivers crash in their first year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's roads are getting safer but there is still a lot more to be done
                            
                        </p>
                    </div>
                
            
            
            
<p>There has been a 40 per cent reduction in deaths and serious 
injuries on the Capital's roads in recent years, but a new hard hitting show 
Safe Drive, Stay Alive, was launched today (15 November) to address the specific 
problem of young drivers.</p>
<p>Safe Drive, Stay Alive, which opened in Havering, is based around a filmed 
reconstruction of a road traffic collision involving young people, includes 
dramatic footage of the crash, and follows the actions of the emergency services 
dealing with the incident. </p>
<p>Members of the emergency services recount their experiences of dealing with 
the aftermath of crashes. </p>
<p>The young people will also hear moving personal accounts from people whose 
lives have been changed by a tragic collision.</p>
<p>In 2005 300 people were injured on Havering's roads in a collision involving 
a young driver, two people were killed and 27 people seriously injured. </p>
<p>The event is a partnership between London Ambulance Service (LAS) London 
Borough of Havering (LBH), London Fire Brigade (LFB), the Metropolitan Police 
Service (MPS) and Transport for London (TfL).</p>
<p>All 16-year-old students in Havering will attend the event, which aims to 
warn them about the dangers of speeding and bad driving. </p>
<p>
<h2>Young drivers</h2>
<p>
<p>Safe Drive, Stay Alive aims to catch young people early just before they 
start to drive and as they start to be passengers in friends' cars.</p>
<p>Initially the event will visit Havering, at the Queens Theatre, Hornchurch, 
with a view to visiting other parts of the capital in the future.</p>
<p>Jenny Jones, The Mayor's Road Safety Ambassador, said: "The death and injury 
toll from collisions involving young drivers is shocking. </p>
<p>"Safe Drive, Stay Alive aims to bring home to young people the dangers they 
face in their first few years of driving. </p>
<p>
<h2>Traffic collisions</h2>
<p>
<p>"London's roads are getting safer but there is still a lot more to be done 
and saving death an injury to young people is a priority."</p>
<p>London Ambulance Service Paramedic Neil Kendrick, who features in the show, 
says: "We do everything possible to care for patients involved in road traffic 
collisions but I'm sad to say that all too many result in the death or serious 
injury of young people. </p>
<p>"Ambulance crews are deeply affected when they see the tragedy of a young 
life cut short, especially when it is avoidable. </p>
<p>"I'd like the young people who come to this event to listen carefully and to 
take on board the importance of driving safely." </p>
<p>
<h2>Pilot project</h2>
<p>
<p>Cllr Peter Gardner, lead member for Public Safety for Havering Council, said: 
"Havering is proud to be piloting this project in London. </p>
<p>"We have put &pound;10,000 into the project and it will be worth every penny if it 
stops just one young person being hurt or killed on Havering's roads."</p>
<p>Trevor Meers, London Fire Brigade Borough Commander for Havering, said: "The 
London Fire Brigade and our emergency services colleagues are at the sharp end 
of road traffic collisions so it makes sense for us to work closely with 
partners at TfL and the London Borough of Havering, to improve road safety. </p>
<p>"We hope these hard hitting messages delivered to young people before they 
get in a vehicle, could make a real difference to their future attitudes to 
driving."</p>
<p>
<h2>Reduce casualties</h2>
<p>
<p>Chief Superintendent Charles Griggs, Head MPS Traffic Operational Command 
Unit, said: "This innovative initiative will bring a hard hitting and stark 
message to young people demonstrating the devastating outcome that bad driving 
and speeding can cause. </p>
<p>"Working with our partners to educate those who may be affected we can help 
to reduce casualties on London's roads."</p>
<p>Superintendent Steve Wisbey, Havering Borough Operational Comman
            <ul>
<li>More information is available on the <a href="http://www.safedrivestayalive-london.com">Safe Drive, Stay Alive </a>website</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There has been a 40 per cent reduction in deaths and serious injuries on the Capital's roads in recent years, but a new hard hitting show Safe Drive, Stay Alive, was launched today (15 November) to address the specific problem of young drivers.Safe Drive,";}
        
        


 