


@{ViewBag.Title = "Baroness Grey-Thompson urges disabled Londoners to try TfL network, as London Overground becomes 'turn up and go'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Baroness Grey-Thompson urges disabled Londoners to try TfL network, as London Overground becomes 'turn up and go'</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Baroness Grey-Thompson urges disabled Londoners to try TfL network, as London Overground becomes 'turn up and go'</h1>
        <div class="content-page-press-release">
        14 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground latest TfL service to become 'Turn Up and Go' for disabled customers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Turn up and go on the Overground is the latest step we are taking to help all Londoners get around the city with ease"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Turn up and go on the Overground is the latest step we are taking to help all Londoners get around the city with ease
                            
                        </p>
                    </div>
                
            
            
            <p>Paralympian gold medallist Baroness Tanni Grey-Thompson today urged disabled Londoners to take advantage of Transport for London's (TfL) increasingly accessible network and to make the most of all the city has to offer.</p>
<p>She was speaking as she launched the new 'Turn up and Go' service on TfL's London Overground rail network, which means that disabled people needing assistance can simply arrive at stations and have staff help them without being asked to book in advance.</p>
<p>The disabled rights campaigner said although TfL's network wasn't yet perfect it was much improved and a raft of improvements had been made to help ensure that disabled Londoners and visitors to the city can get around the capital more easily.&nbsp;&nbsp; </p>
<p>Baroness Grey-Thompson said, `TfL really are now leading the way in accessible transport.&nbsp; </p>
<p>`While it isn't perfect and many stations were built in an era when accessibility wasn't even considered, all London buses, taxis, the whole DLR and large parts of the Tube and now London Overground networks are accessible to disabled customers, including wheelchair users. </p>
<p>`As of today, the entire London Overground network is 'Turn Up and Go', which has long been an issue for me.&nbsp; </p>

<p>`I would urge other rail companies to follow suit.</p>
<p>`For me, TfL have another brilliant asset, which is their staff who will be visible and available to help and advise all customers. </p>
<p>`In future, London Underground will have more staff in ticket halls, on gate lines and platforms to help all customers, including disabled Londoners and visitors.&nbsp; </p>
<p>`So, if you're tempted to stay at home when actually you want to get out, don't. Come on board and make the most of all this great city has to offer.'</p>
<p>Deputy Mayor for Transport, Isabel Dedring, said: `The Mayor has made it a priority to improve accessibility across London's transport network. </p>
<p>`Turn up and go on the Overground is the latest step we are taking to help all Londoners get around the city with ease.'</p>
<p>Gareth Powell, Director of strategy, London Underground &amp; London Rail said: `We're committed to making the TfL network truly open to everyone. </p>
<p>`Inevitably, given the often Victorian infrastructure of much of our network, this is going to take some time. </p>
<p>`But where we can make improvements quickly we are, as on the London Overground today.</p>
<p>`We believe our staff are key to making our network truly inclusive.</p>
<p>`Which is why we're investing in staff training programmes so that really anyone can turn up at our stations, or stops, and rest assured they're going to receive all the help they need.'</p>
<p>To help reinforce her point, Baroness Grey-Thompson, who is a member of the TfL Board, has produced a video which can be seen here; <a href="http://youtu.be/NIan4yxbpRw">http://youtu.be/NIan4yxbpRw</a>&nbsp; (BSL video <a href="http://youtu.be/_7mHdkvDIVU">http://youtu.be/_7mHdkvDIVU</a>).&nbsp; </p>
<p>It is part of a wider TfL campaign to raise awareness of accessibility improvements on the transport network.</p>
<p>Her call comes as an independent survey revealed that, despite a raft of improvements in recent years, only around a fifth of the capital's one million disabled people are using the Tube.&nbsp; </p>
<p>However, the study also showed more than two fifths (43%) of disabled passengers thought transport in London was becoming easier to use for them.</p>
<p>The Mayor and TfL are investing in and delivering a huge range of improvements to improve accessibility across TfL's road, rail and bus networks, embedding the legacy of accessible travel promised by the 2012 Games.&nbsp; Improvements include:</p>
<ul>
<li>25 more London Underground and London Overground stations to become step-free over the next ten years, as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city; we expect the number of journeys made by step-free routes each year will almost treble, from 77 million at present (2014) to 227 million in 2023 </li>
<li>A &pound;250 million investment in step-free projects at stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park </li>
<li>75 per cent of all London bus stops to be fully accessible by April this year, with at least 95 per cent fully accessible by the end of 2016, bringing even greater ease of use to a bus network that is already the most accessible in the country </li>
<li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss </li>
<li>The remaining five per cent of pedestrian crossings yet to be brought up to accessibility standards to be upgraded with tactile paving, rotating cones or audible alerts.&nbsp; A total of 39 sites will be upgraded by March, with 100 per cent to be accessible by 2016</li></ul>
<p>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.&nbsp; </p>

<p>By 2016, a third of Tube platforms will have level access by one of these means, up from 15 per cent last year.&nbsp; </p>

<p>More step-free projects are being progressed with third party developers and additional stations are being made partially step-free. 
<hr>

<p>
<ul>
<li>Under the Turn up and Go system passengers who need assistance are no longer asked to book in advance, although they are welcome to continue doing so if they want. </li>
<li>London has one of the most accessible transport networks anywhere in the world.&nbsp; Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, DLR and Tramlink) are currently step-free, up from around 30 per cent in 2008. This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free; </li>
<li>All 8,700 London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working, and more than 90 per cent of London residents live within 400 metres of a bus stop. The vast majority of these can be used by all bus passengers, including wheelchair users; </li>
<li>TfL also operates Dial-a-Ride - a free door-to-door service for disabled and older passengers who can't use public transport, all DLR stations are step-free and all London taxis are equipped with wheelchair ramps<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Baroness Grey-Thompson urges disabled Londoners to try TfL network, as London Overground becomes 'turn up and go' -->

 
 
        
        
            @{ViewBag.Description = "Paralympian gold medallist Baroness Tanni Grey-Thompson today urged disabled Londoners to take advantage of Transport for London's (TfL) increasingly accessible network and to make the most of all the city has to offer.She was speaking as she launched the";}
        
        


 