


@{ViewBag.Title = "Capco and TfL establish Joint Venture to develop Earls Court 1 & 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Capco and TfL establish Joint Venture to develop Earls Court 1 & 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Capco and TfL establish Joint Venture to develop Earls Court 1 & 2</h1>
        <div class="content-page-press-release">
        28 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Capital & Counties Properties PLC (Capco) and Transport for London (TfL) are pleased to announce that they have established a joint venture, Earls Court Partnership Limited (Earls Court Partnership or the Joint Venture).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'This is another great step forward in the development of the Earls Court Masterplan which will create much needed homes and jobs for London whilst generating substantial revenues for us to reinvest back into the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">TfL Director of Commercial Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'This is another great step forward in the development of the Earls Court Masterplan which will create much needed homes and jobs for London whilst generating substantial revenues for us to reinvest back into the transport network
                            
                        </p>
                    </div>
                
            
            
            <p>This will enable the development of Earls Court 1 &amp; 2 in line with the Earls Court Masterplan.</p>
<p>Earls Court Partnership has been formed with Capco owning 63 per cent and TfL 37 per cent of the shares respectively. </p>
<p>The Joint Venture has appointed a board of directors which comprises four representatives from Capco and three representatives from TfL.</p>
<p>Capco has also been appointed as the business and development manager to enable the development of Earls Court 1 &amp; 2 to be co-ordinated with the wider development of the Masterplan.</p>
<p>The Masterplan will deliver 7,500 new homes and 10,000 new jobs. </p>
<p>It will also see the development of a new primary school, a new leisure centre, new health facilities as well as community and cultural spaces. </p>
<p>Thirty seven acres of green open space will be provided, including a new five acre park and there will also be significant improvements to the transport infrastructure including increased capacity at Earls Court, West Kensington and West Brompton Underground stations.</p>
<p>TfL owns the freehold to the exhibition centres known as Earls Court 1 &amp; 2 and Capco is the leaseholder of both sites. </p>
<p>In addition to its leasehold interest, Capco owns certain other adjacent land interests, including the Northern Access Road, which will be contributed to the Joint Venture. </p>
<p>It is anticipated that the joint venture arrangements will complete in full once vacant possession is available, which will result in new 999 year leases over Earls Court 1 &amp; 2 being granted to the Joint Venture. </p>
<p>In addition, on completion the Joint Venture will acquire other smaller properties in the Earls Court area currently owned by Capco. </p>
<p>Gary Yardley, Investment Director of Capco, said: </p>
<p>'We are delighted to finalise this agreement and look forward to working with TfL. </p>
<p>The re-imagination of Earls Court is moving forward and presents a unique opportunity to establish a new address in central London. </p>
<p>Together with our partners, we will bring 7,500 new homes, 10,000 new jobs to the area, and benefits not just for the local economy, but for London as a whole.' </p>
<p>Graeme Craig, Director of Commercial Development of TfL, said: </p>
<p>'This is another great step forward in the development of the Earls Court Masterplan which will create much needed homes and jobs for London whilst generating substantial revenues for us to reinvest back into the transport network. </p>
<p>'This is the first example of our new approach of retaining and investing in our assets across London, working in partnership with leading developers like Capco, which will deliver real long-term value for fare and taxpayers.'<br></p>
            <p>Notes to Editors:</p>
<p>Enquiries:</p>
<p>Capital &amp; Counties Properties PLC<br>Sarah Hagan, Director of Communications Tel: +44 (0) 20 3214 9185<br><a href="mailto:sarah.hagan&#64;capitalandcounties.com">sarah.hagan&#64;capitalandcounties.com</a><br>&nbsp;<br>Public relations:<br>UK: Michael Sandler, Hudson Sandler Tel: +44 (0) 20 7796 4133<br>SA: Frederic Cornet, Nick Williams, Instinctif Partners Tel: +27 (0) 11 447 3030 </p>
<p>Transport for London<br>Public relations:<br>Sylvia Quagraine Tel: 0203 054 7182 <br>Email: <a href="mailto:sylviaquagraine&#64;tfl.gov.uk">sylviaquagraine&#64;tfl.gov.uk</a><br>&nbsp;<br>&nbsp;<br>About Capital &amp; Counties Properties PLC (Capco)<br>Capital &amp; Counties Properties PLC is one of the largest investment and development property companies that specialises in central London real estate and is a constituent of the FTSE-250 Index. </p>
<p>Capco holds 3.6 million square feet of assets valued at &pound;2.3 billion (as at 31 December 2013) in two landmark London estates: Covent Garden, which has assets valued at &pound;1.2 billion including the historic Market Building, and EC Properties including the Empress State Building together with the Venues business amounting to aggregate property assets of &pound;934 million.</p>
<p>As at 31 December 2013, the interests to be contributed by Capco to the Joint Venture, which include the leasehold interests in Earls Court 1 &amp; 2, the Northern Access Road and Cluny Mews, were valued at &pound;459 million in total by its external valuer. </p>
<p>The company is listed on the London Stock Exchange and the Johannesburg Stock Exchange.<br><a href="http://www.capitalandcounties.com">www.capitalandcounties.com</a><br>&nbsp;<br>Transport for London (TfL)<br>TfL is responsible for 27 million journeys a day. It operates the Tube network, as well as five per cent of London's road network, buses, the DLR, London Overground, London Tramlink, Barclays Cycle Hire, the Emirates Air Line and River Services. </p>
<p>The contracts for the transaction will be available from 10:00 on 28 March 2014 at <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/earls-court-village-development">www.tfl.gov.uk/corporate/publications-and-reports/earls-court-village-development</a> <br>&nbsp;<br>Cushman &amp; Wakefield LLP and Evershed LLP have been TfL's advisers on the transaction. Rothschild and Pinsent Masons LLP have advised Capco. <br>&nbsp;<br>About the Earls Court Masterplan:<br>The Earls Court Masterplan received outline planning consent in November 2013 and is one of the largest regeneration projects in London. </p>
<p>The Masterplan covers 77 acres of land, known as the Earls Court &amp; West Kensington Opportunity Area, owned by Capco, TfL and London Borough of Hammersmith &amp; Fulham (LBHF). </p>
<p>The Earls Court Masterplan is 10.1 million square feet of space and was designed by Sir Terry Farrell who was inspired by the best of London to create 'Four new Urban Villages and a 21st Century High Street.' The Masterplan will deliver 7,500 new homes, 10,000 new jobs as well as new open green space, health facilities, new schools, community and cultural space and improvements to the transport and infrastructure of the local area. </p>
<p>Earls Court 1 and 2 will be part of the first phase of the Earls Court Masterplan with further phases to include the estates within LBHF and London Underground Limited's Lillie Bridge Depot, if and when it is operationally feasible to do so.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Capco and TfL establish Joint Venture to develop Earls Court 1 & 2 -->

 
 
        
        
            @{ViewBag.Description = "This will enable the development of Earls Court 1 &amp; 2 in line with the Earls Court Masterplan.Earls Court Partnership has been formed with Capco owning 63 per cent and TfL 37 per cent of the shares respectively. The Joint Venture has appointed a board";}
        
        


 