


@{ViewBag.Title = "Crossrail 2 receives global recognition as a leading infrastructure project, creating growth and opportunities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crossrail 2 receives global recognition as a leading infrastructure project, creating growth and opportunities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crossrail 2 receives global recognition as a leading infrastructure project, creating growth and opportunities</h1>
        <div class="content-page-press-release">
        12 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crossrail 2 has won the Global Engineering Project of the Year at the 7th Global Infrastructure Leadership Forum
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Crossrail 2 will play a crucial role in the future growth of London so it is important that we continue to move forward with this work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">Transport for London Managing Director of Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Crossrail 2 will play a crucial role in the future growth of London so it is important that we continue to move forward with this work
                            
                        </p>
                    </div>
                
            
            
            <p>The new proposed rail link connecting southwest to northeast London is vital to provide extra capacity in the capital to cope with London's growing population, expected to reach 10 million by 2030. </p>
<p>It would create a new high frequency, high capacity rail line with shorter journey times and would provide much needed additional capacity on the transport network alongside the upgrade works on London Underground and the delivery of Crossrail 1.</p>
<p>Crossrail 2 would relieve congestion on busy main line routes into central London and on the London Underground network allowing local communities to benefit from development opportunities, the creation of new jobs and new homes and economic growth.</p>
<p>The Global Engineering Project of the Year Award honours the projects that demonstrate the region's technical engineering capacity, especially in areas of design and creative problem solving. </p>
<p>Crossrail 2 was nominated for the project's large-scale, innovative approach to building a new regional rail line through the heart of London. </p>
<p>The winning project was voted for by industry leaders in infrastructure who were attending the forum event which was organised by CG/LA Infrastructure.</p>
<p>Transport for London's (TfL) Managing Director of Planning, Michele Dix, said: </p>
<p>'After the positive response we received from the public and stakeholders it's fantastic to see Crossrail 2 being welcomed and recognised just as enthusiastically by our international colleagues, particularly at this early stage.</p>
<p>'Crossrail 2 will play a crucial role in the future growth of London so it is important that we continue to move forward with this work to ensure that the capital's transport network is prepared to cope with its forecasted population growth.'<br>&nbsp;<br>Paul Plummer, Network Rail Group Strategy Director, said: </p>
<p>'London's railways are already the busiest and most congested in the country, with many main lines operating at, or close to, capacity. </p>
<p>Projects like Thameslink and Crossrail will make a real difference but we must also press on with schemes such as Crossrail 2 so that public transport continues to support and drive economic growth in and around the capital.'</p>
<p>CG/LA's Infrastructure President and CEO Norman F. Anderson, said: </p>
<p>'The G-20 recently vowed to raise global GDP by 2% above the trend line through increased investment in infrastructure.&nbsp; </p>
<p>The Projects of the Year Awards recipients are the groundbreaking projects that show how we will transform that goal into reality.</p>
<p>'We are honouring TfL and Network Rail because they are creating a transformative infrastructure project critical to creating growth and opportunities in the United Kingdom.'&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>In May 2013 the Mayor, TfL and Network Rail launched the first phase of a public consultation on the proposed routes for Crossrail 2. </p>
<p>The consultation closed on 2 August 2013 and almost 14,000 responses were received in total. </p>
<p>The findings are now available online at <a href="http://www.crossrail2.co.uk">www.crossrail2.co.uk</a>.<br>&nbsp;<br>TfL and Network Rail have been considering the Crossrail 2 consultation findings and will make recommendations on the next steps to the Mayor of London in the coming months. </p>
<p>Once the decision is taken to progress, more detailed consultations will take place.<br></p>
            <p>Notes to Editors:</p>
<ul>
<li>A flythrough of the proposed routes is available here: <a href="http://youtu.be/uKoUqjeBT0Q">http://youtu.be/uKoUqjeBT0Q</a>&nbsp; </li>
<li>Images of the proposed routes are available here: <br><a href="http://www.flickr.com/photos/tflpress/8738071172/">http://www.flickr.com/photos/tflpress/8738071172/</a>&nbsp; - Crossrail 2 Metro<br><a href="http://www.flickr.com/photos/tflpress/8738071246/">http://www.flickr.com/photos/tflpress/8738071246/</a>&nbsp; - Crossrail 2 Regional Option</li>
<li>Respondents were asked to express views for both options meaning they could support both the Regional and Metro option.</li>
<li>For further information on CG/LA Infrastructure please visit: <a href="http://www.cg-la.com/">http://www.cg-la.com/</a> </li>
<li>The 7th Global Infrastructure Leadership Forum took place between 26-28 February in New York<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Crossrail 2 receives global recognition as a leading infrastructure project, creating growth and opportunities -->

 
 
        
        
            @{ViewBag.Description = "The new proposed rail link connecting southwest to northeast London is vital to provide extra capacity in the capital to cope with London's growing population, expected to reach 10 million by 2030. It would create a new high frequency, high capacity rail";}
        
        


 