


@{ViewBag.Title = "Customers set for a smoother ride on the Metropolitan and Piccadilly lines";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Customers set for a smoother ride on the Metropolitan and Piccadilly lines</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Customers set for a smoother ride on the Metropolitan and Piccadilly lines</h1>
        <div class="content-page-press-release">
        24 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London Underground (LU) is set to improve the reliability of service and renew old infrastructure on the Uxbridge branch, which is served by both the Metropolitan and Piccadilly lines.</p>
<p>Between 19 July and 10 August LU will be replacing 6km of track, points and track drainage. </p>
<p>The work to be carried out under this block closure marks the culmination of a major programme of improvements that have been carried out in recent years to replace life-expired track and drainage and modernise other infrastructure on this part of the network.</p>
<p>LU has planned this work to be carried out during a quieter period on the network, when the schools are on summer break. </p>
<p>Doing the work as a block closure also reduces the number of weekend closures that would have been needed.</p>
<p>George McInulty, LU's Programme Director of Infrastructure, said: `The track replacement work on the Uxbridge branch is a crucial part of the Metropolitan line upgrade. </p>
<p>`In recent years our customers have seen the arrival of the new walk-through air-conditioned trains and in the future will benefit from more frequent and faster services when new signalling is installed. </p>
<p>`However for customers to fully benefit from all these improvements it is essential that we upgrade the track and infrastructure to support it.</p>
<p>`Carrying out a block closure of this section of the network will enable us to complete the work in just over three weeks as opposed to fourteen weekend closures. </p>
<p>`This approach means that there will be no time lost due to set-up and hand-back of works, which minimises working time and helps to significantly reduce the cost - saving around &pound;3 million of tax and fare payers' money- and ultimately keeping disruption to customers to an absolute minimum.'</p>
<p>During the week the line will be suspended on the Metropolitan line between Uxbridge and Ruislip and on the Piccadilly line between Uxbridge to Rayners Lane. </p>
<p>On two weekends the closures will be extended on the Metropolitan line between Uxbridge to Wembley Park and Northwood and on the other two between Uxbridge and Rayners Lane.</p>
<p>Throughout the closure, ticket acceptance will be granted on local buses in the area and a rail replacement bus service will be in operation connecting with the Central line at West Ruislip.</p>
<p>This work is part of London Underground's &pound;10 billion programme of continuous improvement, which has already delivered huge improvements to the London Underground network. </p>
<p>The completion of upgrade work on the Victoria and Jubilee lines has delivered faster journeys and train frequencies amongst the highest in Europe. </p>
<p>This year the Northern line upgrade work will be complete, and works on the Circle, District, Hammersmith &amp; City and Metropolitan line continue apace wit new air-conditioned walk-through trains having already been introduced on those lines.</p>
<p>Line closures while work takes place are as follows: </p>
<p>
<div class="table-container"><table height="613" cellspacing="1" cellpadding="1" width="432" border="1">
<tbody>
<tr>
<td>&nbsp;Monday to Friday</td>
<td>&nbsp;Weekend</td>
<td>&nbsp;Metropolitan line</td>
<td>&nbsp;Piccadilly line</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;19th - 20th July 2014</td>
<td>
<p>&nbsp;Uxbridge to Wembley Park &amp; Northwood</p></td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;21st - 25th July 2014</td>
<td>&nbsp;</td>
<td>&nbsp;Uxbridge to Ruislip</td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;26th - 27th July 2014</td>
<td>
<p>&nbsp;Uxbridge to Wembley Park &amp; Northwood</p></td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;28th July - 1st August 2014</td>
<td>&nbsp;</td>
<td>
<p>&nbsp;Uxbridge to Ruislip</p></td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;2nd - 3rd August 2014</td>
<td>&nbsp;Uxbridge to Rayners Lane</td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;4th - 8th August 2014</td>
<td>&nbsp;</td>
<td>&nbsp;Uxbridge to Ruislip</td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;9th - 10th August 2014</td>
<td>&nbsp;Uxbridge to Rayners Lane</td>
<td>&nbsp;Uxbridge to Rayners Lane</td></tr></tbody></table></div><br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Customers set for a smoother ride on the Metropolitan and Piccadilly lines -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) is set to improve the reliability of service and renew old infrastructure on the Uxbridge branch, which is served by both the Metropolitan and Piccadilly lines.Between 19 July and 10 August LU will be replacing 6km of track, points";}
        
        


 