


@{ViewBag.Title = "Cycle training for every child offered in latest TfL plan for young people in London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cycle training for every child offered in latest TfL plan for young people in London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cycle training for every child offered in latest TfL plan for young people in London</h1>
        <div class="content-page-press-release">
        26 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Every child will be offered free cycling training as part of a new Delivery Plan for Young People, Transport for London (TfL) reaffirmed today. </p>
<p>The pledge forms a key part of TfL's new "Delivery Plan for Schools and Young People", which brings together for the first time the wide range of projects and activities TfL offers to young Londoners. </p>
<p>One of TfL's top priorities is to reduce by 40 per cent the number of people killed or seriously injured on London's roads by 2020.&nbsp; </p>
<p>Recently, the Mayor and TfL published six commitments which, working with a range of partners, are guiding a range of work to deliver this. </p>
<p>A large part of the Schools and Young People Delivery Plan outlines the action being taken to prioritise the safety of the most vulnerable young road users including pedestrians and cyclists as well as making them aware of career opportunities in the transport industry. </p>
<p>In the last year, nearly 39,000 children in the capital received cycle training as part of TfL's work with 33 London boroughs to encourage children to take to two wheels. </p>
<p>Cycle training is a borough-led programme delivered within the proven framework of the nationally accredited 'Bikeability' training scheme. </p>
<p>There are three levels of Bikeability cycle skills training, ranging from basic off-road to advanced on-street training.</p>
<p>TfL is working with the boroughs to encourage schools that are not running cycle training to sign-up. </p>
<p>Schools can contact their borough's Road Safety Team or School Travel Plan Officer for more information on how to get involved. </p>
<p>Leon Daniels, Managing Director Surface Transport said: `We want to encourage a shift towards cycling and walking as part of the school journey and get more Londoners out of their cars during the school run. </p>
<p>`As well as encouraging schools to sign up for cycle training, by working with the boroughs and the police we will be expanding Cycle to School Partnerships across London over the next three years. </p>
<p>`As a result, we hope to embed a cycling culture within schools and London wide.</p>
<p>`This plan also sets out how we are working with young people to provide them with the skills they need to make informed, safe travel choices and even how they can be equipped with the skills that could help them on to a career in the transport industry.'</p>
<p>As well as outlining TfL's commitments to get more young people cycling, the plan covers five key areas where TfL is working with its partners to benefit young people in the capital. These are:</p>
<ul>
<li>Casualty reduction: reducing the number of young people killed or injured on and around London roads </li>
<li>Active and independent travel: promoting active travel choices such as cycling, walking and confident use of public transport </li>
<li>Community and personal safety: reducing the level of young people as offenders and victims of crime, and promoting secure and responsible travel </li>
<li>Skills and employment: using transport to access learning and training, and raising the awareness of careers in TfL, its suppliers and the transport industry and </li>
<li>Youth involvement: connecting with young people and youth stakeholders to involve them in informing, influencing and communicating TfL's priorities and key message</li></ul>
<p>Read the Delivery Plan for Schools and Young People. To find out further information on our programmes visit <a href="http://www.tfl.gov.uk/younglondon">www.tfl.gov.uk/younglondon</a> <br></p>
<ul>
<li>The "Delivery Plan for Schools and Young People" also forms a key part of delivering the capital's wider "Safe Streets for London" road safety plan, which sets out a clear path towards helping to reduce death and serious injury on the capital's roads. The road safety plan, which covers the period until 2020, builds on solid progress already made by TfL, the London boroughs and the police over the last decade to improve the safety of London's roads and allow the capital to make significant progress towards the ultimate ambition - a London road network free from death and serious injury. </li>
<li>In February 2014 the Mayor and TfL published six safety commitments, which supports the plan and brings focus to the range of actions needed by us and our partners to make our streets safer: <br><a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a> </li></ul>
<p>The six key commitments are:<br></p>
<ol type="1">
<li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury </li>
<li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions; </li>
<li>To provide substantial funding for road safety, invested in the most effective and innovative schemes; </li>
<li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk </li>
<li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer </li>
<li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information. </li></ol>
<ul>
<li>The Delivery Plan for schools and young people originated from a project to identify efficiency savings and projects are delivered to the areas of greatest need. </li>
<li>The draft plan was open for consultation for eight weeks at the start of 2013. We received more than 68 responses from a number of stakeholders and the observations which have been incorporated wherever possible. To view the consultation summary report visit <a href="https://consultations.tfl.gov.uk/">https://consultations.tfl.gov.uk/</a> </li>
<li>Cycle to School Partnerships and cycle training feature within the Mayor's Vision for Cycling and we will support schools to develop these programmes to ensure they are aligned with existing programmes to increase the number of young people cycling. </li>
<li>TfL's latest teenage road safety campaign 'Stop. Think. Live' is running over March and April. </li>
<li>The implementation of this plan is dependent on internal partnerships between our directorates and a number of external partners, in particular the Metropolitan Police Service (MPS); City of London Police (CoLP); the British Transport Police (BTP); London boroughs, including road safety officers and school travel planners, bus operators; and London Transport Museum (LTM).<br></li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Cycle training for every child offered in latest TfL plan for young people in London -->

 
 
        
        
            @{ViewBag.Description = "Every child will be offered free cycling training as part of a new Delivery Plan for Young People, Transport for London (TfL) reaffirmed today. The pledge forms a key part of TfL's new 'Delivery Plan for Schools and Young People', which brings together";}
        
        


 