


@{ViewBag.Title = "DfT and TfL extend Crossrail route to Reading";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DfT and TfL extend Crossrail route to Reading</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DfT and TfL extend Crossrail route to Reading</h1>
        <div class="content-page-press-release">
        27 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crossrail will now run to Reading after the joint sponsors, the Department for Transport (DfT) and Transport for London (TfL), instructed Crossrail Limited to extend the route.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Crossrail reaching Reading is further proof of our commitment to deliver a transport network fit for the 21st century"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rail Minister</div>
            <div class="quotee-job-title">Stephen Hammond</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Crossrail reaching Reading is further proof of our commitment to deliver a transport network fit for the 21st century
                            
                        </p>
                    </div>
                
            
            
            <p>The extension will see the east-west rail line serve two additional stations, Twyford and Reading, serving a total of 40 stations along the entire route, when the line fully opens in 2019.</p>
<p>Extending Crossrail to Reading opens up a wider network of destinations across, and beyond, central London and extends the benefits of a direct connection between London's main employment centres and reduced journey times to even more people. </p>
<p>The extension will also help to meet increases in passenger numbers by providing greater capacity than the previous plans. </p>
<p>There will be two trains an hour from Reading and passengers will be able to travel into, and beyond, central London without the need to change at Paddington.&nbsp; </p>
<p>It will also provide greater flexibility for future timetabling of services.</p>
<p>Rail Minister Stephen Hammond said: </p>
<p>'Crossrail reaching Reading is further proof of our commitment to deliver a transport network fit for the 21st century. </p>
<p>It will improve connectivity and deliver greater choice and convenience for passengers travelling into London. </p>
<p>It will also make better use of the already congested Great Western Main Line, freeing up capacity for further improvements including potential direct services from Reading to Heathrow as part of the Western Access Scheme.&nbsp; </p>
<p>In addition, I have requested Network Rail to look at the cost benefit analysis of increasing the number of faster trains between Reading and Paddington.'</p>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'I am thrilled that the people of Reading and Twyford will be able to take advantage of Crossrail, putting them on the doorstep of London's main employment centres by directly linking them to the City and West End in world-class style.'</p>
<p>Mike Brown MVO, Managing Director London Underground and London Rail, said: </p>
<p>'Extending Crossrail to Reading will provide passengers with more journey options and will create better connections and direct services between Reading, Twyford and destinations across London without the need to interchange at Paddington.'</p>
<p>TfL and DfT have worked closely with Crossrail Limited and Network Rail to ensure the best use is made of the Great Western Mainline; extending Crossrail to Reading helps passenger and freight services to operate in a more effective way. </p>
<p>There will be no change to the planned Great Western services from Reading to London with twice hourly semi-fast services and fast mainline services continuing to operate and call at the same stations as today. </p>
<p>Crossrail will serve Maidenhead with four trains per hour.</p>
<p>Crossrail will be fully operational by the end of 2019. </p>
<p>The line will boost London's rail-based capacity by 10 per cent connecting Reading and Heathrow in the west and Shenfield and Abbey Wood in the east. </p>
<p>It is connecting people and places, providing faster journey times and up to 24 trains per hour between Paddington and Whitechapel during the peak.</p>
<p>It is estimated that Crossrail will generate at least 75,000 business opportunities and support the equivalent of 55,000 full time jobs right around the UK. </p>
<p>Three out of five businesses currently winning work on the project are based outside London and over half are small and medium-size companies (SMEs).<br></p>
            <p>Notes to Editors:</p>
<p>The current planning assumption is that new Crossrail trains will be introduced to run Crossrail services as follows:</p>
<ul>
<li>Liverpool Street to Shenfield - May 2017</li>
<li>Heathrow to Paddington (mainline platforms) - May 2018 (when the Crossrail concession takes over the Heathrow Connect service)</li>
<li>Paddington (Crossrail platforms) to Abbey Wood - December 2018</li>
<li>Paddington (Crossrail platforms) to Shenfield - May 2019</li>
<li>Full through service (including services to Reading) - December 2019</li></ul>
<p>An image of the new route to Reading is available here: <a href="http://www.flickr.com/photos/tflpress/13443423353/">http://www.flickr.com/photos/tflpress/13443423353/</a> </p>
<p>Transport for London and the Department for Transport, the joint Sponsors of the Crossrail Project, aim to make the whole Crossrail route accessible. </p>
<p>There is already provision for 31 of the 38 stations to have step free access and work is underway to look at practical solutions and funding options for the remaining seven. </p>
<p>Reading and Twyford stations have step free access.&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-DfT and TfL extend Crossrail route to Reading -->

 
 
        
        
            @{ViewBag.Description = "The extension will see the east-west rail line serve two additional stations, Twyford and Reading, serving a total of 40 stations along the entire route, when the line fully opens in 2019.Extending Crossrail to Reading opens up a wider network of";}
        
        


 