


@{ViewBag.Title = "Groundbreaking safety technology trials on London buses to start this summer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Groundbreaking safety technology trials on London buses to start this summer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Groundbreaking safety technology trials on London buses to start this summer</h1>
        <div class="content-page-press-release">
        31 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trials of optical and radar-based detection software to begin in the summer, helping bus drivers stay aware of pedestrians and cyclists
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) have today announced that London Buses will carry out a groundbreaking trial of innovative detection software this summer, helping to further reduce the number of collisions involving pedestrians and cyclists in London.</p>
<p>One of TfL's top priorities is to reduce by 40 per cent the number of people killed or seriously injured on London's roads by 2020. </p>
<p>Recently, the Mayor and TfL published six commitments which, working with a range of partners, are guiding initiatives to deliver this. </p>
<p>In particular, action is being taken to prioritise the safety of the most vulnerable road users:&nbsp; pedestrians, cyclists and motorcyclists. </p>
<p>The innovative trials by London Buses are part of TfL's draft Pedestrian Safety Action Plan, published for public review today. </p>
<p>The trials will build on research previously carried out by TfL on detection equipment and will look to test the effectiveness of radar and optical technology for reducing collisions with cyclists and pedestrians. </p>
<p>An initial trial in August 2013 showed that this technology - which directly alerts bus drivers to pedestrians and cyclists close to the vehicle - had significant potential but that more research was needed. </p>
<p>TfL is now calling on developers to submit information about similar technology which could form part of the on street trial this summer. </p>
<p>Subject to the outcome of the trials, a decision will be made whether the technology could be more widely rolled out across London's 8,700 buses.</p>
<p>The draft Pedestrian Safety Action Plan, compiled by TfL working alongside key stakeholders, will look to address the concerns and challenges faced by pedestrians across London, helping to turn the capitals streets into a safer, more pleasant place for all. </p>
<p>The draft plan outlines 30 key actions which will directly target the key factors in collisions and help further reduce pedestrian casualties across London. The actions include:</p>
<ul>
<li>By 2016, TfL will double the number of pedestrian crossings operating Pedestrian Countdown from around 200 to more than 400, roughly 10 per cent of all pedestrian crossings in London. TfL will also be strongly encouraging boroughs to adopt Pedestrian Countdown as standard to reduce pedestrian uncertainty at crossings</li>
<li>Building on its innovative crossing technology trials, a new 'gold standard' for all new and upgraded pedestrian crossings will be developed. This would look to include Pedestrian Countdown timers to give pedestrians a clear indication of how much time they have to safely cross the road, as well as ensuring that all pedestrian crossing times take account of national safety standards and the level of pedestrian demand&nbsp;&nbsp; </li>
<li>Producing the first London Pedestrian Design Guidance to plan and design for safe and comfortable walking environments. TfL will then use this guidance for all TfL funded streets and public realm schemes and strongly encourage London boroughs to adopt these guidelines for their schemes</li></ul>
<p>The Mayor and TfL will continue to lobby the DfT for changes in legislation to improve the safety of pedestrians on London's roads, calling for a stronger emphasis on pedestrian priority over turning vehicles at side roads in the Highway Code. </p>
<p>They will also push for the creation of an up to date national digital speed limit map to help app developers and the motoring industry revolutionise speed management and information technologies in vehicles.</p>
<p>Mayor of London, Boris Johnson, said: `We've made some great strides in improving road safety in recent years, and although things are moving in the right direction there is still much to be done which is why we are working hard to deliver innovative measures - such as these groundbreaking bus technology trials - to ensure that we make our roads as safe as possible for everyone.'</p>
<p>Leon Daniels, Managing Director of Surface Transport said: `We are all pedestrians, and therefore it is vital that we continue to make London's streets as safe as possible. </p>
<p>`These forthcoming trials of innovative pedestrian detection on London Buses, as well as the publication of our draft Pedestrian Safety Action Plan, will build on the huge reductions in serious injuries we have seen in the last decade and demonstrate our commitment to making London's streets safe for all.'</p>
<p>The publication of the draft Pedestrian Safety Action Plan is part of TfL's continuing work to improve road safety for all road users across London. Earlier this month, TfL published both London's first Motorcycle Safety Action Plan and its Delivery Plan for Young People, which included a commitment to provide cycle training to all school children in London. </p>
<p>A range of campaigns to reduce casualties among all road users has also been launched. These campaigns target collisions involving teenagers, pedestrians and collisions at junctions, taking an even handed approach and working alongside each other to protect different road users at the same time. For more information on the work TfL is undertaking to improve road safety in London, please visit <a href="http://www.tfl.gov.ukroadsafety">www.tfl.gov.ukroadsafety</a></p>
<p>
<hr>

<p>
<p>Notes to Editors:<br>To comment on the draft Pedestrian Safety Action Plan, please click here: <a href="https://consultations.tfl.gov.uk/streets/pedestrian-safety-plan">https://consultations.tfl.gov.uk/streets/pedestrian-safety-plan</a><br>In June 2013, the Mayor and Transport for London published Safe Streets for London: an ambitious and comprehensive plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a><br>In February 2014 the Mayor and TfL published six safety commitments, which supports the plan and brings focus to the range of actions needed by us and our partners to make our streets safer: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a><br>The six key commitments are:</p>
<ol type="1">
<li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury</li>
<li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions</li>
<li>To provide substantial funding for road safety, invested in the most effective and innovative schemes</li>
<li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk</li>
<li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer</li>
<li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information<br></li></ol>
<p>&nbsp;</p>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Groundbreaking safety technology trials on London buses to start this summer -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today announced that London Buses will carry out a groundbreaking trial of innovative detection software this summer, helping to further reduce the number of collisions involving pedestrians and cyclists in";}
        
        


 