


@{ViewBag.Title = "London's first Motorcycle Safety Action Plan to improve safety for riders across the capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's first Motorcycle Safety Action Plan to improve safety for riders across the capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's first Motorcycle Safety Action Plan to improve safety for riders across the capital</h1>
        <div class="content-page-press-release">
        21 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More enforcement, innovative safety trials and new design guidance for junctions to help reduce collisions
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our new Motorcycle Safety Action Plan, the first of its kind in London, will look to build on best practice from across London, the UK and Europe, to ensure that we can continue to make our roads safer for all
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London and Transport for London (TfL) today published the capital's first Motorcycle Safety Action Plan designed to directly reduce the number of collisions involving motorcyclists and scooter riders.</p>
<p>One of TfL's top priorities is to reduce by 40 per cent the number of people killed or seriously injured (KSI) on London's roads by 2020.&nbsp; </p>
<p>Recently, the Mayor and TfL published six commitments which, working with a range of partners, are guiding a range of work to deliver this. </p>
<p>In particular, action is being taken to prioritise the safety of the most vulnerable road users:&nbsp; pedestrians, cyclists and motorcyclists.</p>
<p>London has a long history of successful initiatives to increase the safety of motorcyclists, with the number of riders killed in London halved during the last decade. </p>
<p>However, in 2012 there were 629 motorcyclist KSIs on London's roads; which equated to 21 per cent of all KSIs in London that year. </p>
<p>Despite the number of motorcycles registered in London steadily increasing in the last decade, motorcycling made up just 2.3 per cent of all vehicle kilometres, meaning that motorcyclist KSIs remain disproportionally high.</p>
<p>TfL is now redoubling efforts to improve motorcycle safety through its new Motorcycle Safety Action Plan. </p>
<p>The new plan was compiled by TfL working with representatives from the motorcycle industry and is based on detailed analysis of the risks and challenges faced by riders in London. </p>
<p>It outlines 29 key actions which will directly target the key factors in collisions, which will help to reduce motorcyclist casualties across London. </p>
<p>The actions include:</p>
<ul>
<li>The TfL-funded Metropolitan Police Motorcycle Tasking Team will increase enforcement activity by 40 per cent, which will allow the team to further clamp down on dangerous behaviour such as speeding, careless riding and actions by other road users such as turning across motorcyclists at junctions. Monthly high-visibility operations will also take place across London to target motorcycle, as well as cyclists and pedestrian safety </li>
<li>The Mayor and TfL will work with London's police to make better use of offender retraining for motorcyclists as an alternative to prosecutions. They will also lobby the Department for Transport (DfT) for further safety and training elements, such as additional guidance on riding in a busy city environment, to be included in the motorcycle compulsory basic training (CBT) and the motorcycle licence test </li>
<li>Working with the motorcycle industry and local boroughs, TfL will promote the use of Personal Protection Equipment (PPE) by motorcyclists, which can severely reduce the severity of injuries when involved in a collision. TfL will also carry out on-street trials of new technologies specifically designed to make motorcycling safer, such as innovative headlights which make motorcycles look larger to help reduce right turn collisions </li>
<li>New hard hitting safety campaigns will be produced, designed specifically to change road user behaviour that puts motorcyclists at risk, such as drivers failing to look properly or not accurately judging motorcyclists' paths when turning into or out of side roads </li>
<li>A new Motorcycle Courier and Delivery Code will be launched by TfL and representatives from the motorcycling industry. This would look to ensure companies provide better training and safety equipment to riders while helping companies to improve riding behaviour among their employees </li>
<li>TfL will produce new design guidance for motorcyclists specifically tailored for London's roads, building on the forthcoming design guidance by the Institute of Highway Engineers. Motorcycle safety and best practice across Europe will also be investigated to see whether any further lessons could be learnt to reduce motorcycle injuries.</li></ul>
<p>To support the publication of the Motorcycle Safety Action Plan, TfL has also published a new independent report which provides, for the first time, detailed analysis of fatal motorcycle collisions in London. </p>
<p>This ground-breaking research, looked at the Police investigation reports for all fatal collisions between 2006 and 2009 and showed that most fatal collisions during this period (45 per cent) involved a "loss of control", with half of these being recorded as exceeding the speed limit. </p>
<p>A further 22 per cent involved vehicles turning across the path of the motorcyclist.</p>
<p>Mayor of London, Boris Johnson, said: `This plan clearly sets out our commitment to make London's roads as safe as possible for motorcyclists, many of whom play a key role in keeping businesses across our city moving. </p>
<p>`It's a very wide-ranging package of measures that looks at motorcycle safety in the round, from education and awareness, to better enforcement and innovations in technology and design too. </p>
<p>`We've made some great strides in improving road safety in recent years and this plan gives us the toolbox we need to fine-tune our efforts and deliver an even better experience for motorcyclists in the capital.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `Despite the number of fatalities being more than halved since 2000, motorcyclists are, sadly, still much more likely to be involved in a serious collision than any other mode of transport in London. </p>
<p>`Our new Motorcycle Safety Action Plan, the first of its kind in London, will look to build on best practice from across London, the UK and Europe, to ensure that we can continue to make our roads safer for all.'</p>
<p>Craig Carey-Clinch, the Motor Cycle Industry Association's policy advisor said: `Motorcycles are an important component in London's transport system and riders have a right to expect a safer road environment. </p>
<p>`The Action Plan marks a valuable step in bringing safety initiatives together under a single framework. </p>
<p>`We welcome TfL's commitment to motorcycle safety and look forward to working with the TfL team as the Action Plan is delivered and also further developing the role of motorcycling under a holistic safety and transport policy.'</p>
<p>Inspector Paul Thomas of the Metropolitan Police's Motorcycle Tasking Team said: `I see this action plan as a positive step forward in reducing the number of collisions that motorcyclists are involved in.&nbsp; </p>
<p>`Working with our colleagues from TFL we booked nearly 400 motorcyclists onto Bikesafe-London at the Excel Motorcycle Show which demonstrates that motorcyclists want to be safer in the capital.</p>
<p>`The Metropolitan Police Motorcycle Tasking Team are dedicated to improving the safety of motorcyclists by both education and enforcement. </p>
<p>`We are all police motorcyclists and all ride our own machines off duty so we know the risks faced by others. We are all looking forward to taking part in this Action Plan and the challenges it presents.'</p>
<p>The launch of the plan has been backed by top radio host and passionate motorcyclist Neil Fox.</p>
<p>Neil Fox, host of Foxy in the Morning on Magic FM, said: `As a lifelong lover of motorbikes, and a daily rider in and around London, I welcome any initiative that tries to make biking safer. </p>
<p>`Cars, lorries, motorbikes and bicycles all have to share our busy streets and we must all learn to respect each other, watch out for each other and obey the laws and the highway code. </p>
<p>`Anyone on two wheels is clearly more vulnerable but initiatives like this will help focus peoples' minds and help save lives.'</p>
<p>For more information on the work TfL is carrying out to improve motorcycle safety, please visit <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a> </p>
<p>
<hr>

<p>
<ul>
<li>The Motorcycle Safety Action Plan can be downloaded <a href="http://www.tfl.gov.uk/assets/downloads/motorcycle-safety-action-plan.pdf ">here</a> </li>
<li>In June 2013, the Mayor and Transport for London published <a href="http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf ">Safe Streets for London:</a> an ambitious and comprehensive plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020</li>
<li>In February 2014 the Mayor and TfL published our <a href="http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">six safety commitments</a>, which supports the plan and brings focus to the range of actions needed by us and our partners to make our streets safer</li></ul>
<p>The six&nbsp;key commitments are:</p>
<ol type="1">
<li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury </li>
<li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions </li>
<li>To provide substantial funding for road safety, invested in the most effective and innovative schemes </li>
<li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk </li>
<li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer </li>
<li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information<br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-London's first Motorcycle Safety Action Plan to improve safety for riders across the capital -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London and Transport for London (TfL) today published the capital's first Motorcycle Safety Action Plan designed to directly reduce the number of collisions involving motorcyclists and scooter riders.One of TfL's top priorities is to reduce";}
        
        


 