


@{ViewBag.Title = "Mayor launches &pound;1.8m Future Streets Incubator Fund to transform London's streets and public spaces";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches &pound;1.8m Future Streets Incubator Fund to transform London's streets and public spaces</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches &pound;1.8m Future Streets Incubator Fund to transform London's streets and public spaces</h1>
        <div class="content-page-press-release">
        24 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Dozens of streets and underused public spaces across the capital will be transformed as the Mayor and Transport for London (TfL) today launched a new &pound;1.8 million fund to invest in creative and original on-street projects.</p>
<p>From ideas such as temporary public plazas to pop-up street sporting activities, the 'Future Streets Incubator Fund' will help convert more of London's streets into spaces where people can socialise and interact. </p>
<p>There will also be a focus on creating new, greener spaces, boosting sustainable transport, testing new street layouts and alternative ways that roads and streets can be used. </p>
<p>The Mayor and TfL are looking for creative pilot scheme submissions from local boroughs, Business Improvement Districts (BIDs) and community groups in order to award the substantial funding over the next three years. </p>
<p>The fund will champion innovation and will be a great way to temporarily try out new street layouts using low-cost measures. </p>
<p>The Mayor of London, Boris Johnson, said: `This fund will spark the imagination of people and organisations across our city. </p>

<p>`Anything and everything will be considered, however weird and wonderful. </p>
<p>`We want to harness the creativity of Londoners and put their ingenuity on the map.'</p>
<p>Examples from around the world show what can be achieved when funding is directed to innovative projects:</p>
<ul>
<li>In Brooklyn, New York, a new public plaza has been created where a car park once stood. Seating, tables and potted trees have transformed the space into somewhere New Yorkers can enjoy&nbsp; </li>
<li>In Toronto, Canada, pop-up sporting activities such as 'street tennis' brought communities together and encouraged people to use their open spaces differently </li>
<li>In Bogota, Columbia, an event called Ciclovia, held every Sunday, attracts up to one million participants as central roads are closed to traffic and opened&nbsp; up to pedestrian and cyclists</li></ul>
<p>TfL's Managing Director of Planning, Michele Dix, said: `Whether it's about technological capability, street layouts, new types of infrastructure, vehicles on the road or the way we use streets through the day, week or year, the Future Streets Incubator will help to develop, support, and pilot potential solutions to transform London's streets and make them places for Londoners to enjoy.'</p>
<p>TfL is already helping to support a number of creative pilot projects, but this new fund will see the amount of money on offer tripled.&nbsp; <br>&nbsp;<br>Past projects to receive funding under the Bid4BIDs scheme include one from the Baker Street Quarter Partnership BID who are working in collaboration with freight experts from the University of Westminster to explore how over 70 local businesses can co-ordinate deliveries to improve the local environment.&nbsp; </p>
<p>Other projects include a cycle freight service from the Better Bankside BID, which will use a power assisted delivery bike instead of a van for deliveries in the Bankside area. </p>
<p>A commercial vehicle reduction scheme that will significantly reduce the number of commercial vehicles in the West End, particularly during the day will be trialled by the New West End Company.</p>
<p>Chief Executive of Baker Street Quarter Partnership, Penny Alexander, said: `The Baker Street Quarter Partnership was delighted to receive funding from Transport for London to assist us in exploring how we can reduce the dominance of vehicular traffic through the coordination and consolidation of business deliveries in the area. </p>
<p>`This will further our work to improve the local environment, and enhance the Quarter for employees, residents and visitors. </p>
<p>`We warmly welcome the Future Streets Incubator Fund, which recognises the valuable role that London's BIDs and other partners can play in improving our streets and public spaces in new and innovative ways.'</p>
<p>The Future Streets Incubator Fund will help to deliver recommendations made by the Mayor's Roads Task Force, which last July unveiled a bold new vision to radically improve London's roads, streets and public spaces. </p>
<p>Anyone who is interested in applying to the Future Streets Incubator Fund should email:&nbsp; <a href="mailto:incubator&#64;tfl.gov.uk">incubator&#64;tfl.gov.uk</a> </p>
<p>
<hr>

<p>
<ul>
<li>To arrange an interview with the Deputy Mayor for Transport, Isabel Dedring or TfL's Managing Director of Planning, Michele Dix, please contact Linda Egan in the TfL Press Office on: 0845 604 4141 </li>
<li>Images of Better Bankside's innovative activity are available for press use. They should be credited to Mickey Lee / thebiglondon.com and can be found <a href="http://www.flickr.com/photos/tflpress/sets/72157642838368193/ ">here</a></li>
<li>The Deputy Mayor for Transport, Isabel Dedring, launched the Future Streets Incubator at a stakeholder event hosted by the Baker Street Quarter Partnership BID this morning </li>
<li>The Future Streets Incubator will provide &pound;600,000 annual funding over three years totalling &pound;1.8m. It consists of &pound;200,000 from Bid4BIDs funding and an extra &pound;400,000 of new funding reallocated from existing TfL budgets but made available for local boroughs, Business Improvement Districts (BID) and community groups for the first time </li>
<li>This investment forms part of the wider work TfL is carrying out across London to deliver the recommendations of the Mayor's Roads Task Force. This independent body brings together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design </li>
<li>The Roads Task Force includes members from: The Greater London Authority, Transport for London, the Chartered Institute of Logistics &amp; Transport, Living Streets, IBM, Sustrans, University College London (UCL), London First, London TravelWatch, London Councils, Motorcycle Action Group (MAG UK), the Independent Disability Advisory Group, British Land, the RAC Foundation, City of London, and Cyclists in the City </li>
<li>For more information about the Mayor's Roads Task Force, visit <a href="http://www.tfl.gov.uk/roadstaskforce">www.tfl.gov.uk/roadstaskforce</a> <br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Mayor launches &pound;1.8m Future Streets Incubator Fund to transform London's streets and public spaces -->

 
 
        
        
            @{ViewBag.Description = "Dozens of streets and underused public spaces across the capital will be transformed as the Mayor and Transport for London (TfL) today launched a new &pound;1.8 million fund to invest in creative and original on-street projects.From ideas such as";}
        
        


 