


@{ViewBag.Title = "New TfL website puts customers in control, making it easier than ever to plan journeys on the move";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New TfL website puts customers in control, making it easier than ever to plan journeys on the move</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New TfL website puts customers in control, making it easier than ever to plan journeys on the move</h1>
        <div class="content-page-press-release">
        27 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL) new and improved website is now 'live' for all Londoners and visitors, making it easier than ever to plan journeys on the move and make the most of all London has to offer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new website puts customers in control, with more live travel information and options making it easier than ever to plan and make journeys in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Young</div>
            <div class="quotee-job-title">TfL Head of Online</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our new website puts customers in control, with more live travel information and options making it easier than ever to plan and make journeys in London
                            
                        </p>
                    </div>
                
            
            
            <p>The new site is optimised for use on mobile, tablet, laptop or desktop and puts customers in control by providing more personalised, live travel information, including a new 'Nearby' function which shows all local travel options and real-time service information.</p>
<p>The way customers and road users want to receive information has changed dramatically in recent years.&nbsp; </p>
<p>Seventy per cent of Londoners now use a smart phone and almost nine in ten (87 per cent) use the internet for maps and directions.&nbsp; </p>
<p>The TfL website now receives 250 million visits a year and TfL's Twitter feeds and Facebook pages now have more than one million followers.&nbsp; </p>
<p>Highlights of the new website, which has been running in beta mode for the last eight months to give customers the opportunity to shape its development, include:<br></p>
<ul>
<li>A 'Nearby' feature, which allows customers to see on a map all the Tube, bus, river, London Overground, DLR, National Rail and Barclays Cycle Hire services in their vicinity, including live information on departures and how many free bikes or docking spaces are available;</li>
<li>Improved mapping using Google maps, including Street View to help when visiting unfamiliar areas and Visitor Mapping that displays tourist attractions and other points of interest;</li>
<li>Live Status and Departures, providing real-time information about arrivals, departures and service status for London Underground, DLR and Overground stations, bus and&nbsp; tram stops, river piers and Emirates Air Line;</li>
<li>Road Status Boards, showing the impact of traffic incidents, how the traffic is flowing on main roads and how&nbsp; they will be affected by future planned events;</li>
<li>A more intuitive Journey Planner with a 'use my location' feature, which saves recent searches and provides walking and cycling options; </li>
<li>An improved 'Transparency' section, providing more extensive information about how TfL operates, including the contracts it enters into;</li>
<li>Improved search tools, allowing easy filtering between travel information, news, documents and reports.</li></ul>
<p>Phil Young, TfL's Head of Online, said: </p>
<p>'Our new website puts customers in control, with more live travel information and options making it easier than ever to plan and make journeys in London.</p>
<p>'We have listened carefully to what our customers told us they want from our website and we have used that feedback to shape the information services we offer.&nbsp; In particular, we have designed the site so that it can be used more easily on mobile, tablet or laptop, as more customers and users check and plan journeys while on the move.</p>
<p>"We will continue to develop the site based on customer feedback so that it continues to be an essential travel companion in making the most of all London has to offer."</p>
<p>Since launching in beta mode in July 2013, more than two million customers have visited the site, testing out the new features and providing feedback.&nbsp; Around 6,000 feedback forms were received and used to ensure the new site meets customers' needs.</p>
<p>TfL's last major website update was in 2007 and the team took lessons from how customer information was provided during the London 2012 Games to improve the design and functionality for the new site.</p>
<p>&nbsp;</p>
            <p>Notes to Editors:</p>
<ul>
<li>Images of the new TfL website are available here <a href="http://www.flickr.com/photos/tflpress/sets/72157642995883413/">http://www.flickr.com/photos/tflpress/sets/72157642995883413/</a> </li>
<li>The TfL website is visited over 250 million times a year and service over 1.2bn pages annually.&nbsp; It has eight million monthly users.</li>
<li>The availability of WiFi at 131 London Underground stations means that customers are also able to access the TfL website while travelling on the transport network.</li>
<li>The new TfL website, while in beta mode, won the UXUK 'Best User Experience of 2013' and 'Best Information' awards last year. <a href="http://uxukawards.com/">http://uxukawards.com/</a> </li>
<li>TfL is also a leader in open data, offering a range of live travel information feeds to developers without charge.&nbsp; Over 5,000 developers take TfL's data producing around 200 apps, used by millions of customers.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-New TfL website puts customers in control, making it easier than ever to plan journeys on the move -->

 
 
        
        
            @{ViewBag.Description = "The new site is optimised for use on mobile, tablet, laptop or desktop and puts customers in control by providing more personalised, live travel information, including a new 'Nearby' function which shows all local travel options and real-time service";}
        
        


 