


@{ViewBag.Title = "South East Londoners asked for their views on changes to B16 bus route in Kidbrooke Village";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">South East Londoners asked for their views on changes to B16 bus route in Kidbrooke Village</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>South East Londoners asked for their views on changes to B16 bus route in Kidbrooke Village</h1>
        <div class="content-page-press-release">
        12 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today started a public consultation on proposed changes to the B16 bus route, which would improve local access to the bus network by returning services to the Tudway Road area of Kidbrooke. </p>
<p>The B16 bus had previously been withdrawn from this area due to closure of roads as part of the development of Kidbrooke Village. </p>
<p>Discussions between TfL and local residents have helped to shape the new proposals which would see the B16 diverted to run to Tudway Road after it has served Moorhead Way.&nbsp; </p>
<p>The new terminus would be near the junction of Tudway Road and Elford Close, a short walk from the southern entrance to Kidbrooke Station.&nbsp; </p>
<p>Towards Bexleyheath the B16 would go via Elford Close, Ryan Close and back to Tudway Road and Kidbrooke Park Road, then serving Moorhead Way and on to Eltham and Bexleyheath.&nbsp; </p>
<p>Implementation of these proposals would require highway infrastructure changes within the Kidbrooke Village development and on Tudway Road and would mean the route would no longer serve Henley Cross.&nbsp; </p>
<p>New bus stops will be installed on Tudway Road with the exact locations of these currently being agreed with the Royal Borough of Greenwich.</p>
<p>A drop in session, giving local residents the opportunity to discuss these proposals, will be held on 26 March 2014, between 16:00 and 20:00, at Kidbrooke Village Information Centre, 2 Elford Close, off Tudway Road, London, SE3 9FA.</p>
<p>TfL would like to know the views of bus users, local residents and anyone else with an interest.&nbsp; </p>
<p>You can respond to the consultation online at: <a href="https://consultations.tfl.gov.uk/buses/route-b16">https://consultations.tfl.gov.uk/buses/route-b16</a> or by email at <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a> </p>
<p>Peter Bradley, TfL's Head of Consultation Delivery, said: `We have listened to local residents and worked hard, with both the Royal Borough of Greenwich and Berkeley Homes, to develop a proposal for providing a bus service to Tudway Road once more.&nbsp; </p>
<p>`We would like to hear the views of users and the local community before making a decision about whether to go ahead, when the necessary road changes are in place.'</p>
<p>This proposed service change is part of TfL's management and development of a network that comprises around 700 routes across Greater London operated by 7,600 buses at peak times, carrying more than 2.3 billion passengers every year. </p>
<p>TfL keeps the network under regular review, working with the London Boroughs and other partners to help ensure that services can respond to London's changing travel needs. </p>
<p>Demand and reliability is monitored very closely and regular changes are made to schedules and routes as a result. </p>
<p>Bus service levels in London have increased by over 40 per cent since the formation of TfL in 2000 and reliability and customer satisfaction are at the highest levels since records began. </p>
<p>The consultation will close on Friday 11 April 2014.<br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-South East Londoners asked for their views on changes to B16 bus route in Kidbrooke Village -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today started a public consultation on proposed changes to the B16 bus route, which would improve local access to the bus network by returning services to the Tudway Road area of Kidbrooke. The B16 bus had previously been";}
        
        


 