


@{ViewBag.Title = "TfL to launch world-leading trials of intelligent pedestrian technology to make crossing the road easier and safer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to launch world-leading trials of intelligent pedestrian technology to make crossing the road easier and safer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to launch world-leading trials of intelligent pedestrian technology to make crossing the road easier and safer</h1>
        <div class="content-page-press-release">
        07 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trials of innovative "intelligent" pedestrian crossings to begin from summer 2014.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are fully committed to improving road safety for all road users across London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are fully committed to improving road safety for all road users across London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, and Transport for London (TfL) have outlined plans for trialling new pedestrian crossing sensors to help make it easier and safer for people to cross the road throughout the capital.</p>
<p>The news comes alongside the completion of the first phase of the Pedestrian Countdown programme and the publication of 'Safe London Streets - Our Six Road Safety Commitments', a new document which makes clear how TfL, the boroughs and its partners will meet London's target of reducing the number of people killed and seriously injured on London's streets by 40 per cent by 2020.</p>
<h2>Pedestrian SCOOT</h2>
<p>The introduction of Pedestrian Split Cycle Offset Optimisation Technique, or 'pedestrian SCOOT', is the first of its kind in the world and uses state-of-the-art video camera technology to automatically detect how many pedestrians are waiting at crossings.</p>
<p>It enables the adjustment of traffic signal timings automatically to extend the green pedestrian invitation to cross phase when large numbers of people are waiting, allowing more people to cross the road.</p>
<p>In addition, TfL is developing a 'call cancel' technology, which can detect when a pedestrian who has pushed the crossing button has either crossed before the signal goes green or walks away, and therefore cancels the pedestrian crossing phase.</p>
<p>This latest initiative follows on from TfL's successful development of Pedestrian Countdown technology, which tells pedestrians how long they still have left to cross the road once the green pedestrian phase has gone out.</p>
<p>Around 550 pedestrian crossings at 200 locations across 30 London boroughs have now been equipped with Pedestrian Countdown, with TfL committed to install the technology out more widely across the capital in the coming years.</p>
<p>The forthcoming trials are also an early example of how TfL will use innovation to change the management of London's road network to better reflect the character of the local area, which was one of the key recommendations in the Mayor's Roads Task Force which was published in July 2013.</p>
<p>Subject to the outcome of the trials, TfL is hopeful that it can further develop the technology to use at other high footfall areas such as outside sporting venues or along busy high streets.</p>
<h2>Benefit pedestrians across the city</h2>
<p>Mayor of London, Boris Johnson, said: 'I am delighted that London is the first city in the world to be trialling this cutting-edge equipment, which will benefit pedestrians across the city.</p>
<p>'This really is a fantastic example of how London is leading the way by using 21st century technology to help make it easier for people to get around our great city.</p>
<p>'Innovation like this is key to keeping London moving efficiently and making our roads safer for everyone to use.'</p>
<p>Leon Daniels, Managing Director of Surface Transport, said: 'We are fully committed to improving road safety for all road users across London, especially pedestrians.</p>
<p>'These new trials of pedestrian detection technology will allow our traffic signals to become even more intelligent, bringing huge benefits to those waiting to cross the road where there is heavy pedestrian demand.'</p>
<p>Councillor Val Clark, Chairman, London Road Safety Council said: </p>
<p>'The London Road Safety Council is proud of the great work that has been done in London to reduce road casualties on our roads, but we are not complacent and recognise that more needs to be done.</p>
<p>'We welcome these innovative trials and fully support the six road safety commitments being made by Transport for London.</p>
<p>'We feel that they provide a vital focus on key areas of concern and provide a framework for strong partnerships to enable further collision and casualty savings to be made in the Capital.'</p>
<p>The first trials of pedestrian SCOOT will take place on crossings outside Balham and Tooting Bec Underground stations this summer to allow TfL to fully test the pedestrian sensors and how they interact with the existing vehicle SCOOT system. </p>
<p>The 'Safe London Streets' document underpins the 56 actions outlined in the Safe Streets for London plan and highlights the Mayor's sustained commitment to continue to work with its partners to make London's roads safe.</p>
<p>Next week, TfL is launching its latest wide-ranging campaigns to reduce casualties among all road users.</p>
<p>For more information on TfL's work to improve road safety, please visit <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a>&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<ul>
<li>'Safe London Streets - Our Six Road Safety Commitments'- can be downloaded here:&nbsp;<a href="http://beta.tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london?intcmp=6624">Safe Streets for London</a>&nbsp; </li>
<li>The six key commitments as stated are:&nbsp; 
<ol type="1">
</ol></li><li>To lead the way in achieving a 40 per cent&nbsp;reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury </li>
<li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent&nbsp;of serious and fatal collisions </li>
<li>To provide substantial funding for road safety, invested in the most effective and innovative schemes </li>
<li>To increase efforts with the police, boroughs and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk </li>
<li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer </li>
<li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information</li>
<li>The Pedestrian SCOOT trials form part of TfL's ongoing investment into the road network. The Mayor and TfL are doubling its investment in the road network from &pound;2 billion to &pound;4 billion across the next&nbsp;10 years, and the Mayor has protected Local Implementation Plan funding for boroughs so that there is substantial investment for this work </li>
<li>Work on delivering substantial upgrades to improve 33 of the most notoriously difficult junctions in London is now underway, with the public consultation on substantial improvements to the Elephant &amp; Castle Northern roundabout beginning in the next few weeks </li>
<li>Early indications suggest that the casualty figures for 2013 will show a further reduction in the number of people killed and seriously injured as seen during the last decade </li>
<li>Earlier this year, TfL announced that it is working with London Councils to deliver the proposed to ban unsafe lorries from the capitals roads. The proposed ban will require every vehicle in London over 3.5 tonnes - a disproportionate cause of cyclist and pedestrian deaths - to be fitted with sideguards to protect cyclists from being dragged under the wheels </li>
<li>It will also require them to be fitted with mirrors giving the driver a better view of cyclists and pedestrians around their vehicles. Subject to a formal consultation and legal procedures, the process could be completed by the end of the year at the latest</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-TfL to launch world-leading trials of intelligent pedestrian technology to make crossing the road easier and safer -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, and Transport for London (TfL) have outlined plans for trialling new pedestrian crossing sensors to help make it easier and safer for people to cross the road throughout the capital.The news comes alongside the";}
        
        


 