


@{ViewBag.Title = "TfL and Clear Channel team up to trial interactive London bus stop";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Clear Channel team up to trial interactive London bus stop</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Clear Channel team up to trial interactive London bus stop</h1>
        <div class="content-page-press-release">
        26 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has partnered with media and advertising company Clear Channel UK to trial a real-time mapping tool at a Regent Street bus stop.&nbsp; </p>
<p>The new mapping tool - the first of its kind to operate in a UK bus shelter - was developed and funded by Clear Channel to coincide with the Year of the Bus - a celebration of both the heritage of London buses and a look ahead to their future.</p>
<p>Positioned on one of London's busiest shopping streets at Piccadilly Circus's bus stop 'G', the state-of-the-art digital screen incorporates TfL's data feed of live departure information to allow passengers to track their bus in real time. </p>
<p>Alongside live bus arrival information, the interactive panel offers wider transport network updates from the London Underground and real-time availability of nearby Barclays Cycle Hire bikes and docking points.&nbsp; </p>
<p>The panel also offers local area information including maps and walking routes to tourist attractions, theatres and shops. </p>
<p>Over the next two months, customer interaction with the panel will be monitored, by Clear Channel UK, and analysed to enhance the service. <br>&nbsp;<br>With seventy per cent of Londoners now owning a Smartphone and eighty seven per cent using the internet for maps and directions, there is an increased demand from customers to be able to access the information they need to travel around the capital through digital and social media.&nbsp; <br>&nbsp;<br>Leon Daniels, Managing Director of Surface Transport at TfL, said: `We're delighted to team up with Clear Channel to make live travel information even more accessible to our customers. </p>
<p>`Regent Street is an iconic location, used not only by Londoners but tourists from across the world and by giving them live travel information via touchscreen, they will be able to make the most of all transport options to get around the capital, be it on foot, bike, Tube or by an iconic London bus.</p>
<p>`As we celebrate the year of the bus, this is another reminder of how technology has transformed how we communicate with our customers and how they want to receive information from us. </p>
<p>`Our customers now rightly regard real time travel information as part of the core service we provide and this is an innovative way we can explore getting information they need to them.&nbsp; </p>
<p>`If the trial is as successful as we hope, then we will work with Clear Channel to introduce the mapping tool to other key sites across London.'</p>
<p>Dave Huckerby, Adshel Development Director at Clear Channel UK, said: `Many people will know Clear Channel as a media company. </p>
<p>`We also spend a lot of time working with transit and local authorities to improve bus travel for commuters. </p>
<p>`Recently this has meant allowing people to use their smartphones to interact with bus stops and developing shelters that are more sustainable. Now we've been able to bring real-time mapping to the streets of London.</p>
<p>`This is a highly technical bus shelter and a real glimpse into the future of urban transportation. </p>
<p>`We're grateful to TfL for working closely with us. </p>
<p>`Their knowledge and expertise has allowed us to deliver something of real value to Londoners. </p>
<p>`The next stage of this trial is to monitor and refine the system as people interact with it.'</p>
<p>TfL is among the world leaders in the provision of free, open data which is currently being used by over 5,000 app developers who are more adept at bringing useful products to the market quickly.&nbsp; </p>
<p>TfL's feeds power hundreds of products, extending the reach of its information and saving its customers tens of millions of pounds every year in time saved. <br>
<hr>
</p>
<ul>
<li>Images of the bus shelter are available at - <a href="https://www.flickr.com/photos/tflpress/sets/72157642949794474/">https://www.flickr.com/photos/tflpress/sets/72157642949794474/</a> </li>
<li>The mapping tool screen is accessible for wheelchair users and is also usable for most people with visual or hearing impairments</li>
<li>The mapping tool was developed and funded by Clear Channel</li>
<li>About Clear Channel UK<br>Clear Channel UK enables brands to meet and engage with people when they're out and about. Our expertise, gained over 40 years, means we understand how to showcase powerful and effective campaigns through our investment in the highest quality sites, new technologies and the latest planning tools. Our partnerships with advertisers, agencies, local authorities, major multiples, shopping malls and major landlords have created a national network of 60,000 sites that reaches people in the public social space, drives footfall and generates word of mouth</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-TfL and Clear Channel team up to trial interactive London bus stop -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has partnered with media and advertising company Clear Channel UK to trial a real-time mapping tool at a Regent Street bus stop.&nbsp; The new mapping tool - the first of its kind to operate in a UK bus shelter - was developed";}
        
        


 