


@{ViewBag.Title = "TfL tells suppliers: we're open for business";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL tells suppliers: we're open for business</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL tells suppliers: we're open for business</h1>
        <div class="content-page-press-release">
        12 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A conference aimed at bringing more supplier knowledge to the challenges of Transport for London's (TfL's) huge investment programme has seen more than 150 businesses come together to share innovative ideas.<br>&nbsp;<br>TfL's first Technology Innovation Conference brought together 200 delegates from current suppliers, a multitude of other small and medium enterprises (SMEs) and academia to start to develop new technology and approaches to the job of modernising the capital's transport network and improving the journeys of the millions of people who use it each day.<br>&nbsp;<br>The conference was opened by London Underground's Capital Programmes Director David Waboso CBE, who is tasked with delivering the signalling, train and station upgrades which will provide an extra 30 per cent capacity over the next five years while the railway continues to serve four million customers each day. </p>
<p>Keynote presentations were also given by Tube MD Mike Brown MVO, TfL's Director of Asset Management, Dana Skelley, and Sarah Atkins, Commercial Director for LU and TfL London Rail. </p>

<p>In a continued effort to work more closely with government to drive UK innovation, the Technology Strategy Board and Transport Knowledge Transfer Network were also on hand to lead a session on how SMEs can make their products 'TfL-ready'.<br>&nbsp;<br>Delegates were briefed on TfL's ten-year Business Plan for its &pound;20bn investment programme to improve reliability, maximise capacity from the existing network and growing the network to meet future demand, including the challenge of 24-hour weekend night operation on the Tube, scheduled for late 2015. <br>&nbsp;<br>David Waboso CBE, LU's Capital Programmes Director, said: `This was a fantastic opportunity to engage with potential partners directly and make clear that we're open for business. </p>
<p>`We're open to and actively looking to engage with suppliers, and we hope that our innovation challenges mean business opportunities for the industry and a world-class transport network for our customers.'<br>&nbsp;<br>TfL also formally launched its online Innovation Portal, enabling staff, suppliers, industry and academia to share and capture innovative solutions to TfL's biggest delivery challenges. </p>
<p>The portal, which can be accessed at <a href="http://www.tfl.gov.uk/innovation">www.tfl.gov.uk/innovation</a> is geared towards bringing in new thinking from within and beyond the transport industry. </p>
<p>It invites contributors to outline innovative approaches to a range of issues, including:</p>
<ul>
<li>Customers: delivering faster, more frequent and reliable services to customers while improving information provided via frontline staff </li>
<li>Value and Sustainability: using technology to improve efficiency while reducing noise and environmental impact </li>
<li>Delivery: finding new technologies and ways to achieve reliable and safe first-class delivery, with minimal closures and costs </li>
<li>Reliability and Dependability: targeting the use of smart data and technology to help achieve our target of a further 30 per cent improvement in reliability over the next three years </li>
<li>Safety: finding innovative solutions to improve customer safety and security </li>
<li>People: making sure our workforce achieve the highest standards by developing the tools and processes that will encourage even greater performance <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-TfL tells suppliers: we're open for business -->

 
 
        
        
            @{ViewBag.Description = "A conference aimed at bringing more supplier knowledge to the challenges of Transport for London's (TfL's) huge investment programme has seen more than 150 businesses come together to share innovative ideas.&nbsp;TfL's first Technology Innovation";}
        
        


 