


@{ViewBag.Title = "Travel mentoring service for disabled Londoners launches in Croydon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel mentoring service for disabled Londoners launches in Croydon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel mentoring service for disabled Londoners launches in Croydon</h1>
        <div class="content-page-press-release">
        20 March 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A travel mentoring service launched in Croydon today (Thursday 20 March 2014) aimed at helping disabled Londoners make the most of the capital by using the London bus network - one of the most accessible anywhere in the world.</p>
<p>The 'Bus Days', which provide disabled Londoners with the opportunity to experience independent travel on a London bus in a safe and controlled environment, are a collaboration between Transport for London (TfL), the Metropolitan Police Safer Transport Team, bus operator Arriva, Croydon Care Solutions and Croydon Council.&nbsp; </p>
<p>The new scheme in Croydon is one of nine similar projects already in place across the capital and is part of a huge programme of work by TfL to make the transport network accessible to everyone.</p>
<p>The session today, which was open to disabled individuals, disability groups and school groups of disabled students, saw a London bus follow a pre-planned route around Croydon town centre.&nbsp; </p>
<p>Passengers were able to get on and off the bus along the way and were accompanied by TfL travel mentors and Metropolitan Police Safer Transport Teams.</p>
<p>The travel mentors show participants how to use all the information at a bus stop - the routes, the bus numbers and local maps.&nbsp; </p>
<p>Passengers are also shown how to board the bus and stay safe while on it, and are given advice on crossing the road safely when off the bus.&nbsp; </p>

<p>Wheelchair users are guided through using the ramp to get on the bus and their safety while travelling.</p>
<p>Police officers also act out real life scenarios during the session that passengers may encounter on their bus journey - this may include dealing with instances of anti-social behaviour or ticket inspections.&nbsp; </p>
<p>In addition, Croydon's Road Safety Team undertake pedestrian safety on the street and advise participants how to handle situations.&nbsp; </p>
<p>Mike Weston, TfL's Director of Buses, said: `We are delighted to be part of the team that is bringing 'Bus Days' to Croydon for the first time.&nbsp; </p>
<p>`They provide a great opportunity for disabled Londoners to experience travelling on a bus in a supportive environment.&nbsp; </p>
<p>`We hope those who take part in this innovative scheme will find it a useful experience that will enable them to travel independently on the bus network in future.'</p>
<p>Councillor Margaret Mead, Cabinet Member for Adult Services and Health at Croydon Council, said: `This is an important initiative helping our vulnerable young people and adults to keep safe while they enjoy independence in making their way around the borough. </p>
<p>`It's a marvellous opportunity for people with disabilities to practise their travel training skills and I'm delighted that so many partner organisations have come together to make this possible.'</p>
<p>Noel Mulvihill, Director of Operations at Croydon Care Solutions, said: `Being at the forefront of travel training in London, we are delighted to be part of this initiative. </p>
<p>`Enabling progression and independence is our core purpose and learning to travel safely is a key aspect of this.&nbsp; </p>
<p>`It has been a great experience to work with partners at the council, Arriva, TfL and the Metropolitan Police to develop this opportunity for Croydon residents.'</p>
<p>
<hr>

<p>
<ul>
<li>Two 'Bus Days' sessions will be held in Croydon on the third Thursday of every month </li>
<li>To book a place on the Croydon 'Bus Day' or to find out more please contact Monica Clarke, Senior Travel Trainer, on 020 8255 5473 / <a href="mailto:monica.clarke&#64;croydon.gov.uk">monica.clarke&#64;croydon.gov.uk</a> </li>
<li>'Bus Days' are also held in Enfield, Hackney, Kingston, Merton, Southwark, Wandsworth, Westminster &amp; Camden, and Sutton </li>
<li>London has one of the most accessible transport networks anywhere in the world.&nbsp; All 8,700 London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working, and more than 90 per cent of London residents live within 400 metres of a bus stop. The vast majority of these can be used by all bus passengers, including wheelchair users </li>
<li>TfL's Travel Mentoring Service can offer advice to disabled individuals on planning a journey using an accessible route and can provide a mentor to accompany people on their first few journeys to help them gain confidence and become an independent traveller. Mentoring is free of charge and can be provided Monday-Friday from 08:00-18:00. The Travel Mentoring Service can be contacted on 020 3054 4361. For more information on travel mentoring, visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>Croydon Care Solutions is the main learning disability provider arm for Croydon Council<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-March-Travel mentoring service for disabled Londoners launches in Croydon -->

 
 
        
        
            @{ViewBag.Description = "A travel mentoring service launched in Croydon today (Thursday 20 March 2014) aimed at helping disabled Londoners make the most of the capital by using the London bus network - one of the most accessible anywhere in the world.The 'Bus Days', which provide";}
        
        


 