
    
  



@{ViewBag.Title = "Annual report on Sustainable Investing published";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/annual-report-on-sustainable-investment-published";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual report on Sustainable Investing published</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual report on Sustainable Investing published</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <p>The Trustees of TfL Pension Fund have&nbsp;published their Annual Report on Sustainable Investing for 2019. This report provides a summary of our activities to date and how this forms part of a long term strategy.</p>

<p>The Trustees take a holistic view in aligning their Sustainable Investing Beliefs towards the Fund's investment activities. There is a clear recognition that each of the three factors: Environmental, Social and Governance (ESG) play an important role in driving the long-term value of the Fund's investment portfolio.</p>

<p>The Trustees&nbsp;believe that as a long-term provider of responsible capital, the Fund should be an agent of positive change, engaging with the companies to help them adopt and transition to best business practices and sustainable business models.</p>

<p>We hope you will gain a greater understanding of the Trustees' approach from this report and learn more about some of the Fund's investment activities.</p>

<p>&nbsp;</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-report-on-sustainable-investing.pdf">
    <div class="document-download-text">
        <p>TfL Pension Fund Report on Sustainable Investing 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.39 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Trustees of TfL Pension Fund publish first Annual Report on Sustainable Investing";}
        
            
        


 