
    
  



@{ViewBag.Title = "April 2018 pension increase";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/april-2018-pension-increase";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">April 2018 pension increase</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>April 2018 pension increase</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Pensions from the TfL Pension Fund increase in April 2018.
        
      </div>
    
    <div class="on-this-page">
      <p>This is based on the rise in the Retail Price Index over the 12 months to September 2017 which was 3.9%.</p>
<p>Depending on the period of membership of the TfL Pension Fund, your pension may comprise of various components, some of which are not increased by the Fund at the above rate, but may be increased by the State.</p>
<p>If you have been receiving your pension for less than a year you may receive a pro rata increase, as shown in the table.</p>
      
           
      

<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1"><strong>Effective date </strong></th>
            <th>Increase (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="1" colspan="1">Up to 1 April 2017</td>
            <td rowspan="1" colspan="1">3.900</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1">2 April 2017 to 1 May 2017</td>
            <td rowspan="1" colspan="1">3.575</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1">2 May 2017 to 1 June 2017</td>
            <td rowspan="1" colspan="1">3.250</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1">2 June 2017 to 1 July 2017</td>
            <td rowspan="1" colspan="1">2.925</td>
        </tr>
        <tr>
            <td>2 July 2017 to 1 August 2017</td>
            <td>2.600</td>
        </tr>
        <tr>
            <td>2 August 2017 to 1 September 2017</td>
            <td>2.275</td>
        </tr>
        <tr>
            <td>2 September 2017 to 1 October 2017</td>
            <td>1.950</td>
        </tr>
        <tr>
            <td>2 October 2017 to 1 November 2017</td>
            <td>1.625</td>
        </tr>
        <tr>
            <td>2 November 2017 to 1 December 2017</td>
            <td>1.300</td>
        </tr>
        <tr>
            <td>2 December 2017 to 1 January 2018</td>
            <td>0.975</td>
        </tr>
        <tr>
            <td>2 January 2018 to 1 February 2018</td>
            <td>0.650</td>
        </tr>
        <tr>
            <td>2 February 2018 to 1 March 2018</td>
            <td>0.325</td>
        </tr>
        <tr>
            <td>2 March 2018 to 1 April 2018</td>
            <td>0.000</td>
        </tr>
    </tbody>
</table></div>
<p> </p>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2017-benefit-statements">2017 benefit statements</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2018-pension-increase">April 2018 pension increase</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-web-portal-maintenance">Pension web portal maintenance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2018">Annual Members' Meeting 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2019-pension-increase">April 2019 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2018-19">Maximising Additional Voluntary Contributions for 2018/19</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2017">PCC election results 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2018">PCC election results 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published">Annual report on Sustainable Investing published</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2019">Annual Members' Meeting 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-fund-office-move">Pension fund office move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2019">PCC election results 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20">Maximising Additional Voluntary Contributions for 2019/20</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on the TfL Pension Fund increase from April 2018.";}
        
            
        


 