
    
  



@{ViewBag.Title = "April 2019 pension increase";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/april-2019-pension-increase";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">April 2019 pension increase</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>April 2019 pension increase</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Pensions from the TfL Pension Fund increase in April 2019
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>This is based on the rise in the Retail Price Index over the 12 months to September 2018 which was 3.3 per cent.</p>

<p>Depending on the period of membership of the TfL Pension Fund, your pension may comprise of various components, some of which are not increased by the fund at the above rate, but may be increased by the state.</p>

<p>If you have been receiving your pension for less than a year you may receive a pro rata increase, as shown in the following table.</p>
</div>
 

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:592px">
	<tbody>
		<tr>
			<td style="width:404px">
			<h4>Effective date</h4>
			</td>
			<td style="width:179px">
			<h4>Increase (%)</h4>
			</td>
		</tr>
		<tr>
			<td style="width:404px">Up to 1 April 2018</td>
			<td style="width:179px">3.30</td>
		</tr>
		<tr>
			<td style="width:404px">2 April 2018 to 1 May 2018</td>
			<td style="width:179px">3.025</td>
		</tr>
		<tr>
			<td style="width:404px">2 May 2018 to 1 June 2018</td>
			<td style="width:179px">2.750</td>
		</tr>
		<tr>
			<td style="width:404px">2 June 2018 to 1 July 2018</td>
			<td style="width:179px">2.475</td>
		</tr>
		<tr>
			<td style="width:404px">2 July 2018 to 1 August 2018</td>
			<td style="width:179px">2.20</td>
		</tr>
		<tr>
			<td style="width:404px">2 August 2018 to 1 September 2018</td>
			<td style="width:179px">1.925</td>
		</tr>
		<tr>
			<td style="width:404px">2 September 2018 to 1 October 2018</td>
			<td style="width:179px">1.650</td>
		</tr>
		<tr>
			<td style="width:404px">2 October 2018 to 1 November 2018</td>
			<td style="width:179px">1.375</td>
		</tr>
		<tr>
			<td style="width:404px">2 November 2018 to 1 December 2018</td>
			<td style="width:179px">1.100</td>
		</tr>
		<tr>
			<td style="width:404px">2 December 2018 to 1 January 2019</td>
			<td style="width:179px">0.825</td>
		</tr>
		<tr>
			<td style="width:404px">2 January 2019 to 1 February 2019</td>
			<td style="width:179px">0.550</td>
		</tr>
		<tr>
			<td style="width:404px">2 February 2019 to 1 March 2019</td>
			<td style="width:179px">0.275</td>
		</tr>
		<tr>
			<td style="width:404px">2 March 2019 to 1 April 2019</td>
			<td style="width:179px">0</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "April 2019 pension increase";}
        
            
        


 