
    
  



@{ViewBag.Title = "April 2016 pension increase";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/april-2016-pension-increase";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">April 2016 pension increase</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>April 2016 pension increase</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main" role="main">
    
      <div class="article-teaser">
        Pensions from the TfL Pension Fund will increase in April.
        
      </div>
    
    <div class="on-this-page">
      <p>The full pension increase from 1 April 2016 is 0.8%.
</p>
<p>This is based on the rise in the Retail Price Index over the 12 months to September 2015.</p>
<p>Depending on the period of membership of the TfL Pension Fund, your pension may comprise of various components, some of which are not increased by the Fund at the above rate, but may be increased by the State.</p>
<p>If you have been receiving your pension for less than a year you may receive a pro rata increase. See below for details:</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th align="left" id="table_heading_0" rowspan="1" colspan="1"><strong>Effective date <br />
            </strong>
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Increase (%) <br />
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">Up to 1 April 2015<br />
            </td>
            <td headers="table_heading_1">0.80<br />
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 April 2015 to 1 May 2015<br />
            </td>
            <td headers="table_heading_1">0.73</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 May 2015 to 1 June 2015<br />
            </td>
            <td headers="table_heading_1">0.67</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 June 2015 to 1 July 2015<br />
            </td>
            <td headers="table_heading_1">0.60</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 July 2015 to 1 August 2015<br />
            </td>
            <td headers="table_heading_1">0.53</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 August 2015 to 1 September 2015<br />
            </td>
            <td headers="table_heading_1">0.47</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 September 2015 to 1 October 2015<br />
            </td>
            <td headers="table_heading_1">0.40</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 October 2015 to 1 November 2015<br />
            </td>
            <td headers="table_heading_1">0.33</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 November 2015 to 1 December 2015<br />
            </td>
            <td headers="table_heading_1">0.27</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 December 2015 to 1 January 2016<br />
            </td>
            <td headers="table_heading_1">0.20</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 January 2016 to 1 February 2016<br />
            </td>
            <td headers="table_heading_1">0.13</td>
        </tr>
        <tr>
            <td headers="table_heading_0">2 February 2016 to 1 March 2016<br />
            </td>
            <td headers="table_heading_1">0.07</td>
        </tr>
    </tbody>
</table></div>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2016-pension-increase">April 2016 pension increase</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2017-pension-increase">April 2017 pension increase</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Pensions from the TfL Pension Fund will increase from 1 April 2016.";}
        
            
        


 