
    
  



@{ViewBag.Title = "April 2015 pension increase";}
@{ViewBag.Description = "News about the TfL Pension Fund April 2015 pension increase.";}

@{ViewBag.Url = "/pensions/news-and-publications/april-2015-pension-increase";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">April 2015 pension increase</span></li>
            
        
 
        
 
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>April 2015 pension increase</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main">
    
    <div class="on-this-page">
      <p>Pensions from the TfL Pension Fund will increase in April.</p>
<p>The full pension increase from 1 April 2015 is 2.3%.</p>
<p>This is based on the rise in the Retail Price Index over the 12 months to September 2014.</p>
<p>Depending on the period of membership of the TfL Pension Fund, your pension may comprise of various components, some of which are not increased by the Fund at the above rate, but may be increased by the State.</p>
<p>If you have been receiving your pension for less than a year you may receive a pro rata increase. See below for details:</p>
      
           
      

<div class="table-container">
<p>&nbsp;</p>
<table style="width: 456px; height: 203px;">
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0">&nbsp;<strong>Effective date </strong><br />
            </th>
            <th colspan="1" rowspan="1" id="table_heading_1">&nbsp;<strong>Increase (%)</strong><br />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&nbsp;Up to 1 April 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;2.3</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 April 2014 to 1 May 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;2.11</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 May 2014 to 1 June 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.92</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 June 2014 to 1 July 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.73</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 July 2014 to 1 August 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.53</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 August 2014 to 1 September 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.34</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 September 2014 to 1 October 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.15</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 October 2014 to 1 November 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.96</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 November 2014 to 1 December 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.77</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 December 2014 to 1 January 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.58</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 January 2015 to 2 February 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.38</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 February 2015 to 1 March 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.19</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2>TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2015-summer-budget">2015 Summer budget</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/look-out-for-your-2015-benefit-statement">Look out for your 2015 benefit statement </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-avc-guide">New AVC guide</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/nominations-for-tfl-pension-consultative-council-in-2015">Nominations for TfL Pension Consultative Council in 2015</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2015-pension-increase">April 2015 pension increase</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2016-pension-increase">April 2016 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2015">PCC election results 2015</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 