
    
  



@{ViewBag.Title = "Look out for your 2015 benefit statement ";}
@{ViewBag.Description = "Look out for your 2015 TfL Pension Fund benefit statement.";}

@{ViewBag.Url = "/pensions/news-and-publications/look-out-for-your-2015-benefit-statement";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Look out for your 2015 benefit statement </span></li>
            
        
 
        
 
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Look out for your 2015 benefit statement </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main">
    
      <div class="article-teaser">
        Benefit statements from the TfL Pension Fund are being sent to members of staff who had at least one year's pensionable service in the Fund at 31 March 2015. These statements are sent to your home address at the end of June.
      </div>
    
    <div class="on-this-page">
      <p>In addition to showing the benefits earned to 31 March 2015, the statement includes:<br />
An estimate of benefits projected to ages 60 and 65, based on your current pensionable salary<br />
The lump sum payable on death in service and, if you have at least two years' pensionable service, the benefits that might be paid to your eligible dependant and children<br />
A statement of your State Pension, where available<br />
Details of whether we hold an Expression of Wish form for you</p>
<p>Important &#45; If we do not hold an Expression of Wish form for you or the one we do hold is out of date, please complete the form enclosed with your benefit statement and return it to us.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2>TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2015-summer-budget">2015 Summer budget</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/look-out-for-your-2015-benefit-statement">Look out for your 2015 benefit statement </a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-avc-guide">New AVC guide</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/nominations-for-tfl-pension-consultative-council-in-2015">Nominations for TfL Pension Consultative Council in 2015</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2015-pension-increase">April 2015 pension increase</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2016-pension-increase">April 2016 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2015">PCC election results 2015</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 