
    
  



@{ViewBag.Title = "Maximising Additional Voluntary Contributions for 2019/20";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Maximising Additional Voluntary Contributions for 2019/20</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Maximising Additional Voluntary Contributions for 2019/20</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        With the tax year end fast approaching many members look to maximise their AVCs under the TfL Pension Fund.
        
      </div>
    
    <div class="on-this-page">
      <p>The maximum you can pay in AVCs to the Fund is 15 per cent of gross earnings less your standard Pension Fund contributions.</p>

<p>If you are considering maximising your AVCs before the tax year end you need to make sure you allow enough time for your request to be processed; the pensions team will need to check that the amount you are planning to pay does not take your total contributions above the maximum limit; and the payroll team will then need to update the payroll system to amend your AVC deduction.</p>

<p>In addition you need to consider the impact to your overall pension benefits as well as the impact on your pension input and Annual Allowance for the tax year.</p>

<p>For more information please refer to your annual benefit statement and the <a href="/pensions/your-pension/your-contributions/additional-voluntary-contributions">guide to additional voluntary contributions</a>.</p>

<p>The final dates by which we must have received any requests to meet the payroll cut off dates are as follows.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>Payroll Group</strong></td>
			<td><strong>Cut-off date</strong></td>
		</tr>
		<tr>
			<td>Payroll group 10</td>
			<td>Wednesday 11 March 2020</td>
		</tr>
		<tr>
			<td>Payroll group 11</td>
			<td>Wednesday 11 March 2020</td>
		</tr>
		<tr>
			<td>Payroll group 15</td>
			<td>Wednesday 11 March 2020</td>
		</tr>
		<tr>
			<td>Payroll group 20</td>
			<td>Wednesday&nbsp;26 February 2020</td>
		</tr>
		<tr>
			<td>Payroll group 25</td>
			<td>Wednesday&nbsp;26 February 2020</td>
		</tr>
		<tr>
			<td>Payroll group 42</td>
			<td>Tuesday 10 March 2020</td>
		</tr>
		<tr>
			<td>Payroll group 61</td>
			<td>Friday 27 March 2020</td>
		</tr>
	</tbody>
</table></div>

<p>If you are not sure which payroll group you are paid under, please check your latest payslip.</p>

<p>For&nbsp;further information, contact the Fund Office on 020 7126 4000 (auto 64000).</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "News item on TfL pension AVCs (Additional Voluntary Contributions)";}
        
            
        


 