
    
  



@{ViewBag.Title = "Member self-service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/member-self-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Member self-service</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Member self-service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Pension Fund's new member web service is now available.<BR>
        
      </div>
    
    
      
      
           
      <div>

<h2>How to register</h2>
<p>Please follow the link below and complete the registration process to get your new log in details: <a href="https://www.pensions.tfl.gov.uk/">https://pensions.tfl.gov.uk</a>.</p>
<p>This is a new system so you will need to sign up to use the service, your old user name and password won't work with this system.</p>
<p>On the home page don't enter any details, just click the sign up link, and provide an email address. You'll then be sent a link to register where you create your user name, password and pick a memorable word.</p>
<p>When setting these up click the help links as you need upper case, lower case, numbers and symbols in some of these. </p>
<h2>Log in</h2>
<p>If you have already registered for member web service, please follow the link below to log in: <a href="https://www.pensions.tfl.gov.uk/PWPUser/Account/Login?ReturnUrl=%2FPWPUser%2F">https://www.pensions.tfl.gov.uk/PWPUser/Account/Login?ReturnUrl=%2FPWPUser%2F</a></p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pension-web-portal-help-december-2019.pdf">
    <div class="document-download-text">
        <p>Pensions web portal help</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.48 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2017-benefit-statements">2017 benefit statements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2018-pension-increase">April 2018 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-web-portal-maintenance">Pension web portal maintenance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2018">Annual Members' Meeting 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2019-pension-increase">April 2019 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2018-19">Maximising Additional Voluntary Contributions for 2018/19</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2017">PCC election results 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2018">PCC election results 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published">Annual report on Sustainable Investing published</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2019">Annual Members' Meeting 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-fund-office-move">Pension fund office move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2019">PCC election results 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20">Maximising Additional Voluntary Contributions for 2019/20</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Member self-service is changing in 2017";}
        
            
        


 