
    
  



@{ViewBag.Title = "News archive";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/news-archive";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">News archive</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>News archive</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      <div class="related-links">

    <h3>2019</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/annual-members-meeting-2019" class="plain-button">Annual members' meeting 2019</a>
<a href="/pensions/news-and-publications/april-2019-pension-increase" class="plain-button">April 2019 pension increase</a>
    </div>
</div>
 <div class="related-links">

    <h3>2018</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/annual-members-meeting-2018" class="plain-button">Annual members' meeting 2018</a>
<a href="/corporate/careers/maximising-additional-voluntary-contributions-for-2018-19" class="plain-button">Maximising Additional Voluntary Contributions for 2018/19</a>
<a href="/corporate/careers/pcc-election-results-2018" class="plain-button">PCC election results 2018</a>
<a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published" class="plain-button">Annual report on sustainable investment published</a>
<a href="/pensions/news-and-publications/pension-web-portal-maintenance" class="plain-button">Web portal maintenance 16-18 December 2017</a>
<a href="/pensions/news-and-publications/april-2018-pension-increase" class="plain-button">April 2018 pension increase</a>
    </div>
</div>
 <div class="related-links">

    <h3>2017</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/pcc-election-results-2017" class="plain-button">PCC election results 2017</a>
<a href="/pensions/news-and-publications/news-archive/april-2017-pension-increase" class="plain-button">April 2017 pension increase</a>
<a href="/pensions/news-and-publications/annual-members-meeting-2016" class="plain-button">Annual Members' Meeting 2017</a>
<a href="/pensions/news-and-publications/2017-benefit-statements" class="plain-button">2017 benefit statements</a>
    </div>
</div>
 <div class="related-links">

    <h3>2016</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/april-2016-pension-increase" class="plain-button">April 2016 pension increase</a>
<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2016" class="plain-button">PCC election results 2016</a>
<a href="/pensions/news-and-publications/news-archive/annual-members-meeting-2016" class="plain-button">Annual Members Meeting 2016</a>
    </div>
</div>
 <div class="related-links">

    <h3>2015</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/2015-summer-budget" class="plain-button">2015 Summer budget</a>
<a href="/pensions/news-and-publications/news-archive/look-out-for-your-2015-benefit-statement" class="plain-button">Look out for your 2015 benefit statement</a>
<a href="/pensions/news-and-publications/news-archive/new-avc-guide" class="plain-button">New AVC guide</a>
<a href="/pensions/news-and-publications/news-archive/nominations-for-tfl-pension-consultative-council-in-2015" class="plain-button">Nominations for TfL Pension Consultative Council in 2015</a>
<a href="/pensions/news-and-publications/news-archive/april-2015-pension-increase" class="plain-button">April 2015 pension increase</a>
    </div>
</div>
 <div class="related-links">

    <h3>2014</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/suspension-of-transfers-in" class="plain-button">Suspension of transfers in</a>
<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2014" class="plain-button">PCC election results 2014</a>
<a href="/pensions/news-and-publications/news-archive/april-2014-pension-increase" class="plain-button">April 2014 pension increase</a>
<a href="/pensions/news-and-publications/news-archive/new-years-resolution" class="plain-button">New Year's Resolution</a>
    </div>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pcc-nominations-2014.pdf">
    <div class="document-download-text">
        <p>Nominations for TfL Pension Consultative Council in 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-notice-of-egm-march-2014.pdf">
    <div class="document-download-text">
        <p>Notice of Extraordinary General Meeting 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 <div class="related-links">

    <h3>2013</h3>

<div class="vertical-button-container">

<a href="/corporate/careers/pcc-election-results-2013" class="plain-button">PCC election results 2013 </a>
<a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2013" class="plain-button">Nominations for TfL Pension Consultative Council 2013</a>
<a href="/pensions/news-and-publications/news-archive/annual-benefit-statements" class="plain-button">Annual benefit statements for contributing members 2013</a>
    </div>
</div>
 <div class="related-links">

    <h3>2012</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2012" class="plain-button">Nominations for Consultative Council 2012</a>
<a href="/pensions/news-and-publications/news-archive/april-2012-pension-increase" class="plain-button">April 2012 pension increase</a>
<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2012" class="plain-button">PCC election results 2012</a>
    </div>
</div>
 <div class="related-links">

    <h3>2011</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2011" class="plain-button">PCC election results 2011</a>
<a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2011" class="plain-button">Nominations for Consultative Council 2011</a>
<a href="/pensions/news-and-publications/news-archive/travel-services-is-moving" class="plain-button">Travel services is moving</a>
<a href="/pensions/news-and-publications/news-archive/april-2011-pension-increase" class="plain-button">April 2011 pension increase</a>
    </div>
</div>
 <div class="related-links">

    <h3>2010</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/audit-commission-2010" class="plain-button">Audit Commission 2010</a>
<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2010" class="plain-button">PCC election results 2010</a>
<a href="/pensions/news-and-publications/news-archive/register-for-online-publications" class="plain-button">Register for online publications</a>
<a href="/pensions/news-and-publications/news-archive/suspension-of-transfers-in-2010" class="plain-button">Suspension of transfers in - 2010</a>
<a href="/pensions/news-and-publications/news-archive/new-chairman-of-the-tfl-pension-fund" class="plain-button">New Chairman of the TfL Pension Fund</a>
<a href="/pensions/news-and-publications/news-archive/nominations-for-tfl-pension-consultative-council-2010" class="plain-button">Nominations for TfL Pension Consultative Council 2010</a>
<a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-for-contributing-members" class="plain-button">Annual benefit statements for contributing members</a>
<a href="/pensions/news-and-publications/news-archive/no-increase-for-tfl-pensioners-in-2010" class="plain-button">No increase for TfL pensioners in 2010</a>
    </div>
</div>
 <div class="related-links">

    <h3>2009</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2009" class="plain-button">PCC election results 2009</a>
<a href="/pensions/news-and-publications/news-archive/award-winning-pension-fund" class="plain-button">Award winning pension fund</a>
<a href="/pensions/news-and-publications/news-archive/missing-membership" class="plain-button">Missing Membership</a>
<a href="/pensions/news-and-publications/news-archive/updates-on-additional-voluntary-contributions" class="plain-button">Updates on Additional Voluntary Contributions</a>
<a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-2009" class="plain-button">Annual benefit statements - 2009</a>
<a href="/pensions/news-and-publications/news-archive/annual-members-meeting-2009" class="plain-button">Annual Members meeting - 2009</a>
<a href="/pensions/news-and-publications/news-archive/pcc-nominations-2009" class="plain-button">PCC nominations 2009</a>
<a href="/pensions/news-and-publications/news-archive/tfl-pensions-to-increase-by-5" class="plain-button">TfL pensions to increase by 5%</a>
    </div>
</div>
 <div class="related-links">

    <h3>2008</h3>

<div class="vertical-button-container">

<a href="/pensions/news-and-publications/news-archive/pcc-election-results-2008" class="plain-button">PCC election results 2008</a>
<a href="/pensions/news-and-publications/news-archive/annual-members-meeting" class="plain-button">Annual Members meeting - 2008</a>
<a href="/pensions/news-and-publications/news-archive/pensions-award-2008" class="plain-button">Pensions Award - 2008</a>
<a href="/pensions/news-and-publications/news-archive/pcc-elections-postal-ballot" class="plain-button">PCC elections postal ballot</a>
<a href="/pensions/news-and-publications/news-archive/pcc-nominations-2008" class="plain-button">PCC nominations 2008</a>
<a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-2008" class="plain-button">Annual benefit statements - 2008</a>
    </div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund news archive.";}
        
            
        


 