
    
  



@{ViewBag.Title = "PCC election results 2015";}
@{ViewBag.Description = "Pension Consultative Council 2015 election results.";}

@{ViewBag.Url = "/pensions/news-and-publications/pcc-election-results-2015";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">PCC election results 2015</span></li>
            
        
 
        
 
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>PCC election results 2015</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main">
    
      <div class="article-teaser">
        The longest serving quarter of the TfL Pension Consultative Council (PCC) retired from office on the 30 November 2015. The term of office for the new appointments commenced on the 1 December 2015 and will end on the 30 November 2019.
      </div>
    
    <div class="on-this-page">
      <p>In Section One (representing pensioners and deferred pensioners) Anne Garland and Christopher Sullivan retired.  This Section did not receive any nominations therefore two casual vacancies exist.  Following the election results a nomination was received from Joel Kosminsky.  Mr Kosminsky's position for Councillor was discussed and accepted by Section One Councillors and ratified by the PCC at their meeting on the 26 November 2015.  The other casual vacancy position will be considered before the next PCC meeting in 2016.
</p>
<p>In Section Two (representing TfL and its subsidiaries or contractors, excluding London Underground Limited) Steve Poole retired.  Three nominations were received and following a postal ballot Sean Mobbs was elected.</p>
<p>In Section Three (representing London Underground Limited, its subsidiaries and Tube Lines Limited) Paul Murphy and Paul O'Brien retired.  Three nominations were received and following a postal ballot Paul Murphy and Paul O'Brien were re-elected.  Paul Murphy and Paul O'Brien have both served on the PCC since December 2001 and December 2007 respectively.</p>
<p>For more information about the PCC, contact Julian Collins, PCC Secretary on 020 7918 3789 or email <a href="mailto:juliancollins&#64;tflpensionfund.co.uk">juliancollins&#64;tflpensionfund.co.uk.</a></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2>TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2015-summer-budget">2015 Summer budget</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/look-out-for-your-2015-benefit-statement">Look out for your 2015 benefit statement </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-avc-guide">New AVC guide</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/nominations-for-tfl-pension-consultative-council-in-2015">Nominations for TfL Pension Consultative Council in 2015</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2015-pension-increase">April 2015 pension increase</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2016-pension-increase">April 2016 pension increase</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2015">PCC election results 2015</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 