
    
  



@{ViewBag.Title = "PCC election results 2017";}
@{ViewBag.Keywords = "TfL,PCC, election, results, 2017";}
@{ViewBag.Url = "/pensions/news-and-publications/pcc-election-results-2017";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">PCC election results 2017</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>PCC election results 2017</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The longest serving quarter of the TfL Pension Consultative Council (PCC) retired from office as usual on 30 November. The term of office for the new appointments, detailed below, started on 1 December 2017 and will end on 30 November 2021.
        
      </div>
    
    <div class="on-this-page">
      <p>
In Section One (representing pensioners and deferred pensioners) Linda Arwood and Peter Amos retired.  This Section received three nominations and following a postal ballot Linda Arwood and Peter Amos were both re-elected.  Ms Arwood and Mr Amos have served on Section One since December 2005 and December 2013 respectively. </p>
<p>
In Section Two (representing TfL and its subsidiaries or contractors, excluding London Underground Limited) Carole Davies retired and Luke Howard formally resigned from the PCC with effect from 30 November 2017. This meant there were two vacancies in Section Two at the start of the new term of office on 1 December.  Two valid nominations were received from Sonja Folarin and Huzaifa Essajee.  Both candidates were appointed and it was mutually agreed between both candidates that Ms Folarin will hold the full term of office from 1 December 2017 and Mr Essajee to fill the casual vacancy with a term of office that will end on 30 November 2020. </p>
<p>
In Section Three (representing London Underground Limited and its subsidiaries and Tube Lines Limited), Mark Harding and Joan McAllister retired. Gilly Leonard-Ross also retired from service creating a casual vacancy.  Six valid nominations were received and following a postal ballot Mark Harding was elected.  At their November meeting the PCC ratified the appointment of Neil Cochrane to fill Ms McAllister's position and Tony de Wet to fill the casual vacancy with a term of office that will end on 30 November 2018.  Mark Harding has served on Section Three since 1 December 2001.
</p>
<p>
For more information about the PCC please visit the <a href="/pensions/index">TfL Pension Fund website</a> or contact Julian Collins, PCC Secretary, on 020-7918-3789 or by <a href="mailto:juliancollins&#64;tflpensionfund.co.uk">email</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2017-benefit-statements">2017 benefit statements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2018-pension-increase">April 2018 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-web-portal-maintenance">Pension web portal maintenance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2018">Annual Members' Meeting 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2019-pension-increase">April 2019 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2018-19">Maximising Additional Voluntary Contributions for 2018/19</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2017">PCC election results 2017</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2018">PCC election results 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published">Annual report on Sustainable Investing published</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2019">Annual Members' Meeting 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-fund-office-move">Pension fund office move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2019">PCC election results 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20">Maximising Additional Voluntary Contributions for 2019/20</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "PCC election results 2017";}
        
            
        


 