
    
  



@{ViewBag.Title = "PCC election results 2018";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/pcc-election-results-2018";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">PCC election results 2018</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>PCC election results 2018</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The longest serving quarter of the TfL Pension Consultative Council (PCC) retired from office on the 30 November 2018. The term of office for the new appointments commenced on the 1 December 2018 and will end on the 30 November 2022.
        
      </div>
    
    <div class="on-this-page">
      <p>In Section One (representing pensioners and deferred pensioners) David Biggs and Beverley Milner-Simonds retired.&nbsp;This Section received nominations from Mr Biggs and Mr Stephen Spurgin who have both been duly elected. The PCC also ratified the appointment of returning Councillor Luke Howard to take up the casual vacancy left by Ms Arwood following her retirement in July. &nbsp;Mr Biggs and Mr Howard have both served on the PCC since 2005 and 2008 respectively.</p>

<p>In Section Two (representing TfL and its subsidiaries or contractors, excluding London Underground Limited) Jamie Parry retired. This Section received two nominations and following a postal ballot Ms Parry was elected.&nbsp; Ms Parry was appointed to the casual vacancy that had been made vacant earlier on this year.</p>

<p>In Section Three (representing London Underground Limited and its subsidiaries) Steve Connolly and Tony De Wet retired.&nbsp;Five nominations were received and following a postal ballot, Mr Hari Srikandarajah and Mr Peter Woods were both elected.&nbsp;</p>

<p>For more information about the PCC you can visit the TfL Pension Fund website at <a href="/pensions/index">www.tfl.gov.uk/pensions</a>&nbsp;&nbsp; or contact Julian Collins, PCC Secretary on 020 7918 3789 or email <a href="mailto:juliancollins&#64;tflpensionfund.co.uk">juliancollins&#64;tflpensionfund.co.uk</a></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Pcc election results 2018";}
        
            
        


 