
    
  



@{ViewBag.Title = "Publications";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/publications";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Publications</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Publications</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
<div>



<h2>Environmental, social and governance reports</h2>


<p>You will find&nbsp;environmental, social and governance reports relating to the TfL Pension Fund in this section.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-report-on-sustainable-investing.pdf">
    <div class="document-download-text">
        <p>TfL Pension Fund Report on Sustainable Investing 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sustainability-report-2019-printable-version.pdf">
    <div class="document-download-text">
        <p>TfL Pension Fund Report on Sustainable Investing 2019 print friendly version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-report-on-sustainable-investing-2018.pdf">
    <div class="document-download-text">
        <p>TfL Pension Fund Report on Sustainable Investing 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 20.32 -->
 
</div>

</div>
 
<div>



<h2>Newsletter</h2>


<p>We send out a newsletter every year to all members so that you can find out all the latest TfL Pension Fund news and views. You'll find every issue from 2005 onwards in this section.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pensionews-issue-15-march-2019.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 15 - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensionews-issue-14-march-2018.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 14 - March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensionews-issue-13-april-2017.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 13 - April 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensionews-issue-12-april-2016.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 12 - April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 809KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-march-2015.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 11 - March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-10-march-2014.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 10 - March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-9-march-2013.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 9 - March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-8-march-2012.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 8 - March 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.78MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-7-march-2011.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 7 - March 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 684KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-6-march-2010.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 6 - March 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-5-april-2009.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 5 - April 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 900KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-issue-4-march-08.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 4 - March 2008</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 461KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-march07.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 3 - March 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-march06.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 2 - March 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/newsletter-march05.pdf">
    <div class="document-download-text">
        <p>Newsletter issue 1 - March 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 228KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>



<h2>Annual Review</h2>


<p>The chairman's annual review of the TfL Pension Fund includes information about the membership of the Fund and how it has invested in the previous year.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-annual-review-2019.pdf">
    <div class="document-download-text">
        <p>Annual Review 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-2018.pdf">
    <div class="document-download-text">
        <p>Annual Review 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-2017.pdf">
    <div class="document-download-text">
        <p>Annual Review 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.97MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensions-annual-review-2016.pdf">
    <div class="document-download-text">
        <p>Annual Review 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-september-2015.pdf">
    <div class="document-download-text">
        <p>Annual Review 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-review-2014.pdf">
    <div class="document-download-text">
        <p>Annual Review 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 989KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-annual-review-2013.pdf">
    <div class="document-download-text">
        <p>Annual Review 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-review-2012.pdf">
    <div class="document-download-text">
        <p>Annual Review 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-review-2011.pdf">
    <div class="document-download-text">
        <p>Annual Review 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 625KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-review-2010.pdf">
    <div class="document-download-text">
        <p>Annual Review 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-review-2009.pdf">
    <div class="document-download-text">
        <p>Annual Review 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-review-2008.pdf">
    <div class="document-download-text">
        <p>Annual Review 2008</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 699KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensions-annual-review-07.pdf">
    <div class="document-download-text">
        <p>Annual Review 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-2006.pdf">
    <div class="document-download-text">
        <p>Annual Review 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-2005.pdf">
    <div class="document-download-text">
        <p>Annual Review 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-review-2004.pdf">
    <div class="document-download-text">
        <p>Annual Review 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 340KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>
<p>* This version of the Annual Review includes the Summary Funding Statement for the Public Sector Section of the Fund. Members of the other Sections will have received a personal copy of the Annual Review including a Summary Funding Statement particular to their Section.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2017</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2017-benefit-statements">2017 benefit statements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2018-pension-increase">April 2018 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-web-portal-maintenance">Pension web portal maintenance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2018">Annual Members' Meeting 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2019-pension-increase">April 2019 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2018-19">Maximising Additional Voluntary Contributions for 2018/19</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2017">PCC election results 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2018">PCC election results 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published">Annual report on Sustainable Investing published</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2019">Annual Members' Meeting 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-fund-office-move">Pension fund office move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2019">PCC election results 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20">Maximising Additional Voluntary Contributions for 2019/20</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund publications.";}
        
            
        


 