
    
  



@{ViewBag.Title = "Something went wrong";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/pay-to-drive-in-london/payment-failure";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/pay-to-drive-in-london">Pay to drive in London</a></li>
                
            
            
            
            
            
                <li><span class="last-breadcrumb">Something went wrong</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Something went wrong</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


	    @{
            dynamic content = new ContentModel();

            content.ErrorTitle = "We could not complete your payment";
            content.PaymentErrorText = "You have not paid the charge(s). ";
            content.PaymentDeclinedText = "You have not paid the charge(s). ";
            content.PaymentNextStepInfo = "Because your payment to us failed, you have not paid the charge(s). Try again, perhaps with a different payment card.<br><br>If you don't pay the correct charge, you risk getting a penalty.";
            content.TryAgainButtonText = "Try again";
            content.TryAgainButtonUrl = "/modes/driving/pay-to-drive-in-london";

            Html.RenderAction("PaymentFailure", "PayCharges", new { area = "Ruc", content = content });
        }    
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 