
    
  



@{ViewBag.Title = "Improving customer service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/what-we-are-doing/improving-customer-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving customer service</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving customer service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our modernisation plans are transforming customer service on the Tube. We are taking feedback on board and looking for new ways to improve our customer service.
        
      </div>
    
    
      
      
           
      <div>

<p>All stations will continue to remain staffed at all times, and there will be more staff available to offer assistance to customers where it is needed most. We are phasing the station changes so that any major events and engineering works are avoided.</p>
<p><strong>Changes we've already made:</strong></p>
<h3>How passengers are served</h3>
<ul>
    <li>All our station staff  receive customer service training and  are equipped with handheld devices loaded with information to help customers get around, including maps, live service levels, Journey Planner, ticketing options and prices and local information</li>
    <li>Staff training includes elements designed and delivered by disabled people on how best to assist disabled customers. Find out about this accessibility training in our film</li>
</ul>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="myuE1geMsr0" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h3>Improvements to ticketing facilities</h3>

<ul>
	<li>Customers can buy most tickets at every station. Selected tickets can also be bought over the phone at our London-based contact centre or online</li>
	<li>All ticket machines have been improved so that our staff will be able to resolve problems on the spot</li>
	<li>Ticket machines offer guidance in 17 languages, sell most ticket types, with a few exceptions such as annual season tickets, which are available online</li>
	<li>We have also added 150 new ticket machines across the network to help customers get the ticket they need</li>
	<li>There are a range of options and ways to pay for your travel. For most people, pay as you go with <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> or <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster</a> is the best option as it offers value, flexibility and convenience</li>
</ul>

<p>For more details, see our guide on <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">other ways of buying tickets and getting information</a>.</p>
</div>
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/newvisitorcentre_rdax_400x200.gif" alt="New visitor centre" />
        
    </div>
    <h2>Enhanced station facilities</h2>
<p>We have worked to make the best use of station space and improve facilities for staff and customers including:
</p>
<ul>
    <li>New ticket machine suites at selected stations</li>
    <li>Improved staff accommodation</li>
    <li>Improved customer information in every station - including maps and signage</li>
    <li>Improved retail, shops and restaurants</li>
</ul> 
</div> 
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains">Improving the trains</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-customer-service">Improving customer service</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/minimising-disruption">Minimising disruption</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/night-tube">The Night Tube</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Tube and rail combined travel advice</h3>
    <p>Advance information about disruption and planned works on public transport</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTravelAlerts">Follow &#64;TfLTravelAlerts</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our modernisation plan to transform customer service in our Tube stations";}
        
            
        


 