
    
  



@{ViewBag.Title = "Improving the trains";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/what-we-are-doing/improving-the-trains";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving the trains</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving the trains</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A new train design will deliver faster, more frequent and more reliable journeys with the first walk-through and air-conditioned trains on the four 'Deep Tube' lines.
        
      </div>
    
    
      <p>We will replace trains and signaling systems across the four 'Deep Tube' lines &#45; the Piccadilly, Bakerloo, Central and Waterloo &amp; City lines.</p>

<ul>
	<li>250 new Tube trains for the Piccadilly, Bakerloo, Central and Waterloo &amp; City lines, with the first new trains serving the Piccadilly line from 2024</li>
	<li>More capacity with a faster, more frequent service</li>
	<li>More reliability as modern signalling systems will ensure fewer delays</li>
	<li>Walk-through carriages helping to ease extra demand at peak times</li>
	<li>Air-conditioned carriages for a more comfortable journey</li>
	<li>Improved accessibility with step-free access at platform level</li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/deep-tube-train-from-front-700x438.jpg" alt="Deep Tube train" />
        
        
        
    </div>   
 </div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
  </ul>
</div>
 <div>

<h2>A single design</h2>

<p>We are creating a blueprint for a single train design that will be rolled out across the Piccadilly, Bakerloo, Central and Waterloo &amp; City lines, allowing for more efficient procurement and long-term maintenance procedures.</p>

<h2>250 new Tube trains</h2>

<p>Around two-thirds of our lines are being or have been upgraded. We also have a programme of work underway to increase frequencies on upgraded lines even further.</p>

<h2>More reliable service</h2>

<p>As part of our ongoing investment in the Underground network and to meet the needs of London's rapidly growing population, we are continuing to invest in and improve our services.</p>

<p>By introducing new modern signalling systems and new trains on the Piccadilly, Bakerloo, Central and Waterloo &amp; City lines, delays due to signal and train failures will be reduced.</p>

<p>Additionally, over the course of time we will also be introducing platform edge doors where possible (as used on the Jubilee line), helping to ensure customer safety and reducing delays due to litter and other obstructions on the tracks.</p>

<h2>Meeting London's growing demand</h2>

<p>London's population is set to increase from 8.4 million today to around 10 million by 2030. The new modern signalling systems and new trains we're introducing will increase capacity to help us meet this challenge.</p>

<p><strong>Piccadilly line</strong><br />
60% more capacity (the equivalent of up to 21,000 customers per hour)</p>

<p><strong>Bakerloo line</strong><br />
25% more capacity (the equivalent of up to 9,000 customers per hour)</p>

<p><strong>Central line</strong><br />
25% more capacity (the equivalent of up to 12,000 customers per hour)</p>

<p><strong>Waterloo &amp; City line</strong><br />
50% more capacity (the equivalent of up to 7,000 customers per hour)</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/deep-tube-train-siemens-image-700x438.jpg" alt="Deep Tube train" />
        
        
        
    </div>   
 </div>
 <div>

<h2>A train for the future</h2>

<p>We are making sure our trains will be future-proofed as they will serve London for at least 40 years. Because of this, new trains will have:</p>

<ul>
	<li>More capacity to meet the increased demand</li>
	<li>Air-conditioning for more comfortable journeys</li>
	<li>Improved energy efficiency and customer information</li>
</ul>

<p>Advances in technology mean that these trains and signalling systems are capable of increased levels of automation. By the early 2020s, with the completion of the new signalling system on the Circle, District, Hammersmith &amp; City and Metropolitan lines, the majority of existing London Underground lines will have automatic train operation, with a driver on board.</p>

<p>Throughout the development and procurement of these new trains and signalling we will work closely with our customers, stakeholders, trade unions and staff to make the most of the new technology.</p>

<p>We are committed to having a fully-staffed Tube network, with staff on hand to assist customers and ensure safe operations.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains">Improving the trains</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-customer-service">Improving customer service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/minimising-disruption">Minimising disruption</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/night-tube">The Night Tube</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Improving the Tube</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A new train design to deliver faster, more frequent and more reliable journeys";}
        
            
        


 