
    
  



@{ViewBag.Title = "Minimising disruption";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/what-we-are-doing/minimising-disruption";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Minimising disruption</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Minimising disruption</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How we coordinate closures to make sure that necessary improvement and maintenance work causes you as little disruption as possible.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We aim to do as much work as possible during the four hours a night when the Tube is closed. But we may need longer for large projects when we must move in lots of heavy equipment.</p>
<p>The weekend - when there are fewer customers travelling - is often still the best time for us to work. Weekend closures give us more than 50 uninterrupted hours.</p>
<p>New ways of working, including the latest engineering techniques, help as we try to keep disruption to a minimum. We will always ensure there are alternative ways for you to make your journeys.</p>
</div>
 <div>

<h2>Why weekend closures are necessary</h2>
<p>David Waboso, London Underground's Capital Programmes Director, explains:</p>
<p>'We know it can be disruptive but the weekend is the best time for us to work as we have more than 50 uninterrupted hours to access the tracks. Compared to weekday use, there are fewer passengers - even though we know it doesn't always feel that way.</p>
<p>'The four hours or so we have available at night during the week, in the time between the last trains returning to the depots (at around 01:30) and first trains starting (at around 05:30), just isn't long enough to carry out projects such as replacing track or installing new signalling equipment.</p>
<p>'During a weekend closure we always make sure suitable alternative travel options are available, such as alternative Tube lines, DLR, London Overground, National Rail and replacement buses.'</p>
</div>
 <div>

<h2>Coordinating closures</h2>
<p>We work closely with other transport operators when considering closures. This includes Network Rail and train companies running services into London.</p>
<p>We take into account:
</p>
<ul>
    <li>The impact each closure has on service levels across the city </li>
    <li>
    The detailed requirements of each project (including
    upgrades of trains and signals, general maintenance and other external
    works) where specific jobs must be carried out in order or at a specific
    time </li>
    <li>
    The availability of suitable alternative routes (including the provision of replacement bus services) </li>
    <li>
    The need to support major events</li>
</ul>
<p>
We always try our best to avoid closing several lines in the
same area. However, sections of some lines share tracks or signals, so work
on one line may force the closure of another.</p>
<p>Our network is a lot bigger and more complex than most other
metro systems. For example, we have 249 miles of track compared to 133
miles in Paris or 56 miles in Singapore. Many metro systems are much
newer, and some (like New York) have four-track systems allowing trains
to run 24 hours a day at the same time as they do improvement work.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains">Improving the trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-customer-service">Improving customer service</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/minimising-disruption">Minimising disruption</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/night-tube">The Night Tube</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Aiming to ensure that maintenance and improvement work causes as little disruption as possible.";}
        
            
        


 