


@{ViewBag.Title = "A lock is a gate - young people of Hackney create album of songs as a gift for Central line passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A lock is a gate - young people of Hackney create album of songs as a gift for Central line passengers</h1>
        <div class="content-page-press-release">
        24 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Artist Ruth Ewan and composer Kerry Andrew unlocked the imaginations of a group of around 40 members of the Laburnum Boat Club in Hackney when they began working with them for a new Art on the Underground commission.
        
    </div>



 <div class="on-this-page">
<p>Together the young people have created a song album as a gift for travellers on the Central line.&nbsp; </p>
<p>Their experimental songs and drawings tell of who they are and how they think others see them and share their hopes and dreams for a better world in which to grow up.&nbsp; </p>
<p>The album will also be available as a <a href="/art">free download</a> from 24 August.</p>
<p>Next, the group is creating two artworks for Bethnal Green Tube station to be launched this autumn. </p>
<p>Two drawings, which map the sound and flow of songs from the album, will run above the length of the escalators.</p>
<p>Ruth Ewan was commissioned to devise and lead the project by Art on the Underground. </p>
<p>Inspired by the youth club's inclusive atmosphere and lively adventurous spirit, Ruth invited composer Kerry Andrew to collaborate with her on leading the project through a series of workshops open to all members of the Club who are aged between&nbsp;nine and 19.&nbsp; </p>
<p>The young people were also given support in developing their words and lyrics by poet Evlynn Sharp. </p>
<p>All the songs, words and drawings were created by Laburnum Club members, and shaped into complete artworks by Ruth and Kerry.</p>
<h2>Overcoming obstacles</h2>
<p>The group developed the theme 'a lock is a gate', a phrase that has both philosophical and practical meaning for the Club: a canal lock is a water gate that requires special knowledge to unlock. </p>
<p>Once opened, it lets a boat pass between different water levels. </p>
<p>In the same way, obstacles in life that might at first seem impassable can be overcome. </p>
<p>The core of the songs and drawings in the project respond to this idea.</p>
<p>The album recounts the story of a journey, part imaginary part real, that leads from the Tube to and along Regent's Canal. </p>
<p>To develop their ideas, the Club members went on a tour behind the scenes at Bethnal Green Tube station and took a trip on a narrow boat through a lock and Islington canal tunnel. </p>
<p>During their travels they recorded sounds on the water and out in the wider city, weaving them into songs. </p>
<p>They also invented ways to express these sounds through mapping the flow of a song along a line. </p>
<p>Ruth Ewan, said: 'I hugely enjoyed working with Kerry, Evlynn and the staff and young people from Laburnum Boat Club. </p>
<h2>Creative working</h2>
<p>'The Boat Club is an inspiring organisation: energetic, welcoming and creative. </p>
<p>'It is a fantastic place, there should be more organisations like this across the country.'</p>
<p>Cathy Haynes, Curator for Art on the Underground, London Underground, said: 'I hope Tube travellers will enjoy the songs and artworks that the young members of Laburnum Boat Club have created for them with Ruth, Kerry and Evlynn.'</p>
<p>It has been a great experience to work with this group of young people from Hackney who have volunteered their time and creative energies to help make something for us all to enjoy. </p>
<p>'The artists have been exceptional in their commitment to the young people and their ideas. </p>
<p>'This has been a highly rewarding project.'</p>
<p>The album tracks and artwork will be <a href="http://www.tfl.gov.uk/art">downloadable for free</a> for an unlimited period of time. </p>
<p>A special edition of the album as a CD with sleeve artwork is also available for free for a limited period at the V&amp;A Museum of Childhood in Bethnal Green and other venues. </p>
<p>For information on stockists, visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Art on the Underground is London Underground's art programme, producing high-calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three and a half million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe
<li>Ruth Ewan's first major solo show in the United Kingdom is Brank &amp; Heckle at Dundee Contemporary Arts, 12 August 2011-9 October 2011.&nbsp; It explores notions of silence and protest by combining the artist's ongoing interest in radical histories with new work responding to Dundee's social heritage. Ewan is interested in viewing history as alive, relevant and capable of configuring the future. Conceptually led but socially realised, her work takes specific historical images and sounds and renders them 'active' through use</li>
<li>Kerry Andrew&nbsp;is a composer, performer and music educator who specialises in contemporary vocal music and music-theatre.&nbsp;She is currently composer in residence at the Handel House museum, London, and performer with experimental vocal trio 'juice'. Her work has been heard on BBC Radio 3, BBC Radio 4, 6Music and Classic FM</li>
<li>Laburnum Boat Club is a charitable community project and social education facility based on the Regent's Canal in Hackney. It is concerned with the development of children and young people of all abilities, primarily through watersport activities</li>
<li>Project partners - a lock is a gate - was selected from a series of invited proposals for commission by Art on the Underground in partnership with the Barbican Art Gallery, Chisenhale Gallery, Create festival and the Whitechapel Gallery</li>
<li>Central line series - a lock is a gate - is part of Art on the Underground's Central line series of artists' projects taking place from 2011 to 2012. Each project explores the themes of communication, connection and exchange. The series is supported by the National Lottery through Arts Council England</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but Tramsport for London (TfL) is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to check before they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></li>
<li>More information about <a href="http://www.tfl.gov.uk/art">Art on the Underground</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Together the young people have created a song album as a gift for travellers on the Central line.&nbsp; Their experimental songs and drawings tell of who they are and how they think others see them and share their hopes and dreams for a better world in";}
        
        


 