


@{ViewBag.Title = "All my lines in the palm of your hand: A new artwork for the Pocket Tube Map cover by Michael Landy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All my lines in the palm of your hand: A new artwork for the Pocket Tube Map cover by Michael Landy</h1>
        <div class="content-page-press-release">
        31 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new work by artist Michael Landy, All my lines in the palm of your hand, the latest artist commission by Art on the Underground for the front cover of the Pocket Tube Map, is now available from Tube stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"His reference to the way that people write on their hands as an aid memoire is very much in contrast to current handheld technology - like GPS and Google Maps."</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            His reference to the way that people write on their hands as an aid memoire is very much in contrast to current handheld technology - like GPS and Google Maps.
                            
                        </p>
                    </div>
                
            
            
            <p>The work is a tracing of the artist's own hand in pencil; the creases and lines of the hand are represented by lines drawn in the various colours of the Tube map.</p>
<p>In this way, Landy makes a direct relationship between 'the artist's hand' and the Pocket Tube Map.</p>
<p>We can read his palm and see how his personal journeys have left their mark there.</p>
<h2>Hands-on art</h2>
<p>Reproduced as a pocket artwork for millions of Tube travellers to hold in the palm of their own hands, the work has a humorous yet uncanny quality.</p>
<p>Head of Art on the Underground, Tamsin Dillon, said: 'I like the way that Landy brings us back to the physical workings of the Tube Map. His reference to the way that people write on their hands as an aid memoire is very much in contrast to current handheld technology - like GPS and Google Maps.</p>
<p>'We like to provide travel information to passengers in as many different formats as possible. The Pocket Tube Map is a traditional, 'hands-on' guide, which is still a great way to get around the London Underground system.' </p>
<h2>Acts of Kindness</h2>
<p>The presentation of this new work coincides with Michael Landy's project for the Central line series, Acts of Kindness.</p>
<p>To find out more and to tell us your story of kindness on the Tube visit <a href="http://art.tfl.gov.uk/actsofkindness">http://art.tfl.gov.uk/actsofkindness</a></p>
<p>For further information contact about Art on the Underground contact:<br>Alice Broughton<br>Theresa Simon &amp; Partners Ltd<br>Email: <a href="mailto:alice&#64;theresasimon.com">alice&#64;theresasimon.com</a> <br>Tel: 020 7734 4800<br>&nbsp;<br>For further information contact about TfL contact:&nbsp;&nbsp;&nbsp;&nbsp; <br>Candice Jones<br>TfL Press Office<br>Email: <a href="mailto:candicejones&#64;tfl.gov.uk">candicejones&#64;tfl.gov.uk</a><br>Direct line: 020 7126 4883 or 0845 604 4141</p>
<p>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>The Pocket Tube Map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, Richard Long, Liam Gillick and Jeremy Deller. </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>Artist Michael Landy (b.1963) grew up in East London where he still lives. Throughout his life most of his journeys have started out on the Central line. Landy was inspired to be an artist when as a child a picture he had made was shown on the BBC TV programme Take Hart. After school he studied art at Loughton, Loughborough and Goldsmiths. Shortly afterwards he achieved acclaim as one of the Young British Artists who transformed the international art scene in the early 1990s. Landy's major projects include Break Down (Artangel, 2001), where he destroyed all his material possessions. He made a painstakingly detailed list of everything he owned, totalling 7227 items. Then a team of boiler-suited helpers passed them all one by one along a conveyor belt to be shredded and granulated in a former C&amp;A store on Oxford Street. He walked away with nothing but a pair of overalls. The experience led him to reflect deeply on the value of the small acts of compassion that connect us with others, and triggered his idea for Acts of Kindness. Landy is currently Associate Artist at the National Gallery. In recognition of his major contribution to contemporary art, he was made a lifetime member of the Royal Academy of Arts in 2008. </li>
<li>Acts of Kindness is the first in Art on the Underground's Central line series of artist's projects taking place from 2011 to 2012. The Central line is 46 miles long, interconnects with all other Underground lines, and has 49 stations in 12 boroughs. The Central line series takes inspiration from the variety of people and places spanned by the line. Each project explores the theme of communication and exchange, and the connections we make with others. The Central line series of temporary commissions is supported by the National Lottery through Arts Council England. </li>
<li>The first Central line stations to receive the Acts of Kindness stories are Liverpool Street, Holborn and St Paul's. </li>
<li>Tube customers can contribute their stories by visiting the project web pages at art.tfl.gov.uk. Please visit the website for full terms and conditions. </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is a tracing of the artist's own hand in pencil; the creases and lines of the hand are represented by lines drawn in the various colours of the Tube map.In this way, Landy makes a direct relationship between 'the artist's hand' and the Pocket";}
        
        


 