


@{ViewBag.Title = "Be Safe Week at London Transport Museum";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Be Safe Week at London Transport Museum</h1>
        <div class="content-page-press-release">
        16 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For the seventh year, London Transport Museum is hosting five days of safety workshops for children during Be Safe Week.
        
    </div>



 <div class="on-this-page">
<p>The five days of workshops between 22-26 August will cover safety awareness for travelling by bus, road, river and rail. </p>
<p>The week of events is aimed at families with young children, aged five and above.</p>
<p>Some highlights of the activities on offer this year are two interactive vehicles with free access on the Covent Garden Piazza outside the museum. </p>
<p>Here, children can simulate driving a bus, or learn about rail safety on an inflatable train. </p>
<p>Inside the museum, children can get to grips with personal safety for cycling and learn about safely responding to animals from the Dog's Trust amongst other educational activities. </p>
<p>Transport for London's (TfL's) Safety and Citizenship team are being supported by other safety training providers across London for this latest safety initiative, including the London Ambulance Service, the Royal National Lifeboat Institution, the London Fire Brigade, the Metropolitan Police and the Dog's Trust.</p>
<p>Be Safe Week attendees are also welcomed to take part in the Young London Navigators' challenges included in the museum admission fee - where kids go free, while adults pay &pound;13.50 for unlimited entry for 12 months.</p>
<p>Young London Navigators summer family fun is part of the Sense and the City: smart, connected and on the move exhibition which explores how technology is changing the way we access and experience London and looks at past visions of the future.</p>
<p>Christopher Nix, Head of Learning Development at London Transport Museum said: 'It's great to get children engaged with safety issues in the Capital at an early age. </p>
<p>'Be Safe Week is an opportunity for London's younger generations to have fun and learn how to get involved in building a safer London.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Transport Museum opening hours: Saturday to Thursday 10:00 to 18:00 (last admission 17:15), Friday 11:00 to 18:00 (last admission 17:15)</li>
<li>London Transport Museum admission: &pound;13.50 adults, &pound;10.00 concessions (all tickets allow unlimited admission for a 12 month period from date of purchase), children under 16 free (under-12s must be accompanied by an adult)</li>
<li>Online bookings: <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></li>
<li>Sense and the City: smart, connected and on the move is a new temporary exhibition at London Transport Museum. It explores how emerging technologies are changing the way we access and experience London and compares this with past visions of the future</li>
<li>Public information:</li>
<ul>
<li>Talks and events bookings: +44 (0)20 7565 7298 </li>
<li>Switchboard:&nbsp; +44 (0)20 7379 6344 (general information)</li>
<li>Address: Covent Garden Piazza, WC2E 7BB</li>
<li>24-hour information: +44 (0)20 7565 7299</li></ul>
<li>London Transport Museum Ltd is a subsidiary company of Transport for London with charitable status. The Museum's charity number is 1123122</li>
<li>Young London Navigators' remaining events include (all workshops are open to children aged five and above):</li>
<ul>
<li>Week five: Design eggs-cellence&nbsp;- Monday 22 to Friday 26 August 2011&nbsp;- 12:00-15:00 - Do the Young Navigators' vehicle safety test using real eggs!</li>
<li>Week six: Fantasy future London&nbsp;- Monday 29 August to Friday 2 September 2011 - 12:00-15:00 - The grand finale of the Young London Navigators challenges; help us build a capital city of the future and fill it with fantasy buildings and vehicles</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The five days of workshops between 22-26 August will cover safety awareness for travelling by bus, road, river and rail. The week of events is aimed at families with young children, aged five and above.Some highlights of the activities on offer this year";}
        
        


 