


@{ViewBag.Title = "Businesses kept on track with free London 2012 support package";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses kept on track with free London 2012 support package</h1>
        <div class="content-page-press-release">
        26 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Free Transport for London (TfL) and London 2012 workshops in the Capital for small and medium sized enterprises (SMEs) and multi-site businesses in 2012 transport hot spots.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'TfL is working with London 2012 to offer a range of free travel advice to businesses of all types and sizes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Evers</div>
            <div class="quotee-job-title">Director of Games Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'TfL is working with London 2012 to offer a range of free travel advice to businesses of all types and sizes
                            
                        </p>
                    </div>
                
            
            
            <p>Online tool on <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a>&nbsp;available to help small businesses plan for Games time.</p>
<p>To apply for the free workshops, businesses should email <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> or visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a>.</p>
<p>
<hr>

<p>
<p>Free 2012 Games workshops for SMEs and multi-site companies located in 2012 transport hot spots took place this week in London. </p>
<p>The SME workshop was hosted on 24 August and was aimed at small businesses with fewer than 200 employees.&nbsp; </p>
<p>The multi-site workshop was held on 25 August and was aimed at businesses that have more than one site located in a Games hot spot. </p>
<p>The sessions were to help businesses plan how to run smoothly in the run up to, and during, the 2012 Olympic and Paralympic Games. </p>
<p>The Games, which are just under a year away, offer businesses a huge opportunity but they need to start planning now if they want to make the most of all they have to offer. </p>
<p>Increased demand owing to the Games will see transport networks severely affected and much busier than usual.&nbsp; </p>
<p>Businesses should be aware of this increased pressure and start planning now, as it could severely impact their organisation.</p>
<p>The SME workshop saw 20 companies from different industries and parts of London attend a two-hour session and included a beer distributer, a security guard company and a small charity. </p>
<p>The multi-site workshop saw ten companies, all in the restaurant industry, attend the all day event in Canary Wharf, London and included a national pizza chain, an organic restaurant chain and a London-based steak house. </p>
<h2>What's covered?</h2>
<p>The workshops helped business owners prepare for any travel disruption that may affect their business and plan how to maximise the business opportunities the Games will bring. </p>
<p>Both sessions covered:</p>
<ul>
<li>Optimising deliveries, servicing and freight</li>
<li>Planning staff business travel during busy periods and flexible working</li>
<li>Forecasting customer and visitor movements during the Games</li>
<li>Tips to help firms maintain service continuity</li>
<li>Sharing best practice: assessing what firms are already doing</li></ul>
<p>The workshops are part of a wider package, from London 2012 and TfL, consisting of a new business advice programme to help businesses minimise the impact of any transport challenges posed by the 2012 Games. </p>
<p>As part of this package, businesses of all sizes in travel hot spots can now sign-up for a free workshop to receive bespoke travel advice.&nbsp; </p>
<p>The business support package also includes an online travel planning tool which helps businesses plan their operations during Games time. </p>
<p>The tool asks firms a series of questions about their business then suggests tailored actions they can take. </p>
<h2>Start planning now</h2>
<p>Any business can start planning now by visiting <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> and selecting 'Make your Plan'.&nbsp; </p>
<p>Mark Evers, Director of Games Transport at TfL, said: 'Millions of additional trips are expected in the Capital during the summer of 2012, and the transport network will be severely affected. </p>
<p>'TfL is working with London 2012 to offer a range of free travel advice to businesses of all types and sizes, to ensure their staff, customers and suppliers can get around and that they can make and receive important deliveries during the Games.</p>
<p>'Our new free travel advice programme greatly enhances the support available for businesses of all sizes set to be affected by the London 2012 Games. </p>
<p>'I'd like to urge all firms to take advantage of the planning tools that are available to them now, so that, come next summer, they will be in the best possible position to take advantage of the many business opportunities the Games will bring.'</p>
<p>Hugh Sumner, Director of Transport for the Olympic Delivery Authority, said: 'It's clear that 2012 will be a huge boost to businesses across the country.&nbsp;</p>
<p>'However, planning ahead will be essential for businesses looking to maximise the benefits the Games will bring. </p>
<p>'That's why we're encouraging firms of all sizes to visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a>, see if they're eligible for the free support package and ensure their business runs smoothly next summer.'</p>
<h2>Workshop dates</h2>
<p>The SME workshops will take place in a range of venues across London, twice a month, until the Games begin. </p>
<p>The next sessions will take place as set out below:</p>
<ul>
<li>31 August, 14:00-16:00, The City</li>
<li>15 September, 09:00-11:00 and 14:00-16:00, Stratford</li>
<li>28 September, 09:00-11:00 and 14:00-16:00,&nbsp; Canary Wharf</li>
<li>12 October, 09:00-11:00 and 14:00-16:00, Victoria</li>
<li>19 October, 09:00-11:00 and 14:00-16:00, Hammersmith</li></ul>
<p>The multi-site workshops will take place in Canary Wharf, on the last Thursday of every month. </p>
<p>The next all-day workshop, aimed at mail and delivery companies, is on 15 September.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Details of case studies are available upon request
<li>Businesses are advised to visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> where they can register for regular email bulletins, view maps of affected areas, download documents to help plan and view hints and tips on how to create an action plan.&nbsp;Businesses can email the team on <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to register for the workshops, and to find out more</li>
<li>Multi-site workshops are open to owner/managers or any business decision makers who work for a large businesses with more than 250 employees within London that have more than one site located in an Olympic travel hot spot</li>
<li>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.&nbsp;As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including:</li>
<ul>
<li>Staggering the start and finish times of working days</li>
<li>Providing the facilities for staff to work from home</li>
<li>Stocking up on non-perishable materials well before the Games</li>
<li>Arranging earlier or later deliveries</li>
<li>Managing annual leave</li>
<li>Temporarily relocating employees or altering their working hours</li>
<li>Helping staff replan their travel</li>
<li>Using conference/video/web calls</li>
<li>Encouraging and enabling staff to cycle and walk</li></ul>
<li>All transport improvements are on track to be delivered well ahead of the Games, including the new Javelin rail service, Tube upgrades on the Central and Jubilee lines, new Docklands Light Railway carriages and extensions, new and improved London Overground and national rail links, bigger and better stations and accessibility improvements across the transport network</li>
<li>Alongside infrastructure improvements, there will be national coach and bus networks for the Games, 'park and ride' for those who wish to use cars for a part of their journey and millions invested in new walking, cycling and river routes</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Online tool on www.london2012.com/traveladviceforbusiness&nbsp;available to help small businesses plan for Games time.To apply for the free workshops, businesses should email keeponrunning@london2012.com or visit";}
        
        


 