


@{ViewBag.Title = "Circle and District line works completed on schedule after four-week upgrade closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Circle and District line works completed on schedule after four-week upgrade closure</h1>
        <div class="content-page-press-release">
        24 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of metres of new track and drainage laid in four-week closure. Platform lengthening and signal renewals carried out.
        
    </div>



 <div class="on-this-page">
<p>Normal services are operating across the District and Circle lines this morning following the successful completion of four weeks of upgrade works between High Street Kensington and Edgware Road.</p>
<p>The block closure from 23 July to 23 August between the two stations, one of the oldest sections of the Tube network, has enabled key upgrade works to take place. </p>
<p>The works have improved track and equipment and will improve reliability, and have been completed in four weeks rather than six months of weekend works.</p>
<p>This includes work to accommodate the new Hammersmith &amp; City and Circle line air-conditioned trains including power upgrade on the tracks, signal renewals and lengthening platforms.</p>
<p>Track and drainage renewals will also help to protect track circuits from flooding thereby helping to cut down on the number of signal failures. </p>
<p>Two thousand metres of new drainage has been laid down to replace an old system from the 1850s while approximately 3.5km of track from the 1940s has been replaced. </p>
<p>This has involved around 7.5km of new rail.</p>
<p>Specially adapted engineering trains were used to make nearly 400 trips to bring old earth out and bring equipment and new materials in including:</p>
<ul>
<li>Bulldozers and cranes which were used to remove 16,000 tonnes of spoil in order to take the track down to its base level</li>
<li>A total of 25,000 tonnes of sand and new stone ballast</li>
<li>Around 5,000 new sleepers</li></ul>
<p>Over the last 100 years the old railway in the area has seen little upgrade work but during the last four weeks it has been stripped back and rebuilt so it will last for decades to come.</p>
<h2>Positive impact</h2>
<p>David Waboso, London Underground's (LU's) Capital Programmes Director, said: 'We're working hard to upgrade the Tube network to provide our customers with the best possible service and this is a great example of the types of improvements that we are making across the network.</p>
<p>'By implementing a block closure on the Circle and District lines between High Street Kensington and Edgware Road we have been able to complete the works in four weeks rather than the period of six months that would have been required had we carried out the work just using weekend closures.</p>
<p>'I hope our customers can see the positive impact that these improvements will have on their journeys and I would like to thank them all for their patience of the last few weeks.'</p>
<p>The closure also allowed LU to carry out work to improve safety and security with CCTV and lighting.</p>
<p>Although the Circle and District lines will still require some weekend closures as work to upgrade the District, Metropolitan, Hammersmith &amp; City and Circle lines intensifies, this blockade has saved several months of weekend closures. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The first new Hammersmith &amp; City and Circle line trains will be introduced next year<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Normal services are operating across the District and Circle lines this morning following the successful completion of four weeks of upgrade works between High Street Kensington and Edgware Road.The block closure from 23 July to 23 August between the two";}
        
        


 