


@{ViewBag.Title = "Consultation begins on proposed changes to South Kensington station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on proposed changes to South Kensington station</h1>
        <div class="content-page-press-release">
        26 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is today beginning a six week public consultation - Friday 26 August to Friday 7 October - on the possibility of a development above South Kensington station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Creating a modest development above South Kensington station has been a long-time aspiration and we have worked hard to devise a proposal that will benefit the area whilst remaining sensitive to local residents' concerns."</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">London Underground's Deputy Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Creating a modest development above South Kensington station has been a long-time aspiration and we have worked hard to devise a proposal that will benefit the area whilst remaining sensitive to local residents' concerns. 
                            
                        </p>
                    </div>
                
            
            
            <p>Work on the proposal has been undertaken with input from the Royal Borough of Kensington &amp; Chelsea in order to examine the best way to implement any development whilst ensuring that Tube customers and local people reap the maximum benefit. </p>
<p>The potential development could fund station improvements providing the opportunity to carry out changes to reduce congestion and provide step-free access to the District and Circle lines at South Kensington station.</p>
<p>The narrow flight of stairs from the District and Circle line platforms is causing congestion problems whilst some customers find the station difficult to use because it can only be accessed via stairs.</p>
<p>An initial scoping study has been carried out in order to address the problems at the station. </p>
<p>The study has shown that the best option would be a lift from a new Thurloe Street entrance into an enlarged ticket hall, as well as new stairs and a lift to the District and Circle line platforms.</p>
<p>The plans for a modest development have been created keeping the key issue of conservation in mind, in order to respect and enhance the listed elements of the station and the surrounding neighbourhood.</p>
<p>As such, the existing arcade, listed shop fronts and northern and southern entrances would all be retained, as would the Thurloe Street terrace.</p>
<p>The 'Ox-blood' station building would also be retained and integrated with the residential development over the station ticket office.</p>
<p>Richard Parry, LU's Deputy Managing Director, said: 'Creating a modest development above South Kensington station has been a long-time aspiration and we have worked hard to devise a proposal that will benefit the area whilst remaining sensitive to local residents' concerns. </p>
<p>'This will allow us to carry out much needed station improvements including lifts to provide step-free access to the District and Circle line platforms, an enlarged ticket hall and new stairs to cope with the ever increasing number of visitors to the area. We do not have the money for these improvements without a developer paying for it.'</p>
<p>TfL is keen to get local support and opinion and welcomes the involvement of residents and stakeholders in this project. </p>
<p>The consultation period will close on 7 October 2011 and we are holding a public meeting at 19:00 on Wednesday 21 September at Kensington Town Hall.</p>
<p>
<hr>
<strong>Notes to Editors</strong>
<ul>
<li>Step-free access to the Piccadilly line platforms cannot be installed as part of this proposed scheme, but will be safeguarded for future provision </li>
<li>The public meeting will take place at Kensington Town Hall, (Committee Room 3/4), Hornton Street, London, W8 7NX at 19:00 on Wednesday 21 September </li>
<li>This study, along with information on how to comment on this proposal, or request further details, can be found on TfL's website at:&nbsp; <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/20735.aspx">http://www.tfl.gov.uk/corporate/projectsandschemes/20735.aspx</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work on the proposal has been undertaken with input from the Royal Borough of Kensington &amp; Chelsea in order to examine the best way to implement any development whilst ensuring that Tube customers and local people reap the maximum benefit. The";}
        
        


 