


@{ViewBag.Title = "Consultation begins on lane rental scheme to tackle roadworks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on lane rental scheme to tackle roadworks</h1>
        <div class="content-page-press-release">
        22 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Scheme would make companies pay to dig up the Capital's busiest roads during busiest periods, encouraging quicker and more collaborative working.
        
    </div>



 <div class="on-this-page">
<p>Key part of Mayor's assault on disruptive roadworks will be first scheme of its type in the country. </p>
<p>Subject to consultation, scheme could be introduced by spring next year.</p>
<p>
<hr>

<p>
<p>Transport for London (TfL) will tomorrow begin a 12-week consultation on plans for a lane rental scheme that would give utility companies a clear economic incentive to reduce the scale and duration of roadworks on London's busiest roads, following the start of a national consultation by the Department for Transport (DfT) today.</p>
<p>By using lane rental TfL would be able to charge companies who dig up the busiest roads on their network as well as subjecting their own roadworks to charges. </p>
<p>The aim is to provide a financial incentive for works to be carried out quicker, and a sliding scale of charges would be introduced to encourage companies to work during less disruptive times. </p>
<p>The Mayor has lobbied for London to have the first targeted and avoidable lane rental scheme in the country and, subject to consultation; TfL will look to formally submit a proposal to the DfT in early 2012. </p>
<p>That timetable would mean a lane rental scheme could be up and running in the Capital by spring next year. </p>
<p>Any revenue raised by the scheme would also contribute to a roadworks innovation fund that would be jointly overseen by TfL and the major utility companies. </p>
<p>The fund would be used to develop and invest in new technology such as quick curing materials and improved plating technology, which would allow excavations to be temporarily covered to enable roads to be returned to normal operation. </p>
<p>By making these technologies more widely available to the industry, utility companies and TfL will be able to carry out more works outside of disruptive times, meaning that charges could be avoided. </p>
<p>A further use for the fund could be to construct infrastructure such as pipe subways to enable utilities and TfL to install and maintain plant, such as pipes, ducts and cables, without the need to excavate the highway.</p>
<h2>Relieving congestion</h2>
<p>If introduced, lane rental charges would apply to sections of carriageway and pinch points where it has been identified that action to relieve congestion should be prioritised. </p>
<p>These areas cover around 330km (57 per cent) of the TfL Road Network and reflect where the effect of closing a lane of traffic is more than 50 per cent higher than on the rest of the network.</p>
<p>The Mayor of London, Boris Johnson, said: 'Lane rental will offer a powerful incentive for utility companies in London to ensure they complete their work as quickly as possible. </p>
<p>'We will also spend the money raised from lane rental charges on developing new technologies that aim to help utility companies and highway authorities work in ways that will cause far less disruption for road users.'</p>
<p>Leon Daniels, Managing Director for Surface Transport at TfL, said: 'TfL is working on a range of schemes to improve traffic flow across the Capital, and lane rental would give us a vital tool to reduce unnecessarily prolonged and disruptive roadworks. </p>
<p>'By investing any revenue raised by the scheme into new and innovative methods, we can help encourage more work to take place outside of the charging periods'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>See the <a href="https://consultations.tfl.gov.uk/streets/lane-rental">consultation documents </a>for the DfT and TfL consultations on a lane rental scheme 
<li>The Mayor of London and TfL are committed to reducing congestion in London. Roadworks account for a third of the Capital's most serious and severe traffic delay and can cost the economy almost &pound;1 billion a year. Therefore it is essential that adequate and innovative steps are taken to help reduce the levels of congestion </li>
<li>TfL has full operational responsibility for the Transport for London Road Network (TLRN) - the Capital's 'red routes', which makes up around five per cent (580km) of London's total road length but carries mroe than 30 per cent of London's traffic and accounts for up to 40 per cent of the total economic value of traffic movement across the city </li>
<li>The Congestion Management Areas (CMAs) identified by TfL will be split into three bands, each with their own specific charge and timings. Generally, this will be as follows: 
<ul>
<li>Band 1 would cover a majority of the CMAs, where lane rental base charge would be set to &pound;800 per day for all planned works. These would apply 07:00 to 10:00 and 15:30 to 19:00 Monday to Friday, and 12:00 to 18:00 during the weekend </li>
<li>Bands 2 and 3 would cover the rest of CMA segments and all of CMA pinch points, where lane rental base charge would be set to &pound;2,500 per day. These would apply 07:00 to 22:00 Monday to Friday, and 12:00 to 18:00 during the weekend </li>
<li>However, timings of the charge period at some areas may vary depending on their specific location. A map illustrating the locations of the CMAs is available from the TfL Press Office</li></ul></li>
<li>Work is under way to improve the information available to London's roads users about works taking place and a range of measures are being pursued to smooth traffic, including: 
<ul>
<li>Building on the code of conduct for roadworks - created by the Mayor - and working to sign more boroughs up to the London roadworks permit scheme. These are already improving the management and coordination of works, with utility companies now sharing lane closures and working at the same time to avoid stretches of road being repeatedly dug up </li>
<li>Reviewing the timings of 1,000 sets of traffic signals each year, and working with the boroughs to identify sites where they can be removed if they serve no purpose </li>
<li>Installing advanced computer technology at traffic signals that allows the lights to adjust their timings to best suit the flow of traffic </li>
<li>Examining innovative engineering techniques which could see utilities use temporary road surfacing methods and fast-setting replacement road surfaces - allowing roads to re-open more quickly when works have been carried out</li></ul></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Key part of Mayor's assault on disruptive roadworks will be first scheme of its type in the country. Subject to consultation, scheme could be introduced by spring next year.Transport for London (TfL) will tomorrow begin a 12-week consultation on plans for";}
        
        


 