


@{ViewBag.Title = "Docklands Light Railway extension marks one year to go to the London 2012 Paralympic Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway extension marks one year to go to the London 2012 Paralympic Games</h1>
        <div class="content-page-press-release">
        31 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With just under a year to go to the London 2012 Paralympic Games the fully accessible Docklands Light Railway (DLR) Stratford International extension opened today (31 August).
        
    </div>



 <div class="on-this-page">
<p>The project is a key part of the London 2012 Olympic and Paralympic transport network and will improve accessibility on London's transport network for people with restricted mobility. </p>
<p>The &pound;211m DLR extension from Stratford International Station to Canning Town includes four new stations and connects five London 2012 Olympic and Paralympic venues. </p>
<p>All of London's 8,500 buses are fully accessible, all 22,000 taxis have wheelchair ramps and all stations and trains on the DLR network are fully accessible.&nbsp;</p>
<p>62 Tube stations are now step-free from street to platform, and this will rise further with the imminent completion of works at Green Park, which will be a key step-free station during the Games.</p>
<p>By the time of the 2012 Games 65 Tube stations will be step-free.</p>
<p>The Mayor of London, Boris Johnson, said: 'This expansion of the DLR is a further demonstration of the improvements that the London 2012 Games are making to our city. </p>
<p>'This work will be of permanent benefit for Londoners and all those travelling in the Capital from here on in. It's fantastic news and another example of London's lasting legacy of playing host to such a momentous event.'</p>
<p>London Transport Commissioner, Peter Hendy, said: 'The completion of the DLR extension to Stratford International and the new lifts at Green Park station provide five more accessible stations delivering benefits for the London 2012 Olympic and Paralympic Games and building on the legacy of transport improvements well ahead of next summer.</p>
<p>'The DLR extension completes the &pound;500m upgrade of the DLR, which will bring a 50 per cent increase in capacity across the network. The new line will also provide a legacy of more direct access to London's wider rail network for large numbers of people in Lower Lea Valley and help permanent regeneration in area.'</p>
<p>Director of Transport for the Olympic Delivery Authority, Hugh Sumner, said: 'The opening of the new DLR extension is the last piece in the jigsaw for major upgrades and improvements to networks serving the Olympic Park. </p>
<p>'We have worked closely with TfL to fund and deliver a much-improved service which will leave east London better connected after the Games.'</p>
<p>London Borough of Newham Mayor, Sir Robin Wales said: 'TfL should be congratulated for providing a sustainable and accessible transport legacy for our borough after the London 2012 Games. </p>
<p>'This is a major boost to Newham's regeneration and our efforts to attract international companies to the borough. </p>
<p>'Siemens and Westfield have already moved in and the new DLR extension at Stratford International will ensure that residents and businesses can take advantage of some of the best and most accessible transport links in the country. Stratford International station should now become a major accessible hub for international services.'</p>
<p>Artwork on the glass panelling of the DLR stations was created by Toby Patterson.</p>
<p>
<hr>
<strong>Notes to Editors</strong>
<ul>
<li>It is a crucial part of London's Olympic rail network connecting the Olympic Park with five other arenas holding multiple London 2012 Olympic and Paralympic Games events and is the last part of that rail network to be put in place </li>
<li>It was due to open in July 2010, however the extension is opening well ahead of the London 2012 Olympic and Paralympic Games </li>
<li>The extension also includes four new stations (there are seven in total), an essential part of the Olympics regeneration legacy. All seven stations are step-free as is the norm on all of the DLR network </li>
<li>The four new stations are Stratford International, Stratford High Street, Abbey Road and Star Lane </li>
<li>The extension is in addition to a three-year, &pound;300m upgrade programme across the DLR network which enabled a capacity increase of 50 per cent. The ODA has contributed &pound;80m to this programme </li>
<li>The extension will bring direct access to the Capital's wider rail transport network to thousands of residents along its route enabling them to travel more easily to education, job and leisure opportunities </li>
<li>It offers much faster and more frequent services than the former North London line it replaces, with a train arriving every eight minutes during peak periods </li>
<li>Services on the extension will be operated by Serco Docklands Ltd<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The project is a key part of the London 2012 Olympic and Paralympic transport network and will improve accessibility on London's transport network for people with restricted mobility. The &pound;211m DLR extension from Stratford International Station to";}
        
        


 