


@{ViewBag.Title = "Enhanced voice recognition technology and text service on TfL information line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Enhanced voice recognition technology and text service on TfL information line</h1>
        <div class="content-page-press-release">
        18 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is making it quicker for passengers to get hold of the latest travel information over the phone, with SMS messages an option.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The enhanced voice recognition technology will mean callers can pin point locations and destinations more quickly and receive more detailed information to plan their journeys, such as how far to walk to the nearest station."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Henderson</div>
            <div class="quotee-job-title">TfL's Director of Group Customer Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The enhanced voice recognition technology will mean callers can pin point locations and destinations more quickly and receive more detailed information to plan their journeys, such as how far to walk to the nearest station.
                            
                        </p>
                    </div>
                
            
            
            <p>Voice recognition software has been upgraded so that it now recognises postcodes as well as stations and points of interest. </p>
<p>Detailed travel directions incorporating any walking, bus, Tube and rail segments have also now been made available via text message if the customer is calling from a mobile.</p>
<p>The new service will mean passengers can get all the information they need to plan their whole journey without the need to speak to an operator, which will speed up call times. </p>
<p>However the option of speaking to a dedicated customer services operator will still be available if required and journey planning information can also be sought from staff at any Tube or rail station and from the TfL website <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>.</p>
<p>Ian Henderson, TfL's Director of Group Customer Services, said: 'We expect our travel information service improvements to provide customers with a faster and more comprehensive service even when demand is high.</p>
<p>'The enhanced voice recognition technology will mean callers can pin point locations and destinations more quickly and receive more detailed information to plan their journeys, such as how far to walk to the nearest station.</p>
<p>'With the new text service, customers can also receive and save journey planning information for future reference.'</p>
<p>TfL's Travel Information service can be accessed by calling 0843 222 1234.</p>
<p>
<hr>
<strong>Notes to Editors</strong> 
<p>
<ul>
<li>Calls to the 0843 number will cost up to 5p per minute for BT customers and calls made using other service providers or mobiles may cost more. There may also be a connection charge depending on the service provider </li>
<li>&nbsp;Mobile phone call tariffs are set by telephone operators and TfL takes just a few pence from each call to cover the costs of running the improved service; TfL does not profit from call charges </li>
<li>For mobile phone users who request the SMS service, the cost of the message will be at standard tariff rate and will provide up to a maximum of two messages dependant on the complexity of the journey information </li>
<li>In 2010 TfL began improving its Travel Information phone service by shifting from a London-based 0207 number, which was only able to accept 60 calls at a time, to a non-geographical digital system which enables unlimited calls to be answered simultaneously, providing a faster and more efficient service<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Voice recognition software has been upgraded so that it now recognises postcodes as well as stations and points of interest. Detailed travel directions incorporating any walking, bus, Tube and rail segments have also now been made available via text";}
        
        


 