


@{ViewBag.Title = "London Buses announces suppliers for NOx pilot to improve air quality";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses announces suppliers for NOx pilot to improve air quality</h1>
        <div class="content-page-press-release">
        18 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is pleased to announce that Eminox and HJS have been awarded a contract to install specialist pollution reducing equipment on some London buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Already operating one of the cleanest fleets in Europe, London leads the way by trialling new technology, introducing more environmentally friendly hybrid and hydrogen buses to meet tough EU targets which will protect the health of Londoners."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">London Buses Operations Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Already operating one of the cleanest fleets in Europe, London leads the way by trialling new technology, introducing more environmentally friendly hybrid and hydrogen buses to meet tough EU targets which will protect the health of Londoners.
                            
                        </p>
                    </div>
                
            
            
            <p>The innovative TfL pilot will be carried out on 18 buses that will have NOx abatement systems called Selective Catalytic Reduction (SCR) fitted, half supplied by each manufacturer.</p>
<p>The abatement system reduces oxides of nitrogen (NOx) to harmless nitrogen and water. </p>
<p>The process involves the injection of urea into the exhaust pipe prior to a catalyst.&nbsp;</p>
<p>The urea decomposes and hydrolyses to ammonia (NH3) which reacts with NOx and reduces it to nitrogen and water. </p>
<p>The pilot will be carried out over a year on three different marques of buses and the systems tested for their emissions performance and reliability.&nbsp; </p>
<p>The Mayor's Air Quality Strategy proposes that, subject to Government support, by 2015 all buses in London will meet the Euro IV standard for NOx.</p>
<p>While the majority of the 8,500 buses in the Capital's fleet are already compliant it is estimated that around 2,700 buses will need to be retrofitted this way to meet this standard, which will be a major step towards meeting EU air quality targets in London.</p>
<p>Mike Weston, London Buses Operations Director, said: 'London continues to work hard to find ways to improve the emissions and environmental performance of the bus fleet.&nbsp; </p>
<p>'Already operating one of the cleanest fleets in Europe, London leads the way by trialling new technology, introducing more environmentally friendly hybrid and hydrogen buses to meet tough EU targets which will protect the health of Londoners.'</p>
<p>TfL has taken considerable steps in the last ten years to reduce the environmental impact of its bus fleet.&nbsp; </p>
<p>All buses achieve Euro IV standard for particulate matter (PM) pollution and, as a result, emissions of particulate matter from the fleet have dropped from over 200 tonnes in 1997 to 14 tonnes in 2010. </p>
<p>This announcement comes in the same week that TfL announced more details on its targeted work to tackle particulate matter pollution in central London, including no-idling measures, green infrastructure and the expansion of an innovative dust suppressant trial.</p>
<p>
<hr>
<strong>Notes to editors</strong>
<ul>
<li>NOx is primarily made up of two pollutants, nitric oxide (NO) and nitrogen dioxide (NO2) </li>
<li>Eminox has been providing emissions technology solutions since 1993, when a collaborative agreement brought together the engineering expertise of Eminox and the catalyst technology of Johnson Matthey, to create a range of effective and technically advanced emission control devices. Each Eminox system is designed to suit the individual vehicle and its application, and developed using market leading technologies, combined with substantial applications engineering expertise. <a href="http://www.eminox.com">www.eminox.com</a> </li>
<li>HJS has many years of experience and expertise in the field of exhaust-gas after treatment. For more than 30 years, they have been engaged in the development, production and marketing of modular systems that reduce the pollutant emissions of combustion engines such as soot particles and nitrogen oxides in particular. <a href="http://www.hjs.com">www.hjs.com</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The innovative TfL pilot will be carried out on 18 buses that will have NOx abatement systems called Selective Catalytic Reduction (SCR) fitted, half supplied by each manufacturer.The abatement system reduces oxides of nitrogen (NOx) to harmless nitrogen";}
        
        


 