


@{ViewBag.Title = "London Underground makes multi-year pay offer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground makes multi-year pay offer</h1>
        <div class="content-page-press-release">
        04 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has made a five-year pay offer to trade unions which would see staff get a 5 per cent pay increase this year, followed by inflation (RPI) plus 0.25 per cent in the following three years and RPI + 0.5 per cent in the final year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We have made a very fair and affordable multi-year pay offer to the trade unions that will enable our employees' salaries to keep pace with the cost of living and guarantees an increase in real terms"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We have made a very fair and affordable multi-year pay offer to the trade unions that will enable our employees' salaries to keep pace with the cost of living and guarantees an increase in real terms
                            
                        </p>
                    </div>
                
            
            
            <p>A further guarantee has also been given that LU would not take into account negative RPI, should such a situation occur.</p>
<p>The five-year offer was made to all trade unions at the meeting of LU's Company Council&nbsp;on Thursday 4 August. </p>
<p>During previous discussions, London Underground asked the trades unions to take into account that the basic pay offer could be improved if their claims for changes to other terms and conditions could be limited to those which did not incur extra costs and it is on this basis that this revised package has now been offered.</p>
<p>Howard Collins, Chief Operating Officer, LU said: 'We met again with the unions today and have made a&nbsp;very fair and affordable multi-year pay offer to the trade unions that, over the life of the deal, will enable our employees' salaries to keep pace with the cost of living and guarantees an increase in real terms. </p>

<p>'At the same time it is realistic given the current economic situation and the pressure on TfL's finances.</p>
<p>'We have urged the trade unions to recommend our revised offer to our staff as soon as possible.'</p>
<p>The proposed deal would cover the period from April 2011 to April 2016. </p>
<p>The previous agreed pay deal, which saw staff get a 1.5 per cent increase in year one and RPI+0.5 per cent in year two, expired in March.</p>
<p>Separate discussions with trade unions on working arrangements over the period of the London 2012 Games continue.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A further guarantee has also been given that LU would not take into account negative RPI, should such a situation occur.The five-year offer was made to all trade unions at the meeting of LU's Company Council&nbsp;on Thursday 4 August. During previous";}
        
        


 