


@{ViewBag.Title = "Love is back on track";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Love is back on track</h1>
        <div class="content-page-press-release">
        15 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A groom and his young bride in their wedding clothes went back to South Woodford Tube station where he had proposed, to let the staff know that they had just got married and thank them.
        
    </div>



 <div class="on-this-page">
<p>For without the Central line Will Gull and Katie Crammer might never have met, looked across a crowded Tube carriage, and fallen in love.<br>&nbsp; <br>It was a cold December evening in 2006 when Will, a 30-year-old tax advisor, on his way home after some post work drinks, noticed 27-year-old teacher Katie Crammer boarding the train at Bank station.</p>
<p>Not wanting to let this opportunity pass him by - he wrote Katie a note: 'I think you are beautiful, from Will', with his phone number scrawled at the bottom, and passed it to her.</p>
<p>Katie, deciding to reply in a similar fashion, passed back a note saying: 'You're not so bad yourself, from Katie' again with a phone number included.</p>
<p>After this the pair abandoned writing and started chatting as they travelled along the Central line until they arrived at Will's station, South Woodford, when they decided to carry on their conversation at a nearby wine bar. </p>
<p>After a drink they parted ways and completed their journeys home.</p>
<p>Barnet photographer Hayley Lehmann, who took their pictures at their wedding in St. Albans, Hertfordshire, said she was captivated when they told her their romantic tale particularly as it nearly went awry.</p>

<h2>Love on the line</h2>
<p>'For the next few weeks the pair made calls and texts to each other, but were unable to find a time to meet up again and then it nearly all went wrong because incredibly they both lost their phones! </p>
<p>'But then they remembered the notes on which they had written their numbers and they finally arranged a date and they have been inseparable every since. </p>
<p>'Almost exactly three years after they met, on Katie's birthday, Will treated her to a celebratory meal at The Ivy and then they travelled home on the Central line.</p>
<p>'When they got to South Woodford station, Will told Katie she must get off the train because her birthday present was here. </p>
<p>'Will got down on one knee and proposed to Katie in front of commuters and station staff - which is why they decided to travel back to South Woodford station to let the staff know their journey had a very happy ending,' she said.</p>
<p>Katie Crammer, of Buckhurst Hill, Essex, said 'But for that fateful Tube journey I might never have met Will, fallen in love and married him, so I am very grateful to London Underground. </p>
<p>'The Central line and South Woodford station where Will proposed might not seem very romantic to other people but they are special to us.'</p>
<p>Howard Collins, London Underground's Chief Operating Officer said: 'It is lovely to hear that we have brought this young couple together and that they returned to South Woodford to let our staff know. </p>
<p>'We had more than 1.1 billion passengers on the Tube last year so this can't be the only couple who have found love on the Underground and their journey ended happily in marriage.'</p>
<p>
<hr>

<p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>Hayley Lehmann has taken a number of pictures of the couple in their wedding clothes at their favourite Tube station, South Woodford, which are available from the press office to use with the story </li>
<li>Hayley Lehmann has a studio in Barnet but works in London and Hertfordshire specialising in photographing people for all kinds of occasions. Her website is <a href="http://www.hayleylehmann.co.uk">www.hayleylehmann.co.uk</a> and she can be contacted at <a href="mailto:hayley&#64;hayleylehmann.co.uk">hayley&#64;hayleylehmann.co.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For without the Central line Will Gull and Katie Crammer might never have met, looked across a crowded Tube carriage, and fallen in love.&nbsp; It was a cold December evening in 2006 when Will, a 30-year-old tax advisor, on his way home after some post";}
        
        


 