


@{ViewBag.Title = "New trains mark progress on the Victoria line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New trains mark progress on the Victoria line</h1>
        <div class="content-page-press-release">
        02 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on the Victoria line are now benefiting from a fleet of new high-capacity trains.
        
    </div>



 <div class="on-this-page">
<p>The entire line is now served by the new trains, following the phasing out of the 1960s fleet. </p>
<p>They are a crucial part of the line's upgrade and, when signalling work is complete next year, will enable 10,000 more people to travel an hour - an increase of 21 per cent.</p>
<p>They will also shorten journey times by up to 16 per cent as trains will run almost every two minutes.</p>
<p>The fleet is more accessible than before, with wider doors and more spaces for wheelchair users, with on-board audio and visual information for deaf and visually impaired passengers. </p>
<p>CCTV is now in every carriage.</p>
<p>David Waboso, London Underground's Capital Programmes Director, said: 'In two months we will be running an additional two trains per hour for a large part of the week, with further increases to come starting next spring when we'll be running 30 trains every hour ahead of the Olympics.</p>
<p>'When the upgrade is complete we will have provided capacity for an additional 10,000 passengers each hour - meaning better, less crowded, journeys.'</p>
<p>The new trains use a regenerative braking system which returns power to the rails while the train is braking so that other nearby trains can use it for accelerating - reducing the amount of heat that is generated.</p>
<p>Work has also begun to double the capacity of fans in the main ventilation shafts serving the line and is due to be completed later this year. </p>
<p>Eleven fans have already been upgraded and work on the final two is under way.</p>

<p><strong>Just 40 years ago</strong></p>

<p>The roll-out of the new fleet comes 40 years after the line was extended from Victoria to Brixton in July 1971. </p>

<p>It was the first automated train line in the world and, with its ticket barriers and new ticket machines, was ahead of its time.</p>

<p>The first section opened in September 1968, from Walthamstow Central to Highbury &amp; Islington. </p>

<p>The second, which included King's Cross St. Pancras, Euston and Warren Street, opened in December 1968. </p>

<p>It was officially opened by the Queen in March 1969 when the line arrived at Oxford Circus, Green Park and Victoria Underground stations.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The entire line is now served by the new trains, following the phasing out of the 1960s fleet. They are a crucial part of the line's upgrade and, when signalling work is complete next year, will enable 10,000 more people to travel an hour - an increase of";}
        
        


 