


@{ViewBag.Title = "New competition gives BikeSafe-London riders chance to win their dream motorcycle or scooter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New competition gives BikeSafe-London riders chance to win their dream motorcycle or scooter</h1>
        <div class="content-page-press-release">
        19 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Riders who attend a Rider Skills Day between September and November 2011 could win a brand new motorcycle, scooter or protective clothing.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Encouraging motorcycle and scooter riders to constantly develop their riding skill levels is essential and the Motor Cycle Industry is pleased to be working with TfL on this initiative."</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Kenward</div>
            <div class="quotee-job-title">CEO of the Motor Cycle Industry Association</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Encouraging motorcycle and scooter riders to constantly develop their riding skill levels is essential and the Motor Cycle Industry is pleased to be working with TfL on this initiative.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Competition to help raise awareness of motorcycle safety in London</li></ul>
<p>Riders who participate in Transport for London (TfL) motorcycle or scooter assessment days during the next three months could win a new motorcycle or scooter in a competition being run in conjunction with the Motor Cycle Industry Association (MCI).</p>
<p>The competition, which will run between 1 September and 30 November, is open to anyone who attends a BikeSafe-London or ScooterSafe-London Rider Skills Day and completes a short questionnaire based on the assessment. </p>
<h2>Reducing collisions</h2>
<p>The prizes, worth around &pound;20,000, have been provided to TfL by the MCI at no cost to the taxpayer. Successful entrants could win: </p>
<ul>
<li>A motorcycle of their choice (up to a value of &pound;12,000) </li>
<li>A scooter of their choice (up to the value of &pound;2,000) </li>
<li>One of three sets of protective clothing (up to the value of &pound;1,000 each) </li>
<li>One of six helmets (up to the value of &pound;500 each)</li></ul>
<p>Working with motorcyclists to improve safety on the Capital's roads is a key priority for TfL, as despite reductions in the number of riders killed or seriously injured every year in London, too many riders are still involved in collisions. </p>
<p>Since 1 May 2008, around 5,000 riders have completed the Rider Skills Day, which combines observed rides with interactive presentations and advice on keeping safer while riding in London to help riders avoid collisions in future. </p>
<h2>Develop actions</h2>
<p>The Rider Skills Days, which are run by TfL and delivered by the Metropolitan Police Services' Motorcycle Tasking Team, look to educate London's motorcyclists and scooter riders, as well as ensure that rider documentation and vehicle standards are correct.</p>
<p>As well as continuing to invest in the BikeSafe-London Rider Skills Days, TfL is working on a motorcycle safety action plan, which will seek to develop actions and proposals to improve road safety, specifically for motorcyclists. </p>
<p>Work to engage with manufacturers and stakeholders is ongoing and TfL intend to publish the action plan later this year.</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'The Mayor of London and TfL are both committed to improving motorcycle safety in London. </p>
<h2>Improving skills</h2>
<p>'Although the number of people killed or seriously injured whilst riding a powered two-wheeled vehicle in London has fallen by 34 per cent since the mid-90s, there is still much that both TfL and the motorcycling community can do.</p>
<p>'That's why TfL is working to develop a motorcycle safety action plan and looking to the motorcycling community to ride responsibly and safely, with due regard for other road users.</p>
<p>'By running this competition with the MCI, we hope to encourage the Capital's motorcyclists to improve their skills and raise awareness of motorcyclists to all road users across London.'</p>
<p>Steve Kenward, CEO of the Motor Cycle Industry Association, said:&nbsp;'Encouraging motorcycle and scooter riders to constantly develop their riding skill levels is essential and the Motor Cycle Industry is pleased to be working with TfL on this initiative. </p>
<h2>Book a place</h2>
<p>'The motorcycle community is fully supportive of BikeSafe-London and ScooterSafe-London and if this scheme results in increased numbers of riders being involved with a skills assessment and then going on to further develop their riding technique MCI will be delighted with its participation.'</p>
<p>To book a place on a BikeSafe-London session, visit <a href="http://www.bikesafe-London.co.uk">www.bikesafe-London.co.uk</a>&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>BikeSafe-London is a partnership between TfL and the Metropolitan Police Service.&nbsp;It runs Rider Skills Days for motorcyclists and scooter users that aim to educate riders to become safer road users </li>
<li>Rider Skill Days combine observed rides with interactive presentations, discussions and advice on rider safety.&nbsp;The Rider Skills Days take place at the London Gateway Services in Mill Hill or The Warren in Bromley, and are run by highly qualified traffic police officers </li>
<li>The days start at 8.45am and finish at around 4.30pm. It costs just &pound;45 per rider which includes:&nbsp;lunch, a copy of 'How to be a better rider' by the Institute of Advanced Motorists and a BikeSafe-London hi-vis vest </li>
<li>Evaluation feedback from the 217 respondents who took part in BikeSafe-London between April 2010 and November 2010 showed that 95 per cent of attendees said that they would recommend the Rider Skills&nbsp;Day to a friend. The same evaluation also showed that 91 per cent of respondents said that their standard of riding had improved since attending BikeSafe-London, with 97 per cent saying that they benefited overall from the day </li>
<li>Motorcycle Industry Association is the supply side trade association of the UK motorcycle industry, representing 120 plus organisations involved with supplying the motorcycle community with, motorcycles, goods, services and rider training </li>
<li>Find out more about <a href="/corporate/projectsandschemes/roadsandpublicspaces/2291.aspx">what TfL is doing to promote motorcycle safety</a> across the Capital </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Competition to help raise awareness of motorcycle safety in LondonRiders who participate in Transport for London (TfL) motorcycle or scooter assessment days during the next three months could win a new motorcycle or scooter in a competition being run in";}
        
        


 