


@{ViewBag.Title = "New online facility to report illegal taxi touting";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New online facility to report illegal taxi touting</h1>
        <div class="content-page-press-release">
        19 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Illegal minicabs that tout for trade in London can now be reported on the Transport for London (TfL) website.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Any minicab that has not been booked is unregulated and uninsured for the purposes of carrying passengers.
                            
                        </p>
                    </div>
                
            
            
            <p>Anyone with access to the internet will be able to visit the Cab Enforcement web pages to report illegal activity or for updates on enforcement operation results.</p>
<p>All minicabs in the Capital must be licensed by TfL and must be booked in advance. </p>
<p>Any minicab that isn't booked by phone, email or in a licensed minicab office is illegal, unsafe, will not be insured, and in some cases the drivers are linked to more serious crimes including rape and sexual assault, robbery and drugs. </p>
<h2>Tackle touting</h2>
<p>Over 7,000 arrests have been made in the last eight years for touting and cab offences in London. </p>
<p>The new web pages are part of a wider initiative between TfL and its policing partners that aims to promote the safety of the travelling public, highlight the activity that has been undertaken to tackle touting and publicise the results. </p>
<p>They are available to view at the following address: <a href="http://www.tfl.gov.uk/cabenforcement">tfl.gov.uk/cabenforcement</a>.</p>
<p>Enforcement results, including arrest figures and licence revocations, will be available to view both to show what is being done and to serve as a warning to drivers who operate illegally. </p>
<h2>Arresting touts</h2>
<p>In addition to the enforcement results page, taxi and private hire drivers can now inform TfL directly if they suspect a driver of touting through a new illegal activity reporting page. </p>
<p>This will enable police and enforcement officers to target areas of concern and expand on the good work already undertaken in detecting and arresting touts.</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'Unbooked minicabs can pose a serious risk to the travelling public across London, especially in busy town centres. </p>
<p>'They can be a cover for some of the most serious crimes in London including sexual violence against women and robbery. </p>
<h2>Report illegal activity</h2>
<p>'In addition, any minicab that has not been booked is unregulated and uninsured for the purposes of carrying passengers. </p>
<p>'This new website will allow the members of the public, as well as the taxi and private hire trade, to report illegal activity quickly and simply, helping TfL and our Safer Transport Command Unit to investigate and tackle touting more directly.'</p>
<p>Illegal 'cabs' also present a threat to licensed and law-abiding taxi and private hire drivers as they intercept potential customers and represent unfair - and unsustainable - competition. If a driver or private hire operator is found to be touting TfL will revoke their licences for a minimum period of 12 months. </p>
<p>TfL is also reminding minicab users of the following important safety tips: </p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally </li>
<li>Always book so there is a record of your journey </li>
<li>Only black cabs can pick passengers up on the street </li>
<li>When travelling by minicab always book it, when it is arrives check it's for you and sit in the back </li>
<li>To get three local cab numbers text 'CAB' to 60835** </li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information </li></ul>
<p>** Users of 3 and overseas networks must enter different information. See tfl.gov.uk/cabwise for full details and charges.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Since 2003 the Cab Enforcement Unit has made more than 7,000 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all minicabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/3. The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>There were 111 cab-related sexual offences in 2010/11. Compared to the previous year, where there were 140 offences, there was a decrease of 20.7 per cent </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded by TfL </li>
<li>The Mayor has taken a tough line on touting and illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at tfl.gov.uk/contactcabs, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from The Havens. Details can be found at thehavens.co.uk </li>
<li>For essential late night travel information in London please visit&nbsp;tfl.gov.uk/cabwise and tfl.gov.uk/traveltools </li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0843 222 1234 <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Anyone with access to the internet will be able to visit the Cab Enforcement web pages to report illegal activity or for updates on enforcement operation results.All minicabs in the Capital must be licensed by TfL and must be booked in advance. Any";}
        
        


 