


@{ViewBag.Title = "Plans set out to help transform central London into major 2012 Games venue";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Plans set out to help transform central London into major 2012 Games venue</h1>
        <div class="content-page-press-release">
        04 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of thousands expected to attend major London 2012 Games sporting and cultural events.
        
    </div>



 <div class="on-this-page">
<p>Temporary changes to be made to some roads to manage influx of visitors. </p>
<p>Detailed information to be provided to residents and businesses to help them plan for the Games.</p>
<p>
<hr>
</p>
<p>Transport for London (TfL) and London 2012 have today set out plans to manage the huge influx of visitors expected in the heart of the Capital next summer, when it will host a dazzling array of sporting and cultural events.</p>
<p>Thousands of residents and businesses are being sent information and detailed maps about the Central London Zone, which will be based around Hyde Park, Green Park and St. James Park, to help them plan for when the 2012 Games arrive on their doorstep. </p>
<p>Numerous Games venues will be based in central locations such as Horse Guards Parade, and free-to-view cycling and athletics events will take place on some of central London's most famous streets. </p>
<p>Several 'national houses' are proposed to be located in the area and Hyde Park will also host a Live Site where people will be able to soak up the Games atmosphere on giant screens.</p>
<p>The events will attract many thousands of spectators and additional visitors, and there will be significantly more pedestrians in the already busy area. </p>
<p>In order to ensure the extra pedestrians are able to get around safely and that the Games can run effectively - with the minimum of disruption for those who live and work in the Capital - some temporary changes will need to be made to roads in the Central London Zone. </p>
<h2>Temporary changes</h2>
<p>TfL will be putting in place additional pedestrian and road traffic management in central London during the 2012 Games which may include restricting turns into roads, suspending parking and loading bays, and changing bus lanes and stops. </p>
<p>In addition, parts of the Olympic Route Network (ORN) will run through key areas of central London. </p>
<p>It is expected to begin operation just a couple of days before the Games begin, and TfL plans to end the operation of the ORN as soon as possible after the Olympic Games. </p>
<p>The Paralympic Route Network (PRN), which will be significantly reduced in size, will similarly be installed just a couple of days before the Paralympic Games.</p>
<p>In addition, a small number of the events, such as the Olympic Cycling Road Races and Marathons, will take place on roads that are part of central London's ORN. </p>
<p>On those days a small number of additional road closures will be needed and an alternative ORN (AORN) will be used to keep London moving. </p>
<p>All but one of the road events, the men's Triathlon on 7 August, will take place at weekends.</p>
<h2>An exciting time</h2>
<p>Peter Hendy, London's Transport Commissioner, said: 'Next summer will be a tremendously exciting time to be in central London. </p>
<p>'Shops, restaurants and other retail outlets in the area are set to benefit from the thousands of extra visitors, while local residents will have the world's most important and exciting sporting and cultural event on their doorsteps.</p>
<p>'Central London's transformation into a major sporting venue does mean that some changes need to be made to roads and footways, and the maps and other information we've published today are the result of the work TfL and Westminster City Council have done to find the safest and most effective way to manage the area during the Games.'</p>
<p>The London Organising Committee of the Olympic and Paralympic Games's Chair Sebastian Coe said, 'London as an Olympic city is going to be magical place to be next summer.&nbsp; </p>
<p>'The world's greatest city will take on an added dimension and this is particularly true in central London.&nbsp; </p>
<p>'With sporting events, cultural events and other Games-related celebrations on top of the vibrancy you'd find on any day of the week, there will be challenges.&nbsp;</p>
<p>'However by talking to residents and businesses now, I hope we can get everyone prepared so people can enjoy the special atmosphere the Games bring and continue with their everyday lives with minimal disruption.'</p>
<h2>Planning ahead</h2>
<p>Leader of Westminster Council, Councillor Colin Barrow said: 'Westminster is used to hosting major sporting events but the 2012 Games will present a unique set of challenges and will involve changes to the transport network. </p>
<p>'We are working closely with TfL and other agencies to ensure that the needs of residents and businesses are balanced with the important task of keeping London and the Games family moving.</p>
<p>'Test events this summer give us an important opportunity to gain insight into how Westminster will deal with this great occasion. </p>
<p>'We would ask businesses and residents to plan ahead and contact us if they have any concerns.'</p>
<p>Richard Dickinson, Chief Executive of The New West End Company, said: 'According to a recent survey by Visa, the 2012 Games will provide a much needed &pound;5bn boost to the UK economy including 18,000 new jobs every year until 2015.&nbsp; </p>
<p>'That's great for both Londoners and London's business but to maximise the benefits and minimise the problems we need really robust plans that are also well communicated - especially on areas like transport.&nbsp; </p>
<p>'These plans usefully kick start the process to make sure London is at the top of its game in 2012.'</p>
<p>TfL is continuing to work with Westminster City Council and other partners to find the safest and most effective way to put in the temporary road changes in the Central London Zone, and are about to begin engaging with businesses and residents. </p>
<p>All 68,000 businesses and homes in the affected area, which will be centred around Horse Guards Parade, The Mall and Hyde Park venues, will be sent information, including detailed maps, during the coming week.&nbsp;</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The ORN and PRN will run through the Central London Zone, transporting athletes, officials, media and others working at the Games to and from competitions
<li>Residents and businesses will have access to their properties and general traffic and&nbsp;will be able to use most of the ORN, apart from the section around St. James's Park. However, to keep traffic moving on these routes there will be some temporary changes. This may include reserving a lane for official Games vehicles, restricting turns into roads, suspending parking and loading bays, and changing bus lanes and stops. The plans will evolve as TfL continues to work with businesses and groups in the local area</li>
<li>Further temporary changes will be required to ensure the safety of the extra pedestrians in the area. These include closing traffic lanes to give more space to pedestrians, providing wider crossings and restricting volume of traffic in certain roads. Measures required during the Paralympics are being finalised, but as most events will not take place in central London fewer changes will be required</li>
<li>The Central London Zone will include Embankment, Green Park, Hyde Park Corner, Kensington Palace Garden, Marble Arch, St. James and Victoria. TfL is telling people about the proposed temporary changes to roads affected in their local area. Dates and locations of <a href="http://www.tfl.gov.uk/orn">drop-in sessions </a>are avilable online for people to let TfL know what they think of the plans</li>
<li>London 2012 Games partners: As it heads towards its &pound;2bn budget for staging the Olympic and Paralympic Games, LOCOG has seven domestic Tier One Partners - adidas, BMW, BP, British Airways, BT, EDF and Lloyds TSB. There are seven domestic Tier Two Supporters - Adecco, ArcelorMittal, Cadbury, Cisco, Deloitte, Thomas Cook and UPS. There are now twenty-five domestic Tier Three Suppliers and Providers - Aggreko, Airwave, Atkins, Boston Consulting Group, CBS Outdoor, Crystal CG, Eurostar, Freshfields Bruckhaus Deringer LLP, G4S, GSK, Gymnova, Heineken UK, Holiday Inn, John Lewis, McCann Worldgroup, Mondo, Next, The Nielsen Company, Populous, Rapiscan Systems, Rio Tinto, Technogym, Thames Water, Ticketmaster and Trebor. There is one domestic Tier One Paralympic Games Partner, Sainsbury's and one domestic Tier Three Paralympic Supplier, Otto Bock. The Worldwide Olympic Partners signed up for the 2012 Games are Coca-Cola, Acer, Atos Origin, Dow Chemical Company, GE, McDonald's, Omega, Panasonic, Procter and Gamble, Samsung and Visa</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Temporary changes to be made to some roads to manage influx of visitors. Detailed information to be provided to residents and businesses to help them plan for the Games.Transport for London (TfL) and London 2012 have today set out plans to manage the huge";}
        
        


 