


@{ViewBag.Title = "TfL urges 'check before you travel' ahead of 140km cycle road race on Sunday 14 August";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL urges 'check before you travel' ahead of 140km cycle road race on Sunday 14 August</h1>
        <div class="content-page-press-release">
        05 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Key London 2012 test event to take place on Sunday 14 August.
        
    </div>



 <div class="on-this-page">
<p>Road closures will be in place in Westminster, Chelsea, Fulham, Putney, Richmond, Hampton Court, Kingston upon Thames and parts of Surrey, from early in the morning until mid-afternoon. </p>
<p>Major impact on road transport along the route, including buses.</p>
<p>
<hr>
</p>
<p>Transport for London (TfL), working with the London Organising Committee of the Olympic Games and Paralympic Games Ltd (LOCOG), Surrey County Council and the boroughs along the route, is advising people to plan their travel in central and south west London on Sunday 14 August, when the London-Surrey Cycle Classic cycle road race, a London 2012 test event, will take place.</p>
<p>The London-Surrey Cycle Classic&nbsp; will replicate next year's 2012 Games Cycle Road Race route and is an important event in the 'London prepares' series of LOCOG's testing programme for 2012.&nbsp; </p>
<p>Some of the best road cyclists in the world will follow a 140km route from the heart of the Capital down to Surrey and back again. </p>
<p>Starting at the Mall, and returning there for a thrilling climax, the internationally renowned cyclists will race through six of south west London's boroughs, and parts of Surrey, passing famous locations such as Buckingham Palace, Richmond Park and Hampton Court Palace.&nbsp; </p>
<p>The race will run on fully closed roads, and streets on and near the race route will not be open for most of the day and will have additional parking controls. </p>
<p>There will be a major impact on road transport, including buses, along the route and people are strongly advised to plan their travel for the day by visiting <a href="http://www.tfl.gov.uk/testevent">tfl.gov.uk/testevent</a>.&nbsp; </p>
<h2>Plan your travel</h2>
<p>Garrett Emmerson, TfL's Chief Operating Officer for London Streets, said: 'The London-Surrey Cycle Classic Road Race will play an important role in ensuring transport and the Capital are fully prepared for the 2012 Games.</p>
<p>'London is used to hosting successful major events, and will do so again this August when some of the world's greatest cyclists battle it out through the streets of London and Surrey.&nbsp; </p>
<p>'However, there will be a major impact on road transport on the day, with many roads closed, and we strongly advise people to plan their travel that weekend and avoid driving in south west and central London if at all possible.'</p>
<p>London 2012 Chairman Seb Coe said: 'This is going to be a fantastic race and our course, with its interesting route and impressive technical elements, has attracted the best nations and pro cycling teams in the world so this really is a trial run for the Games in 2012.'</p>
<p>'However, as with any major road event, in particular one that moves through so many different areas of London and the South East, there will be a significant impact on traffic and transport. </p>
<p>'We want to draw attention to this to make sure people plan their weekend accordingly.'</p>
<p>To allow access across closed roads on the race route, pedestrian access will still be possible at designated crossings, where marshals will ensure people can cross the road safely. </p>
<p>Zebra and pelican crossings as well as traffic signals will remain on, but will not apply to vehicles involved in the London-Surrey Cycle Classic Road Race. </p>
<p>This means that while the route is closed, Road Race vehicles may be travelling at high speeds. </p>
<p>Extreme caution is advised when crossing these roads.</p>
<p>For further information visit <a href="http://www.tfl.gov.uk/testevent">tfl.gov.uk/testevent</a>, <a href="http://www.gosurrey.info">www.gosurrey.info</a> or call TfL's Streets Customer services on 0845 305 1234.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The cyclists will race through six London Boroughs -&nbsp; the Royal Borough of&nbsp; Kensington and Chelsea, the London Borough of Hammersmith &amp; Fulham, the Royal Borough of Kingston upon Thames, the London Borough of Richmond upon Thames, Wandsworth Borough Council, and Westminster City Council.&nbsp; The race will also pass through parts of Surrey</li>
<li>Affected roads in London, from the Mall through to Richmond Park, will be closed from 04:00 on Sunday 14 August.&nbsp;Roads from Richmond Park through to Surrey and Kingston will close from 06:00 on Sunday</li>
<li>The roads are expected to re-open in Richmond town centre from 11:30 and the rest of the boroughs from after 15:00. Roads in Surrey will begin to open from 11:45, all roads in the county will be open from 15:00</li>
<li>The list below shows the approximate times at which riders are expected to pass relevant points on the course:</li>
<ul>
<li>The Mall - start 09:00 and&nbsp;finish 12:10</li>
<li>Fulham - 09:05 and 12:05</li>
<li>Putney - 09:10 and 12:00</li>
<li>Richmond Park - 09:15 and 11:55&nbsp;&nbsp;</li>
<li>Richmond - 09:20&nbsp;&nbsp;</li>
<li>Bushy Park - 09:30&nbsp;</li>
<li>Hampton Court Palace - 09:35 and 11:40</li>
<li>Walton-on-Thames - 09:45</li>
<li>Ripley Village - 10:05</li>
<li>Gomshall - 10:25</li>
<li>Westcott - 10:30</li>
<li>Dorking - 10:35</li>
<li>Box Hill (restricted access) - between 10:40 and 11:20</li>
<li>Esher - 11:35</li>
<li>Kingston upon Thames - 11:50 (at which point riders will begin their return to central London, via Richmond Park, Putney and Fulham)</li></ul>
<li>PDF files of the route are available to media from TfL Press Office upon request</li>
<li>There will be two other test events taking place in London on the weekend of the London-Cycle Classic Road Race. The FIVB Beach Volleyball International will take place at Horse Guards Parade from Monday 8 to Sunday 14 August.&nbsp;The London 10km Marathon Swimming International at Hyde Park will take place on Saturday 13 August.&nbsp;For further information visit <a href="http://www.london2012.com">www.london2012.com</a></li>
<li>2012 Games partners: As it heads towards its &pound;2bn budget for staging the Olympic and Paralympic Games, LOCOG has seven domestic Tier One Partners - adidas, BMW, BP, British Airways, BT, EDF and Lloyds TSB. There are seven domestic Tier Two Supporters - Adecco, ArcelorMittal, Cadbury, Cisco, Deloitte, Thomas Cook and UPS. There are now twenty-five domestic Tier Three Suppliers and Providers - Aggreko, Airwave, Atkins, Boston Consulting Group, CBS Outdoor, Crystal CG, Eurostar, Freshfields Bruckhaus Deringer LLP, G4S, GSK, Gymnova, Heineken UK, Holiday Inn, John Lewis, McCann Worldgroup, Mondo, Next, The Nielsen Company, Populous, Rapiscan Systems, Rio Tinto, Technogym, Thames Water, Ticketmaster and Trebor.&nbsp;There is one domestic Tier One Paralympic Games Partner, Sainsbury's and one domestic Tier Three Paralympic Supplier, Otto Bock.&nbsp;The Worldwide Olympic Partners signed up for London 2012 are Coca-Cola, Acer, Atos Origin, Dow Chemical Company, GE, McDonald's, Omega, Panasonic, Procter and Gamble, Samsung and Visa</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Road closures will be in place in Westminster, Chelsea, Fulham, Putney, Richmond, Hampton Court, Kingston upon Thames and parts of Surrey, from early in the morning until mid-afternoon. Major impact on road transport along the route, including";}
        
        


 