


@{ViewBag.Title = "The best way to get to Notting Hill Carnival: Sunday 28 - Bank Holiday Monday 29 August 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The best way to get to Notting Hill Carnival: Sunday 28 - Bank Holiday Monday 29 August 2011</h1>
        <div class="content-page-press-release">
        19 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Europe's largest street festival - the Notting Hill Carnival - returns to the streets of west London on August Bank Holiday weekend.
        
    </div>



 <div class="on-this-page">
<p>With the area closed off to traffic, the easiest way to enjoy the sights and sounds of Carnival 2011 is to travel by bus or Tube, on bike or by foot.</p>
<p>In order to travel to and from Notting Hill easily and safely TfL urges visitors to arrive early because this year the Carnival will begin at 9am. </p>
<p>By leaving early before it finishes at 7pm, you will have a great day, but reduce your travelling time by avoiding queues and crowded buses and Tube trains.</p>
<p>Transport for London advises all visitors to 'check before they travel' and plan their journey to and from the Carnival on Sunday and Bank Holiday Monday, 28 and 29 August. </p>
<p>This can be done at: <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> which will have up to the minute information about planned improvement works on the Tube. </p>
<p>The TfL website also has real time travel news, as well as maps, first and last train times and details of weekend engineering works.</p>
<p>Alternatively call the London Travel Information 24 hour help line on&nbsp;0843 222 1234. </p>
<p>Information is also available on posters, leaflets and 'Good Service' boards at Tube stations.</p>
<h2>Travelling by London Underground</h2>
<p>For safety reasons Ladbroke Grove station, located on one of the busiest sections of the Carnival route, will be closed on both Sunday 28 and Monday 29 August. </p>
<p>Some stations around the Carnival area will close early or be 'exit only' at certain times on both days to help ease congestion. </p>
<p>These include:</p>
<ul>
<li>Latimer Road - station will close at 23:30 on both Sunday 28 and Monday 29 August </li>
<li>Notting Hill Gate - on Sunday 28 the station will be exit only between 12:00 and 19:00. On Monday 29 August the station will be exit only between 12:00 and 18:30.&nbsp; On Monday 29 August between 12:00 and 19:00, Circle and District line trains will not stop at the station </li>
<li>Royal Oak - on Sunday 28 and Monday 29 August, the station will be exit only between 11:00 and 18:00 and will close at 18:00 on both days </li>
<li>Westbourne Park - on Sunday 28 and Monday 29 August, the station will be exit only between 11:00 and 18:00, and will close at 23:30 on both days</li></ul>
<h2>Suggested Alternative Tube Stations</h2>
<ul>
<li>Bayswater - on Monday 29 August between 12:00 and 19:00 you are advised to use this station if you are travelling on Circle or District line trains, as neither will stop at Notting Hill Gate </li>
<li>Paddington (Circle and Hammersmith &amp; City lines) - on Sunday 28 and Monday 29 August you are advised to use this station instead of Notting Hill Gate or Royal Oak as both these stations will have entry restrictions</li></ul>
<p>Other stations near to the Carnival are:</p>
<ul>
<li>High Street Kensington (Circle and District lines) </li>
<li>Holland Park (Central line) </li>
<li>Queen's Park (Bakerloo line) </li>
<li>Shepherd's Bush (Central line)</li></ul>
<p>For safety reasons some stations may need to close temporarily to prevent overcrowding and ease congestion.</p>
<p>It may be worthwhile waiting until the station reopens rather than finding an alternative station - please listen for announcements from staff and police. </p>
<h2>Travelling by London Overground</h2>
<p>London Overground stations near to the Carnival: Queen's Park, Kensal Rise, Kensal Green and Shepherd's Bush.&nbsp; </p>
<h2>Travelling by bus</h2>
<p>A number of bus routes run close to the Carnival area: 7, 18, 23, 27, 28, 31, 36, 52, 70, 94, 148, 228, 295, 316, 328, 390, and 452.</p>
<p>TfL will be running many extra buses especially on Monday evening to get you home quickly and safely.</p>
<p>Three special express routes- 2X, 36X and 436X - will run between south London and the Carnival on both days. </p>
<p>The 2X will run from Norwood Garage to Hyde Park Corner, then non-stop to Notting Hill Gate. </p>
<p>The 36X will run from Peckham to Vauxhall, then non-stop to Harrow Road 'Prince of Wales'. </p>
<p>The 436X will run from Peckham to Hyde Park Corner, then non-stop to Notting Hill Gate.</p>
<p>Special bus route 205X will operate between Aldgate station and the Carnival.</p>
<p>Additionally buses within a comfortable walking distance include: 6, 46, 159, 187, 205, 220, 274, 302, 332, 414, and 436.</p>
<p>Bus routes running 24 hour services are: 6, 23, 27, 36, 94, 148, 159, 205, 220, 295 and 390.</p>
<p>Night Bus routes: N7, N18, N28, N31, N52 &amp; N207 will operate throughout Sunday and Monday night.</p>
<p>Some bus routes will be on diversion due to local road closures. </p>
<p>Diversions will be in place from the first bus on Sunday morning 28 August until around 05:00 on Tuesday 30 August.</p>
<h2>Travelling by bike</h2>
<p>Five docking stations for Barclays Cycle Hire bikes will be suspended in the Notting Hill area from 8am on Sunday 28 August until 8am on Tuesday 30 August at Turquoise Island, Pembridge Villas, Chepstow Villas, Notting Hill Gate Station and in Bayswater at Hereford Road.</p>
<p>Ken Davidson, Head of Bus Operations for Transport for London, said: 'The Carnival is a great annual event and we want everyone going to enjoy themselves. We do advise visitors to plan their journeys to and from the event, so they arrive and leave early and get home safely.</p>
<p>'The easiest ways to travel are by bus, Tube, on bike or by foot and we advise all Carnival goers to be aware that crowds and road closures could slow you down. People should also check options for their return journeys as these may be easier from an alternative station or bus stop.'</p>
<p>
<hr>
<strong>Notes to editors</strong>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. The benefits for Londoners will be great, with more trains - many with air-conditioning - delivering faster, more frequent and reliable journeys. The Tube upgrade will mean a big increase in capacity of around 30 per cent </li>
<li>We know that closures are frustrating, so TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. Londoners and visitors to the city are urged to 'check before you travel', particularly at weekends, and to allow extra journey time where necessary </li>
<li>Check before you travel at&nbsp;<a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and BBC Ceefax, page 436.&nbsp;Information is also available on posters, leaflets and 'Good Service' boards at Tube stations; and The London Travel Info 24hrs telephone helpline: 0843 222 1234. </li>
<li>Transport for London's Journey Planner offers the quickest way to plan journeys in the Capital, showing fast and efficient routes: <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </li>
<li>Information about cycling is available at tfl.gov.uk/cycling and about walking at <a href="http://www.tfl.gov.uk/walking">tfl.gov.uk/walking</a> </li>
<li>The Congestion Charge will not be in operation on Sunday 28 or Monday 29 August.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the area closed off to traffic, the easiest way to enjoy the sights and sounds of Carnival 2011 is to travel by bus or Tube, on bike or by foot.In order to travel to and from Notting Hill easily and safely TfL urges visitors to arrive early because";}
        
        


 