


@{ViewBag.Title = "Traffic around Hyde Park Corner on diversion as world's best triathletes race this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic around Hyde Park Corner on diversion as world's best triathletes race this weekend</h1>
        <div class="content-page-press-release">
        02 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Owing to the International Triathlon Union World Championship Series taking place in London on Saturday 6 and Sunday 7 August 2011, a number of road closures and bus diversions will be in place around Hyde Park Corner to facilitate the cycling route.
        
    </div>



 <div class="on-this-page">
<p>The event, which is also part of the testing programme for the 2012 Games, will see the world's best triathletes compete on the 2012 Olympic Triathlon Course, while the following day 4,500 amateur triathletes will get the chance to race on the route their Olympic heroes will compete on next year.</p>
<p>Hyde Park Corner will be partially closed to traffic on Saturday 6 August from 05:00 to 12:00, and then again on Sunday 7 August from 05:00 to 16:00. </p>
<p>Other closures during these times will include Park Lane in both directions from Marble Arch to Hyde Park Corner, Spur Road and access to Birdcage Walk from Parliament Square. Hyde Park will also be closed to vehicular access from 00:01 on Friday 5 August until 05:00 Monday 8 August 2011.</p>
<p>London's buses which normally use these routes will be placed on local diversions or curtailed to common departure points at Marble Arch, Portman Square, Sloane Square and Victoria station. </p>
<p>Posters will be placed at bus stops that will not be served by buses and Customer Information Assistants will be located around Hyde Park to assist passengers on the day.</p>
<p>Because of the road closures within Hyde Park, the Triangle Car Park Barclays Cycle Hire docking station on Serpentine Road will be suspended from 20:00 on Friday 5 August until 08:00 on Monday 8 August. </p>
<p>However, docking stations around Hyde Park will remain in operation.</p>
<p>Alan Bristow, Traffic Director for London Streets at Transport for London (TfL), said: 'With many major events taking place in London every year, the Capital and TfL are used to hosting successful international sporting events. </p>
<p>'However, we advise both spectators and people travelling through central London across the weekend to plan their travel in advance and, in particular, avoid driving in the Hyde Park area if at all possible.'</p>
<p>TfL has worked closely with the organisers and other external stakeholders to ensure every effort is being made to keep any traffic disruption due to this event to a minimum.&nbsp; </p>
<p>Event co-ordinators located at TfL's London Streets Traffic Control Centre will closely monitor the road elements of the event to help ease congestion in surrounding locations.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The event, which is also part of the testing programme for the 2012 Games, will see the world's best triathletes compete on the 2012 Olympic Triathlon Course, while the following day 4,500 amateur triathletes will get the chance to race on the route their";}
        
        


 