


@{ViewBag.Title = "Tramlink to aid regeneration of Croydon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tramlink to aid regeneration of Croydon</h1>
        <div class="content-page-press-release">
        18 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contract signed for six new trams. Free travel this weekend.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson, has confirmed that contracts have now been signed for the supply of six new trams for London Tramlink that will boost services on the network in Croydon from early next year.</p>
<p>Local people are also being reminded that there will be free travel on the trams this weekend, which it is hoped will encourage shoppers to head into the town centre and support their local businesses.</p>
<p>The arrival of the new trams will help contribute to the regeneration of Croydon following the recent disturbances. </p>
<p>When they begin running more frequent services will run on the busiest parts of the network between Therapia Lane, central Croydon and Elmers End. </p>
<p>That will boost capacity and ease crowding during peak times.</p>
<p>This weekend Oyster pay as you go&nbsp;and cash fare travel on the tram network will be free to encourage passengers to visit their local businesses and support the community following events last week.</p>
<p>The Mayor of London, Boris Johnson, said: 'I was deeply moved by my visits to Croydon last week. </p>
<p>'And I was greatly heartened by the determination of local people not to let the mindless behaviour of a few members of our society leave a permanent mark on this community.</p>
<p>'Our Tramlink team did a great job of restoring tram services to the town centre so rapidly following the disturbances. </p>
<p>'And we hope the signing of contracts for the six new trams will provide a real boost to services when they begin running early next year. </p>
<p>'But in the mean time I urge everyone to take advantage of the free travel on the trams this weekend and head into Croydon town centre. </p>
<p>'The message is clear. </p>
<p>'It's business as usual.'</p>
<h2>New trams for Croydon</h2>
<p>Transport for London's Managing Director of London Underground and Rail, Mike Brown, said: 'TfL and London Tramlink are part of the Croydon community and as such we want to support our fellow citizens and the local economy in the most effective ways we can. </p>
<p>'These new trams will have a significant impact on meeting the rising demand for tram services and reducing congestion where the demand is highest while the free travel will encourage passengers to travel into the business district to support their local businesses.'</p>
<p>The London Borough of Croydon has confirmed a &pound;3m contribution in funding to the purchase of the new trams. </p>
<p>Croydon Council Leader Mike Fisher said: 'The announcement of the supplier of new trams for Croydon is great news. </p>
<p>'Perception is important - and the perception today is that things are really beginning to move again in Croydon; and by spending heavily on extra trams we're backing what we're saying with hard cash.</p>
<p>'The tram network has proved to be a huge hit with the many thousands who use it on a daily basis. </p>
<p>'It's fair to say that, at peak times during the day, the network has become a victim of its success. </p>
<p>'These new trams will ease that burden, providing an even better service for the network's customers and help ensure its continued success into the future.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Trams</p>
<ul>
<li>The new trams will be built by&nbsp;Swiss manufacturer Stadler and delivered early next year </li>
<li>At 32 metres long, the Stadler trams are 2.5 metres longer than the existing vehicles, are air-conditioned, and are&nbsp;low-floor which provides better accessibility </li>
<li>They are each made up of five sections with wide gangways between each giving them a more spacious interior. They are the Variobahn model and based on vehicles currently in use in Bergen, Norway </li>
<li>The contract is worth &pound;16.3m to the supplier which includes spare parts and special equipment to run the vehicles </li>
<li>To accommodate the new trams and additional services modifications to tramstops and the depot will be required </li>
<li>The first of the new trams will be delivered this winter and will enter service in spring 2012 following a rigorous testing and commissioning period. The remaining five trams will be delivered from early 2012 through to spring 2012&nbsp; </li>
<li>Tramlink services have remained relatively static (between 2.4 and 2.7 million km per year) since 2000. However passenger journeys have increased by 45 per cent&nbsp;in 10 years. The 18.6 million journeys made in 2001/02 increased to 27.8 million per year by the end of the March 2011 with ridership continuing to grow since then </li>
<li>TfL purchased Tramtrack Croydon Ltd in June 2008 when it became London Tramlink. Since then TfL has spent &pound;2m on deep cleaning and refurbishing the tram fleet and tramstops, it has also delivered more than &pound;5m in track upgrades since 2008 to improve reliability. Shortly after taking over the network, Tramlink increased its off-peak services in the evenings and on Sundays </li>
<li>Pictures available on request</li></ul>
<p>Free Travel</p>
<ul>
<li>Travel on the London Tramlink network will be free all day on Saturday 20 August and Sunday 21 August </li>
<li>To benefit from the free travel all Oyster users should not touch in on the Oyster validators and non-Oyster users should not purchase a ticket </li>
<li>Oyster users using Wimbledon station will need to touch in/touch out as normal. They will receive an automatic refund from Thursday 25 August at their most frequently used tram stop. Passengers entering the station will need to touch in at the gate line and again on the Tramlink platform and those leaving the station will need to touch out at the gate line</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has confirmed that contracts have now been signed for the supply of six new trams for London Tramlink that will boost services on the network in Croydon from early next year.Local people are also being reminded that";}
        
        


 