


@{ViewBag.Title = "Transport for London unveils innovative measures to tackle pollution";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London unveils innovative measures to tackle pollution</h1>
        <div class="content-page-press-release">
        16 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Clean Air Fund will help clean up most polluted roads to meet particulate matter (PM10) legal limits.
        
    </div>



 <div class="on-this-page">
<p>Successful dust suppressant trial is expanded.</p>
<p>'<a href="http://www.tfl.gov.uk/corporate/projectsandschemes/19853.aspx">No Engine Idling</a>' campaign kicks off with eco-marshals working at taxi ranks.</p>
<p>Greening infrastructure installed to trap pollution on Lower Thames Street.</p>
<p>
<hr>
</p>
<p>Transport for London (TfL) has announced a package of innovative measures to tackle pollution levels at the busiest roads in central London.</p>
<p>The new targeted clean up measures could reduce local pollution levels of PM10 by 10-20 per cent where applied. </p>
<p>They are financed from a Clean Air Fund secured by the Mayor and TfL from the Department for Transport (DfT). </p>
<p>The funding, announced in April, will allow a package of local innovative measures already identified as part of the Mayor's Air Quality Strategy to be initiated, fast tracked and expanded over the next nine months.</p>
<p>The first tranche of Clean Air Fund work includes:</p>
<ul>
<li>The expansion of the application of dust suppressants that stick PM10 to the carriageway and prevent it from re-circulating in the air. Two additional vehicles are set to be converted to apply the dust suppressant enabling the two trial sites to be expanded into more areas including construction sites</li>
<li>The start of a concerted 'No Engine Idling' campaign to deter unnecessary engine running from all motor vehicles when stationary. This kicks off with a small team of 'eco-marshals' who will monitor taxi ranks at busy central London mainline stations and other on street ranks where air quality is particularly poor</li>
<li>The start of a greening programme to trap pollution - a row of 50 green towers (six foot tall planters) have been installed along Lower Thames Street, one of central London's most polluted road. The green towers are also an attractive addition to the local area</li></ul>
<p>Air quality modelling shows that the vast majority of London already meets the European Commission limit value for annual average PM10, but there are some local hot spots identified as being 'at risk' of exceeding limits. </p>
<p>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund - has lifted the threat of hefty fines. </p>
<h2>Innovative technology</h2>
<p>Kulveer Ranger, the Mayor's Environment Director, said: 'Pollution is a serious health issue and the Mayor is determined to reduce its impact. </p>
<p>'A comprehensive package of clean-up measures including innovative technology, is now being targeted where most needed in central London. </p>
<p>'In addition, action is being taken to deliver a permanent legacy of cleaner air right across the Capital. </p>
<p>'This includes the first ever age limit for black cabs, tighter standards for the Low Emission Zone, cleaner buses, including the New Bus for London and an expanded bike hire scheme.'</p>
<p>The dust suppressant pilot study which ran from November 2010 to April 2011 was a UK first. </p>
<p>Vehicles spread the biodegradable saline solution (Calcium Magnesium Acetate) in very small amounts evenly on road surfaces at two locations; Victoria Embankment and Marylebone Road. </p>
<p>The results focused on the Victoria Embankment site and showed that repeated applications can be effective at reducing PM10 at kerbside locations by between 10 and 14 per cent over 24 hourly periods. </p>
<p>The scheme will continue to run on Victoria Embankment and Marylebone Road and will also be introduced to Park Lane and corridors such as the A2.&nbsp; </p>
<p>Trials at industrial and construction sites will also begin to help tackle the source of pollution where there are high levels of PM10.</p>
<h2>Tackling pollution hot spots</h2>
<p>A team of five eco-marshals will be visiting taxi ranks in pollution hot spots across the Capital to reduce engine idling time for taxis and minicabs whilst promoting eco-driving courses designed to reduce emissions, as well as save cabbies money through efficient driving techniques. </p>
<p>The eco-marshals are existing TfL staff on secondment, two of whom are licensed London taxi drivers. </p>
<p>They will be conducting research that will be used to inform future activity, identify where to focus efforts and develop better information to help taxi and private hire drivers change driving habits. </p>
<p>Their research will also consider whether to change taxi rank layout and design. </p>
<p>TfL's Managing Director for Surface Transport, has also written to coach, bus and freight operators to encourage their drivers to switch off their engines while stationary. </p>
<p>Black cabs account for around a quarter of PM10 emissions in central London with up to 15 per cent of that estimated to be as a result of taxi drivers leaving their engines idling when stationary.</p>
<p>The first part of a green infrastructure programme has also begun. </p>
<p>Fifty planted towers have been placed along Lower Thames Street, which is a PM10 hot spot. </p>
<p>The 6ft-tall planters will contain bedding plants to help trap particulate matter and will be replaced with ivy in the winter. </p>
<p>Other green infrastructure, including green walls and trees, will be planted at other PM10 pollution hot spots across London.&nbsp; </p>
<h2>Improving air quality</h2>
<p>Studies across Europe and the USA have shown the potential of vegetation, including trees and plants, to trap PM10.</p>
<p>The Clean Air Fund measures will be used flexibly where PM10 levels are highest, allowing for the fact that London's pollution levels can be weather dependent and influenced by pollution from outside the Capital. </p>
<p>Garrett Emmerson, Chief Operating Officer at TfL, said: 'We are beginning to implement a number of projects from the Clean Air Fund now and Londoners are likely to start noticing these. </p>
<p>'These are measures we can introduce to target local PM10 hot spots and put in place fairly quickly and build on our continuing work to improve air quality across London. </p>
<p>'The results of the dust suppressant trial are especially encouraging and prove that initiatives like this can work.'</p>
<p>The Clean Air Fund will fund the following initiatives:</p>
<ul>
<li>Taxi marshalling and management</li>
<li>A campaign to encourage drivers to switch off their engines when stationary</li>
<li>The expansion of the Cleaning and Application of Dust Suppressants trial</li>
<li>Trials of green walls and screens and additional tree planting</li>
<li>The installation of Diesel Particulate Filters to buses on selected routes</li>
<li>A programme of business engagement to promote greener travel and reduce their air quality impact</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In March 2011, the Greater London Authority wrote to the DfT asking for funding in order to develop additional measures focused on reducing PM10 emissions and public exposure at the priority locations in central London. A total of &pound;5m as part of the Clean Air Fund was awarded and the money has to be spent this financial year (2011/12)</li>
<li>Dust Suppressants:</li>
<ul>
<li>Two further vehicles will be converted to spray the dust suppressant, further monitoring, analysis and optimisation of the application, targeted cleaning and the implementation of wider trials at locations such as construction sites</li>
<li>Construction companies operating in priority locations will trial the application of dust suppressants to reduce the amount of dust emitted during construction</li>
<li>PM10 levels are monitored through the London Air Quality Network (LAQN), though to understand the impacts of dust suppressants portable Osiris monitors were located on Victoria Embankment</li>
<li>Read the <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/17246.aspx">trial report</a></li>
<li>Monitoring of the dust suppressant trial commenced on 15 October 2010, application of the dust suppressant began on 18 November 2010 and the study ended on 18 April 2011</li>
<li>The interim results from the first year of the trial will be used to inform the ongoing programme of implementation, analysis and monitoring</li>
<li>The results from the trial focussed just on the Victoria Embankment site to make the best use of limited resources and to identify an understanding of the types of results which could be expected in one location before attempting to replicate the effects in a number of locations</li>
<li>Dust suppressants have been trialled in Sweden, Norway, Austria, Italy and Germany</li>
<li>The first year of the project was delivered in partnership with Ringway Jacobs, one of TfL's Highways Maintenance and Works contractors</li></ul>
<li>Eco Marshals:</li>
<ul>
<li>They will be deployed in central London, with a focus on busy mainline station taxi ranks including Charing Cross, Euston, King's Cross, Liverpool Street, Marylebone, Paddington, and Victoria</li>
<li>The advice the eco-marshals will be giving out include:</li>
<ul>
<li>Switch off your engine when waiting at ranks to help reduce pollution levels both outside and inside your taxi</li>
<li>Keep your tyres pumped up and check the pressure regularly</li>
<li>Maintain smooth and progressive braking and acceleration to reduce emissions and save fuel and wear and tear on your vehicle</li>
<li>No Engine Idling</li></ul></ul>
<li>PlantedTowers</li>
<ul>
<li>Will be planted with summer bedding which will be replaced with ivy for the winter</li>
<li>These stand-alone planted towers are being used to trial the benefits of green screens (vegetated barriers), they are seen as a viable option for the roadside, where footways are wider, as they will not provide barriers to pedestrian movement or impede visibility</li>
<li>The Air Pollution Research in London Group is helping to evaluate the air quality and wider environmental and climatic benefits of the green infrastructure measures</li>
<li>Locations of other green infrastructure including green walls, tree and shrub planting will be announced in the autumn</li></ul>
<li>Hybrid Buses</li>
<ul>
<li>For buses, significant action is already underway to reduce further their emissions of air quality pollutants, including the introduction of hybrid buses to the fleet. TfL plans to deliver 300 hybrid buses by the end of 2012, having benefited from two &pound;5m grants from the Government's Green Bus Fund. The pace of the roll out of hybrid buses beyond 2012 will be dependent on funding being available and the rate at which vehicle production costs fall as volumes increase. TfL will work closely with bus operators and manufacturers to maximise the number of hybrids introduced after 2012</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Successful dust suppressant trial is expanded.'No Engine Idling' campaign kicks off with eco-marshals working at taxi ranks.Greening infrastructure installed to trap pollution on Lower Thames Street.Transport for London (TfL) has announced a package of";}
        
        


 