


@{ViewBag.Title = "Work continues in London Bridge Station area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work continues in London Bridge Station area</h1>
        <div class="content-page-press-release">
        15 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Weekend closure of London Bridge bus station and taxi rank to enable continuing Thameslink works.
        
    </div>



 <div class="on-this-page">
<p>Continuing works by Network Rail in the London Bridge area will mean that London Bridge bus station will be closed to buses and taxis this weekend. </p>
<p>The work, part of the Thameslink Project, means that London Bridge bus station will have to close between 00:01 Saturday 20 August until 05:00 on Monday 22 August.&nbsp; </p>
<p>Buses will call at nearby stops on London Bridge instead.&nbsp; </p>
<p>Bus routes affected are numbers 17, 43, 48, 141, 149, N21 and N343.&nbsp; </p>
<h2>Onward journeys</h2>
<p>Revised stopping arrangements will be clearly displayed on posters around the bus station, in local bus stops and on the Transport for London (TfL) website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>.&nbsp; </p>
<p>Passengers are advised to allow extra time to complete their journeys.</p>
<p>Taxis will also be unable to serve the rank at London Bridge bus station but passengers will be able to catch taxis from the ranks on Tooley Street&nbsp;located near the entrance to the London Dungeon attraction. </p>
<p>Taxi marshals will be available to assist with any onward journeys between 08:00 and midnight on Saturday 20 August and 08:30 and midnight on Sunday 21 August. </p>
<h2>Local traffic management</h2>
<p>The works this weekend include lifting into place four steel girders which will form part of a new viaduct above Station Approach. </p>
<p>Continuing resurfacing and paving works on Borough High Street are not affected by these station works with local traffic management remaining in place to ensure smooth traffic flow.</p>
<p>Additional work to transform London Bridge bus station will take place later this year with further details being made available near that time.</p>
<p>TfL&nbsp;would like to apologise for any inconvenience these temporary changes may cause. </p>
<h2>Unlocking capacity</h2>
<p>When the project is complete it will deliver improvements to the rail station, Underground station and bus station. </p>
<p>Borough Viaduct will double the number of tracks heading north from London Bridge, unlocking extra capacity at London Bridge and reducing delays for passengers coming into London from the South East. </p>
<p>Full details are available online at&nbsp;<a href="http://www.thameslinkprogramme.co.uk">www.thameslinkprogramme.co.uk</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>While Network Rail does not envisage any delays to these works, inclement weather may cause unavoidable delays.&nbsp;Weekends of 27-28 August, 3-4 September and the 10-11 September have been set aside for contingency with separate notification to be issued if&nbsp; the need should arise</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Continuing works by Network Rail in the London Bridge area will mean that London Bridge bus station will be closed to buses and taxis this weekend. The work, part of the Thameslink Project, means that London Bridge bus station will have to close between";}
        
        


 