


@{ViewBag.Title = "Zip through the new academic year with your 16+ Zip Oyster photocard";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Zip through the new academic year with your 16+ Zip Oyster photocard</h1>
        <div class="content-page-press-release">
        26 August 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With the end of summer fast approaching, Transport for London (TfL) want to encourage all 16-17 year olds in the Capital to fill in their 16+ Zip Oyster photocard form which will be coming through the post in the next few days.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'I want to urge all 16-17 year olds in the Capital to make the most of the Zip scheme. Last year, over 177,000 young people made the most of their 16+ Zip Oyster photocard which gave them free travel on buses and trams.
                            
                        </p>
                    </div>
                
            
            
            <p>Any young person who does not receive one should collect an application form from the Post Office from 1 September. </p>
<p>The scheme allows any young Londoner who lives in one of the Capital's 33 boroughs to apply for the 16+ Zip Oyster photocard. </p>
<p>Applicants who live outside London can apply for their 16+ Oyster photocard at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a>.</p>
<p>The 16+ Oyster photocard offers free travel on buses and trams and half adult rate on other TfL services to those young Londoners studying a Level 3 course, apprenticeship or training course funded by the Young People's Learning Agency and some courses funded by the Skills Funding Agency. </p>
<p>Their school, college or training provider will be able to tell them if their course qualifies.</p>
<p>Once both they and their parent or guardian have filled in their parts of the form, they need to take it to their education establishment or skills programme provider to also sign the application form.</p>
<p>16-18 year olds who are not in education or a programme should also fill in their forms and return them, as the 16+ Oyster photocard will give them half&nbsp; adult rate travel on all TfL services.</p>
<p>Applications can be submitted from 1 September 2011.</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing said:</p>
<p>'I want to urge all 16-17 year olds in the Capital to make the most of the Zip scheme and to fill in their forms when they receive it. Last year, over 177,000 young people made the most of their 16+ Zip Oyster photocard which gave them free travel on buses and trams. Over 12,000 other young people made the most of their half rate travel concession. </p>
<p>'Concessionary travel is a privilege not a right. All Zip card holders have to sign up to a Behaviour Code when they apply for their card and this is strictly enforced. Anyone abusing the Behaviour Code will have this privilege revoked.'</p>
<p>If you were under 16 on 31 August before the start of the new academic year (2011/2012), you can apply for an 11-15 Zip Oyster photocard. </p>
<p>This entitles the holder to travel free on buses and trams and to buy Travelcard season tickets and pay as you go at child-rate.&nbsp;</p>
<p>Applications for the 11-15 Oyster photocard can be made online at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a>&nbsp;</p>
<p>Application forms can also be obtained from Post Offices in London. </p>
<p>
<hr>
<strong>Notes to Editors</strong>
<ul>
<li>16+ applicants cannot apply until 1 September 2011 </li>
<li>Over 16s can also be eligible for concessionary travel with the 16+ Oyster photocards. As of 26 July 2011, there are 177,372 16+ Oyster photocard holders that have the free bus and tram concession and 12,949 that have the half-rate travel concession </li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at half adult rate and pay as you go at half&nbsp; adult-rate, even if they don't qualify for free bus and tram travel </li>
<li>Holders of 16+ Oyster photocards moving into a second year of education or training, and holders of under 16 Oyster photocards that are due to expire on 30 September 2011, should be sent a partially completed application form to their home address. Once both they and their parent/guardian have signed it, and got their education provider to complete their part, and enclosed payment of &pound;10, they can send it direct to TfL, without having to go to the Post Office </li>
<li>Applications for the 16+ card will be available from and accepted at Post Offices from 1 September.&nbsp;These must be submitted by 15 September to ensure applicants receive their new 16+ Oyster photocards by 30 September 2011 </li>
<li>Applications for the 11-15 Zip Oyster photocard can be made up to one month before the applicant's 11th birthday </li>
<li>There are currently 537,359 cardholders on the under-16 Oyster photocard schemes as of 27 June 2011 </li>
<li>Under 16s can buy child-rate off-peak Day Travelcards for &pound;3 and on Tube services pay child-rate cash single fares without a Zip Oyster photocard.&nbsp;The 11-15 Zip Oyster photocard allows child-rate pay as you go which is cheaper than cash fares. They can also buy child-rate Travelcard season tickets with an Oyster photocard </li>
<li>11-15-year-olds who do not have a valid Oyster photocard must pay the full adult cash fare on buses and trams until they get one </li>
<li>A non-refundable &pound;10 administration fee will be payable for all applications for Zip Oyster photocards. The &pound;10 charge is to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage </li>
<li>All Zip Oyster photocard applications made at the Post Office need to be supported by proof of identity and address of the parent/guardian signing the application form and a photograph and proof of age of the applicant at the time of application. 16+ applicants for free travel need to have their forms signed by their school, college or training provider and provide proof that they live in a London borough </li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder can get a replacement online at tfl.gov.uk/photocard.&nbsp;They'll have to pay a non-refundable fee of &pound;10 </li>
<li>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese </li>
<li>Non-London residents are also able to apply for a Zip Oyster photocard at tfl.gov.uk/photocard and are also subject to the &pound;10 administration fee </li>
<li>Application forms for Zip Oyster photocards can be obtained from Post Offices in London.&nbsp; 16+ applications from non London residents can be made online at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Any young person who does not receive one should collect an application form from the Post Office from 1 September. The scheme allows any young Londoner who lives in one of the Capital's 33 boroughs to apply for the 16+ Zip Oyster photocard. Applicants";}
        
        


 