


@{ViewBag.Title = "Andy Lord appointed new MD of London Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Andy Lord appointed new MD of London Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Andy Lord appointed new MD of London Underground</h1>
        <div class="content-page-press-release">
        15 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Previously Executive Vice President at Menzies Aviation (EMEAI) to join London Underground from November 2019
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am delighted that Andy has agreed to become the new Managing Director for London Underground. He brings more than 30 years of experience from the aviation industry, with a heavy focus on engineering, people leadership and customer service and a wealth of experience in delivering safe and reliable transport services."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Move to TfL follows 30 year career in aviation, including at British Airways</li>
	<li>Nigel Holness, who is the current Managing Director, to now leave to take up his previously announced position of Chief Executive of Metro Trains Sydney</li>
</ul>

<p>Transport for London (TfL) has announced that Andy Lord will join TfL from 4 November 2019 at its new Managing Director of London Underground and TfL Engineering.</p>

<p>Andy was previously Executive Vice President for Menzies Aviation, covering the European, Middle East, Africa and India (EMEAI) market, where he led on negotiating strategic contracts, improving safety and operational performance and profitably growing the business.&nbsp; He is also a Non-Executive Director for Defence Equipment and Support, Ministry of Defence.</p>

<p>Andy spent more than 25 years at British Airways.&nbsp; Having joined as a sponsored Engineering undergraduate, he progressed to a variety of senior roles across the airline finally serving as their Director of Operations from 2008 to 2015.</p>

<p>The appointment of Andy Lord now means that Nigel Holness, who is the current Managing Director of London Underground following Mark Wild's appointment as the new CEO of Crossrail Limited, will be leaving the organisation to take up his previously announced position of Chief Executive for Metro Trains Sydney.&nbsp; Mark Wild will stay as the CEO of Crossrail Limited until the full opening of the Elizabeth Line.</p>

<p>Over the next few months before Andy joins TfL, Vernon Everitt, the Managing Director of Customers, Communication &amp; Technology, will cover the Managing Director of London Underground position and will work with the leadership team to ensure there is a strong business plan and a safe and reliable Tube service.</p>

<p>London's Transport Commissioner, Mike Brown MVO, said:</p>

<p>'I am delighted that Andy has agreed to become the new Managing Director for London Underground. He brings more than 30 years of experience from the aviation industry, with a heavy focus on engineering, people leadership and customer service and a wealth of experience in delivering safe and reliable transport services. I am sure his fresh viewpoint and knowledge will help us continue to deliver reliable and improved services for our customers.</p>

<p>'I also want to thank Nigel Holness for all his work for London Underground over his career and agreeing to be Managing Director following Mark Wild's move to Crossrail Limited. Nigel has been instrumental in helping to deliver new signalling, improved and more accessible stations and the introduction of the Night Tube. We wish him all the best in his new role in Australia.'</p>

<p>Andy Lord, new Managing Director of London Underground, said:</p>

<p>'I'm delighted to be joining TfL at such an exciting time and to be working with the fantastic team at London Underground who are so critical to delivering day in, day out for London.'</p>

<p>Every day, around five million journeys are made using London Underground, with 7 December 2018 as the busiest day in the Tube's 155 year history. Across the network, millions of pounds of investment is being made, including new walk-through trains on the Piccadilly line, delivering new signalling to increase capacity through central London and major station improvements which is increasing the number of step-free stations across the city.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>Andy Lord will receive a base salary of &pound;285,000</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Andy Lord appointed new MD of London Underground -->

 
 
        
        
            @{ViewBag.Description = "Andy Lord appointed new Managing Director of London Underground";}
        
        


 