


@{ViewBag.Title = "Cabbies take up &pound;30m of new green grants to help switch to cleaner vehicles";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cabbies take up £30m of new green grants to help switch to cleaner vehicles</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cabbies take up £30m of new green grants to help switch to cleaner vehicles</h1>
        <div class="content-page-press-release">
        05 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All 1,250 payments of &pound;10,000 for taxi drivers ditching older, polluting cabs now assigned
        
    </div>



 <div class="on-this-page">
<p>London's taxi drivers are embracing the city's bid to clean up its toxic air, with Transport for London (TfL) today confirming that all of the 1,250 top payments for taking the most polluting taxis off the road have been taken advantage of by cabbies. Applications have now been received for around &pound;30m of the wider &pound;42m delicensing fund, supporting drivers wishing to delicense older, more polluting taxis early.</p>

<p>At the start of this year, TfL restructured a green fund that doubled the top grant to &pound;10,000 for those wanting to swap their diesel car for a cleaner zero-emission capable model. The Mayor of London increased the size of this fund to &pound;42m, meaning that &pound;10,000 payments were available to the first 1,250 taxi drivers to sign up. Payments to encourage the uptake of zero-emission capable cabs will continue on a sliding scale and are made on a first come, first served basis. Payments are still available at the &pound;8,000 threshold for drivers now looking to take advantage of the scheme.</p>

<p>The transformation of London's black cab fleet to zero emission is continuing to accelerate, with close to 2,000 of the iconic vehicles now on London's roads. This follows the requirement from January 2018 that all new taxis licensed for the first time are zero-emission capable (ZEC).</p>

<p>Taxis are currently responsible for 25 per cent of harmful NOx emissions and next year they will be the biggest source of transport pollution in central London. The capital's toxic air health crisis currently leads to thousands of premature deaths annually, and increases the risk of asthma, cancer and dementia.</p>

<p>To ensure London returns to being on track to reduce emissions from taxis by 65 per cent by 2025, TfL has also now confirmed the age limit for black cabs will be reduced to 12 years for Euro 3, 4 and 5 taxis by 2022. From November, the current 15-year age limit will apply to the anniversary of the date when the vehicle was licensed, with a proposed reduction in the age limit to 14 years from November 2020 and an annual reduction of one year each year until the 12-year age limit is reached. Euro 6 taxis, those converted to liquid petroleum gas (LPG) which reduces NOx emissions from taxis by over 70 per cent, and ZEC taxis will retain the 15-year age limit. TfL retains the ability to grant exemptions to the age limit requirements on a case by case basis.</p>

<p>Alongside the &pound;42m delicensing scheme, the switch to electric is being supported by a &pound;7,500 plug-in grant from the Government for those buying a zero-emission vehicle. TfL is also providing &pound;5m of financial aid for those cabbies converting Euro 5 taxis to LPG.</p>

<p><strong>Alex Williams, TfL's Director of City Planning, said: &quot;</strong>Fossil fuels are a major contributor to the public health emergency we face in London, with our toxic air having a damaging effect on people's health. It is great to see how keen London's black cab drivers have been to make the switch from their diesel vehicles to electric. The air quality crisis means it is an imperative to reduce the maximum age limit for taxis. We will continue to support taxi drivers in making the transition to zero emission with a range of grants and an ever expanding rapid charge point network.</p>

<p>&quot;Road transport is responsible for half of the capital's harmful NOx emissions. We are taking bold action to safeguard the health of Londoners. In April we introduced the Ultra Low Emission Zone with some of the toughest pollution standards in the world and there are now 165 zero-emission buses on the road - with the whole fleet being rapidly cleaned up. We are also working with the freight industry to introduce micro-consolidation centres and electrify their vehicles.&quot;</p>

<p>London's rapid charge point network far exceeds those in other cities, including New York, Amsterdam and Madrid, with 188 in the ground&nbsp;and 73 dedicated solely to electric black cabs. This is supported by 1,100 residential lamppost charging points installed by London's boroughs.</p>

<p>There will be at least 300 rapid charging points by the end of&nbsp;next year. To plan for the future, the Mayor has set up an Electric Vehicle Infrastructure Taskforce, bringing together transport industry representatives, local government and private sector energy providers. The taskforce has put forward a number of initiatives to meet London's future charging needs, including:</p>

<ul>
	<li>Installing the next generation of ultra-rapid charging points at London petrol stations later this year</li>
	<li>Delivering five flagship charging hubs, which have the ability for multiple cars to quickly be charged in one place. The first of these hubs will be operational in the Square Mile by the end of the year</li>
	<li>A new 'one-stop shop' for Londoners to request new charging infrastructure from their local authority in areas of high demand led by London Councils, making it easier for drivers to switch to electric vehicles</li>
</ul>

<p>The Licensed Taxi Drivers Association (LTDA) is investigating potential technological solutions to retrofit Euro 5 diesel taxis to meet Euro 6 standards. TfL will keep this under review and if a Euro 6 retrofit is approved TfL will consider ways to incorporate retrofitted Euro 5 taxis in the new Conditions of Fitness and age limits. If such vehicles can be shown to meet the required Euro 6 emissions standards in real world driving conditions they could be eligible for the 15-year age limits in the same way as factory standard Euro 6 taxis. TfL will work with the LTDA to look at how any such retrofit solution that may come forward could be applied in practice.</p>

<p>At the same time as helping taxis get cleaner, TfL and the Mayor are working to ensure that the taxi trade continues to flourish. After listening to the views of the taxi trade in the recent Tooley Street consultation, black cab drivers will continue to be able to access the road from Borough High Street. The other changes proposed aimed at making the street safer for everyone will go ahead. These include a 20mph speed limit, a two-metre wide mandatory cycle line, which is part-segregated by wands and the limiting of access for other motor vehicles.</p>

<p><strong>Jemima Hartshorn from Mums for Lungs, said:</strong> &quot;We are delighted to hear that taxi drivers are getting cleaner vehicles and thereby supporting the struggle against air pollution that we are fighting for everyone's health. We need to address air pollution head-on and ensure that no policy or planning decision is made across the country without considering this public health emergency and climate crisis.&quot;</p>

<p><strong>Dr Penny Woods, Chief Executive of the British Lung Foundation, said:</strong> &quot;Air pollution is a very real and very imminent threat to all of our lung health, so it's great to see another step forward in the fight to clean up London's toxic air. Cabbies are a vital part of the capital, and we welcome this move to keep them and their passengers safe. We look forward to seeing even bolder action from TfL, including the expansion of the ULEZ so that even more Londoners can benefit from breathing clean air.&quot;</p>

<p><strong>Darren Shirley, Chief Executive of Campaign for Better Transport, said:</strong>&nbsp;"With Londoners breathing illegal levels of air pollution, and transport the largest contributor to greenhouse gas emissions, a rapid switch to zero emission vehicles is needed. Cleaning up London's polluting taxi fleet and introducing more electric taxis is an important area that Transport for London is progressing, as are improvements to infrastructure including access to more fast charge points.</p>

<p>&quot;London's cabbies embracing the shift to zero emission vehicles will be a key element in reducing emissions and improving air quality in the capital. But we still need to see more being done to speed up the transition to zero emission vehicles across the country.&quot;</p>

<p><strong>Notes to editors</strong></p>

<p>TfL will retain the ability to consider individual applications and to grant exceptions to the age limits where it is considered justified to do so</p>

<p>A new model of zero-emission taxi is expected on the market by the end of the year, which will increase competition</p>

<p>The consultation on changing taxi age limits can be found here: https://consultations.tfl.gov.uk/tph/taxi-age-limits/</p>

<p>The proposed changes that will go ahead of the Tooley Street project are as follows:</p>

<ul>
	<li>Introducing a 20mph speed limit along the entire length of Duke Street Hill/Tooley Street (between Borough High Street and Tower Bridge Road)</li>
	<li>Introducing a two-metre wide mandatory cycle lane westbound, on Duke Street Hill/Tooley Street, running between Borough High Street and Bermondsey Street junctions, separated from traffic with wands on the Duke Street Hill section</li>
	<li>Introducing a protected right turn 'pocket' for cyclists waiting to turn right into Bermondsey Street from Tooley Street</li>
	<li>Making Duke Street Hill no entry, apart from cyclists, buses and taxis, from the junction with A3 Borough High Street. This will mean that eastbound traffic along Duke Street Hill and Tooley Street as far as the junction with Bermondsey Street is restricted to buses, cycles and taxis only</li>
</ul>

<p>Restricting access from side roads onto Tooley Street to westbound travel only. Any motorised vehicle turning onto Tooley Street from the following roads will not be able to turn onto and travel eastbound towards Bermondsey Street:</p>

<ul>
	<li>Tooley Street onto Duke Hill Street</li>
	<li>Bridge Yard onto Tooley Street</li>
	<li>Cottons Lane onto Tooley Street</li>
	<li>Hay's Lane onto Tooley Street</li>
	<li>Battlebridge Lane onto Tooley Street</li>
</ul>

<p>The consultation on changing access to Tooley Street can be found here: <a href="https://consultations.tfl.gov.uk/roads/tooley-street/">https://consultations.tfl.gov.uk/roads/tooley-street/</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Cabbies take up £30m of new green grants to help switch to cleaner vehicles -->

 
 
        
        
            @{ViewBag.Description = "Cabbies take up £30m of new green grants to help switch to cleaner vehicles";}
        
        


 