


@{ViewBag.Title = "Lowest number of road deaths, but challenges remain to achieve Vision Zero";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Lowest number of road deaths, but challenges remain to achieve Vision Zero</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Lowest number of road deaths, but challenges remain to achieve Vision Zero</h1>
        <div class="content-page-press-release">
        25 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The number of people killed on London's roads fell to the lowest level on record in 2018, to 111 fatalities
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're calling on everyone across London to take care while travelling and look out for each other, as safe behaviours can save countless lives and prevent families, friends and entire communities of people from experiencing this unnecessary suffering"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Reid</div>
            <div class="quotee-job-title">Director of Vision Zero at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published 2018 casualty statistics, showing that the number of people killed on London's roads fell to the lowest level on record. However, this still means that 111 people were killed and a further 3,954 suffered serious injuries.</p>

<p>Released today alongside national statistics, the data highlights that urgent and continued action is needed to eliminate death and serious injury and prevent more families, friends and communities from experiencing the devastation of road trauma.</p>

<p>It comes partway through Vision Zero week (22 &#45; 28 July), as the Mayor and TfL mark a year since they launched a bold Vision Zero Action Plan to eliminate all deaths and serious injuries from London's streets by 2041.</p>

<p>To help raise the profile, TfL are running a video campaign with victims of road trauma to show that behind every statistic there's a story.</p>

<p>During 2018, people walking, cycling and riding motorcycles made up around 80% of all people killed on London's roads, with 90 deaths, which is why TfL will continue to focus efforts on making streets safer for the people most at risk.</p>

<p>The number of people killed while walking fell from 73 to 56, but still makes up a shocking 50% of all deaths. There were 12 people killed while cycling in 2018, with a further 770 suffering serious injuries.</p>

<p>This is unacceptable and the safety of vulnerable road users is a priority for TfL, which is developing the world's first standard to eliminate lethal blind spots from Heavy Goods Vehicles, transforming dangerous junctions and investing in protected cycling route.</p>

<h2>Free training courses</h2>

<p>Motorcyclist fatalities fell to the equal lowest level on record in 2018, from 31 to 22, but they made up 20% of all deaths despite making up just one per cent of journeys.</p>

<p>Already this year there have been 17 people killed while riding motorcycles and TfL is committed to working with all concerned, including riders, to address this worrying trend.</p>

<p>The range of action includes free training courses, which boost rider confidence, skills and knowledge before and after Compulsory Basic Training (CBT).</p>

<p>This is alongside education campaigns, improvements to roads and junctions and enforcement against dangerous vehicles and behaviour to protect motorcyclists.</p>

<p>TfL recently held a consultation about plans to reduce speed limits to 2020 on TfL roads in central London, as part of its Vision Zero commitment.</p>

<p>The 8.9km of earmarked roads includes Millbank, Albert Embankment, Victoria Embankment and Borough High Street.</p>

<p>Speed is a factor in a significant number of collisions where a person dies or is seriously injured across London, and new lower speeds for central London are vital to protect people walking, cycling and riding motorcycles.</p>

<p>Meanwhile since 2016, the Mayor's cycling plan has doubled the amount of protected cycling infrastructure built in the capital to make cycling safer, with 116 kilometres of protected cycle lanes now complete or under construction in London.</p>

<h2>Safer Junctions scheme</h2>

<p>TfL's Safer Junctions scheme is making life-saving changes to 73 junctions across the capital. Work has already been completed at 30 of them, which has led to a 26% reduction in collisions so far.</p>

<p>In addition, TfL is working to remove the most dangerous lorries from London's roads with the world-leading Direct Vision Standard. Direct Vision has been incorporated into the European Commission's General Safety Review, meaning it will be required across Europe.</p>

<p>Last year TfL published its plans to make buses in London the safest in the world, with the Bus Safety Standard a key part of its Bus Safety Programme.</p>

<p>While buses with the world-leading safety standards haven't yet entered London, there are indications that the overall programme, which includes bus driver training, is starting to take effect.</p>

<p>The number of people killed or seriously injured in or by a bus fell by 8% to the lowest number on record &#45; a 59% reduction on the 2005-09 baseline.</p>

<p>Stuart Reid, Director of Vision Zero at TfL, said: '2018 saw the lowest number of deaths on record, but we cannot rest on our laurels. It is not acceptable for even one person to die or to be seriously injured on our roads and we are working tirelessly with our partners to reach our Vision Zero target.</p>

<p>'We're calling on everyone across London to take care while travelling and look out for each other, as safe behaviours can save countless lives and prevent families, friends and entire communities of people from experiencing this unnecessary suffering.'</p>

<h2>We are never complacent</h2>

<p>Chief Superintendent Colin Wingrove, OCU Commander for Roads and Transport Policing said: 'Whilst the number of deaths on London's roads in 2018 decreased, recent tragic fatalities ensure we are never complacent, and we wish to prevent the devastating consequences to families, friends and communities.</p>

<p>'Along with TfL and the Mayor's Office, the MPS will strive to eradicate deaths and serious injuries on London's road.</p>

<p>'We will continue to focus on priority locations and random roadside patrols, and crack down on high-risk drivers and riders who pose a significant risk to other road users and pedestrians to remove them from our streets.</p>

<p>'We can all do things to reduce road danger, and together we can save lives and save the long term life changing trauma of serious injury.'</p>

<p>Inspector Myles Hilbery, from the City of London Police's Roads Policing Unit, said: 'The aims and objectives of Vision Zero are something we focus on day in day out here in the City through enforcement and education of all road users.</p>

<p>'No death or serious injury is acceptable or inevitable. We will continue to work with all of our Vision Zero partners across London to target those behaving dangerously, carelessly or illegally on the roads and make the aims of Vision Zero a reality.'</p>

<p>Working with the police, TfL is ramping up enforcement against drivers who cause risk on the road by speeding, using a mobile phone, driving carelessly or in unsafe vehicles.</p>

<p>This is in addition to education schemes, such as the innovative Junior Roadwatch which sees speeding drivers questioned by schoolchildren alongside the police.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>In 2018, there were 111 road deaths, including:</p>

<ul>
	<li>56 people walking</li>
	<li>22 people riding motorcycles</li>
	<li>16 car occupants</li>
	<li>12 people cycling</li>
	<li>4 'other vehicle' occupants, which includes taxi and private hire occupants, mobility scooters and horse and trap riders</li>
	<li>1 bus or coach occupant</li>
</ul>

<p>The data is available here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/road-safety">tfl.gov.uk/corporate/publications-and-reports/road-safety</a></p>

<p>The number of fatalities fell from 131 in 2017 to 111 in 2018, which is the lowest level on record</p>

<p>The Vision Zero action plan is available here: <a href="http://content.tfl.gov.uk/vision-zero-action-plan.pdf">http://content.tfl.gov.uk/vision-zero-action-plan.pdf</a></p>

<p>TfL launched its 'Know My Name' campaign this week to share the stories of five victims of road trauma to communicate the impact it has on people's lives. The campaign helps people understand that each statistic has a story. Contact us for access to the full case study videos.</p>

<p>Further details on the Bus Safety Programme can be found here: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/bus-safety">https://tfl.gov.uk/corporate/safety-and-security/road-safety/bus-safety</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Lowest number of road deaths, but challenges remain to achieve Vision Zero -->

 
 
        
        
            @{ViewBag.Description = "Lowest number of road deaths on record, but challenges still remain for London to achieve Vision Zero";}
        
        


 