


@{ViewBag.Title = "Plans for new walking and cycling link in east London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans for new walking and cycling link in east London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans for new walking and cycling link in east London</h1>
        <div class="content-page-press-release">
        17 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and Hackney Council set out plans for new Cycleway between Lea Bridge and Dalston which would transform streets making it easier to get around on foot and by bike
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By reducing car use and making our streets greener we will also ensure our streets are more accessible and welcoming"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>First stage of route, between Dalston and Clapton, includes dedicated cycle crossings, new pedestrian crossings and traffic calming measures</li>
	<li>People are invited to have their say on the first phase of TfL's plans before 9 September</li>
</ul>

<p>Transport for London (TfL) has set out the first phase of its proposals to transform streets in east London, by linking Dalston and Clapton with a new Cycleway to make it easier and safer for people to cycle and walk.</p>

<p>It is part of a wider route between Lea Bridge and Dalston which would link with the recently expanded Cycleway network in Waltham Forest, where over 7km of segregated cycle track has already been delivered as part of the TfL funded Mini-Holland programme. The route would also complement Hackney Council's Liveable Neighbourhood proposals to introduce protected cycle tracks on Mare Street and provide a connection to central London via CS1.</p>

<p>TfL is now inviting people to have their say on the first phase of the route, between Dalston and Powell Road. TfL's proposals include:</p>

<ul>
	<li>Dedicated cycle crossings across the A10 and providing a new link to Cycle Superhighway 1</li>
	<li>New and upgraded pedestrian crossings</li>
	<li>Changes to streets to reduce through-traffic and the speed of traffic</li>
	<li>Changes to some parking and loading provision</li>
	<li>Upgraded public spaces with more trees and plants</li>
</ul>

<p>The consultation is now open for people to have their say at consultations.tfl.gov.uk/cycling/dalston-to-lea-bridge until Monday 9 September. TfL will consult on its proposals for the second phase of the route, which includes protected cycle tracks and much-needed improvements to Lea Bridge Roundabout, at a later date. This second section will link to Waltham Forest.</p>

<p>Meanwhile construction work to add protected space for people cycling to the CS1 route at Balls Pond Road is set to begin later this year.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said: </strong></p>

<p>'These improvements would enable many more people to walk and cycle by creating a new link between Dalston and Clapton. By reducing car use and making our streets greener we will also ensure our streets are more accessible and welcoming.'</p>

<p><strong>David Hughes, TfL's Director of Investment Delivery Planning, said: </strong></p>

<p>'We're working with communities across London to create walking and cycling routes, which will make it easier and safer for people to get around. Our proposals for Dalston and Clapton would enable thousands more people in the area to make everyday journeys by bike and on foot. I'd encourage everybody to take part in our consultation and to have their say.'</p>

<p><strong>Cllr Jon Burke, Hackney Council Cabinet Member for Energy, Waste, Transport and Public Realm, said:</strong></p>

<p>'Hackney is London's capital of cycling, with a higher cycling rate than any other borough, the most modal filters, and the largest amount of cycle storage, but we need to make it even easier for people to use their bikes. We are working closely with TfL on proposals for this first stage of the Lea Bridge to Dalston cycling route, which will provide a direct cycle route to Dalston and central London via Cycle Superhighway 1 for residents in Clapton and Lea Bridge. I'd urge people to have a look at the plans and get in touch with TfL to let them know what they think.'</p>

<p>The full Cycleway planned between Lea Bridge and Dalston is approximately 3km. The route is being consulted on following TfL's Strategic Cycling Analysis, which used data to identify 25 areas which showed the best potential for growing cycling numbers. Analysis has shown high demand for a cycle route connecting these neighbourhoods.</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28 per cent by 2024, up from nine per cent. TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by 2020.</p>

<p>In 2018, the Mayor's Vision Zero, Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and becoming the best city in the world for walking and the best big city for cycling. These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</p>

<p>The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week. New 2018 data, shows that cycling in London is at record levels with the average daily total distance cycled exceeding 4million kilometres for the first time. Construction on major new routes between Tower Bridge Road and Greenwich and Acton and Wood Lane is underway and TfL is also currently inviting people to have their say on another route between Barking and Barking Riverside.</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Plans for new walking and cycling link in east London -->

 
 
        
        
            @{ViewBag.Description = "TfL and Hackney Council set out plans for new walking and cycling link in east London";}
        
        


 