


@{ViewBag.Title = "TfL doubles funding for cycling and walking programmes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL doubles funding for cycling and walking programmes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL doubles funding for cycling and walking programmes</h1>
        <div class="content-page-press-release">
        30 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than &pound;500,000 available to enable 60 groups to help encourage Londoners of all backgrounds to walk and cycle
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By showing Londoners that walking and cycling are convenient, easy and fun ways to get around, we can improve their health and quality of life, as well as reducing toxic air pollution &#45; improving our city for everyone

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Programme expanded to include walking as well as cycling for the first time</li>
	<li>TfL hope to award funding to at least one project in every London borough</li>
</ul>

<p>Transport for London (TfL) has today announced that applications are open for more than &pound;500,000 of grants for community and not-for-profit groups that encourage people to walk and cycle.</p>

<p>Walking and Cycling Grants London aims to address barriers to walking and cycling amongst traditionally underrepresented groups, helping to make London a more sustainable, inclusive and healthy city.</p>

<p>Previously known as Cycling Grants London, this year the programme has been expanded to include walking projects for the first time. Funding has been doubled to more than &pound;500,000, with the number of grants available also doubling from 30 to 60. This means more Londoners can benefit from the continuing success of the scheme, and TfL hopes to award funding to at least one project in every London borough.</p>

<p>Each community project can apply for funding of up to &pound;10,000 over three years through the programme, which is delivered by Groundwork London. Current and previous initiatives include cycle training, guided rides and courses teaching basic cycle maintenance. Possible future projects may include guided walks, which encourage people to get active.</p>

<p>Cycling projects that received funding in the previous round for 2019 include:</p>

<ul>
	<li>Breaking A Cycle project: Run by the Single Homeless Project, this scheme is engaging more than 120 homeless people in cycling activities.</li>
	<li>Hospital Cycling: Led by Access Sport, this project is running cycling courses for women at two London hospitals, in order to teach them cycling skills, increase their confidence and allow them to become cycling ambassadors for the hospitals.</li>
	<li>Biking with Badu: This project, run by Badu Community CIC, is delivering cycling workshops for young people and their families, from deprived communities, allowing them to become confident cyclists and lead cyclists for groups.</li>
	<li>Venders' Mechanics: This project is delivering a unique training programme for young offenders and those at risk of offending, including bike maintenance skills. Graduates from the course have the opportunity to work for the scheme as mobile mechanics.</li>
	<li>Wheely Tots: Family Fit: The programme runs sessions for 50 families to encourage cycling in under-represented groups. Wheely Tots also offers a mobile fitting service, with a cargo bike and trailer for people to try.</li>
	<li>Cycle Play-Road Show: Led by Stars 'n' Stripes, this project provides a pop up cycle playground aimed at families and caters for all ages. These are themed around road awareness and how to stay safe on the road, but can also be used as an assault course for more advanced cyclists, team building or fun.</li>
	<li>Wheels for Wellbeing: This project focuses on inclusive cycling sessions for Syrian refugee families in Lewisham, giving them a safe space to exercise together.</li>
	<li>Bromley Disability Cycling: Bromley Mencap provides training sessions for people with learning and communication disabilities and their families, to improve their physical, mental and social health and wellbeing.</li>
</ul>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said: </strong></p>

<p>'I'm delighted that walking projects can now also benefit from our expanded grants, and I'm proud that we've doubled the funding available.</p>

<p>'By showing Londoners that walking and cycling are convenient, easy and fun ways to get around, we can improve their health and quality of life, as well as reducing toxic air pollution &#45; improving our city for everyone.'</p>

<p>As part of the Mayor's Transport Strategy, the Mayor has set a target to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, compared to 64 per cent now. Encouraging more Londoners to walk more and take up cycling is an important part of this work.</p>

<p><strong>Miranda Leedham, Head of Customer Marketing and Behaviour Change at TfL, said: </strong></p>

<p>'We're pleased to be expanding this programme, which is targeting the barriers that can put people off getting active. We've seen more than 120 projects benefit from our Cycle Grants funding over the years and are looking forward to seeing even more Londoners of all ages and backgrounds get active with our increased funding.'</p>

<p>TfL's Cycling Grants London programme has helped 120 projects encourage more than 16,000 people to cycle. It has helped contribute to the biggest increase in the amount of cycling in London since records began, with a daily average of 4 million kilometres cycled in 2018.</p>

<p>This is five per cent higher than in 2017.</p>

<p><strong>Martin Petry, Programme Manager (Grants) for Groundwork London, said: </strong></p>

<p>'We're delighted to see the expansion of cycling grants, which is set to become an even more inclusive programme through the introduction of funding for walking projects. We are excited at the prospect of seeing even more of London's diverse communities participate in sustainable, active travel.'</p>

<p><strong>Ellenie Ariotti, Bike It Plus Office for Sustrans, said:</strong></p>

<p>'Through our TfL funding we have been able to offer young people who are struggling in the classroom an alternative - the chance to learn from a trained mechanic and to fix their own bike. Learning practical skills and seeing the improvement to their own bike gives these young people confidence in their ability to learn and improve. They're also much more likely to cycle on a bike that they are proud to have fixed.</p>

<p>'This project has been an investment in the tangible requirements of a cycling project, but it has also been an investment in young people and the future of cycling in London.'</p>

<p><strong>Eloise Moller, Sport and Health Programme Manager for Single Homelessness Project (SHP), said: </strong></p>

<p>'The 'Breaking A Cycle' project is enabling SHP clients to learn to cycle for the first time, teaching them how to look after and maintain their bikes, and valuable road safety lessons. The project provides a fun, safe social setting for our clients to engage in an activity they would normally be excluded from and offers a free mode of transport for them.'</p>

<p><strong>Jade Dalton, Physical Activity Manager at Open Age, said: </strong></p>

<p>'Whilst many older adults dream of being able to ride a bike, many don't have the confidence or resources to be able to fulfil this independently. With the help of Cycling Grants London, Open Age purchased bikes and helmets and set up a series of 4-week beginner courses in both Westminster and Hammersmith and Fulham supported by instructors. The outcomes and feedback so far have been amazing, with one particular participant having a smile from ear to ear when she finally got her balance on the bike after persisting for many weeks! This would all not have been possible without the support and funding from Cycling Grants London.'</p>

<p><strong>Stephen Edwards, Director of Policy &amp; Communications at Living Streets the charity for everyday walking said:</strong></p>

<p>'Walking is great for our health, our air quality and the economy. It's easy, accessible and the more of us doing it, the better local areas feel to all. It's great to see TfL expand this important grant fund to include walking projects for the first time. It is vital to continue to invest to address barriers to walking, especially amongst harder to reach groups.'</p>

<p><strong>Sarah Gibb, Director of Time &amp; Talents, which runs the Cycling Without Age project, said: </strong></p>

<p>'Whether housebound, living in a care home or in sheltered housing, Southwark's older people are regularly enjoying Cycling Without Age rides around local parks and other open spaces. They are often accompanied by their Time &amp; Talents befriender who, along with our volunteer cycling 'pilots', all tell us how much they enjoy this activity and exercise. Our grant enables us to reach older people and to connect them to local residents from all walks of life to have fun, form friendships and feel the wind in their hair.'</p>

<p>Applications are open until 16 September 2019. People can apply and view the different projects, which are already running across London, here: <a href="[ioID]#www.wcgl.london">www.wcgl.london</a> &nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-TfL doubles funding for cycling and walking programmes -->

 
 
        
        
            @{ViewBag.Description = "TfL doubles funding available for community groups, with walking projects eligible for the first time";}
        
        


 