


@{ViewBag.Title = "TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities</h1>
        <div class="content-page-press-release">
        05 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        16 motorcyclists have already lost their lives this year
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL), the Metropolitan Police and campaign groups have joined forces in reaching out to motorcyclists following the tragic deaths of five young men in collisions while motorcycling on London's streets in the last few days.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The five collisions happened in Haringey, Croydon, Harrow, Hillingdon and Richmond, bringing the total number of people who have been killed while riding a motorcycle this year to 16, compared to 11 at this time in 2018. Three other people have also been killed in collisions in the last week, one car driver, a person cycling and another killed while walking.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL and the Mayor of London offer a range of measures to improve the confidence and skills of the capital's motorcyclists, as well as raise standards within the motorcycle delivery industry. This includes a course for delivery riders, teaching them vital skills, including how to secure deliveries, plan routes and more about the Highway Code and a free two-hour one-to-one session with an instructor, designed to improve confidence on a specific route.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL and the Metropolitan Police are also working with campaign groups to raise awareness of the work being done to enforce dangerous driving, lower speed limits and publicise the range of motorcycle training courses now on offer.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL is keen to urgently work with Department for Transport to improve the licensing system for moped and motorcycle riders in order to make our streets safer for all road users and prevent unnecessary deaths. Improvements could include a requirement for pre-compulsory basic training (CBT), new training for motorcycle instructors and a two day CBT.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The measures are part of TfL and The Mayor's Vision Zero approach to eliminating death and serious injury from collisions on the capital's roads by 2041. Figures show that motorcycle riders and their passengers accounted for 17 per cent of serious injuries and 20 per cent of all road fatalities in the capital during 2018, despite making up just one per cent of road traffic. Figures nationally also show that motorcyclists are 55 times more likely to be killed, and 81 times more likely to be killed or seriously injured on British roads than car drivers.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Stuart Reid, Director of Vision Zero at TfL, said:</strong>&nbsp;&quot;It has been a tragic week for road fatalities. We need everyone in London, regardless of how you're travelling, to take more care on the roads and be aware of the people around you.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;We're reducing road danger for motorcyclists and all other road users in London, by making junctions safer, working with the police to enforce dangerous driving, lowering speed limits and offering a range of motorcycle and cycle training courses, but we really need everyone to play a role.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Detective Superintendent Andy Cox, from the Met's Roads and Transport Command, said</strong>: &quot;Every road death or serious injury is devastating for the victim's family and friends. Through education and enforcement we must remind all road users of the importance of keeping themselves and others safe when on London's roads.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Joshua Harris, Director of Campaigns at Brake, said:</strong>&nbsp;&quot;The tragedies of recent days are a stark reminder that motorbike riders are among the most vulnerable people on our roads. The risk facing motorbike riders is easily apparent &#45; they can travel as fast as a car but lack the protection, such as seat belts and airbags, that car occupants are afforded.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;Everyone has a role to play in keeping riders safe &#45; designers and planners building safe streets, car drivers looking out for bikes, which are much smaller than cars and therefore harder to spot, and riders themselves making sure that they ride within the law and always wear the right protection.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Colin Brown, Director of Campaigns and Political Engagement Motorcycle Action Group at MAG, said:</strong> &quot;The numbers of motorcyclists being killed and seriously injured on the streets of London is highly distressing. MAG are committed to working with TfL to arrive at evidenced based solutions and policies to reduce these statistics. Motorcyclists are a vulnerable road user group and deserve as much consideration when it comes to safety as anyone else. It is imperative that the knowledge, experience and opinions of riders are fully embraced if progress is to be made in reducing the risks and saving lives.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Victoria Lebrec, Campaigner and Press Manager at RoadPeace, said:</strong> "I'm very sorry to hear of the eight fatalities over the last week. Not only have their lives have been lost, their loved ones' lives will have changed forever as a result. These tragedies are preventable, and RoadPeace welcomes TfL's commitment to eliminating all death and serious injuries by 2041."</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL offers a range of training courses for motorcyclists in the capital, which boost rider confidence, skills and knowledge before and after Compulsory Basic Training (CBT):</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt"><strong>BikeSafe-London:&nbsp;</strong>A one-day course offered across London and aimed at those who ride higher powered motorcycles. Attracting approximately 1,600 riders a year, riders learn from professional police motorcycle riders during observed rides and a presentation about hazard perception, causes of crashes and improving rider visibility</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt"><strong>Biker Down:</strong>&nbsp;A free, one-day course run by the London Fire Brigade, which teaches motorcyclists how to help a fellow rider in the event of a collision while the emergency services are on route. Sessions include life-saving skills, how to treat bleeding and the safe removal of a helmet</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt"><strong>Preparing for your CBT:</strong>&nbsp;a short, free online course aimed at new and young riders, which includes essential riding theory and key elements of The Highway Code</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt"><strong>Beyond CBT: Skills for Delivery Riders:</strong>&nbsp;a one-day post CBT top-up course fully funded by TfL which teaches riders more about the Highway Code, how to secure and ride with a load, plan routes, make safe deliveries and carry out routine maintenance checks on their motorcycle</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt"><strong>1-2-1 Motorcycle Skills:</strong>&nbsp;a free, two-hour, tailor-made one-to-one session with a qualified instructor. Aimed at commuters and those who ride lower capacity motorcycles, riders can use the session to improve confidence on a particular route, such as home to work</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Further details on TfL motorcycle courses can be found here:<strong>&nbsp;</strong><a href="https://tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london" style="text-decoration: none;">tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london</a></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In July 2018, the Mayor and TfL launched a bold Vision Zero Action Plan to end the toll of deaths and serious injuries on London's streets.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Plan includes a new joint approach to roads policing with the Metropolitan Police, focused on high-risk offenders, as well as highly visible patrols and intelligence-led activity to target known problem areas.</span></span></p>

<p><span style="font-size:12.0pt">This is alongside the transformation of dangerous junctions, lowering speed limits, as well as a new Bus Safety Standard and the Direct Vision Standard, which will remove the most dangerous lorries from London's roads </span></p>

<p><span style="font-size:12.0pt">Notes to Editors</span></p>

<p><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Further details on TfL motorcycle courses can be found here:<strong>&nbsp;</strong><a href="https://tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london" style="text-decoration: none;">tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london</a></span></span></span></p>

<p><span style="font-size:12.0pt">The Vision Zero Action Plan can be found here: <a href="http://content.tfl.gov.uk/vision-zero-action-plan.pdf" style="text-decoration: none;">content.tfl.gov.uk/vision-zero-action-plan.pdf</a></span></p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities -->

 
 
        
        
            @{ViewBag.Description = "TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities";}
        
        


 