


@{ViewBag.Title = "TfL announces &pound;2.5m funding boost to meet growing demand for cycle parking";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announces £2.5m funding boost to meet growing demand for cycle parking</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces £2.5m funding boost to meet growing demand for cycle parking</h1>
        <div class="content-page-press-release">
        10 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plan includes improved cycle parking outside 10 stations in the coming year, along with 1,400 new spaces in residential areas
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Together with our investment in new high-quality routes, we are enabling more people to cycle as part of their everyday routine, making our streets cleaner and greener for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor's Walking and Cycling Commissioner, Will Norman, and TfL have today unveiled an ambitious new plan to enable more Londoners to cycle.</p>

<p>To ensure that every potential cycle trip in the capital begins and ends with a place to park, TfL are investing &pound;2.5 million over the next year to boost the number of cycle parking spaces.</p>

<p>The investment comes after half of Londoners said lack of cycle parking is one of the main factors that deter them from cycling and a quarter are put off cycling by a fear of cycle theft.*</p>

<p>TfL research shows more than half of stations in London either do not have any cycle parking, or do not have enough spaces to cope with demand, despite cycling being at record levels.</p>

<p>Town centres in every London borough also need increased levels of cycle parking, with demand also high in residential areas where there is often a waiting list for spaces.</p>

<h2>World's largest database</h2>

<p>By creating the world's largest database of cycling infrastructure, TfL have worked out the areas of greatest need and how best to meet increasing demand.</p>

<p>Through working with London boroughs, Network Rail, rail operators, businesses and local communities, TfL will:</p>

<ul>
	<li>Improve cycle parking outside stations, with the aim of all stations outside Zone 1 to have a minimum of 20 cycle parking spaces within 50 metres of the station and a minimum of 30% spare capacity to help ensure that cyclists can find somewhere to park and that the station can meet future demand. Ten stations will be brought up to this new benchmark in the coming year. TfL will also work with Network Rail to deliver cycle parking hubs and more space for Santander Cycles at rail termini</li>
	<li>Help deliver 1,400 new secure cycle parking spaces in residential areas over the coming year. London currently has 7,000 spaces in nearly 1,200 cycle hangars, although many boroughs currently have fewer than ten hangars</li>
	<li>Invest in new cycle parking across town centres, with eight town centres set to be improved over the coming year</li>
	<li>Enable more people to park bikes at their place of study. TfL will provide at least 80 schools and two universities with new cycle parking over the coming year</li>
	<li>Enable more people to commute to work by bike. TfL will share evidence and best practice with businesses and explore opportunities to reduce the complexity and costs of delivering cycle parking through a one-stop-shop procurement framework</li>
	<li>Improve cycle parking facilities for visitors to hospitals, sports facilities, parks, museums and other places of interest</li>
</ul>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'To enable more people to cycle it is essential that we not only make our streets safer but also make cycling easier and more convenient.</p>

<p>'If people know there is good cycle parking at their local station or at their place of work, they are much more likely to use their bike.</p>

<p>'I'm delighted that this plan and new investment will help meet the growing demand for cycle parking. Together with our investment in new high-quality routes, we are enabling more people to cycle as part of their everyday routine, making our streets cleaner and greener for everyone.'</p>

<h2>Future demand</h2>

<p>TfL collected data on every street in London to create the world's largest database of cycling infrastructure and the first comprehensive picture of cycle parking in London.</p>

<p>This has enabled TfL to estimate existing and future demand for cycle parking by borough for its Cycling Parking Implementation Plan. The data showed a particularly strong demand in central and southwest London, but more cycle parking needed right across the capital.</p>

<p>The analysis shows there are currently 145,449 cycle parking spaces on London streets. At least 36,000 additional spaces are needed to meet current demand, with a further 12,000 spaces needed by 2025.</p>

<p>The lack of convenient places to park can put people off cycling and have a negative impact on the huge potential for cycling in London, particularly for shorter journeys that can easily be cycled.</p>

<p>Increasing the availability of cycle parking spaces also brings wider benefits, through creating vibrant high streets which encourages more people to shop locally, boosting businesses and London's economy and making the capital better for everyone.</p>

<p>Christina Calderato, TfL's Head of Delivery Planning, said: 'Enabling more people to cycle is vital if we are to tackle London's air quality and inactivity crises, but many people can be put off cycling to everyday destinations such as their workplace, the shops or the station by a lack of space to park their bike.</p>

<p>'We want to work with organisations and partners across the capital to make sure that every cycling journey begins and ends with a place to park.'</p>

<h2>Promote healthier transport</h2>

<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: 'More than half of those living in London say that a lack of cycle parking prevents them from getting on a bike. As an avid cyclist myself, I understand this frustration.</p>

<p>'This is why London Councils is working with Transport for London to expand cycle parking across our boroughs. Doing so will not only promote healthier transport options and curb emissions, but will also make our city more vibrant and accessible to everyone.'</p>

<p>The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week. Last week TfL revealed that cycling in London is at record levels with the average daily total distance cycled exceeding 4 million kilometres for the first time.</p>

<p>Construction on a major new route between Tower Bridge Road and Greenwich began on Friday (5 July), and construction for a new route between Acton and Wood Lane began in April. TfL is currently inviting people to have their say on another two routes, between Hackney and the Isle of Dogs and Barking and Barking Riverside.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The plan is available on the TfL website at <a href="http://tfl.gov.uk\corporate\publications-and-reports\cycling">tfl.gov.uk/corporate/publications-and-reports/cycling</a></li>
	<li>The Cycle Parking Implementation Plan follows the Mayor's Cycling Action Plan in January, which set out measures to double the number of cycle journeys in the capital over the next six years. TfL research has previously shown that over 8 million short journeys a day could potentially switch to cycling</li>
</ul>

<p>*TfL Attitudes to Cycling survey, autumn 2017</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-TfL announces £2.5m funding boost to meet growing demand for cycle parking -->

 
 
        
        
            @{ViewBag.Description = "TfL announces £2.5m funding boost to meet growing demand for cycle parking";}
        
        


 