


@{ViewBag.Title = "Watford High Street Station to close for vital work";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Watford High Street Station to close for vital work</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Watford High Street Station to close for vital work</h1>
        <div class="content-page-press-release">
        16 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        One week closure as ageing staircase is to be replaced as part of a &pound;400,000 Network Rail investment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is never an easy decision to close a station but this short one week closure will allow the work to be completed more quickly and minimise the longer term disruption for our customers

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Rory O'Neill</div>
            <div class="quotee-job-title">General Manager for London Overground, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>A new steel structure will be fitted and the original cast iron posts restored and reused</li>
	<li>The glazed roof above the staircase will also be replaced to make the walkway brighter and lighter for passengers</li>
	<li>Station will close after services finish on Saturday 10 August and re-open at 05:00 Sunday 18 August</li>
	<li>A replacement bus service will be in place between neighbouring Watford Junction and Bushey stations</li>
</ul>

<p>Customers who use London Overground's Euston to Watford route are advised that Watford High Street station will be closed for one week in August. This is to allow refurbishment work to take place on an ageing staircase. Network Rail owns the station infrastructure and is carrying out these complex works as part of its Railway Upgrade Plan.&nbsp;</p>

<p>Watford High Street station, which originally opened in 1862 and became a part of Transport for London (TfL)'s London Overground network in 2007, will be closed after services finish on Saturday 10 August and re-open at 05:00 on Sunday 18 August. During the closure a replacement bus service will operate to the neighbouring stations of Watford Junction and Bushey and tickets will be accepted on local bus routes 142 and 258 to give people alternative ways to complete their journeys.&nbsp; Additional staff will be in place to help customers with information and provide advice on alternative routes.</p>

<p>Given its age, the staircase is regularly inspected. At the most recent inspection, it was advised that, while it remains safe, a planned replacement should take place as soon as possible to avoid the risk of a short notice repair or closure in the future. It was decided to carry out the works during this particular week in August as it is traditionally quieter as school holidays begin, and avoids football games at the nearby Watford FC's Vicarage Road stadium.&nbsp;</p>

<p>The staircase provides the only customer access to the platforms and the work has been carefully planned to minimise customer disruption as much as possible. &nbsp;<br />
Engineers considered doing the work while the station remained open but decided it would be safer and quicker to condense the works into one week to minimise the impact on local people.</p>

<p>The staircase has two double flights with a landing in the middle. It was originally built using timber with a central handrail that is held by cast iron posts. During the week's closure, a new steel structure will be fitted and the original cast iron posts restored and reused. The glazed roof above the staircase will also be replaced to make the walkway brighter and lighter for passengers.</p>

<p>Rory O'Neill, TfL's General Manager for London Overground, said:</p>

<p>'I would like to thank customers for their patience while Network Rail undertakes this vital refurbishment work on the staircase at Watford High Street station.&nbsp; It is never an easy decision to close a station but this short one week closure will allow the work to be completed more quickly and minimise the longer term disruption for our customers.'</p>

<p>James Woof, senior asset engineer for buildings at Network Rail, said:</p>

<p>'This important work to the staircase at Watford High Street station will keep it safe and open for passengers for decades to come. The &pound;400,000 investment as part of Britain's Railway Upgrade Plan means the station will have to close for a week because the staircase is the only access to the station platforms.</p>

<p>'We know this will inconvenience passengers in the short-term, but once refurbished, it will mean less maintenance and disruption for local rail users in the years to come.'</p>

<p>New electric trains will also be brought onto this London Overground route this year to increase capacity and offer USB charging points, free Wi-Fi and improved real-time passenger information screens on board.&nbsp; Once introduced, services will be increased from three trains to four trains per hour providing customers with a more frequent service every 15 minutes.<br />
&nbsp;</p>

<hr />
<p><br />
Notes to Editors:</p>

<ul>
	<li>Tickets will be accepted on local bus routes 142 and 258, which run between Watford High Street, Bushey and Watford Junction on a high frequency.</li>
	<li>Watford Junction is an 18-minute walk from Watford High Street, and Bushey is a 13-minute walk.</li>
	<li>The train service will continue to operate as scheduled, with trains not-stopping at Watford High Street.</li>
	<li>Customers using Watford High Street station should check before they travel.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Watford High Street Station to close for vital work -->

 
 
        
        
            @{ViewBag.Description = "Watford High Street Station to close for one week to allow Network Rail to carry out vital staircase replacement work";}
        
        


 