


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/sherlock-gnomes-swoops-onto-baker-street-tube-station">Sherlock Gnomes swoops onto Baker Street Tube station<br />23 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/spring-into-summer-with-tfl-s-free-guided-wal">Spring into Summer with TfL's free guided walks  <br />25 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/half-of-all-tube-and-rail-pay-as-you-go-journeys-across-london-using-contactless">Half of all Tube and rail pay as you go journeys across London using contactless<br />24 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/-priority-seating-week-launch-marks-first-anniversary-of-the-please-offer-me-a-seat-badge">'Priority Seating Week' launch marks first anniversary of the 'Please Offer Me A Seat' badge<br />23 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/further-advice-on-the-four-day-dlr-strike-starting-friday">Further advice on the four-day DLR strike starting Friday<br />19 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/jools-holland-boards-platform88-and-plays-at-canary-wharf-tube-station">Jools Holland boards #Platform88 and plays at Canary Wharf Tube station<br />18 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/advice-ahead-of-four-day-dlr-strike-starting-this-friday">Advice ahead of four-day DLR strike starting this Friday<br />17 Apr 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/april/travel-advice-for-district-line-customers-ahead-of-planned-strike">Travel advice for District line customers ahead of planned strike<br />10 Apr 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "April Press release";}
        
        


 