


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/elizabeth-line-services-through-central-london-to-start-in-2019">Elizabeth line services through central London to start in 2019<br />31 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/tfl-research-shows-that-walking-or-cycling-to-school-could-take-254-000-cars-off-london-s-roads-each-day">TfL research shows that walking or cycling to school could take 254,000 cars off London's roads each day<br />31 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/tfl-brings-forward-100-per-cent-affordable-homes-in-harrow">TfL brings forward 100 per cent affordable homes in Harrow<br />28 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/victoria-line-celebrates-50-years-of-serving-london">Victoria line celebrates 50 years of serving London<br />30 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/the-mayor-tfl-and-london-boroughs-come-together-to-launch-quietway-2">The Mayor, TfL and London boroughs come together to launch Quietway 2<br />29 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/new-lifts-make-brixton-tube-station-step-free-again">New lifts make Brixton Tube station step-free again<br />21 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/night-tube-is-even-bigger-success-than-predicted-new-figures-show">Night Tube is even bigger success than predicted, new figures show<br />17 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/agreement-signed-to-build-above-farringdon-station-as-part-of-huge-programme-of-elizabeth-line-property-development">Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development<br />13 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/londoners-encouraged-to-embrace-the-wonderful-world-of-off-peak-this-summer">Londoners encouraged to embrace the 'Wonderful World of Off-Peak' this summer<br />07 Aug 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/august/escalator-refurbishment-at-st-paul-s-station-starts-this-week">Escalator refurbishment at St Paul's station starts this week<br />06 Aug 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "August";}
        
        


 