


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/elizabeth-line-train-makes-successful-maiden-voyage-across-south-east-london">Elizabeth line train makes successful maiden voyage across south east London<br />26 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/team-effort-to-keep-london-moving-during-winter-weather">Team effort to keep London moving during winter weather<br />25 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/tfl-reminds-drivers-of-restrictions-in-century-old-rotherhithe-tunnel">TfL reminds drivers of restrictions in century-old Rotherhithe Tunnel<br />26 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/night-overground-extension-to-highbury-and-islington-starts-this-friday-night">Night Overground extension to Highbury & Islington starts this Friday night<br />22 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/transport-for-london-opens-elizabeth-line-commercial-partnership-tender">Transport for London opens Elizabeth line commercial partnership tender<br />20 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/huge-transformation-of-tube-network-a-step-closer">Huge transformation of Tube network a step closer<br />19 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/new-timetable-launched-to-improve-services-on-the-tram-network">New timetable launched to improve services on the tram network<br />16 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/-tfl-to-ensure-private-hire-remains-safe-secure-and-convenient"> TfL to ensure private hire remains safe, secure and convenient<br />15 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/vital-northern-line-extension-work-means-bank-branch-trains-will-not-stop-at-kennington-from-may-to-september">Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September<br />15 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/-adopt-a-station-initiative-to-be-launched-at-poplar-dlr-station">'Adopt-a-Station' initiative to be launched at Poplar DLR station<br />13 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/night-overground-services-to-extend-to-north-lond">Night Overground services to extend to north London <br />13 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/new-set-of-poems-on-the-underground">New set of Poems on the Underground<br />12 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/gla---brixton-welcomes-santander-cycles">GLA - Brixton welcomes Santander Cycles<br />12 Feb 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/february/brixton-lifts-to-be-replaced-to-improve-reliability">Brixton lifts to be replaced to improve reliability<br />08 Feb 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "February";}
        
        


 