


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/grants-to-encourage-more-londoners-to-take-up-cycling">Grants to encourage more Londoners to take up cycling<br />31 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/cycle-hire-scheme-celebrates-best-ever-month-of-hires">Cycle hire scheme celebrates best ever month of hires<br />30 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/the-world-s-greatest-festival-of-cycling-returns-to-the-capital-this-weekend">The world's greatest festival of cycling returns to the capital this weekend<br />23 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/jump-on-board-the-dlr-discovery-to-explore-east-london-this-summer">Jump on board the DLR Discovery to explore east London this summer<br />23 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/gla---mayor-calls-for-infrastructure-investment-increa">GLA - Mayor calls for infrastructure investment increase <br />09 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/gla---london-set-to-become-the-world-s-most-walkable-city">GLA - London set to become the world's most walkable city<br />19 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/tflbacks-customer-s-campaign-to-ask-passengers-to-look-up-and-offer-their-seat">TfL backs customer's campaign to ask passengers to Look Up and offer their seat<br />18 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/deal-paves-way-for-knowledge-sharing-between-london-and-west-midlands">Deal paves way for knowledge sharing between London and West Midlands<br />17 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/tottenham-court-road-elizabeth-line-station-nearing-completion-ahead-of-launch">Tottenham Court Road Elizabeth line station nearing completion ahead of launch<br />10 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/mayor-tfl-and-the-met-launch-plan-to-eliminate-deaths-and-serious-injuries-on-london-s-roa">Mayor, TfL and the Met launch plan to eliminate deaths and serious injuries on London's roads <br />24 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/customers-advised-to-check-before-they-travel-ahead-of-potential-strike-action-on-the-piccadilly-line">Customers advised to check before they travel ahead of potential strike action on the Piccadilly line<br />09 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/changes-proposed-to-congestion-charge-to-reduce-traffic-and-improve-air-quality">Changes proposed to Congestion Charge to reduce traffic and improve air quality<br />06 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/overwhelming-support-for-holborn-tube-station-expansion-plans">Overwhelming support for Holborn Tube station expansion plans<br />05 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/pride-celebrated-across-the-transport-for-london-network">Pride celebrated across the Transport for London network<br />03 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/double-record-breaking-months-for-santander-cycles">Double record-breaking months for Santander Cycles<br />02 Jul 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/july/pay-as-you-go-fares-information-added-to-tfl-s-journey-planner-and-open-data-feed">Pay as you go fares information added to TfL's Journey Planner and open data feed<br />02 Jul 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "July";}
        
        


 