


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/bespoke-maintenance-trains-to-help-elizabeth-line-keep-running">Bespoke maintenance trains to help Elizabeth line keep running<br />28 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/delivering-the-next-generation-of-urban-traffic-management">Delivering the next generation of urban traffic management<br />28 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/jamie-cullum-launches-platform88-piano">Jamie Cullum launches #Platform88 piano<br />26 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/tfl-celebrates-international-women-in-engineering-day">TfL Celebrates International Women in Engineering Day<br />22 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/virgin-media-fined-3-000-for-non-compliant-street-work-practices">Virgin Media fined &pound;3,000 for non-compliant street work practices<br />21 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/new-set-of-poems-on-the-underground-celebrates-caribbean-voices">New Set of Poems on the Underground Celebrates Caribbean Voices<br />21 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/transformation-of-highbury-corner-junction-set-to-begin-next-week">Transformation of Highbury Corner junction set to begin next week<br />21 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/first-new-state-of-the-art-london-overground-train-unveiled">First new state-of-the-art London Overground train unveiled<br />20 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/gla---sadiq-with-call-to-ban-new-petrol-and-diesel-vehicles">GLA - Sadiq with call to ban new petrol and diesel vehicles<br />18 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/gla---expanded-ultra-low-emission-zone-to-clean-up-toxic-air">GLA - Expanded Ultra-Low Emission Zone to clean-up toxic air<br />08 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/gla---land-trust-to-build-affordable-homes-on-tfl-sites">GLA - Land Trust to build affordable homes on TfL sites<br />18 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/employee-recognised-for-her-work-to-increase-diversity">Employee recognised for her work to increase diversity<br />08 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/contactless-journeys-now-available-to-view-on-the-go-via-free-tfl-app">Contactless journeys now available to view on the go via free TfL app<br />15 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/siemens-mobility-limited-to-be-awarded-tfl-contract-to-design-and-manufacture-a-new-generation-of-tube-trains">Siemens Mobility Limited to be awarded TfL contract to design and manufacture a new generation of Tube trains<br />15 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/talented-young-londoners-artwork-showcased-in-new-tfl-rail-trains-from-paddington">Talented young Londoners' artwork showcased in new TfL Rail trains from Paddington<br />13 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/rotherhithe-tunnel-celebrates-110-years-of-transporting-people-across-the-thames">Rotherhithe Tunnel celebrates 110 years of transporting people across the Thames<br />12 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/travel-advice-for-customers-ahead-of-planned-strike-action-on-jubilee-line">Travel advice for customers ahead of planned strike action on Jubilee line<br />12 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/art-on-the-underground-unveils-artwork-by-heather-phillipson">Art on the Underground unveils artwork by Heather Phillipson<br />07 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/tfl-to-trial-automatic-passenger-counting-on-buses">TfL to trial automatic passenger counting on buses<br />07 Jun 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/june/tfl-confirms-trams-in-croydon-will-go-cashle">TfL confirms trams in Croydon will go 'cashless'<br />04 Jun 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "June press release";}
        
        


 