


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/british-telecom-fined-record-amount-for-unsafe-streetworks">British Telecom fined record amount for unsafe streetworks<br />29 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/advice-to-dlr-passengers-during-48hr-strike">Advice to DLR passengers during 48hr strike<br />28 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/reminder-advice-to-dlr-passengers-during-48hr-strike-wednesday-29-and-thursday-30-march">Reminder: Advice to DLR passengers during 48hr strike Wednesday 28 and Thursday 29 March<br />27 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-launches-consultation-to-further-improve-safety-for-private-hire-passengers">TfL launches consultation to further improve safety for private hire passengers<br />26 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-brings-forward-600-homes-in-harrow-and-names-northwood-partner">TfL brings forward 600 homes in Harrow and names Northwood partner<br />26 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-completes-biggest-test-yet-of-new-signalling-system-set-to-transform-the-tube">TfL completes biggest test yet of new signalling system set to transform the Tube<br />26 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/property-development-above-elizabeth-line-stations-to-create-jobs-growth-and-revenue">Property development above Elizabeth line stations to create jobs, growth and revenue<br />26 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-exploring-whether-a-new-demand-responsive-tfl-bus-service-could-complement-existing-bus-network">TfL exploring whether a new 'demand responsive' TfL bus service could complement existing bus network<br />23 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/overwhelming-support-for-camden-town-tube-station-modernisation">Overwhelming support for Camden Town Tube station modernisation<br />22 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/londoners-overwhelmingly-back-new-cycle-superhighway">Londoners overwhelmingly back new Cycle Superhighway<br />23 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/advice-to-dlr-passengers-in-the-event-of-48hr-strike">Advice to DLR passengers in the event of 48hr strike<br />23 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/children-s-competition-with-historic-book-printer-clays-to-highlight-how-women-keep-london-moving">Children's competition with historic book printer Clays to highlight how women keep London moving<br />21 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/plans-for-new-crossing-between-rotherhithe-and-canary-wharf-gain-overwhelming-public-support">Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support<br />21 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/plan-ahead-to-make-the-most-of-the-capital-this-easter">Plan ahead to make the most of the capital this Easter<br />20 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/gla---mayor-london-must-do-more-to-get-women-into-senior-roles">GLA - Mayor: London must do more to get women into senior roles<br />19 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/gla---mayor-marks-milestone-of-100-rapid-charging-points">GLA - Mayor marks milestone of 100 rapid charging points<br />19 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-joins-forces-with-the-cycling-industry-to-get-more-londoners-on-e-bikes">TfL joins forces with the cycling industry to get more Londoners on e-bikes<br />16 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/mayor-of-london-announces-tfl-fares-will-apply-to-elizabeth-line">Mayor of London announces TfL fares will apply to Elizabeth line<br />16 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/bromley-by-bow-becomes-step-free-in-boost-to-tube-accessibility">Bromley-by-Bow becomes step-free in boost to Tube accessibility<br />14 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/highbury-corner-is-the-latest-junction-to-be-transformed">Highbury Corner is the latest junction to be transformed<br />14 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/tfl-budget-shows-good-progress-towards-achieving-an-operating-surplus-by-2021-22">TfL budget shows good progress towards achieving an operating surplus by 2021/22<br />12 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/mayor-approves-750-000-of-tfl-funding-to-support-croydon-community">Mayor approves &pound;750,000 of TfL funding to support Croydon community<br />12 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/south-kensington-tube-station-to-be-transformed-as-part-of-landmark-property-deal-that-will-provide-step-free-access">South Kensington Tube station to be transformed as part of landmark property deal that will provide step-free access<br />06 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/annual-emirates-air-line-cable-car-maintenance-to-take-place-next-week">Annual Emirates Air Line cable car maintenance to take place next week<br />05 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/london-trams-track-upgrade-work-this-easter-to-deliver-a-more-reliable-service">London Trams track upgrade work this Easter to deliver a more reliable service<br />05 Mar 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/march/new-local-funding-to-accelerate-transition-to-zero-emission-vehicles-and-tackle-air-polluti">New local funding to accelerate transition to zero emission vehicles and tackle air pollution‎<br />02 Mar 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "March Press releases";}
        
        


 