


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/gla---mayor-launches-electric-vehicle-infrastructure-taskfor">GLA - Mayor launches electric vehicle infrastructure taskforce <br />31 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/vital-northern-line-extension-work-to-affect-kennington">Vital Northern Line Extension work to affect Kennington<br />23 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/communities-to-benefit-from-tfl-s-growth-fund">Communities to benefit from TfL's Growth Fund<br />21 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/tfl-to-operate-heathrow-connect-services-ahead-of-elizabeth-line-opening">TfL to operate Heathrow Connect services ahead of Elizabeth line opening<br />18 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/new-powers-to-combat-illegal-taxi-and-private-hire-activity">New powers to combat illegal taxi and private hire activity<br />17 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/work-progresses-on-automatic-braking-system-for-london-trams">Work progresses on automatic braking system for London Trams<br />16 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/tfl-press-release---british-sign-language-led-tours-of-the-artworks-on-london-underground-for-deaf-awareness-week">British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week<br />16 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/modernisation-of-tube-closer-than-ever-after-successful-weekend-of-trial-operation">Modernisation of Tube closer than ever after successful weekend of trial operation<br />15 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/buckhurst-hill-station-to-benefit-from-mayor-s-200m-investment-boost-in-step-free-stations">Buckhurst Hill station to benefit from Mayor's &pound;200m investment boost in step-free stations<br />14 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/tfl-granted-powers-to-progress-with-silvertown-tunnel">TfL granted powers to progress with Silvertown Tunnel<br />10 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/new-elizabeth-line-depot-at-old-oak-common">New Elizabeth line depot at Old Oak Common<br />10 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/walk-cycle-and-discover-this-summer">Walk, cycle and discover this summer<br />09 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/motorists-reminded-inappropriate-speed-is-dangerous">Motorists reminded inappropriate speed is dangerous<br />08 May 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/may/tfl-set-to-begin-cs11-construction-in-july">TfL set to begin CS11 construction in July<br />07 May 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "May Press releases";}
        
        


 