


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/gla---15km-of-new-quietway-cycle-routes-opened-across-london">GLA - 15km of new Quietway cycle routes opened across London<br />11 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/strikes-to-affect-central-piccadilly-and-waterloo-and-city-lines-next-week">Strikes to affect Central, Piccadilly and Waterloo & City lines next week<br />31 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/agreement-to-build-above-bond-street-station-as-part-of-elizabeth-line-property-development-programme">Agreement to build above Bond Street station as part of Elizabeth line property development programme<br />31 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/statement-from-mike-brown-following-jo-johnson-mp-s-written-ministerial-statement-on-the-crossrail-proje">Statement from Mike Brown following Jo Johnson MP's Written Ministerial Statement on the Crossrail Project <br />26 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/line-closures-3-and-4-november-to-help-upgrade-of-four-tube-lines">Line closures 3 and 4 November to help upgrade of four Tube lines<br />24 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/victoria-tube-station-becomes-75th-to-be-made-step-free">Victoria Tube station becomes 75th to be made step-free<br />22 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/tfl-publish-plans-to-redesign-stoke-newington-gyratory">TfL publish plans to redesign Stoke Newington gyratory<br />22 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/tfl-and-police-increase-support-of-national-hate-crime-awareness-week">TfL and police increase support of National Hate Crime Awareness Week<br />16 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/london-s-bus-network-to-meet-new-world-leading-bus-safety-standard">London's bus network to meet new world-leading Bus Safety Standard<br />16 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/tfl-announce-partnership-with-pocket-living-to-build-affordable-homes-for-first-time-buyers">TfL announce partnership with Pocket Living to build affordable homes for first-time buyers<br />15 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/15km-of-new-quietway-cycle-routes-opened-across-london">15km of new Quietway cycle routes opened across London<br />11 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/next-steps-confirmed-for-the-transformation-of-streets-around-nine-elms">Next steps confirmed for the transformation of streets around Nine Elms<br />12 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/check-before-you-travel-ahead-of-strike-action-on-the-central-and-waterloo-and-city-lines">Check before you travel ahead of strike action on the Central and Waterloo & City lines<br />03 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/transport-for-london-brews-up-opportunities-for-small-businesses-with-streetdots">Transport for London brews up opportunities for small businesses with StreetDots<br />02 Oct 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/october/go-jauntly-scoops-the-mayor-s-innovation-prize">Go Jauntly scoops the Mayor's Innovation prize<br />02 Oct 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "October 2018";}
        
        


 