


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/tfl-consults-on-changes-to-the-central-london-bus-network">TfL consults on changes to the central London Bus Network<br />28 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/reminder-piccadilly-line-strike-action-to-continue-today">REMINDER: Piccadilly line strike action to continue today<br />28 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/2017-road-casualty-figures-reaffirm-the-need-for-the-mayor-s-vision-zero">2017 road casualty figures reaffirm the need for the Mayor's Vision Zero<br />27 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/reminder-travel-advice-for-customers-ahead-of-possible-strike-action-on-the-piccadilly-line">REMINDER: Travel advice for customers ahead of possible strike action on the Piccadilly line<br />25 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/tfl-announces-final-stage-of-woolwich-ferry-upgrade">TfL announces final stage of Woolwich Ferry upgrade<br />24 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/creating-safer-spaces-for-cycling-is-encouraging-more-women-in-london-to-take-to-two-wheels">Creating safer spaces for cycling is encouraging more women in London to take to two wheels<br />21 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/customers-advised-to-check-before-they-travel-ahead-of-possible-strike-action-on-the-piccadilly-line">Customers advised to check before they travel ahead of possible strike action on the Piccadilly line<br />21 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/gla---major-new-cycle-superhighway-extension-opens">GLA - Major new Cycle Superhighway extension opens<br />20 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/gla---top-hop-spots-on-anniversary-of-hopper-bus-fare">GLA - Top 'hop spots' on anniversary of Hopper bus fare<br />12 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/streets-across-london-will-be-transformed-for-communities-on-world-car-free-day">Streets across London will be transformed for communities on World Car Free Day<br />18 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/bank-branch-trains-stopping-at-kennington-station-again">Bank branch trains stopping at Kennington Station again<br />17 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/new-funding-to-help-minimise-the-impact-of-deliveries-across-london">New funding to help minimise the impact of deliveries across London<br />14 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/further-plans-for-bakerloo-line-extension-revealed-following-public-consultation">Further plans for Bakerloo line extension revealed following public consultation<br />12 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/tfl-consults-on-new-second-entrance-at-southwark-tube-station">TfL consults on new second entrance at Southwark Tube station<br />12 Sep 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/september/tour-of-britain-finale-arrives-in-the-capital-on-sunday">Tour of Britain finale arrives in the capital on Sunday<br />06 Sep 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "September 2018";}
        
        


 