


@{ViewBag.Title = "&pound;500m deal to deliver complex civil engineering projects";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£500m deal to deliver complex civil engineering projects</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£500m deal to deliver complex civil engineering projects</h1>
        <div class="content-page-press-release">
        05 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        The new four-year deal is with Costain, Morgan Sindall and Skanska
    </div>



<div class="pull-quote">
        <div class="quote-body">"Each contractor brings something unique to the table and all have experience in designing and building major schemes, which will ensure Londoners get these key projects delivered in the most effective and efficient way"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Director of Projects and Programmes, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL will work with the three contractors to deliver complex tunnels and highways projects over the next four years</li>
</ul>
<p>Transport for London (TfL) has signed a four-year deal with Costain, Morgan Sindall and Skanska to deliver some of its more complex, large scale, civil engineering schemes which will improve London's road network for all.</p>
<p>The new &pound;500 million framework will see the trio working with TfL to design and build some of London's most high profile and complex road improvement projects.</p>
<p>The framework will help deliver a wide range of projects to transform highways, reduce dangers on the roads, improve journey reliability and encourage cycling and walking. Schemes delivered using the framework could include projects such as the proposed Fiveways scheme in Croydon and the removal of the Vauxhall gyratory, as well as major asset renewal and upgrades like the A40 Westway structure.</p>
<p>Nick Fairholme, TfL's Director of Projects and Programmes, said: </p>
<p>'We are delighted to be working with Costain, Morgan Sindall and Skanska over the next four years on a range of high profile and complex civil engineering projects. Each contractor brings something unique to the table and all have experience in designing and building major schemes, which will ensure Londoners get these key projects delivered in the most effective and efficient way.'</p>
<p>Andrew Wyllie CBE, Chief Executive of Costain, said: </p>
<p>'We are delighted that TfL has again chosen Costain as a delivery partner for the Major Projects Framework. It is a reflection of our strong track record in applying innovative techniques in highways.'</p>
<p>Nick Fletcher, Managing Director of Infrastructure at Morgan Sindall, said: </p>
<p>'The projects within this framework call upon a wide variety of expertise, including highways, bridge and tunnelling skills - all of which we are well-placed to deliver, having a strong project history with similar schemes.'</p>
<p>Mark Shopland, Operations Director at Skanska said: </p>
<p>'We are proud to be involved in this framework and to be contributing towards these high profile project that will improve the road network for people in London.'</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The framework agreement with Costain, Morgan Sindall and Skanska will run for four years, however it could be extended by a further two years at TfL's discretion.</li>
    <li>Further information on the Fiveways, Croydon project can be found here: <a href="http://tfl.gov.uk/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon">tfl.gov.uk/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-£500m deal to deliver complex civil engineering projects -->

 
 


 