


@{ViewBag.Title = "'Adopt-a-Station' initiative to be launched at Poplar DLR station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">‘Adopt-a-Station’ initiative to be launched at Poplar DLR station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>‘Adopt-a-Station’ initiative to be launched at Poplar DLR station</h1>
        <div class="content-page-press-release">
        13 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Local people, businesses and schools invited to help put the station at the heart of the community
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I would encourage as many groups, schools and local businesses to take up this opportunity to bring their own personal touch to their local station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">Interim General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Docklands Light Railway (DLR) will launch its 'Adopt-a-Station' initiative on Thursday 15 February, a brand new programme designed to help communities, schools and businesses make the most of their local station.</p>
<p>The initiative, which will first be trialled at Poplar DLR station, will deliver benefits for customers and local residents by utilising space at the station to publicise events, classes and workshops taking place in the local area, while also providing a platform for art and activities of local schools, gardeners and others.</p>
<p>These initiatives will in turn help improve the station environment, making Poplar DLR station a more attractive and pleasant place to travel through.</p>
<h2>Greener and healthier city</h2>
<p>The initiative contributes to achieving the objectives of the Mayor's draft Transport Strategy, which aims to encourage greater use of public transport and reduce reliance on car journeys - in turn creating a greener and healthier city.</p>
<p>Mark Davis, Interim General Manager of the DLR, said: 'We are delighted to bring our 'Adopt-a-Station' programme to Poplar DLR station. Nestled in the shadow of Canary Wharf, the scheme will enable the local area to create a social and engaging hub at the heart of the community.</p>
<p>'I would encourage as many groups, schools and local businesses to take up this opportunity to bring their own personal touch to their local station.'</p>
<h2>Bring communities together</h2>
<p>Paula Akpofure, Community Ambassador Team Leader at KeolisAmey Docklands, said: 'Our team of Community Ambassadors work within the five distinctly different communities served by the DLR: Greenwich, Tower Hamlets, Newham, Lewisham and the City of London.</p>
<p>'In our work, we aim to bring communities together through transport. The 'Adopt-a-Station' initiative will provide the perfect opportunity to achieve this with residents, businesses and schools from across the area.'</p>
<p>The 'Adopt-a-Station' programme is a partnership between KeolisAmey Docklands (KAD), who operate the DLR on behalf of TfL, and the people who live and work around Poplar DLR station. Interested parties are invited to contact <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> before 16 March for their chance to be a part of this initiative.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>KeolisAmey Docklands operates and maintains the Docklands Light Railway (DLR) under franchise for Docklands Light Railway Limited, part of Transport for London. It is the busiest light railway in the UK and carried 122 million passengers last year</li>
    <li>KeolisAmey Docklands (KAD) is a joint venture between transport operators, Keolis (70%) and infrastructure specialists Amey (30%)</li>
    <li>Station adoptees must be a member of a group and members of ACoRP &#45; the Association of Community Rail Partnerships. By joining ACoRP adoptees will receive access to a national network of station friends and community rail groups, copies of specialist toolkits, invitations to conferences and seminars as well as access to a range of funding sources. To find out more, visit <a href="http://www.acorp.uk.com">www.acorp.uk.com</a></li>
    <li>Those interested in finding out more about the scheme can visit KAD's Community Ambassadors Open Day on Thursday 15 February from 10.00-12.00 at the Idea Store, All Saints</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-‘Adopt-a-Station’ initiative to be launched at Poplar DLR station -->

 
 
        
        
            @{ViewBag.Description = "‘Adopt-a-Station’ initiative to be launched at Poplar DLR station";}
        
        


 