


@{ViewBag.Title = " First all-electric double-deck bus route in west London to improve air quality";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> First all-electric double-deck bus route in west London to improve air quality</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> First all-electric double-deck bus route in west London to improve air quality</h1>
        <div class="content-page-press-release">
        18 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route 94 today became west London's first all-electric double-deck route in line with Mayor's commitment to improving air quality and tackling the climate emergency in the capital
        
    </div>



 <div class="on-this-page">
<p><span style="font-size:12pt"><span style="line-height:21pt">The 94 bus, operating between Acton Green and Piccadilly Circus, today (Tuesday 18 February) became west London's first all-electric double-deck bus route. In addition to cleaning London's air and tackling the climate emergency, the buses also have a range of customer benefits and innovative safety features.</span></span></p>

<p><span style="font-size:12pt"><span>Tackling the twin dangers of air pollution and the climate emergency are key priorities for Transport for London (TfL), with latest plans seeing 2,000 zero-emission buses in London by 2025. The electrification of the 94 route follows the 43 and 134 routes in 2019, and brings the current total of electric buses in the capital to 280.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">In addition to improved air quality and lower carbon emissions, customers travelling on the 94, operated by RATP Dev, will benefit from quieter, smoother journeys due to fewer vibrations, and free-to-use USB charging points.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">Buses on the route also feature innovative new safety features in line with TfL's world-leading Bus Safety Standard guidelines and will be involved in the trial of an acoustic vehicle alerting system (AVAS) that alerts road users to the presence of quieter running electric vehicles. &nbsp;</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">In addition to the route 94, another 12 routes are expected to become fully electric over the course of this year. &nbsp;The C3, operating between West Cromwell Road and Clapham Junction, and the 23, operating between Westbourne Park and Hammersmith, are the next bus routes to be electrified.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt"><strong>Heidi Alexander, Deputy Mayor for Transport, said:</strong> "At City Hall we are doing everything in our power to tackle London's toxic air crisis and the climate emergency. I am delighted to launch the third route in London that will exclusively use electric double-deck buses and, with many more set to follow by the end of the year, we are continuing to make real progress towards improving air quality in the capital. Today's initiative forms part of our plan to make London's entire bus fleet greener and cleaner, which is set to reduce bus NOx emissions across the capital by an average of 90 per cent by October 2020."</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt"><strong>Claire Mann, TfL's Director of Bus Operations, said</strong>: "London is a leading world city at the heart of global innovation and it is the latest green technology, like electric double decks, that will help tackle the air quality crisis and climate emergency. These new buses, first introduced on north London's routes 43 and 134 last year and now on west London's route 94, are marking a major moment on the road to a fully zero-emission fleet. With more electric double-deck buses to follow, and all new single-deck buses required to be zero-emission from next year, buses are helping to bring the capital's air inside legal limits."</span></span></p>

<p><span style="font-size:12pt"><span><strong>Catherine Chardon, managing Director of RATP Dev London, said:</strong> "Bus electrification is a key priority for RATP Dev and we are pleased that these new buses on the 94, and further routes on the RATP network in the future, will support the mayoral strategy for a cleaner, greener London."</span></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February- First all-electric double-deck bus route in west London to improve air quality -->

 
 
        
        
            @{ViewBag.Description = "First all-electric double-deck bus route in west London to improve air quality";}
        
        


 