


@{ViewBag.Title = "'Please Offer Me a Seat' badge and card to be rolled out permanently after successful trial";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">‘Please Offer Me a Seat’ badge and card to be rolled out permanently after successful trial</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>‘Please Offer Me a Seat’ badge and card to be rolled out permanently after successful trial</h1>
        <div class="content-page-press-release">
        22 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        1,200 people with invisible impairments took part in the successful six-week trial across TfL's network
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm proud that Londoners embraced this innovative trial and that Londoners wearing the badges found travelling around our Capital easier as a result"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is pleased to announce that a blue badge for those less able to stand on public transport will be introduced on a permanent basis in spring next year.</p>
<p>The 'Please Offer Me a Seat' badge, and accompanying card, were trialled earlier this year to help those who need a seat, but have difficulty getting one.</p>
<p>The six-week trial was in response to passenger feedback and TfL research, which found that those with hidden disabilities and conditions, or those undergoing treatments, can often find it difficult to get a seat when they need one.</p>
<h2>Easier journeys</h2>
<p>More than 1,200 people tested the new badges, which are similar to the popular Baby on Board badges.</p>
<p>During the trial, 72% of journeys were said to be easier as a result of the badge, in 86% of journeys participants reported feeling more confident when asking for a seat and 98% said they would recommend the badge and card to somebody who requires or would benefit from it.</p>
<p>When it is launched, TfL will become the first European transport provider to officially recognise invisible impairments and conditions in such a way.</p>
<h2>Innovative trial</h2>
<p>The Mayor of London, Sadiq Khan, said: 'I'm proud that Londoners embraced this innovative trial and that Londoners wearing the badges found travelling around our Capital easier as a result.</p>
<p>'It's great news that next year we will be able to offer them to all those with hidden disabilities and conditions, and I'm really looking forward to the blue badges becoming as recognisable on public transport as our hugely successful Baby on Board ones.'</p>
<p>Members of the public have been developing their own solutions to the problem, such as a 'cancer on board' badge. Its creator, James McNaught took part in the TfL trial.</p>
<p>James McNaught said: 'Getting a seat on transport when you need it can sometimes be really tricky, especially if the reason you need to sit down isn't obvious to others.</p>
<p>'When I was undergoing radiotherapy for throat cancer, it meant I couldn't talk to ask for a seat and the morphine I was taking made me appear drunk. It was a real struggle to get people to understand why I needed to sit down.</p>
<p>'I'm really pleased TfL completed this trial. A badge and card will help make a real difference to the lives of people undergoing drug treatment or with longer term conditions or disabilities.'</p>
<h2>Constantly improve</h2>
<p>Alan Benson, Chair of Transport for All, said: 'Transport for All are pleased to hear the please offer me a seat trial was successful and TfL and the Mayor will be launching it next year.</p>
<p>'While this will help many customers, there will be those who don't want to use a badge and card. We want to see those people supported too, and for everyone to get a seat who needs one.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: 'This trial has made a real difference to people with invisible impairments, conditions and injuries who find it difficult to get a seat when they need one.</p>
<p>'It is part of our commitment to constantly improve the network for all our customers and we will launch the badge and card permanently next spring, once a thorough review of the findings of the trial is complete.'</p>
<p>To find out when TfL's new seating badge and card will be going live, sign up to receive accessible travel updates, by visiting <a href="https://tfl.gov.uk/forms/12424.aspx?cid=emailupdates">www.tfl.gov.uk/emailupdates</a> and following &#64;TfLAccess on Twitter.</p>
<p>Visit <a href="https://tfl.gov.uk/transport-accessibility/?cid=accessibility">www.tfl.gov.uk/accessibility</a> for information on TfL's Travel Support card or any other accessibility initiatives.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Images of the badge are available on request from the TfL Press Office</li>
    <li>1,209 people tested the badge and card, with 889 feeding back about the experience through the surveys</li>
    <li>The trial ran for six weeks from 12 September &#45; 24 October 2016</li>
    <li>TfL will be the first integrated transport authority in Europe to introduce both a badge and a card network wide when it launches</li>
    <li>'Action on Equality: TfL's Commitments to 2020' report - <a href="http://content.tfl.gov.uk/action-on-equality-tfls-commitments-to-2020.pdf">http://content.tfl.gov.uk/action-on-equality-tfls-commitments-to-2020.pdf</a></li>
    <li>Qualitative and quantitative research was run in 2015 by GFK</li>
    <li>This included 16 accompanied travel interviews with people with invisible impairments, conditions and injuries, and group discussions with general customers and TfL staff</li>
    <li>The research found that people find it difficult to get a seat when they need one &#45; particularly if that need isn't obvious and they can find this experience stressful. The findings suggest that people perceive the entitlement to priority seating is based on visible conditions:</li>
</ul>
<ul>
    <li>Pregnant women: 93%</li>
    <li>Older customers: 93%</li>
    <li>Customers with a less visible mobile impairment: 59%</li>
    <li>Customers with learning difficulties: 46%</li>
    <li>Customers with a hidden illness: 44%</li>
</ul>
<ul>
    <li>In order to reduce stress levels and increase the chance of obtaining a seat, people who are in need of a seat often use a number of personal strategies, such as travelling at off peak times and taking a longer route to avoid stressful situations</li>
    <li>Since 2012, TfL's Travel Support card has helped disabled and older customers communicate with staff by allowing them to write down what help they need, as well as things like their emergency contact number. TfL's Baby on Board badge launched in 2005 to help pregnant women get a seat on public transport and TfL now issues around 310,000 Baby on Board badges a year</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-‘Please Offer Me a Seat’ badge and card to be rolled out permanently after successful trial -->

 
 


 