


@{ViewBag.Title = "'Report It to Stop It' campaign encouraging greater reporting of unwanted sexual behaviour";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">‘Report It to Stop It’ campaign encouraging greater reporting of unwanted sexual behaviour</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>‘Report It to Stop It’ campaign encouraging greater reporting of unwanted sexual behaviour</h1>
        <div class="content-page-press-release">
        03 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Further encouragement to report these crimes to be given in a special engagement day on Thursday 4 August
    </div>



<div class="pull-quote">
        <div class="quote-body">"The transport network remains a low crime environment, with reported crimes 21 per cent down over the last five years. We are working closely with the police to further tackle all forms of crime and ensure our customers can continue to travel in our great city with confidence"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Burton</div>
            <div class="quotee-job-title">TfL's Director of Enforcement and On-Street Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>More people are coming forward to report unwanted sexual behaviour on the transport network, TfL has confirmed, following a joint campaign with the police to crack down on the perpetrators.</p>
<p>TfL, the Metropolitan Police Service (MPS) and British Transport Police (BTP) launched the high profile 'Report It to Stop It' campaign in April 2014, encouraging people to report to the police any behaviour that has made them feel uncomfortable.</p>
<p>The 'Report It to Stop It' campaign film has now been watched by almost eight million viewers.</p>
<h2>Special day of engagement</h2>
<p>The number of reports rose by 31% in 2015/16 compared to the previous year, with 1,716 reports of sexual offences during the period resulting in more than 500 arrests.</p>
<p>To encourage even more reporting, police officers will be out across the transport network tomorrow (Thursday 4 August) for a special day of engagement with the public, handing out leaflets and giving advice on how to report unwanted sexual behaviour.</p>
<p>The figures are part of TfL's annual crime statistics bulletin, which confirms the data published by the Mayor's Office for Policing and Crime in the Mayor's Annual Report in June this year.</p>
<h2>Confidence to report crimes</h2>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: 'Following our 'Report It to Stop It' campaign, we have seen a significant increase in the numbers of people having the confidence to report these crimes.</p>
<p>'Together with the police, we are actively encouraging anyone who experiences any kind of unwanted sexual behaviour or who witnesses any other form of crime to come forward - every report is taken seriously and will be investigated to bring perpetrators to justice.</p>
<p>'The transport network remains a low crime environment, with reported crimes 21% down over the last five years. We are working closely with the police to further tackle all forms of crime and ensure our customers can continue to travel in our great city with confidence.'</p>
<p>In 2015/16 there were 29,603 crimes reported as being related to the transport network, against a backdrop of four billion journeys.</p>
<p>The number of crimes reported represented an increase of 6.6% compared to the previous year, which saw the lowest crime figures ever recorded. Crime remains low and is down 21% ‎over the last five years.</p>
<h2>Top priority</h2>
<p>Chief Superintendent Martin Fry, divisional commander for British Transport Police, said: 'The safety and security of passengers and rail staff is our top priority.</p>
<p>'Through the work of Project Guardian and, more recently, Report It To Stop It, which was launched in 2014 we have been encouraging everyone who uses the network to report any incidents which have involved unwanted sexual behaviour.</p>
<p>'With the campaign in place we fully expected to record a rise in sexual offences. We know that offences were being under reported and have worked hard during the past two years to give victims and witnesses the confidence to come forward to make us aware of any problems.</p>
<p>'And though it is a concern that so many people are affected by this type of crime, it is pleasing that more and more people seem to have the confidence to report such matters to the BTP.'</p>
<h2>Robustly investigated</h2>
<p>Detective Chief Superintendent Paul Rickett, Metropolitan Police Service Roads and Transport Policing Command, said: 'We will not tolerate any form of sexual offending on London's surface transport network and we encourage victims and witnesses to come forward and report any such incidents to the police.</p>
<p>'Crimes such as these have historically been under-reported. To change this, the MPS, TfL and other agencies have been working together on initiatives such as 'Report it to stop it,' designed to increase confidence in reporting these offences when they do occur.</p>
<p>'If you have been a victim of such a crime, or you know someone who is, you can be assured that you will be taken seriously. Any allegation will be robustly investigated.'</p>
<p>&nbsp;</p>
<hr />
<p><strong> Notes to Editors:</strong></p>
<ul>
    <li>To attend the day of engagement on Thursday 4 August email: <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a></li>
    <li>Further information on 'Report it to Stop it' can be found here: <a href="https://tfl.gov.uk/info-for/media/news-articles/report-it-to-stop-it#_blank">tfl.gov.uk/info-for/media/news-articles/report-it-to-stop-it</a></li>
    <li>Link to 'Report it to stop it' Tumblr site: <a href="http://report-it.tumblr.com/#_blank">report-it.tumblr.com</a></li>
    <li>Unwanted sexual behaviour is anything that makes you feel uncomfortable. You can report anything of a sexual nature, including rubbing, groping, masturbation, leering, sexual comments, indecent acts, or someone taking photos of you without your consent. You don't have to prove that it was a criminal offence or intentional to report it, the police can investigate that for you</li>
    <li>TfL has around 700 uniformed British Transport Police personnel on the Tube and DLR networks, forming part of the 3,000 strong group of officers across the network dedicated to transport policing, keeping customers safe</li>
    <li>The crime figures relate to crime recorded by the Metropolitan Police Service and the British Transport Police during 2015/16</li>
    <li>The full Crime Statistics Bulletin for 2015/16 can be found here: tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-‘Report It to Stop It’ campaign encouraging greater reporting of unwanted sexual behaviour -->

 
 


 