


@{ViewBag.Title = " TfL to ensure private hire remains safe, secure and convenient";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> TfL to ensure private hire remains safe, secure and convenient</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> TfL to ensure private hire remains safe, secure and convenient</h1>
        <div class="content-page-press-release">
        15 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A new policy statement setting out how private hire and ride-sharing services will operate in the Capital in the future has been published by Transport for London (TfL). The policy has been written in response to changes in the private hire industry and the many new services being offered. It has been designed to ensure London remains the world leader in regulating taxi and private hire services while maintaining the safety of passengers.</p>
<p>The Private Hire Vehicle (PHV) and ride-sharing market has been transformed in recent years as new technology has made it easier and cheaper to book rides through apps, resulting in a significant increase in the number of people opting to use PHV services. An increasing number of services are also emerging in London that include ride-sharing, in which passengers share vehicles and pay separate fares.</p>
<p>Current legislation was introduced before these technologies were developed and TfL recognises the need for clarity on what is now required to ensure the highest possible standards are maintained.</p>
<p>Helen Chapman, Interim Director of Licensing, Regulation and Charging, said: `The private hire market is unrecognisable from when current legislation was introduced. The growth of ride-sharing and other advances mean that regulation has to be fit for the next decade and not the last. Our vision sets out clearly how we will manage these new developments that improve convenience for customers, while ensuring safety remains our top priority. The document also makes clear that any new developments in the sector have to fit with the objectives of the Mayor's Transport Strategy.'</p>
<p>In response to a changing industry, TfL has already consulted on and implemented a number of changes to drive up standards and address safety concerns. We are progressing new regulations to assess private hire drivers and applicants on safeguarding, disability, equality and knowledge of PHV legislation as part of an enhanced driver assessment package.</p>
<p>We are also already considering proposals for consultation in relation to an advanced driving test, PHV operator fleet insurance and private hire vehicle signage. TfL is also considering the impact of removing the Congestion Charge exemption for PHVs and depending on the outcome of this work this could be subject to a public consultation.</p>
<p>TfL is now investigating what further changes need to be made to current legislation to improve private hire, including ride-sharing services, in light of advances of technology and ensure the safety and security of passengers and drivers. Any changes will be subject to full consultation. New regulations could include strengthened requirements for operators to:</p>
<ul>
    <li>Make a strong commitment to safety as a high priority, and to take appropriate steps to ensure the safety of their passengers but also for drivers when dealing with difficult situations</li>
    <li>Clearly state policies and action plans for the prevention and reporting of offences and for clear, named accountability at senior management level for safety, reporting and protection of personal data</li>
    <li>Provide mechanisms to allow passengers to choose who they share vehicles with and establishing how passengers might be able to decide on this before accepting a ride</li>
    <li>Put in place insurance for the use of all PHVs with contingency insurance cover for ride-sharing and fleet insurance where appropriate</li>
</ul>
<p>The policy statement sets out TfL's expectations for private hire and ride-sharing services in London, and its principles will inform future consultations on specific regulations. These will be designed with reference to the Mayor's wider ambition for a safe, active, sustainable and efficient transport network for everyone.</p>
<p>To ensure regulation keeps with the rapidly evolving private hire sector, licences may be issued for shorter periods during the programme of regulatory reform. Any advances in convenience for the customer have to be accompanied by the appropriate protections for passengers.</p>
<p>Other areas that form part of the world-leading vision include:<br />
</p>
<ul>
    <li>Enhanced accessibility &#45; a minimum percentage of private hire wheelchair accessible vehicles should be available to carry out bookings</li>
    <li>Data sharing &#45; operators should share travel pattern data to improve understanding of their services</li>
    <li>Driver conditions - operators providing private hire services should ensure that drivers are treated fairly, ensure drivers have appropriate and reasonable working hours including appropriate breaks throughout their shift and have clear policies and procedures to keep drivers safe</li>
    <li>General operation - operators are under an obligation to inform TfL of any changes to their business model in advance. Innovators should actively seek to improve the professionalism and standards of conduct in the industry</li>
    <li>Signage &#45; consideration to signage in PHVs, including to ensure that they are readily identifiable and that passengers know that they are licensed and regulated by TfL and can make contact to provide feedback or complain where appropriate.</li>
    <li>A full copy of the policy statement is available at: <a href="http://tfl.gov.uk/tph-policy">tfl.gov.uk/tph-policy</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February- TfL to ensure private hire remains safe, secure and convenient -->

 
 
        
        
            @{ViewBag.Description = " TfL to ensure private hire remains safe, secure and convenient";}
        
        


 