


@{ViewBag.Title = "15km of new Quietway cycle routes opened across London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">15km of new Quietway cycle routes opened across London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>15km of new Quietway cycle routes opened across London</h1>
        <div class="content-page-press-release">
        11 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Quietway 14 through Southwark, Quietway 22 from Newham Way to Stratford High Street, and Quietway 6 from Wanstead Flats to Barkingside now open
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is great to see that Londoners of all ages and abilities are embracing the opportunity to ride safely on backstreets and now many more people will be able to benefit"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Three new Quietway cycle routes, enabling cyclists to travel through safer, less busy streets across the capital, have been officially launched today as new figures show cycling in central London grew by 8% in the last year.</p>
<p>With toxic air in London causing thousands of premature deaths every year, expanding London's Quietway network is a key part of the Mayor's plans to get more Londoners cycling and reduce car use.</p>
<p>Since becoming Mayor, Sadiq has already delivered 140km of new cycling infrastructure including 100km of new Quietway routes.</p>
<p>Quietways are continuous, well-signed routes on less-busy streets across London. They complement fully segregated cycle routes that TfL are also building on main roads across the city.</p>
<p>Being able to ride safely through London's backstreets away from busy main roads is one of the ways of enabling more people of different ages and backgrounds to cycle more often.</p>
<p>New figures from Transport for London show cycling levels in central London between April and June 2018 grew by 8% year-on-year, from 173,045 daily journeys to 187,345 daily journeys &#45; the highest quarterly level recorded since measurements began in 2014.</p>
<p>In its first week of opening, Quietway 2 which runs between Bloomsbury and Waltham Forest, more than 24,000 cycle journeys took place, with bikes accounting for an average of 43% of road users, rising to 70% in the morning peak.</p>
<p>The new Quietway routes have been delivered in partnership and were officially opened today by London's Walking and Cycling Commissioner, Will Norman, TfL and borough leaders from Southwark, Newham and Redbridge.</p>
<ul>
    <li>Quietway 14 &#45; a 2km route connecting Blackfriars Road and Bermondsey which will eventually connect to Deptford and Thamesmead. Five main roads are now safer to cross by bike or on foot and two streets have been closed to motor traffic</li>
    <li>Quietway 22 - a 6.5km route connecting Stratford High Street to Cycle Superhighway 3 at Newham Way via West Ham and Plaistow Park</li>
    <li>Quietway 6 - a new 6.5km route connecting Wanstead Flats and Barkingside via a newly-built bridge in Valentine's Park, and a new two-way cycle track on Forest Drive</li>
</ul>
<p>Sadiq's aim is to increase the proportion of people walking, cycling and taking public transport in London to 80% of journeys by 2041, compared to 64% now.</p>
<p>Analysis by the Greater London Authority shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years.</p>
<p>The Mayor of London, Sadiq Khan, said:  'I'm delighted these three new Quietway routes are being officially opened today as part of our growing network across the capital.</p>
<p>'Given the damaging impact toxic air has on our city, it is vital that we do all we can to enable more Londoners to cycle and reduce journeys by car.</p>
<p>'The latest figures show that Quietways are leading to a big increase in cycling with 24,000 bike journeys on Quietway 2 within its first week of opening.</p>
<p>'It is great to see that Londoners of all ages and abilities are embracing the opportunity to ride safely on backstreets and now many more people will be able to benefit.'</p>
<p>Lilli Matson, TfL's Director of Transport Strategy, said: 'We're committed to working with all of London's boroughs to deliver high quality cycle routes across the capital and it's fantastic to see London's cycling network grow so rapidly.</p>
<p>'These new routes will not only help connect people cycling to a huge swathe of London and encourage more people to take two wheels, but they will make the capital a more pleasant place to walk and enjoy.'</p>
<p>Cllr Richard Livingstone, Southwark Council's Cabinet Member for Environment, Transport Management and Air Quality, said: 'Southwark Council is committed to getting people cycling and walking and our new Quietway 14 route is specially designed to help people take their first step, or pedal, to the shops, the library, or to school.</p>
<p>'Walking and cycling are wonderful ways to stay healthy, and to fit exercise into your daily routine, while also helping to clean Southwark's air. I hope Q14 will encourage more people to leave their cars at home and start taking short trips on foot or by bicycle.'</p>
<p>Cllr Rachel Tripp, Newham Council's Cabinet Member for Environment and Highways, said: 'I am delighted to be working so closely with the Mayor of London to encourage people to switch from polluting transport to active travel by foot or by bicycle.</p>
<p>'We know that in order to change behaviour, we need to provide safe and attractive places where people want to walk and cycle, and Quietway 22 is a vital part of that.</p>
<p>'Quietway 22  delivers a safe, family-friendly and traffic-free connection, spanning 6.5 km, for cyclists and pedestrians linking Stratford High Street to Cycle Superhighway 3 at Newham Way via West Ham and Plaistow Park.</p>
<p>'It is now more important than ever for all of us to switch, wherever possible, from polluting journeys in private vehicles, to ways of travelling which are better for our health and for the planet.'</p>
<p>Cllr John Howard, Redbridge Council's Cabinet Member for Civic Pride, said: 'Quietway 6 is a landmark piece of cycling infrastructure in Redbridge.</p>
<p>'It provides a safe and quiet route for residents across the borough and will get more people and families to cycle rather than take trips in their car.  It will encourage an active lifestyle and reduce traffic and air pollution around the borough.</p>
<p>'I certainly will be making use of this positive addition to Redbridge and hope that others who love cycling will do too.'</p>
<p>Matt Winfield, London Director at Sustrans, said: 'It's fantastic to see another 15km of route added to the growing Quietways network, making cycling and walking easier, safer and more enjoyable for everyone.</p>
<p>'As the delivery agent for Quietways, we're proud that the evidence shows they're working. More and more of us are getting about under our own steam, improving our health and reducing congestion on our roads.</p>
<p>'But to help solve the capital's pressing problems, many more of London's neighbourhoods must be transformed to work better for people walking and cycling. London boroughs, who own most of the streets in the capital, must not shy away from making bold choices to make that possible.'</p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<p>The data showing cycling levels in central London between April and June 2018 grew by eight per cent year-on-year and the cycling figures from Quietway 2's first week of opening is taken from TfL's forthcoming quarterly monitoring report.</p>
<p>Greater London Authority research has shown that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years. This includes 85,000 fewer people being treated for hip fractures, 19,200 fewer people suffering from dementia, and an estimated 18,800 fewer Londoners suffering from depression. It is the ambition of the Mayor that Londoners walk or cycle for at least 20 minutes every day &#45; currently only 34% of Londoners manage to do this on any given day.</p>
<p><strong>Quietway 14</strong></p>
<p>A 2KM route connecting Blackfriars Road and Bermondsey and part of a growing network of routes in South-East London.  Five main roads have been made safer to cross on a bike or on foot, including Borough High Street, Southwark Bridge Road and Tower Bridge Road, with new cycling and pedestrian crossings.</p>
<p>Union Street and Newcomen Street have both been closed to motor traffic to stop rat-running and to reclaim the streets for people to enjoy. Meanwhile a wider cycle track on Union Street is enabling people to cycle more safely and comfortably.</p>
<p>Quietway 14 currently connects to Cycle Superhighway 6 at Blackfriars Road and Cycle Superhighway 7 at Southwark Bridge Road, as well as running close to Quietway 1 (Waterloo to Greenwich) and the forthcoming Quietway 7 (Elephant &amp; Castle to Crystal Palace). It will eventually extend further east to Rotherhithe and Canada Water, connecting with Cycle Superhighway 4, and then join the Thames Path route to Thamesmead.</p>
<p><strong>Quietway 22</strong></p>
<p>The new 6.5km route connects Stratford High Street to Cycle Superhighway 3 at Newham Way via West Ham and Plaistow Park. The route includes new lighting and CCTV, enabling people to use the route 24 hours a day. Three new pedestrian and cycle friendly ramps onto the Greenway have also opened up this family-friendly traffic-free route to people living nearby who were previously unable to access it.</p>
<p><strong>Quietway 6</strong></p>
<p>The new 6.5km route connecting Wanstead Flats and Barkingside via a newly-built bridge in Valentine's Park and a new two-way cycle track on Forest Drive.</p>
<p> <strong>---</strong></p>
<p>Existing Quietway routes have seen a massive growth in the numbers of people using them. Between 2014 and 2017, comparing streets before Quietways were built and after they were built, there has been a:</p>
<ul>
    <li>71% increase in cyclists at Great Suffolk Street (Quietway 1)</li>
    <li>64% increase in cyclists at Trinity Street (Quietway 1)</li>
    <li>188%  increase in cyclists at Law Street (Quietway 1)</li>
    <li>94% increase in cyclists at Chatham Place (Quietway 2)</li>
    <li>61% increase in cyclists at Coppermill Lane (Quietway 2)</li>
    <li>32% increase in cyclists at Middleton Road (Quietway 2)</li>
</ul>
<p>The Mayor and Transport for London (TfL) are working closely with boroughs across London to create up to 400km of new cycling routes to add to London's ever growing cycling network.</p>
<p>To date, Quietways have made cycling safer at 86 junctions across London. The first route, Quietway 1 Waterloo to Greenwich, saw a 54% increase in cycling after opening to the public in 2016 and the proportion of women cycling along the route rose from 29% to 35%.</p>
<p>TfL is also working with the boroughs to encourage walking, cycling and the use of public transport through its Liveable Neighbourhoods programme, which provides funding for a wide range of community-supported projects. These could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>
<p>This follows on from TfL's funding to Enfield, Kingston and Waltham Forest through the Mini Holland programme to create a network of cycle routes and improve streets and public areas, which are nearing completion.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-15km of new Quietway cycle routes opened across London -->

 
 
        
        
            @{ViewBag.Description = "15km of new Quietway cycle routes opened across London ";}
        
        


 