


@{ViewBag.Title = "30 community groups awarded cycling grants";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">30 community groups awarded cycling grants</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>30 community groups awarded cycling grants</h1>
        <div class="content-page-press-release">
        22 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycling Grants London scheme funds projects to help under-represented groups take up cycling
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By giving Londoners of all abilities, ages and backgrounds the confidence to cycle, we can improve their health and quality of life, as well as reducing toxic air pollution, which improves our city for everyone

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Successful initiatives include training young offenders to become bike mechanics and encouraging hospital workers to cycle</li>
</ul>

<p>Transport for London (TfL) today announced the latest Cycling Grants London winners as part of its ongoing commitment to encourage Londoners of all backgrounds to take up cycling. &nbsp;</p>

<p>Thirty local community projects across the capital have been awarded TfL's Cycling Grants London funding to help make cycling more accessible for everyone.</p>

<p>Latest figures show that just one in four (25 per cent) people from non-white or mixed backgrounds cycled at least once in 2017/18, compared to 37 per cent of people from white backgrounds. And just 15 per cent of people from non-white or mixed backgrounds commuted by bike at least once in 2017/18, compared to 40 per cent of people from white backgrounds.</p>

<p>Cycling Grants London funding particularly helps groups that are traditionally under-represented among those choosing the healthy and sustainable way of travelling. The winning projects stretch across London and range from schemes that train young people in bike maintenance, a project that encourages women working in hospitals to cycle, training for young offenders to become bike mechanics, cycling groups for disabled and homeless people and a cycle training and maintenance project for the Hindu Bengali community.</p>

<p>Since TfL's Cycling Grants London began in 2015, they have helped encourage more than 18,000 people to cycle. The programme is part of TfL's sustained investment in cycling to make it easier and more appealing. By breaking down the barriers to cycling and making it safer, TfL aims to diversify cycling and make it accessible to people of all ages, abilities and backgrounds.</p>

<p>TfL is committed to increasing the number of women and diverse groups that cycle, including those from Black, Asian and Minority Ethnic (BAME) backgrounds and people with disabilities. TfL offers free Cycle Skills training to give people of all abilities the chance to improve their confidence on the capital's roads.</p>

<p>Where new infrastructure has been built to make cycling safer and easier, there has been a significant increase in cycling, including a 200 per cent increase on Lower Thames Street, a 124 per cent increase on Blackfriars Road and a 53 per cent increase in Whitechapel. The number of women cycling in London has increased four per cent in the last three years and since Quietway 1 was launched in 2016, the number of women using the route has increased from 29 to 35 per cent.</p>

<p>As part of his Transport Strategy, the Mayor has set a target to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041. This will help tackle congestion and London's polluted air and make the city a safer, greener and healthier place.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'We want Londoners of all ages and backgrounds to take up cycling and enjoy the huge benefits. These grants directly support local groups to run brilliant projects in their communities encouraging many more people on to two wheels. By giving Londoners of all abilities, ages and backgrounds the confidence to cycle, we can improve their health and quality of life, as well as reducing toxic air pollution, which improves our city for everyone.'</p>

<p>Carolyn Axtell, Hornbeam JoyRiders Founder and Project Lead, said:</p>

<p>'JoyRiders aims to empower women through introducing them to the joys of cycling, which can also help to build their confidence in other areas of life. I started taking my three kids to school by bike about three years ago and we found that it liberated us as a family. The school run became a pleasure rather than a stressful experience. Two years ago I discovered that at least 90 per cent of the other local mums would love to cycle but hadn't had the opportunity, or had barriers preventing them, such as lack of confidence and not knowing how to cycle. This is why I started organising informal, social bikes rides once a month for women during school hours, and once a month for families and women-only group training for those who couldn't cycle. The Cycling Grants London funding has enabled me to build a strong, ever-expanding network of participants and volunteers, as previously we didn't have enough Volunteer Ride Leaders to accommodate all of the demand.'</p>

<p>Ash Rahman, from Pro Touch SA and his project 'Get on your Bike &#45; Let's Ride London', said:</p>

<p>'We are all incredibly excited to have won Cycling Grants London funding; we weren't expecting this at all. The buzz and atmosphere now amongst the young people we work with is infectious. Our project works to create four key opportunities for our targeted BAME children, aged 6+ in the Islington and Camden area. These opportunities are: Cycle Training, Road Safety Awareness, Bike Maintenance Workshops and Cycle Rides. The funding will help pay for the bikes, tools, equipment and training sessions needed to ensure that we are giving 100 per cent in empowering young people to ride in a confident and safe manner.'</p>

<p>Harriet Plows, Women &amp; Girls Development Manager, Access Sport, said:</p>

<p>'We are very excited to receive this funding from Cycling Grants which will enable us to create three women-only community cycle groups, engaging women from lower socio economic groups, from NHS hospitals and from deprived areas, helping them overcome their barriers to cycling (no bike ownership, lack of confidence, no space to learn how to ride). These groups serve as entry points into cycling and provide a supportive and friendly environment for women to build their skills on a bike and gain confidence to ride on roads. Through these groups we will be tackling the perception that cycling isn't &quot;for us&quot; and creating cycle champions who can be advocates for cycling within their communities.'</p>

<p>Jade Dalton, Clinical Exercise Specialist from Open Age, said:</p>

<p>'We are delighted to receive the Cycling Grants London grant to deliver a beginners' cycling programme in partnership with Bikeworks for older adults in Hammersmith and Fulham. Open Age strongly believes that everyone, irrespective of their culture and socio-economic background, should have the same opportunity to take up new activities and learn new skills. This funding will allow us to broaden our provision of activities in Hammersmith and Fulham by providing a safe and social environment where residents can either learn how to cycle or develop their confidence in cycling. Over the two years, we aim to increase the number of residents aged 50+ cycling for leisure and/or active transport.'</p>

<p>Miranda Leedham, Head of Customer Marketing and Behaviour Change at TfL, said:</p>

<p>'We're working hard to make cycling more accessible for everyone, giving them access to high-quality cycle training and infrastructure which keeps people fit and happy. Cycle Grants London is a valuable part of that work &#45; diversifying the growing number of people who are cycling in the capital every day. We're looking forward to hearing success stories from the 30 projects that are awarded funding today.'</p>

<p>Martin Petry, Programmes Officer (Grants) at Groundwork London, which manages the scheme, said:</p>

<p>'Groundwork is very excited about the launch of the 2019 round of Cycling Grants London as funded by TfL. Since 2015 we've supported 120 cycling projects across London, with each new round bringing an array of projects aimed at people of different backgrounds, ages and abilities. It's inspiring to see just how many people are truly committed to getting London's diverse communities to cycle more often and more safely.'</p>

<p>The Mayor and TfL are working closely with boroughs across London to create up to 400km of new cycling routes to add to London's ever growing cycling network. More than 140km of cycle routes have been constructed so far during this Mayoral term and they have made cycling safer at 86 junctions across London.</p>

<p>TfL is also working with the boroughs to encourage walking, cycling and the use of public transport through its Liveable Neighbourhoods programme, which provides funding for a wide range of community-supported projects. These could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>As well as Cycling Grants London, TfL has a number of other programmes that promote cycling in London including Santander Cycles</li>
	<li>Funding is available every year through Cycling Grants London. For more information including case studies and details of the scheme, visit <a href="www.cyclinggrants.london">cyclinggrants.london</a></li>
	<li>Images of cycling groups TfL has funded can be found on the TfL Flickr page <a href="[ioID]#https://www.flickr.com/gp/tflpress/6K4WZa">here</a></li>
	<li>Projects are expected to help build the confidence of infrequent or new cyclists from all backgrounds, varying abilities and increase cycling by women, children and young people</li>
	<li>Groundwork London is a social and environmental regeneration charity. For almost 20 years they have been at the forefront of environmental and social regeneration in London, changing places and lives for the better in some of the capital's most disadvantaged neighbourhoods: <a href="[ioID]#groundwork.org.uk/london">g</a><a href="[ioID]#roundwork.org.uk/london">roundwork.org.uk/london</a></li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>The winners of this year's Cycle Grants London funding, which were awarded up to &pound;10,000 each over three years, are:</li>
</ul>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Breaking the Cycle project: Run by the Single Homeless Project, this scheme will engage more than 120 homeless people in cycling activities<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Recycle a Bike Project: Sustrans will train secondary school pupils in bike maintenance skills, which they can then use to repair donated, unwanted and broken bikes to sell to the local community<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Hospital Cycling: Led by Access Sport, this project will run cycling courses for women at two London hospitals, in order to teach them cycling skills, increase their confidence and allow them to become cycling ambassadors in the hospital<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Biking with Badu: This project, run by Badu Community CIC, will deliver cycling workshops for young people and their families, from deprived communities, allowing them to become confident cyclists and lead cyclists for groups<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Increasing cycling among Waltham Forest mosque communities: Working with two mosques, the Fatima Elizabeth Cates Academy will engage with the local community, arrange led rides and promote a monthly 'Cycle to Mosque' day<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Popular WoW: Access Sport will create a new cycling club for women in Poplar, to teach participants the basic skills to ride and organise led rides<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Venders Mechanics: This project will deliver a unique training programme for young offenders and those at risk of offending, including bike maintenance skills. Graduates from the course will have the opportunity to work for the scheme as mobile mechanics<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Family Local Commuter Cargo Club: Bespoke Cycle CIC will launch a cargo-focused social enterprise project, giving families the chance to trial cargo bikes in Enfield. The aim is to encourage families to travel using bikes instead of cars<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Little Manor's Big Family Cycle Adventure: A programme will be delivered to parents and children by Aston-Mansfield, covering on and off-road cycling, bike maintenance, advice on bike storage and suggestions on how to buy affordable bikes<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - iCycle: Open Age is hoping to bring cycling to older adults, who are under-represented in cycling, with low-cost, beginner cycling courses in Hammersmith and Fulham. Benefits of this are physical, social and mental health improvements, as well as promoting independence<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Wheely Tots: Family Fit: The programme runs sessions for 50 families to encourage cycling in under-represented groups. Wheely Tots will also offer a mobile fitting service, with a cargo bike and trailer for people to try<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Mini-RiderZ: This project uses technology to transform bikes from a lightweight balance bike, into a small balance bike and then a larger pedal bike, meaning that a child can continue using the same bike when they grow. The Hope of Childs Hill will offer cycling lessons and bike marking, as well as supervised rides<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Bromley Disability Cycling: Bromley Mencap will provide training sessions for people with learning and communication disabilities and their families, to improve their physical, mental and social health and wellbeing<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Bankside Cycle Club: The project, run by Living Bankside, will work to make cycling more accessible to young people and adults, by buying bikes for people to use and providing instructor training<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Project Cycle with Me!: This family cycling programme run by Misgav, encourages disabled women to take up cycling by providing weekly cycling sessions using a range of adaptive bikes<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - The Link: Teaching young people basic bike maintenance skills will enable them to serve and repair donated bikes that have been recycled, which will then be given to members of the community. The project will teach people how to maintain bikes, provide work experience opportunities and encourage vulnerable young people to get involved in wider cycling sessions<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Bikeworks in the Park: This mental health project, run by Bikeworks CIC, will provide cycling sessions for people with mental health issues, using accessible green spaces and they will be given bikes for completing the scheme. The impact of the scheme on people's wellbeing will be measured<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Tigers on Two Wheels: This project will provide lively and accessible cycle training and resources to women and girls in Ealing, with the aim to make them confident cyclists and ambassadors for a culture of cycling within their communities<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - WheelyTots: Awesome Families: The project, run by Wheely Tots, will reach families with disabled individuals who are not confident to reach council services, such as Bikeability cycle training. The ambition is to increase the number of families cycling<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - QEOP Community Outreach: The project takes Pro Bike Service CIC's training and servicing into the community, supporting new cyclists<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Hawks BMX Club Learn to Ride in Primary Schools: This project will run regular club sessions in Hillingdon primary schools, to teach more children how to ride a bike and giving them the skills to continue cycling for life<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Mums and Babes By Bike: This project will provide bikes, equipment, intensive training and support networks for Single Mums and low income Mums who want to start cycling with very young children on a bike.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Erith's Wheel Exchange Project: This project will encourage local residents to swap their cars for a bike, promoting social cycling through led rides in the local area. College students will produce a map of Erith, allowing people to explore the area themselves<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Wheels for Wellbeing: This project will focus on inclusive cycling sessions for Syrian refugee families in Lewisham, giving them a safe space to exercise together<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Pedal Power Cycling for Fun Fitness: Focused on the physical fitness and mental wellbeing of all ages with learning disabilities, making ach session as fun as possible<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - TeamMC Cycling Club: This project focuses on encouraging cycling within the Muslim community, creating a representative that is qualified in cycle maintenance, working with local mosques and training programmes<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Cycle Play-Road Show: A pop-up playground, run by Stars 'n' Stripes, will cater for all ages, themed around road awareness and how to stay safe on the road. It can also be used as an assault course for more advanced cyclists and team building<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Eirtrean Youth Club: A cycling project, which will provide a cycle club for 11-17. The programme is aimed at groups that are under-represented in cycling through family low income<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Get on your Bike &#45; Let's Ride London: This project is designed to help deprived and disadvantaged children ride their bikes in streets and parks without the fear of crime. The project will encourage togetherness and help people to build confidence<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Volunteering on Wheels: Run by the Hornbeam Centre, this project will recruit 50 volunteers to collect and distribute items, including second hand toys and books for mini libraries. There will also be family cycling events to encourage networking and further engagement</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-30 community groups awarded cycling grants -->

 
 
        
        
            @{ViewBag.Description = "30 community groups awarded funding to get more Londoners on their bikes";}
        
        


 