


@{ViewBag.Title = "4G on Jubilee line tunnel section from March 2020";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">4G on Jubilee line tunnel section from March 2020</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>4G on Jubilee line tunnel section from March 2020</h1>
        <div class="content-page-press-release">
        19 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        4G phone signal will allow customers &#45; for the first time &#45; to check emails, plan meeting up with friends and keep in contact while traveling through the tunnels or on Jubilee line platforms in east London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is the best place to live, visit and work &#45; and projects like this will help make it even better


 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Hundreds of miles of cabling now installed across the network and TfL is in discussion with mobile network operators to ensure their customers can benefit when the first section goes live</li>
	<li>Next stage of procurement for concessionaire to make 4G services available across the rest of the network will commence shortly, allowing the whole of the London Underground network to have mobile connectivity by the mid-2020s</li>
	<li>Introduction key part of mayoral ambition to improve digital connectivity at home, in our high streets, public spaces, stations and now right across the transport network</li>
</ul>

<p>The eastern half of the Jubilee line will get full mobile connectivity within station platforms and tunnels for the first time from March 2020 &#45; helping to remove one of the most high-profile mobile 'not-spots' in the UK - Transport for London (TfL) confirmed today.</p>

<p>The trial section, which will cover the platforms and tunnels between Westminster and Canning Town, will allow customers to check for the latest travel information, catch up on social media and read their emails or the latest news uninterrupted as part of their journey. It will build on the existing free WiFi service that TfL offers both within more than 260 WiFi-enabled London Underground stations and on TfL Rail services. The service will also cover ticket halls and corridors within stations along this section of the Jubilee line, with the exception of London Bridge and Waterloo stations which, subject to final approvals, will be added later during 2020.</p>

<p>TfL has been working to bring mobile connectivity to the below ground sections of London Underground, as part of a range of measures announced by the Mayor Sadiq Khan to boost digital connectivity across the capital and tackle London's areas of poor connectivity.</p>

<p>The trialling of 2G, 3G and 4G mobile services along this section of the London Underground network will allow TfL and the mobile operators to gain valuable experience of delivering mobile services on the Underground ahead of awarding a concession to deliver mobile coverage across the whole Underground network. The next stage of procurement for the concessionaire will begin shortly, with a look to award the contract by Summer 2020.</p>

<p>By installing cabling within tunnels and stations in advance of awarding the concession, TfL can better manage station access, reduce the amount of disruption these works may cause to customers and allow the concessionaire to then quickly utilise infrastructure once the final contract is awarded. TfL has also begun discussions with mobile network operators to ensure they can access the infrastructure for the pilot so their customers can benefit when the technology goes live.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'I'm delighted that we will be introducing mobile connectivity to the London Underground from next March. This is a really important step for the millions of people who use the Tube each year.</p>

<p>'Introducing 4G and, in the future, 5G will help Londoners and visitors keep in touch and get the latest travel information while on the go. London is the best place to live, visit and work &#45; and projects like this will help make it even better.'</p>

<p>Shashi Verma, Chief Technology Officer at TfL said:</p>

<p>'The London Underground network is an incredibly challenging environment in which to deliver technological improvements, but we are now well on the path to delivering mobile connectivity within our stations and tunnels. We have begun the complex work to allow our customers to be able to get phone reception within our tunnels from March 2020, with more stations and lines coming online during the coming years.'</p>

<p>Theo Blackwell, London's Chief Digital Officer, said</p>

<p>'This is welcome progress on a very significant step forward in connectivity Londoners can look forward to from early next year. It forms part of our work to improve digital connectivity at home, in our high streets, public spaces and across the transport network.'</p>

<p>Jasmine Whitbread, CEO of London First, said:</p>

<p>'This is a welcome step on the journey to delivering widespread internet connectivity on London's tube network - enabling people to stay in touch on public transport will boost the capital's productivity.</p>

<p>'We look forward to the transformative impact that further projects to improve digital infrastructure on the London Underground will have for the capital, including the programme to deliver better, more real-time customer information throughout the Tube network.'</p>

<p>Delivering mobile connectivity within the London Underground network, which is one of the world's largest underground networks and used by more than five million passengers a day, is extremely challenging. Once fully delivered, more than 2,000 kilometres of cabling are expected to have been installed within tunnels and stations, all of which will need to be fitted outside of operational hours. With the Night Tube around the clock on Fridays and Saturdays, this limits the number of hours engineers can work on the project a week. The space between the trains and the tunnel walls is also often narrow, with little room to safely install equipment, meaning that any work need to be carefully planned and carried out to avoid potential disruption.</p>

<p>Following the launch of the formal procurement process last summer, TfL has now shortlisted four bidders who will be invited to tender for the concession, the next stage of which will begin shortly. Over the last few months, TfL has been working with the shortlisted bidders to help them understand the complexities of working within a transport network which first opened more than 150 years ago, as well as to ensure the tender documentation correctly reflects the latest opportunities for providing better connectivity on our network.</p>

<p>The system will also host the Home Office's new Emergency Services Network which will replace the existing Airwave system currently used by the Police, Fire Services and emergency response teams across Britain. By aligning the projects, TfL has ensured that the latest requirements for the Emergency Services Network are fully incorporated, reducing the need for additional contracts or amendments in the future.</p>

<p>For more information &#45; please visit <a href="[ioID]#https://tfl.gov.uk/info-for/business-and-commercial/creating-a-connected-london">https://tfl.gov.uk/info-for/business-and-commercial/creating-a-connected-london</a></p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The four shortlisted bidders for the mobile phone concessionaire are:</li>
	<li>Axia SC Consortium</li>
	<li>BAI Communications</li>
	<li>Cellnex UK Ltd</li>
	<li>Wireless Infrastructure Group</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>Once the final concession has been awarded, the pilot area may be subject to changes as the final infrastructure and service is installed and implemented.</li>
	<li>In September 2018, the Home Office announced that it had set a new strategic direction for the Emergency Services Network, following an in-depth review. The new, incremental approach would mean that police, fire and rescue services, ambulance services and other users would be able to test and choose which Emergency Services Network products they want when they become available, rather than having to wait for the system to be fully implemented.</li>
	<li>At the request of the Home Office, TfL has also carried out a review of the delivery options for the Emergency Services Network, to see whether further efficiencies could be identified. This review concluded that, by aligning the two projects more closely together, TfL can progress its commercial telecoms ambitions and still maintain an overall Emergency Services Network delivery schedule to be consistent with retiring the existing Airwave service.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-4G on Jubilee line tunnel section from March 2020 -->

 
 
        
        
            @{ViewBag.Description = "First tunnel section of Jubilee line to get 4G mobile reception from March 2020";}
        
        


 