


@{ViewBag.Title = "A new look White Hart Lane station welcomes customers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">A new look White Hart Lane station welcomes customers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>A new look White Hart Lane station welcomes customers</h1>
        <div class="content-page-press-release">
        27 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New station designed to improve access for customers and support extra traffic on match days at Tottenham Hotspur stadium
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The transformed White Hart Lane station is a great addition to the London Overground network and better supports and reflects the changing area it serves

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Rory O'Neill,</div>
            <div class="quotee-job-title">General Manager for London Overground, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Improved station facilities including more ticket vending machines and new lifts from street to platform</li>
</ul>

<p>Customers have been welcomed to a bigger, brighter and more accessible White Hart Lane station this week as Transport for London (TfL) opened the new station entrances and unveiled the major transformation, which will include step-free access from street to platform for the first time.</p>

<p>The design of the new London Overground station has been carefully planned to provide quicker and easier access for local commuters and also visitors attending matches or events at the new Tottenham Hotspur stadium, when usage increases by around 100 per cent.</p>

<p>A new bright and airy ticket hall sits at the heart of the station, providing central and direct access to the platforms, meaning customers can move between the street and trains more quickly.&nbsp; Two new station entrances provide better access to the ticket hall, one on Love Lane creating a better connection with Tottenham High Road and the second providing access via Penhurst Road for the first time.</p>

<p>White Hart Lane will become the latest accessible station on the London Overground network once two new lifts, which will deliver step-free access from street to platform for the first time, are brought into use in early September.</p>

<p>These lifts will operate in addition to two fixed staircases to each platform, one for everyday use and a second that can be opened on event days to help customers board trains more easily and reduce platform congestion.</p>

<p>A lot of thought has gone into the station design to acknowledge the local heritage of the area. The triangular sections of the station fa&ccedil;ade symbolises Tottenham's horticultural past, with reference to the glass greenhouses that once dominated the area. The terracotta pot cladding which covers the eastern and western fa&ccedil;ade acknowledges the time these were manufactured on White Hart Lane from clay sourced in local pits.</p>

<p>A new station forecourt on Love Lane greatly improves the public realm, creating a more pleasant and safer environment.&nbsp; New cycle parking, improved CCTV and on-street signage at the station will help people continue their journey on foot or by bike.</p>

<p>TfL has also introduced a number of other measures to improve the experience for customers using the station.&nbsp; This includes more visible signage within the ticket hall and increasing the number of ticket vending machines from three to four, to make buying tickets and topping up Oyster quicker and easier.</p>

<p>Rory O'Neill, TfL's General Manager for London Overground, said:</p>

<p>'The transformed White Hart Lane station is a great addition to the London Overground network and better supports and reflects the changing area it serves.&nbsp; Its unique design acknowledges the history of the area but provides modern day facilities, including more station capacity which will be vital on event days, step-free access and more ticket vending machines.'</p>

<p>London Overground staff will continue to be highly visible throughout the station, from 15 minutes before the first train to 15 minutes after the last, to assist customers as needed.</p>

<p>Cllr Charles Adje, Cabinet Member for Finance &amp; Strategic Regeneration at Haringey Council, said:</p>

<p>'We welcome the opening of the redeveloped station, which will better serve our residents and the local community. This investment will improve accessibility and make it much easier for people to get to and enjoy this brilliant part of our borough.'</p>

<p>Donna-Maria Cullen, Executive Director for Tottenham Hotspur, said:</p>

<p>'We welcome and are delighted to see Transport for London's investment in the station, delivering much needed improvements for the local community who use it and those visiting the new stadium. It supports and enhances the Club's investment in North Tottenham and complements the wider investment in transport infrastructure for the area. We particularly look forward to welcoming the new lifts that are due to be in use from September, which will make White Hart Lane the latest London</p>

<p>Overground station with step-free access, improving accessibility for all travellers on event and non-event days.'</p>

<p>The redevelopment of White Hart Lane station directly supports the regeneration in the area, which includes the new Tottenham Hotspur stadium and museum, as well as future plans for a hotel and new homes, including the High Road West regeneration scheme.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49467">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-A new look White Hart Lane station welcomes customers -->

 
 
        
        
            @{ViewBag.Description = "A new look White Hart Lane station welcomes customers";}
        
        


 