


@{ViewBag.Title = "Activity for National Hate Crime Awareness Week";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Activity for National Hate Crime Awareness Week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Activity for National Hate Crime Awareness Week</h1>
        <div class="content-page-press-release">
        10 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        High profile week of action - more than 50 joint engagement events taking place at transport hubs across the capital between 10 and 14 October
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is simply no place in our capital for hate crimes of any form, and we will not tolerate them. We must stand together, and anyone who witnesses or experiences abusive behaviour should report it to the police immediately"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) and the Police are standing together to reassure passengers and transport staff that hate crime on the transport network is not tolerated, as part of National Hate Crime Awareness Week.</p>
<p>With hate crime an element in five per cent of all reported crimes that take place on London's public transport network, TfL is working with British Transport Police (BTP), Metropolitan Police Service (MPS) and City of London Police (CoLP) to host a series of joint engagement events.</p>
<p>More than 50 events are taking place at transport hubs across London this week where officers will speak to the public and local communities about hate crimes which may happen on the basis of someone's race, religion, gender, sexual orientation, age or disability. They are being told that if anyone witnesses, or is victim to any sort of hate crime, they can report it, and it will be taken seriously and investigated.</p>
<p>TfL and the Police will be using the #WeStandTogether message to reassure the millions of people who use London's public transport each day that travelling across the Capital is safe and welcoming for all. Transport Police will be reaching out to community groups who may be deterred from travelling because of their fear of victimisation.</p>
<p>The campaign also provides people with practical information about what to do should they ever witness, or fall victim to, any form of hate crime. Since June, the transport police have spoken to more than 5,000 people about whether they've seen or experienced any form of hate crime and to spread the message that it will not be tolerated.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'London today is more diverse than ever and I am incredibly proud that we don't just accept our differences, but celebrate them. There is simply no place in our capital for hate crimes of any form, and we will not tolerate them. We must stand together, and anyone who witnesses or experiences abusive behaviour should report it to the police immediately.'</p>
<p>Steve Burton, TfL's Director of Enforcement and On-street Operations, said: </p>
<p>'We stand united with our policing partners to send a strong message that hate crime of any form is not tolerated on London's transport network. Incidents of hate crime on our network are low, but we know there are some people who feel worried about becoming a victim or made to feel uncomfortable because of who they are. By speaking to communities and people individually we want them to know that all reports&#45; be it for offensive language or physical violence - will be taken seriously and that hate crime has no place on our services.'</p>
<p>Superintendent Chris Horton from British Transport Police (BTP) said: </p>
<p>'Hate crime has absolutely no place on the transport network and everyone should be free to travel without being targeted on the basis of who they are.</p>
<p>'We ask those who experience hate crime or witness it on their journey to tell us what happened. We know it can sometimes be uncomfortable to talk about what happened but we will listen to you and we will act.</p>
<p>'People can report an incident to us discreetly by texting 61016 from a mobile phone, or they can call us on 0800 40 50 40.'</p>
<p>Detective Chief Superintendent Paul Rickett, MPS Roads and Transport Policing Command, said: </p>
<p>'We will not tolerate any form of hate crime on London's surface transport network. People ought to be able to go about their lives without fear of being targeted or made to feel uncomfortable by a minority with hate-based attitudes.</p>
<p>'We are acutely aware that hate crime is still under reported and we are working hard with our partners to address this. If you have been a victim of such a crime, or you know someone who has been, you can be assured that you will be taken seriously. Any allegation will be robustly investigated.'</p>
<p>Chief Inspector Hector McKoy from the City of London Police said: </p>
<p>'We want everyone to feel safe and secure travelling around the City of London, and the rest of the Capital. The City of London Police have an important role to play across all our communities, helping people to feel safe and secure about being themselves as they go about their daily lives &#45; and there is never any excuse for abuse, racism or hate crime.</p>
<p>'Alongside our partners we are meeting with our communities, offering them reassurance and support, and letting them know what they can do if they witness or experience hate crime. The City of London Police message is very clear &#45; report it, and do not suffer in silence.'</p>
<p>Mark Healey, founder of the 17-24-30 No to Hate Crime Campaign and Organiser of National Hate Crime Awareness Week, said: </p>
<p>'We are really encouraged by the number of events taking place around the UK, and welcome the positive engagement between Transport for London, local authorities and communities affected by hate crime. It's important we are all standing together, to say there is no place for hate in any of our communities.'</p>
<p>People can report seeing or experiencing a hate crime by texting 61016 from a mobile phone (for Tube and rail incidents) or by calling 101. In an emergency they should call 999.</p>
<p>For anyone who feels uncomfortable speaking to the police about a Hate Crime incident, they can visit <a href="http://report-it.org.uk">report-it.org.uk</a> where reports can be submitted that are anonymous.</p>
<p>Anti-Muslim incidents can also be reported at: Tell MAMA on 0800 456 1226, WhatsApp ‎0734 184 6086 or at <a href="http://tellmamauk.org">tellmamauk.org</a>.</p>
<p>For Anti-Semitic incidents, CST can be called on 0208 457 9999 or reported at <a href="http://www.cst.org.uk">www.cst.org.uk</a> .</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ul>
    <li>Media interested in attending one of the engagement events taking place at transport hubs this week, and speaking to a spokesperson, can contact TfL Press office at <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a></li>
    <li>The Mayor's Office for Policing and Crime (MOPAC) is supporting the organising of National Hate Crime Awareness Week, distributing information and promotional items to organisations around the city in support of the week's events. MOPAC has also developed a Hate Crime reporting app, which can be downloaded for Android or Apple here: <a href="https://www.witnessconfident.org/download-the-self-evident-app">https://www.witnessconfident.org/download-the-self-evident-app</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-Activity for National Hate Crime Awareness Week -->

 
 


 