


@{ViewBag.Title = "Advertising estate generates more than &pound;140m to invest in transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advertising estate generates more than £140m to invest in transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advertising estate generates more than £140m to invest in transport network</h1>
        <div class="content-page-press-release">
        27 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Annual advertising revenue across TfL network increases by nearly 20 per cent
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We continue to invest in transforming our advertising estate, which is already the most valuable in the world, to make it even more attractive to advertisers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Improvements to advertising estate increase revenue to invest in the network</li>
    <li>Newly established Advertising Steering Group ensuring implementation of revised policy</li>
</ul>
<p>TfL has today revealed an increase in its advertising revenue with more than &pound;140m generated in the last year to be invested back in the transport network.</p>
<p>The publication of TfL's first Annual Advertising Report has shown the success of the Mayor's drive to make TfL more commercially-minded, outlined how TfL is modernising the estate to maximise opportunities and analysed the first year of the revised Advertising Policy.</p>
<p>In 2016/17 more than 16,000 advertisements ran on the TfL network, generating approximately &pound;142m &#45; up nearly 20% from &pound;120m in 2015/16.</p>
<p>Forty per cent of London's outdoor advertising space, and 20% of the UK's outdoor space, is owned by TfL, with revenue used to invest in maintaining and modernising transport. With its Tube, rail, bus and road network supporting approximately 31 million journeys every day this advertising reaches one of the most diverse and engaged audiences in the world.</p>
<p>To ensure that these advertisements are appropriate for a diverse and growing city, last year TfL revised its Advertising Policy with a particular focus on addressing issues around body image. This followed a pledge from the Mayor to ban advertisements that could pressurise people to conform to unhealthy or unrealistic body images.</p>
<p>An Advertising Steering Group with deep experience of the industry and public policy was created to help guide TfL's implementation of the policy including reviewing all complaints and rejected advertisements.</p>
<p>Over the past year, 148 complaints were received on a range of topics. The most frequent topics of complaint were related to religion, political, sexual nature and body image.</p>
<p>Sixty one advertisements were accepted after TfL worked with advertisers to amend material to comply with the TfL Advertising Policy, and 23 advertisements were rejected for not complying with the policy. Three of these were rejected for not complying with the policy on body image.</p>
<p>TfL is also working to find new and creative ways to enhance advertising across its network. In the past year, two large-scale screens have been installed at Canary Wharf Tube station enabling high-impact, full-motion advertisements to be displayed. Hundreds of new digital screens at bus shelters are providing a dynamic and flexible way for advertisers to market their products and services. New digital advertising screens across the A3 at New Malden, the A102 in Greenwich and A406 at Wembley have also been installed, with a further three sites planned to be installed later this year.</p>
<p>Val Shawcross CBE, Deputy Mayor for Transport, said: &quot;The Mayor has worked hard to make TfL more commercially-minded as money made from advertising can be directly used to improve the capital's transport network. That's why there has been a 20 per cent increase in revenue in the last year and why TfL continues to look at further creative opportunities, while ensuring that all advertising is fitting for a modern city.&quot;</p>
<p>Graeme Craig, Director of Commercial Development for TfL said: &quot;We continue to invest in transforming our advertising estate, which is already the most valuable in the world, to make it even more attractive to advertisers. This enables us to generate revenue which is used to modernise transport in London. At the same time, we are taking great care to ensure that the advertising we carry is appropriate for our diverse and growing city.  We are extremely grateful to the advertising steering group for their invaluable guidance and insight in this and many other areas.&quot;</p>
<p>The Annual Advertising Report and more information about advertising on the TfL network, including the TfL Advertising Policy, can be found here: <a href="http://www.tfl.gov.uk/info-for/business-and-commercial/commercial-media">https://tfl.gov.uk/info-for/business-and-commercial/commercial-media</a></p>
<p><a href="http://www.tfl.gov.uk/info-for/business-and-commercial/commercial-media"></a></p>
<hr />
<p>&nbsp;</p>
<p>Notes to editors:</p>
<ul>
    <li>Photos of examples of advertising on the TfL network can be found here: <a href="http://www.tfl.gov.uk/info-for/business-and-commercial/commercial-media">https://www.flickr.com/photos/tflpress</a> or by contacting the TfL press office</li>
    <li>From July 2016 to July 2017, the Advertising Standards Authority (ASA) received complaints about nine adverts on the TfL network. Eight were informally resolved either by the advertiser amending or withdrawing the advert; one appeal was upheld.</li>
    <li>All papers for the TfL Advertising Steering Group can be found here: https://tfl.gov.uk/info-for/business-and-commercial/commercial-media</li>
    <li>The members of the Advertising Steering Group are:</li>
</ul>
<ol>
    <li>Dr Mee Ling Ng, TfL Board Member (Chair)</li>
    <li>Val Shawcross, Deputy Mayor for Transport</li>
    <li>Evelyn Asante-Mensah, Former Commissioner for Equality and Human Rights Commission</li>
    <li>Dr Phillippa Diedrichs, Associate Professor in Appearance Research, University of West England</li>
    <li>Tom Knox, Executive Partner, MullenLowe and former President of IPA</li>
    <li>Leah Kreitzman, Mayoral Director for External and International Affairs</li>
    <li>Lexian Porter, Member of the TfL Youth Panel</li>
    <li>Kim Sanders, Head of Media Engagement, Stonewall</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-Advertising estate generates more than £140m to invest in transport network -->

 
 
        
        
            @{ViewBag.Description = "Advertising estate generates more than £140m to invest in transport network";}
        
        


 