


@{ViewBag.Title = "Advice ahead of Central and Waterloo & City line strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice ahead of Central and Waterloo & City line strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice ahead of Central and Waterloo & City line strike</h1>
        <div class="content-page-press-release">
        19 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Train operators who are union members are planning strike action that would affect services on these lines on Wednesday, 22 February
    </div>



<div class="pull-quote">
        <div class="quote-body">"We urge [the unions] to engage with us to resolve this issue and to withdraw the strike action, which will only cause needless disruption to Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter McNaught</div>
            <div class="quotee-job-title">Operations Director for the Central line</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Action would mean no Central line service east of Leytonstone and a reduced service on the rest of the line and no service at all on the Waterloo &amp; City line</li>
    <li>Follow <a href="http://tfl.gov.uk/tube-strike">tfl.gov.uk/tube-strike</a> and &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts for latest information</li>
</ul>
<p>Transport for London (TfL) is advising customers using the Central and Waterloo &amp; City lines that services will be affected should planned strike action by train operator union members goes ahead</p>
<p>If it goes ahead, Central line and Waterloo and City line services will be affected as follows:</p>
<p>Tuesday 21 February</p>
<ul>
    <li>23:30:  Central line closing so customers are advised to complete their journeys on the line by this time</li>
    <li>The Waterloo &amp; City line will not be affected</li>
</ul>
<p>Wednesday 22 February</p>
<ul>
    <li>All day: No Waterloo &amp; City and no Central line east of Leytonstone</li>
    <li>05:30:   No westbound Central line between White City and Leytonstone</li>
    <li>07:00:   Very limited Central line</li>
    <li>23:00:   Central line closing so customers are advised to complete their journeys by this time</li>
</ul>
<p>A normal service will resume on Thursday 23 February.</p>
<p>Some other stations and lines will also be much busier during the strike, particularly in the morning and evening peaks. These include:</p>
<ul>
    <li>Chingford and Ilford stations will be extremely busy in the peaks, with queues likely outside the stations.</li>
    <li>Leytonstone will also be extremely busy in the morning peak, and buses from Leytonstone will be very busy in the evening peak. Customers are advised to consider taking a bus to or from Stratford or Leyton instead.</li>
</ul>
<p>Other stations and lines that will also be much busier include TfL Rail services between Romford and Stratford, particularly Ilford station, and London Overground lines and stations between Liverpool Street and Chingford. The Victoria line will be much busier than usual, particularly Walthamstow Central, as will the Jubilee line between London Bridge and Waterloo. Customers may have to queue outside stations during peak times to prevent overcrowding, and it may take longer than usual to board a train.</p>
<p>A special bus shuttle service will be operating between Epping and Chingford calling at Epping, Debden, Loughton and Chingford providing connections to London Overground services. TfL is boosting local bus services in areas which will not have a Central line service.</p>
<p>There will be posters, digital boards and announcements in stations around the network and customers are advised to check before they travel at tfl.gov.uk/tube-strike and use TfL's live update services - &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<p>This dispute concerns the need to move eight train operators on the Central line.  These drivers are needed at other depots on the Underground so that London Underground can provide the best possible train service to customers.  Following consultation, TfL has minimised the number of drivers affected to eight from originally over 30 and has guaranteed that those required to move will have first preference on any future vacancies at their original location.</p>
<p>These moves are in accordance with TfL's agreements with the unions, which state that employees can be asked to work at any location on the network.  No further moves are planned.</p>
<p>Peter McNaught, Operations Director for the Central line, said: </p>
<p>'I apologise to customers for the disruption that this unnecessary strike will cause.  We have made all reasonable efforts to resolve this dispute through talking through the issues with the unions, and we have minimised the number of employees affected from over 30 to eight.  All of these moves are within the longstanding agreements we have made with the unions.  We urge them to engage with us to resolve this issue and to withdraw the strike action, which will only cause needless disruption to Londoners.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Other stations likely to be busy are Bank, Bond Street, Embankment, Holborn, Leyton, Liverpool Street, London Bridge, Mile End, Monument, North Ealing, Ealing Common, Oxford Circus, Stratford, Tottenham, Court Road and Waterloo.</li>
    <li>The action is scheduled for 21.00 on Tuesday 21st until 20.59 Wednesday 22nd February.  Central line trains   will finish at around 23:30 Tuesday evening, and will be affected all day on Wednesday. The services will resume as normal at the start of traffic on Thursday 23 February.</li>
    <li>Trains will be less frequent than usual on the majority of the Central line trains will run:</li>
</ul>
<ul>
    <li>about every 10 minutes west of North Acton at peak times (every 20 minutes off peak)</li>
    <li>about every five minutes between North Acton and Leytonstone at peak times (every 10 minutes off peak)</li>
</ul>
<ul>
    <li>There will be no service east of Leytonstone or on the Waterloo &amp; City line all day Wednesday 22 February.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-Advice ahead of Central and Waterloo & City line strike -->

 
 


 