


@{ViewBag.Title = "Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development</h1>
        <div class="content-page-press-release">
        13 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest in a series of development sites, which could raise &pound;500m for reinvestment in improving transport in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As a key part of our huge development pipeline, the Elizabeth line schemes are directly opening up opportunities for new homes and jobs, and could raise &pound;500 million to reinvest in London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>A development agreement has been signed between TfL and HB Reavis to build a 138,000 sq ft (Gross Leasable Area) mixed use scheme above Farringdon's new Elizabeth line platforms on the corner of Cowcross Street and Farringdon Road.</p>
<p>The site in Clerkenwell will be transformed into a mixed-use development with ground floor and basement retail combined with seven storeys of high-quality office space including a terrace, a fitness facility, and generous cycle provision accessed directly from the nearby Cycle Superhighway connecting Elephant and Castle and King's Cross.</p>
<p>Construction above Farringdon station is expected to start later this year.</p>
<h2>Three million square feet</h2>
<p>Plans are in place for 12 major developments over and around the new Elizabeth line stations and construction sites.</p>
<p>In total, the development plans cover more than three million square feet of office, retail and residential space between Paddington in the west and Woolwich in the east.</p>
<p>The developments are expected to raise &pound;500m for reinvestment in improving transport in London.</p>
<p>Today's announcement follows the signing of development agreements in March this year</p>
<ul>
    <li>Bond Street station, where an agreement has been signed with Grosvenor Britain &amp; Ireland to develop 110,000 sq ft of floor space above the western ticket hall. The proposed scheme comprises six floors of office accommodation above the station, served by an entrance lobby on Davies Street</li>
    <li>Farringdon station, where an agreement has been signed for the development over the eastern ticket hall with Helical Plc. The scheme, opposite the historic Smithfield Market, comprises 120,000 sq ft of office floor space over six storeys</li>
</ul>
<p>The site above Tottenham Court Road's eastern ticket hall, on the corner of Oxford Street and Charing Cross Road, was handed over to Derwent in early 2018.</p>
<p>Planning permission has been granted for 209,000 sq ft of offices, 36,000 sq ft of retail and a 40,000 sq ft theatre &#45; the first new West End theatre in a generation.</p>
<p>Derwent has started enabling works with the intention of appointing a main contractor later this year.</p>
<h2>Redefine transport</h2>
<p>TfL also has an existing agreement with Great Portland Estates relating to the Bond Street eastern ticket hall at Hanover Square.</p>
<p>The new mixed use scheme will deliver 325,000 sq ft and the site is expected to be handed over fully to the developer this summer.</p>
<p>The Elizabeth line will redefine transport in London with quicker, easier and more accessible journeys when services begin in December 2018.</p>
<p>Two hundred million passengers are expected to use the new line each year - more than all of London's airports combined.</p>
<p>The first train was test-driven through the new tunnels last month as construction of Europe's largest infrastructure project reaches its final stages.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said 'With the arrival of the Elizabeth line, Farringdon will become one of the best connected places in London.</p>
<p>'We are therefore delighted to have reached this agreement with HB Reavis at this superb location.</p>
<p>'As a key part of our huge development pipeline, the Elizabeth line schemes are directly opening up opportunities for new homes and jobs, and could raise &pound;500 million to reinvest in London's transport network.'</p>
<h2>Strategically important</h2>
<p>Steven Skinner, Transactions Director of HB Reavis UK, said: 'We are delighted to have secured the acquisition of this strategically important site.</p>
<p>'The addition of the Elizabeth line at Farringdon station, creating the only station where the Tube, Thameslink and Elizabeth lines intersect, secures Clerkenwell as a sub-market with huge relevance across the whole of central London and reaffirms our commitment to invest in locations with superb connectivity and unique character.</p>
<p>'As with all of our buildings, we have put design quality and the needs of occupiers first.</p>
<p>'The design changes proposed for the scheme result in a unique product offering for Clerkenwell with large floor plates, uncompromised office space combining seamlessly with a real focus on the wellbeing of its occupants through carefully designed large scale outdoor spaces, a re-thinking of the traditional office reception and provision of spaces for health and fitness.'</p>
<p>The Elizabeth line sites are a key part of TfL's plans to establish a significant long-term revenue stream to reinvest in transport.</p>
<p>Last year, TfL brought forward sites which will deliver more than 3,800 homes, half of which will be affordable.</p>
<p>This year, TfL is planning to bring forward land for at least another 3,000 new homes, again half of which will be affordable.</p>
<p>The introduction of the Elizabeth line supports the Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>All figures given for square footage relate to the gross leasable area</li>
    <li>Crossrail Ltd obtained planning consent for the scheme designed by architects John Robertson in 2013</li>
    <li>The 12 Elizabeth line stations and construction sites that will include oversite development are: Paddington, Bond Street (x2), Tottenham Court Road (x2), Liverpool Street (x2), Farringdon (x2), Limmo Peninsular, Fisher Street, and Woolwich</li>
    <li>TfL doesn't make a profit &#45; we reinvest all our income to run and improve services and are committed to reducing costs</li>
    <li>New research by property consultancy GVA has shown the Elizabeth line is a major catalyst for regeneration across London and the South East. The January 2018 report is available online at <a href="http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail%20Report.pdf">http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail%20Report.pdf</a></li>
    <li>The Elizabeth line is jointly sponsored by the Department for Transport (DfT) and TfL.  London's new railway will open in phases:</li>
</ul>
<p><strong>December 2018</strong></p>
<p>Services through central London begin, three separate services will operate:</p>
<ul>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington (main line station) to Heathrow Terminals 2 &amp; 3 and 4</li>
    <li>Liverpool Street (main line station) to Shenfield</li>
</ul>
<p><strong>May 2019</strong></p>
<ul>
    <li>Direct services will operate from Paddington to Shenfield and Paddington to Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate in the main line station</li>
</ul>
<p><strong>December 2019</strong></p>
<ul>
    <li>The Elizabeth line will fully open, with services running from Reading and Heathrow in the west (including Terminal 5) through the central tunnels to Shenfield and Abbey Wood in the east</li>
</ul>
<p><strong></strong></p>
<p><strong>About HB Reavis</strong></p>
<p>HB Reavis' mission is to bring remarkable experiences to people's lives through our real estate solutions.</p>
<p>The people who experience our developments are our main focus - our aim is to deliver great spaces that enhance productivity, well-being and the overall experience for those that use them as well as the surrounding communities.</p>
<p>As an international workspace provider, we design, build and manage our buildings, from bespoke headquarters and retail malls to co-working spaces.</p>
<p>We also act as an investment manager. HB Reavis operates in the UK, Poland, the Czech Republic, Slovakia and Hungary while exploring development opportunities in Germany.</p>
<p>Since HB Reavis was founded in 1993, we have successfully delivered more than 11.4 million sq ft of commercial space.</p>
<p>We have further developments in the pipeline totalling more than 14.2 million sq ft, with a planned value of &pound;6.2 billion.</p>
<p>Eight schemes are currently under construction, with an expected leasable area totalling 4.1 million sq ft and value of &pound;1.5 billion. (All subjects to possible changes in planning, permitting and construction as well as general market conditions.)</p>
<p>With capital exceeding &pound;1.1 billion and a team of 700 people, we're proud to say that HB Reavis is among the European market leaders in real estate.</p>
<p>The exceptionally high standards we set in terms of development quality and sustainability have been recognised internationally with a series of awards, including: "Best Employer in Poland" in 2016 by AON Hewitt, "Best European Office Developer 2016" in the World Finance awards, "Office Developer" in the Annual CEE Investment Awards 2017 by EuropaProperty and "Global Real Estate Investor of the Year" by Estates Gazette Awards 2017 in the United Kingdom.</p>
<p>More details at <a href="http://www.hbreavis.com">http://www.hbreavis.com</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development -->

 
 
        
        
            @{ViewBag.Description = "Agreement signed to build above Farringdon station as part of huge programme of Elizabeth line property development";}
        
        


 