


@{ViewBag.Title = "Artwork by late artist David McDiarmid unveiled at Brixton Station ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Artwork by late artist David McDiarmid unveiled at Brixton Station </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Artwork by late artist David McDiarmid unveiled at Brixton Station </h1>
        <div class="content-page-press-release">
        25 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Art on the Underground has teamed up with not-for-profit gallery Studio Voltaire and This is Clapham, to celebrate the work of late Australian artist and activist, David McDiarmid.</p>
<p>'Rainbow Aphorisms' (1993-1995), are a series of short and bold statements set on full rainbow backgrounds which reference  McDiarmid's experience of the AIDS crisis. This is the first major presentation of the artist's work in the UK.</p>
<p>The vibrant, rainbow coloured artworks, 'THE FAMILY TREE STOPS HERE DARLING, DON'T FORGET TO REMEMBER and GIRLFRIEND OUR LIFE IS ONE OF LIGHTS AND SHADOWS' , will be displayed above the entrance to Brixton Underground station and at stations across London.</p>
<p>Speaking about his work in 1992, McDiarmid said, 'I wanted to express myself and I wanted to respond to what was going on and I wanted to reach a gay male audience. I wanted to express very complex emotions and I didn't know how to do it ... I was in a bit of a dilemma. I thought, well, how can I get across these complex messages. I didn't think it was simply a matter of saying gay is good.'</p>
<p>Eleanor Pinfield, Head of Art on the Underground, said: 'Art on the Underground enriches people's journeys on the Tube each day with innovative approaches to public art. By partnering with Studio Voltaire on their first public project, we can bring the complex, colourful works of 'Rainbow Aphorisms' to a new audience across London, challenging familiar messaging around HIV / AIDS.'</p>
<p>Justine Simons OBE, Deputy Mayor for Culture &amp; Creative Industries, said: 'I'm delighted that David McDiarmid's colourful, poignant and powerful works will be displayed across London's largest art gallery &#45; the London Underground. McDiarmid was a trailblazing gay activist and the Tube network is the perfect way to showcase his messages about living with HIV/AIDS to a wider audience, particularly in the run up to World Aids Day in December.'</p>
<p>Over the course of a year, artworks will also appear on Studio Voltaire's facade and neighbouring LGBTQ+ venue Two Brewers, and other temporary locations across Clapham and Brixton.  There will also be a number of public events held &#45; more information can be found here: <a href="http://art.tfl.gov.uk">art.tfl.gov.uk</a> and <a href="http://studiovoltaire.org">studiovoltaire.org</a></p>
<p>The project has been mounted with the support and involvement of the David McDiarmid Estate in Sydney.</p>
<p>ENDS</p>
<p>Press contact &#45; <a href="http://pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a>  / 0845 604 4141</p>
<p>Notes to editors:</p>
<ul>
    <li>Images can be found here: <a href="https://www.flickr.com/photos/tflpress/">https://www.flickr.com/photos/tflpress/</a></li>
    <li>Art on the Underground (AOTU) is a pioneer in commissioning contemporary artworks that enrich the journeys of millions on London's Underground each day. Established in 2000, Art on the Underground has worked with some of the best British and International artists, maintaining art as a central element of Transport for London's identity.</li>
</ul>
Upcoming Art on the Underground commissions:
<ul>
    <li>'Clay Station', a collaboration with artist Matthew Raw and Turner Prize winning architecture collective Assemble, involving the production of over a thousand hand-made tiles as part of the refurbishment of a disused commercial at Seven Sisters Underground Station</li>
    <li>A day Tube pocket map cover by Marc Camille Chaimowicz and a Night Tube pocket map cover by Marianna Simnett.</li>
</ul>
<ul>
    <li>TfL regularly engages with its employees through surveys and uses the anonymous feedback to help identify and tackle issues, such as those LGBT+ people can face. The LGBT+ network at TfL, OUTbound, is involved in influencing change at all levels of the organisation and works with TfL to celebrate a range of important milestones, including Pride, LGBT+ History Month and Trans Awareness Week.</li>
</ul>
<p>About the artist</p>
<ul>
    <li>David McDiarmid (born 1952 Hobart, Tasmania, died 1995 Sydney, Australia)) was an artist, designer and political activist, recognised for his prominent and sustained artistic engagement in issues relating to gay male identity and history.</li>
    <li>Involved with the Sydney Gay Liberation movement since 1972, his first solo exhibition Secret Love, held at Sydney's Hogarth Galleries in 1976, featured collages explicitly exploring gay male sexuality, anti&#45;gay legislation and public and private sexual hypocrisies.</li>
    <li>McDiarmid lived and worked in New York from 1979-1987. After returning to Australia at the end of 1987 McDiarmid immersed himself in community art projects. McDiarmid is also known for his artistic direction of the Sydney Gay and Lesbian Mardi Gras, creating all the posters in 1986, 1988 and 1990.</li>
</ul>
<p>About Studio Voltaire</p>
<ul>
    <li>For over twenty years, Studio Voltaire has championed emerging and under-represented artists, offering an alternative and agenda&#45;setting view of contemporary art.</li>
    <li>Studio Voltaire's programme is intergenerational, supporting both emerging artists and those who have been under-represented in their career but deserve championing. Exhibitions and education projects are free to all.  Studio Voltaire, 1a Nelsons Row, London SW4 7JR <a href="http://studiovoltaire.org">studiovoltaire.org</a></li>
</ul>
<p>About This is Clapham</p>
<ul>
    <li>This is Clapham is a Business Improvement District (BID), established in October 2014 following a successful ballot in accordance with the Business Improvement Districts (England) Regulations 2004.</li>
    <li>The BID's overarching aim is to improve Clapham as a place to work, live, visit and do business. Its work is focused around four key themes, which are promote, enhance, safe and connect. Under these themes the BID delivers a range of projects designed to support businesses and improve the area. <a href="http://www.thisisclapham.co.uk">www.thisisclapham.co.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-Artwork by late artist David McDiarmid unveiled at Brixton Station  -->

 
 
        
        
            @{ViewBag.Description = "Artwork by late artist David McDiarmid unveiled at Brixton Station ";}
        
        


 