


@{ViewBag.Title = "Autumn Ambles is back! Book your free walking tour and get strolling";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Autumn Ambles is back! Book your free walking tour and get strolling</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Autumn Ambles is back! Book your free walking tour and get strolling</h1>
        <div class="content-page-press-release">
        31 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>This autumn, Transport for London (TfL) is encouraging people to explore the Capital with 40 free guided walks. Autumn Ambles, on Saturday 23 and Sunday 24 September, covers a variety of fun themes, with walks varying in length from one to 10 miles and stretching across London from Wimbledon to Cockfosters.</p>
<p>New walks for 2017 include a specially designed dementia-friendly stroll around the flora and fauna of Southwark Park and a rock 'n' roll themed tour of the famous sights of Camden. The walks are very popular, so people are advised to reserve their free place via walklondon.org.uk .</p>
<p>The walks are taking place one month after Public Health England released statistics showing how millions of people across the UK still don't walk the recommended amount each month. GLA analysis also shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years.</p>
<p>These walks offer a great opportunity with something to suit all ages and abilities, with levels ranging from challenging treks to short strolls. Each walk is led by an experienced Walk London guide.</p>
<p>New and exciting walks on offer this autumn include:</p>
<p>Saturday 23 September:</p>
<ul>
    <li>Sensory Walk &#45; dementia-friendly stroll at 11.00 - exploring the history, flora and fauna of Southwark Park. On the walk, learn how to support people living with dementia to enjoy the sights, sounds and smells of the outdoors.</li>
    <li>Animal I-Spy in the City at 10:30 &#45; a family-friendly walk, exploring the city and discovering where animals are hiding. This walk is perfect for children between the ages of four  and  seven</li>
    <li>Camden Rock 'n' Roll at 14:30 &#45; enjoy a walking tour of the famous and infamous sights of Camden's rock 'n' roll history and discover the area and the musical roots that grew out of north London</li>
</ul>
<p>Sunday 24 September:</p>
<ul>
    <li>The Piccadilly line at 10:00 &#45; ever wondered why there are no flower beds in Green Park? Join this walk to learn more as the route follows the Piccadilly line above ground from Green Park to Covent Garden station. Hear the history of the Tube line and the Underground in general</li>
    <li>The Spooky City &#45; ghosts, body snatchers and public executions at 11:00 and 14:00 &#45; a walk exploring London's sinister secrets, visiting the Old Bailey, the site of the former Newgate Prison, and many other creepy locations</li>
    <li>Shoreditch Tour of London's coolest streets at 13.30 - discover hidden areas and lesser-known streets around Shoreditch and see work by some of the world's greatest street artists. A perfect walk to learn about the area's rich historical sites including William Blake's grave and Shakespeare's first London theatre</li>
    <li>Family Favourites &#45; the walk that's also a quiz at 16.00 &#45; see the Tube station that Harry Potter and Mr Weasley use and learn how it could have made Big Ben fall over, and see a location visited by Paddington Bear and its clever trick for staying lucky</li>
</ul>
<p>Will Norman, Walking and Cycling Commissioner, said: `This year's guided walks include some fascinating new looks at our great capital. I hope they inspire even more Londoners to get out and about, as walking is not only the best way to explore everything London has to offer, it's also great for your health and well-being.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `Making walking an activity for all Londoners regardless of their age or ability is something we encourage, so we're delighted to offer a new dementia-friendly walk, as well as those great for the whole family.'</p>
<p>Esther Watts, Senior Dementia Friendly Communities Officer at Alzheimer's Society, said: `I'm delighted that TfL and Walk Unlimited  have chosen to work with Alzheimer's Society and Cool Tan Arts to provide a dementia-friendly walk in this year's Autumn Ambles.  Exercise is important for everyone's health and wellbeing, including people living with dementia who may not get as many opportunities to explore London. The sensory walk at Southwark Park is a great way for families to enjoy exercise together.'</p>
<p>The Mayor's draft Transport Strategy includes the aim of increasing the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, compared to 64 per cent now, meaning an average of three million fewer car journeys in London each day. To make this commitment a reality, a wide range of improvements to London's streets, junctions and public spaces are underway, including the installation of more than 1,700 Legible London signs across the Capital, making it easier and more enjoyable to walk around London.</p>
<p>For more information about walking in the Capital and to download TfL's Walking Tube map, visit <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></p>
<p>ENDS</p>
<p>Notes to Editors</p>
<ul>
    <li>Walks are delivered by Walk Unlimited</li>
    <li>All walks are accompanied by a trained Walk Leader and experienced Back Marker, and start and finish within easy reach of public transport</li>
    <li>Nearly 50,000 people have attended Walk London's walking weekends since November 2007</li>
    <li>The Walk London network is made up of seven top walking routes that cover more than 390 miles / 628 km and pass through every borough. Maps and guides are available to download at tfl.gov.uk/walking</li>
    <li>Public Health England (PHE) revealed last week that 41 per cent of the 15.3 million English adults aged 40 to 60 walk less than 10 minutes continuously each month at a brisk pace of at least 3mph.</li>
    <li>For more details on the GLA research visit&nbsp; <a href="https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf">https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf</a></li>
    <li>PHE's new One You physical activity campaign is encouraging adults to build 10 minutes continuous brisk walking into their day as a simple way to improve their health. The 'Active 10' app has been developed to show how much brisk walking a person is doing each day and how to incorporate more of it into their lifestyles. You can download the free Active10 app <a href="https://www.nhs.uk/oneyou/active10/homeVFQ6fuQGcOFe8t8l.97">here</a>.</li>
    <li>The seven top walking routes in London cover long distances, but are designed to be completed in sections that are accessible by public transport. The routes are:</li>
</ul>
<ul>
    <li>The LOOP Walk (152 miles / 245 km)</li>
    <li>The Capital Ring Walk (78 miles / 126 km)</li>
    <li>The Green Chain Walk (50 miles / 80km)</li>
    <li>The Lea Valley Walk (18 miles / 29km)</li>
    <li>The Thames Path Walk (40 miles / 64 km)</li>
    <li>The Jubilee Walkway (15 miles / 24 km)</li>
    <li>The Jubilee Greenway Walk (37 miles / 60km)</li>
</ul>
In addition, new versions of the Walking Tube map covering Zones 1 to 3 and including National Rail stations have been launched and show distances between stations and walking times on the same line
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-Autumn Ambles is back! Book your free walking tour and get strolling -->

 
 
        
        
            @{ViewBag.Description = "Autumn Ambles is back! Book your free walking tour and get strolling";}
        
        


 