


@{ViewBag.Title = "Award winning training centre to teach tunnelling and construction skills";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Award winning training centre to teach tunnelling and construction skills</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Award winning training centre to teach tunnelling and construction skills</h1>
        <div class="content-page-press-release">
        10 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Crossrail's legacy of tunnelling and underground construction will continue after Transport for London (TfL) signed a contract with Prospects College of Advanced Technology (PROCAT) to run the Tunnelling and Underground Construction Academy (TUCA) in Ilford.</p>
<p>TUCA, established by Crossrail Limited in 2011, was set up to support the training needs of the Crossrail project as well as the wider underground construction and tunnelling industries. Over 15,000 contractors and apprentices have trained at the academy. As the Crossrail programme is now over 80 per cent complete, the training facility has now transferred to TfL to support future tunnelling and infrastructure projects.</p>
<p>Building on the Crossrail legacy in teaching specialist skills in tunnelling and underground construction, future rail and tunnelling projects will benefit from the training academy supporting a new generation of specialists. The apprentices will learn the technical skills required to build infrastructure projects across the country, and bring the highest level of skills to running our transport networks in the future. These include projects such as HS2, Thames Tideway, Crossrail 2 and HS3. The Academy is now offering apprenticeships and training in the other skills to build and run transport networks of the future.</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: `It is essential we continue to develop the skills this country needs to deliver major infrastructure projects, from Crossrail 2 to HS2.  The Tunnelling and Underground Construction Academy has played a leading role in supporting the skills for the Crossrail project and will leave a lasting legacy with new apprentices learning the vital skills of tunnelling and construction.'</p>
<p>Neil Bates FCGI, Principal and CEO - PROCAT, said: `We are really excited to be working with TfL to build on the excellent work that has been done at TUCA since it opened. Our shared vision is that TUCA becomes a national and international centre of excellence for specialist railway engineering, construction and civil engineering industries providing the specialist higher level skills so badly needed to support the UK economy.'</p>
<p>Sir Terry Morgan, Crossrail Chairman, said: `The Tunnelling and Underground Construction Academy has been a huge success story. The Academy established by Crossrail in 2011 has not only given over 15,000 people the skills needed to deliver the new railway but has also revitalised the UK's tunnelling and underground construction skills base. As the Crossrail programme passes the 80 per cent complete mark, I'm delighted that TUCA will continue to play a key role in supporting the Elizabeth line as an operating railway as well as the next generation of UK infrastructure projects.'</p>
<p>The Academy will form part of a network of 'Centres of Excellence' for training in the transport sector that is being developed by the Department for Transport. These centres will collaborate to improve quality of training and efficiency in the industry.</p>
<p>By the end of the year, the Academy will also be home to the Elizabeth line maintenance and station staff training centre. A mock-up of a new station will also be onsite by the end of the year to train station staff in customer service.</p>
<p>TfL is already planning for 20 new rail maintenance apprentices to start their training at the Academy in 2017. Over 130 railway engineering apprentices from the industry will start training at TUCA from September 2017, making the Academy a hub for transport, underground construction and tunnelling.</p>
<p>The state-of-the-art facilities include spaces to practise sprayed concrete lining in specially designed tunnel openings, a laboratory to study tunnelling material and a tunnel mock-up where evacuation simulations take place.<br />
Ends<br />
Notes to editors</p>
<ul>
    <li>TUCA was established by Crossrail Limited in 2011 at a cost of &pound;13m with a &pound;5m contribution provided by the Skills Funding Agency.</li>
    <li>Facilities at TUCA include classrooms, workshops, a mock construction tunnel, a gantry crane, construction locomotives, spray concrete lining facilities, concrete pump facilities, concrete testing facilities and a mock railway.</li>
    <li>A mock Elizabeth line station with track and tunnels will also be installed later this year.</li>
    <li>PROCAT is a national college serving the engineering, aviation, rail and construction industries providing apprenticeships and workforce development for some of the UK's leading companies.</li>
    <li>PROCAT will provide courses at the Ilford site in addition to their centres at Basildon and Canvey Island and TUCA offers them a chance to provide different types of courses including new apprenticeships.</li>
    <li>TfL's contract with PROCAT is for a five year term.</li>
    <li>More information available at <a href="http://www.tuca.ac.uk/">http://www.tuca.ac.uk/</a></li>
</ul>
<p>&nbsp;</p>
<ul>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-Award winning training centre to teach tunnelling and construction skills -->

 
 
        
        
            @{ViewBag.Description = "Crossrail’s legacy of tunnelling and underground construction will continue after Transport for London (TfL) signed a contract with Prospects College of Advanced Technology to run the Tunnelling and Underground Construction Academy.";}
        
        


 