


@{ViewBag.Title = "Bank branch trains stopping at Kennington Station again";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bank branch trains stopping at Kennington Station again</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bank branch trains stopping at Kennington Station again</h1>
        <div class="content-page-press-release">
        17 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Excavation of four new customer passageways at Kennington Tube station finishes on schedule
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'd like to thank customers for their patience while we worked around the clock to construct four new passageways at Kennington"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">Director of Major Projects, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Work was an essential part of the Northern Line Extension, which will help support 25,000 new jobs and more than 20,000 new homes when open</li>
</ul>
<p>Northern line customers can interchange between the Bank and Charing Cross branches at Kennington again from today (Monday 17 September) following the completion of vital work as part of the Northern Line Extension.</p>
<p>The excavation of four new customer passageways at Kennington Tube station has meant that Bank branch trains have not been stopping at the station since the end of May.</p>
<p>Following this construction work, the final fit out of the passageways will now continue as planned during engineering hours. This includes the installation of the flooring and electrical works as well as tiling the passageway walls.</p>
<p>The complex and intricate work, which was completed on time, saw engineers:</p>
<ul>
    <li>Dig out almost 2,000 tonnes of spoil (mostly London Clay) by hand</li>
    <li>Install timber and steel supports to strengthen the structure of each customer passageway</li>
    <li>Use around 900 tonnes of concrete and 500 tunnel ring segments to create the new structures</li>
</ul>
<p>Stuart Harvey, TfL's Director of Major Projects, said: &quot;I'd like to thank customers for their patience while we worked around the clock to construct four new passageways at Kennington. When completed, the passageways will make it easier to interchange at the station.  The Northern Line Extension is an essential part of our investment programme which will continue to improve customers' journeys and add vital new capacity to the capital's transport network.&quot;</p>
<p>Once completed, the four additional passageways will make it quicker and easier for customers to change between different branches of the Northern line at Kennington, and will be essential for those using the new Northern Line Extension from Kennington to Battersea Power Station via Nine Elms, which is targeted for completion in 2020.</p>
<p>The Northern Line Extension will bring Battersea and surrounding areas to within 15 minutes of the City and the West End. It will also enable the regeneration of the Vauxhall, Nine Elms and Battersea areas, spurring economic growth by supporting around 25,000 new jobs and more than 20,000 new homes. In addition, the construction of the extension is boosting the UK economy and supporting around 1,000 jobs, including around 50 apprenticeships.</p>
<p>Major tunnelling on the extension finished at the end of last year and, over Christmas, the new and existing Northern line tunnels were connected for the first time. Track is being laid in both tunnels and work on the new stations at Battersea and Nine Elms is progressing well with platforms currently being installed.</p>
<p>The continued modernisation of the Tube is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place. The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80 per cent of journeys made by public transport, cycling or walking by 2041.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<br />
Notes to Editors:<br />
<ul>
    <li>Northern line customers completed 294 million journeys last year, making it the busiest line on the Tube. It runs through Waterloo and King's Cross St. Pancras Tube stations, the two busiest stations on the network.</li>
    <li>The temporary timetable introduced to mitigate the impact of these works will continue until late September. This means that services will be slightly reduced off-peak, with a train approximately every 10 minutes between Morden and the Charing Cross branch. However, peak services have already returned to normal frequencies.</li>
    <li>For the latest travel information, customers are advised to check TfL's Journey Planner or the live departure boards. Alternatively, customers can now take the first train and change at Kennington, if necessary.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/48582">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-Bank branch trains stopping at Kennington Station again -->

 
 
        
        
            @{ViewBag.Description = "Bank branch trains stopping at Kennington Station again";}
        
        


 