


@{ViewBag.Title = "Benefits of TfL fares freeze confirmed as new business plan sees record investment in transport";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Benefits of TfL fares freeze confirmed as new business plan sees record investment in transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Benefits of TfL fares freeze confirmed as new business plan sees record investment in transport</h1>
        <div class="content-page-press-release">
        24 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL services outperform national rail services thanks to fares freeze
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Despite &pound;700 million in Government cuts every year, our extensive programme of cutting TfL waste and making TfL smarter in how it operates means we continue to make big strides making London a fairer, greener, healthier and more prosperous city for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published its updated Business Plan, which covers the period from 2017/18 to 2022/23.</p>
<p>The plan confirms how, over the next five years, TfL will deliver the Mayor's Transport Strategy and make London a fairer, greener, healthier and more prosperous city.</p>
<p>The strategy seeks to reduce reliance on the car, tackle air pollution and change the face of the travel in London so that 80% of journeys are made by public transport, cycling or walking by 2041.</p>
<p>TfL needs to absorb an average &pound;700m per year cut in Government funding over five years, with the general grant to support operating costs removed from 2018/19.</p>
<p>London will become one of the only major cities in the world with a public transport and road network that doesn't receive Government subsidy to support operating costs.</p>
<p>Furthermore, from 2020, the &pound;500m raised every year from Londoners paying Vehicle Excise Duty, will be collected by central Government and, at present only investment in roads outside the Capital has been confirmed.</p>
<p>TfL and the Mayor are calling on the Government, as part of its Transport Investment Strategy, to make sure the link between 'roads tax' and roads investment is applied in London as well as the rest of the country.</p>
<p>The latest passenger figures show the benefit of the Mayor's freeze of TfL fares in encouraging more people to use public transport. London Overground, where fares are frozen by the Mayor, was the only one of the four main train operators within London and the South East to see passenger numbers rise.</p>
<p>Passengers on Govia Thameslink Railway, South West Trains and Southeastern all fell by more than 5% in April to June 2017-18, compared to the previous year, as their fares rose. Tube ridership is also only marginally down compared to last year despite lower economic growth.</p>
<p>Bus passenger numbers outside London have also seen sharp falls, whereas in London they have dipped much less and then stabilised as the benefits of more affordable and reliable journeys have been felt.</p>
<p>As well as affordable fares, Londoners will also see a huge range of improvements designed to achieve the Mayor's aim, including:</p>
<ul>
    <li>The successful delivery of the Elizabeth line from December 2018, which will redefine travel in London, delivering an additional 10% rail capacity in Central London, with step-free access at every station</li>
    <li>Continued modernisation of London Underground to provide increased capacity and more frequent and reliable services. From next year, the first sections of the Circle and Hammersmith &amp; City lines will run under new signalling that, when complete, will provide 32 trains per hour in Central London, a service level currently only seen on the digitised Tube services like the Victoria, Northern and Jubilee lines. Work will also begin on providing new trains and signalling on the Piccadilly line, which will provide 60% extra capacity and a brand new next-generation fleet of trains</li>
    <li>Brand new fleets of trains on the Docklands Light Railway and London Overground networks, boosting capacity and supporting the development of large swathes of London</li>
    <li>Along with the entire Elizabeth line, by 2021/22, more than 40% of London Underground stations will become step free</li>
    <li>Sustained investment in transport improvements across London's boroughs will continue to be provided to help London boroughs deliver the Mayor's Transport Strategy, including the transformation of Oxford Street</li>
    <li>A &pound;2.2bn investment to create more healthy streets with better air quality, with a number of major schemes across London's boroughs including Old Street roundabout, Stratford Gyratory and elsewhere set to improve the environment, reduce car dependency and encourage people to become more active. The new dedicated cycling and pedestrian crossing from Rotherhithe to Canary Wharf, which is currently being consulted upon, will also encourage more people to walk and cycle in the areas as well as supporting new jobs and growth</li>
    <li>Creating the greenest bus fleet in the world. By September 2020, all London buses will be Euro VI compliant, massively reducing harmful NOx emissions by up to 95% compared to the previous generation of buses. From 2018, TfL will only purchase double-deckers that are hybrid or zero-emission, helping deliver the Mayor's target for all buses to be zero-emission by 2037</li>
    <li>Supporting transport improvements to deliver new homes and jobs. TfL will complete the Northern line extension to Battersea, the extension of the London Overground to Barking Riverside and continue to progress plans for Crossrail 2 and the Bakerloo line extension &#45; which together will support the delivery of thousands of new homes across London. A &pound;550m Growth Fund is being used to invest in projects that support economic development across the city</li>
    <li>The development of 300 acres of land for housing and commercial space to help fund transport improvements. By 2020/21, work will be underway on a range of property development sites across London that will provide 10,000 new homes, half of which will be affordable</li>
</ul>
<p>Along with TfL fares being frozen &#45; benefitting all Londoners -  the business plan also protects all TfL's travel concessions, with free or discounted travel for those who need it most, including children, people aged over 60, and those on income support.</p>
<p>The improvements confirmed in the plan will be achieved despite a difficult economic backdrop and continuing uncertainty over the economic effects of Brexit, both of which affect passenger numbers.</p>
<p>Initiated by the Mayor, TfL is already undertaking an extensive programme to cut waste while maintaining safety, front-line services and vital investment.</p>
<p>The day to day operating costs were reduced by &pound;153m for the last financial year, the first such reduction in TfL's history. This was achieved through the largest ever overhaul of the organisation and, already this year, TfL is exceeding its budgeted operating cost savings by more than &pound;138m.</p>
<p>Across the remaining years of the plan, a number of opportunities have been identified to increase these efficiencies further to achieve a surplus while preserving front-line services and running a safe, affordable transport network. These include:</p>
<ul>
    <li>Continued reductions to management layers to make the organisation's structure less complex, and merging functions to eliminate duplication and ensure efficiencies;</li>
    <li>Reducing the number of TfL office buildings from over 30 to three accommodation hubs in Stratford, Southwark and North Greenwich, supported by a small number of operational and 'satellite' type premises. This will save more than &pound;110m by 2022/23;</li>
    <li>Continuing to reduce reliance on expensive agency staff, saving more than &pound;3m per week compared with December 2015;</li>
    <li>Continuing the modernisation of London Underground, including exiting a major private partnership maintenance contract, saving &pound;200m;</li>
    <li>Reviewing and re-negotiating bus contracts to drive value, saving &pound;375m by 2022/23, without impacting on customer service.</li>
</ul>
<p>Sadiq Khan, Mayor of London, said: 'I'm delighted that TfL's updated business plans shows the benefits of my freeze of TfL fares and the introduction of the Hopper bus fare &#45; both of which are making transport more affordable for millions of Londoners.</p>
<p>'Usage of TfL services is outperforming those elsewhere across the country, and London is leading the way showing how we can keep fares down, while still investing record amounts in creating the world-class infrastructure London needs.</p>
<p>'Despite &pound;700 million in Government cuts every year, our extensive programme of cutting TfL waste and making TfL smarter in how it operates means we continue to make big strides making London a fairer, greener, healthier and more prosperous city for everyone.'</p>
<p>Mike Brown, London's Transport Commissioner, said: 'This business plan sets out how we will deliver the Mayor's Transport Strategy: changing the face of travel in London, reducing reliance on the car and encouraging much greater use of public transport, walking and cycling.</p>
<p>'The plan is challenging, not least because of the difficult economic climate and the average &pound;700m reduction in Government general grant that we must absorb. But, with the efficiencies achieved through the largest ever overhaul of our organisation, we will ensure that the huge range of vital improvements for Londoners is delivered.</p>
<p>'This includes the game-changing Elizabeth line, massive improvements to Tube services, new DLR and London Overground trains, and record investment in healthier, cleaner, safer streets.'</p>
<p>TfL's revised Business Plan will be considered by its Finance Committee on 5 December and can be viewed here - <a href="https://tfl.gov.uk/cdn/static/cms/documents/fc-20171205-part-1-item10-tfl-business-plan-2017.pdf">https://tfl.gov.uk/cdn/static/cms/documents/fc-20171205-part-1-item10-tfl-business-plan-2017.pdf</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Benefits of TfL fares freeze confirmed as new business plan sees record investment in transport -->

 
 
        
        
            @{ViewBag.Description = "Benefits of TfL fares freeze confirmed as new business plan sees record investment in transport";}
        
        


 