


@{ViewBag.Title = "Boroughs secure 'Liveable Neighbourhoods' funding ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Boroughs secure ‘Liveable Neighbourhoods’ funding </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Boroughs secure ‘Liveable Neighbourhoods’ funding </h1>
        <div class="content-page-press-release">
        30 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Initial funding for transformational projects allocated
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new Liveable Neighbourhood scheme will see millions of pounds invested in schemes that will directly make walking and cycling a safe, enjoyable and convenient option for many more Londoners &#45; supporting small businesses by making our high streets cleaner, safer and more enjoyable places to spend time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New &pound;114m 'Liveable Neighbourhoods' programme will improve local environments across London - by directly enabling walking, cycling and the use of public transport</li>
    <li>Ealing, Greenwich, Hackney, Haringey, Havering, Lewisham, Waltham Forest to progress proposals that will transform local communities</li>
</ul>
<p>The Mayor of London and Transport for London (TfL) have today announced the first round of winners of a new multi-million pound funding programme, which will transform neighbourhoods across the capital into greener, healthier, more attractive public spaces.</p>
<p>Ealing, Greenwich, Hackney, Haringey, Havering, Lewisham and Waltham Forest boroughs were all successful in their initial bids for funding from the new 'Liveable Neighbourhoods' programme, which is the first scheme set up to directly deliver the Mayor's new Health Streets Approach across London. The seven boroughs will now develop their proposals further to secure a share of the &pound;114 million in funding for their schemes. They will involve changes to town centres and their surrounding residential areas to directly improve conditions for walking and cycling, while reducing traffic dominance and supporting businesses by making local town centres more attractive.</p>
<p>There will be another round of funding next year, where other boroughs will be able to come forward with proposals for further 'Liveable Neighbourhoods' funding.</p>
<p>As outlined in his draft Transport Strategy, the Mayor wants to increase the proportion of trips in London made on foot, by cycle or using public transport to 80 per cent by 2041, compared to 64 per cent now, meaning an average of 3 million fewer car journeys in London each day. This includes Londoners doing at least the 20 minutes of active travel each day that they need to stay healthy.</p>
<p>This year's projects are:</p>
<p>West Ealing, Ealing</p>
<ul>
    <li>Proposals include comprehensive improvements along the Broadway and to parallel quieter routes, reduced rat-running in the adjoining residential areas, parking controls, and new walking and cycling routes, including links to the new Elizabeth line station</li>
</ul>
<p>Greenwich Town Centre, Greenwich</p>
<ul>
    <li>The scheme aims to transform Greenwich Town Centre by removing the dangerous and intimidating gyratory and providing a much more generous pedestrian environment, in particular on the approach to the World Heritage Site. It will also provide a safe cycling route through the town centre</li>
</ul>
<p>Hackney Central, Hackney</p>
<ul>
    <li>Key routes in the town centre will be transformed by a reduction in traffic, the introduction of two-way protected cycle lanes on Mare Street, a ban on general traffic at the south end of Amhurst Road, and making three dangerous junctions safer, including Pembury Circus</li>
</ul>
<p>Crouch End, Haringey</p>
<ul>
    <li>Under the proposals, pedestrian and cycling conditions in Crouch End town centre will be improved to help encourage more active travel in the area, tackling congestion and improving air quality and residents' well-being. The proposals, which residents will be consulted on, look to create a new square incorporating the clock tower, currently surrounded by traffic on all sides. Segregated cycle routes will feed the town centre, pedestrian crossings will be improved and traffic will be reduced on residential streets with new modal filters</li>
</ul>
<p>Romford Town Centre, Havering</p>
<ul>
    <li>The project will enable more walking and cycling in Romford town centre by making the busy Ring Road easier to cross on foot and by bike. Existing subways will be replaced by pedestrian and cycle crossings at street level along with new bus lanes and public spaces</li>
</ul>
<p>Deptford Parks, Lewisham</p>
<ul>
    <li>Streets in North Deptford will see reduced traffic through new restrictions. Walking and cycling will be transformed by a new north-south traffic-free route along the former Grand Surrey Canal, new Copenhagen crossings, cycle parking, and street lighting. New cycle routes through the park will link to the proposed new Bakerloo line station (New Cross Gate)</li>
</ul>
<p>Coppermill Village, Waltham Forest</p>
<ul>
    <li>The funding will support the regeneration of St James Street and Blackhorse Road and will create access routes to the newly opened Walthamstow Wetlands. Coppermill Lane will be turned into a 'cycle street', safer junctions and crossings will be added and the area will be improved with new wayfinding and planting</li>
</ul>
<p>At this stage &pound;1.25m is being given to the boroughs to help develop their proposals further.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'As London's population grows, I've outlined my ambition to increase walking and cycling, and improve public spaces across London. I'm delighted that we're now progressing with the local funding that will transform the environment in many local communities. Our new Liveable Neighbourhood scheme will see millions of pounds invested in schemes that will directly make walking and cycling a safe, enjoyable and convenient option for many more Londoners &#45; supporting small businesses by making our high streets cleaner, safer and more enjoyable places to spend time.</p>
<p>'We will continue to work closely with boroughs as they develop their plans to improve the environment and transform the quality of life of Londoners.'</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'Local communities are at the centre of our plans to transform access to walking, cycling and public transport, and our Liveable Neighbourhoods programme will help ensure this happens. Many of London's streets were designed to give cars priority but, by working with London's boroughs, we can help redesign them to put people first &#45; making them better, safer, cleaner places.'</p>
<p>Tompion Platt, Head of Policy at Living Streets, said: </p>
<p>'Our local streets and neighbourhoods have a huge bearing on our health and quality of life. By creating more liveable neighbourhoods which enable walking, encourage social interaction and play and reduce vehicle dominance, we can create healthier, happier and more prosperous communities across London. We congratulate the winning boroughs and look forward to seeing more liveable neighbourhoods across the capital soon.'</p>
<p>Fran Graham, Campaigns Coordinator at London Cycling Campaign, said: </p>
<p>'We are delighted to see Liveable Neighbourhood funding awarded to seven boroughs this year to create areas that put walking and cycling first. This programme &#45; the evolution of the Mini-Holland schemes &#45; is the first step to delivering the promise the Mayor made to our Sign for Cycling campaign, to enable every London borough to have the chance of such a scheme. And we are pleased to see how many boroughs want to create neighbourhoods that prioritise walking and cycling over motor traffic, to reduce congestion and air pollution, and help people lead more healthy, active lives.'</p>
<p>Ends</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Liveable Neighbourhoods is a long-term funding programme. Boroughs can submit bids at any time however submissions for each financial year will close in autumn each year, with announcements of the successful bids made each December</li>
    <li>A total of 28 bids were received from 21 boroughs for Liveable Neighbourhoods feasibility funding in 2018/19. Feedback will be provided to all bidders later this month and unsuccessful boroughs may choose to improve their bid for resubmission next year</li>
    <li>In addition to TfL-funding through the Liveable Neighbourhoods programme all successful projects are being part funded through additional borough channels</li>
    <li>The Liveable Neighbourhoods programme is part of the Mayor's Healthy Streets Approach, which aims to improve air quality and reduce congestion through transforming communities, making them greener healthier and more attractive places to live and do business. More details regarding Healthy Streets can be found here: <a href="http://content.tfl.gov.uk/healthy-streets-for-london.pdf">content.tfl.gov.uk/healthy-streets-for-london.pdf</a></li>
    <li>The Mayor's draft Transport Strategy sets out a long-term ambition to transform the capital's transport network and deliver a fairer, greener, healthier and more prosperous city for all Londoners. This includes investment in new and improved services for passengers, an unprecedented focus on walking and cycling and a pledge to make the entire transport system zero emission by 2050. Further information can be found here: <a href="http://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a> </li>
</ul>
<p>&nbsp;</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Borough</strong> </td>
            <td>
            <p>Potential total funding, including non-Liveable Neighbourhoods sources (&pound;m) </p>
            </td>
        </tr>
        <tr>
            <td> Ealing</td>
            <td> 8.6</td>
        </tr>
        <tr>
            <td> Greenwich</td>
            <td> 5.4</td>
        </tr>
        <tr>
            <td> Hackney</td>
            <td> 10</td>
        </tr>
        <tr>
            <td> Haringey</td>
            <td> 5.8</td>
        </tr>
        <tr>
            <td> Havering</td>
            <td> 7</td>
        </tr>
        <tr>
            <td> Lewisham</td>
            <td> 2.9</td>
        </tr>
        <tr>
            <td> Waltham Forest</td>
            <td> 2.3</td>
        </tr>
    </tbody>
</table></div>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Boroughs secure ‘Liveable Neighbourhoods’ funding  -->

 
 
        
        
            @{ViewBag.Description = "Seven boroughs secure initial funding for transformational ‘Liveable Neighbourhoods’ projects";}
        
        


 