


@{ViewBag.Title = "Bus network  improvements during bridge restoration";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bus network  improvements during bridge restoration</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bus network  improvements during bridge restoration</h1>
        <div class="content-page-press-release">
        15 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus connections in the area are to be restored after emergency closure of the 132-year-old Hammersmith Bridge
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We had to reshape bus services in the area as a result of the bridge closure, but now we are able to finesse our changes to reduce its impact on customers


 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Geoff Hobbs</div>
            <div class="quotee-job-title">Director of Public Transport Service Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Six routes will be changed and one new route will be introduced to reduce impact of bridge restoration</li>
	<li>Customers advised to leave more time for their journeys as they become accustomed to the changed routes</li>
</ul>

<p>&nbsp;<br />
Plans for a new bus route and changes to six others have been published today to reduce the impact of the Hammersmith Bridge closure.&nbsp; Bus services were immediately rerouted after the Grade II* listed Hammersmith Bridge was closed on safety grounds in April. As buses will not use Hammersmith Bridge until major safety-critical strengthening work is completed, Transport for London (TfL) has made improvements to local bus services.</p>

<p>The changes will restore links for bus customers affected by the emergency closure of the bridge. They will:</p>

<ul>
	<li>Provide direct links between Roehampton, Mortlake and Barnes and the Tube network at Putney Bridge</li>
	<li>Provide a new direct link between Barnes and Hammersmith</li>
	<li>Reinstate the full route 72 north of the river</li>
</ul>

<p>The changes will be introduced on Saturday 18 May. They will be kept under close review and TfL welcomes any feedback on the changes.</p>

<p>TfL and Hammersmith &amp; Fulham Council are working extremely closely together to restore the 132-year-old bridge.&nbsp;</p>

<p>Geoff Hobbs, Director of Public Transport Service Planning at TfL, said:</p>

<p>'We had to reshape bus services in the area as a result of the bridge closure, but now we are able to finesse our changes to reduce its impact on customers. We urge customers to check how their journeys may be affected by visiting our website.</p>

<p>'We are working closely with the council's specialist engineers to conclude the final plan, and finalise costs, for upgrading the bridge as soon as possible.'</p>

<p>TfL is also working to manage the impact that the closure is having on the road network. It has already begun making changes to traffic signal timings in the area to help the flow of traffic and will continue to monitor the situation to determine whether further changes are required.</p>

<p>Customers who use routes 33, 72, 419, 485 or 209 will experience a change in their journeys and should check before they travel. TfL will increase the capacity of the 265 and introduce a new route 533 between Barnes and Hammersmith via Chiswick Bridge. Customers who will need to change buses can do so at no extra cost within an hour of their first journey due the Mayor's Bus Hopper. To ensure bus customers are aware of the changes TfL is running a localised communication campaign. Maps demonstrating the changes will be displayed at affected routes and published on TfL's website and social media channels. Registered customers of affected routes will receive emails detailing the changes and bus drivers will inform passengers of the alterations. TfL will also work with the council to ensure that local stakeholders are contacted. Further details of the changes can be found on TfL's website.</p>

<p>Keeping local authority infrastructure in good condition is essential to ensure the wider road network stays safe and efficient and helps the economy grow. Certainty of a long-term steady and sustained Government funding arrangement is needed to allow London to cover the costs of its own infrastructure maintenance.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>Customers can see details of the changes and provide feedback at <a href="[ioID]#https://consultations.tfl.gov.uk/buses/hammersmith-bridge/">https://consultations.tfl.gov.uk/buses/hammersmith-bridge/</a>. TfL will take this feedback on board when deciding whether to make any further changes to these services.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-Bus network  improvements during bridge restoration -->

 
 
        
        
            @{ViewBag.Description = "Bus network in the Hammersmith Bridge area to be improved to reduce impact of bridge restoration";}
        
        


 