


@{ViewBag.Title = "Companies come together to plan for building Crossrail 2";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Companies come together to plan for building Crossrail 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Companies come together to plan for building Crossrail 2</h1>
        <div class="content-page-press-release">
        14 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) and Network Rail today brought together a wide range of experts from the world of engineering, design and construction who could be involved in the next stage of the proposed new Crossrail 2 railway.</p>
<p>The industry event, which was attended by organisations representing the breadth of the future supply chain, set out plans for the development of the Crossrail 2 project that would relieve pressure on the transport network across London and the South East, enabling 270,000 more people to enter central London every morning at peak time.</p>
<p>This early engagement will encourage collaborative working and early innovation, driving down costs and ensuring the railway can be delivered on time and in a way that represents the very best value for money.</p>
<p>It will also allow the industries to develop their plans for investing in skills and the future workforce. This will build on the success of the Crossrail construction project, which has already created over 570 apprenticeships.</p>
<p>Speakers included Michele Dix, TfL's Managing Director for Crossrail 2, Chris Curtis, Network Rail's Head of Crossrail 2, Mike Brown, TfL's Commissioner and Lord Ahmad, Parliamentary Under Secretary of State for Transport.</p>
<p>They spoke of the importance of investing in infrastructure projects and how Crossrail 2 could help the UK's industrial strategy and boost the country's economy.</p>
<p>During the construction of the proposed railway up to 60,000 full time jobs could be supported across the UK in the engineering, construction and manufacturing supply chain, driving hundreds of millions of pounds to regional and local economies. In total the railway could drive the development of 200,000 homes and support 200,000 new jobs.</p>
<p>Michele Dix, TfL's Managing Director of Crossrail 2, said: `Crossrail 2 could support up to 60,000 full time jobs during construction and via our supply chain so it is vital to build a close working relationship with all those organisations potentially involved in developing and building the railway.  By engaging with our supply chain we can work together to drive innovation, ensure a smooth procurement process and deliver the new railway as efficiently as possible.'</p>
<p>Transport Minister Lord Ahmad of Wimbledon said: `It is an exciting time for transport with major investment across the country, in Crossrail, Thameslink, HS2 and the biggest rail modernisation since Victorian times.</p>
<p>`But we must plan properly for Crossrail 2 to ensure it is the right scheme to help make London's transport network fit for the future. This is why it is vital to work with businesses and all interested partners as early as possible to make sure we collectively make Crossrail 2 a success.'</p>
<p>Proposals for Crossrail 2 build on the success of Crossrail, London Overground and other similar rail projects, taking the best practice from these projects in order to deliver cost savings and efficiencies wherever possible.<br />
Notes to editors</p>
<ul>
    <li>In March 2016 government committed &pound;80m (along with match funding from TfL) to take Crossrail 2 to the next stage of development with the aim of depositing a Hybrid Bill in 2019, subject to an updated business case.</li>
    <li>Crossrail 2 will link in with the National Rail network serving destinations as far apart as Broxbourne, Epsom, Chessington South, Hampton Court and Shepperton.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-Companies come together to plan for building Crossrail 2 -->

 
 


 