


@{ViewBag.Title = "Construction of major new cycle route in south-east London set to begin in 2019 ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Construction of major new cycle route in south-east London set to begin in 2019 </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Construction of major new cycle route in south-east London set to begin in 2019 </h1>
        <div class="content-page-press-release">
        12 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Part of the Vision Zero ambition to eliminate all death and serious injury from London's roads  
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has today revealed plans for further improvements to make cycling accessible to all Londoners, announcing that it intends to start work, subject to final approvals, on a major new segregated cycle route in south east London next summer.</p>

<p>The new high-quality cycle route will significantly reduce danger to vulnerable road users and also improve pedestrian facilities and public spaces between Tower Bridge and Greenwich. It forms part of the Mayor and TfL's Vision Zero commitment to eliminate all death and serious injury from London's roads by 2041.</p>

<p>Construction of the route, which includes 4km of segregated cycle track, should begin next summer. More than 3,000 people responded to the consultation, with 83 per cent in favour. Many respondents suggested that it would make cycling safer and more appealing and help to reduce air and noise pollution along the route.</p>

<p>The route will see a new, two-way segregated cycle track on Tooley Street, Jamaica Road, Evelyn Street and Creek Road, five new pedestrian crossings and upgrades to more than 20 existing pedestrian crossings. The project will also see a complete overhaul of Rotherhithe roundabout, tackling another junction on TfL's Safer Junctions list, which includes those with some of the worst safety records in the capital.</p>

<p>In response to feedback, TfL has developed new designs in several areas of the route, which address comments raised during the consultation and will ensure that people walking and cycling are protected from other traffic. This includes proposed changes in traffic movements at the junction of Southwark Park Road and Jamaica Road, where TfL will be carrying out a further consultation early next year to give residents the opportunity to have their say.</p>

<p>TfL will also carry out a joint consultation with Southwark Council on detailed proposals for the Lower Road section of CS4 in spring 2019. Subject to the outcome of this consultation, construction could start on the Lower Road section in 2020.&nbsp;</p>

<p>The route will be a major addition to London's growing cycling network, which is helping to sustain a boom in the numbers of people choosing to get around the capital by bike. TfL is committed to delivering high quality cycle routes across London and is also working with Greenwich Council on a new cycle route between Greenwich and Woolwich and this is included in TfL's Business Plan.*</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong> `I am really pleased that the construction of Cycle Superhighway 4 will get underway in the summer. The overwhelming support during the public consultation shows there is great demand for a safe segregated route, which will help enable more people to cycle. Pedestrians will also benefit from new and improved crossings, enabling more people to leave their cars at home and leading to reduced congestion and cleaner air, which will benefit the whole community.'</p>

<p><strong>Denise Scott-Mcdonald, Cabinet Member for Air Quality, Public Realm and Transport at Greenwich Council, said:</strong> `This much needed route will make it safer for people in Greenwich town centre and beyond to cycle into central London, which should boost cycling numbers and reduce air pollution. I'm pleased that TfL has also committed to extending the safe cycling route from Greenwich town centre through the borough to Woolwich, and we will continue to work with them to deliver this.'</p>

<p><strong>Brenda Dacres, Cabinet Member for Parks, Neighbourhoods and Transport, at Lewisham Council, said:</strong> `We're very excited that the Cycle Superhighway 4 will be going through our borough. The new cycle route will bring many benefits &#45; most importantly encouraging more people to cycle, improving connectivity with central London, providing residents with a safer travel option and improving people's health by becoming more active, while also reducing air pollution.'</p>

<p><strong>Cllr Richard Livingstone, Cabinet Member for environment, transport management and air quality at Southwark Council, said: `</strong>We welcome this new cycle route, it will improve safety for both cyclists and pedestrians and we hope that it will create a healthier and more attractive environment for everybody. We are pleased that TfL have listened to local concerns and have revised their original plans for Jamaica Road. We want CS4 to mean that even more people will be encouraged to leave their cars at home and walk and cycle more.'</p>

<p><strong>Ben Plowden, TfL Surface Transport Director of Strategy and Network Development, said:</strong> `This major new route will make a real difference to the ever growing numbers of southeast Londoners who are choosing to walk and cycle.&nbsp;It will encourage many more people to get on their bikes and make it significantly safer and easier to walk along and across the route. Making sure that all Londoners have access to high-quality cycling and walking infrastructure is a vital part of our plans to create a safer, healthier and less polluted London for everyone.&nbsp; We continue to work with boroughs right across the capital to create a sustainable transport network that will last for generations to come.'</p>

<p>The Mayor and TfL are working closely with boroughs across London to create up to 400km of new cycling routes to add to London's ever growing cycling network. Earlier this autumn, the Mayor opened an extension of a major cycling route through central London, which now connects Elephant &amp; Castle to King's Cross.</p>

<p>More than 140km of other cycle routes have been constructed so far during this Mayoral term, making cycling safer at more than 80 junctions across London. A route from Waterloo to Greenwich saw a 54 per cent increase in cycling after opening to the public in 2016 and the proportion of women cycling along the route rose from 29 per cent to 35 per cent. Another 12km route between Bloomsbury and Walthamstow, was opened in August.</p>

<p>TfL is also working with the boroughs to encourage walking, cycling and the use of public transport through its Liveable Neighbourhoods programme, which provides funding for a wide range of community-supported projects. These could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>

<p>This follows on from TfL's funding to Enfield, Kingston and Waltham Forest to create a network of cycle routes and improve streets and public areas, which are nearing completion.</p>

<p>Ends</p>

<p>Notes to editors</p>

<ul>
	<li>The extension of CS4 from Greenwich to Woolwich was downgraded by the previous administration. The Mayor has re-prioritised this and funding for this route is included in TfL's latest Business Plan to improve safety for people walking and cycling in south east London.</li>
	<li>The Cycle Superhighway 4 responses to issued raised report is available on the TfL website</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Construction of major new cycle route in south-east London set to begin in 2019  -->

 
 
        
        
            @{ViewBag.Description = "Construction of major new cycle route in south-east London set to begin in 2019 ";}
        
        


 