


@{ViewBag.Title = "Construction work to begin on major new Cycleway in south-east London on 5 July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Construction work to begin on major new Cycleway in south-east London on 5 July</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Construction work to begin on major new Cycleway in south-east London on 5 July</h1>
        <div class="content-page-press-release">
        19 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycleway 4 will run between Tower Bridge and Greenwich and will make cycling and walking safer in south-east London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With record investment from TfL we will continue to work with boroughs who share our vision to tackle London's inactivity crisis, reduce road danger, and get more people out of their cars and into cleaner greener forms of transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Cycling and walking in south-east London is set to become safer as TfL confirmed today that construction work on a major new segregated cycle route will begin on 5 July.</p>

<p>Work is starting on the first section of Cycleway 4 between Tower Bridge and Rotherhithe Roundabout and includes new pedestrian crossings along Tooley Street and Jamaica Road and the overhaul of the dangerous Rotherhithe roundabout.</p>

<p>TfL has been working closely with Southwark, Lewisham and Greenwich Councils on plans for this major new high-quality route which, when complete, will connect neighbourhoods between Tower Bridge and Greenwich to London's growing network of high-quality Cycleways and will enable thousands more journeys in south-east London to be made more safely.</p>

<p>Overall, the scheme involves &pound;54m of investment from TfL's Healthy Street budget.</p>

<p>The Mayor and TfL are working to double the number of cycle journeys across the capital over the next six years as part of a shift towards more efficient, healthier and less polluting forms of transport.</p>

<p>TfL has doubled the amount of protected space on London's roads for people cycling since 2016 and is on course to triple this by 2020.</p>

<p>Major upgrades planned as part of the route include:</p>

<ul>
	<li>A 4km two-way segregated cycle track on Tooley Street, Jamaica Road, Evelyn Street and Creek Road, which will keep people cycling separated from motor traffic</li>
	<li>Five new signal-controlled pedestrian crossings and upgrades to more than 20 existing pedestrian crossings</li>
	<li>An overhauled Rotherhithe roundabout, which will transform one of London's most dangerous junctions as part of <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/april/new-roads-targeted-in-updated-safer-junctions-programme">TfL's Safer Junctions programme</a></li>
	<li>A new eastbound bus gate on the Jamaica Road approach to Rotherhithe roundabout, giving buses priority and easier access into Lower Road</li>
	<li>New and improved street layout at Deptford High Street and Rotherhithe roundabout, including new paving and trees</li>
</ul>

<p>Work will start in July on an initial 1.8km section of segregated cycle route. Construction work on further sections of the route, including Evelyn Street and Creek Road, will begin next year.</p>

<h2>Healthy Streets</h2>

<p>Overall, TfL is investing a record &pound;2.3bn in 'Healthy Streets' to enable more walking and cycling in London.</p>

<p>Mayor of London, Sadiq Khan, said: 'I'm delighted that work is about to begin on this major new cycle route in south-east London.</p>

<p>'High-quality segregated cycle routes greatly increase the numbers of people who feel confident cycling on our streets and with new pedestrian crossings along the route, road danger will be substantially reduced for thousands of pedestrians too.</p>

<p>'Boroughs like Southwark, Lewisham and Greenwich really understand the huge benefits of investing in high-quality walking and cycling infrastructure.</p>

<p>'With record investment from TfL we will continue to work with boroughs who share our vision to tackle London's inactivity crisis, reduce road danger, and get more people out of their cars and into cleaner greener forms of transport.'</p>

<p>Gareth Powell, TfL's Managing Director of Surface Transport, said: 'Cycleway 4 will transform streets for local people between Tower Bridge and Greenwich, making walking and cycling much safer and easier for thousands of people every day, as well as making local streets more pleasant places to spend time.</p>

<p>'We'd like to thank local residents, visitors and businesses for their patience whilst construction work takes place and would encourage people in the area to plan ahead while work to create the route is underway.'</p>

<p>Simon Munk, Infrastructure Campaigner, London Cycling Campaign, said: 'The arrival of Cycleway 4 is fantastic news. This is a major step towards the Mayor's commitment to London Cycling Campaign to triple the mileage of protected space for cycling on London's main roads.</p>

<p>'When complete, this route will bring safer cycling to many more people of all ages and abilities, than currently ride on these hostile streets. We look forward also to the upcoming Southwark Lower Road scheme to fill the gap in this scheme and to future extensions to Woolwich and London Bridge.'</p>

<h2>Ongoing transformation</h2>

<p>Nadia Broccardo, Chief Executive, Team London Bridge, said: 'The construction of Cycleway 4 is great news for our business community.</p>

<p>'Cycling will play a major part in the ongoing transformation of London Bridge as a globally significant place of modern commerce, enterprise and creativity, and in creating one of the UK's flagship transport hubs.</p>

<p>'A better cycling network will enable the area to become quieter, greener, safer, less polluted, more welcoming, more inclusive, more efficient and better connected. It will benefit communities that work, visit and live in London Bridge.'</p>

<p>Where possible, disruptive works will be carried out during the school summer holidays when roads are quieter, to minimise the impact on local roads.</p>

<p>TfL contractors will also use longer working hours* to reduce the length of construction and TfL will monitor traffic signals in the area and adjust timings where necessary to ensure that traffic can continue to flow in the area.</p>

<p>While construction work is taking place, drivers and bus users should expect delays in the area, including on the approach to Rotherhithe roundabout, and should allow plenty of time for their journeys.</p>

<p>Where possible, TfL advises using Tube or rail, or to cycle or walk, for shorter trips. Using alternative routes and travelling outside peak hours may also help reduce delays.</p>

<p>Local businesses are also advised to plan ahead to help minimise any impact on their operations.</p>

<p>Full travel advice is available on the TfL website at <a href="http://www.tfl.gov.uk/cycleway4">tfl.gov.uk/cycleway4</a></p>

<p>Southwark Council will consult on the Lower Road section of the Cycleway next month along with a number of other cycle routes and improvements in the borough.</p>

<p>Cllr Richard Livingstone, Cabinet Member for Environment, Transport and the Climate Emergency for Southwark, said: 'In Southwark we welcome this new addition to our growing network of cycleways.</p>

<p>'I hope that the introduction of segregated bike lanes and improved junctions will encourage even more people to get on their bikes and help to improve their health and happiness, and all of our air quality.'</p>

<h2>Ambitious</h2>

<p>TfL and Greenwich Council are also working on proposals to extend Cycleway 4 to Woolwich, which includes proposals to reduce road danger at the Angerstein/Woolwich Road roundabout and will complement Greenwich's ambitious Liveable Neighbourhood scheme, which will make Greenwich town centre less congested, safer for people walking and cycling, and more efficient for business deliveries.</p>

<p>Cllr Denise Scott-McDonald, Cabinet Member for&nbsp;Air Quality, Sustainability and Transport for Greenwich, said: 'If we want to get more people walking and cycling, we have to provide well-designed and safe routes.</p>

<p>'Cycleway 4 will link up with our Liveable Neighbourhood scheme in Greenwich Town Centre, a project which will remove through traffic from two main roads to create healthy streets. The proposals received overwhelming support, which proves that residents in Greenwich want low traffic neighbourhoods with safe spaces for walking and cycling.</p>

<p>'The next phase of Cycleway 4 will run right across the borough from Greenwich Town Centre to Woolwich &#45; I will continue to work with TfL to ensure that designs are progressed and construction can start as soon as possible after phase one is complete.'</p>

<p>Councillor Brenda Dacres, Cabinet Member for Environment and Transport for Lewisham, said: 'Air pollution is a public health emergency, with thousands of deaths attributable to toxic air pollutants in London every year.</p>

<p>'We know that road transport produces around half of the air pollution and around a third of the greenhouse gases in the UK, so we must encourage Londoners to ditch their cars and get on their bikes, and this is exactly what Cycleway 4 aims to do. It will improve air quality and reduce greenhouse gas emissions.</p>

<p>We're very excited about Cycleway 4 going through our borough. It's a fantastic scheme that will bring many benefits including encouraging more people to cycle, improving connections with central London, providing a safer travel option, improving people's health and wellbeing, and reducing air pollution.</p>

<p>'Cycleway 4 will also complement Lewisham's existing cycle routes, link in with our Liveable Neighbourhood scheme and&nbsp;encourage people to walk more by bringing benefits for pedestrians, such as improved paving, new pedestrian crossings and tree planting.</p>

<p>'These improvements will provide Deptford with world class facilities for cyclists and will make it a more a pleasant area to live, work and shop.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Full travel advice is available on the TfL website at <a href="http://www.tfl.gov.uk/cycleway4">tfl.gov.uk/cycleway4</a></li>
</ul>

<p>*Construction work will take place between 8am and 6pm six days a week with the potential for additional work on Sundays if required &nbsp;&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Construction work to begin on major new Cycleway in south-east London on 5 July -->

 
 
        
        
            @{ViewBag.Description = "Construction work to begin on major new Cycleway in south-east London on 5 July";}
        
        


 