


@{ViewBag.Title = "Could you be Transport for London's next apprentice?";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Could you be Transport for London’s next apprentice?</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Could you be Transport for London’s next apprentice?</h1>
        <div class="content-page-press-release">
        30 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is on the lookout for more than 130 new apprentices
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As long as you want to learn new skills and make a positive impact on the people's lives in London every day, you'll fit right in
 

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Tricia Wright</div>
            <div class="quotee-job-title">Chief People Officer, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>There are a range of schemes on offer, including degree apprenticeship and two new programmes in Building Services and Vehicle Maintenance</li>
	<li>Since 2009, Transport for London, Crossrail, their suppliers and the London Transport Museum have employed more than 8,750 apprentices</li>
</ul>

<p>Transport for London (TfL) has started its search for fresh new talent with more than 130 apprenticeship opportunities on offer in a range of areas, including engineering, quantity surveying and project management.</p>

<p>TfL is continuing to offer fresh opportunities for candidates who want to play a key part in keeping London working and growing and is introducing two new apprenticeship schemes this year - one in Building Services and one in Vehicle Maintenance. A number of its apprenticeship schemes, including Civil Engineering and Commercial Property, also offer enthusiastic individuals the chance to study for a degree as part of their apprenticeship &#45; meaning it is not necessary to choose between gaining industry experience or a university education.</p>

<p>TfL is also working with London Transport Museum to support those who have completed its Route into Work programme gain access to a number of these apprenticeship opportunities too. The programme supports young people between 16 and 25, who are not in education, employment or training, gain and improve employability skills, such as teamwork and confidence building, which can help them overcome potential barriers to employment.</p>

<p>TfL continually strives to increase the diversity of its workforce to reflect the city that it serves and to enable creativity and innovation. The apprenticeship programme is one of a number of ways in which TfL is offering exciting career opportunities to people from all communities to deliver safe, reliable and affordable transport for all Londoners.</p>

<p>Since 2009, TfL, Crossrail, their suppliers and the London Transport Museum have employed more than 8,750 apprentices. They have worked on vital infrastructure projects including the modernisation of key Tube stations, the construction of the Northern line extension, and the redesign of London's road junctions to make them safer and better for everyone.</p>

<p>Tricia Wright, Chief People Officer at TfL, said:</p>

<p>'We're looking for curious, enthusiastic individuals to join TfL on our apprenticeship programme in a range of areas, such as engineering, software development and project controls. You don't need to be an expert in transport already &#45; as long as you want to learn new skills and make a positive impact on the people's lives in London every day, you'll fit right in.'</p>

<p>Leah Rawlins, a second year General Management apprentice at TfL, said:</p>

<p>'I love working at TfL and the variety of experiences my apprenticeship offers me. Every day is different &#45; from being part of the team working on TfL's business strategy to working in a station helping customers. I had considered going to university, but my apprenticeship gave me the opportunity to study for the same degree while gaining experience in the workplace too. It was a no-brainer choosing to do an apprenticeship!'</p>

<p>For the seventh year in a row, TfL will be hosting an Apprenticeship Recruitment Fair, which will be held at Central Hall Westminster on 7 March 2019. Those attending the fair will be able to discover what the transport industry has to offer them, with a range of apprenticeship opportunities at TfL and its suppliers being advertised on the day.</p>

<p>Anyone interested in applying for an apprenticeship at TfL should visit <a href="[ioID]#tfl.gov.uk/apprentices">tfl.gov.uk/apprentices</a></p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The apprentices applying to the TfL apprenticeships now will join the organisation in September 2019.</li>
	<li>For more information about London Transport Museum's Route into Work programme, please visit: <a href="[ioID]#https://www.ltmuseum.co.uk/learning/young-people/route-into-work">https://www.ltmuseum.co.uk/learning/young-people/route-into-work</a></li>
	<li>TfL also has a dedicated Supplier Skills programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. For more information, visit <a href="[ioID]#https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills</a></li>
	<li>TfL continues to support wider apprenticeship schemes in London through travel concessions. All apprentices living in London aged 18 or over and in their first year of an approved course can save 30 per cent on the price of adult rate Travelcards and Bus &amp; Tram pass season tickets with an Apprenticeship Oyster Photocard.</li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-Could you be Transport for London’s next apprentice? -->

 
 
        
        
            @{ViewBag.Description = "Could you be Transport for London’s next apprentice?";}
        
        


 