


@{ViewBag.Title = "Custom House DLR station to reopen to passengers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Custom House DLR station to reopen to passengers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Custom House DLR station to reopen to passengers</h1>
        <div class="content-page-press-release">
        03 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Once complete, improvement work will have increased capacity at the station by 50 per cent
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Once fully complete, this important work will have increased capacity at the station by 50 per cent &#45; making journeys better for customers and ensuring the station is fit for the arrival of Elizabeth line services from late 2018"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">Interim General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The upgrade will prepare Custom House for the arrival of Elizabeth line services from late 2018</li>
</ul>
<p>Custom House DLR station will reopen to passengers next Monday 8 January, having been closed since 3 February 2017 for vital work to modernise and expand the station.</p>
<p>Those living and working in the area will now be able to use Custom House station for DLR services into central London, as well as eastwards to Beckton. It will also benefit visitors attending events held at the Excel London as well as those exploring the area around London's Royal Docks.</p>
<p>The station was closed to facilitate an easier interchange with the Elizabeth line at Custom House station and further improve journey times in advance of the Elizabeth line opening in December 2018. The work has reached a stage where the DLR station is now able to reopen. However, work will continue to complete the station's full facilities, including a mezzanine deck above the DLR platforms, new station canopies and two additional staircases, by spring 2018.</p>
<p>These improvements will help to reduce overcrowding at the busiest times, particularly once Elizabeth line services arrive at the station and new developments in and around the Royal Docks have been built. The upgrade will also shorten walking routes between DLR platforms and the surrounding area.</p>
<p>Mark Davis, Interim General Manager of the DLR, said: </p>
<p>'We appreciate the patience our customers have shown while the station has been closed. Once fully complete, this important work will have increased capacity at the station by 50 per cent &#45; making journeys better for customers and ensuring the station is fit for the arrival of Elizabeth line services from late 2018.'</p>
<p>Jeremy Rees, Acting CEO at Excel London, said: </p>
<p>'The reopening of Custom House DLR station is very welcome and will hugely benefit the four million people who visit us every year. The upgraded station will greatly improve access and the experience for our guests which, from December 2018, will be further transformed by the opening of the Elizabeth line, making Excel London the best connected venue in the world.'</p>
<p>The construction of the Elizabeth line has entered its final stages and will open to the public in phases from December. The new railway will transform journeys across London - increasing central London's rail-based transport capacity by 10 per cent, supporting regeneration and cutting journey times across the city. The fully accessible new stations and travel links are expected to boost the economy by &pound;42 billion overall and support thousands of new jobs and homes in London and the South East.</p>
<p>When the Elizabeth line opens there will be four stations where it interchanges with the DLR. These will be at Stratford, Canary Wharf, Custom House and Woolwich (for Woolwich Arsenal DLR station).</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Docklands Light Railway (DLR) network was the first fully accessible railway in the UK and provides step-free entrance and exits to all stations and trains.</li>
    <li>The number of people using the DLR has increased rapidly, rising from 10 million in the early 1990s to more nearly 122 million in 2016.</li>
    <li>The Elizabeth line will serve 41 stations and run more than 100km from Reading and Heathrow in the west, through new twin-bore 21km (13 miles) tunnels below central London to Shenfield and Abbey Wood in the east.</li>
    <li>Elizabeth line timeline:</li>
</ul>
<ul>
    <li>May 2018: TfL Rail service opens between Paddington and Heathrow, replacing the existing Heathrow Connect service and part of the Great Western inner suburban service. (TfL Rail continues to operate its Liverpool Street to Shenfield route).</li>
    <li>December 2018: The Elizabeth line opens. It will initially operate as three services:</li>
</ul>
<ol>
    <li>Paddington (Elizabeth line station) to Abbey Wood via central London</li>
    <li>Paddington (mainline station) to Heathrow (Terminals 2 &amp; 3 and 4)</li>
    <li>Liverpool Street (mainline station) to Shenfield</li>
</ol>
<ul>
    <li>May 2019: Direct services operate between Paddington - Shenfield and Paddington - Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate at the mainline station.</li>
    <li>December 2019: The Elizabeth line is fully open, with services running from Reading and Heathrow, including Terminal 5, in the west through the central tunnels to Shenfield and Abbey Wood in the east.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Custom House DLR station to reopen to passengers -->

 
 
        
        
            @{ViewBag.Description = "Custom House DLR station to reopen to passengers ";}
        
        


 