


@{ViewBag.Title = "Customers advised to check before they travel ahead of potential strike action on the Piccadilly line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Customers advised to check before they travel ahead of potential strike action on the Piccadilly line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Customers advised to check before they travel ahead of potential strike action on the Piccadilly line</h1>
        <div class="content-page-press-release">
        09 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Action would mean no service on the Piccadilly line from Wednesday 11 July evening to Saturday 14 July morning
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I urge the RMT Leadership to work with us constructively on the local issues they have raised, so that Londoners aren't subjected to disruption"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">TfL's Director of Network Operations for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published travel advice to help Londoners get around, should potential strike action on the Piccadilly line take place this week.</p>
<p>Piccadilly line train operators who are RMT members are planning industrial action from 21.00 Wednesday 11 July to 01:00 Saturday 14 July.</p>
<p>Talks to resolve the strike action continue, but if the strike goes ahead, there will be no service on the Piccadilly line throughout this period including the Night Tube on Friday 13 July.</p>
<p>Customers are advised to complete journeys on the Piccadilly line by 22.00 on Wednesday and expect there to be no service from 23.00. Services will resume on Saturday morning with the line running with delays until 0900.</p>
<p>For customers travelling between Heathrow airport and central London, TfL Rail and Heathrow Express services will be available to and from London Paddington station.</p>
<p>All other Tube lines are expected to run as normal but TfL expect them to be busier than usual.</p>
<p>Interchange stations along the Piccadilly line &#45; Finsbury Park, Green Park, Hammersmith, and King's Cross St. Pancras stations in particular &#45; will be much busier than usual. Additional buses will be in operation to help customers complete their journeys.</p>
<p>Nigel Holness, TfL's Director of Network Operations for London Underground, said: 'Customers are advised to check TfL journey planner for the latest journey information to see whether the strike is going ahead this week.</p>
<p>'I urge the RMT Leadership to work with us constructively on the local issues they have raised, so that Londoners aren't subjected to disruption.'</p>
<p>TfL Travel Ambassadors will be at key locations to provide travel information and advice to customers affected by action on either line.</p>
<p>Customers can keep up-to-date with the latest service information in a variety of ways, including:</p>
<ul>
    <li>Information on the TfL website at <a href="http://www.tfl.gov.uk/tube-strike">www.tfl.gov.uk/tube-strike</a></li>
    <li>Real-time information on the TfL Twitter accounts, including &#64;TfLTravelAlerts and &#64;piccadillyline, as well as the TfL Travelbot on Facebook messenger</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Customers advised to check before they travel ahead of potential strike action on the Piccadilly line -->

 
 
        
        
            @{ViewBag.Description = "Customers advised to check before they travel ahead of potential strike action on the Piccadilly line";}
        
        


 