


@{ViewBag.Title = "December";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/recognition-for-tfl-and-london-transport-museum-sta">Recognition for TfL and London Transport Museum staff <br />28 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/santander-cycles-achieves-a-record-breaking-year">Santander Cycles achieves a record breaking year<br />28 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/make-the-most-of-christmas-by-walking-cycling-and-using-public-transport">Make the most of Christmas by walking, cycling and using public transport<br />20 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/gla---mayor-s-action-plan-to-get-more-londoners-cycling">GLA - Mayor's Action Plan to get more Londoners cycling<br />17 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/contractor-for-overground-barking-riverside-extensi">Contractor for Overground Barking Riverside extension <br />21 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/mayor-and-tfl-launch-bold-plans-to-tackle-london-s-lethal-air">Mayor and TfL launch bold plans to tackle London's lethal air<br />19 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/transport-for-london-spreads-christmas-spirit-by-donating-lost-toys">Transport for London spreads Christmas spirit by donating lost toys<br />13 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/construction-of-major-new-cycle-route-in-south-east-london-set-to-begin-in-20">Construction of major new cycle route in south-east London set to begin in 2019 <br />12 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/londoners-encouraged-to-get-home-safely-during-the-festive-period">Londoners encouraged to get home safely during the festive period<br />13 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/new-waterloo-and-city-line-entrance-relieves-congestion-at-bank-station">New Waterloo & City line entrance relieves congestion at Bank station<br />12 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/tfl-sets-out-plan-to-deliver-vital-improvements">TfL sets out plan to deliver vital improvements<br />11 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/new-financing-agreement-confirmed-for-crossrail-proje">New financing agreement confirmed for Crossrail project <br />10 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/tfl-marks-the-150th-anniversary-of-the-traffic-light">TfL marks the 150th anniversary of the traffic light<br />10 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/are-children-key-to-a-healthier-london-tfl-s-stars-programme-suggests-so">Are children key to a healthier London? TfL's STARS programme suggests so<br />06 Dec 2018</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2018/december/-transport-for-london-and-barratt-london-get-the-green-light-to-build-affordable-homes-in-blackhorse-road"> Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road<br />05 Dec 2018</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press 2018 December";}
        
        


 