


@{ViewBag.Title = "District line celebrates 150 years of serving London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">District line celebrates 150 years of serving London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>District line celebrates 150 years of serving London</h1>
        <div class="content-page-press-release">
        25 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Events planned throughout the year to mark 150th anniversary, including steam train ride
        
    </div>



 <div class="on-this-page">
<p>TfL has today announced a series of events to celebrate the District line's 150th anniversary.</p>

<p>The line, which initially consisted of five stations, opened on 24 December 1868. In 1869, the service was extended westward to West Brompton, and in 1870, eastward to Blackfriars.</p>

<p>Within forty years of opening, it was running services to Ealing, Hounslow, Putney, East Ham, and New Cross. For a short time, there were even District line trains to Windsor and Southend-on-Sea.</p>

<p>The District line now has 60 stations, more than any other line on the Underground, and more than 220 million journeys take place on the line annually.</p>

<p>A series of events celebrating the anniversary starts today (Friday 25 January 2019). Heritage displays and leaflets telling the story of the line's history will be handed out at stations, while Cultural Tube maps, highlighting a range of fun places to visit along the line, will be placed at stations along the route.</p>

<p>The handouts include information about the overall history of the line, as well as details about the history and architecture of each station.</p>

<h2>Heritage displays</h2>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'The District line has linked people from east and west London through the heart of the capital for 150 years, providing easy access to world-famous cultural highlights such as Kew Gardens, Wimbledon and the Natural History Museum.</p>

<p>'It has seen big changes over the years, most recently with the introduction of modern, walk-through, air-conditioned trains, and the new signalling system will transform it even further. I look forward to the District line continuing to serve Londoners and visitors to the city for the next century and beyond.'</p>

<p>In conjunction with the London Transport Museum, TfL will run a steam train along the District line later this year.</p>

<p>The modernisation of signalling on the Hammersmith &amp; City, District, Circle and Metropolitan lines, which will boost capacity and make life better for millions of Londoners, means that this will be the last time a steam train will be able to travel through the central section of the Underground.</p>

<p>Nigel Holness, Managing Director of London Underground, said: 'The District line has been a vital part of London's transport network for 150 years and it's amazing to think how many billions of journeys have been made in its history.</p>

<p>'Thanks to the improvements we continue to make on the line, including the new walk-through trains that now serve it, the District line still sets the standard for the rest of the world today.'</p>

<h2>Billions of journeys</h2>

<p>Tours of Acton Town station and an open weekend at London Transport Museum's depot in Acton Town will take place in April giving attendees the chance to learn more about the architectural and operational heritage of the line.</p>

<p>London Transport Museum is also fundraising to restore a rare part of the District line's heritage &#45; the last three surviving 1930s Q-stock Underground carriages, which were in service from 1938 to the late 1960s. &pound;200,000 is needed to complete the restoration work to make the trains operational.</p>

<p>The first phase of the District line was built using a cut-and-cover method. Workers would dig a trench, build a tunnel, and then cover it over again.</p>

<p>Two thousand workers were employed to dig the tunnel and 200 horses were used to move the soil. The original District Railway trains could fit more than 400 people per train, but today, a District line train can carry more than 1,000 people during rush hour with the help of the new S-stock trains which currently operate with seven cars.</p>

<h2>Four Lines Modernisation</h2>

<p>Sarah Bailey, whose family has operated news kiosk Haines of Sloane Square since 1892, said: 'We are proud to have been serving customers at Sloane Square Tube station for more than 125 years, spanning nearly five generations of our family.</p>

<p>'The District line has been the lifeblood of our business throughout the years and we've seen huge changes in the area in that time, selling newspapers, drinks and sweets to everyone from royals to roller skating Santas.</p>

<p>'We are proud to celebrate the 150th birthday of the District line and look forward to serving Tube customers for decades to come.'</p>

<p>The District line is being transformed as part of a project known as Four Lines Modernisation which will greatly improve reliability, capacity and customer information on the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>

<p>The installation of a new signaling system will allow trains to run more frequently (from 28 to 32 trains per hour in the central London section). The project will introduce the new signalling system in stages, and is set to transform nearly half the network when complete in 2023.</p>

<p>Pay-as-you-go fares along the line start from &pound;2.40 for journeys through Zone 1, and are just &pound;1.50 for journeys outside Zone 1 during off-peak hours, providing a quick and affordable way to travel across London.</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>Further information about the steam train ride and Acton Town station tours will be made available in due course. London Transport Museum will also be hosting a Love your Line Open Weekend at Acton Depot on the weekend of 27-28 April 2019. You can book tickets at: <a href="https://www.ltmuseum.co.uk/whats-on/museum-depot/open-weekends">https://www.ltmuseum.co.uk/whats-on/museum-depot/open-weekends</a></li>
	<li>For additional facts about the District line please contact the TfL press office</li>
</ul>

<p>Chronology of the line:</p>

<ul>
	<li>24 December 1868: line opened South Kensington to Westminster</li>
	<li>1869: Service extends to West Brompton</li>
	<li>1870: Service extends to Blackfriars</li>
	<li>1871: Service extends to Mansion House</li>
	<li>1874: Services to Hammersmith begin</li>
	<li>1877: Services to Richmond begin</li>
	<li>1879: Services to Ealing Broadway begin</li>
	<li>1880: District line extended to Putney Bridge</li>
	<li>1884: Services to Whitechapel begin</li>
	<li>1884: Services to Hounslow begin (withdrawn in 1964)</li>
	<li>1889: Stations from Putney Bridge to Wimbledon were constructed by a competing railway. London Underground didn't take over these stations (with the exception of Wimbledon) until the 1990s</li>
	<li>1902: Services to Upminster begin</li>
	<li>1905: Electrification of the tracks enables service east as far as East Ham</li>
	<li>1930s: District line begins running services to Upminster again</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-District line celebrates 150 years of serving London -->

 
 
        
        
            @{ViewBag.Description = "District line celebrates 150 years of serving London";}
        
        


 