


@{ViewBag.Title = "DLR celebrates 30 years of serving east London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DLR celebrates 30 years of serving east London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DLR celebrates 30 years of serving east London </h1>
        <div class="content-page-press-release">
        31 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Docklands Light Railway, which helped kick-start regeneration in the Docklands, is celebrating 30 years of service. The railway continues to deliver a vital transport link for millions of Londoners and to mark the anniversary a '30 things to do by DLR' travel guide and an easier to read line map have been released.</p>
<p>Officially opened by Her Majesty the Queen in summer 1987, the DLR initially began with just 11 single-carriage trains that served 15 stations. It has continued to grow, being extended six times to help meet east London's growing population, and now serves Bank in The City, Beckton, Lewisham, London City Airport, Woolwich Arsenal and Stratford International.</p>
<p>Today, the entirely step-free railway carries 122 million passengers, up from 6.7 million in its first year, and encompasses 45 stations with 56 mainly three carriage trains on 38 kilometres of track.</p>
<p>Getting around the DLR will be made even easier this summer with the introduction of new line maps on board the trains and at stations. Using different colour shades for each branch of the railway, it will simplify journey planning for customers and help provide clearer interchange information.</p>
<p>The 'Destination DLR' travel guide features 30 places that are all easily reached by the DLR including a variety of attractions across east and southeast London, from Royal Museums in Greenwich to Queen Elizabeth Olympic Park. The categories of activities include; historic Docklands and Maritime, family days out, food and drink, as well as music and theatre.</p>
<p>Danny Price, TfL's Director of the DLR, said: `The DLR has been an integral part of east London for 30 years and we are proud of the contribution it has made. With a growing population, and continuing redevelopment in the area, the importance of good transport links is clear. With improvements such as a new generation of trains from 2022 and initiatives to make our customers' lives easier, such as the new clearer DLR line map, we will ensure the DLR continues to meet those growing needs.  We also want to take the opportunity to celebrate the growing number of top attractions and hidden gems linked by the DLR through our new travel guide'</p>
<p>Barrie Kelly, Chief Executive Officer of Visit Greenwich said: `We'd like to wish Docklands Light Railway a very happy birthday and wish them well for the next 30 years. DLR has been instrumental in helping to raise the profile of Greenwich as a prime visitor destination in London, bringing in more than four million visitors per year. DLR has opened up Greenwich to visitors from both home and abroad and helped to significantly increase the prosperity of south east and east London as a whole. The service provides a great visitor experience and the trains are always on time!'</p>
<p>DLR customers will benefit from new trains in 2022, helping boost capacity on the DLR by 30 per cent. The new trains are part of the Mayor of London's draft Transport Strategy, which plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>
<p>The trains will help improve reliability and will feature onboard real time information, air-conditioning and mobile device charging points for the first time. They will also bring increased capacity and will help the DLR continue to support growth in South East London. Across the Royal Docks area there is potential to provide up to 60,000 new jobs and 25,500 new homes. As part of this redevelopment, London's third business district will be created within the Royal Albert Docks.  This &pound;1.7bn project is expected to create up to 30,000 new jobs and help contribute &pound;6bn to the local community. The first stage is set to open in 2019 following the arrival of the Elizabeth line.</p>
<p>Declan Collier, Chief Executive Officer of London City Airport said: `While London City Airport (LCY) has a 30 year record of connecting business to Europe, in 2005 the DLR seamlessly connected the airport to London. It transformed LCY's passenger proposition, made us accessible to established and emerging parts of the city, and now 61 per cent of our passengers use it to access our airport. It's fitting that the DLR and London City Airport both celebrate their 30th anniversary this year as they are two businesses that have played a crucial role in regenerating and better connecting East London, and we look forward to many more years of working together.'</p>
<p>Finbarr Whooley, Director of Content at the Museum of London Docklands, said: `The opening of the DLR 30 years ago transformed the Docklands area making it accessible to swathes of Londoners and visitors, properly, for the first time. The Museum of London Docklands, located between West India Quay and Westferry stations, welcomes almost 300,000 visitors a year, many of whom travel on the DLR; so we're really pleased that even more improvements are in the pipeline that will further help to bring East London's cultural destinations together.'</p>
<p>When the Elizabeth line services commence between central London, Shenfield and Abbey Wood in December 2018, the DLR will provide key interchanges at Canary Wharf, West India Quay, Stratford and Custom House stations.</p>
<p>Ends<br />
Notes to Editors:</p>
<ul>
    <li>The DLR network was upgraded to increase capacity, by enabling operation of three-carriage trains ahead of the London 2012 Games. In addition to this, a new branch to Stratford International was opened to better serve Queen Elizabeth Olympic Park. It helped play an important part in London's success as an Olympic host city, carrying record numbers of passengers.</li>
    <li>You can download the Destination DLR guide <a href="https://tfl.gov.uk/cdn/static/cms/documents/dlr30-leaflet-and-map.pdf">here.</a></li>
    <li>You can download the new DLR Line diagram <a href="https://www.flickr.com/photos/tflpress/albums/72157684151838884">here</a></li>
    <li>A fleet of 43 new air-conditioned, walk-through DLR trains will be introduced from 2022.</li>
    <li>Six extensions have been added to the original network: to Bank in 1991, Beckton in 1994, Lewisham in 1999, London City Airport in 2005, Woolwich Arsenal in 2009 and to Stratford International in 2011.</li>
    <li>Follow the DLR on Twitter &#64;LondonDLR and visit tfl.gov.uk/dlr for London inspiration this summer, as well as information on some giveaways and competitions.</li>
    <li>KeolisAmey Docklands, are a joint venture formed between Keolis and Amey &#45; in 2014 they were awarded the franchise to operate and maintain the DLR until 2021.The new franchise focuses on boosting services and on implementing a series of service improvements to make journeys better for passengers.</li>
    <li>About The Museum of London Docklands: The Museum of London Docklands is located at West India Quay in east London. Opened in 2003, this grade one listed converted Georgian sugar warehouse specifically tells the story of the port, river and city &#45; focusing on trade, migration and commerce in London. The museums are open daily 10am &#45; 6pm and are FREE to all, and you can explore the collections online &#45; home to 90,000 objects with more being added. <a href="http://The Docklands Light Railway, which helped kick-start regeneration in the Docklands, is celebrating 30 years of service. The railway continues to deliver a vital transport link for millions of Londoners and to mark the anniversary a '30 things to do by DLR' travel guide and an easier to read line map have been released.  Officially opened by Her Majesty the Queen in summer 1987, the DLR initially began with just 11 single-carriage trains that served 15 stations. It has continued to grow, being extended six times to help meet east London's growing population, and now serves Bank in The City, Beckton, Lewisham, London City Airport, Woolwich Arsenal and Stratford International.   Today, the entirely step-free railway carries 122 million passengers, up from 6.7 million in its first year, and encompasses 45 stations with 56 mainly three carriage trains on 38 kilometres of track.  Getting around the DLR will be made even easier this summer with the introduction of new line maps on board the trains and at stations. Using different colour shades for each branch of the railway, it will simplify journey planning for customers and help provide clearer interchange information.   The 'Destination DLR' travel guide features 30 places that are all easily reached by the DLR including a variety of attractions across east and southeast London, from Royal Museums in Greenwich to Queen Elizabeth Olympic Park. The categories of activities include; historic Docklands and Maritime, family days out, food and drink, as well as music and theatre.  Danny Price, TfL's Director of the DLR, said: &quot;The DLR has been an integral part of east London for 30 years and we are proud of the contribution it has made. With a growing population, and continuing redevelopment in the area, the importance of good transport links is clear. With improvements such as a new generation of trains from 2022 and initiatives to make our customers' lives easier, such as the new clearer DLR line map, we will ensure the DLR continues to meet those growing needs.  We also want to take the opportunity to celebrate the growing number of top attractions and hidden gems linked by the DLR through our new travel guide&quot;  Barrie Kelly, Chief Executive Officer of Visit Greenwich said: &quot;We'd like to wish Docklands Light Railway a very happy birthday and wish them well for the next 30 years. DLR has been instrumental in helping to raise the profile of Greenwich as a prime visitor destination in London, bringing in more than four million visitors per year. DLR has opened up Greenwich to visitors from both home and abroad and helped to significantly increase the prosperity of south east and east London as a whole. The service provides a great visitor experience and the trains are always on time!&quot;    DLR customers will benefit from new trains in 2022, helping boost capacity on the DLR by 30 per cent. The new trains are part of the Mayor of London's draft Transport Strategy, which plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.   The trains will help improve reliability and will feature onboard real time information, air-conditioning and mobile device charging points for the first time. They will also bring increased capacity and will help the DLR continue to support growth in South East London. Across the Royal Docks area there is potential to provide up to 60,000 new jobs and 25,500 new homes. As part of this redevelopment, London's third business district will be created within the Royal Albert Docks.  This &pound;1.7bn project is expected to create up to 30,000 new jobs and help contribute &pound;6bn to the local community. The first stage is set to open in 2019 following the arrival of the Elizabeth line.   Declan Collier, Chief Executive Officer of London City Airport said: &quot;While London City Airport (LCY) has a 30 year record of connecting business to Europe, in 2005 the DLR seamlessly connected the airport to London. It transformed LCY's passenger proposition, made us accessible to established and emerging parts of the city, and now 61 per cent of our passengers use it to access our airport. It's fitting that the DLR and London City Airport both celebrate their 30th anniversary this year as they are two businesses that have played a crucial role in regenerating and better connecting East London, and we look forward to many more years of working together.&quot;   Finbarr Whooley, Director of Content at the Museum of London Docklands, said: &quot;The opening of the DLR 30 years ago transformed the Docklands area making it accessible to swathes of Londoners and visitors, properly, for the first time. The Museum of London Docklands, located between West India Quay and Westferry stations, welcomes almost 300,000 visitors a year, many of whom travel on the DLR; so we're really pleased that even more improvements are in the pipeline that will further help to bring East London's cultural destinations together.&quot;  When the Elizabeth line services commence between central London, Shenfield and Abbey Wood in December 2018, the DLR will provide key interchanges at Canary Wharf, West India Quay, Stratford and Custom House stations.  Ends Notes to Editors:   •	The DLR network was upgraded to increase capacity, by enabling operation of three-carriage trains ahead of the London 2012 Games. In addition to this, a new branch to Stratford International was opened to better serve Queen Elizabeth Olympic Park. It helped play an important part in London's success as an Olympic host city, carrying record numbers of passengers.   •	You can download the Destination DLR guide here. •	You can download the new DLR Line diagram here •	A fleet of 43 new air-conditioned, walk-through DLR trains will be introduced from 2022.  •	Six extensions have been added to the original network: to Bank in 1991, Beckton in 1994, Lewisham in 1999, London City Airport in 2005, Woolwich Arsenal in 2009 and to Stratford International in 2011. •	Follow the DLR on Twitter &#64;LondonDLR and visit tfl.gov.uk/dlr for London inspiration this summer, as well as information on some giveaways and competitions. •	KeolisAmey Docklands, are a joint venture formed between Keolis and Amey &#45; in 2014 they were awarded the franchise to operate and maintain the DLR until 2021.The new franchise focuses on boosting services and on implementing a series of service improvements to make journeys better for passengers.  •	About The Museum of London Docklands: The Museum of London Docklands is located at West India Quay in east London. Opened in 2003, this grade one listed converted Georgian sugar warehouse specifically tells the story of the port, river and city &#45; focusing on trade, migration and commerce in London. The museums are open daily 10am &#45; 6pm and are FREE to all, and you can explore the collections online &#45; home to 90,000 objects with more being added. www.museumoflondon.org.uk .">www.museumoflondon.org.uk</a> .</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-DLR celebrates 30 years of serving east London  -->

 
 
        
        
            @{ViewBag.Description = "DLR celebrates 30 years of serving east London ";}
        
        


 