


@{ViewBag.Title = "Double record-breaking months for Santander Cycles";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Double record-breaking months for Santander Cycles</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Double record-breaking months for Santander Cycles</h1>
        <div class="content-page-press-release">
        02 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The hot weather inspires more cycling as June 2018 saw the most hires on record for any June since the scheme began in 2010 with more than one million hires
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whether you're travelling to work or visiting one of London's beautiful parks at the weekend, Santander Cycles provides an active, healthy and sustainable way to get around this wonderful city.'"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Eddington</div>
            <div class="quotee-job-title">Head of Cycle Hire, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>May 2018 also saw more than one million hires as London's sunny weather creates ideal cycling conditions</li>
    <li>Almost 13,000 cyclists passed through TfL's two cycle counters on Cycle Superhighway 6 and 3 on 26 June alone</li>
</ul>
<p>Transport for London's flagship Santander Cycles hire scheme has enjoyed two record-breaking months in a row, with last month becoming the scheme's best June to date, with more nearly 1.2 million hires.</p>
<p>The 1.18m hires last month follows a record-breaking May with 1.1m hires and 2017, where an unprecedented 10.4 million journeys were made. June was just 7,000 hires off achieving the most hires on record for any given month since the scheme began in 2010. London's heatwave has helped encourage even more people to explore the capital on two wheels. Santander Cycles has been able to meet this demand by providing extra bikes at parks during weekends and launching a new trial in Westminster and the City to provide more bikes at peak commute times.</p>
<p>Alongside the focus on parks and commuter journeys, the scheme has been made available in new areas of London with the recent launch of seven new docking stations in Brixton, which has brought the scheme to even more people. The record breaking months come at an exciting time for the cycle hire scheme, with TfL's recently introduced next-generation British-built bike that is more manoeuvrable with smaller wheels, a lower frame, a new gear hub and a more comfortable seat.</p>
<p>Records were also broken on TfL's Cycle Superhighways on Blackfriars Bridge and Victoria Embankment this month, where cycle counters were installed in February. These counters show that more than 1.2 million cyclists have now used CS3 and CS6. The highest number of cyclists was seen on 26 June, with nearly 13,000 bikes passing the counters.</p>
<p>David Eddington, Head of Cycle Hire at TfL, said: </p>
<p>'We're seeing an unprecedented growth in cycling across the capital, and Santander Cycles is helping to support this by providing more bikes at the busiest times and locations. Whether you're travelling to work or visiting one of London's beautiful parks at the weekend, Santander Cycles provides an active, healthy and sustainable way to get around this wonderful city.'</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: </p>
<p>'It's fantastic to see record numbers of people enjoying cycling in this summer weather. The Santander Cycles are a brilliant way to experience London. I'm delighted that the increased availability of our new lighter model has led to even more commuters and visitors making the most of them.'</p>
<p>Keith Moor, Chief Marketing Officer at Santander said: </p>
<p>'The Santander Cycles Scheme is a great example of our commitment to supporting local communities and helping people and businesses prosper. Through the partnership with TfL we have worked to bring excitement and innovation to the scheme, whilst making it more accessible, enjoyable and giving people the confidence to cycle around and explore this fantastic City. It's been great to see records broken and hires on an upward trend and here's to a great cycling summer!'</p>
<p>Cycling forms a key part of the Mayor's Transport Strategy, which aims for 80 per cent of all journeys to be made by cycling, walking or public transport by 2041. At a time of increased popularity of cycling overall, record-breaking figures for Santander Cycles show that cycle hire is playing a significant role in helping to further grow cycling numbers across the capital.</p>
<p>Since TfL's cycle hire scheme was launched in July 2010, it has grown from strength to strength. There have been more than 70 million journeys made using the cycles and there are now more than 770 docking stations covering 100 square kilometres of London.</p>
<p>To find your nearest Santander Cycles docking station, visit <a href="http://www.tfl.gov.uk/santandercycles">www.tfl.gov.uk/santandercycles</a> and to download the free app, go to the iTunes or Android App store and search for Santander Cycles.</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL is currently running a stacking trial that will increase the docking and hiring capacity in the morning and evening peaks at two docking stations in Westminster and one in Liverpool Street &#45; Soho Square, Brushfield Street and Abbey Orchard Street</li>
    <li>Santander Cycles now covers 100 square kilometres of London, making it the second largest cycle hire scheme in Europe. Since launching in July 2010, more than 70 million journeys have been made</li>
    <li>More than a million hires have now been made using the Santander Cycles app, which was launched in May 2015 to make it easier to find and hire bicycles</li>
    <li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles. This app includes docking station information, live bike and space availability and it sends a release code straight to your phone, letting users skip past the terminal and get on their bike quicker</li>
    <li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys&nbsp;</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Double record-breaking months for Santander Cycles -->

 
 
        
        
            @{ViewBag.Description = "Double record-breaking months for Santander Cycles as the hot weather inspires more cycling";}
        
        


 