


@{ViewBag.Title = "Elizabeth line train makes successful maiden voyage across south east London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Elizabeth line train makes successful maiden voyage across south east London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Elizabeth line train makes successful maiden voyage across south east London</h1>
        <div class="content-page-press-release">
        26 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Elizabeth line train driven through the brand new tunnels for the first time
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When it opens later this year, the Elizabeth line is going to transform travel across London and the South East, helping to improve the lives of millions of Londoners, stimulating much needed housing development across the capital, and providing a huge boost to our economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and Crossrail Limited have hailed a major milestone for Europe's largest infrastructure project as the first new Elizabeth line train was tested in the brand new tunnels through London last night.</p>
<p>The new train &#45; built by Bombardier engineers in Derby &#45; was the first to be driven from Abbey Wood. It entered the new tunnels at Plumstead portal and travelled under the Thames heading for Connaught Tunnel before returning to Abbey Wood station.</p>
<p>The Elizabeth line is set to transform transport in London with quicker, easier and more accessible journeys when it launches in December. The first train to be driven in the tunnels comes as construction reaches its final stages.</p>
<h2>Quicker, easier and more accessible</h2>
<p>Rigorous testing of the railway and signalling infrastructure will now begin to ensure services are safe and reliable for the opening in 10 months' time.</p>
<p>The train &#45; which was driven at a low speed &#45; is the first of hundreds of test runs that will take place throughout the year.</p>
<p>Andrew Wolstenholme, Chief Executive, Crossrail, said: 'The start of infrastructure testing is a major milestone moment.</p>
<p>'It's testament to the men and women who have, and continue to, work tirelessly on the project that we are now welcoming the first Elizabeth line train that's powered by the new overhead lines, into the tunnels.</p>
<p>'The Crossrail programme is now over 90% complete and this heralds the start of our works to bring together the new stations, track, power, signalling and trains ahead of the Elizabeth line opening in December.'</p>
<h2>Huge milestone</h2>
<p>Howard Smith, Operations Director for the Elizabeth line, said: 'This is a huge milestone for the project, nine years after construction first began. I'm thrilled to see the first train make its maiden voyage from Abbey Wood through the brand new tunnels.</p>
<p>'Crucial testing is now underway to validate the safety and reliability of the Elizabeth line ahead of the launch.</p>
<p>'We look forward to welcoming customers onto our new railway this December, when their experience of travelling across London will be transformed for the better.'</p>
<p>The Mayor of London, Sadiq Khan, said: 'This is a hugely exciting moment in the construction of the Elizabeth line.</p>
<p>'Everyone involved in Europe's largest infrastructure project has done a wonderful job and it's thanks to their hard work that we are another key step closer to running our first passenger service.</p>
<p>'When it opens later this year, the Elizabeth line is going to transform travel across London and the South East, helping to improve the lives of millions of Londoners, stimulating much needed housing development across the capital, and providing a huge boost to our economy.'</p>
<h2>Transform travel</h2>
<p>Rail Minister Jo Johnson, said: 'The maiden journey of a brand new train through the Elizabeth line tunnels is a milestone moment in one of the most ambitious infrastructure projects ever undertaken in the UK.</p>
<p>'This is part of this government's record spending on upgrading our national rail network and delivers on our commitment to transform journeys across London and the South East, transforming journeys for over 200 million passengers a year, boosting capacity and driving economic growth.'</p>
<p>Earlier this month, Crossrail Limited successfully activated the 25kV overhead lines in a section of the tunnels beneath the streets of London, a landmark moment that ensured this first journey could take place.</p>
<p>One train will initially be used for testing in the tunnels before more are gradually introduced. A significant amount of work continues to complete all stations on the route as well as bringing together the complicated interfaces between track, power, signalling and trains.</p>
<p>The Elizabeth line is jointly sponsored by the Department for Transport (DfT) and TfL. When complete, London's new railway will carry over 200 million passengers per year and will add 10% to central London's rail capacity.</p>
<p>The introduction of the Elizabeth line supports the draft Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p><hr /></p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Footage is available on request from the TfL Press Office</li>
    <li>Download images here: <a href="https://flic.kr/s/aHsm7uNA9o">https://flic.kr/s/aHsm7uNA9o</a></li>
    <li>The Elizabeth line will open in phases:</li>
</ul>
<p><strong>December 2018</strong></p>
<p>Services through central London begin, three separate services will operate:</p>
<ul>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington (main line station) to Heathrow</li>
    <li>Liverpool Street (main line station) to Shenfield</li>
</ul>
<p><strong>May 2019</strong></p>
<p>Direct services will operate from Paddington to Shenfield and Paddington to Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate in the main line station.</p>
<p><strong>December 2019</strong></p>
<p>The Elizabeth line will fully open, with services running from Reading and Heathrow in the west through the central tunnels to Shenfield and Abbey Wood in the east.</p>
<ul>
    <li>The train was previously hauled through the tunnel to Abbey Wood in October 2017 using a locomotive</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Elizabeth line train makes successful maiden voyage across south east London -->

 
 
        
        
            @{ViewBag.Description = "Elizabeth line train makes successful maiden voyage across south east London";}
        
        


 