


@{ViewBag.Title = "Emirates Air Line to close for annual maintenance ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Emirates Air Line to close for annual maintenance </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Emirates Air Line to close for annual maintenance </h1>
        <div class="content-page-press-release">
        03 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Planned closure for week of 13 to 19 March for essential works
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our planned maintenance week ensures that we can continue to run a safe and reliable service for all of our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Danny Price</div>
            <div class="quotee-job-title">Head of the Emirates Air Line, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Emirates Air Line will close for one week for its annual planned maintenance work from Monday 13 to Sunday 19 March 2017.</p>
<p>The work will be carried out by operator Mace Macro with assistance from Doppelmayr, who built the cable car system and have been involved in the operations and maintenance since then. As well as being a statutory requirement, it is part of the annual maintenance programme required by all cable car systems around the world.</p>
<p>Essential work will take place to ensure the highest standards of safety and availability are maintained.</p>
<p>This year, the join in the continuous 2.4 km cable will be opened up and inspected by experts from the company who manufactured it &#45; an inspection that only needs to take place every five years. In addition to this, the electric drive motor and gearbox will be serviced as well as checks being made on the complex hydraulic and electrical systems that control the operation of the cable car.</p>
<p>TfL's Head of the Emirates Air Line, Danny Price, said: </p>
<p>'We are approaching five years since the Emirates Air Line cable car opened and we continue to see more people enjoying the unique ride and views over London, welcoming over eight million customers since June 2012.</p>
<p>'Our planned maintenance week ensures that we can continue to run a safe and reliable service for all of our customers. We apologise for any disruption this causes. However, by carrying out all this vital work, now we will not require any further planned closures this year.'</p>
<p>While the closure is in place, the nearest alternative public transport is North Greenwich Tube station for the Jubilee line on the south side of the river and Royal Victoria DLR station on the north side. Both are a short walk away from the Emirates Air Line. Bus services are available from North Greenwich bus station and Royal Victoria. River services also operate from North Greenwich Pier next to the Emirates Greenwich Peninsula terminal.</p>
<p>Since opening, customer feedback has been consistently high, with the Emirates Air Line receiving an average score of 93 out of 100 for overall satisfaction and 94 out of 100 for likelihood to recommend the service to others.</p>
<p>For information about local public transport and to plan your journey, please visit <a href="http://tfl.gov.uk/plan-a-journey">http://tfl.gov.uk/plan-a-journey</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors</p>
<ul>
    <li>For information about the Emirates Air Line cable car please visit <a href="http://www.tfl.gov.uk/emiratesairline">www.tfl.gov.uk/emiratesairline</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-Emirates Air Line to close for annual maintenance  -->

 
 
        
        
            @{ViewBag.Description = "Emirates Air Line to close for annual week of maintenance ";}
        
        


 