


@{ViewBag.Title = "Enjoy Easter by planning your travel in advance";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Enjoy Easter by planning your travel in advance</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Enjoy Easter by planning your travel in advance</h1>
        <div class="content-page-press-release">
        28 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers are being encouraged to plan their journeys in advance this Easter to ensure they can get around easily and make the most of London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Most of our services are operating throughout the Easter period, but there are some notable exceptions where we need to use the quieter period to carry out vital modernisation work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>The majority of Transport for London (TfL) services will be running across the transport network as normal. This includes London's extensive bus network, where customers can now get around for less with the new Hopper fare that allows people travelling on two buses within an hour to pay only one single fare.  Most of the London Overground network and most Tube lines are also operating, helping people who want to get out and about across London this Easter.</p>
<p>TfL is however using the quieter Easter period to carry out essential improvement work, whilst minimising disruption to customers. Thousands of engineers will be working around the clock at a number of locations to deliver improvements to TfL services that will benefit customers.</p>
<p>Full details of alternative travel options, in addition to information and maps of the work taking place over Easter, are available on TfL's website, <a href="http://tfl.gov.uk/easter-travel">tfl.gov.uk/easter-travel</a>.</p>
<p>From Friday 14 to Monday 17 April 2017, planned work will affect some Tube and Rail services, including:</p>
<ul>
    <li>No service on TfL Rail from Good Friday to Easter Monday</li>
    <li>No service on the Victoria line on Easter Sunday and Easter Monday</li>
    <li>Upgrade work on the Circle, District, Hammersmith &amp; City, and Metropolitan lines all weekend, meaning that Aldgate East to West Ham will be closed and there will be no service on the Metropolitan line from Wembley Park to Uxbridge and to Northwood. The Circle line will also be part-closed but the stations will remain open and will be served by other lines</li>
    <li>Engineering and maintenance work on parts of the DLR, London Overground and Tram network across the weekend</li>
</ul>
<p>There will also be some road closures, particularly affecting Wellesley Road in Croydon. Check <a href="http://tfl.gov.uk/easter-travel">tfl.gov.uk/easter-travel</a> for full closure details for both road and rail, and for information on replacement bus services.</p>
<p>The Easter weekend will see work to deliver the final phase of the Victoria line upgrade, which will mean 36 trains per hour in the morning and evening peak from May 2017. This will make the line one of the most intensive rail services anywhere in the world, with a train every 100 seconds at the busiest times.</p>
<p>Work to modernise the signalling system on the Circle, District, Hammersmith &amp; City and Metropolitan lines will also be taking place, paving the way for quicker and more comfortable journeys from 2023.</p>
<p>To maximise the upgrades completed over the Easter period, TfL has coordinated its modernisation work to coincide with work by Network Rail and with work to deliver the Elizabeth line. When the central tunnels open in December 2018, the Elizabeth line will radically improve transport across London - hugely increasing capacity, cutting journey times and transforming accessibility with every station step-free. More information on Network Rail's Easter work is available from <a href="http://nationalrail.co.uk/easter">nationalrail.co.uk/easter</a>.</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'Most of our services are operating throughout the Easter period, but there are some notable exceptions where we need to use the quieter period to carry out vital modernisation work that will mean that our services can continue to meet the demands of London's growing population.</p>
<p>'I thank customers for their patience while we do this, and encourage everyone travelling over Easter to check our website to see if they need to alter their journeys.'</p>
<p>Customers are advised to check TfL's social media channels for live traffic news and service updates before they travel. A full list of TfL's Twitter and Facebook feeds, covering each of the 11 different London Underground lines, buses, the DLR, Trams, London Overground, TfL Rail, Santander Cycles, Emirates Air Line cable car and live traffic news, is available at <a href="http://tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-Enjoy Easter by planning your travel in advance -->

 
 
        
        
            @{ViewBag.Description = "Enjoy Easter in London by planning your travel in advance";}
        
        


 