


@{ViewBag.Title = "Escalator refurbishment at St Paul's station starts this week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Escalator refurbishment at St Paul’s station starts this week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Escalator refurbishment at St Paul’s station starts this week</h1>
        <div class="content-page-press-release">
        06 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two of the Tube station's escalators will be refurbished
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Once the work is complete, the escalators will be more reliable and there will be less disruption to journeys as a result"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter McNaught</div>
            <div class="quotee-job-title">Director of Asset Operations at London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Work starts on the first escalator on 9 August, the refurbishment of the second will start later in the year</li>
    <li>It means there will be no entry to the station between 07:30-10:00 on weekdays. At all other times, entry will be via a staircase only</li>
    <li>Westbound Central line services will be non-stopping in both the morning and evening peak</li>
    <li>Customers are advised to use nearby Bank and Chancery Lane Tube stations while the refurbishment takes place</li>
</ul>
<p ><br />
TfL is advising customers who use St Paul's Underground station that vital refurbishment of the first of two escalators will begin on Thursday 9 August 2018.</p>
<p>London Underground's escalators tend to be in operation in both directions for up to 20 hours a day and must be refurbished every 20 years and replaced every 40 years.</p>
<p>The escalators at St Paul's Tube station, which were installed in 1997, will be refurbished one at a time to boost their safety and reliability. This will ensure the station can manage increasing customer demand as London's population continues to grow. The refurbishment work is scheduled to finish in April 2019.</p>
<p>While the work is carried out, the following measures will be put in place:</p>
<ul>
    <li><strong>On weekdays between 07:30-10:00</strong> &#45; Westbound Central line trains will not stop and the station will be exit only. At all other times, entry will be via a staircase only (99 steps). There will be no 'down' escalator at the station at any time while the work is taking place</li>
    <li><strong>On weekdays between 16:00-19:30</strong> &#45; Westbound Central line trains will not stop at the station</li>
    <li><strong>During Night Tube services</strong> &#45; the station will be exit only between 00:30-05:00</li>
</ul>
<p ><br />
At busy times, it may take longer to exit or move around the station than usual. Customers are advised to use nearby Bank and Chancery Lane Tube stations (Central line) or alternative lines at Mansion House and Barbican. On the weekends of 11 and 12 June and 18 and 19 June, platform work at Bank station means that Central line trains will not be stopping at the station overnight, so during Night Tube hours customers who wish to travel from St. Paul's should use Chancery Lane. Bus routes N8 and 25 connect these stations.</p>
<p>Peter McNaught, Director of Asset Operations at London Underground, said: &quot;I'm sorry for the disruption the escalator refurbishment will cause to customers but this is vital work that will improve journeys through St Paul's Tube station for years to come. Once the work is complete, the escalators will be more reliable and there will be less disruption to journeys as a result.&quot;</p>
<p>Over 17 million customers use St Paul's Underground station every year.</p>
<p>The escalators used on the Tube are heavy-duty machines which weigh around 40 tonnes and carry millions of people each year. A typical 15-metre rise escalator has approximately 15,000 moving parts.<br />
The continued modernisation of London Underground is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place. The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80% of journeys made by public transport, cycling or walking by 2041.</p>
<p> </p>
<hr />
<p> </p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The station is laid out on three levels: the ticket hall, mid concourse for the westbound Central line platform and, at the lowest level, the eastbound Central line platform. A bank of two escalators and a staircase links the eastbound platform to the mid concourse, where a further two escalators and staircase moves customers from both platforms to the ticket hall. The escalators in the top section are now due for a mid-life refurbishment to support the safe and reliable operation of the station for customers.</li>
    <li>More details about the Tube's escalator refurbishment programme can be found here: <a href="http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">https://tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-Escalator refurbishment at St Paul’s station starts this week -->

 
 
        
        
            @{ViewBag.Description = "Escalator refurbishment at St Paul’s station starts this week";}
        
        


 