


@{ViewBag.Title = "Explore London on TfL's free Winter Wanders walks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Explore London on TfL’s free Winter Wanders walks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Explore London on TfL’s free Winter Wanders walks</h1>
        <div class="content-page-press-release">
        17 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Walks include #BehindEveryGreatCity 'Suffragette City', a Sculpture Trail and a family walking quiz
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our Winter Wanders are a great way to learn more about our capital and at the same time keep fit and healthy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Explore London on foot with one of TfL's 40 free guided walks next month. Winter Wanders, on Saturday 3 and Sunday 4 February, offers a variety of walks for people of all ages and abilities.</p>
<p>Whether you enjoy learning about cinema, public art or the history of the LGBTQ+ community in London, or discovering some of the 200 open spaces in the Square Mile, there's something for everyone. </p>
<p>They include a specially curated #BehindEveryGreatCity walk, as part of Mayor of London Sadiq Khan's new campaign drive for gender equality across the capital. The Suffragette City walk provides an opportunity to learn more about the history of the Suffragettes' fight for Votes for Women.</p>
<h2>Something for everyone</h2>
<p>February's walks include:</p>
<p><strong>Saturday 3 February 2018</strong></p>
<ul>
    <li><strong>From Prejudice to Pride</strong><br />This walk takes us through the heart of London's modern LGBTQ+ community in Soho following the history, struggles and the challenges individuals have faced to have their gender identity recognised. You will take a look at some bohemian bars and meeting places from the 1930s and learn about the fight for equality.</li>
    <li><strong>The City Sculpture Trail &#45; featuring Sculpture in the City's exhibition, which includes a life-size racehorse, a parachute and other peculiarities</strong><br />This is a new walk for culture vultures and dragon spotters. Tour the acclaimed modern sculpture exhibition in the historic Square Mile where racehorses guard medieval churches, dragon wings rise from the pavement and volcanoes nestle beside shiny skyscrapers.</li>
    <li><strong>Family Favourites &#45; the walk that's also a quiz</strong><br />You'll see the Tube station that Harry Potter and Mr Weasley use, and how it could have made Big Ben fall over, a location visited by Paddington Bear, and lots of stories for fans of Horrible Histories, such as why a king of England wore two shirts when he had his head cut off. Along the way there will be a quiz for the children on the walk and prizes!</li>
</ul>
<p><strong>Sunday 4 February</strong></p>
<ul>
    <li><strong>#BehindEveryGreatCity Suffragette City</strong><br />Much of the Suffragettes' fight for &quot;Votes for Women&quot; took place in central London. Discover where it all happened with a walk through some of Westminster's side streets and meet the brave women who fought for the vote and the politicians who tried to stop them.</li>
    <li><strong>A Challenging Walk, the Greatest Rewards</strong><br />If you're fit and truly want to be rid of the excesses of late December, this is walk for you. It's muddy, steep and strenuous &#45; the pace will be brisk, and the rewards are outstanding. Climb through extensive and dense, 8,000-year-old woodland, discover London's least known ancient monuments, and climb Shooters Hill where if the weather is clear, you can see out to the North Sea.</li>
    <li><strong>Cinema Walk &#45; from Charlie Chaplin to Harry Potter</strong><br />Find out what amazed Daniel Radcliffe during the making of a Harry Potter film; how Daniel Craig's tie proved a problem during the making of Skyfall; how Michael Caine got his name from a cinema in Leicester Square  and much more about the history of cinema and its famous names.</li>
</ul>
<p>Each walk is led by an experienced Walk London guide and range from challenging treks to short strolls. To find out more about these popular walks and book your free place, visit: <a href="http://www.walklondon.org.uk/walks/">http://www.walklondon.org.uk/walks/</a></p>
<h2>Discover London</h2>
<p>Will Norman, Walking and Cycling Commissioner, said: 'Our Winter Wanders are a great way to learn more about our capital and at the same time keep fit and healthy. </p>
<p>'This year's walks cover a fascinating range of topics and I hope they inspire all Londoners to go and explore everything London has to offer.'</p>
<p>Lilli Matson, Director of Transport Strategy said: 'Walking is great way to stay healthy, and discover London on foot for free.</p>
<p>'We are passionate about ensuring walking is an activity for all ages and abilities, and with 40 free guided walks there's certainly something for everyone at this year's Winter Wanders.'</p>
<p><strong><hr />Notes to editors</strong></p>
<ul>
    <li>Images can be found here: <a href="https://flic.kr/s/aHskrDsQhi">https://flic.kr/s/aHskrDsQhi</a></li>
    <li>For more information on walking, including walking Tube maps, visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a></li>
    <li>#BehindEveryGreatCity champions the fact that it is the achievements and contributions of women, from all walks of life, which make cities like London great. It coincides with the 100 year anniversary of the 1918 Representation of the People Act, which gave some women the vote, and was introduced thanks to the campaigning of suffragists and suffragettes</li>
    <li>The Winter Wander walks are delivered by Walk Unlimited, and all walks are accompanied by a trained Walk Leader and experienced Back Marker, and start and finish within easy reach of public transport</li>
    <li>Nearly 50,000 people have attended Walk London's walking weekends since November 2007</li>
    <li>The Walk London network is made up of seven top walking routes that cover more than 390 miles / 628 km and pass through every borough. Maps and guides are available to download at <a href="http://www.tfl.gov.uk/walking#_blank">tfl.gov.uk/walking</a></li>
    <li>Public Health England (PHE) revealed that 41% of the 15.3 million English adults aged 40 to 60 walk less than 10 minutes continuously each month at a brisk pace of at least 3mph</li>
    <li>The seven top walking routes in London cover long distances, but are designed to be completed in sections that are accessible by public transport. The routes are:<br />1.	The LOOP Walk (152 miles / 245 km)<br />2.	The Capital Ring Walk (78 miles / 126 km)<br />3.	The Green Chain Walk (50 miles / 80km)<br />4.	The Lea Valley Walk (18 miles / 29km)<br />5.	The Thames Path Walk (40 miles / 64 km)<br />6.	The Jubilee Walkway (15 miles / 24 km)<br />7.	The Jubilee Greenway Walk (37 miles / 60km)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Explore London on TfL’s free Winter Wanders walks -->

 
 
        
        
            @{ViewBag.Description = "Explore London on TfL’s free Winter Wanders walks";}
        
        


 